[2020-04-15 02:41] yeze322 commented on #2585
@a-b-r-o-w-n I'm not sure if it's a common requirement.
As a Composer user, I asked this feature because I want to share my bot to other cooperators, however, the storage position of a bot is not obvious enough to be found.

A resource link would help, or I heard there will be a 'export to ZIP' feature, it will help as well

[2020-04-15 02:52] #2649 closed

[2020-04-15 02:52] #2647 closed

[2020-04-15 02:53] #2628 closed

[2020-04-15 03:34] #2603 closed

[2020-04-15 03:34] #2633 closed

[2020-04-15 03:34] #2595 closed

[2020-04-15 03:35] #2532 closed

[2020-04-15 05:08] luhan2017 opened #2652 "Got some warnings when start Composer"
## Describe the bug

![image](https://user-images.githubusercontent.com/32191031/79300733-2a133300-7f1a-11ea-982c-3624842ac70b.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

[2020-04-15 05:58] hibrenda commented on #2626
we do have empty check before. so we can evaluate how to address this through the validation before start the bot.

[2020-04-15 06:15] xieofxie commented on #2626
Another possible approach:
1 generate an uuid for each element's id field when created in composer
2 review all error messages generated in SDK to include the id field

Then one could search for that id for the related element.
Or at list do the 2nd step as the computed id is also meaningful.

[2020-04-15 06:43] bgeissler opened #2654 "Proxy support"
## Describe the bug
I can't see any icons nor edit any values within the Electron version of composer. I assume this has something to do with our proxy, but I havn't found any setttings to configure a proxy for the Electron app

## Version
aca7358
Application SHA  test
SDK runtime packages  4.7.0-preview-191208-1

## Browser
- [ ] Chrome
- [ ] Safari
- [x] Firefox
- [ ] Edge

## OS

- [ ] macOS
-

[2020-04-15 07:08] xieofxie opened #2655 "enable resize, enter path of open bot popup"
## Is your feature request related to a problem? Please describe.

 I'm always frustrated when it is too small (only show four items!!) and i can't edit the path (also copy etc.):
![image](https://user-images.githubusercontent.com/2876650/79308198-bb8aa100-7f2a-11ea-94a1-ca8435270dd7.png)

## Describe the solution you'd like

Enable edit path and resize to display more items

## Describe alternati

[2020-04-15 07:34] yeze322 commented on #2079
@cwhitten I, Andy, Dong are in the loop of 2321, we will figure out an event mechanism to support both ScreenReader and plugin system

[2020-04-15 07:41] xieofxie opened #2656 "enable hide left panel and right panel; show scroll bar when can't show all"
## Is your feature request related to a problem? Please describe.

I'm always frustrated when I am comparing two dialogs and I don't have a big monitor or two monitors:

![image](https://user-images.githubusercontent.com/2876650/79309316-add61b00-7f2c-11ea-8496-d2cd3a0c3300.png)

It is very crowded and it should show scroll bars in this situation.

## Describe the solution you'd like

Enable hide

[2020-04-15 07:47] xieofxie opened #2657 "smaller distance for empty route for if, switch etc."
## Is your feature request related to a problem? Please describe.

I'm always frustrated when it takes a lot of space without any element:
![image](https://user-images.githubusercontent.com/2876650/79311590-402bee00-7f30-11ea-8f10-fa09539b5919.png)

## Describe the solution you'd like

Yellow space should follow red one's distance

## Describe alternatives you've considered

## Additional context

[2020-04-15 08:19] xieofxie opened #2658 "can't use 0 in switch"
## Describe the bug

1. Set a case value to integer - 0
2. switch to another action
3. switch back
You will find the integer - 0 disappears and set to boolean

![Ai86sRAnK5](https://user-images.githubusercontent.com/2876650/79314819-ca765100-7f34-11ea-85b2-e084ef92aba8.gif)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

#

[2020-04-15 09:55] zhixzhan commented on #2312
I think we can centralize incoming CRUD request at dialog level (dialog driven), looks like
<img width="412" alt="image" src="https://user-images.githubusercontent.com/49866537/79323361-ade01600-7f40-11ea-9f76-f2bee52e1b4f.png">

When actions.dialog accept a request
add:
[code]
dialog action center would trigger an `add lg action`, same to delete/copy.

[2020-04-15 10:22] xieofxie opened #2660 "word wrap & line numbers should apply to all editors"
- [x] object editors in form
- [x] define trigger modal

[2020-04-15 11:18] hibrenda commented on #2655
@sangwoohaan @mareekuh may need your attention.

[2020-04-15 13:02] yeze322 commented on #2312
Considerations:
1. **Abstraction**: Managing side effects outside editor @boydc2014
    - motivation -  avoid leak of abstraction
    - currently - all action operations are managed by Visual Editor
    - todo - we need improvements to not expose operations to editor directly
2. **Plugin**: Extension packages should handle additional logic @a-b-r-o-w-n
    - motivation - plugin system
    - curren

[2020-04-15 13:27] yeze322 commented on #2312
I suggest we think it in AOP but start from a very basic context + callback pattern
[code]

[2020-04-15 14:02] mareekuh commented on #2655
Please extend the path box to the width of the list view and make it copy/paste and editable.
@benbrown  and @cwhitten  - is this doable?

[2020-04-15 14:08] mareekuh commented on #2636
Are you saying that the name as edited in the settings page is not reflected in the dropdown?
Are you asking for version name to be included in the dropdown?

[2020-04-15 14:10] yeze322 commented on #2657
@DesignPolice Hey Marc, do you know what's our expected pixel margin in design?

[2020-04-15 14:12] mareekuh commented on #2573
Draft Setting pages design is here: https://www.figma.com/file/HLtKaKHctLldivPnzQ7BqQOI/Composer-MI-lotsotings?node-id=3505%3A8449

@a-b-r-o-w-n  would you mind sending @DesignPolice a screenshot of the Build with the LG editor settings in it so we can include this in the design?

[2020-04-15 14:14] mareekuh commented on #2417
@cwhitten  - Sang is working on this. @sangwoohaan, maybe you can list a short update here?

[2020-04-15 14:15] yeze322 commented on #2658
@a-b-r-o-w-n

[2020-04-15 14:20] yeze322 commented on #2656
Scroll bar - duplicated with #2575 , was it fixed?
Hide - follow-up of #987

[2020-04-15 14:24] mareekuh commented on #2092
"[..] It could be a KB/SR only visible link before the editors. @sangwoohaan @mareekuh what do you think?[..]"

@a-b-r-o-w-n - yes, I like that suggestion.
@zxyanliu - would you be able to assist with this?

[2020-04-15 14:24] mareekuh commented on #1938
Do you know if this is done? @vishwacsena s

[2020-04-15 14:27] mareekuh commented on #1896
@cwhitten - who is the best person from the dev team to work with us on this?
PVA is very interested in this also, so we may want to include them when we're a bit further with this.

[2020-04-15 14:29] mareekuh commented on #1695
@DesignPolice - did we settle on an end node indicator?

[2020-04-15 15:11] bobokids opened #2662 "Weird editing behavior when rename a dialog"
## Describe the bug
. In composer, new a trigger - dialog event
. Click the dialog name editbox to change the name "Dialog Started"
. BS to delete the whole name

Result:
when BS and delete the whole dialog name, the name show again.

[2020-04-15 15:14] #2167 closed

[2020-04-15 15:18] mareekuh commented on #1533
@cwhitten can we close this item?
I believe there is another item for the 'Create' or 'New dialog' wizard/dialog that covers this and is more recent and to-the-point. (-:

[2020-04-15 15:21] mareekuh commented on #1726
Postponed to R10 or undetermined?

[2020-04-15 15:24] cwhitten commented on #2654
@bgeissler are you behind a corporate firewall that disallows resolving public resources on the internet over `https`?

[2020-04-15 15:28] mareekuh commented on #1307
I went through this but several are still 'awkward' or not very helpful as I am having a hard time going through all of them through the UI (it's both time consuming and 'error prone' as I seem to continue to miss items).
Is there a way to 'extract' these strings so we can review, refine and discuss them in an excel spreadsheet so that both the SDK and UX perspective are included? Once approved, w

[2020-04-15 15:32] DesignPolice commented on #2657
Wow. always good to see what these can look like in real use... I had not planned for loops getting that deep. Let me get you some numbers or maybe just so gap limits. Thanks @yeze322

[2020-04-15 15:32] bgeissler commented on #2654
Yes, I'm behind a corporate firewall, but using our proxy I should (hopefully) be able to load the required data. I just don't know how to configure the Electron app to use our proxy or is this done automatically?

[2020-04-15 15:37] mareekuh commented on #1003
This has come up also in discussions with PVA. They have the following set, which looks like a good start:
Age
Age of a person, place, or thing, extracted as a number
Prebuilt

Boolean
Positive or negative responses, extracted as a Boolean
Prebuilt

City
City names, extracted as a string
Prebuilt

Color
Primary colors and hues on the color spectrum, extracted as a string
Prebuilt

Continent
Contin

[2020-04-15 15:45] cwhitten commented on #2654
We do not expose currently this ability. This may take some investigation before we can resolve this. You're asking for the application to accept a proxy url to be used for all external network calls?

[2020-04-15 15:48] cwhitten commented on #2656
@xieofxie what viewport dimensions are you constrained to? can you use the browser tool to zoom the page out?

[2020-04-15 15:51] DesignPolice commented on #1695
I did a lot of different options, Sang selected just the plain Node box in gray with End this dialog in it. Any lines that came out of an End Dialog would look like this... I was unclear if or why that interaction would exist, if it ends then it ends... if it keeps going then delete the end. IDK

![Screen Shot 2020-04-15 at 8 49 40 AM](https://user-images.githubusercontent.com/45223620/79358518-25

[2020-04-15 16:03] cwhitten commented on #2636
Based on the manifest schema, a best practice could be that if you use two different manifest versions of the same skill in the same bot, the manifest author would give them different names: `Email Skill - v1 manifest`, `Email Skill - v2 manifest`. They would show up in the dropdown as such.

I'm currently working on a way to override the given Name from an authored manifest used in a bot in the S

[2020-04-15 16:07] a-b-r-o-w-n commented on #2573
@mareekuh done.

[2020-04-15 16:47] cwhitten commented on #2636
![Screen Shot 2020-04-15 at 9 46 10 AM](https://user-images.githubusercontent.com/1156704/79364281-ff1ae600-7efd-11ea-954e-fd5599e6c483.png)

![Screen Shot 2020-04-15 at 9 46 54 AM](https://user-images.githubusercontent.com/1156704/79364334-1063f280-7efe-11ea-9903-0ba9541cb99d.png)

[2020-04-15 16:57] DesignPolice commented on #2657
@yeze322 I have looked at this a bit. I think our magic number is going to be 32px.

I made a comp, I think if we leave 32 on each side of a line and nodes (not counting the + ) we should have a easy setting - there will be some strange looking spots if they have loops that go from the top to the bottom hopefully not to many. I think we can continue to collect use cases and see what is happening.

[2020-04-15 17:05] DesignPolice commented on #2573
@a-b-r-o-w-n didn't get it. Can you just post here or email to Bostian@allovus.com

[2020-04-15 17:07] a-b-r-o-w-n commented on #2573
![image](https://user-images.githubusercontent.com/3619060/79366330-da743d80-7f00-11ea-894e-84351a7396d2.png)

[2020-04-15 17:25] mareekuh commented on #2375
@sangwoohaan - could you take a pass at what a 'goto' node would look like?
and @DesignPolice - when Sang is done, please take a visual pass to make it fit in with the Fluent language.

[2020-04-15 17:36] benbrown commented on #2450
this is in progress!

[2020-04-15 17:38] mareekuh commented on #974
Suggested solution:
- Add instructional text directly below the title:
Provide object property to be retrieved from the webservice.
- Add intelisense
- In 'watermark' text inside the field,  include an example that includes " .content"

@zxyanliu - please review copy above and provide recommendations for improvement

[2020-04-15 17:44] mareekuh commented on #2657
Looks good to me (-:

[2020-04-15 17:50] mareekuh commented on #2415
@DesignPolice - could you please include a visual solution for this a part of the overall design language for Nodes.

[2020-04-15 17:56] mareekuh commented on #2036
Please leave 'All'  in the navigation pane and do not change to 'Common'. Common was a placeholder while we were not able to show a view across all dialogs, including 'templates'.
In the 'used in' column, LG templates that are used by 'all' (currently part of 'common') please include 'All'.
LG templates that are specific to dialogs, please list the names of the specific dialogs in the 'used in' co

[2020-04-15 18:05] corinagum commented on #2026
PR above is a partial fix. @liweitian could you link the bug you filed with the fabric team on this issue for tracking?

[2020-04-15 18:20] zxyanliu opened #2664 "Error in `Send an HTTP request` action"
## Describe the bug
![http-error](https://user-images.githubusercontent.com/32497439/79372302-a69e1580-7f0a-11ea-8334-5bad049b2b15.gif)

## Version
Mater branch.

## Browser
- [x] Chrome

## OS
- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Excess external resources'
2. Click on 'Send an HTTP request'
3. See error

[2020-04-15 18:25] cwhitten commented on #2664
duplicate of https://github.com/microsoft/BotFramework-Composer/issues/2651

[2020-04-15 18:25] #2664 closed

[2020-04-15 20:38] zxyanliu commented on #974
@mareekuh
This is my suggestion on this particular thread:

![UX-http-request](https://user-images.githubusercontent.com/32497439/79385735-ed493b00-7f1d-11ea-954e-4c8347b0af98.png)

I also double checked the _Learn more_ is pointing to the [Composer doc](https://docs.microsoft.com/composer/how-to-send-http-request) on this topic.

![image](https://user-images.githubusercontent.com/32497439/7938587

[2020-04-15 22:43] DesignPolice commented on #2325
okay - well with a no-go on the custom icons... In honor of the excitement we all have to get a box from UPS or Fedex right now - that can contain any thing we can imagine. #skillbox

Same colors as above.

https://www.figma.com/file/Ux0vucOvaLL2xH22WpFgV65X/MarcB_Composer-UI?node-id=5564%3A0

![Screen Shot 2020-04-15 at 3 40 53 PM](https://user-images.githubusercontent.com/45223620/79395980-b54af

[2020-04-15 22:53] cwhitten commented on #2651
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2659

[2020-04-15 22:53] #2651 closed

[2020-04-15 23:13] sangwoohaan opened #2667 "Can't select certain action nodes"
After pulling the latest commit in the master branch, all the prompt nodes, as well as condition nodes, have become unselectable.

[2020-04-15 23:53] zxyanliu commented on #2092
@mareekuh
I would be happy to help. I was not aware of this keyboard usability issue and it seems to be important to some users.
If we have the keyboard shortcut combo, I would be more than happy to add them to the current [Composer documentation](https://docs.microsoft.com/en-us/composer/). Please let me know.

[2020-04-16 00:27] boydc2014 opened #2668 "Better grouping bot setting"
We probably need to group the bot settings betters moving forward. It's not something we were paying too much attention, while we are adding and designing features like skills, runtime, related.

So for examples, today we serialized with key `skill`: {} for connected skills, and probably skillHostEndpoint as a separate key.

Also in the design of custom runtime, we are talking about two fields lik

[2020-04-16 00:32] corinagum commented on #2033
Belated update: there wasn't a consensus on how to resolve this problem, so for now we will use stopgap solutions and continue those discussions on how to update the Filter Dialog component with a good a11y experiences.
@lei9444 thank you for working on this, and my apologies for the late update.

[2020-04-16 00:55] mareekuh commented on #974
If we just had 2 lines of instructional text + a link to more info (vs 4 rows), what would it be?

[2020-04-16 01:47] zxyanliu commented on #974
Like this?

![UX](https://user-images.githubusercontent.com/32497439/79405399-2a76f280-7f49-11ea-8d81-658b60151df0.png)

The _Learn more_ link is already in the same properties panel on top, which might be sufficient.

[2020-04-16 02:26] xieofxie commented on #2656
@cwhitten my monitor is only 24" 1080p. If I want to see two columns of elements like this:

![image](https://user-images.githubusercontent.com/2876650/79407926-b2521080-7fcc-11ea-902c-ac8d9012fc78.png)

I could use 75% but the text is very small and hard to see clearly

[2020-04-16 02:35] luhan2017 commented on #2668
I like your idea, but I think it is not necessarily to add a group key there. We can just group them by location. Later, we will have a new setting page. We could group them by the UX rather than add extra group key. How do you think?

[2020-04-16 02:39] hibrenda commented on #2656
Just showed the scenario in today's stand up. resizing for each panel could not solve the issues. This mainly focus on each panel (navigation, visual, form) could be hide & pinned

[2020-04-16 02:40] hibrenda commented on #2656
@sangwoohaan @mareekuh for awareness

[2020-04-16 02:49] hibrenda commented on #2655
@boydc2014 as well

[2020-04-16 02:54] #2658 closed

[2020-04-16 03:03] yeze322 commented on #2668
How do we consider plugins config? For example, luis is already a plugin and qna will be a new plugin

[2020-04-16 03:05] yeze322 commented on #2667
@alanlong9278 pls have a look

[2020-04-16 03:20] yeze322 commented on #2606
@sangwoohaan I tend to no change the height of the node block, alternatively, we provide a scroll bar

[2020-04-16 03:27] mareekuh commented on #974
How about:

"This property will contain the result of the HTTP request as deserialized object (JSON) or string and includes: statusCode, reasonPhrase, Content and Headers."

Hmm that's long too. But maybe less error/guess-prone for the user?

[2020-04-16 03:28] boydc2014 commented on #2312
Thank @yeze322 for thoughtful considerations, and to @zhixzhan let dialog directs the operations is good.

From a high level, there are two principles i'm thinking it would be great if we can hold

### 1  Make editors care as less as possible, call APIs as less as possible

In that sense, LG and LU related update should be managed totally as `side effect` and totally transparent to editors, if pos

[2020-04-16 03:28] xieofxie commented on #1055
Although it is under discussion, please allow me to reopen this.
Also add tag to indicate it is required by skills team.

[2020-04-16 03:41] KayMKM opened #2670 "support variable auto completion"
## Is your feature request related to a problem? Please describe.

Now lg editor can only auto complete prebuilt functions. I hope composer can support variable auto completion in lg editor and expression editor. After I defined many variables, it is hard to remember all of the name.

## Describe the solution you'd like

support variable auto completion in lg editor and expression editor

## Descr

[2020-04-16 03:43] yeze322 commented on #2560
After several iterations, it would be much easier to support all those SDK kinds.

@yeze322 I can help on Visual Editor;
updating sdk.schema will automatically enable them in Form Editor.

One more thing is we need to group the popup menu, refs #2578 . If possible, we need a search box as well.

[2020-04-16 03:45] liweitian commented on #2026
https://github.com/microsoft/fluentui/issues/12701. He gives a "solution" https://codepen.io/slimemold/pen/rNOxrjd?editors=0110. But we go to row first then go inside to cell. Is this behavior acceptable? You can try it. We are discussing issue and requirements.

[2020-04-16 03:46] KayMKM opened #2671 "Support dialog navigation status saving"
## Is your feature request related to a problem? Please describe.

When I am editing a long and complex dialog, once I navigate to other page and return the dialog. It always returns to the begin of dialog. It is hard to find the last editing position.

## Describe the solution you'd like

I hope composer can save the editing status when navigate to different dialog.

## Describe alternatives you'

[2020-04-16 03:54] hibrenda commented on #2671
@boydc2014 @lei9444 for your awareness

[2020-04-16 03:54] hibrenda commented on #2670
@boydc2014 for your awareness

[2020-04-16 04:14] yeze322 commented on #2312
@boydc2014 Inspired by AOP, we can also consider introducing decorators in TS.

Pub-sub model can solve side effect problems, but in some cases, we need middlewares or `@before` processor + `@after` processor.

As an example, when copying a SendActivity, current logic is:
[code]
To decouple LG effects, it could be
[code]
The problem in a stream pattern is, plugins have no reason to subscribe the e

[2020-04-16 04:15] yeze322 commented on #2312
@boydc2014 yes, my high priority in R9 is just fixing the LU resource behavior, I will use a traditional callback pattern to achieve that

[2020-04-16 04:17] yeze322 commented on #2209
@lei9444 what's our status of this issue? If it's not started yet, I can pick it

[2020-04-16 04:18] yeze322 commented on #2268
@hibrenda I move it to R10 to align with the timeline of #2312

[2020-04-16 05:11] cwhitten commented on #2325
You want the Icon in the body of the node opposed to the header? currently icons in the nodes are in the header (next to Bot Skill)

[2020-04-16 05:38] bgeissler commented on #2654
Yes, either the application should accept a proxy url or use the default proxy setting from the os, like Firefox is doing it for example

[2020-04-16 06:06] yeze322 commented on #2667
Broken by #2638
![image](https://user-images.githubusercontent.com/8528761/79352764-d7af3200-7f6c-11ea-9962-35a15740f5ce.png)

[2020-04-16 06:13] yeze322 commented on #2667
@cwhitten I found a trick in DOM order:
- elements declared **before** `<svg />` are unreachable
- elements declared **after** `<svg />` are reachable

I will fix it

[2020-04-16 07:50] yeze322 commented on #2395
To be compatible with plain text copy, Zhixiang and I figured out another format when serialzing action with LU resources
[code]

[2020-04-16 08:20] hibrenda commented on #2455
close it for now. if hit this again, feel free to open.

[2020-04-16 08:20] #2455 closed

[2020-04-16 08:51] KayMKM opened #2675 "number in settings shouldn't be parsed as string"
## Is your feature request related to a problem? Please describe.

I added a number property in settings like:
[code]
When I try to use it in dialog, it is parsed to a string. So I have to use it by `int(settings.DisplaySize)`.

## Describe the solution you'd like

the number in settings should be parsed to a number

## Describe alternatives you've considered

## Additional context

[2020-04-16 09:13] hibrenda commented on #2675
https://github.com/microsoft/botbuilder-dotnet/issues/3698

[2020-04-16 10:48] Mr-PrashantShinde commented on #1877
Hi @luhan2017 and @hibrenda ,

Sorry for the delay.

Including my Luis authoringKey and endpoingKey in  appsettings.json resolved it.

[2020-04-16 11:26] liweitian commented on #2012
@corinagum I updated UI last week. I think the issue here is solved.

[2020-04-16 11:58] liweitian commented on #2127
Hi @DesignPolice, can you have a look on this? We probably need another color.

[2020-04-16 13:23] 0x454447415244 commented on #2378
@hibrenda  allowing interruption for the input prompt will allow triggering intents from the main dialog. This is not what I'm asking for.

I need the ability to have child intents. For example in a chat bot designed for a hotel you could have 2 intents: Reservation and Room Service. Under Room Service intent I should be able to define sub/child intents, like for example: Cleaning, Repair, Food, e

[2020-04-16 13:25] #2667 closed

[2020-04-16 13:41] cosmicshuai opened #2680 "LG editing: card suggestion should suggest fields and possible values"
when editing structure LG, the editor should be able to do auto-suggestions for fields of current struct and possible values.

[2020-04-16 14:27] liweitian opened #2684 "[Accessibility][Screen Reader, create bot dialog]: screen reader does not confirm once the option is choosed"
1. go to home page
2. click new
3. select create from scratch or create from template option, but the screen reader does not announce it.

[2020-04-16 15:20] DesignPolice commented on #2127
oh my... yes you are correct.

I will try and give you some guidance on that by the end of my day... it is a very full one.

thanks M

[2020-04-16 15:25] DesignPolice commented on #2325
Oh my bad - I just looked a few that had the icon down there. Yes would rather have it up top...

and Marieke said that the PVA Team is using this icon in a "similar fashion" soooo lets do this.

![Screen Shot 2020-04-16 at 8 23 58 AM](https://user-images.githubusercontent.com/45223620/79474811-bb86b180-7fbb-11ea-946e-f734e08ec699.png)

[2020-04-16 15:52] a-b-r-o-w-n opened #2687 "update to latest azure cli api"
`az group deployment` is being deprecated in favor of `az deployment group`.

[2020-04-16 15:59] a-b-r-o-w-n commented on #2675
Closing this since it is being tracked in https://github.com/microsoft/botbuilder-dotnet/issues/3698

[2020-04-16 15:59] #2675 closed

[2020-04-16 17:08] DesignPolice commented on #2127
@cwhitten just to take verify.

[2020-04-16 17:10] beyackle commented on #2594
Issue #2635 and its fix (PR#2645) are related to this one, where the icon at the head of the Notification  row becomes a single-click way to activate it (double-clicking the whole row still works). I could add that behavior to this Open dialog as well as the Recent Bots list on the home page if that's something we decide should be done.

[2020-04-16 17:12] beyackle commented on #2082
The fix for #2050 is out and merged, so this should be all clear to proceed with the announcements on executing a command.

[2020-04-16 17:22] corinagum commented on #2026
@liweitian thanks for the link. Yes, I think this is a great solution. I don't see any problems with it. :)

[2020-04-16 17:25] corinagum commented on #2012
@liweitian I agree! Thank you!

[2020-04-16 18:50] tonyanziano commented on #2226
@sangwoohaan do you happen to know the name of the icon in the app header? I can only find a similar icon with the direction of the arrow reversed on the Fabric / Fluent website:

![image](https://user-images.githubusercontent.com/3452012/79494803-745ae980-7fd8-11ea-8c86-e2d8e20dd6fe.png)

[2020-04-16 18:58] DesignPolice commented on #2226
Hey Tony
I don't think it makes a big difference on the direction, but here is the icon.

![Screen Shot 2020-04-16 at 11 57 28 AM](https://user-images.githubusercontent.com/45223620/79495452-740f1e00-7fd9-11ea-8fe3-f09793e3f601.png)

[2020-04-16 18:59] DesignPolice commented on #2226
https://www.iconcloud.design/home/FULL%20MDL2%20Assets/Fabric%20MDL2%20Assets/e81c

[2020-04-16 19:18] TylerOdenthal commented on #2218
Did you guys push this update because I'm still getting this when I'm trying to publish from Composer.

I was using only language generation until yesterday, and the moment I added LUIS to my bot in composer I am unable to deploy. It seems my whole project can't redeploy even though I removed all of my LUIS intents in my bot.

Pretty rough bug, as I can't deploy to Teams right now until this is fi

[2020-04-16 19:27] tonyanziano commented on #2226
Sounds good! Thanks

[2020-04-16 20:03] TylerOdenthal opened #2690 "bf luis:build does not exist"
## Describe the bug

I have been developing on Composer for a couple week and am building out a pretty comprehensive HR bot. **The issue is that when I added LUIS to my bot in composer, I am unable to publish to Azure.**

Up until this point I was just using language generation and setting up my bot architecture. I am now to the point where I need to parse entities in conversation for slot filling

[2020-04-16 23:10] TylerOdenthal commented on #2690
Removed LUIS Auth Key from appsettings.Deployment.JSON

I am able to deploy my bot to Azure again. I will refrain from using LUIS at this time until I get a reply.

![IssueResolved](https://user-images.githubusercontent.com/63730511/79515174-c1e94d80-7ffc-11ea-8b64-d787ac16893a.JPG)

[2020-04-16 23:14] beyackle commented on #2054
Is this problem now fully fixed and we can move this into Waiting for Verification, or is there more?

[2020-04-16 23:18] sangwoohaan opened #2692 "Tabbing / clicking / returning out of a number field round your input"
1. in Set properties action node, you are adding a property
2. Set the type of a value to number, and type any number, say 0.4
3. Tab, return, or clicking out of that field round 0.4 to 0.

The same behavior occurs in Switch node as well. You have to use the spin button to set a number value.

[2020-04-16 23:46] #1877 closed

[2020-04-16 23:53] sangwoohaan commented on #2578
I think Ze's idea works. Since this is a temporary solution until we have a more schema-driven way of adding custom schemas in R10, putting custom schemas under the 'custom' menu sounds fair to me with the ability for advanced users to customize that.

[2020-04-17 00:02] cwhitten commented on #2355
woot! nice job

[2020-04-17 00:02] #2355 closed

[2020-04-17 02:38] cwhitten commented on #2648
we should add this back

[2020-04-17 03:02] mareekuh commented on #2578
Especially if temporary, I still think adding it as a menu item vs tucking under custom is fine with the option to add to any of the other menus if the author chooses to do so. Given we’re open source, giving those that build on our system some prime(ish) real estate seems right and more encouraging to invest and share/improve our product is worth it IMO

Regards,
Marieke
_________________________

[2020-04-17 05:24] boydc2014 commented on #2451
Hey @benbrown , i'm about to start add samples through plugin, and i'm thinking might take this together with a similar method to AddSample, like AddSampleTemplate, what do you think

[2020-04-17 07:37] alanlong9278 commented on #2082
@beyackle  the announcements on excuting commands will be added together in #2312

[2020-04-17 08:13] cxbuilders opened #2695 "Variables are not parsed in the Url of an Http Request"
## Describe the bug

When using a variable in the Url field of an HTTP request, like so;
${dialog.apiUrl}
The variable is not parsed. The help icon of the Url field says that data binding is supported.

## Version

4.7.0-preview-191208-1

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ X] Edge

## OS

- [ ] macOS
- [ X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior

[2020-04-17 08:44] xieofxie opened #2696 "goto first trigger(i.e. BeginDialog) after click a dialog"
## Is your feature request related to a problem? Please describe.

Currently we just open the default view

Or at least when clicking from begin dialog action

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-04-17 09:31] garypretty commented on #2648
Yep - just hit this and thought it had hung :)

[2020-04-17 09:40] luhan2017 commented on #2695
@cxbuilders , I think that is because the version you are using is too old. could you check the latest master, you can refer to the HttpRequest step in the DialogActions template:

![image](https://user-images.githubusercontent.com/32191031/79555596-71442400-80d2-11ea-99d3-ea7372f1724e.png)

[2020-04-17 09:48] garypretty opened #2697 "Update bot runtime project for telemetry configuration"
Changes are required for the bot runtime in order to have telemetry wired up by default.

* Implement the default steps for wiring up telemetry. Doc for telemetry wire up with more details is here -> https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry?view=azure-bot-service-4.0

* Use new DialogManager extension method UseTelemetry() to ensure telemetry client is made availabl

[2020-04-17 09:48] garypretty commented on #2697
@cwhitten @vishwacsena - I will pick this work up initially, but will likely need to reach out for some validation / assistance

[2020-04-17 10:47] hibrenda commented on #2627
https://recordit.co/OnmwhqIfI1 sounds like it is still slow on my desktop. I am using the latest master.

[2020-04-17 11:14] boydc2014 commented on #2312
I did't get why a Pub-Sub system won't work in your case of copy LgActions, i would image

[code]

I think this should work  if we take care of the rest of lg\lu.

Also, i don't know why "it has no reason that plugin subscribe to events", let plugin subsribe to events is something very common, like vscode, all the extensions in vscode has certain capabilities to subscribe to a wide range of events

[2020-04-17 11:38] zhixzhan opened #2699 "Unify dialog CRUD on shell action center."
## Is your feature request related to a problem? Please describe.

Part of #2312 , to support dialog-driven lg/lu resource maintains. this issue focus on dialog  CRUD interface design.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-04-17 11:39] zhixzhan commented on #2699
# Dialog CRUD interface

By splitting dialog operation from one `saveData` method to servral part. Delta data on dialog change and change type can be traced, operations on related lg/lu resource would be possiable.

Current visual editor handler crud logic exist on file
'Composer/packages/extensions/visual-designer/src/utils/jsonTracker.ts'
we can leverage it and move some implementation to shell

[2020-04-17 11:42] zhixzhan commented on #2699
if we keep use `saveData`, the delta data can be calculated by a JsonDiff method, it works for Add/Delete/Update

[2020-04-17 12:08] cxbuilders commented on #2695
Works now!

[2020-04-17 12:08] #2695 closed

[2020-04-17 13:08] garypretty commented on #2617
We are now tracking the changes for this in #2697.  This change is under development and should make the next release. Thanks for reporting @kenakamu .

[2020-04-17 13:08] #2617 closed

[2020-04-17 13:12] cwhitten commented on #2470
Let's make sure to include @garypretty 's efforts in this workstream around serializing some telemetry specific information to the settings file and the runtime template here: https://github.com/microsoft/BotFramework-Composer/issues/2697

[2020-04-17 16:56] benbrown commented on #2451
@boydc2014 this is similar to how I did the `addRuntimeTemplate` too.  Take a look at that for both of these.

[2020-04-17 16:57] benbrown commented on #2563
What would the `runtimes` field be holding?

[2020-04-17 17:03] TylerOdenthal commented on #2690
I believe that this will solve my problem as I don't have LUISGen installed, but now I'm running into a new issue.

dotnet tool install --global LUISGen --version 2.2.0

`C:\Users\Tyler\Desktop\ChatWorks>dotnet tool install --global LUISGen --version 2.2.0
error NU1100: Unable to resolve 'luisgen (>= 2.2.0)' for '.NETCoreApp,Version=v3.1'.
error NU1100: Unable to resolve 'luisgen (>= 2.2.0)' for '

[2020-04-17 17:05] a-b-r-o-w-n commented on #2406
@yeze322  let's consider this case during the unified api work.

[2020-04-17 17:06] a-b-r-o-w-n opened #2703 "[adaptive form] add loading indicator when dialog data has not been loaded"

[2020-04-17 17:09] a-b-r-o-w-n commented on #2627
@hibrenda I do not see any perfomance issues. Can you share the bot you have opened with me? I have a suspicion that it has something to do with the size of the lg files being edited.

[2020-04-17 17:32] #2320 closed

[2020-04-17 17:50] cwhitten commented on #2648
https://github.com/microsoft/BotFramework-Composer/pull/2702

[2020-04-17 17:50] #2648 closed

[2020-04-17 17:57] tonyanziano commented on #2226
Functionally, I believe this feature to be complete. Here's what I have:

![update-available](https://user-images.githubusercontent.com/3452012/79599290-17c00300-809a-11ea-8635-dcdd1ca2c364.PNG)
![update-failed](https://user-images.githubusercontent.com/3452012/79599291-18589980-809a-11ea-8173-7e0a957b9bbe.PNG)
![update-progress-1](https://user-images.githubusercontent.com/3452012/79599292-18f1300

[2020-04-17 19:29] #2684 closed

[2020-04-17 22:07] cwhitten commented on #2428
https://github.com/microsoft/BotFramework-Composer/pull/2704

[2020-04-17 22:07] #2428 closed

[2020-04-17 22:07] cwhitten commented on #2430
https://github.com/microsoft/BotFramework-Composer/pull/2704

[2020-04-17 22:07] #2430 closed

[2020-04-17 22:08] cwhitten commented on #2627
@hibrenda closing this again as this isn't a side-effect to typing, but a side-effect of the lg parser. cc @zhixzhan

[2020-04-18 13:35] boydc2014 commented on #2699
It's good to see, we can separate the dialog operation discussion from how dialog\lg\lu work together.

Talking about this specific issue, i get the benefits from have a fine grained dialog API, it would help clarify the change type, perhaps also make undo\redo easier, basically when your interface is more fine-grained, you will have more controls.

But like you also mentioned, it's not the only w

[2020-04-18 15:30] InnoraG opened #2705 "FacebookAdapter [OnTurnError] unhandled error : Value cannot be null. (Parameter 'ConversationState')"
## Describe the bug

-Added Microsoft.Bot.Builder.Adapters.Facebook on the runtime as per https://github.com/microsoft/botbuilder-dotnet/tree/master/libraries/Adapters/Microsoft.Bot.Builder.Adapters.Facebook
and https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/61.facebook-adapter
-Bot runs with no error and facebook webhook subscription validate well tested wit

[2020-04-19 06:10] zxyanliu commented on #974
@mareekuh yeah, this might be too long. I find the current design to include the help text on the property field is helpful. I don't have a better idea except pointing users to the [doc](https://docs.microsoft.com/en-us/composer/how-to-send-http-request#add-a-send-an-http-request-action).

[2020-04-19 15:41] liweitian commented on #2020
@corinagum This should be solved due to UI changed

[2020-04-20 01:57] xieofxie opened #2707 "support action wrapper"
## Is your feature request related to a problem? Please describe.

There was an [issue](https://github.com/microsoft/botbuilder-dotnet/issues/3738) before and further thought indicates this should be a composer feature:

I just want to wrap actions to make my code more compact and reusable. The wrapped one should share lu, lg, dialog variables and actually they are in the same dialog but in differ

[2020-04-20 03:48] timenick opened #2709 "Responding with cards sample no renderer for adaptive card"
## Describe the bug
Choose adaptive card self, it works. But when you select all cards, the last card will show No renderer for this attachment.

## Version

composer stable

## Screenshots

![image](https://user-images.githubusercontent.com/3319068/79712114-9320ef00-82fc-11ea-8ac7-c9e4f8fa7c7e.png)

![image](https://user-images.githubusercontent.com/3319068/79712132-a92eaf80-82fc-11ea-9c6e-3d60e7

[2020-04-20 04:56] mareekuh commented on #974
imo better long(ish) than none... So what's the long(ish) text your propose?

[2020-04-20 05:53] hibrenda commented on #2680
addressed in #2681

[2020-04-20 05:53] #2680 closed

[2020-04-20 06:38] hibrenda commented on #2627
[todoskill.zip](https://github.com/microsoft/BotFramework-Composer/files/4501600/todoskill.zip)
Attached the bot asset. Synced with @zhixzhan this also reproduced in his desktop.
Comparing the editing performance in lg all up view, inline editing is slower. Just FYI.
@boydc2014 as well.

[2020-04-20 07:17] zidaneymar commented on #2705
@InnoraG Hi, based on the log, I think you should add UserState and ConverstaionState to your bot adapter as well.
Could you please try this code?
[code]

[2020-04-20 08:38] zhixzhan commented on #2627
@hibrenda I committed a patch PR to improve this by adding debounce to call update, you can have a try.

[2020-04-20 09:20] zidaneymar commented on #2690
@TylerOdenthal Hi, actually you need to npm install @microsoft/botframework-cli command line package to enable bf:luis command which would be used in this script.
And if you remove the luis authoring key and luis authoring region in the appsettings, the script will not try to train the luis models based on your *.lu files.
So if you have any luis features inside your bot, I suggest your following

[2020-04-20 10:20] boydc2014 opened #2715 "Hover in new bot wizzard looks weird"
## Describe the bug

![image](https://user-images.githubusercontent.com/3829387/79741307-9aafba80-8333-11ea-9608-410e6213e980.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

[2020-04-20 10:27] liweitian commented on #2127
Hi @DesignPolice, is there anything updated? BTW we have changed the UI, we just need to take care of the two buttons showed in the first picture above.

[2020-04-20 12:31] hibrenda commented on #2378
[EchoBot-1.zip](https://github.com/microsoft/BotFramework-Composer/files/4503456/EchoBot-1.zip)

No. The trigger intent in child dialog can also be triggered.  see above sample code.

[2020-04-20 12:33] ashish315 commented on #2083
As checked and verified on below environment, the issue is fixed now. So, we are closing the issue.

**Test Environment**
Browser: Microsoft Edge Dev {Version 83.0.467.0 (Official build) dev (64-bit)}
OS build: 2004 (19588.1000)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequisite Here**](https://github.com/microsoft/BotFramework-Composer)

[2020-04-20 12:33] #2083 closed

[2020-04-20 12:52] ashish315 commented on #2140
As checked and verified on below environment, the issue is fixed now. So, we are closing the issue.

**Test Environment**
Browser: Microsoft Edge Dev {Version 83.0.467.0 (Official build) dev (64-bit)}
OS build: 2004 (19588.1000)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequisite Here**](https://github.com/microsoft/BotFramework-Composer)

[2020-04-20 12:52] #2140 closed

[2020-04-20 12:53] ashish315 commented on #2133
As checked and verified on below environment, the issue is fixed now. So, we are closing the issue.

**Test Environment**
Browser: Microsoft Edge Dev {Version 83.0.467.0 (Official build) dev (64-bit)}
OS build: 2004 (19588.1000)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequisite Here**](https://github.com/microsoft/BotFramework-Composer)

[2020-04-20 12:53] #2133 closed

[2020-04-20 13:18] ashish315 commented on #2130
@beyackle  As checked and verified on below environment, the issue is not fixed. I downloaded below Master build file last updated on 18th April.

**Test Environment**
Browser: Microsoft Edge Dev {Version 83.0.467.0 (Official build) dev (64-bit)}
OS build: 2004 (19588.1000)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequisite Here**](https://git

[2020-04-20 13:25] ashish315 commented on #2122
@beyackle  As checked and verified on below environment, the issue is still repro. I downloaded below Master build file last updated on 18th April.

**Test Environment**
Browser: Microsoft Edge Dev {Version 83.0.467.0 (Official build) dev (64-bit)}
OS build: 2004 (19588.1000)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequisite Here**](https://g

[2020-04-20 13:28] ashish315 commented on #2117
As checked and verified on below environment, the issue is fixed now. So, we are closing the issue.

**Test Environment**
Browser: Microsoft Edge Dev {Version 83.0.467.0 (Official build) dev (64-bit)}
OS build: 2004 (19588.1000)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequisite Here**](https://github.com/microsoft/BotFramework-Composer)

[2020-04-20 13:28] #2117 closed

[2020-04-20 13:32] andreatosato commented on #1886
@vishwacsena Can you create docs for Multiple LUIS and QnA?
I need this feature on Bot Framework Composer, but in LUIS in not clear how to do.
I saw this [docs](https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/deploy-assistant/web/7-create-dispatch-model/), but it's not clear how to use .cs file in the composer generated solution.

[2020-04-20 13:35] ashish315 commented on #2114
@corinagum As checked the issue is fixed as the error message is short now. So, basically the opened issue is fixed. So, HCL is closing the bug.
But in order to fix the issue, now the error message is not clearly visible as last word of the error message gets trimmed and their is no way to expand the error message. This issue creates problem for normal user. So, now its upto you fix this new issue

[2020-04-20 13:35] #2114 closed

[2020-04-20 13:41] andreatosato commented on #1886
@vishwacsena @cwhitten
Can I use this approach also in multi-language LUIS app?
Must I define multiple LUIS app?
Must I update manually all LUIS except default set in Composer?

[2020-04-20 14:24] cwhitten commented on #2696
This is a deliberate design decision. @sangwoohaan

[2020-04-20 14:26] #2690 closed

[2020-04-20 15:23] #2624 closed

[2020-04-20 15:24] #2499 closed

[2020-04-20 15:24] #2596 closed

[2020-04-20 15:52] DesignPolice commented on #2127
Hi @lei9444 I will work on that this morning :-)))))))

[2020-04-20 16:43] beyackle commented on #2130
Okay, I've gone back and double-checked this, and while it does correctly read the caption when the field is entered, there's still a minor bug where entering a name into the first part of an object field and then hitting Enter without entering a value will advance to a new row (as intended), but then the SR reads nothing out for the new row. So while this issue is mostly fixed, that one bug still

[2020-04-20 16:51] #2580 closed

[2020-04-20 16:53] #2613 closed

[2020-04-20 18:11] Sbardo93 commented on #1640
Hi all,
I've found the trick.. simply change this trigger condition "#Intent.Score > 0.7" to "#Intent.Score*100 > 70".
I have set the locale to Italian and the trigger works!

[2020-04-20 18:58] #2395 closed

[2020-04-20 18:58] #2415 closed

[2020-04-20 18:58] #2416 closed

[2020-04-20 18:58] #2417 closed

[2020-04-20 18:58] #2422 closed

[2020-04-20 18:58] #2448 closed

[2020-04-20 18:58] #2478 closed

[2020-04-20 18:58] #2527 closed

[2020-04-20 18:58] #2529 closed

[2020-04-20 18:58] #2534 closed

[2020-04-20 18:58] #2537 closed

[2020-04-20 18:58] #2543 closed

[2020-04-20 18:58] #2545 closed

[2020-04-20 18:58] #2606 closed

[2020-04-20 18:58] #2626 closed

[2020-04-20 18:58] #2655 closed

[2020-04-20 18:58] #2656 closed

[2020-04-20 18:58] #2657 closed

[2020-04-20 18:58] #2670 closed

[2020-04-20 18:58] #2671 closed

[2020-04-20 18:58] #2707 closed

[2020-04-20 18:59] #1055 closed

[2020-04-20 18:59] #1650 closed

[2020-04-20 18:59] #1660 closed

[2020-04-20 18:59] #2008 closed

[2020-04-20 18:59] #2380 closed

[2020-04-20 18:59] #2381 closed

[2020-04-20 18:59] #2383 closed

[2020-04-20 19:00] cwhitten commented on #2426
addressed via https://github.com/microsoft/botbuilder-dotnet/pull/3624

[2020-04-20 19:00] #2426 closed

[2020-04-20 19:01] cwhitten commented on #2427
addressed via https://github.com/microsoft/botbuilder-dotnet/pull/3624

[2020-04-20 19:01] #2427 closed

[2020-04-20 19:56] garypretty commented on #2697
This is now being addressed in PR #2679

[2020-04-20 19:57] cwhitten commented on #2654
@tonyanziano tagging you to take a look at this after the auto-update pieces land.

[2020-04-20 19:58] cwhitten commented on #2473
Hi @EPinci thanks for your patience.

When https://github.com/microsoft/BotFramework-Composer/pull/2572 lands in the `master` branch this behavior will come back into the app. We've diverged from `stable` a bit while landing new features and UX in this area.

[2020-04-20 19:59] #2475 closed

[2020-04-20 19:59] cwhitten commented on #2353
@Brambi-Amb closing as we cannot reproduce this behavior.

[2020-04-20 19:59] #2353 closed

[2020-04-20 20:00] #2066 closed

[2020-04-20 20:00] #2473 closed

[2020-04-20 20:00] a-b-r-o-w-n opened #2720 "fully resolve schema before it gets to the editors"
Use schema tools to resolve $refs, merge allOfs, etc.

$ref - https://github.com/APIDevTools/json-schema-ref-parser
allOf - https://github.com/mokkabonna/json-schema-merge-allof

refs microsoft/botframework-cli#722

[2020-04-20 20:02] #1216 closed

[2020-04-20 20:03] #1956 closed

[2020-04-20 22:35] #2323 closed

[2020-04-20 22:56] mareekuh commented on #2036
﻿What do you mean with ‘Add label to indicate it’?

From: xieofxie <notifications@github.com>
Date: Tuesday, March 31, 2020 at 3:17 AM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Marieke Iwema <mariekei@microsoft.com>, Assign <assign@noreply.github.com>
Subject: Re: [microsoft/BotFramework-Composer] Bot responses all-up view (#2036)

Add label to indicate it

[2020-04-20 23:20] zxyanliu commented on #974
@mareekuh sorry I did not make myself clear. I can propose some help text for **Result Property** like the following. Specifically, I added this sentence: The values can be accessed via .content for example. I think users need to know how to access the value of this property. This should be sufficient for users in this scenario, but on the condition that they click the **?** sign to read the help

[2020-04-21 02:11] yeze322 commented on #2699
addressed in #2718

[2020-04-21 02:14] xieofxie commented on #2426
No, I think this issue should be fixed via https://github.com/microsoft/botbuilder-dotnet/pull/3739
Fallback to some default is not the correct behavior since we have locale when the turn started.

[2020-04-21 02:26] xieofxie commented on #2036
I am in a team working on skills https://github.com/microsoft/botframework-skills and we are now creating skills using composer.
And we (with brenda) decide to use label `skill-reported` to indicate it is some issue that is also required from our team. Thanks

[2020-04-21 03:47] #1533 closed

[2020-04-21 04:07] cwhitten commented on #2530
https://github.com/microsoft/BotFramework-Composer/pull/2676

[2020-04-21 04:07] #2530 closed

[2020-04-21 04:08] cwhitten commented on #2541
@luhan2017 is there a SDK issue tracking this?

[2020-04-21 05:49] yeze322 commented on #2406
Okay, it could be (and seems already been) solved.

[2020-04-21 06:03] 0x454447415244 commented on #2378
@hibrenda Thanks for sharing this. How can I try this project? I tried to load it with Bot Framework Composer but it doesn't work.

[2020-04-21 06:17] hibrenda commented on #2378
you can load it with in master branch.

[2020-04-21 06:22] luhan2017 commented on #2541
https://github.com/microsoft/botbuilder-dotnet/issues/3700
Here is the issue in the sdk side, it is already fixed. I am getting the new sdk schema in Composer and test whether it resolved this issue.

[2020-04-21 08:15] luhan2017 opened #2725 "There is an extra black border when select a template from the template list"
## Describe the bug

when select a template from the list, there is an extra black border there.

![image](https://user-images.githubusercontent.com/32191031/79842171-0a34b100-83eb-11ea-8bce-f7da189cf85e.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2

[2020-04-21 08:31] yeze322 opened #2726 "LG template name not correct"
## Describe the bug
refs #2597

1. LG in SendActivity
![image](https://user-images.githubusercontent.com/8528761/79843786-4c5ef200-83ed-11ea-982d-e2d418f29640.png)
2. LG after copied
![image](https://user-images.githubusercontent.com/8528761/79844102-cf804800-83ed-11ea-9717-95f1d0efbdc3.png)

They should follow
![image](https://user-images.githubusercontent.com/8528761/79843893-79130980-83ed-11ea-

[2020-04-21 08:31] yeze322 commented on #2726
fixed in #2718

[2020-04-21 09:50] cxbuilders opened #2727 "Dialog scope does not show in JSON trace"
The dialog object does not show in the JSON trace.

## Version

4.7.0-preview-191208-1

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X ] Edge

## OS

- [ ] macOS
- [ X] Windows
- [ ] Ubuntu

## To Reproduce

- Set property dialog.test with value "test"
- Run Bot
- Click on the last trace and try to find the property dialog.test in the JSON output

## Expected behavior

- have the dialog

[2020-04-21 10:34] yeze322 opened #2730 "Remove trailing blank lines in template 'TodoBotWithLuis'"
## Describe the bug
![image](https://user-images.githubusercontent.com/8528761/79856248-b0d67d00-83fe-11ea-84a3-dfe56e83d747.png)

![image](https://user-images.githubusercontent.com/8528761/79954062-5f39fb00-84af-11ea-9a54-69cf380c5c9c.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce

[2020-04-21 10:34] yeze322 commented on #2730
@zhixzhan

[2020-04-21 11:14] zhixzhan commented on #2730
@yeze322 I don't think lgParser should modify the inputs. Actually recently lgParser made some refactor to truly respect what user input, when do updateTemplate save it.

for example, when you are typing in form editor, then inputs would not always be valid, likes

[code]

[code]

[code]

[code]
[code]
if parser modify the inputs when do updateTemplate, user side will see strange behavior, 'swallo

[2020-04-21 11:58] cxbuilders opened #2731 "Not possible to set property to a ISO 8601 date"
When storing a date in the ISO 8601 format with 0 milliseconds it gets truncated. When you set a property user.date with the following value:
"2020-04-21T11:36:40.000Z"
it actually stores it as
"2020-04-21T11:36:40Z"

Also storing it as ${string('2020-04-21T11:36:40.000Z')} makes no difference.

This then fails all other date functions like ${addSeconds(user.date, 120)}.

## Version

4.7.0-preview

[2020-04-21 15:34] ashish315 commented on #2011
@beyackle  As checked and verified on below environment, the highlighted controls are still not accessible with keyboard. I downloaded below Master build file last updated on 18th April.
![image](https://user-images.githubusercontent.com/60913131/79884825-5398f680-8413-11ea-846d-bba706715476.png)

**Test Environment**
Browser: Microsoft Edge Dev {Version 83.0.467.0 (Official build) dev (64-bit)}
O

[2020-04-21 16:16] garypretty commented on #2697
Closing in favor of #2679

[2020-04-21 16:27] garypretty commented on #2697
Closing in favor of #2679

[2020-04-21 18:07] a-b-r-o-w-n commented on #974
@vishwacsena do you know if the shape of this result will be consistent across the different sdk languages?

[2020-04-21 18:11] vishwacsena commented on #974
I believe so. @luhan2017 does the `HTTPAction` implementation for JS keep the same shape for the result?

[2020-04-21 18:12] ashish315 commented on #2011
@beyackle As well as now the focus lands on 'New' and "Recent Bot" card are accessible by keyboard but they are not opened when user press ENTER or Spacebar.
Please look into the attached video:
[Bug 2011_regression 21042020.zip](https://github.com/microsoft/BotFramework-Composer/files/4511858/Bug.2011_regression.21042020.zip)

[2020-04-21 18:52] ashish315 commented on #2012
As UI gets updated, the issue is not repro any more. So, HCL is closing the bug.

[2020-04-21 18:52] #2012 closed

[2020-04-21 18:58] cwhitten commented on #2644
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2719

[2020-04-21 18:58] #2644 closed

[2020-04-21 19:00] ashish315 commented on #2015
@corinagum As checked now the screen reader reads the info of 'Name' edit field along with the location information. The narrator should announce the info about the pane name as well as the bot name.

[2020-04-21 19:06] ashish315 commented on #2022
@cwhitten As checked and verified on below environment, the issue is not fixed. I downloaded below Master build file last updated on 18th April.

**Test Environment**
Browser: Microsoft Edge Dev {Version 83.0.467.0 (Official build) dev (64-bit)}
OS build: 2004 (19588.1000)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequisite Here**](https://gith

[2020-04-21 19:14] ashish315 commented on #2018
As checked, the issue is resolved. So, HCL is closing the issue.

[2020-04-21 19:14] #2018 closed

[2020-04-21 19:15] cwhitten commented on #2226
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2721

[2020-04-21 19:15] #2226 closed

[2020-04-21 19:15] ashish315 commented on #2016
As checked, the issue is resolved. So, HCL is closing the issue.

[2020-04-21 19:15] #2016 closed

[2020-04-21 19:39] ashish315 commented on #2092
@corinagum I am agree with the idea of documentation pointer. If the KB user will aware how to exit from the edit field or the shortcut key, it is helpful for them.

[2020-04-21 19:54] ashish315 commented on #2026
@cwhitten As checked the fix seems good but the issue is not resolved for every table such as Recent Bot table, Notification etc

[2020-04-21 20:02] InnoraG commented on #2705
Thanks @zidaneymar , managed to make it work by adding these state.

But the FacebookAdapter seems not compatible with Composer runtime, it is having issue in handling anything except text.

[2020-04-21 20:11] cwhitten commented on #2026
@ashish315 the bug is to Save As, not Recent Bots or Notification.

[2020-04-22 01:16] boydc2014 commented on #2401
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2716

[2020-04-22 01:16] #2401 closed

[2020-04-22 02:25] Danieladu commented on #2709
change the `AllCards` template from
[code]

to
[code]

The reason is that, you can not insert an activity entity into the value of attachment property.

[2020-04-22 02:44] xhr0804 opened #2738 "Only part of dialogs are shown in lu/lg navigation list"
## Describe the bug
In my bot, I have lots of dialogs and I can see all of them as below
![image](https://user-images.githubusercontent.com/44257569/79934332-df973680-8484-11ea-8507-5cd10dead8e2.png)
But in the LU/LG navigation list, I can just see part of them
![image](https://user-images.githubusercontent.com/44257569/79934777-f7bb8580-8485-11ea-972e-1aa333a3baa4.png)

![image](https://user-imag

[2020-04-22 04:16] mareekuh commented on #974
Looks good (-:

From: Yan Liu <notifications@github.com>
Date: Monday, April 20, 2020 at 4:21 PM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Marieke Iwema <mariekei@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [microsoft/BotFramework-Composer] [Hackathon] HTTP Request variable definition/usage should be made less error prone. (#974)

@mar

[2020-04-22 04:18] ashish315 commented on #2026
@cwhitten In the issue, the note section was their according to which issue observed for each and every table.

[2020-04-22 07:37] yeze322 commented on #2730
@zhixzhan I got it. So the action we need to take is updating the TodoLUISTemplate.
It contains many unecessary blank lines
![image](https://user-images.githubusercontent.com/8528761/79953864-200baa00-84af-11ea-979a-0d445e2ee8bf.png)

[2020-04-22 08:42] luhan2017 commented on #974
Yes, they are the same. In the JS side, we are using the C# declarative test cases to make sure they have consistent behavior.

[2020-04-22 09:37] liweitian commented on #2026
Just opened a pr to solve this problem. #2740

[2020-04-22 09:38] zhixzhan commented on #2730
I guess so, manually clean up template sample bot sounds resonable.

[2020-04-22 13:14] hibrenda commented on #2731
@cosmicshuai  do you have comments for this issue ?

[2020-04-22 13:33] cosmicshuai commented on #2731
I tried evaluating 'string(formatDateTime("2020-04-21T11:36:40.000Z"))' in AdaptiveExpression, and it returned "2020-04-21T11:36:40.000Z". Would you have a try?
It think it is caued by the editor, the value is changed before the runtime recieved.

[2020-04-22 14:05] hibrenda commented on #2727
This can not be reproduced on master branch.
![image](https://user-images.githubusercontent.com/43408889/79991911-62e87480-84e5-11ea-9868-7275b2ac6d2f.png)

[2020-04-22 14:23] liweitian commented on #2022
@ashish315 opened a pr to solve the issue found there. We can access every section of the home page  after zoom in.

[2020-04-22 17:23] cwhitten commented on #2725
https://github.com/microsoft/BotFramework-Composer/pull/2728

[2020-04-22 17:23] #2725 closed

[2020-04-22 17:23] cwhitten commented on #2715
https://github.com/microsoft/BotFramework-Composer/pull/2728

[2020-04-22 17:23] #2715 closed

[2020-04-22 17:26] a-b-r-o-w-n opened #2743 "update to latest sdk schema & packages"

[2020-04-22 17:34] mareekuh commented on #2573
@a-b-r-o-w-n  and @cwhitten
Settings design (with visual pass) is ready available here:
https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=1514%3A1499

still working on adding the 'Runtime settings' section but the page template and all other content is ready to go.

[2020-04-22 17:35] mareekuh commented on #2573
@DesignPolice please update this git when runtime UI has been included (-:

[2020-04-22 17:50] DesignPolice commented on #2573
Will do, hoping to drop those in today -

[2020-04-22 21:20] #2598 closed

[2020-04-22 22:23] beyackle commented on #2058
I'm trying to repro this one again to return to work on it, and I can't even focus the cards inside the visual editor now. The entire editor gets read as "Visual editor - step editor - group" and then the Tab key won't move me anywhere, forward or backward. I'll look into that problem first.

[2020-04-22 23:22] #2520 closed

[2020-04-22 23:35] DesignPolice commented on #2573
This has been updated with the Custom Runtime UI - ping if you have questions.

https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=1514%3A656

[2020-04-22 23:37] DesignPolice commented on #2573
Here are a few screen grabs.

![Screen Shot 2020-04-22 at 4 36 18 PM](https://user-images.githubusercontent.com/45223620/80043810-901e2e00-84b7-11ea-905c-cfd8df06fe05.png)

![Screen Shot 2020-04-22 at 4 36 46 PM](https://user-images.githubusercontent.com/45223620/80043808-8f859780-84b7-11ea-8283-9f8b41ff2f2b.png)

![Screen Shot 2020-04-22 at 4 37 01 PM](https://user-images.githubusercontent.com/45

[2020-04-22 23:50] cwhitten commented on #2116
@ashish315 can you please close this as a FluentUI bug?

[2020-04-23 03:00] xhr0804 opened #2745 ""Disable" option missing"
## Describe the bug
Can't find the "Disable” option, it's a bug or by design?
![image](https://user-images.githubusercontent.com/44257569/80054137-1470bf80-8551-11ea-9026-001dc9b8a05f.png)

## Version

"71e6acdab35f3cfedb8a6"

## Browser

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '.

[2020-04-23 03:12] cwhitten commented on #2745
Hi @xhr0804. we removed this capability as the experience in using it was not what we want. we want people to use the visual editor to select and disable groups of nodes.

As a workaround, you now can click "Show code" and add the disabled: true flag to an object that you wish to disable and it will work.

![Screen Shot 2020-04-22 at 8 11 50 PM](https://user-images.githubusercontent.com/1156704/80

[2020-04-23 03:25] xhr0804 commented on #2745
@cwhitten Thanks, but I can not find the "show code" button.(The code updated yesterday). Am I doing something wrong?
![image](https://user-images.githubusercontent.com/44257569/80055674-d6759a80-8554-11ea-8d1f-39c6bf2561a1.png)

[2020-04-23 03:27] cwhitten commented on #2745
@xhr0804 if you pulled the latest `master`, https://github.com/microsoft/BotFramework-Composer/commit/3a7dbce5c902d18e3320a46a5d88084a7b292a80 introduced it

[2020-04-23 03:34] yeze322 opened #2746 "Unified ScreenReader behavior in Visual Editor"
## Describe the bug
Delete a node -> read something
Copy a node -> read something
......

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2020-04-23 03:38] yeze322 commented on #2746
I can list out several events which should trigger the ScreenReader:
- Delete Actions => read "N actions deleted"
- Create an Action => read "action created"
- Copy Actions => read "action copied"
- Paste Actions => read "action pasted"
- Move Actions => read "action moved"

@cwhitten @beyackle do you guys think the sentences are proper? Need your help on deciding what content should be read.

[2020-04-23 05:06] xhr0804 commented on #2745
@cwhitten it works, thanks!

[2020-04-23 05:06] #2745 closed

[2020-04-23 06:18] xhr0804 opened #2748 "unexpected error when I set the property"
## Describe the bug
When I edit the value in the set property, if I type in quickly, the result will be presented very slowly. And often throw an error.
![Error](https://user-images.githubusercontent.com/44257569/80065370-91f5f900-856c-11ea-88af-8e411e0c3f40.gif)

![image](https://user-images.githubusercontent.com/44257569/80065438-b18d2180-856c-11ea-863c-f41e2ea60c56.png)

and some lg file will b

[2020-04-23 06:43] vishwacsena commented on #1886
@andreatosato can you help clarify what exactly you are trying to accomplish?

[2020-04-23 06:53] andreatosato commented on #1886
@vishwacsena I setup dispatch model, works very well. I spent all yestardy to setup and test this feature.

Dispatch model work for different LUIS but on same culture.

I need to attach on Bot Framework Composer different culture.
How can I setup multilanguage in Composer?
Now works only en-us?

I have Teams bot for 2 client culture:
en-US
it-IT

[2020-04-23 07:07] vishwacsena commented on #1886
@cwhitten can you comment on multi-lingual support in composer?

[2020-04-23 08:01] KayMKM opened #2749 "LU publishing failed when contains pattern with perbuilt entity"
## Describe the bug

LU publishing failed when contains patterns with perbuilt entity. E.g:
[code]

The reason is the prebuilt entity will be removed when cross train.

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....

[2020-04-23 10:03] cosmicshuai commented on #2731
I create a PR in SDK to solve this issue.
https://github.com/microsoft/botbuilder-dotnet/pull/3792

[2020-04-23 10:19] cxbuilders commented on #2727
Sorry hibrenda, latest version this is fixed.

[2020-04-23 10:19] #2727 closed

[2020-04-23 12:51] hibrenda commented on #2749
Synced with Yue. This is the background.
- pattern with prebuilt entity can work for a single dialog
- But it will hit some errors during #_interruption publish

[2020-04-23 14:56] cwhitten commented on #2746
@yeze322 is this ticket necessary? we have other a11y issue tracking this work I thought.

[2020-04-23 15:32] cwhitten commented on #2738
https://github.com/microsoft/BotFramework-Composer/pull/2747

[2020-04-23 15:32] #2738 closed

[2020-04-23 16:30] ashish315 commented on #2116
As it is external bug. So, HCL is closing the issue.

[2020-04-23 16:30] #2116 closed

[2020-04-23 16:43] cwhitten commented on #2610
https://github.com/microsoft/BotFramework-Composer/pull/2629

[2020-04-23 16:43] #2610 closed

[2020-04-23 17:39] DesignPolice commented on #2573
Here are the SVG files for the icons... they are on a pixel grid so should be as clear as possible.

[IconsZip.zip](https://github.com/microsoft/BotFramework-Composer/files/4524230/IconsZip.zip)

[2020-04-23 17:51] ashish315 commented on #2130
As checked the issue is fixed now, so HCL is closing the issue.

[2020-04-23 17:51] #2130 closed

[2020-04-23 18:05] stephanbisser opened #2751 "dotnet run - “” is not a valid LUIS application id."
## Describe the bug

If I create a bot with Composer (Todo with LUIS) and run in from Composer the testing in the emulator works fine. But if I run the bot from the CLI using dotnet run, I always get this message when it should detect the intent with LUIS:

“” is not a valid LUIS application id.

![image](https://user-images.githubusercontent.com/29750798/80133494-9686d580-859d-11ea-81d0-fab502224

[2020-04-23 18:17] ashish315 commented on #2125
As checked, the issue is resolved now. So, HCL is closing the issue.

[2020-04-23 18:17] #2125 closed

[2020-04-23 19:01] ashish315 commented on #2061
As checked the focus is now visible clearly on the node. But the pane is now not accessible with Tab key. On pressing tab from 'Show Code' the focus should come inside the tree pane but the focus stuck on the whole pane. As well as when we use mouse to take focus inside the pane the keyboard focus is not visible.
Please refer the video's for the same "[Issue.zip](https://github.com/microsoft/BotFr

[2020-04-23 19:03] ashish315 commented on #2061
@corinagum If you want we can raise new issue for the same then we are ready to do the same.

[2020-04-23 19:05] ashish315 commented on #2063
As checked, issue is fixed. So, HCL is closing the issue.

[2020-04-23 19:05] #2063 closed

[2020-04-23 19:09] ashish315 commented on #2068
@corinagum As checked, the narrator still not announces the information about the 'Reloading'.
We checked on the below environment and the latest 'Master' build downloaded on 23rd April.
**Test Environment**
Browser: Microsoft Edge Dev {Version 84.0.488.1 (Official build) dev (64-bit)}
OS build: 2004 (19562.1000)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/M

[2020-04-23 19:14] ashish315 commented on #2056
@cwhitten As checked the issue is not fixed yet as well as now the focus is not going inside the chart section with Tab key. On pressing tab from 'Show Code' the focus should come inside the tree pane but the focus stuck on the whole pane. As well as when we use mouse to take focus inside the pane the keyboard focus get tapped inside the chart section.
Please refer the video's for the same "[Issue

[2020-04-23 19:15] #2061 closed

[2020-04-23 19:19] ashish315 commented on #2054
As checked now the aria label and placeholder are different but due to "placeholder narrated twice" know issue it still announces placeholder twice already raised issue for this.
So, HCL is closing this issue.

[2020-04-23 19:19] #2054 closed

[2020-04-23 19:22] ashish315 commented on #2057
As checked the issue is resolved, so HCL is closing the issue.

[2020-04-23 19:22] #2057 closed

[2020-04-23 19:35] ashish315 commented on #2091
@cwhitten As checked, the issue is still repro.

We checked on the below environment and the latest 'Master' build downloaded on 23rd April.
**Test Environment**
Browser: Microsoft Edge Dev {Version 84.0.488.1 (Official build) dev (64-bit)}
OS build: 2004 (19562.1000)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequisite Here**](https://github.co

[2020-04-23 19:47] ashish315 commented on #2022
As checked still the name of the "Bot" is gets cropped.
As well as agree with @liweitian now we are able to access controls.

[2020-04-23 19:49] ashish315 commented on #2025
As checked the issue is fixed now. So, HCL is closing the issue.

[2020-04-23 19:49] #2025 closed

[2020-04-23 19:53] ashish315 commented on #2050
As checked the issue is fixed so HCL is closing the issue.

[2020-04-23 19:53] #2050 closed

[2020-04-23 19:59] ashish315 commented on #2052
As checked issue still not fixed. Now on activating 'New Template" focus jumps to the first row of the the bot response table.

[2020-04-23 20:07] ashish315 commented on #2062
@cwhitten As checked, still action button and other button's {that are like action button in the other nodes such as in replacedialog} are not accessible with keyboard.

[2020-04-23 20:09] cwhitten commented on #2062
@ashish315 please attach screenshots of what you refer to as "Action button" and "other buttons:

[2020-04-23 20:14] ashish315 commented on #2062
Screenshots:

![image](https://user-images.githubusercontent.com/60913131/80144762-b5e92700-85cc-11ea-9caa-c8272b81cf53.png)
![image](https://user-images.githubusercontent.com/60913131/80144874-e761f280-85cc-11ea-9942-36ecbdb07df6.png)
![image](https://user-images.githubusercontent.com/60913131/80145004-17a99100-85cd-11ea-97db-7e32a687fe11.png)

[2020-04-23 20:22] ashish315 commented on #2049
@corinagum As checked, the narrator still announces read only for edit button i.e. issue still repro. Please look into the attachment for the reference:  [Edit button as read only.zip](https://github.com/microsoft/BotFramework-Composer/files/4525017/Edit.button.as.read.only.zip)

We checked on the below environment and the latest 'Master' build downloaded on 23rd April.
**Test Environment**
Browse

[2020-04-23 20:30] cwhitten opened #2753 "New action:setSetting"
Create a new action that can atomically update a setting. The existing setSettings action has a large interface.

To implementer:

Investigate adjusting the setSettings interface to something more ergonomic.
Introduce new setSetting action that can update a single setting field.

[2020-04-23 20:38] cwhitten commented on #2709
https://github.com/microsoft/BotFramework-Composer/pull/2752

[2020-04-23 20:38] #2709 closed

[2020-04-23 21:32] benbrown opened #2754 "Add accessor methods on pluginLoader for the extensions"
Instead of `pluginLoader.extensions.runtimeTemplates` lets introduce `pluginLoader.runtimeTemplates` as a getter.  There are several extensions that should get this treatment and we will need to update it in a few places:

* eject controller
* publisher controller
* storage
* auth

[2020-04-23 21:43] beyackle commented on #2020
Double-checked this, and I can't repro it. I think it's been solved already.

[2020-04-23 21:47] beyackle commented on #2015
Verified this is still a little awkward. Hitting Next will correctly place focus in the "Name" field in the creation dialog, but it doesn't read the introductory text. It does, for some reason, read the file path (from the Location input below), which it shouldn't.

[2020-04-23 22:03] cwhitten commented on #2470
https://github.com/microsoft/BotFramework-Composer/pull/2572#event-3245531503

[2020-04-23 22:03] #2470 closed

[2020-04-23 22:03] cwhitten commented on #2450
https://github.com/microsoft/BotFramework-Composer/pull/2572#event-3245531503

[2020-04-23 22:03] #2450 closed

[2020-04-23 22:05] DesignPolice commented on #2505
I have updated this to have the "filter" icon - not sure what we want to do with this for a11y or as far as R9 - R10 etc. This has been moved to Master Design Specs.

https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=1123%3A19432

[2020-04-23 22:10] DesignPolice commented on #2512
This has been reviewed and moved to Master Design Specs as well.

I think it may be the same as this?
https://github.com/microsoft/BotFramework-Composer/issues/2573

[2020-04-23 23:02] mareekuh commented on #2512
Yup same

[2020-04-23 23:03] #2512 closed

[2020-04-23 23:53] hibrenda commented on #1639
https://github.com/microsoft/BotFramework-Composer/issues/2471

[2020-04-23 23:53] #1639 closed

[2020-04-24 00:04] mareekuh opened #2755 "Visual: Banner color update from black to blue"
In the visual alignment review of the FUSE products and the deltas with the Fluent style guide Composer did very well. There were a few areas where we're unnecessarily different:

1. Banner color (currently black) and
2. Icon in the upper left : we have our custom icon, Fluent apps have the 9 grid which on click brings a pane with 1 click access to related products.

Number 2 does not seem a reaso

[2020-04-24 00:51] boydc2014 commented on #2749
One more simple repro case

- abc brenda
- abc {@personName}
@ prebuilt personName

[2020-04-24 00:57] boydc2014 commented on #2749
we can use regexPattern="{.*?}" probably to detect an entity in pattern

[2020-04-24 01:37] alanlong9278 commented on #2746
This ticket is the same with #2079

[2020-04-24 01:42] alanlong9278 commented on #2062
I will check it today @cwhitten  @ashish315

[2020-04-24 02:08] cwhitten commented on #2746
Thanks @alanlong9278. Closing this as a duplicate

[2020-04-24 02:08] #2746 closed

[2020-04-24 02:35] alanlong9278 commented on #2079
Add screen reader in visual editor.
[code]

[2020-04-24 03:34] cosmicshuai commented on #2731
Hi @cxbuilders,
after some discussion with the SDK team, I would suggest you use ${addSeconds(formatDateTime(user.date ) ,120)} temporarily.
We found the gap of serialization between dialogStateManager and the prebuilt functions.
We will change some datetime functions to support DateTime object in C# and JS.
It will takes some time. And for now,  ${addSeconds(formatDateTime(user.date ) ,120)} work

[2020-04-24 06:26] hibrenda opened #2757 "customized botruntime publish"
Context:
- create a bot and click start bot
- bot will be published to local (built-in) as : C:\Repo\Composer\plugins\localPublish\hostedBots\25038.96675632076
- then user could specify the customized runtime as :
![image](https://user-images.githubusercontent.com/43408889/80181672-d9958700-8637-11ea-9a43-c61d5ce02097.png)
- restart bot, bot will use the customized runtime but not the hostedBot ru

[2020-04-24 06:35] hibrenda commented on #2578
https://github.com/microsoft/BotFramework-Composer/issues/2757
so both runtime location and customized schema location will be in customized path specified in bot setting page?

[2020-04-24 06:37] hibrenda commented on #2751
not only for dotnet run but reproduced for  new created bot as well even use the emulator.

[2020-04-24 06:37] cxbuilders opened #2759 "Set Properties resets value type to string"
## Describe the bug

When changing the Value type of a property in the Set Properties block to expression it resets back to string.

## Version

Cannot find a SHA on the About page.

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ X] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1) Add a set properties block in the flow
2) Add a pr

[2020-04-24 06:38] hibrenda commented on #2757
@luhan2017 @VanyLaw

[2020-04-24 06:59] #2759 closed

[2020-04-24 07:15] luhan2017 commented on #2751
I have investigated on this, this is because Ben's latest change has updated the bot folder location from ComposerDialogs to ..\, while in code, we searched "ComposerDialogs\settings\appsettings.json".  @zidaneymar will create a PR soon to fix this issue.

[2020-04-24 08:00] stephanbisser commented on #1642
@cwhitten sorry for taking so long, but now I finally tested it and the issue has been resolved, therefore I think we can close this issue

[2020-04-24 08:00] #1642 closed

[2020-04-24 08:03] stephanbisser commented on #2300
any updates on this @VanyLaw ?

[2020-04-24 08:11] zhixzhan commented on #2150
We are planning a final solution to this type resource problem on R10, discussed in #2312 #2699.

[2020-04-24 08:46] yeze322 opened #2760 "load schema from the path of 'Use custom runtime'"
## Describe the bug
As a follow up of #2572, after pointed the runtime to a customized position
![image](https://user-images.githubusercontent.com/8528761/80192740-3d28b000-864a-11ea-891a-93eb1a657dda.png)
Composer should also load the schema files under that runtime folder.

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

[2020-04-24 08:51] hibrenda commented on #2578
https://github.com/microsoft/BotFramework-Composer/issues/2760

[2020-04-24 08:57] ashish315 commented on #2058
@beyackle Already highlighted this issue yesterday Bug ID: [2056](https://github.com/microsoft/BotFramework-Composer/issues/2056). I think you talking about this issue.

[2020-04-24 08:58] liweitian commented on #2022
@ashish315 On the header, the text is like 'Bot Framework Composer | BotName'. When zoom in 400%, there is no enough room for it. Should I make the 'Bot Framework Composer' part showed in two rows or make the over all text have a smaller font size?

[2020-04-24 08:59] liweitian commented on #2015
I found the issue there. I am working on it.

[2020-04-24 09:13] ashish315 commented on #2022
@liweitian If possible make it in two lines like "Save As" available in the screenshot.

[2020-04-24 10:02] zidaneymar opened #2762 "bot deployment will fail due to the new runtime structure"
## Describe the bug

Currently the bot deploying use 'dotnet publish' to produce a web service folder and pack it. Previously the runtime includes the ComposerDialogs folder, after changing the structure(moving CompserDialogs out of the runtime), deployment script need more effort to maintain the relative path and need to copy the dialog files, setting files to the web service folder.

## Version

[2020-04-24 10:19] KayMKM opened #2763 "bot publishing failed"
## Describe the bug

![image](https://user-images.githubusercontent.com/19773357/80202231-e3c77d80-8657-11ea-939a-7b0df6f525a1.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

[2020-04-24 12:24] nvikey opened #2764 "Composer with LUIS"
I am exploring Composer. I already use bot-framework c# model in Azure that connects with LUIS. We developed a one step FAQ bot (not multi-turn conversations) with only one main dialog. We used to extract the Luis intent and score whenever users type a text. We get answer from a Sharepoint list for FAQs by passing the identified LUISIntent as a column filter.

1. Is it possible to do the same in C

[2020-04-24 14:30] cxbuilders opened #2765 "Date gets altered in body of Post Request"
## Describe the bug
When adding a date using dateFormatTime() in the body of a Post Request, the - are getting replaced by _

## Version
Cannot see SHA in about page

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X ] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Add a Send a HTTP request component in the flow
    Method -> POST

[2020-04-24 15:15] bobokids opened #2767 "Error messagebox prompt and rendering issue"
## Describe the bug

. Add a event trigger
. Add SetProperties
. Add a property and input the property name "conversation.keyword"

Result:
1. while input, a error dialog is pop up for many times, each time with different error msg. This is not a smooth authoring experience.
2. rendering issue of the error dialog when scroll the error msg.
3. input perf is very bad, known issue.

![image](https://

[2020-04-24 16:12] tonyanziano opened #2768 "Normalize initial Composer Electron browser window size"
Composer Electron should not start maximized, and should instead start up as a window that takes up a large portion of the screen.

[2020-04-24 17:07] tonyanziano opened #2770 "Allow Composer to dynamically find a port to mount the server to"
Currently, Composer is set to run on port 5000, which can cause it to fail if the user's machine is using that port for anything else.

Composer should dynamically find an open port and mount the server using that port.

[2020-04-24 17:24] cwhitten commented on #2768
https://github.com/microsoft/BotFramework-Composer/pull/2769

[2020-04-24 17:24] #2768 closed

[2020-04-24 19:11] cwhitten commented on #2273
https://github.com/microsoft/BotFramework-Composer/pull/2718

[2020-04-24 19:11] #2273 closed

[2020-04-24 19:11] cwhitten commented on #2406
https://github.com/microsoft/BotFramework-Composer/pull/2718

[2020-04-24 19:11] #2406 closed

[2020-04-24 19:11] cwhitten commented on #2726
https://github.com/microsoft/BotFramework-Composer/pull/2718

[2020-04-24 19:11] #2726 closed

[2020-04-24 19:12] cwhitten commented on #2312
https://github.com/microsoft/BotFramework-Composer/pull/2718

[2020-04-24 19:12] #2312 closed

[2020-04-24 20:46] beyackle commented on #2056
I think what's going on here is a confusion of two different issues. The original one was about the focus moving into the visual editor after selecting a dialog, and that has in fact been fixed.

However, there's a separate problem where Tab and Shift-Tab no longer work inside the visual editor because those keys have been forcibly remapped in ways that break at least Narrator - the visual-editor

[2020-04-24 20:47] beyackle commented on #2058
That's a separate issue; see my comment on #2056

[2020-04-24 21:36] beyackle commented on #2058
That separate issue is already its own bug, too (#2021), so I'm going to call this one blocked on that. There's no way for focus to go onto a node in the first place until that one gets fixed.

[2020-04-24 23:54] DesignPolice commented on #2127
Okay - I noticed in the new build that we have been able to remove the tiles for create new and just use a list! so that takes care of that issue.

I went ahead and did a pass of the New and Last Bot on the home page, based on the new Fluent Dark theme.
I'm not really sure how to do this, with two color tiles, but I sampled as much as I could from them, Hight Contrast is a tricky one, I don't know

[2020-04-25 16:39] cwhitten commented on #2760
@yeze322  i'm closing this. this ticket is already tracked and represented.

[2020-04-25 16:39] #2760 closed

[2020-04-25 16:42] cwhitten commented on #2578
@hibrenda I don't understand your recent comments. Let's be crisp here before we cut tickets and assign them to R9.

@yeze322 @mareekuh @sangwoohaan We should have a default Custom Actions fly-out item that everything will show up in. This is the least amount of effort on the developers to configure their schema. What's not represented here is this user effort to achieve Ze's suggestion, and it ad

[2020-04-25 16:44] cwhitten commented on #2757
@hibrenda this work should have already been represented in @benbrown's scenario epic. What's missing in that that requires this additional ticket?

[2020-04-25 16:47] cwhitten commented on #2578
By the way, the schema work should happen in this ticket: https://github.com/microsoft/BotFramework-Composer/issues/2563 cc @boydc2014

The work associated with this ticket is only the solution to add custom actions into the flyouts

[2020-04-25 23:17] cwhitten opened #2773 "Jank/flicker in the visual editor"
Ze Ye we need to guard view while the placement of the nodes and edges are calculated and re-drawn. This isn't a ship-blocker for R9, but a strong nice to have.

[2020-04-25 23:21] cwhitten commented on #2767
@bobokids I can't reproduce this on a new bot. Can you please create a bot from scratch and see if the issue still exists?

[2020-04-25 23:22] cwhitten commented on #2765
Ugh, this is an LG issue. cc @zhixzhan @feich-ms

[2020-04-25 23:28] cwhitten commented on #2764
Hi @nvikey, here is the info I have do you:

If I'm understanding your question, yes -- you have the ability to call a sharepoint service inside an OnIntent trigger definition and provide the identified intent.

Do achieve this, you would need to export the LU model in the LUIS portal once you have done your training, and paste it into your Composer bot's LU model.

Closing as a how-to, happy to c

[2020-04-25 23:28] #2764 closed

[2020-04-25 23:31] cwhitten commented on #2763
@KayMKM I can't reproduce this. Can you provide more detail in your issue? For example, reproduction steps, or what browser & OS you are using? The template are intended to be actually used.

[2020-04-26 02:36] boydc2014 commented on #2765
uassign vishwac and fei, after testing in sdk and in composer of just using ${formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm')}, it works as expected. So largely it's something wrong after we reload the bot and try to transform it.

[2020-04-26 03:56] lei9444 opened #2775 "Can't navigate to a new trigger under the new created dialog"
## Describe the bug
![bug](https://user-images.githubusercontent.com/39758135/80297330-cb20aa00-87b4-11ea-9dc1-865d31537a88.gif)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'design page'
2. Click on 'new dialog'
3. click the trigger under the new dialog
4. See

[2020-04-26 16:28] cwhitten commented on #2751
addressed in https://github.com/microsoft/BotFramework-Composer/pull/2761

[2020-04-26 16:28] #2751 closed

[2020-04-26 18:30] #2775 closed

[2020-04-27 05:42] hibrenda commented on #2767
I can reproduce this issue. sounds like more easily to hit for complicated bot editing (eg. who skill) but never reproduced on my echo bot. @cwhitten

[2020-04-27 06:02] yeze322 commented on #2773
fixed in #2780

[2020-04-27 06:13] boydc2014 commented on #2767
@zhixzhan  can you investigate why "editing a property will cause lg file not exist"

[2020-04-27 06:23] hibrenda commented on #2767
error message will be tracked https://github.com/microsoft/BotFramework-Composer/issues/2748.
this issue will track performance issue.

[2020-04-27 06:39] ashish315 commented on #2056
@beyackle The original issue is not fixed yet! Please check and validate.

[2020-04-27 06:40] zhixzhan opened #2781 "Error when open an existed bot"
## Describe the bug

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'home page'
2. Click on 'Open'
3. Open an existed bot from server/assets/projects/TodoSample
4. See error

## Expected behavior

## Screenshots

<img width="1033" alt="image" src="https://user-ima

[2020-04-27 07:56] luhan2017 commented on #2763
This is because the bot is not created in the latest Composer branch. You can add this configure to your settings\appsettings.json file to mitigate this.

  "runtime": {
    "customRuntime": false,
    "path": "",
    "command": ""
  },

@cwhitten @boydc2014 , I think we should help users add this default value if their runtime config is missing.

[2020-04-27 09:56] lei9444 opened #2783 "remove dialog sometimes will throw error"
## Describe the bug
![image](https://user-images.githubusercontent.com/39758135/80358419-f687bf80-88ae-11ea-9bb8-58b1a818d4f5.png)

remove dialog may throw this error.

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....

[2020-04-27 09:57] manvendrautralia opened #2784 "The configuration settings in Composer UI does not get reflected in app settings"
## Describe the bug

The configuration settings at UI or any change in LUIS subscription does not get reflected in app settings. As a result the deployment fails with error ->

_Unknown error during execution. Please file an issue on https://github.com/microsoft/botframework-cli/issues                                                                                                       Access deni

[2020-04-27 10:22] zidaneymar commented on #2784
@manvendrautralia Hi, thanks for your feedback. Have your tried 'az login' before running the deploy.ps1 script? You should login to the Azure then run 'create.ps1' to create related Azure resources firstly, and then run 'deploy.ps1' to deploy your source code (bot dialog files).

[2020-04-27 10:27] manvendrautralia commented on #2784
So I did these:

As mentioned above, I was able to deploy after manually adding LUIS keys in "appsettings.Deployment.json".

[2020-04-27 10:38] zidaneymar commented on #2784
I see, you add the luis key to composer customized settings.
'deploy' script also accepts luis authoring key and luis authoring region as parameters.
@hibrenda  Currently we don't support the customized luis authoring key for deployment, composer will write your luis authoring key to settings/appsettings.json, but deploy script doesn't search keys in that file.

[code]

[2020-04-27 11:36] zhixzhan commented on #2781
In laptop, saw this instead
![Image](https://user-images.githubusercontent.com/49866537/80361714-ffc75b00-88b3-11ea-87fc-d8a5e74491e3.jpeg)

[2020-04-27 11:56] zhixzhan commented on #2748
After some dig, It can only be re-pro on `an old laptop` +` yarn build && yarn start`

[2020-04-27 13:09] nvikey commented on #2764
Do we need to create one trigger for each intent? If yes, then I think, we need to re-write the SharePoint piece of code in all the 100 intents, which is not an easier way. Please confirm.

[2020-04-27 16:15] beyackle commented on #2091
This is how all Toggle components behave in Scan Mode. Check the examples [here in the Fluent UI docs](https://developer.microsoft.com/en-us/fluentui#/controls/web/toggle), and they behave the same way. If you want to call this a bug, this would be on them to fix, but given how scan mode works on the rest of the page, it might even be intended behavior.

[2020-04-27 16:17] cwhitten commented on #2091
@ashish315 I'm adding the "blocked" label as addressing this seems to be outside our control. Please close this issue once you have tracked the defect with the Fluent UI team.

[2020-04-27 16:22] cwhitten commented on #2471
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2679

[2020-04-27 16:22] #2471 closed

[2020-04-27 16:33] beyackle commented on #2056
I think there's some confusion here over the word "select". I had been interpreting it to mean "move to and hit Enter", selecting a dialog for display in the main window, and that case does move focus over. However, moving through the list of dialogs (without hitting Enter, just going back and forth through the list) does in fact use Tab instead of the arrow keys, and you are correct that this is

[2020-04-27 16:42] cwhitten commented on #2765
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2774

[2020-04-27 16:42] #2765 closed

[2020-04-27 17:43] zxyanliu opened #2788 "The "New Trigger" and "New Dialog" are missing from the Dialog navigation pane"
## Describe the bug
The "New Trigger" and "New Dialog" are missing from the Dialog navigation pane.

![image](https://user-images.githubusercontent.com/32497439/80402880-7d1eab80-8873-11ea-92c9-97b449da26cd.png)

## Version
The most recent master branch (updated by April 27 at 9 am)

## Browser
- [x] Chrome

## OS
- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Install Compose

[2020-04-27 17:45] garypretty opened #2789 "Runtime middleware configuration"
Some feedback wasn't picked up before the PR that made the runtime configurable got merged.  https://github.com/microsoft/BotFramework-Composer/pull/2679#event-3276572882

The changes mentioned in the comments are...

 - **The TelemetryLoggerInitializer middleware should always be added to the adapter pipeline** (i.e. not have it added based on the UseTelementryLoggerMiddleware setting).  This set

[2020-04-27 17:46] cwhitten commented on #2788
Hi @zxyanliu - this is by design. You use the Add button at the top now.

[2020-04-27 17:54] zxyanliu opened #2790 "The "Onboarding" issues - educational bubbles pointing to wrong places"
## Describe the bug
Educational bubbles are pointing to the wrong places:

* **Triggers**
![image](https://user-images.githubusercontent.com/32497439/80403577-a986f780-8874-11ea-9809-1e6e68e1b6fb.png)

* **Actions**
![image](https://user-images.githubusercontent.com/32497439/80403683-d804d280-8874-11ea-9243-d5dccfa800d5.png)

* **Add welcome message**

![image](https://user-images.githubuserconten

[2020-04-27 17:55] cwhitten commented on #2322
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2758

[2020-04-27 17:55] #2322 closed

[2020-04-27 17:55] #2788 closed

[2020-04-27 17:57] zxyanliu commented on #2788
I see. Thanks!

[2020-04-27 18:59] #2773 closed

[2020-04-27 21:07] zxyanliu opened #2791 "Bot Responses and User Input navigation pane not aligned"
## Describe the bug
This is not a functional issue. It's just that the navigation panes are not aligned as they used to be.
In my personal opinion, the previous alignment looks better.

* Current **Bot Responses** navigation pane
![image](https://user-images.githubusercontent.com/32497439/80419955-dea04380-888e-11ea-9ddd-29fa97ad3cad.png)

* Previous **Bot Responses** navigation pane
![bot-respons

[2020-04-27 23:21] zxyanliu opened #2792 "Validation issues - can we get some features back?"
## Describe the bug
* Users are NOT able to expand the incomplete error message in the Language Generation inline editor.
![image](https://user-images.githubusercontent.com/32497439/80429178-52971780-88a0-11ea-816d-639e051058a7.png)

* Users are NOT able to expand the incomplete error message in the Language Understanding inline editor.
![image](https://user-images.githubusercontent.com/32497439/8

[2020-04-28 03:17] cwhitten commented on #2541
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2729, can you verify?

[2020-04-28 03:20] zidaneymar commented on #2762
fixes in #2761

[2020-04-28 03:20] #2762 closed

[2020-04-28 04:09] zhixzhan opened #2793 "When delete a dialog, server throw an error"
## Describe the bug

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Design page'
2. Click on 'Delete a dialog' -> delete a dialog
4. See  Server error

## Expected behavior

## Screenshots
![image](https://user-images.githubusercontent.com/39758135/80358419-f687b

[2020-04-28 06:04] xhr0804 opened #2794 "cross train unexpected result"
## Describe the bug
When I use cross train, I got unexpected result in intent _Interruption in 2 scenarios.
1. In main dialog, I have two trigger A and B, A begins a dialog DA,  if B begins a dialog DB(with None recognizer), the _Interruption in A will not contains the utterances in trigger B. If B doesn't begin a dialog, _Interruption will not contains the utterances either.
2. In main dialog, I

[2020-04-28 06:47] zhixzhan commented on #2793
And delete are not always successfully

[2020-04-28 06:50] DingmaomaoBJTU opened #2795 "Inaccurate warning message when delete a dialog"
## Describe the bug
When trying to delete dialog B which is called by dialog A and call dialog C inside, the warning message shows it is used by A and C, which is confusing.
![image](https://user-images.githubusercontent.com/16643193/80455930-3c9c5c00-895f-11ea-8243-8de77594fb73.png)

## Version

## Browser

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ]

[2020-04-28 06:58] lei9444 commented on #2794
Hi, @xhr0804 I have updated the config now and tested it. Could help to check if it can fix your issue?

[2020-04-28 07:07] zhixzhan commented on #2793
same issue #2783

[2020-04-28 07:08] zhixzhan commented on #2783
track on #2793

[2020-04-28 07:08] #2783 closed

[2020-04-28 07:25] nvikey opened #2797 "Immediate intent recognizer without luis trigger"
Do we need to create one trigger for each intent? If yes, then I think, we need to re-write some code blocks in all the intents(say 80 intent in my case), which is not an easier way. Please confirm.

In our case, we pass the recognized intents to a SharePoint list and filter a value to give it as an answer to the user. This is the same for each intents. So creating 80 triggers for 80 intents is di

[2020-04-28 08:24] cxbuilders opened #2798 "Bot gets created in the wrong folder"
When creating a new bot and not changing the location folder (as it was ok from last time), the bot gets created in the folder C:\Users\<username>\Documents\Composer

## Version

SHA displays test

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ X] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create new bot
2. Select Create fro

[2020-04-28 08:51] zidaneymar commented on #2789
Hi @garypretty, I create a draft PR fixing this issue, could you please help review it?

[2020-04-28 09:12] luhan2017 opened #2801 "Skill scenario is broken - can't set skill endpoint"
## Describe the bug

When I try to add a Begin a skill dialog action.

The skill endpoint is not auto filled and can not be edit.

![image](https://user-images.githubusercontent.com/32191031/80469275-e9340900-8972-11ea-94d1-4f907eac5bc0.png)

This is the two manifest I used to test:
https://yuesuemailskill0207-gjvga67.azurewebsites.net/manifest/manifest-1.0.json
http://localhost:3983/manifest.json

[2020-04-28 09:22] luhan2017 opened #2802 "Bots with emply LG file causes runtime error 500"
## Describe the bug

Some bot templates with empty LG files(EchoBot, EmptyBot) will get an error 500 when connect it from the Emulator.

![image](https://user-images.githubusercontent.com/32191031/80470495-ab37e480-8974-11ea-9bcc-62dc3b23b473.png)

This is already fixed in the sdk latest version 0427, need to update the sdk package to fix it.

## Version

master

## Browser

- [ ] Chrome
- [ ] Saf

[2020-04-28 12:36] cxbuilders opened #2804 "How to call custom c# code using custom runtime"
I was wondering what the proposed methodology is on integrating custom c# code into the composer bot. I have enabled the custom runtime config and hooked up Visual studio debugger, so it's all ready to go.

Which mechanism should I use for this and how is that implemented. Custom Events? Or creating a dialog (will that appear in Composer)?

Hope someone has an answer on this, since so far making u

[2020-04-28 15:37] a-b-r-o-w-n commented on #2792
@beyackle Do you have thoughts on this? I know that this change was introduced to address some a11y issues, but I don't have all the context. Could you take a look at this and recommend an approach?

[2020-04-28 15:48] #2743 closed

[2020-04-28 16:08] a-b-r-o-w-n commented on #2798
@cxbuilders Can you provide the version of Composer that you are using? The specific git commit is most helpful.

[2020-04-28 16:15] liweitian commented on #2127
@DesignPolice hmm... I do not quite understand this new design. At least, the color 'blue' #0078d4 is the same as before. It cannot be seen in high contrast mode black/white theme. It seems you test it in new Fluent Dark theme?

[2020-04-28 16:19] cwhitten commented on #2801
The SkillDialog schema changed and the Skill form template needs to be updated:

https://github.com/microsoft/BotFramework-Composer/blob/master/Composer/packages/server/schemas/sdk.schema#L13962

[2020-04-28 16:21] cwhitten commented on #2790
@zxyanliu I'll see what we can do here. If we updated the Onboarding bubble content to be be more descriptive would this suffice for you?

[2020-04-28 16:26] beyackle commented on #2792
If I remember right, the approach we decided on was to get rid of the reveal arrow and just have the message be expanded all the time (the messages are never so long that this would be a problem; boxes below them just get pushed downward). So the problem here is that they're showing up shrunk in the first place.

[2020-04-28 16:31] cwhitten commented on #2804
Calling custom code can be achieved in two different ways:

1. Over the network: creating a Azure function and calling the function from an HTTPAction
2. Local Adaptive SDK extensions: writing this C# code as a custom action in your bot's code, and updating the schema used when the bot is loaded in Composer to express this capability. This requires your ejecting the runtime template and customizin

[2020-04-28 16:33] cwhitten commented on #2792
@beyackle can you investigate to see why parts of the elements are hidden?

[2020-04-28 16:46] cwhitten commented on #2797
Hi @nvikey - the answer to your initial question is yes, you create an intent trigger for each intent you have defined in your language model.

I believe I understand your scenario enough to suggest that the 80 intents call the same fulfillment dialog, say `CallSharepointDialog` that accepts the recognized intent as a parameter, and `CallSharepointDialog` can do the work of calling the service wit

[2020-04-28 16:46] #2797 closed

[2020-04-28 16:48] DesignPolice commented on #2127
Hi @liweitian, sorry to cause confusion.

I have made designs for both buttons (New and Last Bot)

The first column is how they appear in Normal view mode, second column is High Contrast and third is Dark Theme.  I will follow up with Fluent team on if we can use Gray, they use it in normal and dark, but not sure on HC - I will follow up today.

thanks
m

[2020-04-28 16:50] cwhitten commented on #2798
@liweitian we see some odd behavior here when creating a new bot in another directory. We're seeing validation errors that shouldn't exist.

![Screen Shot 2020-04-28 at 9 50 13 AM](https://user-images.githubusercontent.com/1156704/80514672-adc71980-8935-11ea-90c3-37a9cfcd1a50.png)

[2020-04-28 16:57] cwhitten opened #2807 "Wrap command bar in overflow set"
Currently as small viewports (>1200px) the Start bot gets cut off and scrolling is not enabled.

[2020-04-28 16:58] cwhitten commented on #2807
https://developer.microsoft.com/en-us/fluentui#/controls/web/overflowset

[2020-04-28 17:12] cwhitten opened #2808 "Electron: update system menu links"
Currently some of the system menus are still the defaults. This issue represents updating those to something useful in the Bot Framework & Composer contexts.

[2020-04-28 17:13] cwhitten opened #2809 "Add Send Activity in Greeting template in samples that are missing it"
Add a placeholder SendActivity in the Greeting template to better show users where they can send content

[2020-04-28 17:16] cwhitten opened #2810 "Revisit option to single-click list items"
Options:

1, Convert one of the rows field to a link
2. Add a new column - "Open" or some derivation of this

I like #1

[2020-04-28 17:26] cwhitten commented on #2791
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2799

[2020-04-28 17:26] #2791 closed

[2020-04-28 17:26] beyackle commented on #2810
Agreed. #2 was the first idea I had, but #1 makes more sense.

[2020-04-28 17:39] beyackle commented on #2792
Just noticed that PR doesn't also add the docs link to the Condition field. I'll fix that.

[2020-04-28 18:05] zxyanliu commented on #2790
Hi @cwhitten
* I filed this issue because we have [an article](https://docs.microsoft.com/en-us/composer/onboarding) on the onboarding experience in Composer and I should update the content that will make sense to our audience.
* I realized the reason why the educational bubbles are pointing to the wrong places: it is because we added the "add" button in the tool bar and the flow to create a new d

[2020-04-28 18:13] cwhitten commented on #2792
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2811

[2020-04-28 18:25] cwhitten opened #2813 "Open from the homepage is broken"

[2020-04-28 19:01] beyackle commented on #2792
This isn't done yet - there still needs to be a fix to the need for a link to the Adaptive Expressions doc. I have a PR for that too that I'll link here.

[2020-04-28 19:18] cwhitten commented on #2813
https://github.com/microsoft/BotFramework-Composer/pull/2812

[2020-04-28 19:18] #2813 closed

[2020-04-28 19:48] DesignPolice commented on #2755
Hey Chris here is the update on this...

We can just change the color **Phase 1** for now, but I have added the **Phase 2** - for reference when we are ready to use the Waffle menu, add Search and take off the Icon.

**Figma Link**

https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=1929%3A13

**Screen Shot**

![Screen Shot 2020-04-28 at 12 43 08 PM]

[2020-04-28 19:52] mareekuh commented on #2755
Thanks @DesignPolice and @cwhitten  - that would be great (Phase 1 for now).

[2020-04-28 20:00] cwhitten commented on #2794
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2796

[2020-04-28 20:00] #2794 closed

[2020-04-28 21:12] #2510 closed

[2020-04-28 21:14] #2802 closed

[2020-04-29 01:07] cwhitten opened #2817 "Expand height of inline monaco editors"
they are too short!

[2020-04-29 04:03] DingmaomaoBJTU opened #2818 "Composer report error when select "false" in if-else step"
## Describe the bug
Composer report error when select "false" in if-else step
![image](https://user-images.githubusercontent.com/16643193/80559795-51392c80-8a11-11ea-8935-919e7277d5d7.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. create a if-else step
2. choose b

[2020-04-29 04:30] xhr0804 commented on #2541
@cwhitten Thanks! For the number prompt, it works, but for the Date Prompt, I still can not use int(). Is there any restrictions for DatePrompt? Actually, when I type in a duration like "30 mins” in the DatePrompt, the value can be an int value here.
![image](https://user-images.githubusercontent.com/44257569/80560692-83985900-8a14-11ea-9bba-5ca114877fd0.png)
![image](https://user-images.githubuse

[2020-04-29 04:44] luhan2017 commented on #2541
@xhr0804, is this blocking? could you please just remove the int() in you DateTimePrompt?
Here is the updated schema for output format, based on the schema, currently the text and datetime only support expressions which result in string type.

TextInput-outputformat
"$ref": "https://raw.githubusercontent.com/microsoft/botframework-sdk/master/schemas/component/definitions.schema#/definitions/**stri

[2020-04-29 04:49] xhr0804 opened #2819 "Value set form disappeared"
## Describe the bug
Value set form disappeared, is this a bug or by design?
![image](https://user-images.githubusercontent.com/44257569/80561575-834d8d00-8a17-11ea-82ec-93c45b74d51d.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. S

[2020-04-29 05:01] hibrenda commented on #2789
This issue also track the configurable section and all related settings to compose default settings page.

[2020-04-29 05:58] xhr0804 commented on #2541
@luhan2017 Sure, it is not blocking and not a hard requirement, we can convert it to int with an additional SetProperty step. Enabling the int() in DatePrompt will just make it easier.

[2020-04-29 06:05] hibrenda opened #2820 "skill page does not work as expected"
![image](https://user-images.githubusercontent.com/43408889/80565140-55ba1100-8a22-11ea-9242-ef083ef4751f.png)

[2020-04-29 06:43] yeze322 commented on #2578
@a-b-r-o-w-n here is the thread about action fly-out menu

[2020-04-29 06:45] cxbuilders commented on #2798
git describe --always -> ac1e959b

Teh application SHA on teh ABout page always just displays test. Guess that's a bug, or am I missing something?

[2020-04-29 07:55] luhan2017 opened #2824 "Add a customized runtime(include action and schema) sample"
## Describe the bug

Synced with Brenda and Dong, here is our proposal.

We can create a sample(bot template) folder with the customization part of the runtime.  Here is the bot looks like:
[code]

With all the customization part in the template, when user create a bot from that template, we will help user copy all the assets above, and user can configure use custom schema, we will help user merge

[2020-04-29 10:16] liweitian commented on #2798
@cwhitten fixed in the above PR

[2020-04-29 12:13] cxbuilders opened #2827 "Script component to run adaptive functions"
## Is your feature request related to a problem? Please describe.

Sometimes you need to run a script that calculates complex data, like parsing a Luis Timex into a format that is appropriate for the bot. This can contain many lines of adaptive functions. Currently I abuse Set Properties to do this, whereby each property is a 'line of code'.

This can then be something like;
this.variable = int(tu

[2020-04-29 12:26] cxbuilders opened #2828 "Publish & Create resource script are missing the \runtime directory"
## Describe the bug

Since having the new /runtime directory for the c# code, the publish and create resource scripts fail as the scripts folder is now under /runtime

1. Go to Configuration -> Publish
2. Click on Create Azure Resources
3. Run scripts
4. See error

## Version

843d639a

[2020-04-29 14:24] cwhitten commented on #2820
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2822

[2020-04-29 14:24] #2820 closed

[2020-04-29 14:53] cwhitten commented on #2819
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2825

[2020-04-29 15:09] benbrown commented on #2824
A few thoughts:

* Bundling code in the templates is not currently well supported. Seems this would require the bot to start out of the box with the ejected runtime.
* I don't think it is a good idea to introduce some way to magically merge codebases. If this is not going to run the normal "managed" runtime, it should be ejected.
* If this is important functionality to demonstrate to our developer

[2020-04-29 15:50] merlinko637 opened #2829 "Conversation loop throws an error code 400"
We tried to implement this specific usecase in our composer solution:

In dialog A when you reach certain point you begin dialog B, then at certain point you begin dialog C and then want to start dialog A again. When trying to run in emulator, it throws an error code 400.

The error message is:
"request to http://localhost:3979/api/messages failed, reason: connect ECONNREFUSED 127.0.0.1:3979"

And

[2020-04-29 16:34] cwhitten commented on #2801
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2816

[2020-04-29 16:34] #2801 closed

[2020-04-29 16:47] ashish315 commented on #2056
Yup! Sounds cool. The user should be able to navigate with arrow key and once hit enter the focus should jump to the opened chart.

[2020-04-29 16:51] cwhitten commented on #2798
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2826

[2020-04-29 16:51] #2798 closed

[2020-04-29 17:10] a-b-r-o-w-n opened #2831 "hoist plugin config into extension package"
Plugins should be managed / exposed through the extension interfaces to be consumed by the visual editor and the form editor.

[2020-04-29 17:29] #2781 closed

[2020-04-29 17:42] cwhitten commented on #2770
addressed via https://github.com/microsoft/BotFramework-Composer/issues/2770

[2020-04-29 17:42] #2770 closed

[2020-04-29 18:11] tonyanziano opened #2832 "Change Composer Electron app menu from default Electron menu"
Currently we do not set the application menu, so Electron uses the default menu which contains links to Electron documentation.

[2020-04-29 18:12] #2808 closed

[2020-04-29 18:12] lauren-mills opened #2833 "UX Issue when creating new dialog using Add button"
## Describe the bug
When I create a new dialog using the "Add" dropdown, then click the "BeginDialog" trigger, it opens a blank page and I can't edit the dialog. If I create the dialog from within a "Begin a new dialog" action with the "Create a new dialog", I can click the BeginDialog trigger and edit it as expected.

## Version

Application SHA
test
SDK runtime packages
4.7.0-preview-191208-1

(

[2020-04-29 18:21] benbrown opened #2835 "Clean out unused code in assetManager model"
There is some code in the assetManager model that overlaps with the eject function and is most likely not used anymore. We should clean this out and/or make sure it is in alignment with the way eject works.

In particular:

* copyRuntimeTo()
* runtimeTemplates[]
* getProjectRuntime()

[2020-04-29 19:44] cwhitten commented on #2451
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2837

[2020-04-29 19:44] #2451 closed

[2020-04-29 20:12] cwhitten commented on #2755
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2779

[2020-04-29 20:12] #2755 closed

[2020-04-29 20:18] a-b-r-o-w-n commented on #2819
Re-opening because this property has been removed from some inputs and shows up when it shouldn't.

cc @alanlong9278 @cwhitten

[2020-04-29 20:21] cwhitten commented on #2819
Can we just hide it in from the ChoiceInput form?

[2020-04-29 20:25] a-b-r-o-w-n commented on #2819
This could be due to an error in the schema. @chrimc62 is checking on that.

[2020-04-29 20:58] cwhitten commented on #2832
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2834

[2020-04-29 20:58] #2832 closed

[2020-04-29 21:17] cwhitten commented on #2809
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2836

[2020-04-29 21:17] #2809 closed

[2020-04-29 21:24] vishwacsena commented on #2541
@luhan2017 I'm open to making this expression but this would not be a ship stopper for R9. @tomlm for his input as well.

[2020-04-29 21:35] a-b-r-o-w-n opened #2839 "EmitEvent custom event field missing"

[2020-04-29 21:42] a-b-r-o-w-n commented on #2819
@vishwacsena has confirmed that this is a bug in the schema. I'll close this now and we'll update the schema when fixed

[2020-04-29 21:43] #2819 closed

[2020-04-29 22:18] carlosscastro opened #2840 "[DCR] Bot runtime directory structure changes"
Suggesting to change the concept of BotProject to bot runtime conceptually, since it seems like a more appropriate name.

As part of an effort to get Azure Functions integrated into composer I'm shuffling things around, and it marks a good time to re-think the folder structure for the bot runtime.

Proposed folder structure:

- **runtime/dotnet/** Dotnet root
- **runtime/dotnet/core/** Dotnet core

[2020-04-29 22:18] carlosscastro commented on #2840
@luhan2017 @benbrown @cwhitten

[2020-04-29 23:15] cwhitten commented on #2789
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2800

[2020-04-29 23:15] #2789 closed

[2020-04-29 23:17] #2720 closed

[2020-04-29 23:17] #2839 closed

[2020-04-29 23:31] compulim commented on #2840
Will be even more awesome if we name the technology using their official branding, i.e.

* runtime/dotnet/**azurefunctions**
* runtime/js/**azurewebapps**

This will reduce confusion when people try to host `webapp` on Heroku, for example. And also encourage people to bring in more platforms.

We should also consider if it should be `js` or `nodejs`. tl;dr I think `js` is awesome.

* `js` implies

[2020-04-29 23:33] sangwoohaan opened #2841 "Send a response action gets created with Send an Activity as the name"
![Screen Shot 2020-04-29 at 4 32 27 PM](https://user-images.githubusercontent.com/50963385/80656838-07fbd380-8a37-11ea-8dc2-e95858530c73.png)
When a Send a response action gets created, the name field on the property pane says Send an Activity. But the node title says Send a response.

[2020-04-29 23:37] cwhitten commented on #2327
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2815

[2020-04-29 23:37] #2327 closed

[2020-04-29 23:43] carlosscastro commented on #2840
Great insights.

I like this:

runtime/dotnet/azurefunctions
runtime/js/azurewebapp

Not sure about casing for `someOtherTechnology`. `lowercaseeverytyhing` looks good on things like `azurewebapp` and `azurefunctions`

[2020-04-30 00:42] boydc2014 commented on #2824
We just discussed this in today's standup, the `intended user experience` is for user, just choose a "customized schema sample" and it just work. That's the first thing to clarify.

So, in order to make this experience work, what's required would be
1. update the ejection to be merge instead of "replace"
2. trigger an auto-ejection after creation. This is one is tricky, because our ejection requir

[2020-04-30 01:30] cwhitten commented on #2818
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2821

[2020-04-30 01:30] #2818 closed

[2020-04-30 04:22] cwhitten commented on #2824
We talked about it tonight--everyone is in agreement that adding a boilerplate custom action to the base runtime template is a good idea. it's much easier and we think a better all-around customer experience.

Great ideas!

[2020-04-30 05:42] carlosscastro commented on #2840
Note that this DCR includes the renaming of the github label `Area: BotProject`. Proposed value for consistency is `Area: Bot Runtime` or `Area: Runtime`. Bot runtime sounds less open to confusion with the composer runtime itself (i.e. the composer server). Opinions welcome :)

[2020-04-30 06:54] cxbuilders opened #2843 "Create Azure Resources fails"
## Describe the bug

For a new bot when running Create Azure Resources it fails with the following error:
Set-Location: Cannot find path 'C:\Temp\BotFrameworkComposer\BotFramework-Composer\Composer\plugins\localPublish\hostedBots\15143.22364462799' because it does not exist.

## Version

75362387

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X ] Edge

## OS

- [ ] macOS
- [ X] Windows
-

[2020-04-30 07:18] luhan2017 commented on #2840
That looks good to me. This new structure might impact the current implementation of bot folder reference, appsettings.json reference, also some copying logic in local and azure publish plugins, but they are all expected. Can't wait for your cool feature, go go go @carlosscastro

[2020-04-30 08:07] cxbuilders commented on #2843
Figured out that the the bot in the hostedBots folder gets created after you run the bot once. However I have an existing bot and installed an new version of composer. I cannot run the bot as it uses Luis, so needs to be deployed first. Bit of catch22

[2020-04-30 10:40] hibrenda commented on #2843
@cxbuilders  you can create a new bot and just copy the bot asset files to replace the new created one. then click start bot. it will eject the new runtime structure for you. by the way make sure you include following in the setting page before you click the start button. otherwise you will hit https://github.com/microsoft/BotFramework-Composer/issues/2763
[code]

[2020-04-30 11:12] hibrenda commented on #2833
sounds like you hit https://github.com/microsoft/BotFramework-Composer/issues/2775. it has already been fixed.

[2020-04-30 11:56] yeze322 commented on #2578
#2806

[2020-04-30 11:57] yeze322 commented on #2209
#2844

[2020-04-30 12:18] yeze322 commented on #2578
Plan

Zeye needs to deliver the mechanism for custom actions to show up in the action flyouts in a new “catch all” for custom actions

[2020-04-30 12:20] boydc2014 commented on #2835
Hey, @benbrown , i cleaned it in this https://github.com/microsoft/BotFramework-Composer/pull/2805, my plan is to include your biolerplate also with plugin, make sense?

[2020-04-30 12:22] boydc2014 commented on #2763
We should just add guard on null, @VanyLaw can you check this?

[2020-04-30 12:38] hibrenda commented on #2828
you can goto runtime folder to run the script. could you have a try ?

[2020-04-30 12:58] cxbuilders commented on #2828
that's of course what I do now, just filing the bug here..

[2020-04-30 13:01] hibrenda commented on #2828
Do you create a new bot and copy all the legacy bot asset and then start the bot to eject the new runtime?

[2020-04-30 13:20] cxbuilders commented on #2828
I don't understand. This is clearly a bug, why would it be a question?

[2020-04-30 15:22] cwhitten commented on #2209
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2844

[2020-04-30 15:22] #2209 closed

[2020-04-30 15:30] #1074 closed

[2020-04-30 16:56] benbrown commented on #2840
Looks grrrrrrrrreat!

[2020-04-30 18:45] cwhitten commented on #957
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2712

[2020-04-30 18:45] #957 closed

[2020-04-30 18:46] cwhitten commented on #2578
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2806

[2020-04-30 18:46] #2578 closed

[2020-04-30 18:53] beyackle commented on #2810
Okay, this turns out to be an easy fix. I'll have a PR up for it shortly.

[2020-04-30 18:59] sangwoohaan opened #2845 "Consolidate labeling in the property & visual editors"
![Screen Shot 2020-04-29 at 12 52 57 PM](https://user-images.githubusercontent.com/50963385/80748429-c2441700-8ad9-11ea-9f82-1e28dfe87038.png)

Currently, we are displaying the default name of an action in the secondary label. As a result, when you first created an action node you get duplicate names in the main label and the secondary label. Let's change the secondary label content to the raw con

[2020-04-30 20:13] a-b-r-o-w-n commented on #1736
We are tracking this feature in #2394

[2020-04-30 20:13] #1736 closed

[2020-04-30 20:16] a-b-r-o-w-n commented on #2253
@hibrenda

Is this a requirement? Or should the data flow go the other way? (Changing the name of the dialog updates that field?).

[2020-04-30 20:17] #1935 closed

[2020-04-30 20:20] a-b-r-o-w-n commented on #1319
@boydc2014 is this still needed? I think the LG editor supports this now.

[2020-04-30 20:21] #1091 closed

[2020-04-30 20:50] beyackle commented on #2810
Could we get this added to some board or other so we can mark it in-review/closed as appropriate?

[2020-04-30 21:41] zxyanliu opened #2849 "A minor issue in the Empty Bot example"
## Describe the bug
I created an EmptyBot using the EmptyBot sample.
There is a **Send a response** action (which does not exist in the previous releases) in the Greeting's trigger.
I tried to edit the LG in the **Send a response** action and generated an error.
I was updating this [doc](https://docs.microsoft.com/en-us/composer/tutorial/tutorial-create-bot).

![error](https://user-images.githubus

[2020-04-30 21:59] cwhitten commented on #2810
done!

[2020-04-30 21:59] #2810 closed

[2020-04-30 22:46] carlosscastro opened #2852 "[DCR] Interchangeable Runtimes: definition, requirements, commands and code impact"
Currently composer supports a single runtime for Azure deployment, local ejection and local execution. The only choice of runtime is in C# and using Asp.Net Core web apps. Conceivably, Composer should be runtime agnostic, and as should be Composer code with the exception of the plugins. At the code level, this means evaluating lots of assumptions such as removing direct calls to dotnet build / run

[2020-04-30 22:46] carlosscastro commented on #2852
@cwhitten @benbrown FYI this is Post R9 but wanted to run it by you early.

[2020-05-01 00:00] sangwoohaan opened #2853 "Emit a custom event - Event name - choosing built-in event option freezes and crashes the browser window"
## Describe the bug

## Version

## Browser

- [x] Chrome
- [x] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create Emit a custom event action node
2. (On the property editor) Under Event name field, choose built-in event option from the dropdown on the right
3. As soon as you click the option, the browser win

[2020-05-01 00:17] ashish315 commented on #2062
Agree with @alanlong9278 So HCL is closing the issue.

[2020-05-01 00:17] #2062 closed

[2020-05-01 00:25] ashish315 commented on #2053
As checked the issue is resolved. So, HCL is closing the issue.

[2020-05-01 00:25] #2053 closed

[2020-05-01 02:34] ashish315 commented on #2020
As UI is updated and bug is resolved. So, HCL closing this issue.

[2020-05-01 02:34] #2020 closed

[2020-05-01 02:37] ashish315 commented on #2091
@cwhitten Will check with Fluent UI team and update you.

[2020-05-01 02:39] ashish315 commented on #2052
As checked the issue is resolved. So, HCL is closing the issue.

[2020-05-01 02:39] #2052 closed

[2020-05-01 02:45] ashish315 commented on #2019
As checked the issue is resolved, so HCL is closing the issue.

[2020-05-01 02:46] #2019 closed

[2020-05-01 02:53] ashish315 commented on #2022
As checked the issue is resolved now. So, HCL is closing the issue.

[2020-05-01 02:53] #2022 closed

[2020-05-01 02:57] ashish315 commented on #2124
As checked the issue is resolved. So HCL is closing the bug

[2020-05-01 02:57] #2124 closed

[2020-05-01 03:02] ashish315 commented on #2055
@cwhitten As checked issue still repro.

[2020-05-01 03:06] ashish315 commented on #2011
As checked the issue is resolved. So HCL is closing the issue.

[2020-05-01 03:06] #2011 closed

[2020-05-01 03:08] #2792 closed

[2020-05-01 03:11] ashish315 commented on #2079
As checked issue is resolved So HCL is closing the issue.

[2020-05-01 03:11] #2079 closed

[2020-05-01 04:24] ashish315 commented on #2068
As checked the issue is resolved. So, HCL is closing the bug.

[2020-05-01 04:24] #2068 closed

[2020-05-01 04:28] ashish315 commented on #2082
As checked the issue is resolved. So, HCL is closing the issue.

[2020-05-01 04:28] #2082 closed

[2020-05-01 04:35] ashish315 commented on #2027
As checked the issue is resolved. So, HCL is closing the issue.

[2020-05-01 04:35] #2027 closed

[2020-05-01 04:53] liweitian commented on #2055
@ashish315
[narrator_filter_dialog.zip](https://github.com/microsoft/BotFramework-Composer/files/4562536/narrator_filter_dialog.zip)
I think the narrator works as expected. Is there anything I missed here?

[2020-05-01 04:57] ashish315 commented on #2067
As checked the issue is resolved, so closing the bug.

[2020-05-01 04:57] #2067 closed

[2020-05-01 05:06] ashish315 commented on #2026
As checked issue is resolved, now the narrator narrates descriptive information about table header. So, HCL is closing the bug

[2020-05-01 05:06] #2026 closed

[2020-05-01 05:21] ashish315 commented on #2055
@liweitian agree with you. the issue is resolved now. So, we are closing the issue.

[2020-05-01 05:21] #2055 closed

[2020-05-01 06:00] ashish315 opened #2854 "[Accessibility][Screen Readers-Filter Dialog] : Search results of filter dialogs is not accessible with down arrow key."
**User Experience**
If a screen reader will not provide any incorrect way to reach to the search result, the screen reader dependent user will not be able to access the seach result.

**Test Environment**
Browser: Microsoft Edge Dev Version: 84.0.495.2 (Official build)
OS build: 2004 (19562.1000)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequis

[2020-05-01 06:41] ashish315 commented on #2049
As checked it still repro.

[2020-05-01 08:16] cxbuilders opened #2857 "Ability to rename triggers"
## Is your feature request related to a problem? Please describe.

When creating new triggers it is not possible to rename them. Especially wjen using multiple custom events to trigger dialogs the trigger name Custom event is not very useful.

## Describe the solution you'd like

Ability to rename triggers, probably by clicking on the trigger name when editing the trigger, or / and by clicking on

[2020-05-01 08:51] cxbuilders opened #2858 "Bot with Luis throws 500 error once deployed on Azure"
A bot that does not have Luis enabled runs fine on Azure once it has been deployed. However when switching on Luis as the recognizer type and deploying the bot to Azure, it fails with a status code 500:
_**D:\home\site\wwwroot\ComposerDialogs\mybot.dialog error: Failed to find resource named mybot.lu.dialog or mybot.lu.**_

(Hunch) It seems it is missing the en-us in the filename, as that one does

[2020-05-01 10:01] darrenj commented on #2828
The UX is missing the runtime folder on the directory - needs updating

![image](https://user-images.githubusercontent.com/33519520/80797961-0ba86b00-8b9b-11ea-85a8-fd3992d00c4d.png)

[2020-05-01 10:06] darrenj commented on #2763
I ran into this as well - thanks @luhan2017. Falling back to the above defaults would help with customers who have existing projects and I assume any samples

[2020-05-01 12:04] darrenj opened #2859 "ToDo Sample has LG issue"
## Describe the bug

When creating a new project based on the Todo with LUIS sample. When you type `Show` you get an LG error.

[code]

## Version

test
4.7.0-preview-191208-1

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x ] Edge

## OS

- [ ] macOS
- [x ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a new ToDo with LUIS project
2. Publish
3. Type `

[2020-05-01 14:29] cwhitten commented on #2763
totally agree. we will protect backwards compat. and provide migration options in these scenarios post GA.

[2020-05-01 16:15] cwhitten commented on #2849
Todo:

- Fix the EmptyBot & EchoBot samples to utilize the inline SendActivity template and _call_ the resuable WelcomeUser lg template
- In all samples, change name of reusable LG template from help to WelcomeUser and update any callsites where help is invoked to WelcomeUser

[2020-05-01 18:30] vishwacsena opened #2862 "Composer Electron app - start bot fails (bot has LU content)"
# Describe the bug
- Created a new bot
- Add some OnIntent triggers with LU content
- Provide LUIS authoring key and click on start bot

## Version
- Composer app.
Application SHA
test
SDK runtime packages
4.7.0-preview-191208-1

## OS
- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Launch composer electron app
2. Create a new bot
3. Add one or more tr

[2020-05-01 18:51] cwhitten commented on #2862
@srinaath is looking at this

[2020-05-01 22:03] beyackle opened #2866 "fragile e2e test - Notifications view"
## Describe the bug

Our e2e tests are a little fragile when it comes to finding the Notifications view; they're looking for the little "2 ⨂" icon in the top bar and often not finding it. Searching for the Notifications icon in the left-hand Nav bar should be less prone to failure, since it's not likely to have been scrolled off to the right somewhere.

## Expected behavior

E2E tests should pass

[2020-05-01 22:42] cwhitten commented on #2849
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2864

[2020-05-01 22:42] #2849 closed

[2020-05-02 01:56] vishwacsena opened #2867 "Composer electron app freezes when clicking on ConfirmInput"
##  Describe the bug

Add a confirm input action to canvas. Select it to view the form editor, click on `Bot asks` node on the flow canvas, click on `User input` in the flow canvas.

## Version
Composer electron app latest build.

Application SHA
test
SDK runtime packages
4.7.0-preview-191208-1

## OS
- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

1. Create a bot from scratch
2. Select t

[2020-05-02 08:38] EPinci opened #2868 "Wrong runtime directory"
## Describe the bug

In the "bot runtime settings", once activated the custom runtime, clicking on the link "get a new copy of the runtime code" and selecting "csharp" results in an error dialog with:

[code]

## Version

d749977

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [X] Windows app

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

[2020-05-02 21:01] cwhitten commented on #2867
This is reproduced on web. So far I've found the following:

[code]

I've been able to track this down to https://github.com/microsoft/BotFramework-Composer/blob/master/Composer/packages/extensions/adaptive-form/src/utils/resolveFieldWidget.ts, this is getting invoked infinitely.. @a-b-r-o-w-n any ideas?

[2020-05-03 00:46] vishwacsena opened #2869 "Copy paste is broken"
## Describe the bug
Copy (or cut) followed by paste is broken in master. Paste results in a blank node inserted on canvas.

Can repro this in both latest master branch as well as in latest electron app

## To Reproduce

1. Create a flow
2. Select one or more actions
3. Click on cut or copy
4. Switch to a different flow and click on [+] -> paste

[2020-05-03 01:36] vishwacsena opened #2870 "Start bot broken for a bot that has LU information"
## Describe the bug

Latest in master.
Open a bot that has LU information
Click Start bot.
App is stuck. See attached video.

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open attached bot.
2. Click on start bot

[Sample bot](https://github.com/vishwacsena/composer-build-2020/tre

[2020-05-03 02:12] a-b-r-o-w-n commented on #2867
I'll fix this tomorrow.

[2020-05-03 04:11] vishwacsena commented on #2867
Also happens for HttpAction

[2020-05-03 04:16] vishwacsena commented on #2867
I'm unable to make progress on my build demo videos. @a-b-r-o-w-n or @cwhitten can you help me get set up with a patch? Thanks much!

[2020-05-03 04:57] a-b-r-o-w-n commented on #2867
Looking at this now.

[2020-05-03 05:28] a-b-r-o-w-n commented on #2867
@vishwacsena Can you try on that PR I created?

[2020-05-03 05:47] vishwacsena commented on #2867
@a-b-r-o-w-n building now...

[2020-05-03 08:18] #2867 closed

[2020-05-03 08:53] boydc2014 commented on #2870
After some digging, the start bot feature in Windows is now broken, see https://github.com/microsoft/BotFramework-Composer/pull/2861#issuecomment-623077033.

Can you use Mac to work around now?

[2020-05-03 09:40] boydc2014 commented on #2870
@vishwacsena  can you try https://github.com/microsoft/BotFramework-Composer/pull/2873

[2020-05-03 15:42] cwhitten commented on #2870
i went ahead and took https://github.com/microsoft/BotFramework-Composer/pull/2873

[2020-05-03 16:10] #2870 closed

[2020-05-04 03:23] cwhitten opened #2875 "Improve SendActivity word wrap"
## Is your feature request related to a problem? Please describe.

SendActivity body text doesn't wrap intelligently

## Describe the solution you'd like

I'd like SendActivity text to break to a new line instead of splitting a word

## Additional context

See attached
![Screen Shot 2020-05-03 at 8 20 17 PM](https://user-images.githubusercontent.com/1156704/80934185-d9099880-8d7b-11ea-9f10-7e64ed6

[2020-05-04 14:37] darrenj commented on #2858
I can repro this too. First part of the issue is that the deploy script for some reason is not publishing the `generated` folder up to Azure. Using kudu I was able to create a `generated` folder under ComposerDialogs and drag-drop the files which moved the problems forward.

Moved the issue further - configuration information seems not to be present now, get this when LuisRecognizer is called: `""

[2020-05-04 14:39] nvikey opened #2876 "communicate with a sharepoint list from composer"
Hi, did anyone try to communicate with a SharePoint list from composer? Which api to choose? I keep getting 401 error always for rest api call to sharepoint. Any idea is appreciated? Or is it possible to pass credentials for a web request?

[2020-05-04 15:03] cwhitten opened #2877 "SetProperties value is often '?' in node and the wrong type in form"
See attached. The Value property doesn't appear to serialize correctly. Schema mismatch?
![Screen Shot 2020-05-03 at 8 25 58 PM](https://user-images.githubusercontent.com/1156704/80980671-c627b000-8ddd-11ea-94d6-d57bc269a9bf.png)

Todo:
- [ ] do not remove empty objects/arrays that are user-inputted

[2020-05-04 15:05] cwhitten opened #2878 "QnAMaker form not rendering"
See attached.
![Screen Shot 2020-05-04 at 8 04 34 AM](https://user-images.githubusercontent.com/1156704/80980782-e9525f80-8ddd-11ea-95ad-c236cb185cdb.png)

[2020-05-04 15:10] cwhitten commented on #2829
Hello @merlinko637 I believe you may have an error in your bot configuration. It appears as though you have some connection issues testing your bot. The scenario you mention is fully supported.

I'd recommend starting small and testing in small increments as you build the bot's logic so any errors introduced have a small surface area.

Closing this as a "how-to". Please use stack overflow for thes

[2020-05-04 15:10] #2829 closed

[2020-05-04 15:30] cwhitten opened #2879 "Dynamic flow positioning layout in visual editor"
Currently the flow is positioned statically on the canvas. This is centered and is optimized for small, mostly linear flows. Flows that grow in breadth are unable to utilize the space given to the flow editor and requires users to scroll.

An optimization I'd like to add is to reposition the flow to be left-aligned instead of centered when a flow with breadth is rendered, or a combination of gradu

[2020-05-04 15:51] zxyanliu opened #2880 "Does main dialog have a .Main extension now?"
In R8 and previous releases, the main dialog has a **.Main** extension after creation. This feature is gone for the latest master branch. Are we deprecating this feature for this release?

**Screenshots:**

* Previous release:
![main-and-child-dialog](https://user-images.githubusercontent.com/32497439/80985508-2b7e9f80-8de4-11ea-97c5-a3b0fcbddb1d.png)

* Current master branch:
![image](https://use

[2020-05-04 15:58] cwhitten commented on #2880
Hi @zxyanliu. "Main" is no longer represented in the UI. It is only the Bot's name.

[2020-05-04 16:00] #2866 closed

[2020-05-04 16:10] beyackle commented on #2859
Taking a look at this now. From the error messages it looks like a problem in just the one LG file.

[2020-05-04 16:15] zxyanliu commented on #2880
Ok. So the dialog on top is the main dialog, right?
I will update this in the [dialog concept](https://docs.microsoft.com/en-us/composer/concept-dialog) article. Thanks.

[2020-05-04 16:15] #2880 closed

[2020-05-04 16:35] cwhitten opened #2881 "Cannot correctly edit a form header"
If you backspace on the editable field, it resets to the original value

Additionally, the field is not populated with the correct overridden value when it exists. (See attached)

![Screen Shot 2020-05-04 at 9 36 38 AM](https://user-images.githubusercontent.com/1156704/80990174-d1cda380-8dea-11ea-993c-a877e9766a8b.png)

[2020-05-04 16:39] cwhitten opened #2882 "Focus indication in Electron is not consistent"
At least on Mac. See attached for a couple examples.

![Screen Shot 2020-05-04 at 9 38 07 AM](https://user-images.githubusercontent.com/1156704/80990406-24a75b00-8deb-11ea-9a16-f7d9207c7b02.png)

![Screen Shot 2020-05-04 at 9 38 18 AM](https://user-images.githubusercontent.com/1156704/80990380-16f1d580-8deb-11ea-9c80-bb23852bc003.png)

[2020-05-04 16:46] ericchansen commented on #2858
I am experiencing the same issue. I'm also not sure where I would add this configuration info, ex. the LUIS app ID.

[2020-05-04 16:48] ericchansen commented on #2784
@manvendrautralia Can you please provide an example of your configuration file? I'd like to know the structure of your JSON.

[2020-05-04 16:50] cwhitten commented on #2841
I've also seen in a couple areas that overridden labels are not getting applied. See attached. Adaptive Dialog should actually say the name of the Bot (TodoWithLuis)

![Screen Shot 2020-05-04 at 9 49 18 AM](https://user-images.githubusercontent.com/1156704/80991276-9c29ba00-8dec-11ea-8153-77260a4e3e0b.png)

[2020-05-04 17:00] a-b-r-o-w-n commented on #2853
fixed in #2871

[2020-05-04 17:00] #2853 closed

[2020-05-04 17:11] a-b-r-o-w-n commented on #2878
@vishwacsena The QnAMakerDialog is missing from our latest schema.

[2020-05-04 17:13] vishwacsena commented on #2878
@a-b-r-o-w-n The schemas moved out of adaptive and into the QnA maker library .. they are here. https://github.com/microsoft/botbuilder-dotnet/tree/master/libraries/Microsoft.Bot.Builder.AI.QnA/Schemas

I'm not familiar with how you pick up the component schema definitions. Does this work or do you need an SDK side fix?

[2020-05-04 17:14] a-b-r-o-w-n commented on #2878
I think we just run `bf dialog:merge` in the sdk repo. @luhan2017 Can you update the schema with the qna dialog?

[2020-05-04 17:16] tonyanziano commented on #2868
Working with @benbrown to fix this

[2020-05-04 17:21] a-b-r-o-w-n commented on #2841
@cwhitten that particular issue is due to malformed dialog data.

[2020-05-04 17:21] a-b-r-o-w-n commented on #2841
@sangwoohaan what is the suggestion here? Which label should we use?

[2020-05-04 17:23] a-b-r-o-w-n commented on #2881
duplicate of #2662

[2020-05-04 17:23] #2881 closed

[2020-05-04 17:26] cwhitten commented on #2841
@a-b-r-o-w-n the example was a vanilla creation from sample. it's unclear what is malformed.

[2020-05-04 17:28] a-b-r-o-w-n commented on #2841
The sample has

[code]

I will update it.

[2020-05-04 17:38] a-b-r-o-w-n opened #2884 "Need to synchronize intent name with form title"
## Describe the bug

When creating a new trigger, the name of the trigger should be serialized into the $designer field.
Then in the form, editing the form title should update the intent name.

[2020-05-04 17:44] #2859 closed

[2020-05-04 18:48] darrenj opened #2886 "Azure deployment of Composer bot results in LUIS configuration issue"
## Describe the bug

Testing a Composer based Bot that uses LUIS locally works fine however when publishing to Azure *(using previous publish script) or the [new publish capability](https://github.com/microsoft/BotFramework-Composer/pull/2733) results in a Bot that when tested through Emulator that works fine until LUIS is used at which point it throws this error

[code]

## Version

`test`
master

[2020-05-04 20:04] a-b-r-o-w-n commented on #2877
Note:

Today we currently remove any empty object and empty arrays in `sanitizeDialogData`. We could update that function to also look at the schema to determine whether or not we want to do that.

Another option is to have default serializers in the form that do the sanitization work which can be overridden on a per-property basis.

[2020-05-04 20:42] cwhitten commented on #2868
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2887

[2020-05-04 20:42] #2868 closed

[2020-05-04 20:56] beyackle commented on #2122
I'm picking this back up again to see if we can finally close it.

[2020-05-04 21:44] a-b-r-o-w-n opened #2889 "Use ui plugin / ui schema for trigger creation modal"
related to #2845

[2020-05-04 22:37] mareekuh commented on #2573
@a-b-r-o-w-n  and @DesignPolice   is this closed or is this done in the build?

[2020-05-04 22:40] a-b-r-o-w-n commented on #2573
This has not been worked on. I have been focused on issues with the R9 label so this hasn't been on my radar.

[2020-05-04 22:40] mareekuh commented on #2044
@a-b-r-o-w-n  - I think I need more info to understand what it is your'e trying to do

[2020-05-04 22:42] a-b-r-o-w-n commented on #2044
@mareekuh there is an EditActions in the sdk which currently has no visual design for. We decided a while back that new actions should only ever be created from the visual editor, but the visual editor does not yet have support for this for EditActions.

[2020-05-04 22:43] a-b-r-o-w-n commented on #2044
Here is the schema for the action: https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EditActions.schema

[2020-05-05 05:00] manvendrautralia commented on #2784
{
  "MicrosoftAppId": "XXXXXXX",
  "MicrosoftAppPassword": "XXXXXXX",
  "bot": "ComposerDialogs",
  "luis": {
    "authoringKey": "XXXXXXX",
    "endpointKey": "XXXXXXX",
    "region": "westus"
  },
  "blobStorage": {
    "connectionString": "DefaultEndpointsProtocol=https;AccountName=XXXXXXXtesting;AccountKey=XXXXXXX;EndpointSuffix=core.windows.net",
    "container": "transcripts"
  },
  "applica

[2020-05-05 05:01] manvendrautralia commented on #2784
{
  "MicrosoftAppId": "XXXXXXX",
  "MicrosoftAppPassword": "XXXXXXX",
  "bot": "ComposerDialogs",
  "luis": {
    "authoringKey": "XXXXXXX",
    "endpointKey": "XXXXXXX",
    "region": "westus"
  },
  "blobStorage": {
    "connectionString": "DefaultEndpointsProtocol=https;AccountName=XXXXXXXtesting;AccountKey=XXXXXXX;EndpointSuffix=core.windows.net",
    "container": "transcripts"
  },
  "applica

[2020-05-05 05:44] pradeeprajendran opened #2892 "Recognizer text editor not visible"
## When choosing the Language Recognizer Type as 'Luis' or 'Regex', the text editor is not visible.

## Version

## Browser

- [x ] Chrome
- [ ] Safari
- [ ] Firefox
- [x ] Edge

## OS

- [ ] macOS
- [x ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Main Dialog
2. Choose Recognizer type as luis or Regular Expression

## Expected behavior
Show text editor as sho

[2020-05-05 05:51] pradeeprajendran opened #2893 "Need ability to add existing LUIS app to composer"
## Is your feature request related to a problem? Please describe.
I have existing trained LUIS models I need to be able to use in composer

## Describe the solution you'd like
1)Ability to provide existing LUIS app details to the composer
2) Composer should then expose the LUIS app models in markdown format for editing/updating

## Describe alternatives you've considered
I tried updating the appse

[2020-05-05 11:47] darrenj commented on #2886
Update. I deleted the existing RG in case it was causing problems and created a new deployment which showed the same issue.

Observations (with the latest azure publishing code)

- DeploymentTemplates no longer exists within the runtime\azureWebApp folder or indeed anywhere within the hostedBots folder hierarchy. I sourced and manually put within the runtime\azureWebApp folder and ran create.ps1
-

[2020-05-05 14:40] cwhitten commented on #2893
Hello @pradeeprajendran and thank you for the issue.

In order to use existing LUIS models, you need to export the model as .lu from the portal and move its contents into a Composer bot, which will republish and generate new LUIS applications.

[2020-05-05 14:47] cwhitten commented on #2892
Hello @pradeeprajendran. The docs you link to are out of date. To see the recognizer text you need to select the trigger in which handles the intent.

![Screen Shot 2020-05-05 at 7 47 22 AM](https://user-images.githubusercontent.com/1156704/81079682-b32be300-8ea4-11ea-991e-491a95c32fb9.png)

[2020-05-05 14:47] #2892 closed

[2020-05-05 14:48] #2893 closed

[2020-05-05 14:51] #2833 closed

[2020-05-05 14:52] #2793 closed

[2020-05-05 14:53] cwhitten commented on #2795
No short term plans to improve this at the moment. Closing.

[2020-05-05 14:53] #2795 closed

[2020-05-05 14:55] cwhitten commented on #2696
To implementer:

When not the entry dialog, navigate to the dialog's BeginDialog trigger when selected from the nav.

[2020-05-05 14:56] cwhitten commented on #2636
I've added the ability for custom names, closing this as complete.

[2020-05-05 14:56] #2636 closed

[2020-05-05 14:58] cwhitten commented on #2599
@zidaneymar have you been able to do any additional investigation?

[2020-05-05 15:01] cwhitten opened #2895 "Memory tracking no longer works"
a regression has been introduced that removed the ability to see active memory in the LG LSP

[2020-05-05 16:21] cwhitten commented on #2790
additional items to address:

1. the homepage ref isn't rendering correctly.
2. for new composer installations, the default onboarding state should be _on_

[2020-05-05 16:23] pradeeprajendran commented on #2893
Thanks. Would this be a future enhancement? I have the same LUIS models being used by multiple apps so generating new LUIS Applications will be hassle to update in all other apps.

[2020-05-05 16:23] pradeeprajendran commented on #2892
Thanks. Should this be a documentation bug?

[2020-05-05 16:40] cwhitten commented on #2862
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2894

[2020-05-05 16:40] #2862 closed

[2020-05-05 16:46] a-b-r-o-w-n commented on #2620
@cwhitten I think this has already been done. I will confirm today.

[2020-05-05 16:58] a-b-r-o-w-n commented on #2884
related to #2662

[2020-05-05 17:29] a-b-r-o-w-n commented on #2620
This has already been addressed in #2842

[2020-05-05 17:29] #2620 closed

[2020-05-05 18:07] #2662 closed

[2020-05-05 18:07] #2841 closed

[2020-05-05 20:24] cwhitten opened #2896 "Updates to ejected /schemas folder"
1.  update readme.md to explain custom actions and define prerequisites better
2. add a .sh file with same behavior as the .cmd file
3. update the dialog:merge command to work with the current /runtime folder (does not work today)

[2020-05-05 20:30] #2461 closed

[2020-05-05 20:30] #2757 closed

[2020-05-05 20:44] cwhitten opened #2897 "SkillDialog form update"
Given the skill manifest, provide a select control of available activities to send to the skill

ex.
\- ${turn.activity.text}

[ Activity type=...]

etc

These would be templates that the from serialized into the Activity field that users could then modify if they wanted to.

[2020-05-05 21:30] beyackle commented on #2538
@ashish315 Could I get a re-check on this? The Insights tool isn't complaining about the above any more.

[2020-05-05 22:56] beyackle commented on #2080
@cwhitten @zxyanliu @DesignPolice Where are we on this? If there's something that needs fixing I'd like to be able to clear this ticket out, but I need guidance on what.

[2020-05-06 00:24] DesignPolice commented on #2080
Hey Ben,

Yes this is ready to go, from what I was able to understand, is that in the code on the site these areas need to have titles for a Screen Reader. @mareekuh outlined the areas and gave them names, The visual key is just to make sure you can tell what area is what.

I will be around if you have more questions, just ping me, I'm working on Build stuff.

[2020-05-06 00:41] #2882 closed

[2020-05-06 00:42] beyackle commented on #2080
Okay, I see exactly what needs doing now. I'll knock this out in the morning.

[2020-05-06 01:27] boydc2014 opened #2901 "Manage plugins in yarn workspace"
Composer/plugins is not include in yarn workspace today

[2020-05-06 02:34] yeze322 commented on #2879
I can implement the 'gradual left alignment'.

[2020-05-06 02:35] yeze322 commented on #2869
investigating

[2020-05-06 03:06] xhr0804 opened #2903 "edit box of begin dialog options error"
## Describe the bug
Previously we can edit the options for the begin dialog in the edit box, but now we can not do it and shows like:
![image](https://user-images.githubusercontent.com/44257569/81134887-bac4b800-8f88-11ea-8052-985bfe00ee22.png)

## Version
"28b129a3f50a97d58e704e"

## Browser

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To

[2020-05-06 04:08] boydc2014 commented on #2625
We can expand the scope to include structural changes, the simplest solution could be just add a `version.txt` file and detect the mismatch there.

[2020-05-06 05:05] yeze322 opened #2907 "Cannot use multi-selection when Visual Editor container is focused"
## Describe the bug
Observed by Brenda after #2898 merged.
![bug-focus-beh](https://user-images.githubusercontent.com/8528761/81139937-2b280500-8f9a-11ea-8ad8-86530aa72b1a.gif)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down

[2020-05-06 05:05] yeze322 commented on #2907
@hibrenda

[2020-05-06 05:06] boydc2014 commented on #2627
FYI @cwhitten, i reopened this one for Leilei and add this to R9-RC board.

[2020-05-06 05:16] hibrenda commented on #1220
https://github.com/microsoft/BotFramework-Composer/issues/2671

[2020-05-06 05:53] yeze322 commented on #2907
This issue was linked to a wrong PR 2908 but I cannot unlink it. It's a github bug.
If it's auto closed by 2908, we need to reopen it.

[2020-05-06 06:21] zidaneymar commented on #2886
Hi @darrenj , I test the publishing feature with lastest master todo luis bot but can't repro. Here are my repro steps:

1. use this command to create resources:

`node provisionComposer.js --subscriptionId=<subId> --name=ToDoLuisTestBotQika2 --appPassword=<password> --environment=dev --createLuisAuthoringResource false --createCosmosDb false --createStorage false --createAppInsights false`

2. co

[2020-05-06 06:31] zidaneymar commented on #2565
I think this should be a botbuilder issue, sdk should support uppercase culture. (from Teams channel)

[2020-05-06 07:24] hibrenda opened #2910 "Default hint in trigger wizard will introduce error"
![image](https://user-images.githubusercontent.com/43408889/81147476-f6717900-8fac-11ea-9dc4-2b5528b97119.png)

Checked with ZhiXiang and Fei, this can be mitigate by following

![image](https://user-images.githubusercontent.com/43408889/81147653-4ea87b00-8fad-11ea-9b3c-9ca9741f9318.png)

[2020-05-06 07:37] liweitian commented on #2015
Hi @beyackle, which screen reader are you using? I used windows 10 narrator. Some people online said it is just a 'toy'. So I check this issue again with NVDA and JAWS. It works as expected.

[2020-05-06 07:39] lei9444 opened #2912 "Unify the version of express in yarn.lock"
## Describe the bug
Now we have three versions of @types/express in use, 4.17.6, 4.17.1, 4.16.1(in yarn.lock file).
But the  dependency package @types/express-serve-static-core has only one version(4.16.2) now, and the version does not match @types/express@4.17.6 now.

![image](https://user-images.githubusercontent.com/39758135/81147452-ea85b700-8fac-11ea-90c3-4e894b01b11f.png)

![image](https://u

[2020-05-06 07:39] zhixzhan commented on #2910
FYI @feich-ms  ,  I find out it comes from empty comments line e.g
[code]

[2020-05-06 07:41] feich-ms commented on #2910
Will take a look. Please let me know if this is blocker for R9 release.

[2020-05-06 07:59] boydc2014 commented on #2912
Just add there seems to be a breaking change in types for expression-server-core-static in 4.17.5
https://github.com/DefinitelyTyped/DefinitelyTyped/issues/40905

[2020-05-06 08:58] luhan2017 commented on #2858
@cxbuilders @darrenj @ericchansen which deployment script are you using, we plan to deprecate the powershell script soon, you could try our new node js deployment script, which is placed in your created bot folder, please follow the readme and run scripts under script folder.

![image](https://user-images.githubusercontent.com/32191031/81158598-b74a2480-8fba-11ea-92b7-a8a1648b34db.png)

[2020-05-06 08:59] luhan2017 commented on #2843
@cxbuilders , same as issue #2858. you could try our new node js deployment script, which is placed in your created bot folder, please follow the readme and run scripts under script folder.

[2020-05-06 09:00] luhan2017 commented on #2886
@darrenj , we are deprecating the powershell create and deploy scripts, could you try our new node js deployment script, which is placed in your created bot folder, please follow the readme and run scripts under script folder.

[2020-05-06 09:07] VanyLaw commented on #2886
Hi @darrenj, we will not support the powershell script anymore, so, could you please try the provision script (js script) under botfolder/script to create the azure resources? We also have a readme about the provision in botfolder for the new bot. By the way, We will figure out how to do the migration for the old bot in https://github.com/microsoft/BotFramework-Composer/issues/2625

[2020-05-06 09:15] darrenj commented on #2886
@benbrown and I were debugging this yesterday. Through kudu I was able to observe that there is `appsettings.json`, `appSettings.Deployment.json` and `ComposerDialogs/settings/appSettings.json` :-o

looking at `appSettings.json` it had the following. Note that luis->endpointKey is blank and is the root cause of the above issue. Manually setting it resolve the issue.

[code]

@benbrown found the ro

[2020-05-06 10:23] feich-ms commented on #2749
BF-CLI fix is here https://github.com/microsoft/botframework-cli/pull/758. If we think this is P0 blocker of R9 release for composer, then BF-CLI should let above fix PR in before R9. Otherwise, we can target R10. Any thoughts @boydc2014

[2020-05-06 10:41] 0x454447415244 commented on #2378
@hibrenda Can you please elaborate?

[2020-05-06 10:45] boydc2014 commented on #2749
I think we have chance to take that in CLI and cut a new RC.

[2020-05-06 10:50] zidaneymar commented on #2886
@darrenj appsettings.deployment.json has the highest priority among all settings, this part is updated in commit 4e8a637b

currently the priority is: appsettings.deployment.json > settings/appsettings.json > appsettings.json(root)

![image](https://user-images.githubusercontent.com/9328933/81168624-ec11a800-8fc9-11ea-82e2-ee62c1766188.png)

[2020-05-06 12:27] garypretty opened #2915 "Telemetry configuration broken in runtime"
Some changes to the runtime have broken the telemetry configuration.

- IBotTelemetryClient is no longer registered for DI
- The TelemetryInitializerMiddleware is never added to the adapter pipeline

I have a fix ready to PR for this - will raise the PR once this issue is opened.

[2020-05-06 12:43] xhr0804 commented on #2903
seems OK in latest version

[2020-05-06 12:43] #2903 closed

[2020-05-06 13:12] ericchansen commented on #2858
@luhan2017 My default directory looks quite different from yours

![image](https://user-images.githubusercontent.com/5395779/81180846-97464100-8f79-11ea-9ea2-683231b15b0f.png)

I don't see any Node.js deployment scripts.

[2020-05-06 13:50] hibrenda opened #2918 "skill manifest url"
In order to call a remote skill, we need to provide the web access for manifest file to the caller bot.
This url should support both localhost and azure host.

http://localhost:3979/manifests/EchoBot-13-2-1-preview-1-manifest.json
https://echobot-13-0506-dev.azurewebsites.net/manifests/EchoBot-13-2-1-preview-1-manifest.json

With the current bot runtime structure, both locahost and azure deploy ca

[2020-05-06 13:58] hibrenda opened #2919 "property editor is slow"
- create an echo bot
- add a input action
- typing in property editor
![image](https://user-images.githubusercontent.com/43408889/81185668-736c1500-8fe4-11ea-88b4-c3996ba43b2e.png)

 it can not show correctly if you type quickly.

[2020-05-06 14:07] cwhitten commented on #2907
https://github.com/microsoft/BotFramework-Composer/pull/2913

[2020-05-06 14:07] #2907 closed

[2020-05-06 14:09] hibrenda opened #2920 "no error reported if skill manifest can not be accessed"
- connect to a new skill
- input the url which can not be accessed:
![image](https://user-images.githubusercontent.com/43408889/81186527-7a475780-8fe5-11ea-9a06-6c879c6c4697.png)
- no error reported but get following empty line
![image](https://user-images.githubusercontent.com/43408889/81186444-5e43b600-8fe5-11ea-91ab-d39f7000c2a7.png)

Sometimes, I add the new skill through the drop down list.
!

[2020-05-06 14:17] cwhitten commented on #2920
to fixer: when someone inputs a manifest url, fetch the url and make sure we get a successful HTTP 200 back before accepting it as a manifest

[2020-05-06 14:43] #2563 closed

[2020-05-06 14:43] #2835 closed

[2020-05-06 14:43] #2895 closed

[2020-05-06 15:00] #2869 closed

[2020-05-06 15:17] cxbuilders commented on #2858
![image](https://user-images.githubusercontent.com/49873947/81194801-5ec85680-8fbd-11ea-8400-95482830b065.png)
That's all I see. The readme in this folder does mention though:
* From this project folder, navigate to the scripts/ folder

I just updated to the latest master release

[2020-05-06 15:26] #2919 closed

[2020-05-06 16:11] beyackle commented on #2015
I've been using Windows 10 Narrator. I wouldn't dismiss it as just a "toy"; it's something customers use too.

[2020-05-06 16:15] #2790 closed

[2020-05-06 17:49] #2879 closed

[2020-05-06 17:49] carlosscastro opened #2924 "Runtime: Azure Functions support"
Preview version of azure functions support. Runtime changes done as part of https://github.com/microsoft/BotFramework-Composer/issues/2471 allowed for code reuse and integration with azure functions.

This issue is to allow a first, simple integration based on allowing deployment to Functions of the current assets.

[2020-05-06 19:45] benbrown opened #2926 "Some users report problems with start bot: "dotnet build" failed"
## Describe the bug

Some users have reported a problem with the start bot button reporting "dotnet build" failing.

![image001](https://user-images.githubusercontent.com/729873/81221078-f58a1880-8fa7-11ea-8469-c3eee0cfb67f.png)

The dotnet build step happens in the `localPublish` plugin as part of the management of the local runtime: https://github.com/microsoft/BotFramework-Composer/blob/master/

[2020-05-06 19:54] benbrown opened #2927 "Do we need explicit `UseCosmosDbPersistentStorage` setting"
Currently, to enable the cosmos db features in the runtime, you must BOTH specify a cosmosDB config section.

Can we use the presence or absence of the cosmosDB config section to control whether this feature is used? Having 2 settings required seems easy to miss.

[2020-05-06 19:57] beyackle commented on #2080
This is how it ends up looking in Narrator's list of landmarks:
![image](https://user-images.githubusercontent.com/61990921/81222418-17c86a00-8f99-11ea-9142-92878513033f.png)

[2020-05-06 19:57] benbrown opened #2928 "Enable the blob storage state system in the runtime"
In addition to the CosmosDB state driver, we should also have blob storage.

Can we reuse the same blob storage configuration that is currently being provided for the transcript logger? This would be ideal!

Blob storage is much faster to provision. If we can enable this in the runtime, PERHAPS we can default to using this instead of CosmosDB? This merits discussion!

[2020-05-06 20:29] benbrown commented on #2915
@luhan2017 Can you also help verify that this is properly using the `applicationInsights.InstrumentationKey` field in the configuration?

[2020-05-06 22:02] #2696 closed

[2020-05-06 22:50] #2452 closed

[2020-05-07 00:13] mareekuh commented on #2080
What is 'navigation' the left-most panel? If so, we call that the Menu.
Main = the title/header of the page (Settings, Bot Responses etc)? If so, let's call that 'Title'
What is the 'navigation path'?

Please use **S**entence **c**apitalization

[2020-05-07 00:19] DesignPolice commented on #2080
I have been having too many access issues today... So sadly here are the screenshots from the Teams chat that Ben and I had.

We just need to define areas and labels for the other screens as well.

<img width="697" alt="Screen Shot 2020-05-06 at 5 14 29 PM" src="https://user-images.githubusercontent.com/45223620/81240892-96cf9980-8fbd-11ea-86d5-185e4eda49e4.png">

<img width="714" alt="Screen Shot

[2020-05-07 00:26] mareekuh commented on #2080
**User input**
- left nav = Navigation panel
- Title
- body of the page = List view

**Notifications**
(I asked Chris to turn the dropdown into a leftnav to be parallel to the other pages
- Title
- List view (The columns can be referred to the column names)

**Publish profiles** (note: sentence cap!)
- Navigation panel
- Title
- List view

**Skills**
hmm. Listview and settings?
Next round this pag

[2020-05-07 00:36] cwhitten commented on #2910
yes we should address this

[2020-05-07 00:52] zxyanliu commented on #2080
FYI. This is [the naming convention](https://github.com/MicrosoftDocs/composer-docs-pr/blob/SM-NamingConventions-Composer/contributor-guide/Naming%20conventions%20for%20the%20Bot%20Framework%20Composer.md) shared in our writers' team. The screenshots are not up to date, but the naming and labeling of the areas might be helpful. :)

* Bot Responses
![bot-responses](https://user-images.githubusercon

[2020-05-07 01:44] lauren-mills opened #2933 "UI bug in Text Input action"
## Describe the bug
Editing property in the "User Input" tab of input actions jumps back to the "BeginDialog" view after a few seconds.

## Version

Application SHA test
SDK runtime packages 4.7.0-preview-191208-1
(latest master branch)

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

[2020-05-07 01:50] feich-ms commented on #2749
BF-CLI fix is merged into 4.9 RC, please update the package in composer when next RC is online @lei9444

[2020-05-07 01:58] hibrenda commented on #2748
addressed in #2786

[2020-05-07 01:58] #2748 closed

[2020-05-07 05:54] hibrenda commented on #2933
@tdurnford  could you take a look ?

[2020-05-07 06:40] yeze322 commented on #2933
refs #2922 @tdurnford

[2020-05-07 07:07] zidaneymar commented on #2705
Sorry for replying late, do you have more details?

[2020-05-07 07:08] yeze322 commented on #2877
The schema is outdated:
![image](https://user-images.githubusercontent.com/8528761/81263920-23885f00-9073-11ea-90c8-89ac1ece44d9.png)

Two more related problems:
1. The logic is wrong if the value is set to `false` or `0`. in SetProperty, it should be `??` instead of `||`
2. The content displayed inside SetProperty and SetProperties are not consistent.

I will create a PR for fixing that, focusing

[2020-05-07 07:14] luhan2017 commented on #2927
@benbrown Just to clarify, do you mean we remove this section
[code]

and just use this to check whether to enable those middlewares?
[code]
Sure we can do this, That is how we did before. I thought you want those be explicit configurable because we will have a more fancy setting page, in that page, you can turn on/off a switch and fill in detailed setting like this one:

![image](https://user-ima

[2020-05-07 07:19] luhan2017 commented on #2926
@benbrown could you provide more information, could this relate to dotnet version? or nuget package update? could you ask them to check the dotnet version or clean up the nuget packages first?
If that still not works, can we go to the localPublish folder to kick off a manually build and see what is the detailed error message?

[2020-05-07 07:27] luhan2017 commented on #2858
@cxbuilders , oh sorry, we have introduced a bug yesterday, @boydc2014 is preparing a PR #2934 for this, will let you know once it got merged.  Or you can try an earlier version of master, just before this one https://github.com/microsoft/BotFramework-Composer/commit/d6c3d6129b73e5b02b667f28e3d6d83c1005aaef.

@ericchansen , we had some refactoring on the botproject recently, if you try on latest m

[2020-05-07 07:29] luhan2017 commented on #2843
removed P0 and R9-RC since we are deprecating the powershell script.

[2020-05-07 07:31] luhan2017 commented on #2886
@darrenj looks like this issue is already resolved, I am closing this, please feel free to reopen if needed.

[2020-05-07 07:31] #2886 closed

[2020-05-07 07:35] luhan2017 commented on #2705
@InnoraG , we want to know the reproduce steps, like how do you use the FacebookAdapter in Composer and how do you do the deployment and testing.

[2020-05-07 07:35] zidaneymar commented on #2915
based on this [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-core), the InstrumentationKey will be used in 'AddApplicationInsightsTelemetry',

![image](https://user-images.githubusercontent.com/9328933/81266700-cd69ea80-9077-11ea-99d2-c81059c4e114.png)

[2020-05-07 07:36] yeze322 commented on #2877
Some other problems I found in Form side
- when the value type is set to 'object' or 'array', `action.value` equals `undefined` rather than the displayed value in JSON editor;
- when the value type is set to 'array', JSON editor displays `{}` which should be `[]`

[2020-05-07 07:40] yeze322 commented on #2877
addressed Visual Editor part in #2936

[2020-05-07 08:11] feich-ms commented on #2910
Fixed in this PR https://github.com/microsoft/botframework-cli/pull/763 which is targetting BF-CLI next RC

[2020-05-07 08:12] garypretty commented on #2927
I think the suggestion here is to just remove "UseCosmostDbPersistentStorage" setting, in favor of enabling that automatically if the user has populated their cosmosDb config section. @benbrown is that right?

If so, then I think I agree.  We have done the same with telemetry. i.e. We don't have a feature switch, we just enable telemetry if the user populates their instrumentation key.

[2020-05-07 08:14] garypretty commented on #2928
I raised the same subject with @darrenj - I think his thoughts on this, from experience with the VA, is that Cosmos will avoid some common issues as customers need to scale out / up.  I do see some benefits to enabling blob storage, given the reduced complexity for setup / configuration from a customer perspective.

[2020-05-07 08:17] garypretty commented on #2915
The issue here is not that the Instrumentation Key is not used.  If you eject the bot and the key is populated in the appSetting.json file, then this is used and works as expected.  The behavior I am seeing is that if you populate the instrumentation key in settings via the composer UI and run the bot in a hosted fashion (i.e. the setting is populated in '\plugins\localPublish\hostedBots\XXXXXX\se

[2020-05-07 08:45] lei9444 opened #2938 "create new trigger can not update the error message when the name changed"
## Describe the bug

![image](https://user-images.githubusercontent.com/39758135/81273919-2c346180-9082-11ea-8df3-b3e8f6917284.png)

## Version
master

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected b

[2020-05-07 09:14] darrenj commented on #2928
I'm conflicted about this having seen too many customers ship with defaults - memorystorage being the worst example! My leaning is towards setting people up for success with an optional "step back" for development/testing because of this. Blob Storage is by no means as bad as memorystorage but I've yet to see a customer go live on Blob Storage (happy to be corrected).

I think we should take this

[2020-05-07 09:29] garypretty commented on #2928
Just to add some colour here - most of the bots I have seen go live have used blob storage.  I think the difference here is likely the size / scale of the bots being deployed and the type of bot.  Blob is likely to be fine for a relatively low load bot.

I think I am leaning towards @darrenj's thinking on balance.  At least for the initial release we could go with just Cosmos and add blob based on

[2020-05-07 09:52] lei9444 opened #2940 "when parse content '-{ test = test' will show console error"
## Describe the bug
![81236640-8108a700-8fb2-11ea-9587-ec381092bd3b](https://user-images.githubusercontent.com/39758135/81280726-7837d400-908b-11ea-91d6-088dcb5ac0b4.gif)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '.

[2020-05-07 10:03] luhan2017 commented on #2565
@vishwacsena any insight on this? do you think it is OK to move this issue to SDK side?

[2020-05-07 10:21] feich-ms commented on #2940
Fixed in this PR https://github.com/microsoft/botframework-cli/pull/763. Wait for it's merged into next BF-CLI RC

[2020-05-07 10:32] garypretty commented on #2915
FYI - I got to the bottom of this and make an additional change in the related PR.

The overloaded configuration file is working correctly, but the overridden instrumentation key was not being respected by the AddBotApplicationInsights method.  I have now amended the runtime code to pass this into the extension method explicitly.  Once you do this, everything works as expected.

[2020-05-07 13:36] fathorMB opened #2941 "QnA Maker integration docs not working"
## Describe the bug

We are trying to implement QnA Maker integration following the docs here: [DOCS](https://docs.microsoft.com/en-us/composer/how-to-add-qna-to-bot)

We get the following error when the Connect to QnA Knowledgebase block is reached:

We already tried some different configurations, guided by other issues we found here flagged as closed.

## Version

Application SHA
test
Branch: st

[2020-05-07 13:53] peterbozso commented on #1640
@dfvr1994 Yes, that's it. I guess it's a couple of missing [CultureInfo.InvariantCulture](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.invariantculture?view=netcore-3.1) references here and there in the code of the generated chatbot.
I assume. I don't know the codebase enough (yet) to verify it myself. :)

[2020-05-07 15:16] a-b-r-o-w-n commented on #2877
Thanks @yeze322, merged. I will try to address the other issue in the coming week.

[2020-05-07 15:29] benbrown commented on #2928
Putting aside our default provisioning configuration --

I think having the blob storage state driver loaded and ready to go, enabled only if configured, is something we should include.

The goal is that a developer can choose the right option through configuration only without having to worry about runtime code.

If we default them to blob storage, they can add cosmos later and vice versa because

[2020-05-07 15:32] benbrown commented on #2928
I updated this ticket to more clearly indicate that changing the default is just a potential side effect of this

[2020-05-07 16:39] benbrown commented on #2927
Correct - is a user has specified the `cosmosDB` key in the config, the runtime should enable the storage without needing a separate flag. The presence or absence of the dependent config is enough.

We only need feature flags for things that are NOT driven by some other configuration - for example, the show typing and inspection middlewares.

[2020-05-07 17:40] lauren-mills opened #2942 "ChoiceInput choices property cannot be set to an expression"
## Describe the bug
I have a dynamically generated list of choices for a ChoiceInput, but in the latest build I cannot provide an expression as the value of the choices property for my prompt. I only see the option to provide "simple choices", "structured choices", and "unknown" but for unknown there is no input box.

I also tried explicitly setting the choices property to an expression in the jso

[2020-05-07 19:56] #2933 closed

[2020-05-07 20:31] #2918 closed

[2020-05-07 20:50] cwhitten commented on #2858
this should be addressed. @ericchansen & @cxbuilders can you verify on latest `master` ?

[2020-05-07 21:21] beyackle commented on #2049
Reproed this too. I'll work on fixing it.

[2020-05-07 22:13] a-b-r-o-w-n opened #2945 "[property editor] provide better error message when there is an error parsing the schema"
If there is a missing definition, throw an error instead of returning undefined.

[2020-05-07 22:20] a-b-r-o-w-n opened #2946 "Loosen schema diff when getting custom actions to show in action flyout"
## Describe the bug

If there are variations in the schema (title, description, etc), the schema items are added to the custom actions flyout. We should only diff the names in the definitions property.

[2020-05-07 22:26] beyackle commented on #2015
On advice from @cwhitten - since this works in NVDA, we're not going to worry about this one for now.

[2020-05-07 22:30] beyackle commented on #2093
This has been addressed by a redesign and can probably be closed.

[2020-05-08 00:35] zxyanliu commented on #2941
Hi @fathorMB thanks for reporting. I am not sure if it related, but we have another QnA maker issue reported [here](https://github.com/microsoft/BotFramework-Composer/issues/2878). @hibrenda please let me know if there is anything I should update on the [docs](https://docs.microsoft.com/en-us/composer/).

[2020-05-08 01:40] vishwacsena commented on #2565
@luhan2017 what exactly do you believe to be the SDK bug? Can you clarify what in your assessment needs to be fixed on the SDK side?

[2020-05-08 03:19] luhan2017 commented on #1829
In SDK, there is a StringExpression property called contentType, and its default value is application/json.

@jamesemann Can you work around this by the following?
1. use string type, which you can input everything, we don't really validate.
2. set your contentType to form-data

An example:
![image](https://user-images.githubusercontent.com/32191031/81366580-99e19b80-911d-11ea-937c-26efe4ecb663.pn

[2020-05-08 06:39] yeze322 commented on #2946
The schema diff only checks $kind, I will confirm it first

[2020-05-08 06:42] cxbuilders commented on #2858
The script folder is there with new bots. I ran the script like:
_node --inspect .\provisionComposer.js --subscriptionId=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX --name=MyBot --appPassword=XXXXXXXXXXXXXXXX_

Then logged in using the devicelogin link and it always fails with the following error:

User was not found.
** Provision failed **

[2020-05-08 07:27] zxyanliu opened #2948 "About the date format on the Publish page"
<Decribe>

Tested the publish functionality to update this [doc](https://docs.microsoft.com/en-us/composer/how-to-publish-bot), and noticed the date format in the publish page is DD/MM/YYYY.

![MicrosoftTeams-image (7)](https://user-images.githubusercontent.com/32497439/81381854-3ece8b00-90c2-11ea-86d4-7f5e06a9569c.png)

I am not sure if we need to use the American date format which is MM/DD/YYYY.

[2020-05-08 07:37] fathorMB commented on #2941
Hi @zxyanliu, i don't think it's related. In my case the block is rendering successfully. Maybe can be related to [this one](https://github.com/microsoft/BotFramework-Composer/issues/1591)?

[2020-05-08 08:24] hibrenda commented on #2941
@fathorMB could you share more detail for the dialog file ? in the dialog flow, do you only include the QnA step or there are other steps may introduce this error ?

[2020-05-08 08:30] yeze322 commented on #2946
@a-b-r-o-w-n I cannot repro this problem, I guess it's because those kinds are not included in your built-in sdk.schema?

The diff function receives and compares two schemas
1. The built-in schema file provided by server (BotFrameworkComposer\Composer\packages\server\schemas\sdk.schema)
2. The ejected schema file from custom runtime (BOT_PROJECT\schemas\sdk.schema)

[2020-05-08 08:35] yeze322 opened #2949 "Changes on bot files won't take effect by refreshing the design page"
## Describe the bug
![bug-get-cache](https://user-images.githubusercontent.com/8528761/81397752-86a0f100-915a-11ea-8c3c-85c0c66e8c3f.gif)

The behavior of 'open project' and 'get project' are different. 'open project' will always fetch the newest dialog data while 'get project' won't.

What I did here is editing a `main.dialog` file via a plain text editor, then tried 2 approaches to refetch the b

[2020-05-08 08:56] fathorMB commented on #2941
@hibrenda the QnA step is the only one in the dialog. I also tried to put it in a separate dialog and directly in the intent recognized trigger, but fails the same way. I tried to put other steps to check if the problem was in my dialog but all other steps are working.

[2020-05-08 09:04] yeze322 commented on #2949
@VanyLaw could you help triaging this issue

[2020-05-08 09:06] hibrenda commented on #2941
if possible, could you share your bot (dialog) to us (no need to share qna) , we may have a try .

[2020-05-08 09:10] fathorMB commented on #2941
@hibrenda It's pretty simple to reproduce. I just created a new bot from scratch and then added a intent recognized trigger with some of the questions i have in my QnA. I see that LUIS is recognizing correctly, the trigger is fired and it contains only the QnA block. Configured as you see in the screenshot, so as explained in the documentation. At runtime, when reaching the QnA block, the only bot

[2020-05-08 09:48] yeze322 commented on #2949
This issue affects the behavior of custom schema story. Users have to reopen a bot after they ejected a custom runtime with custom schema files.

[2020-05-08 10:34] VanyLaw opened #2952 "Manifest not copy to eject runtime folder"
## Describe the bug

currently manifest not copy to eject runtime folder before publish.

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2020-05-08 13:05] hibrenda commented on #2941
@fathorMB Thanks for reporting this issue. now I see .
could you input something in following field and retry.
![image](https://user-images.githubusercontent.com/43408889/81408226-69c2e880-916f-11ea-9a6e-ca52729052b4.png)

We test with qna sample and not reproduce this issue as all have been settled in the sample.

[2020-05-08 13:12] fathorMB commented on #2941
@hibrenda I'll try and let you know. Thanks in advance for support

[2020-05-08 13:16] fathorMB commented on #2941
@hibrenda It is now working filling all the fields you pointed out. Thank you!

[2020-05-08 13:24] hibrenda commented on #2941
By the way in master branch, we do have improvement even if you leave these as empty.

[2020-05-08 13:24] #2941 closed

[2020-05-08 13:42] yeze322 opened #2955 "Customize the appearance of custom action nodes in Visual Editor"
**Objective**:
After ejecting custom runtime instances with custom action $kinds inside, users should also be able to control those new nodes' appearances.

**Description**:
In R9, we already supported the custom schema story that users can use their custom sdk.schema file to write a bot. However, those $kinds of actions appear under 'Custom Action' label don't have good appearances in the Flow Ed

[2020-05-08 14:00] yeze322 commented on #2286
TODOs:
- [ ] disabled effect: if an action's `disabled` field set to true, make this node and its child nodes gray (leveragin the css `filter`)
- [ ] In Shell toolbar, provide 2 buttons - `Disable` | `Enable`, make them clickable when selected nodes are detected to be able to toggle the state
    - If all selected nodes are `disabled`, show **| Disable (unclickable) | Enable (clickable) |**
    -

[2020-05-08 14:11] yeze322 commented on #2286
LU publish part (@hibrenda who is responsible for the LU publish?)
- [ ] If nodes have been disabled, corresponding LU intent will not be published as well

[2020-05-08 15:32] a-b-r-o-w-n commented on #2946
Looking at the code it's not clear what was happening, but @lauren-mills had the 4.9 schema which includes more definitions than just `Microsoft.*` (like `boolenExpression`) which showed up in the custom actions flyout. Admittedly in this case, our base schema was out of date so the algorithm was correct.

Maybe the restriction should actually be tightened a bit and only include actions that have

[2020-05-08 15:35] #2763 closed

[2020-05-08 15:36] #2627 closed

[2020-05-08 15:43] mareekuh commented on #2080
A few comments:
**User input**

@cwhitten @zxyanliu @DesignPolice @beyackle

User input - Do we need to mark the 'title'?
- What do we call the view if the editor switch is turned on vs turned off? If it's on, 'User input Editor' makes sense to me, when on, User Input listview makes sense

**Notifications** - please use 'page control' as a label vs navigation control. We'll be moving the 'all-warn

[2020-05-08 15:57] #2878 closed

[2020-05-08 15:57] #2942 closed

[2020-05-08 16:25] #2938 closed

[2020-05-08 17:00] zxyanliu opened #2956 "Some UX are broken"
## Describe the bug

**1. A broken line in dialog nav pane**
![broken line](https://user-images.githubusercontent.com/32497439/81429228-59c8eb80-9112-11ea-8e17-d5e4b813d939.png)

**2. The Settings page.**
![image](https://user-images.githubusercontent.com/32497439/81432907-939cf080-9118-11ea-8e75-ce1e7b825ccf.png)

**3. Bot Responses**
![image](https://user-images.githubusercontent.com/32497439/81

[2020-05-08 17:18] goergenj commented on #2926
Hi, when hitting "Start Bot" on the Composer (master branch) I get directline 500 error in Emulator. When running "dotnet build" directly in the localPublish folder I get this error: "MSBUILD : error MSB1003: Specify a project or solution file. The current working directory does not contain a project or solution file."
Dotnet Version is .Net Core 3.1.201

[2020-05-08 17:20] goergenj commented on #2926
When trying to publish to Azure I get this error and it fails.

![image](https://user-images.githubusercontent.com/31212469/81431147-f5814880-9160-11ea-80bd-15e762d0351b.png)

![image](https://user-images.githubusercontent.com/31212469/81431132-f1552b00-9160-11ea-8ba0-18e3dc1b162f.png)

[2020-05-08 17:25] beyackle commented on #2049
On further investigation, this looks like an issue in Fluent UI. All cells in a DetailsList (which is what we use for that table) get the `aria-readonly="true"` property, and there doesn't seem to be a way to change that. A button isn't an editable object either (which is what aria-readonly="false" would imply), so I think this either should be closed as a "won't do" or moved to the Fluent UI team

[2020-05-08 17:29] benbrown commented on #2926
Our theory right now is that both problems are due to your path containing spaces, which is causing our `dotnet` commands to fail.

We will patch this soon and hopefully this will resolve!

[2020-05-08 18:19] #2956 closed

[2020-05-08 18:24] ericchansen commented on #2858
The new deployment script isn't compatible with my Azure subscriptions.

Here's the attempt with defaults. I replaced potentially sensitive information with variants of `xxx`.

[code]

Here's when I created the appId myself. Note that the appId matched in my input `xxx123` and the standard output `xxx123`. However, the subscriptionId that I provided `xxxabc` doesn't match the subscriptionId in the

[2020-05-08 18:32] beyackle commented on #2080
Re-opened due to #2956 . Will redo.

[2020-05-08 21:32] benbrown commented on #2927
There is another problem here --

in the sample settings in Composer, we expose `UseCosmosDb` in the settings.

however, the setting name is actually `UseCosmosDbPersistentStorage`

I still think we should completely remove this setting, but at a minimum we need to clean up this inconsistency!

[2020-05-08 21:36] garypretty commented on #2927
There should also be no useTelemetryLoggerMiddleware or use TelemetryInitializerMiddleware settings anymore. These were removed from the runtime and from settings, but I think at least one of them has made its way back in. Can we check and remove them please?

[2020-05-08 22:58] zxyanliu opened #2961 "Unable to create Intent Recognized trigger"
## Describe the bug
Cannot create an **Intent recognized** trigger, either use **LUIS** or **Regular Expression** recognizer type.

## Version
latest master

## Browser
- [x] Chrome

## OS
- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

* Unable to create an **Intent Recognized** trigger using **Regular Expression** as **Recognizer Type**
![Regex-trigger-issue](https://user-image

[2020-05-08 23:47] beyackle opened #2962 "Export as skill: only ", " recognized as tag array delimiter"
## Describe the bug

Export skill dialog should let the user use more than a strict comma-then-space delimiter for lists of tags.

## Version

0.0.1 desktop

[2020-05-09 01:22] mareekuh commented on #2080
Please let’s keep things consistent and call it the :

  *   Bot Responses Navigation pane and editor?
  *   User Input Navigation pane and editor?

Also

  *   Notifications:  Paging control (vs navigation control as moving forward we are turning the ‘all/errors/notifications dropdown into a left nav panel, like the other pages?
  *   Settings menu = Settings navigation panel

From: Yan Liu <noti

[2020-05-09 02:36] yeze322 commented on #2946
@a-b-r-o-w-n Yes, I also think it's necessary to check `$role` is IDialog. I will do it.

Ideally, we would have 3 kinds of menus: Recognizer, Trigger, Action. After differentiating them,
- The fly-out menu receives Action part.
- New Trigger Wizard receives Trigger part.
- Recognizer dropdown receives Recognizer part.
Then the custom schema story could be a completed story. Let me start from a ti

[2020-05-09 08:12] VanyLaw commented on #2949
@yeze322 Currently, after refreshing server will return cache project files instead of geting the bot from disk. Server will get bot from disk only when open/reopen a bot. **And I am not sure is it a bug? because it's a normal way to save time. And I am not sure if it can refresh in electron**
For the dialog update, it's better to change through dialog editor (click show code).
And I think the bet

[2020-05-09 08:14] yeze322 opened #2967 "QnAMaker CRUD behavior"
Hook QnAMaker resource operations with dialog operations
  - Copy
  - Paste
  - Delete
  - Move
  - Cut

[2020-05-09 08:30] yeze322 commented on #2967
We are still planning on QnA, too early to open a visual editor task

[2020-05-09 08:30] #2967 closed

[2020-05-09 08:34] luhan2017 commented on #2410
@InnoraG you can enabled it by runtime configuration now.

[2020-05-09 08:34] #2410 closed

[2020-05-09 08:37] yeze322 commented on #2946
@a-b-r-o-w-n do we want to have the fix in 'R9-RC' or 'R10'?

[2020-05-09 08:42] #2915 closed

[2020-05-09 09:27] luhan2017 commented on #2858
@ericchansen, Thanks for reporting the issue. Could you try this following step to work around this?
1. https://ms.portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Properties, query this url you will see a Directory ID folder, copy the id.
2. go to provisionComposer.js, search for this line: "const tenantId =", replace the existing id with the one you copied.

Please let me know

[2020-05-09 10:04] luhan2017 commented on #2952
I've verified this, it works well, so close this.

[2020-05-09 10:04] #2952 closed

[2020-05-09 10:19] VanyLaw commented on #2948
fix in https://github.com/microsoft/BotFramework-Composer/pull/2953

[2020-05-09 10:20] #2948 closed

[2020-05-09 15:39] tomlm opened #2970 "Labeling on if condition is confusing"
## Issue

The Greeting template drops me into this view
![image](https://user-images.githubusercontent.com/17789481/81478145-3d8b8400-91d0-11ea-9a5c-26d60ad9b805.png)
I had real difficulting parsing what it was saying.  I think it's because the False is stacked on top of the True.
I read them in order, instead of thinking of them side-by-side.  I had to deconstruct mentally to figure out the right

[2020-05-09 15:44] tomlm opened #2971 "Help! I've lost my bot!"
## Describe the bug

OK, actually, I can't figure out where my bot is being created.  I've opened a bot and started editing it and there is NO file path ANYWHERE?  :(

## Version

![image](https://user-images.githubusercontent.com/17789481/81478287-26996180-91d1-11ea-965f-365a9baa9dce.png)

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge (chrome)

## OS

- [ ] macOS
- [x] Windows
-

[2020-05-09 15:53] tomlm opened #2972 "New File dialog is overly non-standard"
## Describe the bug

I installed from github release page (0.0.1)

## Version
0.0.1 (2 days ago)

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

1. New Bot

## Expected behavior

1. It should have windows path, so it it should have \ instead of /
2. It should start in the logged in Users folder, not the root.,
3. It s

[2020-05-09 15:57] tomlm opened #2973 "Composer puts bot turd in my documents folder"
## Describe the bug

When I install Composer it puts a "EmptyBot-01" in my **documents folder**.  That's a very unfriendly thing to do, I never put source code in my documents folder.  My documents folder is sancrosanct, it's where I put my taxes for turing-sake.

## Version

0.0.1 (2 days ago)

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge (chrome)

## OS

- [ ] macOS
- [x] Windo

[2020-05-09 16:00] tomlm opened #2974 "I can't delete a bot."
## Describe the bug

I have a EmptyBot-01 turd in my documents folder (see #2973 ) and I can't delete it. I don't know where it put it (see #2973 ).  And now there is no way for me to delete it from composer.

## Version

0.0.1 (2 days ago)

## Browser
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge (chrome)

## OS
- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce
1. open compose
2. try t

[2020-05-09 16:03] tomlm opened #2975 "I can't rename a bot!"
## Describe the bug

I started editing EmptyBot-01, but now I want to rename it.  I can't. I also don't know where it is (see #2971 ).  But it's my masterpiece, and now it will forevermore be known as EmptyBot-01, along with all of the other masterpieces people have created and can't rename.

## Version

0.0.1 (2 days ago)

## Browser
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge (chrome)

##

[2020-05-09 16:09] tomlm opened #2976 "Add semantics are mixed up with create semantics"
## Describe the bug

When I pick Add Dialog, I think I'm going to add a dialog to this dialog.  I am completely suprised then it drops me into a creation flow.

How do I add a dialog I have already created?

When I add a trigger, I get a dialog which is Create a trigger.  Again, semantic mismatch.

## Version
0.0.1 (2 days ago)

## Browser
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge (chrome

[2020-05-09 16:29] tomlm opened #2977 "Create a dialog dialog is very confusing."
## Describe the bug
When I create a dialog via the add menu (see #2976 ) it then shows me a dialog which is completely disconnected from the operation I think I'm doing.

The title of the dialog is "Describe your conversational objective" ???

This is
* way way weird, what the heck is a conversational objective?  I though I was creating a dialog?
* The title should align with the operation I am pe

[2020-05-09 16:44] cwhitten commented on #2977
@mareekuh as you provided the copy here quite awhile ago -- are you interested in updating this before BUILD?

[2020-05-09 16:49] cwhitten commented on #2976
@mareekuh as you provided the copy here quite awhile ago -- are you interested in updating this before BUILD?

[2020-05-09 16:52] #2749 closed

[2020-05-09 16:52] #2940 closed

[2020-05-09 16:52] #2910 closed

[2020-05-09 16:53] tomlm opened #2978 "Our dialog text is sometimes questions and sometimes labels and not consistent."
## Describe the bug
When I create a trigger the default is intent but the label for the field is **"What is the name for the trigger?"**

This is very non-standard.  GUI Dialogs don't normally use questions on the fields, fields have labels, and tooltips.
Look at excel, labels, not sentences with tooltips to describe what it is.
![image](https://user-images.githubusercontent.com/17789481/81479578-

[2020-05-09 17:23] tomlm commented on #2928
Yeah to weigh in on this...if I'm making a bot for my wife's choir, I can't afford CosmosDB. It's way too expensive.  Functions+TableStorage is great for light loads.
Having the option is good and having information about the reason for one over the other is super good.

Something like:
* **TableStorage** - Inexpensive storage suitable for light to medium chat loads in one data center.
* **CosmosD