[2021-04-29 23:03] scheyal opened #7506 "Crash on new bot with Adaptive card"
##Repro
* Create a new bot from empty
* Run
* Add a few adaptive cards
* Run --> Error: exception per below. Nothing shows up in emulator.

### Exported bot
https://microsoft-my.sharepoint-df.com/:u:/p/eyals/EZU8y1wUQ-BJlIoNIZ9_HA0B_MtF52wSpuJYBEyGdFEZVA?e=8qGwJ5

##Version

Version:  2.0.0-nightly.241057.db66154
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## E

[2021-04-29 23:10] JonathanFingold opened #7507 "Instructions user copies for IT Pro / Admin handoff are confusing"
## Describe the bug

The instructions to copy and give to your admin are confusing. There is just enough information there to seem to be complete, but critical information is missing.

## Version

Version:  2.0.0-nightly.241057.db66154
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [

[2021-04-29 23:14] joshgummersall commented on #7505
For some reason, when deploying to a Windows function, change events are triggered during a deployment. I'm seeing tons of log entries like:

[code]

This seems to tell me that filesystem change events are triggering for all the files inside a ZIP file. Each change event logged also seems to restart the process. This means that, after deploying a bot, many process restarts will occur which leads t

[2021-04-29 23:19] JonathanFingold commented on #7507
PS. Even with the information gleaned from the **Composer R13 – Publish & Provision** doc, I can't complete this process:
[code]

[2021-04-29 23:23] peterinnesmsft opened #7509 "Provisioning does not up-front validate parameters when creating new resources"
## Describe the bug

When creating a new publishing profile and specifying to provision new resources, a validation error occurred when attempting to create Blob Storage due to the resource name exceeding the maximum character limit. Azure Resource Manager has validation APIs that should be used to prevent these kind of errors before they can occur during provisioning itself.

## Version

v2.0.0-n

[2021-04-29 23:34] vivekkshankar opened #7510 "[Skills] When authoring locally Add local skill's App ID to Root's allowed caller's list."
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-04-29 23:37] vivekkshankar opened #7511 "[Skills] When authoring multi-bot projects locally automatically add the local skill's App ID to Root's allowed caller's list and vice versa."
Currently when authoring locally a user must manually copy App Ids of the root bot into the skills allowed callers list and do the same for the skills app id to be added into the root bot's allowed callers list.
This created friction in the skill's workflow.

Instead, auto populate local skill's App ID to Root's allowed caller's list and vice versa when App ID are available.
If multiple publish pr

[2021-04-29 23:39] vivekkshankar commented on #7511
@lauren-mills @elaine-chang @mareekuh This is one of the things I noticed in your e2e demo.
We need a more long term fix to make filling up of the allowed callers list on both ends more seamless.
In the short term we can mitigate friction by automatically picking it up at the minimum.

cc @cwhitten @darrenj

[2021-04-29 23:51] Virtual-Josh commented on #7501
@joshgummersall how long does it roughly take? I just poked the dotnet function bot that I haven't redeployed in 3 hours and it's still throwing 502s.

[2021-04-29 23:52] joshgummersall commented on #7501
If you didn't see my message on Teams, there's a manual fix you need to apply, then redeploy, then it should work.

[2021-04-30 00:31] peterinnesmsft commented on #7472
As I am OOF 4/30, assigning to @tracyboehrer to take over further investigation.

Using the same nightly version of Composer specified above (v2.0.0-nightly.241057.db66154), as well as the latest Empty Bot template for .NET Functions (@microsoft/generator-bot-empty@1.0.0-rc8), I am unable to get as far as described in the repro steps due to numerous Composer bugs that are inhibiting progress.

It

[2021-04-30 00:34] srinaath opened #7513 "Webchat inspector window hidden"
## Describe the bug
The webchat inspector remains hidden due to a logic error of not checking for the webchat panel visibility. Hence, users can get stuck in a state where the Inspector panel always keeps showing "Bot is Running. Test in Webchat".

<img width="1525" alt="Screen Shot 2021-04-29 at 5 28 43 PM" src="https://user-images.githubusercontent.com/13004779/116634296-7dcba100-a910-11eb-920f-

[2021-04-30 00:50] #7343 closed

[2021-04-30 03:03] alanlong9278 opened #7515 "Disable dialog selection page."
## Describe the bug

We should disable dialog selection page

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-04-30 04:12] cdavilarios commented on #5436
Hi everyone! I am having the same issue on Bot Framework Composer. I've tried signing in from a different and work-education account as well and keeps getting me the same issue!
![image](https://user-images.githubusercontent.com/20851408/116647490-4e348d00-a940-11eb-9424-5ba44640d180.png)

[2021-04-30 04:42] BhattMeet98 commented on #7480
i have used V1.4.0

[2021-04-30 06:23] rvinothrajendran opened #7517 "Label entity is not enable in create a trigger dialog"
## Describe the bug

While creating trigger label entity is not enable in create a trigger dialog , Its possible only after created the trigger

## Version

Version:  2.0.0-nightly.241057.db66154
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Window

[2021-04-30 08:53] darrenj commented on #7470
I'm a bit confused about the real-world scenario underpinning this, happy to be educated :-)

If I write a Bot which is intended to be used a skill I would have intents configured using one of the available recognizers. i.e. I'll have dialogs trigged by intents.  The triggers for these intents will have LU based training data so the bot knows where to direct each utterance.

When we switch to a sk

[2021-04-30 09:00] darrenj commented on #7499
Double checked version:
![image](https://user-images.githubusercontent.com/33519520/116671755-350bfa80-a999-11eb-990e-cde321479651.png)

Upon updating to .241057, confirmed that I can't repro in the latest build. Weird.

[2021-04-30 10:01] darrenj opened #7520 "Composer developer with new runtime doesn't have a way to know the SDK version of their scaffolded bot project and aware of updates"
## Is your feature request related to a problem? Please describe.

A developer building off the new templates doesn't spend much/any time inside their Visual Studio project, especially as at this time you can't open the VS project and start debugging. As a result the SDK version they are using is obfuscated for the most part. Risk is someone will be stuck on a version (with a known issue) and we g

[2021-04-30 10:03] garypretty opened #7521 "Composer doesn't kill bots on shutdown"
## Describe the bug

Composer is not consistently killing running bots on shutdown.  Gif of the behavior is below.  Oddly, you can also see that once Composer shuts down, a second bot process appears in task manager, which I cannot explain either.

Bot process in this case is ContosoInsurance.

## Version

Version:  2.0.0-nightly.240870.919a971
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0

[2021-04-30 10:05] darrenj commented on #7521
Likely a repro for #7157

[2021-04-30 10:56] darrenj opened #7522 "Qnamaker build failed: Cannot read property 'hostName' of undefined"
## Describe the bug

Added QnA to a Bot and selected an existing QnA resource, created yesterday (by Composer) for another bot. When starting the Bot I get the following error:

[code]
![image](https://user-images.githubusercontent.com/33519520/116685444-43164700-a9aa-11eb-8f8b-ab6e11376e8c.png)

This is what is in config - hostname is missing?
![image](https://user-images.githubusercontent.com/33

[2021-04-30 11:08] darrenj opened #7523 "Adding a QnAMaker knowledgebase to an existing Bot doesn't add a QnA Intent Recognized trigger"
## Describe the bug

I've got an existing Bot created using a template. I decided I wanted to add a KB, so through Composer added QnA - gave it a URL to build the KB from and it pulled the QNA down. I then selected an existing QNA resource in Azure, hit start (manually fixed #7522 by putting the hostname in) and I could see in trace that my QNA related question got routed to QnAMaker which replied

[2021-04-30 11:15] martinlarosa commented on #3339
What is removing the version? New composer version or bf cli?

[2021-04-30 13:00] mmiele opened #7524 "Publish bot by importing existing resources or by handing off to an admin"
## Describe the bug

### Importing existing resources
During the publishing process got this error:
DEPLOY_ZIP_ERROR: The hostname is invalid, please check if hostname/name-environment matches your target resource (webapp/function) name.

### Handing off to an admin
When running the command:
node provisionComposer.js --subscriptionId <YOUR SUBSCRIPTION ID> --name <RESOURCE NAME> --appPassword=<16

[2021-04-30 13:42] tdurnford commented on #7470
@darrenj You are correct, the manifest is intended to communicate types of activities the skill can handle. When the developer adds an `OnIntent` trigger, we add a message activity to the manifest to indicate the skill can accept and process message activities. Adding an intent would result in the following manifest:

[code]

If we allow a developer to add an `OnUnknownIntent`, they would be indic

[2021-04-30 14:55] benbrown opened #7525 "The learn more link for luis in the get started is incorrect"
## Describe the bug

It currently points directly to luis.ai, should point to https://aka.ms/composer-luis-learnmore

[2021-04-30 14:56] tdurnford opened #7526 "[Adaptive-Form] Refactor the OpenObjectField to use 'Add button' and remove inline fields"
## Describe the bug
The `<OpenObjectField />` is the only place in Composer where we use a TextField to add a new item instead of an 'Add' button and is the only place where we still have inline fields. We should update the component to match the rest of Composer's styling.

[2021-04-30 15:04] sgellock commented on #7525
Shiproom - fit and finish - approved

[2021-04-30 15:09] sgellock commented on #7523
Shiproom - lets spike the fix, and then assess the code change risk to determine whether it's in or out of R13

[2021-04-30 15:11] sgellock commented on #7522
Shiproom - lets try and repro

[2021-04-30 15:13] sgellock commented on #7513
Shiproom - @srinaath please merge your PR today, once reviewed.

[2021-04-30 15:18] sgellock commented on #7501
Shiproom - lets spike making linux the default OS for A Func

[2021-04-30 15:24] sgellock commented on #7498
Shiproom - let's get an agreed upon experience, and then take it from there

[2021-04-30 15:29] sgellock commented on #7492
Shiproom - lets to a test pass with today's nightly to verify

[2021-04-30 15:32] sgellock commented on #7487
Shiproom - eng needs the links.

[2021-04-30 15:34] sgellock commented on #7486
Shiproom - improves the PVA integration scenario.  approved.  @a-b-r-o-w-n please merge today, upon review.

[2021-04-30 15:42] sgellock commented on #7398
Shiproom - remaining issues are being tracked in #7373

[2021-04-30 15:42] #7398 closed

[2021-04-30 15:54] sgellock commented on #7155
Shiproom - this needs to be scoped to R13.

[2021-04-30 15:56] vivekkshankar commented on #7205
https://www.figma.com/file/MDwHWFVT2Cth9yFzazJxCB/Orchestrator-and-Skills-R13-and-beyond?node-id=1293%3A2157 Sharing the design here for reference..

[2021-04-30 15:57] #7148 closed

[2021-04-30 16:15] JonathanFingold commented on #7470
@darrenj The problem is that we're mixing two aspects here, and it gets confusing:
1. The root bot can use the manifest information to build a language model for utterances that the skill can handle, and that is reflected in the OnIntent triggers in the skill.
2. However, the skill bot is expecting activities (not triggers). So a basic skill might just want a message or a conversation update activ

[2021-04-30 16:18] benbrown commented on #7522
I am not currently able to reproduce this using the same QNA maker Darren did.  He is going to try again as well.

[2021-04-30 16:23] benbrown commented on #7428
This is quite an old version of the build! This is what this looks like now.

![Screen Shot 2021-04-30 at 11 23 07 AM](https://user-images.githubusercontent.com/729873/116724592-76ef6d80-a9a6-11eb-824e-e3ed4d7153d5.png)

[2021-04-30 16:26] vivekkshankar commented on #7155
@sgellock @cwhitten The P0 R13 scope is as follows:

- We will show tunnelling software requirements via messaging on starting a bot.

![image](https://user-images.githubusercontent.com/67671676/116724365-6f739880-a995-11eb-8ad7-7bbc7793b6e0.png)

- The message will auto-populate the port number and dynamically adjust the syntax for the command based on the OS detected.

- This message will only s

[2021-04-30 16:32] #7486 closed

[2021-04-30 16:33] scheyal commented on #7521
We have many such instances. Switching projects, closing Composer, or hitting an unrelated bug are such examples and this is a regression from previous releases.

[2021-04-30 16:46] srinaath commented on #7513
Thanks @sgellock

[2021-04-30 16:55] dmvtech commented on #7314
Interesting. I'll try and reproduce. Is it only having the total amount of dialogs? Or do they need to be configured/connected in some manner? Do you have triggers for each dialog or are they being called from other dialogs? (i.e. is the scenario; dialog1 calls dialog2 calls dialog3....calls dialog11 ?)

[2021-04-30 16:57] tracyboehrer commented on #7472
For the "System.Private.CoreLib: Exception while executing function: messages. Microsoft.Bot.Connector: Could not load file or assembly 'System.IdentityModel.Tokens.Jwt" issue, add the following to the csproj:

[code]

[2021-04-30 16:58] tracyboehrer commented on #7472
Also, the function project is not including the LUIS config located in generated, nor the appsettings.development.json.

That too requires csproj changes to include those in the build.

[2021-04-30 16:58] #7513 closed

[2021-04-30 17:01] tracyboehrer commented on #7472
On Azure, am now getting an error:

[code]

"DotnetFunctions" is the name of my project.

[2021-04-30 17:10] benbrown commented on #6963
Just to re-iterate what @a-b-r-o-w-n said, this problem also exists on the 'connections' section of the settings page, and would hopefully also be addressed by this solution.

[2021-04-30 17:18] mareekuh commented on #7498
@emivers8 - experience discuss in Shiproom: Installing a package is still enabled, but we stop the running bot for the user to bypass this issue. Please chime in if needed.

[2021-04-30 17:21] scheyal commented on #7521
So, just for more info/example a quick skim of processes on my computer shows 3 dangling processes:

[BF]c:\workspace\botroot\TempPlay>tasklist | findstr /i orch
OrchBB1.exe                 338976 Console                    1     65,540 K

[BF]c:\workspace\botroot\TempPlay>tasklist | findstr /i mood
MoodChecker.exe               2000 Console                    1     26,348 K
MoodChecker.exe

[2021-04-30 17:22] HabeebunnishaMohammad commented on #7314
@dmvtech Yes, I do have triggers in each dialog and they are connected with each other. Some dialogs are not having triggers they are just connected with other dialogs so that I can have the continuous flow.

[2021-04-30 17:24] GeoffCoxMSFT commented on #7366
@garypretty Could you tell me a little more as I'm not able to reproduce this yet.
Are you on Mac or Windows?
What type of bot did you create? (e.g. empty-bot C#, Azure Web)
What optional resources did you deploy? (e.g. cosmos, etc.)  And did you deploy both authoring and runtime LUIS?

[2021-04-30 17:25] benbrown commented on #7507
@JonathanFingold you need to run npm install first.

This should be in the readme file located in the scripts folder

[2021-04-30 17:28] emivers8 commented on #7492
Same problem still occurring on Version:  2.0.0-nightly.241421.a3f796f

[2021-04-30 17:30] benbrown commented on #7523
I have eyes on the solution for this.

[2021-04-30 17:32] benbrown commented on #6884
Is this still happening?  Can this be fixed?  It has been hanging out in "in progress" for a long itme

[2021-04-30 17:36] Virtual-Josh opened #7528 "Node Function Bot fails to save on empty function creation"
## Describe the bug
When you create an node function from the empty bot template you get an error saying `Fail to save bot`

## Version
Version:  2.0.0-nightly.241421.a3f796f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To

[2021-04-30 17:55] scheyal commented on #7334
The user experience around none/unknown is confusing and we will be looking at fixing it in the next Milestone. We need a single “insufficiently recognized” event.

Most preferably is that the UnknownIntent trigger in Composer is invoked when unknown recognition is detected. Configurability should possibly include a threshold and maybe examples if underlying technology requires it, but we should n

[2021-04-30 17:57] Dewain27 commented on #7524
Documentation for #6258 should fix this issue.  Documentation being updated currently.

[2021-04-30 17:57] #7524 closed

[2021-04-30 17:59] mareekuh commented on #7205
@cwhitten  - talked w vivek, walked through flow. It's a patch but good to go

[2021-04-30 18:01] Dewain27 commented on #7507
#6258 should resolve issue...

[2021-04-30 18:04] GeoffCoxMSFT commented on #7517
@hatpick Can you see if this is an app state issue with the editor or a language server issue?  and then assign to the right person?

[2021-04-30 18:05] scheyal commented on #7521
To add to this, in terms of impact, it leads to very misleading experience. I restarted my bot (not composer) but emulator still shows the old behavior (prior to whatever I fixed). I had to kill the bot process, restart composer, and then it worked.

[2021-04-30 18:11] GeoffCoxMSFT commented on #7480
@BhattMeet98 Could you review your appSettings.json file and look for the publishing profile settings (it looks like a long string of encoded JSON)?  See what the hostname is in that profile and verify it has the right casing as your provisioned web app.  Also please double check you are using the LUIS authoring key for authoring and the LUIS runtime key for runtime if your bot is leveraging LUIS.

[2021-04-30 18:16] Dewain27 opened #7529 "Speech tab in Project Settings"

[2021-04-30 18:16] Dewain27 opened #7530 "IMPORTANT: provide a fallback feed URL that *we can control* if the npm registry feed fails"

[2021-04-30 18:44] Dewain27 commented on #7441
Need to have an offline story / error handling

[2021-04-30 18:45] Dewain27 commented on #7428
Fixed in newest build

[2021-04-30 18:45] #7428 closed

[2021-04-30 18:53] taicchoumsft opened #7531 "Orchestrator Dialog: Notification for installing Orchestrator package"
## Describe the bug
When going through the skills flows, at the end we see the Orchestrator recommendation dialog (to use Orchestrator at root dialog of parent).

When user clicks continue, Orchestrator package continues to be installed "in the background" while the user has control of the UI again - but this is dangerous.  We need a way to block user from doing any ops until the Orchestrator pack

[2021-04-30 18:57] Dewain27 commented on #7528
@benbrown to investigate if this issue is reproduceable.

[2021-04-30 18:58] beyackle opened #7532 "Publishing page loses information on reloading the bot"
## Describe the bug

## Version
2.0.0-test
## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Make a bot, and publish it using the normal flow in the Publish page
2. Note the information there - publish history, messages, etc.
3. Return to the home page
4. O

[2021-04-30 19:11] emivers8 commented on #7492
Another interesting thing: The publishing profile modal is popping up unexpectedly every time I go back to the Publish page if I was last on the publishing profile pivot tab. (Doesn't happen if I was last on the publish tab.)

[2021-04-30 19:17] Dewain27 commented on #7366
@garypretty  moving to P1 as we can't repro the issue.  When you get back, please connect with @GeoffCoxMSFT.

[2021-04-30 19:17] scheyal opened #7533 "Utterance (customDimensions['Text']) is not reported in app insights inhibiting conversation analytics"
## Repro
* create a new bot (latest sdk), hook up app insights, prompts the user and detect/recognize results
* variation: LUIS or Orchestrator
Results: User utterance is not captured.
Expect: Retain the way we captured utterance in customDimensions['Text'] (but it isn't showing anywhere).
This is a regression from previous releases.

## Version

Version:  2.0.0-nightly.241421.a3f796f
Electron: 8.

[2021-04-30 19:21] Dewain27 commented on #7163
fixed in the latest build #7236

[2021-04-30 19:21] #7163 closed

[2021-04-30 19:25] Dewain27 commented on #7313
Fixed in latest release.

[2021-04-30 19:25] #7313 closed

[2021-04-30 19:26] #7287 closed

[2021-04-30 19:27] #7187 closed

[2021-04-30 19:31] Dewain27 commented on #7394
@cwhitten please see if this is something @tdurnford should look at.  We are getting multiple reports of this.

[2021-04-30 19:32] emivers8 commented on #6884
Didn't happen today. Maybe keep it open but assign to R14 so if I get it again I can update? It happens inconsistently, but apparently not to anyone else, so maybe not so important.

[2021-04-30 19:39] cwhitten commented on #7394
@Dewain27, this is a bug in the SDK that was fixed as of 4.12.2 and PVA's runtime is on 4.11

[2021-04-30 19:42] Dewain27 commented on #7235
fixed in latest build

[2021-04-30 19:42] #7235 closed

[2021-04-30 19:44] #7525 closed

[2021-04-30 19:58] cwhitten commented on #7394
For ship-room discussion:

The Adaptive Card template that is provided with the updated LG authoring widget is not PVA compatible due to this issue. R13 consideration is to update the template to be SDK 4.11 compatible.

[2021-04-30 20:12] tdurnford opened #7535 "[settings] Editing allowed caller moves cursor to the end of the text field"
## Describe the bug
If you edit the middle of a string in the Allowed Callers list, the cursor moves to the end of the string on each key stoke. The component should be updated to use unique keys for each array item to prevent the field from being rerendered on each key stroke.

## Version
Latest build from main

## Screenshots
![Apr-30-2021 14-08-34](https://user-images.githubusercontent.com/1703

[2021-04-30 20:18] benbrown opened #7536 "BUG: On connections tab of settings, auth should use tenantId from the publishing profile!"
Related to #6963

Publishing profiles now contain a tenantId.  We should use this when retrieving auth to work with the ABS channels on the connections tab.  Otherwise, this will not work for users with alternative tenants or personal accounts.

[2021-04-30 20:23] hatpick commented on #7517
@GeoffCoxMSFT the intent being created in that dialog does not get persisted to the LuFile, but instead gets persisted to a local state which means it wont get parsed and doesn't exist until they hit submit.

[2021-04-30 20:24] tracyboehrer commented on #7472
Moving this issue to Components and opening another P0 for Composer.

This is a two part issue:
1) What this issue refers to is resolved by csproj changes.
2) There is a second issue where the Azure resource is created at 32-bit, but the deploy build appears to be using 64-bit.  The Function will not run until the resource is manually switched to 64-bit.

[2021-04-30 20:28] benbrown commented on #7528
I cannot reproduce this using the latest.  @Virtual-Josh do you know if you were using the RC8 version of the generator at this point?

[2021-04-30 20:29] hatpick commented on #7517
@boydc2014 I understand why editing here does not persist it to LuFile (in case user cancels creation) but is there a way that the lu parser can parse the local state "on the fly" and provide parsed LuFile to the LuEditor?

(if not, it means that we can't have the assisted labeling with the floating menu) FYI @garypretty

[2021-04-30 20:33] hatpick commented on #7498
I think it's important to let the user know that installing a new package requires stopping their bot, if they agree, then composer stops their bot and continues with the installation, if not composer informs the user that they need to stop their running bot before any installation can happen.

[2021-04-30 20:41] tracyboehrer opened #7538 "An Azure Function project is provisioned as 32-bit, but built as 64-bit: Won't run on Azure"
An Azure Function project will be provisioned as 32-bit (the default because it's not explicit).  However, when the project is deployed, the build command specifies 64-bit.  When run, Azure will report:

System.Private.CoreLib: Could not load file or assembly 'DotnetFunctions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.

1) Manually changing the Function App in Azure to 64-bit will cor

[2021-04-30 20:42] mareekuh commented on #7426
Please use the following:

An App ID is used for communication between your bot and skills, services, websites or applications. An App ID is created when you provision resources for your bot. If you’ve created an App ID already, you can use that ID instead.

[2021-04-30 20:42] tracyboehrer commented on #7472
https://github.com/microsoft/BotFramework-Composer/issues/7538

[2021-04-30 20:52] hatpick commented on #7492
@GeoffCoxMSFT @benbrown @emivers8
As for not being able to click close the notification, it's because the current dialog that you are seeing is set to be blocking, Fabric will use a focus trap zone to swallow the clicks outside the dialog content and prevent them.

On the other hand, if those dialogs are not blocking, clicking outside will dismiss them.

[2021-04-30 20:54] #7462 closed

[2021-04-30 21:08] benbrown opened #7539 "Update provisionComposer.js for handoff"
The provisionComposer script used for the admin handoff could be tweaked for its new use case.  This pertains to the *zipped copy of the provision script* distributed for admin handoff that lives on Github.

MUST DO:
- [x] if specified, resourceGroup is used for name of several items, resulting in mismatch in the final publishing profile.   (We either need to fix this, or remove the resourceGroup

[2021-04-30 21:08] Virtual-Josh commented on #7528
@benbrown I was using today's build. I was able to repro this twice before I wrote up the issue. I just tried again and I was unable to repo. If I was a betting man I'd guess it was something to do with updating from yesterday's daily to today's daily since I hit this right after the update since this was the first bot I made today. If you want to dig into that very specific scenario then feel fre

[2021-04-30 21:25] emivers8 commented on #7492
Yeah, we don't want that.

[2021-04-30 21:29] emivers8 commented on #7390
@Dewain27 @GeoffCoxMSFT @VamsiModem

I don't think we saw this one, but I just confirmed. Wrong title on the add existing screen.

[2021-04-30 21:38] benbrown commented on #7528
That is good info Josh! I am working on a theory that updating the app may cause some issues like this.  Please let me know if you do notice this again! I am going to leave this open to track it.

[2021-04-30 21:46] Virtual-Josh commented on #7501
I've done the update you recommended and the bot still isn't responding. This bot was deployed this morning over 3 hours ago. However there's a new error in the logs which might point to a different problem with the build process:

[code]

It seems like Composer isn't picking up some files/config/params that web apps do since I've never had it complain about missing/bad storage things.

[2021-04-30 21:47] tracyboehrer commented on #7538
One workaround is to manually change the provisioned Functiona App on Azure to 64-bit.  Further deployments from Composer don't change that, and will continue to work.

So this may not be a P0 for R13.

[2021-04-30 21:58] JonathanFingold commented on #7507
@benbrown  has me unblocked, but in the process opened one or two other issues.

[2021-04-30 21:58] #7507 closed

[2021-04-30 22:04] Virtual-Josh opened #7541 "Dotnet function bots don't work in Azure"
## Describe the bug
Dotnet function bots throw errors when deployed to azure.

This MIGHT be related to #7501, but since it's a different platform the core issue might be different.

## Version
Version:  2.0.0-nightly.241421.a3f796f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ]

[2021-04-30 22:30] sgellock commented on #7492
+1 @emivers8 comment

[2021-04-30 23:03] JonathanFingold commented on #7373
In Version:  2.0.0-nightly.241421.a3f796f I tried:
- opening https://github.com/tomlm/iciclecreek.bot/tree/master/source/Bots/RepoBot
- Go to the Package Manager view.
- Composer showed me a weird screen and is now mostly locked up, I can't access most of the UI.

![image](https://user-images.githubusercontent.com/35047199/116761855-92ba3a00-a9cd-11eb-89c7-99f6fe980036.png)

[2021-04-30 23:17] Virtual-Josh commented on #7528
@benbrown so it just happened again. this time I had attempted to create a 2nd provision for a bot, it partially failed so I created a new bot and then I saw the error again. It seems like there's some weird state thing where a process somewhere doesn't fully finish, or alternatively is interrupted and then the writing issue happens. Maybe it's a very weird concurrent writing/resource access issue

[2021-04-30 23:30] JonathanFingold commented on #7373
Getting very similar behavior in the "Frankenbuild", which still claims to be Version:  2.0.0-nightly.241421.a3f796f.

However, here's output up to this point from the terminal (Windows):

[code]

[2021-05-01 00:28] scheyal commented on #7533
Also, related (but different):
I see events for recognizing regular intents (w/o utterance), but the "exit/done/quit" one that I use to call a trigger with EndDialog is not showing up. May require a different bug but starting here.

[2021-05-01 01:27] mewa1024 commented on #7373
Tested on 4/30:
- Used Frankenbuild from [https://fuselabs.visualstudio.com/Composer/_build/results?buildId=241078&view=results](url).
- opened an EchoBot with the sample custom action (MultiplyDialog) added
- Followed the instructions in the Composer R13 - Mock Composer Upgrade Test:

1. Open “Terminal” and run this command : export GH_TOKEN= _tokenValue_
1. Go to Composer's install location (ex

[2021-05-01 03:29] lauren-mills opened #7542 "Composer UI does not adequately support action schemas containing for arrays of objects"
## Describe the bug
I have a custom action that includes an Array property of type object.

Here is the JSON of what the completed array should look like:
[code]

I wrote the following schema:
[code]

The Composer UI for this property shows like this:
![image](https://user-images.githubusercontent.com/27976702/116769614-3a496380-a9f2-11eb-86bd-a9b96fbf0ab0.png)

The shown UI does not give me any a

[2021-05-01 04:46] sudhanrv opened #7543 "Unable to publish web app bot code behind proxy"
while we're trying to publish/create/import the code from bot composer to web app bot encountered the attached error.  This we are trying to archive from the server within the corporate network firewall. All other Azure resource were able to connect from the same network and proxy except bot composer. Looking for earliest solution on this issue.
![image](https://user-images.githubusercontent.com/5

[2021-05-01 08:05] sudhanrv commented on #4091
@luhan2017 Could you please help me as well support the proxy settings from the bf cli side. I am facing the exact same failure while publishing LUIS from composer and I am behind corporate network firewall #7543.

[2021-05-01 08:55] Clooney24 commented on #4645
Just deleted all my content in hostedBots folder by accident - bot doesn't start anymore - how can I fix this?

[2021-05-01 09:25] Clooney24 commented on #4645
Just re-installed composer and it could be started again

[2021-05-01 09:31] Clooney24 opened #7544 "Adapter Packages can not be installed. Microsoft.IAdapter is not defined"
## Describe the bug

Adapter Packages can not be installed. Error: "A problem occured during the install of this Component: Error Microsoft.FacebookAdapter: Interface Microsoft.IAdapter is not defined Error must have a merged .schema to merge .uischema files *** Could not merge components ***"

## Version

Version:  2.0.0-nightly.241799.f577409
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0

[2021-05-01 11:10] Clooney24 opened #7545 "Publishing not working"
## Describe the bug

Publishing process stops with error  MSB1009: Die Projektdatei ist nicht vorhanden.\\r\\nSchalter: [...stripped path info..]\\\\runtime\\\\Microsoft.BotFramework.Composer.WebApp.csproj\\r\\n\",\"stderr\":\"\"}"

This project files lies in sub-folder "azurewebapp" - publishing process seems to require it in runtime main folder?

## Version

Version:  2.0.0-nightly.241799.f57740

[2021-05-01 11:30] Clooney24 commented on #7545
On step before, publishing did not even start because folders "ComposerDialogs\generated" are missing in runtime. I created them manually, then this error happend.

[2021-05-01 11:47] Clooney24 commented on #7544
I recognized that runtime code path configuration changed from "..\runtime" to "runtime" in todays version - but code remains in same location. Maybe this is related to the bug.

[2021-05-01 21:18] mareekuh opened #7546 "Difference between Microsoft App registration vs 'Azure bot' ?"
Create a new Assistant bot
Add LUIS key etc via rocket menu
Create provisioning profile
Create new
Notice that we do not ask for 'App registration' in the wizard.
Notice that in the 'review' screen, it lists 'Microsoft App registration ID'

As a user, I have no idea where this comes from. I am creating an AZURE bot, why do I need a MSFT app registration??
Can we call this Azure Bot registration?

[2021-05-01 21:37] mareekuh opened #7547 "Pre-create name for publishing profile to reduce friction"
Provisioning is tricky - it asks for lots of names and concepts that not all users my be familiar with, yet.
Let's reduce friction by prepopulating the 'publishing profile name' field with the bot name + profile + unique number

<img width="705" alt="Screen Shot 2021-05-01 at 2 37 14 PM" src="https://user-images.githubusercontent.com/48503434/116795555-c27b4780-aa8a-11eb-883d-d5dee639e1da.png">

[2021-05-01 21:51] mareekuh opened #7548 "Publishing profile for CoreAssistant includes LUIS - why is it indicated as optional?"
The 'Core Assistant' template includes a series of pre-created components which require LUIS to work properly.
The rocket menu makes 'create LUIS keys' a required step - which is correct.

When creating a publishing profile, several of the resources required for a Core Assistant bot template are indicated as 'optional resources' in the screen below. This would allow me to unselect these resources

[2021-05-02 00:03] mareekuh opened #7549 "Notifications mention 'web app resources' being configured, without prior notice/consent"
Open composer, create an Assistant bot, add LUIS/QnA key, create provisioning profile.
As part of the provisioning process, the notifications state that a 'web app' is being created.
However, webapp is not mentioned in the summary of resources to be created. To be accurate and trustworthy, we need to either add this in the summary of resources.

<img width="286" alt="Screen Shot 2021-05-01 at 4 59

[2021-05-02 00:11] mareekuh opened #7550 "'edit publishing profile' opens 'create new profile' screen"
Create new Assistant bot.
Add LUIS/QnA
Create profile
Profile completed
Click 'edit profile' in the 'publish profiles' list
Notice that the 1st page of the 'create new profile' wizards shows up, with the option to create new, import etc.

Expected: If I click edit profile, I expect to see my settings and go from there.
The closest to this is the 2nd page in the wizard 'Configure resources'
Please

[2021-05-02 00:46] mareekuh opened #7551 "How do I recover from/reset after changing my bot's runtime?"
The instructions say:
'Configure Composer to start your bot using runtime code you can customize and control. Leave the field below blank if you don’t require customization.'

and the field has the following content:
Start command : dotnet run --project CoreAssistant.csproj

Since I've never touched this field, based on the instruction I am concluding that I do have a custom runtime...
If I were t

[2021-05-02 14:18] tdurnford commented on #7542
https://github.com/microsoft/BotFramework-Composer/pull/6633 Should resolve this issue

[2021-05-02 16:36] #7485 closed

[2021-05-02 18:40] iMicknl commented on #5728
@tonyanziano, @cwhitten any updates? This hasn't been fixed yet in last nightly builds.

[2021-05-03 08:50] guendas commented on #7413
@benbrown thanks a lot! That was the problem. It finally worked. Thank you so much :)

[2021-05-03 13:05] cxbuilders commented on #7479
I created a minimal example bot that has a custom component that loops and sends an event activity every 10 seconds. You can see that when the activity arrives in the Emulator log, it still takes a good 5 / 6 seconds for it to show up.

[http://cxbuilders.com/temp/ProActiveDelay.zip](http://cxbuilders.com/temp/ProActiveDelay.zip)

[2021-05-03 14:52] cwhitten commented on #6921
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/7153

[2021-05-03 14:52] #6921 closed

[2021-05-03 15:03] sgellock commented on #7541
Shiproom - let's get a PR for this and then discuss

[2021-05-03 15:04] sgellock commented on #7539
Shiproom - approved. scoped to GitHub asset

[2021-05-03 15:05] sgellock commented on #7538
Shiproom - let get a PR then assess

[2021-05-03 15:06] sgellock commented on #7536
Shiproom - personal account scenario, which is important for R13

[2021-05-03 15:07] sgellock commented on #7535
Shiproom - please merge today.

[2021-05-03 15:08] tracyboehrer commented on #7538
Will do.  Mostly likely this is a Composer change.  Either in how it's provisioned, or how its built.  Maybe something else. But we can get the right brains involved to figure out the best solution.

[2021-05-03 15:09] #7535 closed

[2021-05-03 15:09] sgellock commented on #7528
Shiproom - let's investigate and understand better before making a call

[2021-05-03 15:10] sgellock commented on #7523
Shiproom - approved

[2021-05-03 15:11] sgellock commented on #7522
Shiproom - @darrenj we're unable to repro.  closing.  reopen if you are able to reproduce

[2021-05-03 15:11] #7522 closed

[2021-05-03 15:12] sgellock commented on #7501
Shiproom - continue to investigate.  core scenario for R13

[2021-05-03 15:13] sgellock commented on #7498
Shiproom - would like to see this in for R13, if we can make the date.

[2021-05-03 15:19] sgellock commented on #7492
Shiproom - @GeoffCoxMSFT can you update the issue on what the plan is?

[2021-05-03 15:21] sgellock commented on #7491
Shiproom - we can live with this for R13.  moving to R14

[2021-05-03 15:22] sgellock commented on #7487
Shiproom - approved

[2021-05-03 15:28] sgellock commented on #7426
Shiproom - @lauren-mills can you get this merged today, with Marieke's copy from above?  thanks

[2021-05-03 15:30] tdurnford commented on #7515
@alanlong9278 Why should we delete this page? It's intended to allow developers to add events that trigger dialogs to their manifest?

[2021-05-03 15:33] sgellock commented on #7394
Shiproom - lets spike the adaptive card template and see where we land

[2021-05-03 15:34] sgellock commented on #7373
Shiproom - once we push 1.4.x out, we can test further.

[2021-05-03 15:39] sgellock commented on #7205
Shiproom - approved

[2021-05-03 15:42] sgellock commented on #7155
Shiproom - let's do the MVP here for R13

[2021-05-03 15:44] sgellock commented on #7153
Shiproom - approved

[2021-05-03 15:45] sgellock commented on #6963
Shiproom - we need to get this in by Tuesday please.

[2021-05-03 16:01] joshgummersall commented on #7501
@sgellock should be resolved via https://github.com/microsoft/botbuilder-js/pull/3643

[2021-05-03 16:09] benbrown commented on #7492
I suspect the re-appearance of the publishing modal is due to the `completionRequired` attribute passed into the PublishTargets component.  I am not sure why it would RE-trigger, but I suspect this is the culprit.

I recently introduced this to allow for the modal to appear when users click to complete the ABS profile.  Using a #hash in the url, it navigates the user to the appropriate tab AND ALS

[2021-05-03 16:15] scheyal commented on #7157
Passing P0 from closed dup here for consideration.

[2021-05-03 17:00] joshgummersall opened #7555 "Javascript Function Bot MicrosoftAppId/Password empty environment variables"
## Describe the bug

Provisioning a JS function bot yields a function app with `MicrosoftAppId` and `MicrosoftAppPassword` environment variables both set to empty strings. This overrides the `appsettings.json` file and yields a bot that does not authenticate incoming messages.

## Version

`2.0.0-nightly.241915.204a82`

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefo

[2021-05-03 17:01] lauren-mills opened #7556 "When a template it broken or invalid, Composer shouldn't delete the project after the generator runs"
We had a JSON bug in our Enterprise Assistant template that caused Composer not to be able to open the created project. But Composer then deletes the generated files which doesn't give the developer any opportunity to resolve the issues.

Drawing parallels to templates in VS, the project gets created even if there are errors which allows the dev to resolve things and still see the generated code,

[2021-05-03 17:05] joshgummersall commented on #7501
I verified a Cosmos DB deployment this morning using `4.14.0-preview.dev.6e311b9` which includes the fix from https://github.com/microsoft/botbuilder-js/pull/3643 and it worked.

[2021-05-03 17:08] benbrown commented on #7536
This should be fixed by #7554  - the tenantId is already in "new" publishing profiles, so we can apply it directly to the auth call.  If absent, we call back to the access token mechanism, which works for "legacy" profiles without the tenant specified.

[2021-05-03 17:18] benbrown commented on #7538
There is a bug in Composer in the call made to build for functions.  It was passing in the win-64 build option.

Here is my proposed PR: #7557

@peterinnesmsft  @tracyboehrer  Please let me know if this sounds like the correct change.

[2021-05-03 17:21] #7426 closed

[2021-05-03 17:44] v-kydela commented on #7479
@cxbuilders - It looks like you've shared a Composer project. I tried starting your project in Composer and it failed to build. What version of Composer would you like me to try with?

[2021-05-03 17:47] peterinnesmsft commented on #7541
Initial assessment is that this appears to be a dupe of #7538 - will dig in and confirm.

[2021-05-03 18:05] #7523 closed

[2021-05-03 18:21] tsuwandy commented on #7300
Will be fixed with the next release.

[2021-05-03 18:34] hatpick opened #7558 "Duplicate key in project settings page"
![Screen Shot 2021-05-03 at 11 34 08 AM](https://user-images.githubusercontent.com/1483492/116917466-8f0ff880-ac03-11eb-8eff-e4779d976455.png)

[2021-05-03 18:36] cxbuilders commented on #7479
@v-kydela This is the latest 1.4.0 Just tested it again and runs without issues (except the one this issue is about :) )

[2021-05-03 18:51] emivers8 opened #7560 "[bubb] Teaching bubble for starting your bot not popping up"
## Describe the bug

The teaching bubble prompting to start your bot after setting up LUIS/QnA isn't showing.

![image](https://user-images.githubusercontent.com/55601267/116919059-989a6000-ac05-11eb-8cd8-51727fe081ff.png)

## Version

Version:  2.0.0-nightly.241915.204a82
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
macOS

## To Reproduce

Steps to reproduce the

[2021-05-03 19:02] sgellock commented on #7492
Shiproom:  approved - fixes a bad first experience with the new service to composer hand off flow for creating new bots

[2021-05-03 19:16] emivers8 opened #7561 "Composer becomes unresponsive after logging into Azure to fetch LUIS key"
## Describe the bug

The app becomes mostly unresponsive after clicking to add LUIS key and logging in. The cursor changes on hover, and I can access the app menu, but I can't interact otherwise with the app. I've tested this with both core+language and assistant core templates.

## Version

Version:  2.0.0-nightly.241915.204a82
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-

[2021-05-03 19:22] pavolum commented on #7561
Cannot rerpro on latest nightly with the same build on an organizational account

[2021-05-03 19:27] pavolum commented on #7561
Was able to repro with my personal @outlook azure account and a similar thing happens were the app goes unrepsonsive, I was able to get this error modal to appear after exiting and reentering the unresponsvie modal
![image](https://user-images.githubusercontent.com/22845013/116923032-1b321800-ac24-11eb-89d1-62f000b612ad.png)

[2021-05-03 19:33] pavolum opened #7562 "Clean up old creation code"
Many lingering V1 creation files are still in the app that are no longer used.

- [ ] Remove all old creation code
- [ ] Change syntax in new creation files to no longer have the 'V2' terminology

[2021-05-03 20:00] sgellock commented on #7528
I am not able to repo this using Rc8 of the template and the following nightly:
Version:  2.0.0-nightly.241915.204a82
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-05-03 20:00] #7528 closed

[2021-05-03 20:02] benbrown commented on #7561
I cannot reproduce this. I don't think this has to do with the login - I think this is something going on with the webchat that seems to be logging lots of errors in the console.

[2021-05-03 20:12] GeoffCoxMSFT commented on #7492
Per Scott's comment, labeling approved.

[2021-05-03 20:20] daveta commented on #7533
Looking for positive handoff..

[2021-05-03 20:25] sgellock commented on #7536
Shiproom - make local accounts work is a P0 scenario - approved

[2021-05-03 20:35] tdurnford commented on #7543
@benbrown Do you have suggestions?

[2021-05-03 20:42] emivers8 opened #7565 "Create + config fit + finish"
**Five areas, in descending importance:**
1. Project settings
2. Rocket panel
3. Publishing page + modal
4. Create modal
5. Misc

Please let me know if there's questions and send screenshots!

Note: I'm submitting this in progress so @pavolum can get started.

Project settings
---

**General items:**

![image](https://user-images.githubusercontent.com/55601267/116928352-cdacaf80-ac11-11eb-87e2-8fd

[2021-05-03 20:50] #7491 closed

[2021-05-03 21:11] anusharavindrar commented on #6712
@ctharmon722, do you get any specific error when you try to get the dialogs running? Can you attach the screenshot along with the detailed steps?

[2021-05-03 21:20] sgellock commented on #7561
I am not able to repro with my microsoft account.  can try why personal account.

[2021-05-03 21:21] tdurnford commented on #7153
@darrenj @sgellock I am not able to reproduce this error in the latest nightly.
![May-03-2021 15-19-33](https://user-images.githubusercontent.com/17039790/116935067-102ab800-ac23-11eb-8651-e19067a5ee20.gif)

[2021-05-03 21:21] cwhitten commented on #7451
Hi @iMicknl - PVA does support .lu authoring, but only a subset of the syntax currently. You can however use the User Input  page in PVA-mode as it authors into .lu files.

I'm inclined to close this initially, but please do comment if you feel otherwise-or find a bug in this area that needs to be investigated.

[2021-05-03 21:21] #7451 closed

[2021-05-03 21:32] sgellock commented on #7491
Shiproom - this issues was merged without approval.  sigh

[2021-05-03 21:41] srinaath opened #7566 "Runtime Upgrade UX"
## Description
This ticket documents the work done to push version 1.4.1 of Composer with the UX to show a breaking upgrade from v1.4.1 to v2.0 when Composer v2.0 releases.

The changes will be applied on the v1.4.1 branch

![Screen Shot 2021-05-03 at 2 37 08 PM](https://user-images.githubusercontent.com/13004779/116937066-8cba9800-ac1d-11eb-9cd7-563332a14224.png)

[2021-05-03 21:44] benbrown commented on #7560
This was a regression.  I have fixed this in #7567

[2021-05-03 21:45] cwhitten commented on #5728
Hi @iMicknl. We don't expect there to be a needed change in Composer. Once PVA addresses this issue and releases the fix, it should just work. I am reaching out to the PVA team to confirm this.

[2021-05-03 21:46] iMicknl commented on #7451
Thanks for your reply, @cwhitten. Is there any documentation around this topic? I am not sure how this would work since it seems that you can't call the PVA NLU via Composer (#6048), thus which engine will execute these .lu files?

In which situations would you use the .lu files in PVA context? The trigger phrases to start a dialog are also not based on the .lu files.

[2021-05-03 21:57] emivers8 commented on #7561
It got to a point where Composer was just unresponsive when I tried to do anything. Rebooting my machine seems to have resolved the issue. I wondered if it might have had something to do with having gone through the LUIS/QnA key flow several times this morning. Maybe somehow got into a bad state or something. I was using my Microsoft account, though, not personal.

[2021-05-03 22:16] emgrol opened #7568 "Custom recognizer absent from Recognizer Type list"
## Describe the bug

The **Custom recognizer** doesn't appear in the **Recognizer Type** list.

## Version

Version:  2.0.0-nightly.241915.204a82
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduc

[2021-05-03 22:36] benbrown commented on #7555
This has been resolved in #7557

[2021-05-03 22:49] #6963 closed

[2021-05-03 22:53] #7492 closed

[2021-05-03 23:08] mareekuh opened #7569 "Fit & finish - UI Copy | Chrome and left nav"
**Chrome & left nav UI Copy**
White cells = existing copy
Yellow/blue cells = new copy

Link to 'live' copy on 'Chrome & nav' tab: https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-be1b-de96507b4422&wdOrigin=TEAMS-ELECTRON.

[2021-05-03 23:20] cwhitten commented on #7451
Hi @iMicknl,

By default, and when extending a PVA bot with Composer, the PVA NLU system is the default recognizer. This is what is wired into the .lu system. See the following screenshot:

<img width="1185" alt="Screen Shot 2021-05-03 at 4 12 36 PM" src="https://user-images.githubusercontent.com/1156704/116944894-35bbbf80-ac2b-11eb-9e09-4bae811ddb3c.png">

You cannot arbitrarily configure the PVA

[2021-05-03 23:20] sgellock commented on #7566
Shiproom - migration is a P0 scenario - approved

[2021-05-03 23:22] v-kydela commented on #7479
@cxbuilders - I can reproduce your problem now. I had a look at your custom action code:

This looks very unusual to me. Can you perhaps explain why you're doing this this way? Where did you get the idea to get the `ClaimsIdentity` and the `BotCallbackHandler` from the turn state? Why are you sending a reply by calling a saved callback handler instead of just using the turn context? Is there a sam

[2021-05-03 23:24] sgellock commented on #7153
Shiproom - @darrenj we're unable to repo.  Are you?

[2021-05-03 23:39] mareekuh opened #7570 "Fit & finish - UI Copy | Home page"
Fit & finish - UI Copy | Home page

White cells = existing copy
Yellow/blue cells = new copy
Orange = P0

Link to 'live' copy on 'Home page' tab:
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-be1b-de96507b4422&wdOrigin=

[2021-05-03 23:54] mareekuh opened #7571 "Fit & finish - UI Copy | Rocket menu"
Fit & finish - UI Copy | Rocket menu

White cells = existing copy
Yellow/blue cells = new copy
Orange = P0

![Rocketmenu](https://user-images.githubusercontent.com/48503434/116946931-4ae71d00-ac30-11eb-8a17-cf8fb240d8d4.png)

Link to 'live' copy on ' Rocketmenu ' tab:
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1

[2021-05-03 23:59] mareekuh opened #7572 "Fit & finish - UI Copy | Get LUIS"
Fit & finish - UI Copy | Get LUIS

White cells = existing copy
Yellow/blue cells = new copy
Orange = P0

Link to 'live' copy on 'Get LUIS ' tab:
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-be1b-de96507b4422&wdOrigin=T

[2021-05-04 00:16] mareekuh opened #7573 "Fit & finish - UI Copy | Bot templates"
Fit & finish - UI Copy | Templates

White cells = existing copy
Yellow/blue cells = new copy
Orange = P0

Link to 'live' copy on ' Bot Templates ' tab:
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-be1b-de96507b4422&wdO

[2021-05-04 00:55] peterinnesmsft opened #7574 "Publish bot consistently hangs on 'Uploading zip file...' step"
## Describe the bug

Whenever attempting to publish a bot from Composer using a publishing profile, it consistently hangs on attempting to upload the zip file containing my bot to Azure App Service using Kudu Zip Deploy.

## Version

2.0.0-nightly.241057.db66154

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubunt

[2021-05-04 01:32] tomlm opened #7576 "Localized UI is only half implemented"
## Describe the bug
I changed the language in composer settings, and localization is spotty.

## Version

![image](https://user-images.githubusercontent.com/17789481/116951496-e3839a00-ac3c-11eb-8680-f7eb59fc174c.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce
I changed the language to

[2021-05-04 01:41] tomlm opened #7577 "Composer is inconsistent in usage of arrows for collapsing sections."
## Describe the bug

Composer has same arrow icons but they behave differently

## Version

![image](https://user-images.githubusercontent.com/17789481/116951952-3e69c100-ac3e-11eb-8be1-8ff772baa21a.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Expected behavior

Consistent design applied througho

[2021-05-04 01:44] tomlm opened #7578 "Composer publish makes menu so small you can't read it if the window is narrow"
## Describe the bug

If the width of composer becomes smaller the menus lay out in a way that you can't tell what they do.

## Version

![image](https://user-images.githubusercontent.com/17789481/116951952-3e69c100-ac3e-11eb-8be1-8ff772baa21a.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Expected

[2021-05-04 01:46] tomlm opened #7579 "Feed editor has no cancel button!"
## Describe the bug

The feed editor has no cancel button, which means I accidently made a change I can't undo!

## Version

![image](https://user-images.githubusercontent.com/17789481/116951952-3e69c100-ac3e-11eb-8be1-8ff772baa21a.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

##
1. go to feed editor

[2021-05-04 01:50] tomlm opened #7580 "Configure an adapter UI is not consistent with product or desktop application guidelines."
## Describe the bug

Configure an Adaptor UI uses BACK for the cancel button. I have never seen that as a convention in any desktop application anywhere.  Even with the rest of composer it mostly uses CANCEL as the way to exit a modal dialog.

## Version

![image](https://user-images.githubusercontent.com/17789481/116951952-3e69c100-ac3e-11eb-8be1-8ff772baa21a.png)

## Browser

- [x] Electron dist

[2021-05-04 01:58] tomlm opened #7581 "Bot creation dialog is strangely small"
## Describe the bug

When creating a bot the font is small, and the icon is small.
( it doesn't seem to match the font size for any other part of composer)

Do we have a design handbook for font sizes, cause this doesn't seem to fit the product look and feel.

## Version

![image](https://user-images.githubusercontent.com/17789481/116951952-3e69c100-ac3e-11eb-8be1-8ff772baa21a.png)

## Browser

-

[2021-05-04 02:07] tomlm opened #7582 "The language selector UX doesn't match rest of composer at all"
## Describe the bug

The language UX is from another planet.
* The font size doesn't match anything in the ui
* The color doesn't match anything else in the UI
* The vertical height doesn't match anything else in the UI
* The style of it (rounded corners) doesn't match anything else in the UI.
* When you click on it, it shows a menu like box with a drop down in it.  Why doesn't the rest of the UI

[2021-05-04 03:05] mareekuh opened #7583 "Fit & finish - UI Copy | Provision and publish"
Fit & finish - UI Copy | Provision and publish

White cells = existing copy
Yellow/blue cells = new copy (replace existing copy with this)
Orange = P0 | MUST UPDATE

Link to 'live' copy on ' Provision and publish ' tab:
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredi

[2021-05-04 03:19] mareekuh opened #7584 "Fit & finish - UI Copy | Open from ABS"
Fit & finish - UI Copy | Open from ABS

White cells = existing copy
Yellow/blue cells = new copy (replace original copy with this copy)
Orange = P0, must update

Link to 'live' copy on '  ' tab:
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSessi

[2021-05-04 03:52] mareekuh opened #7585 "Fit & finish - UI Copy | Configure and manage your bot (settings)"
Fit & finish - UI Copy | Configure and manage your bot (settings)

White cells = existing copy
Yellow/blue cells = new copy (update and replace existing copy with this)
Orange = P0 (must update)

Link to 'live' copy on ' Configure and manage (settings) ' tab:
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&f

[2021-05-04 05:24] aparnaji opened #7586 "Bot Composer is not waiting for action to be completed in adaptive cards"
## Describe the bug

## Version

![image](https://user-images.githubusercontent.com/26645750/116963528-9df4ba80-ac98-11eb-8b8f-f44e9a53a6a7.png)

## Browser

- [ ] Chrome

- [ ] Edge

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create a adaptive card with four buttons, and button action (arranged in clumn sets)
2. call the card from "Send Response" in Bot Dialog
3.

[2021-05-04 05:34] mareekuh opened #7587 "Fit & finish - UI Copy | Create/connect to a skill incl. orchestrator"
Fit & finish - UI Copy | Create/connect to a skill incl. orchestrator

White cells = existing copy
Yellow/blue cells = new copy

Link to 'live' copy on ' Add a skill ' tab:
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-

[2021-05-04 06:10] mareekuh opened #7588 "Fit & finish - UI Copy | Add KB key, QnA Maker dialogs"
Fit & finish - UI Copy | Add KB key

White cells = existing copy
Yellow/blue cells = new copy, copy and replace old copy with this
Orange = Must update (P0)

Link to 'live' copy on 'Add KB key - QnA  ' tab:
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdP

[2021-05-04 06:11] mareekuh commented on #7582
I think this is a dupe?

[2021-05-04 07:41] aparnaji commented on #6513
Hi, I too have similar problem, did you solve this issue, and additionally in the composer build that I have v2.0.0-nightly.241799.xxx, I dont see this menu option of Adaptive Cards, How did you manage to get that option

[2021-05-04 09:00] cxbuilders commented on #7479
@v-kydela The Custom Action runs a-synchronic, so to mimic incoming agent messages, which are unrelated to incoming user messages and therefore there is no turn present.

This is the same principal as a pro active message. This is the same code @Stevenic used in his proactive teams message sample in #4093

[2021-05-04 10:09] Clooney24 opened #7589 "Adding adapter package to Bot Framework Composer (experimental version) removes other installed adapter"
## Describe the bug

Adding adapter package to Bot Framework Composer (experimental version) removes other installed adapter. I want to add Twilio, Slack and Facebook, but installing the second removes the first installed adapter

## Version

Version:  2.0.0-nightly.242275.686a144
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## OS

Windows

## To Reproduce

Step

[2021-05-04 10:12] Clooney24 commented on #7545
This was due to breaking changes in experimental version as extractable runtime was removed there, my old project settings didn't match that new structure anymore. I fixed it manually using samples from a bot I freshly created with new version.

[2021-05-04 10:12] #7545 closed

[2021-05-04 10:13] Clooney24 commented on #7544
This was due to breaking changes in experimental version as extractable runtime was removed there, my old project settings didn't match that new structure anymore. I fixed it manually using samples from a bot I freshly created with new version. (see #7545 but now #7589 occurs)

[2021-05-04 10:13] #7544 closed

[2021-05-04 12:17] parsalotfy opened #7590 "Session does not expire after restarting the bot in Telegram"
## Describe the bug

Hi, I use bot Composer to make Telegram bots. I don't use C# and sdk.
The problem is that when I have a question in a dialog, if user Stops the bot in the middle of that question, and start it again, it seems the session would not expire. And it does not start again.
How can I fix this problem **in bot composer** ?

I try to explain better in the following picture and gif :

H

[2021-05-04 12:29] NGame1 commented on #7590
Stop bot and Restart bot options in Telegram only blocks/unblocks the Bot user.
It's not an action or something. You should handle ```/start``` command in your bot commands to move your bot from any state to the initial state or to some other action you want depending on what you need.
Regards.

[2021-05-04 12:40] peta commented on #7586
Same here, can confirm.

[2021-05-04 13:09] darrenj opened #7591 "Auth prompt by Composer after creating an empty bot template"
## Describe the bug

When creating an empty bot (no azure resource dependencies) Composer prompts for authentication.

Also note that when clicking Cancel, it prompts again? Cancelling the 2nd prompt enables you to continue.

## Version

2.0.0-nightly.242275

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

#

[2021-05-04 13:58] benbrown commented on #7533
I believe this problem would exist in the runtime or maybe even the SDK -- not in Composer.

[2021-05-04 14:06] tdurnford commented on #7153
@darrenj @sgellock I'm not able to repro either.

![image](https://user-images.githubusercontent.com/17039790/117015997-7e1cc100-acaf-11eb-959c-77ff94087fb1.png)

@darrenj Are you using ngrok to configure your Skill host endpoint URL?

![image](https://user-images.githubusercontent.com/17039790/117016087-98569f00-acaf-11eb-933f-1f78656f2c02.png)

[2021-05-04 14:08] benbrown commented on #7591
I believe this is due to the auth being called when the ManagerService components mount as part of the getstarted component.

https://github.com/microsoft/BotFramework-Composer/blame/4fd58c86e6038ac1c33432814839dac4754cfb4b/Composer/packages/client/src/components/ManageService/ManageService.tsx#L162

[2021-05-04 14:12] benbrown commented on #7550
This is as designed right now -- when you edit your profile, you may want to create new resources, but you may also want to edit the JSON or open up a handoff request. These are still applicable.

[2021-05-04 14:12] Dewain27 commented on #7390
@benbrown Add to fit and finish work #7565

[2021-05-04 14:12] benbrown commented on #7565
If possible, also include #7390

[2021-05-04 14:14] Dewain27 commented on #7561
Investigating root cause.  Can't repro currently.

[2021-05-04 14:19] Dewain27 commented on #7546
This is a Microsoft App Registration which is separate from Azure.  We need to discuss further how to make this easier to understand in the next release.

[2021-05-04 14:21] benbrown commented on #7565
If possibley, also #7578

[2021-05-04 14:24] Dewain27 commented on #7574
Trying to repro issue.  Currently, not something that we can reproduce.

[2021-05-04 14:25] Dewain27 commented on #7558
Fixed in latest nightly build.

[2021-05-04 14:25] #7558 closed

[2021-05-04 14:32] Dan-Bai opened #7594 "Node runtime telemetry doesn't generate InstanceId"
I have been using InstanceId from WaterfallDialog style Bots to generate reporting and noticed that this ID is missing for AdaptiveDialog. Is there an equivalent ID I can use as substitute? If not, how could I implement this ID in my Node runtime?

[2021-05-04 14:40] BellaDunnett commented on #7311
Thanks @stevkan - I'm using 1.4.0.
I've provided an example in my issue above - try 01-02-2000. In the UK this is the 1st of February. If you then look at how the date has been stored, it's been saved as the 2nd of January.

[2021-05-04 15:02] sgellock commented on #7591
Shiproom - this is a regression, P0.  approved.

[2021-05-04 15:06] sgellock commented on #7568
Shiproom - lets get a PR then we can assess for R13

[2021-05-04 15:08] sgellock commented on #7565
Shiproom - please contain this work to "no code changes"

[2021-05-04 15:09] sgellock commented on #7560
Shiproom - approved as part of Fit & Finish work today

[2021-05-04 15:10] sgellock commented on #7555
Shiproom - az functions is P0 scenario for R13 - approved

[2021-05-04 15:12] sgellock commented on #7539
Shiproom - approved

[2021-05-04 15:18] sgellock commented on #7521
Shiproom - let's bottom out an approach and see where we land on the calendar

[2021-05-04 15:22] sgellock commented on #7501
Shiproom - let's sit on this as it depends on an SDK update.  there's a debate about changing the defaults during C&C to reduce the blast zone

[2021-05-04 15:28] Dewain27 opened #7595 "Composer should be clear that the default recognizer is LUIS"
## Describe the bug

When you are creating a bot the Default Recognizer is LUIS, however we don't really make that clear in the Composer UI.  I am not sure why we just say default recognizer vs LUIS, but we should definitely say something like "Default Recognizer (LUIS)" to be clear that LUIS is currently selected.

![image](https://user-images.githubusercontent.com/18688053/117028127-022c7400-acc

[2021-05-04 15:31] BellaDunnett opened #7596 "messageBack returns "Object serialized to String. JObject instance expected.""
I have been trying to get the messageBack function to work for buttons in a card. Regardless of whether I set the value as an integer, string, or JSON object, I receive the same error message: "Object serialized to String. JObject instance expected."

I'm using v1.4.0 Composer on Mac.

I created a template following the example Microsoft documentation:

[import](common.lg)
# testTemplate
[HeroCard

[2021-05-04 15:39] Dewain27 opened #7597 "Create new speech service not authenticating for create new"
## Describe the bug

When trying to enable speech service on a publishing profile, the create new service option does not prompt for authentication.  It just sticks on screen with no way to go forward.

![image](https://user-images.githubusercontent.com/18688053/117029712-8cc1a300-acc4-11eb-884c-93e6585b7d19.png)

## Version

Version:  2.0.0-nightly.242275.686a144
Electron: 8.2.4
Chrome: 80.0.3987

[2021-05-04 15:41] sgellock commented on #7394
Shiproom - approved.  please merge today.

[2021-05-04 15:45] sgellock commented on #7157
Shiproom - Tony is working on a similar issue that relates to this.  depending on that issue, we'll decide on this issue.

[2021-05-04 16:10] peterinnesmsft commented on #7574
I think we can ignore this. I tried making some modifications to my network setup - it looks like the issue was most likely being caused by an incredibly low upload speed on my end.

[2021-05-04 16:10] #7574 closed

[2021-05-04 16:15] tonyanziano commented on #7157
I am also able to repro this by doing the following:

1. Create / Open bot
2. Start bot
3. Install package while bot is running
4. Try to start bot
5. Observe errors
6. Starting bot again is successful

Related: #7498

[2021-05-04 16:24] benbrown commented on #7571
Resolved by #7599

[2021-05-04 16:34] srinaath commented on #7596
@BellaDunnett Thanks for reporting an issue. Could you follow the bug template we have for future tickets. Thanks.

[2021-05-04 16:42] srinaath commented on #7589
@carlosscastro Could you clarify the behavior here?

[2021-05-04 16:53] Clooney24 commented on #7589
When I first install Twilio adapter and then install Slack adapter, I expect both adapters to be installed as both channels could be used simultanously. But after installing the second adapter, the first is no longer installed. I mean it's not listed in "Packages"->"Installed" anymore and it is not listed in "Project Configuration"->"Connections" any more. Looks like second installation replaces t

[2021-05-04 17:15] stevkan commented on #6594
Closing due to lack of response.

[2021-05-04 17:15] #6594 closed

[2021-05-04 17:24] emivers8 commented on #7565
Add-on: Runtime manager should always be on top.

![image](https://user-images.githubusercontent.com/55601267/117044088-dc06d400-acc2-11eb-94f4-6192da788359.png)

[2021-05-04 17:32] sgellock commented on #7588
Shiproom - approving as today is fit and finish day.  must be merged by EOD today

[2021-05-04 17:33] sgellock commented on #7569
Shiproom - assuming low risk fixes, and not removing any existing content, only replacing appropriately, approving as today is fit and finish day.  must be merged by EOD today

[2021-05-04 17:34] sgellock commented on #7570
Shiproom - approving as today is fit and finish day.  must be merged by EOD today

[2021-05-04 17:35] sgellock commented on #7571
Shiproom - approving as today is fit and finish day.  must be merged by EOD today

[2021-05-04 17:35] sgellock commented on #7572
Shiproom - approving as today is fit and finish day.  must be merged by EOD today

[2021-05-04 17:36] sgellock commented on #7573
Shiproom - approving as today is fit and finish day.  must be merged by EOD today

[2021-05-04 17:37] sgellock commented on #7583
Shiproom - approving as today is fit and finish day.  must be merged by EOD today

[2021-05-04 17:37] sgellock commented on #7584
Shiproom - approving as today is fit and finish day.  must be merged by EOD today

[2021-05-04 17:38] sgellock commented on #7585
Shiproom - approving as today is fit and finish day.  must be merged by EOD today

[2021-05-04 17:38] sgellock commented on #7587
Shiproom - approving as today is fit and finish day.  must be merged by EOD today

[2021-05-04 17:42] #7560 closed

[2021-05-04 17:43] #7536 closed

[2021-05-04 17:44] mareekuh opened #7600 "Fit & finish - UI Copy | Migration to Composer 2.0"
Fit & finish - UI Copy | Migration to Composer 2.0

White cells = existing copy
Yellow/blue cells = new copy

Link to 'live' copy on ' Migration ' tab:
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-be1b-de96507b4422&wdO

[2021-05-04 17:45] mewa1024 opened #7601 "Azure sign-in not working (I signed in, but the directory and subscription fields are disabled"
## Describe the bug

In the creation, I signed into Azure, but when I go to add resources the Azure directory and Subscription fields are diabled.

## Version

Bot Framework Composer

Version:  2.0.0-nightly.242275.686a144
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2021-05-04 17:46] Virtual-Josh opened #7602 "Can't load LUIS keys for function bots"
## Describe the bug
The menu for selecting LUIS keys is grayed out

## Version
Version:  2.0.0-nightly.242275.686a144
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:
1. Create an

[2021-05-04 17:47] mewa1024 commented on #7597
Hit similar thing with LUIS and QnA today -- related? #7601

[2021-05-04 17:48] tomlm opened #7603 "We need mechanism from differentiating "Actions" from "Dialogs""
## Describe the bug

We added a Dialogs which is defined as an array of IDialog, when composer attempts to render that it ends up showing all IDialogs (which includes all actions) see screenshot.

## Version

2.0.nightly

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the

[2021-05-04 18:00] tomlm opened #7605 "Composer sidebar flyouts overlap and are sticky, which is a really weird experience"
## Describe the bug

1. The Rocket, Alerts and WebChat slide out as overlays, hiding the editor experience, I have to hide and show them on every interaction.
2. These sidepanels accumulate, if you click on each icon, you have to close each one.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

##

[2021-05-04 18:18] Virtual-Josh commented on #7601
I have a similar issue #7602

[2021-05-04 18:18] Virtual-Josh commented on #7597
Same #7602

[2021-05-04 18:22] hatpick commented on #7601
I tried the steps, it asked me to login two times (my outlook web app on the phone does that most of the time too), but eventually it was successful. I used my Microsoft account (not personal)

[2021-05-04 18:33] tomlm opened #7606 "Azure function start command won't do a rebuild when code changes"
## Describe the bug

The existing command **func start --script-root bin\Debug\netcoreapp3.1** is using a command which **bypasses the building** of the project.

This means that when you do things like add a new package it won't rebuild the project.

## Version

![image](https://user-images.githubusercontent.com/17789481/117051565-8b47a900-accb-11eb-914d-199f3dd9a13c.png)

## Browser

- [x] Elect

[2021-05-04 18:44] mareekuh commented on #7571
Added: Learn more tab.

![Uploading Learn more tab.png…]()

[2021-05-04 19:18] Quirinevwm opened #7607 "Package manager: view documentation in many packages 404 and some missing"
## Describe the bug
Trying out some of the packages, I realized most links show 404 (no path in main branch) -> see screenshot
- Let's get most of these links in*, either to their own GitHub doc for the meantime, such as telephony: https://github.com/microsoft/botframework-telephony
- or no "view documentation" in the preview if there are none

*I reckon some are in preview not in main doc branch,

[2021-05-04 19:18] mewa1024 opened #7608 "Notifications: error messages should not be cleared from the notifications pane when the toast is dismissed"
## Describe the bug

When a notifications toast appears for an error, the X should close the toast (to get it out of the way), but the error message should persist in the Notifications pane, unless cleared from the notifications pane.

## Version

Bot Framework Composer

Version:  2.0.0-nightly.242275.686a144
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browse

[2021-05-04 19:36] kaerm opened #7610 "Telemetry Improvement: CreateNewBotProjectCompleted Identifier"
CreateNewBotProjectCompleted event should also include rootprojectid information similarly to CreateNewBotProjectStarted. This is needed to track corresponding Starts & Completions to match them up together.

I am not sure how rootprojectid gets tracked for the creation flow so if it is possible for one rootprojectid to have multiple starts and completes then we might need to collect a separate id

[2021-05-04 19:41] pavolum commented on #7565
Note:

- [ ] add line under bot settings header

[2021-05-04 19:42] mareekuh opened #7612 "Fit & finish - UI Copy | LG Editor"
Fit & finish - UI Copy | LG Editor

**Change the following:**
Bot Responses -> Bot responses (sentence cap)
Button: Switch to code editor -> Show code

Response Variations ->  Responses
Tooltip (old) : One of the variations added below will be selected at random by the LG library
Tooltip (new) :Response alternatives will be selected at random for a more dynamic conversation.

Button: Add new varia

[2021-05-04 19:46] mareekuh opened #7613 "Fit and finish | sentence capitalization"
![Screen Shot 2021-05-04 at 12 42 52 PM](https://user-images.githubusercontent.com/48503434/117060943-6dcc0c80-acd6-11eb-93dd-374c56296757.png)

![Screen Shot 2021-05-04 at 12 44 49 PM](https://user-images.githubusercontent.com/48503434/117061135-acfa5d80-acd6-11eb-9148-8d7e5f4f5e49.png)

[2021-05-04 19:58] #7570 closed

[2021-05-04 20:14] benbrown commented on #7585
All of the COMPOSER pieces of this are done.

@sgellock  there is one section in this area that pertains to the README files in the generators.  Who did you assign the otehr component-related copy tasks to?

[2021-05-04 20:23] #7539 closed

[2021-05-04 20:24] darrenj commented on #7470
I've talked this through with a few to validate - I was right this is not a valid scenario. A skill should not advertise things it cannot call. A bot (or skill) should not wire up everything in say an unknown handler and should instead make use of triggers as that's the pattern for Composer first bots.

I don't believe this is a constraint and needs to be documented differently. However the copy o

[2021-05-04 20:31] darrenj commented on #7153
I reproed just now, and have been able consistently. 2.0.0-nightly.242275

![image](https://user-images.githubusercontent.com/33519520/117065926-fa4eed00-ad1f-11eb-92c9-302938b390b5.png)

Note the endpoint drop-down is blank, and I can't choose anything
![image](https://user-images.githubusercontent.com/33519520/117065827-dbe8f180-ad1f-11eb-9670-2e563962e89a.png)
..

[2021-05-04 20:33] darrenj commented on #7153
This is not even getting to the point of calling the skill so not ngrok, I did double check in case I was misreading the error message reason but even with ngrok configured and skillhostendpoint configured I get the same issue

[2021-05-04 20:37] darrenj opened #7614 "Microsoft.OrchestratorRecognizer not registered in factory exception"
## Describe the bug

Added a skill to a empty Bot, Orchestrator added automatically. Hit start and consistently got a "Microsoft.OrchestratorRecognizer not registered in factory".

![image](https://user-images.githubusercontent.com/33519520/117065520-87de0d00-ad1f-11eb-9db3-0b9fc0ca8541.png)

Re-starting the project resolved so suspect it was still downloading in the background and not "ready" yet

[2021-05-04 20:39] tonyanziano commented on #7521
I can consistently repro this:

![image](https://user-images.githubusercontent.com/3452012/117066864-221d6100-acde-11eb-98c1-7a13b99c2e02.png)

That's after 2 shutdowns, so it leaves an orphaned process for each shutdown if there is a bot running.

[2021-05-04 20:43] Dewain27 opened #7615 "Stateful Rocket Ship Menu"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-05-04 20:43] darrenj commented on #7497
Interesting... can you check a few things?

- Do you have a local AppId and Secret set inside appSettings.config in both the root and Skill? Worth checking the actual config as even provisioning an AppId in Composer doesn't set it locally (being fixed)
- Have ngrok running for the remote skill to call back to the root bot? e.g. `.\ngrok http 3980 --host-header=localhost:3980`
- Update SkillHostEnd

[2021-05-04 20:44] mareekuh commented on #7470
@vivekkshankar Did I already include this content or is it additional. LMK asap so I can add it - guys are implementing copy as we speak.

[2021-05-04 20:44] Dewain27 opened #7616 "Delete / Save As Bot Functionality"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-05-04 20:45] Dewain27 opened #7617 "Create Modal Evolution"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-05-04 20:50] Dewain27 opened #7618 "Refactor Publish and Provision Experience"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-05-04 20:56] Dewain27 opened #7619 "Reimagine Development Settings in Composer"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-05-04 20:57] Dewain27 opened #7620 "Improve error handling messages"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-05-04 21:00] Dewain27 opened #7621 "Custom Templates support for creation"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-05-04 21:01] Dewain27 opened #7622 "Update package manger based on customer feedback"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-05-04 21:02] Dewain27 opened #7624 "Connections management experience"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-05-04 21:03] Dewain27 opened #7625 "Deprecate old code from Composer"
This is a running list...

- [x] Pre v2.0 creation flow stuff
- [x] Old runtime code
- [x] Support for 'ejection'
- [x] Old runtime profiles in the extensions
- [x] References to ComposerDialogs folder
- [x] Old samples, and registration of samples, samples API
- [ ] Old form of settings

[2021-05-04 21:04] GeoffCoxMSFT opened #7626 "Put token auth behind a facade for auth (with tenant ID)"
Extensions and UI components should not be aware that the user is prompted for tokens in the web app scenario.  This needs to be behind a facade that provide either token dialog or azure sign in.

[2021-05-04 21:06] GeoffCoxMSFT opened #7627 "Create azure resource service layers"
The azurePublish extension needs to refactor the calls to azure into proper service layers per resource type.  These can then be moved out of the extension into a shared component that other creation and configuration systems can leverage rather than cut-and-paste coding.

This will include proper error handling and retry logic.  The layers will provide progress callbacks and logging callbacks rat

[2021-05-04 21:07] GeoffCoxMSFT opened #7628 "Create provisioning requirements layer"
The azurePublish extension code for determining required vs. optional resources given a bot project is naive and scattered across the code.  This needs to be centralized into a functional layer so it can be leveraged by both the provisioning and publishing algorithms.

[2021-05-04 21:08] GeoffCoxMSFT opened #7629 "Revamp azure provisioning server algorithm"
The provisioning server algorithm needs to be revamped to separate provisioning of resources by type rather than being omniscient.

[2021-05-04 21:11] GeoffCoxMSFT opened #7630 "Revamp azure publishing server algorithm"
The publishing server algorithm needs to be revamped to separate provisioning of resources by type rather than being omniscient. This should also fix the flaky zip upload by encapsulating that into one of the service layers.

[2021-05-04 21:12] #7538 closed

[2021-05-04 21:12] #7555 closed

[2021-05-04 21:12] GeoffCoxMSFT opened #7631 "Create shared azure resource UI components"
Tenant, Subscription, Resource Group, Resource, Region, Tier inputs and dropdowns should be in a shared location for the azurePublish extension and other composer UI for creation and config.

[2021-05-04 21:13] GeoffCoxMSFT opened #7632 "Componentize the azure provisioning wizard"
The azurePublish extension dialog is a complete wreck.  It needs to be refactored into proper react components and then have steps plugged into a general wizard harness to get the step navigation and standardized header/footer.

[2021-05-04 21:24] Dewain27 opened #7633 "Ensure good CI/CD integration strategy"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-05-04 21:44] mewa1024 commented on #7600
@mareekuh I added a couple comments/questions in the Excel file:
- "update" or "upgrade"? I was using "update" since I think "update" implies a new version you get for free whereas "upgrade" is more better stuff you pay for.
- for line 47, the modal before you convert your project, I think we should be explicit that we are creating a copy of the original so people are reassured that the original p

[2021-05-04 21:50] mewa1024 commented on #7616
(fyi: there is/was a design proposal for this: #6808)

[2021-05-04 22:06] #7597 closed

[2021-05-04 22:06] #7602 closed

[2021-05-04 22:06] #7601 closed

[2021-05-04 22:08] pavolum commented on #7565
Alright I have done everything except
-
![image](https://user-images.githubusercontent.com/22845013/117076006-bc43d000-ad03-11eb-9438-effa85ee4440.png)
- DefineConversation: Back button to return to template selection screen
-  Tables in Connections tab has width that goes beyond parent container

[2021-05-04 22:27] tonyanziano commented on #7157
After some investigation, it seems like the package manager extension is calling `reloadProject()` which does not actually stop the currently running bot. However, the correct behavior -- which is observed when switching bot projects, is to call `stopBot()`.

This is a limitation of the shell API which does not expose the ability to stop a bot to the extensions.

[2021-05-04 22:32] tonyanziano commented on #7114
I can't consistently reproduce this via switching bot projects or starting and restarting bots. However I have observed this when installing new packages while the bot is running as mentioned in #7157

[2021-05-04 22:33] tonyanziano commented on #7521
I am going to take a shot at implementing a listener on app quit that cleans up running bots.

[2021-05-04 22:37] sgellock commented on #7521
May the 4th be with you.

[2021-05-04 22:38] pavolum commented on #7390
I believe this has already been done

[2021-05-04 22:41] pavolum commented on #7390
Yes this has been resolved in main, closing the issue

[2021-05-04 22:41] #7390 closed

[2021-05-04 22:41] sgellock commented on #7600
Shiproom - approved WITH CONDITIONS

this came in after we agreed to the scope of today's fit and finish work.  IF we can get this done AND merged by EOD today, then we'll take it.  If not, it will get moved out to R14

[2021-05-04 22:41] sgellock commented on #7613
Shiproom - approved WITH CONDITIONS

this came in after we agreed to the scope of today's fit and finish work.  IF we can get this done AND merged by EOD today, then we'll take it.  If not, it will get moved out to R14

[2021-05-04 22:42] sgellock commented on #7612
Shiproom - approved WITH CONDITIONS

this came in after we agreed to the scope of today's fit and finish work.  IF we can get this done AND merged by EOD today, then we'll take it.  If not, it will get moved out to R14

[2021-05-04 22:44] mewa1024 commented on #7373
related: #7600

[2021-05-04 22:46] sgellock commented on #7585
@benbrown me.  I'm in that repo now

[2021-05-04 23:12] #7571 closed

[2021-05-04 23:12] #7572 closed

[2021-05-04 23:12] #7585 closed

[2021-05-04 23:12] #7588 closed

[2021-05-04 23:13] taicchoumsft opened #7635 "Orchestrator Skill Dialog pops when using Node runtime, but won't install correctly"
## Describe the bug
Orchestrator skill dialog prompts after creating a new skill, local or remote.   But we currently only support installing the Orchestrator C# package - if user clicks on `Continue` when using NodeJs, the Orchestrator installer fails silently, since it tries to install the nuget package in a Node bot (there is no Node installer)

## Version
Main 7b94964

## To Reproduce
1. Creat

[2021-05-04 23:15] dmvtech commented on #7586
Hi @aparnaji

Are you doing a `Send a response` action only, or is it part of a prompt? It needs to be part of a prompt (`Ask a Question`) for the bot to do anything with response from the user (using the card).
https://docs.microsoft.com/en-us/composer/concept-memory#set-properties-with-prompts

If that's not it, I might need a bit more info to understand/troubleshoot. Are you able to share your

[2021-05-04 23:17] benbrown commented on #7591
fixed by #7623

[2021-05-04 23:17] #7591 closed

[2021-05-04 23:21] dmvtech commented on #7590
Closing this as it is correctly answered by @NGame1. The bot is unaware of the changes being made on the Telegram side. You would need to implement logic to change that in the bot.

[2021-05-04 23:21] #7590 closed

[2021-05-04 23:39] mareekuh commented on #7612
You guys rock

[2021-05-04 23:41] mareekuh commented on #7612
@tdurnford  - is there a way to do a search & replace for the 'Switch to code editor -> Show code' replacement?
And Switch to response editor -> Hide code

[2021-05-05 01:10] beyackle commented on #7600
I don't think this is going to make it in today. The other changes have had enough ambiguity and technical problems getting merged.

[2021-05-05 01:29] #7612 closed

[2021-05-05 01:29] #7613 closed

[2021-05-05 01:35] stevkan commented on #7311
Hi @BellaDunnett, you can use the 'formatDateTime' pre-built function to force the output to always display in the correct format. In the below snippet, the user's date input is saved to the `dialog.suppliedDate` property. It's then passed into the function where the format and locale are both specified. You may be able to get away without specifying the locale (again), but the 'dd-MM-yyyy' format

[2021-05-05 02:03] #7584 closed

[2021-05-05 02:32] #7565 closed

[2021-05-05 07:11] peta commented on #7586
Hello @dmvtech ,
Thanks four your reply.
You are right, we can provide an Adaptive Card as attachment to `Ask a question` response activity, but this does mean the user is, in addition to entering the Adaptive Card form and pressing the according `Action.Submit` button, prompted for user input yet a second time (Text, Number, Confirmation asf.). And from a conversational design perspective, this w

[2021-05-05 07:59] peta opened #7641 "Publishing bot to Azure fails - "No directory ComposerDialogs/generated + csproj not found""
## Describe the bug

I have a working bot created in BFC and want to publish it to Azure. Setting up the publishing profile did work, along with automatic provisioning of all required Azure ressources conducted by BFC. But when selecting the bot and pressing `Publish selected bots`, I immediately receive the error shown in the first screenshot below. When I manually create the folders `ComposerDia

[2021-05-05 09:03] Olakhrisat opened #7643 "Install composer v1.4 - yarn build error"
Hello,

I was trying to install composer v1.4 and I got this error
![image](https://user-images.githubusercontent.com/59798587/117118652-b26cac00-ad99-11eb-9d76-7d61fd2f86e3.png)

I followed these steps:
$ git clone https://github.com/microsoft/BotFramework-Composer.git
$ cd BotFramework-Composer
$ cd Composer // switch to Composer folder
$ yarn install // install dependencies
$ yarn build // buil

[2021-05-05 13:24] tracyboehrer opened #7644 "When opening an assets only project, the old runtime is used"
## Describe the bug

When open something like https://github.com/microsoft/BotFramework-Composer/tree/main/extensions/samples/assets/projects/ActionsSample, the project will run, but apparently it's using the old runtime.  Furthermore, if you go to the Project Settings tab and enabled custom runtime, it will eject the old runtime.

## Version

Version:  2.0.0-nightly.242720.c3b8105
Electron: 8.2.4

[2021-05-05 14:17] tdurnford commented on #7153
@darrenj can you check your bot settings to make sure `runtimeSettings.skill['djbfskill1']` is set correctly? I'm not seeing this issue in the latest nightly - v2.0.0-nightly.242720.c3b8105  - using your weather skill.

[2021-05-05 14:33] tdurnford commented on #7511
I believe Pr https://github.com/microsoft/BotFramework-Composer/pull/6640 updated the connect a skill flow to add the skill's app id to the parent's allowed callers list, but I don't think this scenario is worked out for internal skills.

[2021-05-05 15:07] sgellock commented on #7635
Shiproom - DO NOT MERGE FOR R13.  moving out to R14

[2021-05-05 15:10] sgellock commented on #7606
Shiproom - moved to R14

[2021-05-05 15:17] BellaDunnett commented on #7311
Hey @stevkan - the supplied version that I get flips the date in a way that yours doesn't seem to have done. If you look at the screenshot attached, my 'supplied' version is '2000-01-02' whereas my 'formatted' version is '02-01-2000', even though I enter 01-02-2000 (and meant the 2nd January, 2000). It's not an issue with formatting after the property has been stored, it's that the property is bei

[2021-05-05 15:19] sgellock commented on #7587
Shiproom - approved.  @beyackle can you get this merged ASAP please?  thank you

[2021-05-05 15:20] sgellock commented on #7583
Shiproom - approved.

[2021-05-05 15:24] sgellock commented on #7569
Shiproom - approved.  @beyackle can you get this merged ASAP, we're going to kick off another nightly with these changes and a few more.

[2021-05-05 15:25] sgellock commented on #7568
Shiproom - approved.  please merge today.

[2021-05-05 15:28] sgellock commented on #7521
Shiproom - approved.  please merge today.  thanks Tony

[2021-05-05 15:35] sgellock commented on #7155
Shiproom - approved.  @a-b-r-o-w-n can you get this merged today please?  thank you

[2021-05-05 15:40] a-b-r-o-w-n opened #7646 "[PVA] include app locale in headers for api requests"
We should include the `Accept-Language` header in api requests to PVA with the user's application locale (not the bot's locale) so that PVA can send localized strings to the Composer client.

[2021-05-05 15:49] #7568 closed

[2021-05-05 15:51] a-b-r-o-w-n opened #7647 "bump wait-on to v5.3.0 to address axios vulnerability"
Vulnerability: https://snyk.io/vuln/SNYK-JS-AXIOS-1038255
Fixed by updating axios to >v0.21.1
Fixed in wait-on here: https://github.com/jeffbski/wait-on/commit/31334602a79f86d8d8580d84e80debbdbe9d905a (included in v5.2.1)

[2021-05-05 16:03] damlaalkan opened #7661 "Enabling Application Insight with Bot Composer and does not get "LuisResult" or "QnAMaker" name in telemetry data."
When I enable the application insight with Bot Composer and set log personal information to true, I can see in Apllication Insight log in CustomEvents the log name "BotMessageReceived" and "BotMessageSend" but I cannot collect luis or qna data as in the document:

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry-analytics-queries?view=azure-bot-service-4.0#total-intents-by-

[2021-05-05 16:07] sgellock commented on #7647
Shiproom - approved.  security issue

[2021-05-05 16:21] anusharavindrar commented on #7596
@BellaDunnett, can you specify what Mac OS version you are on? Also, could you elaborate on what you are exactly trying to do(the documentation followed, repro steps, screenshots)?

[2021-05-05 16:33] cwhitten commented on #7576
We periodically take batches generated from the Azure translation team, of which we will start a new batch today with the fit and finish work coming into the tree.

[2021-05-05 16:33] #7576 closed

[2021-05-05 16:37] cwhitten commented on #7643
@Olakhrisat what version of Node do you have installed on your machine? Can you also use the C drive when building Composer instead of the D drive?

[2021-05-05 16:43] stevkan commented on #7311
Just to be clear, as I think there may be some confusion on my end, are you expecting the stored value to be `dd-MM-yyyy` or `MM-dd-yyyy`?

As far as a workaround, the idea was to use the `formatDateTime()` function to either update the stored value or convert the stored value to a new property that is then consumed by your bot. As I don't know how you are reading and/or using the stored property,

[2021-05-05 16:53] dmvtech commented on #7641
I can reproduce this. I'm not 100% sure, but my bot _might_ have been created with `1.4.0` release. @peta Do you know if yours was created with a nightly build or with `1.4.0`?

I'm going to try by creating a brand new bot and try and publish again.

[2021-05-05 17:08] dmvtech commented on #7641
Created a new bot and was able to publish successfully. With:

[code]

So, _might_ have to do with creating bot in previous version.

[2021-05-05 17:11] srinaath opened #7651 "Rebase 1.4.1 on Composer main"
This ticket encapsulates the chore of rebasing Composer main with the most recent release branch 1.4.1.

[2021-05-05 17:11] #7651 closed

[2021-05-05 17:12] tracyboehrer commented on #7541
I believe this is a dupe.  This is the load error I was getting.  This has been corrected by https://github.com/microsoft/BotFramework-Composer/issues/7538

[2021-05-05 17:17] clearab opened #7652 "Update package version from Installed tab"
## Describe the bug

Cannot update a package version from the Installed tab in Package Manager. The option to select a different version and install it is greyed out.

## Version

daily

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Package Manage

[2021-05-05 17:40] mareekuh commented on #7583
@natalgar  - lmk if I can help and answer questions about the xls or find 'learn more' help links if needed.

[2021-05-05 17:48] #7647 closed

[2021-05-05 17:53] tsuwandy commented on #6406
@luhan2017, has this issue been resolved offline?

[2021-05-05 17:56] tsuwandy commented on #6586
@formore5points, closing this as issue was solved.  Please reopen otherwise.  Thanks!

[2021-05-05 17:56] #6586 closed

[2021-05-05 17:58] tsuwandy commented on #6643
@martinlarosa, did you have a chance to try out @benbrown's suggestion?

[2021-05-05 17:59] v-kydela commented on #7594
Thank you for the post, @Dan-Bai

As you've seen, adaptive dialogs work a bit differently from waterfall dialogs. If you'd like your adaptive dialogs to generate unique instance ID's, you could generate the ID in the first step of each dialog on a case-by-case basis or you could export the runtime and try writing code that does it automatically.

We do prefer to have how-to questions asked on [Sta

[2021-05-05 17:59] #7594 closed

[2021-05-05 18:02] dmvtech commented on #7641
I created a new publishing profile using `2.0.0-nightly.242720.c3b8105`, but still with my older bot. Error still happens. Provisioning works fine, but publishing fails.

[2021-05-05 18:22] #7569 closed

[2021-05-05 18:39] scheyal commented on #7533
Shiproom: This is a regression. Without this language recognition is flying blind.

[2021-05-05 18:46] #7573 closed

[2021-05-05 18:47] daveta commented on #7533
Additional details from Gary:
The adaptive telemetry bits in the SDK look to a specific location in the runtime settings to determine if the personal information fields should be logged.

https://github.com/microsoft/botbuilder-dotnet/blob/402bc02b4cbbd2f4ec359134640e99211367e4a5/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Recognizers/AdaptiveRecognizer.cs#L38

I am guessing that the location

[2021-05-05 18:55] #7587 closed

[2021-05-05 19:06] srinaath commented on #7487
Based on the conversation with @cwhitten @Kaiqb, the solution we are leaning towards for this release is a tabbed approach. Using our existing example for conveying the point.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/13004779/117194864-75a0b500-ad99-11eb-8aeb-1445d12ef972.png)

We would have two tabs for v1.* and v2.*. The current aka.ms links in the UI Schema and Composer

[2021-05-05 19:06] #7487 closed

[2021-05-05 20:12] #7583 closed

[2021-05-05 20:26] Virtual-Josh opened #7653 "Orchestrator is missing resources for function bots"
## Describe the bug
Orchestrator is missing a models folder when using function bots.

## Version
Version:  2.0.0-nightly.242720.c3b8105
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the beh

[2021-05-05 20:28] ctharmon722 commented on #6712
@anusharavindrar I am going to talk with my developer and get these to you tomorrow

[2021-05-05 20:55] JaskeeratBedi-cmk opened #7654 "Publishing profile page fit & finish"
![Frame 61666](https://user-images.githubusercontent.com/67944302/117207998-79d4ce80-ada9-11eb-92b4-2f7aacb658ed.jpg)
![Frame 61667](https://user-images.githubusercontent.com/67944302/117208003-7b05fb80-ada9-11eb-8e3e-29434d5bea02.jpg)

## Version 2.0
## OS

[2021-05-05 20:57] #7521 closed

[2021-05-05 21:00] Virtual-Josh opened #7655 "Exporting as a skill is broken"
## Describe the bug
The export as a skill is currently broken despite it looking like it works.

## Version
Version:  2.0.0-nightly.242720.c3b8105
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprodu

[2021-05-05 21:03] peterinnesmsft commented on #7541
Closing as dupe.

[2021-05-05 21:03] #7541 closed

[2021-05-05 21:04] emivers8 opened #7656 "Missing line across pages"
There used to be a silver line under the title on each page which seems to have disappeared in the nightly. Patrick and noticed it on the project settings page when doing fit and finish issues yesterday ("silver" line) and didn't realize it was more than one page. Latest nightly it's missing on all pages.

![image](https://user-images.githubusercontent.com/55601267/117208809-670ec980-adaa-11eb-911

[2021-05-05 21:05] sgellock commented on #7654
Shiproom - we've closed on F&F issues for R13.  moving to R14.

[2021-05-05 21:15] sgellock commented on #7656
Shiproom - the window for F&F issues is now closed.  moving this to R14

[2021-05-05 21:20] GeoffCoxMSFT commented on #7466
@Dewain27 I reviewed all the methods called through azurePublish.  Below I listed the type of activity (heading 1), the client SDK class we use (heading 2) and the methods we call.  For each method, I listed my best guess at the permissions required.  There are not specific permissions required for any of the Azure SDK methods in the Azure docs, so I mapped them against the descriptions of Owner,

[2021-05-05 21:26] GeoffCoxMSFT commented on #7641
I think @benbrown likely fixed this issue with this recent PR: https://github.com/microsoft/BotFramework-Composer/pull/7557

[2021-05-05 21:27] cleemullins opened #7657 "Azure Functions is installed - not detected by Composer w/o restart"
## Describe the bug

1. Azure Functions tools NOT installed.
1. Created a "Functions" Bot.
1. Installed the latest Azure Functions package via the link.
2. Hit "Cancel" on the screen.    <-- Bug. Composer should check/restest for the Functions tools.
3. Created a new Functions Bot.
4. Composer doesn't pickup the installation.  <-- Bug. Composer should check/retest for the functions toos.

![image]

[2021-05-05 21:27] jameslew opened #7658 "[Ubuntu] Publish Profile and other Azure related activites fail; no sign in allowance or token collection provided"
## Describe the bug

Upgraded to latest nightly electron build, running from WSL2 (Ubuntu) on my machine.  Working through creating a publish profile for my bot, I get to the page where I start defining which directory; however it doesn't see me as signed in; there's no sign-in or sign-out button, and I'm not asked for my tokens.

## Version

Version:  2.0.0-nightly.242920.45439b5
Electron: 8.2.4

[2021-05-05 21:28] GeoffCoxMSFT commented on #7087
When creating the LUIS keys, the authoring key gets a suffix of '-Authoring', but the prediction key does not.  This configuration above shows the LUIS prediction resource as having a '-Prediction' suffix. @lampeTechnidoo Could you double check that the values you have in your config for LUIS correspond to the LUIS key resource names you have provisioned in Azure?

[2021-05-05 21:29] benbrown commented on #7641
No I don't think so @GeoffCoxMSFT since that was only related to functions.

This is likely due to the fact that pre-2.0 bots need to be migrated to the new runtime to work with the publishing system as it is in the nightly.  The migration tools will be included soon.

[2021-05-05 21:32] #7155 closed

[2021-05-05 21:44] mewa1024 commented on #7656
The divider line only disappeared in today's nightly. Could this be a regression/new issue introduced by another change? (We are concerned.)

[2021-05-05 21:53] emivers8 commented on #7656
Yeah, I saw this when Patrick and I went through f+f issues yesterday but only on the configure page (and it does seem to be fixed there now), not any of the other pages. So I wonder if that created a regression. It looks pretty sloppy.

[2021-05-05 21:53] benbrown commented on #7655
I believe this particular issue was related to the manifest URL above actually being a 404.

A valid manifest should work.

[2021-05-05 22:02] benbrown commented on #7655
I experienced failed skill publishes as well.

https://www.loom.com/share/88d081c5806c4f169700a8d1da042772

It seems that when using he "Export skill" flow, it does not always successfully create the manifest or complete the full process.

[2021-05-05 22:11] benbrown commented on #7655
Here is another video demonstrating strange behavior during the "Export as skill" flow when no publishing profile exists:

https://www.loom.com/share/2d7cb1a5bfee444faac3bc3f00c93491

This seems to fail in several ways:

* the skill manifest is never stored in the project
* at the end of the provisioning process, an error appeared that the publish failed
* however, the publish was still underway
*

[2021-05-05 22:14] benbrown commented on #7655
This *DOES* appear to work if the publishing profile already exists:

see here:
https://www.loom.com/share/6adfb808cbc740759ecf0a76d9ca2a5d

[2021-05-05 22:19] sgellock commented on #7655
Shiproom - the sequencing here matters.  If you create a publishing profile first, which causes a publish, then the share as a skill works as expected.  if on the other hand you don't create a pub profile first, but instead attempt to share as a skill, then we're broken

[2021-05-05 22:32] sgellock commented on #7656
we tool a lot of F&F issues yesterday, which are in today's bits.  I'm sure somewhere in one of those PRs there's the cause.

it's unfortunate, but at this point in the cycle, it doesn't electrocute the user, there's not data lost, and it doesn't cause a crash.  so we'll have to live with it until we push a post R13 release out.

[2021-05-05 22:38] sgellock commented on #7655
Shiproom - also, if you share as a skill before publishing, you'll get this failure.  however, if you share the bot again, the flow will succeed

[2021-05-05 22:49] darrenj commented on #7655
I suspect that the change taken earlier this week to remove the odd blocking behaviour (whilst provisioning works) has created a side-affect in that the UX just goes away meaning you don't get the manifest URL.

[2021-05-05 23:07] lampeTechnidoo commented on #7087
I tried in the past many and it is a high probability that named it not ***-Authoring, I called it often -Auth.

Then i will make a remark for that, the web deploy guide. It is very undetailed, so ok users must have a little bit knowledge, but unwritten naming convention, where user should know it, but I used the luis ressource key  instead that. Is it a fix or not? Or is it only needed on on on n

[2021-05-05 23:07] hatpick commented on #7658
@tonyanziano is this because there is no native oneauth library?

[2021-05-05 23:13] tdurnford commented on #7655
When the Create Skill Modal redirects the user to provision a new profile, it fails to save the manifest first. I think we just need to update the redirect to save the manifest first.

[2021-05-05 23:23] mareekuh opened #7659 "Sentence cap where possible (product names are an exception) : Bot responses (vs Responses)"
![Screen Shot 2021-05-05 at 4 18 42 PM](https://user-images.githubusercontent.com/48503434/117221316-e1951480-adbd-11eb-941f-7a6cc224f2b6.png)

Update "Bot responses' header  to match nav and other  titles/UI copy style to sentence capitalization: Bot responses

![Screen Shot 2021-05-05 at 4 21 53 PM](https://user-images.githubusercontent.com/48503434/117221484-36388f80-adbe-11eb-8aa8-6cdb8101c502

[2021-05-05 23:25] tdurnford commented on #7655
It looks like we are publishing the bot immediately after creating the publishing profile instead of returning to the create skill manifest modal to let the user add the endpoints to the manifest before publishing. Is there a way to defer deploying after creating the publishing profile?

[2021-05-05 23:39] iMicknl commented on #7586
@peta, I faced a similar issue lately and I was able to resolve it using the 'Ask a Question -> Text'.

If you add an id to the Input fields of your Adaptive Card, you can read them using @id. So for `"id": "age"` you would use @age. The only downside of the User Input (Text) in Composer is that you can only set one value, but you could save the values to properties in the next step.

In the end,

[2021-05-05 23:43] tonyanziano commented on #7658
Correct. Linux is not supported by OneAuth. Currently they only have libraries for Mac, Windows 32-bit and 64-bit.

@carlosscastro and I spoke offline and he said he would reach out in the future to the OneAuth team to see what their roadmap is for Linux.

[2021-05-05 23:44] JonathanFingold commented on #7497
@darrenj Sorry it's taking a while. I'm having to walk through the how to again, as the UI has changed and the existing resources were behaving oddly.

[2021-05-05 23:45] v-kydela commented on #7480
@BhattMeet98 - Are you still working on this?

[2021-05-06 00:31] JonathanFingold commented on #7497
I got less far today:
![image](https://user-images.githubusercontent.com/35047199/117225655-aac3fc00-adc7-11eb-8c72-d4940c23a6db.png)

[2021-05-06 00:35] #6680 closed

[2021-05-06 01:25] tsuwandy commented on #7661
@damlaalkan, could you try setting LogPersonalInformation setting in Composer to '=settings.runtimeSettings.telemetry.logPersonalInformation' and see if you can see data from Luis or QnA Maker?

[2021-05-06 04:02] tsuwandy commented on #6646
@cwhitten, is this feature supported now (different subscriptions in different tenants)?

[2021-05-06 04:06] tsuwandy commented on #6677
@lei9444, @boydc2014, can we look into this issue?

[2021-05-06 04:17] boydc2014 commented on #6677
Yes, looks like the crossTrainedRecognizerSet isn't catching this intent. let us repro this first @lei9444

[2021-05-06 05:04] tsuwandy commented on #6711
@garypretty, @mewa1024, should this be assigned a milestone for tracking?

[2021-05-06 05:27] tsuwandy commented on #6819
@vidyakdil, instead of following the repro steps above, could you create  a bot from Composer template?  There is an Echo bot template or Todo with LUIS template.  No need to update code or copy/paste appsettings.json as Composer generated code already does this.

![image](https://user-images.githubusercontent.com/10739108/117245737-28036700-adf0-11eb-88b6-f215f040dc43.png)

Update the required LU

[2021-05-06 05:29] tsuwandy commented on #6838
@cwhitten, should this be assigned to a dev?

[2021-05-06 05:34] tsuwandy commented on #6999
@BeheraMadan, closing due to inactivity.  Please reactivate if this is still an issue.

[2021-05-06 05:35] tsuwandy commented on #7050
@emivers8, should this be assigned a milestone?

[2021-05-06 06:40] hibrenda opened #7662 "Errors when set up language understanding by roket panel"
Electron app with latest nightly

- Migrate old bot tot new bot
- Click roket panel to configure luis resource
- Use existing resource will hit following error (error happened after choosing the azure resource group
![image](https://user-images.githubusercontent.com/43408889/117252271-4b71f480-ae78-11eb-955e-b8d44d529c24.png)

[2021-05-06 06:43] hibrenda opened #7663 "luis application name should be updated for migration bot"
## Describe the bug

luis application name in settings should be updated as well
![image](https://user-images.githubusercontent.com/43408889/117253004-49f4fc00-ae79-11eb-8444-672a18603b4d.png)

## Version

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

0. E

[2021-05-06 07:08] hibrenda opened #7665 "Need scroll bar in dialog selection page for skill exporting (if this page is required)"
## Describe the bug

Need scroll bar in dialog selection page for exporting a bot as skill if we did not disable this page .
![image](https://user-images.githubusercontent.com/43408889/117255860-bb827980-ae7c-11eb-8cb3-e56e8e5b82fa.png)

## Version

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Repro

[2021-05-06 07:11] aparnaji commented on #7586
Thanks, This helps,Ask a Question -> Text helped me with both Form type and button type adaptive , and Carousel , I tried with separate regex trigger., Other references that I used for help are #1820 which @peta pointed out.
Also issue #1820 suggested that there is enhancement planned for adaptive cards which is supposed to come up by March 2020. Composer team , please let know if any inputs on th

[2021-05-06 07:42] Olakhrisat commented on #7643
thank you for your reply, the node version is v12.13.1
I used C drive and still got same issue
![image](https://user-images.githubusercontent.com/59798587/117260152-71d36800-ae57-11eb-8c48-0e8f6f4a1cf7.png)

[2021-05-06 08:35] hibrenda opened #7667 "orchestrator package does not installed correctly after bot migration"
## Describe the bug

dotnet build error

## Version

Latest electron nightly

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Migrate old empty bot to new bot
2. Install orchestrator package successfully ?
![image](https://user-images.githubusercontent.co

[2021-05-06 09:39] BellaDunnett commented on #7311
I want to store the value as dd-MM-yyyy. The problem is that the time value is being misinterpreted as MM-dd-yyyy if the day of the month is lower than 13. Therefore, when I switch the value round to dd-MM-yyyy, it is flipping the days with the month. Hence the screenshots above.
For example, 1st February 2020 (01/02/2020). When entered as 01/02/2020 this is stored as 2020/01/02. If I then flip th

[2021-05-06 09:43] panbalagan opened #7668 "Dependency Injection in Bot Composer's Custom Actions"
Hi,

I would like to integrate Bot composer with Custom actions. The custom actions in turn calls different API to perform some business logic. I would like to inject interfaces and service provider to custom action.  I am having trouble in doing this as it is failing and getting in to null pointer exceptions, eventhough I have added everything properly in the startup.cs. Could you please explain

[2021-05-06 09:53] BellaDunnett commented on #7596
Sure - I'm using version 11.3.1. I'm trying to create a hero card with a button at the bottom which presents text to the user, but sends a different value back to the bot. I'd like to prove the capability so that we can use long buttons e.g. 'more information', but just use a simple phrase to trigger an action with the bot. However, there is an issue with the functionality when I click the 'More i

[2021-05-06 10:26] lampeTechnidoo commented on #7087
I tried it correct in the past.

With the prediction ressource name it is not the problem.

[2021-05-06 10:35] boydc2014 commented on #7667
I can't repro this with my previous created empty bot, can you attach your bot?

[2021-05-06 11:18] hibrenda commented on #7667
[rootbot-oldbot.zip](https://github.com/microsoft/BotFramework-Composer/files/6433986/rootbot-oldbot.zip)

[2021-05-06 11:31] boydc2014 opened #7669 "Install package on a running bot cause bot start failure"
## To reproduce

1. start a bot
2. install a package
3. go back to design page, start bot
4. see error

Manually kill the dotnet process will work
## Version

Latest electron nightly

## Expected behavior

Install package on a running bot should not cause bot start failure.

## Screenshots

![image](https://user-images.githubusercontent.com/3829387/117291492-aa982f00-aea1-11eb-93b1-9eaaadef8d92.pn

[2021-05-06 11:49] boydc2014 opened #7670 "Migrated bot can't install orchestrator"
## Describe the bug

A migrated bot seems to be unable to install orchestrator. The installation will success, but when loading (open another bot and open back), orchestrator's installation is lost. Installed package won't show orchestrator.

## Version

Lastest nightly

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [

[2021-05-06 11:50] boydc2014 commented on #7670
I believe this is the same issue with https://github.com/microsoft/BotFramework-Composer/issues/7667

[2021-05-06 12:17] hibrenda commented on #7669
I can hit this at the first restart bot but can get pass if you restart again. This is similar to #7667 .

[2021-05-06 12:31] martinlarosa commented on #6643
I don't have the time to test that right now. I went with my  option two since I need to handle some events outside of composer, at least with the current version.
So I'm triggering the composer dialog from `OnMessageActivityAsync`
then in `OnConversationUpdateActivityAsync` I'm triggering it only if it's not from slack.

Not elegant and probably not a definitive solution, but since I don't need t

[2021-05-06 13:00] maheshatanp opened #7671 "While entering Number in number prompt it is rounding off"
for example if i enter this following number 8144331287 .
it is changed to 8144331300.

Why it supposed happen?

[2021-05-06 13:02] maheshatanp commented on #7671
![image](https://user-images.githubusercontent.com/82100366/117302569-6acd4980-ae99-11eb-8a9e-e6d816366fe5.png)

[2021-05-06 13:31] darrenj opened #7673 "New QnA Template (Javascript) bot reports DialogContextError when"
## Describe the bug

Created a new JS based QnA Template bot. Chose to create my own KB when prompted and selected an existing QnA resource.

Added two key pairs to QnA. Started Bot. When testing in WebChat I get this. Note that the error message in the conversation is not inline with other templates

![image](https://user-images.githubusercontent.com/33519520/117306125-52e4ce00-ae77-11eb-90a3-d42

[2021-05-06 14:15] darrenj commented on #7673
Note that a CSharp based bot following same steps (and selecting same existing qna resource) works fine:

![image](https://user-images.githubusercontent.com/33519520/117313494-d99ca980-ae7d-11eb-877c-e99014415260.png)

[2021-05-06 14:32] mareekuh commented on #7656
I need to respectfully disagree. This regression is a must fix.  It's a glaring bug that every single user will see and notice.
It's like having some buttons missing in your beautiful pressed wedding shirt... and it'll show up in every single wedding picture for the next many years to be ridiculed... (congrats to getting married @a-b-r-o-w-n ).

But seriously - this is visible on pretty much all p

[2021-05-06 14:52] boydc2014 commented on #7669
seems to be duplicated with https://github.com/microsoft/BotFramework-Composer/issues/7498

[2021-05-06 14:52] #7669 closed

[2021-05-06 15:07] sgellock commented on #7673
Shiproom - Lets run this one down and assess a root cause.

[2021-05-06 15:19] sgellock commented on #7656
Shiproom - @beyackle can you assess a fix and then let's discuss

[2021-05-06 15:30] sgellock commented on #7655
Shiproom - @benbrown can you look at the PR and then let's assess

[2021-05-06 15:31] sgellock commented on #7653
Shiproom: @taicchoumsft can you root cause this and then let's discuss and assess

[2021-05-06 15:33] sgellock commented on #7661
Shiproom:  assess if this causes SDK patch

[2021-05-06 15:37] sgellock commented on #7205
Shiproom - @alanlong9278 can you coordinate with @cwhitten on getting a PR for this before we ship R13

[2021-05-06 15:41] sgellock commented on #7670
Shiproom - let's root cause and evaluate

[2021-05-06 16:02] benbrown commented on #7670
The root cause of this is that migrated bots were missing the `runtimeSettings.components` key which is used when components are installed by package manager.

As part of the fix, I have done the following:

* Add this field during migration
* Guard against the missing field in Package Manager
* Fix an issue that caused this bug to be swallowed by the try/catch and cause a false positive on the fr

[2021-05-06 16:12] benbrown commented on #7667
Dupe of #7670

[2021-05-06 16:12] #7667 closed

[2021-05-06 16:18] Zerryth commented on #7661
@damlaalkan, try the following as a workaround

1. Go to your config in Composer
2. Toggle to JSON view of config
3. Verify that your settings includes something that looks like the following:

<details>
<summary>Click to see abbreviated config JSON</summary>

[code]

</details>

4. **As a workaround** , add `telemetry` object as a child of the entire config object, **sibling** to other settings l

[2021-05-06 16:19] sgellock commented on #7670
Shiproom - approved.  migration is P0

[2021-05-06 16:33] sgellock commented on #7673
Shiproom - @benbrown tracked this down to issue in the QnAMakerRecognizer in the C# SDK.
https://github.com/microsoft/botbuilder-dotnet/blob/402bc02b4cbbd2f4ec359134640e99211367e4a5/libraries/Microsoft.Bot.Builder.AI.QnA/QnAMakerRecognizer.cs#L297

[2021-05-06 16:35] darrenj commented on #7153
I can repro this in todays build. Just created a repro video and will share with @tdurnford

[2021-05-06 16:35] srinaath commented on #7671
@maheshatanp Could you share the bot assets with us. The number prompt should not be rounding off numbers without explicitly using a utility function.

[2021-05-06 16:40] srinaath commented on #7668
@panbalagan We have a stack overflow forum for "How to" questions on Bot Framework. Please use that for reporting this question. In addition, for future tickets please follow the GH issue template we have for more readibility.

[2021-05-06 16:40] #7668 closed

[2021-05-06 16:42] tracyboehrer opened #7677 ".gitignore is excluding appsetting.json"
The .gitignore in a bot project is ignoring appsettings.json.  This causes difficult issues to fix when checking out the bot.  Namely "runtime" and "runtimeSettings".  Without "runtime", Composer treats the project as old runtime.  Without "runtimeSettings", things like which components get loaded are lost.  This is a minimum.  There are all kinds of values in there that should be retained.

The r

[2021-05-06 16:56] cwhitten commented on #7153
@darrenj this was auto-closed and a nightly is running for you test

[2021-05-06 17:07] sgellock commented on #7677
Shiproom - approved

[2021-05-06 17:09] joshgummersall commented on #7673
That's not the root cause, it's related to configuration merging. Looking into it now.

[2021-05-06 17:34] joshgummersall commented on #7673
Update - not an issue in .NET, the problem in JS is that empty strings are not overridden by non-empty strings. The workaround is to delete keys that map to empty strings in `appsettings.json`. The proper fix is to re-arrange configuration layer merging in the JS SDK which I'm working on and could be included in a patch release.

[2021-05-06 17:50] sgellock commented on #7677
Shiproom - approved - aligning to existing platform norms

[2021-05-06 17:52] benbrown commented on #6671
@cxbuilders in the next release of Composer, the way the runtime is managed will be very different.  Each project will include the base scaffolding, and the core functionality of the runtime will be explicitly versioned as a dependency.

[2021-05-06 17:53] carlosscastro commented on #7589
Hello @Clooney24 both adapters should work side by side. Could you share the 'runtimeSettings' section of your appsettings.json (removing any sensitive data)?

In the meantime, I'll try your scenario on my side as well.

[2021-05-06 17:53] #6671 closed

[2021-05-06 17:53] cwhitten commented on #7543
Hi @sudhanrv - Composer does not yet support proxy configurations in a stable release, but this is actively being worked on. This will be supported in an upcoming release.

[2021-05-06 17:55] Clooney24 commented on #7589
Sorry, I already downgraded to 1.4.1 as we have a short deadline for this project.

[2021-05-06 17:56] cwhitten commented on #7643
@Olakhrisat Can you upgrade to Node version 14 and try again?

[2021-05-06 17:56] carlosscastro commented on #7589
No problem, we'll investigate shortly and update here.

[2021-05-06 18:06] #7677 closed

[2021-05-06 18:09] tdurnford commented on #7312
@boydc2014 We believe this to be an issue Adaptive Expression. Can you please verify that is an issue?

[2021-05-06 18:09] carlosscastro commented on #7589
Hello @Clooney24 I just did the following steps:

1. Upgraded composer to v2.0.0-nightly.243234.8264ac4 (latest version, just clicked 'Check for updates' in the composer app)
2. Create a new blank bot
3. Install Twillio adapter
4. Install Slack adapter
5. Verified that both appear in the connections pane and I can configure both
![image](https://user-images.githubusercontent.com/21318528/117345300

[2021-05-06 18:11] clearab opened #7680 "Package manager listing components that aren't packages"
## Describe the bug

If you add a local component (a component added directly to your app code, rather than through a package) to your bot project, Package Manager will display blank lines for them.

## Version

daily

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the be

[2021-05-06 18:14] clearab commented on #7680
My assumption is it is iterating through the components array in the appsettings.json file, and that is where this is bleeding through from.

[2021-05-06 18:15] tdurnford commented on #7543
@cwhitten Per your comment, can you add this to a milestone?

[2021-05-06 18:38] darrenj commented on #7153
Confirmed fixed in #7475

![image](https://user-images.githubusercontent.com/33519520/117348897-b1737180-aea2-11eb-9448-7efc711e9c56.png)

[2021-05-06 18:38] #7153 closed

[2021-05-06 18:57] srinaath commented on #7566
@sgellock using this ticket to get Composer's main rebased with 1.4.1 commits. Can merge the PR once I get the approval.

[2021-05-06 19:11] mewa1024 commented on #6711
Good point. Assigning this to R14.

[2021-05-06 19:12] mewa1024 commented on #7050
Assigning this to R14. This is part of Composer clean up/alignment.

[2021-05-06 19:27] sgellock commented on #7680
Shiproom - let's assess root cause and possible fix and we can make a call

[2021-05-06 19:39] tonyanziano commented on #7498
@srinaath and I talked offline and are both looking at a possible solution for this.

There is already a hook exposed in Composer's client that stops a single running bot. Our plan is to add this to the Shell API and allow the package manager to call it before un / installing packages.

[2021-05-06 20:11] clearab opened #7682 "Composer auto-update on open, not close"
I think it might make more sense if Composer prompted me to update to the new version when I opened it, rather than when I closed it. Right now, I get prompted on close, accept the flow, then end up launching Composer again and re-closing it.

[2021-05-06 20:18] lauren-mills commented on #7413
Based on my testing, I think this will be a pretty common issue with bots containing multiple skills. If you want to share the LUIS resources between multiple bots (especially since there is a limit of 10 authoring resources per subscription), you may copy the keys between publishing profiles.

I would propose that we include the authoring resource name in the luis object in the profile by default

[2021-05-06 20:34] benbrown commented on #7680
No this isn't the appsettings file.  The installed items are returned from the dialog merge process.

Those custom components are discovered by the schema merge and including in the results.  And since they include schema, they are included in the list by Composer, even though they are not truly "packages."

For example:

[code]

Without changes to the dialog merge system (which I'm not sure we wo

[2021-05-06 20:37] tdurnford commented on #7671
Related to https://github.com/microsoft/BotFramework-Composer/issues/7312

[2021-05-06 20:39] benbrown commented on #7680
A possible fix for this is in #7683

[2021-05-06 20:41] JonathanFingold opened #7684 "Composer starts to auto update on close, after auto updates are turned off"
## Describe the bug

I installed Composer 1.4.1 and turned off **Auto update** and **Early adopters**, then closed Composer.
Composer then started the process of installing the latest nightly.

## Version

Version:  1.4.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2021-05-06 20:48] daveta opened #7685 "Nodejs "Empty Bot" provisioned to Azure does not respond"
## Describe the bug

Creating a new bot with Composer using Empty Bot (nodejs) runs locally.  Provisioning and deploying this bot using composer succeeds.  However, once deployed, the bot does not respond.

## Version

Version:  2.0.0-nightly.243098.1eefb2e
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Sa

[2021-05-06 20:51] JonathanFingold commented on #7684
This seems to have been a side effect of having v2.x installed prior to installing 1.4.1.

[2021-05-06 21:04] Virtual-Josh commented on #7653
This doesn't repo on the current nightly build of Composer/orchestrator 4.13.1. When I tested the current version of orchestrator was an RC so maybe now that it's actually released it's better. If I can find a consistent repo for this issue I'll reopen/create a new ticket.

[2021-05-06 21:04] #7653 closed

[2021-05-06 21:23] joshgummersall commented on #7673
This will be fixed via https://github.com/microsoft/botbuilder-js/pull/3660

[2021-05-06 21:30] ryanlengel opened #7688 "Configure page has moved below the Create one in navigation"
## Describe the bug

The Configure tab has moved up below the Create tab, I scanned the fit & finish issues and couldn't find a mention if this is intentional. If so please close!

## Version

`v2.0.0-nightly.243234.8264ac4`
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce

[2021-05-06 21:43] luzeunice commented on #6507
Actually We are trying to deploy a bot throw some pipelines with DevOps , It will help me a lot !

[2021-05-06 23:00] lauren-mills opened #7690 "Move publish profile settings into appsettings and support multiple environments"
As I'm working with the publish profile and configuration of appsettings, I find that I am frequently hopping back and forth between the Publish and Configure tabs trying to copy keys and reuse resources between my three bot projects. It has led me to feel like all of the keys and settings etc should all live in the configure tab and have multiple versions for dev/production/etc.

This aligns more

[2021-05-06 23:14] Virtual-Josh opened #7691 "Functions bots do not work when running locally (LUIS, QNA and other settings are not properly received)"
## Describe the bug
Dotnet function bots throw an invalid LUIS subscription key error when trying to call LUIS

## Version
Version:  2.0.0-nightly.243234.8264ac4
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

S

[2021-05-06 23:40] Virtual-Josh opened #7692 "Checkbox doesn't show checkall checkbox for function bots when exporting as skill"
## Describe the bug
The check all checkbox is clipped when exporting a dotnet function bot as a skill

## Version
Version:  2.0.0-nightly.243234.8264ac4
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to r

[2021-05-06 23:52] Virtual-Josh opened #7693 "Can't publish dotnet function bots"
## Describe the bug
When I try to publish a dotnet function bots Composer throws an erorr saynig the zip deploy hostname is invalid.

## Version
Version:  2.0.0-nightly.243234.8264ac4
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubun

[2021-05-07 00:18] stevkan commented on #7365
Closing as resolved.

[2021-05-07 00:18] #7365 closed

[2021-05-07 00:55] sgellock commented on #7693
Shiproom - I am able to create a new empty bot using the JS template, and successfully deploy the bot to Az Func.  I'm using the following nightly build:
Version:  2.0.0-nightly.243234.8264ac4
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-05-07 01:10] sgellock commented on #7691
Shiproom - I am not able to repo this with the currently nightly.  let's get a second opinion to see if we an repro the issue

[2021-05-07 01:35] sgellock opened #7695 "Toast from one bot project is not cleared when creating a new bot"
## Describe the bug
We're not clearing toast from one bot project to the next.

## Version
Version:  2.0.0-nightly.243234.8264ac4
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1

[2021-05-07 07:07] maheshatanp commented on #7671
Thanks for the response.
Hereafter i will use the GH template.
I am using v 1.4.1
Electron 8.2.4
chrome:80.0.3987.165
nodeJs: 12.13.0
V8: 8.0.426.27

I used **AskingQuestionsSample** example bot. In that bot I entered NumberInput demo.
[AskingQuestionsSample-0_export.zip](https://github.com/microsoft/BotFramework-Composer/files/6439653/AskingQuestionsSample-0_export.zip)

[2021-05-07 10:12] goergenj opened #7696 "[MCS-DE-GO] Bug on LUIS results in child dialog"
When having a conversation within a child dialog, the UserInput is processed by the child dialog LUIS model as well as the root dialog LUIS model.

The "turn.recognized.intent" does not contain the highest scoring value but actually the result from the root dialog LUIS model.

Also it seems that the child dialog LUIS model is always called twice.

It appears as if only the last result from the LUI

[2021-05-07 11:39] darrenj opened #7698 "Compile warnings from Adaptive Runtime on a new project"
## Describe the bug

Following warnings on any new project created using Composer
[code]

## Version

![image](https://user-images.githubusercontent.com/33519520/117444247-19709900-af31-11eb-8ee1-6a2f9cea341f.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Expected behavior

No compile warnings

[2021-05-07 12:07] aparnaji opened #7699 "While calling a API with content-type : "mutlipart/form-data", setting content disposition in header is not working"
## Describe the bug

While calling a API with content-type : "mutlipart/form-data",  setting content disposition in header is not working

## Version

## Browser

- [ ] Chrome
## OS

- [ ] Windows
## To Reproduce

Steps to reproduce the behavior:

1. Create a Dialog ->  Trigger
2. As part  of this as for user Input as 'attachment"
3. Send this file to input as using Access External resources -> Se

[2021-05-07 12:12] mrtank commented on #5156
It does undo delete/cut multiple flow control elements at once, but looses the content of it... I suggest to implement the [Memento design pattern](https://en.wikipedia.org/wiki/Memento_pattern)

[2021-05-07 12:14] darrenj opened #7700 "Core Assistant template project won't start due to a condition return type error"
## Describe the bug

Creating a Core Assistant project generates a project on disk, but then triggers the following error:

`In CoreAssistantDocs.triggers[3].actions[1]: Branch: Switch (multiple options): condition the return type does not match`
![image](https://user-images.githubusercontent.com/33519520/117447814-dfee5c80-af35-11eb-9512-21c8b6c82322.png)

## Version

2.0.0-nightly.243234

## Bro

[2021-05-07 12:20] darrenj opened #7701 "Intermittent `Cannot read property error of undefined` error on start bot"
## Describe the bug

Intermittently hitting this error when click start Bot. Clicking start bot right away results in things working. Then later on, no pattern it will spuriously throw this unhelpful error.

![image](https://user-images.githubusercontent.com/33519520/117448565-d1547500-af36-11eb-8881-a5eb47a6e55c.png)

## Version

![image](https://user-images.githubusercontent.com/33519520/1174487

[2021-05-07 12:58] smoothcoder04 opened #7702 "Publish from LUIS fails in Composer"
## Describe the bug
We are currently using  DefaultAzureCredential from @azure/identity library to get token (new DefaultAzureCredential().getToken('https://management.azure.com/')).token) which we use to publish the changes from composer to LUIS.
This works fine when we try to publish changes from local machine but fails on Composer web app hosted on Azure. On investigating further, we found that

[2021-05-07 13:26] frarin commented on #7700
I got the same problem.

Version:
2.0.0-nightly.243450

[2021-05-07 13:59] tdurnford commented on #7692
Closing as duplicate of https://github.com/microsoft/BotFramework-Composer/issues/7665

[2021-05-07 14:11] NikulDevis commented on #2004
How do I add different images and buttons for the same?

[2021-05-07 14:13] NikulDevis commented on #3674
If I want to add text alongside the image, how do I change the code?

Also, how can i add buttons for this?

[2021-05-07 14:49] sgellock commented on #7685
Shiproom - I and Darren can repro this.  First play to look is app settings between a bot provisioned by composer and the ibiza portal

[2021-05-07 14:49] darrenj commented on #7685
![image](https://user-images.githubusercontent.com/33519520/117467628-c48e4c00-af4b-11eb-8c08-4c9dc001a8c6.png)

[2021-05-07 14:54] darrenj commented on #7685
Creating a new publish profile doesn't automatically publish so there is nothing on the disk (checked with kudu). Manually publishing makes test in webchat work but super confusing to an end user that this isn't done.

FWIW Making a bot a skill flow creates a publishing profile **and** publishes

[2021-05-07 14:59] benbrown commented on #5300
This has been fixed in v2

[2021-05-07 14:59] #5300 closed

[2021-05-07 15:07] benbrown commented on #7693
This `the hostname is invalid` error seems to happen intermittently. We should retry the zipdeploy if this happens.

[2021-05-07 15:13] sgellock commented on #7656
Shiproom - approved.  @beyackle can you merge today please?  thanks Ben

[2021-05-07 15:25] sgellock commented on #7701
Shiproom - intermittent issue.  working to get a consistent repro

[2021-05-07 15:26] sgellock commented on #7700
Shiproom - @ryanlengel can you take this one, assume we'll need another RC of the templates

[2021-05-07 15:28] sgellock commented on #7693
Shiproom - let's try to root cause and evaluate

[2021-05-07 15:30] sgellock commented on #7691
Shiproom - @benbrown will try and repro this a.m.

[2021-05-07 15:31] sgellock commented on #7688
Shiproom - moving out to R14.  @emivers8 is this what you intended?

[2021-05-07 15:37] sgellock commented on #6827
Shiproom - @GeoffCoxMSFT can you look at what it would take to add deployment to the create pub profile flow, so we deploy.  talk with @benbrown as well, as risk here could be high

[2021-05-07 15:57] sgellock commented on #7680
Shiproom - approved

[2021-05-07 15:58] sgellock commented on #7673
Shiproom - will be fixed with 4.13.2 JS SDK

[2021-05-07 16:04] sgellock commented on #7498
Shiproom - approved

[2021-05-07 16:04] sgellock commented on #7205
Shiproom - per @cwhitten we need to do another pass on the PR today

[2021-05-07 16:12] jwiley84 commented on #7671
I'll take a look and verify that this is the same issue as TJ linked above.

[2021-05-07 16:12] #7656 closed

[2021-05-07 16:19] #7566 closed

[2021-05-07 16:20] srinaath commented on #7566
Thanks @sgellock . PR is merged now.

[2021-05-07 16:53] EricDahlvang commented on #7661
Hi @damlaalkan

Closing this, since a workaround has been provided by @Zerryth and we've merged the fix which is planned to go out with the next patch release.

Thank you for raising this issue.

[2021-05-07 16:53] #7661 closed

[2021-05-07 17:04] mewa1024 commented on #7690
(@JaskeeratBedi-cmk @emivers8 @vivekkshankar fyi)

[2021-05-07 17:13] JaskeeratBedi-cmk commented on #7690
Thanks for sharing this feedback.. This is the direction we want to take as next steps for provisioning & publishing..(Tagging @Dewain27 @benbrown & @GeoffCoxMSFT)

[2021-05-07 17:24] ryanlengel commented on #7700
Acknowledged - investigating offline with Composer crew. This appears to be a validation error introduced by Composer (using the `=` character in conditions).

[2021-05-07 17:42] sgellock opened #7703 "Not all new bot templates can produce bots deployable to PVA"
## Describe the bug
We have no mechanism today to restrict deployment options within Composer.

You can create bots using New Bot templates that will not work when published to PVA.

## Version
Version:  2.0.0-nightly.243450.6728c56
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] E

[2021-05-07 17:51] GeoffCoxMSFT commented on #6827
We can't put publishing within the provisioning wizard because the provisioning wizard closes when provisioning starts.  The server code sends notifications back to main UI.  The main UI would have to watch for successful provisioning and detect that it is a new profile.  Then it would have to use a special navigation to the publishing page and start the publishing process.  In the multi-bot scena

[2021-05-07 18:10] Virtual-Josh commented on #7691
ahh slightly modified set of setps

1. create empty dotnet bot
2. add and wire up echo intent
3. **create provisioning profile and publish bot** (step that was missing)
4. start bot
5. send intent message

This repos with today's build.

![image](https://user-images.githubusercontent.com/50158775/117491171-b2e57e00-af24-11eb-98e6-bb44b04254f5.png)

[2021-05-07 18:25] tsuwandy commented on #7089
@cosmicshuai, has this issue been resolved with the fix in bf cli?

[2021-05-07 18:26] #7086 closed

[2021-05-07 18:26] Virtual-Josh commented on #7691
As one additional piece, if you test the bot in azure the bot doesn't respond if you try to invoke LUIS, but does respond if it stays local. The weird thing is web chat doesn't produce the `invalid luis subscription` error that happens locally.
![image](https://user-images.githubusercontent.com/50158775/117492786-f214ce80-af26-11eb-9098-ed9032f5832e.png)

[2021-05-07 18:50] hatpick opened #7705 "Breadcrumb & toggle code button collision"
## Describe the bug

Depending on the length of the breadcrumb items and width of the composer window, the following can happen:
![Screen Shot 2021-05-07 at 11 48 05 AM](https://user-images.githubusercontent.com/1483492/117495286-48374100-af2a-11eb-90b2-e1bcecdfd00d.png)

## Version

Latest on main

## Browser

All browsers and electron.

## OS

All platforms.

[2021-05-07 19:05] jameslew opened #7706 "Your new Azure Bot is available in Composer text seems incomplete"
## Describe the bug

The text for the first radio button seems incorrect/incomplete.  I assume that should be "User Azure Bot resources to create a new bot"?

## Version

Version:  2.0.0-nightly.243234.8264ac4
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macO

[2021-05-07 19:11] jameslew opened #7708 "Challenged to link Azure Resources to a bot created with composer in the first place"
## Describe the bug

I've created a composer bot, published it to azure (using the admin publish process), and tested in Azure; all worked.  WHen I then clicked "open in composer", composer is invoked and then challenges me to link resources.

It should infer that I've already linked the resources, or provide a third option which is "my bot is already provisioned in Azure"

## Version

Version:  2

[2021-05-07 19:16] #7670 closed

[2021-05-07 19:32] sgellock commented on #7700
Shiproom - approved.  assistant is P0

[2021-05-07 19:39] sgellock commented on #7685
Shiproom - creating a pub profile provisions but doesn't deploy.  this is why the bot isn't working.  if you deploy, the bot will work.  as much as we'd like to make an improvement in this experience, we don't have enough time to make an structural changes in R13.   moving out to R14

[2021-05-07 20:09] #7498 closed

[2021-05-07 20:14] benbrown opened #7709 "Notifications will be very long if the content does not wrap"
## Describe the bug

Messages that contain long strings without breaks can cause the notificaiton bubs to be very wide!

## To Reproduce

this happened when I provisioned my 11th LUIS authoring key -- this is prohibted, so I got a long error message.

## Expected behavior

The error wraps, or is truncated.

## Screenshots

![Screen Shot 2021-05-07 at 3 09 55 PM](https://user-images.githubuserconte

[2021-05-07 20:20] benbrown commented on #7691
I *CAN* reproduce this.

[2021-05-07 20:47] #7700 closed

[2021-05-07 21:06] benbrown commented on #7691
When running locally, Composer passes sensitive settings like the LUIS endpoint key, QNA endpoint key, and Microsoft App Password via command line arguments to the runtime, for example: (pseudocode) `dotnet start mybot.csproj --luis:endpoint=123`

see code here: https://github.com/microsoft/BotFramework-Composer/blob/0c914b22f1dc7d3c54357b423a1f32dece7b8393/extensions/localPublish/src/index.ts#L40

[2021-05-07 21:53] thomas-chung opened #7710 "Composer does not connect Emulator to bot when selecting "Test in Emulator" on MacOS"
## Describe the bug

I can confirm this problem only happens on macOS and not Windows. When a user creates a bot (e.g. empty) and hit run on macOS, then clicking "Test in Emulator", the Emulator starts but does not connect to the bot. The work around would be instructing the user to manually open the bot.

This behavior is different from Windows where the same step would result with Emulator conne

[2021-05-07 22:04] Virtual-Josh commented on #7691
For an additional piece of context, a similar issue is happening for Node function bots. The error presented is different, but initial investigation would suggest it's ultimately pointing towards the same issue of the app settings being inaccurate.

![image](https://user-images.githubusercontent.com/50158775/117512998-9443af00-af45-11eb-92db-bb75c5d99d6d.png)

[2021-05-07 22:09] emgrol opened #7711 "Unable to publish QnA bot using handoff to admin"
## Describe the bug

Unable to publish a QnA bot (created from the C# template) using the handoff to admin

## Version

Version:  2.0.0-nightly.243450.6728c56
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Step

[2021-05-07 22:11] ctharmon722 commented on #6712
Hi @anusharavindrar, screenshots of the bot are pretty difficult. If there would be a way to provide you information not on this open forum, that might be doable. We are able to get an composer echo bot hooked into our Bot Framework, but are struggling to get LUIS and QnA connected. If you have any examples of that, or tips that would be amazing. Currently, we are getting this error...
error: valu

[2021-05-07 22:13] sgellock commented on #7703
Shiproom - this is a dup of https://github.com/microsoft/BotFramework-Composer/issues/7467

[2021-05-07 22:51] sgellock commented on #7698
Shiproom - here is the data that @peterinnesmsft ran down:
[11:30 AM] Peter Innes
For reference, here is the dependency chain that is pulling in the offending package:Microsoft.Bot.Builder.Dialogs.Adaptive.Runtime >= 4.13.1
 ˪ Microsoft.Bot.Builder.Azure >= 4.13.1
    ˪ Microsoft.Azure.Storage.Blob >= 9.4.2
       ˪ Microsoft.Azure.Storage.Common >= 9.4.2
          ˪ Microsoft.Azure.KeyVault.Core

[2021-05-07 23:06] dmvtech opened #7713 "'Error occurred when parsing expression' when pasting in response templates."
## Describe the bug

Pasting two response templates, one that calls a second, a parsing expression error happens even though the naming is correct. Re-naming or pasting over the top resolves the issue.

## Version
[code]
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the

[2021-05-07 23:08] sgellock commented on #7157
Shiproom - PR merged.  Closing the issue.

[2021-05-07 23:09] anusharavindrar commented on #7596
@BellaDunnett, I am able to reproduce the error on macOS Catalina(10.15.4) and also on Windows with composer (v1.4.1) on the Emulator(v4.13.0). Can you also specify if you are testing this on any specific channel or just on the Emulator? Also, did you try testing this on Windows as well?

[2021-05-07 23:14] #7480 closed

[2021-05-07 23:53] dmvtech opened #7714 "Make 'Disable' button a toggle instead of a drop down"
## Describe the solution you'd like

To disable an action after selecting, you click 'Disable' in the toolbar above, then down to click on 'Disable'. As it's already enabled, 'Enable' is already unavailable. With only two options (`Disable`|`Enable`), seems like we don't need a drop down, unless there are plans for more options. Can save a click by just being able to toggle between Disable/Enable

[2021-05-08 00:13] cosmicshuai commented on #7089
I have a pr for this in Composer

[2021-05-08 02:34] peterinnesmsft commented on #7691
@sgellock @tracyboehrer per request, updating issue with investigation findings. I have identified a potential solution to supporting this in Composer. @benbrown @joshgummersall please review the below:

---

The Azure Functions runtime by default makes use of environment variables for the purposes of supplying configuration to the application. For local development using the Azure Functions CLI,

[2021-05-08 15:35] rvinothrajendran opened #7715 "Project Description is missing"
## Describe the bug

Project Description is missing

## Version

Version:  2.0.0-nightly.243766.69ea
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

## Screenshots

![image](https://user-images.githubusercontent

[2021-05-08 18:11] sgellock commented on #7655
Shiproom - approved.

[2021-05-08 18:21] aparnaji opened #7716 "Bot Deployed on Azure works from emulator but fails in web chat/ direct line"
## Describe the bug

Bot Deployed on Azure works from emulator but fails in web chat/ direct line
## Version

v
![image](https://user-images.githubusercontent.com/26645750/117549365-93844900-b029-11eb-8596-ec6482a5ee57.png)

## Browser

- [ ] Chrome

- [ ] Edge

## OS

windows

## To Reproduce

Steps to reproduce the behavior:

1. Created a bot in composer
2. Worked locally, published to Azure app

[2021-05-09 09:39] aparnaji commented on #7716
Adding further details , Message is "There was an error sending this message to your bot: HTTP status code GatewayTimeout" in the channel . My Bot uses both luis and qnamaker

[2021-05-10 02:22] boydc2014 commented on #7312
@tdurnford I believe this is an issue with the document that didn't say it clear about how to use OutputFormat, the correct format is
"=int(this.value)" or "=float(this.value)"

I've verified that both of those formats works in Composer  (except some validation issue blocking me from start that i have to start manually).

for example if using =int(this.value)

![image](https://user-images.githubus

[2021-05-10 02:25] boydc2014 opened #7718 "Incorrect validation on OutputFormat blocks bot to start"
When supporting customer on https://github.com/microsoft/BotFramework-Composer/issues/7312 i found that, the latest nightly's validation on outputFormat is wrong, causing a correct term fail to start bot

![image](https://user-images.githubusercontent.com/3829387/117598213-e8cf7000-b179-11eb-836b-c2850226e792.png)

[2021-05-10 04:02] NikulDevis opened #7719 "Image carousel with different images and buttons in Bot Framework Composer"
I'm new to Bot Framework Composer. I've been trying to create a image carousel based on https://github.com/microsoft/BotFramework-Composer/issues/2004. But I would like to know how to implement the same, but with different image at each loop and buttons underneath them.

[2021-05-10 08:14] BellaDunnett commented on #7312
Hi @boydc2014 I've been using this documentation: https://docs.microsoft.com/en-us/composer/how-to-ask-for-user-input
The relevant section is under 'Number input'.

[2021-05-10 08:39] Gianfe commented on #7413
I have the same @guendas's issue.  Adding luisResource field did not solve the problem.
Any suggestions?

Regards,
Gian Felice

[2021-05-10 10:33] Olakhrisat commented on #7643
@cwhitten it works fine now, thank you for helping

[2021-05-10 12:00] UmaPrelude opened #7721 "Cannot start composer after Installing Latest version"
Hi,
I was using 1.3.1 desktop version in my machine after updating to 1.4.1, I am not able to run composer successfully, it stops in the loading screen itself.
After referring to Issue : microsoft/BotFramework-Composer#5073

I ran from command prompt and seeing the below errors, please recommend the solution for this issue.

"(electron) The default value of app.allowRendererProcessReuse is depreca

[2021-05-10 12:15] lampeTechnidoo commented on #7087
Last friday i tested the night build composer

    (Version:  2.0.0-nightly.243450.6728c56
    Electron: 8.2.4
    Chrome: 80.0.3987.165
    NodeJS: 12.13.0
    V8: 8.0.426.27-electron.0)

and there ws "Create new ressorces" selactable for me, I did and publishing finished,
but only webchat was available, not  per URL and framework emulator.

after that i could use the publishing profile and prepu

[2021-05-10 13:34] parsalotfy commented on #1965
same issue [here](https://github.com/microsoft/botframework-sdk/issues/6285)

[2021-05-10 13:40] tdurnford commented on #7716
@srinaath Can you take a look at this?

[2021-05-10 13:49] tdurnford commented on #7445
@SupriyaBhogi did @darrenj's suggestion resolve your issue?

[2021-05-10 13:54] tdurnford commented on #6482
@dmvtech Any updates on this?

[2021-05-10 14:00] aparnaji commented on #7716
I fixed the issue,  I migrated to Composer 2.xxx (nightly build) assuming this problem will be fixed, but looks like the issue is wth Adaptive Card that I used in first dialogue. problems that I see are  1. used version 1.3, but I believe  it works with lower version 1.2 and also (2) invoking a function within the card ${greeting}, which is throwing error so replaced with hard coded text. "Have to

[2021-05-10 14:03] aparnaji commented on #7719
If you want different images , you can try invoking different json cards and each adaptive card underlying can show different image

# Welcome-Message
[Activity
    Text = Welcome
    Attachments = @{json(XXXX-Card1())} | @{json(XXXX-Card2())} | @{json(XXXX-Card3())}
    AttachmentLayout = carousel
]

[2021-05-10 15:06] sgellock commented on #7718
Shiproom - lets review the PR and assess risk

[2021-05-10 15:07] sgellock commented on #7703
Shiproom - would like to take this if it's a low risk PR

[2021-05-10 15:09] sgellock commented on #7693
Shiproom - let's fix this in a patch.  moving out of R13

[2021-05-10 15:11] goergenj commented on #7696
@garypretty @benbrown @cwhitten Any update on this?

[2021-05-10 15:12] sgellock commented on #7691
Shiproom - let's see what a PR would look like and assess for R13

[2021-05-10 15:20] sgellock commented on #7205
Shiproom - going to get a one-off built for @darrenj to validate this scenario + sibling skill scenarios and based off of that assessment, we'll decide if it goes into R13 or not

[2021-05-10 15:41] #7719 closed

[2021-05-10 17:32] srinaath commented on #7721
@taicchoumsft The error says a missing "orchestrator-core". Seems like something we have seen before. Any ideas here?

[2021-05-10 17:47] Quirinevwm opened #7724 "notification message can't be closed when publish pop-up is open."
## Describe the bug
I can't close the 'notification' message when filling in the publish pop-up.
I need to complete or cancel the steps in the publish 'bigger' pop-up. I am only able to close the notification banner after closing/finishing publish (then the cross on the message is actionable).

## Version
Version:  2.0.0-nightly.243098.1eefb2e
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0

[2021-05-10 17:56] srinaath commented on #6957
@cleemullins  Aah. Yep. https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/client/src/utils/pageLinks.ts#L34. The left nav we use HTML to drive the structure.

The top nav we are using the native electron menu. https://github.com/microsoft/BotFramework-Composer/pull/4161/files#diff-c5a6dc260ef9f6a83f951ea701edbea94ce0ba7caf750a46d9501c56a970c576R71

[2021-05-10 18:18] chrimc62 commented on #6945
@cwhitten is this likely to be addressed in R14?  Or are you waiting for the export of all LG functions?

[2021-05-10 18:26] taicchoumsft commented on #7721
Hi @UmaPrelude , can we try a few things?

1) Can you verify if the file "orchestrator-core.node" is present in the location that the app is looking for? `D:\Composer\InstallLocation\Bot Framework Composer\resources\app.asar.unpacked\node_modules\orchestrator-core\orchestrator-core.node`
2) Can you try installing the latest `vc_redist` from [here](https://support.microsoft.com/en-us/topic/the-late

[2021-05-10 18:47] sgellock opened #7726 "Rocket Menu icon does not toggle rocket menu visibility"
## Describe the bug

when authoring a bot, if the rocket menu is not displayed I can click the rocket icon to display it.  clicking the rocket icon when the menu is visible does not hide the rocket menu.
## Version
Version:  2.0.0-nightly.243997.543d0b4
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [x] Electron distribution
- [ ] Chrome
- [ ] Safari

[2021-05-10 18:52] parsalotfy opened #7728 "Why are emptybot created by composer and dotnet cli different to each other ?"
## Describe the solution you'd like

## Describe alternatives you've considered

Hi,
when we create a .netcore app with visual studio, the generated files are exactly similar to files generated by dotnet cli command. Except for .sln file.
Why the same behavior does not happen when we create an empty bot with bot composer ?
When I create an empty bot with bot composer and these cli commands :
[code

[2021-05-10 18:57] scheyal commented on #7157
@srinaath - I still see the dangling process in today's build. Is that supposed to be fixed?

[code]

Version:  2.0.0-nightly.243997.543d0b4
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-05-10 19:28] sgellock commented on #7703
Shiproom - approved.

[2021-05-10 19:29] #7467 closed

[2021-05-10 19:37] JonathanFingold opened #7729 "Can't connect to a freshly published skill using the manifest"
## Describe the bug

I published a skill, but go an error when trying to add it to the root bot.

## Version

Version:  2.0.0-nightly.243997.543d0b4
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to repro

[2021-05-10 19:46] tracyboehrer opened #7730 "Nested dialog folders aren't converted"
## Describe the bug

When opening an old project Composer attempts to convert.  In cases where there are dialogs folders nested, the nested folder is ignored.

## Version

Version:  2.0.0-nightly.243450.6728c56
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] mac

[2021-05-10 20:17] Andres-Coronado commented on #5628
I am having the same error Does anyone has find the solution?
![err](https://user-images.githubusercontent.com/53791842/117719237-c3a32780-b1a2-11eb-86b1-98bf869bea77.PNG)

[2021-05-10 20:33] srinaath commented on #7730
@mewa1024  looking into the bug now.

[2021-05-10 20:41] JonathanFingold commented on #7497
Apparently, 7729 is related to a known issue, and this one seems to have been fixed in the latest build.

[2021-05-10 20:41] #7497 closed

[2021-05-10 20:43] sgellock commented on #7157
Shiproom - we've fixed some of these scenarios.  At this point, I'm moving this out of R13 for consideration in a post build release

[2021-05-10 20:57] sgellock commented on #7729
I believe this is a dup and fixed with PR #7666

[2021-05-10 21:39] Dewain27 commented on #7711
Same issue as #7466

[2021-05-10 21:40] Dewain27 commented on #7711
Provided @emgrol with RBAC that needs to be set to make it work.  She will be testing in the morning.

[2021-05-10 21:57] stevkan commented on #2004
@NikulDevis, please note the below message. If you post your question there, be sure to tag it with 'botframework'. Doing so will allow us to find it and respond.

-----------------

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/

[2021-05-10 21:57] #2004 closed

[2021-05-10 22:00] sgellock commented on #7501
Shiproom - 4.13.2 of JS SDK has been published.  this contains the cosmos DB fix that addresses this issue

[2021-05-10 22:00] #7501 closed

[2021-05-10 22:14] emivers8 opened #7732 "Publishing / Handoff to admin modal needs button corrections"
Buttons should be:

[Back] **[OK]**

Back button shouldn't be blue. "Okay" should actually be "OK".

![image](https://user-images.githubusercontent.com/55601267/117730849-ea149300-b1a1-11eb-9da1-19dcb6612736.png)

[2021-05-10 22:17] Stevenic opened #7733 "Language selector isn't discoverable"
I added a second language to my bot but couldn't figure out how to switch language inputs. Someone had to point out to me that the language selector is at the top of the app next to the project name:

![image](https://user-images.githubusercontent.com/698939/117731125-78891480-b1a2-11eb-9588-24f2625dbbb8.png)

Somehow I missed that all together...  I was looking for it here:

![image](https://user

[2021-05-10 22:18] emivers8 opened #7734 "Teaching bubble for LUIS isn't popping up"
## Describe the bug

I created a new enterprise assistant bot and the teaching bub didn't pop! The rocket menu was open, so I clicked on the LUIS item, set that up, and then the QnA bub and the start bot bub DID pop as expected, it was just the first LUIS one that didn't fire.

When I subsequently created a bot with language, it triggered the LUIS bub as expected.

(bub = teaching bubble)

## Vers

[2021-05-10 22:32] sgellock commented on #7711
Shiproom - closing as this was a setup issue.  See @Dewain27's comment above.

[2021-05-10 22:32] #7711 closed

[2021-05-10 22:39] srinaath commented on #7730
Thanks @tracyboehrer We are able to repro the error.

The old "ActionsSample" has a weird structure with nested dialogs. We had made a change based on  feedback to avoid tampering with user data and hence we wouldn't go search for nested dialog, lg, lu resources. The following are the glob patterns we look for.
https://github.com/microsoft/BotFramework-Composer/pull/6041#discussion_r584480343

On

[2021-05-10 22:58] Stevenic commented on #7733
What's throwing me off is that the language selector isn't normally there:

![image](https://user-images.githubusercontent.com/698939/117734537-8477d500-b1a8-11eb-92dd-bd2715e1bb1e.png)

It seems like we should just always show it and make that the entry point for adding additional languages to your bot.

[2021-05-10 23:09] tracyboehrer commented on #7730
Thank you.  So a side question is should the converted sample be removed?  We were in the process of moving the old Composer samples to botframework-samples.

[2021-05-10 23:23] emivers8 opened #7735 "Rocket panel action items in the wrong category/order"
## Describe the bug

Current state shows "Publish your bot" and "Add connections" at the bottom of the panel, under the "Optional" category. Those items should be higher up in the "Recommended" category.

Current:
![image](https://user-images.githubusercontent.com/55601267/117736000-7f685500-b1ab-11eb-92dd-cbc8c38bc4d3.png)

Should be (minus copy updates and state of checkmark):
![image](https://u

[2021-05-11 00:03] sgellock commented on #7735
Shiproom - moving out to R14

[2021-05-11 00:10] sgellock commented on #7730
Shiproom - closing

[2021-05-11 00:10] #7730 closed

[2021-05-11 00:21] mewa1024 commented on #7582
related: #7733

[2021-05-11 02:07] mareekuh opened #7736 "UI Copy - request for update"
Feedback from Lili to ensure awareness and discoverability of ABS channels in Composer, beside Connections that are currently shown: On the Configure tab, Connections, please replace the following copy:

    "Add connections to make your bot available in Webchat, Direct Line Speech, Microsoft Teams and more.
    Learn more."

with this

"Add connections to make your bot available in Webchat, Direc

[2021-05-11 12:41] davidfischl opened #7737 "Update Activity and Microsoft Teams"
I have been trying to use the Update Activity and Delete Activity as part of a bot built in BFC (as a PVA extension) and added as an app in Microsoft Teams.

The documentation says that this should be working. See:
https://docs.microsoft.com/en-us/composer/concept-memory#update-activity

I get an error when I run my bot in Teams.

Is this a known issue ?

Happy to add more detail if this is not a

[2021-05-11 14:12] tdurnford commented on #6423
@philip-mc can you provide more information regarding your bot architecture?

[2021-05-11 14:18] UmaPrelude commented on #7721
Yes i can see the file.
![image](https://user-images.githubusercontent.com/65938026/117830656-781b7700-b291-11eb-811c-34f60dc7e731.png)

I tried both the steps as you mentioned in your response, still the issue is not resolved.

[2021-05-11 14:44] sgellock opened #7738 "Creation flow needs to allow operating system choice for Az Functions"
## Describe the bug
The creation flow for new bots when selecting az functions does not allow the user to choose Linux and today defaults to Windows.

We need to provide an option to allow the user to select with OS they want to use with the func app, and we should also default to Linux.

I also just had a conversation around iisnode, and the recommendation is to run this on linux as well.  so, in

[2021-05-11 15:07] sgellock commented on #7691
Shiproom - approved - functions with services is P0

[2021-05-11 15:29] #7505 closed

[2021-05-11 15:29] benbrown commented on #7738
See also: https://github.com/microsoft/BotFramework-Composer/issues/7505

[2021-05-11 15:31] benbrown commented on #3827
This will be fixed with the new 2.0 version of Composer.

[2021-05-11 15:39] benbrown opened #7739 "Automatically detect LUIS and QNA requirement during provisioning, make them required."
We can automatically detect the need for LUIS and QNA in a bot project.  We should use this information to set the LUIS and QNA resources as required during the publishing profile creation.

[2021-05-11 15:41] benbrown opened #7740 "Prevent publishing to an incomplete profile"
We can automatically determine that a publishing profile is missing required elements - such as LUIS, QNA or the web host itself.

We should prevent a user from publishing to an incomplete profile, and lead them to remedy the issue.

[2021-05-11 15:42] benbrown commented on #6253
See also:

#7739
#7740

[2021-05-11 15:45] benbrown commented on #6267
I think this has been handled by the new skill connection experience? @Dewain27 is there work yet to be done for us here?

[2021-05-11 15:46] #5930 closed

[2021-05-11 15:47] benbrown commented on #7739
dupe of #6775

[2021-05-11 15:47] #7739 closed

[2021-05-11 15:50] #7289 closed

[2021-05-11 15:51] #7363 closed

[2021-05-11 16:09] sgellock commented on #7606
Shiproom - validate the scenario by adding a package to the az func based bot project

[2021-05-11 16:13] garypretty commented on #7366
@benbrown I just tried again, using the original bot, reverting the settings back to the original string. It published fine 🤔

[2021-05-11 16:19] #7606 closed

[2021-05-11 16:32] benbrown opened #7741 "Extract the build steps from Composer and move them to the runtime project itself"
Currently, Composer has an internal definition of the steps needed to build, run and deploy the bot projects.  In some cases these are shared (LUIS and QNA steps), but in others they are specific to each runtime type.

This adds *magic* to the build/deploy process which is hard for developers to understand. It also makes the CI/CD pipeline and publishing story more complicated.

We should extract

[2021-05-11 16:33] benbrown commented on #7741
Assigning some folks here who I know have input on this!

[2021-05-11 16:38] tonyanziano commented on #7728
@tracyboehrer would you be able to comment on this?

[2021-05-11 16:40] tonyanziano commented on #7715
This was removed as part of fit & finish in R13 (#7598). Does a decision need to be made whether to keep the description field or not?

[2021-05-11 16:47] tonyanziano commented on #7696
@taicchoumsft can you take a look at this / comment?

[2021-05-11 16:49] jwiley84 commented on #7671
More details: it only rounds numbers larger than 2147483647 (please don't ask how many numbers I input to find that)
![image](https://user-images.githubusercontent.com/17333688/117853833-b71fdd00-b23d-11eb-95f6-b3f338b5f6e6.png)
![image](https://user-images.githubusercontent.com/17333688/117853872-c30b9f00-b23d-11eb-8e6f-880bc8e052ae.png)

Additionally, there doesn't seem to be a set rule about th

[2021-05-11 17:10] tracyboehrer opened #7743 "A JS bot that includes native package does not run when deployed to Azure"
## Describe the bug

Create a JS Function bot that includes Orchestrator, LUIS, and QnA.  The bot will run locally.  However, when deployed it does not function through Web Chat.

It does not appear to be specific to Functions though.  Josh G will be providing details on required changes.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2021-05-11 17:13] dmvtech commented on #7596
Hi @BellaDunnett

Ensure the value is json by using the [prebuilt json function](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#json). Such as:
 `buttons = ${DanaTemplate2('messageBack', 'More information', json({​​​​​​​​"property": "propertyValue"})​​​​​​​', 'More information')}​​​​​​​​`

 Please give that

[2021-05-11 17:13] taicchoumsft commented on #7721
Hi @UmaPrelude , can you tell us what version of Windows you're using?  Is it 32 or 64-bit?

[2021-05-11 17:23] #7691 closed

[2021-05-11 17:28] frarin opened #7744 "Cannot build Composer on a Linux VM"
## Describe the bug

I'm trying to deploy the Composer on a Linux VM, in order to host it as a web app

I created the VM and installed all the dependencies.

I forked the main branch of https://github.com/microsoft/BotFramework-Composer.git, then I tried to follow these steps:
$ cd BotFramework-Composer/Composer
$ yarn install // install dependencies
$ yarn upgrade // upgrade dependencies
$ yarn b

[2021-05-11 17:53] tdurnford commented on #7596
@BellaDunnett If you add `Text` to your card action, it should work fine.

[code]

[2021-05-11 18:07] cwhitten commented on #7741
Before the team dives into the technical details and implementation I'd like to assert the following for consideration as principles & constraints to align on that can act as a guide:

1. Composer uses core libraries published outside of the application to manage. This spans runtime, lu/language models, packages, skills, language & expression parsing (lu/lg/qna/adaptive-expressions), etc.
2. The b

[2021-05-11 18:33] dmvtech commented on #7671
Seems to be a bug. I'm not able to reproduce in LG playground or in SDK sample.

[2021-05-11 18:42] gabog commented on #7741
I agree with the principles @cwhitten, one comment on https://github.com/microsoft/BotFramework-Composer/blob/main/docs/archived%20docs/how-to-process-language-models-with-CI-CD.md:
There is still some magic in composer that I had to replicate in powershell to fully implement a pipeline that supports CI/CD for C# with Cross Train, LUIS, Orchestrator and QnAMaker.
There's an issue on BF cross train

[2021-05-11 18:43] vivekkshankar opened #7748 "[UI bug][Skills] Allowed caller input field disappears when the user clicks outside the field."
There is some odd UI behavior for the Allowed caller UI in the export as skill modal.

![image](https://user-images.githubusercontent.com/67671676/117867952-d7579800-b24d-11eb-86d2-060a7579e581.png)

Expected UI behavior: field should persist and clicking on add new without filling in the allowed caller should bring focus to the field.

[2021-05-11 18:47] vivekkshankar opened #7749 "[UI bug] [Skills] Text button misaligned When no publishing profile exists"
![image](https://user-images.githubusercontent.com/67671676/117868486-85fbd880-b24e-11eb-9321-64c9ed702522.png)
button text should be a single line

[2021-05-11 18:50] vivekkshankar opened #7750 "[UI bug] [Export as skill] When no publish profile exists directly take user to the publish profile creation step"
User should not see below and directly skip to the publishing profile creation step. Also needs a back button to come back to the allowed caller selection step.

![image](https://user-images.githubusercontent.com/67671676/117868847-ed198d00-b24e-11eb-9430-b9f496a4ba0b.png)

[2021-05-11 18:54] vivekkshankar opened #7751 "[UI bug] [Export as skill] Confirm skill endpoints is blank when publish profile is imported from existing"
Export as a skill->Create a new publish profile-> import from existing

Issue 1:
The confirm skill end point UI turns up blank,
![image](https://user-images.githubusercontent.com/67671676/117869166-500b2400-b24f-11eb-9d09-addad531c357.png)

Issue 2 :
Back button should take the user back to the publishing step but instead it takes the user back to the allowed caller selection

[2021-05-11 19:01] dmvtech commented on #7699
I'm investigating this now.

[2021-05-11 19:26] anusharavindrar commented on #6712
@ctharmon722, did you refer to the following documentation to set up QnAMaker and LUIS to your composer bot?

QnAMaker: https://docs.microsoft.com/en-us/composer/how-to-add-qna-to-bot

LUIS: https://docs.microsoft.com/en-us/composer/how-to-add-luis

Also, when you state "We are able to get an composer echo bot hooked into our Bot Framework", do you mean that you created the bot on Composer and dep

[2021-05-11 20:12] #7205 closed

[2021-05-11 20:18] ctharmon722 commented on #6712
@anusharavindrar We have our composer bot hooked up to both LUIS and QnA. I haven't deployed it yet, but that is because I don't ever want it to be a free standing bot (although it could be). Our goal is to incorporate this into our larger bot built on SDK.

We do already have the larger SDK Bot built in C# dot net deployed and running. We went to try to incorporate this and have not succeeded yet

[2021-05-11 20:27] emivers8 opened #7753 "[UI bug] Onboarding experience bubble empty/broken"
## Describe the bug

The fourth step in the onboarding experience for configure and publish opens a teaching bubble that's now empty.

![image](https://user-images.githubusercontent.com/55601267/117879888-52c04600-b25c-11eb-9d86-2993df38d07f.png)
![image](https://user-images.githubusercontent.com/55601267/117879910-594ebd80-b25c-11eb-95d8-e7bb4e773dea.png)

In the first step it's also pointing at

[2021-05-11 20:29] srinaath opened #7754 "Resolve safelisted Component Governance alerts"
This task encapsulates 3 specific items
1. Work required to resolve all our existing legal High/Critical alerts in Composer using the help of @garypretty
2. All alerts that were safelisted temporarily and identified as risk acceptable to the repository at that point.
3. Comb through and see if upgrading certain dependancies might not be required as the portion of code is/will be removed (ex .NET d

[2021-05-11 20:31] benbrown commented on #7743
OK here is my latest data:

- [ ] A small change required in Composer to exclude the node_modules folder
- [ ] 2 new files added to the Javascript generator

a .deployment file and a deploy.cmd file

these are both basically off the shelf (as provided by kudu) but with a few lines added to call npm install.

[2021-05-11 20:50] Dewain27 opened #7755 "Setup is one word not two in Development Resources"
## Describe the bug

The words "set up" on the buttons for the Development Resources in Bot Settings needs to be "setup"

![image](https://user-images.githubusercontent.com/18688053/117882893-683f6b00-b270-11eb-9adb-ed1d42a12727.png)

## Version

Version:  2.0.0-nightly.243450.6728c56
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distri

[2021-05-11 21:05] frarin commented on #7744
I'm using v14.16.1 (Latest LTS: Fermium), and I'm getting the error.

[2021-05-11 21:16] sgellock commented on #7743
Shiproom - orchestrator is P0 - approved

[2021-05-11 21:24] garypretty opened #7757 "Long resource name causes error in provisioning"
## Describe the bug

Using a resource name longer than 24 chars when provisioning causes the operation to fail part way through due to this being longer than the allowed length for a blob storage resource name.

![image](https://user-images.githubusercontent.com/3900649/117886610-5f1dc080-b2a7-11eb-893e-a5d2bcaa33e0.png)

## Version

Version:  2.0.0-nightly.244329.667b93f
Electron: 8.2.4
Chrome: 8

[2021-05-11 21:28] clearab opened #7758 "Redesign package details pane in Package Manager"
I'd like to redesign the package details pane in package manager to:

- Display additional information about the packages
- Better handle working with versions of packages
- Cleanup existing verbiage

To facilitate this, we may need to change the details pane based on whether the package selected in an npm or  NuGet package.

I'm hoping we can base some of the designs of of the search results for

[2021-05-11 21:40] clearab opened #7760 "Truncated trigger/dialog names should show full name on hover state"
## Describe the bug

Truncated strings in the list of trigger/dialog names (navigation pane?) should display the full string on hover. Instead for some reason we actually truncate them *more* when you hover your mouse over them.

## Version

Daily

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reprod

[2021-05-11 21:44] clearab opened #7761 "Mouse hover for trigger/dialog names"
## Describe the bug

The mouse hover that changes the cursor to the hand version indicating I can click on something is applied only to the text of the trigger/dialog name, rather than the entire selectable area.

## Version

Daily

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to re

[2021-05-11 21:52] clearab opened #7762 ""Show Code" label overlaps on long names"
## Describe the bug

The "Show Code" label can overlap the dialog > trigger name.

## Version

Daily

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a dialog with a long name
2. Add a trigger with a long name
3. Select your new trigger
4. Horizont

[2021-05-11 21:58] clearab opened #7763 "Vertical scrollbar causes horizontal scrollbar to appear"
## Describe the bug

If you vertically resize your composer window the introduction of the vertical scrollbar in the dialog/trigger list causes a horizontal scrollbar to appear, even though the effective horizontal viewing area is unaltered. It looks like the string truncation already takes into account the horizontal width of the scrollbar.

## Version

daily

## Browser

- [x] Electron distribut

[2021-05-11 22:06] hatpick commented on #7762
Dup #7705

[2021-05-11 22:22] clearab commented on #7728
Although named the same, these bots are using different portions of the SDK stack (as well as completely different technology to create the scaffold). The dotnet template is using a traditional SDK first (no adaptive stack) bot, while Composer is using yeoman to scaffold a Composer-compatible bot using the adaptive stack.

Eventually the dotnet template will be altered to align, or retired.

[2021-05-11 22:45] tdurnford commented on #7753
@emivers8 I opened a PR to fix the empty teaching bubble. To your second point, the 'Main Dialog' teaching bubble is pointing to the right anchor. @xieofxie

[2021-05-11 23:30] xiyangdesign commented on #7753
Yes I think the "Main Dialog" teaching bubble is correct, although main dialog has the same name with the bot project which could be confusing.

[2021-05-11 23:43] emivers8 commented on #7753
Perfect! Thank you @tdurnford and @xiyangdesign

[2021-05-11 23:48] sgellock commented on #7753
Shiproom - moving out of R13.  we're cutting RC candidates tomorrow.

[2021-05-12 00:08] Virtual-Josh opened #7765 "Starting multiple bots causes port collisions"
## Describe the bug
When I `Start all bots` with  1 parent and 4 skills 2 skills I have multiple skills running on the same port

## Version
Version:  2.0.0-nightly.244572.8406071
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

[2021-05-12 00:39] mareekuh commented on #7760
Resolution:
1. nav pane should be resizable.
2. hover over and click on the name should show the full name?

[2021-05-12 00:45] mareekuh commented on #7755
By design
Set up = verb
Setup = noun

The button is an action, not a noun.

[2021-05-12 00:45] #7755 closed

[2021-05-12 01:48] Virtual-Josh opened #7766 "Node bots can't talk over skills locally"
## Describe the bug
Node bots, regardless of configuration as the parent or the skill, or a function or web app can't talk over skills

## Version
Version:  2.0.0-nightly.244572.8406071
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ub

[2021-05-12 03:09] thomas-chung commented on #7710
@tonyanziano It was 2.0.0-nightly.243450.6728c56

[2021-05-12 03:33] boydc2014 commented on #7701
Some context, there is a known issue in bf-lu that the error message is "undefined", and @cosmicshuai fixed it in bf-cli. Here is the PR picking up that change in composer https://github.com/microsoft/BotFramework-Composer/pull/7399.

I guess this is the same issue in @darrenj's case.

[2021-05-12 03:44] luhan2017 commented on #7751
@vivekkshankar,
For issue1, are you importing a valid publishing profile? If the publish profile is not valid, it would be shown in the dropdown.  Should we just show every publish profile in the dropdown and mark the invalid ones with a warning sign? Maybe we can have a sync offline to talk about the design.

For issue2, I am afraid it is not easy to do that. Because the new provision wizard is a

[2021-05-12 03:49] luhan2017 commented on #7750
@vivekkshankar , I have a concern that if we do that user may be confused that why share a skill redirects to the creating publish profile page. And user may not be able to cancel that. To me, keep this words: "To make your bot available as a remote skill you will need to provision Azure resources. " really helps user understand what they are doing and what exact stage they are in.

Similarly as c

[2021-05-12 05:06] taicchoumsft commented on #7721
Thanks @UmaPrelude, I am unable to repro this issue - can you try these steps if you have some time.

1) Download [Dependencies](https://github.com/lucasg/Dependencies) from here
2) Unzip in any location, and run `DependenciesGui.exe`
3) Open a location, and load up the file `D:\Composer\InstallLocation\Bot Framework Composer\resources\app.asar.unpacked\node_modules\orchestrator-core\orchestrator-

[2021-05-12 05:34] kwoxer commented on #5811
Same issue here
![image](https://user-images.githubusercontent.com/1167229/117923548-7e8f0a80-b2f4-11eb-973c-860d12b2c0d2.png)

Not sure what key and url to set where.

[2021-05-12 06:46] luhan2017 commented on #6602
There is a Retrieve App ID button to retrieve the appid and password from a publish profile.
![image](https://user-images.githubusercontent.com/32191031/117930527-b0be5d80-b330-11eb-8720-73343183267f.png)

[2021-05-12 06:46] #6602 closed

[2021-05-12 06:49] luhan2017 commented on #6406
Not yet, @danielallen73 you didn't reply my email. Please email me if the issue still exists.

[2021-05-12 06:56] taicchoumsft commented on #7696
Hi @goergenj , I think the root dialog is being consulted because you've got the `allow interruptions` flag on for this user input, and there is no trigger that was hit in the child dialog.  There are hopefully some helpful details [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adaptive-dialog-interruptions?view=azure-bot-service-4.0#handling-interruptions-globally).

[2021-05-12 07:53] aparnaji opened #7768 "OAuth Login change in behaviour"
## Describe the bug

When we use OAuth Login card in Bot Composer, Post deployment, it is giving a code to enter into bot, where the text box does not come up in the Bot

## Version

![image](https://user-images.githubusercontent.com/26645750/117930737-e42bc880-b2ed-11eb-9575-2aa273dddb27.png)

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ]

[2021-05-12 07:59] cosmicshuai commented on #7701
![image](https://user-images.githubusercontent.com/17074777/117939663-dea89f80-b33a-11eb-916f-1b75c7b9db2d.png)
I tried to repro this issue by calling luis build several times concurrently. And in my branch of fixing the undefined error, it can displayed the correct error msg from luis portal.

[2021-05-12 08:58] parsalotfy commented on #7728
That means there is no way to convert empty bot created by Composer, to the shape of a bot created by dotnet cli , right ?
I thought I can remove these extra lines in csproj file and remove packages and compare 2 project with each other and remove extra codes...
by the way I think it would be good if these 2 things were similar to each other, however I have no idea what these adaptive stack and sd

[2021-05-12 09:43] luhan2017 commented on #7768
@aparnaji Please just try to input this code as a new message to the bot.

[2021-05-12 10:53] smoothcoder04 commented on #7702
Not sure if this is the right way but was able to resolve this issue using service principal - https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/service-prin-aad-token.
Let me know how you are planning to implement this item.

thanks

[2021-05-12 11:31] goergenj opened #7769 "[MCS-DE] Bot does not start after Composer Upgrade due to Build error"
After upgrading to Composer the upgrade Bot does not start.

![image](https://user-images.githubusercontent.com/31212469/117968178-34268180-b326-11eb-9c37-7866b4d7af4d.png)

Below is the error message:

C:\Users\xxx\Documents\Composer\VoiceBot-Demo-Composer\basebot_new\basebot_new\basebot_new.csproj : warning NU1701: Das Paket "Microsoft.Azure.KeyVault.Core 1.0.0" wurde nicht mit dem Projektzielfr

[2021-05-12 11:36] goergenj commented on #7769
The Migration Process set the runtime to a custom runtime. After turning custom runtime off, the bot starts.

[2021-05-12 12:02] darrenj opened #7770 "Orchestrator package doesn't have a helpful description and no readme"
## Describe the bug

Orchestrator package doesn't have a helpful description and no readme. Description should be clear as to why a developer should consider using the package - e.g. skill dispatch scenarios, multi-intent, etc.

![image](https://user-images.githubusercontent.com/33519520/117960123-98404a00-b314-11eb-99c4-77d396f71d05.png)

View documentation takes you to: https://github.com/Micros

[2021-05-12 12:04] darrenj opened #7771 "Teams package doesn't have a helpful description"
## Describe the bug

Microsoft.Bot.Components.Teams package has this description:

`This library implements .NET support for adaptive dialogs with Microsoft Teams`

Not very accurate, should be more comprehensive and likely along similar lines to `Microsoft.Bot.Components.AdaptiveCards` but more detail as to why I should consider using it:

`Composer triggers and actions for working with Adaptive

[2021-05-12 12:16] vboluarte commented on #5354
You have this in extensions.js/Line 183600 ( more or less):
async function publishLuisToPrediction(name, environment, accessToken, luisSettings, luisResource, path4, logger, runtime)
{
...
...
...
const response = await rp.post(getAccountUri, options)
...
...
...
}
you have to change post to get :

const response = await rp.get(getAccountUri, options)

[2021-05-12 14:09] goergenj commented on #7769
After the migration the Bot is set to runtime and there is no option to turn off the custom runtime:

![image](https://user-images.githubusercontent.com/31212469/117988990-3abff380-b33c-11eb-9e13-c97bb95d1b2b.png)

When I change the appsettings manually from this:

[code]

to this:
[code]

it works. I understood from @garypretty that this should not be possible.

[2021-05-12 14:28] goergenj opened #7772 "[MCS-DE] Telemetry Action migrated to Custom Action by Bot Upgrade process"
When I do the upgrade of my Bot with the 2.0.0 nightly the "Telemetry Track Action" is moved to the Custom Action section and disabled.
![image](https://user-images.githubusercontent.com/31212469/117989493-abffa680-b33c-11eb-9bef-86c63169b9a6.png)

![image](https://user-images.githubusercontent.com/31212469/117989578-bb7eef80-b33c-11eb-95c7-ec7facbd5c7e.png)

After I remove the "disabled" in the c

[2021-05-12 14:30] goergenj opened #7773 "[MCS-DE] Bot needs to be migrated after every open of the Composer"
Every time I open the Composer the Bot Migration wizard starts on already migrated Bots.

![image](https://user-images.githubusercontent.com/31212469/117989493-abffa680-b33c-11eb-9bef-86c63169b9a6.png)

@garypretty

[2021-05-12 14:43] frarin commented on #7744
The main problem was given by the `yarn upgrade` command.

I suggest people with the same problem to start from scratch, and to avoid to upgrade the dependencies.

[2021-05-12 14:43] #7744 closed

[2021-05-12 15:02] sgellock commented on #7771
Shiproom - lets fix this in a patch

[2021-05-12 15:02] sgellock commented on #7770
Shiproom - lets fix this in a patch

[2021-05-12 15:02] boydc2014 commented on #7773
Hi, @goergenj, are you opening up the new migrated bot or the previous old bot?  Migration isn't transforming the bot in place to avoid a permanent damage, so it's in a new location when you config the converting process.

[2021-05-12 15:03] sgellock commented on #7766
Shiproom - @Virtual-Josh which version of JS SDK are you running to repro this?

[2021-05-12 15:28] sgellock commented on #7743
Shiproom - given the complexity and the calendar, we're moving this to a patch release

[2021-05-12 15:29] sgellock commented on #7701
Shiproom - still looking for a reliable repro to understand, moving out to R14

[2021-05-12 15:40] BellaDunnett commented on #7596
Hey @dmvtech I've just given this a go and get the error "line 8:12 - line 8:133 Close } is missing in Expression."
I've attached a screenshot. Please could you take a look and see what's gone wrong?
![Screenshot 2021-05-12 at 16 40 02](https://user-images.githubusercontent.com/53485343/118003732-bcb21b80-b340-11eb-8929-9586673db0db.png)
![Screenshot 2021-05-12 at 16 40 07](https://user-images.git

[2021-05-12 15:43] BellaDunnett commented on #7596
@tdurnford I'm still getting the same error, even with the text field. Though have now added it in to my template :)

[2021-05-12 15:55] anusharavindrar commented on #7596
@BellaDunnett, you need to remove the apostrophe after the braces.
![image](https://user-images.githubusercontent.com/48731427/118006014-8492e480-b310-11eb-831b-dc2ec0a3b186.png)
It should look like this:
![image](https://user-images.githubusercontent.com/48731427/118005713-3e3d8580-b310-11eb-8a50-bc1da7f2d009.png)

[2021-05-12 16:04] goergenj commented on #7773
@boydc2014 The already migrated Bot.

Approach:

1. Open Composer
2. Open old Bot
3. Migrate old Bot and open new migrated copy
4. Fix appsettings which are lost in migration
5. Fix TelemetryTrackAction (see: https://github.com/microsoft/BotFramework-Composer/issues/7772)
6. Fix runtime settings (see: https://github.com/microsoft/BotFramework-Composer/issues/7769)
7. Run migrated Bot locally
8. Cl

[2021-05-12 16:05] #7768 closed

[2021-05-12 16:10] BellaDunnett commented on #7596
@anusharavindrar Just tried, but now have a different error. Have attached a screenshot so let me know your thoughts.
![Uploading Screenshot 2021-05-12 at 17.09.46.png…]()

[2021-05-12 16:10] goergenj commented on #7696
@taicchoumsft If I get you correctly this would mean I need to maintain manually in all child LUIS files all the Intents from the main dialog LUIS as well. This is not a feasible approach for maintaining and extending the Bots.

If that is the case, the composer should do an automatic reference to the root LU-File to automatically add these utterances in the child LU-Files similar to how it is don

[2021-05-12 16:12] BellaDunnett commented on #7596
@anusharavindrar Just tried, but now have a different error. Have attached a screenshot so let me know your thoughts.
![Screenshot 2021-05-12 at 17 09 46](https://user-images.githubusercontent.com/53485343/118008725-4237ca80-b345-11eb-8bc3-a3cb430ebd01.png)

[2021-05-12 16:22] anusharavindrar commented on #7596
@BellaDunnett, can you try removing the `Text` from the CardAction property ? You are adding the property in the CardAction, but not specifying it in the testTemplate2.
![image](https://user-images.githubusercontent.com/48731427/118009730-edc82700-b313-11eb-828c-5c63461b491e.png)
I tried using the same template which you sent(just added the json part) and did not get any error. Can you try the bel

[2021-05-12 16:40] joshgummersall commented on #7766
JS issue was related to bad configuration passed to a skill credential provider (https://github.com/microsoft/botbuilder-js/issues/3674). I've got a fix ready.

[2021-05-12 16:43] sgellock commented on #7766
Shiproom - core P0 scenario - approved

[2021-05-12 17:05] anusharavindrar commented on #7596
@BellaDunnett ,can you try this template?
![image](https://user-images.githubusercontent.com/48731427/118015671-28cd5900-b31a-11eb-8c00-7b9a44087c01.png)

[2021-05-12 17:26] tonyanziano commented on #7710
@thomas-chung the Emulator and Composer are on different major versions. Which version of the **Emulator** are you using?