[2021-07-08 19:02] KoradaRajesh commented on #8292
@a-b-r-o-w-n Yes, exactly I want to disable the Luis spell check from a dialog action with in the flow.

[2021-07-08 19:32] victorlamana commented on #8283
OK :) I'll try again with the nightly build later today

[2021-07-08 20:00] #7626 closed

[2021-07-08 20:03] #8287 closed

[2021-07-08 20:51] victorlamana commented on #8255
hello @dmvtech thanks for the explanation! :)

Could you please send a link for the documentation where it talks about training AI within Composer? I didn't find it. The only thing I managed to find was how to create the expected responses, is it something beyond this functionality?

![image](https://user-images.githubusercontent.com/52974336/124989113-2be07f00-e015-11eb-9919-8329cd2ea415.png)

[2021-07-08 21:45] chrimc62 opened #8298 "LU intellisense for entities is not smart enough"
## Describe the bug

When getting LU intellisense, the prompts are wrong in a couple of ways:
1) Phrase lists are not entities and should not be shown as such.
2) Hierarchy is not respected which makes for a confusing labeling experience.

## Version

Version:  2.0.0-nightly.257298.f833d8e
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

Steps to re

[2021-07-08 23:58] dmvtech commented on #8022
@Jin825 Are you able to do any of the above as suggested by Srinaath?

[2021-07-09 00:26] lauren-mills opened #8303 "When provisioning any bot through Composer, MicrosoftAppPw is not saved in profile"
## Describe the bug
When I provisioned my Azure Functions resources through the Composer provisioning flow, I saw that the app password was not included in my created publishing profile. Even after providing the pw in the profile and appsettings, I was getting authentication errors until I provided it manually in the Azure Functions resource settings in Azure here:

![image](https://user-images.gi

[2021-07-09 02:17] stevkan commented on #8060
Closing due to inactivity. If the issue persists, please feel free to reopen.

[2021-07-09 02:18] #8060 closed

[2021-07-09 13:08] ysnoek2 commented on #8071
@dmvtech Yes, i gave you access to the repository

[2021-07-09 15:09] benbrown commented on #7783
The fix for this has just merged into main!

[2021-07-09 15:09] #7783 closed

[2021-07-09 15:36] #7028 closed

[2021-07-09 17:46] joshgummersall commented on #8303
I saw this with both functions and web apps just now.

[2021-07-09 18:04] davidpp commented on #8283
Hi!

We just hit a similar issue trying to provision resources from Composer V2 into a customer resource group.  That customer also use 2FA where we do not.

Error:

App create failed after 3 retries. Error: Request failed with status code 403" --> The status code 403 error is the only difference between a regular build and the nightly one.

{\"name\":\"CREATE_APP_REGISTRATION\",\"message\":\"App

[2021-07-09 20:34] GeoffCoxMSFT commented on #6775
Discovered we need to filter by project ID for the required LUIS or QnA so reactivating this as the issue for making and update PR.

[2021-07-09 20:43] Stevenic opened #8309 "Delete Activity UI Schema error"
The UI schema for the Delete Activity action shows that it's assigning an Activity Id to the passed in property. This looks like a copy paste error from Send Activity as there's no assignment going on with this action.  We should update the schema to remove the trailing "= Activity Id"

![image](https://user-images.githubusercontent.com/698939/125133859-56851300-e0bb-11eb-87e8-1b49671e95c8.png)

[2021-07-09 20:46] Stevenic commented on #3394
Closing based on @tonyanziano comment

[2021-07-09 20:46] #3394 closed

[2021-07-09 20:50] #8295 closed

[2021-07-09 20:51] Stevenic opened #8310 "3rd party triggers don't get pretty display names"
When you add a 3rd party trigger to your bot it adds the component name to the tree instead of the pretty name. I've tried several different 3rd party packages and they all have the same issue.

![image](https://user-images.githubusercontent.com/698939/125134726-b03a0d00-e0bc-11eb-8f78-a2fe3acbad2a.png)

[2021-07-09 20:55] Stevenic opened #8311 "Removing input from a dialog interface always removes the last entry"
You can't remove input definitions from a dialog interface that are in the middle... Anytime "Remove" is clicked it always removes the last entry.

![image](https://user-images.githubusercontent.com/698939/125135067-42421580-e0bd-11eb-8efc-b58d38ed2c00.png)

[2021-07-09 22:47] #8294 closed

[2021-07-09 23:42] dmvtech commented on #8071
Thank you. I was able to confirm this is a known bug and being tracked here:
https://github.com/microsoft/botbuilder-dotnet/issues/5757

I am closing this as the issue is identified. Please keep an eye out on the bug linked for resolution.

[2021-07-09 23:42] #8071 closed

[2021-07-10 02:38] #8303 closed

[2021-07-10 11:54] jolo1000 opened #8317 "Bot on localhost:3993 not working, error message: timeout"
## Describe the bug

Bot on localhost:3993 not working, error message: timeout

## Version
Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## OS

- [x ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Install:
- Bot Framework Composer 2.0.0 for OSX
- Dot net framework SDK ver. 3.1.410 for
- OSX is Mojave 10.14.6

[2021-07-11 03:56] hcyang commented on #8292
Hi @KoradaRajesh, here is the LUIS documentation (https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-bing-spellcheck) on enabling Bing Spell check during authoring or runtime endpoint.
Furthermore, here is the LUIS programmatic API on enabling and disable spell-check: https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5ae32174d5b8

[2021-07-11 03:57] #8292 closed

[2021-07-11 17:16] tamasschmolcz opened #8318 "Dialog stops, when using 2 multiple-choices one after the other"
## Describe the bug

When creation a dialogue with 2 multi-choices following one after the other, I get not to the second multi-choice. Flow stops immediately after multi-choice 1. When using the dialog in the power virtual agent- PVA states "Object reference not set to an instance of an object."

## Version

2.0.0-nightly.258070.287a4dc

## Browser

- [X] Edge

## OS

Windows 10

## To Reproduce

[2021-07-12 06:58] #8318 closed

[2021-07-12 06:58] tamasschmolcz commented on #8318
scope issue of the variable...misunderstanding from my side

[2021-07-12 11:08] victorlamana commented on #8283
Hello! This is the error I get on the nightly build:

`{"name":"CREATE_APP_REGISTRATION","message":"App create failed! Please file an issue on Github.","stack":"Error\n at new CustomizeError (C:\\Program Files\\Bot Framework Composer\\resources\\app.asar.unpacked\\extensions\\azurePublish\\dist\\extension.js:224307:25)\n at createCustomizeError (C:\\Program Files\\Bot Framework Composer\\resources

[2021-07-12 15:02] tamasschmolcz opened #8319 "Publish PVA causes issue, when using Switch Option (multiple options) in a dialog"
## Describe the bug

As soon as add at least one Case in "Branch: Switch" - Option in the dialog, I'll get the publish error "Publish failed. Plase check logs". Without a case publishing is successfully. Tried several case values with "" or '' or without.

Unfortunately I cannot find any local log files in the directory file to troubleshoot.
## Version

2.0.0.0

## Browser

- [X] Edge

## OS

[X]

[2021-07-12 15:47] #8057 closed

[2021-07-12 16:11] GeoffCoxMSFT commented on #8066
The extension on the node side only has the logger, not the telemetry client.  We'll need to add the telemetry client to be usable on the node side of extensions before we can add server-side telemetry to provisioning and publishing.  This was a P0 for R13, but we fixed the issue that was causing insufficient error information to be returned, so now this is a lower priority need.

[2021-07-12 18:15] tonyanziano commented on #8319
Hello @tamasschmolcz ,

If you go to the "Publish" page of Composer, after your publish fails, do you see an error message in the "Message" column?

![image](https://user-images.githubusercontent.com/3452012/125336310-7a866580-e302-11eb-823d-a2d9962ad3c0.png)

[2021-07-12 18:27] hatpick opened #8322 "Inconsistent avatar colors"
## Describe the bug

Azure publish dialog shows a color based on user initials for avatar.
Central authentication (on header) has a fixed dark color.

![Screen Shot 2021-07-07 at 10 28 31 AM](https://user-images.githubusercontent.com/1483492/125337629-182e6480-e304-11eb-8c17-a43642bed521.png)

![Screen Shot 2021-07-12 at 11 05 54 AM](https://user-images.githubusercontent.com/1483492/125337632-18c6

[2021-07-12 18:27] hatpick commented on #8322
@emivers8 FYI

[2021-07-12 18:28] scheyal opened #8323 "QnAMaker dialog: Load from file UI confusion"
## Issue
UI suggests that I can load from a local file but entrybox suggests entering a URL and no way to invoke local file selection (i.e. in windows file explorer). At this stage, user is left with "how do I load my local file?"

## Visual

![image](https://user-images.githubusercontent.com/8867670/125337647-1d8baf00-e304-11eb-8a02-f7b0473b201e.png)

[2021-07-12 18:33] tamasschmolcz commented on #8319
Hi @tonyanziano , no - just "the publishing failed as stated"-message as stated above.

Meanwhile I could fix the issue by deleting the Bot directory and re-download the PVA bot + inserting the modifcations again.

However, I would be curious where I could find the logfile for the next issue I encounter.. :-)

[2021-07-12 18:54] flavio-neves commented on #8283
Hi guys,

This error is due to lack of Azure AD permission to create the App itself. You need to add your account into "Application developer" or "Application administrator".

The Composer console will try to create an Azure AD, App in Registration tab, as you may see on my screenshot.

![image](https://user-images.githubusercontent.com/35963484/125340914-686bed80-e329-11eb-88b0-3f3efa582823.png)

[2021-07-12 19:26] srinaath commented on #8186
@jnair7291 Could you confirm if you are not able to reproduce the error once you add a qna pair to your knowledge base.

[2021-07-12 19:39] scheyal opened #8326 "QnAMaker Core Template: Error when adding KB manually from link"
## Scenario
1. Create QnACore template dialog
2. Specify inaccessible URL (creation proceeds, ends with error - see visual)
3. Create KB manually from (what appears to be valid URL for a .pdf) - No errors
4. Run
5. ==> Hit the error per visual ##2

## Visuals

### Error during initial creation

![image](https://user-images.githubusercontent.com/8867670/125345975-0baf0980-e30e-11eb-888c-1016a7669d6

[2021-07-12 19:40] scheyal commented on #8326
Version:
Version:  2.0.0-nightly.258070.287a4dc
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-07-12 19:40] scheyal commented on #8323
Version:

Version:  2.0.0-nightly.258070.287a4dc
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-07-12 19:41] scheyal commented on #8326
URL for second step:

[2021-07-12 19:50] scheyal commented on #8326
More debug spew:

![image](https://user-images.githubusercontent.com/8867670/125347416-bd026f00-e30f-11eb-943d-d09320f34e63.png)

[2021-07-12 19:51] scheyal commented on #8326
(Oh, yeah it is node.js bot)

[2021-07-12 20:13] Stevenic opened #8327 "Dialog description should be added as a note"
The description added when creating a new dialog should get promoted to being the dialogs note.  I personally never fill this field in because it doesn't show up anywhere. Now that we have notes there's a place for it in the UX.

![image](https://user-images.githubusercontent.com/698939/125349636-a27dc500-e312-11eb-9927-f4a261796d96.png)

![image](https://user-images.githubusercontent.com/698939/1

[2021-07-12 20:16] Stevenic opened #8328 "Allow multi-line notes"
I was expecting that I'd have the ability to create multi-line comments. :(

![image](https://user-images.githubusercontent.com/698939/125350197-4a938e00-e313-11eb-8bf8-461ff40a0256.png)

[2021-07-12 20:17] hatpick opened #8329 "Yarn test is not running tests under lib/indexers package"
## Describe the bug

Yarn test is not running tests under lib/indexers package

[2021-07-12 20:23] tsuwandy opened #8330 "In the default window size (not maximized), user can't see the drop down for selecting Runtime type"
Actual:
![image](https://user-images.githubusercontent.com/10739108/125350915-49169580-e314-11eb-97ff-68598c4573a4.png)

Expected:
See the drop down in the default window size

[2021-07-12 20:24] Stevenic commented on #8328
Ok it's just weird that if I type enough text the note edit box turns into a multi-line input... I'm fine with that behavior but there's a bug that pressing \<enter> while in single-line mode doesn't immediately expand to multi-line mode. You have to type a bunch of characters before it goes to multi-line 

![](https://user-images.githubusercontent.com/698939/125350857-3734f280-e314-11eb-9dd2-2a76

[2021-07-12 20:28] Stevenic opened #8331 "Notes: text wrap issue when pressing "show more""
Really long note text doesn't wrap properly when pressing "show more"

![image](https://user-images.githubusercontent.com/698939/125351444-f12c5e80-e314-11eb-9dad-329768bf9b93.png)

[2021-07-12 20:30] gabog opened #8332 "Inserting text into the Skill host endpoint URL textbox jumps to the end of the box"
Version:  2.0.0-nightly.258070.287a4dc
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

1. Go to settings->skll configuration
2. With the mouse, click somewhere in the middle of the text box to set the insertion point there:
![image](https://user-images.githubusercontent.com/12264946/125351601-4759cb80-e32e-11eb-81bd-01ea07a3a0b2.png)
3. Try to type something and th

[2021-07-12 20:32] Stevenic opened #8333 "Notes: line breaks are preserved when showing comments on canvas but not on flyout"
![image](https://user-images.githubusercontent.com/698939/125351923-8891b180-e315-11eb-9847-f1f59a4420af.png)

[2021-07-12 20:39] Stevenic opened #8334 "Notes: multi-line comments result in invalid JSON"
The JSON below is not only truncating the comment at the line break but its also missing the closing double quote "

![image](https://user-images.githubusercontent.com/698939/125352500-343b0180-e316-11eb-83b7-60f1ab21254c.png)

[2021-07-12 20:41] gabog opened #8335 "Connecting to a skill should not add the appId of the skill to the allowed callers list"
## Describe the bug

The AppIDs of skills consumed by a bot are implicitly trusted by the runtime (this change went into the 4.14.x of the runtime) so it doesn't need to be added to the allowed lists.

## Version

Version:  2.0.0-nightly.258070.287a4dc
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

St

[2021-07-12 20:41] scheyal opened #8336 "Watch variable not showing value"
## Scenario
1. Add watch variable to a simple empty bot (Node.js)
2. Prompt and echo variable's value to verify it is filled
3. Watch pane doesn't show value (not available)

_remark_: I may be doing something wrong, but wanted first to go to what I felt is the intuitive expectation to see value when I run it.

## visual

### Webchat

![image](https://user-images.githubusercontent.com/8867670/1253

[2021-07-12 20:42] Stevenic commented on #8334
Just an issue with the editor....

[2021-07-12 20:42] #8334 closed

[2021-07-12 20:44] a-b-r-o-w-n commented on #8331
@Stevenic this only happens when actively pressing the show more / less button?

[2021-07-12 20:44] BruceHaley opened #8337 "Missing link on the Composer welcome screen"
Repro:

Download and run BotFramework-Composer-2.0.0-nightly.258070.287a4dc-windows-setup.exe.
Displayed on the first screen is "Welcome to Bot Framework Composer".
Also displayed is "Open the product tour to learn about Bot Framework Composer or create a new bot".
"create a new bot" is a link.

Expected: A link for "Open the product tour".
Actual: Can't find any link to something called "product

[2021-07-12 20:45] EricDahlvang opened #8338 "Importing the manifest should validate the endpoint url"
## Describe the bug
The endpoint url is a required field for the Skill to function.

Example:
[missingendpointurl.zip](https://github.com/microsoft/BotFramework-Composer/files/6804270/missingendpointurl.zip)

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the

[2021-07-12 20:45] tonyanziano commented on #8319
@tamasschmolcz glad to hear you got around the issue!

To see the logs, you actually need to make sure that Composer is wide enough to display a button in the publish UI that will show more information about each publish job:

![image](https://user-images.githubusercontent.com/3452012/125353281-305baf00-e317-11eb-8309-e747590eb4a5.png)

![image](https://user-images.githubusercontent.com/3452012/12

[2021-07-12 20:46] beyackle opened #8339 "Problems with form-dialog property box"
## Expected behavior

There should be explicit confirm/cancel buttons of some kind instead of trusting a user to discover that clicking outside the box confirms it and the only way to "cancel" addition of a property is to confirm it, then find "Delete" in the kebab menu.

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/125352925-bcb9a200-e316-11eb-89fc-0b59b6ee7bce.png)

[2021-07-12 20:49] a-b-r-o-w-n commented on #8310
@Stevenic The component author can provide a ui schema to set this name. I believe this has been shipped with the latest packages. Can you try with the latest package (1.1.0)?

[2021-07-12 20:50] beyackle opened #8340 "Form dialog Money type dropdown is clumsy"
## Expected behavior

Currencies should have unambiguous names (e.g. `US Dollar (USD)` instead of just ` Dollar` in the middle of other currencies all named "dollar"). Also, more-commonly-used currencies (USD, yen, euro, etc.) should probably be at the top.

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/125353746-cb548900-e317-11eb-89e2-e9102ced89e9.png)

[2021-07-12 20:51] VamsiModem opened #8341 "Add a loading shimmer to subscriptions dropdown in azurePublish extension"
At times, Subscriptions dropdown takes too long to populate the dropdown, it would be nice to show the loading state.

[2021-07-12 20:51] Stevenic opened #8342 "Dialog deletion warning shows "undefined" when removing a dialog without any callers"
I created 2 test dialogs with the same content and when I went to remove them I got the deletion warning but the dialog names for both is "undefined". Attempting to delete other dialogs in my project show the correct name so I'm not sure why these are different:

![image](https://user-images.githubusercontent.com/698939/125353937-09ea4380-e318-11eb-8245-46d1d3a403ee.png)

Here's the source:

[code

[2021-07-12 20:52] beyackle opened #8343 "Form dialog date/time property has mysterious blank field"
## Expected behavior

Every field should be labeled; even the tooltip here is nonfunctional. Date, Time, and "Date and Time" all have this behavior.

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/125354119-45850d80-e318-11eb-91f7-28446ddd69fa.png)

[2021-07-12 20:54] mewa1024 opened #8345 "Problems pane defaults settings should be to show both errors and warning and all bots"
## Describe the bug

The Problems pane should be not remember settings when you switch bots. It should reset to show all errors, all warnings, and for all bots each time you open a bot in Composer.

## Version

2.0.0-nightly.258070.287a4dc

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Ste

[2021-07-12 20:55] Stevenic commented on #8342
Got it... That's actually the list of other dialogs calling the current dialog. So the issue is we're showing "undefined" whenever there aren't any dialogs calling the one being removed.

[2021-07-12 20:55] beyackle opened #8346 "Form dialog has mysterious "dynamiclist" property type"
Every other entry in the list of types has a tooltip with a short helpful description, but `dynamiclist` sticks out as an all-lowercase entry of run-together words with a tooltip (that I couldn't capture in a screenshot) that just reads "dynamiclist".

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/125354407-9d237900-e318-11eb-98d2-312f829628a7.png)

[2021-07-12 20:57] Stevenic commented on #8331
@a-b-r-o-w-n  yes

[2021-07-12 20:58] Stevenic commented on #8331
Although I haven't tried with just a single comment that's a long string of text

[2021-07-12 20:58] gabog opened #8347 "Manifest version in exporting as a skill should be 2.2"
As part of R14, we added support for relative files in skill manifests 2.2, the default version should be 2.2
![image](https://user-images.githubusercontent.com/12264946/125354943-678b8980-e332-11eb-9b8a-210a5b74d6dc.png)

And the schema in the generated manifest should be 2.2
![image](https://user-images.githubusercontent.com/12264946/125354649-0bc10080-e332-11eb-8bee-22c0a41fe171.png)

[2021-07-12 20:58] beyackle opened #8348 "Form dialog enum: can't delete synonyms"
## Expected behavior

Clicking the X should remove an enum synonym from the list, but instead nothing happens.

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/125354825-1f13a200-e319-11eb-82ad-f9904db3e833.png)

[2021-07-12 21:00] Stevenic commented on #8331
You don't even get the "Show More" unless there's multiple tokens or line breaks

![](https://user-images.githubusercontent.com/698939/125355171-8c273780-e319-11eb-8b28-1e76864cc997.png)

[2021-07-12 21:01] BruceHaley opened #8350 "[R14 bugbash] Typo in Select a template"
Repro:
In Composer, click "Create new". "Select a template" popup is displayed.
Click "Core Bot with QnA maker".

Under "Included capabilities", "knowled gebase" should be "knowledgebase".

[2021-07-12 21:04] beyackle opened #8351 "Form dialog "number" type can't have non-integer min/max"
## Expected behavior

There are two numeric types in the form dialog - integer, where it makes sense to disallow decimals, and then number which I would assume includes fractions. It won't accept typing in a non-integer value for a bound, though.

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/125355431-e6c09380-e319-11eb-8749-4c6312b25db7.png)
The next keystroke (a `5

[2021-07-12 21:05] flavio-neves commented on #8051
Hi guys,

This is a problem with Emulator installation, uninstall it and when installing back, choose "only for me" option.

Test with Win +R and write: bfemulator:// and Enter.

[2021-07-12 21:09] gabog opened #8352 "The version of the bot property should be used in the manifest path, not the skill manifest version"
When I create a manifest for my bot, the **manifest version** is used in the path of the generated manifest URL,, we should probably use the bot version, not the manifest version for this.

The manifest version is implicit in the $schema attribute of the manifest file.

If I try to generate a manifest based on these options:
![image](https://user-images.githubusercontent.com/12264946/125355457-120

[2021-07-12 21:12] beyackle opened #8353 "Form dialog for temperature has unusual/obsolete units and bad tooltips"
## Expected behavior

The usual C and F should be there, and maybe K and R can stay, but I have my doubts anyone is going to ask a chatbot to specify a temperature in Delisle degrees (which I had to figure out on my own because these entries just have the letters themselves as tooltips without telling what they stand for).

## Screenshots

![image](https://user-images.githubusercontent.com/6199092

[2021-07-12 21:13] gabog opened #8354 "A composer bot can't be a skill and a skill consumer"
The current runtime doesn't support a composer bot being a skill and a skill consumer.

- If a bot is connected to a skill, then export as a skill should be grayed out
- If a bot has allowed callers configured then it is assumed to be a skill and Connect to a skill should be grayed out

[2021-07-12 21:22] Stevenic opened #8356 "watch: I can't always watch complex objects"
I can watch properties of a complex object (in this case dialog.result.name) but I can't always watch a whole object. In fact the intelisense picker won't even let me select a root object:

![image](https://user-images.githubusercontent.com/698939/125357375-6b141600-e31c-11eb-888a-b0eaa2a7cffd.png)

[2021-07-12 21:24] Stevenic commented on #8356
This is after completing that run... So I was able to inspect `user.profile` but not `dialog.result`.

![](https://user-images.githubusercontent.com/698939/125357738-e07fe680-e31c-11eb-906d-7a5f6397c6c0.png)

[2021-07-12 21:26] gabog opened #8357 "Generated skill manifest contains non-existing event"
## Describe the bug

I generated a skill manifest for an empty bot and noticed the manifest contains a "Empty event" and there are no events declared for my bot

[code]
## Version

Version:  2.0.0-nightly.258070.287a4dc
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

Steps to reproduce the behavior:

1. Create a bot using the empty template
2. Conf

[2021-07-12 21:40] beyackle opened #8358 "Form dialog: Exported JSON has strange name"
## Expected behavior

I'd expect a filename like `Art.json` or `Art.form.json`, not `Art..form`. I see that the imported ones are expecting a `.form` extension, but it's a little weird to click "Export JSON" and apparently not get a JSON file out (even though the contents of the file are fine).

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/125359320-f393b600-e31e-11e

[2021-07-12 21:41] #8319 closed

[2021-07-12 21:42] beyackle commented on #8351
A followup: exporting the form as JSON, editing the field, and re-importing it works fine, but then trying to edit the value at all runs into the same "integers only" problem. Trying to change an imported `9.99` to `9.95` just pinned it at `9`.

[2021-07-12 21:43] Stevenic opened #8359 "watch: "user." drops from intelisense menu"
I had a "user." entry on the watch panels intelisense menu but then it dropped off after I restarted the bot:

![image](https://user-images.githubusercontent.com/698939/125359584-59803d80-e31f-11eb-90ba-e6dd82d0fb14.png)

[2021-07-12 21:50] BruceHaley opened #8361 "[R14 bugbash] Resizing the Composer window gets ResizeObserver loop limit exceeded"
Resizing Composer from full screen, I got a popup saying "ResizeObserver loop ..." ... "ResizeObserver loop limit exceeded".

What I did:
Composer was on its "Home" page.
The window was maximized on my computer screen.
I moved it over to my external monitor. It maximized itself.
I clicked the resize button in top right corner. Error occurred.

[2021-07-12 21:57] Stevenic opened #8362 "watch: panel crashes when watching a variable name used in multiple dialogs"
I created a test bot with two dialogs. The first dialog has 2 inputs that save their results to `dialog.result.name` and `dialog.result.age`. After collecting those inputs the first dialog calls a second dialog which has 2 inputs that save their results to `dialog.result.name` and `dialog.result.years`. The output gets saved to a `dialog.result.company` property by the first dialog.

Everything go

[2021-07-12 22:04] Stevenic opened #8363 "watch: BeginDialog result properties not added to watch panel intelisense menu"
My dialog flow has a steps that call a couple of inputs and then one which calls a nested dialog and saves the output of that to a property... When showing the watch panels intelisense picker, I see the properties bound to all of my inputs but not the one bound to my BeginDialog call:

![image](https://user-images.githubusercontent.com/698939/125361650-723e2280-e322-11eb-86ca-a894f80722c4.png)

[2021-07-12 22:08] mewa1024 opened #8365 "Web Chat log opens when you click on a card, making it difficult to use Watch"
## Describe the bug

When you click on a message, the Web Chat log was designed to show you the log item that corresponds to that message. This can cause problems if you are watching a conversation with cards: if your Watch pivot is selected, when you click on a button or element in a card, the Web Chat pivot becomes selected so the Watch pivot is hidden.

## Version

2.0.0-nightly.258070.287a4dc

[2021-07-12 22:11] mewa1024 commented on #8365
@srinaath @tonyanziano Are the two fixes suggested in the Expected Behavior doable?

[2021-07-12 22:21] BruceHaley opened #8366 "[R14 bugbash] Web Chat test of new Enterprise People Bot Template bot gets "Unauthorized""
Could this be a related issue? https://github.com/microsoft/BotFramework-Composer/issues/8052

Repro:
I clicked "Create new bot".
Selected the Enterprise People Bot template.
Went through the LUIS setup steps.
Started the bot.
Testing in Web Chat got "Operation returned an invalid status code ‘Unauthorized’".

The error happened during or after EnterprisePeople_.AuthenticationDialog.BeginDialog.

[2021-07-12 22:27] clearab opened #8367 "Access token expiry error message"
## Describe the bug

When switching to the "create" tab, I receive an error like

[code]

## Version

Bugbash nightly

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open a bot in Composer
2. Login (I think this is required)
3. Navigate away from the "Cr

[2021-07-12 22:31] mewa1024 commented on #8367
I also got this error right after creating a new bot with the Empty bot template.

[2021-07-12 22:35] srinaath commented on #8336
@scheyal The way traces are working currently, the BotState trace exposes the dialog information only if it has more than 1 prompt. The Watch feature currently implemented is more of a passive watch, in the sense that we rely on what the latest botstate trace has. What is happening here is the code in the dialog is completely run and the dialog context is popped out of the stack by the time trace

[2021-07-12 22:35] scheyal opened #8368 "Unexpected error: Cannot read property ‘startsWith’ of undefined"
## setup
* simple node.js empty bot
* add qna kb's luis dialog, orchestrator on top
* few simple language intents, triggers

## repro
Hit the duplicated intent recognized condition and then that error showed up (see visual below)

## visual

## error in emulator

![image](https://user-images.githubusercontent.com/8867670/125363836-39a04800-e326-11eb-932e-ff599c3d4c1d.png)

## bot general structure

[2021-07-12 22:44] #8341 closed

[2021-07-12 22:55] xiyangdesign commented on #8336
+1 on what @scheyal described, although it showed undefined, instead of "not available"

[2021-07-12 23:12] anusharavindrar commented on #8317
@jolo1000, do you get the above warning in the output window or as a pop-up when you start the bot? Can you attach a screenshot of the error message? Also, do you get the same error for every other template? I tried to create an empty bot on Composer 2.0.0 on MacOS and when I start the bot, the status shows "Running" and I am able to test on the Emulator and Web Chat, except that I get the above w

[2021-07-12 23:52] scheyal opened #8369 "Condition logic for QnAMaker trigger is reversed"
## Setup
* Bot:
 - with QnAMaker KB, intent trigger, Orchestrator at root, luis child dialog, a few more triggers (see visual)
 - QnA intent trigger has a condition based on turn.recognized.score > 0.xx

## Repro
1. Nav to child dialog
2. enter an utterance at child that triggers _Interruption and handling by cross-training on top dialog

## Results
* If score < 0.xx trigger fires (e.g. false allo

[2021-07-12 23:53] mdrichardson opened #8370 "Bot's Windows process not closed when Composer is closed"
Related? https://github.com/microsoft/BotFramework-Composer/issues/7157

## Describe the bug

Bot `.exe` process doesn't close when Composer does.

## Version

Version:  2.0.0-nightly.258070.287a4dc
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Start bot
2. Note i

[2021-07-13 00:01] srinaath commented on #8323
@scheyal  we are updating the copy here now.

[2021-07-13 00:06] mewa1024 opened #8371 "List entities should appear in the "Insert entity" dropdown along with prebuilt entities and have the same interactions"
## Describe the bug

When you create new list entity (either with the new UI or by the .lu syntax), the list entity should appear in the "Insert entity" dropdown along with prebuilt entities. Otherwise, the user might try to label with the entity, which causes a blocking error.

## Version

2.0.0-nightly.258070.287a4dc

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefo

[2021-07-13 02:33] luhan2017 commented on #8357
This is a known issue for R14, @vivekkshankar had a proposal to disable the dialog selection page, but we didn't get a conclusion yet. @cwhitten, Do we want to fix it in R14?

[2021-07-13 02:57] gary-x0pa commented on #3286
Hello may I know how to do this in botframework composer 2.0.0? I tried adding the blob storage to my settings.json do i need to modify my `startup.cs` file as well?

[2021-07-13 02:59] vivekkshankar commented on #8328
@Stevenic Nice catch. We are using an off the shelf fluent control for multiline input and this is the behavior it comes with.
https://developer.microsoft.com/en-us/fluentui#/controls/web/textfield (Multi line auto expand)

We could replace this control with other an auto height adjust control but I dont think we still get the enter to expand field functionality. Also, we need to check if we can r

[2021-07-13 03:03] vivekkshankar commented on #8335
@gabog This is good for the overall skills expeirence. Just to clarify are we saying that allowed callers only need to be configured for skills and the not the parent bot calling the skill ?

[2021-07-13 03:05] vivekkshankar commented on #8327
+1 Thats a great idea and I think we can use the note to show this.

[2021-07-13 03:09] vivekkshankar commented on #8323
Recommended text:

**Text in radio selection:** "Create new knowledge base from URL"
**Text in description**: "Select this option if you want to create a knowledge base from content hosted online such as an FAQ or document link (.csv, .xls or .doc format)"

@srinaath @boydc2014 @zhixzhan

[2021-07-13 03:17] vivekkshankar commented on #8340
Agree that the names should be unambiguous. I don't think we can assume which currencies are more used than others since that depends on the customer and the intended geo of their end user. Just my 2 cents.

[2021-07-13 03:55] gabog commented on #8335
That's correct @vivekkshankar, [this PR](https://github.com/microsoft/botbuilder-dotnet/pull/5684) by @LeeParrishMSFT, adds an AllowedSkillsClaimsValidator that will automatically "trusts" any skill connected to the host bot, it basically pulls the list from the list of configured skills. This takes precedence over any allowed callers configured.

Based on the current implementation of the runtime

[2021-07-13 04:11] #8329 closed

[2021-07-13 04:16] gabog opened #8374 "Switching active language doesn't update trigger phrase window"
## Describe the bug

Switching the active language on a multilanguage doesn't seem to update the trigger phreases window

## Version

Version:  2.0.0-nightly.258070.287a4dc
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create an empty bot and configure it to suppo

[2021-07-13 05:23] Sakyawira commented on #2695
I still cannot get this working btw. I am on 2.0
![image](https://user-images.githubusercontent.com/41171000/125395192-f7970500-e3fe-11eb-8fcb-860d7ed1dbea.png)
![image](https://user-images.githubusercontent.com/41171000/125395230-054c8a80-e3ff-11eb-9187-3efe45bdda35.png)

[2021-07-13 05:44] jnair7291 commented on #8186
@srinaath  the error still persists. I have switched to bot framework sdk development since I could not get a reason for not hitting my qna kb. But with bot sdk, it is working fine. do you want me to look into details or follow any steps? (other than what has been mentioned , here and with the previous thread)

[2021-07-13 05:48] srinaath commented on #8374
Im able to repro this as well. Marking it a P0.

[2021-07-13 05:57] Sakyawira opened #8375 "HTTPS request's url takes my property as literal string instead of its value"
## Describe the bug

## Version

2.0

## Browser

- [ ] Chrome
But I am using the .exe version of composer

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to any dialog
2. Create a property called user.anime and set it to "naruto"
3. create and https request node
4. on the url , pass in https://animechan.vercel.app/api/quotes/anime?title=${user.anime}
5. at the emul

[2021-07-13 06:00] tamasschmolcz commented on #8319
@tonyanziano Thanks, I totally overlooked it!

[2021-07-13 06:17] #8375 closed

[2021-07-13 06:26] tamasschmolcz opened #8376 "[PVA] Error during handover between composer dialoges"
Hello,

I try to start from a existing composer dialog to an other composer dialog within a PVA environment and get the error message below.

I try to understand what value is meant, as the dialog, I want to transfer to, does not require any pre-filled values. Thanks in advance!

Error message:

Sorry, the bot can't talk for a while. It is something that the owner of the bot needs to address. Erro

[2021-07-13 08:25] geo-msft opened #8379 "Failed to bind LUIS prediction resource when publishing bot from composer desktop 2.0"
## Describe the bug

After creating a new publish profile with new resources, then publish the bot from Composer desktop 2.0, the publish fails with the error *fail to bind LUIS prediction resource to LUIS applications*.

## Version

![image](https://user-images.githubusercontent.com/57954688/125417563-334fc7fb-3c85-4341-9de2-39db1e3afe10.png)

## Browser

No browser, just composer desktop 2.0.

-

[2021-07-13 10:30] SSanjeevi commented on #6482
Refer to this comment - it fixes the issue for me:
https://github.com/microsoft/BotFramework-Composer/issues/5354#issuecomment-747150353

[2021-07-13 10:31] SSanjeevi commented on #7087
Refer to this comment - it fixes the issue for me for v2.0.0:
https://github.com/microsoft/BotFramework-Composer/issues/5354#issuecomment-747150353

[2021-07-13 10:38] SSanjeevi commented on #7087
@GeoffCoxMSFT  - Am also facing this issue in v2.0.0 of composer.

I have created the azure resources and used existing resources feature to fill in the keys.

Am getting this error:
The error message is: Error - Failed to bind luis prediction resource to luis applications. Please check if your luisResource is set to luis prediction service name in your publish profile."

[2021-07-13 15:40] #7740 closed

[2021-07-13 15:42] GeoffCoxMSFT commented on #8028
@benbrown Is this already fixed in R14 with your tenant/auth improvements?

[2021-07-13 15:51] srinaath commented on #8186
@jnair7291 Is it possible for you to zip up the bot assets?
In addition, following are steps to try
1. Could you provide info around the Composer version you are using, Operating System.
2. If you are on a previous version of Composer could you check if running on the latest version resolves the issue?
3. Could you check if the qnmaker.ai portal the knowledge base that would have been published wh

[2021-07-13 15:51] benbrown commented on #8028
I'm not sure @GeoffCoxMSFT

[2021-07-13 16:38] benbrown commented on #8367
@clearab @mewa1024 did this happen after several hours of use?

[2021-07-13 16:41] mewa1024 commented on #8367
I updated to the nightly at the start of the bug bash and then saw the error within the first hour of use. I can't remember if I closed it before updating.

[2021-07-13 16:41] srinaath commented on #8376
We are looking to get a repro @tamasschmolcz

[2021-07-13 16:42] benbrown commented on #8367
INTERESTING, so this didn't happen after using the new auth system? Perhaps there was an older token from prior use in your app cache.

[2021-07-13 16:44] tamasschmolcz commented on #8376
@srinaath Is there any further action from my side needed? Happy to help.

[2021-07-13 16:45] tonyanziano commented on #8319
@tamasschmolcz not your fault! We need to fix the UI so that the button shows responsively at all widths. :)

[2021-07-13 16:47] cwhitten commented on #8117
@mohsenualam can you toggle-on Early adopters and see if the nightly version of Composer addresses your issue or not?

<img width="937" alt="Screen Shot 2021-07-13 at 9 47 02 AM" src="https://user-images.githubusercontent.com/1156704/125492825-02706ff1-d937-420c-bff3-e3ce3dfdb8ab.png">

[2021-07-13 17:01] mewa1024 commented on #8367
Oh, it might have. I think the first thing I did when I restarted was create a new Enterprise Assistant bot and set up LUIS and QnA.

[2021-07-13 17:07] Brent-Higgins commented on #8188
@benbrown in using our internal artifactory npm mirror I have run into an issue.
![image](https://user-images.githubusercontent.com/87079486/125494963-ab630908-deaf-4160-836b-cd9105de6be0.png)
It looks to be tied to the fact that the search result from artifactory does not contain the links field which is not null checked.
https://github.com/microsoft/BotFramework-Composer/blob/2.0.0/extensions/pa

[2021-07-13 17:27] cwhitten commented on #8362
@GeoffCoxMSFT we think an issue may remain in the splitter component

[2021-07-13 17:34] cwhitten commented on #8359
@Stevenic can you give us some repro steps to better diagnose this?

[2021-07-13 17:36] mohsenualam commented on #8117
Thanks @cwhitten!

It worked!

[2021-07-13 17:38] mewa1024 commented on #8359
Is this because there is only one "user" property and once it's added the "user" menu is removed from the picker?

https://user-images.githubusercontent.com/39317542/125499275-0139e7a5-f912-4bec-80d6-38124a7176fc.mov

[2021-07-13 17:50] hatpick commented on #8371
@boydc2014 Can you or someone from your side look into the issues @mewa1024 mentioned about the diagnostics?

[2021-07-13 17:51] garypretty commented on #8345
Agreed path forward here is to always have an 'All' option in the filter, regardless of if you have only one or more than one bot.

All will be the default value.

We should reset this filter to all on Project Open, to ensure the filter is set back to all if you open more than one bot in the same session.

@mewa1024 @vivekkshankar can you clarify the above aligns with your thinking please?

[2021-07-13 17:53] mewa1024 commented on #8345
agree!

[2021-07-13 17:54] #8336 closed

[2021-07-13 17:58] clearab commented on #8367
For me it was a few hours I think, but I'm not sure. I was bouncing around between a lot of things before I first noticed it.

[2021-07-13 18:00] vivekkshankar opened #8385 "[UI fit and finish] New Recognizer selection text too large"
UI has fit and finish issues:

1) Recognizer Text and change button too large and not aligned with rest of prop. pane.

Current implementation:
![image](https://user-images.githubusercontent.com/67671676/125502839-19161203-d842-47d5-9c56-61f8faa02603.png)

Should match:
![image](https://user-images.githubusercontent.com/67671676/125502889-b07c6a92-729b-46a0-84db-c039ad8d19af.png)

2) Add a boundin

[2021-07-13 18:21] #8371 closed

[2021-07-13 20:09] srinaath commented on #8369
@scheyal  I ran your bot and i did see the orchestrator recognition for DefertoQna having a score greater than 0.8 yet it wouldn't hit the Qna maker trigger.

So, I tried to use utterance “is it really different” without the interruption (ie without stepping into the child dialog but directly at the root). What I saw the qna match score in the qna trace which has the score 0.36 which makes sense w

[2021-07-13 20:26] srinaath commented on #8362
Closing as a dupe of #8362. We are going to look to migrate to the lates of gcox/splitter component in which the ResizeObserveLoop would not exist.

[2021-07-13 20:26] #8362 closed

[2021-07-13 20:30] #8369 closed

[2021-07-13 20:47] Stevenic opened #8386 "Access Token expired"
I've had my composer window open since yesterday (on the same project) and I just clicked on `configure->Development Resources` when I got the error message below. Looks like we're not trying to refresh an access token.

![image](https://user-images.githubusercontent.com/698939/125522628-ba7f99ae-98d4-4e55-9f6a-8978693afe2d.png)

[2021-07-13 20:51] Stevenic commented on #8359
That could be... I'll close for now

[2021-07-13 20:51] #8359 closed

[2021-07-13 20:56] Stevenic commented on #8342
Should we even show a warning when there aren't any references to a dialog. Maybe just the same confirm we show when removing an empty dialog.

[2021-07-13 21:01] Stevenic commented on #8310
@a-b-r-o-w-n here's the UI schema for that trigger... Am I missing a property? I set the label:

[code]

[2021-07-13 21:02] scheyal commented on #8379
FYI custsomers are hitting this and LUIS requested that we promote handling of this. (more info coming).

[2021-07-13 21:10] Stevenic commented on #8310
Looks to be fixed in nightly builds.

[2021-07-13 21:10] #8310 closed

[2021-07-13 21:11] Stevenic commented on #8386
Closing as a dupe of #8367

[2021-07-13 21:11] #8386 closed

[2021-07-13 21:15] LeeParrishMSFT opened #8387 "AdaptiveDialog has dialogs property added in declarative schema and that property should be hidden."
## Describe the bug

See Issue: [AdaptiveDialog has dialogs property added in declarative schema and that property should be hidden.](https://github.com/microsoft/botbuilder-dotnet/issues/5566) in the SDK repo where this was originally reported. The following information was copied from the SDK issue to provide context here.

To support legacy coded dialogs we added a DialogSet property on Adaptiv

[2021-07-13 21:30] benbrown commented on #8367
This was caused by a background API call firing. When the token was invalid, it would pop up this error. However, it should not be firing the api call in the background - only when called into action by a user.  The attached PR will reduce the calls to this API and prevent the error from appearing mysteriously.

[2021-07-13 21:41] dmvtech commented on #8379
Thanks @scheyal

Working with @natalgar; we could not reproduce the issue.

Looking into who should be a suitable owner to look into this.

[2021-07-13 21:42] hatpick commented on #8353
@chrimc62
Better title for generator? e.g. F -> Fahrenheit (F)

[2021-07-13 21:50] chrimc62 commented on #8353
The problem is that these are the actual enum values that are returned by LUIS and they need to match.  To fix this, I think we would have to change the UI code to be able to use .uischema to control this.  With that change, I could update the generator to generate the appropriate fragment.

[2021-07-13 21:55] hatpick commented on #8346
@chrimc62 Perhaps forgot to add description to the $generator? Also, maybe use "Dynamic List" instead

[2021-07-13 21:59] #8387 closed

[2021-07-13 22:02] hatpick commented on #8340
@chrimc62 I think these are coming from LUIS too right?

[2021-07-13 22:04] hatpick commented on #8339
I think the current UX works pretty well for this iteration, we may or may not consider changing it in the future.
when you (as user) learn how to use it, it's pretty straightforward.

[2021-07-13 22:04] #8339 closed

[2021-07-13 22:07] #8353 closed

[2021-07-13 22:09] #8340 closed

[2021-07-13 22:17] tonyanziano commented on #8376
@tamasschmolcz we are unable to reproduce this issue on our end.

To clarify, you have a bot that:

- has a Composer dialog
- this Composer dialog eventually calls another Composer dialog using a BeginDialog action

If the above are true, is it possible for you to share your bot assets with us so we can debug?

[2021-07-13 23:01] tonyanziano commented on #8356
@Stevenic can you reproduce this, and show me the inspected Bot State traces in the "Web Chat" pane with the `dialog.result` object populated?

![image](https://user-images.githubusercontent.com/3452012/125535858-98c3211b-ef25-42c0-a3cc-cf9fbbf1b94f.png)

I'm curious to see what the bot state trace shows for you in this case.

I was able to see it render the object view for the `dialog.result` obj

[2021-07-13 23:03] hazemelh commented on #8379
Hi folks,
When adding a prediction key to Composer, even during development, I will populate both the authoring and endpoint keys appropriately in the advanced settings.

See below
![image](https://user-images.githubusercontent.com/45972073/125535960-493db8ca-9fa4-4af0-acec-ce67b39f3569.png)

Having an endpoint key means you won't run out of quota by using the authoring key for endpoint requests.

[2021-07-13 23:04] hatpick opened #8392 "LU Editor - Warning shown on a new editor with no content (only place holder)"
## Describe the bug

LU language server shows warning for a new LU editor with no content and no interactions from user:

```L17:0 - L17:27 no utterances found for intent definition: "# TextInput_Response_hrdwg8"Refer to the syntax documentation here.```

## Version

Latest on main.

## Browser

Steps to reproduce the behavior:

1. Create an empty but
2. Add "Ask a question/Text" node.
3. Select "

[2021-07-13 23:05] scheyal commented on #8379
@srinaath , @dmvtech  - please see @hazemelh details. Looks like a bug (with a delayed repro b/c first you have to reach the quota to hit the condition).

[2021-07-13 23:24] #8343 closed

[2021-07-13 23:24] #8348 closed

[2021-07-13 23:24] #8351 closed

[2021-07-13 23:24] #8358 closed

[2021-07-13 23:49] tonyanziano commented on #8051
@flavio-neves does this happen to you with Composer as well? If you install "Only for this user" does typing `bfcomposer://` into the Run window do nothing?

[2021-07-14 01:17] srinaath commented on #8361
@zhixzhan Can you take a stab at it in your daytime?

[2021-07-14 01:48] srinaath commented on #8370
@mdrichardson Yep. They are related. We will have to work on a more graceful VSCode style handling of cleaning up dangling processes.

[2021-07-14 01:48] #8370 closed

[2021-07-14 01:53] zhixzhan commented on #8361
Sure, I will

[2021-07-14 03:13] #8346 closed

[2021-07-14 07:20] tamasschmolcz commented on #8376
@tonyanziano I have solved it now by putting the affected part in a dedicated dialog, as the need emerged, that I need to use the "Hast du weitere Fragen?" dialog for other dialogs as well.

But yes you understand the situation correctly. + the dialog are uploaded and executed with a PVA (PVA Composer Integration).

So case can be closed. If I face it again, I'll let you know asap + providing bot

[2021-07-14 07:21] #8376 closed

[2021-07-14 07:45] #8323 closed

[2021-07-14 08:40] #8374 closed

[2021-07-14 13:37] sarul84 opened #8398 "Bot response worked in V1.0.2 not working in V2.0"
## Describe the bug

I am using array to create adaptive card dynamically which worked fine in composer V1.0.2  but now getting below error.

Please help, I am not sure about the issue with response json.

[code]

## Version

Bot Composer version : 2.0.0

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## Additional context

Bot response Json:

[code]

[2021-07-14 15:07] srinaath commented on #8361
@BruceHaley Do you have a consistent repro for this error? If so could we do a screenshare?

[2021-07-14 16:03] #8342 closed

[2021-07-14 16:07] mohsenualam commented on #8117
After being Early Adopter, the bot is now unable to start any bots. It keeps saying "Starting bot" for more than five minutes...

[2021-07-14 16:34] hatpick commented on #8361
From the bug report, it says it was in home page, ResizeObserver for breadcrumb is in DesignPage, @zhixzhan are you sure that PR fixes this issue?

[2021-07-14 16:46] #8367 closed

[2021-07-14 16:53] GeoffCoxMSFT opened #8400 "Publishing uses hard-coded SCM URL for zip deploy. This breaks deploy zip to ASE"
## Describe the bug

Reported by  Behram Khan (Sr. Solutions Architect) on behalf of a customer trying to use Composer 2.0 to deploy into an App Service Environment (ASE).

Determined that ASE environments get special SCM URLS.  Instead of <appservicename>.scm.azurewebsites.net, they get <appservicename>scm.<asename>.p.azurewebsites.net.

Also found that the catch of 403 error reporting the token

[2021-07-14 17:04] dmvtech commented on #8398
@sarul84

The body doesn't look right for adaptivecardjson. Body is an array; should be an array of objects. But you have no `{ }`. Should be something like:

[code]

[2021-07-14 17:23] a-b-r-o-w-n opened #8401 "diagnostic error when other schemas are included in bot project"
## Describe the bug

With support for remote / relative schema definitions (#8293), I've started to see schema diagnostic errors.

## Expected behavior

We should effective ignore these extra schema files in the frontend.

## Screenshots

![image](https://user-images.githubusercontent.com/3619060/125665371-6df2090f-6e6a-40f0-b6b9-81881901d3fd.png)

[2021-07-14 17:39] #8245 closed

[2021-07-14 17:48] hatpick opened #8402 "Editing trigger name is flaky"
## Describe the bug

When changing the trigger name on top of the property editor, it drops characters as you type.

## Version

Latest on main.

[2021-07-14 18:18] flavio-neves commented on #8051
I didn't have this problem but we fixed @victorlamana issue doing this

[2021-07-14 18:25] tonyanziano commented on #8365
P0 was fixed with #8391, the P1 is still active. Reopening and swapping the P1 label in

[2021-07-14 18:36] tonyanziano commented on #8356
Regarding the second issue of not being able to select an object in the picker with child properties, I'm currently looking into the possibility of adding that to the current style of context menu we use.

There are some challenges with this. The current style we use has a chevron icon with its own click target on expandable menu items, however, these icons are currently not focusable via keyboard

[2021-07-14 19:37] flavio-neves commented on #8283
It seems only Application Developer will not suffice, maybe Application Administrator.

As a work around, create manually the application on Azure AD, save the App ID and Secret value, go to your bot resource group and create an Azure Bot (since Bot channels are deprecated) and use the App info. After that, import only the App information using composer publishing profile and save, edit the profil

[2021-07-14 20:54] victorlamana commented on #8255
Hello, is this the function to train the bot on Emulator? Doesn't seem to be working to me =C

![image](https://user-images.githubusercontent.com/52974336/125691496-82ca1d59-5965-4067-a43c-fca6a0c1dee7.png)

Thanks for all the help until now =)

[2021-07-14 21:09] victorlamana opened #8404 "BUG - Delete empty "generated" folder everytime I need to restart the bot"
## Describe the bug

Hello Microsoft Team! Me and my colleagues are facing many issues using Composer and Emulator, we would really appreciate if we could talk to you on a particular meeting to help us out with some questions and uncertainties with the application...

Meanwhile, the issue itself: Every other time I need to restart the bot it asks me to delete a "generated" folder, and it seems eac

[2021-07-14 21:45] victorlamana commented on #8404
The bug still exists but if I try to start the bot once again after the error happens, it starts normally for some reason

[2021-07-14 22:07] JonathanFingold opened #8405 "After adding a new skill to a bot, warning button should take me to the skill bot, but does not"
## Describe the bug

The warning button should not be confusing. I see that my project has one warning, but clicking the button opens the **Problems** window, which claims I have 0 warnings.

Secondary issue, agreeing to use Orchestrator appears to, confusingly, produce no outward sign that my bots are using Orchestrator.

## Version

Version:  2.0.0-nightly.258070.287a4dc
Electron: 8.2.4
Chrome:

[2021-07-14 22:24] JonathanFingold commented on #8405
Notes:
- After adding the skill, the skill's main dialog is selected in the project pane, and the skill is still using the default (non-Orchestrator) recognizer, but if I switch to the root bot's main dialog, it is using Orchestrator in an obvious way.
- So, either:
  1. Make the **Enable Orchestrator** wizard less confusing on this front.
  2. Use Orchestrator for all bots in the project.
  3. Or

[2021-07-14 23:06] Stevenic opened #8407 "notes: custom actions without a uischema don't show comments"
![image](https://user-images.githubusercontent.com/698939/125703947-a1306917-2cb3-4111-a581-9431d90d7b8e.png)

[2021-07-14 23:10] Stevenic commented on #8402
I've seen this as well... In particular if you try to backspace completely over the name it will re-add the name

[2021-07-15 00:53] mewa1024 commented on #8356
hmm. It looks like we use the flyout menu in other places in Composer, like the prebuilt function picker (this example doesn't have the split button):
![image](https://user-images.githubusercontent.com/39317542/125710946-ceb83cd3-6465-4f0c-972c-8941f4a4f339.png)

so I'm okay with switching to that component if that is easier to build and maintain.

[2021-07-15 02:00] mkfah809 commented on #7952
I tried to change the order of them, but I couldn't. I had to specific dialog to start the trigger with. ( That will make specific trigger popup before)

[2021-07-15 02:01] mkfah809 commented on #8089
is there any way to go from greeting trigger, to Test trigger directly?

[2021-07-15 03:54] Stevenic commented on #8407
RepeatDialog has the same issue

![image](https://user-images.githubusercontent.com/698939/125726504-bcbebce2-7a15-4011-9266-c7e6efa47291.png)

[2021-07-15 05:07] Stevenic opened #8409 "Opening projects should start with child dialogs collapsed"
When you open an existing project, the tree view starts with every single dialog expanded. For large project this could result in hundreds of events being displayed. This would be like VS Studio/Code starting with every project folder expanded. We should either start with all child dialogs closed (leave the root expanded) or remember the previous sessions expansion state. I personally find myself

[2021-07-15 06:01] sarul84 commented on #8398
Thanks @dmvtech. That fixed error.

[2021-07-15 06:01] #8398 closed

[2021-07-15 07:08] #8338 closed

[2021-07-15 07:23] #2699 closed

[2021-07-15 07:27] zhixzhan commented on #2699
No longer valid since we handle qna/lu/lg separately

[2021-07-15 07:27] liweitian commented on #6601
Already fixed in #6733

[2021-07-15 07:27] #6601 closed

[2021-07-15 07:28] lei9444 commented on #5756
The @microsoft/bf-lu has upgraded to 4.15.0-dev.20210702.cbf708d now, so close it

[2021-07-15 07:28] #5756 closed

[2021-07-15 07:32] lei9444 commented on #2912
this task is out of data, so close it

[2021-07-15 07:32] #2912 closed

[2021-07-15 07:35] liweitian commented on #1643
closed due to out-of-date

[2021-07-15 07:35] #1643 closed

[2021-07-15 07:49] boydc2014 commented on #6919
Close this as out-of-date

[2021-07-15 07:49] #6919 closed

[2021-07-15 07:50] liweitian commented on #7663
Closed due to out-of-date

[2021-07-15 07:50] #7663 closed

[2021-07-15 07:50] boydc2014 commented on #2237
Close this as of out-of-date

[2021-07-15 07:50] #2237 closed

[2021-07-15 07:51] #6449 closed

[2021-07-15 07:52] luhan2017 commented on #8347
@alanlong9278, let's remove the manifest version selection and take 2.2 as a default.

[2021-07-15 08:22] luhan2017 commented on #4091
Should be fix by the proxy feature.

[2021-07-15 08:22] #4091 closed

[2021-07-15 10:15] luhan2017 opened #8411 "Skill: support fuzzy(language code only) match for adding skill dispatch models"
Currently when a root add a skill, root skill is doing an exact match for language codes.

For example, composer default and current authoring is "en-us", when adding a skill root bot will try to find “en-us” key in the dispatch models and show it in the trigger phrases window.

Composer default language and most of the available languages are language-locale. But PVA only supports language only c

[2021-07-15 10:17] luhan2017 opened #8412 "set default allowInterruptions=false in BeginSkill action"
## Describe the bug

set default allowInterruptions=false in BeginSkill action

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Addi

[2021-07-15 11:11] rattlehead1319 opened #8413 "Want to package knowledge base and use it in other bots. Please help with the steps."
I want to package (npm) knowledge base (qna maker) and use it in other bots. Please help with the steps.
There is not much documentation around for this.

Questions:
1) If I have to make .schema and .uischema files for packaging, what will be their structure?
2) Do I need to package .lg file as well? If yes, what would be its structure?
3) Do I need to package sdk.schema and sdk.uichema files as w

[2021-07-15 14:53] deathblade89 opened #8415 "The application wont start after installing"
## Describe the bug

Complete install wizard successfully

## Version

BotFramework-Composer-2.0.0-windows-setup

## Browser

Unknown, its the app installed, i assume is Electron.

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Complete installation, the application hangs on starting server.

## Expected behavior

The application should start

##

[2021-07-15 15:51] srinaath commented on #8409
In addition, implementing a solution for this would help with the performance. Currently, the entire project tree with all the dialogs, triggers across root bots and skills are rendered on start. Instead we could go for a more lazily loaded project tree and load the assets inside a dialog on expanding. @mewa1024 @vivekkshankar

[2021-07-15 16:12] vivekkshankar commented on #8409
I think expanding the root (selecting a first trigger like we do currently) while closing all child dialogs might be the way to go for now.

I feel addressing scale here is the key issue and there are def. other things to consider and user test going forward,
- Remembering previous selections
- Auto collapsing dialogs not selected
- Lazy loading

[2021-07-15 16:38] srinaath commented on #8415
@deathblade89 Could you help us by running the app with the debug flag on and paste the output here. Following are the steps.

Go to Composer's install location (mine is at C:\Users\{username}\AppData\Local\Programs\Bot Framework Composer)
Open a terminal here
run set DEBUG=composer*
run the executable from the terminal Ex. "Bot Framework Composer.exe"

[2021-07-15 16:43] srinaath commented on #8404
@victorlamana. Could you try a couple of things.
1. Can you Open the bot in Visual Studio and run the bot. Essentially, Composer does the same process on the back.
2. Could you zip up the bot assets and send it to us for us to get a repro.

[2021-07-15 16:43] Dan-Bai opened #8416 "LuisResult telemetry is duplicated in Application Insights"
## Describe the bug
A bot using LUIS intent with telemetry enabled is occasionally logging LuisResult twice.

## Version
2.0.0

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:
1. Create Node bot with *Core Bot with QnA Maker* template
2. Add trigger with *Intent Recognized* for something simple (I used *Help* with utterance *help*)
3. Start bot and

[2021-07-15 17:59] #8400 closed

[2021-07-15 18:18] tonyanziano commented on #8356
It actually looks like it will require a lot of code to switch to the Split Button / flyout model, so I'm going to try and fix what we already have with the proper focusing and keyboard navigation.

Plan B will be to switch to the other model.

[2021-07-15 18:22] JonathanFingold opened #8417 "Add intent recognized for dialog with Orchestrator should not prompt for entities"
## Describe the bug

Orchestrator is explicitly an _intent-only_ recognizer. When you add an **Intent recognized** trigger to a dialog that uses Orchestrator, the trigger phrases widget should not be asking for entities, or using them as examples.

## Version

Version:  2.0.0-nightly.258070.287a4dc
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] E

[2021-07-15 18:23] victorlamana commented on #8415
Hello, I had the same issue and Microsoft helped me fixing it by installing vcredist. See https://github.com/microsoft/BotFramework-Composer/issues/7964

[2021-07-15 18:36] victorlamana commented on #8404
Hello @srinaath after I reinstalled the program the issue seems to be fixed. I haven't managed to replicate it again, sorry :/

[2021-07-15 18:40] someonelikeTIM commented on #7087
I am having the same issue. I published without problems until I added a prediction resource today. Now it fails to publish with that same error. Composer v2.0 / C#

[2021-07-15 18:53] taicchoumsft commented on #8368
The root cause was located in `getTopScoringIntent`, where it is possible in the nodejs version to return an `undefined` value. In the dotnet implementation the function always returns a string.

At some point, the CTRS (crosstrainedrecognizerset) `IsRedirect` function is called, which expects a string, causing the uncaught exception.

[2021-07-15 19:23] #8368 closed

[2021-07-15 21:05] #8361 closed

[2021-07-15 21:53] JonathanFingold commented on #8357
I've been very frustrated with this workflow. I've never been able to design a skill and publish it in a way that didn't force me to go back and hand edit the manifest. My go to "hello world" test for a skill is to create an echo skill, yet I have to jump through many hoops to get it to work as expected, with a greeting being triggered appropriately when called from another bot.

[2021-07-15 21:56] JonathanFingold commented on #7422
We don't have such a restriction in an SDK-first skill. "*" is allowed and used in the manifests for the sample skill bots.

[2021-07-15 22:32] #8356 closed

[2021-07-15 23:00] #8331 closed

[2021-07-15 23:00] #8333 closed

[2021-07-15 23:00] #8327 closed

[2021-07-15 23:00] #8328 closed

[2021-07-15 23:44] dmvtech commented on #2926
@heinrich-ulbricht @swetagrover

I had this recently. I was able to troubleshoot the actual issue by attempting to create a bot outside Composer using:

1. `npm install -g yo`
2. `npm install -g @microsoft/generator-bot-empty`
3. `yo @microsoft/bot-empty "EmptyBotTest"`
4. `cd EmptyBotTest`
5. `dotnet build` <-- this is where/when I received error about nuget

In the end, my issue was related to n

[2021-07-15 23:59] dmvtech commented on #7876
@mn-invia @Naveen0687

I had this recently. I was able to troubleshoot the actual issue by attempting to create a bot **outside** Composer using:

1. `npm install -g yo`
2. `npm install -g @microsoft/generator-bot-empty`
3. `yo @microsoft/bot-empty "EmptyBotTest"`
4. `cd EmptyBotTest`
5. `dotnet build` <-- this is where/when I received error about nuget

In the end, _**my**_ issue was related to n

[2021-07-16 00:19] tonyanziano commented on #8365
It turns out that #8391 also fixed the P1 issue, because selecting an activity via the Web Chat test panel no longer switches debug panel tabs.

![FixedCardBehavior](https://user-images.githubusercontent.com/3452012/125873487-78ee58c3-4d82-4a06-a8c4-bcab78a53081.gif)

[2021-07-16 00:19] #8365 closed

[2021-07-16 00:20] boydc2014 commented on #8357
@luhan2017 can you link the issue with more context or solutions

[2021-07-16 01:10] SSanjeevi commented on #7087
It worked after adding "LuisResource" in the publish profile with name of prediction resource.

[2021-07-16 02:06] #8332 closed

[2021-07-16 02:36] luhan2017 commented on #8352
@gabog, @vivekkshankar  by using the version as the manifest name, do you want to keep all the historical manifest versions locally? currently, we only keep one manifest file for each schema version, the name is to distinguish the schema versions. Later we will remove the schema version selection and always use version 2.2 as the default, in that case, we may always keep one manifest locally, and

[2021-07-16 03:30] #7247 closed

[2021-07-16 07:10] #8347 closed

[2021-07-16 07:11] #7230 closed

[2021-07-16 08:17] tamasschmolcz opened #8422 "Issue with accessing a Power Virtual Agent Property using Composer"
## Describe the bug

I want to set a Power Virtual Agent property in Composer. I use the "set a property" composer function to set the PVA property "powervirtualagent.buergerbueroContact"

![image](https://user-images.githubusercontent.com/48097252/125915438-09d1e5c0-34af-4343-8986-f1375fdc6273.png)

The mentioned property is used in a specific PVA flow initially.

![image](https://user-images.git

[2021-07-16 08:26] luhan2017 commented on #8357
Here are the list of triggers which are supported/not-supported in composer for now:
![image](https://user-images.githubusercontent.com/32191031/125916768-97522fad-9bd8-4bfc-bfb3-3826f56977f6.png)

I have following questions which I want to clarify with you:
- Dialogs are exposed as event activity, but currently it does not work. we need to create an event activity trigger and begins that dialog u

[2021-07-16 08:28] #8412 closed

[2021-07-16 08:28] iMicknl commented on #8422
@tamasschmolcz the PVA screenshot below, is that your 'Burgerburo' flow? Could it be that you are using this property within Composer, before it is created in Power Virtual Agents?

If that is the case, I am not sure if this is a supported scenario. https://docs.microsoft.com/en-us/power-virtual-agents/advanced-bot-framework-composer#use-and-update-power-virtual-agents-variables-in-bot-framework-c

[2021-07-16 08:29] #8385 closed

[2021-07-16 09:00] tamasschmolcz commented on #8422
@iMicknl Yes I think that could be issue. That would be a pitty, if the flow needs to executed before.

Do you know, if I also can access Composer properties via PVA flow?

[2021-07-16 11:38] deathblade89 commented on #8415
@srinaath The Bot Framework Composer updated last night and I repaired my vcredist installation.
Now the application opens using the command line with DEBUG=composer* and I can continue at this point.

[2021-07-16 12:36] #8415 closed

[2021-07-16 16:36] #8337 closed

[2021-07-16 17:05] tdurnford opened #8423 "[skills] Import Skill LU Editor shows errors for valid LU"
## Describe the bug
While adding a new skill from a zipped manifest, the LU Editor shows  multiple LU errors because the intent names are commented out which is correct for this scenario.

## Version
Latest nightly

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behav

[2021-07-16 17:07] hatpick commented on #8415
@deathblade89 you dont need that flag to run the app, we wanted to get full logs for your issue.

[2021-07-16 17:17] dmvtech commented on #8022
Hi @Jin825 Just checking in again. Please let me know if you still need assistance. And if so; what are the answers to the above questions.

[2021-07-16 17:18] dmvtech commented on #8002
Hi @SharmaHarsh7 Checking in. Can you help me with the questions above?

[2021-07-16 17:56] stevkan commented on #8251
@mishrapratyush, thank you for your patience while waiting on this. Is this still an issue for you? If so, can you try the most recent nightly build and see if it continues to be an issue?

[2021-07-16 19:01] tonyanziano commented on #8422
There appears to be a bug on the PVA side, and I have filed an issue with them.

I will follow up on this thread with any updates.

[2021-07-16 19:07] tamasschmolcz commented on #8422
@tonyanziano Thanks! could also clarify my question, whether there is a way to access Composer properties from a PVA flow? And if not, do exist plans to allow this in the future?

[2021-07-16 21:03] Vivihung opened #8424 "Product Tour: Publish setup has no description"
## Describe the bug
After installing desktop composer, the Product Tour about publishing the bot has empty instruction.

## Version
Desktop Composer for Windows.
Version: 2.0.0
SDK runtime package: 4.12.0

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Fresh install the desktop Composer app in Windows. The tutorial mode will auto-popup. Go through each step until reach the publish

[2021-07-16 21:17] JonathanFingold commented on #8357
The confusing bit is that the manifest describes the activities (not the triggers) the skill agrees to receive when a consumer starts a conversation. The primary activities a skill might describe are `message`, `invoke` (with the name included), and `event` (with the name included). [Other activity](https://docs.microsoft.com/en-us/azure/bot-service/skills-write-manifest?view=azure-bot-service-4.0

[2021-07-16 21:36] anusharavindrar commented on #8413
@rattlehead1319, can you elaborate more on why you are trying to package the knowledge base? You can get started with the [Creating packages](https://docs.microsoft.com/en-us/composer/how-to-create-packages) documentation. You can refer to the [QnASample](https://github.com/microsoft/BotBuilder-Samples/tree/main/composer-samples/csharp_dotnetcore/projects/QnASample/QnASample/schemas) sample schema

[2021-07-16 21:56] tdurnford commented on #8424
@Vivihung This is resolved in the latest Composer Nightly, and the fix will be included in our upcoming release. Thank you for reporting the issue!

![image](https://user-images.githubusercontent.com/17039790/126012259-9e1a4816-9278-4533-8746-1e6bfcb7c224.png)

[2021-07-16 21:56] #8424 closed

[2021-07-17 00:26] Vivihung opened #8425 "Publish to Azure failed with '\"path\" argument must be of type string' error"
## Describe the bug

I import a Power Virtual Agent bot into Bot Framework Composer and would like to publish this bot to Azure in composer. However, the publish failed with the following error

## Version
Desktop Composer for Windows.
Version: 2.0.0
SDK runtime package: 4.12.0

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:
1. Create a bot in Powe

[2021-07-17 19:36] hcyang commented on #8416
Hi @Dan-Bai, can you elaborate how did you find that an input utterance's LuisResult got logged twice in AppInsight telemetry? A screenshot would be much helpful.

[2021-07-17 19:44] hcyang commented on #8413
Hi @rattlehead1319, echoing @anusharavindrar's question, a QnAMaker knowledge base and its QnA Maker app hosted on qnamaker.ai can certainly be reused in another bot, you just need to configure QnA Maker app information on the other bot. Were you asking for packaging a bot using a QnA Maker KB?  In that case, @anusharavindrar has pointed you to the right documentation link how to package a bot and

[2021-07-19 04:07] #8411 closed

[2021-07-19 04:20] #8345 closed

[2021-07-19 07:05] geo-msft opened #8427 "The resource 'qna_maker' already exists in location 'westeurope' in resource group 'name'. A resource with the same name cannot be created in location 'westus'"
## Describe the bug
When provisioning new resources from composer desktop 2.0, the provision partially completes because of this error

<i> The resource 'compo19july' already exists in location 'westeurope' in resource group 'compo19july'. A resource with the same name cannot be created in location 'westus' </i>

when it reaches the QnA maker provisioning step.

## Version

Version:  2.0.0-nightly

[2021-07-19 07:23] rattlehead1319 commented on #8413
Thanks for your replies @anusharavindrar and @hcyang
Do I have to package the entire bot?
I understand that dialogs can be packaged along with required KB or lu or lg or all of them.
My only concern is lets say I have packaged those dialogs and now I have imported them in a bot through bot composer, how will I add a trigger which will initiate the dialog.

I am aware that qna hosted on qnamaker ca

[2021-07-19 07:27] geo-msft commented on #8427
If west europe is not a valid region for the qna maker, I believe the error message should be clearer. Plus, a hover over button suggesting QnA maker available regions would be great.

[2021-07-19 08:42] tamasschmolcz opened #8428 "Accessing Composer variables"
Hello,

I have nothing found in documentation, but it seems, PVA can access Composer Properties?  I did nothing intentionally, but PVA access the Composer variable "buergerbuero". In my example it contains already a value, so the PVA flow question around the location is skipped.

Does this mean, any composer property with scope "user.", can be access via the scope "bot.property" in PVA?

![image](

[2021-07-19 13:32] Dan-Bai commented on #8416
@hcyang It was brought to my attention when our reporting had incorrect data. I then created a simple bot with an intent trigger, I was then able to see two LuisResult events in application insight for each utterance.

[2021-07-19 15:21] AndreCorreiaInspire opened #8429 "Set a property: value - Bug Warning?"
Hi!

I have a user.vacation_days property representing an array with datetime objects and I'm trying to set the turn.vacation_list property to store the same but beautified objects to then show them to the user, keeping the user property intact.

I achieved my goal with the operation showing in the image below, it works just fine like I want it to. However, Composer recognizes it as a warning that

[2021-07-19 16:46] #7034 closed

[2021-07-19 16:46] #7035 closed

[2021-07-19 17:36] dmvtech commented on #8022
Closing due to lack of response. If you are still having issues and need assistance, please try the above suggestions and let us know the findings.

[2021-07-19 17:36] #8022 closed

[2021-07-19 17:37] dmvtech commented on #8002
Closing due to lack of response. If you are still having issues and need assistance, please comment and give more info per the above questions.

[2021-07-19 17:37] #8002 closed

[2021-07-19 18:14] tonyanziano commented on #8195
@dmvtech any comments on this?

[2021-07-19 18:16] tonyanziano commented on #8126
@jessthorne I'm closing this due to inactivity. Please feel free to reopen if you can provide the template text.

[2021-07-19 18:16] #8126 closed

[2021-07-19 18:18] tonyanziano commented on #7860
@GeoffCoxMSFT can you provide any comments on this issue?

[2021-07-19 19:18] vivekkshankar commented on #8357
@mareekuh FYI for design backlog

[2021-07-19 19:18] vivekkshankar commented on #8254
@mareekuh FYI for design backlog.

[2021-07-19 19:19] vivekkshankar commented on #7959
@mareekuh FYI for design backlog

[2021-07-19 19:26] vivekkshankar commented on #7920
@mareekuh FYI for UX backlog

[2021-07-19 19:27] vivekkshankar commented on #7761
@mareekuh fyi for design backlog

[2021-07-19 19:29] vivekkshankar commented on #7511
@mareekuh fyi for design backlog

[2021-07-19 19:29] vivekkshankar commented on #7495
@mareekuh fyi for design backlog

[2021-07-19 20:44] tonyanziano commented on #8428
Hello @tamasschmolcz ,

As far as I know, variables set within Composer memory scopes (`user`, `dialog`, `turn`) are not accessible within the PVA authoring canvas.

Composer should only be able to access and modify global variables stored in PVA via the `virtualagent` memory scope, but the other scopes will not be exposed.

Maybe @babrekel or @abharath27 can confirm.

[2021-07-19 20:46] tonyanziano commented on #7737
The PVA team has notified us that a fix for this has been checked in and deployed to their testing environment where it was verified. This fix will be deployed to production in about 3 - 4 weeks.

[2021-07-19 21:31] tamasschmolcz commented on #8428
@tonyanziano yes thats my understanding as well, so I am wondering about my current experience .

[2021-07-19 21:40] tonyanziano commented on #8428
Sounds good.

If you do happen to succeed in reproducing the issue again, can you please list the minimum number of steps you followed in order to reproduce the issue?

[2021-07-19 22:49] dmvtech commented on #8416
hi @Dan-Bai

I believe I can reproduce the same. We will look into this and update asap. Thank you.

[2021-07-19 23:35] dmvtech commented on #8416
Reproduces with .NET runtime as well.

[2021-07-20 00:05] mareekuh commented on #8170
@JonathanFingold  -  I used 'conversation' on purpose as the user has already created a 'new bot' in ABS, so creating another 'new bot' is confusing here. Do you remember what we landed on? I believe this was a discussion back and forth in Teams?

[2021-07-20 00:17] mareekuh commented on #7127
@JonathanFingold  - I think these are updated, yes?

[2021-07-20 08:27] #8352 closed

[2021-07-20 10:19] AdriVazquez opened #8431 "Error when create new bot"
Hi,
I want to create a new Node _Core Bot with Language_ bit I get an error:
`Error calling npm to fetch template. Please ensure that node and npm are installed and available on your system. Full error message: Command failed with ENOENT: npm root -g --prefix /home/XXX/BotFrameworkComposer/.yo-repository --loglevel error spawnSync npm ENOENT`
I'm using Ubuntu 18.04. I have check my node and npm ve

[2021-07-20 10:58] mhtmht opened #8432 "Package Manager does not work with private feeds with authentication"
## Describe the bug

Error in package manager when trying to access private Nuget feed hosted on Azure DevOps Artifacts

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to repro

[2021-07-20 12:16] silviofx2 commented on #3424
@luhan2017 Hello. Beyond the error mentioned in this ticket, I am interested in the fact of launching a trigger by default when the score of the others does not reach the established minimum (or some other extra condition of each trigger). I understand that the unknown trigger runs only when no other trigger is detected. Is it possible to define a trigger (similar to an unknown trigger) that is ex

[2021-07-20 12:19] arotena commented on #8431
I have the same problem with the Bot Framework Composer v0.0.2

[2021-07-20 13:31] victorlamana commented on #8255
hello?

[2021-07-20 13:48] tamasschmolcz opened #8433 "Composer loses PVA topics"
## Describe the bug

From time to time Bot framework composer loses all known PVA Topics and I need to restart the tool or sync composer from scratch, initiating the sync via PVA center. I did not find a certain patter yet, but maybe there are logs for analyziation?

## Version

v2.0.0

## Browser
- [X] Edge

## OS
- [X] Windows 10

## To Reproduce

I just uses composer regulary and after a while

[2021-07-20 13:49] tamasschmolcz opened #8434 ""time-out" in composer"
I experienced several times so far, that the Sync Process with PVA services via Composer (v.2.0.0= get stucked in the phase "validating bot assets". It would be helpful having some kind of timer, who aborts the sync process. Or if there are several attempts, that must be shown visually. At the moment I re-open composer to get the sync finished, if I face this issue.

![2021-07-20 10_53_21-Window](

[2021-07-20 15:19] tomaskeong opened #8435 "Error while trying to access or install any package from Package Manager"
## Describe the bug

**Accessing Package Manager** or trying to **install any package from Package Manager** returns the following error:
"A problem occured during the install of this Component: Error Menu_bot.dialog: Interface Microsoft.IDialog is not defined *** Could not merge components ***"

## Version

Version:  2.0.0-nightly.260069.26b6d19
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13

[2021-07-20 16:26] JaskeeratBedi-cmk commented on #8240
@mareekuh : Tagging you for visibility

[2021-07-20 16:27] JaskeeratBedi-cmk commented on #7334
@mareekuh: Tagging you for visibility

[2021-07-20 16:39] srinaath commented on #8435
@tomaskeong Are you able to start the bot fine without adding any package?

[2021-07-20 16:49] tomaskeong commented on #8435
@srinaath yes, without adding any package I can start the chatbot, successfully tested on Web Chat and Bot Framework Emulator

[2021-07-20 16:50] srinaath commented on #8433
@tamasschmolcz
1. During this process, is there any topic from PVA that gets imported at all into Composer?
2. Could you paste a screenshot of the Design Page post import in Composer?
3. Could you share the environment, Bot ID and tenant ID for us to dig into the PVA logs. It should be inside the botfolder/settings/appsettings.json under the key publishTargets?

[2021-07-20 16:58] srinaath commented on #8429
@AndreCorreiaInspire Could paste the entire expression that your are trying to set in that action for us to evaluate the return data type?

[2021-07-20 17:04] dmvtech commented on #8431
Hi @AdriVazquez and @arotena

If you are running the standalone electron/app, and not running your own build of Composer, can you please got to the `Help->About` menu, then click `copy`. That should give more version info. For example, I have:

[code]

@tonyanziano

[2021-07-20 17:04] srinaath commented on #8427
@geo-msft While provisioning the QNA resource, if you have already published the qna resource in a particular region, the name of the qna resource needs to be unique across regions. Could you try using the existing QNA resource to publish again and see if that works?

[2021-07-20 17:14] tonyanziano commented on #8425
Hello @Vivihung ,

Unfortunately, bots imported from PVA are not meant to be published to Azure and should only be published back to PVA using the provided publishing profile that comes with the bot when you open it in Composer.

We should not allow users to attempt a publish to Azure while this isn't supported, and need to hide the option in the UI when using a PVA bot.

I will create a bug to re

[2021-07-20 17:14] #8425 closed

[2021-07-20 17:16] tonyanziano opened #8436 "Block PVA bots from being able to create an Azure publishing profile"
Currently, if you import a bot from PVA into Composer, we allow you to create an Azure publishing profile for the bot and attempt to publish to Azure, which is not supported.

We should do a check in the UI when showing the available publishing profile targets to hide Azure from the list if the current bot is a PVA bot.

Reference: #8425

[2021-07-20 18:09] tonyanziano commented on #8258
@RicardoNeto I'm closing this due to inactivity. Please feel free to reopen it if you still encounter the issue.

[2021-07-20 18:09] #8258 closed

[2021-07-20 18:10] tonyanziano commented on #8162
@dmvtech can you provide an update on this?

[2021-07-20 18:29] AdriVazquez commented on #8431
Hi, this is my info:

[code]

[2021-07-20 19:13] mewa1024 commented on #8170
I think the wording in the description of #8166 was the final copy:

Subtext: Use your Azure Bot resource with a new or existing bot project. You can publish your bot project directly to Azure, using the publishing profile created for you. Learn more.
Option 1: Create a new bot project
Option 2: Use an existing bot project

[2021-07-20 19:19] tonyanziano commented on #8431
I was not able to reproduce this on the most recent Nightly version on Ubuntu 18.04.3 LTS with Node 16.4.1 and npm v7.18.1.

Can you please try the [most recent nightly release found here](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v2.0.0-nightly.260069.26b6d19)?

![image](https://user-images.githubusercontent.com/3452012/126382758-0f57c806-8218-49d1-8ca0-879921697ef

[2021-07-20 22:29] tonyanziano commented on #8431
@AdriVazquez @arotena How do you both normally start your `.AppImage` apps? Do you double click the shortcut after making it executable?

If so, please try starting your Composer installation via the terminal as a workaround.

1. Open a terminal tab
2. Navigate to where Composer is installed
3. run the command `./BotFramework-Composer-<version>-linux-x86_64.AppImage`

[2021-07-20 23:37] lshade opened #8438 "How can I check for a LUIS intent to validate a user text prompt?"
My dialog prompts a user for text input, and I want to validate that the user's response was in 1 of 2 LUIS intents. These aren't intents that trigger new dialogs. How can I add these new intents inside Composer and validate that the user said something that matched to one of them?

[2021-07-20 23:38] lshade commented on #8438
Is the answer to edit the LU code in the User input blade?

[2021-07-21 00:02] lshade commented on #8438
Update. I got it working with this validation rule
![image](https://user-images.githubusercontent.com/16640521/126409986-ba8a45f3-55d6-4c54-a862-058759725504.png)

Please let me know if there was a more straight-forward way to do this.

[2021-07-21 01:03] alishajain7 commented on #8162
@dmvtech  I can get the message (of skill B) redirected to skill A to be sent back to the composer using endOfConversation. I am also successful in redirecting the same message to Skill B from the Composer. But this still does not work, probably because it expects a different Activity object. Can you please confirm if this approach is right and what next should be done here to unblock the issue?

[2021-07-21 02:40] #8317 closed

[2021-07-21 05:52] luhan2017 commented on #4020
This issue is invalid now. close it.

[2021-07-21 05:52] #4020 closed

[2021-07-21 05:52] luhan2017 commented on #3754
custom runtime is deprecated.

[2021-07-21 05:52] #3754 closed

[2021-07-21 05:52] luhan2017 commented on #3406
ejected runtime deprecated.

[2021-07-21 05:52] #3406 closed

[2021-07-21 05:53] luhan2017 commented on #5839
ejected runtime deprecated.

[2021-07-21 05:53] #5839 closed

[2021-07-21 05:54] luhan2017 commented on #4054
custom runtime deprecated.

[2021-07-21 05:54] #4054 closed

[2021-07-21 05:55] #3889 closed

[2021-07-21 05:55] luhan2017 commented on #3851
ejected runtime deprecated.

[2021-07-21 05:55] #3851 closed

[2021-07-21 05:55] luhan2017 commented on #2928
old runtime deprecated.

[2021-07-21 05:55] #2928 closed

[2021-07-21 05:58] luhan2017 commented on #2375
@mewa1024, yes exactly.

[2021-07-21 06:32] arotena commented on #8431
Perfect @tonyanziano this works for me. Thank you!!

[2021-07-21 06:33] AdriVazquez commented on #8431
@tonyanziano That is!
running the command works for me. Although it would have been a good way from the beginning, I had not thought about it because I followed the instructions in https://docs.microsoft.com/en-us/composer/install-composer?tabs=linux.
Thank you

[2021-07-21 06:33] #8431 closed

[2021-07-21 07:33] tamasschmolcz commented on #8434
I could re-create the issue. I leave composer open and put my notebook to sleep. Then bring it back again and try to sync. Not working anymore. Stucks in the phase as shown in the picture.

[2021-07-21 09:40] tamasschmolcz opened #8439 "repeat this dialog not working"
## Describe the bug

Main Dialog calls sub dialog. Sub dialog shall be repeated, but it doesn't. The main dialog is continued.

The logic is fine, based on testing with "Reponse" funtion -> see "Debug Standort False". I see the output, but as said, no dialog repeating is initated.

Thanks for helping.

## Version

v2.0.0

## Browser
- [X] Edge

## OS

- [X] Windows 10

## Expected behavior

As use

[2021-07-21 09:45] tamasschmolcz commented on #8433
@srinaath  Not sure we are at the same page. I am loosing the PVA topics after a while without any action (sync etc.).  Just by using Composer ( though it did not happen today). Doing a restart and new sync helps to re-import all PVA topics.

botId: f0ed4e95-838e-44bf-a65e-b28d87f2238e
tenantId:81814973-9a47-4fb4-8feb-139dcaef5bc8

[2021-07-21 13:24] AndreCorreiaInspire commented on #8429
Hello @srinaath I did manage to fix this by creating a bot response under a Common namespace "customFn" with the template:

[code]

[2021-07-21 15:29] srinaath commented on #8186
@jnair7291 Were you able to debug this furthur?

[2021-07-21 16:11] scheyal opened #8441 "Connect skill error message"
## Scenario
* Create a simple bot
* Add external-connection/skill box
* Do not fill fields
* Disable control
* Start Run
==> Unexpected Error (see visual)

## Version
[code]

## Visual

![image](https://user-images.githubusercontent.com/8867670/126522613-bdfa9dcf-95a2-4d9a-890a-7510ad31b709.png)

[2021-07-21 16:47] srinaath commented on #8433
@tamasschmolcz
This bug does not seem to be related to PVA @tamasschmolcz . Could you give us some detailed repro steps and screenshots of the Composer  Design Page post the import process?

[2021-07-21 17:35] someonelikeTIM commented on #4211
Same issue in v2.0

[2021-07-21 17:47] tdurnford opened #8442 "[Skills workflow] Removing skill from an empty bot shows error for missing LUIS keys"
## Describe the bug
Removing skill from an empty bot shows error for missing LUIS keys

## Version
Version:  2.0.0-nightly.260493.e017820
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

Steps to reproduce the behavior:

1. Add PVA Skill to an empty bot in Composer
2. Do not opt in to use orchestrator
2. Remove Skill
3. Observe the error

## Expecte

[2021-07-21 17:50] tdurnford opened #8443 "[Skills workflow] Add select all checkbox to select intent step"
Add select all checkbox to the details list showing the skill's intents

![image](https://user-images.githubusercontent.com/17039790/126535875-c2e28d37-5b1c-480a-8fa9-3eb55a3dccb1.png)

[2021-07-21 17:54] tdurnford opened #8444 "[Authentication] Failed authentication notification should be cleared upon successful login"
Failed authentication notification should be cleared upon successful login

### Repo steps
1. Try to login but cancel to get notification
2. Login again successfully
3. Observe

![image](https://user-images.githubusercontent.com/17039790/126536285-c9e66812-93ed-4757-9534-172aa8c06e8b.png)

[2021-07-21 21:37] JonathanFingold commented on #7127
Some of the UI has changed, and some of the issues have been resolved, but at a minimum (as of Version:  2.0.0-nightly.260493.e017820) there's at least one remaining issue.

Repro steps:
1. Go to the **Configure your bot** view.
2. Select **Development resources**.
3. Select **Set up Language Understanding**.
4. Create and configure new Azure resources.
5. Select an Azure subscription.
6. See erro

[2021-07-21 21:39] JonathanFingold commented on #7127
Oh, If you're asking about the docs getting updated. We're still waiting to update screen shots until the GA version of Composer for R14 is released.

[2021-07-21 21:45] JonathanFingold commented on #8170
@mareekuh I don't remember. My preference would be for accuracy over simplicity. I don't think we need to explain everything here, but the words we use should allow a user to search the docs and get a good hit. Searching on "conversation" in this context will not get you the search results you want.

[2021-07-21 22:05] anusharavindrar commented on #8438
@lshade, the above validation rule method which you used is the best suited way to validate the user's response. Please refer to https://docs.microsoft.com/en-us/composer/how-to-ask-for-user-input?tabs=v2x#prompt-settings-and-validation and https://docs.microsoft.com/en-us/composer/tutorial/tutorial-get-weather?tabs=v2x#set-validation-rules for more details.

[2021-07-21 22:06] #8438 closed

[2021-07-21 22:33] lshade opened #8445 "this.options is empty after calling BeginDialog with options"
I'm calling BeginDialog within a dialog, and passing an option key-value pair, called "prompt", like this:
![image](https://user-images.githubusercontent.com/16640521/126568049-3c3f6e8e-4929-4fd5-9cff-a23f85a04e85.png)

But the receiving dialog has nothing in `this.options` when I test
![image](https://user-images.githubusercontent.com/16640521/126568134-5015819b-fa10-413f-b5bd-723a9ad76f93.png)
!

[2021-07-21 22:35] dmvtech commented on #8439
Hi @tamasschmolcz Can you please make sure that your Set a Property inside the false branch of `=dialog.confirmed` is set to number?

![image](https://user-images.githubusercontent.com/43397658/126568321-2193a571-aed9-4416-9e08-ab6996f707aa.png)

**Show code** should give you something like:
[code]
Not
[code]

[2021-07-21 23:16] dmvtech commented on #8255
Hi @victorlamana Apologies for the delay!

Correct, that is the way you train the LUIS model.

Yes. Please see documentation here:
https://docs.microsoft.com/en-us/composer/concept-language-understanding?tabs=v2x

For further clarification and simplification, per that document:

If you need to extract/move/etc stuff between an existing LUIS app and .lu files (or other variances of that situation),

[2021-07-21 23:42] dmvtech opened #8446 "Signing out of one account and then in with another, still uses original account"
## Describe the bug

Using nightly build, signed in to a personal account. Then signed out, then back in with a work account. Once all the auth seems to work, it still shows the previous personal account signed in.

## Version

Version:  2.0.0-nightly.260493.e017820
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To

[2021-07-22 01:48] luhan2017 commented on #3424
@silviofx2 , instead of setting the threshold in conditions, can you just add an IfCondition under the trigger? For example:

![image](https://user-images.githubusercontent.com/32191031/126580087-23261486-152e-439e-9213-2ca61de6baf9.png)

[2021-07-22 03:00] luhan2017 commented on #8442
I found that is not a skill specific issue and it can't be consistently reproduced, I tried to add a trigger and remove it, the trigger name also remains in the lu file.

In an empty bot, I added a trigger "aaaaaaa" and a skill "Skill Test Marina", then I remove "Skill Test Marina" and "aaaaaaa", Here is what I see from the lu editor:
![image](https://user-images.githubusercontent.com/32191031/126

[2021-07-22 04:25] luhan2017 commented on #8423
@tdurnford could you try the latest nightly? Both zhixiang and I tried and didn't reproduce this issue in the latest nightly.

[2021-07-22 04:49] arafattehsin opened #8448 "Do While Loop in Composer"
## Describe the bug

My apologies if it is there but I am not able to find a way to implement **Do While** functionality to my Composer. I think it'd be a great feature.

I tried to edit the _dialog.foreach.index_ in the foreach loop as a workaround but this did not work for me.

Is there a way to achieve it?

## Version

v2.0.0-nightly(x.x.x)

## Browser

- [x] Electron distribution
- [ ] Chrome

[2021-07-22 04:49] dawwa opened #8449 "Is it normal if the composer takes 4GB of memory?"
## Describe the bug

Is it normal if the composer takes 4GB of memory?
The UI stuck after starting our bots (we have one root bot plus one skill bot), I could barely move my cursor in the web chat; and when I check the resource consumption, it seems taking lots of resources.

![image](https://user-images.githubusercontent.com/44714043/126591112-ee6b0386-1e7e-40fc-bf04-c7111e61bfa3.png)

## Version

[2021-07-22 05:19] dawwa opened #8450 "How does the Composer pick up the port to use for the bot host?"
## Describe the bug
Would you please help clarify how we can ensure the port usage?

e.g., we have two bots and intended to setup the ports in the appsettings.json as seen below,
 - Root bot (Orchestrator.csproj) to use Port 3981
 - Skill Bot (XxxComposerSkill.csproj) to use Port 3982
 -
![image](https://user-images.githubusercontent.com/44714043/126592442-59f470d6-6e82-4841-aa92-de01a4760843.png)

[2021-07-22 06:52] #8442 closed

[2021-07-22 07:17] alishajain7 commented on #8162
@dmvtech @tonyanziano
![image](https://user-images.githubusercontent.com/33221676/126602257-b033ef10-7952-460c-9087-ac6521487a41.png)

I see this in the document:  https://docs.microsoft.com/en-us/composer/concept-skills Can you please help us with how this can be done!

[2021-07-22 08:59] dawwa opened #8452 "Failed to route Dialog for Intent name with dot"
## To Reproduce

1. Create root bot
2. Create Skill bot
3. Add new Intent with dot in the name, e.g. `My.Test.Intent`
4. Add a new trigger, e.g., OnIntent(My.Test.Intent) to Begin a new dialog, e.g., `MyTestIntentDialog`

Expected Behavior: Route to the `MyTestIntentDialog` properly
Actual Behavior:
- Route to the `UnknownIntentDialog` dialog even though the `LuisV3 Trace` indicate the correct LUI

[2021-07-22 09:02] asaha7070 opened #8453 "Unable to publish virtual agents to azure"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-07-22 11:40] Paanshul commented on #2695
@Sakyawira instead of title={$user.anime}, write it like title=${user.anime}.

[2021-07-22 12:29] bgeissler commented on #5367
+1

[2021-07-22 15:18] benbrown commented on #8432
@mhtmht Are you able to use a feed with the authentication details included? Composer does not support feeds that require interactive login to access.

[2021-07-22 15:19] geo-msft commented on #8427
I did not previously provision that resource, I started the deployment with 'Create new resources' in the publish profile.

[2021-07-22 15:31] benbrown commented on #8435
@tomaskeong have you made any modifications to your project's .csproj file, or any of the schema files already present?

[2021-07-22 15:36] tdurnford commented on #8423
@luhan2017 Looks like this is resolved in the latest nightly.

[2021-07-22 15:36] #8423 closed

[2021-07-22 15:52] dmvtech commented on #8446
No longer reproduces after update
[code]

[2021-07-22 15:52] #8446 closed

[2021-07-22 16:22] dmvtech commented on #8448
Hi @arafattehsin You can accomplish this with a custom action.

Please see one example here:
https://github.com/EricDahlvang/AdaptiveDoWhile

Also some more details/samples/info/background here:
https://github.com/microsoft/BotBuilder-Samples/pull/3114
https://github.com/EricDahlvang/BotFramework-Composer/pull/3
https://github.com/microsoft/BotFramework-Composer/issues/4761

[2021-07-22 16:34] srinaath commented on #8453
@asaha7070 This isn't currently supported. PVA bots are imported into Composer with their publishing profiles already set. We have a work item to block creation of a new profile in this scenario. Closing this as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/8453

[2021-07-22 16:34] #8453 closed

[2021-07-22 16:37] srinaath commented on #8452
@dawwa Could you clarify the steps you did to create an intent name with a period (.) in it. We have validation to specifically block special characters.
![Screen Shot 2021-07-22 at 9 36 05 AM](https://user-images.githubusercontent.com/13004779/126675801-d9dd1726-f0e8-4ba7-b641-a413f12f1879.png)

[2021-07-22 16:44] srinaath commented on #8450
@dawwa Composer picks up a port from the available pool of ports when the runtime is started. We currently do not have the capability to drive the port to be used by Composer from the appsettings.json file.

[2021-07-22 16:48] srinaath commented on #8449
@dawwa Are you using the recognizer Orchestrator while adding the skill bot to the solution? If so, the localized model file of Orchestrator might be the reason for the bloated memory.

Cc @daveta @taicchoumsft

[2021-07-22 16:58] srinaath commented on #8445
@lshade So the dialog object has a reserved property named `options`. Could you log that property to see if the prompt value is enclosed in it?

[2021-07-22 17:25] hatpick commented on #8431
@arotena @AdriVazquez Would you please tell us how did you install NodeJs on your Ubuntu?

[2021-07-22 17:46] dawwa commented on #8452
@srinaath @dmvtech, what I did is just rename an existing intent, and I directly modified from the code, and there is no validation error/warning show up, is the validation only on UI?

[2021-07-22 17:50] dawwa commented on #8449
@srinaath, yes, I am using Orchestrator, but this does not always happen, occasionally, and I have to kill the process and restart the Composer and it may just behave normal without stuck

[2021-07-22 17:52] dawwa commented on #8450
@srinaath, I suppose we should document this requirement or add a hint tool tip on the UI to ensure user be aware of that they have to launch skill bot prior to root bot.

Also not sure whether there is sequencing control when user click the `Start All bots`, if no, it might have been causing confusing behavior.

[2021-07-22 18:12] tonyanziano commented on #7285
related: #8319 -- cannot see the publish details chevron until you expand the window to a greater width

[2021-07-22 18:13] tonyanziano commented on #7284
I think this has been alleviated with the implementation of the global app-level authentication and sign-in work.

[2021-07-22 18:13] #7284 closed

[2021-07-22 18:16] tonyanziano commented on #5910
I cannot reproduce this anymore. Closing as fixed

[2021-07-22 18:16] #5910 closed

[2021-07-22 18:37] tonyanziano commented on #7341
Composer now does this for you. Please refer to the following documentation for more details:

https://docs.microsoft.com/en-us/composer/how-to-publish-bot?tabs=v2x

[2021-07-22 18:37] #7341 closed

[2021-07-22 19:48] Stevenic opened #8455 "Uncaught Syntax Error"
I was attempting to modify properties for an Adaptive Card action and received this error:

![image](https://user-images.githubusercontent.com/698939/126700642-e70b8abd-6a75-4262-bfe3-c8b6b79d1d72.png)

[2021-07-22 21:06] arafattehsin commented on #8448
Thanks @dmvtech - I will try to fork this and deploy this to my local feed. It may not be super user friendly for everyone to deploy this though esp. for those who are focusing more on the low code creation.

[2021-07-22 21:19] hatpick commented on #8455
@Stevenic can you open dev tools and share the stack trace from console?

[2021-07-22 22:22] lshade commented on #8445
Thanks @srinaath it ended up being in `dialog.prompt` in the first place, and my `Set properties` step was unnecessary. I also found it in `turn.dialogEvent.Value.prompt`. I think we should update [this document](https://docs.microsoft.com/en-us/composer/ref-memory-variables?tabs=v2x#this-scope) where it says to find it in `this.options`

[2021-07-22 22:46] JonathanFingold opened #8457 "Publish as skill failed: publishing from desktop 2.0 with new resources"
## Describe the bug

Tried to publish a bot as a skill, but got a provisioning error.

## Version

Version:  2.0.0-nightly.260742.141dd34
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the be

[2021-07-22 23:01] Stevenic commented on #8455
I've lost the repo :(  It was an action that I copy and pasted from another flow. Every time I tried to pick a new enum value from the drop down the error would occur. I eventually just created a new action and it worked fine. I can try to reproduce the issue.

[2021-07-22 23:16] JonathanFingold commented on #8457
I finally got the skill published, but Composer still ripped out "*" from the allowed callers list. Not ideal.

[2021-07-22 23:43] srinaath commented on #8445
@lshade Yep. Definitely.

[2021-07-23 05:08] joytcw opened #8458 "Begin new dialog does not work on Bot Composer"
Trying to make a FAQ chatbot, I want it to collect the user profile and provide the FAQ based on the profile, then ask if they have anymore questions and if they click yes, to go back to collect the user profile dialog, but it gets stuck on the 'yes' part.

I have tried to end the dialog at the

this is where it gets stuck at:
![image](https://user-images.githubusercontent.com/87295427/126735650-6

[2021-07-23 06:29] arotena commented on #8431
Hi @hatpick
I follow this [tutorial](https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-ubuntu-20-04-es) with the option 3
The result of `which node` in my terminal is: `/home/xxxxx/.nvm/versions/node/v12.2.0/bin/node`

[2021-07-23 06:47] SharmaHarsh7 commented on #8002
The issue was because of NodeJS 12 when I tried with 14 it worked.

[2021-07-23 06:56] tamasschmolcz commented on #8439
@dmvtech THanks, that was indeed the issue...it is all about the details! ;)

But now I am wondering, is it possible to restart the "whole" dialog? It is actually only repeating the red part. "Begin a new dialog" does not work, as I cannot select the current one. Otherwise I need to find an other approach.

![image](https://user-images.githubusercontent.com/48097252/126747244-40cc58d6-13df-4617-92

[2021-07-23 07:07] SupriyaBhogi commented on #5453
After creating a sample bot in composer and  I copied the Authoring key and prediction key from Azure and filled them onto LUIS authoring key and LUIS endpoint key in Bot framework Composer Project Settings, and restart the bot and test in the emulator. the welcome message shows up but when I type Hi and press enter I will get a message like
Response status code does not indicate success: 403 (For

[2021-07-23 07:16] mhtmht commented on #8432
Good to now that interactive login is not supported for package manager. Might be good to highlight that in documentation as interactive login for provisioning might confuse other adventurers also.

I have not as I'm aware of how to pass the needed information to Nuget. Is there an example somewhere that I could take a look at? If not then this might also be a good addition to documentation. Until

[2021-07-23 08:47] arafattehsin commented on #8448
Unfortunately, when I tried to put it in the dialog, I started getting `Object set to no reference..` and then just to try I put it in the Greeting trigger, I got this;

![image](https://user-images.githubusercontent.com/16351038/126758486-ea22a227-ac8a-41ae-b773-22c1b68871be.png)

I also tried to debug it by attaching a process but it did not reach there.

[2021-07-23 13:56] Cameron-Gonzalez opened #8459 "Array Object Properties Not Persisting Outside of Dialog"
## Describe the bug

So I have an array, let's call it `user.questions` that I want to persist throughout the user's interaction with the bot. Every time I add an item to the array, I first create the item by creating a `dialog.question` with `dialog.question.index` and `dialog.question.text` properties, then push this item to the `user.questions` array.

When I am in a separate dialog, I go throu

[2021-07-23 16:09] #8429 closed

[2021-07-23 16:11] #8401 closed

[2021-07-23 16:30] srinaath commented on #8452
Thats right @dawwa the validation is on the UI. I think it makes sense for us to do a validation of the intent name if the schema is directly updated in "Show Code".

[2021-07-23 16:50] hatpick commented on #8431
@arotena the reason you have the original issue is that node is not on your PATH (env variable) when you run Composer normally. In order for nvm to manage multiple versions of node, it needs to keep the executables under .nvm and then add it to current user profile PATH.
Ubuntu runs AppImage apps in a different context that does not load your user bash profile. So as a result it's not aware of the

[2021-07-23 17:00] adjit opened #8460 "Prompt for text not working in False branch of If statement"
The image is a bit small, however, the Prompt for Text in my False branch was not triggering. But I was able to send a response before and after the prompt. As a workaround I was able to create another Branch if/else, and negated my initial if condition and put the prompt in the True branch. It is possible that there is something causing this, but doesn't seem like expected behavior to just skip a

[2021-07-23 17:12] adjit commented on #8460
So apparently this is caused when the property to be set by the prompt is initialized in a the True branch. I moved the initialization of the property to before the if/else and it is now working

[2021-07-23 17:12] #8460 closed

[2021-07-23 17:52] tamasschmolcz commented on #4816
Is there any update?

[2021-07-23 20:06] mohsenualam opened #8461 "Error during publishing a bot"
I was able to consistently modify and publish a bot to Azure, which was developed using Composer. I did some modification today, but receiving this error while trying to publish the bot:

I haven't used any LU/LUIS features. The recent changes that I made don't have anything to do with LU.

## Version
Version:  2.0.0-nightly.261016.3eeeccc
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8:

[2021-07-23 22:42] dawwa opened #8462 "Is multi-level menu supported?"
The following syntax seems providing a root menu spot, is there someway I can make more than two levels of menu to organize our components?

{
  "$schema": "https://schemas.botframework.com/schemas/ui/v1.0/ui.schema",
  "menu": {
    "submenu": ["My Bot Actions"]
  }
}

[2021-07-24 00:15] stevkan commented on #8251
Closing due to inactivity.

[2021-07-24 00:15] #8251 closed

[2021-07-24 07:41] tamasschmolcz opened #8463 "Complex Adaptive expression "equal" does not resolve to "true""
Hello,

I like to work with adaptive expressions and its prebuilt functions for the validation, but I do  not manage do get the following expression working.

or(equals(dialog.identityCardType, 'Personalausweis'), equals(dialog.identityCardType, 'Reisepass'))

It simply does not resolve to true, so I can continue the dialog after the user input. I do not see any mistake in the definition.

Thanks

[2021-07-24 12:04] davidfischl commented on #7737
Thank you Tony, appreciated!

[2021-07-24 14:06] mikhailgithub opened #8464 "Uncaught SyntaxError when setting Allow Interruptions"
## Describe the bug

Trying to open Allow Interruptions dropdown in a dialog, getting this error:

Uncaught SyntaxError: Failed to execute 'querySelector' on 'Document': '#root[6hyB6Y].allowInterruptions-list2' is not a valid selector.

## Version

v2.1.0

## Browser

- [ ] Electron distribution
- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## T

[2021-07-24 14:18] rvinothrajendran opened #8465 "Community package filter is missing in Package manager"
## Describe the bug

Community package filter is missing in Package manager

## Version

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## Screenshots
![image](https://user-images.githubusercontent.com/16264167/

[2021-07-26 08:13] Danieladu commented on #4816
hi @scheyal , sorry for the delay reply. This issue has been fixed by this PR: https://github.com/microsoft/botbuilder-dotnet/pull/5072
Please update your SDK to >= 4.12 version to achieve the fix.
Thanks!

[2021-07-26 08:45] #8458 closed

[2021-07-26 10:03] boydc2014 commented on #4816
Thanks @Danieladu helping investigating this.  @tamasschmolcz Please try the latest composer version. Closing this for now, free feel to reopen if this hasn't solve this issue.

[2021-07-26 10:03] #4816 closed

[2021-07-26 15:08] tamasschmolcz opened #8470 "Initializing PVA Variables for Usage as Property in Composer"
Hello,

is there a doable way to initialize variables in PVA in order to use them via "virtualagent.variable" in Composer? I tried to initialize an example variable via a powerflow in PVA.

![image](https://user-images.githubusercontent.com/48097252/127012780-dcb8485d-eeef-4bd1-a400-3abf474f3fa9.png)

But get the following message:

"A problem occurred while running the Composer dialog. The variab

[2021-07-26 15:51] JelleDK98 opened #8471 "Composer does not trigger intent when using list type entity"
## Describe the bug

When using list type entity in a trigger the luis trace shows the correct intent but the composer triggers "intent unknown" trigger. when checking the trace log the value is: `{\r\n  \"lgType\": \"Activity\",\r\n  \"text\": \"ChooseIntent\"\r\n}",`

## Version
Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Ele

[2021-07-26 16:37] hatpick commented on #8461
@mohsenualam what were the "modifications" you made?

[2021-07-26 17:33] Uggi opened #8472 "with 2.1 the Value field of a Trace Activity is throwing warnings where it did not previously"
## Describe the bug

Pre 2.1, I could have the Value field of a trace activity, with a value type of string, without quotes and just call properties as needed. no warning was raised.
`turn.activity.listOfScores = ${turn.activity.listOfScores}`
`turn.activity.value = ${turn.activity.value} and turn.activity = ${turn.activity}`

No single quotes were necessary as they were always implied.
I now have

[2021-07-26 17:43] mareekuh opened #8473 "Link to termplates doc gives 404"
1. - Go to Composer docs
2. - go to '[Create your first bot with a template' ](https://docs.microsoft.com/en-us/composer/quickstart-create-bot?tabs=v2x)
3. Click ' template'
4. Get 404 instead of documentation
See screenshots below

Im on a Mac, Chrome browser.

![Screen Shot 2021-07-26 at 10 38 40 AM](https://user-images.githubusercontent.com/48503434/127034022-06d94160-d147-492f-b12f-7b5fa80707c

[2021-07-26 18:00] mohsenualam commented on #8461
I just added a few new triggers and dialogues using same structures as existing ones.

However, I was able to fix it. My root dialogue's Recognizer was set to Regular Expression and all other dialogue's Recognizer was set to Default; this settings worked well with earlier version. I had to change all dialogue's Recognizer to Regular Expression, then I was able to publish the bot.

[2021-07-26 18:06] taicchoumsft commented on #8464
@srinaath , can you repro this?

[2021-07-26 18:06] benbrown commented on #8465
@rvinothrajendran the default nuget and npm feeds now contain any package with the msbot-component tag. This includes packages published by the community.  The community feeds found in earlier preview builds has been combined with this one.

You can create your own feed using different criteria using the "Edit Feeds" button in the toolbar.

Let me know if I am somehow misunderstanding.

[2021-07-26 18:17] taicchoumsft commented on #8188
Closing due to resolution.

[2021-07-26 18:42] taicchoumsft commented on #8117
@mohsenualam , sorry for the inconvenience.  Do you think you can grab some logs for us?  Can you start Composer with logging and grab some logs:

in a `cmd` window (assuming you're running Windows):
1. cd into the directory where Composer is installed.  On a default user install, it will be here:
[code]
2. set debug on: `set DEBUG=*`
3. start composer app from the `cmd` window: `"Bot Framework Co

[2021-07-26 19:43] hatpick commented on #8461
Yeah the default recognizer uses Luis, you need to set them to Regex.
Sounds like your issue is fixed, closing it.

[2021-07-26 19:43] #8461 closed

[2021-07-26 20:41] JonathanFingold commented on #8473
This is a known issue and being tracked via https://github.com/MicrosoftDocs/composer-docs/issues/149.

[2021-07-26 20:41] #8473 closed

[2021-07-26 23:18] dmvtech commented on #8439
Indeed! 😆

I'm not sure I'm following. In your initial branch, you are checking `user.SetLocation` equals `1`. But in your false branch (red square), if also falling the false path there, you are setting `user.setLocation` to `0`. The dialog will then get repeated, starting at the very top. The check will see if it equals zero (in which it doesn't), then will follow the false branch again. Do you

[2021-07-26 23:18] #8439 closed

[2021-07-27 01:17] michaelvassilchenko opened #8474 "Uncaught SyntaxError"
For context, I've just begun working with Bot Framework Composer and am following the weather bot tutorial https://docs.microsoft.com/en-us/composer/tutorial/tutorial-add-help?tabs=v2x

I ran into the following issue when attempting to set Allow Interruptions to True in a User input (Text) block:
![uncaught syntaxerror issue](https://user-images.githubusercontent.com/88011766/127079542-9f4af781-d8

[2021-07-27 01:57] luhan2017 commented on #8457
@JonathanFingold I can't reproduce this issue from my side. This is not a skill specific issue, please refer to #8283. This could caused by insufficent permission to create the App or the app creation api instability.  @GeoffCoxMSFT for awareness.

[2021-07-27 03:23] michaelvassilchenko commented on #8474
I read about toggling developer console, here is what i am receiving:
![image](https://user-images.githubusercontent.com/88011766/127090370-724b0e97-512a-41dc-9618-567b95abb9ef.png)

[2021-07-27 05:29] hatpick commented on #8474
Duplicate of #8455. It's due to a bug in Fabric UI that is fixed in office-ui-fabric-react@v7.93.1 and after.

[2021-07-27 05:31] hatpick commented on #8474
Duplicate #8464

[2021-07-27 05:31] hatpick commented on #8455
It's due to a bug in Fabric UI that is fixed in office-ui-fabric-react@v7.93.1 and after.

[2021-07-27 12:00] goergenj opened #8475 "[MCS-DE] Syntax Validation LU preBuild Entities does not consider locale"
With Composer v2.1 a preBuild entityname error for a reserved name is thrown. However the mentioned preBuild entity does not exist in the locale (de-DE) of the model, only in English.

Syntax checker should not throw an error in this case.

![image](https://user-images.githubusercontent.com/31212469/127149674-dc6cbb39-9ca9-49d2-81a1-7cb1c3aa6c03.png)

[2021-07-27 14:25] victorlamana opened #8476 "XPATH function doesn't work on Node.JS bots..."
## Describe the bug

There is no "xpath" function available for node.js bots...when I search on the object manipulation submenu it only shows a C# restricted version of the function:

![image](https://user-images.githubusercontent.com/52974336/127170292-4b16b88b-ed1f-4126-8ca1-74650341d4e9.png)

However if I type "=x" on the value field it shows another xpath function which implies that works with

[2021-07-27 14:29] victorlamana commented on #8476
On the documentation it's not clear if XPATH function only works with C# or not
https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#xpath

[2021-07-27 15:01] bradrlaw opened #8477 "No way to disable public repo access"
Working with a large financial client that has a common industry security practice of filtering and blocking public repo access.  There is no method to turn off the default public repo access and Composer always attempts to access the repo locations at startup / going to the package manager.  For this client, this causes a security exception to be thrown on the developer's machine.

There needs to

[2021-07-27 15:21] michaelvassilchenko commented on #8474
I have never used fluentui, is that something I need for bot framework composer? How would I install version ofice-ui-fabric-react@v7.93.1?

[2021-07-27 15:32] benbrown commented on #8188
Thanks for identifying the root cause, @Brent-Higgins. I will open a PR including this fix.

[2021-07-27 16:15] hatpick commented on #8474
@michaelvassilchenko the resolution is not for you, it's for the team to fix this. Sorry if it was misleading.

[2021-07-27 17:02] michaelvassilchenko commented on #8474
@hatpick Sorry if I am misunderstanding but should I wait for the Composer team to fix this? What are my next steps to continue working with Bot Framework Composer?

[2021-07-27 17:04] tonyanziano commented on #8477
@benbrown can you please take a look at this?

[2021-07-27 17:08] tonyanziano commented on #8476
On the Composer side:

We need to update [this description](https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/tools/built-in-functions/src/builtInFunctionsMap.ts#L868) in the built-in functions map to specify that this is currently only a C# function.

On the SDK side:

We need to add an equivalent NodeJS version of the xpath built-in function for parity.

[2021-07-27 17:11] tonyanziano commented on #8475
@stevkan can you please verify this issue?

[2021-07-27 17:15] tonyanziano commented on #8474
Closing as this is a duplicate of both #8455 and #8464

@michaelvassilchenko you do not have to fix anything on your side. The Composer team will bump the fluent dependency in our codebase and update the DOM IDs so that this doesn't happen anymore.

[2021-07-27 17:15] #8474 closed

[2021-07-27 17:15] tonyanziano commented on #8464
Closing as a dupe of #8455 and #8474 -- please see #8474 for an explanation of the underlying issue.

[2021-07-27 17:15] #8464 closed

[2021-07-27 17:17] tonyanziano commented on #8455
@srinaath this should be considered for R15

[2021-07-27 17:19] tonyanziano commented on #8472
@stevkan can you please try and reproduce this?

[2021-07-27 17:23] JonathanFingold opened #8479 "Can't connect to remote skill: "Cannot read property 'default' of undefined""
## Describe the bug

Create a local root and a local skill bot, then publish and try to connect to the remote skill. Get mysterious behavior and error message:

## Version

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ]

[2021-07-27 17:27] taicchoumsft commented on #8471
Hi @JelleDK98 , are you using QnA Maker in this dialog as well?

If you are using QnAMaker, can you also attach a trace here for when you see the `ChooseIntent`?

[2021-07-27 17:28] #6356 closed

[2021-07-27 17:30] tonyanziano commented on #8462
@dawwa this is possible, please refer to our [new UI Schema documentation](https://github.com/microsoft/BotFramework-Composer/blob/main/docs/ui-schema.md#action-menu) to see how to accomplish this.

The example from the docs:

[code]

Output:

![image](https://user-images.githubusercontent.com/3452012/127200523-d2c86ed6-55d1-4e70-802f-939a74538750.png)

[2021-07-27 17:30] #8462 closed

[2021-07-27 17:31] taicchoumsft commented on #8459
Thanks @Cameron-Gonzalez for this detailed report.  @hatpick  , @srinaath , do you have any thoughts on this?

[2021-07-27 17:33] JonathanFingold commented on #8479
Indeed, the following work around fixed my problem, but I don't want to instruct users to do this as a matter of course:

1. Copy the skill manifest from the remote URL.
2. Replace the local skill manifest with the copied one.
3. Remove the empty object from the endpoints list.
4. Republish the skill.
5. Now, you can can add the remote skill to your root bot project via the manifest. 🤦‍♂️

[2021-07-27 17:43] tonyanziano opened #8480 "Fix the description for the C# only "xpath" pre-built function"
Currently, the SDK only exposes an `xpath` prebuilt function for the C# runtime and not the NodeJS runtime. However, the in-app description for the `xpath` function does not specify this in all parts of the UI where it is exposed.

[This description in the code](https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/tools/built-in-functions/src/builtInFunctionsMap.ts#L868)

[2021-07-27 17:56] JelleDK98 commented on #8471
Hi @taicchoumsft , yes we are using QnA Maker as well. This is the trace when we see the `ChooseIntent`

`{
  "activity": {
    "type": "trace",
    "serviceUrl": "http://localhost:5000",
    "channelId": "emulator",
    "from": {
      "id": "bc55d027-b295-4927-8687-600d59bdb15d",
      "name": "Bot",
      "role": "bot"
    },
    "conversation": {
      "id": "77cc379f-88db-4c0e-a109-a7720ab986

[2021-07-27 18:03] JonathanFingold opened #8481 "Missing: no indication in the project pane when you've selected a remote skill"
## Describe the bug

When you select a remote skill, there's no indication in the project pane which item is selected.

## Version

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprod

[2021-07-27 18:09] JonathanFingold commented on #8481
After removing the local skill from the project and then selecting the remote skill again, now I'm seeing the [mostly] correct information again for the remote skill?!
![image](https://user-images.githubusercontent.com/35047199/127205830-5cf2087a-0b58-4bb7-ae03-433c5bc26fd8.png)

[2021-07-27 18:09] benbrown commented on #8477
@bradrlaw thank you for your feedback. The current version of Composer uses the public package management tools like npm and nuget to deliver new bot templates as well as their related dependencies.  There is not currently a way to replace the new bot template feed with a private version.

HOWEVER, you can add private feeds to package manager in order to install components from alternate sources.

[2021-07-27 18:13] taicchoumsft commented on #2006
@beyackle , does this fall under your purview?

[2021-07-27 18:15] JonathanFingold commented on #8481
More fun. Add the local version of the skill back into your project. See that the manifest information for the remote skill has changed again, but not the same as what we saw before. 🙄
![image](https://user-images.githubusercontent.com/35047199/127206450-e5f2768a-3659-49cc-a922-daeb7ed45958.png)

[2021-07-27 18:56] tamasschmolcz opened #8482 "PVA "System Fallback function" not triggered from within Composer Dialog Interruption"
Not sure it is an expected behaviour: I set the "Allow Interruption" Flag to "True". This allows me to call a different PVA Topic without any problem from within a composer dialog. But I am not able to trigger the PVA System Fallback function, which is linked to qnamaker based on power automate. The System fallback works fine in general.

I am about to integrate now the Fallback via an "Unknown in

[2021-07-27 19:00] taicchoumsft commented on #8471
Thanks @JelleDK98.

If you don't have one already, can you add a "Duplicate Intents" trigger to the dialog (it will be in the dropdown list of triggers you can add)?  Because both Luis and QnAMaker are in the mix, and both of them have results for the customer based on this utterance, the duplicate intents trigger is needed to ask the user which intent he/she actually meant.

If this doesn't resol

[2021-07-27 19:02] srinaath commented on #8479
@luhan2017 We are able to see this empty object inside the endpoints array when exporting the bot as a skill is done with no triggers selected. Could we try to resolve this?

[2021-07-27 20:13] JelleDK98 commented on #8471
@taicchoumsft that did the trick. so to fix this we need to better train LUIS/QnA?

[2021-07-27 20:15] tonyanziano commented on #8470
@tamasschmolcz as of right now, PVA does not support arbitrarily setting variables. They are currently associated with initializers such as "Ask a question".

[2021-07-27 20:15] #8470 closed

[2021-07-27 20:19] tonyanziano commented on #8470
@tamasschmolcz when you exported the variable from the Power Flow, did you make sure to mark the variable as global by setting it to Bot scope?

[2021-07-27 20:28] taicchoumsft commented on #8471
Hi @JelleDK98 , yes, If you can fix the training so that this utterance will not cause both recognizers to return an intent simultaneously, this is ideal.

In some cases, ambiguity cannot be removed.  It should be ok to keep this duplicate intent trigger, and we recommend using it whenever you have QnA and LUIS used together in the same dialog.

[2021-07-27 21:24] tamasschmolcz commented on #8470
@tonyanziano thanks for the clarification

[2021-07-27 21:26] tamasschmolcz commented on #8470
@tonyanziano yes I did and thanks for the clarification. Looking forward to the implementation.

[2021-07-27 22:12] victorlamana commented on #8255
Hello @dmvtech , thanks for the explanation!! I'll close the issue

Once again, thanks for all the support  :)

[2021-07-27 22:12] #8255 closed

[2021-07-27 23:44] dmvtech commented on #8459
Hi @Cameron-Gonzalez

It might be something slightly different in how you've set up your properties. I am able to get it to work. Let me share my bot with you and see if you can find any differences.

[2021-07-27 23:50] dmvtech commented on #8459
@Cameron-Gonzalez  Try my bot and see if it works for you.
https://github.com/dmvtech/testpropsinarray

If so, see if you can discern what the difference might be (or if I completely misunderstood the situation).

[2021-07-28 05:13] joytcw opened #8483 "Error publishing Bot to Azure using Bot Framework Composer"
When I try publishing my bot to Azure, I get an error saying the required resources (Microsoft Bot Channels Registration) were not provisioned (attached as a screenshot):

Error:
![image](https://user-images.githubusercontent.com/87295427/127267232-c3221e26-7cb4-4d73-ae6e-ef6c3e237b34.png)

But when I create new resources when publishing, it says that the Microsoft Bot Channels Registration is a r

[2021-07-28 05:40] SSanjeevi opened #8484 "Bot Composer dotnet core enterprise assistant build size comes to 1Gb which is containing many libraries which are actually not added"
## Describe the bug

Bot Composer dotnet core enterprise assistant build size comes to 1Gb which is containing many libraries which are not added by me and not used at all.

## Version

2.0.0

## Browser

Desktop version

- [ 2.0.0] Electron distribution

## OS

Windows OS

## To Reproduce

Steps to reproduce the behavior:

1. Create a Enterprise Assistant sample bot
2. publish it to Azure or crea

[2021-07-28 06:30] tamasschmolcz commented on #8470
@tonyanziano With a refreshed mind,  I checked again the variable  triggered by your hint. And the problem was indeed, I have not declared it as a global one. After doing so, I am now able to trigger the flow, initialize the variable and being able to use it in a composer dialoge first time later on. That is real help!

[2021-07-28 06:43] tamasschmolcz commented on #8439
@dmvtech I think I got the "issue" - the "always prompt" flag was set to false, so I could not see the right part. ;-)

[2021-07-28 07:45] xieofxie opened #8485 "Bot created in Composer doesn't show 'Open In Composer' in Azure"
## Describe the bug

![image](https://user-images.githubusercontent.com/2876650/127284082-88d96cb5-4bf4-4536-b9c0-6d7787a44d59.png)

should be:

![image](https://user-images.githubusercontent.com/2876650/127284064-e842f370-fff0-4b6e-bef2-9f71787edabe.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ]

[2021-07-28 08:27] #8483 closed

[2021-07-28 09:49] romanrodriguez-sp opened #8487 "Copy & Paste dialog items keeps some references"
## Describe the bug

Dialog action can be copied (Ctrl+C) and pasted (clicked on + button  and select "Paste" menu item), but when user applies changes on pasted item the original one mutates.

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2021-07-28 11:26] jrdamiano opened #8488 "Bot Composer trigger does not work with "User Input (Choice)""
## Describe the bug

I've realized that triggers does not work when user input is requested via "Ask a question >> Multichoice". If a user writes anything on the bot text box different from "Choice options", trigger does'n work.

## Version

Bot Composer 2.1.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

[2021-07-28 12:00] #8471 closed

[2021-07-28 12:13] tamasschmolcz commented on #8482
I have the same experience, when using an "unknown intent" trigger build with composer, it is not triggered within a dialog. Flag "allow interruptions" is set to "True" . The given value should trigger it, as the value is not a an expected answer in the context of the dialog. Do I misinterpret the functionality?

[2021-07-28 12:16] #8428 closed

[2021-07-28 12:17] tamasschmolcz commented on #8433
I have not experienced issue anymore. I suppose it is/was a local problem.

Thanks anyway.

[2021-07-28 12:17] #8433 closed

[2021-07-28 12:23] jrdamiano commented on #8488
Solved...
Reading more docs I've found the way to make this possible by setting "User Input (Choice)" parameter "Allow interruptions" to true. In this way trigger does fire correctly.

[2021-07-28 15:20] tonyanziano commented on #8470
@tamasschmolcz awesome! Glad to hear that it works now. 🙂

[2021-07-28 16:36] EricDahlvang commented on #8448
Hi @arafattehsin

Unfortunately, I don't think we have an example of a custom DoWhile component using the new sdk BotComponent dependency injection automatic registration.

Also, it should no longer be necessary to modify the Composer source, but it should be possible to define the flow type within the .uischema:

[code]

If you are using the old registration method, and not BotComponent, then it

[2021-07-28 16:37] srinaath commented on #8487
@romanrodriguez-sp We are able to repro the bug and trying to get a solution. Thanks.

[2021-07-28 16:42] srinaath commented on #8485
@luhan2017 Could you have a look at this ticket?

[2021-07-28 17:12] dmvtech commented on #8186
Closing due to lack of response. If you are still having issues, please respond with the answers to the above queries and we will reopen.

[2021-07-28 17:12] #8186 closed

[2021-07-28 17:28] dmvtech commented on #7860
@ctharmon722

As this issue is no longer exhibiting in 2.0.0 or later (due to how we handle and understand multiple tenants), and we are unable to reproduce the issue on our end; you will need to live with the workaround you have, or port your custom action over. Our apologies for the inconvenience.

[2021-07-28 17:28] #7860 closed

[2021-07-28 17:32] bradrlaw opened #8489 "ECONNRESET error when publishing to existing resources"
## Describe the bug
Publishing from composer fails with a ECONNRESET error when attempting to publish to existing resources.  A large client is experiencing this behavior and we cannot see any information that could help debug / resolve the issue.

--- "{\"name\":\"DEPLOY_ZIP_ERROR\",\"message\":\"There was a problem publishing bot assets (zip deploy). {\\\"stack\\\":\\\"Error: read ECONNRESET\\\\

[2021-07-28 18:43] srinaath commented on #8482
@tamasschmolcz We are investigating this today. The fallback topic is the equivalent of an Unknown Intent trigger implementation of Composer and hence if the interruption is not picked up by utterances of any topic it should be delegated to the Fallback Topic.

[2021-07-28 18:53] JonathanFingold opened #8490 "Skill added from zipped manifest files causes manifest URL to be broken in Composer"
## Describe the bug

I've added a skill by using a zipped manifest. When I try to view the Manifest URL link in Composer for the skill, Composer opens a link in my browser that fails to resolve.

## Version

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

##

[2021-07-28 19:19] hailiu2586 commented on #8485
@srinaath, depends on which azure cloud is the repro reported.
Btw, I don't see repro instruction that is actionable in the issue report

[2021-07-28 19:25] hailiu2586 commented on #8485
Btw, if the bot is created from composer originally, then the issue goes to composer team to investigate. Also, it might be worthwhile to check the version of composer used to create the bot

[2021-07-28 19:31] #8271 closed

[2021-07-28 19:43] stevkan commented on #8472
@tonyanziano, I was able to repro the issue once. But, unable to repro any, again. I don't remember what steps I took to get the error to show in the UI, but everything I tried, including trying to retrace my steps (no pun intended), failed to repro after the first occurrence.

However, a warning is shown in the 'Problems' output that does capture the same message that was displayed in the error (

[2021-07-28 19:50] tamasschmolcz commented on #8482
@srinaath thanks ! apart from the issue -following your post ,  does this mean the „unknown intent  trigger“ in composer has no function due to the availability of the pva system fallback?

[2021-07-28 20:25] tonyanziano commented on #8480
This is actually wrong, and `xPath` is exposed to the JS runtime, it just needs to be cased properly:

`xPath` works
`xpath` **does not** work

[2021-07-28 20:25] #8480 closed

[2021-07-28 21:34] arafattehsin commented on #8448
Hi @EricDahlvang

Thanks for your response. I've got the action from this [link](https://github.com/microsoft/BotBuilder-Samples/commit/bdcd59956f40a9b17a557ca830f1bf68b143f765) and built it, add it to my local nuget and install it in Composer like just another new package (using BotComponent, I think)

After adding it, I can see the package is there;

![image](https://user-images.githubuserconten

[2021-07-28 21:39] srinaath commented on #8485
@hailiu2586 Yep. That makes sense. @xieofxie could you specify the Composer version in which the bot was generated and published. In addition, could you specify the Composer version with which you published the bot as well the region used to publish?
![Screen Shot 2021-07-28 at 2 38 48 PM](https://user-images.githubusercontent.com/13004779/127399774-38b281f9-8874-4669-931f-915897d2fa7c.png)

[2021-07-28 22:01] anusharr commented on #8049
We reviewed the docs and figured that the issue was most likely something to do with how the existing bot was configured.

[2021-07-28 22:01] #8049 closed

[2021-07-28 22:33] dmvtech commented on #8162
Hi @alishajain7

While a skill can indeed be a skill consumer in itself (in the Bot Framework), the functionality to accomplish this in Composer isn't there.

I tried to get it working (a workaround) by creating a skill (Skill B), then creating another skill (Skill A) that then consumed that skill. Then finally, creating a bot that implemented calling Skill A, but had both Skill A and Skill B list

[2021-07-28 23:39] stevkan opened #8491 "Unable to highlight a group of words with Ctrl + Shift + Left Arrow"
## Describe the bug

Highlighting a group of words, from right to left, using Ctrl + Shift + Left Arrow un-highlights the previous word before highlighting the next word.

## Version

2.1 and previous

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Selec

[2021-07-29 02:38] luhan2017 commented on #8490
@vivekkshankar , Do you have suggestion on this?

[2021-07-29 02:45] luhan2017 commented on #8485
@hailiu2586 and @srinaath , I have investigated and found that composer provisioned Azure bot don't have this property: " openWithHint: 'bfcomposer://", But in composer code, we did have this code piece, so I doubt this could be an issue of azure sdk? even I updated https://www.npmjs.com/package/@azure/arm-botservice version to the latest 3.0.0, the azurebot is still not provisioned with the corre

[2021-07-29 02:57] joytcw opened #8492 "Published Azure bot sends previous conversations' messages after refreshing 'Test in web chat'"
I created a bot with the Bot Framework Composer (v2.1.0) and published it to Azure, but when I test it in web chat and I press start over, the previous conversations replies will appear and I can't seem to get the bot to start from the beginning.

When I deploy to a test ASP.NET Core webpage on VS 2019, duplicated messages are sent and previous conversations messages are sent too.

I can't seem to

[2021-07-29 04:28] #8479 closed

[2021-07-29 06:09] #8443 closed

[2021-07-29 10:01] #8492 closed

[2021-07-29 13:10] rR6kULhc5xgS commented on #8472
@stevkan I'm experiencing the same issue where I have an error underneath the input box, but it's just a warning in the "Problems" tab. Everything still builds fine, but these warnings/errors weren't there prior to Composer 2.1. Adding quotes removes the error.

![image](https://user-images.githubusercontent.com/88147020/127497409-c003a7e3-ac42-4c3c-b812-86d5e9b1e751.png)

![image](https://user-im

[2021-07-29 15:46] Intelliteckai opened #8493 "Issue Publishing Bot Framework Composer to Azure"
When I try publishing the bot to Azure, I get the error

<img width="1151" alt="Screenshot 2021-07-26 at 12 20 16" src="https://user-images.githubusercontent.com/87998355/127523318-753103ed-36a2-4a33-a790-d4da97e9a7fc.png">

[2021-07-29 16:29] tamasschmolcz commented on #8482
@srinaath  @taicchoumsft   I tested the "unknown intend" functionality.

Scenario :  PVA Fallback Topic and "unknown intent" trigger in composer is setup.

"Unknown intent" Composer  trigger takes precedence over the Fallback topic. If removed, Fallback topic works.

However, as soon as I am in a "dialog" path and an input is expected, it is impossible to trigger one of them. The bot forces me to

[2021-07-29 16:33] srinaath commented on #8493
@Intelliteckai Could you follow the issue template we currently have indicating the version of Composer, OS etc.

[2021-07-29 16:43] srinaath commented on #8489
@bradrlaw To help us understand the ticket furthur could you lets us know the size of the zipped assets being published and if its consistenly reproable. In addition, on the azure portal can you go check in the Advanced tools --> Tools --> zip Deploy UI. This interface should show real time logs as you publish the zip to azure.

![Screen Shot 2021-07-29 at 9 40 59 AM](https://user-images.githubuse

[2021-07-29 17:05] Intelliteckai commented on #8493
@srinaath I thought i was following the issues template on here as i used the "other" template. i didn't think the bug or feature request templates were appropriate. Do you have a particular one in mind?

The version of the composer is 2.0.0, the operating system is mac os.
When you ask for the publishing profile, do you mean the .json file?

[2021-07-29 17:11] hailiu2586 commented on #8485
@luhan2017  below is the arm payload the azure portal used to create azurebot

[code]

Is the composer code using client js sdk or direct arm put to provision azure bot?

[2021-07-29 17:53] tamasschmolcz commented on #8482
@srinaath  @taicchoumsft   I tested the "unknown intent" throughrly.

Scenario :  PVA Fallback Topic and "unknown intent" trigger in composer is set.

A PVA topic(dialog) uses the Fallback Topic.  An "Unknown intent" Composer trigger is used by an Composer dialog. So in an PVA / Composer Bot integration scenario, for both "dialoges" type the appropriate "Unknown Intent" trigger needs to be set. A

[2021-07-29 17:54] Intelliteckai commented on #8493
{
  "name": "smartdesk1",
  "environment": "Azure DevTest",
  "tenantId": "ba3c42f4-8aa0-47e6-a3d2-81faec4e7f4b",
  "hostname": "smartdesk1",
  "runtimeIdentifier": "win-x64",
  "resourceGroup": "virtualDesk-RG",
  "botName": "smartdesk1",
  "subscriptionId": "4e81d975-8fdc-4321-a0fd-f7669f448db7",
  "region": "UK South",
  "appServiceOperatingSystem": "windows",
  "scmHostDomain": "",
  "luisReso

[2021-07-29 17:57] dawwa opened #8494 "Instruction needed for testing through Microsoft Teams and ngrok"
There is instruction about testing through Web chat and Emulator, would you please provide instruction about how we can test root boot and multiple skill bot through Teams Channel with setting up ngrok tunnels?

I tried to arrange the applicationUrl in launchsettings.json of each runtime project, and launch all projects with creating ngrok sessions for them and config the bot service channel messa

[2021-07-29 18:07] taicchoumsft commented on #8435
Closing due to inactivity. @tomaskeong  please re-open if you're still seeing an issue. Thanks.

[2021-07-29 18:07] #8435 closed

[2021-07-29 18:37] stevkan commented on #8475
@goergenj, I was able to confirm that the `personName` entity is in fact reserved across all languages by LUIS. This is by design so that if and when this prebuilt entity is included in other languages (beyond English and Chinese) it will be available and won't conflict with similarly named user-defined entities.

I'm closing this as resolved as this should address the issue. If, however, it does

[2021-07-29 19:07] srinaath commented on #8493
@Intelliteckai I just deleted your previous comment due to sensitive info exposed in a public github repo.

[2021-07-29 19:11] srinaath commented on #8493
So, wht you had pasted was the appsettings.json. The publishing profile is in this view when hit "Edit". Its basically the data that is required to publish to azure. If you can "redact" sensitive data and paste the profile we could see what properties are missing in the profile. Another step to try is what is documented here https://github.com/microsoft/BotFramework-Composer/issues/8489. Basically

[2021-07-29 19:48] victorlamana opened #8495 "Issue with multiple-choice questions after publishing"
After I succesfully published my bot, both of my multiple-choice questions stopped sending the question prompt to the user (it only sends the answer array). On Composer it still works normally tho

Print on the web:
![image](https://user-images.githubusercontent.com/52974336/127556295-86c55444-00f1-491a-beda-8f503bdf9849.png)

Composer print with the question prompt:

![image](https://user-images.

[2021-07-29 20:19] Intelliteckai commented on #8493
can you please be specific about what you need. I am not too familiar with the bot composer or azure bot service itself.
there isn't any useful information from the diagram above.
on clicking edit i get 3 options; create new resources, import existing resources or hand off to admin. I already have a bot in azure so i am using the import existing resource, so when i click next i get the json file.

[2021-07-29 21:10] goergenj commented on #8475
@stevkan This needs to be reopened. Since Composer v2.1 throws an error you cannot start a Bot. In languages which do not  support the preBuild entity you need to be able to train it with the reserved name to enable multi-language Bots which use languages with and without preBuild entity. Composer should max. throw a warning but not prevent the bot application to be started! This behaviour was not

[2021-07-29 21:39] humak opened #8496 "File or attachment input: After asking for image input, it is remaining in pending state, then fails"
Hello,

I am using Composer v2.1.0 nightly.
Version:  2.1.0-nightly.261240.6039ff3
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

I am trying to ask for user input to get an image from the user. Following the tutorial here: https://docs.microsoft.com/en-us/composer/how-to-ask-for-user-input?tabs=v2x#create-an-attachment-input-action
Nevertheless, it is remaining i

[2021-07-29 21:57] victorlamana commented on #8495
Tried on the Azure portal and same results:

![image](https://user-images.githubusercontent.com/52974336/127571028-e87724f5-0c64-402c-b379-53ca1a733c36.png)

Any help is appreciated

[2021-07-29 22:30] taicchoumsft commented on #2006
Hi, @Amit8527510735 , this was fixed back in June 2020 and my understanding is this is potentially awaiting your review/signoff before we can close the ticket.  Is this still the right course of action?

[2021-07-30 04:20] taicchoumsft commented on #8482
Hi @tamasschmolcz , thanks for the great investigation.

I will dig deeper into the PVA fallback vs Composer/BF unknown intent implementations to see if we can eventually remove confusion around the two.

[This is expected behavior](https://github.com/microsoft/botbuilder-dotnet/issues/5071#issuecomment-819167633).  If you're in a multi-turn prompt with a user (for instance when asking for input),

[2021-07-30 04:58] tamasschmolcz commented on #8482
@taicchoumsft Thanks for the link, that makes sense !

But there is one thing left/difference left, which I saw  yesterday during the test. When being in a composer created dialog, striking out the given three attempts , the system uses the default value to move on. Can‘t I instruct the Bot to check now the „unknown intent“ trigger? And if nothing is found or the „unknown intent“ dialog is done, t

[2021-07-30 11:59] SSanjeevi opened #8497 "In Bot telemetry the user message is not added by default with the current bot telemetry custom dimension"
## Describe the bug

In Bot telemetry the user message is not added by default with the current bot telemetry custom dimensions

## Version

2.1.0

## Browser

- Electron distribution

## OS

Windows OS

## To Reproduce

Follow this document to enable Bot telemetry in app insights.
https://docs.microsoft.com/en-us/composer/how-to-capture-telemetry

After successful enabling of bot telemetry, try t

[2021-07-30 12:03] victorlamana commented on #8495
I fixed the issue by deleting and recreating both of the multiple-choice question nodes. But the problem still exists and I can't replicate the problem on Composer/Emulator, it only appears after I publish the bot (which is very worrying)

[2021-07-30 12:42] #8465 closed

[2021-07-30 12:53] victorlamana commented on #8495
Update: Changing anything on these nodes bugs their visualization on Emulator and after publishing them, I need to recreate these nodes every time I make a change on this dialog

[2021-07-30 12:56] victorlamana commented on #8404
Reopening this issue because it still happens when I try to publish the bot, I need to manually the generated folder everytime I want to publish the bot

![image](https://user-images.githubusercontent.com/52974336/127656061-33270c5b-57c0-4d50-9ce6-7b18f0568d17.png)

[2021-07-30 13:30] aparnaji opened #8498 "Issue with QnAMaker Response"
## Describe the bug

Issue with QnAMaker Response if there is processing on the question

## Version

## Browser

- [ ] Chrome

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. As the user to enter question via  "Prompt For Text"
2. For the response sending to a HTTP request to do some processing
3. Invoked the Connect to QnA after this HTTP Call
4. The QnA is not runnin

[2021-07-30 15:24] victorlamana commented on #8246
This is a nice request, as of today I test my http requests on Postman but it would be nice to have a built-in test on Composer

[2021-07-30 15:27] victorlamana commented on #7952
Yeah this is much needed, changind dialog order would help too

[2021-07-30 17:26] tamasschmolcz opened #8499 "Complex condition not working with Branch if/else"
Hi,

I did some tests with a complex condition using Branch "if/else" :

dialog.topic != 'Hund an-/abmelden' || dialog.topic != 'Anderes Thema'

It does not resolve to False, when  the mentioned topics are choosen. However, when reducing the condition to a simple one:

dialog.topic != 'Hund an-/abmelden'

It works absolutely fine. I also tried the prebuiltin operators - same result.

## Version

v

[2021-07-30 17:31] tonyanziano commented on #8475
@goergenj you are right, I have verified that with a LUIS app using a Dutch locale, LUIS allows me to create an entity named `personName` because it is not supported in that locale:

![validation1](https://user-images.githubusercontent.com/3452012/127690232-3fe65cad-fc88-4ac9-92fc-20ad097549af.PNG)
![validation2](https://user-images.githubusercontent.com/3452012/127690233-5cd02e3c-8a47-4434-b522-0

[2021-07-30 18:23] stevkan commented on #8475
@goergenj @GeoffCoxMSFT, it seems there may be some confusion on this. On the one hand, when asking @chrimc62 about the prebuilt personName entity in LUIS, he stated in a Teams conversation:

and

However, as demonstrated above, the LUIS portal is allowing this to happen. I've reached out to a member of the LUIS team for clarification on which is right: Composer or LUIS portal. I'll post an update

[2021-07-30 18:35] stevkan commented on #8493
@Intelliteckai, to get to the publishing profile:

1. Click the 'Edit' button shown in the image above.
2. Select 'Import existing resources' and click 'Next'
3. Click into the frame that is housing the JSON
4. Copy and paste the JSON here ("redact" any sensitive data)

![image](https://user-images.githubusercontent.com/18403946/127697115-84de0425-59e9-41fb-a421-b9fa738dd989.png)

[2021-07-30 19:47] stevkan commented on #8496
@humak, can you tell me what client you are using for testing? It looks like it is Web Chat. Is this the built-in WC, a separate instance running outside of Composer, or something else?

[2021-07-30 21:26] rakudtar commented on #8489
@bradrlaw @srinaath I was also facing the same issue after upgrading the composer to 2.1.0.

After spending some time i was able to figure out that when we select "Import Existing resource" while creating creating publish profile, it is not updating the configuration properly under: **configure your bot in composer --> Enable Advance settings view(json) --> publishTargets --> configuration**

![im

[2021-07-30 22:40] mishrapratyush opened #8500 "Webchat control in bot composer not handling image attachments URL properly"
## Describe the bug

I want the bot to process images that are sent via attachment. So after asking for images to attach, I am trying to send the attachments URL to my service to process the image.
If using webchat control in the composer the URL produced by attachments[0].contentURL looks like this: "http://localhost:5000/v3/attachments/guid/views/original" but if you click on this URL, it doesn'

[2021-07-30 23:56] Vivihung opened #8501 "Custom actions merge schema failed error"
## Describe the bug

When following [this](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions?tabs=csharp) document to create custom action of a bot created by Bot Composer (with template "Core Bot with Language"), in the step of merging schema, `update-schema.ps1` (run with admin perm) returns errors.

Error

Running schema merge.
Finding component files
Error conflicting defi

[2021-07-31 00:40] dawwa opened #8503 "Schema - Flow: icon "AzureDataExplorer" does not show up"
According to https://github.com/microsoft/BotFramework-Composer/blob/main/docs/ui-schema.md#header-widgets
Fluent icon name. List of [available icons](https://uifabricicons.azurewebsites.net/).

Seems not all available icon can show up, e.g., the following `AzureDataExplorer` does not show up.

[code]

[2021-08-01 10:08] mhtmht commented on #8432
@benbrown
In reference to my last comment any pointers on how to pass the authentication details with the feed url through Composer?

As a work around we are hosting a local feed but the ability to use private feeds with authentication would be super helpful in bigger development teams.

[2021-08-01 11:24] tamasschmolcz opened #8504 "Store Azure Login credentials in bot composer"
Not sure, this is expected, but I am bit annoyed about the credential process, when synchronizing my local bot configuration to the (PVA) services. As the bot composer stocks in the [sync process](https://github.com/microsoft/BotFramework-Composer/issues/8434) from time to time, I am force to restart the application. After each application restart I need to re-enter my Azure Credentials again, whe

[2021-08-01 14:41] Intelliteckai commented on #8493
![image](https://user-images.githubusercontent.com/87998355/127774959-20c827f4-8642-4072-bd55-3e1938b234e6.png)

[2021-08-01 14:46] Intelliteckai commented on #8493
![image](https://user-images.githubusercontent.com/87998355/127775107-fc2ac6e3-1dd1-445e-beba-e6397373cda6.png)

[2021-08-01 20:54] afamanigbo opened #8505 "Cannot create new bot"
Any attempt to create a new bot gives an error Command failed: dotnet build

.NET and .NET core installed on the machine.

Any ideas what the problem could be?

[2021-08-02 07:17] goergenj commented on #8475
@stevkan Thanks for checking. As I suggested, Composer should only create a warning but not an error preventing the app to start. If you create an error as introduced in v2.1.0, creating multi language Bots will become a lot more complex as you will need to check the locale first everytime and then add actions per locale which is not very efficient anc will create confusion as well.

[2021-08-02 13:03] jrdamiano commented on #8488
I've seen another issue when "Allow interruptions" is set to true in "User Input (text)":
- Global interruptions works fina and, for instance, Cancel or Help triggers works, BUT...
- validation RegEx stops working and it never recognizes user input as a valid input. It always detects "_Interruption" as TopScoring Intent and do not validate user input text, even when it meets Validation Rules

[2021-08-02 14:41] tamasschmolcz opened #8506 "LGS Issue - not able to sync to PVA Service"
Hi,

when trying to publish my Composer Bot/PVA integration to the PVA service, I get error below my error description. Before that error appeared, I did one thing - I added the following statement "[import](MainDialog.lg)" to all Dialoges, as I am not allowed to use the "common.lg" to share standard responses sentences.  I use the MainDialog as new "common.lg".

I removed the statement "[import](

[2021-08-02 14:48] toribnax opened #8507 "Weatherbot displays wrong fahrenheit temperature"
## Describe the bug
Going through the tutorial and I noticed that the weatherbot was displaying the wrong temperature by about 20 degrees as seen here:
![image](https://user-images.githubusercontent.com/47404440/127879451-cda90490-1b7e-4e63-8de4-69564b2d9e40.png)
![image](https://user-images.githubusercontent.com/47404440/127879527-1d08d26f-8e9f-495b-8e26-48ecf46f1872.png)

I went searching into w

[2021-08-02 16:26] dmvtech commented on #8505
hi @afamanigbo

It might be an issue with nuget sources (as I have had this issue and seen [here](https://github.com/microsoft/BotFramework-Composer/issues/7876#issuecomment-881082316)).

Can you try to see if you can create a bot outside of Composer using the following steps?:

- npm install -g yo
- npm install -g @microsoft/generator-bot-empty
- yo @microsoft/bot-empty "EmptyBotTest"
- cd EmptyB

[2021-08-02 16:28] afamanigbo commented on #8505
Thanks, this worked for me. Turns out it was a nuget package source issue!

[2021-08-02 16:31] dmvtech commented on #8505
Great! I think I will create a bug so that if this issue happens we have a better error message available!

[2021-08-02 16:31] #8505 closed

[2021-08-02 16:45] anusharr commented on #8495
@victorlamana, after recreating the multiple-choice question nodes, do you still get the issue on Composer and Test in Web Chat? Also, can you attach a screenshot of how the prompt appears after you recreate the question nodes on Emulator and Composer? Let me attempt a repro on my end and update my findings.

[2021-08-02 16:50] victorlamana commented on #8495
Hello, I'll try to recreate the bug later today :)

Q:
" after recreating the multiple-choice question nodes, do you still get the issue on Composer and Test in Web Chat?"
A: No, after I recreate them the problem is fixed (I think the bug is related to changing information within these nodes, it's what I'll try to do when recreating the bug)

Q: Also, can you attach a screenshot of how the prompt

[2021-08-02 17:04] mohsenualam opened #8508 "Bot takes too long to start conversation first time after starting"
## Describe the bug

The bot takes too long to respond to the first question or show the greetings message every time I start the bot. After that it works fine until I stop and build the bot again.
When I publish it to the Azure, it keeps failing due to Gateway timeout error.

It was working good until last week. I am not sure what happened since then.

## Version

Version:  2.1.0-nightly.262125.1

[2021-08-02 17:42] dmvtech commented on #8505
Actually, I'm not able to reproduce anymore. Might have been fixed in 2.1.x. What version are you running @afamanigbo ?

[2021-08-02 18:07] benbrown commented on #8504
@tamasschmolcz Thank you for sharing your concerns here. The planning for the next version of Composer is just beginning.

Restarting the application must invalidate the credential cache that normally provides access until they expire.

[2021-08-02 18:12] benbrown commented on #8499
@boydc2014 Hey Dong can you have someone take a look at this Adaptive Expression issue? Thanks

[2021-08-02 18:16] benbrown commented on #8472
@tonyanziano any insights into this? Weird intermittent behavior!

[2021-08-02 18:19] benbrown commented on #8422
@tonyanziano any news on this?

[2021-08-02 18:36] taicchoumsft commented on #8482
Hi @tamasschmolcz , yes good catch it seems there is some extra work needed to wire up the retry prompt to the unknown trigger the way PVA does it.

It isn't ideal, but you can accomplish what you want with an if-else block following the input and a emitting a custom event that you can set to the unknownintent event.

Something like this:
![image](https://user-images.githubusercontent.com/61705609

[2021-08-02 18:39] natalgar commented on #8427
@geo-msft and I were able to reproduce this
Steps to reproduce the behavior:

1. Create a new publish profile in Composer
2. Choose Create New Resources,
3. Create a new resource group, and resources, using the same name for both the resource group and resource details. Region: West Europe
4. Select all required resources (additionally selecting the optional ones makes no difference)
5. Wait for t

[2021-08-02 19:00] dawwa commented on #8494
ping.

[2021-08-02 20:02] stevkan commented on #8475
I confirmed with the LUIS team that the correct functionality should favor the current LUIS user experience. In other words, as @tonyanziano stated above,

@GeoffCoxMSFT, re-assigning this to you.

[2021-08-02 20:32] tonyanziano commented on #8422
I just pinged the PVA team and they are still investigating.

[2021-08-02 21:01] anusharr commented on #8498
@aparnaji, can you specify what version of the Composer you are on? Do you get any additional error on the dev console while running the bot? Also, can you attach a screenshot of the chat/response you are getting?

[2021-08-02 21:08] stevkan commented on #8493
@Intelliteckai, I see that the "region" value is showing `UK South` when it should be `uksouth`. Can you update the profile and try and again to see if this is the source of the issue?

[2021-08-02 22:38] drdamour commented on #3288
i'm getting lost on how i have diff environments for the same bot application, i have different subscriptions in azure, thus different resource groups and different LUIS pairs (authoring + predict) all created by terraform by another team.  lets call em test & prod.  I expected to use composer locally with my existing luis test app, then when done publish the luis stuff out to my prod luis app (th

[2021-08-02 23:41] EricDahlvang commented on #8448
Custom action component registration is different in the new bot runtime (Composer v2.1.0)

If your DoWhile action is within a referenced project, then use `BotComponent`:
[code]

Otherwise, if it is in the same project then I think it just needs to be registered with DI as `DeclarativeType`:

[code]

This ensures the adaptive runtime is able to find the code to execute for the declarative 'DoWhil

[2021-08-03 01:49] boydc2014 commented on #8499
Sure, looking at it.

[2021-08-03 02:01] JohnRobertGreen opened #8509 "Publish failed after update to Composer 2.1"
## Describe the bug

Able to publish bot using Composer 1.4.1
Failed to publish bot after update to Composer 2.1
Error: "TypeError - Cannot read property 'findIndex' of undefined"

## Version

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macO

[2021-08-03 02:09] JohnRobertGreen commented on #8509
Publish profile:

{
  "name": "jXXXXXXXXXXXbot",
  "environment": "pub",
  "tenantId": "daXXXXXXXXXXXXXXXXXXXXXXX4c",
  "hostname": "jXXXXXXXXXXXXXXXXXbot",
  "runtimeIdentifier": "win-x64",
  "resourceGroup": "jXXXXXXXXXXXXbot",
  "botName": "jXXXXXXXXXXXXXbot",
  "subscriptionId": "35XXXXXXXXXXXXXXXXXXXXXXXXX64",
  "region": "Australia Southeast",
  "appServiceOperatingSystem": "windows",
  "scm

[2021-08-03 02:15] hibrenda commented on #8499
yes. we can repro.

[2021-08-03 06:25] arafattehsin commented on #8448
Thanks Eric - I just realized that BotComponent part, it makes clear to me now. 🤘

I am closing this issue and open up a feature request later.

[2021-08-03 06:25] #8448 closed

[2021-08-03 06:32] tamasschmolcz opened #8510 "Accessable Default value in LG template"
Hi,

it would be a nice thing, if I could access the "Default value" in "Prompt configuration" before moving on to the next node.

I would like to use a standard LG template around the "Default response", when the user has maxed out the "Max turn count", and say something like "As you have not provide the right value, I have choosen ${defaultValue} for you" .

[2021-08-03 06:39] tamasschmolcz opened #8511 "Using LG template as function in bot composer"
Hi,

I did not find anything in the documentation so far. Would it be possible to provide the capability, that I can hand over any kind of value to a LG template, which it process in the utterance?

For example, there is the LG template

#defaultResponse(**VALUE**)
- This is a test. You said "${**VALUE**}".

and I call it from a node like

${defaultResponse(**Nice thing!**)}

which leads to the ut

[2021-08-03 09:23] tomko80 opened #8512 "Unable to read data from the transport connection"
## Describe the bug

Getting started with the Bot composer I download the software and create a new project using the empty template. When and directly hit start bot and open the chat, the communication is not working (no messages from or to the bot work) and after sending a message and a delay, I receive an error. This happens bot with the C# and Node template.

When I connect with the emulator,

[2021-08-03 10:14] #8493 closed

[2021-08-03 10:17] Intelliteckai commented on #8493
hi @stevkan i made this suggested change with your colleague Georgiana yesterday morning and the result it the same.
As this is a development environment and bot, I have decided to trash the build and start again.
It has taken too much time and I am under time pressures.

I have removed the bot and all related cognitive services, please close this ticket.

[2021-08-03 11:37] flabodotes opened #8513 "Too Slow with big projects"
## Describe the bug
When we are working with big projects with several dialogs, movements between dialogs, dialog management and even writing goes too slow.
Even a Copy-paste could take several seconds.

## Version
Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edg

[2021-08-03 11:45] flabodotes commented on #8513
Other GIF with CPU consumption while simple writing:

![composer_slow_cpu](https://user-images.githubusercontent.com/12663194/128009879-a1b33535-efab-4d2d-9c05-4e1a994585f5.gif)

[2021-08-03 11:58] Uggi commented on #8472
Agreed @stevkan. It doesnt break when it builds. That said, currently this occurs for me for any existing or new Trace Event I add. If I wrap it in quotes, the warning disappears but the eventual generated value of "hi ${user.profile.name}" is ""hi neil"" with double quotes.  image of property in emulator:

![image](https://user-images.githubusercontent.com/4349731/128010518-1f978442-5a79-45a9-92c

[2021-08-03 15:16] bradrlaw opened #8514 "Default runtime is dependent / refers to daily feed with mostly preview packages"
## Describe the bug
When creating a new project, the default runtime is dependent on the nightly builds.  Our client is concerned that this will create instability during development.  We are unsure of how this feed is used as the Composer UI does not expose the feed but it is getting caught by their automated dependency checking scans.

## Version

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.398

[2021-08-03 16:23] mohsenualam commented on #8508
I was able to fix the issue finally.

In one of the last steps (after confirming exit from customer), I wanted the bot to still answer questions in case the user asks question. At the last step, I added the Root dialogue using Begin A Dialogue . This seemed to cause the issue. Once this step is removed, the bot started conversations right away.

[2021-08-03 16:23] #8508 closed

[2021-08-03 16:36] tdurnford commented on #8514
@pavolum Can you take a look at this or assign to the appropriate person.

[2021-08-03 17:08] dmvtech commented on #8499
@tamasschmolcz

Are you wanting?:
`dialog.topic != 'Hund an-/abmelden' && dialog.topic != 'Anderes Thema'`

[2021-08-03 17:21] dmvtech commented on #8459
Closing as answered. If you are still having issues, please comment with updates and I can reopen.

[2021-08-03 17:21] #8459 closed

[2021-08-03 17:23] dmvtech commented on #8162
Closing as this is currently not doable in current build. Please open a [feature request ](https://github.com/microsoft/BotFramework-Composer/issues/new?assignees=&labels=feature-request%2C+Needs-triage&template=bot-framework-composer-feature-request.md&title=)as needed.

[2021-08-03 17:23] #8162 closed

[2021-08-03 17:33] victorlamana commented on #8495
I have not been able to reproduce the problem for some reason, I'll close the issue and I reopen it or open another one referencing this one if the error happens

Thanks a lot once again everyone

[2021-08-03 17:33] #8495 closed

[2021-08-03 17:53] tamasschmolcz commented on #8499
Guys @hibrenda is right - looking again at it , I worked at the bot during late hours at this time and did not see the obvious :-(.  Problem solved ;-).

[2021-08-03 17:53] #8499 closed

[2021-08-03 18:23] michael-vogt-avanade opened #8515 "Uncaught syntax error..."
## Describe the bug

I am following a basic exercise to learn to use Composer.   I have made no changes to the text.  After I install the Help and Cancel Packages, and create a new trigger and try and change the 'Allow Interruptions' property for the Help trigger... i get an error...
Uncaught SyntaxError: Failed to execute 'querySelector' on 'Document': '#root[4i5cOe].allowInterruptions-list2' is

[2021-08-03 18:27] benbrown commented on #7908
@pavolum did this get resolved in the end with our updates to the readme file formats? I believe so...

[2021-08-03 18:28] #7352 closed

[2021-08-03 18:29] #5967 closed

[2021-08-03 18:30] benbrown commented on #2006
@Amit8527510735 Can you review and close this?

[2021-08-03 18:56] dmvtech commented on #8510
@tamasschmolcz Thank you for submitting this. I haven't found any simple workarounds myself either. I'll continue to look at it and if I come up with nothing, we will proceed with considering for a feature.

[2021-08-03 19:17] tamasschilp opened #8516 "Setting a number to a PVA property throws error"
When I trying to call a "prompt for a number"-node, which uses the global PVA property bot.customerID as input variable, PVA bot states the following eror

_A problem occurred while running the Composer dialog. Cannot convert object value to number._

I am not quite sure it is directly linked to it, as I cannot see my custom "Debug Message" before the execution of the prompt.

![image](https://use

[2021-08-03 20:42] goergenj opened #8517 "[MCS-DE] Max turn count ignored when adding validation rule"
When I add a validation rule to a "Prompt for text" action in Composer v2.0.0 and in addition turn "Allow interruptions = true", the max turn count setting is ignored and the question is repeating indefinitely. When I turn "Allow interruptions = false", the max turn count setting is used.

[2021-08-03 20:51] tonyanziano commented on #8472
That is very strange behavior, and I do not think that it is intended for users to have to wrap strings in a pair quotation marks.

I will look into this and see if I can reproduce it and maybe find out what is causing it.

[2021-08-03 21:52] elliottperry commented on #5682
The ask here is to have additional to help-articles to explain when user encounters problems due to CMK when publishing from Composer.

Elliott & Rusty to help here. Elliott to set up a meeting to progress.

[2021-08-03 22:22] dmvtech commented on #8511
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-08-03 22:22] dmvtech commented on #8511
Yes. This can be done. Please see [this document](https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lg-file-format?view=azure-bot-service-4.0#parametrization-of-templates) for more information, but essentially you can do it by having the following template:
[code]

Then using using the following utterance:
`${MyTemplateWithParam("This works!")}`

Which gives you:
![image](

[2021-08-03 22:22] #8511 closed

[2021-08-03 23:45] stevkan commented on #8496
@humak, I have actually experienced this problem for quite some time with a standard SDK bot in Emulator. However, the issue hasn't expressed itself with colleagues when they tried, so I have left it alone. Testing in Composer reveals the same. It's important to note that Composer basically picked up the Emulator code for the Web Chat implementation. So, if there is an issue in Emulator, then it's

[2021-08-03 23:47] anusharr commented on #8507
@toribnax, I followed the weather bot [tutorial](https://docs.microsoft.com/en-us/composer/tutorial-create-weather-bot) and got the following results on v2.0.0:
![weather 3](https://user-images.githubusercontent.com/48731427/128099783-78ded417-037f-486f-a428-6d83a6d4658e.png)
![weather4](https://user-images.githubusercontent.com/48731427/128099787-876e1fa6-f081-4d98-b839-18f4fa8103a1.png)
![weathe

[2021-08-04 02:10] JohnRobertGreen opened #8519 "Azure sign in fails when behind proxy"
## Describe the bug

When using Composer 2.1 behind a proxy the sign in step during publishing fails. Reports error "Azure sign-in
Sign in failed: No Azure Directories were found.".

I have HTTP_PROXY and HTTPS_PROXY set.

My Azure account is a personal account.

Publishing worked using Composer 1.4.1

## Version

## Browser

- [ X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [

[2021-08-04 02:13] stevkan commented on #8128
@gapmdq, apologies for the delay in response. Are you still having an issue with passing an activity to a skill? I was able to successfully do so using v2.0.0 of Composer.

In short, I have a trigger in my root bot that responds to 'start skill' which then begins the 'StartSkill' dialog with a similar name. In the dialog, I send a response indicating the skill is about to start. I then connect to

[2021-08-04 04:02] JohnRobertGreen commented on #8519
Having changed to Composer 2.0 I can report that the Azure login during the publish process works, but I then encounter the error reported in #8509.

[2021-08-04 05:05] dawwa opened #8520 "Custom namespace for bot project?"
**Scenario**
There seems only two csharp files in the generated bot project.
- Program.cs
- Startup.cs

We wanted to add a prefix to the default namespace, e.g., for MySkillBot.csproj,
change from
[code]
to
[code]

After making such change, the bot stopped working and there is exceptions thrown.

**Questions**
- Would you please help clarify a list of places where we need to add the `Contoso.` pre

[2021-08-04 06:43] tamasschmolcz commented on #8511
@dmvtech Thanks, actually I know this document - I overlooked it though.

[2021-08-04 07:43] raviraushanweb commented on #3674
I am trying all of the above suggestions, but nothing is working for me. I am attaching screenshots below.
<img width="255" alt="iss1" src="https://user-images.githubusercontent.com/41154960/128141776-14e66c2a-6d89-48a9-9427-29da9fa18261.PNG">

I am getting the above error
<img width="418" alt="iss2" src="https://user-images.githubusercontent.com/41154960/128141839-cd74b28b-b4e6-41cd-b0bc-44565383

[2021-08-04 08:28] pannerselvam-yaltech opened #8522 "Bot composer Environment variables."
In previous code version of bot framework we were using environment variable in Azure app service. Now i am using Bot composer and i couldn't maintain any user credentials and url links. what should do for it?

[2021-08-04 08:30] Danieladu commented on #3674
Maybe AdaptiveCard is more suitable for this case.

[2021-08-04 08:43] raviraushanweb commented on #3674
Yes, I will be using adaptive card, I am trying to figure out how this is working. even after copying same as the guys suggested above, it is not working for me. It's saying the images scope is not found.

[2021-08-04 08:45] Danieladu commented on #3674
@raviraushanweb
The reason is that the response is not a normal "Text" response but a Card ttachment response.
Two steps:
1. Delete the template `HerocardActivity(image)` in "Bot response" editor.
2. Click here
![image](https://user-images.githubusercontent.com/7289268/128150622-77437c1d-132a-4dbb-94a7-de4db8fee205.png)
and fill in the template body of your response. Like this:
![image](https://us

[2021-08-04 08:55] tamasschmolcz commented on #8516
So I have changed the PVA property to the type "text" and now it works. It appears that I cannot set a global PVA property via composer, if it is of type integer.

[2021-08-04 09:00] raviraushanweb commented on #3674
Thank you @Danieladu for replying. I am still getting errors
This is template:
<img width="471" alt="code1" src="https://user-images.githubusercontent.com/41154960/128152957-c59f458d-1504-4bed-bbd5-3fc0b44c795f.PNG">

When i am sending following response:
<img width="594" alt="err2" src="https://user-images.githubusercontent.com/41154960/128153028-f99e26f4-6b59-4298-9281-0d2de5b2dd1c.PNG">
i am ge

[2021-08-04 09:15] Danieladu commented on #3674
Why you change
[code]
to

![image](https://user-images.githubusercontent.com/7289268/128155502-1b1ab46b-9ea7-4e7a-bedc-34c5f0ef82a3.png)

?
Keep the original one.

[2021-08-04 09:35] Danieladu commented on #3674
you could wrap the data with ${} to achieve the data.
For example, the data of "dialog.api_response.content.result" is
[code]

And you want to output the value of "k2" in first item,
[code]

Finally you would get `hi, the value of "k2" in first item is v2`

[2021-08-04 11:19] nguyenhuy200900 opened #8521 "Keep showing Starting bot..."
## Describe the bug

BF Composer can not start the bot and keep showing Starting bot... Even when I restart the computer, the problem still exist.
![image](https://user-images.githubusercontent.com/77385199/128171955-35c375ab-875d-4e4d-8bd8-0d99ee5e7e7a.png)

## Version

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- Microsoft Edge
-

[2021-08-04 12:50] Danieladu commented on #3674
You want to assign an array value to "dialog.images", but you could not push a whole array item into "dialog.images".
In the solution by you given, the value of  "dialog.images" is
[code]
But not
[code]
it is wrong, because you push all array into the first one.

Here are two ways to assign the array into "dialog.images".
The first way is to push one item each. So you could call three times of the

[2021-08-04 13:23] raviraushanweb commented on #3674
Thank you so much @Danieladu . It is working now.

[2021-08-04 14:47] toribnax commented on #8507
@anusharr It seems like I was using an old version of the tutorial, as the new version works me now. Thanks for clarifying!

[2021-08-04 14:47] #8507 closed

[2021-08-04 15:22] dmvtech commented on #8522
Hi @pannerselvam-yaltech

You can access items listed from configuration/settings by using the `settings` memory scope. See [here](https://docs.microsoft.com/en-us/composer/ref-memory-variables?tabs=v2x#the-scopes) for more information.

So, in Composer you can specify something like `"MyCustomSetting": "some_value"` in the settings and then access that in Composer bot with something like `${setti

[2021-08-04 15:47] goergenj commented on #8517
Adding a note: When I switch the *Microsoft.Bot.Builder.\** packages from "4.14.1" to "4.13.1" in my local Bot csproj, the bug does not occur.

[2021-08-04 16:12] JonathanFingold commented on #8479
Verified that the fix works for my test skill.

[2021-08-04 16:37] srinaath commented on #8521
@nguyenhuy200900 Could you open the bot folder and run the sln file in Visual Studio? Essentially we want to see if the bot is able to run outside the context of Composer.

[2021-08-04 16:41] srinaath commented on #8520
@dawwa Could you share the exception you are getting? In addition, was this built using one of the default templates of Composer or was it migrated from an old version to the new one?

[2021-08-04 16:44] srinaath commented on #8519
@JohnRobertGreen Closing this ticket as the proxy issue is resolved in 2.0

[2021-08-04 16:44] #8519 closed

[2021-08-04 16:55] srinaath commented on #8515
@michael-vogt-avanade At what point do you get the error? Is it aftere starting the bot or is it during design time?

[2021-08-04 16:57] srinaath commented on #8503
@a-b-r-o-w-n Could you take a look at this ticket?

[2021-08-04 17:00] srinaath commented on #8501
@Vivihung Can you open the bot folder and delete the `generated` folder and try to merge the schemas again? We have a know bug in the with bf-dialog merge tool not excluding the definitions inside the generated folder.

[2021-08-04 17:06] srinaath commented on #8500
Closing this ticket as we are looking to integrate an on demand tunnel here.
https://github.com/microsoft/BotFramework-Composer/issues/7985

[2021-08-04 17:06] #8500 closed

[2021-08-04 17:07] #8494 closed

[2021-08-04 17:24] goergenj commented on #8517
@srinaath **.Net**
    <PackageReference Include="Microsoft.Bot.Builder.AI.Luis" Version="4.13.1" />
    <PackageReference Include="Microsoft.Bot.Builder.AI.QnA" Version="4.13.1" />
    <PackageReference Include="Microsoft.Bot.Builder.Dialogs.Adaptive.Runtime" Version="4.13.1" />

[2021-08-04 17:34] tonyanziano commented on #8472
I can reproduce this in both the nightlies, and in the `main` branch. I only see a warning though and no errors in the "Problems" tab.

From my testing, it appears to think the string is invalid when there is a space in the string or an expression symbol such as an equals sign:

![image](https://user-images.githubusercontent.com/3452012/128227506-0c986a58-57fe-45fe-8347-f49897256cc6.png)

![image]

[2021-08-04 17:47] tonyanziano commented on #8472
@GeoffCoxMSFT this appears to be an issue with validation in the LG server - could you assign someone to investigate?

[2021-08-04 18:01] tonyanziano commented on #8516
@tamasschmolcz I can't reproduce this issue.

I have set up a minimal bot to try and reproduce the scenario:

1. In PVA, ask the user for a number (Number prebuilt type) and store that in a variable `bot.favNumber`
2. In PVA, ask the user for a number (Entire response -- text type) and store that in a variable `bot.otherFavNumber`
3. In PVA, print out both of these numbers
4. In Composer, print ou

[2021-08-04 18:07] tonyanziano commented on #8516
Ok actually, I just tried with using prompts instead of setting properties directly, and _**I can**_ reproduce the issue:

![image](https://user-images.githubusercontent.com/3452012/128231918-094e2ac1-1cab-4188-8510-ac4ff0d69faa.png)

So as a workaround, you could try to set the result of the prompt to some memory scope property like `dialog.promptResult` and then do a Set Property action to copy

[2021-08-04 18:18] benbrown commented on #8488
@stevkan were you able to reproduce this?

[2021-08-04 19:16] bradrlaw opened #8523 "Unable to manage / import existing resources"
## Describe the bug
Cannot edit or import a publishing profile on the import resources page.  The page is getting an error trying to load the schema for the JSON.  This is happening at a client and on our machines as well.  Confirmed with another user that they are seeing the same behavior.

## Version

## Browser

- [X] Electron distribution
- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

##

[2021-08-04 20:40] someonelikeTIM commented on #7087
I already have that in the publish profile. I even created a new publish profile with all new azure resources and still get the same error. Unable to move a bot into prod because of this blocker.

[2021-08-04 20:58] dinobrago opened #8524 "Multilingual bot works in web chat but not emulator"
## Describe the bug

I created a multilingual bot in English and Spanish in Composer

## Version
Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

Emulator: v:4.13.0

## Browser

- [ ] Electron distribution
- [X ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavi

[2021-08-04 21:16] srinaath commented on #8513
@flabodotes Could you elaborate on the size of the bot in MB. We had addressed quite a bit of performance issues in Composer 2.0 and worked with bots having way more than 29 dialogs (our default Enterprise Bot Assistant template shipped with Composer is an example of a really huge root bot with skills in it). We have seen issues with dangling .NET process on closing Composer. Restarting Composer o

[2021-08-04 23:06] JohnRobertGreen commented on #8519
I'm using Composer 2.1 - so its not solved. Perhaps you can explain what configuration is necessary to make it work?

[2021-08-04 23:44] pavolum opened #8525 "Allow multiple template feeds to drive template selection"
## Is your feature request related to a problem? Please describe.

There are Composer users who do not have access to public npm due to restrictions on their work machines. This results in the template selection view and template readmes to not render as they are sourced from public npm APIs as well as an error on app start when these api calls fail.

Related issues: #8478 #8477 #8188

## Describe

[2021-08-04 23:50] srinaath commented on #8512
@tomko80 Enabling the v1. authentication token shouldn't matter for an Empty Bot created from the default template. Could you paste a snapshot of the traces as shown in this view for us to understand the error better.

![Screen Shot 2021-08-04 at 4 48 21 PM](https://user-images.githubusercontent.com/13004779/128269885-36118a5f-0096-4187-bb3e-77d16bedfd03.png)

[2021-08-04 23:58] pavolum commented on #8477
@bradrlaw I assume since they cannot connect to public npm then they not only have the issue (error modal) on start but also have no templates in the template selection view since those are sourced from npm.

Couple questions for the client.
- What is their current process for accessing public npm/nuget packages? Is there an internal private npm feed or artifactory were they host npm packages that

[2021-08-05 00:04] pavolum commented on #8188
@Brent-Higgins @jmyers82  @Dan-Bai

Couple questions for you
- Can your Jfrog aritifactory be indexed similar to how the npm registry can be indexed  (i.e. [sample registry api call](https://registry.npmjs.org/-/v1/search?text=generator+keywords:bf-template+scope:microsoft))
  - @Brent-Higgins your screen shot above seems to indicate this is the case with the url `http://repo1.uhc.com/artifactory/

[2021-08-05 00:14] dmvtech commented on #8195
hi @BellaDunnett

Forgive me if I'm not fully understanding the scenario. If you can provide more specific scenarios (or a bot example shared in a repository), that would help.

As you know, triggers are something that fire on certain events happen (most often by something done by the user). Typically if you need to 'direct' the user, you would use something like a suggested action. Meaning, if yo

[2021-08-05 00:26] anusharr commented on #8497
@SSanjeevi, thanks for reporting this. Let me investigate further and update the thread accordingly.

[2021-08-05 00:47] SSanjeevi commented on #7087
Try adding it in two levels.

[2021-08-05 00:49] JohnRobertGreen commented on #8519
Just to reiterate my point - The Azure sign-on works in Composer 2.0 and does not work in Composer 2.1; this call should not be closed.

[2021-08-05 01:18] stevkan commented on #8488
@jrdamiano, are you using the RegEx recognizer or the default (LUIS) recognizer for your dialogs? Can you post the regex that you are using for your validation so that I can try the same? When testing, the validation is working for me. The only two differences are I am using the default recognizer and for my validation rule I only checked that the user input was a certain length.

[2021-08-05 03:51] ggrey opened #8526 "Publish not working v2.1"
## Describe the bug

When publishing to Azure status spinner keeps loading and/or displays DEPLOY_ZIP_ERROR - RequestError - Error: getaddrinfo ENOTFOUND error message

## Version

Release: 2.1.0-nightly.262125.19cdc4

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the be

[2021-08-05 04:40] praveenvavilla commented on #3299
I am facing the same issue and shared details with @alanlong9278

[2021-08-05 06:33] alishajain7 opened #8527 "Switching Between Skills"
## Is your feature request related to a problem? Please describe.

Yes. I should be able to switch between skills when Skill A is active but an intent of Skill B is sent by the user.  Related [problem](https://github.com/microsoft/BotFramework-Composer/issues/8162)

## Describe the solution you'd like

I should be able to switch between skills in Bot Composer.

## Describe alternatives you've cons

[2021-08-05 06:58] SSanjeevi commented on #8497
@anusharr - after enabling the personal information the contents are getting updated in app insights logs.
Only thing is sometimes it's not logging the complete response instead the activity name bot response : "#SendActivity_GreetingReturningUser"

[2021-08-05 11:36] jrdamiano commented on #8488
@stevkan again it's been my begginer's fault... it works fine, really.

What happened?
At a certain moment, in order to clarify my code, I changed Intent names in User Input LU files BUT I've realized that Intent name CANNOT BE CHANGED and once you create a trigger, that intent name is not modifiable any more... Another thing that affected bot behavior due to Intent name change was the use of Cond

[2021-08-05 11:38] #8488 closed

[2021-08-05 11:55] michael-vogt-avanade commented on #8515
Good Morning Srinaath,

I get the error during design time, when instructions from the exercise tell me to go to the Other tab, down to the Allow Interruptions pull-down and change the value from False to True....    the error displays immediately, and every time I attempt this.

The exercise instructions illustrate that they used the ver1.0.0 package...         so I tried that too - all versions

[2021-08-05 13:28] ohiobobcat commented on #8526
I'm experiencing the same issue when attempting to publish to a Linux App Service in Azure. I was able to create a C# bot and publish to a windows App Service successfully.

[2021-08-05 15:09] tonyanziano commented on #8516
I've forwarded this to the PVA team and they are going to log a bug and investigate.

[2021-08-05 15:28] anusharr commented on #8497
@SSanjeevi, so is the content getting updated if you change the `logPersonalInformation` to `true`?

[2021-08-05 15:32] SSanjeevi commented on #8497
Yes it's getting updated but with actitvity name not the response adaptive card. Is that something we can do?

[2021-08-05 15:43] dmvtech commented on #8524
To test the bot in Spanish with Emulator, you will need to change the Local in the Emulator's settings. Composer does not set the locale for the bot when it is opened in (sent to) Emulator.

If you need to test both locales in Emulator, you can open the bot with one locale, then open another instance of Emulator, change the locale, then open the bot.

FYI, there is a [feature request](https://gith

[2021-08-05 15:50] anusharr commented on #8489
Closing due to no response. Please feel free to reopen if issue persists.

[2021-08-05 16:13] a-b-r-o-w-n commented on #8503
@dawwa We actually only have support for a subset of the icons at https://uifabricicons.azurewebsites.net/. I just became aware of this. I will update the docs accordingly.

The list of icons that are supported can be found here: https://developer.microsoft.com/en-us/fluentui#/styles/web/icons

[2021-08-05 16:36] Dan-Bai commented on #8188
@pavolum

* It is indexed in a similar fashion. When we search, the response doesn't contain "links" property but otherwise it looks similar to your sample api call.
* If he dependency is not in our Jfrog artifactory then it will fetch from public. However, we can only talk to the Jfrog artifactory.
* I believe dotnet is the same, however we don't have any dotnet projects on the team so I can't sp

[2021-08-05 16:40] srinaath commented on #8526
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/8489

[2021-08-05 16:40] #8526 closed

[2021-08-05 16:43] #8524 closed

[2021-08-05 16:47] tamasschmolcz opened #8528 "Backup functionality"
Hi,

I had it now several times, that I lost Dialoges in the process of making. E.g. I were scrolling with my mouse through the dialog trees and suddently one dissappeared. This happens twice today alone.

Anyway, could implement an backup functionality with a timer? At the moment I backup the project folder manually from time to time and I am about the build a simply bat-file in windows getting e

[2021-08-05 16:52] srinaath commented on #8523
@bradrlaw We are not able to repro this error on our end when we created a new EmptyBot with a new publishing profile utilizing existing resources. Is it possible for you to send zipped up bot assets for us to try on our end.

[2021-08-05 17:05] srinaath commented on #8527
@alishajain7 To understand your scenario. You have a root bot calling Skill A & Skill B. You have an utterance that triggered Skill A. If you have
![Screen Shot 2021-08-05 at 9 59 29 AM](https://user-images.githubusercontent.com/13004779/128391347-ab333803-c077-47c0-88a1-fafd0b584a59.png)
Any new utterance will be routed from the root bot. If the Root Bot finds a match for that utterance it will i

[2021-08-05 17:20] ggrey commented on #8526
Hi @srinaath the issue you linked does not resolve my problem, I already checked advanced json config and all value properties are displaying as they should, what are the next steps here?