[2021-03-31 11:13] praneeth1987 commented on #6552
@formore5points  ; thanks for your explanation, do you have any working example on for loops in handy.I  just want to see the logic

[2021-03-31 12:35] iMicknl commented on #5728
Is there an ETA for a Power Virtual Agents update that will fix this? (see #6036 and #6385). Will this be part of their 2021 Wave 1 release, or won't it be handled before Wave 2 (October 2021 through March 2022).

This is a bug that really blocks the adoption of Composer in customer projects.

[2021-03-31 14:57] rvanrees opened #6624 "Publish Profile LUIS connection"
## Describe the bug

Created a simple project, with a welcome and help trigger. After this i tried to publish the bot to Azure and that worked fine!

Only the problem is that the version that's running on Azure cant connect to my LUIS resource. The version that I run locally is working fine.

My publish profile does contain all the asked LUIS values and I don't know what's going wrong.  Maybe you

[2021-03-31 15:05] a-b-r-o-w-n commented on #6595
@luhan2017 This is good to know. I have started to serialize the tenant id into the publish profile and will look into getting this from the token as well.

[2021-03-31 15:45] pedro-ramirez-suarez commented on #6312
Hi @luhan2017 ,

I don't have any limitation in terms of number of applications. The problem that I have is that at runtime, the skills throw a 403 error when trying to access a shared LUIS resource.
Now, how did I created and configured that shared LUIS resource? We have a main bot and multiple skills, we used composer to create the resources needed for each one of them, since we are already reac

[2021-03-31 15:48] granicz commented on #3299
So what was the solution at the end or was this a misconfiguration issue?

[2021-03-31 16:24] dmvtech commented on #6594
@shubham8886 Can you clean up all publishing profiles (and any orphaned resources) and then update to v1.4.0 and try again please?

[2021-03-31 16:25] tonyanziano commented on #5728
Hello @iMicknl ,

The work item I linked above has been marked as "Closed," and I believe we are just waiting for the change to propagate into their deployment. If I remember correctly, it will be deployed in the next week or two, but I can double check with someone from the PVA team if needed.

That being said, as soon as the change is live in PVA, we expect to have a nightly Composer build short

[2021-03-31 16:32] shubham8886 commented on #6594
@dmvtech I have only ne profile to publish. why my bot is publishing to  "botcr-9401-dev.scm.azurewebsites.net" instead of scm i need to configure it to "ase2-dev-paas.p" is it possible? what is the issue here?

[2021-03-31 16:42] shubham8886 commented on #6594
"name": "botcr-9401",
  "environment": "dev",
  "runtimeIdentifier": "win-x64",
  "resourceGroup": "<name of your resource group>",
  "botName": "<name of your bot channel registration>"

Question: what is the difference between name and botName?

[2021-03-31 16:47] #5954 closed

[2021-03-31 17:00] shubham8886 commented on #6594
---
"Accepted for publishing..."
---

---
"Abs settings incomplete, skip linking bot with webapp ..."
---

---
"hostname incomplete, return ..."
---

---
"Building the bot app..."
---

---
"Build succeeded!"
---

---
"Creating build artifact..."
---

---
"Build artifact ready!"
---

---
"Publishing to Azure ..."
---

---
"Uploading zip file..."
---

---
"{\"name\":\"DEPLOY_ZIP_ERROR\",\"message\":

[2021-03-31 17:06] anusharavindrar commented on #6556
@KyonCode, if you are using Web Chat, then you could have the Web Chat send an event to the bot and the bot can respond by asking the user if they are still there as specified in this [solution](https://stackoverflow.com/a/54952783/9599453).  If a user does not respond after a certain period of time, then the bot can restart a conversation from the beginning. [This](https://docs.microsoft.com/en-u

[2021-03-31 17:14] stevkan commented on #6484
@martinlarosa, thank you for your patience. It took me a while to repro due to an unrelated issue, but I was finally able to do so. As a feature request, I will get this routed to the appropriate team for consideration.

[2021-03-31 17:30] JaskeeratBedi-cmk commented on #6563
Updated copy suggestion after reviewing with @zxyanliu

![create new resources](https://user-images.githubusercontent.com/67944302/113186100-15ec4280-920c-11eb-8dce-8cf6b540d7ed.png)

Microsoft Azure link: https://azure.microsoft.com/free/
Learn more: https://aka.ms/composer-publish-bot#create-new-azure-resources

[2021-03-31 17:37] JaskeeratBedi-cmk commented on #6564
Updated copy after reviewing with @zxyanliu

![import existing](https://user-images.githubusercontent.com/67944302/113186742-e2f67e80-920c-11eb-8037-6aeb119f12fe.png)

Learn more link : https://aka.ms/composer-publish-bot#import-existing-azure-resources

[2021-03-31 17:41] JaskeeratBedi-cmk commented on #6565
Updated copy after reviewing with @zxyanliu

![hand off to admin](https://user-images.githubusercontent.com/67944302/113187339-96f80980-920d-11eb-8296-1aa5fd7c3be0.png)

Learn more: https://aka.ms/composer-publish-bot#handoff-to-admin

[2021-03-31 17:48] benbrown commented on #6289
I am working on determining the cause of this issue.  I am not currently able to reproduce this condition.

[2021-03-31 17:49] Bracciata commented on #6289
I can try to upload a video and recreation script this evening.

[2021-03-31 17:50] JaskeeratBedi-cmk opened #6625 "Update copy of "Add resource modal""
Resource description within Add resource modal is long and needs better emphasis on the value of resource for the bot.

![Screen Shot 2021-03-31 at 10 46 37 AM](https://user-images.githubusercontent.com/67944302/113188259-ab88d180-920e-11eb-8dd8-60681f221215.png)

[2021-03-31 18:06] msomanathan commented on #6588
@dmvtech could you please update on this issue, Thanks!

[2021-03-31 18:09] anusharavindrar commented on #6596
@lusk33, this looks similar to the one reported in https://github.com/microsoft/BotFramework-Composer/issues/4154. Do you get any additional error on the dev console? Investigating further and will update the thread once I have more info to share.

[2021-03-31 18:12] martinlarosa commented on #6484
No problem @stevkan, glad you were able to reproduce it.
Let me know if I can assist in any way.

[2021-03-31 18:28] dmvtech commented on #6552
Be sure you're aware of [memory scopes](https://docs.microsoft.com/en-us/composer/concept-memory) and how they work. For `user.`, it will store per-user and won't prompt if that is already populated and `always prompt` is set to `false` (as it is). You an change to always prompt: true, or you can delete the property at the begging of the dialog. You can also store the response into a `dialog.` mem

[2021-03-31 20:12] Andrea-Orimoto opened #6627 "[3/29 bug bash] Publishing profile error not clear/progress message suggestion"
From Jordan Berger https://fuselabs.visualstudio.com/BotFramework/_workitems/edit/58566/?triage=true
(6 more identical bugs filed for this, see the linked items in the bug above if needed)

Repro steps:

1. Create a new bot from "Open with composer"
2. Immediately try to publish it

It wasn't clear to me that I had to provision a web app within my publishing profile when first trying to publish my

[2021-03-31 20:13] #6598 closed

[2021-03-31 20:44] iMicknl commented on #5728
Thank you, @tonyanziano. I wasn't able to access the work item. Great to hear that this is planned for short term!

[2021-03-31 20:51] xiyangdesign commented on #5526
proposed solution here: https://www.figma.com/file/pghEVhZEtMsXae9IHybdYo/Composer-Xi-s-workspace?node-id=595%3A1987

@a-b-r-o-w-n  to your comment:

For clarity, there are two possible approaches for this.
- Remove the project from the recent list
Added in design
- Delete the project from the user's disk
The user can first "reveal the bot in folder", then delete from there.

Let me know if you ha

[2021-03-31 21:32] Dewain27 commented on #6564
Registration I think is misspelled.

[2021-03-31 21:38] tdurnford opened #6631 "[Adaptive-Form] Remove depth and transparentBorders from FieldProps"
The Adaptive Form no longer uses transparentBorders and depth can be easy replaced isRoot

[2021-03-31 21:39] tdurnford opened #6632 "[Adaptive-Form] Remove ObjectArrayField"
Since we are no longer rendering object array field properties inline, we can remove ObjectArrayField and just use the ArrayField.

[2021-03-31 21:50] #6321 closed

[2021-03-31 21:56] xiyangdesign commented on #6224
Proposed design here: https://www.figma.com/file/pghEVhZEtMsXae9IHybdYo/Composer-Xi-s-workspace?node-id=595%3A2114

Let me know if you have any questions.

[2021-03-31 21:59] Dewain27 commented on #6563
@GeoffCoxMSFT @benbrown the copy above is ready to be implemented.

[2021-03-31 22:11] zxyanliu commented on #6563
A minor suggestion:
Should we say:
How **would you like to** provision Azure resources to your publishing profile?

It's a real question and it has a "?", so we need to follow the "auxiliary verb before subject" order.
When it's not actually asking a question, we can do a normal "**subject-verb**" order like "How you would like to".

Just my two cents. :-)

[2021-03-31 22:14] #6359 closed

[2021-03-31 22:39] #5827 closed

[2021-03-31 22:39] #5896 closed

[2021-03-31 22:39] #6263 closed

[2021-03-31 22:39] #6269 closed

[2021-03-31 22:39] #6364 closed

[2021-03-31 22:39] #6546 closed

[2021-03-31 22:40] benbrown commented on #5895
Fixed by #6599

[2021-03-31 22:40] #5895 closed

[2021-03-31 22:50] clearab opened #6634 "Package Manager - dueling scrollbars"
In package manager, the height of the package list seems to be about the height of the header too tall, which causes both the package list and the overall Composer window to have scroll bars. The double scroll effect is very frustrating.

Fix: Alter the height of the package list control so that two scroll bars are not necessary.

![Capture](https://user-images.githubusercontent.com/1139814/113220

[2021-03-31 23:05] Dewain27 opened #6635 "Ensure Creation / Publishing Telemetry is being captured"
## Is your feature request related to a problem? Please describe.

Ensure that Creation / Publishing Telemetry is being captured properly.

[2021-03-31 23:48] JaskeeratBedi-cmk commented on #6564
Updated copy/ typos.

[2021-03-31 23:50] JaskeeratBedi-cmk commented on #6565
Updated copy to add example scenarios.

[2021-03-31 23:53] JaskeeratBedi-cmk commented on #6566
Updated copy

@benbrown is the command going to be very long or does it constrain at 3 sentences? Asking because the position of 'Learn more' may need to move above if command becomes very long..

![share](https://user-images.githubusercontent.com/67944302/113224952-60d47d00-9241-11eb-94ee-4964ede7c611.png)

[2021-04-01 02:16] boydc2014 commented on #6213
After investigating this with Leilei, in our code base, there are several places (basically extracting) replying on this assumption. And it could probably be a breaking change. Given the timeline and risk, i think it's better for us to take this in next milestone.

[2021-04-01 02:17] boydc2014 commented on #5754
I suppose you mean leave this out of R13, right?

[2021-04-01 06:47] stephanbisser commented on #6598
Is this anywhere documented as well as I couldn't find anything in the docs and as the names are quite similar there should be at least documentation to distinguish between them

[2021-04-01 07:11] rahul-8437008949 commented on #6560
Thanks @v-kydela working for me now.

[2021-04-01 07:11] #6560 closed

[2021-04-01 07:21] rahul-8437008949 opened #6639 "Bot composer deployment using azure devops"
Hi @cwhitten @v-kydela  ,I was trying to work with azure devops to deploy bot built in composer. I uploaded the project on azure repos and then built and released the project to azure app. But the bot is not getting deployed properly on azure. I mean bot channel registration is not working. Can you help me out please?

[2021-04-01 07:24] rahul-8437008949 commented on #3339
@cwhitten @stevengum ,I am facing the same problem ,Are there any updates?

[2021-04-01 08:44] #6355 closed

[2021-04-01 09:57] martinlarosa commented on #6639
Is the app itself correctly deployed besides Bot Channels Registration not working?
Did you manually created the Bot Channels Registration service? Or is it your intention that the pipeline creates it for you if it doesn't exist?

[2021-04-01 10:00] martinlarosa commented on #3339
The solution is to deploy the bot app as a normal app in the normal deployment way for the platform you pick, and then the luis apps can be deployed using https://github.com/microsoft/botframework-cli/blob/main/packages/luis/README.md#bf-luisbuild
make sure that the output of that command is pointing to the path ./generated, since the json it generates needs to be inside that folder for composer t

[2021-04-01 10:05] rahul-8437008949 commented on #6639
I manually created all the resources.The app is getting deployed properly because i am getting details of it in deployment centre.I think the bot channel is not getting linked with the web app. They both are in the same app service plan However. Isn't there any way to integrate azure devops with bot composer?

[2021-04-01 10:26] martinlarosa commented on #6639
When you say composer(I  think of the IDE that helps you create and edit the bot) The output of that is a bunch of files.
Then if you want to use CI/CD you have to forget about Composer, at least in the current version. You have to commit your files to the repo and let the CI/CD take over.

In the othe issue you are participating they say in an upcoming version there will be some improvements that

[2021-04-01 11:04] martinlarosa commented on #6484
@stevkan I created a draft PR to help on this. Can we move this issue back to the botbuilder-dotnet repo so I can link it?

[2021-04-01 11:31] martinlarosa opened #6643 "Slack events cause the bot to try to respond to its own messages"
## Describe the bug

The slack api will also sent requests to the bot for the messages that the bot is sending. That's well known and it's on purpose.  The problem is that since the composer runtime is calling the dialog manager from the OnTurnAsync, all those events get to the bot and it will start replying to them as if the messages were coming from the user.

Should we prevent this by setting s

[2021-04-01 12:50] #5331 closed

[2021-04-01 13:24] cxbuilders opened #6646 "Publishing profile Subscription Dropdown not correct in multiple ways"
The subscription dropdown just shows one subscription out of multiple available to the logged in account. Furthermore the one it does show is not the default one and in the end it does create the resources with the default subscription and not the one it only showed and was selected.

Small update, it only created the app registration in the default tenant and the rest in the selected tenant

![im

[2021-04-01 13:41] adiazcan commented on #6525
Hello!  I have the same issue with the following version 1.4.0-nightly.229963.f72f063 of composer.

![image](https://user-images.githubusercontent.com/6652046/113302770-adcb5880-9300-11eb-9848-b5466e892d7f.png)

[2021-04-01 13:52] Dewain27 commented on #6627
@GeoffCoxMSFT spoke with Darren this morning and we want to not show the issue as an Error with a red X like below.  We think this should be more of a informational item that is more like an informational item telling you that you haven't completed your publishing profile setup.

![image](https://user-images.githubusercontent.com/18688053/113303689-f403c600-92c6-11eb-90ea-229a9b180e42.png)

I thin

[2021-04-01 14:01] luhan2017 commented on #6616
@Andrea-Orimoto @mewa1024 where can I find the video?

[2021-04-01 14:04] luhan2017 commented on #6616
@mewa1024 could you please help share your data.json file with me? It is most likely located here: C:\Users\{username}\AppData\Roaming\BotFrameworkComposer

[2021-04-01 15:01] boydc2014 commented on #6120
@tonyanziano did you get a chance to take a look at this, or I can help verify the scenario?

[2021-04-01 15:03] boydc2014 commented on #6400
I guess we are not going to do this in R13, is that correct @taicchoumsft? If so, let's clear the milestone.

[2021-04-01 15:04] boydc2014 commented on #6167
Are we clear about the actionable items for this ticket? @scheyal @taicchoumsft is it just refining a doc and correctly pointing to that doc, or this ticket indicate changes in the validation process?

[2021-04-01 15:07] boydc2014 commented on #5747
Is this still on track on R13? @taicchoumsft

Regarding the fix, should we add the flag only to every dialog that has an onChooseIntent trigger,  or we can just add it for all orchestrator recognizer? What will be the harm of adding it for all cases?

[2021-04-01 15:34] srinaath commented on #5912
@garypretty 

The issue @gabog mentioned does seem like a problem for a lot of code first folks moving to Composer. 

I think we can take the cue from VSCode launch.json and pick random port if static port is not set for a bot. If a static port is present and its not a reserved port used for Composer internal functionalities makes sense to provide some UI to allow passing port value and maybe even

[2021-04-01 15:41] VanyLaw opened #6647 "allowedCaller add in wrong place."
## Describe the bug
When I use new version runtime bot, I add the allowedCaller in settings page, but it was added in wrong place. It need to be added into runtimeSettings if the bot is new version bot.

![image](https://user-images.githubusercontent.com/21174180/113318281-e429c780-9342-11eb-9661-c68d09955b2b.png)
![image](https://user-images.githubusercontent.com/21174180/113318546-24894580-9343-

[2021-04-01 15:52] balyetcait opened #6648 ""Something went wrong" - an error during publishing a bot to Azure"
Hi!
At the begining the publishing system worked fine.
The next day and onwards it started to refuse to work  with the following error
![image](https://user-images.githubusercontent.com/81765903/113319314-f93e3080-9319-11eb-86da-6be6b3f5a47b.png)

Tried to figure out what happened and found somewhat of the description for the error in the profile edit
![image](https://user-images.githubusercontent

[2021-04-01 15:53] tonyanziano commented on #6120
@boydc2014 I have not looked at this yet. I plan on investigating once I wrap up the Web Chat inspection P0's

[2021-04-01 16:03] #6603 closed

[2021-04-01 16:41] cwhitten commented on #6646
Hi @cxbuilders - you're using 1.4.0 right?

When you say default subscription, could you mean the default _tenant_? You currently cannot select a tenant when creating a publishing profile, but this will be possible in our next release.

Can you expand on this a bit? What are the tenant and/or subscription mismatches that you are seeing?

[2021-04-01 16:43] taicchoumsft commented on #6400
Hi @boydc2014 , I expect a PR today or tomorrow for this, sorry for late arrival on this.  Found some interesting bugs in the downloader and wanted to fix it as part of this PR.

[2021-04-01 16:47] taicchoumsft commented on #5747
Yes one fix is to add flag only to dialog that has onChooseIntent trigger, and expose the recognizer thresholds in Composer somewhere.

I experimented with adding it for all, but then dialog will not work as expected when Orchestrator returns ChooseIntent and there is no onChooseIntent trigger to handle.

[2021-04-01 16:49] cwhitten commented on #6643
We've got some ideas on how to improve this, but it will require some changes across the stack. @carlosscastro & @EricDahlvang I'll assign to you for now.

Fundamentally, configured adapters need to the ability to drive the dialog system behavior. But this is something not supported today.

[2021-04-01 16:51] cwhitten commented on #6639
Thank you @martinlarosa for the help here! We have an issue CI/CD support tracked here: https://github.com/microsoft/BotFramework-Composer/issues/3339

It's still being discussed/designed and needs prioritization. I'll add this issue to the backlog

[2021-04-01 16:53] cwhitten commented on #6617
The PVA Publishing extension does this. We should do the same for Azure publishing!

[2021-04-01 16:55] cwhitten commented on #6615
@garypretty FYI - there are a few scenarios where Composer publishes the bot successfully and it all looks good, but the bot is not ready to accept messages.

[2021-04-01 17:01] cwhitten commented on #6609
This is by design and intended, but the UX may be unclear. The required resources have already been provisioned, so when editing a publishing profile to add more renders the list of optional resources.

[2021-04-01 17:04] cwhitten commented on #6607
@NickEricson were you able to verify if app insights were collected and working as intended? we may need to hit and endpoint in the service to populate this field. We don't know of anything functionally broken for app insights.

[2021-04-01 17:05] cwhitten commented on #6606
@JaskeeratBedi-cmk FYI

Is this the intended placeholder text?

[2021-04-01 17:05] mewa1024 commented on #6616
Surely. It has a modified date of yesterday though, so I don't know if it's been changed since the bug bash.
[data.json.zip](https://github.com/microsoft/BotFramework-Composer/files/6245237/data.json.zip)

[2021-04-01 17:06] cwhitten commented on #6602
@luhan2017 here is another one to look at.

[2021-04-01 17:06] benbrown opened #6649 "BUG: When in a multibot project such as enterprise assistant, the get started feature is does not lock to the root bot, and also does not detect child bot dependencies."
As a result, the project will say it requires QNA, but not LUIS.

If you select one of the skills, it will switch to LUIS, but not QNA.

This should always be locked to the root bot, and include ALL child deps.

[2021-04-01 17:08] mewa1024 commented on #6616
Oh, and the movie clips are attached to the original issue:
[https://fuselabs.visualstudio.com/BotFramework/_workitems/edit/58635/?triage=true](url)

[2021-04-01 17:37] beyackle opened #6650 "Removing a package in the Package Manager appears to hang"
## Describe the bug

Uninstalling a package causes the "Removing package" message box to pop up, but it doesn't go away. The package does get removed, and reloading the page works to solve the apparent hang (showing the removed package). The crash happens inside the catch block of Library.tsx at line 509 where it's trying to read `err.response.status` when the error object doesn't have a `response

[2021-04-01 17:38] a-b-r-o-w-n commented on #6355
@boydc2014

I would like to discuss this a bit more. Using the sync/async methods should not result in race conditions- there has to be some other thing leading to this (ex. a missing `await`). What #5822 has done is allowed the main thread to be blocked for ALL operations for I/O in `botProject.ts`. This change has the potential to introduce more performance issues for larger projects.

@cwhitten

[2021-04-01 18:25] alfenne opened #6651 ""Array of Choices" text input field not appear when wanting to write an expression for multi-choice prompt"
## Describe the bug

After creating a new project with the "New Creation Experience" box unchecked, I am unable to access the "Array of choices" text field after selecting "Write an Expression" from the drop down option when trying to create a multi-choice prompt.

## Version

1.4-nightly.229963.f72f063

## Browser

- [ ] Electron distribution

## OS

- [ ] Windows

## To Reproduce

Steps to repro

[2021-04-01 18:35] alfenne commented on #6651
@garypretty

[2021-04-01 18:51] danielgoldszmit commented on #5344
Adding the luisResource fix the issue using V1.4

[2021-04-01 20:20] martinlarosa commented on #6643
What would you suggest is a good workaround for now?
I moved the execution of the composer dialog to OnActivityMessageAsync but that prevents me from greeting new users in Teams and Web.
Another option I used was leaving it in OnTurnAsync and checking for slack channelId and then if the From.Id is the same as recipient then I would ignore it.

Both involve changing the runtime so not helping anyon

[2021-04-01 20:22] martinlarosa commented on #6643
@cwhitten can you elaborate a bit more on this?

[2021-04-01 20:32] v-kydela commented on #6560
That's good to hear, @rahul-8437008949

Can you tell us what you did to fix the problem?

[2021-04-01 20:54] v-kydela commented on #6648
Thank you for the report, @balyetcait

1. Can you provide numbered steps to reproduce the problem?
2. When you say "At the begining the publishing system worked fine" do you mean it only worked the first time you tried it or did it work multiple times?
3. When you say "Chrome" do you mean you're running Composer in a browser instead of the Electron app?

[2021-04-01 23:04] mewa1024 commented on #6512
Hi @zhixzhan yes, I think we should go with your solution.

[2021-04-01 23:20] filipelteixeira commented on #6639
@rahul-8437008949
One note about something that happen to me while I was manually creating every resource for MBF Composer deployment (with Terraform templates), after configuring everything the channel registration break without a clear message of what was happening.
When registering the App don't forget to register the reply URLs: 'https://token.botframework.com/.auth/web/redirect'
Documentation

[2021-04-01 23:38] mewa1024 commented on #6512
For the new trigger dialog, I think we should go with Option A for now. While Option B would make it easier to reuse trigger intents, I think it might confuse non-advanced users.

[2021-04-01 23:44] JaskeeratBedi-cmk commented on #6606
hmm... I think this is a bug, there is nothing specified as a placeholder, however tooltip should say this information. In essence this is the name we will assign to all the new resources that will get created in the publishing profile.

![Screen Shot 2021-04-01 at 4 42 38 PM](https://user-images.githubusercontent.com/67944302/113364831-5e3d5a80-9309-11eb-9749-6b281531ec2e.png)

[2021-04-01 23:46] JaskeeratBedi-cmk commented on #6606
Hmm.. the placeholder copy does not look right. This is what was proposed in the design.

![Screen Shot 2021-04-01 at 4 44 43 PM](https://user-images.githubusercontent.com/67944302/113364980-c2f8b500-9309-11eb-9add-07122f2e4db1.png)

[2021-04-02 00:01] skodiriy opened #6653 "Question about how logic works"
I am having trouble figuring out how to check for entity existence. I have a dialog that is supposed to let the user search for different types of information. Based on the different types of search, it will have different responses.

So I create a prompt, and in the user input I say the "Property" is dialog.searchType. So in the "Value" field of the user input I put the following:

= if(exists(@C

[2021-04-02 00:15] filipelteixeira commented on #3339
Hey, it's unofficial, but I wrote an article about Bot Composer CI/CD built on GitHub and Azure DevOps, you can check it here https://filipelteixeira.com/blog/how-to-devops-pipeline-for-bot-composer.
The code is available at my GitHub: https://github.com/filipelteixeira/msft-mbf-composer-pokebot-pipeline
And the pipeline execution can be checked here: https://dev.azure.com/filipelteixeira/msft-mbf

[2021-04-02 00:15] filipelteixeira commented on #6639
Hey, it's unofficial, but I wrote an article about Bot Composer CI/CD built on GitHub and Azure DevOps, you can check it here https://filipelteixeira.com/blog/how-to-devops-pipeline-for-bot-composer.
The code is available at my GitHub: https://github.com/filipelteixeira/msft-mbf-composer-pokebot-pipeline
And the pipeline execution can be checked here: https://dev.azure.com/filipelteixeira/msft-mbf

[2021-04-02 00:16] filipelteixeira commented on #6639
@rahul-8437008949
Hey, it's unofficial, but I wrote an article about Bot Composer CI/CD built on GitHub and Azure DevOps, you can check it here https://filipelteixeira.com/blog/how-to-devops-pipeline-for-bot-composer.
The code is available at my GitHub: https://github.com/filipelteixeira/msft-mbf-composer-pokebot-pipeline
And the pipeline execution can be checked here: https://dev.azure.com/filipe

[2021-04-02 00:17] cwhitten commented on #6639
@filipelteixeira this is amazing!

[2021-04-02 01:29] boydc2014 commented on #5747
I feel like that is the expected behavior, if orchestrator returns ChooseIntent and there is no trigger, and thus nothing happens.

I think it's down to the question, do we think ChooseIntent from Orchestrator is "trustworthy" or not.  If it is, i feel like it makes more sense that we add this flag for all cases, and educate user that, "you know, not always one single intent win, you need to desig

[2021-04-02 02:05] cosmicshuai commented on #6598
@stephanbisser
I found some documents for `TurnPath` and `dialogPath`, which corresponding to `turn.sth` and `dialog.sth`
[TurnPath](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.dialogs.turnpath?view=botbuilder-dotnet-stable)
[DialogPath](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.dialogs.dialogpath?view=botbuilder-dotnet-stable)

[2021-04-02 02:14] luhan2017 commented on #6602
That is by design, the appid and password are only used for local start bots. the abs appid and passwords are in the new created publish profile. Are we expecting to also fill in the local appid and passwords? That is only needed when local bot call a remote skill. @Andrea-Orimoto @NickEricson

[2021-04-02 02:16] boydc2014 commented on #6355
Thanks for raising the concerns. Let's chat about this in details, i've sent you an meeting early next week.

In short summary, what #5822 does is not making all IO sync, it just make certain critical io sync. Yes, the main thread will be blocked. But given our decoupled persistent layer design, in client's view, the IO operation is already complete, thus the perf impact on the client is minimal.

[2021-04-02 05:20] alanlong9278 opened #6657 "QnA Section action error."
## Describe the bug

### Bug 1
- Display: Create new kb from scratch after created from url, the url Kb last qna pair will show in the new kb qna pair when adding new pair.

- Reproduce
1. Create new kb from url
2. Create new kb from scratch
3. Click `Add qna pair` for scratch Kb
![qna-bugfix](https://user-images.githubusercontent.com/5860999/113382159-694cc500-93b3-11eb-9978-9f7e8f1540cf.gif)

##

[2021-04-02 06:30] rahul-8437008949 commented on #6560
It was mistake from my end.I was directly opening teams bot from azure due to which manifest was not getting used.

[2021-04-02 07:11] #6624 closed

[2021-04-02 07:18] cosmicshuai opened #6658 "Support LU go to definiton"
1. go to a imported lu file
[code]
Once user press ctrl + F12 on this line, the editor should navigate to a.lu file
2. go to a imported intent
[code]
Once user press ctrl + F12 on this line, the editor should navigate to the line of intent `TextResponse` in a.lu file

[2021-04-02 10:55] #6657 closed

[2021-04-02 11:43] balyetcait commented on #6648
Hi
1.The issue "Something went wrong" occurs when i press okay  at the menu
![image](https://user-images.githubusercontent.com/81765903/113411916-ae76f400-93bf-11eb-8c5b-145978737f3a.png)
The detailed description is located at profile manager in the recourse selection tab after authorization
![image](https://user-images.githubusercontent.com/81765903/113412098-13324e80-93c0-11eb-828a-e778cc96ce7d.

[2021-04-02 13:38] cxbuilders commented on #6646
Hey Chris,

for this specific account I have two different subscriptions in two different tenants, something like;

TenantA -> SubscriptionA
TenantB -> SubscriptionB

Yesterday it only showed SubscriptionA in the dropdown, which was not the one I actually wanted but I used that one. Then it went on and created the App Registration in TenantB and the rest of the resources in TenantA

[2021-04-02 13:40] Benjiiim commented on #5335
I can reproduce the issue with 1.4.0 as well.

[2021-04-02 14:32] luhan2017 commented on #6616
@mewa1024
- I can't see the first video.
![image](https://user-images.githubusercontent.com/32191031/113424416-b310cc00-9402-11eb-9ff7-6f806c94df8b.png)

The other two are not specific to abs scenario
- The second video shows the dotnet build empty_1.csproj error. @benbrown  any ideas?
- The third video shows add app password error during the provision process, is this error consistently reproduce

[2021-04-02 16:44] Bracciata commented on #6289
I have not forgotten about this but I have gotten extremely busy due to classes.

[2021-04-02 17:17] dmvtech commented on #6588
I'm not able to reproduce this issue.

@alfenne Are you running the bot a first time before generating new runtime and making changes? i.e. In between steps 2 and 3.

I'm running:
Version:  1.4.0-nightly.230410.31d4ca5
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

Let me know if I need to alter my steps at all.

[2021-04-02 17:19] alfenne commented on #6588
Yes @dmvtech, I did run the bot for a first time before generating a new runtime. Sorry for not making that clear.

[2021-04-02 17:42] dmvtech commented on #6206
Thanks @marvin-garcia Are you able to update Composer to v1.4.0 and try?

[2021-04-02 17:59] zxyanliu commented on #5388
I am closing this issue for now and will reopen it when necessary.

[2021-04-02 17:59] #5388 closed

[2021-04-02 18:03] #5503 closed

[2021-04-02 18:03] msomanathan commented on #6653
@skodiriy For product behavior, how-to, or general understanding questions, please use Stack Overflow. https://stackoverflow.com/search?q=bot+framework.

[2021-04-02 18:03] #6653 closed

[2021-04-02 18:05] msomanathan commented on #6651
@cwhitten Could you please check if Choice prompt has an issue in composer?

[2021-04-02 18:08] zxyanliu commented on #6439
I am closing this issue for now as it is functional and some of the content will be covered in the documentation.

[2021-04-02 18:08] #6439 closed

[2021-04-02 19:10] Dewain27 opened #6663 "Text is hard to read when creating a new bot"
## Describe the bug

When creating a new bot the post selecting a template, you have a series of informational items that are gone through, however the text is really hard to read on top of the text of the existing screen.  See screenshot example below:

![image](https://user-images.githubusercontent.com/18688053/113446131-cc8f2500-93bc-11eb-9d58-3563bd6fbe4a.png)

## Version

Version:  1.4.0-nigh

[2021-04-02 19:22] #6595 closed

[2021-04-02 19:22] #6614 closed

[2021-04-02 19:44] #6627 closed

[2021-04-02 19:47] clearab opened #6664 "Proactive Messaging from Composer"
We need to add support for sending proactive messages from Composer. Scenario needs to be examine holistically, and consider the methods for delivering proactive messages across the various channels we support.

[2021-04-02 20:36] v-kydela commented on #6648
Thank you, @balyetcait

In order to try and reproduce your problem, I need more detailed repro steps. Please try creating a new publish profile and recording the steps you take carefully. For example, do you select all of the optional resources like App Insights?

If I can't reproduce the problem after getting detailed repro steps, I can try to help you use the "Import existing Azure resources" op

[2021-04-02 21:39] #6192 closed

[2021-04-02 22:34] balyetcait commented on #6648
Tried to create a new one, same issue. As long as i'm authorized, after i get past choosing Publishing target screen i get the resource screen with the error.
Tried to sign out and relogin but the error returns as soon I’m in

![image](https://user-images.githubusercontent.com/81765903/113458615-86b57980-941b-11eb-86a9-77a7990d6ba8.png)
![image](https://user-images.githubusercontent.com/81765903/1

[2021-04-02 22:37] mewa1024 commented on #6616
Hi @luhan2017 the video just shows that I click on the "Open in Composer" button and then Composer opens and does nothing else.

https://user-images.githubusercontent.com/39317542/113458883-acfdf980-93c8-11eb-9841-4da6603ecc1e.mov

for the 3rd video, it was consistently reproduce-able for me during the bug bash--I was not able to get past the provision failure and couldn't complete the other tasks

[2021-04-02 23:00] v-kydela commented on #6648
@balyetcait - Okay, it looks like you're saying you can't even get to the part where you choose your resources because Composer is having trouble recognizing your credentials. I don't think your publish configuration will make a difference if this is a problem with your Azure account.

@cwhitten - Who should we talk to about resolving errors from AAD?

[2021-04-02 23:19] taicchoumsft opened #6666 "Orchestrator: Warmup can crash when trying to access getLabelResolverAsync concurrently"
## Describe the bug
The existing code uses a `promise.all` to access `getLabelResolverAsync`, and can cause the Orchestrator worker thread to crash. This is occasionally seen when using Orchestrator with a previously trained multilanguage bot with multiple blu files.

## Version
main

## Browser
All

## OS
All

[2021-04-03 00:36] dmvtech commented on #5809
@srinaath and I am still struggling to getting any approach to work (even though we believe we have previously). Any functions, etc will be evaluated, but then get still enclosed in quotes as strings (ex: `"scoreThreshold": "${isInteger(conversation.number)}"` would become `"true"` and not `true`).

Using a response template:
[code]
Works for a simple response:
[code]

But when used in the HTTP ac

[2021-04-03 06:24] madbeher opened #6670 "fetching qnaKnowledge base answer using qnaId in composer"
Hi,

We know that for each QnA question and answer, there's an ID associated. In postman using below steps I am getting the answer from knowledgebase.
![image](https://user-images.githubusercontent.com/36945600/113469725-9362bd80-946d-11eb-8e00-09923af9ab3e.png)
![image](https://user-images.githubusercontent.com/36945600/113469802-2ef42e00-946e-11eb-8849-aedfd8eb5ddc.png)

The same I want to achie

[2021-04-03 08:19] cxbuilders commented on #3339
@martinlarosa Currently Composer relies on the luis apps to be defined in the appsettings.json and having the generated folder or not has no effect. Additionally version 1.4 has removed the version property from the luis apps in the appsettings.json, which was present in 1.3. Having the version even breaks 1.4 with a 404 on luis prediction calls.

What you're stating is that indicative for relying

[2021-04-03 12:23] lampeTechnidoo commented on #6482
I I have the same error  I tested on these version , only in V1.4.0 there was another error message ( I think [the fix 5840](https://github.com/microsoft/BotFramework-Composer/pull/5840) will only fix a parsing problem but this is not all).
(Eventuall special permission (account, ressources, ..) problems or region problems (I tested "westus" and "westeurope")?

I tested with this versions:
•	Compo

[2021-04-03 12:33] rajasweet14 commented on #6482
Is there is any update ,I too tired they same 400 error code still there !pls give a solution for us ... Need to put it in app service for external usage ...

As of now I am Tunnel my localhost and map that endpoint or url in azure bot service configuration it is good for showcase and demo to team not good for POC .......

Pls resolve or give a solution to deploy to already existing app service

[2021-04-03 14:08] martinlarosa commented on #3339
I have never used luis app ids on appsettings with composer. So I can't comment on your first paragraph, sorry.

I was not talking about future releases, I was talking about how I currently use it, with 1.4 and before that with 1.3.something. Although I should clarify I didn't update the runtime of the bot since I ejected the runtime in the previous version to customize some things. Maybe that's w

[2021-04-03 14:28] cxbuilders commented on #3339
@martinlarosa I am talking about the final state of composer published in the webapp. We have pipelines doing all the building and publishing into dev / acc / prod environments. Since this was changed between V1.3 & V1.4 I thought (mistakenly) you were saying here that the id's in the appsettings might not be required anymore in upcoming releases.

If you check the appsettings.json of a published

[2021-04-03 18:09] martinlarosa commented on #3339
Are you using WebApp of Azure Function?
I'm using WebApp and I'm using the generated json file because I saw the code in Microsoft.BotFramework.Composer.Core.ComposerSettingsExtensions
Maybe the deployment code in Composer moves the generated values to env variables? I'm not sure, I never deployed the bot using composer. Anyway, the important thing is that the bot needs in the settings at runtime

[2021-04-03 18:35] #6597 closed

[2021-04-03 18:55] cxbuilders opened #6671 "Composer Version in appsettings.json"
In order for a pipeline to retrieve the correct Composer Runtime version we would need the Composer Version somewhere exposed that can be used to get the correct runtime version from this github project. Currently there seems to be no way to get this info so only the latest can be retrieved causing the danger of having a mismatch.

[2021-04-03 19:32] cxbuilders commented on #3339
strange, for me it only works when the pipeline adds the actual app id's to the appsettings.json luis property. Maybe someone from the composer dev team can shed some light on the generated folders function vs appsettings.json app id's?

[2021-04-03 20:26] martinlarosa commented on #3339
in the settings do you have correctly set the luis environment and luis region so that it can find the output json correctly?
"luis.settings.{environment.ToLower()}.{luisRegion}.json"

[2021-04-04 07:42] cxbuilders commented on #3339
@martinlarosa Just looked into it, as it was annoying me :) The environment and the region are correct. I believe it actually does pick it up correctly in the webapp from the generated folder. The generated json file just gets added to the IConfiguration, as if it was part of the appsettings.json. However the issue I had to fix in V1.4 was that having the version in the appsettings.json as well br

[2021-04-04 19:42] sgellock opened #6674 "Unable to Insert prebuilt functions convertFromUTC and convertToUTC in a response"
## Describe the bug

When authoring a response, inserting the convertFrom/ToUTC prebuilt functions results in an empty expression:  ${}

## Version
Version:  1.4.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [ ] Electron distribution
- [ ] Chrome
- [x] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

S

[2021-04-04 20:16] GeoffCoxMSFT commented on #6255
Note to self - this will be a good starting place when making calls to see if the user has the roles necessary to create resources on the subscription/resource group and updating particular resources.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-list-rest

[2021-04-04 20:26] sgellock opened #6675 "Skills documentation updates"
## Describe the bug
The docs we have for skills have a couple of things I think we need to modify.

First off, it would be good to have Publishing a skill be under the "Publish" top-level documentation topic tree.  the Publish topic just links to general azure publishing.  which is fine, however skills publishing has additional requirements, and we should have another article in the publish node t

[2021-04-04 20:37] sgellock opened #6676 "Fit and finish: Fix plurality language for publishing notification"
## Describe the bug
Publishing a single bot causes a nice notification window to appear, however the text says "Publishing 1 bots".  I would expect the sentence to use the singular form, when we publish a single bot. e.g. "Publishing 1 bot"

## Version
Version:  1.4.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser
- [x] Electron distribution
- [ ] Chrome

[2021-04-04 21:05] narulasrinivas opened #6677 "intent=DeferToRecognizer_LUIS_ getting added to QnAMaker"
I created BOT with 2 dialogs and and added QnAMaker KB to each one of them. BOT is able to recognize text using LUIS and fetching as requested.  Since BOT is crosstrained, **intent=DeferToRecognizer_LUIS_**  is getting added to QnAMaker KB as shown below.
![image](https://user-images.githubusercontent.com/2491903/113521388-19c3f000-9591-11eb-9760-dd872f052d09.png)

When I type which is of crosstra

[2021-04-05 05:53] barathbhaskaran opened #6679 "Thank you @vishwacsena . This example is excellent to understand better. It works. Appreciate your quick response."
Thank you @vishwacsena . The same thing dosen't seem to work with newer versions of composer and emulator.Is there a workaround for that

[2021-04-05 14:12] cwhitten commented on #6651
@tdurnford will be looking at this

[2021-04-05 14:33] tdurnford commented on #6651
@alfenne @cwhitten I’m able to reproduce this issue. Still investigating why the field isn’t resolving correctly when the value is undefined. I think it has something to do with intellisense, but I’m not sure.

[2021-04-05 16:09] dmvtech commented on #6679
Needs more information or specifics. Not an issue with any valid data.

[2021-04-05 16:09] #6679 closed

[2021-04-05 16:13] benbrown opened #6680 "Migrate old projects to the new adaptive runtime"
When we launch the new adaptive runtime, we must provide a way to update old projects to the new format.

[2021-04-05 16:16] rahul-8437008949 commented on #6639
@cwhitten @filipelteixeira what issue i am facing is that my pipelines get executed properly, The bot gets deployed properly into the app service . But bot channel registration doesnt seem to work.  I mean to say that the web chat doesn't work after deployment ,however bot gets deployed properly.

[2021-04-05 16:27] filipelteixeira commented on #6639
@rahul-8437008949
Since you are using the App Service in Azure, and if the setup was made using the Bot Composer scripts, you can go and activate the Application Insights in the Azure Portal. Afterwards, access the Application Insights for the App Service, use the real-time console to monitor the App behavior and retry the Web Chat Test Window in the Azure Bot Service resource.
Follow up with the

[2021-04-05 16:42] ryanlengel opened #6681 "Creation: Bot's default name should pass validation on instantiation"
## Describe the bug

When creating a bot using the old experience, users would be provided a default name ("EmptyBot-0") that allowed them to click through and instantiate the project without making any changes. Using the new creation experience with the adaptive runtime, the default name appears to come from the generator ("@microsoft/generator_bot-empty") but it is invalid and an error is highli

[2021-04-05 16:43] rahul-8437008949 commented on #6639
@filipelteixeira , What is currently happening is
I deployed my bot using bot composer --> works fine .Then i uploaded the same project files on devops and built ci/cd pipelines and deployed the bot to app service. But the changes made doesn't reflect in bot channel instead the same bot responses are there as there were when deployed directly from composer.

[2021-04-05 17:08] filipelteixeira commented on #6639
@rahul-8437008949
Can you share the pipeline execution log?
Have you checked if the files were updated after you ran the pipeline? Azure Portal - kudu or sftp

[2021-04-05 17:08] #6462 closed

[2021-04-05 17:13] #6161 closed

[2021-04-05 17:15] #6100 closed

[2021-04-05 17:15] #6361 closed

[2021-04-05 17:16] benbrown opened #6683 "Publishing: the new runtime uses a different form of appsettings.json file. The publishing tools will need to be updated to map the publishing profile to this new format."

[2021-04-05 17:42] zxyanliu commented on #6675
Hi, @sgellock Thanks for your valuable feedback! Here is a rough proposal and let me know if I understand your request correctly:

* Adding a node (_Publish a skill to Azure_) in the publish section of the TOC and documenting the publish flow specific to skills (publish, generate skills manifest, republish).

  **Publish**
  - Publish a bot to Azure
  - _Publish a skill to Azure_

* Fixing both th

[2021-04-05 17:51] #6556 closed

[2021-04-05 18:07] peterinnesmsft commented on #6677
@narulasrinivas would you be able to share any specifics around the various dialog assets (.dialog, .lu, .lg, .qna) files that you are feeding into cross-training that are producing this result? That will help us better diagnose where any potential issues exist. Thank you!

[2021-04-05 18:12] sgellock commented on #6675
@zxyanliu your proposal is perfect.  thank you.  that captures what I was asking for.

[2021-04-05 18:14] peterinnesmsft commented on #6586
@formore5points can you confirm which control you are using to specify the date input as seen above? Is this from an adaptive card that we provide, or is it some custom mechanism? Any additional info will help us root cause. Thank you!

[2021-04-05 18:25] peterinnesmsft commented on #6406
@luhan2017 can you please review the customer ask above and respond accordingly? Thank you!

[2021-04-05 18:27] peterinnesmsft commented on #6241
Transfer to StackOverflow.

[2021-04-05 20:06] #6674 closed

[2021-04-05 20:09] jameslew opened #6688 "Composer pins tenant id during publish profile creation; keeps alt account from publishing"
## Describe the bug

Currently, during publish profile creation, composer caches tenant id after successful login.  Trying then to publish to an account in a different tenant fails as composer tries to use the cached first tenantid.

## Version

Version:  1.4.0-nightly.230964.e5e5020
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distrib

[2021-04-05 20:18] jameslew opened #6690 "Bot that doesn't depend on QnA is getting a warning that QnAKey is missing (composer nightly)"
## Describe the bug

I've created a bot that doesn't depend on QnA or LUIS, however validation says that the bot has an error due to missing QnAKey in appsettings.json

## Version

Version:  1.4.0-nightly.230964.e5e5020
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2021-04-05 20:32] jameslew opened #6692 "I shouldn't be asked for a LUIS region before I opt-in to LUIS when creating publish profile"
## Describe the bug

I shouldn't be asked for a LUIS region before I opt-in to LUIS when creating publish profile.  Right now the regions selection phase is before the services selection phase

## Version

Version:  1.4.0-nightly.230964.e5e5020
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Fi

[2021-04-05 20:50] #6464 closed

[2021-04-05 20:52] clearab commented on #6531
I think the issue here is a bit more fundamental - the copy/paste creates uncertainty on what is getting deploy (things that were copied somewhere else) versus what I as the bot developer believe is the source of truth for my bot (the files I'm putting in source control from on disk). I think ideally we should be doing the build in-place, and I can easily find the build drops in my /bin folder as

[2021-04-05 20:59] jameslew opened #6693 "Publish Profile uses incorrect bot name when publishing microsoft.insights resource"
## Describe the bug

When I create my bot, composer chooses to opt me in to all the resource types (IMO we should rethink that, but different discussion).  When composer attempts to verify the Application Insights resource, instead of using the resource name it seems to use the ResourceGroup name for the name of the resource and fails.

## Version

## Browser

- [X] Electron distribution
- [ ] Chr

[2021-04-05 22:36] anusharavindrar commented on #6518
@hebaelfadly, what version of the composer are you on?

[2021-04-05 22:39] blakehoughton opened #6699 "Random words trigger incorrect intents"
## Describe the bug

Random words when entered into the emulator triggers incorrect intents. For example I have an intent that sends a response if one of the following words are detected eg. "37", "currency", or "money" but when I enter the word "banana" in the emulator this intent is recognized and triggers a response? Why is this?

Here is the example of the intent below:

![image](https://user-

[2021-04-05 23:14] #5779 closed

[2021-04-05 23:23] #6649 closed

[2021-04-05 23:30] benbrown commented on #6384
Closed by #6592

[2021-04-05 23:30] #6384 closed

[2021-04-05 23:37] gabrielguarisa opened #6701 "Typing indicator before text messages"
Is there a better way to indicate that the bot is typing without having to place these activities before each message?

![Captura de Tela (104)](https://user-images.githubusercontent.com/11513141/113638207-b3040c80-964c-11eb-9bc6-754e9da625c0.png)

I am aware that this issue has already been raised in #4471 and it was partially answered [here](https://stackoverflow.com/questions/61602436/simulatin

[2021-04-05 23:40] jameslew opened #6702 "Cannot create a bot after disabling app insights during publish"
## Describe the bug

When I create a publish profile, I'm given the option of disabling several resources.  If I disable App Insights, the logic seems to try to do something with app insights anyway and then fails.

## Version

Version:  1.4.0-nightly.230964.e5e5020
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome

[2021-04-06 00:11] dmvtech commented on #6588
Thanks @alfenne. I am _still_ not able to reproduce. Just wanted to confirm this reproduces for you consistently. i.e. You can create new bots with the same steps above and it reproduces each time?

[2021-04-06 00:11] #6583 closed

[2021-04-06 00:20] dmvtech commented on #6552
@formore5points Is there anything further needed? It is resolved for you, correct?

[2021-04-06 00:31] dmvtech commented on #6670
Hi @madbeher

Sorry if I'm not following what you're asking 100%, but if I think I understand correctly; you could do this by using using the HTTP request action to post to the QnA service with a body of:
[code]

Then parse the response for the answer.

[2021-04-06 01:33] #5556 closed

[2021-04-06 01:33] #6416 closed

[2021-04-06 01:52] hibrenda commented on #5175
addressed in #5822

[2021-04-06 01:52] #5175 closed

[2021-04-06 01:54] hibrenda commented on #5708
addressed in #5853

[2021-04-06 01:54] #5708 closed

[2021-04-06 03:54] luhan2017 commented on #6692
@JaskeeratBedi-cmk , could you please help take a look at this?

[2021-04-06 04:01] JaskeeratBedi-cmk commented on #6692
Thanks. I will take a look and see if this issue will be resolved in the updated designs for provisioning.

[2021-04-06 04:22] boydc2014 commented on #6690
@liweitian  can you help take a look at this?

[2021-04-06 05:39] boydc2014 commented on #6120
I can't repro this in my end, with install\uninstall for current and for all user. I do see some similar issue in nightly build that is not correct signed. @carlosscastro  in which version you saw this issue?

Closing this for now till we get a second repro.

[2021-04-06 05:39] #6120 closed

[2021-04-06 06:25] philip-mc commented on #6422
Morning, ok yea I went down this route myself. It is not quite optimal to build the knowledge base within composer as I have a dynamic URL I wish to use to keep the knowledge base fresh as a site is updated. The sync from composer to QnA maker appears to be one way from at the - is there a way to keep this sync up?

[2021-04-06 07:00] rahul-8437008949 commented on #6639
![Screenshot (178)](https://user-images.githubusercontent.com/54345729/113671238-b7bfd380-96d3-11eb-9dd1-cb5f8daad5dd.png)
![Screenshot (179)](https://user-images.githubusercontent.com/54345729/113671243-b8f10080-96d3-11eb-8b7f-1956d604e369.png)

[2021-04-06 07:09] hibrenda commented on #6690
I could not repro the issue with latest electron nightly.
As I hit creation failure for latest nightly, so I have to open an existing bot.
- open an empty bot (en-us) only (only greeting in welcome)
- start bot (run locally) and test in integrated webchat (worked as expected)
- provision and publish to abs (uncheck luis/qna, worked as expected)
- reload the bot (no error display in debug pane)
![i

[2021-04-06 07:19] #6400 closed

[2021-04-06 07:21] hibrenda opened #6704 "can not create bot with latest electron nightly"
Can not create a bot with latest electron nightly .(new adaptive runtime)

Try to create a new blank bot but hit following issue.

![image](https://user-images.githubusercontent.com/43408889/113673484-a08ce000-96eb-11eb-9be2-b77d1cfe3fd0.png)

[2021-04-06 07:21] luhan2017 commented on #6616
I can't reproduce this issue and I asked @cosmicshuai and @zhixzhan's help to test on Mac. We found that on Mac, if you didn't open Composer before click button "open in Composer" it consistently not works. We found that in the code logic, it only handles windows, is this expected not work for Mac? @tonyanziano , could you please help take a look on this?

![image](https://user-images.githubuserco

[2021-04-06 07:25] boydc2014 opened #6705 "Fail to create bot"
Latest electron nightly can't create a blank bot

![image](https://user-images.githubusercontent.com/3829387/113673994-3de81400-96ec-11eb-8091-41a8af198889.png)

Repro:
- New
- Select blank bot
- Create
- See error, "dotnet build" fails

[2021-04-06 07:26] hibrenda opened #6706 "Can't edit publish profile if I have already created a new one under latest electron nightly"
- Open old bot (empty bot) in latest electron nightly
- add publish profile (uncheck all optional resources)
- provision and publish worked as expected
- click edit to edit publish profile
- first time, composer showed some info but I can not click "next" to move forward
- So have to close the composer electron and reopen composer, reopen empty bot
- click edit publish profile again
- prompt me no

[2021-04-06 07:28] hibrenda commented on #6702
not repro this issue with latest electron nightly.

[2021-04-06 07:39] filipelteixeira commented on #6639
@rahul-8437008949
Ok so that's the build log and release definition, what about the release log?
Have you checked the server files?

[2021-04-06 08:22] hibrenda opened #6707 "could not sign out during provision"
Latest electron nightly
- open a bot which published before
- adding a new publish profile
- click "sign out"

nothing happened and provision wizard go away.

[2021-04-06 08:26] hibrenda commented on #6688
hit https://github.com/microsoft/BotFramework-Composer/issues/6707 during the verification.

[2021-04-06 09:32] alanlong9278 commented on #6604
I can not reproduce the bug. Like the gif shows, it works well in v1.4.0-nightly.228616.da1ac55. @Andrea-Orimoto
![renam](https://user-images.githubusercontent.com/5860999/113690433-f8344700-96fd-11eb-8ae5-c869a2758dbe.gif)

[2021-04-06 09:34] hibrenda commented on #6595
![image](https://user-images.githubusercontent.com/43408889/113690591-2d409980-96fe-11eb-8e67-613e629357a1.png)
I still hit the arm token issue with latest main run on local host. any step missed ?

[2021-04-06 12:47] Dewain27 opened #6708 "Create QNA Resource hangs on screen"
## Describe the bug

When I add a knowledge-base to a bot project and am prompted in the Next Steps location that I need to provision a QNA resource, It hangs when you click Next on this screen:
![image](https://user-images.githubusercontent.com/18688053/113712308-9945e200-96ab-11eb-87d3-f5b2c2649be3.png)

## Version

Version:  1.4.0-nightly.231404.da58480
Electron: 8.2.4
Chrome: 80.0.3987.165
Nod

[2021-04-06 13:02] Dewain27 opened #6709 "Errors still showing vs Teaching bubble popping up with teaching bubble"
## Describe the bug

When you add LUIS and/or QNA maker to your bot project, you get an error still for not having the resources configured/provisioned.  This was supposed to be replaced with the Next Steps being highlighted with a teaching bubble and the errors removed.

![image](https://user-images.githubusercontent.com/18688053/113714066-9e0b9580-96ad-11eb-8702-c79f421caf13.png)

## Version

Ve

[2021-04-06 13:16] Dewain27 opened #6710 "Tab in Bot Settings for Publishing Profiles is confusing or miss-labeled"
## Describe the bug

When looking to find the location for publishing profiles, it is under a tab called Connections.  This tab makes sense for the channels and adapters, but doesn't make sense for Publishing Profiles.  We should either update the Tab to say "Publishing and Connections" or it should be separated into different tabs.

![image](https://user-images.githubusercontent.com/18688053/1137

[2021-04-06 13:30] Dewain27 commented on #6708
I discovered that while I was working on something else that all of a sudden all of the items were populated.  I think there must be a long running action that was done in the background.  It eventually just completed, but it was many minutes later.  I then got this in the UI.
![image](https://user-images.githubusercontent.com/18688053/113718489-50455c00-96b2-11eb-9098-2df50792e080.png)

There was

[2021-04-06 13:33] LiorArmiev commented on #6705
same problem with the new version of composer:

[2021-04-06 13:46] mrtank opened #6711 "No warning/error on Array of choices empty. Also gives "Object reference not set to an instance of an object.""
## Describe the bug

When starting up a new multi-choice prompt, I tried to add my choices to "Bot Asks"'s Response Variations. My bad. The Composer handles Array of choices with simple choices empty list with runtime "Object reference not set to an instance of an object." exception. Meaning the bot's response in a text box is that. I would expect a warning/error for this kind of mistake. If I rem

[2021-04-06 15:10] ctharmon722 opened #6712 "Bot Composer integration with Bot SDK"
No documentation or methodology for integrating SDK with Composer. Looking for information on doing this

[2021-04-06 15:28] a-b-r-o-w-n commented on #6595
There is a known issue that @GeoffCoxMSFT is working on. This looks related.

[2021-04-06 15:40] ctharmon722 opened #6713 "Composer update to v1.4"
Since updating to version 1.4, I can not start my bot. Here is the error I am getting.

Start bot failed

Message:
spawn C:\WINDOWS\system32\cmd.exe ENOENT
Command:
dotnet user-secrets init --project azurewebapp
Stack Trace:
Error: spawn C:\WINDOWS\system32\cmd.exe ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:264:19)
    at onErrorNT (internal/child_process.js:456:1

[2021-04-06 16:02] benbrown commented on #6708
oh WEIRD, yes, something broke on the QNA maker create screen. It should be showing a progress bar, etc.

[2021-04-06 16:10] rahul-8437008949 opened #6715 "Hyperlinks"
@v-kydela @cwhitten ,is there way to add hyperlinks in send response . I wanted to show users some quick links.

[2021-04-06 16:13] jwiley84 commented on #6712
Can  you clarify a bit of what you're looking for? are you looking for the code behind the composer bot? Or trying to add something like LUIS or a custom action? We're going to need a few more details.

[2021-04-06 16:19] ctharmon722 commented on #6712
Hi yes!

We are looking to mix and match “regular” Bot Framework Dialogs with Composer-Generated Adaptive Dialogs. We actually already have custom actions, LUIS, QnA, and adaptive cards integrated into our composer bot. This bot goes down one of the pathways for the overall bot. This bot needs to be integrated into the "other pathways" which were written in a typical C# dot net SKD bot framework.

[2021-04-06 16:21] ctharmon722 commented on #6712
Just to give a few more details, we tried to follow this persons blog post

https://jamiemaguire.net/index.php/2020/03/08/bot-framework-how-to-integrate-composer-adaptive-dialogs-with-regular-dialogs-a-hybrid-approach-to-chatbot-development/

But it uses an older version of SDK, and the 3.1 does not have the same files/ does not have the files they need.

[2021-04-06 16:40] srinaath commented on #6707
@GeoffCoxMSFT  Could you take a look at this ticket?

[2021-04-06 16:44] srinaath commented on #6706
@GeoffCoxMSFT could you take a look at this ticket?

[2021-04-06 16:49] tonyanziano commented on #6616
@luhan2017 My understanding is that Mac and Windows handle protocol URLs in different ways. In Windows, this URL is forwarded as an argument to the main process during startup, and on Mac, this is handled in the [`open-url`](https://www.electronjs.org/docs/api/app#event-open-url-macos) event handler.

Unfortunately I cannot test this flow on Mac because I do not own one, so my ability to debug thi

[2021-04-06 17:12] #6705 closed

[2021-04-06 17:13] v-kydela commented on #6715
@rahul-8437008949 - Generally yes, but what channel are you using? On most channels you can use an open-URL action or create a hyperlink with Markdown.

I can try to help you here for now, but [please note](https://github.com/microsoft/BotFramework-Composer#support-and-feedback) that it's best to ask how-to questions on Stack Overflow.

[2021-04-06 17:29] dmvtech commented on #6701
Hi @gabrielguarisa

Please help me understand your requirement/need. Are you just wanting the bot to send typing activities whenever it is 'thinking'?  Are you wanting to show the typing activity with less of a wait (less time between when bot receives message and sends typing activity)?

The typing middleware should send typing activities if the activity on the bot side takes longer than half a s

[2021-04-06 17:44] chrimc62 opened #6716 "Unclear instructions on access token break experience"
## Describe the bug

When I clicked on the Get LUIS Keys button it told me to run an az comand an implied I should paste the output in the box.
![image](https://user-images.githubusercontent.com/17637681/113754810-78d65180-96c4-11eb-9bd7-4697ade713c0.png)
Pasting in the returned JSON will result in a broken experience you cannot fix without knowing to go into local storage and delete the key.
![im

[2021-04-06 17:45] rahul-8437008949 commented on #6715
I am using teams ,Can you tell how to create a hyperlink with Markdown .
Sorry will keep it in mind now onwards.

[2021-04-06 18:13] #6676 closed

[2021-04-06 18:37] v-kydela commented on #6715
You can learn basic Markdown syntax using [this guide](https://www.markdownguide.org/basic-syntax/#links). Note that it's the same syntax we're using right here in GitHub. Here it is in Composer:

![image](https://user-images.githubusercontent.com/41968495/113761284-239e3e00-96cc-11eb-82ee-df4d19c90917.png)

And here it is in Teams:

![image](https://user-images.githubusercontent.com/41968495/1137

[2021-04-06 18:37] #6715 closed

[2021-04-06 18:41] dmvtech commented on #6699
Hi @blakehoughton

I'm not sure how familiar you are with LUIS, but NLP technologies need a fair amount of training to be really decent. My assumption for your above situation is that this is just using Composer and an authoring endpoint; is that correct?

I'm not sure why 'banana' is being picked up as an intent. I tested in the LUIS portal, and it behaves the same. The one thing that does help i

[2021-04-06 19:24] cwhitten commented on #6531
Having all runtimes auto-ejected into the project relaxes the constraints we are working with when building the project. I agree that a /dist-like directory would suffice in the project. I wouldn't think this should be checked-in though.

A scenario that was considered in the current approach was the ability to rollback or rollfoward publishes. Even still, we can achieve a better solution for this

[2021-04-06 19:39] #5349 closed

[2021-04-06 19:48] blakehoughton commented on #6699
Thanks @dmvtech ,

Yes this is simply just using the composer and the authoring endpoint. I will have a go at training the none intent and putting in random phrases but this will require a lot of time/training,

Thanks for your ongoing help.

[2021-04-06 19:50] gabrielguarisa commented on #6701
Hello @dmvtech. Thanks for the reply.

From what you told me, I believe there are two different questions then:
1. Typing activity is not occurring on the direct line channel (and in azure web chat) if I do not explicitly place the typing activity on the composer (as shown in the image above).
2. Is there a way to put a delay on all messages, without explicitly sending the delay activity?

[2021-04-06 20:07] #5804 closed

[2021-04-06 20:08] cwhitten commented on #5792
@bennimoser tenant/directory selection will be available in our upcoming stable release (May 2021). The early adopters feed has this functionality now if you wanted to try it out. You'll need to recreate your provisioning profile.

[2021-04-06 20:08] #5792 closed

[2021-04-06 20:09] #5468 closed

[2021-04-06 20:14] cwhitten commented on #6713
@ctharmon722 you are using a custom ejected runtime, correct?

assuming so, you'll need to either update to the Early adopters feed or make a small change in your runtime settings.

Runtime code location needs to change from "runtime" to "../runtime".

![image003](https://user-images.githubusercontent.com/1156704/113772736-f35d9c00-96d9-11eb-93b4-4436009c50af.png)

[2021-04-06 20:14] cwhitten commented on #6713
I'll preemptively close this, but please do let me know if this does not solve the issue for you.

[2021-04-06 20:14] #6713 closed

[2021-04-06 20:15] ctharmon722 commented on #6713
Can you give me more feedback on the early adopter feed?

[2021-04-06 20:20] cwhitten commented on #6713
Sure. If you navigate to the Settings page you can toggle it and then from the Help menu select "Check for updates". This will put you on the daily build of the application, so it is unstable and has features in development.

Taking the approach of updating your runtime code location may be a more stable choice.

<img width="1050" alt="Screen Shot 2021-04-06 at 1 18 50 PM" src="https://user-images

[2021-04-06 20:20] beyackle opened #6720 "Redesign the "Connections" settings section to match the new designs"
## Describe the solution you'd like

We have new designs and language for the Connections (formerly Adapters) part of the bot settings, and these should be implemented.

[2021-04-06 20:23] ctharmon722 commented on #6713
Thanks. that is really helpful. Just an FYI, changing the runtime code worked perfectly. And based on that advice, I will stick with that

[2021-04-06 20:24] a-b-r-o-w-n commented on #6616
@luhan2017 I can confirm that deep links don't seem to work when composer is not already open. It would be worth consolidating the deeplink logic into a single unit that handles both windows and mac.

[2021-04-06 20:30] benbrown opened #6721 "Bug: clicking the deep link to the QNA key from get started does not navigate to the appropriate tab on the settings page"

[2021-04-06 20:32] benbrown opened #6722 "Bug: while the luis or QNA provisionig processes are happening, it is possible to accidentally dismiss the modal by clicking outside the modal"

[2021-04-06 20:40] hatpick commented on #6704
Fixed by https://github.com/microsoft/BotFramework-Composer/pull/6714

[2021-04-06 20:40] #6704 closed

[2021-04-06 20:42] benbrown commented on #6708
Fixed in #6723

[2021-04-06 20:52] benbrown commented on #6530
Rather than capture this information, we rely on the project itself to include this information in the readme.

[2021-04-06 20:52] #6530 closed

[2021-04-06 21:28] sgellock opened #6726 "If the Creation process fails, we're not cleaning up properly"
## Describe the bug
I'm using a nightly build.  so what's nice about this is that there is some fragility in the Creation flow.  As a result of that, failure cases during creation are easier to produce than when we'll be working against release candidates and GA release builds.

When the creation process fails, we don't clean up the new folder.  So, when you try and create the bot again, the name

[2021-04-06 21:28] Dewain27 commented on #5956
@GeoffCoxMSFT  for R13 please just make the notification sticky.

[2021-04-06 21:29] #6666 closed

[2021-04-06 21:34] Dewain27 commented on #6555
@Dewain27  please review all learn more links

[2021-04-06 21:34] Dewain27 commented on #6555
Blocked by #6507

[2021-04-06 21:55] sgellock opened #6727 "Error dialog clips error message text"
## Describe the bug

I'm using a nightly build of Composer where I can consistent cause the creation process to fail.  When I get an error message, and view the details of that message, the error text is clipped.  See attached screenshot

## Version
Version:  1.4.0-nightly.231667.d104286
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron dis

[2021-04-06 22:20] #6474 closed

[2021-04-06 22:33] benbrown commented on #6531
I did a first pass at this -- As expected, simply *not moving* the project resolves the issue.  @thomas-chung  was kind enough to verify that much.

Since dotnet create a build folder of its own, and we write the "ready to deploy" settings in that build folder, this is all that is necessary.

HOWEVER, since JS does NOT create a separate build artifact, an additional step is required to write the "

[2021-04-06 22:39] benbrown commented on #6230
Should be resolved in the latest, @tomlm  can you confirm?

[2021-04-06 22:40] benbrown commented on #6227
resovled.

[2021-04-06 22:40] #6227 closed

[2021-04-06 22:40] benbrown commented on #6127
resolved

[2021-04-06 22:40] #6127 closed

[2021-04-06 22:41] benbrown commented on #5319
This is done.

[2021-04-06 22:41] #5319 closed

[2021-04-06 22:43] benbrown commented on #6260
I think this is done?

[2021-04-06 22:48] benbrown commented on #6094
This was fixed a while back.

[2021-04-06 22:48] #6094 closed

[2021-04-06 22:49] benbrown commented on #6134
@scheyal This should all be working as expected now. Can you confirm?

[2021-04-06 22:50] benbrown commented on #6229
This has been resolved with some different UI elements in the feed editor.

[2021-04-06 22:50] #6229 closed

[2021-04-06 22:50] benbrown commented on #6245
These items have been addressed.

[2021-04-06 22:50] #6245 closed

[2021-04-06 22:52] benbrown commented on #6663
We should put the spinner and text inside a modal at the very least -- for example, similar to the package manager installing progress indicator.

[2021-04-07 00:26] boydc2014 commented on #6604
Close due to unable to repro

[2021-04-07 00:26] #6604 closed

[2021-04-07 00:34] mewa1024 commented on #6602
(@vivekkshankar fyi for the remote skills flow)

[2021-04-07 02:15] #6511 closed

[2021-04-07 04:50] #5747 closed

[2021-04-07 05:48] gary-x0pa commented on #3826
Looks like im facing this issue too. May i know how was it resolved?

[2021-04-07 06:20] gtonye opened #6730 "Remote skills endpoint name is not sent when adding a remote skill"
## Describe the bug

<img width="1003" alt="Screen Shot 2021-04-07 at 1 46 27 AM" src="https://user-images.githubusercontent.com/4819282/113817843-f8a40080-9744-11eb-9df8-0a7a98f41ea8.png">

The endpoint name on the screen above is not passed on submit.

When you look at [this method](https://github.com/microsoft/BotFramework-Composer/blob/f551a789838ce3384bd35ef236f3fbdfdf2d279f/Composer/packages

[2021-04-07 06:55] liweitian commented on #6601
Hi @Andrea-Orimoto, I cannot reproduce this on my side. And we do not have the functionality "use tab to auto complete the path". Did you see your hard disk file directory information in the create a bot project modal before you run into the bug?

[2021-04-07 07:52] clearab opened #6731 "Channels is confusing resourceName and resourceGroup in validation"
When attempting to add a channel to my newly created bot, I received the error below:

![image](https://user-images.githubusercontent.com/1139814/113830235-4451ac80-973b-11eb-9cd2-859d860c9600.png)

However, the resource group in my publishing profile is "ac-test-deleteme", and the resource name is "BobTeams". I believe Composer is attempting to validate the wrong field.

![image](https://user-ima

[2021-04-07 08:44] adiazcan commented on #6726
I am trying to fix this problem in my environmente without any success ;(

I found in the "Select template" window a command-line to create the project and I had a permission problem downloading the npm package from yeoman template generator.

![image](https://user-images.githubusercontent.com/6652046/113837449-25303a80-978e-11eb-8fd2-ea25c3b98096.png)

any help?

[2021-04-07 08:48] adiazcan commented on #6726
ok, I don't know why but I need to fix my home .npmrc and now, I can install the yeoman template generator but I found a new bug trying to create the project from command line

![image](https://user-images.githubusercontent.com/6652046/113838204-d7680200-978e-11eb-9739-c7f94474ba45.png)

[2021-04-07 08:50] adiazcan commented on #6726
If I use the Composer creation experience, I have the following error:

![image](https://user-images.githubusercontent.com/6652046/113838454-10a07200-978f-11eb-9fc0-994b505ed622.png)

[2021-04-07 09:24] #6693 closed

[2021-04-07 09:24] #6702 closed

[2021-04-07 11:02] shubham8886 commented on #6594
any update?

[2021-04-07 11:07] narulasrinivas commented on #6677
@peterinnesmsft - Here is repo link where you can download required assets.

https://github.com/narulasrinivas/devp2

[2021-04-07 12:39] praful-dhone commented on #5354
I am getting this error:
Error - Failed to bind luis prediction resource to luis applications.
Please check if your luisResource is set to luis prediction service name in your publish profile.
<img width="796" alt="ComposerError" src="https://user-images.githubusercontent.com/37966893/113867604-5fb8c800-97cc-11eb-98c0-b9e234556b49.PNG">

Can someone help me or give some pointer here?

[2021-04-07 13:04] lusk33 commented on #6596
Hey, sorry for the late response.
As I said, i'm using a friend's account to deploy the bot. I figured it's a problem with the Azure Roles.
As an Owner, i was not able to create an app registration. We had to work around that. He had to create a custom role by following this tutorial:

https://docs.microsoft.com/en-us/azure/active-directory/roles/quickstart-app-registration-limits

**It would be i

[2021-04-07 13:05] garypretty commented on #6651
@tdurnford not sure if this is related, but if I try and set a dialogs options to 'object', I am getting a key / value list instead of the JSON input.

![image](https://user-images.githubusercontent.com/3900649/113871018-5cace000-97aa-11eb-9c31-61eb2e25530b.png)

[2021-04-07 15:14] dmvtech commented on #6701
I am assuming this is because the bot is responsive enough (no real delay) so that it doesn't trigger a typing activity (response is happening less than half a second).

You can [extract the runtime](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action?tabs=csharp#export-the-bot-runtime) and then modify it.

[2021-04-07 15:45] #6563 closed

[2021-04-07 15:45] #6564 closed

[2021-04-07 15:45] #6565 closed

[2021-04-07 16:01] garypretty opened #6735 "LUIS 403 error when prediction key assigned / provisioned in settings"
## Describe the bug

When you use Composer to provision / assign existing LUIS resources for local dev / testing, it sets a prediction key.  Once this is set, you will get an error when you try and test your bot, "Response status code does not indicate success: 403 (Forbidden).", which I believe is due to the fact that the resource has not been associated with your LUIS app that Composer is creati

[2021-04-07 16:52] benbrown commented on #6531
The resolution here turned out to be simple:

* rather than modify the source appsettings.json, exclude it completely from the zip being deployed
* write the modified appsettings.json file directly to the zip file

[2021-04-07 16:52] #6611 closed

[2021-04-07 16:52] #6610 closed

[2021-04-07 17:18] GeoffCoxMSFT commented on #6501
@dinobrago Are you in a single tenant in your subscription?  We have other reports that folks with multiple tenants have issues.  Our nightly builds now support handling of multiple tenants.

[2021-04-07 17:23] dinobrago commented on #6501
Geoff,

It’s single tenant.

However, the problem seems to have resolved itself through no specific action of our own. At least, despite our efforts, we don’t know what change resolved the issue.

I know that this is frustrating, we would have preferred to understand the source of the issue but for now, it has gone away.

We can close this until / if it appears again.

Dean

---
Dean Goddette, Ph.

[2021-04-07 17:40] stevkan commented on #6472
@praneeth1987, thank you for your patience. I should have a response for you before the EOD today.

[2021-04-07 18:04] peterinnesmsft commented on #6730
@cwhitten can you take a pass at this and assign out as appropriate?

[2021-04-07 18:21] Stevenic commented on #5809
@dmvtech use an expression for your body instead.

![](https://user-images.githubusercontent.com/698939/113915167-48111d80-9793-11eb-9121-a5521ecbde50.png)

You can also use `SetProperties` to build up your object in memory and you should then be able to just say `=dialog.body`

[2021-04-07 18:33] Stevenic commented on #5809
also try setting this for your "object" definition under body. It looks like you're going to get strings back but the binding logic should coerce the fields to their appropriate types. I prefer the expression syntax so that's what I tend to use but this should work also.

[code]

[2021-04-07 18:35] peterinnesmsft opened #6739 "Error during creation of publish profile: 'CREATE_APP_REGISTRATION - Add application password failed!'"
## Describe the bug

When attempting to create a new publishing profile through Composer, an error occurs during provisioning which prevents successful provisioning and creation of the profile.

## Version

v1.4.0-nightly.230964.e5e5020

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps

[2021-04-07 18:52] peterinnesmsft opened #6740 "Error during creation of publishing profile: 'CONNECT_APP_INSIGHT_ERROR: The Resource _ under resource group _ was not found.'"
## Describe the bug

During an attempt to create a publish profile, an error occurred in attempting to link an App Insights resource to the bot service.

## Version

1.4.0-nightly.230964.e5e5020

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create new

[2021-04-07 18:58] peterinnesmsft opened #6741 "Resources provisioned during failed create publish profile attempt are not cleaned up"
## Describe the bug

If an error occurs during the create publish profile flow which causes the operation to not successfully complete, any resources that were provisioned as part of this process are not cleaned up.

## Version

v1.4.0-nightly.230964.e5e5020

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

#

[2021-04-07 19:08] dmvtech commented on #5809
Thanks @Stevenic

The first two solutions work great. For an example of using `SetProperties`, I used:
[code]
(only implementing the value for inFromVar in this example)

For the third:

This just doesn't seem to be the case. Not for me at least. Seems to be a bug.

[2021-04-07 19:10] chrimc62 commented on #6727
I also had an error dialog where I got a scroll bar, but it scrolled only over white space.

[2021-04-07 19:19] chrimc62 opened #6744 "Starting bot after installing HelpAndCancel fails"
## Describe the bug

Starting the bot fails.  The output window shows:
[code]

## Version
![image](https://user-images.githubusercontent.com/17637681/113921322-b5747c80-979a-11eb-9753-eb9a0afd2e35.png)

## To Reproduce

Steps to reproduce the behavior:

1. Create a blank C# bot
2. Go to package manager and install the HelpAndCancel package
3. Click "Start bot"
4. The bot will fail to start.

## Ex

[2021-04-07 19:27] pavolum commented on #6234
Excuse the delay, can you please try again with the latest nightly build of Composer? If you still have an error:
1. Ensure you have Node installed on your machine
2. If you have node and the error is still present, please send over the response from the erroneous server call. You can do this by running fiddler while you repro the bug, selecting the 500 server call and looking for the additional e

[2021-04-07 19:27] pavolum commented on #6525
Excuse the delay, can you please try again with the latest nightly build of Composer? If you still have an error:
1. Ensure you have Node installed on your machine
2. If you have node and the error is still present, please send over the response from the erroneous server call. You can do this by running fiddler while you repro the bug, selecting the 500 server call and looking for the additional e

[2021-04-07 19:43] Dewain27 opened #6745 "QnA Maker template fails with error"
## Describe the bug

When selecting the QnA Maker template from the new bot template selection process you get an error.

## Version

Version:  1.4.0-nightly.231667.d104286
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [X] Windows
- [ ] Ubuntu

## To R

[2021-04-07 19:46] jameslew opened #6746 "Publish Profiles: unchecking LUIS and/or QnA cause downstream problems"
## Describe the bug

If I create a bot in composer and then go to create a publish profile for it, I have the option to disable lots of things.  For my dumb echo bot I disabled a number of things including QnA and LUIS.

Removing QnA causes the publish profile to not create (it tries to do QnA step/validation anyway)
Adding QnA back enables the publish profile to sucessfully create
Adding QnA & ge

[2021-04-07 19:47] pavolum commented on #6681
This was resolved in a past PR so going to close this issue out.

[2021-04-07 19:47] #6681 closed

[2021-04-07 19:55] jameslew opened #6747 "Publish Profiles: Provisioning resources where the resource provider isn't registered in azure always fails"
## Describe the bug

1) Create a new subscription or modify an existing one to unregister Microsoft.DocumentDB (and/or other resource providers)
2) Try creating a publish profile for a bot

Experience: Failure creating resource as subscription doesn't have it registered.

## Version

Version:  1.4.0-nightly.231667.d104286
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electro

[2021-04-07 20:56] tonyanziano opened #6749 "Additional Web Chat Integration P1 / P2's"
This is a continuation of #6511 to represent the remaining P1 and P2 work items to be done for the Web Chat integration.

### P1's

- [x] Implement a selected state indicator for the log message currently being shown in the inspector pane
- [x] Auto-inspect the latest message in the log pane if there is no message currently inspected

### P2's

- [x] Extend debug panel outside of the authoring can

[2021-04-07 21:06] #6527 closed

[2021-04-07 21:15] mewa1024 opened #6750 "Output pane, style issues"
## Describe the bug

Minor style issues in the Output pane:
1. change name from "Outputs" to "Output"
2. use same font as for all the code/Monaco editors
3. reduce space around output text

## Version

Version:  1.4.0-nightly.231667.d104286
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefo

[2021-04-07 22:08] #6616 closed

[2021-04-07 22:24] chrimc62 opened #6753 "Get LUIS keys does not copy keys/region"
## Describe the bug
I can use "Get LUIS Keys" to get the keys, but when I get them they are not copied properly and I get errors.

![image](https://user-images.githubusercontent.com/17637681/113942013-03967980-97b5-11eb-8014-c5fddbfb0095.png)
![image](https://user-images.githubusercontent.com/17637681/113941949-e9f53200-97b4-11eb-9044-ad95fd38cb4b.png)

## Version

Version:  1.4.0-nightly.231667.d

[2021-04-07 22:38] #6710 closed

[2021-04-07 23:14] #6166 closed

[2021-04-07 23:23] hebaelfadly commented on #6518
@anusharavindrar
![image](https://user-images.githubusercontent.com/61690067/113946554-fb682980-9808-11eb-8bad-6d67a8b092d3.png)

[2021-04-07 23:48] #5959 closed

[2021-04-08 01:14] mewa1024 opened #6757 "Conversational core bot not connecting to LUIS?"
## Describe the bug

I created a bot with the "Basic conversational" template and added a LUIS resource. When I test the bot in Web Chat or in
Emulator, the bot does not understand any utterances and it also does not send LUIS trace events.

(tagged as both "Components" and "Webchat integration" since I'm not sure where the issue is.)

## Version

Version:  1.4.0-nightly.232411.9f6c16e
Electron: 8

[2021-04-08 01:22] stevkan commented on #6472
@praneeth1987, please check out the attached .zip file. It demonstrates how to set up the bot so a given dialog will repeat until either a local interruption ('stop') or a global interruption ('finish') occurs. I include two different dialog examples.

The first, 'Apple', uses a 'QnA Intent recognized' trigger with a KB created locally from scratch. In this case, a 'BeginDialog' trigger is used on

[2021-04-08 01:56] luhan2017 commented on #6406
I've synced with customer offline through Teams. But the issue is not resolved yet, we will schedule further meetings and I will update this issue later.

[2021-04-08 02:44] #6559 closed

[2021-04-08 03:02] mewa1024 opened #6759 "When creating a bot fails, empty bot folder is left behind"
## Describe the bug

I tried to create a bot and it failed. I tried later with the same name and got a validation error that the name was already in use.

## Version

Version:  1.4.0-nightly.232411.9f6c16e
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [

[2021-04-08 03:31] xiyangdesign commented on #5857
@zhixzhan @srinaath

Hi Zhixiang, here are my comments based on the working version from this branch: homepage-refine

1.  remove fixed header - make the header scrollable
![image](https://user-images.githubusercontent.com/74994573/113954882-92b08b00-97cf-11eb-894f-fd95b6fe7bbf.png)

2. Add 24px spacing to the right of what's new - border radius sets to 5px

3. Responsive design: expand card width

[2021-04-08 03:35] tdurnford commented on #6651
@garypretty That is not related to this issue, but to comment on that issue, we are rendering the OpenObjectField instead of the JsonField because that is the default field for the dialog options property. Also, I tried using the JsonField instead; however, when I used the JsonField, the other forms would not update the dialog file correctly. I was unable to figure out what was causing that issue,

[2021-04-08 07:06] praful-dhone opened #6760 "When publishing Failed to bind luis prediction resource to luis applications."
## Describe the bug
I am getting this error whenever I am publishing the Bot.

Failed to bind luis prediction resource to luis applications. Please check if your luisResource
is set to luis prediction service name in your publish profile.

## Version Release: 1.4.0

Release: 1.4.0
## Browser
I have installed Composer on my machine.
I use Chrome , Edge browser

- [ ] Electron distribution
- [x] Chr

[2021-04-08 08:57] dawwa opened #6761 "Upgrade story for ejected runtime project when upgrading composer to a newer version?"
Hi Composer team, this is a general question regarding to ejected runtime.
If we have an ejected and customized runtime from the past, is there some guidance or procedure for upgrade story?

e.g., how to make the ejected runtime up to date after we upgrade the composer to a new version which might have updated runtime code throughout the infrastructure?

[2021-04-08 09:50] damlaalkan opened #6763 "Error: Failed to bind LUIS prediction resource"
I am getting this error:
Error - Failed to bind luis prediction resource to luis applications.
Please check if your luisResource is set to luis prediction service name in your publish profile.
<img width="796" alt="ComposerError" src="https://user-images.githubusercontent.com/37966893/113867604-5fb8c800-97cc-11eb-98c0-b9e234556b49.PNG">

Can someone help me or give some pointer here?

_Originally

[2021-04-08 12:12] anmolgandhi007 commented on #4816
Is there any update when can we expect the fix to come up? I am facing similar issue with replace dialog. Its impacting the process/timeline of development and the bot to move to production. Please provide an update. Thanks!

[2021-04-08 12:26] LakshummaC opened #6764 "Publishing Bot Composer v1.4.0 Project throwing different kind of Issues"
Hi Team,

When we are trying to publish the Bot Composer to Azure, it is throwing 2 kind of errors.

1.A popup says to raise issue in github.
2.As page wrong as shown below. Same while opened in desktop or using localhost:5000/

![image](https://user-images.githubusercontent.com/76558423/114026434-dec50380-9893-11eb-969b-694fe2f66d2c.png)

[2021-04-08 12:44] gabrielguarisa commented on #6701
I had not thought about modifying the runtime. Thanks for the suggestion and attention. I'm closing this issue.

[2021-04-08 12:44] #6701 closed

[2021-04-08 13:56] boydc2014 opened #6765 "Publish profile is created but not selectable"
Lastest nightly
![image](https://user-images.githubusercontent.com/3829387/114038992-efd23c80-98b4-11eb-9d10-4b1be5b6640b.png)

Step 1: create an empty bot
Step 2: publish => manage => sign in => import from existing resource => next
Step 3: profile created (some field isn't filled yet)
![image](https://user-images.githubusercontent.com/3829387/114039155-14c6af80-98b5-11eb-9b7b-aee91e846feb.png)
S

[2021-04-08 14:02] zuercher8353 commented on #4532
Did you manage to make it work. Would be really intrested in the solution

[2021-04-08 15:42] JonathanFingold opened #6767 "Example value for OAuth login's Token property should be in turn scope"
## Describe the bug

The example value for the OAuth action's Token property is `ex. @token`, which would be shorthand for `turn.recognized.entities.token`, which doesn't make any sense.

## Version

Version:  1.4.0-rc4-nightly.226081.b0a126
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firef

[2021-04-08 15:45] darrenj opened #6768 "Creation interstitial UX blends into the new home screen UX and unreadable"
## Describe the bug

Creation interstitial UX blends into the new home screen UX and is unreadable also leading to confusion around if composer is doing something.

## Version

1.4.0-nightly-232669

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a

[2021-04-08 15:50] darrenj opened #6769 "Azure subscription list drop-down is not sorted alphabetically"
## Describe the bug

List of Azure subscriptions is not filtered alphabetically

## Version

1.4.0-nightly.232669

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Select LUIS/QNA key, select Azure subscription and see the drop down list contents

## Expected

[2021-04-08 15:52] pavolum opened #6770 "Creation errors to be more informative"
Modals that pop up during creation failure have generic messages that could be more informative

[2021-04-08 16:01] ehsan2018 opened #6771 "Error ' Invalid _grant ' when trying to publish bot with composer V1.4.0"
I am trying to publish a bot on Azure web app using Composer V1.4.0. But I get an error as soon as I click on "create new Azure resource" and sing in with my Azure credentials. Screen shot of the error is attached. Any help is much appreciated.
<img width="312" alt="1" src="https://user-images.githubusercontent.com/33262673/114059017-f2f00d00-9861-11eb-8e5e-09643eda3512.png">
<img width="312" alt=

[2021-04-08 16:02] darrenj opened #6772 "ChitChat and LUIS not working in a new Assistant Core template project (existing qna/luis resources)"
## Describe the bug

Creating a new Assistant Core template, choosing existing LUIS and QNA Azure resources and clicking start results in a conversational experience that doesn't seem to work. Both LU triggers (e.g. Help) and QnA/ChitChat ("hello") don't seem to be processed correctly.

## Version

1.4.0-nightly.232669

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefo

[2021-04-08 16:09] #6771 closed

[2021-04-08 16:21] benbrown commented on #6753
I believe this is actually a UI issue - the values ARE set, but the UI in the settings page does not accurately update.

[2021-04-08 16:34] srinaath commented on #6767
@sangwoohaan Is this something you can provide inputs on?

[2021-04-08 16:39] srinaath commented on #6760
@praful-dhone Are you using the LUIS endpoint key or LUIS Authoring key?

[2021-04-08 16:42] taicchoumsft opened #6773 "Orchestrator: Add ability to download models from runtime"
## Is your feature request related to a problem? Please describe.
Today, Orchestrator language models are downloaded to user's disk so a bot can be tested locally.  The same model is bundled with runtime and uploaded to Azure when user publishes.  The models are huge - 200MB-700MB depending on language, layers etc.

## Describe the solution you'd like
We'd like a solution where the bot runtime can

[2021-04-08 16:46] Dewain27 opened #6775 "QnA Maker and LUIS should be listed in required resources if needed in Publishing Profile"
## Is your feature request related to a problem? Please describe.

Today, we identify and help you provision LUIS and QnA Maker when you open your bot project, however when you have publishing profiles already created and / or you create a new one you should be told that these are required resources on the Add resources modal.
![image](https://user-images.githubusercontent.com/18688053/114064728-8

[2021-04-08 16:50] Dewain27 commented on #5431
@cxbuilders I am putting this into our backlog to get engineering to determine if we can address this by making the change.

[2021-04-08 16:54] stevkan commented on #6570
Closing due to inactivity.

[2021-04-08 16:54] #6570 closed

[2021-04-08 16:56] sgellock opened #6776 "Creating a publishing profile is not resilient to authentication failures"
## Describe the bug
If I create a new publishing profile where the target is Azure, and as part of that profile creation flow, I need to authenticate, and my authentication fails, the "Add a publishing profile" modal remains in a loading state, displaying the loading spinner.

See screenshot section below

## Version
Version:  1.4.0-nightly.232669.4daad5c
Electron: 8.2.4
Chrome: 80.0.3987.165
Node

[2021-04-08 17:03] GeoffCoxMSFT commented on #6741
@peterinnesmsft In R13 we are handling partial success.  When some resources are provisioned, but others fail a warning notification shows up and the profile is saved.  The user can then edit the profile to try provisioning again.

[2021-04-08 17:08] scheyal opened #6777 "Copy/paste dialog contents to another dialog results with data loss of LG in target"
Copy and paste contents of one dialog (with more complex logic, not just a hello world box) to another dialog. The resulting dialog is missing all contents. LG on disk is empty.
When using in PVA Composer, no errors are showing up until failures in PVA.

[2021-04-08 17:08] sgellock opened #6778 "Publishing profile targets are tagged as Preview"
## Describe the bug
When creating a new publishing profile, the publishing target options are both tagged with (Preview).  We should remove this before we release 4.13, assuming they will be GA'd at that time.  If not, we should probably talk it out.

## Version
Version:  1.4.0-nightly.232669.4daad5c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [x]

[2021-04-08 17:09] srinaath commented on #6730
@luhan2017 This looks like something we can incorporate with our updated skill workflow

[2021-04-08 17:12] scheyal opened #6779 "Open some bot (from new RT) results with blank canvas composer"
Tried to open a bot from ~2-3 weeks ago with the new RT.
Results: blank canvas in Composer, bot is not openning.
Expected: Even malformed bot solutions should never result with empty canvas. Have a graceful error message with some diagnostics capabilities.

(specific bot for repro is available on request - it is a large zip).

![image](https://user-images.githubusercontent.com/8867670/114068234-8c

[2021-04-08 17:14] srinaath commented on #6727
We need to see if we can prioritize it for R13.

[2021-04-08 17:16] srinaath commented on #6759
Closing as its a dupe of https://github.com/microsoft/BotFramework-Composer/issues/6726

[2021-04-08 17:16] #6759 closed

[2021-04-08 17:19] sgellock opened #6780 "Create new resources content has formatting issues"
## Describe the bug
When creating a new publishing profile, the "Create new resources" content has formatting issues when describing what's required. specifically, the azure subscription requirement.

## Version
Version:  1.4.0-nightly.232669.4daad5c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [

[2021-04-08 17:20] srinaath commented on #6779
@scheyal The Runtime bits have changed quite a bit over 2-3 weeks. We expect bots created in that timeframe to be broken as a lot were preview bits. Do you see a specific bug that we need to address with the new runtime though that might cause issues with compatibility.

[2021-04-08 17:21] emivers8 commented on #6727
By golly, that second one is a doozy. So is the ask to just improve these error dialogs? Not a problem for the first one, but I'll need more details for the second.

[2021-04-08 17:29] srinaath commented on #6711
@garypretty  would we look to spot the issue at Design time?

[2021-04-08 17:47] emivers8 commented on #6727
Aaaaand here's a design:

![image](https://user-images.githubusercontent.com/55601267/114072957-9e479480-9857-11eb-824c-05bab8c6353e.png)

Figma: https://www.figma.com/file/tvENftrexoAYJngzsJxUbv/EmFig?node-id=3479%3A17189

[2021-04-08 17:47] pavolum opened #6783 "Add new skill and add exisitng skill flows are broken"

[2021-04-08 17:56] Dewain27 opened #6785 "When creating QnA Maker for Dev Environment need to provision F0 not S0"
## Describe the bug

When Composer creates a QnA Maker instance for the local Development Environment it is generating the QnA Maker as a S0 price tier, however this should be created as a F0 for Composer Development instance.

![image](https://user-images.githubusercontent.com/18688053/114073679-2a15ec80-9869-11eb-8ee3-f5b9dcc55254.png)

![image](https://user-images.githubusercontent.com/18688053

[2021-04-08 17:57] #6531 closed

[2021-04-08 17:57] #6683 closed

[2021-04-08 18:06] Dewain27 commented on #6735
When we initiate the process to create the LUIS instance for the Developer Environment for Composer, we are creating an Endpoint / Prediction key.  This is not needed for the developer instance.  We will need to make the following changes:

### **Changes Needed**

- [ ] Remove the generation of a LUIS Prediction / Endpoint key from the provisioning process.
- [ ] Remove the LUIS prediction / endpo

[2021-04-08 18:08] dmvtech commented on #6699
Thanks @blakehoughton

Yeah, this is essentially due to how LUIS works, specifically with regards to the none intent. The none intent/trigger will get hit for garbage terms such as `asdfasdf`. But without training the none intent with utterances, this is going to be the behavior. As I mentioned, the behavior is the same, even in the LUIS portal. And still has a high score (banana was at least over

[2021-04-08 18:08] #6699 closed

[2021-04-08 18:11] peterinnesmsft commented on #6761
Hi @dawwa,

Let me follow up with @darrenj and @garypretty here and we can get you some clarity on this scenario.

[2021-04-08 18:11] srinaath commented on #6739
Closing as fixed in [fix: add retry logic for adding app password by zidaneymar · Pull Request #6703 · microsoft/BotFramework-Composer (github.com)](https://github.com/microsoft/BotFramework-Composer/pull/6703)

[2021-04-08 18:11] #6739 closed

[2021-04-08 18:20] peterinnesmsft commented on #6586
@jwiley84 are you able to assist with getting a repro?

[2021-04-08 18:27] peterinnesmsft commented on #6241
@aparnaji , thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stackoverflow: https://stackoverflow.com/search?q=bot+framework

[2021-04-08 18:27] #6241 closed

[2021-04-08 18:28] pavolum opened #6787 "Export display name and template order outside of Composer"
Currently composer has a hardcoded sort order that dictates display name and sort order for templates in Composer. This needs to be exported out of Composer to allow for template updates decoupled from Composer releases.

Proposed solution:

- [ ] Export currently hardcoded `templateSortOrder` to be hosted on Github
- [ ] On app start pull template sort order and use that to dictate sort order and

[2021-04-08 18:30] peterinnesmsft commented on #5687
@BeheraMadan, as there isn't an active issue beyond just seeking general guidance, we are going to close this issue. For general purpose questions seeking guidance on this issue, we recommend you visit our StackOverflow: https://stackoverflow.com/search?q=bot+framework

If you have any further concerns or questions, let us know. Thank you!

[2021-04-08 18:30] #5687 closed

[2021-04-08 18:31] peterinnesmsft commented on #5479
@EricDahlvang @carlosscastro are we waiting on anything to be able to take a look and sign off on the PR? What are next steps here?

[2021-04-08 18:44] Dewain27 commented on #6507
Team, please use this aka.ms link:
https://aka.ms/bfcomposercicd

[2021-04-08 18:46] Dewain27 commented on #6555
Unblocked by generation of the aka.ms link and documentation will be updated to this link.
https://aka.ms/bfcomposercicd

[2021-04-08 18:48] sgellock opened #6789 "Publish modal's comment text box needs some ux love"
## Describe the bug
When you publish a bot using an existing publishing profile, you'll be prompted with a "Publish" modal where the profile name, publishing target and publishing comment can be added before invoking the actual publish action.

The comments text field is oddly small.  See screen shot.

## Version
Version:  1.4.0-nightly.232669.4daad5c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS:

[2021-04-08 19:03] zxyanliu commented on #6675
FYI. The docs have been updated as proposed and merged to master.
The content will go live soon. Closing this issue for now.
Again, thanks for your valuable feedback! We appreciate it!

[2021-04-08 19:03] #6675 closed

[2021-04-08 19:10] #6528 closed

[2021-04-08 19:43] vivekkshankar opened #6792 "Show disabled Start bot button for PVA bots for consistent UX"
Currently the start bot button is removed when the user opens a PVA bot.
This may cause potential confusion for users familiar with composer about where the start button went.

UX recommendation: Show a disabled start bot button. On hover a call out card can explain with the following hint text  "PVA bots cannot be run at the moment. To try this bot publish this bot to PVA and test it there."

[2021-04-08 19:46] #6721 closed

[2021-04-08 19:46] #6722 closed

[2021-04-08 19:53] Dewain27 opened #6794 "Add ability to generate a F0 LUIS Prediction key for my local development environment"
## Is your feature request related to a problem? Please describe.

If a developer in their local development environment exceeds the quota for a LUIS Authoring Key, then they will start getting 403 errors.  See Link:
https://github.com/microsoft/BotFramework-Composer/issues?q=is:issue+403+LUIS+is:closed

To remediate this, Composer when creating the LUIS keys for your local development environment

[2021-04-08 19:56] scheyal opened #6796 "Hide unsupported items for PVA bots"
Package manager is unavailable for PVA bots and UI should hide any access to features not supported by PVA.
Need to review other areas in new UI e.g. Skill Configuration setting, runtime, language, etc.

See sample of unsupported features here: https://docs.microsoft.com/en-us/power-virtual-agents/advanced-bot-framework-composer#composer-features-not-supported-with-power-virtual-agents

[2021-04-08 19:56] Kaiqb opened #6797 "e2e Testing: Unable to create a bot using Conversational Core template"
## Describe the bug
Unable to create a bot using Conversational Core template.

## Version
Composer build used for testing: https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.4.0-nightly.232669.4daad5c

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprod

[2021-04-08 19:59] Dewain27 opened #6798 "Create a document that explains to a developer how to add a LUIS Prediction Key to Composer for their local development environment."
## Is your feature request related to a problem? Please describe.

A developer can get a 403 error if they exceed the quota limits on testing a bot using LUIS when only using a LUIS Authoring key.  A document should be created that explains to a user how to increase their quota by creating a F0 LUIS Prediction Key (AKA LUIS Endpoint Key) and then populating it into Composer under Advanced JSON Set

[2021-04-08 20:23] Dewain27 commented on #6567
![image](https://user-images.githubusercontent.com/18688053/114091495-6273f580-987e-11eb-9664-89911fbf0e59.png)
 This is what I got from @JaskeeratBedi-cmk

[2021-04-08 20:34] narulasrinivas commented on #6677
@peterinnesmsft -Can you please help me to resolve this issue? I given the code in github repo link. Please let me know if you want me to provide any other information.

[2021-04-08 20:37] mewa1024 opened #6799 "Contextual menu for labeling entities sits on top of Web Chat pane"
## Describe the bug

Contextual menu for labeling entities sits on top of Web Chat instead of underneath it.

## Version

Version:  1.4.0-nightly.232669.4daad5c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Ste

[2021-04-08 20:53] #6745 closed

[2021-04-08 20:53] #6770 closed

[2021-04-08 20:57] a-b-r-o-w-n commented on #6648
@balyetcait Can you try updating to the latest nightly build of composer? Go to the application settings page and check the early adopters toggle (gear icon on lower left side). Then in menu bar go to Help > Check for updates.

Once you have installed the latest, try this again. We have recently made changes to authentication when creating a publish profile which may have resolved your issue.

[2021-04-08 21:01] pavolum opened #6801 "Toggle to see appsettings advanced view rendering issue"
Toggle to see appsettings advanced view renders within the json viewer and leads to weird overlap with JSOn text

[2021-04-08 21:03] #6778 closed

[2021-04-08 21:03] mewa1024 opened #6802 "LU editor: "Tag entity" menu redundant with the context menu"
## Describe the bug

In the UI for trigger phrases, when you select one or more words, a context menu opens for tagging the entity and the "Insert entity" menu in the command changes to "Tag entity". Can we not change the "Insert entity" menu so there is only one control for labeling entities?

## Version

Version:  1.4.0-nightly.232669.4daad5c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0

[2021-04-08 21:03] gabrielguarisa opened #6803 "Is it possible to pass arguments to luis during the build?"
Hi.
Is it possible to pass the value of these variables (NormalizeDiacritics, NormalizePunctuation) to LUIS during the publication of the bot or on the triggers?

![Captura de Tela (109)](https://user-images.githubusercontent.com/11513141/114094429-ac66d680-9892-11eb-8a77-47fd5543a43c.png)

Another question, which would also solve this problem, is whether it is possible to use the existing LUIS ap

[2021-04-08 21:25] #6726 closed

[2021-04-08 21:26] #6735 closed

[2021-04-08 21:26] #6785 closed

[2021-04-08 21:31] mrtank commented on #6711
The easier step 1 would be to not shoot Object ref not set. Just like when I set the options then delete them. A multi choice with 0 options appear, no exception.

Step 2 would be design time checking for unset multi-choice options -> warning.

Which I don't really think worth the effort, is step 3: Calculate for dinamycally or statically defined options, if they (may) have 0 count. Give a design

[2021-04-08 21:32] scheyal commented on #6779
All I get is a blank page. It is best if we never get to this situation regardless of the underlying bug. Apparently there are a few repros, maybe all stemming from bots that were created in the past month but there's no way to find anything about it that I know of. At minimum we should catch it and render an error message.

[2021-04-08 21:33] scheyal commented on #6779
Also, we need a recovery plan for those who spent time building those bots.

[2021-04-08 21:54] #6037 closed

[2021-04-08 21:54] #6038 closed

[2021-04-08 21:57] emivers8 opened #6804 "Updated UX for QnA/LUIS/Speech dev keys"
## Describe the bug
Users are currently prompted to login before selecting how they'd like to add keys. One option, handoff to Azure admin, doesn't require logging in. This updated UX moves the login and subscription selection to the second step. Also minor copy updates for handoff to admin.

Figma: https://www.figma.com/file/tvENftrexoAYJngzsJxUbv/EmFig?node-id=3485%3A360

## Screenshots
![image]

[2021-04-08 22:12] mewa1024 commented on #6749
Can we add another P1? "Enable selecting a message Web Chat to select the corresponding Web Chat log item" like this:

![image](https://user-images.githubusercontent.com/39317542/114102737-b978cb00-987c-11eb-8b43-6a2d1162e03f.png)

Emulator has this behavior.

[2021-04-08 22:27] #6097 closed

[2021-04-08 22:28] mewa1024 opened #6807 "Web Chat inspector pane, show LUIS traces in the log text"
## Describe the bug

The Web Chat inspector shows LUIS traces like any other trace. Can we show "LUIS trace" in log?

## Version

Version:  1.4.0-nightly.232669.4daad5c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Repro

[2021-04-08 23:02] sgellock opened #6808 "Home Page "Save as" menu option is confusing"
## Describe the bug
We seem to be mixing metaphors on the new home page.  I get creating new bots, or opening an existing bot from this page.  What I don't understand is what is the role of the "Save as" menu option?

What am I saving as?

## Version
Version:  1.4.0-nightly.232669.4daad5c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [x] Electron dis

[2021-04-08 23:14] tonyanziano commented on #6749
@mewa1024 is there a selected state in Web Chat as well for the activity, or does clicking on an activity just highlight its associated log entry and populate the inspector tab?

[2021-04-08 23:50] hibrenda opened #6811 "New lg editor does not work well in multi-lang."
New lg editor does not work well in multi-lang.

- Create a bot
- add another language
- Add "send activity"
- switch to the new language
- editing in new lg editor for send activity
- some time will hit following error (not everytime)
![image](https://user-images.githubusercontent.com/43408889/114109114-2c2e8880-9907-11eb-879b-d8b257bd94ac.png)
- go to all up view, the LG template created across

[2021-04-08 23:55] boydc2014 commented on #6811
@zhixzhan can you help take a look at this, i expect some code paths in new LG editor that are not creating templates in all locales.

[2021-04-08 23:58] zhixzhan commented on #6811
I will take a look today

[2021-04-08 23:59] hibrenda opened #6812 "delete dialog with empty sendactivity will break composer"
- create a bot (new adaptive runtime)
- add a dialog
- add sendactivity (leave it as blank)
- delete a dialog (actually later when you check on local disk, the corresponding dialog directory is not removed)
- the whole view will be in blank

![image](https://user-images.githubusercontent.com/43408889/114110130-60a34400-9909-11eb-91bb-b822cc3b707d.png)

[2021-04-09 00:01] anusharavindrar commented on #6764
@LakshummaC,  do you get any error in the provisioning step or just this above error in the publish step after importing the Azure resources? Also, does this happen to a specific bot? Do you get any additional error on the dev console?

[2021-04-09 00:03] mewa1024 commented on #6807
Also add trace for "Bot State" and the "Qna trace", if possible.

[2021-04-09 00:14] hibrenda opened #6813 "add existing skill hit error"
- create a bot (adaptive runtime)
- add existing bot (legacy runtime)
- will hit following error
![image](https://user-images.githubusercontent.com/43408889/114111011-7fa2d580-990b-11eb-9aac-edaee5ace764.png)

[2021-04-09 00:19] hibrenda commented on #6811
When you add "sendactivity" , the LG editor placeholder is correct.
But when you edit the "sendactivity" for specific language with the new lg editor, it will break something.

[2021-04-09 01:09] taicchoumsft commented on #6340
The `OrchestratorDownloadStarted`, `OrchestratorDownloadCompleted`, `OrchestratorBuildStarted`, `OrchestratorBuildCompleted` have been added as part of R13.

Leaving this ticket open for tackling whatever is needed for R14.

[2021-04-09 01:21] sgellock opened #6814 "New Bot Creation progress design feedback"
## Describe the bug
It would be good to have @emivers8 provide some feedback on how we are doing publishing progress.

At the very least, I would off two changes that could improve upon the current experience.

1. The progress spinner and the status text is very small, compared to what is happening.  See the screen shot below.
2. I would be good to provide some sort of task total count experience.

[2021-04-09 01:30] sgellock opened #6815 "New Bot Creation experience shouldn't use technology choices in user status messages"
## Describe the bug
When the new bot creation experience starts doing the work to install the chosen template, running the template, etc, we display status to the user, which is good.  However, we also display the underlying technology we use for the templates, Yeoman, which isn't necessary.

See screenshots below

## Version
Version:  1.4.0-nightly.232669.4daad5c
Electron: 8.2.4
Chrome: 80.0.3987

[2021-04-09 01:45] #6765 closed

[2021-04-09 01:47] luhan2017 commented on #6730
@gtonye, thanks for the feedback, we are working on updating the adding a remote skill experience right now, it will be included in the next release, will keep you posted.

[2021-04-09 01:51] luhan2017 commented on #5354
@praful-dhone @damlaalkan see my comments here: https://github.com/microsoft/BotFramework-Composer/issues/5354#issuecomment-747150353

[2021-04-09 04:50] praful-dhone commented on #5354
@luhan2017

![image](https://user-images.githubusercontent.com/37966893/114129802-ec729b80-991c-11eb-882b-0f3e7dff3ba7.png)

I have added those keys in the json. You can see it in attachment, still getting same error.

![image](https://user-images.githubusercontent.com/37966893/114129861-09a76a00-991d-11eb-851e-a897cd5e1932.png)

Is there anything that I am missing here? Also MicrosoftAppId and Pa

[2021-04-09 04:53] praful-dhone commented on #5354
@luhan2017

I have added those keys in JSON
![image](https://user-images.githubusercontent.com/37966893/114130063-699e1080-991d-11eb-819f-4adc9ab60f71.png)

Still getting the same error.

![image](https://user-images.githubusercontent.com/37966893/114130122-889ca280-991d-11eb-9e2b-e3a57b11820d.png)

Is it compulsory to pass MicrosoftAppId and MicrosoftAppPassword in the JSON? How do I get it?

[2021-04-09 05:27] mn-invia opened #6817 "Bot Icon not displaying in Web-Chat"
Hi,

I have created a Bot and Published it successfully and it's functioning well. I have uploaded a Custom ICON (PNG file which is less than 30KB, as per the Specs) under the Bot Profile. I can see my ICON uploaded onto the Bot profile, But the ICON is NOT DISPLAYED during the Web-Chat.

OS: Windows 10 PRO
Browser: Google Chrome
**Microsoft Composer details:**
Version:  1.4.0
Electron: 8.2.4
Chro

[2021-04-09 07:13] vidyakdil opened #6819 "Unable to read LUIS settings in the latest version of composer 1.4.0"
## Describe the bug

In our existing bot solution we upgraded the packages required for the Composer. When we have the dialogs with the recognizer as regex, the bot solution is running fine. If we set it to default recognizer, we are getting the following exception
**"\"\" is not a valid LUIS application id.**

## Version
1.4.0

## Steps to reproduce the behavior:

1. Create an echo bot solution
2

[2021-04-09 07:18] CharingJC commented on #6601
Hello issue owner,

Please check the solution provided by #5454
Found a solution: in %userprofile%\AppData\Roaming\BotFrameworkComposer\data.json, inspect the storageConnections section. Both path and defaultPath must point to an exiting folder.
In my case, path pointed to a full pathname of a botproj file (maybe a bug in an older composer version). Deleting that line solved the problem.

https://

[2021-04-09 08:16] LakshummaC commented on #6764
Hi Anusha,

Initially with localhost:5000 and then opened our designed Bot and tried publishing. Till Import from existing resource it worked fine for the first time. After a min we started getting above screenshot error.

There is no additional error on dev console and browser goes to not responding stage and throws above snapshot error.

[2021-04-09 08:28] LakshummaC commented on #6764
After multiple retries in local desktop Bot composer it is throwing below error:

![image](https://user-images.githubusercontent.com/76558423/114152256-ae38a480-993b-11eb-9f0f-8bad46103c06.png)

[2021-04-09 08:54] LakshummaC commented on #6764
{
  "name": "<unique name in your subscription>",
  "environment": "dev",
  "runtimeIdentifier": "win-x64",
  "resourceGroup": "<name of your resource group>",
  "botName": "<name of your bot channel registration>",
  "subscriptionId": "<id of your subscription>",
  "region": "<region of your resource group>",
  "settings": {
    "applicationInsights": {
      "InstrumentationKey": "<Instrumentati

[2021-04-09 09:03] damlaalkan commented on #5354
Hello @luhan2017 I have connected the LUIS in bot composer and when I start publish with "Create new resources" not "Import existing resources" how can we integrate the existing luis model?

[2021-04-09 09:09] darrenj opened #6821 "Catch error with dotnet user-secret init - add instructions about dotnet version"
## Describe the bug

Fresh install of Composer on a mac, creating a new project (conversational core) results in the following error:

[code]

## Version

1.4.0-nightly.233315

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Fresh Install on Mac (.net cor

[2021-04-09 09:53] darrenj opened #6822 "Selecting LUIS and QnA keys results in errors that settings aren't set (but are!)"
## Describe the bug

After creating a conversational core bot, then following LUIS and QnA key selection prompts in the rocket ship UI, it dropped me into the page shown below with errors saying the luis region, qna key wasn't set. This appears to be a refresh issue as they are set, clicking away and back to settings resolves the issue

## Version

1.4.0-nightly.233315

## Browser

- [x] Electron

[2021-04-09 10:01] darrenj opened #6823 "`runtime.setSkillManifest is not a function` error when starting a new Basic Assistant project"
## Describe the bug

When starting a newly created Basic Assistant project Composer reports the following error: `runtime.setSkillManifest is not a function`

[code]

## Version

1.4.0.nightly-233315

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create

[2021-04-09 10:11] darrenj opened #6824 "Outputs window needs scroll-bars to view larger issues - e.g. stack trace"
## Describe the bug

Larger error messages in the outputs window can't be viewed fully due to lack of scrollbars or similar.

## Version

1.4.0.nightly-233315

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

1. See screenshot for an example error shown after an issue with starting a new proj

[2021-04-09 10:29] darrenj opened #6825 "Create New Resources dialog text is laid out oddly"
## Describe the bug

Description text (screenshot) is poorly formatted.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a publishing profile

## Expected behavior

## Screenshots

![image](https://user-images.githubusercontent.com/3351

[2021-04-09 10:50] darrenj opened #6826 "Can't publish despite publishing profile existing"
## Describe the bug

Publish profile doesn't show up on Publish drop-down list despite being created

## Version

1.4.0.nightly-233315

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

1. Create new project
2. Create publishing profile and complete publishing
3. Go to publish UX and observe p

[2021-04-09 11:01] darrenj opened #6827 "Publishing a bot for the first time through creation of a publishing profile doesn't publish bot to app service"
## Describe the bug

When creating a new bot, publishing to Azure through creation of a Publishing profile doesn't appear to push bits onto the App-Service

![image](https://user-images.githubusercontent.com/33519520/114169837-ff3f9d00-9929-11eb-913f-4e45758a7035.png)

## Version

1.4.0.nightly-233315

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## O

[2021-04-09 11:13] garypretty commented on #6635
Here is a set of events I think we should capture for the Get LUIS Keys / Get QnA Keys.  I am suggesting generic events that allow us to capture the resource type on the properties, in order for this to scale to include other resource types in the future, such as Application Insights.

Event: SettingsGetKeysExistingResourceSelected
Fires: When a user chooses an existing resource and clicks 'Next'

[2021-04-09 12:31] aparnaji opened #6828 "Form Dialog issue with repeated prompt of field of string type"
## Describe the bug
Form Dialog , String attribute is repeatedly asking the user the same question

## Version

![image](https://user-images.githubusercontent.com/26645750/114179904-1c2a9f00-992f-11eb-9a3a-6f5f65a3e9db.png)

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
Chrome
## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu
Windows
## To Reproduce

Steps

[2021-04-09 14:03] rvinothrajendran commented on #6705
updated new build ...still same problem

![image](https://user-images.githubusercontent.com/16264167/114191674-f57b6100-994c-11eb-8ff6-43d53f673e98.png)

[2021-04-09 14:14] rvinothrajendran commented on #6823
When starting a new Blank bot also look like same issue

Start bot failed

Message:
runtime.setSkillManifest is not a function
Stack Trace:
TypeError: runtime.setSkillManifest is not a function
    at LocalPublisher2.publishAsync (....\Bot Framework Composer\resources\app.asar.unpacked\extensions\localPublish\dist\extension.js:30241:25

[2021-04-09 14:24] aparnaji opened #6830 "Form Dialog generating multiple utterances"
## Describe the bug
Form Dialog of 7  attributes is generating utterances in scale of 1200 to 1400 in luis for the form intent

## Version

## Browser

- [ ] Chrome

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to Form Dialog in composer
2. Either import or create attributes 5 to 6
3. Generate Form Dialog, Run the Dialog, have luis connectivity
4. It generates 100

[2021-04-09 14:26] rvinothrajendran commented on #6705
@cwhitten steps to reproduce

Select the blank bot -> create a project with default name -> its works

**Select the blank bot -> change default project name -> ex : 01Message**
![image](https://user-images.githubusercontent.com/16264167/114194879-388b0380-9950-11eb-913f-af3ea92ecbb7.png)

[2021-04-09 14:50] tracyboehrer commented on #6823
@darrenj I don't think this is a Runtime issue, but I'll follow up with it.

[2021-04-09 15:12] Dewain27 opened #6831 "When creating a QnA Maker Bot from template get Start bot failed"
## Describe the bug

When you create a bot using the QnA Maker bot template, you get Start Bot failed when you try to start bot.
![image](https://user-images.githubusercontent.com/18688053/114201326-b08b0680-991b-11eb-8610-555719cdb2d0.png)

## Version

Version:  1.4.0-nightly.233315.683520a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron

[2021-04-09 15:13] rvinothrajendran opened #6832 "Not able to create a new project"
## Describe the bug

Duplicate name

## Version

Release: 1.4.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:
1.	Create a new project ex: 01Message
2.	Switch to Home menu (In the composer)
3.	Delete the folder (step 1) in the drive
4.	Create a new project

[2021-04-09 15:47] Dewain27 opened #6833 "In Add Resources view broken link to picture/icon for Microsoft QnA Maker"
## Describe the bug

The Icon / picture for the QnA Maker option is broken or looks broken.
![image](https://user-images.githubusercontent.com/18688053/114203552-e3ce9500-991d-11eb-9bc1-3190f709cc08.png)

## Version

Version:  1.4.0-nightly.233315.683520a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safa

[2021-04-09 16:18] #6663 closed

[2021-04-09 16:18] #6801 closed

[2021-04-09 16:22] Dewain27 commented on #6797
Verified that this is fixed in new nightly as of:
Version:  1.4.0-nightly.233315.683520a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-04-09 16:22] #6797 closed

[2021-04-09 16:27] Dewain27 commented on #6780
I believe duplicate of #6825

[2021-04-09 16:31] Dewain27 commented on #6768
Duplicate #6663 in PR

[2021-04-09 16:31] #6768 closed

[2021-04-09 16:40] peterinnesmsft commented on #6677
Hi @narulasrinivas, I'll be taking a further look today and get back to you shortly. Apologies for the delay.

[2021-04-09 16:46] scheyal opened #6834 "Hitting error on post R12 bot solutions: must have a merged .schema to merge .uischema files *** Could not merge components ***"
New error shows up when openning a bot with QnAMaker that was manually converted to new runtime.

[code]

[2021-04-09 16:46] benbrown commented on #6823
This was resolved by #6816

[2021-04-09 16:46] #6823 closed

[2021-04-09 16:47] scheyal commented on #6834
It is within package manager UI. So
* Open Bot per above
* Navigate to package manager
* boom.

![image](https://user-images.githubusercontent.com/8867670/114213928-84ba5180-9918-11eb-984b-a98ebb09d460.png)

[2021-04-09 17:09] pavolum opened #6836 "The "provision completed" notification should include a deep link to the publishing action for that newly created environment"

[2021-04-09 17:10] pavolum commented on #6827
@GeoffCoxMSFT  This is expected behavior and proposed solution is deep link outlined in #6836

[2021-04-09 17:24] scheyal commented on #6834
And hit the same error trying to install a component:

![image](https://user-images.githubusercontent.com/8867670/114218009-beda2200-991d-11eb-8ba2-80da9f9c789d.png)

[2021-04-09 17:45] pavolum opened #6837 "Redundant loading spinners when opening a bot"
When you open a bot two spinners are used in the opening flow. This UI needs to be normalized to only use one.

[2021-04-09 17:52] rvinothrajendran opened #6838 "Rename Intent name is not update in user input"
## Describe the bug

Changed intent name is not reflecting in the user input and bottom of the Tigger phrases.

## Version

![image](https://user-images.githubusercontent.com/16264167/114218259-819b8180-9969-11eb-8679-0e205c667990.png)

## Browser

- [ X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ X] Windows
- [ ] Ubuntu

## To Reproduce

Steps

[2021-04-09 17:57] hcyang opened #6839 "No "cancel" button to cancel a lengthy package installation process."
## Describe the bug

It can be a lengthy process installing a new package and sometimes it's a indefinite wait, but there is no "cancel" button to stop the installing process. The only remedy is to close the whole Composer app or use Task Manager.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

[2021-04-09 18:16] sgellock commented on #6825
This is a dup of #6780

[2021-04-09 18:16] #6825 closed

[2021-04-09 18:32] luis13mzm commented on #6651
Good day.

I'm having the same issue, using version 1.4.0 on Windows.
![imagen](https://user-images.githubusercontent.com/20631171/114225326-6d3a9300-992f-11eb-9d98-1bd1987ef93d.png)

Thanks in advance.

[2021-04-09 19:58] chrimc62 commented on #6830
This is by design--the utterances are auto-generated so that your bot has all of the functionality required to support add/remove/cancel/help/show.  If you removed the utterances the functionality would no longer work.  @aparnaji  is there a reason that the number of utterances is causing you problems?  If so, please reply and reopen the issue.

[2021-04-09 19:58] #6830 closed

[2021-04-09 20:01] benbrown opened #6842 "During provision, adjust the app insights publishing profile data to include the connection string"
See: https://github.com/microsoft/botbuilder-dotnet/pull/5456

[2021-04-09 20:17] benbrown opened #6843 "Adjust the applyPublishProfileToSEttings function to compensate for new appinsights key"
See: microsoft/botbuilder-dotnet#5456

[2021-04-09 20:17] benbrown opened #6844 "Adjust settings migrate to compensate for new appinsights key"
See: microsoft/botbuilder-dotnet#5456

[2021-04-09 20:19] #6658 closed

[2021-04-09 20:22] chrimc62 commented on #6828
@aparnaji can you share your form and your transcript?  I created a form with a string property using the nightly and it worked fine.

[2021-04-09 20:25] chrimc62 commented on #6834
The newest version of dialog:merge should not see this issue since it ignores multiple copies of the same exact file--the CLI RC was today, not sure when it will be in Composer.  In theory it should be excluded as well, but I can't tell because your error window is truncating the paths where multiple copies are found.

[2021-04-09 20:29] benbrown commented on #6744
@chrimc62 I cannot reproduce this with the latest build. Are you still having this issue?

[2021-04-09 20:36] #6744 closed

[2021-04-09 20:37] benbrown commented on #6757
This was caused by the endpoint key being set in the bot's configuration, but not "assigned" to the published LUIS application.

This was resolved by *no longer creating or setting an endpoint key*.  This should be resolved in the latest.

Fixed by #6791

[2021-04-09 20:37] #6757 closed

[2021-04-09 20:41] benbrown commented on #6831
This was not QNA specific - the build included a broken start bot function.

Fixed by #6816

[2021-04-09 20:41] #6831 closed

[2021-04-09 20:44] benbrown opened #6845 "Update version of bf-dialog used to the latest."
Includes package manager, server-workers, server.

[2021-04-09 20:59] beyackle commented on #4222
This looks like something I can handle writing, but not until we have a solid and nailed-down UI for it.

[2021-04-09 21:08] #6780 closed

[2021-04-09 21:11] anusharavindrar commented on #6760
@praful-dhone, closing this issue as I see your response in #5354. Please feel free to reopen this issue if it doesn't get resolved there.

[2021-04-09 21:19] xiyangdesign opened #6848 "Click on "appsettings.json" in error message not taking me to LUIS field"
## Describe the bug

**Click on "app settings.json" not taking me to LUIS field**

<img width="1090" alt="image" src="https://user-images.githubusercontent.com/74994573/114241577-38820800-993e-11eb-932b-9bca68569267.png">

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [X] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to

[2021-04-09 21:34] benbrown commented on #6419
This is NOT EXPECTED, as that line should be interpreted as a comment.

@chrimc62 Do you know anything about the LG comment syntax changing?

[2021-04-09 21:41] benbrown commented on #6826
This looks like a state problem - the profile list hasn't been updated for some reason

[2021-04-09 21:42] stevkan commented on #6817
Web Chat doesn't rely on the bot's profile icon in Azure for displaying the bot's avatar. Instead, you need to supply the bot's avatar via Web Chat's `styleOptions` component. The [a.branding-web-chat](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization/a.branding-web-chat#getting-started) Web Chat sample demonstrates how to include the bot's

[2021-04-09 21:56] formore5points commented on #6552
Yes it is resolved, thanks

[2021-04-09 22:01] formore5points commented on #6586
@peterinnesmsft I am using an adaptive card for calendar.I didn't show above but there is an adaptive card before the input(user.appointmentDate). I can observe the input in emulator correctly but in webchat hand, value field comes null.

[2021-04-09 22:28] anusharavindrar commented on #6596
@lusk33, are you using the composer desktop application or the web-based component?
@hibrenda, any pointers on what permissions the user needs to have if he is using his friend's account to deploy the bot and his friend has created a custom role for him?

[2021-04-09 23:15] joshgummersall opened #6851 "Azure Functions Deployment Misconfiguration"
## Describe the bug

Deploying a JS functions app to Azure does not currently work. Several settings are missing or misconfigured - see "Expected behavior" section below.

## Version

Built and run from `main` today (`ddc2a6784b362bf54f62a65f48886eb2eb8688f1`).

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

[2021-04-09 23:26] tdurnford commented on #4222
I merged a PR a few weeks that added the allowed callers list and the is skill toggle. However, it looks like it got removed in the latest Settings page changes. Note, we no longer need the is skill toggle since the adaptive runtime no longer uses that setting.

https://github.com/microsoft/BotFramework-Composer/pull/6522
https://github.com/microsoft/BotFramework-Composer/pull/6620
https://github.

[2021-04-10 01:25] stevkan commented on #6484
Hi @martinlarosa, I spoke with the team regarding this and the strong suggestion was that this should be implemented at the developer level vs. a change to the SDK. That is, if an acknowledgment needs to be returned to Slack immediately, then this should be implemented on an individual basis.

Given that response, I am closing this issue.

[2021-04-10 01:25] #6484 closed

[2021-04-10 05:00] davidfischl opened #6852 "In Microsoft Bot Framework Composer, I can't publish back to PVA a bot that includes carousel layout for cards. Is this a defect ?"

[2021-04-10 08:38] aparnaji commented on #6828
Attached the file , pls check in zip
[Form1.zip](https://github.com/microsoft/BotFramework-Composer/files/6289513/Form1.zip)
I have used the below build
![image](https://user-images.githubusercontent.com/26645750/114264015-fc9b8100-99d7-11eb-8fe5-f9489f72be75.png)
Let me know the build that you have used

[2021-04-10 08:42] aparnaji commented on #6830
I believe too many might lead into management issues.I will check the commenting option.  Also coming to entities , sometime my dialog fails (luis ) saying it crosses 330 entities. Are there any published best practices for usage of form dialogs

[2021-04-10 16:09] jwiley84 commented on #6712
Apologies for the delay and thank you for the update! I'll take a look at that blog post, see if I can follow what you're trying and get back to you by this afternoon.

[2021-04-10 17:44] ctharmon722 commented on #6712
great. Looking forward to it

[2021-04-11 15:27] LakshummaC commented on #6764
any update on this? I need it ASAP

[2021-04-11 18:16] clearab opened #6853 "Package Manager installed packages "loading" indicator"
The Installed tab in Package Manager should display a loading screen, rather than showing "No packages installed" while determining which packages are installed. The delay is long enough that a user could click away w/o waiting for the screen to finish loading.

## Repro steps

1. Create a new bot
2. Open Package Manager
3. Switch to "Installed" tab
4. Observe misleading message

[2021-04-11 18:21] clearab opened #6854 "Default package manager feeds"
The split between the default feeds is confusing. We need to change the default feeds to just "NuGet" and "npm", and sort the search results by # of downloads. Having the extra search feeds is going to discourage use of community packages, and discourage their creation.

[2021-04-11 18:35] clearab opened #6855 "Extra /generated/interruption folder causing dialog:merge error"
On a fresh empty bot, starting the bot in Composer creates a generated/interruption folder with a blank .lu and blank .qna file in it. Seems to be extraneous, and should not be creating these. Files then create a dialog:merge error.

## To repro

1. Create a new empty bot
2. Open the folders/files created on disk, notice no generated/interruption folder
3. Start the bot in Composer
4. Observe the

[2021-04-12 00:24] CharingJC commented on #5459
Dear Team:

After using the latest nightly release, we still come up with the following issue
https://github.com/microsoft/BotFramework-Composer-Nightlies/issues/2

[2021-04-12 00:57] hibrenda commented on #6783
https://github.com/microsoft/BotFramework-Composer/issues/6813

[2021-04-12 04:04] praful-dhone commented on #6760
@anusharavindrar Where did I mention its resolved? For me it is still giving me same error.

![image](https://user-images.githubusercontent.com/37966893/114339112-15d83500-9b72-11eb-8f85-d35ea19b3dd8.png)

Also, how do I check the logs in details? Is there any view logs option in Composer? Mine is v1.4

[2021-04-12 04:06] praful-dhone commented on #6760
@srinaath I am using both LUIS endpoint key and LUIS Authoring key.

"luis": {
      "authoringKey": "305b754d038045c1985143dcd151daf0",
      "authoringEndpoint": "https://westus.api.cognitive.microsoft.com/",
      "endpointKey": "68e2734bcd1a4795939cfbac60e0f58d",
      "endpoint": "https://westus.api.cognitive.microsoft.com/",
      "region": "westus"
    },

[2021-04-12 06:08] LakshummaC commented on #6764
Issue Resolved, you can close this ticket

[2021-04-12 08:53] QaisAlkhateeb opened #6859 "Question About Dialogs.Debugging.SourceMap: SourceMap is taking too much memory when chatbot loading"
I'm using Composer Runtime in one of the bots I working on, the bot have multiple service and we have multiple dialogs (50 dialogs) to handle these services. when bot it loading it consuming too much memory, after investigation I found that SourceMap is consuming most of the memory and below simple explanation to what I did:

I tried to load the Bot without doing any change on SourceMap and here i

[2021-04-12 08:59] garypretty opened #6860 "Create new resource instructions step 1 already completed"
## Describe the bug

When creating new resources, it has a 3 step process detailed, but step 1 - "Sign in to Azure" - has already been done at this point.

These instructions can be simplified to just show the last 2 steps - or sign in should not occur until the user hits next.

![image](https://user-images.githubusercontent.com/3900649/114368499-5eddb880-9b75-11eb-9fdb-73e6f482c249.png)

cc @Dewa

[2021-04-12 08:59] QaisAlkhateeb commented on #6859
Please note that we face the same memory consumption issue when we deploy it to azure.

[2021-04-12 09:05] garypretty opened #6861 "Link to Manage Profiles from Channel Settings is broken"
## Describe the bug

- Navigate to settings
- Under Bot Service Channels, select Manage profiles in dropdown
- You should be taken to the new Profile management location on Publish page, but this is not currently working.

![image](https://user-images.githubusercontent.com/3900649/114369636-7ec1ac00-9b76-11eb-9447-20679ba74f4c.png)

cc @Dewain27

[2021-04-12 09:16] garypretty opened #6862 "Cannot configure channels for newly provisioned bot"
## Describe the bug

- Created a new bot
- Provisioned resources
- Selected publishing profile under Settings -> Connections to configure channels and received error that the resource group did not exist.

I confirmed the provisioning completed successfully and resource group does exist.

![image](https://user-images.githubusercontent.com/3900649/114370982-f6440b00-9b77-11eb-9553-35c5efe18fd7.png)

[2021-04-12 09:30] liweitian commented on #6601
When user inputs a file path rather than a directory path, it may causes the above issue. Maybe this is the reason .It is fixed in #6733.
To fix your problem @Andrea-Orimoto, like @CharingJC said,  change the data.json manually can solve the issue.

[2021-04-12 09:58] iMicknl commented on #6048
Apparently, it is already possible to use the results of Power Virtual Agents NLU, but it is a bit complicated. (and not supported).

On every turn, PVA NLU will be called and the results can be found in `turn.recognized`. For example, to extract a custom entity defined in Power Virtual Agents can be done with the following definition: `turn.recognized.text.entities.$instance.new_customtype_bb3151

[2021-04-12 10:25] darrenj commented on #6836
@emivers8, @Dewain27 Worth taking a look at this and my original issue. A deep link doesn't feel at first glance the right approach. If I choose to provision through a new publishing profile I would expect publishing of the bot to happen, if we think a user should choose, an up-front "publish my bot when finished" checkbox might be better than a deep link?

[2021-04-12 10:40] darrenj opened #6864 "Copy - Test in Emulator, Open in WebChat"
## Describe the bug

We should review the copy in the local bot runtime manager dialog. We have:

- Open Web Chat
- Test in Emulator

You test in WebChat too, perhaps align the two and have "Test in Emulator", "Test in Web Chat" ? @emivers8 ?

## Screenshots

![image](https://user-images.githubusercontent.com/33519520/114381971-b08d3f80-9b83-11eb-9395-078703c52c1a.png)

[2021-04-12 10:42] garypretty opened #6865 "Cannot install package - error related to conflicting packages"
## Describe the bug

Attempted to install a package containing a dialog / schema.  The following error is shown and the dialog merge fails.

![image](https://user-images.githubusercontent.com/3900649/114382133-eaf6dc80-9b83-11eb-90e1-76730e4a5cdf.png)

**Full error text**

A problem occured during the install of this Component: Error conflicting definitions of Microsoft.IAdapter.schema Microsoft.B

[2021-04-12 10:50] darrenj opened #6866 "QnAMaker creation experience is fixed to free tier"
# Describe the bug

After creating a new bot you are prompted where needed to select/create QnAMaker/LUIS keys. When creating a new Qnamaker key it doesn't prompt you for pricing tier, it seems to default to free meaning that if you have exceeded your quota of free keys the feature doesn't work for you.

**Suspect the same issue applies to LUIS resources too.**

## Version

1.4.0-nightly.233776

#

[2021-04-12 10:53] darrenj opened #6867 "Resource request handoff is incorrect for QnA resource"
## Describe the bug

When requesting a resource request handoff for QnAMaker, the instructions for the Azure admin are for LUIS?

## Version

1.4.0-nightly.233776

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create basic assistant
2. From rocket ship

[2021-04-12 14:30] benbrown commented on #6865
This should be resolved by the latest version of the bf-dialog package. See here:

https://github.com/microsoft/BotFramework-Composer/pull/6849

[2021-04-12 14:31] benbrown commented on #6832
Thanks for the report @rvinothrajendran. We're tracking a fix for this in the upcoming release.

[2021-04-12 14:35] benbrown commented on #6855
This should be fixed by the latest bf-dialog package:

see here: https://github.com/microsoft/BotFramework-Composer/pull/6849

[2021-04-12 15:12] a-b-r-o-w-n commented on #6792
@cwhitten should this be included in the upcoming release? Where does this sit in terms of priority?

[2021-04-12 15:14] martinlarosa commented on #6484
@stevkan thanks for your reply.
I understand the decision but did the team discussed the possibility of adding an extensibility point into the code so that we can add this modification without having to fork the code and then need to do maintenance after every new version?

[2021-04-12 16:04] lauren-mills commented on #6852
@cwhitten - can you help assign the right person to investigate this?

[2021-04-12 16:10] lauren-mills commented on #6828
@chrimc62 - can you take a look at the project that was shared and update this issue?

[2021-04-12 16:19] lauren-mills commented on #6763
Hi @damlaalkan - can you verify what your publish profile contains in the LUIS section? You can find it in your appsetting under hte publishProfiles property. If you can send it and remove the keys, that would help us triage this.

[2021-04-12 16:23] benbrown opened #6868 "BUG: During creation of JS conversational core, component dialogs do not appear properly"
It appears something is going awry during the build step of the javascript runtime during creation.

the cancel, help and welcome dialogs do not appear as expected post-install.

To recreate:
1. in create flow, choose "JS" on first screen
2. create a conversational core bot
3. note that the child dialogs are absent from the project view

[2021-04-12 16:26] lauren-mills commented on #6677
@peterinnesmsft, I'm going to assign this to support to try to repro

[2021-04-12 16:35] cwhitten commented on #6852
@davidfischl can you please update the description with a bit more information? How to reproduce, perhaps the card payload itself, etc.

There are no known issues publishing Adaptive Cards back to PVA.

[2021-04-12 16:37] lauren-mills commented on #6561
@luhan2017 - is this resolved? If not, can we get it added to the backlog?

[2021-04-12 16:37] scheyal opened #6869 ""Network Error" when starting a bot with LUIS/QnA/skills"
Tried to run a bot that used to work with LUIS/QnA/Skills. Followed prompts to re-add LUIS/QnA keys. Started a build and hit the following.
Errors need more information. One cannot troubleshoot with this. I know my network is good. (streaming music, filing bugs, reading email...).

![image](https://user-images.githubusercontent.com/8867670/114429774-972fc780-9b72-11eb-93b5-d328d75eb428.png)

[2021-04-12 16:37] mewa1024 commented on #6749
@tonyanziano I think the answer to both is yes. I thought Web Chat already had a selected state--clicking a message in the Web Chat pane in Composer looks like this:
![image](https://user-images.githubusercontent.com/39317542/114429766-96973100-9b72-11eb-9f1e-4da6a85e0bac.png)

If the Web Chat pane is not open, is it possible to still select the message so that if the user opens Web Chat, the mess

[2021-04-12 16:39] dmvtech commented on #6588
@alfenne

I just tried again with the following:
[code]

And still cannot reproduce. Are you able to test with the newest nightly and confirm you can still reproduce?

[2021-04-12 16:39] #6552 closed

[2021-04-12 16:41] scheyal commented on #6869
Second time it worked, so cannot repro, but it'd be good to find where's the error and add more details.

[2021-04-12 16:42] alfenne commented on #6588
Hi @dmvtech,

I have upgraded Bot Composer to the newest nightly build and I am no longer able to reproduce this.

Thinking it was fixed in the latest release?

[2021-04-12 16:42] benbrown commented on #6862
Dupe of #6731

[2021-04-12 16:42] #6862 closed

[2021-04-12 16:43] dmvtech commented on #6670
Hi @madbeher I'm going to close this as it seems this has been answered. If not, or I have misunderstood the requirement/problem, please let me know and I will reopen.

[2021-04-12 16:43] #6670 closed

[2021-04-12 16:46] #6845 closed

[2021-04-12 16:46] lauren-mills commented on #6312
Hi @pedro-ramirez-suarez, yes this is possible. What you are likely running into is that when you change the LUIS endpoint key to be a different prediction resource, right now there is a bug in composer where it does not do the prediction resource assignment automatically when it publishes. So, when you hit the 403, the problem is that you are using an endpoint key that has not been assigned to th

[2021-04-12 16:49] benbrown commented on #6868
Fixed by #6849

[2021-04-12 16:49] #6868 closed

[2021-04-12 16:58] Dewain27 opened #6871 "Create QnA Maker bot Template configuration screen disappears when you leave composer and come back"
## Describe the bug

When you are creating a new bot from the QnA Maker template the post configuration screen disappears when you click away from composer and clicks back into composer.  There is no other way to get that configuration screen back either.

## Version

Version:  1.4.0-nightly.233776.7019ef0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

[2021-04-12 17:03] lauren-mills commented on #6819
@vidyakdil - can you confirm that you are taking a C# project and trying to convert it to use composer? Can you share the instructions you are following?

Also, are you adding the luis config to your appsettings? There is a secondary set of settings you may need to provide which is the mapping of the luis appId to the dialog. Composer generates this automatically, but if you are wiring a C# bot to

[2021-04-12 17:05] lauren-mills commented on #6423
@philip-mc - Are you using different LUIS authoring and prediction resources for your child dialog LUIS model than your root dialog?

[2021-04-12 17:06] benbrown commented on #6731
OK this should be fixed by #6872.  The connections widget had not yet been updated for the reality that the resource group name can be different than the resource name.

[2021-04-12 17:16] tonyanziano commented on #5728
Update: According to the PVA team, this **should hit their production environment at the end of April**. It is currently deployed in their PPE environment.

[2021-04-12 17:24] #6764 closed

[2021-04-12 17:31] tonyanziano commented on #6749
@mewa1024 , I think it should be possible, but I'd have to dive into the code a little bit to make sure.

[2021-04-12 17:47] srinaath opened #6873 "Look into magic numbers in styles"
There are quite a few places in which we have hardcoded numbers in styles ex Page component. It makes sense to move them into variables to understand why those static numbers came into the styling. This would help with readability and reusability (same heights are used across components. Same change as a result needs to be done in multiple places)

[2021-04-12 18:06] v-kydela commented on #6648
@balyetcait - Are you still working on this?

[2021-04-12 18:10] pavolum commented on #6584
Going to close due to inactivity. Feel free to reopen if above comments did not resolve.

[2021-04-12 18:10] #6584 closed

[2021-04-12 18:14] peterinnesmsft commented on #6761
Taking offline.

[2021-04-12 18:14] #6761 closed

[2021-04-12 18:19] #6783 closed

[2021-04-12 18:32] chrimc62 commented on #6828
I am still unable to repro your issue.  I'm using
[code]
Here is a transcript against your form.

[repeateString.zip](https://github.com/microsoft/BotFramework-Composer/files/6299018/repeateString.zip)

[2021-04-12 18:38] Dewain27 opened #6874 "Creating QnAMaker resource taking up to 20+ minutes"
## Describe the bug

Creating a QnA Maker resource through Composer is taking in excess of 20+ minutes.

## Version

Version:  1.4.0-nightly.233776.7019ef0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps t

[2021-04-12 18:41] benbrown commented on #6874
This is true, but it eventually succeeds. This seems due to the fact that the search resource takes a long time to be created.

What is the bug?

[2021-04-12 18:44] Dewain27 opened #6875 "QnA Maker Provisioning Fails however teaching bubble says you are ready to go"
## Describe the bug

When QnA Maker Service creation in the Next Steps menu fails, it still says that you are ready to go in a teaching bubble.

![image](https://user-images.githubusercontent.com/18688053/114444463-8ee88400-9b94-11eb-996a-7052f75bd381.png)

## Version

Version:  1.4.0-nightly.233776.7019ef0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

[2021-04-12 18:45] benbrown opened #6876 "BuG? Do we need to also set QNA region when setting QNA key?"

[2021-04-12 19:11] pavolum commented on #6753
closing as this is a copy of #6822

[2021-04-12 19:11] #6753 closed

[2021-04-12 19:14] sgellock opened #6877 "Composer home page images and cards have aspect ratio and border boundary issues"
## Describe the bug
Grabbed the latest nightly, and we have updated graphics on the home page.  The new images have aspect ratio issues and the text on those cards is causing text rendering outside of the borders of the cards.

## Version
Version:  1.4.0-nightly.233776.7019ef0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [x] Electron distribution
-

[2021-04-12 19:48] clearab commented on #6839
Is this for installing a package, or for creating a new bot from a template?

[2021-04-12 19:51] clearab commented on #6839
In either case, if we provide a cancel option, we'd need to determine how/what to rollback. For packages, if the nuget/npm install command succeeds, but the dialog:merge command hasn't completed yet, what do we do if the user cancels? Do we uninstall the package? How do we recover if the user nukes Composer in the middle of dialog:merge running?

[2021-04-12 20:00] Dewain27 commented on #6876
@benbrown yes that would be good.  I think that we had used the region of the rest of the services in a publishing profile, but for the QnA Development environment, you should ask.  Good catch.

[2021-04-12 20:03] #6750 closed

[2021-04-12 20:03] emivers8 commented on #6808
FYI design incoming for this and other project settings updates @pavolum.

[2021-04-12 20:07] hcyang commented on #6839
The bug was about installing a package for an opened bot in Composer. Sometimes the installation process can keep going on without much feedback for the user whether the process has hung or not (it happens). Without any progress feedback nor a "cancel" button", the user can still kill the Composer process and create a half-done package installation situation as @clearab mentioned. It looks like Co

[2021-04-12 20:08] srinaath commented on #6711
@mrtank we will take an action item and work on this. Most likely lean on Option 2 as Option 1 involves changes downstream in our runtime.

[2021-04-12 20:09] pedro-ramirez-suarez commented on #6312
Hello @lauren-mills ,

Yeah!, that's the problem, no prediction resource is assigned to the LUIS apps that are not working:

![image](https://user-images.githubusercontent.com/1943439/114455111-36af8300-9b90-11eb-8d92-bd7f0ddf7214.png)

[2021-04-12 20:09] srinaath commented on #6711
@mewa1024

[2021-04-12 20:29] GeoffCoxMSFT commented on #6258
Looks like Yan Liu isn't available for docs, so we will need to find a doc writer for this.

[2021-04-12 20:30] GeoffCoxMSFT commented on #6257
Looks like Yan Liu isn't available for docs, so we will need to find a doc writer for this.

[2021-04-12 20:34] clearab opened #6879 "The /generated folder should be in /bin"
If Composer is re-generating the files in this folder with every build, it seems like this artifact should be created in /bin or similar so that it doesn't appear to be a set of files I should be checking into source control (and showing up in the root of my bot project on disk).

[2021-04-12 20:40] lauren-mills commented on #6312
Great to know that was the issue! To fix for now, you will need to assign the prediction resource for your models either in the LUIS portal here or via the Az CLI if you have a lot of models to update. Here's the command if you chose the latter option:

[code]

[2021-04-12 20:48] pedro-ramirez-suarez commented on #6312
Thanks a lot @lauren-mills.

[2021-04-12 20:55] jameslew opened #6880 "Composer Publish Flow Indicates region for channels registration, should be global"
## Describe the bug

When creating a publish profile on one step we enumerate the resources being created.  If I choose brazilsouth, most resources, where valid were created in that region.  The Bot SErvice resource however is global and while you're choosing a region for the resource group you're not actually choosing one for the bot Service.

## Version

Version:  1.4.0-nightly.234246.528ea3e
El

[2021-04-12 21:58] mewa1024 commented on #6808
The "Save As" button appearing on the home page is part of larger inconsistency: for actions that one would normally perform on a file/project, we sometimes perform at the bot project level and sometimes at the bot-*within*-a-project level.

### Current behavior

- "**New**" (on home page): creates a new **bot project**. The user selects the location of the bot project folder.
- "**Open**" (on hom

[2021-04-12 22:16] mareekuh commented on #3176
@vivekkshankar I know you worked on this as well - do we have the most recent work in the build right now?

[2021-04-12 22:47] #6225 closed

[2021-04-12 23:07] #6731 closed

[2021-04-12 23:20] dmvtech opened #6882 "Unable to create new resource group with name that starts with an existing resource group name"
## Describe the bug

Under the **Configure Resources** page when creating a new publishing profile. When opting to create a new resource group, but then supplying a new name for that resource group that starts with an already existing resource group, then it selects that existing resource group as the resource group to use instead of create new. Screenshot section is simplest example.

## Version

[2021-04-12 23:21] anusharavindrar commented on #6760
@praful-dhone, thanks for the above info. Also, can you verify if you have added the luisResource to point to your luis prediction resource in the publish profile?

[2021-04-13 00:04] emivers8 opened #6883 "No warning/error if you don't have a subscription and try to create a publishing profile"
## Describe the bug

When you sign in with an Azure account that doesn't have any directories or subscriptions, you can't select those drop downs. It doesn't give you a warning or error, you're just stuck and it's unclear what the problem is.

Some new users, especially those who found their way to Azure via Composer (rather than the other way around) may not have created a subscription yet. Simil

[2021-04-13 00:12] emivers8 opened #6884 "Prompted for Azure login twice in a row"
## Describe the bug

When going to creating a publishing profile, I'm prompted to login. I successfully login, but the login panel pops up again. This happens inconsistently. If I close it the second time, I am already logged in. But it's confusing.

## Version

Version:  1.4.0-nightly.233776.7019ef0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
macOS

## To Repro

[2021-04-13 00:19] srinaath commented on #6864
@mewa1024 Comment here?

[2021-04-13 00:21] JaskeeratBedi-cmk opened #6885 "Sign in modal in provisioning flow"
## Describe the bug
The sign in modal in provisioning flow appears as soon as user selects "configure resources", however we decided this was not the right behavior since user does not need Azure sign in for 'importing & hand off". Thus sign in modal should get triggered only when user selects "Create new resources" and clicks next on the modal

## Version
v1.4.0-nightly.233463.bc20573

## Browser

[2021-04-13 00:25] JaskeeratBedi-cmk opened #6886 "Configure resource modal fit and finish"
![Frame 61659](https://user-images.githubusercontent.com/67944302/114478782-eea25780-9bb3-11eb-81b0-529cc18ab727.png)

Original design > https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-s-files?node-id=5319%3A86501

[2021-04-13 00:28] JaskeeratBedi-cmk opened #6887 "Fit and Finish - Broken link in Create Publishing Profile for Azure"
See video below>

The Microsoft azure link & the learn more link the in the provisioning modal is broken.

https://user-images.githubusercontent.com/67944302/114478987-5bb5ed00-9bb4-11eb-9947-70191475b465.mp4

[2021-04-13 00:32] JaskeeratBedi-cmk opened #6888 "provisioning modal fit and finish"
Can we only make the read me section scrollable and fix the section with radio buttons? Creation modal follows that interaction pattern..

https://user-images.githubusercontent.com/67944302/114479280-16de8600-9bb5-11eb-9d17-1dbedb0ecbe0.mp4

[2021-04-13 00:36] JaskeeratBedi-cmk opened #6889 "import existing resources fit and finish"
Needs copy updates ( see below)
Needs back button

![Frame 61660](https://user-images.githubusercontent.com/67944302/114479555-9a987280-9bb5-11eb-9aa5-12f3babb2747.png)

Original design - https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-s-files?node-id=5502%3A822

[2021-04-13 00:43] JaskeeratBedi-cmk opened #6890 "Add resource fit and finish"
![Frame 61661](https://user-images.githubusercontent.com/67944302/114479954-640f2780-9bb6-11eb-9f8b-421f085fb321.png)

- Learn more link: https://aka.ms/composer-publish-bot#create-new-azure-resources
- Q&A maker icon is missing in the list https://iconcloud.design/search/filter/Azure%20Icons/all/Q&A%20maker/e31aa438e-de64dd68d

[2021-04-13 00:51] JaskeeratBedi-cmk opened #6891 "Cannot create a new bot"
<img width="1155" alt="Screen Shot 2021-04-12 at 5 51 04 PM" src="https://user-images.githubusercontent.com/67944302/114480601-b43ab980-9bb7-11eb-91c4-0df25b2223d2.png">

[2021-04-13 00:54] scheyal opened #6892 "Error: req.body.path.replace is not a function when trying to connect to existing skill."
Try to connect to existing skill by selecting it from filesystem.
Error message doesn't help troubleshoot the issue.

![image](https://user-images.githubusercontent.com/8867670/114480787-1693ba00-9bb8-11eb-954b-19aa23317180.png)

[2021-04-13 00:55] scheyal commented on #6892
Steps:
* create a skill
* Start a new (or open another solution)
* Add / Open an existing skill
* Boom

[2021-04-13 00:56] stevkan commented on #6803
At this time, passing arguments to LUIS as part of the publication process is not supported. If this is a feature you would like to see implemented, I would suggest posting this issue as a feature request in this repo.

With regards to re-using an existing LUIS app, I am checking into whether this is supported and will post a response when I know more.

[2021-04-13 02:04] luhan2017 commented on #6760
@praful-dhone, could you share your publish profile?

[2021-04-13 03:47] rvinothrajendran commented on #6891
@JaskeeratBedi-cmk Have you installed node.js ?

[2021-04-13 04:03] mewa1024 commented on #6864
@mareekuh another UI for the list (fwiw "Test" for both is fine with me)

[2021-04-13 04:06] hibrenda opened #6893 "locale setting for new adaptive runtime"
- Electron nightly latest (new adaptive runtime)
- create a bot (with luis)
- test in emulator & emulator locale is not set
- luis will not be triggered
![image](https://user-images.githubusercontent.com/43408889/114495247-5312f480-9c50-11eb-9002-cb42efc7f647.png)

if emulator locale is set to "en-us", then the luis can be invoked
![image](https://user-images.githubusercontent.com/43408889/1144953

[2021-04-13 04:14] hibrenda opened #6894 "publish profile with "" setting for some items will cause bot runtime error"
- electron nightly latest (new adaptive runtime)
- create a bot
- run bot successfully
- imported existing publish profile as below
![image](https://user-images.githubusercontent.com/43408889/114495771-4347e000-9c51-11eb-9490-dfb0f6042119.png)
- runt bot will hit "invalid URI: The format of the URI could not be determined"

With @luhan2017 's help, we found that either "<>" placeholder or "" setti

[2021-04-13 04:20] praful-dhone commented on #6760
I can not share here as it has some details which I don't want to publish it to the world. Can you give me your mail address please?

[2021-04-13 05:08] srinaath commented on #5752
@yeze322  Can we close this ticket?

[2021-04-13 05:48] luhan2017 commented on #6760
@praful-dhone sure, luhan@microsoft.com

[2021-04-13 06:47] #5752 closed

[2021-04-13 06:47] luhan2017 commented on #6561
@GeoffCoxMSFT could you please help follow up on this?

[2021-04-13 06:48] yeze322 commented on #5752
Yes we do. It's published as Nuget package.

[2021-04-13 09:08] gary-x0pa opened #6895 "QnA maker dialog fails when adding strict filter"
## Describe the bug

QnA maker returns `Response status code does not indicate success: 400 (Bad Request).` When strict filters are set.
However when isTest is set to true this error does not occur.

## Version

latest 1.4.1.

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduc

[2021-04-13 09:39] lampeTechnidoo commented on #6482
the problem exists on BotFramework Composer  V1.2.1 too.
[logfile-composer-V1.3.0.txt](https://github.com/microsoft/BotFramework-Composer/files/6302718/logfile-composer-V1.3.0.txt)

`
Publish starting...
`
 .
 .
 .

`
{
  "status": "DEPLOY_ERROR",
  "message": "{\"name\":\"StatusCodeError\",\"statusCode\":400,\"message\":\"400 - {\\\"error\\\":{\\\"code\\\":\\\"BadArgument\\\",\\\"message\\\":\\\"

[2021-04-13 10:28] #5857 closed

[2021-04-13 12:12] darrenj commented on #6772
In the latest build (1.4.0-nightly.234518) LUIS does now appear to work however QnA is still causing an issue. I do now see in Composer trace this error : `Unable to get a value for EndpointKey from state.`

![image](https://user-images.githubusercontent.com/33519520/114550256-e4d32f80-9c59-11eb-97e3-e16aaf47764d.png)

[2021-04-13 14:58] Quirinevwm opened #6896 "LUIS region & QnA maker subscription key not present when it's been added via pop-up"
## Describe the bug
When adding LUIS key + region, and then QnA maker key in the next step. Only my LUIS key shows in the settings page.

## Version
![image](https://user-images.githubusercontent.com/43533472/114574200-19f77600-9c8a-11eb-9473-7ecc3e025932.png)

## Expected behavior
Expect the QnA keys to be present plus LUIS region.

## Screenshots
![image](https://user-images.githubusercontent.co

[2021-04-13 15:02] Quirinevwm opened #6897 "Rocketship placement most prominent right, expected that to be notifications (as in neutral home)"
## Describe the bug
Composer home shows my notifications in the app bar as most right. Once, I start to add/open a template the rocketship takes over the notifications place. I would expect notifications to be present in most right position consistently.

## Version
![image](https://user-images.githubusercontent.com/43533472/114574728-8c685600-9c8a-11eb-89d0-1a31c04fb94f.png)

## Screenshots
home:

[2021-04-13 15:16] Dewain27 opened #6898 "Bot Settings - Manage Connections on the Action Bar not working properly"
## Describe the bug

Manage connections on the Bot Settings page does not take you the tab for connections.  It seems that it doesn't do anything after moving to the tabular view of Bot Settings.

![image](https://user-images.githubusercontent.com/18688053/114576673-f9ef9480-9c40-11eb-9d31-d801f9b5614d.png)

## Version

Version:  1.4.0-nightly.234518.8e98823
Electron: 8.2.4
Chrome: 80.0.3987.165
N

[2021-04-13 15:24] Dewain27 commented on #6891
@JaskeeratBedi-cmk we need to get your Version and repro steps.  Please ensure that you have node.js installed as well.

[2021-04-13 15:33] scheyal opened #6899 "Localhost skill manifest is inaccessible in composer but it is in browser"
While developing a skill we need to access a localhost skill manifest. See below how skill manifest is available in browser but inaccessible in Composer.

![skillmanifest](https://user-images.githubusercontent.com/8867670/114579645-eb9a7c00-9c32-11eb-831c-fe24a9ccda1e.png)

[2021-04-13 15:35] benbrown commented on #6899
This is due to a recent change that caused the manifests to no longer be copied into wwwroot during local publish.

[2021-04-13 15:52] Dewain27 opened #6900 "When signed out of provisioning flow (Create Publishing Profile) still says sign out and won't ask me to sign on again"
## Describe the bug

When creating a publishing profile, if you sign out then you still get a sign out prompt at the bottom of the screen.  Also, when you are trying to come back and create a resource it won't let you select anything or prompt for a logon again.

## Version

Version:  1.4.0-nightly.234518.8e98823
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## B

[2021-04-13 16:13] tonyanziano commented on #6807
Closed by #6846

[2021-04-13 16:13] #6807 closed

[2021-04-13 16:17] srinaath commented on #6799
@hatpick Could you take a look at this ticket with the enitity labeller positioning?

[2021-04-13 16:17] scheyal opened #6901 "Large blank area in "Create a skill in your bot" wizard"
It looks like somethign is missing here. Maybe just a design issue.

![image](https://user-images.githubusercontent.com/8867670/114585922-fb1cc380-9c38-11eb-8863-18d8f43ebf64.png)

[2021-04-13 16:26] tdurnford commented on #6899
@benbrown if the skill manifest is no longer copied to the wwwroot, how are developers expected to access it going forward?

[2021-04-13 16:33] cwhitten commented on #6899
@luhan2017 can you look at this as part of the skill manifest updates

[2021-04-13 16:35] #6876 closed

[2021-04-13 16:35] benbrown commented on #6876
The answer is, QNA is only in `westus`

[2021-04-13 16:38] cwhitten commented on #6802
adding @sangwoohaan for comment

[2021-04-13 16:41] cwhitten commented on #6803
@gabrielguarisa to answer the following:

This also is not currently supported, but a requested feature that we are evaluating and prioritizing against our roadmap. Thank you!

[2021-04-13 16:43] benbrown commented on #6896
Thanks for the report @Quirinevwm! This is a dupe of #6822  that should be fixed momentarily.

[2021-04-13 16:43] #6896 closed

[2021-04-13 16:46] Dewain27 opened #6903 "Need a place for an Admin to download the scripts folder"
## Describe the bug

When doing the Admin Handoff pattern for provisioning we are asking the Admin to run a command that is in the scripts folder, but the admin doesn't have a scripts folder or access to the project files that the developer created.  We need to be able to provide a download link for the Admin to get the contents of the scripts folder.

## Version

Version:  1.4.0-nightly.234518.8e

[2021-04-13 16:55] lauren-mills commented on #4226
Related #6312

[2021-04-13 16:56] cwhitten commented on #6869
@scheyal the next time this happens can you please start Composer in debug mode?

Set an environment variable in a shell: `DEBUG=composer*` and start the application from the shell. This will give more information.

[2021-04-13 16:59] cwhitten commented on #6893
@hibrenda can you expand on the breaking behavior a bit more in your description?

[2021-04-13 17:09] hatpick commented on #6799
@srinaath it's up to the **order** that they appear in the DOM, since fabric Callouts use portals, they always get appended to the end so they appear over things. From what I understand, user has a panel open, then they try to tag an entity from underneath, so it only makes sense that they should be able to see the tagging menu, right?

[2021-04-13 17:09] vidyakdil commented on #6819
Yes we added the LUIS details to the appsettings.json. But this didn't work

[2021-04-13 17:15] lauren-mills commented on #6586
Hi @formore5points, since it looks like the null value is causing the issue in webchat (which is expected since a date range would have a null value) try changing your expression to this:

dialog.timeSlots = where(dialog.slots, x, x.date == coalesce(user.appointmentDate[0].value, user.appointmentDate[0].start))

This will check for both the dates value and start, and choose whichever one is not nu

[2021-04-13 17:22] lauren-mills commented on #6586
As for the locale problem, I'm not sure I completely understand, but the formatDateTime does accept a locale parameter which might help you convert to your desired locale: https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#formatdatetime

[2021-04-13 17:23] GeoffCoxMSFT commented on #6851
@joshgummersall

- I am happy to set WEBSITE_NODE_DEFAULT_VERSION, but I have not idea what value to use.  Is there a way to determine this from the JS runtime?
- Can you tell me more about AzureWebJobsStorage? Is this meant to be a connection string to Cosmos DB or some other storage?
- FUNCTIONS_WORKER_RUNTIME we pull the runtime from the adaptive runtime key (e.g. adaptive-runtime-node-function

[2021-04-13 17:33] lauren-mills commented on #6289
@benbrown - would updating to the latest nightly or 1.4.0 help with this issue you think?

[2021-04-13 17:38] benbrown commented on #6871
I think what happened here is that you clicked "behind" the modal when clicking back on Composer, and thus dismissed that modal.

You can get back to it via the "Add new knowledge base" link in the navigation menu, as seen here:

![Uploading aQHvzpc3lL.gif…]()

[2021-04-13 17:41] benbrown commented on #6834
This should be fixed in the latest builds of Composer. @scheyal  can you confirm?

[2021-04-13 17:42] xiyangdesign commented on #6808
This issue is related: https://github.com/microsoft/BotFramework-Composer/issues/5526

[2021-04-13 17:42] benbrown commented on #6772
@darrenj Should be resolved by #6881 please re-open if you still experience this!

[2021-04-13 17:45] #6688 closed

[2021-04-13 17:45] #6707 closed

[2021-04-13 17:47] #6200 closed

[2021-04-13 17:50] joshgummersall commented on #6851
* It's possible that the node default version is not required, though I think the default is something like Node v10 which is very old. https://github.com/projectkudu/kudu/wiki/Node-versioning explains the setting, the SDK is going to EOL v10 support at some point and it isn't supported by the Node maintainers anymore so it should like be 12+, ideally 14+.
* Docs for WebJobStorage: https://docs.mi

[2021-04-13 18:15] #6812 closed

[2021-04-13 18:27] rvinothrajendran opened #6905 "Provide the option to Rename the bot"
## Describe the solution you'd like

give the option to rename the bot name

## Additional context

![rename](https://user-images.githubusercontent.com/16264167/114602162-955f2480-9c96-11eb-91c0-134804433150.jpg)

[2021-04-13 18:31] JaskeeratBedi-cmk commented on #6891
Checked again today & was able to create new bot..
My new app version is: v1.4.0-nightly.233776.7019ef0

[2021-04-13 18:39] dmvtech commented on #6677
@lauren-mills I'm able to reproduce. Happy to share or try/test anything.

![image](https://user-images.githubusercontent.com/43397658/114603584-c155b800-9c4c-11eb-8050-f2dcfde96565.png)

[2021-04-13 18:44] JaskeeratBedi-cmk opened #6907 "hand off to azure admin"
The Copy needs to be updated based on design. Several problems with the copy ( see attached screenshots)

![Frame 61662](https://user-images.githubusercontent.com/67944302/114604366-a6d00e80-9c4d-11eb-9987-0bc20a171ac8.png)

[2021-04-13 18:48] JaskeeratBedi-cmk opened #6908 "Edit publishing profile"
When I try to edit my existing publishing profile, and want to create new resources, I am asked to configure resources. In this screen, everything is disabled & the region selection for Luis is not working ( see attached)

![Screen Shot 2021-04-13 at 11 46 40 AM](https://user-images.githubusercontent.com/67944302/114604717-1b0ab200-9c4e-11eb-8934-6fdfb9342751.png)

[2021-04-13 19:24] scheyal opened #6909 "Missing LUIS error shows up when adding a skill & selecting orchestrator."
* Go through add remote skill wizard.
* Accept all or some intents
* Allow orchestrator to be recognizer in multibot scenarios
* accept
* Boom : missing LUIS key shows up. The bot worked fine before (don't remember if I already had LUIS keys or didn't need it due to using Orchestrator).

[2021-04-13 19:24] sgellock commented on #6877
this looks fixed in the 12e1a8a nightly.

[2021-04-13 19:24] #6877 closed

[2021-04-13 19:26] benbrown commented on #6643
@martinlarosa I would suggest you introduce a middleware that tests if the incoming message has a subtype of 'bot_message' or the 'bot_id' field is present, and if so, ignore it. This will tell your bot to ignore any message from any bot.

Alternatively, you can compare the incoming user against the bot's own user ID - however, this requires you to go fetch the bot's user id using one of Slack's A

[2021-04-13 19:29] scheyal commented on #6909
Also, Orchestrator was not installed. (may be related).

[2021-04-13 19:30] scheyal opened #6910 "New add remote skill experience doesn't install Orchestrator"
* Go through adding new skill experience.
* Accept Orchestrator as default multibot root recognizer
* Boom: Recognizer doesn't get installed.

[2021-04-13 19:31] scheyal commented on #6909
see #6910

[2021-04-13 19:32] emivers8 commented on #6897
Yep, this is designed to be consistent throughout the app. When you don't have a bot project open, the next steps should be this (learning is the same):

![image](https://user-images.githubusercontent.com/55601267/114609722-f4e81080-9c53-11eb-8353-a6f1feeb49c6.png)

This should go away and be replaced with the normal next step contents once a bot project is open.

[2021-04-13 19:34] scheyal opened #6912 "Orchestrator is not available for skills in multi-bot project although available to parent"
* Add Orchestrator to parent bot in multi-bot solution
* Orchestrator is available to parent (in dialog recognizer dropdowns)
* Orchestrator is not available to skill projects.
* Propose that we offer that to all bots in project, not only root.

[2021-04-13 19:35] sgellock opened #6913 "Home Screen layout on desktop monitors needs some refinement"
## Describe the bug
We should consider adjusting our media queries to better layout the home page on external monitors.  See attached screenshots

## Version
Version:  1.4.0-nightly.234673.12e1a8a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [x] macOS
- [ ] Windows

[2021-04-13 19:36] scheyal commented on #6912
(this is a new feature proposal to consider in discussions. not a blocking bug)

[2021-04-13 19:44] #6651 closed

[2021-04-13 19:53] emrecanergor commented on #6586
Hey @lauren-mills, i'm @formore5points ' teammate. In webchat, we need to dynamically use the locale from browser. So i think we can't set statically locale text to formatdatetime. What do you think about that case?

[2021-04-13 20:09] #5996 closed

[2021-04-13 20:12] benbrown commented on #6855
Confirmed resolved by @clearab

[2021-04-13 20:12] #6855 closed

[2021-04-13 20:23] #6891 closed

[2021-04-13 20:26] #6566 closed

[2021-04-13 20:26] #6567 closed

[2021-04-13 20:26] #6867 closed

[2021-04-13 20:29] Quirinevwm opened #6915 "Selection of publish profile in connections tab: shows no pop-up to select"
## Describe the bug
The dropdown does not let me select my publishing profile, just showing plain text after selection of 'manage profile'

## Version
![image](https://user-images.githubusercontent.com/43533472/114616840-69549b00-9cb8-11eb-959c-3a366d21be95.png)

## Screenshots
![image](https://user-images.githubusercontent.com/43533472/114616735-44f8be80-9cb8-11eb-947e-5760f0a3f9eb.png)
By clicki

[2021-04-13 20:38] rvinothrajendran opened #6916 "Package manager search options is not working in the same format."
## Describe the bug

Package manager search options is not working in the same format.

## Version

Version:  1.4.0-nightly.234673.12e1a8a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the b

[2021-04-13 21:04] #6843 closed

[2021-04-13 21:16] scheyal opened #6917 "Publish: copy manifest URL copies the api/messages url - not the manifest one"
A. The copy manifest URL does not copy the manifest url rather the messages/api url.
For example:
https://theskill.azurewebsites.net/api/messages
I expected the following:
https://theskill.azurewebsites.net/manifests/TheSkill-2-1-manifest.json

B. The text in the UI is truncated too early. (fit & finish).

See image:

![image](https://user-images.githubusercontent.com/8867670/114622203-82caf800-9c

[2021-04-13 21:26] benbrown commented on #6908
I believe those fields are disabled because they are already set in a previous session.  It's weird that the current value is not displayed in those disabled

[2021-04-13 21:29] anusharavindrar commented on #6763
@damlaalkan, can you respond to Lauren's above query or share your publish profile so that we can investigate further.

[2021-04-13 21:36] scheyal opened #6918 "Ejected runtime errors during build dur to SetSpeakMiddleware error (CS0104)"
Tried to run a skill that worked just fine prior to the last nighly build update.
During Orchestrator installation, it required ejecting the skill so I did.
Tried to build and hit the following:

[code]

[2021-04-13 21:37] srinaath commented on #6892
Closing as fixed here #6800

[2021-04-13 21:37] #6892 closed

[2021-04-13 21:38] srinaath commented on #6813
closing as fixed in https://github.com/microsoft/BotFramework-Composer/pull/6800

[2021-04-13 21:38] #6813 closed

[2021-04-13 22:01] dmvtech commented on #6588
hi @alfenne Apparently so. Hard to say since I was never able to reproduce. I'm going to close this, but please comment if this happens to pop back up.

[2021-04-13 22:01] #6588 closed

[2021-04-13 22:08] #6811 closed

[2021-04-13 22:20] scheyal opened #6919 "Add dialog requires QnA"
Simple add dialog in a new solution results with:

(2 of 3, I think 1 was similar about LUIS, 3rd is the standard error below)
![image](https://user-images.githubusercontent.com/8867670/114628403-a7779d80-9c6b-11eb-8c5a-a911d45d37f8.png)

![image](https://user-images.githubusercontent.com/8867670/114628522-d4c44b80-9c6b-11eb-9dab-67e3f99c16ed.png)

[2021-04-13 22:21] benbrown commented on #6834
Verified resolved.

[2021-04-13 22:21] #6834 closed

[2021-04-13 22:33] scheyal opened #6921 "Skill: consumer cannot select endpoint in dropdown"
Add / connect  a remote skill with 3 endpoints
Create a new box to access externa resources: connect to a skill
Select an enpoint.
Boom: It isn't selected
Bot fails accordingly

https://microsoft-my.sharepoint-df.com/:v:/p/eyals/EeHpy2H-j5lJs992ABOYgKwBde74okDJopAwuc1p6y-lvg?e=mKjnAF

[2021-04-13 22:45] Virtual-Josh opened #6922 "Composer white-screens if you add a non-supported or supported locale"
## Describe the bug
If you add an unsupported locale folder to a project Composer white screens

## Version
Version:  1.4.0-nightly.234518.8e98823
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

N/A

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to re

[2021-04-13 23:13] #6769 closed

[2021-04-13 23:13] #6815 closed

[2021-04-13 23:13] #6822 closed

[2021-04-13 23:13] #6837 closed

[2021-04-13 23:25] srinaath opened #6925 "Project tree jumps on skill addition in Electron installer"
## Describe the bug

The project tree jumps around quite a bit on hovering over a skill.

1.  Selecting a project tree item should have uniform selection border
2.  Navigating between pages should not make the project tree item jump around.
3.  Expanding and contracting a project tree item should not jump

## Version

Electron 1.4.0-nightly.234673.12e1a8a

## Browser

[https://user-images.githubus

[2021-04-13 23:53] dmvtech commented on #6206
Hi @marvin-garcia Just checking in. Can you test with 1.4.0?

[2021-04-13 23:55] boydc2014 commented on #6919
@liweitian can you help take a look at this one?

[2021-04-14 00:18] #6851 closed

[2021-04-14 00:19] anusharavindrar commented on #6895
@gary-x0pa,  in case of large KBs, it is always advised to use automated testing with the generateAnswer API and the isTest body property, which queries the test knowledge base instead of the published knowledge base. So when you use  `"isTest": true` , then you can can target the test version of the knowledge base and by using `"isTest":false`,  you can search through the published kb.

Can you e

[2021-04-14 02:59] gary-x0pa commented on #6895
Ah i think i see what you mean. I forgot to publish the kb after making some changes.

[2021-04-14 02:59] #6895 closed

[2021-04-14 03:25] #4222 closed

[2021-04-14 04:30] luhan2017 commented on #6917
@scheyal  which electron version are you using, we should fixed this in the private electron for skill experience which we shared in the skill v-team group.

[2021-04-14 06:19] madbeher opened #6928 "regex implementation in composer"
Hi,

I have below javascript regex function  which will give only number from the given input string.
![image](https://user-images.githubusercontent.com/36945600/114662805-f2022400-9d16-11eb-9395-0c6e2e6b6e78.png)
Is there any suitable function related above present in composer. The same I want to implement in composer can you suggest me steps on achieving above scenario in composer..

Thanks....

[2021-04-14 06:39] yeze322 commented on #4177
Came up with a solution.
1. Divide current built-in uischema in `ui-plugins/composer` into two parts: `required` & `fallback`. Which means
    `Composer built-in uischema`= `built-in.required` (IfCondition, SwitchCondition, Foreach) + `built-in.fallback` (the rest $kinds)
2. Optimize the merge logic to `built-in.required < (sdk.uischema ?? built-in.fallback) < sdk.override.uischema`

It's a balanc

[2021-04-14 07:15] philip-mc commented on #6423
Ok i have got to the bottom of the issue now.

Firstly - sharing common entities works a treat once I figured it out so thanks for that bit.

The second issue is we use a c sharp bot blended with composer dialogs. The way the c sharp bot references the settings means I constantly get a message ("" is not a valid luis application id ) - it doesnt read the files in the generated folder instead I nee

[2021-04-14 07:28] liweitian commented on #6919
@scheyal, I cannot reproduce this on my side. But it seems the dialog you create does not have a name.
The error should be No QNA FILE WITH NAME {a dialog name}. Could you introduce the steps you did to reproduce the bug and share the bot here would be helpful.

[2021-04-14 09:16] damlaalkan commented on #6763
Hello @lauren-mills  and @anusharavindrar I have added "LuisResource" and it worked right now thank you!
Unfortunately when I publish the app to Azure Bot, the adaptive cards does not seem in the Test Web Chat or in Iframe altough it works in Bot Composer test and Emulator, do you have any suggestions for that?

[2021-04-14 09:35] garypretty opened #6929 "LG editor - Speech tab should be shown if an explicit input hint value is set"
## Describe the bug

If you create a speech tab and change the input hint to something other than the default (e.g. Ignoring input), but don't add a speech response, the tab disappears if you leave the action.  The input hint is still set directly within the LG (switching to code editor), but you have no way of knowing / editing it in the response editor unless you add the speech tab back in.

Add

[2021-04-14 10:49] pamidis opened #6930 "Command failed: dotnet user-secrets init --project conversational_core1.csproj 'dotnet' is not recognized as an internal or external command, operable program or batch file."
Hi,

while creating BOT using BotFramework-Composer.
Received this error message.
Please help.

![image](https://user-images.githubusercontent.com/82510609/114698773-10394580-9d52-11eb-9cce-bdf1614cf202.png)

![image](https://user-images.githubusercontent.com/82510609/114698629-e718b500-9d51-11eb-9e0e-9f1da9051bf7.png)

[2021-04-14 12:44] darrenj opened #6932 "Whitescreen after project creation"
## Describe the bug

Composer shows a whitescreen after creating a new project based on basic assistant or enterprise assistant template

## Version

1.4.0-nightly.234969

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behaviour:

1. Create new Bot
2. Choose basic ass

[2021-04-14 12:44] gabrielguarisa commented on #6803
Ok! Thanks for the answers. I will follow your suggestions and open a feature request.

[2021-04-14 12:47] gabrielguarisa commented on #6803
I just saw that this issue has already been marked as a feature request. I'm reopening the issue now. I'm sorry for the confusion.

[2021-04-14 13:19] Clooney24 opened #6933 "Add button to translate text resources using external translation service"
It would be helpful to be able to confige the integration of an external translation service (Microsoft Translator, DeepL, Google Translate) to translate text resources  in bot responses and user input sample phrases by just one click primary language in one or many secondary languages.

[2021-04-14 13:29] hibrenda commented on #6893
Sure. hope this can be more clear
- Electron nightly latest
- create a bot based on template (conversation_core new adaptive runtime template)
- start the bot and  test in emulator ( emulator locale is not set)
- luis will not be triggered
- set emulator locale as "en-us"
![image](https://user-images.githubusercontent.com/43408889/114717620-ca877780-9d67-11eb-8898-7c2649e8982a.png)
- the luis can

[2021-04-14 14:09] balyetcait commented on #6648
Hi, @v-kydela, @a-b-r-o-w-n!
Yeah, put the project on hold and missed your messages, sorry.
Updated to the latest build.

Works like a charm, thank you very much!

[2021-04-14 14:09] #6648 closed

[2021-04-14 14:20] clearab opened #6934 "Searching from MyGet feed in package manager throws error"
Steps to repro:

1. Add MyGet as a feed: https://botbuilder.myget.org/F/botbuilder-v4-dotnet-daily/api/v3/index.json
2. Change to your newly added MyGet feed
3. Search for "teams"
4. Observe error

![image](https://user-images.githubusercontent.com/1139814/114726068-e2bcaf80-9cf1-11eb-8ed1-84bf44d892b1.png)

[2021-04-14 14:54] lauren-mills commented on #6763
Would you mind opening a separate issue and including your adaptive card json (with any sensitive data removed)? There are sometimes discrepancies in support between the different channels so I can try to help figure it out.

[2021-04-14 15:32] JaskeeratBedi-cmk opened #6935 "Notifications get hidden when rocket panel is open"
Electron App: v1.4.0-nightly.234518.839bb23
Mac OS
Steps to reproduce

- create new bot
- create new publishing profile > create new resources > complete

The notifications are getting hidden under the rocket panel ( see attached)

Expected behavior is that once user is done with the modal, the rocket panel should close and user should be able to see notifications of their publishing profile being

[2021-04-14 15:37] cwhitten commented on #6932
Did not see the issue on:

[code]

I did see the issue on:

[code]

with the following error in the console

[code]

[2021-04-14 15:45] JaskeeratBedi-cmk opened #6937 "Global notification when provisioning + publishing"
Provisioning & publishing can take longish time. If user navigates to a different page in Composer, they should know that the application is still provisioning or publishing in the background.

![Screen Shot 2021-04-14 at 8 42 08 AM](https://user-images.githubusercontent.com/67944302/114739006-5adca280-9cfd-11eb-9b10-58c834d1b82e.png)

[2021-04-14 15:46] a-b-r-o-w-n opened #6938 "update auth flow for when user edits existing publish profile"
There is an edge case where a user has created multiple publish profiles, each under a different tenant. Right now, the provision dialog fetches all tenants and then gets an ARM token for the tenant in the profile. We should invert this and get the ARM token first and back into the tenant information.

[2021-04-14 16:12] #6647 closed

[2021-04-14 16:18] benbrown commented on #6844
This is done in the `benbrown/migration` branch

[2021-04-14 16:18] #6844 closed

[2021-04-14 16:19] benbrown opened #6939 "Bug: The teaching bubbas don't appear in the enterprise assistant (seems like it takes too long to load and the state is wrong?)"

[2021-04-14 16:19] benbrown opened #6940 "Make the rocket ship panel the same width as the webchat"

[2021-04-14 16:35] cwhitten commented on #6893
I believe the issue exists in the settings file provided with new runtime creation:

[code]

[2021-04-14 16:35] cwhitten commented on #6893
cc @peterinnesmsft

[2021-04-14 16:37] cwhitten commented on #6905
Hello @rvinothrajendran - thank you for the feature request. We'll add this to our backlog for now and seek to prioritize it. It does not sit on our current roadmap.

[2021-04-14 16:39] cwhitten commented on #6909
@scheyal what recognizer type is used in the skill?

[2021-04-14 16:40] cwhitten commented on #6910
@luhan2017 is this part of the scenarios you are working on?

[2021-04-14 16:42] cwhitten commented on #6910
@VanyLaw https://github.com/microsoft/BotFramework-Composer/pull/6640 doesn't clarify if the Orchestrator package is also installed if necessary

[2021-04-14 16:45] cwhitten commented on #6918
@scheyal we don't be fixing bugs in the existing runtime template, but I would encourage you to verify that your scenarios work on the new runtime template