[2020-06-03 20:24] bartbilliet opened #3309 "Allow configuring app settings without opening a bot project"
## Is your feature request related to a problem? Please describe.

The **Settings** > **App Settings** menu, which contains general Composer settings (e.g. editor preferences, nightly build updates, ..) is only available when a bot project is loaded. If no project is loaded, the cog is grayed out. A minor enhancement would be to make this Settings menu also available when no bot project is current

[2020-06-03 22:33] sbacha commented on #3163
Thank you for the clarification.
Yup already raised this as a feature request in PVA. You have access to last user utterance in PVA but only "Fallback" topic, the ask would be to expose it for every topic.

Current workarounds that you can implement to unblock yourself:
Option 1:
You can have PVA extract entities and use these entities as input params to the skill.

Option 2:
Not the best option b

[2020-06-04 00:07] luhan2017 commented on #3248
@bartbilliet , Release 1.0.1 is out, could you please try on that?

[2020-06-04 02:18] xieofxie commented on #3283
I see.. it is here:
![image](https://user-images.githubusercontent.com/2876650/83707493-b1dd0a00-a64c-11ea-8264-215591b4b419.png)

[2020-06-04 02:49] knightmeister commented on #3288
@hibrenda Not really - I would like to be able to use the name exactly without the suffix. Should I raise a feature request?

[2020-06-04 03:03] knightmeister commented on #3286
I appreciate the response - is this documented somewhere? What settings do I need to configure in Composer to use this?

[2020-06-04 03:12] VanyLaw opened #3311 "when lib/bot-deploy update, it can not sync to plugins folder."
## Describe the bug

when lib/bot-deploy update, it can not sync to plugins folder(like azurePublish and azureFunctionsPublish) by running `yarn build` under composer folder.

FYI.
import bot-deploy package in azurePublish by relative path.  `"@bfc/libs/bot-deploy": "../../packages/lib/bot-deploy"`. But it will copy bot-deploy package into node_modules under azurePublish folder in the first time,

[2020-06-04 04:26] luhan2017 commented on #3299
@cxbuilders , so you started a local runtime by a deployed config. could you check the generated folder of your bot?

We are using this pattern to load the luis config file:
luis.settings.{luis.environment}.{luis.authoringRegion}.json

could you check the generated folder of your bot and your settings to see whether they match.

[2020-06-04 04:29] luhan2017 commented on #3300
I also met this issue, just click OK, you can still use the profile you added. @cxbuilders

@VanyLaw , could you help take a look on this?

[2020-06-04 04:53] luhan2017 commented on #3286
Here is an example of the settings:

blobStorage is used to enable TranscriptLoggerMiddleware.
cosmosDb is used to store user and conversation data.
applicationInsights is used to enable the telemetry logger.

I guess you may need to enable the TranscriptLoggerMiddleware or Telemetry logger, Please let me know if you have further question.

{
    "applicationInsights": {
      "InstrumentationKey"

[2020-06-04 04:58] luhan2017 commented on #3288
@knightmeister, Thanks for your feedback, but I don't think we can do this, because there is not only one luis service in one bot in Composer, you could add multiple lu files in multiple dialogs, so we must put the DialogName at the end to differentiate them.

[2020-06-04 05:10] GAURI02X commented on #3160
@benbrown @zidaneymar @cwhitten Hi Team,
Can you please help me with above issue.

[2020-06-04 05:16] cxbuilders commented on #3299
@luhan2017 This is a vanilla bot in the latest version. I created the bot, enabled luis, ran the provisioncomposer.js script, filled in the settings in the appsettings and that's it.

File looks ok:
![image](https://user-images.githubusercontent.com/49873947/83717439-02e00480-a633-11ea-89e9-32936d75b58c.png)
![image](https://user-images.githubusercontent.com/49873947/83717554-463a7300-a633-11ea-89

[2020-06-04 05:23] cxbuilders commented on #3163
@sbacha Thanks for creating the request. Option 1 is not possible for the typical complex entities that the skill extracts, option 2 is not something I think we can ask of our internal clients :)

We'll wait for the utterance to be available as input and keep using the current two actions available.

[2020-06-04 05:36] cxbuilders opened #3312 "Bot Config Settings"
All bots typically have config settings like Api endpoints, passwords etc. It would be nice if those can be set in some kind of bot global properties config. Currently I am setting these in a composer dialog with set properties, which is not ideal.

[2020-06-04 05:37] hibrenda commented on #3304
Could you provide more info ? eg. what error might pop up or something else ?

[2020-06-04 05:42] hibrenda commented on #3301
This should be fixed in latest master . https://github.com/microsoft/BotFramework-Composer/pull/3285

[2020-06-04 06:04] sujeongHeo opened #3313 "Can't publish my bot to azure"
![image](https://user-images.githubusercontent.com/41574104/83719834-e5328f80-a672-11ea-997a-935241e8762e.png)

Hi, I have a trouble with deploy bot.

1. First I tried
`node provisionComposer --subscriptionId=free-trial-subscriptionid --name=test1 --appPassword=password`
also do like below way.
`node provisionComposer.js --subscriptionId=free-trial-subscription_id --name=resource_group_name --appP

[2020-06-04 06:19] knightmeister commented on #3286
@luhan2017 That's awesome, thanks for your help

[2020-06-04 06:30] luhan2017 commented on #3299
@cxbuilders , Oh, I know why this happen, in the deployment process, we are assigning the authored luis resource to the prediction luis service, which binds the endpointKey. So you should missed this part. You can try the following:

1. Use the authoringKey as the endpointKey.
2. kick of a deployment to bind the endpointKey with the luis resource.

[2020-06-04 06:32] VanyLaw commented on #3300
@luhan2017  Sure, I will take a look and fix it.

[2020-06-04 06:33] #3226 closed

[2020-06-04 06:41] cxbuilders opened #3314 "Typing in Language Generation box horribly slow"
Typing something into a send response box is horribly slow. When I type a word it stalls and adds one character around every 4 seconds. This is completely not workable

[2020-06-04 06:43] luhan2017 commented on #3313
@sujeongHeo , thanks for reporting this issue. It seems you can't create an app registration under that tenant id. could you please try this?

1. https://ms.portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Properties, query this url you will see a Directory ID folder, copy the id.
2. add this "--tenantId TheCopiedID" when you call provisionComposer.js

Please let me know if that

[2020-06-04 07:31] hibrenda commented on #3298
Hi @ThoSt81  , the patch release 1.0.1 is available today. you can update and this issue should be resolved.

[2020-06-04 07:48] xieofxie commented on #3297
Due to security issues.

[2020-06-04 07:48] #3297 closed

[2020-06-04 08:04] hibrenda commented on #3314
May related to https://github.com/microsoft/BotFramework-Composer/issues/3295. lg parsing performance issue.

[2020-06-04 08:10] Danieladu commented on #3295
supposed to be fixed by https://github.com/microsoft/botbuilder-dotnet/pull/4021

[2020-06-04 08:32] luhan2017 commented on #3301
@cxbuilders, Could you go to this folder: BotFramework-Composer\Composer\plugins\azurePublish, delete the yarn.lock, and run yarn build again?

#3285 will only take effect after you do the above. we have another issue to track this #3311 .
Sorry for the inconvenience.

[2020-06-04 08:34] Msutapalli commented on #3304
Hello Brenda,

I have the bot built initially and it worked fine. But I opened the bot after some time then I have seen errors in all the prompts as below,

${ TextInput_Prompt_KWS8WO ()}
${ TextInput_Prompt_jjl3ut ()}

Could you please check that.

Thank you.

Manasa Sutapalli
Lead Researcher - MS Cognitive
Phone : (248)-412-0347
Mobile : (850)-081-2097
Email : [ mailto: | msutapalli@miraclesoft.

[2020-06-04 08:36] cxbuilders commented on #3301
@luhan2017 Thanks for the update. I will wait for #3311 to be merged with master.

[2020-06-04 08:43] goergenj opened #3315 "[MCS-DE-GO] KeyVault Integration for Bot Runtime"
All keys and secrets have to be stored in a secure way leveraging Azure KeyVault as a customer requirement. Secret information is not allowed to be stored in unencrypted configuration files.

This is true for at lease all FSI customers in Europe and most other Industries.

KeyVault Integration should be enabled via "appsettings" as boolean plus configuration of the KeyVault URL for the KeyVault to

[2020-06-04 08:46] goergenj opened #3316 "[MCS-DE-GO] KeyVault Integration for Composer and Publishing Plug-In settings"
All keys and secrets have to be stored in a secure way leveraging Azure KeyVault as a customer requirement. Secret information is not allowed to be stored in unencrypted configuration files.

This is true for at lease all FSI customers in Europe and most other Industries.

KeyVault Integration should be enabled via "appsettings" as boolean.

Composer-relevant settings that should be pulled from Ke

[2020-06-04 08:47] ThoSt81 commented on #3298
Thanks! I will test this and let you know if I see the same issue again!

[2020-06-04 08:47] #3298 closed

[2020-06-04 08:53] goergenj opened #3317 "[MCS-DE-GO] Change query to LUIS & QnAMaker within the Bot Runtime to include optional parameters"
1. When sending a query to LUIS we want to be able to control the logging behaviour via the optional LUIS API parameter "log" (boolean). This is relevant for GDPR compliance. We want to turn this on/off via an appsetting.
2. When sending a query to LUIS we want to be able to control which publishing slot in LUIS (Staging or Production) is being used. We want to configure which slot to use via apps

[2020-06-04 08:56] goergenj opened #3318 "[MCS-DE-GO] UI-Plug-Ins should allow adding buttons to the Composer UI for new features"
UI-Plug-Ins should allow adding buttons to the Composer UI for new features.

Currently we need to have additions for:
- Logout of users logged in via AAD Authentication plug-in.
- Lock / Unlock of Bots (required as part of the multi-user setup of a hosted Composer)
- Hide the start bot button
- replace start bot button with our own action / test link

@joaollq @sgellock @benbrown

[2020-06-04 08:59] goergenj opened #3319 "[MCS-DE-GO] Extend Storage Plug-In to support custom control of write permissions on folders"
Extend Storage Plug-In to support custom control of write permissions on folders.

Current project requirement of the customer is to be able to control user access to a Bot via ADD Group.

Small change was impelemented on the Composer core-code to solve this which can be provided for review to include in Composer release or provide alternative solution.

@joaollq @sgellock @benbrown

[2020-06-04 09:13] sujeongHeo commented on #3313
@luhan2017
thank you  for your helpful reply.
Unfortunately it still doesn't work.

![image](https://user-images.githubusercontent.com/41574104/83738171-e8d40f80-a68e-11ea-935e-98ecf54b4b1f.png)

 Isn't there any other way?

Thanks

[2020-06-04 09:21] hibrenda commented on #3304
@Msutapalli  this is a known issue and we have fixed in patch release. you can upgrade to latest version and have a  try.

[2020-06-04 09:30] Msutapalli commented on #3304
Sure, I will seek your help if I have same issue.

Thank you.

Manasa Sutapalli
Lead Researcher - MS Cognitive
Phone : (248)-412-0347
Mobile : (850)-081-2097
Email : [ mailto: | msutapalli@miraclesoft.com ]
		Miracle Software Systems, Inc.
45625 Grand River Avenue
Novi MI(48374) USA
[ https://www.miraclesoft.com/ | www.miraclesoft.com ]
[ https://www.facebook.com/miracle45625/ ] 	[ https://www.lin

[2020-06-04 09:52] luhan2017 commented on #3313
@sujeongHeo ,It seems you have successfully created the app id this time, but you failed in Great resource group step.

Could please try this:

Get the directory id at your subscription page, can then pass it as a param for --tenantId
For example, in this case, you should use microsoft.onmicrosoft.com
![image](https://user-images.githubusercontent.com/32191031/83742369-e8864500-a68b-11ea-99e6-c974

[2020-06-04 10:06] hraz-msft opened #3320 "Error while creating a new publishing profile"
Add the publish profile throws that error:
![image](https://user-images.githubusercontent.com/66222191/83743606-9f21ff80-a663-11ea-9241-199a3f147afb.png)

## Version

![image](https://user-images.githubusercontent.com/66222191/83743686-bb25a100-a663-11ea-87c5-f2e1a5c44fcc.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Wind

[2020-06-04 10:53] hibrenda commented on #3320
https://github.com/microsoft/BotFramework-Composer/issues/3300

[2020-06-04 10:58] hraz-msft commented on #3320
I'm not sure if this is related. But all of my publishes are failed (no matter what profile it is):
![image](https://user-images.githubusercontent.com/66222191/83748798-66862400-a66b-11ea-95a9-c7cf55ff909e.png)

[2020-06-04 11:18] hraz-msft commented on #3320
I will open a separate bug

[2020-06-04 11:18] #3320 closed

[2020-06-04 11:22] hraz-msft opened #3321 "The source completed without providing data to receive"
No matter what publish profile I'm using, I get this error:

## Version

![image](https://user-images.githubusercontent.com/66222191/83750803-84a15380-a66e-11ea-96f2-2604900c6b90.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Edge
- [ ] Firefox
- [ ] Safari

## OS

- [x] Windows
- [ ] macOS
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Generate publish confi

[2020-06-04 11:32] cxbuilders commented on #3299
@luhan2017 Not completely clear. Are you saying I missed something or this is a bug?

[2020-06-04 12:23] GAURI02X commented on #3160
@benbrown @zidaneymar @cwhitten
Hi Team,
This is not working. I created a new project from template (AskingQuestionsSample) from 1.0.1 version. Below is what I get after running the command.
Also, could you please let me know how to fix the project created with 1.0.0 version. Its still showing "user was not found."

C:\GC\Bots\Bot from Composer\AskingQuestionsSample-0\scripts>node provisionCompose

[2020-06-04 12:39] GAURI02X commented on #3160
@benbrown @zidaneymar @cwhitten
Hi Team,
This is not working. I created a new project from template (AskingQuestionsSample) from 1.0.1 version. I still get same error.
Also, could you please let me know how to fix the project created with 1.0.0 version. Its still showing "user was not found."

[2020-06-04 13:00] bartbilliet commented on #3248
@luhan2017 Works fine now. You are great! :relaxed:

[2020-06-04 13:20] #3264 closed

[2020-06-04 13:49] UmaPrelude opened #3323 "File upload from composer to web api"
Hi,

I want to upload the user profile pic from composer to web api.
Please help me to achieve.

Thanks,
UmPrel.

[2020-06-04 14:02] didaskein commented on #3130
Hi,
Also a question linked to the custom Function, Could it be possible to have natively access to the locale of the user inside the code of the function ?

I would like to avoid to add a parameter in the function (not very user friendly ;))

![image](https://user-images.githubusercontent.com/13362276/83766429-b91c0c00-a67c-11ea-8d38-81cdf7db771d.png)

Thank you.

[2020-06-04 14:47] cwhitten commented on #3312
@cxbuilders you are welcome to extend the settings shape with any data you wish, and you can refer to these values in your dialog under the `settings` memory scope.  See https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adaptive-dialog-memory-states?view=azure-bot-service-4.0#settings-scope for documentation.

[2020-06-04 14:53] odkDev commented on #3313
@luhan2017

thank you for your reply,

for which page can I see directory-id?

I again visit the first url that you mentioned, https://ms.portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Properties

but I can't find the letter 'microsoft.microsoft.com'

Regards,

Sujeong

[2020-06-04 14:59] cwhitten commented on #3304
This has been addressed. Please re-open if you continue to see the issue. Thanks!

[2020-06-04 14:59] #3304 closed

[2020-06-04 15:01] cwhitten commented on #3309
@bartbilliet this is known and tracked with the UX Design team. In an upcoming sprint we will be addressing this.

[2020-06-04 15:17] HimajaKRNttData commented on #2344
Thank you @hibrenda for helping with this error. It is resolved now.

[2020-06-04 15:22] a-b-r-o-w-n commented on #3296
@xieofxie We use the `debug` package for this. When running Composer as a web app, set `DEBUG=composer*` environment variable before starting the app. You will start to see much more output in the console.

Let me know if that is sufficient for you.

[2020-06-04 15:47] GAURI02X opened #3324 ""User was not found" While following publish steps after Azure login"
## Subject error with 1.0.0 & 1.0.1 version. I used 1.0.0 version and on first step after Azure login with Hotmail Id, got subject error. Same happened after today's update to 1.0.1
node provisionComposer.js --subscriptionId=XXXXXXXXXXXX --name=XXXX --appPassword=XXXXXXX --environment=Dev

I created  a sample project from template but on first publish step again got same error.

## Version

Compos

[2020-06-04 15:57] zxyanliu commented on #2344
@hibrenda is there anything I should update in the [doc](https://docs.microsoft.com/en-us/composer/how-to-add-qna-to-bot)?

[2020-06-04 16:09] zxyanliu commented on #3324
Hi @GAURI02X I was wondering if you followed the steps in this [doc](https://docs.microsoft.com/en-us/composer/how-to-publish-bot)? Thanks.

[2020-06-04 16:15] #3182 closed

[2020-06-04 16:18] zxyanliu commented on #3268
The content is updated and will go live soon. Thanks again for your feedback.

[2020-06-04 16:18] #3268 closed

[2020-06-04 16:42] Todd442 opened #3325 "QnA Maker AND Dialog Interruptions"
I'm working on a project to the US Labor department and we have a dialog focused on job search with works fine.

We added QnA to address questions on Unemployment and it works...

BUT if the user starts the Job Search dialog and is in the process of answering questions when we have "**Interruptions" set to true.** The bot fails to break out of the job search dialog, if the user changes their mind

[2020-06-04 16:42] #3213 closed

[2020-06-04 16:55] zxyanliu commented on #3175
Here is a list of issue related to terms, I just group them here:

- [ ] https://github.com/microsoft/BotFramework-Composer/issues/1938
- [ ] https://github.com/microsoft/BotFramework-Composer/issues/3262
- [ ] https://github.com/microsoft/BotFramework-Composer/issues/3177
- [ ] https://github.com/microsoft/BotFramework-Composer/issues/2978
- [ ] https://github.com/microsoft/BotFramework-Composer/

[2020-06-04 17:12] zxyanliu commented on #1938
Please see https://github.com/microsoft/BotFramework-Composer/issues/3175.

[2020-06-04 17:12] #1938 closed

[2020-06-04 17:14] zxyanliu commented on #3177
Thanks for your valuable feedback. Please see https://github.com/microsoft/BotFramework-Composer/issues/3175.

[2020-06-04 17:14] #3177 closed

[2020-06-04 17:15] zxyanliu commented on #2978
Thanks for your valuable feedback. Please see https://github.com/microsoft/BotFramework-Composer/issues/3175.

[2020-06-04 17:15] #2978 closed

[2020-06-04 17:15] zxyanliu commented on #3174
Thanks for your valuable feedback. Please see https://github.com/microsoft/BotFramework-Composer/issues/3175.

[2020-06-04 17:16] zxyanliu commented on #2977
Thanks for your valuable feedback. Please see https://github.com/microsoft/BotFramework-Composer/issues/3175.

[2020-06-04 17:16] #2977 closed

[2020-06-04 17:16] zxyanliu commented on #2976
Thanks for your valuable feedback. Please see https://github.com/microsoft/BotFramework-Composer/issues/3175.

[2020-06-04 17:16] #2976 closed

[2020-06-04 17:49] GAURI02X commented on #3324
@zxyanliu - As I mentioned that error is on step 3, which is kind of first step because if you see my snapshot, i opened the command prompt pointing to correct location and then it was just npm install.
Not sure if problem is related to tanent id but could you please check if on any machine there are two azure account - one personal (hotmail id) & other organization's . Org azure account has nothi

[2020-06-04 17:58] zxyanliu commented on #3324
@GAURI02X ok. So you have two Azure accounts: a personal and a org's account. You tried with your personal azure account and failed, and you did not get the error if using your org's Azure account?

[2020-06-04 19:07] GAURI02X commented on #3324
I am not supposed to use that account till we have POC ready. Can't try with that account but its there on machine and it shows when I do azure login with code provided in command prompt. Could you please help me with workaround or solution. My POC is stuck due to this.

[2020-06-04 21:34] cgarcia-msft opened #3328 "Need visibility into the publishing logs and errors"
## Describe the bug

When publishing fails, there's very little information about the error available to the user, which makes problems very hard to debug. E.g.:

1. Create a bot with an ejected runtime and a custom action
2. In the custom action reference and external dll outside of the runtime folder (e.g. ..\..\mydll.dll)
3. Try publishing

Result: Publish will fail but the only error will be t

[2020-06-04 21:43] #2992 closed

[2020-06-04 22:15] vishwacsena commented on #3325
@Todd442 yes. this is known. we expect to have deeper integration with QnA including ability to have QnA as interruptions in an upcoming release. For now, only `intent` based interruptions are possible. A short term workaround for you would be to add a few `questions` to an `OnIntent` trigger and add a `QnA` action to it.

[2020-06-04 22:29] vishwacsena opened #3330 "Cannot pick a folder that has a csproj for 'open', 'new' or 'saveas' locations"
## Describe the bug

I have a bunch of folders on my machine and I'd like composer to save the bot to a sub-folder within a root folder that has a csproj file either at at folder level or within any arbitrary sub-folder under that folder. I cannot do this in composer.

e.g.
|--rootFolder
|----composerDialogs //intended location to save the composer bot
|----rootFolder.csproj

## Version

Release:

[2020-06-04 22:44] vishwacsena opened #3331 "LU editors auto-suggest, auto-complete not working in 1.0.1"
## Describe the bug

Auto-suggest, auto-complete features in the inline LU editor does not work in 1.0.1 version.

## Version

1.0.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to any dialog
2. Set the recognizer to LUIS
3. Add an `OnIntent` trigg

[2020-06-05 01:19] #3248 closed

[2020-06-05 02:02] VanyLaw commented on #3321
Hi @hraz-msft, can you check you log by clicking the log button to see which step went wrong?

[2020-06-05 02:17] luhan2017 commented on #3313
@odkDev @sujeongHeo are you the same person :)
It's in your subscription's home page, see below as an example:

![image](https://user-images.githubusercontent.com/32191031/83829575-c1745580-a715-11ea-8a84-02cdc5ebd074.png)

[2020-06-05 02:19] cwhitten commented on #3325
Closing this as a answered question. Support for what you are looking for should come into Composer in the coming months.

[2020-06-05 02:19] #3325 closed

[2020-06-05 02:35] zhixzhan commented on #3331
It's my regression from #3270 , will fix soon.

[2020-06-05 02:36] luhan2017 commented on #3321
@hraz-msft , could you start local and see whether it works. I suspect this is a dotnet build issue.
I searched and found similar issue here. could you double check you dotnet version and visual studio version?
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/issues/43

[2020-06-05 02:41] xieofxie commented on #3296
I use powershell in windows and `$env:DEBUG = 'composer*'` works!

[2020-06-05 02:41] #3296 closed

[2020-06-05 02:51] xieofxie opened #3333 "improve skill manifest editing experience"
## Is your feature request related to a problem? Please describe.

 I'm always frustrated when skill manifest editing experience needs improvements.

## Describe the solution you'd like

* This section should be included in the default template for being used as a skill (some automation of msAppId would be better)
[code]
* Provide a place for displaying and copying the full url for manifest like h

[2020-06-05 03:05] sujeongHeo commented on #3313
Yeah, the same person:)

Well I tried that way but also not worked on me..

the command line  i tried is below two things

1.
`node provisionComposer.js --subscriptionId=here_i_put_that_subscription_id --name=test1 --appPassword=password_over_16_cahracters --tenantId=here_also_i_put_the_subscription_id
`
And then it gave me a error.
![image](https://user-images.githubusercontent.com/41574104/83832

[2020-06-05 03:22] luhan2017 commented on #3313
@sujeongHeo , could you try this:

node provisionComposer.js --subscriptionId=here_i_put_that_subscription_id --name=test1 --appPassword=password_over_16_cahracters --tenantId=**The_tenantID_under_your_subscription**

You can go to azure portal.
Select the subscription.
You can see the tenantID in the main page.
Note, the ID is "microsoft.onmicrosoft.com"
![image](https://user-images.githubusercon

[2020-06-05 03:24] yeze322 commented on #3263
Link our previous discussion in #510. @cwhitten what's your opinion on this feature?

[2020-06-05 03:25] liweitian commented on #3260
It is also required in #3302, I am working on it.

[2020-06-05 03:27] sujeongHeo opened #3335 "Hi, I make a MapkeywordBot by using BotFramework-Composer, then how can i run this in direct to Bot emulator, not throughing Bot Composer?"
Hi,
![image](https://user-images.githubusercontent.com/41574104/83833632-5cc1f680-a727-11ea-8856-ca66f52f9ee9.png)

I make a bot through Bot Composer.
But  i want to know the way that how to run this bot,
directly to Bot Emulator using cmd?

Here is no index.js file or package.json file.

Before publish I really want to run this file on locally

I want to run bot in the way  like type 'yarn start'

[2020-06-05 03:45] sujeongHeo commented on #3313
Ok, I tried But not success,,

Here is my azure portal subscription page, Though i scrolled down, i can't find the 'tenantId'

![image](https://user-images.githubusercontent.com/41574104/83834574-91cf4880-a729-11ea-9d2b-1403131486cf.png)

So i get tenantId in **command line** like this.
![image](https://user-images.githubusercontent.com/41574104/83834745-128e4480-a72a-11ea-9e6c-34841d00052b.png)

[2020-06-05 04:25] luhan2017 commented on #3328
@cgarcia-msft can this meet your requirement?

1. select a deployment item
2. click See Log

![image](https://user-images.githubusercontent.com/32191031/83836935-9e52a180-a727-11ea-9458-a3ef2926e886.png)

[2020-06-05 04:28] luhan2017 commented on #3313
@sujeongHeo , the tenant id under your subscription should be just the
Directory: Default Directory(YOURTENENTID)

[2020-06-05 06:05] sujeongHeo commented on #3313
@luhan2017  Thanks, I'll try and let you know!

[2020-06-05 06:20] sujeongHeo commented on #3313
@luhan2017
I really appreciate your reply, It looks like it's working!

![image](https://user-images.githubusercontent.com/41574104/83843333-bc2c0080-a73f-11ea-8456-c92bae8fe344.png)

Though it takes a little time for deploy, but i believe it works.

If other problem occurs, then i'll ask you again.
Thanks!

Regards,
sujeong

[2020-06-05 06:27] luhan2017 commented on #2300
@cwhitten , @boydc2014  Do we still support Docker scenario in Composer?

[2020-06-05 06:52] luhan2017 commented on #3313
@sujeongHeo , Great, thank you very much for working with me resolve this issue patiently.

@zidaneymar , thanks to Sujeong,  I found that we can improve our way of getting tenantid.
We can use this API: https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/get
This is to get the tenantId of the subscription.

[2020-06-05 06:52] sujeongHeo commented on #3313
Hi,
@luhan2017

Well I failed once,
The error says i already registered bot.
 but this is my first time to deploying bot.
![image](https://user-images.githubusercontent.com/41574104/83845585-2cd51c00-a744-11ea-856a-02364a1289a9.png)

so i' change the name of luis app name and redeploy now

![image](https://user-images.githubusercontent.com/41574104/83845746-71f94e00-a744-11ea-9e55-c5d2b1c2a70d.png

[2020-06-05 06:53] luhan2017 commented on #3313
@sujeongHeo it seems you have a bot created before duplicated with this one. could you change the name and try again?

[2020-06-05 07:54] sujeongHeo commented on #3313
I finally success deploy bot :)

![image](https://user-images.githubusercontent.com/41574104/83851237-04055480-a74d-11ea-997b-ea847f850f93.png)

Thank you so much, we've worked it out!

 Regards,
sujeong

[2020-06-05 08:05] luhan2017 commented on #3335
You can eject you runtime to your bot folder, and "dotnet run --project azurewebapp" under the runtime folder. We only support C# runtime for now, JS runtime is in plan.

![image](https://user-images.githubusercontent.com/32191031/83852383-47a89000-a746-11ea-9951-d1c1938d7bc5.png)

[2020-06-05 08:10] luhan2017 commented on #3324
@GAURI02X Please refer to this issue #3313

Could you try this:
Add this when you call the provisionComposer.js --tenantId=The_tenantID_under_your_subscription**

You can go to azure portal.
Select the subscription.
You can see the tenantID in the main page.
Directory: Name(YOURTENENTID)

[2020-06-05 08:23] luhan2017 commented on #3299
@cxbuilders I mean you missed the deployment step, you can't just do provision and use the settings to start a local bot, you missed a luis endpoint assignment process which is in the deployment process.

[2020-06-05 08:28] cxbuilders commented on #3299
@luhan2017 Yeah but the provisionComposer.js script is the deployment script, right? Which I did run as mentioned

[2020-06-05 08:32] luhan2017 commented on #3323
@UmaPrelude  Will the AttachmentInput meet your requirement? Here is the detail:

![image](https://user-images.githubusercontent.com/32191031/83854959-fe5a3f80-a749-11ea-8421-c8128f9bd36d.png)

![image](https://user-images.githubusercontent.com/32191031/83855020-129e3c80-a74a-11ea-8c88-430c5b1c94ec.png)

you can refer the contentUrl in adaptive card.

[2020-06-05 08:40] sujeongHeo commented on #3335
Thank you for your response!

On Fri, Jun 5, 2020 at 5:05 PM Lu Han <notifications@github.com> wrote:

[2020-06-05 08:54] luhan2017 commented on #3299
No, you should do deployment like this:

1. Click Add new profile, paste your provision result in the publish Configuration

![image](https://user-images.githubusercontent.com/32191031/83856965-e932e000-a74c-11ea-80b4-78e1b6a9c072.png)

2. Click publish to selected profile, select OK, then you are kicking off a deployment.

[2020-06-05 09:03] sujeongHeo opened #3338 "Though I refer #3320 and #3300 i can't add my publishing profile"
## Describe the bug
Though I refer  #3320 and  #3300  i can't add my publishing profile

## Version
BotFramework-Composer-1.0.1-linux-x86_64.AppImage

## Browser

- [ ] Electron distribution
- [ O ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [O] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

First way
1. Generate publish config with the provisionCo

[2020-06-05 09:20] hraz-msft commented on #3321
Nothing interesting in the log...

![image](https://user-images.githubusercontent.com/66222191/83859610-d73e4680-a726-11ea-9f42-10a7e9094e17.png)

[2020-06-05 09:21] UmaPrelude commented on #3323
Thanks for your response @luhan2017.
I wish to know how to upload the attachment to web api.
I mean what data type needs to be used in web api to receive this attachment, say i am uploading a png/pdf document. Sorry if my question is very basic.

![image](https://user-images.githubusercontent.com/65938026/83859301-589fd400-a73b-11ea-9b9d-790b86223a65.png)

[2020-06-05 09:28] hraz-msft commented on #3321
It my first time I'm using the Composer, so I not sure how to start local...

My dotnet version: 3.1.201
My visual studio version: 16.6.1 (visual studio 2019)

What are the required versions for Composer?

[2020-06-05 10:18] mudasar commented on #3299
I am having a similar error. It was working fine a couple of days ago but now when trying to run the bot on local with Luis integration it is returning this strange error without any further help that which kind of authentication is failed.

[2020-06-05 13:32] GAURI02X commented on #3324
Thanks @zxyanliu
Worked with both 1.0.1 & 1.0.0 but next it fails with below error. I have tried various funky names (ike GC-InterruptionSampleFC) for the project (same should be BOT name) but somehow getting this error for all 3 bots from composer. Can you please help on what to change to get this unique.

{
  "error": {
    "code": "InvalidBotData",
    "message": "Bot is not valid. Errors: The

[2020-06-05 15:00] Todd442 opened #3339 "CI/CD Approach"
We've gone through the effort to enable team development using the Bot Composer. Our solution now uses a Git repo to store the Bot artifacts and things are working pretty well. (There are a couple things we've had to address with multi-user but that's a different post).

The question is now. How best to automate the build and deployment of these artifacts in CI/CD pipelines.

Do we have a script o

[2020-06-05 16:01] zxyanliu commented on #3338
Hi @sujeongHeo, did you have a chance to read this [doc](https://docs.microsoft.com/en-us/composer/how-to-publish-bot) about how to publish a bot to Azure?

[2020-06-05 16:31] #3335 closed

[2020-06-05 17:52] cxbuilders commented on #3339
@Todd442 #3170
We have a pipeline developed that builds and releases the composer bot all within Azure DevOps with currently the only exception the publishing of Luis. If you're interested let me know and maybe we can work together on this.

[2020-06-05 19:12] cxbuilders opened #3340 "Variables / Expressions are not parsed in JSOn object"
When using a variable or expression in a JSON object it does not get parsed.
![image](https://user-images.githubusercontent.com/49873947/83914288-42146f80-a771-11ea-94d4-4eb975083d59.png)
![image](https://user-images.githubusercontent.com/49873947/83914298-4771ba00-a771-11ea-8127-03dbc4970852.png)
![image](https://user-images.githubusercontent.com/49873947/83914311-4c366e00-a771-11ea-8cb0-f06cc20c

[2020-06-05 23:24] cgarcia-msft commented on #3328
Unfortunately, no. I did open the log when the deployment failed, but there were no details. The error I got was that the command “dotnet publish <long temp paths and options>” failed.

What I really needed to debug this was the output of that “dotnet publish” command. I was able to see this running Composer from source via “yarn startall”.

Thanks.

From: Lu Han <notifications@github.com>
Sent: T

[2020-06-06 09:24] HesselWellema commented on #1682
Hi Team,

Any update on this? I would like to start building my projects with composer but need  to be able to add existing functionality (in Node).

[2020-06-06 12:39] bartbilliet opened #3343 "Docs: Schemas folder missing for adding custom actions"
## Describe the bug

The [documentation on Custom Actions](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#update-the-schema-file) says in step 5:

In version v1.0.1 of the Bot Framework Composer, after ejecting the runtime, the **Schemas** folder is missing in both:
- bot/runtime/**azurewebapp**
- bot/runtime/**azurefunctions**

It appears the schema files & corresponding scrip

[2020-06-06 14:30] arafattehsin commented on #3338
Hi @zxyanliu - I have the similar problem. I went through the docs!
![image](https://user-images.githubusercontent.com/16351038/83946744-0acbbe80-a856-11ea-98b4-7e066ea61575.png)

[2020-06-06 14:34] arafattehsin commented on #3338
Just to add more information. While I was adding my details; I also noticed some required values which is neither mentioned in the docs (https://docs.microsoft.com/en-us/composer/how-to-publish-bot) nor we are aware what to put in that (except for Subscription ID)

![image](https://user-images.githubusercontent.com/16351038/83946816-76ae2700-a856-11ea-882e-2a9c875a5956.png)

[2020-06-06 22:22] zxyanliu commented on #3338
@sujeongHeo and @arafattehsin Thanks for reporting the issue. We will look into the issue and update the docs soon if there is anything missing since we last tested and wrote the publish process.

[2020-06-06 23:46] arafattehsin commented on #3338
@zxyanliu Can you please update as what should I put in these values?

`{
"subscriptionID": "subscription ID of Azure",
"publishName": "",
"provision": ""
"name":""
}`

[2020-06-07 00:41] sujeongHeo commented on #3338
@zxyanliu  Yeah, I also went through docs,
 Ok, I'll wait for docs be updated :)

[2020-06-07 13:40] HesselWellema opened #3345 "Qnamaker and Luis sample: answer with prompts breaks business logic"
The idea of this sample is to first try and understand the intent of a user (Luis) and if bot succesfull find an answer in a connected knowledgebase.
As soon as the answer from qnamaker containts prompts, Luis seems not to be consulted for the next user input.

How to reproduce:
Create a qna answerpair with prompts
Create a qna answerpair with 'help' in it.
Start Bot
type help -> the intent in Lui

[2020-06-07 13:44] HesselWellema opened #3346 "Connect to QnAKnowledgebase: impossible to change 'Threshold'"
Steps to reproduce

Open QnAMaker & LUIS Sample
Open Unknown intent  trigger
Open Connect to QnA Knowledge base
Try and change threshold from 0.3 in another value. You will not succeed

[2020-06-07 13:47] hraz-msft commented on #3321
It seems that my access token is the root cause of the issue. I tried another access token (of my team member) and it was succeeded, but mine access token fails:

![image](https://user-images.githubusercontent.com/66222191/83970388-2a0e2e80-a8de-11ea-9497-51cc7f4f5569.png)

4:42p - My **personal** access token
4:38pm - My **team member** access token

Any idea why is that??

(I've created the reso

[2020-06-07 17:11] zxyanliu commented on #3338
FYI. I just tested publishing a bot to Azure Web App and succeeded.

Here is a gif for your reference:

![publish](https://user-images.githubusercontent.com/32497439/83975152-20b59f80-a8a7-11ea-9e27-2d295fd2b159.gif)

Thanks!

[2020-06-08 03:09] luhan2017 commented on #3323
@UmaPrelude Hi, you mean you want use httpRequest action to update a file to a web api?
We don't support this in httpRequest action yet. Could you please just use the AttatchmentInput and try to post the "cotentUrl" to your web api?

[2020-06-08 03:16] luhan2017 commented on #3346
@HesselWellema
There are two ways to do this:
1. You can try to click the arrows in the right side when the type is number:
![image](https://user-images.githubusercontent.com/32191031/83989534-47dca180-a979-11ea-80bc-e8d640bb161e.png)

2. update it to expression and you can write the expression as following
![image](https://user-images.githubusercontent.com/32191031/83989579-6e024180-a979-11ea-802

[2020-06-08 04:54] zxyanliu commented on #3338
@luhan2017 do you know what I should update in the doc for these?

`{
"subscriptionID": "subscription ID of Azure",
"publishName": "",
"provision": "",
"name":""
}`

[2020-06-08 05:25] zidaneymar commented on #3246
@hibrenda Hi Brenda, I think this should be a botbuilder facebook channel issue and should be transferred to botbuilder dotnet sdk.

[2020-06-08 05:27] zxyanliu commented on #3343
@bartbilliet I just reproduced this issue. Thanks for reporting.
@luhan2017 Please let me know if there anything I should update in the [doc](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#update-the-schema-file).

[2020-06-08 06:40] HesselWellema commented on #3346
Tnx. That helped! Don't know why I missed those arrows.

[2020-06-08 06:40] #3346 closed

[2020-06-08 07:21] zidaneymar commented on #3324
Hi @GAURI02X , maybe you should add a unique identifier to your bot name. Have you solved this problem?

[2020-06-08 07:37] boydc2014 opened #3348 "Multi-language tech spec"
MultiLanguage Tech Spec

## RoadMap
- [] Stage1: lg, lu multiLanguage authoring
- [] Stage2: Qna multiLanguge authoring
- [] Stage3(P2): adavanced features like translator

List out some open questions to be decided

## Data persistence

Current bot structure already setup a convention for locale-specific language assets to save on disk. The open question is about how to save the settings: how man

[2020-06-08 07:56] hibrenda commented on #3345
@HesselWellema If I understand correctly, you want luis to be recognized but not the QnA answerpair even if the 'help' includes in the QnA answerpaire.

We do plan to support this scenario in upcoming release in composer.

[2020-06-08 08:01] ashish315 commented on #2093
As checked the design of the page is changed! So, HCL is closing the issue.

![image](https://user-images.githubusercontent.com/60913131/84006431-5a140b00-a98c-11ea-810e-7f310961ec22.png)

[2020-06-08 08:11] #2093 closed

[2020-06-08 09:10] hraz-msft commented on #3321
I have another update: I've tried to see the logs when I run composer locally, and I saw that Luis is the root source of the issue. When I provision the bot resources with `--createLuisResource false --createLuisAuthoringResource false` the publish succeeded.

<details>
  <summary>Click here to expand the logs (with Luis)</summary>

[code]
</details>

[2020-06-08 09:53] arafattehsin opened #3349 "Composer gets stuck at the blank screen when opening up my existing Bot"
## Describe the bug

Till yesterday, I was using one of my bots and even did a little showcase during my talk at the Microsoft Reactor. Today, when I tried to open it up, it gave me this

![image](https://user-images.githubusercontent.com/16351038/84016934-55b61500-a9c1-11ea-94ce-c50dcaa81b16.png)

Upon Looking at the Developer Tools, I got this.

![image](https://user-images.githubusercontent.com

[2020-06-08 10:12] arafattehsin commented on #3349
Just to add that I just downloaded the nightly build as well and I get the similar response.

![image](https://user-images.githubusercontent.com/16351038/84019219-543a1c00-a9c4-11ea-8006-709c45cecbf2.png)

[2020-06-08 10:15] HesselWellema commented on #3345
Exactly. First Luis needs to be recognized. If that fails, QnaMaker needs to be recognized.

[2020-06-08 10:25] ashish315 commented on #2015
As checked the issue is resolved so, closing the issue.

[2020-06-08 10:25] #2015 closed

[2020-06-08 10:35] tschnoelzer commented on #2858
For me I just had to add my tenantId to the deploy URL as a parameter --tenantId=xxx

Got the ID from @luhan2017 advice in this thread.

[2020-06-08 10:39] madbeher opened #3350 "How to display timestamp"
how to display the dialog conversession start and end timestamp in composer.

[2020-06-08 11:23] ashish315 commented on #2021
As checked the issue is resolved so HCL is closing the issue.

[2020-06-08 11:23] #2021 closed

[2020-06-08 11:34] ashish315 commented on #2031
As checked on the below environment, still we are not able to select multiple nodes with keyboard.

**Test Environment**
Browser: Microsoft Edge Canary Version: 85.0.531.1 (Official build)
OS build: 2004 (19635.1)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequisite Here**](https://github.com/microsoft/BotFramework-Composer)
Master folder downlo

[2020-06-08 11:58] arafattehsin commented on #3338
Just to update the team that my issue is not about primarily creating / provisioning the resources from the script. My issue is that I already have the below resources and I want to what should I put in which tag? I've already created.

1. Bot Channel Registration
2. Web App

So the question is, how do I map my bot using Composer to this? The manifest should have some good description.

![image](h

[2020-06-08 12:10] arafattehsin commented on #3156
It works great! Except.. there's something I'd still love to see. If the Bot Framework Composer is running and I click on *check for updates* (being a non Administrator), I still get the above error. However, if my composer is the most updated one then it does not show any pop up (even the successful one).

Happy to close this issue if you want to keep it separate.

[2020-06-08 12:18] ashish315 commented on #2033
As checked now the narrator announces the name of the control and will accessible with up/down key so HCL is closing the issue.

[2020-06-08 12:18] #2033 closed

[2020-06-08 12:41] ashish315 commented on #2122
As checked still the issue is not resolved.

**Test Environment**
Browser: Microsoft Edge Canary Version: 85.0.531.1 (Official build)
OS build: 2004 (19635.1)
Screen Reader: Narrator
URL: [Bot Framework Composer](http://localhost:3000/dialogs/Main)
[**Prerequisite Here**](https://github.com/microsoft/BotFramework-Composer)
Master folder downloaded on 05-06-2020

[2020-06-08 12:44] ashish315 commented on #2080
@cwhitten As checked the only one heading i.e. chart name is defined as heading still the property pane didn't have any headings.

[2020-06-08 12:54] ashish315 commented on #2127
As checked the issue is resolved so HCL is closing the issue.

[2020-06-08 12:54] #2127 closed

[2020-06-08 13:00] ashish315 commented on #2538
@beyackle Agree with you. So closing the issue.

[2020-06-08 13:00] #2538 closed

[2020-06-08 15:26] hibrenda commented on #3338
@VanyLaw @zidaneymar Could you help to provide more info ?

[2020-06-08 15:42] hibrenda commented on #3333
similar requirements has already roll up .  @sangwoohaan @mareekuh for awareness.

As a skill Bot for skill configuration
-	P0: endpointURl change (not direct as it exists in manifest editor) but this need to be updated frequently for localhost testing ("endpointUrl" : http://localhost:3979/api/messages )
-	P0: manifest path could be easily referenced and copied to consumer bot
-	P1: manifest CRUD

[2020-06-08 15:47] cwhitten commented on #3349
@arafattehsin are the able to send the bot assets to us?

[2020-06-08 15:58] hibrenda commented on #3330
May need more investigation as I hit this issue as well. no .csproj in my Desktop directory but "Desktop" is recognized as a Bot.

[2020-06-08 16:06] joaollq opened #3351 "[MCS-DE-GO] - Make local publishing an Async Operation"
When publishing locally from the Composer the application freezes until the dotnet build + dotnet run flow is completed.

There are several problems with this approach, namely:
  - When the dotnet build takes longer >1 min (due to the nuget restore operation) the UI times out and gives an error stating that there was a problem with the runtime. Actually the process is still running server side.
 -

[2020-06-08 16:12] tonyanziano commented on #3156
Ok so the original issue has been solved, but you are saying that if you explicitly check for updates using **"Help" -> "Check for updates"** you are not receiving any feedback via a dialog?

If you have the "Auto update" setting toggled in the App Settings page then this is the expected behavior.

![image](https://user-images.githubusercontent.com/3452012/84054235-f24bc900-a967-11ea-8a38-4154cb5c

[2020-06-08 17:23] Trubzzz opened #3352 "Entity Extraction/Validation in Bot Composer"
![ComposerIssueImg](https://user-images.githubusercontent.com/64170617/84059103-ad339100-a97f-11ea-891d-f295dabb18b9.png)

I have a composer text input task with the following settings. I'm making a bot testing the capabilities of Luis integrations with a bot. The issue I'm facing is not the entity recognition itself; rather the entity validation on the input task for the entity. I only notice thi

[2020-06-08 19:24] #3331 closed

[2020-06-08 20:18] beyackle commented on #2122
Okay. Taking another look at this so we can finally resolve it (although it's marked A11yUsable, so this might end up as a "won't fix" in the end).

[2020-06-08 20:24] #3144 closed

[2020-06-08 20:48] beyackle commented on #2122
@ashish315 This is a problem with Fluent's TextField component, not with Composer. See the examples at https://developer.microsoft.com/en-us/fluentui#/controls/web/textfield - the "With placeholder" field also gets its placeholder ("Please enter text here") read twice. We import TextField as-is.

[2020-06-08 21:01] beyackle commented on #2122
I've opened an issue in Fluent's repo about this. https://github.com/microsoft/fluentui/issues/13515

[2020-06-08 21:49] mareekuh commented on #3333
Can we please combine this effort with getting started on the asset library. This allows us to scale and remain in sync with PVA.
We can show status and properties in the right panel, which is consistent with our interaction model.

[2020-06-08 21:54] mareekuh commented on #3252
Agreed - we need lu testing, better integrated with the product. I have some designs for this but they're older.

[2020-06-08 21:56] mareekuh commented on #3214
Edit on click should allow the user to edit directly in the list view but not jump to the Editor.
@hibrenda

[2020-06-08 21:58] mareekuh commented on #3106
Yes please add this to the properties pane for Skills

https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=1174%3A823

[2020-06-08 21:58] mareekuh commented on #3086
Could you add some scenarios?

[2020-06-08 22:00] mareekuh commented on #2375
@sangwoohaan  and @DesignPolice  - should we make GOto a special node or have an indicator (check PVA)?

[2020-06-08 22:02] mareekuh commented on #2044
@sangwoohaan

[2020-06-08 22:05] mareekuh commented on #3309
as part of this, could we move the settings gear icon to the bottom of the left menu pane, per Fluent guidelines? And maybe include 'about' in here also.

[2020-06-08 22:21] mareekuh opened #3354 "Create new from Sample needs OK button"
Go to Composer
Click new bot
Wizard comes up -> Select Echo as sample
Click next
Define bot title etc
Notice that button says 'next'

Should be 'OK' It closes the wizard.

![Screen Shot 2020-06-08 at 3 19 10 PM](https://user-images.githubusercontent.com/48503434/84085984-a7e43f80-a99b-11ea-893a-f86e43a5191f.png)

---

Note - this wizard page is the same for creating a bot and adding a new dialog.

[2020-06-08 22:29] mareekuh opened #3355 "Skill Page design"
https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=1174%3A823

[2020-06-08 23:14] mareekuh opened #3356 "Need to do a pass at toolbar menus and buttons: consistent, context sensitive"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2020-06-09 00:29] arafattehsin commented on #3156
This is 100% correct. However, as you mentioned about the UX part. As a user, I will love to see a prompt even if I have setup the auto update option to true.

Secondly, as I mentioned earlier that if my Composer is not updated to the latest item, it shows me a dialog with the error I reported earlier in my issue.

[2020-06-09 00:37] knightmeister commented on #3288
Thanks for the responses guys - makes sense.

[2020-06-09 00:42] tonyanziano opened #3357 "Improve Auto Update UX when Explicitly Checking"
## Is your feature request related to a problem? Please describe.

In issue #3156, one of our users said that they would like to see feedback -- like the dialog prompts that show when checking for updates **without** the "Auto update" setting checked -- when explicitly checking for updates using the "Help -> Check for updates" menu item.

## Describe the solution you'd like

Show update feedback v

[2020-06-09 00:43] tonyanziano commented on #3156
Hi @arafattehsin ,

I'm going to go ahead and close this issue then. I've created a separate issue that will track the proposal to show feedback when explicitly checking for updates using the "Help -> Check for updates" menu item:

https://github.com/microsoft/BotFramework-Composer/issues/3357

[2020-06-09 00:43] #3156 closed

[2020-06-09 00:58] arafattehsin commented on #3349
Thanks @cwhitten I managed to fix it by removing one of the line from my .dialog file. Happy to close this ticket right now and will keep an eye if anything happens again, I will take a screenshot of it. The line that was removed from the dialog was at the end, right below this:

![image](https://user-images.githubusercontent.com/16351038/84094395-124ebb80-aa40-11ea-82ca-dfe25e3edfed.png)

}

[2020-06-09 00:58] #3349 closed

[2020-06-09 02:17] xieofxie commented on #3333
Syncing with PVA is great. For the examples I mentioned, most of the lines are actions and definitions for PVA actions. It will be great if we can leverage them like better definition editing experience, tips for definition when creating action etc.

[2020-06-09 06:23] rryan738 opened #3358 "Issue Starting Bot - Getting .NET SDK error each Time"
Hi There I tried to install bot framework composer win setup.exe on my windows 8.1 64 bit laptop. It installs fine. I have installed bot framework emulator and Visual Studio 16.5 as well. When I create new project and try to start Bot I get Install Microsoft.Net Core SDK, so I went to the link and installed it.I did some  dotnet commands at the cmd to verify it is installed but each time i get sam

[2020-06-09 07:14] liweitian commented on #3330
checked on @hibrenda PC.
**private isBotFolder = async (storage: IFileStorage, path: string) => {
    // locate new structure bot:
    const children = await storage.readDir(path);
    const dialogFile = /.+(.)dialog/;
    const isNewBot = children.some((name) => dialogFile.test(name));
    // locate old structire bot: Main.dialog
    const mainPath = Path.join(path, 'Main', 'Main.dialog');
    co

[2020-06-09 07:14] hibrenda commented on #3350
You can reference the prebuilt funciton https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#date-and-time-functions  and use utcNow() in Greeting (conversationUpdate activity)

[2020-06-09 07:30] boydc2014 commented on #3330
This logic make sense to me, perhaps we can remove the old compatible behavior for main/main.dialog. But i don't understand why in Vishwac or Breanda's PC, a certain folder is identified as bot, because there seems to be no *.dialog at top level and also no main/main.dialog, right? am i missing something?

[2020-06-09 07:35] boydc2014 commented on #3330
Also @vishwacsena , looks like you are navigting in the wrong folder, in the left view you are navigating at c:\repos\botbuilder-dotnet, in the right view, you are navigating at c:\repos\botbuilder-samples\samples.

I think if your c:\repos\botbuilder-dotnet\samples do have a *.dialog,  the logic is expected for now.

Take off bug, and add enhancement for better checking, we don't have a better wa

[2020-06-09 08:39] luhan2017 commented on #3343
@bartbilliet it was moved to the botfolder/schemas folder. For now, you can just run updateSchema command under the schemas folder, you don't need to do an extra copy from runtime/schemas to schemas folder right now.

@zxyanliu please help update the doc based on the above.

[2020-06-09 08:42] luhan2017 commented on #3358
@rryan738 , this should relate to this issue #3182, we already have a fix on this and it will be available in the next release.
To mitigate on this, could you please try this:
https://github.com/microsoft/BotFramework-Composer/issues/3182#issuecomment-63453080

1. Go to the settings page, Runtime Config, select use custom runtime. There will be a runtime folder created in your bot folder.
2. Go to

[2020-06-09 08:48] hibrenda commented on #3352
you can define regex for the entity definition.
eg. @ zipcode = /[0-9]{5}/
Or you can edit in validation field. https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#isMatch

[2020-06-09 08:56] rryan738 commented on #3358
Hi Luhan, Thanks for your help. This is output of error in that folder. Let me know if you need anything further. Thanks
Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

C:\Users\Robtos>cd weatherbot2

C:\Users\Robtos\weatherbot2>cd runtime

C:\Users\Robtos\weatherbot2\runtime>dotnet run --project azurewebapp
C:\Users\Robtos\weatherbot2\runtime\azurewebapp

[2020-06-09 08:57] luhan2017 commented on #3338
@arafattehsin

If you just want to deploy your bot to ABS without configuring any other services, you can just use a profile as the following:

{
  "accessToken": "<your access token>",
  "hostname": "<your web app name>",
  "settings": {
    "MicrosoftAppId": "<the appid of your bot channel registration>",
    "MicrosoftAppPassword": "<the app password of your bot channel registration>"
  }
}

If

[2020-06-09 09:00] luhan2017 commented on #3338
@sujeongHeo For your screenshot 1, this is a known issue, and it won't effect anything, just click OK to work around it. For your screenshot 2, I am wondering if you are using vscode so that composer have issues updating that file, could you close that and try again?

Please let me know if it still not works.

[2020-06-09 09:09] luhan2017 commented on #3358
@rryan738 , based on this log, though there are so many warnings, you bot is successfully started on http://localhost:3979, could you double check if you still can't Start your bot by composer?

[2020-06-09 09:17] liweitian commented on #3330
The pattern is not correct. Opened pr to fix it. But if a folder contains a .dialog file, it is still recognized as a bot.

[2020-06-09 09:22] rryan738 commented on #3358
Hi Luhan, It looks like when I go to settings  it has restarted and I can test in emulator and open website on local host 3979, however if I try to restart it I get attached error message.
![botsettings](https://user-images.githubusercontent.com/63841892/84130308-057b9900-aa3b-11ea-85ac-14697bdc9676.JPG)
![botrestart](https://user-images.githubusercontent.com/63841892/84130362-175d3c00-aa3b-11ea-8

[2020-06-09 09:57] luhan2017 commented on #3358
Do you use 1.0.0 or 1.0.1? we have a fix of this bad error message issue #3228 , and released in 1.0.1 @rryan738

[2020-06-09 11:59] ashish315 commented on #2049
@beyackle As discussed with SME, we need to forward the issue to Fluent UI team.

[2020-06-09 12:26] fathorMB commented on #2565
Any update on this?

[2020-06-09 13:05] arafattehsin commented on #3338
@luhan2017 Yes I do have a LUIS associated with my Composer bot and I am really sorry but that was not helpful for me. I can understand why others are also really puzzled with this. Now let me write down something super simple for you and then you may advise what needs to be done.

![image](https://user-images.githubusercontent.com/16351038/84148101-d2b8bb80-aaa1-11ea-8fff-d188587c6ecf.png)

My LU

[2020-06-09 13:58] cxbuilders opened #3361 "Switch with number in strings as value -> Error: Arguments must either all be numbers or strings"
When using a switch statement on a string that contains numbers;
![image](https://user-images.githubusercontent.com/49873947/84156438-c4e74400-aa69-11ea-8bac-2add0456fa98.png)

It throws an error:
![image](https://user-images.githubusercontent.com/49873947/84156474-d29cc980-aa69-11ea-8cfc-9027a710044d.png)

When just adding a letter after the 23 like 23A it works ok.

Somewhere the 23 does get con

[2020-06-09 14:53] Trubzzz commented on #3352
Yeah, I considered a regex validator as an option, but doesn't that undermine the idea of entities as a whole? Because I can see the raw data from the validation when I type in an utterance that no entity is being picked up (so SOMETHING is working in the background). I'm just curious if I can make use of that functionality.

As I said before, this is working fine when validating if a user entered

[2020-06-09 17:36] bartbilliet commented on #3252
@mareekuh if you need feedback, let me know 😉

[2020-06-09 17:58] #3313 closed

[2020-06-09 17:58] #3324 closed

[2020-06-09 20:57] cwhitten commented on #3277
This is fixed in version 1.0.1

[2020-06-09 20:57] #3277 closed

[2020-06-09 23:00] cwhitten commented on #3160
Hi @GAURI02X, can you copy the updated provisioning directory to your bot scripts folder and try again on your 1.0.0 bot?

https://github.com/microsoft/BotFramework-Composer/tree/master/Composer/plugins/samples/assets/shared/scripts

[2020-06-09 23:27] #3330 closed

[2020-06-10 02:49] luhan2017 commented on #3299
@mudasar , could you help paste your error message here?

[2020-06-10 04:27] luhan2017 commented on #2565
@fatherMB sorry for the late response, could you provide more detail on how to reproduce on this? I didn't get a successful repro yet.

[2020-06-10 04:58] zxyanliu opened #3363 "Custom action issue in electron 1.0.1"
## Describe the bug
If customers use [electron 1.0.1](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.0.1), they need to restart electron to get **custom action** enabled.
@luhan2017 @yeze322

## Version
 [Electron 1.0.1](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.0.1)

## OS
- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Follow [thi

[2020-06-10 05:03] zxyanliu commented on #3343
Hi @bartbilliet, here is [a working PR](https://github.com/MicrosoftDocs/composer-docs-pr/pull/134) to address this issue. Please also be noted that you might need to restart your electron to see the **custom action** enabled in Composer UI when [testing it](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#test). I added a `Note box` in the [doc]() for this [known issue](https://

[2020-06-10 08:18] bartbilliet commented on #3343
@zxyanliu I believe the *composer-docs-pr* repo might be private, as I'm unable to follow the PR link. Anyway, I'll see when the content goes live then. Thanks for the updates! :-)

[2020-06-10 09:00] yeze322 commented on #3363
Thanks for creating this issue, fixed in #3365

[2020-06-10 09:54] luhan2017 commented on #3338
@arafattehsin,

First, for the get address info error in your deployment, I suspect it is because the key and endpoint not match. It is a little bit tricky here, let me explain.

Previously in composer, we auto generated the luis authoring and prediction endpoint by this pattern: `https://${luis.region}.api.cognitive.microsoft.com` which works fine for a while.

But recently, there is a change in

[2020-06-10 10:13] rryan738 commented on #3358
Hi Luhan, Sorry for delay so I need to use 1.0.1 I tried to get it but it seems to be 1.0.0 is the one I keep pulling down on github would you have link to 1.0.1 ? Thanks for your help Regards Rob.

[2020-06-10 10:16] hibrenda commented on #3361
if you are using number as below, and then set switch condition as number as well. it should work.
![image](https://user-images.githubusercontent.com/43408889/84256271-444a4580-ab46-11ea-8952-110816d4497b.png)
![image](https://user-images.githubusercontent.com/43408889/84256379-693eb880-ab46-11ea-9986-9fdacd20008e.png)

[2020-06-10 10:16] luhan2017 commented on #3358
@rryan738 , please try to find this in this link: https://github.com/microsoft/BotFramework-Composer/releases

after updating, you may see the detail error while connecting the bot runtime, please let me know if it not works.

[2020-06-10 10:22] hibrenda opened #3366 "property view should correctly display value in number"
- set property with value in number as below
![image](https://user-images.githubusercontent.com/43408889/84256857-1285ae80-ab47-11ea-8c79-dd9e40c347b9.png)

- click other node
- click "set property" node again
- property view is not correct
![image](https://user-images.githubusercontent.com/43408889/84256693-d6eae480-ab46-11ea-9556-dbe3d1a2df51.png)
- data is not change in dialog file
![image](htt

[2020-06-10 10:46] arafattehsin commented on #3338
@luhan2017 Thank you very much for this detailed explanation on what's going on behind the scenes. May I know which key do you refer as endpointKey and luisResource? It'd be great if I can get the screenshot or you can refer mine.

I just retried with your configuration and it gives me this error;

![image](https://user-images.githubusercontent.com/16351038/84258740-c6446980-ab5a-11ea-9fe3-9cdb33e

[2020-06-10 11:02] cxbuilders commented on #3361
@hibrenda Yeah, but that's not the situation. The condition property is a string that contains a number.  Whether I check on 24 or SomeOtherValue should not matter, as they both should be treated as strings, since that is what the incoming property is and the condition value is.

![image](https://user-images.githubusercontent.com/49873947/84260605-9b3a2580-ab1a-11ea-9e10-95e39337f8d0.png)
![image]

[2020-06-10 11:17] hibrenda commented on #3361
@vishwacsena this should be an issue in SDK?

[2020-06-10 11:27] rryan738 commented on #3358
Hi Luhan, That worked once I upgraded to 1.0.1 I can start and stop Bot with no errors. Thanks very much for your help with this and assisting me with resolving it.

[2020-06-10 12:11] ramonck opened #3367 "provisionComposer.js - Missed concepts on how it should actually be functional for us"
Hi Srs.,

1) 90% of the users will want to utilize a currently running resource group and not create a new one, the script always wants to create it first, I don't think this should be the correct approach in the first place it should try to find and reutilize the resource group I'm informing and then if it doesn't exist try to create one.
2) Those 90% will probably not have permissions to create

[2020-06-10 15:03] UmaPrelude opened #3369 "Json Body with number type - Send an Http Request"
Hi,

I am trying to send the parameters in body object.
I have a number type param which i am trying to send in the body.
But i am getting syntax error, please help.

![image](https://user-images.githubusercontent.com/65938026/84284079-626d7100-ab59-11ea-8fc2-63dc010e64c3.png)

[2020-06-10 16:38] vishwacsena opened #3370 "Composer should write out cross train configuration"
In order to deploy composer generated dialogs via CI/ CD pipeline (using BF-CLI), composer should write out a cross-train.config.json. This can sit as a peer to main.dialog (root dialog) file.

This enables composer customers to use CI/CD pipelines to build and publish their LU/ QnA applications. This also enables right integration of composer generated dialogs with a code based V4 SDK bot.

Witho

[2020-06-10 19:13] vishwacsena opened #3372 "EndDialog action missing form editor to configure value property"
## Describe the bug

EndDialog action is missing property form editor to configure `Value` property.

Schema: https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions/Microsoft.EndDialog.schema

Current UX:
![image](https://user-images.githubusercontent.com/20918136/84308581-9cb41f80-ab13-11ea-8040-5a95a28e332a.png)

## Version

1.

[2020-06-10 19:33] rjgmail88 opened #3373 "How to access code for bot conversation created using Composer"
Hello, Currently we have a bot in production which is actively used by 5000 plus people every day. This bot is actually BF Virtual assistant built using latest BF node SDK and connects to bunch of Skill bots using dispatcher tool.

We would like to reduce engineering efforts behind building skill bot as we can leverage BotFramework-Composer tool to create conversational / dialogs etc. However, onc

[2020-06-10 22:49] bartbilliet commented on #3277
@AndyHue here you go: https://github.com/microsoft/BotFramework-Composer/releases

[2020-06-10 23:47] cwhitten commented on #2122
@ashish315 can you close this on our audit given that it is due to a dependency?

[2020-06-11 00:59] Stevenic opened #3376 "Ejected runtime should use a relative path"
The path you get when you eject a runtime is an absolute path. This can be problematic when you have multiple people trying to work with the same project. We should be using relative paths:

![image](https://user-images.githubusercontent.com/698939/84333236-0a783f80-ab44-11ea-8dc5-6e9981281bd2.png)

[2020-06-11 03:24] luhan2017 commented on #3358
@rryan738 thanks for the update, I am closing this issue, please reopen if needed.

[2020-06-11 03:24] #3358 closed

[2020-06-11 03:36] luhan2017 commented on #3299
@cxbuilders sure, there is a logic in composer, if user don't add luis:endpointKey, we will take luis:authoringKey as the luis: endpointKey.
We've found a bug yesterday and I think it maybe related to the error you met. Which is:

Previously in composer, we auto generated the luis authoring and prediction endpoint by this pattern: https://${luis.region}.api.cognitive.microsoft.com which works fine

[2020-06-11 05:00] arafattehsin commented on #3338
@luhan2017 No worries. I appreciate what you all as a team are doing. As I could see your PR - I'd like to make one more comment on it. You talked about the endpoint and authoring urls separately but are you considering the regions as well?

My prediction resource and authoring resource both have got different regions.

[2020-06-11 05:36] UmaPrelude commented on #3369
Hi @tdurnford,
Thanks for your response.
{
  ...
  "userId": "${user.number}",
  ...
}
converts the number into string.

So i used
{
  ...
  "userId": "=int(user.number)",
  ...
}
That worked.

Regards,
UmPrel

[2020-06-11 05:36] #3369 closed

[2020-06-11 06:24] luhan2017 commented on #3338
@arafattehsin , thanks for your feedback, but there is a limitation in luis that you must author and publish in the same region, that is why we keep the one region setting. please refer to this doc https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-regions for more details.

I've just merge the PR in master, could you please check if your scenario works in master now? Th

[2020-06-11 08:12] cxbuilders commented on #3299
No I have the https://westus.api.cognitive.microsoft.com/ url.

Today I removed the resource group and created it all from scratch;

- Simple bot with Luis enabled and some intents
- Run provisionComposer.js
- Copy Output of script into new publishing profile
- Publish the Bot
- Start the bot

And again:
![image](https://user-images.githubusercontent.com/49873947/84361280-b5800c00-abcb-11ea-9144-4

[2020-06-11 08:19] ashish315 commented on #2122
@cwhitten Agree with you. Closing the bug for now will track the bug according to Fluent's  UI.

[2020-06-11 08:19] #2122 closed

[2020-06-11 08:42] mudasar commented on #3299
I have got it fixed. I think the issue is with Composer when you change something in the settings (config) you have to some times restart the Composer and then restart the bot. The config changes are not reflected.
You are on the settings screen and update the config (update the Luis key in my case) you may restart the bot as many times but the key is not going to take effect. unless you navigate

[2020-06-11 08:48] DingmaomaoBJTU commented on #3373
For skill samples in composer, you can find them here: https://github.com/microsoft/botframework-skills/tree/next/skills/declarative.

[2020-06-11 09:20] hibrenda commented on #3373
@rjgmail88 are you asking where is the runtime code ?

[2020-06-11 09:40] luhan2017 commented on #3367
@ramonck yes, you can definitely leverage your existing resources for deployment. when you try to add a new publish profile in composer, you will see the schema as following:

you can fill in your exist settings to make it work:

1. If you just want to deploy your bot to ABS without configuring any other services, you can just use a profile as the following:
[code]
2. If you have luis configured i

[2020-06-11 10:09] hibrenda commented on #3301
https://github.com/microsoft/BotFramework-Composer/pull/3322

[2020-06-11 12:09] cxbuilders opened #3377 "CardAction without Luis interfering"
I am looking for a possible way to get a menu to work with suggested actions, without Luis interfering and messing up. This is what I want;
![image](https://user-images.githubusercontent.com/49873947/84383583-d3119d80-abec-11ea-8b82-2fbdbeae2da6.png)

Language generation:
[Activity
  Text = ${if(user.props.menuShown, 'What else can I help you with?', 'What can I do for you today?')}
  SuggestedAct

[2020-06-11 13:03] arafattehsin commented on #3338
@luhan2017 Sure. Totally understood the region part. I will check and give it a go! 🤘

[2020-06-11 14:46] cxbuilders opened #3379 "How to best use Authentication in Composer"
I am struggling a bit with the best way to implement Authentication in the bot I'm building with Composer. The bot should be completely locked without authentication. It can be called both as standalone bot and as a skill bot for PVA.

I have a separate dialog that handles with all the authentication that I currently call from the greeting trigger. There are a couple of issues;

1. When called fro

[2020-06-11 15:00] luhan2017 commented on #3299
@cxbuilders, I have tried your steps can't repro this error in my side. Could you share more information here? for your reproduce steps, did you update the local configuration after publishing the bot?  what is your exact config of the local setting?

For local setting, It currently has the authoringKey and endpointKey properties, if endpointKey is not used, we will use the authoring service for b

[2020-06-11 18:49] cxbuilders opened #3380 "Skill Manifest experience under par"
The whole setup of the skill manifest editor feels like it is lacking behind the rest quite a bit. Below my thoughts on this:

**Export as skill**
Having it under the export dropdown and calling it export as skill sounds strange to me. You're actually not exporting anything, you're just creating a manifest which makes it a skill. So I would just expect it to be called something like "edit skill ma

[2020-06-11 18:51] benbrown commented on #3367
Thanks for the feedback @ramonck - this is useful input as we plan the next phase of integration with Azure.

[2020-06-11 18:55] benbrown commented on #3376
Good point!

[2020-06-11 18:59] benbrown commented on #3373
By default, when you create a project in Composer, the project folder contains only the "declarative" files - the dialogs, LU and LG files. It does NOT include the runtime code that uses the SDK to execute the bot's application.

If you want to that code, go to your Settings -> Runtime Config tab, and click "Get a new copy of the runtime code"

This will "eject" the code into the runtime/ folder o

[2020-06-11 19:00] benbrown commented on #3372
@vishwacsena you have selected the End Dialog Turn action, not the "EndDialog" action.

EndDialog does have a value field.

End Dialog Turn does not - is it supposed to?

[2020-06-11 19:03] benbrown commented on #3351
@VanyLaw we should take this into consideration as we update the runtime abstractions.

[2020-06-11 19:06] #3372 closed

[2020-06-11 19:08] vishwacsena commented on #3372
@benbrown I just did not see the difference between `End Dialog` and `End Dialog turn` and it did not even occur to me that I might have added the wrong action .. In any case, may be we could have the UI say `End turn` instead of `End dialog turn` to minimize user error?

[2020-06-11 19:20] benbrown commented on #3372
Concur!! I will change the title of this issue.

[2020-06-11 19:39] benbrown opened #3381 "Relabel "End Dialog Turn" to "End Turn""
## Describe the bug

There is a "End Dialog Turn" action in the "dialog management" flyout. This is very easily confused with "End this dialog"

We should relabel this to "End Turn" which is more correct, as the dialog does not end.

[2020-06-11 20:00] benbrown opened #3384 "Add ability to login to Azure account for provisioning and publishing"
Add the ability to sign-in to an Azure account, thus making it possible to take actions on the user’s behalf such as creating and publishing to Azure resources.

A login to Azure will not be required to use Composer. It should continue to be possible to install an authentication plugin (such as AAD) to gate access to Composer and provide the user info context.

We should strive to implement this i

[2020-06-11 20:07] benbrown opened #3385 "Add ability to provision Azure hosting environments"
Add the ability to create the cloud resources necessary for operating a bot to Composer. After logging into Azure, the user should be able to create all of the necessary resources and automatically create a publishing profile to use those resources.

## Describe the solution you'd like

- [ ] Need design input from @sangwoohaan and @mareekuh
- [ ] In the publish page, add a button for “Create Host

[2020-06-11 20:09] benbrown opened #3386 "Update publishing to use token from login if available"
Update the publishing flows to use an Azure token provided by in-application login.

## Describe the solution you'd like

- [ ] Deprecate accessToken field from publishing process
- [ ] Require an Azure login to use the “publish to target” tool
- [ ] Use the access token provided by the login to perform the publish actions
- [ ] Add additional error checking around access control failures

## Addi

[2020-06-11 20:21] benbrown opened #3387 "Tracking: Improvements to Publishing"
This issue exists to track progress on the publishing tools to go from "preview" to "full release"

# Related issues:

- [x] #3328 - Improve formatting and content of logging output displayed in publishing UI
- [x] #3320 , #3300 "undefined is not a valid target" bug
- [x] #3272 - add javascript runtime and refactor out language specific actions into the plugins
- [ ] #3385 - add ability to provisi

[2020-06-11 20:26] benbrown opened #3388 "Add ability to publish to Power Virtual Agent from Composer"
Power Virtual Agent will soon support the ability to accept and use declarative assets authored in Composer. We need to add a publishing mechanism that will be responsible for delivering the assets to PVA via an API.

## Describe the solution you'd like

- [x] Create a new plugin that will implement the publishing actions required to publish to PVA.
  - [x] Client
    - [x] Allow user to login

[2020-06-11 20:30] benbrown opened #3389 "Add ability to publish from Composer directly to a Github repo"
It would be nice for Composer to be able to publish directly to a git or github repo.

## Describe the solution you'd like

- [ ] Create a plugin that implements Github publishing actions for Composer
- [ ] Implement necessary login via Github plugin
- [ ] Decide what is best mechanism for publish? Create a branch and do a PR is safest and allows code review, merge conflicts, etc to be handled com

[2020-06-11 20:50] benbrown opened #3390 "Allow publishing plugins to require/provide auth"
Many publishing plugins (Azure, PVA, Github) will require authentication to a given service in order to carry out the actions.

It should be possible for the plugin to require a specific type of authentication, and for this authentication to be separate from the bulk "access restriction" authentication currently available through the auth plugin.

It should be possible, for example, to require aut

[2020-06-11 20:56] benbrown opened #3391 "Add ability to publish to ADO (Azure DevOps)"
It is possible to kick off a CI/CD pipeline using ADO's API.

Would it be useful to be able to kick off a pipeline from inside Composer?

Can we deliver content from Composer directly to ADO, or does it have to go through a repo (See #3389)?

If we use a RESTful endpoint, could this be made more generic ("Send webhook alert" vs "Use pipeline") that could be used to fire other automations?

[2020-06-11 21:01] benbrown opened #3392 "Add ability to publish to Azure Kubernetes (AKS)"
It is possible to push bots to run in Azure Kubernetes as an alternative to webapps or functions.

We should support publishing to this platform.

## Describe the solution you'd like

- [ ] Create a plugin that can configure and publish the runtime and declarative assets to AKS service
- [ ] Use Azure login #3384 for auth

## Additional context

## Plugin Docs

[Publishing Plugins](https://github.

[2020-06-11 21:05] benbrown commented on #1682
This is underway and you can track progress here: #3198

[2020-06-11 22:54] #3120 closed

[2020-06-11 23:13] vishwacsena commented on #3393
Transferred over from SDK repo to track this as part of composer - PVA engagement.

[2020-06-12 00:05] Stevenic opened #3394 "Add "Show Console" option to runtime settings page"
## Is your feature request related to a problem? Please describe.

Currently, when composer runs an ejected runtime it does so in a hidden console window. While this helps avoid cluttering up the users desktop it means that you can't see any console logging coming from the runtime. And more importantly, should the runtime throw an exception you have no clue what it was.

## Describe the solution y

[2020-06-12 04:05] VanyLaw opened #3395 "endpoint and authoringEndpoint will be removed after luis publish"
## Describe the bug

endpoint and authoringEndpoint will be removed after luis publish

![2020-06-12_115518](https://user-images.githubusercontent.com/21174180/84463629-f26c0180-aca4-11ea-88ca-b2127116d1ca.gif)

## Version
master

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to repr

[2020-06-12 04:45] feich-ms commented on #3024
Lubuild fix https://github.com/microsoft/botframework-cli/pull/830 is merged into master. Composer need to switch to next bf-lu release to resolve this issue.

[2020-06-12 04:45] feich-ms commented on #3243
Lubuild fix https://github.com/microsoft/botframework-cli/pull/830 is merged into master. Composer need to switch to next bf-lu release to resolve this issue.

[2020-06-12 10:06] andreatosato opened #3399 "Bot Framework Composer 1.0.1 not work with LUIS"
With sample "ToDoBotWithLuisSample" Azure Luis service not respond.

## Version
Bot Framework composer desktop 1.0.1
## Browser
- [X] Electron distribution
- [ ] Firefox
- [ ] Safari
- [ ] Chrome
- [ ] Edge

## OS
- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce
Try to run sample: ToDoBotWithLuisSample
## Expected behavior
Contact LUIS in Bot Emulator Log
At least the LUIS trace in the log.

[2020-06-12 13:58] #3381 closed

[2020-06-12 18:49] tdurnford opened #3400 "[code-editor] The code editor in the Property Editor does not respond to undo/redo"
## Describe the bug
The code editor does not sync with the store when the user presses the undo/redo buttons.

## Version
Master

## To Reproduce
Steps to reproduce the behavior:

1. Add a 'Send Activity' action
2. Edit the LG in the Property Editor
3. Press the undo button
4. Notice the updated value will display correctly in the 'Send Activity' node, but the code editor still uses the previous v

[2020-06-12 19:04] tdurnford opened #3401 "[server] Issue creating new dialogs with the same name but different casing"
## Describe the bug
If you create two dialogs with the same name but with different casing - 'DIALOG' and 'dialog' - the second dialog and dialog files are not created on the disk. Editing the second dialog causes an error.

## Version
Master

## To Reproduce

Steps to reproduce the behavior:

1. Add a new dialog titled 'DIALOG'
2. Add a second dialog titled 'dialog'
3. Edit the second dialog crea

[2020-06-12 19:19] benbrown opened #3402 "Create how-to guide on hosting Composer as a web app"
Create a guide with instructions and tips for hosting Composer and extending in various ways.

* How to host Composer in the cloud
* How to set up multi-user authentication via plugins
* How to set up customized storage, make storage multi-user aware
* How to provide an alternate version of the runtime template
* How to change the boilerplate content added to each project

[2020-06-12 19:22] benbrown opened #3403 "Need docs: best practices for designing conversations in Composer"
We need to create a set of instructions and tips that serve as an introduction to best practices for achieving common conversational scenarios in Composer.

For example:

* Use of sub-dialogs as "functions" with return values
* How to set up and configure prompts with all the fancy conversational options we have
* How to get the most out of extracted entities
* How to set up and get the most out o

[2020-06-12 19:28] benbrown opened #3404 "Need Docs: Composer architecture for new contributors"
Composer has a complex code base with many interdependent pieces. We need to produce some documentation of the who, what, where, how and why of those pieces so that new contributors to the project will be able to navigate this project and be productive.

There is some information in the [Composer readme](https://github.com/microsoft/BotFramework-Composer/tree/master/Composer), and some more in thi

[2020-06-12 19:37] rjgmail88 commented on #3373
Yes

[2020-06-12 19:38] benbrown opened #3405 "Allow import / management of asset libraries"
Add the ability to create, import, update and manage libraries of declarative assets consumed from the internet.

These packages can be accessed in Composer through an “import” mechanism

## Describe the solution you'd like

We need an interface that will allow developers to import assets from various sources. User should be able to specify name or URL and have Composer download and install the li

[2020-06-12 19:40] rjgmail88 commented on #3373
Thanks for the response. Going back to few things in my question is there a way to put business logic by adding functions / methods in composer dialogs?
Ex: Let's say we build Todo skill bot using BotFramework-Composer we would need to use MS Graph API's right.

[2020-06-12 19:43] benbrown commented on #3373
Yes, you can create custom actions.

https://docs.microsoft.com/en-us/composer/how-to-add-custom-action

[2020-06-12 19:53] benbrown opened #3406 "Allow ejected runtime to be updated to latest"
As updates are made to the runtime template, developers want to adopt these changes.  Currently, it is required to manually delete the runtime folder before re-ejecting.

We should introduce a feature inside Composer which allows the user to re-eject an updated version of the code OR to switch between versions of the runtime.

See also #3102  - allow updating of boilerplate material only

[2020-06-12 19:53] ashritkulkarni opened #3407 "Language Generation Loading"
while trying to edit the response of the bot near the LG it is loading forever

[2020-06-12 19:57] benbrown opened #3408 "Add ability to configure/enable third party adapters from within Composer"
The Bot Framework ecosystem includes a growing collection of adapters that connect Bot Framework applications to third party messaging systems such as Slack, Twilio, Alexa, Google Home and others.

We should introduce an interface that allows these adapters to be configured and enabled in the runtime.

### More details TBD

* design UI
* design appropriate extensibility that allows for multiple pr

[2020-06-12 20:26] ashritkulkarni opened #3409 "Something went wrong"
Something went wrong immediately after creating the app. I tried to access the trigger and it show that something has went wrong

[2020-06-12 22:23] zxyanliu commented on #3343
Hey @bartbilliet thanks again for reporting this issue. The content has been updated and will go live soon.
Thanks for helping me with this @luhan2017 @srinaath.

[2020-06-13 12:21] cxbuilders commented on #3299
@luhan2017 I am not sure anymore how we can get this issue any further. If you are up for it I can show you this is a call and explain what is going wrong. Otherwise I will just keep the endpointKey and authoringKey switched around in the local settings as a dirty workaround and wait for some other issue to get this fixed.
Let me know.

[2020-06-13 13:47] cxbuilders commented on #3299
@luhan2017 Whatever combination of steps I try, it always fails. Would it be possible to have a call about this, as that would be a whole lot simpler to show my side.

[2020-06-14 13:13] arafattehsin commented on #3338
@luhan2017 This is to update you that it works absolutely fine now. I am also writing a blog post on this so folks who come across this issue can easily follow the guidelines. Appreciate your help. 💯

[2020-06-14 14:37] hraz-msft opened #3412 ""The parent is missing." error when sending HTTP request with string body"
## Describe the bug

"The parent is missing." error when performing HTTP request with string body (required for `x-www-form-urlencoded`)

## Version

1.0.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a new HTTP request
1. Set method: "POST"
1.

[2020-06-14 15:28] hraz-msft opened #3413 "Bot Secrets"
How should the bot hold secrets and use them when sending HTTP Requests?

[2020-06-14 17:40] ramonck commented on #3367
@luhan2017 Thank you for this I figured some of this out looking at the other tickets but it's good as a reference to have this consolidated here, thank you.
I tried the first set of instructions and I currently only have a Azure Function in place in my Resource Group I want to use that Azure Function, what should I fill in for the hostname?
If I generate a token with the "az account get-access-to

[2020-06-14 17:47] ramonck opened #3414 "Composer: High CPU and RAM usage it doesn't load the Composer UI"
I have verified that the compose doesn't run and open the interface if I have a high memory usage or high RAM usage and the process runs in the background with no user inteface loaded.

## Version

![image](https://user-images.githubusercontent.com/5229948/84600153-c475f100-ae4d-11ea-9cba-327b7a1b05fb.png)

## OS

Windows 10

## To Reproduce

Double click on the Compose Icon.

[2020-06-14 19:40] cwhitten commented on #3412
hello @hraz-msft - we will investigate this today. thank you!

[2020-06-14 21:14] ramonck opened #3415 "URL doesn't work: https://aka.ms/att/publishbot"
As in this youtube video from Microsoft Azure the following url shortcut doesn't work, it needs to be fixed.

The video: https://www.youtube.com/watch?v=XNE43x_JaR4

The url: https://aka.ms/att/publishbot

The target url: https://github.com/microsoft/BotFramework-Composer/blob/stable/docs/deploy-bot.md?WT.mc_id=github-azuredevtipsvideo-micrum

The Screenshot:
![image](https://user-images.githubuse

[2020-06-14 23:06] mareekuh commented on #3250
@DesignPolice - Could you add this scenario to your Search designs and see if we can make this work?

[2020-06-15 01:31] luhan2017 commented on #3299
@cxbuilders , sorry for the late response, sure, let's have a call on this. I am not sure how can we do this, what is your timezone? I am in Beijing. Please ping me when you are available.

[2020-06-15 01:57] jkergosi commented on #3339
I'm also interested in this solution.

[2020-06-15 03:16] luhan2017 commented on #3412
@hraz-msft could you try to use GET? I've checked in the msgraph doc, we should use GET instead of POST for this API. https://docs.microsoft.com/en-us/graph/api/user-get

[2020-06-15 05:41] zxyanliu commented on #3338
FYI. The doc has been updated in [PR 133](https://github.com/MicrosoftDocs/composer-docs-pr/pull/133) which just got approved. The content will go live soon. Thanks again for your feedback.

[2020-06-15 05:49] arafattehsin commented on #3338
Thanks @zxyanliu and @luhan2017 - I also wrote some of the detailed stuff here for our creators! - https://www.arafattehsin.com/bot-framework-composer-publish-azure-resources/

[2020-06-15 07:27] rhalaly commented on #3412
@luhan2017 Yes, you are correct. This URL is for the screenshot, it is not the actual URL that I use.

The issue is that sending POST request with string code (no matter to which URL or Body) the request fails

[2020-06-15 07:32] triciasinclair commented on #3412
I also have this experience when trying to get an Auth token for D365CE... using both get and post.

[2020-06-15 09:00] luhan2017 commented on #3412
@hraz-msft @rhalaly @triciasinclair Thanks for reporting this issue. I've got what you mean. This is a bug in the botbuilder-dotnet httprequest body handling logic. @zidaneymar will help to prepare a fix on this, and we will keep you posted.

[2020-06-15 09:10] luhan2017 commented on #3413
@hraz-msft , you can refer to oauthinput dialog in AskingQuestionsSample

1. You can use OAuthInput to get user.token.
2. Then use ${user.token.token} to pass the token in the http header.

![image](https://user-images.githubusercontent.com/32191031/84639318-ca8dcf80-af2a-11ea-9abb-37bfa2b37214.png)

[2020-06-15 09:15] hraz-msft commented on #3413
@luhan2017, I'm not sure the OAuth component is what I need. Since I don't need to user token, I need machine-to-machine authentication with POST call to `https://login.microsoftonline.com/common/v2.0/oauth2/token` (accept string body only - only `x-www-form-urlencoded` content type is supported)

[2020-06-15 09:28] luhan2017 commented on #3367
@ramonck
For Azure Function, first you should choose "Publish bot to an Azure Functions" while adding a new publish profile. and you can just use the Azure Function name as the hostname.

For this error: "I'm getting the following error: Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API en

[2020-06-15 09:32] hraz-msft commented on #3413
@luhan2017, I meant, I need for some APIs the Bot App ID and the Bot Secret ID and more secrets to hold.

Where should I hold them in Composer?

[2020-06-15 10:06] zidaneymar commented on #3412
Fixed in PR:https://github.com/microsoft/botbuilder-dotnet/pull/4064

[2020-06-15 11:06] cxbuilders commented on #3299
@luhan2017 I have sent you a mail (what I think is your mail) let me know if you received it.

[2020-06-15 11:28] ramonck commented on #3367
Hi @luhan2017,

Thank you for the example there, I found out what my first problem is maybe I will be able to deploy after this first one is solved.

I tried creating the bot in https://dev.botframework.com/ and then migrating it to Azure with the migrate button, the problem is that my account is restricted to a Resource Group and I don't have permissions to create Azure AAD so basically it said i

[2020-06-15 12:21] hibrenda commented on #3373
@rjgmail88 you can reference above code  https://github.com/microsoft/botframework-skills/tree/next/skills/declarative to build todo skill bot by using BotFramework-Composer which shared by @DingmaomaoBJTU  . Let us know if you have further questions.

[2020-06-15 12:28] hibrenda commented on #3409
Could you share error screenshot ? If you restart the composer app and editing the triggers, could you reproduce it ?

[2020-06-15 12:31] hibrenda commented on #3407
There is a known issue for LG performance. we are working on it now.
https://github.com/microsoft/BotFramework-Composer/pull/3337
could you have a look if this is the same issue ?

[2020-06-15 12:52] hibrenda commented on #3380
Hi @cxbuilders thanks for the feedback. This is on our radar. we have several issues tracking skill manifest experience. @mareekuh  for your awareness.

[2020-06-15 13:44] hibrenda commented on #3379
@DingmaomaoBJTU may help to answer

[2020-06-15 13:49] DingmaomaoBJTU commented on #3379
For the second issue, you can add an condition branch after oauth prompt to check whether token had been retrieved. If not, you can send error message back then cancel all dialogs.

For the first issue, do we have a pattern (i.e. a middleware) to check authentication before all the activities/events @vishwacsena ?

[2020-06-15 14:08] hibrenda commented on #3338
addressed in #3364

[2020-06-15 14:08] #3338 closed

[2020-06-15 16:22] Todd442 commented on #3339
I am interested!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: CX Builders<mailto:notifications@github.com>
Sent: Friday, June 5, 2020 12:52 PM
To: microsoft/BotFramework-Composer<mailto:BotFramework-Composer@noreply.github.com>
Cc: Todd442<mailto:Appliedalchemy@live.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [microsoft/BotFramework-Compos

[2020-06-15 18:34] #3354 closed

[2020-06-15 18:59] mweldingwala opened #3418 "Connecting Bot with Cognitive Search in composer"
I am a beginner programmer and a beginner using bot composer, I will really appreciate a reply in detail. Thank you in advance!!!

I am trying to take a user's input and searching that input in Cognitive Search on my portal using API and then parsing the JSON I receive.

I was thinking of storing the user's input in a property called dialog.search_input.

1. Now how can I go about making the HTTP

[2020-06-15 20:49] benbrown opened #3419 "Make it possible to add a comment in the timeline"
It is common practice to leave comments in code to explain the purpose of the code or the approach used.  We should introduce a similar functionality in Composer where comments can be left in the timeline.

These comments do not need any special functionality other than the ability to type in some text and have it displayed in the timeline in such a way that it can be easily seen and read while lo

[2020-06-15 23:51] hibrenda commented on #3419
https://github.com/microsoft/BotFramework-Composer/issues/1055

[2020-06-16 00:50] luhan2017 commented on #3299
@cxbuilders , I didn't receive your email, did you send it to luhan@microsoft.com?

[2020-06-16 02:57] hibrenda commented on #3399
@andreatosato I could not repro your issues. could you share more info ? I tested with Electron without any issues.

[2020-06-16 03:28] hibrenda commented on #3415
@zxyanliu @cwhitten could you comment on this ?

[2020-06-16 04:04] zxyanliu commented on #3415
Hey @ramonck Thanks for reporting the issue. If you are looking for instructions on how to publish a bot created using Composer, please refer to this [doc](https://docs.microsoft.com/en-us/composer/how-to-publish-bot).

@cwhitten I do not have access to this aka link:  https://aka.ms/att/publishbot so I cannot update the target url. The one I have pointing to the [publish article](https://docs.mic

[2020-06-16 05:40] hibrenda commented on #3418
@DingmaomaoBJTU  may help to answer this.

[2020-06-16 06:50] boydc2014 commented on #3414
This is very likely due to electron is not getting enough memory it needs.  I think we can confirm did we catch OOM error and emit a clear message in that case.

cc @cwhitten  @tonyanziano .

[2020-06-16 07:54] luhan2017 commented on #2565
@fatherMB I have investigated on this and want to understand more.

1. in the sdk side, we do support upper case locale settings like en-US and it-IT, it will ignore the cases when search for the language policy.

For example, in this recognizer, if user says howdy with the activity.locale = en-US, it will be recognized as the Greeting intent.
[code]
2. I guess the possible causes for the issue yo

[2020-06-16 08:23] luhan2017 commented on #3321
@hraz-msft  Did you create both luis authoring and prediction resources in the provision process? Do you mind to sync up with me on Team about this issue?

[2020-06-16 08:34] hraz-msft commented on #3321
@luhan2017 This issue was solved by Luis team. Apparently, my account had some incorrect settings and 'hen I called the API I would get an error due to my issues in my account.

Luis team fixed my account and now it seems to be working, so I will close that issue. Thanks you!

[2020-06-16 08:34] #3321 closed

[2020-06-16 08:34] zidaneymar commented on #3321
Not sure about the reason.
Based on the log, the request to https://westus.api.cognitive.microsoft.com/luis/api/v2.0/azureaccounts
failed. This API is used for retrieving user's luis account using access token and luis authoring key.
If the authoring key is not created by the token owner, the api would return
[code]
It seems that the token is invalid for some reason.

[2020-06-16 08:57] cxbuilders opened #3421 "Make it possible to use Ad Hoc / List values as Skill input in PVA"
For skills that we are developing and are being consumed by local companies it would be really useful for them to add Ad Hoc values as input for skills in PVA.

Typical use cases are;
- number results in User search. Let user define their own behavior by typing 5 in PVA for the Skill property
- Input to define behavior of a skill's action, like 'POLITE', 'CASUAL'

Additionally having a list option

[2020-06-16 09:02] #3299 closed

[2020-06-16 09:09] luhan2017 commented on #3413
@hraz-msft , Composer now don't support to help encrypt any of your secrets for now, will this #3315 fulfill your requirement?

[2020-06-16 09:54] hraz-msft commented on #3413
Not exactly... I talked to Steve (Stevenic) and he said that I can enter secrets to `app config` and then use the `settings` variables to access them. That's more than enough for me :)

[2020-06-16 09:54] #3413 closed

[2020-06-16 14:35] ashritkulkarni commented on #3407
Hello, no it’s not the same issue. I’m using composer in my office laptop for professional purpose and I believe there should be some restriction as I didn’t face similar kind of issues on my personal laptop. The LG block shows it’s loading and that persists forever not allowing me to add any responses

[2020-06-16 14:57] UmaPrelude opened #3422 "Array data binding in adaptive card not working"
Hi,
I am trying an adaptive card with array of data mapped which i tried online which is working, but the same json returns null when i use from composer.
Any solution? Please help.
![image](https://user-images.githubusercontent.com/65938026/84788890-47917580-b00d-11ea-83fd-28a5cfd69a59.png)
Composer
![image](https://user-images.githubusercontent.com/65938026/84790368-e79bce80-b00e-11ea-8e40-8f66c

[2020-06-16 16:29] cwhitten commented on #3309
Proposal:

1. Move Info page into Settings page
2. Remove/replace Info icon/location with Settings cog (move to bottom left)
3. Settings cog is _always_ enabled and interactable
4. _Bot settings_ & _Runtime config_ in subnav of Settings page are disabled if no bot is currently loaded.

[2020-06-16 16:40] cwhitten commented on #3091
This is being worked on as part of the multi-bot management workstream.

[2020-06-16 16:43] cwhitten commented on #3170
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/3170

[2020-06-16 16:43] #3170 closed

[2020-06-16 16:44] cwhitten commented on #3339
See https://github.com/microsoft/BotFramework-Composer/issues/3170#issuecomment-634153197 for suggested workaround to address this.

The team will look for document this method of creating plugins in an upcoming release.

[2020-06-16 16:49] cwhitten commented on #3189
@RustyDes we're closing this as a wont-fix. Defaulting to the user directory is the least opinionated decision we could make, and at the moment we feel this is correct. When https://github.com/microsoft/BotFramework-Composer/pull/3302 the experience of pasting a known path in will be easier and we hope this will address your issue at least partially.

[2020-06-16 16:49] #3189 closed

[2020-06-16 16:56] cwhitten commented on #3204
@Stevenic currently the features and the skill settings are needed by the runtime. This is why is all serializes into the settings file.

This is a common convention for web developers today, in that you share your settings files via other means than git. Zerobin is an example to securely share these types of files with sensitive information in them. I'm not sure why Composer needs to add addition

[2020-06-16 16:56] cwhitten commented on #3247
Closing due to inactivity

[2020-06-16 16:56] #3247 closed

[2020-06-16 16:57] cwhitten commented on #3249
The Mac behavior would be `cmd+click`.  @yeze322 do you have bandwidth to look at this in R10?

[2020-06-16 16:58] cwhitten commented on #3254
@SowmyaPitchika-Acu we're not sure how we can help you. This repository is for Bot Framework Composer. Closing.

[2020-06-16 16:58] #3254 closed

[2020-06-16 16:59] zxyanliu commented on #3343
Hey @bartbilliet the [content](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action) has been updated and is live now. Thanks again for your feedback, we appreciate it! : -)

[2020-06-16 16:59] #3343 closed

[2020-06-16 17:02] cwhitten commented on #3376
Relative to what, though?

[2020-06-16 17:03] cwhitten commented on #3257
@sangwoohaan can you look at this? I'm not sure we should add this button as @xieofxie suggests, but it may make sense in to `all-up LU` page.

[2020-06-16 17:04] cwhitten commented on #3263
My opinion is that it is still a nice to have. Not in scope for [Fe] but we can keep it on the backlog.

[2020-06-16 17:04] benbrown commented on #3376
To the project itself, I would assume.

This would assume, however, that the project and the runtime are statically related to one another as they are in the case where it is inside the same folder. This would NOT apply if you completely separate the assets -- however, that is a use case we are mostly assuming and haven't seen in the wild yet.

[2020-06-16 17:17] bartbilliet commented on #3309
Proposal works for me 👍

[2020-06-16 19:32] ashritkulkarni commented on #3409
![image](https://user-images.githubusercontent.com/49915656/84819770-91b33080-afe6-11ea-892e-02282b7e9f6f.png)

[2020-06-16 19:33] ashritkulkarni commented on #3409
Yes it persists the same way

[2020-06-16 19:35] #3395 closed

[2020-06-16 21:32] #3286 closed

[2020-06-16 21:32] #3328 closed

[2020-06-16 23:53] hibrenda commented on #3407
Hi, thanks for your comments. could you share the bot asset so we can deep dive into detail. @boydc2014 to be aware of this issue.

[2020-06-17 00:05] sangwoohaan commented on #3257
I can see the LU all-up view having the publish LUIS button, as well as the Start bot button having some sort of dropdown menu mechanism to determine the default behavior of it (whether clicking it would do publishing LUIS + running the bot at once or just running the bot).

[2020-06-17 01:19] xieofxie commented on #3257
Yes.. Dropdown is exactly I wanted

[2020-06-17 02:36] boydc2014 commented on #3422
Hey @UmaPrelude , the $data (data binding) feature which is a preview feature of adpativeCard called *templating*, we don't have native support that yet in Composer, in composer we used botframework LG to do data binding and send cards including adpativeCards.

Please refer to the card samples in our samples bots to check the LG files, you can either create a sample bot or here is a direct link to

[2020-06-17 03:13] hibrenda commented on #3422
@UmaPrelude Composer leverage LG capability for adaptive card rendering but not leverage the adaptive card rendering strategy. @Danieladu may take a look and provide the comments.

[2020-06-17 03:55] Danieladu commented on #3422
hi @UmaPrelude. If you just want to bind the data in advance (with LG system, but not AdaptiveCards template system), below is the workaround:
[code]

Hope that helps. Thanks!

[2020-06-17 04:36] DingmaomaoBJTU commented on #3418
You can use HTTP request step to do this:
![image](https://user-images.githubusercontent.com/16643193/84855152-faa5b180-b095-11ea-99ce-6cdd66c2bcf6.png)

Then you can fill your api key like below:
![image](https://user-images.githubusercontent.com/16643193/84855022-b31f2580-b095-11ea-8274-16edf9912c7d.png)

And you can save user input to dialog.search_input then fill url like this:
https://<YourDo

[2020-06-17 04:36] #3418 closed

[2020-06-17 05:18] hibrenda commented on #3377
@cxbuilders  the error is not introduced by LUIS. this is due to the unexpected format set in Value property.  you should define the value as a json object if the CardAction type is messageback. "text" content will be sent to your bot when the cardaction define the text content .

![image](https://user-images.githubusercontent.com/43408889/84857830-7a367f00-b09c-11ea-8b9a-828832217451.png)

[code]

[2020-06-17 05:56] UmaPrelude commented on #3422
Hi @Danieladu,

Thanks for your sugggestion.
But the thing is i am trying to dynamically  generate controls based on the number of array records.
So using the above suggestion, helps to assign the 0th index values. But what i am expecting is simply assigning the array property and generate the controls and assign its value. Which is not supporting right now. Please correct me if i am wrong.
Or can

[2020-06-17 06:08] UmaPrelude commented on #3422
Hi @boydc2014,

Thanks for your response. I am some how trying to dynamically populate the controls in one go for number of regards and send it as a single response, so that it will send one email response on email channel. now for each record we are using one card response and it is sending separate email for each card.

Regards,
UmPrel

[2020-06-17 06:21] hibrenda commented on #3257
This is also a workaround for https://github.com/microsoft/BotFramework-Composer/issues/3183. Now if  utterances under each intent are more than the ratio defined in setting page, down-sampling will always be invoked and also for luis publish. so it will do luis republished even if no lu file updates, this is not the user would like to see and also easy to hit luis publish limit. so if we provide

[2020-06-17 06:50] hibrenda commented on #3421
@cxbuilders Not sure I catch your request correctly. For the scenarios you mentioned, eg. sentiment setting for bot. This may need bot developer to handle it. eg. you can set user.sentimentstate and then use this as a variable in lg file to send different response to user. The first scenario can also follow this in the dialog design.

[2020-06-17 07:12] mweldingwala commented on #3418
@DingmaomaoBJTU  this would seem to  work if my dialog.result is one word and would create a url like so (let us assume dialog.result = 'hello'):

https://YourDomain.search.windows.net/indexes?api-version=2019-05-06&$select=hello

However, it would be an issue if dialog.result is multiple words like 'hello what is your name' cuz the url would look like this:

https://YourDomain.search.windows.net/

[2020-06-17 08:50] yeze322 commented on #3249
I can start from Ctrl + Click which is much easier than Shift + Click.

[2020-06-17 08:59] hibrenda commented on #3352
@KayMKM may help to comment.

[2020-06-17 09:07] KayMKM commented on #3352
I tried this scenario: use personName entity to validate text input. Hope this can help you.
![image](https://user-images.githubusercontent.com/19773357/84878626-abbf4280-b0bc-11ea-9eef-c2ab3e304873.png)
define prebuilt entity personName:
![image](https://user-images.githubusercontent.com/19773357/84878726-cd202e80-b0bc-11ea-8769-f0500cc264ba.png)
set validation:
![image](https://user-images.githu

[2020-06-17 09:16] Danieladu commented on #3422
I get what you want....
So, The expression library provides many operations on Array/List. I'm glad to provide some solutions here:
Solution1, Embed all text in one line:
[code]

Solution 2: Use Array operation to generate the list in json
[code]

Thanks!

[2020-06-17 11:23] skyscarer opened #3424 "Unknown Intent doesn't appear to be working correctly when using LUIS"
I have a project set up to use LUIS and I have triggers set so that if the confidence value of the intent is greater than 0.7, to go into that trigger.

However, I would expect that if the confidence value is below 0.7 for any of these triggers, it would go into the Unknown intent and trigger the flow in there however I keep getting an Object Reference error throwing instead.

Has anyone seen this

[2020-06-17 13:43] UmaPrelude commented on #3422
Hi @Danieladu,
Thanks a lot for your support.
Solution 2 is suitable for our scenario.

Regards,
UmPrel

[2020-06-17 13:43] #3422 closed

[2020-06-17 15:57] #3311 closed

[2020-06-17 17:01] cxbuilders commented on #3421
@hibrenda the request is that it should be possible within PVA to actually set those values manually by typing that. Now you can only pass values from variables. Currently I use a power automate flow to just set some ad hoc values that can be sent to the skill.

Additionally having a list property in the manifest would be great.

So basically this is a Bot Framework vs PVA request. Hope it can be

[2020-06-17 17:03] cxbuilders commented on #3377
@hibrenda Yeah, but I just want a button that does not trigger Luis. I was just giving some examples I did try. Luis, always kicks in, I don't want Luis for these buttons at all

[2020-06-17 18:51] ashritkulkarni commented on #3407
Does bot asset means the asset I’m using to build the chatbot? It’s an organisation provided laptop. Can you please elaborate the definition of bot asset or the details you need. Thank you so much for the support

[2020-06-17 19:30] LuizOVianna opened #3426 "Luis model not created if BotSettings LUIS defaultLanguage is not "en-us""
## Describe the bug

When you create a bot from a template, change Bot Settings for Luis/defaultLanguage to "pt-br" and click "start bot" it does not create a conversation APP at Luis interface and gives the messgae:

**_Sorry, something went wrong with publishing. Try again or exit out of this task._**
One or more errors occurred. Corresponding activity ID: b3c50378-4638-4fb4-9855-031b78e862cd.

[2020-06-17 23:53] hibrenda commented on #3409
@zhixzhan could you check this again

[2020-06-17 23:58] hibrenda commented on #3407
Bot asset include the dialog, lu and lg files which created by composer. As we could not repro the issue, so if you could let us know how to repro with few steps. That would be helpful. otherwise sharing the bot source code may also help us to deep dive the issues.

[2020-06-18 02:52] luhan2017 commented on #3301
@cxbuilders #3322 is merged, could you please try again on this?

[2020-06-18 03:22] #3208 closed

[2020-06-18 06:11] zhixzhan commented on #3409
Sure, maybe display more error detail instead of `someting went wrong` would be more helpful. I will take a look.

[2020-06-18 06:43] zidaneymar commented on #3412
Closed in PR:https://github.com/microsoft/botbuilder-dotnet/pull/4064

[2020-06-18 06:43] #3412 closed

[2020-06-18 06:45] zidaneymar commented on #3093
I didn't find a way to link luis with application insights but link the bot service and app insights based on @xieofxie 's comment in PR #3425

[2020-06-18 06:57] hibrenda opened #3428 "composer loading bot forever due to unexpected main dialog"
Based on the discussion with @lei9444  . This is the "forever loading" issue.

- in case ".dialog" file exists under bot root directory as below
![image](https://user-images.githubusercontent.com/43408889/84986893-dd461580-b171-11ea-8ac9-46754e8ae72f.png)
- open this bot will not loading any main dialog and will be in loading  state forever
![image](https://user-images.githubusercontent.com/434088

[2020-06-18 06:59] hibrenda commented on #3407
Could you check if you hit this issue https://github.com/microsoft/BotFramework-Composer/issues/3428

[2020-06-18 07:41] hraz-msft commented on #3412
@zidaneymar I still didn't see it's working nightly build of 6/16 still has this issue

[2020-06-18 08:00] rudrasingh21 opened #3429 "Getting Error: spawnSync C:\windows\system32\cmd.exe ENOBUFS"
Hi Team ,

I installed composer on my windows machine using given steps .

$ git clone https://github.com/microsoft/BotFramework-Composer.git
$ cd BotFramework-Composer
$ cd Composer // switch to Composer folder
$ yarn install // install dependencies
$ yarn build // build extensions and libs
$ yarn startall // start client and server at the same time

I am facing error Error: spawnSync C:\windows\

[2020-06-18 08:04] rudrasingh21 opened #3430 "Composer unable to identify .NET SDK"
Hi Team ,

I installed .NET Core SDK  3.1.300 then Emulator and then Composer.

repeated this exercise multiple times but all the time when I  click Start BOT on composer , Everytime it is throwing error.

Composer needs .NET Core SDK

To run this bot, Composer needs .NET Core SDK. Learn more.
Install Microsoft .NET Core SDK

So I am not able to use composer.

Could you please suggest how to resol

[2020-06-18 09:14] luhan2017 commented on #3430
@rudrasingh21 which version of composer you are using, we have a known issue #3182 about the error message not precise, and we had fixed it in the latest master.

[2020-06-18 09:18] luhan2017 commented on #3424
@vishwacsena, this behavior is expected from the sdk side, any suggestions?

[2020-06-18 09:27] hibrenda opened #3431 "Copy default custom runtime hit errors"
- create a bot
- under runtime config to enable custom runtime
- click copy default runtime will hit following error
![image](https://user-images.githubusercontent.com/43408889/85003472-d70f6380-b188-11ea-8295-e92202d904e7.png)

[2020-06-18 09:31] hibrenda opened #3432 "custom runtime error should be user friendly"
- create a bot
- runtime config to use custom runtime
- either runtime code location or start command is not correctly set, start bot will hit following error
![image](https://user-images.githubusercontent.com/43408889/85003917-7896b500-b189-11ea-856e-5723c2267f9d.png)

we should provide valid error info to user.

[2020-06-18 09:47] rudrasingh21 commented on #3430
Let me give you few updates:-

I installed as Application(.exe)
Bot Framework Composer(v1.0.0).
then it asks me (POP UP) to update composer , I updated it , now version (v1.0.1 ) I have in my windows machine.

 Still I am facing the same issue.
[
Composer needs .NET Core SDK

To run this bot, Composer needs .NET Core SDK. Learn more.

Install Microsoft .NET Core SDK
]

On the other side I have {Mi

[2020-06-18 09:49] rudrasingh21 commented on #3429
it shows version V1.0.1 when i run this on http://localhost:3000/home

[2020-06-18 09:51] mweldingwala opened #3433 "Embed a property within a property/ Access JSON elements dynamically"
Could I embed a property within a property. For example, consider that my bot is calling a bitcoin to currency change API which returns a JSON of the type in the picture:

<img width="1071" alt="Screen Shot 2020-06-17 at 5 32 14 PM" src="https://user-images.githubusercontent.com/63029134/85006075-4486aa00-b11f-11ea-80f7-f01f3eb0cad0.png">

 Let us assume that I saved this response in dialog.api_re

[2020-06-18 09:58] rudrasingh21 commented on #3430
detailed error :-

PS D:\Study\BOT\EchoBot-0\runtime> dotnet run --project azurewebapp
D:\Study\BOT\EchoBot-0\runtime\core\Microsoft.BotFramework.Composer.Core.csproj : warning NU1701: Package 'Microsoft.CSharp 4.5.0' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,

[2020-06-18 10:09] hibrenda commented on #3431
And if user toggling custom runtime into disable, click startbot  will still hit [object object] error

[2020-06-18 10:32] hibrenda commented on #3426
@LuizOVianna Thanks for the comments. This is a known issue and we are working on it now. It will be supported soon.

[2020-06-18 10:34] hibrenda commented on #3429
@liweitian could you have a look ?

[2020-06-18 14:10] skyscarer commented on #3424
@luhan2017 I've added into my unknown intent intent a response as shown:

![image](https://user-images.githubusercontent.com/1926718/85030343-3f544a00-b175-11ea-8801-946707d9084b.png)

However upon running my bot, i'm still receiving the Object Reference Error:

![image](https://user-images.githubusercontent.com/1926718/85030498-6c086180-b175-11ea-8663-0be6ebc2e46e.png)

Upon checking the request

[2020-06-18 16:44] cwhitten commented on #3316
To implementer:

We did work internally last year to serialize sensitive settings information to a secure cloud product like KeyVault.

The work here would be to pick that back up and represent it as a plugin or part of the storage serialization mechanism to persist settings data to a secure cloud store instead of a local appsettings.json.

[2020-06-18 16:48] cwhitten commented on #3318
@a-b-r-o-w-n to consider these scenarios are part of UI plugin work

[2020-06-18 16:57] cwhitten commented on #3393
@vishwacsena do we plan to add the new component schema fields as part of the SDK schema definitions? Is this tracked with another issue?

[2020-06-18 17:24] hatpick commented on #3309
@mareekuh in what order the list should appear under the settings:
Here are the items: Bot settings,  App settings, Runtime config and About. (this is the current order)
Given that the App settings and About are enabled all the time and app settings will be pre-selected when one navigates to settings by clicking gear icon.

[2020-06-18 18:10] tdurnford opened #3435 "[property-editor] Add dialog editor to the Adaptive Dialog Property Editor"
## Description
Add code-editor to the Adaptive Dialog Property Editor to create and edit `*.dialog.schema` files.

## Additional context
Related to #3393

[2020-06-18 18:13] mareekuh commented on #3309
Response to Chris' proposal:

1. Move Info page into Settings page - MI Agreed (info = 'About'? -> Add 'About' nav item in Settings for this info.
2. Remove/replace Info icon/location with Settings cog (move to bottom left) - MI Agreed.
3. Settings cog is always enabled and interactable - MI Agreed.
4. Bot settings & Runtime config in subnav of Settings page are disabled if no bot is currently loa

[2020-06-18 18:45] hatpick commented on #3309
@mareekuh I did not understand the last part regarding the ordering, would you please elaborate?

[2020-06-18 19:34] vishwacsena commented on #3317
related to microsoft/botframework-cli#805

[2020-06-18 20:15] mareekuh commented on #3309
1. Bot Settings
- General
- Run time

2. App settings
3. About

https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=2812%3A357

[2020-06-18 23:32] SattaRavi opened #3438 "Composer User experience - Bot publishing"
HI,

I am using the composer built from source on a windows 10 computer.

i see the composer UI different across documentation examples, screen snips posted by others here on the github issues.

for e.g.

In the case of publishing the bot app built by the composer. The documentation [here](https://docs.microsoft.com/en-us/composer/how-to-publish-bot) explains how to use provisionComposer.js to pro

[2020-06-18 23:55] zxyanliu commented on #3438
@SattaRavi Thanks for your feedback. Can you please tell us what Composer version are you using?
Our docs are currently aligned with [Electron version 1.0.1](https://github.com/microsoft/BotFramework-Composer/releases) and might be slightly behind the most recent [master](https://github.com/microsoft/BotFramework-Composer) branch.

[2020-06-19 02:07] luhan2017 commented on #3412
@hraz-msft , could you please try the nightly build of 6/17 or 6/18, it should be included there.

[2020-06-19 02:10] luhan2017 commented on #3430
@rudrasingh21 I think you might enable other package sources in your local environment? could you please try to disable them and run again?

[2020-06-19 02:55] xieofxie commented on #3421
hi @cxbuilders I am not sure if I understand the scenario correctly. Do you want to pass some variables that are set in PVA to the skill when the skill is called in PVA?

Currently you can do so by adding 'event' activities in the manifest like this https://github.com/microsoft/botframework-skills/blob/master/skills/csharp/pointofinterestskill/wwwroot/manifest/manifest-1.0.json

Then you will have

[2020-06-19 05:56] shashank912 opened #3439 "Bot publish issue"
Could I please know the new process to publish the Bot created via Composer .
I was able to publish the Bot to Azure portal using access token and Microsoft app Id and Password but when I tried testing in web chat it failed
Can I please get help on this

[2020-06-19 06:01] hibrenda commented on #3439
@shashank912 Just FYI: how to publish bot through composer.
https://docs.microsoft.com/en-us/composer/how-to-publish-bot.
If you hit any issues after publish, could you share the screenshot ?

[2020-06-19 09:23] hibrenda commented on #3377
This is due to you set the recognizer type as "Luis"  for this dialog. So each turn will go through recognizer . if you set the recognizer as "none" for this particular dialog, it won't trigger the luis.

[2020-06-19 10:57] rudrasingh21 commented on #3429
Could you please help on this?

[2020-06-19 11:00] rudrasingh21 commented on #3430
@luhan2017  :- Thanks for your analysis .

Could you please tell me what do you mean by other package source are enable?

Request you if you can suggest me specific what I need to disable ?

[2020-06-19 11:18] cxbuilders commented on #3377
@hibrenda Yeah but that's exactly what I need. Either have the user type something with NLP or click a button without NLP. This is a fairly typical setup that I have used many times in other platforms.

[2020-06-19 11:22] liweitian commented on #3429
Could paste everything after you type ”yarn startall“ showed on your terminal? It probably an environment setting issue on your PC.

[2020-06-19 11:37] ku222 opened #3441 "(Post-Deployment) Conversation Log Data Quality Issues"
Hi there,
Have a deployed Composer bot on Azure through the CLI shell, already deployed and hooked up to Cosmos DB, Blob Storage, etc.

Most logging + data collection is working fine, but am running into two issues:

1. Actual words typed by the user (transcripts) are being dumped in Blob Storage rather than in Cosmos DB with the rest of the supporting conversation log info. Is there any way to ch

[2020-06-19 15:29] Trubzzz commented on #3352
This looks to be working! Adding that validation rule works for this entity and my bot, so thank you very much! Appreciate your efforts and for helping to resolve this issue!

[2020-06-19 15:29] #3352 closed

[2020-06-19 19:39] SattaRavi commented on #3438
Hi @zxyanliu

i am building from source code, using the steps listed [here](https://docs.microsoft.com/en-us/composer/setup-yarn#installation-instructions).

And i believe when i **yarn startall** it always checks for version updates and makes sure it on the latest version.

[2020-06-19 19:41] SattaRavi commented on #3438
Also while trying to make updates and pushing the chnages to the bot does not work too.

![image](https://user-images.githubusercontent.com/6824787/85174344-07f3a500-b22a-11ea-9299-390030cfa3d0.png)

script shows publish success, but cannot see any recent deployments made on the RG or the resource.

[2020-06-19 21:40] JalalUddin7 opened #3442 "Bot does not initiate conversation through Greeting activity on Web App"
## Describe the bug

During testing, the bot functioned well. Upon loading the bot on the Emulator, the first welcome message I included is triggered. However, after I published the bot to the web, the bot does not initiate conversation. Only after I input something, does the bot trigger the welcome message - which is not intuitive at all.

## Version

Versions:
BFC: V1.0.1
8.0.2: Electron distrib

[2020-06-19 22:58] tdurnford commented on #3442
@JalalUddin7 There are a couple of nuances to the Welcome Message in Web Chat that depend on the user id and how you generate the Direct Line token. Please take a look at the [Web Chat  Welcome Message](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/WELCOME_MESSAGE.md) for more details on how to configure the request correctly.

[2020-06-20 14:24] bartbilliet opened #3443 "No runtime version available when ejecting bot runtime"
## Describe the bug

When trying to eject the bot runtime, no runtime version is available to select. The runtime versions field is empty.
Since the selection is not available, the runtime cannot be ejected, which blocks (amongst others) creating custom actions.

## Version

![image](https://user-images.githubusercontent.com/23324404/85203962-6f385480-b311-11ea-986c-b52fe8e20455.png)

The issue is

[2020-06-20 16:45] bartbilliet opened #3444 "Something went wrong with connecting bot runtime"
## Describe the bug

Starting the sample EchoBot bot produces error **Sorry, something went wrong with connecting bot runtime**.

## Version

![image](https://user-images.githubusercontent.com/23324404/85206850-330eef00-b325-11ea-9ee2-ae399862a594.png)

The issue is producing in a nightly build version.

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

##

[2020-06-21 04:28] rudrasingh21 commented on #3429
config the PATH = C:\Windows\System32\cmd.exe

present .

”yarn startall“ showed on your terminal:-

PS D:\Study\BOT\BotFramework-Composer-master\composer> yarn startall
yarn run v1.22.4
$ yarn start
$ cross-env NODE_ENV=production PORT=3000 yarn start:server
$ yarn workspace @bfc/server start
$ node build/init.js
express-session deprecated undefined resave option; provide resave option build\serv

[2020-06-21 07:24] bushdav opened #3445 "Unable to Test Bot, Keep reloading"
Can't Test Bot , it keeps reloading over and over

[2020-06-21 20:50] rubit0 opened #3446 "Tenant Id publishing script must be non optional."
## Describe the bug

Prerequisite: The used Azure Account is member of several organizations.

When following the [Create Azure resources](https://docs.microsoft.com/de-de/composer/how-to-publish-bot#create-azure-resources), at step 3 you will get an error about "User not found".

## Version

v 1.0.1

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2020-06-21 21:32] ramonck commented on #3367
Hi @luhan2017,

I was able to deploy with success, thanks.

[2020-06-21 21:32] #3367 closed

[2020-06-22 02:43] VanyLaw commented on #3301
stale

[2020-06-22 03:01] hibrenda commented on #3445
@bushdav Could you share more info ? eg. the root level directory for dialog files ?
could you check whether you hit similar issue to https://github.com/microsoft/BotFramework-Composer/issues/3428

[2020-06-22 03:04] hibrenda commented on #3446
@zxyanliu to be aware of the tenant id updates.

[2020-06-22 03:08] hibrenda commented on #3441
@zidaneymar could you comment ?

[2020-06-22 03:08] hibrenda commented on #3443
@VanyLaw for more investigation

[2020-06-22 03:44] luhan2017 commented on #3446
@rubit0 , we had a fix for this here #3359, which will be available soon in the next patch release. In this PR, we switched to another API to get the tenant id which is bound to this subscription.

[2020-06-22 03:46] zxyanliu commented on #3446
@luhan2017 Let's sync offline for any updates I should make in the [doc](https://docs.microsoft.com/en-us/composer/how-to-publish-bot).

[2020-06-22 03:54] luhan2017 commented on #3430
I mean you can open runtime solution in visual studio, right click the solution, select "Manage Nuget Packages", Then click settings in the upper right corner, you will see something like this:

Uncheck the unused packages sources, and try to build again.

![image](https://user-images.githubusercontent.com/32191031/85246956-dcb5c380-b47e-11ea-9c2e-018541e55f83.png)

Please let me know if it not wo

[2020-06-22 05:04] shashank912 commented on #3439
I have configured my composer with Luis and QnA and have published it in azure using below steps but I am unable to test it .

Is this because the Bot in azure is not configured with QnA?

Regards
Shashank
From: Brenda Bai <notifications@github.com>
Sent: Friday, June 19, 2020 11:32 AM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Mital, Shashank <shashank.mita

[2020-06-22 05:17] hibrenda commented on #3377
@vishwacsena  do you have comments to support NLP toggling for each turn ?

[2020-06-22 05:52] madbeher opened #3447 "error on menu"
Hi,
I want to create menus yes/no but when i select the menus i am getting below error.
Can anybody give me a solution for this issue.

error: Object reference not set to an instance of an object.

thanks...

[2020-06-22 06:32] hibrenda commented on #3439
composer support QnA to be called as an action , you need to publish your QnA and provide knowledgeBaseID , hostname and Password in setting. You can reference https://docs.microsoft.com/en-us/composer/how-to-add-qna-to-bot . More deep integration with QnA is on the way.

[2020-06-22 06:34] cxbuilders commented on #3170
@benbrown I have tried to contact you last week via the email provided on https://github.com/benbrown. Can you let me know if you have time to discuss the best way on setting this up globally?

[2020-06-22 06:38] bushdav commented on #3445
It has worked for me After, thanks for the help.
For any documentation about the Bot framework, please share with me.

Regards,
David B.

On Mon, 22 Jun 2020 at 05:01 Brenda Bai <notifications@github.com> wrote:

[2020-06-22 07:08] shashank912 commented on #3439
are u talking about I need to add in the configuration settings of azure portal?

[2020-06-22 07:12] shashank912 commented on #3439
in composer I am able to add QnA and when I am testing with emulator it is able to connect and give me the desired result.Issue is post publish to azure

[2020-06-22 07:16] shashank912 commented on #3439
Could any one please help
![image](https://user-images.githubusercontent.com/60638224/85259283-66b55a80-b486-11ea-92ff-ab6cd108d38a.png)

[2020-06-22 07:17] shashank912 commented on #3439
Could anyone please help in this

[2020-06-22 07:36] hibrenda commented on #3314
addressed in 3337

[2020-06-22 07:36] #3314 closed

[2020-06-22 07:39] hibrenda commented on #3447
could you share the dialog file for more evaluation ?

[2020-06-22 07:47] hibrenda commented on #3439
could you provide the error info ? if everything works fine in local, it should be worked in azure as well.
So please make sure the provisioning steps are all correct. Then no failures for deploy process. In that case, what failure you are hitting during the test in webchat ?

[2020-06-22 07:48] shashank912 commented on #3439
Resource/BotFrameworkIFrame/BotFrameworkIFrameBlade 29 BotFrameworkIFrameBlade: Failed to check bot endpoint _errorData: message: Cannot read property 'requestedDataType' of undefined
stack: TypeError: Cannot read property 'requestedDataType' of undefined
    at https://portal.azure.com/Content/Dynamic/sH6na45YNsUu.js:105:5569
    at r (https://portal.azure.com/Content/Dynamic/sH6na45YNsUu.js:26:3

[2020-06-22 08:05] zidaneymar commented on #3441
issue 1: Actually we don't provide the transcript logger which supports cosmos db, it needs to implement the corresponding middleware in runtime.
issue2: I need further investigation on this, currently the state looks like this:
![image](https://user-images.githubusercontent.com/9328933/85263525-dedd4980-b4a1-11ea-9c7f-9683cecdfffc.png)
I think the state of a dialog should use the dialog name as i

[2020-06-22 08:10] madbeher commented on #3447
[luis1.zip](https://github.com/microsoft/BotFramework-Composer/files/4811995/luis1.zip)

I worked successfully with menus in Composer preview version but in New composer version i am getting error.

[2020-06-22 08:34] VanyLaw commented on #3443
Hi @tonyanziano, It seems like the electron load plugins folder error. I tested in local and found the plugins our nightly-build version loaded was previously.
FYI.
For example, the azure function plugin name was changed to @bfc/plugin-azure-functions-publish.
![image](https://user-images.githubusercontent.com/21174180/85264905-02a18f00-b4a4-11ea-8989-31aaa6f446d7.png)

I try to build electron loc

[2020-06-22 08:39] ku222 commented on #3441
@zidaneymar - noted on issue 1 - guess we'll have to implement that ourselves.

Issue 2: our Cosmos DB logs look exactly like yours - the only named dialog ID is the **root dialog** file of our bot ("new_bot.dialog" in our case).

![image](https://user-images.githubusercontent.com/44293915/85266072-38765180-b46b-11ea-9253-f63861f8e06d.png)

However, all of our actual dialogs in the new_bot > dialo

[2020-06-22 09:20] hibrenda commented on #3447
- Don't add choiceinput in Greeting as it will change the turn value. so you will get "object xxx" error due to turn.activity.membersAdded got changed.
![image](https://user-images.githubusercontent.com/43408889/85270408-d722a280-b4ab-11ea-9c79-7d897e39562b.png)
- try to avoid using '-' in variable. as "-" will be recognized as minus in expression which might got different meaning in condition fil

[2020-06-22 09:49] shashank912 commented on #3439
unable to send message

[2020-06-22 09:52] yeze322 commented on #2268
Close this issue because of it's overlapped with the 'v-dialog' feature which is under development by Zhixiang.

[2020-06-22 09:52] #2268 closed

[2020-06-22 10:16] yeze322 opened #3449 "Flow Editor zoom in / zoom out"
In Flow Edtior, the canvas could be zoomed in / zoomed out by either keyboard shortcuts or a minimap.

1. Use Ctrl + Mouse wheel to zoom in / zoom out;
2. Use Mouse Right Click + drag to move the focus area.

[2020-06-22 10:21] yeze322 commented on #3449
@sangwoohaan @DesignPolice guys do we have a UX design for that?
What's the expected behavior to control the zoom of the action canvas?
Shall we also provide a way to focus on different area such as mouse drag?

[2020-06-22 10:28] yeze322 commented on #2955
https://github.com/microsoft/BotFramework-Composer/commit/0dc5453b5a9084bf0720fc2a275e8cc40fb115eb

[2020-06-22 10:29] yeze322 commented on #2581
overlapped with Shell tasks, so remove this task from Visual Editor area.

[2020-06-22 10:29] #2581 closed

[2020-06-22 10:37] yeze322 opened #3450 "Flow Editor Action nodes UI refresh"
Are they finialized design?

[by Marc] https://www.figma.com/file/Ux0vucOvaLL2xH22WpFgV65X/MarcB_Composer-UI?node-id=3270%3A230
[by Sangwoo] https://www.figma.com/file/04DymSq4xElhOBdAyutvvTbq/Composer-SH-06.19-?node-id=3540%3A621

![image](https://user-images.githubusercontent.com/8528761/85278327-641f2900-b4b7-11ea-81f6-9905fb2abe8a.png)
![image](https://user-images.githubusercontent.com/8528761

[2020-06-22 10:55] rudrasingh21 commented on #3430
Hi @luhan2017 : I really appreciate , but I am not using Visual Studio (as I am not visual studio developer / programmer.)

I am just using (Composer / emulator and installed .NET SDK)

Is there any other way to incorporate the solution you provided?

That would be helpful.

[2020-06-22 10:55] rudrasingh21 commented on #3429
@liweitian  : Could you suggest please.

[2020-06-22 11:27] liweitian commented on #3429
@rudrasingh21 I think the problem is solved. Let me know if you meet some other issues.

[2020-06-22 11:33] rudrasingh21 commented on #3429
@liweitian  : no , I just shared logs with you . I am facing the same issue which accessing http://localhost:3000.

In the logs , there is no error message and tha PATH also has this entry PATH = C:\Windows\System32\cmd.exe

but still i am getting the same error.

[2020-06-22 11:42] liweitian commented on #3429
The error is showed in a pop up once you connect localhost rather than the terminal? Sry, I misunderstood that. I will check it.

[2020-06-22 13:14] madbeher commented on #3447
thanks @hibrenda

[2020-06-22 14:01] hibrenda commented on #2523
dup with https://github.com/microsoft/BotFramework-Composer/issues/2241

[2020-06-22 14:01] #2523 closed

[2020-06-22 14:08] hibrenda commented on #2252
tracked under #1422

[2020-06-22 14:08] #2252 closed

[2020-06-22 14:21] hibrenda commented on #2253
I agree. Renaming bot should support both dialog left nav and the property panel. This will track the name validation if we support renaming later.

[2020-06-22 14:38] madbeher opened #3451 "multiple choice prompt is not working in new composer"
[MyBot_PrviewComposer.zip](https://github.com/microsoft/BotFramework-Composer/files/4813792/MyBot_PrviewComposer.zip)
[MybotLuis_NewComposer.zip](https://github.com/microsoft/BotFramework-Composer/files/4813795/MybotLuis_NewComposer.zip)

Hi,
I had created sample bot(with multiple choice prompt) in preview composer and it was working fine when tested. I modified the bot as per the new composer pro

[2020-06-22 15:36] benbrown commented on #3170
@cxbuilders - hrrm! try benbro@microsoft.com

[2020-06-22 16:29] SattaRavi commented on #3438
Ok @zxyanliu

i guess i understand the issue now, most of the documentation is based off of the Composer client app installed (electron app) which does not apply to the build from source code composer.

Can we please publish a feature support matrix between build from source vs the composer client app(electron).

And also calling it out the documentation, like "Applies only to Composer Electron Ap

[2020-06-22 17:24] cevans-or opened #3452 "Publishing a BOT fails with a ENOENT: no such file or directory open"
## Describe the bug
I am trying to publish a BOT to the Azure portal using the BOT composer.  I run
the  node provisionComposer.js command to create Azure resources and the publish
profile.  The AZ resources are successfully created in the portal and the publish configuration
is created.  I then create a new publish profile within Composer and then add the newly created publish configuration  to t

[2020-06-22 17:30] cxbuilders commented on #3170
@benbrown sent you a mail. In case it did not arrive, please send me an email to bastiaan cxbuilders.com

[2020-06-22 18:10] GeoffCoxMSFT commented on #3309
@cwhitten - We need to figure out if we want to make the proposed small improvement or not do it as the larger figma specified improvements are pending.  Also, @hatpick  has a conflict between the react router paths that are settings based vs. bot specific to resolve that needs your guidance.

[2020-06-22 18:29] sangwoohaan commented on #3449
I don't think we are ready to move forward with this feature yet.

[2020-06-22 19:23] mareekuh commented on #3309
What are you referring to for the large vs small improvement.
As far as I understand, this is about.
1. Moving settings to the bottom left
2. Adding 'about' to the settings as a tab
3. Adding 'runtime' as a sub-section in Bot settings.

[2020-06-22 19:53] vishwacsena commented on #3317
@pchoudhari I do not see `UserID` exposed via the the `qnamakerrecognizer`. Can you comment?

[2020-06-22 19:56] #3442 closed

[2020-06-22 20:20] cwhitten commented on #3309
Soroush and I chatted and I believe we're aligned. He is going to update
some internal routing definitions and will report back if it doesn't get us
to where we need to be.

On Mon, Jun 22, 2020 at 12:38 PM mareekuh <notifications@github.com> wrote:

[2020-06-22 20:22] tonyanziano commented on #3443
I've taken a look and the problem is that since #3322, plugins are now inside of the yarn workspace (`/packages/plugins/`), and the plugins have their dependencies hoisted.

This means that they are not independently functional, and do not contain all of their own dependencies when not inside of workspace.

When we packaged the Electron app, we need a plugin directory to point the plugin loader to

[2020-06-22 20:22] #3399 closed

[2020-06-22 20:33] #3093 closed

[2020-06-22 22:00] vishwacsena commented on #3345
@HesselWellema when you have multi-turn prompt in QnA maker, then subsequent user replies to multi-turn prompt are only handled by QnA maker. We are working on a more deeper integration with QnA maker and until that is available in composer there isn't a way to do consultation across LUIS and QnA maker.

This capability however does exist in the SDK. You could consider switching your bot to be SDK

[2020-06-22 22:00] a-b-r-o-w-n opened #3455 "Allow custom grouping of custom actions in action flyout"
We need a way for users to group their custom actions in the flyout menu.

[2020-06-22 22:07] a-b-r-o-w-n opened #3456 "[test] increase test coverage to 70%"
This issue is meant to be a long running issue that tracks efforts to increase unit test code coverage.

At the time is was created, coverage sits around 49%. Let's target an increase of 20% for R10.

[2020-06-22 22:09] a-b-r-o-w-n opened #3457 "Optimize client bundle size"

[2020-06-22 22:11] a-b-r-o-w-n opened #3458 "Improve error messages for common errors"
Let's compile a list of common errors that could use some TLC.

[2020-06-22 22:41] vishwacsena commented on #3377
@cxbuilders your expectation is right. [This PR][1] addressed the issue where the LuisRecognzier was always returning an intent recognition even if the text was empty. This should be available in composer as part of next release.

You can use `adaptive cards` if that works for your use cases. This still requires you to set up custom triggers to handle button click actions.

[cardSample.zip](https:

[2020-06-22 22:52] vishwacsena commented on #3424
@skyscarer the unknown intent does trigger when no other `OnIntent` triggers fire. Here is an example bot.

The error you see might be caused by the `Fallback` dialog. Can you try to remove it to isolate the issue?

[testUnknown.zip](https://github.com/microsoft/BotFramework-Composer/files/4815935/testUnknown.zip)

![image](https://user-images.githubusercontent.com/20918136/85342848-5611de00-b4a0-

[2020-06-22 23:11] zxyanliu commented on #3450
@yeze322 Sorry, my finger just slipped. I did not mean it. : -)

[2020-06-22 23:12] mareekuh commented on #3419
Including Sang.

[2020-06-22 23:14] sangwoohaan commented on #3419
Yeah this is great. I was the log to console node for commenting.. I'll get on this.

[2020-06-22 23:16] mareekuh commented on #3333
I just reread this. You're asking for a larger area to edit the manifest.
Does it need to be larger than this? https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=1428%3A14724

As far as I understand these flows are still plan-of-record, but didnt make it in before Ignite

[2020-06-22 23:17] mareekuh commented on #3380
Yup, thank you. A more user friendly experience is spec'ed and in the works.
Groetjes,
Marieke

[2020-06-22 23:46] hibrenda commented on #3295
should be fixed and addressed by #3337

[2020-06-22 23:46] #3295 closed

[2020-06-22 23:48] hibrenda commented on #3447
close this as it has been solved

[2020-06-22 23:48] #3447 closed

[2020-06-23 01:43] hibrenda commented on #3445
so should I close this issue ?

[2020-06-23 01:45] hibrenda commented on #3452
@zidaneymar

[2020-06-23 02:18] xieofxie commented on #3333
To be honest, since we are offering a plain text editing experience here. I often just open it in VSCode etc. to edit.

[2020-06-23 02:59] hibrenda commented on #3451
Hi @madbeher This is introduced by old version of the dialog file.
We changed the bot structure and naming strategy for LU/LG files in early this year.
I checked your sample bot. you need to manually update your dialog file as below.
click showcode for dialog file and update corresponding LG.
![image](https://user-images.githubusercontent.com/43408889/85356024-7b562900-b540-11ea-9c51-81abbcf63a96.

[2020-06-23 03:00] sandeepreddy0987 commented on #3439
Hi, Can someone tell me how to get Apppassword while publishing the bot to azure?
![image](https://user-images.githubusercontent.com/33647692/85356122-69866e80-b4cb-11ea-9d0f-defedbbb0aa2.png)

[2020-06-23 03:42] sandeepreddy0987 opened #3460 "Unable to provision the bot using provisioncomposer.js command"
I am unable to provision the bot. 1)Can someone provide where to find the App password?
2) Do we need to create a web bot in azure before publishing to azure?
![image](https://user-images.githubusercontent.com/33647692/85358571-4f4f8f00-b4d1-11ea-9887-0d1abebf83c3.png)

[2020-06-23 03:51] shashank912 commented on #3439
In configuration
From: Sandeep_tandra <notifications@github.com>
Sent: Tuesday, June 23, 2020 8:31 AM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Mital, Shashank <shashank.mital@philips.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/BotFramework-Composer] Bot publish issue (#3439)

Hi, Can someone tell me how to get Apppassword while publi

[2020-06-23 03:55] sandeepreddy0987 commented on #3439
Hi Shashank,
Do i need to provide app id and password manually or Can you please give me steps to retrieve that?

[2020-06-23 04:00] shashank912 commented on #3439
Microsoft app id and password right?
u need to go to app services in azure portal-->Choose the service --> Once opened In that there is a configuration tab in left there u will get it

[2020-06-23 04:15] sandeepreddy0987 commented on #3439
oh!! do we need to create web bot in azure portal before deploying to azure?

[2020-06-23 04:25] shashank912 commented on #3439
yes

[2020-06-23 05:09] sandeepreddy0987 commented on #3439
Hi @shashank912
I am still facing an error. Can you please guide me in publishing my bot to azure?
I can share my screen if required

[2020-06-23 05:21] shashank912 commented on #3439
where are u publishing from

[2020-06-23 05:23] sandeepreddy0987 commented on #3439
I am following this link:
https://docs.microsoft.com/en-us/composer/how-to-publish-bot

[2020-06-23 05:24] sandeepreddy0987 commented on #3439
But it is giving me above error while running node composerprovision.js ...... command

[2020-06-23 06:01] shashank912 commented on #3439
no nothing doing in publish settings in composer u will have to fill certain details once  u select publish to web.There u have to give ur access token

to get access token u will have to run this command az account get-access-token in command prompt once u have installed azure cli

Details to give is account number and microsoft app id and password and host name at last

[2020-06-23 06:03] sandeepreddy0987 commented on #3439
Can you give me the screenshot of something you did and it worked?

[2020-06-23 06:17] bushdav commented on #3445
Yes

On Tue, 23 Jun 2020 at 03:43 Brenda Bai <notifications@github.com> wrote:

[2020-06-23 06:50] luhan2017 commented on #3430
@rudrasingh21 could you try the following steps?
- download nuget.exe from here https://www.nuget.org/downloads
- run nuget.exe sources, you will get a list of nuget sources which is marked as Enable/Disable, here is an example:
[code]
- nuget.exe sources Disable -name "your source name(such as ComposableDialog)" to disable unused source.

You can only keep nuget.org to make composer work.
Please

[2020-06-23 07:22] rudrasingh21 commented on #3430
![image](https://user-images.githubusercontent.com/30667041/85372782-f83ccf00-b54f-11ea-9133-a8c033a601aa.png)

Hi @luhan2017  :- I followed steps provided by you , I only can see nuget.org , and that is showing enabled . I can't see anything else enable or disable.

PS C:\Users\Seema\Downloads> .\nuget.exe sources
Registered Sources:
  1.  nuget.org [Enabled]
      https://api.nuget.org/v3/index.

[2020-06-23 07:29] luhan2017 commented on #3460
@sandeepreddy0987 , what version of Composer are you using? we had a fix on this #3359 , could you try to use the latest master or you can wait to the next release of the Composer Electron which will be available soon.

[2020-06-23 07:31] sandeepreddy0987 commented on #3460
v1.0.1 is my botcomposer version

[2020-06-23 07:38] HesselWellema commented on #3345
thanks @vishwacsena. This is exactly what I need. I use JS for bot development and know adaptive daialogs are in preview. Do you  expect this recognizer to become available (in preview) soon in JS?

[2020-06-23 07:41] rudrasingh21 commented on #3429
@liweitian  Right . It comes as a POP up once I click on start BOT.

and the logs from powershell , where i run command "yarn startall" gives me below logs which I have shared with you already.

”yarn startall“ showed on your terminal:-

PS D:\Study\BOT\BotFramework-Composer-master\composer> yarn startall
yarn run v1.22.4
$ yarn start
$ cross-env NODE_ENV=production PORT=3000 yarn start:server
$ y

[2020-06-23 07:44] rudrasingh21 commented on #3430
please have a look on system variables-

![image](https://user-images.githubusercontent.com/30667041/85375056-5f0fb780-b553-11ea-96b8-204197183f3f.png)

![image](https://user-images.githubusercontent.com/30667041/85375133-7b135900-b553-11ea-9f26-7c9b49132ddc.png)

[2020-06-23 07:57] #3445 closed

[2020-06-23 08:50] zidaneymar commented on #3452
I can repro this issue. It's a weird behavior, after creating a new publishing profile and clicking publish, the azure deploy page would pop up a failure message at first and come up with a success deployment, @VanyLaw could you help figure out the reason? I think we should check the copy process is ready before deploying.
![image](https://user-images.githubusercontent.com/9328933/85382382-7bbae80

[2020-06-23 09:08] zidaneymar commented on #3452
@hibrenda  I have verified that this issue happens occasionally, not sure about the reason.

[2020-06-23 09:24] liweitian opened #3463 "QnA all up view"
implment all up view . https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-%2F-UI-library?node-id=313%3A15006

Support inline QnA CRUD

QnA errors notification

[2020-06-23 09:46] luhan2017 commented on #3460
@sandeepreddy0987 , this is a known issue in the v1.0.1, you can mitigate this by referring to this comment to add tenantId as a parameter for provision, https://github.com/microsoft/BotFramework-Composer/issues/3313#issuecomment-639235003, or you can wait for v1.0.2 release which will be available soon.

[2020-06-23 10:21] liweitian commented on #3429
@rudrasingh21 I finally understand your issue. Previously, I thought you cannot even start the web app. But actually it failed during publishing. Our code will spawn some children processes during publishing. The error means it run out of memory of buffer.
My colleague and I discussed on this issue. It should be problem on your local machine settings. But there are a lot of possible may cause this

[2020-06-23 10:44] vijaysaimutyala commented on #1993
+1

We also have our existing bots built in Python and our future bots will also be in Python. Would love to have Python support.

[2020-06-23 14:30] vishwacsena commented on #3345
@HesselWellema sure, JS is available in 'preview'. See sample [here][1]

[1]:https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/adaptive-dialog/javascript_nodejs/08.todo-bot-with-luis-qnamaker

[2020-06-23 14:30] srinaath opened #3464 "Recoil State Management For Application States"
We currently use the context API for our state management. As the application has matured we need a robust state management library. Recoil JS will be tried as a new state management library.

## Describe the solution you'd like
Our states are split into Application States and Bot States. This ticket addresses moving all application specific states to Recoil JS.

## Describe alternatives you've co

[2020-06-23 14:32] srinaath opened #3465 "Moving Bot specific states to use Recoil JS"
We currently use the context API for our state management. As the application has matured we need a robust state management library. Recoil JS will be tried as a new state management library.

Describe the solution you'd like
Our states are split into Application States and Bot States. This ticket addresses moving all Bot specific states to Recoil JS.

Describe alternatives you've considered
We ha

[2020-06-23 14:38] srinaath opened #3466 "Multi Bot Management Prototype"
To decide on an approach for dealing with opening multiple bots inside a single composer instance we are investing in a prototype. This ticket covers both engineering and design work to land a prototype that can be used as an accelerator for our Multi Bot management solution

## Describe the solution you'd like
The prototype is to build multi window approach where each bot is opened in a new Compo

[2020-06-23 14:42] srinaath opened #3467 "Bot Management Dashboard"
This ticket covers engineering and design task to build a Bot Management Dashboard view that gives an overview of all bots currently running in Composer. It gives us ability to Start, Stop, Restart, open bots in Emulator and Composer

[2020-06-23 15:03] #3345 closed

[2020-06-23 15:04] HesselWellema commented on #3345
Ok, tnx for your support

[2020-06-23 16:28] rubit0 commented on #2240
I'm experiencing the same issue, I have deployed a Bot from Bot Composer and it works fine via Web Chat channel but Direct Line Channel ist not working. I followed the [instructions](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0) to add the DirectLineExtensionKey to the App Service config. The json response has ... "i

[2020-06-23 18:35] tomlm opened #3468 "There isn't a way to create a folder when picking location for a bot"
## Describe the bug

I am creating a new bot, and want to pick the location.  I can browse folders, but I don't have a way of creating a new folder.

## Version

1.0.1

## Browser

## OS
- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. New bot
2. I put all of my bots in c:\scratch\bots.  I navigate there but there is no way to create folder for my bot.

[2020-06-23 18:44] tomlm opened #3469 "CREATING PROJECT: not clear that the bot will be put in a sub-folder"
## Describe the bug

I created a bot called "Foo" .  Since nothing in the UI gave any indication it would put it in a subfolder I put it in a folder called and put it in a sub folder **c:\scratch\bots\Foo**.  I was frustrated when the UI didn't tell me what it was going to do, because putting it in a shared folder could create a mess, so I put it in sub-folder.  Then I was doubly annoyed when I sa

[2020-06-23 19:32] tomlm opened #3470 "Luis settings ask for "PrimaryKey" and it should be "AuthoringKey""
## Describe the bug
LUIS has changed their portal experience to be explicit about AUTHORINGKEY vs ENDPOINTKEY.  Our UI just says "PrimaryKey" which is ambigious and if you don't provide an authoringkey it just fails.

## Version

1.0.1

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. try to publish a new bot with no key set

## Expected behavior

[2020-06-23 19:34] zxyanliu opened #3471 "A typo in Message received activity"
## Describe the bug
![image](https://user-images.githubusercontent.com/32497439/85449692-e9a0e880-b54c-11ea-89b0-faacb6407c4b.png)

![image](https://user-images.githubusercontent.com/32497439/85449827-0a693e00-b54d-11ea-8d07-891b6d05d8a9.png)

![image](https://user-images.githubusercontent.com/32497439/85449880-18b75a00-b54d-11ea-9bcf-da4b5cfa7186.png)

## Version

[Electron 1.0.1](https://github.

[2020-06-23 19:38] tomlm opened #3472 "Composer needs UI for defining None Intent utterances"
## Describe the bug
For LUIS models to work you need utterances which are examples of "not the intent".  They are called the **None** intent and the UnknownIntent is based off of None Intent.  The current UI doesn't give you anyplace to do that.

## Version

1.01

## To Reproduce

Steps to reproduce the behavior:

1. Add UnknownIntent...there is no None intent defined and no UI for adding utteranc

[2020-06-23 19:39] tomlm opened #3473 "User Input section doesn't have ability to define a new intent."
## Describe the bug

There is no way to define LU resources from the UI without dropping into "editor" mode.

## Version

1.01

## To Reproduce

Steps to reproduce the behavior:

1. Go to User Input.  There is no way to add a intent definition.

## Expected behavior
an Add button which lets me define a new intent.

## Screenshots

![image](https://user-images.githubusercontent.com/17789481/8545118

[2020-06-23 20:09] manashty commented on #3444
I have the same issues and it happens when update the nightly update. It was fixed once I installed the main version again but not that does not help either. The following issue also occurs: #3443 .

[2020-06-23 20:20] #3309 closed

[2020-06-23 20:23] manashty commented on #3444
I just fixed it by Uninstalling the composer from C:\Users\<user>\AppData\Local\Programs\Bot Framework Composer and running the installer of version 1.0.0.1093 and installing it on local user.

[2020-06-23 20:29] tomlm opened #3475 "Perf issue when there are syntax errors in LU editor"
## Describe the bug

When I am editing LU and if I paste in something it gives me an hour glass for a LONG time. I think it's because the syntax error parser?

## Version

1.0.1

## Browser
- [x] Electron distribution

## OS
- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to bot project,
2. Open up LU file
3. Enable editor
4. Paste in
[code]
Now cursor up and try to edit #f

[2020-06-23 20:34] manashty commented on #3443
I temporarily fixed this issue by Uninstalling the composer from C:\Users<user>\AppData\Local\Programs\Bot Framework Composer and running the installer of version 1.0.0.1093 and installing it for local user. Similar to @ #3444

[2020-06-23 20:37] tomlm opened #3476 "If I rename a prompt the assets should use the custom name"
## Describe the bug

When I start with a prompt and don't give it a name it auto generates intent and LG templates that have something really generic like **#TextInput_Prompt_KtxJeV**.  The problem is that as my project grows, that template becomes extremely hard to understand what is.  If I give that prompt a unique name **AskForUserFeedback**, then I would expect the template to be changed to **

[2020-06-23 20:57] #3249 closed

[2020-06-23 22:59] #3431 closed

[2020-06-23 23:47] bartbilliet commented on #3444
Downgrading to the latest stable does indeed work around the problem temporary - as long as in settings you deactivate the nightly builds flag.

[2020-06-24 02:18] feich-ms commented on #3071
lu parser is fixed. Composer need to switch to the latest bf-lu lib to resolve this issue.

[2020-06-24 02:22] luhan2017 commented on #2240
Reopen it since this issue is not fixed by the above PR, @zidaneymar , could you please take a look?

[2020-06-24 08:21] yeze322 commented on #3455
Besides custom actions, those built-in action menu items shall be customizable as well.

[2020-06-24 08:41] #3300 closed

[2020-06-24 09:21] rubit0 commented on #2240
I'm contributing to a microsoft documentation where the Bot Framework Composer is used, so I like to know if there is in the meantime a workaround to get the bot running with Direct Line - any help is appreciated.

[2020-06-24 15:33] GeoffCoxMSFT opened #3480 "Code hygiene: Rename index.ts and index.tsx files to specific names."
Scrub through the code to avoid index.ts (barrel files) and name index.tsx components to semantically meaningful names.

This will

- Help devs learn and find code faster
- Allow bundling optimizations and HMR to function better

[2020-06-24 15:34] GeoffCoxMSFT opened #3481 "Code hygiene: Prefer lambda arrow functions"
See if eslint can enforce this rule. Update code to use lambda arrow functions

[2020-06-24 15:36] GeoffCoxMSFT opened #3482 "Code hygiene: Use types rather than interfaces"
Update to declare types over interfaces.

•	Hooks, immer, and recoil will all prefer types over interfaces to avoid prototype breaks
•	Infer types when possible - there are some places where types are over-declared
•	We can leverage inferred types to help the code require less maintenance and not assume mismatched type

[2020-06-24 15:40] GeoffCoxMSFT opened #3483 "Improvement: Abstract localization, remove inline string literals"
Provide improved indirection for localization of strings.  Could even provide runtime localization switching (like theming) in the future.

[2020-06-24 15:41] GeoffCoxMSFT opened #3484 "Code hygiene: Remove old _underscore prefix for “private” methods"
See if eslint can detect and prevent.  Update to to remove _ prefix from function scoped const methods.

[2020-06-24 15:42] GeoffCoxMSFT opened #3485 "Code hygiene: Hide ignored folders in vscode, update prettier config"
•	Update prettier config and editor config for standard OSS formatted code
•	Ensure these get matched with any PR checks
•	Turn on format on save
•	Organize imports

[2020-06-24 15:43] GeoffCoxMSFT opened #3486 "Debug/Fix HMR support"
HMR seems to have some troubles with different pieces being changed
- Need a module.hot replacement at the index root
- Need to figure out constraints about extension being updated and HMR reloading

[2020-06-24 15:45] GeoffCoxMSFT opened #3487 "Improve webpack build and bundling"
- Consider the split-chunks
- Analyze dependencies and bundling results
- See how we might optimize build times

Work with Andy Brown to ensure team is up-to-date on the challenges/solution

[2020-06-24 15:56] GeoffCoxMSFT opened #3488 "Dialog generation: Provide bf-generate functionality from Composer server"
Composer server needs to expose the dialog generation capabilities from the bf-generate component.

[2020-06-24 16:00] #3471 closed

[2020-06-24 16:24] C0deBless opened #3490 "Undo Intent Deleted "Sorry, trigger intent is not found in lu file""
I deleted a trigger "Intent Recognized" with name "ProblemaSistema".
After i clicked on Undo and "ProblemTicket" are restored correctly.
When i restared bot, i recived a follow error:

"Sorry, something went wrong with publishing. Try again or exit out of this task.
Sorry, trigger intent 'ProblemaSistema' is not found in lu file: compagnodibancopoc.en-us.lu"

I solved in this steps:
1. deleted "Pr

[2020-06-24 17:49] cwhitten commented on #3472
This is by design at the moment. @vishwacsena can you comment?

[2020-06-24 17:51] cwhitten commented on #3468
tagging @sangwoohaan for investigation

[2020-06-24 17:51] vishwacsena commented on #3472
I sync'd with @tomlm last night. If you need to add utterances to `None` intent, you can do so in the all up view for that specific dialog. In fact, you can add any number or intents directly in the all up view (including none or others).

Note that a `None` intent is not required for adaptive dialogs to fire the `OnUnknownIntent` handler. This will fire if no triggers within your dialog handle th

[2020-06-24 17:51] #3472 closed

[2020-06-24 17:53] cwhitten commented on #3469
tagging @sangwoohaan for investigation

[2020-06-24 18:14] cwhitten commented on #3473
This is by design. Adding @sangwoohaan for comment.

[2020-06-24 18:16] cwhitten commented on #3426
@zhixzhan @hibrenda @boydc2014 please consider in validation of the multi-language scenarios

[2020-06-24 18:17] cwhitten commented on #2705
Assigning @luhan2017 as an owner to get requirements and an appropriate solution

[2020-06-24 18:44] sangwoohaan commented on #3249
Just checked out the feature, I noticed some loose ends.

Scenario 1.
- You have a node that isn't part of any condition or loop(let's call this node A).
- You have a switch branch with multiple conditions and have some nodes on each of them.
- You selected node A, and the shift-clicked nodes in one of the branches.
- The selection shows you have only selected node A, the switch node, and nodes in

[2020-06-24 19:23] aimanfathi opened #3491 "Call http with non json response"
Is there a way from Bot Composer to call external http url that return non-json (xml or simple GET response text) response and parse that response content ?

[2020-06-24 19:33] beyackle commented on #3484
I'll take this on - it fits well with the code-hygiene push I'd been working on.

[2020-06-24 19:42] tomlm opened #3492 "I have a bot with a single dialog and I can't seem to set "AutoEndDialog" property"
## Describe the bug
There is no way for controlling the behavior of the root dialog?

## Version

1.0.1

## To Reproduce

1. create a dialog, try and set AutoEndDialog property.

## Expected behavior

To be able to set AutoEndDialog property to true or false.,

[2020-06-24 20:15] vishwacsena commented on #3490
@cwhitten can we prioritize investigating what's causing this error? @tomlm ran into this exact same error yesterday and the repro there was the following -

1. Go to all up view and manually add an intent `#None` (or whatever intent name) with some utterances
2. Click on (re)start bot so a LUIS app is set up.
3. Ensure there are no triggers associated with the new intent in the dialog.
4. Go back

[2020-06-24 20:22] GeoffCoxMSFT commented on #3484
Sounds good - all yours.

[2020-06-24 21:01] #2692 closed

[2020-06-24 21:46] sangwoohaan commented on #3473
Currently, even if you define a new intent, there's no way for you to hook it up with triggers and prompts unless you directly modify the code. We are currently working on the overall improvement on this side of UX.

[2020-06-24 22:33] sangwoohaan opened #3494 "Toolbar design improvements"
As the top toolbar gets crowded, I would take to take some time to improve the experience of it. Currently,
- Too many items in the design view.
- Discoverability issues have been brought up.

[2020-06-24 22:34] sangwoohaan opened #3495 "Folder system for dialogs"
Request from the skills team.

[2020-06-24 23:24] hatpick commented on #3486
@GeoffCoxMSFT

What do you mean by the following?

[2020-06-24 23:38] damarqmsft commented on #3301
I'm also having this issue. I've tried pulling latest commit ( fd5d15a36d7e8407f47b301b05d3af548d9da776 ) and rebuilding

I see this message:
PUT /api/projects/70662.33507170361/files/appsettings.json 200 54.801 ms - 34
{
  status: 'DEPLOY_INFO',
  message: 'C:\\repos\\External\\BotFramework-Composer\\Composer\\plugins\\azurePublish\\lib\\publishBots\\2c8d239a607f2128c8455c973deecae9\\azurewebapp\

[2020-06-24 23:47] #3485 closed

[2020-06-25 06:17] soniaang opened #3497 "Echo Bot whne creating an hit Start bot"
Start bot button just spins indefenitely

[2020-06-25 07:32] pchoudhari commented on #3317
We currently do not support UserID in our API call, as it is not used in our service.

[2020-06-25 14:36] cwhitten commented on #3438
Hi @SattaRavi

The Composer desktop application and web application are the same--there is no matrix of support in terms of features or functionality.

Looking at your screenshots - your version of the application seemed well out of date. We've deprecated the screens you showed entirely.

I hope this helps. I'll close this issue for now. Thank you for trying Composer.

[2020-06-25 14:36] #3438 closed

[2020-06-25 14:38] cwhitten commented on #3429
@rudrasingh21 is self-hosting the Composer application from source a requirement? Can you use the installable desktop application instead?

[2020-06-25 14:42] goergenj commented on #3315
Adding info from project. We use the AppSettings on the Bot WebApps now and put these into the KeyVault. This is all Azure Services configuration so should be okay. You just need to make sure that the publishing scripts do now store secrets within the appsettings.files on the WebApps themselves. We ensure this by doing the deployment via Azure DevOps Pipelines.

I believe this topic can be solved

[2020-06-25 16:01] mareekuh commented on #3494
Marc has been working on this and will share his proposal today 6/25

[2020-06-25 16:36] cwhitten commented on #3450
@yeze322 lets hold off on these designs for now

[2020-06-25 16:40] a-b-r-o-w-n commented on #3476
Duplicate of #2884

[2020-06-25 16:40] #3476 closed

[2020-06-25 16:41] cwhitten commented on #3492
@tdurnford let's bring back autoEndDialog into the forms for an Adaptive Dialog as a boolean affordance

[2020-06-25 16:42] a-b-r-o-w-n commented on #1912
Duplicate of #3494

[2020-06-25 16:42] #1912 closed

[2020-06-25 16:43] a-b-r-o-w-n commented on #3356
Duplicate of #3494

[2020-06-25 16:43] a-b-r-o-w-n commented on #2807
Duplicate of #3494

[2020-06-25 16:43] #2807 closed

[2020-06-25 16:44] #3356 closed

[2020-06-25 16:44] a-b-r-o-w-n commented on #1435
Duplicate of #3494

[2020-06-25 16:44] #1435 closed

[2020-06-25 17:12] goergenj opened #3499 "[MCS-DE-GO] Provide Composer UI for other languages (German)"
As a Composer User I want to have the application available in my language.

@joaollq @sgellock @benbrown

[2020-06-25 17:28] benbrown commented on #3492
autoEndDialog is set to true by default.

However, it does not appear that the root dialog ends properly as expected. For example, properties in the `dialog` scope do not expire between executions.

[2020-06-25 18:00] benbrown commented on #3492
This appears to be part of the problem:
https://github.com/microsoft/BotFramework-Composer/blob/master/runtime/dotnet/core/ComposerBot.cs#L57

[2020-06-25 18:23] vishwacsena commented on #3492
Per @tomlm @Stevenic @benbrown, we should
1. Expose ability to manage `autoEndDialog` property of adaptive dialog in form editor
2. remove the code in bot runtime that automatically sets autoEndDialog to false.

[2020-06-25 18:27] vishwacsena commented on #2044
We do not show the EditAction action today in composer but we can now given we have the ability in SDK now to know what the active dialog is. See PR - https://github.com/microsoft/botbuilder-dotnet/pull/4037#issuecomment-646800500

@sangwoohaan happy to chat when you are ready to look at this.

[2020-06-25 22:28] #3492 closed

[2020-06-25 22:35] EricDahlvang opened #3504 "MicrosoftAppId and MicrosoftAppPassword in Composer Bot Settings breaks Test in Emulator"
## Describe the bug
Adding MicrosoftAppId and MicrosoftAppPassword to Bot Settings breaks Test in Emulator with a 400: "The bot's Microsoft App ID or Microsoft App Password is incorrect."

## Version
latest

## Browser
- [x ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [ ] macOS
- [ x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1.

[2020-06-25 23:00] #3484 closed

[2020-06-25 23:36] sangwoohaan commented on #2044
I'll start work on this soon. Let's chat.

[2020-06-25 23:40] mareekuh commented on #3494
Attached is the design for the toolbar in the Authoring canvas. We'll be applying a similar approach to the other pages.
https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=2968%3A27100

[2020-06-26 09:14] #3439 closed

[2020-06-26 13:58] Amit8527510735 opened #3505 "[Screen Readers-Technology Enabled Continuous Auditing-Sub Audit Template]:NVDA focus is not moving to pop up error message upon invoking 'Submit'Button leaving the mandatory fields blank."
URL: https://auditbotui-ppe.azurewebsites.net/

Image

Actual Result:
NVDA focus is not moving to pop up  error message upon invoking 'Submit'Button leaving the mandatory fields blank.
Observation: When 'Submit' button is invoked leaving the mandatory fields blank then the NVDA focus remains on the 'Submit Button' itself.

Expected Result:
NVDA focus should move  to pop up  error message upon invo

[2020-06-26 14:58] vishwacsena commented on #3317
Given we do not have any plans to address the QnA side of this ask, the rest will be tracked via microsoft/botbuilder-dotnet#4149

[2020-06-26 15:54] nathanvv opened #3506 "Unable to open project ( "Can not connect the storage." )"
## Describe the bug

Not able to use the open feature of bot frame work composer

![image](https://user-images.githubusercontent.com/11080029/85875760-5826b600-b79a-11ea-9d8f-3680a38d7f31.png)

## Version

![image](https://user-images.githubusercontent.com/11080029/85875800-67a5ff00-b79a-11ea-985c-b54c552db96d.png)

## Browser

Bot framework composer desktop application
- [ ] Electron distribution

[2020-06-26 16:10] #3486 closed

[2020-06-26 17:05] cwhitten commented on #3504
Can someone from the team confirm this? This is a recent regression is so. @tdurnford ?

[2020-06-26 17:10] GeoffCoxMSFT opened #3507 "Dialog generation: UX design for dialog generation modal dialog sequence"
UX design for

- the integration point of dialog generation (where the user starts from)
- dialog (wizard?) for user to provide JSON, handle JSON schema, start generation, monitor generation
- where user lands when generation is complete
- any other composer updates to handle display of generated items in the UI

[2020-06-26 17:14] GeoffCoxMSFT opened #3508 "Dialog generation: Spike generate dialog sequence"
This is a spike of some UI to get something e2e while waiting for a UX design.

- From Add dialog button/dropdown - add an item for genreation
- Open dialog to add JSON snippet
- Make call to genreate JSON schema from JSON
- Add step to dialog to show JSON schema
- Add step to kick off generation
- Wire to server call for generation
- Add step for progress of generation
- Close dialog when generat

[2020-06-26 17:21] GeoffCoxMSFT opened #3509 "Dialog generation: Update bf-generate to abstract file system (propose improvement)"
Propose a passed type that allows bf-generate to create and update folders and file abstracted from direct file system dependencies.  Similar to how the Composer server abstracts storage.

[2020-06-26 17:23] GeoffCoxMSFT opened #3510 "Dialog generation: Update bf-generate to provide progress/completion feedback (propose improvement)"
Propose a callback mechanism so that the Composer server can pass progress and completion back to the client while dialog generation is running.

[2020-06-26 17:29] GeoffCoxMSFT opened #3511 "Dialog generation: Review and consider organization of bf-generated assets"
The dialog generation can create a lot of assets in the bot project.  Once we have end-to-end functioning we should review if the flat list of these assets is 'too much' and there could be some improvement to help organize them.  Maybe differentiate between infrastructure pieces for disambiguation, etc.

[2020-06-26 18:57] tdurnford commented on #3504
@EricDahlvang I'm not able to reproduce this.  Are you using Electron or the self-hosted version of Composer?

[2020-06-26 21:16] sgellock commented on #3317
@vishwacsena, not doing this may prevent QnA from being used in Germany.

[2020-06-26 21:25] vishwacsena commented on #3317
@pchoudhari can you comment? Should the [API documentation][1] needs update to drop `UserId`? What is the customer mitigation for GDPR compliance in absence of `UserId`?

[1]:https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamakerruntime/runtime/generateanswer#request-body

[2020-06-26 22:44] EricDahlvang commented on #3504
@tdurnford windows install v1.0.1

[2020-06-26 22:49] EricDahlvang commented on #3504
So, turns out i had the MicrosoftAppId and MicrosoftAppPassword flipped :(

Unfortunately, i did this multiple times with multiple appid/passwords before filign this issue

In our samples, and templates, the MicrosoftAppId is above the MicrosoftAppPassword ... most people probably read these headings, while I just assume the top one is the appid.

I apologize for the mistake and noise.  Closing th

[2020-06-26 22:49] #3504 closed

[2020-06-27 04:51] rudrasingh21 commented on #3429
Hey @cwhitten

Yes I tried that too I am also facing some issue there which I reported

https://github.com/microsoft/BotFramework-Composer/issues/3430

[2020-06-27 09:54] bartbilliet commented on #3386
Could we possibly store the refresh token in the electron app, so we don't have to login again every time when the access token expires (1 hour lifetime)?

[2020-06-28 01:39] hibrenda commented on #3497
@soniaang  could you provide more detail steps ? eg. Just using echo bot example or add other stuff ?

[2020-06-28 01:40] hibrenda commented on #3506
@liweitian for more investigation

[2020-06-28 02:10] VanyLaw commented on #3444
Hi @manashty this issue was fixed in https://github.com/microsoft/BotFramework-Composer/pull/3479

[2020-06-28 02:10] #3444 closed

[2020-06-28 02:11] VanyLaw commented on #3443
Fixed in https://github.com/microsoft/BotFramework-Composer/pull/3479

[2020-06-28 02:11] #3443 closed

[2020-06-28 02:12] #3432 closed

[2020-06-28 03:06] feich-ms commented on #3490
@vishwacsena we didn't cache any lu content. This error `Sorry, trigger intent 'None' is not found in lu file: emptybot-1.en-us.lu` come from the cross train library. I think there might be some issues when composer calling cross-train lib. I will sync with @lei9444  to figure out the cause.

[2020-06-28 03:25] yeze322 commented on #3249
@sangwoohaan We have double-selection feature applied in TextInput to indicate that user selected all of the three parts in a node. Not sure if this design language can be applied here as well.

[2020-06-28 03:30] VanyLaw commented on #3301
Hi @damarqmsft, Could you check your publish profile endpoint and authoringEndpoint field? and remove the place holder if existed to get around this. like:
![image](https://user-images.githubusercontent.com/21174180/85937042-68719900-b932-11ea-8804-75ebb30ccfbd.png)

I will change the schema to fix this.

[2020-06-28 03:35] VanyLaw commented on #2300
stale

[2020-06-28 03:35] #2300 closed

[2020-06-28 05:50] liweitian commented on #3506
Hi @nathanvv, I see that you are using desktop application. Can you just restart the app? If this does not help, I can only help if you are using our web app because we can see what happened on the server side. And can you paste the error happens on the terminal after you start the web app. I feel this should be some environment errors. After you configure it correctly, you can go on using the des

[2020-06-28 12:52] epsy-me opened #3512 "Publish a bot (not loading on server)"
Hello

## Version
Release: 1.0.1

Using template
`
{
"accessToken": "<your access token>",
"hostname": "<your web app name>",
"settings": {
    "MicrosoftAppId": "<the appid of your bot channel registration>",
    "MicrosoftAppPassword": "<the app password of your bot channel registration>"
     }
}
`

Download never ends

![image](https://user-images.githubusercontent.com/67442521/85947969-a7b1e1

[2020-06-28 15:43] bartbilliet commented on #3512
Is the template presented the actual template you inserted when adding a publishing profile? I believe it seems to be missing a few parameters, for instance the `name` parameter which represents the resource group to deploy to, and the `CosmosDB` which is used to store the bot state. Also, did you provision the Azure resources before publishing?
The following docs page helps explain how to provisi

[2020-06-28 16:24] bartbilliet opened #3513 "Electron app: Add file menu options"
## Minor UX improvements for the Electron app

- Currently the buttons _New_, _Open_ and _Save As_ are **only** available from the Home screen.
- The _Save As_ button on the Home page is grayed out when no bot is opened (logically), and gets enabled when a bot project is loaded. With the current design of the Home page, it is not intuitive for a user to come back to Home to find the _Save As_ acti

[2020-06-28 19:58] ku222 opened #3514 "Adding Translation to Bot Middleware"
Hi there,

Am trying to extend Bot Composer's .NET runtime scripts to add Translation to the Middleware pipeline as shown in https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/17.multilingual-bot.

I've lifted the **Translator** folder in it's entirety from https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/17.multilingual-bot/T

[2020-06-29 00:33] luhan2017 commented on #3514
@ku222 , could you try to reference to the telemetryInitializerMiddleware here to add the translation middleware?
[code]

[2020-06-29 00:50] luhan2017 commented on #3512
@epsy-me , Did you run provisionCompose or you just leverage your existing services? And could you click the See log button and paste your log here? I want to understand what exact step it stuck at.

[2020-06-29 04:31] pchoudhari commented on #3317
In case of QnA Maker all the user data and logs are stored in the customer's Azure subscription. So, I don't think there is an issue of GDPR. @sgellock, are there any specific requirements for userId in Germany?

[2020-06-29 05:37] hibrenda commented on #3513
@sangwoohaan @mareekuh may take a look

[2020-06-29 05:55] ku222 commented on #3514
Hi @luhan2017, I had added the translationMiddleware to the GetBotAdapter arguments, and added a line to say .Use(translationMiddleware) to the adapter.

Is the below correct?

[code]
Thanks so much

[2020-06-29 06:17] Danieladu commented on #3433
Try `dialog.api_response.content[user.convert_to].last`
or `getProperty(dialog.api_response.content, user.convert_to).last`

[2020-06-29 06:27] hibrenda opened #3515 "authoring endpoint publish issue"
In bot setting, input invalid authoringendpoint and then start bot , composer should pop up lubuild error instead of publishing successfully.

[2020-06-29 06:27] luhan2017 commented on #3514
@ku222 , yes, please let me know if it still not works :)

[2020-06-29 06:37] luhan2017 commented on #3430
@rudrasingh21 did you create your bot in v1.0.0 or v1.0.1, could you please try to create a new bot in v1.0.1 and see if the error still exists?

[2020-06-29 06:57] ku222 commented on #3514
@luhan2017 still not working unfortunately
Bot is still able to deploy and function on Azure, but have just checked our translation resource and no API calls have appeared in the Usage Metrics report after trying to paste Spanish words into the Web Chat with the Bot.

[2020-06-29 16:20] #3071 closed

[2020-06-29 16:53] #3470 closed

[2020-06-29 17:34] cwhitten commented on #3505
@Amit8527510735 where are your screenshots coming from? That is not Composer.

[2020-06-29 17:36] sgellock commented on #3317
@pchoudhari I've reached out to the customer.  will provide an update here when I hear back from them.

[2020-06-29 17:37] cwhitten commented on #3499
Follow https://github.com/microsoft/BotFramework-Composer/pull/3398 for updates on this request.

[2020-06-29 18:10] ku222 commented on #3514
@luhan2017 hoping your team might have a working implementation of a composer bot with Translation middleware that I can glance through the code of?

[2020-06-29 18:30] cxbuilders commented on #3380
Helemaal goed!

Thanks,
Bastiaan

[2020-06-29 20:53] #3515 closed

[2020-06-29 21:19] #2660 closed

[2020-06-29 22:39] beyackle commented on #3456
I don't think this was meant to be closed yet - not until we get to 70%, right?

[2020-06-29 22:45] cwhitten commented on #3456
Oops

[2020-06-29 23:13] damarqmsft commented on #3301
Thanks! That seemed to fix the original issue.

It still doesn't publish though. It's stuck in this part:
![image](https://user-images.githubusercontent.com/66396148/86064937-2ffdb800-ba23-11ea-92d6-22d48d238f47.png)

_}
{ status: 'DEPLOY_INFO', message: 'lubuild succeed' }
GET /api/publish/70662.33507170361/status/science-timer 202 71.829 ms - 170
GET /api/publish/70662.33507170361/status/science

[2020-06-29 23:20] igorpopryadukhin commented on #3512
Use ProvisionCompose

[2020-06-29 23:27] #2703 closed

[2020-06-29 23:56] igorpopryadukhin commented on #3512
I managed to publish the resource, but the bot does not work!

[2020-06-30 00:01] luhan2017 commented on #3514
@ku222 , we don't have a sample for now, I will try to add one in composer and let you know when it is ready.

[2020-06-30 00:06] luhan2017 commented on #3512
@igorpopryadukhin could you share more information about how it does not work? Could it because you are publishing a empty bot? did you try to test the bot locally and did it works well?

[2020-06-30 00:54] igorpopryadukhin commented on #3512
![image](https://user-images.githubusercontent.com/48174353/86070348-2147ed00-ba85-11ea-8bff-d7390d181400.png)

Sorry, I just entered the data incorrectly in this field.
I thought this field is filled randomly.
Now everything works and is published!

Thank you!

[2020-06-30 04:03] Amit8527510735 commented on #3505
@cwhitten  We have received this bug from CSEO team, as per CSEO team this is external to BotFramework team. That's why we have logged bug under this database.

[2020-06-30 05:36] cxbuilders commented on #3379
@hibrenda @DingmaomaoBJTU Any updates on this?

[2020-06-30 05:41] cxbuilders opened #3526 "Session Time Out"
As a request from HR we need a bot to be inactive after 15 mins of inactivity. Basically the session should be destroyed, or even better a timeout trigger to be called, where we can define our own logic to deal with session data, re-authentication etc..

Is there any mechanism in place for this yet? If not any work arounds? I did raise a question about using a trigger that allows you to check auth

[2020-06-30 06:22] samaroj commented on #3412
hi, i encountered an error "The parent is missing" when i try to make a POST http method. My aim is to get the token but its not working. Please refer to the link.

https://docs.microsoft.com/en-us/graph/auth-v2-user

Current Bot Framework Composer Version (Please see image ref. below):
![image](https://user-images.githubusercontent.com/25364986/86090214-4451bb80-badc-11ea-8d49-4ae4eb96850e.png)

[2020-06-30 06:45] samaroj commented on #1829
do you have a step by step of your current workaround? mine doesn't work. Thank you.

[2020-06-30 07:07] luhan2017 commented on #3412
@samaroj We didn't include the sdk fix in the composer electron app for now. could you try to do the following steps to migrate this issue?

1. go the runtime config page -> Use Custom Runtime
2. go the runtime folder under your bot update the sdk packages (replace 4.9.3 with 4.10.0-preview-200627-141514 in every csproj file)
And try to start your bot again.

Please let me know if it still not wor

[2020-06-30 07:09] samaroj commented on #3412
Thank you, @luhan2017. I'm trying this now.

[2020-06-30 08:07] samaroj commented on #3412
Hi @luhan2017 it works. I only update the packages on the .WebApp csproj file.

[2020-06-30 08:26] samaroj commented on #3412
i'm not sure if this is issue i'm gonna share is related to this thread. Already fixed the "The parent is missing" error by updating the preview packages. Then i have now this issue. Please refer to the link:

Bot Framework Emulator Output: https://ibb.co/qdrjXWG
Bot Framework Composer Output: https://ibb.co/mb9sxSj

based on the error i don't have "grant_type in the request body" but I already ha

[2020-06-30 08:28] triciasinclair commented on #3412
It now works for me as well. Thanks all!

[2020-06-30 08:29] triciasinclair commented on #3412
@samaroj do you have grant_type as a parameter in the body?

[2020-06-30 08:30] samaroj commented on #3412
yup. but it gets an error

[2020-06-30 08:32] cxbuilders commented on #3421
@xieofxie What I want is that in PVA you can just type in a value as parameter:
![image](https://user-images.githubusercontent.com/49873947/86103361-f4afc780-babc-11ea-810e-dfed2506d7f0.png)

As you can see it can only use a variable that already exists in PVA. For config style parameters, you just want to type an Ad Hoc value

[2020-06-30 08:34] cxbuilders commented on #3377
@hibrenda @vishwacsena  Thanks for the update. Good to see this gets picked up

[2020-06-30 08:44] cxbuilders commented on #3170
@benbrown Any update on this? If there is no time, please let me know, then I don't need to keep track of this anymore.

[2020-06-30 09:03] triciasinclair commented on #3412
i can see the initial values but not grant_type. I ask because I have the below value and it works.
client_id=[clientid]&username=[userid] &password=[password]&grant_type=password&resource=[resource]&client_secret=[clientsecret]

[2020-06-30 09:27] xieofxie commented on #3421
@cxbuilders what do you mean by `type in a value as parameter`? Is it something different from Question in PVA?

For example, you could create a question in PVA to type in value and save it in a variable then use the variable for currentLatitude.
![image](https://user-images.githubusercontent.com/2876650/86108596-ee8a0d00-baf5-11ea-9dcf-f93b81801ee6.png)

[2020-06-30 09:33] cxbuilders commented on #3421
@xieofxie Yes but this for the developer of the bot to fill in to customize the way the skill operates for their bot. We centrally develop skills that local companies can consume. We make them generic and flexible, so that the local companies can use it in multiple ways (like the limit = 5 property for returning 5 search results)

Currently just for setting a property like that the PVA builder has

[2020-06-30 09:49] ku222 commented on #3514
@luhan2017 fantastic - thank you! Will look out for it

[2020-06-30 09:49] #3514 closed

[2020-06-30 09:55] samaroj commented on #3412
i see you use delegated permission. i'm using application permission.

[2020-06-30 10:01] xieofxie commented on #3421
@cxbuilders oh.. I finally realize that your `type` here means that developers can type a const value into the Action input instead of users type in values.

I don't know if PVA has a plan for this. Maybe they just want developers to use Power Automate to do this to increase their usage..

[2020-06-30 14:32] samaroj commented on #3412
IT WORKS! and still using the application permission. What i did is instead of adding the "Content-Type": "application/x-www-form-urlencoded" to the Headers, i put the **application/x-www-form-urlencoded** to the Content type textbox.

![image](https://user-images.githubusercontent.com/25364986/86138820-85b88a00-bb21-11ea-9ae6-4aa72418c082.png)

[2020-06-30 14:36] samaroj commented on #3412
upon checking the JSON output from the Bot Framework Emulator, if you don't indicate you content type on the textbox, the Content-type is set automatically to "application/json"

![image](https://user-images.githubusercontent.com/25364986/86139147-f8c20080-bb21-11ea-9520-7d70172fc462.png)

If you indicate it, this will look like this,

![image](https://user-images.githubusercontent.com/25364986/86

[2020-06-30 15:51] benbrown commented on #3170
@cxbuilders sorry I never got back to your email. inboxes! :/

One of my peers here on the team just sent me a draft of the devops build pipeline.  I am hoping to include a version of it in the next release.

[2020-06-30 16:38] cwhitten commented on #3526
Hi @cxbuilders. There may be some workarounds to make this scenario possible, however this capability isn't supported nicely in the SDK. I'll transfer to the appropriate project for continued discussion as a feature suggestion.

[2020-06-30 16:39] #3497 closed

[2020-06-30 16:43] #3512 closed

[2020-06-30 16:46] cwhitten commented on #3491
@aimanfathi if you select `standard response`  in the Response type field and then select `none` as the value, does this give you what you need?

![image](https://user-images.githubusercontent.com/1156704/86153461-9384f580-bab6-11ea-8079-94566541ddc8.png)

[2020-06-30 16:49] cwhitten commented on #3506
Closing due to inactivity. Please create a new issue if you continue to see this issue

[2020-06-30 16:49] #3506 closed

[2020-06-30 16:57] nathanvv commented on #3506
@liweitian : Closing the app does not help. The desktop application is an electron app that still runs the web app in the background right?. I am able to do developers tools in the app

![image](https://user-images.githubusercontent.com/11080029/86154386-a0124980-bac8-11ea-83cd-7399ca5e9393.png)

Notice on the error in console . Its just holding to that path, how do I clear that path, tried cleari

[2020-06-30 17:08] #3009 closed

[2020-06-30 17:08] #3260 closed

[2020-06-30 19:35] tdurnford opened #3527 "The Visual Editor border does not stay in a fixed position"
## Describe the bug
The Visual Editor's border does not stay in a fixed position when the editor's content extends to the right and the user scrolls the editor to the right.

## Version
Master

## To Reproduce

Steps to reproduce the behavior:

1. Add a new action
2. Add several nested if-statements
3. Scroll to the right
4. Notice the border scrolls with the editor's contents

## Expected behavio

[2020-07-01 01:38] hibrenda commented on #3451
close it . if you hit issues again, feel free to open.

[2020-07-01 01:38] #3451 closed

[2020-07-01 01:42] hibrenda commented on #3433
if this does not work, feel free to open.

[2020-07-01 01:42] #3433 closed

[2020-07-01 02:51] yeze322 commented on #3527
The border should fullfill the editor canvas
![image](https://user-images.githubusercontent.com/8528761/86197857-dca57a00-bb88-11ea-9306-4d6b4689215b.png)

[2020-07-01 05:07] rahulr9801 commented on #3288
@cwhitten Thanks for explaining. In my organization, things are different - Platform team takes care of creating the components (LUIS, QnA, Azure bot Service) and development team simply uses it. I am just curious to know how we can use Composer in such a scenario.

[2020-07-01 06:58] cxbuilders opened #3532 "Error: In i is undefined"
When making changes to Dialogs in a bot, changing text, removing / adding components, after a while (not sure about the exact trigger point) errors show up that always say:
In i is undefined

I always need to reopen the bot for the error to disappear and nothing seems wrong with the bot. The error happens on any dialog I edit.

![image](https://user-images.githubusercontent.com/49873947/86212740-e

[2020-07-01 07:10] TameezAustell opened #3533 "Bot Composer Publishing Stuck"
## Describe the bug
I have configured all Azure resources as per the documentation. When publishing the bot the with the parameters it just keeps loading without any end. Let it run the entire night
![image](https://user-images.githubusercontent.com/64979561/86213750-7580c900-bb7a-11ea-8117-84aebada0269.png)

## Version

![image](https://user-images.githubusercontent.com/64979561/86213817-8e897a00

[2020-07-01 08:16] zhixzhan opened #3534 "Dialog validate error when add a action"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Home'
2. Click on 'New' ->'Create from template' -> 'Echo Bot'
3. Go to 'Design'
4. Click 'Unknown intent'
5. Add a `Send a Response`, fill with `hi`
6. Add a `Ask a q

[2020-07-01 08:42] cxbuilders opened #3535 "Bot Gets Created in Default Directory"
When creating a new bot the location dropdown shows the location of the last used bot in composer. However when creating a new bot it gets created in my default user folder. Only when I change the dropdown one folder down and up again, it gets saved correctly.

Version: 2f655bb

[2020-07-01 10:56] cxbuilders opened #3538 "Authentication not working in Web Channel"
I am using Active Directory V2 authentication and this is not working using the web channel. Both in the Emulator and in the Bot Channels Registration's test it works fine. I use the standard url defined in the Iframe of the sample code in the bot channels registration channel menu.

**Bot:**
![image](https://user-images.githubusercontent.com/49873947/86236189-f69b8880-bb99-11ea-9a61-6e98ae976ac6.

[2020-07-01 10:59] cxbuilders opened #3539 "Greeting not working in Web Channel"
The standard Greeting Trigger is not working when used in the web Channel. Nothing happens..  I use the standard url defined in the Iframe of the sample code in the bot channels registration channel menu.

**Bot**
![image](https://user-images.githubusercontent.com/49873947/86236502-7b86a200-bb9a-11ea-8038-b29d196d1265.png)

**Emulator**
![image](https://user-images.githubusercontent.com/49873947/8

[2020-07-01 15:03] Mrinnaal opened #3540 "How to extract synonym of list entity in Bot Composer directly"
I am able to get the normalized value of a list entity in composer. But, please let me know how to get the synonym of that specific list entity which is identified.

[2020-07-01 16:47] tdurnford commented on #3539
@cxbuilders Please take a look at the Web Chat [Welcome Message](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/WELCOME_MESSAGE.md) documentation.

[2020-07-01 17:01] scheyal opened #3541 "Add custom telemetry event"
Add the capability to define a custom telemetry event using SDK capability.

@garypretty - can you add details?