[2021-05-12 17:46] clearab commented on #7760
The pane is definitely resizable, but it would be really awesome if on hover the whole name was displayed in a bubble. We actually truncate even more for some reason on hover.

[2021-05-12 17:47] peterinnesmsft commented on #7741
Thanks for opening this issue @benbrown - definitely want to be involved in helping to figure this out, so please keep me involved!

@cwhitten thanks for laying out principles and constraints. Principles all make sense and are reasonable in my view. On the constraints, I understand 1), but additional context on 2) - 4) would be helpful to make sure I fully understand what you're getting at. If you

[2021-05-12 17:59] tdurnford commented on #7596
@BellaDunnett Even though you added `Text` as a property to your card action, you did not add `text` as a parameter to the Lg template so `text` is undefined in the template.

[code]

[2021-05-12 18:27] BellaDunnett commented on #7596
Hi @anusharavindrar and @tdurnford - even with the text field added, I'm getting the same error that 'stateType' is undefined.
![Screenshot 2021-05-12 at 19 26 07](https://user-images.githubusercontent.com/53485343/118025747-1540e300-b358-11eb-8356-a64c04542ab6.png)
![Screenshot 2021-05-12 at 19 26 01](https://user-images.githubusercontent.com/53485343/118025750-170aa680-b358-11eb-8d88-4cbf38b2f96

[2021-05-12 18:33] anusharavindrar commented on #7596
@BellaDunnett, you are missing the text parameter in the lg template
![image](https://user-images.githubusercontent.com/48731427/118026291-430d3400-b326-11eb-85c6-35c16b017fb7.png)
It should be:
![image](https://user-images.githubusercontent.com/48731427/118026478-7223a580-b326-11eb-88f6-b8ec90cdebe5.png)

[2021-05-12 18:36] BellaDunnett commented on #7596
You're right - still no change to the original error though.
![Screenshot 2021-05-12 at 19 35 42](https://user-images.githubusercontent.com/53485343/118026958-538ad200-b359-11eb-9193-401eba5e17fb.png)

[2021-05-12 19:20] anusharavindrar commented on #7596
@BellaDunnett, this is damn weird as it works for me both on Mac and Windows with the same template without any error. Can you try to select the `testTemplate2` in the #testTemplate2 & copy that and paste it over the existing testTemplate2 in the buttons property and see if it eliminates the error? Please head over to the screenshots section in this [issue](https://github.com/microsoft/BotFramewor

[2021-05-12 19:48] clearab commented on #7728
Re-reading your original request, I think I misunderstood. The Visual Studio template and the dotnet cli template should be very similar (if not identical). I'm going to move this to our dotnet SDK repo where I think you'll get a better answer (this repository is for our Composer tool for authoring bots, which actually comes with the completely different empty bot template I referred to in my prev

[2021-05-12 20:31] dmvtech commented on #7699
I believe I am able to reproduce this and am further isolating the potential cause.

[2021-05-12 20:42] BellaDunnett commented on #7596
@anusharavindrar sorry but still not working! Have copied & pasted as in the video but nada

[2021-05-12 20:49] hatpick commented on #7713
More information for this bizarre behavior:

https://user-images.githubusercontent.com/1483492/118042325-ccbe0100-b328-11eb-8a92-1b0601935a84.mp4

[2021-05-12 20:52] Virtual-Josh commented on #7765
This repos with 3 bots.

[2021-05-12 20:53] hatpick commented on #7596
@BellaDunnett would you please copy/paste the text of your LG file here as text?

[2021-05-12 20:54] BellaDunnett commented on #7596
`# testTemplate
[HeroCard
  title = Samsung Galaxy S21 Ultra 5G
  subtitle = From £75 a month with £49 upfront.
  text = Samsung Galaxy S21 Ultra 5G captures life's moments perfectly with next generation cameras and cutting edge innovations.
  images = https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNROcS2-s7YOPsgpQ_xgqxFog-Hr2HSWLvM_wggbOjmwCqR_kcQaLA1LuvgJUQq83-3nO4e8g&usqp=CAc
  buttons

[2021-05-12 20:58] hatpick commented on #7596
@BellaDunnett First of all you need to remove the ```(type, title, value, text, displayText)``` from this line:
```buttons = ${testTemplate2(type, title, value, text, displayText)('messageBack', 'More information', json({​​​​​​​​"property": "propertyValue"})​​​​​​​, 'Text', 'More information')}```

Then, there are a bunch of 0 width characters here:
![Screen Shot 2021-05-12 at 1 57 27 PM](https://

[2021-05-12 21:04] hatpick commented on #7596
@BellaDunnett First of all you need to remove the following:
```(type, title, value, text, displayText)```
from this line:
[code]

Then, there are a bunch of 0 width space characters here (red dots)

![Screen Shot 2021-05-12 at 1 57 27 PM](https://user-images.githubusercontent.com/1483492/118043360-1d822980-b32a-11eb-9fdd-9c4fb371e95f.png)

Removing them will fix the issue, i dont know how they go

[2021-05-12 21:09] vimalnar commented on #5354
Hi All, sorry i did fix this in the end.  I did the following actions:

- Ensured i was not going through my companies Proxy (direct internet connection)
- Updated the Bot Composer to the latest (nightly - 2.0+) build
- I also deleted the Luis.AI apps (to allow the Bot composer to recreate them), which probably wasnt required because of the below action
- Created a new publishing profile in Bot Fr

[2021-05-12 21:29] BellaDunnett commented on #7596
@hatpick it worked!! thank you! It only fixed the issue when I copied and pasted your text, I tried typing the text out myself first but it created the same error. Bizarre!

[2021-05-12 21:37] hatpick commented on #7596
@BellaDunnett Great! I'm gonna close this issue and we'll keep investigating the problem under:
https://github.com/microsoft/BotFramework-Composer/issues/7713

[2021-05-12 21:37] #7596 closed

[2021-05-12 22:11] #7655 closed

[2021-05-12 22:15] dmvtech commented on #7713
Interesting! That would explain why I didn't see those in Notepad++ with `Show Hidden Characters` enabled.

Also in VSCode, it doesn't show with both `Render White Space` and `Render Control Characters` enabled either ☹

[2021-05-12 22:27] Virtual-Josh opened #7776 "Skill manifest urls aren't actually published"
## Describe the bug
Might be related to/a dupe of #7655, but the steps are different.

~Exporting bots as skills doesn't actually create the manifest.~
The generated skill manifest that is included in the deployment isn't being served.

## Version
Version:  2.0.0-nightly.244572.8406071
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distr

[2021-05-12 23:25] chrimc62 opened #7777 "Templates with parameters should not be expanded inline in the flow"
## Describe the bug

When you have a template reference like `${confirmationText('Name', @personName)}` in the flow it is expanded to the definition which is incredibly confusing and removes crucial information--the parameters.  The expansion is to support the level of indirection injected by composer which generates a unique template for every call to LG which always has no parameters.    Compose

[2021-05-12 23:30] cwhitten commented on #7776
@Virtual-Josh once you author the manifest, are you publishing the bot again that should include the new file?

[2021-05-12 23:35] chrimc62 opened #7778 "Trailing LG comments should not be displayed with template boday"
## Describe the bug

When an LG template has comments after the LG template body they are displayed.  For example if your LG file looked like this:
[code]
Then 'Comment1' correctly shows up with `foo()`, but 'Comment2' also shows up after the definition of `foo()`.  For `else()` you only see 'Comment3'.

This happens for any in-between comments, but is particularly troublesome when people are usin

[2021-05-12 23:41] JonathanFingold opened #7779 "Number input, Expected responses editing is broken"
## Describe the bug

The **Expected responses** field is now a single line property with no intuitive way [if any] to provide a multi-line .lu format value.

## Version

Version:  2.0.0-nightly.244572.8406071
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS

[2021-05-13 00:01] Virtual-Josh commented on #7776
Previously I probably provisioned and exported before I published the bot. However publishing the bot then re-exporting as a skill doesn't resolve the issue.

However Peter and I found the source of 2 of the 3 issues. For dotnet functions the main application directory has a `wwwroot` folder (this is the 2nd wwwroot folder starting from the top). If you rename this `wwwroot` folder to `www` then t

[2021-05-13 00:15] cwhitten commented on #7776
I had a conversation with @joshgummersall on April 13th around mounting the `public` folder in the node environment, but mapping `wwwroot` into it. Josh should weigh in here as well

[2021-05-13 00:19] peterinnesmsft commented on #7776
Thanks @Virtual-Josh. From what I gather, the manifests are being placed into the `wwwroot/manifests/` dir at the root of the publish folder.

From my understanding of the world, `wwwroot` is an ASP.NET construct that is used as the default location from which to serve static file content. So this is why it works when deploying .NET Core Web App-based bots.

Functions as a whole is a very differen

[2021-05-13 00:38] GeoffCoxMSFT commented on #7776
In deploy.ts the wwwroot is hard coded for skills starting at line 127.  We can certainly conditionally change the path based on the runtime if we know the right paths.  @luhan2017 added an updating of the skill manifest files post copy to set the host endpoint for the app to `https://${hostname}.azurewebsites.net/api/messages;`.  Does the host endpoint need to vary based on the runtime type (app

[2021-05-13 00:39] joshgummersall commented on #7776
My suggestion is to encode the static directory in `appsettings.json` similar to how we encode the `start` command (i.e. `npm run dev` for node, `dotnet ...` for, well, .NET). Then, Composer could consume the setting. To me, this holds with our principle of extracting language-specific details outside of Composer and into the component templates.

If we decide to change this in the SDK(s), for JS

[2021-05-13 00:42] vivekkshankar commented on #7751
For issue 1 - We should not allow the user to proceed with invalid publish profile.
Also, I am seeing this blank select end point URL screen momentarily even if i use a correct publishing proifle..

[2021-05-13 00:45] peterinnesmsft commented on #7776
The host part of the URI shouldn't need to vary at all, it's just the path in the request that essentially needs to take it into account.

@joshgummersall probably has the right idea of this coming from settings, but we can wait for shiproom's input.

[2021-05-13 00:55] vivekkshankar opened #7780 "[UI bug] [Skills] Select all checkbox not visible in select dialog and trigger screen"
![image](https://user-images.githubusercontent.com/67671676/118061923-c50f5400-b34a-11eb-9739-b3fc99543cc7.png)

**Expected UI:**
- Replace circular checkbox with standard checkbox control
- Place select all checkbox in-line as shown in mock
- Select all by default

![image](https://user-images.githubusercontent.com/67671676/118062006-ea9c5d80-b34a-11eb-8f81-6b94127c333c.png)

[2021-05-13 02:36] hibrenda commented on #7780
https://github.com/microsoft/BotFramework-Composer/issues/7665

[2021-05-13 04:00] vivekkshankar commented on #7665
I recommend we make the select all checkbox sticky at the bottom and outside the scrollable area.
I strongly recommend against putting the select all checkbox below the fold.

![image](https://user-images.githubusercontent.com/67671676/118075516-fa28a000-b364-11eb-83b5-81c8191fca58.png)

[2021-05-13 04:03] luhan2017 commented on #7665
@vivekkshankar close this one, and we will follow your design to fix this issue. dup with #7780

[2021-05-13 04:03] #7665 closed

[2021-05-13 04:21] boydc2014 commented on #7779
I can't repro this when using defaultRecognizer? But i can see this in regex recognizer. @JonathanFingold are you using default recognizer or the regex recognizer?

[2021-05-13 05:06] mareekuh commented on #7760
@vivekkshankar - I think you have already spec'ed this somewhere. Could you add the link to this bug so we can get this on the backlog to get fixed/implemented?

[2021-05-13 05:13] boydc2014 commented on #7779
If this is regex, then it is expected by current design, because regex recognizer doesn't depends on lu file, so we purposely make it a one line input for the pattern, and we will serialize the pattern into .dialog file directly (instead of .lu file).  What we need to do is maybe update the placeholder to make it clear. The control itself looks right to me.

[2021-05-13 05:38] boydc2014 commented on #7776
Proposed one alternative in the email thread started by @cwhitten

[2021-05-13 06:25] nathanvv opened #7783 "Publish error"
## Describe the bug

Running into the following error while publishing
Exception during 'WindowsIntegratedAuthExchange' converted from Unexpected to InteractionRequired. Original context: 'Couldn't parse a windows transport endpoint from the MEX document'
Happens during both "Create new Azure resources" or "Import existing azure resource"

Started happened starting last week after updating to v1.4

[2021-05-13 07:39] stevkan commented on #7303
@mn-invia, thank you for your patience while I looked into this. I tried again and I am able to interrupt the multi-choice prompt with a 'QnA Intent recognized' trigger by asking a question that the QnA resource can respond to. It's important to note that when you use the QnA trigger, the trigger is accessing a locally resourced knowledgebase, when run locally. The knowledgebase is designed from s

[2021-05-13 08:58] stevkan commented on #7311
@BellaDunnett, thank you for your patience. This does appear to be a legitimate bug as I've been able to repro it. It will require a fix to be applied. In the mean time, I've been trying to determine if there is a suitable workaround, however I haven't found one, yet. I've reached out to some colleagues for additional guidance and will provide an update when I know more.

[2021-05-13 09:35] boydc2014 commented on #7779
To shiproom: this is probably not a P0.

[2021-05-13 12:07] darrenj commented on #7780
Why is Unknown Intent being include in the list? There was a debate about this and advertising things a skill **cannot** do doesn't make sense to put in a manifest as this will then indicate to a caller that these utterances **are** supported by a skill?

[2021-05-13 14:31] pavolum commented on #7715
@emivers8 this was part of your design spec. Is it intended that the field be put back?

[2021-05-13 15:04] sgellock commented on #7779
Shiproom - moving out of R13

[2021-05-13 15:17] sgellock commented on #7776
Shiproom - lets determine if wwwroot can be standardized across the languages and hosting environments, and if so, go with that option as a low right R13 fix.  We can open this up as a configurable option post R13 if necessary.

[2021-05-13 15:24] sgellock commented on #7780
Shiproom - lets sit on this and if there is a reason to crack the composer bits we can consider rolling this one in.

[2021-05-13 15:54] joshgummersall commented on #7776
https://github.com/microsoft/botbuilder-js/pull/3682

[2021-05-13 16:12] dmvtech commented on #7714
Realized that it is possible to select multiple actions that may have a _mix_ of both enabled and disabled states. This makes more sense to have a drop-down; to set the entire group as one specific state. But, on the flip side; I usually don't select more than one state (I would most likely select multiple actions of one state to flip to the other). All that being said, maybe the option presented

[2021-05-13 16:17] benbrown opened #7786 "The "Learn More" teaching bubble for MS Teams obscures the "Open Manifest" link"
## Describe the bug

Immediately after enabling MS Teams, a teaching bubble appears to highlight the need for further action.  However, this bubble obscures the manifest link that appears once enabled, making it easy to miss.

![Screen Shot 2021-05-13 at 11 14 54 AM](https://user-images.githubusercontent.com/729873/118154436-ab1e5180-b3dc-11eb-84d6-81c98a892173.png)

![Screen Shot 2021-05-13 at 11

[2021-05-13 16:24] benbrown opened #7787 "MS Teams instructions do not mention manifest generator"
## Describe the bug

The "Learn more" instructions for the MS Teams channel do not mention the ability to download a pre-build manifest and import it into App Studio.   We should call out this option, perhaps as a replacement to the current instructions that describe creating a new manifest by hand.

See here:
https://github.com/microsoft/BotFramework-Composer/blob/main/docs/preview%20features/ms-

[2021-05-13 16:35] ninggao commented on #7702
@benbrown  Could you please take a look at this?

[2021-05-13 16:42] vivekkshankar commented on #7750
Fair

[2021-05-13 16:42] #7750 closed

[2021-05-13 16:43] xiyangdesign opened #7788 "Composer becomes unresponsive after creating and testing a bot"
## Describe the bug
Composer is having huge delay to any actions (e.g. click on buttons, resizing window, etc.) Web chat pane in the debugging window seems to be logging a lot. This is after I created a CoreWithLanguageUnderstanding bot, added a trigger and tested it.

I ran into this issue yesterday as well, without doing anything. Reinstalling Composer didn't help. (Restarting my laptop solved t

[2021-05-13 17:10] scheyal opened #7790 "Intent analytics is still broken: Utterance not reported, detected intent is reported wrong."
## Repro
* View language analytics in appinsights
* Variation: LUIS or Orchestrator

## Results
1. Utternace is not showing up in 'text' field
2. Detected intent is reported wrongly (the wrong one is showing)

## Visual
- Observe: Conversation is detecting fruits and veggies; however appinsights shows only fruites
- Observe: utterance in text is not showing.

![image](https://user-images.githubuse

[2021-05-13 17:12] scheyal commented on #7790
## version

Version:  2.0.0-nightly.245007.8406071
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-05-13 17:19] emivers8 commented on #7788
repro of #7561

[2021-05-13 17:22] emivers8 commented on #7561
@xiyangdesign experienced this, as well: #7788

Would be good to explore cause in R14. If the state can't be prevented, maybe we can expose some kind of error or find an alternative to rebooting to correct.

[2021-05-13 17:26] darrenj commented on #7788
Reproed on Windows too.

[2021-05-13 17:35] taicchoumsft commented on #7721
@UmaPrelude , that might be ok.  If you expand the `orchestrator-core.node` entry, do you see errors?

[2021-05-13 17:39] scheyal commented on #7394
My bot is still not able to publish the json.

[2021-05-13 17:46] hatpick commented on #7751
@vivekkshankar would you please comment on the UX of the associated PR that addresses this issue?

[2021-05-13 17:50] daveta opened #7791 "Composer install should say what version of nodejs it requires"
## Describe the bug

Installing Composer on a Mac without nodejs, it gives you a popup to install NodeJS but doesn't provide guidance it should be version 12 or 14.

## Version

Version:  2.0.0-nightly.245007.8406071
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [

[2021-05-13 17:52] cwhitten commented on #7788
@darrenj were your repro steps exactly as @xiyangdesign 's?

[code]

[2021-05-13 17:56] scheyal opened #7792 "Imported project/skill does not set Orchestrator as root recognizer although prompt accpeted"
## Repro
* Import ~R12 bot (go through import experience)
* Add skill bot - **Issue**: no import steps although it was done at the same time as root boot
* ==> Accept prompt to set Orchestrator as root recognizer
**Issue**: Orchestrator is not set as recognizer and no further messaging.

[2021-05-13 17:58] pavolum opened #7793 "Option to populate provision profile with local luis config"
When your provision luis for local dev through tooling it would be great to have an option to apply  that config to a selected publish profile instead of making the user intuitively add it to it

[2021-05-13 17:58] scheyal commented on #7792
## visual
Indeed skill is showing as old runtime in package manager - Will file another issue specifically for that.

![image](https://user-images.githubusercontent.com/8867670/118166242-14509580-b3da-11eb-83fd-5eeabd8dcbe2.png)

[2021-05-13 18:00] scheyal opened #7794 "Adding old runtime bot skill to project does not go through import flow"
## Repro
* Import old runtime bot
* Add skill bot from same runtime era

*Issue*: Root bot goes through import flow but skill doesn't.

## Visual shows that package manager identify it as old runtime.

![image](https://user-images.githubusercontent.com/8867670/118166463-57ab0400-b3da-11eb-9d36-6af4b4d44b20.png)

[2021-05-13 18:02] cwhitten commented on #7394
@scheyal you would need to recreate the response template, which would come with a new format that PVA supports, not reuse the existing one that did not work. Can you please confirm that

[2021-05-13 18:05] scheyal opened #7795 "Failed to import bot with json error"
## Repro
Import and older bot (R12) that used to be a skill

Hit error during conversion

![image](https://user-images.githubusercontent.com/8867670/118166937-f6376500-b3da-11eb-8749-5984bff2273b.png)

Exported bot is available here: https://microsoft-my.sharepoint-df.com/:u:/p/eyals/ERYTUo0HNShNtFLcxgmP-fcBgJD7kQSKuj2k8hoIV_ZcKw?e=bKcwpn

[2021-05-13 18:12] Andrea-Orimoto opened #7796 "[bugbash 5/13] Bot name validation rules are different between Composer and Azure"
## Describe the bug

- I started from the Composer
- I wanted to name my bot project "bugbash513-fromcomposer-1", but composer validation complained, so I changed it to "bugbash513_fromcomposer_1"
![image](https://user-images.githubusercontent.com/17152540/118167748-e2403300-b3db-11eb-8ce2-5895bed24dee.png)

- then I created my publishing profile and I wanted to give the webapp the same name "bugb

[2021-05-13 18:17] Andrea-Orimoto opened #7797 "[bugbash 5/13] Please add a select/deselect all feature in the "Add resources" screen of the publishing profile"
## Describe the bug

It is very inconvenient to deselect all the optional resources from that screen. please either unselect them all by default, or add a select/deselect all toggle.

![image](https://user-images.githubusercontent.com/17152540/118168256-83c78480-b3dc-11eb-8cf2-72e077be6ed5.png)

## Version

Release: 2.0.0-nightly.245007.8406071

[2021-05-13 18:23] daveta opened #7798 "Mac requires Brew to install Azure Functions"
## Describe the bug
Was under impression Composer could not rely on Brew for our customers.  One of our dependencies requires it, may rethink the restriction.

On Mac, if you create an Azure Function, you need to install a package.
![image](https://user-images.githubusercontent.com/6182197/118168374-a5287080-b3dc-11eb-886a-95b07b75db9b.png)

When you click on the link, it sends you [here](https://

[2021-05-13 18:30] pavolum opened #7799 "Pubish target name gets truncated so two targets with similar names are hard to distinguish"

[2021-05-13 18:30] Andrea-Orimoto opened #7800 "[bugbash 5/13] A bot created and deployed from composer does not have the "Open in Composer" button"
## Describe the bug

1. Opened composer
2. created a new bot based on the empty bot template
3. created the provisionin profile
4. published the bot to azure
5. the resulting Azure Bot resource is not showing the "open in Composer" button. it should!
6. the bot kind seems right

![image](https://user-images.githubusercontent.com/17152540/118170007-7612fe80-b3de-11eb-991c-c44f4a9af17b.png)

![image

[2021-05-13 18:30] pavolum commented on #7799
Found in R13 bug bash but is an R14 task

[2021-05-13 18:30] pavolum commented on #7793
Found in R13 bug bash but is an R14 task

[2021-05-13 18:35] hailiu2586 commented on #7800
need to add property openWithHint: "bfcomposer://"  to make open with composer button shown.

See code https://fuselabs.visualstudio.com/Intercom/_git/Intercom?path=%2Fazure%2Fportal%2FBotService%2FClient%2FResource%2FResourceOverviewBlade.ts&version=GBmain&line=477&lineEnd=480&lineStartColumn=1&lineEndColumn=1&lineStyle=plain&_a=contents

[2021-05-13 18:37] Andrea-Orimoto opened #7801 "[bugbash 5/13] Deployment from Composer does not create a Keyvault for the secret like ABS"
## Describe the bug

1. ABS creates a Keyvault and stores the secret in there, my understanding was that Composer would do the same, but I don't see it
2. So I'm assuming the Secret is in the clear in some appsettings.json?

![image](https://user-images.githubusercontent.com/17152540/118170889-79f35080-b3df-11eb-9813-568ca05dd9e2.png)

## Version
Release: 2.0.0-nightly.245007.8406071

[2021-05-13 18:42] Andrea-Orimoto opened #7802 "[bugbash 5/13] What is the "Microsoft Application Registration" in the "Add resources" screen of the publishing profile?"
## Describe the bug
Not sure what this is...
![image](https://user-images.githubusercontent.com/17152540/118171520-27666400-b3e0-11eb-82bf-dd6079f16aed.png)

It's not in the resulting resources in my resource group
![image](https://user-images.githubusercontent.com/17152540/118171587-406f1500-b3e0-11eb-855f-c5e553ac7d03.png)

## Version
Release: 2.0.0-nightly.245007.8406071

[2021-05-13 18:44] Andrea-Orimoto opened #7803 "[Buhbash 5/13] "Bot Channels Registration" should be "Azure Bot" in the provisioning profile"
## Describe the bug
![image](https://user-images.githubusercontent.com/17152540/118171874-904ddc00-b3e0-11eb-9b75-c1b22c34ebe1.png)
## Version
Release: 2.0.0-nightly.245007.8406071

[2021-05-13 18:53] lauren-mills opened #7804 "[Bugbash 5/13] Can't create/edit publishing profiles for skills"
I opened a bot I created in a nightly version of composer a few days ago with publishing profiles already created for my two skill bots and when I go to edit them, I get this screen:

![image](https://user-images.githubusercontent.com/27976702/118172882-c049af00-b3e1-11eb-82b2-d433dbe1d9f0.png)

When I try to add a new publishing profile to the skill, I am unable to select a Publishing Target.

Th

[2021-05-13 18:57] pavolum opened #7805 "bug: Double notifications render if you get a new notication when notification pane is open"
## Describe the bug

If you get a notificiation while the notification pane is open then you get redundant notifications

## Version
245007.8406071 (nightly used in 5/13 bug bash)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:
Have noficication pane open an

[2021-05-13 19:11] cwhitten commented on #7394
I've been able to reproduce this, and the explanation from PVA is that they need to take a bump to a BF lib in order to support the syntax in the updated template that came in with https://github.com/microsoft/BotFramework-Composer/pull/7593

We'll need to deploy a workaround though, as their release timeline for this change is mid June

[2021-05-13 19:42] daveta opened #7806 "Mac C# Az Functions / EmptyBot with Orchestrator fails to run locally"
## Describe the bug

Running locally, the bot can't seem to load Orchestrator model, even though model path referenced exists.  This **same bot works using WebApp runtime.**

## Version

Version:  2.0.0-nightly.245007.8406071
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

#

[2021-05-13 19:52] lauren-mills opened #7807 "Publishing three bots at once puts user at risk of hitting 429 error on LUIS authoring key"
When publishing three bots at once (root and skills), they all start at the same time, which puts the user at risk of hitting 429 errors from luis authoring, and it is not obvious that you just need to restart the publish to resolve it.

Ideally, multiple publish processes started at the same time would have some delay added in between them, or if the 429 error is hit, there would be an automatic

[2021-05-13 20:24] Virtual-Josh opened #7809 "Exporting node WA as skills throws deploy error"
## Describe the bug
Exporting node web apps as skills has a zip deploy error for invalid hostname

## Version
Version:  2.0.0-nightly.245007.8406071
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to repro

[2021-05-13 20:30] daveta commented on #7806
Ben and Peter looking at this..

[2021-05-13 20:34] sgellock commented on #7394
Shiproom - core P0 scenario - approved

[2021-05-13 20:41] Andrea-Orimoto opened #7810 "[bugbash 5/13] What is the purpose of the LUIS region in the publishing profile, when I'm not provisioning LUIS?"
## Describe the bug

I selected an Empty bot, there is no luis, and I'm not selecting luis in the list of resources to be provisioned. Why is the luis region in this screen?
![image](https://user-images.githubusercontent.com/17152540/118184800-a4013e80-b3f0-11eb-8a71-03d428d96f3b.png)

## Version
Release: 2.0.0-nightly.245007.8406071

[2021-05-13 20:43] sgellock commented on #7809
Shiproom - zip deploy is notorious for presenting this error.  a retry tends to fix it.

[2021-05-13 20:44] Virtual-Josh commented on #7809
I repo'd this 3 times in a row with 2 different bots

[2021-05-13 20:47] JaskeeratBedi-cmk opened #7811 "Publish page"
![Screen Shot 2021-05-13 at 1 43 09 PM](https://user-images.githubusercontent.com/67944302/118185396-56d19c80-b3f1-11eb-822a-26d2ee758f78.png)

In the publish page, the user -->
1. Selects bot
2. Selects publishing profile
3. Then Publishing the bot to that profile

In the current build & [documentation](https://review.docs.microsoft.com/en-us/composer/how-to-publish-bot?branch=pr-en-us-471&tabs=v

[2021-05-13 20:57] scheyal opened #7812 "Error for missing LUIS key although it is present"
## Repro
* Import root bot (add luis info)
* Import skill bot
* Add skill bot to root bot project

## Visuals

![image](https://user-images.githubusercontent.com/8867670/118186617-c8f6b100-b3f2-11eb-96cd-cbcdd8722c21.png)

![image](https://user-images.githubusercontent.com/8867670/118186741-ecb9f700-b3f2-11eb-9df9-862a90aab300.png)

[2021-05-13 20:58] tdurnford opened #7813 "[telemetry] Missing data collection settings on server prevents telemetry from being logged to App Insights"
## Describe the bug
In some instances of Composer, the user's data collection settings are missing in the data.json. As a result, even when the user has telemetry enabled, the server does not log those events to App Insights. This issue is causing data loss and gaps in our data collection.

## Version
Latest nightly

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
-

[2021-05-13 21:06] tsuwandy opened #7815 "Show published bot endpoint after publishing is completed or better yet, provide a way to test the published bot from inside Composer"
After publishing from Composer, user has to go to Azure portal to test the recently published bot.  It'll be great if the newly published bot endpoind is displayed in in the publish bot UI.

![image](https://user-images.githubusercontent.com/10739108/118187765-43740080-b3f4-11eb-85a4-9a5f0a396bdb.png)

## Describe the solution you'd like
Show the published bot endpoint,  better yet, provide a way

[2021-05-13 21:09] Virtual-Josh commented on #7809
Same issue happens for node function bots

[2021-05-13 21:16] gremlin529 opened #7816 "In a RegEx Trigger the text for the expression is inconsistent in creation and editing flows"
## Describe the bug

When you create a new RegEx Trigger the dialog that comes up says "Please input regEx pattern" once it's created the UX says "Trigger phrases" for the same value, these should be consistent (preferably both containing RegEx)

## Version

2.0.0-nightly.245007.8406071

## Browser

Stand alone windows app

## OS

- [ ] macOS
- [ X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to

[2021-05-13 21:24] tsuwandy opened #7818 "Install Azure function core tools npm package instead of taking user to npmjs page for the package"
## Describe the solution you'd like
![image](https://user-images.githubusercontent.com/10739108/118189567-ce55fa80-b3f6-11eb-896d-f79171c3a5c7.png)

Install Azure Functions button make user think that it'll be installed where in fact it simply takes user to npmjs page.  It should install the package on behalf of the user.

## Describe alternatives you've considered

## Additional context

[2021-05-13 21:29] #7394 closed

[2021-05-13 21:41] Andrea-Orimoto opened #7819 "[bugbash 5/13] MicrosftAppPassword is still in appsettings.json when deploying an Azure Bot created from the azure portal first"
## Describe the bug
MicrosftAppPassword is still in appsettings.json when deploying an Azure Bot created from the azure portal first. The expectation is that the password is stored in Keyvault and the webapp should use Keyvault references to fetch it at runtime. It shouldn't be saved in any file on disk.
![image](https://user-images.githubusercontent.com/17152540/118190549-1fb2b980-b3f8-11eb-87fb-

[2021-05-13 21:49] sgellock commented on #7766
Shiproom - closing as the above PR resolves the issue

[2021-05-13 21:49] #7766 closed

[2021-05-13 21:52] tonyanziano commented on #7783
I heard back from the OneAuth team and they said that this is a pretty standard error.

On the Composer side, we need to handle the `InteractionRequired` status of an auth response and try to sign the user in interactively. We _should_ have code that already does this, but it seems to be bypassed in this scenario.

[2021-05-13 22:46] Andrea-Orimoto opened #7820 "[bugbash 5/13] need a back button in the "Create Language Understanding resources" confirmation screen"
## Describe the bug
I followed the wizard to create a LUIS resource in Azure through the Composer and the last confirmation screen doesn't have a back button, so you cannot correct mistakes (e.g. the luis resource name).

![image](https://user-images.githubusercontent.com/17152540/118193057-fdbb3600-b3fb-11eb-9dc2-f2cc4fd7c6c5.png)

## Version
Release: 2.0.0-nightly.245007.8406071

[2021-05-13 22:49] Andrea-Orimoto commented on #7810
btw I also created a bot based on a template that required LUIS and the rocket launch screen prompted me to create the luis resource (in which I had to select the luis region, rightly so). Even in that scenario, the subsequent "configure resources" screen in the publishing profile asked me for the LUIS region again...

[2021-05-13 23:34] beyackle opened #7821 "Chore: update l10n files to pick up more strings"
The latest release has a large number of new strings; they're not all going to be translated in time for R13, but this issue is here to match up with the existing PR that handles more of the strings that are going in.

[2021-05-14 00:11] xiyangdesign opened #7822 "The AskForUserInput doc missing instructions on "value" and "expected responses" field."
## Describe the bug
The [Ask for user input doc](https://docs.microsoft.com/en-us/composer/how-to-ask-for-user-input#text-input) aims to help users achieve the goal highlighted below. However, without instructions on setting "value" and "expected responses" fields, it could be challenging to achieve this goal.
<img width="774" alt="image" src="https://user-images.githubusercontent.com/74994573/118

[2021-05-14 00:50] powertrio77 opened #7823 "start New bot from scratch, missing, Example list missing from desktop Composer GUI"
## Describe the bug
I remember clicking the C# tab in the start/home window of Composer, and now I cannot view/select Bot from scratch. Also the "Example List" pane on the right is missing. I have uninstalled, ran updates, reinstalled to a local folder (not AppData) c:\mydot\Bot FrameWork Composer\.

Originally Bot Framework composer installed here:
C:\Users\mrich\AppData\Local\Programs and I had

[2021-05-14 02:38] lauren-mills commented on #7815
+1 on having a way to easily open your published bot in the webchat panel or emulator.

[2021-05-14 03:13] cwhitten commented on #7800
@Andrea-Orimoto is this tracked in ABS's books? Does this issue need to exist on the Composer project as well?

[2021-05-14 03:46] dinhlan300 opened #7825 "How to get the list of entities returned from LUIS?"
When I enter a synonym of an entity in Bot Framework Composer. It will return an array of Entities like this
![image](https://user-images.githubusercontent.com/13560859/118218121-00239b80-b4a1-11eb-9c1e-5eff2a8a28cf.png)

How can I extract the list of entities and turn it into a question with options? I want to make sure Bot will confirm with the customer when LUIS not sure what species of product

[2021-05-14 04:16] mareekuh opened #7826 "UI/Fluent : Once LU and QnA are set up, the 'set up' buttons in Configure no longer need to be blue"
Typically, only one button (the one that is the most likely or recommended action) is the 'primary action', indicated as blue vs gray-outline.
On our Configure page has 3 primary actions (depending on the template)
- set up LUIS
- set up QnA
- retrieve App ID

Even when all 3 are populated (either manually or through the Rocket Menu), all 3 buttons are blue, while at this point none of them are pr

[2021-05-14 06:07] hibrenda opened #7827 "error pop up for duplicated skill"
## Describe the bug

Add duplicated skill will pop up following :
![image](https://user-images.githubusercontent.com/43408889/118228828-6dddc080-b4bd-11eb-98a1-3aae13a82aa0.png)

We'd better pop up other info. @vivekkshankar . This looks like a composer bug instead of error notification to user.

## Version

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

[2021-05-14 06:37] mewa1024 commented on #7826
The buttons aren't in the "in focus" state, like in the keyboard navigation sense; they are just blue. The focus state looks like this (top button with the outline):

![image](https://user-images.githubusercontent.com/39317542/118230779-06832a80-b443-11eb-9938-1ed09e392724.png)

What they are is using the primary button style in Fabric/Fluent for web [https://uifabric.azurewebsites.net/#/controls/

[2021-05-14 07:21] mewa1024 commented on #7688
I think this was a request from @mareekuh. (@mareekuh keep it as is for now?)

[2021-05-14 08:14] cosmicshuai commented on #7701
Oneway I reproduce this issue:
1. Use a free tier Luis subscription key
2. Create a batch script and open 10 terminal tabs, run the script concurrently.
[code]

3. After a while, it will reach a API call limitation, then use Composer to do the start bot with the same luis key setting.

[2021-05-14 09:43] kundurmutt opened #7829 "No option to develop custom action in latest bot framework composer version"
The documentation@ https://docs.microsoft.com/en-us/composer/how-to-add-custom-action?tabs=csharp to created custom actions does not seem to  relate to or be relevant in the context of the latest bot framework composer v2.x - works for v1.4.1.
Could someone please guide or advise on how to develop custom actions for the latest version of composer.
Thanks

[2021-05-14 09:49] aparnaji opened #7830 "Add custom actions through runtime in Bot Composer 2.xx Missing"
## Describe the bug

Have a need to create a custom action which could be achieved through Custom Action (solution) present in runtime is missing

## Version

![image](https://user-images.githubusercontent.com/26645750/118252937-da929400-b498-11eb-895f-86e1e599da8d.png)

## Browser

- [ ] Chrome

- [ ] Edge

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

![image](https://

[2021-05-14 11:22] davidfischl commented on #7737
@anusharavindrar would really appreciate you looking at this asap. thank you

[2021-05-14 14:00] benbrown commented on #7804
![Screen Shot 2021-05-14 at 9 00 03 AM](https://user-images.githubusercontent.com/729873/118281411-cb104c80-b492-11eb-9c20-961cb38e8f0f.png)

This shows the blank publishing target

[2021-05-14 14:20] sgellock commented on #7827
Shiproom - @hibrenda can you please connect with @cwhitten and review the labeling expectations for incoming bugs?  If issues are not labeled correctly they run the risk of being lost during the final review leading up to the release.

[2021-05-14 14:39] benbrown commented on #7804
The root cause of this is that the list of available publishing types is loaded per-project, and only loaded for the root project.

The fix is to load the publishing target types when the projectId of this component changes.

[2021-05-14 14:44] dmvtech commented on #7802
This is the Azure Active Directory application that gets created and that the Bot Channels Registration is dependent on. It's not exactly a 'resource' and won't be listed in a resource group, but here:
https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/RegisteredApps

[2021-05-14 14:52] dmvtech commented on #7830
Looks like duplicate of #7829

[2021-05-14 14:59] mareekuh commented on #7826
I understand - it's not literally the 'in-focus' state. It's the primary action. I'll update the write up above to correct & prevent confusion. In the short term, we should change the behavior to only 1 blue primary. And no primary when all 3 options are filled out.
I agree - I'd like to revisit the layout, our use of 'icon + link' buttons and more effectively use the contextual toolbar for primar

[2021-05-14 15:06] sgellock commented on #7829
Shiproom - Big Dog, can you track

[2021-05-14 15:07] sgellock commented on #7827
Shiproom - moving out of R13

[2021-05-14 15:09] sgellock commented on #7825
Shiproom - moving this out of R13

[2021-05-14 15:10] sgellock commented on #7823
Shiproom - moving our of R13

[2021-05-14 15:11] sgellock commented on #7822
Shiproom - docs issue for R13.

[2021-05-14 15:12] sgellock commented on #7818
Shiproom - moving our of R13

[2021-05-14 15:12] sgellock commented on #7815
Shiproom - moving our of R13

[2021-05-14 15:15] sgellock commented on #7809
Shiproom - if we crash composer bits, we'll consider taking an error message update for this, and possibly more.

[2021-05-14 15:16] sgellock commented on #7807
Shiproom - moving our of R13

[2021-05-14 15:17] sgellock commented on #7806
Shiproom - Az Func has ephemeral storage.  we need to address this post build

[2021-05-14 15:18] mareekuh opened #7831 "Publishing not successful, error/reason why hidden due to column sizing"
- will update this issue with longer, better description -

Publish failed. No warning, no error, rocket menu has green checks for LUIS and QnA - no way to found out what happened.

![Screen Shot 2021-05-14 at 8 16 44 AM](https://user-images.githubusercontent.com/48503434/118291771-cfd20200-b48c-11eb-8e0c-1592ba2031ba.png)
![Screen Shot 2021-05-14 at 8 15 35 AM](https://user-images.githubuserconte

[2021-05-14 15:18] sgellock commented on #7804
Shiproom - approved.

[2021-05-14 15:18] #7804 closed

[2021-05-14 15:19] sgellock commented on #7798
shiproom - by design

[2021-05-14 15:19] #7798 closed

[2021-05-14 15:20] sgellock commented on #7795
Shiproom - let's understand the root cause and then evaluate risk

[2021-05-14 15:22] sgellock commented on #7794
Shiproom - this is by design.  Consider experience improvements in R14

[2021-05-14 15:23] sgellock commented on #7791
Shiproom - you can run the tools on any shipping version of nodejs.

[2021-05-14 15:24] sgellock commented on #7790
Shiproom - let' repro to verify if we have a regression

[2021-05-14 15:26] lauren-mills commented on #7825
Hi @dinhlan300, you should be able to get all the instances of a recognized entity from your LUIS result using this syntax "=@@entityName". This returns an array object if there is more than one value for a given entity.

You can also access the full recognition result at the default "turn.recognized" scope.

[2021-05-14 15:27] sgellock commented on #7788
Shiproom - approved.  @srinaath can you merge today, ASAP please.

[2021-05-14 15:29] sgellock commented on #7787
Shiproom - Gifts for you Dewain

[2021-05-14 15:30] sgellock commented on #7786
Shiproom - moving out of R13

[2021-05-14 15:30] filcole opened #7832 "Bot Framework Composer not updating properties until end of dialog (to prevent Adaptive Card double submits)"
## Describe the bug

1. Properties are not updated until a trigger has been completed.

Example:

1. Set 'conversation.selectionMade' = false
2. Adaptive card is shown to the user. They chose the option to get a "Random Word"
2. The adaptive card button press fires a 'Message activity received' trigger
3. We set check if 'conversation.selectionMade' = false, if so
      a. set 'conversation.select

[2021-05-14 15:31] sgellock commented on #7821
Shiproom - approved.  @beyackle can you merge today please

[2021-05-14 15:31] filcole commented on #7832
[AdaptiveCardSinglePress.zip](https://github.com/microsoft/BotFramework-Composer/files/6479724/AdaptiveCardSinglePress.zip)

[2021-05-14 15:35] sgellock commented on #7813
Shiproom - let's do a private build for @garypretty to verify this Pr doesn't regress any other core telemetry

[2021-05-14 15:37] sgellock commented on #7780
Shiproom - since we are cracking composer bits today with other P0 issues, let's take this Fit and Finish issue.  Approved.

[2021-05-14 15:38] sgellock commented on #7776
Shiproom - connect with @Virtual-Josh to get a test matrix update

[2021-05-14 15:42] sgellock commented on #7831
Shiproom - @GeoffCoxMSFT can you look at this one, and once we have a root cause, we can assess if we'd take a fix for R13

[2021-05-14 15:59] emivers8 commented on #7826
Agree--I wasn't sure what the right convention was here so we just took the easy path. 😜 This is probably not the only config page refinement that's needed so we should probably add that as an R14 item @Dewain27.

[2021-05-14 16:02] anusharavindrar commented on #7737
@davidfischl, apologize for the delay. I will attempt a repro & update the thread with my findings.

[2021-05-14 16:09] GeoffCoxMSFT commented on #7831
@mareekuh - Could you tell me a little more about the repro steps.  What kind of project did you create? Are you using a MS or personal subscription? What options did you choose during provisioning?  What did the publishing log say?

The message in the UI is only the latest status, so it might be that something wrote an empty string last and that hides the error.

[2021-05-14 16:20] srinaath commented on #7788
Will do @sgellock

[2021-05-14 16:29] tdurnford commented on #7830
Closing as duplicate of #7829

[2021-05-14 16:29] #7830 closed

[2021-05-14 16:43] achint740 opened #7833 "Code editor not opening in Bot Composer"
When I add a trigger, Send a Response and go to the properties pane on the right and Click on Go to Code Editor,
it pops up : Something went wrong.....
![image](https://user-images.githubusercontent.com/42889869/118302174-88398d80-b501-11eb-9be7-eb8cb24da3fd.png)

[2021-05-14 16:53] cwhitten commented on #7773
Hello @goergenj - this is due to the workaround you are employing on #7769 here https://github.com/microsoft/BotFramework-Composer/issues/7769#issuecomment-839700469

This is working as expected so we will close this issue. We have asked for some of your bot assets to reproduce the issue on #7769

[2021-05-14 16:53] #7773 closed

[2021-05-14 16:54] cwhitten commented on #7769
@goergenj we've been communicating offline, and have requested the settings information used on this project in order to move forward. Please see Teams messages for more information

[2021-05-14 16:54] zachgoz opened #7834 "DialogContextError: DialogStateManager.getValue: a scope of 'json' wasn't found"
## Describe the bug

After installing the custom runtime I am seeing this errors after making a HTTP request. The initial error is:

value:"DialogContextError: DialogStateManager.getValue: a scope of 'json' wasn't found."
if I change the response type to blank then I see:
DialogContextError: args[0].trim is not a function

## Version

Bot Framework Composer

Version:  1.4.1
Electron: 8.2.4
Chrome:

[2021-05-14 16:56] cwhitten commented on #7772
@goergenj after migrating the project, you need to update all of the instances of TelemetryTrackEvent to TelemetryTrackEventAction in the Dialog's "Show code" view, like so:

[code]

[2021-05-14 16:56] cwhitten commented on #7772
Closing, but please do reach if you still experience issues.

[2021-05-14 16:56] #7772 closed

[2021-05-14 17:03] cwhitten commented on #7788
Throttle PR merged, issue to be left open for additional investigation

[2021-05-14 17:35] #7821 closed

[2021-05-14 17:41] sgellock commented on #7809
Shiproom - for R13, we're going to make a fix that bubbles up the correct error.  Then we have some more resilient code changes we can do post R13.  Goeff will have a PR for the error handling coming today.

[2021-05-14 18:03] sgellock commented on #7831
Shiproom - Per Geoff: Debugged Marieke's issue - it is a column sizing problem hiding the error when the window is narrow.  The error message is sent back and does appear when the window is wide enough (normal size).  Marieke agreed this is now a P1 for R14.

[2021-05-14 18:30] zachgoz commented on #7834
It appears this is only an issue with the Node JS runtime. When build composer from the source and run the latest version I have an option to convert to a composer 2.0 project. If I do this and use the NodeJS runtime I see these errors, if I use the C# runtime the dialog works as expected.

[2021-05-14 19:35] sgellock commented on #7813
Shiproom - private bits have been verified.  approved.

[2021-05-14 19:53] peterswimm commented on #7790
tested with a new bot and wasn't able to generate app insights records at all, once deployed to a web app it seems to work as intended.

[2021-05-14 20:08] narulasrinivas commented on #6677
@boydc2014 & @lei9444 & @cwhitten - Can someone help me on this to move forward?

[2021-05-14 20:33] JonathanFingold opened #7838 "In "Value" field, some placeholders are irrevelant or missing"
## Describe the bug

The example in the **Value** placeholder makes no sense for a numeric value.

## Version

Version:  2.0.0-nightly.245345.48d2167
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to repr

[2021-05-14 20:43] #7813 closed

[2021-05-14 21:08] srinaath commented on #7795
@scheyal Trying to get more info for repro here

1. At what point in the migration process do you get this error. It looks like the migration to the new runtime was complete and you got this error when you entered the Design Page for the first time.
2. Is this the converted bot? If so, could you share the <= 1.4.* bot that you used for conversion for me to repro the error?
3. For this converted bo

[2021-05-14 22:04] JonathanFingold opened #7840 "Delete properties properties list should not require user to press the Enter key"
## Describe the bug

Can enter a property to delete, but it doesn't take unless you also press Enter.

## Version

Version:  2.0.0-nightly.245345.48d2167
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to

[2021-05-14 22:22] mewa1024 opened #7841 "Response editor dereferences/expands LG templates in the UI, making it difficult to know if the template was saved"
## Describe the bug

If I create an LG template via the Bot Responses page, and then use a reference to that template in a response editor, the response editor renders it as the first response in the template. This is confusing.

## Version

Version:  2.0.0-nightly.245345.48d2167
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distributio

[2021-05-14 22:23] mewa1024 commented on #7841
@sorgh fyi

[2021-05-14 22:51] anusharavindrar commented on #7737
@davidfischl, are you able to test and see if you can reproduce the error without the PVA layer(just the composer bot in Teams)?  Also, can you elaborate on the steps you followed to reproduce the error in Teams?

[2021-05-14 23:08] dmvtech commented on #7829
Hi @kundurmutt

BotComponent (vs ComponentRegistration) are the new route for custom actions (in `2.0.x`). You can follow the directions [here][1]. The two things you will _likely_ have to change are:

 - Update/add a newer package for `Microsoft.Azure.KeyVault.Core`. I went with `3.0.5` for both projects.
 - Use `"components":[{"name":"MultiplyDialog"}]` instead of `"components":[{"name":"CustomA

[2021-05-14 23:08] dmvtech commented on #7830
@aparnaji Please see my info/findings/steps in [this comment](https://github.com/microsoft/BotFramework-Composer/issues/7829#issuecomment-841543388).

[2021-05-15 00:42] davidfischl commented on #7737
thankyou @anusharavindrar, appreciate you looking at this. I am trying to finish a project for a client. Does this mean that Update Activity etc is not currently working for BFC where there is a PVA layer ?

[2021-05-15 01:05] davidfischl commented on #7737
I just run the bot in Teams with the detail above and got the error. I think the issue relates to turn.lastresult.id not getting a value.

Sorry I don’t have the skills to use BFC without PVA. Do you mind checking if the issue is present when you extend PVA with BFC ?

Thanks!

[cid:image740064.jpg@A8E9C0E6.657BCF3F]
David Fischl​
Partner
M +61 (0) 411 197 528<tel:+61%20(0)%20411%20197%20528>

E *

[2021-05-15 01:06] davidfischl commented on #7737
I just run the bot in Teams with the detail above and got the error. I think the issue relates to turn.lastresult.id not getting a value. Sorry I don’t have the skills to use BFC without PVA. Do you mind checking if the issue is present when you extend PVA with BFC ? Thanks!

[2021-05-15 02:56] kundurmutt commented on #7829
Thank you all, for the revised guidance. Will give this a try.

On Sat, 15 May 2021, 04:38 Dana V, ***@***.***> wrote:

[2021-05-15 15:54] achint740 commented on #7833
Error Detailed Screenshot
![image](https://user-images.githubusercontent.com/42889869/118370115-dc0cab00-b5c3-11eb-8778-3626d755a3d8.png)

[2021-05-15 16:45] aparnaji commented on #7829
Thanks, I tried and this worked with 2.0.X Composer, and  for components, it worked with  "components": [
      {
        "name": "CustomAction"
      }]

[2021-05-15 20:28] #7780 closed

[2021-05-16 00:17] arafattehsin opened #7843 "Not able to access turnContext.TurnState from Composer"
## Describe the bug

I'm converting one of the Bot Builder Community's middleware to the Bot Framework Component. This part works well. There's no issue with that.

However, this middleware (and many others of the similar nature), keep a value in a state just like below [7];

![image](https://user-images.githubusercontent.com/16351038/118381341-545b8680-b62d-11eb-9534-b3089016bccc.png)

I am able

[2021-05-16 01:29] arafattehsin commented on #7843
Just to add one more thing: do you consider a best practice to store this value into to either user, dialog or conversation state? As I know that I will be able to access from either of these objects such as `conversation.Sentiment`

[2021-05-16 08:58] kundurmutt commented on #7829
Good to know.

On Sat, 15 May 2021, 22:16 aparnaji, ***@***.***> wrote:

[2021-05-16 14:00] daveta opened #7844 "Composer Helper eats up CPU on Mac"
## Describe the bug
The Composer spins up some renderer which eats up a lot of CPU.  Even when composer isn't actively up.

<img width="979" alt="image" src="https://user-images.githubusercontent.com/6182197/118399824-d5a61f80-b613-11eb-9334-36b748337511.png">

## Version

Version:  2.0.0-nightly.245007.8406071
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Bro

[2021-05-17 03:21] zhixzhan commented on #7833
@achint740 Can you stable reproduce this error, or if you restart Composer still see this?

[2021-05-17 05:00] achint740 commented on #7833
@zhixzhan this error pops up even after restarting.
I have tried re-installing the Composer many a times as well.

**Reproduce the error**
1. Open any Bot.
2.  Go to a Dialog.
3.  Add "Send a Response field".
4.  Go to properties pane on the right.
5. Switch to Code editor. This error pops up.

[2021-05-17 07:16] goergenj commented on #7772
@cwhitten That was already done before the migration. Also as described it works after I remove the "**_disabled_**" after the migration. So this is not the root cause.

{
          "$kind": "Microsoft.TelemetryTrackEventAction",
          "$designer": {
            "id": "Vg6kAK",
            "name": "Create LogDialogStep"
          },
          "properties": {
            "LogDialogStep_Number":

[2021-05-17 07:19] goergenj commented on #7769
@cwhitten I sent you a copy of the project in teams.

[2021-05-17 07:19] goergenj commented on #7773
@cwhitten I sent you a copy of the project in teams.

[2021-05-17 08:00] luhan2017 commented on #7751
@vivekkshankar , do you think we should mark this issue as P0 and R13? we had a PR ready as we discussed.
The PR is to give an error and disable the generate and publish button. There will be a follow up PR for R14 to direct user to create another publish profile or select another valid one if any.

[2021-05-17 08:00] alanlong9278 commented on #7749
Fixed in main branch.

[2021-05-17 08:00] #7749 closed

[2021-05-17 08:42] darrenj commented on #7790
I have just reproed on:
![image](https://user-images.githubusercontent.com/33519520/118459363-99e28700-b6f3-11eb-8ae9-8abfe10544b3.png)

See `LuisResult` entry does not have utterance
![image](https://user-images.githubusercontent.com/33519520/118459324-8df6c500-b6f3-11eb-9f63-1a8891238fc4.png)

Noe that `BotMessageRecieved` does:
![image](https://user-images.githubusercontent.com/33519520/1184595

[2021-05-17 08:45] darrenj commented on #7790
I suspect your local problem was that you need to manually updating Bot settings (advanced JSON view) to put the connection string in? When testing locally, resources from your publishprofile aren't used :-(

[2021-05-17 10:23] luhan2017 commented on #7014
The two selection pages (select which dialogs are included in the skill manifest and select which tasks this skill can perform) are totally two separated concepts.

@scheyal @darrenj @vivekkshankar Here are the list of triggers which are supported in composer for now:
![image](https://user-images.githubusercontent.com/32191031/118473336-6d069200-b73c-11eb-90d5-edd3a636fb4e.png)

And I have followi

[2021-05-17 10:31] luhan2017 commented on #7255
@lauren-mills, when adding a remote skill ,we will automatically added the appid to the allowCaller list of the root bot, so this should not happen except there is a bug. Could you please add more details here? did you add the skill by adding the manifest url through UX?

[2021-05-17 10:32] zhixzhan commented on #7833
@achint740 can you share the bot? I did not see  this on latest build with empty bot example.

[2021-05-17 11:53] achint740 commented on #7833
@zhixzhan Here is the bot. I have attached the zip file.
Reproduce the error :
1. Go to Greeting Dialog
2. Go to the empty trigger below the Welcome User trigger.
3. Select it and go to properties pane on the right.
4. Click on "Switch to Code Editor".
5. Error pops up, click on OK and the code editor goes to a locked "Loading State".

Reproduce the error (Way 2)
1. Go to Greetings Dialogue.
2. Cl

[2021-05-17 12:12] UmaPrelude commented on #7721
No errors.

[2021-05-17 13:10] cwhitten commented on #7790
Do we know of a version of the SDK where this behaved as expected? We should also check with the service to see if there has been a change to PII collection

[2021-05-17 13:40] vboluarte opened #7845 "Luis not working"
I have a bot with three dialogs. When i test it on the composer it works fine, buut once published the bot stops recognizing sub dialogs triggers, just main triggers. Why is this happening?

[2021-05-17 15:07] sgellock commented on #7844
Shiproom - we're not seeing this.  @daveta any more repro steps you can share?

[2021-05-17 15:08] sgellock commented on #7795
Shiproom - we're not able to get a repro.  moving out to R14

[2021-05-17 15:10] sgellock commented on #7790
Shiproom - @scheyal assuming this is a dotnet SDK bot?

[2021-05-17 15:12] sgellock commented on #7776
Shiproom - RC14 of NBTs should have the last fix to enable JS built bots.  we need to validate that this morning

[2021-05-17 15:15] sgellock commented on #7751
Shiproom - let's review the PR and see if we want to recall Composer to take this.  regardless, if we decide to take this we need to merge and product a new nightly immediately thereafter.

[2021-05-17 16:31] lauren-mills commented on #7255
This is from the enterprise template, which has two skills included out of the box. So it is not a case of going through the add skill flow. The skills are added at template creation.

[2021-05-17 16:58] ninggao commented on #7702
@benbrown Could you please take a look at this, or route it to anyone who's appropriate?

[2021-05-17 17:02] taicchoumsft commented on #7696
Hi @goergenj , thanks for the feedback here.  Does not using interruptions work for this particular dialog?  Not using interruptions here simultaneously solves the unexpected "turn.recognized.intent" coming from the root dialog, and also doesn't consult the root dialog at all, no wasted traffic.

@Stevenic , do you have some feedback for us here on what we can do? Thanks Steve.

[2021-05-17 17:07] daveta commented on #7844
Working in clearer script..

[2021-05-17 17:35] ninggao commented on #7823
@darrenj  Could you please take a look at this one?

[2021-05-17 17:52] JonathanFingold opened #7846 "turn.repeatedIds should not be a default adaptive expression element"
## Describe the bug

The `turn.repeatedIds` property is not intended to be used by developers.

## Version

Version:  2.0.0-nightly.245812.dc07be4
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprodu

[2021-05-17 17:53] taicchoumsft commented on #7721
Hi @UmaPrelude , can you post a screenshot of the expanded section under `oc_abi.dll`?

[2021-05-17 17:58] #7844 closed

[2021-05-17 18:12] ninggao commented on #7834
@anusharavindrar Could you please take a look at this one?

[2021-05-17 18:13] ninggao commented on #7833
@zhixzhan I have assigned this issue to you. Please keep helping the customer on this issue.

[2021-05-17 18:13] ninggao commented on #7832
@cwhitten Could you please take a look at this issue?

[2021-05-17 18:18] mewa1024 opened #7847 "Azure sign in error: "There was a problem loading Azure directories. Failed to fetch""
## Describe the bug

When signing in to Azure to add a LUIS or QnA resource, I can successfully sign in (i.e. go through the Azure sign in experience) but when I land back on the modal to choose a resource, I see this error. Pressing the "Back" button and "Next" seem to refresh seems to workaround the issue.

## Version

Version:  2.0.0-nightly.245812.dc07be4
Electron: 8.2.4
Chrome: 80.0.3987.165

[2021-05-17 18:24] tdurnford commented on #7840
PR #https://github.com/microsoft/BotFramework-Composer/pull/6633 resolves this issue and will be included in the R14 release.

[2021-05-17 18:28] v-kydela commented on #7845
Thank you for the report, @vboluarte

It sounds like you're saying you have some LUIS intent triggers in multiple dialogs but the intents are only getting triggered in the main dialog even when it's not the active dialog. Is that correct?

Please provide the following:

1. A minimal code example
2. Repro steps
3. Screenshots

[2021-05-17 18:46] sgellock commented on #7844
Shiproom - closing until we can get a repro

[2021-05-17 18:47] CopenhagenJames opened #7849 "Publish with LUIS get Error when running in Azure"
When you publish a new Bot with LUIS enabled you get a

Response status code does not indicate success: 404 (Not Found).

## Describe the bug

Basic WeatherBot with LUIS published and error above is generated.

It works fine in Composer but not when deployed.

## Version

Version 1.4.1

## Browser

Currently using Edge

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ X] Edg

[2021-05-17 19:52] sgellock commented on #7769
Shiproom - approved - migration bug.

[2021-05-17 19:53] #7769 closed

[2021-05-17 19:54] taicchoumsft commented on #7790
Hi @darrenj , the `question` property is gated behind the `logPersonalInformation` telemetry property, the source is [here](https://github.com/microsoft/botbuilder-dotnet/blob/402bc02b4cbbd2f4ec359134640e99211367e4a5/libraries/Microsoft.Bot.Builder.AI.LUIS/LuisRecognizer.cs#L571).  After enabling it, I get this:
![image](https://user-images.githubusercontent.com/61705609/118546804-4ed56d80-b70d-11

[2021-05-17 19:59] sgellock commented on #7823
Shiproom - this is by design.  we are not including samples in the home page of composer 2.0.  these samples are migrated to the new adaptive RT and will be, at least for R13, found in the boatbuilder-samples repository.

[2021-05-17 20:38] martinlarosa opened #7850 "Allow to get a ResourceResponse when sending a message to the user."
<!-- Please search for your feature request before creating a new one. >

## Get ResourceResponse when sending an activity to the user

I need to get a reference of the message I'm sending to the user in order to know when they act on that message. For instance to request feedback on the message or know to what message the user reacted to.

Here's a workaround using a custom action. Would it be fe

[2021-05-17 20:57] benbrown opened #7851 "Export as skill is missing a learn more link"
## Describe the bug

The learn more link is missing from the allowed callers page of the "Export as skill" modal. See below:

![Screen Shot 2021-05-17 at 3 55 55 PM](https://user-images.githubusercontent.com/729873/118555686-8dc4ec80-b728-11eb-96ce-5386228b2d85.png)

## Version

2.0.0-test

[2021-05-17 21:00] benbrown opened #7852 "Add skill via manifest fails to load remote LU"
## Describe the bug

While connecting to a remote skill, the step that is supposed to import the remote LU files fails an error that says "get remote file fail" and requires me to put in my own LU for the skill trigger

![Screen Shot 2021-05-17 at 3 45 00 PM](https://user-images.githubusercontent.com/729873/118555797-b6e57d00-b728-11eb-9ef4-4c25fd7d266b.png)

## Version

2.0.0-test

[2021-05-17 21:28] srinaath opened #7853 "Upgrade recoil to 0.3"
Composer main is currently based on an older version of Recoil (0.0.13). This task encapsulates the work required to upgrade Composer to use recoil 0.3 and handle changes to code required and test all scenarios in the electron installer.

[2021-05-17 22:30] srinaath commented on #6128
For reference https://microsoft.sharepoint.com/teams/ElectronInMicrosoft/Wiki/Electron-11.2.3.aspx. We currently use the electron version with no FFmpeg codecs. Production support for playing audio files/video files inside Webchat can be supported only if we use a media flavor of the Electron in our build pipelines.

[2021-05-17 23:17] anusharavindrar commented on #7737
Able to reproduce the error when testing with a composer bot as a PVA extension in Teams. Investigating further.
+@tonyanziano

![image](https://user-images.githubusercontent.com/48731427/118567647-c5895f80-b73b-11eb-906e-29d6a4109986.png)

[2021-05-17 23:31] babrekel commented on #7737
@anusharavindrar I am seeing the following error message internally from the execution of your dialog.
[code]

One thing you could do to help debug the issue on your end is to add an InstrumentationKey to the bot, which will send telemetry to Application Insights (CustomEvents table).

![image](https://user-images.githubusercontent.com/26589708/118568763-602e7200-b72d-11eb-9e59-3c4bd5565825.png)

[2021-05-18 01:02] zhixzhan commented on #7833
@ninggao Sure, I can follow on this.

[2021-05-18 01:04] Virtual-Josh opened #7854 "Node WA skill parents have a stack overflow exception when writing to stroage accounts"
## Describe the bug
Currently the parent bot throws circular JSON reference error when attempting to write bot state to storage when using skills.

## Version
Version:  2.0.0-nightly.246099.8fa93
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Window

[2021-05-18 01:19] zhixzhan commented on #7833
@achint740 Which Composer version are you using? I have try your bot on Composer v1.4.1 it works as expected.

![image](https://user-images.githubusercontent.com/49866537/118575885-02943700-b7ba-11eb-99ba-e8d01e497d9b.png)

[2021-05-18 03:20] joshgummersall commented on #7854
This was a fun one! There were two very subtle cases of JSON serialization cycles.

1. The app insights telemetry client (not the null telemetry client) fails `JSON.stringify` with a cycle error once you've tracked an event (it must hold references to tracked events, thus introducing a cycle). Generally not a problem, but it is included in [trace events](https://github.com/microsoft/botbuilder-js/

[2021-05-18 04:14] powertrio77 commented on #7823
ok, thanks.

[2021-05-18 07:27] vboluarte commented on #7845
Yes, that is what im saying. The bot works fine in the emulator, the child dialogs triggers as expected; But once published in Azure it stops triggering. Im working in the Bot framework composer.

1.- What kind of code do you need?
{
  "$kind": "Microsoft.AdaptiveDialog",
  "$designer": {
    "id": "BiAK8i",
    "name": "recordar_contra_dialogo",
    "description": ""
  },
  "autoEndDialog": true,

[2021-05-18 07:59] UmaPrelude commented on #7721
![image](https://user-images.githubusercontent.com/65938026/118613878-ccb47a00-b7dc-11eb-8e22-7eef8daf3b1f.png)

[2021-05-18 08:01] achint740 commented on #7833
@zhixzhan I am using Bot version 1.4.1 only
![image](https://user-images.githubusercontent.com/42889869/118613810-ba3a4080-b7dc-11eb-9295-4afb7ebd45c9.png)

I have opened the same on Composer v 2.0, even after converting it shows the same!
![image](https://user-images.githubusercontent.com/42889869/118614390-506e6680-b7dd-11eb-8fb6-a7db6a4f59ef.png)

[2021-05-18 08:14] darrenj commented on #7790
Thanks Tai - agree that the multiple intent part is a new requirement so don't need to worry about that at this time.

Hopefully the latest build of Composer will take this change, will confirm in shiproom

[2021-05-18 08:18] zhixzhan commented on #7833
@achint740 Can this error reproduce on a new created bot ?  Are your using nodejs v14+ ？

[2021-05-18 09:01] achint740 commented on #7833
Yes, this error reproduces on every bot I create.

Node Version :
![image](https://user-images.githubusercontent.com/42889869/118623198-a0512b80-b7e5-11eb-8840-8edb803961c9.png)

[2021-05-18 09:19] zhixzhan commented on #7833
@achint740 Did you try add some other filed,  delete an existed filed, or add a trigger to see if it's LG only issue or all bot resources are not be able to write.
And if it is possible, can you record a video, it would be very helpful for us to debug it.

[2021-05-18 09:35] davidfischl commented on #7737
Thank you @babrekel. Sorry I don't have access to get and InstrumentationKey. Appreciate your help.

It looks like turn.lastresult.id is not getting a value when Bot Framework Composer is being used as an extension to Power Virtual Agents. When I look at the variable after running a Send Activity, it appears to be null.

[2021-05-18 10:19] achint740 commented on #7833
@zhixzhan Here is the video. Might be a bit blur.

https://user-images.githubusercontent.com/42889869/118634763-879a4300-b7f0-11eb-8a3f-5fb89c1725e2.mp4

Also, I tried creating the Ask a Response trigger and the same issue pops up there.

![image](https://user-images.githubusercontent.com/42889869/118634857-9e409a00-b7f0-11eb-8f7d-75e4f4a12cdd.png)

[2021-05-18 15:06] sgellock commented on #7854
Shiproom - approved.  need to get a 4.13.3 patch for JS SDK.  Need to understand the NBT implications and whether we need to cut RC14 of these

[2021-05-18 15:07] sgellock commented on #7790
Shiproom - requires 4.13.2 of dotnet SDK

[2021-05-18 15:08] zachgoz commented on #7834
Is there any other info I could provide to help solve this?

[2021-05-18 15:08] sgellock commented on #7776
Shiproom - RC14 of NBTs fixed this.  verified yesterday with a full test pass

[2021-05-18 15:08] #7776 closed

[2021-05-18 15:10] sgellock commented on #7751
Shiproom - moved out of R13.

[2021-05-18 16:02] jwiley84 commented on #7834
I am unable to repro this using the electron version. I will try  the source version and see if it repros there.

[2021-05-18 16:22] ninggao commented on #7823
@powertrio77 would you like to close this issue, or do you have other questions?

[2021-05-18 16:37] ninggao commented on #7849
@stevkan do you think this one is related to https://github.com/microsoft/BotFramework-Composer/issues/7702 ?

[2021-05-18 16:38] sgellock commented on #7790
Shiproom - Per @taicchoumsft's analysis, we have a fix merged into the 4.13 branch of the .NET SDK.  This will be addressed by publishing 4.13.2 and updating the NBTs to use the latest SDK bits.

[2021-05-18 16:45] srinaath commented on #7833
@achint740 It looks you are running Composer inside a virtual machine. Could you see if you are able to repro it on a non VM instance. We have tried to repro this error and are unable to.

[2021-05-18 16:52] achint740 commented on #7833
@srinaath Yes I am running it on a Virtual Machine since I have to work on that only for my work.
I tried it on a non-VM machine. No error there.
But the whole bunch of my work is on my VM only.

[2021-05-18 16:55] srinaath commented on #7823
@powertrio77 Once you turn on the flag for the new adaptive runtime in Composer settings you lose the ability to choose from these preexisting templates. This experience is expected.

[2021-05-18 16:58] srinaath commented on #7816
We have a PR open to fix this ticket @gremlin529 . Thanks.

[2021-05-18 17:04] babrekel commented on #7737
Thanks @davidfischl for clarifying. We will track this in Power Virtual Agents.

[2021-05-18 17:10] garypretty commented on #7850
Thanks @martinlarosa. I think this is an interesting idea.  We will add this to our backlog for considering in future milestones.  As you say this can be worked around today, but certainly a candidate for a future release.

[2021-05-18 17:46] mewa1024 commented on #5385
@JaskeeratBedi-cmk Closing this since I think the new flow addresses these issues. (Feel free to re-open with a new comment if there is something specific you'd like to track.)

[2021-05-18 17:46] #5385 closed

[2021-05-18 17:54] mewa1024 opened #7855 ""Configure" page, can we store the LUIS and QnA names as well as the keys?"
## Is your feature request related to a problem? Please describe.

Not really, just an inconvenience.

## Describe the solution you'd like

I'd like the Configure > Development resources section to record the name of the resource linked, not just the key. If I have a few resources, it's hard to remember which one is being used.

## Describe alternatives you've considered

to workaround this, you c

[2021-05-18 17:56] mewa1024 commented on #7855
(@emivers8, @JaskeeratBedi-cmk minor food for thought?)

[2021-05-18 18:15] powertrio77 commented on #7823
close. thanks

[2021-05-18 18:56] srinaath commented on #7832
@filcole
This is by design. Essentially, while the previous dialog is processing, any variables that are set are persisted only after the dialog is completed processing. A couple of solutions thanks to @EricDahlvang but unfortunately a bit more work

1. https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp. Leveraging cosmos db for s

[2021-05-18 19:42] Virtual-Josh opened #7856 "Composer doesn't add the skillendpoint to appsettings if you don't start the bot"
## Describe the bug
Composer doesn't add the `skillHostEndpoint` to app settings until you start the bot.

This might be a P1 since it's critical, but not its importance is less clear.

## Version
Version:  2.0.0-nightly.246099.8fa93
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ]

[2021-05-18 19:47] Virtual-Josh commented on #7856
I haven't checked all the other combinations, but it seems reasonable this issue exists for all other bot types.

[2021-05-18 21:37] zachgoz opened #7859 "Scripts/compileExtensions.js:84 syntax error"
## Describe the bug

The ? in packageJSON?.main seems to be causing an issue:
<img width="633" alt="Screen Shot 2021-05-18 at 10 49 58 AM" src="https://user-images.githubusercontent.com/3943365/118725345-d69aa500-b7fd-11eb-9f38-cf603acd22b4.png">

## Version
2.0.0-test
Node v12.20.0
<img width="613" alt="Screen Shot 2021-05-18 at 5 30 54 PM" src="https://user-images.githubusercontent.com/3943365/1

[2021-05-18 21:57] dmvtech commented on #7314
Hi @HabeebunnishaMohammad I am unable to reproduce this, but I tried with version `1.4.1`.

Can you please test with `1.4.1` and see if it still has the same issue? If not, can you try with the simple [repo I used](https://github.com/dmvtech/ManyDialogs7314)? If it doesn't reproduce with that, can you please alter it and make it available so that I have a workable repro?

[2021-05-18 21:59] ctharmon722 opened #7860 "Update to 1.4.1 Publishing on wrong tenant"
Since updating to 1.4.1 (although I haven't published anything new with 1.4), I go to publish a new profile and I get the following error...

## Version 1.4.1

## To Reproduce

Steps to reproduce the behavior:

1. In composer, project setting, click "Add new publish profile"
2. Entered a name and selected the publish target of "Publish bot to Azure Web App (Preview)"
3. Configure resources: select

[2021-05-18 22:06] taicchoumsft commented on #7721
Hey  @UmaPrelude , I'm at a loss here, the screenshots show that the resources actually have loaded successfully.  Can you try using Composer on a Win10 machine?

Unfortunately, we really do recommend moving off Windows 7 and using Windows 10, per our docs [here](https://github.com/microsoft/BotFramework-Composer/blob/main/docs/1.3-supported-os.md).  Sincere apologies, there's not much I can do fo

[2021-05-18 22:09] taicchoumsft commented on #7721
Actually, maybe one more thing - can you make sure you've installed Node v12/v14 x64 bit and try again.

[2021-05-18 22:23] srinaath commented on #7859
@zachgoz This seems to be an issue with building with Node 12 version. Could you try with the Node LTS version and see if this issue reproes there?

[2021-05-18 22:31] joshgummersall commented on #7854
Should be resolved with `4.13.4`

[2021-05-18 23:39] Virtual-Josh opened #7861 "Node WA Parent bots don't have equivalent LUIS routing performance"
## Describe the bug
Node WA parent bots don't trigger intents via LUIS at the same threshold as function bots and dotnet bots despite the same LUIS confidence levels across the same intents.

## Version
Version:  2.0.0-nightly.246170.8fa93
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox

[2021-05-18 23:57] sgellock commented on #7856
Shiproom - moved out of R13

[2021-05-18 23:58] sgellock commented on #7854
Shiproom - fix was verified with 4.13.4 release

[2021-05-18 23:58] #7854 closed

[2021-05-19 00:53] praveenvavilla opened #7862 "issues with update-schema script"
## Describe the bug

I am using nightly composer and I see below error when try to run update-schema script
.\update-schema.ps1
Running schema merge.
module.js:487
    throw err;
    ^

Error: Cannot find module 'C:\Users\prvavill\AppData\Roaming\npm\node_modules\@microsoft\botframework-cli\bin\run'
    at Function.Module._resolveFilename (module.js:485:15)
    at Function.Module._load (module.js:

[2021-05-19 01:01] Virtual-Josh commented on #7861
non-issue, seems like it was somethign weird with luis

[2021-05-19 01:01] #7861 closed

[2021-05-19 01:04] boydc2014 commented on #7862
@praveenvavilla   can you share your project setup and the previous steps before you run update-schema?

@benbrown is this update-schema still needed when doing custom actions?

[2021-05-19 01:50] praveenvavilla commented on #7862
I noticed that there is a error while installing bot framework cli, may be this is an issue here
![image](https://user-images.githubusercontent.com/55256942/118744853-ec15cc00-b809-11eb-966e-a21d3e54c5e8.png)

[2021-05-19 08:37] vboluarte commented on #7845
Hello, i have solved the problem. Child dialog LUIS was published in Staging Slot, but it has to be on production slot in order to work once the bot is published
![Screen Shot 05-19-21 at 10 36 AM](https://user-images.githubusercontent.com/81149767/118782184-232dc100-b88e-11eb-8726-e484486a5e2b.PNG)

[2021-05-19 08:37] #7845 closed

[2021-05-19 08:42] luhan2017 commented on #7852
@benbrown, could you check if the url in the skill manifest is accessible or not? This could probably because the runtime does not exposed the .lu file in the api?

[2021-05-19 08:53] alanlong9278 commented on #7851
@vivekkshankar  Could u pls give me the link of `Learn more`, thanks

[2021-05-19 09:07] goergenj commented on #7696
@taicchoumsft Let's discuss in our call on Friday. Not using interruptions would work but that is not the design we need as we need interruptions in general.

Thanks for opening a separate issue for the double hit in the child recognizers. Will be easier to track these separately.

[2021-05-19 10:46] gabog opened #7864 "Load skill manifests from any location"
In composer 2.x a user can load a manifest from an http or https endpoint only, but this should be the only way.

Manifests describe the skill operations but they don't necessarily need to be exposed on an http endpoint, we do this in samples for convenience but a skill provider may choose not to do this and send the manifest and related files to the consumer offband. In this case, I should be abl

[2021-05-19 13:19] gabog opened #7865 "Allow adding a skill reference without having to add appId or publishing profile"
In the latest composer 2.x you can only add a skill reference if you have a publishing profile and/or an AppId and password configured for your bot.

![image](https://user-images.githubusercontent.com/12264946/118819111-050e9380-b883-11eb-97d8-cb25ad7044b9.png)

In some scenarios I may want to connect to a non-composer skill hosted locally on my dev machine using localhost and I should not be requ

[2021-05-19 14:46] sgellock commented on #7790
Shiproom - 4.13.2 was published yesterday.

[2021-05-19 14:46] #7790 closed

[2021-05-19 14:49] zachgoz commented on #7859
@srinaath Thanks, using node 14.17.0 sorts out the compileExtensions issue. However I still see the mongoStorage install issue unless I remove the yarn lockfile and update to "mongodb-client-encryption": "^1.2.0".

<img width="675" alt="Screen Shot 2021-05-19 at 10 30 05 AM" src="https://user-images.githubusercontent.com/3943365/118833209-46a53b80-b88f-11eb-9cb7-7871b9b2bc79.png">

<img width="136

[2021-05-19 15:07] sgellock commented on #7809
Shiproom - we should do this in the very next release

[2021-05-19 16:31] srinaath commented on #7833
@achint740 Could you paste a snapshot of the Chrome Developer Tools, networks tab and console tab view for us to see what if any network calls are failing.

![Screen Shot 2021-05-19 at 9 26 15 AM](https://user-images.githubusercontent.com/13004779/118849218-5d926080-b884-11eb-8571-5a0460bca7e4.png)

@hatpick also identified that this PR https://github.com/microsoft/BotFramework-Composer/pull/5547

[2021-05-19 16:37] srinaath commented on #7862
@praveenvavilla What node version are you currently on? The botframework-cli needs Node 12 version to run on.

[2021-05-19 17:49] JonathanFingold commented on #7779
@boydc2014 , yes, I had set the dialog to use a RegEx recognizer.

1. Some context sensitive help text associated with this field would be helpful.
2. Replacing the placeholder/watermark text would also be helpful.

[2021-05-19 18:03] achint740 commented on #7833
Console
![image](https://user-images.githubusercontent.com/42889869/118861559-43936500-b8fa-11eb-8ad1-bed2f59803ad.png)

Network
![image](https://user-images.githubusercontent.com/42889869/118861664-632a8d80-b8fa-11eb-8786-659caae0cc85.png)

@srinaath

[2021-05-19 18:10] srinaath commented on #7833
@hatpick We can definitely confirm your investigation. https://github.com/microsoft/BotFramework-Composer/pull/5547/files#diff-96bd06513353b0cd4b08269cfe491f21242a411b7189a5017e2735c68021c1a1R8. The network call fails at loading monaco.

[2021-05-19 18:15] ninggao commented on #7832
@cleemullins @srinaath needs help on SDK side for this issue. Could you please take a look at this issue, and let me know who can better help him? I add you to the assignees for now to keep track of it.

[2021-05-19 18:16] ninggao commented on #7862
@srinaath Thanks for the prompt reply. Please continue helping the customer on this issue.

[2021-05-19 18:20] lauren-mills opened #7866 "Allowed callers UI doesn't update when you switch between bots"
## Describe the bug
In Configure, the allowed callers list UI does not update when you switch between bots

Root bot:
![image](https://user-images.githubusercontent.com/27976702/118863527-dcdb6080-b893-11eb-8a4c-a85a422f8b1c.png)

Click to skill bot:
![image](https://user-images.githubusercontent.com/27976702/118863602-f41a4e00-b893-11eb-9fc3-235f7177290c.png)

Actual value in json:
[code]

The UI

[2021-05-19 18:30] #7823 closed

[2021-05-19 18:38] srinaath commented on #7832
Just an update on this ticket. I tried using the Storage package from community repo. I keep facing an error. https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/issues/403

[2021-05-19 18:44] srinaath commented on #7866
@luhan2017 This could get a bit confusing if the allowList is showing stale values and the user wondering why the skill connection is not working.

[2021-05-19 19:39] tdurnford commented on #7866
It looks like the selected project id isn’t updating correctly. I’ll take a look.

[2021-05-19 23:12] anusharavindrar commented on #6712
@ctharmon722, apologize for the delay in response. Can you specify if you are making use of QnA in your larger SDK bot or is it added to your composer bot along with LUIS? Also, I have added my email id in my github profile, so you can share relevant information/screenshots. We had a previous LUIS [issue](https://github.com/microsoft/botbuilder-dotnet/issues/4714#issuecomment-700544479) where the

[2021-05-20 00:20] ctharmon722 commented on #7860
@cwhitten last time you knew instantly what was wrong when I updated to version 1.4 and was having a runtime error. Wondering if you had any idea why with the update to 1.4 (maybe only 1.4.1) it defaults to a random tenant/subscription. In this case it was a subscription that has been canceled?

To add a little more information, I rolled back to 1.3, and could publish just fine.

[2021-05-20 00:26] srinaath commented on #7829
From my testing, It seems like the name of csproj file is the name to be added inside components array.
@peterinnesmsft Is this by design? Typically, we would look at the namespace or className right?

[2021-05-20 01:48] zhixzhan commented on #7833
@srinaath Are you saying this error is caused by some resource of Monaco editor didn't load, or network issue in VM ?  I tried offline open Composer, when I click a trigger, it popup error immediately, seems different from this case.
![image](https://user-images.githubusercontent.com/49866537/118905861-276de300-b94f-11eb-8872-d5ae8f2546ea.png)

Could this caused by some file system write issue in

[2021-05-20 01:54] ctharmon722 commented on #6712
Thanks @anusharavindrar. We will look into the Startup class tomorrow and get back to you. We really appreciate your response.

[2021-05-20 01:55] luhan2017 commented on #7865
@vivekkshankar let's follow up on this issue.

[2021-05-20 02:13] boydc2014 commented on #7833
FS is less likely to have issues, and even when it have issues, it's an issue in persistence layer and the error message should be clear.

I guess it's still related to manaco editor, and probably the firewall\NSG in VM blocks the manaco editor download.

How about we create a customized build including @liweitian's previous fix and ask customer to try again?

[2021-05-20 02:35] luhan2017 commented on #7014
Dupe with #7195

[2021-05-20 04:09] zhixzhan commented on #7833
I created a build task on the Monaco fix branch.
https://fuselabs.visualstudio.com/Composer/_build/results?buildId=246786&view=results

[2021-05-20 05:28] zhixzhan commented on #7833
@achint740 Here I uploaded the above fixed build, can you try it?
https://github.com/zhixzhan/BotFramework-Composer-1/releases/tag/v2.0.0

[2021-05-20 06:25] JohnRobertGreen commented on #5009
I have the same issue as @Clooney24 . Oddly, it works in the Emulator but not via Web Chat.

[2021-05-20 06:26] achint740 commented on #7833
@zhixzhan thankyou so much for your co operation.
I installed the fixed build. It's working all fine. No error.
The code editor is opening as well :)
![image](https://user-images.githubusercontent.com/42889869/118929430-20040500-b962-11eb-81dc-870aaf6ba4ff.png)
![image](https://user-images.githubusercontent.com/42889869/118929468-301be480-b962-11eb-84ed-7e5f4fcd8a2e.png)

Thanks to @srinaath @boyd

[2021-05-20 11:06] dinhlan300 commented on #7825
@lauren-mills Thank you so much. It's worked
I appreciate it.

[2021-05-20 11:06] #7825 closed

[2021-05-20 12:51] kwoxer commented on #5811
It was a wrong endpoint key. Very confusing in the docs...

[2021-05-20 13:06] srinaath commented on #7862
Closing this ticket. Connected with customer offline and the issue was with the Node version being in 8.0.

[2021-05-20 13:06] #7862 closed

[2021-05-20 17:13] aparnaji commented on #7699
What could be the cause of this and any work around pls

[2021-05-20 17:20] aparnaji opened #7872 "Adding Skill to Bot Composer is increasing the Bot Size and making it slow"
## Describe the bug

After adding another Bot as Skill, the size of Bot has become larger  and became slow, is there a way to increase the performance and reduce size

## Version

## Browser

- [ ] Chrome

- [ ] Edge

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Add another Bot using the manifest as skill ( the other bot is really small only two dialogues)
2.Creates

[2021-05-20 17:58] stevkan commented on #7849
@CopenhagenJames, can you list which version of Composer it is that you are using? If you look deeper into any generated logs or Application Insights, do you see any expanded details regarding the error that can be shared?

[2021-05-20 19:15] zachgoz commented on #7834
This seems to be an issue for any nodejs runtime, I've tried node 12.20 and 14.17 both fresh installs of composer and existing and new composer projects have the same errors. Is the node runtime not supported anymore?

<img width="1170" alt="Screen Shot 2021-05-20 at 2 01 46 PM" src="https://user-images.githubusercontent.com/3943365/119035710-e04b1680-b97d-11eb-94b3-3a8bccd413d3.png">

[2021-05-20 19:33] stevkan commented on #7303
Closing as resolved.

[2021-05-20 19:33] #7303 closed

[2021-05-20 20:27] vivekkshankar commented on #7851
I dont think we have a separate doc covering "which bots can access this skill".
Until we do we can link to the the doc here https://docs.microsoft.com/en-us/composer/how-to-publish-skill?tabs=v2x
Step 5 talks about this.

[2021-05-20 23:06] CopenhagenJames commented on #7849
I'm using 1.4.1. I'll have to look at the logs.

Sincerely,

James Lawrence

Senior Cloud Solutions Architect

________________________________
From: Steven Kanberg ***@***.***>
Sent: Thursday, May 20, 2021 1:58:41 PM
To: microsoft/BotFramework-Composer ***@***.***>
Cc: James Lawrence ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/BotFramework-Composer] Publish with LUIS get Error when

[2021-05-21 01:12] dawwa opened #7875 "Command failed: dotnet build Empty.csproj"
## Version

Composer 2.0
Windows

## To Reproduce

Steps to reproduce the behavior:
Simply Create a New Bot, it behaves as below.

![image](https://user-images.githubusercontent.com/44714043/119067395-b09c0e80-b97d-11eb-97f7-99065bc45d94.png)

![image](https://user-images.githubusercontent.com/44714043/119067340-8cd8c880-b97d-11eb-8084-081f49abd153.png)

[2021-05-21 02:05] mn-invia opened #7876 "Unable to create BOT after download Composer version 2.0"
## Describe the bug

I have TWO Bots created using Microsoft Composer version 1.4 and they both were working fine. There are no CUSTOM BUILT Activities in both the bots. After downloading the Latest Composer version 2.0, When I open my BOTs, the composer asked me to "Convert your project to latest format", I went ahead and clicked the 'Convert' button. Then it asked me to 'Create a bot project' wh

[2021-05-21 08:36] jamalsia opened #7877 "when running update schema there are 2 packages with the same name"
## Describe the bug

when running
sh ./update-schema.sh

i am getting
`
Running schema merge on nodejs runtime.
Finding component files
Error conflicting definitions of Microsoft.IDialog.schema
  botbuilder-dialogs-declarative: /Users/vanilla/git_repo/AOSREbot/runtime/node_modules/botbuilder-ai/node_modules/botbuilder-dialogs-declarative/schemas/Microsoft.IDialog.schema
  botbuilder-dialogs-declar

[2021-05-21 08:54] jamalsia commented on #7877
this comes from the definition here :
![image](https://user-images.githubusercontent.com/25248608/119110898-75035200-ba1a-11eb-87bd-2897e2733372.png)

[2021-05-21 08:54] junewoo-cv opened #7878 "2.0.0 Version "speech" setting is not work."
## Describe the bug

Bot Composer 2.0.0 Speech settings do not work properly in the composer.
When `voiceFontName` is set, it is applied as the default voice.

Reference
https://docs.microsoft.com/en-us/composer/concept-speech?tabs=v2x

## Version

2.0.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To

[2021-05-21 09:34] jamalsia commented on #7877
is this solved in composer 2.0?

[2021-05-21 11:53] nikhilmalik9997 opened #7879 "Publishing bot giving error 'invalid_grant' description: '(pii)'"
While publishing when I login, it gives the following error:-
 Recieved an error from AAD. Code: 'invalid_grant' description: '(pii)' correlation id: 'd395e2a0-60f1-4680-9c58-ee96baef3fd7' suberror: 'basic_action.
In the publish configuration file I have added the subscription Id, luis authoring key, resource group access token etc. but still this issue is coming.

[2021-05-21 12:39] CopenhagenJames commented on #7849
So, I just downloaded the update version 2.0 and the error is now gone.

So what ever changed seems to have been a fixe for my issue.

Thank You,

James D. Lawrence
PMP(r) Senior Cloud Solutions Architect | Azure Platform Evangelist
520 686-4303 (m)
MBA | MS Computer Science | MS Cyber Security | MCSD | MCAD
Email: ***@***.******@***.***>

[A picture containing diagram  Description automatically g

[2021-05-21 14:29] gabrielguarisa opened #7880 ""Unable to cast" error when using a luis intention"
## Describe the bug

Every time a message is evaluated by a LUIS trigger, the following error is returned:

`Unable to cast object of type ‘System.Int64’ to type ‘System.Int32’.`

This project was created in version 1.4.1 and converted to version 2.0. In the previous version the project works without any problems.

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V

[2021-05-21 15:45] srinaath commented on #7833
We will look to incorporate this PR in our next release. @liweitian  can we make sure this PR gets merged. Thanks. Closing the ticket now

[2021-05-21 15:46] #7833 closed

[2021-05-21 17:23] jamalsia commented on #7877
interesting. it seems that in the bot composer the folder is src and in azure the folder is lib
in azure:

`D:\home\site\wwwroot\lib\src\mycustomdialog\.config
`
in bot composer in macos (works):

`newbot_repo/runtime/src/mycustomdialog/.config
`

code snippet:

`        myfilePath = path.resolve('src/mycustomdialog','.config');
`

[2021-05-21 17:27] ninggao commented on #7860
@dmvtech Could you please take a look at this issue?

[2021-05-21 17:28] ninggao commented on #7859
Hi @benbrown Could you please take a look at this issue?

[2021-05-21 17:30] ninggao commented on #7834
@jwiley84 Any updates on this one?

[2021-05-21 17:32] jporletto opened #7881 "Updated to 2.0 and now can't open Bot because conversion fails"
Error calling npm to fetch template. Please ensure that node and npm are installed and available on your system. Full error message: Command failed with exit code 1: npm root -g --prefix C:\Users\joporlet\AppData\Roaming\BotFrameworkComposer\.yo-repository --loglevel error 'npm' is not recognized as an internal or external command, operable program or batch file.

[2021-05-21 17:34] ninggao commented on #7702
@benbrown @stevengum is looking at a similar issue https://github.com/microsoft/BotFramework-Composer/issues/7849. Do you think it's related?

[2021-05-21 17:36] garypretty commented on #7881
It looks like you need to install Node.js, which includes NPM, which cannot be found. If you install 14.17 from here -> https://nodejs.org/en/ that should resolve the error.

[2021-05-21 17:50] hatpick commented on #7879
@nikhilmalik9997 are you sure you have entered the right username when prompted to login?

[2021-05-21 17:50] hatpick commented on #7879
@nikhilmalik9997 are you sure you have entered the correct username (no typos, etc.) when prompted to login?

[2021-05-21 18:09] hatpick commented on #7878
@junewoo-cv would you please add steps to repro, what do you expect to happen and what's actually happening?

[2021-05-21 18:17] ninggao commented on #7879
@anusharavindrar Could you please help the customer on this issue?

[2021-05-21 18:19] ninggao commented on #7878
@stevkan Could you please route it appropriately?

[2021-05-21 18:19] ninggao commented on #7877
@stevkan Could you please route it appropriately?

[2021-05-21 18:20] ninggao commented on #7876
@cwhitten  Could you please route it to anyone who can help the customer?

[2021-05-21 18:20] ninggao commented on #7875
@cwhitten  Could you please route it to anyone who can help the customer?

[2021-05-21 18:21] ninggao commented on #7872
@cwhitten  Could you please route it to anyone who can help the customer?

[2021-05-21 18:23] jporletto commented on #7881
Installed Node.js and it was able to successfully convert to 2.0. Thanks!

[2021-05-21 18:23] #7881 closed

[2021-05-21 18:26] srinaath commented on #7872
@aparnaji When you add a skill, the Root bot to which you added gets trained with the LU from the skill by adding trigger to the root bot which in turn will call the skill. You would have received a prompt to use "Orchestrator" recognizer when adding the skill. The model.onnx is the Orchestrator recognizer.

@taicchoumsft Correct me if im wrong. This is the base footprint of this model file (.onnx

[2021-05-21 19:17] srinaath commented on #7875
Related #7876

@dawwa Could you open Windows command line.Navigate to the bot folder for ex if its `C/User/Documents/Empty_1/` navigate to the folder `cd C/User/Documents/Empty_1/Empty_1` and run the command from `dotnet build Empty.csproj`. Do you get command failed there as well.

@benbrown

[2021-05-21 19:25] JonathanFingold opened #7882 "Packages (Orchestrator) added to the root bot are not visible in a new skill"
## Is your feature request related to a problem? Please describe.

The distinction between what's associated with which project is a little vague:
1. If I add a component (Orchestrator) to a bot.
2. Then I add a new bot to the...project.
    - Sure, it's not the same project, but it sure feels like it in the UI.
3. Then I look for artifacts associated with the component in the new bot, they aren't

[2021-05-21 19:39] taicchoumsft commented on #7872
Yes @srinaath , you are right, the onnx models are part of Orchestrator.  @aparnaji , you can revert back to using LUIS by switching the recognizer in that dialog back to `Default Recognizer`.

However, we would urge you to try Orchestrator a bit longer.  Yes, there is a cost to using Orchestrator - deployments are slower.  But the recognition performance and inference speed should be better than

[2021-05-21 19:48] benbrown commented on #7876
@mn-invia What version of the dotnet tools do you have installed on your machine?

[2021-05-21 19:53] benbrown commented on #7875
@dawwa what version of dotnet do you have installed on your system? Does the dotnet command line tool work as expected?

[2021-05-21 19:56] hcyang commented on #7872
@aparnaji, Orchestrator is the STOA Transformer-based NLU technology, which is much superior than the existing/legacy LUIS technology, so I would not recommend you reverting back to using LUIS. Other than that, LUIS is a web service, so there is a fixed network latency for making a prediction, while Orchestrator is a library (plus downloaded ONNX models), thus no network latency.

We know there is

[2021-05-21 20:04] benbrown commented on #7859
@zachgoz thanks for the report. I will look into updating the dependencies in that sample extension to resolve this.

I am not able to reproduce this error -- does this occurs during the main `yarn build` process or are you reproducing the error by building the mongoStorage extension directly?

[2021-05-21 20:44] JonathanFingold commented on #7882
It gets better. After verifying that Orchestrator was indeed installed for bot bots, I can select it as the recognizer type in my root bot, but I _don't_ have that option in my skill bot. What is going on?

[2021-05-21 20:49] #7841 closed

[2021-05-21 20:56] pavolum opened #7885 "Create more integration tests around creation and skills"
Issue to track ideal list of integration tests we would add
- Adding skill to new bot proj
  - This unit test exisited in V1 creation and a new version should be implemented with the new creation flow. V1 unit test removed in PR #7731

[2021-05-21 21:01] zachgoz commented on #7859
@benbrown yes this occurs when running the main yarn build process after cloning the repo or downloading release source.

[2021-05-21 21:03] benbrown commented on #7859
@zachgoz thanks for confirming.  Do you happen to have a very old set of xcode tools by any chance? It appears like some part of the mongo crypt package is failing to compile.

[2021-05-21 21:27] #7724 closed

[2021-05-21 21:29] zachgoz commented on #7859
<img width="635" alt="Screen Shot 2021-05-21 at 5 25 27 PM" src="https://user-images.githubusercontent.com/3943365/119199778-acddba00-ba59-11eb-8579-13d385d01a33.png">

I am not running the latest version, I can try updating this.

[2021-05-21 21:29] JonathanFingold opened #7886 "Edit fields should not "wrap around", especially for the Backspace key"
## Describe the bug

Add a bit of nonsense to the beginning of a property in the properties pane. Put the insertion caret at the end of the nonsense and press and hold the Backspace key. Note that if your timing is not perfect, the caret loops around the the end of the property and starts deleting from there.

## Version

Version:  2.0.0-nightly.246170.8fa93
Electron: 8.2.4
Chrome: 80.0.3987.165
N

[2021-05-21 21:30] anusharavindrar commented on #7879
@nikhilmalik9997, what version of the composer are you on? Can you attach a screenshot of the error you are getting? Also, as stated in the above comment, can you double check if you have entered the correct username?

[2021-05-21 22:43] JonathanFingold opened #7888 "Bot responses failing to take after creating a common template"
## Describe the bug

Replace an existing response with a template. Press Enter. End up with the **Send a response** property pane not agreeing with the authoring canvas.

## Version

Version:  2.0.0-nightly.246170.8fa93
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2021-05-21 22:58] emgrol commented on #7888
We tried a few scenarios. I have a stand alone root bot (created from the Empty bot template) and don't have any issues. I suspect this may be a skill issue.

[2021-05-21 23:35] stevkan commented on #7849
I'm glad to hear that. Closing this issue as resolved.

[2021-05-21 23:35] #7849 closed

[2021-05-21 23:54] #6631 closed

[2021-05-21 23:54] #6632 closed

[2021-05-21 23:54] #7526 closed

[2021-05-21 23:54] #7542 closed

[2021-05-21 23:54] #7840 closed

[2021-05-22 00:08] ctharmon722 commented on #6712
@anusharavindrar that was able to get rid of the error, but of course there is just another error. Is there documentation anywhere that would lead us through how to actually get these two bots attached?

The latest on the bot errors: when I try to call the composer dialogs, I am getting a null pointer exception in DialogBot.cs:
Exception thrown: 'System.NullReferenceException' in Microsoft.Bot.Bui

[2021-05-22 01:02] CopenhagenJames commented on #7849
Cool

Sincerely,

James Lawrence

Senior Cloud Solutions Architect

________________________________
From: Steven Kanberg ***@***.***>
Sent: Friday, May 21, 2021 7:35:19 PM
To: microsoft/BotFramework-Composer ***@***.***>
Cc: James Lawrence ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/BotFramework-Composer] Publish with LUIS get Error when running in Azure (#7849)

Closed #7849<https

[2021-05-22 01:27] chrimc62 opened #7889 "Form generation preview does not show examples"
## Describe the bug

In the sorgh/fd_imp branch if you pick 'dynamiclist' as your property type, you do not see examples.  I suspect this is because examples are tied to enum and it should not be.  It is true that enum is special in that we want a coupling between examples and the normalized values, but we should achieve that in a different way--maybe only have examples?  Both schemas have a $gene

[2021-05-22 02:49] #7753 closed

[2021-05-22 07:21] scheyal commented on #7770
Use Orchestrator root aka.ms: https://aka.ms/bf-orchestrator
@taicchoumsft  - can you update the package or tell me where this is specified?

[2021-05-22 07:24] scheyal commented on #7795
@srinaath  - Exported bot link is available with all details in the original post below the visual.

[2021-05-22 08:44] FrancescoGen opened #7890 "Fail to deploy new versions of the chatbot on a given resource in Azure"
## Describe the bug

I am unable to deploy a **new** version of my chatbot on the same Azure resource. I am therefore forced to release a new resource/Web App where I can deploy the new version.

## Version

v.1.4.1

## Browser

Chrome

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to Project settings.
2. Create a Publish profile.
3. Publish the bot to the Publish

[2021-05-22 16:04] cdonke opened #7891 "Publish into Docker Container"
## Describe the solution you'd like
Publish bot directly into a Docker Container.

Secrets like MsAppId, MsAppPwd, Luis/QnaMaker keys should be passed as env arguments (-e parameter), so they are not hard-coded into image.

[2021-05-22 17:26] aparnaji commented on #7872
Thanks all for detailed updates on ONNX models , Will observe further .  Some information on deployment, I deployed as webapp , P1V2 as app service plan ( I used Basic plan and as this is slow moved to bit higher plan)
also I had an additional issue with multilingual model "
Failed to find or load Model with path C:\home\site\wwwroot\model\pretrained.20210205.microsoft.dte.00.06.unicoder_multiling

[2021-05-22 17:39] aparnaji opened #7892 "ONNX Multilingual model failed to load , Bot is failing Failed to find or load Model with path"
## Describe the bug

Multi Lingual Bot using orchestrator model (ONNX) is failing with error
Failed to find or load Model with path C:\home\site\wwwroot\model\pretrained.20210205.microsoft.dte.00.06.unicoder_multilingual

## Version

## Browser

- [ ] Chrome
- [ ] Edge

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create Bot in Composer
2. Added Skill (another Bot) ,

[2021-05-22 18:02] taicchoumsft commented on #7892
Hi @aparnaji ,  thanks for the bug report.

1) Does multilingual work when you test a bot locally?

2) If the failure is happening only when you deploy multilingual bot to Azure, can you help us verify on your Azure deployment, if that folder `C:\home\site\wwwroot\model\pretrained.20210205.microsoft.dte.00.06.unicoder_multilingual` exists?  Can you show a screenshot or dump of its directory conten

[2021-05-22 18:32] hcyang commented on #7872
Hi @aparnaji, our engineers are aware of and fully understand the issue and have filed a bug to fix it. It should be a simple fix. Thanks for reporting it.

[2021-05-22 23:30] #7866 closed

[2021-05-23 15:52] #7890 closed

[2021-05-23 17:09] aparnaji commented on #7892
Hi @taicchoumsft
Thanks for the fix , It helped
1. My bot failed locally as well
2. Your fix of including **/*.model in <Bot Project>.csproj file locally fixed the issue and now the Bot is working locally and in Azure as well

[2021-05-24 00:22] mn-invia commented on #7876
Hi There, I was able to resolve this issue by creating a New Bot and then re-tried opening my existing bots (created in Microsoft Composer version 1.4). The Composer was able to convert the Bots into the new version and I was able to open them and execute them in the Emulator. But I would like to know what the issue was.....Also here is the details of the dotnet version.....

C:\Users\MuraliNagara

[2021-05-24 00:22] junewoo-cv commented on #7878
Sorry, I saw your reply late.

I restarted Bot Composer several times, so I don't know the exact way to operate normally.
It's working normally at the momentarily.

[2021-05-24 07:54] BeheraMadan opened #7895 "conversession flow not restarting"
Hi,
[RestartDemo.zip](https://github.com/microsoft/BotFramework-Composer/files/6530683/RestartDemo.zip)

I used "repeat this dialog" and it is just repeating the same dialog is there any option available in composer by using which I can restart the conversession flow from beginning.

![image](https://user-images.githubusercontent.com/70739031/119315036-05e46280-bc93-11eb-85a4-4555ccb2b15a.png)

Fo

[2021-05-24 08:30] nikhilmalik9997 commented on #7879
@anusharavindrar  Yes, I am entering the correct username. I am working on  bot framework version 1.4.1. I have also attached the screenshot of the error for your reference.
![Screenshot (9)](https://user-images.githubusercontent.com/26502483/119319568-3da1d900-bc98-11eb-9e1a-ab3cb4b3f34d.png)

[2021-05-24 11:12] arafattehsin opened #7897 "Sidebar has outdated information"
_Please close this if it's duplicate_

## Describe the bug

The sidebar of the Composer 2.0.0 has an outdated version information.

![image](https://user-images.githubusercontent.com/16351038/119339601-b3c43100-bcd4-11eb-914b-95befa5438cd.png)

## Version

2.0.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

Windows 10

[2021-05-24 13:29] tdurnford commented on #5610
@tomlm Can you weigh in on why users need to use the equals sign in some cases and not in others?

I believe it’s because if the property type is not a string - number, boolean, etc. - and the property value is a string, the BotFramework will assume the value is an expression that resolves to the expected property type. In this case, the equals sign for an expression is not needed.

Users only nee

[2021-05-24 13:31] tdurnford commented on #5610
@goergenj can you check if this is resolved if 2.0 that was just released last week?

[2021-05-24 15:29] taicchoumsft commented on #7892
Thanks for confirming that the fix works @aparnaji , we will fix this in a patch release so this manual step does not need to be taken.

[2021-05-24 15:31] benbrown commented on #7876
@mn-invia  thank you for the additional information. Your work-around steps are a useful clue. I will let you know what we determine is the root cause.

[2021-05-24 15:45] cwhitten opened #7898 "Test Coverage: Adapters/"
<img width="587" alt="Screen Shot 2021-05-24 at 8 44 10 AM" src="https://user-images.githubusercontent.com/1156704/119372493-3a90f380-bc6c-11eb-89fd-3d8fe5512153.png">

<img width="434" alt="Screen Shot 2021-05-24 at 8 55 36 AM" src="https://user-images.githubusercontent.com/1156704/119373939-d66f2f00-bc6d-11eb-9712-89e481193440.png">

[2021-05-24 15:49] cwhitten opened #7899 "Test coverage: Auth/"
<img width="395" alt="Screen Shot 2021-05-24 at 8 48 34 AM" src="https://user-images.githubusercontent.com/1156704/119373080-e1758f80-bc6c-11eb-826c-0fb0585168b8.png">

[2021-05-24 15:50] cwhitten opened #7900 "Test coverage: /GetStarted"
<img width="441" alt="Screen Shot 2021-05-24 at 8 49 46 AM" src="https://user-images.githubusercontent.com/1156704/119373194-02d67b80-bc6d-11eb-98d2-3a2b1af5a5e6.png">

[2021-05-24 15:51] cwhitten opened #7901 "Test coverage: /ImportModal"
<img width="494" alt="Screen Shot 2021-05-24 at 8 50 43 AM" src="https://user-images.githubusercontent.com/1156704/119373348-2b5e7580-bc6d-11eb-9f78-871ed6e82692.png">

[2021-05-24 15:52] cwhitten opened #7902 "Test coverage: /Manage*"
<img width="442" alt="Screen Shot 2021-05-24 at 8 52 25 AM" src="https://user-images.githubusercontent.com/1156704/119373546-619bf500-bc6d-11eb-848f-52af4d6f9742.png">

[2021-05-24 15:58] cwhitten opened #7903 "Test coverage: /botProject"
<img width="358" alt="Screen Shot 2021-05-24 at 8 57 16 AM" src="https://user-images.githubusercontent.com/1156704/119374157-1cc48e00-bc6e-11eb-962c-882bae17dfa5.png">

[2021-05-24 16:19] benbrown commented on #7875
@dawwa If this is still giving you a problem, can you try this:

* Create a new bot from scratch in 2.0
* Assuming this works as expected, attempt to open your old bot again
* Go through the migration process

Let me know if this resolves the problem!

[2021-05-24 16:20] benbrown commented on #7685
Closing this as a dupe of #6827

[2021-05-24 16:20] #7685 closed

[2021-05-24 16:23] benbrown commented on #7743
Just as a refresher to where we stand on this issue:

* The proposed solution above (installing node_modules on the server) does resolve this problem for JS+WEBAPP+ORCHESTRATOR
* However, it does NOT work for JS+FUNC because the function host does not have the disk space necessary to do the npm install

[2021-05-24 17:02] #7705 closed

[2021-05-24 17:21] dmvtech commented on #7314
Hi @HabeebunnishaMohammad Can you provide an update?

[2021-05-24 17:32] benbrown commented on #7882
Thanks for the info @JonathanFingold. Sounds like package manager is sometimes confused about what bot is selected.  I will explore!

[2021-05-24 17:37] v-kydela commented on #7878
@junewoo-cv - Is your issue resolved? Should we close it?

[2021-05-24 17:54] garypretty commented on #7897
Thanks @arafattehsin - this will be getting updated tomorrow when our Build post goes live. Thanks again!

[2021-05-24 18:25] dmvtech commented on #7586
Hi @aparnaji Did you get it working using the suggestions above and from the other issue? At this time there are not further enhancements planned for this scenario that are not already there.

[2021-05-24 19:22] ghost opened #7907 "PUT method in Send an HTTP request error"
## Describe the bug

After testing various settings it appears to only happen when Body is set to some value.  I can also confirm that the same bot running on 1.4.0 does not have this bug.

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Electron distribution

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce th

[2021-05-24 19:28] zachgoz commented on #7859
I upgraded xcode tools but still see the same issue:

<img width="625" alt="Screen Shot 2021-05-24 at 3 27 42 PM" src="https://user-images.githubusercontent.com/3943365/119397786-a1ca9a00-bca4-11eb-9e12-4c601c87fa8c.png">

<img width="1318" alt="Screen Shot 2021-05-24 at 3 26 35 PM" src="https://user-images.githubusercontent.com/3943365/119397663-7647af80-bca4-11eb-96a8-681d719a86ac.png">

[2021-05-24 20:01] hatpick commented on #7859
@zachgoz before you do ```yarn``` and ```yarn build``` (since you recently switched to later version of node) make sure you remove all the node_modules from extensions. For example delete ```node_modules``` under ```BotFramework-Composer/extensions/mongoStorage``` path

[2021-05-24 21:46] hatpick commented on #7888
@JonathanFingold can you attach a bot project (compressed) to repro this issue?

[2021-05-24 22:17] hatpick opened #7908 "Referenced link in template Readme.md opens in the Composer window"
## Describe the bug

## Version

Version:  2.0.0-nightly.247300.1b9d669
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create new
2. Select "Core Bot with Language"
3. On th

[2021-05-24 22:28] v-kydela commented on #7880
Thank you for the report, @gabrielguarisa. I would like to help and I have a few questions.

1. Are you able to reproduce the problem when creating a new bot in Composer 2.0?
2. If not, can you copy your project and then modify it to create a minimal example of the problem?
3. Can you help us reproduce the problem by providing a sample project with repro steps?

We've seen this kind of issue befor

[2021-05-24 23:16] hatpick commented on #7888
@JonathanFingold I believe this was resolved by PR #7842. that was merged in on Friday. Can you check the latest nightly to see if your issue is resolved.

[2021-05-25 00:18] dmvtech commented on #6482
Hi @rajasweet14 Apologizes for the delay. I tried a few things to try and get this to reproduce in the same way, but I am unable (likely some small thing that is different).

Are you publishing to a new or empty resource group or is it an existing one that contains other resources?
Is the account you are using only connected to one subscription/tenant?

[2021-05-25 00:22] dmvtech commented on #6482
Does your publishing profile have a luisResource field? If so, is it set it to the name of your LUIs endpoint key resource? If not, can you add that key and value and try?

[2021-05-25 00:30] dmvtech commented on #7413
@Gianfe Is your error the same exact one as:

[2021-05-25 00:39] anusharavindrar commented on #7877
@jamalsia, thanks for reporting this. I will attempt a repro on my end. Also, have you tried this only on Mac or you get the same error on Windows as well? Can you specify what version of the MacOS are you on?

[2021-05-25 01:30] anusharavindrar commented on #7879
@nikhilmalik9997, I am able to reproduce the issue on v1.4.1. Can you try upgrading to the latest version and give it a go? In the menu bar, go to Help > Check for updates and install the latest version and try publishing the bot. I am able to login without the above error in the latest version **v2.0.0-nightly.247300.1b9d669**

[2021-05-25 01:39] junewoo-cv commented on #7878
yes, Thank you for your reply

[2021-05-25 05:03] HabeebunnishaMohammad commented on #7314
Hi @dmvtech. Yaa actually I tried doing with 1.4.1. Its not showing any issue like before.

[2021-05-25 05:15] #7878 closed

[2021-05-25 06:05] dawwa commented on #7875
what I did is making a copy of the entire project folder before the creation process fails and does its cleanup, and then open visual studio, build the project once, and then the Composer can load the project properly.

[2021-05-25 07:37] Clooney24 opened #7909 "Choice options separator should be multi language"
## Describe the bug

I run a multi language composer bot but in User Input control, I only can set a single language text for inline separators.

## Version

Version:  1.4.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

Steps to reproduce the behavior:

1. Run a multi language bot
2. Create a user input
3. try to use multi language separators in

[2021-05-25 11:00] sumitshrm4 opened #7910 "BingSpellCheck support missing for LUIS calls in composer runtime"
I checked and could see that even in the latest version of
`Microsoft.Bot.Builder.AI.Luis` --- BingSpellCheck  options missing `LuisRecognizerOptions `-> `LuisAdaptivePredictionOptions `do not have two important properties to specify which are there in `LuisPredictionOptions `class ----- Those 2 properties are `SpellCheck` and `BingSpellCheckSubscriptionKey` ! I doubt that it is a bug because its

[2021-05-25 12:16] sumitshrm4 commented on #7910
Okay I see in the LUIS documentation, the Bing spell check capability is no longer available in the V3 LUIS API. https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-tutorial-bing-spellcheck

but the question remain same, how can we use it in Microsoft composer conditionally

[2021-05-25 14:41] garypretty opened #7911 "Need to log msAppId property on HandoffToComposerCompleted telemetry event"
## Describe the bug

When a HandoffToComposerCompletedEvent is fired with abs as the source, we should store the msAppId property as a customDimension.

## Version

2.0.0

[2021-05-25 16:14] #7314 closed

[2021-05-25 16:28] mewa1024 commented on #7129
button now says "Set up Language Understanding".

[2021-05-25 16:28] #7129 closed

[2021-05-25 16:35] mewa1024 commented on #6968
related bug #7118

[2021-05-25 16:35] mewa1024 commented on #7118
related: #6968

[2021-05-25 16:40] mewa1024 commented on #6268
@emivers8 Is this something that has come up with the C&C team? (Also would be good to loop in Joan)

[2021-05-25 16:43] #3672 closed

[2021-05-25 16:43] #2518 closed

[2021-05-25 16:52] #5527 closed

[2021-05-25 16:53] #7897 closed

[2021-05-25 16:57] benbrown commented on #6253
This is a dupe of #6775 - closing in deference to that request.

[2021-05-25 16:57] #6253 closed

[2021-05-25 16:58] #7829 closed

[2021-05-25 17:00] benbrown commented on #7548
This is a dupe of #6775 - it is our plan to have the resources that are actually required appear as required!

[2021-05-25 17:00] #7548 closed

[2021-05-25 17:00] benbrown commented on #7502
Dupe of #7740

[2021-05-25 17:00] #7502 closed

[2021-05-25 17:03] #7366 closed

[2021-05-25 17:08] dmvtech commented on #7860
Hi @ctharmon722

Can you please go to the bot settings, then switch to `Advanced Settings View (json)` and look for the section titled `publishTargets`. In there, find the target you are using and look for the `configuration`. Does the information there look correct? Does it show the old/defunct `subscriptionId`? If so, can you update to the active subscription and try? Might want to check the oth

[2021-05-25 17:14] benbrown commented on #7619
The following tickets are all part of this:

#7793
#6162
#6446

[2021-05-25 17:14] aparnaji commented on #7586
Yes it helped, Thanks

[2021-05-25 17:25] benbrown commented on #5682
@garypretty and @Dewain27  - we need to get more detailed requirements on this if we want to do it in r14

[2021-05-25 17:27] clearab commented on #6865
Closing, long-term fix for this issue is being tracked here https://github.com/microsoft/botframework-components/issues/1016

[2021-05-25 17:27] #6865 closed

[2021-05-25 17:36] benbrown commented on #4227
@lauren-mills @yeze322 is this ticket still relevant?

[2021-05-25 17:37] benbrown commented on #4645
This functionality is no longer present in 2.0

[2021-05-25 17:37] #4645 closed

[2021-05-25 17:38] benbrown commented on #4695
I believe this has been handled by the new ABS handoff.  Is there work still to be done for this?

[2021-05-25 17:38] #5342 closed

[2021-05-25 17:39] #5133 closed

[2021-05-25 17:40] cwhitten commented on #4695
Yup! Closing. Nice work team!

[2021-05-25 17:40] #4695 closed

[2021-05-25 17:40] aparnaji opened #7914 "Bot Does not Speak"
## Describe the bug
Bot developed using the composer is not speaking, however it is recognizing the intents that the user utters

## Version
Version:  2.0.0-nightly.247300.1b9d669
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Chrome
- [ ] Edge

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to Bot Dialog
2. Add Sp

[2021-05-25 17:43] benbrown commented on #6275
@Dewain27 is anything else needed here for Teams?

[2021-05-25 17:43] benbrown commented on #6350
I believe we have resolved this. @ryanlengel is that correct?

[2021-05-25 17:43] #6450 closed

[2021-05-25 17:45] ryanlengel commented on #6350
Yes this is resolved - closing.

[2021-05-25 17:45] #6350 closed

[2021-05-25 17:45] srinaath commented on #7877
@jamalsia Does using the powershell script generate the same error for you as well?

[2021-05-25 17:50] clearab commented on #6268
Text should be updated to "Discover packages of functionality that can be installed into your bot." or something similar I believe.

[2021-05-25 17:51] someonelikeTIM commented on #7914
I may be having the same issue on composer v2.0.0 stable using the "Core Bot with Language" (NodeJS) Template. The bot only responds with the original bot responses from the template even though I have changed them.

[2021-05-25 17:52] benbrown commented on #7852
The manifest was available, and the LU files that were linked were also available via HTTP.

[2021-05-25 17:53] srinaath commented on #7872
Closing this ticket. #7892 #6773  are tracked for R14 and would address the root cause of this issue.

[2021-05-25 17:53] #7872 closed

[2021-05-25 17:53] benbrown commented on #7852
This occurs with a standard skill published from Composer using the "Export as skill" option

[2021-05-25 18:00] gremlin529 opened #7915 "Skill documentation missing intended link"
## Describe the bug

In the concept-skills documentation https://docs.microsoft.com/en-us/composer/concept-skills

At the bottom of the first section **About Skills** the last sentence says:

  You should already be familiar with [bot design in Composer][TODO.md]

I believe there is missing information on this line.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [

[2021-05-25 18:00] srinaath commented on #7914
@aparnaji Is your input to the bot in Webchat through text or speech? The expectation should be that the bot response will be in the same modality as the input even if the Speech modality is enabled for that response.

[2021-05-25 18:01] srinaath commented on #7914
@someonelikeTIM The parent issue seems unrelated to the problem in your bot. Could you track your concern in a different ticket?

[2021-05-25 18:01] srinaath commented on #7914
@garypretty Can you weigh in on this ticket?

[2021-05-25 18:02] lauren-mills commented on #4227
There is still a bit of confusion in the UI here for me I guess, because when I create Triggers I see the list separated into subsections with different names but when I emit an event I see the actual event name. I personally know how that map to one another but our developers may not:

![image](https://user-images.githubusercontent.com/27976702/119546133-6bdef180-bd48-11eb-8c83-e5e3629da6f0.png)

[2021-05-25 18:26] someonelikeTIM opened #7916 "Bot Responses"
## Describe the bug

I created a new bot using the template: "Core Bot with Language" (Node).
I updated the Bot Response under  "WelcomeDialog" but the emulator continues to display the original bot response.
I updated the Bot Response under "HelpDialog" and the same thing happens - it continues to use the original responses from the template even though they have been changed in Composer.
I have

[2021-05-25 18:28] JonathanFingold commented on #7915
@gremlin529 Thanks for catching this. In the future, please open Composer doc bugs in the MicrosoftDocs/Composer-docs repo. They are more likely to be addressed in a timely fashion there. A fix is in Composer-docs-pr [PR 550](https://github.com/MicrosoftDocs/composer-docs-pr/pull/550).

[2021-05-25 18:31] dmvtech commented on #6646
@cxbuilders The expereince in `2.0.0` is revamped. You have the option to select both Directory (tenant) and Subscription.
![image](https://user-images.githubusercontent.com/43397658/119550005-b1052280-bd4c-11eb-8498-5e7ac874739e.png)

Can you test with 2.0 and make sure you no longer have the same problem/experience as before?

[2021-05-25 18:38] ryanlengel commented on #7910
@sumitshrm4, you're correct that this capability is not available in the v3 LUIS API and thus not supported as configuration for the runtime. For product behavior, how-to, or general understanding questions, please use Stack Overflow.

https://stackoverflow.com/search?q=bot+framework

[2021-05-25 18:38] #7910 closed

[2021-05-25 18:39] dmvtech commented on #7909
Hi @Clooney24

I assume you are using `simple choices` or `structured choices`, correct?

[2021-05-25 18:41] dmvtech commented on #7586
Great closing as resolved.

[2021-05-25 18:41] #7586 closed

[2021-05-25 18:55] benbrown commented on #4227
That is great feedback, @lauren-mills. These two related menus should definitely be in harmony. @mewa1024 can you consider this?

I think what you are talking about with the intent recognized is different though -- how would you achieve this? I think this may be a separate feature request.

[2021-05-25 19:14] ctharmon722 commented on #7860
@dmvtech because the provision fails the publishTargets is empty. There is nowhere to put in the subscription to change this. Where can I put this subscription in so it tries to write to the correct place?

I have also tried following everything on this page
ttps://docs.microsoft.com/en-us/composer/how-to-publish-bot?tabs=v1x
(which is not actually the correct step by step)
I have also tried to us

[2021-05-25 19:20] lauren-mills commented on #4227
We don't do it today, but I have considered before having a generic event trigger for intentRecognized that catches the event, then extracts entities, then fires then does the intent trigger.

I think it is possible today actually depending on how you configure your trigger priorities, but it was more of an example than anything 😊

I think if the dialog event/custom event triggers used the same la

[2021-05-25 19:33] jamalsia commented on #7877
@srinaath , no sorry, i used the bash script only

[2021-05-25 20:03] Clooney24 commented on #7909
@dmvtech yes in that case it was a confirm input. The text of the options are in correct language but the seperator not. English output it is correct "(1) Yes or (2) No" and in German output is "(1) Ja or (2) Nein" but should be "(1) Ja oder (2) Nein".

[2021-05-25 20:14] #7888 closed

[2021-05-25 20:49] KoradaRajesh opened #7919 "Maxturn count getting increase while interruption in composer prompts"
In side promts if we are allowing interruptions and setting maxturn count to 2 and if user message is interrupted twise in the same prompt and the maxturn count is increasing to 2 and the flow getting exit from the prompt.

So is there any way not to increase the maxturn count in promts while interrupting.

[2021-05-25 21:00] gabrielguarisa commented on #7880
@v-kydela thanks for the reply.

I followed your suggestion and tried to create a new bot in composer 2.0. And I accidentally found out why this problem was happening . It has no connection with LUIS (should I change the title of this issue?).

I am using the delay activity before the text messages, in a similar way to what is suggested [here](https://github.com/microsoft/BotFramework-Composer/iss

[2021-05-25 22:04] mewa1024 commented on #4227
this is super useful feedback. I'm adding @vivekkshankar since he has been exploring trigger UI.

[2021-05-25 22:10] mewa1024 commented on #7847
(@emivers8 @JaskeeratBedi-cmk - fyi)

[2021-05-25 22:28] dmvtech commented on #7907
Unable to reproduce. Closing. Please add more information or steps to reproduce if still exhibiting this issue.

[2021-05-25 22:34] dmvtech commented on #7907
Able to reproduce. Further investigating.

[2021-05-25 23:18] mewa1024 commented on #5169
Closing this. (The Composer 2.0 UI uses "Add a bot" instead of "Create a new skill" and "Connect to an existing skill")

[2021-05-25 23:18] #5169 closed

[2021-05-25 23:21] mewa1024 commented on #3747
@hibrenda is this issue still happening? Or did it get fixed in #5265?

[2021-05-25 23:50] mewa1024 opened #7920 ""Remove this trigger" should have a confirmation dialog"
## Describe the bug

From the bot project tree, clicking "Remove this trigger" removes the trigger without any confirmation dialog. This is inconsistent with "Remove this dialog" which shows a confirmation dialog".

## Version

Bot Framework Composer

Version:  2.0.0-nightly.247623.340809f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron d

[2021-05-25 23:51] mewa1024 commented on #7920
@mareekuh @vivekkshankar any reason why we shouldn't warn people before deleting a trigger?

[2021-05-26 01:03] dmvtech commented on #7907
Confirmed behavior above (PUT + 1.4.x).

I took a 1.4.1 bot that worked fine and upgraded (WebApp only) the SDK from `4.12.2` to `4.13.2` and was able to reproduce the error.

![image](https://user-images.githubusercontent.com/43397658/119587324-4f13df80-bd83-11eb-9fcb-b9aa2a0a50d9.png)

[code]

[2021-05-26 04:29] coder4321 opened #7921 "Something went wrong!"
whenever I click anywhere on bot framework composer, it displays a prompt stating something went wrong.
Please help asap. Its a blocker for me.

[2021-05-26 08:22] dawwa commented on #7875
@benbrown, this does not seem repro for me anymore, but I do remember this repeats, not sure in what condition, but I could not repro it any more on my machine.

[2021-05-26 08:43] dawwa opened #7922 "Publish Profile: Please ensure Composer does not assume all resources arranged in a single resource group."
Please make sure Publish Profile can support multi-regional deployment story.

**The Context**
After allocating the resources in Azure, we rearrange the resources into region-agnostic resource and regional resource for multi-regional deployment story, e.g., the hostname is my web app service, appInsights are in `RG-ComposerSkill-WestUS` Resource group,  Bot Service, CosmosDB, etc. are in `RG-Compo

[2021-05-26 09:41] dawwa opened #7923 "Publish Profile: Is qna info required?"
We don't have a need of Qna, can I leave this blank or remove this entry from the json content while authoring the publish profile?

![image](https://user-images.githubusercontent.com/44714043/119638459-60281500-bdb2-11eb-9c18-2b8a9d44f3a0.png)

[2021-05-26 09:44] luhan2017 commented on #7923
Yes, you can, it is not required.

[2021-05-26 09:50] dawwa opened #7924 "Settings-Development resources: where does Composer store the entered values locally?"
I tried to make changes on the values from Composer UI, but did not notice any file changes.
Would you please help clarify where Composer store these inputs locally? as there are value of secrets involved and we would like to have an idea of where they are, assuming it's in clear text.

![image](https://user-images.githubusercontent.com/44714043/119639333-37544f80-bdb3-11eb-96a9-a548cf20a04f.png)

[2021-05-26 11:18] darrenj opened #7925 "Creating a new bot with empty KB generates a confusing error"
## Describe the bug

Creating a new Bot using the QnA Template and choosing "custom knowledgebase" results in the following error if you click start bot and talk to it without having provided KB entries.

![image](https://user-images.githubusercontent.com/33519520/119650783-1e33b900-be1c-11eb-82bc-8e82947845f6.png)

## Version

2.0.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safa

[2021-05-26 11:55] boydc2014 commented on #7853
@lei9444  is this something you can take a look?

[2021-05-26 13:15] boydc2014 commented on #6279
Close this since we now by default mark unknown functions as warnings

[2021-05-26 13:15] #6279 closed

[2021-05-26 13:19] boydc2014 commented on #6139
This is actually by design, because the inline error is trying to point to the "relative offset" and the global diagnostic bar is trying to show the "absolute offset" in the file.

Close this for now, free feel to re-open if you think this is still an issue.

[2021-05-26 13:19] #6139 closed

[2021-05-26 13:21] boydc2014 commented on #4232
Close this for now, since it's out of date.

[2021-05-26 13:21] #4232 closed

[2021-05-26 13:21] boydc2014 commented on #4090
This has been addressed during the development of R12 and R13

[2021-05-26 15:26] dmvtech commented on #7924
Hi @dawwa They are kept in the `Local Storage` memory of the browser/electron application. You can find this By going to Developer Tools->Sources.

[2021-05-26 15:29] dmvtech commented on #7923
@dawwa Closing this. Please comment if anything further needed.

[2021-05-26 15:30] vivekkshankar commented on #7827
@luhan2017 We chould preempt this error and show message in the manifest URL field.
If the user adds the same manifest URL show an inline message "This skill has already been added".
Do we have this issue for local skills too?

[2021-05-26 15:52] JonathanFingold commented on #7915
Article is updated.

[2021-05-26 15:52] #7915 closed

[2021-05-26 15:54] taicchoumsft commented on #6167
This ticket was closed as part of #7362 .

[2021-05-26 15:54] #6167 closed

[2021-05-26 15:57] taicchoumsft commented on #6232
Closing this, I believe this was closed out with #6370.  Please re-open if necessary.

[2021-05-26 15:57] #6232 closed

[2021-05-26 15:58] benbrown commented on #7875
@dawwa I'm glad to hear the problem is not continuing. Seems like the root cause may be related to the initial dependency installation process. I'll continue to investigate.

[2021-05-26 16:26] someonelikeTIM opened #7926 "Bot fails to start on first attempt after opening Composer."
## Describe the bug

Bot fails to start on first attempt after opening Composer.

[code]

It works the second time but never the first time after opening composer.

## Version

Version:  2.0.0-nightly.247767.2ec0472
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## OS

[ x ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Launch fresh instance of Co

[2021-05-26 16:36] cwhitten commented on #7916
Hi @someonelikeTIM - this will be addressed in our upcoming release.

[2021-05-26 16:40] cwhitten commented on #7922
Thank you @dawwa for the feature request. We'll add it to our backlog for prioritization

[2021-05-26 16:41] someonelikeTIM commented on #7916
Do you have an ETA for that release?

[2021-05-26 16:43] cwhitten commented on #7926
@someonelikeTIM can you provide a bit more information about your project? Which technology is used? NodeJS? Are you able to upload the project here for us to take a look?

[2021-05-26 16:50] someonelikeTIM commented on #7926
@cwhitten yes NodeJS. I've barely customized the template so I can upload it no problem. Which file(s)/folder(s) would you like me to upload?

[2021-05-26 17:06] anusharavindrar commented on #7877
Having issues with reproducing the issue on my Mac. Will update the thread with more details as soon as I am able to get a successful repro.

[2021-05-26 17:06] stevkan commented on #7921
Can you list which version of Composer you have installed?

Also, are there any other error messages displayed? If you click View >> Toggle developer tools in the menu bar, you can check the developer's console for any other errors being reported.

Lastly, have you tried uninstalling / reinstalling or updating to the current 2.0.0 version (if running an older version)?

[2021-05-26 17:14] jwiley84 commented on #7834
I am unable to repro this on the source version. I'm going to ask a member of the composer team to chime in.

[2021-05-26 17:41] dmvtech commented on #7413
Closing as resolved. @Gianfe If you are still having problems, please open a new issue.

[2021-05-26 18:42] dmvtech commented on #7413
Discussion with @GeoffCoxMSFT: assigning to @Dewain27 for R14

[2021-05-26 18:45] emgrol commented on #7822
Putting this on hold while I strategize with @JonathanFingold and @erhopf about the best way to present this information.

[2021-05-26 18:49] dmvtech commented on #7895
@BeheraMadan When you say from the beginning, where do you mean? Do you mean you want to restart the entire conversation, with Welcome message and all (similar to clicking `Restart Conversation` from within WebChat/Emulator)? Or do you want to got back to the `ParentDialog` dialog and start there (User getting `Welcome Home` message and choices)?

[2021-05-26 21:14] hatpick opened #7929 "Add expand to larger editor to LU Editor"

[2021-05-26 21:14] hatpick opened #7930 "Add LUIS "List Entity" to LU editor toolbar"

[2021-05-26 21:15] hatpick opened #7931 "Add LUIS "List Entity" creation modal to LU Editor"
Similar to Luis

[2021-05-26 21:19] hatpick opened #7932 "QnA maker WYSIWYG editor"
Add QnA maker rich text editor that supports markdown syntax (similar to qnamaker.ai below)

![Screen Shot 2021-05-26 at 2 18 29 PM](https://user-images.githubusercontent.com/1483492/119732665-5394d280-be2d-11eb-99b2-70c449e5e983.png)

[2021-05-26 21:59] dmvtech commented on #7860
Hi @ctharmon722 It would typically looks _something like_ the following, where `configuration` contains the stringified json of the publishing profile:
[code]

But if publish targets is empty, then that old/stale subscription ID hast to be coming from somewhere else. You can try to look at the local storage (_Developer Tools->Application_) and see if that is stored somewhere there. Optionally, you

[2021-05-26 22:24] hatpick commented on #7889
@chrimc62 There needs to be changes to the _$generator_, for example, both string(any) and enum have _$generator_ for _$examples_ and they are the same, while I think instead of anyOf in both one should **only** have "Entity array" and one should only have "Enum example object" :

[code]

[2021-05-26 23:24] hatpick commented on #5151
Fixed in the branch, to be merged with main.

[2021-05-26 23:24] #5151 closed

[2021-05-26 23:25] hatpick commented on #5236
Fixed in the latest generate library.

[2021-05-26 23:25] #5236 closed

[2021-05-26 23:26] #5303 closed

[2021-05-26 23:26] emgrol commented on #6257
Provisioning docs were added for Build. Let's coordinate on ones for future releases @Dewain27.

[2021-05-26 23:26] #6257 closed

[2021-05-26 23:28] emgrol commented on #6258
Admin handoff docs were published for Build. Let's coordinate on any docs re: this for future releases @Dewain27.

[2021-05-26 23:28] #6258 closed

[2021-05-26 23:49] JonathanFingold commented on #5787
Seems to have been fixed between then and now.

[2021-05-26 23:49] #5787 closed

[2021-05-27 00:08] v-kydela commented on #7880
@gabrielguarisa - Thank you for the sample. I can reproduce the problem now, and I believe it is related to the problem I linked to before. It looks like the new cloud adapter reintroduced the problem with [this line](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder/CloudAdapterBase.cs#L79):

I'll work on a PR to fix this. I see two possible workarounds for

[2021-05-27 00:10] joshgummersall commented on #7916
@someonelikeTIM, I just pushed a development build of the JS SDK with the fix for this. Can you update your `package.json` file to list `"botbuilder-dialogs-adaptive-runtime-integration-express": "4.13.5-preview.dev.5bd62f8"` (instead of `4.13.4-preview`). Then, run `npm install` and you should be in business.

[2021-05-27 00:34] JonathanFingold opened #7934 "Erroneous warning "LG file must have at least one template definition""
## Describe the bug

Nothing appears to be wrong, yet the warning persists.

## Version

Version:  2.0.0-nightly.247767.2ec0472
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1

[2021-05-27 02:00] hibrenda commented on #3747
@mewa1024 Downsampling issue fixed in #5256. but "Multiple user may work together for the same bot editing with same subscription key." is not fixed.

[2021-05-27 02:53] luhan2017 commented on #7864
@vivekkshankar , let's follow up on this requirement offline.

[2021-05-27 02:58] luhan2017 opened #7935 "New UX to switch recognizer type"
![image](https://user-images.githubusercontent.com/32191031/119759246-8052f380-beda-11eb-8b87-331bb21507fb.png)

https://www.figma.com/file/MDwHWFVT2Cth9yFzazJxCB/Orchestrator-%26-Skills-R13-and-beyond?node-id=463%3A16035

[2021-05-27 03:03] luhan2017 commented on #7827
@vivekkshankar , Yes, here is the error message for local bot.
![image](https://user-images.githubusercontent.com/32191031/119759590-1850dd00-bedb-11eb-9906-a85eb0dde68f.png)

[2021-05-27 03:53] #7748 closed

[2021-05-27 04:05] #7476 closed

[2021-05-27 06:56] luhan2017 opened #7936 "If pipe("|") exists in MicrosoftPassword, the bot can't be started with an error."
## Describe the bug

If there is a pipe in the MicrosoftPassword field, when I start the bot locally, I will get such error:

![image](https://user-images.githubusercontent.com/32191031/119779700-93c28680-befb-11eb-9b4f-d7da1eb6d761.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Repr

[2021-05-27 07:16] prafuldhone opened #7937 "Whenever MS App Password contains | operator, Composer gives an error message"
Whenever MS App Password contains | (pipe) operator, Composer gives an error message.

For eg: if my password is "H2Uc_|^Ax.j(+3m>NVVx]DOx9", it gives following error message.
<img width="772" alt="ComposerError" src="https://user-images.githubusercontent.com/20317538/119782197-800e2480-bee9-11eb-9a70-ec1352c0c247.png">

[2021-05-27 07:54] alanlong9278 commented on #7851
Use the same link to `select trigger`, `select dialog` & `allow callers` pages

[2021-05-27 09:56] UmaPrelude commented on #7721
Sorry for the delayed response.

I have upgraded to 12.22.1 from 12.16. Even then same issue.
Also when i try to install version 14, getting message as it is not supported for windows 7, and it is supported from win 8.1.

[2021-05-27 10:35] MarcoWirtl opened #7940 "How to view an existing QnA KB to Composer"
Hi,
I have an existing QnA KB in the Portal, I want to view my QnA Pairs in Composer.
How to import the existing Pairs?

Currently, I'm receiving the answers in Emulator when starting from Composer. So I am connected correctly with the right KB.
I want to edit the pairs straight out of Composer.
Any help?

[2021-05-27 12:44] silviofx2 commented on #4028
Hi, this question mentions how to assign a value to a dynamically named variable. Now, I am interested in knowing how to get the value of that variable, for example, to pass it to a custom action or to display it in a response. With concat I can correctly generate the name, but how do I tell the Composer that this text corresponds to a variable? I try to display with
`- Answer: ${concat("dialog.an

[2021-05-27 12:53] jrdamiano opened #7975 "How to parse JSON object using foreach loop on Bot Composer"
**Describe the solution you'd like**
When I get a JSON object from an HTTP API request I need to iterate through it to read/extract its values.

**Additional context**
I get JSON object containig LUIS response (attrached file JSON.txt) and I can display intents by using this expresion: ${jPath(dialog.resultadoLuis.content, '..intents')} but on trying to loop through it with foreach loop (attached

[2021-05-27 14:04] ctharmon722 commented on #7860
@dmvtech
I do understand what the publishTargets should look like because it has worked with other bots before the switch over to 1.4.0. However, this one does not have any of the configurations in there right now because the publishTarget is blank. It is blank because it is always pulling from the old subscription.

I am willing to clear out my local storage, but where do I find it? Where are (De

[2021-05-27 14:58] cdonke commented on #7891
Just as an additional input, this is a feature many customers asked me for, and I have to guide them outside of BFC.

[2021-05-27 15:06] benbrown commented on #6794
This requirement has several component parts:

* Creating the prediction/endpoint key.  This is can be achieved by using the same base component as the LUIS authoring key, QNA, speech.
* Update luis build process for local run.  This will require a user to login so that the endpoint key can be set on all the luis apps. This has to occur at least one time for each luis app - new LUIS apps are creat

[2021-05-27 16:18] anusharavindrar commented on #7926
@someonelikeTIM, can you export your entire bot as a zip and attach here for us to take a look?
![image](https://user-images.githubusercontent.com/48731427/119860640-63fb8a80-becb-11eb-945f-c25fde99e476.png)

[2021-05-27 16:35] srinaath commented on #7940
@MarcoWirtl We are planning to add a feature to import pairs from an existing qna kb. We will link this ticket to a feature ticket that we are using to track the feature.

[2021-05-27 16:36] srinaath commented on #7937
Closing this as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/7936. A PR is already out to fix this issue.

[2021-05-27 16:36] #7937 closed

[2021-05-27 16:51] BellaDunnett opened #7941 "Enable child dialog triggers to function with a single user utterance"
As it currently stands, it seems that it is not possible to enable a child dialog to check its triggers without a second user utterance. For example, if a user says 'I want to know the date my contract ends' this would match the intent recognized trigger #contractDetails on the main dialog. At this point, I can begin the child dialog Contract_Details.

What I would like to then happen is that the

[2021-05-27 17:41] gabrielguarisa commented on #7880
Thank you for your help. I will test the suggested approaches.

[2021-05-27 19:02] anusharavindrar commented on #7877
@jamalsia, I am not able to repro the issue on my Mac. I just created a new bot from the Echo Bot template, downloaded a new copy of the runtime code and ran the above commands. My Mac OS version is Catalina(v10.15.4). Here are the details,

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/48731427/119879549-33721b80-bee0-11eb-9b89-f3f73a94b8b1.png)
![image](https://user-image

[2021-05-27 19:15] jamalsia commented on #7877
thanks @anusharavindrar . just to be sure did you install both
`botbuilder-dialogs-declarative`  and `botbuilder-ai` when testing?

[2021-05-27 19:23] dmvtech commented on #7860
The keyboard shortcut `Ctrl+shift+i`. I'm assuming you're using the Electron version (downloadable, installable program) of Composer and that you haven't cloned the repo and built it yourself. But the keyboard shortcut should work either way. In the Electron version you can also find the developer tools under the `View` menu.

I'm very interested to see if clearing the local storage resolves this.

[2021-05-27 19:32] cwhitten opened #7943 "Custom triggers: the project tree and entry element in the flow view aren't rendering labels/descriptions"
When adding a custom trigger that comes in from a package, the following gets rendered:

![Screen Shot 2021-05-27 at 12 30 51 PM](https://user-images.githubusercontent.com/1156704/119886116-78e61700-bee7-11eb-96db-0bc6904efdf0.png)

[2021-05-27 19:32] cwhitten commented on #7943
cc @ryanlengel

[2021-05-27 19:40] anusharavindrar commented on #7877
@jamalsia, yes installed both `botbuilder-dialogs-declarative` and `botbuilder-ai` while testing. Also, what version of the node are you on?

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/48731427/119887056-8223b380-bee8-11eb-9567-064a2ee3df8f.png)

[2021-05-27 20:15] KyonCode opened #7944 "Bot composer 2.0 issue with converting a bot"
Hello,

updated composer to 2.0 and converted bot (v 1.4).

When try to Start Bot receive this error:

Error occurred building the bot

POST401/v3/directline/conversations/52e009da-8fa8-463e-95ab-48aa09d95111%7Clivechat/activities
An error occurred validating the Microsoft App Id and Microsoft App Password.
AADSTS7000216: 'client_assertion', 'client_secret' or 'request' is required for the 'client

[2021-05-27 20:26] KyonCode commented on #7944
Ok now I moved to this error:

npm ERR! This is probably not a problem with npm. There is likely additional logging output above. npm ERR! A complete log of this run can be found in: npm ERR!

[2021-05-27 20:30] zachgoz commented on #7834
Ok I made some progress here. So the first error "a scope of json wasn't found" does not show up when I do not set json as the response type in the nodejs runtime. In C this does not seem to matter.
<img width="376" alt="Screen Shot 2021-05-27 at 3 58 45 PM" src="https://user-images.githubusercontent.com/3943365/119889383-7ba33500-bf04-11eb-83fe-7041564f93bf.png">

This uncovered a previous issue

[2021-05-27 20:58] someonelikeTIM commented on #7916
The bot is now failing to start. Here is the error message:

[code]

[2021-05-27 21:33] taicchoumsft opened #7945 "Orchestrator/LUIS: Disambiguation trigger should behave similarly"
Related to issue [Component#1015](https://github.com/microsoft/botframework-components/issues/1015).

This ticket tracks the investigation and Composer related changes to have the `OnChooseIntent` trigger behave similarly for Orchestrator and LUIS.

There were a couple of proposed solutions in the above issue, we will investigate and see which is feasible for R14.

[2021-05-27 21:36] taicchoumsft opened #7946 "Orchestrator: Persist model settings data when Orchestrator is used"
## Describe the bug
We need to persist the Orchestrator model data in Composer.

Right now, we always use the recommended(default) Orchestrator language models, but the defaults and behavior can change - we don't want to have users program to a model, and suddenly change the model when the default recommended model gets updated.

[2021-05-27 22:15] joshgummersall commented on #7916
Can you confirm that all your botbuilder-* versions have been updated? They should all list 4.13.5, and if you look at your yarn.lock or package-lock.json file that's the only version number you should see (some may include "-preview").

[2021-05-27 22:49] JonathanFingold commented on #6434
Closing as stale, since now I have a different set of issues with the skills flow.

[2021-05-27 22:49] #6434 closed

[2021-05-27 23:40] JonathanFingold opened #7947 "[Rant] Attempting to deploy a skill and then connect to it from a local root bot is inconsistent and a bit broken"
## Description

I can't get the scenario to work in a satisfying or consistent way to fix the documentation for [connecting to a remote skill](https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill?tabs=v2x).

## Version

Latest release (non-nightly)

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Discussion

1. Create a local root

[2021-05-28 00:19] boydc2014 commented on #7157
let's use this ticket to track a better cleanup approach for all processes like what VSCode do.

[2021-05-28 00:22] boydc2014 commented on #7935
Design is ready

[2021-05-28 00:23] boydc2014 commented on #7865
Status: in the middle of locking down the requirement

[2021-05-28 02:15] srinaath opened #7948 "Debug Panel: Watch variables"
This ticket tracks work on a new feature that helps looking at how state is changing as users interact with their bot – something similar to what PVA have and akin to the ‘watch’ feature within Visual Studio.

In Composer, initial thoughts on the feature involve choosing a variable to watch from any of these paths (currently used for intellisense) https://github.com/microsoft/BotFramework-Composer

[2021-05-28 04:19] BeheraMadan commented on #7895
@dmvtech I want to restart the entire conversesion with welcome message. For eg. suppose the flow starts from 1st dialog and the restart button present in 3rd dialog, by clicking restart button it should be start from 1st. it is for webchat.

[2021-05-28 06:49] #7751 closed

[2021-05-28 08:22] jamalsia commented on #7877
ok Thank you @anusharavindrar . then please close the ticket.
Reinstalling botbuilder-ai fixed the issue.

[2021-05-28 15:52] #7877 closed

[2021-05-28 15:56] JonathanFingold commented on #7865
PS. I would also like to be able to continue to work on the bot design, without having to stop and provision the root bot, just because I want to add a skill to it.

[2021-05-28 16:17] srinaath opened #7949 "Intellisense on property editor"
## Describe the bug

Currently the intellisense feature is very limited inside the property editor fields. This is due to project Id not being passed to the intellisense server through the useLanguageServer hook.

Expected: Enabling intellisense on these property editor fields

<img width="430" alt="Screen Shot 2021-05-28 at 9 16 40 AM" src="https://user-images.githubusercontent.com/13004779/12001

[2021-05-28 16:29] JonathanFingold commented on #7947
Trying a new tack today:
1. Clean up the test bot: delete the manifest manually, delete all publishing profiles, delete Azure resources. Then, close and reopen the bot in Composer.
1. Notice this warning and select the **manifest.json** link.
    ![image](https://user-images.githubusercontent.com/35047199/120011600-57426980-bf93-11eb-8635-635f8f5823dc.png)
1. This takes you to the **Export your bo

[2021-05-28 16:35] someonelikeTIM commented on #7916
All of them show 4.13.5 except the following:
![1](https://user-images.githubusercontent.com/40400490/120015224-18bba780-bfb1-11eb-977d-27c6542f14e9.PNG)
![2](https://user-images.githubusercontent.com/40400490/120015238-1d805b80-bfb1-11eb-85e5-0b09b05211d6.PNG)
![3](https://user-images.githubusercontent.com/40400490/120015245-1fe2b580-bfb1-11eb-9e09-f16ec381a5ff.PNG)
![4](https://user-images.githu

[2021-05-28 17:11] JonathanFingold commented on #7947
PS. This is not a full catalog of all the different paths I've tried to take. I have not yet successfully got this scenario to work in Composer 2.x.

[2021-05-28 18:25] ctharmon722 commented on #7860
@dmvtech
I cleared out the local and then all storage. It still defaults to the disabled account. Any other place this subscription/tenant might live in memory? You are correct, I use the downloadable/installable program?

I would switch to 2.0, but we use custom actions...

[2021-05-28 20:45] tomlm opened #7950 "No way to remove a project reference if the folder doesn't exist."
## Describe the bug

When a project folder is deleted or moved the MRU list has no way to remove it and shows an error.

## Version
![image](https://user-images.githubusercontent.com/17789481/120040036-bd8eb280-bfba-11eb-8ea9-dbed12e434b0.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

[2021-05-28 21:42] tomlm opened #7951 "Composer has built in assumptions that I'm using LU, and it blocks me from using other systems."
## Describe the bug

I can't use LUCY because I don't have .u files and it barfs if there are no LU files.

## Version

2.0.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Configure custom recognizer, and get rid of all .LU files from the folders.
2.Tr

[2021-05-28 21:56] tomlm opened #7952 "Trigger order can be significant, UI needs to let me rearrange the triggers"
## Describe the bug

I need to be able to reorder the trigger definitions.

## Version

2.0.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create multiple intents
2. Try and change the order, you can't.

## Expected behavior
That I can change the orde

[2021-05-28 22:00] tomlm opened #7953 "Composer needs to give me ability to edit and see resource types added by components."
## Describe the bug

Components can add new file types (js, .py, .yaml, etc.) I need to be able to work with them.

## Version

2.0.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Add Iciclecreek.Bot.AdaptiveExpressions.Javascript --> there is no way t

[2021-05-28 22:18] JonathanFingold opened #7954 "There is no longer a project settings tab, but we still refer to one"
## Describe the bug

The following notification appears when you publish a skill, yet I cannot find a _project settings_ tab anywhere:

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

[2021-05-28 22:29] JonathanFingold opened #7955 "Documentation link is out of date (4.12 should be 4.13)"
## Describe the bug

The SDK runtime packages should link to 4.13, but still link to 4.12.

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to

[2021-05-29 15:20] jamalsia commented on #7834
i have the same issue.

[2021-05-29 23:25] joshgummersall commented on #7916
Updating all the botbuilder packages in your package.json file and running `npm install` again should update everything to `4.13.5`. There are a few `instanceof` checks, including where you're seeing this error. If the versions aren't locked to the same exact number this can happen.

[2021-05-30 07:05] dawwa opened #7957 "UX: Provide option of deleting bots directly from the home page"
Propose to add an option of deleting bots in an easier way, right now seems like I have to open the unwanted project one by one to clean it up, and for some older ones, I have go through open it, waiting for converting to 2.0, loading template, building, and then deleting.

e.g.,

![image](https://user-images.githubusercontent.com/44714043/120095357-4db71f80-c0c1-11eb-8208-b42f32cc8b06.png)

[2021-05-30 08:09] dawwa opened #7958 "Copy Paste in canvas does not work and throws"
## Describe the bug

Copy does not seem copying anything, nothing seems happening when I selected an item in the canvas and then clicked Copy.
When Ctrl+V, an error pops up, and seems like even when the clip board is empty, the error still pops up

## Version

2.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubu

[2021-05-30 08:17] dawwa opened #7959 "UX: Provide an option of cloning a trigger/dialog"
Please consider to provide an option of cloning an existing trigger/dialog and then modify on top of it to reduce duplicated work for similar dialogs,
e.g.,
![image](https://user-images.githubusercontent.com/44714043/120097226-0afa4500-c0cb-11eb-8c47-43bb81ccf967.png)

Right now I have to repeat many things while constructing similar triggers/dialogs.
Please clarify if there is some workaround, I

[2021-05-30 08:27] chandsalam1108 opened #7960 "Upgraded Bot Framework Composer to v2.0.0 and unable to open my previous projects"
Upgraded Bot Framework Composer to v2.0.0 and unable to open my previous projects.

Prompted with following message:
This project was created in an older version of Composer. To open this project in Composer 2.0, we must copy your project and convert it to the latest format. Your original project will not be changed.

While converting I'm getting following error:
Error calling npm to fetch templat

[2021-05-30 08:33] chandsalam1108 commented on #3746
Upgraded Bot Framework Composer to v2.0.0 and unable to open my previous projects.

Prompted with following message:
This project was created in an older version of Composer. To open this project in Composer 2.0, we must copy your project and convert it to the latest format. Your original project will not be changed.

While converting I'm getting following error:
Error calling npm to fetch templat

[2021-05-31 07:12] zhixzhan commented on #7960
Hi @chandsalam1108 what is the node version are you using ? Can you please try re-install node v14+ ?

[2021-05-31 07:24] Gassano commented on #7960
@chandsalam1108 i also got same error.  anyway i did [ + create new ] first,  i was required to install node.js. after install it i can convert my previous project.

[2021-05-31 13:44] silviofx2 commented on #7413
@dmvtech I have the same error when I publish my bot with LUIS. I put this property (luisResource) in the publish profile but i get the same error.
My config is:

{
  "name": "GuidBot-v1",
  "environment": "composer",
  "runtimeIdentifier": "win-x64",
  "resourceGroup": "Pruebas",
  "botName": "GuidBot-v1",
  "subscriptionId": "....033",
  "region": "westus",
  "settings": {
    "applicationInsigh

[2021-05-31 15:56] anusharavindrar commented on #7879
Closing the issue. Please feel free to reopen if the issue persists.

[2021-05-31 15:56] #7879 closed

[2021-05-31 19:11] anusharavindrar commented on #7944
@KyonCode, do you get any additional error in the dev console(in the menu bar, go to View > Toggle Developer Tools)? Does this happen with all the bots or just this specific bot? Can you also check if your client secret is expired? Also, are you on the Desktop version of the Composer?

[2021-05-31 19:23] victorlamana opened #7964 "CAN'T OPEN BOT FRAMEWORK COMPOSER V2.0"
Hello! Title is self explanatory. I'm working on a bot on Power Virtual Agents and can't open Bot Framework Composer no matter what (It's stuck on "Starting server").

I followed the tutorial of installation on Framework Composer page and installed the SDK and the Bot Emulator, and they both seem to be working ( I can even open Framework Emulator). But when I try to open Framework Composer, be it

[2021-05-31 21:41] taicchoumsft commented on #7964
Hi @victorlamana , thanks for reporting the issue. This error is due to some native dependencies not being able to load on your system.  Can you give us a little more information on the environment you're using?  Is this Windows 7/8/10?

[2021-05-31 22:36] victorlamana commented on #7964
Hello @taicchoumsft !!!! :)

I'm using Windows 10 Enterprise Build 1809

Is there something manual I can try to do to brute-force and open it?

[2021-06-01 01:09] mewa1024 commented on #6749
Hi, this last part (selected a log message selects the corresponding bubble in Web Chat and vice versa) didn't get in (or reverted back?). Attached is a screen recording showing that selecting the log doesn't not change the selection in Web Chat or vice versa.

https://user-images.githubusercontent.com/39317542/120252893-be357c00-c23a-11eb-8355-624bbd2848fa.mov

@tonyanziano @srinaath Can we get t

[2021-06-01 03:11] GrindstoneLZX opened #7965 "[Something went wrong...] when pressing [Show code]"
## Describe the bug

I meet an issue, when I try to press [Show code], it only shows [Something went wrong] error and is always showing [Loading...].
Some other panel have similar issue.
Could you take a look? Thank you!

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [

[2021-06-01 05:45] taicchoumsft commented on #7964
Hi @victorlamana , can you try installing the latest `vc_redist.x64.exe` package from [here](https://support.microsoft.com/en-us/topic/the-latest-supported-visual-c-downloads-2647da03-1eea-4433-9aff-95f26a218cc0), reboot, then try re-opening Composer again?

If you are also running an older version of Visual Studio (older than VS2019), can you update that and try again as well?

[2021-06-01 06:36] Kai-Wen opened #7966 ""Hand off to an administrator" feature with provisionComposer.js generates faulty resources"
**The resources generated with provisionComposer.js seems buggy**
[How to manually provision Azure resources for your Composer project](https://github.com/microsoft/BotFramework-Composer/tree/main/Provisioning#how-to-manually-provision-azure-resources-for-your-composer-project)

Example command:
node provisionComposer.js --subscriptionId=<subId> **--name=kevin-azbot-handofftest** --appPassword=<ps

[2021-06-01 07:43] Kai-Wen commented on #7800
Still reproducible by following [Create new Azure resources](https://docs.microsoft.com/en-us/composer/how-to-publish-bot?tabs=v2x#create-new-azure-resources)

[2021-06-01 07:55] riftek opened #7967 "Azure bot framework composer new deployment authentication"
when adding a new deployment. on authentication to deploy, composer cant find my email unless I put a false name and enter another email. of which authenticates but throws an error of the previous non existent name not being found.

Windows 10

I have filled in all the relevant data for importing existing resources.

here is the message I get when trying to use my work account
![image](https://use

[2021-06-01 08:01] zhixzhan commented on #7965
@GrindstoneLZX when you open the browser console, did you see this js load error ?
![image](https://user-images.githubusercontent.com/49866537/120288255-96a1ea80-c2f2-11eb-8fe0-bc16b3e2f14d.png)

[2021-06-01 08:31] aparnaji opened #7969 "Multilingual Hero Card and Suggestions not working in Non English Locale"
## Describe the bug
Can not show Hero Card and Suggestions in applied locale

## Version

Version:  2.0.0-nightly.247623.340809f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Chrome
- [ ] Edge

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to Bot Dialog
2.Create a Hero card , select Locale other than english
3. R

[2021-06-01 13:13] BellaDunnett opened #7970 "Child dialog not triggering function with a single user utterance"
As it currently stands, it seems that it is not possible to enable a child dialog to check its triggers without a second user utterance. For example, if a user says 'I want to know the date my contract ends' this would match the intent recognized trigger #contractDetails on the main dialog. At this point, I can begin the child dialog Contract_Details.

What I would like to then happen is that the

[2021-06-01 13:13] #7941 closed

[2021-06-01 13:25] AndreaPisc opened #7971 "Adaptive Cards as choice options in multi-choice prompt"
I have searched around but cannot find a solution to my issue.

I am trying to add adaptive cards as choices in the multi-choice prompt. IT seems to me that this is not possible.
Can anyone please confirm or otherwise explain how to add the cards accordingly?

As alternatives, i have used HeroCards so far. But the request is a carousel of Adaptive Cards.

Thank you in advance!

[2021-06-01 16:37] srinaath commented on #7970
@jwiley84 Could you take a look at this ticket?

[2021-06-01 16:42] srinaath commented on #7966
@GeoffCoxMSFT  Could you take a look at this ticket?

[2021-06-01 16:44] srinaath commented on #7965
@GrindstoneLZX Are you running Composer inside a virtual machine?

[2021-06-01 16:44] someonelikeTIM commented on #7916
I updated all the botbuilder packages in package.json and ran npm install. Everything in package-lock has been updated to 4.13.5. Now I get the following error when trying to run the bot.

[code]
Here are the contents of the referenced log file:

[code]

[2021-06-01 16:50] srinaath commented on #7958
@dawwa We also observed that the shortcuts are not working. Are you able to Paste
![Screen Shot 2021-06-01 at 9 47 30 AM](https://user-images.githubusercontent.com/13004779/120361439-adc6e500-c2be-11eb-816c-9f38c713422e.png) using this control.

In addition, we are not able to repro the error that is pasted above. Could you share a zipped version of the bot for us to try and repro the error.

[2021-06-01 16:52] srinaath commented on #7957
@mewa1024 Could you take a look at this ticket.

[2021-06-01 17:11] joshgummersall commented on #7916
@someonelikeTIM, could you shoot me an email? I'd like to take a closer look at your package and lock file(s). My email address is in my Github profile.

[2021-06-01 17:13] srinaath commented on #7957
@dawwa We are tracking this feature and have designs. We would look to land it in the next couple of releases.

[2021-06-01 17:15] srinaath commented on #7970
Related https://github.com/microsoft/BotFramework-Composer/issues/5532

[2021-06-01 17:27] ryanisgrig opened #7973 "Exported C# bots don't run using the default behaviors imposed by Composer"
## Describe the bug

When I export a C# bot and use the default name `BOTNAME_export`, it fails to start out of the box because the .csproj file does not match the bot name.

## Version

Version:  2.0.0-nightly.247623.340809f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

#

[2021-06-01 18:02] #7809 closed

[2021-06-01 18:13] johnataylor commented on #7967
@tonyanziano can you comment

[2021-06-01 18:56] johnataylor commented on #7834
@joshgummersall can you take a look? thanks

[2021-06-01 18:58] johnataylor commented on #7783
@tonyanziano what are the next steps with this one. Seems like you think it is an issue in the product that needs fixing, can you clarify?

[2021-06-01 19:04] johnataylor commented on #7702
@benbrown @stevengum any update on this?

[2021-06-01 19:10] Karric opened #7974 "Have intent recognizer interrupt a user prompt"
I'm using Composer/Emulator/LUIS exclusively. I don't see a way to allow the recognizer to interrupt a user prompt.

Bot details:
- Bot has a trigger for "current time" LUIS intent
- This triggers a particular dialog
- I have the standard Welcome dialog configured too, which asks the user for their name.

Current Experience:
- Welcome event; bot asks the user their name via 'prompt for text'
- Use

[2021-06-01 19:54] tdurnford commented on #7935
@luhan2017 @boydc2014 Why are we putting the recognizer selection in a modal instead of just having it inline in the form? Adding the 'Change' button is a whole new concept in the form that user's are not accustom to, and there is plenty of space in the form for the UI.

[2021-06-01 20:03] lauren-mills commented on #7974
Hi @Karric, there is a property called "allowInterruptions" under Other > Prompt Configurations that allows you to configure whether a prompt is interruptible or not. You can set it to true or false, or provide a more complex expression like "=turn.recognized.score > 0.8" for example, that gives you control over your interruption. You can also add an expression as a condition onto your OnIntent tr

[2021-06-01 20:12] lauren-mills commented on #7970
Hi @BellaDunnett, you should be able to achieve the scenario you want by just deleting the beginDialog trigger.

[2021-06-01 20:12] tonyanziano commented on #7967
@riftek can you please include the following in your issue:

1. Screenshots of what you are seeing
2. Logs / Error messages
3. Reproduction steps (if possible)

[2021-06-01 20:15] tonyanziano commented on #7783
@johnataylor correct, it is a Composer issue that needs to be fixed.

Inside the authentication flow that fetches an ARM token for a specific tenant, we need to handle an unsuccessful authentication request with the `InteractionRequired` status, and reprompt the user to sign-in interactively.

You can see an example of that same handling logic here: [Source](https://github.com/microsoft/BotFramewo

[2021-06-01 20:16] lauren-mills commented on #7952
Seconded!

[2021-06-01 20:25] lauren-mills commented on #7975
Hi @jrdamiano, I believe the reason you can't loop through is because the intents property in the JSON you attached is an object, not an array.

Are you required to use the HTTP Action, or are you just trying to get the full list of intents back from your LUIS recognizer?

[2021-06-01 20:43] srinaath opened #7977 "Action to add a "note""
This ticket documents the work required to support addition of a node in the schema  "Add a note" action.

The goal of this action is to give us the ability to document logic, explain the flow in some of our complex templates (Calendar etc) and of course help the user to share documentation on their bots.  @vivekkshankar  has the design for the this action here. https://www.figma.com/file/LlTlh5vX

[2021-06-01 20:46] mewa1024 opened #7978 "Add "Watch" as new tab to debugging pane"
## Summary
Tracking state throughout a conversation in Web Chat (or Emulator) is possible, but difficult. The user has to find the "Bot State" log item, select it, and then dig into the inspector pane to find the property they are looking for. Elevating bot state to its own tab and allowing users to select the custom properties thy want to follow will

1. reduce the clicking needed to find a prope

[2021-06-01 20:49] tonyanziano opened #7980 "Ability to undock and move Web Chat within Composer"
Ability for Web Chat, and potentially other content, to be available in a separate window to provide flexibility for the user and relieve some of the space issues that Composer faces today.

- [ ] (P0) - Web Chat panel can be moved freely within Composer
- [ ] (P1) Ability to "redock" the Web Chat panel
- [ ] (P1) - Ability to minimize / maximize the Web Chat panel

[2021-06-01 20:51] srinaath opened #7981 "Importing an existing QNA Maker KB"
Initial thoughts on the workflow

1. An update to the Create a QnA Maker KB modal to provide a 3rd option (in addition to import from URL and start from scratch), to import from an existing KB.

2. If the user chooses this option, they would be prompted to select a subscription / resource group / qna Maker resource (Reuse existing views from the Settings page for the QNA KB action and build on it

[2021-06-01 20:53] tonyanziano commented on #7980
Investigation Notes:

**Electron browser window approach:**

- The handle for the browser window exists in the Electron main process and not the renderer, so state data would have to be passed from the Composer client to the electron server side and then into the browser window hosting the Web Chat control
- State logic would have to be decoupled from the Web Chat component
- Would not be trivial

[2021-06-01 20:56] mewa1024 opened #7982 "Add rich text editor for QnA Knowledgebase"
## Summary
QnAmaker.ai has a rich text editor for authoring answers. for parity. We are adding this feature exactly as is to the "Knowledge QnA)" page in Composer for parity.

## Reference

This is the experience in QnAMaker.ai:

https://user-images.githubusercontent.com/39317542/120389305-1c1c9f00-c2e1-11eb-97c7-9caf8f015ad0.mov

[2021-06-01 20:58] tonyanziano opened #7983 "Link selected bot activities between Web Chat and Log Panel"
**P0's**
- [x] Selecting an activity displayed in the Web Chat panel should inspect the activity in the log panel
- [x] Inspecting an activity in the log panel should select an activity in the Web Chat panel

This should resemble how the Emulator behaves.

[2021-06-01 21:01] anusharavindrar commented on #7737
@davidfischl, the PVA team is tracking this bug. Will update the thread once the fix is out and you can give it a try.

[2021-06-01 21:02] srinaath opened #7984 "Fit and Finish Problems Pane"
**P0's**

- [ ] remove sidenav for errors and warnings, replace with toggle-able tags/buttons for errors and warnings laid out horizontally above the details list (https://www.figma.com/file/HwYEQoCmWbNrIDdCOmGvzN/%5Bbot-testing%5D-BRAINS!-storm?node-id=1413%3A1)
- [ ] add multi-select dropdown for bot filter
- [ ] Change warning icon color
- [ ] Message when starting a bot in the webchat panel (c

[2021-06-01 21:09] srinaath opened #7985 "POC for on demand tunnel"
Investigate solutions for a secure tunneling.

1. https://github.com/anderspitman/awesome-tunneling
2. Make a POC to leverage Azure functions as our on demand solution for promoting a local bot from localhost to an accessible cloud endpoint.

This scenario would benefit several scenarios including skills, remote bot testing and any features that currently require ABS (such as OAuth).

@luhan2017

[2021-06-01 21:32] tonyanziano opened #7986 "Enhance variable picker widget"
Enhance the variable picker widget with the following features:

**P0's**

- [ ] Add common properties observed in Message activities (turn.activity.text / turn.activity.user.id / turn.activity.recognized)

**P1's**

- [ ] MRU of recently used variables (float to top of list) - needs design

Widget:

![image](https://user-images.githubusercontent.com/3452012/120392804-de6e4500-c2e5-11eb-9eef-885d7

[2021-06-01 23:50] anusharavindrar commented on #6712
@ctharmon722, as of now the only documentation available is the [adaptive-dialog](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/adaptive-dialog/09.integrating-composer-dialogs) sample which I linked above. If it is ok with you, can you attach some screenshots of the error you are getting or share your project(my email id is on my github profile) for me to furt

[2021-06-02 03:26] GrindstoneLZX commented on #7965
Hello, thank you for your reply!
@zhixzhan  Yes, I can see the error. Here is my screen shot:
![image](https://user-images.githubusercontent.com/18130064/120419474-25674380-c395-11eb-9e7d-c0ee3316c689.png)

@srinaath Hello, I am running on my local desktop computer, not a virtual machine.

[2021-06-02 05:50] QaisAlkhateeb opened #7989 "Replace Dialog Action Not Working"
## Describe the bug

Replace Dialog action not working and throws the following error:
DialogContext.BeginDialogAsync(): A dialog with an id of ‘SecondDialog’ wasn’t found. The dialog must be included in the current or parent DialogSet. For example, if subclassing a ComponentDialog you can call AddDialog() within your constructor.

![image](https://user-images.githubusercontent.com/25031218/120430

[2021-06-02 09:10] garypretty commented on #7914
@aparnaji Can you please provide more information so that @srinaath and the team can diagnose / investigate you issue.  Please provide steps to reproduce the problem including what channel / tool you are expecting to hear the bot speak through. e.g. which channels are you using?

[2021-06-02 11:35] thrapai opened #7990 "Telemetry not logging Personal Information after publishing from V2.0.0 ."
## Describe the bug
After upgrading Composer to v2.0.0 I was no longer able to log Personal Information on App Insights. I need to log the _Question_ from LuisResult and the _fromName_ from BotMessageReceived.

As shown in the Documentation:
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry-analytics-queries?view=azure-bot-service-4.0#schema-of-bot-analytics-instrumentation

[2021-06-02 11:47] victorlamana commented on #7964
Hello, good morning @taicchoumsft. I'll try it later today and i'll report the results, thanks a lot

[2021-06-02 16:06] joshgummersall commented on #7834
Yep - I can repro, so something wonky is going on.

[2021-06-02 16:40] tonyanziano commented on #7990
@taicchoumsft or @tdurnford any thoughts?

[2021-06-02 16:42] tonyanziano commented on #7973
@boydc2014 is this something STCA can take a look at?

[2021-06-02 17:32] tonyanziano commented on #7948
Confirming points 2 & 3:

![image](https://user-images.githubusercontent.com/3452012/120526070-a9b5c880-c38d-11eb-88fd-0e3703bf68a7.png)

This is the Bot State trace sent immediately after printing the `dialog.blah` and `turn.blah` values from their scopes. Only the `user` scope is persisted.

[2021-06-02 17:33] #7949 closed

[2021-06-02 17:41] hatpick commented on #7931
@JaskeeratBedi-cmk any updates on designs for this?

[2021-06-02 18:16] ctharmon722 commented on #6712
we would love to share more with you via email. thanks so much

[2021-06-02 18:29] JaskeeratBedi-cmk commented on #7931
@mewa1024 will be taking this one

[2021-06-02 18:30] johnataylor commented on #7716
you should get this fix in our next release, thanks

[2021-06-02 18:30] #7716 closed

[2021-06-02 18:34] #7643 closed

[2021-06-02 18:42] #6999 closed

[2021-06-02 18:45] #6819 closed

[2021-06-02 18:51] #6643 closed

[2021-06-02 18:56] #6406 closed

[2021-06-02 19:01] Bolleman opened #7994 "build error when MicrosoftAppPassword contains a '|' symbol"
## Describe the bug

Error occurred building the bot

Message:
Command failed: func settings add MicrosoftAppPassword WRh=@BqPlb0D:wvchm]u!y|H%JI
'H%JI' is not recognized as an internal or external command,
operable program or batch file.
Command:
func settings add MicrosoftAppPassword WRh=@BqPlb0D:wvchm]u!y|H%JI
Stack Trace:
Error: Command failed: func settings add MicrosoftAppPassword WRh=@BqPlb

[2021-06-02 19:06] chrimc62 commented on #7975
@jrdamiano you can achieve this by adding a SetProperty where you set another properties value to `indicesAndValues($resultAdoLuis.content)`.  This will convert an object to an array of objects where each element has an `index` field for the key and a `value` field for the value.
Ideally foreach you should be able to do this by using an expression as your foreach property, i.e. `=indicesAndValues(

[2021-06-02 19:06] #7975 closed

[2021-06-02 19:07] AlexanderPBrown opened #7995 "BotFramework Composer Crashes MAC when selecting to web chat or test in Emulator the Enterprise People Bot"
Downloaded and followed the instructions to configure the Enterprise People Bot on MacBook Pro Bot Framework Composer. Bot will start successfully using the Run button. However, attempting to open Web Chat or Emulator to test will crash the entire computer.

## Version

Version:  2.0.0

Electron: 8.2.4

Chrome: 80.0.3987.165

NodeJS: 12.13.0

V8: 8.0.426.27-electron.0

## Browser

For Bot Framewor

[2021-06-02 19:26] AlexanderPBrown commented on #7995
After downloading Emulator 2.13 and running it independently, the "Test in Emulator" link does not Crash OS. The Web Chat still crashes it.

[2021-06-02 19:30] chrimc62 commented on #6423
@philip-mc sounds like you have solved your problem.  If you still have an issue, please reopen this item.  Sorry for the difficulties you have had--we are always trying to figure out how to make things simpler and clearer, but this is a complex area.

[2021-06-02 19:30] #6423 closed

[2021-06-02 19:31] #5415 closed

[2021-06-02 20:12] taicchoumsft commented on #7990
Hi @thrapai , thanks for reporting this Composer bug, I can indeed repro this.

The `=runtimeSettings.telemetry.logActivities` and `=runtimeSettings.telemetry.logPersonalInformation` settings are the right ones to set if you created a brand new bot in Composer 2.0.

These two settings are somehow being stripped out only when publishing to Azure (locally these two settings should be preserved, so w

[2021-06-02 20:22] taicchoumsft opened #7996 "Telemetry: `logActivities` and `logPersonalInformation` are being dropped when publishing to Azure"
## Describe the bug
Locally, a user will set this to enable PII and logging for telemetry (SDK v 4.13.2):
[code]

PII logging will appear to work locally, until publish to Azure.  On Azure, the `logActivities` and `logPersonalInformation` flags appear to have been dropped:
![image](https://user-images.githubusercontent.com/61705609/120546953-52235700-c3a5-11eb-9764-2d3e8e97c858.png)

## Version
Co

[2021-06-02 20:25] #7996 closed

[2021-06-02 21:15] #7929 closed

[2021-06-02 23:11] anusharavindrar commented on #7971
@AndreaPisc, can you elaborate more on what you are trying to do(maybe screenshots of what you have tried so far)? If you are looking for adding an adaptive card as a choice in the multi-choice prompt, [here](https://docs.microsoft.com/en-us/composer/how-to-send-cards?tabs=v2x#the-responding-with-cards-example) is the documentation which makes use of the Responding with Cards template where the Un

[2021-06-03 00:37] stevkan commented on #7832
@srinaath, I am also getting the same error when attempting to use the Storage package. I have tried previous versions, including preview, but with no luck.

As for option #1, I am able to pass the state values into Cosmos however, at this moment, it doesn't appear to be making a difference in functionality or flow. @dmvtech and I are testing an idea or two around this. I will update this thread w

[2021-06-03 01:34] boydc2014 commented on #6677
@narulasrinivas sorry for the late response.

The root cause of this issue is in our default setup of recognizers(LUIS and QNA), we did a pre-processing step called cross-train which added a special QA pair into the final QnA KB, with a special answer (intent=DeferToRe...). This special answer works as an tip in the final post-processing of recognizer results and usually helpful to get a balanced

[2021-06-03 01:36] luhan2017 commented on #7954
@vivekkshankar , need your input here, should we say "in the publish tab"?

[2021-06-03 03:31] luhan2017 commented on #7935
@vivekkshankar , could you comment on this?

[2021-06-03 04:29] anusharavindrar commented on #7926
Closing the issue. Please feel free to reopen if the issue persists.

[2021-06-03 04:29] #7926 closed

[2021-06-03 05:37] dmvtech commented on #7924
Closing as answered.

[2021-06-03 05:37] #7924 closed

[2021-06-03 06:16] #7089 closed

[2021-06-03 06:46] thrapai commented on #7990
Thanks for your reply @taicchoumsft!

I confirm the ```"Microsoft.Bot.Builder.Dialogs.Adaptive.Runtime``` is at version ```4.13.2```.

Indeed the settings are being stripped only when publishing to Azure. When testing localy on emulator, all the required information are logged properly.

**The proposed workaround solved my issue**. Everything is logged properly now. Thanks for your assistance!

[2021-06-03 08:32] #7936 closed

[2021-06-03 08:44] lei9444 commented on #7853
I have done some investigation on it. There will be a break change about the snapshot if we want to use it in async function (in 0.3.0 will console warning only).

The change is like
![image](https://user-images.githubusercontent.com/39758135/120615345-c2f06f00-c48a-11eb-9a85-727d1fe562d7.png)
we need to manually retain and then release the snapshot.

Today, we use a lot of snapshot in our dispatc

[2021-06-03 08:56] coder4321 opened #7998 "Activities.typing trigger is not working."
## Describe the bug

I tried to implement the trigger when user is typing send a response. but it is not sending any response when I am typing.

## Version

v2.0.0

## Expected behavior

when I start typing it should send me the response.

[2021-06-03 08:59] jrdamiano commented on #7975
@chrimc62 I have also found a way to convert object in array doing this into a SetProperty:
=foreach(dialog.resultadoLuis.content.prediction.intents, x, x.key)

Thanks for your help! I hope tracking issue for that feature is ready in short time ;)

[2021-06-03 09:13] aparnaji commented on #7914
@srinaath Your response "The expectation should be that the bot response will be in the same modality as the input even if the Speech modality is enabled for that response." helped. I modified my web chat java script also to send a input to read the message and used azure speech services

[2021-06-03 09:13] #7914 closed

[2021-06-03 14:21] AndreaPisc commented on #7971
@anusharavindrar thanks for replying. I have seen the documentation, and i am able to use adaptive cards as regular response. However, my issue is to have adaptive cards as choices in the multi-choice prompt. In the RespondingwithCards template, the Unknown trigger does incorporate the cards, but when the trigger is enabled, the user choices are displayed as numbered list
![image](https://user-ima

[2021-06-03 15:03] jwiley84 commented on #7970
@BellaDunnett does Lauren's solution work for you?

[2021-06-03 15:17] SharmaHarsh7 opened #8002 "'YV50ic' is not recognized as an internal or external command, operable program or batch file."
## Describe the bug

I recently installed Bot Composer 2.0.

Whenever I try to create a bot project (c#) which has LUIS and/or QnA Maker integrated with it, it gives me below error:
![image](https://user-images.githubusercontent.com/8860380/120669070-ba109500-c4ac-11eb-8fc5-6e9a0ebef364.png)

## Version

2.0.0

## OS

- [ ] Windows

[2021-06-03 15:21] johnataylor commented on #7990
Add Exempt label as we have a milestone for this.

[2021-06-03 16:02] BellaDunnett commented on #7970
Hi @lauren-mills I've tried deleting the beginDialog trigger, but I then get no response from the bot. It seems to go to the correct child dialog and then get lost. The same happens if I have intent recognised triggers or an unknown intent trigger - they don't work if I've deleted the beginDialog trigger.

[2021-06-03 16:38] taicchoumsft commented on #7892
Tracking [Components#1129](https://github.com/microsoft/botframework-components/issues/1129) that will close this issue.

[2021-06-03 16:40] tonyanziano commented on #8002
@jwiley84 can you see if you can reproduce this? If so we can follow up with someone on the Runtime team.

[2021-06-03 16:46] lauren-mills commented on #7970
I was able to get it working in a test bot. In your "Begin a new dialog" action, do you have the activityProcessed property set to false?

[2021-06-03 16:50] tonyanziano commented on #7995
Hey @AlexanderPBrown ,

When you say you upgraded to 2.13 of the Emulator I assume you mean 4.13. In that case, were you previously on 4.12?

I'm asking because the current version of Composer embeds version 4.12 of Web Chat, as does 4.12 Emulator. However, Emulator 4.13 embeds version 4.13 of Web Chat.

So maybe it is the version of Web Chat that is crashing your computer. If so, then perhaps we

[2021-06-03 16:52] tonyanziano commented on #7994
Hello @Bolleman ,

Thanks for reporting the issue. This has already been fixed via #7938 and should be available in the latest [nightly release of Composer](https://github.com/microsoft/BotFramework-Composer-nightlies/releases)

[2021-06-03 16:52] #7994 closed

[2021-06-03 17:05] dmvtech commented on #7860
Do you actually see the old/false tenant id in the local storage? should be listed as `composer:tenantId`. If so, are you able to edit it to the correct one? Can you also check the Session Storage as well please? Can you also run the following from a console on your machine: `az account show` and see if that tenant ID shows up there?

[2021-06-03 17:09] ctharmon722 commented on #7860
I did see it in the local storage, but was not able to edit it.
I think you hit the nail on the head, the 'az account show' shows my old tenant. How do I change that? Where is that coming from/stored?

[2021-06-03 17:15] jwiley84 commented on #8002
I am unable to repro this with the following steps:
- Brand new installation (as of this morning) of composer, and pre-existing LUIS keys I already had.
- Brand new installation (as of this morning) of composer, and pre-existing QnA keys I already had.

@SharmaHarsh7 , did you use pre-existing keys or did you create new resources with composer?

[2021-06-03 17:34] daveta opened #8003 "Multilingual lu editing issue"
## Describe the bug

Users can't currently independently edit language specific .lu files.

For example, if I enter utterances for "English", and then switch to "Spanish", whatever I typed in "English" shows up in "Spanish".
If I then edit "Spanish", it also updates "English".

This occurs in the "Create" pane, and not the "User Input" pane.
![image](https://user-images.githubusercontent.com/61821

[2021-06-03 17:45] vhugogarcia commented on #6357
I would like to see this feature as well. 👍🏻

[2021-06-03 17:50] beyackle commented on #6873
This fits in nicely with the same complaint I had about colors, so I'd like to tackle those both as a single project.

[2021-06-03 17:59] stevkan commented on #7998
@coder4321, which client are you using? It sounds like you are using Web Chat and are enabling the `sendTypingIndicator` property in the Web Chat render component. Is this correct?

Could you also include any relevant code?

[2021-06-03 18:25] #7589 closed

[2021-06-03 19:11] dmvtech commented on #7860
@ctharmon722

Do the following:
`az logout`
`az login`

After that it should give you the same results as `az account show` would. I'm not 100% sure this is connected, but worth a shot at this point.

[2021-06-03 19:26] AlexBrownShi commented on #7995
You are correct.  How can we upgrade the Web Chat in composer to v 4.13?

APB

[2021-06-03 19:36] tonyanziano commented on #7995
We will have to make a PR to bump it up in the Composer source, and then it will be available in a nightly build.

Let me discuss the upgrade with my team and get back to you.

[2021-06-03 20:12] stevkan commented on #7832
@filcole, which client is it that you intend to use? If you are using Web Chat, an idea that was floated is to disable the adaptive card button after it has been pressed. This is an option in Web Chat thru the client. If Teams (or any other channel that supports UpdateActivity) then the activity can be modified to disable the button.

I'm a little less confident about the latter UpdateActivity opt

[2021-06-03 20:47] cleemullins opened #8007 "Add HTTP Agent string to allow identifation of Composer Based Bots vs SDK Based bots"
Composer should add to the Agent string for all Bots, so that calls from the Bot to the service can be identified as "Composer" or "SDK" Bots.

This ask comes from our analytics team, trying to better prioritize features based on data.

[2021-06-03 21:23] dmvtech commented on #6646
Closing as no longer a possible issue in 2.0

[2021-06-03 21:23] #6646 closed

[2021-06-03 22:32] #7880 closed

[2021-06-03 22:37] mewa1024 commented on #7983
Discussed offline with Tony, but for reference the design is to change the border to black, 2px thick for the message being inspected:
![image](https://user-images.githubusercontent.com/39317542/120720679-5b81f180-c481-11eb-9259-e456b27b8ea1.png)
![image](https://user-images.githubusercontent.com/39317542/120720757-794f5680-c481-11eb-8bee-dfc1e6f5ecd8.png)