[2021-06-03 22:56] dmvtech commented on #7989
Hi @QaisAlkhateeb I am able to reproduce and am investigating the cause. Thank you for bring this to our attention.

[2021-06-03 23:45] boydc2014 commented on #7517
From lu parser perspective, it doesn't care where the data source is. It's just paring result given a certain input. We, from Composer side, controls the input to lu parser and handles the saving after we get a result.

I'm not sure how this label entity feature is implemented today, but i think it should be doable. @zhixzhan can you help with this one?

[2021-06-03 23:53] boydc2014 commented on #8003
@zhixzhan could you help take a look, looks like a bug, once we have the lu intent created, we shouldn't overwrite content anymore.

Note that, it could be an issue with this hoisted editor's state (rather than the underlying data).

[2021-06-04 00:03] boydc2014 commented on #7853
Let's move this out R14 for now given the assessment is this is a big breaking change.

[2021-06-04 00:05] cwhitten commented on #7543
Added into R14 with the ongoing proxy work cc @lei9444 @boydc2014

[2021-06-04 00:08] dmvtech commented on #7969
Hi @aparnaji I believe this is a known limitation at this point. I will try and confirm that for you.

To make sure I have fidelity with exactly what you are doing; would you mind sharing your hero card and suggested actions? As well as your dialog, if possible. (`.lg` and `.dialog`)

[2021-06-04 00:17] tonyanziano commented on #7157
I spiked out a PoC of a mechanism that would allow the Electron main process to wait for asynchronous cleanup tasks on the renderer process before shutting down.

[You can find the source here.](https://github.com/tonyanziano/electron-shutdown-poc)

Now it's just a matter of deciding whether it's something we want to use or modify and then porting it over to Composer. We would then be able to wait

[2021-06-04 00:20] boydc2014 commented on #7945
Status: design

[2021-06-04 00:21] #7892 closed

[2021-06-04 02:04] dmvtech commented on #7969
@aparnaji I'm still not sure if the scenario is what you are experiencing, but I was able to get the following to work for Hero card and suggested actions for en-us and de-de locales.

## German

### Hero card
[code]
### Suggested actions
[code]

## English

### Hero card
[code]
### Suggested actions
[code]

[2021-06-04 03:29] zhixzhan commented on #8003
@boydc2014 fixed in #8009

[2021-06-04 04:58] tonyanziano commented on #7387
I've been doing some research on switching our application packaging tool to Electron Forge which should give us a lot more control over the building and packaging process.

One benefit of Electron Forge is that it will allow us to filter out certain types of files (such as TypeScript) that end up making it into our packaged application. Since we compile all of our TS files into JS, there is no re

[2021-06-04 05:21] #8003 closed

[2021-06-04 06:12] coder4321 commented on #7998
I am sorry, but I am new to bot framework composer, don't know how to
enable sendTypingIndicator.
I wanted to implement the functionality to suggest questions when user is
typing.
I have attached a screenshot. can you please help.

On Thu, Jun 3, 2021 at 11:29 PM Steven Kanberg ***@***.***>
wrote:

[2021-06-04 07:34] piyush-ramavat commented on #7875
I'm also getting the same error. My gut fill is it's related to the default .net SDK version.
I found that preferred .Net Bot Framework SDK version is 3.1.
But latest version is 5.1

I had similar issue with Visual Studio as well (Nuget package restore error).
The sample projects did not Build and run by default.
When I ran the `dotnet build` from command line using 3.1 it worked and Nuget package

[2021-06-04 07:57] filcole commented on #7832
@stevkan, thanks for the suggestions.  I'm using WebChat provided by the CDN here: https://cdn.botframework.com/botframework-webchat/latest/webchat.js.

I like the idea of disabling the adaptive card buttons since it provides user feedback.  I haven't seen any examples of how to do that whilst using the CDN provided WebChat, only the ideas floated here: https://github.com/microsoft/BotFramework-We

[2021-06-04 08:22] BellaDunnett commented on #7970
@lauren-mills Thank you! This fixed the issue. Thanks for your help.

[2021-06-04 15:03] #7970 closed

[2021-06-04 15:53] GeoffCoxMSFT commented on #7966
@benbrown I see that the resourceGroupName is used repeatedly in the templates and throughout the provisioning JS code.  Let's chat about it when you are back.

[2021-06-04 15:59] daveta commented on #8003
Curious if automated test cases could be added?

[2021-06-04 16:56] johnataylor commented on #7966
@Kai-Wen thanks for reporting this issue, our team is looking into it.

[2021-06-04 17:04] beyackle opened #8014 "Unify colors across app"
## Describe the solution you'd like

Colors used across Composer should be derived from a palette stored in a common place; this would make it easier to, for example, implement a "dark mode" theme or a custom-colored one that a customer might like instead of our usual light-blue on white.

[2021-06-04 17:06] dmvtech commented on #6482
Hi @rajasweet14 Just checking in. Are you still having this issue? Can you give more insight regarding the above questions?

[2021-06-04 17:18] #7517 closed

[2021-06-04 17:37] VamsiModem commented on #7631
### Tasks

1. Create a new combo box component with below features.
      - Filter the options as the user is typing
      - Show loading status when there is some asynchronous action.
      - Allow creation when the option is not available
2. Create the below shared components, with all the data retrieval and validation encapsulated.
      - TenantPicker
      - SubscriptionPicker
      - Resourc

[2021-06-04 18:18] taicchoumsft commented on #7770
Hi @scheyal , @daveta,

For dotnet, we need to modify the `Microsoft.Bot.Builder.AI.Orchestrator.csproj` [file](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.AI.Orchestrator/Microsoft.Bot.Builder.AI.Orchestrator.csproj).
- To modify the description, we need to change the `description` property
- To modify the `View Documentation` link, we need to add the

[2021-06-04 18:24] tonyanziano commented on #7967
@riftek can you please follow these steps to enable debugging output in Composer, and then try to login again and reproduce this issue?

1. Open a shell / cmd terminal
2. Navigate to Composer's installation directory
3. run the following command `set DEBUG=composer*`
4. Start composer from the terminal `"Bot Framework Composer.exe"`

You should now see a lot of output in the terminal window while

[2021-06-04 19:14] #5990 closed

[2021-06-04 19:18] dmvtech opened #8015 "Integral web chat is not consistent with locale nor giving correct language responses"
## Describe the bug

When running webchat from within Composer on a secondary locale, it is not consistent on what is being used/returned. When set to German (Germany), the send box and timestamp are correct, but other responses are not. Running in Emulator with `de-de` works fine and as expected.

## Version

Version:  2.0.0-nightly.249166.11a45cf
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.

[2021-06-04 19:58] pavolum opened #8016 "Allow for testing old versions of a published first party template"
We need to add a way where internal template developers ca publish preview versions of template generators which Composer can pick up for broader internal testing without affecting latest stable versions of that template.
- [ ] When the advanced template feature flag is set to true a version dropdown will be present for each template in the template view
  - [ ] version dropdown will be populated

[2021-06-04 20:59] GeoffCoxMSFT commented on #7693
@natalgar - Chatted with @benbrown.  With the 202 progress fix already in for any patch we release, we can take this one as part of the normal R14 work.  This can be part of the error handling standardization work you are already doing.

[2021-06-04 23:41] dmvtech commented on #7909
Hi @Clooney24 Thanks for your patience. There is a limitation in this situation. Unfortunately using an expression to a template such as ` ${OrSeparator()} ` (where that template has the appropriate word set for the locale in each .lg) didn't work. (I believe because as it's not a response it itself; it wouldn't go through that path).

The end goal should be able to be done with a non-trivial expr

[2021-06-05 09:09] SharmaHarsh7 commented on #8002
@jwiley84  I did a fresh installation again of Bot Composer latest version (2.0.0).

Created a new project with the 'Core Assistant Bot' template:
(For other first three templates it is working)

![image](https://user-images.githubusercontent.com/8860380/120886346-1d183e00-c60b-11eb-983b-2fd87ee53169.png)

Configured LUIS as below, tried both method (manual copy paste and Set up **Language Underst

[2021-06-05 11:51] SharmaHarsh7 commented on #8002
One more behavior I observed is that.. it works, if you create a new bot and create all the resources from bot composer only.

[2021-06-06 11:53] SharmaHarsh7 commented on #7981
Also, there are few more issues I found:

1. No mechanism to get LUIS/QnA Maker portal changes from remote to local.
1. If multiple developers are working on same project and they change language models, the changes are getting overwritten.

[2021-06-06 12:19] rahul-8437008949 opened #8019 "Skill Not working when deployed using CI/CD Pipelines."
When I deploy my skill directly from composer to azure Skill works fine and I can see my manifest at the URL for remote skill manifest. But when I deploy my skill using CI/CD Pipelines on the same resources I can see the changes I made to functioning the bot(the bot works fine) but Remote skill URL stops working(I cant see my remote manifest). Can someone help with this.

[2021-06-07 01:29] bosens opened #8020 "NodeJS - Error sending Cards - "Error: args[0].trim is not a function""
## Describe the bug

NodeJS bot to send a respond using Cards.
Starting the bot using Web chat results with the message "bot encountered an error or bug", the trace reviles the message "Error: Error: args[0].trim is not a function {SendActivity_Greetings}  Error occured when evaluating 'Attachments=${json(SendActivity_Greeting_attachment)}"

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0

[2021-06-07 05:19] #7960 closed

[2021-06-07 05:55] joshchiang0309 opened #8021 "Bot Framework Composer Create Azure Bot Error"
## Describe the bug

Unable create new Azure bot

## Version

Bot Framework Composer V2.0.0

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Bot Framework Composer V2.0.0'
2. Click on 'publish selected bot'
3. select "Create new resources"
4. type all info after I get Error

[2021-06-07 06:15] rahul-8437008949 commented on #8019
@v-kydela @cwhitten can you help me with this please. Do I need to make changes in the pipeline to make the manifest work?

[2021-06-07 07:02] luhan2017 commented on #8019
@rahul-8437008949, could you please try to copy the generated manifest/lu files to the wwwroot folder, then it can be accessed by url.

[2021-06-07 07:20] Jin825 opened #8022 "Error on creating empty bot + cannot port older project over"
## Describe the bug

After installation of new version, am now unable to convert older projects to new version.
Am also unable to create a new chatbot from scratch, error message as shown below:

Error calling npm to fetch template. Please ensure that node and npm are installed and available on your system. Full error message: `Command failed with ENOENT: npm root -g --prefix C:\Users\Me\AppData\R

[2021-06-07 09:00] rahul-8437008949 commented on #8019
Thanks @luhan2017 It Worked.

[2021-06-07 09:00] #8019 closed

[2021-06-07 16:19] anusharavindrar commented on #7944
Closing the issue. Please feel free to re-open if issue persists.

[2021-06-07 16:19] #7944 closed

[2021-06-07 17:31] hatpick commented on #7931
@mewa1024 any progress?

[2021-06-07 18:00] stevkan commented on #7921
Closing due to lack of response. Please feel free to re-open if the issue persists or you have new details to provide.

[2021-06-07 18:00] #7921 closed

[2021-06-07 18:17] chrimc62 commented on #7859
Closed due to inactivity.  If you still have an issue, please reopen.

[2021-06-07 18:17] #7859 closed

[2021-06-07 18:20] chrimc62 commented on #7721
We recommend using supported versions.

[2021-06-07 18:20] #7721 closed

[2021-06-07 18:55] cwhitten commented on #7815
@GeoffCoxMSFT when publishing to PVA we render a "Test in Power Virtual Agents" link. I do not know if we have the data & capability to similarly construct a deep-link to the Azure Portal Web Chat blade. Assigning to you for now to push this forward and understand what gaps we may have here.

[2021-06-07 19:03] cwhitten commented on #7826
@emivers8 I've bumped this from R14 as the design ask seems to still be in discussion. Teeing up for R15

[2021-06-07 19:05] cwhitten commented on #7807
@taicchoumsft @boydc2014 I'm pulling this into platform R14 to understand why the existing throttle code in `lubuild` isn't meeting expectations.

[2021-06-07 19:06] cwhitten commented on #7806
@taicchoumsft assigning to you for tracking -- if this is tracked elsewhere feel free to link and close.

[2021-06-07 19:07] cwhitten commented on #7805
@mewa1024 engineering needs UX expectations here before we address this

[2021-06-07 19:09] cwhitten commented on #7795
@boydc2014 assigning for platform discussion and using this scenario as a way to expose a deeper serialization issue

[2021-06-07 19:10] cwhitten commented on #7794
assigning to @garypretty & @mewa1024 to help with updated experience guidance and priority

[2021-06-07 19:12] cwhitten commented on #7786
@emivers8 would you be the right contact on what we should change this to? Options are limited and we would be constrained to what the popover component allows us to do as far as anchoring on an element.

[2021-06-07 19:16] cwhitten commented on #7779
We can take a placeholder/copy update. I'd like @garypretty to weigh in on what that copy should say.

[2021-06-07 19:18] #7791 closed

[2021-06-07 19:23] cwhitten commented on #7715
Removing from R14 as this is discussed.

[2021-06-07 19:25] cwhitten commented on #7701
We believe https://github.com/microsoft/BotFramework-Composer/pull/7399 has addressed this. Closing for now. @darrenj please re-open if you continue to see this.

[2021-06-07 19:25] #7701 closed

[2021-06-07 19:27] #7688 closed

[2021-06-07 19:28] cwhitten commented on #7461
Moving to botbuilder-dotnet

[2021-06-07 19:43] #7382 closed

[2021-06-07 19:56] cwhitten commented on #7448
@darrenj before we address this we need a PM owner to help reconcile your expectation with how recognizers compose with dialogs

[2021-06-07 20:18] cwhitten commented on #7413
@Dewain27 is this being discussed somewhere else? On this ticket alone I don't see enough data for engineering to move forward on this in R14.

[2021-06-07 20:20] cwhitten commented on #7397
@mewa1024 I believe in order to get this right we'll need an experience review from you or someone from the design team to step through the various user paths. Is this something you can coordinate soon? We can also consider punting this to R15.

[2021-06-07 20:21] cwhitten commented on #7257
@emivers8 do you have a deliverable here? We need to assess if this is R14'able or not.

[2021-06-07 21:20] hatpick commented on #7980
@tonyanziano you can communicate between two renderers via ipcRenderer as long as they know each others' ids.

[2021-06-07 21:21] hatpick commented on #7982
this is a dup of #7932

[2021-06-07 21:28] tonyanziano commented on #7980
@hatpick good to know!

[2021-06-07 22:08] AlexanderPBrown commented on #7995
No rush, i think the emulator has the features i need.

On Thu, Jun 3, 2021 at 3:37 PM Tony Anziano ***@***.***>
wrote:

[2021-06-07 22:23] #7983 closed

[2021-06-07 23:05] cwhitten commented on #7215
We would like to solve this with the larger keyvault support, and the solution needs to work for Functions. I'll put this on @carlosscastro for now as we shape a plan for a plan here.

I do not think we can solve this the right way in R14.

[2021-06-07 23:16] cwhitten commented on #7050
This will be a bit tricky to implement, as multiple bots can be running simultaneously in a project. While the runtime emits that ctrl+c will show down the process, it is implied that the user is in an active terminal bound to the single running bot.

Recommendation is not include this in a milestone until we have clarity on the prioritization of supporting this.

[2021-06-07 23:17] dmvtech commented on #7699
Hi @aparnaji

Without sending a body (empty body), I get the same behavior where the header does not get sent.

[code]

Sending with a body (tried multiple different approaches), I would see the content type, but would almost always get a 500 error from the endpoint.
[code]

Specifying `multipart/form-data; boundary="boundary"` in the type, I receive a `The format of value 'multipart/form-data; bo

[2021-06-07 23:23] cwhitten commented on #6827
We've got options here, but before we can move forward on engineering we need an experience review to clarify the UX on initial provision + optional publish. Assigning @Dewain27 to push this forward and moving to R15 for now.

[2021-06-07 23:25] cwhitten commented on #6773
No proper PgM plan or technical design for R14, moving to R15

[2021-06-08 00:16] #7312 closed

[2021-06-08 00:20] anusharavindrar commented on #7971
@AndreaPisc, what channel are you using? Also, can you elaborate on if you are trying to use Adaptive Card actions or Adaptive Card inputs?

[2021-06-08 00:28] cwhitten commented on #7543
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/2654

[2021-06-08 00:28] #7543 closed

[2021-06-08 00:31] cwhitten commented on #5866
@benbrown are you on point for the following?

[2021-06-08 02:09] mareekuh opened #8025 "Intro documentation available for SDK but not Composer"
- Go to Documentation https://docs.microsoft.com/en-us/azure/bot-service/?view=azure-bot-service-4.0
- Notice that SDK documentation starts with 'Overview' which explains what a bot is etc.
- Notice that the Composer documentation immediately goes into the 'app' and doesn't touch on the steps in bot building or why one even would want to build a bot

Proposed:

1. Merge [this content](https://docs

[2021-06-08 02:13] mareekuh opened #8026 "UX Guide : replace Language Generation with Bot Responses (unless we're talking about the file format or technology)"
In the UI as well as in the Tech documentation, we use "Bot Responses" unless we are talking about the technology or file format. Please update the UX guide accordingly to stay consistent.

<img width="1046" alt="Screen Shot 2021-06-07 at 7 10 36 PM" src="https://user-images.githubusercontent.com/48503434/121111779-5516b100-c7c4-11eb-843b-cc199b12bd4d.png">

[2021-06-08 06:26] riftek commented on #7967
Thank you.
we eventually sorted it out by creating a new bot and resources..
and we have to authenticate and deploy with a private microsoft account that needs to be linked with our work active directory.
mainly we could not get old azure bot to work with new azure.

[2021-06-08 06:26] #7967 closed

[2021-06-08 15:00] benbrown commented on #5866
@cwhitten the change on the ABS side has shipped. We are good to go on this from the Composer side. When we ship this feature, the (already in existence) TOS acceptance flag will be used.

[2021-06-08 15:12] dmvtech commented on #6482
Closing due to inactivity. If you are still having this issue, please comment with answers to above questions and we can revisit.

[2021-06-08 15:12] #6482 closed

[2021-06-08 15:12] dmvtech commented on #7860
HI @ctharmon722 Any updates?

[2021-06-08 15:16] tconnellredmane opened #8028 "Error Publishing to Government Cloud"
I get 2002 and 1001 error messages when attempting to publish a bot to Azure Government cloud. Sometimes I get a 2002 error and sometimes I get a 1001 error:

![image](https://user-images.githubusercontent.com/34249670/121210579-6651d300-c841-11eb-8086-cdcc42c66c67.png)
![image](https://user-images.githubusercontent.com/34249670/121210693-7bc6fd00-c841-11eb-96d0-f719e4100091.png)

This happens whe

[2021-06-08 15:16] ctharmon722 commented on #7860
It still isn't working. I have logged out, logged back in, and it shows the correct account when I use az account show

It is very frustrating because absolutely everywhere else I don't have this problem, and I don't have it in 1.3.

I was hoping the next version would clear this up, but then 2.0 came out. We can't use 2.0 because we use custom actions. As of last weekend I rolled our Composer bac

[2021-06-08 15:56] #7562 closed

[2021-06-08 16:30] cwhitten opened #8029 "HaTs telemetry items"
- [x] Mechanism for displaying a banner/notification in Composer to show to the users a prompt to complete a survey

- [x] Ability to dynamically generate the survey link parameters populated with values from composer usage (for example Version) & (survey link itself would be stable and hardcoded)

- [x] Ability to store some of the characteristics required for the trigger mechanism in local compo

[2021-06-08 16:34] srinaath commented on #8022
@Jin825 Could you confirm if npm is in your PATH evironment variable?

[2021-06-08 16:37] srinaath commented on #8021
@GeoffCoxMSFT Have you seen this error before?

[2021-06-08 16:39] dmvtech commented on #8022
The following PowerShell should give you a quick answer:

[code]

For me, this gives something like:
`C:\Program Files\nodejs\`

[2021-06-08 16:41] srinaath commented on #8020
@bosens Could you send the zipped assets of the bot for us to repro. In addition, are you able to see the same error on an Azure C# bot?

[2021-06-08 16:48] anusharavindrar commented on #6712
@ctharmon722, just following up on this. Did you get a chance to share more info over email?

[2021-06-08 17:41] tonyanziano commented on #7967
Great, glad to hear you got it resolved.

[2021-06-08 17:55] dmvtech commented on #7860
Hi @ctharmon722 Thanks for testing and your patience. We have no idea what might be happening here.

As a test; would it be possible for you to copy of your bot and test it out in 2.0? I'm mostly curious to see if this issue still persists for you in 2.0 as well. If you need to remove/isolate your custom action out of that, that is fine. I understand this might take additional steps as well, as yo

[2021-06-08 18:24] cwhitten commented on #7099
Hi @rvinothrajendran we will seek to address this in an upcoming release

[2021-06-08 19:54] srinaath commented on #7980
@tonyanziano Moving this out of R14 as its not going to be deliverable considering other Testing Debugging commitments. Do you agree?

[2021-06-08 19:57] srinaath commented on #7940
Closing as feature tracked here https://github.com/microsoft/BotFramework-Composer/issues/7981

[2021-06-08 19:57] #7940 closed

[2021-06-08 20:13] tonyanziano commented on #7980
Yes I think if we have time at the end we can revisit.

[2021-06-08 20:16] ctharmon722 commented on #7860
@dmvtech I was able to create resources in 2.0 no problem. It did have the old subscription in there (I don't own it, so I can't seem to get rid of it), but unlike in 1.4 and 1.4.1 I could choose which I wanted to use. Just to clarify, 1.3 published to the correct one without doing anything. I am not sure because the correct one is what I am always signed in on or if it is because it is my default

[2021-06-08 20:18] ctharmon722 commented on #6712
Hi @anusharavindrar, I am working with my engineer to get that information over to you. If I am being honest, it might take a few days for him to have enough of a break in his work to send it your way. We have had to deploy him onto other things since this has been going on for more than 2 months now.

[2021-06-08 20:22] a-b-r-o-w-n opened #8031 "Fix test warning about worker process"

[2021-06-08 20:38] stevkan commented on #8020
@bosens, in addition to sending your zipped assets, can you also try the following? Using this setup, I was able to successfully send a thumbnail card using the Node Empty bot template.

**In Greeting trigger => Send a response**
[code]

**In Bot Responses => Common**
- Add a new template
- Change the template name to "#ThumbnailCard"
- Click the menu options for the line (the three vertical dots)

[2021-06-08 21:04] benbrown commented on #5682
Further details from call on June 8 with @RustyDes  @GeoffCoxMSFT  @Dewain27 @emivers8:

When creating an ABS bot (during provision), we would want to ask a user if they want to use CMK or not.

If YES, user has to specify a keyvault, key name and version.  This can be done by pasting in a keyvault URL.  In Azure, you can also select or create a keyvault (or paste a URL), select or create a key fr

[2021-06-08 21:20] cwhitten opened #8032 "Bump WebChat to 4.13.x"
Attempting to address https://github.com/microsoft/BotFramework-Composer/issues/7995

[2021-06-08 21:31] tonyanziano commented on #7995
@AlexanderPBrown we are tracking this work in #8032 and will try to get it into the nightly builds some time this week for you to test.

[2021-06-08 21:32] mmiele opened #8033 "Output format field error when accepting input numbers from the user"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open Composer.
2. In a dialog prompt the user for a number.
3. In the **Output format** field in the drop down menu select **Write an expression**.
![image](https://user-imag

[2021-06-08 21:52] dmvtech commented on #7909
Hi @Clooney24

It is _partially_ more trivial than I thought.

For choices, you can of course use something like:
### German
[code]

### English
[code]

But for the `or` separator, I have found that if using an expression, even an empty one, that it does the translation _automatically_. I have no idea **why** or **how**, this is being done, but it is the case.

The bad part there, is that Composer

[2021-06-08 21:58] mewa1024 commented on #8033
to clarify,

`"outputFormat": "int(this.value)"`

is fine, but

`"outputFormat": "=int(this.value)"`

causes the error. Is this the correct behavior? If so, then we will correct the UI to remove the instruction to "= Write an expression". And a validation error message below the field would be good too.

[2021-06-09 00:09] dmvtech commented on #7895
@BeheraMadan I messaged you in Teams.

[2021-06-09 03:55] bosens commented on #8020
@srinaath, No issues when using C#. Attached is the zipped file of the details requested

.

[2021-06-09 04:13] bosens commented on #8020
@stevkan reviewing your information I was able to overcome the issue by modifying the generated code in the **Send a response** by selecting the **Show Code** and removing the function call to 'json()' surrounding the template name.

Generated:
  [Activity
       Attachments=${json(SendActivity_Greeting_attachment)}
  ]

Modified:
  [ Activity
       Attachments=${SendActivity_Greeting_attachment}

[2021-06-09 09:18] AndreaPisc commented on #7971
@anusharavindrar sorry but i am not sure, what do you mean with channel?
I am trying to use Adaptive Card with Action.Submit button.

Currently, in the emulator, i have the following:
![image](https://user-images.githubusercontent.com/84070962/121325184-aed8c180-c911-11eb-82ac-cd8ead40beae.png)

But the goal is to know if it is possible to change the HeroCard choices in AdaptiveCards with an Actio

[2021-06-09 14:48] Andrea-Orimoto opened #8036 "Broken documentation link in connection page"
the highlighted link goes to https://github.com/microsoft/botframework-components/blob/main/docs/extending-with-packages.md#connecting-to-custom-feeds which is broken

![image](https://user-images.githubusercontent.com/17152540/121377068-eab25d80-c8f6-11eb-8bff-5a2ea325c6d8.png)

[2021-06-09 14:52] benbrown commented on #7702
@smoothcoder04 where are you making the changes to the authentication mechanisms? Are you working in a fork of Composer, or within the plugin system?

[2021-06-09 16:18] a-b-r-o-w-n opened #8037 "chore: update jest and test utils"
Regular maintenance of testing utilities. Includes work to fix up any tests and address new warnings / errors.

[2021-06-09 16:52] srinaath commented on #8002
@SharmaHarsh7 What happens if you try to start the bot using the dotnet command line commands? Does it throw the same error.

In addition, `YV50ic` can you confirm if this substring is a part of your LUIS key or Qna key or a portion of the LG template names?
![Screen Shot 2021-06-09 at 9 52 25 AM](https://user-images.githubusercontent.com/13004779/121396640-6cf74d80-c908-11eb-8e9b-16db16d9889c.png

[2021-06-09 16:55] abhaycashikar opened #8038 ""Connect to QnA Knowledgebase" action returns 500 error on all calls"
## Describe the bug

My team has an existing QnA Maker knowledge base that we'd like to use with our v4 bot. I added the "Connect to QnA Knowledgebase" action from the "Access external resources" menu to an intent, but when the bot attempts to query the knowledge base it returns a 500 (Internal Server Error) error code.

## Version

Release: 2.0.0
I could not find a build SHA on the About page. Se

[2021-06-09 22:04] stevkan commented on #7998
@coder4321, the `sendTypingIndicator` property is attached to the Web Chat render component, like so (assuming you are using [Web Chat](https://github.com/Microsoft/BotFramework-WebChat) and not just the built-in Web Chat feature of Composer):

[code]

The result is, when a user types in the send box, Web Chat will send a `typing` activity to the bot. This can be caught in Composer by adding an Ac

[2021-06-09 22:04] #7998 closed

[2021-06-09 23:20] dmvtech commented on #7969
Hi @aparnaji Just checking in. Do the above suggestions work for you?

[2021-06-10 00:05] boydc2014 commented on #8033
https://github.com/microsoft/BotFramework-Composer/pull/7722 should fix that

[2021-06-10 01:35] #5586 closed

[2021-06-10 03:50] #7965 closed

[2021-06-10 04:03] mewa1024 commented on #7931
Figma mockups: https://www.figma.com/file/DQ8xiC9VMfPX0nb0MBmOIs/?node-id=695%3A2923

![image](https://user-images.githubusercontent.com/39317542/121462920-2cc6b800-c966-11eb-8a36-9f27f436ad3d.png)

[2021-06-10 04:41] rahul-8437008949 opened #8047 "Authenticating user without creating app manifest in teams app"
Just because of authentication I need to create an app manifest and share the app manifest with users who want to test it .Is there a way to Authenticate user without creating app manifest so that I can directly share bot link with users.

[2021-06-10 04:41] rahul-8437008949 commented on #8047
@v-kydela can you help me out please.

[2021-06-10 08:45] Kai-Wen commented on #7966
Any updates? Thanks

[2021-06-10 10:54] #7718 closed

[2021-06-10 10:55] #8033 closed

[2021-06-10 13:17] g138 commented on #1646
@LiorArmiev can you guide me on how did you solve the issue?

[2021-06-10 15:21] Dewain27 opened #8048 "Auth selection when doing provision action"
## Is your feature request related to a problem? Please describe.

As a user, I want to be able to select from one of the authenticated users ids that I have to determine which identity should be used to complete an authentication, as I can do in Visual Studio today.

## Describe the solution you'd like

Central Authentication should support multiple identities to be authenticated and then I shoul

[2021-06-10 16:19] snapfisher opened #8049 "Adding a new QnA Knowledge Base causes "QnA Build Error: undefined" failure"
## Describe the bug

When creating a new QnA Knowledge Base from the Knowledge (QnA) Page, starting the bot causes an error: QNA Build: Undefined and the Knowledge base is not published.  This is a small sample knowledge base with just a few entries.  I can not get this to work at all.

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

##

[2021-06-10 16:44] tonyanziano commented on #8049
@snapfisher in the settings / configuration tab, there is a input field where you need to enter your subscription key:

![image](https://user-images.githubusercontent.com/3452012/121564539-69c79480-c9d0-11eb-9437-869a54ae5eac.png)

Have you done this?

[2021-06-10 16:48] snapfisher commented on #8049
Yes.  The only thing strange, is that after this, I decided that I would just create the KB in QnA Maker and import it – just so I can move forward.  The QnA resource gave me an error that there were “no endpoint keys found”, which is odd because the resource has been in existence for months and months.

I’m going to start over, with a new resource.  Add QnA capability to a new bot, vs. the existi

[2021-06-10 17:06] srinaath commented on #8033
@mewa1024 Actually this is not something to do with using the equals symbol.
`"int(this.value)"` evaluated to a string whereas `"=int(this.value)"` evaluated to a number which our compiler complained.

The core reason for this is, the schema for outputFormat property in our current codebase uses ref to expression which expects a return type of string

![Screen Shot 2021-06-10 at 10 00 11 AM](https

[2021-06-10 17:11] cwhitten commented on #8028
Hi @tconnellredmane. You are correct, and we are looking to prioritize this in a release in the near future. Please continue to use VS/CLI for the time being, and thank you for your patience.

[2021-06-10 17:20] Dan-Bai commented on #6070
Seeing this same issue in V2.0.0
Is this the intended convention from now on?

Can someone tell me what does this naming convention impact? (Filename, variable name, etc.)

[2021-06-10 17:21] abhaycashikar commented on #8038
I should mention that I've found a workaround for the time being, which is using the "Send an HTTP request" action and filling in the body, header, etc. with the appropriate data (found in the online settings for the QnA Maker KB). I can then extract the answer provided by QnA Maker from the `turn.results` variable using the expression `turn.lastresult.content.answers[0].answer`. Obviously this is

[2021-06-10 17:27] snapfisher commented on #8049
Starting from scratch, with a new bot (core + QnA) and a new QnA service in Azure, it seems to work fine.  So, either:

1. It was a problem with the QnA resource (???, but there was an issue)
2. It had to do with the conversion from V1 composer bot to V2 composer bot
3. The bot was never integrated correctly with the QNA template when it was created, which was months and months ago.

I no longer h

[2021-06-10 17:31] clearab opened #8050 "Validate conditional access support"
To support our global Azure commitments, we need to ensure that Composer supports conditional access

- [ ] Need to ensure correct MSAL library for logins
- [ ] Need to test conditional access login
- [ ] Need to ensure no local logins are allowed

[2021-06-10 17:43] #5866 closed

[2021-06-10 17:48] cwhitten commented on #7916
Closing due to inactivity

[2021-06-10 17:50] cwhitten commented on #7947
Hey @vivekkshankar I've added you to this to tease apart Jonathan's feedback and tentatively have changes here loaded up for R15.

[2021-06-10 18:10] victorlamana commented on #7964
Installing vc_redist worked! Now I can open the program :)

Thanks @taicchoumsft !!!!!

[2021-06-10 18:11] #7964 closed

[2021-06-10 18:20] mewa1024 commented on #7986
Design: show 3 most recently used properties below the search box with a divider separating the MRU list from the rest of the properties. When the user starts typing, the MRU section goes away.

![image](https://user-images.githubusercontent.com/39317542/121576928-ca110300-c9dd-11eb-81fa-9dad0cf8c129.png)

Figma: https://www.figma.com/file/HwYEQoCmWbNrIDdCOmGvzN/bot-testing-BRAINS-storm?node-id=17

[2021-06-10 18:27] #8047 closed

[2021-06-10 18:55] tonyanziano commented on #8049
@snapfisher Thanks a lot for the detailed info! Glad to hear you got around it. We will investigate and see if we can figure out what happened, or at the very least reevaluate the documentation.

[2021-06-10 19:18] victorlamana opened #8051 ""You need a new app to open this bfcomposer" with installed and working BOT Framework Composer"
## Describe the bug

"You need a new app to open this bfcomposer" however Composer is installed and is opening properly
## Version

2.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ X] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to any virtual agents bot and try to open it on composer
4. See e

[2021-06-10 20:07] praveenvavilla opened #8052 "Composer needs to support AAD Cert auth with Luis model"
Hi,

Since Luis added support for AAD App auth with Luis model, can you please add support in composer to query Luis using AAD App Auth instead of using Luis key . this will avoid incidents due to key expiry

Thanks

[2021-06-10 21:15] #7734 closed

[2021-06-10 21:50] JonathanFingold opened #8053 "Create a bot project page has inconsistent UI"
## Describe the bug

The instructions on the page reference a description field that is...missing, apparently.

## Version

Version:  2.0.0-nightly.250890.7a45a55
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

[2021-06-10 23:14] mewa1024 opened #8055 "Monaco editor for LU should show an error if user tries to name an entity with a reserved name"
## Describe the bug

In the Monaco editor for LU, I can define an entity with the same name as a LUIS prebuilt. LUIS doesn't allow you to have custom entities of the same name as prebuilt entities, so it would be good to show a validation message.

## Version

Version:  2.0.0-nightly.246170.8fa93
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Elec

[2021-06-10 23:18] hshahbaz commented on #6763
can you share the final version of your publishing profile? Where did you add "LuisResource" and what was the value for it?

[2021-06-10 23:23] hshahbaz commented on #6760
and what is the resolution? its not like that was the only customer facing this issue? @luhan2017

[2021-06-11 02:32] luhan2017 commented on #6760
@hshahbaz could you refer this comment to see if the issue can be resolved. https://github.com/microsoft/BotFramework-Composer/issues/5354#issuecomment-747150353

[2021-06-11 08:57] SharmaHarsh7 commented on #8002
No, that string is not part of anything in the entire solution.

I too, initially thought the same and searched but that is not there, there are other strings with same length.

For command line, I will test and share the output with you.

[2021-06-11 12:57] SomervilleA opened #8057 "Publishing profile not finding directories"
When trying to create a publishing profile it is not finding my directories although my Azure portal has multiple directories

Showing no directories found when creating the publishing profile

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Electron distribution
- [x ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] mac

[2021-06-11 13:48] PriyankaJci opened #8058 "Unable to Load packages in the Bot"
## Describe the bug
Getting below error while publishing the Bot and loading Packages in PackageManager section
![Bot PackageManager issue](https://user-images.githubusercontent.com/85601550/121696556-d08ca100-cae9-11eb-9286-e174b23d4f1e.PNG)

Could not load component list:Error https://schemas.botframework.com/schemas/component/v1.0/component.schema: unable to get local issuer certificate Error I

[2021-06-11 13:50] Quirinevwm opened #8059 "Speech playback in Composer"
## Is your feature request related to a problem? Please describe.
In a customer session, they are using a work around in the canvas to playback their bot response w speech.
They have to restart the bot and test the e2e by calling the number, to hear the "back to back" variations (seperate bot responses (see image) in the canvas) via the phone.
Goal = they want to test phonetics of certain bits (wo

[2021-06-11 13:53] garypretty commented on #8059
Thanks @Quirinevwm. This is on our backlog and I have ensured it is on our candidate list for current planning cycle so that it can be considered for inclusion depending on priority.

[2021-06-11 14:19] Shivanitanwar opened #8060 "End Turn"
## End Turn - Switch Statement

I have a scenario in my bot where I am calling a multi choice prompt and based on user Response I am using a Switch statement.
Inside the switch statement I am ending the turn.
So, I am expecting that it will move ahead in the dialog after ending the turn but the bot clearly stops after the turn is ended, doesn't execute anything beyond the end Turn in the dialog (i

[2021-06-11 15:39] GeoffCoxMSFT commented on #6162
I think we should close this.  Em and Jas have plans for the revamped UI and Dewain is aware of the need to reconcile local app settings and publishing profiles.

[2021-06-11 15:39] #6162 closed

[2021-06-11 15:46] GeoffCoxMSFT opened #8061 "Investigate cost and behavior of app/function start up when running npm install post-deployment"
Reports from Orchestrator team is that the start up is very slow for web apps and functions.  They suspect this is due to the npm install occurring on the Azure box.

This is part of figuring out the work to support deployments of bots that use Orchestrator where the target OS does not match the Composer OS.

[2021-06-11 15:48] GeoffCoxMSFT opened #8062 "Investigate deployment folder isolation needs when the architecture/OS differ between local and deployment"
If we need to deploy runtime or dependency bits for a different OS than the Composer OS, do we have to separate into another folder or can we somehow continue using the current bot project assets folder.

This is part of figuring out the work to support deployments of bots that use Orchestrator where the target OS does not match the Composer OS.

[2021-06-11 15:51] GeoffCoxMSFT opened #8063 "Add operating system choice when provisioning"
The user needs to be able to select different operating system(s) for the web app or azure function rather than being forced to Windows.

- [x] Update the provisioning UI to capture OS selection
- [x] When provisioning leverage OS selection to provision the web app/function on the right OS.
- [x] Dynamically recommend an OS based on the bot project

[2021-06-11 15:54] GeoffCoxMSFT opened #8064 "Investigate orchestrator bit pull down during build for deployment"
- [ ] Learn the node gyp install process for Orchestrator.
- [ ] Look to the CI/CD future to determine where in the stack this should go.

[2021-06-11 15:54] GeoffCoxMSFT commented on #8064
Here’s some background material:
https://fuselabs.visualstudio.com/Orchestrator/_git/samples?path=%2FDocs%2FOrchestrator-node-pre-gyp.md&_a=preview

[2021-06-11 15:57] GeoffCoxMSFT opened #8065 "Investigate attaching to blob storage when deploying ONNX models"
There is a way to attach blob storage when deploying ONNX models that provisioning/publishing needs to consider.

From Dave Taniguchi: Here’s an example we can start with – in particular, the GetFileAndPathFromStorage function copies the model from a blob container and saves on start-up.

https://dev.to/azure/onnx-no-it-s-not-a-pokemon-deploy-your-onnx-model-with-c-and-azure-functions-28f

[2021-06-11 16:06] GeoffCoxMSFT opened #8066 "Update provisioning and deployment algorithms with additional telemetry"
Once the service layer is in place, we will have the atomic blocks to call from the provisioning and deployment algorithms.
We should add telemetry around each action the algorithms take including duration.

[2021-06-11 20:05] benbrown commented on #8061
For the record, right now, the npm install does NOT occur on the Azure box.  We do it locally, then bundle the node_modules folder as part of the deployed artifact.

[2021-06-11 22:17] #7930 closed

[2021-06-11 22:17] #7931 closed

[2021-06-11 22:17] #8020 closed

[2021-06-11 22:17] #7982 closed

[2021-06-11 22:54] mewa1024 commented on #7397
@cwhitten Agree. I'd like to track this as a feature request instead. Added checkboxes to the original description to mark off the things that were addressed in other tickets, and changed the name to "Home page different if you have no bot open", since the "Save As" issue is described in bug #6808.

[2021-06-11 23:05] mewa1024 commented on #6808
@srinaath Can we take this for R15? The ability to Save As or Delete on the bot project level? Dewain filed similar bug - #7616

[2021-06-11 23:49] v-kydela commented on #7971
@AndreaPisc - A bot channel is the chat platform that's sending messages to the bot. Are you using Web Chat or Teams?

It sounds like you're saying you want a choice input in Composer to display an Adaptive Card instead of a hero card. Is that correct? Why do you want to use an Adaptive Card instead of a hero card?

[2021-06-11 23:57] mewa1024 commented on #7805
Can we follow the Azure portal notifications model?  You can see it in action here: [https://df.onecloud.azure-
test.net/#blade/SamplesExtension/SDKMenuBlade/hubsnotifications](url)

https://user-images.githubusercontent.com/39317542/121758377-f9a33680-cad5-11eb-8fb2-f3323cdb4ac6.mov

If the notifications pane is closed, show the new notification as a toast. If the pane is open, do not show any ne

[2021-06-12 17:07] Jin825 commented on #8022
Hi All, yes I got the same result as @cwhitten.

Personally have reinstalled node and input in npm into env variables before posting error

[2021-06-12 18:18] Jin825 commented on #3746
Same error here, wish I could roll back to prev version.

Reinstalling npm did not work, env variables alr included npm as path.

[2021-06-14 10:47] ysnoek2 opened #8071 "Can't validate input when length is > 500"
## Describe the bug

I realized that a user can't make an input of more than 500 characters without getting an error. I want to validate the input before so the user doesn't get an error but a friendly message but it doesnt seem to work.

this is the error:
![image](https://user-images.githubusercontent.com/76207835/121879969-bd5a1b00-cd0d-11eb-8175-9971d5ce10ce.png)

this is the validation rule:

[2021-06-14 14:10] Dan-Bai opened #8072 "Missing state saving with BlobStorage in Node v2.0.0"
I have BlobStorage configured in appsettings. I can see conversationstate blob files in storage but nothing for userstate. The conversationstate files only contain lastAccess property and an empty DialogStateProperty.dialogStack. The conversations are ran from emulator and webchat.

[2021-06-14 14:49] mukeshOps opened #8073 "Getting error prompt when displaying adaptive card with media using link to SharePoint in Bot Framework Composer"
## Describe the bug

Getting error prompt when using adaptive card with media using link to SharePoint for video and same link in button in Bot Framework Composer. The output is displayed fine in PVA. But for some reason when I test the bot in emulator it keeps giving me error "Something went wrong..." not sure if there is something failing or just something I need to avoid by pressing ok.
## V2.0

[2021-06-14 15:08] benbrown commented on #7626
Various parts of the auth process are in play in the following files:

- [ ] ManageService.tsx
- [ ] ABSChannels.tsx
- [ ] PublishProfileDialog.tsx
- [ ] Publish.tsx
- [ ] azureProvisionDialog.tsx
- [ ] TenantPicker.tsx

[2021-06-14 15:37] Clooney24 opened #8074 "Add comment fields to each action and dialog"
I want to comment my actions and dialogs in dialog designer as I comment code in c#.

I would like to have an text input at each action and dialog to store those comments without any impact on bot behaviour, just text, so I can store explainations to help other team members understand what this action is for or what problem it solves because it's not always clear why a special condition is asked o

[2021-06-14 16:26] GeoffCoxMSFT commented on #7966
I'm still looking into it.  The templates were written awhile back, so I'm having to decipher them first.  I'll get back to you as soon as I find the root cause.

[2021-06-14 17:08] bluechiperic opened #8075 "search service sku"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-06-14 17:08] bluechiperic opened #8076 "Default SKU for QNA Maker Search Service is S0 and burns through MSDN credits"
Problem: Default SKU for QNA Maker Search Service is S0 and burns through MSDN credits

Solution: Default search service SKU to Free

The Bot Framework composer creates the QNA Maker Search service with a standard SKU by default (which runs at $250/month).  It would be great if it gave the option to specify which SKU you wanted, or defaulted to the Free SKU since you can't downgrade the service wi

[2021-06-14 17:08] bluechiperic commented on #8076
The Bot Framework composer creates the QNA Maker Search service with a standard SKU by default (which runs at $250/month).  It would be great if it gave the option to specify which SKU you wanted, or defaulted to the Free SKU since you can't downgrade the service without deleting it and re-creating it.  Most deployments from the composer app will be for development environments, and it burns throu

[2021-06-14 17:47] stevkan commented on #7832
Hi @filcole, please accept my apologies. I know I had typed up a response but it looks like I never hit the 'comment' button. Yes, it is absolutely possible to to do the above using Web Chat's CDN. I have it set up in my test instance of Web Chat and I have yet to have an issue with it that I can recall.

As you can see in the image, the unselected buttons are grayed out after an action occurs.

!

[2021-06-14 18:03] cwhitten commented on #8051
Hi @victorlamana. What version of Windows are you using? If you go to a browser window and type `bfcomposer://`, what happens?

[2021-06-14 18:15] dmvtech commented on #8071
Hi @ysnoek2 Can you make sure that you are selecting write an expression? When doing so, it should prompt to put an equal sign `=` at the beginning. You should then have:

`=length(string(this.value)) <= 500`

For clarity; I am running v2.0.0 version of Composer. Here's what the dialog snippet looks like:
[code]

[2021-06-14 18:15] victorlamana commented on #8051
Hello!! I'm using Windows 10 1809

When I type bfcomposer:// on the browser it shows the "You'll need a new app to open this bfcomposer"

[2021-06-14 18:33] mrivera-ms commented on #7702
@smoothcoder04, are you still getting this issue? Please let us know if we should close this item. Thank you.

[2021-06-14 19:01] srinaath commented on #7958
@lei9444 PR would perform the following. Ctrl + c or Cmd +c would copy the assets below to the clipboard. On Ctrl + v, we would do the following
1. If some actions are selected, paste it to the end of the last selected action
2. if there is no selected action, paste it to the end of the current dialog

[2021-06-14 19:02] joshgummersall commented on #7834
@zachgoz, we are still working on a resolution for this. Did the temporary fix above solve the problem for now?

[2021-06-14 19:56] srinaath commented on #7948
Recalibrating the deliverables based on timelines based on conversation with @garypretty .
**P0** - Composer would need the turn state  in each Bot state trace in R14. Exposing the turn state alone would be a huge game changer as developers can watch for recognizer info etc.

**P1** - Exposing the dialog information can be pretty complex considering the scenario nested dialogs. This scenario will

[2021-06-14 20:41] mewa1024 commented on #6512
@srinaath okay to move this to R15 milestone?

[2021-06-14 20:43] stevkan commented on #8060
@Shivanitanwar, could you zip your bot (removing any keys, etc.) and post it here? When I attempt a repro following your steps, the flow runs as you have described in the expected behavior. The turn ends, user input advances the flow thru the rest of the switch statement (effectively exiting it), user input advances the flow beyond thru the rest of Dialog B, then it returns back to Dialog A (the p

[2021-06-14 20:43] srinaath commented on #6808
@mewa1024 Definitely makes sense to push to R15. This feature is being tracked in the Creation workstream currently. @benbrown can we remove the R14 label out of this?

[2021-06-14 21:53] v-kydela commented on #7971
@AndreaPisc - Are you still working on this?

[2021-06-14 23:08] zachgoz commented on #7834
Yes, thank you for the suggestion and update. This workaround got it working for me.

[2021-06-14 23:32] joshgummersall commented on #7834
We are fixing this at the SDK level as well, so when that updates it'll be fully resolved. Thanks for reporting the issue!

[2021-06-15 01:08] GeoffCoxMSFT commented on #8021
The provisioning tried several times before failing.  I've tried reproducing, but I haven't seen it happen.  Without a network trace it is hard to know what the real error was (BTW - we are working on surfacing the real error in the next release).  It could be any of the operation timed out, there was a permissions problem, a resource with that name already existed, or some other networking error.

[2021-06-15 02:42] taicchoumsft commented on #7806
Tracked in #8064 and #8065, closing this one.

[2021-06-15 02:42] #7806 closed

[2021-06-15 06:10] #7990 closed

[2021-06-15 06:11] AndreaPisc commented on #7971
@v-kydela Currently i am trying to design the chat in  Composer and work on it in Emulator. There is no platform yet.
Adaptive cards in multiple choice prompt was just a request from the customer. I was just asking if it was a possibility and how.
Hero cards are ultimately fine too.

You can consider this issue closed unless there is no other feasible option

[2021-06-15 07:59] #7958 closed

[2021-06-15 08:01] #7816 closed

[2021-06-15 11:01] jessthorne opened #8080 "Unable to call a multiple choice option using 2 conditions"
I have created a multiple choice input in my dialog saying
 "When was the bill issued?" The multiple choice options are either 1. Less than 6 months, 2. Between 6 and 12 months 3. Over 12 months
I want to provide the customer with the choice of either selecting the multiple choice value (e.g. "Between 6 and 12 months") or entering a number and then providing the correct response based off that num

[2021-06-15 11:19] jamalsia opened #8081 "JPath is failing with '?'"
## Describe the bug
i was following the JPATH documentation:
`jPath(jsonStr, path)`

using JPATH is failing while the path is condition:
`=jPath(dialog.product_users, "$.content[?(@.standardAccountUPN ==='my.user@email.com')].standardAccountUPN")`

value:"DialogContextError: $.content[?(@.standardAccountUPN ==='my.user@email.com)].standardAccountUPN is not a valid path + Error: Unexpected token "?

[2021-06-15 13:15] aparnaji commented on #7969
Yes it worked, Thanks

[2021-06-15 13:37] jessthorne opened #8084 "unable to return property as a multiple choice option"
Whilst using the Prompt with multi-choice feature, i am unable to call properties previously set as options. The value is not being returned.

Steps to reproduce the behaviour:
1. create a multiple choice response. text: I have found several products on your account. Which one are you interested in setting up a repayment plan for?
2. create user input choice using the simple choice feature. choice

[2021-06-15 14:33] GeoffCoxMSFT commented on #7966
@Kai-Wen You can grab the provisioning script and template updates from this PR to try out locally or you can wait for a nightly composer build after this PR is in and pull it from there.

[2021-06-15 14:35] smoothcoder04 commented on #7702
@benbrown  made the changes in the fork

@mrivera-ms  no, we resolved it using service principal. Was curious to understand how you plan to implement.
Feel free to close this issue.

Thanks

[2021-06-15 15:30] #8075 closed

[2021-06-15 16:36] cwhitten commented on #8058
@PriyankaJci we're unaware of any network issues and are unable to reproduce this. Can you try again and let us know what you experience?

[2021-06-15 16:37] cwhitten commented on #8057
Hi @SomervilleA, could there have been an issue when were signing-in in the application? This can happen when there was an error when attempting to sign-in.

Could you close and re-open Composer, and attempt to create the publishing profile again?

[2021-06-15 16:41] Kai-Wen commented on #7966
@GeoffCoxMSFT
### provisionComposer.js

1. I think the "**-${environment}**" for "hostname" should not appear in the profile
=> (Import existing resource in composer will fail)
2. Not sure about the "**-${environment}-**" in "luisResource"

![image](https://user-images.githubusercontent.com/28392630/122090383-4bcbbb00-ce3a-11eb-8ca9-cdd0d759d47b.png)

[2021-06-15 16:44] cwhitten commented on #8074
Hi @Clooney24 - the team is working on implementing a feature that enables this. We anticipate the first version of this shipping in our next release (July 2021).

This is tracked here: https://github.com/microsoft/BotFramework-Composer/issues/7977

[2021-06-15 17:16] #7726 closed

[2021-06-15 17:16] #7735 closed

[2021-06-15 17:19] dmvtech commented on #8073
Hi @mukeshOps I'm assuming this is due to the issue specified here: https://github.com/microsoft/BotFramework-Composer/issues/6128

I'm also assuming that the video file url does not need/use any sort of authentication, correct?

I'll do some further testing and see if I can confirm the above for that linked bug.

[2021-06-15 17:20] dmvtech commented on #7969
Great! Closing as resolved.

[2021-06-15 17:20] #7969 closed

[2021-06-15 17:33] thomas-chung commented on #7974
Hi @Karric! Just wondering if you have tried the above suggestion and whether it helped.

[2021-06-15 17:40] mewa1024 commented on #7978
update: had discussions offline, and latest designs are here: https://www.figma.com/file/HwYEQoCmWbNrIDdCOmGvzN/?node-id=1478%3A19149

[2021-06-15 17:49] #7702 closed

[2021-06-15 18:01] dmvtech commented on #8038
Hi @abhaycashikar. This is interesting. I'm able to get it working without issue. Is your chitchat KB live/remote as well? In other words, are you only accessing existing/live/remote KBs and have nothing created from Composer?

[2021-06-15 18:13] #6538 closed

[2021-06-15 18:13] mrivera-ms commented on #8021
@joshchiang0309, if you can submit a network trace for further investigation, please reopen the issue.

[2021-06-15 18:13] #8021 closed

[2021-06-15 18:14] Dewain27 commented on #8076
The publishing profile defaults to S0 as there are limitations that can happen with doing F0 by default.  When provisioning for local development the default is F0.  So, this is by design.  You can change the setting in the Azure portal post provisioning and change the pricing tier to F0 if desired.  Just be aware that you will have a maximum of 3 KBs for the service.

[2021-06-15 18:15] #8076 closed

[2021-06-15 18:19] Dewain27 commented on #8076
Also, most of the cost is tied to the Search service, however you can use another search service instance for your QnA Maker instance. Here is an article to show you how to do this:
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/configure-qna-maker-resources?tabs=v1

[2021-06-15 18:19] #5479 closed

[2021-06-15 20:23] scheyal opened #8089 "Do not allow multiple identical triggers"
## scenario
Composer allows one to specify multiple identical triggers.
There's no value and it can lead to user confusion.
Add validation to prevent that.

## version
Version:  2.0.0-nightly.251679.4774893
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## visual

![multitrigger](https://user-images.githubusercontent.com/8867670/122118340-c2d26680-cddc-11eb-9db3-e

[2021-06-15 20:37] Dewain27 commented on #5814
Planned to be resolved with #7626

[2021-06-15 21:13] #7966 closed

[2021-06-15 22:29] dmvtech commented on #8080
Hi @jessthorne

Choice number recognition, as well as ordinal, should be enabled by default. Just set your choices as you want above. Then numbers and ordinals should work.

![image](https://user-images.githubusercontent.com/43397658/122131588-3df04880-cdee-11eb-8889-4bafc4cf552e.png)

Let me know if that answers your question or if I misunderstood the ask.

[2021-06-15 22:48] dmvtech commented on #8084
Hi @jessthorne This is a limitation with choice prompts. Specifically with **Simple** or **Structured** choices.

What you need to do is use an _expression_. Simply, you can just call that array such as:
`=${conversation.productCurrent}`

Example:
![image](https://user-images.githubusercontent.com/43397658/122132966-b1935500-cdf0-11eb-96c4-97dd3b67da9b.png)

You can of course be more dynamic/thoro

[2021-06-15 23:02] anusharavindrar commented on #8072
@Dan-Bai, can you elaborate more on how you have implemented Blob storage? If you could provide the repro steps, that would be helpful.

[2021-06-16 00:21] dmvtech commented on #8073
Can confirm I can can reproduce. Will share when I have more information.

[2021-06-16 00:48] mukeshOps commented on #8073
Thx. I think I have one more issue to report but more of problem inside PVA. I will raise separately. Thank You for looking into it.

[2021-06-16 02:56] cosmicshuai commented on #8081
Due to the gap between JavaScript and C#, the query path in jpath are different, in JS, you should write
[code]
This will achieve the same result.

[2021-06-16 03:12] Kai-Wen opened #8091 "hostname in provisioning hand-off should use "resourceName" not "resourceName-environment""
## Describe the bug
There is still a bug in #8085 as I mentioned [here in 7966](https://github.com/microsoft/BotFramework-Composer/issues/7966#issuecomment-861657601)

"hostname" from the JSON output (publishing profile) is constructed with `${name}-${environment}`

This will fail the process of [Import existing Azure resources](https://docs.microsoft.com/en-us/composer/how-to-publish-bot?tabs=v2x

[2021-06-16 03:30] chrimc62 opened #8092 "Overly aggressive error checking"
## Describe the bug
When checking the Condition property in triggers the error checking recently changed to require = before the expression, i.e. "$retries" would trigger the error, but "=$retries" would not.  Given the schema definition as an expression this should not be required--the presence of a variable should be considered to be "true".  Even if we want to be more strict than that something

[2021-06-16 05:44] mareekuh opened #8093 "EPIC - Multi-user/jobs to be done process | EM"
- Play & learn
- Create & config
- Conv. flow
- Conv. logic
- Content
- ML
- Test
- Ops
- Monitor & manage

[2021-06-16 05:45] mareekuh opened #8094 "EPIC : Create, configure, manage | EM"
- Templates
- Settings
- Channels/Connections/Modality
- Management

[2021-06-16 05:46] mareekuh opened #8095 "CUX Design Guidelines | QUIRINE / XI"
- From PDF -> Online
- Replace 'what is a bot' (SDK documentation)
- ..

[2021-06-16 05:47] mareekuh opened #8096 "white paper - JOAN/MWI"

[2021-06-16 05:48] mareekuh opened #8097 "EPIC : Bot Responses | VIVEK"
- Text/number/etc. prompt node design (alignment w PVA)
- Bot responses management
- Speech integration
- Entity management (properties list)

[2021-06-16 05:50] mareekuh opened #8098 "EPIC : Design process | MEL"

[2021-06-16 05:51] mareekuh opened #8099 "EPIC : Recognizer / orchestrator pipeline design | XI"

[2021-06-16 05:52] mareekuh opened #8100 "EPIC : Productization"

[2021-06-16 05:52] mareekuh opened #8101 "EPIC : Adaptive card/power card design | MEL"

[2021-06-16 05:53] mareekuh opened #8102 "EPIC : Pre-built experiences | QUIRINE"
- assets/ingredients (packages)
- building blocks
- templates
- ..

[2021-06-16 05:54] mareekuh opened #8103 "EPIC : Collaboration | VIVEK"
- Commenting
- Share : skill
- Share : dialog
- Share : link to POC

[2021-06-16 05:54] mareekuh opened #8104 "EPIC : PVA + Composer integration | VIVEK"

[2021-06-16 05:55] mareekuh opened #8105 "EPIC : Authoring - conversation flow design | VIVEK"

[2021-06-16 05:56] mareekuh opened #8106 "EPIC : Language/Content Understanding | JAS"
- Labeling
- Orchestrator
- Orchestration/design of recognition pipeline

[2021-06-16 05:57] mareekuh opened #8107 "EPIC : Testing & debugging | MEL"
Related issues:

- [ ] #6135 Web Chat - after restart conversation, put the cursor in the input box
        -- aslo tracked in #8107

- [ ]  #5956 Provision failure (log) should be visible inside composer

[2021-06-16 05:58] mareekuh opened #8108 "ONGOING: FnF and Book of Composer | MEL"

[2021-06-16 05:58] mareekuh opened #8109 "EPIC : Data-first Conversation design | XI"
- Content management
- Import & export
- TI integration
- Analytics/monitoring

[2021-06-16 06:01] luhan2017 commented on #7827
@vivekkshankar, could you help design on the local add skill experience for duplicated skill? what should the pop up error message looks like?

[2021-06-16 08:16] jamalsia commented on #8081
thank you ! @cosmicshuai

[2021-06-16 08:16] jamalsia commented on #8081
thank you ! @cosmicshuai

[2021-06-16 08:16] #8081 closed

[2021-06-16 09:15] SomervilleA commented on #8057
Composer has been closed and re opened multiple times with no difference.

I have tried multiple times to create the publishing profile but always returns the above result/error

[2021-06-16 09:20] jessthorne commented on #8080
Hi,

Thank you for your response. I think you might have misunderstood slightly. There are 2 different scenarios I want the bot to be able to handle

**Scenario 1:**

The question is: When was the bill issued?
the User input (Choice) is:
- Less than 6 months
- Between 6-12 months
- Over 12 months ago

**Action:**
The user selects one of those options and is provided the relevant response

**Scenar

[2021-06-16 10:54] Shivanitanwar commented on #8060
@stevkan Thanks for the response.
where did you exactly end the turn (inside switch statement or outside) ?
I have attached this sample project for your reference.
[MultiChoice-Test.zip](https://github.com/microsoft/BotFramework-Composer/files/6662419/MultiChoice-Test.zip)

[2021-06-16 13:28] Dan-Bai commented on #8072
@anusharavindrar
I created a new Node bot with template "Core Bot with QnA Maker".
Added a simple QnA element "hello:goodbye".
Added a help intent trigger which begins a new dialog that sends a text response.
In app settings under runtimeSettings.storage is set to BlobsStorage.
At root level, BlobsStorage is set with appropriate connection string and container name.

After running the bot a few ti

[2021-06-16 16:23] jessthorne commented on #8084
Hi, thank you for your response. when i follow this pattern i get a warning (see attached)
<img width="1210" alt="Screenshot 2021-06-16 at 17 22 09" src="https://user-images.githubusercontent.com/49563377/122257019-816ab580-cec7-11eb-872d-4231bc409eec.png">

[2021-06-16 16:40] srinaath commented on #7783
We are trying to resolve this in R14.

[2021-06-16 16:44] srinaath commented on #8073
@garypretty Another issue related to codec support in the electron flavor we are using.

[2021-06-16 16:48] KoradaRajesh opened #8110 "QnA maker ranker type in Composer"
This is regarding the ranker type filter for QnA maker in composer. We have been looking at ways on how we can pass the ranker type filer for QnA maker via composer when adding knowledge base at the trigger and unfortunately we haven't found any

![image](https://user-images.githubusercontent.com/51915291/122163315-9c6f0280-ce92-11eb-9328-a593a9b9fba9.png)

[2021-06-16 16:48] srinaath commented on #8110
@KoradaRajesh We are tracking this feature for our next release.

[2021-06-16 17:04] dmvtech commented on #8073
Further clarification; I tested in Webchat/TestinWebchat and that works. So, it is for sure the electron flavor.

[2021-06-16 17:08] cwhitten commented on #8053
Hey @benbrown if this isn't on your radar for R14 can you move it to R15?

[2021-06-16 17:50] dmvtech commented on #8084
Looks like your property is just text (`test`). Needs to be an array.

![image](https://user-images.githubusercontent.com/43397658/122268013-69c40a80-ce90-11eb-9663-48f092118c19.png)

![image](https://user-images.githubusercontent.com/43397658/122268057-77799000-ce90-11eb-8281-26c1963fe5f2.png)

[code]

[2021-06-16 17:53] mareekuh opened #8111 "FNF: "Dialog interface" section has nonstandard use of 'More' control (...)"
Version
![Screen Shot 2021-06-16 at 10 40 27 AM](https://user-images.githubusercontent.com/48503434/122268004-67fa4700-ce90-11eb-844d-71ecef143c93.png)

Template: Core bot with language
Menu item:  Create
Area: property pane section, 'Dialog interface'

The default for input/output is empty
When adding a new input, 3 fields appear and one, poorly aligned triple dot icon with a single action: Remov

[2021-06-16 18:11] mareekuh opened #8112 "FNF : Anchor app-settings to bottom"
This bug must be in already but can this please be fixed?
Every single screenshot needs to be manually edited to look proper which is likely more time consuming than the actual fix.

Also - please push the debug panel to the left so that the left nav can be a clean panel top to bottom.
And make debug persistent across pages.

![Screen Shot 2021-06-16 at 11 02 31 AM](https://user-images.githubuserc

[2021-06-16 18:36] cwhitten commented on #7738
@Dewain27 I've assigned this to you to find a dev owner for this you're driving it in the R14 Creation & Publishing board.

[2021-06-16 19:02] Dewain27 commented on #7620
Closing because it was a placeholder and will open replacement tickets for items as they come.

[2021-06-16 19:02] #7620 closed

[2021-06-16 19:07] Dewain27 commented on #7413
The original problem was resolved in Composer 2.0.  We have plans to adjust the selection of LUIS resources in the UX that should resolve this issue further as well.

[2021-06-16 19:07] #7413 closed

[2021-06-16 21:20] cwhitten commented on #8051
Interesting, and unexpected. Where did you install the application? When prompted did you provide the Composer installer privileges to modify the system internals to set up this file protocol? Can you uninstall and reinstall?

[2021-06-16 21:23] mewa1024 opened #8115 "Undo and Redo do not work as expected on the Bot Responses or User Input page"
## Describe the bug

If I delete a bot response or user utterance, there is not undo action to get it back. Since the design section does support Undo and Redo, users are likely to think undo and redo work throughout Composer.

## Version

Version:  2.0.0-nightly.251925.4e0cf11
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution

[2021-06-16 21:33] #7900 closed

[2021-06-16 22:04] #7732 closed

[2021-06-16 22:04] #8053 closed

[2021-06-16 22:33] mohsenualam opened #8117 "Uncaught ReferenceError: require is not defined and Persistent Loading on multiple screens"
Every time I open Composer, I see this message:

Also, when I try to turn on Advanced Settings View(JSON), it just shows Loading and nothing comes up.

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-06-16 23:02] scheyal commented on #7770
Update: Waiting for PR to go through.

[2021-06-16 23:26] sgellock opened #8118 "Selecting "JS community packages" from package manager filter dropdown causes an error"
## Describe the bug
Selecting a package filter from the package manager UI displays an error

## Version
Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Launch

[2021-06-16 23:32] sgellock opened #8119 "Package Manager filters should be consistent"
## Describe the bug
We have two community filters available in package manager.  They are:
community. packages
JS community packages

We should use the ".NET" prefix for the .NET community packages filter name.  So the drop down would have:
.NET community packages
JS community packages

For extra credit, I would advocate the the "JS community packages" should actually be "JavaScript community pack

[2021-06-16 23:37] sgellock opened #8120 "Package Manager error modal clips title"
## Describe the bug
Cause an error using package manager.  An easy way to do this is to follow the repro steps in #8118.  Note the title of the error modal is clipped.  See screenshot below.
## Version
Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [x

[2021-06-17 00:14] scheyal opened #8121 "Unrecognized utterance is not captured in appinsights"
## scenario
* bot with app insights ON, logpersonal ON
* recognizer: orchestrator
* triggers include duplicated and unknown intent

## expected
* utterance is recorded in appinsights when None is fired.

## issue
- utterance is not captured in appinsights when None intent is triggered
- it is captured in successful recognition
- LUIS doesn't return None (always pin to an intent if only "Unknown in

[2021-06-17 03:41] mareekuh commented on #7118
Original design had a flat list (across all dialogs) of all LG Content, just like LU (LU/LG were designed as similar as possible. The left nav includes 'all' * which is a flat list of all bot responses, allowing uses to go through the all content, add alternative, translate etc. but also jump to the dialogs in which the response is used so they see the copy in context.
The list view includes (body

[2021-06-17 04:34] boydc2014 commented on #8052
Note: the prerequisites for this issue is for ABS to support LUIS auth with AAD.

[2021-06-17 08:02] darrenj commented on #7425
Appears to be resolved.

[2021-06-17 08:02] #7425 closed

[2021-06-17 08:13] darrenj commented on #7448
A recognizer is scoped to a root-bot or sub-dialog. With a mixed recognizer infrastructure triggered by adding a Skill (Orchestrator and LUIS) we made the decision to reinforce the recommend pattern of having triggers in the root dialog which then "begin" child dialogs. This ensures that the child dialogs continue to use the recognizer of their choice (e.g. LUIS) and are not side-affected by switc

[2021-06-17 08:32] boydc2014 commented on #7807
Haven't looked into the details, but my first guess is that, lubuild's throttle works within this lubuild's instance, ie, publishing one bot. Seems like somehow composer is calling multiple lubuild for multiple bots and the throttling doesn't work here.

A straightforward fix is to make sure composer publish bot 1 by 1, if that's not the case. @taicchoumsft  can you check if my guess is correct?

[2021-06-17 08:33] boydc2014 commented on #6677
Update @narulasrinivas, with #6549 been merged, what you can do is disable qna cross-train via adding a section like
[code]

Closing this for now，let us know if this works for you

[2021-06-17 08:33] #6677 closed

[2021-06-17 09:16] #7827 closed

[2021-06-17 10:07] boydc2014 commented on #7157
Awesome demo of the POC, it looks very promising. In terms of timeline, at this moment i don't think we have resource to include this in R14, what do you think?  How about we move this to R15?

[2021-06-17 10:08] boydc2014 commented on #7754
I believe the components updating has been done. What left here is about legal reviews.

[2021-06-17 11:08] victorlamana commented on #8051
@cwhitten

The application is installed on"C:\Program Files\Bot Framework Composer ". I have Framework Emulator here too and it is on " C:\Program Files (x86)\Bot Framework Emulator ".

" When prompted did you provide the Composer installer privileges to modify the system internals to set up this file protocol?"
Answer: I'm pretty sure I did that, I can try to reinstall but it will take a while be

[2021-06-17 13:40] KoradaRajesh commented on #8110
Thanks for the quick update @srinaath

[2021-06-17 13:59] toribnax commented on #6760
@luhan2017 I am facing the same issue. I looked at [#5352](https://github.com/microsoft/BotFramework-Composer/issues/5354#issuecomment-747150353) and added the luisResource into the resource but I am still receiving an error.

[2021-06-17 14:13] victorlamana commented on #8051
I saw there's a "Copy Link" function on the Virtual agents page when prompting to open the bot on Composer. But I'm not sure of what should I do with this link, can I open it on Framework Composer or what?

[2021-06-17 15:25] dmvtech commented on #8080
@jessthorne Unfortunately choice prompt is not flexible enough to accomplish this goal. It is designed to use choice matching against a set amount of choices. The better way is to use language understanding/LUIS. Probably easiest done with sending [Suggested Actions](https://docs.microsoft.com/en-us/azure/bot-service/language-generation/language-generation-structured-response-template?view=azure-b

[2021-06-17 15:25] #8080 closed

[2021-06-17 17:07] jessthorne opened #8124 "unable to create logic to return a certain number of cards based on the output of an API"
I am calling an API where i get a set of information back as an object (e.g. screenshot)
<img width="475" alt="Screenshot 2021-06-17 at 18 01 55" src="https://user-images.githubusercontent.com/49563377/122442115-20f67980-cf96-11eb-924a-568c1efe0499.png">
with the value:
"bill_number": "2",
i then want to create logic that means because 2 instances of bills have been returned from the API (because

[2021-06-17 17:50] hshahbaz commented on #6760
If anyone is looking for a way around this then create the LUIS and bot
resource from scratch with Composer. I faced no issues when I let Composer
create the resources instead of filling the publishing profile myself.

On Thu, Jun 17, 2021 at 6:59 AM toribnax ***@***.***> wrote:

--
Thank you,
Hamza Shahbaz

[2021-06-17 18:29] JonathanFingold opened #8125 "OAuth input action's Text property has a mangled example value"
## Describe the bug

Example value for the OAuth login action's Text property is mangled.

## Version

- v2.0.0 release (noticed in)
- 2.0.0-nightly.251925.4e0cf11 (also in the nightly)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a bot and add

[2021-06-17 18:33] toribnax commented on #6760
Thank you for the tip! Unfortunately in my case my company does not give me the permission to provision resources, so the only way I can get the resources is handing it off to an admin and then importing the resources they created.

[2021-06-17 18:39] jessthorne opened #8126 "unable to use cards and return a property value back as user choice"
I have created a card with the following code:
`[HeroCard
 title = Bill ID: ${dialog.retrieve_bills.object_bill_list[0]["bill_current_id"]}
 text = Bill Status: ${dialog.retrieve_bills.object_bill_list[0]["bill_current_bills_unpaid"]}
 buttons = ${testTemplateJess('messageBack', 'More details', json({"property": "propertyValue"}),'${dialog.retrieve_bills.object_bill_list[0]["bill_current_id"]}', '

[2021-06-17 18:48] #7851 closed

[2021-06-17 19:08] JaskeeratBedi-cmk opened #8127 "Copy update: Replace Azure Hosting with App Service"
![Screen Shot 2021-06-17 at 12 06 25 PM](https://user-images.githubusercontent.com/67944302/122458232-71ed7a00-cf64-11eb-8c11-fe131d30a59a.png)

Azure Hosting needs to be replaced with App Service as defined in the documentation here- https://docs.microsoft.com/en-us/composer/how-to-provision-azure-resources

[2021-06-17 20:32] #7902 closed

[2021-06-17 20:36] gapmdq opened #8128 "Not able to pass an activity to skill bot"
## Describe the bug
I have a dialog that connects to a skill, I'm setting the activity as **${conversation.query}** like in the screenshot, to pass that variable to the bot , also setting **Activity processed as false**, but no luck, the skill is receiving what is in **turn.activity.text** anyway.

## Version

Version 2.0
## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Fire

[2021-06-17 21:33] dmvtech commented on #8084
@jessthorne I'm closing this as it seems that it answers your question/situation. If not, please le us know.

[2021-06-17 21:33] #8084 closed

[2021-06-17 21:47] taicchoumsft commented on #7807
Hi @boydc2014 , I think your intuition is correct.

The client queues up all the selected bot projects to publish.

On the server side, this is the chain of events that I observed with debugger:
1)  `PublishController::publish` gets called per queued bot. On line 60, each queued bot calls [`BotProjectService.getProjectById(projectId, user);`](https://github.com/microsoft/BotFramework-Composer/blob

[2021-06-17 22:58] pifls opened #8130 "Call Bot Framework Composer action from PVA topic"
In Bot Framework Composer we have the ability to 'Begin a PVA Topic".
But is there a way to call a trigger or some action in Bot Framework Composer from PVA Topic?

[2021-06-17 23:36] mareekuh commented on #8125
I agreed it's wrong - do you have a proposal for what it should be?
@cwhitten @Jeffders

[2021-06-17 23:44] abhaycashikar commented on #8038
The chitchat KB was created by Composer when I chose the Core Bot template so I didn't have any control over that. I believe it did make a resource in my QnA Maker subscription though.

P.S. my team has moved on from Composer for various other reasons and is now using the .NET SDK, so this isn't blocking for us anymore (just in case there is more pressing work to be done for Composer).

[2021-06-17 23:48] JonathanFingold commented on #8125
I think this is an issue on the Composer side, in that when Composer renders the `example` array as a watermark it appears to be trying to expand the information as an expression instead of as a literal. Given the input, I'd expect the watermark to look something like:
[code]
Which ends up looking a bit confusing. However, adding quotes around the example values would be confusing in a different w

[2021-06-17 23:48] tonyanziano commented on #7157
@boydc2014 I agree. Let's move it to R15.

Here are some notes from the team's previous meeting about the feature:

- Need to test this with auto update -- will calls to `installAndUpdate()`, which closes all the app windows, trigger the shutdown logic?
- Need to consider handling force quits (Alt + F4 / Task Manager on Windows -- Mac equivalent)
  - Can catch UNIX signals:
  ```process.on('SIGINT

[2021-06-18 00:00] #7971 closed

[2021-06-18 01:02] scheyal commented on #7770
@taicchoumsft - can you please update the files (I don't have a working build env). Looks like we only need the URL, the minimal descriptions are already there.
URL: https://aka.ms/bf-orchestrator-package-readme

[2021-06-18 01:03] scheyal commented on #7770
(removed myself - please re-add if anything else is needed from me)

[2021-06-18 03:37] t-yuchenqian opened #8132 "Luis build failed: Cannot read property 'versionId' of undefined"
## problem
I suddenly failed to build my bot locally, but can still deploy it to the Azure. I'm unaware of what was changed. When I try to build the bot, I get this error:
[code]

## version
v1.4.1

## system
Windows 10

## settings
![image](https://user-images.githubusercontent.com/86090795/122502561-6f088d00-d029-11eb-9f72-9daccfbd57f2.png)

[2021-06-18 03:40] JaskeeratBedi-cmk commented on #8063
Working design file here- https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-s-files?node-id=5927%3A0

Attached is the proposed updated workflow. Needs some copy review with PM.
![Screen Shot 2021-06-17 at 8 39 47 PM](https://user-images.githubusercontent.com/67944302/122502788-29f24580-cfac-11eb-928a-39986b9553de.png)

[2021-06-18 04:50] aparnaji opened #8133 "Bot Composer Bot hand off to Microsoft Teams"
Is there a way we can handoff Bot Composer bot to Microsoft teams chat so that the agent can chat from teams and end user can use Bot.

[2021-06-18 13:11] johnataylor commented on #7948
The SDK change has been merged.

[2021-06-18 14:00] tdurnford commented on #8111
@mareekuh Since this creates an object, you have to set the key before you can add another item. All keys must be unique, so we cannot add two items with the same key.

[2021-06-18 15:08] mewa1024 commented on #8111
(needs a new design)

[2021-06-18 15:18] jessthorne commented on #8084
Thank you - is it possible to have 2 options calling the stored property and one being text?
e.g.
![Screenshot 2021-06-18 at 16 15 01](https://user-images.githubusercontent.com/49563377/122582954-a63e6480-d050-11eb-8b9a-e03c66e901d3.png)

Thanks!

[2021-06-18 15:39] tonyanziano commented on #7948
Thanks for the update @johnataylor

[2021-06-18 16:38] garypretty commented on #7981
@srinaath we need to add appropriate telemetry to this feature.  Below are the changes I would like to us to make and events we need to add.

We already have events AddNewKnowledgeBaseStarted and AddNewKnowledgeBaseCompleted.  For the AddNewKnowledgeBaseCompleted event we need to add a custom property called 'source' and this should have one of 3 values - 'url' (if importing from a url), 'none' (i

[2021-06-18 17:09] aaronba opened #8134 "GCC: Import from PVA with PVA GCC tenant fails with "Something went wrong during import: Error: Request failed with status code 500""
## Describe the bug

When trying to import an existing GCC PVA bot into Bot Framework Composer, the import does not succeed.
This works with a PVA Commercial bot.

POST /api/import/pva/authenticate?payload=% .. 200
POST /api/import/pva?payload= .. 500
[27528:0618/115620.576:INFO:CONSOLE(360)] "Something went wrong during import: Error: Request failed with status code 500", source: http://localhost

[2021-06-18 17:49] garypretty commented on #7948
@tonyanziano @srinaath We need to add the following telemetry events for the new watch tab please.

Event Name: StateWatchPropertyAdded
Fires when a user adds a property to watch.
Should include a custom property called 'property' which contains the property path being watched.

Event Name: StateWatchPropertyRemoved
Fires when a user adds a property to watch.
Should include a custom property calle

[2021-06-18 18:06] mareekuh commented on #8111
Agreed. (-:

[2021-06-18 18:18] garypretty commented on #7448
Sync with @srinaath on this issue to ascertain if a short term fix to always add the trigger for a skill to the root was straightforward.  Srinaath confirms that this is the case and so I would like us to implement just that fix for R14.

I am key not to increase scope for R14 at this stage, so we can track the issue of best practice use of a dialog and @cwhitten's broader point about recognizer c

[2021-06-18 18:22] mrivera-ms commented on #8133
@aparnaji, thank you for opening this issue. For product behavior, how-to, or general understanding questions, please use Stackoverflow. https://stackoverflow.com/search?q=bot+framework

[2021-06-18 18:22] #8133 closed

[2021-06-18 18:30] mrivera-ms commented on #8124
@jessthorne, thank you for opening this issue. For product behavior, how-to, or general understanding questions, please use Stackoverflow. https://stackoverflow.com/search?q=bot+framework

[2021-06-18 18:30] #8124 closed

[2021-06-18 18:31] dmvtech commented on #8038
Thank you @abhaycashikar. I will go ahead and close this as I am unable to reproduce this. If this becomes an issue again, please comment or open a new issue.

[2021-06-18 18:31] #8038 closed

[2021-06-18 18:33] srinaath commented on #7448
The line to add the fix https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/client/src/components/AddRemoteSkillModal/CreateSkillModal.tsx#L201. We need to pass the root dialog id here for the trigger to be added to the root dialog.

[2021-06-18 18:34] mrivera-ms commented on #8072
@anusharavindrar, do you have any updates?

[2021-06-18 18:35] dmvtech commented on #8071
@ysnoek2 I'm going to assume this is resolved as it works for me with the above expression. If not; please comment and let us know if it behaved any differently.

[2021-06-18 18:41] dmvtech commented on #8073
Closing as the issue is being tracked in #6128.

This is a known issue for Emulator and Composer WebChat. You can use WebChat or other channels (assuming specific channel supports video in cards).

[2021-06-18 18:41] #8073 closed

[2021-06-18 18:52] dmvtech commented on #8084
Yes. You would need to use [templates](https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lg-file-format?view=azure-bot-service-4.0#templates) and [adaptive expression functions](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0) to accomplish that.

[2021-06-18 19:01] Dewain27 commented on #8127
![image](https://user-images.githubusercontent.com/18688053/122605880-ad0fac00-d03d-11eb-9bfa-9acaffa37e77.png)
See Design

[2021-06-18 19:04] Dewain27 commented on #8063
@GeoffCoxMSFT  Design has been completed
https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-s-files?node-id=5927%3A0

[2021-06-18 19:09] Dewain27 opened #8135 "Update the App Service Selection UI"
## Describe the bug

To improve visibility of the WebApp or Functions selection need to update the design to reflect the change to a radio button set.

![image](https://user-images.githubusercontent.com/18688053/122606457-94ec5c80-d03e-11eb-8adb-d2f843dfd576.png)

This update was requested by @JaskeeratBedi-cmk in Design

More details can be found in the Figma:
https://www.figma.com/file/J3oIdXDme

[2021-06-18 20:14] tonyanziano commented on #8134
We need to add some code that checks for the GCC base URL and then point OneAuth to authenticate against the corresponding PVA GCC AAD app.

I'm working on it now.

[2021-06-18 20:52] v-kydela commented on #8072
@Dan-Bai - Can you link to any documentation you've followed? Where did you learn to set `"BlobsStorage"` as the value for `runtimeSettings.storage`? Are you really using `BlobsStorage` rather than `BlobStorage`? How did you learn how to set the connection string and container name?

Also, can you explain what your expected behavior is? Do you expect the dialog stack to be populated even when you'

[2021-06-18 20:58] tonyanziano commented on #8134
I've made changes to the Composer code to allow for this authentication path. We are waiting on PVA to give our 1P AAD app consent to access theirs.

My branch can be found here: https://github.com/microsoft/BotFramework-Composer/tree/toanzian/pva-gcc

[2021-06-18 21:34] mewa1024 commented on #8125
Can we show just the first example?

![image](https://user-images.githubusercontent.com/39317542/122618039-493bb200-d042-11eb-9de2-7f0386cc26bb.png)

I think of any the options for showing multiple examples are potentially confusing.

[2021-06-18 21:37] mewa1024 commented on #8108
Including in this ticket UI/interactio details of the form editor (aka "Properties pane" or "details pane"):

- [ ] #8125

[2021-06-18 21:48] beyackle commented on #8029
This is nearly done - #8078 will address all of the issues at once because it was easier to just group them all together into a batch instead of trying to shuttle between fixing the cards or the URL generation separately.

[2021-06-18 21:54] mewa1024 commented on #8097
Added related bugs to description above.

[2021-06-18 21:59] mewa1024 commented on #6140
The response editor does accept Shift-Enter for line breaks. The UI shows this hint when there is no response like this:
![image](https://user-images.githubusercontent.com/39317542/122619544-881f3700-d045-11eb-8da1-9571f283f868.png)

but it doesn't show if you are editing an existing response.

@JonathanFingold sound like you'd like a better hint that you can use Shift-Enter for line breaks?

[2021-06-18 22:23] mewa1024 commented on #7954
Can we avoid referring to parts of the app by name and instead use something more generic? In this case, can we change "in the project settings tab" to just "in your project settings" and link to the appropriate section?

The generic text means we won't have to update the text if we change the name of the tab in the future, and the link will avoid any ambiguity about what section we are talking ab

[2021-06-18 22:25] #7625 closed

[2021-06-18 22:27] mewa1024 commented on #8111
(changing the title to shift emphasis on the "Dialog interface" section of the UI, rather than the ...)

[2021-06-18 23:00] #8037 closed

[2021-06-18 23:01] vivekkshankar commented on #7954
Fair point @mewa1024. Let's actually drop the second line and keep it clean "Keep this URL handy to share it with other developers to use in their bot projects.".

(If we hear feedback that this URL is hard to find going forward, we can as a remedy redirect to the publish page on copy (to teach the user where to find it) or give an action to view URL which does the redirect)

[2021-06-18 23:01] mewa1024 commented on #7920
(need to check for other destructive actions that have no Undo)

[2021-06-18 23:02] cwhitten commented on #8117
@mohsenualam do you have NodeJS also installed on your machine?

[2021-06-18 23:13] mewa1024 commented on #7846
(Removing the "UX Design" label -- not a design team call whether this property is relevant. If it is not relevant, seems fine to remove it.)

[2021-06-18 23:26] mohsenualam commented on #8117
I didn't have NodeJS installed. I just installed it, but it's still showing the error

[2021-06-18 23:31] cwhitten commented on #8117
It seems like you are attempting to build Composer from source? Have you tried the desktop application?

https://github.com/microsoft/BotFramework-Composer/releases/tag/v2.0.0

[2021-06-18 23:34] cwhitten commented on #8074
Closing this. Please follow #7977

[2021-06-18 23:34] #8074 closed

[2021-06-18 23:34] mohsenualam commented on #8117
I am using the Desktop App

[2021-06-18 23:35] cwhitten commented on #6945
@chrimc62 I feel a potential design change in declarative layer is to model custom functions (and custom memory, for that matter). We aren't doing anything with this in R14.

[2021-06-18 23:37] cwhitten commented on #7935
ping @vivekkshankar

[2021-06-18 23:54] cwhitten commented on #8117
Are you using a VPN? See this comment: https://github.com/microsoft/BotFramework-Composer/issues/4999#issuecomment-736983150

[2021-06-19 00:05] dmvtech commented on #8126
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-06-19 00:05] dmvtech commented on #8126
@jessthorne Can you share what `testTemplateJess` looks like?

[2021-06-19 01:21] praveenvavilla opened #8136 "Read app settings and override configuration to support encrypted values in app settings"
Hi,

We started writing bot using composer and have the below requirement which am not sure how to achieve

1. Have encrypted values app settings.json
2. read app settings at runetime and decrypt all the encrypted values
3. Bot uses configuration with decrypted values in step 2
I tried to see if we can override configuration but I see that

![image](https://user-images.githubusercontent.com/552569

[2021-06-19 15:01] anukrati1507 opened #8137 "operation not permitted"
operation mkdir for bot formation not permitted

[2021-06-19 18:14] mvelosop commented on #7215
What about user secrets? at least secrets wouldn't leak to repos on development, and they could be picked from there on deployment.

[2021-06-19 18:56] pifls commented on #8130
I figured this out. I needed to create a Dialog in Bot Framework Composer. There I've added 'Begin Dialog event'.
After publishing those changes to PVA I could redirect my bot to that dialog and that begin event was called.

[2021-06-19 18:56] #8130 closed

[2021-06-19 19:53] praveenvavilla commented on #8136
one option is ,

I can have custom class for handling decryption of settings for the encrypted values in appsettings and register with DI like below in startup: ConfigureServices
services.AddSingleton<ISettings, Settings>();

however am not sure how can I pass ISettings to custom actions (this is needed in custom actions)

[2021-06-20 03:13] rprecioso opened #8138 "Local Issue Certificate Error"
I am having an issue with the tool. This has been an issue even in the emulator and I think it's the same issue with this error.

`Could not load component list:Error https://schemas.botframework.com/schemas/component/v1.0/component.schema: unable to get local issuer certificate Error Microsoft.QnAMakerDialog: Cannot extend component because it is not included Error Microsoft.QnAMakerDialog: Canno

[2021-06-21 06:07] RohitJhander opened #8142 "Using Strictfilters in Bot Composer for getting QnA response based on metadata passed from AD"
We are creating QnA dialog in bot composer to get answers from KB. And in QnA maker we have defined metadata for some questions and want to get response based on that metadata . In bot composer we are getting dynamic values from Azure AD based on user profile which we want to send as metadata to QnA along with user utterance. Before sending metadata to QnA, in bot composer we are using Strict Filt

[2021-06-21 06:21] luhan2017 opened #8143 "PVA: for adding a skill, support load .zip file which contains both manifest and dispatchModels."
## Describe the bug

This is a PVA requirement.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-06-21 07:53] luhan2017 opened #8144 "The qnamaker service created from settings->Set up QnA Maker does not support multiple language feature"
## Describe the bug

The qna provision logic are different between "Publish profile -> add new" and "settings -> Set up QnA Maker".
Multilanguage feature will only be supported if EnableMultipleTestIndex is set to true in the appsettings of the QnA service.

In "settings -> Set up QnA Maker" work flow, the above setting is not set while provisioning.

![image](https://user-images.githubusercontent

[2021-06-21 08:16] #7935 closed

[2021-06-21 09:01] goergenj opened #8147 "[MCS-DE-GO] LU-Syntaxchecker does not recognize German special-characters"
The LU-Syntaxchecker does not properly highlight ML-Entity values with special characters in German (Umlaut).

![image](https://user-images.githubusercontent.com/31212469/122735877-b6885680-d27f-11eb-9279-e99c9d11db33.png)

[2021-06-21 17:23] anusharavindrar commented on #8132
@t-yuchenqian, can you elaborate on the steps you are following to build your bot? Do you get any additional error on the Composer Dev tools( go to View > Toggle Developer Tools)? One more thing to try is to re install the v1.4.1 of Composer and give it a go or upgrade to the latest version and see if you still get the same error?

[2021-06-21 18:06] mareekuh opened #8152 "Search for 'Bot' in Azure Portal should put Azure Bot in first (vs 3rd) place"
<img width="790" alt="Screen Shot 2021-06-21 at 11 02 13 AM" src="https://user-images.githubusercontent.com/48503434/122807473-78d7fd80-d280-11eb-913f-3450a2154741.png">

When searching for 'Bot', the Azure Web App bot comes first in the list- this one is incompatible with Composer and should be replaced by Azure Bot -> Azure Bot should be in first place.

(I know this should be in the Azure ADO b

[2021-06-21 18:09] mareekuh opened #8153 "Icon for Azure Bot is using the wrong blue"
Background of Azure bot Icon is wrong blue
Please fix to be the following Azure blue :  HEX 0078D4

<img width="766" alt="Screen Shot 2021-06-21 at 11 07 50 AM" src="https://user-images.githubusercontent.com/48503434/122807970-16cbc800-d281-11eb-8a89-c8d0b2a655c3.png">

(Already filed months ago in ADO but not yet fixed)

[2021-06-21 18:09] garypretty commented on #8152
Hi Marieke.  I agree with the idea here, but as you say above, this is not the right place for this issue, especially as the service folks are not very active in GitHub. Please instead start a thread with Andrea and I and we can take it from there.

[2021-06-21 18:09] #8152 closed

[2021-06-21 18:11] garypretty commented on #8152
I started a thread @mareekuh

[2021-06-21 18:11] jwiley84 commented on #8128
Hi @gapmdq ! Sorry for the delay. Let me try a repro of this and get  back to you on what's going on!

[2021-06-21 18:53] thomas-chung commented on #8136
@praveenvavilla, thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stackoverflow.

https://stackoverflow.com/search?q=bot+framework

[2021-06-21 18:54] tonyanziano commented on #7995
@AlexanderPBrown sorry for the delay.

There is a PR out (#8141) containing the version bump to Web Chat. Once that gets merged, the following nightly build will contain the fix and you should be able to use that version to verify the fix.

I will update this thread once that build is available.

[2021-06-21 18:56] cwhitten commented on #7448
I see this needing to be special-cased around Orchestrator:

IF a user is adding a skill, AND Orchestrator is already configured at the root, OR this is the first skill the user is adding AND at the prompt decides to also add Orchestrator, we add it to the root bot.

I'd expect that the existing behavior would persist if they do not have Orchestrator configured and have not told Composer to instal

[2021-06-21 19:41] garypretty commented on #8153
HI @mareekuh. Again, this is not the right place for this bug.  Please follow up with the ADO issue and chase that issue. You should be able to follow up with one of the service PMs to get a status and push this along - I am happy to help if you get no joy there. However, raising this issue here just means it will likely get lost and doesn't get the attention of the right folks so I am closing it

[2021-06-21 21:11] mareekuh commented on #8153
https://fuselabs.visualstudio.com/BotFramework/_search?text=icon%20mariekei&type=workitem&lp=workitems-Project&filters=Projects%7BBotFramework%7D&pageSize=25

Please leave open until the above in ADO is resolved.

[2021-06-21 21:35] GeoffCoxMSFT commented on #7738
@sgellock  For R14 we're adding OS selection to provisioning.
Here is the work item: https://github.com/microsoft/BotFramework-Composer/issues/8063.

The user could choose a different OS for an Azure function for different deployments.  I think this alleviates the need to select the OS during creation time, correct?

[2021-06-21 21:35] #7738 closed

[2021-06-21 21:46] VamsiModem opened #8157 "Add error handling on the choose resources step"
Communicate to the use when a server call fails in the choose resources step.

![image](https://user-images.githubusercontent.com/12182973/122831792-425dab00-d29f-11eb-9e0c-04714f696820.png)

[2021-06-21 21:54] v-kydela commented on #8072
@Dan-Bai - Are you still working on this?

[2021-06-21 22:12] GeoffCoxMSFT opened #8158 "Microsoft.Bot.Builder.AI.Orchestrator package documentation link goes to root of dotnet repo"
## Describe the bug

The documentation link for the package points directly at https://github.com/Microsoft/botbuilder-dotnet

## Version

main as of 6/21/2021 (R14 development)

## Browser

- [ ] Electron distribution
- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. New C# empty bot project
2. A

[2021-06-21 22:37] thomas-chung commented on #8136
Reopening issue for triaging tomorrow morning.

[2021-06-21 23:19] #8127 closed

[2021-06-21 23:38] anusharavindrar commented on #8137
@anukrati1507, can you specify at which step you are getting the error(repro steps or screenshot)? Also, can you follow the bug template and provide all the needed information(bug description, composer version, browser, OS, repro steps)?

[2021-06-22 00:03] GeoffCoxMSFT commented on #7815
@Dewain27 Let's chat about this in the next connection meeting.  I'm not sure what UI needs to happen here

[2021-06-22 00:05] GeoffCoxMSFT commented on #7740
In the logic where we detect the missing resources from the profile, we need to update the results to be more specific about what is missing.  I don't think we have the capability to launch the wizard to the page to add resources.  We can talk to Vamsi about what might be possible when we have the infrastructure reporting detailed info.

[2021-06-22 03:36] CharingJC commented on #7546
FYI: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-basics?view=azure-bot-service-4.0

[2021-06-22 03:47] Naveen0687 opened #8159 "Getting error in bot framework composer while creating bot from templates."
I am getting this error while creating bot from templates.

![Capture](https://user-images.githubusercontent.com/29903786/122860051-a2edf600-d33a-11eb-99af-1d893c0df70b.JPG)

please let me know the fix for this.

[2021-06-22 06:15] boydc2014 commented on #7909
@Clooney24,  @dmvtech  i confirmed that LG subsystem isn't wired up to choiceOptions yet.

So, we can't support using LG for multi-lang at this moment, what we have now is a few default hard-coded separators defined in here https://github.com/microsoft/botbuilder-dotnet/blob/f1a16c0e215b2815f24752b1c0d7d654cfcc1274/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/ChoiceInput.cs#L45.

[2021-06-22 06:35] richa0912 commented on #8142
I also want to use  such functionality in my project, where I can use memory variables for metadata filtering to get response from the QnA Maker Portal. (Tried changing the schema also but getting 400 Bad Request error).
Also the join operation doesn't seem to work with OR operator, tried the get request from postman. In the backend its getting converted to AND.
![image](https://user-images.github

[2021-06-22 10:05] boydc2014 commented on #8136
IConfiguration is just an uber object holding all kinds of config merged. You can always override IConfiguration after it's build\load, for example in Start.cs, what you can do is

![image](https://user-images.githubusercontent.com/3829387/122905221-9c37a100-d383-11eb-8025-9ab7e319d5c3.png)

[2021-06-22 10:22] alishajain7 opened #8162 "Requirement to invoke a skill from another skill"
Hi Team,

I have 3 individual skills linked to my Bot (Main Bot developed using Bot Composer).  Say suppose the user is currently interacting woth Skill A and in between it uttered an intent of Skill B. So, my requirement is to now invoke Skill B from Skill A, so that the user doesn't have to re-utter the intent again.

And hence once the flow ends for skill B, it should return back to the Compose

[2021-06-22 10:50] Pooja6497 opened #8163 "Getting Object reference not set to an instance of an object error"
Hi! I am new to bot composer. I am getting this error. Can you please help me in resolving this error?
The error is Object reference not set to an instance of an object.
My code is working fine but at the end I am getting this error.

[2021-06-22 12:47] SomervilleA commented on #8057
@cwhitten @GeoffCoxMSFT any update?

[2021-06-22 14:01] Dan-Bai commented on #8072
@v-kydela I was digging through the source code and came across this [code in npm](https://github.com/microsoft/botbuilder-js/blob/fec4bfe6e6b6092d9303e49ef3197c1c1ca9b019/libraries/botbuilder-dialogs-adaptive-runtime/src/index.ts#L147). I have verified that I'm using BlobsStorage. I learned setting the connection string and container name from looking through the code as well. I expected there to

[2021-06-22 14:03] goergenj commented on #5610
@tdurnford With v2.0 the syntac validation seems to be completely turned off now. I can add extraneuous carachters now with or withour "=" and never get an error. Is this the expected behaviour now not having syntac validation at this field?

[2021-06-22 14:04] goergenj commented on #5368
Any update on this?

[2021-06-22 14:05] goergenj commented on #5363
Any update on this? We solved this with the Multi-Choice now but still would like to get clarity on how the "Confirmation"-Action can be used properly.

[2021-06-22 14:07] goergenj commented on #5005
Any update on this?

[2021-06-22 14:09] goergenj commented on #3639
Should this be solved in v2.0?

[2021-06-22 14:11] goergenj commented on #3315
Any update on this?

[2021-06-22 15:34] JonathanFingold commented on #8125
@mewa1024 - The source for the watermark comes from strings in the .NET SDK library (the .schema file). This is an example of a mangled watermark. There are probably others.

My guess is that requests for changes to the example values should be directed to the SDK team, but changes to how they are rendered should be directed to the Composer team.

[2021-06-22 15:40] JonathanFingold commented on #6140
@mewa1024 I first noticed this in the Bot Responses view:
![image](https://user-images.githubusercontent.com/35047199/122955794-476d3980-d335-11eb-89da-0723c85cd8a5.png)
If you're starting here and editing an existing template, there is no initial hint.

[2021-06-22 16:04] cwhitten commented on #8158
@scheyal FYI

[2021-06-22 16:21] dmvtech commented on #8163
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-06-22 16:22] dmvtech commented on #8163
@Pooja6497 If you are using emulator or the built in WebChat of Composer, look for error event traces. Likely, the issue is that some variable has been created and not populated (or a typo somewhere).

[2021-06-22 16:23] #8163 closed

[2021-06-22 16:26] garypretty opened #8166 "Update Open from ABS modal copy"
## Describe the bug

The copy on the modal shown when you open from ABS needs to be updated.

![absopenmodal](https://user-images.githubusercontent.com/3900649/122963938-a905c600-d37e-11eb-931e-b4eae294d37b.png)

Please amend this copy to the following.

**Title:** Choose a bot project for your Azure Bot
**Subtext:** Use your Azure Bot resource with a new or existing bot project. You can publish y

[2021-06-22 16:43] srinaath commented on #8159
We are tracking this bug in another ticket @Naveen0687
Closing as dupe of #7876

[2021-06-22 16:43] #8159 closed

[2021-06-22 16:53] dmvtech commented on #8138
@rprecioso Are you able to browse to `https://schemas.botframework.com/schemas/component/v1.0/component.schema` in a browser from the same machine?

[2021-06-22 17:03] dmvtech commented on #7860
@ctharmon722 You mention not owning the subscription. But if you go into the Azure portal, do you have a default subscription set? If so, is it the correct one that you want to publish to, or another? Please try setting the default subscription to the one you wish to publish to and then try.

[2021-06-22 17:15] ctharmon722 commented on #7860
@dmvtech, the default subscription is the subscription that I want it to publish to. Which is why I think it publishes fine with 1.3, and since 2.0 asks, any bot that we don't use custom actions for should be fine too.

[2021-06-22 17:15] jwiley84 commented on #8002
@SharmaHarsh7 Have you been able to test this via command line?

[2021-06-22 17:26] GeoffCoxMSFT commented on #7627
N/A with the Azure SDK layer

[2021-06-22 17:26] #7627 closed

[2021-06-22 17:27] GeoffCoxMSFT commented on #7628
Folded into another task

[2021-06-22 17:27] #7628 closed

[2021-06-22 17:34] srinaath commented on #8128
@gapmdq Instead of using the friendly editor. Can you use the code editor and pass the value through an activity template like this.
[code]
![Screen Shot 2021-06-22 at 10 34 12 AM](https://user-images.githubusercontent.com/13004779/122972828-6a074e80-d345-11eb-9f17-c5f010ffb51d.png)

[2021-06-22 18:00] #8134 closed

[2021-06-22 18:36] tonyanziano commented on #8134
The authentication issue has been fixed, but there was a new, unrelated bug introduced into the tree in the last week that is breaking the import from PVA scenario.

We know what is causing the bug, and are investigating how to solve it.

[2021-06-22 19:06] Stevenic opened #8170 "Wrong word in ABS create dialog"
Seems like this should say "a new bot" instead of "a new conversation"

![image](https://user-images.githubusercontent.com/698939/122984704-28c96b80-d352-11eb-8cfe-39eeb8e5ed38.png)

[2021-06-22 19:17] bewillet opened #8171 "Accessing a property field named with a dash "-" fails"
## Describe the bug
Accessing the property field within the response message is not possible for the following:
"${conversation.ocvoices.en-US.d365_oc_ivrvoicename}"

We are storing the locale code "en-US" as an attribute in a Json payload, but are unable to access the above path because of the "-" in the field name.

## Version
2.0.0

## To Reproduce

Steps to reproduce the behavior:

1. In Compo

[2021-06-22 19:27] bewillet opened #8172 "Setting turn.Activity property to a conversation property"
## Version
2.00
## Describe the bug
I'm trying to mock an object passed through turn.Activity.channelData by first setting the property and then saving it as a new field in conversation property so that the values are persisted for the duration of the conversation.Please refer to the screenshots below.

Currently unable to figure out a way to set the conversation property. Any suggestions?

Mock C

[2021-06-22 21:31] stevkan commented on #7832
Closing issue as resolved.

[2021-06-22 21:31] #7832 closed

[2021-06-23 02:28] t-yuchenqian commented on #8132
@anusharavindrar, the steps I built my bot:
1. open the project.
![image](https://user-images.githubusercontent.com/86090795/123025267-f29cf200-d40c-11eb-9d36-ac9059fea0ae.png)
2. start bot.
![image](https://user-images.githubusercontent.com/86090795/123025310-05172b80-d40d-11eb-9a2c-4bed17941c45.png)

Yes I got some additional errors in the Dev Tools, but it seems unrelated to this problem:
![ima

[2021-06-23 05:46] boydc2014 commented on #7448
@cwhitten Made the logic specific to Orchestrator sounds reasonable to me, otherwise, it sounds like a big breaking change.  Should we move forward on the engineering side on this now or we want to wait till @darrenj or @garypretty  confirmation?

If we can move forward, @lei9444 can you take this one?

[2021-06-23 05:56] mewa1024 commented on #7805
more detail here if needed: https://www.figma.com/file/DQ8xiC9VMfPX0nb0MBmOIs/Composer-audit-mewa?node-id=784%3A30224

[2021-06-23 06:38] t-yuchenqian commented on #8132
When I build the bot, I got a 400 error:
![image](https://user-images.githubusercontent.com/86090795/123048133-a5cb1280-d430-11eb-91cf-d849ce36d061.png)
And the response is
[code]

[2021-06-23 06:58] mewa1024 commented on #7255
Makes sense to me that this should appear as a warning. Can we use the same text that appears in the validation message that appears on the settings page?

![image](https://user-images.githubusercontent.com/39317542/123050428-8d69e200-d3b5-11eb-99fd-16e4de0a5b9c.png)

[2021-06-23 07:02] mewa1024 commented on #7198
(adding @vivekkshankar for food for thought for overall QnA flow)

[2021-06-23 07:11] mewa1024 commented on #7128
"key" was replaced with "resource" in Composer 2.0:
![image](https://user-images.githubusercontent.com/39317542/123052252-7a581180-d3b7-11eb-977f-45ff80dcf8ec.png)

[2021-06-23 07:11] #7128 closed

[2021-06-23 07:19] mewa1024 commented on #7582
related: #7116

[2021-06-23 07:29] mewa1024 commented on #7080
@srinaath can we look at why the hover text for the app bar butttons is slower than the for the main menu on the left?

https://user-images.githubusercontent.com/39317542/123054671-ee93b480-d3b9-11eb-8294-2aba6eea8abf.mov

I think the other issues in the bug have been addressed (so I'm removing the "UX design" label.)

[2021-06-23 07:39] mewa1024 commented on #7032
(@emivers8 fyi)

[2021-06-23 08:21] Naveen0687 commented on #7876
what is the solution for this as it has stopped our development work... please suggest.

[2021-06-23 08:30] gary-x0pa commented on #5534
By settings do you mean publish profile settings or the application settings. Can't seem to get this to work.

[2021-06-23 09:01] ysnoek2 commented on #8071
@dmvtech sorry for the late reply! I tried it but still get the same errormessage:
![image](https://user-images.githubusercontent.com/76207835/123068553-48c06400-d412-11eb-92c8-a48f23614753.png)
![image](https://user-images.githubusercontent.com/76207835/123068633-5970da00-d412-11eb-8046-f2705743b4cd.png)

[2021-06-23 09:30] ysnoek2 commented on #8071
And i updated to 2.0.0 btw but still the same

[2021-06-23 16:12] dmvtech commented on #8171
@bewillet I am able to reproduce. Thank you for bringing to our attention. Tested with both JavaScript and .NET `4.13.1`.

[2021-06-23 16:39] mercer2000 opened #8177 "How to send a full fidelity Slack Block Kit message using composer?"
I'm using Microsoft Bot Framework Composer C# Empty Template and trying to send a message to a Slack channel using Block Kit. How do I properly format the message so Slack renders the message? Here is what I have been trying, but once in Slack, nothing renders.

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-channeldata?view=azure-bot-service-4.0

![image](https://user-images.githu

[2021-06-23 17:15] dmvtech commented on #5534
@gary-x0pa Are you using Composer 2.0.0? I'm not sure, but it might work differently in newer version. Please open a question on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework) if you still need assistance with getting it running.

[2021-06-23 17:17] dmvtech commented on #8071
@ysnoek2 Do you see any error traces when reproducing in Emulator? Can you please share that if so?

[2021-06-23 17:21] srinaath commented on #7080
@mewa1024 We need to wrap the Button with a tooltip. We are currently just using the title field on the button.
https://developer.microsoft.com/en-us/fluentui#/controls/web/button

Are you looking to add it for R14?

[2021-06-23 17:37] garypretty commented on #7080
@srinaath if we can get these into R14 then I think we should.  I have grabbed the copy from the spreadsheet for you.

**Three stacked lines button**
Hover / tooltip - 'Start and stop local bot runtimes'

**2 chat bubble / webchat icon**
Label - 'webchat icon'
Hover / tooltip - 'Test your bot'

**Rocket icon**
Hover / tooltip - 'Recommended actions'

**Notifications icon**
Hover / tooltip - 'Notif

[2021-06-23 19:09] v-kydela commented on #8072
Thanks, @Dan-Bai. Given that what you're doing isn't documented, can you explain the last repro step in more detail? I need to know how you did this:

[2021-06-23 21:03] taicchoumsft commented on #8158
Thanks for reporting this @GeoffCoxMSFT , this [PR](https://github.com/microsoft/botbuilder-dotnet/pull/5705) should solve this problem (as you suggested, it'll go to an aka.ms link).  We're updating the packages in the next few days to test this e2e.

[2021-06-23 22:02] tonyanziano commented on #8134
The other bug breaking the PVA import scenario should be fixed by #8181 and in tonight's nightly build, along with the GCC fix.

[2021-06-23 22:57] srinaath commented on #7448
@darrenj Are we ok with this change? @lei9444 PR ensures to check the root dialog's recognizer is Orchestrator or if the user chooses Orchestrator in the recommendation modal and then adds the new skill caller trigger to it.

[2021-06-23 23:16] srinaath commented on #8170
@mewa1024

[2021-06-24 00:09] dmvtech commented on #8162
Hi @alishajain7 This is possible, but possibly a bit clumsy. I have something working, but am looking to see if there is a more streamlined way to do it in Composer.

If the intent will always be coming through the root bot, it can be setup in such a way that the intent for SkillB, doesn't have to be called by SkillA. That's somewhat how adaptive dialogs (behind the scenes) are supposed to work. _

[2021-06-24 00:24] anusharavindrar commented on #8132
@t-yuchenqian, are you making use of a custom runtime? If yes, then can you try and see if you can run the bot outside of composer? If not using a custom runtime, then can you make a copy of the entire bot folder & open the bot in the same 1.4.1 version and see if it still throws an error? One more thing to try is to clear out the local storage and see if the issue persists.

[2021-06-24 03:06] mewa1024 commented on #8166
Can the title say "Choose a bot project for your Azure Bot" (remove the "Create /")? There are a few places in the UI where we tell the user to choose something and among the choices is the ability to create a new thing.

@mareekuh for copy review

[2021-06-24 04:15] #8091 closed

[2021-06-24 04:20] #7984 closed

[2021-06-24 04:20] #8032 closed

[2021-06-24 04:21] #7856 closed

[2021-06-24 04:23] #7635 closed

[2021-06-24 04:46] mareekuh commented on #8166
Oh I like that! Good idea!

From: mewa1024 ***@***.***>
Date: Wednesday, June 23, 2021 at 8:06 PM
To: microsoft/BotFramework-Composer ***@***.***>
Cc: Marieke Iwema ***@***.***>, Mention ***@***.***>
Subject: Re: [microsoft/BotFramework-Composer] Update Open from ABS modal copy (#8166)

Can the title say "Choose a bot project for your Azure Bot" (remove the "Create /")? There are a few places in t

[2021-06-24 05:00] mewa1024 commented on #7080
Thanks! I wasn't thinking of this as necessarily R14 (I was just going through issues with the "UX label" trying to unblock anything).

[2021-06-24 05:35] mewa1024 commented on #8166
For the subtext, possible to shorten a little? maybe like:

[2021-06-24 08:01] garypretty commented on #8166
Thanks @mewa1024 - good suggestions.

I have amended the title as per your comment and I have updated the sub copy, with a slight tweak from your suggestion, to

_Use your Azure Bot resource with a new or existing bot project. You can publish your bot directly to Azure, using the publishing profile created for you. Learn more._

@srinaath please note the tweak in copy - I have updated the copy at

[2021-06-24 08:43] cosmicshuai commented on #8055
I am trying to solve it in bf-lu package, once the PR is merge in cli repo. I will update the bf-lu version in Composer.

[2021-06-24 09:14] garypretty commented on #8172
Hi @bewillet.  It looks like you have the value type set to object.  Instead, can you try using the dropdown on the left (under the Value label) and choosing 'abc string'.  Then you should be able to enter '=turn.activity.channelData' to achieve what you need.

![image](https://user-images.githubusercontent.com/3900649/123236604-d82e4b80-d4d4-11eb-85cc-c6542dee929d.png)

[2021-06-24 09:25] ysnoek2 commented on #8071
@dmvtech I only see the messages i provided above

[2021-06-24 09:49] jnair7291 commented on #6392
you are testing your bot on emulator? how come clearing browser cache solved this issue?

[2021-06-24 09:51] jnair7291 commented on #6392
you are testing your bot on emulator? how come clearing browser cache solved this issue?

[2021-06-24 09:51] jnair7291 opened #8186 "Unable to get a value for KnowledgeBaseId from state - Emulator & Composer"
Finally after clearing browser cache it worked - by @aparnaji

you are testing your bot on emulator? how come clearing browser cache solved this issue? makes no sense to me.

![image](https://user-images.githubusercontent.com/11803138/123244724-cca54980-d501-11eb-8705-ab886e0c6b4c.png)

Despite giving knowledgebaseid , endpointkey in composer advanced view setting, the bot does not pick up QnA fro

[2021-06-24 10:37] Naveen-Kumar-c opened #8187 "Create a new Empty Bot using Bot Framework composer Issue"
Error while fetching the Empty bot template using Bot Framework composer

prerequisite
Node.js and npm insalled

**Error Discription:**
Error calling npm to fetch template. Please ensure that node and npm are installed and available on your system. Full error message: Command failed with exit code 1: npm root -g --prefix C:\Users\Naveen\AppData\Roaming\BotFrameworkComposer\.yo-repository --logleve

[2021-06-24 10:47] jnair7291 commented on #8187
did you install npm globally? to check go to command prompt and type `npm -v`
if you still get this error -  'npm' is not recognized as an internal or external command, operable program or batch file, you should probably follow this link [https://researchandprogram.blogspot.com/2017/10/how-to-solve-npm-not-recognized-as-internal-or-external-command-error.html#:~:text=If%20you%20tried%20npm%20comma

[2021-06-24 12:20] #7414 closed

[2021-06-24 14:23] Dan-Bai commented on #8072
@v-kydela After digging through this [code](https://github.com/microsoft/botbuilder-js/blob/fec4bfe6e6b6092d9303e49ef3197c1c1ca9b019/libraries/botbuilder-dialogs-adaptive-runtime/src/index.ts#L147) I set runtimeSettings.storage to BlobsStorage. I noticed configuration is the root object, I created a new object "BlobsStorage" at the same level as runtimeSettings. Looking at this [line](https://gith

[2021-06-24 14:33] Dan-Bai opened #8188 "Templates and NPM packages not working from enterprise network"
To start off, I am build Bots with Bot Composer from within my company's network. We have a jfrog artifactory with a mirror of NPM packages.

When starting a new bot with bot composer, only the "Core Bot with QnA Maker" template is available for both C# and Node.

With a node project, when accessing package manager I am getting an error "Could not load feed from URL" which is expected since the ur

[2021-06-24 16:32] anusharavindrar commented on #6712
Closing the issue. Please feel free to reopen once you have more info to share and we can investigate further.

[2021-06-24 16:32] #6712 closed

[2021-06-24 16:34] tonyanziano commented on #8187
@Naveen-Kumar-c please verify you have both NodeJS and npm installed on your machine. You can verify this by, like the above commenter mentioned, running `npm -v` and `node -v` commands in a terminal.

[2021-06-24 16:42] #4002 closed

[2021-06-24 16:43] ctharmon722 commented on #6712
@anusharavindrar, somehow we don't have your correct email address. My engineer just told me the email bounced back when he sent it. Can we get that again?

[2021-06-24 16:45] lippy1m commented on #5333
This fixed my issue, I just wish this would have been in the default json file when you look to populate it and of course somehow documenting what you want in that property.

[2021-06-24 17:08] #8016 closed

[2021-06-24 17:47] srinaath commented on #7765
Thanks @Virtual-Josh . We have a clear repro.

[2021-06-24 17:48] dmvtech commented on #8162
Related: #7765

[2021-06-24 18:18] #7943 closed

[2021-06-24 18:27] victorlamana commented on #7921
I have the same issue

[2021-06-24 18:37] dmvtech commented on #5912
Slightly related to #7765

[2021-06-24 18:47] #7629 closed

[2021-06-24 19:55] Stevenic opened #8192 "No subscription loading spinner when configuring language resources"
When configuring language resources I'm asked to log in to Azure and once completed I'm dumped at the screen below but I can't immediately click to select my subscription. That's because they're loading in the background and if I wait long enough the subscription box becomes clickable. The issue is we're not showing a loading spinner so I just have to know to wait.

![image](https://user-images.gi

[2021-06-24 20:44] v-kydela commented on #8177
Thank you for the question, @mercer2000. I'm going to close this here so it can be handled on Stack Overflow: https://stackoverflow.com/questions/68038404/microsoft-bot-framework-composer-send-slack-block-kit

[2021-06-24 20:44] #8177 closed

[2021-06-24 21:57] mewa1024 commented on #8108
(@mewa1024 testing power automate flow)

[2021-06-24 22:20] mewa1024 commented on #8108
testing again (@mewa1024 )

[2021-06-24 22:27] mewa1024 commented on #8108
testing power automate flow again

[2021-06-24 22:28] mewa1024 commented on #8108
again

[2021-06-24 22:45] mewa1024 commented on #8108
(ignore--trying to trigger a power automate flow)

[2021-06-25 00:40] mewa1024 commented on #7448
(@vivekkshankar fyi)

[2021-06-25 02:32] hibrenda opened #8194 "Be more visible (user friendly) for QnA action"
Be more visible (user friendly) for QnA action

Scenario 1:
Move to the QNA authoring all-up. If there is no focus on the dialog item (left panel). The KB authoring 3 dot will not show up.
![image](https://user-images.githubusercontent.com/43408889/123358262-c06eca00-d59d-11eb-8b3f-6a9a1d599414.png)
After choosing the dialog first and then the KB authoring 3 dot will be shown up as following.
![im

[2021-06-25 09:06] darrenj commented on #7448
Yes, this seems like a good way forward for now and give us time in R15 to think carefully about scenarios/patterns we want to support and those we want to encourage not!

Thanks all

[2021-06-25 12:32] BellaDunnett opened #8195 "Jumping between triggers in the same dialog"
It's not currently possible to jump between triggers within the same dialog. There's an option to 'Begin a dialog', but not to direct the user to a specific trigger within that dialog. It is also not possible to jump to a different trigger within the same dialog. This means that if a conversation flow ends and the user needs to be directed to a secondary conversation flow, this is only possible vi

[2021-06-25 14:27] jessthorne commented on #8126
![Uploading Screenshot 2021-06-25 at 15.27.14.png…]()

[2021-06-25 16:39] jessthorne commented on #8084
@dmvtech i am unable to make ${conversation.MSISDN.product_list} appear in different buttons, is this possible?

![Screenshot 2021-06-25 at 17 27 36](https://user-images.githubusercontent.com/49563377/123457867-46aa0100-d5dc-11eb-912f-479e3e0ae457.png)
![Screenshot 2021-06-25 at 17 25 22](https://user-images.githubusercontent.com/49563377/123457869-47db2e00-d5dc-11eb-9daa-27415115d881.png)

[2021-06-25 17:02] dmvtech commented on #8186
This issue can happen by creating a bot using the '**Core Bot with QnA Maker**' template or by adding a QnA KB trigger, _without_ creating or authoring the KB with questions. If you create questions, this should work.

With Composer, there are two general approaches/options to using QnA:
1) Create and author your KB from Composer. This is the recommended approach at this time. This will allow to u

[2021-06-25 17:05] taicchoumsft commented on #7696
Hey @goergenj , the double recognizer hit to LUIS (specifically LUIS) has been fixed by @cosmicshuai and @boydc2014  [here](https://github.com/microsoft/botbuilder-dotnet/issues/5593).  Thanks for reporting this and helping us to identify how it repro'd.

There is now a "Best Practices" [guide](https://docs.microsoft.com/en-us/composer/concept-best-practices?tabs=v2x), but it does not cover the re

[2021-06-25 19:20] v-kydela commented on #8072
@Dan-Bai - Okay, this explains the process you went through to figure out how to implement Blob Storage since it's undocumented, but I still need to know what your appsettings.json ended up looking like. You say you made a "BlobsStorage" object at the root level. Does that mean your appsettings.json looked like this?

[code]

Also, your repro steps don't mention your LUIS and QnA configuration, bu

[2021-06-25 19:28] Dan-Bai commented on #8072
@v-kydela My appsettings.json does look like that.

And yes, I added NLU credentials as well.

It could potentially be two problems. You are correct about those. From our userstate produced by v1.4.1 we are seeing *id*, *realId*, and *document* as part of the JSON object stored in userstate file.

[2021-06-25 19:37] #7448 closed

[2021-06-25 19:58] v-kydela commented on #8072
@Dan-Bai - I've come to understand that your storage configuration is only meant to be added through the automatic deployment process and isn't meant to be configured manually. Do you still encounter the same problems when you leave the storage configuration out of appsettings.json until you let the deployment process add it for you?

@joshgummersall - Could you please see if there's a problem in

[2021-06-25 20:10] gapmdq commented on #8128
Hi Srinaath
I'm not sure if I'm missing something but the skill is still receiving what the user input (turn.activity.text) and it is ignoring Activity value.
For example I typed "ticket", trigger the Skilldialog , the skill dialog connects to the skill sending the activity as you mention, but the skill it is still recognizing the input value.
Skill trace:
{
  "recognizerResult": {
    "text": "ti

[2021-06-25 20:27] Dan-Bai commented on #8072
@v-kydela By automatic deployment are you referring to starting the bot from Bot Composer, publishing the bot to Azure, or deployment with Azure DevOps? I still have the same problem when starting from Bot Composer, before I added the BlobsStorage configurations I was not getting any files in storage. After adding the configuration I started to see partial filled conversationstate files. My team i

[2021-06-26 01:18] stevkan commented on #8060
@Shivanitanwar, thank you for your patience while I looked closer at this. So, when I run your sample, this is the flow I'm experiencing:

1. Greeting trigger is activated
1. Dialog_A sends initial response, "Calling Dialog B here"
1. Dialog_A calls Dialog_B
1. Dialog_B present user with choice option (**Yes** or **No**)
1. When **Yes** is selected
    1. Response is sent, "Testing in Yes branch"

[2021-06-27 10:29] SharmaHarsh7 commented on #8002
@jwiley84  it is not working at all.

[2021-06-27 11:38] garypretty opened #8199 "Special chars in PVA topic name cause error when opening in Composer"
## Describe the bug

If a PVA topic contains special characters (such as quotes) and you attempt to open the PVA solution in Composer, the import proceeds, but an error is shown and the project will not open.

![image](https://user-images.githubusercontent.com/3900649/123542971-59d7e080-d744-11eb-8224-216ec9cb303c.png)

The topic was added to PVA via the Suggest Topics feature which imports QnA co

[2021-06-28 03:40] tohoku opened #8200 "Allow Repeating Chat Input from History (Similar to History in CL/Terminal)"
Inside the "Web Chat" window in Bot Framework Composer, it gets a bit tedious to retype text for testing purposes.

## Describe the solution you'd like

In the "Type your message" input field within the "Web Chat" window, it should be possible to use the `Up` and `Down Arrow` keys to cycle through the history of previously written input.

It should also be possible to use `Ctrl + A` to select all

[2021-06-28 06:43] anusharavindrar commented on #8137
Closing the issue. Feel free to re-open if issue persists.

[2021-06-28 06:43] #8137 closed

[2021-06-28 08:52] luhan2017 commented on #7852
@benbrown Could you help check if this still could be reproduced? I tested several times on my side, they were all working well.  Any thing special in your mind to reproduce this issue?

[2021-06-28 10:46] goergenj commented on #7696
@taicchoumsft Thanks for the update.

Regarding the local interruption handling we now adopted the guidance to add local triggers without actions to make sure the interruptions are handled correctly although it's not optimal from a maintenance perspective but it seems to work.

Regarding the best practices we have some working designs so we are good for now. Would be good to align on these however

[2021-06-28 16:44] #7807 closed

[2021-06-28 16:46] taicchoumsft commented on #7696
Closing this ticket, feel free to reopen if something still needs to be addressed.

[2021-06-28 16:46] #7696 closed

[2021-06-28 17:06] v-kydela commented on #8072
@Dan-Bai - I'm talking about [this](https://docs.microsoft.com/composer/how-to-publish-bot#create-new-azure-resources):

![image](https://user-images.githubusercontent.com/41968495/123676047-47b77a00-d7f8-11eb-9db6-937706e1e29c.png)

[2021-06-28 18:19] stevengum commented on #7974
Thank you @Karric for filing the issue. I'm closing issue as a solution was provided via @lauren-mills' reply: https://github.com/microsoft/BotFramework-Composer/issues/7974#issuecomment-852409986.

[2021-06-28 18:19] #7974 closed

[2021-06-28 18:29] stevengum commented on #8058
Closing issue as there has been no activity and a reproduction was not created by the engineering team.

@PriyankaJci if you are still running into this problem, please comment here and we'll reopen the issue.

[2021-06-28 18:29] #8058 closed

[2021-06-28 18:41] joshgummersall commented on #8072
@Dan-Bai, I just set up a brand new bot with Blob Storage. My (truncated for brevity) `appsettings.json` file looks like:

[code]

I created a dialog that sets `user.foo` to `"bar"` on `Microsoft.OnUnknownIntent` like so:
[code]

And I can confirm that both conversation and user state are persisted properly in Azure:

<img width="1449" alt="Screen Shot 2021-06-28 at 11 36 23 AM" src="https://user-

[2021-06-28 18:48] Dan-Bai commented on #8072
@v-kydela We aren't provisioning the from Bot Composer, it's done through our own terraform scripts.

@joshgummersall Thank you for the information, I will double check. What would I need to do to populate the dialogstack field in conversationstate?

[2021-06-28 19:15] Dan-Bai commented on #8072
@joshgummersall  @v-kydela Thank you for the help

[2021-06-28 19:15] #8072 closed

[2021-06-28 20:56] #7934 closed

[2021-06-28 21:15] beyackle commented on #7080
@mewa1024 The reason for the speed difference is that the tooltips on the left-side nav bar are actual Fluent Tooltip components, while the little boxes that pop up in the top bar are actually from the browser itself, displaying the alt-text.

[2021-06-28 21:49] aortiz1 opened #8202 "Validations not working on long user inputs"
## Describe the bug

## Version

Composer  1.4.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [* ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ *] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a bot application and add a text input.
2. On the validatation tab a

[2021-06-29 00:50] chrimc62 opened #8204 "Adding localization causes bad JSON"
## Describe the bug
When you create a dialog and add localization you get the JSON error below.

## Version

Version:  2.0.0-nightly.254897.cdf76b6
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

Steps to reproduce the behavior:

1. Click on left pane ... and add dialog "foo".
2. Got to "Configure your bot"/localization/Manage bot languages and add

[2021-06-29 00:58] srinaath opened #8205 "Cannot debug a bot with MsAppId and Pass"
## Describe the bug
Create a bot. Add an msappid and msapppassword. Start the bot. Try running it in Emulator or Integrated Webchat in Composer. It throws a 401 error.

## Version
Current Nightly on Composer. Composer 2.0 works totally fine.

## Browser
Both electron and web

[2021-06-29 01:04] chrimc62 opened #8206 "Deleting a dialog only deletes current language assets not all assets"
## Describe the bug

When you delete a top-level dialog in the left-nav all of the resources associated with it should be deleted.

## Version

Version:  2.0.0-nightly.254897.cdf76b6
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

The steps below describe how to trigger this with form dialogs.  It will also happen if you manually do things so it is

[2021-06-29 01:25] chrimc62 opened #8207 "Adding localization scrambles files"
## Describe the bug

When you add localization the directory structure changes when you have a more complex dialog which causes dangling language resources.

## Version

Version:  2.0.0-nightly.254897.cdf76b6
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

Steps to reproduce the behavior:

1. Enable form preview
2. Click on the form tab and add a f

[2021-06-29 01:31] chrimc62 commented on #8206
This is likely caused by #8207

[2021-06-29 01:39] tdurnford commented on #8205
I ran into a 500 error after I set the app id and password on my Mac - @srinaath is also on a Mac. @EricDahlvang was able to update the app id and password on Windows without any problems so the issue might be operating system dependent.

[2021-06-29 01:53] luhan2017 commented on #8205
I found another issue during the test, when I open the bot the first time, I didn't enter the password, I tried the webchat and emulator both not worked, which is expected. But after I enter the MicrosoftPassword, and restart the bot, the emulator works well, but webchat always responses with 401. There is probabaly an issue that webchat didn't update the appid and password after restarting the bo

[2021-06-29 02:04] pavolum opened #8208 "UI issues in the Development Resources tab within Bot Settings"
## Describe the bug

When you are navigating this view from a skill project, it defaults to using the root bots endpoints for luis and qna with the option to add custom keys for use by the skill alone.
![image](https://user-images.githubusercontent.com/22845013/123725387-e4066e80-d842-11eb-9c24-81d6c80c0141.png)
However once you click to add custom keys, the buttons no longer do anything and you c

[2021-06-29 06:07] VanyLaw commented on #7852
Can not reproduced too, can test it after this PR #8146

[2021-06-29 07:15] #4287 closed

[2021-06-29 08:08] SomervilleA commented on #8057
@cwhitten @GeoffCoxMSFT any update?

[2021-06-29 08:58] alishajain7 commented on #8162
Hi Dana,
In my current implementation I already am redirecting the intent to the right skill (Intent A invokes Skill A and Intent B invokes Skill B). In my case, in between a conversation (specific to skill A), user can enter the intent of Skill B. So since the intent gets directly sent to the Skill A in the middle of conversation (instead of going through composer - the root bot) , I need a way t

[2021-06-29 09:26] avkumar8 commented on #3746
I am also getting same error

Error calling npm to fetch template. Please ensure that node and npm are installed and available on your system. Full error message: Command failed with exit code 1:
npm install -g --prefix C:\Users\akuma948\AppData\Roaming\BotFrameworkComposer\.yo-repository --loglevel error --no-optional @microsoft/generator-bot-empty@*

Is there any workaround found?

[2021-06-29 11:46] heinrich-ulbricht commented on #2926
Chiming in as somebody experiencing the "dotnet build" error.

* Windows 10 21H1 (fresh Azure VM)
* built Composer from source (latest, main branch) according to those instructions: https://docs.microsoft.com/en-us/composer/build-composer-from-source
* got it running
* Create new -> Empty Bot

![image](https://user-images.githubusercontent.com/3469970/123791586-ecf94d80-d8df-11eb-8674-2c64f08f607f

[2021-06-29 13:11] heinrich-ulbricht opened #8211 "Build requires Node.js >=14 - but docs state otherwise"
## Describe the bug
According to the [documentation](https://github.com/microsoft/BotFramework-Composer/blob/main/docs/1.3-supported-os.md) building should succeed on Node.js 12.x and 10.x.

I tried building on Node.js 12 and got this error on `yarn install`:

[code]

Apparently this module requires Node.js >= 14. Is this intentional?

## Version

Latest main branch source

## Browser

Not there y

[2021-06-29 13:14] Dewain27 opened #8212 "User unable to add LUIS or QnA resource from composer"
## Describe the bug

 customer is using bot framework composer 2.0.0, when he tries to add LUIS for the project, he gets the login page, after successfully login.

he could see the azure directory and subscription, however the LUIS resource never displays like following:

while i dont have this issue in my lab, not sure if this is related with the sponsorship sub?

Please see ICM issue:
https://po

[2021-06-29 16:31] dmvtech commented on #8138
Closing as inactive. If you still are having issues, please comment on whether you can reach those schema URIs in a browser.

[2021-06-29 16:31] #8138 closed

[2021-06-29 16:43] srinaath commented on #8202
@aortiz1 Could you zip and share the bot assets.

[2021-06-29 16:45] aortiz1 commented on #8202
[TestLuisInput.zip](https://github.com/microsoft/BotFramework-Composer/files/6735041/TestLuisInput.zip)
@srinaath  here they are

[2021-06-29 16:48] srinaath commented on #8200
@garypretty Webchat actually support this as shown in the sample. https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/04.api/g.chat-send-history. Getting it to your vision to get a priority on it.

[2021-06-29 17:18] clearab opened #8213 "Enable Customer Managed Keys (CMK)"
The work would likely involve:
1.	Add ability for composer user to turn on the feature and specify the key url
a.	Consider having a key vault key picker (more user friendly but it’s more work)
2.	Pass the key url when creating/updating the bot
3.	Error handling/surfacing
a.	Failure: invalid key url, missing permissions
b.	If target subscription has policy to disallow non-CMK bot, composer should r

[2021-06-29 17:29] benbrown commented on #8188
@Dan-Bai - When you add your feed, did you specify any sort of filter on it? By default, Composer will only show packages tagged "msbot-component"

Are you using an npm *search endpoint*, or a static feed url?

[2021-06-29 17:32] clearab commented on #8213
Closing as duplicate of: https://github.com/microsoft/BotFramework-Composer/issues/5682

[2021-06-29 17:32] #8213 closed

[2021-06-29 17:33] clearab commented on #5682
@benbrown I'm assuming this is not getting done in R14, so I added it to the R15 milestone - does that align with your expectations?

[2021-06-29 17:44] Shivanitanwar commented on #8060
@Stevkan Thanks for your response. I was not sending any User Input once the turn was ended. I thought the flow would go ahead automatically and bot would send the response (without any user Input).

Basically it expects the User Input to resume the flow. Thanks @stevkan , this clarifies the behavior of End Turn for me now.

Just the last question I have in my mind and I am not sure if it is even

[2021-06-29 17:59] tonyanziano opened #8214 "Add auth support for PVA GCC High environment"
TODO:

- [x] Promote Composer AAD app to GCC High AAD
- [x] Add GCC app ID and base url to `PowerVirtualAgentsProvider.ts` and pva publish extension logic
- [x] Add logic to OneAuth wrapper that allows us to provide a different login URL: `https://login.microsoftonline.us/{tenantId}`
- [x] Verify e2e fllow (import & publish)

[2021-06-29 18:08] stevengum commented on #8117
@mohsenualam are you using a VPN and/or still running into the `ReferenceError`?

[2021-06-29 18:25] jmyers82 commented on #8188
I am seeing the same result in terms of what templates I see from inside an enterprise network. no filter applied.

[2021-06-29 18:44] chrimc62 opened #8215 "LU intellisense does not support imported definitions"
## Describe the bug

When you have an LU file that includes other LU files, the intellisense in the code view of LU does not work.  This shows up in form generation, but will also be an issue for any both that factors into multiple LU files.

## Version

Version:  2.0.0-nightly.254897.cdf76b6
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

Steps to

[2021-06-29 18:53] chrimc62 opened #8216 "Imported LU files show in left nav only for the top LU file"
## Describe the bug
If you have a top-level LU file which includes another file, the included file will appear in the left nav below the top-level LU file.  If that file then includes other LU files they will appear in the left nav as siblings which is confusing at best.

As you can see in the below coffee.en-us.lu imports coffee-definitions.en-us.lu which imports all the other files.  They are al

[2021-06-29 19:23] tonyanziano commented on #8051
@victorlamana on Windows, you would take this link and paste it into the "Run" program:

![image](https://user-images.githubusercontent.com/3452012/123855327-a3efcc00-d8d4-11eb-8ba7-2dff8fca0b6e.png)

This can be accessed with `Win + R` but it would have the same effect as pasting the URL into your browser address bar like Chris suggested.

If you go to your browser or the Run window, and enter `b

[2021-06-29 19:40] srinaath commented on #8051
In addition, @victorlamana. Can you open "Registry Editor" in Window and navigate to the path shown in the snapshot`Computer]HKET_CLASSES....\command` . The path registered in the data column should be the path where Composer exe is present. If not, the installation for Composer was completely performed. Could you try a different installation configuration (Only for me vs all users during Composer

[2021-06-29 19:44] beyackle commented on #8166
I've linked https://aka.ms/composer-abs-quickstart to that URL in the docs.

[2021-06-29 20:13] benbrown commented on #8188
@jmyers82 so do you mean you are not experiencing the same problem as @Dan-Bai?

[2021-06-29 20:34] victorlamana commented on #8051
Hello Guys. I think it is something related to my computer.

I installed both programs on my personal desktop and they opened properly by the run function and through the Virtual Agents page.

By typing "bfemulator://" on my personal computer it opens the emulator, however it doesn't work on my work PC...

@srinaath  Sorry, I can't try that right now on this computer because I need ADMIN user. As

[2021-06-29 20:39] srinaath commented on #8051
Thanks @victorlamana . Great to hear you are using the framework!

https://stackoverflow.com/questions/tagged/botframework. We have a stack overflow group with very fast response to `how to` queries as well. Github and Stackoverflow are the best way to reach us.

[2021-06-29 20:39] #8051 closed

[2021-06-29 21:03] benbrown commented on #8118
This was due to out of date data in Scott's config file. This feed should not be present for users who did not consume the nightly builds pre-2.0

If this occurs to others, the solution is to delete the Package Manager preferences found in the `~/BotFrameworkComposer/extension-data/package-manager.json` file.

[2021-06-29 21:03] #8118 closed

[2021-06-29 21:04] benbrown commented on #8212
@Dewain27 is there a way for us to get access to a "Sponsorship sub" to see if we can recreate this issue? It may be a permission issue as @luhan2017 mentioned in the ICM.

[2021-06-29 21:21] benbrown commented on #7028
A fix for this is in #8219! thanks for reporting this @tomlm

[2021-06-29 21:41] dmvtech commented on #8022
Thank you @Jin825

We're still looking into this. Stand by.

[2021-06-29 21:57] JaskeeratBedi-cmk commented on #8063
The Runtime Type selection needs to be preselected to the recommended runtime type. Based on team's feedback, Azure Web App is the recommended choice that needs to be pre-selected.

[2021-06-29 22:44] mohsenualam commented on #8117
I am not using VPN and still having same issue.

On Tue, Jun 29, 2021, 11:08 AM Steven Gum ***@***.***> wrote:

[2021-06-29 23:19] #8029 closed

[2021-06-29 23:38] dmvtech commented on #8202
Thanks @aortiz1

It seems as though there is an issue with accepting large text (Greater than 500 characters) in a prompt within the Greeting trigger. I can take validation out of it and it still reproduces.

@srinaath Can we connect on this? Looks like a bug. Just not sure where.

[2021-06-30 00:31] #7977 closed

[2021-06-30 02:35] t-yuchenqian commented on #8132
Resolved.

[2021-06-30 02:35] #8132 closed

[2021-06-30 06:47] luhan2017 opened #8226 "WebChat doesn't work if I update the MicrosoftAppId and MicrosoftPassword and restart my bot"
## Describe the bug

It happens in both nightly and v2.0.

Here is the steps to reproduce this issue:

1. open a bot with MicrosoftAppId and MicrosoftPassword set to empty string, start the bot, it works as expected.
2. set a valid MicrosoftAppId and MicrosoftPassword, and restart the bot. The expected behavior is bot also work well.
But actually I got such error:
![image](https://user-images.gith

[2021-06-30 09:07] tohoku commented on #8200
@srinaath @garypretty Thank you for considering this. It would be easier to select from history, as during development you tend to type the same input over and over again.

[2021-06-30 09:57] #2010 closed

[2021-06-30 09:57] yeze322 commented on #2010
deprecated

[2021-06-30 09:57] yeze322 commented on #3673
Dong please triage if it's still necessary and reassign, thanks!

[2021-06-30 09:59] yeze322 commented on #6014
@luhan2017 please triage and reassign, thanks!

[2021-06-30 10:00] yeze322 commented on #6513
@luhan2017 please triage and reassign, thanks!

[2021-06-30 14:07] #8205 closed

[2021-06-30 16:19] GeoffCoxMSFT commented on #8063
@JaskeeratBedi-cmk  - This is the wrong issue.  This is the OS one, not the runtime type one.  I'll find the other and reactivate :)

[2021-06-30 16:19] #8063 closed

[2021-06-30 16:39] srinaath commented on #8202
@aortiz1 Is this .NET SDK bot? If so could you try with a JS bot and see if you are able to replicate the issue?

[2021-06-30 16:41] #7898 closed

[2021-06-30 16:48] pavolum commented on #7908
Issue was not resolved. Initially it seems like an easy fix to just update the version of react-markdown however that leads to dependency hell as the newer version of react-markdown has dependencies that conflict with other dependencies.

[2021-06-30 16:53] aortiz1 commented on #8202
@srinaath I used Composer to build it, we had this issue on a project also made with Composer.

[2021-06-30 17:22] GeoffCoxMSFT commented on #7899
@benbrown - Since you took on Auth, I assume you are handling the test coverage around it too?

[2021-06-30 18:51] srinaath commented on #8226
@luhan2017 Trying it on latest main after https://github.com/microsoft/BotFramework-Composer/pull/8227. Im not able to repro the error. Let me know if i can close it.

[2021-06-30 19:06] jmyers82 commented on #8188
I AM experiencing the same issue.  I only see 1 template when starting the bot from inside an enterprise network. my GUESS is that there is a directory in a repo somewhere that it will pull these templates from and our proxy or firewall is blocking it?

[2021-06-30 19:16] benbrown opened #8230 "Can we offer an upgrade path for the runtime package?"
Currently, the `Microsoft.Bot.Builder.Dialogs.Adaptive.Runtime` is visible in the Package Manager "installed" list, but is not independently upgradeable because it does not appear in the main feed from which available updates are listed.

This means that developers must manually update their .csproj or package.json files to point to the newest runtime to get the latest SDK bits.

Can we update Pac

[2021-06-30 19:22] benbrown commented on #8188
@jmyers82  - The templates and packages are pulled in from NPM and Nuget via feeds.  Do you have access to npm from inside our firewall?

[2021-06-30 19:28] jmyers82 commented on #8188
okay thats good to know. do we know all of the packages that are required?  so we can have those opened up on our end.  Thanks.

[2021-06-30 19:35] benbrown commented on #8188
Templates are pulled from NPM using a feed URL like this:
https://registry.npmjs.org/-/v1/search?text=generator+keywords:bf-template+scope:microsoft

It then pulls down the appropriate generator based on your selection and creates the project.

For components in package manager, we use similar feeds.  For C# components, we use the Nuget search API:
https://api.nuget.org/v3/index.json

And for JS,

[2021-06-30 19:38] #7978 closed

[2021-06-30 19:51] dmvtech commented on #8202
This seems to be an issue with utterance length.

https://github.com/microsoft/botframework-sdk/blob/877a9a63d811172073605cc964043d0daffa1581/parsers/LU/JS/packages/lu/src/parser/utils/enums/CLI-errors.js#L60

Moving this to the SDK repo for further work.

[2021-06-30 19:51] jmyers82 commented on #8188
Perfect.. I will get our folks working on that. To be clear... there is no way in bot framework composer yet to tell it which repository to point to right?  e.g. we have our own artifactory where we could get packages from, but bfc (bot framework composer) by default looks at nuget.  we can't control that yet?

[2021-06-30 21:54] stevkan commented on #8060
@Shivanitanwar, there isn't any way that I'm aware of or could easily find. For clarity, what are you trying to accomplish by ending the turn in on branch but still wanting the flow to continue without user input? It may be simpler to just end the dialog at that point if there is nothing else to happen for the user. Or, if there is then to call another dialog that performs the additional actions y

[2021-06-30 22:41] chrimc62 opened #8234 "Composer relies on the presence of $designer"
## Describe the bug

Composer gets an error if a dialog does not have $designer property.  Composer should not rely on anything in $designer or it will not be able to look at existing assets or generated assets like in form generation.  Even worse once it happens you can never get the right pane back without reloading the bot.

## Version

Version:  2.0.0-nightly.255657.9d2aeef
Electron: 8.2.4
Chr

[2021-06-30 22:43] tonyanziano commented on #7948
This was addressed in #8151

[2021-07-01 00:04] #8234 closed

[2021-07-01 00:29] mewa1024 commented on #7192
I get the same behavior as Darren on 2.0.0-nightly.255657.9d2aeef, namely if I switch from the default recognizer to Orchestrator my _existing_ trigger phrases with entities do not show a warning. The warning is only triggered when I start editing the trigger phrases.

The reverse is also true: If I am using Orchestrator and have entities in my trigger phrases, I see the warnings. If I then switch

[2021-07-01 00:29] mewa1024 commented on #7192
(removing UX design label)

[2021-07-01 00:40] boydc2014 commented on #8226
I can still repro it in latest main @srinaath . The issue is, it seems like the webchat control init it's config only once from the bot settings, and after that no matter how we update the settings, the webchat seems to be unable to reflect that change

[2021-07-01 00:53] dawwa opened #8239 "Navigation Pane: Sort the items"
The new added item is always at the bottom, and make it hard to organize things - wanted to come up some prefix convention  to make the assets more organized, e.g.,

[code]
instead of
[code]

![image](https://user-images.githubusercontent.com/44714043/124043737-90ba2a80-d9c0-11eb-8e7f-cb0a42387a1a.png)

[2021-07-01 01:00] dawwa opened #8240 "Trigger Name: Inconsistent about whether Spaces and special characters are allowed or not"
## Describe the bug
Spaces and special characters are not allowed when creating a Trigger, but are allowed to modify with Spaces and special characters.

![image](https://user-images.githubusercontent.com/44714043/124049063-90279100-d9cc-11eb-8439-9321bd1b3813.png)
![image](https://user-images.githubusercontent.com/44714043/124049174-c06f2f80-d9cc-11eb-8050-ccb964e7859f.png)

## Version
2.0

## OS

[2021-07-01 02:17] mewa1024 commented on #7017
Related to #7028 (@emivers8 able to tackle both issues with one redesign?)

[2021-07-01 02:27] mewa1024 commented on #6968
closing as dupe (more or less) or #7118

[2021-07-01 02:27] #6968 closed

[2021-07-01 02:33] mewa1024 commented on #6961
Dupe of #6967?

[2021-07-01 02:42] mewa1024 commented on #6960
the underlined letters are the Windows shortcuts Chris is talking about:
![image](https://user-images.githubusercontent.com/39317542/124056820-45f9dc00-d9db-11eb-8bc4-2bed360e4baf.png)

[2021-07-01 04:49] mewa1024 commented on #6959
Updated the menus to include Alt key shortcuts per #6960:

![image](https://user-images.githubusercontent.com/39317542/124066006-bbba7380-d9ec-11eb-8825-b147a9cdec90.png)

Figma file: https://www.figma.com/file/DQ8xiC9VMfPX0nb0MBmOIs/Composer-audit-mewa?node-id=406%3A407

[2021-07-01 04:50] mewa1024 commented on #6960
Adding designs for the Alt key shortcuts to design attached to #6959. Closing this issue as a dupe.

[2021-07-01 04:50] #6960 closed

[2021-07-01 04:53] mewa1024 commented on #6957
(Removing the "UX Design" label since it sound like this is an Electron issue that needs no additional design work. Please @ mention me if that is not the case.)

[2021-07-01 04:57] mewa1024 commented on #6937
The UX behavior described in #7805 should fix this issue as well. Closing this as a dupe.

[2021-07-01 04:57] #6937 closed

[2021-07-01 05:09] mewa1024 commented on #6767
Does this issue refer to the "Token property" field or the "Default value" field?
![image](https://user-images.githubusercontent.com/39317542/124068614-ad218b80-d9ef-11eb-9bbf-958e0c439af5.png)

It looks like the ports referenced above affect the "Token property" field. Is the "Default value" example still incorrect? If so, what should it say?

[2021-07-01 05:17] mewa1024 commented on #6327
Good feedback and we should consider this. As reference PVA's branching looks like this:

![image](https://user-images.githubusercontent.com/39317542/124069382-ee666b00-d9f0-11eb-80d6-70ea7f0486ae.png)

[2021-07-01 05:28] mewa1024 commented on #6281
(@vivekkshankar related to both the trigger workflow and the custom actions?)

[2021-07-01 05:41] mewa1024 commented on #6246
Can we add a column to the home page for the description? In the area outlined in the purple box:
![image](https://user-images.githubusercontent.com/39317542/124071435-27540f00-d9f4-11eb-8103-8e0e82ab108d.png)

(@emivers8 should this also appear on the Configure page?)

[2021-07-01 05:52] mewa1024 commented on #6176
Not sure if this was fixed, but this is the current dropdown:
![image](https://user-images.githubusercontent.com/39317542/124072645-e4933680-d9f5-11eb-86ff-680176a03639.png)

[2021-07-01 06:22] #7948 closed

[2021-07-01 10:04] #7901 closed

[2021-07-01 10:09] luhan2017 commented on #8212
@benbrown, there are the cases that one developer doesn't have the permission to all the resources under the subscription (they may have the permission only for his own resource group.)  @zhixzhan had a PR to fix this issue, #8160 . The fix is that we just ignore and don't show the resources which user have no permissions to list keys. This fix applies both for luis and qna.

[2021-07-01 14:39] #8211 closed

[2021-07-01 15:19] srinaath commented on #7995
The PR has been merged. The lates nightly should have the bump in Webchat.

[2021-07-01 15:19] #7995 closed

[2021-07-01 15:27] srinaath commented on #7986
The variable picker widget shows all the required properties to wrap up our R14 commitments. Moving the outstanding P1 item to R15 milestone,

[2021-07-01 15:40] #7765 closed

[2021-07-01 15:43] srinaath commented on #7765
The solution done for R14 is a temporary fix in which we added a retry mechanism to counter conflicting bots as well as assigning the port to the LocalPublisher.runninBots object immediately after finding a port rather than waiting for the runtime.build module to complete. In R15, we need to revisit the way we assign ports to the bots. The solution would be to get all the available ports and assig

[2021-07-01 16:35] srinaath commented on #8240
@dawwa Good catch. Essentially, the name of the trigger entered during trigger creation is actually the ID. The name that you edit from the form editor is the "display" name. It seems a bit confusing looking at the UI. @mewa1024 .

[2021-07-01 16:40] srinaath commented on #8239
@mewa1024  and @garypretty the project tree structure is currently rigid without allowing any ability to sort and search. Could we look into adding these features in the project tree.

[2021-07-01 16:44] #7903 closed

[2021-07-01 16:50] srinaath commented on #8022
@Jin825 A couple things you can try to help us debug this issue.
1. Could you try doing a global install of any npm package using the `npm -g` syntax in you command line.
2. Could you try the above command that is erroring out directly in the command line and see if there is any difference between running as admin vs running as a user.

[2021-07-01 17:03] dmvtech commented on #8195
Hi @BellaDunnett I apologize for the delay.

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

However, let me

[2021-07-01 17:47] dawwa commented on #8240
I guess maybe we could consider enforcing a read only display name composed with the Id supplied by user for each item type, so users don't need to worry about Display name at all, even better, we could have dedicate icon for each item type in the Project Tree to make the clearer and more concise visual , similar to what the `Solution Explorer` looks like in `Visual Studio`.

[2021-07-01 17:48] emivers8 opened #8243 "UI fixes for new auth experience"
1. Error code copy. Get a list of potential error code so we can provide user friendly copy OR, if we determine those aren't useful to the user, just have copy say, "Sign in failed. Please try again."

![image](https://user-images.githubusercontent.com/55601267/124167838-315c2900-da59-11eb-882e-db4b9e1c1f5b.png)

2. Copy should say "sign in", no hyphen. (Azure's convention.) Also, the failure noti

[2021-07-01 17:49] Todd442 opened #8244 "Publishing Profile - Add New - Import missing JSON attribute for LUIS"
## Describe the bug

Adding a new publishing profile to a project, select import, JSON schema generated is missing an attribute need to deploy SUCCESSFULLY with LUIS.

## Version
2.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ 93.0.926] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. select publish

[2021-07-01 18:00] garypretty opened #8245 "Add telemetry event for user opting in or out of telemetry."
## Describe the feature

Log a new telemetry event when someone opts in or out of telemetry when presented within the initial modal dialog.

Event should be called **TelemetryOptInOut** and add a custom property should be added to the event called **enabled** -  which is set to true if they opt in and false if they opt out.

If the user opts in then we can send any cached events (handoff / session

[2021-07-01 18:12] JonathanFingold opened #8246 "Add ability to test an HTTP request from Composer without the bot running"
## Is your feature request related to a problem? Please describe.

Not precisely. I'd like to verify I have a valid HTTP request configured without needing to run the bot, which would add other complicating factors.

## Describe the solution you'd like

Some way to test the HTTP request from within Composer, filling in variable references as necessary.

## Describe alternatives you've considered

[2021-07-01 19:17] victorlamana opened #8249 "Provision failure - App create failed!"
## Describe the bug

Hello Microsoft Team! Could you please help me on this issue?
Thanks a lot!

Provision failure
{"name":"CREATE_APP_REGISTRATION","message":"App create failed! Please file an issue on Github.","stack":"Error\n at new CustomizeError (C:\\Program Files\\Bot Framework Composer\\resources\\app.asar.unpacked\\extensions\\azurePublish\\dist\\extension.js:255547:25)\n at createCustomi

[2021-07-01 21:03] mishrapratyush opened #8251 "Exception thrown when handling json response from a http call in NodeJS"
## Describe the bug

Exception is thrown when trying to handle json response from a http call. This happens on NodeJS. Same code on C# seems to be working fine.

## Version

Composer Version v2.0.0-nightly.255969.45d2dd7
using NodeJS - Core with Language template as a starting point.

## Bot Framework Emulator Version:
4.12.0

## OS
- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to

[2021-07-01 21:28] #8166 closed

[2021-07-01 21:50] #8135 closed

[2021-07-01 22:26] tdurnford commented on #8245
At the moment, the user id is added to the Application Insights envelope right before the event is sent. There is a mechanism to filter out PII; however, this filter is applied to every telemetry event.

If we want to remove certain properties likes the user id based on the telemetry event and the given properties, we'll have to add a new mechanism to avoid writing custom logic. I propose we add a

[2021-07-01 23:30] mewa1024 commented on #8239
@lauren-mills I think you mentioned that this would be useful for the prebuilt templates as well.

[2021-07-02 01:13] mewa1024 commented on #6143
Yes, agree with this feedback.

[2021-07-02 01:30] mewa1024 commented on #6108
Looks this has been fixed. On Windows:
![image](https://user-images.githubusercontent.com/39317542/124207462-6dfc4480-da9a-11eb-89ac-e2c441f60edc.png)

[2021-07-02 01:31] #6108 closed

[2021-07-02 01:42] mewa1024 commented on #5994
@hcyang is this still an issue? Is the Orchestrator model still being saved to %APPDATA%\BotFrameworkComposer\models?

[2021-07-02 01:46] mewa1024 commented on #5974
Closing since no longer relevant in Composer 2.

[2021-07-02 01:46] #5974 closed

[2021-07-02 01:55] mewa1024 commented on #5766
(Note to self: are these Monaco editor controls? not sure how much control we have over this)

[2021-07-02 01:58] mewa1024 commented on #5764
Design referenced in #5526 addresses this:
![image](https://user-images.githubusercontent.com/39317542/124209390-4c9d5780-da9e-11eb-801b-14dfb3596a8c.png)

Closing this as dupe.

[2021-07-02 02:11] mewa1024 commented on #5684
@boydc2014 is this issue still relevant? Do we need UX in the Configure page (or elsewhere) to reflect the change in #6549?

[2021-07-02 02:14] mewa1024 commented on #5680
No longer relevant.

[2021-07-02 02:14] #5680 closed

[2021-07-02 02:17] mewa1024 commented on #5678
(@JaskeeratBedi-cmk fyi, although not sure if this is still up to date)

[2021-07-02 02:24] mewa1024 commented on #5526
Design solution is to have a contextual menu (vertical dots). The icon (vertical dots) appear when you hover or click on the row. The context menu includes:
- Save as a new project
- Remove from list
- Reveal in explorer

![image](https://user-images.githubusercontent.com/39317542/124211213-98053500-daa1-11eb-8078-83b83302cc49.png)

(Removing "UX design" label since the design is ready.)

[2021-07-02 02:40] luhan2017 commented on #8249
@victorlamana , it usually happens when the graph token is not valid, could you double check if you input a valid graph token?

![image](https://user-images.githubusercontent.com/32191031/124212586-ccb8d100-db21-11eb-9a29-f5a18336c7d8.png)

[2021-07-02 07:15] #7852 closed

[2021-07-02 07:15] #7864 closed

[2021-07-02 07:16] hcyang commented on #5994
@taicchoumsft, please comment.

[2021-07-02 10:42] SomervilleA commented on #8057
@cwhitten any update?

[2021-07-02 16:18] mewa1024 commented on #5272
(assigning back to you, @xiyangdesign, as the forms expert! :) )

[2021-07-02 16:24] victorlamana commented on #4211
I'm having the same issue...started happening right after I trained a model on LUIS

[2021-07-02 16:33] victorlamana commented on #8249
hello @luhan2017 i never saw this screen on Composer. I'm not sure if we're talking about the same thing:

![image](https://user-images.githubusercontent.com/52974336/124304379-fd0c6980-db39-11eb-8869-5b13150824b6.png)

My error happens when creating a publishing profile through this screen

![image](https://user-images.githubusercontent.com/52974336/124304457-1dd4bf00-db3a-11eb-903d-878134a73163.

[2021-07-02 16:42] victorlamana commented on #5354
I don't understand, if we need LUIS.AI to help training the bot, why after using it the Bot stops working on Framework Composer? This needs to be fixed, I've just ran into this problem and it's sad to hear that I'll have to lose all my work LUIS to this point..

[2021-07-02 16:52] mewa1024 commented on #5194
(@vivekkshankar is this still relevant in the new flow?)

[2021-07-02 17:04] tdurnford opened #8253 "[adaptive-flow] Begin Skill action is not rendering correcting in the Visual Editor"
## Describe the bug
Begin Skill action is not rendering correctly in the Visual Editor. See screenshot below.

## Version
Latest nightly

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Add a 'Begin Skill' action

## Screenshots
![image](https://user-imag

[2021-07-02 17:20] mewa1024 commented on #5183
Describing the issue in a different way:

1. If you have a bot project and one of the bots has an error, the "**Start all bots**" control is disabled.
2. You can still start individual bots via the project tree, but the controls to test in Web Chat or in Emulator are only available in the "**Local bot runtime manager**":
3. When the "**Start all bots**" control is disabled, the button for opening

[2021-07-02 17:27] anusharavindrar commented on #8057
@SomervilleA, I just tried the steps on v2.0.0 and I didn't encounter any issues. Do you get any additional error on the Dev Console(Click on `View` > `Toggle Developer Tools`) when you try to add a new publishing profile and sign in to Azure? Also, one more thing to try is to re-install the v2.0.0 and see if you still get the error.

[2021-07-02 17:31] mewa1024 commented on #5168
Looks like this has been fixed:
![image](https://user-images.githubusercontent.com/39317542/124310142-9f1f5800-db20-11eb-9095-7fa062abb418.png)

Name truncates to make room for error/warning icon and ... (more button) remains visible at rest when this happens.

[2021-07-02 17:31] #5168 closed

[2021-07-02 17:39] mewa1024 commented on #5166
closing as dupe of #7397

[2021-07-02 17:39] #5166 closed

[2021-07-02 17:43] mewa1024 commented on #5160
Fixed in Composer 2.0.

[2021-07-02 17:43] #5160 closed

[2021-07-02 17:44] mewa1024 commented on #5158
note to self: how the UI handles "sections" in .lg files is still an issue.

[2021-07-02 17:52] victorlamana commented on #8249
{
  "profileName": "Azure-LAB",
  "jobId": "2d6fe7e4-8891-404d-bdaa-8bba985238bb",
  "projectId": "88677.19435279138",
  "time": "2021-07-02T17:50:22.042Z",
  "log": [
    "Creating Azure resources...",
    "Checking the Existence of the Resource Group ...",
    "Use the Resource Group: ldc-covid-aid at northeurope",
    "> Creating App Registration ...",
    "App create failed, retrying ...",

[2021-07-02 18:18] mewa1024 commented on #5156
closing as a duplicate of #8115

[2021-07-02 18:18] #5156 closed

[2021-07-02 18:21] mewa1024 commented on #5155
(pro of OS file picker over custom one: built in searching and sorting)

[2021-07-02 18:34] mewa1024 commented on #5152
resolved by redesign for Composer 2.0.

[2021-07-02 18:34] #5152 closed

[2021-07-02 18:43] mewa1024 commented on #5136
Screenshots from 2.0:
![image](https://user-images.githubusercontent.com/39317542/124316414-6c7a5d00-db2a-11eb-9c18-5dc705f77fcb.png)

In the modal text, "related files" implied to me other bots in the project folder, but those were not removed:
![image](https://user-images.githubusercontent.com/39317542/124316536-96338400-db2a-11eb-9d04-12b37a6f6a7b.png)

[2021-07-02 18:45] mewa1024 commented on #5136
Related to #7616 and #6808.

[2021-07-02 18:51] mewa1024 commented on #5135
Similar feedback in discussion #7183. Adding this to fit-and-finish EPIC #8107.

[2021-07-02 18:56] mewa1024 opened #8254 "Action node UI improvements for scalability"
### Discussed in https://github.com/microsoft/BotFramework-Composer/discussions/7333

<div type='discussions-op-text'>

<sup>Originally posted by **mewa1024** April 23, 2021</sup>
**Issues:**
- it's long and hard to find things
- some items in appear in multiple categories (e.g., OAuth)
- there is no distinction between native actions and actions added by packages

**Suggestions:**
- add a search

[2021-07-02 18:59] victorlamana opened #8255 "BUG "Luis build failed: Cannot read property 'utterances' of undefined" after training on LUIS.ai"
## Describe the bug

Hello! I'm sorry to open another ticket despite having another one opened for another issue, but this one seems like a bigger problem.

When I create any bot (both C# and Node.js) on Composer, if I create the apps on luis.ai through composer (by creating dialogs and entities) as shown on the picture below:

![image](https://user-images.githubusercontent.com/52974336/124317458-

[2021-07-02 19:15] #8226 closed

[2021-07-02 19:34] deon1010 opened #8256 "I cannot open my advanced settings in bot composer. After the new update whenever I click to view my bots Json file it will only be displayed in a tiny strip and I cannot edit it in any way."
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-07-02 20:47] mewa1024 commented on #5114
Similarly, turning off early adopters to revert back to a major release gives the user no feedback or confirmation. A message in either telling the user that closing and reopening Composer will update/revert would be useful.

[2021-07-02 21:27] mewa1024 commented on #5081
Related to #7116, #7733, #7582

Added to epic #8108

[2021-07-02 22:00] mewa1024 commented on #5009
Looks like this has been fixed:
![image](https://user-images.githubusercontent.com/39317542/124332390-3a76f400-db46-11eb-8eab-a3a9e8bbf5ea.png)

[2021-07-02 22:00] #5009 closed

[2021-07-02 22:23] mewa1024 commented on #4335
This has been addressed in Jas's menubar designs. Here is a snippet from the Figma mockup:
![image](https://user-images.githubusercontent.com/39317542/124333534-59c35080-db49-11eb-8c9e-f25a10013d4c.png)

https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-s-files?node-id=3737%3A48

[2021-07-02 22:26] mewa1024 commented on #4335
Closing is this is addressed in #6959

[2021-07-02 22:26] #4335 closed

[2021-07-02 22:26] mewa1024 commented on #6959
Also reported in #4335

[2021-07-02 22:39] mewa1024 commented on #7760
Example from VS Code:
![image](https://user-images.githubusercontent.com/39317542/124334301-8a0bee80-db4b-11eb-82de-c0ba02526c4d.png)

https://user-images.githubusercontent.com/39317542/124334323-9b54fb00-db4b-11eb-8904-8ca7021af59d.mov

Can we follow this behavior?

[2021-07-02 22:48] mewa1024 commented on #4096
related to #4097

[2021-07-02 22:54] mewa1024 commented on #4103
Combined #3950 with this one. Design solution should address both.

[2021-07-02 22:59] mewa1024 commented on #7714
Hmm. When multiple items are selected and some are ON and some are OFF, I think the toolbar command should say "Enable" which will turn them all on. I don't think users should expect to be able to have a toggle that switches each individual item to its opposite state.

[2021-07-02 23:03] mewa1024 commented on #3950
Copied this feedback into #4103. Closing this issue.

[2021-07-02 23:03] #3950 closed

[2021-07-02 23:05] mewa1024 commented on #3926
Looks like Sang's fix was never implemented. Screenshot from Composer 2.0:
![image](https://user-images.githubusercontent.com/39317542/124335496-55019b00-db4f-11eb-9f44-81f7dd627cba.png)

[2021-07-02 23:17] mewa1024 commented on #3747
(seems like another workaround could be for each collaborator to use a different subscription. In any case, the underlying issue seems to be that how Composer interacts with LUIS is largely hidden from the user. Instead of being a seamless experience, it is confusing.)

[2021-07-02 23:27] mewa1024 commented on #3734
Yes. The context menu should have
- Cut
- Copy
- Move
- Delet
- Disable (for nodes that are enabled. If the node is disable, the Enable control should be visible)

Same feedback as in #3950 and #4103. Closing those issues.

[2021-07-02 23:28] mewa1024 commented on #4103
Captured in NODE CONTEXT MENU: Add actions to Cut, Copy, Move, Delete, and Disable/Enable #3734, so closing.

[2021-07-02 23:28] #4103 closed

[2021-07-02 23:35] mewa1024 commented on #3513
Closing as dupe of
- #6959

[2021-07-02 23:35] #3513 closed

[2021-07-02 23:39] mewa1024 commented on #3495
Closing for lack of information.

[2021-07-02 23:39] #3495 closed

[2021-07-02 23:47] mewa1024 commented on #3469
(@emivers8, although this bug is old, I think this still applies to the new creation flow)

[2021-07-02 23:53] mewa1024 commented on #3419
Implemented in R14, see #7977 for details.

[2021-07-02 23:53] #3419 closed

[2021-07-03 15:31] #7911 closed

[2021-07-03 16:23] srinaath commented on #8245
@tdurnford I like the elegant approach to decide what properties to include/not include based on the event type and would be the ideal solution we shoot for, but i feel for R14 we could settle for a simple exclude PII property for this TelemetryOptInOut event name alone.

[2021-07-03 16:39] srinaath commented on #8253
@a-b-r-o-w-n Im seeing this bug post https://github.com/microsoft/BotFramework-Composer/pull/8191 merge of the Comments work. Could you take a look at this regression?

[2021-07-04 06:44] mewa1024 commented on #3357
Appears to be working in Composer 2.0. Screenshot shows the dialog that appears when you explicitly select Help > Check for updates while auto-update is also selected:
![image](https://user-images.githubusercontent.com/39317542/124375721-8023e180-dc58-11eb-96db-e2c18f988b63.png)

[2021-07-04 06:44] #3357 closed

[2021-07-04 06:47] mewa1024 commented on #2513
addressed with template-specific rocket ship menus and updated product tour.

[2021-07-04 06:47] #2513 closed

[2021-07-04 07:04] mewa1024 commented on #2375
Is this the same as Microsoft.GotoAction in the sdk.schema?

[code]

[2021-07-04 07:11] mewa1024 commented on #2086
for reference, this is the screenshot of the modal that appears when you click on anything other than the teaching bubbles:
![image](https://user-images.githubusercontent.com/39317542/124376532-3fc66280-dc5c-11eb-817d-0912610f300b.png)

[2021-07-04 07:20] mewa1024 commented on #2044
Is a visual design still needed for EditActions? Also, are there other actions in the SDK that need nodes? I saw these in the SDK docs but couldn't find their counterparts in the node menus:
	•	CancelDialog
	•	UpdateActivity
	•	DeleteActivity
	•	GetActivityMembers
	•	GetConversationMembers

[2021-07-04 07:37] mewa1024 commented on #1741
Is this the same issue as #6291?

You can rename a dialog in the UI via the form editor (aka property pane), but that just changes the name field in the designer. For example, I renamed my dialog from "test2" to "test1234":

![image](https://user-images.githubusercontent.com/39317542/124377232-d6e0e980-dc5f-11eb-8df7-3eb6dcef95bc.png)

But my .dialog file still has the old name:
![image](https://u

[2021-07-04 07:39] mewa1024 commented on #6291
(Is #1741 a dupe of this issue?)

[2021-07-04 07:44] mewa1024 commented on #1725
related: #1724

[2021-07-05 10:28] #2654 closed

[2021-07-05 12:52] BellaDunnett commented on #8195
@dmvtech Thank you, would you be able to see if there is a workaround for this scenario? Or if there is a bug?

[2021-07-05 15:42] RicardoNeto opened #8258 ""InputDialog is missing Prompt" appears when inserting the code from OAuth authentication"
I built a bot with OAuth authentication and everything works smoothly on Bot Emulator and WebChat (On Azure Portal).

But unfortunately, when i try to use the webchat channel outside Azure Portal i get a "Input Dialog is missing Prompt" when i need to insert the validation code from the login page.

workflow goes like this:
1. Prompt for login
2. Press Login button
3. new tab opens to do the login

[2021-07-05 16:08] dmvtech commented on #8256
@deon1010 Would you be able to provide a screenshot of the issue?

[2021-07-05 18:18] JonathanFingold commented on #6767
@mewa1024 - The issue was opened for the **Token** property's example value, which become visible once you edit and delete its default value:
**Token** default value:
![image](https://user-images.githubusercontent.com/35047199/124506989-ae511080-dd81-11eb-98f7-90b62a289a6a.png)
**Token** example value:
![image](https://user-images.githubusercontent.com/35047199/124507017-bf9a1d00-dd81-11eb-9d87-47

[2021-07-05 19:11] VamsiModem opened #8259 "Incident 246896943 : [CSS][investigating 6/28] App create failed when publishing from composer desktop 2.0 with new resources"
## Describe the bug

The customer is publishing bot with LUIS from Composer desktop 2.0 with the option "Create new resources". The publish fails with the below error, which I describe in the repro steps.

## Version

## Browser

- [ x ] Electron distribution

## To Reproduce

Steps to reproduce the behavior:

He signs into composer, creates a new publishing profile, chooses the tenant with multi

[2021-07-05 20:57] EricDahlvang opened #8260 "PVA as a Skill .zip manifest parsing issues"
## Describe the bug

If a .json file is not found in the manifest, an exception should be displayed accordingly.

Checking the schema version should check if the allowed versions are in the manifest string, no need to check the entire string for a match.

[2021-07-06 02:33] #7981 closed

[2021-07-06 02:33] #8194 closed

[2021-07-06 02:33] #8212 closed

[2021-07-06 06:00] Shameeritc commented on #8259
I am also facing the same issue for a basic bot provisioning.

[2021-07-06 06:34] Shameeritc commented on #4812
This worked for me

[2021-07-06 10:44] jimmys0n commented on #4613
Hi All - I'm trying to attempt a similar scenario as the above, however, after following the suggestions I'm still having issues.
I have a created an array of images as described above and I defined functions for iterating over them and binding this to the image property of a hero card
![image](https://user-images.githubusercontent.com/48556874/124586745-bdea5b00-de4e-11eb-94ac-79b693157950.png)

[2021-07-06 10:53] RicardoNeto commented on #8258
https://blog.botframework.com/2018/09/01/using-webchat-with-azure-bot-services-authentication/

I think this is the solution for this issue. I'll try it and will give some feedback later

[2021-07-06 16:28] goergenj opened #8264 "[MCS-DE] Publishing Profile Settings and Warnings/Errors when Publishing"
When I publish with Composer v2.0.0 I keep getting these warnings.

[code]

=> However there are no such settings in the Composer template for the Publishing Profile.

=> Further the **"luisResource": ""** setting is missing in the profile again however required to bind the Prediction Resource when publishing LUIS.

=> When creating the LUIS resources the following settings are taken from the apps

[2021-07-06 16:36] taicchoumsft commented on #5994
Yes this is still an issue, should be easy to add this.  Will add this to R15.

[2021-07-06 16:36] cwhitten commented on #8256
Hi @deon1010 what version of Composer are you using?

[2021-07-06 16:37] cwhitten commented on #8258
Hi @RicardoNeto - we'll close this issue in a couple days if we receive no additional activity.

[2021-07-06 16:40] cwhitten commented on #8260
@luhan2017 FYI

[2021-07-06 16:54] tonyanziano commented on #6767
@JonathanFingold I brought this issue up in our triage meeting today.

Once the desired changes make it into the SDK repo, which you have done already with Bruce's PR, **the limiting factor is the version of the SDK that the templates in the components repo are published with.**

I took a quick look and it seems like [the SDK version in the components repo is still using the older schema](https://

[2021-07-06 17:06] a-b-r-o-w-n commented on #8253
@srinaath @cwhitten I'd like to get your thoughts on this. There is a "bug" in the ui schema for this component that just happened to work with the implementation before #8191. I'm investigating if its possible to address the regression without modifying the ui schema, but I'm not making much progress.

There is a naming collision in the schema with the `colors.theme` property. This value is being

[2021-07-06 17:32] victorlamana commented on #8259
I have the same issue too and opened another ticket here

[2021-07-06 17:36] tonyanziano commented on #3394
Now that Composer exposes the runtime output in the "Output" tab, is this necessary anymore?

[2021-07-06 17:40] dmvtech commented on #8002
@SharmaHarsh7 Can you share the command line that you tried? What error is it throwing when you try and launch the runtime from command line?

Can you explain this part more? By resources you mean existing Azure resources (not existing LUIS applications and QnA KBs)?

[2021-07-06 17:44] deon1010 commented on #8256
![Settings error](https://user-images.githubusercontent.com/56408334/124644463-4cb3a380-de60-11eb-9ac6-580cdfd4efe7.PNG)

This is what it looks like.

[2021-07-06 17:46] deon1010 commented on #8256
Im using version 2.0.0-nightly

[2021-07-06 18:04] tonyanziano commented on #7157
Regarding auto update compatibility, from [the `electron-updater` source](https://github.com/electron-userland/electron-builder/blob/28cb86bdcb6dd0b10e75a69ccd34ece6cca1d204/packages/electron-updater/src/AppUpdater.ts#L458):

This should hit the clean-up logic.

[2021-07-06 18:25] axelsrz commented on #8187
We're closing this issue due to inactivity. If this problem persists please open a new one.

[2021-07-06 18:25] #8187 closed

[2021-07-06 18:26] axelsrz commented on #8172
Closing this due to inactivity. If problem persists pleaso open a new issue

[2021-07-06 18:26] #8172 closed

[2021-07-06 19:16] srinaath commented on #7754
We have fixed the libraries that need to be upgraded to avoid security issues. Changing priority to P1 as we look to solve the legal review alerts.

[2021-07-06 19:19] #7946 closed

[2021-07-06 20:18] #8253 closed

[2021-07-06 20:29] a-b-r-o-w-n opened #8271 "[pva] add ability to resolve local and remote schemas"
Support resolving local and remote schemas before sending to the client.

This enables schema authors (like PVA) to organize their schemas based on their own requirements.

[2021-07-06 20:33] #7080 closed

[2021-07-06 21:42] dmvtech commented on #7714
@mewa1024 Understood. Just my $0.02, but that is the scenario that I use the most. it is an extremely common scenario for me (say where I have two different actions that have a fair amount of configuration, but I only want to use one at a time). Happy to chat or have a call on Teams if you want more of my perspective.

[2021-07-06 22:21] mewa1024 commented on #8240
What is the reason for prohibiting spaces in trigger names in the modal? Is that just an oversight, or was it a restriction that came from somewhere else? (Doesn't seem to be a LUIS restriction. I can add spaces to intent names in LUIS.ai)

(@JaskeeratBedi-cmk fyi)

[2021-07-06 22:22] GeoffCoxMSFT commented on #7740
@natalgar - I'll take this one and examine for fixing in R14.  We will improve the detection in the new extension for R15.

[2021-07-06 22:23] GeoffCoxMSFT commented on #8066
@natalgar - I'll take this to see what I can do in the existing extension for R14.  I think we'll have better telemetry in the new extension as you factor things.

[2021-07-06 23:14] #8256 closed

[2021-07-06 23:38] #8260 closed

[2021-07-06 23:57] luhan2017 commented on #8143
Done by #8146

[2021-07-06 23:57] #8143 closed

[2021-07-07 00:54] taicchoumsft commented on #8158
@GeoffCoxMSFT , @scheyal , the dotnet 4.14.0 package in package manager shows this now (note that the wording matches the js version of the repo word for word [here](https://github.com/microsoft/botbuilder-js/tree/main/libraries/botbuilder-ai-orchestrator):

![image](https://user-images.githubusercontent.com/61705609/124683795-bba1f400-de82-11eb-807d-2cf3e8724978.png)

The `View documentation` lin

[2021-07-07 15:29] dmvtech commented on #8071
@ysnoek2 Are you able to share your bot to see if I can reproduce the issue with it?

[2021-07-07 16:03] benbrown commented on #8188
@jmyers82 you can specify alternate feed sources for the *package manager* inside Composer, but not yet for the *new bot templates* that appear during the creation flow.

[2021-07-07 16:31] clearab commented on #8119
The additional filters on package feeds have been removed.

[2021-07-07 16:31] #8119 closed

[2021-07-07 16:36] srinaath commented on #8244
@Todd442 Thanks for spotting it. We will be adding the field to the default schema of the publishing profile

[2021-07-07 16:49] VamsiModem opened #8281 "chore: remove request-promise dep from azurePublish extension in favor of axios."

[2021-07-07 16:49] clearab commented on #6256
Custom package feeds should be a Composer-level setting. This is also a requirement for using custom feeds during creation.

[2021-07-07 16:52] clearab commented on #6117
Closing

[2021-07-07 16:52] #6117 closed

[2021-07-07 17:06] cwhitten commented on #7909
Moving to botbuilder-dotnet

[2021-07-07 17:24] #8215 closed

[2021-07-07 18:21] axelsrz commented on #4115
Closing this due to inactivity. if issue persists please open a new one

[2021-07-07 18:21] #4115 closed

[2021-07-07 18:35] stevengum opened #8283 "App create failed when publishing from composer desktop 2.0 with new resources"
## Describe the bug

The customer is publishing bot with LUIS from Composer desktop 2.0 with the option "Create new resources". The publish fails with the below error, which I describe in the repro steps.

## Version

## Browser

- [x] Electron distribution

## To Reproduce

Steps to reproduce the behavior:

1. Customer signs into composer
2. Creates a new publishing profile
3. Chooses the tenant

[2021-07-07 18:39] stevengum commented on #8283
Adding @Shameeritc and @victorlamana as FYI

@victorlamana I believe the issue you originally referenced is microsoft/botframework-composer#8249, correct?

[2021-07-07 18:43] #8259 closed

[2021-07-07 18:59] victorlamana commented on #8283
@stevengum hello Steven! Yeah, seems to be a similar issue

[2021-07-07 19:00] stevengum commented on #8283
@victorlamana understood, thank you for the quick confirmation!

[2021-07-07 21:02] Brent-Higgins opened #8287 "NodeJS bot fails to start on windows"
## Describe the bug

On Windows when we try to start a bot the bot fails to start with a SIGTERM error from npm install.
This occurs due to additional packages in package.json to facilitate CI/CD requirements causes npm install to take 90+ seconds.
## Version
Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [X] Electron distribution
- [

[2021-07-07 21:25] benbrown commented on #8243
1. Done - i will console the error out for expert users and debugging, but the message just says failed, try again.
2. Done
3. Done
4. Will do my best on this one but... to achieve this might take more than we want to do right now. Will report back!
5. Done

Also: Made the notifications close after 5 seconds

These are included in the main pr.

[2021-07-07 22:02] benbrown commented on #8243
4. Done!

[2021-07-07 22:03] benbrown commented on #8243
These are all fixed in #8114

[2021-07-07 22:03] #8243 closed

[2021-07-07 22:41] dmvtech commented on #7860
Hi @ctharmon722 Apologies for the delay. Still at a loss on why this would be happening.

@GeoffCoxMSFT Any thoughts on this one?

[2021-07-07 23:23] #8244 closed

[2021-07-08 00:27] #8281 closed

[2021-07-08 05:14] KoradaRajesh opened #8292 "Enable or Disable spell check in Luis from Composer"
I'm trying to disable spell check in Luis from the certain step of flows in the composer before querying to Luis is this feature available as of now?

[2021-07-08 16:38] mohsenualam commented on #2339
This documentation is for configuring CosmosDB with manually developed bot. How can we store conversation to CosmosDB when the bot is built within Composer?

When I selected CosmosDB in the publish profile, it's saving only the last text from a conversation to CosmosDB's bot-state database, how can we save all conversations?

[2021-07-08 16:40] a-b-r-o-w-n commented on #8287
@Brent-Higgins thanks for the report. We will increase the timeout for our upcoming release.

[2021-07-08 16:41] a-b-r-o-w-n commented on #8292
@KoradaRajesh can you elaborate on what you are trying to do? Do you want to disable the Luis spell check from a dialog action within the bot flow? Or something else?

[2021-07-08 16:51] #6775 closed

[2021-07-08 16:56] dmvtech commented on #8015
Fixed as of:

[code]

Thanks @srinaath

[2021-07-08 16:56] #8015 closed

[2021-07-08 16:58] dmvtech commented on #8255
Hi @victorlamana

This is a current limitation. As it stands now, there is no bi-directional support for either LUIS or QnA within Composer. This is being addressed and future releases will have this ability. For now; you must author and train from within Composer.

[2021-07-08 17:04] #8055 closed

[2021-07-08 17:10] srinaath commented on #8015
thanks @dmvtech for checking.

[2021-07-08 17:27] pavolum opened #8294 "ReadMes not rendering for templates"
## Describe the bug

In the template selection view, readMes are not rendering.

## Version

This is affecting all versions of Composer that use the new creation flow

## Browser

- [x] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Go to the template selection view and see that readMes do not populate

## E

[2021-07-08 17:48] taicchoumsft commented on #8158
JS 4.14 packages now show the README:

![image](https://user-images.githubusercontent.com/61705609/124967563-6b897580-dfd9-11eb-8713-a033ce368cfc.png)

JS `view documentation` link still goes to the js main repo page, but this is consistent with all our other npm packages,  and because we can show readmes in JS version the see more links should suffice (nuget readme support is [coming](https://dev

[2021-07-08 17:57] stevengum commented on #8283
@natalgar, should @victorlamana & @shameeritc try the `v2.0.0-nightly.257298.f833d8e` nightly build of Composer to gather more info during the debugging process?

https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v2.0.0-nightly.257298.f833d8e

[2021-07-08 18:00] dmvtech commented on #8126
Hi @jessthorne That didn't quite work. Can you just paste the template as text instead of an image?

[2021-07-08 18:00] natalgar commented on #8249
We've added some additional logging that should help debug this issue. @victorlamana If you go to Composer's App Settings and enable "Early Adopters" you'll be able to update to the pre-release version with the logging.

I'm going to close this issue since we have a duplicate issue open to track it: #8283

[2021-07-08 18:00] #8249 closed

[2021-07-08 18:01] natalgar commented on #8283
@stevengum yes, the new build has additional logging

[2021-07-08 18:18] chrimc62 opened #8295 "LU intellisense only works for a single level of imports"
## Describe the bug

When editing an LU file you get intellisense only if the definition is defined in that file or in an imported file.  You do not get intellisense if you have multiple import levels.

## Version

Version:  2.0.0-nightly.257298.f833d8e
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

Steps to reproduce the behavior:

1. Enable form