[2021-08-05 17:22] srinaath commented on #8526
@ggrey We haven't resolved the issue yet and are trying to find a resolution. I closed this ticket so that we can track the bugfix in the other ticket.

[2021-08-05 17:58] tamasschmolcz opened #8529 ""Prompt with Multi-Choice" Node is not able to set property"
## Describe the bug

I discovered a weird bug/behaviour. When the user selects e.g. the value "KFZ Zulassung", composer is not able to follow the appropriated path in the Switch Branch. It repeats infinitely asking for input. If I change this value to different random name in the menu prompt + in the Switch branch - I can access the path. Strangely the selection for e.g. the menu value "Wunschkenn

[2021-08-05 18:06] bradrlaw commented on #8489
Please see the other issue filed, we cannot import resources anymore.  Composer is failing with a schema error at our client site and our machines.

https://github.com/microsoft/BotFramework-Composer/issues/8523

[2021-08-05 18:11] benbrown commented on #8515
@srinaath this seems like something going awry inside the Composer client code. Can someone on your team check it out?

[2021-08-05 18:14] benbrown commented on #8498
@aparnaji can you provide us some more information about this issue? We're not clear what the actual problem is yet.

[2021-08-05 18:18] benbrown commented on #8497
@SSanjeevi does the bot respond as expected?

Can you paste the LG content from this dialog so we can take a look? There may be a syntax error or something that is causing it to pull in this value rather than the actual text.

[2021-08-05 18:21] benbrown commented on #7737
Closing this issue - feel free to reopen if the issue resurfaces.

[2021-08-05 18:21] #7737 closed

[2021-08-05 18:23] bradrlaw commented on #8523
Yesterday I talked with Chris Whitten and he was able to reproduce it on our chat.  Here is an empty bot project that was created and going to add a new publishing profile, selecting "import existing", the first character of the JSON is underlined and showing the error.

https://1drv.ms/u/s!AnzHBXRTkqALgu8VzwLa_cONxJYz_Q?e=rH5yXa

[2021-08-05 19:11] natalgar commented on #8509
Hi @JohnRobertGreen, I'm looking into this with some other publishing issues around "import existing resources".
Can you let me know what steps you took here?
Was it:
1. Add new publishing profile
2. Select "import existing"
3. Update values with existing azure resources
4. Import
5. Go to the Publish tab and try to publish with the profile

 Thanks!

[2021-08-05 19:29] tamasschmolcz commented on #8510
Great, thanks @dmvtech

[2021-08-05 22:24] JohnRobertGreen commented on #8509
I used an existing publishing profile. The other steps are correct.
Thanks

[2021-08-05 23:15] dmvtech commented on #8501
@srinaath I can reproduce this myself without even having a `generated` folder. I just created a brand new bot using `Core Bot with Language` then run the update-schema.ps1 script. This happens with or without creating a new .schema file. This does **not** reproduce with the `Empty Bot` template.

[2021-08-06 06:07] SundaresanSivakumar opened #8531 "Launching of Botframework composer throws error with pop up -> "Something went wrong""
Launching the botframework composer throws error with popup title "Something went wrong" and the content says to report an issue in Github
After it loads & in the workflow after selecting "Send Response" activity & trying to click "Show Code". It once again throws the same error "Something went wrong"

## Version
Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-

[2021-08-06 06:45] alishajain7 commented on #8527
Hi @srinaath I already have this setting in place:
![qna](https://user-images.githubusercontent.com/33221676/128467799-1b4aa92a-ab78-4ccb-be75-38acaed25b21.PNG)

It still does not switch to Skill B when there is an ongoing dialog with Skill A.

[2021-08-06 08:19] nguyenhuy200900 commented on #8521
Yes, it is possible @srinaath thank you very much.

![image](https://user-images.githubusercontent.com/77385199/128480046-fc4db093-c1e0-40c1-a850-e2819766a135.png)

[2021-08-06 18:10] gabog commented on #8521
Hi @nguyenhuy200900, are you still having issues with composer?

[2021-08-06 18:20] gabog commented on #8402
Closing this one for now, we will reopen if it happens again

[2021-08-06 18:20] #8402 closed

[2021-08-06 18:21] gabog commented on #8392
Hi @cwhitten, excluding this one from DRI, please review and see if it needs to be added to the composer's backlog or closed

[2021-08-06 18:23] gabog commented on #8117
Closing due to inactivity.

[2021-08-06 18:23] #8117 closed

[2021-08-06 20:15] dmvtech commented on #8515
I am not able to reproduce with Composer 2.1.0 and the help&cancel package 1.0.0. But when using the help&cancel package 1.1.2, I get an issue where the bot is stuck trying to start. Same issue as listed [here](https://github.com/microsoft/BotFramework-Composer/issues/8521), I believe.

[2021-08-06 21:22] natalgar commented on #8509
@JohnRobertGreen Is this for a bot as a skill? Can you try "[Export as Skill](https://docs.microsoft.com/en-us/composer/how-to-publish-skill?tabs=v2x)" on this bot again?

![image](https://user-images.githubusercontent.com/82851479/128572092-ab36f818-83a1-431d-8823-03358433b4b8.png)

There were some changes in Composer 2.0 to how the [manifest](https://docs.microsoft.com/en-us/azure/bot-service/sk

[2021-08-07 09:58] corepk opened #8533 "Package Manager Error"
I am getting a Package Manager error when I tried to add a new package/component from the package manager

Could not load component list:Error Cannot create property '$bundled' on string '<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0"/><style>body{margin:0px;padding:0px;}iframe{width:100%;height:100%}</style><iframe src="http://www.airtel.in/dot/" width="100

[2021-08-07 09:59] corepk commented on #8533
![image](https://user-images.githubusercontent.com/60504208/128596460-1f5a6045-1c07-451b-986e-00f6f3cdf74a.png)

[2021-08-07 14:58] KoradaRajesh opened #8534 "Exception of type System.OutOfMemoryException"
We have built a few dialogs in Composer 1.3.1 version and hosted them in Azure and it's randomly throwing **System.OutOfMemoryException**

**Strack trace:**
   at Microsoft.Bot.Builder.Dialogs.Declarative.Resources.ResourceExplorer.LoadTypeAsync[T](Resource resource, CancellationToken cancellationToken)     at Microsoft.Bot.Builder.Dialogs.Declarative.Resources.ResourceExplorer.LoadType[T](Resourc

[2021-08-08 22:29] JohnRobertGreen commented on #8509
The bot is not a Skill.

[2021-08-09 09:12] Clooney24 opened #8536 "any() expression not available in 2.1?"
I used the any() expression in 1.4 without problems. In Composer 2.1 it is marked as a warning with a hint that's not a built-in function?

![image](https://user-images.githubusercontent.com/14079908/128683793-1067be9e-e165-40c9-9c6e-cc4a5e8c4f11.png)

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-08-09 11:40] michael-vogt-avanade commented on #8515
I will return to the exercise, and repeat it again from the very start.   I will use help and cancel 1.0.0.

When you ran your test, did you also follow the 'weatherbot' exercise, or just try and test the help&cancel package some other way?

I am trying to isolate where any 'syntax' error may have come up - i wrote no new code of my own, all of the code/snippets/settings were copy-pasted/directly

[2021-08-09 16:10] anusharr commented on #8498
Closing the issue due to no response. Please feel free to re-open if issue persists.

[2021-08-09 16:10] #8498 closed

[2021-08-09 16:54] natalgar commented on #8427
@geo-msft We're doing a little more investigation here before pushing a fix.

[2021-08-09 17:47] moshe-l commented on #3514
@ku222, @luhan2017  Hi, I tried to implement this solution, but unfortunately without success, I did not quite understand how to implement the code above.
Can you share your Startup.cs file? (And additional files that may be needed)

Thanks!

[2021-08-09 18:05] gabog commented on #8536
Hi @cwhitten / @srinaath, can you guys take a look at this one please?

Thanks

[2021-08-09 18:08] gabog commented on #8534
Hi @srinaath, do you know if this has been addressed in composer 2.1?

[2021-08-09 18:11] gabog commented on #8533
Hi @corepk, does this happen with any package? or just help and cancel?
Are you able to reproduce this if you create an empty bot from the scratch?

[2021-08-09 18:15] gabog commented on #8529
HI @stevkan, any updates on this one?

Thanks

[2021-08-09 21:55] dmvtech commented on #8510
@tamasschmolcz You can look at the [source code](https://github.com/microsoft/botbuilder-dotnet/tree/main/libraries/Microsoft.Bot.Builder.Dialogs/Memory/Scopes). Otherwise, you suggest changes on the documentation itself.

[2021-08-09 21:55] #8510 closed

[2021-08-09 22:32] dmvtech commented on #8522
Closing as answered.

[2021-08-09 22:32] #8522 closed

[2021-08-09 22:47] dmvtech commented on #8531
Hi @SundaresanSivakumar

Do you see any **error** listed in the `Problems` section at the bottom of Composer?

[2021-08-10 13:33] Clooney24 opened #8538 ""Replace Dialog" action doesn't find existing dialog in 2.1"
I was using a Replace Dialog action before in 1.4 that worked without problems.

In 2.1, I get this error message. (Dialog is named "Restart")

"DialogContext.BeginDialogAsync(): A dialog with an id of 'Restart' wasn't found. The dialog must be included in the current or parent DialogSet. For example, if subclassing a ComponentDialog you can call AddDialog() within your constructor."

The dialog w

[2021-08-10 14:57] someonelikeTIM opened #8539 "Error - Failed to bind luis prediction resource to luis applications."
## Describe the bug

Composer 2.1/C#/Core Assistant Bot

Unable to publish my bot to Azure. Each time I get message:

`"Error - Failed to bind luis prediction resource to luis applications. Please check if your luisResource is set to luis prediction service name in your publish profile."`

I have manually added the luisResource entry to the publish profile and that did not help:

`"luisResource":

[2021-08-10 16:37] tonyanziano commented on #8528
@tamasschmolcz there is an "Undo" functionality accessible via the "Edit" menu in the application given that you just performed some reversible action on your bot assets:

![image](https://user-images.githubusercontent.com/3452012/128898463-ed4037fc-2b7e-4423-ada4-9105793af559.png)

I would suggest using that if possible, if not there seems to be some other underlying issue here that is not intend

[2021-08-10 16:49] tonyanziano commented on #8538
@anusharr can you please try to reproduce this? It seems like the issue is that the "Replace Dialog" is not functioning properly when selecting a target dialog from the "Dialog name" dropdown.

[2021-08-10 16:51] tonyanziano commented on #8539
I'm going to close this as the same issue is currently being tracked by #8379

Please follow along with that issue for status.

[2021-08-10 16:51] #8539 closed

[2021-08-10 17:04] tonyanziano commented on #8534
Hi @KoradaRajesh ,

I searched our past issues for the term "System.OutOfMemoryException" and couldn't find any results, so I don't believe this was a known issue, but @srinaath feel free to chime in if I'm wrong.

For now I would recommend using Composer 2.x to to create a replica of the dialogs responsible for throwing the errors, and publish them to Azure and see if the problem goes away.

[2021-08-10 17:04] dmvtech commented on #8404
Hi @victorlamana That looks like a different error (`mkdir` versus `rmdir`).

- Are you able to create a directory in that folder outside of composer?
  - (`mkdir C:\users\Jamanv\Composer_bots\SHEILAbot_export\mytestfolder`)
- Does publishing behave any different if you run Composer as administrator?

[2021-08-10 17:30] stevkan commented on #8529
I attempted a repro of the above issue, however I am running into a separate issue where the skill's manifest is not validating while trying to add a skill to the PVA bot.

@tonyanziano, per our discussion, here is the error I am receiving. I've included the manifest below. Please forward to the PVA contact for suggestions. Thanks!

![image](https://user-images.githubusercontent.com/18403946/12890

[2021-08-10 17:35] tonyanziano commented on #8528
I see, well we have functionality in the "Pull" from PVA flow that actually backs up a bot project and shows a notification to the user that contains the path to the backed up project, so implementing this feature would not be a lot of net new changes.

For future reference, see [the `backupProject()` function in the `BotProjectService`.]()

[2021-08-10 17:36] dmvtech opened #8540 "Error when implimenting a custom action: Components of $kind "Microsoft.AdaptiveDialog" are not supported."
## Describe the bug
Receiving an error when creating a custom action following the `Create custom actions` documentation.

## Version
[code]

Error appears as well when opening bot in `2.1.0` and `2.0.0`.

## Browser

- [x] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. C

[2021-08-10 18:05] #8489 closed

[2021-08-10 18:13] victorlamana commented on #8404
Hello @dmvtech , ran your prompt command it worked fine:

![image](https://user-images.githubusercontent.com/52974336/128912756-7d92b905-2c69-4436-ac84-060e5e573303.png)

" Does publishing behave any different if you run Composer as administrator? "
I'm not sure, I can't open the program as ADMIN because i don't have ADMIN user on this machine, maybe is it related to that?

One thing I noticed is

[2021-08-10 18:15] stevkan commented on #8128
Closing due to inactivity. If the problem persists or you have new information to provide, please feel free to reopen.

[2021-08-10 18:15] #8128 closed

[2021-08-10 18:29] benbrown commented on #8413
@rattlehead1319 You can bundle the the QNA content in a component, as you've described. You should be able to put the .qna file into the exported/ folder and publish it to npm, and then install it and make that QNA file available in your project.

However, there is not a mechanism to automatically add the qna trigger to the bot. This has to be done manually in Composer by adding the qna trigger to

[2021-08-10 20:07] stevkan opened #8541 "Bot with Microsoft.Bot.Components.HelpAndCancel package installed fails to start in local build"
## Describe the bug
When running a local build of Composer via a browser, installing the Microsoft.Bot.Components.HelpAndCancel package causes Composer to endlessly display 'Starting bot...' after clicking button to start the bot.

## Version
v2.0.0 & v2.1.0

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

#

[2021-08-10 21:19] tonyanziano commented on #8214
The changes have been made in the following branch: https://github.com/microsoft/BotFramework-Composer/tree/toanzian/gcc-high

Currently waiting for a test account to verify the changes.

[2021-08-10 22:00] tonyanziano commented on #8529
I have verified that in the vanilla Composer runtime (No PVA), setting a property via a Multi-Choice input works as expected:

![image](https://user-images.githubusercontent.com/3452012/128940383-e5685952-7612-4bff-8d01-c75925d23865.png)

This also works in my PVA bot with the same flow:

![image](https://user-images.githubusercontent.com/3452012/128940576-0f64b455-7c64-46e6-ad4f-1c7656620622.png)

[2021-08-10 22:18] dmvtech commented on #8540
I have tested outside Composer, running the bot with Visual Studio and I am able to get it to run without issue.

[2021-08-10 22:42] dmvtech commented on #8404
It might. That's kinda where my thoughts were going. But I'm surprised the command line route doesn't behave the same (but maybe that's related to specifics around the execution scenario). Is there any other way you can try and isolate this? (Do you have another machine that you do have admin rights that does/doesn't have this issue? Do you have other colleagues or another machine that you could t

[2021-08-10 23:04] dmvtech commented on #8515
I just tried adding the package in an empty bot. But I just tried again within the weatherbot example and I get the same as I did before. Unable to reproduce.

[2021-08-10 23:21] anusharr commented on #8538
@Clooney24, can you provide screenshots of your implementation along with the code (using the `Show code` option at the top right of the authoring canvas)? I am able to get the `Replace this dialog` working in v2.1.0.

[2021-08-10 23:54] srinaath commented on #8534
Thanks @tonyanziano. Agreed, this is not a known issue.
@KoradaRajesh Just to clarify the bot you have runs locally fine on Composer and when deployed to Azure, running the deployed bot throws the error? Also, does the error get generated starting the bot up or when you trigger a particular dialog? Are you getting an exception when you deploy a bot built from one of the default templates?

With 1.

[2021-08-10 23:56] srinaath commented on #8533
@corepk Do you get this error adding any of the packages. We do have an error reported on the latest version of the Help and cancel package.
https://github.com/microsoft/BotFramework-Composer/issues/8515

[2021-08-11 03:27] srinaath commented on #8541
@benbrown . It looks like dotnet build fails when we add this package. Multiple tickets referring the same issue. Can we move this to the components repo?
https://github.com/microsoft/BotFramework-Composer/issues/8533
https://github.com/microsoft/BotFramework-Composer/issues/8515

[2021-08-11 05:55] Shameeritc opened #8542 "Command failed: dotnet build"
## Describe the bug
When i am trying to create a bot with language.  It is throwing error - Command failed: dotnet build.

## Version

2.1

## Browser

- [ ] Electron distribution
- [Yes ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [Yes ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '.Create bot with Language..'
2. Click on '....'
3. Scr

[2021-08-11 06:59] corepk commented on #8533
@gabog & @srinaath - Yes I am getting this error with any of the packages.

[2021-08-11 08:16] Clooney24 commented on #8538
ok, here the UI:

![image](https://user-images.githubusercontent.com/14079908/128991415-4dcd4db8-b7b5-447c-aee5-a97b33ee1e93.png)

code of the action call:

`                {
                  "value": "/reset",
                  "actions": [
                    {
                      "$kind": "Microsoft.SetProperty",
                      "$designer": {
                        "id": "SSmuW8"

[2021-08-11 13:10] michael-vogt-avanade commented on #8515
thank you.

i will repeat the weatherbot exercise, and see if i had made some error in copy-pasting any instructions.

m
________________________________
From: Dana V ***@***.***>
Sent: Tuesday, August 10, 2021 6:05 PM
To: microsoft/BotFramework-Composer ***@***.***>
Cc: Michael Vogt ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [microsoft/BotFramework-Composer] Uncaught syntax error.

[2021-08-11 15:29] someonelikeTIM opened #8543 "Local bot runs cached version without warning when disk space low"
## Describe the bug

2.1.0/C#/Windows

When I start the bot locally from composer when my computer is low on disk space it runs a cached version of the bot instead of building the current version. There is no warning message in composer when this happens so it gets real confusing when testing and debugging.

## Version

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.

[2021-08-11 15:44] Dewain27 commented on #8379
@benbrown can you please chime in on this one.  I know that we worked through much of this when we were working on the LUIS provisioning and publishing.  I can connect with the customer to see the setup if needed.

[2021-08-11 16:41] srinaath commented on #8543
@someonelikeTIM We do not maintain a cached version of the bot. The folder containing the bot is the source of truth for Composer and it should pick the changes.

While editing the authoring assets in Composer do you see an error messages pop up with regards to lack of space?

When in Composer could you hit Ctrl + Shift + i. This should open Chrome Dev Tools. Could you paste a screenshot of the Co

[2021-08-11 16:56] srinaath commented on #8523
@bradrlaw I'm  able to see the warning as well. But, if you make an edit to the profile the "Import" button should be enabled for you to continue with the Publishing process.

![Screen Shot 2021-08-11 at 9 54 25 AM](https://user-images.githubusercontent.com/13004779/129070841-c497abfe-3d00-4351-b571-53433eaad5be.png)

[2021-08-11 17:03] dmvtech commented on #8540
Repro: https://github.com/dmvtech/CustomActionNew

[2021-08-11 17:23] fitprotracker opened #8545 "Enable interruptions error"
## Describe the bug

Going through the Display weather tutorial and at the Enable interruptions (https://docs.microsoft.com/en-us/composer/tutorial-create-weather-bot#enable-interruptions) I get an error when try to change he value to true.

video walkthrough:  https://share.fitprotracker.com/2Nul2w4k

## Version

Bot Framework Composer v2.1.0

[2021-08-11 17:37] stevkan opened #8546 "Published skill's manifest fails validation when added in PVA"
## Describe the bug

When attempting to add a published skill to PVA via the "Add skill" option, the linked manifest fails the validation test

## Version

2.1.0-nightly.263368.d67aa4c

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a Power Virtua

[2021-08-11 18:27] someonelikeTIM commented on #8543
@srinaath So I ran Composer and started the bot with ~3gb disk space. I then made a change to the bot greeting response and restarted the bot with only 270mb disk space. The bot started but still loaded the old greeting. Here is the console screenshot. This was taken after the bot started the last time:

![image](https://user-images.githubusercontent.com/40400490/129082847-2a2bb84b-2455-49fe-b033-

[2021-08-11 18:31] benbrown commented on #8379
Composer does NOT currently bind  the endpoint key to the LUIS apps when starting the bot locally. So if you specify the endpoint key in the advanced settings, you must manually bind the same key via the LUIS portal.

However, during the PUBLISH, it definitely should do that binding.  In the publishing profile, are both the endpoint and authoring key specified?

[2021-08-11 18:32] someonelikeTIM commented on #8543
Versus what the console shows when I run the bot with 2.82gb available disk space:

![image](https://user-images.githubusercontent.com/40400490/129083846-c7a54d0a-8a88-4b9c-9200-498540d9597d.png)

[2021-08-11 19:15] benbrown commented on #8432
@mhtmht sorry for the delay in my response here --

Azure devops artifact feeds do not support the inline authentication. However, myget feeds do -- is it possible to use that system?

[2021-08-11 20:53] dmvtech commented on #8542
Hi @Shameeritc

I have seen this issue [before](https://github.com/microsoft/BotFramework-Composer/issues/8505#issuecomment-891161614)

Can you try the following steps and see if you can successfully create a bot outside of Composer?

- npm install -g yo
- npm install -g @microsoft/generator-bot-empty
- yo @microsoft/bot-empty "EmptyBotTest"
- cd EmptyBotTest
- dotnet build

[2021-08-11 22:12] tonyanziano commented on #8214
Tried the test account and received an error in the authentication library we use. I have forwarded this error to the internal team that maintains the library and am waiting for a response.

[2021-08-11 23:19] stevkan commented on #8529
@tamasschmolcz, can you double check that you have your `user.selectedOption` property in both the "Property" field under "User input" as well as in the "Condition" field in the "Branch: Switch"?

I tested this playing with a variety of configurations to understand what might be happening. I am able to repro your issue when I place the `user.selectedOption` property in "Value" instead of "Property

[2021-08-12 10:49] tamasschmolcz commented on #8529
@tonyanziano  @stevkan Thanks guys for taking the time helping me. It is set to the right field "property".  The weird thing is, I even re-built the Prompt and still had the issue.  As I needed to progress with my project I finally renamed it from "Zulassung beantragen" to "KFZ Zulassung beantragen". So it works now.

Still I have now idea, what's the root cause, but will keep an eye for such a sc

[2021-08-12 14:55] pavolum opened #8547 "Error modal with 'cannot read property 'stdout'' text pops up after opening a new project"
## Describe the bug

Repro steps
- Open a project in Composer and click 'start bot'
- Prior to the bot actually 'starting', immediately go and open a different bot project.
- An error modal appears
  - ![image](https://user-images.githubusercontent.com/22845013/129218830-ed8ba81e-29f0-4454-a024-98623015e334.png)

## Version
2.1.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
-

[2021-08-12 15:25] bradrlaw opened #8548 "Sentiment values not being set for None / Unknown intent"
## Describe the bug
When looking at sentiment for the utterances the user has entered, we can use the turn.recognized.sentiment.score to get the last sentiment value.  However, when the none intent is triggered, the sentiment block is not set.

## Version

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ]

[2021-08-12 16:23] natalgar commented on #8509
@JohnRobertGreen Can you check the bot's directory for a `manifests` directory? Is there a `manifest.json`? This error will occur if the bot has a json file at `<bot-name>/manifests/manifest.json`. If `manifest.json` exists can you delete it and try running publish again? If you can share whats in that file and that directory that would help us debug too. Thanks!

[2021-08-12 16:36] spallinti1 opened #8549 "Does orchestrator use Luis patterns?"
We are in the process of replacing dispatcher with Orchestrator. We are seeing some odd behavior with orchestrator.

Does orchestrator use Luis patterns?

We have a pattern Search {Query} in search skill and it doesn’t recognize this as pattern, Instead it looks at it as an Intent.

We added luis apps to orchestrator using below command

bf orchestrator:add -t luis --id <luis-app-id> --endpoint <l

[2021-08-12 16:41] cwhitten commented on #8545
hello @fitprotracker - we're able to reproduce this and are looking at a fix soon. This will be addressed in an upcoming release.

[2021-08-12 16:43] lshade opened #8550 "Bot Composer won't start"
## Describe the bug

I've been using v2.1 with no issue, until my computer crashed with a blue screen yesterday. Now, the application won't start. I tried uninstalling and reinstalling. I tried installing vcredist and rebooting as mentioned in https://github.com/microsoft/BotFramework-Composer/issues/7964

## Version

2.1

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Fir

[2021-08-12 16:50] cwhitten commented on #8541
It seems like when the start bot sequence is mid-flight, and you try and switch projects, or install a package, we see the `cannot read property 'stdout' of undefined` error.

[2021-08-12 16:54] cwhitten commented on #8540
Hi @boydc2014 and @lei9444 -- can you help us look at this?

It appears like the algorithm here: https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/client/src/recoilModel/selectors/diagnosticsPageSelector.ts#L209 may be incorrect in some cases, or a race condition is causing this behavior. My bet is on the latter.

[2021-08-12 16:56] cwhitten commented on #8550
Hi @lshade, can you give us all of the logs that show up when you start Composer with the DEBUG flag?

[2021-08-12 17:00] tonyanziano commented on #8550
You might also want to try clearing Composer's cached Electron folder which should be located here:

`%appdata%/@bfc/electron-server`

For me this is:

`C:\Users\tonya\AppData\Roaming\@bfc\electron-server`

![image](https://user-images.githubusercontent.com/3452012/129237801-abd0b722-dc80-4e21-ba1b-6bfece216fa8.png)

You can just delete the entire folder and Composer will repopulate it on start.

[2021-08-12 17:34] tonyanziano commented on #8550
@lshade can you do me a favor and go to `<%appdata%>/BotFrameworkComposer` and upload the `data.json`, `extensions.json` and `extensions-settings.json` files you see there?

![image](https://user-images.githubusercontent.com/3452012/129242408-b42776b2-2f68-43ad-beec-a5c5fd374955.png)

[2021-08-12 17:36] lshade commented on #8550
Yes here they are [AppData_Roaming_BotComposer_json.zip](https://github.com/microsoft/BotFramework-Composer/files/6977434/AppData_Roaming_BotComposer_json.zip)

[2021-08-12 17:54] lshade commented on #8550
Ok I renamed them and Composer didn't start still

Here are those json files now:
[AppData_Roaming_BotComposer_json_and_backup.zip](https://github.com/microsoft/BotFramework-Composer/files/6977531/AppData_Roaming_BotComposer_json_and_backup.zip)

Here are the logs:
[lshade bot composer debug logs after backup change.txt](https://github.com/microsoft/BotFramework-Composer/files/6977533/lshade.bot.c

[2021-08-12 18:00] tonyanziano commented on #8550
Ok all of them look good except for `extensions.json` -- that one looks like it has a weird encoding and VS Code can't even read it. Try renaming that one to `_backup`, the other 2 should be fine.

[2021-08-12 18:04] lshade commented on #8550
That fixed it! Just renamed `extensions.json` to `extensions_backup.json` and started Composer. Thank you!

[2021-08-12 18:05] tonyanziano commented on #8550
Awesome! Glad to hear it. Going to close this issue now.

[2021-08-12 18:05] #8550 closed

[2021-08-12 18:09] daveta commented on #8549
FYI: We're preparing some documentation update here:
https://github.com/microsoft/botframework-sdk/pull/6360

[2021-08-12 18:12] cpolanish commented on #8538
I'm having the same issue. It seems to be specific to one particular dialog I'm trying to get into. If I switch the action to another dialog just to test it works fine.

[2021-08-12 19:25] cpolanish commented on #8515
Also getting this issue in 2.1 on an existing bot I've been working on.

[2021-08-12 22:19] cwhitten commented on #8549
Closing, please follow https://github.com/microsoft/botframework-sdk/pull/6360

[2021-08-12 22:19] #8549 closed

[2021-08-12 22:38] dmvtech commented on #8545
Linking other ticket/same issue: https://github.com/microsoft/BotFramework-Composer/issues/8515

[2021-08-12 22:39] dmvtech commented on #8515
I'm able to reproduce this now.

[2021-08-12 23:08] dmvtech commented on #8543
Can you run the following powershell to see if there are more than one running bot?

[code]

You could run this before and after making changes to the greeting and restarting. This would give a good indication of whether bots are actually being stopped or not.

[2021-08-12 23:55] anusharr commented on #8538
@Clooney24, can you attach a screenshot of your project pane. I am able to get the `DialogContext.BeginDialogAsync(): A dialog with an id of ' ' wasn't found.` error when I try to create a dialog of my own and link it to the `Replace this dialog` action, but the issue gets resolved if I add a trigger under the main dialog and connect it to the dialog I am linking in the `Replace this dialog` actio

[2021-08-13 00:19] stevkan commented on #8529
I'm going to go ahead and close this as some sort of transient error. If the problem does resurface, please feel free to reopen this issue.

[2021-08-13 00:19] #8529 closed

[2021-08-13 00:24] boydc2014 commented on #8540
Sure, looking at it

[2021-08-13 12:30] lei9444 commented on #8545
Hi, @cwhitten I can reproduce this.
composer will throw this error only when the action designer id is start with a digit.
![image](https://user-images.githubusercontent.com/39758135/129356804-ff1b7700-7b94-4cfd-8f84-374c374c954f.png)

I think querySelector doesn't support ID selectors that start with a digit.
I am working on fixing this issue.

[2021-08-13 12:44] cpolanish commented on #8538
Sure, see below:

You can see I have a replace dialog action configured to go to the dialog "findCallerByName". This step is inside the "findCallerByPhone" dialog.
![image](https://user-images.githubusercontent.com/42741799/129357754-7b4a3a4b-d4a2-4cf5-8018-20b4725744a8.png)

Here's the code for that action
`{
  "$kind": "Microsoft.ReplaceDialog",
  "$designer": {
    "id": "WV19tb"
  },
  "activi

[2021-08-13 14:12] fitprotracker commented on #8545
Is there a work around that I can do/change to get through the tutorial?

I am excited to learn tech.

Can I try a new project to generate a different id?

Thanks

[2021-08-13 16:12] AdriVazquez opened #8552 "Create a two levels multichoice list"
Hi,
I want to create a multichoice button list with Framework Composer. I have almost 30 triggers each with its intents, they works well but, since they are FAQs I would like to guide the user to the possibilities by a two levels of multichoice button lists. For example: "What phase are you in?" [Before] [Doing] [After]. And if the user push [Before], the bot shows 10 examples of intents. The same

[2021-08-13 16:27] JonathanFingold commented on #8457
I'll close for now and open a new issue if I hit this behavior again.

[2021-08-13 16:27] #8457 closed

[2021-08-13 18:06] dmvtech commented on #8195
@BellaDunnett I'm closing this as I believe I have answered the questions around the situation. If you still have further questions or need assistance; please comment and I will reopen.

[2021-08-13 18:06] #8195 closed

[2021-08-13 18:14] pavolum commented on #7908
Yes it did, closing now

[2021-08-13 18:14] #7908 closed

[2021-08-13 18:30] #8521 closed

[2021-08-13 20:41] tonyanziano commented on #8214
E2E import -> publish flow has been verified on a custom build of Composer from my branch.

I have opened a PR with the desired changes: #8554

[2021-08-13 21:57] pavolum opened #8555 "Support local development of templates via preview features and documentation"
## Is your feature request related to a problem? Please describe.

In the upcoming patch release we will have UI in Composer to allow users to alter the feed that powers the template selection experience. Primarily this was implemented for enterprise users who needed to connect to internal npm feeds for security reasons. However this feature can also be leveraged for users who are developing their

[2021-08-14 07:16] YEEHUIKOW opened #8556 "always downloading template wont stop"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-08-14 07:17] #8556 closed

[2021-08-14 18:57] jcmorara opened #8559 "Custom package not working"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Composer'
2. Click on 'Package Manager'
3. Select local nuget feed
3. Try to install a custom nuget package
4. See error

## Expected behavior

Custom nuget package to

[2021-08-14 21:57] fitprotracker commented on #8137
Just FYI,
I received this error on the first attempt to publish a bot. I got the error denied.

then I tried to publish the second time and it went through.

Video to show the error before starting second time.
https://share.fitprotracker.com/04uxg2p4

[2021-08-16 04:03] lei9444 commented on #8545
Hi @fitprotracker you can delete the Text action first and add a new one, If the action designer id is not start with digit, I think it works well.

[2021-08-16 04:25] boydc2014 commented on #8540
Hi, @dmvtech can you send us the whole bot including the schema files, somehow we can't reproduce this by following the steps in the doc.

[2021-08-16 07:05] divyapasupuleti opened #8561 "Facing error in setting up knowledge base qna"
I'm facing script error when I pasted the key and setting up the environment,
![tmp_1629097465967](https://user-images.githubusercontent.com/47469283/129524375-31b8c05e-b277-4ebd-8c2e-e1a14a45a663.jpg)

[2021-08-16 08:55] SundaresanSivakumar commented on #8531
Hi @dmvtech ,
I didn't notice anything. However I uninstalled the bot framework composer 2.1.0 last week and installed the 2.0.0 version as we had product release close by. I will try installing the latest version tomorrow and let you know.

Thanks

[2021-08-16 10:16] stevkan commented on #8552
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Composer](https://github.com/Microsoft/BotFramework-Composer/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2021-08-16 10:16] #8552 closed

[2021-08-16 10:37] VishnuM1 commented on #8533
Am also getting the same exception, while trying to install any of the packages from the package manager console.
![image](https://user-images.githubusercontent.com/89015940/129551013-1fe7cd3d-73ae-438e-96bd-00ef3d84caae.png)

[2021-08-16 10:54] ma9az commented on #7087
Hi, am experiencing the same issue of the luis prediction service failing to bind to the luis applications.

Luis resource defined in the publishing profile is correct and has been provisioned in the same region of West US as the resources of the bot have been so.

The luis prediction service and luis authoring resource have also been attached to the LUIS application synced to the bot.

I am using

[2021-08-16 11:25] SSanjeevi commented on #7087
`
{
  "name": "",
  "environment": "dev",
  "tenantId": "",
  "hostname": "",
  "runtimeIdentifier": "win-x64",
  "resourceGroup": "",
  "botName": "",
  "subscriptionId": "",
  "region": "eastus",
  "appServiceOperatingSystem": "windows",
  "scmHostDomain": "",
  "luisResource": "luisResourceName",
  "settings": {
    "applicationInsights": {
    },
    "cosmosDb": {
    },
    "blobStorage": {

[2021-08-16 11:48] michael-vogt-avanade commented on #8515
is there an explanation or way to correct this?
________________________________
From: Dana V ***@***.***>
Sent: Thursday, August 12, 2021 5:39 PM
To: microsoft/BotFramework-Composer ***@***.***>
Cc: Michael Vogt ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [microsoft/BotFramework-Composer] Uncaught syntax error... (#8515)

I'm able to reproduce this now.

—
You are receiving this be

[2021-08-16 11:59] Samirun commented on #8540
same here. I am trying to migrate one of our old bots we built using composer 1.4  to 2.1.0 but i get this error. and the documentation of custom actions links provided besides error messages gives 404. can anyone give details on when this can happen and ways to fix this?
![image](https://user-images.githubusercontent.com/46156330/129559969-ffd381d6-847f-42b0-8723-0abe1813999e.png)

[2021-08-16 15:18] ma9az commented on #7087
@SSanjeevi Thank you for giving a suggestion. Unfortunately, it failed to work. The last level was automatically redacted by the composer as it detected duplication of values.

[2021-08-16 16:54] stevkan commented on #8496
@humak, is this still an issue for you? Were you able to try sending an attachment via a Web Chat sample successfully? Regarding Fiddler, I've had a few issues trying to run it due to a previous trace session's setup that isn't unloading correctly. I'll hopefully have that corrected today when I meet with a colleague to diagnose my own problem and, therefore, hope to have a response on that point.

[2021-08-16 18:08] cleemullins commented on #8513
Closing due to inactivity.

[2021-08-16 18:08] #8513 closed

[2021-08-16 18:09] cleemullins commented on #8512
Closing due to Inactivity.

[2021-08-16 18:09] #8512 closed

[2021-08-16 18:11] #8482 closed

[2021-08-16 19:21] snapfisher opened #8563 "Second Dialog Trigger is Ignored (V2.1.0)"
## Describe the bug

I have a Dialog that calls "Cancel All Active Dialogs", which can be invoked from within a primary dialog.  I have a second dialog that just prints text.

I create a top level trigger based on the cancel dialog event, which calls the second dialog.  Then I call the cancellation dialog from within the primary dialog and the event fires, and the second dialog is called.  All goo

[2021-08-16 20:03] srinaath commented on #8472
@boydc2014 Is there someone on your team to investigate this ticket?

[2021-08-16 20:03] #8515 closed

[2021-08-16 20:03] #8545 closed

[2021-08-16 20:52] benbrown commented on #8188
The ability to specify an alternate feed URL for templates will be introduced when this PR is merged: #8553

This should resolve the problem regarding sourcing templates directly from NPM.

[2021-08-16 20:54] #8214 closed

[2021-08-16 21:24] michael-vogt-avanade commented on #8515
Help me understand the recent email chain.     I had heard from DanaV that you were able to reproduce my error...  then a few days later, I received email that the case/ticket was closed.

I did not receive any explanation nor solution to my problem.    Did something get sent that I am not recognizing?

Thanks

Mike
________________________________
From: Srinaath Ravichandran ***@***.***>
Sent: Mo

[2021-08-16 22:28] anusharr commented on #8561
@divyapasupuleti, can you please elaborate more on what you are trying to do(repro steps, composer version)? Do you get this error when you try to paste the QnAMaker subscription key? Also, do you get any additional error on the dev console(Ctrl+Shift+I)?

[2021-08-16 23:22] anusharr commented on #8559
@jcmorara, what version of the Composer are you on? Also, does this happen with other custom nuget packages or just this specific package? Do you get any additional error on the dev console(Ctrl+Shift+I)?

[2021-08-16 23:59] srinaath commented on #8515
@michael-vogt-avanade
https://github.com/microsoft/BotFramework-Composer/pull/8560 fixed this ticket. This fix would be available if you use our early adopters feed or in a patch release which we would make soon.

![Screen Shot 2021-08-16 at 4 58 45 PM](https://user-images.githubusercontent.com/13004779/129643430-4f131124-a9e8-4666-b7db-838df53a6de4.png)

[2021-08-17 01:26] JohnRobertGreen commented on #8509
There is a file in manifests, card.json, containing an empty json object. I'll delete it and re-try.

[2021-08-17 03:00] divyapasupuleti commented on #8561
Actually, I want to develop a knowledge and speech services in bot composer
, but when I create an instance in azure portal try to paste the keys after
pasting the keys, my bot composer is unable to detect my azure account
subscription details and I'm unable to setup the environment

On Tue, Aug 17, 2021, 3:58 AM anusharr ***@***.***> wrote:

[2021-08-17 03:26] dgancho opened #8564 "Composer fails to start a bot, when the bot project's folder was renamed"
## Describe the bug
When a folder containing the bot project was renamed, the Composer fails to start that bot anymore, just hangs at "Starting bot...: forever.

## Version
Release 2.1.0
Version 4.12.0
/there is no build SHA on the Composer about page/

## Browser
- [ ] Electron distribution
- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS
- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Rep

[2021-08-17 04:06] mareekuh opened #8565 "Can't create QnA resources"
Existing bot, added QnA resources (forgot to do this before or it failed before).

- Created new resources (tried several subscriptions incl. Team-Design and Team-PM)
- Existing group (tried 2 different ones)
- selected free tier
- processing.. and I get the error below
( nightly build, Aug 15 2021)

expected: QnA resources can be created.

<img width="398" alt="Screen Shot 2021-08-16 at 9 03 22 P

[2021-08-17 06:04] nasshaik opened #8567 "Install Error while trying to install a package from Bot composer - Package manager"
If this problem persists, please file an issue on GitHub
Details
A problem occured during the install of this Component: Error Cannot create property '$bundled' on string '<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0"/><style>body{margin:0px;padding:0px;}iframe{width:100%;height:100%}</style><iframe src="http://182.79.218.34:8080/webadmin/deny/index.php?dpi

[2021-08-17 15:22] benbrown commented on #8533
This error indicates that the "schema merge" process was unable to complete successfully.

During this process, the code downloads JSON schema files from json-schema.org and schemas.botframework.com -- is there a change that one or both of these URLs is blocked on your network @corepk @VishnuM1?

[2021-08-17 15:36] jcmorara commented on #8559
I'm using Composer v2.1.0. This happened first with a package with some custom actions. Then I created the [MultiplyDialog custom action](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions) and created a [package](https://docs.microsoft.com/en-us/composer/how-to-create-packages) following Microsoft documentation, but I got the same error. No issues with built-in NuGet packages.

[2021-08-17 16:38] srinaath commented on #8567
@nasshaik Thanks for the report. This is a known issue. We are tracking this in another ticket. #8533.

[2021-08-17 16:38] #8567 closed

[2021-08-17 16:53] srinaath commented on #8564
@dgancho Thanks for the report. We are able to repro this bug as well.

[2021-08-17 17:42] dmvtech commented on #8540
My repo with the repro is no longer private. let me know if you have any other issues with it.

[2021-08-17 18:31] stevengum commented on #8283
@natalgar do you have any new findings/workarounds to share?

[2021-08-17 19:32] MahmoudHamdy00 opened #8569 "Can't merge the schema files"
## Describe the bug
when merging the schema it gets this error `Error connect ETIMEDOUT`

## Version
Bot Framework Composer 2.1.0

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to `<bot folder>\schemas`
2. run the update schemas script
then it gets t

[2021-08-17 20:55] stevkan commented on #8496
@tonyanziano,

Using Fiddler, I passed a photo into both Emulator and Web Chat and compared their respective requests/responses. In each of the attached images, the left side is while using Emulator and the right side is while using Web Chat.

There are some differences between the two.  However, the most notable is the response is empty when using Emulator whereas Web Chat includes headers and an

[2021-08-17 21:19] anusharr commented on #8561
@divyapasupuleti, I tried pasting the subscription key from the Azure portal and also used the `Set up QnA Maker` option in composer which allowed me to login to my Azure account and get access to the QnA service and returned my subscription key, which I pasted and did not encounter any errors. Can you try the `Set up QnA Maker` option and select `Use existing resources` or `Create and configure n

[2021-08-18 04:16] corepk commented on #8533
Hi @benbrown - We do not have such a security network policy so any URLs should not get blocked. I think it is a known issue and it is only with latest version of composer not sure though. @VishnuM1 - Can you please confirm your composer verion?

[2021-08-18 04:48] humak commented on #5735
Experiencing the same issue while trying to publish:  SyntaxError: Unexpected token u in JSON at position 0
It fails at LUIS state.
I filled every place in Publish Profile:
![image](https://user-images.githubusercontent.com/14835957/129838310-98ee96a3-c732-4f72-a3b0-16e71f808bf9.png)

![image](https://user-images.githubusercontent.com/14835957/129838525-98c38316-8ccf-45ac-b8ca-93966b5796f7.png)

A

[2021-08-18 06:08] mafiageek commented on #8542
I received this error as well.  Below are errors using the steps from dmvtech

  Determining projects to restore...
C:\Program Files\dotnet\sdk\3.1.301\NuGet.targets(128,5): error : Unable to load the service index for source https://api.nuget.org/v3/index.json. [C:\Users\xxx\EmptyBotTest\EmptyBotTest.csproj]
C:\Program Files\dotnet\sdk\3.1.301\NuGet.targets(128,5): error :   Response status code

[2021-08-18 06:35] aninternetian opened #8573 "Root bot not starting (only skill bot does)"
## Describe the bug

Faced this issue twice on my end while following the instructions to [create and test a local skill](https://docs.microsoft.com/en-us/composer/how-to-export-a-skill?tabs=v2x)
The root bot keep showing that it's starting but doesn't, only the skill bot will start.

I get the same popup error message when I close and open the composer again for both the bots
"Cannot read propert

[2021-08-18 10:59] SSanjeevi commented on #2317
@andreatosato Link broken - please share latest link.
Not able to access appsettings values in any properties.

[2021-08-18 15:42] DebdeepBurman opened #8574 "Is there a way we can get the last message send by the BOT in a property please?"
We have a requirement to Repeat the last message send by the BOT when User says Repeat. It would be really great if anyone can help me with the knowledge to capture that message in a property and show that to User when he/she/they utter 'Repeat' !!

[2021-08-18 16:38] srinaath commented on #8574
@Stevenic This looks like something we could accomplish through a middleware. Any thoughts here?

[2021-08-18 16:48] srinaath commented on #8569
@MahmoudHamdy00 Are you running Composer behind a proxy?
The bf dialog merge tool tries to fetch some schema definitions and it looks like the network seems to be blocking it. Could you zip your bot assets as well if possible for us to try on our end. Im assuming you built a custom action and trying to merge it using the update schema script?

[2021-08-18 17:53] SundaresanSivakumar commented on #8531
I installed the 2.1.0 version . The screenshot that I had shared while creating this issue pops up. However i don't see any error listed in the problem section.

[2021-08-18 18:35] dmvtech opened #8576 "Field loses focus after keystroke"
## Describe the bug

When clicking into the `Allow Interruptions` field and then typing a character, the focus is lost after the first key stroke. I do not know all fields this is limited to. In _my_ case, I am hitting the 'delete' key on my keyboard. But I am hitting the delete key multiple times (as i'm intending to delete multiple characters). This is a disastrous situation in my case as the fo

[2021-08-18 18:37] dmvtech commented on #8528
@tamasschmolcz I have found a bug, but I'm not sure if you might be hitting the same thing or not. Can you check to see if your issue (of things disappearing) might be the same as mine?: https://github.com/microsoft/BotFramework-Composer/issues/8576

[2021-08-18 18:39] dmvtech commented on #8576
Possibly related?: https://github.com/microsoft/BotFramework-Composer/issues/8491 (keystrokes and focus)

[2021-08-18 19:30] lshade commented on #8574
Is there a way to do this in Composer instead of in code in a middleware class? Inside the Message Received Activity?

[2021-08-18 19:43] #8188 closed

[2021-08-18 19:46] benbrown commented on #8533
@corepk Does that `airtel.in/dot` url ring a bell to you at all? That is not something Composer should be accessing directly, and it seems to be a network error page...

[2021-08-18 21:27] pavolum commented on #8564
UPDATE: in local env able to repro sporadically. When I am able to repro I am seeing the following error in the dev console;
[code]

[2021-08-18 21:42] dmvtech commented on #8542
@mafiageek Can you try running the following in a terminal and sharing the output?:
`dotnet nuget list source`

[2021-08-18 21:51] dmvtech commented on #8531
Thank you @SundaresanSivakumar

Can you try the following?:

- Go to Composer's install location (mine is at C:\Users{username}\AppData\Local\Programs\Bot Framework Composer)
- Open a terminal here
- run `set DEBUG=composer*`
- run the executable from the terminal Ex. "Bot Framework Composer.exe"

Then run the same steps to reproduce the issue. Then share the output from the terminal.

[2021-08-18 21:59] dmvtech commented on #8404
Other than the questions/suggestions above; is this a bot that you are able to share with me? (doesn't have to be this bot; any small reproduction of the issue. just so I can see if it fails for me as well).

[2021-08-18 22:14] dmvtech commented on #8563
Hi @snapfisher

That would be great. I think that would give me a clearer picture of what you have and I can see the issue for myself. Thanks!

[2021-08-18 23:04] anusharr commented on #8559
@jcmorara, I followed the documentation linked above and was able to successfully install the package. I created the **MultiplyDialog** custom action and then created and published the **DialogAndTriggerPackage** in the local feed.  Investigating further. Also, did you get any error or warning when you created or published your package in the command prompt?

[2021-08-18 23:25] anusharr commented on #8573
@aninternetian, thanks for reporting this. Let me attempt a repro on my end and update the thread accordingly with my findings.

[2021-08-19 02:06] MahmoudHamdy00 opened #8578 "Custom Action disable feature doesn't work"
## Describe the bug
when set as disabled it is supposed to don't execute it but it does
          `"disabled": true`

## Version
2.1.0

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. create any custom action
2. merge it with composer schema and set it as

[2021-08-19 02:47] lei9444 commented on #8540
Hi @dmvtech, I have checked you bot, I think the MultiplyDialog.schema is in the wrong place. We need put it to the MultiplyDialog project. Could you try it and check if there are still some errors in the panel?

[2021-08-19 02:52] mafiageek commented on #8542
@dmvtech Its my company internal nuget source.

Could you let me know which nuget package I need so I can request to add it to internal source.

[2021-08-19 08:02] corepk commented on #8533
@benbrown - yes. Thank you for highlighting it. Let me try to understand why is it happening. Airtel is an internet service provider and you are correct that Composer should not access this URL directly. Let me investigate it. Thanks again :)

[2021-08-19 10:19] SSanjeevi opened #8579 "Send an HTTP request doesn't send the custom headers added"
## Describe the bug

Send an HTTP request doesn't send the custom headers added

## Version

2.1.0

## Browser

- [ ] Electron distribution

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Send an HTTP request'
2. Click on 'add headers'
3. give values for headers name and value
4. on http request trace in emulator i find headers are not sent in the request header

[2021-08-19 14:14] benbrown commented on #8533
@corepk Any info you can provide will be helpful.

[2021-08-19 15:12] afahmy11 opened #8580 "multi choice using json array"
hi

i need to present multiple choices to the user from a json array. when i run it in the emulator the choices dont appear
please help

![2021-08-19 at 5 11 PM](https://user-images.githubusercontent.com/49028761/130093936-03581287-7de2-4465-85bb-acd04609c599.jpg)

![2021-08-19 at 5 11 PM](https://user-images.githubusercontent.com/49028761/130094035-1e16f12c-7a90-438e-ba67-80dc48edf490.jpg)

[2021-08-19 16:33] tonyanziano commented on #8576
Can you see if this reproduces in the web build?

[2021-08-19 16:43] tonyanziano commented on #8579
Hey @SSanjeevi ,

I think there is an issue with the SDK that is not logging the custom headers in the HttpRequest trace, because I don't see my custom headers in the Emulator either when trying to reproduce this.

However, if you use a network traffic monitor like Fiddler, you can see that the outgoing request does in fact have the custom headers attached:

![image](https://user-images.githubuser

[2021-08-19 17:46] tdurnford commented on #8578
@MahmoudHamdy00 when you disable an action Composer just sets the `default` property for the action to `true`. You need to handle the disabled condition in your custom action. Take a look at the [Send Activity](https://github.com/microsoft/botbuilder-dotnet/blob/c9bbad874e1800f07598bf4db573974d592e7a55/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/SendActivity.cs#L89) action for an exam

[2021-08-19 18:00] cwhitten commented on #8578
Closing as a how-to. Please jump the Stack Overflow for additional troubleshooting support

[2021-08-19 18:00] #8578 closed

[2021-08-19 18:25] natalgar commented on #8523
I followed up with Brad on this. The "unable to load schema" error is still present but it's not blocking editing. I'll work on getting in the PR #8530 to fix the schema fetching.

[2021-08-19 18:25] #8523 closed

[2021-08-19 18:52] praveenvavilla opened #8583 "Cancel all dialogs not processing any activity after cancel all dialogs activity"
Hi,

I created test bot to see if cancel all dialogs is working or not (after I see issue with it in our bot) and looks like it is not processing any activity after cancel all dialogs activity.

![image](https://user-images.githubusercontent.com/55256942/130127086-0e9d1061-475a-4e75-8a32-276bec71a448.png)

I do not see cancelled all dialogs message after cancel dialogs activity

transcript:

[canc

[2021-08-19 21:44] anusharr commented on #8573
@aninternetian, I tried the  [Create and test a local skill](https://docs.microsoft.com/en-us/composer/how-to-export-a-skill?tabs=v2x) documentation and I am able to get it working as expected on version 2.1.0.
![skills1](https://user-images.githubusercontent.com/48731427/130148071-ad43c25f-f084-4ae3-a0bf-151ad6f38f3d.png)

![skills2](https://user-images.githubusercontent.com/48731427/130148102-d7

[2021-08-19 22:32] stevkan commented on #8580
@afahmy11, the problem is you are passing in an object into the array instead of values. The prompt is recognizing that you have supplied a value within the property and starts listing them, starting with '1'. But, it doesn't know what to do with the passed in object because it was expecting a spread.

Change the `dialog.array` property value to: `["1","2","3"]`. You will then see the output like

[2021-08-19 23:43] boydc2014 commented on #8540
Can you clarify a little bit more with where the .schema file should be put, and where it's been put today? Just make it very explict and also please point out the doc part where it wasn't very clear

[2021-08-20 06:08] pannerselvam-yaltech commented on #8522
Thanks for help. It's working.

[2021-08-20 06:56] ma9az commented on #3299
The solution shared by @DnlCYan worked for me as well

[2021-08-20 08:16] afahmy11 commented on #8580
thanks, isn't there a way to present the values from an array of objects? my array is actually a json content

[2021-08-20 16:17] pavolum commented on #8573
I believe this is due to a missing null check. I am adding that null check as part of resolving this isse https://github.com/microsoft/BotFramework-Composer/issues/8547

[2021-08-20 16:19] pavolum commented on #8573
Its challenging to repro, essentially composer hangs as it tries to stop a process from a previous that is in fact null. Adding the null check seems to resolve the issue.

[2021-08-20 16:24] pavolum commented on #8564
Triage findings:
- There was a missing null check that led to Composer hanging and giving no meaningful error message. The PR associsated with this issue adds the null check, this will likely resolve ieesues #8547 and #8573
- When that null check is added you get meaningful error messages
- When the bot project is opened, the botProject.name variable is set to the name of the containing dir (which

[2021-08-20 17:31] joshgummersall commented on #8583
Canceling all active dialogs includes the current dialog, so processing halts immediately. This is the expected behavior.

[2021-08-20 18:00] #8583 closed

[2021-08-20 19:34] stevkan commented on #8580
If it's a requirement that you pass in an array of objects, then you can use the below expression. Testing proved successful when I ran it.

**dialog.array**
[code]

**Multi-choice prompt:** In User input => Array of choices => Write an expression, we need to iterate over every object in `dialog.array`. For each item in each object, we need to iterate over the choices and return each of the values

[2021-08-20 19:34] #8580 closed

[2021-08-20 19:41] pavolum commented on #8573
@anusharr I had a similar issue where a running bot would hang forever and not give a valid error message. This PR (https://github.com/microsoft/BotFramework-Composer/pull/8587) adds a null check that enabled me to at least get a meaningful error message when the bot would not start.

@aninternetian once we get this null check shipped in our next patch in the coming weeks you should be able to see

[2021-08-20 19:49] pavolum commented on #8564
@dgancho below is a workaround to enable you to rename the bot project folder without breaking the solution:
1. Rename the .csproj file in the root of your bot proj to same name you renamed your bot dir.
![image](https://user-images.githubusercontent.com/22845013/130285940-8a931559-bbec-4735-b304-8dcb0ab2ce1f.png)
2. Update the run command value to use your new .csproj name in appsettings file for

[2021-08-20 19:54] pavolum opened #8588 "[Documentation] Add documentation outlining how to rename bot project directory without corrupting Composer solution"
## Describe the bug

Users are manually changing the names of their bot project directory and this has unintended side effects that corrupt the local build and run system in Composer.

If users want to change their bot project folder name they also have to change three other values in their solution to ensure the directory name change does not corrupt the solution.

At the time of writing this iss

[2021-08-20 19:54] pavolum commented on #8564
I have added an issue to track the addition of the workaround to our docs page
https://github.com/microsoft/BotFramework-Composer/issues/8588

[2021-08-20 20:38] praveenvavilla commented on #8583
hi @joshgummersall

if I want to have signout in the middle of any dialog flow (I will have many dialogs) , do you recommend to do the below in sign out   trigger

- sign out
- cancel all dialogs

[2021-08-20 20:39] joshgummersall commented on #8583
That sounds right to me, yes.

[2021-08-20 21:25] praveenvavilla opened #8589 "Seeing InputDialog is missing Prompt"
## Describe the bug

I am seeing below error after oAuth prompt log in and entering magic code
![image](https://user-images.githubusercontent.com/55256942/130293577-2124c662-68f5-433d-a55c-52d49fcba01e.png)

I see the below traces in output
 Information: 0 : 1: 'conversationUpdate' ==> custom           ==> Template
 Information: 0 : 1: 'conversationUpdate' ==> custom           ==> Template
The thr

[2021-08-20 21:53] Stevenic commented on #8574
I would create a piece of middleware that writes it to a property off conversation state. The property will be available to composer when the Repeat intent is triggered.

[2021-08-20 21:54] Stevenic commented on #8574
This would be a great add to the community packages @garypretty

[2021-08-20 22:11] DebdeepBurman commented on #8574
@Stevenic it would be a great help if you could point me to a sample that sets a property in middle ware please. I have created a middleware n I could capture the last message but not sure how to set a property there with the entire activity object along with suggestion actions  and make it available to composer. I m new to composer. :)

[2021-08-20 23:36] tonyanziano commented on #8496
@stevkan I think the next step would be to figure out how the SDK handles the prompt for attachment input action. It seems like the mock Direct Line logic in the Emulator & Composer is not giving the bot what it is expecting in order to complete the prompt.

After looking at the Direct Line API docs for [uploading an attachment](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-frame

[2021-08-21 01:50] arafattehsin commented on #2375
Hi team! I noticed that instead of opening up an issue, we've got a similar requirement as above. At times, in order to test certain conversation block, I don't want to go through the whole conversation, is it possible to have GoTo action where we just provide an ID and then it only tests that part?

As @mareekuh mentioned, PVA already has similar approach but I understand as it is only related to

[2021-08-21 06:02] praveenvavilla commented on #8583
got it thank you for confirming

[2021-08-22 03:20] aninternetian commented on #8573
Apologies for the late response, I'm not able to actively update this issue due to a shift of my work. Do feel free to close if the null patch is solved. I'll keep this issue open for now if it helps for tracking, but do let me know if the patch is available and I'll close it (or someone else can)
BTW @pavolum, I didn't rename anything. I mentioned that I made another test bot project and left it

[2021-08-22 11:50] azurecloudmatt opened #8591 "fromFile not a built-in function in Create in Property, but it exists in Bot Responses"
## Describe the bug

When I try to 'Set Property' and 'Create Expression' I add the following using the autocomplete prompts in Composer `=json(fromFile(user.path))`
Despite the inbuilt prompts I get a warning "Set a property: value fromFile does not have an evaluator, it's not a built-in function or a custom function." when adding the property.

If I add a Bot Response template using `- ${json(fr

[2021-08-23 13:56] tracyboehrer commented on #8413
@rattlehead1319 Closing this issue due to inactivity.  If you have more questions please reopen this issue or create a new one.

[2021-08-23 13:56] #8413 closed

[2021-08-23 14:00] tracyboehrer commented on #8534
@KoradaRajesh Do you have some steps or sample dialogs we could use to reproduce this issue?

[2021-08-23 14:03] tracyboehrer commented on #8422
@tonyanziano any news on this?

[2021-08-23 15:58] natalgar commented on #8283
For anyone getting a 403 response, I have some more questions to help with the debugging. If you can answer these questions the next time you run into it that would help. Thanks!
1. Does this happen every time you provision?
2. What type of account are you using? Is it a work, school, or Microsoft account?
3. What is your "role" for the subscription you are using? You can find this by looking up y

[2021-08-23 16:25] tonyanziano commented on #8422
@tamasschmolcz It turns out that this is currently an unsupported scenario in PVA and is by design, because when using a mutli-choice prompt in PVA it actually stores the value as a ClosedListType variable in the back-end. In Composer, when you are trying to set the property, you are using a string, which is a type mismatch and that is what causes the error.

It might eventually be supported in th

[2021-08-23 16:25] #8422 closed

[2021-08-23 17:43] #8547 closed

[2021-08-23 17:43] #8564 closed

[2021-08-23 17:55] tracyboehrer commented on #8543
@someonelikeTIM Was dmvtechs answer helpful?

[2021-08-23 17:58] tracyboehrer commented on #8516
@tonyanziano Is there an update for this?

[2021-08-23 18:18] tonyanziano commented on #8516
@tracyboehrer this has been triaged by PVA, but there is no update on it yet.

(Ref: [PVA work item](https://msazure.visualstudio.com/CCI/_workitems/edit/10533584))

[2021-08-23 19:47] #8477 closed

[2021-08-23 19:47] #8525 closed

[2021-08-23 23:45] anusharr commented on #8591
@azurecloudmatt, thanks for reporting this. Can you share a screenshot of how your customFunctions field looks like in the advanced settings view and also the json code part for where you have added the Set Property?

[2021-08-23 23:55] anusharr commented on #8538
@cpolanish, apologize for the delay in response. Can you specify more on the part where your above implementation was working fine and then you started to get the error. Did you make any other changes after which the error started showing up?

[2021-08-24 00:02] jcmorara commented on #8559
It's working fine now. The issue was caused by an existing project reference to the CustomAction project, which generated conflict.
After removing the reference I was able to install the NuGet package.

[2021-08-24 00:02] #8559 closed

[2021-08-24 00:47] jcmorara opened #8593 "Getting transcript from a custom action"
I'm trying to create a custom action to get the conversation transcript. Problems started trying to get the connectionString from settings, it always returns null(no issues with container name). I can see the values in chatbot appSettings. Find below the code I'm using
[code]
Am I doing something wrong? What is the best way to do this?
Also, I was trying to see if there is a way to access the buil

[2021-08-24 02:08] ParagHurkat commented on #8533
I also get a similar error when trying to install Orchestrator package.

![image](https://user-images.githubusercontent.com/49488006/130544409-2a8b699b-6ebd-4f0e-aeed-56c6a67573a9.png)

If this problem persists, please file an issue on GitHub
Could not load component list:Error Cannot create property '$bundled' on string '<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-

[2021-08-24 05:01] srinaath commented on #8533
@benbrown

[2021-08-24 08:55] tushaar9027 opened #8595 "Not able to enable allow interruption to true in composer for a choice prompt"
![image](https://user-images.githubusercontent.com/10369409/130588029-b324e78d-6d32-4ec5-85e5-a00b13a5e846.png)
Attaching th screenshot of the issue

[2021-08-24 10:01] MrVictorX opened #8596 "SyntaxError when allowing interruptions"
## Describe the bug

Hello, I've been testing and learning to use the bot framework and I've been using consistently the framework without changing any source code by hand, as I was implementing a cancel dialog to interrupt any current dialog flow and I wasn't being able to cancel it when the user types cancel, then I found a section when prompting text to allow interruptions
![image](https://user

[2021-08-24 10:46] azurecloudmatt commented on #8591
Thanks for the quick response @anusharr!

Below is what you asked for with some additional detail just to show where `fromFile` does work. In case it wasn't clear from the original post, I have not added the fromFile function anywhere, this is all from Composer starting with an Empty Bot template.

**The parts you asked for:**
Advanced settings of customFunctions JSON...
<img width="300" alt="cust

[2021-08-24 12:35] cpolanish commented on #8538
I did not, only thing that changed was I upgraded to 2.1 (at least to the best of my knowledge). Unfortunately I ended up scrapping that bot and have rebuilt it (had a handful of random issues I was facing, figured it was better to just start fresh), but still happy to provide whatever insight I can.

Christopher Polanish
Software Team Lead
(631) 815-1711
***@***.***
flexiblesystems.com
This e-mai

[2021-08-24 14:43] vaibhav-kansal opened #8598 "what the best way is to have a top-level Cancel intent? Where the user is prompted to continue or cancel with their intent is Cancel. Do we need to add interruptable to every prompt?"

[2021-08-24 15:55] benbrown commented on #8533
@chrimc62 this error is coming out of the cli and the library when attempting to traverse the schema definitions. It appears most-often connected with a call to `http://json-schema.org/draft-07/schema#` that is referenced in our bot framework schema files. Any idea why this might occur for some people?

[2021-08-24 16:12] dmvtech commented on #8576
Yes @tonyanziano It reproduces with my build of `2.1.0` and `Microsoft Edge
Version 92.0.902.73 (Official build) (64-bit)`.

[2021-08-24 16:20] pamela032709 commented on #3324
Works for me .Thanks!

[2021-08-24 16:36] srinaath commented on #8596
@MrVictorX This is a known bug. We have already resolved it in this PR https://github.com/microsoft/BotFramework-Composer/pull/8560. If you can wait for our next patch release in a few weeks you can grab the change or you can immediately get the fix by using the Composer nightlies (Early adopter
![Screen Shot 2021-08-24 at 9 36 09 AM](https://user-images.githubusercontent.com/13004779/130655424-8a

[2021-08-24 16:36] #8596 closed

[2021-08-24 16:37] srinaath commented on #8595
Closing this ticket as the bug has been resolved in the latest nightly.
https://github.com/microsoft/BotFramework-Composer/pull/8560

[2021-08-24 16:37] #8595 closed

[2021-08-24 16:39] srinaath commented on #8593
@jcmorara Could you follow the default issue template if possible to indicate the version of Composer, OS etc.

[2021-08-24 16:43] mareekuh opened #8599 "QnA Knowledge base page in Composer has 2 'view code' options - inconsistent experience that cannot be solved by documentation"
In composer, nightly build from Aug 22

Start a new bot with

1.  Language
2. Set up LUIS and QnA
3. Create a new KB from scratch using the wizard (aka: point to a website)
4. KB is set up.
5. Go to the far right side of the page, and click 'view code'

6. Go to the left side of the body of the page, right under the 'Question' header. Notice a pen as well as a '...' icon.
7. Also notice that the t

[2021-08-24 16:45] srinaath commented on #8589
@praveenvavilla What version of Composer are you using? Is this done through the OAuth action in Composer?.  Could you share a screenshot of the flow canvas of Composer for us to better undertand the nodes in play

[2021-08-24 16:47] srinaath commented on #8432
@mhtmht Did you try swapping the feed to use MyGet instead of ADO?

Closing this ticket due to inactivity,

[2021-08-24 16:47] #8432 closed

[2021-08-24 16:51] tonyanziano commented on #8576
Seems like this is not an Electron issue then, and could be a React re-rendering issue.

[2021-08-24 17:03] dmvtech commented on #8598
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-08-24 17:03] #8598 closed

[2021-08-24 17:04] dmvtech commented on #8598
Yes @vaibhav-kansal Each prompt needs to be allowed to be interrupted.

[2021-08-24 17:43] jcmorara commented on #8593
## Describe the bug

I'm trying to create a custom action to get the conversation transcript. Problems started trying to get the connectionString from settings, it always returns null(no issues with container name). I can see the values in chatbot appSettings. Find below the code I'm using
StringExpression containerExpression = "=settings.runtimeSettings.features.blobTranscript.containerName";
var

[2021-08-24 17:52] JonathanFingold commented on #8599
@vivekkshankar Let me know when changes have made it into the nightly build.

[2021-08-24 19:41] Clooney24 commented on #8538
What do you mean by "add a trigger under the main dialog and connect it to the dialog"? How did you connect the dialog to the trigger? I have a trigger in the main dialog with another Replace dialog action to same dialog, but this didn't resolve this issue.

[2021-08-24 19:47] Clooney24 commented on #8538
This is really urgent, we need to migrate to 2.1 quickly because of some other features, but we can't until this issue is resolved.

[2021-08-24 19:49] Clooney24 commented on #8538
@anusharr I'm happy to offer a screen-sharing session if that helps.

[2021-08-24 23:26] dmvtech commented on #8563
Hi @snapfisher Are you able to share a repro?

[2021-08-24 23:28] dmvtech commented on #8531
Hi @SundaresanSivakumar Any luck with the above steps?

[2021-08-24 23:35] snapfisher commented on #8563
My bad.  I'll do it tonight.

On Aug 24, 2021 7:27 PM, Dana V ***@***.***> wrote:

Hi @snapfisher<https://github.com/snapfisher> Are you able to share a repro?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/microsoft/BotFramework-Composer/issues/8563#issuecomment-905041559>, or unsubscribe<https://github.com/notifications/un

[2021-08-25 00:00] snapfisher commented on #8563
https://github.com/snapfisher/problemcancelbot

Here is what is occurring.  There is a dialog called graph, which just prints out a message "graph is not supported".  There is a weather dialog, which asks for your zipcode and then gives you the weather.  There is a cancel dialog which cancels all dialogs.

So if you say "weather" and then "cancel" everything cancels.  However, there is a second tr

[2021-08-25 01:18] praveenvavilla commented on #8589
Hi @srinaath ,

Here is the info on composer version.
Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

Yes am using oAuth action in composer canvas , and am seeing this error in middleware at this line
await next(cancellationToken).ConfigureAwait(false);

![image](https://user-images.githubusercontent.com/55256942/130710514-cacc19a6-45e5-4340-ae29-5a

[2021-08-25 01:32] anusharr commented on #8538
Adding @boydc2014 for any further clarifications.

@Clooney24 @cpolanish, since the Replace Dialog action was working in v1.4, it seems be a regression on the SDK side. A quick workaround at this point would be to add ` "dialogs" : ["the dialog name which is configured in the Replace dialog action "]` to the main dialog code to manually link the dialog to the main dialog . Let me attach screenshot

[2021-08-25 03:20] SSanjeevi commented on #8497
@benbrown we are able to get the same cards as response from bot, only thing is it's logging the response in logs telemetry.
Even some messages are missing.

[2021-08-25 05:03] SundaresanSivakumar commented on #8531
Here is the terminal o/p Dana

2021-08-25T04:59:29.619Z composer:publisher-controller Setting up runtime
log server
GET /api/publish/runtimeLogUrl/90574.58464532069 304 32.908 ms - -
2021-08-25T04:59:29.752Z composer:bot-project Schemas directory found.
GET /api/publish/90574.58464532069/status/default 404 158.125 ms - 66
GET /conversations/ws/port 200 39.554 ms - 39
GET /conversations/ws/port 200

[2021-08-25 16:15] Clooney24 commented on #8538
Hi @anusharr,

thanks for this informations, but this workaround doesn't work and shows a very strange behaviour.

First, I get a warning "Property dialogs is not allowed":

![image](https://user-images.githubusercontent.com/14079908/130826628-a0dc427a-0e17-4983-a050-278a091a7cb0.png)

When I start anyway and test the ReplaceDialog calling the "Restart" dialog, I got an error that references to id

[2021-08-25 16:30] afahmy11 opened #8602 "extract luis ml entity if it is not a number"
hi

i am trying to define an entity that is of type ML to extract a phrase from the user utterance "show me the balance of {@customer}" but it is also extracting numbers

is there a way to define the (@ ml customer ) so that it only extract phrases and not numbers

thanks

[2021-08-25 16:36] Clooney24 commented on #8538
here a stacktrace, looks that there are some iterations, as ReplaceDialog is called several times?
(LocaleSelection, ActivityLogger and ProactiveMessaging are our custom components)

[18:21:42 ERR] ----- ERROR: 'DialogContext.BeginDialogAsync(): A dialog with an id of 'Restart' wasn't found. The dialog must be included in the current or parent DialogSet. For example, if subclassing a ComponentDial

[2021-08-26 04:06] camiospina opened #8603 "Got a problem when publishing bot in azure"
I was about to publish my bot using create new resources as my publishing profile, but after had filled in all the information and clicked the create button I got the following problem:

{"name":"CREATE_APP_REGISTRATION","message":"App create failed! Please file an issue on Github.","stack":"Error\n at new CustomizeError (\\resources\\app.asar.unpacked\\extensions\\azurePublish\\dist\\extension.js

[2021-08-26 06:19] gaurav25dec opened #8604 "Facing the same issue as Failed to bind luis prediction resource to luis applications."
Facing the same issue as Failed to bind luis prediction resource to luis applications.
![image](https://user-images.githubusercontent.com/85859250/130900617-49710008-8011-4cce-b348-acff9ebb6a16.png)
![image](https://user-images.githubusercontent.com/85859250/130900851-9dbf9a1d-d699-4be3-ad99-59c7ca3c88d5.png)

Here is my publishing profile
![image](https://user-images.githubusercontent.com/8585925

[2021-08-26 10:10] apsiadev opened #8605 "Several Custom Actions in one Bot Component - Object reference not set to an instance of an object"
Hello,

So I tried to pack several custom written actions (in c#) starting from the microsoft custom action sample :

I added a new dummy class

[code]
add the service to the component?

[code]

added the json part in sdk.schemas
![image](https://user-images.githubusercontent.com/70264268/130944468-46a743dc-10c6-41f4-8e59-bf73b4e72aaf.png)

I can add my new custom action in the bot composer interf

[2021-08-26 12:07] shivamguptaram opened #8606 "Is there a way to change bot language dynamically? turn.activity.locale changes the next upcoming response only."
locale ,user.locale and conversation.locale also didn't work.

## Describe alternatives you've considered

## Additional context

[2021-08-26 12:59] #8605 closed, assigned to tracyboehrer

[2021-08-26 16:33] #8603 closed, assigned to nobody

[2021-08-26 16:57] metkhoo opened #8608 "SyntaxError - Unexpected token u in JSON at position 0"
## Describe the bug
This error is generated when attemptingh to publish a sample "EnterprisePeople" BOT to Azure.
The Bot works locally (albeit very slowly) in Bot Framework Emulator 4.1.4.0
Error Message displayed is:

SyntaxError - Unexpected token u in JSON at position 0

Seems to imply mal formed JSON but I can't see the problem...

All resources exist.
Grabbing at straws here but could it be

[2021-08-27 09:13] madbeher opened #8612 "composer bot support for whatsapp"
Hi,

Does composer bot supports whatsapp channel. If yes could you please provide the documentation link
related to whatsapp based on that I will proceed for crating a bot for my project.

Thanks,
Madan

[2021-08-27 11:28] DeependraKhangarot opened #8613 "Publish not working when using existing resources"
## Describe the bug

When I am using existing resources and publishing the bot it's failing with the below message:

"DEPLOY_ZIP_ERROR - There was a problem publishing bot assets (zip deploy)."

## Version

v2.1.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Publish'
2. Cl

[2021-08-27 14:52] Clooney24 opened #8614 "missing locale support for option texts and mess up in rtl languages"
Hi, I use bot composer 2.1 with several languages.
In some of the languages, the yes/no options generated from bot are in the selected language. In others languages, they always are in English.

For example Spanish, German, French is fine but in Italian, Russian, Hebrew, Arabic, always "(1) Yes / (2) No" is generated.

Would be nice if we at least would get an option to store those options in targ

[2021-08-27 14:57] Uggi opened #8615 "Error when I use GetConversationMembers In MS Teams"
## Describe the bug

when running a bot from MS Teams, when I attempt to call GetConversationMembers component to get the name of the people
I get the following error "GetConversationMembersAsync() only works with BotFrameworkAdapter"
Am I missing a setting? is there something I need to enable?

## Version

![image](https://user-images.githubusercontent.com/4349731/131146076-90be2bd2-d38c-43ac-bdd

[2021-08-28 00:07] mafiageek commented on #8542
Thank you very much for solving this issue

[2021-08-29 05:37] ryuzaki4337 opened #8617 "Allow Interruptions"
I'm trying to create a bot that asks the country name and gets the capital of that country. I wanted to add an interruption after asking the country's name, so that it cancels my request, with some message. But when I'm trying to change the "Allow Interruptions" option in the Prompt Configurations section, I'm facing this issue. Can anyone please help me regarding this? Thanks in Advance

"Uncaugh

[2021-08-29 17:30] Clooney24 opened #8618 "Error message related to .lg files should mention the affected locale or filename"
We are using 33 languages and this error is just in one lg file. The filename should be mentioned to not be forced to lookup each file manually.

![image](https://user-images.githubusercontent.com/14079908/131259738-7d087e1e-8c15-43d8-9fcb-4df11f68e7c3.png)

Version:  2.1.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-08-30 04:50] gaurav25dec commented on #8604
Still stuck in the mentioned issue. Please let me know if I can help with anything else in identifying the issue.

[2021-08-30 07:13] gaurav25dec commented on #8604
From where we can get the deployment logs over Bot Framework Composer 2.1.0
![image](https://user-images.githubusercontent.com/85859250/131300203-aa3c22d1-3cb1-4d67-a1b9-9ad68978211a.png)

[2021-08-30 09:03] SupriyaBhogi commented on #1851
Hello everyone
![image](https://user-images.githubusercontent.com/83270427/131314922-19ed4303-13f6-47c1-add3-9218ea38bba3.png)

, i am facing one issue in bot framework composer can you pls give suggestion for this

[2021-08-30 11:49] flabodotes commented on #8513
Hi @cleemullins , Could you reopen it?
@srinaath Our project right now has 32 dialogs. About size, What size do you need? the .net solution size or the compilation result?
We also have issues in composer when stop the server, sometimes even closing Composer the server keeps up consuming and after restart it uses a new server port.

Sorry but we can't share the bot assets.

[2021-08-30 14:05] afahmy11 commented on #8602
the solution is to provide several utterances to train the ml engine, after sometime luis stopped extracting numbers as a customer

[2021-08-30 14:05] #8602 closed

[2021-08-30 15:39] csmuthukuda commented on #8612
@tracyboehrer sorry for jumping in but we are facing the exact same problem with our js based bot created with composer..can you please guide me through some resources or tutorials that I can follow about how to connect a community built adapter(ex: Twilio Whatsapp) with our bot.

[2021-08-30 18:44] LeeParrishMSFT commented on #8615
@Uggi Thanks fore reporting this. I'm setting up a repro and will report back what I find as soon as I can track something down.

[2021-08-30 19:10] elibery opened #8620 "Prompt for optional question in Bot Framework Composer"
Is there an option to ask user an optional question? For example when prompting a Date or Time question: "When did the issue begin?", user should have an option to answer the question or skip it like it was in BotFramework V3. I searched for this feature a lot in the docs but could not find it.

[2021-08-30 19:19] elibery opened #8621 "Repeat only the last question if the user does not confirm his answer"
## Describe the solution you'd like

Repeat the question if the user does not confirms the answer

## Describe alternatives you've considered

Create a new dialog which will include the question, the result and user's confirmation and if user does not confirm his answer then repeat the dialog.
Alternative way screenshot:

![image](https://user-images.githubusercontent.com/68510456/131392808-19460e

[2021-08-30 20:17] praveenvavilla commented on #8589
Shared simplified version with repro steps offline and waiting for solution on this

[2021-08-30 20:56] dmvtech commented on #8531
@SundaresanSivakumar You should have 2 schema files as well. I have attached them. Can you extract them from the zip and add them to the schemas folder and see if that resolves the issue?

[schemas.zip](https://github.com/microsoft/BotFramework-Composer/files/7079555/schemas.zip)

[2021-08-30 23:32] dmvtech commented on #5364
There are default `yes/no` choices (choices that are presented to the user. Similar to Suggested Actions), and only for 8 languages. When you configure choices in Composer, you are just _changing_ these (suggested) choices that are being sent to the user, for them to use. They could click any choice, or they could write in their own response.

The only thing that is being evaluated to `true` or `f

[2021-08-31 07:29] shivamguptaram commented on #8606
I am using emulator right now, I am changing the turn.activity.locale by using 'set property' in composer

![image](https://user-images.githubusercontent.com/27141073/131461373-722560ec-76a7-4136-94ae-194be4cf5240.png)

[2021-08-31 08:50] gaurav25dec commented on #8604
Please Help

[2021-08-31 16:36] srinaath commented on #8621
@elibery We haven't got a request for this feature and it seems to be possible to do with the existing Bot Framework concepts. Does this solution work? We agree, that this would be the way to do it. In addition, you could wrap this in a custom action as well to expose this concept in a more generic way.

[2021-08-31 16:43] srinaath commented on #8618
@Clooney24 Clicking into the location, should get you to the activity in which the error occurred. From there you navigate to the root of the problem in the all up LG view. Composer always operates on one language (currently selected one). So, you could narrow it down to the lg file under that locale.

[2021-08-31 16:46] srinaath commented on #8617
@ryuzaki4337 This bug has been resolved here https://github.com/microsoft/BotFramework-Composer/pull/8560. It should be fixed in the latest nightly. We also plan to release a patch in a few weeks that should also contain this fix.
Ref https://github.com/microsoft/BotFramework-Composer/issues/8515.

[2021-08-31 16:46] #8617 closed

[2021-08-31 16:51] srinaath commented on #8613
@DeependraKhangarot  This is a know bug. We have resolved the bug in this PR https://github.com/microsoft/BotFramework-Composer/pull/8532. You should not be seeing this error in the latest nightly of Composer (Early adopters setting).

[2021-08-31 16:51] #8613 closed

[2021-08-31 16:56] srinaath commented on #8612
@garypretty Is there any documentation related to this?

[2021-08-31 16:58] tracyboehrer commented on #8612
@clearab What is the status of documentation around custom adapters in Adaptive Runtime?

[2021-08-31 18:03] anusharr commented on #8591
@azurecloudmatt, apologize for the delay in response, but can confirm that fromfile() is only going to be available in LG, not from expressions used elsewhere. So I will go ahead and change this issue from a bug to a Feature Request.

[2021-08-31 18:15] LeeParrishMSFT commented on #8569
Closed due to lack of response.

[2021-08-31 18:15] #8569 closed

[2021-08-31 19:05] SSanjeevi commented on #6106
@stevkan  - we are facing this issue, any suggestion?

we are using existing LUIS resource and using the preview composer pipelines to deploy. we are not getting the sentiment score even after changing the settings in luis portal.

[2021-08-31 19:29] SSanjeevi commented on #6677
@boydc2014  - even after updating this in appsettings json , these qna are added in deployments.

[2021-08-31 19:31] dmvtech commented on #8614
Correct. You can see that in the ConfirmInput, that we [only have a set amount of languages](https://github.com/microsoft/botbuilder-dotnet/blob/fe483b10756d1aa9a8072a5667ccbfdc22febbb9/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/ConfirmInput.cs#L31) preconfigured.

You could add those languages to your **_own_** build of that class/library, then use that in your bot. Additionally; you

[2021-09-01 09:23] afahmy11 opened #8623 "modify appsettings.json for a published bot in azure"
hi

is it possible to modify the appsettings.json file after publishing the bot to azure? i have a settings.mytoken that i am using in the bot which i need to update in the file when it is changed

[2021-09-01 09:28] geo-msft commented on #8379
yes, both authoring and prediction keys were specified when I repro-ed this.

[2021-09-01 11:47] flabodotes commented on #8513
Hi again, we are analyzing that maybe it's a problem related to antivirus, which is monitoring each change and creating that overload. Do you have a similar situation in another scenario? There is some recommendation to whitelist on antivirus?

[2021-09-01 15:26] LeeParrishMSFT commented on #8615
@Uggi based on my investigation it seems that this function was missed during a code refactoring and it will require a fix in a future SDK to get this enabled again. There may be a workaround using some custom code until that can be done, are you needing this now for a production bot, or are you prototyping or doing some investigation for now?

[2021-09-01 15:33] Rajendrakumarnune opened #8624 "How to read transcripts from the composer?"
Please suggest to me what are the possible ways to read transcripts from composer?

[2021-09-01 15:46] lshade opened #8625 "Double greeting message with DirectLine"
## Describe the bug

I have deployed a Composer bot to Azure and configured the Direct Line channel. In Composer, I use the standard greeting message in the Conversation Update trigger.

When testing with Direct Line, the greeting message activity comes through twice. Once before the conversationUpdate, and once after. Should this only be sent after the conversationUpdate?

## Version

v2.1.0

##

[2021-09-01 16:01] vaibhav-kansal opened #8626 "LUIS intents not being hit in text prompt"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-09-01 16:24] dmvtech commented on #8404
Closing due to inactivity.

[2021-09-01 16:24] #8404 closed

[2021-09-01 16:25] dmvtech commented on #8563
@snapfisher Any update? Were you able to get it working as desired?

[2021-09-01 16:33] snapfisher commented on #8563
I did not realize you were waiting for a response, sorry.  Yes, I know it works at the top level. I think the issue is that the documentation infers that it should work at the lower level -- at least that is how I read it.  Perhaps this is really a bug on the documentation.

On Sep 1, 2021 12:25 PM, Dana V ***@***.***> wrote:

@snapfisher<https://github.com/snapfisher> Any update? Were you able to

[2021-09-01 17:01] jcmorara commented on #8593
Hi @dmvtech!
Any update? Could you replicate the issue?

[2021-09-01 17:17] dmvtech commented on #8626
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-09-01 17:17] dmvtech commented on #8626
Are you authoring/creating the LUIS app from within Composer or did you create it outside of Composer (LUIS portal) and are trying to get it to work? If the latter; this is not supported at this time. Please [create and author your intents and entities within Composer using LU](https://docs.microsoft.com/en-us/composer/how-to-add-luis?tabs=v2x).

[2021-09-01 17:22] vaibhav-kansal commented on #8626
Hi @dmvtech I am creating it it within Composer but still its not working when i am calling a dialog and after a prompt for text it is not hitting LUIS i am getting it as text message. So i am not able to use turn.recognized.intent and perform the further activity.

[2021-09-01 17:22] dmvtech commented on #8625
Just to confirm; the out-of-box Greeting checks to see whether the message is to/from the bot. Can you confirm your welcome is the same as that:

![image](https://user-images.githubusercontent.com/43397658/131715213-ef4ee22d-c032-49ae-94bc-ee6c4549d949.png)

[2021-09-01 18:00] Uggi commented on #8615
Hi @LeeParrishMSFT, Thanks for investigating the issue. We need it for a production bot which we plan to release mid-september. Guidance for a work around would be much appreciated.

[2021-09-01 18:03] dmvtech commented on #8623
Hi @afahmy11 Do you want to modify the actual appsettings.json file? or do you just want to change the settings. If the latter; you can just modify/add/change the settings in the application's (App Service) configuration.

![image](https://user-images.githubusercontent.com/43397658/131720645-52bdbfd0-20d0-447c-be97-2c7733074493.png)

If you want to update the file itself, you can use either make c

[2021-09-01 19:05] anusharr commented on #8624
The Microsoft Bot Framework team prefers that **How to** questions be submitted on [Stack Overflow](https://stackoverflow.com/search?q=%23botframework). The official Bot Framework Github repos are the preferred platform for submitting bug fixes and feature requests.

Currently, there is no way to do this out of the box, but it is possible using custom actions and code within Composer. Please creat

[2021-09-01 19:05] #8624 closed

[2021-09-01 19:38] anusharr commented on #8608
@metkhoo, I just tried creating a new EnterprisePeople bot and was able to successfully publish the bot without any errors. As per what you mentioned above, what value did you select for the Language Understanding region in the **Configure** part? The JSON shows as "westus".

[2021-09-01 21:33] dmvtech commented on #8604
Hi @gaurav25dec I apologize for the delay. We are still investigating the "luis bind prediction" issue.

But, I do see in the last screen shot that you are getting a different error (zip deploy). Did you do something specific to get by the luis bind error and then get this new error?

[2021-09-01 22:05] chrimc62 opened #8627 "Forms do not display enumeration field"
## Describe the bug

When creating an enum in a form the enumeration field is not displayed.
![image](https://user-images.githubusercontent.com/17637681/131751366-030a84f3-b4fd-4adb-ad2f-af60bb8bc63d.png)

## Version

Version:  2.1.0-nightly.265215.1ccbce
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

1) Enable the form generation preview.
2) Crea

[2021-09-01 23:08] gaurav25dec commented on #8604
Thanks for your response.

The last screen shot is irrelevant of the mentioned issue, I just wanted to the know the way to access the deployment logs. In earlier version there  was a button to get the same. That may help me to get more details about the error.

Further about the actual question, I am facing this issue with CoreWithLanguage template. The LUIS Authoring and Prediction services are c

[2021-09-01 23:14] stevkan commented on #8496
PR #[2287](https://github.com/microsoft/BotFramework-Emulator/pull/2287) in the BotFramework-Emulator repo should fix the issue.

[2021-09-02 00:07] lshade commented on #8625
@dmvtech yes it's the same, I only changed the text in the `Send a response`

[2021-09-02 00:12] #8627 closed

[2021-09-02 08:11] afahmy11 commented on #8623
thanks dana
i tried this but unfortunately it didn't get the new value.
in my appsettings.json file i have added mytoken[] which i can reach in the bot by referencing "settings.mytoken"
in azure i have added my token with the new value but still in runtime i am getting the old value saved in the appsettings file
![2021-09-02 at 9 59 AM](https://user-images.githubusercontent.com/49028761/131805738-

[2021-09-02 09:34] DeependraKhangarot commented on #8613
@srinaath Could you please share where we can look for known issue as we are proposing Bot Composer to our clients and looking at known issues will help us in deciding in which scenario this will work and where not.

[2021-09-02 15:02] LeeParrishMSFT commented on #8615
@Uggi  I've created a sample here: [GetMembersBot](https://github.com/LeeParrishMSFT/GetMembersBot)  that has the code needed in a Custom Action (documented here: [Create custom actions](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions) ) that will provide the same results as the built in GetConversationMembers. You can clone the sample repo and add the GetConversationMembers

[2021-09-02 18:02] anmolgandhi007 opened #8629 "Skill built on Composer crashes when hosted on Azure"
Built a Skill from Bot Framework Composer version 1.4.0.
It runs fine while running locally on composer.
When its pushed to Azure App Service, it crashes the whole skill.
As we were performing RCA we came to 3 files, which are causing the issue.
Putting any one of these files to the App Service crashes it.

Note-Those 3 files seems to be right and are working fine locally on composer when tested o

[2021-09-02 19:17] #8427 closed

[2021-09-02 20:01] Uggi commented on #8615
Great. Thanks @LeeParrishMSFT

[2021-09-03 07:30] lapulgaatomica10 opened #8631 "Package Manager Error"
## Describe the bug

![image](https://user-images.githubusercontent.com/90028529/131967395-35b38f2a-27fa-4ec5-9586-ff7aceba5604.png)

## Version

Version:  2.1.0-nightly.266659.7c14b7a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubu

[2021-09-03 08:54] stevkan commented on #8589
@praveenvavilla, a colleague and I tested the Composer bot sample you provided and we were able to repro the issue but only under certain circumstances. You may be running into the issue depending on those circumstances and the state of the bot, at that moment.

In my own testing, I only received the error if either I logged in (with no magic code) and sent a message after login but prior to the w

[2021-09-03 15:01] tortura commented on #2695
Hi, i am having the same issue,
![image](https://user-images.githubusercontent.com/1259897/132026567-4687c925-1ac5-4958-94af-0148861d1007.png)

grabbing an input
![image](https://user-images.githubusercontent.com/1259897/132026511-3e8241bf-c70c-4056-a86f-4da6d98a24d6.png)

results in
![image](https://user-images.githubusercontent.com/1259897/132026647-b20b2189-b819-41d7-9754-a16c87f78d72.png)

any

[2021-09-03 15:07] tortura opened #8632 "Hi, i am having the same issue,"
Hi, i am having the same issue,
![image](https://user-images.githubusercontent.com/1259897/132026567-4687c925-1ac5-4958-94af-0148861d1007.png)

grabbing an input

![image](https://user-images.githubusercontent.com/1259897/132026853-cf7c9fa5-1117-437e-b0a9-5166400a32d7.png)

results in
![image](https://user-images.githubusercontent.com/1259897/132026972-41041811-7513-4b60-bbd7-66d44647ba1a.png)

if

[2021-09-03 16:29] dmvtech commented on #8626
@vaibhav-kansal Please use the built in WebChat pane, or test in Emulator. You should see the traces to LUIS and their appropriate scores. That will help determine why the flow is not going as you expect. Alternatively, if you can share a reproduction bot in a repository or zip, I can take a look and see what might be the issue.

[2021-09-03 16:37] dmvtech commented on #8623
@afahmy11 Ah; I didn't realize your setting was an array (I assumed just a string). Did you try the other routes? (Republishing or going through the azure portal to update the appsettings.json?)

[2021-09-03 21:23] dmvtech commented on #8531
@SundaresanSivakumar Any luck?

[2021-09-05 00:14] zaheedk opened #8633 "App create failed after 3 retries. Error: Request failed with status code 403"
Hi,

I am trying to publish my bot from the composer using the option Create New Resources. I have selected my subscription, resource group, and chose Windows as target operating system. When I click on next to proceed, it fails with the error message **App create failed.**

The accoun that I am using to log into Azure is administrator with all privileges. I am able to create resources manually in

[2021-09-05 08:12] andogy opened #8634 "Can't create project"
## Describe the bug
can't create a bot

## Version
**BFW:** 2.1.0
**Node.js:** 14.17.6
*(Already install nodejs and reboot BFW)*

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Just create a project.
2. See error

## Expected behavior

## Screenshots
![i

[2021-09-05 11:17] elibery commented on #8620
Hi @stevkan, any updates?

[2021-09-06 08:25] afahmy11 commented on #8623
thanks i used the App Service Editor to edit the file

[2021-09-06 08:45] alok-kumar opened #8635 "Trying to get input form with submit button in PVA"
I am trying to get input form with submit button. as per the example given in the MS Doc -
https://docs.microsoft.com/en-us/power-virtual-agents/advanced-bot-framework-composer-example4
where we can take input from user and submit it in SP list. but unable to get the form. Json is correct I already checked it on https://adaptivecards.io/
only the thing -${StartTrialForm()} command is written in at

[2021-09-06 17:14] anusharr commented on #8629
@anmolgandhi007, can you elaborate more on the current Composer version you are on along with the steps you are following to push the changes to Azure? Also, do you get any specific error on Composer(or on the Dev Console)?

[2021-09-06 17:59] dmvtech commented on #8633
This appears to be a duplicate of https://github.com/microsoft/BotFramework-Composer/issues/8283

Please follow and comment on that thread for resolution.

[2021-09-06 18:39] #8623 closed

[2021-09-06 20:38] #8563 closed

[2021-09-06 22:07] anusharr commented on #8634
@andogy, can you specify your npm version and also verify if npm is in your PATH environment variable? This looks similar to already reported issues #8431 & #8022.

[2021-09-07 07:24] gaurav25dec commented on #8604
Please Help

[2021-09-07 07:38] zaheedk commented on #8633
Hi Dana,

Issue #8283 refers to assigning application administrator and application developer roles to the user that is publishingthe app, which I have already done and inspite of that it did not solve the issue. This issue is still happening when I am trying to a create a new publish profile.

Plesae advise on next steps.

Thanks
Zaheed

[2021-09-07 09:26] laurence-lin opened #8636 "I failed to build the Bot when adding QnA Maker with Bot Framework Composer"
I've build a chatbot with Bot Framework Composer using LUIS backend, and everything works fine until I decided to add QnA functions to it.

I'd previously built an QnA bot with QnA Maker and published it, and I'd made sure it's working fine when I connected it to LINE on mobile phone. It could answer the question properly when I ask questions on LINE.

Then I tried to connect the QnA knowledge bas

[2021-09-07 14:11] anmolgandhi007 commented on #8629
Sure, currently I am using 1.4.0.
So, as we are working collaboratively with other developers. We are making use of Azure DevOps, Git for versioning of our Bot.
We are then building and releasing it on MS Azure Hosted App Service. While trying to access the Manifest of our Skill, it shows 502 Gateway error.
![image](https://user-images.githubusercontent.com/25576582/132359215-41f93606-7c40-4312-8d

[2021-09-07 14:50] lshade opened #8637 "Trace Activities from Custom Actions not logged in App Insights"
## Describe the bug

I am sending trace activities in Custom Action code that the composer bot calls.

`await dc.Context.SendActivityAsync(new Activity(type: ActivityTypes.Trace, label: result ? "SmsAction SUCCESS" : "SmsAction FAILED", value: smsMessage));`

The custom action is working as expected, and in local development I'm able to see the trace activities (in the emulator and in the WebChat

[2021-09-07 15:06] a-b-r-o-w-n commented on #8634
@andogy Also, please confirm you are able to run the command: `npm root -g --prefix C:\Users\user\AppData\Roaming\BotFrameworkComposer.yo-repository --loglevel error` from outside of Composer.

[2021-09-07 15:20] benbrown commented on #8631
@lapulgaatomica10 Did you install or uninstall any components, or does this happen with a brand new bot?

Can you reproduce the problem with a brand new empty bot?

[2021-09-07 15:56] a-b-r-o-w-n commented on #8573
Closing due to inactivity.

[2021-09-07 15:56] #8573 closed

[2021-09-07 16:02] lapulgaatomica10 commented on #8631
@benbrown yes I tried install and uninstall the composer and after that I tried it on a brand new bot and it is still the same. Should I  uninstall and install the pre-requesites of composer and try it again?

[2021-09-07 16:42] tonyanziano commented on #8637
@lshade are you seeing other activity being recorded in your App Insights instance? Is it just the custom action trace that's missing?

[2021-09-07 17:34] lshade commented on #8637
C# and yes, I'm able to see other traces and customEvents
![image](https://user-images.githubusercontent.com/16640521/132386872-dc345aff-c6a2-4f1b-af0f-8659eeca0f38.png)
![image](https://user-images.githubusercontent.com/16640521/132386916-4753e969-76e4-46cd-a6f7-4dbb06730ee2.png)

When I search for the custom action log, I see a couple customEvents, but no traces
![image](https://user-images.gith

[2021-09-07 19:38] praveenvavilla commented on #8589
Hi @stevkan I am not sure why you were unable to log out as with the same sample I am able to logout, not sure if I miss something here.

It would be great if we can have call on this to better understand what am doing (suggested by Composer team).Please let me know if it is ok for you?

Thanks
Praveen V

[2021-09-07 23:32] snapfisher opened #8638 "Bot Composer does not support Context-Only QnA pairs from QnA maker"
## Describe the solution you'd like

Imported QnA KBs should run identically in the composer as they run outside the composer

## Describe alternatives you've considered

There are not any.  I could deploy the bot to see it run, but that is not a replacement feature

## Additional context

[2021-09-08 05:17] Venu-Git2019 opened #8639 "File not coming in teams - Bot Framework Composer"
Hi,

In one use case, I am sending a PDF file to Bot after some action. I am using below code to send PDF file. It is coming properly in Emulator and azure portal Web Chat but, in teams file is not coming instead getting Operation returned an invalid status code 'BadRequest' message. And in Azure portal Channel health I am seeing Unknown attachment type message. Is there anything I am missing? Ple

[2021-09-08 06:19] msmtctaiwan opened #8640 "operation returned an invalid status code 'ServiceUnavailable'"
## Describe the bug

When I test my bot in the bot emulator, it may appear "operation returned an invalid status code 'ServiceUnavailable' " randomly and the bot will stop its process. The error string may appear at the beginning of the process or in the middle of the process. Refreshing the bot may stop this situation in some probability.
## Version
Bot Framework Composer: 2.1.0
Bot Framework Emu

[2021-09-08 08:52] stevkan commented on #8496
@humak, the above referenced PR has been merged. The fix will be part of the next published version of Emulator.

[2021-09-08 08:52] #8496 closed

[2021-09-08 12:21] vaibhav-kansal commented on #8626
![Capture](https://user-images.githubusercontent.com/89468707/132508045-6b1d9358-3a6e-4a7e-94b9-465cd2090afc.PNG)
Hi @dmvtech  Actually that is the problem after I prompt for text and user is typing something it is coming as message not hitting LUIS. Please find the screenshot for the same.

[2021-09-08 13:03] vinaysopinti opened #8642 "Unable to send attachment to ServiceNow API through bot composer using send a http request option"
I am trying to send an attachment in the body of ServiceNow API(Upload attachment using a binary file). But I am unable to send it in a proper format. when I try to upload a text file, JSON content is getting uploaded in the text file and when I try to upload image files such as image/jpeg or image/png it is giving a bad request error.

How can I send the uploaded file in the composer to the API?

[2021-09-08 15:58] tonyanziano commented on #8637
Hey @lshade ,

I spoke with a teammate and they informed me that Trace activities are only for debugging and are not logged to App Insights because they contain the entire dialog stack JSON and could have some state data that should not be persisted to the instance.

I think the way to go is to [use the TelemetryLoggerMiddleware](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telem

[2021-09-08 16:33] tonyanziano commented on #8638
Thanks for pointing this out @snapfisher . We will look into prioritizing this but currently do not have an ETA on when this would be implemented.

[2021-09-08 16:34] tonyanziano commented on #8639
@anusharr can you please try and reproduce this?

[2021-09-08 16:38] tonyanziano commented on #8640
Hi @msmtctaiwan can you please give us any output from the locally running bot when this happens?

If you are running the bot from Composer, you should be able to find this output in the "Output" tab of the debug panel, if you are running the bot locally from a sample folder, then you should be able to find the logs in the terminal or shell that started the process.

[2021-09-08 17:45] #8608 closed

[2021-09-08 18:17] a-b-r-o-w-n commented on #8538
@Clooney24 I have reached out to the SDK engineers about that PR. There is no update as of now.

[2021-09-08 18:17] a-b-r-o-w-n commented on #8534
Closing due to inactivity.

[2021-09-08 18:17] #8534 closed

[2021-09-08 22:28] Stevenic commented on #8574
@lshade your middleware just needs to take the `ConversationState` class as a constructor param. You can then interact with the conversation state from your middleware and the state changes will be accessible to Composer via the "conversation.XXX" memory scope.

To add middleware to a Composer project you'll need to create a nuget package that follows the [sample found here](https://github.com/mic

[2021-09-08 22:32] Stevenic commented on #8637
@lshade  look at this code example for how to log telemetry events within a custom action:

https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/TelemetryTrackEventAction.cs#L93

[2021-09-08 22:52] dmvtech commented on #8614
Closing as answered. Feel free to open a feature request as needed.

[2021-09-08 22:52] #8614 closed

[2021-09-08 22:53] dmvtech commented on #8604
hi @gaurav25dec We are still investigating this internally. We will update with an answer or solution as soon as possible.

[2021-09-08 22:54] dmvtech commented on #8531
Closing due to lack of response. Please comment if you are still having this issue.

[2021-09-08 22:55] dmvtech commented on #8379
Status update. We are investigating internally and will update when we have more findings.

[2021-09-08 23:34] anusharr commented on #8642
The Microsoft Bot Framework team prefers that how to questions be submitted on [Stack Overflow](https://stackoverflow.com/search?q=%23botframework). The official Bot Framework [Github repos](https://github.com/microsoft/botframework-sdk/blob/master/README.md) are the preferred platform for submitting bug fixes and feature requests.

[2021-09-08 23:34] #8642 closed

[2021-09-08 23:44] anusharr commented on #8639
@Venu-Git2019, can you specify the version of Composer you are using, along with the repro steps and screenshots?

[2021-09-09 05:08] Venu-Git2019 commented on #8639
@anusharr i am using Bot Framework Composer V2.1.0.
i have added code in Bot response section. Here to contentUrl i am passing PDF content after converting to base64
![image](https://user-images.githubusercontent.com/55138849/132625665-cff7da46-ecb8-4b2d-bea8-cad32c0d4048.png)

i am able to see PDF file and able to download in emulator and Azure bot web chat
![image](https://user-images.githubuser

[2021-09-09 06:46] SundaresanSivakumar commented on #8531
Sorry @dmvtech , couldn't get back to you early. However i tried to copy the schema file but still the issue remains

![image](https://user-images.githubusercontent.com/3501042/132636402-5c90836f-914e-4633-9985-110644824d82.png)

[2021-09-09 07:24] akshaykc27 opened #8644 "Not able to add the custom bot template with the help of composer extension."

[2021-09-09 08:06] msmtctaiwan commented on #8640
The output looks as follow:

C:\Users\......\.csproj : warning NU1701: Package 'Microsoft.Azure.KeyVault.Core 1.0.0' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8' instead of the project target framework '.NETCoreApp,Version=v3.1'. This package may no

[2021-09-09 14:38] kendallroden commented on #8379
I am having this issue as well. Thanks for update @dmvtech

[2021-09-09 16:15] dmvtech commented on #8644
Hi @akshaykc27 Can you give some more info here? What Composer extension are you referring to? Is there an error? Do you have a screen shot? Are there specific steps you can give for us to try and reproduce the issue?

[2021-09-09 16:45] dmvtech commented on #8633
HI @zaheedk

After checking internally, it does appear that these are most likely the same issue/root cause.  I will be closing this again as a duplicate, with the assumption that it is. Please monitor the other issue for progress. Once a solution/fix is discovered, please determine if it is applicable to your situation as well.

In the meantime, if you can answer these questions, it might help us

[2021-09-09 16:45] #8633 closed

[2021-09-09 16:47] dmvtech commented on #8531
@SundaresanSivakumar

- If you expand the Details section, what does it show? (Any error different than the above console trace?)
- Are you able to share your bot with me? Either in a zip or in a (private) repository?

[2021-09-09 16:47] stevkan commented on #8606
@shivamguptaram, thank you for your patience. It's important to remember that properties that are part of the `turn` scope are transient and only live for the duration of the turn. If you want to set a property that will live for the duration of the dialog, conversation, or per user, then you should use one of those buckets. You can read more about memory scopes [here](https://docs.microsoft.com/e

[2021-09-09 16:49] dmvtech commented on #8604
Closing as a duplicate of https://github.com/microsoft/BotFramework-Composer/issues/8379

Please monitor progress there.

[2021-09-09 16:49] #8604 closed

[2021-09-09 18:15] srinaath commented on #8639
@Venu-Git2019 https://docs.microsoft.com/en-us/microsoftteams/platform/resources/bot-v3/bots-files From this article it looks like the supportsFiles property needs to be set to true for the sending/receving attachment content from the bot in the Teams Context. Does you manifest include this property?

[2021-09-09 18:23] srinaath commented on #8509
Closing due to inactivity

[2021-09-09 18:23] #8509 closed

[2021-09-09 19:04] dmvtech commented on #8625
@lshade This only happens in a Directline client (that you created)? It doesn't reproduce with Webchat, Emulator or other channels, correct?

[2021-09-09 22:14] stevkan commented on #8620
@elibary, thank you for your patience. Using the 'Date or time' prompt as an example, the simplest means for accomplishing this would be to set 'Max turn count' to `0`. This would allow the user to simply not answer the question while allowing the conversation flow to continue. Additionally, you could supply a value in the 'Default date' field and the 'Default value response', if a value is needed

[2021-09-09 22:30] dmvtech commented on #8626
@vaibhav-kansal So you do not see any LUIS traces at all? Such as:
![image](https://user-images.githubusercontent.com/43397658/132770666-56fc9807-3e1e-43c3-81b6-55a44ed071a3.png)

If you have `allowInterruptions` set to false (the default), the response to the prompt for text will not be considered for an intent/interruption. It will just be a value that is assigned to the `User input` result `Pro

[2021-09-09 23:26] JonathanFingold commented on #7822
The article has been edited. @xiyangdesign - does the current organization in the [create a text input action](https://docs.microsoft.com/en-us/composer/how-to-ask-for-user-input?tabs=v2x#create-a-text-input-action) section address your original concern?

[2021-09-09 23:29] xiyangdesign commented on #7822
Yeah. This new article works. Thanks for updating @JonathanFingold !

[2021-09-09 23:29] #7822 closed

[2021-09-10 00:59] dawwa opened #8649 "Markdown is not interpreted for Bot response in User input (Choice/Multi-Choice) actions"
## Describe the bug

e.g.,

[code]
Rendered properly for the "Send a response" action, however, those User input actions would render response with plain text.
![image](https://user-images.githubusercontent.com/44714043/132781637-b94146da-7b72-4452-8e38-f6b7e1fc1cc4.png)

## Version

2.1.1

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce
![image](https://user-images.githubuserconten

[2021-09-10 01:33] lshade opened #8650 "Reusable HttpClient for Custom Actions"
I have a bot with multiple Custom Actions that each do various HTTP requests. I want to avoid socket exhaustion and use one HttpClient across the whole solution with dependency injection (described [here](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests))

Anyone have any pointers on how t

[2021-09-10 01:47] lshade commented on #8625
@dmvtech correct, only with Directline. We're seeing it in postman as well as our Directline client app

[2021-09-10 01:54] lshade commented on #8637
Thank you! Changing it to `TelemetryClient.TrackEvent("SmsAction", dictionary);` worked like in the example

[2021-09-10 01:54] #8637 closed

[2021-09-10 02:04] lshade commented on #8650
I see now how the HttpClient is disposed in the HttpRequest action code https://github.com/microsoft/botbuilder-dotnet/blob/0e332233cca3b725696c783cb6561cd94a14475b/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/HttpRequest.cs#L230

I could try doing the same unless there's an update on the HttpClientFactory option

[2021-09-10 07:43] dawwa opened #8651 "Update Adaptive Card: 'activityId' cannot be null."
## Describe the bug
Trying to update a sent Adaptive Card, supplied the Activity Id and confirmed the Activity Id has value. e.g., `1631259369932`,
however, the update card action throws `'activityId' cannot be null.` exception.

![image](https://user-images.githubusercontent.com/44714043/132818327-992f80b5-2bd5-4cdc-ae2c-929543120182.png)
![image](https://user-images.githubusercontent.com/4471404

[2021-09-10 14:09] cwhitten commented on #8650
Hi @lshade - transferring your issue to the botframework-components project for discussion on custom action abilities.

[2021-09-10 15:49] NickEricson opened #8654 "Azure pricing changes when I publish my bot"
## Describe the bug

When I publish my bot it changes from the pricing model I picked, Free pricing (S0), to Charged (S1) without my consent.

## Version

v2.1.1-nightly.267736.6977c70

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create an Azure bot v

[2021-09-10 17:31] kostasvl opened #8655 "Orchestrator exception: Key None already added"
## Describe the bug

Using the CoreWithLanguage sample with the Orchestrator, simply saying "hi" to the bot causes an ArgumentException ("None" already added).

## Version

Version:  2.1.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ]

[2021-09-10 18:10] #8472 closed

[2021-09-10 18:33] jcmorara commented on #8593
Is somebody checking this issue?

[2021-09-10 19:39] Brent-Higgins opened #8656 "NodeJS Package Manager Ability to chose version of Packages"
## Is your feature request related to a problem? Please describe.

If you are have an existing bot built with an older version of a template, for example a 4.13 bot packages instead of 4.14.1.
When you try to install some packages such as Orchestrator you are only able to install the latest version.

This can be an issue because of conflicting package definitions between the bot and the package.

[2021-09-10 22:07] dmvtech commented on #8635
Hi @alok-kumar Can you confirm that you are in the `Show Code` form of the editor? Such as:
![image](https://user-images.githubusercontent.com/43397658/132922503-461aefb6-befa-4eca-9054-259b3884c397.png)

And not the `response editor`, such as:
![image](https://user-images.githubusercontent.com/43397658/132922600-0df45c4b-78bc-4d6f-b572-424df45052ad.png)

Do you have any unknown intents configured

[2021-09-10 22:34] dmvtech commented on #8635
If using the response editor, it needs to be:
`-${json(StartTrialForm())} `

Instead of:

`-${StartTrialForm()}`

Another way would be to use the following in `Show Code`:
[code]

[2021-09-10 22:38] dmvtech commented on #8635
I've filed a documentation bug: https://github.com/MicrosoftDocs/power-platform/issues/890

I'll go ahead and close this. Please let me know if that does not resolve the issue for you.

[2021-09-10 22:38] #8635 closed

[2021-09-11 00:18] stevkan commented on #8632
Hi @tortura, thank you for your patience. Unfortunately, I am unable to repro the issue you are experiencing. I also had a colleague test and they, too, were unable to repro. I have included a zipped bot that you can also test with. You only need to include your appId, appPassword, and LUIS credentials to run it. It makes a call against Postman Echo sending the user's input as the request paramete

[2021-09-11 11:18] nahlaGit commented on #3004
i had the same issue,i want to know if there is any way to redirect to the bot directly without copy manually the code in bot window

[2021-09-11 22:54] nahlaGit opened #8658 "oauth - How to change the behavior of the "Sign In" button of the OAuthCard to just open the URL without redirect"
## Describe the bug

## Version

V2.1.1

## Browser

- [ ] Electron distribution
- [* ] Chrome
- [ ] Safari
- [ ] Firefox
- [ *] Edge

## OS

- [ ] macOS
- [* ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

get token from authcard without go to redirect url and copy the code ma

[2021-09-12 00:58] Uggi commented on #5800
@cwhitten Any chance this may get prioritised anytime soon?

[2021-09-13 06:55] akshaykc27 commented on #8644
![addbottemplate](https://user-images.githubusercontent.com/47749983/133037339-7b24e584-c4e1-4355-8fe2-e70a2ad04488.png)

@dmvtech the documentation does not give a clear picture where exactly should one add this code snippet to add a custom bot template.

[2021-09-13 09:02] tortura commented on #8632
Dear stevkan, thank you for taking and carrying, i will try out your project, and will try to understand, what I have done differently.
i am always able to reproduce that behavior in three projects already.
i will write you in next days, my experience!
thanks you a lot

[2021-09-13 14:09] tortura commented on #8632
but now it showes me
![image](https://user-images.githubusercontent.com/1259897/133098897-ec9303f0-bf3e-40f2-8c62-1df1c23a9246.png)
Thank you very much

[2021-09-13 14:09] #8632 closed

[2021-09-13 17:48] aparnaji opened #8659 "Multilingual Bot - Greeting Trigger - Conversation Update Activity showing english, not the language selected"
## Describe the bug
Multilingual Bot - Greeting Trigger - Conversation Update Activity showing english, not the language selected
I am using en-US and hi-IN, when I send hi-IN from webchat - directline, it shows greeting trigger/ actions in english and rest all in triggers in hindi

## Version
Version:  2.1.1-nightly.267886.6a6a24a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.

[2021-09-13 18:12] #8618 closed

[2021-09-13 18:12] srinaath commented on #8618
Closing due to inactivity

[2021-09-13 18:15] srinaath commented on #8615
@Uggi Closing this ticket as the feature has been merged and would be avaialable in our next SDK release.

[2021-09-13 18:15] #8615 closed

[2021-09-13 18:16] srinaath commented on #8612
@garypretty Any info around custom adapters for Whatsapp?

[2021-09-13 21:09] scottpulver commented on #8631
Im getting same issue with brand new QnA Maker template. Navigating to the Package Manager gives this error.

Could not load component list:Error https://schemas.botframework.com/schemas/component/v1.0/component.schema: self signed certificate in certificate chain Error Microsoft.QnAMakerDialog: Cannot extend component because it is not included Error Microsoft.QnAMakerDialog: Cannot set property

[2021-09-13 21:56] snapfisher opened #8660 "Bot Composer breaks our new internal Nuget Security Analyzer"
## Describe the bug

We (MSFT) has what I think is a new NuGet Security Analyzer which is auto injected into Azure DevOps pipelines.  Bot Composer is causing this security analyzer to fail, using default nuget settings, i.e. creating a bot without performing any special actions.  Now, it is possible that the analyzer has always been there, and the latest version of Bot Composer has broken it.  I d

[2021-09-14 13:14] williamj77 opened #8661 "java version"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-09-14 15:20] Erry91 opened #8662 "Composer's OAuth card not rendering in Teams"
Hi,
I have setup a chatbot exposed on webchannel and Teams with a dialog that displays an Oauth card (that uses AAD v2 as identity provider). I have already setup app registrations and the connection name for the bot and put it in the card property in Composer.
This Oauth card works fine when chatting with the bot via webchat (on Azure portal).
I then have deployed my bot as an App on Teams, and t

[2021-09-14 16:33] tonyanziano commented on #8656
@benbrown any thoughts on this feature?

[2021-09-14 16:38] tonyanziano commented on #8659
Thanks for reporting this issue @aparnaji .

This is a known issue with Web Chat. Emulator manages the locale so that's why the expected behavior is observed when using Emulator, however the Direct Line channel does not know the locale at the time of initializing the conversation and sending the conversation update to the bot.

As a workaround, you can try implementing a custom welcome message eve

[2021-09-14 16:39] tonyanziano commented on #8659
@stevkan can you please keep an eye on this?

[2021-09-14 16:44] tonyanziano commented on #8661
Hello @williamj77 ,

I am going to close this due to lack of information. Please feel free to open a new issue with the template information filled out so we can address the issue.

[2021-09-14 16:44] #8661 closed

[2021-09-14 16:49] stevkan commented on #8636
This doc outlines the limits placed on the QnA Maker service. You can compare your service to these limits. If you suspect you have reached the limit for your subscription plan, then you will need to increase the tier of the plan or wait until the limit resets for the period.

[2021-09-14 17:07] tamasschmolcz opened #8663 "Cannot set trigger phrases for "Intent recognized" event"
## Describe the bug

All relevant Azure Bot resources are correctly configured in Composer, but the intent wizard does not offer the input field for trigger phrases. I also cannot see it in the created Event trigger (see screenshots). It states "No Editor for fallback".

Thanks for helping.

## Version

2.1.1

## Browser

- [X] Edge

## OS

- [X] Windows

## Expected behavior

I am able to set tri

[2021-09-14 19:23] williamj77 opened #8665 "Java version release date?"
What is the Bot Framework Composer Java version release date?

[2021-09-15 10:30] elibery commented on #8620
Thanks for the suggestion but it does not meet the needs as if the user wants to provide the date but by mistake he provides the invalid date time then it will automatically set the default value instead what user needed. I manages meanwhile to use a work around for this using custom actions but it would be great to have that feature in composer.

[2021-09-15 10:45] elibery opened #8666 "Give user an option to change his answer"
We are trying to migrate our bot from V3 to V4 using composer and there are 2 functionalities that we are using and could not find if those options are available in V4:

1) "Back" - In V3 if user provides back, the bot asks previous question again and allows the user to change his answer. I could not find anything regarding this in docs. If there is no way to do this in composer for now  it would

[2021-09-15 13:16] aparnaji commented on #8659
Thanks for update, Issue that I have is only the greeting dialog has this issue subsequent dialogues are coming in right locale

[2021-09-15 15:44] Keylarh opened #8667 "Error "Object reference not set to an instance of an object" when loading a file or image"
Hi! create a simple robot that answers questions, integrates with Qna and it works fine, but I get an error "Object reference not set to an instance of an object." when I attach an image, file, among others. How can I validate that the user when entering a file gives me information that the user can only enter text, or else how can I remove the button (icon) to attach files. Beforehand thank you v

[2021-09-15 16:33] tonyanziano commented on #8665
@tracyboehrer does the Java sdk support Adaptive dialogs?

[2021-09-15 16:56] tamasschmolcz commented on #8663
Due to time constraint I rebuilt the bot.

[2021-09-15 16:56] #8663 closed

[2021-09-15 17:47] srinaath commented on #8655
@taicchoumsft assigning this to you as per our conversation offline.

[2021-09-15 20:14] AndreaPisc opened #8668 "Validating string values in Multi-choice prompt"
Hi, apologies if this is an easy, low level question, but i am struggling with the following scenario.
I have the bot asking via multi-choice a simple question such as:

-This is what i can do for you
_(via HeroCard buttons)_
Make Appointment  -  Workouts  -  Gyms  -  Contact Details

Now, how can i validate the user input based on the given choices? The user input is stored in property user.choic

[2021-09-16 00:13] lshade commented on #8598
@dmvtech Similar to this, I made every prompt interruptible, and prompts that relied on LUIS to validate the user's answer started to break.

For example, my prompt is checking that the user entered the pre-built LUIS entity for email. Before allowing interruptions, this worked. Now it looks like the interruption is changing the `turn.recognized` result and the email entity is gone

The first LUIS

[2021-09-16 00:21] stevkan commented on #8651
@dawwa, First, you probably want to use a property bucket other than `turn` to store a property. Properties/values assigned to the `turn` object only last for the duration of the turn and then are cleared. A better option would be to use the `dialog` bucket.

As for the actual issue, I have been able to repro it. In the Send an Adaptive Card action, I set the Activity ID Property to `dialog.setId`

[2021-09-16 00:27] stevkan commented on #8658
@nahlaGit, please try sending a Signin card instead of using the OAuth prompt/dialog. You can reference [the docs](https://docs.microsoft.com/en-us/composer/how-to-send-cards?tabs=v2x#signincard) on how to achieve this. In this way, you can specify the URL to follow without having to include a redirect.

[2021-09-16 00:30] stevkan commented on #8606
Closing as resolved. If the issue persists, please feel free to reopen.

[2021-09-16 00:30] #8606 closed

[2021-09-16 05:36] dhruv2103 opened #8669 "Error: "Operation returned an invalid status code 'BadRequest' " while using hero-card to show buttons on telegram."
I am using a Hero Card to display options for multichoice questions. It works fine on webchat(on Azure Portal) but When I deploy on other channels(telegram), it shows me the error.
![image](https://user-images.githubusercontent.com/36305262/133555366-439b56ba-bedc-4ee5-a61d-3de821a45376.png)

I did use multichoice for the first question as shown in the screenshot. I am doing the same thing for one

[2021-09-16 10:22] nahlaGit commented on #8658
@stevkan thans for your replay but how i can get token from  Signin card in framework composor?

![image](https://user-images.githubusercontent.com/57720132/133593736-1e4ec4e6-1fba-476a-902e-bc18a156f088.png)
![image](https://user-images.githubusercontent.com/57720132/133593824-89ce9f0a-372d-4b23-9706-42166b9684b9.png)

how i get the content token like with the oauth card
![image](https://user-ima

[2021-09-16 10:25] nahlaGit commented on #8658
@stevkan thhans for your replay but how i can get token from Signin card in framework composor?
![image](https://user-images.githubusercontent.com/57720132/133596078-0b3c80dc-1300-4be4-9e12-c2f7e2abb7f0.png)
![image](https://user-images.githubusercontent.com/57720132/133596148-7a5d3742-05c8-47bc-b411-e789307ccbd0.png)

i need to get token like with the oauth card

[2021-09-16 10:44] nahlaGit commented on #8658
This bug stops my whole project. Need at least working work around to use directline in sp site and to authenticate,
 at least how can I handle verification code?
i use this [direcline sample]( https://github.com/withum-digital/directline-bot-extension-blog)  to deply my bot in my sharpoint site but
i get this error "Taking longer than usual to connect." when i use  the directline enhance feature

[2021-09-16 16:08] jkanschik commented on #8470
I have a similar situation and try to set a variable "bot.userName" in a flow like so:
![image](https://user-images.githubusercontent.com/98514/133646520-3f66c9fd-f222-4576-8ae1-70372c546de9.png)

If I understood you right, this variable should be global and should be available in the Bot Framework Composer as variable "virtualagent.userName".

![image](https://user-images.githubusercontent.com/98

[2021-09-16 16:33] MatteoMeil opened #8670 "Prebuilt entity misleading error message"
## Describe the bug
When using some prebuilt entities not available in selected locale (culture), instead of throwing error or outputting a warning it says a completely different message. E.g.: this error message is outputted with `it-it` using `geographyV2`
[code]

Related issues:
   * [BFCLI#1292](https://github.com/microsoft/botframework-cli/issues/1292)
   * [BFCLI#1293](https://github.com/mic

[2021-09-16 17:05] tamasschmolcz commented on #8470
@jkanschik Your initial variable should be named "userName" . You do not have to add "bot." to it. This will be done by PVA, when you set the variable to "global".

[2021-09-16 17:13] ashokdevlabs commented on #3514
@garypretty @luhan2017  Hi, i have tried to add this transilation middleware in Bot Framework Composer Version 2.1 but facing some issues while we are trying with Luis for not supported languages like Indonesia, Polish... etc.

If possible could you please share some examples to add middlewares in Composer Version 2.1.

Thanks in advance.

[2021-09-16 17:24] ashokdevlabs opened #8671 "Adding Translation Middleware to Bot Framework Composer 2.1"
Hi there,

Am trying to extend Bot Composer's .NET runtime scripts to add Translation to the Middleware pipeline as shown in https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/17.multilingual-bot.

I've lifted the Translator folder in it's entirety from https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/17.multilingual-bot/Trans

[2021-09-16 18:00] dmvtech commented on #8626
Hi @vaibhav-kansal Just following up.

Is this correct?

[2021-09-16 18:01] dmvtech commented on #8531
Hi @SundaresanSivakumar Just checking in. Can you comment on the questions above?

[2021-09-16 18:03] dmvtech commented on #8669
@dhruv2103 I will take a look. Can you share your HeroCard + prompt? (feel free to sanitize of sensitive info)

[2021-09-16 18:10] dmvtech commented on #8669
For example, should be something like this:
[code]

[2021-09-16 18:13] jkanschik commented on #8470
@tamasschmolcz Got it. Now it works ;-) Thanks for the very fast comment!

So, the call of the flow now looks like this:
![image](https://user-images.githubusercontent.com/98514/133663650-46e0d3e5-4533-40e6-b391-d9c7f15adf14.png)

[2021-09-16 18:19] dmvtech commented on #8669
I am not able to reproduce the issue, so knowing exactly how your prompt is set up will be essential.

What version of Composer and runtime are you using? C# or Node?

[2021-09-16 18:53] mohd-ismail-siddiqui opened #8672 "Why QnAMakerRecogniser creates intent on Luis?"
@luhan2017 As I can see in one of my bot project where I have used both LUIS and QnAMaker. When I built the project and run it. I have seen in Luis app, there is an intent like DeferToRecognizer_QnA_VirtualTravelAssistant.

But When I created another project, where I have added one more intent (except Greeting and Unknown) i.e. QnA Intent Recognized, then I observed that there is no LUIS created a

[2021-09-16 19:18] dmvtech commented on #8667
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

***

I think you have lots of options here. You can set a **

[2021-09-16 19:18] #8667 closed

[2021-09-16 22:18] anusharr commented on #8668
The Microsoft Bot Framework team prefers that how to questions be submitted on [Stack Overflow](https://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/microsoft/botframework-sdk/blob/master/README.md) repos are the preferred platform for submitting bug fixes and feature requests.

[2021-09-16 22:18] #8668 closed

[2021-09-16 22:52] dmvtech commented on #8644
@akshaykc27 Are you building your own version of Composer, or are you using the downloaded/Electron version?

[2021-09-17 03:06] luhan2017 commented on #8672
Could you provide more information, share your bot here or check if you set recognizer type to other types(Regex or Orchestrator)?

[2021-09-17 05:21] dhruv2103 commented on #8669
I am using a bot framework composer to create a bot in Azure Function (C#). I am following these steps:

Step 1:

- I am creating multi-choice question using ("+" ---> ask a question ---> multi-choice question):
- then I am providing the required information. like,  questions to be asked, options.
- I  chose "heroCard" in list style.

Input:
![1](https://user-images.githubusercontent.com/36305262/

[2021-09-17 10:24] humak opened #8673 "Localization Change Causes Publishing Problem (also not working on Emulator)"
## Describe the bug

My bot is working properly on the composer web chat whether the default language is English or Turkish. But on Emulator, it is only working properly when the default language is English. When I change the language to Turkish, it is not working on the Emulator.

It also causes problems in the Publishing phase, if the bot is not working on the Emulator, it is not working after p

[2021-09-17 11:40] goergenj commented on #8475
@stevkan @cwhitten Any update when this will be fixed? This is still open in 2.1.1 and preventing to upgrade to this Composer version.

[2021-09-17 11:42] mohd-ismail-siddiqui commented on #8672
[BotSampleLuis](https://github.com/mohd-ismail-siddiqui/BotSampleLuis)
[VirtualTravelAssistantQnA](https://github.com/mohd-ismail-siddiqui/VirtualTravelAssistantQnA)

Thanks @luhan2017  for quick response and it make some sense but still facing issues like when I change the recognizer of Main dialog from Default -> Regex then QnA Intent Recognizer stop working.

Also I am facing another issue wher

[2021-09-17 15:24] Vigneshramkumar opened #8674 "Custom Action with drop down on MS Bot composer"
I am creating a custom action in the MS Bot composer. The action has to do the following steps.
1. In the properties pane of the custom action, the first input field is a drop down where it has to get the values from a HTTP request as show over here. The dialog designer will choose any of the displayed values. The below highlighted one in the image (Service Name) is the drop down that has to be po

[2021-09-17 17:51] dmvtech commented on #8669
Hi @dhruv2103

A few questions:

- The error just occurs as soon as the choices are rendered, not **_after_** selecting a choice. Correct?
- Is there anything that is happening after the prompt? There's no Send response or anything that could be the cause of the error?
- I see that in the screenshot the property you are using is `user.topic_no_choice` but in the code/json it is showing as  `user.x

[2021-09-17 18:06] srinaath commented on #8673
![Screen Shot 2021-09-17 at 11 04 25 AM](https://user-images.githubusercontent.com/13004779/133833852-4fb413f8-c71b-4be9-acbd-365a2d64b987.png)

@humak This is an emulator setting that needs to be changed to the locale that you want the bot to respond to. The current locale set on Composer does not get set on Emulator when we use the operation "Open in Emulator" from Composer.

[2021-09-17 18:30] srinaath commented on #7657
@cle

[2021-09-17 21:24] dmvtech commented on #8644
You might want to follow [this document](https://github.com/microsoft/BotFramework-Composer/blob/main/extensions/sample-ui-plugin/README.md) and see if you can get the Simple UI plugin working.

Regarding this part:

I only had to do the first part (change the `composer.enabled` property to `true`).

[2021-09-17 21:46] dmvtech commented on #8626
Closing due to lack of reply. Please comment if you are still having this issue and are able to give more information.

[2021-09-17 21:46] #8626 closed

[2021-09-17 21:51] dmvtech commented on #8531
Closing due to lack of reply. If you are still need assistance, please comment with the information asked above and anything else that may help troubleshoot and we will reopen.

[2021-09-17 21:51] #8531 closed

[2021-09-17 22:27] anusharr commented on #8671
Looks like a dupe of #3514.
@luhan2017

Also, the Microsoft Bot Framework team prefers that how to questions be submitted on [Stack Overflow](https://stackoverflow.com/search?q=%23botframework). The official[ Bot Framework Github](https://github.com/microsoft/botframework-sdk/blob/master/README.md) repos are the preferred platform for submitting bug fixes and feature requests.

[2021-09-17 22:27] #8671 closed

[2021-09-18 16:03] tamasschmolcz opened #8675 "Luis build faield - cannot find the entity extractor"
## Describe the bug

I try to apply an "expected responses" configuration, but not able to upload the Azure Bot afterwards.

Composer states:

"Error - Luis build failed: Cannot find the entity extractor \" userFirstname\" in the specified application version."

I do not see the mistake after reviewing the documentation.

Can you help? Is this a bug?

## Version

2.1.1
## OS

- [X] Windows

## To

[2021-09-19 09:38] tamasschmolcz commented on #8675
I got it working, but I am really wondering how the "Expected Responses" work. The documentation is very vague and examples I found so far only showing it using prebuilt entites. I actually want to use an machine-learning entity to identify German Names (prebuilt only support US locale). But there is never created an Intent or Entity in LUIS? That only happens when these definitions are used in a

[2021-09-20 05:09] dhruv2103 commented on #8669
Answers to your queries:

- The error just occurs as soon as the choices are rendered, not after selecting a choice. Correct?
     - error occurs as soon as the bot reaches the point where a user should be asked with his/her choice. so, the use-case is something like this. there are main categories and then subcategories. Firstly, the bot asks a user to choose category and then about the subcatego

[2021-09-20 06:30] humak commented on #8673
We tried your solution and it worked on Emulator. Thank you so much!

We still couldn't reach the published bot from Azure Portal WebApp Chat.
Do you have any suggestion about how we can add this language parameter during/after publishing bot to Azure WebApp? Since these problems are connected and similar, I think we are also missing some point during publishing phase.

[2021-09-20 07:36] KoradaRajesh opened #8676 "Unable to detect entities while using multi-choice prompt"
**I'm using a multi-choice prompt with list-style as List and enabled include numbers**

![MicrosoftTeams-image (9)](https://user-images.githubusercontent.com/51915291/133968815-817a2b67-e983-419c-bc9d-c5844f870373.png)

**I have trained few list entities which are displaying in a choice prompt**

![MicrosoftTeams-image (10)](https://user-images.githubusercontent.com/51915291/133968857-6ac2ea43-70

[2021-09-20 07:41] #8675 closed

[2021-09-20 08:46] akshaykc27 commented on #8644
Thank you the first part worked. I tried enabling the custom routes and its working 👍  but in the same package when I try to add a Bot template using composer.addBotTemplate it does not list in the templates while creating a bot.

[2021-09-20 11:34] mohd-ismail-siddiqui commented on #3288
I am creating a Bot using Composer using an existing LUIS app with out composer generated LUIS. Please let me know how its possible. If its possible please tell me workaround.

[2021-09-20 17:17] stevkan commented on #8636
Closing as resolved.

[2021-09-20 17:17] #8636 closed

[2021-09-20 18:23] compulim commented on #8655
@taicchoumsft Ping.

[2021-09-20 18:24] compulim commented on #8640
@tonyanziano could it related to the ngrok behind the scene?

[2021-09-20 18:32] tonyanziano commented on #8640
@compulim ngrok should not be running or used here as the bot is running locally -- or at least that's what I can tell from the issue description.

To confirm, @msmtctaiwan , you are seeing these errors in the Emulator when trying to connect to your locally running Composer bot, correct?

Or are you trying to connect to a published remote bot with the Emulator.

[2021-09-20 18:40] dmvtech commented on #8673
Hi @humak Are you referring to `Test in WebChat` or full WebChat?

The locale of the browser should be the thing that is telling WebChat and the bot what locale should be used. For example, in Emulator, you can see what locale is being sent:
[code]

Are you able to test with a browser using both English and Turkish locales?

[2021-09-20 18:40] dmvtech commented on #8673
Related: https://github.com/microsoft/BotFramework-Emulator/issues/2268

[2021-09-20 18:42] compulim commented on #8574
Sounds like an ongoing feature ask, I will exempt this from daily DRI.

[2021-09-20 18:44] dmvtech commented on #8644
Thank you @akshaykc27. Are you able to share your extension/template?

[2021-09-20 18:47] compulim commented on #8536
@cwhitten looks likes a solid bug. I will exempt it from daily DRI.

[2021-09-20 19:02] akshaykc27 commented on #8644
I'm just trying to add another template and load it locally with the help of the addBotTemplate extension that's not working apparently.

[2021-09-20 19:17] ashokdevlabs commented on #8671
@anusharr

I have submitted the question on [Stack Overflow](https://stackoverflow.com/questions/69259577/how-to-add-translation-middleware-in-bot-framework-composer-v-2-1-1).  Please provide help on composer v2.1.1

[2021-09-20 22:02] a-b-r-o-w-n opened #8677 "no errors being shown in the form"
## Describe the bug

With an invalid expression, the problems pane lights up with an error, but I do not see an error in the form.

## Version

2.1.0

## To Reproduce

Steps to reproduce the behavior:

1. Create an if condition
2. make a validation error in the condition field (e.g. `=base64ToString(user.age)`)
3. Notice the problems pane shows an error, but the form does not

## Expected behavior

[2021-09-20 22:16] a-b-r-o-w-n opened #8678 "invalid expression syntax should result in an error, not a warning"
## Describe the bug

Writing an invalid expression results in a warning, not an error.

## Version

2.1.0

## To Reproduce

Steps to reproduce the behavior:

1. Create an if condition
2. in the condition field, type `=${user.age}=="123"`
3. You'll see a warning the problems pane, not an error even though the expression is invalid

## Expected behavior

I would expect an error if we are able to det

[2021-09-20 23:36] stevkan commented on #8659
@aparnaji, test if this option works for you. In my own testing, it works. FYI, this assumes you have implemented the custom welcome message event referenced above in the 'a.welcome.event' sample.

1. In the Greeting trigger (ConversationUpdate activity), remove or disable all actions within it
2. Add an Event received trigger (Event activity)
3. In the event trigger:
    a. Click add an action

[2021-09-21 01:55] dmvtech commented on #8589
This does seem to be a bug.

[code]

The state is `InputState.Invalid`, but it is neither `InvalidPrompt` or `UnrecognizedPrompt` and therefore passes through all conditions, never populating `msg` object and hitting the `InvalidOperationException`

![image](https://user-images.githubusercontent.com/43397658/134100116-df1d1363-d1b6-4f8c-a723-4f9b509187b8.png)

Simple fix is not apparent to me, so

[2021-09-21 06:10] mohd-ismail-siddiqui commented on #8672
@luhan2017 @srinaath : Do you need any further information in order to resolve this issue.

[2021-09-21 17:49] kostasvl opened #8680 "qna.endpointkey somehow replaced with '"message": "Waiting for QnA Maker"' during publication to Azure"
## Describe the bug

I uploaded my Composer-based bot to Azure for the first time, and somehow the settings file that was uploaded contains this invalid endpointKey:

    "hostname": "https://XXXXXXXXXXXXX",
    "knowledgebaseid": "XXXXXXXXXXXXXXXXXXXXX",
    "qnaRegion": "westeurope",
    **"endpointKey": {
      "message": "Waiting for QnA Maker"
    },**
    "subscriptionKey": "XXXXXXXXXXXXXXXX

[2021-09-21 18:15] compulim commented on #8670
@tonyanziano I think this is a solid bug we want to take, right?

[2021-09-21 18:20] compulim commented on #8593
@dmvtech Ping.

[2021-09-21 19:22] EricDahlvang commented on #8629
Closing due to inactivity.

[2021-09-21 19:22] #8629 closed

[2021-09-21 22:27] stevkan commented on #8666
This can be achieved thru the tools already available in Composer. I have attached a bot that demonstrates this. The bot's construction includes:

- Separating out each question into its own dialog so the question can be repeated, when necessary
- One "parent" dialog that each question dialog is a child of. User input in the child dialogs are returned to the parent dialog and stored
- In the vario

[2021-09-21 22:27] #8666 closed

[2021-09-21 23:04] stevkan commented on #8674
@Vigneshramkumar, can you provide more detail around the flow of the bot?

For instance, where/when does the HTTP request occur with respect to the Service Trigger? Is it defined and called as an action in the authoring canvas or is it taking place as code within the custom action?

Where is the HTTP response being stored? If this is part of the authoring canvas, what is the property?

Also, what

[2021-09-21 23:30] snapfisher opened #8681 "Bot Composer breaks our new internal Nuget Security Analyzer"
## Describe the bug

We (MSFT) have what I think is a new NuGet Security Analyzer which is auto injected into Azure DevOps pipelines.  Bot Composer is causing this security analyzer to fail, using default nuget settings, i.e. creating a bot without performing any special actions.  Now, it is possible that the analyzer has always been there, and the latest version of Bot Composer has broken it.  I

[2021-09-21 23:43] tonyanziano commented on #8681
After talking to @mrivera-ms about this, it seems that this is an issue with the default Composer Nuget configuration included with C# bots.

Specifically, the configuration specifies references to _both_ MyGet _and_ Nuget which is not allowed by the Azure DevOps security check. More info on the security check's policies can be found [here](https://docs.opensource.microsoft.com/tools/nuget_securit

[2021-09-22 01:12] dmvtech commented on #8593
Hi @jcmorara Apologies for the delay. I'm still looking at finding out how to do this and what the cause might be. I thought at first that it was the `=` character (or other special characters) inside the connection string was throwing things off. But even with a simple setting like:
[code]

It still failed. So, my assumption is that there is something in the runtime that is explicitly not populat

[2021-09-22 01:17] dmvtech commented on #8593
Actually, just found it. There is a blocking list:
https://github.com/microsoft/botbuilder-dotnet/blob/e176bb576105538cd179187f4c19b2818d2578e7/libraries/Microsoft.Bot.Builder.Dialogs/Memory/Scopes/SettingsMemoryScope.cs#L21

It does not populate into memory.

[2021-09-22 02:28] tonyanziano commented on #8670
@compulim I think it is an issue that should be fixed, however I am unclear on how we should prioritize it given the PVA work items.

@srinaath  / @cwhitten any comments?

[2021-09-22 07:44] akshaykc27 opened #8684 "Not able to add a template locally"
When i give the path for any template locally it does not create the bot. #8644

[2021-09-22 07:44] akshaykc27 commented on #8684
![Screenshot (2)](https://user-images.githubusercontent.com/47749983/134303039-ab578728-9339-4ad0-8881-868bc6dd6ad6.png)

[2021-09-22 08:34] aparnaji commented on #4404
@garypretty , Can I get more detail if any Handoff to Teams is in the near horizon

[2021-09-22 08:46] humak commented on #8673
Hi @dmvtech , maybe I can explain better with this example.

1. I have a bot build in Bot Composer , the localization is Turkish. It works in local webchat.
![image](https://user-images.githubusercontent.com/14835957/134311940-e6f9a98a-6113-4da0-964b-34d2f5d7859e.png)

2. It works in the Emulator when we changed the locale as you suggested:
![image](https://user-images.githubusercontent.com/148359

[2021-09-22 08:47] hiviq opened #8685 "Starting bot emulation takes 2,5 minutes each time"
## Describe the bug

Currently developing a bot, the starting time of 2,5 minutes for the emulation is putting a huge delay on top of the development each day. Can you advise how I can identify the cause?

## Version

2.1.1

## Browser

- [X] Edge

## OS
- [X] Windows

[2021-09-22 09:51] geo-msft opened #8686 "Under proxy when testing in embedded compo webchat, the user receives read ECONNRESET"
## Describe the bug

I was working with a customer on the following ISSUE:

The customer has a proxy on his machine where is running composer 2.1.1.

They setup the proxy vars:

set https_proxy=<your proxy server IP address>:<your port number>

set http_proxy=<your proxy server IP address>:<your port number>

set no_proxy=localhost

in order to make the publish work well. Docs here Configure a pro

[2021-09-22 09:53] tamasschmolcz opened #8687 "- please delete"
## Describe the bug

Every time I start the bot, composer re-creates the QnA KB and imports the all questions into LUIS intent. Even after removing ALL QnA references in Composer (except the QnA service settings), deleting the QnA KB itself  as well as the intent with more than 8000 Questions.

![image](https://user-images.githubusercontent.com/48097252/134320191-a448ef6f-bba4-413d-b504-e6765a38cd

[2021-09-22 10:58] tamasschmolcz commented on #8685
I located the issue, not sure why yet, but Composer imported all Questions from my QnA KB with every sync (8000 intents sentences+).

So I removed the QnA Stuff and brought it down to 30 seconds. Still investating the QnA issue. Might open a seperate case.

[2021-09-22 13:54] #8687 closed

[2021-09-22 14:05] hiviq opened #8688 "Re-Import LUIS applications"
- please delete

[2021-09-22 15:02] #8688 closed

[2021-09-22 16:33] tonyanziano commented on #8680
@boydc2014 seems like it was a transient issue, but might be worth getting someone to look into on the QnA side of Composer.

[2021-09-22 16:38] tonyanziano commented on #8684
Hi @akshaykc27 ,

Can you please expand the `latestMessage` property of the above error and also the `logs` property and show us what the full error message is?

If you are running Composer from source, can you please also try turning on the debugging output on the server process by setting the `DEBUG` environment variable to `composer*`. If on Windows, you can do this by running the command `set

[2021-09-22 16:39] #8685 closed

[2021-09-22 16:42] geo-msft commented on #8379
Another customer raised a support case where he faces the issue. Today in my bot, I was not able to repro, but the customer was.
The log he shared is:

---
"Accepted for publishing..."
---

---
"Abs settings incomplete, skip linking bot with webapp ..."
---

---
"appPasswordHint incomplete, return ..."
---

---
"Building the bot app..."
---

---
"Build succeeded!"
---

---
"start publish luis"
---

[2021-09-22 18:23] compulim commented on #8680
I will ping @pchoudhari from QnA Maker team on this. Thank Tony.

[2021-09-22 18:42] taicchoumsft commented on #8655
Hi @kostasvl , sorry for the late reply, and thank you for reporting this bug.

I can repro this.  To unblock you for now, can you try removing the #None labeled intents from the root dialog.  Go to `User Input` tab, and locate the #None Intent, and remove or rename the #None label to something else.

@daveta , it looks like [this line](https://github.com/microsoft/botbuilder-dotnet/blob/4b8d8eeb4

[2021-09-22 20:49] dmvtech commented on #8673
@humak

When you publish, it will publish all locales that you have created/configured. Just to confirm; you did not remove `en-US` locale from the bot, correct?.

So, my _assumption_ is that there is something wrong with the published bot, **regardless** of locale. The `Test in WebChat` and Azure portal are obviously running in English (I'm assuming `en-US`).

One thing you can do is [use Ngrok a

[2021-09-22 21:06] sriget opened #8689 "Bot composer and Emulator Error - Getting the ECONNREFUSED error in emulator and retry in Bot fails build with win32Exception message"
## Describe the bug
1) I tried running many sample projects in bot composer. It runs at localhost:3980/api/messages   and I'm getting this error first. **ECONNRESET**
![image](https://user-images.githubusercontent.com/35751420/134420529-be668eee-75e0-464a-9f95-9d9aa9f54eba.png)

2) Then I restarted emulator and got the below error - **ECONNREFUSED**
![image](https://user-images.githubusercontent.c

[2021-09-22 21:19] dmvtech commented on #8669
hi @dhruv2103 Thank you. This is certainly interesting.

Is this a production bot (in other channels)? Or are you able to https://docs.microsoft.com/en-us/azure/bot-service/bot-service-debug-channel-ngrok?view=azure-bot-service-4.0 the bot running locally?

Also, these two statements seem a bit contradictory:

Please clarify; the error happens **_after_** choices are presented to user but _**befor

[2021-09-23 06:05] SiddyHub opened #8690 "No Samples Or Steps Available for Implementing Custom Recognizer"
I am looking for any code samples or steps to implement a Custom Orchestrator Recognizer. The below link provides information for Recognizers, but for Custom it says we need to edit the JSON files.
https://docs.microsoft.com/en-us/composer/concept-orchestrator#install-and-configure-orchestrator

My use case is that, I have a business logic written in Logic Apps, and I want to wrap it in a custom r

[2021-09-23 06:46] boydc2014 commented on #8676
Yes, @tonyanziano. And @KoradaRajesh this is kind of by design, the order of processing is the dialog's recognizer(in this case LuisRecoginzer) then the prompt's own recognition (where includeNumber takes effects).

So when user type "1", luis will return nothing helpful, and the prompt will pick the right value up to property.

Do you mean you want the entity also been set for later usage? Genera

[2021-09-23 07:12] venkatraj109 opened #8691 "Adaptive card is not rendering again once already populated"
**Technologies used:-**
1. Bot Composer Framework - v1.3.1
2. Angular, node
3. Azure bot direct line

**Requirement:-**
Need to collect address information from the customer and validate it. If entered address is invalid then ask user again to get valid address.

**The steps which I followed to achieve:-**
1. Used Adaptive Card Form to collect address details from the customer through azure bot di

[2021-09-23 08:28] luhan2017 commented on #8672
@mohd-ismail-siddiqui, It is by-desige that Regex recognizer is just for language understandin, QnA is not supported when you select Regex recognizer.

For the multi-choice options, try to set AllowInterruptions to true and try again.
![image](https://user-images.githubusercontent.com/32191031/134476369-e5b75d51-a8a6-40e1-b171-1fdda6220477.png)

[2021-09-23 09:27] mohd-ismail-siddiqui commented on #8672
Thanks @luhan2017 for this response. It make sense.

[2021-09-23 09:27] #8672 closed

[2021-09-23 09:51] mohd-ismail-siddiqui opened #8692 "Using Adaptive card as input form is not working throwing object references not set to an instance"
Hi @luhan2017 @srinaath, I am facing another issue while developing a Bot. I want to send an adaptive input form to the user and want to collect some information and then send that object to a rest api.

But getting issue while sending adaptive card form. Also can you please tell me how can I submit this data to some external resource.

![image](https://user-images.githubusercontent.com/87179559/1

[2021-09-23 14:10] eda-ayan opened #8693 "Suggested actions are not showing up after publishing to Microsoft Teams"
## Describe the bug

We designed a bot on Bot Framework Composer and we published the bot with EN-US local. It is successfully working on Teams. Nevertheless, we cannot see the suggested actions at any point on Teams. We can see and use suggested actions successfully on Composer WebChat and the Emulator.

## Version

Version:  2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426

[2021-09-23 16:30] tonyanziano commented on #8689
Hi @sriget ,

It looks like your bot isn't building and starting correctly inside of Composer. Could you please copy the logs you are seeing in the Output tab and paste them here?

I can't read them from the screen shot.

[2021-09-23 16:33] tonyanziano commented on #8690
@taicchoumsft do you happen to know how to implement a custom Orchestrator recognizer?

[2021-09-23 16:39] sriget commented on #8689
sure @tonyanziano .  thanks for checking. Below pasted logs.

C:\tfs\Common\Azure\BOT\ProcurementBOT\Procurement_Bot\procurementbot\procurementbot.csproj : warning NU1701: Package 'Microsoft.Azure.KeyVault.Core 1.0.0' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,

[2021-09-23 16:46] sriget commented on #8689
I saw this windows system Event also along with the error, incase if it helps.

![image](https://user-images.githubusercontent.com/35751420/134549595-484aa56e-0f86-4c1d-b3b8-723c85f8436b.png)

[2021-09-23 17:27] jwiley84 commented on #8693
hi @eda-ayan

Suggested Actions aren't supported by Teams:

https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0#action-support-by-channel

[2021-09-23 18:12] compulim commented on #8691
[Adaptive Cards data templating](https://docs.microsoft.com/en-us/adaptive-cards/templating/) may help on populating data. But I am unsure if Composer support data templating.

Anyone from the Composer team know about this? It's also same as the "Sample Data Editor" in the [Adaptive Card designer](https://adaptivecards.io/designer/).

[2021-09-23 18:42] dmvtech commented on #8692
HI @mohd-ismail-siddiqui The link you gave is invalid (is it a private repo you forgot to make public?).

[2021-09-23 20:28] catvboy opened #8694 "Error calling npm to fetch template. Please ensure that node and npm are installed and available on your system. Full error message: Command failed with exit code 1: npm root -g --prefix C:\Users\Dragon boy\AppData\Roaming\BotFrameworkComposer\.yo-repository --loglevel error 'npm' is not recognized as an internal or external command, operable program or batch file."
## Describe the bug

Error calling npm to fetch template. Please ensure that node and npm are installed and available on your system. Full error message: Command failed with exit code 1: npm root -g --prefix C:\Users\Dragon boy\AppData\Roaming\BotFrameworkComposer\.yo-repository --loglevel error 'npm' is not recognized as an internal or external command, operable program or batch file.

## Version

[2021-09-23 20:53] tonyanziano commented on #8689
Thanks for the info @sriget ,

Could you start Composer in debug mode so that we can get some more logs from the Node side of the app?

Follow these steps:

1. Find the path to the Composer .exe (You can right click the Composer shortcut and press "Open file location"
2. Open a terminal window / Command prompt and navigate to the path from step 1
3. enter the command `set DEBUG=composer*`
4. From

[2021-09-23 22:25] sriget commented on #8689
Sure. Thanks for steps @tonyanziano

Did same. At first I got below error, where bot compiled and emulator says connection refused.
And 2nd logs are for when i clicked restart in Bot composer and got win32 exception.
Consistently happens this way. Please help.

**1st Attempt Logs: - Bot compiled and but ECONNREFUSED error in emulator**
Microsoft Windows [Version 10.0.19043.1237]
(c) Microsoft Corp

[2021-09-24 04:21] saif177 opened #8695 "need help regarding connecting to remote skill bot"
i am trying to connect composer with remote skill but there are some issues i am facing

1.  unable to distinguish from values that has to be filled in 'import existing resources'
![Screenshot (45)](https://user-images.githubusercontent.com/73467925/134617531-d69e2bcd-41f2-4b31-9e6c-261e459ab381.png)

can anyone please help me to find difference between **autheringkey** and **endpointkey** , **aut

[2021-09-24 04:23] saif177 commented on #8695
I am using Empty bot template . hope that is not an issue

[2021-09-24 05:39] dhruv2103 commented on #8669
Hi,

It is a production bot.

Explanation of two statements that you found contradictory:

as soon as the user selects an option(category). the bot should be asking subcategories based on users choice for the category. but instead, it is giving an error. (Here at this point, a user should be asked with his/her choice  for subcategory but it does not ask for choice rather it is giving me that error

[2021-09-24 06:18] venkatraj109 commented on #8691
Thanks for your reply @compulim.

Seems its required platform SDK as mentioned in above link you shared. But, not sure how to add SDK in bot framework composer to use Adaptive Cards Data Templating.

Is bot composer supports platform SDK? Suggest me if anybody knows.

[2021-09-24 08:35] mohd-ismail-siddiqui commented on #8692
@dmvtech , Thanks to point out. I have made it public. Now you can access it.

[2021-09-24 09:08] AntonioChiancone opened #8696 "Error when Create new 'Intent recognized Trigger' and insert phrases into popup"
## Describe the bug
When i create a new Intent Recognized Trigger, i can't submit when insert the phrases.

I can submit without phrases, after creation, i can insert phrases.

## Version
Version:  2.1.1-nightly.268315.fa80e82
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## OS
- [ ] macOS
- [ X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behav

[2021-09-24 12:13] saif177 opened #8697 "can we connect existing skill bot that is been coded with bot framework not composer and connect it to the bot composer?"
hi, I am trying to to remote skill bot that I created using bot framework and **not composer** and I published it on azure.  now I want to connect that bot to my bot composer but I am unable to do that . can anyone please help me with that?

here are the steps that I followed

![Bot Framework Composer (v2 1 1) 2021-09-24 17-16-46](https://user-images.githubusercontent.com/73467925/134670563-212c73

[2021-09-24 13:28] bradrlaw commented on #8477
Need to re-open this request.  The fix takes care of the template access but not the package management.  Clients need to be able to disable the public repo feeds and have only their private feeds enabled.

[2021-09-24 14:51] stevkan commented on #8658
@nahlaGit, thank you for your patience. I will be taking a look at this, today. So, I hope to post some kind of response in the issue by the end of it for you. A question for you about it, though.

I, more or less, get why using the Signin Card doesn't work. Regarding the flow, is it that you are just trying to not have the magic code pop up? Are you trying to provide an SSO experience for your us

[2021-09-24 15:39] benbrown commented on #8477
It is possible to remove the default feeds from Package Manager by editing the configuration file.  @bradrlaw would that be doable?

If so:

1. Find the configuration file in the `~/BotFrameworkComposer/extension-data/package-manager.json` file (on a Mac) or the `USER\AppData\Roaming\BotFrameworkComposer\extension-data\package-manager.json` file on a PC.
2. Inside this file, remove any of the feed

[2021-09-24 17:25] anusharr commented on #8697
@saif177, can you specify what version of Composer you are on? Did you update the root bot to access the remote skill? Also, can you double check if you missed out on any step in the [documentation](https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill?tabs=v2x)?

[2021-09-24 17:39] anusharr commented on #8694
Similar to reported in #8634. Can you verify you have both NodeJS and npm installed on your machine?Also, can you specify your npm version and confirm if npm is in your PATH environment variable?

[2021-09-24 18:22] dmvtech commented on #8696
Hi @AntonioChiancone Are you typing in all the phrases, or are you pasting? I am not able to reproduce myself.

I'm wondering if maybe it might be a hidden or zero width space character(s) [`\u200b`]. See [this](https://github.com/microsoft/BotFramework-Composer/issues/7713#issuecomment-840087306) thread/comment for more info.

[2021-09-24 18:24] #8693 closed

[2021-09-24 18:27] compulim commented on #8691
@tonyanziano @a-b-r-o-w-n do you know if Composer support data templating?

I mean, the following screenshot from Adaptive Card designer, do we support this feature?

![image](https://user-images.githubusercontent.com/1622400/134722932-07168b0f-08cf-4666-9287-4dcf198196dc.png)

If yes, how can it be done? (Maybe a StackOverflow question)

If no, how can we populate data in an Adaptive Cards? Shoul

[2021-09-24 18:31] compulim commented on #8639
@anusharr Could you try to repro this one?

Use the `attachmentTemplate` above (copied below)

[code]

In Teams bot manifest, set `supportsFiles` property to `true`.

See if the attachment from Composer bot reach the Teams. If no, maybe Composer or someone from Teams should look at this issue.

[2021-09-24 18:32] compulim commented on #8631
@benbrown Ping. Do you think it's an installation issue?

[2021-09-24 18:33] compulim commented on #8612
@garypretty Ping.

[2021-09-25 11:24] saif177 commented on #8697
@anusharr i am currently using 2.1.1 . and here is manifest file that I am using . please help me with it .

[TestSkill_manifest.txt](https://github.com/microsoft/BotFramework-Composer/files/7229664/TestSkill_manifest.txt)

[2021-09-25 13:09] codepic opened #8698 "Composer cannot authenticate with Azure DevOps private feeds while Nuget and dotnet are working fine"
I have now tried to use custom feeds from Azure DevOps with several methods that work with `dotnet` and `nuget` but fails with `Composer`

### Nuget with Personal Access Token
1. Add source and test its functionality
[code]
2. Open Composer
3. Edit Feeds
4. Name = (same as above), Type = nuget, URL = (same as above), Filter = 'tags:msbot-component'

![image](https://user-images.githubusercontent.c

[2021-09-25 18:46] tamasschmolcz opened #8699 "QnA Maker issues an unsolicited message"
## Describe the bug

I have linked the QnA Maker as Action "Access external resources". It is part of a Trigger, where the user asks "I have a question" , Trigger is pulled and then Bot asks "What is your question"?  Then the user asks the question and QnA Maker is activated.

But QnA Maker issues without an question the message "Options", when the trigger is executed -  see screenshot.

Can I tur

[2021-09-26 18:44] nahlaGit commented on #8658
@stevkan thanks for your help,yes i try to not have the magic code pop up and i use this tutorial [linksso](https://docs.microsoft.com/en-us/microsoftteams/platform/sbs-bots-with-sso?tutorial-step=3) to make sso exprience for users,it works good in teams but in sharepoint site it give me the magic code pop up .

[2021-09-27 10:23] sidecus opened #8700 "Cannot create new project on Mac"
## Describe the bug

Cannot create new project on Mac. Below error is returned when doing so:

![image](https://user-images.githubusercontent.com/4399408/134890481-27a441bc-9ebd-449d-a7df-2a608eaf2231.png)

Running below command manually leads to file not found error (w/ or w/o elevated privilege):
```npm install -g --prefix /Users/xxx/BotFrameworkComposer/.yo-repository --loglevel error --no-opti

[2021-09-27 10:26] sidecus commented on #8700
Here is the detailed error when running the npm install command in the terminal directly:

[code]

[2021-09-27 13:27] sriget commented on #8689
Looks like antivirus is blocking the exe to execute and deletes the it. Ended  up in whitelisting it. Thanks for help!

[2021-09-27 13:27] #8689 closed

[2021-09-27 15:11] a-b-r-o-w-n commented on #8691
@venkatraj109 Composer does support data binding when creating adaptive cards using the [LG syntax](https://docs.microsoft.com/en-us/composer/concept-language-generation?tabs=v2x). In order to update an adaptive card that has already been rendered, you would need to use the `Update activity` action and resend the adaptive card json.
![image](https://user-images.githubusercontent.com/3619060/134935

[2021-09-27 16:57] dmvtech commented on #8593
hi @jcmorara I'm going to close this as it seems as though this has been answered. Please let me know if you have further questions.

To work around this issue, a couple of _ideas_ are:

1. Create .NET classes in your project that can populate these values and then share to your custom action.
2. Derive from the existing botbuilder classes and change the code to suit your needs.
3. Store the value

[2021-09-27 16:57] #8593 closed

[2021-09-27 20:44] Gupta-Keshav-001378461 commented on #4926
@BeheraMadan Were you able to find a solution for this issue?

[2021-09-27 21:15] anusharr commented on #8695
@saif177, can you elaborate on the steps you are following? If you use the `Set up Language Understanding` in the `configure` part and select `Use existing resources` option and login with your credentials, the it will show the authoring key and region and you need to select `Done` as mentioned in the [documentation](https://docs.microsoft.com/en-us/composer/how-to-add-luis?tabs=v2x). Generally, y

[2021-09-27 22:24] taicchoumsft commented on #8690
Hi @SiddyHub , sorry for the late reply.

It looks like we do have a documentation gap for custom recognizers in Composer. @clearab , is it possible I missed this documentation somewhere?  We documented custom dialogs and actions, but perhaps we haven't documented custom recognizers.

There are some good examples of how to create custom recognizers in general (please check the handful of samples u

[2021-09-27 22:32] dmvtech commented on #8699
Instead of just sending a response, use a text prompt. You shouldn't have to configure anything other than the question. I'm not sure where `options` is coming from in your bot/QnA, but if you're just trying to get around the issue of it not asking/prompting the user for the text; then just use text prompt.

![image](https://user-images.githubusercontent.com/43397658/134994088-b640eb47-628d-4236-a

[2021-09-28 04:48] mapur081999 opened #8703 "Showing Error : dotnet build MenuBot.csproj"
I installed the Bot Framework Composer , with all the tools required as prerequisite. On creating a new bot I am getting error.

Error is : dotnet build MenuBot.csproj

![Screenshot (284)](https://user-images.githubusercontent.com/91449513/135024860-5f134129-e9df-46c3-a3b4-b82d3c913ddb.png)

[2021-09-28 05:57] venkatraj109 commented on #8691
@a-b-r-o-w-n, In my case is Update Activity required?

My actual issue is when I try to render the Adaptive Card(-${AddressAdaptiveCard()}), its not showing. its just skipped into next step.

![Screenshot (203)](https://user-images.githubusercontent.com/5449915/135031363-45b2c354-103b-4a5e-ad3f-9db2192fc4b3.jpg)

[2021-09-28 07:38] venkatraj109 commented on #8691
@a-b-r-o-w-n I am using Bot Framework Emulator and Web Chat.

As per the docs [https://docs.microsoft.com/en-us/composer/concept-memory?tabs=v2x](url), Update Activity is not supporting for Bot Framework Emulator and Web Chat.

![Screenshot (8)](https://user-images.githubusercontent.com/5449915/135043981-fe1a57e9-460b-401a-977c-81400f35c432.png)

[2021-09-28 08:51] tamasschmolcz commented on #8699
@dmvtech Thanks for your reply, but that does not solve it.

When I use the "Prompt for text". Bot ask the question, I reply to  it and  bot states "options".  If I then repeat the question, I finally get the answer.

[2021-09-28 10:43] paragagrawal11 commented on #8680
I am from QnAMaker team. As per our investigation, this looks like a transient issue where the Azure Queue got stuck while creating the QnAMaker resource and it took hours for the endpoint keys to get generated. Let us know if you face this issue again.

[2021-09-28 12:25] dhruv2611 opened #8704 "Fill dropdown values dynamically using Adaptive Card in Bot Framework Composer"
I have created button list in Bot Framework Composer as mentioned in below link.
https://www.linkedin.com/pulse/bot-framework-composer-adaptive-cards-part-3-chand-abdul-salam/

Now when I click on any button, it should show another button list as shown below.

![image](https://user-images.githubusercontent.com/91541017/135105758-f5f59de8-75cc-4396-9717-c124abb5fb41.png)

What can be done for this?

[2021-09-28 13:13] kostasvl opened #8705 "Feature request: Allow comments in json files (eg appsettings.json)"
Too many times, I would add some useful comments to my values in appsettings.json (which is supported by VS), only to find that Composer now fails 😢. It's not critical to have this, but it would be appreciated. Thanks.

[2021-09-28 15:06] ajonesbb7 opened #8706 "Bot Framework Composer, error when creating new bot - command failed"
I installed the Bot Framework Composer , with all the tools required as prerequisite. On creating a new bot I am getting error.

![image](https://user-images.githubusercontent.com/91552539/135114271-bbe200df-8a78-4145-8146-c5e1744a70b1.png)

[2021-09-28 16:31] dmvtech commented on #8692
Hi @mohd-ismail-siddiqui

The issue here is that you are using an `Attachment Prompt` instead of a `Text Prompt`. You don't want to _receive_ an attachment, you want to receive text (_**kind of**_. See below for more info/explanation.), even though you are _sending_ an attachment (the card).

[code]

Once you change the prompt you may notice that after filling out the form, you will get prompted f

[2021-09-28 16:36] tonyanziano commented on #8697
@saif177 after adding the skill manifest to your Composer bot, you need to add a trigger that then calls a "Begin Skill Dialog" to actually jump into the skill flow that you imported. Please give that a shot.

[2021-09-28 16:38] tonyanziano commented on #8698
@benbrown can you provide any insight on how to configure a custom feed to Azure DevOps / is this currently possible?

[2021-09-28 16:43] tonyanziano commented on #8705
Thank you for the suggestion @kostasvl . We will add this to the backlog.

[2021-09-28 16:44] tonyanziano commented on #8706
Closing this issue as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/8703. Please follow that issue for any updates.

[2021-09-28 16:44] #8706 closed

[2021-09-28 16:55] dmvtech commented on #8703
Hi @mapur081999

This might be a problem with your nuget sources. But you should try a few things to try and identify the actual problem.

Please see the comment [here](https://github.com/microsoft/BotFramework-Composer/issues/7876#issuecomment-881082316).

Try and see if you can create and build a bot from Yeoman template and see if that works (alternatively, just use the `dotnet nuget list sourc

[2021-09-28 17:02] a-b-r-o-w-n commented on #8691
@venkatraj109 Composer will not re-prompt by default if the property already has a value, in this case `conversation.shipToName`. Try updating the `Always prompt` option to true or deleting the value from state before prompting.

![Screen Shot 2021-09-28 at 10 00 10 AM](https://user-images.githubusercontent.com/3619060/135132480-4031894f-1802-403d-974b-c0ed9002a638.png)

[2021-09-28 18:22] saif177 opened #8707 "error while publishing skill bot from composer"
## Describe the bug

When I am using existing resources and publishing the bot it's failing with the below message:

"DEPLOY_ZIP_ERROR - There was a problem publishing bot assets (zip deploy)."

## Version

v2.1.1

## OS

- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Publish'
2. Click on 'Publishing Profile'
3. Click on 'Add new', provide Name, and select "Publish to

[2021-09-28 18:35] dmvtech commented on #8704
Hi @dhruv2611 You need to give more info. What have you tried? Are you hitting an error or just not sure how to proceed? Are you able to share your code/dialog/bot? Ideally; if you can share your bot in a repository or a zip, that would be best.

[2021-09-28 19:46] kostasvl commented on #8680
Thanks very much. Interesting that the QnAMaker resource was created days prior to the incident, and it was working fine locally since (until the publish).

Can I ask where I can find the Composer's local settings file? I assume it's some json file, and if I knew where it was, I might have unblocked myself earlier. Thanks.

Feel free to close this issue, obviously.

[2021-09-28 21:54] tonyanziano opened #8708 "Bump OneAuth to latest version (1.36.0)"
There is currently an issue customers are facing with certain authentication issues. We have confirmed with the OneAuth team that bumping the version up to the latest release should fix this specific issue as well as others.

[2021-09-28 23:20] anusharr commented on #8639
@compulim, able to repro the issue on my end. Getting `Unknown attachment type` on the Teams channel blade on Azure and `Operation returned an invalid status code 'BadRequest'` in Teams.

[2021-09-29 02:57] sidecus commented on #8700
Adding more info.

1. I manually created the ```/.yo-repository/lib``` directory, and it passed that stage - npm install now finishes.
2. However it ran into another error complaining that "dotnet build xxx.csproj" failed. The project was not created at all and target folder was empty.
3. Found errors in the console window so I called the api/status api to see more details. There are many errors l

[2021-09-29 10:09] dhruv2611 commented on #8704
Hi Dana, I am calling a REST API and getting the 'Study' values i.e. Study 1, Study 2, Study 3 as showing in above screen-shot. Now once the end user clicks on any button (or selects the Study), bot should ask for selecting 'Site' and the options for 'Site' should appear like Site 1, Site 2, Site 3. The options for 'Site' will again come after calling another REST API based on 'Study' selection by

[2021-09-29 11:45] jnair7291 opened #8709 "Microsoft App Password throwing not an internal command error"
I am trying to develop a bot using composer and I published it with providing just the AppID which is working fine after deployment on the azure portal.

But, surprisingly I had provided AppId and Password in my bot composer which is not working and giving me an error as shown in the screenshot

![image](https://user-images.githubusercontent.com/11803138/135261921-213059f9-20d3-479c-b5b8-c19fac406

[2021-09-29 12:30] ArushiSingh opened #8710 "npm root -g --prefix C:\Users\ADMIN\AppData\Roaming\BotFrameworkComposer\.yo-repository --loglevel error 'npm' is not recognized as an internal or external command, operable program or batch file"
I am also getting the error.

Error calling npm to fetch template. Please ensure that node and npm are installed and available on your system. Full error message: Command failed with exit code 1: npm root -g --prefix C:\Users\ADMIN\AppData\Roaming\BotFrameworkComposer\.yo-repository --loglevel error 'npm' is not recognized as an internal or external command, operable program or batch file

Could y

[2021-09-29 13:50] jnair7291 commented on #8710
Hi,

can you verify your node installation is done over globally in your system?  To check this

 try
![image](https://user-images.githubusercontent.com/11803138/135281783-6d068f43-51ef-4ce3-a7e3-a4910f79351e.png)

If that did not go through,
Check npm Path is provided under advanced system setting -> environment variables after nodejs installation is completed
![image](https://user-images.githubu

[2021-09-29 14:59] benbrown commented on #8700
@sidecus thanks for the additional info. Did upgrading the .net version resolve the build errors?

The lib sub-folder is normally created automatically by the npm install process. I am surprised you had to created it manually. Did it create the .yo-repository folder normally?

[2021-09-29 16:18] carlosscastro opened #8711 "Upgrade to OneAuth/MSAL 1.36. Fixes Sign in error: Account Switch Detected"
Sign in throws Account Switch Detected error. The latest version of OneAuth fixes this. To unblock customers, update composer dependency to 1.36 and do a patch release whenever possible.

ICM ref; 262551756

[2021-09-29 16:34] tonyanziano commented on #8709
Hi @jnair7291 ,

What version of Composer are you using to publish?

It looks like the issue is that your app password contains a pipe `|` character, which the command line tool used to publish thinks is a separate argument to the command. So the password is not being escaped properly.

I believe we fixed a similar issue in a newer version of Composer though.

[2021-09-29 16:36] tonyanziano commented on #8710
Hi @ArushiSingh ,

Please try the guidance provided by @jnair7291 , and let us know if that fixes the issue.

I'm going to close this issue as it is a dupe of #8694 and is being tracked there.

[2021-09-29 16:36] #8710 closed

[2021-09-29 23:03] dmvtech commented on #8704
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-09-29 23:03] #8704 closed

[2021-09-29 23:03] dmvtech commented on #8704
Are you using prompts? You want to populate the choices for an adaptive card prompt? Or a choice prompt? There needs a lot more info here on what you have tried, etc. Ideally any code/dialog that you have. Please open a question on Stack Overflow and provide that information there.

[2021-09-29 23:04] dmvtech commented on #8673
Hi @humak. Have you tried any of the above? Any answers to the questions above?

[2021-09-29 23:29] stevkan commented on #8659
Closing as resolved.

[2021-09-29 23:29] #8659 closed

[2021-09-29 23:41] stevkan commented on #8674
Closing due to inactivity.

[2021-09-29 23:41] #8674 closed

[2021-09-29 23:43] stevkan commented on #8658
@nahlaGit, let me connect with a colleague who is much more familiar with SharePoint than I am. I will provide an update when I know more.

[2021-09-30 00:27] mrivera-ms commented on #8538
The [PR 5656 (dotnet) ](https://github.com/microsoft/botbuilder-dotnet/pull/5656) has been merged and will be available in the next release.

[2021-09-30 01:13] sidecus commented on #8700
@benbrown - .yo-repository was created but lib sub-folder was not. manually creating it resolved the npm install issue.

[2021-09-30 05:29] jnair7291 commented on #8709
Hi,

Yes, my app password does contain a pipe character and that's exactly where the error is pointing to.

My composer is up to date

[code]

[2021-09-30 07:02] lapulgaatomica10 commented on #8631
Hi @benbrown how can I know if its network problems? I mean where should I check?

[2021-09-30 10:37] codepic commented on #8698
@tonyanziano

1. Go to [https://dev.azure.com/{Organization}/_packaging](https://dev.azure.com/{organization}/_packaging) (replacing `{Organization}` in the url with your own)
2. Click `+ Create Feed`.
3. Provide `Name` (and other details if necessary) and click `Create`

[More details here](https://docs.microsoft.com/en-us/azure/devops/artifacts/get-started-nuget)

Once you have the feed, you sho

[2021-09-30 15:29] afahmy11 opened #8713 "add an item to object in an array of objects"
hi

i need to know how can i add an item to an object in an array of objects. for example i want to add the item "Date" to each object in the array below:
[
    {
	"amount": "1000",
        "crncyCode": "USD",
        "user": "john"
    },
    {
	"amount": "1500",
        "crncyCode": "USD",
        "user": "Monica"
    },
    {
	"amount": "1000",
        "crncyCode": "GBP",
        "user": "Sam"

[2021-09-30 15:38] nahlaGit commented on #8658
@stevkan thanks

[2021-09-30 16:24] tonyanziano commented on #8711
This is being tracked at #8708

[2021-09-30 16:35] #8708 closed

[2021-09-30 16:36] tonyanziano commented on #8711
Closed via #8712

[2021-09-30 16:36] #8711 closed

[2021-09-30 17:00] tonyanziano commented on #8709
@benbrown would you be the right person to fix this?

[2021-09-30 18:21] compulim commented on #8698
FYI, we are still pending something from Composer team to understand "how to configure Composer to talk to a private Nuget feed which requires authentication", or "is it possible to talk to a feed which requires authentication", or a missing feature.

[2021-09-30 20:36] Gupta-Keshav-001378461 opened #8714 "Unable to download package in bot framework composer"
I am using bot framework composer behind a proxy. I have changed the proxy settings. I am able to make basic bots but when I try to download any nuget package to add to my bot I get the following error :

Could not load component list:Error Request failed with status code 403 *** Could not merge components ***

It would be great if anyone can help me bypassing this error.

[2021-09-30 20:58] dmvtech commented on #8699
Hi @tamasschmolcz Thank you. I looked into it; and 'options' could be coming from a lot of different places. Can you check your settings (`Advanced Settings View (json)`) and see if there are any keys of `options` in there at all (not just under qna) that are blank?

Additionally; you can run the bot outside of Composer, test with Emulator and debug to see if you can figure out what might be the i

[2021-10-01 11:54] KunalKene1797 opened #8715 "Problem while converting skill from Composer 1.4.x to Composer 2.x.x"
## Describe the bug

We have a Bot Composer 1.4.1 skill, we faced problems while converting it to the new Composer 2.x.x skill. The Composer skill we are using has a custom runtime with additional features supporting our requirements. After we got the "EISDIR: illegal operation on a directory" error. We looked up this issue and found a few that are related to this issue, no luck though (https://gi

[2021-10-01 12:52] Clooney24 opened #8716 "Facebook Adapter on Composer 2.1.x doesn't trigger middleware components"
We have a Composer Bot running on 2.1.1 with several custom components installed for example for logging messages to our main system and other purposes.

We had Facebook Messenger connected via the Azure Channel and this worked fine, as well as in Emulator and in our custom Twilio Adapter.

Now we aimed to use the Facebook Adapter instead of the Azure Channel. Installing in Composer was easy and b

[2021-10-01 15:54] dmvtech commented on #8696
Closing due to lack of response. If you are still having this issue and need assistance; please comment with the answers to the above questions.

[2021-10-01 15:54] #8696 closed

[2021-10-01 15:56] dmvtech commented on #8673
Closing due to lack of response. Please comment with answers to above questions if you still need assistance.

[2021-10-01 15:56] #8673 closed

[2021-10-01 17:12] anusharr commented on #8694
Closing due to no response.

[2021-10-01 17:12] #8694 closed

[2021-10-01 18:09] Gupta-Keshav-001378461 commented on #8714
@compulim no authentication for the proxy.

[2021-10-01 18:15] compulim commented on #8644
@dmvtech I believe you got some guidance on this one. Please let us know otherwise. 🙂

[2021-10-01 18:30] srinaath commented on #8613
@DeependraKhangarot We did a minor release of Composer 2.1.1. Could you try checking if you still see the issue?

[2021-10-01 19:05] a-b-r-o-w-n commented on #8714
@benbrown Do you know of any additional configuration needed when installing packages behind a proxy?

[2021-10-01 19:33] rrgrimm opened #8717 "Composer: Create new bot > Immediate error"
## Describe the bug
I just installed Composer v2.1.1 and Node.JS. I am new to bot. I clicked "Create a new bot from start" and immediately got this error:

rror calling npm to fetch template. Please ensure that node and npm are installed and available on your system. Full error message: Command failed with exit code 1: npm root -g --prefix C:\Users\rgrimm\AppData\Roaming\BotFrameworkComposer\.yo-r

[2021-10-01 20:24] benbrown commented on #8714
We get the list of available components directly from Nuget using normal HTTP requests which should - as far as I know - inherit the proxy settings.

[2021-10-02 04:07] cvb23515 opened #8718 "can't create a new bot - Azure web app (windows)"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-10-02 09:23] WyldLynx opened #8719 "New bot create fails with error the same as #5355"
## Describe the bug

When creating a new Bot from the Empty template, this fails with a "Error hit when instantiating remote template: EPERM: operation not permitted, scandir 'C:/Users/Default User'" error

## Version

## Browser

- [y ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ y] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the