[2021-03-08 22:02] scheyal commented on #6167
LU syntax is the same for Orchestrator. It simply ignores entities. We'll add some text to that effect, but we need uber description about when, how to use Orchestrator (docs exist, need to find how to surface this in Composer).
Not R12.

[2021-03-08 22:16] Dewain27 commented on #6197
#6207 will be needed to make this documentation visibile

[2021-03-08 22:17] mmarzillo commented on #6287
Hi @v-kydela following the steps here https://docs.microsoft.com/en-us/composer/how-to-export-a-skill#prepare-a-local-skill to deploy and access a local skill
![image](https://user-images.githubusercontent.com/6752474/110388783-3bc96180-8029-11eb-91d9-474019bcb763.png)

I wind up getting no response when testing in the emulator (skill should trigger with an unknown intent and ask a question)
![ima

[2021-03-08 22:44] Dewain27 commented on #6257
New Provisioning UX must be completed before Docs can be created.

[2021-03-08 22:46] Dewain27 commented on #6258
Blocked awaiting implementation for Handoff Provisioning

[2021-03-08 22:54] Dewain27 commented on #6259
Verified that this is working in today's build.

[2021-03-08 22:54] #6259 closed

[2021-03-08 22:56] mmarzillo commented on #6287
Also, I'm using v1.3.1 of Composer.

[2021-03-08 22:56] Dewain27 commented on #6263
Included in this item is #5827

[2021-03-08 23:00] #6026 closed

[2021-03-08 23:00] #6174 closed

[2021-03-08 23:23] JonathanFingold opened #6325 "Glitch with borders in the bot navigation pane"
## Describe the bug

There's a weird dark yellow border that appears around items when you toggle the expand/collapse widget for a bot or dialog.
1. It disappears if Composer loses focus.
2. It is sometimes missing bits.

## Version

                Version:  1.3.1-nightly.220867.6238eb4
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0

[2021-03-08 23:23] Dewain27 commented on #6269
#5779

[2021-03-08 23:51] tdurnford opened #6326 "[Azure Publish] Stuck on loading screen"
## Describe the bug
I'm trying to deploy my bot to Azure; however, whenever I walk through the provision steps, the wizard gets stuck on the Configure resources step - the loading spinner never finishes.

## Version
Local build from Main

## Browser

- [ ] Electron distribution
- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps

[2021-03-09 00:13] #6203 closed

[2021-03-09 00:19] v-kydela commented on #6311
@LakshummaC - You can see a solution discussed [here](https://stackoverflow.com/a/57418517/2122672) (though you may need to export the runtime in order to get that to work in Composer)

Are you targeting Web Chat or Teams?

[2021-03-09 00:32] JonathanFingold opened #6327 "Improve authoring canvas layout and queues for composite actions like switch"
## Is your feature request related to a problem? Please describe.

1. I find it hard to navigate through relatively simple triggers.
2. The visual queues for determining what is a part of a composite action are minimal.

## Describe the solution you'd like

1. Draw a border around the composite action, at least for the selected action.
    - If I choose to delete at the "root" of the composite act

[2021-03-09 01:00] #6021 closed

[2021-03-09 01:03] pavolum commented on #6156
This is a redundant issue and has been fixed in a seperate PR
Link Target = "_blank" in the following line of code ensures that any markdown link within the readMe renders in a new window
https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/client/src/components/CreationFlow/v2/TemplateDetailView.tsx#L65

[2021-03-09 01:03] #6156 closed

[2021-03-09 01:24] boydc2014 commented on #6280
per the discussion with @cwhitten, let's treat unknown functions as warning for now @lei9444

[2021-03-09 02:37] luhan2017 commented on #2926
What is the exact issue? @devInTheNorth
Could you please try the following steps to debug more:
- eject your runtime
- go to your runtime folder and start a cmdline to run "dotnet build"

[2021-03-09 02:50] #5393 closed

[2021-03-09 02:55] luhan2017 commented on #6171
Close this issue since we already fixed the pipeline. Please reopen if needed.

[2021-03-09 02:55] #6171 closed

[2021-03-09 03:16] boydc2014 commented on #6137
A few things here
1. turn.activity is a known structure, we should know the properties and auto suggest based on it. (we should explore an automatically way to add known structure without having to manually add it everytime)
2. we should auto-complete a memory path which user has typed, even it's not a built-in one
3. if nothing falls in 1 and 2, we should not complete base on partial match, we sh

[2021-03-09 05:45] zidaneymar commented on #6102
@luhan2017 This is the merged results for all supported resource types:
[code]

I think we should use this as the regions we support.

[2021-03-09 05:58] LakshummaC commented on #6311
Currently our target is WebChat.

[2021-03-09 06:03] mewa1024 opened #6328 "Design section project tree is missing the dialog grouping by property"
## Describe the bug

In the Design section, for form dialogs, triggers were grouped by property in Composer 1.3. It seems that grouping has disappeared in the nightly version.

## Version

Version:  1.3.1-nightly.220867.6238eb4

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprod

[2021-03-09 06:56] hibrenda commented on #6146
@cosmicshuai be aware of this issue.

[2021-03-09 06:57] cosmicshuai commented on #6160
Hi @gabog, the datatime related functions in Adaptive-Expressions can only take an ISO timestamp or a datetime object as input, except formatDateTime function. One workaround for your issue is, you can use ` date(formatDateTime(timestamp)) `. This will ensure the input value for `date` function is an ISO timestamp.

[2021-03-09 08:10] afahmy11 commented on #6290
i tried "url": "data:image/png;base64,${user.photo}", but it is not working

[2021-03-09 08:57] #5923 closed

[2021-03-09 11:42] devInTheNorth commented on #2926
![bot_error](https://user-images.githubusercontent.com/52871883/110465282-80f69d80-80d4-11eb-9e47-dcf824ea6db4.jpg)
this is the error i get each time i try to run a bot @luhan2017

i am new to bot framework composer and i do not know how to "eject my runtime" so can you please give me directions?

[2021-03-09 12:54] hebaelfadly opened #6333 "Connect QnABot designed by composer to facebook adapter fail"
I have generated a a QnA bot using bot framework composer that uses QnAMaker knowledge base. Then in the runtime I am trying to connect the bot to FaceBookAdapter based on this [https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-facebook?view=azure-bot-service-4.0](url)

When I test the bot using the emulator the Bot returns the knowledgebase result exactly as I expect.

[2021-03-09 13:16] #6333 closed

[2021-03-09 14:37] Dewain27 opened #6335 "Publish / Provision management should be part of the Publish Experience in Composer"
## Is your feature request related to a problem? Please describe.

Today the Publishing and Provisioning experience is spread between the Publish and the Bot Settings pages in Composer.  This should be unified under the Publish location.

## Describe the solution you'd like

Move the Publish and Provision Experiences to a new experience that should reside under the Publish location.  This solution

[2021-03-09 14:44] jwiley84 commented on #6241
Hi @aparnaji !

I know this is possible from a non-composer bot using the Graph API; let me dig into a composer a bit and see if it's possible on their side as well! If it isn't, I'll raise a feature request; this is a really useful ability to have!

[2021-03-09 14:44] Dewain27 commented on #5896
Related Issues:
#6255

[2021-03-09 15:54] #6280 closed

[2021-03-09 15:59] Junenursyaiddah opened #6336 "How to add metadata using Bot Framework Composer only?"
Hi,
is available for this feature? and how to see /save the data ? thanks

Already use QnA maker make for create metadata. and is good.

[2021-03-09 16:07] zxyanliu commented on #6287
There was a schema change b/w 1.2 release and 1.3 release. This might be the cause of the failed connection to the remote skill.
This is what I did that solved the issue:

After publishing the skill, try updating the schema to:
`"$schema": "https://raw.githubusercontent.com/microsoft/botframework-sdk/master/schemas/skills/skill-manifest-2.0.0.json"` in Azure App Service editor.

![image](https://u

[2021-03-09 17:30] peterbozso commented on #5479
@EricDahlvang Yes, feedback is totally right, I only lack the free time to actually implement the changes.

[2021-03-09 17:39] tonyanziano commented on #5393
This should be in the [latest nightly build](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases). Please try out the publish flow with this build and verify that you can now publish using your personal account.

[2021-03-09 17:40] ryan-daly-AgFCS commented on #5393
Hello, The Moody's request submitted was invalid due to an incorrect subject line. Please ensure the request's subject line follows the below naming convention. PP ID - ######### Thank you, MaX

Regards,

Ryan Daly, M.S.
Data Scientist | Data Insights
AgCountry Farm Credit Services
1900 44th St S, Fargo, ND  58108
P: 701.499.2676
M: 701.306.4121
Email: ryan.daly@agcountry.com<mailto:ryan.daly@agco

[2021-03-09 17:42] v-kydela commented on #6311
@LakshummaC - As I said, you may need to export the runtime in order to get that to work in Composer. If you do export the runtime then you can write code like you would with a normal bot. However, it may still be possible to do what you're trying to do without exporting the runtime, depending on which route you go.

Since you're using Web Chat and not Teams, you won't be able to use a solution th

[2021-03-09 17:42] #6311 closed

[2021-03-09 17:44] hatpick commented on #6293
#5710 is resolving this.
duplicate #6014

[2021-03-09 17:44] #6293 closed

[2021-03-09 17:48] hatpick commented on #6294
@clearab what do you think? This is currently not supported but we need to prioritize it.

[2021-03-09 17:56] benbrown opened #6338 "Rename the new runtime profile"
The new runtime has a quirky identifier `csharp-azurewebapp-v2`

Should we rename this to something more future friendly and more descriptive such as `adaptive-runtime-dotnet-webapp`

If so, we need to:

- [x] Update the instances of this string in the Composer code [See here](https://github.com/microsoft/BotFramework-Composer/search?q=csharp-azurewebapp-v2) [Done](https://github.com/microsoft/Bot

[2021-03-09 17:59] #6197 closed

[2021-03-09 18:04] mewa1024 commented on #6039
(@xiyangdesign is working on this for R13.)

[2021-03-09 18:30] benbrown commented on #6148
@daveta  I believe this was a point in time error with the packages. Can you try again with a newer build?

[2021-03-09 18:33] JonathanFingold commented on #6287
@EricDahlvang , @v-kydela , @zxyanliu , To be clear, the skill manifest schema itself (v2.0.0 or v2.1.0) hasn't changed. This must have been a change in how Composer is consuming the manifest.

[2021-03-09 18:37] martinlarosa opened #6484 "slack-adapter taking to long to acknowledge message from Slack API"
I'm trying to use the slack-adapter and I run into a couple of issues that are not mentioned in the documentation.

1. I'm getting all messages from slack, even the ones the bot sends. I think this is expected but none of the sample code takes this into account, am I doing something wrong or are the samples wrong?
2. This is my main issue, the bot is taking longer than 3 seconds to acknowledge the

[2021-03-09 18:50] scheyal opened #6340 "Instrumentation for Orchestrator"
Request for instrumentation of Language & Orchestrator in Composer for Opt-In users (assuming privacy, legal approval).  (@garypretty)

Metric | Type | P | Comment
-- | -- | -- | --
Orchestrator   package is installed | Count | 0 |  
Orchestrator is   used as recognizer | Count | 0 |  
Plus Context: Root or not Root dialog | Count | 0 |  
No. of intents per   LU | Count | 0 |  
No. of entities per

[2021-03-09 18:51] dmvtech commented on #6184
@mn-invia The easiest way is to put your bot in a repository here on github. You can either make it public (removing any personal sensitive information) or private and then invite me to use it. You can also zip it up and send me a link.

[2021-03-09 19:01] mewa1024 opened #6343 "Turn off onboarding experience for 1.4 since the callouts point to the wrong parts of the UI"
## Describe the bug

The callouts enabled by the onboarding experience have not been updated as the UI evolved. It now points to incorrect places. We should turn off the onboarding experience for 1.4 and improve it and add it back for Composer 1.5.

## Version

Version:  1.3.1-nightly.220867.6238eb4

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2021-03-09 19:03] mewa1024 commented on #6343
(this discussion came about with discussion of this bug: #6039)

[2021-03-09 19:04] srinaath commented on #6039
@boydc2014 @yeze322  This concern may no longer be required due to #6343

[2021-03-09 19:18] mmarzillo commented on #6287
@zxyanliu , updating that $schema value is still leaving me with a 401 error.

![image](https://user-images.githubusercontent.com/6752474/110525230-f6b13800-80d9-11eb-8b68-124d60fbd337.png)

[2021-03-09 21:38] v-kydela commented on #6287
@mmarzillo - I can see there's a warning in your Composer screenshot indicated by the yellow triangle. What is the warning?

[2021-03-09 22:34] hatpick commented on #6224
#6323 moves the creation to worker thread

[2021-03-09 22:37] hatpick commented on #6227
@benbrown can you check this?

[2021-03-09 22:39] hatpick commented on #6229
#6219 Does this address the issue above? @benbrown if yes, please tag this issue under that PR.

[2021-03-09 22:49] chrimc62 opened #6348 "Support package prefixes in resource ids"
This issue describes the SDK changes to support package prefixes like `MyPackage#CoolStuff.en-us.lg` in resource ids for dialog, LU, QNA and LG files including a new `import` statement.  https://github.com/microsoft/botbuilder-dotnet/issues/5298

This work item is to ensure that composer is updated to support the new features. We need to ensure that the UI and verification understand the new id an

[2021-03-09 23:02] hatpick commented on #6336
Please follow the template in the github issues and provide all the requested information with your question.

[2021-03-09 23:02] #6336 closed

[2021-03-09 23:04] hatpick commented on #6248
closing, Duplicate of #6224

[2021-03-09 23:04] #6248 closed

[2021-03-10 00:08] #6098 closed

[2021-03-10 00:08] #6099 closed

[2021-03-10 00:33] sangwoohaan commented on #6168
It's not a text field, isn't it? You can only choose from one of the list types.

[2021-03-10 00:37] mareekuh commented on #6168
it's just that the dropdown disappears but it should still be a dropdown not a text entry box.

[2021-03-10 00:41] v-kydela commented on #6287
@mmarzillo - I suppose you don't need it but you might as well try having one for the sake of experimentation.

I'm also noticing that you say your expected behavior is for the skill to trigger an unknown intent and ask a question, but there's no unknown intent in the skill in your screenshot. There's just a greeting. Is it possible that the skill didn't respond because there was no unknown intent

[2021-03-10 00:47] tdurnford commented on #6168
For List Styles, you can either select from a list of items - "none", "auto", "inline", "list", "suggestedAction", or "heroCard" - or enter an expression. For the default list, the input field needs to be a dropdown. For the expression, the input field needs to be an expression.

Here is the schema for list style.
[code]

[2021-03-10 00:58] ryanlengel opened #6350 "Imported package's sub-dialogs do not render in UI, but work in the bot"
## Describe the bug

A component with multiple dialogs is not rendering all of them in Composer when installing. HelpAndCancel package version v1.0.0-preview.20210309.c0ed425 has exported assets at https://github.com/microsoft/botframework-components/tree/ryanlengel/helpandcancel_bugbash/packages/HelpAndCancel/exported that are installed in the Conversational Core template or independently through

[2021-03-10 00:59] dmvtech commented on #6082
Sorry for the delay. To confirm; you are still running the bot from Composer, even though it's a custom runtime. You're not running the custom runtime outside Composer with something like `node ./lib/webapp.js`, correct?

The reason I am asking is that Composer sets a lot of it's configuration in the local storage. It does this for a few reasons, but security is one of them (like it won't write yo

[2021-03-10 01:20] hsachinraj commented on #6082
@dmvtech I am only running it from the bot composer, not outside. The moment I add a custom runtime (JS), it stops logging the transcript. I have not tried with C# runtime.

The purpose of adding a custom runtime is I want to have it work with the Twilio WhatsApp endpoint, which is available as a [JS extension](https://github.com/BotBuilderCommunity/botbuilder-community-js/tree/master/libraries/bo

[2021-03-10 01:23] dmvtech commented on #6082
Yeah, I just reproduced. Looks like a bug or not implemented yet. I'll see if I can find more info.

[2021-03-10 01:27] dmvtech commented on #6206
@marvin-garcia I am looking into this. Aside from the steps above, you are not using a node or customized runtime, correct?

[2021-03-10 01:47] marvin-garcia commented on #6206
@dmvtech I'm not using any customized runtime. Let me know if you need specific screenshots of log info from the composer.

[2021-03-10 02:36] Jenny0932 commented on #5354
Hi Daniel,
I did not change anything in my publishing profile. It's an server issue of the LUIS portal in Australia region. It's not allowed to attach prediction resource to LUIS app. In that case, the LUIS publish is not be able to complete. After the LUIS team fixed the web server bug, everything goes back to normal.

[2021-03-10 02:55] feich-ms commented on #6244
Hi @KarlXOL,

1. If you want to reuse entities across intents of same dialog, you just need to define only once in any intent of that dialog since all the intent definitions under same dialog will be merged into one lu file per dialog and get published. Entity definition under one intent will be global reusable across different intents in that dialog, you don't need to define same entity in each i

[2021-03-10 04:33] stevkan commented on #6304
@aiipe, at this moment, I am unable to repro the issue you are experiencing. Have you tried with a new Composer project, new skill & manifest? Does this occur in multiple projects or just this one?

One thing I did notice is the schema value listed in your manifest is different than what is generated when I create a manifest. Can you try updating to the following and see if that makes a difference

[2021-03-10 04:44] Junenursyaiddah commented on #6342
-----------------------------
Hi @stevkan Thank you for "clearing my question. Yes that is problem, I want to summarized which includes an image (Attachment file) in other dialog.

I try put on other dialog for attachment :

![Capture-image-frame_LI](https://user-images.githubusercontent.com/25678200/110577719-ccbd4b80-8195-11eb-9f01-e37c8b3a4a01.jpg)

And result like this :
![Capture-null-images_

[2021-03-10 05:37] yeze322 commented on #6039
I saw TJ's PR #6344 , transfer this issue to TJ for further improvements

[2021-03-10 05:58] #6220 closed

[2021-03-10 05:58] #6305 closed

[2021-03-10 06:20] luhan2017 commented on #2926
@devInTheNorth First of all, could you please check if you install dotnet3.1 in your local machine? If yes, you could do the follow steps to get more information:
![image](https://user-images.githubusercontent.com/32191031/110585476-cdf97300-81ab-11eb-8e3d-14e4bc45089a.png)

[2021-03-10 06:29] hsachinraj commented on #6082
Glad that you are able to reproduce. Hope it is something that can be quickly fixed or implemented.

[2021-03-10 06:50] TheBestBirth commented on #2926
@devInTheNorth  Hi Mate, one other ting that may fix your issue, when you select "get a new of the runtime code" , JS works for me and not C. (FYI)

[2021-03-10 06:52] luhan2017 opened #6351 "Bug: Got OneAuth is not properly initialized error when close and reopen electron and do azure login"
## Describe the bug

![image](https://user-images.githubusercontent.com/32191031/110588324-d358bc80-81af-11eb-9d37-982730bdb262.png)
![image](https://user-images.githubusercontent.com/32191031/110588346-db186100-81af-11eb-9f4b-e94d2fdb95a1.png)

The root cause is composer:tenantId is saved in cache and is not cleaned up when composer is closed.
So when open composer in the next time. the oauth flo

[2021-03-10 07:11] EricDahlvang commented on #5395
Hi @cxbuilders

An example of a Custom Action DoWhile can be found in this draft PR: https://github.com/microsoft/BotBuilder-Samples/pull/3114

[2021-03-10 07:11] EricDahlvang commented on #4761
Hi @BeheraMadan

An example of a Custom Action DoWhile can be found in this draft PR: https://github.com/microsoft/BotBuilder-Samples/pull/3114

[2021-03-10 07:13] boydc2014 commented on #2179
Closed due out-dated, no longer have this issue in main branch

[2021-03-10 07:13] #2179 closed

[2021-03-10 07:32] gabog commented on #6160
thanks for the help @cosmicshuai, the function I really needed was utcNow(). I'll close the issue.

Thanks again.

[2021-03-10 07:32] #6160 closed

[2021-03-10 08:17] #6351 closed, assigned to VanyLaw

[2021-03-10 10:50] yeze322 commented on #6282
@hatpick Soroush what kind of UX design do we need for this? I saw you add a 'UX design' label.

[2021-03-10 10:55] liweitian opened #6355 "race conditions"
rename a KB several times util the error shows up.
Here is the root cause:

when we rename a qna file, we actually create one and delete one.
The two requests are sent almost at the same time.

In delete method, if we only have one single qna source file, we will also delete the source folder after that
await this._cleanUp(file.relativePath);

In create method, although we will ensure the source f

[2021-03-10 11:03] yeze322 opened #6356 "Documentation for uischema"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-03-10 11:33] Prerana-acce commented on #2344
Hi! Is there a way to extract source and all three answers from QnADialog using Bot Composer? There is not enough information about it. Any help would be highly appreciated!

[2021-03-10 13:29] Dewain27 opened #6357 "Import a knowledge base from existing QnA Maker KB"
## Is your feature request related to a problem? Please describe.

As a Composer user, I want to be able to import my existing knowledge base data from an existing QnA Maker instance.

## Describe the solution you'd like

In Composer, I want to be able to click Create new KB:
![image](https://user-images.githubusercontent.com/18688053/110636149-8c4bd680-8171-11eb-8603-4409511d1842.png)

I want to

[2021-03-10 13:58] aparnaji opened #6358 "Unable to get a value for KnowledgeBaseId from state"
Created QnA for one dialog, able to publish successfully and copied the knowledgebaseid to appsettings. At runtime in the particular dialog has thrown error "Unable to get a value for KnowledgeBaseId from state"

[2021-03-10 16:06] mmarzillo commented on #6287
thanks, @v-kydela I recreated a local skill to say "you're speaking gibberish" with an unknown intent and still now response.

![image](https://user-images.githubusercontent.com/6752474/110659473-3a627b00-8188-11eb-9f5a-923cc7783f9c.png)

[2021-03-10 16:34] tdurnford commented on #6168
Correct. That is how the component works currently.

[2021-03-10 16:36] tdurnford commented on #6168
Correct. That is how the component works currently.

[2021-03-10 16:52] benbrown opened #6359 "if access token is invalid, provision process fails silently when loading subscriptions"
## Describe the bug

An invalid access token, such as one pasted in manually, causes the call to load azure subscriptions to fail silently.

Errors in this API should be caught and messaged to the user or handled appropriately rather than silently failing.

When this happens, an incorrect error message about an empty subscription list is displayed.

See this line:
https://github.com/microsoft/BotF

[2021-03-10 16:54] #5759 closed

[2021-03-10 17:05] zxyanliu commented on #6356
@yeze322 Is this an R12 or R13 doc you are requesting?

[2021-03-10 17:42] #5946 closed

[2021-03-10 18:03] EricDahlvang commented on #5998
Hi @rahul-8437008949

Have you been able to collect the logs requested by @taicchoumsft ?

[2021-03-10 18:10] mewa1024 commented on #6181
Screen recording of the issue.
Version:  1.3.1-nightly.221407.6d6cbe2
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

https://user-images.githubusercontent.com/39317542/110676347-b52b9600-8188-11eb-98ca-738fe943f911.mov

[2021-03-10 18:28] rahul-8437008949 commented on #5998
Hi
I am unable to run the following command:

   - run Composer: ./Bot Framework Composer.exe

On Wed, 10 Mar, 2021, 11:33 pm Eric Dahlvang, <notifications@github.com>
wrote:

[2021-03-10 18:36] sangwoohaan commented on #6168
It turns into a text field when I selected any option other than Write an expression right now. If you look at the condition field in If condition action node, that's how this list is supposed to work(even though they are different data types)

[2021-03-10 18:40] rahul-8437008949 commented on #5998
Hi ,
I wanted to tell that i am running composer on microsoft virtual
machine.all my friends using vm are not able to run composer.Can you check
what can be done in this case.

Regards
Rahul G.

On Wed, 10 Mar, 2021, 11:33 pm Eric Dahlvang, <notifications@github.com>
wrote:

[2021-03-10 18:56] hatpick commented on #6282
Hey, please consult Sangwoo and get his thoughts on the matter

[2021-03-10 19:04] #5947 closed

[2021-03-10 19:50] tdurnford commented on #6168
Oh, strange. I'll take a look at that. You're right, if the value is included in the options, it should remain a dropdown.

[2021-03-10 19:56] #3709 closed

[2021-03-10 20:05] Dewain27 opened #6364 "Composer should have an experience to create/select a QNA key when needed."

[2021-03-10 20:10] #6338 closed

[2021-03-10 20:36] cwhitten commented on #6350
@ryanlengel when you click on the "Help" element in the Begin Dialog node under the Help trigger, what happens?

[2021-03-10 20:52] #6322 closed

[2021-03-10 21:32] stevkan commented on #6342
@Junenursyaiddah, the `dialog` scope is largely only available within the dialog from which it was created it. The docs do state that the value is also available to the dialog's parent and child dialogs. However, my experience has been that using either the `user` or `conversation` scope is a better fit than the `dialog` scope for accessing properties across the different dialogs.

Please try swit

[2021-03-10 21:47] stevkan commented on #6304
@aiipe, I inadvertently triggered the error you have been receiving. In my case, I had removed the remote skill however the "Connect to a skill" dialog event was still present. When I re-added the remote skill I had failed to go back into the "Connect to a skill" dialog event and re-assign the "Skill Endpoint" field. The "Skill Dialog Name" field was populated, but the "Skill Endpoint field was no

[2021-03-10 21:50] ryanlengel commented on #6350
@cwhitten it refreshes and goes back to the emptyBot root dialog. Attached gif
![composer_issue_6350](https://user-images.githubusercontent.com/43043272/110702511-7527db80-81a7-11eb-8a48-1a9700561544.gif)

[2021-03-10 22:27] #6071 closed

[2021-03-10 22:27] #6226 closed

[2021-03-10 23:01] dmvtech commented on #6310
Hi @LakshummaC I'm investigating this. Would you be able to share your bot as it is currently so I can see how you've got things designed?

[2021-03-10 23:12] tdurnford commented on #6326
This appears to be resolved in main.

[2021-03-10 23:12] #6326 closed

[2021-03-10 23:24] benbrown commented on #6095
See related: #5894

[2021-03-10 23:35] anusharavindrar commented on #6312
@pedro-ramirez-suarez, can you attach a screenshot of the 403 error you are getting on webchat? Also, have you tried testing on any other channel to see if you get a 403 there as well?

[2021-03-11 00:50] dmvtech commented on #6310
I actually don't think I need your bot. But you can share the `"validations": []` section of your dialog/prompt (show code).

But I am curious; what is the actual behavior? is it just not validating? is it not behaving as expected?

[2021-03-11 01:54] aiipe commented on #6304
hi @stevkan , i updated the skill bot schema as per your suggestion. Now I tried create a new bot and add remote skill, I had success connect to remote skill bot as expected. But after that I adding few dialog and triggers, then suddenly the 'Skill Endpoint' field value gone eventhrough I didnt do any changes to that 'Connect to a skill' dialog event. I did restarting my bot for each time changes,

[2021-03-11 02:37] yeze322 commented on #6014
'extra white space' was fixed by 5710.
Needs more work to fix the grouping problem.

[2021-03-11 03:03] lei9444 commented on #6196
Hi, @anmolgandhi007 , could you help to remove the space and line break to see if the error will disappear? And could you reproduce the issue 'it moved itself in the newline as per the space provided for data in a single line'? I can't reproduce it. If you can help to put a gif or screen video about it here, it will be more helpful to find the root cause.

[2021-03-11 04:49] #6146 closed

[2021-03-11 06:46] Hacwikir opened #6371 "Can't open project - Duplicate File Found: node_modules/@azure/ms-rest-js/node_modules/sax/package.json"
## Describe the bug

Trying to open my bot an get a duplicate file error message

## Version

v1.3.1

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Created a bot in the Bot Framework Composer
2. Click on the bot to open it.
3. See error
4. ![image](htt

[2021-03-11 08:29] boydc2014 opened #6372 "Can't create bot with component model flag on"
## Describe the bug

Can't create a bot with component flag on

## Version

Latest nightly
![image](https://user-images.githubusercontent.com/3829387/110757771-b9d67400-8286-11eb-88a4-260174fd2586.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Turn

[2021-03-11 16:26] KarlXOL commented on #6244
Thanks for feedback!
I tried option with importing luis to another .lu but when
doing
[import](common.lg)(./commom_entities.en-us.lu)

I always get =>
Unexpected content: ‘import(commom_entities.en-us.lu)’. Expecting a comment, template definition, import statement or option definition.

Could you be a bit more specific on this solution?
Thanks

[2021-03-11 17:39] srinaath commented on #6358
@aparnaji Could you follow the Github issue template we have to indicate version, platform etc

[2021-03-11 17:44] srinaath commented on #6350
@ryanlengel What happens if you go back to the Home screen and open it again (reloading it)? In addition, could you attach the bot assets to this ticket for us to get a repro.

[2021-03-11 17:48] benbrown commented on #6350
I believe this is happening because the child dialogs are themselves inside another `dialogs/` subfolder inside the component.

Those should all be moved up into the root `exported/` folder @ryanlengel

[2021-03-11 17:49] benbrown commented on #6350
Currently, Composer limits the paths folders and depth of searching when indexing the project.

[2021-03-11 18:33] WashingtonKayaker opened #6374 "The breadcrumb shows the name of the action as "unknown" is some cases."
## Version
Repro'd in 2 recent nightly builds:

1. v1.3.1-nightly.221407.6d6cbe2
2. v1.3.1-nightly.221713.7f02df0

## Describe the bug
The breadcrumb does not always show the name of the action correctly, instead shows **unknown** in some cases.

## To Reproduce
Steps to reproduce the behavior:

1. Create a new empty bot
2. Notice the Greeting trigger that was created, all action names appear corr

[2021-03-11 18:40] v-kydela commented on #6199
@aparnaji - Can you provide the JSON of the Adaptive Card you're using?

[2021-03-11 18:45] WashingtonKayaker opened #6375 "Dialog name does not update in the Navigation Pane when changed in the Properties Panel. It does update in the Breadcrumb."
## Describe the bug

The dialog name does not update in the Navigation Pane when changed in the Properties Panel. It does update in the Breadcrumb. Trigger names do update correctly.

## Version

v1.3.1-nightly.221713.7f02df0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduc

[2021-03-11 18:47] v-kydela commented on #6287
@cwhitten - I've been asked to escalate this issue. Please assign an engineer from your team.

[2021-03-11 18:50] scheyal opened #6376 "Copy/Paste creates an unknown entry"
## Repro: Within the same dialog (or not)
1.  Copy Send_Activity box say from trigger A
2. Paste to another trigger B

Bug: The copied #Send_Activityasdf() is unknown to Composer
Expected: it works smoothly, activity is known.

Video:
https://microsoft-my.sharepoint-df.com/:v:/p/eyals/Efei1fmsFAtLhZo6mbzpLisBFtaa2rPobH0N-g4a0r7ZVA?e=bnzQP3

## Version

Version:  1.3.1-nightly.222354.54a8de7
Electr

[2021-03-11 18:51] scheyal commented on #6376
And image:

![image](https://user-images.githubusercontent.com/8867670/110838800-bd9ed200-8257-11eb-952a-b74ae2fa39f0.png)

[2021-03-11 19:03] cwhitten commented on #6287
@v-kydela, do you have reproduction steps for the team?

[2021-03-11 19:05] cwhitten commented on #6376
Does this repro reliably for you? I cannot reproduce this

[2021-03-11 19:10] v-kydela commented on #6287
@cwhitten - Matthew says he's just following the steps here: https://docs.microsoft.com/en-us/composer/how-to-export-a-skill#prepare-a-local-skill

[2021-03-11 19:14] #6190 closed

[2021-03-11 19:22] tdurnford commented on #5610
@goergenj Are you still having an issue with this? I'm not able to reproduce it in the latest build from main. In the sdk schema, it looks like a condition is an `expression` and not an `equalsExpression`, so you don't need to preface it with an equals sign.

[code]

[2021-03-11 19:32] tdurnford commented on #6287
@mmarzillo if you aren't using Ngrok, what do you have the 'Skill host endpoint' in the bot settings set to?

[2021-03-11 20:31] cwhitten opened #6377 "1.4 PVA issues"
1. Publishing to PVA (required sign-in) after importing (also required sign-in) yielded two sign-in experiences. It should only be one if the authenticated session is still good.
2. Let's add the grey Composer icon in the "no triggers on this dialog" landing page

[2021-03-11 21:09] tdurnford commented on #6287
@mmarzillo Can you check if you have the skill settings configured properly in the advanced bot settings?

Bot Settings > Toggle Advanced Settings > Scroll down to 'skillConfiguration'

`allowedCallers` should be set to `["*"]` and `isSkill` should be `true`

![image](https://user-images.githubusercontent.com/17039790/110855058-1a5bb600-8273-11eb-9dc5-5164ce39ed26.png)

[2021-03-11 21:33] zxyanliu commented on #6287
FYI. The issue was not reproduced with https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.3.1-nightly.222354.54a8de7 on my side.
I have a plan to restructure the content to make it easier to follow.

@mmarzillo Thanks for filing this issue. We appreciated it!

[2021-03-11 21:38] mmarzillo commented on #6287
@zxyanliu was able to walk me through publishing and connecting to a remote skill. Thanks all!

[2021-03-11 21:38] #6287 closed

[2021-03-11 21:48] ryanlengel commented on #6350
Got it that makes sense, @gabog is going to take a look at this package and can let us know. If Composer intends to limit the searching depth, we may benefit from an "Export as package" option that flattens an exported bot and cleans up to only necessary files?

[2021-03-11 21:49] ryanlengel commented on #6350
If you go back and reload from the home screen, the behavior is the same. Here's the bot attached (haven't made Ben's suggestion on it)
[issue_6350.zip](https://github.com/microsoft/BotFramework-Composer/files/6126163/issue_6350.zip)

[2021-03-11 21:55] dmvtech commented on #6371
Hi @Hacwikir This happens when you are attempting to reopen a previously created bot? If you create new bots does it have the issue? Did you export the runtime on this particular bot?

[2021-03-11 21:59] WashingtonKayaker opened #6379 "Problems when inserting prebuilt functions in the LG inline editor"
## Describe the bug

The drop down lists to insert items into the LG inline editor moves to the top left side of the Composer window from the Properties panel once an item is selected from the pre-built functions list. I have not noticed that happening when selecting items from the previous two lists.

## Version

v1.3.1-nightly.221713.7f02df0

## Browser

- [ ] Electron distribution
- [ ] Chrome

[2021-03-11 22:54] Hacwikir commented on #6371
Hello! Yes, it only happens when I try to open a specific previously created bot. I created 3 bots long time ago and just one of them has that issue.

I am able to create a new bot and open it just fine.

I am not sure. I doubt it. I only found one related option which I did not select.
![image](https://user-images.githubusercontent.com/22629805/110866093-775a6a80-8279-11eb-9f8f-0f577dd58396.png)

[2021-03-11 23:11] pavolum opened #6383 "qna template not working in new creation flow"
Qna template needs minor fix due to naming change of empy bot package on npm

[2021-03-11 23:23] emivers8 opened #6384 "Project settings page moderate refactoring"
The current project settings page has usability issues and has become rather cluttered. The solution is to introduce tabs to the page to sort the content, as well as to address some problematic tool tip, introduce some improved explainer text (or at least provide a location for that), and move some items to other pages (publish to publishing page, and other items to app settings page (re: Gabo)).

[2021-03-11 23:38] iMicknl opened #6385 "Cannot delete dialog in Power Virtual Agents context"
## Describe the bug

When you are working on a (Dutch) PVA project, removing a dialog will result in an unhandled error which does crash the application. See video.

https://user-images.githubusercontent.com/1424596/110869457-cd0b3300-82ca-11eb-9988-d1206ac259d9.mp4

After a restart, the dialog is removed from the project tree, but the folder is still there.

![image](https://user-images.githubuse

[2021-03-12 00:24] #6150 closed

[2021-03-12 00:24] #6151 closed

[2021-03-12 00:25] #5937 closed

[2021-03-12 00:26] #6374 closed

[2021-03-12 00:26] #6383 closed

[2021-03-12 00:37] WashingtonKayaker opened #6387 "The name of child dialogs in sample bots appear in the breadcrumb and Properties panel as "Adaptive dialog""
## Describe the bug

When creating a bot from one the the example bots, the names of the child dialogs are incorrect in both the breadcrumb as well as the Properties panel. The name is correct in the Navigation pane.

## Version

v1.3.1-nightly.222354.54a8de7

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

[2021-03-12 01:07] boydc2014 commented on #6385
close this one duplicate with https://github.com/microsoft/BotFramework-Composer/issues/5728

[2021-03-12 01:07] #6385 closed

[2021-03-12 01:33] feich-ms commented on #6244
@KarlXOL, I think you missed the square bracket, the format should be `[import](./commom_entities.en-us.lu)` and you can change the relative path in of `./commom_entities.en-us.lu` based on your file folder.

[2021-03-12 02:44] tdurnford commented on #6379
@boydc2014 We have a PR open to fix this issue.

https://github.com/microsoft/BotFramework-Composer/pull/6388

[2021-03-12 02:46] boydc2014 commented on #6379
Great, thanks

[2021-03-12 02:54] #6379 closed

[2021-03-12 02:59] lei9444 opened #6389 "yarn start:dev failed to compile"
## Describe the bug
run yarn start:dev failed
![image](https://user-images.githubusercontent.com/39758135/110885340-a4625800-8321-11eb-9b8c-e883d237cebc.png)
Then I update the start scripts
![image](https://user-images.githubusercontent.com/39758135/110885408-c1972680-8321-11eb-8f95-50459c22d7a0.png)
the compile passed but still can't open the composer
![image](https://user-images.githubuserconten

[2021-03-12 04:24] rahul-8437008949 opened #6390 "Pass an array to skill"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-03-12 04:25] rahul-8437008949 opened #6391 "How to pass an array to a skill"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-03-12 05:38] KarlXOL commented on #6244
I used this
![grafik](https://user-images.githubusercontent.com/21153915/110897290-78cd7680-82fd-11eb-972d-34e577ff4558.png)
get file not found. So what is the root?

thanks

[2021-03-12 06:02] hatpick commented on #6389
This is happening due to react-dev-utils update

[2021-03-12 06:08] feich-ms commented on #6244
@KarlXOL, we support robust relative path. You can create the common_entities.en-us.lu file under the folder YourBotRootFolder/language-understanding/en-us/ and then you can import them in each lu file just with `[import](common_entities.lu)`. For example, I have a ToDoBotWIthLuisSample-0 bot and I put the common_entities lu file under below folder
![image](https://user-images.githubusercontent.co

[2021-03-12 06:30] aparnaji opened #6392 "Unable to get a value for KnowledgeBaseId from state."
## Describe the bug
Unable to get a value for KnowledgeBaseId from state.

## Version

![image](https://user-images.githubusercontent.com/26645750/110900651-ff348900-82fa-11eb-809e-ff8bb31833b7.png)

## Browser

- [ ] Emulator

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to Bot Composer
2. Add trigger - > Add Qna Maker Dialog
3. Add appsettings
  "qna": {
    "kn

[2021-03-12 06:32] aparnaji commented on #6358
Hi @srinaath

I gave more details in the isse #6392 as you suggested.

[2021-03-12 07:15] KarlXOL commented on #6244
Thanks for detailed instructions. That was exactly what I tried.
Anyway, the import doesn't work as described.
Import in Dialog:
![grafik](https://user-images.githubusercontent.com/21153915/110905447-c7cdd880-830a-11eb-812b-88f700f52ca7.png)

lu-file in bot folder as described above
![grafik](https://user-images.githubusercontent.com/21153915/110905530-e7fd9780-830a-11eb-81de-dd2c4437ab85.png)

In

[2021-03-12 07:29] anmolgandhi007 commented on #6196
https://user-images.githubusercontent.com/25576582/110906531-12168000-8332-11eb-8789-b6d297c71d6d.mp4

Here is the video you requested.

[2021-03-12 07:33] feich-ms commented on #6244
@KarlXOL, if the common_entities.lu is in the same folder of you above lu file, you can use `./` to indicate the relative path, if it's in other folders, use the right relative path based on folder structure or just use [import](common_entities.lu) without `./`.  We recommend the latter one in that way our system will look for the lu file of that name globally in this bot folder. For the dialog tr

[2021-03-12 08:10] iMicknl commented on #6385
@boydc2014 are you sure these are related? I had seen that issue, but in my case it is on removing a trigger for an already Dutch dialog. (the language has been set correctly and the error is not even handled).

Just want to make sure that this one is properly logged as well, since it is a bug where you have to hard restart the application.

[2021-03-12 08:53] anmolgandhi007 commented on #6196
Update: - Issues were found in the other language lg files.(de-de, es-es etc.) and there were other 7 language files other than en-us under dialogs-> *dialog name* -> language generation folder and all of them were having the same issue, hence the reason of same issue replicating 7 times. I have no clue how other language file got updated when I am working in en-us version of bot. I corrected the

[2021-03-12 08:54] KarlXOL commented on #6244
Shame on me. Probably I did changes not in the correct place!

Nevertheless your information provided details, very helpful to me and hopefully also for others

Many thanks!

[2021-03-12 09:06] Junenursyaiddah commented on #6342
@stevkan OK thanks for advice, I will try

[2021-03-12 09:49] hsachinraj commented on #6082
@dmvtech very sorry to bother you on this, but I need this badly. Any chance this can be fixed quickly?

[2021-03-12 12:52] cdonke opened #6395 "Beautify error output for bot start"
Whenever the bot fails to start (especially with ejected runtime) the error message is a JSON object not parsed.

## Describe the solution you'd like
Parse the JSON in a way it would be more readable.

![image](https://user-images.githubusercontent.com/4707327/110942434-922fec00-8318-11eb-9abd-dfdf018ab8da.png)
![image](https://user-images.githubusercontent.com/4707327/110942446-952adc80-8318-11eb

[2021-03-12 13:48] goergenj opened #6397 "[MCS-DE] LUIS Apps not visible in LUIS-Portal after Publishing"
When I publish my Bot into Azure, I cannot see the LUIS Apps afterwards on the Azure Portal. When ich start the Bot locally the Apps are visible. How can I view/access the LUIS Apps?

[2021-03-12 13:58] goergenj commented on #5363
@srinaath See attachment for details.
[20210312 Best Practice Intent-based User Input-Design in Composer.pdf](https://github.com/microsoft/BotFramework-Composer/files/6130445/20210312.Best.Practice.Intent-based.User.Input-Design.in.Composer.pdf)

[2021-03-12 14:04] aparnaji commented on #6199
{
      "type": "Input.ChoiceSet",
      "id": "myColour",
      "isMultiSelect": true,
      "value": "1",
      "style": "expanded",
      "label": "Please select the colour",
      "choices": [
        {
          "title": "Green",
          "value": "1"
        },
        {
          "title": "Red",
          "value": "2"
        },
        {
          "title": "Blue",
          "value": "3"

[2021-03-12 15:40] #6375 closed

[2021-03-12 15:40] #6387 closed

[2021-03-12 17:02] jwiley84 commented on #6391
Closing as a duplicate of https://github.com/microsoft/BotFramework-Composer/issues/6390

[2021-03-12 17:02] #6391 closed

[2021-03-12 17:08] jwiley84 commented on #6390
Closing as a duplicate of https://stackoverflow.com/questions/66594199/how-to-pass-multiple-values-to-a-skillarray-json-etc-from-a-bot-in-bot-compose

The bot framework team prefers that **how-to** questions be asked on stack overflow. As you've already asked this exact question there, I'm going to close this question so that we might address the answer there.

[2021-03-12 17:08] #6390 closed

[2021-03-12 17:27] scheyal opened #6398 "AppInsights telemetry: Utterance is not showing up in appinsights kusto report"
If you enable telemetry, instrumentation with logprivacy flag, you should see utterance in recognizer spew.
This used to work in vanilla 1.3.1. It disapeared in latest nightly.

Utterance shows up under the "text" value. See successful example [here](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/orchestrator/Composer/01.school-skill-navigator#example)

Tried with:

Version

[2021-03-12 17:46] scheyal commented on #6398
This is specific to my configuration.

[2021-03-12 17:46] #6398 closed

[2021-03-12 18:12] aparnaji commented on #6358
Finally after clearing the browser cache it worked.

[2021-03-12 18:12] #6358 closed

[2021-03-12 18:12] aparnaji commented on #6392
Finally after clearing browser cache it worked

[2021-03-12 18:12] #6392 closed

[2021-03-12 18:35] afahmy11 opened #6399 "wildcard in Branch: Switch (multiple options) cases"
hi

is it possible to use wildcard `*` in Branch: Switch (multiple options) cases? for example create one case `Hardware*` instead of the 3 cases in the screenshot below?

![image](https://user-images.githubusercontent.com/49028761/110983422-66415480-8372-11eb-8b1e-6e999a9c078f.png)

[2021-03-12 19:24] scheyal opened #6400 "Specify alternate models in advanced appsettings (no UI) to use in Orchestrator"
For parity with CLI, one should be able to direct Composer to use alternate Orchestrator basemodels instead of default ones.

[2021-03-12 19:28] v-kydela commented on #6199
@aparnaji - You can retrieve the action data using `turn.activity.value` or `turn.activity.value.myColour`. There's a discussion of this here: https://github.com/microsoft/BotFramework-Composer/issues/1820

In the future, it may be a good idea for you to inspect the bot state traces when testing your code in Emulator to see how data can be accessed in incoming activities:

![image](https://user-im

[2021-03-12 19:28] #6199 closed

[2021-03-12 20:09] stevgarcia commented on #2004
is there any way to create a carousel just using images rather that adaptative cards?

[2021-03-12 20:17] daveta commented on #2654
@cwhitten : Should this be slotted for R14?

[2021-03-12 21:14] stevgarcia commented on #3674
Hello there, when you suggest to have a datalist, where should create it? in the common file?, can I use a list of images to create a carousel rather than a addaptative card with json?

[2021-03-12 23:25] #6389 closed

[2021-03-13 00:18] JonathanFingold commented on #5911
@luhan2017 - The only way I've discovered so far for canceling the skill from the root bot is to use a **Cancel all dialogs** action, which has a lot of unwanted side effects. I can't figure out how to send an arbitrary action to the skill from the root bot after the skill is started.

[2021-03-13 00:33] zxyanliu commented on #6287
This is [the PR](https://github.com/MicrosoftDocs/composer-docs-pr/pull/405) to improve the flow.

[2021-03-13 00:57] #6372 closed

[2021-03-13 03:21] cwhitten opened #6404 "Aliased LG templates aren't cleaned up when the calling template is deleted"
## Describe the bug

Aliased LG templates aren't cleaned up when the calling template is deleted

## Version

Version:  1.4.0-rc0-nightly.222981.e9d070b
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to

[2021-03-13 04:12] daveta commented on #6191
@luhan2017 : Any updates?

[2021-03-13 04:13] daveta commented on #5526
@sangwoohaan : Any updates?

[2021-03-13 05:09] #6404 closed

[2021-03-13 18:20] danielallen73 opened #6406 "DEPLOY_ZIP_ERROR - RequestError - Error: getaddrinfo ENOTFOUND <resource>.scm.azurewebsites.net"
TO REPRODUCE

**Azure Portal**
- Create a Bot Channels Registration in existing resource Group
- Copied App Id and Password
**Launched Bot Composer**
- Created a New Skills Bot from scratch. (as per Prepare a Skill https://docs.microsoft.com/en-us/composer/how-to-export-a-skill)
- Created a publishing Profile to an existing set of Azure Resources
- Publish Skills bot using publish profile
- Get:
-

[2021-03-15 01:08] luhan2017 commented on #6191
@Jenny0932, sorry for the late response, I heard some similar issues about this, they confirmed that it is a luis server issue and it is working well now, could you please try again to see if the issue still exists? Thanks.

[2021-03-15 01:10] luhan2017 commented on #5911
@JonathanFingold this seems like a SDK issue, @srinaath, should we transfer this issue to SDK?

[2021-03-15 02:06] Danieladu commented on #3674
hi @stevgarcia

There are many ways to define/create the data. From Composer actions(like serProperties, HttpRequest, EditArray, SetProperties .etc.), Composer input(TextInput, ChoiceInput, Ask .etc.), Recognizers, or directly define in LG file, or in some json file and import by LG's function 'fromFile'. Define in common file is also ok.

Yes, you can.
Try the code below:
[code]

[2021-03-15 02:09] xieofxie commented on #2004
no, I don't think so. One always needs to put images in some container (aka adaptive card).

[2021-03-15 02:30] hibrenda opened #6407 "Can not start bot for using orchestrator recognizer"
- Create bot using 1.3.1 nightly
- install composer 1.4 rc0
- eject runtime to install orchestrator package
- set orchestrator recognizer
- start bot will hit following error
![image](https://user-images.githubusercontent.com/43408889/111095820-387a2c80-8579-11eb-8672-e59c3d364340.png)

[2021-03-15 04:40] ABHILASH4012 opened #6408 "unable to load Bot Framework Composer"
unable to load Bot Framework Composer after installing all Prerequisites

[2021-03-15 08:17] liweitian opened #6409 "error on creating dialog"
## Describe the bug
The main operation is not affected. Only a weird error shows up.
1. create a new bot.
2. add more languages.
3. create a new dialog.

It seems that it is trying to create a .lg (without a name) file and then to delete it.

![微信图片_20210315161724](https://user-images.githubusercontent.com/24380525/111123180-fa493100-85a9-11eb-891f-db79fc8afc29.png)

[2021-03-15 12:01] boydc2014 commented on #6409
@liweitian or @lei9444 can you help check this one ?

[2021-03-15 12:03] boydc2014 commented on #6407
@taicchoumsft  can you help check this one, looks like component registration fails to work as expected

[2021-03-15 12:05] boydc2014 commented on #6409
is it possible, something happening in the persistence layer?

[2021-03-15 12:07] boydc2014 commented on #6408
Hi, @ABHILASH4012 are you building the web version or use the electron version in the release page?

If it's the web version, can you share the messages when you run yarn start (after yarn install && yarn build)

[2021-03-15 12:08] boydc2014 commented on #6406
@luhan2017 @VanyLaw looks like the name of the app is not properly populated?

[2021-03-15 12:16] boydc2014 commented on #6399
We don't support wildchar in swich's cases, but there is some alternatives to do a fuzzy match like, using an if condition with expression (functions that allow you to do processing), for example you can do startsWith(dialog.deviceType, 'Hardware') to achieve the same result
![image](https://user-images.githubusercontent.com/3829387/111152073-49538e00-85cb-11eb-8eea-d504f67bb5ff.png)

[2021-03-15 16:39] hatpick opened #6413 "[LU Editor] Add toolbar for define/use entities"
Designs: https://www.figma.com/file/q76DseJ7PK0g7zI1gXLzlD/SH_Language-Generation?node-id=1655%3A45665

- [x] Add toolbar to LU editor (define/use entity)
- [x] Add define entity button to menu, ML entity vs. prebuilt entity with search
- [x] Add use entity button to menu: use entity when text selected (only ML entity) vs. not (+ prebuilt)
- [x] Add labeling context menu to selected text in Monaco

[2021-03-15 17:29] #6409 closed

[2021-03-15 17:56] daveta commented on #6106
Hi @JohnRobertGreen : Curious if you have any updates here?  Thanks!

[2021-03-15 18:10] daveta commented on #5784
Closed due to inactivity.

[2021-03-15 18:10] #5784 closed

[2021-03-15 18:11] daveta commented on #6083
Closed due to no activity..

[2021-03-15 18:11] #6083 closed

[2021-03-15 18:17] danielallen73 commented on #6083
Apologies for not getting back to you and team. Thanks @srinaath for your attempts to reproduce.
@daveta - Happy for you to close although I still have the issue everytime I restart Composer app. v1.3.1. I'll try and reproduce by start a new bot as per your advice. If it still occurs I'll get back to you. Many thanks

[2021-03-15 18:31] cpolanish commented on #4211
I just ran into this issue myself. I'm new to Bot Framework and LUIS and am just trying to get up to speed on things. In my scenario, I've figured out that what I did to cause this error was I went to LUIS.ai and trained the bot. After training I started getting this error in composer when trying to either publish or just start the bot locally, and don't know where to look to correct it. Like the

[2021-03-15 19:08] SChandlee-ARIFleet commented on #6314
I was able to resolve this issue. Changing the input parameter from '=split("**${@answer}**","|") ' to '=split(**@answer**, "|")' worked.

[2021-03-15 19:08] #6314 closed

[2021-03-15 20:13] Shivanitanwar commented on #5743
The upgrade to 1.3.1 solved the issue for me. Sorry, for the delayed response. @cwhitten

[2021-03-15 20:15] cwhitten commented on #5743
Thanks. Closing

[2021-03-15 20:15] #5743 closed

[2021-03-15 20:50] JonathanFingold commented on #5911
This really depends on how the conversational core handles conversations between a skill consumer and a skill.
- If it does so through a SkillDialog instance, which I would expect to be the preferred way, then this is an implementation issue in Composer or the conversational core.
- Otherwise, you may need the SDK to surface a separate activity for cancelling the active skill.

@gabog Do you have

[2021-03-15 21:21] benbrown opened #6416 "Add support for JS runtime during creation flow"
* Expose the JS feed
* Add support for package manager
* Add support for local start
* Add support for publishing
* plumb through the choice to the yeoman generator stuff

[2021-03-15 21:32] benbrown opened #6417 "bug: composer doesn't see component dialogs that are in subfolders"
## Describe the bug

If a component exports multiple dialogs, some of them will live inside subfolders, resulting in an imported structure like:

/dialogs/imported/{Component}/{Dialog}/{Dialog}.dialog

These are currently invisible to composer because the botStructure is only looking 1 folder deep.

See here: https://github.com/microsoft/BotFramework-Composer/blob/00f292a10a7537bc68cf6ebd2a34e1cb2

[2021-03-15 21:40] benbrown commented on #6417
We need to be able to support BOTH:

(root dialog style)
`/dialogs/imported/MY-COMPONENT/mydialog.dialog`

AND

(child dialog style)
`/dialogs/imported/MY-COMPONENT/mydialog/mydialog.dialog`

[2021-03-15 21:42] benbrown commented on #6417
I am not sure how to do this with a glob in such a way that does not result in Composer finding the same file multiple times, causing errors.

[2021-03-15 21:44] benbrown commented on #6417
@zhixzhan Can you take a look at this please?

[2021-03-15 21:52] taicchoumsft commented on #6407
@hibrenda, is the bot a new "component model" bot, using the new creation experience? If it is an older root bot using the legacy runtime, you have to add the Orchestrator registration manually since we took Orchestrator out of the 1.3.1 runtime (follow Step 4 onwards here) : https://github.com/microsoft/BotFramework-Composer/blob/main/docs/preview%20features/orchestrator.md#adding-orchestrator-to

[2021-03-15 23:48] anusharavindrar commented on #6244
@KarlXOL, is your issue resolved with the above comments from Fei? Shall I go ahead and close the issue?

[2021-03-16 00:12] boydc2014 commented on #6417
@zhixzhan is out this week, I will take a look at this today

[2021-03-16 00:26] dmvtech commented on #6371
@Hacwikir Can you please try closing Composer, deleting everything underneath `%USERPROFILE%\AppData\Roaming\BotFrameworkComposer\hostedBots` and then running the bot again?

[2021-03-16 00:51] pedro-ramirez-suarez commented on #6312
I apologize for the late response, I needed to revert my changes to share the LUIS resource for deployment and then put the changes back, here is a screenshot. I use direct line as well, we use that to interact with a custom Twilio function and we get the same 403 error. As I said, everything works if the each one of the skills use a separated LUIS resource, is just when I try to reuse it.

![imag

[2021-03-16 02:48] VanyLaw commented on #5922
fix in https://github.com/microsoft/BotFramework-Composer/pull/5741

[2021-03-16 02:48] #5922 closed

[2021-03-16 02:48] #6377 closed

[2021-03-16 02:52] VanyLaw commented on #5436
show the correct error message in https://github.com/microsoft/BotFramework-Composer/pull/6112

[2021-03-16 02:53] luhan2017 commented on #6397
@goergenj are you using the different authoring key for local and azure publish? If yes, you need to choose a different authoring resource.

[2021-03-16 03:36] VanyLaw commented on #5924
It's failed when creating bot registration, I think that's because hostName is already had. Fix name checking in here https://github.com/microsoft/BotFramework-Composer/pull/5741.

[2021-03-16 03:36] #5924 closed

[2021-03-16 03:36] gabog opened #6419 "Imported package adds blank response to the bottom of the last lg (before comment)"
When adding a package with package manager, the import process generates a blank response after the last response in the lg file and before the import comment:

![image](https://user-images.githubusercontent.com/12264946/111252103-cf310280-85e6-11eb-8b85-db50cc42bd97.png)

The blank line goes away after clicking on the sendactivity action but it shouldn't have been there during the import.

## Ver

[2021-03-16 04:44] Hacwikir commented on #6371
Hello @dmvtech, I followed the instructions, unfortunately I still see the same error when traying to run my bot.

[2021-03-16 06:01] madbeher opened #6421 "calling adaptive card inside multichoice prompt"
Hi,

I have  called a adaptive card(contains a text message) from a multichoice prompt  but it is not working.
Is there any way to resolve the issue.

![image](https://user-images.githubusercontent.com/36945600/111261983-64fd7980-8649-11eb-8c3a-f230c28763c0.png)

The message should come from the adaptive card on below highlighted area.

![image](https://user-images.githubusercontent.com/36945600/1

[2021-03-16 07:10] hibrenda commented on #6407
@taicchoumsft  thanks for the instruction. Yes. I am using legacy runtime. With the instruction. It worked now.

[2021-03-16 07:10] #6407 closed

[2021-03-16 07:14] #6417 closed

[2021-03-16 12:10] philip-mc opened #6422 "Interrupt dialog not working for unknown intent"
## Describe the bug

I have a parent dialog triggering a child via an intent. There is also an unknown intent trigger in the parent linked to a Q and A knowledge base.

On the screenshot attached I start with an unknown intent and the Q and A triggers as expected. I then use the intent to trigger the child dialog. When I run the unknown intent again (trying to trigger the Q and A) nothing happens

[2021-03-16 12:15] philip-mc opened #6423 "Multiple Luis Apps for Each Dialog"
## Describe the bug

This may or may not be a bug however I feel as if the system is not working as expected.

I am using bot composer to handle dialog flow and have just added Luis in. I would expect to have one Luis app for my whole project that covers a list of intents and entities. When I check in Luis I see a new app for each dialog.

I really do not wish to maintain several duplicate lists o

[2021-03-16 12:21] cxbuilders opened #6424 "Teams SSO not working (anymore)"
This is a real strange issue...:

We have a bot in production that uses Teams SSO and is working fine. I remember that setting this up was quite the hassle and documentation was pretty poor. However I simply cannot get another bot to work with SSO anymore, no matter what I try. I know that there has been an update on Bot Channels Registration in the meantime and also that BCR is as buggy as it get

[2021-03-16 12:55] negativeeddy commented on #5777
I'm seeing the same issue. To repro
1) Create an empty bot
2) Add a language
3) See the language switch in the dropdown UI and cant change it
[EmptyBot-8-Repro.zip](https://github.com/microsoft/BotFramework-Composer/files/6149064/EmptyBot-8-Repro.zip)

As mentioned, if I change the default language in the settings, the UI dropdown will switch to that language. I just cant use the dropdown itself.

[2021-03-16 13:11] KarlXOL commented on #6244
Thanks, I've tried this and it is working.

[2021-03-16 13:12] Danieladu commented on #6421
Change `"height": "1px",` to `"height": "1px"`, (remove the trailing comma). because the comma would make the json invalid.
Have a try.

[2021-03-16 13:58] #6399 closed

[2021-03-16 14:03] MarcoWirtl opened #6425 "How to Response with an Upload Field where User can attache his files?"
I'm asking the user to attache a file (Prompt for file or an attachement).

I would like do display a field, where the user can drag & drop his file or send a response, where the user can easly understand, that he has to upload something.
Something like this:
![image](https://user-images.githubusercontent.com/58036042/111321753-8752bf80-8668-11eb-91b9-b94f4fe0b9db.png)

Is it possible to display i

[2021-03-16 15:53] sgellock commented on #6126
going forward, @clearab, I would like feature flag text changes to be more broadly reviewed.  I'm not aligned to this framing as  it's not how the new creation experience should be presented to the developer.

[2021-03-16 16:00] benbrown opened #6426 "bug: updating to latest version causes feature flags to disappear"
## Describe the bug

Users are reporting that when updating to the latest version, the feature flags in the settings disappear.

The new feature flags do not appear. The old ones disappear, leaving the list blank.

## Version

RC1

[2021-03-16 16:39] a-b-r-o-w-n commented on #6397
@zxyanliu is this covered by any documentation? When publishing a bot, new Azure resources are created (including Luis resources), which is causing confusion for some when viewing Luis applications on the portal.

[2021-03-16 16:46] a-b-r-o-w-n commented on #6419
This `> Imported: ...` comment is added as part of the dialog merge process. It should not be visible in the UI at all. @garypretty assigning this to you because @benbrown mentioned that there is still some discussion happening about this comment and we still need to get alignment on how to address.

[2021-03-16 16:52] #6244 closed

[2021-03-16 16:54] a-b-r-o-w-n commented on #6423
@philip-mc #6244 describes a way to share intents and entities across multiple lu files. I hope that is a solution for your use-case. I will defer to my colleague to explain why Composer creates a new Luis application for each dialog.

[2021-03-16 16:56] a-b-r-o-w-n commented on #6424
@cxbuilders There was a service outage yesterday affecting AAD. Perhaps your testing was impacted? Can you try again?

[2021-03-16 16:59] cxbuilders commented on #6424
@a-b-r-o-w-n Hey Andy, tried this last week and again today to see if I missed anything. All same results. Also two different tenants

[2021-03-16 17:02] dmvtech commented on #6082
@joshgummersall Can you help out here? Is this something that is in the works/being fixed/etc?

[2021-03-16 18:04] scheyal opened #6429 "Orchestrator recognizer shows entities in results"
In some cases when LU contains some entity definitions in LU processed by Orchestrator. The entities show up in the intents results lists. We already have a verified fix and understanding of the root cause.

[2021-03-16 18:06] daveta commented on #6106
Hi @JohnRobertGreen : Closing due to inactivity, please reactivate if necessary..

[2021-03-16 18:06] #6106 closed

[2021-03-16 18:10] EricDahlvang commented on #6424
Hi @cxbuilders

If the user has never consented to this app, PreconditionFailed is the correct response.  Teams client should then be popping up a little notice, enabling the user to provide consent (i do not have a screenshot right now, but can provide one if needed).  Subsequent sso flows should properly exchange the token.

[2021-03-16 18:17] scheyal commented on #6429
## Example:

![MicrosoftTeams-image](https://user-images.githubusercontent.com/8867670/111359728-1b149380-8649-11eb-9d12-02d766734aa2.png)

### LU section example
[code]

[2021-03-16 18:18] sgellock commented on #6126
Name:
New Creation Experience.

Description:
Preview the new bot creation experience.  Create new bots that use the Adaptive Runtime, and can be enhanced using Package Manager. Learn More.

[2021-03-16 18:19] garypretty opened #6430 "No way to start a new line in multiline text boxes in LG editor"
## Describe the bug

When using the multiline text boxes for variations in the LG editor, I cannot use Alt+Enter (on Windows) to start a new line.  When I try this a new variation is created as if I just hit enter.

We need to provide the expected behavior for a user to move to a new line.

[2021-03-16 18:26] #6395 closed

[2021-03-16 19:24] joshgummersall commented on #6082
@hsachinraj and @dmvtech we are in the process of writing v2 of the Javascript runtime. Unfortunately, this is taking precedence over changes to the existing preview runtime. You could certainly modify your Node.js runtime to create a transcript logger middleware on the adapter. I put together [a diff here](https://gist.github.com/joshgummersall/be1a7e39123e8f1c6afb60e35ae8aeed) that you should be

[2021-03-16 19:41] ryanlengel commented on #6431
Added tags, I'm assuming that the dialog provided when adding the `Microsoft.OnChooseIntent` trigger is provided by the SDK (having difficulty tracking down it's source).

[2021-03-16 19:46] scheyal commented on #5684
Is this still on schedule?

[2021-03-16 20:10] cxbuilders commented on #6424
@EricDahlvang Teams and the App registration is in the same tenant and the api permissions are admin consented, hence it should not ask for additional user consent. This is per documentation and also how the current bot in production behaves (the business would have never accepted the user consent question anyway).

Forgot to mention that the 412 is spit out 3 times everytime and then the consent

[2021-03-16 21:51] JonathanFingold opened #6434 "Improve experience for using remote skills"
Lack of features/polish in the add a remote skill flow make it harder to use than it should be.

I'm confused by the **Connect a remote skill** flow:
    - It requires you to select a skill endpoint, which would imply that the added skill has access to only that endpoint.
    - However, when you add a **Connect to a skill** action, you get to choose which endpoint to call, which would indicate tha

[2021-03-16 21:52] dmvtech commented on #6371
Interesting. For the one problematic bot, can you check the folder and see if there is a `runtime` folder (even though that option is not enabled in the UI)?

[2021-03-16 22:08] JonathanFingold commented on #6434
PS. I'm also confused as to why we're exposing the dialog name in the manifest (with a description), as this is not something the consumer bot interacts with directly. And then, we do display the important bit, which activities the skill expects (without a description).

[2021-03-16 22:25] #6426 closed

[2021-03-16 22:47] v-kydela commented on #5426
It looks like #5623 should be in 1.3.1, but the problem is still reproducing in 1.3.1

[2021-03-16 22:59] #6181 closed

[2021-03-16 23:34] #6429 closed

[2021-03-16 23:40] cwhitten opened #6436 "Take 4.12.1 runtime packages"

[2021-03-16 23:44] Hacwikir commented on #6371
Hello, I only see these at the top level:
![image](https://user-images.githubusercontent.com/22629805/111393808-b6702d80-8676-11eb-8a70-e29f5de4f341.png)

I don't see any runtime folder at all:
![image](https://user-images.githubusercontent.com/22629805/111393847-c851d080-8676-11eb-966e-f68eb7d329c5.png)

[2021-03-17 00:31] hatpick commented on #6430
It's shift+Enter, why are you trying alt+enter I'm curious

[2021-03-17 00:37] hatpick commented on #6430
It's shift+Enter, why are you trying alt+enter? I'm curious if that's a key combination that more users are familiar with, otherwise in LG all up view, template editors (not monaco) use shift+Enter for new line as well.

(Latest on main has this implemented, it also shows new line chars)
#6394

[2021-03-17 00:48] garypretty commented on #6430
@hatpick Sorry, shift + enter is fine.  Had it in my head that alt + enter was the combo.  Just tested and shift + enter works for one line, but if I try and add more than one additional line and try shift + enter again, it starts a new box instead of adding another line.  Can you repro that your side?

[2021-03-17 01:16] #6126 closed

[2021-03-17 01:21] zxyanliu opened #6439 "Mismatched Azure resource types in the existing provisioning flow"
## Describe the bug

1. On the **Add resources** and **Review & create** pages, these are the required resources I am creating:

   ![2](https://user-images.githubusercontent.com/32497439/111399735-300e1880-8683-11eb-8293-1a9d02f7e94e.png)

   ![3](https://user-images.githubusercontent.com/32497439/111399937-92ffaf80-8683-11eb-87c5-4751908d3836.png)

2. After the provisioning is completed, I found

[2021-03-17 01:40] luhan2017 commented on #5436
@VanyLaw , The issue is not fixed yet, we should support non-federated account login.

[2021-03-17 02:40] mareekuh commented on #6439
@Andrea-Orimoto  - are these the actual resource names in ABS ?

[2021-03-17 02:42] boydc2014 commented on #6439
This looks expected, there is usually a difference in the preview resource type and final resource type, but usually it's hard to notice. But in bot service's case, this difference is big enough to notice.

I expect this should function well.

[2021-03-17 02:45] zxyanliu commented on #6439
Yes, it's functional.

[2021-03-17 03:44] luhan2017 commented on #6406
@danielallen73 , could you double check if your hostname is set correctly? it should be the name of your webapp.

[2021-03-17 03:56] gabog commented on #6419
In addition to the issue above, that imported line ends up being picked up as a possible response:
![image](https://user-images.githubusercontent.com/12264946/111412688-416f1900-86b3-11eb-89fa-2969f3396bb4.png)

[2021-03-17 04:09] zxyanliu commented on #6397
@goergenj Vielen Dank, dass Sie das Problem gemeldet haben. :-)

Your LUIS apps in the LUIS portal are associated with the LUIS Authoring resources you created in the Azure portal, so you will have to choose the correct LUIS authoring resource from your LUIS portal to view the matching LUIS apps.

After publishing your bot to Azure, you may find your LUIS authoring resource from the Azure portal l

[2021-03-17 04:13] madbeher commented on #6421
Tried above solution its not working.

[2021-03-17 06:26] hatpick commented on #6430
@garypretty It works fine on my end, the PR I've referenced above has a video in it, it's supposed to work like that, here's another one:

https://user-images.githubusercontent.com/1483492/111424466-0bc83100-86af-11eb-8811-8b6ff13449b5.mp4

[2021-03-17 06:29] Danieladu commented on #6421
You may also should change the "list style".
![image](https://user-images.githubusercontent.com/7289268/111424270-7d929000-872c-11eb-86f8-2b8e2170b466.png)
to set the ListStyle to control how choices are rendered.
Here is the reference:
https://docs.microsoft.com/en-us/javascript/api/botbuilder-dialogs/liststyle?view=botbuilder-ts-latest
Maybe "SuggestedAction" is more suitable. heroCard mode woul

[2021-03-17 07:46] hibrenda opened #6440 "Form dialog LU editing in LU all up view"
- Generate form dialog based on form schema
- go to LU all up view
- LU authoring hit issues
** click 3 dot to edit the LU content for each item, it will show as following
![image](https://user-images.githubusercontent.com/43408889/111432289-c865d500-8737-11eb-9b34-6814a457a636.png)

** no showcode button
![image](https://user-images.githubusercontent.com/43408889/111432132-981e3680-8737-11eb-9438

[2021-03-17 07:58] boydc2014 opened #6442 "Move ARM token accessing into AzurePublish extension"
In #6418, Composer is feeding the publishing extension ARM when it is an AzurePublish extension. And this is not a scalable solution because Composer now have to provide different things for different extension.

While, a better design is this kind of implementation details should not be aware by composer, it should be the internals of AzurePublish extension itself. And Composer should just provid

[2021-03-17 08:08] alanlong9278 commented on #6440
Hi, @sorgh  I see there is a limit that do not show `show code` button when `isRoot`  in lu/qna page, but not in lg page. Like below shows
[code]
Is the limit  expected and should we keep the three pages consistant?

[2021-03-17 08:37] alanlong9278 commented on #6440
@hibrenda  I have checked the edit action. Is the action gif showed expected.
![luEdit](https://user-images.githubusercontent.com/5860999/111438318-116d5780-873f-11eb-9bdb-e9b4ad470a2d.gif)

[2021-03-17 08:42] afahmy11 opened #6443 "Carousel Adaptive cards in FOR loop"
dear team
i am referring the below solution which provides the way to show carousel adaptive cards in Bot Composer. in my case the number of the cards is unknown, how can i do it in a loop to build the carousel dynamically?
https://github.com/microsoft/BotFramework-Composer/issues/2004

[2021-03-17 08:55] cxbuilders commented on #6424
@EricDahlvang I can mail you more details with the Teams App Manifest, screenshots of the App Registration / OAuth Connection etc. Let me know.

[2021-03-17 09:10] #6436 closed

[2021-03-17 10:31] garypretty commented on #6430
Weird. I don't see the same behavior. I can only ever do one line initially.  If I try and add a line to an existing box that fails too.

![LG Shift Enter Error](https://user-images.githubusercontent.com/3900649/111453846-eb7a8f80-870b-11eb-8b38-14eaa2ebfc46.gif)

[2021-03-17 10:40] cxbuilders opened #6445 "Support for local development appsettings.json"
Appsettings.json should not contain sensitive data in the repository. The pipeline I use is setup to replace secret tokens in the appsettings.json with their actual value from the keyvault to ensure keys are not present in the code.

This does however pose quite some hassle when cloning a repo to your local machine as one needs to replace all the tokens with their actual values to develop the bot.

[2021-03-17 11:13] darrenj commented on #6278
I've flagged this a few times, the channel to provision under the covers is Directline *not* WebChat otherwise magic codes/etc. can't be avoided.

[2021-03-17 11:16] darrenj commented on #6265
Possible today?
![image](https://user-images.githubusercontent.com/33519520/111459110-2e3f6600-8712-11eb-9299-c1f2aa2bc95e.png)

[2021-03-17 11:56] danielallen73 commented on #6406
Thank you @luhan2017. Probably a silly newbie mistake by me.

I was literally following the guidance in preparing a local skill and then create a bot channels registration so that I could connect to it remotely from my consumer (root)bot.

I hadn't appreciated that I would need a webapp to host my skill bot.

My root bot and skill bot share the same cognitive services. Do they therefore need to be

[2021-03-17 12:13] darrenj opened #6446 "Application Insights key not updated in local settings following publishing"
## Describe the bug

When I create a new publishing profile and publish to Azure, my bots local AppInsights key in appSettings is not populated despite an Application Insights resource being created. This means that as I'm developing I'll be unable to use Log Analytics to view telemetry relating to my bot, diagnose issues, etc.

## Version

1.4.0-rc1

## Browser

- [x] Electron distribution
- [ ]

[2021-03-17 12:49] #6440 closed

[2021-03-17 12:49] afahmy11 commented on #6443
found the answer
https://github.com/microsoft/BotFramework-Composer/issues/3674

[2021-03-17 12:49] #6443 closed

[2021-03-17 15:08] benbrown commented on #6446
Right now, creating a publishing profile does not affect your local development environment for any type of resource.

I am not sure conflating the two makes sense.

[2021-03-17 16:36] hatpick commented on #6430
@garypretty what composer are you using?

[2021-03-17 16:58] benbrown commented on #6278
@darrenj I don't know what you mean by this

[2021-03-17 17:07] #6310 closed

[2021-03-17 17:48] dinobrago commented on #4211
For me, this is a bug associated with deleting existing triggers. I'm developing bots in Composer v1.3.1 and every time I delete a trigger, I get this error when I try to subsequently run the bot. I have to manually go to LUIS.AI and delete the entire LUIS application.

[2021-03-17 17:48] benbrown commented on #6254
See:

https://www.electronjs.org/docs/api/app#event-before-quit

[2021-03-17 17:49] cwhitten commented on #5433
Hi @chrisshaw this has been addressed and will be available in a new release.

[2021-03-17 17:49] #5433 closed

[2021-03-17 17:50] cwhitten commented on #5687
@BeheraMadan are you still seeking assistance on this?

[2021-03-17 18:24] garypretty commented on #6430
@hatpick Latest nightly electron. v1.4.0-rc2-nightly.2021317.224525.830559e

[2021-03-17 18:30] hatpick commented on #6430
@garypretty RC2 does not have that PR in it, it is off of a rc branch before the PR was merged to main, try latest on main.

[2021-03-17 18:30] garypretty opened #6447 "Using Cut / Paste with an action created with the new LG editor results in loss of underlying data"
## Describe the bug

Adding a Send an Activity response (or any other action that contains an LG response, such as a prompt) that has related generated LG templates, such as the user adding multiple text / speech variations and then attempting to cut / paste that action results in data loss.  The related auto generated template is deleted on cut.

## Version

Latest Composer nightly.

## To Reprod

[2021-03-17 19:01] JonathanFingold opened #6448 "Consumer bot should function without any "allowCallers""
Consumer bots won't work right (currently) without adding the skill's app ID to the consumer bot's **skillConfiguration/allowedCallers** list.
1. This is the wrong logic, as this would allow the skill to call the consumer as a skill.
2. Composer (or the core runtime) should use the app IDs of any of the skills defined for the consumer as the allowed callers or the consumer's skill host endpoint.

[2021-03-17 19:18] tomlm opened #6449 "default Common.lg import statement is wrong and will never work for multi-lingual bots"
## Describe the bug
Currently when a .lg file is created it includes a reference to common.lg.  Common.lg is shared for ALL languages, and so it is the wrong pattern for defining shared language assets.

## Version

1.4.rc2

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Create new package,

[2021-03-17 19:21] tomlm opened #6450 "Settings is showing SkillHostEndpoint as the first setting, and that's wrong"
## Describe the bug

The SkillHostEndpoint is an adanced concept and is related to the *published* profile.  This should not be first in the UI.

## Version

1.4.rc2
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Create new bot.

## Expected behavior

Look at screen shot, this should be way

[2021-03-17 19:30] tomlm opened #6451 "Composer generates bogus $schema reference when creating .dialog files"
## Describe the bug

Dialog files are driven by schema.  The schema is the **application schema** which should be in **app.schema**, but is instaed in extremely poorly named **sdk.schema** file.

But the generated .dialog files have a $schema file pointing to some random file checked into github repo which has no correlation at all with the active schema (which is the merge of all installed compon

[2021-03-17 19:43] cwhitten opened #6453 "Take 4.12.2 SDK packages"

[2021-03-17 19:55] tomlm opened #6454 "localization files for componets from the sdk should be in the SDK and not composer"
## Describe the bug
We currently have .uischema localization files baked into composer.  Those localization files should be moved to the sdk packages themselves so that they are self-describing.

## Version

1.4.rc2

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Look in composer source tre

[2021-03-17 20:42] xiyangdesign commented on #5857
FYI: homepage [Figma](https://www.figma.com/file/pghEVhZEtMsXae9IHybdYo/Composer-Xi-s-workspace?node-id=423%3A1921)

[2021-03-17 22:09] beyackle opened #6456 "Languages in an odd order in "copy content for translation" dialog"
## Describe the bug

The "copy content for translation" dialog displays a list of languages in a strange order - a lot of them have a capital name and are listed in alphabetical order, and then there are a large number with a lowercase name, also in alphabetical order (separate from the first group).

## Version

1.3.1

## Expected behavior

Languages should show up correctly capitalized, in alpha

[2021-03-17 22:19] beyackle opened #6457 "KB: focus gets trapped inside design view on ⊕ buttons"
## Describe the bug

The Design View can't be tab-navigated when a trigger is selected; it won't advance forward past the bottom "add" button or backwards to before the topmost one.

## Version

1.3.1

## Expected behavior

Tabbing should move to the previous/next components in all cases.

[2021-03-17 22:25] beyackle opened #6458 "KB: tab won't move between columns in LG or Q&A tables"
## Describe the bug

The tables on the LG and QnA pages don't allow for tab navigation between columns - a combination of Tab and arrow keys will let you get to the table and navigate between rows, but hitting right-arrow on an element in the left column will edit that element instead of moving into the next column.

## Version

1.3.1

## To Reproduce

Steps to reproduce the behavior:

1. Open a b

[2021-03-17 22:33] beyackle opened #6459 "KB: language dropdown loses focus on change"
## Describe the bug

Changing the application language causes the app to reload the locale file, which causes focus to reset instead of staying on the language dropdown.

## Version

1.3.1

[2021-03-17 22:35] beyackle opened #6460 "KB: Add and Filter buttons should be separate in tab order from project tree"
## Describe the bug

Keyboard navigation should see the project tree as a single component that can be navigated using arrow keys, but currently it also includes the Add and Filter buttons on top, which aren't really part of the tree.

## Version

1.3.1

## Expected behavior

Add and Filter buttons should be in the tab order independently, not part of the Project Tree.

[2021-03-17 22:43] beyackle opened #6461 "KB: links in error panel can't be followed"
## Describe the bug

The bottom error panel shows links to dialogs or files with bugs, but the links are only usable with the mouse, not the keyboard.

## Version

1.3.1

## Expected behavior

The link should be usable with the keyboard as well as mouse.

## Screenshots

Keyboard focus here is on the `appsettings.json` element. Clicking this with the mouse correctly leads to the Bot Settings page,

[2021-03-17 22:48] beyackle opened #6462 "KB: can't activate Webchat Inspector using keyboard"
## Describe the bug

Within the new problems pane, the Webchat Inspector tab is unavailable to be switched to using the keyboard. It can be focused (tab to "Problems" and then use the right arrow), but not selected.

## Version

1.3.1

## Screenshots

Focus is on the "Webchat Inspector" tab, but it won't activate.
![image](https://user-images.githubusercontent.com/61990921/111548513-0c58da00-8738-

[2021-03-17 23:06] beyackle opened #6463 "Color contrast issues in 1.3.1"
## Describe the bug

We have a number of places that are failing color-contrast checks; they'd be easily handled as a group.

## Version

1.3.1

## Screenshots

Bot name and locale - this white text is failing contrast checks against the light blue, and also the light blue should be more distinctive against the slightly darker blue background.
![image](https://user-images.githubusercontent.com/619

[2021-03-17 23:13] beyackle opened #6464 "A11y: ARIA labels and roles should be defined"
## Describe the bug

We have a large number of elements with incorrect ARIA roles, missing ARIA labels, and other related issues. This is a general problem throughout the app, and the Accessibility Insights extension is good at pointing these places out.

## Version

1.3.1

[2021-03-17 23:13] JonathanFingold commented on #6448
This looks like a core runtime issue captured in [bot-framework/dotnet issue 5285](https://github.com/microsoft/botbuilder-dotnet/issues/5285).

[2021-03-17 23:13] #6448 closed

[2021-03-17 23:17] beyackle opened #6465 ""Show code" button is hidden by long breadcrumbs"
## Describe the bug

See screenshot.

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/111550870-4330ef00-873c-11eb-944c-d5c33abeaf74.png)

[2021-03-17 23:18] beyackle opened #6466 "QnA table has misaligned question and answer rows"
## Describe the bug

See screenshot.

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/111550926-5cd23680-873c-11eb-8811-2b7049c31490.png)

[2021-03-18 00:47] EricDahlvang commented on #6424
Please do email me @ the address on my github profile.

[2021-03-18 01:46] boydc2014 commented on #6449
@tomlm the import statement doesn't matter, we use the import resolver to correctly resolve the right common.{locale}.lg file.

I will double confirm the case, do you have a case that it is not working?

[2021-03-18 01:58] boydc2014 commented on #6449
I just confirmed in 1.4.0-rc2 it's working as expected.

Here is my simple bot that have two locale, can you try this?
[EchoBot-1.zip](https://github.com/microsoft/BotFramework-Composer/files/6160793/EchoBot-1.zip)

[2021-03-18 03:07] blakehoughton opened #6468 "Provision failure - When adding a publish profile"
## Describe the bug/Steps

1. Created Bot
2. Set up bot with intents
3. Wanting to publish to my azure account
4. Click on the spanner - Add new publish profile
5. Created profile name and entered Publish bot to azure web app
6. Created new Azure resources, entered subscription, Host name and Location as Australia East
7. Hit done
8. After a few seconds the error below comes up:
CREATE_RESOURCES_E

[2021-03-18 03:22] stevgarcia commented on #3674
thanks for your answer, I tried something like this:

![image](https://user-images.githubusercontent.com/80296183/111568419-b6535900-876e-11eb-9283-15210017ce8f.png)

and I put this code in the common file, I´m using images from internet for test purpose:

# images
-```
{
  ["https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvGsxX6UfYEAkmgkIKhNDcHA8uCKLvS1Q2zg&usqp=CAU",
  "https://encrypted-

[2021-03-18 03:26] BeheraMadan commented on #5687
Yes I need assistance........

[2021-03-18 03:41] luhan2017 commented on #6406
@danielallen73 for the cognitive services or any other services, they don't necessarily be within the same resource group. For now, to create two set of webapp and bot channel registration under the same resource group, you need to manually create one. But soon maybe within this week, we will release a new version composer(or you could try to use nightly), in the new version, we decouple the resou

[2021-03-18 04:24] ABHILASH4012 commented on #6408
HI @boydc2014

It is the local desktop app that i have installed

[2021-03-18 05:09] madbeher commented on #6421
Thanks its working.

[2021-03-18 05:26] Danieladu opened #6470 "Some schema related requirements"
## Describe the solution you'd like
### 1.Update schema file
Currently the schema file targets the "stable" branch [stable schema](https://github.com/microsoft/BotFramework-Composer/blob/stable/Composer/packages/server/schemas/sdk.schema), which hasn't been updated for a long time for over one year.
Suggestion: Update the stable schema or upgrade it to target main branch.

### 2.Change the severit

[2021-03-18 05:47] Danieladu commented on #3674
[code]
[code]
# images
- ${
  ["https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvGsxX6UfYEAkmgkIKhNDcHA8uCKLvS1Q2zg&usqp=CAU",
  "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBGR6d-lNhZHPU6jebJVm7DmMK69vgtZZzbQ&usqp=CAU",
  "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRImeU7_FXyp3bxAOcMw5bzlElk_UVEhZjuvw&usqp=CAU" ]
}
[code]

[2021-03-18 05:51] #6421 closed

[2021-03-18 07:01] #6086 closed

[2021-03-18 07:12] #6453 closed

[2021-03-18 09:34] praneeth1987 opened #6472 "Replace dialog and Cancel dialog not working"
I have created a bot using bot composer which will fetch the response from QnA Maker.
I have provided multiple choice options to user to select the option and based on selection the corresponding dialog will be executed.

Now I have tried **cancel dialog and replace dialog** as I want to go to home screen(multiple choice options) to allow users to select again which is not working.

Is there any o

[2021-03-18 10:15] hebaelfadly opened #6473 "Bot Framework Composer doesn't recognize custom function"
## Describe the bug
I'm trying to access custom function inside the composer UI but Bot Framework Composer doesn't recognize custom function.

## Version

![image](https://user-images.githubusercontent.com/61690067/111609232-c3119480-87e2-11eb-8be0-eea292634357.png)

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] U

[2021-03-18 12:37] boydc2014 commented on #6449
@tomlm can you attach the case that is not working?

[2021-03-18 15:49] philip-mc commented on #6422
Hi, please can I bump this one I was hoping to launch Q and A next Monday......

[2021-03-18 16:35] cwhitten commented on #6473
@hebaelfadly if you switch to the early adopters feed, this should be a warning instead of an error. Can you try this? This should unblock you as we revisit the `customFunctions` property in appsettings.

[2021-03-18 16:44] goergenj commented on #6397
@zxyanliu I know how LUIS works quite well. ;-)

All my Bots use one LUIS Authoring Resource. I also use this with Composer:
![image](https://user-images.githubusercontent.com/31212469/111663590-421dc180-8811-11eb-9524-4ed278e88888.png)

However in LUIS-Portal I can only see the LUIS Apps which were published with the local "Start Bot" but not the ones which were part of the Azure Bot Deployment.

[2021-03-18 16:46] cwhitten commented on #6450
@benbrown is this tracked somewhere else in the creation work? please close if so

[2021-03-18 16:47] cwhitten commented on #6449
Team cannot reproduce this behavior. Need more information from the customer

[2021-03-18 16:50] cwhitten commented on #6445
Thanks @cxbuilders - we'll look to prioritize this in an upcoming release.

[2021-03-18 16:50] goergenj commented on #5610
@tdurnford Not sure we are on the same page. I was referring to the syntax checker only. The Condition itself works. I can recheck with 1.4. and let you know, if it's fixed now.

[2021-03-18 16:53] hatpick opened #6474 "React missing 'key' warning in the console for ErrorPopup"
In the ErrorPopup component, the following section is causing a react warning regarding missing unique 'key':

[code]
any element from formatMessage.rich needs a unique key (here the anchor tag <a>).

[2021-03-18 16:53] cwhitten commented on #6431
@cleemullins @ryanlengel why was this transferred to the Composer project? Seems like it should to go the SDK

[2021-03-18 18:07] scheyal commented on #6431
@cwhitten  (I asked.)

The issue is in the specific choose intent trigger flow in Composer. It loses the turn.activity.text, hence once have to cache it. I think the solution is to fix the choose intent flow in Composer.

[2021-03-18 18:15] dmvtech commented on #6371
Go head and remove the `node_modules` folder and `package-lock.json` file. Then reopen Composer and try again.

[2021-03-18 18:30] dmvtech commented on #6422
Hi @philip-mc I'm looking into this. Are you able to share a repository of your bot? I'd like to understand some more of the specifics of how you have it configured.

[2021-03-18 19:08] JaskeeratBedi-cmk opened #6477 "Error validations in provisioning & publishing"
As a bot developer when I have to provision resources from Composer, I want to be given good error validation when creating new resource group names:

- Error validation when a resource group name already exists
- Error validation if the naming structure does not meet the criteria

**Proposed design solution >**

![error validation_01](https://user-images.githubusercontent.com/67944302/111683315-8

[2021-03-18 19:11] JaskeeratBedi-cmk opened #6478 "Notifications in de-bugging panel"
As a bot builder, when I provision resources, there are chances that provisioning will fail due to resource failure. When that happens, give me clear notifications so that I can take action.

**Proposed design solution  >**

![notifications](https://user-images.githubusercontent.com/67944302/111683672-066c0300-87e3-11eb-904d-eddc20c704d5.png)

[2021-03-18 19:36] #6447 closed

[2021-03-18 19:45] rahul-8437008949 opened #6479 "Azure devops"
Please provide some way to integrate composer with azure pipelines. Manually deploying code from developers system is not a good practice and there should definitely be a way to run azure ci/cd pipeline after changes in composer  and deploying bot to azure portal  from pipelines instead of direct publishing from composer should be added.

[2021-03-18 21:14] scheyal opened #6480 "Update Orchestrator instructions page"
Need to update this page to install Orchestrator package.

https://github.com/microsoft/BotFramework-Composer/blob/main/docs/preview%20features/orchestrator.md

[2021-03-18 21:46] Hacwikir commented on #6371
Great! It worked. Thank you :)

[2021-03-18 22:30] #6430 closed

[2021-03-18 22:40] blakehoughton commented on #6468
@anusharavindrar any suggestions?

[2021-03-18 23:19] #6095 closed

[2021-03-18 23:19] #6299 closed

[2021-03-18 23:42] anusharavindrar commented on #6468
@blakehoughton, can you double-check in case you missed out on any step in this [documentation]( https://docs.microsoft.com/en-us/composer/how-to-publish-bot) ? Also, can you attach a screenshot of the error you are getting?

[2021-03-19 01:19] zxyanliu commented on #6397
@goergenj I was unable to find you on Teams but sent you an email! We can follow up offline if works for you.

[2021-03-19 01:35] taicchoumsft opened #6481 "Orchestrator: Initialize LabelResolverCache from blu files when in a new Composer Session"
Orchestrator training (i.e. creating embeddings for utterances) takes a long time. To alleviate as much pain as possible, try to cache results between builds.

## Describe the solution you'd like
We already cache build results between builds. We store an in-memory map of `LabelResolvers` so that incremental training is very quick (only different utterances will need to be recalculated).

But when

[2021-03-19 01:59] feich-ms commented on #6312
Hi @luhan2017 do you have any insights about this issue? A luis resource can definitely host multiple applications, so I think the problem may locate in luis configurations or runtime?

[2021-03-19 05:15] rajasweet14 opened #6482 "Publish bot framework composer to app service"
Hi frist thanks for creating a wonderful application like bot framework composer

In general lot need to improve in document or else set up a bot which cover each and every concept like a real chat bot demo video or tutorial in lot deep concept,
I am here because I tried to publish a test bot to azure app service but I am failed many times ,I am tried to publish in existence resource group of azur

[2021-03-19 07:50] philip-mc commented on #6422
Morning, Ill give you a DM as the project is a business one and perhaps we can arrange a videocall/Teams screenshare with me and my lead developer?

[2021-03-19 07:53] philip-mc commented on #6422
I can share the privately with you via screenshare with one of our devs if you get an email I can contact you on at all?

[2021-03-19 11:14] danielallen73 commented on #6406
Thanks for the response @luhan2017. I look forward to that updated version.

The issue I'm facing now is as follows:
![image](https://user-images.githubusercontent.com/61698055/111771476-a8ebbb00-88a3-11eb-94d4-7c03c9c4defc.png)

TO REPRODUCE

Azure Portal

Created a New Skills Bot from scratch.
Publish to create Web App Bot
Create a Bot Channels Registration in existing resource Group
Create new

[2021-03-19 11:37] danielallen73 commented on #6406
![image](https://user-images.githubusercontent.com/61698055/111774539-822f8380-88a7-11eb-88ce-a852a29ef1c6.png)

[2021-03-19 11:58] iMicknl opened #6483 "Add `virtualagent` variable scope to property reference when in PVA context"
## Is your feature request related to a problem? Please describe.

See https://docs.microsoft.com/en-us/power-virtual-agents/advanced-bot-framework-composer

Having this more accessible would enable first time users to more easily discover the power of Composer and Power Virtual Agents. Since the other property references are visible, it makes it unclear if `virtualagent` scope is supported as wel

[2021-03-19 14:28] goergenj commented on #6397
@zxyanliu I re-checked this issue. What I saw now is that it is not a problem of LUIS not showing the LUIS App but instead the Composer publishing does not create a new/separate LUIS App as it used to do before 1.3.1 which uses the environment name from the Publishing Profile instead of the Bot AppSettings.

In AppSettings I have "local" as environment parameter:
![image](https://user-images.githu

[2021-03-19 15:16] zxyanliu commented on #6397
@goergenj I am so glad you resolved the issue and I appreciate the comments you posted above after digging into it. I will try again today on my end, take into consideration of your comments, and see what I can come up with to update the article to avoid further confusion.
Again, Vielen Dank!

[2021-03-19 17:25] daveta commented on #5932
Closing issue..

[2021-03-19 17:25] #5932 closed

[2021-03-19 17:28] daveta commented on #5811
Closing due to inactivity..

[2021-03-19 17:28] #5811 closed

[2021-03-19 17:41] stevkan commented on #6342
Closing due to inactivity.

[2021-03-19 17:41] #6342 closed

[2021-03-19 17:46] stevkan commented on #6304
@aiipe, can you do me the favor of detailing each step you took after connecting the remote skill? I would like to attempt a repro based on your actions and see if I get a similar result and where the breakdown is occurring.

[2021-03-19 18:12] zxyanliu commented on #6397
@goergenj I did some investigation and post my finding here:
1. The "environment" setting is set to "composer" by default now with [v1.4.0-rc3-nightly.225310.d5a04ac](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.4.0-rc3-nightly.225310.d5a04ac).
   * **Local LUIS setting**:
      ![image](https://user-images.githubusercontent.com/32497439/111820666-00d3f300-889f-11eb

[2021-03-19 18:25] #6371 closed

[2021-03-19 18:36] martinlarosa commented on #6484
Thanks! @stevkan
Just to clarify, as I stated in this comment I was able to reproduce the problem with the sample code not related to Composer.

[2021-03-19 19:12] dmvtech commented on #6482
Hi @rajasweet14 What version of Composer are you using? Is it the Electron (downloadable/installed) version, or are you building and hosting your own?

[2021-03-19 19:19] rajasweet14 commented on #6482
1.3.1,s own

[2021-03-19 23:30] zxyanliu commented on #6397
@luhan2017 I removed the content related to "accessToken" as it seems to be not required in [v1.4.0-rc3-nightly.225310.d5a04ac](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.4.0-rc3-nightly.225310.d5a04ac)

The [PR](https://github.com/MicrosoftDocs/composer-docs-pr/pull/416) to update the existing publish article has been merged and the content will be live soon.

[2021-03-20 11:22] rajasweet14 commented on #6482
Any update

[2021-03-21 10:03] hebaelfadly commented on #6473
@cwhitten enabled it, still having an error
![image](https://user-images.githubusercontent.com/61690067/111900823-547c4300-8a3d-11eb-9bde-08bebb35259c.png)

![image](https://user-images.githubusercontent.com/61690067/111900844-6e1d8a80-8a3d-11eb-8016-0d562eaa3f7c.png)

[2021-03-21 11:23] hebaelfadly commented on #6473
@cwhitten ok it's working now

[2021-03-21 12:53] LakshummaC opened #6485 "Loop through custom XML API Response in Bot Composer"
Hi Team,

below is the sample XML response and where I have to loop through values inside of 'ProductInfo' and display them in Adaptive card. How to do this?

<?xml version="1.0" encoding="utf-8"?>
  <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:product="http://myproduct.com">
    <soap:Body>
      <product:GetProductInfoResponse>
        <product:GetProductInfoResult

[2021-03-21 18:06] cwhitten commented on #6473
Great. I'll close this on then.

[2021-03-21 18:06] #6473 closed

[2021-03-21 23:55] mareekuh commented on #6039
Product tour updated design is here:  https://www.figma.com/file/pghEVhZEtMsXae9IHybdYo/Composer-Xi-s-workspace?node-id=463%3A46476

[2021-03-22 00:17] danielallen73 commented on #6406
Have followed this
https://docs.microsoft.com/en-us/composer/how-to-export-a-skill
endpointUrl	This should no longer point to the localhost. This should point to the messaging endpoint of the skill-associated Bot Channel Registration resource. e.g. https://composer-skill.azurewebsites.net/api/messages
msAppId	This should be updated to the Microsoft appId of the skill-associated Bot Channel Registr

[2021-03-22 00:39] mareekuh opened #6486 "Main dialog concept is in glossary but not explained in documentation"
Check out glossary: https://docs.microsoft.com/en-us/composer/glossary - notice that 'main dialog' is defined
Check out documentation about 'concepts-dialog' https://docs.microsoft.com/en-us/composer/concept-dialog
'Main dialog' is in explained.

Expected: Main dialog in glossary points to concept explained in regular documentation.

[2021-03-22 00:55] mareekuh opened #6487 "Documentation refers to LU editor, which is an internally used term. in the product this is called User Input"
Go to glossary and look for  'Input'
- no topic found
Go to glossary, click 'user input'
- read topic ' An option in the Composer Menu. It navigates users to the User Input page where the Language Understanding editor locates. From there users can view all the Language Understanding templates and edit them.'

Ok now I know that this is an item in the menu and it relates to Language Understanding.

[2021-03-22 01:00] mareekuh opened #6488 "Documentation does not cover 'Start bot'"
![8](https://user-images.githubusercontent.com/48503434/111927651-ba34f300-8a6e-11eb-8682-4062a15a8f8d.png)
Open your very first bot
Notice in the upper right corner a field that says 'Start bot'
Notice that there is no glossary topic, no 'Concept' topic and no 'Test' topic that refers to 'Start all bots' - it assumes the user knows that for starting a bot, one needs Emulator.
<img width="494" alt

[2021-03-22 02:28] hsachinraj commented on #6082
Thank you so much @joshgummersall and @dmvtech . I will give this a try. Appreciate the support!

[2021-03-22 05:02] rahul-8437008949 commented on #3339
Any updates on ci/cd approach?

[2021-03-22 05:24] rahul-8437008949 commented on #3339
Are there any updates on CI/CD approach?

[2021-03-22 05:25] rahul-8437008949 commented on #3339
Hello @cwhitten @stevengum ,Are there any updates on CI/CD approach?

[2021-03-22 05:25] #6479 closed

[2021-03-22 09:15] hibrenda opened #6489 "inline lu editor did not show as expected for reference intent"
- Enable new creation experience
- create calendar bot
- Reference intent in LU file
![image](https://user-images.githubusercontent.com/43408889/111966537-fda46580-8b31-11eb-861c-f355cde52cb9.png)
- Inline lu content did not show correctly
![image](https://user-images.githubusercontent.com/43408889/111966361-c9c94000-8b31-11eb-8d1c-ecdb0f682507.png)
- LU all up view show as expected
![image](https

[2021-03-22 11:05] aparnaji opened #6491 "Form Dialog , when mapping property to personname.schema is throwing error"
## Describe the bug

Form Dialog , when mapping property/ attribute to personname.schema is throwing error while generating dialog. Error "Generating form dialog using "FormDialog01" schema failed. Please try again later."

Same is applicable to email

## Version

![image](https://user-images.githubusercontent.com/26645750/111980357-172bba00-8afe-11eb-855f-036bf8d398a1.png)

## Browser

- [ ] Chro

[2021-03-22 13:16] philip-mc commented on #6422
Afternoon, Ive put a mock bot together and invited you to take a look. Let me know if you can figure out why the 'unknown intent' trigger of the parent will not go off even though it does for intent recognised.

As a separate note I have noticed composer creating separate apps for each dialog which may or may not be related - https://github.com/microsoft/BotFramework-Composer/issues/6423

[2021-03-22 15:24] rahul-8437008949 opened #6494 "Calling skills in teams app"
Hi, I am able to call the skill through web app ,but I am not able to call skill from the same bot when deployed on teams. Can anyone suggest a way to call skill through bot deployed on teams.

[2021-03-22 16:02] #5894 closed

[2021-03-22 17:34] praneeth1987 opened #6498 "Refresh the microsoft teams chat with bot embedded code"
I have created a bot using bot composer and I have generated bot embed URL. I have accessed the same URL in browser and it got opened successfully in Microsoft teams

Now when I have updated the bot and published in azure, I am not finding an option to refresh this same in Microsoft teams
Is there any way to refresh the session and start the chat again with new modified bot????

[2021-03-22 17:39] v-kydela commented on #6494
Thank you for the question, @rahul-8437008949

Can you show us some screenshots so we can get a better understanding of what's happening? What do you mean when you say you're not able to call the skill? What happens when you try?

[2021-03-22 17:54] Stevenic opened #6499 "Add settings config to uischema"
I have a piece of middleware that needs to be configured via settings. The issue is there's no way of telling composer that it should add a settings section to configure that middleware. To work around this issue I'll have to document switching to advanced mode.

It would be great if I could include a `middleware.uischema` file which defined a `settings` section that describes the settings my midd

[2021-03-22 18:07] stevkan commented on #6425
To clarify, you are wanting to display the file after it has been uploaded by the user? What kind of file or file property are you wanting to display? There are many different file types that would need to be considered for handling.

[2021-03-22 18:14] stevkan commented on #6425
In the mean time, I will attempt a repro using a simple image file.

[2021-03-22 18:19] stevkan commented on #6472
Thank you for your patience while I look into this. I should have a response for you by end of day, today.

[2021-03-22 18:19] carlosscastro commented on #6289
@benbrown could you take a look at this item? @hatpick I see you removed the needs-triage label - was this issue assigned to a release?

[2021-03-22 18:26] #5456 closed

[2021-03-22 18:28] cwhitten commented on #5682
Adding @GeoffCoxMSFT as FYI

[2021-03-22 18:29] rahul-8437008949 commented on #6494
Hi @v-kydela .I was able to rectify the issue .The problem i am facing is authentication. I am not able to add Oauth authentication to bot deployed on teams. The hero card for authentication is not displayed in teams app.

[2021-03-22 18:29] cwhitten commented on #5684
@scheyal we don't have designs for this, and should before implementing. Taking out of R13 but we can continue discussing.

[2021-03-22 18:32] carlosscastro commented on #6406
@luhan2017 could you please walk @danielallen73 on seeing this through? Thanks!

[2021-03-22 18:34] carlosscastro commented on #6408
Hello @ABHILASH4012 : I'm closing this bug because of insufficient information. Feel free to re-activate or create a new bug and provide which version you installed, where you got the installer from and what the result was through a screenshot. Also I'm not clear on what you mean by `installed all prerequisites`, please clarify. We need all this info to support you in the most efficient way possib

[2021-03-22 18:34] #6408 closed

[2021-03-22 18:45] clearab commented on #6498
Are you installing the bot as an app in Teams, or just connecting directly using the bot ID (not recommended)?

1-1 conversations in Teams are persistent between a bot ID and a user, there is no way to force the Teams client/backend to recycle that conversation ID.

[2021-03-22 19:06] rahul-8437008949 commented on #6494
![Screenshot (157)](https://user-images.githubusercontent.com/54345729/112044375-c5237c80-8b6f-11eb-8246-db85932d06d3.png)
![Screenshot (159)](https://user-images.githubusercontent.com/54345729/112044381-c5bc1300-8b6f-11eb-936e-090e37e68655.png)

As you can see in emulator ,Authentication works fine but in teams app authentication doesnt work.

[2021-03-22 19:08] cwhitten commented on #5792
Hi @bennimoser - we'll look to support this functionality in an upcoming release. Thank you for the feature-request.

[2021-03-22 19:19] cwhitten commented on #5833
No longer necessary as the change to 14 was backed out

[2021-03-22 19:19] #5833 closed

[2021-03-22 19:20] cwhitten commented on #5892
Closing as a duplicate of https://github.com/microsoft/BotFramework-Composer/issues/5642

[2021-03-22 19:20] #5892 closed

[2021-03-22 19:25] v-kydela commented on #6494
@rahul-8437008949 - Can you show us the relevant bot code?

[2021-03-22 19:27] cwhitten commented on #6159
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/6252

[2021-03-22 19:27] #6159 closed

[2021-03-22 19:40] dinobrago opened #6501 "Error publishing in new profile - Access denied due to invalid subscription key or wrong API endpoint"
## Describe the bug

In Composer v 1.3.1, I have a bot and I created a new publishing profile. Upon publishing, I get the error:
Access denied due to invalid subscription key or wrong API endpoint.

The script then goes on to complete publishing successfully although the published bot often has problems.

## Version

Composer v 1.3.1, v1.40

## OS

Windows 10

## To Reproduce

Steps to reproduce t

[2021-03-22 19:43] rahul-8437008949 commented on #6494
![Screenshot (162)](https://user-images.githubusercontent.com/54345729/112048915-ec307d00-8b74-11eb-882f-4c84f633b6ad.png)

[2021-03-22 19:55] hatpick opened #6502 "[LG Editor Improvement] Allow editing lg templates in a larger editor"
Design: https://www.figma.com/file/q76DseJ7PK0g7zI1gXLzlD/SH_Language-Generation?node-id=40%3A3

- [ ] Add switch to larger editor button for lg code editor (code view)
- [ ] Add switch to larger editor button for lg code editor in attachment variations
- [ ] Show larger lg code editor in a portal when user requests larger editor

[2021-03-22 19:56] cwhitten commented on #6451
Closing as a dupe of https://github.com/microsoft/botframework-components/issues/780

[2021-03-22 19:56] #6451 closed

[2021-03-22 20:08] hatpick opened #6503 "[Action Node] Alternative display text when node has structured response"
Design:
https://www.figma.com/file/q76DseJ7PK0g7zI1gXLzlD/SH_Language-Generation?node-id=40%3A3

- [ ] Change displayed text on LG nodes when they have structured response
- [ ] Update node header according to design when they have structured response

[2021-03-22 20:08] #6125 closed

[2021-03-22 20:15] ismendes commented on #5687
@cwhitten, what would you recommend as next steps from my team to help you to help us to fix this issue?
According to @dmvtech,
_If designed in the right way, interruptions and letting users go back and change answers should be possible._

Do you have docs, or an example to point where they can check the correct technical design?

Thanks!

[2021-03-22 20:16] ismendes commented on #5687
@BeheraMadan, can you provide screenshots of the current technical design?

[2021-03-22 20:39] beyackle commented on #6463
![Screen Shot 2021-03-17 at 2 58 54 PM](https://user-images.githubusercontent.com/61990921/112055380-00905d80-8b14-11eb-919f-78a4627420c2.png)
I'll be working from this sample provided by Sangwoo to make this work.

[2021-03-22 20:39] garypretty commented on #6348
Clearing the R13 milestone and adding @carlosscastro to the assignees.

[2021-03-22 20:51] ryanlengel commented on #6431
@cwhitten, this is feedback for the predefined dialog that Composer adds in the [dialogFactory.ts](https://github.com/microsoft/BotFramework-Composer/blob/294514fbf2a5a3b5110889bd4f4dba04567c90d0/Composer/packages/lib/shared/src/dialogFactory.ts#L177). I'm not sure what area to label this under, assigning to you for triage.

[2021-03-22 21:50] v-kydela commented on #6494
@rahul-8437008949 - When you test on Emulator you're using a local bot and when you test in Teams you're using a remote bot, right? What happens when you test your remote bot in Emulator? Also what happens when you test your local bot in Teams using a tunneling service like ngrok?

[2021-03-22 22:44] Dewain27 opened #6507 "Documentation on how to publish a Composer Bot to a Dev Ops pipeline"

[2021-03-22 23:00] #6082 closed

[2021-03-22 23:06] EricDahlvang opened #6509 "Remove nuget.config from dotnet runtime"
## Describe the bug

- Nuget.config makes sense for the nightly, but not the production runtime, since everything is present on nuget.

- Remove copywrite headers, per Steve Ickman.

- Remove superfluous package references from projects.

[2021-03-22 23:13] cwhitten commented on #6507
@Dewain27 I've removed @luhan2017 's assignment and her team is focusing on other areas.

[2021-03-22 23:21] cwhitten opened #6511 "Support activity and bot state inspection in the embedded Web Chat control"
- [x] Capture message / trace / event activities (P0)
- [x] Capture network activity (P0)
- [x] Show selected item in inspector (P0)
- [ ] Fix layout so that Web Chat panel **does not** overlap with inspector pane (P2)
- [x] Expose runtime messages in "Output" tab (P0)
- [ ]~~Add different inspector experience for LUIS traces (P1)~~
- [ ] Selected inspected state in log -- link log item to item sh

[2021-03-22 23:29] cwhitten commented on #6424
@EricDahlvang / @cxbuilders were you able to connect?

[2021-03-22 23:30] dmvtech commented on #6310
@LakshummaC

It should work.

I used the card:
[code]

Saving the value  `=turn.activity.value.question` into the property and then setting the validation to:
`isMatch(turn.activity.value.question, '(^[\d]+$){1}')`

[2021-03-22 23:37] stevkan commented on #6425
If you are simply wanting to access the contents of the attached file, that can be found in the `dialog.attachments` property. That property is set in the "User Input" section of the attachment prompt.

![image](https://user-images.githubusercontent.com/18403946/112071314-b5367900-8b2c-11eb-9aaa-6db31760ffc2.png)

[2021-03-22 23:50] stevkan commented on #6485
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2021-03-22 23:50] #6485 closed

[2021-03-23 01:01] hibrenda opened #6512 "Support referenced LU authoring when adding a trigger"
Based on the context of https://github.com/microsoft/BotFramework-Composer/issues/6489 , the calendar bot is using the referenced LU content for trigger phrases, so we need to support how to add trigger for referenced LU content from UX .

Option A : Auto attached trigger phrases if trigger name match with the intent name defined in lu (current or imported) file.
Option B : Drop down list for user

[2021-03-23 01:25] boydc2014 commented on #5331
Thanks, @a-b-r-o-w-n and @gabog.

It's mainly because the hostBots folder which contains runtime that can be large, and we didn't properly cleaned that up. So the proper fix to me is
* when deleting a bot, we clean the hostedBots/botid folder
* we should clean the hostedBots folder periodically or in a certain timing (app close, maybe)

[2021-03-23 01:27] boydc2014 commented on #6355
After discussion with @liweitian and @lei9444, the correct fix is to make those critical operation in sync, this should already been fixed in qna multi-lang branch, right? can you add the PR link here?

[2021-03-23 01:30] boydc2014 commented on #6213
Make sense, it is confusing. The reason it was there without ".dialog" suffix, is that the original design of resource explorer only support "id". I think they made a change later to make sure the look for file, then id, i will double check.

[2021-03-23 02:16] Stevenic opened #6513 "Custom action menu order not being honored"
## Describe the bug

I've created a package of AdaptiveCard actions and the actions all show up on the menu but they don't honor the custom order I specified. I've tried both integers and floating points.  Here's the displayed menu:

![image](https://user-images.githubusercontent.com/698939/112082460-a3f86700-8b42-11eb-86a5-582aa21bdf72.png)

and here's a couple of sample UI schemas:

[code]

[cod

[2021-03-23 02:58] EricDahlvang commented on #6424
@cwhitten i did receive an email from @cxbuilders last Thursday, but have not had time to go over it just yet.  I'll close this, and we can resolve it offline.

[2021-03-23 02:58] #6424 closed

[2021-03-23 03:59] rahul-8437008949 commented on #6494
@v-kydela , The screenshot for emulator is for a remote bot only. In both teams and emulator Remote bot is used.

[2021-03-23 06:06] praneeth1987 commented on #6498
I am running with the URL generated from **Get Bot Embed Codes** in teams.
We haven't published  the bot as **app** in teams as of now as we are currently in testing phase

![image](https://user-images.githubusercontent.com/53040756/112100725-9509c700-8bcb-11eb-9259-4a414446bac6.png)

[2021-03-23 06:29] hebaelfadly commented on #2893
@cwhitten have the same question, why there is no option to set LUIS appId instead of creating new one every time I need to use the SAME LUIS app?

[2021-03-23 06:32] LakshummaC commented on #6310
It is not re-prompting along with adaptive card. Do I need to make 'AllowInterruptions','AlwaysPrompt' flags as True?

[2021-03-23 06:58] rahul-8437008949 commented on #6494
![Screenshot (166)](https://user-images.githubusercontent.com/54345729/112106076-32b4c480-8bd3-11eb-8796-5854bba3eeab.png)

![Screenshot (168)](https://user-images.githubusercontent.com/54345729/112106083-33e5f180-8bd3-11eb-877c-2176e13fff0e.png)

Here ,i am able to call an external api in teams but not able to Call Oauth login.Invalid prompt gets triggered.

[2021-03-23 07:37] praneeth1987 commented on #6501
Please refer to https://www.arafattehsin.com/bot-framework-composer-publish-azure-resources/ for publishing information with LUIS end point and authoring keys

[2021-03-23 07:44] lei9444 opened #6515 "Yarn install failed in windows"
## Describe the bug
![image](https://user-images.githubusercontent.com/39758135/112111048-a4e6d280-8bee-11eb-8bf5-33b8ee54bf80.png)

## Version
main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '

[2021-03-23 08:03] lei9444 commented on #6515
remove the old node-modules can solve this issue

[2021-03-23 08:23] luhan2017 commented on #6406
@danielallen73 the unauthorized the error usually happens when the MicrosoftAppId and MicrosoftAppPassword mismatch. Could you check if the settings in your publish profile and your bot channel registration are matched?

@zxyanliu or me can help you with more details, let's schedule a call to resolve this.

[2021-03-23 09:47] hebaelfadly opened #6518 "Prevent composer from updating LUIS intents"
I need to access already existing LUIS app so I followed @cwhitten comment here #2893 and it ended up using the same LUIS app that I exported and imported not creating a new one, and that's great. But when I add any intent from the LUIS portal without adding it in the composer user input and restart the bot the added intent is removed from the portal.

Is there a way to access the LUIS app with re

[2021-03-23 09:47] BeheraMadan commented on #5687
Hi,
Would you please provide more detailed steps for the solution you mentioned. As per our understanding we tried to implement the solution in our sample test bot but it is not working as expected. For us , the prompting for the first choice set is happening again (flow1, flow2, flow3) repeatedly in it's entirety. We tried to change the value of always prompt property as well along with 'allow in

[2021-03-23 09:57] LakshummaC commented on #6310
I want to re-prompt the same above adaptive card when it is blank or if Regular expression fails.

Like below
Example:

Validation failed
![image](https://user-images.githubusercontent.com/76558423/112128263-40c30f00-8bec-11eb-8876-a39028e3ae11.png)

[2021-03-23 10:45] danielallen73 commented on #6406
Thanks for the advice and getting back to me @luhan2017.
I have checked that the AppId and Pwd in my publish profile match my bot channel registration but I still have this issue/

I'll provide more details and hopefully we can arrange a call. Many thanks

[2021-03-23 10:59] cxbuilders commented on #5174
Can anyone give any status update on this? We are estimating a bot that is multilingual and has Luis enabled and we are considering building this directly in Bot Framework to overcome the language issues. Having an estimation or direction here could help a lot here to try to stick to Composer with this bot.

[2021-03-23 11:36] KarlXOL opened #6519 "Start bot failed - Upgrade to composer 4.0"
After upgrading composer I get this error when starting the bot. I use custom runtime which worked well until the upgrade.
runtime build/run are also working without giving an error message

![grafik](https://user-images.githubusercontent.com/21153915/112140248-11080d00-8bd4-11eb-8824-d5b4cfdea763.png)

## Composer Version
1.4.0

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox

[2021-03-23 13:08] LakshummaC commented on #6310
Issue is solved. I found a way to reprompt

[2021-03-23 13:10] philip-mc commented on #6423
Really struggling with this implementation and workaround. As I have 2 apps luis one for the parent dialog and one for the child I end up with a 403 error.

I can only add the keys for the parent to the app setting json so once in the child it just breaks......

Is there a way to only use the parent lu app even when in the child?

[2021-03-23 14:38] garypretty opened #6521 "QnA Maker is using the LUIS region"
## Describe the bug

Composer is using the LUIS region in settings when communicating with QnA Maker, which causes an error when starting a bot.

## Version

Version:  1.4.0-rc4-nightly.226081.b0a126
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

1. Create a basic bot
2. Create a LUIS resource in West Europe and set authoring key / westeurope as r

[2021-03-23 15:08] danielallen73 commented on #6406
Publishing Profile:
{
  "name": "NAME",
  "environment": "composer",
  "runtimeIdentifier": "win-x64",
  "settings": {
    "applicationInsights": {
      "InstrumentationKey": ""
    },
    "cosmosDb": null,
    "blobStorage": null,
    "luis": {
      "authoringKey": "REDACTED",
      "authoringEndpoint": "https://westus.api.cognitive.microsoft.com/",
      "endpointKey": "REDACTED",
      "endpo

[2021-03-23 15:33] cdonke commented on #4022
I am trying to work on it...
I already retrieved the interface, and added it to the "options" list of the BeginDialog component...

But, when I change the selected dialog, I cannot update the layout (render the new fields)...
Ay hint on how to trigger this?

[2021-03-23 15:51] jwiley84 commented on #6498
Closing as a duplicate of https://stackoverflow.com/questions/66751112/refresh-the-microsoft-teams-chat-with-bot-embedded-code

[2021-03-23 15:51] #6498 closed

[2021-03-23 15:58] rahul-8437008949 commented on #6494
@v-kydela ,can you please help me out

[2021-03-23 16:03] naicud opened #6523 "Start Bot error Composer 1.4.0"
Hi, I have installed the new version of MS BF Composer and i get this error when i try to start the bot :
![image](https://user-images.githubusercontent.com/55764723/112177677-6c002b00-8bf9-11eb-81fc-778aa81f5e53.png)

[2021-03-23 16:04] gabog commented on #5331
Hi, I think this may not be a big issue once we move the new creation experience since the runtime will be ejected by default and everything the bot needs locally will be in the working folder, right?

[2021-03-23 16:35] tdurnford commented on #6521
@hibrenda Can you have someone take a look at this?

[2021-03-23 16:38] tdurnford commented on #6515
@a-b-r-o-w-n  Can you take a look at this?

[2021-03-23 16:44] tdurnford commented on #6501
@dinobrago Can you confirm what version you are using? We just released 1.4 the other day. Can you try publishing with the latest version?

[2021-03-23 16:46] dinobrago commented on #6501
I updated to 1.4 yesterday and I see the same error.

[2021-03-23 16:49] dinobrago commented on #6501
We reviewed the article that @praneeth1987 posted.  We didn't see any discrepancies except that we are publishing to a new resource group from scratch. There is no entry for an access token in the Composer publish profile. We assume that Composer get this programmatically.

[2021-03-23 16:58] naicud commented on #6523
with the new version of composer the runtime path was modified so i have make this change:
It Works :)
Before:
![image](https://user-images.githubusercontent.com/55764723/112186192-32332280-8c01-11eb-9275-10995524c5b7.png)

After:
![image](https://user-images.githubusercontent.com/55764723/112186262-3f501180-8c01-11eb-9db9-c02b8ff55f97.png)

[2021-03-23 17:18] rahul-8437008949 opened #6524 "Oauth using hhtps request"
Is there a way to authenticate user(Oauth login) using 'send an HTTP request '  feature ? @cwhitten @v-kydela

[2021-03-23 17:27] v-kydela commented on #6494
@tdurnford - Why did you remove the Bot Services label?

@rahul-8437008949 - What happens when you try running the bot locally?

[2021-03-23 17:32] rahul-8437008949 commented on #6494
It works fine in the emulator.I am able to authenticate user using local bot by tunneling ngrok.

[2021-03-23 17:33] rahul-8437008949 commented on #6494
I am able to make http requests in teams. Is there any way i can authenticate user using send an http request feature?

[2021-03-23 17:34] #6524 closed

[2021-03-23 17:42] carlosscastro commented on #6519
We have a PR for this issue, once it gets in, it will be fixed in the next release. Also, once it gets merged, you can try from our nightly releases to confirm that it fixes the issue before we release.

[2021-03-23 17:50] KarlXOL commented on #6523
ok, thanks. I've checked the fix info already
I've created runtime,  bot creation and publishing is working again.
Thanks for quick response. Very helpful!
Karl

[2021-03-23 17:53] SChandlee-ARIFleet commented on #3244
Hello,
I am interested in similar functionality. Is there an update or alternative solution?
Thank you

[2021-03-23 17:56] v-kydela commented on #6524
Linking: https://github.com/microsoft/BotFramework-Composer/issues/6494

[2021-03-23 18:11] v-kydela commented on #6494
@rahul-8437008949 - What sort of HTTP request are you imagining? You should not get the username and password from the user directly (basic auth) because that would be a security breach. In order to use OAuth, you need to have the user open a URL on their end rather than having the bot access a URL on its end. You could potentially get OAuth to work by sending a hero card to the user with an open-

[2021-03-23 18:15] rahul-8437008949 commented on #6494
Ya , Oauth is definitely better method ,but it isn't running in the teams app so i was looking for alternates.

[2021-03-23 18:24] #5998 closed

[2021-03-23 18:28] rahul-8437008949 commented on #6494
![Screenshot (170)](https://user-images.githubusercontent.com/54345729/112198564-409a3200-8c33-11eb-851a-8dd9d93a05fc.png)

This is my connection string, Should I make any edits in this so that Oauth card rendered in MS-Teams

[2021-03-23 18:34] tonyanziano commented on #6511
@boydc2014 Yup, I have filled out the ticket with some of the work items needed to complete the task.

[2021-03-23 18:41] tdurnford commented on #6494
@v-kydela Unintentionally removed Bot Service

[2021-03-23 19:07] anniexudan opened #6525 "Cannot Create Bot From Conversational Core Template - v1.4.0"
## Describe the bug
In the latest version of v.1.4.0. Creating a bot from the template. Conversational Core template
Details
Error hit when instantiating remote template: error hit when installing the remote template

## Version

1.4.0

## OS
- [V ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create a new bot from Template - Conversational Core

## Expected behavior

No error

[2021-03-23 19:12] #5436 closed

[2021-03-23 21:17] benbrown opened #6527 "Publishing/provisioning: enforce choice of web app vs functions based on runtime"
Historically, the runtime has been able to be deployed to either Functions or a webapp.

This changes with the new runtime, which is locked to one or the other from creation time.

During provisioning, there SHOULD NOT BE A CHOICE - we should simplify this selection to "publish to Azure" and then add the appropriate hosting resource to the required list.

[2021-03-23 21:18] benbrown opened #6528 "when provisioning azure functions, ensure that the proper programming language is set based on the runtime. (defaults to dotnet)"
Historically, when provisioning an azure functions host, we do not set the desired programming language. As a result, Javascript runtimes deployed to functions do not work and require additional workaround steps.

When provisioning functions, we should set the appropriate configuration based on the runtime language.

[2021-03-23 21:49] benbrown opened #6530 "Need to capture the name and version of the template used to create a project and put it into the bot info panel and potentially link to the readme"

[2021-03-23 21:53] thomas-chung opened #6531 "Bot publishing fails to include ProjectReferenced DLLs in Adaptive Runtime"
## Describe the bug

The bot publishing pipeline copies the csproj into a private directory in AppData/Roaming before running dotnet publish.

The problem with this approach is that if the csproj file has a ProjectReference with relative path, the dotnet publish would not be able to pick up the ProjectReference since these references are not copied over. Thus the deployed app would be missing depe

[2021-03-23 22:44] v-kydela commented on #6494
@rahul-8437008949 - Have you read this? https://docs.microsoft.com/azure/bot-service/bot-builder-authentication

You may notice that it says to leave the Token Exchange URL field blank. You may have been confused by the part that says to put "common" as the tenant ID. Try following the instructions and see if that fixes your problem.

[2021-03-23 23:14] sangwoohaan commented on #6512
This is new to me – didn't know you can import lu files and reference them from activities. Instead of coming up short-term solution, I'd like to take some more time to investigate. Could this be an item for R14?

[2021-03-23 23:26] GeoffCoxMSFT opened #6532 "PVA publish dialog does not save bot chosen by user"
## Describe the bug

PVA publish dialog always saves first bot in list even when user chooses a different bot

## Version

/main

## Browser

- [ X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [ ] macOS
- [ X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create new publishing profile
2. Choose PVA type
3. Log in
4. Choose environ

[2021-03-23 23:47] mewa1024 commented on #6512
yes, I agree with @sangwoohaan. For R13, the new creation experience (with templates that import LU) is a preview experience.

[2021-03-24 00:14] emivers8 commented on #5866
Design needs to be verified with actual content. I couldn't find a reference for this, so send my way if you have one. (Do we have the version of this from Ibiza handy? @Dewain27)

Figma: https://www.figma.com/file/tvENftrexoAYJngzsJxUbv/EmFig?node-id=3244%3A1007

![image](https://user-images.githubusercontent.com/55601267/112234965-eed5b580-8bfa-11eb-8818-b43b65cc5ba9.png)

[2021-03-24 01:55] hibrenda commented on #6521
@garypretty  I could not repro on my side. I use westeurope for luis and westus for qna to the same bot.

[2021-03-24 04:12] #6519 closed

[2021-03-24 06:45] swetagrover commented on #2926
I am receiving this error while starting the bot
Start bot failed

Message:
Command failed: dotnet build
Command:
dotnet build
Stack Trace:
Error: Command failed: dotnet build

    at ChildProcess.exithandler (child_process.js:308:12)
    at ChildProcess.emit (events.js:210:5)
    at maybeClose (internal/child_process.js:1021:16)
    at Process.ChildProcess._handle.onexit (internal/child_process.j

[2021-03-24 06:48] swetagrover commented on #2926
I have installed .Net SDK,BotFramework-Composer all prerequisites met. Still not able to start bot.Can someone pls help?

[2021-03-24 07:08] rajasweet14 commented on #6482
Any update on this issue

[2021-03-24 09:16] garypretty commented on #6521
@tdurnford @hibrenda - ok, thanks for the testing.  I have found the issue. If I create a bot using the new Conversational Core template (i.e. the new runtime), the settings are missing the QnA Region setting.  It appears, because that is missing in my case, that the QnA is falling back to the LUIS region.

![image](https://user-images.githubusercontent.com/3900649/112284797-85e55080-8c81-11eb-9d1

[2021-03-24 09:16] garypretty commented on #6521
I will raise an issue in the Components repo.

[2021-03-24 09:16] #6521 closed

[2021-03-24 09:22] garypretty opened #6535 "QnA Maker region setting should be shown in the settings form UX page"
## Describe the bug

Currently you have to switch to advanced settings and edit settings JSON for altering the QnA Maker region, whilst for LUIS we provide a drop down in the settings form UX.

## Version

Version:  1.4.0-rc4-nightly.226081.b0a126
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-03-24 09:36] garypretty commented on #6535
QnA only currently supports westus which is why we hide this. Closing.

[2021-03-24 09:36] #6535 closed

[2021-03-24 11:47] danielallen73 commented on #6406
Hi @carlosscastro @luhan2017 @zxyanliu have I provided sufficient detail of my lastest issue regarding "HTTP status code Unauthorized".
I can see in emulator is suggests that my AppId and Password are incorrect, however you will see above what I have applied and now I need urgent advice as to whether this is correct.
At the moment I am paying for services that I cannot fully utilise in the way I r

[2021-03-24 13:33] #6532 closed

[2021-03-24 13:34] #6480 closed

[2021-03-24 13:46] #6039 closed

[2021-03-24 14:55] darrenj commented on #6446
Provisoning AppId does ;-)

[2021-03-24 16:00] mewa1024 commented on #6489
@sangwoohaan fyi

[2021-03-24 16:51] hatpick commented on #6491
@aparnaji can you share the entire schema (or partially the part related to property of type person name)?

[2021-03-24 16:55] carlosscastro commented on #6196
Thanks for the update! Closing since this is fixed

[2021-03-24 16:55] #6196 closed

[2021-03-24 16:55] carlosscastro commented on #6184
@mn-invia have you shared the bot with us? Closing the issue but feel free to re-activate and share the bot.

[2021-03-24 16:55] #6184 closed

[2021-03-24 16:58] benbrown commented on #6289
@Bracciata The spinning wheel you saw was inside the terminal?

Did the command line tool return control to the terminal after the publishing profile was displayed?

[2021-03-24 17:03] benbrown commented on #6528
this is the original bug, which has some additional context:

#5300 and more here also #5311

[2021-03-24 17:04] jwiley84 commented on #6241
Thank you for your patience; i should have an update for you by this afternoon.

[2021-03-24 17:08] rahul-8437008949 commented on #6494
@v-kydela , Thanks a lot it worked. Don't know how I confused the 2 things. Thanks a million.

[2021-03-24 17:08] #6494 closed

[2021-03-24 17:24] #6468 closed

[2021-03-24 17:35] Bracciata commented on #6289
No it did not. I left it running 15 or so minutes before cancelling the
command.

On Wed, Mar 24, 2021 at 11:58 AM Ben Brown ***@***.***> wrote:

[2021-03-24 17:38] stevkan commented on #6472
Hi, unfortunately, I am unable to repro the issue you are experiencing. I am able to call both replace dialog and cancel dialog from a multi-choice prompt with both working as expected.

I used the TodoSample from Composer for simplicity. I call the `addtodo` dialog into the 'Unknown intent' trigger so I'm always in a dialog that can be replaced or cancelled. I created a 'ReplaceCancelIntent` trig

[2021-03-24 17:43] pavolum opened #6538 "Allow for local template testing"
We need to add an easy way where internal template developers can test local generators through Composer.

- [x] Create feature flag called SHOW_LOCAL_TEMPLATE_UI
- [x] When the above feature flag is set to true have a UI element appear in the select template view where developers can add a path to their local generator

[2021-03-24 17:56] mewa1024 commented on #6512
@hibrenda, @sangwoohaan, I'm so sorry--I got R13 mixed up with R12 in my previous comment. I think we should consider this for R13 since many of the new templates will encounter this. Related issue filed by Lauren: #5358

[2021-03-24 17:57] mewa1024 commented on #5358
(Added tag of "Type: Bug" since with the new templates many users will encounter this)

[2021-03-24 18:08] carlosscastro commented on #5431
Thanks @cxbuilders. @GeoffCoxMSFT In addition to the documentation point, I think AlwaysOn should be evaluated as a setting to be enabled by default or exposed in the configuration.

[2021-03-24 18:14] carlosscastro commented on #4054
@zidaneymar where are we with this? Are we addressing it or leaving it in favor of the upcoming runtime?

[2021-03-24 18:25] mewa1024 commented on #5358
(@vivekkshankar tagging you as fyi. you might have already considered this case in your trigger redesign explorations.)

[2021-03-24 18:28] hatpick opened #6540 "Update trigger phrases tooltip content and learn more"
Check design and data here:
https://www.figma.com/file/q76DseJ7PK0g7zI1gXLzlD/SH_Language-Generation?node-id=607%3A1458
Lu Editing -> Tooltip

[2021-03-24 18:30] Stevenic commented on #4282
Any word on when this will get in?

[2021-03-24 18:32] Stevenic commented on #4280
This seems to be resolved in 1.4 as I'm able to add actions to other flyout menus. I think this can be closed.

[2021-03-24 18:36] Stevenic commented on #3086
Closing because it's old...

[2021-03-24 18:36] #3086 closed

[2021-03-24 18:37] stevgarcia commented on #3674
thanks for your answer, I tried in both ways, but I´ve got the same error:

![image](https://user-images.githubusercontent.com/80296183/112365558-cd7dd380-8ca5-11eb-95b8-775c7f9633be.png)

the other option:

![image](https://user-images.githubusercontent.com/80296183/112365698-f3a37380-8ca5-11eb-9943-9d80783de329.png)

![image](https://user-images.githubusercontent.com/80296183/112365601-d7073b80-

[2021-03-24 18:37] Stevenic commented on #3176
Closing because it's old

[2021-03-24 18:37] #3176 closed

[2021-03-24 18:39] garypretty opened #6541 "LU editor telemetry"
We need to add telemetry for the new LU editor features being introduced in R13.

The following events will be required.

LUEditorEntityDefinitionAdded - fires when the user inserts a new entity using the new UI.
Properties should be added to this event indicating EntityType (e.g. ML or DateTimev2)

LUEditorEntityTagAdded - fires when the user inserts a new entity using the new UI.
Properties shou

[2021-03-24 18:40] Stevenic commented on #3394
This would still be useful... It's good that you're showing the stack trace when the runtime fails to start but that doesn't help with diagnosing issues on a turn by turn basis.

[2021-03-24 18:41] Stevenic commented on #3560
Closing because its old

[2021-03-24 18:41] #3560 closed

[2021-03-24 19:09] anmolgandhi007 commented on #6196
Hey @carlosscastro, issue is still unidentified w.r.t. Bot framework composer. More people in the future can face this issue. Can it still be marked as "closed"?

[2021-03-24 21:28] GeoffCoxMSFT opened #6543 "'Pull from selected profile' button is not enabled when it should be"
## Describe the bug

When using the settings page and then the publish page, the 'Pull from selected profile' button will be enabled/disabled correctly based on the selection of publishing profiles who support the pull feature.
However, when the settings page is never visited during a session, the button will never be enabled because the publish page failed to load the publishing types from the se

[2021-03-24 21:37] #6276 closed

[2021-03-24 21:38] Dewain27 commented on #6276
Duplicate #6166

[2021-03-24 21:44] sangwoohaan commented on #6512
As a temporary solution for R13, the solution would be as simple as this
![Frame 53156](https://user-images.githubusercontent.com/50963385/112387784-6c5afd80-8caf-11eb-9948-425edfcc5454.png)

[2021-03-24 21:52] #5821 closed

[2021-03-24 22:46] Dewain27 opened #6546 "Add Document Links to Learning Page"
## Is your feature request related to a problem? Please describe.

We need to add the following Links to the Learning Page:

**Under Getting Started Add:**

- [x]  Add "Setting up Bot Framework Emulator" - https://github.com/Microsoft/BotFramework-Emulator/wiki
- [x] QnA Maker Introduction - https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/
- [x] Working with Packages - https://g

[2021-03-24 22:49] Dewain27 commented on #5930
![image](https://user-images.githubusercontent.com/18688053/112393523-388cd180-8cc9-11eb-84e4-4df5e1cbfa7a.png)

[2021-03-24 22:53] Dewain27 commented on #5930
AppID is located in publishing profile properly, however in this area it seems that this either should have details as to why you would populate or removed.

[2021-03-24 23:14] Dewain27 commented on #5930
Looking to resolve with R14 Bot Setting redesign as this setting is for the local development environment.  Confirmed that the Publishing profiles are populated with the proper content.

[2021-03-25 01:24] Danieladu commented on #3674
Change the template heroCards into:
[code]
Because `images` is a template, you should call it like a function, but not a variable directly.

[2021-03-25 01:51] stevgarcia commented on #3674
Thanks for your help, at the end it works with this code:

# heroCards(images)
-${foreach(images(), image, herocardTemplate(image))}

# herocardTemplate(image)
[HeroCard
        images=${image}
]

[2021-03-25 02:25] Danieladu commented on #3674
Cool! actually, you can remove the parameter of `heroCards`,
`# heroCards(images)` => `# heroCards` is ok

[2021-03-25 03:24] dmvtech commented on #6422
@philip-mc I believe this is by design (with regards to the _interruption + unknown intent_). I think interruptions only trigger other actual intents (not the unknown intent). I have confirmed that other intents will interrupt and trigger.

I think to accomplish your goal, there are other (more appropriate) approaches. I am working to confirm all of this and will share when I have that complete.

[2021-03-25 06:45] luhan2017 commented on #6406
@danielallen73 The above info you shared is root bot or skill bot? I assume your scenario is root (local) -> skill (remote).
Could you double check root bot and skill bot are assigned with different appid and password. if the issue is still there, could we set up a call to discuss more details on this? luhan@microsoft.com

[2021-03-25 08:43] shawnzhangmicrosoft commented on #5354
@Jenny0932 is this issue resolved or not? I got the same error. The region is westus.

[2021-03-25 09:09] praneeth1987 commented on #6472
Hi, Thanks for your example.
My design is different where in greeting I have greeting message and choice option to allow user to select.
Based on user selection, I have started a new dialog which will connect to corresponding QnA and I have added repeat this dialog at the end of dialog.

In the same way, i have created another dialog based on another user selection and then it will connect to anot

[2021-03-25 09:41] praneeth1987 commented on #6472
The design should be like this as user wont enter apple + question to search in corresponding QnA KB as I have 2 different QnA KB linked in this bot.

Now as per user selection we are connecting to that particular QnA KB in that dialog and fetching the results.

We don't user to type apple before asking his query to search in that QnA KB.

[2021-03-25 10:01] danielallen73 commented on #6406
Hi @luhan2017. The above info is for Skill bot. My scenario will be root (local) to skill (remote) initially before I deploy my root bot as well.
As I was having issues before I was expecting to be able to test my skills bot from Bot Channels Registration "Test in Web Chat"

Please advise if I'm going about this the wrong way and whether I should only connect local root to remote skill using Ngrok

[2021-03-25 12:09] formore5points opened #6552 "Value cannot be null (DialogID) problem in Composer"
Is anyone getting that error after using a dialog for second time ? I'll upload the screenshots when I have access to my pc.
Briefly, I think that its about the dialog management. I have read this article : "https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-dialog?view=azure-bot-service-4.0 " and didnt get a solution.

OS:Windows
Platform:Bot Framework Composer 1.4.0

[2021-03-25 15:40] Dewain27 commented on #6192
@benbrown , work with me to get the sample manifest.  I have some details that I need to make sure is in the manifest properly.

[2021-03-25 15:50] Dewain27 opened #6555 "Add Items to Optional Next Steps"
## Is your feature request related to a problem? Please describe.

Need to add the following items to Next Steps as Optional:

- [x] Provision a Publishing Profile > Takes you to interface to add a publishing profile
- [x] Publish to a Publishing Profile > Takes you to Publish page
- [x] Enable Insights
Text:
Collect Service-level and Conversation-level data to help gauge the performance and effic

[2021-03-25 15:54] Dewain27 commented on #6546
@benbrown I suggest that all links we use to be aka.ms links to make them easily editable outside of code.

[2021-03-25 16:26] dmvtech commented on #6482
Hi @rajasweet14 Sorry for the delay.

A few things. I assume you have been following [this documentation](https://docs.microsoft.com/en-us/composer/how-to-publish-bot). Is there a specific step that it is failing at? My assumption is somewhere around step 2 or 3 [here](https://docs.microsoft.com/en-us/composer/how-to-publish-bot#publish). But please confirm.  You shouldn't need to use `az login` s

[2021-03-25 16:36] KyonCode opened #6556 "Conversation Expiration"
Hi everyone,

more than a problem I'm looking for a guide. I'm trying to set conversation timeout limit so after some time of user no activity, bot will behave like new conversation.

I created CosmosDB along with other Azure apps while publishing my bot (using Composer desktop 1.4) and I set my container
 TTL = 30 seconds.

Now I'm a bit lost. Is there any other configuration required?

Thank you

[2021-03-25 16:39] cwhitten commented on #6525
@pavolumMsft can you look into this?

[2021-03-25 16:56] orcelik commented on #5650
@saleung, I see this issue still persists in version 1.4.0. Do we have an expected time for resolution?

[2021-03-25 17:10] orcelik commented on #5335
Issue still persists with version 1.4.0 . I see this is closed. Do we need to open a new github issue for the same issue?

[2021-03-25 17:17] orcelik opened #6558 "Provision failure when creating azure resources"
## Describe the bug

Following the documentation to publish my bot. After loging in to my work account, selecting the options to Publish Bot ao Azure Web App, Create New Resource, adding the requested information and accepting the default options, when I click "Done" I get an error saying "Provision Failure - Error when provision target".

## Version

Version:  1.4.0
Electron: 8.2.4
Chrome: 80.0.3

[2021-03-25 17:19] beyackle opened #6559 "a11y: incorrect/misleading/uninformative screen-reader labels"
## Describe the bug

This ticket describes the current state of the screen-reader text; there are a number of issues as noted below:

- "No item in view" on triggers in tree
- Error display just reads numbers (e.g. "6 3")
- focus moves backward when collapse/expand chevron is selected
- "one bot have been found"
- Just "button" for expand/collapse on bot project settings
- "westus" read instead of

[2021-03-25 17:20] rahul-8437008949 commented on #4216
![Screenshot (173)](https://user-images.githubusercontent.com/54345729/112515553-5c7d0f80-8dbc-11eb-902f-21cc05a1688e.png)

![Screenshot (175)](https://user-images.githubusercontent.com/54345729/112515560-5e46d300-8dbc-11eb-8eb3-81ae1f0e2333.png)

![WhatsApp Image 2021-03-25 at 10 45 15 PM (2)](https://user-images.githubusercontent.com/54345729/112515588-669f0e00-8dbc-11eb-9f02-964a23392de8.jpeg)

[2021-03-25 17:37] rahul-8437008949 opened #6560 "Unable to use Oauth card in teams app"
@cwhitten @v-kydela ,Oauth card renders in teams, a  link is also linked with the card but it goes nowhere on clicking ,It works fine in web chat.Can you please help me with it
![WhatsApp Image 2021-03-25 at 10 45 15 PM (2)](https://user-images.githubusercontent.com/54345729/112517793-c0083c80-8dbe-11eb-9643-827055b2ac78.jpeg)
![Screenshot (173)](https://user-images.githubusercontent.com/54345729/

[2021-03-25 18:02] lusk33 opened #6561 "Can't sign out from my azure account in Bot Composer"
I tried to deploy a bot to an Azure Account and it failed because of "Insufficient privileges to complete the operation".
So i decided to try on a different account. The problem is that i can't logout from the first account.
When i click sign out in the deploy page, the window closes and i'm still logged in.

![image](https://user-images.githubusercontent.com/68569843/112521225-09369d00-8d7b-11eb-

[2021-03-25 18:12] #6502 closed

[2021-03-25 18:12] #6503 closed

[2021-03-25 18:13] #6413 closed

[2021-03-25 18:22] #6523 closed

[2021-03-25 18:22] carlosscastro commented on #5479
@peterbozso thanks again for your contribution! Could you address the issues and recommendations raised in the PR by @EricDahlvang ? We'd love to get this in!

[2021-03-25 18:36] dmvtech commented on #6552
HI @formore5points Yeah, screen shots or more steps to reproduce what you are experiencing would be good. Are you able to reproduce using one of the built in templates?

[2021-03-25 18:53] Dewain27 opened #6562 "Change Create Publishing Profile to have logon after determined that you want to create resources in Azure"
## Is your feature request related to a problem? Please describe.

Currently, the create publishing profile process asks you to logon ahead of deciding if you want to import / create new / generate a request.  Many users wanting to import or generate a request will not necessarily have an Azure account to do this action.  We need to move the logon to be after you chose to create new resources.

##

[2021-03-25 18:55] Dewain27 commented on #6562
Please see design provided by @JaskeeratBedi-cmk

[2021-03-25 18:58] Dewain27 opened #6563 "Create Copy for Create New Modal"
## Is your feature request related to a problem? Please describe.

The Copy on the Create New Resources modal needs to be determined and created

## Additional context

![image](https://user-images.githubusercontent.com/18688053/112528355-0b482e00-8d72-11eb-9164-3a783cc0d22d.png)

[2021-03-25 19:01] Dewain27 opened #6564 "Create Copy for Import Modal"
The Copy on the Import existing resources modal needs to be determined and created

## Additional context

![image](https://user-images.githubusercontent.com/18688053/112528729-7d207780-8d72-11eb-850f-c0a03f9bbdfb.png)

[2021-03-25 19:10] #6543 closed

[2021-03-25 20:29] saleung commented on #5650
Ditto

[2021-03-25 20:58] Dewain27 opened #6565 "Create Copy for Generate Resources Request Modal"
## Is your feature request related to a problem? Please describe.

The Copy on the Generate Resources Request modal needs to be determined and created

## Additional context

![image](https://user-images.githubusercontent.com/18688053/112542732-ea3c0900-8d82-11eb-9fbf-642d5169fc9b.png)

[2021-03-25 21:02] Dewain27 opened #6566 "Create Copy for Share Resource Request Instructions"
## Is your feature request related to a problem? Please describe.

The Copy on the Share Resource Request Instructions needs to be determined and created

## Additional context

![image](https://user-images.githubusercontent.com/18688053/112543201-6df5f580-8d83-11eb-9304-a70e85204206.png)

[2021-03-25 21:07] Dewain27 opened #6567 "Create Copy for Share Resource Request Modal - LUIS / QnA Dev Setup"
## Is your feature request related to a problem? Please describe.

The Copy on the following modals needs to be determined and created

- [ ] LUIS
- [ ] QnA
- [ ] Speech

## Additional context

![image](https://user-images.githubusercontent.com/18688053/112543694-1e63f980-8d84-11eb-8462-386f257a8608.png)

[2021-03-25 21:13] #6131 closed

[2021-03-25 21:14] #5642 closed

[2021-03-25 21:46] anusharavindrar commented on #6518
@hebaelfadly, thanks for the above info. Let me attempt a repro on my end.
@feich-ms, is it possible that based on the above scenario that if they go and add the intent from the portal and restart the bot from composer, it is overwriting the intent in the portal as it isn't added in the composer user input?

[2021-03-26 02:47] lei9444 commented on #6515
remove the old node-modules can solve this issue

[2021-03-26 02:47] #6515 closed

[2021-03-26 03:07] anniexudan commented on #5495
Hey Team, any update on this? I am still seeing this behavior in v1.3.1 as well as v1.4.0. For LUIS enabled Bot adding language Chinese(Zh).
![image](https://user-images.githubusercontent.com/48502175/112571626-d6ae9380-8dbe-11eb-84b1-4eb2b5b908a8.png)

[2021-03-26 05:46] #6509 closed

[2021-03-26 06:25] formore5points commented on #6552
Hi @dmvtech,
Thank you for your attention. I solved my problem and would love to share with you. When we want to make a flow like the one I have sent below, the dialogue A becomes the beginning, the dialogue B is a dialogue containing the term "end this dialogue" and the dialogue c is the key dialogue. If we want to go from the C dialog to the A dialog, when we go to the "Begin new Dialog" and cre

[2021-03-26 06:35] rajasweet14 commented on #6482
i failed at final step
**On the Publish window, select Okay and start the publishing process.
publish process
 Note
The publishing process will usually take a few minutes to complete.
After the publishing process completes, you will see the Success message.**

on this i geting error it is failed to publish this is the problem i am facing

**log :showing for error**
"Accepted for publishing..."
"Bu

[2021-03-26 06:57] rahul-8437008949 commented on #6560
@v-kydela @cwhitten can you please help me out

[2021-03-26 07:58] cosmicshuai opened #6569 "Once click active language button to switch language, the content in dialog nodes lost"
Here is a gif of reproduce this bug.
![clickMultiLangLostContent](https://user-images.githubusercontent.com/17074777/112600352-0d7ebb00-8e4c-11eb-900d-c20325b0690c.gif)

[2021-03-26 08:45] feich-ms commented on #6518
@anusharavindrar AFAK, there is no way currently. Composer is designed to always update luis models if the contents are not aligned with that in luis portal.

[2021-03-26 09:03] ShubhamVerma16 opened #6570 "There was an error sending this message to your bot: HTTP status code NotFound"
## Describe the bug

I am receiving the error  - **There was an error sending this message to your bot: HTTP status code NotFound** once deployed the bot to azure using composer.

composer version - 1.4.0
## Browser
- [ ] Chrome

## OS
- [ ] Windows

## To Reproduce

[2021-03-26 10:56] cxbuilders commented on #5431
@carlosscastro In our pipelines we use this automatically based on the SKU, would not know why with anything besides F1 you would not want to turn it on.
$alwaysOn = $webappSku -ne 'F1'

[2021-03-26 11:11] praneeth1987 commented on #4816
@kalebk  could you please elaborate your workaround? I am facing same issue but could not get thru your WA.

[2021-03-26 11:36] boydc2014 commented on #6561
@lusk33 can you share us with the version and platform you are in?

I'm testing 1.4.0 in Win10, sign out works as expected. @luhan2017 did you see anything like this before?

[2021-03-26 11:38] Dewain27 commented on #6555
It would be best if we could be able to show "Add Connections" and "Publish to a profile" only if you have created a publishing profile.  Also hiding "Provision a Publishing Profile" if you have created a publishing profile.

[2021-03-26 12:04] Dewain27 commented on #6257
New Provisioning UX has been completed and now can be documented.

[2021-03-26 12:07] Dewain27 commented on #6258
Implementation design for the Handoff process is complete documentation is ready for creation.

[2021-03-26 13:06] lusk33 commented on #6561
After some time it automatically logged out, but when I inserted the ARM and graph tokens it happened again.
I'm also using the 1.4.0 in Win10.

[2021-03-26 14:41] cxbuilders opened #6571 "Send Response Thinks Switch Statement are Response Variations"

[2021-03-26 14:43] #6571 closed

[2021-03-26 14:43] cxbuilders commented on #6571
mistake

[2021-03-26 16:25] praneeth1987 commented on #6552
@formore5points I am facing same issue, i could not clearly understand your solution. can you please share a sample bot with solution?

As per my bot,

1. I have welcome dialog where I have multiple choice option ( 2 options)
2.  Based on multiple choice selection, I have created 2 different dialogs and in this we are connecting to QnA to fetch the response. (I have added repeat this dialog as I w

[2021-03-26 16:34] tdurnford commented on #6540
Closed by https://github.com/microsoft/BotFramework-Composer/pull/6568

[2021-03-26 16:34] #6540 closed

[2021-03-26 16:42] stevkan commented on #6304
Closing due to inactivity.

[2021-03-26 16:42] #6304 closed

[2021-03-26 17:09] v-kydela commented on #6560
@rahul-8437008949 - Did you include a valid domain in your app manifest according to these instructions? https://docs.microsoft.com/microsoftteams/platform/bots/how-to/authentication/add-authentication#install-and-test-the-bot-in-teams

[2021-03-26 17:13] dmvtech commented on #6422
Hi @philip-mc I have confirmed that the reason for the behavior is as I've shared above.

The suggested approach is to author your KB from within Composer, and use the `QnA Recognized Intent` trigger. This will allow for the QnA to be an actual LU intents instead of a fall-back dialog within the unknown "intent".

Please find more info here:
https://docs.microsoft.com/en-us/composer/how-to-create-

[2021-03-26 17:15] rahul-8437008949 commented on #6560
Yes i did

[2021-03-26 17:24] v-kydela commented on #6560
@rahul-8437008949 - May we see your app manifest?

[2021-03-26 17:31] rahul-8437008949 commented on #6560
{
  "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.9/MicrosoftTeams.schema.json",
  "manifestVersion": "1.9",
  "version": "1.0.0",
  "id": "130545dd-fe94-4d16-ae84-6926383b4f6e",
  "packageName": "com.teams.auth.bot",
  "developer": {
    "name": "Rahul",
    "websiteUrl": "https://www.microsoft.com",
    "privacyUrl": "https://www.teams.com/privacy",
    "termsOfUseUrl":

[2021-03-26 17:31] carlosscastro commented on #5808
@chon219 @luhan2017 let's get more traction on this related PR so we can close this soon. Thanks!

[2021-03-26 17:32] carlosscastro commented on #6191
@Jenny0932 we tried on our side and confirmed that this is working for us. Closing for now, but please reactivate if you are still experiencing this issue.

[2021-03-26 17:32] #6191 closed

[2021-03-26 17:41] benbrown commented on #6546
@Dewain27 done!

I set you up as co-owner of all the aka.ms links.  The migrate link will need to be updated when you have a link for it!

![Screen Shot 2021-03-26 at 12 40 30 PM](https://user-images.githubusercontent.com/729873/112671678-7c4e1b00-8e30-11eb-85c8-f964eaa32e3a.png)

[2021-03-26 17:47] cwhitten commented on #5412
@cxbuilders We'll close this as we've communicated over email and will include you in any upcoming release to verify your scenarios.

[2021-03-26 17:47] #5412 closed

[2021-03-26 17:55] GeoffCoxMSFT commented on #5560
I'm focused on the provisioning/publish stuff, so probably won't have time for this task in the near future.

[2021-03-26 18:07] GeoffCoxMSFT commented on #6359
Working on diagnosing the cause: tTe yield subscriptionClient.subscriptions.list() is throwing before the subscriptionsResult._response.status is even inspected.

[2021-03-26 19:57] cwhitten commented on #6561
@lusk33 how are you inserting the arm and graph tokens?

[2021-03-26 20:07] v-kydela commented on #6560
@rahul-8437008949 - I can reproduce the problem. I've tried your app manifest, my app manifest, Composer bots, regular bots... I can't seem to get signin actions to work in Teams under any circumstances.

@cwhitten - Who should we ask for help with this issue?

[2021-03-26 20:15] tsuwandy opened #6575 "Update Microsoft.OrchestratorRecognizer references to Microsoft.OrchestratorAdaptiveRecognizer"
OrchestratorRecognizer class is removed from botbuilder-dotnet repo for R13 and if Composer is still referencing it, it needs to point it to OrchestratorAdaptiveRecognizer class instead.

[2021-03-26 20:31] tsuwandy commented on #6575
we won't need this since we'll do a rename on SDK side.

[2021-03-26 20:31] #6575 closed

[2021-03-26 21:21] sangwoohaan commented on #5684
@vivekkshankar could you take a look at this?

[2021-03-26 21:29] sangwoohaan commented on #4245
Coming in for R13

[2021-03-26 21:29] #4245 closed

[2021-03-26 21:44] sangwoohaan commented on #5526
Sorry @daveta for the delay, @emivers8 @xiyangdesign should be able to support this! Could you guys take a look at this feature request?

[2021-03-26 22:15] anusharavindrar commented on #6558
@orcelik, this looks similar to the one in https://github.com/microsoft/BotFramework-Composer/issues/5650. Are you still getting the provision failure error after setting NODE_OPTIONS? Also, do you get any additional error on the dev console?

[2021-03-26 22:25] #6001 closed

[2021-03-26 23:07] xiyangdesign commented on #5526
will do! @sangwoohaan self-assigned.

[2021-03-26 23:19] stevgarcia opened #6583 "Unanswered qnamaker Questions"
I'm trying to create a bot based on a KB on QnA, I started from scratch and I have the Greeting trigger and another one as a unknown intent.

![image](https://user-images.githubusercontent.com/80296183/112701667-44aa9780-8e5f-11eb-8d63-ed3af6dc8ca8.png)

In the unkown intent I drag a QnAMaker dialog connected to the KB, however if the user doesn't find and answer I would like to start the email di

[2021-03-26 23:57] v-kydela commented on #6560
@rahul-8437008949 - I've done a bit more testing by creating new Azure resources and now I've finally gotten OAuth to work. Let's say I have two bot resources:

- Resource A: Can reproduce the problem (Teams OAuth doesn't work)
- Resource B: Cannot reproduce the problem (Teams OAuth does work)

The bot code doesn't make a difference, so it doesn't matter if the bot is made with Composer or not. Th

[2021-03-27 08:16] orcelik commented on #6558
@anusharavindrar, Yes, setting node_options did not change result. In dev console, I receive the error
"...
POST http://localhost:5000/api/provision/27109.469032035417/azurePublish 431 (Request Header Fields Too Large)"
even though I set NODE_OPTIONS="--max-http-header-size=16000"

I am attaching a screenshot below. Did you try to publish in v.1.4.0? Did you manage to publish yourselves?
![publish

[2021-03-27 11:31] formore5points commented on #6552
@praneeth1987 sorry for late answer. I was kinda busy. I will try to creating a new bot to see this error. Until I share the bot, the advice I can give you is, instead of using begin new dialog, use end this dialog.

[2021-03-28 11:15] praneeth1987 commented on #6552
I have tried using end this dialog. After ending the dialog, i should immediately start a new dialog which is not happening and ending up with Value cannot be null(Dialog ID) error.

Please share your bot when you have time

[2021-03-28 14:29] peterbozso commented on #5479
@carlosscastro Done.

[2021-03-28 21:40] tdurnford commented on #5294
This component was removed #6573

[2021-03-28 21:40] #5294 closed

[2021-03-29 01:42] #5522 closed

[2021-03-29 02:16] zhixzhan commented on #6569
I think this behavior is by design, cause when add a lg template in one language, composer will not translate or copy to another language, so it looks like empty.

[2021-03-29 03:31] cosmicshuai commented on #6569
Get it!

[2021-03-29 03:31] #6569 closed

[2021-03-29 04:00] luhan2017 commented on #6561
I verified the composer webapp, I can reproduce this issue. The logout button did not work. We should clear arm and graph tokens in cache when user click logout.

[2021-03-29 04:14] Samirun commented on #3674
@Danieladu
if each one of the carousel adaptive cards has a submit button can we know which card the user has selected from the carousel?
we have a scenario where the user selects a center currently, it's giving me an object reference error when I hit submit.

**LG used:**

[Activity
    Attachments = ${json(centercardjson())} | ${json(centercardjson())}
    AttachmentLayout = carousel}
]

![image

[2021-03-29 04:43] Samirun opened #6584 "adaptive card carousel view with buttons giving object reference error on select"
we have a scenario where the user selects a particular center from the carousel view, it's giving me an object reference error when I hit submit.

if each one of the carousel adaptive cards has a submit button can we know which card the user has selected from the carousel?

**LG used:**
https://github.com/microsoft/BotFramework-Composer/issues/3674
[Activity
    Attachments = ${json(centercardjson

[2021-03-29 06:50] Danieladu commented on #6584
1. For first question, could you provide the template content of `centercardjson`? That may help a lot to find out where is the error point.
2. About how to get the cardIndex, you can give a unique id to each card when call back. For example, Suppose your card is an adaptivecard.

 Here is the bot:
[EchoBot-1.zip](https://github.com/microsoft/BotFramework-Composer/files/6219777/EchoBot-1.zip)

Gif

[2021-03-29 07:49] SanUttarwar commented on #5335
I am facing same issue.. I have upgrade Bot composer to 1.4 but issue still persist. Is there any fix for this ??

[2021-03-29 08:41] gary-x0pa opened #6585 "Allow nesting of dialogs in left hand panel"
Allow user to nest dialogs in folder structure so that it appears neater. As some dialogs are only used by some other dialogs and this allows a neater folder structure.

[2021-03-29 09:16] garypretty commented on #6340
We met and discussed the above requirements.  Some are already in place, some we will push out and some we will tackle as part of R13.  Here is my summary.

**To implement in R13**

- Add two events ***OrchestratorDownloadStarted*** and ***OrchestratorDownloadCompleted***.

- Add two events ***OrchestratorBuildStarted*** and ***OrchestratorBuildCompleted***. These events should have two additional

[2021-03-29 11:35] formore5points commented on #6552
@praneeth1987 I couldn't create the error again. If you can, please send the bot as zip and I will try to figure it out.

[2021-03-29 11:51] formore5points opened #6586 "Pre built-in function where does not work"
Hello everyone,

I am trying to use the pre built-in function where inside the bot. Everything works fine when experimenting with the emulator. The length of the list returned from where method is different from 0. But when I test it with the web chat feature that comes with version 1.4, the length of the list returned from the where method is 0.

More details:
I have a json file containing dates

[2021-03-29 12:21] formore5points commented on #6586
Here are the SSs.

Piece of the bot that the error occured:
![3](https://user-images.githubusercontent.com/50989796/112835549-18cb2400-90a2-11eb-9b68-bef08ce01f8c.png)

Emulator SS:
![1](https://user-images.githubusercontent.com/50989796/112835637-37c9b600-90a2-11eb-9405-11e2e8b51215.png)

WebChat SS:
![2](https://user-images.githubusercontent.com/50989796/112835673-41531e00-90a2-11eb-9533-653262f

[2021-03-29 12:37] praneeth1987 commented on #6552
@formore5points : I have attached my bot here. I have removed my qna stuff and just added dummy text.
Can you please help me in checking here?
[BIHelpDesk-Final.zip](https://github.com/microsoft/BotFramework-Composer/files/6221714/BIHelpDesk-Final.zip)

[2021-03-29 15:31] tannguyen3 opened #6587 "Request to Smba.trafficmanager.net have failed"
## Describe the bug
We have a bot that is running, and I see Application Maps of its App Insight, there are 5% failed request to Smba.trafficmanager.net.
How would it impact to the performance of the bot?
![image](https://user-images.githubusercontent.com/10743872/112860965-f8876f00-9079-11eb-8fbe-cc25bccd5a94.png)

## Version
Bot Composer 1.3.0

## OS

- [ ] macOS
- [ x] Windows
- [ ] Ubuntu

[2021-03-29 18:18] alfenne opened #6588 "Updates to GUI not taking effect after generating a new custom runtime"
## Describe the bug

After creating a new copy of the runtime, edits in the GUI are not taking effect in the bot. @garypretty

## Version
1.4.0-nightly.228398.1bfe853

## Browser

- [ ] Electron distribution

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create a new empty bot project
2. Add a prompt to the default dialog after the WelcomeUser() prompt
3. On the "Proj

[2021-03-29 19:11] anusharavindrar commented on #6556
@KyonCode, could you elaborate more on what channels are you using?

[2021-03-29 19:20] msomanathan commented on #6289
@benbrown is there any updates to this issue?

[2021-03-29 19:23] msomanathan commented on #4054
@cwhitten will this be addressed in R13, or, in future milestone?

[2021-03-29 20:09] KyonCode commented on #6556
Hi @anusharavindrar,

I'm using MS Teams and Web Chat.

What I want to achieve is when I leave conversation in the middle of Dialog, bot will automatically close whole conversation let's say after 10 minutes and behave like new (user) conversation after submitting new response. Not sure if this is something I can configure in Composer or in Azure...

Thank you

[2021-03-29 20:35] stevkan commented on #6570
Can you verify that all of the settings (appId, appPassword, any LUIS creds, etc.) are in the bot's ABS app service configuration?

[2021-03-29 21:05] afahmy11 opened #6591 "Microsoft.Bot.Components.Graph pacage | return small photo"
hi

i am using the package Microsoft.Bot.Components.Graph in my composer bot to retrieve the user photo from MS graph. But due to adaptive card limitation in MS teams i am getting the error `Operation returned an invalid status code 'RequestEntityTooLarge'`

is there a way to request a smaller version of the photo `for example. 96x96` using this package?

thanks and regards

[2021-03-29 21:31] stevkan commented on #6425
Closing due to inactivity.

[2021-03-29 21:31] #6425 closed

[2021-03-30 01:24] luhan2017 commented on #6312
@pedro-ramirez-suarez Sorry that I am not quite understand the issue, there is limit on luis resource count per region per subscription. But within one bot, we only use one resource, under this resource, we created several applications, do you mean, you also have the application number limitation in your subscription?

[2021-03-30 01:48] boydc2014 commented on #6561
Thanks, so, this is a web app issue, right? I tried electron version and it's working as expected.

[2021-03-30 01:53] boydc2014 commented on #5704
This should be resolved by two PRs by Leilei and Tai to add caches in the orchestrator building process.

[2021-03-30 01:53] #5704 closed

[2021-03-30 01:55] boydc2014 commented on #5684
https://github.com/microsoft/BotFramework-Composer/pull/6549 gives the capability to control cross-train via config.

I'm not sure we even need UX change here.

What do you guys think? @sangwoohaan  @cwhitten

[2021-03-30 01:55] #2182 closed

[2021-03-30 01:55] #6459 closed

[2021-03-30 03:49] boydc2014 commented on #5331
Yes, agree.  So, probably a hotfix to delete extension content when deleting bot would be good enough, not necessary for a complete design of clean up.

[2021-03-30 03:57] gary-x0pa commented on #2376
May I know how this issue is solved? How do we put dialogs in folders/nested folders

[2021-03-30 04:31] yeze322 commented on #5754
I had a sync with Chris, there will be migration issues if we remove them entirely, so let's still keep it in R13, after we have a more robust diagnostic pipeline to defense potential schema breaking changes, we can then remove them.

[2021-03-30 05:00] shubham8886 opened #6594 "Not to publish my bot through bot framework composer."
when i am trying to publish my bot through bot framework composer, i am getting below error in my logs.
LOG:
[Bot-doc01.docx](https://github.com/microsoft/BotFramework-Composer/files/6226253/Bot-doc01.docx)

---
"Accepted for publishing..."
---

---
"Building the bot app..."
---

---
"Build succeeded!"
---

---
"Creating build artifact..."
---

---
"Build artifact ready!"
---

---
"Publishing to A

[2021-03-30 05:34] #6481 closed

[2021-03-30 06:28] Samirun commented on #6584
@Danieladu  can we change the contents of the card dynamically? if so? how to do it? is there any doc awailable?

[2021-03-30 07:45] Danieladu commented on #6584
Sure. You can concat a card content with template.
For the above example, if you want to make the card body dynamically with given list, try such LG file:
[code]

[2021-03-30 08:07] zhixzhan commented on #2376
Hi @gary-x0pa you can put your folder like this

[code]

[2021-03-30 08:39] gary-x0pa commented on #2376
I tried this and the nested dialog folder doesnt show up in the bot composer ui?

[2021-03-30 09:39] Samirun commented on #6584
@Danieladu this is not how i wanted. i want the card contents to be changed for each card. card fields should be varied. i could not get it to work

[2021-03-30 09:49] luhan2017 opened #6595 "Azure provision in webapp is broken"
## Describe the bug

main branch start composer webapp

1. add a new publish profile.
2. input arm token and graph token.
3. the provision page is blank.

![image](https://user-images.githubusercontent.com/32191031/112969862-3a9ad880-9180-11eb-815c-c47cbc7e9e75.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Win

[2021-03-30 10:08] rahul-8437008949 commented on #6560
Hi @v-kydela .I tried to deploy it using 2 -3 resources ,it didnt work for any. Also i cant rely on this for the app i am building. As in working for one resource and not working for other wont be accepted by my seniors. Can something concrete be worked upon?

[2021-03-30 10:17] Danieladu commented on #6584
you mean the cards should rendered with different data? Do it like this screenshot:
![image](https://user-images.githubusercontent.com/7289268/112973492-f8739600-9183-11eb-9a8f-2fd4a9621958.png)

If so, you can check the below LG file:
[code]

the card would be rendered with `myDataList`

[2021-03-30 10:38] #5808 closed

[2021-03-30 12:51] lusk33 opened #6596 "Error while Provisioning Bot - Insufficient Privileges"
I'm trying to provision a bot in a friend's account wich my role is owner.
The provisioning starts but it sends an error:

![image](https://user-images.githubusercontent.com/68569843/112990511-87f55680-913c-11eb-8b4b-b7c6a0289300.png)

The error inside the file:
[code]

Edit:
I searched the web and found out that most of these problems are caused by the User App Registration being inactive.
It's n

[2021-03-30 14:49] hibrenda opened #6597 "Publishing page with skill manifest URL"
Per the design of new skill experience, skill manifest URL will be attached to the publish profile as below.
![image](https://user-images.githubusercontent.com/43408889/113008692-d55bdd00-91a9-11eb-8979-8b0ab0288f40.png)

Publishing page need to be updated correspondingly  as notification pop up is a transient way for URL info.

@Dewain27

[2021-03-30 15:08] stephanbisser opened #6598 "v1.4.0 nightly wrong property reference in memory"
## Describe the bug

In v1.4.0 (nightly, haven't checked the public version yet) if you want to refer to the recognized entities by LUIS, there is the option to insert a property reference from the context menu within the "Send a response" action, but unfortunately this inserts the reference wrong as it adds `turn.recognizedEntities` which does not refer to properties/entities in memory as it shou

[2021-03-30 16:29] msomanathan commented on #6491
@aparnaji could you please help with the information regarding the schema you are using?

[2021-03-30 16:36] cwhitten commented on #6595
@luhan2017 this is web only?

[2021-03-30 16:38] cwhitten commented on #6595
@a-b-r-o-w-n FYI in case the tenant selection changes may have caused this

[2021-03-30 16:39] cwhitten commented on #6594
@shubham8886 is it possible that the hostname used is incorrect?

[2021-03-30 16:47] hatpick commented on #6598
@cosmicshuai
https://github.com/microsoft/BotFramework-Composer/blob/d0ce8fee175cce3edefca52102bcc74a2c9cae41/Composer/packages/server/src/services/project.ts#L95

Can you revisit the list of default variables and fix them?

[2021-03-30 16:51] benbrown commented on #6595
The publishing is also broken in the web client.

![Screen Shot 2021-03-30 at 11 50 16 AM](https://user-images.githubusercontent.com/729873/113026025-3950b800-914e-11eb-80bd-3f22003df523.png)

[2021-03-30 17:04] aparnaji commented on #6491
I deleted the generated dialog and regenerated , Now it worked
Looks like if we map to particular type and generate dialog , subsequently map to different type and regenerate made the dialog generation fail.  Post deleting the dialog completely and regeneration of form dialog helped to fix the issue

[2021-03-30 18:15] msomanathan commented on #6586
@formore5points we are working on a major release, so apologies for the delay in getting to this issue. We will respond back with a resolution as soon as we can.

[2021-03-30 18:19] msomanathan commented on #6241
@aparnaji we are working on a major release, so apologies for the delay in getting to this issue. We will respond back with a resolution as soon as we can.

[2021-03-30 18:22] anusharavindrar commented on #6518
@hebaelfadly, let me attempt a repro on my end. Thanks for your patience.

[2021-03-30 18:22] msomanathan commented on #4054
@DingmaomaoBJTU this issue should be addressed with the release of R13 runtime.

[2021-03-30 18:31] msomanathan commented on #6491
Thanks @aparnaji for confirming the issue is fixed. Closing this issue.

[2021-03-30 18:31] #6491 closed

[2021-03-30 18:40] formore5points commented on #6586
@msomanathan As I have seen in my recent works, the value part of the input from the calendar does not work on the web chat, not the where function. Here is the ss (output of calender input):

![photo_2021-03-30_21-32-05](https://user-images.githubusercontent.com/50989796/113039214-17802100-91a0-11eb-9a43-b41b2e059866.jpg)

How can we ensure that the value field is not null ?

[2021-03-30 19:54] Andrea-Orimoto opened #6601 "[3/29 bugbash] Composer: create a bot project; dead end when trying to edit directory"
Originally created in ADO by Jonathan Fingold
https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58573/

1. Create resource in Azure and click Open in Composer.
2. Create a bot in Composer from scratch.
3. In Create a bot project dialog, start to edit the location and attempt to use TAB to auto complete the path.
4. Error: end up at a dead end. See attached image.

![image](https://user-

[2021-03-30 19:56] Andrea-Orimoto opened #6602 "[3/29 bugbash] App settings not populated when I "open in composer" to an existing bot"
From Nick Ericson https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58575/?triage=true

![image](https://user-images.githubusercontent.com/17152540/113048320-41f9bc00-9157-11eb-94f4-9b495cc11e40.png)

Should they be? What if the old bot was already published somewhere - does it overwrite the values or warn that there are already values or ???

## Version
v1.4.0-nightly.228616.da1ac55

[2021-03-30 19:58] Andrea-Orimoto opened #6603 "[3/29 bugbash] Composer UI unresponsive on selection of new or existing bot due to help us improve pop up"
from AJ Joshi https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58576/?triage=true

1. ABS - Composer handoff E2E flow
2. Create a new Azure Bot resource.
3. Click on "Open in Composer" from the Azure Bot resource .

![image](https://user-images.githubusercontent.com/17152540/113048553-86855780-9157-11eb-9a8c-6e99d762311e.png)

The help improve window is blocking all inputs. Cant cancel

[2021-03-30 20:00] Andrea-Orimoto opened #6604 "[3/29 bugbash] Renaming local folder then back again breaks connection"
From Jordan Berger https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58577/?triage=true

1. Open in Composer
2. Create a bot from scratch (EmptyBot-0)
3. Close Composer
4. Open in Composer - works
5. Rename the local bot project folder (EmptyBot-0 -> EmptyBot-1)
6. Open in Composer - doesn't work (expected)
7. Rename folder back to original (EmptyBot-1 -> EmptyBot-0)
8. Open in Composer

[2021-03-30 20:02] Andrea-Orimoto opened #6605 "[3/29 bugbash] Region dropdown list is not alpha or country alpha"
From nick ericson https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58585/?triage=true

![image](https://user-images.githubusercontent.com/17152540/113049052-0dd2cb00-9158-11eb-8d39-5f99cc4b08c7.png)

note: hai is saying that Azure's pattern is to have type down so you can search for it, and order is driven by capacity. please verify.

## Version
v1.4.0-nightly.228616.da1ac55

[2021-03-30 20:03] Andrea-Orimoto commented on #6605
check all drop downs (e.g. subscriptions)

[2021-03-30 20:04] Andrea-Orimoto opened #6606 "[3/29 bugbash] Unclear what template "name of your services" should be"
from nick ericson https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58586/?triage=true

Is this a predicate that is added in from of some other string(s)?

![image](https://user-images.githubusercontent.com/17152540/113049407-7457e900-9158-11eb-8976-10a777ec5078.png)

What resources are created?

## Version
v1.4.0-nightly.228616.da1ac55

[2021-03-30 20:05] Andrea-Orimoto commented on #6606
This is especially true when coming from ABS and completing an incomplete provisioning profile. It is not clear that the dialog is asking for the name of the app service.

[2021-03-30 20:07] Andrea-Orimoto opened #6607 "[3/29 bugbash] Publishing a bot with App Insights doesn't hook up app insights"
From nick ericson https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58592/?triage=true

1. Create bot
2. Open in composer, edit publish profile
3. See app insights... add it
4. (notice app insights is not listed in the Project Settings... maybe those are "local settings" vs "published bot settings")
5. Go to Azure
6. (notice the settings is not updated)

![image](https://user-images.git

[2021-03-30 20:08] Andrea-Orimoto opened #6608 "[3/29 bugbash] Cancel auth dialog during publish gives "something went wrong" instead of canceling or "auth denied""
from nick ericson https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58593/?triage=true

![image](https://user-images.githubusercontent.com/17152540/113049904-0cee6900-9159-11eb-936d-14ba6d6cb3d5.png)

## Version
v1.4.0-nightly.228616.da1ac55

[2021-03-30 20:10] Andrea-Orimoto opened #6609 "[3/29 bugbash] [Composer publishing profile] Required to have at least one optional resource"
from Mike Bennet https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58609/?triage=true

When trying to edit my publishing profile, I can't proceed past this step without adding a supposedly optional resource. Any one will do, but one is required.
![image](https://user-images.githubusercontent.com/17152540/113050126-5a6ad600-9159-11eb-89a4-f0e68165d56b.png)

## Version
v1.4.0-nightly.2286

[2021-03-30 20:13] Andrea-Orimoto opened #6610 "[3/29 bugbash] Open Azure bot resource in composer dialog is too wide"
From Em Ivers https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58620/?triage=true

Dialog as implemented is very wide:
![image](https://user-images.githubusercontent.com/17152540/113050357-99009080-9159-11eb-8aff-075fdaee87da.png)

Should be ~480px wide, as designed:
![image](https://user-images.githubusercontent.com/17152540/113050373-9c941780-9159-11eb-96c2-5ea9a7fc4c74.png)

## Vers

[2021-03-30 20:14] Andrea-Orimoto opened #6611 "[3/29 bugbash] Incorrect copy in open dialog"
from Em Ivers https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58621/?triage=true

The dialog for adding Azure bot resource to an existing bot has incorrect copy.

As implemented:
![image](https://user-images.githubusercontent.com/17152540/113050547-d06f3d00-9159-11eb-8598-f682f3a9d632.png)

Should be:
![image](https://user-images.githubusercontent.com/17152540/113050566-d533f100-9159-

[2021-03-30 20:16] Andrea-Orimoto opened #6612 "[3/29 bugbash] [Feedback] Add back button after the "Open an Azure Resource" modal?"
from Mealanie https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58651/?triage=true

Minor feedback, but in this modal:
![image](https://user-images.githubusercontent.com/17152540/113050825-2217c780-915a-11eb-93ad-1d30b1553340.png)

after I select a radio button and click Open, I either go to the "Select a template modal" or "Select a bot". When I hit cancel in either screen, the modal j

[2021-03-30 20:21] Andrea-Orimoto opened #6613 "[3/29 bugbash] The Composer resource selection in the provisioning/deployment dialog needs a select all/deselect all checkbox"
from andreo https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58676/?triage=true

You have to deselect one by one!
![image](https://user-images.githubusercontent.com/17152540/113051442-d1ed3500-915a-11eb-9628-34b04570350c.png)

## Version
v1.4.0-nightly.228616.da1ac55

[2021-03-30 20:35] dmvtech commented on #6422
Closing as answered.

[2021-03-30 20:35] #6422 closed

[2021-03-30 20:40] Andrea-Orimoto opened #6614 "[3/29 bugbash] [Cumulative issue] Repeating auth prompts - 2 main issues"
1. people reported being prompted too many times for auth during the flow
2. specific to the ABS flow, if users open composer from Azure (clicking on "open in composer" from ABS), then they should net be prompted for auth at all. Can't we pass a auth token or something like that?

## Version
v1.4.0-nightly.228616.da1ac55

ADO issues
https://fuselabs.visualstudio.com/BotFramework/_queries/edit/5858

[2021-03-30 20:42] Andrea-Orimoto opened #6615 "[3/29 bugbash] Is the bot warmed up when published?"
from nick ericson https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58596/?triage=true

It seems to take a while to respond to the 1st message. Is the bot warmed after deploy?

If not it would be nice to so JIT, etc are done.

## Version
v1.4.0-nightly.228616.da1ac55

[2021-03-30 20:45] Andrea-Orimoto opened #6616 "[3/29 bugbash] Not able to open an Azure Bot in Composer"
from melanie https://fuselabs.visualstudio.com/BotFramework/_queries/edit/58635/?triage=true

note: the ADO bug contains videos! please refer to those above.

Updated Composer to 1.4.0-nightly.228616.da1ac55 and checked on New Creation Experience.
Visit this link https://ms.portal.azure.com/?microsoft_azure_marketplace_ItemHideKey=BotWithComposer&Microsoft_Azure_BotService=friendName&Microsoft_Azu

[2021-03-30 20:47] Andrea-Orimoto opened #6617 "[3/29 bugbash] Add a link back to the Azure portal somewhere"
from nick ericson https://fuselabs.visualstudio.com/BotFramework/_workitems/edit/58595/?triage=true

You come from azure, get to composer, then I publish... but I want to configure channels, check online webchat, see if the app restarted, check logging, etc. Would be nice to have a link back.

[2021-03-30 21:02] beyackle commented on #6559
I think this can be closed once those two PRs merge; I've double-checked the list and the one remaining issue that looks unsolved (the "focus moves backward" one) I wasn't able to duplicate.

[2021-03-30 22:23] clearab opened #6619 "Package Manager default feeds"
I need to be able to restore the default package feeds in Composer if I edit them. Currently, the correct URLs to include for NuGet/npm are obscure.

Also, if you delete the NuGet feed currently, Composer displays an obscure error. It should:

- remember the last feed I selected, and display that first
- If the feed it is trying to load doesn't exist, load the first valid feed in the list
- If no

[2021-03-30 23:15] dmvtech commented on #6552
Hi @formore5points You are no longer able to reproduce the error? I wasn't able to reproduce it myself.

@praneeth1987

I am running your test bot, but I am also not able to reproduce the error. Can you let me know what the flow/path/choices I should be using to reproduce? I don't think i'm understanding the correct flow.

[2021-03-30 23:56] carlosscastro commented on #6619
Likely or partially getting fixed here: https://github.com/microsoft/BotFramework-Composer/pull/6579

[2021-03-31 00:02] luhan2017 commented on #6595
@cwhitten @a-b-r-o-w-n , Yes, this is web only, electron works well. That may caused by the tenant switch feature, user don't need to select tenant for the web case, we may just show them the tenant associated with that token.

![image](https://user-images.githubusercontent.com/32191031/113071498-6d33e800-91f7-11eb-88f5-d8edb7b85b60.png)

[2021-03-31 00:09] #6619 closed

[2021-03-31 00:16] formore5points commented on #6552
@praneeth1987 Sorry I forgot, I was a little busy. I did not observe the error yet by running the bot, but even when I saw it, I understood where the error was If you are still interested I can help. I don't know how much our time difference is, but if you return within an average of 12 hours, I can solve your problem.

@dmvtech Yes I am not but praneeth had give the path in his previous comments.

[2021-03-31 00:24] zhixzhan commented on #2376
@gary-x0pa Yes, our current strategy is exclude customize folder from composer management, if files in composer named path like
[code]
composer will apply some reformat or migration on those files inside.

[2021-03-31 02:13] luhan2017 commented on #6202
This is resolved by this PR #6471

[2021-03-31 02:13] #6202 closed

[2021-03-31 02:14] luhan2017 commented on #5843
Offline synced with Eyal, the issue is due to name conflict and is resolved by giving another name to the qna service.

[2021-03-31 02:14] #5843 closed

[2021-03-31 02:15] luhan2017 commented on #5697
This should be fixed in the 1.4

[2021-03-31 02:15] #5697 closed

[2021-03-31 02:16] cosmicshuai commented on #6598
@stephanbisser @hatpick
I double checked the TurnPath in SDK, https://github.com/microsoft/botbuilder-dotnet/blob/d299138cdc41aa4782bc0918fffdba2ab13d664a/libraries/Microsoft.Bot.Builder.Dialogs/Memory/TurnPath.cs#L53
I think `turn.recognizedEntities` is right.

[2021-03-31 02:17] luhan2017 commented on #5695
This should be fixed by #6467

[2021-03-31 02:17] #5695 closed

[2021-03-31 02:19] luhan2017 commented on #5459
The switch tenant feature is already supported in our latest nightly bits by this PR #6542.

[2021-03-31 02:19] #5459 closed

[2021-03-31 02:57] zhixzhan commented on #6512
Hi @hibrenda @sangwoohaan , before this new design, I figure out a solution to support display/edit referenced intent as well as it is in current file inside, no matter where actually the intent is, it behavior same. Do you think it's reasonable or we should take this new design?
This is the PR
https://github.com/microsoft/BotFramework-Composer/pull/6536

[2021-03-31 04:10] #6461 closed

[2021-03-31 04:37] #6463 closed

[2021-03-31 06:07] shubham8886 commented on #6594
@cwhitten My messaging endpoint is "https://botcr-9401-dev.ase2-dev-paas.p.azurewebsites.net/api/messages"

and my bot framework composer is trying to publish at botcr-9401-dev.scm.azurewebsites.net,
con you help me to change the configuration of bot framework composer so that it will route me to https://botcr-9401-dev.ase2-dev-paas.p.azurewebsites.net/

For more detail please refer attachment: do

[2021-03-31 06:08] shubham8886 commented on #6594
@cwhitten i am currently using bot framework composer (v1.3.1)

[2021-03-31 06:26] boydc2014 commented on #6598
Can we confirm this with a real case? At least turn.recognized.entities is the long using format. Maybe turn.recognizedEntities is an alias, or even an unimplemented alias.

[2021-03-31 07:23] #6489 closed

[2021-03-31 08:54] goergenj commented on #6397
@zxyanliu OK. Thanks. One last comment on the accessToken which you should pass on potentially. If I remove the accessToken setting or set it to an empty value, the publishing will produce an error message. The publishing will work however as expected. Only this error message should be avoided to stop confusing users on irrelevant errors.

[2021-03-31 09:00] formore5points commented on #6552
@praneeth1987 Can you give a exact path that the where error occurs ?

[2021-03-31 09:31] formore5points commented on #6552
@praneeth1987 I attached the bot and transcripts as zip. You can check it out. You may need to go through these processes where necessary in the dialogue. I have drawn a flow to help you understand the error better. While you have to follow the A path, there is a problem in the dialogue flow because you are going the B path. I recommend you to read the dialogID and Dialog Stack sections in the lin

[2021-03-31 09:38] cosmicshuai commented on #6598
After digging the source code, there are some differences between `turn.recognizedEntities` and `turn.recognized.entities`
Here is an example:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/17074777/113120726-77300800-9244-11eb-9182-fa70ab98a349.png)

1. `turn.recognizedEntities` is an array of EntityInfo,  `turn.recognized.entities` is a JObject.
     If you want to analyze the