[2020-09-16 21:54] #4120 closed

[2020-09-16 22:57] #4099 closed

[2020-09-17 00:35] #4127 closed

[2020-09-17 01:57] knightmeister commented on #4154
I just thought I would provide an update to assist in diagnosing this issue.

I was trying to provision the resources in a colleagues Azure account, for which I had the permissions as an account owner - this was failing.

I activated my MSDN Azure Benefits and was able to create it in my own Azure account.

[2020-09-17 02:00] luhan2017 commented on #4136
@Bernardo08pt , thanks for reporting this, there is a bug in our azure deployment logic, we take the language field from the publishing profile instead of defaultLanguage, you can mitigate this issue by just updating your profile, replace the defaultLanguage with language.

[code]

[2020-09-17 02:20] knightmeister opened #4165 "Why does the provisioning process create an Azure Search client & qnahost app service"
Running the provisionComposer.js command as recommended in the [docs](https://docs.microsoft.com/en-us/composer/how-to-publish-bot)

[code]

Creates many resources. These are all self explanatory with the exception of the `[name]-dev-qnahost` and `[name]-dev-search` resources.

I'm particularly curious about the search service given the high cost of the service.

[2020-09-17 03:05] VanyLaw opened #4166 "server/src/locales/en-US.json will be updated every time composer build & run."
## Describe the bug
After I pull the main and build and run it. the en-Us will be updated. Are these changes need to be checked into main branch?

FYI.
![image](https://user-images.githubusercontent.com/21174180/93415129-5f5eeb00-f8d5-11ea-9f4a-c3c784f77c66.png)
![image](https://user-images.githubusercontent.com/21174180/93415146-684fbc80-f8d5-11ea-8b7e-7fdc8fb63a0e.png)

## Version

## Browser

-

[2020-09-17 03:06] #4087 closed

[2020-09-17 03:06] #4122 closed

[2020-09-17 03:11] yeze322 opened #4167 "Align UI Widget's area with UI Schema"
## Describe the bug
**Problem**
Ideally, the PluginConfig should be consists of two parts
1. UI schema - a series of JSON which defines how to show Action / Trigger / Recognizer
2. UI widgets - which defines React components and can be referenced in UI Schema

In current code base, the PluginConfig is defined as below.
[code]
The `uiSchema` already has a clear definition, it's divided into several

[2020-09-17 09:54] Reeso1983 commented on #4095
I've taken your example and it works, until I set Allow Interruptions to true. Even if I then add a main dialog intent trigger of help, interruptions still don't work. Is it incorrect of me to expect this to work?

![image](https://user-images.githubusercontent.com/66425585/93455269-08a4e180-f8d4-11ea-90de-091fd1246d3e.png)

[2020-09-17 11:13] liweitian opened #4168 "qna files migration errors."
## Describe the bug
Create a new todoluisbot. Then check global qnaFile state. You can see the number of qnafiles is not the same as dialog files.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down t

[2020-09-17 12:56] cwhitten opened #4170 "Allow deep-linking to support $designer.id based lookup"
Currently we use an index-based deep-linking system, like:

` /bot/37059.088861680364/dialogs/deleteitem?selected=triggers[0]&focused=triggers[0].actions[2].elseActions[1].elseActions[0]`

where you can see the index of the triggers and actions clearly in query parameter.

PVA has asked that we also support ID based lookups, as their storage layer breaks apart the triggers configured on a dialog a

[2020-09-17 14:29] vishwacsena commented on #4095
See attached sample for `allow interruption`. Without seeing your actual bot its hard to tell why it is not working but hopefully you can deduce based on this sample.

[EchoBot-0.zip](https://github.com/microsoft/BotFramework-Composer/files/5239811/EchoBot-0.zip)

[2020-09-17 14:35] cwhitten commented on #4166
@beyackle can you comment here?

[2020-09-17 14:37] cwhitten commented on #4159
Hi @JonasBergholz

Something is likely broken in your bot, likely within the configuration of the Dialog that is causing the different in behavior. What you say the LUIS itself seems to work fine, what do you mean? Are you seeing LuisTrace logs when using the Emulator?

[2020-09-17 15:01] dmvtech commented on #4165
@knightmeister  QnAMaker resources require both of these. If you create a QnAMaker resource outside of a bot or Composer, you will see these created as well. I'm not familiar with the intricacies of these resources and why they're needed for QnAMaker (it's not really in our Bot wheelhouse), but you may find some more information [here](https://docs.microsoft.com/en-us/azure/cognitive-services/qnam

[2020-09-17 15:30] soappp commented on #4091
I'm sorry for my late reply (due to some trouble with my account).
Here is the result:

[code]

The same proxy server is also set in Internet Options.

[2020-09-17 15:33] sandeepreddy0987 commented on #4141
@mchelen do we have any solution for this?

[2020-09-17 17:02] dmvtech commented on #4091
Ok, thanks. I'm investigating further.

[2020-09-17 18:30] Reeso1983 commented on #4095
@vishwacsena I've used your latest attached, you have made the exact change i did to your previous example and it unfortunately doesn't work. Behaves exactly as mine does. When you turn allow interuptions to true the latest luis result is unfortunately the interruption check. See below, there are 3 luis traces. The first two are identical (first image) (And i'm not sure why there are two either) a

[2020-09-17 20:11] tdurnford opened #4172 "The setSettings dispatcher should update the skills state"
Since the skills state is dependent on the settings states, the setSettings dispatcher should updated the skills state when the skills related settings are updated.

[2020-09-17 21:28] #4031 closed

[2020-09-17 23:06] dmvtech commented on #4154
Thanks for the follow up @knightmeister. Glad you got it working.

[2020-09-17 23:06] #4154 closed

[2020-09-18 00:29] dmvtech commented on #4141
@sandeepreddy0987 I think your value being sent to `DisplayRiskScore()` is still a **string** (I see you casting as **int** in other places).

Try changing the SendActivity_ZTk290() to:
`- ${DisplayRiskScore(int(user.totalscore))}`

[2020-09-18 00:36] sandeepreddy0987 commented on #4141
omg!! Thanks for observing it @dmvtech

[2020-09-18 00:36] #4141 closed

[2020-09-18 00:40] dmvtech commented on #3943
I'm unable to reproduce this. Are you able to share a (private is fine) Github repository (sanitized for personal/sensitive info) of the bot with me? Or let me know if you can get me the bot in another way so that I can see if I can reproduce.

[2020-09-18 00:40] dmvtech commented on #4141
🤘🏻

[2020-09-18 01:13] xieofxie opened #4174 "[UI Plugin] support multiple publishes and pages in one plugin"
## Is your feature request related to a problem? Please describe.

Currently in our definition https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/plugins/sample-ui-plugin/package.json, publish and page are keys which means we could only add one for each in one plugin.

## Describe the solution you'd like

Change it to array so we could add multiple publishes and pages in one plu

[2020-09-18 01:17] xieofxie opened #4175 "[Plugin] how to get current project id?"
## Is your feature request related to a problem? Please describe.

Our apis are based on project id https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/server/src/router/api.ts. However, I don't find a way to get current project id (like here https://github.com/microsoft/BotFramework-Composer/tree/main/Composer/plugins)

## Describe the solution you'd like

Provide a fun

[2020-09-18 01:31] knightmeister commented on #4154
No worries. To be clear though, there is a bug here that should probably be investigated at some point; I don't expect everyone using Composer is going to have their own Azure account.

[2020-09-18 02:54] yeze322 commented on #4170
@cwhitten Does it mean that we will support two kinds of URI format and can switch between them via composer settings?

[2020-09-18 06:42] yeze322 opened #4177 "Improve UI Schema merge priority and merge strategy"
## Describe the bug

Use this issue to figure out what strategy we need under different scenarios.

Currently, uischema comes from 3 sources:
1. File `schemas/sdk.uischema`
2. File `schemas/sdk.override.uischema`
3. UI plugins

To shape an expected uischema, two things matter to uischema authors:
1. **Priority**: which source will override other sources?
2. **Strategy**: how a high priority schema

[2020-09-18 06:55] yeze322 commented on #4177
@GeoffCoxMSFT Geoff do you have some suggestions?

[2020-09-18 07:13] Reeso1983 commented on #4095
@vishwacsena @cwhitten Can we please re-open this as it has not been resolved? I have updated the title slightly now that we better understand the issue.

[2020-09-18 08:03] karloberas commented on #1829
Need help on this, I'm unable to send form-data in the body of my HTTP request. The server does not receive the body content.

I tried with object
![image](https://user-images.githubusercontent.com/7484848/93572177-0ae86800-f9c8-11ea-8332-37fbcf7f39c4.png)

and with string
![image](https://user-images.githubusercontent.com/7484848/93572387-5c90f280-f9c8-11ea-9b39-a0de68be0c14.png)

on both cases,

[2020-09-18 08:04] #4168 closed

[2020-09-18 08:16] jintu123 opened #4178 "Entity extraction"
Hello,

I am trying to get the value of an entity in the the Text input user.greet variable.
I am able to see that LUIS Machine Learning Entity is Getting populated. But the value is not getting returned and stored in the user.greet variable. So the dialog is getting repeated.
![image](https://user-images.githubusercontent.com/15074288/93573321-97892b00-f9b4-11ea-8426-1ab785247e12.png)
![image](ht

[2020-09-18 08:45] goergenj commented on #3675
@vishwacsena Have you tested deploying a LUIS app with the errorneous syntax? This is where our process failed which is why we raised this as an issue. ANything that cannot be properly deployed and will cause a deployment to be inconsistent or stalling should be flagged by the syntax checker, of possible.

[2020-09-18 08:46] goergenj commented on #3318
@cwhitten Any update on potential timeline for this?

[2020-09-18 08:49] goergenj commented on #3317
@pchoudhari Any update on this? Will you do something about this feature or at least correct the documentation to avoid people being misled? Is this something that will be completey new with QnAMaker v2?

[2020-09-18 08:50] goergenj commented on #3316
@cwhitten Any update on potential timeline for this?

[2020-09-18 08:50] goergenj commented on #3315
@benbrown @cwhitten Any update on potential timeline for this?

[2020-09-18 11:58] dredondoc opened #4179 "It's possible send a image using a HTTP Post request?"
It's possible send a image using a HTTP Post request?
I need send a image previously catched from a conversation with my bot to ASP.NET Web API but I don't know.
The image is saved as _${user.attachments}_

I need this image to insert it in a document using C#

Does anyone know how to do it?

Thanks

[2020-09-18 12:33] BeheraMadan commented on #4156
++Reminder

Hi Team,

We are stuck with this issue for past few weeks it will be great if anybody help us on resolving this issue.

Thanks,
Madan

[2020-09-18 12:44] pchoudhari commented on #3317
Hi @goergenj , sorry I misspoke in my previous comment.

The userId in the GenerateAnswer API is used in the telemetry we store in the User's App Insights. See more details here: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/get-analytics-knowledge-base

[2020-09-18 13:12] cxbuilders commented on #4093
@Stevenic Thanks a lot for the code, I have it successfully implemented!

Did not need to add the callback to the ComposerBot constructor as I get the IBot from dependency injection, since it is a custom controller and I could just call _bot.OnTurnAsync().

Below the code for reference:
`using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Microsoft.Bot.Builder;
using Microsoft.Bot.

[2020-09-18 13:25] UmaPrelude opened #4180 "Microsoft.Bot.Builder.Dialogs.Adaptive.Recognizers.MultiLanguageRecognizer - Value cannot be null"
Hi,

I am facing the below issue in email channel, I have set all the required LUIS settings in bot settings, i am not sure what i am missing, if i get some clue, it will help me a lot.

![image](https://user-images.githubusercontent.com/65938026/93601769-4cd0d880-f9df-11ea-8d18-e8cc0be47804.png)
![image](https://user-images.githubusercontent.com/65938026/93602530-57d83880-f9e0-11ea-8288-28c19bff6

[2020-09-18 14:40] GeoffCoxMSFT opened #4181 "Merge ExpressionField and OneOfField"
Part of improving expression inputs

[2020-09-18 14:42] GeoffCoxMSFT opened #4182 "Update OneOfField to latest designs (icon dropdown at beginning of field)"
Part of improving expression inputs

[2020-09-18 14:43] GeoffCoxMSFT opened #4183 "Update individual fields (BooleanField, etc..) to latest designs"
Part of improving expression inputs

[2020-09-18 14:44] GeoffCoxMSFT opened #4184 "Make expressions separate from type selection, leveraging Intellisense for discoverability"
Part of improving expression inputs

[2020-09-18 14:45] GeoffCoxMSFT opened #4185 "Leverage validation on returned type of expressions"
Part of improving expression inputs

[2020-09-18 14:48] GeoffCoxMSFT opened #4186 "Update json that validates the uiSchema, adding a new intellisense field."
Part of updating schema to support better intellisense

[2020-09-18 14:50] GeoffCoxMSFT opened #4187 "Update the uiSchema, adding the mapping between components and Intellisense options."
Part of updating schema to support better intellisense

[2020-09-18 14:51] GeoffCoxMSFT opened #4188 "Update Composer logic to leverage the uiSchema when initializing the IntellisenseField."
Part of updating schema to support better intellisense

[2020-09-18 14:52] GeoffCoxMSFT opened #4189 "Integrate Intellisense into remaining (17) components that can benefit from it."
Part of updating schema to support better intellisense

[2020-09-18 14:53] GeoffCoxMSFT opened #4190 "Add support for @{entity} to the Intellisense language server."
Part of improved intellisense

[2020-09-18 14:54] GeoffCoxMSFT opened #4191 "Update IntellisenseField component and hook to understand @{entity} type."
Part of improved intellisense

[2020-09-18 14:55] GeoffCoxMSFT opened #4192 "Integrate @{entity} type into relevant components (using uiSchema)"
Part of improved intellisense

[2020-09-18 14:56] GeoffCoxMSFT opened #4193 "Update Intellisense server to support this. & settings. memory scopes"
Part of improved intellisense

[2020-09-18 14:57] GeoffCoxMSFT opened #4194 "Improve Intellisense suggestion list by displaying the expected input types and the returned type of expressions on hover."
Part of improved intellisense

[2020-09-18 14:58] GeoffCoxMSFT opened #4195 "Investigate how to group expressions, where the data should live and how to bring it to Composer."
Part of improved intellisense

[2020-09-18 14:59] GeoffCoxMSFT opened #4196 "Update Intellisense language server to be able to return those grouped expressions when expression field is empty."
Part of improved intellisense

[2020-09-18 15:00] GeoffCoxMSFT opened #4197 "Build UI to display grouped expressions"
Part of improved intellisense

[2020-09-18 15:01] GeoffCoxMSFT opened #4198 "Add descriptions to staticMemoryResolver.defaultProperties properties."
Part of improved intellisense

[2020-09-18 15:01] GeoffCoxMSFT opened #4199 "Capture variables paths alongside their value"
Part of investigating how to make intellisense variables context specific

[2020-09-18 15:03] GeoffCoxMSFT opened #4200 "Build a graph of components <-> variables to be able to know if a variable can be reached from a specific component"
Part of investigating how to make intellisense variables context specific

[2020-09-18 15:03] GeoffCoxMSFT opened #4201 "Add path to LSP messages requesting completion in order to filter relevant variables"
Part of investigating how to make intellisense variables context specific

[2020-09-18 15:05] GeoffCoxMSFT opened #4202 "Fix current validation which is not working correctly (such as expressions)"
@LouisEugeneMSFT - we need to call out the specific instances here if you plan on fixing all at once, or you can file individual bugs per instance.

[2020-09-18 15:18] GeoffCoxMSFT opened #4203 "Optimize unnecessary extra validations (eg arrays of items that cause validation on every children)"

[2020-09-18 15:19] GeoffCoxMSFT opened #4204 "Explore improved validation architecture between platform and authoring"

[2020-09-18 15:30] tomlm opened #4205 "Composer overwrites recognizer settings"
## Describe the bug

Recognizers have settings, in particular LUIS Recognizer has settings.  Composer overwrites the .lu.dialog file instead of maintaining the settings.

## Version

1.1.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a LU file

[2020-09-18 16:35] dmvtech commented on #4159
Hi @JonasBergholz

Checking in. Can you please give us more information per Chris's questions?

[2020-09-18 16:46] #4172 closed

[2020-09-18 16:49] v-kydela commented on #4180
@cwhitten - This looks like it could be another case of adaptive dialogs not knowing how to handle missing or unrecognized locales in incoming activities.

@UmaPrelude - Please provide the following:

1. Repro steps
1. Your relevant dialog files
1. Links to documentation/samples you've been following

[2020-09-18 17:32] a-b-r-o-w-n commented on #3318
@goergenj we are investing in the extension platform for this release cycle (11/11). We can consider this during that work, but may want to defer to the next release as we develop the core capabilities.

If you have thoughts or want to propose a design for this, that would be welcomed!

[2020-09-18 18:10] #4136 closed

[2020-09-18 20:07] v-kydela commented on #4062
I'm now thinking that this probably has nothing to do with skills. I've had a look at the source code and didn't see anything that would indicate skill dialogs being a special case that cancels all dialogs. I suspect the LUIS trigger is what's cancelling all dialogs on the stack or just replacing the active dialog with the skill dialog instead of adding it on top.

@shefalikuk - We'll need to see

[2020-09-18 20:47] cwhitten commented on #4093
Closing and pinning this issue for visibility.

[2020-09-18 20:47] #4093 closed

[2020-09-18 22:17] Stevenic commented on #4103
@cwhitten  because I didn't know they were supported :)

You should list them on the menu...

[2020-09-19 00:02] tdurnford opened #4208 "Consider adding additional fields to ui schema"
## Description
Currently, to add additional fields to the Property Editor, you have to override the root field with a component that renders the additional fields and the `<ObjectField />` that renders the rest of the form. For example, the Select Skill Dialog's plugin config overrides the root field with the `<BeginSkillDialogField />` component, which renders an additional field - `<SelectSkillD

[2020-09-21 02:43] boydc2014 commented on #4205
@tomlm did you manually edited the generated .lu.dialogs?

the context, we don't support luis-predication options in bf-cli (which we previously support then reverted the support), because of predication options is not expression
https://github.com/microsoft/botbuilder-dotnet/issues/4149

[2020-09-21 02:56] boydc2014 opened #4209 "Base model management in Composer for Orchestrator"
To support orchestrator as a LU alternative, once we bring in orchestrator lib in composer, we need to do a few things to manage the base models,
1. pick a location to store the base models
2. query the base model list and get an available model list, user should be able to select from the list.
3. download and save the model in the picked location. The timing for downloading the base model is the

[2020-09-21 07:30] beginnerUserChris opened #4211 "Error: Cannot read property 'utterances' of undefined"
Hello,

I am new to Bot Framework Composer and I have been developing a chat bot. I am currently receiving the message:
"Sorry, something went wrong with publishing. Try again or exit out of this task.
Cannot read property 'utterances' of undefined"

I am not sure how this error happened or how to resolve it. Unfortunately, after hours of looking at each part of my project I still have been unable

[2020-09-21 08:25] luhan2017 commented on #4180
I saw the fix was cherry-picked in 4.10 branch(https://github.com/microsoft/botbuilder-dotnet/commits/4.10), but I didn't find a patch release package, could we ask the sdk team to have a new patch release(4.10.4) on this and include that fix in composer. We have received several issues related to this already. @cwhitten @v-kydela

[2020-09-21 08:43] luhan2017 commented on #4178
@jintu123 I can't reproduced on my side. Here is my bot, and here is the behavior in emulator, could you share more information here, your bot, your LuisV3 Trace?

![image](https://user-images.githubusercontent.com/32191031/93747574-7c732100-fc29-11ea-9a20-a0bc4fdc81f8.png)

![image](https://user-images.githubusercontent.com/32191031/93747610-885ee300-fc29-11ea-9ca5-82d7fa1aedd0.png)

[2020-09-21 08:51] luhan2017 commented on #4157
@ltwlf We need this to be true, when it is skill mode. otherwise the conversation will always stay in skill bot, and will never end.
Could you explain more on how to you want to change this?

[2020-09-21 09:41] boydc2014 commented on #4211
@beginnerUserChris from a first glance, the luis app setup looks to be expected, and this appears to be an internal null object reference issue. Can you zip you bot assets and attach here ?

[2020-09-21 09:58] eluchsinger opened #4213 "Microsoft Teams file handling"
## Describe the bug

If I send a file using MS Teams, the bot will not receive the file like it does on the WebChat or Bot Framework Emulator.

The Teams Bot's `supportsFile` flag is set to true.

## Version

v1.1.1

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Import the bot to Microsoft Teams
2. Send a File to the bot
3. The bot will not ha

[2020-09-21 10:22] boydc2014 opened #4214 "Rendering optimization"
One of the cause of #4102 is we are having too much rendering at every key stroke, based on the investigation in #4210, one key stroke will trigger 10+ rendering of a single TextField.

Use this ticket to track, what we can do to optimize our rendering flow. We need to reduce unnecessary rendering  which probably requires us to reshape or redesign our state.

[2020-09-21 10:29] boydc2014 opened #4215 "Base model management in runtime for Orchestrator"
Related to #4209.

Given the size of base model is pretty large (400+ MB for one language), it makes sense to let Composer app and runtime both manage it's own model downloading, saving, refering without have to exchange base model(s).

This ticket to track the work on runtime side, including
- [ ] pick location to store base models
- [ ] detect the base model version from bot assets
- [ ] auto-do

[2020-09-21 12:22] BeheraMadan commented on #4156
++ Reminder

[2020-09-21 12:30] cdonke opened #4216 "bug: OAuth card on Teams not working"
## Describe the bug
Trying to authenticate on Teams... Added the OAuth SignIn Card, but nothing happens when clicked.
Authentication works on other channels.

## Version
![image](https://user-images.githubusercontent.com/4707327/93766206-71e66680-fbec-11ea-857c-adb5f00335b3.png)

## Browser
- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ X ] Edge

## OS
- [ ] macOS
- [ X ]

[2020-09-21 15:24] nitroin commented on #4118
Today we tried Telegram channel as a fallback. The same issue arise.

To repro the issue you can try to deploy the template "Todo with LUIS".

[2020-09-21 15:43] nitroin opened #4218 "Object reference not set to an instance of an object."
# Describe the bug

Unable to use bots built with LUIS on any channel (Facebook, Twilio or Telegram - maybe others too).

## Version

v1.1.1-nightly.167623.9ba5e84

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Appendix:
a. Create a Languange Understanding

[2020-09-21 16:05] cwhitten commented on #4174
@xieofxie what are you trying to do?

[2020-09-21 16:11] cwhitten commented on #4156
@garypretty this may need to be transferred to SDK, but as you were working in this area recently I thought you could give it a glance.

[2020-09-21 16:13] cwhitten commented on #4218
Hi @nitroin. You are correct that this is is a duplicate issue. I'm going to close this and ask that you follow https://github.com/microsoft/BotFramework-Composer/issues/4118 for updates. Thank you.

[2020-09-21 16:13] #4218 closed

[2020-09-21 16:22] a-b-r-o-w-n commented on #4208
Should the `additionalFields` type be expanded to allow the form builder to render default fields as well?

Maybe something like:
[code]

This would also allow users to reference the field name in other ui schema properties.

[2020-09-21 16:27] tdurnford commented on #4208
Yea, I think supporting JSONSchema7 in the `additionalFields` is a great idea.

[2020-09-21 16:29] a-b-r-o-w-n commented on #4208
Another thing to think about though is handling the `onChange`. What would be the behavior of an additional field defined with a json schema?

[2020-09-21 16:29] cwhitten commented on #3794
@mareekuh please use other labels to not pollute tracking on the engineering side

[2020-09-21 16:31] cwhitten commented on #3998
@a-b-r-o-w-n how does Composer know which extensions are missing?

[2020-09-21 16:33] tdurnford commented on #4208
Yea, that's a good question. The `select-skill-dialog` ui-plugin passes the object's `value` and `onChange` handler to the additional field because it needs to set multiple multiple fields in the object when the user selects a skill - `skillEndpoint` and `skillAppId`. However, that may not be ideal for JSONSchema7 additional fields.

[code]

[2020-09-21 16:34] a-b-r-o-w-n commented on #3998
This would be extensions that exist in the manifest database, but are not installed. This scenario supports custom flavors of composer by launching a bot with certain extensions enabled & configured. I imagine PVA would want to do this for bots opened using the protocol handler.

[2020-09-21 16:54] v-kydela commented on #4216
@cdonke - Did you add token.botframework.com to your Teams app manifest's `validDomains` property as documented [here](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/authentication/add-authentication#install-and-test-the-bot-in-teams) and [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication#adding-teams-authentication)?

[2020-09-21 16:59] cdonke commented on #4216
Yes...
With and without *.ngrok.io as well...

[2020-09-21 18:00] GeoffCoxMSFT opened #4219 "Spike: Get i10n files into ADO and create build pipeline"

[2020-09-21 18:01] GeoffCoxMSFT opened #4220 "Replace resizer with react-splitter (embed code) in Composer"

[2020-09-21 18:05] v-kydela commented on #4213
Thank you for the report, @eluchsinger

I think your expected behavior may not be correct. A lot of things can be considered channel-specific, like attachments. The ability to upload a file to a conversation is dependent on the client application allowing you to do so, and that makes it channel-specific behavior. Is the bot really not receiving the attachment at all, or is it just not handling the

[2020-09-21 18:21] cwhitten commented on #4216
@cdonke we believe the following PR is related https://github.com/microsoft/botbuilder-dotnet/pull/4677

This will be in the next set of SDK nightly packages for you to use and verify.

[2020-09-21 18:22] garypretty opened #4222 "New UI on Skills page for enabling / disabling skill and managing allowed callers list"
## Is your feature request related to a problem? Please describe.

We need to provide users of Composer the ability to manage the following via the UI.

- The new IsSkill setting introduced into the SDK, to indicate if a bot should allow itself to be consumed as a skill.
- The AllowedCallers list

The runtime changes related to this are currently in PR https://github.com/microsoft/BotFramework-Com

[2020-09-21 18:29] garypretty commented on #4156
Hi @BeheraMadan.  This is likely to be related to the channel that you are using or how you have implemented it.  The User count is based on the From.Id on the incoming activities to the bot, with a distinct count of these IDs being used to return the number. You might find that in your implementation that the User ID is either blank or the same for all requests. This is not uncommon if the bot is

[2020-09-21 18:35] garypretty commented on #4008
I agree that this feels odd UX.  If it is going to be a drop down menu, then the top menu should be 'Enable / Disable'.  If we can toggle the button text depending on the status of the selected object then it should switch depending on the context.

I can't see the commentary linked to - @cwhitten is this something we can address?

[2020-09-21 18:55] cwhitten commented on #4222
A couple quick questions:

1. are we introducing two new fields in appsettings? `isSkill` and `AllowedCallers`?
2. is there an accompanying runtime issue to consume these new fields?

cc @carlosscastro

[2020-09-21 18:56] GeoffCoxMSFT opened #4223 "Upgrade to recoil to version 0.0.13"
This will help improve typing and fix several runtime warnings.
It may affect some of the dispatch calls and require a little refactoring.

@boydc2014 and @srinaath - @hatpick has been looking into this. @cwhitten mentioned that upgrades should generally be considered  platform work so to include you, but that recoil is the area where platform and authoring meet :-)  We could set up a feature bran

[2020-09-21 19:16] srinaath commented on #4223
@GeoffCoxMSFT Do we know the date for the 0.0.13 release? Recoil released 0.0.12 5 days ago.

[2020-09-21 19:53] garypretty commented on #4222
@cwhitten Allowed Callers is existing configuration within appsettings.json for C#.  It is an array of strings, either * for all or an array of app IDs for the allowed calling bots. You can see more about this setting at https://docs.microsoft.com/en-us/azure/bot-service/skill-implement-skill?view=azure-bot-service-4.0&tabs=cs#application-configuration.

@carlosscastro can provide details of the n

[2020-09-21 20:12] tdurnford commented on #4222
Adding @sangwoohaan for design input

[2020-09-21 22:07] hatpick commented on #4223
@srinaath it's already released https://www.npmjs.com/package/recoil
Their github releases page seems outdated

[2020-09-21 22:43] lauren-mills opened #4226 "New LUIS apps do not have the prediction resource assigned"
## Describe the bug
I have created all my Azure resources and have separate a LUIS Authoring and Prediction resource, with the keys/endpoints configured in the bot settings. When I add a new dialog with a LUIS recognizer, composer doesn't configure the prediction resource on the new LUIS app and I get a 403 until I go into the portal and manually assign.

 ## Version

Release: 1.0.2
## Browser

-

[2020-09-21 23:36] lauren-mills opened #4227 "Composer doesn't expose all of the adaptive and dialog events thrown by the SDK"
## Describe the bug
The Dialog Events trigger in composer doesn't show all of the available default events thrown by the SDK. Missing ones include "intentRecognized", "activityReceived", and "endOfActions". These are useful for certain initialization logic and end of dialog logic. I can use them by providing the name in the custom event action, but it would be more useful to see them in the dropdo

[2020-09-21 23:51] v-kydela commented on #4062
@shefalikuk - Are you still working on this?

[2020-09-22 00:46] boydc2014 opened #4228 "New LG templates aren't get synced to other languages"
Repro step,

1. create an echo bot
2. add a new language "zh" for example
3. add a send activity action
4. test in emulator with en-us.

Expected:
the content get synced over en-us and the bot replies fine

Action:
Error saying, there is no evaluator

[2020-09-22 01:03] tdurnford commented on #3540
Closing due to inactivity.

[2020-09-22 01:03] #3540 closed

[2020-09-22 01:05] tdurnford commented on #3424
Closing due to inactivity

[2020-09-22 01:05] #3424 closed

[2020-09-22 01:06] tdurnford commented on #3414
@tonyanziano thoughts?

[2020-09-22 01:06] boydc2014 commented on #4223
Thanks @GeoffCoxMSFT, i think we can an assessment and assignment in tomorrow's sync up

[2020-09-22 01:08] boydc2014 commented on #4223
I put Leilei and Srinaath for now.

[2020-09-22 01:09] tdurnford commented on #3379
@cwhitten @hibrenda do either of you have any updates?

[2020-09-22 01:10] xieofxie commented on #4174
Hi @cwhitten I may implement a test page plugin as what I did before (without any schedule).
But this does not block me. I just found this design limitation and bring it up.

[2020-09-22 01:11] tdurnford commented on #3244
@vishwacsena Do you have any thoughts/updates on this issue?

[2020-09-22 01:12] tdurnford commented on #3220
Closing due to inactivity.

[2020-09-22 01:12] #3220 closed

[2020-09-22 01:18] tdurnford commented on #2378
@0x454447415244 You should be able to extract the files from the zipped file, and then open the bot assets in Composer by clicking the 'Open' menu option on the home page and navigating to the file you unzipped. If you are still having an issue with this, please let us know.

<img width="414" alt="Screen Shot 2020-09-21 at 3 17 08 PM" src="https://user-images.githubusercontent.com/17039790/9383619

[2020-09-22 01:27] tdurnford commented on #1885
@narulasrinivas You should be able to set the Authoring Region to 'West Europe' in the latest version of Composer.

![image](https://user-images.githubusercontent.com/17039790/93836556-df12ef80-fc1e-11ea-8b93-b18fc654ffc7.png)

[2020-09-22 01:27] #1885 closed

[2020-09-22 01:30] tdurnford commented on #4157
@Itwlf thank you for the input and the contributions. I'm closing this issue in favor of https://github.com/microsoft/BotFramework-Composer/issues/4222.

[2020-09-22 01:31] boydc2014 commented on #4175
@xieofxie can you tell us more about which type of plugin you are trying to build and the scenarios you are facing?

the project id is in the "BotProject" object, which we exposed in the publish method in the publishing protocol , see here https://github.com/microsoft/BotFramework-Composer/blob/9ba5e8412eb81852fdd140b692ad46528f9c7b1b/Composer/plugins/localPublish/src/index.ts#L61, so if it's a pu

[2020-09-22 01:32] tdurnford commented on #1654
@cwhitten Any updates on the status of this?

[2020-09-22 01:33] tdurnford commented on #3742
@scheyal Do you have any thoughts on this issue?

[2020-09-22 02:18] luhan2017 commented on #4226
@lauren-mills , thanks for reporting, this is a known issue #3639 , and we will fix this in R11.

[2020-09-22 02:41] luhan2017 commented on #4118
It should be a setting on facebook/twilio.

[2020-09-22 02:43] luhan2017 commented on #4118
Did you set the locale for Telegram channel? you can do this to mitigate this issue. We will have a patch release for this soon.

[2020-09-22 02:46] yeze322 opened #4229 "Migration to '.lu.qna' will break ejected bot runtime instances without QnARecognizer"
## Describe the bug

In QnA Recognizer PR, we brought [a migration mechanism](https://github.com/microsoft/BotFramework-Composer/blob/4769cd30f63c3e8a81dafd53e1fe2b1416064251/Composer/packages/adaptive-form/src/components/fields/RecognizerField/useMigrationEffect.ts) which renames `*.lu` files to `*.lu.qna` automatically.

For existing bots, there are 2 cases:
1. Old bots **without** an ejected ru

[2020-09-22 03:01] xieofxie commented on #4175
Hi @boydc2014 I have thought about ui-plugin, web route plugin.

But later I think web route is not related as I could build one like `/custom_api/:project_id` (do we support this in web route plugin? I don't check it)

For ui-plugin, it should be provided as a function/property. Suppose I want to add a test page with a button **Add New Test Dialog File**. If I don't know current project, I couldn

[2020-09-22 04:04] boydc2014 opened #4232 "Centralize side effect management"
Leave the side effect (lu/lg/qna) management into the caller side (form\visual) is an architecture is fragile and very error-prone architecture. In the past, we've fixed many issues, regressions on those operations. See blow of the list.

Letting shell take control the side effect management will lead us to a more stable, testable architecture which have a higher level guarantee of correctness of

[2020-09-22 06:08] nitroin commented on #4118
@luhan2017 thank you for your feedback. Can you please elaborate how to set the locale and on which entity?

I was unable to find any setting that reseamble what you indicate on Bot Composer or in the Azure Portal. Thank you!

[2020-09-22 07:01] beginnerUserChris commented on #4211
Hi @boydc2014 ! After removing the associated files in LUIS that allowed me to resolve the error I unfortunately did not have a copy of the bot which has the error. I attempted to recreate the error today however I was unsuccessful. If I am able to recreate it I will post it back in this issue and reopen it.

I apologise for the inconvenience!

[2020-09-22 07:01] #4211 closed

[2020-09-22 07:22] zhixzhan commented on #4232
FYI, some previous issue on areas that generate side effect.

#### undo/redo

- undo / redo support for nodes with lu and lg https://github.com/microsoft/BotFramework-Composer/issues/2212

#### copy/paste

- Cross-file copy of LU / LG resources https://github.com/microsoft/BotFramework-Composer/issues/2207
- Unable to copy actions across dialog files https://github.com/microsoft/BotFramework-Compo

[2020-09-22 09:09] sschutten opened #4233 "How to use Update Activity and Delete Activity actions"
## Describe the bug

I'm trying to use the `Update Activity` action to update an activity send before. The action accepts an `Activity Id`, but it's not clear where to get the Activity Id from. The watermark suggests `=dialog.lastActivityId` but that property never gets polulated.

## Version

1.1.1

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

[2020-09-22 09:29] weiZhenkun commented on #4068
@dmvtech any idea?

[2020-09-22 09:30] #4228 closed

[2020-09-22 11:55] BeheraMadan commented on #4156
Hi @garypretty,

There is default logic for App Insights logging in composer. We have not added any extra logic

![image](https://user-images.githubusercontent.com/70739031/93877789-a6dee000-fcf6-11ea-8ff6-ad208207df94.png)

AppSettings.json file contains default code only

![image](https://user-images.githubusercontent.com/70739031/93877969-fae9c480-fcf6-11ea-8b94-69ccf99b0b38.png)

With all this

[2020-09-22 12:31] ltwlf commented on #4222
Here is my draft for the non UI part of the skill settings #4086
cc @carlosscastro

[2020-09-22 12:34] ltwlf commented on #4222
@tdurnford This feature doesn't seem to handle the "enforced end of skill dialog" #4157 but for sure it is related to skills. You want to discuss this here? Or should I reopen the issue?

[2020-09-22 12:53] cdonke commented on #4216
Thanks @cwhitten ...
I'll follow this PR to see when it's merged...

Question... I need to update the Composer, Runtime, BotBuilder lib, all of the above??

[2020-09-22 13:10] cxbuilders opened #4234 "Have both trigger for Greeting & BeginDialog in Main Dialog"
I need to have two triggers in my main dialog;
- ConversationUpdate Activity
- BeginDialog

The idea is that when the conversation is initiated the ConversationUpdate is triggered and otherwise the BeginDialog is triggered.

However the BeginDialog always takes precedence, no matter what. Changing the priority does not make any difference, except when I set BeginDialog to -1, but then it never run

[2020-09-22 14:36] UmaPrelude commented on #4180
Steps :
1. Created Composer Bot with Recognizer type as LUIS
2. created an intent and checking the channelid as email in the flow to populated an adaptive card.
3. Generated the custom runtime as well.
4. published it and configured the email channel
5. sent the relevant utterance to trigger the intent, but when it comes to custom runtime
"        await this.dialogManager.OnTurnAsync(turnContext,

[2020-09-22 15:29] tonyanziano commented on #3414
@ramonck can you reproduce this while running Composer from the command line / terminal?

On Windows:

1. Navigate to where `Bot Framework Composer.exe` is located on your machine
2. Open a command line or terminal window at that location
3. execute `Bot Framework Composer.exe`

This will show any output from the Composer process in the command line window. I'd like to know if there is a specific

[2020-09-22 16:14] rviveiros opened #4235 "App Service error HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure"
## Describe the bug

When I deploy my bot to Azure after using the script provisionComposer the created App Service shows "HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure"

## Version

Release: 1.1.1

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [x] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1.

[2020-09-22 16:15] tdurnford commented on #4222
@ltwlf I’ll go ahead and reopen the other issue. Thanks for pointing that out.

[2020-09-22 16:27] dmvtech commented on #4233
hi @sschutten I'm not sure how to do this off the top of my head, but I'll take a look and see if I can get an answer for you.

Just FYI, for the future; The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework).  Composer specific questions [here](https://stackoverflow.com/search?q=%23bot-framework-compos

[2020-09-22 16:33] benbrown commented on #4152
@luhan2017 can you shed some more light on this for us?

I don't understand what would cause the skill to end simply because a card is sent...

[2020-09-22 16:35] damarqmsft opened #4236 "Can't open folder with name "a%20b""
## Describe the bug
Composer can't open a folder with "%20" in the name. I've created a folder named "a%20b" and tried opening it. It shows this message:
![image](https://user-images.githubusercontent.com/66396148/93910669-4760e000-fcb6-11ea-8944-7fede911a135.png)

After this I'm not able to open any other folder (or create a new bot). I can mitigate this by deleting folder "a%20".
## Version

1.1

[2020-09-22 16:39] benbrown commented on #4179
You should be able to send it as a post BODY using an expression like

= {fileData: user.attachments}

You may also need to set the content type field.

[2020-09-22 16:41] benbrown commented on #4180
A fix for this issue is going to be in an upcoming patch to be released next week.

[2020-09-22 16:47] benbrown commented on #4227
ActivityReceived should be in the "Activities" sub-dropdown.

Intent Recognized is a top level selection.

We will be adding endOfActions as part of form dialogs.

Are there any other events that you've found that are missing?

![Screen Shot 2020-09-22 at 11 46 14 AM](https://user-images.githubusercontent.com/729873/93912380-4f764b00-fcc9-11ea-96c9-8633d3814985.png)
![Screen Shot 2020-09-22 at 11

[2020-09-22 16:49] tdurnford commented on #3513
@sangwoohaan Can you weigh in?

[2020-09-22 16:49] benbrown commented on #4229
@alanlong9278 @liweitian can you take a look into this issue?

[2020-09-22 16:54] benbrown commented on #4234
The normal behavior of adaptive dialogs is that only one trigger will fire.  BeginDialog always happens first and takes precedent over everything else.

You could fire a custom event at the end of your conversationUpdate handler to chain it to another trigger.

What circumstance would you be in the root dialog but _not_ responding to a conversationUpdate event?

[2020-09-22 16:56] benbrown commented on #4235
Can you enable logging on your app service and see what type of error is appearing in the output?

Did you eject your runtime, or are you using the built in runtime provided by Composer?

[2020-09-22 16:58] benbrown commented on #4236
To confirm: did you create this bot project folder inside Composer or using your filesystem?

@liweitian Can you investigate this and see if we can work with this encoded character?

[2020-09-22 17:00] damarqmsft commented on #4236
I've created the folder using my filesystem.

[2020-09-22 17:08] tdurnford commented on #3407
Closing due to inactivity. @ashritkulkarni if you are still having an issue with this, please feel free to reopen.

[2020-09-22 17:08] #3407 closed

[2020-09-22 17:10] tdurnford commented on #3562
@hibrenda Do you have any updates on this issues? Does #3420 close this issue?

[2020-09-22 17:13] #3886 closed

[2020-09-22 17:27] rviveiros commented on #4235
I'm using the built in runtime.

This is the log when I try to access directly from browser and them using the web chat test.

[code]

[2020-09-22 17:27] cleemullins commented on #4062
Closing due to Eric's response.

[2020-09-22 17:27] #4062 closed

[2020-09-22 17:44] cleemullins commented on #1307
@mareekuh This has been open for quite some time. Closing due to inactivity.

[2020-09-22 17:44] #1307 closed

[2020-09-22 17:45] cleemullins commented on #1003
Composer has gone GA. Closing this issue as obsolete.

[2020-09-22 17:53] dmvtech commented on #4165
Closing as it seems this is answered.

[2020-09-22 17:53] #4165 closed

[2020-09-22 17:54] dmvtech commented on #4159
Hi @JonasBergholz Just touching base once again. Can you please give us some more info? Or is this resolved for you?

[2020-09-22 17:55] dmvtech commented on #3943
Hi @Michelle-Deve Just touching base again. Can you share your sanitized composer files so that I can see if I can try and reproduce?

[2020-09-22 17:56] zxyanliu commented on #3626
Let's close this issue for now since it will be addressed via the R11 project to improve tooltips and help links.
Feel free to reopen when necessary.

[2020-09-22 17:56] #3626 closed

[2020-09-22 18:08] tdurnford commented on #4007
@supratikchat can you confirm this reproduces in the latest version of composer?

[2020-09-22 18:09] tdurnford commented on #2784
Close due to inactivity. @manvendrautralia  if you are still having an issue with this please feel free to reopen.

[2020-09-22 18:09] #2784 closed

[2020-09-22 18:10] tdurnford commented on #1914
@cwhitten do you have any updates on this?

[2020-09-22 18:12] tdurnford commented on #3252
@mareekuh Do you have any updates to report?

[2020-09-22 18:14] tdurnford commented on #3548
@hibrenda do you have any updates on making sure the QnA stays triggered?

[2020-09-22 18:29] #4143 closed

[2020-09-22 18:54] benbrown commented on #4236
thanks for confirming @damarqmsft

[2020-09-22 19:07] #4186 closed

[2020-09-22 20:55] martinlarosa commented on #3339
@cwhitten was that release 1.1.1 or some other coming later?

[2020-09-22 21:21] a-b-r-o-w-n opened #4237 "azurePublish plugin cannot be loaded in the electron build"
## Describe the bug

The azurePublish plugin cannot be loaded in the electron build due to not being able to find `@bfc/shared`.

## Version

def9f8009

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## Additional context

[code]

[2020-09-22 21:35] mareekuh commented on #3252
I do not - it's on the Design backlog.
@bartbilliet  - I am very familiar with the feature/functionality that is currently available in LUIS, but it would help to get more specifics around the scenarios in which batch-testing and/or evaluation of language model/understanding would enable/improve your/your customers' bots. Or, without these capabilities, the hurdles you experience or need to find w

[2020-09-22 21:43] mareekuh commented on #1003
Having default content that includes predefined LU, LG and dialog assets remains an important need/requirement.
Please connect this to the 'Asset Library' to not lose track.

[2020-09-22 21:47] mareekuh commented on #1307
It has been active but has proven a tough issue to solve through the SDK only.
Localization and accessibility have reiterated the importance of finding a sustainable solution. Here is the spec that is dealing with this https://microsoft.sharepoint.com/:w:/t/ConversationalAI785/EfF1fPqBmAhDp_q2LgsYJh8BmuCNar_PvXnOx9HW2qKBzw?e=eszmoO

[2020-09-22 23:10] EricDahlvang opened #4239 "Clicking 'Open skills page for configuration details' disables menu options"
## Describe the bug
![image](https://user-images.githubusercontent.com/11055362/93946259-a3932680-fced-11ea-9ee9-ddfe663a5a99.png)

This loads the skill configuration page, but i cannot figure out how to get out of it without restarting Composer. Menu options are disabled:
![image](https://user-images.githubusercontent.com/11055362/93946312-c7566c80-fced-11ea-8fb3-43fce337bd80.png)

## Version
nig

[2020-09-23 00:22] boydc2014 commented on #3896
@tonyanziano can you share what your discovery was?

[2020-09-23 00:30] a-b-r-o-w-n commented on #4237
I can't repro this anymore.

[2020-09-23 00:30] #4237 closed

[2020-09-23 00:30] boydc2014 commented on #3456
number at 23/9 is 55%.

[2020-09-23 00:32] boydc2014 commented on #3456
As a review guidance, let's make sure new PR have tests.

[2020-09-23 00:34] boydc2014 commented on #3456
I will look at bottle-neck from the coverage report.

@a-b-r-o-w-n  will set a bar for coverage for PR check in, maybe start with -0.5%?

[2020-09-23 00:41] #3992 closed

[2020-09-23 00:42] tdurnford commented on #4239
@EricDahlvang Thanks for reporting! As part of the Multibot expansion work we are doing in R11, we are planning to remove the skills page. Subsequently that link to the skills page was recently removed in #4207.

https://github.com/microsoft/BotFramework-Composer/pull/4207/files#diff-709a57c1f9ba4c513dd93b40c9620ecaL142.

[2020-09-23 00:42] #4239 closed

[2020-09-23 02:31] boydc2014 opened #4241 "Improve electron start up perf"
Our electron distribution's start up perf isn't good, especially in Windows and we've heard customer complaining about it. Use this ticket to trach the investigation on it.

[2020-09-23 02:34] boydc2014 commented on #4241
Put @liweitian on this to investigate. @liweitian please reach out to @tonyanziano if you need anything.

[2020-09-23 02:37] tonyanziano commented on #3896
Assuming that this means porting the actual parsing work done by the language servers to service workers, here were my findings:

- Initially, I thought that this would prove difficult due to service workers not being able to understand Web Sockets -- which is the model that the current language servers use when connecting with the Monaco editor.
- However, service workers have access to an API ([

[2020-09-23 03:07] luhan2017 commented on #4152
@benbrown
For a bot served as a skill, we set the autoEndDialog flag to true, which means what if there is no actions in the dialog stack, the main dialog will end, and send EOC to parent bot. This is always the expected behavior, because if we don't do this, the dialog in skill will never end.

In Eyal‘s skill bot, the dialog ends when it send the adaptive card, if it is bot mode, the bot will st

[2020-09-23 04:46] UmaPrelude commented on #4180
Thanks ben, expecting to get the update once released.

[2020-09-23 06:42] Michelle-Deve commented on #3943
@dmvtech I have managed to fix the issue. I had to uninstall composer version 1.1.1, run the composer that uses yarn and locate the storage after that I install composer version 1.1.1 again and I was able to connect to storage. I had to restart in between the steps

[2020-09-23 11:45] saikumaru commented on #3722
I still get the same errors when published to Azure functions
I also see this error which I am unable to resolve

![image](https://user-images.githubusercontent.com/44021002/94008255-56cc5000-fdc0-11ea-8732-ca3b9f1c1844.png)

[2020-09-23 14:05] vivekkshankar commented on #3449
I took a stab at defining this: https://www.figma.com/file/deFhMPBnRWxTYiYDYqYxrc/Composer-Vivek?node-id=8457%3A0

@mareekuh I will connect with Thad but I do feel given that flows in composer tend to be more complex, I feel we need to invest in introducing semantic zoom (to ensure readability at smaller sizes) and not just physical zoom (Like what PVA does).

[2020-09-23 14:15] saikumaru opened #4243 "Unable to execute the bot on Azure functions"
## Describe the bug
Upon publishing the bot to Azure function, the Azure function goes down and doesnt respond to any request

I have followed the steps for publishing bot to Azure Function with resources created through the command line script

The Function App shows up the below error
![image](https://user-images.githubusercontent.com/44021002/94023738-30b0ab00-fdd4-11ea-9d73-1818910fa154.png)

[2020-09-23 14:31] yeze322 opened #4244 "Windows platform 'spawn npm ENOENT' error when starting Composer"
## Describe the bug

On Windows machines, running `yarn start`​​​​​​​ will raise this Error: `spawn npm ENOENT`.
![fa86d1bc-b28c-47d3-b605-ef8dbc1c4807](https://user-images.githubusercontent.com/8528761/94025553-349bf780-fdeb-11ea-9083-531db6f534c1.jpg)

Weitian and I met this issue.

**To fix it**:
1. (optional) If running `npm` raises an error, open Powershell admin, run `powershell Set-Executio

[2020-09-23 14:36] yeze322 commented on #4244
Weitian @liweitian and I met this problem, so I open an issue in case other users need a solution.

[2020-09-23 14:51] cxbuilders opened #4245 "Popout for small editors"
![image](https://user-images.githubusercontent.com/49873947/94028819-7f524b00-fdbc-11ea-8265-6f8640f83573.png)

When developing bots with lots of integrations, menu's etc, one gets fed up with the small editor quite fast. The following ones that I typically have much more code than editor space;
- Send Response
- Set Property / properties (whole code blocks in one small input!)
- Body of Http Requ

[2020-09-23 15:04] cxbuilders commented on #4234
@benbrown I have my mainMenu with a repeat dialog in the root dialog. Basically from there other dialogs are called and the user always returns back to the mainMenu eventually. There all main intenets are living as well and I can handle continuos security checks through the main menu.

I wanted to trigger the conversationUpdate to say a greeting and then call the mainMenu using a custom Event. I a

[2020-09-23 15:31] a-b-r-o-w-n commented on #3456
I set the threshold in coveralls to fail the build if coverage drops more than 0.5% or overall coverage drops below our current 55%

[2020-09-23 15:49] v-kydela commented on #4241
In addition to any performance improvements, would the team consider giving Composer a splash screen like Emulator has?

[2020-09-23 16:07] ltwlf commented on #4157
@luhan2017

This exactly what I want. I want the control when a skill ends when I set in the UI autoEndDialog to false.

The requirement is based on a real project. We have a dispatcher bot and call this composer skill. The skill can show market analytics for different brands. We remember some context information and the user can do many queries, Currently the skill after the first report. When th

[2020-09-23 16:18] #4111 closed

[2020-09-23 16:53] dmvtech commented on #4245
This isn't directly addressing the change you are suggesting, but just FYI; you can get a much better editor/field from the _Bot Responses_ portion of Composer. The field is resizable to accommodate more data, etc.

![image](https://user-images.githubusercontent.com/43397658/94044168-a2f89f80-fd82-11ea-9ed1-c5dffa32c346.png)

[2020-09-23 17:06] leopuleo opened #4246 "Dialogs with name starting with numbers cause "extraneous input ‘01’ expecting IDENTIFIER""
## Describe the bug
Using LUIS to extract data from user responses cause "extraneous input ‘01’ expecting IDENTIFIER" in case of Dialog name starting with a number, eg: `01-my-dialog`

## Version

1.1.1-nightly.168593.d361ddb
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce

[2020-09-23 17:54] dmvtech commented on #3943
Ok! Interesting. Glad you got it worked out and thank you for letting us know what you did to resolve it. 🌟

[2020-09-23 17:54] #3943 closed

[2020-09-23 18:08] clearab commented on #1003
This should be part of the core + assistant work (VA). The sample assets should be the same assets that are added on top of the core bot in order to create the componentized, adaptive version of the VA bot.

[2020-09-23 18:10] tdurnford commented on #4246
@luhan2017 Can we confirm that this isn't a bug in adaptive? Once we establish that, we can route it to the right person.

[2020-09-23 18:11] tdurnford commented on #4243
@carlosscastro Can you take a look at this?

[2020-09-23 18:45] lzc850612 opened #4248 "Orchestrator Runtime"
Orchestrator Runtime that works alongside the bot runtime

[2020-09-23 18:57] #4248 closed

[2020-09-23 19:17] lzc850612 opened #4249 "Auto Generate Skill Intent Triggers when adding a skill"
When creating a skill, we need to auto create an intent trigger based on the skill so that the Orchestrator can route activities to that skill based on user intent

[2020-09-23 19:48] #4114 closed

[2020-09-23 20:24] v-kydela commented on #4213
@eluchsinger - Are you still working on this?

[2020-09-23 20:41] Stevenic opened #4250 "Folder paths containing "%20" break open project window"
## Describe the bug

Unfortunately I didn't catch a screenshot of this but we recently moved the Meeting Assistant from Github to Azure DevOps. The new folder name for the project is "Meeting%20Assistant".  The moment I stepped into the folder within the project open dialog the dialog went blank and said something like "Error connecting to file system".  I was completely stuck until I renamed my p

[2020-09-23 20:45] Stevenic opened #4252 "Error when clicking open for a project thats moved"
## Describe the bug

We moved our repo so all of projects now have new folder paths.  Anytime I click on one of the old projects in the history list I get the error below:

![image](https://user-images.githubusercontent.com/698939/94067640-04306b00-fda3-11ea-8b9a-21257f68a440.png)

## Version

1.1.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2020-09-23 20:46] gustavo-lara-molina commented on #1864
@KoradaRajesh
I have the same question, did you find a way to do it?

[2020-09-23 20:47] Stevenic commented on #4252
On the plus side it removes the bad link from the list so it's a one time issue for each project. Still I think we could show a better error message like "Project not found"

[2020-09-23 20:48] mareekuh opened #4253 "Glossary terms to add: Publish profile, Publish target, Publishing, Environment, Resources"
We need to add some terms & definitions to the Glossary.
Please check out the PVA glossary also: https://styleguides.azurewebsites.net/StyleGuide/Read?id=2696&topicid=27964

- Publish profile,

- Publish target - is this the same as profile? If so we should use that instead. PVA uses this https://styleguides.azurewebsites.net/Search/Index
-
- Publishing

- Environment

- Resources

[2020-09-23 21:34] zxyanliu commented on #4253
Checked references from [Microsoft Cloud Style Guide](https://styleguides.azurewebsites.net/StyleGuide/Search) and added the following:

* Publish
  To deploy a software package as a cloud service to the staging or production environment.

* Publish profile
  A downloadable package that provides the secure connectivity required to publish (upload and deploy) websites and cloud services from a loca

[2020-09-23 21:37] zxyanliu commented on #4253
@mareekuh
Do we have a specific project for these terms? Authoring? Runtime? Platform?
I am going to add them in the [spreadsheet](https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B73AE9B1E-6E4F-4393-BE3B-F82111ACBE79%7D&file=R11%20Terminology.xlsx&action=default&mobileredirect=true) first and then to the docs glossary when the projects are delivere

[2020-09-23 23:44] dmvtech commented on #4068
Hi @weiZhenkun I apologize for the delay. I tried to get this reproduced on my end, but I haven't been able to complete that.

Have you tried adding the cert to the Windows 10 machine that composer runs on? Under Trusted Root Certification Authorities

![image](https://user-images.githubusercontent.com/43397658/94085001-c8ee6600-fdbb-11ea-8de9-f21630b6065c.png)

[2020-09-24 03:18] zidaneymar commented on #4179
Hi @dredondoc , maybe you could try this implementation:
https://github.com/microsoft/BotFramework-Composer/pull/3712/files#diff-68f8d8b9d5ef132fd4b1191d75eecdae

Use attachmentInput to upload image and use httpRequest to post image.

[2020-09-24 03:34] #4092 closed

[2020-09-24 04:32] jintu123 opened #4255 "Microsoft Team Bot as a contact not as an App"
I am Looking for a solution of how to make a bot available to my organization, without publishing the bot as an App using App studio. But to Make it available to everyone in the organization as a Contact In Microsoft Teams.

To my understanding we need to install the Bot App to get it as a contact. But in organization level, how can that be achieved without installing the bot app for everyone, but

[2020-09-24 04:38] luhan2017 commented on #4246
This should be a AdaptiveExpression issue. I've debuged this in the SDK side, it turns out that an error thrown when AdaptiveExpression evaluate "settings.01_new_en_us_lu" which is the applicationId auto generated by lubuild.

I will sync up with @Danieladu and @boydc2014  for more details.
[code]

[2020-09-24 04:59] jintu123 opened #4256 "Bot Composer beautification"
I have a requirement to change the font, make it bold, hyperlink a text, change font size.
How can I achieve it in the bot composer?
Can it be achieved without using adaptive cards?
I also want to change the Appearance of the bot like, soft edges, change name of the Chat box and color of the Chat Box.
How can I achieve the above things?

Any help is appreciated!

Currently My bot looks like this:

[2020-09-24 05:06] jintu123 opened #4257 "Bot entire conversation saving"
I am using my own external DB and I am trying to save the entire conversation which happened with the user to the Backend using My API, But I am unable to pinpoint or find what to write in the end, which variable will be containing the data to the entire conversation in the bot composer.

Can anyone help me with how can i save the entire chat log in bot composer?

[2020-09-24 05:12] jintu123 opened #4258 "Wait time"
Currently, is there a way to make the bot Wait for few seconds like sleep or wait for 10sec before doing the next request in the Flow?

Example:

I want to send two Output, first to click the link to open Up and next to ask do you want anything else, but I want to wait a few seconds before I send the next Prompt.

![image](https://user-images.githubusercontent.com/15074288/94103524-85930680-fe52-1

[2020-09-24 05:42] Danieladu commented on #4246
The variable name in Expression can not start with number. Maybe there should add some validations on the dialog name in Composer?

[2020-09-24 05:44] luhan2017 commented on #4258
@jintu123, we don't have this kind of functionality in composer yet, but you can do this:
1. eject the runtime.
2. follow this doc to create a custom action which do nothing but just sleep for 10 seconds. https://docs.microsoft.com/en-us/composer/how-to-add-custom-action
3. add your custom action between the two actions.

[2020-09-24 06:57] cxbuilders commented on #4245
@dmvtech Yeah but switching between the dialog you're editing and the lg files all the time is probably even worse...

[2020-09-24 07:08] boydc2014 opened #4259 "Taking control of recognizer dialog generation and make composer authored bot CI/CD friendly"
#### Context
Composer leverages bf-cli, in particularly, bf cross-train, bf luis:build and bf qna:build to do cross-train, luis and qna publishing. Besides that bf-cli does one more thing is generating those .dialog for recognizers, 3 type of recognizers usually
* .\<locale\>-lu.dialog, which is a LUIS recognizer
* .lu.dialog which is a MultiLanguageLuis recognizer
* .lu.qna.dialog which is a Cros

[2020-09-24 08:01] liweitian commented on #4250
I think this is the same as #4236. A fixing pr is opened.

[2020-09-24 13:59] geoffsoper opened #4261 "Split() prebuilt function seems to be ignoring space delimiter"
The split function described at https://docs.microsoft.com/en-gb/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#split doesn't seem to be working correctly when using a space as a delimiter.

I'm deriving a user's first name from their full name using "Set a property" where the Value is the expression "=first(split(user.name, ' '))". This c

[2020-09-24 15:28] #4236 closed

[2020-09-24 15:28] #4250 closed

[2020-09-24 16:06] ninggao commented on #3947
@jwiley84 Do you have any updates on this?

[2020-09-24 16:43] cwhitten commented on #4256
Hi @jintu123, what you are looking is the ways to customize the Bot Framework Web Chat control. The documentation on how to do this is over here: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/02.branding-styling-and-customization

Please take a look at these resources to achieve your use case. Closing.

[2020-09-24 16:43] #4256 closed

[2020-09-24 16:45] cwhitten commented on #4255
@clearab assigned to you for initial routing.

[2020-09-24 16:46] cwhitten commented on #4252
This has been addressed in https://github.com/microsoft/BotFramework-Composer/pull/4260

[2020-09-24 16:46] #4252 closed

[2020-09-24 16:48] cwhitten commented on #4245
@sangwoohaan @vivekkshankar this is pertinent to the recent discussions around the splitter control Geoff was demonstrating.

[2020-09-24 16:51] clearab commented on #4255
Hi - thank you for your feedback. Currently, to install your app globally for an organization we recommend you use your organization's app setup policies. You can find more information about that here - https://docs.microsoft.com/en-us/MicrosoftTeams/teams-app-setup-policies.

There are currently no plans to make bots in Teams available outside of Teams apps. If that is a feature you'd like to see

[2020-09-24 16:51] #4255 closed

[2020-09-24 17:15] marktab opened #4262 "Orphaned Language Generation Code"
## Describe the bug

LG code is orphaned when a "send response" widget is deleted.  That process may result in having (for example) errors such as unbalanced multi-line quotations.

## Version

Version 1.1.1

## Browser

Chrome 80.0.3987.165

## OS

Windows

## To Reproduce

Steps to reproduce the behavior:

1. create an empty bot
2. create a "send response" with something like - ``` (don't close

[2020-09-24 17:31] #3951 closed

[2020-09-24 22:17] GeoffCoxMSFT commented on #3710
@zhixzhan - My new splitter control should fix this bug, so assigning to myself.

[2020-09-24 22:33] guru98 opened #4275 "Call CodeAction from declarative code"
I understand that is possible use declarative dialogs and code base dialog in the same bot, there are also some example but in the composer you can't add call to CodeAction. This should be possible at least for this scenarius as i think that could be interesting design bot using composer and than inject in the bot and have the possibility to call our own code

[2020-09-24 22:42] dmvtech commented on #4257
Hi @jintu123

For future reference, the Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

Composer bots have built

[2020-09-24 23:01] dmvtech commented on #4159
Hi @JonasBergholz I'm closing this one as we haven't heard from you in some time and we still need further information to proceed. Please reopen or let us know if you are still having issues and need assistance.

[2020-09-25 00:15] boydc2014 commented on #4166
related in https://github.com/microsoft/BotFramework-Composer/pull/4225

[2020-09-25 00:24] boydc2014 commented on #3728
Options:

1. pulling the message from composer side until it returns
2. access the default.html
3. any SDK built health check point

[2020-09-25 00:29] boydc2014 commented on #3671
Let's refine the message to "path" doesn't seems to be exists anymore.

[2020-09-25 00:31] luhan2017 opened #4266 "In the luis hoist view, Keep getting error: Can't read property "start" of undefined"
## Describe the bug

Electron 1.1.1

When I edit the luis hoist view,

Input this:
- my name is {@userName=luhan}
@ prebuilt personName hasRoles userName

I keep getting this error, and it can't be fixed whatever I type.
![image](https://user-images.githubusercontent.com/32191031/94213169-c4839380-ff08-11ea-84fb-4a756f98a670.png)

Then my bot is totally broken.

## Version

## Browser

- [ ] Elect

[2020-09-25 00:35] boydc2014 commented on #2912
@lei9444 please double check this

[2020-09-25 01:04] dmvtech commented on #4233
I can't seem to figure this out myself either. @benbrown Any ideas, pointers or resources where we can go to find out more about this?

[2020-09-25 02:41] zhixzhan commented on #3710
@GeoffCoxMSFT Awesome, thanks!

[2020-09-25 03:20] zhixzhan opened #4267 "Browser console: Error/Warning: Cannot update a component from..."
## Describe the bug

When run composer at dev mode, open dev-tool will see those annoy error log.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## S

[2020-09-25 06:56] jintu123 opened #4268 "Unable to add Bot custom action"
I am trying to add Bot composer custom action on a echo bot template.
I am using the Guide as per: https://docs.microsoft.com/en-us/composer/how-to-add-custom-action
##ERROR
![image](https://user-images.githubusercontent.com/15074288/94235822-cb6ece00-ff29-11ea-8a2d-184cca9ab38a.png)

## Version
![image](https://user-images.githubusercontent.com/15074288/94235767-b003c300-ff29-11ea-8f12-860501f2b0

[2020-09-25 07:48] luhan2017 commented on #4268
@jintu123 , could you try to update your cli to the latest version, there is a known issue for the dialog merge tool, and we had a fix in the August.

[2020-09-25 07:55] jintu123 commented on #4268
Its latest only! I installed it yesterday

[2020-09-25 08:33] eluchsinger commented on #4213
Hi @v-kydela yes, I'm still working on this, but we had to switch the focus to other features right now. I may have to come back to further investigate before go-live.

[2020-09-25 08:37] luhan2017 commented on #4268
But it is not the latest, it is the 20200730 version. check this link https://www.npmjs.com/package/@microsoft/botframework-cli
try to install any version after 4.10.1.

[2020-09-25 09:34] jintu123 commented on #4268
I installed the latest version as you mentioned but still I am facing the same Issue.
![image](https://user-images.githubusercontent.com/15074288/94250647-1f37e200-ff3f-11ea-905a-604e2c3af126.png)

[2020-09-25 10:05] jintu123 commented on #4256
Where is the index.htm is located as per the samples shared by you?
Where can I edit them can You help me with a little more insight?

[2020-09-25 15:27] #4070 closed

[2020-09-25 16:31] mareekuh opened #4271 "UX : QnA page updates"
Authoring
Vivek

[2020-09-25 16:32] mareekuh opened #4272 "UX : QnA Integration into LU/LG"
Currently, QnA is presented as it's own menu item and dialog format in Composer. This is by design, to bring QnA into Composer and deliver an on-par with the existing service and functionality.
With its ability to shred PDFs and websites, distilling it to question and answer pairs, QnA has the oppty bring content into Composer in a fast and effective manner and provide the user with a great starti

[2020-09-25 16:39] mareekuh opened #4273 "UX: All-up LG**"
(_significant impact for Form dialog. Can we also include UX for LU? - melanie_)
Authoring

[2020-09-25 16:52] v-kydela commented on #4213
@eluchsinger - Would you like to close this issue then?

[2020-09-25 17:12] tonyanziano opened #4274 "Add support for one publish extension registering multiple publish UIs"
For example:

The Azure publish extension registers two publishing plugins:
  - azure web
  - azure functions

Each plugin wants to render its own UI. Composer should support this. Currently it renders 1 and 404s for the other.

The workaround for now is to split them up into their own extensions.

[2020-09-25 17:32] saikumaru commented on #4243
Any update please?

[2020-09-25 18:27] sangwoohaan commented on #3513
This is a great suggestion. We will take a look into it

[2020-09-25 18:52] cwhitten commented on #4275
@guru98 Composer allows you the do this by creating Custom Actions. Please see this doc: https://docs.microsoft.com/en-us/composer/how-to-add-custom-action

[2020-09-25 18:53] #4275 closed

[2020-09-25 18:58] Stevenic opened #4276 "Property page for new action not displayed"
## Describe the bug

This probably isn't an easy repo as I think it's the first time I've ever seen it happen but I just added a new `SetProperties` action and composer is still showing the previous actions property editor. Clicking to another action and back resolved the issue:

![image](https://user-images.githubusercontent.com/698939/94305591-4504bd00-ff26-11ea-9499-91da9706a1e6.png)

## Versio

[2020-09-25 19:02] cwhitten commented on #4268
@luhan2017 it has been brought to my attention that updating Composer's runtime template to the latest runtime packages to 4.10.3 as well. Can you confirm?

[2020-09-25 19:19] guru98 commented on #4275
I'm looking for support for CodeAction not CustomActions. CustomActions require an effort to insert and let me say are intended for actions you want to reuse in many bots. CodeActions allow to inject a sort of functions in your code that are different conditional set variables and so on. I could call external code using Http like azure functions but in many cases there are functions you want to ca

[2020-09-25 19:39] Stevenic opened #4277 "Change the color of memory paths only referenced in one place"
## Is your feature request related to a problem? Please describe.

The new intelisense feature of showing previously used memory variables is helpful but still needs a bit more bake time.  What could be even more useful would be to render memory paths that are only ever referenced once using a different color.  Yes there are some complexities with this like "a.b.c" could be referenced as "b.c" whe

[2020-09-25 23:53] emivers8 opened #4279 "Copy for provisioning"
A copy pass is needed for new provisioning feature due in R11, which includes a wizard to create or import Azure resources within Composer.

Designer: @JaskeeratBedi-cmk

Figma file: https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=5477%3A34879

[2020-09-26 08:35] Stevenic opened #4280 "Menu.group doesn't appear to work in UI schema"
## Describe the bug

I was trying to move a custom action to its own fly-out menu vis the [UI schema](https://schemas.botframework.com/schemas/ui/v1.0/ui.schema) and I assumed that all I would have to do is add an entry like this:

[code]

The problem is the action wouldn't show up on the fly-out at all when I set the group. I finally got it to work by setting the submenu instead:

[code]

This go

[2020-09-26 08:40] Stevenic commented on #4280
I should add that I couldn't get the action to show up at all until I tried setting `"submenu": false` and then it showed up as a top level action on the fly-out menu. That's what made me realize that groups aren't actually supported yet and I had to specify a `submenu` value of some sort to get things to show up.

[2020-09-26 08:42] Stevenic commented on #4102
This seems resolved in the latest private build I'm running... Great job team!

[2020-09-26 09:22] Stevenic opened #4281 "Renaming an action doesn't show up in flow"
## Describe the bug

The UX lets you rename your actions but this doesn't always (if ever) translate to the action being renamed within the flow. Given this is a super simple way of commenting we should honor name changes by the developer and show them in the flow:

![image](https://user-images.githubusercontent.com/698939/94337390-e596c380-ff9e-11ea-8173-8a96ce474c8c.png)

## Version

1.1.1

## B

[2020-09-26 09:26] Stevenic opened #4282 ""more" in SetProperties and DeleteProperties should be expandable"
## Is your feature request related to a problem? Please describe.

It's fine that we limit the number of properties shown for `SetProperties` and `DeleteProperties` within the flow to 3 but the "2 more" subtitle should be a clickable link that expands to show all of your property assignments:

![image](https://user-images.githubusercontent.com/698939/94337500-a4eb7a00-ff9f-11ea-8fc9-4bc8a5c82796.p

[2020-09-26 09:27] Stevenic commented on #4282
The property list is a bit hard to parse within the property editor so what I'd like is a more "at a glance" view of the full list of properties I'm manipulating.

[2020-09-27 04:41] yeze322 commented on #4281
This is a bug introduced 14 days ago in #3913. The title resolver's priority was changed unexpectedly.

@beyackle Ben do you remember why we changed the priority to not putting $designer title at first place?
![image](https://user-images.githubusercontent.com/8528761/94356238-9e075900-00be-11eb-8993-93c85e705e83.png)

[2020-09-27 04:48] yeze322 commented on #4280
Hi Steve, the `group` is preserved for this design. (`Bot activities`, `Dev tools`)
![image](https://user-images.githubusercontent.com/8528761/94356306-841a4600-00bf-11eb-8b66-7990fba5f8be.png)

The confusion of submenu is a problem. @a-b-r-o-w-n Andy what's your option on the naming?

[2020-09-27 04:49] yeze322 commented on #4282
We can support that.

[2020-09-27 09:11] luhan2017 commented on #4268
@cwhitten, the current runtime version is 4.10.2, do you know when the sdk team will release the 4.10.4？There are several composer issues depending on this. for example #4218 #4030 #4118 , we can update to 4.10.4 directly after it is ready.

![image](https://user-images.githubusercontent.com/32191031/94361021-f866e080-00e3-11eb-9b89-ff5f1f0379fc.png)

[2020-09-27 09:15] luhan2017 commented on #4268
@jintu123 , I didn't reproduce this on my side. could you uninstall the bf-dialog package and try that again?
bf plugins:uninstall @microsoft/bf-dialog

[2020-09-28 01:05] Stevenic opened #4283 "Add runtime support for AdaptiveMiddleware"
I have a new C# `AdaptiveMiddleware` class I've created that lets you run composer defined dialog(s) as middleware before the bot runs. This should be super useful as you can do things in middleware that would be difficult (or impossible) to do with the bot.  I've checked in the code for this class as part of an `AdaptiveMiddlewareSample` bot in a branch called [stevenic/adaptive-middleware](https

[2020-09-28 01:18] Stevenic commented on #4283
The bots Middleware DIalogs are current configured as part of its settings file:

![](https://user-images.githubusercontent.com/698939/94381004-9a8ac680-00ec-11eb-8ac7-6f77dc94d072.png)

 I then had to eject the runtime and add a the `AdaptiveMiddleware` class to the runtimes [core library](https://github.com/microsoft/BotFramework-Composer/blob/stevenic/adaptive-middleware/MyBots/AdaptiveMiddlewa

[2020-09-28 03:22] jintu123 commented on #4268
@luhan2017 After uninstalling also, I am getting the same error. But now if I ignore the error I am able to work with the custom action. And its working in the Emulator also.

[2020-09-28 06:32] zhixzhan commented on #3695
I tried to reproduce this, but failed, the environment are:
Bot Framework Composer

                Version:  1.1.1
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

macOS 10.15.7

![Untitled](https://user-images.githubusercontent.com/49866537/94397670-e85c0900-0196-11eb-98a8-67c7bb020764.gif)

@bradrlaw

[2020-09-28 06:33] xieofxie opened #4285 "[Plugin] useShellApi returns empty object in ui plugin"
## Is your feature request related to a problem? Please describe.

As stated in the plugin document:
https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/plugins/README.md

But I don't find any example/document about how to call Composer server API.
(I suppose we shouldn't call it from scratch as its port is mutable, it may have authentication etc.)

## Describe the solution you'd

[2020-09-28 07:09] zhixzhan opened #4286 "Refresh page, client state are lost, navigation become disabled"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [x ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Bot Responses'
2. Click on browser 'Refresh page'
3. See left navigation become disabled

## Expected behavior

## Screenshots
<img width="742" alt="image" src="http

[2020-09-28 09:02] luhan2017 commented on #3910
@benbrown , do you happen to know the detail of this solution? I can work with Yan to doc on this.

[2020-09-28 11:51] liweitian opened #4287 "refactor: navigation logic leak."
We have many navigation logic like navigateTo(`/bot/${projectId}/knowledge-base/all`). The url concatenated in this way cause a url logic leak.

[2020-09-28 13:01] benbrown commented on #3910
No, I don't. This is something @vishwacsena had mentioned being able to do.

[2020-09-28 15:24] eluchsinger commented on #4213
I'll close the issue until I have more time to research. Feel free to reopen it, in case someone hits a similar issue.

[2020-09-28 15:24] #4213 closed

[2020-09-28 16:24] ninggao commented on #3379
Close this issue. @cxbuilders, please feel free to reopen it if you have other questions.

[2020-09-28 16:25] ninggao commented on #3244
@darrenj  can you take a look on this please?

[2020-09-28 16:30] cxbuilders commented on #3379
@ninggao I am under the impression that this question is still outstanding....

[2020-09-28 16:41] #4059 closed

[2020-09-28 19:39] #2955 closed

[2020-09-28 20:51] stevkan commented on #4060
@zxyanliu,

I think, because "Regular Expressions" is a technology and is referred to by the same name in the various readme files, it should read "Regular Expression recognizer". Or, possibly "Regular Expressions recognizer", if we want to keep the actual name the same, as well.

Thoughts?

[2020-09-28 21:55] zxyanliu commented on #4060
@stevkan I liked your comment on this because I was having the same confusion before proposing the names.
I thought Regular Expressions is a proper name, meaning we should capitalize both "R" and "E", however, it might not be the case.

For the books I referred to (since I was unable to find the term in either [Merriam-webster dictionary](https://www.merriam-webster.com/) or [Cambridge English dic

[2020-09-28 22:19] tdurnford commented on #4276
I'm able to consistently repro this.

**Steps to reproduce**
1. Add a Set Properties action
1. Add a new property with a value to the action
1. Keep focus on the Set Properties action you just added
1. Add a second Set Properties action *above* the first Set Properties action you added in the visual editor

Interestingly enough, the behavior doesn't repro if you add the second Set Properties actio

[2020-09-28 23:52] #3710 closed

[2020-09-28 23:52] #4220 closed

[2020-09-29 00:27] #4188 closed

[2020-09-29 02:18] #4223 closed

[2020-09-29 02:18] #4267 closed

[2020-09-29 06:28] likith3611 opened #4289 ""I want to feed cats and dogs" so this is an intent in which dogs and cats belong to same entity <Animals> but when i extract the entity i only get dogs and not cats so how can I extract both can you please help me with the same"
"I want to feed cats and dogs" so this is an intent in which dogs and cats belong to same entity <Animals> but when i extract the entity i only get dogs and not cats so how can I extract both can you please help me with the same

[2020-09-29 10:16] prakashclt commented on #3561
Where do you find the luis endpoint key ?

[2020-09-29 15:30] CopenhagenJames commented on #1820
I'm still trying to figure out how to collect multiple inputs.  The single userName works.  Adding an additional field and I keep getting an object error.

[2020-09-29 15:54] ninggao commented on #4243
@carlosscastro Any update on this?

[2020-09-29 15:56] ninggao commented on #3379
@cxbuilders sure, I will ping everyone again.

[2020-09-29 15:56] a-b-r-o-w-n commented on #4280
@yeze322 I'm not sure how to address this. Do you have work scheduled for the menu groups? If not, I say we remove that from the schema for the time being.

[2020-09-29 15:57] ninggao commented on #3379
@cwhitten @hibrenda do you have any updates on this issue?

[2020-09-29 16:16] #4084 closed

[2020-09-29 16:36] a-b-r-o-w-n commented on #4285
@xieofxie what server endpoints are you wanting to call? We have exposed a shell api that wraps much of our server apis that frontend plugins can utilize.

[2020-09-29 16:38] a-b-r-o-w-n commented on #4282
@sangwoohaan Can you take a look at this?

[2020-09-29 16:45] a-b-r-o-w-n commented on #4277
@mewa1024 Are you currently looking at colors for lg/expressions in other places? Maybe you can assess this?

@LouisEugeneMSFT do you have any thoughts about the implementation of @Stevenic suggestion?

[2020-09-29 16:48] a-b-r-o-w-n commented on #4276
@LouisEugeneMSFT can you investigate this?

[2020-09-29 16:49] a-b-r-o-w-n commented on #4262
@boydc2014 can someone on your team look into this?

[2020-09-29 17:10] dmvtech commented on #4068
Hi @weiZhenkun Were you able to try that? Any success?

[2020-09-29 17:12] dmvtech commented on #4257
Hi @jintu123 I'm going to close this as it seems as though i've answered your question.

[2020-09-29 17:12] #4257 closed

[2020-09-29 17:43] #4039 closed

[2020-09-29 17:44] #4038 closed

[2020-09-29 17:45] stevkan commented on #4060
@zxyanliu, I agree with your assessment. Looking more broadly, I can see other examples that demonstrate the same. I will move forward with your recommendation.

[2020-09-29 17:48] pavolum opened #4290 "Develop creation spec for Iron deliverables"
- [x] take the creation functional req doc and break down each C&C (Creation and configuration) scenario into the dependent features it relies on.
- [x] set up a regular meeting cadence with each dependent feature team which initially will give us an idea of their timelines (and over time give us a space where we can communicate requirements, issues with latest bits, etc).
- [ ] With that we shoul

[2020-09-29 17:49] zxyanliu commented on #4060
@stevkan Thanks! Hope it helps. : )

[2020-09-29 17:54] pavolum opened #4291 "Implement feature flag infrastructure in Composer"
## Is your feature request related to a problem? Please describe.

Developers need the ability to put features behind feature flags to facilitate pushing in development features such as VA creation to the main branch and to have an infrastructure for initial feature flighting.

## Describe the solution you'd like

- [x] Create front end feature flag state, dispatchers, etc
- [x] Create initial UI

[2020-09-29 18:44] CopenhagenJames commented on #1820
Could you provide an example gathering multiple inputs.  This works but for multiple you get an error with object to string conversions.

[2020-09-29 18:55] zxyanliu opened #4293 "Remove duplicated aka links (docs related)"
There are duplicated aka links related to docs that should be updated.
For example:
Both http://aka.ms/BF-Composer-Build-First-Bot and http://aka.ms/bf-composer-docs-create-first-bot
point to the same URL: https://docs.microsoft.com/composer/quickstart-create-bot

[2020-09-29 20:04] mewa1024 commented on #4277
@sangwoohaan is working on LG and expressions.

[2020-09-29 20:08] martinlarosa opened #4294 ""Network Error" when publishing a big Luis app"
## Describe the bug

When starting a bot using a .lu file with over 200 intents and over 6000 utterances, I get a Network error always in the call to "build" exactly after 2 minutes.
Luis app is created and version contains all intents, but the training didn't happen.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [x] W

[2020-09-29 20:14] #4208 closed

[2020-09-29 20:40] dmvtech commented on #4289
Hi @likith3611 Have you tried seeing if the same behavior happens in the Test panel inside the LUIS portal? Is it a machine learned entity or a list? (or something else?)

[2020-09-29 22:39] #3991 closed

[2020-09-29 23:03] dmvtech commented on #3947
Hi @KyonCode Can you please share if you are still having this issue. I see that you also created a [Stack Overflow](https://stackoverflow.com/questions/63791435/bot-composer-publish-to-azure-unexpected-token-e-in-json-at-position-0) issue, and wasn't sure where the current status or failure point was/is.

Additionally; can you share what version of Composer you are running?

[2020-09-29 23:43] #4293 closed

[2020-09-30 00:04] sangwoohaan commented on #4277
I will take this!

[2020-09-30 02:23] xieofxie commented on #4285
@a-b-r-o-w-n I am calling apis from this code: https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/server/src/router/api.ts

For example, I will call `/projects/:projectId` within my custom web route `/testplugin/:projectId/info`

Could you show me how to use shell api within plugin? Thank you very much~

[2020-09-30 02:23] xieofxie commented on #4175
I could use `/custom_api/:project_id` in web route plugin, so it is not an issue for web route. But I think it is still an issue for ui plugin.

[2020-09-30 02:47] yeze322 commented on #4280
@a-b-r-o-w-n not scheduled yet, I can remove that

[2020-09-30 03:19] yeze322 opened #4299 "Clear Flow Editor's useEffect hooks on multi-selection ids"
## Describe the bug

Follow-up of #4298 . The `useEffect` hooks inside `useSelectionEffect` caused a race condition bug.
We should obey the one-way data flow principle. So I plan to move the computation of current selected Actions to ToolBar.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To

[2020-09-30 03:38] mganeshphani commented on #1820
@CopenhagenJames  as simple as this(this is just a modification of adaptivecardhandling example)
![image](https://user-images.githubusercontent.com/22988320/94640455-65c16f80-02a4-11eb-9ec4-c5e0aaa3e498.png)

[2020-09-30 04:26] boydc2014 commented on #4262
Sure, assigning @zhixzhan  on this.

[2020-09-30 04:44] srudin opened #4300 "Example template, documentation or tutorial how to create a multi-language bot"
I know there is a documentation page giving some information about translations [here](https://docs.microsoft.com/en-us/composer/how-to-use-multiple-language).

However this is very basic and theoretical. It seems to me that the composer is currently not able to really handle even the simplest requirements regarding multi-language support. I created an issue on SO describing a problem that I run i

[2020-09-30 05:09] likith3611 commented on #4289
It is machine learning entity itself and in Luis portal when I test, I am able to see both cats and dogs detected under ML entities category

[2020-09-30 05:10] likith3611 commented on #4289
![image](https://user-images.githubusercontent.com/49705166/94645406-65a78b00-0309-11eb-999d-2aafc57287bf.png)
Random example doing the same

[2020-09-30 06:24] srinaath opened #4301 "Migrating existing bots"
Root bots built pre R11 that call skills need to have Bot Project functionality enabled. Existing skills will be added as remote skills and a Bot Project file will be created on the fly

[2020-09-30 08:15] CopenhagenJames commented on #1820
@vishwacsena thanks for the quick response greatly appreciated

[2020-09-30 10:27] prakashclt opened #4302 "Publishing to existing azure resource"
I followed the steps specified in [microsoft docs](https://docs.microsoft.com/en-us/composer/how-to-publish-bot) which has the following format -
{
"accessToken": "<your access token>",
"hostname": "<your web app name>",
"luisResource": "<your luis service name>",
"settings": {
    "luis": {
    "endpointKey": "<your luis endpointKey>",
    "authoringKey": "<your luis authoringKey>",
    "region":

[2020-09-30 16:01] #4102 closed

[2020-09-30 16:14] mplwork opened #4303 "Cannot start bot todobotwithluissample"
## Describe the bug

I created the `ToDoBotWithLuisSample` and pressed `Start Bot`. I provided a valid authoring key for the `westeurope` region. After a while the LUIS Apps are visible in eu.luis.ai but then I receive

[code]

On the console where I started Composer I see:

[code]

In `Bot Settings` I have
[code]
What am I missing?

## Version

1.1.1

## Browser

- [ ] Electron distribution
- [ ]

[2020-09-30 16:55] JaskeeratBedi-cmk commented on #4279
Marieke, Yan and Jaskeerat met and walked through the Figma files on 9/28. Yan left comments on the Figma file for copy suggestions and the design team has updated these in the attached Figma file.

[2020-09-30 17:44] #3588 closed

[2020-09-30 18:56] zxyanliu commented on #4303
@mplwork FYI. I tried and the sample worked. The following might be helpful.

![image](https://user-images.githubusercontent.com/32497439/94727495-aad0ba80-0313-11eb-94c1-0c03d3f8f439.png)

![image](https://user-images.githubusercontent.com/32497439/94727571-c8058900-0313-11eb-8d32-7546cb18f322.png)

[2020-09-30 19:44] anusharavindrar commented on #4302
@prakashclt, if you want to enable LUIS with your Composer bot, then you will need to provide the values for luisResource, endpoint key, authoring key, and region.

- If you have followed the [steps](https://docs.microsoft.com/en-us/composer/how-to-publish-bot#create-azure-resources) for 'Create Azure resources', then towards the end, you will see a generated JSON file in the command line which is

[2020-09-30 22:07] #4107 closed

[2020-09-30 22:48] #4170 closed

[2020-10-01 02:53] prakashclt commented on #4302
Thanks for the help !

[2020-10-01 02:53] #4302 closed

[2020-10-01 05:28] BeheraMadan opened #4304 "Translation Samples needs to translate Hero Cards and multiple input choice action"
Hi,

Below sample is working for normal text messages

https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/17.multilingual-bot

But translation, where cards (hero and multiple input choice action) are not being translated.

Consider updating this sample to include an hero and multiple input choice action translation.

Also there was some solution provided for adapti

[2020-10-01 06:28] srudin commented on #3807
Any solution to this?

[2020-10-01 08:56] RafaelQuesada opened #4305 "Can't use TelemetryTrackEvent actions"
## Describe the bug

I have a super simple echo bot (fresh out of the template) with an extra action to send a custom telemetry event to application insights with the input from the user, however it doesn't work. When trying the bot in the emulator I get a 500 error, and when running the project without the composer I get the following message:

`fail: Microsoft.AspNetCore.Server.Kestrel[13]
Conne

[2020-10-01 10:10] mplwork commented on #4303
Thanks, this is exactly what I put in there - with my data of course.

![image](https://user-images.githubusercontent.com/43606815/94795794-272fd000-03de-11eb-9f32-e7e9a5902c1d.png)

And as I said the LUIS Apps all appear on eu.luis.ai. Must be something else. Actually, it has to be. Not even the **EchoBot** works, same error:
[code]

[code]

[2020-10-01 11:38] likith3611 commented on #4289
Is there a solution for this?

[2020-10-01 11:40] likith3611 commented on #4289
Is there a possibility of getting the luis output json?

[2020-10-01 12:30] srudin commented on #4300
Btw - Same problem when sending HTTP requests. I want to use a translated text in the body, so I add an entry in the bot responses section and use it by adding ${BodyText()} to the body parameter. I get "BodyText does not have an evaluator, it’s not a built-in function or a custom function".

Maybe I am completely missing something here but it is very unclear to me when the translation texts can b

[2020-10-01 14:38] a-b-r-o-w-n commented on #3807
@srudin What version of the SDK are you using?

[2020-10-01 14:50] CopenhagenJames opened #4306 "Currently Deployment script uses west by default"
## Describe the bug

When you use the specify a location to publish new resources and specify a location other than westus, the deployment fails because Luis is not available if you select eastus for location.

## Version

Version 1.1.1

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps

[2020-10-01 15:42] zxyanliu commented on #4303
Can you please check if the ENDPOINT and LOCATION (the first image I posted) ) of your LUIS resource in Azure portal match what you configure in Composer?

[2020-10-01 15:43] zxyanliu commented on #4303
Also, which version of Composer did you use? Can you please let us know?

[2020-10-01 15:59] mplwork commented on #4303
Composer I built from git:
[code]

[code]

![image](https://user-images.githubusercontent.com/43606815/94833364-5579d380-040f-11eb-9746-5748e2640576.png)

[2020-10-01 16:25] ninggao commented on #4300
@dmvtech Could you please take a look at this?

[2020-10-01 16:27] ninggao commented on #3244
@darrenj Any updates on this one?

[2020-10-01 16:33] cwhitten commented on #4300
@srudin what areas of the documentation are unclear to you? Did you use [the following section](https://docs.microsoft.com/en-us/composer/how-to-use-multiple-language#build-a-basic-bot)?

[2020-10-01 16:34] cwhitten commented on #4303
@mplwork what version of dotnet are you using?

[2020-10-01 16:38] cwhitten commented on #4304
@BeheraMadan are you using Bot Framework Composer, or coding this scenario using the SDK directly?

[2020-10-01 16:38] mplwork commented on #4303
Probably this one, I don't remember when and how I installed it:
[code]

[2020-10-01 16:40] zxyanliu commented on #4303
You need  [.NET Core SDK 3.1](https://dotnet.microsoft.com/download/dotnet-core/3.1) and above.
See the doc: https://docs.microsoft.com/en-us/composer/setup-yarn#prerequisites

[2020-10-01 16:45] cwhitten commented on #4305
@garypretty can you troubleshoot this since you drove this into Composer?

[2020-10-01 16:52] cwhitten commented on #4306
Hi @CopenhagenJames this is expected behavior. LUIS has available authoring regions for `westus`, `westeurope`, and `australia`. To use our provisioning script you could exclude LUIS from the provision and manually create the resource from the LUIS portal, then amending the publishing profile in Composer with the LUIS keys associated with the application created from the LUIS portal yielding a set

[2020-10-01 16:54] dmvtech commented on #4300
@cwhitten It is mostly relating to choice or confirm prompts. You can see more of what @srudin is trying to do [here](https://stackoverflow.com/questions/64120881/how-to-translate-choices-in-bot-framework-composer). I am investigating this and trying to see how this would be possible (or if possible bug), but if you have any quick pointers or suggestions, that would be helpful.

@srudin I'll let y

[2020-10-01 16:59] CopenhagenJames commented on #4306
Agree, but you give the individual the capability to specify location and if they don’t do createluis=false then the script fails 10 minutes in.  Why not short circuit so it can be caught and do something earlier.

Thank You,

James D. Lawrence
PMP® Senior Cloud Solutions Architect | Azure Platform Evangelist
520 686-4303 (m)
MBA | MS Computer Science | MS Cyber Security | MCSD | MCAD
Email: james

[2020-10-01 17:02] cwhitten commented on #4300
@dmvtech I see. Check out https://github.com/microsoft/botbuilder-dotnet/issues/4747 and associated tickets/discussion for what is a known gap in the SDK around multiple-choice and LG

[2020-10-01 17:04] mplwork commented on #4303
I just noticed since you asked. Hope this won't break anything. I just  installed 3.1.402. Now I get

[code]
When I press `Start bot` the bot changes to

![image](https://user-images.githubusercontent.com/43606815/94839387-3717d600-0417-11eb-9248-23a1b6e83124.png)

and after a few seconds displays

![image](https://user-images.githubusercontent.com/43606815/94839110-d9838980-0416-11eb-9b48-c3a6ce4

[2020-10-01 17:09] zxyanliu commented on #4303
I was wondering if you tried our stable release of the desktop version?
https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.1.1

[2020-10-01 17:36] mplwork commented on #4303
That seems to have been the ticket:
[code]
I get  two problems:
When building there a numerous `error Could not open cafile: ENOENT: no such file or directory, open '...BotFramework-Composer\Composer\null'` messages all over the place
and the firewall complains:

![image](https://user-images.githubusercontent.com/43606815/94843512-15b9e880-041d-11eb-9332-79799d35ecea.png)

After recreating the Ech

[2020-10-01 17:53] mplwork commented on #4303
After fixing the LUIS endpoint again the ToDoBot is working as well. Thanks lot for your help.

[2020-10-01 18:01] mplwork commented on #4303
Yes, seems to work better. But I was just following the documentation at https://docs.microsoft.com/en-us/composer/setup-yarn#installation-instructions

[2020-10-01 18:01] dmvtech commented on #4300
@srudin Subscribe to or keep an eye on the thread (and feel free to add your input) here:
https://github.com/microsoft/botbuilder-dotnet/issues/2387

I'm going to close this as it is a known gap/issue in the SDK and not specifically related to Composer. [Per Vishwac](https://github.com/microsoft/botbuilder-dotnet/issues/2387#issuecomment-637090462), you can build your own confirm prompt with LUIS

[2020-10-01 18:01] #4300 closed

[2020-10-01 18:04] zxyanliu commented on #4253
Close this issue as the terms were added.

[2020-10-01 18:04] #4253 closed

[2020-10-01 18:33] jwiley84 commented on #4243
@saikumaru

Apologies for the delay in answering this. Azure Functions Bots are no longer supported. The architecture for putting bots on functions was for v3, not v4.

[2020-10-01 18:59] saikumaru commented on #4243
Pardon me but the documents says Azure Function is in **Preview** rather than **Depreciated**.

Are we referring to the same piece, if so would you please mind correcting the document so that we aren't misled?
https://docs.microsoft.com/en-us/composer/how-to-publish-bot

`Enter a name for your publish file and select where you would like to publish your bot: Publish bot to Azure Web App (Preview),

[2020-10-01 19:01] jwiley84 commented on #4243
My apologies. I didn't realize Composer was adding that functionality. I'll go ahead and reopen this issue, and reach out to a member of the composer team.

[2020-10-01 19:02] zxyanliu commented on #4243
@saikumaru I also tracked the issue here if it has to do with the docs.
https://github.com/MicrosoftDocs/composer-docs/issues/11

[2020-10-01 19:13] cwhitten commented on #3958
Please make sure this reflects the current R11 POR with @vivekkshankar

[2020-10-01 19:41] #4024 closed

[2020-10-01 20:25] tonyanziano opened #4311 "Publish History does not scroll"
## Describe the bug

When showing publish history on the Publish page, whenever there are a lot of entries, they are truncated and I cannot scroll the view to see the rest of the history.

## Version

`main` branch on 10/1/2020

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## Expected behavior

Allow me t

[2020-10-01 20:32] ninggao commented on #3379
@cwhitten @hibrenda @DingmaomaoBJTU pinging everyone again... Any updates on this one?

[2020-10-01 22:31] cdonke commented on #3902
Closing as not reproduceable anymore...

[2020-10-01 22:31] #3902 closed

[2020-10-01 22:39] cdonke opened #4313 "Bug: Unable to resolve service for type 'Microsoft.Bot.Connector.Authentication.AuthenticationConfiguration'"
## Describe the bug
Bot not starting.

- Downloaded the latest version from MAIN branch
- Create a new bot from scratch
- Started it.

Bot emulator kept returning Error 400, then Composer presented the following message:
![image](https://user-images.githubusercontent.com/4707327/94870223-6d585400-041d-11eb-9d48-3a54b5b42051.png)

Exported the code, and ran on VS:
![image](https://user-images.githu

[2020-10-02 07:55] likith3611 commented on #4289
Hi it would be really great if I could get some quick response
Thanks in advance. I just need to extract the content of entities completely or get the Luis json without doing another API call

Please help me out here

[2020-10-02 15:14] cdonke commented on #4313
Already fixed

[2020-10-02 15:14] #4313 closed

[2020-10-02 16:15] ninggao commented on #3742
@scheyal Do you have other thoughts on this?

[2020-10-02 16:17] ninggao commented on #3414
@tonyanziano Any updates?

[2020-10-02 16:18] ninggao commented on #4156
@garypretty Any updates on this one?

[2020-10-02 16:21] dmvtech commented on #4289
Hi @likith3611 I'm investigating. I'll get back to you today.

[2020-10-02 16:26] tonyanziano commented on #3414
I haven't had time to look at this yet as I'm also working on the PVA integration right now and that is a higher priority. I will investigate afterwards.

[2020-10-02 17:02] zxyanliu commented on #3910
Closing this issue since the PR gets approved, the content will be merged and go live soon.
Also tracking in the docs' repo: https://github.com/MicrosoftDocs/composer-docs-pr/issues/208

[2020-10-02 17:02] #3910 closed

[2020-10-02 18:08] ninggao commented on #2378
@0x454447415244 Does @tdurnford 's answer resolve your issue?

[2020-10-02 19:39] anemit opened #4317 "Microsoft Bot Composer: Hero Cards"
I'm new to Microsoft Bot Composer and I am experimenting with card responses. When I create a HeroCard with name
#HeroCard everything is fine. But I can't create another one with another name like #HeroCard2 because an error appears  in "Send a response".
![Screenshot_2](https://user-images.githubusercontent.com/48094685/94962973-0e1f4000-0500-11eb-8b51-0862788c7af0.jpg)
![Screenshot_3](https://us

[2020-10-02 19:41] anemit commented on #4317
The error:
![Uploading Screenshot_4.jpg…]()

[2020-10-02 19:42] anemit commented on #4317
The error:
![Screenshot_4](https://user-images.githubusercontent.com/48094685/94963290-91409600-0500-11eb-800b-17a1e3e0e2b1.jpg)

[2020-10-02 23:41] zxyanliu commented on #4317
FYI. I reproduced the error as @anemit described.
The error was gone after I opened another bot and then came back to the card bot.

![image](https://user-images.githubusercontent.com/32497439/94977543-15c5f100-04ce-11eb-8f4f-6f34c6b76879.png)

![image](https://user-images.githubusercontent.com/32497439/94977553-21191c80-04ce-11eb-8245-9a1437571135.png)

[2020-10-03 01:07] dmvtech commented on #4289
Hi @likith3611

Thank you for your patience.

I forgot to mention earlier; can you share _how_ you are extracting the entity?

Here is a portion of my .lu:
[code]

Using the following LG:

`- The entities: ${turn.recognized.entities}`

And the utterance `"i want to travel by car and truck"` (truck is a synonym of car as you can see), gave me:

[code]

Which is _strange_ (in my opinion).

You can g

[2020-10-03 07:29] #4317 closed

[2020-10-03 08:09] likith3611 commented on #4289
within set property i would do something like user.entities:=@VehicleTravel, this way i was storing the values in a variable

[2020-10-05 13:07] tamasschmolcz commented on #4081
I face the same issue. AuthoringKey is set and the region is Westeurope. Based on the comment I also added a prediction resource also based in Westeurope. My bot is published to Luis and I can see it in the listing. However, error still appears. Do you have any further idea?

Thanks

[2020-10-05 13:20] srudin commented on #4300
Ok thank you. I will post my comments there.

[2020-10-05 15:29] benbrown commented on #4233
In order to use these, you need to capture the ID of a message you've already sent.  This can be achieved by accessing `turn.lastresult.id` after each call to SendActivities.

So for example, you could use a Set Property action to capture this value and store it for later use.

[2020-10-05 17:38] lzc850612 commented on #4268
@luhan2017 do you have any update for this issue? Thanks.

[2020-10-05 17:44] lzc850612 commented on #4305
@garypretty do you have any update for this issue? Thanks.

[2020-10-05 17:45] lzc850612 commented on #4178
@jintu123 could you take a look at @luhan2017 's response to see if you can still reproduce this issue? Thanks.

[2020-10-05 17:46] GeoffCoxMSFT opened #4319 "Create Form Dialog Architecture doc and review with team"

[2020-10-05 17:52] lzc850612 commented on #4235
@benbrown do you have any update on this issue? Thanks.

[2020-10-05 17:54] lzc850612 commented on #4234
@benbrown  do you have any update for this issue? Thanks.

[2020-10-05 17:58] benbrown commented on #4235
@rviveiros unfortunately nothing in that log tells us what is really happening. Have you been able to publish again since the first time?

[2020-10-05 18:02] krusejan commented on #4235
@benbrown, We are experiencing the same issue at my customer in Germany (I am MSFT FTE). We can provide additional logs if that helps or do additional tests, if you advise what exactly you need to troubleshoot this further.

[2020-10-05 18:21] #4145 closed

[2020-10-05 18:21] #4146 closed

[2020-10-05 18:22] lzc850612 commented on #3548
@hibrenda could you take a look at this issue? Thanks

[2020-10-05 18:23] lzc850612 commented on #4179
@dredondoc was the previous comment helpful? Feel free to close this issue if it was. Thanks.

[2020-10-05 18:25] lzc850612 commented on #4246
@leopuleo could you see if the workaround in the previous comment would help with your issue? We'll continue the fix for the issue on our side. Thanks.

[2020-10-05 18:31] cwhitten commented on #3339
Hi @martinlarosa - not this November release but we anticipate the release after that.

[2020-10-05 18:34] lzc850612 commented on #4157
@carlosscastro can you keep this in mind as you look at the implementation of IsSkill function work? Thanks.

[2020-10-05 18:41] garypretty commented on #4305
Sorry for the delay @RafaelQuesada.

Can you confirm that when you say this was fresh out of the template, is this a bot that you created just recently? Also, have you ejected the runtime or are you running from the default runtime Composer uses?  My first thought when looking at the error message was that your runtime had been ejected and was out of date.

I am unable to confirm this right now du

[2020-10-05 18:55] rviveiros commented on #4235
No, I didn't had the chance to try again. To solve my problem I've created a new bot using empty template on visual studio then I dinamicaly add the adaptative dialog exported from composer. It's working perfect for my purposes, gives me control and flexibility.

[2020-10-05 18:58] dmvtech commented on #4305
Sorry! I forgot to mention this here on Friday; but I am able to reproduce this as well. I tried debugging in VS with a copy of the C# runtime, but I couldn't figure it out. I don't have much more to add than that.

[2020-10-05 19:15] benbrown commented on #4235
@rviveiros glad you got unblocked.

[2020-10-05 19:17] benbrown commented on #4235
@krusejan - have you been able to publish again after the first time?

[2020-10-05 19:22] benbrown commented on #4234
This seems like a reasonable approach @cxbuilders, particularly given the channel differences.

[2020-10-05 21:45] mareekuh opened #4324 "UX - Conflict resolution UX PVA/Composer"
Design high-level conflict resolution UX when publishing a bot to PVA while in the mean time changes have been made to the topic or trigger phrases in PVA.

(pri 1)

[2020-10-05 21:48] mareekuh opened #4325 "UX - design how and when Authentication UI comes up in Composer, after downloading Composer from PVA"
## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-10-05 22:01] mareekuh opened #4326 "Remember PVA recognizer"
When coming from PVA and opening a topic in composer, initially we set the recognizer to PVA NLU.
When creating another dialog/trigger as part of the same bot/dialog, can we pre-set the recogizer to the PVA NLU again?

[2020-10-05 23:19] hatpick opened #4327 "Allow undo/redo in form dialog schema builder"
Enable users to undo/redo their actions while building a form dialog schema

[2020-10-05 23:31] dmvtech commented on #4068
Closing due to lack of response. If you continue to have this issue, please comment and we can reopen.

[2020-10-05 23:31] #4068 closed

[2020-10-06 03:47] michielpr opened #4329 "Test note as to figure out how to capture research progress"
test note/issue

[2020-10-06 06:34] RafaelQuesada commented on #4305
Hey @garypretty

Correct, a new simple echo bot created just to test this. I did eject the runtime, but I just tried it again without ejecting it and got the same error in emulator.

1. Dialog
<img width="1235" alt="Screenshot 2020-10-06 at 08 29 51" src="https://user-images.githubusercontent.com/48206105/95166609-7dba5700-07ae-11eb-95de-5d9547e91abe.png">
2. Settings
<img width="1231" alt="Screen

[2020-10-06 06:51] #4234 closed

[2020-10-06 07:03] leopuleo commented on #4246
Hi @lzc850612,
Yes, in case of variable name not starting with number everything works fine.

[2020-10-06 08:14] saikumaru commented on #4243
team, would you have an update here please?
If we need to offer composer to our clients with Azure function as a PAYG option, this is just holding us down.

[2020-10-06 11:57] jh70zape commented on #3722
I get exactly the same issue. Tried to publish from Composer and it said success. Got back to the azure Web App Bot, showing nothing in the test chat (supposed to give greetings). Do you guys have any new update on fixing it?

[2020-10-06 13:52] crebstock commented on #4165
@dmvtech I just came across this after going through billing support.  Isn't there limits to how many free tier search services you can have?  This could be a real problem for anyone who would want to have multiple bots running.  Even low use bots have a significant monthly spend because of that search service.

[2020-10-06 15:23] LakshmanRaja209 opened #4330 "null value while reading the http action response"
Hi,
I have added a Http Request action in Bot Composer my request is getting success.
While I am reading the response I am getting null value, where my property name is like "caller_id.name"

getting null for properties included . in name, for example :
opened_by.user_name
cmdb_ci.name
u_location.name

here is my response
{
  "channelId": "emulator",
  "conversation": {
    "id": "099928c0-07cb-11

[2020-10-06 16:25] cwhitten commented on #4326
@mareekuh as designed, it will say "Default Recognizer" by default, not "PVA NLU". What was demo'd yesterday wasn't quite where we are ending up. Reach out to me if you have further questions

[2020-10-06 16:25] #4326 closed

[2020-10-06 16:26] jwiley84 commented on #2926
Good morning. I  ran into this exact issue this morning. First time installation of Composer on my laptop.
Repro steps:
- Followed the link from https://docs.microsoft.com/en-us/composer/quickstart-create-bot for installing Composer on Windows as desktop app. Installed version v1.1.1
- Clicked 'new'
- Select 'Create from Template'
- Select EchoBot
- Make no changes, just Click 'Start Bot'
- Get er

[2020-10-06 16:27] cwhitten commented on #4305
taking into R11 and assigning @luhan2017

[2020-10-06 16:29] cwhitten commented on #4180
@UmaPrelude this will be addressed in an upcoming release. For now, you can eject your runtime and change your botframework libraries to the preview versions, which will have the fix. https://botbuilder.myget.org/feed/botbuilder-v4-dotnet-daily/package/nuget/Microsoft.Bot.Builder

[2020-10-06 16:48] mareekuh commented on #4326
Ah i see - @cwhitten where do you expect we'll be ending up instead?

[2020-10-06 17:35] jwiley84 commented on #2926
As a check, I decided to do the [build Composer from source](https://docs.microsoft.com/en-us/composer/setup-yarn) option, so to see if something went sideways in my installation. I get the same error.

[2020-10-06 17:38] benbrown opened #4332 "Removing the value of "output format" causes a zero length string to be serialized to the JSON which causes errors"
## Describe the bug

If I set the output format of a prompt, then remove that value, a zero length string ends up in the JSON.

This causes the SDK to reformat the prompt value to "", which causes the "unrecognized prompt" to fire every single time.

## Version

1.1.1

## Browser

- [x] Electron distribution

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

1.  create a prompt
2. se

[2020-10-06 17:41] jwiley84 commented on #3722
Assigning to @v-kydela as I'm unable to run composer at the moment.

[2020-10-06 17:41] jwiley84 commented on #4243
Assigning to @v-kydela as I'm unable to run composer at the moment.

[2020-10-06 18:07] ryanlengel commented on #4330
Thank you for your submission @LakshmanRaja209. @cwhitten can you take a look and route appropriately?

[2020-10-06 18:13] jwiley84 commented on #2926
@MNHarun I was able to  get help to get mine fixed. Can you try some steps to try to see an in-depth error message?
- In Composer, go to settings (small gear on the bottom left)
- Select "Runtime Config"
- Toggle 'Use Custom Runtime'
- Click 'Get a new copy  of the the runtime code' (both  boxes should autofill)
- In a commandline, navigate to your new Runtime code location (eg `cd  C:\Users\path\

[2020-10-06 19:27] michielpr opened #4334 "Launching Composer on W10 launches 4 apps at the same time"
## Describe the bug

Launching Composer takes a long time. At the start, it creates 4 different instances of itself. Only when the 4th one launches, Composer opens. Prior to creating any bot OR launching the emulator, Composer has also created 12 different services for itself which seems inefficient.

Launching an empty composer takes about 0.5Gb of memory.

## Version

1.1.1

## Browser

- [X] El

[2020-10-06 19:53] #4327 closed

[2020-10-06 23:26] dmvtech commented on #4091
Hi @soappp Sorry for the delay in response on this.

Can you please see if this reproduces with the [stable version 1.1.1.](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.1.1)?

When I setup a proxy, then supply a dummy string, I get:

With a valid LUIS auth endpoint key, I have no failure and can see the traffic in my proxy:
![image](https://user-images.githubusercontent.com/4

[2020-10-06 23:53] dmvtech commented on #4165
Hi @crebstock I don't know about Free search services per subscription, but [there is](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/limits#knowledge-bases) a limit on how many indexes you can have for a Free one. I think the key would be consolidating production QnA resources into one or more  (obviously not free) resource, and just using the free one for a development QnA kb

[2020-10-07 00:40] v-kydela commented on #3722
@Trubzzz - I was able to reproduce your problem at first, but when I went to the channels blade and then back to the Test in Web Chat blade the bot began responding immediately. Perhaps the app service just needs a moment to start up. Does your bot work after leaving and coming back?

[2020-10-07 02:27] karloberas commented on #4233
turn.lastresult.id is null and results in "‘activityId’ cannot be null."

[2020-10-07 09:23] UmaPrelude commented on #4180
Hi Chris,
When i tried to install with the command
Install-Package Microsoft.Bot.Builder -Version 4.10.0-preview-200707-143948 -Source https://botbuilder.myget.org/F/botbuilder-v4-dotnet-daily/api/v3/index.json

I am getting the below error and trying to solve.

[2020-10-07 09:37] soappp commented on #4091
@dmvtech Thank you for your reply.
I updated my Bot Framework Composer to v1.1.1 and tried to publish the sample bot with LUIS.
I got another error message and the publishing task was aborted.

![201007_luis-publish-error-w-bfc111](https://user-images.githubusercontent.com/1598692/95314223-febb4080-08cb-11eb-9d44-e03f031eab17.png)

[2020-10-07 09:59] zhnbss commented on #4157
I am also having difficulty in my project with "autoEndDialog". This control is essential for the execution of the project I am currently doing. Is there any way around?

[2020-10-07 11:27] KyonCode commented on #3947
Hello,
running on 1.0.2.

I added deployment slot in Azure to my app. And now getting this error: **unable to get local issuer certificate**

I believe I moved a little :) is it possible this mistake has something to do with corporate proxy?

![image](https://user-images.githubusercontent.com/70146191/95324981-d5d18600-08a0-11eb-89ab-b2a5ae073ac5.png)

[2020-10-07 15:21] jwiley84 commented on #2926
I'm going to reclose this issue. @MNHarun, if you're still having this issue, please comment and we'll look into it.

[2020-10-07 15:21] #2926 closed

[2020-10-07 16:40] michielpr opened #4335 "The commands in both edit menus are out of sync"
## Describe the bug

When I open the both edit menus, at times they will have different states. This cannot be the case.

## Version

1.1.1

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Open both edit dropdowns on the home screen

## Expected behavior

Bo

[2020-10-07 18:02] zxyanliu commented on #4330
FYI. We have two docs regarding how to use the **Send an HTTP request** action:
* [Send an HTTP request](https://docs.microsoft.com/en-us/composer/tutorial/tutorial-get-weather#add-an-http-request) in the weather tutorials.
* [Send an HTTP request](https://docs.microsoft.com/en-us/composer/how-to-send-http-request#add-a-send-an-http-request-action) in the how-to guides.

[2020-10-07 18:13] lzc850612 commented on #4007
Closing due to inactivity.

[2020-10-07 18:13] #4007 closed

[2020-10-07 19:16] dmvtech commented on #4233
No, but I'm still working on it.

[2020-10-07 20:37] srinaath opened #4338 "Diagnostics Page"
**Platform Work**

*    [x]  Surface Notifications across projects in this page

**UI Work**

*   [x] Additional column to indicate the name of the Root Bot or skill the notification surfaced from.
*    [ ]  A filter to group notifications by the Root Bot or skill

[2020-10-07 21:59] Arjun-Jakka-Sridhar commented on #1965
![image](https://user-images.githubusercontent.com/72132528/95392387-4666ba00-0916-11eb-844d-576bd7057b5c.png)

Can somebody please tell me why I am getting POST 500 and how to resolve it?

Thank You

[2020-10-07 23:36] dmvtech commented on #4233
Ok, I am able to get the activity ID. But I am unable to get any activity to update.

First of all, there are only some channels that allow you to update the activity. From some poking around, it should be: Teams, Slack, Telegram, and Skype.

This contradicts what is currently listed [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0

[2020-10-08 00:02] dmvtech commented on #3947
Thank you @KyonCode.

It might.

If it's not too difficult, can you try running the [stable 1.1.1.](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.1.1) version?

[2020-10-08 00:04] dmvtech commented on #4091
@soappp Thank you. I realized, that in my test, if something (for some reason) doesn't go through my proxy, it will still work (since I don't have a firewall/etc shutting that request down). I'm going to have to try and figure out how to test/handle for that.

Thank you for trying v1.1.1. I'll keep investigating.

[2020-10-08 04:08] karloberas commented on #4233
I manage to get the value of turn.lastresult.id when turn.channelId is 'msteams'

[2020-10-08 04:23] smynam opened #4339 "Start Bot Failed Messages When Trying To Launch The Bot Using Bot Framework Composer"
Start bot failed

Error: Command failed: dotnet user-secrets init --project azurewebapp /bin/sh: dotnet: command not found

## Describe the bug

## Version

version : 1.1.1 <> Elsctron 8.2.4 <>NOdeJS:12.13.0

## Browser

- [ ] Electron distribution
- [ ] Chrome [X]
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS [X]
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the beha

[2020-10-08 07:42] #4330 closed

[2020-10-08 07:43] LakshmanRaja209 commented on #4330
you can access the property like **dialog.apiresult.content.result[0]['location.name']**

[2020-10-08 13:18] karloberas commented on #4233
Update: I can't get update or delete activity to work when the activity I want to update was sent as a "Prompt for text". The turn.lastresult is never populated with the activity ID. I tried storing the activity id into the adaptive card as a hidden field, then I tried to update the activity using the stored activity id but Teams just replied with "Operation returned an invalid status code 'Forbid

[2020-10-08 15:25] nitroin commented on #4339
Have you installed the .NET Core SDK?

Quoting the [docs](https://docs.microsoft.com/en-us/composer/setup-yarn#prerequisites):

### Prerequisites
* The Bot Framework Emulator.
* The .NET Core SDK 3.1 and above.
* Download and use Composer: Windows | macOS | Linux.

[2020-10-08 15:31] nitroin commented on #4118
Seeing this as a stale issue, is there something we (the community) can actionate to progress this issue?

We we'll be keen to arrange a PR if any hints or insights are provided.

[2020-10-08 15:51] cwhitten commented on #4118
Hi @nitroin - @luhan2017  has been on holiday and returning tomorrow. Thank you for your patience.

[2020-10-08 16:18] cwhitten commented on #1654
Closing this issue. See https://github.com/microsoft/BotFramework-Composer/issues/1654#issuecomment-558913572 for guidance on how to self-host Composer.

[2020-10-08 16:18] #1654 closed

[2020-10-08 16:28] #4204 closed

[2020-10-08 16:36] cwhitten commented on #4339
As @nitroin explained, it looks like you may need to install the dotnet dependencies.

[2020-10-08 16:37] #4339 closed

[2020-10-08 16:45] cwhitten commented on #4334
@michielpr we're not sure if this is a bug yet, in fact it may be expected behavior. It isn't 4 APPS, but it could rather be 1 app + 3 child processes. Anecdotally, Microsoft Teams opens 10 processes.

We could take a bug to _name_ these child processes to better explain the fact that Composer launches more than one process.

Incidentally, were you experiencing odd behavior that led you to open th

[2020-10-08 16:53] cwhitten commented on #4332
@boydc2014 don't let us forget to discuss this in the platform standup this evening

[2020-10-08 17:22] #4274 closed

[2020-10-08 17:41] michielpr commented on #4334
Oh interesting. Thanks for the clarification @cwhitten.

A bit more context:
I opened the task manager as the start-up was taking quite some time (blame it on curiosity).
On the screenshot you can see that there Composer has 4 applications and 12 child/background processes. Is that something as expected?

_As a side-note: only when the 4th application is loaded, the application UI becomes visible.

[2020-10-08 18:17] GeoffCoxMSFT commented on #4187
Following up with Andy to see if we need to regen uischema from the SDK.

[2020-10-08 19:46] v-kydela commented on #4243
@saikumaru - Have you tried this with an out-of-the-box echo bot?

[2020-10-08 22:44] tdurnford commented on #4276
The previous fix is causing issues with toggling between expressions.

[2020-10-09 00:35] boydc2014 commented on #4285
@yeze322 can you follow up with @xieofxie  to get the scenario and requirements clarified? If it's anything the plugin API is not able to provide and the scenario is valid, let's create a new ticket for that

[2020-10-09 01:11] saikumaru commented on #4243
Yes, that is exactly what I have tried to start off with.

[2020-10-09 02:53] yeze322 commented on #4285
I will follow up. Here is an example of how to consume shellAPI
<img src="https://user-images.githubusercontent.com/8528761/95536410-99776480-0a1d-11eb-8e5f-bf1541351e8c.png" width="300" />

[2020-10-09 03:01] hibrenda commented on #3562
@saikiran521 Could you check out the latest composer and check weather https://docs.microsoft.com/en-us/composer/how-to-author-qna-kb meet your requirement. You can customize the response under "QnA intent recognized" trigger.
![image](https://user-images.githubusercontent.com/43408889/95536837-9466e500-0a1e-11eb-9cf0-e75a65c19c5e.png)

[2020-10-09 03:12] yeze322 commented on #4335
It's a little tricky here but it's actually as-desgined. The Electron's app menu has 2 modes, one for Flow Canvas, another for system's default behavior.

1. When you are focusing on the flow canvas part (there will appear a border), the Electron's menu will be synced with Toolbar's menu. Cut / Copy / Delete will operate on action nodes.
2. When you are focusing on other parts of the Electron App,

[2020-10-09 05:05] yeze322 commented on #4335
FYI https://github.com/microsoft/BotFramework-Composer/pull/3846

[2020-10-09 05:12] knightmeister commented on #3339
Do we have an ETA on this, because I need to be able to commit to a CI/CD strategy.

[2020-10-09 08:16] yeze322 commented on #4128
Do we have updates / requirements on this topic?

[2020-10-09 08:41] yeze322 commented on #4149
I'm working on https://github.com/microsoft/BotFramework-Composer/pull/4079 which is related to this issue.
Here is the draft definition of Trigger's uischema https://github.com/microsoft/BotFramework-Composer/pull/4014.

[2020-10-09 08:47] yeze322 commented on #4227
I have a WIP PR which aims at solving this problem https://github.com/microsoft/BotFramework-Composer/pull/4079.
Also related to https://github.com/microsoft/BotFramework-Composer/pull/4014.

[2020-10-09 09:15] sschutten commented on #4233
Wow, I didn't realize turn.lastresult.id would not be set in the Emulator. That put me on the right track and got it to work using Teams.
@karloberas In your UpdateActivity, make sure to set the activityId to `=turn.lastresult.id` instead of `turn.lastresult.id`. Without the = sign it will try to use the literal string `turn.lastresult.id` as the activity ID. I ran into exactly the same issue 😊

[2020-10-09 09:36] benjaminsommerfeld opened #4344 "How to use Direct Line Channel in Composer?"
As followup to my question in this issue:

https://github.com/microsoft/BotFramework-Composer/issues/2240#issuecomment-655682157

Can you provide any tutorial or link how exactly we can use Direct Line channel in Bot Framework Composer? I do not mean the Direct Line Azure Service, but the Direct Line Channel which can also be used to directly communicate with a local webserver for example when dev

[2020-10-09 09:37] benjaminsommerfeld opened #4345 "How to use Direct Line Channel locally with Bot Framework Composer?"
As followup to my question in this issue:

https://github.com/microsoft/BotFramework-Composer/issues/2240#issuecomment-655682157

Can you provide any tutorial or link how exactly we can use Direct Line channel in Bot Framework Composer? I do not mean the Direct Line Azure Service, but the Direct Line Channel which can also be used to directly communicate with a local webserver for example when dev

[2020-10-09 09:38] #4344 closed

[2020-10-09 12:52] BeheraMadan opened #4346 "how to compare two dates in composer"
Hi,

I want to compare two dates in a if else condition can anybody please tell me how do I achieve this because I am getting the wrong output(failure). Below is my screenshot.

<img width="716" alt="condition-test" src="https://user-images.githubusercontent.com/70739031/95583689-20e2c900-0a5a-11eb-9ef6-dad8fcc15a9e.PNG">

Thanks,
Madan

[2020-10-09 13:43] UmaPrelude commented on #4180
Installed couple of updates and now it is working. Thanks.

[2020-10-09 15:29] #4118 closed

[2020-10-09 15:57] benbrown commented on #4346
Use the `ticks()` expression to convert the date into a number - so,

`ticks(formatDateTime(dateProperty))`

[2020-10-09 16:23] benbrown commented on #3884
Another way this occurs:

* Add new rules in the common.lg file
* Use them in sendactivity - they will be marked as invalid even though they already exist
* Error notifications will only go away if the project is reloaded from disk

[2020-10-09 18:10] lzc850612 commented on #4346
@BeheraMadan does the above comment answer your question? Thanks.

[2020-10-09 18:57] dmvtech commented on #4233
`turn.lastresult.id` _should_ return the activity ID (at least in a text send activity) as I mentioned above. But, the update activity action itself won't be executed.

Ah, thanks. Yeah, i was missing the `=` as well. Confirmed that it works in Teams now.

@karloberas Let me try with a prompt for text and see what I get. Can you share how you are sending your card (the pertinent portion of .lg or

[2020-10-09 19:52] v-kydela commented on #4243
@saikumaru - I get the same error from the function app: `System.IO.FileSystem.Watcher: Error reading the D:\home\site\wwwroot\. directory.`

I also notice that it says the function host is not running:

![image](https://user-images.githubusercontent.com/41968495/95625894-20343d80-0a2e-11eb-9661-e010d2a7689b.png)

It appears that the Composer script does not deploy the function correctly

[2020-10-09 22:05] saikumaru commented on #4243
That is correct and glad that you can replicate. Also, I have no way to debug and see what the issue could be even if I try to download that code from functions and test.

Can you also advise when this can be resolved?

[2020-10-09 23:48] dmvtech commented on #4345
Hi @benjaminsommerfeld

I'm not sure off the top of my head, but I will look into this.

First, to clarify; there is no way to do this in Composer _itself_. I would _think_ it would be possible to modify the runtime to accomplish this, but I don't know for sure. Forgive me if you have tried this already, but have you created a copy of the runtime code and played with that yet? If not, in Composer

[2020-10-10 07:46] kuacci opened #4348 "Bot App deployed by Composer cannot start"
## Deploy to existing web app on azure not work

We followed below document of composer to publish bot to an existing web app instance running on azure. The publish output prompt success, but we got 502.5 response.
* https://docs.microsoft.com/en-us/composer/how-to-publish-bot#deploy-to-existing-azure-resources

The error of 502.5
![image](https://user-images.githubusercontent.com/5857515/95648847

[2020-10-10 08:16] luhan2017 commented on #4305
This is because the schema and code mismatch. In schema, the action is called "TelemetryTrackEvent", but in code it is declared as "TelemetryTrackEventAction", I will submit a PR in the sdk side to fix this issue.

You are mitigate this issue by update your dialog file. @RafaelQuesada
Click show code, and replace "$kind": "Microsoft.TelemetryTrackEvent" with  "$kind": "Microsoft.TelemetryTrackEven

[2020-10-10 08:24] luhan2017 commented on #4246
@boydc2014 , can you take a look at this issue? we should add one validation rule for the dialog name.

[2020-10-10 08:47] luhan2017 commented on #4073
This should also relate to the local issue which is already fixed in composer main branch. Close this issue, please reopen it if this issue still exists.

[2020-10-10 08:47] #4073 closed

[2020-10-10 09:20] #4289 closed

[2020-10-10 09:26] benjaminsommerfeld commented on #4345
@dmvtech Hi Dana, thanks for your quick reply, really looking forward to your further response after looking into the topic, cause this is very important for our customer's project.
Currently they are using a custom developed Bot but they would like to switch to Composer to ease the further development. Only this Direct Line Channel functionality is missing right now, which they are using to commu

[2020-10-12 01:12] mareekuh commented on #4008
@cwhitten - We need to revise what is implemented based on user feedback.
@JaskeeratBedi-cmk  can you take a pass at this and run it by me/vivek?

[2020-10-12 03:28] hibrenda commented on #3811
#4259

[2020-10-12 03:29] hibrenda commented on #3370
#4259

[2020-10-12 04:37] BeheraMadan commented on #4346
Thanks for quick response it works.

[2020-10-12 09:09] xieofxie commented on #4285
@yeze322  After discussion, we will focus on fixing using useShellApi in ui plugin and provide more documents for shell api functions.
My changes are here https://github.com/xieofxie/BotFramework-Composer/pull/1/files

[2020-10-12 09:13] xieofxie opened #4349 "[Plugin] get server's address and port in plugin"
## Is your feature request related to a problem? Please describe.

When I add one ui plugin and one webroute plugin, I don't know the server's address and port in ui plugin when calling webroute plugin's apis.

## Describe the solution you'd like

Provide this info somewhere.

## Describe alternatives you've considered

## Additional context

[2020-10-12 10:10] luhan2017 commented on #3639
@mareekuh @sangwoohaan, we need a design to input the prediction resource key in the local publish page.

![image](https://user-images.githubusercontent.com/32191031/95734534-289ea980-0cb6-11eb-85c8-c23ba30f8afe.png)

[2020-10-12 10:28] guru98 commented on #4275
Hi again, could someone comment on this? It's clear that developing code we need to call functions to to specific actions and computations. CustomActions is a good starting point but, in my mind, is intended for generic functions that can be reused in different bots and solutions. We can call rest, http, external functions but not always is a good solution. CodeActions are part of Adaptive Dialog

[2020-10-12 14:32] #4276 closed

[2020-10-12 14:34] cwhitten commented on #3695
@bradrlaw we'll close as unable to reproduce. let us know if you're still experiencing this.

[2020-10-12 14:34] #3695 closed

[2020-10-12 14:42] cwhitten commented on #3808
It would make sense to instead render the comment under the name column, or a in a new column (I believe form dialogs will be utilizing comments in a separate column)

It's odd to have it render in the responses column. @GeoffCoxMSFT is a change required here to render the form dialogs UX? If so, we can fund this through that effort, perhaps and reassign to a different dev.

[2020-10-12 14:55] cwhitten commented on #4200
I seeded Louis with this problem back in R10 discussing it at length with him, and I haven't seen a proposed solution, yet. Is this actually happening?

[2020-10-12 15:02] cwhitten commented on #4187
@GeoffCoxMSFT when we take new runtime packages that include those changes the generated uischema should include it.

[2020-10-12 15:45] #4162 closed

[2020-10-12 16:03] #4167 closed

[2020-10-12 17:03] #4142 closed

[2020-10-12 18:01] cxbuilders opened #4352 "Stop ConversationUpdate trigger when Activity Event is triggered"
We have a chatbot that is placed on different sites. One of the sites sends init data in the client using an event called WebInit. This event is picked up at the root dialog and the data is stored in the user object and used to welcome the user personally. However for the other sites there is no WebInit event thus the same bot starts the conversation also on ConversationUpdate activity, starting t

[2020-10-12 18:10] ryanlengel commented on #4348
@benbrown please assign to the appropriate resource, thank you!

[2020-10-12 18:33] benbrown commented on #4348
@kuacci - are you using the standard runtime code that is packaged with Composer? I am not familiar with the runtime config file.

[2020-10-12 18:45] scheyal commented on #3742
@garypretty  - more of your expertise.

[2020-10-12 18:49] LouisEugeneMSFT commented on #4200
Hi @cwhitten . I see this as a stretch deliverable, probably not making the cut for R11. But if we consider this important, happy to revisit priorities.

[2020-10-12 19:10] tonyanziano commented on #3414
@ramonck could you please try to reproduce this using [the steps I listed above?](https://github.com/microsoft/BotFramework-Composer/issues/3414#issuecomment-696796749)

I cannot reproduce this, so if you are still experiencing this issue and can paste the output here that would be very helpful. Thanks.

[2020-10-13 03:06] luhan2017 commented on #3379
@cxbuilders , you may need to customize your runtime and build a OAuthMiddleware, which ensure that user is actually logged in in each turn. will this meet your requirement? Please let me know you need further help on this.

[2020-10-13 03:09] luhan2017 commented on #4352
@cxbuilders , can you try to add a condition to the OnConversationUpdate trigger?
For example, OnConversationUpdate (condition: isAlreadyTriggered=false)

[2020-10-13 06:45] cxbuilders commented on #3379
@luhan2017 Was afraid of that. I would imagine that this would be something nice to have built into Composer, like a Pre & Post trigger for a Turn, where you would be able to do things like this.
Can you consider that as an enhancement request? Then for now I'll dive into C#... :)

[2020-10-13 08:07] luhan2017 commented on #4348
@kuacci The Microsoft.BotFramework.Composer.WebApp.runtimeconfig.json should be auto-generated when you build your runtime, Could it be an Ubuntu specific issue? Let's sync through Teams for more details on this issue?

[2020-10-13 08:07] kuacci commented on #4348
Here is the runtimeconfig I uploaded to make it work:
[code]

[2020-10-13 09:05] RafaelQuesada commented on #4305
Thanks @luhan2017, works like a charm!

[2020-10-13 10:21] saikumaru commented on #4243
Any update team?

[2020-10-13 16:12] a-b-r-o-w-n opened #4357 "Extension APIs"
TODO:
- [x] project api (#4358)
- [x] dialog api
- [x] lu api
- [x] lg api
- [x] others?

[2020-10-13 16:31] #4271 closed

[2020-10-13 16:32] mareekuh commented on #4271
Addressed

[2020-10-13 16:32] mareekuh commented on #4273
We are capturing this in another UX work item right now. This can be closed.

[2020-10-13 16:32] #4273 closed

[2020-10-13 16:35] cwhitten commented on #4349
@xieofxie you can access the backend without knowing the port that the webserver is listening on by using relative paths in your api calls

[2020-10-13 16:41] #4346 closed

[2020-10-13 16:45] cwhitten commented on #4335
@mareekuh let's follow-up on this to make sure we stay consistent with other desktop applications

[2020-10-13 17:52] mewa1024 commented on #4229
Do we know when this will be fixed?
Switching from `*.lu` to `*.lu.qna` breaks dialogs created through form dialogs (aka [Dialog Generation](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/generation)). I used to run a form dialog using [runBot](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/generation/runbot) and then open it in Composer to view the

[2020-10-13 18:12] ryanlengel commented on #2378
Closing due to inactivity.

[2020-10-13 18:12] #2378 closed

[2020-10-13 18:44] Beeez opened #4359 "LG Fails on Variables with Whitespace"
When using "Send a response", I get errors when attempting to get JSON content that has a space in it.
![image](https://user-images.githubusercontent.com/46723579/95902176-6c4eed00-0d62-11eb-82e7-6e758da7679d.png)

I set a property here called dialog.AppConcat, and a value of ${dialog.appInfo.content.${user.AppChoice}}.

If my selection includes a space, it fails. If it does not include a space, i

[2020-10-13 18:59] carlosscastro commented on #4243
Hello, sorry I missed this thread. I'll follow the steps and troubleshoot tonight.

[2020-10-13 19:25] GeoffCoxMSFT opened #4360 "Update LU page to support imports in navigation"

[2020-10-13 21:49] v-kydela commented on #3722
@Trubzzz - Are you still working on this?

[2020-10-13 21:55] tdurnford opened #4363 "[property-editor] Add support for nested fieldsets"
https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=2615%3A23010

[2020-10-13 22:45] dmvtech commented on #3947
Hi @KyonCode Were you able to test with v1.1.1.?

[2020-10-14 00:00] #3388 closed

[2020-10-14 00:00] #4128 closed

[2020-10-14 00:00] #4131 closed

[2020-10-14 00:04] srinaath opened #4366 "Run validatedDialogs selector only when project is loaded"
The validatedDialogs selector needs to guard against a partially loaded state of the bot. We need a guard to run the selector only when the bot is fully loaded

[2020-10-14 00:05] #4363 closed

[2020-10-14 06:02] yeze322 commented on #4229
@mewa1024 does it mean that form dialog relies on *.lu file rather *.lu.qna file?
If so, the migration logic should be updated, when it's form dialog don't rename lu files.

[2020-10-14 08:14] cosmicshuai commented on #4359
@Beeez
In this scenario, you can accessing a property by `SomeObj[propName]`. This ensures you can get the right results even there are whitespaces in the property name.
![image](https://user-images.githubusercontent.com/17074777/95961564-ca99cf80-0e37-11eb-9aca-60c16d581a84.png)
You should accessing the property by ` ${dialog.appInfo.content[user.AppChoice]}.` in the value field.

In the LG editi

[2020-10-14 09:02] xieofxie commented on #4349
@cwhitten I think I still need the port in this case. For example, when I run Composer locally, custom ui plugin will be under `http://localhost:3000/plugin/sample-ui-plugin/page` while webroute plugin is `http://localhost:5000/testplugin/75985.4504651456/files`. If I call webroute via relative path in ui plugin, it will be `http://localhost:3000/testplugin/75985.4504651456/files` which is 404.

[2020-10-14 13:58] StefanoAngoneseITS commented on #3561
I'm having the same issue. When I add LUIS to my BOT I can't publish it on Azure. But in local with Emulator it's running good.

[2020-10-14 14:08] Beeez commented on #4359
@cosmicshuai
That worked perfectly. Not sure why I didn't see that at all in the docs.

Thank you

[2020-10-14 14:08] #4359 closed

[2020-10-14 14:55] cwhitten opened #4370 "Add electron build & test into the nightly CI and/or PR CI pipelines"
Too often we get unhealthy electron builds in the nightly feed because we don't test this distribution in our CI environments. Let's address that by adding some automation.

P0: Add steps to install & test the nightly package before publishing. Upon failure, exit the build and report the error to a Teams channel
P1: Add steps to install & test the PR bits as part of the CI suite. Upon failure, exi

[2020-10-14 15:02] #4319 closed

[2020-10-14 15:41] #3449 closed

[2020-10-14 15:53] carlosscastro commented on #4243
Was able to reproduce the bug. I'll work on a fix, most likely will go out on the next release of composer in early Nov. However once the change hits main, you could use composer from nightly build or from source. If the change only affects the runtime, then you could just update your runtime without updating composer. I won't be sure of the exact scope of the fix until I finish it. I'll update wi

[2020-10-14 16:12] #4366 closed

[2020-10-14 16:31] jeffhagins commented on #4339
I'm having the same issue. It was working fine last night. This morning I quit Composer and the Emulator and re-launched them and now I'm seeing this error.

[2020-10-14 17:03] pavolum opened #4371 "Implement remote template acquisition as part of creation"
Take remote .net templates developed by Ted and hosted on NuGet and enable the creation experience to grab and instantiate an instance of the template in the new bot flow

[2020-10-14 17:05] #3482 closed

[2020-10-14 17:05] GeoffCoxMSFT commented on #3482
This is an ongoing thing across releases, so closing for R11

[2020-10-14 17:05] #4040 closed

[2020-10-14 17:05] GeoffCoxMSFT commented on #3480
This is an ongoing thing across releases, so closing for R11

[2020-10-14 17:05] #3480 closed

[2020-10-14 17:06] pavolum opened #4372 "Develop dynamic creation experience based on remote template schema"
Once remote template is acquired in creation flow, use its schema to develop a dynamic creation flow that walks user through the templates dependencies

[2020-10-14 17:06] peterinnesmsft commented on #4041
Closing as duplicate.

[2020-10-14 17:06] #4041 closed

[2020-10-14 17:10] pavolum opened #4373 "Implement package acquisition based on pulled templates package dependencies"
Remote templates will define which packages they rely on. The creation experience must parse this information, pull the resulting dependent assets from their remote host and package them with the resulting bot.

[2020-10-14 17:12] pavolum opened #4374 "Implement package customization based on package level customization schema"
Each hosted package will define aspects of it that can be customized. Use that customization definition to drive dynamic asset customization UI in the creation flow. Leverage ShellAPI for executing customizations for the time being.

[2020-10-14 18:00] kdubious opened #4376 "Error publishing in new profile"
{"error":{"code":"401","message":"Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API endpoint for your resource."}}

I just created a profile, then went to publish, and got this error.

[2020-10-14 18:08] kdubious commented on #4376
Interestingly, I think it may have published, though.

[2020-10-14 18:10] #4147 closed

[2020-10-14 18:10] #4148 closed

[2020-10-14 18:10] #4151 closed

[2020-10-14 19:12] v-kydela opened #4377 "Please sort bot settings properties"
## Describe the bug

The properties in the bot settings don't seem to be arranged in any meaningful order. This has led to some considerable work hours being wasted because of the app password breaking tradition by preceding the app ID. At least two people have run into this problem already: https://github.com/microsoft/BotFramework-Composer/issues/3504

At a minimum, the app password should follo

[2020-10-14 19:58] kdubious commented on #4376
Actually... nope, something is not right.

[2020-10-14 20:51] benbrown opened #4378 "QnA files are sometimes added to project in the wrong place"
## Describe the bug

When a project is opened, for each dialog that DOES NOT ALREADY include a .qna file, one is added. However, these files are always added at the /dialogs/nameOfDialog folder.

If the dialogs in question are not in the /dialogs folder, or are in a subfolder of the dialogs folder, the related .qna files should be placed in the existing folder, not in a new one.

For example, if /

[2020-10-14 20:54] kdubious commented on #4376
I filled in some details in the settings (not just in publish profile) and now I get this error:

400 - "{\r\n \"error\": {\r\n \"code\": \"BadArgument\",\r\n \"message\": \"The source completed without providing data to receive.\"\r\n }\r\n}"

[2020-10-14 20:55] benbrown opened #4379 "docs: how to use updateActivity and deleteActivity"
The option to update an existing message or delete one that has already been sent was added in 1.1.1. We need to document how these can be used.

Key information can be found here:
https://github.com/microsoft/BotFramework-Composer/issues/4233

* The necessary activity ID can be retrieved using `turn.lastresult.id`
* This feature does NOT work in Emulator or webchat - it only works when running in

[2020-10-14 21:01] srinaath commented on #4378
@liweitian  i remember u writing the piece for migration on the Composer server. Seems like the .qna files are getting created at the wrong path

[2020-10-14 21:18] kdubious commented on #4376
Start bot seems to work, but outputs this:

Unhandled exception. System.ArgumentException: ContainerId is required. (Parameter 'cosmosDbStorageOptions') at Microsoft.Bot.Builder.Azure.CosmosDbPartitionedStorage..ctor(CosmosDbPartitionedStorageOptions cosmosDbStorageOptions) at Microsoft.BotFramework.Composer.WebAppTemplates.Startup.ConfigureStorage(BotSettings settings) in C:\Users\kdubi\AppData\R

[2020-10-14 22:59] hatpick opened #4381 "Add hint texts to form dialogs"
Add hint texts recently added by UX to form dialogs.

[2020-10-14 22:59] mewa1024 opened #4382 "Code editor view when read-only does not pass accessibility"
## Describe the bug

Any places where the code editor is showing a filed that is read-only, read-only is indicated by reducing the opacity. This makes the text difficult to read and does not pass contrast requirements needed for accessibility

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To

[2020-10-15 00:08] tonyanziano opened #4385 "Pull from publish target (PVA scenario)"
As part of the PVA integration, there will be a scenario in which the user tries to publish to PVA, and the bot content is out of sync with what is stored in PVA.

In this case, the user will need a way to sync their bot content by "pulling" from the publish target.

For now, we want to enable this only for the PVA scenario, and then later we want to add this functionality in a general sense to an

[2020-10-15 00:28] cwhitten commented on #3728
@luhan2017 can you investigate polling the webserver with an OPTIONS-like request to see if the endpoint is accepting connections yet, or something like this?

[2020-10-15 00:59] hatpick opened #4386 "Fetch form dialog templates behind the flag"

[2020-10-15 02:33] boydc2014 opened #4390 "Orchestrator UX integration"
1. Provide new choice in recognizer (orchestrator) with the designed tooltip and help link.
   * after user choose orchestrator the downloading will starting by default, before downloaded, the start bot is not allowed
   * before https://github.com/microsoft/botbuilder-dotnet/issues/4651 is addressed, after user choose orchestrator, we will have to user $designer.id to mark this is orchestrator in

[2020-10-15 05:55] jh70zape commented on #3722
@v-kydela I am still struggling with that without further progress.

[2020-10-15 06:31] zidaneymar commented on #4348
I could repro this issue under ubuntu environment (same code work for windows but not work for linux), need further investigation.

[2020-10-15 07:16] cxbuilders commented on #4352
@luhan2017 I have been doing more testing and the OnConversationUpdate trigger is just not something to be relied upon. Also reading this doc: https://blog.botframework.com/2018/07/12/how-to-properly-send-a-greeting-message-and-common-issues-from-customers/

Additionally I found out that there is even a difference when using a secret directly or use the secret to get a token to start the chat, whe

[2020-10-15 07:35] zidaneymar commented on #4348
https://github.com/microsoft/BotFramework-Composer/blob/bbb65c830d1f0e21fc23f5b05760726c06e778cd/Composer/plugins/runtimes/src/index.ts#L68

Change this line to
[code]
could resolve this issue.

[2020-10-15 08:08] luhan2017 commented on #3639
I did some investigation and found that to we need the azure access token to bind the prediction resource with the luis app, which means if we want to enable this, we need to ask user for their azure access token.

[2020-10-15 13:04] cxbuilders commented on #4093
@Stevenic I was wondering why you so specifically said the final call needs to be OnTurnAsync() for the Composer Bot? I have setup a similar Custom Action that polls an Api every 5 seconds by calling an event. This setup is a whole lot simpler and works perfectly fine. Would you see any issues with that, that I am not aware off?

[code]
![image](https://user-images.githubusercontent.com/49873947/9

[2020-10-15 14:18] benbrown commented on #3850
We can't actually have 2 different storage drivers active at the same time, so this should not block us from changing the mechanism for copying files.

@geoffcoxmsft can you give a bit more information about what problems this causes for you?

[2020-10-15 14:48] kdubious opened #4392 "LUIS Rate Limit Error"
## Describe the bug
Publishing the sample ToDoBotWithLuisSample, to which I added 2 intents.

## Version
v1.1.1
Bot Framework Composer
                Version:  1.1.1
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Ed

[2020-10-15 14:53] cwhitten commented on #3562
Closing due to inactivity. @saikiran521 if this issues persists after @hibrenda's suggestion, please open a new issue.

[2020-10-15 14:53] #3562 closed

[2020-10-15 15:38] #4294 closed

[2020-10-15 15:49] mewa1024 commented on #4229
Can we show a message to the user that we've detected they are using an older recognizer and give them options to continue with migration, cancel, or save as a copy? That would cover multiple cases.

[2020-10-15 15:52] kdubious opened #4393 "Update Failed"
## Describe the bug
Switched the app settings to use Early Adopters = true

## Version
V 1.1.1

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open Composer

Couldn't complete the update: Error: 404 Not Found "method: GET url: https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/download/v1.1.1-nightly.174189.68cb8bb/latest.yml

[2020-10-15 16:26] #3668 closed

[2020-10-15 16:26] #3872 closed

[2020-10-15 16:26] #3988 closed

[2020-10-15 16:34] cwhitten commented on #4382
@sangwoohaan please take a look at this

[2020-10-15 16:39] cwhitten commented on #4393
@kdubious this has been addressed. Closing for now but please comment if the issue is not resolved for you.

[2020-10-15 16:39] #4393 closed

[2020-10-15 16:40] cwhitten commented on #4392
@kdubious it seems like you need to move to a paid-pricing tier of the Luis service. You have a limited amount of Luis apps available to you at the free pricing tirer.

[2020-10-15 16:41] kdubious commented on #4393
I still have the issue, just tripped over it. I hoped using the latest would solve that I can't publish due to rate limits in LUIS

[2020-10-15 16:41] cwhitten commented on #4392
See this comment for more detail https://github.com/microsoft/BotFramework-Composer/issues/3769#issuecomment-675657808

Closing

[2020-10-15 16:41] #4392 closed

[2020-10-15 16:43] kdubious commented on #4393
Restarted and it updated. Thanks!

[2020-10-15 16:43] cwhitten commented on #4378
@liweitian @zhixzhan I've added this into R11 as something we want to address before our next release.

[2020-10-15 16:46] cwhitten commented on #4377
@v-kydela AppId & AppPassword are serialized next to each other. Are you not seeing this behavior on 1.1.1?

[2020-10-15 16:46] kdubious commented on #4392
@cwhitten I had 10 apps in LUIS, all from this sample bot and from publishing it once. I deleted the 5 that *I think* are created when I test in the emulator. Now I have 5. I am trying to publish to these 5, but I get the same error. Also, I cannot change the LUIS.Authoring to anything other than FREE.

[2020-10-15 16:50] zxyanliu commented on #4379
It seems that only Teams support this feature.
See: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0#summary-table-all-activities-to-all-channels

[2020-10-15 16:50] kdubious commented on #4392
@cwhitten now I went back to LUIS (https://www.luis.ai/conversations/applications) and deleted the remaining 5. I get the same error. Do each of these nodes represent an APP?
![image](https://user-images.githubusercontent.com/9756166/96161234-02ab1c00-0ee5-11eb-8cac-b054881e5fae.png)

[2020-10-15 16:58] kdubious commented on #4392
Again, deleted all 5 from LUIS. Published from Composer. Got an error:

400 - "{\r\n \"error\": {\r\n \"code\": \"BadArgument\",\r\n \"message\": \"The source completed without providing data to receive.\"\r\n }\r\n}"

Yet, 5 were created.
Updated the PREDICTION resource for all 5, tried to publish again, failed with 429.
Updated the PREDICTION resource to a PAID level, tried to publish again, fai

[2020-10-15 17:08] benbrown commented on #4379
Some of the adapters also support these mechanisms.

[2020-10-15 17:36] v-kydela commented on #4377
@cwhitten - I'm sorry if I wasn't clear. AppId & AppPassword are indeed serialized next to each other. The problem is not that they are separated from each other. The problem is the order.

Expected: AppId then AppPassword
Actual: AppPassword then AppId

The reason that this is important is because it results in users entering their app password as the app ID and the app ID as the app password. I

[2020-10-15 17:45] #4386 closed

[2020-10-15 17:48] cwhitten commented on #4306
Hi @CopenhagenJames - the team will take your scenario and look to prioritize a change in an upcoming release. Thank you

[2020-10-15 17:52] v-kydela commented on #3722
@jh70zape - Have you tried any of the advice in this thread? I am not able to help you without more information. Please provide the following:

1. Links
1. Repro steps
1. Screenshots

[2020-10-15 18:28] kdubious opened #4394 ""Publish bot to Azure" choice has no text"
## Describe the bug
No text for the first entry in the dropdown

![image](https://user-images.githubusercontent.com/9756166/96171066-64be4e00-0ef2-11eb-8875-706e40884e66.png)

## Version
Version:  1.1.1-nightly.172371.8d1fc5a

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Publish'
2. Click on 'Add new Profile'
3. See the value is missin

[2020-10-15 18:42] dmvtech commented on #3947
Closing due to inactivity. Please reopen or let us know if you still need assistance.

[2020-10-15 18:42] #3947 closed

[2020-10-15 18:43] ryanlengel commented on #4376
@luhan2017 can you please take a look at this issue? Thank you!

[2020-10-15 18:45] kdubious commented on #4376
@luhan2017 and @ryanlengel : Unfortunately, I blew away the resources in my Azure and ran the 'provisionComposer.js' command all over again. So I can't help with this issue any more.

[2020-10-15 18:46] ryanlengel commented on #4376
Ok @kdubious in that case I will close this - feel free to reopen if this occurs again.

[2020-10-15 18:46] #4376 closed

[2020-10-15 19:08] dmvtech commented on #4392
No, each one is an intent. All should be part of one app.

I'm not sure why you would still be getting 429 with paid level (unless it takes some time to transition over or something weird like that). My assumption is that maybe it has to do with hitting the [authoring transactions per second limit](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-limits#authoring-resource-limits

[2020-10-15 19:12] kdubious commented on #4392
I blew everything away (10 minutes) and created a new set of services with the `provisionCompser.js` script (25 minutes). So far I've been able to develop based off the EchoBot sample and publish with no issues. Not sure if it's a problem with the "TODO with LUIS"
sample. The EchoBot is only creating one "APP" in the Luis.ai site. The "TODO with LUIS" created 5 or so.

[2020-10-15 21:03] kdubious opened #4395 "Publish to Azure Fails"
## Describe the bug
Publish to Azure using a project I have published several times before. It fails with a 400 error.

400 - "{\r\n \"error\": {\r\n \"code\": \"BadArgument\",\r\n \"message\": \"The source completed without providing data to receive.\"\r\n }\r\n}"

## Version
Version:  1.1.1-nightly.172371.8d1fc5a
                Electron: 8.2.4
                Chrome: 80.0.3987.165

[2020-10-15 21:04] kdubious commented on #4395
From the publish log:

`{
  "status": "DEPLOY_INFO",
  "message": "start publish luis"
}
{
  "status": "DEPLOY_ERROR",
  "message": "{\"name\":\"StatusCodeError\",\"statusCode\":400,\"message\":\"400 - \\\"{\\\\r\\\\n  \\\\\\\"error\\\\\\\": {\\\\r\\\\n    \\\\\\\"code\\\\\\\": \\\\\\\"BadArgument\\\\\\\",\\\\r\\\\n    \\\\\\\"message\\\\\\\": \\\\\\\"The source completed without providing data to

[2020-10-15 21:13] kdubious commented on #4395
I deleted the app from LUIS, and published again.
The app was back in LUIS, but same failure error in Composer.
--
I then connected the app in LUIS to the Prediction Resource and published again. Same error.

[2020-10-15 21:25] tekram opened #4396 "ENOENT: no such file or directory"
## Describe the bug

Using the provisioncomposer.js to deploy new resources I get the below error:

Login to Azure:
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code FX4PU32FB to authenticate.

| > Validating QnA deployment ...
[Error: ENOENT: no such file or directory, open 'C:\Users\TE\bots\VirtualAssistant\scripts\DeploymentTemplates\qna-templat

[2020-10-15 21:27] tekram commented on #4396
node provisionComposer.js --subscriptionId=xxx --name=lh-john --appPassword=xxx --tenantId=xxx --environment=dev --customArmTemplate=DeploymentTemplates/function-template-with-preexisting-rg.json

That is the command I used.

[2020-10-15 21:38] tekram commented on #3561
Was this ever resolved? I am getting the same error now

[2020-10-15 21:42] tekram opened #4397 "Was this ever resolved? I am getting the same error now"
Was this ever resolved? I am getting the same error now

_Originally posted by @tekram in https://github.com/microsoft/BotFramework-Composer/issue_comments/709604780_

[2020-10-15 21:43] zxyanliu commented on #3561
Hi @tekram

Composer has released its 1.1.1 version, which you can try [here](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.1.1).
Apologies for the inconvenience of the publishing issues. We will address as many as we can for the next release in November.

Thanks again for your feedback.

[2020-10-15 23:02] tekram commented on #3561
I am currently running 1.1.1. Until the next release, what do you recommend?

@zxyanliu

[2020-10-16 00:01] #4060 closed

[2020-10-16 00:04] zxyanliu commented on #4379
@dmvtech Helped a lot on this, the [PR](https://github.com/MicrosoftDocs/composer-docs-pr/pull/242) is pending review now.

[2020-10-16 01:05] knightmeister opened #4400 "LUIS intent recognition does not work for child dialogs"
## Describe the bug

I am using the terms as defined on [Composer Docs](https://docs.microsoft.com/en-us/composer/concept-dialog). My main dialog has an intent, called DeveloperMode. The only string associated with it is `Developer Mode`. This intent is correctly inferred when the user types in `developer mode`. The intent starts a child dialog called `Developer`.

`BeginDialog` for `Developer` re

[2020-10-16 02:59] luhan2017 commented on #4395
@kdubious This seems like a luis account issue, https://github.com/microsoft/BotFramework-Composer/issues/3321#issuecomment-644619986. Is there anything changed for your luis account?

[2020-10-16 03:02] kdubious commented on #4395
@luhan2017 Interesting! The Azure CLI seems to have jumped to another tenant. When I ran the command to get an updated token, it pulled one from another tenant to which I have access, but to whom i did not connect in that terminal session.

[2020-10-16 03:02] #4395 closed

[2020-10-16 03:03] tekram commented on #3722
@eluchsinger Can you clarify what you did to solve this? I am running into the same error. How did you publish it manually?

[2020-10-16 03:17] liweitian commented on #4378
@cwhitten will have a look.

[2020-10-16 04:44] knightmeister opened #4402 "Error handling around HTTP requests"
## Is your feature request related to a problem? Please describe.

Composer requires a way of handling errors that happen around sending HTTP requests. This includes validation errors from the framework itself (i.e. `x does not have an evaluator, it’s not a built-in function or a custom function.`) and errors when the HTTP request cannot be sent (i.e. server isn't running).

Presently the response

[2020-10-16 04:50] knightmeister opened #4403 "Send HTTP Request - Url cannot be the value in a bot response"
## Describe the bug

I am trying to use a URL as defined in `common.lg` via Bot Responses. This is a constant so that the same URL can be referenced multiple times in the bot.

Previous I was able to use `@` syntax but following upgrading my machine to 1.1.1 this is no longer working. I get an error `Uri_Action does not have an evaluator, it’s not a built-in function or a custom function.`

The fo

[2020-10-16 05:13] knightmeister opened #4404 "Ability to hand off"
## Is your feature request related to a problem? Please describe.

We need the ability for our bot, developed with Composer, to be able to hand off to a human operator.

## Describe the solution you'd like

Bot Framework has [documented how to transition to a human](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-design-pattern-handoff-human?view=azure-bot-service-4.0). It would be

[2020-10-16 06:06] prakashclt commented on #3561
I couldn't get any fixes for it still

[2020-10-16 11:03] cxbuilders opened #4405 "Custom action title in flow should be the title not the Kind"
Bug is debatable, but the title in the Custom Action component in the flow should be the Title in the CA schema and not the Kind property of the CA Dialog class / file name of the schema.  This would make it consistent with other components.

[2020-10-16 13:30] tekram commented on #3561
Alternatives for deploying?

[2020-10-16 16:24] kdubious commented on #4404
Absolutely crucial!

[2020-10-16 16:28] kdubious opened #4406 "Configurable Delay Node"
## Describe the solution you'd like

Would be nice to include a node that implements a configurable delay. Even nicer to show an animated "..." in the WebChat UI.

## Describe alternatives you've considered

I suppose one could "Send an HTTP Request" to a backend that accepts the delay length as a query param and returns based on that delay. But this is hacky.

[2020-10-16 16:28] kdubious commented on #4397
your link is dead.

[2020-10-16 16:29] #4187 closed

[2020-10-16 16:29] #4189 closed

[2020-10-16 16:33] tekram opened #4407 "Duplicate File Found"
## Describe the bug

Opening a bot created with previous stable version of Bot Composer.

## Version

Latest nightly build

## Browser

- [x ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create Bot in prior stable composer 1.1.1.
2. Update Composer to latest nightly bu

[2020-10-16 16:37] kdubious commented on #4400
@knightmeister I think I solved your issue.. and one of mine.
There's a property on your Developer Child Dialog called "Auto end dialog." Set that to false and retest.
![image](https://user-images.githubusercontent.com/9756166/96285025-63515c00-0fac-11eb-82a2-9b26e0fbd5c1.png)

[2020-10-16 17:08] jwiley84 commented on #4397
@tekram Can you post the link to the actual issue, not to your comment on it? The link you provided routes to a 404 error page.

[2020-10-16 17:16] tekram commented on #4397
https://github.com/microsoft/BotFramework-Composer/issues/3561#issuecomment-709606431

[2020-10-16 17:24] tekram commented on #4397
Also, in the meantime, it would be great to have manual ways to deploy the bot when the built in functionality seems to break. Just can not figure out how to manually deploy it.

[2020-10-16 17:49] #3370 closed

[2020-10-16 17:49] #3811 closed

[2020-10-16 17:49] #4205 closed

[2020-10-16 17:49] #4259 closed

[2020-10-16 18:12] ryanlengel commented on #4402
This issue should be handled by the SDK component rather than Composer, transferring to the appropriate repository.

[2020-10-16 18:15] ryanlengel commented on #4405
Thank you for the suggestion @cxbuilders, we will prioritize this in our next release.

[2020-10-16 18:23] ryanlengel commented on #4396
@luhan2017 can you please take a look at this issue? Thank you!

[2020-10-16 18:24] ryanlengel commented on #4394
@tonyanziano can you please take a look at this issue? Thank you!

[2020-10-16 18:26] tonyanziano commented on #4394
This is something @a-b-r-o-w-n and I overlooked and we plan to fix this by supporting multiple publish extensions from one extension source.

[2020-10-16 18:40] jpd21122012 opened #4409 "Publishing Bot Gets Stuck"
## Describe the bug

I've already done my bot, I tried to publish it in the right section and filling the parameters with right keys, so then I clicked in Publish selected profile, and It doesn't give any error, just the loading icon, I've been waiting more than 4 hours and nothing happens, when I close and Open the Composer, The Log doesn't appear.

I'm filling the profile with an existing resour

[2020-10-16 18:52] tekram commented on #4397
@kdubious Any suggestions on alternative deployment strategies? You seem to be using the composer and quite active here. :)

[2020-10-16 19:00] hatpick opened #4410 "Move bf-generate-lib templates into asar.unpack"
## Describe the bug

Currently, bf-generate-library uses relative paths to access its template, with the electron, it can't access them within the asar pack. These templates should be moved to asar.unpacked location and provide the path to the library for generation.

## Version

Latest on main

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x

[2020-10-16 19:06] kdubious commented on #4073
@luhan2017 How do I do this: "To mitigate on this, could you try to set the locale for direct line channel?"

[2020-10-16 19:45] a-b-r-o-w-n commented on #4394
No, but I can address today.

[2020-10-16 20:58] jgbolger commented on #3836
Hi @benbrown, no unfortunately I wasn't able to resolve. I since had to exchange work laptop so this issue is no longer occurring for me. Cheers, John

[2020-10-16 22:28] kdubious commented on #4397
@tekram I had an issue where the AZ command to get a new token was actually pulling a token from another tenant. I had to have it forget all other tenants, and just use my subscription, then I got a good token and things started to work. Do you have Teams?

[2020-10-16 22:53] kdubious commented on #4397
@tekram

![image](https://user-images.githubusercontent.com/9756166/96320017-26528d00-0fdf-11eb-9760-cb6800a93e6c.png)

LINE 2: comes from `az account get-access-token`. I had issues here being in the wrong subscription, even though I DID NOT SWITCH SUBSCRIPTIONS.

`<<NAME>>` and `<<ENV>>` can be found by looking at the App Service Plan in Azure.
![image](https://user-images.githubusercontent.com/

[2020-10-16 22:58] dmvtech commented on #4400
@kdubious is correct; this is a simple way if you want to keep the user in this dialog until logic follows a flow to let them exit (like a global cancel, etc).

[2020-10-16 23:26] tekram commented on #4397
Thanks @kdubious.

I am not able to get success on the deployment! However, it looks like the actual bot on Azure is not updating. I get a success response in the publishing section of the bot. However, the actual bot is not updating. Any options to push bot to Azure outside fo the composer? Or have you ever run into this?

[2020-10-16 23:33] tekram commented on #4397
I also tried just deploying the echo bot that comes with composer. No luck but the console still says "Success"

Publish starting...
{
  "status": "DEPLOY_INFO",
  "message": "C:\\Users\\TE\\AppData\\Roaming\\BotFrameworkComposer\\publishBots\\4e22baa1759c48a914936665c523e927\\azurefunctions\\ComposerDialogs\\generated\\interuption\\getUserInfo.en-us.lu loaded\n"
}
{
  "status": "DEPLOY_INFO",
  "

[2020-10-16 23:41] kdubious commented on #4397
What do you mean? How do you know it's not updating? How are you testing? Have you tried Composer to connect to Emulator to test the bot itself? Make sure things work as expected.... then test in Azure from Bot Channels Registration `<<Name>> > Test in Web Chat`
![image](https://user-images.githubusercontent.com/9756166/96322562-9a912e80-0fe7-11eb-995b-edd9c833fe85.png)

[2020-10-16 23:43] kdubious commented on #4397
I have not tried publishing without using the feature in Composer. Here's what's in my App Service after publishing:

![image](https://user-images.githubusercontent.com/9756166/96322620-d1674480-0fe7-11eb-948a-ba3112d2ee82.png)

You may be able to get FTP credentials and publish it up there.

[2020-10-17 00:30] tekram commented on #4397
Thanks.

Have you ever seen it such that after successful push that the bot doesn't
update?

On Fri, Oct 16, 2020, 4:44 PM Kevin Welsh <notifications@github.com> wrote:

[2020-10-17 00:34] tekram commented on #4397
It seems like you probably always had success in pushing bots if you got the success message.

Thanks for your help!

[2020-10-17 01:00] cwhitten commented on #4338
@lei9444 TJ is going to get started on this

[2020-10-17 12:35] amolsangar commented on #4030
The issue still persists. Creating a bot on Composer and then deploying it Telegram channel results in the following error:
Object reference not set to an instance of an object

Any solutions or fixes for this yet?

[2020-10-17 13:14] EPinci commented on #4030
Hey, this is not a composer issue, it's a bot framework issue (see the link above).
It has already been fixed though I think this has not made it yet to a release.

If you need now a band-aid with composer you can:
- eject the runtime of you bot
- find you activity handler and add the following line anywhere before the "await" lines in the OnTurnAsync

[code]

HTH.

[2020-10-17 13:42] tekram commented on #4397
Yes. When I connect to the bot locally in the Emulator, it works fine. When I use the built in functionality of testing it through Azure (Test in Web Chat). It does not work. I also tried it with the Echo bot and not luck. Let try updating the JSON object from scratch again.

[2020-10-17 13:45] kdubious commented on #4397
@tekram sometimes I feel like the web emulator does not send the welcome message. Does nothing about the bot work? (No reply ever) Does it work as though running an old version?

If you look at the files in Azure in the App Service, are they getting updated?

[2020-10-17 16:08] amolsangar commented on #4030
@EPinci
Thanks a lot for the quick reply. This definitely works now as expected.

I changed the file at '/runtime/core/ComposerBot.cs' as you mentioned.
This really saved my time. Thanks again :)

[2020-10-17 19:38] #4381 closed

[2020-10-17 19:38] #4410 closed

[2020-10-18 22:03] EricDahlvang commented on #4406
Hi @kdubious

The sdk does provide a 'delay' activity type, which can be used from composer:

[code]

![image](https://user-images.githubusercontent.com/11055362/96386824-a2211680-1152-11eb-8012-fcec78a75f4c.png)

Note: this does not work as expected from the emulator, i think because it is holding the calling thread and waiting for completion.  It does work from channels however.

We should maybe

[2020-10-18 22:13] kdubious commented on #4406
@EricDahlvang OK, I'll try this out, thanks. Yes, would certainly be best if the Emulator provided the right experience with it.

[2020-10-18 22:57] EricDahlvang commented on #4397
Have you tried exporting the runtime, and publishing that from visual studio (or some other 'external to composer' method)?  https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#export-runtime

[2020-10-18 23:37] jpd21122012 commented on #4395
I have the same problem, when trying to publish with LUIS Service fails, my token is working good, any idea?

[2020-10-18 23:37] jpd21122012 commented on #4395
Here's the log

Publish starting...
{
  "status": "DEPLOY_INFO",
  "message": "C:\\Users\\slipk\\AppData\\Roaming\\BotFrameworkComposer\\publishBots\\e6919890eb277b4044adbbd03678093c\\azurewebapp\\ComposerDialogs\\generated\\interuption\\enigmamxbot.en-us.lu loaded\n"
}
{
  "status": "DEPLOY_INFO",
  "message": "C:\\Users\\slipk\\AppData\\Roaming\\BotFrameworkComposer\\publishBots\\e6919890eb277b4

[2020-10-18 23:46] guru98 opened #4414 "Bot business logic in composer"
## Is your feature request related to a problem? Please describe.

Composer is an amazin tool but, in my mind there is a big limitation: there is a clear way to add businss logic to the flow.
It's extremally easy to design the flow and i can call rest api or azure functions but still there are limitation if i need a specific piece of code that have to be execute inside the bot. I can use custon ac

[2020-10-19 00:00] kdubious commented on #4395
@jpd21122012 did you make sure the token is from the correct tenant?

[2020-10-19 00:21] jpd21122012 commented on #4395
Yes, totally sure, I've also created a token from Azure Cloud Shell, selecting the correct subscription, and it's the same.

[2020-10-19 01:17] knightmeister commented on #4400
Thanks @kdubious , this is exactly what I was after.

Now I need to figure out how to get back to the initial/parent dialog. If I add a "End this dialog" block, it does not return back to the initial dialog.

The above does not relate to the issue that I originally raised so please feel free to close this issue.

[2020-10-19 01:35] kdubious commented on #4400
@knightmeister, returning to the initial dialog worked for me:
![image](https://user-images.githubusercontent.com/9756166/96392333-bdf3df00-1189-11eb-89d6-23bf6af7601a.png)

![image](https://user-images.githubusercontent.com/9756166/96392351-c815dd80-1189-11eb-8405-7b704929bf6d.png)

![image](https://user-images.githubusercontent.com/9756166/96392378-de239e00-1189-11eb-8664-8839429a9ea3.png)

[2020-10-19 02:29] knightmeister commented on #4400
Thanks @kdubious. I had more or less the same flow, my problem was the intent recognizing developer mode didn't have a condition set so it was never not entering that intent (it was the only one). Now I have added the condition the unknown intent is firing as I would expect.

[2020-10-19 02:30] kuacci commented on #4348
Thank you @zidaneymar .

Seems like `-r win10-x86` only makes bot app works for windows environment, like windows based app service. How about the linux container based app service instance, or even linux vm? Is it possible to make this option open to user on Composer UI?

-Thanks

[2020-10-19 02:38] kdubious commented on #4400
@knightmeister sure thing, learning as I go here, too. Hoping to tackle the "human handoff" this week. I see that interests you, too?

[2020-10-19 02:55] knightmeister commented on #4400
Indeed it does. I don't think we can support the design pattern Microsoft have documented (although hope I'm wrong), but I have an idea as to how we can do our own ad-hoc hand-off. Be interested to see how #4404 goes.

[2020-10-19 03:09] EricDahlvang commented on #4414
HI @guru98

This seems like a valid feature to consider.  I tried implementing something which might cover the description you've provided.

Custom CodeActions to call:
[code]

**Custom Dialog** to load and call the CodeAction methods:
[code]

**Schema**:
[code]

From Composer, custom code action 1:
![image](https://user-images.githubusercontent.com/11055362/96396982-5899f100-117d-11eb-91a1-4814c9

[2020-10-19 03:14] lei9444 opened #4415 "Publish failed in main branch"
## Describe the bug

![image](https://user-images.githubusercontent.com/39758135/96397159-7c038100-11fb-11eb-9cab-44a414580b95.png)

## Version
main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'home page'
2. create a new bot
3. click the

[2020-10-19 03:16] zidaneymar commented on #4396
@tekram  Hi, could you please try copy this [qna template file](https://github.com/microsoft/BotFramework-Composer/blob/2b224daf513ad46c57c98403a23fcea4fd5436f3/extensions/samples/assets/shared/scripts/DeploymentTemplates/qna-template.json)to your target folder (C:\Users\TE\bots\VirtualAssistant\scripts\DeploymentTemplates\)?

[2020-10-19 03:18] EricDahlvang commented on #4415
I downloaded the main branch, built and ran it.  Then, attempted to export the runtime and hit this:
![image](https://user-images.githubusercontent.com/11055362/96397707-ee824b80-117e-11eb-89cf-eae7014a770e.png)

But, i'm running composer from: 'C:\work\BotFramework-Composer\Composer'

It seems maybe the relative paths are off?  (could be related to this issue with publishing)

[2020-10-19 03:26] lei9444 commented on #4415
I think the runtime path should be C:\work\BotFramework-Composer\runtime. Maybe it is the same issue

[2020-10-19 03:32] kdubious commented on #4400
@knightmeister shoot me an email if you want to collaborate on this a bit. I've picked up a little insight on this topic, but I'm not entirely sure the best / easiest / highest value path forward.

[2020-10-19 03:55] hibrenda commented on #4415
![image](https://user-images.githubusercontent.com/43408889/96399829-e6b7bb00-1201-11eb-9ee0-cea2a098ae73.png)

[2020-10-19 03:57] luhan2017 commented on #4348
We should make this as an optional parameter in deployment process and default to windows, currently our two supported targets are azure web app and azure functions, they both use windows by default. If user want to deploy to a Linux system, they can set that optional parameter to linux.

[2020-10-19 04:08] kdubious opened #4416 "Custom Runtime Error"
## Describe the bug

I followed the steps outlined in:
https://docs.microsoft.com/en-us/composer/how-to-add-custom-action

There are many warnings after this step:
`Parsing component .schema files`

Warning C:\Users\kdubi\.nuget\packages\Microsoft.Bot.Builder.AI.Luis\4.10.2\content\Schemas\Microsoft.LuisRecognizer.schema: Component schema https://schemas.botframework.com/schemas/component/v1.0/com

[2020-10-19 04:15] kdubious commented on #4416
The custom action does work, though.

[2020-10-19 04:38] knightmeister commented on #4400
Will do

[2020-10-19 04:38] #4400 closed

[2020-10-19 05:30] cxbuilders opened #4417 "Custom Action Events arrive in wrong order"
When emitting events from a custom action, they arrive in the wrong order;

![image](https://user-images.githubusercontent.com/49873947/96405118-d6d9b000-11dc-11eb-9530-64d9ef2cb226.png)
![image](https://user-images.githubusercontent.com/49873947/96405136-e0631800-11dc-11eb-86b2-db46401d753c.png)
![image](https://user-images.githubusercontent.com/49873947/96405151-ea851680-11dc-11eb-9dda-e627cfa76

[2020-10-19 05:41] cxbuilders opened #4418 "Get Chat History in a Custom Action"
How can one get the chat history in Composer using a Custom Action?

[2020-10-19 07:09] khandelwal-aman commented on #1993
Any idea when this feature would be available for usage??

[2020-10-19 08:08] zidaneymar commented on #3850
@GeoffCoxMSFT Currently the file system is using local storage, I'm not sure if this IStorage interface will be implemented by other ways. I guess the main reason here is to insure the dstStorage could write 'content' successfully, maybe in the future the dstStorage could be located in another disk.

Maybe we can't just srcStorage.copyFile to the 'dstPath' since the dstPath only makes sense to the

[2020-10-19 10:13] lei9444 commented on #4338
Hi, @srinaath Do you have the notification page design link?

[2020-10-19 10:20] boydc2014 commented on #4338
https://www.figma.com/file/deFhMPBnRWxTYiYDYqYxrc/Composer---Vivek?node-id=8108%3A0 @lei9444

[2020-10-19 10:35] yeze322 commented on #2889
addressd om #4079

[2020-10-19 10:37] guru98 commented on #4414
Interesting. Still we have to add all the custom code in CustomAction so everytime all the business logic must be added to the bot changing the hosting bot. Now could we expose directly a codeaction from the adaptive dialogs?
If you look here https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Actions/CodeAction.cs you see that it call a system

[2020-10-19 11:04] kuacci commented on #4348
Sounds good and thanks for your work on this.

[2020-10-19 11:11] #4415 closed

[2020-10-19 17:59] #4394 closed

[2020-10-19 18:03] pavolum opened #4425 "Add env variable as a constraint to determine current feature flag value"

[2020-10-19 18:04] pavolum opened #4426 "Implement additional conditionals for Electron app feature flag functionality"

[2020-10-19 18:11] pavolum opened #4427 "Convert existing env variable feature flags to new implementation"

[2020-10-19 18:15] stevengum commented on #4416
@dmvtech can you investigate and report back? Thanks!

[2020-10-19 18:24] stevengum commented on #4178
Closing due to inactivity.

[2020-10-19 18:24] #4178 closed

[2020-10-19 18:24] stevengum commented on #3548
@hibrenda do you have any updates?

[2020-10-19 18:25] stevengum commented on #4179
Closing due to inactivity.

[2020-10-19 18:25] #4179 closed

[2020-10-19 18:26] stevengum commented on #4235
Closing as @rviveiros has been unblocked. @krusejan if you're still running into this issue please file a new issue and provide the necessary information.

[2020-10-19 18:26] #4235 closed

[2020-10-19 18:27] stevengum commented on #4157
@carlosscastro do you have any updates on this issue?

[2020-10-19 18:30] stevengum commented on #3339
Per @cwhitten, the ETA is the next release, [post November's](https://github.com/microsoft/BotFramework-Composer/issues/3339#issuecomment-703810943).

[2020-10-19 18:32] stevengum commented on #4180
Closing as @UmaPrelude has been unblocked. The fix will be made mainstream in the 4.11 release of the SDK and composer.

[2020-10-19 18:32] #4180 closed

[2020-10-19 18:34] ltwlf commented on #4157
We are just testing a fix. If it works like expected, I’m going to start a pull request.

[2020-10-19 18:42] tekram commented on #4397
I had previously been trying to deploy it to an Azure Function. I tried to do it from scratch and deploy to Azure Web Application. It started to work! Not sure what exactly what was going on previously. I will try to deploy it a Function to see if it it was something wrong on my end. I do recall though seeing something about not allowing bots to run on Functions anymore?

[2020-10-19 19:07] v-kydela commented on #4403
Thanks for the report, @knightmeister. Can you tell me what you mean by `@` syntax? Could you perhaps post some screenshots of Composer?

[2020-10-19 19:22] v-kydela commented on #4418
Thank you for the question, @cxbuilders

We do prefer to have how-to questions asked on [Stack Overflow](https://stackoverflow.com/questions/ask) instead of GitHub. This reaches a larger audience, allowing more people to possibly answer the question and more people to be helped by the answer. If you use the [`botframework`](https://stackoverflow.com/questions/tagged/botframework) tag then my team

[2020-10-19 19:22] #4418 closed

[2020-10-19 20:25] srinaath commented on #4286
This was fixed with https://github.com/microsoft/BotFramework-Composer/pull/4316

[2020-10-19 20:25] #4286 closed

[2020-10-19 21:28] #3908 closed

[2020-10-19 21:37] beyackle opened #4429 "Finish enabling skills in the ProjectTree"
The work on the new ProjectTree does not yet display multiple skills. The code to do this exists in another branch, so all that needs to happen here is to port that over and make sure it works.

[2020-10-19 22:21] knightmeister commented on #3339
Thanks @stevengum I read that - I am wondering when the estimated release date post November. I'm unsure of the cadence and how Christmas will affect it.

[2020-10-20 00:24] #3982 closed

[2020-10-20 01:18] #4181 closed

[2020-10-20 01:18] #4182 closed

[2020-10-20 01:18] #4183 closed

[2020-10-20 01:18] #4184 closed

[2020-10-20 10:11] luhan2017 commented on #4409
@jpd21122012 , could you please share more information on this? For example, does your bot use luis/qna.
What exact field did you fill in the publish profile? I tried several scenarios from my side but I can't reproduce this yet.

[2020-10-20 10:17] luhan2017 commented on #4352
@cxbuilders , Thanks for reporting this, your concern is fully understood, for the conversationUpdate event issue, the abs team will release a fix to this in R11, the OnConversationUpdate trigger will work as expected then, we don't have a better solution for that right now expect customizing on that. I will close this for now. Feel free to reopen if you are still blocked by this.

[2020-10-20 10:17] #4352 closed

[2020-10-20 12:00] yeze322 opened #4434 "Form editor 'Auto end dialog' dropdown has an empty option"
## Describe the bug
![image](https://user-images.githubusercontent.com/8528761/96583197-eeb15100-130e-11eb-86ee-fff5cbbb2ec9.png)
The same promlem with other `y/n` fields.
![image](https://user-images.githubusercontent.com/8528761/96583274-0983c580-130f-11eb-871f-cac6b96b1114.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ]

[2020-10-20 12:32] cdonke opened #4435 "Docker not building"
## Describe the bug
Using Docker to run Composer.
Several issues started happening after moving Extensions folder from Composer into root.

Most of them, during build process..

Wrong path:
![image](https://user-images.githubusercontent.com/4707327/96584844-2e4b4f00-12b5-11eb-997d-0bb474bd24a4.png)
![image](https://user-images.githubusercontent.com/4707327/96585907-9e0e0980-12b6-11eb-974b-4cf2bb7a

[2020-10-20 12:32] cdonke commented on #4435
Already investigating.

[2020-10-20 16:04] jpd21122012 commented on #4409
@luhan2017 , thanks for replying, today I was able to publish the bot, but just without luis services, if I add LUIS credentials and some dialogs it fails

[2020-10-20 16:38] tdurnford commented on #4434
@LouisEugeneMSFT Can you chime in on this? I think it is by design.

[2020-10-20 16:47] tdurnford commented on #4407
We need to filter out JSON files from node_module directories.

[2020-10-20 17:54] srinaath opened #4437 "Replacing Path module"
Webpack by default adds the https://github.com/browserify/path-browserify for using `path` outside the node context. We add a path module to electron-server `https://github.com/jinder/path/blob/master/path.js` which is very old and not maintained.

1.  We should avoid using this path module on the electron-server package as it would use the node `path` module
2.  On client the path module will aut

[2020-10-20 17:58] stevengum commented on #4091
@dmvtech do you have any post-investigation updates? Thanks!

[2020-10-20 18:01] pavolum opened #4438 "Create feature flag documentation"

[2020-10-20 18:03] pavolum opened #4439 "Create server side and front end (non HOC) feature flag utils"

[2020-10-20 18:04] LouisEugeneMSFT commented on #4434
This is by design. This is saying "no value". Below is a screenshot of the previous version of Composer:

![image](https://user-images.githubusercontent.com/66701106/96626169-f8fa2d80-12c3-11eb-8da8-5fd19b29a346.png)

[2020-10-20 18:07] ltwlf commented on #4157
@stevengum @carlosscastro I create a PR #4440 for this issue.
@zhnbss can you please confirm the desired behavior?

[2020-10-20 18:11] stevengum commented on #4233
@dmvtech do you have any updates for this issue?

[2020-10-20 18:11] #3956 closed

[2020-10-20 18:14] stevengum commented on #4345
@dmvtech do you have any updates for this issue? @benjaminsommerfeld have you discovered a workaround on how to perform your required Direct Line requests?

[2020-10-20 18:18] benjaminsommerfeld commented on #4345
@stevengum Thank you for your reply, unfortunately we have not yet found a workaround and would be very thankful for any input how we could implement this.

[2020-10-20 18:33] #4279 closed

[2020-10-20 18:49] tonyanziano opened #4441 "CreationFlow does not validate name passed in via URL params"
## Describe the bug

Navigating to the creation wizard with a url such as:

`http://localhost:3000/projects/create/<template>?name=somename`

will cause the `name` field to be prepopulated with `somename` from the URL params.

However, the filename validation does not run in this scenario until you start typing something, so this initial value never gets validated and can result in trying to creat

[2020-10-20 20:10] juanpmendoza opened #4443 "Trying to update already published bot. Keep getting 400 - {"error":{"code":"BadArgument","message":"Failed to parse azure account information object object."}}"
I had already published a working bot to Azure. However I had to update it and I am now trying to publish it again to the same resource group in which it already exists. As expected, my access token had expired, so I generated a new one, pasted it on the bot's profile (after clicking on "Edit") and tried to publish the bot again.

I tried following this documentation: https://docs.microsoft.com/en

[2020-10-20 20:24] juanpmendoza commented on #4443
This is the JSON that I followed from the Readmefile

![image](https://user-images.githubusercontent.com/49325120/96639938-0b865e00-12e8-11eb-8dc0-2da87ed2b548.png)

And this is the one that I used following the structure in the "Edit" of the profile:

![image](https://user-images.githubusercontent.com/49325120/96640113-530cea00-12e8-11eb-8f61-caf857167377.png)

[2020-10-20 20:44] zxyanliu commented on #4379
Closing this issue since it is addressed.
The content was merged and will go live soon.
Thanks! : -)

[2020-10-20 20:44] #4379 closed

[2020-10-20 20:46] zxyanliu commented on #4233
@dmvtech FYI. I added the content in our docs. The PR got merged and the content is accessible from [here](https://github.com/MicrosoftDocs/composer-docs-pr/blob/master/composer-docs/concept-memory.md#delete-activity).
The updated docs will live soon. I think we can close this issue for now.

[2020-10-20 22:08] a-b-r-o-w-n commented on #4435
Hi @cdonke. Sorry for the breaking change! I am working on a fix for this. Do you usually build the docker image from the root directory or were you trying that because the extensions directory was moved up?

In my investigation, I've found that we will need to send the entire repository as context to the docker build, along with copying the correct files during the build process. I think in order

[2020-10-20 22:12] cdonke commented on #4435
Hi @a-b-r-o-w-n ...

I'm building from the root...
Already made some changes for the dockerfile (making better use of docker cache, moving some things around to improve)...

Now, I'm stuck here:

![image](https://user-images.githubusercontent.com/4707327/96649757-181aae80-1308-11eb-8125-2bed4df27996.png)

Should I stop, or can I help you somehow?

tks,