[2021-04-21 18:58] Dewain27 commented on #7220
Confirmed that on Mac it is working in nightly build.

[2021-04-21 19:04] GeoffCoxMSFT commented on #7107
@Dewain27 I cannot reproduce this.  I verified the code has retry logic around it.

[2021-04-21 19:04] emivers8 commented on #7221
Yeah, I think that's a good one. @Dewain27 @emgrol @elaine-chang recommendations for which docs page would be best here? Do we have one that introduces the concept of templates?

[2021-04-21 19:06] v-kydela commented on #7054
@rvinothrajendran - Thanks

@kelvinchen822 - Are you still working on this?

[2021-04-21 19:12] emivers8 opened #7230 "Open Azure Bot resource (ABS > Composer) dialog too small"
## Describe the bug

Implementation looks like this:
![image](https://user-images.githubusercontent.com/55601267/115608044-9ac1fd80-a29a-11eb-8fec-7b0cb37f137b.png)

Should be this:
![image](https://user-images.githubusercontent.com/55601267/115608119-af9e9100-a29a-11eb-8694-a2bab8f127c0.png)

[2021-04-21 19:15] emivers8 commented on #7128
@mareekuh another thing to add to the copy list--context with regards to the need for alignment is important. I'll add to the spreadsheet.

[2021-04-21 19:19] sgellock commented on #7107
I am running the following nightly and I'm not able to repo this scenario.  I do remove all service options except what's mandatory.  so if there were service options that caused this, it's hard to know from the repro steps.

[2021-04-21 19:24] scheyal opened #7231 "Export fails: .csproj is missing from destination"
## Repro
1. Create a bot project (in my case with qna/luis/remote-skill)
2. Export
3. Extract .zip
4. Restart Composer
5. Navigate to new location
6. Try to build
7. Error: No .csproj: ```Command failed : The project file '...\OrchestratorDispatch\OrchestratorDispatch.csproj'  does not exist.```

## Build Error
[code]

[2021-04-21 19:24] sgellock opened #7232 "Rocket menu top level menu icon does not toggle rocket menu display behavior"
## Describe the bug
The behavior of the rocket menu icon is not consistent with the notifications icon.  The notifications icon will acts as a toggle to display or hide the notifications pane.  The rocket ship menu only displays the rocket ship menu, but doesn't not hide it when the pane is visible and the icon is clicked.

## Version
Version:  1.4.0-nightly.237625.d1378c6
Electron: 8.2.4
Chrome:

[2021-04-21 19:25] GeoffCoxMSFT commented on #7107
Closing issue as this can no longer be reproduced

[2021-04-21 19:25] #7107 closed

[2021-04-21 19:39] #7069 closed

[2021-04-21 19:59] pavolum commented on #7128
assigning to @mareekuh as she is consolidating all copy fixes in to a single issue

[2021-04-21 19:59] pavolum commented on #7131
assigning to @mareekuh as she is consolidating all copy fixes in to a single issue

[2021-04-21 20:13] cleemullins commented on #7220
Dupe of #7200

[2021-04-21 20:14] cleemullins commented on #7200
Closing as duplicate

[2021-04-21 20:14] #7200 closed

[2021-04-21 20:33] elaine-chang opened #7234 "R13 Bugbash: Adding a QnAMaker key will clear out the LUIS key already added"
## Describe the bug

As part of testing creating a bot with Enterprise assistant template, after I successfully added a LUIS key, when I finished adding a QnA Maker key succesfully, the LUIS key that has been previously added is now cleared. See screenshot below. This loop makes it impossible to add both LUIS key and QnA Maker key.

## Version

![image](https://user-images.githubusercontent.com/25

[2021-04-21 20:33] cwhitten commented on #7163
@Dewain27 FYI

[2021-04-21 20:35] pavolum commented on #6978
@clearab when will naming for templates be finalized?

Two aspects to this issue
- Display name needing to be changed - display name is now pulled from an external source so we can change that outside of composer releases. If that call to the external source fails it uses the hard coded names in Composer as a back up so the PR Chris had added here is still valid assuming his change to call it 'bla

[2021-04-21 20:37] JaskeeratBedi-cmk opened #7235 "Sign out link in Add new publishing profile"
![create new](https://user-images.githubusercontent.com/67944302/115617680-8be14800-a2a6-11eb-8acb-e5475e41e605.png)
![hand off](https://user-images.githubusercontent.com/67944302/115618086-0e6a0780-a2a7-11eb-88d8-99056bc6e1ae.png)
![import](https://user-images.githubusercontent.com/67944302/115618091-10cc6180-a2a7-11eb-883d-ae12e4399ef7.png)

## Describe the bug

Clicking on Sign out link closes

[2021-04-21 20:37] #7216 closed

[2021-04-21 20:40] emivers8 commented on #6993
@lauren-mills Thanks for the feedback, as always. For the readme, we have an issue tracking that (#5779). For the Learning tab suggestions, if those docs exist it should be easy enough to add those, I think? (@pavolum) For everything else, probably good feedback for R14 when we intend to add state tracking (so we're not showing one million things at the same time). (@Dewain27 how do we want to tra

[2021-04-21 20:41] JaskeeratBedi-cmk opened #7236 "Provisioning modal fit and finish"
![add resources](https://user-images.githubusercontent.com/67944302/115618217-41ac9680-a2a7-11eb-9fc1-5216020a106c.png)

Electron, OS, v1.4.0

[2021-04-21 20:42] JaskeeratBedi-cmk opened #7237 "Provisioning modal | Hand off ( fit and finish"
![share resource](https://user-images.githubusercontent.com/67944302/115618371-71f43500-a2a7-11eb-8693-5f76d8b99135.png)

Electron, OS, v.1.4.0

[2021-04-21 20:43] #7234 closed

[2021-04-21 20:44] elaine-chang commented on #7234
No pro when I re-tested creating a bot from scratch with Enterprise assistant template

[2021-04-21 20:59] pavolum commented on #6978
Okay renaming of generators is tracked here:
https://github.com/microsoft/botframework-components/issues/932

This requires both a Composer and Components repo change. Peter and I are in communication and will have this resolved Friday when they push new RCs. Keeping this open for tracking

[2021-04-21 21:05] pavolum commented on #6974
This should be auto fixed when the generators are republished Friday with the updated readmes that will result in the removal of non wrappable horizontal text.

[2021-04-21 21:08] #7174 closed

[2021-04-21 21:16] emivers8 commented on #7232
Duplicate of #6993

[2021-04-21 21:16] #7232 closed

[2021-04-21 21:57] cwhitten commented on #7231
We need to update the export functionality to include the new project shape. Needs to _not_ include `obj` or `bin` directories.

[2021-04-21 22:01] cwhitten commented on #7178
This was pulled out of BUILD scope for the adaptive runtime. Transferring to components project

[2021-04-21 22:05] cwhitten commented on #7195
The description is a bit misleading. Those file types are supported, but the files need to be hosted. Composer does not yet support files selected from the users machine.

[2021-04-21 22:11] elaine-chang commented on #7221
I don't think such doc has been created yet but should be planned. @Dewain27

[2021-04-21 22:16] #6890 closed

[2021-04-21 22:16] #6970 closed

[2021-04-21 22:23] cwhitten commented on #7212
Known issue. The decision was to punt until we take on the KeyVault worksteam, something not funded in Cobalt.

[2021-04-21 22:26] cwhitten commented on #7213
@boydc2014 this is unexpected. Can you comment?

[2021-04-21 22:37] benbrown commented on #6854
This is done in #7243

[2021-04-21 22:38] #6635 closed

[2021-04-21 22:46] benbrown commented on #7219
Fixed by #7184

[2021-04-21 22:50] benbrown commented on #7188
The part about this that is the 404 is just a matter of not having completed the aka.ms link.  @Dewain27 will do this once #7180 is merged.

@GeoffCoxMSFT  Is that the same link used in all three places? or is there another broken link?

[2021-04-21 23:03] benbrown commented on #6650
Not sure how to repro this, but I added some checks on that undefined object in #7243 that should prevent this.

[2021-04-21 23:05] GeoffCoxMSFT commented on #6335
I think this was essentially completed when Ben moved the list of publish targets to the publish page.

[2021-04-21 23:05] #6335 closed

[2021-04-21 23:07] daveta commented on #7165
@hatpick :
If I create a new bot it works.  If I open an older bot (i'm using something from Tai called LargeOrchBot) it fails.
Feel free to close, this may be some interim build problem.

[2021-04-21 23:12] #7214 closed

[2021-04-21 23:40] cwhitten commented on #7218
hi @rvinothrajendran - we'll look to include smoothing these scenarios over in an upcoming release.

[2021-04-21 23:56] stevkan commented on #7097
@LakshummaC, in addition to the values you have set above on the 'Event activity' trigger, can you also set the 'Run Once' property to `true` and test, again? I am finding that, if I have that property set to anything other than `true`, then I get the error 'Object reference not set to an instance of an object' returned. It's possible that this is getting masked somehow when you attempt the same.

[2021-04-21 23:56] cwhitten commented on #7224
@beyackle can you comment? If the schema for the adapters defines this as required fields it should validate and render errors before submitting.

[2021-04-22 00:01] srinaath commented on #7059
![](https://user-images.githubusercontent.com/13004779/115636592-1e8fe000-a2c3-11eb-8446-efa0d8c35647.png)

I do not see the models folder here. @taicchoumsft . Maybe we can do a screenshare to see why Orchestrator never got installed?

[2021-04-22 00:02] emgrol commented on #7221
@emivers8 @elaine-chang We don't have a doc planned for introducing templates; they're going to be described in the What's New and in relevant articles. If someone wants to write the doc they can do so and we'll put it into the TOC, but the writing team is at capacity right now and can only offer copy edits at this time.

[2021-04-22 00:31] beyackle opened #7245 "Can't add a remote skill; "Miss dispatch modal" message"
## Describe the bug

I was given a URL to use for connecting to a remote skill, but it brought up this error message - does it mean "missing dispatch model"? What's a dispatch model, and how do I get one? I've been told that "dispatchModel" is no longer a required field in the manifest, but all the code in CreateSkilModal.tsx seems to be expecting one.

## Version

1.4.0

## Browser

- [ ] Electro

[2021-04-22 01:50] #6207 closed

[2021-04-22 01:50] #6966 closed

[2021-04-22 01:50] #7125 closed

[2021-04-22 02:55] luhan2017 commented on #7168
@scheyal are you creating a new bot from the template or using the old bot? This is a known issue before and we fixed in the template side last week.
Could you please try to create a new bot and see if this reproduces?

[2021-04-22 02:56] luhan2017 commented on #7153
Synced with Darren offline, This can't be reproduced on the latest main branch, let me know if you have this reproduced.

[2021-04-22 03:25] luhan2017 commented on #7152
I can't reproduce this issue in my side.
![image](https://user-images.githubusercontent.com/32191031/115651279-70854400-a35d-11eb-9125-04d509951eb2.png)

[2021-04-22 03:55] luhan2017 opened #7247 "Skill scenario: Remove the manifest 2.0 selection when sharing a skill."
## Describe the solution you'd like

Confirmed from @scheyal  and @darrenj , PVA accepts manifest 2.1 now, so we are fine to remove the manifest 2.0 creation now.

## Describe alternatives you've considered

## Additional context

[2021-04-22 04:02] luhan2017 commented on #7245
@vivekkshankar , could you please comment on this? if there is no dispatch model, how should we proceed.
- option1: don't show the select intent pop up, but still show edit trigger page with no utterances, user could still edit and we will create a trigger for user.
- option2: just add the skill to bot project, don't auto create trigger for skill.

[2021-04-22 04:28] clearab commented on #7221
I'm not sure what that doc would be trying to explain - what question would users have on this screen that we'd want to answer in a stand-alone docs page that wouldn't be answered by the individual template readme's?

[2021-04-22 05:34] rvinothrajendran commented on #7235
#7162

[2021-04-22 05:34] #6605 closed

[2021-04-22 06:14] boydc2014 commented on #7211
@lei9444 can you add a get project before doing publish.

[2021-04-22 07:13] LakshummaC commented on #7097
@stevkan I tried as you said with 'Run once' as true but still the event is not getting triggered. Is that fine if In Main Project I have 'conversation Update(Greetings)' and 'Event Received' individually (Shown below), or do I need to add something?
![Uploading image.png…]()

[2021-04-22 08:34] garypretty commented on #7043
@benbrown  @carlosscastro I think #7243 fixes the issue where packages don't show as installed.  Will we need an additional fix to ensure that packages without schema are correctly added to the plugins sections in the appSettings?

[2021-04-22 08:37] garypretty commented on #7151
@boydc2014 @luhan2017 Not sure if this is the same issue, but I also get an error when adding an entity in the create trigger dialog (my bot is using the default recognizer).

![image](https://user-images.githubusercontent.com/3900649/115683404-5001bd80-a34e-11eb-910c-085cf048d83f.png)

[2021-04-22 10:07] alanlong9278 opened #7250 "telemetryClient is undefined in azurePublish extension."
## Describe the bug

telemetryClient is undefined in azurePublish extension.
![image](https://user-images.githubusercontent.com/5860999/115695771-aabe0800-a394-11eb-9f14-b630f5c99f70.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to

[2021-04-22 10:24] LakshummaC commented on #7097
Hi @Stevenic after I did these changes the event if triggered.

1.Enabled below options in Greeting
![image](https://user-images.githubusercontent.com/76558423/115698889-bd2f4600-a382-11eb-8031-cfdd3dd561a4.png)

2.Enabled below options in Event Received
![image](https://user-images.githubusercontent.com/76558423/115698926-c6201780-a382-11eb-922c-3ef73bfcf97f.png)

and I am able to fetch value fro

[2021-04-22 11:34] darrenj commented on #7152
Agreed, my mistake - Due to another bug (prebuilt entities) I introduced a typo :-(

[2021-04-22 11:34] #7152 closed

[2021-04-22 12:52] Quirinevwm commented on #7206
Em mentioned she is looking at this with the team!

[2021-04-22 13:53] boydc2014 commented on #7151
@VanyLaw is your PR covers the above scenario?

[2021-04-22 14:28] benbrown commented on #7043
@garypretty this should cover both scenarios.

[2021-04-22 14:36] #7027 closed

[2021-04-22 14:55] #6866 closed

[2021-04-22 14:55] #7219 closed

[2021-04-22 15:03] benbrown commented on #7090
Should be resolved by this commit:

https://github.com/microsoft/BotFramework-Composer/pull/6526/commits/92ae67f766a6e5a112c2e312a317faee687aaaa1

[2021-04-22 15:11] darrenj opened #7252 "Enterprise Assistant - Error after publishing"
## Describe the bug

After creating an Enterprise Assistant, and successfully starting it (locally) I get the following error:

`Operation returned an invalid status code ‘Unauthorized’`

Looking at composer trace I have this, seems to be authentication related. Note that I haven't configured any Auth or even provisioned, I've just created the project and hit start (as a developer would do).  Good

[2021-04-22 15:16] darrenj commented on #7206
Correct - you can't "get" a previously created password, further complicating the steps :-(

[2021-04-22 15:25] #7221 closed

[2021-04-22 15:31] Quirinevwm commented on #7252
@thomas-chung the emit trace design bit for this issue:
![image](https://user-images.githubusercontent.com/43533472/115742046-9841cf80-a390-11eb-8dd3-a53a13130a76.png)

[2021-04-22 15:39] darrenj opened #7253 "Post-Template Readme popup doesn't work"
## Describe the bug

Some templates post creation have manual steps the developer must follow. For example, a complex template like the Enterprise Template has manual configuration steps that need to be done.

Without this it's hard for developers to figure out why something doesn't work (see #7252). Some of the next steps are solved for some templates today - e.g. templates using QnA and LUIS the

[2021-04-22 15:45] #7220 closed

[2021-04-22 16:00] #6609 closed

[2021-04-22 16:07] benbrown commented on #7055
The answer turned out to be no - need web host etc before creating the QNA.

[2021-04-22 16:07] #7055 closed

[2021-04-22 16:08] benbrown commented on #7186
This is a dupe of #7217

[2021-04-22 16:08] #7186 closed

[2021-04-22 16:15] beyackle commented on #7245
If it helps, the URL I was trying to import is this one: `https://onenote-dev.azurewebsites.net/manifests/OneNoteSync-2-1-preview-1-manifest.json`

[2021-04-22 16:21] lauren-mills commented on #7252
@darrenj - I think I know the issue here. I've run into this when I don't have allowedCallers configured on the **Root Bot** side of the conversation. This isn't how we used to do things, so I'm not sure if this is intentional or not.

[2021-04-22 16:36] cwhitten commented on #7114
dupe of #7157

[2021-04-22 16:36] #7114 closed

[2021-04-22 16:44] cwhitten commented on #7225
@beyackle assigning this to you with the package manager things you are looking at. It seems like the url is incorrect, or missing entirely, and navigating to the default view.

[2021-04-22 16:47] lauren-mills opened #7255 "AllowedCallers should show up as a warning in the warning panel when it is blank for the root and skills"
## Describe the bug
When I have skills added to my project, allowedCallers being blank should show as a warning in the error panel because skill communication will fail with 403 errors if not properly configured and its not clear why.

This shows in the Skill Configuration:
![image](https://user-images.githubusercontent.com/27976702/115753038-91469d00-a34f-11eb-943d-02e6e67dd5f0.png)

But nothing

[2021-04-22 16:47] lauren-mills commented on #7255
@darrenj

[2021-04-22 16:47] cwhitten commented on #7226
@chrimc62 see the tooltip on the Trigger phrases element.

cc @sangwoohaan for comment

![Screen Shot 2021-04-22 at 9 44 59 AM](https://user-images.githubusercontent.com/1156704/115753040-91df3380-a34f-11eb-8246-6f6369d665fb.png)

[2021-04-22 16:50] GeoffCoxMSFT opened #7257 "Provisioning should include registering resource provider namespaces"
# Overview #
When the necessary namespaces are not registered for Azure resources, provisioning will fail.

See this bug for an example:  #6747 I had this issue as well the first time I went through provisioning.  I thought it was just my old subscription, but this will happen to more folks out there.

I wrote a sample app to use the Azure APIs to register or unregister the Microsoft.Web namespace

[2021-04-22 16:54] scheyal commented on #7231
Reprioritized to P0. Justification:
If you expose an export button, you must be able to use the exported project. The export functionality is completely broken without this fix. I'm not aware of a workaround (other than copying the entire project, which is not export anymore).

[2021-04-22 17:01] pavolum commented on #7054
Any update on this? Looking through the logs it seems the .exe is locked up in another process
[code]

@kelvinchen822 if you update to the latest preview version of Composer do you still see this issue? We have fixed bugs resulting in similar symptoms in recent preview releases

[2021-04-22 17:02] #7250 closed

[2021-04-22 17:10] cwhitten commented on #7231
@scheyal the workaround is to simply navigate to the directory outside of composer and archive it.

Don't worry, a fix is being reviewed and will make it in R13.

[2021-04-22 17:17] a-b-r-o-w-n commented on #6884
@GeoffCoxMSFT Just now seeing your previous comment. I'll test this again today.

[2021-04-22 17:23] darrenj commented on #7253
Spoke to @elaine-chang and sounds like another issue might be kicking around to show the readme on the rocket ship menu which would work

[2021-04-22 17:42] sgellock commented on #7106
Attaching image from @cwhitten for additional discussion context.

<img width="1259" alt="MicrosoftTeams-image" src="https://user-images.githubusercontent.com/733559/115761617-62342980-a357-11eb-8fb1-e1494d33ea50.png">

[2021-04-22 18:08] pavolum commented on #6594
May be a duplicate of #6406

[2021-04-22 18:08] pavolum commented on #6406
May be duplicate #6594

[2021-04-22 18:11] rvinothrajendran opened #7259 "Unable to create project using Basic conversational bot template"
## Describe the bug

Unable to create a project

## Version

Version:  1.4.0-nightly.238024.b6ea776
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

## Screenshots

![image](http

[2021-04-22 18:14] stevkan commented on #7097
You don't want to set the Greeting's ConversationUpdate activity condition to `false`. Either leave it blank or set it to `true`. Setting it to `false` is telling it to never run. Also, for _this_  trigger, you do not want to set 'Run Once' to `true`. Keep its value as blank or set to `false`. Setting it to `true` I believe is telling it to run only on the first 'conversationUpdate' which I also b

[2021-04-22 18:15] rvinothrajendran opened #7260 "There is no option to edit the Project Description"
![image](https://user-images.githubusercontent.com/16264167/115765683-5cfecb00-a3a7-11eb-9692-cac41c132529.png)

[2021-04-22 18:17] sangwoohaan commented on #7226
Yeah we should definitely add Learn more link to the Intent trigger page on the top label field like this
![Screen Shot 2021-04-22 at 11 15 51 AM](https://user-images.githubusercontent.com/50963385/115765877-23ed3900-a35c-11eb-974a-dc54437dd406.png)
All the triggers are missing links to relevant documentations actually – I'll collect them and post here soon.

[2021-04-22 18:20] Virtual-Josh opened #7261 "Can't create new publishing profiles"
## Describe the bug
The final page of the publishing profiles does not provide the summary, and the `done` button doesn't work

## Version

Version:  1.4.0-nightly.238024.b6ea776
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

#

[2021-04-22 18:23] hatpick opened #7263 "Toggling webchat panel open should close other open panels (notifications, getstarted, etc.)"
Currently if any of the other two panels are open, they cover webchat panel.

[2021-04-22 18:29] hatpick opened #7264 "Getstarted rocket button is not togglable"
Similar to other header buttons (webchat, notifications) I think the rocket button should be togglable as well.
basically, on click, if open close it and vice versa.

[2021-04-22 18:29] benbrown commented on #7261
Caused by #7250 should be resolved in the next build

[2021-04-22 18:39] hatpick commented on #7165
Please create a new bug if it happens again with a new bot on our nightly builds.

[2021-04-22 18:39] #7165 closed

[2021-04-22 18:56] peterinnesmsft commented on #7266
To confirm expectation, the current QnA Maker template should also use the display name 'Core Bot with QnA Maker'.

[2021-04-22 18:57] cleemullins opened #7267 "QnA Maker Template description cleanup"
## Describe the bug

The template for QnA Maker calls out a "Basic" bot. This is especially confusing, as there are two templates with "Basic" in their name.

![image](https://user-images.githubusercontent.com/1165321/115475723-1cf7e680-a1f5-11eb-9bb1-cb407155e727.png)

## Version
1.0.0-rc5

Version:  1.4.0-nightly.237101.f01cb52
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27

[2021-04-22 18:59] peterinnesmsft commented on #7267
QnA Maker template is currently special-case and handled in a different way from our other template generators. Assigning to Composer team for triage and determining next steps.

[2021-04-22 19:05] #6824 closed

[2021-04-22 19:05] #7077 closed

[2021-04-22 20:04] #7194 closed

[2021-04-22 20:10] #4513 closed

[2021-04-22 20:19] pavolum commented on #6234
I am closing this as it was likely due to bugs that have since been resolved in newer releases. @mewa1024 please reopen if you experience this issues in the latest version of Composer.

[2021-04-22 20:19] #6234 closed

[2021-04-22 20:20] pavolum commented on #6525
I am closing this as it was likely due to bugs that have since been resolved in newer releases. @anniexudan please reopen if you experience these issues in the newer nightly versions of Composer.

[2021-04-22 20:20] #6525 closed

[2021-04-22 20:22] pavolum commented on #6883
I cannot repro this as I fail to auth with an account with no subscriptions and the logic is in place to warn if no subscriptions are made so if I were to be able to auth and the api called returned 0 subscriptions then error text should appear.

I will try and repro by using the electron build

[2021-04-22 20:27] mewa1024 commented on #6234
will do, and sorry I missed your comment from a couple weeks ago!

[2021-04-22 20:32] JaskeeratBedi-cmk opened #7272 "Provisioning modal : UI update"
![Provisioning modal](https://user-images.githubusercontent.com/67944302/115781204-ed6ce980-a36e-11eb-89e0-df433c742035.jpg)

UI update to "Create new resources" within provisioning modal
- Includes better grouping
- updated copy for tooltips
- Link to learn more about Luis regions

Figma file here - https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-s-files?node-id=5741%3A295

[2021-04-22 20:38] #6854 closed

[2021-04-22 20:38] #7043 closed

[2021-04-22 20:38] #7092 closed

[2021-04-22 20:38] #7112 closed

[2021-04-22 20:42] benbrown opened #7273 "TelemetryClient is not available in the azureProvizionDialog extension component"
For some reason, the telemetry client is not available in the azureProvisionDialog extension component.  This is part of the extension-client interface.  It works as expected in the package manager extension.  However, the `useTelemetryClient()` method returns undefined in the publish dialog.

This is blocking our ability to record telemetry events during the provisioning process, which is quite i

[2021-04-22 20:53] #7261 closed

[2021-04-22 21:03] VamsiModem commented on #6298
Looks like this issue is fixed
![image](https://user-images.githubusercontent.com/12182973/115784816-79811000-a373-11eb-9af6-e22810fed9d7.png)

[2021-04-22 21:03] #6298 closed

[2021-04-22 21:15] benbrown opened #7275 "No Azure Directories found"
I received an error that said "No azure directories found" in the provisioning flow.

I was logged into Composer already, and I did an ABS Handoff.  I created a new bot, and went to complete the publishing profile.  Edited profile, was NOT asked to login.  Received this error on the second page of the provisioning modal.

![Screen Shot 2021-04-22 at 4 14 08 PM](https://user-images.githubuserconten

[2021-04-22 21:50] rsullivan00 opened #7276 "[Bug Bash 04/22] Auth fails if you are not logged into Azure in Edge"
**Repro**

- Make a Azure Bot resource in Azure in a private Edge window
- Click "Open in Composer" in Azure to open Composer desktop
- Create a bot from the Responding with cards sample
- Click "Publish"
- Select the bot, select "Publish selected bots"
- On auth popup, put in email from the Azure account
- MFA with MS Authenticator

Expected:
- Publish succeeds using the account you just authenti

[2021-04-22 22:01] Virtual-Josh opened #7277 "Allowed callers screen is not at all obvious that it's editable"
## Describe the bug
It's not at all obvious that the elements on this screen are editable.

## Version

Version:  1.4.0-nightly.238265.5106247
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce t

[2021-04-22 22:05] #6894 closed

[2021-04-22 22:06] scheyal opened #7278 "Telemetry: Need to capture recognizer selection (not showing up in latest analysis)"
We reviewed latest telemetry data and recognizer selection is not showing up (as far as we can tell).
We need to (a) verify that it is logged (correctly) (b) if not fix asap.

@garypretty  FYI

[2021-04-22 22:14] GeoffCoxMSFT commented on #7236
@JaskeeratBedi-cmk Are you not signed in to Azure when you get to this page?  The reason it is on the left is because the sign-out and badge is missing.

[2021-04-22 22:30] scheyal opened #7280 "Telemetry: unexplained discrepancy between Start/end session. Suspect issue in capturing end session"
Need to review & verify end-session telemetry capture as we observe huge discrepancy with end-session captured only 2 vs. start at ~12k.

FYI @garypretty

[2021-04-22 22:35] rsullivan00 commented on #7276
After messing around a bit more, this works if I log into the Azure account in Edge--previously I was using a private Edge window to create the Azure resources, and my non-private edge was not authenticated into Azure.

This may mean that users using non-Edge would also experience this issue.

[2021-04-22 22:39] JaskeeratBedi-cmk opened #7281 "Copy in Azure bot resource page"
![azure bot resource page](https://user-images.githubusercontent.com/67944302/115793371-ddf69c00-a380-11eb-9647-834abf1a67f4.jpg)

[2021-04-22 22:40] scheyal commented on #6869
No repro since.
Closing

[2021-04-22 22:40] #6869 closed

[2021-04-22 22:40] #6727 closed

[2021-04-22 22:42] JaskeeratBedi-cmk opened #7282 "Open azure bot resource modal"
![open new azure bot resource](https://user-images.githubusercontent.com/67944302/115793520-1bf3c000-a381-11eb-8152-572271e9dc15.png)

![select template](https://user-images.githubusercontent.com/67944302/115793601-42b1f680-a381-11eb-86ff-99bd855e6247.png)

[2021-04-22 22:43] scheyal commented on #7157
Now I have 3 dangling processes with Composer closed and no bugs hit:

![image](https://user-images.githubusercontent.com/8867670/115793683-65dca600-a381-11eb-877f-fd7ecbd23406.png)

[2021-04-22 22:57] JaskeeratBedi-cmk opened #7283 "Error copy"
Error is difficult to understand. Can we update the copy to something that is easier to understand.
Andrea suggested this in the chat-

"in order to use a node bot you need to have node/npm installed in your machine https://nodejs.org/en/download/"

<img width="951" alt="MicrosoftTeams-image (45)" src="https://user-images.githubusercontent.com/67944302/115794689-4a729a80-a383-11eb-9628-39cf3375e97

[2021-04-22 23:00] JaskeeratBedi-cmk commented on #7283
Following up on this error. My error was resolved by re-booting my system. So we may need to inform the user accordingly..

[2021-04-22 23:02] tdurnford commented on #7280
@scheyal When the user closes Composer, Electron emits a ['before-quit'](https://www.electronjs.org/docs/api/app#event-before-quit) event, which we use to capture the session end telemetry event.  As noted in the Electron documentation - ['before-quit'](https://www.electronjs.org/docs/api/app#event-before-quit) "will not be emitted if the app is closed due to a shutdown/restart of the system or a

[2021-04-22 23:02] v-kydela opened #7284 "[Bug Bash 04/22] Composer still makes user sign in too often"
When I opened my Azure bot in Composer, it asked me to sign in. When I tried to provision resources for the bot, it asked me to sign in again. This is particularly strange because you can see in the screenshot that Composer seemed to already have my sign-in information and was just not using it.

![image](https://user-images.githubusercontent.com/41968495/115794855-9faeac00-a383-11eb-9f31-f9ccc74d

[2021-04-22 23:05] tdurnford commented on #7278
@scheyal We do not currently log telemetry for recognizer selection; however, we can easily add that before the next release.

[2021-04-22 23:09] v-kydela opened #7285 "[Bug Bash 04/22] Composer window does not account well for varying window sizes"
When the Composer window is not full screen, even when it's not particularly small it can still hide information. You can see in the screenshot that there are no scrollbars and nothing to indicate to the user that there's an error message that they need to enlarge the window in order to see.

![image](https://user-images.githubusercontent.com/41968495/115795512-e5b83f80-a384-11eb-874e-4b52a9229dc2

[2021-04-22 23:09] JaskeeratBedi-cmk opened #7286 "Edit page copy"
Header should say "Edit publishing profile"

<img width="562" alt="Screen Shot 2021-04-22 at 4 08 11 PM" src="https://user-images.githubusercontent.com/67944302/115795590-084a5880-a385-11eb-897d-c9ffac11a67d.png">

[2021-04-22 23:18] cwhitten commented on #7276
Hey @rsullivan00 it looks like you aren't using the preview build of Composer. Can you navigate to the Settings page in Composer and turn on "Early adopters", then Help -> Check for updates from the application menu.

After this please try again

[2021-04-22 23:21] scheyal opened #7287 "QnA: bot with qna worked yesterday and broke after today's nightly upgrade"
##Repro
My bot with QnA worked before today's nightly upgrade. Tried variations of manual
 settings change but it is still failing.

## Error
[code]

##Migration
Also conside the experience for R12 users. Requires migration.

## Version

[code]

[2021-04-22 23:24] sangwoohaan commented on #7226
Here's the list of triggers and associated documentations :
https://microsoft-my.sharepoint-df.com/:x:/g/personal/sahan_microsoft_com1/EVGYu5w-FrpBsGoHWcZcTXQBbepwYVUMc7I13YornmTbTA?e=VBhym2

Let's add Learn more buttons to Triggers, and link to these docs.

[2021-04-22 23:29] sgellock commented on #7264
@hatpick this is being tracked in this issue #6993

[2021-04-22 23:29] #7264 closed

[2021-04-22 23:30] JaskeeratBedi-cmk opened #7288 "Provisioning modal | Asks for Luis region even when luis has already been added.."
Even though I have provisioned new Luis & Q&A services when I come back to add more resources to this profile, I get asked to specify the region for luis. This seems odd, because I have already provided this information..

( attached screenshots)

<img width="1026" alt="Screen Shot 2021-04-22 at 4 27 05 PM" src="https://user-images.githubusercontent.com/67944302/115797053-d8e91b00-a387-11eb-971d-5

[2021-04-22 23:32] rsullivan00 commented on #7276
Auth works on the preview build. Thanks @cwhitten , closing

[2021-04-22 23:32] #7276 closed

[2021-04-22 23:40] JaskeeratBedi-cmk opened #7289 "partial publishing"
Since the UI for this modal is getting updated, it also has some connections with the partial publishing flow. [Figma here](https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-s-files?node-id=5746%3A93359)

![partial publishing](https://user-images.githubusercontent.com/67944302/115797635-3b8ee680-a389-11eb-8dce-59b10b02127b.jpg)

[2021-04-22 23:41] JaskeeratBedi-cmk commented on #7288
Here is a design proposal to clean this. [Figma here](https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-s-files?node-id=5746%3A93363)

![if all info is available](https://user-images.githubusercontent.com/67944302/115797761-945e7f00-a389-11eb-9a16-f50476973ab0.png)

[2021-04-22 23:53] elaine-chang opened #7290 "R13 Bugbash: "Select a template" page needs text consistency cleanup for template names"
## Describe the bug

There are a bunch of text consistency issues for the "Select a template" page:
* Some with upper-case "Bot" and some with lower case "bot"
* Some template name ends with "Bot" or "bot", and some does not
* Some with capitalized "A" in "Enterprise Assistant Bot", and some with lower case "a" in "Basic assistant"

## Version

![image](https://user-images.githubusercontent.com/25

[2021-04-23 00:13] cleemullins opened #7291 "QnA Maker bot greets users as "Empty bot""
Create a new QnA Maker bot, and the greeting is "Welcome to the EmptyBot sample"

![image](https://user-images.githubusercontent.com/1165321/115799734-eef9da00-a38d-11eb-97fb-6d6779d1ae0e.png)

## Version

Version:  1.4.0-nightly.238265.5106247
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-04-23 00:13] boydc2014 commented on #7045
Note: related to navigation issues

[2021-04-23 00:24] cwhitten commented on #7277
closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/7147

[2021-04-23 00:24] #7277 closed

[2021-04-23 00:53] elaine-chang commented on #7290
BTW, this seems to be a regression as we had the following in the earlier version:
![image](https://user-images.githubusercontent.com/25210203/115802363-94fc1300-a393-11eb-96cc-2f97a5f1c2ad.png)

[2021-04-23 01:05] scheyal opened #7292 "Orchestrator multilingual model is missing"
##Repro
1. Create a bot, test in English
2. Add language
3. Rebuild

Error: ```Value cannot be null. (Parameter ‘SnapshotFile’)```

## Version
Version:  1.4.0-nightly.238265.5106247
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-04-23 01:11] scheyal commented on #7292
Tried variations, all fail:
* Composer language was set to Spanish / Emulator English, languages the same, and reversed.
* Language never switched out of English when trying the bot even with emulator set to es-mx.

[2021-04-23 01:31] scheyal commented on #7292
Data:
[code]

[2021-04-23 01:56] scheyal opened #7293 "No telemetry shows up in appinsights. (other telemetry shows up)"
## Repro
1. Create a bot using Composer and Orchestrator recognizer, enable app insights telemetry
2. Inspect events in appinsights.
3. There are no recognizer-based events being logged (LUIS or Orchestrator)

## Configuration
* Multilingual (looking for es-mx logging)

[code]

## Version
Version:  1.4.0-nightly.238265.5106247
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-el

[2021-04-23 02:45] scheyal commented on #7292
Update: Log doesn't show LUIS recognition either. Only BotMessageSend and BotMessageReceived events.

[2021-04-23 02:48] scheyal commented on #7293
Update: Log doesn't show LUIS recognition either. Only BotMessageSend and BotMessageReceived events.

[2021-04-23 02:48] scheyal commented on #7293
@garypretty , @tdurnford - this may be Composer issue, more broadly broken analytics somewhere.
I'm promoting to P0. Please help investigate.

[2021-04-23 03:24] Virtual-Josh opened #7295 "Parent bot doesn't map activity to skill"
## Describe the bug
The parent bot (using Orchestrator or LUIS) doesn't route the trigger to the skill

## Version

Version:  1.4.0-nightly.238265.5106247
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to

[2021-04-23 04:05] daveta opened #7297 "Warning provision to West US 3"
## Describe the bug

Provisioning Application Insights to West US 3.

Doesn't appear to provision successfully.

## Version

Version:  1.4.0-nightly.237791.bdc1a28
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

[2021-04-23 05:18] elaine-chang commented on #7253
Yes, Issue [6993](https://github.com/microsoft/BotFramework-Composer/issues/6993) is the racket menu change UI change issue that we proposed a bunch of changes including having a link to readme.

Adding @lauren-mills and @thomas-chung as FYI.

[2021-04-23 05:27] elaine-chang commented on #6993
For the Learning tab docs, those are being created, but I just created 3 aka.ms link for this so you can add. I will update those aka.ms to the official ones once they are published.

- Create a bot with Enterprise assistant template: http://aka.ms/CreateEnterpriseAssistantDoc
- Create a bot with Calendar template: http://aka.ms/CreateCalendarBotDoc
- Create a bot with People template: http://aka.

[2021-04-23 05:31] jameslew opened #7298 "Configure Resources page in public profile "Next:review" button never activates on Ubuntu"
## Describe the bug

Installed Ubuntu in Windows (20.04 I think); downloaded composer, installed libgomp.1 and dotnetcore and started composer; all worked well until i tried to create a publish profile, however the Next:review button never activates on the Configure Resources page.

## Version

Version:  1.4.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Brow

[2021-04-23 05:59] LakshummaC commented on #7097
Thanks @stevkan , I have followed the approach as you said above. Issue is resolved. Thanks much for your support.

[2021-04-23 05:59] #7097 closed

[2021-04-23 06:02] cosmicshuai commented on #7089
https://github.com/microsoft/botframework-cli/pull/1214
I have fixed it in the bf-cli, after it is merged, I will update the version in Composer. This would solve this issue.

[2021-04-23 06:04] LakshummaC opened #7299 "CI/CD Azure Devops Setup for Bot Composer 1.4.0"
Hi Team,

We would like to know, similar to Bot framework do we have Azure Devops setup option in Bot Composer which help multiple developers to work on same Project and support Agile methodology with CI/CD approach.

Let us know your inputs for one of our new Project.

Thanks in advance.

[2021-04-23 06:19] rvinothrajendran opened #7300 "Set properties panel height is not fit"
## Describe the bug

Set properties panel height is not fit
ex : defined properties  "dialog.username = @username" but in the visual canvas "g" is not display properly.

## Version

Version:  1.4.0-nightly.238265.5106247
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2021-04-23 06:22] elaine-chang opened #7301 "R13 Bugbash: After creating a publishing profile, the Notification window should open by default"
## Describe the bug

Right now after creating a publishing profile, the notification panel is closed by default. It was not clear to me that the creation is actually in process, since when I clicked "done", there was almost nothing shown on the screen. Then I realized that I should open the Notification panel to check the progress.
![image](https://user-images.githubusercontent.com/25210203/115827

[2021-04-23 06:40] mn-invia opened #7303 "'Allow Interruptions' does not work when set to true for Multi-Choice Prompts"
Hi There,

I have a Chatbot which has been built using Microsoft Composer. At several instances, I am providing the user Multi-Choice prompts to select/choose options depending upon the scenario. I have set the 'Allow Interruptions' Flag to 'TRUE'. I am trying to initiate small talk when these select/choose options are provided to the user and it is NOT WORKING. The Multi-Choice Prompts keep appea

[2021-04-23 07:00] hatpick commented on #6799
@mewa1024 what if one of those panels are open and user selects a text underneath?

![Screen Shot 2021-04-22 at 11 59 19 PM](https://user-images.githubusercontent.com/1483492/115831767-e2de3e80-a3c6-11eb-875e-1473abb8fa33.png)

[2021-04-23 08:06] #7141 closed

[2021-04-23 09:46] #7144 closed

[2021-04-23 09:46] #7245 closed

[2021-04-23 11:47] formore5points commented on #6586
@lauren-mills The issue was solved. I updated the last issue. Thanks

[2021-04-23 12:39] narulasrinivas commented on #6677
@lei9444 - Can you please help me to resolve this issue?

[2021-04-23 14:31] #6903 closed

[2021-04-23 15:05] #7225 closed

[2021-04-23 15:22] jameslew opened #7307 "Ubuntu: Sign-out button doesn't work; just closes publish profile dialog"
## Describe the bug

Trying to publish a bot (that I created and published using the Windows Composer) through Ubuntu. as far as I can tell from the logs it makes the call but nothing happens and I'm still signed in.

GET /api/auth/logOut - - ms - -
GET /api/runtime/templates 304 0.413 ms - -
GET /api/publish/types 304 0.803 ms - -
GET /api/projects/34013.942144006745/boilerplateVersion 304 336.23

[2021-04-23 15:48] jameslew opened #7308 "No way to tell which tenant/directory your composer login is bound to"
## Describe the bug

To publish to Azure, I have to sign in with credentials; I have three accounts over three directories, all with the friendly name "James Lewallen".

In the current visuals in the composer, we just show the friendly name, not the associated email and there's no way to tell which directory it's associated with. At least on hover you should be able to tell what account it is to f

[2021-04-23 15:49] #7292 closed

[2021-04-23 15:50] BellaDunnett opened #7309 "'Carousal' incorrectly overrides 'carousel' in back-end."
When adding a carousel as an attachment, the front-end uses the incorrect spelling 'carousal'. This overrides the code in the code editor to be: AttachmentLayout = carousal. Unless you manually change the spelling of 'carousal' to 'carousel' in the code editor, the feature does not work.
![Carousel:Carousal Issue](https://user-images.githubusercontent.com/53485343/115897119-01d6e200-a454-11eb-8b62

[2021-04-23 15:51] BellaDunnett opened #7310 "Write an Expression does not work under Araay of Choices on Multi-Choice"
When offering the user a multi-choice question, there seems to be an issue with the '=Write an expression' function. When I select the option next to 'Array of Choices', the window in which to type disappears. It is therefore not possible to write an expression. See attachment for image.
![Write an Expression Issue](https://user-images.githubusercontent.com/53485343/115897293-2af77280-a454-11eb-9c

[2021-04-23 15:52] BellaDunnett opened #7311 "Date format is assumed to be American"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-04-23 15:53] BellaDunnett opened #7312 "Integer Output Format Not Working"
I have followed the documentation online which shows how to prompt the user for a number. However, this line does not seem to work in reality: "When using number prompts you can set the Output format to either float or integer." I have tried setting the Output format to '=integer', 'integer', and all of the integer functions that Composer allows. Is this a bug or is the documentation online incorr

[2021-04-23 15:59] jameslew commented on #7298
Resolved in Nightly build.

[2021-04-23 15:59] #7298 closed

[2021-04-23 16:04] jameslew opened #7313 "Ubuntu: No way to clear Azure/Graph tokens once you've manually set them (and I can't find where they're stored)"
## Describe the bug

Running composer on ubuntu; along the way I was asked to provide some tokens from AZ; which I did.  Later, i determined they may be the wrong ones (wrong account), and I cannot find a way to update or replace them.  We need a way to do so, or at least documentation about where they're stored so you can do it manually.

## Version

Version:  1.4.0-nightly.238522.13a82cf
Electro

[2021-04-23 16:09] taicchoumsft commented on #7059
Thanks @srinaath for repro and debug session.  This will be fixed in SDK with 4.13.1.  Linked issue: https://github.com/microsoft/botbuilder-dotnet/issues/5524

[2021-04-23 16:20] vivekkshankar commented on #7205
I have the imporved experience mocked up but  need to verify  he steps the user expected to do here to resolve this?

![image](https://user-images.githubusercontent.com/67671676/115900753-28295d00-a415-11eb-83b0-a2fb64be080d.png)

My understanding is we can redirect them to provision the local bot to create app ID and password.
Also, I dont think we need to wait to message this until a manifest ur

[2021-04-23 16:31] vivekkshankar commented on #7245
@luhan2017 We should go with Option 1 and not show this error. User can author from triggering phrases scratch if authored then auto create the trigger else if left empty then dont auto create the trigger.

[2021-04-23 16:35] vivekkshankar commented on #7245
@luhan2017 We should go with Option 1. User can author from triggering phrases scratch if authored then auto create the trigger else  if left empty then

[2021-04-23 16:43] HabeebunnishaMohammad opened #7314 "Local host 3980 not working. Error message: timeout"
## Describe the bug

I am facing issue with the bot composer like (Local host 3980 not working: error message: timeout) when I run my bot after creating some dialogs. My bot composer version is 1.4.0 I created 11 dialogs . Is there any limitation for the creation of the dialogs? @KoradaRajesh

## Version

1.4.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ]

[2021-04-23 16:45] benbrown opened #7315 "Pre-heat the template cache in the background"

[2021-04-23 16:49] clearab opened #7316 "Convert existing Composer samples to new runtime"
In order to minimize disruption to the documentation team, and to facilitate moving towards a combined strategy for Composer and SDK samples, we need to convert all of the existing Composer samples to the new runtime:

https://github.com/microsoft/BotFramework-Composer/tree/main/extensions/samples/assets/projects

They should be removed from the code that ships with Composer, and for now put in th

[2021-04-23 16:51] benbrown commented on #7315
before we do this, let's instrument the whole process to measure the impact.

[2021-04-23 16:51] clearab opened #7317 "Cleanup old runtime"
I believe we can remove the old runtime code from Composer? If necessary, we could put it <somewhere> but I think we can remove it from the Composer electron app distribution? If not, we should identify what we need to do to get there.

[2021-04-23 17:00] mewa1024 commented on #6799
context menu should open below rocket ship.

[2021-04-23 17:02] hatpick commented on #7310
@BellaDunnett Can you include what version of Composer on which platform you are using? Please fill in the provided bug template.

[2021-04-23 17:03] tdurnford commented on #7310
@BellaDunnett Thank you for reporting this issue. We recently merged PR https://github.com/microsoft/BotFramework-Composer/pull/6906 which resolves this issue, and it should be included in our upcoming release.

[2021-04-23 17:03] #7310 closed

[2021-04-23 17:03] clearab commented on #7315
There's also definitely a question of "which templates"? Do we do the most popular ones? Try and do all of them? Predict based on previous behavior of that particular user? "Do them all" might be a good response for now, but probably not sustainable for the long run. Also, can we detect if those worker threads are going to be an undue burden on low latency networks and or less-performant computers

[2021-04-23 17:16] tdurnford commented on #7309
@BellaDunnett Thank you for catching that! This will be resolved in our upcoming release.

[2021-04-23 17:49] #7309 closed

[2021-04-23 17:50] JonathanFingold opened #7321 "Can't get MS Graph access token when adding new publishing profile"
## Describe the bug

New create new publishing profile instructions have use get an MS Graph access token, but I get an error when trying to do so.

## Version

Version:  1.4.0-nightly.238265.5106247
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Wi

[2021-04-23 17:55] scheyal opened #7322 "check for updates doesn't show anything (likely when there are no updates)"
## Repro
* Use latest nightly
* Click on 'Check of updates'
* Error: nothing happens
* Expect: a message saying there are no updates (or update dialog).

## Version

Version:  1.4.0-nightly.238522.13a82cf
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-04-23 17:55] scheyal commented on #7322
@cwhitten  FYI

[2021-04-23 17:58] elaine-chang opened #7323 "R13 Bugbash: Enterprise Assistant template creation is blocked without the EA readme shown in Rocket menu"
## Describe the bug

For creation of a bot using Enterprise assistant, to test that locally, just adding LUIS key and QnAMaker key is not sufficient. Azure Bot Registration for root bot and 2 skills, and authentication configurations are also required to test locally. However,  the current rocket menu after Enterprise assistant is created using the template is very confusing with only "Add a LUIS

[2021-04-23 17:59] scheyal opened #7324 "Multilingual: even when I have LU with spanish content, dual LU pane shows English in spanish side"
## Repro
* Create a bot with multilingual (say en-us, es-mx) languages
* add es-mx content
* test bot --> works as expected
* Go to edit LU, select spanish - content shows in English. I was alerted that I lost my spanish content (luckily I wasn't but I was worried because I saw English in the spanish pane)

## Version
Version:  1.4.0-nightly.238522.13a82cf
Electron: 8.2.4
Chrome: 80.0.3987.165
Nod

[2021-04-23 18:13] elaine-chang opened #7325 "R13 Bugbash: Publishing root bot and skills are required for Enterprise Assistant but Rocket menu is confusing"
## Describe the bug

For creation of a bot using Enterprise assistant, to test that locally, just adding LUIS key and QnAMaker key is not sufficient. An Azure Bot Registration for root bot and 2 skills, and authentication configurations are also required to test locally. However, the current rocket menu after Enterprise assistant is created using the template is very confusing with only "Add a LUI

[2021-04-23 18:17] elaine-chang commented on #7253
Since the readme issue (#5779) mentioned in #6993 was already closed, I created #7323 to track this the readme as the minimal fix of this. The ideal fix of adding the steps into the rocket menu is tracked with #7325.

[2021-04-23 18:22] tracyboehrer commented on #7316
I've created a branch in botbuilder-samples to home these and other samples.  This doesn't need to be the final home or folder structure.  Rather it's a starting point to collect them.

experimental/composer

https://github.com/microsoft/BotBuilder-Samples/tree/ComposerSamples

[2021-04-23 18:25] clearab commented on #7268
The names are all changing - https://github.com/microsoft/botframework-components/issues/932

@pavolum can you take a look at this one? We'll need to align the default names with the new package/friendly names.

[2021-04-23 18:26] rvinothrajendran opened #7327 "Is nightly has stopped (Application settings is broken)"
## Describe the bug

Some of the information has missed in the application view .. No information has displayed after Form dialogs

## Version

Version:  1.4.0-nightly.238522.13a82cf
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubunt

[2021-04-23 18:34] clearab commented on #7290
The names should all be changing to align - https://github.com/microsoft/botframework-components/issues/932

[2021-04-23 18:34] #7290 closed

[2021-04-23 18:41] Dewain27 commented on #7287
@scheyal we need more information on when this last worked and details on how to repro.

[2021-04-23 18:43] Dewain27 commented on #7307
Duplicate of #7235

[2021-04-23 18:43] #7307 closed

[2021-04-23 18:49] Virtual-Josh commented on #7295
I should add this issue also happens when you are using local skills. I've setup the parent to have a weather intent which then has the manual step to connect to the skill. Once it gets forwarded to the skill the activity ends up in the skills unknown intent trigger.

![image](https://user-images.githubusercontent.com/50158775/115916687-f969b180-a429-11eb-8a53-94dccd7bd19c.png)

[2021-04-23 18:53] Dewain27 commented on #5709
To be resolved with #7257

[2021-04-23 18:53] #5709 closed

[2021-04-23 18:54] Dewain27 commented on #6779
@scheyal we need to get a copy of the bot to repro this issue.  We need additional information to repro.

[2021-04-23 18:56] #7045 closed

[2021-04-23 19:00] clearab commented on #7291
Fixed here: https://github.com/microsoft/botframework-components/issues/895#event-4638342358

[2021-04-23 19:00] #7291 closed

[2021-04-23 19:08] elaine-chang commented on #7323
Let me also add that adding the readme link here to rocket menu is the minimal and least disruptive fix we are suggesting. #7325 tracks the ideal fix to add the actual steps into the rocket menu.

[2021-04-23 19:09] GeoffCoxMSFT commented on #7206
**Proposal**
One issue is having multiple publishing profiles.  Which one to use?  What if the user has appid/password values already? If we automatically copy the values how do we let the user know?

We could allow them to more easily extract the appid/password pair from a publishing profile:

- Add a button near the fields in the settings page to 'Copy from publishing profile'
- A dropdown near

[2021-04-23 19:11] benbrown commented on #6993
https://www.youtube.com/watch?v=Wro3bqi4Eb8&ab_channel=Moraito

[2021-04-23 19:18] Dewain27 commented on #7091
Also need to add a required field *

[2021-04-23 19:21] Dewain27 commented on #7301
Resolved in latest build.

[2021-04-23 19:21] #7301 closed

[2021-04-23 19:22] JaskeeratBedi-cmk commented on #7236
@GeoffCoxMSFT this is the Hand off to admin scenario, where technically I do not need to signed in. Regardless, I would like the main CTA's to be on the left hand side, where they usually are for our modals..

[2021-04-23 19:26] Virtual-Josh opened #7329 "Syntax token error is unactionable"
## Describe the bug
The below error is unactionable. I have no idea where to go to fix this.

## Version
Version:  1.4.0-nightly.238522.13a82cf
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce

[2021-04-23 19:27] JaskeeratBedi-cmk commented on #6606
The UI for this modal has been updated to:

![MicrosoftTeams-image (49)](https://user-images.githubusercontent.com/67944302/115920537-31272800-a42f-11eb-9f24-51eec89cf641.png)

[2021-04-23 19:27] #6606 closed

[2021-04-23 19:27] Dewain27 commented on #7253
Yes, Duplicate

[2021-04-23 19:27] #7253 closed

[2021-04-23 19:29] Dewain27 commented on #7163
Getting resolved in next release.

[2021-04-23 19:38] JaskeeratBedi-cmk commented on #7135
For time being we have updated the UI for this modal to show clarity between the asks. However, the 1st region collects information for all resources like App insight, storage, channel registration etc..the 2nd is specifically for Luis

Additionally, Luis has a concept of '[public app](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-regions)' that allows for it to wor

[2021-04-23 19:38] Dewain27 commented on #6558
Should be fixed in the next release, please reopen if issue persists.  You can try the nightly to see if you can repro as well.

[2021-04-23 19:38] #6558 closed

[2021-04-23 19:42] #7231 closed

[2021-04-23 19:48] Virtual-Josh opened #7331 "LUIS publishing process authorization failure"
## Describe the bug
There's an error in the LUIS publishing process specifically around the authorization header

## Version
Version:  1.4.0-nightly.238522.13a82cf
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

[2021-04-23 19:52] Dewain27 commented on #7048
These items should be fixed in the next release.

[2021-04-23 19:52] #7048 closed

[2021-04-23 19:56] Dewain27 commented on #7282
@luhan2017 please confirm PR with @benbrown to ensure that template selection screen logic is acceptable before merging to main please.

[2021-04-23 20:01] emivers8 commented on #7282
Original design
![image](https://user-images.githubusercontent.com/55601267/115923982-efe54700-a433-11eb-8cb1-155a79627745.png)

[2021-04-23 20:05] elaine-chang commented on #6993
@emivers8 explained that no customized links can be added under the Learning tab right now, so for now, we recommend to add the link to the Template Overview page that @darrenj is helping to write. I have created an aka.ms link as a placeholder (http://aka.ms/ComposerBotTemplateOverview). @darrenj can update its redirect once the official doc is ready.

[2021-04-23 20:24] cwhitten commented on #7282
Original dialog issue is here: https://github.com/microsoft/BotFramework-Composer/issues/7230

[2021-04-23 20:29] benbrown commented on #7273
fixed by #7332

[2021-04-23 20:35] #6799 closed

[2021-04-23 20:38] scheyal opened #7334 "Unknown/None intent trigger confusion"
With LUIS/Orchestrator/(Cross-training results) recognizers we sometimes trigger the unknown intent, and most of the time one needs to create a None intent. This results with user confusion and needs to be redesigned.

In particular, users may be led to use the Unknown trigger event (as it is more discoverable) and will miss having None. In reality, today one must set up both and it isn't apparent

[2021-04-23 20:50] cleemullins opened #7335 "Need help link on "Provide Access Tokens" screen"
## Describe the bug

Created a new Basic Assistant.
Clicked on "Get LUIS Keys" process, I'm asked to provide access tokens.

Quick feedback:
1. Why am I asked to provide access tokens, when I clicked on the "LUIS Keys" Rocket Menu?
1. On the "provision access tokens" menu, we need a link to help/docs. No link exists.
2. Following the instructions, I ran "az account get-access-tokens". That created

[2021-04-23 20:55] cleemullins opened #7336 "Z-Order of WebChat and Rocket Menu conflict"
## Describe the bug

1. Have the Rocket Menu open.
2. Start my bot.
3. Click on the "Test in Webchat"
4. --> Bug is here Observe that the Webchat blade is not visible.
5. Close the Rocket Menu
6. Observe the Webchat blade.

In the screen shot below, I've clicked on the "test in webchat" button, but can't see the webchat blade.

![image](https://user-images.githubusercontent.com/1165321/115928684-6

[2021-04-23 21:00] Andrea-Orimoto opened #7337 "Create a bot project defaults to dumping the files in my user folder"
[originally from kevinfi https://fuselabs.visualstudio.com/botframework/_queries/edit/59896/]

1) Launch composer from Azure
2) Pick echo template
3) The default location is:  c:\users\<myusername>
! would've expected a separate required field for a folder to put it in
! would've expected the default to be Documents

It's going to be hard for folks to find their bots later on if it's not under Doc

[2021-04-23 21:01] Andrea-Orimoto commented on #7337
kevinfi submitted this in our ADO, I totally agree with this feedback.

[2021-04-23 21:05] cleemullins opened #7338 "Basic assistant - Fails to understand query that the bot recommends to try"
## Describe the bug

Setup and run the basic assistant. (LUIS Keys, QnA Key, etc).
Click the card.
![image](https://user-images.githubusercontent.com/1165321/115929116-15764e80-a43c-11eb-9e7c-e06fadcdc471.png)

Then click the skill:
![image](https://user-images.githubusercontent.com/1165321/115929182-3343b380-a43c-11eb-9c67-01b425d4032a.png)

None of the recommended text works:
![image](https://us

[2021-04-23 21:20] pavolum commented on #7268
yeah I am doing this now, this is being tracked here https://github.com/microsoft/BotFramework-Composer/issues/6978
Going to close this one as it is a duplicate

[2021-04-23 21:20] #7268 closed

[2021-04-23 21:28] #7272 closed

[2021-04-23 21:29] benbrown opened #7340 "PVA related tooltip appearing in get started"
## Describe the bug

A tooltip about features not available for PVA appears in the get started window, even though the bot is not a PVA bot.

![Screen Shot 2021-04-23 at 4 28 24 PM](https://user-images.githubusercontent.com/729873/115931658-22516d00-a451-11eb-9096-0ad3b4e517c9.png)

[2021-04-23 21:35] v-kydela opened #7341 "[Feedback] Composer should automatically provision resources for you if you try to publish without them"
## Is your feature request related to a problem? Please describe.

If you try to publish before you've provisioned the resources for a publish profile, it just gives you an error:

![image](https://user-images.githubusercontent.com/41968495/115932071-1198fb00-a441-11eb-970e-307f1f210351.png)

This leaves the user to figure out how to provision the resources, when Composer could at least point them

[2021-04-23 21:40] Andrea-Orimoto commented on #7117
We confirmed that Autumn on the ABS side is working on a fix for this.

[2021-04-23 21:40] #7117 closed

[2021-04-23 21:44] cleemullins opened #7342 "Basic assistant - feedback card fails to update after feedback"
## Describe the bug

1. Create / configure the basic assistant using the template.
1. Type "Give Feedback". Click the "Thumbs Up" (which works).
![image](https://user-images.githubusercontent.com/1165321/115932580-114d2f80-a442-11eb-9b5f-40ab3e5e95ba.png)

Note that the card doesn't update. Click the "Thumb's down" or "Thumb's up" icons.

Observe that nothing happened.

Expected:
* After clicking

[2021-04-23 21:49] Virtual-Josh opened #7343 "Can't retrieve azure subscriptions when the bot is a dotnet function bot"
## Describe the bug
Composer has an error with trying to receive subscriptions.

Related to: #7433

Might be related to #7329 and #7331

## Version
Version:  1.4.0-nightly.238522.13a82cf
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] U

[2021-04-23 21:56] benbrown commented on #7321
There was an issue with the build that caused this token pop-up to occur. Normally, this only happens if you are running the web build.  This should be resolved in the latest build.

[2021-04-23 21:56] #7321 closed

[2021-04-23 22:11] cleemullins opened #7345 "Markdown multi-line syntax is incorrect (and does not generate an error or warning)"
Using the ``` syntax in code window doesn't work as expected.

This does not work, and gives no error:
![image](https://user-images.githubusercontent.com/1165321/115934189-5161e180-a445-11eb-8c7d-d173621d2d69.png)

This does not work, and gives no error:
![image](https://user-images.githubusercontent.com/1165321/115934284-8a01bb00-a445-11eb-83fe-627d1432995d.png)

Given this is markdown syntax, as

[2021-04-23 22:12] hatpick commented on #7336
Duplicate #7263

[2021-04-23 22:16] vivekkshankar commented on #7155
We should start the Connect to a skill experience with guidance on "prerequisites"

Like so if 1) we detect that ngrok is not installed + 2) there is no associated App ID and password (2 is unrelated to this issue but a consistent fix by showing provisioning as a prereq as below can tackle this too)

![image](https://user-images.githubusercontent.com/67671676/115934739-9c302900-a446-11eb-9498-af0d

[2021-04-23 22:23] elaine-chang opened #7346 "R13 Bugbash: "Provide access token" window keep popping up"
## Describe the bug
When I tried to create a new Enterprise Assistant, at the step to add LUIS key, the following popped up. This is new as I've never seen this show up in the previous few days. Shouldn't it just prompt to log in to Azure log in window instead of this?
![image](https://user-images.githubusercontent.com/25210203/115935381-e960ca80-a447-11eb-8e13-7701e948d353.png)

When I tried to o

[2021-04-23 22:31] cleemullins opened #7347 "In Response editor, nothing lets me know I'm using LG Syntax"
## Describe the bug

When editing a response, there's a text box that has code in it. This text box appears to be LG Syntax.

**I actually did not realize this was LG syntax.**

Include a UX that indicates this is LG syntax, and has a link to what LG syntax is and how it's applicable.
![image](https://user-images.githubusercontent.com/1165321/115935253-a30b6b80-a447-11eb-835e-03b1c4e353b6.png)

No

[2021-04-23 22:37] mewa1024 commented on #6974
(removing the "UX Design" label since the fix does not need further UI/UX design.)

[2021-04-23 22:39] #6951 closed

[2021-04-23 22:39] #6949 closed

[2021-04-23 22:39] elaine-chang opened #7348 "Composer should provide a way to enable users to delete bots"
Currently there is no way to delete a bot in Composer. The delete feature will be very helpful especially for deleting bots like enterprise assistants that deleting would mean deleting both the root bot and connected skills and there are many resources related, so it's a much effective and clean way to delete the assistant if I can just click the assistant to batch delete all the related resources

[2021-04-23 22:51] cleemullins opened #7349 "Both "Learn More" links on Responses Page go to same place"
On the editing page of Bot Responses, both "learn more" links go to the same place.
![image](https://user-images.githubusercontent.com/1165321/115937054-ba4c5800-a44b-11eb-92f6-802e91838d82.png)

## Version

Version:  1.4.0-nightly.238698.3e4162
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-04-23 23:00] mewa1024 opened #7351 "Properties pane (right of the drawing canvas), scrolling does not work if the cursor if over the Monaco editor"
## Describe the bug

In the properties pane, when my cursor is over the Monaco editor, scrolling seems to be turned off. The expected behavior is for the entire pane to scroll if the contents of the Monaco editor do not need to scroll.

## Version

Version:  1.4.0-nightly.238698.3e4162
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distri

[2021-04-23 23:00] cleemullins commented on #7349
This one is also the same place:
![image](https://user-images.githubusercontent.com/1165321/115937532-0fd53480-a44d-11eb-853e-ddfa45fb4887.png)

[2021-04-23 23:02] cleemullins commented on #7336
closing as dupe.

[2021-04-23 23:02] #7336 closed

[2021-04-23 23:18] tdurnford commented on #7348
@elaine-chang There is a 'Delete' button on the bot settings page that allows users to delete their project.

![image](https://user-images.githubusercontent.com/17039790/115938419-cdfdbb80-a457-11eb-953f-6d471fa79dd0.png)

[2021-04-23 23:25] mewa1024 commented on #6711
Yes, I think Option 2, warning message, is a good approach.

[2021-04-23 23:26] sangwoohaan opened #7352 "Reducing tooltips for accessibility, and updating document links"
## Describe the bug

We have recently discovered that tooltips will cause accessibility issues for screen readers. While we cannot completely remove tooltips altogether immediately, I want to start with the most complicated area which is Response editor.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] U

[2021-04-23 23:26] sangwoohaan commented on #7352
@GeoffCoxMSFT @cwhitten Let me know if we can get this in for BUILD!

[2021-04-23 23:28] sangwoohaan commented on #7352
Related issue https://github.com/microsoft/BotFramework-Composer/issues/7085

[2021-04-23 23:28] sangwoohaan commented on #7085
Addressed in https://github.com/microsoft/BotFramework-Composer/issues/7352

[2021-04-23 23:28] #7085 closed

[2021-04-23 23:30] cwhitten commented on #7352
@sangwoohaan what is the accessibility issues with the tooltips?

[2021-04-24 00:14] elaine-chang commented on #7348
Thanks. This shows how undiscoverable the current "delete" button is. I checked with 2 of our own developers and none of them is aware of deleting feature is supported in Composer and "wouldn't have known where to look".

@emivers8 @mareekuh @Quirinevwm @mewa1024 @lauren-mills @thomas-chung FYI

[2021-04-24 00:23] elaine-chang opened #7353 "R13 Bugbash: Deleting bot for Enterprise assistant bot does not delete connected skills"
## Describe the bug

Enterprise assistant template enables creating a root enterprise assistant bot with 2 skills. However, deleting the enterprise assistant bot (via the "Delete bot" button in bot settings page) only deletes the root bot but not the 2 skills, and no warning/notifications.

## Version
![image](https://user-images.githubusercontent.com/25210203/115941003-6136f100-a458-11eb-8e74-933

[2021-04-24 00:23] elaine-chang commented on #7353
@lauren-mills @thomas-chung FYI

[2021-04-24 00:25] elaine-chang commented on #7348
@tdurnford I just checked. As you suspected deleting a bot with skills like enterprise assistant bot currently does not delete the skills. #7353

[2021-04-24 04:25] mewa1024 commented on #7348
@elaine-chang yes! Xi and I noticed this while investigating bug #6808. The changes to the design are described in the comments in that bug (@emivers8 is working on the details for the Project Settings page where "Delete project" would be the command at the top of the page and a more specific "Delete bot" command would live somewhere on the page in the section about that particular bot). We are ho

[2021-04-24 04:25] #7348 closed

[2021-04-24 23:27] scheyal commented on #7295
@joshgummersall  - from a brief look, it seems like your recognizer is regex. The wizard should prompt you to use orchestrator. Your regex indeed doesn't recognize the intent. try to switch to orchestrator or luis to see the behavior. also I don't remember if we decided that for v1 local skill addition, doesn't take you through the wizard. we need to check that.

[2021-04-24 23:28] joshgummersall commented on #7295
Think that message was meant for @Virtual-Josh.

[2021-04-25 08:34] chandsalam1108 commented on #2232
Hi, I'm unable to see a placeholder to provide expression. Please help.

![image](https://user-images.githubusercontent.com/48621464/115986691-277dfb80-a5ba-11eb-9f43-e4c466ecfecc.png)

[2021-04-25 16:00] JaskeeratBedi-cmk opened #7355 "Sign out experience in Provisioning modal"
## Describe the bug

When user initiates provisioning, they need to signed in to Azure. However, for any reason, if user tries to sign out from Azure, we just close the modal without giving them any information about what will happen to their provisioning so far..

See attached gif-

![current sign out exp](https://user-images.githubusercontent.com/67944302/116000287-6acd6f80-a5a4-11eb-86c9-9cbf61

[2021-04-25 17:48] scheyal opened #7356 "Folder path case sensitivity doesn't make sense in Windows (duplicate entries in list)"
If you navigate to the same solution using different case, you get the most frequent solution list duplicate entries. (P1)

Also for correctness, path should match OS style, e.g. Windows with backslash, others with forward slash. (P2)

##version
Version:  1.4.0-nightly.239011.99a74b9
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

##visual

![image](https://user-im

[2021-04-25 19:10] mareekuh commented on #7226
Please follow the guidelines outlined in this spec:
https://microsoft.sharepoint.com/:w:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7BC52BBE6D-42E3-4B35-BC6F-B94704C047BF%7D&file=R11%20Spec%20-%20Tooltips%20and%20Help%20Links.docx&action=default&mobileredirect=true

When links to documentation is needed, add instructional copy in the modal, page or properties panel where the conce

[2021-04-26 01:51] luhan2017 commented on #7168
Close this issue, @scheyal, please reopen if needed.

[2021-04-26 01:51] #7168 closed

[2021-04-26 03:03] zhixzhan commented on #7351
Hi @mewa1024 , can you try #7357 to see it's expected behavior ?

[2021-04-26 03:51] mareekuh opened #7360 "Visual design: Update Zoom +/- icons to be white (vs black)"
Can we make the glyphs for the +/- zoom icons be white instead of black.
This way they better fit with the rest of the app and they will be in line with what PVA has

![Screen Shot 2021-04-25 at 8 48 55 PM](https://user-images.githubusercontent.com/48503434/116026612-ef050e80-a607-11eb-86e8-6e9fe92088af.png) (PVA)
![Screen Shot 2021-04-25 at 8 51 03 PM](https://user-images.githubusercontent.com/48

[2021-04-26 06:26] boydc2014 commented on #7211
After team triage, we decided to move this out of R13 to give team more time for a systematic treatment to files changes outside of composer, instead of hotfixing for publishing scenario.

[2021-04-26 06:29] boydc2014 commented on #7213
@luhan2017 @benbrown looks like we are over-merging some settings, what is exactly supposed to be merged?

[2021-04-26 07:20] LakshummaC commented on #7299
Any update on the above request? We need it ASAP

[2021-04-26 08:17] #7151 closed

[2021-04-26 08:37] garypretty opened #7363 "Bot Settings page starts slightly scrolled (partially hiding the advanced settings toggle)"
## Describe the bug

Project Settings page starts slightly scrolled partially hiding the advanced settings toggle.

![image](https://user-images.githubusercontent.com/3900649/116053702-e1d13980-a672-11eb-886f-fee27c8b5934.png)

## Version
Version:  1.4.0-nightly.239011.99a74b9
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## To Reproduce

Steps to reproduce the b

[2021-04-26 08:39] garypretty commented on #7322
@scheyal this was a bug with one of the nightly builds.  To get past this you need into install another nightly manually, which you can find here -> https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.4.0-nightly.238846.6e872ca

[2021-04-26 08:57] garypretty opened #7364 "Bot response includes an imported statement / comment"
## Describe the bug

Created a new bot using the Basic Conversational Bot template.  The last response in the welcome message, shown in the response editor, has an imported comment contained within it, which is also shown at runtime.

Not sure if this is down to the LG Editor or a bug within the template content.

@hatpick @srinaath could you take a look at this please?

cc @clearab can you let us

[2021-04-26 09:31] #7147 closed

[2021-04-26 10:29] luhan2017 commented on #6917
should be fixed in the latest main branch.

[2021-04-26 10:29] #6917 closed

[2021-04-26 10:51] BeheraMadan opened #7365 "Full message not displaying in adaptivecard"
Hi,

I am fetching the answer  dynamically in below way and the message is a big paragraph. But whole message is not displaying it only showing 2 lines. To display the full message is there some other configuration needed please let me know.

code sample:
[code]

output:
![image](https://user-images.githubusercontent.com/70739031/116071226-41e3d200-a6ab-11eb-8adc-d70c387cd3f0.png)

[2021-04-26 10:53] garypretty opened #7366 "Hostname case sensitivity causes publishing to fail"
## Describe the bug

I provisioned new resources using Composer for a bot.  I set the hostname as ContosoInsurancePVASkill and the provisioning was successful.  However, when I tried to publish I received an error that the "hostname was incorrect".

In the publishing profile was set as

[code]

I tried a couple of times, got the same error.

I then manually updated the publishing profile to the fo

[2021-04-26 11:42] darrenj commented on #7206
Thanks Geoff, I would suggest we also highlight this opportunity once we complete provisioning as well. e.g. if it's a fresh new bot, I will in many cases want these settings locally. We should include the appInsights key as well with this proposal

[2021-04-26 11:43] darrenj commented on #7205
This proposal looks great.

[2021-04-26 11:44] darrenj commented on #7155
Perfect, thanks Vivek!

[2021-04-26 11:45] darrenj commented on #7145
Fixed in most recent builds

[2021-04-26 11:45] #7145 closed

[2021-04-26 11:55] narulasrinivas opened #7367 "Need help on implementing Multiple QnAMaker KBs with BOT Composer"
Hi Coders...I've started developing an POC for my personal project with multiple QnAMaker KBs.  But I ended with cross training issue which I've created an [Issue ](https://github.com/microsoft/BotFramework-Composer/issues/6677) in this repo issues list.

Can someone point me to documentation or steps that need to be followed ?

[2021-04-26 13:53] cwhitten commented on #7059
Closing in anticipation of https://github.com/microsoft/botbuilder-dotnet/issues/5524

[2021-04-26 13:53] #7059 closed

[2021-04-26 14:39] benbrown commented on #7213
I know we do merge in the generated settings, if I recall correctly to guard against the possible absence of the generated folder.  We can remove this functionality if it is not necessary...

[2021-04-26 15:08] benbrown commented on #6650
Should be fixed!

[2021-04-26 15:39] benbrown commented on #6935
this has been fixed

[2021-04-26 15:39] #6935 closed

[2021-04-26 15:48] #7273 closed

[2021-04-26 15:55] #7351 closed

[2021-04-26 16:02] EricDahlvang commented on #5479
@peterinnesmsft @pavolum I have not been involve in this code.

@GeoffCoxMSFT would you please approve/merge https://github.com/microsoft/BotFramework-Composer/pull/5315 if it looks good?

[2021-04-26 16:26] #7106 closed

[2021-04-26 16:26] #7323 closed

[2021-04-26 16:28] #6690 closed

[2021-04-26 16:50] pavolum commented on #7259
Cannot repro, may be something specific to the customers env. Going to downgrade to P1, if this is evident across all machines then will upgrade to p0.

@rvinothrajendran can you try and repro in the latest nightly build of Composer? I was able to build this template without issue on the below version. Please try again with latest and if the issue is still present then post any additional errors h

[2021-04-26 17:04] rvinothrajendran commented on #7259
@pavolum one is pc is working fine ... another pc has an issue. ( Last time both pc has an issue)

![image](https://user-images.githubusercontent.com/16264167/116122445-16b8ad00-a6c2-11eb-9369-d2320c0cb461.png)

[2021-04-26 17:16] pavolum commented on #6963
I am able to repro a bug with a non organizational account but now get blocked at this modal
![image](https://user-images.githubusercontent.com/22845013/116123967-a98d2380-a691-11eb-9497-81e90a599389.png)

[2021-04-26 17:16] hatpick commented on #7364
It's definitely not generated by "lg editor". @boydc2014 do you have any ideas?

[2021-04-26 17:20] pavolum commented on #6883
So I could not repro in dev mode because it does not let you auth with AZ CLI. In electron you can auth with an account with no subscriptions/directories and the error info renders as expeced. Going to follow up with @em to see if she can repro and if not we will close.
![image](https://user-images.githubusercontent.com/22845013/116124205-fec93500-a691-11eb-9a8d-cb6dcc5a234d.png)

[2021-04-26 17:31] GeoffCoxMSFT commented on #7236
@VamsiModem I think this is a partial dupe of the sign out issue you are working on already.  When the sign-out is hidden, it seems the buttons move to the left.  We should update the layout/css for each of the footers to make sure the buttons stay on the right.

[2021-04-26 17:36] gabog commented on #7213
I think we can probably remove these merges.

- Composer rebuilds this folder on each run and would potentially generate noise in commits (and the files here are copies of other files that are already tracked in git)
- In the templates we are adding generated to gitignore (orchestrator config files have absolute paths that only map to the local user's machine we can't add this to git).
- In the Ci

[2021-04-26 18:02] benbrown commented on #6884
@a-b-r-o-w-n any thoughts on this?

[2021-04-26 18:06] GeoffCoxMSFT commented on #7367
@narulasrinivas, thank you for opening this issue.  For product behavior, how-to, or general understanding questions, please use Stack Overflow.

https://stackoverflow.com/search?q=bot+framework

[2021-04-26 18:06] #7367 closed

[2021-04-26 18:08] #7159 closed

[2021-04-26 18:13] GeoffCoxMSFT commented on #7312
@hatpick Could you check if the ask a number properties allow setting to float/integer?

[2021-04-26 18:17] GeoffCoxMSFT commented on #7327
@rvinothrajendran Could you update to the latest nightly? We've made a lot of changes to this for the upcoming release and you should see the remainder of the content.

[2021-04-26 18:18] nadiasorina commented on #7291
Hi, can someone help me please? I'm trying to connect my bot from Bot Framework Composer with my kb from qna maker but i don't understand what i do wrong.
![qna1](https://user-images.githubusercontent.com/64148448/116131133-ae26fb80-a6d4-11eb-9fad-ecb37c781aa0.PNG)
![qna2](https://user-images.githubusercontent.com/64148448/116131139-aff0bf00-a6d4-11eb-9495-5b712a52808f.PNG)
When i try to put the i

[2021-04-26 18:24] GeoffCoxMSFT commented on #7162
@rvinothrajendran We are working on this and will have it fixed for the next release. You should see this fixed in a nightly this week.

[2021-04-26 18:26] a-b-r-o-w-n commented on #6884
My best guess at this point in time is that OneAuth is treating two authentication calls as separate sessions (one to get list of tenants, the other to get an arm token for the selected tenant).

[2021-04-26 18:28] GeoffCoxMSFT commented on #7086
@rvinothrajendran Is your issue resolved? Could you include any console errors you see?

[2021-04-26 18:32] mewa1024 commented on #7353
related to #6808 That bug has the design proposal described.

[2021-04-26 18:32] pavolum commented on #6883
Em has validated that the correct error is surfaced in this scenario and this issue can be closed

[2021-04-26 18:32] #6883 closed

[2021-04-26 18:42] #7340 closed

[2021-04-26 18:44] daveta opened #7371 "Opening a recent bot fails to load - gets into bad state"
## Describe the bug

On a fresh install (`rm -r -f  %APPDATA%\BotFrameworkComposer`), while opening an existing bot on the filesystem, if you mistakenly type in a bad path, the UI will cache that path.  Then you can't re-open any new path.

## Version

Version:  2.0.0-nightly.239198.1de395f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron

[2021-04-26 18:54] daveta opened #7372 "Cannot load Microsoft.Bot.Builder.AI.Orchestrator component"
## Describe the bug

While attempting to load Orchestrator component, it fails.

## Version

Version:  2.0.0-nightly.239198.1de395f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior

[2021-04-26 19:02] #7061 closed

[2021-04-26 19:07] dmvtech commented on #7314
HI @HabeebunnishaMohammad The only error is a timeout? It should run with 11 dialogs. Are you able to share your bot (sanitized of personal/sensitive info) in a repository?

[2021-04-26 19:08] mewa1024 opened #7373 "Errors converting bot from 1.4 to adaptive runtime"
## Describe the bug

I was testing the part of the Composer 1.4 to Composer 2.0 migration in which the user opens a bot created in 1.4 in 2.0 and chooses to convert to the new format. (Using a build created for testing this flow--not one of the regular nightlies)

3 issues:
- (minor, but unexpected) In the "Create a bot project" modal, the Name field should be autopopulated with the name of the ol

[2021-04-26 19:14] daveta commented on #7372
Reboot my host, now seems to work.

[2021-04-26 19:14] #7372 closed

[2021-04-26 19:31] scheyal commented on #7019
This is confusing and an easy fix. If you're using Orchestrator, seeing LUIS is misleading. Better nothing than misleading.

[2021-04-26 19:31] vivekkshankar commented on #7019
i agree.. should be ok to remove.

[2021-04-26 19:35] #7196 closed

[2021-04-26 19:35] #7197 closed

[2021-04-26 19:55] VamsiModem commented on #6880
#7270

[2021-04-26 20:04] taicchoumsft commented on #7019
Ok Thanks @vivekkshankar , @scheyal , will get this done asap.

[2021-04-26 20:13] vimalnar commented on #5354
Hi @luhan2017  - I am having the same issue, even after following your tips above ensuring that the hostname, luisResource, etc are correct.  I would love a live session to help solve the issue if thats at all possible?

[2021-04-26 20:23] darrenj commented on #6446
Related to #7206, the proposed solution if agreed should be extended to the app insights key ensuring the telemetry analysis highlighted in rocket ship menu works as expected.

[2021-04-26 20:24] #7177 closed

[2021-04-26 20:28] beyackle commented on #7224
This is definitely a problem, and one I can fix. I'll get right on it.

[2021-04-26 20:28] cwhitten commented on #7047
Moving to P1

[2021-04-26 20:28] peterinnesmsft opened #7376 "Remove old template display name mappings from templates.json"
## Describe the bug

Now that the template generators have been published and the names updated, we should remove the old display name mappings and ensure the ordering matches the desired list.

## Version

v2.0.0-nightly.239198.1de295f.

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps

[2021-04-26 20:30] #7346 closed

[2021-04-26 20:31] a-b-r-o-w-n commented on #6884
I just tested this again on the latest and was only prompted once to login when creating a new publishing profile. @emivers8 can you try testing this?

[2021-04-26 20:35] GeoffCoxMSFT commented on #7212
Moving out of R13 and putting on project board in the R14 backlog to consider.

[2021-04-26 20:38] emivers8 commented on #6884
Still prompting twice on the latest nightly. If I close it now without going through auth again, I get this:

![image](https://user-images.githubusercontent.com/55601267/116147379-81eb8a80-a694-11eb-8c60-ba557da17591.png)

It's populating the azure directory, but gives me that error and doesn't populate the subscription so I'm blocked.

[2021-04-26 20:39] scheyal commented on #7293
Issue: https://github.com/microsoft/botbuilder-dotnet/issues/5504
PR: https://github.com/microsoft/botbuilder-dotnet/pull/5509

[2021-04-26 20:39] #7293 closed

[2021-04-26 20:39] a-b-r-o-w-n commented on #6884
@emivers8 what version?

[2021-04-26 20:41] emivers8 commented on #6884
Version:  2.0.0-nightly.239198.1de395f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-04-26 20:41] emivers8 commented on #6884
(I also crashed the app by trying to double check that I had the latest while the provisioning modal was open.)

[2021-04-26 20:54] elaine-chang opened #7380 "Unclear what order is the Template sorted by"
## Describe the bug

Unclear what order are the template here sorted by:

- If alphabetically, surprised that the current list will begin with 2 templates starting with "E", end end with 2 templates that start with "E"
- If sorted by template sophistication (simple to more complex), it's surprising to see this order too
- Not intuitive what order is the current template

![image](https://user-imag

[2021-04-26 20:54] elaine-chang commented on #7380
@mewa1024 @emivers8 @Quirinevwm FYI

[2021-04-26 20:55] GeoffCoxMSFT commented on #7176
@Dewain27 I think this is by design.  You can include additional resources with the first option, edit the json with the second, or handoff adding more resources with the third.

[2021-04-26 20:56] hatpick commented on #7364
It's definitely not generated by "lg editor", perhaps runtime build or merging step. But Lg Editor can persist it to a variation, @tdurnford is on it.

[2021-04-26 20:57] #7278 closed

[2021-04-26 21:01] GeoffCoxMSFT commented on #7188
I put in the link per Jas's reply in the figma.

[2021-04-26 21:02] hatpick opened #7382 "About page - react warnings regarding not unique keys"
when user visits about page, react throws warnings in the console regarding not having unique keys.
not assigning unique keys to the element used by formatMessage.rich is the reason.

[2021-04-26 21:08] elaine-chang opened #7390 "Add a LUIS key: choose from existing's next screen shows "Create a new LUIS resource""
## Version
What package version of the SDK are you using.

## Describe the bug
Give a clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/25210203/116150647-7c903f00-a698-11eb-95c5-0005c158065d.png)
![image](https://user-images.githubusercontent.com/25210203/116150715-9762b380-a698-11eb-8336-cf070f09377f.png)

## Expected behavior
If I chose "Choos

[2021-04-26 21:25] #7376 closed

[2021-04-26 21:28] Virtual-Josh opened #7383 "Repeat dialog doesn't work when auto-end is enabled for skills"
## Describe the bug
Repeat dialog doesn't work when if auto end dialog is set to true

## Version

Version:  2.0.0-nightly.239198.1de395f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the be

[2021-04-26 21:38] elaine-chang commented on #7346
Yes, thanks @a-b-r-o-w-n. I already installed the latest v2.0 nightly this morning, and this issue no longer repro.

[2021-04-26 21:44] Virtual-Josh opened #7385 "Composer doesn't allow dialogs to start themselves within the UI for skills"
## Describe the bug
I was trying to have a dialog start itself and it's not populated in the list of available dialogs

## Version
Version:  2.0.0-nightly.239198.1de395f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Repr

[2021-04-26 21:54] thomas-chung opened #7387 "Bot Composer installation is quite huge"
## Describe the bug

The latest nightly version of Bot Composer reaches 2.20GB on my Windows desktop and is by far the largest _single_ application on my machine. Not saying it's strictly a bug, but does it actually need to be _this_ huge?

![image](https://user-images.githubusercontent.com/9922190/116155422-ead80000-a69e-11eb-9a47-e7c813a9bc17.png)

While not an apple-to-apple comparison, here ar

[2021-04-26 21:59] #6880 closed

[2021-04-26 22:05] sangwoohaan commented on #7170
Good suggestion. Let's update the warning message, and add a button to directly open the manifest management pop-up like this :
![Frame 52991](https://user-images.githubusercontent.com/50963385/116156816-d5fc6c00-a6a0-11eb-9d8f-2cb6c935b785.png)

[2021-04-26 22:13] v-kydela commented on #7054
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2021-04-26 22:13] #7054 closed

[2021-04-26 22:24] #6749 closed

[2021-04-26 22:43] cwhitten commented on #7115
It seems that a sensible solution here would be for the Creation UX to offer including a skill manifest with the generated assets. It should feasibly layer into any existing template, beyond the complex template like Enterprise Assistant for reasons outside the scope of this discussion.

This is the right northstar aim as well. We want users to be authoring and leveraging skill manifests when auth

[2021-04-26 22:52] #7224 closed

[2021-04-26 23:03] mareekuh commented on #7131
Working on this in [here ](https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-be1b-de96507b4422&wdOrigin=TEAMS-ELECTRON.teams.undefined&cid=676cf454-61e0-4182-bd27-39044bb51cea
)

Sheet: Add a KB-QnA

[2021-04-26 23:05] JonathanFingold commented on #6907
@Dewain27 This is actually a P0 in terms of an admin being able to complete this process.

[2021-04-26 23:06] JonathanFingold commented on #6907
[code]

[2021-04-26 23:10] mareekuh commented on #7128
[Included in xls on 'Add LUIS' tab.
](https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-be1b-de96507b4422&wdOrigin=TEAMS-ELECTRON.teams.undefined&cid=676cf454-61e0-4182-bd27-39044bb51cea
)In progress

[2021-04-26 23:14] mareekuh commented on #7080
Updated copy, approved by @garypretty  is available here ('Product tour and Chrome'):
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-be1b-de96507b4422&wdOrigin=TEAMS-ELECTRON.teams.undefined&cid=676cf454-61e0-4182-bd27-3

[2021-04-26 23:20] mareekuh commented on #6173
Sending it back to you, @sangwoohaan  (and Melanie) - I think we need to simplify.
Please reconsider Tom's observations and my suggestions above.

[2021-04-26 23:21] mareekuh commented on #5680
@vivekkshankar  - what's the status on this?
Are we able to make updates?

[2021-04-26 23:22] mareekuh commented on #4335
@JaskeeratBedi-cmk and @vivekkshankar  where are we with this and does this need to get a new work item to get addressed?

[2021-04-26 23:25] mareekuh commented on #4008
@vivekkshankar - can you take this on moving forward? I know you are already looking at this (and have so in the past).

[2021-04-26 23:26] mareekuh commented on #3734
@mewa1024  and @vivekkshankar

[2021-04-26 23:27] mareekuh commented on #3685
I think this is done, no? @vivekkshankar

[2021-04-26 23:29] mareekuh commented on #3654
I thought this was being implemented for R11 but may have been cut. I do think it's a very useful and relevant feature.

[2021-04-26 23:32] #7019 closed

[2021-04-26 23:34] lauren-mills commented on #7385
I've noticed this is the case with the root dialog. I'm not sure if it it by design or not, but if you are trying to start the current dialog again, you can use either the RepeatDialog or ReplaceDialog actions instead

[2021-04-26 23:36] mareekuh commented on #3639
@emivers8 is this still 'live' UI, in other words, should I add this to the Copy List?

[2021-04-26 23:48] GeoffCoxMSFT commented on #7179
@cleemullins I'm having trouble reproducing this issue.  I created a new project, added 2 more skills, went to the publish page and created a file for each one then switched to the publish page.

Did you create the projects and then reload composer, or did you do this all in one session?  Did you console show any errors? (We do not show projects that failed to load in the publish list)

[2021-04-26 23:49] #7286 closed

[2021-04-26 23:50] #1896 closed

[2021-04-26 23:51] sangwoohaan commented on #6173
Yeah this is supposed to be what you are describing above. Do we want this to be in by BUILD?

[2021-04-26 23:51] #1695 closed

[2021-04-26 23:53] mareekuh commented on #1948
@sangwoohaan  - let's get the designs that improves the 'ask question' experience in terms of flow and alignment with the PVA experience. ours is too cumbersome.

[2021-04-26 23:56] sangwoohaan commented on #1948
This is a work in progress right now! ( https://www.figma.com/file/wh94oh7BPJdXwCK8kcZvDO/SH_Property-fields-and-more?node-id=560%3A257 ) <- These are still WIP stuff, miles and miles away from final designs

[2021-04-26 23:57] cwhitten commented on #1741
Why was this closed?

[2021-04-27 00:11] scheyal opened #7391 "PVA: Composer allows selecting different bot name resulting with failure to publish"
## Repro
* Create a bot in PVA, start Composer
* In name selection, modify the default name
* Create your bot
* Publish
* ERROR: cannot publish due to different bot dialog name expectations
* MODIFY: Change dialog name to original --> it works.

[2021-04-27 00:13] scheyal opened #7392 "PVA: Reduadent warning about .botproj being ignored in publish"
## Repro
* Create a bot in PVA, start composer advanced authoring, publish
* If errors occur, one of them shows the following:
``` File 'MoodBotPVA.botproj' is unknown for the system and was ignored during the import."```

## Proposal
This is not actionable. Why show it? Better to choke it as it is standard publishing flow.

[2021-04-27 00:15] scheyal opened #7393 "PVA: Common is not supported"
## Repro
* Create a bot in PVA, open composer for advanced authoring, publish

## Error
This the main happy path (we always create common). So we end up leading the user into happy path being erroneous. Requiring late fixing.
[code]
## Proposal
* Do not create common file in PVA bots
* If common is introduce, detect and report error early in the cycle, not only during publish.

[2021-04-27 00:19] scheyal opened #7394 "PVA: Valid adaptive card json prevents publishing to PVA"
## Repro
* Create a non-PVA bot with adaptive card, test that it works.
* Create a PVA bot, switch to advanced authoring with composer
* Reproduce the adaptive card in PVA bot
* Publish

## Error
[code]

## Sample JSON
[code]

[2021-04-27 00:28] scheyal commented on #7394
And another sample json

[code]

[2021-04-27 00:36] scheyal opened #7395 "PVA: Investigate missing feature - disambiguation in PVA scenario"
ChooseIntent or Disambiguation feature is absent in PVA/Composer scenario. There's no way to invoke disambiguation path within a composer dialog that's in a PVA bot and PVA disambiguation cannot work on events within Composer dialog (today).
So the net effect is that there's no way to invoke disambiguation for advanced authoring scenario.

[2021-04-27 01:12] luhan2017 commented on #7155
@vivekkshankar we can't detect if the ngrok is installed or not, how about we just leverage the last screenshot you shared, and ask user to install if needed and run the command? Question: when do we want to show this pop up? do we want to add a check box saying: don't show it again?

[2021-04-27 02:07] mareekuh commented on #1741
It's been open since Dec 9, 2019  - Happy to reopen if we intend to address it?

[2021-04-27 02:09] mareekuh commented on #1948
﻿Can you put some in-progress screenshots in and get this to a stable by R14?
It’s getting urgent to improve the transition from and to PVA.

From: sangwoohaan ***@***.***>
Date: Monday, April 26, 2021 at 4:56 PM
To: microsoft/BotFramework-Composer ***@***.***>
Cc: Marieke Iwema ***@***.***>, Mention ***@***.***>
Subject: Re: [microsoft/BotFramework-Composer] Visuals | 'Other' is not an error, but

[2021-04-27 02:10] mareekuh commented on #6173
by now the door to Build has closed but yes would be great to address this.

[2021-04-27 03:40] mareekuh opened #7397 "Home page different if you have no bot open"
Go to composer home page
Notice that there is confusion if this is a neutral page, just to get started OR... I am just side-stepping activities on the bot I am currently working on.

Let's add clarity
You're either working on a bot (create, settings, Content (bot responses/User input etc), or on the home page, not both.

Expected:
1. On the home page, when NO bot opened
    - [x] title bar: Shows

[2021-04-27 03:40] mareekuh commented on #7397
@sgellock  - per our discussion in chat the other day, this is what I recommend/expect
@mewa1024 -  what are your thoughts?

[2021-04-27 04:05] mareekuh commented on #6907
Added UX copy to spreadsheet (provisioning and publishing tab).
Will propose copy asap.

[2021-04-27 04:14] mareekuh commented on #6478
Captured in XLS - will get to this asap.

[2021-04-27 04:16] mareekuh commented on #6477
Captured in XLS - will get to asap.

[2021-04-27 04:17] mareekuh commented on #6625
Captured in xls. - will get to as soon as possible
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-be1b-de96507b4422&wdOrigin=TEAMS-ELECTRON.teams.undefined&cid=676cf454-61e0-4182-bd27-39044bb51cea

[2021-04-27 05:14] boydc2014 commented on #7387
Two issues usually contributes to this issue, either orchestrator model downloading, or the hosted bots(this will be depricated in 2.0).  Did you use orchestrator?

[2021-04-27 05:41] luhan2017 opened #7398 "Error when migration an old bot with custom runtime and custom schema"
## Describe the bug

Steps to reproduce:

1. Create a new EchoBot with composer 1.4.0.
2. Enable custom runtime with custom action.
3. Open the EchoBot with composer 2.0.0
4. See this error
![image](https://user-images.githubusercontent.com/32191031/116191060-42897080-a75e-11eb-9464-e784351b1ce2.png)

![migration1](https://user-images.githubusercontent.com/32191031/116191669-4ff32a80-a75f-11eb-9df

[2021-04-27 06:55] HabeebunnishaMohammad commented on #7314
Hi @dmvtech. Yes the only error is timeout. No, iam unable to share.

[2021-04-27 07:08] darrenj opened #7401 "Package manager doesn't show"
## Describe the bug

When clicking package manager in the Composer UX with a new or existing project (regardless of template type) the package manager UX is not shown.

## Version

2.0.0-nightly.239644

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Crea

[2021-04-27 09:43] garypretty opened #7402 "Erroneous PVA tooltip shown on the rocketship panel"
## Describe the bug

When hovering the mouse over the rocketship panel, a tooltip referring to PVA is shown over each item.

![image](https://user-images.githubusercontent.com/3900649/116221194-4c52aa00-a745-11eb-9f5e-1b5c2e7ffd58.png)

## Version

Version:  2.0.0-nightly.239198.1de395f
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-04-27 10:01] rvinothrajendran commented on #7086
@GeoffCoxMSFT seems to be working fine .. I'm not able to recreate this issue.

[2021-04-27 10:14] rvinothrajendran commented on #7327
@GeoffCoxMSFT not able to update the new version so I installed released version back to the nightly build.

[2021-04-27 10:41] boydc2014 opened #7403 "Can't start bot after installing any packages"
## Describe the bug

Can't start my bot after install any packages like Microsoft.Bot.Components.Welcome dialog.
It complains couldn't load dll, but actually those packages aren't even including dlls.
Something must be wrong about the project setup.

![image](https://user-images.githubusercontent.com/3829387/116228474-ec312780-a787-11eb-84d2-cc376333705d.png)

## Version

lastest main 4/27

## Bro

[2021-04-27 12:58] boydc2014 commented on #7398
This looks like not "customized action specific", seems like some file operations are not correct causing a bot
 that have a runtime folder will fail.

[2021-04-27 13:33] tracyboehrer commented on #7316
Opening these in Composer will allow for them to be run, but there isn't a host app.  Is this using the old runtime?  If you then go to settings, and choose custom runtime, the old runtime is ejected.

[2021-04-27 13:40] cwhitten commented on #7401
Addressed in https://github.com/microsoft/BotFramework-Composer/pull/7400

[2021-04-27 13:40] #7401 closed

[2021-04-27 13:40] cwhitten commented on #7402
Addressed in https://github.com/microsoft/BotFramework-Composer/pull/7369

[2021-04-27 13:40] #7402 closed

[2021-04-27 13:48] cwhitten commented on #7387
@boydc2014 we do have a backlog item on the platform side to replace the bundling tool we're using for the electron distribution (electron-builder -> electron-forge). Our existing tool yields the need to duplicate a lot of dependencies when we package the app. This should reduce the package by a fair amount. Your points on Orchestrator  & the hostedBots folder are also valid.

[2021-04-27 14:16] darrenj opened #7404 "Modelling two intents in LU with overlapping utterances in intents/utterances being dropped silently"
## Describe the bug

Creating a new bot using the basic assistant template includes disambiguation.

When adding two intents and in my case deliberately trying to cause overlap (to test disambiguation) I've found that overlapping utterances are silently dropped from one of the intents. If the two intents have the same utterances then the whole intent is dropped again silently.

## Version

2.0.0-n

[2021-04-27 14:19] darrenj opened #7405 "Cannot trigger disambiguation on Basic Assistant template"
## Describe the bug

Basic Assistant template has a duplicated intents recognized capability which I'm unable to trigger. Some of this is related to #7404 but after inspecting trace it would appear that `IncludeAllIntents` isn't being set on the call to LUIS meaning your only going to get the topIntent back not the other intents and scores meaning this feature cannot work when LUIS is being used.

[2021-04-27 14:23] darrenj commented on #7380
I think it's sorted by download numbers (like in VS). Can you confirm @Dewain27

[2021-04-27 14:37] darrenj commented on #7405
** UPDATE **

Did some digging as per this:

https://github.com/microsoft/BotFramework-Composer/blob/ef424c5583d9c2813f4b7255201d912ccc770696/Composer/packages/server/schemas/sdk.en-US.schema

By hand I updated my recognizer configuration in recognizers folder to include following (not clear if Composer surfaces this anywhere)

[code]

This results with multiple intents coming back but not able to

[2021-04-27 14:43] darrenj opened #7406 "Utility intents for all templates should be using training data from the prebuilt domains"
## Describe the bug

Utility intents for all templates should be using training data from the prebuilt domains rather than those selected by a developer ;-)  Whilst we only support english today we will quickly have to add further languages which the prebuilts support. This will ensure a higher quality LU experience.

https://github.com/microsoft/luis-prebuilt-domains/tree/master/PrebuiltModels/Ut

[2021-04-27 14:50] benbrown commented on #7380
They are manually sorted based on an order we specify in this file:

https://github.com/microsoft/BotFramework-Composer/blob/main/templates.json

[2021-04-27 14:50] cwhitten commented on #7405
@darrenj Composer does not (yet) surface the the entire interface for a specific recognizer.

[2021-04-27 14:51] benbrown commented on #7380
The order displayed in the screenshot is out of date - this occured while the templates were being renamed and republished.

[2021-04-27 14:55] benbrown commented on #7403
This is due a recent change where we used the tag `msbot-component` to determine which components should be added to the `component` key in the settings upon install.

This inadvertently included the content-only packages like Welcome and HelpAndCancel.

I will fix this momentarily - the resolution is to use more specific tags (msbot-trigger, msbot-action, etc) rather than the catch-all msbot-comp

[2021-04-27 15:05] benbrown commented on #5866
There is a PR open for this functionality, but we need to carefully coordinate this with the ABS team so that it launches at the same time or AFTER the ABS api change ships --- otherwise, the T&C acceptance will never be stored and users won't be able to enable teams.

[2021-04-27 15:06] Dewain27 commented on #7327
Issue resolved in latest nightly...

[2021-04-27 15:06] #7327 closed

[2021-04-27 15:10] #6978 closed

[2021-04-27 15:12] cwhitten commented on #5866
Moving to R14

[2021-04-27 15:13] Dewain27 commented on #7299
Information on how to leverage Devops pipeline is being tracked in #6507

[2021-04-27 15:13] #7299 closed

[2021-04-27 15:14] garypretty commented on #7317
We should hold on this until the end of R13 - there is currently a decision to be made as to if Composer will support the old runtime along side the new or if we want to invest in having two versions be able to run at the same time. This is under review at the moment and a decision will be taken as a fast follow to R13.

[2021-04-27 15:16] garypretty commented on #7347
Assigning to @mareekuh as she has been doing a copy review within Composer and I believe this is addressed as part of that.

[2021-04-27 15:19] garypretty commented on #7166
Just a note here that we will still need to allow folks to authenticate against a different account if they want to for things like provisioning / publishing.  Users should be able to maintain their app level auth, which we could then even do things like settings sync with, as well as overriding in specific places if needed.

[2021-04-27 15:19] cwhitten commented on #7179
Closing as fixed

[2021-04-27 15:19] #7179 closed

[2021-04-27 15:19] Dewain27 commented on #7176
I suggest that we change the text to say import / edit existing resources

[2021-04-27 15:21] Dewain27 commented on #6639
We are documenting the way to do this in #6507

[2021-04-27 15:22] cwhitten commented on #7176
This needs to revisit design in R14

[2021-04-27 15:29] cwhitten commented on #7146
Eng. is recommending a warning in the settings page and a rocket menu update

[2021-04-27 15:45] cwhitten commented on #7115
Posting @mewa1024's comment here:

Summary: in the current build of Composer, we have 3 options for adding skills: (1) "Add new skill, (2) "Connect to local skill", (3) Connect to remote skill". We are combining 1 and 2 into one menu, with the fork between new local skill/bot or existing local skill/bot moved into the flow:

Choose option to "Add bot"
Choose the bot, then

Select an existing bot:

[2021-04-27 15:46] pavolum opened #7408 "R14 Enterprise assistant changes for rocket panel"

[2021-04-27 15:50] pavolum opened #7409 "navigate to read me post creation when user selects Enterprise assistant"

[2021-04-27 15:50] pavolum commented on #6993
Okay I am going to tackle the rocket panel UI changes. For the additional requests that are being pushed back to R14, I have created this issue
https://github.com/microsoft/BotFramework-Composer/issues/7408

I have also created an issue that Lauren and I discussed that may be in scope for R13 here
#7409

[2021-04-27 15:52] cwhitten commented on #6963
History:

https://github.com/microsoft/BotFramework-Composer/issues/5706

https://github.com/microsoft/BotFramework-Composer/pull/6112

[2021-04-27 15:52] cwhitten commented on #6963
@a-b-r-o-w-n can you work with Patrick on understanding the delta with this dialog?

[2021-04-27 16:07] cwhitten commented on #7366
@GeoffCoxMSFT we have experienced this where these failures have been hard to repro or arbitrary with the zip deploy mechanism. Retrying the operation is usually successful

[2021-04-27 16:09] garypretty commented on #7366
FWIW I tried several times with the same issue and it was only when I manually updated the resource name that it worked.

[2021-04-27 16:19] benbrown opened #7412 "Update bf-dialog to the latest rc version"

[2021-04-27 16:21] guendas opened #7413 "Error when publishing bot with LUIS from Composer"
## Describe the bug
I was trying to publish a bot that uses LUIS. I added correctly all the keys and endpoints in the publishing profile (I was starting from existing resources published in westeurope) and I continue to get the same error:

"Error - Failed to bind luis prediction resource to luis applications. Please check if your luisResource is set to luis prediction service name in your publish

[2021-04-27 16:40] a-b-r-o-w-n commented on #7413
@guendas Can you share the JSON you used to import the resources? That will help us diagnose this better.

[2021-04-27 16:42] lauren-mills commented on #7255
@darrenj  - I'm not sure who to assign this to from the Composer side, but this is painful for the experience. If the user doesn't know to configure the allowedCallers via docs or composer, they will hit this 403 error and have no idea what to do next. We shouldn't set a default value for security, so Composer should at least surface this as a warning

[2021-04-27 16:44] gabog opened #7414 "composer adds downsampling to appsettings.json"
## Version:
Version:  1.4.0-nightly.238698.3e4162
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Description
downsampling has been removed from the [templates](https://github.com/microsoft/botframework-components/blob/main/generators/generator-bot-adaptive/generators/app/templates/assets/appsettings.json) and bf CLI, however, when composer opens a bot it adds t

[2021-04-27 16:48] goergenj opened #7415 "[MCS-DE-GO] Timezone extraction does not work in 1.4.0 Bot Runtime"
After upgrading to Composer 1.4.0. the timezone extraction does not work anymore.

Switching back to the previous runtime solves this issue.

This is one of the LG-Templates which uses this:

# TimeGreeting(scenario)
- IF: ${equals(getTimeOfDay(convertFromUTC(utcNow(), 'W. Europe Standard Time')), 'morning')}
    - Guten Morgen! ${WelcomeGreeting(scenario)}
- ELSEIF: ${equals(getTimeOfDay(convertF

[2021-04-27 16:49] a-b-r-o-w-n commented on #7385
@Virtual-Josh this is by design right now. Can you describe the scenario that you are trying to achieve? Does @lauren-mills suggestion about using `RepeatDialog` work for you?

[2021-04-27 16:51] a-b-r-o-w-n commented on #7385
@Virtual-Josh one workaround is to use the "Write an expression" option and put the name of the dialog there.

[2021-04-27 16:51] goergenj opened #7416 "[MCS-DE-GO] Skillconnection breaks with 1.4.0. Bot Runtime"
After the upgrade to Composer 1.4.0 we noticed that after a Skill has completed it's dialog, the root-Bot does not continue the Conversation.

It seems in the new version of the runtime does not correctly send the "ContinueConversation" flag with the "EndOfConversation".

Reverting to the previous version of the runtime on the root-Bot solved the issue so we assume this is a bug in the "/api/skill

[2021-04-27 16:54] nadiasorina opened #7417 "Connect qna KB with bot framework composer"
Hi, can someone help me please? I'm trying to connect my bot from Bot Framework Composer with my kb from qna maker but i don't understand what i do wrong.
![qna1](https://user-images.githubusercontent.com/64148448/116131133-ae26fb80-a6d4-11eb-9fad-ecb37c781aa0.PNG)
![qna2](https://user-images.githubusercontent.com/64148448/116131139-aff0bf00-a6d4-11eb-9495-5b712a52808f.PNG)
When i try to put the i

[2021-04-27 16:55] sgellock commented on #7415
adding P0 as this is preventing a customer from updating to 1.4.0.

[2021-04-27 16:57] a-b-r-o-w-n commented on #7413
@guendas Is it possible to have you try this again with the nightly version of Composer?

[2021-04-27 16:59] a-b-r-o-w-n commented on #7349
@cleemullins Do you have a suggestion on where the links should take users?

[2021-04-27 16:59] guendas commented on #7413
@a-b-r-o-w-n Sure! I of course omitted the resources but here's the template.

{
    "name": "MybotName",
    "environment": "dev",
    "runtimeIdentifier": "win-x64",
    "resourceGroup": "MybotRG",
    "botName": "MyuniquebotName",
    "subscriptionId": "MysubID",
    "region": "westeurope",
    "settings": {
        "luis": {
            "authoringKey": "authKeyCopiedFromAzure",
            "au

[2021-04-27 17:04] dmvtech commented on #6482
I am not able to reproduce, but I am investigating possible causes.

[2021-04-27 17:14] #6976 closed

[2021-04-27 17:14] #7266 closed

[2021-04-27 17:16] benbrown commented on #7409
Is this still relevant? We added a button for the readme instead of opening it automatically.

[2021-04-27 17:16] mewa1024 commented on #7115
Option C: [https://www.figma.com/file/4kfahZUjBdrxdDGZih7PVP/Composer-1.5-E2E-flows?node-id=802%3A53854](url)

![image](https://user-images.githubusercontent.com/39317542/116284138-96d22780-a741-11eb-9a28-c4e22a00ff2a.png)

[2021-04-27 17:22] #7417 closed

[2021-04-27 17:42] benbrown commented on #6963
Based on #6112 this seems reasonable.

The key thing I need @a-b-r-o-w-n  to way in on is whether a tenant *SELECTION* is required here...

[2021-04-27 17:42] dmvtech commented on #7314
@HabeebunnishaMohammad There should not be an issue with the amount of dialogs, related to timeout. Can you give simple steps on how to reproduce? Without more to go on, there's not much we can do.

[2021-04-27 17:44] Virtual-Josh opened #7420 "Cannot edit bot while provisioning is occurring"
## Describe the bug

## Version
Version:  2.0.0-nightly.239895.e3e1b3e
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:
1. Create a new bot
2. Create a provisioning profile
3. Whi

[2021-04-27 17:51] stevkan commented on #6594
@shubham8886, I can see above in the discussion history that it was suggested you try the most recent version, 1.4.0. Were you able to do so? If not, can you try and see if the issue persists? You can also try the nightly version by selecting "Early adopters" in Composer's settings page to get the most recent unpublished version.

[2021-04-27 17:54] dmvtech commented on #7413
Investigating. Possibly related to #6482 or #7087

[2021-04-27 17:58] stevkan commented on #7365
@BeheraMadan, I'm looking into what other configurations might be necessary (if any). In the mean time, can you tell me which client you are using? Are you testing using the built-in Web Chat, Emulator, an external Web Chat client, or something else?

Also, which version of Composer are you running?

[2021-04-27 18:08] a-b-r-o-w-n opened #7421 "[PVA] getting started blade should be updated to reflect PVA capabilities"
- KEEP: edit what your bot says
- REMOVE: train your language model
- REMOVE: publish to dev ops
- SHOW: enable insights

[2021-04-27 18:09] a-b-r-o-w-n commented on #7421
@srinaath I thought that this was already taken care of but it looks like a regression. Can you confirm?

[2021-04-27 18:09] Virtual-Josh opened #7422 "Composer doesn't add "*" to parent skill allowed callers when adding skills"
## Describe the bug
When you add a skill to a parent bot the `skills` -> `allowedCallers` property in app settings doesn't update to ["*"] (or the app ID of the skill) which prevents skills from working.

## Version
Version:  2.0.0-nightly.239895.e3e1b3e
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safar

[2021-04-27 18:11] a-b-r-o-w-n opened #7423 "[PVA] Trigger phrases editor toolbar should have add entity and insert entity disabled"
Disable the toolbar buttons and show the PVA tooltip.

[2021-04-27 18:14] srinaath commented on #7421
So [fix: Empty Webchat inspector text and Disabling items in PVA context by srinaath · Pull Request #7241 · microsoft/BotFramework-Composer (github.com)](https://github.com/microsoft/BotFramework-Composer/pull/7241) I removed Add Connections, Add Packages and Enable Insights from the Get Started section. I could remove these items as well.

I didn't realize "Train your language model" and "Publish

[2021-04-27 18:24] mewa1024 commented on #7115
Just want to clarify, are when user goes through the of "Add bot > Create a new bot" are we creating this for them?
![image](https://user-images.githubusercontent.com/39317542/116292754-e8cb7b00-a74a-11eb-9fce-e67af106f116.png)

or just the stuff selected here:
![image](https://user-images.githubusercontent.com/39317542/116292869-0ef11b00-a74b-11eb-9d0f-3b5e77afcb53.png)

[2021-04-27 18:25] sgellock commented on #7397
We're going to need to consider fit and finish issues in the end game.  setting labels and milestones so it shows up on ship room

[2021-04-27 18:26] pavolum opened #7424 "default names when you create from template need correction"
They should match the following default names
Friendly Name
Generator name
default bot name

Empty Bot
@microsoft/generator-bot-empty
Empty

Core Bot with Language
@microsoft/generator-bot-core-language
CoreWithLanguage

Core Bot with QnA Maker
@microsoft/generator-bot-core-qna
CoreWithQNA

Core Assistant Bot
@microsoft/generator-bot-core-assistant
CoreAssistant

Enterprise Assistant Bot
@microsof

[2021-04-27 18:35] scheyal commented on #7391
Had other errors. This worked today.
Closing.
FYI @GeoffCoxMSFT

[2021-04-27 18:35] #7391 closed

[2021-04-27 18:36] emivers8 opened #7425 "Update redirect link for Composer template overview doc's aka.ms link"
We'd like to include a link to the new template overview docs page in the rocket panel. The aka.ms link has been created (https://aka.ms/ComposerBotTemplateOverview), it just needs to link to the right page.

@elaine-chang

[2021-04-27 18:40] lauren-mills opened #7426 "Description text on MS App ID is inaccurate"
The text under Project Settings > Development Resources says the following:

This is incorrect. An App ID is not required for all bots to run locally, but only for bots that need Authentication and/or include Skills. Bots without these two things can be run locally without an app ID

[2021-04-27 18:40] taicchoumsft commented on #7404
Hey @darrenj , the LU file Parser dedupes utterances (I think the dedupe code lives around [here](https://github.com/microsoft/botframework-cli/blob/7e5fa93174a86f61467d6fc3c867d0cf36d8d8c3/packages/lu/src/parser/lufile/parseFileContents.js#L573)).  Should we file this under the CLI?

[2021-04-27 18:43] mewa1024 commented on #7397
sorry for not reading this earlier. I don't think these aren't fit and finish issues--they're kind of significant UX issues which we couldn't tackle in R14. As far as the home page when no bot is open, @mareekuh, I think what you are suggesting is in effect if you have a blank bot open, but it is even blank-er then the empty/blank bot template. It's a reasonable expectation to be able to open a bl

[2021-04-27 18:44] a-b-r-o-w-n commented on #7421
@srinaath Yeah I remember that as well. The current ask is to hide those items and show the insights step.

[2021-04-27 18:51] a-b-r-o-w-n opened #7427 "[PVA] disable form dialogs nav item"
Form dialogs nav item should be disabled for PVA bots.

[2021-04-27 18:51] tdurnford commented on #7312
@BellaDunnett @GeoffCoxMSFT @hatpick  When the Output property is undefined, everything works fine; however, when I set the value to `integer` or `float` - without quotes or an equal sign - the prompt only returns `0`. If I do use quotes or an equal sign, I get a runtime error.  I think this is an issue with the SDK.

#### Output `undefined`
![image](https://user-images.githubusercontent.com/17039

[2021-04-27 19:00] cwhitten commented on #7421
I believe the POR was the disable the elements, not remove them entirely

[2021-04-27 19:01] cwhitten commented on #7421
Before we do this let's sync with the person who put together the ask

[2021-04-27 19:09] pavolum commented on #7409
Yes removing this, Elaine and Lauren were playing the idea of making a case for this in R13 but have decided not to.
The R14 goal for this item is still active in the r14 backlog category so closing this issue.

[2021-04-27 19:09] #7409 closed

[2021-04-27 19:11] pavolum commented on #7115
@mewa1024 the first one

[2021-04-27 19:15] mewa1024 commented on #6173
(@sangwoohaan can you keep me in the loop? it sounds like an implementation gap rather than change to the design.)

[2021-04-27 19:21] mewa1024 commented on #1741
did renaming in the project tree get removed? it's not in the ... menu, and clicking on the name doesn't seem to work. I think the project tree might be the more expected place to change the name then the property pane.

[2021-04-27 19:24] srinaath commented on #7421
@cwhitten I reached out to @vivekkshankar  and @benbrown on this. On the Get Started section it is to actually hide the lements and not disable

[2021-04-27 19:27] srinaath commented on #7421
[fix: Resolve PVA check logic missing by srinaath · Pull Request #7369 · microsoft/BotFramework-Composer (github.com)](https://github.com/microsoft/BotFramework-Composer/pull/7369) Updated the PR description here. I had them hidden in the PR yesterday. Sorry.

[2021-04-27 19:30] mareekuh opened #7428 "Create new LUIS resources modal shows buttons overlapping 'resource name'"
Create new LUIS resources, when launched from button on Settings page shows modal's buttons overlapping Resource name field. I've been clicking around quite a bit to capture content so I can't tell you the exact path )-:
I've attached a full screenshot for context incl build # - hope that helps at least a bit.
![Screen Shot 2021-04-27 at 12 27 27 PM](https://user-images.githubusercontent.com/48503

[2021-04-27 19:47] mareekuh commented on #7428
Note - this is a show stopper - it doesn't allow me to enter a resource name so I am SOL.

[2021-04-27 19:57] Dewain27 commented on #6555
Publish your bot is missing and should show up after you have created at least one publishing profile.  It used to be there, but has regressed:
![image](https://user-images.githubusercontent.com/18688053/116305061-dfe9a200-a768-11eb-8bb5-339283ef6f4d.png)

[2021-04-27 20:01] mareekuh commented on #7128
Adding to this...
The 2nd field is labeled as LUIS key, but is the LUIS resource name...

![Screen Shot 2021-04-27 at 12 59 37 PM](https://user-images.githubusercontent.com/48503434/116305374-8bd6c180-a758-11eb-9f27-1a6fa355b031.png)

[2021-04-27 20:06] #7217 closed

[2021-04-27 20:09] sangwoohaan commented on #1948
Yeah this is gonna be stabled by R14. Here's the WIP
![Frame 53151](https://user-images.githubusercontent.com/50963385/116306322-c5f49300-a759-11eb-85ae-41ea8b08864a.png)

[2021-04-27 20:10] mewa1024 commented on #7128
@cleemullins @mareekuh then I say we use "Resource" which is what we did for the UI in LUIS.ai, except for the UI that literally showed you the strings for your primary and secondary keys.

[2021-04-27 20:18] benbrown commented on #7146
OK the r13 solution for this is in #7430 - a warning appearing on the settings page, and a recommendation to publish the bot to Azure if the limit is reached.

[2021-04-27 20:36] mewa1024 commented on #3654
correct. It was cut. (don't know the context)

[2021-04-27 20:38] mareekuh commented on #7128
I am working on this here so we can see it all together in one place vs bug by bug
https://microsoft.sharepoint.com/:x:/r/teams/ConversationalAI785/_layouts/15/Doc.aspx?sourcedoc=%7B6B1FACBD-B5FE-4AD2-A35B-995635C1696B%7D&file=glossary.xlsx&action=edit&mobileredirect=true&wdPreviousSession=36539654-a42b-4b87-be1b-de96507b4422&wdOrigin=TEAMS-ELECTRON.teams.undefined&cid=676cf454-61e0-4182-bd27-3904

[2021-04-27 20:40] mewa1024 commented on #3734
I agree that the actions are more intuitive on the ... menu. Would like to add them to the node (but leave them in command bar). Am changing the name of the issue to reflect this.

[2021-04-27 20:49] mewa1024 commented on #4008
Unless anyone objects, can we just do this?
- nothing selected = show "Disable" button in the disabled state
- node selected and the node is enabled = show "Disable"  button in the rest state
- node selected and the node is disabled = hide "Disable" button, in its place, show an "Enable" button in the rest state
- mix of nodes that are disabled and enabled = hide "Disable" button, in its place, sh

[2021-04-27 20:58] benbrown commented on #7373
I am also seeing some new issues:

- [ ] The webapp/functions dropdown is blank
- [ ] Instead of the previous project name, the default name is now `undefined`
- [ ] Missing a change to choose JS or .NET
- [ ] for some reason a bot with an ejected runtime fails #7398

[2021-04-27 21:06] mewa1024 commented on #7115
Thanks! that's what I thought, but just wanted to check.

[2021-04-27 21:17] Virtual-Josh opened #7433 "Can't create resources for node function bots"
## Describe the bug
Azure can't find the directory when trying to create resources for node function bots.

Probably related to #7343

## Version
Version:  2.0.0-nightly.239895.e3e1b3e
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubu

[2021-04-27 21:24] #7403 closed

[2021-04-27 21:29] benbrown commented on #7398
This is due to the lack of support for the sdk.schema and sdk.uischema files in the botStructure.ts file.  This causes them to be improperly renamed, and the uischema causes the error because it is attempting to rename it to the name of the parent folder.

In that project, there handlers for "dialogSchema" which I am not familiar with, and this is causing it to catch the sdk.schema file and rename

[2021-04-27 21:37] Virtual-Josh commented on #7343
As one more weird thing it seems like this issue is related to a cached state. Once you see this error it prevents you from provisioning any new resources. However if you close and reopen composer it seemingly unblocks itself?

[2021-04-27 21:37] Virtual-Josh commented on #7433
Copying this note from the other issue here:

As one more weird thing it seems like this issue is related to a cached state. Once you see this error it prevents you from provisioning any new resources. However if you close and reopen composer it seemingly unblocks itself?

[2021-04-27 21:38] GeoffCoxMSFT commented on #7300
I can't reproduce this, but I was looking at the line-height property, it is showing invalid.

![image](https://user-images.githubusercontent.com/28762486/116314670-3f917e80-a764-11eb-8d50-3d320b2160fb.png)

![image](https://user-images.githubusercontent.com/28762486/116314653-3a343400-a764-11eb-95eb-833f968a5172.png)

I see this style in styledComponents.ts which is the only place a line-height i

[2021-04-27 21:39] mewa1024 opened #7435 "Migration: separate new Composer 2.0 docs from existing 1.4 docs"
## Describe the bug

Since we will be supporting Composer 1.4 users and Composer 2.0 users simultaneously, we need to link to two sets of docs. Composer 1.4 docs will be moved to an archive in doc.microsoft.com, so we will need to up date the aka.ms links in Composer 1.4 to point to the new URLs. For Composer 2.0, we will need new aka.ms links with a new prefix (like "composer2-") that point to th

[2021-04-27 21:40] mewa1024 commented on #7435
@srinaath @emgrol @Kaiqb @JonathanFingold

[2021-04-27 21:53] Dewain27 commented on #7355
Duplicate #6561

[2021-04-27 21:53] #7355 closed

[2021-04-27 21:55] GeoffCoxMSFT commented on #7288
Updated to P0 as the fix is to actually save the right information to the publishing profile.  Otherwise, the information is incomplete.  The UI was just behaving as expected due to the missing value.

[2021-04-27 21:55] #7288 closed

[2021-04-27 22:00] benbrown commented on #7398
Fixed in this commit: https://github.com/microsoft/BotFramework-Composer/pull/6526/commits/fe68602331886074dd655c03066373c2cb68a009

@luhan2017  can you please continue to verify?

[2021-04-27 22:15] Dewain27 commented on #7259
Waiting for bugbash to see if we can repro.  Not able to repro and believe to be a local environment issue.

[2021-04-27 22:21] emivers8 commented on #7206
Design. May need copy tweaks.

![image](https://user-images.githubusercontent.com/55601267/116319850-15dc5580-a76c-11eb-94d1-54760d59d0f8.png)

[2021-04-27 22:34] GeoffCoxMSFT commented on #7300
@rvinothrajendran I think this invalid line-height issue is causing the overlap you are seeing.

[2021-04-27 22:46] #7146 closed

[2021-04-27 22:57] vivekkshankar commented on #7422
@Virtual-Josh Great catch. But this is by design to prevent security issues. We try to communicate the need for the skill to have the root bot in the allowed caller list via copy but I think we could potentially do more.
We did intend to   validate if the root bot is in the skillbots allowed callers list as part of the release but this is not feasible currently.

[2021-04-27 23:01] vivekkshankar commented on #7420
The UI should be accessible when notification toasts are open.
@hatpick Is there   any other reason for blocking this (besides UI behaviour) such as not writing allowing local changes to be written while the bot is being priovisioned?
Nice catch again @Virtual-Josh

[2021-04-27 23:02] Virtual-Josh commented on #7422
I agree this could be solved with documentation, but it's not at all obvious that the parent needs to have it's `allowedCaller` list updated after adding a remote skill. Composer auto-magically takes care of a lot of things, it violates expectations when the number of exceptions (that I've found so far) is 1.

[2021-04-27 23:06] benbrown commented on #7091
@pavolum  during migration, we should ALSO show the JS/Dotnet option as a dropdown here.

[2021-04-27 23:18] #7115 closed

[2021-04-28 00:01] mewa1024 opened #7438 "Home page: MRU should not list bots that were created or opened as part of a multi-bot project"
## Describe the bug

The Home page MRU lists bots that were created or opened as part of a multibot project. This might lead a user to think we recommend editing those bot separately, when we don't. We would like the MRU to show only root bots or nonroot bots that were explicitly opened by choosing the Open control and navigating to the nonroot bot.

## Version

BotFramework-Composer-2.0.0-nightly

[2021-04-28 00:05] #6993 closed

[2021-04-28 00:05] #7424 closed

[2021-04-28 00:10] boydc2014 commented on #7148
@cwhitten we want to make this a P0 since it's blocking bug

[2021-04-28 00:13] Virtual-Josh opened #7439 "Skill Chaining breaks dialog stack"
## Describe the bug
The dialog stack completely breaks down if a skill has wiring to call another skill.

## Version
Version:  2.0.0-nightly.239895.e3e1b3e
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps t

[2021-04-28 00:17] Virtual-Josh commented on #7439
I should add, the echo skill's echo dialog does not call the chain bot.

[2021-04-28 00:22] Virtual-Josh commented on #7433
One extra note, it seems like this only occurs when the bot is a function bot. web apps seem to be fine.

[2021-04-28 00:38] a-b-r-o-w-n commented on #6963
I did some digging on this today and unfortunately didn't make much progress. I am able to sign in with an MSA account during provisioning so I suspect that tenant selection / arm token will be required. I plan on testing this 1st thing in the morning with a signed build.

[2021-04-28 00:40] #7412 closed

[2021-04-28 00:53] mewa1024 commented on #7206
For the copy in "Add from publishing profile", what about "Select the publishing profile with the Microsoft App ID and secret you'd like to use." ?

[2021-04-28 01:48] #7421 closed

[2021-04-28 01:48] #7423 closed

[2021-04-28 01:48] #7427 closed

[2021-04-28 02:09] mareekuh opened #7441 "Offline - Templates and resources are not loading on Home page"
![Screen Shot 2021-04-27 at 7 07 24 PM](https://user-images.githubusercontent.com/48503434/116335565-efc6ad80-a78b-11eb-85cd-2b8556505c68.png)
![Screen Shot 2021-04-27 at 7 08 33 PM](https://user-images.githubusercontent.com/48503434/116335650-0c62e580-a78c-11eb-9007-3e5a605d5deb.png)
![Screen Shot 2021-04-27 at 7 09 01 PM](https://user-images.githubusercontent.com/48503434/116335682-1684e400-a78c

[2021-04-28 03:35] mareekuh opened #7442 "Ability to move modals"
In common apps, one can move modals to be in a better position for task xyorz -

- in my case to take a tight screenshot of the modal + other content on the screen. Other cases might be
- I have a tiny monitor and it is blocking info I need to see.
- I have a huge or multiple monitors and I need to move my dialog to my perifery
- I have accessibility needs and am using a magnifier and need to move

[2021-04-28 03:40] mareekuh opened #7443 "Add a default name for my publishing profile"
as the provisioning and publishing process is rather cumbersome and requires selection of resources, subscriptions and naming of new resources, please anticipate my needs and propopulate my publishing profile name with my bot's name and an extension such as _profile1 - that reduced my cognitive load and allows me to move faster without screwing things/myself up.

![Screen Shot 2021-04-27 at 8 31 4

[2021-04-28 04:11] #6899 closed

[2021-04-28 04:34] BeheraMadan commented on #7365
Hi,

Testing in emulator and composer version- v.1.4.0

Thanks..

[2021-04-28 05:59] mewa1024 opened #7444 "Migration from Composer 1.4 to Composer 2.0"
## Describe the bug

Tested the flow of migrating Composer 1.4 to Composer 2 and opening a 1.4 bot and converting it.

Three issues but not sure if they are specific to the migration flow:
- after installing the update Composer did not restart automatically
- in "Create a bot project", the Name is prefilled as undefined and Runtime Type is empty (already reported in #7373)
- when converting one of

[2021-04-28 06:54] SupriyaBhogi opened #7445 "getting this type of while running bot 'response status code doesnt indicate success-403 quota exceeded'"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-04-28 07:38] #7364 closed

[2021-04-28 09:16] felix-gonzalez commented on #5534
Hi @selvaduraiece How are you doing to "detect" an end of a conversation? Simply when you know it because your flow desing or with some event?
I'm thinking on what happens if the user does not complete the conversation, even that we need to store the messages for debug.

[2021-04-28 10:12] rahul-8437008949 opened #7446 "LUIS TRIGGER DURING MENU"
I want that the user doesn't necessarily select one of the options and instead can type anything which luis will recognize . But  currently even if an intent is recognized by the entered text still the user has to select one of the option from menu else it prompts again and again . Is there a way to rectify the issue?

![Screenshot (185)](https://user-images.githubusercontent.com/54345729/11638703

[2021-04-28 10:25] darrenj commented on #7343
FWIW - I can repro this on 2.0.0.nightly.239644

Given some other limitations with Azure functions we can discuss it being p0 in ship room

[2021-04-28 10:45] darrenj commented on #7153
Just reopened as can repro in 2.0.0.nightly.239644.

- Create a Empty Bot
- Choose Add Skills
- Use this manifest: https://djtest6.azurewebsites.net/manifests/djbfskill1-2-1-manifest.json
- Finish the wizard
- Hit Start Bot
- Type Weather
- Observe error

![image](https://user-images.githubusercontent.com/33519520/116391463-1b42aa00-a817-11eb-9e0d-cbcf08b957d7.png)

Observe that Skill Manifest isn

[2021-04-28 10:58] darrenj commented on #7445
Can you confirm the build number of Composer you are running please?

I suspect I know the issue but can you try the following please?

- Go to https://luis.ai
- Login
- Find the LUIS model(s) you are using
- Click manage

![image](https://user-images.githubusercontent.com/33519520/116392257-23e7b000-a818-11eb-8ec3-9a80efc17f24.png)

- Click Azure Resources and Create/Select a prediction key

![im

[2021-04-28 11:02] darrenj commented on #7206
@emivers8, @mewa1024 - Need the same UX but for Application Insights to resolve telemetry issues affected by same problem

[2021-04-28 11:04] darrenj commented on #6446
@emivers8 @mewa1024

[2021-04-28 11:05] darrenj commented on #5814
I believe you'll be able to refresh the token ala other desktop applications. @Dewain27  one to track as part of your proposal for R13 around central signin

[2021-04-28 11:09] darrenj commented on #6921
Looks like the same as #7153

[2021-04-28 11:11] darrenj commented on #7334
@scheyal  Could you provide some repro steps or a sample along with what you were expecting?

[2021-04-28 11:27] darrenj opened #7447 "Launching LG editor for newly added languages doesn't work"
## Describe the bug
When adding languages to your Bot (localization), checking the box to switch to the language and start editing doesn't do anything once the language is added.

![image](https://user-images.githubusercontent.com/33519520/116395361-f13fb680-a81b-11eb-9847-f4b801ff834a.png)

## Version

2.0.0.nightly-239644

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] F

[2021-04-28 11:39] darrenj commented on #7324
Hi Eyal - I was playing about with this in a newly created bot for another localization issue. Can you repro with the latest build with a  newly created bot?

[2021-04-28 11:43] darrenj commented on #7322
Tested, fixed in most recent release

![image](https://user-images.githubusercontent.com/33519520/116398075-46c99280-a81f-11eb-8965-e96ac7f7e608.png)

[2021-04-28 11:43] #7322 closed

[2021-04-28 11:44] darrenj commented on #7287
@scheyal  Can you share your project if you still see the issue or repro steps? Otherwise, I suspect the wide ranging QnA changes in more recent builds have addressed the issue.

[2021-04-28 11:47] darrenj commented on #7280
@tdurnford Have we made the move to connection strings for Composer level telemetry that we collect? I suspect sampling may well be the root cause for gaps in telemetry... If not, I would debate a loss of product level telemetry is candidate for p0.

[2021-04-28 11:53] darrenj commented on #7192
I see this when Orchestrator is enabled (warnings). This is on LU trigger editing on a dialog

![image](https://user-images.githubusercontent.com/33519520/116399183-8ba1f900-a820-11eb-9ae3-65c2d7bc9570.png)
![image](https://user-images.githubusercontent.com/33519520/116399250-9fe5f600-a820-11eb-8c90-d6e4e7bd8edb.png)

However as Eyal has found if you edit the LU on the new trigger dialog you don't

[2021-04-28 11:58] darrenj opened #7448 "When adding a Skill to a project, if you have a dialog selected it adds it to the dialog not the root bot"
## Describe the bug

If you have a Bot with a dialog and have this dialog active when adding a Skill, the Skill trigger is incorrectly added to the dialog not the root Bot which is where Orchestrator is configured.

![image](https://user-images.githubusercontent.com/33519520/116399602-04a15080-a821-11eb-8826-e5d9c8a2cfa6.png)

## Version

2.0.0-nightly.240366

## Browser

- [x] Electron distributi

[2021-04-28 12:42] BeheraMadan commented on #7365
Please close this issue.
I tried below and it works fine.

{
    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
    "type": "AdaptiveCard",
    "version": "1.0",
    "body": [
        {
            "type": "TextBlock",
            "text": "${dialog.api_response.content.answers[0].answer}",
            "wrap": true,
            "maxLines": 1000
        },
        {
            "ty

[2021-04-28 12:47] Dewain27 opened #7449 "Broken Links in Provisioning Process"
## Describe the bug

When clicking on the following Learn More links, you get a blank page vs going to the right document article:

![image](https://user-images.githubusercontent.com/18688053/116405097-e291d900-a7f4-11eb-8eba-0eaf1b98dede.png)

![image](https://user-images.githubusercontent.com/18688053/116405201-fdfce400-a7f4-11eb-9278-3b17da315937.png)

Currently both links lead you to this moda

[2021-04-28 13:01] iMicknl opened #7450 "PVA: Default Adaptive Card doesn't work in PVA context (publish fails)"
## Describe the bug

When you create an activity response with an Adaptive Card attachment created via a template (via Send a response -> Attachments), it will work locally. However, when you do the same in a PVA context, it will show publish failed.

![image](https://user-images.githubusercontent.com/1424596/116407519-23f4a980-a832-11eb-8701-fe6f9d8091d7.png)

## Version
Version:  2.0.0-nightly.2

[2021-04-28 13:16] iMicknl opened #7451 "PVA: User input and prompt for xxx should have Expected responses disabled"
## Describe the bug

Lately there has been some nice work on making Composer more PVA friendly. As far as I know, you can't used 'user input' while having a PVA bot. This is currently still enabled in PVA, also in the prompts.

If this is not supported, it would be good to have this disabled.

## Version

Version:  2.0.0-nightly.240366.4a6ec2c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0

[2021-04-28 13:18] iMicknl commented on #7450
Duplicate of https://github.com/microsoft/BotFramework-Composer/issues/7394 ... Sorry I missed that one.

[2021-04-28 13:18] #7450 closed

[2021-04-28 13:19] iMicknl commented on #7394
I faced this issue (again) today and logged https://github.com/microsoft/BotFramework-Composer/issues/7450.

Our workaround for now is to move the `json()` function call to the Activity block, however this is a manual action and should not be required. It seems that the PVA back-end has an error in the validation..

[code]

[2021-04-28 13:25] Quirinevwm opened #7452 "Azure connections reference naming"
## Describe the bug
Confusing naming of our Azure connections in intro text and naming in the table.
Recommend to name (from our docs the way we introduce) the same in intro and in the table (for example speech = Direct Line Speech, MS Teams = Microsoft Teams):
- Microsoft Teams
- Web Chat (name in docs: https://github.com/microsoft/BotFramework-WebChat)
- Direct Line Speech (name in docs: https:/

[2021-04-28 13:36] darrenj commented on #7413
I can repro this - when publishing a bot as a result of making a bot available as a skill

[2021-04-28 14:26] tdurnford commented on #7280
@cwhitten @garypretty  Can you weigh in on updating the instrumentation key to the connection string in the build pipelines? I'm not sure we'll have adequate time to test in the nightlies before the release.

[2021-04-28 14:29] Clooney24 commented on #3339
How will different LUIS contents for development/testing and production be differentiated when there is no version anymore? Dialog changes in development/test system should not affect productive LUIS content at all but should became productive within the deployment process.

[2021-04-28 14:35] cwhitten commented on #7280
@tdurnford if we've got the connection strings lets go ahead and start testing

[2021-04-28 14:38] tdurnford commented on #7280
@cwhitten @garypretty Due to the App Insights permission changes, I'm not able to access the resource and get the connection string.

[2021-04-28 14:43] pavolum commented on #7259
@rvinothrajendran I have an idea to get a bit more error info from you since I cannot repro.

Can you use the PC that still has the issue and navigate to the directory of the bot you created through Composer (the bot files should be created even though the creation process errored out at the dotnet build part).

In the command line navigate to the directory that contains your .csproj file (from th

[2021-04-28 14:47] cwhitten commented on #7280
Makes sense. Lets block this one until we can connect with @garypretty to get these.

[2021-04-28 15:12] sgellock commented on #7438
MRU should list bot projects and not bots.  @beyackle can you do a spike to understand cost and risk.

[2021-04-28 15:18] sgellock commented on #7413
@GeoffCoxMSFT the scenario is specific, not the mainline happy path.  so let's make sure we understand the repo steps.  Darren has a project he can use to repro it

[2021-04-28 15:20] rvinothrajendran commented on #7259
@pavolum

1. This morning I have updated the new build for the first time the same issue raised ... But no project folder has created.

![image](https://user-images.githubusercontent.com/16264167/116428167-f6fdc200-a844-11eb-944f-f6ccd6e37c12.png)

2. I try to create video ( In this project has created but there is error at the end.)

https://user-images.githubusercontent.com/16264167/116428624-61

[2021-04-28 15:21] sgellock commented on #7397
Shiproom - not taking for R13, moving to R14 for planning

[2021-04-28 15:23] sgellock commented on #7373
Shiproom - please use this as the tracking but for all migration issues.

[2021-04-28 15:26] sgellock commented on #7324
Shiproom - @scheyal we need assistance with repro steps

[2021-04-28 15:27] benbrown commented on #7343
Heads up @GeoffCoxMSFT - ship room wants this for r13

[2021-04-28 15:36] sgellock commented on #7206
@GeoffCoxMSFT Shiproom-approved.

[2021-04-28 15:40] sgellock commented on #7280
@garypretty can you get the connection string?  @tdurnford also, Kate can get you the connection string.  @cwhitten can provide more details.

[2021-04-28 15:42] sgellock commented on #7205
Shiproom - @cwhitten can you decide with Vivek which is the cheapest approach we can take for R13

[2021-04-28 15:44] sgellock commented on #7188
Dup of #7449

[2021-04-28 15:44] #7188 closed

[2021-04-28 15:48] sgellock commented on #7155
Shiproom - @cwhitten let's get crisp on min design to address the ngrok discover and notification issue

[2021-04-28 15:51] sgellock commented on #7148
Shiproom - we have a PR, and we believe we can get that PR merged today.  Approved

[2021-04-28 15:52] sgellock commented on #7091
Shiproom - will be included with the other migration work/PR

[2021-04-28 16:45] pavolum commented on #7259
Hmm so the dotnet build issue is no longer present but now you are getting this javascript error, correct? If this is the case then we should close this issue and open a new one for this new error you are seeing. I will surface your video to others on the team now to start triaging.

[2021-04-28 16:50] rvinothrajendran commented on #7259
@pavolum java script has raised only one time  incase in future any issue , I will open new issue.

[2021-04-28 16:52] garypretty commented on #7280
@tdurnford If you don't have it by then, I can get this for you tomorrow. Travelling home right now and I don't have my Yubikey.

[2021-04-28 17:09] GeoffCoxMSFT opened #7453 "After Azure functions are provisioned, adding resources shows it is still required"
## Describe the bug

The Azure functions don't show as provisioned when they are if you run the provisioning wizard a 2nd time.

This is a one line bug in getExistingResources in the azurePublish extension.

## Version

main/

Version:  2.0.0-nightly.240366.4a6ec2c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [X] Chrome

[2021-04-28 17:24] sgellock commented on #7453
Shiproom: approved

[2021-04-28 17:29] pavolum commented on #7259
Ahh good stuff, yes please raise an issue if it arises again. Thank you very much for reporting this dotnet build bug. It seems the newer build has resolved the issue. If you hit it again please reopen and send over the dotnet build output when you run the command directly through command line.

[2021-04-28 17:29] #7259 closed

[2021-04-28 17:32] clearab opened #7454 "Add 'msbot-middleware' tag"
With the change to using tags as an additional way to determine if a package needs to be added to the components array in the appsettings file, we need to add `msbot-middleware` as an option (reference here is the LivePerson package, which only contains a middleware component - this isn't to unblock this specific package, but middleware packages in general).

[2021-04-28 17:34] sgellock commented on #7454
Shiproom:  this, among other things, breaks the handoff package scenario.

[2021-04-28 17:43] pavolum commented on #7143
This is a duplicate and the original issue has been resolved

[2021-04-28 17:43] #7143 closed

[2021-04-28 17:45] sgellock commented on #7433
@GeoffCoxMSFT can you investigate and determine if this is the same issue as #7343, and if not, then let's understand what the issue is.  would like to get this one in

[2021-04-28 17:49] stevkan commented on #7311
@BellaDunnett, I am attempting a repro and should have a response for you by the end of day, today.

In the mean time, can you tell me which version of Composer you are using? Can you also include an example of a date input so I can test as close to your issue, as possible?

[2021-04-28 17:54] pavolum commented on #7091
Doing a PR into the migrate branch now, will add js/charp dropdown

[2021-04-28 17:57] benbrown commented on #7315
I have done a first pass attempt at this - firing off a series of background downloads at app start to pre-heat the cache.

Alas, since downloading all of the templates currently takes around ~3 minutes, it is unlikely this approach will solve the "First run" problem.

I would propose some further thinking around the subject:

- [ ] Could we pre-fetch only the MOST POPULAR templates?
- [ ] Could w

[2021-04-28 18:16] tdurnford commented on #7280
@garypretty @cwhitten @sgellock

@kaerm  was kind enough to retrieve the connection string for me, and I updated the pipelines accordingly. I'm waiting for the nightlies to run, so we can confirm that there aren't any issues with the connection string. I tested the build locally with the connection, and there weren't any issues, so I don't think there should be any regressions.

[2021-04-28 18:19] Virtual-Josh opened #7456 "Removing local skill from parent bricks the parent bot project"
## Describe the bug
If you remove a local skill from the parent project the `restart bot` button is disabled and the error doesn't direct you to any where to manually resolve the issue.

## Version
Version:  2.0.0-nightly.240366.4a6ec2c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
-

[2021-04-28 18:25] sgellock commented on #7456
Shiproom: @cwhitten, route to stc-a?

[2021-04-28 18:25] anusharavindrar commented on #6712
@ctharmon722, did you get a chance to try out the linked sample?

[2021-04-28 18:27] anusharavindrar commented on #7181
Closing the issue. Please feel free to re-open if issue persists.

[2021-04-28 18:27] #7181 closed

[2021-04-28 18:33] benbrown commented on #7315
We are not going to do this in r13

[2021-04-28 18:38] dmvtech commented on #7446
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-04-28 18:38] #7446 closed

[2021-04-28 18:38] dmvtech commented on #7446
Hi @rahul-8437008949

For this, you would allow the dialog to use interruptions ('allow interruptions' in the Prompt Configuration). Either set to true or use some sort of expression. For example; the ToDo sample uses `!@itemTitle && #_Interruption.Score >= 0.9` in the AskForTitle prompt.

You can change/lower/turn off the max turn count. This is just an FYI aside. Not the solution.

[2021-04-28 18:38] dmvtech commented on #7446
https://docs.microsoft.com/en-us/composer/tutorial/tutorial-add-help

[2021-04-28 18:40] Virtual-Josh commented on #7456
Note: This appears to only affect local skills. You can add and remove remote skills just fine. My guess would be due to the new UI for adding local skills some assumption somewhere is no longer true.

Here's an error that showed up when I tried to start the parent bot with the same skill added as a remote skill. MAYBE this is the smoking gun, it's also entirely possible it's a massive red herring

[2021-04-28 18:58] #7453 closed

[2021-04-28 19:03] clearab commented on #7316
They'd all need to be converted to be consistent with <whatever format Composer samples are decided to have> - but at a minimum that will probably be converting to new runtime + app code

[2021-04-28 19:04] clearab commented on #7316
Which I think you can actually do by just opening in Composer, and then ejecting the runtime? Not sure how that looks on disk.

[2021-04-28 19:18] Virtual-Josh opened #7461 "Composer web app bots have dialog breaking/non-performant behavior on 1st interaction in Azure"
## Describe the bug
Web app bots are slow to update/register state when talking to it in azure. It seems like a performance issue with dialogs breaking after a fresh deploy. Things work more or less as expected after you talk to the bot for a bit and restart the conversation.

This might not be a P0, but opening user experience here is so poor it's worth looking at.

## Version
Version:  2.0.0-nig

[2021-04-28 19:46] benbrown opened #7462 "New create flow telemetry events"
Dewain has identified these additional telemetry events he would like to capture:

- [ ] * Track when the new bot dialog is opened
- [ ] * Track when the cancel button in the create flow is clicked
- [ ] * Track telemetry of Webapp vs Functions choice
- [ ] * Track telemetry of JS vs .NET choice
- [ ] * Track the success or failure status of new provision profiles.
- [ ] * Track the success or fai

[2021-04-28 20:30] a-b-r-o-w-n commented on #6963
I have identified the root cause. We need to get an ARM token in order to work with MSA accounts. We will need to port the tenant selection UX from `azureProvisionDialog.tsx` to `ManageService.tsx` as well as `ABSChannels.tsx`. I have also written a guide to help the engineering effort.

## Getting an ARM token process

ARM tokens are required for managing Azure resources with MSA accounts (person

[2021-04-28 20:33] mewa1024 commented on #6808
The solution will take more investigation: at this time we don't have a reliable way to determine if a folder is a bot project folder. Recommending we remove the "Save As" button completely for until we are able to implement a "Save As" action on the project foler.

[2021-04-28 20:35] stevkan commented on #7303
@mn-invia, thank you for your patience while I looked into this. When I attempt a repro I am able to setup a multi-choice prompt, set the 'Allow Interruptions' flag to `true`, and it works fine for me. If I type in a response that is not on the list, I am reprompted. If I type in 'cancel', then the dialog is cancelled and I am returned to the parent dialog.

Two questions:

What does your cancel t

[2021-04-28 21:06] #6561 closed

[2021-04-28 21:09] #7449 closed

[2021-04-28 21:09] #7454 closed

[2021-04-28 21:26] cwhitten commented on #7456
@Virtual-Josh do you have any call-sites to the skill in the parent once you removed it from the project?

[2021-04-28 21:30] Virtual-Josh commented on #7461
as a quick side note, this was in the opening call for the bot

[code]

[2021-04-28 21:39] Virtual-Josh commented on #7456
After taking a 2nd look I did have 1 call site remaining. Removing it resolved the issue.

So this is now the open question: Is the current error's implementation for what is effectively a null referenced skill a P-0 issue?

@sgellock do you have an opinion here?

[2021-04-28 22:00] cwhitten commented on #6963
@VamsiModem will need a design peer on this. @emivers8 would this be you?

[2021-04-28 22:04] tdurnford commented on #7280
@garypretty @cwhitten @sgellock

I updated all of the pipelines to use the connection string instead of the instrumentation key, and @kaerm verified that the nightly builds using the connection string are still logging telemetry data to App Insights.

@kaerm Thanks for your help!

[2021-04-28 22:04] #7280 closed

[2021-04-28 22:08] srinaath commented on #7444
Adding another issue seen on the runtime migration branch. The window.isElectron variable is not set due to preload.js script not loading (closely related [fix: refactor way we get COMPOSER\_VERSION by a-b-r-o-w-n · Pull Request #7326 · microsoft/BotFramework-Composer (github.com)](https://github.com/microsoft/BotFramework-Composer/pull/7326)

Any features that need to be enabled specifically in t

[2021-04-28 22:09] cwhitten commented on #7444
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/7373, please communicate on that ticket

[2021-04-28 22:09] #7444 closed

[2021-04-28 22:12] srinaath commented on #7373
Adding another issue seen on the runtime migration branch. The window.isElectron variable is not set due to preload.js script not loading (closely related [fix: refactor way we get COMPOSER\_VERSION by a-b-r-o-w-n · Pull Request #7326 · microsoft/BotFramework-Composer (github.com)](https://github.com/microsoft/BotFramework-Composer/pull/7326)

Any features that need to be enabled specifically in t

[2021-04-28 22:18] #7236 closed

[2021-04-28 22:18] #7162 closed

[2021-04-28 22:37] thomas-chung opened #7464 "Inconsistent UI element for signed in user in the create publish profile flow"
## Describe the bug

Within the same flow for a logged in user, the "Sign out" link is different between the "Add new publishing profile" pane to the "add resources" pane.

Example 1 (see sign out link in bottom left):
![image](https://user-images.githubusercontent.com/9922190/116481012-41784200-a837-11eb-8c03-47c0c8bfa79a.png)

Example 2 (see sign out link in bottom left, much nicer and is inline

[2021-04-28 22:41] Dewain27 opened #7466 "Help with defining the RBAC needed for Publishing to be succesful"
## Describe the bug

We need to define the minimal RBAC needed in Azure to complete a publishing action for bots for all configurations.  Such as: QnA Maker, LUIS , ComosDB, etc.  This way we can document out the minimum requirements in Azure and include this guidance in the Admin Handoff pattern.

[2021-04-28 22:52] benbrown commented on #7091
This was merged into the main migrate branch from #7460.

[2021-04-28 22:52] #7091 closed

[2021-04-28 22:59] sgellock commented on #7162
Shiproom - you guys merged a PR that didn't have a ship room approved issue.  let's follow the process or I'm going to ask you to back these out in the future.

I've assed Shiproom-Approved to keep the bookkeeping correct.  :-(

[2021-04-28 22:59] sgellock commented on #7236
Shiproom - you guys merged a PR that didn't have a ship room approved issue.  let's follow the process or I'm going to ask you to back these out in the future.

I've assed Shiproom-Approved to keep the bookkeeping correct.  :-(

[2021-04-28 23:04] v-kydela commented on #6518
@hebaelfadly - Like @feich-ms said, the answer to your question is no. I will close this issue as resolved.

[2021-04-28 23:04] #6518 closed

[2021-04-28 23:10] Dewain27 commented on #7428
@mareekuh please verify that you are on the latest nightly build.  This was supposed to be fixed in the latest.  If you are on the latest build, can you provide the build information for us to triage?

[2021-04-28 23:11] thomas-chung opened #7467 "Publishing Enterprise People bot to PVA fails"
## Describe the bug

Publishing profile allows us to create profiles for publishing to Power Virtual Agent. Normally when testing our enterprise skills we default choose Publish to Azure and that flow works. However, if we choose to publish PVA the flow fails in the deploy stage with following errors:
[code]

There are a couple of sub-issues we think:
1. The PVA publishing scenario was not part of

[2021-04-28 23:15] sgellock commented on #7280
Thanks @tdurnford

[2021-04-28 23:17] Dewain27 commented on #7425
@emivers8 I think I got this one already working for you.   Can you please confirm that this is still an issue?

[2021-04-28 23:17] a-b-r-o-w-n opened #7468 "[PVA] Default Recognizer shows up twice"
![MicrosoftTeams-image](https://user-images.githubusercontent.com/3619060/116484075-2f999d80-a83d-11eb-9fea-bf727085badb.png)

[2021-04-28 23:26] srinaath commented on #7438
After the team discussion on this item the approach we take is 

The MRU list would show just the path to the Root Bot. For ex MRU would show `users/tester/enterprise_assistant/enterprise_assistant` and not `users/tester/enterprise_assistant` which is the folder containing the Root Bot, the sln file(if dotnet) and the other skills shipped in the template. The runtime templates does not give us eno

[2021-04-28 23:36] sgellock commented on #7468
@a-b-r-o-w-n removing ship room approved, as it hasn't gone through ship room.  #gunslinger

[2021-04-28 23:42] JonathanFingold opened #7470 "Skills: Unknown intent is not an option for a task when creating a manifest."
## Describe the bug

The unknown intent is the only logical task for my echo skill, as designed. I can't choose the unknown intent as the task the skill can perform.

## Version

Version:  2.0.0-nightly.240624.c8283fa
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

-

[2021-04-28 23:45] martinlarosa commented on #3339
I'm very confused now, I'm using bf luis cli to do the publishing an it still adds the version in the json

[2021-04-28 23:51] #7438 closed

[2021-04-28 23:52] Virtual-Josh opened #7471 "Add check for func runtime during creation to prevent downstream problems"
## Describe the bug
Function bots don't start. There's an error saying `'func' is not recognized as an internal or external command, operable program or batch file.`

## Version
Version:  2.0.0-nightly.240366.4a6ec2c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [

[2021-04-28 23:52] mn-invia commented on #7303
Hey Steven,

Many Thanks for that.

Yes….I also have the same scenario, When I also type in a response that is not in the list….It re-prompts me promptly. What I needed was when the user is given a Multi-choice prompt and instead of selecting one of the options provided, if he tries to have ‘small-talk’ chat with the bot….it does not recognize it. For example…..the user instead of choosing one of

[2021-04-28 23:58] Virtual-Josh commented on #7471
Same issue applies to Node bots. The error looks slightly different, but appears to be the same at the top level:

[code]

[2021-04-29 00:05] luhan2017 commented on #6760
synced with the customer offline, the issue is resolved now.

[2021-04-29 00:05] #6760 closed

[2021-04-29 01:14] peterinnesmsft commented on #7471
This looks to be due to not having [Azure Functions Core Tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash) installed and registered under PATH. This is a requirement in order to be able to run Azure Functions applications on both .NET and JS locally. This is typically installed by Visual Studio when installing with Azure Functions suppo

[2021-04-29 01:24] #7206 closed

[2021-04-29 01:39] Virtual-Josh commented on #7471
Installing the core tools resolves the issue for me.

[2021-04-29 01:43] luhan2017 commented on #7470
The unknown intent sounds like a by-default choice. I think user don't need to select it specifically, it is naturally supported. Either select or non-select it, the manifest will be generated for the same content. @darrenj @gabog, thoughts?

[2021-04-29 01:46] Virtual-Josh opened #7472 "Function bots don't pick up LUIS app ID"
## Describe the bug
Function bots do not appear to pick up the LUIS app ID from app settings despite the data being populated in the field.

## Version
Version:  2.0.0-nightly.240366.4a6ec2c
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [

[2021-04-29 02:20] luhan2017 commented on #5354
Sure, are you OK to have a live session with me today? I am in Beijing UTC+8. I will be on vacation from 4/30 to 5/5. Or we can talk after I am back.

[2021-04-29 06:55] peterinnesmsft opened #7473 ".gitignore for newly created bots should include generated directory"
## Describe the bug

It appears that, upon creating a new bot through Composer, a .gitignore file is generated in the created project. As per the ask originally outlined in https://github.com/microsoft/botframework-components/issues/953:

[.gitignore](https://github.com/microsoft/botframework-components/blob/main/generators/generator-bot-adaptive/generators/app/templates/dotnet/webapp/.gitignore)

[2021-04-29 08:19] boydc2014 opened #7476 "Composer overwrite manually added languages files"
## Describe the bug
When adding a new language in composer, composer will create language files (lg, lu, qna) files based on current language's content. When there is already a file with the expected name in disk, composer will override the file.

This will disrupt make some workflow, in which content authors translated the language files outside composer, and copied back to composer, then add a l

[2021-04-29 09:12] HanumantPatil commented on #1820
I am using adaptive cards with Bot framework composer, I am facing an issue while submitting empty fields in the adaptive card.

How we can apply validation in adaptive cards with bot composer.

![image](https://user-images.githubusercontent.com/18139035/116524069-9463ff00-a8f4-11eb-9a07-8968bd80ca6d.png)

We ran into a problem executing your composer dialog. Can not convert Object to String.

[2021-04-29 09:13] HanumantPatil commented on #1820
Sorry, the bot can't talk for a while. It's something the bot's owner needs to address. Error code: 2023. Conversation ID: IT7ZlBeSrMGLRuFHaliH1X-c. Time (UTC): 4/29/2021 9:12:58 AM. Can not convert Object to String.

We ran into a problem executing your composer dialog. Can not convert Object to String.

[2021-04-29 11:13] cxbuilders opened #7479 "Proactive Message Delay in Client"
This is a bit of an overlapping issue between Sdk / Composer / Client, however posting it here.

I have developed an handoff integration with Genesys that is built around a websocket that calls ContinueConversationAsync when a new message arrives from an Agent. This is then picked up in Composer and send to the user:
![image](https://user-images.githubusercontent.com/49873947/116541648-02f08f00-a8

[2021-04-29 11:23] darrenj commented on #7280
Thanks @kaerm and @tdurnford !

[2021-04-29 11:25] BhattMeet98 opened #7480 "Unable to Publish Composer Bot App"
Hello Everyone,

I am trying to publish my composer bot app in Azure.

I am referred below links of Microsoft for the same,

1. https://docs.microsoft.com/en-us/composer/tutorial/tutorial-introduction
2. https://docs.microsoft.com/en-us/composer/how-to-publish-bot

I have created a bot with add LUIS as mentioned in the above first link. then I follow the second link but got an error while publishi

[2021-04-29 13:13] cwhitten commented on #7456
I've got the following to help clear this up:

<img width="1389" alt="Screen Shot 2021-04-29 at 6 12 20 AM" src="https://user-images.githubusercontent.com/1156704/116556083-f18a9100-a8b1-11eb-9382-23848387474f.png">

[2021-04-29 14:14] gabog opened #7483 "Composer nightly build won't start bots"
## Describe the bug

The latest nightly build hangs on starting a bot

![image](https://user-images.githubusercontent.com/12264946/116565183-9ff2fe00-a8d3-11eb-8836-14a5ea109ac4.png)

## Version

Version:  2.0.0-nightly.240913.4390cd8
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Get the

[2021-04-29 15:03] benbrown commented on #6555
The publish button is back here:

https://github.com/microsoft/BotFramework-Composer/pull/7484

[2021-04-29 15:15] HabeebunnishaMohammad commented on #7314
@dmvtech Actually when I deleted the dialogs from my composer. It started running again. We I exceed my dialogs above 10. Its showing time out error.

[2021-04-29 15:17] cwhitten opened #7485 "When adding a local bot to a project, Orchestrator should be installed"
Similar to when connecting a remote skill, we should also run through the same installation steps to pull in Orchestrator when local bots are added to the project.

[2021-04-29 15:20] sgellock commented on #7473
Shiproom - approved this and the second half.  please ONLY do .gitignore changes as approved here.  let's not do anything with deploy scripts.

[2021-04-29 15:26] sgellock commented on #7471
Shiproom - we should add a dependency check for Az func CLI.  Also we should add a message at the point of failure to also educate the user that a dependency is missing.

[2021-04-29 15:27] sgellock commented on #7468
Shiproom - uncle Andy, please merge your PR after review

[2021-04-29 15:29] #7468 closed

[2021-04-29 15:31] sgellock commented on #7462
Shiproom - approved

[2021-04-29 15:32] a-b-r-o-w-n opened #7486 "[PVA] relax naming constraints for bots imported from PVA"
PVA bot names do not need to be as constrained as they are from BF created bots. The only ask is to allow `-`.

[2021-04-29 15:33] sgellock commented on #7461
Shiproom - moving out of R13 to R14

[2021-04-29 15:34] sgellock commented on #7433
Shiproom - @Virtual-Josh we're not able to repo.  can you repro?  if so, can you reach out to @GeoffCoxMSFT

[2021-04-29 15:36] sgellock commented on #7420
Shiproom - approved.  please get PR reviewed and merged today.  thank you

[2021-04-29 15:46] sgellock commented on #7324
Shiproom - closing as we are unable to repro

[2021-04-29 15:46] #7324 closed

[2021-04-29 15:47] cwhitten opened #7487 "Update 2.0 links to point to 2.0 docs"
This issue represents all the places we need to update links (Composer, Schema, etc.) to reference the correct docs version

[2021-04-29 15:50] sgellock commented on #6808
Shiproom - expection for this one is that the Save As button is removed for R13, and we'll revisit this flow post R13

[2021-04-29 15:51] sgellock commented on #6555
Shiproom - approved

[2021-04-29 16:08] JonathanFingold commented on #7470
I will run with that assumption for now. The messaging in the UI is confusing on that front, but can be fixed later.

[2021-04-29 16:17] v-kydela commented on #7480
@BhattMeet98 - Did you post this question? https://stackoverflow.com/questions/67316290/unable-to-publish-composer-bot-in-azure

[2021-04-29 16:36] srinaath commented on #7480
@BhattMeet98 Could you specify the version of Composer you are using and fill in the required details in the github issue template?

[2021-04-29 16:38] srinaath commented on #7479
@cxbuilders Do you experience the same when using the integrated webchat experience in Composer?

[2021-04-29 16:39] Virtual-Josh commented on #7433
I worked with Geoff yesterday and it appears the problem is once Composer expires your login credentials due to inactivity it doesn't subsequently reprompt you to login again. I was able to repro that twice yesterday with Geoff. I'll copy this message over to the other ticket since it's very likely these are dupe tickets.

[2021-04-29 16:40] Virtual-Josh commented on #7343
Copying update from linked related ticket:

It appears the problem is once Composer expires your login credentials due to inactivity it doesn't subsequently reprompt you to login again. I was able to repro that twice yesterday with Geoff.

[2021-04-29 16:40] v-kydela commented on #7479
@cxbuilders - I wonder if this might be related to the rendering issue I reported here: https://github.com/microsoft/BotFramework-Emulator/issues/2262

I can see that they're not the same issue, because you're saying the activity appears in the log at the right time and doesn't appear in the transcript until later, and in my issue you can see that the messages appear in the log and the transcript

[2021-04-29 16:50] ctharmon722 commented on #6712
We have/are trying it. So far, we have been able to get the echo bot connected to our bot, but we are not able to get our actual dialogs running. We are still trying to troubleshoot and could love any other examples/documentation available.

[2021-04-29 16:57] lauren-mills commented on #6423
@philip-mc - Can you elaborate on how you are combining your C# code with your declarative files in Composer? We do not recommend combining the two approaches in the same bot (for these exact sorts of issues). Our recommended approach to using both would be to use the skills architecture to handle communication between C# bots and declarative bots. But it would be good to understand your scenario.

[2021-04-29 16:59] srinaath commented on #7483
@gabog We have a rogue nightly in the pipeline. Pushing a stable nightly in a few minutes.

[2021-04-29 17:02] GeoffCoxMSFT commented on #7433
I am pretty confident this is a dupe of #7343, so will close this.  If we discover different we can re-open.

[2021-04-29 17:02] #7433 closed

[2021-04-29 17:11] Virtual-Josh opened #7489 "Dotnet function bots spin indefinitely while trying to start"
## Describe the bug
When I try to start a dotnet function bot it's just spins indefinitely trying to start the bot. If you look at the screenshot below it appears it's stuck in an infinite loop. A new record comes in every ~1 second.

## Version
Version:  2.0.0-nightly.240913.4390cd8
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distrib

[2021-04-29 17:12] srinaath commented on #7489
Closing as its a dupe of [Composer nightly build won't start bots · Issue #7483 · microsoft/BotFramework-Composer (github.com)](https://github.com/microsoft/BotFramework-Composer/issues/7483)

[2021-04-29 17:12] #7489 closed

[2021-04-29 17:44] JonathanFingold commented on #7470
The default appears to be **event**, instead of **unknown intent**!

[code]

[2021-04-29 17:47] vivekkshankar commented on #7470
@luhan2017 Is this behaviour by design?
I.e we're assuming there insn't a scenario where a skill would handle unknown intent but the root bot would and therefore we dont expose it as a choice. We should verify this.

if its not by design or if we default to it - it should be exposed in the UI

@darrenj @mareekuh Can you help with some context here?

cc @mewa1024

[2021-04-29 17:50] cxbuilders commented on #7479
@v-kydela I don't think that's related as the delay does not occur when the bot is responding to a user activity. On the webchat it's the same, if it would only be emulator it would not be a problem.

[2021-04-29 17:51] JonathanFingold commented on #7470
My 2 cents:
- Intents are sub types of message activities.
- Unknown intents are a sub type of all activities, effectively.
- If we don't allow the unknown intent to be included in the manifest, we don't allow a skill to handle a generic message without a recognizer in the consumer bot.

@gabog may be able to clarify.

[2021-04-29 18:00] v-kydela commented on #7479
@cxbuilders - Do you have a minimal example that can help us reproduce this problem? Does this only occur when you're using your Genesys handoff integration, or can you reproduce it with an ordinary proactive message?

[2021-04-29 18:05] Virtual-Josh commented on #7472
This repos in the current nightly version: 2.0.0-nightly.241057.db66154

[2021-04-29 18:06] vivekkshankar commented on #7360
@mareekuh  sure, it does stick out. I agree.

For context here are the reasons for the grey:
- Allows us to make it a transparent layer so one can see behind.
- Helps us create sufficient contrast with the backgroud.
- Avoids having multiple z levels and similar looking UI elements in the canvas i.e the nodes themselves.

P.S Looks like PVA made a change we didnt catch up with. They were dark grey

[2021-04-29 18:07] tdurnford commented on #7470
@JonathanFingold When a skill receives a message activity it runs the dialogs recognizer to determine the intent. At that point, if the result is an unknown intent, the `OnUnknownIntent` handler is trigger exactly like how a known intent would trigger the `OnIntent` handler.

For the same reason `OnIntent` triggers aren't included in the generate skill manifest wizard, `OnUnknownIntent` triggers a

[2021-04-29 18:07] pavolum commented on #6974
Closing this as it was resolved with the latest template RCs that have readme fixes and removed the 'code' text that caused horizontal overflow

[2021-04-29 18:07] #6974 closed

[2021-04-29 18:09] pavolum opened #7490 "Add template selection in add skills flow"
Need to allow users to select any non multi bot template in add new skills flow, new spec below
https://www.figma.com/file/4kfahZUjBdrxdDGZih7PVP/Composer-1.5-E2E-flows?node-id=862%3A53941

Multibot templates will have the following tag `msbot-multibot-project`

[2021-04-29 18:11] vivekkshankar commented on #7084
@mareekuh The language name here is trying to reinforce that the URL/content will need to be in the same langauge for it to work.
The same UI also scales to showing more locales if the user is creating a multi-lang bot like so.

![image](https://user-images.githubusercontent.com/67671676/116598173-60301480-a8db-11eb-875e-7a4ecb2c4d35.png)

Reason for this experience:
Due to limitations in the way

[2021-04-29 18:14] sgellock commented on #7490
Shiproom - talked with Patrick. Approved.

[2021-04-29 18:16] #7456 closed

[2021-04-29 18:17] GeoffCoxMSFT commented on #7343
I have determined that the Azure tenant token expires (for me) after 1 hour.  From then on, the getTenants returns an empty array.

![image](https://user-images.githubusercontent.com/28762486/116599091-7b4f5400-a8dc-11eb-8052-f02def7a4f4f.png)

[2021-04-29 18:23] hatpick opened #7491 ""Add new" button in publish your bot page is too wide"
Check the screenshot below:

![Screen Shot 2021-04-29 at 11 21 06 AM](https://user-images.githubusercontent.com/1483492/116599607-2cee8500-a8dd-11eb-83e5-0a99430e670f.png)

This means that if I move my mouse to the far right side of the page at the same height as the button, I can click it and get to the publish modal.

[2021-04-29 18:23] #7483 closed

[2021-04-29 18:30] sgellock commented on #7472
Shiproom - @peterinnesmsft once you have a PR, lets discuss.  feels like a must have, but want to talk through the fix before I approve.

[2021-04-29 18:32] emivers8 opened #7492 "Provisioning modal re-triggered after completion and screen blocked by notification that won't be dismissed"
## Describe the bug

Note: this is a blocking bug. I have to restart Composer.

After creating an Azure bot resource in ABS, opening in Composer, and completing the creation of a publishing profile, a notification shows resources are being created as expected. Then when it completes, either successfully or unsuccessfully, a notification appears confirming the result, but the notification can't be

[2021-04-29 18:38] chrimc62 commented on #6828
Usually this is caused by LUIS not recognizing entities.  Next time it happens, check the LUIS return data to see if it has the expected entities in it.

[2021-04-29 18:38] #6828 closed

[2021-04-29 18:40] JonathanFingold opened #7493 "Got error when trying to start bots after updating root bot to call external skill"
## Describe the bug

Got a JavaScript error after modifying my root bot and trying to restart all bots.

## Version

Version:  2.0.0-nightly.240913.4390cd8
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps t

[2021-04-29 18:42] JonathanFingold commented on #7493
Looks like this is due to Composer failing to kill the old bot process for the skill bot. From when I tested things locally.

[2021-04-29 18:49] JonathanFingold commented on #7493
Killing the old process via Task Manager did not get Composer's launch bots widget out of its hanging state.

[2021-04-29 18:51] #7420 closed

[2021-04-29 19:02] JonathanFingold commented on #7470
The skill defines three triggers: **Greeting** (ConversationUpdate), **Unknown intent**, and **stop** (Intent recognized). The skills manifest wizard lets me choose from **Greeting** and **stop**. When I chose none of them, the generated manifest included this:

[code]

[2021-04-29 19:06] cxbuilders commented on #7479
@v-kydela This happens with any proactive message, I have seen this happening with notification style messages from external systems, but that was never an issue. Direct chat between agent and user is ofcourse.

I don't have a minimal example, however I think a Custom Action with a loop in it that sends every 10 seconds or so an event that is picked up by Composer would do, as the emulator allows

[2021-04-29 19:07] cwhitten commented on #7493
@JonathanFingold can you please attempt this on the latest nightly? The version you're on was a bad version

[2021-04-29 19:08] cxbuilders commented on #7479
@srinaath Yes the integrated webchat does the exact same thing, steady 6/7 sec delay

[2021-04-29 19:14] vivekkshankar opened #7495 "[Share as a skill] Only root bot intents are shown in task selection. UI suggests that Dialog selection and subsequent intent selection are related but they are not."
UI suggests that Dialog selection and subsequent intent selection are related but they are not.

** 1: Select dialogs in share as a skill wizard:**
![image](https://user-images.githubusercontent.com/67671676/116605306-18fa5180-a8e4-11eb-989f-dba07f8472a2.png)

** 2: Intents shown in the subsequent screen only shows the root bot intents..**

![image](https://user-images.githubusercontent.com/676716

[2021-04-29 19:15] vivekkshankar commented on #7495
cc @mareekuh @darrenj @mewa1024

[2021-04-29 19:30] Virtual-Josh opened #7496 "Having VS open concurrently with Composer can cause command line cannibalization"
## Describe the bug
Installing the Teams package causes the bot to throw an error when building the bot

## Version
Version:  2.0.0-nightly.241057.db66154
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

Microsoft.Bot.Components.Teams
Installed: 1.0.0-rc7

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS

[2021-04-29 19:33] JonathanFingold commented on #7493
Did not repo with this latest build.

[2021-04-29 19:33] #7493 closed

[2021-04-29 19:47] JonathanFingold opened #7497 "Failure to access remote skill from local bot (401)"
## Describe the bug

- Published skill and consumer, so bot have app IDs and passwords.
- Skill should be allowing all callers (* added to allowed callers list).
- Get a 401 when trying to access skill from local root in Emulator.

## Version

Version:  2.0.0-nightly.241057.db66154
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribut

[2021-04-29 19:47] #7496 closed

[2021-04-29 19:51] JonathanFingold commented on #7497
Perhaps the _adaptive runtime_ is getting confused since I still have information about both skills (local and remote) in the root's config settings?
[code]
It shouldn't be, since the root is just calling the remote skill:
![image](https://user-images.githubusercontent.com/35047199/116609699-8b216500-a8e9-11eb-80b3-200efc6ffde1.png)

[2021-04-29 19:51] tdurnford commented on #7470
@JonathanFingold After looking at the code closer, you are correct. The 'Select tasks' step should include the `OnUnknownIntent` handler; however, it will just add a message activity to the activities. This is what the activities property should look like for selecting all the triggers including OnUnknowIntent in your scenario:

[code]

Not sure why selecting none of them would result in the objec

[2021-04-29 20:04] Virtual-Josh opened #7498 "Installing a package while a bot is running results in multi-project build errors"
## Describe the bug
If you install a package while a bot is running the underlying process isn't fully killed. As a result Composer gets into a bad state where the `Restart bot` button becomes `Start bot` but there's already an process running.

## Version
Version:  2.0.0-nightly.241057.db66154
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Elect

[2021-04-29 20:07] beyackle commented on #7491
I noticed another related bug here - there's a reveal-arrow dropdown thing inside the rows under the Publish tab (that reveals the Publish history) but it isn't accessible without making the window extremely wide.

[2021-04-29 20:10] darrenj opened #7499 "Start Bot spins infinitely when starting a bot (empty or basic assistant)"
## Describe the bug

When starting a Bot - either Empty Bot or Basic Assistant template based it is stuck in "Starting Bot" infinitely

## Version

2.0.0-nightly.240913

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a bot - Basic Assistant
2. Ass

[2021-04-29 20:12] GeoffCoxMSFT commented on #7343
I have a proposed fix for this and will get a PR out once I can verify (it takes an hour).  Then Tony can review when he's back.

[2021-04-29 21:00] Virtual-Josh opened #7501 "Node Function bots don't respond when testing in Azure"
## Describe the bug
Function bots throw a 502 when you try to test them from web chat

## Version
Version:  2.0.0-nightly.241057.db66154
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the beh

[2021-04-29 21:06] #7090 closed

[2021-04-29 21:11] benbrown opened #7502 "Publish process should detect if LUIS is required but absent from publishing profile"
Currently, if you publish a bot that uses LUIS, but the publishing profile does not have a LUIS resource, you get a misleading error:

`Error - failed to bind luis prediction resource to luis applications`

Yes, of course it failed! Because we have no keys set.

Rather than allowing this to fail, the publishing process should determine if all required resources are present and direct user to the "

[2021-04-29 21:14] benbrown commented on #7501
@joshgummersall Can you take a pass through the latest generators and check this out?

[2021-04-29 21:16] joshgummersall commented on #7501
@Virtual-Josh functions bots (especially JS) tend to take quite awhile to startup. `5XX` response codes, especially a `502`, tend to imply that a backend server did not respond. Did you see this soon after deploying your bot?

[2021-04-29 21:18] scheyal opened #7503 "Duplicate name exist when trying to create a new project (but no such folder on disk)"
## Repro
* Open project X
* Close project X
* renmame folder X on disk to Y
* Create new project X
* --> Error: ```Duplicate name```
* Check disk. Name does not exist.

### Workaround
* Shutdown Composer & restart.

## Version

Version:  2.0.0-nightly.241057.db66154
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Visual

![image](https://user-images.githubuserco

[2021-04-29 21:19] #6555 closed

[2021-04-29 21:25] benbrown commented on #7499
I cannot reproduce this in the latest nightly..  Is `2.0.0-nightly.240913` one of the migration frankenbuilds?  I don't see it in our releases list...

[2021-04-29 21:31] benbrown commented on #7413
@guendas - I believe this may be because the name of your LUIS endpoint key does not match the expected pattern of [name]-[end]-luis.

Can you add `luisResourceName` field to your publishing profile, and set it to the name of your LUIs endpoint key resource?

[2021-04-29 21:36] Virtual-Josh commented on #7501
@joshgummersall I did. However I also just poked it again since it should have had more time to sort itself out and it's still throwing the same error ~30 minutes later. Also I used a dotnet function bot.

[2021-04-29 21:57] #6230 closed

[2021-04-29 21:58] benbrown commented on #7498
Same as #5969

[2021-04-29 21:59] #6134 closed

[2021-04-29 21:59] #6148 closed

[2021-04-29 22:00] benbrown commented on #6231
This has been updated to show any package with the appropriate set of tags.

@tomlm let me know if you have issues in the latest builds.

[2021-04-29 22:00] #6231 closed

[2021-04-29 22:01] benbrown commented on #6277
This was related to the selection criteria requiring that a package contain schema to be displayed.  It now uses the `msbot-` tags to determine if a package should be displayed here.

[2021-04-29 22:01] #6277 closed

[2021-04-29 22:02] benbrown commented on #7026
It will default to the appropriate feed based on the runtime language.

We decided to show the other languages as well but disable the ability to install them if they are not compatible.

[2021-04-29 22:02] #7026 closed

[2021-04-29 22:17] pavolum commented on #7462
Dewain has identified these additional telemetry events he would like to capture:

- [ ] * Track when the new bot dialog is opened;`
  - `TelemetryClient.track('NewBotDialogOpened', {
                isSkillBot: boolean,
                fromAbsHandoff: boolean,
              }); `
- [ ] * Track when the creation modal is closed due to user clicking cancel or clicking outside the modal
  -     Tele

[2021-04-29 22:26] joshgummersall commented on #7501
There is an issue where the NPM `~4.13.0-preview` resolved to older SDK release candidates. Locally, this actually yielded different versions of several `botbuilder-*` packages. Currently, we use some `instanceof` checks in the code, so the end result was exceptions due to `instanceof` failing due to conflicting versions loading at runtime. This issue will be fixed with the next RC of templates.

[2021-04-29 22:29] #7490 closed

[2021-04-29 22:31] #7471 closed

[2021-04-29 22:31] #7473 closed

[2021-04-29 22:33] sgellock commented on #7499
I"m not able to repro this on the latest nightly:
Version:  2.0.0-nightly.241057.db66154
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

<img width="1306" alt="Screen Shot 2021-04-29 at 3 31 18 PM" src="https://user-images.githubusercontent.com/733559/116626504-2f160b00-a900-11eb-8e7a-fd0410b0f2f0.png">

[2021-04-29 22:33] #7499 closed

[2021-04-29 22:37] benbrown opened #7505 "Provision a linux host for JS functions apps"
The Javascript Azure Functions runtime deploys faster and runs more smoothly on the linux appservice than it does on the windows appservice.

We should detect this combination during provisioning, and apply the appropriate settings.

[2021-04-29 22:37] benbrown commented on #7505
@joshgummersall  can provide more details!

[2021-04-29 22:38] joshgummersall commented on #7505
I'd suggest the same for Web Apps as well.

[2021-04-29 22:38] sgellock commented on #7492
Thanks @emivers8 for further scoping this.  super helpful

[2021-04-29 22:45] srinaath commented on #7487
Level of Effort estimate
https://github.com/microsoft/botbuilder-dotnet/tree/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Schemas/Actions - All UI schema files that list "helplinks" need to be updated to build the consolidated UI schema which in turn is used by bf-dialog.
2\. UI Plugins that override the UI Schema of Composer (32 occurrences)
3\. Composer UI Components and unit test files

[2021-04-29 22:53] cwhitten commented on #6808
R13 scope has been met, re-labeling to be scoped in a future milestone.

[2021-04-29 23:02] beyackle commented on #7491
I'll make a separate issue to track that one; for now I'll just fix the problem as stated here.