[2021-01-05 17:44] #5439 closed

[2021-01-05 17:45] tonyanziano commented on #5438
@sangwoohaan any thoughts on this?

[2021-01-05 17:47] tonyanziano commented on #5436
@luhan2017 @benbrown can one of you investigate?

[2021-01-05 17:49] tonyanziano commented on #5427
Thanks for pointing this out. We plan to fix this in the upcoming release.

[2021-01-05 17:51] JaskeeratBedi-cmk commented on #5449
@tonyanziano created this issue after discussing with @luhan2017 & @Wenyi Luo. The idea is to have a modal pop-up whenever user tries to exit Composer, if the provisioning is in progress.

Will have to think about the right interaction if Composer is being used in browser, application...

[2021-01-05 17:52] tonyanziano commented on #5424
Closing due to inactivity. Please feel free to reopen after providing the details described above by @joshgummersall

[2021-01-05 17:52] #5424 closed

[2021-01-05 17:57] #5400 closed

[2021-01-05 17:58] tonyanziano commented on #5419
@cosmicshuai can you please take a look at this?

[2021-01-05 18:04] tonyanziano commented on #5397
@garypretty can you comment on this?

[2021-01-05 18:08] tonyanziano commented on #5390
.NET sdk 3.1 is a requirement, so that is expected, however, the `[object object]` error message appears to be a potential bug.

[2021-01-05 18:11] tonyanziano commented on #5385
@sangwoohaan any update on this?

[2021-01-05 18:14] tonyanziano commented on #5383
@chrimc62 this looks to be an inconsistency between what the form generation library produces and what composer does natively

[2021-01-05 18:17] tonyanziano commented on #5423
Hi @DS2019 ,

Do you happen to see anything in the network tab / console if you open DevTools with "Ctrl + Shift + I" before attempting the publish?

Any console errors or network responses higher than 400?

[2021-01-05 18:33] DS2019 commented on #5423
Hi @tonyanziano - When I open up the publish page I get errors right away:
![PublishPage](https://user-images.githubusercontent.com/44073678/103684893-2b214000-4f41-11eb-83b3-b6113ecf9775.jpg)

[2021-01-05 18:34] DS2019 commented on #5423
When I change to "Publish to PVA" nothing changes in the developer view. When I press to Publish, no changes:
![PUblishPVA](https://user-images.githubusercontent.com/44073678/103685159-95d27b80-4f41-11eb-8647-71c5c46fec11.jpg)

[2021-01-05 18:43] zxyanliu commented on #5350
@DS2019 I am wondering if you are still blocked and if I should close this issue as the doc has been updated. :-)
Please let us know if you still have any questions.

[2021-01-05 18:49] tonyanziano commented on #5423
I'm going to see if I can reproduce this

[2021-01-05 19:03] #2092 closed

[2021-01-05 19:03] #2203 closed

[2021-01-05 19:08] #3796 closed

[2021-01-05 19:15] gabog commented on #4156
Hi @garypretty, can you review this one?

[2021-01-05 19:25] garypretty commented on #4156
@BeheraMadan can you please try running the following query against the Application Insights instance on both dev and prod environments and let us know the results?  Viewing the number of users in the Analytics tab is not pulling data from the same place, so this is not useful in this instance.

let queryStartDate = ago(14d);
let queryEndDate = now();
let groupByInterval = 1d;
customEvents
| where

[2021-01-05 19:33] garypretty commented on #5397
@hraz-msft just to clarify, are you specifically looking to check the last time seen when the user sends another message, as opposed to having some form of background job checking for you?  If so then you can do this today by adding the Activity received trigger and setting a condition on the trigger to only fire if a certain amount of time has elapsed.  If it has and the trigger fires then you co

[2021-01-05 19:34] gabog commented on #5441
Thanks @ttur, we will address this in a future release.

[2021-01-05 19:36] garypretty commented on #5345
Suggest we address this in 1.4 - I have marked it as a P1 given 1.2 works right now.

@cwhitten can you assign as needed?

[2021-01-05 19:39] dmvtech commented on #5450
Hi @deepak1959 This appears to be an issue with your Environment. Specifically, that the Windows group policy is not allowing that application to run. I think it is the bot/runtime that is probably not allowed, not the authoring Composer application (which your admin team already installed for you).

Please work with your administration team to further troubleshoot and investigate. You may want to

[2021-01-05 19:43] sangwoohaan commented on #5385
I had spoken with Jas – will work on this later. This needs more investigation on user flows.

[2021-01-05 20:03] narulasrinivas commented on #3248
@cwhitten - Thanks for that. Please close this ticket. I'll open a new one.

[2021-01-05 20:07] narulasrinivas opened #5451 "Bot published to Azure: "" is not a valid LUIS application id"
Created project using OOB sample (QnAMakerSample) in BOT Composer

It is not working locallu and even after publishing the bot to Azure, I always get following in the webchat: “” is not a valid LUIS application id.

## Version

BOT Composer 1.3.0 and BOT Emulator 4.11.0 in Windows 10.

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
-

[2021-01-05 20:29] MoesLab commented on #5424
I have deleted the resources, I will start it again and take notes. if the
problem persists I will let you know.
Regards,

On Tue, Jan 5, 2021 at 12:52 PM Tony Anziano <notifications@github.com>
wrote:

[2021-01-05 20:39] hraz-msft commented on #5397
No, what I meant is, like the intent trigger, "unrecognized intent" and all other triggers. It will be useful if Composer add a "Stale Trigger" or "Timeout Trigger, that will be called after a certain amount of time (the timeout can be configured in the trigger props).

I know it is possible, but I honestly think that adding custom adding manual Activity is overkill and Composer can easily add thi

[2021-01-05 21:15] MoesLab commented on #5424
Is there any video showing how to set up and connect a bot created by the
composer app (installed on any PC) to resources particularly with QnA and
LUIS and publish it to Azure. not only shows how to create and modify
intents?
I don't have a clear view of all prerequisites needed for all these steps,
it looks there are multiway to do the same thing.
I understand the whole thing is under developmen

[2021-01-05 21:25] tonyanziano commented on #5423
Unfortunately I cannot reproduce this.

Could you please capture your network activity via a tool like Fiddler while you attempt to use the publishing flow?

It also might be helpful if you could send me the `publishTargets` property of your bot's `appsettings.json` file. You can find this in the `/settings/appsettings.json` file wherever you have saved your bot.

Feel free to send the exported ne

[2021-01-05 21:29] clearab commented on #5026
On the caching - just want to make sure we're checking for a stale cache based on version of the templates/packages before taking what is there?

[2021-01-05 22:04] sangwoohaan commented on #5438
Global settings would also be confusing since it can read as global configurations that affect all the bots in the bot project. An alternative would be Application settings which sounds more confusing (at least to me). Since this is the first time this naming issue has been brought up, we will collect more data on this.

[2021-01-05 22:33] gabog opened #5452 "Add support to pass the botproj file to composer.exe so I can associate botproj files with composer"
## Describe the solution you'd like

I'd like to be able to right click on a botproj file and have that file opened by composer so I can jump right into my project rather than having to open the botproj file from the composer home screen.

![image](https://user-images.githubusercontent.com/12264946/103706985-d5b65480-4f7b-11eb-8c7b-dcdc09deaa55.png)

## Describe alternatives you've considered

I m

[2021-01-05 23:03] MoesLab opened #5453 "Response status code does not indicate success: 403 (Forbidden)."
## After creating a Weather sample chatbot and going through creating resources in Azure I copied the Authoring key and prediction key from Azure and filled them onto LUIS authoring key and LUIS endpoint key in Bot framework Composer Project Settings,  and restart the bot and test in the emulator. the welcome message shows up but when I type Hi and press enter I will get a message like
Response st

[2021-01-05 23:07] MoesLab commented on #5453
<img width="929" alt="LUIS keys" src="https://user-images.githubusercontent.com/5963372/103709536-bf5ec780-4f80-11eb-9a52-5d2c671ef4f2.PNG">

can anybody tell me where I should get LUIS authoring key and LUIS endpoint key in the context of the pic?

[2021-01-06 01:09] arturl opened #5454 "Cannot open bot, "Could not connect to storage""
## Describe the bug

"Open" button to open existing bots is broken

## Version
1.3

## Browser

- [x ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Install Composer
Click Open button

## Actual behavior

Error: "Could not connect to storage"

## Expected behavior

Must pr

[2021-01-06 01:09] arturl commented on #5454
More info: restarting the Composer app or even reinstalling it did not help

[2021-01-06 01:23] arturl commented on #5454
Found a similar issue: https://github.com/microsoft/BotFramework-Composer/issues/3552

Developer tools has these errors (if it helps):

Error fetching focussed storage folder: TypeError: Cannot read property 'reduce' of undefined
s @ shared.ts:28
moment.js:270 Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls back to js Date(), which is not

[2021-01-06 02:24] cosmicshuai commented on #5419
@tonyanziano  Sure. I will look into this issue. Looks like I should update the regex pattern for entities.

[2021-01-06 02:56] #4996 closed

[2021-01-06 03:22] chrimc62 commented on #4822
Comments are an important part of the LU file format and definitely need to be preserved in the file.  I suspect they are also useful in the table view.  From a parser standpoint, I believe the issue is that comments are treated as trailing and that is almost never what you want.  In the below, I think comments immediately preceding a template should be part of the template, i.e. 1 below should be

[2021-01-06 03:52] luhan2017 commented on #5436
@bdezeeuw , could you please help provide more information here? Click View->Toggle Developer Tools. and share the Console logs.
![image](https://user-images.githubusercontent.com/32191031/103726271-7572f180-5013-11eb-9d80-0db6ed884efd.png)

[2021-01-06 04:19] luhan2017 commented on #4873
@peterbozso，I didn't quite understand the scenarios here. We have two QnA sample bots for two different kinds of QnA usage:
- QnAMakerDialog
- QnARecognizer

In QnAMakerDialog, there is no authoring and publishing step in Composer, you create the qna from the portal, and copy the knowledgebaseid, endpoint and key into the settings to make it work. In this case, you need to fill in all the settings

[2021-01-06 04:35] NanheGupta opened #5456 "Not able to publish bot after upgrading composer to 1.3.0"
Not able to publish bot to Azure using Bot Framework Composer (v1.3.0).
## Describe the bug

When I click [Publish selected bots] it asks to login to Microsoft account.
When I enter my Azure credential it gives the below error.
"This username may be incorrect. Make sure you typed it correctly. Otherwise, contact your admin."

However, I am able to login to Azure portal or Microsoft account using t

[2021-01-06 07:19] MPCoreDeveloper commented on #5390
According to the MSFT Bot documentation only the runtime is required note there are 2 separate downloads https://dotnet.microsoft.com/download

Create a bot with .Net:   https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-sdk-quickstart?view=azure-bot-service-4.0

Prerequisites
ASP.NET Core Runtime 3.1
Bot Framework Emulator
Knowledge of ASP.NET Core and asynchronous progr

[2021-01-06 07:45] MPCoreDeveloper commented on #5450
If you are not a local admin you are at the mercy of the domain admin when it comes to group policies
f you are a local admin and you do not like to be trumped by the domain admin you have the power to leave the domain. However, you do not have the power to override the rules of the domain set forth by the group policy. (Well, you have, but only by hacking your way out the policies you do not like

[2021-01-06 13:07] bdezeeuw commented on #5436
Sure!  Here it is:

[ConsoleLog.txt](https://github.com/microsoft/BotFramework-Composer/files/5775899/ConsoleLog.txt)

[2021-01-06 14:04] Samirun commented on #5350
sorry for the late response. we can close this issue

[2021-01-06 15:06] deepak1959 commented on #5450
Please check the exception, it is trying to create a diagnostic process:  System.Diagnostics.Process.StartWithCreateProcess, which is being blocked. Is it required to run Bot? Please remember many users will have this king of restrictions.

[2021-01-06 15:14] MPCoreDeveloper commented on #5450
Your bot runtime is created by the composer and then executed  , so the program that creates the executable is allowed to run but the executable that is generated is NOT allowed to run on your system ( that is thus the problem )

[2021-01-06 16:41] mewa1024 commented on #5383
I'm seeing the issue on non-form dialogs as well. Here's a screenshot from the ToDo example (not the H in help):
![image](https://user-images.githubusercontent.com/39317542/103795508-eeb21a80-4ffa-11eb-807c-632ca067a945.png)

[2021-01-06 17:28] zxyanliu commented on #5350
Per @Samirun's request in the email: "sorry for the late response. we can close this issue".
I am closing this issue because it has been addressed.

[2021-01-06 17:28] #5350 closed

[2021-01-06 18:53] cwhitten commented on #5345
@kallejar and @tannguyen3 can you help clarify your needs?

I'm to understand that your company AAD policy has configured conditional access, requiring additional security measures in order to access Azure resources but you wish to workaround this constraint?

I'm happy to continue discussion, but as we see it now what was possible in 1.2.2 that you utilized wasn't a supported core scenario, and t

[2021-01-06 18:55] cwhitten commented on #5451
@luhan2017 can you please take a look at this?

[2021-01-06 18:57] cwhitten commented on #5454
@arturl is it possible you installed Composer for only your user instead of for all users on your machine, or it was installed to a directory with limited file system access?

[2021-01-06 19:18] gabog commented on #5448
@dmvtech, can you also consider #5451 when looking at this one?

Thanks

[2021-01-06 19:20] gabog commented on #5456
Hi @tonyanziano, can you assist here?

Thanks

[2021-01-06 19:31] tonyanziano commented on #5456
Hi @NanheGupta ,

If you are trying to login with a personal Microsoft account (non-work / school) then authentication will not work.

This is a configuration issue on our end and we are currently working to fix it, but we have to wait on an external team to make a change.

[2021-01-06 21:20] tannguyen3 commented on #5345
For me, my company has policy to grant publish permission for a special account which its password will be rotated every one hour, we need to sign in to a system to get the new password then with 1.2.1 I use 'az account get-access-token" to get the token for deployment.
With 1.3.0, I was able to login using the account, then few hours later it asked me to login again but keep throwing below error.

[2021-01-06 22:06] pedro-ramirez-suarez opened #5459 "Can't publish with a subscription from another Azure directory"
Hi,

My azure account it's managed by my company, one of our clients assigned a subscription for me on their directory, I am able to switch directories and create resources on both directories inside the Azure portal, but on Composer, I can only create resources on my default directory because I can only see and select the subscription from my default Azure directory.
Since I can't publish from Co

[2021-01-06 22:44] arturl commented on #5454
@cwhitten, yes, since that's the default option. Will try to reinstall for all and report back

[2021-01-06 22:47] arturl commented on #5454
Nope, installing to "C:\Program Files\Bot Framework Composer" did not help

[2021-01-06 22:58] managedcoder opened #5460 "Add tooling to QnA blade in Composer to support Follow-up prompt authoring"
## Feature Request
Currently, the tooling on the QnA blade in Composer only supports the authoring of alternate phrases but not the ability to author follow-up prompts.

## Describe the solution you'd like
The [.qna file format](https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-qna-file-format?view=azure-bot-service-4.0) does currently support follow-up expressions and I'v

[2021-01-06 23:08] cwhitten commented on #5454
Hmm. Could your machine possibly be in a similar issue as this comment? https://github.com/microsoft/BotFramework-Composer/issues/3552#issuecomment-660569235

[2021-01-07 00:11] cwhitten commented on #5345
@tannguyen3 to debug this, can you do the following:

1. Start the application from a terminal with the following environment variable setting: `DEBUG=composer*`
2. Step through the authentication scenarios running into the error
3. Copy/paste `stdout` from the terminal to this issue

[2021-01-07 00:13] cwhitten opened #5461 "Add configuration for stdout debug mode in the application settings page"
Having to start from the terminal time and again is a bear. Let's add a config option as well

[2021-01-07 00:23] dmvtech commented on #5448
Yes @gabog Currently investigating. Also #5008

[2021-01-07 00:43] dmvtech commented on #5379
hi @tannguyen3 Just checking in. Are you able to share your bot so that I can see if I can reproduce? Also; did you check the Azure portal, under _metrics_ to see if you could find any more info?

[2021-01-07 01:17] anusharavindrar commented on #5453
@MoesLab, you can follow the steps from step 7 onwards in [this](https://docs.microsoft.com/en-us/composer/tutorial/tutorial-luis#add-language-understanding-data-and-conditions) documentation which specifies how to add the authoring key and location. The endpoint key is optional.

[2021-01-07 01:30] luhan2017 commented on #5345
@tannguyen3 There is a logout button in the provision wizard as the following. Could you try to logout and login again as a work around?
![image](https://user-images.githubusercontent.com/32191031/103839544-964a4e00-50ca-11eb-94dd-d87189044b53.png)

@cwhitten, I think we may need to redesign on the logout feature, move from provision wizard to somewhere else in composer.

[2021-01-07 01:40] luhan2017 commented on #5451
@narulasrinivas I didn't reproduce this issue in my side. Could you help check if the following files are properly generated?

1. Could you check the recognizer dialog in your bot. The luis applicationId is set as the following:
"applicationId": "=settings.luis.QnAMakerLUISSample_1_en_us_lu.appId"
![image](https://user-images.githubusercontent.com/32191031/103840167-f261a200-50cb-11eb-8be1-b6ab9a4

[2021-01-07 01:42] srinaath opened #5462 "Performance: Project Tree performance bad on big projects"
A broad ticket to track the performance of ProjectTree component. The project to test performance is the CalendarSkill. Current benchmarks for just navigating between triggers in a project. Rerenders 12 times averaging 46ms for each click on a project tree item.

![render-4](https://user-images.githubusercontent.com/13004779/103840498-8426cc00-5046-11eb-91c6-bada0009635c.png)

![render-1](https://

[2021-01-07 02:04] arturl commented on #5454
My machine has no white spaces in paths that are relevant to Composer.

[2021-01-07 03:02] hibrenda commented on #5460
@vivekkshankar @cwhitten be aware of this

[2021-01-07 03:35] luhan2017 commented on #5436
@bdezeeuw , thanks for your response, I think we got an error when decoding your token. We still need your help to get more information here.
[code]

Could you follow the steps to get your token to debug?

1. Open commnd line tool and Go to the composer exe folder, usually located here: C:\Users\{YourUserName}\AppData\Local\Programs\Bot Framework Composer
2. run set debug=composer*
3. start Bot Fr

[2021-01-07 03:40] luhan2017 commented on #4458
@Khanh-Ngy we don't support proxy officially, but we do have a prototype which enables proxy for luis/qna and azure publish. Do you want to try our private version? it is based on composer v1.2.2.

[2021-01-07 03:54] Khanh-Ngy commented on #4458
Can you send me a link for researching ?

[2021-01-07 05:30] zxyanliu opened #5464 "Adding C#/JS custom action issue - reloading bot project to get the action added"
## Describe the bug

The reloading issue happened in both C# and JS custom action implementation.

After I ejected and customized the C#/JavaScript custom action,
* I was **unable** to see the custom action added by reopening the bot project from the Composer **Home** page.
* I was **able** to see the custom action added by opening another bot project and then reopening the one with the custom act

[2021-01-07 06:24] MoesLab commented on #5453
Thanks, I regenerated 1st key and update the Composer. and wow starts working.

[2021-01-07 06:34] yeze322 commented on #5464
I tried the C# flow, it's not working as well.

To keep schema files updated, the `/open` api should be fired when user manually reopen the project. However, according to current behaviour, only the first time you open a bot project will the `/open` api be fired. As a result, it broke the experience of using custom runtime in Electron.
![image](https://user-images.githubusercontent.com/8528761/103

[2021-01-07 06:54] narulasrinivas commented on #5451
@luhan2017 - I Checked these settings. It is matching to the giving files.

[2021-01-07 08:22] MoesLab opened #5465 "Trying to Add new publish profile in Composer asking for Microsoft login e-mail and it does not accept it, Why?"
## Describe the bug
Trying to Add a new publish profile in Composer asking for Microsoft login e-mail and it does not accept it, Why?

## Version

## Browser

- [ ] Electron distribution
- [x ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ x] Windows 7 professional
<img width="489" alt="Azure Bot login" src="https://user-images.githubusercontent.com/5963372/103868789-5f0e798

[2021-01-07 09:05] alanlong9278 commented on #5292
@vivekkshankar  `Zoom toolbar`  dose not have the behavior for `focus` & `hover` status. Should we design behavior for it.

[2021-01-07 10:50] alanlong9278 commented on #5383
There are two reasons for the name mismatch
- For dialog name mismatch in left menu & breadcrumbs and form dialog, the reason is that `LeftMenu` use dialog file as name, but the other two use `dialog.designer.name` in dialog file content. So I think we should use `designer.name` in all three models.
![Uploading image.png…]()

- For trigger name mismatch in visual editor & form dialog, the reason i

[2021-01-07 13:20] bdezeeuw commented on #5436
I grabbed the logs starting from the auth section and attached them in the file below:

[DebugLog.txt](https://github.com/microsoft/BotFramework-Composer/files/5781745/DebugLog.txt)

[2021-01-07 15:30] tannguyen3 commented on #5345
@luhan2017 I dont see the logout.
![image](https://user-images.githubusercontent.com/10743872/103910818-e32e2480-50ca-11eb-8520-1d7af0fb2b56.png)

[2021-01-07 15:33] tannguyen3 commented on #5345
@cwhitten this is the stdout after the login failed above.
![image](https://user-images.githubusercontent.com/10743872/103911282-6f404c00-50cb-11eb-8b5c-2f2e179144ad.png)

[2021-01-07 15:36] cwhitten commented on #5345
Thanks @tannguyen3.  cc @tonyanziano & @carlosscastro. This could be an edge case we aren't covering nicely.

[2021-01-07 15:48] tannguyen3 commented on #5379
@dmvtech I think we can close the issue. I cannot share the bot.

[2021-01-07 15:48] #5379 closed

[2021-01-07 16:13] dmvtech commented on #5008
Closing as issue is now being tracked in #5451

[2021-01-07 16:13] #5008 closed

[2021-01-07 17:39] benbrown commented on #5453
Glad to hear it was resolved, @MoesLab. Let us know if you need further assistance.

[2021-01-07 17:39] #5453 closed

[2021-01-07 17:40] dmvtech commented on #5465
Are you using a personal Microsoft account or a Work/School one?

See here: #5456

[2021-01-07 17:44] benbrown commented on #5465
See also: #5393

[2021-01-07 17:59] kalebk opened #5467 "Problem publishing"
## Describe the bug

Unable to publish bot to azure using bot composer. It spins indefinitely with no status update and no error in the application... There is only an error in the console.. HTTP status code 431 Request Header Fields Too Large.

I tried using newer nightly build.. but I am also unable to uninstall bot composer.. When I launch the uninstaller it comes with NSIS error

## Version

B

[2021-01-07 18:31] jocrafts commented on #5451
I am also having this issue in a composer bot deployed in azure. We are not using composer to deploy, we are copying the static assets into the runtime and manually building the runtime. We also publish luis and flush the resulting app ids into the main app settings. This is our current app settings file:
![image](https://user-images.githubusercontent.com/60667966/103930274-58055c80-50d3-11eb-9a26

[2021-01-07 19:11] dmvtech commented on #5459
Hi @pedro-ramirez-suarez There is no documentation or exact steps on how to do this for Composer bots specifically. But yes; you can provision the Azure resources outside of Composer. You can create the resources through the Azure portal (one of the easiest ways is to just create a `Web App Bot`), or they can be created from [command line](https://docs.microsoft.com/en-us/azure/bot-service/bot-bui

[2021-01-07 19:28] pavolum commented on #5433
Excuse the delay! @chrisshaw I am unable to repro from either creation flow you outlined but have not yet run it in an Ubuntu setting.

To provide a bit of additional troubleshooting info...

1) Can you repro the error while also running fiddler. I have noticed that the 500 response call occasionally has additional info besides what is outputted to the dev tool console/error modal. The 500 call sh

[2021-01-07 19:32] jocrafts commented on #5451
This is the content of my dialog file

{
  "$kind": "Microsoft.LuisRecognizer",
  "id": "LUIS_MultiModalBot",
  "applicationId": "=settings.luis.MultiModalBot_en_us_lu.appId",
  "version": "=settings.luis.MultiModalBot_en_us_lu.version",
  "endpoint": "=settings.luis.endpoint",
  "endpointKey": "=settings.luis.endpointKey"
}

[2021-01-07 19:37] chrisshaw commented on #5433
Hi @pavolum
![image](https://user-images.githubusercontent.com/2966918/103936515-5db37000-50dc-11eb-8325-d49fe516e9e4.png)

I'll update this with the raw response I see in fiddler when I'm able.

[2021-01-07 20:05] chrimc62 opened #5468 "Add support for SetTestOptions middleware to runtime"
## Is your feature request related to a problem? Please describe.

The SDK supports a SetTestOptions event which can be used to control randomness through randomValue/randomSeed.  The emulator has been updated to emit this event, but the standard composer runtime does not have the middleware to pick up the event.

## Describe the solution you'd like

Composer runtime includes SetTestOptionsMiddlew

[2021-01-07 20:07] pavolum commented on #5433
Thanks @chrisshaw, hmm so its not a template version issue, interesting. Hopefully the response will give some hints. Ill try and get my hands on an ubuntu machine to try in repro in a more accurate environment.

[2021-01-07 20:15] jocrafts commented on #5451
I was able to discover that the reason for this is that the bot attempts to invoke a luis recognizer for lu files that do not exist. For example, in this dialog:
![image](https://user-images.githubusercontent.com/60667966/103939330-73c32f80-50e0-11eb-890c-ea3904e2994d.png)

When I say "I have a leak", it moves to the "ReportLeakDialog", which attempts to invoke this ReportLeakDialog.lu.qna recogni

[2021-01-07 20:26] chrimc62 opened #5470 "Any runtime error is treated as needing dotnet SDK"
## Describe the bug

When composer starts a bot any failure is treated as needing to install the .net SDK rather than showing the error.

## Version

1.3.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ x] Edge

## OS

- [ ] macOS
- [x ] Windows
- [ ] Ubuntu

## To Reproduce

To repro:
1) Eject runtime
2) Copy Microsoft.BotFramework.Composer.WebApp.csproj to f

[2021-01-07 23:37] srinaath commented on #5464
@yeze322  investigating it now

[2021-01-08 00:18] jocrafts commented on #5451
I have synced with @taicchoumsft and discovered that the issue is not specifically related to the ReportLeakDialog (though there is possibly an issue there) - instead, it is specifically not resolving the app id for the "BeginQuestions_en_us_lu" dialog, which is confirmed to be in the app settings

[2021-01-08 00:30] pedro-ramirez-suarez commented on #5459
Thanks, I tried using the scripts but I was getting the following error:
[code]

[2021-01-08 00:48] pedro-ramirez-suarez opened #5472 "Can't invoque remote skill"
## Describe the bug

I have a project with multiple skills, everything works when I invoke the skills locally, but when I deploy the skills and I try to invoke the remote skill I get the following error:

`Error invoking the skill id: "<APP ID from the Bot Channel registration resource>" at "https://contactskilldev.azurewebsites.net/api/messages" (status is 401).
 `

I followed the steps in https:

[2021-01-08 02:19] MoesLab commented on #5456
Yes, it is my personal, I am guessing I should wait, is there any work around?

[2021-01-08 04:47] chrisshaw commented on #5433
@pavolum could you point me to more guidance on Fiddler? I'm new to Fiddler (and the C# ecosystem for that matter) and it's starting to feel like I'm doing it wrong. I don't suppose you know how to get Fiddler listening to localhost within the electron distribution? All the [support options](https://docs.telerik.com/fiddler-everywhere/knowledge-base/capturing-localhost-traffic) seem to imply I con

[2021-01-08 05:40] yeze322 commented on #5395
@cwhitten thanks for reminding! I went through this scenario and figured out our gap. Here is another similar issue with my temporary solution: https://github.com/microsoft/BotFramework-Composer/issues/4935#issuecomment-747991536

I'm working on several things to simplify the workflow to define custom widget (target to be finished next sprint)
1. Merge Action widget's UI Schema with Form's (to the

[2021-01-08 05:45] yeze322 commented on #5464
@srinaath Tried on my side, it's loaded

[2021-01-08 05:56] feich-ms commented on #4875
Hi @dmvtech, @sammydeprez, I tested in composer and can repro this issue. Array entities cannot be stored into dialog memory directly in TextInput action. This is by design as TextInput only allows setting string property. Fortunately, we have a useful action to set the property. You can add a SetProperty action like below screenshot, set `turn.recognized.entities.toppings` to `dialog.toppings`. T

[2021-01-08 06:54] srinaath commented on #5464
@yeze322  I'll revert that piece of code for now. 

It seems a bit of work to keep tracking the last updated state for a project in composer client side. Then we can use fs stat to get lastUpdatedTimestamp for the project folder(changes made outside composer) and then see if the two timestamps are different. As a result, lets just reload it again. Let me know if u see a better solution.

[2021-01-08 07:09] feich-ms commented on #5389
Hi @dmvtech @anemit currently the resolution is not extracted into the standard recognizer result, but you can have a workaround solution to get it. Just set the includeAPIResult to true in your recognize file(naming `{YourBotName}.en-us.lu.dialog}`) of your bot like bwlow:

![image](https://user-images.githubusercontent.com/43032123/103984943-ffad8800-51c2-11eb-95e3-f513a77e822b.png)

And then co

[2021-01-08 07:44] #5347 closed

[2021-01-08 15:48] tonyanziano commented on #5456
I believe there is a way to publish manually using the `az` cli, but other than that there currently is no alternative within the Composer UI for publishing with personal accounts.

[2021-01-08 15:55] sshaque1 commented on #5344
Hello experts, any solution to this yet? TIA.

[2021-01-08 16:52] srinaath commented on #5472
@pedro-ramirez-suarez The allowedCallers validation is done both on the skill side and the Root Bot (consumer bot) side. Could you try adding the MsAppId of the remote skill in the allowedCallers list of the consumer bot too?

One more place an error can happen while consuming a remote skill is "Skill Host Endpoint" setting of the Root Bot needs to updated with a tunnel url that the skill can comm

[2021-01-08 19:14] gabog commented on #5451
@luhan2017, others have been hit by this, can you continue reviewing and see if we can get a repro?

[2021-01-08 19:45] chrimc62 opened #5476 "Improve priority support"
## Is your feature request related to a problem? Please describe.

Both regex recognizers and triggers rely on order to resolve conflicts.  Currently there is no way to change this order except by manipulating the dialog JSON directly.  The regex recognizer returns the first intent that matches.  By default triggers rely on priority to pick which trigger to execute when there are multiple matching

[2021-01-08 20:35] ryan-daly-AgFCS commented on #5467
Watching this. New to Bots and the Composer application. I'm receiving same problem, and now looking for a way to downgrade if possible. After many attempts for trying to figure out what I did wrong, I'm seeing this 431 err too.

![image](https://user-images.githubusercontent.com/55713746/104061704-b5c2a300-51be-11eb-8248-82ad3b68332e.png)

[2021-01-08 20:50] lopejum opened #5477 "Bot Composer deployed to Azure always get "Object reference not set to an instance of an object." when asking for any input (text, files, etc...))"
I have Bot Composer web version:

<img width="322" alt="imagen" src="https://user-images.githubusercontent.com/28530984/104060560-5fbe2180-51f7-11eb-8ce5-219741299b4d.png">

And:

<img width="575" alt="imagen" src="https://user-images.githubusercontent.com/28530984/104060618-72d0f180-51f7-11eb-8429-75e6bf732f70.png">

I have a very simple bot dialog, where I ask for a picture and then, I send the

[2021-01-08 20:56] zxyanliu commented on #5464
@srinaath Yes. The bot project will get reloaded after I open a different project and then open this project containing the custom action.

[2021-01-08 20:58] zxyanliu commented on #5464
@yeze322

Yes, the reloading issue also happens when adding a C# custom action.

[2021-01-08 21:33] anemit commented on #5389
Thank you for your time. When I don't use a role for prebuilt entities, the composer sends syntax error in Trigger Phrases.

[2021-01-08 21:34] anemit commented on #5389
Thank you. I have implemented your solution and it works fine.

[2021-01-08 21:35] anemit commented on #5389
I am closing this issue as the solution is presented in @feich-ms 's comment

[2021-01-08 21:35] #5389 closed

[2021-01-08 23:53] MIkey007007 commented on #5393
Any new update? This problem happens frequently and can easily be reproduced. I have seen several other persons posts the same problem (phrase differently).

[2021-01-09 00:05] tonyanziano commented on #5393
We are currently waiting on approval from a member of an external team.

[2021-01-09 00:13] MIkey007007 commented on #5393
I don't understand. What does it mean?

[2021-01-09 00:15] anusharavindrar commented on #5421
@xieofxie, let me attempt a repro on my end and update the thread accordingly.

[2021-01-09 00:15] Kagigz commented on #5393
@luhan2017 yep that's right, cannot enter a '@' character. I have a French keyboard btw.

[2021-01-09 00:20] MoesLab commented on #5393
It seems the product does not go through initial testing of basic functions before being introduced to the public.

[2021-01-09 01:06] pedro-ramirez-suarez commented on #5472
Hi @srinaath  thanks for the guidance, that helped; to make it work I had to remove the "*" entry everywhere and have only the MSAppIds of the skills that I want to allow, having the "*" in the array throws a 500 error when the skill is invoked.

Unfortunately now I am getting a new error. The skill is now being invoked and executed, but when the skills ends and the conversation should  return to

[2021-01-09 01:53] sshaque1 commented on #5344
Just managed to publish successfully my test bot from Bot Framework Composer to my Azure account using using version 1.3.0.

I resolved the "SyntaxError - Unexpected token o in JSON at position 1" error by **logging into my Work/School account** from the **composer** as oppose to _Personal account_.

So, all the resource information i used with **"node provisionComposer.js"** command referred to m

[2021-01-09 03:40] ryan-daly-AgFCS commented on #5467
Managed to downgrade to 1.2.1 and can successfully publish to Azure. Unfortunate as I really like the features and organization of 1.3 (plus documentation is updated for it too).

[2021-01-09 10:04] Heinzfb opened #5478 "Error: https://registry.yarnpkg.com/@bfc%2feslint-plugin-bfcomposer: Not found"
Hi there,

do you know how to solve this?
My Steps:

Thanks for your help!

Yarn version:
  1.22.10

Node version:
  14.15.4

Platform:
  win32 x64

Trace:
  Error: https://registry.yarnpkg.com/@bfc%2feslint-plugin-bfcomposer: Not found
      at Request.params.callback [as _callback] (C:\Users\)
      at Request.self.callback (C:\Users\)
      at Request.emit (events.js:315:20)
      at Request.<a

[2021-01-09 10:51] peterbozso opened #5479 "Deployment script is not able to create multiple environments with the same name"
## Describe the bug

If you'd like to deploy two resource groups with the script using the same name, but different environments, the second deployment would fail with and error.

This happens because both runs of the script would try to create a `Microsoft.BotService/botServices` resource with the same name, which of course would fail for the second try.

## To Reproduce

### Example

#### 1st de

[2021-01-09 14:50] arjunDhanAi commented on #5055
Hi @dmvtech ,

I am looking at a similar use case. We create our bots using "Bot composer", and run them in Azure. What we want to achieve is, to store the debug information which we can see when we run the bot in "Bot Emulator" in our custom DB table.
Let me try to explain in detail.
We want to store the debug information, for all bots we have which are running in prod on Azure, in our custom DB

[2021-01-10 12:44] keunoklim opened #5480 "I could't publish bot when I configured koreacentral luis resource with westus luis authoring"
## Describe the bug

When I configued publish profile as luis authoring is westus and luis prediction is koreacentral, I got error during publishing
## Version

bot framecomposer v1.2.1
## Browser

- [v ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [v] Windows
- [ ] Ubuntu

## To Reproduce
1. I've created azure resouce as the below command. I didn

[2021-01-11 03:04] hibrenda commented on #5480
@keunoklim can you provide the **publish profile** luis setting ? which item you have value and which is empty. especially how you input the endpoint & authoring endpoint. what value for "region" ?
    "luis": {
      "endpointKey": "",
      "authoringKey": "",
      "region": "westus",
      "endpoint": "",
      "authoringEndpoint": ""
    },

[2021-01-11 03:27] zidaneymar commented on #5477
@lopejum, Hi, I think you could download the web server to local and debug it locally to see the call stack of the runtime when this exception (Object reference not set to an instance of an object) is thrown.
You could download the whole wwwroot folder through kudu portal and run Microsoft.BotFramework.Composer.WebApp.exe locally to view the log details.
![image](https://user-images.githubusercont

[2021-01-11 03:31] zidaneymar commented on #5479
@peterbozso Hi, yes actually the name of the bot should be global unique, so I suggest to use a different name and environment for you case.

[2021-01-11 03:56] luhan2017 commented on #5451
@jocrafts , That should not be the root cause, your upper layer luis recognizer is empty, it wouldn't go through the lower layer to get the settings. Would you mind to share your bot here? You are saying that you are not using Composer to deploy the bot, could I know what is the exact deployment process?

[2021-01-11 06:06] yeze322 commented on #5464
@srinaath If it's possible to trace the last modified date of a project folder, we can leverage standard http features to optimize our flow. Generally, we can maintain `If-Modified-Since` on client side and `Last-Modified` on server side to avoid uncecessary content transfer.

One concern is the efficiency of getting lastUpdatedTimestamp for the project folder, it needs to check the whole project

[2021-01-11 06:16] #5407 closed

[2021-01-11 07:58] luhan2017 commented on #5477
@lopejum , could you try to put your logic under anther trigger, for example OnDialogStarted trigger and test if you still see the error? This probably because of  the OnConvesationUpdate trigger issue for webchat.

![image](https://user-images.githubusercontent.com/32191031/104157225-b14bf380-5425-11eb-861a-8b8c4397fa9c.png)

[2021-01-11 08:07] zidaneymar commented on #3850
Close this issue, could reopen if needed

[2021-01-11 08:07] #3850 closed

[2021-01-11 08:11] hibrenda commented on #5467
https://github.com/microsoft/BotFramework-Composer/issues/5335 got fixed. @ryan-daly-AgFCS you can try out latest nightly.

[2021-01-11 08:13] luhan2017 commented on #5459
@pedro-ramirez-suarez there should be a tenant parameter in the script which is optional, could you please to try to set it explicitly?
[code]

[2021-01-11 08:42] peterbozso commented on #5479
@zidaneymar Thank you for the proposed workaround! I also created a PR which references this issue (see above) where I fixed the deployment script so it creates the bot resources with unique names, using the environment name as part of the bot name, thus enabling what I am trying to achieve here. Could you please take a look at that?

[2021-01-11 10:49] salvo-uk commented on #3167
Hi, I'm getting this a lot. It makes the composer unusable. Is a fix forthcoming?

[2021-01-11 13:33] garypretty commented on #5405
Closing this as per Chris' comments above.

[2021-01-11 13:33] #5405 closed

[2021-01-11 13:38] garypretty commented on #5397
@hraz-msft Thank you for the clarification.  At this time we have no plans to implement this feature in the way you describe.  The requirements for such a feature are made more complicated by the need for a job in the background and potentially for persistent storage of conversation references and last seen timestamps.  This can likely be further complicated by running multiple instances of the bo

[2021-01-11 13:54] garypretty commented on #5373
This work is depends on some required changes from the QnA Maker team, which we hope to see in the 1st half of this year.  Ideally we will address this 2nd half of 2021.

[2021-01-11 13:55] garypretty commented on #5372
We won't be implementing this feature within the 1st half of 2021, but we plan to revisit this in the 2nd half of the year. Adding to the backlog for review.

[2021-01-11 13:56] garypretty commented on #5369
@clearab assigning to you as a feature request for the runtime.

[2021-01-11 13:56] garypretty commented on #5356
@goergenj  is this still an issue?

[2021-01-11 14:54] ryan-daly-AgFCS commented on #5467
Thanks @hibrenda - I gave that a try, but I'm still receiving the 431 error, then subsequent 404. Composer doesn't update to indicate it is accepted for publishing like 1.2.1 does.

![image](https://user-images.githubusercontent.com/55713746/104197373-8a240080-53ea-11eb-8be1-59c43fe8be94.png)

[2021-01-11 15:01] ryan-daly-AgFCS commented on #5467
Here is the results when I uninstalled the nightly, then reinstalled 1.2.1 on the same bot files:

![image](https://user-images.githubusercontent.com/55713746/104198267-a4aaa980-53eb-11eb-840f-504adce641aa.png)

[2021-01-11 16:03] pedro-ramirez-suarez commented on #5459
Thanks @luhan2017, I tried that before and it didn't work. In the end the client created a domain account for me.

[2021-01-11 17:30] #5462 closed

[2021-01-11 17:41] dmvtech commented on #5459
Thanks for the update @pedro-ramirez-suarez. I will go ahead and close this. Let us know if you have further issues.

[2021-01-11 18:23] srinaath commented on #5472
@pedro-ramirez-suarez I haven't seen that issue before. The same skill when you run locally works fine but when you run it from azure you get this error correct?

First thing to check probably is skillHostEndpoint setting is correctly set to the {ngrokUrl}/api/skills. The ngrok url of course is pointing to port in which the root bot is running.

Can you check http://127.0.0.1:4040/inspect/http to

[2021-01-11 18:39] pedro-ramirez-suarez commented on #5472
Hi @srinaath ,
All the bots are part of the same project, when I run and the skills and the bot locally everything works, when I publish the skills and I try to connect to any the remote skills if throws the same error, no matter if the main bot runs locally or on Azure.
The Skills endpoint of the main bot is setup correctly as mentioned on https://docs.microsoft.com/en-us/composer/how-to-connect-

[2021-01-11 18:57] srinaath commented on #5472
Nope. There are no special permissions to set up since all the calls to skills work and the skill logic works. It just fails when the skill logic ends and control shifts back to the root bot right? Was skills call made inside the Greeting trigger or inside a loop by any chance?

[2021-01-11 18:58] srinaath commented on #5472
@luhan2017 Have you encountered a bug like the above when calling skills?

[2021-01-11 19:03] pedro-ramirez-suarez commented on #5472
Hi @srinaath, let me clarify a little bit more,

All the bots are part of the same project, when I run the skills and the bot locally everything works fine; when I publish the skills and I try to connect to any of the remote skills from my local bot I get a 500 error; If run everything on azure I get `An attempt was made to access a socket in a way forbidden by its access permissions.` after the s

[2021-01-11 19:46] pedro-ramirez-suarez commented on #5472
Yes, it fails when shift backs to the main bot; The main bot invokes the skill after presenting a menu (HeroCard) to the user, depending on the selection a particular skill is invoked, the skills ask for some user input and execute an api call, then it returns a response to the main bot and the main bot performs additional actions depending on the skills' response, this does not occur inside a loo

[2021-01-11 19:56] ryan-daly-AgFCS commented on #5393
This could be completely incorrect as I'm not an expert on international keyboards, but perhaps can you try a "Right-Alt 2" to access the @ symbol? Looks like this might be how to do it with older French-Canadian mappings (worth a try!!!):

![image](https://user-images.githubusercontent.com/55713746/104231407-87d69c00-5414-11eb-9693-9b596a50fa02.png)

http://www3.uakron.edu/modlang/french/keyboard

[2021-01-11 20:04] benbrown opened #5484 "Package Manager: Source packages from npm / nuget feeds"
Update the package manager to use the raw npm search and nuget search feeds to source the available packages.

- [x] A developer can list the packages in a package feed, and that list displays summary information about those packages (name, author, version minimum)
- [x] A developer can choose to install a package into any bot currently open in my bot project
- [x] Initially, Composer connects to

[2021-01-11 20:07] benbrown opened #5485 "Package Manager: Search npm/nuget"
- [x] A developer can manually search a public package feed, and search results are filtered to only packages that have the “bf-component” tag.
- [x] The default / first-run search results are all packages with the “bf-component” tag.

[2021-01-11 20:10] benbrown opened #5486 "Package Manager: Allow additional feeds"
A developer can connect to:

- [x] A public feed by URL (filter packages by tag)
- [x] A private feed by URL (no filtering of packages)
- [x] A folder on your local machine by file path (no filtering of packages)
- [x] A folder on a shared drive by file path (no filtering of packages)

[2021-01-11 20:15] benbrown opened #5487 "Package Manager: Check for updates"
- [ ] As a developer, I can see that there is an update to one of my packages from the list view of installed packages
- [x] A developer can choose to alter (upgrade / downgrade) the version of an installed package to any available version (dependency conflicts are displayed).
- [x] As a developer, I can install an update to one of my packages
- [ ] When a developer is installing an upgrade to a p

[2021-01-11 20:18] clearab opened #5488 "build/publish from Composer works with new runtime"
End-to-end build/publish works inside Composer using the new runtime and packages.

[2021-01-11 20:21] benbrown opened #5489 "Add telemetry for new create flow"

[2021-01-11 20:23] pavolum opened #5490 "Implement 'Getting started' that is rendered post creation"
Implement design spec for 'getting started' page (delivery date from design: TBD).

[2021-01-11 20:25] benbrown opened #5491 "Package Manager: detect when a package is a dep, prevent removal"
if a component requires another component, the child component will appear in the package manager. however, it should not be removable from the project.

[2021-01-11 20:29] benbrown commented on #3936
@michielpr @cwhitten can we close this since we shipped telemetry?

[2021-01-11 20:29] benbrown commented on #4332
Fixed in the SDK.

[2021-01-11 20:29] #4332 closed

[2021-01-11 20:32] srinaath commented on #5472
Got it. 

Thanks @pedro-ramirez-suarez.. Lets handle the first failure case of local RootBot(Consumer Bot) when trying to connect to the remote skills failing with the 500 status error. (response to `when I run the skills and the bot locally everything works fine; when I publish the skills and I try to connect to any of the remote skills from my local bot I get a 500 error`)

Could you expand on t

[2021-01-11 21:13] pedro-ramirez-suarez commented on #5472
_Are you able to connect just to one remote skill from Bot Framework Emulator using the MsAppId and MsPass of the skill without Composer in the picture?_

Yes, I can connect to the skill; doing this at the end of the execution I get an `Object reference not set to an instance of an object.` error, actually, all my skills end with that error when I access them directly via the emulator.

_Does the

[2021-01-11 21:24] benbrown opened #5492 "Package manager: show package readme"
- [x] A developer can select a package from the list, and view detailed information for that package (based on the package manifest, title, description, author, license, project URL, tags)
- [x] A developer can choose which version of the package to install

[2021-01-11 22:07] sgellock commented on #3167
This was fixed months ago.  what version are you running?

[2021-01-11 22:21] srinaath commented on #5472
@pedro-ramirez-suarez Thank you. Im afraid i have exhausted my remote debugging ways on this issue. Is there any way you can give me the zipped up bot solution so that I can further debug on my end. My microsoft email id is srravich@microsoft.com.

[2021-01-11 22:29] dmvtech commented on #5465
Closing as this is a known issue and being tracked in above linked issues.

[2021-01-11 22:29] #5465 closed

[2021-01-11 22:34] dmvtech commented on #5432
Hi @narulasrinivas Just checking in. Do you have a reproduction you could share? (in a repository, etc)

Also, can you clarify what should be empty?

[2021-01-11 23:10] pedro-ramirez-suarez commented on #5472
Hi @srinaath ,
I'll be sending you my project by email, my email is (pedro.ramirez@muraladvisors.com).

Thanks.

[2021-01-11 23:34] cwhitten commented on #3167
@salvo-uk please open up a new github issue with what you are seeing and reproduction steps and the team will engage and investigate. it is likely unrelated to this particular issue.

[2021-01-12 00:56] xiyangdesign opened #5494 "Form dialogs scheme property and "bot asks" doesn't match"
## Describe the bug

In schema: the property "size" is a LIST type: [small, medium, large, extra large]
In emulator, when the bot asks for a value for size, it's prompting with: Please choose a value for size from [large, extra large] to add

## Version

![Screen Shot 2021-01-11 at 4 53 45 PM](https://user-images.githubusercontent.com/74994573/104255290-94b3b980-542d-11eb-9765-d4ff23f1e094.png)

#

[2021-01-12 02:15] luhan2017 commented on #5472
@pedro-ramirez-suarez @srinaath could you please check the the azure webapp appid and the appid in manifest are matched?

[2021-01-12 02:17] #4900 closed

[2021-01-12 02:48] luhan2017 commented on #5390
@VanyLaw , could you help check the error log logic in the local publish extension? we should show meaningful error log instead of [object object].

[2021-01-12 03:37] #5416 closed

[2021-01-12 03:58] luhan2017 commented on #5436
@bdezeeuw Thanks for sharing more logs here. This seems relates to an external package which we are depending on, we are contacting them on this issue which may take some time. Is this blocking you currently? Maybe you could downgrade your composer to 1.2 as a work around?

[2021-01-12 07:08] zhixzhan commented on #5360
@mewa1024 I tried your bot, it is an error when I response "change milk to skim", but if I response "milk" "skim", it would work as expected.
![image](https://user-images.githubusercontent.com/49866537/104280850-83c77e80-54e7-11eb-8012-accc4ecc43fb.png)

I guess for this, the same reason is our response triggered incompatible data type.

[2021-01-12 07:16] srinaath commented on #5472
@pedro-ramirez-suarez could you confirm the msAppID in your manifest file (also the msAppId included in allowedCallers list of the root bot) is the same msAppId that was created in the Bot Registration resources created as a part of bot deployment correct?

[2021-01-12 07:43] feich-ms opened #5495 "No exception thrown when unsupported locale is set for Luis publish"
## Describe the bug

When users change the bot language to the one that Luis doesn't support, the luis publish should throw exception to tell users the luis publish failed. But currently composer doesn't throw any exceptions, but publish to 'en-us'.

## Version
 1.3

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] U

[2021-01-12 08:44] goergenj opened #5496 "[MCS-DE] Electron App freezes when opening a bot"
Whenever I try to open a Bot with the Composer Electron App v1.3.0 on Windows (BotFramework-Composer-1.3.0-windows-setup.exe) the application freezes.

Switching to any areas in the left navigation incl. "Home" is not possible.

This happens with an existing Bot as well as when creating a new empty bot.

Switching the Composer Application language to English (US), opening the bit and then switchin

[2021-01-12 09:19] hibrenda commented on #5495
As user may face following error during bot run, we should not allow bot to start if only unsupported language are set in composer.
![image](https://user-images.githubusercontent.com/43408889/104294340-035e4900-54fa-11eb-9300-7a135767e338.png)

[2021-01-12 09:32] hibrenda commented on #5495
@vivekkshankar

[2021-01-12 13:02] bdezeeuw commented on #5436
Yes, I'm able to work on v1.2.1 currently.  I'm looking forward to using some of the new features once they figure out the issue.

Thanks for the help, @luhan2017!

[2021-01-12 15:11] managedcoder commented on #4873
@luhan2017,  I have also hit this issue so I think what @peterbozso is getting at is that no matter how you try to create a QnA Maker KB in Composer it gets you deceptively close to working but still needs the developer to visit the QnA Maker portal to fetch the last few configuration items that Composer did not set for the QnA logic in the bot to work.

So, for example, if you choose the "QnA Mak

[2021-01-12 15:43] managedcoder opened #5497 "Full knowledgebase creation support in Composer"
## Is your feature request related to a problem? Please describe.

Currently, developers are required to create the actual Azure QnA Maker Cognitive Service before they use the **QnA Maker Sample** template or the **QnA Maker and LUIS** template.  It would be better if Composer created the service automatically and then also properly configured the bot (see #4873)

## Describe the solution you'd l

[2021-01-12 15:58] mewa1024 commented on #5416
@coldplaying42 how was this resolved?

[2021-01-12 17:03] pavolum opened #5498 "Ensure PVA scenarios work with new creation flow in Composer"
- [x] Ensure PVA scenarios work accordingly with the new creation endpoint

[2021-01-12 17:34] GeoffCoxMSFT commented on #5497
@hibrenda - Can you take a look at this in relation to the other provisioning work planned?

[2021-01-12 17:43] GeoffCoxMSFT commented on #5479
@zidaneymar - Could you kindly link the PR number that fixes this issue?  If the PR is checked in, can you close this issue as fixed?

[2021-01-12 17:48] GeoffCoxMSFT commented on #5478
@Heinzfb - On windows if you download as zip, sometimes the zip is marked as blocked.  Could you verify that you have unblocked the zip file before unzipping.  You can bring up properties and see if there is a checkbox for unblocking.

![image](https://user-images.githubusercontent.com/28762486/104352187-359c8600-54bb-11eb-8e5c-607fbc73404e.png)

[2021-01-12 17:51] GeoffCoxMSFT commented on #5476
@garypretty - This is a complex issue that has interaction between the UI and the SDK.

[2021-01-12 17:53] anusharavindrar commented on #5421
@xieofxie, able to reproduce the issue on my end. When I go to MarkToDo and click on an action in the middle of the flow, it redirects me back to the MarkToDo.
@hibrenda, any idea what might be causing this issue?

[2021-01-12 17:54] pedro-ramirez-suarez opened #5499 "Invoke skills from a skill."
## Is your feature request related to a problem? Please describe.

I am building a bot for a big enterprise, the bot will consume multiple APIs and services, the bot is being split into different skills not only to have a clean implementation with a clear separation of responsibilities but also to be able to split the work more easily and to be able to reuse as much code as possible. There are a f

[2021-01-12 17:57] GeoffCoxMSFT commented on #5467
@hibrenda @luhan2017 Could you follow up please?

[2021-01-12 18:28] pavolum opened #5500 "Ensure Composer can detect projects built with older runtime/have older file structure and handle accordingly"

[2021-01-12 19:33] cwhitten commented on #5393
@carlosscastro can you please jump in and share updates with the folks on this thread experiencing the personal account issue?

[2021-01-12 19:58] pavolum opened #5502 "Handle versioning of templates"
Ensure that versions passed by template feed are the versions of the selected template that is instantiated for the user

[2021-01-12 20:26] tiagonmas commented on #5335
any news on solving this ?

[2021-01-12 20:46] nightmareCoder123 opened #5503 "Confusing texts in the app's UI - not helpful enough"
## Describe the bug

I started to use Composer a while ago and I love this app because it makes building a bot so fast and easy.
However, I found a lot of texts in the UI confusing and not very helpful. The following is just one example:

<img width="372" alt="tooltip" src="https://user-images.githubusercontent.com/76134026/104369104-ce3e0080-54d1-11eb-85d2-1786ffc10cc2.png">

1. I understand what

[2021-01-12 21:19] zxyanliu commented on #5467
We have a similar issue here. FYI.
https://github.com/MicrosoftDocs/composer-docs/issues/73#issuecomment-758924520

[2021-01-12 22:40] kalebk commented on #5467
Yes I also tried installing latest nightly and still received the same 431 and 404 errors..

[2021-01-13 00:50] sgellock commented on #4249
moving this off of Ted's plate.  Can you own or find the appropriate owner

[2021-01-13 01:47] pavolum opened #5506 "Append qnaTemplate to template state in Composer even though it is not part of the feed"
The 'start from qna template' follows slightly different creation logic.

- [ ] Add 'start from qna' template to template list even though it is not passed from the feed
- [ ]  If that template is selected then Composer will detect the templateID, instantiate empty bot and route the user to importQna modal.
- [ ] Verify post creation that the user has an instance of the empty bot provisioned for t

[2021-01-13 03:24] VanyLaw commented on #5467
It seems like the accessToken is too large to set in the http header, @kalebk could you give us your arm token(even an expired one is ok) for testing, so that we can see how large it would be?

[2021-01-13 03:27] VanyLaw commented on #5467
And there is another issue. frontend should show error when accept 431 or 404 instead of loading, @alanlong9278 could you help to take a look?

[2021-01-13 03:29] keunoklim commented on #5480
Hi hibrenda
The below are my publish profile luis setting which I got error.
    "luis": {
      "authoringKey": "32c53caa0e854a01831f8bd35cexabfxxx",
      "authoringEndpoint": "https://aicc-homenshopping-dev-luis-author.cognitiveservices.azure.com/",
      "endpointKey": "153a9543e896469a9cbdb26588d7c9exxxx",
      "endpoint": "https://koreacentral.api.cognitive.microsoft.com/",
      "region":

[2021-01-13 03:30] keunoklim commented on #5480
I modified The authoringkey and endpointKey for secuitry. These are examples

[2021-01-13 04:41] kalebk commented on #5467
I don't have access to get it quickly right now, but I see in a previous message that I sent my teammate that it's 9,538 characters. I can try to provide tomorrow if needed

[2021-01-13 04:52] EricDahlvang commented on #5397
This doc demonstrates using an Azure Queues service: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-long-operations-guidance an earlier example version of this (not identical to the doc anymore) can be found here: https://github.com/EricDahlvang/LongOperationsBot

Also, here is a Cosmosdb example using an Azure Timer Function: https://github.com/EricDahlvang/TimeoutConversati

[2021-01-13 08:19] hibrenda commented on #5480
The second setting does not work for our publish process. could you double check for how you input "luisResource": "<luis-resource-name>" in publish profile. you need to provide the luis resource name . eg. "composer-xxx-dev"

[2021-01-13 08:30] Khanh-Ngy opened #5508 "Update Activity on a message ( Adaptive dialog )"
## Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/71876037/104425526-5fd16f00-55b3-11eb-81b0-0c23d526f463.png)

All I need is :
When I click button ONE  >>  the content will show : user 1 - user 5
When I click button TWO  >>  call API again  >>   the content will update && show : user 6  - user 10

## Describe the solution you'd l

[2021-01-13 08:59] hibrenda commented on #4873
@managedcoder thanks for the feedback. I'd like to understand more for your scenarios.

Scenario A :You create bot from scratch or URL and author the QnA pairs in composer. And then you input the QnA subscriptionkey which created in Azure portal. And then  you can add "QnA intent recognized" trigger to get the answer and no need to call QnA action to retrieve the answer . please reference https://

[2021-01-13 09:00] hibrenda commented on #5497
Yes. would like to hear more feedback and supported in later release.

[2021-01-13 09:39] zidaneymar opened #5510 "Couldn't Start Composer under Linux Environment"
## Describe the bug
yarn start fails under linux environment
[code]
## Version
Linux: 18.04
Node: v14.15.4
NPM: 6.14.10
yarn: 1.22.10

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [x] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Composer folder
2. Execute "yarn && yarn build && yarn start"
3. W

[2021-01-13 11:02] philip-mc commented on #4613
Morning,

Sorry mad delay getting back. So yes this solution works and is rather elegant many thanks :D

Can someone please just explain what is actually going on in this step for my understanding - - ${foreach(dialog.Results.content, u, json(GetAdaptiveCard(u)))}

Secondly if we wanted to limit this 5 or 10 items how we we do this?

[2021-01-13 15:19] cxbuilders commented on #5174
Any updates on this? I was forced to develop a seperate dictionary tool so we can have multi language bot whilst in Composer it actually is set to only en-us.
![image](https://user-images.githubusercontent.com/49873947/104470998-9c549900-55ba-11eb-8935-055fc2e96431.png)

This then generated the LG we can paste into the common.ls file in the bot;
![image](https://user-images.githubusercontent.com/4

[2021-01-13 15:44] ashokdevlabs opened #5511 "Facing issue while showing hero card for second time using existing object in composer"
1.	We are designing the flow using bot composer
2.	As per the requirement we need to show product with images so we are using Hero card(Carousal).
3.	For the first time the card gets displayed properly.
4.	2nd when we are showing the card for adding more items that time it wont display anything.

1st time when we call the cards -

![image](https://user-images.githubusercontent.com/71652470/1044744

[2021-01-13 16:44] benbrown commented on #4613
This uses the `foreach` expression to iterate over each item in `dialog.Results.content`.  Each item is then stored in the property `u`, and then passed into the iterator function `json(GetAdaptiveCards(u))`.  The result of this is an array containing the JSON of a card for each item.

This part, `json(GetAdaptiveCards(u))` shows the process of generating the json with an LG rule `GetAdaptiveCards

[2021-01-13 17:39] dmvtech commented on #4613
Thanks for following up @philip-mc letting us know that it worked for you.

Not that I knew the answer either 😅, but here is the documentation for it :
https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#foreach

[2021-01-13 18:13] mewa1024 commented on #5360
@zhixzhan Thanks for looking into this! Is the "**Cannot cast Newtonsoft.Json.Linq.JObject to Newtonsoft.Json.Linq.JToken**" error a common thing that a more frequent user of Composer would understand? I think the biggest problem here is that the dialog ends and the user would have to start all over. It would better if at this point the dialog did not end, but replied that it didn't understand.

[2021-01-13 18:34] tonyanziano commented on #5496
I am able to reproduce this using the following steps:

1. Open Composer
2. Switch language to Deutsch
3. Close Composer
4. Open Composer
5. Try to open a bot

Composer then freezes.

I opened the dev tools console during all this and was able to capture the following error output:

[code]

It looks like there is some sort of localization error with `format-message` and the German translations.

@

[2021-01-13 18:41] beyackle commented on #5496
Oh, this again. I remeber what that was (improper quoting in strings). It's even the same example as before.

[2021-01-13 19:26] mewa1024 commented on #5360
(@xiyangdesign fyi)

[2021-01-14 02:54] zidaneymar commented on #5510
Fixed with:
[code]

[2021-01-14 02:54] #5510 closed

[2021-01-14 07:39] alanlong9278 commented on #5467
Sure, I will cover 202, 200, 404, 431, 500 http status in frontend in #5375

[2021-01-14 08:53] hibrenda opened #5522 "Support LG template navigation"
As a user, when I hover to the template name, I can use “go to definition” to navigate to the corresponding template
- for in line view in sendactivity, if the template has already defined , user can navigate to the all up view
- for LG all up view (manaco editor), user can navigate to the right definition no matter template is defined in the same file or in the imported file

[2021-01-14 09:04] hibrenda opened #5523 "Support auto-complete in LG editor when user is typing characters"
As a user, when I editing in LG editor with memory variables, the auto-complete worked with "." as below
![image](https://user-images.githubusercontent.com/43408889/104567596-ec4e6100-5689-11eb-8903-bb9de4cb6b9c.png)

The auto-complete should work if user is typing some characters.
![image](https://user-images.githubusercontent.com/43408889/104567767-27e92b00-568a-11eb-8f7c-26dae24e76d9.png)

[2021-01-14 09:38] cxbuilders opened #5525 "Using Telemetry - track event -> Fails to start bot"
**Version: 1.3.0**

When using the Telemetry - track event action the bot fails to start (both a fresh bot and one with custom runtime) throwing the error:

Unhandled exception. System.Exception: hrempower.dialog error: Type Microsoft.TelemetryTrackEvent not registered in factory. ---> System.ArgumentException: Type Microsoft.TelemetryTrackEvent not registered in factory

[2021-01-14 14:51] irwinwilliams opened #5526 "Home page, MRU list: Remove from list, Reveal in finder"
It would be good to be able within the composer to remove projects from the list of recent projects.

[2021-01-14 16:51] srinaath commented on #5472
Closing this ticket. The issue was an invalid MsAppId for the consumer bot and the need to configure MsAppId's for all the skills when one of them is remote.

[2021-01-14 16:51] #5472 closed

[2021-01-14 16:57] benbrown opened #5527 "Extract provisioning script"
In the future, we want to point users to the provisioning script as its own tool, for it pros who will create an environment for development team.

- [ ] separate into its own repo
- [ ] update script to prompt for each type of resource if not specified?

[2021-01-14 17:00] dmvtech commented on #5525
Known issue: https://github.com/microsoft/BotFramework-Composer/issues/4305 https://github.com/microsoft/BotFramework-Composer/issues/5400

Workaround:
Change
`"$kind": "Microsoft.TelemetryTrackEvent",`
To
`"$kind": "Microsoft.TelemetryTrackEventAction"`

This should have been fixed though: https://github.com/microsoft/botbuilder-dotnet/pull/4778

@luhan2017 Any insight?

[2021-01-14 17:29] dmvtech commented on #5525
Sorry didn't read[ the comment ](https://github.com/microsoft/BotFramework-Composer/issues/5400#issuecomment-749286075)fully. This is not included in 4.11.0.

[2021-01-14 17:34] a-b-r-o-w-n commented on #5503
@sangwoohaan can you work with @garypretty to understand this request and make suggestions on improvement?

[2021-01-14 17:35] srinaath commented on #5499
@pedro-ramirez-suarez 

[https://github.com/microsoft/BotFramework-Composer/tree/main/extensions/packageManager#readme](https://github.com/microsoft/BotFramework-Composer/tree/main/extensions/packageManager#readme)

We have this new functionality in Preview. Essentially, you can wrap all of your common code (dialog,triggers) and push it to a package. The package can be imported into your bots

[2021-01-14 17:38] a-b-r-o-w-n commented on #5526
@sangwoohaan will you look into this feature request? It should be rather trivial to implement but will need some UX design.

[2021-01-14 17:44] pedro-ramirez-suarez commented on #5499
Hi @srinaath
That solves our problem! any idea on when this will move out of preview?

[2021-01-14 17:51] cxbuilders commented on #5525
@dmvtech ahh, I searched for an issue first, but see the other ones are closed already? For next time, when are bugs actually closed?

[2021-01-14 17:54] anusharavindrar commented on #5508
@Khanh-Ngy, can you elaborate more on what you are trying to do? Maybe the steps to repro and what channel are you on?

[2021-01-14 19:05] dmvtech commented on #5450
Closing as the issue is identified and the changes need to be made on your end. You need to export the runtime and then have the administrators allow that executable to run.

[2021-01-14 19:05] #5450 closed

[2021-01-14 19:13] dmvtech commented on #4875
Closing. Workaround shared, and bug in dotnet repo has been filed.

[2021-01-14 19:13] #4875 closed

[2021-01-14 19:15] sangwoohaan commented on #5503
I've done some design explorations on this already. It's on hold currently but I'd be happy to continue making progress.

[2021-01-14 19:37] dmvtech commented on #5525
@cxbuilders I'll defer to @cwhitten

But I think the issues opened in this repo were closed as the issue was found to be in the dotnet library and bug opened there for tracking alone.

[2021-01-14 19:38] dmvtech commented on #5511
I'm checking to see if I can reproduce.

[2021-01-14 21:42] zxyanliu commented on #5464
FYI. I just tested with Composer v1.3.1 release candidate.
The reloading issue was resolved for C#.
The reloading issue persists for JS.

[2021-01-14 21:45] #5464 closed

[2021-01-15 00:19] sangwoohaan commented on #5526
Ok will take a look into this.

[2021-01-15 00:39] JohnRobertGreen opened #5530 "Cannot start bot in Composer after upgrade to 1.3"
## Describe the bug

I was used v1.2; tested running locally and publishing which worked fine. Upgraded to 1.3. Can no longer run the bot from Composer. "Building" ophase seems to work. "Starting" phase reports "Failed to start. See Details" and details shows the very helpful "Start bot failed [object Object]".

## Version

1.3

## Browser

Chrome Version 87.0.4280.141 (Official Build) (64-bit)

#

[2021-01-15 00:57] JohnRobertGreen commented on #5393
Also have the personal account issue. Worked fine in 1.2.1, upgraded to 1.3 and now it doesn't work.

[2021-01-15 02:27] Khanh-Ngy commented on #5508
## My design :
![image](https://user-images.githubusercontent.com/71876037/104671554-9ffa3400-5710-11eb-99d8-424262d1d086.png)

## My code for button " ONE " && " TWO:

![image](https://user-images.githubusercontent.com/71876037/104671973-742b7e00-5711-11eb-80d6-ebd14c91a8c5.png)

## What I need :

API pagination && update the message ( don't create new message )

For example :
Click button "ONE"

[2021-01-15 03:05] luhan2017 commented on #5335
@tiagonmas #5521  we had a PR to fix this issue, should be merged soon. will keep you posted.

[2021-01-15 04:20] MoesLab commented on #5393
Any news from the external team member yet?

[2021-01-15 06:38] keunoklim commented on #5480
I inputed name whose I created for luis. For example, If I created Composer-xxx-dev-luis, then I inputed the same name in "luisResource"

[2021-01-15 07:43] zidaneymar commented on #5480
Hi @keunoklim , are these two resources (luis authoring resource and luis prediction resource) under the same subscription?

[2021-01-15 08:30] hibrenda opened #5531 "Fresh 'yarn install' composer will hit error"
Git clone the composer main branch, fresh "yarn install"  will hit following error
![image](https://user-images.githubusercontent.com/43408889/104699952-6fd18600-574e-11eb-8a49-842649a58610.png)

orchestrator related module is missing
https://bcmodelsprod.azureedge.net/native/orchestrator-core-v4.11.2-dev.20201208.c620747-node-v88-win32-x64.tar.gz

[2021-01-15 08:35] boydc2014 commented on #5531
I also get a 404 by directly visit the above url https://bcmodelsprod.azureedge.net/native/orchestrator-core-v4.11.2-dev.20201208.c620747-node-v88-win32-x64.tar.gz.

@taicchoumsft can you help take a look at this one, maybe our orchestrator js lib is out of date?

[2021-01-15 09:06] arjunDhanAi opened #5532 "Each dialog in botcomposer needs an Luis app"
Hi does each dialog in bot-composer need a Luis app. Can we not have the same app work with multiple dialogs?

[2021-01-15 09:18] #5525 closed

[2021-01-15 10:33] Botcomposer opened #5533 "Bot framework composer - Issue ask question --> text --> user input"
Dear reader,

The Bot framework composer has an issue with 'ask a question' -> 'user input'. I am unable to open the tab and to provide (write) expected user input. It gives the explanation that there is an error in the form editor, probably due to invalid data or missing funcitonality in framework bot composer. I am using the latest version of the application on Windows.

Steps:
1. in authoring c

[2021-01-15 12:50] selvaduraiece commented on #4257
Hi Dana,

Is Transcript middleware is supported in Composer now? I can see that new Bot composer is released on **December** includes orchestrator.
Even I saw that Transcript Logger Middleware in the Runtime code
![image](https://user-images.githubusercontent.com/40558980/104728598-23da0d80-575d-11eb-88f4-96393590045e.png)

As you mentioned above I have already configured all those things. Even I

[2021-01-15 13:00] selvaduraiece opened #5534 "Store Bot entire conversation"
Hi Team,

Is Transcript middleware is supported in Composer now? I can see that new Bot composer is released on **December** includes orchestrator.
Even I saw that Transcript Logger Middleware in the Runtime code
![image](https://user-images.githubusercontent.com/40558980/104728598-23da0d80-575d-11eb-88f4-96393590045e.png)

As mentioned [#4257 ](https://github.com/microsoft/BotFramework-Composer/i

[2021-01-15 13:03] selvaduraiece commented on #5534
**This is very urgent requirement. If needed even I can raise a support ticket in Azure/Microsoft.**

[2021-01-15 14:43] cxbuilders opened #5535 "Resolving Locale and default language"
I ran a test whereby I created an additional language Dutch (Netherlands) -> nl-nl When setting the locale in emulator to nl-be it responded it the default language en-us

So some questions come to mind;
- Should the locale not be resolved to match the language if there is no exact locale match

I then expected I needed to use Dutch without a country -> nl , however it then gives a warning that th

[2021-01-15 15:11] #5425 closed

[2021-01-15 16:01] #5533 closed

[2021-01-15 16:43] cwhitten commented on #3639
@luhan2017 with the endpoint key in the LUIS form is this still an issue?

[2021-01-15 16:45] cwhitten commented on #3675
@feich-ms, putting this on you for R12

[2021-01-15 16:46] cwhitten commented on #3889
@garypretty leaving this out of R12 until you have a chance to understand the middleware better with Chris Mc

[2021-01-15 16:50] cwhitten commented on #4020
We're no longer going to be managing runtimes for solutions. Removing from R12

[2021-01-15 16:55] cwhitten commented on #4306
As part of the new provisioning UX, we now have a field to supply the LUIS region when there is a conflict. Closing as addressed.

[2021-01-15 16:55] #4306 closed

[2021-01-15 16:58] cwhitten commented on #4513
@pavolum please look these tasks over and update anything needed, or close this ticket entirely if it is now stale

[2021-01-15 17:02] cwhitten commented on #4884
@lei9444 this has been addressed, right? please close if so.

[2021-01-15 17:04] cwhitten commented on #4873
It seems like managed QnA authoring and the QnA Action are being conflated with each other. When using the QnA Action the knowledgebase id is required.

[2021-01-15 17:05] cwhitten commented on #5396
This will be addressed in an upcoming patch (1.3.1)

[2021-01-15 17:05] #5396 closed

[2021-01-15 17:07] cwhitten commented on #5430
@luhan2017 if I understand correctly, this is a runtime feature request, which should funnel into the adaptive runtime project. Do you agree?

[2021-01-15 17:08] cwhitten commented on #5431
Pulling out of R12 as it doesn't seem like we have clear requirements or guidance on this yet.

[2021-01-15 17:40] taicchoumsft commented on #5531
Hi @hibrenda , can you try downgrading to Node14 and try?  The `node-v88` portion of the download string is probably causing this.

[2021-01-15 17:49] cwhitten commented on #5532
Hi @arjunDhanAi - a recognizer such as LUIS is bound to a Dialog, and no, the same app is not designed to work with multiple dialogs.

An approach to only use one LUIS application would be to have your root dialog be the place where all intent recognition is defined and run and your dialog logic would route from your root dialog to your child dialogs. Any logic inside your child dialogs that may r

[2021-01-15 17:49] #5532 closed

[2021-01-15 19:18] srinaath commented on #5499
![](https://user-images.githubusercontent.com/13004779/104768860-2ddf1a80-5723-11eb-9b98-d041d5145a87.png)

We have a quite a few preview features you can enable and use. We dont have a set date yet on when we would GA all of them. But, you can start adopting these features in your app early if you wish.

@benbrown

[2021-01-15 19:18] #5499 closed

[2021-01-15 19:33] ashokdevlabs commented on #5511
we figured it out.
when we use the same dialog without clearing the user state variables at that time this issue occurs.
I tried deleting all the user state variables then it worked 2nd time as well.

[2021-01-15 19:33] #5511 closed

[2021-01-15 20:01] ashokdevlabs commented on #4816
Hello, I got this issue too, while calling dialog 2nd time.
Has anyone got any solution yet?

[2021-01-15 20:48] benbrown opened #5536 "allow installation of components from private myget feeds"
when a user attempts to install a component from a private feed, an additional parameter has to be passed in during dotnet package add that specifies the package source.

[2021-01-15 22:00] GeoffCoxMSFT commented on #5494
This is fixed in the latest SDK and bf-generate library (as of 01/13).  It will ship as part of 1.4 (R12)

[2021-01-15 22:00] #5494 closed

[2021-01-15 22:08] dmvtech commented on #5530
Do you have .NET v 3.1 installed? You can run `dotnet --info` to find out.

See similar issue here: https://github.com/microsoft/BotFramework-Composer/issues/5390

[2021-01-16 00:10] Heinzfb commented on #5478
Hey there,

thanks for the quick answer. I do not have the win10 Pro version. - gpedit.msc - is not intalled by default. So I can't check by bringing this property up. But no Problem, I will get it via clone.  :)

[2021-01-16 00:10] #5478 closed

[2021-01-16 00:18] dmvtech commented on #5534
HI @selvaduraiece

Yes, you can use the TranscriptLoggerMiddleware fairly easily.

Steps are:

1. Create your blob storage with container named `transcripts` (or another name if desired).
2. Grab the connection string:
![image](https://user-images.githubusercontent.com/43397658/104790832-46642a80-574d-11eb-8cb8-c76baa82fb5d.png)

3. Modify your bots settings to use the connection string from that

[2021-01-16 00:54] hsachinraj opened #5540 "Get Channel info inside composer"
Is it possible to capture channel information like the source inside the composer? I want to capture what channel (Teams, Telegram, Line) the user is using to interact with the bot and based on that capture details like user name/email, etc. Possible?

[2021-01-16 09:49] philip-mc commented on #2232
Hi,

I don't see the dynamic dropdown on bot composer v.1.3.0

I have a dynamic value called ${conversation.slot1} set to "tomorrow"which I am trying to use as an option in multiple choice. I cannot get the property to evaluate to "tomorrow".

[2021-01-16 10:54] selvaduraiece commented on #5534
Hi @dmvtech

Thanks a lot for the quick response. Much appreciated.
I have already done this configurations and I and see the data as well.
![image](https://user-images.githubusercontent.com/40558980/104809923-fd78a880-5816-11eb-9174-b7768f70415c.png)
![image](https://user-images.githubusercontent.com/40558980/104809927-09fd0100-5817-11eb-8a25-bc585e688b6d.png)

The problem is with the retrieval p

[2021-01-16 13:32] peterbozso commented on #4873
Thanks @luhan2017 and @cwhitten for the explanation! Now (after also carefully re-reading the docs) I see the situation clearly.

[2021-01-16 22:39] keunoklim commented on #5480
Yes. these are under subscription. you can really easy reproduce this issue just westus region author and other region luis predcition except westus. For experiment, I triey japan region for luis prediction. I also reproduced this issue.

[2021-01-17 05:34] JohnRobertGreen commented on #5530
From dotnet --info:

 Microsoft.NETCore.App 3.1.10 [C:\Program Files\dotnet\shared\Microsoft.NETCore.App]

John Green
Head of Technology

Ultradata - Vision to Reality
T: +613 9291 1600
www.ultradata.com.au

________________________________
From: Dana V <notifications@github.com>
Sent: Saturday, 16 January 2021 9:08 AM
To: microsoft/BotFramework-Composer
Cc: John Green; Author
Subject: Re: [micros

[2021-01-17 08:43] VladimirDjidjishev opened #5541 "End conversation by the Bot"
I have created a Bot which I have attached to Omnichannel for customer services (D365 extension). When a user starts a conversation with he Bot through any channel (e.g. Teams) the conversation goes for ever with the Bot.
I am not able to end up the conversation in Omnichannel for customer service as there is no standard Action in the Bot Framework Composer to end the conversation.
Could you advis

[2021-01-17 18:02] vivekkshankar commented on #5495
@hibrenda Ideally, from a UX standpoint we should preempt this and inform the user that the local is unsupported by LUIS earlier in the workflow. I would suggest we show this right in locale selection dropdown - for unsupported locales lets show a ⚠️ inline which when hovered on shows a message saying this is unsupported by LUIS. The same could be added as a warning  even in the errors and warning

[2021-01-18 02:54] feich-ms commented on #5359
@zhixzhan CLI fix is merged. You can switch to the new nightly build of bf-cli to resolve this issue in composer.

[2021-01-18 02:58] Danieladu commented on #4262
Close it for it has been fixed in the latest sdk

[2021-01-18 02:58] #4262 closed

[2021-01-18 08:10] yeze322 opened #5544 "Incosistent order of Action flyout menu under different locales"
## Describe the bug

In Italian, the action flyout menu's order messed up:
![image](https://user-images.githubusercontent.com/8528761/104888233-6b53da00-59a7-11eb-8e28-4ce7d23e785a.png)

This issue is related to the lack of information in uischema - menu part. We need a field to represent the order of a $kind in the flyout menu.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [

[2021-01-18 08:14] yeze322 commented on #5544
Similar to Trigger uischema, I'm going to add a new field `order` in the definition of Action menu uischema.
Link to Trigger uischema as an example: https://github.com/microsoft/BotFramework-Composer/pull/4079/files#diff-4ba737dc33a64481d1347019910a69a7c2626a6368da6ffa0f5f0490dfc0f0c9

cc @a-b-r-o-w-n

[2021-01-18 12:43] Samirun commented on #5532
@cwhitten  could you follow these comments which @arjunDhanAi  mentioned above  and let us know the best possible way? let us know if the issue is still unclear.
https://github.com/dhan2018/dhan/issues/769

[2021-01-18 12:49] hibrenda commented on #5531
@taicchoumsft  yes. It works for node 14.15.4 .

[2021-01-18 14:03] Samirun commented on #5532
my simple question is : if i have dialog A and dialog B , and have 10 input prompts  of type yes or no in each dialog,  if I go from dialog A to dialog B through input  interruptions. how would I end dialog A and move to dialog B.
 these 2 dialogs should be able to use a common Luis trigger "yes".

[2021-01-18 17:22] pedro-ramirez-suarez opened #5548 "Issues with LUIS"
Hello,
We are building a bot that is split into multiple skills, 6 so far and more to come; This is how we are using LUIS:

- We have a different LUIS key for the main/root Bot and for each skill.  LUIS quota is being exhausted frequently for the main bot.
- We are sharing a key for all the developers and QAs, that key is also being exhausted frequently.

I tried to upgrade the pricing tier on the

[2021-01-18 17:46] mdrichardson commented on #5540
@hsachinraj You can access all of that via the `turn` memory scope with something like `${turn.activity}`. Channel can be found with `${turn.activity.channelId}`. Everything else varies by channel and is likely in either `${turn.activity.from}` or `${turn.activity.channelData}`

[2021-01-18 22:44] arafattehsin opened #5549 "Unable to update Composer"
## Describe the bug

I have attached the gif that'd give an overview of what's happening. This issue popped up in earlier versions as well [4813](https://github.com/microsoft/BotFramework-Composer/issues/4813)

For the context, I tried both options *Only me (user) or Everyone* while installing Composer. I am also the administrator of this new machine.

## Version

1.3

## Browser

- [x] Electron d

[2021-01-19 00:06] cwhitten commented on #5549
Hmm. Sorry to hear about your troubles @arafattehsin. I just picked up the latest nightly on Mac and it worked fine.

<img width="575" alt="Screen Shot 2021-01-18 at 4 01 44 PM" src="https://user-images.githubusercontent.com/1156704/104972383-7a865800-59a6-11eb-8100-80828d4ce4c5.png">

On Windows we ask users install the application for all users.

The following is a heavier operation but should p

[2021-01-19 00:08] #5540 closed

[2021-01-19 01:24] hibrenda commented on #5549
@cwhitten I can repro this on windows after delete entire @bfc and old composer as well.
![image](https://user-images.githubusercontent.com/43408889/104976372-098f8080-5a38-11eb-90ec-cfef3b71e0ab.png)

[2021-01-19 02:21] yeze322 commented on #5395
Stage 1 - port uischema to sdk repo WIP:
https://github.com/microsoft/botframework-sdk/pull/6163
https://github.com/microsoft/botbuilder-dotnet/pull/5099

[2021-01-19 02:24] hibrenda commented on #5549
![image](https://user-images.githubusercontent.com/43408889/104979845-32b40f00-5a40-11eb-9be8-3416392f142a.png)

[2021-01-19 05:58] UmaPrelude opened #5550 "Waterfall dialog in custom action project"
Hi,

I want to use waterfall dialog as part of custom action from composer.
I am not able to do it.
If i get any reference it would be great.

[2021-01-19 06:07] boydc2014 commented on #5549
Update: this is largely related to somehow the permission to the disk is not correctly setup or the folder is occupied by another process somehow, still in the processing of understanding the exact cause. But at this moment, we don't think this is a ship blocker, because we are using the default setup for electron auto-update mechanism without doing any specific thing here, and it works well for a

[2021-01-19 06:30] boydc2014 commented on #5549
We figured out it's a race condition when autoUpdate = true in Brenda's case. @arafattehsin can you check if set autoUpdate = true, if yes, can you try turn if off?

[2021-01-19 08:14] boydc2014 opened #5551 "Data race in auto updating vs manual updating"
## Describe the bug

We have a data race when user click "check for updates" with auto-update set to true, causing the updating fail (#5549).

The reason is when auto-update is set to true
1. when composer starts up, we are checking the updates at backend and starts the downloading process, a temp file is created for the
2. when user click check for updates, we are trying to write a same temp file

[2021-01-19 10:28] arafattehsin commented on #5549
@boydc2014  It's still the same re: autoUpdate = false.

[2021-01-19 13:19] boydc2014 commented on #5549
Can you try the following
1. start composer, assuming 1.3.0
2. turn off Composer's auto update in settings page
3. **quit composer** // this is necessary, because in step 1, the auto update already started working
4. start composer, and check auto update is off or not, if it's off, click "check for updates"

[2021-01-19 13:30] arafattehsin commented on #5549
Thanks @boydc2014 - your series of steps were super helpful!

![2021-01-20_0-29-09](https://user-images.githubusercontent.com/16351038/105041021-9c6f0000-5ab6-11eb-9e54-bfe5d29c7d13.gif) - I have made a clip for your reference, there was some error which I think should be handled.

[2021-01-19 13:32] arafattehsin commented on #5549
Happy to close this issue as it has resolved my problem though! Thanks team. 🤘

[2021-01-19 13:32] #5549 closed

[2021-01-19 17:32] dmvtech commented on #5432
Hi @narulasrinivas I am closing this due to inactivity. If you are still having this issue and need assistance, please clarify on the points above and I will reopen.

[2021-01-19 17:32] #5432 closed

[2021-01-19 18:18] dmvtech commented on #5541
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-01-19 18:18] dmvtech commented on #5541
Hi @VladimirDjidjishev Unfortunately, I am not familiar with Omnichannel.

Can you confirm what are the conditions of an started or ended conversation in your scenario? Once a conversation is ended, is the user expected to log back in? Are they expected to ask a new question? I think I need to better understand the scenario and what you consider the beginning and end of a conversation (with the bo

[2021-01-19 18:27] JuanCarlos2610 commented on #3323
Hola @UmaPrelude  Disculpa soy nuevo en Composer y tengo este mismo problema, podrás indicarme como lo resolviste? me ayudaría mucho gracias

[2021-01-19 18:37] dmvtech commented on #5548
Hello @pedro-ramirez-suarez

Is this the authoring key or prediction key?

I'm not sure on this as this is more of a LUIS/portal question (as well as a billing/portal question) more than a bot/Composer question. I would recommend checking documentation or creating a support issue here:

- https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-limits#resource-usage-and-limits
- https:/

[2021-01-19 18:51] anusharavindrar commented on #5508
@Khanh-Ngy, the Update activity action is not currently supported in Web Chat or Emulator. If you want the update activity to work, then I would suggest you file for a feature request in the [SDK](https://github.com/microsoft/botframework-sdk/issues) or the [services](https://github.com/microsoft/botframework-services/issues) repo and the team will take a look.

[2021-01-19 18:51] #5508 closed

[2021-01-19 19:29] dmvtech commented on #5530
Hi @JohnRobertGreen Can you please clear out the runtimes (all folders) in `%APPDATA%\Roaming\BotFrameworkComposer\hostedBots` and then try again? (You can also host an extracted runtime if you wish)

[2021-01-19 19:51] dmvtech commented on #5534
While transferring chat from 'Bot' to the 'Live Agent' I need to retrieve the data and pass it along. Can you help me with the retrieval part.(Getting specific user message from Blob/Cosmos Storage)

There is no way to do this in Composer as it stands. You will have to modify your runtime and write custom code. Depending on your exact needs you might be able to [create a custom action](https://doc

[2021-01-19 19:51] #5534 closed

[2021-01-19 19:54] dmvtech commented on #5055
@arjunDhanAi See response here:
https://github.com/microsoft/BotFramework-Composer/issues/5534#issuecomment-763088059

You can of course retrieve that data. But not simply or easily with Composer. You have to write custom code to do so.

[2021-01-19 20:50] selvaduraiece commented on #5534
Grt, I found a Work around.

1. Created a in memory storage and adding all the 'To' and 'From' conversation.
2. Whenever Conversation is ended i am triggering that to Cosmos storage.

and it worked. I am handling everything in 'OnTurnAsync' in runtime code

[2021-01-19 21:13] pavolum opened #5554 "Replace available language in creation UI with supported languages from the selected template passed as metadata"
Available language for any particular template in the language drop down are hard coded, these should by populated respective to the available languages the selected template supports.

[2021-01-19 21:25] tonyanziano commented on #5551
@boydc2014 I'm a little confused about the repro steps.

You say that **we should turn off auto update** and then manually check for updates, but the expected behavior talks about **having auto update enabled** when manually checking for updates.

Due to the nature of the problem, I would assume that you want auto update enabled, so that there is actually a file downloading when you go to manually

[2021-01-19 21:27] v-kydela commented on #5550
Hi @UmaPrelude

Composer uses adaptive dialogs, and adaptive dialogs don't generally mix well with waterfall dialogs. If you want to attempt this anyway, I have a few questions.

1. What are you trying to accomplish with waterfall dialogs?
2. Could it be accomplished with adaptive dialogs?
3. Is the action meant to last for multiple turns?
1. What have you tried so far?
2. Can you link to any samp

[2021-01-19 22:00] pavolum opened #5556 "Pass 'runtime type' from Composer UI, through creation server call, to yeomen template"
The creation UI has fields for runtime language to be used when bootstrapping the template. Currently this field selection is ignored.

- [x] When the runtime generator is set up to accept a runtime flag then implement the data passing to the runtime instantiation from the ui
- [x] in R12 we do not support multi local component model templates so force the user to only be able to select english

[2021-01-19 23:44] JuanCarlos2610 opened #5558 "Carga de archivos pdf desde Bot Framework Composer"
Hola,

Quiero enviar un archivo pdf hacia la Api web pero no he obtenido documentación alguna, si me pudieran apoyar con esto me sería de mucha ayuda.

Gracias.

[2021-01-20 01:06] dmvtech commented on #5448
Hi @ysnoek2 Is your bot only running locally in Composer or published to Azure? Are there any similarities to your setup and what is described in #5451

[2021-01-20 01:09] boydc2014 commented on #5551
Sorry, my typo, i mean turn on autoUpdate.

A more accruate repro, is watch the folder and file been created, and then click check for updates, you will see a surely conflict

[2021-01-20 01:36] luhan2017 commented on #5430
@cwhitten, Yes, per the discussion in our last standup, all the runtime related new features should funnel into the adaptive runtime project.

[2021-01-20 01:41] luhan2017 commented on #3639
@cwhitten, Yes, though we expose the endpoint key in the form, if user want to use the endpoint key, they still need to manually bind the luis app with the prediction resource. We can't achieve this right now because, we need the azure access token to do the binding. But we did have a plan in R12 to support azure login and some UX experience similar as provision for local luis settings configurati

[2021-01-20 01:59] boydc2014 commented on #5551
[auto update log.txt](https://github.com/microsoft/BotFramework-Composer/files/5839697/auto.update.log.txt)

[2021-01-20 02:00] anniexudan commented on #5456
I have the same issue. Any solution here?

[2021-01-20 04:03] yeze322 commented on #5495
To the point of schema design, does it mean that Recognizer $kind needs to declare its compatibility with different locales?

For example, RegexRecognizer declares it supports `'*'` locales; CrossTrainedRecognizer declares it supports `['en-us', 'zh-cn' ... ]`.

[2021-01-20 04:20] #5467 closed

[2021-01-20 04:20] MoesLab commented on #5456
Hi Tony, is there any documentation for deploying the chatbot created by the composer from az?
Is there any news from the external team looking into this, I assume it should not be a difficult thing since all work has been done for none-personal accounts? can you enlight us what is the issue the external team having?

[2021-01-20 05:24] boydc2014 opened #5559 "Break down DesignPage"
Our perf investigation shows that DesignPage, the component that contains ProjectTree, Visual, Form, BreadCrumb, etc, are listening too much state changes causing perf issues by over-rendering in many cases, including
* Any minor state changes is causing a full re-rendering.
* Any router change is triggering a full re-rendering.
* Any subsequent state change (by useEffect) is triggering another re

[2021-01-20 05:29] boydc2014 opened #5560 "Refactor ProjectTree"
ProjectTree is one critical component that is used in many pages, like design, lg, lu, qna, etc. Current projectTree carries the requirements from all pages and becomes a relatively large component, which renders slow(100~200ms in many cases) and renders too often (listening too much states, and internal states changes very often then re-render again).

By breaking down ProjectTree or refactor Pro

[2021-01-20 05:32] boydc2014 opened #5561 "Move persistence layer's delta computation into worker"
Our profiling shows that, for a large bot, the file persistence layer's delta computation (calculating the delta to be saved to disk\storage) is taking a fair amount time and could cause the UI thread to be blocked.

![image](https://user-images.githubusercontent.com/3829387/105131532-17223480-5b24-11eb-898e-4d4d6c2c6f50.png)

The 4th in the above picture is showing file persistence layer is takin

[2021-01-20 05:46] boydc2014 opened #5562 "Composer coding convention spec"
We are observing different patterns are been leveraged in current composer codebase, in many aspects like
* Recoil
* Hooks
* Typing
* Styling
* General coding convention

A unified coding convention will help us in many ways, including code quality and review efficiency. The expected deliverable of this a doc including the recommended conventions, with each convention's what, how, why.

[2021-01-20 08:17] kallejar commented on #5345
@cwhitten Sorry for the long delay in response (vacation and and tons of other things to run).

So I had some discussion with our Infra team to check, if we could change our conditional access policy for the Bot Framework Composer and end result was that we are not making any changes there (too many rules that needs changing was the response). So I am fine moving this project work on other worksta

[2021-01-20 09:37] boydc2014 commented on #4215
After checking with Tai and Leilei, we are closing this because we already implemented a solution that avoid unnecessary copy in local environment. For azure publishing, the best solution we are visioning, using a shared drived mounted in different web app instances,  is not achievable at the moment, because Azure Blob\Files do not support Windows web app.  No action needed at this moment.

[2021-01-20 09:37] #4215 closed

[2021-01-20 09:47] ysnoek2 commented on #5448
Hi @dmvtech, my bot is also published to Azure and working perfectly in Teams. I checked #5451 and the emulator version is the same (4.11.0), i do not use qnamaker but i use Luis. The luis settings in the generated folder are correct and so are the one in recognizer

[2021-01-20 10:04] tiagonmas commented on #5467
You closed the issue but I still see the error on the nightly build [df53a98](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.3.1-nightly.204049.df53a98)
![image](https://user-images.githubusercontent.com/42462/105159305-d831b600-5b06-11eb-8fee-cfa9cd80408e.png)

[2021-01-20 10:10] boydc2014 commented on #5549
Thanks, yes, we are aware of this issue, so i opened up #5551 to track the issue. Once that been resolved, it should deliver the expected and hopefully users won't have to do the above steps to work around that.

[2021-01-20 10:22] tiagonmas commented on #5467
Still getting HTTP 431 when publishing
![image](https://user-images.githubusercontent.com/42462/105161510-5e4efc00-5b09-11eb-9702-362e013d8e2a.png)

[2021-01-20 17:19] tonyanziano commented on #5456
@MoesLab let me see if I can find some documentation on how to do a manual publish, or if I can get someone on the team more familiar to explain how to do it.

The current situation with the external team is that we are blocked until they make a change on their side, and to make the change, we have to get approval which is taking longer than expected. We are trying to push the approval through as

[2021-01-20 18:06] srinaath opened #5564 "Directline Implementation on Composer"
This ticket encapsulates the port of Mock Directline Server from Emulator to Composer.

[2021-01-20 18:11] srinaath opened #5565 "Webchat UI Integration"
This ticket encapsulates all the UI work to incorporate Webchat implementation in Composer.

Figma: https://www.figma.com/file/HwYEQoCmWbNrIDdCOmGvzN/bot-testing-BRAINS-storm?node-id=931%3A9852

*   [ ] Restart conversation with the same user ID/different user ID.
*   [ ] Saving a conversation as a transcript.
*   [ ] Allow uploads and attachments to a conversation

[2021-01-20 18:26] pavolum opened #5566 "Create UT for new creation flow"
Create unit & integration tests for the new component model based creation flow.

- [x] Template feed population unit test
- [x] Yeomen generator installation unit test
- [x] Yeomen generator instantiation unit test
- [ ] Read me gathering unit test

[2021-01-20 18:35] dmvtech commented on #5558
Hi @JuanCarlos2610

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

Please open a question on Stack Overflow

[2021-01-20 18:35] #5558 closed

[2021-01-20 20:02] Heinzfb opened #5567 "error Couldn't find package "@microsoft/bf-generate-library@^4.10.0-daily.20210113.202382""
## Describe the bug
Hi there,

error Couldn't find package "@microsoft/bf-generate-library@^4.10.0-daily.20210113.202382" required by "@bfc/server@1.0.0" on the "npm" registry.
Try to figure out everything ,node version, looking for this package, ...
Clone it several times, updated net sdk and all other packages
I have no idear :(. Help! Need this for university.

## Version

master version -> via

[2021-01-20 20:11] tracyboehrer commented on #4104
Moving to https://github.com/microsoft/botframework-core/issues/42, closing this issue.

[2021-01-20 20:11] #4104 closed

[2021-01-20 20:27] #5484 closed

[2021-01-20 21:49] #4185 closed

[2021-01-20 21:50] GeoffCoxMSFT commented on #4185
This work is no longer applicable as it is handled under other feature work for R12.

[2021-01-20 21:53] GeoffCoxMSFT commented on #4190
This work is no longer applicable as it is handled under other feature work for R12.

[2021-01-20 21:53] #4190 closed

[2021-01-20 21:53] GeoffCoxMSFT commented on #4191
This work is no longer applicable as it is handled under other feature work for R12.

[2021-01-20 21:53] #4191 closed

[2021-01-20 21:54] GeoffCoxMSFT commented on #4192
This work is no longer applicable as it is handled under other feature work for R12.

[2021-01-20 21:54] #4192 closed

[2021-01-20 21:55] GeoffCoxMSFT commented on #4194
This work is no longer applicable as it is handled under other feature work for R12.

[2021-01-20 21:55] #4194 closed

[2021-01-20 21:55] GeoffCoxMSFT commented on #4198
This work is no longer applicable as it is handled under other feature work for R12.

[2021-01-20 21:55] #4198 closed

[2021-01-20 21:55] GeoffCoxMSFT commented on #4199
This work is no longer applicable as it is handled under other feature work for R12.

[2021-01-20 21:55] #4199 closed

[2021-01-20 21:56] GeoffCoxMSFT commented on #4200
This work is no longer applicable as it is handled under other feature work for R12.

[2021-01-20 21:56] #4200 closed

[2021-01-20 21:56] GeoffCoxMSFT commented on #4201
This work is no longer applicable as it is handled under other feature work for R12.

[2021-01-20 21:56] #4201 closed

[2021-01-20 22:09] GeoffCoxMSFT commented on #5567
The error message indicates yarn is looking on NPM for this package, but the package is sourced on botbuilder.myget.org.  The yarn.lock file helps to ensure it gets resolved from the right package location.

Could you check your Composer/yarn.lock file for bf-generate?  It should read like this:

[code]

In the case where you need to install new packages (or restore them when yarn.lock is missing)

[2021-01-20 22:19] GeoffCoxMSFT opened #5569 "Add command bar to LG code editor"
Per UX design: https://www.figma.com/file/q76DseJ7PK0g7zI1gXLzlD/SH_Language-Generation?node-id=607%3A1468

- [x] Add editor command bar
- [x] Add template references menu
- [x] Add property references menu
- [x] Add pre-built functions menu
- [x] Wire to data provided by platform team

[2021-01-20 22:21] GeoffCoxMSFT opened #5570 "Add LG response editor (Part 1) - basic"
Per UX design: https://www.figma.com/file/q76DseJ7PK0g7zI1gXLzlD/SH_Language-Generation?node-id=607%3A1468

- [x] Add   ability to switch between response and code editor
- [x] Add response editor text area

[2021-01-20 22:24] GeoffCoxMSFT opened #5571 "Add LG response editor (Part 2) modality support"
Per UX design: https://www.figma.com/file/q76DseJ7PK0g7zI1gXLzlD/SH_Language-Generation?node-id=607%3A1468

- [x] Add pivot control above response editor (Text, +)
- [x] Add + menu selection for adding modalities (Speak, Attachment,   Suggested Actions, Input Hints)
- [x] Add TEXT modality pivot
- [x] Add SPEAK modality pivot
- [x] Add ATTACHMENT modality pivot
- [x] Add SUGGESTED ACTIONS modality

[2021-01-20 22:51] tonyanziano commented on #5456
I've checked with the team and there currently is no documentation explaining how to manually do the publish. It is not trivial and requires moving folders and assets around in a certain way.

Sorry for the inconvenience, but we will keep you updated on the approval situation for enabling personal account authentication.

[2021-01-20 23:07] Heinzfb commented on #5567
Thanks for the real fast reply !
It is where it should be, I think (see below).
I forgot closing the cli after the error. I don't know how long it took but I would estimate about 20 min. It create a build but reeaaaal slow. It's working but I don't know if its normal. Enhanced you find the cli, maybe it help.
[buildAndStartCli.txt](https://github.com/microsoft/BotFramework-Composer/files/5845785/b

[2021-01-21 01:19] luhan2017 commented on #5451
@jocrafts do you still see the issue? Any update on this?

[2021-01-21 01:28] luhan2017 commented on #5467
@tiagonmas we just found the change on this PR will not take effect in electron app. could you try to set this environment variable before start the nightly composer build, and try again?
[code]

[2021-01-21 02:27] JohnRobertGreen commented on #5530
I verified I could run the bot locally using v1.2.1, then stopped Composer, cleared out the directory noted above, updated to v1.3 and tried running locally. It did not start and reported the error "Start bot failed [object Object]"

[2021-01-21 05:56] BeheraMadan opened #5574 "starting conversession from chat history"
Hi,

Consider below scenario in the sample bot
![image](https://user-images.githubusercontent.com/70739031/105284952-742bf200-5bd9-11eb-8fb7-6ef567a272e1.png)

![image](https://user-images.githubusercontent.com/70739031/105285057-9de51900-5bd9-11eb-8633-5229badf1fc3.png)

![image](https://user-images.githubusercontent.com/70739031/105314913-8fe8c580-5be4-11eb-93fa-f592339b717a.png)

After running

[2021-01-21 07:12] #5390 closed

[2021-01-21 08:40] tiagonmas commented on #5467
@luhan2017 it worked with that setting! :)

[2021-01-21 10:41] divyesh-inferenz-ai commented on #1965
@SiarheiKuchukBelitsoft your solution does not resolve this issue.

@Arjun-Jakka-Sridhar I am facing the same issues
can anyone have any solution regarding this issue? please help.

Thank you in advance.

[2021-01-21 11:40] yeze322 opened #5576 "Cannot run 'update-schema' after runtime updating to '4.12.0-daily*'"
## Describe the bug

#### Problem
Cannot run the `update-schema` script under the `schemas/` folder after ejected the runtime instance.
It will fail silently:
![image](https://user-images.githubusercontent.com/8528761/105344277-b1b26e80-5c1d-11eb-88b3-e9fe8bc23d19.png)

#### Cause
In #5529 , runtime's dependencies were updated to `4.12.0-daily*`, it caused the `update-schema.sh` script cannot refe

[2021-01-21 13:54] nitroin commented on #5344
Exact same problem here.

[2021-01-21 15:03] benbrown opened #5577 "Collect the Azure subscription ID as part of the publishing profile"
The subscription id is needed to take follow-up actions on the bot registration and other resources.  For example, managing channels on ABS will require this value, and if not present, we will have to prompt the user.

This field should be added to the publishing profile at the root level of the object.

- [ ] In Composer
- [ ] In azureProvision.js cli tool

[2021-01-21 16:08] benbrown opened #5578 "failed writes do not cause an error in Composer"
## Describe the bug

If a problem occurs while a file is being written, Composer does not throw an error or notify the user in any way.

We have a customer using a middleware plugin to add authentication, and when they throw errors, nothing happens!

## Version

1.3.0

## To Reproduce

1. Using the web app, open a bot in the dialog editor
2. Kill the webserver
3. continue to make edits in the clie

[2021-01-21 17:38] tonyanziano opened #5579 "Increase Electron `max-header-size` by default"
Trying to provision / publish to Azure sometimes fails with a 431 if the token in the header is too large.

See #5377 for reference

Currently there is a workaround by setting the following environment variable before starting Composer:

`set NODE_OPTIONS="--max-http-header-size=<some size in bytes>"`

Ex: `set NODE_OPTIONS="--max-http-header-size=16000"`

## Version

1.3.x

## Expected behavior

[2021-01-21 17:44] #5567 closed

[2021-01-21 17:58] tonyanziano commented on #5579
Notes about the issue:

- Might be worth trying to use `app.appendCommandLineSwitch()` to provide this default
- Since Node 13, this default value has been increased from 8 KB to 16 KB ([source](https://github.com/nodejs/node/commit/bd9f4d295495b11d2e460b320681e18a11524bb8))
  - Electron v11 is only at Node v12.8.3 right now, so we would have to wait for a newer version with Node v13.x, and then m

[2021-01-21 18:39] dmvtech commented on #5530
Thanks @JohnRobertGreen

Are you able to share your bot to see if I can reproduce? (maybe on another repo) If so, make sure to remove any personal/sensitive information.

Another option is [exporting the runtime](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#export-runtime) and debugging that to find out what the actual error/cause is.

There is a fix out that gives a move ver

[2021-01-21 18:47] dmvtech commented on #5448
Hi @ysnoek2 Are you able to share your bot (perhaps in a repository of your own. with personal/sensitive info removed)?

[2021-01-21 19:11] sshaque1 commented on #5344
@nitroin: are you using work/school account or personal account?

[2021-01-21 19:11] MIkey007007 opened #5580 "Impossible to use imported resource to deploy new bot"
## Describe the bug

I am using the bot composer created from the latest release of the source (yarn startall). In another word, I am not using the desktop version's composer (see this https://docs.microsoft.com/en-us/composer/install-composer) to publish a new bot. Instead of creating new resources, I am importing existing resources (web app and the channel) to publish the new bot.  In another wo

[2021-01-21 19:23] ismendes commented on #5574
Giving more context to this issue: This is a common complaint that we identified during UX research with the Partner Bot. We have multiple scenarios that fall under this scenario explained by @BeheraMadan, and users don't like the fact that they can't go back in the history and access the content from those points of the dialog again.

[2021-01-21 22:16] sowsan opened #5581 "example CI/CD pipeline for azure devops/github actions"
Is there an example for CI/D pipeline..?

https://github.com/microsoft/BotFramework-Composer/tree/main/runtime/dotnet/azurewebapp/Scripts

Reading the above readme says we can readily use the script but in our case we have to use a CI pipeline to just build the web project and publish the artifacts. In the CD use that published zip file to Azure web app. Provided script is baked with everything in

[2021-01-21 22:24] MIkey007007 commented on #5393
Can we get a new update?  Can timetable? The same problem is still happening.

[2021-01-21 22:27] cwhitten commented on #5393
Hi everyone. We're very very close to having this addressed. The internal team that we were waiting on is actively fixing this for us. I expect this to be wrapped up in the next few business days.

Thank you for your patience.

[2021-01-21 22:41] MIkey007007 commented on #5393
@cwhitten:

Really appreciate the update! I am looking forward to the fix. :-)

[2021-01-21 23:23] narulasrinivas commented on #5451
Hi,

Please close the ticket for now. I installed BOT composer in another laptop
and it is working fine. If I've any issues, I'll open a new one.

Regards,
Srinivas

On Thu, Jan 21, 2021 at 1:19 AM Lu Han <notifications@github.com> wrote:

--
Regards
N.Srinivas

[2021-01-21 23:34] jocrafts commented on #5451
@luhan2017 yes I am still having the issue. We can sync on teams re: the deployment process and I can demonstrate the issue.

[2021-01-21 23:50] beyackle opened #5582 "Add "Adapters" section to Bot Project Settings page"
Adapter configuration will live on the project settings page, where users can enable/disable the three Azure Bot Service connections individually as well as connect to and enable/disable third-party adapters. Once an adapter is created and connected to, there needs to be functionality to edit or remove it.

See designs at https://www.figma.com/file/nKb9Ob3AJan0gtbG5eutMD/SH_Adapters?node-id=1%3A2

[2021-01-21 23:52] beyackle opened #5583 "Persist adapter settings to file system"
Values provided in the adapter settings need to be saved to a bot project's data directory, and values that need to be secure should be protected.

[2021-01-21 23:54] beyackle opened #5584 "Surface downloadable adapters in the Package Manager"
Adapters available for download should show up in the Package Manager. Adding one will add its corresponding schemas to the overall SDK and SDK-UI ones, allowing them to be seen by the Bot Settings page.

[2021-01-22 00:15] GeoffCoxMSFT opened #5585 "Update form dialogs schema builder UI to leverage complete schema"
The bf-generate library will return a complete schema which will eliminate the need for built-in (i.e. hard-coded) types and additional properties.

- [ ] Pick up bf-generate with latest schema update (dependent on ChrisMc)
- [ ] Update schema UI to remove built-in types and inspect schema instead
- [ ] Update schema UI to handle $generator additional properties (min/max, unit, etc.)

[2021-01-22 00:20] GeoffCoxMSFT opened #5586 "Support .uischema for form dialogs schema building"
The schema returned from bf-generate will have default values for describing the fields for each property added to the schema.  These strings will need to be supported for localizing in the client.

- [ ] Investigate these options:
-  whether to have additions to the SDK schema and UI schema for these types
- if a path modification system could work with the en-US.json in Composer
- if a language

[2021-01-22 00:50] boydc2014 commented on #4249
@taicchoumsft can you help clarify the intention here

[2021-01-22 02:03] mewa1024 commented on #5441
@sangwoohaan fyi for LG-in-details pane experience?

[2021-01-22 02:08] mewa1024 commented on #5332
@sangwoohaan for visibility

[2021-01-22 02:13] mewa1024 commented on #5522
Can we navigate when you click the template reference? @sangwoohaan would that work? also are there specs for hover callout? This:
![image](https://user-images.githubusercontent.com/39317542/105436628-621b7500-5c14-11eb-8788-3b6ed7549b7d.png)

[2021-01-22 02:21] mewa1024 commented on #5570
@sangwoohaan can we add the template name and params the code view like we discussed the other day? (addresses the parameter issue described in bug #4995

[2021-01-22 02:34] mewa1024 commented on #3808
Can we hide the comments in the UI view (the not-code view) of LG? So in other words, remove from here:
![image](https://user-images.githubusercontent.com/39317542/105437976-f8e93100-5c16-11eb-9cae-d763073e1349.png)

and here:
![image](https://user-images.githubusercontent.com/39317542/105438126-3ea5f980-5c17-11eb-8149-3cb1321bdba3.png)

[2021-01-22 02:49] mewa1024 commented on #5427
Is this related to bug #5383?

[2021-01-22 03:04] mewa1024 commented on #4513
for reference, the design spec is here: https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=6556%3A37398

[2021-01-22 04:41] Samirun opened #5587 "Qna Madaptive card responses not rendering in emulator and webchat/botcomposer"
## Describe the bug
qna maker returns adaptive card response as a string. because of which we had to extend qna maker dialog through code but our main aim is to just use composer, add qna maker to it and get adaptive card response rendered correctly.

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/46156330/105447671-a7828580-5c9a-11eb-931a-2e2e3152f93c.png)

## Additional co

[2021-01-22 07:51] rvinothrajendran commented on #1965
@divyesh-inferenz-ai  ref here : https://github.com/Microsoft/botframework-sdk/issues/4184
maybe it will help

[2021-01-22 20:55] stevkan commented on #5587
You can achieve rendering an adaptive card passed from QnA by utilizing the LG adaptive card syntax, referenced [here](https://docs.microsoft.com/en-us/composer/how-to-send-cards#adaptivecard). In this scenario, I am using the QnA Sample found in Composer. I update the "Send a response" action by replacing the `expandText` function with the `json` function. I then wrap it in the "Activity" structu

[2021-01-22 20:55] #5587 closed

[2021-01-22 23:26] v-kydela commented on #5550
@UmaPrelude - Are you still working on this?

[2021-01-23 01:10] anusharavindrar commented on #5574
@BeheraMadan, the behavior is expected based on how you have designed it. It is not going to start the corresponding flow based on the button selected as the welcome intent has already been done and it will go to the unknown intent and when you click again on any of the multiple choice button, it will say unknown intent. What you can do is to put all this prompt in it's own dialog and call that di

[2021-01-23 04:18] Samirun commented on #5587
@stevkan thanks for the quick reply but   this way a new kb is being created in qna maker. we already have a kb created in qna maker with adaptive cards,  we just want to use it directly in composer as a response.

![image](https://user-images.githubusercontent.com/46156330/105568509-e0d0f900-5d5f-11eb-90f9-464e13722ef8.png)

using this we are getting answers but no clue how do we convert that ans

[2021-01-23 05:05] fallintoplace commented on #1829
Does anyone know how to get this body of type "multipart/form-data" to work in Bot Composer? I have tried so many combinations but couldn't get this to work. And I couldn't find any suitable answer either.
![curl_form_data](https://user-images.githubusercontent.com/38443830/105569263-9a1fd680-5d40-11eb-9e44-50f499c441c7.PNG)
![form_data](https://user-images.githubusercontent.com/38443830/105569241

[2021-01-24 11:19] Pajani commented on #5344
@sshaque1 , I am facing the same issue, i could not publish my bot into azure.

i am also facing the issue, could not publish my bot into azure.  i am using luis and bot composer v1.3. Getting error "" we could not find a work or school account with the email address""

i am using personal account.

[2021-01-24 13:27] Heinzfb opened #5592 "Testing in Webchat after deploy on Azure -Response status code does not indicate success: 404 (Not Found)."
Hi there,
I created the bot using Composer and then published via VS CLI  (follow the Read.md).

I added the relevant info to the profile as described and deployed to existing resources.

When testing in Azure Webchat I get :  Response status code does not indicate success: 404 (Not Found).
If I switch to channels I get this:

![image](https://user-images.githubusercontent.com/67108766/105631537-3

[2021-01-24 22:47] xiyangdesign opened #5593 "FORM DIALOGS: schema editor: maybe do not generate empty property rows onClick "add property"?"
## Describe the bug

In the forms schema UI, the user clicks "add property", a new line is created.
In many cases, the user doesn't input any data to the property, the UI ended up having an error.
For first time users, the errors are confusing; for other users, they have to delete the empty rows to clear the error.
![Screen Shot 2021-01-24 at 2 43 56 PM](https://user-images.githubusercontent.com/7

[2021-01-24 23:42] irwinwilliams opened #5594 "Validation not working"
## Describe the bug
I've been trying to get a TextInput to validate, but it doesn't seem to be firing.
## Version
 Bot Framework Composer

                Version:  1.3.0
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

## Browser
- [*] Chrome
## OS
- [*] Windows

## To Reproduce

This is the fragment o

[2021-01-25 04:10] #5561 closed

[2021-01-25 05:02] UmaPrelude commented on #5550
Hi @v-kydela,
The requirement we are having is to reuse the dialogs we created in bot framework 4 into composer, so i was trying to have those dialogs[waterfall] as part of custom action and call it from composer.
But we had some problem in it.
That's why i want to know if that is possible from custom action.

[2021-01-25 07:57] divyesh-inferenz-ai commented on #1965
Can you suggest how to integrate any bot framwork chatbot with existing
android application?

Thanks & Regards,
Divyesh.

On Fri, Jan 22, 2021, 1:22 PM Vinoth Rajendran <notifications@github.com>
wrote:

[2021-01-25 08:06] zhixzhan opened #5597 "Header bar language select unable to click"
## Describe the bug

When the bot has more than one language, the language selection call out is unable to click

## Version
latest main

## Browser

- [ ] Electron distribution
- [x ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-01-25 08:22] zhixzhan commented on #5597
I found it's related to https://github.com/microsoft/BotFramework-Composer/pull/5352
@liweitian Can you confirm the effect of adding this line
https://github.com/liweitian/BotFramework-Composer/blob/0c220b5fe556f71445a5821d87f9f085fbc0995a/Composer/packages/client/src/components/Header.tsx#L232

[2021-01-25 09:22] cosmicshuai commented on #5595
@LeeParrishMSFT
I just opened a new PR for updating the adaptive-expression version. This solved the intellesence problem for locale parameter. Also, I updated the built-in function map to make sure, the language server can auto-suggest all available functions we have in Expressions.

[2021-01-25 09:44] philip-mc commented on #2232
Can I bump this guys I would like to know how to do this in the latest version of composer.

[2021-01-25 10:09] hibrenda commented on #2232
@philip-mc
![image](https://user-images.githubusercontent.com/43408889/105691553-598aad80-5f38-11eb-8d3b-a654347dd74d.png) thanks to bring this up. could you try out ? we will update the doc later. @zxyanliu

[2021-01-25 10:19] alanlong9278 commented on #5427
Yes, this error is involved in #5383

[2021-01-25 10:19] #5427 closed

[2021-01-25 11:19] philip-mc commented on #2232
Thanks for the message, still getting an issue tho:

![image](https://user-images.githubusercontent.com/73343537/105699368-24159e00-5eff-11eb-89db-26cf9316de9e.png)

![image](https://user-images.githubusercontent.com/73343537/105699411-37c10480-5eff-11eb-95b5-f0ec8feae29f.png)

[2021-01-25 12:39] irwinwilliams commented on #5594
I figured it out. I corrupted the bot by doing something weird in the show code/hide code parts of Composer.

[2021-01-25 12:39] #5594 closed

[2021-01-25 16:28] yeze322 commented on #5427
duplicated, close this one and track the problem in #5383.

[2021-01-25 17:54] v-kydela commented on #5550
Hi @UmaPrelude

Please go ahead and answer my 5 questions to the best of your ability

[2021-01-25 20:30] pavolum opened #5603 "Create POC for template w/Orchestrator"
Multi bot template POC working e2e in Composer new creation flow with Orchestrator as the default recognizer for skill dispatch

[2021-01-25 23:23] mewa1024 commented on #4842
Adding labels "Type: Bug" and "R12", since not being able to find "list" came up in a user study?
(@xiyangdesign fyi)

[2021-01-25 23:28] mewa1024 commented on #4846
In the four user studies so far, all participants expected to use a comma separated list. Either they expected that typing a comma would convert the words separated by commas into pills or they expected it to happen when they were done typing. Can we change the help text to "Type one item or a comma-separated list of items and press Enter".

(@xiyangdesign what do you think?)

[2021-01-25 23:29] mewa1024 commented on #4846
Adding labels "Type: Bug" and "R12" since this has come up consistently in user studies.

[2021-01-25 23:59] dmvtech commented on #5592
Hello @Heinzfb

- Do you have a welcome in your bot? Is that working at all, or is the bot completely failing from the get-go?
- Can you re-publish and does that resolve it?
- Are you able to use [ngrok and test](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-debug-channel-ngrok?view=azure-bot-service-4.0) with a locally running bot? (this will confirm the app registry and bot chan

[2021-01-26 00:29] xiyangdesign commented on #4846
Yes, this help info would be great. It also appears that users sometimes don't see the placeholder help text:)
- but yes, for now, let's change the placeholder text
- in the long run, maybe we could introduce this in onboarding? like the teaching bubbles for newly released features? :-)

[2021-01-26 00:31] xiyangdesign commented on #5593
@mewa1024 do you think we could also address this issue in R12? This also come commonly in user studies.

[2021-01-26 00:35] mewa1024 commented on #5593
yes, I'd like to test the card UI against the table UI and if users prefer the card UI, then make improvements like this.

[2021-01-26 00:39] xiyangdesign commented on #5593
good point! the table UI solves this issue automatically!

[2021-01-26 02:31] yeze322 opened #5604 "Extension API for Webchat scenarios"
This ticket encapsulates Composer Extension API's work to incorporate Webchat as an standalone extension in Composer.

In webchat scenario, we will have 2 more extension contribution points:
- The right pane (as chat pane) - for the webchat control
- The bottom pane (as debug pane) - for containing the 'Errors and warnings'/ 'Emulator logs' and future tabs

It requires Composer Extension API to su

[2021-01-26 06:06] kayodeAjayi opened #5605 "Unexpected token in JSON at position 0"

[2021-01-26 06:32] #4229 closed

[2021-01-26 06:32] #2031 closed

[2021-01-26 10:25] garypretty opened #5608 "Enable LUIS vNext Train API via env variable"
We need to enable a way for Composer users who are in the LUIS vNext preview to use the new API.

Implement a private environmental variable, set before launching Composer, to determine if the preview LUIS vNext API is used.  This ensures that users can enable / disable the feature (given they will still have a need to call the Production API) and also means we avoid making any changes to the Comp

[2021-01-26 14:54] goergenj opened #5610 "[MCS-DE-GO] Trigger "Condition" property syntax validation not working in all cases"
When defining a "Condition" on an Intent Trigger, the syntax validation only works when the condition is prefixed with an "=".

Example Condition "#Intentname.score > 0.6".

If you do not add an "=" at the beginning the condition still works, however the syntax validation is not active in this case.

![image](https://user-images.githubusercontent.com/31212469/105860666-1b4fc580-5fee-11eb-85fc-5ded

[2021-01-26 15:29] cxbuilders opened #5611 "OAuth Card shows up even when user.token is populated"
I am populating the user.token property with the token retrieved fromthe token endpoint for a SSO scenario. When the Login event is triggered again after that the OAuth Card shows up, even through the user.token has a valid token and all properties are set like the OAuth Card does itself.

![image](https://user-images.githubusercontent.com/49873947/105865587-5d2f3a80-5ff3-11eb-9e2a-403422acd455.pn

[2021-01-26 15:41] VladimirDjidjishev commented on #5541
Hi @dmvtech,

I checked further what is needed to end the conversation in Omnichannel and found out that I have to include only a single property in the message send from the Bot.
root.chanelData.tags : { "type:"EndConversation" }   see the screenshot

![image](https://user-images.githubusercontent.com/60103043/105865238-645a4680-5ffb-11eb-95a6-b70af098d758.png)

Is it possible to add such propert

[2021-01-26 17:33] cwhitten commented on #5611
@Stevenic I recall you and I discussing this scenario months back. Can you share any insight on how to achieve this?

[2021-01-26 18:05] beyackle opened #5612 "Read adapter data from project folder"
Once a project is loaded, we need to load in the adapter files and add them to the project settings (this is the second half of the work that generates the form-based modal and saves out the file in the first place).

[2021-01-26 18:08] v-kydela commented on #5605
Thank you for the report, @kayodeAjayi. It sounds like you might be getting an error message. If you would like some help with that, can you please provide some screenshots and repro steps?

[2021-01-26 18:14] GeoffCoxMSFT commented on #5576
I tried putting the references without the wildcard, but a nuget restore will mismatch and try to resolve its "best guess" which happens to be an ancient version from back in Oct. 2020.  I'll go look at the bf-merge code.

[2021-01-26 18:23] kayodeAjayi commented on #5605
I was publishing my bot to azure portal when my system crashed. The file is
no longer opening on my computer. Giving me the above error.

Unexpected token in JSON at position 0.

Everything was working fine before the crash happened.

On Tue, Jan 26, 2021, 7:08 PM Kyle Delaney <notifications@github.com> wrote:

[2021-01-26 19:26] sangwoohaan commented on #5522
There's no spec for hover call out. I remember this Go to Declaration was going to be the right-click action?

[2021-01-26 19:30] Stevenic commented on #5611
adding @EricDahlvang and @Jeffders for additional comment...

@cxbuilders  I'm not completely sure what the flow is you're doing on the true path (maybe Eric or Jeff does) but the general model for working with the OAuth Login action is that when called we will check to see if the user has logged in before and if not it will send a card and then wait for the user to complete the flow.  Once the us

[2021-01-26 19:43] Heinzfb commented on #5592
Really thank you for your help.  It for a small universety project I need to solve this :D.

It takes some time and some refreshes unitil the bot take aktion. Here you can see:
![image](https://user-images.githubusercontent.com/67108766/105880258-73dd8d80-6003-11eb-868a-bb8b3e151321.png)

Republish is not possible I get an error. It is the same error as you can see below only in publish tab.
This

[2021-01-26 20:06] v-kydela commented on #5605
@kayodeAjayi - I'm sorry to hear that. If you would like some help with that, could you please provide some screenshots and repro steps?

[2021-01-26 21:28] p-nagpal opened #5613 "Documentation/Bot Runtime update needed for Composer bots in US Government data center"
## Describe the bug

The documentation to modify a bot for US Government data centers needs to be updated for composer bots (or if possible the bot runtime can support this out of the box). Docs: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-faq-ecosystem?view=azure-bot-service-4.0#how-do-i-create-a-bot-that-uses-the-us-government-data-center

In addition to the steps me

[2021-01-26 21:55] benbrown opened #5614 "LUIS returns 404 error when used through recognizer"
## Describe the bug

## Version

Currently nightly build

## To Reproduce

Steps to reproduce the behavior:

1. Create a new bot based on the luis todo template
2. Set your luis key and region
3. Start the bot
4. Open in emulator and type any message
5. LUIS will return a 404 error, and the bot will say:

"Response status code does not indicate success: 404 (Not Found)."

## Screenshots

![Screen

[2021-01-26 21:55] benbrown opened #5622 "LUIS returns 404 error when used through recognizer"
## Describe the bug

Publishing to LUIS or something about the LUIS recognizer has broken recently.  In the nightly build, publishing to LUIS results in a bot that returns a 404 error whenever it consults a LUIS model --- though the publish seems to work as expected.

Attached below are a screenshot of the request and response from the LUIS recognizer call.

## Version

Currently nightly build

##

[2021-01-26 22:09] sangwoohaan commented on #5332
These look good to me.

[2021-01-26 22:33] scheyal opened #5615 "Add configuration settings to select / download a non-default Orchestrator model."
The Orchestrator feature will use the default basemodel. This is to track the request to allow selection of alternate model via settings, likely in package configuration.

[2021-01-26 22:37] scheyal commented on #5615
More specifically, with the CLI one can download & use different model per the following:

[code]
The proposal is to have somethign along the lines of:
Orchestrator {
...
basemodel: pretrained.20200924.microsoft.dte.00.12.en.onnx
}

[2021-01-26 22:51] dmvtech commented on #5541
Hi @VladimirDjidjishev

I was able to send an event of type `EndConversation`, by using basic `Send Activity` action in Composer and the following structured response:
[code]
![image](https://user-images.githubusercontent.com/43397658/105916150-67e2d300-5fe5-11eb-8b5f-58e1b65ad18f.png)

I don't know if this will for sure work in Omnichannel, but can you please give it a try?

[2021-01-26 23:40] ParagHurkat commented on #5613
I investigated a similar issue and I created a document about the same.

Here is the link for the same in case it helps : https://techcommunity.microsoft.com/t5/iis-support-blog/azure-government-bot-through-bot-composer/ba-p/2083898

[2021-01-26 23:47] dmvtech commented on #5541
You can also set in ChannelData. I did it by putting json in a property:
[code]
and then using:
[code]

[2021-01-26 23:54] dmvtech commented on #5548
Hi @pedro-ramirez-suarez I'm going to close this as answered. Hopefully you got the issue resolved or were able to get more/better answers from more expert sources.

[2021-01-26 23:54] #5548 closed

[2021-01-26 23:56] tonyanziano commented on #5423
After much back and forth with @DS2019 offline, I was able to uncover some odd behavior on the publish status page:

1. The front-end expects a 500 error code from the publisher to show an error and stop polling for status. This seems odd to me especially in the case that the publish operation did not error out, but instead attempted to publish and returned some other valid status code such as a 4

[2021-01-27 00:19] v-kydela commented on #5550
@UmaPrelude - Thank you for the information. Based on what you've told me, I don't see a need for custom actions or even an ejected runtime. You can use Composer to create actions that work much like waterfall steps, so my recommendation is to just recreate your bot's logic in Composer. Would that be acceptable to you?

If you still want to incorporate a waterfall into a custom action, you will ne

[2021-01-27 00:45] dmvtech commented on #5592
So, above is the error if you try and republish, but if you just run the bot from Composer (with LUIS auth key and region in settings), does it work?

Have you tried removing the publishing profile and recreating from scratch and trying to publish then?

@luhan2017 Any thoughts on this one?

[2021-01-27 01:28] #2889 closed

[2021-01-27 02:24] Hacwikir commented on #5393
Hello, do you have any update? I am having the same issue.
Is there any workaround?

![image](https://user-images.githubusercontent.com/22629805/105933645-b1dab180-6003-11eb-89cf-5fb43864400c.png)

[2021-01-27 04:23] luhan2017 commented on #5614
I did some investigation and found that are several factors causing this issue.
1. There is a bug fix in the SDK in Dec 2, Which fixes the issue The LuisAdaptiveRecognizer does not read (in particularly, via expression) the version info correctly. Here is the commit https://github.com/microsoft/botbuilder-dotnet/commit/3af7b7b53255b9327de24dcb994dbc7a64bc1725#
2. Luis's version API is broken, I go

[2021-01-27 04:38] luhan2017 commented on #5592
@heinzfb I see you are using the composer main branch, it should relate to this issue #5614
You can mitigate this issue by one of the following options:
1. Revert your composer main branch to a commit before this one https://github.com/microsoft/BotFramework-Composer/commit/ecf2df0e9966417e33abe76f5a0af4d68a4cebf9
2. Eject your runtime, and update the package versions from 4.12.0-daily to 4.11.0.

[2021-01-27 05:36] feich-ms opened #5618 "Add telemetry for lg templates and expression"
**What**: LG authoring experience improvements

**Why**: Based on current dashboard, sendactivity is one of the most often used actions in composer bot authoring.  So the usage and engagement metrics with more drill down of LG in composer can help accurately indicate LG performance trends and also provide better authoring investment for LG editor

Current prebuilt function is auto-hint by alphabet

[2021-01-27 11:23] UmaPrelude commented on #5550
Hi @v-kydela,
This can be recreated, but in general i want to know if there is a way to use waterfall dialog in custom action.

[2021-01-27 11:44] dbfr1 opened #5621 "Azure publishing - type of Azure account"
Hi,
I'm trying to deploy my Bot project to Azure but I just get this information: This type of account doesn't work with this particular service. Please enter an email address or phone number associated with a different account.

Can someone tell me please what should I do? It will be perfect to use this Azure account because I have everything else there.

Thanks for help!

[2021-01-27 11:58] ruifelixpereira commented on #4763
Hi @tannguyen3, did you manage to have a CI/CD pipeline in Azure DevOps for this?

[2021-01-27 13:16] darrenj opened #5624 "Azure publishing hangs when no publishing profile exists"
## Describe the bug

Created a simple ToDo bot and tried to publish to Azure. Composer reports "Publishing 1 bots" constantly and hasn't actually created any resources in Azure. This is due to a publish profile not being created yet the Publish to Azure functionality lets me proceed to publishing.

## Version

1.3.1-nightly.204896.1ed31e1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ]

[2021-01-27 16:16] igordevezas commented on #4566
Where is the answer on this ticket @anusharavindrar?

[2021-01-27 16:59] cwhitten commented on #5581
Hello @sowsan - i'll close this issue as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/3339

See https://github.com/microsoft/BotFramework-Composer/issues/3339#issuecomment-754234795 for the latest updates, and we'll use that ticket to track and report updated progress.

[2021-01-27 16:59] #5581 closed

[2021-01-27 17:09] fabrizioregio opened #5626 "Load any projects fails"
I don't see Navigation pane on the left, the Authoring canvas in the middle, and the Properties panel (Adaptive dialog) on the right after load a project.

The tool remaining freezed.

1.3.0

- [ ] Electron distribution
- [x ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

Steps to reproduce the behavior:
Change a default language  for the bot.

[2021-01-27 17:32] cwhitten commented on #5608
@feich-ms @boydc2014 sync with @garypretty and myself to discuss this in more detail if needed.

[2021-01-27 18:06] sanoorvishwa opened #5627 "Not able to open the bot project"
**Problem Statement**
When I try to open a bot in the "Recent Bots", I get the following error on a popup.

**_If this problem persists, please file an issue onGitHub
Details
UNKNOWN: unknown error, scandir 'D:\MyFolder\Bot_Composer\WeatherBot\runtime\node_modules\spdy\test'_**

I get the same error while trying to restart the bot also.

**Screenshot**
![composer_issue](https://user-images.githubu

[2021-01-27 19:06] chrimc62 commented on #5622
It is exactly these kinds of issues that are caught by having composer dailies use the latest SDK.  Otherwise we end up with a scramble at the end when the composer or SDK have a bug or mismatch.  The LUIS version API definitely did work, so this may be a recent regression on their side as well.

[2021-01-27 20:32] cwhitten commented on #3408
Closing this as a dupe that is tracked with the adapters works

[2021-01-27 20:32] #3408 closed

[2021-01-27 20:35] cwhitten commented on #4222
@sangwoohaan do we have completed designs for this?

[2021-01-27 20:39] cwhitten commented on #4249
@taicchoumsft @boydc2014 @tsuwandy I'd like to discuss this behavior being housed inside the bf-cli.

In keeping with our principles of Composer providing parity behaviors with the cli tools, we should be able to add a skill's lu data into the orchestrator model and wire up the dialog logic to configure the intent triggers. Form Dialogs does something like this already, and it sits inside the `bf

[2021-01-27 20:44] sgellock commented on #4249
+1 on Chris' feedback regarding Composer and Bf-CLI feature parity

[2021-01-27 20:46] cwhitten commented on #4884
ping @lei9444

[2021-01-27 20:51] cwhitten commented on #5005
I'm going to take this out of R12 as it seems we're not locked on the experience just yet. We're very close on the UX/design side.

[2021-01-27 20:53] cwhitten commented on #5009
This is blocked on https://github.com/microsoft/botbuilder-dotnet/pull/4880

[2021-01-27 20:54] cwhitten commented on #5009
@sangwoohaan can you provide UX guidance? I assume we would add a "Write an expression" option like we do other fields that support it but want to confirm and have clarity for the implementor.

[2021-01-27 20:57] cwhitten commented on #5132
@srinaath this needs an owner. At the next authoring standup lets go through unassigned issues

[2021-01-27 20:58] chrimc62 commented on #5576
Resolved by https://github.com/microsoft/botframework-cli/pull/1096

[2021-01-27 20:58] #5576 closed

[2021-01-27 21:00] cwhitten commented on #5332
@cosmicshuai what work is remaining here?

[2021-01-27 21:04] DavidStrickland0 opened #5628 "DEPLOY_ZIP_ERROR - RequestError - Error: getaddrinfo ENOTFOUND microsoft"
## Describe the bug
Installed Bot Composer.
Created a New Bot from the EchoBot Template.
Created a publishing Profile to an existing set of Azure Resource
Publish unmodified Echo bot to profile
Get:
DEPLOY_ZIP_ERROR - RequestError - Error: getaddrinfo ENOTFOUND microsoft

## Version

v1.3.0

## OS

Windows

## To Reproduce

Install Bot Composer.
Create a New Bot from the EchoBot Template.
Create a

[2021-01-27 21:11] taicchoumsft commented on #5531
Ok Thanks @hibrenda  closing this issue (please re-open if you really need Node V15 support, we will escalate to Orchestrator core team)

[2021-01-27 21:11] #5531 closed

[2021-01-27 21:23] taicchoumsft opened #5629 "Orchestrator: Multi-Language Model Support"
Dependencies:
- Pending Orchestrator Recognizer (SDK) work completion
- Pending size reduction from Orchestrator Core (current multilang model is 1GB)

Requirements:
- At a high level, must be able to support Multi-Lang the same way LUIS does in Composer
- Download multi-lang model and set it up correctly in orchestrator settings when user has enabled multiple languages
- Generate snapshots correc

[2021-01-27 21:36] DavidStrickland0 commented on #5344
Any updates on this?
I took an Unaltered Echobot and published it and did not receive this error (Got a different one [#5628 ])
Added a Trigger to the one dialog in the Echobot and got "Unexpected token o in JSON at position"
Definitely seems LUIS related. I have Luis Authoring and Endpoints created and the Intent publishes when I run it locally. But something blows a fuse when I try to Publish ex

[2021-01-27 21:51] taicchoumsft opened #5630 "Orchestrator: Performance of snapshot creation in Composer is very slow"
## Describe the bug
Composer uses the Orchestrator Lib underneath to create embeddings for utterances in each LU file.  Running bf-cli orchestrator tooling on the same set of LU files is much faster than clicking "Start Bot" (in the order of several minutes longer).

Investigate if Orchestrator CLI tooling is causing this slowdown.

## Version

1.3.0, 1.3.1, nightly

## Browser
- [x] Electron dist

[2021-01-27 21:53] cwhitten commented on #5441
@srinaath tagging you for team discussion on a solution

[2021-01-27 22:30] srinaath commented on #5132
@cwhitten  Will find an owner for this ticket.

[2021-01-27 22:36] benbrown commented on #5486
This work is included in #5557

[2021-01-27 22:38] sangwoohaan commented on #5441
@vivekkshankar might know

[2021-01-27 23:05] benbrown opened #5632 "Create: Allow Azure Bot Service channels to be enabled via settings"
From the settings page, allow a user to toggle the teams, webchat and speech channels on and/off for each of their existing publishing profiles that contains a bot registration.

This will require the user to be logged in.

- [x] Require user to login
- [x] Display list of publishing profiles to select
- [x] Collect subscription id if not included
- [x] Query for current status of each channel
- [

[2021-01-27 23:39] operatedcoin commented on #5393
Flagging this issue again @cwhitten @carlosscastro - have been trying workarounds but no luck.

[2021-01-28 00:50] dmvtech commented on #5580
Hi @MIkey007007 Are you configuring the hostname correctly in your publishing settings? In the screenshot above, it is showing the default/sample value `<unique name in your subscription>`.

![image](https://user-images.githubusercontent.com/43397658/106073870-afd62880-60bf-11eb-8e19-ec509a1940de.png)

[2021-01-28 02:13] yeze322 commented on #2912
Note that there is a compatibility issue for express 4.17.* https://github.com/DefinitelyTyped/DefinitelyTyped/issues/40138
Typescript cannot resolve express types correctly and raises error: "Property 'headers', 'body', 'query' does not exist on type 'Request<any>'"

Stick to 4.16 will work.
![image](https://user-images.githubusercontent.com/8528761/106080073-5ddde300-6151-11eb-9801-a0e08b5cae5e.

[2021-01-28 02:24] feich-ms commented on #5608
I will take a look. This looks like the similar solution as the userAgent setting before. bf-lu will consume a env variable to decide call preview or not. Will prepare a PR soon.

[2021-01-28 02:39] cwhitten commented on #5608
Thanks Fei!

[2021-01-28 02:57] #5597 closed

[2021-01-28 03:04] cosmicshuai commented on #5332
@cwhitten ReturnType display error has been fixed. LG & LU folding ranges are in PR now. I am working on LG definition and more suggestions about LG & LU

[2021-01-28 04:35] operatedcoin commented on #5621
Thread here has more on this problem with resolution still outstanding: https://github.com/microsoft/BotFramework-Composer/issues/5393

[2021-01-28 06:36] VladimirDjidjishev commented on #5541
Hi @dmvtech,
I tested the suggested approach and it works perfectly fine to end the conversation in Omnichannel.
There is one more property that has to be add in order Bot messages to reach the user in Omnichannel. It has to be included in every Bot message otherwise the message will not be forwarded to the user by the Omnichannel.
root.chanelData.deliveryMode = "bridged" see the screenshot
![imag

[2021-01-28 06:47] dbfr1 commented on #5393
Hi, I have the same problem with deploying app to AZ. can't publish on my AZ account with working subscription because of type of account (not work or student). Bot composer v.1.3.0 on MacOS Mojave 10.14.6.

[2021-01-28 06:47] dbfr1 commented on #5621
thanks!

[2021-01-28 06:55] gabog opened #5637 "Wide switch statements don't show last condition"
## Describe the bug
If I have a switch statement with many conditions the UI doesn't display the last condition.

## Version
1.3

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

1. Create a switch statement with several conditions (6 or more)

![image](https://user-images.githubusercontent.c

[2021-01-28 07:09] VanyLaw commented on #5624
@alanlong9278 Could you take a look

[2021-01-28 07:09] VanyLaw commented on #5344
@DavidStrickland0 is your luis resource provisioned through composer? you may need to add luisResource in your publish profile. Please refer to the details here.
#5354 (comment)

[2021-01-28 07:13] cameroncharles commented on #5344
to put an update here, still getting the error when attempting to publish to existing azure resources, however in 1.3 there is the option to have bot framework composer provision you a set of resources to then publish too, we did this and it publishes perfectly fine, besides the different names and keys there were no major differences in the publish profile to point out though.

[2021-01-28 08:07] hibrenda commented on #5451
@jocrafts what locale or language for luis publish and running in emulator ? could you check if this is related to  #5495 ?

[2021-01-28 08:23] alanlong9278 commented on #5624
Like the below image show, the publish button can not be clicked if the selected bot has no publish profile currently.
![image](https://user-images.githubusercontent.com/5860999/106109198-32282080-6184-11eb-93c8-198bd30caf7e.png)
Should we have a guide flow like poping up a notice say `U should create a publish profile` when clicking or hovering in the publish button?

[2021-01-28 08:32] feich-ms commented on #5608
Prepared a fix here https://github.com/microsoft/botframework-cli/pull/1099. I manually verified that train will take neural model once set LUIS_TRAIN_MODE=Neural. Composer can also take changes in its luis build api interface to enable this by setting trainMode to Neural.

[2021-01-28 09:42] cxbuilders commented on #5611
@Stevenic This is for SSO whereby the webpage does a roundtrip to the oauth2/v2.0/authorize page and sends an event to the chatbot with the authentication code in the turn.activity.value.sso.authenticationCode. On the left side of the screenshot you can see that when this is present the bot will retrieve the access code itself. This means the result is the same as if the user would manually log in

[2021-01-28 09:52] boydc2014 commented on #5441
@ttur this is not intended, we are working on
* a fix to make sure the bot migration works well (from 1.1.1 to 1.3.0+)
* as well as a mechanism that allows user to sync lg content between languages easier

[2021-01-28 12:46] lafe commented on #5459
@dmvtech In my opinion, this issue should not have been closed, as this is - at least - a feature request for the Bot Framework Composer itself. I have the same issue right now and I imagine that is a frequent issue for consultants that are member of multiple Azure tenants.

[2021-01-28 13:40] irwinwilliams opened #5641 "Luis Recognizer in TextInput Prompt"
## Describe the bug
It's my understanding that when you're in a child dialog, the responses get processed by that dialog first and then get bubble up to the parent dialog, either because of the automatic conclusion of the child dialog, or because the child deliberately invoked the parent dialog before its own conclusion.
I have created a sample based on this tutorial, https://docs.microsoft.com/en

[2021-01-28 14:22] DavidStrickland0 commented on #5344
@VanyLaw The Bug your referencing is closed as a duplicate of this one then @luhan2017 's answer was added after the fact.. Should we continue this conversation about that response here or there?

[2021-01-28 14:54] DavidStrickland0 commented on #5628
Wouldn't qualify this as a fix but reviewing #5354 may lead to a better understanding of the problem and a work around.
Beyond the completely obtuse error message which in and of its self is a bug.
I believe it has to do with the fact that the default template for publishing doesn't contain the hostname property.

IE:
`{
  "name": "Luhan0603AF",
  "environment": "dev",
  "hostname": "Luhan0603AF-d

[2021-01-28 15:15] DavidStrickland0 opened #5642 "Can't Delete Publish Target"
## Describe the bug

There is no way to delete a Publish Target short of editing the json file.

## Version

v1.3.0

## OS
- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create a Publish Profile
2. Attempt to Delete it

## Screenshots
![image](https://user-images.githubusercontent.com/12382552/106158347-3f73e980-6149-11eb-861a-8e55066aadd7.png)

[2021-01-28 16:24] benbrown opened #5643 "Ensure the arm templates include a clientID or some guid that can be used for telemetry"
We need to make sure the arm templates use the most recent mechanisms for identifiying themselves as the source of a provision action.

[2021-01-28 17:34] thakursarvesh opened #5644 "Published updates not reflecting in teams for some users"
Whenever I make changes to my composer code and publish it to azure, the changes get reflected immediately to the webchat but it doesn't reflect in teams. For some users, it works but for others it doesn't reflect at all. Need help in this regard

[2021-01-28 17:36] srinaath commented on #5642
@DavidStrickland0  This is definitely in our plans.

[2021-01-28 17:36] thakursarvesh opened #5645 "Adding Mouseover to Adaptive Card Button"
Hi Team, Do we have a way to add tooltip or mouseover text to the Submit buttons in adaptive card. I know we can do it from the webchat frontend but that will fail in teams. I want something which we can implement directly in Adaptive cards.

[2021-01-28 17:39] srinaath commented on #5637
@yeze322 It looks like the last condition is cut off. Can you check if this is a small fix to get it into R12?

[2021-01-28 17:43] srinaath commented on #5628
@DavidStrickland0  Several updates are being made to this workflow in the upcoming release. This bug would be resolved.

[2021-01-28 17:43] srinaath commented on #5628
@luhan2017 The error message still needs to be more descriptive.

[2021-01-28 17:45] srinaath commented on #5626
Closing this issue. As we have a fix for it in R12.

#5634

[2021-01-28 17:45] #5626 closed

[2021-01-28 17:50] srinaath commented on #5621
Details on the #5393 . Closing the ticket.

[2021-01-28 17:50] #5621 closed

[2021-01-28 18:18] dmvtech commented on #5541
Hi @VladimirDjidjishev Yeah; no way to do with Composer as-is unfortunately. You'll want to [customize the runtime](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#export-runtime). I'm not sure how to do it exactly (and it may be more than a single line of code), but it should be doable in the [OnTurnAsync](https://github.com/microsoft/BotFramework-Composer/blob/dbdb3da9a5f64a4a

[2021-01-28 19:18] srinaath opened #5646 "Avoid making API call in test"
https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/server/src/models/bot/__tests__/botProject.test.ts#L274

This test needs more investigation. It looks like we are not mocking the bf-lu package and may end up in sending actual API requests in the tests.

[2021-01-28 21:05] godlikesme opened #5650 "Provision Failure Error When Attempting to Create a Publishing Profile"
## Describe the bug

## Version

1.3

## Browser

N/A

## Operating System

- [X] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to "Bot Management and Configuration".
2. Scroll to the "Publish Targets" section at the bottom of the screen.
3. Click "Add new publish profile" link.
4. Enter profile name and select "Publish bot to Azure Web App" for the "Pu

[2021-01-28 21:47] v-kydela commented on #5605
@kayodeAjayi - Are you still working on this?

[2021-01-28 21:49] v-kydela commented on #5550
@UmaPrelude - It might be possible. Can you show me some sample code?

[2021-01-28 21:51] #5569 closed

[2021-01-28 22:37] kayodeAjayi commented on #5605
I actually started again and I'm done. I was careful to plug my pc in while
publishing to avoid a reoccurence

On Thu, Jan 28, 2021, 10:47 PM Kyle Delaney <notifications@github.com>
wrote:

[2021-01-28 23:11] MIkey007007 commented on #5580
@ dmvtech: thanks for following up. It has been resolve. It turns out that the channel password was incorrect.

[2021-01-29 00:56] dmvtech commented on #5641
@irwinwilliams I've got your bot and am taking a look.

[2021-01-29 01:04] v-kydela commented on #5605
@kayodeAjayi - I'm glad to hear it. I'll go ahead and close this as resolved for you.

[2021-01-29 01:04] #5605 closed

[2021-01-29 01:50] MoesLab commented on #5393
I was thinking about what could be the reason(s) for a personal account in comparison with a commercial account technically, so one can be used but the personal one cause problem, but I did not get anywhere with it, maybe somebody can shed some light in this matter...

[2021-01-29 02:23] srinaath commented on #5624
@alanlong9278 So, why do we let publishing to happen when there is not publishing profile?

[2021-01-29 02:37] alanlong9278 commented on #5624
Publish button is disabled when there is no publish profile. But I have checked that the code is just merged into main branch not for release branch. So maybe we should wait a while for release new version. @srinaath

[2021-01-29 02:59] luhan2017 commented on #5459
Reopen this issue and we will work on this in the next release.

[2021-01-29 03:01] luhan2017 commented on #5459
@zidaneymar please help investigate if we can do this through azure API, after we understand this, we may need @JaskeeratBedi-cmk 's help on the design.

[2021-01-29 03:11] operatedcoin commented on #5393
I'm a beginner working in the space, but found an initial workaround through this thread https://github.com/microsoft/BotFramework-Composer/issues/3313. I was able to use the CLI to generate a new publishing profile and sign into Azure that way. The tenant ID seemed to enable me to get access in a way my account wouldn't. All the resources were generated in my portal but then the process pushed me

[2021-01-29 05:09] yeze322 commented on #5637
@srinaath yes we can, adding a 50px padding to the canvas container will work

[2021-01-29 07:04] luhan2017 commented on #5650
@godlikesme This is a duplicate issue with #5467 , could you mitigate this by:

[2021-01-29 07:43] luhan2017 commented on #5643
@benbrown do you mean this, we do have this in provision script, also in composer provision flow. We can view the provision data from the armprod.

![image](https://user-images.githubusercontent.com/32191031/106246099-87c60100-6248-11eb-950e-4837c76ae689.png)

[2021-01-29 07:45] luhan2017 commented on #5643
But I found the armprod only save the data about 1~2 month, the old data are all gone... I am not sure if we can get it back.

[2021-01-29 07:50] luhan2017 commented on #5643
https://github.com/microsoft/BotFramework-Composer/blob/5af3f50ef41e3ef471771deb141437b3c3ae6e92/extensions/samples/assets/shared/scripts/DeploymentTemplates/template-with-preexisting-rg.json#L150

I just found that this function has been commented out, we should get it back to collect the data.
https://github.com/microsoft/BotFramework-Composer/blob/d79ef62f1c36242260c1db29f607c87482cadce6/extens

[2021-01-29 08:05] luhan2017 commented on #5628
@VanyLaw @alanlong9278 let's update this error message a little bit. The error message could be something like: The hostname: {hostname} is invalid, please check if hostname/name-environment matches your target resource(webapp/function) name.

[2021-01-29 08:23] luhan2017 commented on #5577
@zidaneymar, let's get a design on the new schema of publish profile. (with ABS scenario, we may need more info than subscription). And let's paste the design here.

[2021-01-29 08:27] luhan2017 commented on #5436
@VanyLaw Let's update the code to make sure we show the correct error message.

[2021-01-29 08:30] luhan2017 commented on #5344
@VanyLaw  Let's update the error message, we should say: Failed to bind luis prediciton resource to luis applications. Please check if your luisResource is set to luis prediction service name in your publish profile.

[2021-01-29 08:32] #4873 closed

[2021-01-29 08:37] zidaneymar commented on #5480
@hibrenda , this is an issue of authoring endpoint and endpoint, currently the code is not correct.

[2021-01-29 10:27] daronyondem commented on #5414
Hi guys,

I had the same PR here https://github.com/microsoft/BotFramework-Composer/pull/5420/files. Instead of merging that you preferred submitting the same under a different name. Intended or not, such behavior is hostile and discouraging to future open source contributors. I hope this feedback helps you increase your inclusiveness to outside contributors.

I'm happy the original issue is not r

[2021-01-29 11:32] #5646 closed

[2021-01-29 11:50] garypretty commented on #5618
Removing the R12 milestone from this issue as we will not progress this until we have data regarding how the new LG authoring experience is being used once that has been delivered.

[2021-01-29 13:23] #5622 closed

[2021-01-29 14:15] Heinzfb commented on #5592
Hi both of you, thanks for your reply please give me until tonight to follow the solution paths.

Thanks 4 all :)

[2021-01-29 15:06] DanieleS82 opened #5657 "QnAMaker Dialog Fallback action"
Hi,
QnA Maker Dialog component allows to easily connect a knowledge base. If a response score is less of a threshold set, a fallback answer is to throw, but there is no way to run a fallback action in substitution of the fallback answer.

The only way is not to use the QnAMaker component and implements yourself, using the HTTP component, the interaction with the KB. This solution requires managing

[2021-01-29 16:06] naicud opened #5658 "Problem with Publish"
I have a problem with deploy my bot from composer V1.3.0:

Error:
![image](https://user-images.githubusercontent.com/55764723/106298162-db8a1780-6253-11eb-96cc-56f2ea2908de.png)

My publish profile:
![image](https://user-images.githubusercontent.com/55764723/106298479-3a4f9100-6254-11eb-9fe0-d658d47c8f01.png)

Can you help me ?? thanks :)

[2021-01-29 17:35] #5580 closed

[2021-01-29 17:36] dmvtech commented on #5530
Hi @JohnRobertGreen Are you able to debug the runtime?

[2021-01-29 17:37] MIkey007007 commented on #5580
Thanks for following up. Asher

On Fri, Jan 29, 2021 at 9:35 AM Dana V <notifications@github.com> wrote:

[2021-01-29 17:37] dmvtech commented on #5448
Hi @ysnoek2 I'm not able to reproduce this issue, are you able to share a bot that reproduces the issue so I can test?

[2021-01-29 18:55] scheyal opened #5661 "Feature Request: Orchestrator package to light up menu item and language improvement + report evaluation experience page"
##Proposal
When Orchestrator package is installed, it should enable a menu item on left pane that navigate to language evaluation experience page. The page shall include:
* Running Orchestrator evaluation report
* [future] Potentially a capability to modify in place LU content based on report findings

User navigate to page:

### Example 1
1. Trigger evaluation
2. Report is generated
3. User obser

[2021-01-29 19:49] v-kydela commented on #5645
@thakursarvesh - It is not currently possible to add tooltips to cards in Teams, but there's a tooltip feature proposed here: https://github.com/microsoft/AdaptiveCards/issues/1788

I will close this as unrelated to Composer

[2021-01-29 19:49] #5645 closed

[2021-01-29 19:58] zxyanliu commented on #5613
@p-nagpal @ParagHurkat Thanks for the feedback and apologies for the late reply.
We will consider adding this content to the upcoming Composer docs release.

[2021-01-29 21:30] v-kydela commented on #5657
Thank you for the question, @DanieleS82. If I understand correctly, you're trying to get a [string submit action](https://blog.botframework.com/2019/07/02/using-adaptive-cards-with-the-microsoft-bot-framework/) to work on all channels. String submit actions are implemented by Web Chat specifically and are not a supported feature of Adaptive Cards. The reason they work on Emulator too is because Em

[2021-01-29 23:36] martinlarosa opened #5662 "Does Composer support Adaptive Card Templating?"
Or I can only use lg templates to form the Adaptive Cards json?

[2021-01-30 00:21] #5500 closed

[2021-01-30 00:42] rslavey commented on #2695
I have the same issue. I'm on 1.3.0.

My Url field shows required and has (abc) in the icon to the left and not (fx). I can set a property to the URL string and it shows fine in a message but passes the actual property name.

    value in message: https://graph.microsoft.com/v1.0/users/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
    value in Http GET command: label: "HttpRequest[GET =`${$game.userTargetU

[2021-01-30 00:59] Heinzfb commented on #5592
Hi there,

I choose option 1 and check out to the branch you can see below.

![image](https://user-images.githubusercontent.com/67108766/106335104-6b4bb800-628c-11eb-9292-cb2b24d8c82a.png)

![image](https://user-images.githubusercontent.com/67108766/106339512-17929c00-6297-11eb-99df-2b257b045c4c.png)

![image](https://user-images.githubusercontent.com/67108766/106339870-2c236400-6298-11eb-8ee1-7a7

[2021-01-30 18:40] dmvtech commented on #5641
I think the crux of the issue is that you have duplicate triggers for `facility`, `help` and `cancel`. have a

[code]

I removed the ones that did not have a condition, ensured their LU was matched up correctly and then was able to run and test and it seems to be working as expected. Please give that a try and let me know if that works for you. I am also able to share the bot with changes, if need

[2021-01-30 20:05] irwinwilliams commented on #5641
Thank you very much, I removed the regex-based ones, had to recreate the trigger words for the ones that remained and it worked!

[2021-01-31 04:09] #5641 closed

[2021-01-31 18:22] tiagonmas opened #5663 "Error when publishing CREATE_QNA_ERROR"
## Describe the bug
Receiving a "Provision failure" error when publishing a bot.
CREATE_QNA_ERROR - Error - The network connectivity issue encountered for 'Microsoft.Search'; cannot fulfill the request. detail message can see provision.tiagoandazure.log in your bot folder

logfile
[code]

## Version

v1.3.1-nightly 204049.df53a98

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
-

[2021-01-31 19:32] MrFearLess98 opened #5664 "AC input Form using BFC in PVA"
Hello,

I have a PVA where the users are going to fill an input form that is sent from Bot Framework Composer. After they submit the form, I want to trigger a flow to get the values entered by the users and store them in my SharePoint List.

I am struggling with the following points using the bot framework composer:

1. How can I invoke the flow after the user pushes the submit button from the AC

[2021-01-31 20:46] tiagonmas opened #5665 "Upgrade to WebSocket is required."
## Describe the bug
Created a sample bot that works locally and then I deployed to newly crated resource. When browsing to the endpoint https://XXXXX.azurewebsites.net/api/messages e get   "Upgrade to WebSocket is required."

"Test in Web Chat" is also not working.

Similar issue to [this one.](https://social.msdn.microsoft.com/Forums/en-US/f8928490-254b-4190-a0e3-c1a8ade703c9/http-status-code-una

[2021-01-31 22:31] mewa1024 commented on #5127
"Create" dialog has been fixed:
![image](https://user-images.githubusercontent.com/39317542/106400010-c38bd280-63d0-11eb-97b6-4967bbe7b3ff.png)

[2021-01-31 22:31] #5127 closed

[2021-01-31 22:50] lopejum commented on #5477
Dear @luhan2017, I followed your suggestions. Everything is working now and I can publish my bot from Composer to Azure and get the dialogue with WebChat, Teams, Telegram...

Thanks a lot

[2021-01-31 22:50] #5477 closed

[2021-02-01 00:20] irwinwilliams opened #5666 "Can publishing only be done with non-live accounts?"
## Describe the bug
I tried to publish using an outlook.com account that I used to sign up with for an Azure subscription and it seems to be that it won't let me proceed.
<img src="https://user-images.githubusercontent.com/1428703/106402697-19786e80-6401-11eb-93bb-df363f34b1cf.png" width="300"  />

## Version
               Bot Framework Composer

                Version:  1.3.0
                El

[2021-02-01 03:21] zidaneymar commented on #5577
[code]
@luhan2017  This is the concrete publishing profile for abs scenarios, do we need to move 'abs' section to root level?

[2021-02-01 03:40] luhan2017 commented on #5592
@Heinzfb The original issue is already fixed in composer, you can try the latest main branch now. For those issues you met.
1. The Starting bot spinning forever, if you can still reproduce this issue, could you help press F12 and copy the console logs here?
2. The luis build failed issue, It looks like the it is a network issue, could you help double check if this can be produced in the latest mai

[2021-02-01 03:53] AlbertJDurango opened #5668 "Impossible to publish to Power Virtual Agents"
## When I tried to add a  new profile for publishing to Power Virtual Agent nothing happens

Publishing to Power Virtual Agents doesn't work
## Version

![image](https://user-images.githubusercontent.com/16806741/106412392-adeccc00-6415-11eb-9f64-0e2a092d521f.png)

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubu

[2021-02-01 05:47] luhan2017 commented on #2695
@rslavey We've updated some of the fields to adaptive expressions in 1.3.0, could you try to add a '=' before your string.

[2021-02-01 05:57] luhan2017 commented on #5414
@daronyondem that must be some misunderstanding here, PR #5446 is closed just because we found it is duplicated with your PR. we want to merge your PR instead of creating a new one.  I approved your PR and thought it will be merged. But it seems it is not merged yet, so the problem is still there. would you mind to reopen your PR and I will merge it as soon as possible.

[2021-02-01 06:16] carlosscastro commented on #5393
Hello, we are working closely with the AAD team every day to get this unblocked. Still no exact ETA for the release but we are treating this as a P0. We'll update by end of this week or earlier if there is more clarity around dates. The workaround mentioned above by @operatedcoin could be a mitigation until this fix goes out: https://github.com/microsoft/BotFramework-Composer/issues/3313.

[2021-02-01 06:41] cameroncharles commented on #5344
for the record, adding "luisResource" did not help me when i originally encountered this issue, i think there was another github issue that mentioned it as a possible solution, that and hostname, futhermore as mentioned above, my now fully working profile is near identical to the one that doesnt work

[2021-02-01 07:02] UmaPrelude commented on #5550
Thanks @v-kydela, if that is possible i will try once again with a sample waterfall dialog and reopen the ticket if required. For now I am closing this ticket.
As you mentioned, for our current project we have recreated the dialog in composer.

[2021-02-01 07:02] #5550 closed

[2021-02-01 07:03] zhixzhan commented on #5359
Addressed in #5639

[2021-02-01 07:03] #5359 closed

[2021-02-01 08:27] luhan2017 commented on #5624
Close this issue because this is already fixed in the latest main branch. @darrenj please try the latest nightly build.

[2021-02-01 08:27] #5624 closed

[2021-02-01 09:57] #5608 closed

[2021-02-01 10:02] #5480 closed

[2021-02-01 10:16] daronyondem commented on #5414
Hi @luhan2017 please proceed with your pull request instead. I have deleted my fork as part of my monthly clean up. It has been waiting since December 30th. Sorry.

[2021-02-01 11:17] #5392 closed

[2021-02-01 12:00] luhan2017 commented on #5577
@zidaneymar  let's remove the abs group and we have two options to support abs scenario:
1. appPasswordHint and resounrceId, the resourceId is the abs resourceId like this, we can parse the subscriptionId, resourceGroup and botServiceName from this resourceId.
[code]
2.
- appPasswordHint
- subscriptionId  // we are assuming all the services in one publish profile are under the same subscription id

[2021-02-01 16:47] MarcoWirtl commented on #5337
@thakursarvesh @luhan2017  Whats the solution? Got the same error. Updated Bot Framework Composer, published to the same profile like before (last Publish: October 2020), just changed the access token.

[2021-02-01 16:49] ic202 commented on #5393
I have the same problem. Is there an installation guide with FTP? I tried to install directly from Visual Studio but unfortunately I don't know in what structure the directories are. Is there an instruction somewhere to install a complete bot framework composer via ftp?

[2021-02-01 17:07] jwiley84 commented on #5662
Closing as a duplicate of https://stackoverflow.com/questions/65962556/does-adaptive-cards-templating-work-in-composer

[2021-02-01 17:07] #5662 closed

[2021-02-01 17:31] cwhitten commented on #5668
@AlbertJDurango can try opening Composer from Power Virtual Agents? This way you won't need to create a publishing profile manually. There is a button in their app that will launch Composer with the right information needed to publish back to PVA.

[2021-02-01 18:06] v-kydela commented on #5657
@DanieleS82 - Are you still working on this?

[2021-02-01 18:11] AlbertJDurango commented on #5668
I see. @cwhitten Thank you. I will test that.

[2021-02-01 18:11] dmvtech commented on #5666
Yes. Please follow the issue here: https://github.com/microsoft/BotFramework-Composer/issues/5393

Fix is in progress and coming soon.

[2021-02-01 18:11] #5666 closed

[2021-02-01 18:14] dmvtech commented on #5644
Hi @thakursarvesh Teams does do some caching of it's own within it's connector. What are some examples of the types of changes are you making? Are there changes that are still not reflected at all (how long has it been)?

[2021-02-01 19:31] rslavey commented on #2695
This was successful. Thank you.

[2021-02-01 19:59] Dan-Bai opened #5671 "Node runtime unable to send trace and customEvent to application insights"
I have already modified __TelemetryTrackEvent__ to __TelemetryTrackEventAction__ and added instrumentationKey.
There are no errors but also no logs showing up in AppInsights.

I can't find in generated runtime code where telemetry client is generated and available.

[2021-02-01 20:12] DanieleS82 commented on #5657
Hi @v-kydela ,
yes, I need more time, I'll be back to you soon, can you wait, please?

[2021-02-01 20:19] Dan-Bai commented on #5671
I may have resolved this by initializing telemetryClient this way
<img width="651" alt="image" src="https://user-images.githubusercontent.com/25358214/106513337-d8379b80-64a0-11eb-93e5-ec4e86276d84.png">

[2021-02-01 22:00] #5574 closed

[2021-02-01 22:20] v-kydela commented on #5657
@DanieleS82 - I think you'll find the information I linked to satisfactory. Your question has been asked before and there are already answers. After reading the material, if you find that you still have questions that haven't been answered yet, please ask them on Stack Overflow and my team will help you there.

It's better for us to not leave issues open and these sorts of questions are better sui

[2021-02-01 22:20] #5657 closed

[2021-02-01 22:23] dmvtech commented on #5530
Closing this due to inactivity. If you still need assistance, please comment and I will reopen the issue.

[2021-02-01 22:23] #5530 closed

[2021-02-01 22:24] dmvtech commented on #5448
Closing due to inactivity. If you are still having this issue, please comment and I will reopen.

[2021-02-01 22:43] DanieleS82 commented on #5657
Hi @v-kydela ,
I'm reading your suggestions about how to implement an adaptive card that works on the web and Teams, but the request was opened in the first instance asking to add a feature to the QnAMaker Dialog component.
So, about this, I think could be great to implement the feature requested.
What do you think about it?

[2021-02-01 23:02] dmvtech commented on #5665
Hi @tiagonmas Do you see any messages/issues/warnings in the WebChat channel health section (`../Microsoft.BotService/botServices/<yourbotname>/channels`)?

[2021-02-01 23:42] anusharavindrar commented on #5658
@naicud, can you elaborate more on how you generated the accessToken for the above step? Are you using the az cli?

[2021-02-01 23:44] v-kydela commented on #5657
@DanieleS82 - The problem you reported here was about an Adaptive Card not working in Teams even though it works in Web Chat. There is no discernable feature request in this issue, but you can feel free to [post a feature request](https://github.com/microsoft/BotFramework-Composer/discussions/new) if you'd like.

Keep in mind that Composer just uses the `QnAMakerDialog` class in the Bot Builder .N

[2021-02-02 00:45] AlbertJDurango commented on #5668
Hi  @cwhitten I tested it, But now I get another error from the composer when I tried to add a new trigger
![image](https://user-images.githubusercontent.com/16806741/106536220-fa8fe000-64c5-11eb-8b02-0d41b480b108.png)

[2021-02-02 03:06] boydc2014 commented on #4214
Update:

We've done some improvements in

#5623
#5563
#5457

The next step is to look into breaking states in a finer grain.

[2021-02-02 03:06] #5559 closed

[2021-02-02 03:32] zhixzhan commented on #4728
I did some investigate, but failed to reproduce app crash. but I noticed app sometimes may auto reload after a long time idle. @kdubious  @mudasar  Can you upgrade to 1.3.0+, see this problem still exist ?

[2021-02-02 05:22] carlosscastro commented on #5393
@ic202 for the FTP feel free to bring the question to stack overflow, I haven't tried that and I don't know of any docs.

[2021-02-02 05:23] carlosscastro commented on #5393
Update: Even though we have enabled MSA auth for our app, we're seeing issues in our testing. The oncall person for the AAD team is helping us figure those out. Will update as we get more news.

[2021-02-02 06:09] luhan2017 commented on #5414
@daronyondem Sure, I will make sure the issue will be fixed soon. Sorry again for the misunderstanding. We are more than happy to see the PRs from the community. Hope you don't mind :)

[2021-02-02 06:38] zxyanliu commented on #5613
Hi @p-nagpal
I am wondering if there is an account/subscription requirement to deploy a bot to Azure Gov cloud?
I tried to create a web app bot and channels registration resources and I got 404.

![image](https://user-images.githubusercontent.com/32497439/106561380-6a5d9500-64dd-11eb-95bd-bd4df94ab740.png)

[2021-02-02 06:46] Junenursyaiddah commented on #5665
Hi ,

I'm using mac and have same issue when i start test demo - Bot Framework Composer
when i open http://localhost:3980/api/messages, showing this error,  " Upgrade to WebSocket is required. can you help me?

[2021-02-02 08:19] naicud commented on #5658
Hi, I have used az cli to generate the token:
![image](https://user-images.githubusercontent.com/55764723/106571670-b89f8200-6537-11eb-8017-e3c5869c2781.png)

[2021-02-02 08:31] lei9444 commented on #4884
I have a PR #5674 to fix the qna publish, and the lu publish already support this mechanism

[2021-02-02 09:13] tiagonmas commented on #5665
Mine works fine locally. The issue is only when deployed to Azure. My current endpoint giving the error is https://tiagonmasbotalamo.azurewebsites.net/api/messages.
Yes, the health section does show many warnings, as it cannot communicate with the API.
![image](https://user-images.githubusercontent.com/42462/106577895-d1f3fe80-6536-11eb-8121-4e6927a1e99c.png)

[2021-02-02 09:23] #5578 closed

[2021-02-02 10:33] boydc2014 commented on #5441
Update, we merged a fix for the migration issue, and we will continue working on the mechanism to help copy lg content easier. Given the work schedule of that, i updated the priority and release schedule.

[2021-02-02 10:46] ysnoek2 commented on #5448
Hi @dmvtech, excuse the late reply. I have put the bot in a repository and invited you to see it

[2021-02-02 11:27] #5132 closed

[2021-02-02 13:33] DanieleS82 commented on #5657
Hi @v-kydela ,
I changed my code according to the posts you suggested, this is the result:
[code]

The solution works, thanks for your support.

[2021-02-02 14:44] garypretty opened #5675 "Add LG response editor - telemetry events"
For the new LG editor, we should capture the following telemetry events.

**User clicks button to switch to the LG code editor**
Suggested event name: LGEditorSwitchToCodeEditor

**User clicks button to switch back from the code editor to the LG editor**
Suggested event name: LGEditorSwitchToResponseEditor

**User adds / removes a modality**
Suggested event name: LGEditorModalityAdded / LGEditorMo

[2021-02-02 14:58] garypretty opened #5676 "Webchat integration telemetry events"
**User opens / closes the webchat pane**
Suggested event name: WebChatPaneOpened / WebChatPaneClosed

**User clicks button to launch the emulator**
Suggested event name: EmulatorButtonClicked. Note: This is an existing event that we use to track emulator launches from the 'Start all Bots' panel. Let's use the same event name, but add a property 'Location' set to 'WebChatPane'.

**User clicks butto

[2021-02-02 15:55] FrancescoGen opened #5677 "Preserving a Machine Learning feature in all versions of a LUIS app"
Hi, whenever I create a Machine Learning feature for a given intent in my LUIS model, the feature is not preserved in the new version of the LUIS app that is generated when I add a new trigger in the Bot Composer and restart it. Any advice? Thanks

[2021-02-02 16:27] saleung commented on #5650
I am still getting the same error after running > set NODE_OPTIONS="--max-http-header-size=16000" within \Bot Framework Composer-1.3.0 I have also tried the same in nightly build 73c0bce with the same result. Any advice as to what I'm doing wrong?

[2021-02-02 16:32] Heinzfb commented on #5592
Hi luhan2017,

thanks 4 your help I will try and give you further information about the spinnigissue.

[2021-02-02 16:59] scheyal opened #5678 "Design + Feature Request: Orchestrator package pane"
We need to start design thinking around how Orchestrator package (or language) pane should look like. For example, for Orchestrator we would need the following areas (not exhaustive):

* Configuration: select different base models, potential tuning parameters
* Specify LU test set for each Orchestrator LU
* Generate & view report for language recognition quality
* Apply correctiont o LU from withi

[2021-02-02 17:36] cwhitten commented on #5663
@tiagonmas could there have been a network interruption when you tried this? Can you try again?

[2021-02-02 17:59] dmvtech commented on #5665
Hi @tiagonmas Is the application ID/password setup only in the appsettings.json or in the Web App configuration as well?

[2021-02-02 18:03] dmvtech commented on #5677
hi @FrancescoGen Can you expound on what you mean by feature? Can you share your LU? I'd like to try and reproduce, so if you have a bit more info/steps that I can use to try, that would be great.

[2021-02-02 18:16] srinaath commented on #5612
We are currently persisting these changes into the appsettings.json file.

[2021-02-02 18:16] #5612 closed

[2021-02-02 18:27] tiagonmas commented on #5665
(Documentation)[https://docs.microsoft.com/en-us/composer/how-to-publish-bot] does not state that I need to add the ID/password to anywhere. But I did add them to the settings page (copying them from the App Services configuration page), confirmed they were written to settings/appsettings.json file, and I republished the Bot. Now when I try the Web Chat I get a 502 error
![image](https://user-imag

[2021-02-02 19:57] vivekkshankar opened #5680 "Composer nav + button discoverability"
The + button in the composer nav is not discoverable and is creating friction while trying to add skills.
the create dialog and trigger icons in the three dot menu though contextual is hard to discover

![image](https://user-images.githubusercontent.com/67671676/106655114-f4c9f580-65be-11eb-8f11-ac7792bce79b.png)

Suggested fix:

![image](https://user-images.githubusercontent.com/67671676/10665513

[2021-02-02 20:00] vivekkshankar opened #5681 "Nav overlaps with three dot menus - Critical create actions inaccessible"
![image](https://user-images.githubusercontent.com/67671676/106655306-2e026580-65bf-11eb-8a22-d818a92f8af7.png)
This is making critical action in inaccessible

Suggested fix - Increase padding from right side.

[2021-02-02 20:32] benbrown opened #5682 "Document CMK usage in Composer"
Document how CMK works from Composer.

[2021-02-02 20:34] benbrown commented on #5682
The ABS team has requested we consider this for R13 @garypretty

[2021-02-02 21:06] tiagonmas commented on #5663
I've received the same error on 2 different ocassions. Will try again with logging enabled.

[2021-02-02 21:48] scheyal opened #5683 "Add dialog on remotely added skill raises exception"
Create multibot with one parent, one skill. Connect remote skill to local skill. Try to add dialog on skill UI --> hit error
## Version 1.3.0

![image](https://user-images.githubusercontent.com/8867670/106667066-4772c580-655d-11eb-8147-2fca2f37b15d.png)

![image](https://user-images.githubusercontent.com/8867670/106666996-2ca05100-655d-11eb-8139-3bff321f0954.png)

[2021-02-02 22:19] dmvtech commented on #5665
Yeah, you shouldn't have to. I was just checking/confirming. Thank you for trying that.

Can you please try one thing as a test? Can you create a new client secret (no need to remove the old one) [for that AAD app](https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade), then configure that in the App Service settings, then try the _Test in Web Chat_ again?

[2021-02-02 23:27] cwhitten commented on #4222
Removing from the milestone. Missing UX

[2021-02-02 23:28] cwhitten commented on #4054
Removing from R12

[2021-02-03 00:43] scheyal opened #5684 "Add configuration to disable cross-training"
For some (cross-domain) scenarios cross-training isn't as beneficial and may not worth the added complexity.

Request: Have a configuraiton flag to disable cross trainig.

[2021-02-03 00:55] boydc2014 commented on #5681
Per @srinaath suggestion, this should be a easy fix and we can take this into R12, @liweitian  can you follow up with Vivek for the accurate fix needed here.

[2021-02-03 03:36] #3671 closed

[2021-02-03 08:19] #4884 closed

[2021-02-03 09:30] tiagonmas commented on #5665
Created second secret and updates the password in AppServices configuration.
Webchat still gives an error. Per F12 tools  "{error: {code: "BotError", message: "Failed to send activity: bot returned an error"},…}
error: {code: "BotError", message: "Failed to send activity: bot returned an error"}
httpStatusCode: 401"

[2021-02-03 11:17] goergenj commented on #5356
@garypretty @cwhitten Yes. It is will "all" bots. On Windows Electron App. Please reach out via Teams for follow-up, if needed.

[2021-02-03 11:21] goergenj commented on #5369
@garypretty Can you send more details on the chat based testing you are already planning to add? "Next semester" is what timeframe?

[2021-02-03 11:22] goergenj commented on #5363
Hi srinaath, I can show you a Bot design that clarifies this very detailes. Please reach out to me via Teams alias is "jagoerge".

[2021-02-03 11:26] goergenj commented on #3316
@jeff-breece  Please reach out to @joaollq. He can share our code I believe.

[2021-02-03 11:46] BeheraMadan opened #5687 "starting conversession from chat history : for multiple dialog scenario"
Hi,
This is related to below issue
https://github.com/microsoft/BotFramework-Composer/issues/5574

We have applied the steps as mentioned in the above issue. But now we have added more dialogs to the bot and there are 3 multiple choice prompt separately in three different dialogs we have attached corresponding zip folder of the sample bot for reference.

As in the sample bot, dialog with name 'opt

[2021-02-03 13:25] jeff-breece commented on #3316
Thanks, @goergenj .

In other news, I got an hour with one of the Bot Composer engineers in Beijing for the deployment stuff and another SME who lives in the US. It seems that Key Vault integration is in fact on the road map for Bot Composer but, as of yet, it is not funded or scheduled. Still, the estimate I got was "possibly" sometime around MS Build.

@joaollq, here's my personal email address

[2021-02-03 13:32] vivekkshankar commented on #5681
@liweitian  https://www.figma.com/file/deFhMPBnRWxTYiYDYqYxrc/Composer-Vivek?node-id=10809%3A0

[2021-02-03 13:32] vivekkshankar commented on #5680
@liweitian https://www.figma.com/file/deFhMPBnRWxTYiYDYqYxrc/Composer-Vivek?node-id=10809%3A0

[2021-02-03 14:27] sgellock commented on #3316
I want to be as transparent as I can here.  The team is really good about honoring delivery dates when we have work booked, planned, and resources allocated.  When that's not the case, meaning when work is on our backlog, and hasn't yet been officially booked for a release, any timeline communicated is simply aspirational dialog at this point.

I don't want to say we're not aware of the KV feature

[2021-02-03 14:37] jeff-breece commented on #3316
@sgellock, haha! I amended my statement which had the **noncommittal** time frame I was given, in a non NDA conversation, in quotes. I really hope you all make this enterprise-ready by not only adding Key Vault integration but full CI/CD pipeline integration. Keep up the hard work!

[2021-02-03 15:10] #5683 closed

[2021-02-03 15:25] tiagonmas commented on #5665
I understood why I was getting permission errors. The issue was that, for some reason, the Bot Channel Registration was pointing to a wrong Microsoft App Id. When I navigate to my Registration channel, and then settings, the "Microsoft App ID (manage)" setting was using a App Id that is not the same that was registered. Not sure how this happened in the first place.

As a workaround, I created a n

[2021-02-03 18:53] dmvtech commented on #5665
Ok, thanks for the follow up. Yeah, that would do it 😂

That's really interesting though. If you are able to give specific steps on how to reproduce this issue (creating/provisioning with Composer, where it creates the wrong app registration), we would be interested in investigating further.

[2021-02-03 19:40] mitrro commented on #5393
The issue is still there...

[2021-02-03 20:38] cwhitten opened #5690 "Apple M1 support"
We're in the process of upgrading Composer's version of Electron to 11.x. With this upgrade we'll support the M1 chip.

[2021-02-03 22:00] mewa1024 opened #5691 ""Add a trigger" UI is missing trigger types "OnAssignEntity", OnChooseProperty", "OnChooseEntity""
## Describe the bug

The form dialogs feature creates a dialog for the user with one button press. The resulting dialog uses 3 trigger types that are not yet in the "Add a trigger" menu. Although this isn't preventing users from using the dialog, it does prevent them from adding new triggers of those types. The types are "OnAssignEntity", OnChooseProperty", and "OnChooseEntity".

## Version

1.3.1

[2021-02-03 22:13] tiagonmas commented on #5665
Tomorrow I'll create a new profile and publish it again to see if I can repro.

[2021-02-03 22:32] anusharavindrar commented on #5658
@naicud, have you tried generating a new access token and paste it to the publishing profile to see if you still get the same "accessToken is missing" error?
@luhan2017, any pointers on what might be causing the above error?

[2021-02-03 22:42] clearab commented on #5369
If I'm understanding the ask correctly, the suggestion is to add a web client to the creation flow for each new bot, then deploy that client automatically whenever a bot is deployed from Composer?

[2021-02-03 23:43] zxyanliu commented on #5613
@p-nagpal Thanks again for troubleshooting this for me. Now the Web App Bot worked on my end. :-)

[2021-02-04 02:12] stevkan commented on #5671
Hi @Dan-Bai, are you still needing assistance on this issue or did you solution solve the problem?

[2021-02-04 03:22] Dan-Bai commented on #5671
Hello @stevkan, I still need assistance. The solution I provided is not adding the necessary conversation properties such as __coversationId__ and __activityId__ to any of logs sent to application insights. Any direction on this issue would be appreciated.

[2021-02-04 03:27] luhan2017 commented on #5658
@naicud I saw you are using composer Electron app to deploy your bot. is there a login window pop up when you try to publish your bot? In composer 1.3.0, we switched from manually inputting token to azure login, we don't support manually paste your token in electron app now.

If you still want to use az cli to get accesstoken, you can try to download composer code, and start the webapp.

[2021-02-04 07:53] yeze322 commented on #5637
addressed in #5693

[2021-02-04 07:55] yeze322 commented on #5604
refs #5686 - Debug pane on the bottome
refs #5589 - Extension event API by Andy

[2021-02-04 08:05] yeze322 commented on #4779
I'll close this issue after validated on the newest main branch (where Leilei had optimized the perf problem a lot)

[2021-02-04 08:14] yeze322 commented on #5421
@anusharavindrar @xieofxie There is a invalid action id with `-` in it. You can fix it by **editing the action id manually**.

See my screenshot:
![image](https://user-images.githubusercontent.com/8528761/106863394-7034bf80-6703-11eb-9a0b-60861be0af76.png)

I'm curious about how this id format is generated? The char `-` is not in the id dictionary.

[2021-02-04 08:15] yeze322 commented on #5421
Id generator soure code:
https://github.com/microsoft/BotFramework-Composer/blob/270e0f306e7472cdfe529623e7c83a7e844e3284/Composer/packages/lib/shared/src/generateUniqueId.ts#L9

[2021-02-04 08:17] yeze322 commented on #5421
I found the id is generated 10 months ago, close this issue because newly created bot in Composer won't run into this case.

[2021-02-04 08:17] #5421 closed

[2021-02-04 08:30] yeze322 commented on #4177
Current problem:
- [ ] Cannot hide an action from Action flyout menu
- [ ] uischema json inside ui-plugins override sdk.schema, makes the custom uischema flow not fully functioned

[2021-02-04 08:30] yeze322 commented on #3673
P2 in R12

[2021-02-04 08:31] #5292 closed

[2021-02-04 09:04] mxmore opened #5694 "is there anyway for me to embedded my python(or js) code logic with composer?"
I just ask the question that if in future, I would like make some personal bot code logic into the bot that I published by composer. Is there any way to do that.

[2021-02-04 09:22] naicud commented on #5658
@anusharavindrar :i have tried many times but i get the same error :(

@luhan2017: If I want publish the bot on existing azure resources with the option "Import existing Azure Resources" i must to import publish profile, so in this profile i need to generate accessToken with the cli command. The solution fordeploy on Existing Azure resources is use de webapp on visual studio ?