[2020-05-09 21:42] mareekuh commented on #2978
@tomlm  I agree with you from a 'standards/consistency standpoint' and I am sorry it irritates you. Whenever possible, me and my team will aim for consistency. But this does not mean we'll apply 'constent for consistency sake' treatment.At all times, clarity for the user and doing what is appropriate is more important than consistency.
In this case, there was extensive discussion and thought put i

[2020-05-09 21:55] mareekuh commented on #2976
When I click 'add dialog' when within a dialog I get the following (see below).
I agree with you 1000% that I want to either create a new one or select one I have already created.
The former is possible - as far as I know the latter (select from existing) is not yet.
The UI to enable both has been designed (it is very similar to create new bot: create new /select from sample) but is not enabled ye

[2020-05-09 21:57] mareekuh commented on #2092
Is this being worked on? Is the keiboardshortcut cheat-sheet available in the documentation?
@zxyanliu

[2020-05-09 21:57] mareekuh commented on #2080
@zxyanliu

[2020-05-09 21:58] mareekuh commented on #2044
@sangwoohaan  - could you take a look at this?

[2020-05-09 21:59] mareekuh commented on #1938
@sangwoohaan - is this related to the UX terms PR you did the other day?

[2020-05-09 22:01] mareekuh commented on #1695
@DesignPolice @sangwoohaan  - remind me to follow up w both of you on this, Sang & Marc - I am not clear on what's decided and or if this done/closed or not?

[2020-05-09 22:02] mareekuh commented on #1003
@vishwacsena @cwhitten  - where are we with this?

[2020-05-09 22:03] mareekuh commented on #974
@zxyanliu - @hibrenda - did this get updated/implemented?

[2020-05-10 06:34] timoconnellaus opened #2979 ""Object reference not set to instance of object" error when creating a new text input"
## Describe the bug

"Object reference not set to instance of object" error shown in chat window in bot framework emulator when a input is added to a bot - text inputs on sample bots work without this error

## Version

a7d013b

## Browser

I'm using "BotFramework-Composer-0.0.1-windows-setup.exe" windows desktop app

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Win

[2020-05-10 17:18] cwhitten commented on #2972
@liweitian can you take a look at this please?

In addition to @tomlm's Expected behavior, please also do the following:

- Hide special/hidden directories in the navigation control

Directories with special prefixes like '$' or '.' should be filtered out.

![Screen Shot 2020-05-10 at 10 18 01 AM](https://user-images.githubusercontent.com/1156704/81505905-9e39c000-92a7-11ea-8386-7292cc3a2ccb.png)

[2020-05-10 17:21] cwhitten commented on #2974
@tomlm this has been discussed in the past, and is a very fair requirement. The work is not hard to plumb this through.  To implementer:

When deleting the bot directory, we also need to remove any application level state referencing the deleted bot. The bot field from `data.json` needs to be removed and any information in LocalStorage pertaining to the bot needs to be removed. `composer:DialogSet

[2020-05-10 17:23] cwhitten commented on #2973
@tomlm we should allow users to choose Documents if they wish, however addressing https://github.com/microsoft/BotFramework-Composer/issues/2972 will not default or lead with this location.

[2020-05-10 17:24] #2961 closed

[2020-05-10 17:26] cwhitten commented on #2976
I agree the design is as-spec'd, however @tomlm brings up good points that we mix `Add` and `Create` interchangeably and this isn't clear to users.

[2020-05-10 17:27] cwhitten commented on #2977
By the way, I agree and have always felt that "Conversation objective" and "What can the user accomplish through this conversation" is off.

[2020-05-11 00:55] timoconnellaus commented on #2979
In addition to this, it looks as though the property that has been set (e.g. user.name) is available within the dialog that set the value and the parent dialog - but if you trigger a new dialog and attempt to use that property it will be null

[2020-05-11 02:51] yeze322 commented on #2970
It's a nice change! Current layout came from design but the suggested solution is obviously more reasonable

[2020-05-11 03:16] yeze322 commented on #2949
@VanyLaw I'm not quite with you about the motivation to save time. If we really want to avoid reading fisk files frequently, there is a HTTP 304 'Not Modified' to handle that.

Anyway, functionally we need to support one scenario here:
1. User switches to 'Settings' page
2. User enables an ejected(custom) runtime in which contains a custom sdk.schema
3. Then switches back to design page, the 'sdk.

[2020-05-11 03:22] mareekuh commented on #2977
Lol - yeah, I'll fix it (-:
I think this comes from the era when we were designing a longer create-new flow (a year ago?) and especially when it's only a single dialog, this is odd.

[2020-05-11 04:03] mareekuh commented on #2976
agreed.
Please have a look at this - it addresses [#2977](https://github.com/microsoft/BotFramework-Composer/issues/2977) also:

https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=313%3A2806

Please note - the copy in the dropdown in the build does not match the design spec.

<img width="647" alt="Screen Shot 2020-05-10 at 9 02 49 PM" src="https://us

[2020-05-11 04:04] mareekuh commented on #2977
Ok fixed see here: https://github.com/microsoft/BotFramework-Composer/issues/2976

<img width="647" alt="Screen Shot 2020-05-10 at 9 02 49 PM" src="https://user-images.githubusercontent.com/48503434/81523162-dc63cd80-9301-11ea-9903-4fe1ea10d68b.png">

[2020-05-11 04:51] hibrenda commented on #2979
reproduced in onConversationUpdate activity. but no such issue in other trigger .

[2020-05-11 05:23] zxyanliu commented on #2080
@mareekuh Yes. We should make the terms consistent. I will update the naming conventions as suggested. Thanks!

[2020-05-11 06:26] hibrenda commented on #2974
@cwhitten @benbrown  do we need to delete the runtime as well. Runtime maybe hosted in local or customized path ? Meanwhile, need the placeholder for delete action. @mareekuh need your suggestion.

[2020-05-11 06:27] yeze322 commented on #2970
addressed in #2981

[2020-05-11 06:38] zxyanliu opened #2982 "LUIS trigger phrases fail to show in the inline editor after trigger creation"
Describe the bug
I selected LUIS as a recognizer type and created an Intent Recognized trigger.
I enter the intent name and trigger phrases in the **Create a trigger** window, but after submit, the data is now shown on the Properties panel.
Note: the data can be published to LUIS. It's just that they are not shown in the inline lu editor as they are supposed to.

## Version
Latest master branch.

[2020-05-11 07:31] xieofxie opened #2983 "incorrect generated predictionOptions"
## Describe the bug

The generated predictionOptions have typo and can't be loaded.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/2876650/81535209-f8b44880-939b-11ea-8a62-3eeba8a351d6.png)

It turns out that in SDK, these options are bool not expressions.
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/2876650/81535214-fb16a280-939b-11ea-9a34-ed71784589f5.

[2020-05-11 08:04] boydc2014 commented on #2972
@cwhitten  we were kind of trying to unify the path in unix style to make it more convininent. So we are now getting to have different UI in win vs non-win, right?  that could solve 1 and 3 in @tomlm's request.

And @tomlm, for 2, i see the default folder is C:\user\myusername\documents\Composer
![image](https://user-images.githubusercontent.com/3829387/81538088-cce79180-93a0-11ea-89fb-6039268bf73

[2020-05-11 08:20] luhan2017 commented on #2979
@timoconnellaus , thanks for reporting this issue, this is a bug. In the conversation update trigger we had a Foreach loop on turn.Activity.membersAdded. adding TextInput or whatever action that introduces another turn will refresh the turn memory and break this loop. To work around this bug,  you can update the logic in two ways:
1. After another turn is introduced, add a BreakLoop step, which wi

[2020-05-11 09:01] alanlong9278 commented on #2030
Have checked the issue. This is because the order of element's render is not the same of the order of dom displayed. But I don't find the way to change the navigation logic. @beyackle Could you help me if you know some way to change the navigation logic in scan mode. Changing the dom's order is a huge project to do.

[2020-05-11 09:27] VanyLaw commented on #2949
I update the botproject in server cache after eject, that can return botproject include schema files when user refresh.

[2020-05-11 10:33] hibrenda commented on #2982
Form dialog is not refreshed . if you click the reload this page, it will be displayed.

[2020-05-11 10:39] hibrenda opened #2986 "Need to support different endpoint for luis publish"
User would like to publish the luis to mooncake.
eg. chinaeast2 region is targeting https://chinaeast2.api.cognitive.azure.cn instead of https://${region}.api.cognitive.microsoft.com.

So need to support different endpoint for luispublish
https://github.com/microsoft/botframework-cli/issues/778

[2020-05-11 11:44] fathorMB opened #2987 "Prebuilt isInteger function not working"
## Describe the bug

When trying to use the prebuilt function "isInteger" via the Composer, i get the following error:

## Version

test
Branch: stable

## Browser

- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## Expected behavior

Should work returning a boolean value indicating if the given value is an integer number.
Following this [document

[2020-05-11 12:03] yeze322 commented on #2949
Thanks @VanyLaw ! It can support the ejected scenario well

[2020-05-11 13:00] lei9444 commented on #2982
we should sync the data if the update is from shell

[2020-05-11 13:34] boydc2014 commented on #2983
Looks like this is caused by bf-lu writing out options that core SDK runtime haven't supported yet. bf-cli RC6 fixed this by revert this feature. Update to RC6 will fix this.

[2020-05-11 14:30] cxbuilders commented on #2858
Any update on the issue I am facing?

[2020-05-11 14:39] cwhitten commented on #2972
I like the consistency of the unix path for internal operations. We can maintain that if it is helpful. When we render the view can we consider a transform to the os path separator? This wouldn't require a change to the internal model of path serialization.

The request is to default to `/Users/${username}` instead `/Users/{username}/Documents`

[2020-05-11 14:47] cwhitten commented on #2983
https://github.com/microsoft/BotFramework-Composer/pull/2984

[2020-05-11 14:47] #2983 closed

[2020-05-11 14:57] cwhitten commented on #2976
I have questions about this:

1. Can you explain the "Bot name" label?
2. When adding an existing dialog, where is it adding it from? Is this supposed to hook into the not yet built Dialog Assets mocks?
3. Can you explain the purpose of the location field?

[2020-05-11 15:00] cwhitten commented on #2973
And to clarify, we _don't_ add any bots on a users behalf that they don't explicitly use Composer to create. Perhaps you created a EmptyBot-01 and Composer doesn't show it's path. However https://github.com/microsoft/BotFramework-Composer/pull/2980 addresses that.

[2020-05-11 15:01] cwhitten commented on #2974
@hibrenda yes the bot directory needs to get blown away and if they have injected a /runtime is will also get removed.

[2020-05-11 15:08] benbrown commented on #2974
We should definitely NOT delete anything outside of the main bot project folder. That is, if the custom runtime path is pointing at a totally different folder, it should NOT delete these files.

[2020-05-11 16:16] beyackle commented on #2033
Is this ticket closable? It sounds like the work it refers to is being tracked elsewhere (by those stopgap solutions previously mentioned). Or are we keeping it open so we can refer back to it once these discussions have happened?

[2020-05-11 16:19] zxyanliu opened #2988 "Unable to find the Custom event and Message events triggers..."
## Describe the bug
The **Custome event** trigger and **Message events** trigger are lost. I was unable to find them anywhere. Is this by design? Do we only support the following four types of triggers?

* Intent recognized
* Unknown intent
* Activities
* Dialog events

## Version
Latest master branch.

## Browser
- [x] Chrome

## OS
- [x] Windows

## To Reproduce

This is what I did in my desired

[2020-05-11 16:37] darrenj opened #2989 "`Invalid URI: The URI is empty` when invoking a Skill"
## Describe the bug

When using the `Begin a Skill Dialog` and registering a SkillDialog using a provided manifest file it successfully creates the configuration but then errors with `Invalid URI: The URI is empty` when you try to invoke

## Version

- Latest

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to re

[2020-05-11 16:42] cwhitten commented on #2971
addressed in https://github.com/microsoft/BotFramework-Composer/pull/2980

[2020-05-11 16:42] #2971 closed

[2020-05-11 16:59] cwhitten commented on #2989
You need to register all involved bots (parent, child, etc) and include the AppId _and_ AppPassword in all bots for the framework to work.

This invalid URI error message is coming out of the SDK.

[2020-05-11 17:04] cwhitten commented on #2970
addressed in https://github.com/microsoft/BotFramework-Composer/pull/2981

[2020-05-11 17:04] #2970 closed

[2020-05-11 17:04] a-b-r-o-w-n commented on #2988
@zxyanliu The custom event has moved into the dialog events form. And as far as I can tell, the message event has been removed from the sdk. This was changed in #2911

[2020-05-11 17:05] cwhitten commented on #1220
addressed via https://github.com/microsoft/BotFramework-Composer/pull/2969

[2020-05-11 17:05] #1220 closed

[2020-05-11 17:21] #2962 closed

[2020-05-11 17:22] a-b-r-o-w-n commented on #2946
I think R10 is ok for this.

[2020-05-11 17:49] mareekuh commented on #2976
1. "Bot name" label - copy paste error. Should be 'Dialog name'
2. Existing dialog - depends on what the user chooses:

-  Sample dialog : sample dialog folder /assets library (soon to come)
- Existing dialog : wherever the user saved it in their file system (possibly part of another bot/dialog)

3.  location field - just a way to allow user to control where to look and find the dialog they want t

[2020-05-11 17:50] cwhitten commented on #2845
https://github.com/microsoft/BotFramework-Composer/pull/2930

[2020-05-11 17:50] #2845 closed

[2020-05-11 18:08] zxyanliu commented on #2988
@a-b-r-o-w-n Thanks for your response and I was not aware of this change.

I cannot find custom event from the dialog events form:
![image](https://user-images.githubusercontent.com/32497439/81595576-8fbad980-9377-11ea-8b62-534aaa0b5867.png)

@luhan2017 Could you please confirm that Message events are removed from the sdk? Thanks.

[2020-05-11 18:13] a-b-r-o-w-n commented on #2988
@zxyanliu so instead of having a "CustomEvent" trigger, the sdk just supports a "DialogEvent" trigger with a custom event name. So the UX change was to allow users to type the custom event name. Sorry for the impact to docs.

[2020-05-11 18:19] zxyanliu commented on #2988
@a-b-r-o-w-n It's fine, I was just wondering what is the best way to update [this article](https://docs.microsoft.com/en-us/composer/how-to-define-triggers) so that our users do not get confused. Should we just document the trigger types that are exposed in Composer UI? i.e.

* Intent recognized
* Unknown intent
* Activities
* Dialog events

[2020-05-11 18:21] ryanlengel opened #2992 "Create a trigger flow appears to have multiple validation checks"
## Describe the bug

When creating a new LUIS trigger it appears that it validates the .LU file while being created, but this feels aggressive as I am just following the expected flow to add this component. Then after submitting, it runs another validation checking for invalid characters.

## Version

Latest on master

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] ma

[2020-05-11 18:42] carlosscastro opened #2993 "Publish to WebApp and Functions should be marked (Preview)"
In the publish dropdown, where we display to `Publish bot to an Azure Function` or `Publish bot to an Azure Web App`, both texts should be post-fixed with `(Preview)`.

Final result:

- Publish bot to an Azure Web App (Preview)
- Publish bot to an Azure Function (Preview)

[2020-05-11 20:42] beyackle commented on #2030
As far as I know, scan mode follows DOM order, and I agree that changing the DOM order would probably be a huge project. This feels to me like something we could address sometime in the future if/when we decide to revamp the whole way we render elements. For now, based on what work would need to be done and the severity of this ticket, I'm inclined to call this a "won't fix this yet, but it should

[2020-05-11 21:51] beyackle commented on #2092
This is definitely a documentation issue, and a cheat-sheet would be a good way to solve it.

[2020-05-11 21:56] #2897 closed

[2020-05-11 21:57] #2949 closed

[2020-05-11 22:14] zxyanliu commented on #2092
Sure. I can add a keyboard short cut cheat-sheet in the Composer docs. Who should I contact for the list of the short cut?

[2020-05-11 23:00] beyackle commented on #2080
I've updated the labels in #2959 as well.

[2020-05-11 23:04] a-b-r-o-w-n opened #2998 "expression validation no longer working"
## Describe the bug

The new schema has move all expressions into definitions so the validation no longer works because the schema does not have `$role: 'expression'`.

[2020-05-11 23:05] a-b-r-o-w-n commented on #2998
My suggestion is to completely dereference the schema on the client so that downstream consumers do not have to deal with additional schema processing.

[2020-05-11 23:49] mareekuh opened #3000 "Cosmetics - User input page - left nav panel is missing line. Font style needs updated."
![Screen Shot 2020-05-11 at 4 22 42 PM](https://user-images.githubusercontent.com/48503434/81622941-1cc95700-93a7-11ea-8334-6a253aae6a16.png)

Leftnav font and size and style should match Authoring Canvas leftnav.

![Screen Shot 2020-05-11 at 4 48 11 PM](https://user-images.githubusercontent.com/48503434/81623047-5d28d500-93a7-11ea-9979-240c8ee11275.png)

[2020-05-12 01:12] mareekuh commented on #2926
![Screen Shot 2020-05-11 at 6 10 15 PM](https://user-images.githubusercontent.com/48503434/81627323-c2ce8e80-93b2-11ea-894d-1a58e158ca02.png)

@zxyanliu and @beyackle

[2020-05-12 01:16] mareekuh commented on #2974
Quick screenshot here -
Marc may do some cleaning up but this is the idea (below).
Lives in the toolbar of bot settings page.

![Screen Shot 2020-05-11 at 6 14 22 PM](https://user-images.githubusercontent.com/48503434/81627576-5bfda500-93b3-11ea-9dc0-a9b2b354a116.png)

https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=1514%3A656

@DesignPolice and @

[2020-05-12 02:01] boydc2014 commented on #2987
@cosmicshuai can you take a look at this?

[2020-05-12 02:21] cosmicshuai commented on #2987
@fathorMB The stable branch currently does not have type checking functions. They are available in master branch.  Also, stable branch will have those functions in the next release.

[2020-05-12 02:32] hibrenda commented on #974
not yet. Assigned @alanlong9278 to fix the pop up message.

[2020-05-12 04:40] zhixzhan commented on #3000
I can't re-pro this, @hibrenda how about you ?

[2020-05-12 04:43] hibrenda commented on #3000
on windows / chrome , I could not reproduce this either.

[2020-05-12 05:22] luhan2017 commented on #2858
@cxbuilders , it looks like the error happens when creating the app registration, which is not related to the subscription yet. So could you try the following steps. It seems you are facing the same problem with Eric.

1. https://ms.portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/Properties, query this url you will see a Directory ID folder, copy the id.
2. go to provisionCompos

[2020-05-12 07:34] yeze322 commented on #2974
refs #919

[2020-05-12 09:16] VanyLaw commented on #2974
@cwhitten @benbrown Talk about it, Do we need a design for stop runtime too?  We need to stop runtime before delete a running bot.

[2020-05-12 09:18] cxbuilders commented on #2858
@luhan2017 With the Work Around you provided I just successfully deployed, published and tested in Azure a bot with Luis enabled. Very glad it is all working, thanks!

[2020-05-12 09:21] cxbuilders commented on #2804
@cwhitten Is there any news on the documentation for the code action component? Tried to figure it out, but that takes a lot of time, so waiting for the docs to be there, or maybe a quick instruction would help as well?

[2020-05-12 11:14] cxbuilders opened #3004 "Authentication shows validation code instead of redirecting"
## Describe the bug

When adding Authentication using an application registration from a different subscription the redirect page shows;
![image](https://user-images.githubusercontent.com/49873947/81678667-0926fa80-9452-11ea-8d77-bac5a3398150.png)

I have followed the steps in this [manual](https://docs.microsoft.com/en-us/composer/how-to-use-oauth#configure-the-oauth-connection-settings-in-compos

[2020-05-12 11:56] cxbuilders opened #3005 "Unknown intent trigger is not called when an intent trigger is rejected by a condition"
## Describe the bug

Although technically it makes sense I would think functionally this seems like a bug. When you have an intent with a condition to limit the false triggers, like: turn.recognized.score > 0.7
It does not trigger the Unknown intent trigger. I would expect this to happen.

## Version

latest today

[2020-05-12 12:07] DesignPolice commented on #2974
Good points @VanyLaw and @yeze322 - I will look at those this morning as well... Ben and Chris fill in any other info I might need.

[2020-05-12 12:18] cxbuilders commented on #2843
All fixed

[2020-05-12 12:18] #2843 closed

[2020-05-12 12:19] cxbuilders commented on #2828
all fixed / irelevant with new scripts

[2020-05-12 12:19] #2828 closed

[2020-05-12 13:00] liweitian commented on #2974
@DesignPolice @mareekuh  We already have a 'delete' button on that tool bar used to delete node in the visual editor. So we probably need another design.

[2020-05-12 14:19] #2972 closed

[2020-05-12 14:42] benbrown commented on #2974
I have never seen a delete button that acted like a dropdown like that. Seems error prone.

[2020-05-12 14:43] benbrown commented on #2974
I do not think we need to explicitly stop a bot before deleting it. It should automatically stop if you delete (or close) the project.

[2020-05-12 14:52] cwhitten commented on #2974
Agreed, the delete dropdown with options looks weird.

[2020-05-12 15:00] DesignPolice commented on #2974
Hmm, so do we just want to have a stand alone "Delete Bot"  - I think the other options could moved into the settings drop downs - and if I don't need to Stop the runtime to delete would free up some options.

I will make some options and we can discuss in the standup, rather than this thread blowing up everyone all morning.

[2020-05-12 15:04] boydc2014 opened #3006 "Auto-update not working in Electron distribution"
When installed and for the first run, it pop up a new version is available to update and click OK, then
![image](https://user-images.githubusercontent.com/3829387/81709977-e96cf200-94a4-11ea-8d81-df0993c79daa.png)

OS: Windows 10 1903
Composer version: 0.0.1

[2020-05-12 15:52] mareekuh commented on #2974
@liweitian and @DesignPolice
Our buttons in the toolbar are contextual to the content of the page.
So in the Design view, when the user has selected a node, delete applies to that node.

In the Settings page, there are no nodes visible and delete applies to the content on bot settings or app settings.
- delete a language  (only available >2)
- delete the bot
etc;

So what we do for add, when there

[2020-05-12 15:56] cwhitten commented on #2974
This is why I suggested we add it to the Homepage.

[2020-05-12 15:58] mareekuh commented on #2974
when adding it to the home page we'd be making it possibly more prominent than needed for a task like this and we'd have to have a 'picker' page: which bot to delete.
In the settings page you're already 'in' a bot - you're already managing the bot...

[2020-05-12 16:00] cwhitten commented on #2974
Yes but you just contradicted yourself saying the operations in the Settings page need to apply to the content on bot settings or app settings so I'm questioning the system here...

[2020-05-12 16:28] zxyanliu commented on #2988
Hey @a-b-r-o-w-n, the flow to create a **Custom event** trigger is unfamiliar to me. Instead of having a drop-down to choose from, I need to type in something in the **Which event** field. Actually whatever I typed in that field, a **Custom event** trigger will be created with the name of **Custom event**, not the name I typed. I was wondering if we could add **Custom event** to the **Dialog event

[2020-05-12 16:30] a-b-r-o-w-n commented on #2988
@sangwoohaan do you have any input here?

[2020-05-12 16:50] mareekuh commented on #2926
@zxyanliu Yan, do we have a page in our Composer documentation where we can send people?

[2020-05-12 16:55] zxyanliu commented on #2926
@mareekuh we have this [one](https://docs.microsoft.com/en-us/composer/quickstart-create-bot) on the live side, is recently updated [here](https://review.docs.microsoft.com/en-us/composer/quickstart-create-bot?branch=pr-en-us-81) adding the electrons. Should I add "dotnet build" as a prerequisite for the electrons in the docs?

[2020-05-12 17:08] a-b-r-o-w-n opened #3007 "Layout issue when viewing the dialog"
![image](https://user-images.githubusercontent.com/3619060/81723994-85144900-9438-11ea-9d33-2c720f33b999.png)

[2020-05-12 17:30] tomlm opened #3009 "File Open doesn't allow me to paste a path in"
## Describe the bug

## Version

0.0.1

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge (chrome)

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to OPEN BOT
2. I have a bot in a known location.  I can't type in a path, I can't paste a path.

## Expected behavior

To be able to PASTE in a path or TYPE A path

[2020-05-12 17:41] mareekuh commented on #2974
We have 2 settings pages: Bot settings - which is where 'delete bot' fits, and App settings. (composer app - neither deleting language or bot fits here)

[2020-05-12 17:48] cwhitten commented on #2974
We only have one Settings page at the moment.

[2020-05-12 17:51] mareekuh commented on #2926
do we have a specific doc that talks about why Composer needs .NET for the time being?

[2020-05-12 17:53] mareekuh commented on #2974
Right.
Today the settings for the current bot as well as the ones for Composer as the app are on one page. So buttons related bot either go on that page.

[2020-05-12 17:53] zxyanliu commented on #2926
I am working on a PR right now, adding [.NET Core SDK 3.1](https://dotnet.microsoft.com/download/dotnet-core) and above to this specific [doc](https://docs.microsoft.com/en-us/composer/setup-yarn). Will follow up shortly.

[2020-05-12 18:15] zxyanliu commented on #2926
@mareekuh The specific doc link is [this one](https://docs.microsoft.com/en-us/composer/setup-yarn). I added both the Bot Framework Emulator and the [.NET Core SDK 3.1](https://dotnet.microsoft.com/download/dotnet-core) as prerequisites in this [PR](https://github.com/MicrosoftDocs/composer-docs-pr/pull/110). You can view the specific doc from review side [here](https://review.docs.microsoft.com/e

[2020-05-12 20:12] beyackle commented on #2926
![image](https://user-images.githubusercontent.com/61990921/81740628-2065e800-9452-11ea-8a57-f85604a7680d.png)
@mareekuh How does this look? I had to change some of the language because we specifically need the Core SDK (which is the only one there is for non-Windows platforms).

[2020-05-12 20:44] mareekuh commented on #2926
maybe a bit more whitespace below the intro sentence (ending with ''Learn more") and the "
Install msft... Link to make the action item (install the thing!) more clear?
Nice quick turnaround!

[2020-05-12 20:48] benbrown commented on #2926
This is a lovely error message.

Have we determined the root cause of the problem though?

[2020-05-12 21:06] beyackle commented on #2926
.NET not being installed is one possible cause of this error (one I ran into myself when testing). I don't know that we can promise that it's the cause of all cases of it.

Also, here's the adjusted spacing:
![image](https://user-images.githubusercontent.com/61990921/81745501-cd902e80-9459-11ea-84de-b7e9e2e82646.png)

[2020-05-12 21:20] benbrown commented on #2926
We probably need to instrument the call to `dotnet build` with more logging so that when it occurs users can send us rich reports.

Right now the actual error gets swallowed.

It was definitely happening to users who did have Dotnet installed properly.

[2020-05-12 21:45] beyackle commented on #2926
I've added to the PR a call to `console.error` in the server method that gets called on a publishing error. Hopefully that'll give us more information on why these occur.

[2020-05-12 21:46] #3007 closed

[2020-05-12 22:25] cwhitten commented on #2924
https://github.com/microsoft/BotFramework-Composer/pull/2923

[2020-05-12 22:25] #2924 closed

[2020-05-13 00:28] #2998 closed

[2020-05-13 00:29] #2982 closed

[2020-05-13 01:15] hibrenda commented on #3009
https://github.com/microsoft/BotFramework-Composer/issues/2655

[2020-05-13 01:27] luhan2017 commented on #2988
The message events are still valid in the sdk side, but we don't have samples for them yet, this is mainly for the Teams channel user scenarios.
@cwhitten @a-b-r-o-w-n , just want to confirm with you that do we remove them intentionally?

[code]

[2020-05-13 01:30] a-b-r-o-w-n commented on #2988
I met with Sang and Tom today to understand this better. I will be reverting these changes tomorrow.

[2020-05-13 02:46] DesignPolice commented on #2974
Updating some info after a busy day.

I know what I have designed on this page is more robust than we have time for - but the basic need is a single button to delete the entire bot. That also gives plenty of extra warnings that you are making a very permanent decision.

![Screen Shot 2020-05-12 at 7 40 04 PM](https://user-images.githubusercontent.com/45223620/81765605-1ca18800-9489-11ea-9d51-04dba

[2020-05-13 04:07] zhixzhan opened #3015 "Cannot read property 'sdk' of undefined"
## Describe the bug

When open a bot, see a blank page

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

<img width="1152" alt="image" src="https://user-images.gith

[2020-05-13 05:56] luhan2017 commented on #3004
@cxbuilders You need to copy the code to your chat window where the sign in card pop us and continue the conversation there. This url is just used for OAuth validation and it don't know where to redirect.

[2020-05-13 06:08] cxbuilders commented on #3004
Wow, never even tested that, as that seemed too clumpsy... Has this always been the case with Bot Framework?

[2020-05-13 06:11] hibrenda commented on #3005
@vishwacsena any thoughts ?

[2020-05-13 07:42] hibrenda opened #3017 "start bot with updated luis hit error notification"
- create a bot using luis
- start the bot
- updated the luis content
- restart the bot
- hit following error
![image](https://user-images.githubusercontent.com/43408889/81784665-c76c8180-952f-11ea-98b2-ae4c16cd0790.png)

Click try-again can be successfully executed .

[2020-05-13 08:02] VanyLaw opened #3020 "Deploy to westeurope error"
## Describe the bug

after deploy to westeurope, bot have a permission error.
![image](https://user-images.githubusercontent.com/21174180/81787025-07813380-9533-11ea-95b7-6de6d79259ef.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3.

[2020-05-13 08:38] zhixzhan opened #3022 "state.designPageLocation is not persistence with state"
some value in `state.designPageLocation` e.g. `projectId` `dialogId` not always sync with it's initial value in `state`

[2020-05-13 08:42] lei9444 opened #3023 "Maximum call stack size exceeded when open a bot"
## Describe the bug
![image](https://user-images.githubusercontent.com/39758135/81790833-8b89ea00-9538-11ea-8e7b-5d759e37136d.png)

## Version
master

## Browser

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'home'
2. Click on 'open a new bot'
3. See error

## Expected behavior

## Scr

[2020-05-13 09:20] yeze322 commented on #3023
@a-b-r-o-w-n Andy do you know what's happening here?
The first time I open a bot, it could be loaded correctly; if I go back to home page and reopen the bot again, whole page crashed.

[2020-05-13 11:37] xhr0804 opened #3024 "Something wrong with LUIS when restart the bot"
## Describe the bug
When I restart the bot, I sometime got the error.
![image](https://user-images.githubusercontent.com/44257569/81807616-fb0bd380-9550-11ea-8fe6-61c1dc82062b.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll

[2020-05-13 13:06] sachabruttin opened #3026 "QnA Maker integration dynamic "Strict Filters""
## Describe the bug
We are trying to implement QnA Maker integration with a static filter that is the result of a previous user answer on the current dialog.

We need to use the value stored on "dialog.topic" on the Strict Filters.
After trying all kind of formatting ( =dialog.topic, ${dialog.topic}, =$topic, =topic), all of them were not able to inject the memory value.

## Version

Application S

[2020-05-13 13:34] yeze322 commented on #2286
@sangwoohaan do you provide what's the icon names of 'Disable' and 'Enable' button?
![image](https://user-images.githubusercontent.com/8528761/81818988-4cbc5a00-9561-11ea-836c-de1ae7858498.png)

[2020-05-13 14:56] #3004 closed

[2020-05-13 16:49] a-b-r-o-w-n opened #3028 "Unable to open another bot (sometimes)"
## Describe the bug

Sometimes, when opening another bot, I am redirected to the design page with the last bot I had open instead of the new bot.

I haven't been able to come up with a consistent repro, but it is happening regularly for me.

[2020-05-13 17:14] vishwacsena commented on #3005
I'm not sure if this is a bug or the intended behavior. Seems to me to be a bug since my understanding of the unknown intent is that it should fire if no OnIntent trigger fired for a recognizedIntent event. @Stevenic @tomlm ?

[2020-05-13 17:23] #3023 closed

[2020-05-13 17:59] #3015 closed

[2020-05-13 20:15] michielpr opened #3032 "Impossible to choose my local folder where I create/edit a bot"
## Describe the bug

Upon creating a new bot from template on mac, I can't seem to choose the appropriate folder where I want to save my bot. The only folders are "/" and "/users". In addition, I can't seem to find a way how to browse the folder I want.
## Version

Bot Framework Composer

                Version:  0.0.3
                Electron: 8.0.2
                Chrome: 80.0.3987.86

[2020-05-13 20:34] cwhitten commented on #3006
This is fixed

[2020-05-13 20:34] #3006 closed

[2020-05-13 21:04] EPinci opened #3034 "Impossible to run LUIS model from a non 'westus' region"
## Describe the bug

It is impossible to run LUIS model from a non "westus" region.
Even changing it on the settings results in a non working model (publishing works, running it doesn't).

## Version

v0.0.3

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [X] Electron

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## Expected behavior

Need to run LUIS model from a non "westus"

[2020-05-13 21:04] EPinci opened #3035 "Impossible to create non english bots"
## Describe the bug

New bots get created with a default locale of "en-us" and there's no possibility to change it.
Also LUIS model are locked to "en-us" locale.

## Version

v0.0.3

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [X] Electron

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## Expected behavior

Need to be able to create a bot with a different locale (e.g.: "it-it

[2020-05-13 21:19] ryanlengel commented on #3028
I can reproduce this on my setup (using latest)...

* Active project: VirtualAssistant
   * Home > Select EmptyBot-0, opens EmptyBot-0
![image](https://user-images.githubusercontent.com/43043272/81866455-157b8800-9524-11ea-8dde-533efcbe75b2.png)

* Active project: EmptyBot-0
   * Home> Select VirtualAssistant, opens EmptyBot-0
![image](https://user-images.githubusercontent.com/43043272/81866498-24

[2020-05-13 22:40] #2988 closed

[2020-05-13 23:20] beyackle opened #3037 "Tags in export skill dialog are still not working right"
## Describe the bug

Because the JSON parsing happens on every keystroke, it's very awkward to enter tags that contain spaces at all (because spaces get instantly trimmed by the parser). That fix should be reverted.

## Version

0.0.3

## Browser

desktop

## Expected behavior

I should be able to enter a comma-separated list of tags (which may contain spaces) and have the resulting JSON properly

[2020-05-13 23:23] beyackle commented on #3037
I have an idea how to solve this without just reverting my old change. I'll see if I can get this working.

[2020-05-13 23:50] a-b-r-o-w-n commented on #2988
@zxyanliu The custom event is added back and the message events are now under the activities section. Please let me know if you need anything else.

[2020-05-13 23:50] cwhitten commented on #2858
https://github.com/microsoft/BotFramework-Composer/pull/2964

[2020-05-13 23:50] #2858 closed

[2020-05-13 23:50] cwhitten commented on #2927
https://github.com/microsoft/BotFramework-Composer/pull/2964

[2020-05-13 23:50] #2927 closed

[2020-05-13 23:52] zxyanliu commented on #2988
@a-b-r-o-w-n Thanks! I will update the [define triggers](https://docs.microsoft.com/en-us/composer/how-to-define-triggers) article tonight. Will let you know if I have further questions!

[2020-05-13 23:52] a-b-r-o-w-n commented on #2988
Sorry for the late changes!

[2020-05-13 23:53] zxyanliu commented on #2988
That's fine. No worries. : -) Thanks for the update!

[2020-05-13 23:55] a-b-r-o-w-n commented on #3032
Hello @michielpr, you should be able to scroll in the list where it says "Applications" and "Library". To navigate to another folder, just click on the folder name in that list. We will consider ways to improve this experience, but hope this helps in the meantime!

[2020-05-13 23:59] #2896 closed

[2020-05-14 00:00] #3020 closed

[2020-05-14 00:00] #2920 closed

[2020-05-14 00:01] #2824 closed

[2020-05-14 01:43] Stevenic opened #3039 ".gitignore for an ejected C# runtime needs updating"
## Describe the bug
When you eject your C# runtime it includes several `.gitignore` files for Azure Functions, Azure Web Apps, and Core. The Azure Web App and Core `.gitignore` files are overly thin and you'll end up checking in your runtimes `obj` & `bin` folders which means you're checking in binaries which could trigger a security alert.  These files should all be updated to follow best practic

[2020-05-14 02:41] DingmaomaoBJTU opened #3040 "Empty page shown on right side when click the empty part of flow page"
## Describe the bug

![image](https://user-images.githubusercontent.com/16643193/81886366-19181900-95cf-11ea-954e-ed529f7f9155.png)
Empty page shown on right side when click like this in onCustomEvent trigger

## Version

## Browser

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2

[2020-05-14 02:57] #3040 closed

[2020-05-14 02:58] DingmaomaoBJTU commented on #3040
Not valid due to schema change~

[2020-05-14 03:07] boydc2014 opened #3041 "Server side process management for running bots"
Create this to track the backend, ie server side work to manage running bots to better help testing, debugging, trouble shooting.

The deliverable could be a set of server API that allows to inspect, start, stop certain bot instance(s).

Not include any UX work here.

[2020-05-14 04:09] ryanlengel opened #3042 "Adding an action to connect to skill errors: SkillDialog not registered in factory"
## Describe the bug
When I add an action to connect to a skill, my bot throws a 500 error for:
[code]

This leaves me unable to send anything to the bot.

## Version

https://github.com/microsoft/BotFramework-Composer/commit/652868ab95e779eb9b9fa8c399626dd35f4ebfc0
Runtime SDK v4.9.0

## Browser
- [x] Edge

## OS
- [x] Windows

## To Reproduce
1. Add a Skill manifest.
2. Add a new dialog with an a

[2020-05-14 06:53] VanyLaw commented on #3035
Fix in https://github.com/microsoft/BotFramework-Composer/pull/3029
you can choose the location to create reources in provision script, like` --location westeurope`
then after provision, you can copy the result into add profile dialog and set your own language for luis build, like
[code]
but please make sure the language is valid in your reources location. (According to luis specification)

[2020-05-14 07:52] boydc2014 commented on #2972
Sorry for not following up this quickly,  i saw this is closed,

Our previous our default path is /Users/{username}/Documents/Composer, and now we updated to /User/{username}, which i don't think it's the stardard, @cwhitten @tomlm .

From what i know, most application write to /Users/{username}/Documents/{appId} like VS, and Github desktop, IIS, and so on, for example
![image](https://user-images

[2020-05-14 08:32] hibrenda commented on #3035
@EPinci Multi-lang support is on the roadmap. However you can publish luis to different region.
![image](https://user-images.githubusercontent.com/43408889/81911510-00742700-9600-11ea-9fb1-e28392aab3f8.png)
For local host bot, you can specify "westeurope" and "australiaeast" in settings. As @VanyLaw mentioned above, you need to specify the location as well if you will deploy and publish the bot to

[2020-05-14 08:37] EPinci commented on #3035
Ehm, apologies, I must have mixed thigs up in here.

In this bug I'm talking about "dialog locale". Language generation creates "en-us" resources only and I cannot change this. Once I deploy my bot in a non english locale, I get an error like "language generator not found".

How do I change the locale of the dialog resources?

Thank you.

[2020-05-14 08:50] luhan2017 opened #3046 "Group MicrosoftAppId and MicrosoftPassword together in the settings page"
## Describe the bug

The settings page looks like this right now, it's not convenient to update the MicrosoftAppId and MicrosoftPassword. We'd better group them together.

{
  "feature": {
    "UseTranscriptLoggerMiddleware": false,
    "UseShowTypingMiddleware": false,
    "UseInspectionMiddleware": false,
    "UseCosmosDbPersistentStorage": false
  },
  "MicrosoftAppId": "",
  "luis": {
    "nam

[2020-05-14 08:54] hibrenda commented on #3035
So far this can not be done automatically. this is on the roadmap. we will support it later.

[2020-05-14 08:55] hibrenda commented on #3034
Fix in #3029 for different luis region publish but can not specify with other language.

[2020-05-14 08:56] hibrenda commented on #3034
could I close it as more comments in #3035

[2020-05-14 08:59] EPinci commented on #3035
I see, thank you.

In the runtime, you explicitly set defaultLocale to "en-us", that impacts dates and decimals processing.
If I set it to something else, is there a way to tell bot framework to serve "en-us" regardless of the requested locale? (Assuming this makes any sense...)

[2020-05-14 09:00] EPinci commented on #3034
Yes, let's close this. Thank you! :)

[2020-05-14 09:00] #3034 closed

[2020-05-14 09:05] hibrenda commented on #3035
@boydc2014  do you have more comments ?

[2020-05-14 09:08] EPinci commented on #3035
WRT LUIS publishing: If I manually change the authoringRegion, I can see that Composer publishes the model fine but when I test the bot with composer and emulator, the model doesn't work (aka: emulator hangs in there for a while).

[2020-05-14 09:33] hibrenda opened #3047 "can not open a bot if manifest url is invalid"
- create a consumer bot
- create a skill connection and skillbot hosted in local as following
![image](https://user-images.githubusercontent.com/43408889/81918140-b04d9280-9608-11ea-9a16-0570fde9618c.png)
- shut down composer
- restart composer
- open consumer bot will hit following error
- bot can not be opened

![image](https://user-images.githubusercontent.com/43408889/81917810-3f0ddf80-9608-11

[2020-05-14 09:47] DingmaomaoBJTU opened #3048 "Composer bot history dup and out of order"
## Describe the bug

![image](https://user-images.githubusercontent.com/16643193/81919901-015e8600-960b-11ea-8c57-6aac5d0015ac.png)

## Version

## Browser

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

[2020-05-14 09:58] hibrenda commented on #3035
which authoringRegion ? supported region listed in https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-regions

[2020-05-14 10:02] EPinci commented on #3035
westeurope

Authoring/publishing appears to works fine.
Using it... not so much.

[2020-05-14 10:05] hibrenda commented on #3035
I could not reproduce as I test it in westeurope.

[2020-05-14 10:07] boydc2014 commented on #3047
The expected behavior should be this error should not block opening.

[2020-05-14 10:17] xieofxie commented on #3024
The authoring TPS is 5 per second(https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-limits) and it will be easy to meet if multiple people are using the same key at the same time.

I think we should simply catch 429(https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-reference-response-codes) and redo the failed operation after 1 second to fix this.

[2020-05-14 14:46] liweitian commented on #2974
The functionality is done waiting for review. Let me know if the UI is finalized. We need a checkbox right?

[2020-05-14 14:57] cwhitten commented on #3039
https://github.com/microsoft/BotFramework-Composer/pull/3043

[2020-05-14 14:57] #3039 closed

[2020-05-14 15:29] DesignPolice commented on #2974
Thanks @liweitian I will get with @beyackle today and get you a mock-up or we will fix it... thanks so much for all the hours! M

[2020-05-14 15:37] cwhitten commented on #3028
https://github.com/microsoft/BotFramework-Composer/pull/3051

[2020-05-14 15:37] #3028 closed

[2020-05-14 15:53] beyackle commented on #2974
Yeah, the functionality there looks exactly like what I had in mind (given that the box starts unchecked). It needs a design mockup, which I think @DesignPolice is already on.

[2020-05-14 15:56] cwhitten commented on #3037
https://github.com/microsoft/BotFramework-Composer/pull/3038

[2020-05-14 15:56] #3037 closed

[2020-05-14 16:00] cwhitten commented on #2974
@beyackle can you go ahead and take this over once Marc gets the design mock to you?

[2020-05-14 16:34] cwhitten commented on #3047
https://github.com/microsoft/BotFramework-Composer/pull/3050

[2020-05-14 16:34] #3047 closed

[2020-05-14 16:38] #3042 closed

[2020-05-14 17:31] tonyanziano opened #3053 "Publish targets missing in packaged Composer Electron"
If you try to add a new publish profile, the dropdown does not contain any options for publish targets (should be Azure Functions / Web App).

This only occurs in the packaged Composer Electron app and not in the development app.

[2020-05-14 17:35] Stevenic opened #3054 "Tooltips for sidebar tabs"
When you hover over the tabs in the left sidebar there's no tooltip so you have to click on each tab to see what it is. Minor nit but tooltips would be nice.

[2020-05-14 17:59] beyackle opened #3056 "Link to .NET SDK leads to the same window, breaking Electron Composer"
## Describe the bug

Following the links to download the .NET Core SDK, needed to run a bot, brings the page up in the same Electron window as Composer is running in with no way to return to the app.

## Version

0.0.3 desktop

## To Reproduce

Steps to reproduce the behavior:

1. Make sure `dotnet` is not installed
2. Click "Start Bot"
3. Click the installation link
4. Try to get back to the app

[2020-05-14 18:33] beyackle commented on #3056
I'm not sure this is as simple as just adding `target="_blank"` to the links. Electron has a whole different way to spawn new browser windows.

[2020-05-14 19:10] DesignPolice commented on #2974
@beyackle here you go.. the only change I made was to the modal - Should we make the toolbar button say Delete Bot? @mareekuh @cwhitten - not a strong opinion, but if I'm scanning the page there are lots of things that might be deletable

here is the Figma:
https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-master-design-spec-UI-library?node-id=2193%3A1035

![Screen Shot 2020-05-14 at 12

[2020-05-14 23:55] #3056 closed

[2020-05-15 00:19] #2573 closed

[2020-05-15 01:40] #3053 closed

[2020-05-15 01:43] cwhitten commented on #3005
Transferring to `botbuilder-dotnet`

[2020-05-15 01:44] #2987 closed

[2020-05-15 01:46] cwhitten commented on #2989
Closing with the assumption that this was a appid/password issue. Please re-open if assistance is still needed.

[2020-05-15 01:46] #2989 closed

[2020-05-15 02:01] feich-ms commented on #3024
We already used some mechanism to control the concurrency in order to fully use the 5 TPS capability. But the client seems not always synced with the server side or multiple users are consuming the same authoringKey at the same time, so users may sometimes run into this problem. Like @xieofxie said, one more optimization may be retry. I will have a fix soon.

[2020-05-15 02:02] zxyanliu opened #3063 "A package reference version inconsistent issue - custom action"
Describe the bug

Actually @luhan2017 found this issue when she helped me test the **custom action** feature, and it is a recent change.
@srinaath Thanks for your effort on this as well. : )

When testing **custom action**, after eject runtime, the package reference version of the `Microsoft.BotFramework.Composer.CustomAction.csproj` file in the custom action folder shows "4.9.0-rc4", which is inc

[2020-05-15 02:52] srinaath commented on #3063
thanks for spotting and creating this ticket @zxyanliu

[2020-05-15 03:32] hibrenda commented on #2286
@lei9444 be aware of the lu content for luis publish.

[2020-05-15 04:51] yeze322 opened #3065 "Change the theme color of custom action nodes"
## Describe the bug
From a grey node to Gray20
![image](https://user-images.githubusercontent.com/8528761/82012517-c4e26700-96aa-11ea-858a-aca8f182b92f.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See er

[2020-05-15 05:11] zhixzhan opened #3068 "cache won't clean after a bot is opened"
## Describe the bug

Introduced by #2786 , server cache cause composer not sync with local file system's bot file

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

[2020-05-15 05:31] liweitian commented on #3048
Opening a bot will move the bot to the first place of the recent bot list. It does not change the data modification time.

[2020-05-15 08:24] yeze322 opened #3070 "Cannot edit dialog properties, always jump to 'dialog started' trigger"
## Describe the bug
![bug-cannot-focusdialog](https://user-images.githubusercontent.com/8528761/82028599-717f1180-96c8-11ea-828f-8b3e9b273691.gif)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Ex

[2020-05-15 08:54] zhixzhan opened #3071 "editing Luis intent mess up the file"
## Describe the bug

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

![Untitled2](https://user-images.githubusercontent.com/49866537/82031503-8fe70c00-96cc-11ea-84

[2020-05-15 08:55] zhixzhan commented on #3071
Seems text below `[]` not counted in `#hi`

[2020-05-15 09:10] hibrenda commented on #3070
mitigation method: delete the begin dialog.

[2020-05-15 10:33] darrenj opened #3072 "SendActivity actions with structured activity responses show as empty on canvas"
## Describe the bug

When a Send Activity action is configured with a structured activity response (LG) it shows as empty on canvas leading to the user mistakenly thinking no response is set.

![image](https://user-images.githubusercontent.com/33519520/82041147-9f9c2b80-969f-11ea-9599-79c5bebe5986.png)

![image](https://user-images.githubusercontent.com/33519520/82041231-bf335400-969f-11ea-9173-ef

[2020-05-15 10:34] yeze322 commented on #3072
I will pick this item Darren

[2020-05-15 10:36] yeze322 commented on #3072
Nothing displayed because of `SuggestedActions` is not recognized by canvas

[2020-05-15 11:22] cxbuilders opened #3074 "Bot changes do not get saved"
Nothing gets saved anymore.
- Fresh install of Composer
- Create a new Echo bot (I have custom location)
- Change text in the Send A response Component in Greeting Trigger
- Add a send response component with some text
- Re-open bot
- Changes are gone

## Version

6cd92ee2

[2020-05-15 13:03] cxbuilders opened #3075 "provisionComposer script fails"
## Describe the bug

provisionComposer fails as it picks the wrong TenantId in the script. This is introduced in #2964

The getTenantId function is not correct. It just gets the first tenant out of the list and uses that, whilst I need my default one. This then fails as I have multiple tenants. The token from the call creds.getToken on line 346 already contains the correct tenantId (I guess that's

[2020-05-15 14:26] UmPrel opened #3077 "HandOff to Human Agent From Bot Framework Composer"
## Human HandOff from Bot Framework Composer
We are trying to configure the human agent handoff from Bot Framework Composer, i could see there is an activity available, but would like to know if there is a skill/feature available to take it forward. Or is there a way to add omni channel for customer service into Composer.

Please help.

[2020-05-15 14:52] cwhitten commented on #3065
https://github.com/microsoft/BotFramework-Composer/pull/3066

[2020-05-15 14:52] #3065 closed

[2020-05-15 15:24] cwhitten commented on #3068
https://github.com/microsoft/BotFramework-Composer/pull/3067

[2020-05-15 15:24] #3068 closed

[2020-05-15 15:44] benbrown opened #3080 "Provision script does not use provided luis authoring key or region"
## Describe the bug

These values are specified as parameters, but are not actually applied to the provisioning process.

Do we need to apply these to the ARM template? Or should we remove them from the script?

See here:
https://github.com/microsoft/BotFramework-Composer/blob/master/Composer/plugins/samples/assets/shared/scripts/provisionComposer.js#L88

## Expected behavior

If specified, these

[2020-05-15 15:45] yeze322 commented on #3072
addressed in #3073
![image](https://user-images.githubusercontent.com/8528761/82069523-02281280-9706-11ea-81d2-36d1e860722d.png)

[2020-05-15 15:46] cwhitten commented on #3072
Thank you @yeze322

[2020-05-15 16:30] tonyanziano opened #3083 "feat: Add custom graphics to Electron installers"
The current Windows and Mac (.dmg) installers use the default graphics. These graphics should be updated with Composer branding.

[2020-05-15 16:35] benbrown commented on #3075
Thanks for the info, @cxbuilders.  I am about to open a PR to resolve this.

* Will use the tenantId from the creds
* Will allow you to specify one as a parameter

Thanks!

[2020-05-15 16:43] benbrown commented on #3077
There is not a currently available skill that implements all the features necessary for human handoff. You can send the necessary activities, but your bot must implement the actual features required.

[2020-05-15 16:56] beyackle commented on #2092
@zxyanliu I found this, which looks like it'd be a good basis for one: https://github.com/Microsoft/monaco-editor/wiki/Monaco-Editor-Accessibility-Guide

[2020-05-15 16:57] goergenj commented on #3035
I have "defaultLanguage": "de-de" in the appsettings and "language": "de-de" in the publish profile.
LUIS Apps are still always created with "en-us". This needs to be fixed urgently.
Also there is not way to specifiy the Bot language or change it asfaik. It is always "en-us". Can this be changed? Is this realted to the LUIS Apps always being created as "en-us"?

[2020-05-15 17:01] #3070 closed

[2020-05-15 17:18] cwhitten commented on #3072
https://github.com/microsoft/BotFramework-Composer/pull/3073

[2020-05-15 17:18] #3072 closed

[2020-05-15 17:33] #3063 closed

[2020-05-15 17:39] Stevenic opened #3085 "Reword Unknown Intent description"
I would propose rewording the description below to: "Action to perform when user input is unrecognized **OR** if none of the 'on intent recognition' triggers match recognized intent."

![image](https://user-images.githubusercontent.com/698939/82079561-e423c900-9697-11ea-9676-ce71b7a23561.png)

The reason for that is that the users input may have been recognized but none of the triggers fired.

[2020-05-15 17:47] cwhitten commented on #3074
@cxbuilders we cannot reproduce this.

[2020-05-15 18:14] Stevenic opened #3086 "feature: Share intent & entity definitions across triggers."
## Is your feature request related to a problem? Please describe.

I don't see a way that I can currently have two different triggers that share the same intent & entity definitions. I have to essentially create a new intent for every trigger.

There are lots of reasons for wanting to do this. I might want to add conditional expressions to trigger slightly different flows.

[2020-05-15 18:42] ryanlengel opened #3087 "Publishing flow inconsistently provides detailed error log"
## Describe the bug
I've had a series of publishing attempts without enough error output to understand what needs to be fixed. The log provided does not show enough of what is going on, it only shows messages regarding DEPLOY_INFO. After investigating in source it turns out that I hit a LUIS publishing issue, however this exception is not bubbled up in the logs available in UI,

### Various publis

[2020-05-15 19:00] Stevenic opened #3088 "feature: Add "None" intent to UserInput screen"
## Is your feature request related to a problem? Please describe.

There's currently no way to train a "None" intent for your bot via composer. As an example... I added a new "START_TIMER" intent to my bot and LUIS currently maps utterance like "hello" to that intent. To fix this issue you need to train your bots "None" intent but there's no way I can find to do that short of adding a trigger for

[2020-05-15 19:04] beyackle commented on #2974
@DesignPolice How does this look to you?

![image](https://user-images.githubusercontent.com/61990921/82087020-30750600-96a4-11ea-8425-ee7b590ce156.png)

[2020-05-15 19:19] cwhitten commented on #3083
https://github.com/microsoft/BotFramework-Composer/pull/3082

[2020-05-15 19:19] #3083 closed

[2020-05-15 19:20] mareekuh commented on #2974
(-: loud and clear

From: Ben Yackley <notifications@github.com>
Date: Friday, May 15, 2020 at 12:06 PM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Marieke Iwema <mariekei@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [microsoft/BotFramework-Composer] I can't delete a bot. (#2974)

@DesignPolice<https://nam06.safelinks.protection.outlook.c

[2020-05-15 19:23] Stevenic opened #3091 "feature: Allow multiple instances of composer"
## Is your feature request related to a problem? Please describe.

You currently can only open a single instance of composer. This makes copying from samples to your bot difficult.

[2020-05-15 19:42] DesignPolice commented on #2974
Awesome.

This is goofy, but can we shorten the text limit a little bit to get "Going" to drop down to the next line and hopefully get another word to the bottom.. so we don't have folder alone?

If not - push it -

thanks!

[2020-05-15 19:48] beyackle commented on #2974
@DesignPolice

![image](https://user-images.githubusercontent.com/61990921/82090415-69b07480-96aa-11ea-84e9-5945eacb5ad9.png)

[2020-05-15 19:50] DesignPolice commented on #2974
Wooot!

just the little stuff, appreciate the help - IPAs on me - ship it!

[2020-05-15 21:22] benbrown opened #3093 "Provision script should enable app insights for luis and web app"
When a bot is configured via the Azure portal, it configures app insights on the web app and LUIS instance.

Our current provision process does not configure these settings.

If possible, we should make it so that a bot provisioned via Composer is configured in the same way it would be if done via the portal.

[2020-05-15 21:38] benbrown opened #3094 "Composer should attempt retries if it receives rate limiting response from LUIS"
With large LUIS models, Composer may receive 429 errors from the LUIS API if too many calls are made too quickly.

We should implement a retry / backoff feature so that Composer can gracefully handle these and still make sure the publish completes.

[2020-05-15 21:40] Stevenic commented on #3094
It doesn't even have to be a large model. The Free Tier is rate limited to 5 request/second so you can easily hit this with even small models.

Related issue #3024

[2020-05-15 21:43] Stevenic commented on #3024
@xieofxie the retry approach seems correct to me but if the same error occurs on the retry logic make sure you let the error go through.  You don't want to contribute to a DoS attack.

[2020-05-15 23:31] tomlm opened #3097 "Please make sure you can't create a bot in the root of the hard drive."
## Describe the bug
Now that we have Bot Delete it is very important that we don't allow you to create a bot in the root because deleting the bot will delete your harddrive.

I made this mistake with software I shipped 20 years ago.  I want to make sure you don't make the same mistake.

[2020-05-16 00:42] Stevenic opened #3099 "Cant publish bot to azure"
## Describe the bug

After provisioning my bot using the provision script I past the JSON into the add profile screen and it looks correct. I then try to publish but get a 400 error saying that an object can't be parsed. Pressing "edit" results in the profile below being shown:

[code]

It looks like a name change was made but we missed a spot or two.

## Version

0.0.4

## Browser

- [ ] Chrome
-

[2020-05-16 01:25] cwhitten commented on #3097
We did not make this same mistake.

![Screen Shot 2020-05-15 at 6 25 37 PM](https://user-images.githubusercontent.com/1156704/82107022-7e583100-96d9-11ea-87ad-5fbdc55ff7b6.png)

[2020-05-16 01:25] #3097 closed

[2020-05-16 01:37] #2974 closed

[2020-05-16 03:43] boydc2014 opened #3101 "Add loading indicator when open bot"
Open a bot may take sometimes to load, and feels weird when waiting because the UI don't show anything, adding a indicator will avoid confusing

![image](https://user-images.githubusercontent.com/3829387/82109665-641a6380-976a-11ea-99f9-aae5724f410e.png)

i mean after clicking ToDoLuis samples, there should be some spinner and block me from typing a gain.

[2020-05-16 14:42] cwhitten commented on #3099
Addressed offline with an out of date version of the provisioning scripts

[2020-05-16 14:42] #3099 closed

[2020-05-16 16:55] vidyakdil commented on #2618
@vishwacsena @Danieladu , that was really helpful. We followed the second way as our requirement was to render generic templates and web view in facebook channel.I was able to achieve this by posting the channel data as mentioned

[2020-05-16 17:03] #2618 closed

[2020-05-16 17:05] vidyakdil commented on #2618
@vishwacsena @Danieladu , that was really helpful. We followed the second way as our requirement was to render generic templates and web view in facebook channel.I was able to achieve this by posting the channel data as mentioned below.
`#messageBody()
[Activity
        ChannelData=@{json(channelData())}
]

#channelData()
-```
{
  "attachment": {
    "type": "template",
    "payload": {
      "tem

[2020-05-16 18:40] EPinci opened #3102 "Composer should upgrade provisioning scripts on version upgrade"
## Describe the bug

If a bot is created with a certain version of the BotComposer and an update for BotComposer comes thru, the provisioning scripts never get upgraded.

## Version

v1.0.0

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [X] Electron

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

[2020-05-16 18:45] Stevenic opened #3103 "BeginDialog.Property needs better example"
## Is your feature request related to a problem? Please describe.

The example for the `Property` field below is bad because we're expecting a property path not prompt text as in the example.

![image](https://user-images.githubusercontent.com/698939/82127696-75fc0680-976a-11ea-838f-86899aea7f88.png)

[2020-05-16 18:45] Stevenic opened #3565 "form: improve example resolution"
Currently, Composer uses the leaf node of the schema to get the placeholder. This isn't useful if a property defines its own `examples` but also includes a $ref with `examples`. We should prefer the `examples` on the property schema and fallback to the $ref's `examples` if there are none defined.

## Is your feature request related to a problem? Please describe.

The example for the `Property` fie

[2020-05-16 18:46] EPinci commented on #3035
A version upgrade and a few restarts later, I was able to have LUIS work in westeurope.

The inability to create a locale specific model, however, is blocking me to use Composer: as much as I can temporarily workaround the bot locale, with LUIS the scoring is different and the language specific entities (dates, etc...) are useless.

Is there a tentative ETA to have international locale support or,

[2020-05-16 21:36] tomlm commented on #2977
much better!

[2020-05-16 21:38] tomlm commented on #2976
BTW: The reason I am pushing to be clear about Add/Create, or Add/New semantics is that Add is about reusing an existing defined asset, and New is about defining that asset. Thanks!

[2020-05-16 21:39] tomlm commented on #2973
Oh, that's possible, could be an old turd :)

[2020-05-16 21:40] Stevenic opened #3104 "feature: add middleware to remove @mentions for MSTeams"
## Is your feature request related to a problem? Please describe.

Messages from MS Teams include an @mention of the bots name at the beginning of every message.  This generally needs to be stripped off using `ActivityExtensions.RemoveRecipientMention()` otherwise `TextInput` actions will include it as part of the users response. I ejected my host and customized my `OnTurnAsync()` implementation t

[2020-05-16 21:56] Stevenic opened #3105 "Projects appsettings.json file checked in by default"
## Describe the bug

There's no `.gitignore` file added to the root of new composer projects. This results in the projects `appsettings.json` being checked in by default.  That file can contain access tokens and authoring keys which makes checking it in a security risk. We should add a default `.gitignore` file to the root of the project that prevents this file from being checked in.

## Version
1

[2020-05-16 22:34] tomlm commented on #2978
Marieke, I don' understand this statement:

We agreed that to use the term Trigger for the rule which has a flow in it.  But:

**Triggers and events are not the same thing.**

A **trigger** is a rule which reacts in response to something happening and the reaction is defined in terms of actions in a flow.

The dialog system fires **events** at multiple places as a turn is processed and triggers ar

[2020-05-17 00:47] Stevenic opened #3106 "feature: add app password field to skills screen"
## Is your feature request related to a problem? Please describe.

Adding skills to your bot requires you enter your bots App ID which gets written to the bot settings file for the project.  The moment you fill in that setting you're required to also fill in the App Password field. If you don't you won't be able to test your bot in the emulator.

The upshot is that if you fill out this screen the

[2020-05-17 01:37] Stevenic opened #3107 "Unable to open bot error"
## Describe the bug

Twice today I've hit the error below. I haven't worked out yet what causes it. I have really simple bots at this point but I am jumping back and forth between them. The actual error is an extra '}' at the end of the projects `appsettings.json` file. Removing this character fixes the issue...

![image](https://user-images.githubusercontent.com/698939/82133658-8ed4de00-97a3-11ea

[2020-05-17 04:29] mareekuh commented on #2978
Hey Tom
Yes, I understand the difference between trigger, event and activity. The below is indeed the issue I’m dealing with:

“ALL triggers could be modeled as single trigger type of OnDialogEvent() but that would mean we would have to educate people on the appropriate name and constraints for the various types of events to trigger off of”

In the previous implementation, the user had to select ‘

[2020-05-17 09:28] VanyLaw commented on #3080
Hi @benbrown, we don't need luisKey and Region in provision script, the region is the same as other resources set in --location. I remove those in https://github.com/microsoft/BotFramework-Composer/pull/3108

[2020-05-17 10:16] cxbuilders commented on #3074
@cwhitten Stange, just tested with 31ff30ba and all is ok. CLosing this now.

[2020-05-17 10:55] cxbuilders opened #3109 "Restart Bot gives error"
## Describe the bug

Every time when I restart the bot it gives the error below:
![image](https://user-images.githubusercontent.com/49873947/82142548-74e7d980-983d-11ea-8596-da3f79f669a4.png)

It seems that the folder generated is not yet fully gone, when it tries to recreate it.  When I delete the folder myself before restarting the bot it works fine. Also When clicking try again and you get the

[2020-05-17 10:57] cxbuilders commented on #3074
@cwhitten It is an intermittent problem, just had it again. Will try to see if I can pinpoint it when it happens next time. Will update once I have more info

[2020-05-17 15:35] a-b-r-o-w-n opened #3110 "deleting a bot should clean up client state"
## Describe the bug

After deleting a bot, the client state still holds a reference to the project so when on the home screen, the deleted project still appears in the recent projects list as well as impacts bot creation (i.e. appending a number to the bot name)

[2020-05-17 15:58] KoradaRajesh opened #3111 "Dynamically passing json to channelData"
I have store Generic template json in property and I was trying to assign that property value to ChannelData inorder to render the gengeric tempale in facebook channel but it not getting rendered.
@vishwacsena  can you look into it.
![Screenshot (50)](https://user-images.githubusercontent.com/51915291/82153520-94a2f000-9885-11ea-9593-3989186589eb.png)

[2020-05-17 16:04] KoradaRajesh opened #3112 "Unable to convert object to json and pass to Http body"
Http body accepting only json but I'm unable to convert the object to json and pass in to it.

[2020-05-17 16:14] cwhitten commented on #3109
@cxbuilders if you ran Composer as an administrator does the error still occur?

[2020-05-17 16:18] #664 closed

[2020-05-17 16:19] #851 closed

[2020-05-17 16:20] #974 closed

[2020-05-17 16:20] #919 closed

[2020-05-17 16:20] #1041 closed

[2020-05-17 16:21] #1079 closed

[2020-05-17 16:22] #1319 closed

[2020-05-17 16:22] #1368 closed

[2020-05-17 16:23] cwhitten commented on #1523
Closing as a duplicate

[2020-05-17 16:23] #1523 closed

[2020-05-17 16:24] #1543 closed

[2020-05-17 16:24] #1633 closed

[2020-05-17 16:24] #1595 closed

[2020-05-17 16:25] #1771 closed

[2020-05-17 16:26] #1772 closed

[2020-05-17 16:27] #1985 closed

[2020-05-17 16:28] #2089 closed

[2020-05-17 16:29] #2321 closed

[2020-05-17 16:30] cwhitten commented on #2392
Closing as duplicate

[2020-05-17 16:30] #2392 closed

[2020-05-17 16:31] cwhitten commented on #2474
@EPinci this is possible by ejecting your runtime and following the instructions in the /schemas directory

[2020-05-17 16:31] #2474 closed

[2020-05-17 16:31] #2504 closed

[2020-05-17 16:31] #2508 closed

[2020-05-17 16:32] cwhitten commented on #2457
This is be design, closing.

[2020-05-17 16:32] #2457 closed

[2020-05-17 16:32] #2519 closed

[2020-05-17 16:35] cwhitten commented on #2602
Addressed in 1.0

[2020-05-17 16:35] #2602 closed

[2020-05-17 16:37] cwhitten commented on #2731
@cosmicshuai closing this issue. please link the appopriate SDK ticket

[2020-05-17 16:37] #2731 closed

[2020-05-17 16:38] #2767 closed

[2020-05-17 16:39] cwhitten commented on #2827
Transferring to SDK/expressions project for tracking

[2020-05-17 16:41] cwhitten commented on #2857
tracking here: https://github.com/microsoft/BotFramework-Composer/issues/1361

closing this as a duplicate

[2020-05-17 16:41] #2857 closed

[2020-05-17 16:42] #2973 closed

[2020-05-17 16:43] cwhitten commented on #2928
Taking an R10 item to visit this.

[2020-05-17 16:43] #2993 closed

[2020-05-17 16:46] cwhitten commented on #3035
this is tracked here: https://github.com/microsoft/BotFramework-Composer/issues/1726

closing as a duplicate.

[2020-05-17 16:46] #3035 closed

[2020-05-17 16:46] #2876 closed

[2020-05-17 16:46] cwhitten commented on #2876
Closing as a how-to. @nvikey please use stack overflow for these types of questions. Thank you!

[2020-05-17 16:48] #3032 closed

[2020-05-17 16:48] #3048 closed

[2020-05-17 16:51] #2840 closed

[2020-05-17 16:54] cwhitten commented on #2975
This is tracked here:https://github.com/microsoft/BotFramework-Composer/issues/1741

closing as a duplicate

[2020-05-17 16:54] #2975 closed

[2020-05-17 20:40] mareekuh commented on #1307
I don't think you can close this as this remains an ongoing issue.
The copy live in multiple places in the SDK, in the schema, UX schema and UI, which is leading to insistences in the app itself, between app and SDK and app and documentation.
We need a away to extract, updated and review the copy in a more manageable manner than having to go the various individuals that each own the different elem

[2020-05-18 00:17] Stevenic opened #3113 "feature: add a new ExpectReplies property to BeginSkill action"
## Is your feature request related to a problem? Please describe.

BeginSkill currently invokes skills in a way that requires the skill POST all replies back to the bot via a separate HTTPS request. This is not only in-efficient it also makes testing a skill cumbersome.  The underlying SkillDialog supports a more efficient mode of skill communication where the invoked skill will buffer all of its

[2020-05-18 03:28] hibrenda commented on #3075
addressed in #3084

[2020-05-18 03:28] #3075 closed

[2020-05-18 03:48] hibrenda opened #3114 "azure-function deployment need to take care luis resource"
- create a bot with luis in composer
- provision to azure based on azure-function template
- deploy with azure-function
- run in emulator hit luis not found issues
![image](https://user-images.githubusercontent.com/43408889/82172625-4d584600-98fd-11ea-9688-2419c1391413.png)

[2020-05-18 05:38] cxbuilders commented on #3109
@cwhitten Just tried, no difference. It does not happen with eg the echo-bot, only with bots that are more substantial in their dialogs.

[2020-05-18 06:09] hibrenda commented on #3109
similar to this https://github.com/microsoft/BotFramework-Composer/issues/3017 . But I could not repro it now.

[2020-05-18 06:26] cxbuilders opened #3115 "How to halt conversation after HeroCards so user can select a card?"
When displaying HeroCards with a messageBack button for users to select an option, I do not see any way to halt the conversation and wait for the user to click on any of the HeroCards?

[2020-05-18 06:35] goergenj commented on #3093
Adding detail on what's missing:
- On AppInsights an API-Key need to be created to read the telemetry from the Bot Service.
- On Bot Service add AppInsights settings on the "settings" page.
- On Bot WebApp activate AppInsights and configure to use the same AppInsights instance as the Bot Services.

Yes, it should be the same experience as when creating a "Web App Bot" via the Azure Portal.

[2020-05-18 06:36] boydc2014 commented on #3109
@cxbuilders are you also openning your bot with VSCode? there is a lot of issues that VSCode is locking files and folder like https://github.com/microsoft/vscode/issues/81224, or if we search VSCode locking files in search engine

[2020-05-18 07:03] boydc2014 commented on #3109
@liweitian can you help check if this related to several permission issues you saw before?

[2020-05-18 07:07] cxbuilders commented on #3109
@boydc2014 I sometimes do, but that was one of the first things I closed as I suspected that was the issue. After it was closed (restarted composer etc), it still happens.

[2020-05-18 07:24] hibrenda commented on #3115
@cxbuilders could you share more detail for the HeroCards and how you test the cards?
In samples - RespondingWithCardSample,  if you tested the HeroCards sample in emulator, the conversation will wait for user select.

[2020-05-18 08:27] VanyLaw commented on #3114
@zidaneymar will help to check this issue.

[2020-05-18 08:43] liweitian commented on #3109
@cxbuilders I cannot repro this on my side. I checked the code and think you are correct. It failed to remove the generated folder before recreating it. So It would be helpful if you can share the bot folder with me. Can you attach your bot here?

[2020-05-18 09:55] cxbuilders opened #3116 "Set Property Array gets converted to Object"
## Describe the bug

When setting a property to an array it already starts with object brackets in the Value field and it shows Incorrect type, expecting array. Then when you enter an array like ["blue", "red", "yellow"] and you click away and back again it has transformed it to an object:

What I entered:
![image](https://user-images.githubusercontent.com/49873947/82199773-7200ed80-98fe-11ea-98c0

[2020-05-18 10:08] cxbuilders commented on #3115
@hibrenda Thanks that works, however in this situation the HeroCard in combination with the End dialog turn is actually an ask a question type of functionality. For me it triggers Luis and jumps dialog there. In each ask a question component it is possible to set Allow Interuptions to true. For HeroCards this should also be possible

[2020-05-18 10:16] liweitian commented on #3109
@cxbuilders I tried on my side, but can only reproduce this only once.(start bot and restart bot)
 I think this issue is bot related. And I think you are correct. Due to some reasons, the generated folder is not fully deleted. Can you share your bot with me and the operations you did to reproduce  the issue.

[2020-05-18 11:12] cxbuilders commented on #3115
Nevermind, got it working by using displayText and keep text empty;
[CardAction
    type = ${if(type == null, 'imBack', type)}
    title = ${title}
    value = ${value}
    text = null
    displayText = ${title}
]

[2020-05-18 11:12] #3115 closed

[2020-05-18 11:44] hibrenda commented on #3111
@KoradaRajesh  Maybe you can reference following ?
https://github.com/microsoft/BotFramework-Composer/issues/2549#issuecomment-611442549

[2020-05-18 11:53] hibrenda commented on #3112
Maybe you can define the json format in body directly.
eg.
[code]
or Assume dialog.a is an object (this will dynamically set body content)

[code]
or you can directly define it in body with string and specified the content type. reference https://github.com/microsoft/BotFramework-Composer/issues/1829#issuecomment-625608050

[2020-05-18 12:07] hibrenda commented on #3107
I can reproduce it but not always hit this error.  @liweitian maybe you can take a look. I just send you the bot files.

[2020-05-18 12:09] hibrenda commented on #3106
@mareekuh @sangwoohaan need your comments

[2020-05-18 12:38] hibrenda commented on #3102
@EPinci Thanks for the feedback. similar to this https://github.com/microsoft/BotFramework-Composer/issues/2625 . we need to add the version management for runtime/script/schema and so on.

[2020-05-18 13:56] liweitian opened #3120 "Bot name should not be used as the localstorage key"
BotName is not unique. We can use project Id instead,

[2020-05-18 16:39] #3110 closed

[2020-05-18 17:34] DesignPolice commented on #1695
I think the diagram above is what we selected, not sure if it was built. May need to remove some arrowheads based on what Sangwoo was seeing.

https://www.figma.com/file/Ux0vucOvaLL2xH22WpFgV65X/MarcB_Composer-UI?node-id=4308%3A87

[2020-05-18 19:22] #3116 closed

[2020-05-18 19:43] beyackle commented on #2033
Okay, in this issue as written there is still one repro-able bug, and that is that the column beneath "Filter Dialog" is not navigable with the arrow keys, just with Tab. I'll take that on.

[2020-05-18 19:52] beyackle commented on #2033
And now that I look at it again, PR #2914 will address that exact issue.

[2020-05-18 20:35] DesignPolice commented on #2088
just going through everything assigned to me... Do we to look at this again in R10?

[2020-05-18 20:38] #3101 closed

[2020-05-18 20:38] beyackle commented on #3000
No repro here either (Win10, Edge)

[2020-05-18 21:33] a-b-r-o-w-n opened #3123 "[test] set up cypress.io account and add badge to readme"

[2020-05-18 21:59] mareekuh commented on #2088
yes I think so (-: Chris included it in the most recent team project review (-:

[2020-05-19 00:22] mareekuh opened #3124 "mac download icon looks funky in the mac dock"
<img width="36" alt="Screen Shot 2020-05-18 at 5 19 59 PM" src="https://user-images.githubusercontent.com/48503434/82271268-2ebd7380-992c-11ea-8f8a-485121c71592.png">

Regular icon looks ok

[2020-05-19 01:41] hibrenda commented on #3088
@mareekuh

[2020-05-19 01:47] hibrenda commented on #3086
@mareekuh

[2020-05-19 01:53] hibrenda commented on #3074
addressed in https://github.com/microsoft/BotFramework-Composer/pull/3117. If you hit again, feel free to reopen.

[2020-05-19 01:53] #3074 closed

[2020-05-19 03:43] xieofxie opened #3126 "when 'show code', it will only show the first dialog"
## Describe the bug

when in 'show code' mode, it will only show the first dialog

## Version

035b8ae96d07ac49da98cb3607c59d461e199f41

## Browser

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. open a project
2. open 'show code'
3. switch dialogs

## Expected behavior

code should change to

[2020-05-19 06:21] cxbuilders commented on #3109
@liweitian I cannot share the code of the bot publicly here. Can I send it to you directly?

[2020-05-19 06:22] #2804 closed

[2020-05-19 06:28] liweitian commented on #3109
@cxbuilders Can you send it to weitli@microsoft.com ? Thx

[2020-05-19 06:40] cxbuilders commented on #3109
one additional thing:
The MeetingSkill main dialog has an issue whereby when you delete a
component it always shows an error message. (it works fine though), this
only happens in the main Dialog.

On Tue, May 19, 2020 at 8:28 AM liweitian <notifications@github.com> wrote:

--

* Bastiaan van der Kooij*
* CX Builders*

* M*: +31 (0) 65354 7010
* W*: cxbuilders.com

[2020-05-19 10:30] luhan2017 opened #3130 "Support customize built-in expressions for LG and AdaptiveExpression"
## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/language-generation/20.extending-with-custom-functions/Bots/CustomFunctionBot.cs
In this sample, we support user to add a custom expression function in code. But if we add this in composer runtime, we can't use

[2020-05-19 13:06] UmPrel commented on #3077
Thanks for your response. Is there any samples available to talk to external engagement hub

[2020-05-19 14:00] cxbuilders commented on #3109
Copied the bot to a not synced folder and there it works fine. Composer is the only tool however that has problems with this. For me this is fine, so closing this now, thanks.

[2020-05-19 14:00] #3109 closed

[2020-05-19 14:28] liweitian commented on #3109
@cxbuilder Thank you for helping testing this. As I said in the email, we probably have different settings on Google Drive. So it causes different blocking issues. If I got time, I can dive into this to check what really happened there. And your questions are always welcomed.

[2020-05-19 14:45] #3126 closed

[2020-05-19 14:50] cwhitten commented on #3124
@mareekuh is that your Downloads icon?

[2020-05-19 19:06] zxyanliu opened #3132 "Pre-defined lg template cannot be changed in EmptyBot sample - electron"
## Describe the bug
The `${WelcomeUser()}` template is pre-defined in the EmptyBot sample and cannot be updated.

## Version
master branch works
electron 1.0.0 does not.

## Browser
- [x] Chrome

## OS
- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create an EmptyBot from template
2. Click on `${WelcomeUser()}` template and update to the following:
Hi! I'm a friendly bot that

[2020-05-19 21:47] #3114 closed

[2020-05-20 00:04] hibrenda commented on #3132
@zxyanliu  I did not reproduce it. maybe it starts on different port so make sure you test it on corresponding localhost:xxxx .

[2020-05-20 00:11] #3132 closed

[2020-05-20 00:11] gabog opened #3133 "Runtime should use IStorage for SkillConversationIdFactory"
I looked at the runtime code for [SkillConversationIdFactory.cs](https://github.com/microsoft/BotFramework-Composer/blob/master/runtime/dotnet/core/SkillConversationIdFactory.cs#L19) and noticed that is currently using a ConcurrentDictionary to store skill conversation references.

This is OK for unit tests but for real bot we should use a version that uses IStorage (there is an example [here](htt

[2020-05-20 00:59] hibrenda opened #3134 "showcode will mess up the dialog content across different dialog"
- create a empty bot
- create a new dialog A
- click show code
- switch between  Main (greeting triggers) and A (begin dialog) dialog, you will see the everything becomes into begin dialog
- but sounds like both a dialog and the wrong begin dialog action are not serialized into disk

https://recordit.co/NSlcuxcReb
![image](https://user-images.githubusercontent.com/43408889/82393044-f2972980-9a77-1

[2020-05-20 01:42] hibrenda commented on #3134
By the way sounds like I hit the thread blocking, so after create the dialog A, this is not written to the disk. so that's why content has not been updated . I create another bot and did not hit thread blocking, so after show code messed the dialog content, all the errors are serialized into disk.

[2020-05-20 01:47] hibrenda opened #3136 "LG parse may mess up the content in lg file"
- create a dialog
- add sendactivity with "${$ xxx}"
- add more sendactivity steps with "hello", "welcome" ...
- back to the first sendactivity inline editing , quickly type "backspaces"
- all the following  sendactivity content will be deleted. (eg. "hello", "welcome" will be deleted)

This will mess up the whole lg file content .

[2020-05-20 02:22] luhan2017 commented on #3133
Good catch on this, thank you, Gabo.

[2020-05-20 06:33] lei9444 commented on #3134
fix in #3138

[2020-05-20 07:50] xieofxie commented on #3134
a real sad story

[2020-05-20 08:13] boydc2014 commented on #3136
@zhixzhan will take this together with the LG file been emptied issue.

[2020-05-20 08:57] zhixzhan commented on #3136
@boydc2014 @Danieladu to reproduce this:
[code]

* notice `${ ` break the parse, then parse result is one template
{
name : 'Exit'
body: `
-Thanks for using todo bot.${

# Greeting
-What's up bro
`
}

if we continue update body on `Exit`, it will mess up `# Greeting`

[2020-05-20 09:13] cxbuilders opened #3140 "Generated Skill Manifest not correct"
When exporting (strange action name for generating a manifest) as a skill the generated manifest is not correct. The $schema is below the name;
![image](https://user-images.githubusercontent.com/49873947/82428290-938ee000-9a8a-11ea-8252-b8d460ed2585.png)

It should be:
![image](https://user-images.githubusercontent.com/49873947/82433570-e9b35180-9a91-11ea-8e19-a9b7a034a6d9.png)

When manually chan

[2020-05-20 09:57] xieofxie commented on #3140
I would suggest we update to the order of $schema, $id, blah as it is supported by PVA and described in schema https://schemas.botframework.com/schemas/skills/skill-manifest-2.0.0.json

[2020-05-20 10:03] boydc2014 opened #3142 "AuditLog and CrashReport mechanism"
We should consider add telemetry in our application to record user action and be able to wrap up and generate a "crash report" with the context (like the env, the bot, the settings maybe).  Like many applications do.

It would be very helpful for us to debug certain issues, especially the ones that hard to repro.

[2020-05-20 10:05] cxbuilders commented on #3140
Just updated the issue as one of the screenshots was not correct. PVA really wants first $schema then $id then the rest. Not sure why it is so picky

[2020-05-20 10:33] hibrenda commented on #3026
![image](https://user-images.githubusercontent.com/43408889/82436434-652ff580-9ac8-11ea-8400-d9a941e2da13.png)

[2020-05-20 12:05] sachabruttin commented on #3026
It works like that, thanks for your answer.

It looks more like a workaround. I would have preferred to be able to do databinding directly on the editor like when using the HTTP request connector.

[2020-05-20 12:05] #3026 closed

[2020-05-20 12:07] yeze322 opened #3144 "Improve the engineering quality of Visual Editor"
## Describe the bug
Todos:
- [ ] Refactor of `ObiEditor.tsx` due to its exploding complexity
- [ ] Clean outdated concepts such as 'Obi', 'Step', 'Rule', 'Event'. Follow SDK convention, do use 'Dialog', 'Trigger', 'Action' instead.
- [ ] Coverage of Typescript types. At least the editor's event system should be typed.
- [ ] A portable Adaptive-Visual-SDK. inputs Adaptive elements, output a visuali

[2020-05-20 13:47] vidyakdil commented on #3111
@hibrenda , here the value to be added in to ChannelData is being sent from a function app.

The JSON is assigned to a variable and we are trying to render the template in the following way where dactivity is the response content we got back from the action.

# dactivity()
- '${dialog.response.content}'

# bfdactivity-387808()
[Activity
        ChannelData=${json(dactivity())}
]

Is there anything

[2020-05-20 13:53] darrenj opened #3145 "LUIS authoringKey used for endpoint calls instead of endpointKey"
## Describe the bug

When testing a Bot through Composer locally, you provide an authoringKey enabling Composer to manage your LUIS resources. All good. However when testing, it should use an endpointKey if provided especially as using the authoringKey for an endPointKey has a limited quota which when expired would leave a customer stuck no

## Version

1.0

## Browser

- [ ] Chrome
- [ ] Safari
-

[2020-05-20 13:57] KoradaRajesh commented on #3111
@hibrenda I'm able to render facebook templates by assaigning the json value to channel data in activity by staticaly but i want to pass an Action response to that channel data for this scenario I have tried the folowing..

[Activity
ChannelData=${json(dialog.result.content)}
]
--------------------------------------------------

[Activity
ChannelData=${dialog.result.content}
]
--------------------

[2020-05-20 13:59] #3112 closed

[2020-05-20 14:02] KoradaRajesh commented on #3112
Thank you lot @hibrenda

[2020-05-20 15:06] UmPrel opened #3146 ""Value cannot be null. (Parameter 'uriString') -Skill Not Loading"
Hi,

I am trying to access a skill developed in bot framework and hosted in azure.
In the Composer UI i couldn't find a provision to set the skillhost details.
I am able to connect the skill using manifest, but while executing the bot and when it try to load skill i am getting the following error.
"Value cannot be null. (Parameter 'uriString')

Please help me to fix.

[2020-05-20 15:42] cwhitten commented on #3134
https://github.com/microsoft/BotFramework-Composer/pull/3138

[2020-05-20 15:42] #3134 closed

[2020-05-20 16:05] beyackle opened #3147 "Needed: a valid PR style for minor changes with no related issue"
## Is your feature request related to a problem? Please describe.

Dev issue: we currently don't have a way to validate PRs for minor issues that have no related issue number (e.g. typo fixes or fixes to broken links in the docs).

## Describe the solution you'd like

We should have a way to explicitly say "this PR fixes a minor issue without a number".

[2020-05-20 17:08] #3147 closed

[2020-05-20 17:35] cwhitten commented on #3146
hi @UmPrel it looks like you have not correctly configured your skill information. See the following doc for reference on how to configure it: https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill

Closing

[2020-05-20 17:35] #3146 closed

[2020-05-20 17:37] cwhitten commented on #3140
Why does PVA require ordering of the keys? This seems like an odd constraint.

[2020-05-20 17:42] cwhitten commented on #3124
ping

[2020-05-20 17:44] cwhitten commented on #3113
@Stevenic given the ask is to modify the schema, this should be tracked on `botbuilder-dotnet`. I'll transfer.

[2020-05-20 17:46] cwhitten commented on #3085
This ask is a schema modification. Transferring to botbuilder-dotnet

[2020-05-20 17:56] arturl commented on #3077
Hi @UmPrel
This is not supported in the Composer out of the box yet, but you can build a [custom action](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action) that generates the handoff event as described [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-design-pattern-handoff-human?view=azure-bot-service-4.0).
What agent engagement platform are you considering?

[2020-05-20 18:31] mareekuh commented on #3124
yes

From: Chris Whitten <notifications@github.com>
Date: Tuesday, May 19, 2020 at 7:50 AM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Marieke Iwema <mariekei@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [microsoft/BotFramework-Composer] mac download icon looks funky in the mac dock (#3124)

@mareekuh<https://nam06.safelinks.protection.ou

[2020-05-20 18:59] sbacha commented on #3140
@cwhitten will open a bug in PVA to investigate this.

[2020-05-21 02:18] zidaneymar commented on #2687
the powershell script is deprecated, should use JS provision script in the future

[2020-05-21 05:16] UmPrel commented on #3077
Hi @arturl ,

Thanks for your response. I want to connect to Omni Channel for Customer Service.
I will refer the link and get back for any queries.

[2020-05-21 08:03] MathieuDiepman opened #3153 "Interruption sample behaves incorrectly under Dutch regional setting"
## Describe the bug
The GetStarted trigger has a precondition that is evaluated incorrectly. 0,8884471 is evaluated as <0.7.

## Version
Release: Preview 2.0

## Browser
- [X] Chrome

## OS
- [X] Windows

Steps to reproduce the behavior:
Set regional settings of machine to Dutch
1. Go to 'Interruption-Sample'
2. Run it (say 'Hi')
3. Notice that the bot does not detect the GetStarted trigger even t

[2020-05-21 08:44] hibrenda commented on #2687
as no need to update. so close it.

[2020-05-21 08:44] #2687 closed

[2020-05-21 09:44] zidaneymar commented on #3093
Hi @benbrown , currently the provision would create a app insights service on Azure and generate a  instrumentation key in appsettings.deployment.json and this key would be used to initialize a telemetry client in runtime
User could open this app insights service on portal to see the details.
![image](https://user-images.githubusercontent.com/9328933/82546253-6d506980-9b8a-11ea-9ed8-1267140c8279.p

[2020-05-21 09:54] Danieladu commented on #3111
hi, @KoradaRajesh I may could answer this issue
`-'${dialog.response.content}'` would be evaluated to a string like `'{jsonbody}'`, I guess what you expect to get is just the string format of `{jsonbody}`, the way use `'` to transfer the json result into string is not correct, the right way is use `string` convert function, try this one:

[code]

it supposed to work. Thanks.

[2020-05-21 09:58] hibrenda commented on #3153
@vishwacsena be aware of this issue.

[2020-05-21 11:01] xieofxie commented on #3093
I guess we should set this
![image](https://user-images.githubusercontent.com/2876650/82552848-7eeb3e80-9b95-11ea-954a-010c96547040.png)
Ref: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-manage-analytics?view=azure-bot-service-4.0

[2020-05-21 11:28] arafattehsin opened #3156 "Can't check for updates"
## Describe the bug

When I click on Check For Updates, it gives me an error

## Version

1.0.0

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [x] Electron

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Help Menu
2. Click on Check For Updates

## Expected behavior

It should either update or give me a friendly message

[2020-05-21 15:40] #3087 closed

[2020-05-21 15:45] #2570 closed

[2020-05-21 16:46] mareekuh opened #3157 "Change menu label from Design Flow to Design. Asap."
I noticed that the menu label for the authoring canvas had been changed from Design to Design flow.

We have agreed with PVA that this is called the Authoring canvas. This would be too long for a label, and neither Authoring or Canvas on its own would work.
'Design' works, as it is a verb. One can 'Design in the authoring canvas'.
Design Flow will not work (flow has many other meanings and I doubt

[2020-05-21 17:08] benbrown commented on #3093
Yes, we should set the bot service analytics as well as the webapp service.

[2020-05-21 20:05] #3140 closed

[2020-05-21 20:32] cwhitten commented on #3157
@mareekuh it clearly says "Design flow" in your master UX designs. It has been this way as long as I can remember.

[2020-05-21 20:33] zxyanliu commented on #3157
I will update the docs as soon as it's changed. : -)

[2020-05-22 01:30] hibrenda commented on #3157
@liweitian  we can submit a PR for this today.

[2020-05-22 02:01] timoconnellaus opened #3160 ""User was not found" when running node provisionComposer.js"
## Describe the bug

When I run the provisionComposer.js script I get the error "User was not found"

![image](https://user-images.githubusercontent.com/3151605/82623466-95d87200-9c23-11ea-9a43-c6771420d4d9.png)

I'm using an MSDN subscription
The user running the command is account admin on that subscription and has permissions to create app registrations - I have created them through the Azure C

[2020-05-22 06:20] timoconnellaus commented on #3160
I was able to resolve this issue by making a change to the provisionComposer.js. The adjustment was to pass the tenant ID to .interactiveLogin()

Solution was found here - https://github.com/Azure/azure-sdk-for-node/issues/1821

[2020-05-22 08:04] zidaneymar commented on #3160
Hi @benbrown , I think we should enable users to enter their tenant id for provision, according to the link provided by @timoconnellaus , we should use this following code to login to Azure. What do you think about this?
`msRestAzure.interactiveLogin({domain: 'your-tenant-id}, function(err, credentials, subscriptions)
`

[2020-05-22 08:50] cxbuilders opened #3163 "How to call a skill action from PVA and pass user utterance for entity extraction"
I realize this is a bit of an overlapping question between PVA and Composer / Bot Framework. However I have the following scenario;

I have a pizza skill in Composer, with 2 intents (order pizza, order status). It has three activities exposed in the manifest.json:
 - Message (having the skill detect intent & entities)
 - Order Pizza (variables: size, topping)
 - Order status: (variables: order #)

[2020-05-22 09:01] lei9444 opened #3164 "master branch can't build in windows now"
## Describe the bug
![image](https://user-images.githubusercontent.com/39758135/82650789-c8976000-9c4d-11ea-9b97-f98209802881.png)

## Version

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

[2020-05-22 09:06] cxbuilders commented on #3164
had same issue, reverted back to a commit from a day ago to keep working

[2020-05-22 09:09] lei9444 commented on #3164
in Windows we use CRLF
![image](https://user-images.githubusercontent.com/39758135/82651016-29269d00-9c4e-11ea-909d-049be84dc5dd.png)

if we use lint:fix will commit a lot of files.

I not sure use
`"endOfLine": "auto"`
in .prettierrc is a good Solution #3162

[2020-05-22 14:37] KoradaRajesh commented on #3111
@Danieladu i tried that but it's not rendering the template is there any other solution to achieve this.

#TemplateJson()
-${dialog.response.content}

# DisplayTemplate
[Activity
ChannelData=${TemplateJson()}
]

[2020-05-22 14:43] KoradaRajesh opened #3166 "How to use Skills"
Is there any refernce to for using skills

![image](https://user-images.githubusercontent.com/51915291/82679544-b2e36400-9c68-11ea-868f-73f3727a160d.png)

[2020-05-22 15:38] #3157 closed

[2020-05-22 15:53] zxyanliu commented on #3166
Hi @KoradaRajesh Here is a [doc](https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill) for your reference.

[2020-05-22 16:12] zxyanliu commented on #3164
Same here. I was unable to build Composer using the master branch in Windows.

[2020-05-22 16:40] sgellock opened #3167 "Something went wrong dialog displays in various contexts"
## Describe the bug
If I leave version 1.0.0 of Composer running on my Mac overnight, in the morning a "Something went wrong!" dialog is displayed.  Clicking Ok closes the dialog, and best I can tell, the product has no adverse behavior that I can detect.

## Version
1.0.0

## Browser
For this repro, I'm running the Electron distribution on macOS

## OS

- [x ] macOS
- [ ] Windows
- [ ] Ubuntu

##

[2020-05-23 01:03] Stevenic opened #3168 "Error when trying to use isArray() within an expression"
## Describe the bug

I get an error when trying to use the `isArray()` function within an expression. It is in fact a valid function:

![image](https://user-images.githubusercontent.com/698939/82718288-7e66ac80-9c56-11ea-8842-ad6ed9d87928.png)

## Version
1.0.0

[2020-05-23 09:37] cxbuilders opened #3170 "Composer & Azure Devops"
I am currently investigating on the best setup for using Composer in combination with Azure Devops. We are looking for a solution whereby;

1) Bot is pushed to Devops repo
2) Pipeline is triggered
    - Build, Test & Publish
    - Incremental Arm templates for DEV, ACC & PROD
    - Push Webapp & Update Luis models for DEV automatically, with approval steps for ACC & PROD

I was wondering if this i

[2020-05-23 13:19] KoradaRajesh opened #3171 "Output Code in c# for Version 1.0.0"
I have integrated composer in my existing code For Version 0.0.4 when I'm trying to Migrate composer to the latest version in my code I'm unable to find the Output code for newly created dialogs.

I'll be grateful if you provide the Outputcode in C#

[2020-05-23 14:49] a-b-r-o-w-n commented on #3164
@lei9444 I think we should enforce the files in git to be LF (can be done using a git attribute). This is the most cross platform friendly solution, but it may require windows users to reclone (according to https://prettier.io/docs/en/options.html#end-of-line).

Can you experiment by adding the following to a `.gitattributes` file in the repo?

[code]

Since I'm on mac, this is already happening,

[2020-05-23 21:45] MartinGudel opened #3172 "folder scaffolding not created"
I'm currently using
PowerShell 7.0.1
.NET SDK 3.1.300
node.js version 12.16.3
yarn 1.22.4
on Windows 10 Enterprise Build 2004
when I create my bots and go to the bots folder, I can see that the folder scaffolding is incomplete.
I get only folders
language-generation
language-understanding
scripts (note the lowercase "s")
settings
Readme.md
mybotname.dialog
(atatched you find an example resulting f

[2020-05-24 12:37] KoradaRajesh commented on #3166
Thank you! @zxyanliu

[2020-05-24 12:41] lei9444 commented on #3164
Sorry, I have tested the "auto" option. It works, but this will make windows and mac users commit different line-endinds. I'm not sure it is good way to fix this issue, so I closed it.

[2020-05-24 20:00] #3145 closed

[2020-05-24 23:06] #3166 closed

[2020-05-24 23:12] cwhitten commented on #3102
@benbrown as discussed, it makes sense to this "update ejected scripts" mechanism in the runtime config page.

[2020-05-24 23:13] cwhitten commented on #3094
Closing this as a dupe of #3024

[2020-05-24 23:13] #3094 closed

[2020-05-24 23:14] cwhitten commented on #3024
@feich-ms do you want this transferred to the `bf-cli` project?

[2020-05-24 23:16] cwhitten commented on #3088
We should be careful not to muck with the None intent auto-generation via Managed LU. @vishwacsena can you comment here?

[2020-05-24 23:17] cwhitten commented on #3077
Closing this for now.

[2020-05-24 23:17] #3077 closed

[2020-05-24 23:18] cwhitten commented on #3054
This is addressed via the pull request here: https://github.com/microsoft/BotFramework-Composer/pull/2691

Closing as a dupe of an existing a11y ticket.

[2020-05-24 23:18] #3054 closed

[2020-05-24 23:51] Stevenic opened #3173 "Property sheets use inconsistent case for labels"
## Describe the bug
Our use of case for property labels is all over the map. We should use consistent case for property labels.

![image](https://user-images.githubusercontent.com/698939/82767751-ac76f880-9dde-11ea-9f50-dfa80e79e2be.png)

[2020-05-24 23:54] Stevenic commented on #2978
Just filed a related issue: https://github.com/microsoft/BotFramework-Composer/issues/3173

The other issue I noticed is that we're sometime using titles to re-name properties. This is just going to lead to confusion when developers drop down to code or try to read the reference documentation.

[2020-05-25 00:17] Stevenic commented on #2978
My 2 cents...

I would agree with @tomlm that asking "What is the name of the trigger?" versus "What is the name of the intent?" is a bit confusing because we are in fact defining a trigger for an Intent. It's called an "Intent Trigger".  As he stated we don't have named triggers.

Furthermore, I think the current wording has potential IA issues as we really need the ability to define multiple tri

[2020-05-25 00:27] Stevenic opened #3174 "Some property titles don't match the name of the underlying property"
## Describe the bug

Several of our action properties have titles which don't match the name of the underlying property being set.  This could lead to confusion for developers when dropping to code or trying to read reference docs.  Below is the schema for the `BeginDialog` action.

![image](https://user-images.githubusercontent.com/698939/82768432-d252cc00-9de3-11ea-83aa-4b75e02c618e.png)

[2020-05-25 00:27] Stevenic commented on #2978
https://github.com/microsoft/BotFramework-Composer/issues/3174

[2020-05-25 01:01] mareekuh opened #3175 "Need extract of ALL copy & labels in a single place for copy edit, review and approval"
Several issues have been raised about the terms, terminology and UX copy in Composer and how it relates to the SDK (and we're getting several questions about disconnects between terms in Composer and PVA).
In order to create alignment between the SDK, the UX in Composer and PVA (note: alignment does not mean we're using the exact same term everywhere), could we please create a way to extract and r

[2020-05-25 01:23] Stevenic opened #3176 "design: Action Menu Scalability Issues..."
The current action menu design isn't going to scale...

![image](https://user-images.githubusercontent.com/698939/82769089-be10ce00-9de7-11ea-99b5-9fe42d79c015.png)

It works ok for the current pallet of built-in actions but even just watching the //build VA presentations we had to add 6 or 7 custom actions for performing graph manipulations.  What happens when my project needs 4 - 5 action librar

[2020-05-25 01:26] Stevenic commented on #3176
@carlosscastro and I have kicked around some ideas for how to use machine learning to essentially learn the 1 - 3 actions that most commonly follow a given sequence of actions. This isn't any different then learning the words to "auto suggest" in a messaging app.  Just replace the words with actions.

[2020-05-25 02:04] tomlm opened #3177 "Composer labels my triggers with weird names."
## Describe the bug

When I add an trigger such as OnBeginDialog, OnIntent, OnUnknownIntent, etc. the trigger gets labeled with weird words that don't match our SDK, documentation or samples.  This causes an education burden and cognitive load for our developers because they have to learn what the SDK, Documentation and samples call it, and what composer calls it.

## Version
1.0

## To Reproduce

[2020-05-25 02:23] cwhitten commented on #3173
We need to conform to `Sentence case`, however the inconsistent in your example comes off of the component schemas.

[2020-05-25 04:53] feich-ms commented on #3024
@cwhitten, Sure, I just created similar one in bf-cli repo here https://github.com/microsoft/botframework-cli/issues/819.

[2020-05-25 08:45] VanyLaw commented on #3105
I think the .gitignore file can prevent user mis-upload the appsettings.json file. But the sensitive value will still be persisted in appsettings.json file. So, I will remove those value in file and save in browser localStorage.

[2020-05-25 19:10] IT-Spezl commented on #3172
#push

[2020-05-25 19:12] PhillipGabold commented on #3172
#push

[2020-05-25 21:41] KoradaRajesh commented on #3166
@zxyanliu I have to add skill manifest and tried to access through a browser but I'm getting like undefined.

![image](https://user-images.githubusercontent.com/51915291/82844538-76c93100-9efe-11ea-8288-8298dab47677.png)

![image](https://user-images.githubusercontent.com/51915291/82844552-8c3e5b00-9efe-11ea-81d1-b00ead75594e.png)

[2020-05-25 23:13] Stevenic opened #3180 "Sort order for Custom Actions flyout is off"
## Describe the bug

I'm not sure how the custom actions flyout is sorting its entries but it's not what I would have expected:

![image](https://user-images.githubusercontent.com/698939/82847369-96cb0700-9ea2-11ea-800d-460a2012d4dd.png)

[2020-05-25 23:14] Stevenic commented on #3180
Ah... It's sorting by the underlying action name versus title. I think title would be a better sort.

[2020-05-26 03:06] yeze322 commented on #3180
Those actions are not sorted yet. So the order seems random ( depends on Object.keys() order).

We can consider
- Sort by displayed title
- Sort by $kind
- Sort by native order

[2020-05-26 05:11] timoconnellaus commented on #3164
In lieu of this being addressed I was able to build the project on windows by running "npm run lint -- --fix" this command before running "yarn build"

[2020-05-26 08:56] luhan2017 commented on #3172
@PhillipGabold , currently in the latest composer master branch, we folder structure you showed here is expected. If you want to view and edit the runtime, you can do an eject (go to settings page->enable custom runtime), composer will copy the runtime folder into your bot.

[2020-05-26 08:59] luhan2017 commented on #3171
What do you mean by Output code? Can you elaborate more on this?

[2020-05-26 09:26] KoradaRajesh commented on #3171
Whenever we create dialogs in the previous version of the composer it's generating one solution file in the local system but for now, it's generating only dialog folders. If you provide the solution file as well then it will be helpful.
**File generated for previous versions:**
![image](https://user-images.githubusercontent.com/51915291/82884095-e6700800-9f60-11ea-8f58-6b2f1573cf4a.png)

**File ge

[2020-05-26 10:29] hibrenda commented on #3171
@KoradaRajesh Yes. This is expected for current composer version. you can reference https://github.com/microsoft/BotFramework-Composer/issues/3172#issuecomment-633899040
![image](https://user-images.githubusercontent.com/43408889/82890479-d109d680-9f7e-11ea-930d-0fab1669665b.png)

[2020-05-26 10:49] darrenj commented on #1885
Authoring Region is still grayed out in the UX impacting customers operating outside of the westus region (e.g. europe)

![image](https://user-images.githubusercontent.com/33519520/82892140-d77c5c00-9f46-11ea-9ffe-e1ed0d6521db.png)

[2020-05-26 11:00] narulasrinivas commented on #1885
@darrenj -
First you need to point to application folder. Each application has **scripts** folder and in that **create.ps1** and **deploy.ps1** are there to create resources and deploy solution.

Here is the command, I'm using to run the script and create resources in **UKSouth**. Please refer below screenshot.

![image](https://user-images.githubusercontent.com/2491903/82893146-7bb2d280-9f48-11ea

[2020-05-26 12:20] hibrenda commented on #3170
@cwhitten @benbrown be aware of this feature requirement.

[2020-05-26 12:55] hibrenda commented on #3163
The skill can be called directly in PVA instead of call an event activity.
![image](https://user-images.githubusercontent.com/43408889/82903179-2bad2d80-9f93-11ea-9f24-fe643c4f89c7.png)

[2020-05-26 13:00] OliverZ opened #3182 "Composer needs .NET Core SDK"
## Describe the bug

Can't Start Bot

## Version

1.0.0

## Browser

![image](https://user-images.githubusercontent.com/2428087/82900114-54fe9700-9f5c-11ea-9b4d-1772adf832b6.png)

Desktop Application

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'new'
2. Go to 'create from template'
3. Select a template and click on next
4. Click on Sta

[2020-05-26 13:24] hibrenda commented on #3167
@zhixzhan @boydc2014 be aware of this .
Re-pro similar issues before.

[2020-05-26 13:35] boydc2014 commented on #3168
this should be also be fixed in https://github.com/microsoft/BotFramework-Composer/issues/3168

[2020-05-26 13:36] cxbuilders commented on #3163
yes, so the event activity currently never has the last user message, so it's either message or event, I want both.
For entity extraction I would expect in Composer to be a Extract Entities step, which is something needed quite often.

[2020-05-26 14:01] hibrenda commented on #3088
By the way, if user add "None" through "intent recognized" trigger wizard, we should not include this in  "_interruption"  right ? but currently we include it in "_interruption".

[2020-05-26 14:14] hibrenda opened #3183 "Luis re-publishing issues"
- create a dialog and set recognizer with luis
- add more triggers and utterance
- if  utterance ratio between different triggers is more than 10, start bot will always do re-publishing even if no lu change for this dialog.

This is due to the down sampling resizing. we should not allow republishing if there is no lu update.

two potential issues :
- As down sampling may random re-sizing the utter

[2020-05-26 14:47] zxyanliu commented on #3182
Hi @OliverZ Thanks for your report. Could you please check the prerequisites as mentioned in this [doc](https://docs.microsoft.com/en-us/composer/setup-yarn)? Please let us know. Thank you!

[2020-05-26 14:48] cwhitten commented on #3171
Closing as designed. Please utilize the runtime ejection mechanism.

[2020-05-26 14:48] #3171 closed

[2020-05-26 14:49] cwhitten commented on #3172
Closing as designed. Please use the runtime ejection mechanism if you want to control the runtime assets. We've also updated the folder structure with this release.

[2020-05-26 14:49] #3172 closed

[2020-05-26 15:21] benbrown commented on #3160
@zidaneymar yes, since it is already possible to pass in the tenantId as a parameter, we should use this if specified in the login.

[2020-05-26 15:25] beyackle commented on #3182
I was able to get it running, but for me `dotnet --version` is `3.1.202`. I wonder if they changed something between 202 and 300 that's breaking things.

[2020-05-26 15:32] KoradaRajesh commented on #3171
Sure @cwhitten , Thank you @hibrenda, @luhan2017

[2020-05-26 16:18] madbeher opened #3184 "issue with Composer preview vs Composer IDE"
I have tried both the tools and created bot.I found that the code structure generating by both the tools are different my question is i earlier created a weather bot using preview version.

can i import that in composer IDE ?

if yes can anybody suggest the steps.I am new to composer it will be very helpful.

[2020-05-26 16:55] cwhitten commented on #3184
hi @madbeher. Composer is now Generally Available, and in doing so has updated the directory structure when creating .dialog, .lu, .lg files. The version you used in Composer preview is no longer supported. You need to update your structure to the new mechanism, or re-create your using the Composer IDE.

[2020-05-26 16:57] #3184 closed

[2020-05-26 17:04] benbrown commented on #3170
@cxbuilders - I would approach this as a plugin project. You can create a new method for takign a bot and pushing it to a destination - that destination can be pipelines.  This would allow you to write your pipeline.yml files or other necessary components as it passes out of Composer and into the environment.

We aren't planning on building Azure Devops publish immediately. It would be great to ha

[2020-05-26 17:04] madbeher commented on #3184
thanks @cwhitten  please give me more clarity. I have the existing structure is there any command or option available in new composer to update your structure to the new mechanism.

[2020-05-26 17:06] benbrown commented on #3124
This is the result of the app icon sitting on top of other apps inside the downloads folder.

If you move it out of downloads or launch the app, you should see the normal icon.

[2020-05-26 17:06] #3124 closed

[2020-05-26 17:21] cwhitten commented on #3184
We do not have a command to automatically update the preview structure to the current structure.

[2020-05-26 18:26] cxbuilders commented on #3170
@benbrown I am currently setting up a manual method, whereby I move the required dialog etc files in the right location using the pipeline. I am working for a customer that has just choosen MS as their new framework for bots, so I need to check if they're open to this. When they are would it be possible to have a call on this so I am sure the route we're taking is the beat one?

[2020-05-26 18:29] mareekuh commented on #3177
I responded to 3177 in another related issue filed by Tom - this is a larger issue.

I absolutely understand and respect your perspective and request and also have an over arching objective (customer and leadership driven) to align terms and terminology across Conversational AI products, services and teams at Microsoft. But I need your help with this....
What can we do to collect some form of over

[2020-05-26 18:44] benbrown commented on #3170
sure.

[2020-05-26 19:32] beyackle commented on #3182
I was able to reproduce _something_, although I don't know if it's the same issue as we're seeing here. The two `dotnet` commands that get run manually are `dotnet user-secrets init --project azurewebapp` and `dotnet build`. After running the first successfully in `localPublish/hostedBots/<long random number>/runtime`, the second gave me errors:
[code]

[2020-05-26 19:37] beyackle commented on #3182
That was after I tried to fix warnings by changing the line in `Microsoft.BotFramework.Composer.Functions.csproj` that reads
[code]
to 3.1 instead of 3.0. With 3.0 it builds, but I get a bunch more version number warnings along the lines of
[code]

[2020-05-26 20:02] cwhitten opened #3185 "Bot's with dots in the name is accepted but breaks LUIS"

[2020-05-26 21:21] tdurnford opened #3187 "[PropertyEditor] Prompt validator field styling"
##  Describe the bug
The items in the 'Validation Rules' array do not fill the full width of the Property Editor, and errors are rendered next to the field instead of below it.

## Version
master

## To Reproduce

Steps to reproduce the behavior:

1. Add a prompt
2. Go to the 'Other' tab
3. Add a validation with an error
4. See error

## Expected behavior
The field should fill the full width of th

[2020-05-26 21:27] RustyDes opened #3189 "Default location for new bot should be different"
## Describe the bug
The first time creating a new project with Composer suggest creating it at the root of the user profile (%USERPROFILE%).

For windows, a more meaningful place would be a subfolder of that such as:
    %USERPROFILE%\source\repos\
or
    %USERPROFILE%\source\bots\

## Version
1.0.0

## Browser

N/A

## OS

- [ ] macOS
- [x ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprodu

[2020-05-26 21:43] RustyDes opened #3190 "New bot dialog: Needs a way to paste a path for the location"
## Describe the bug
The location field on the new bot dialog does not let the user type or paste a path. One is forced to navigate up and down to find the relevant location which is painful for long paths, and lacks discoverability for switching to a different drive (at least for Windows Users).

Expected the control would be a textbox with an auto complete drop down or recent drop down similar to

[2020-05-26 22:16] #3187 closed

[2020-05-26 22:20] vishwacsena commented on #3088
This is possible in composer and the right place to do this so as to not interfere with your triggers (unless you really want to handle the `None` intent) is to do it in the `all-up` view. Please ensure the right `dialog` is selected and you are adding the utterances to the right place. With composer, you have one LUIS app per dialog.

![image](https://user-images.githubusercontent.com/20918136/82

[2020-05-26 23:18] #3136 closed

[2020-05-26 23:49] #3046 closed

[2020-05-26 23:56] sangwoohaan opened #3191 "LG templates sometimes automatically replaced with random templates that don't exist"
I don't know how to recreate this issue at the moment, but at some point Composer replaced all LG responses and prompts in action nodes with random template references that don't exist. I captured what I got below

![Screen Shot 2020-05-26 at 4 53 07 PM](https://user-images.githubusercontent.com/50963385/82961326-dd3b6700-9f71-11ea-945d-a8ef3b677849.png)
![Screen Shot 2020-05-26 at 4 52 32 PM](htt

[2020-05-27 00:57] zhixzhan commented on #3168
Yes, it's fixed in #3141

[2020-05-27 01:08] boydc2014 commented on #3191
Should be fixed in #3141, we probably need a patch release for this, what do you think @cwhitten

[2020-05-27 01:08] #3168 closed

[2020-05-27 06:06] hibrenda commented on #3191
close this issues as this is addressed in #3141 . @sangwoohaan I hit similar issues before, this is due to LG parsing errors and then all following LG editor will be turn into this

[2020-05-27 06:06] #3191 closed

[2020-05-27 06:18] hibrenda commented on #3163
@luhan2017 @vishwacsena any comments ?

[2020-05-27 06:28] liweitian commented on #3190
![aaaa](https://user-images.githubusercontent.com/24380525/82985009-d1a97800-a025-11ea-8324-84e331954e75.gif)
Hi @RustyDes, you can navigate to the root path first then switch to other disks. And we will consider your other suggestions and discuss with designers. We will have a solution to make it easier to use. Thx.

[2020-05-27 06:38] Danieladu commented on #3111
@KoradaRajesh what is the value of "dialog.result.content"?

[2020-05-27 07:36] OliverZ commented on #3182
@zxyanliu the Bot Framework Emulator is installed, all prerequisites are ok
Reinstalling Composer does not help.

[2020-05-27 08:10] feich-ms commented on #2986
CLI now supports to specify endpoint in build function, please help to update composer side to consume it @lei9444

[2020-05-27 08:45] KoradaRajesh commented on #3111
{
    "attachment":{
      "type":"template",
      "payload":{
        "template_type":"button",
        "text":"What do you want to do next?",
        "buttons":[
          {
            "type":"web_url",
            "url":"https://www.messenger.com",
            "title":"Visit Messenger"
          }
        ]
      }
    }
}

[2020-05-27 08:53] zidaneymar commented on #2599
Could not repro on latest composer build.
![image](https://user-images.githubusercontent.com/9328933/82998576-7f268680-a03a-11ea-8ea0-03830357bc6f.png)

[2020-05-27 08:57] zidaneymar commented on #2599
@swaraj27  Hi Swaraj, I will close this issue since the issue could not be reproduced, If you have any questions please reopen this issue and provide more details.

[2020-05-27 08:57] #2599 closed

[2020-05-27 09:06] luhan2017 commented on #3182
@OliverZ , this could because our error message is not accurate. I can't repro your issue in my local environment. Could you do the following step to get more info?
1. Go to the settings page, Runtime Config, select use custom runtime. There will be a runtime folder created in your bot folder.
2. Go to that folder and run "dotnet run --project azurewebapp", you will see the detail error messages.

[2020-05-27 09:09] luhan2017 commented on #3182
We've got some warnings while building the runtime, this is a known issue, we'll try to fix it in R10. Thanks very much for the help on investigation :)

[2020-05-27 09:23] OliverZ commented on #3182
Ok, that's the detailed error message:

		C:\Development\test-AskingQuestionsSample-2\runtime>dotnet run --project azurewebapp
		C:\Program Files\dotnet\sdk\3.1.300\NuGet.targets(128,5): error : Der Dienstindex für die Quelle "https://api.nuget.org/v3/index.json" konnte nicht geladen werden. [C:\Development\test-AskingQuestionsSample-2\runtime\azurewebapp\Microsoft.BotFramework.Composer.WebApp.csp

[2020-05-27 09:27] luhan2017 commented on #3163
There is an activityProcessed property in BeginSkill action, will this meet your requirement? @cxbuilders

![image](https://user-images.githubusercontent.com/32191031/83002177-4fc64880-a03f-11ea-8b8b-d07079cbec1d.png)

[2020-05-27 09:34] luhan2017 commented on #3182
@OliverZ I am using translator to read this, the the error message is
The service index for the source "https://api.nuget.org/v3/index.json" could not be loaded well.
The specified host is unknown.

Are you setting a http proxy or something like that? it seems a network issue, could you try to open this url in your browser?  https://api.nuget.org/v3/index.json

[2020-05-27 09:34] madbeher commented on #3184
thanks for quick response @cwhitten  please clarify one more doubt.

can we import the new structure code in Visual studio. Because I found that  there is no .sln file present compared to preview version. So how can I import the code in visual studio?

[2020-05-27 09:37] luhan2017 commented on #3182
@OliverZ , could you check this link to see whether it will help resolve this? https://github.com/NuGet/Home/issues/2880

[2020-05-27 10:29] VanyLaw opened #3196 "Customized runtime will be zip into history folder when start in non-customized mode"
## Describe the bug

When user used customized runtime before but change to non-customize now, it will still be zip into history folder. That will cause local publish error because the customized runtime will replace the default runtime.
![image](https://user-images.githubusercontent.com/21174180/83008627-075f5880-a048-11ea-8f17-826a9ba6cadc.png)

## Version

## Browser

- [x] Chrome
- [ ] Safari

[2020-05-27 11:41] OliverZ commented on #3182
@luhan2017 I'm working behind a corporate proxy, I think there is no connection through the proxy.

I can successfully open https://api.nuget.org/v3/index.json in my browser.

From NuGet/Home#2880 I have checked the following solutions but the problem still persists:

- remove the env var http_proxy
- add content from http_proxy to nugetconfig https://github.com/NuGet/Home/issues/2880#issuecomment

[2020-05-27 11:49] Danieladu commented on #2129
Hi @WizX20 The latest Adaptive Card has been migrated to our Template format, the link is here:
https://docs.microsoft.com/en-us/adaptive-cards/templating/ 😊

[2020-05-27 11:50] darrenj opened #3199 "Export Assets to Zip doesn't included generated folder"
## Describe the bug

When exporting Composer assets to Zip using the provided feature, the resulting ZIP doesn't not include the generate folder required for successful execution.  I dropped this ZIP into a normal SDK V4 bot and bootstrapped the dialogs which then failed with the following exception

[code]

## Version

1.0 (Electron App)

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Repro

[2020-05-27 12:04] Danieladu commented on #3111
@KoradaRajesh WOW, this sample is the same with #2618, you can have a reference.
If finally still can not achieve the expected result, please check the code into a specific branch, and we can repro this issue. Thanks.

[2020-05-27 14:27] #3104 closed

[2020-05-27 15:06] #3199 closed

[2020-05-27 15:07] KoradaRajesh commented on #3111
@Danieladu In this #2618 they gave data statically in LG but In my scenario, I'm storing JSON value in a property and trying to send it to the ChannelData but it's not working but if I store soon value in LG property and send it to the ChannelData it's working fine. What would be the issue here?

This is the property I'm storing json  **dialog.response.content**

This is the process I'm passing JS

[2020-05-27 15:19] KoradaRajesh commented on #2618
@Danieladu In this #2618 they gave data statically in LG but In my scenario, I'm storing JSON value in a property and trying to send it to the ChannelData, It's not working but if I store JSON value in LG property and send it to the ChannelData it's working fine. What would be the issue here?

This is the property I'm storing JSON **dialog.response.content**

This is the process I'm passing JSON t

[2020-05-27 15:30] KoradaRajesh commented on #3111
@Danieladu In this #2618 they gave data statically in LG but In my scenario, I'm storing JSON value in a property and trying to send it to the ChannelData, It's not working but if I store JSON value in LG property and send it to the ChannelData it's working fine. What would be the issue here?

This is the property I'm storing json  **dialog.response.content**

This is the process I'm passing JSON

[2020-05-27 15:31] KoradaRajesh commented on #2618
@Danieladu In this #2618 they gave data statically in LG but In my scenario, I'm storing JSON value in a property and trying to send it to the ChannelData, It's not working but if I store JSON value in LG property and send it to the ChannelData it's working fine. What would be the issue here?

This is the property I'm storing json  **dialog.response.content**

This is the process I'm passing JSON

[2020-05-27 16:36] #3160 closed

[2020-05-27 16:57] #3196 closed

[2020-05-27 18:12] vishwacsena commented on #3163
@Stevenic @clearab @gabog for skills.

[2020-05-27 18:15] #3080 closed

[2020-05-27 19:12] Stevenic opened #3204 "Move skill definitions and feature settings to separate file."
## Is your feature request related to a problem? Please describe.

The current `appsettings.json` file contains all of the bots settings including features, appId, password, publishing profiles, and skill bindings.  Since it contains keys it can't be checked in which means the bots enabled featurs and skill bindings also can't be checked in.  The result is the project is in a broken state if you t

[2020-05-27 21:03] clearab commented on #3163
I believe you should be able to send the original text as a parameter with the event you're sending to your skill, then allow the skill to process that text. You'd use the `value` object in the `activity` object in your skill manifest definition.

https://docs.microsoft.com/en-us/azure/bot-service/skills-write-manifest-2-1?view=azure-bot-service-4.0#activities

[2020-05-27 21:07] clearab commented on #3163
It would look something like:
[code]

[2020-05-27 23:31] hibrenda commented on #3164
addressed in #3162

[2020-05-27 23:31] #3164 closed

[2020-05-28 00:41] boydc2014 commented on #3111
@Danieladu can you create a sample bot that picking channel data from memory, and display it via LG to make sure this step is validated in @KoradaRajesh side. if it's working in KoradaRajesh's side, then the problem will be in memory value perhaps not correectly set.

Also @KoradaRajesh can you attach your bot here? so @Danieladu  can help debug directly probabaly?

[2020-05-28 00:42] hibrenda commented on #3190
https://github.com/microsoft/BotFramework-Composer/issues/3009

[2020-05-28 03:04] Danieladu commented on #3111
hi @KoradaRajesh  I have test the dynamic assignment with composer, and it works. Here is the bot project:
[EmptyBot-0.zip](https://github.com/microsoft/BotFramework-Composer/files/4692997/EmptyBot-0.zip)
The output result is as same as the static assignment.
Maybe you can try it and look forward to your reply

[2020-05-28 09:01] KoradaRajesh opened #3205 "Issue with passing activity to skill bot."
I am passing activity from consumer bot to skill bot. whatever i am passing from consumer bot i am getting everything in text turn.activity,text only. Ex. If i pass attachments from consumer bot to skill bot instead of getting it in turn.activity.attachments, i am getting it in turn.activity.text.

here are some screenshots regarding this issue.

![image](https://user-images.githubusercontent.com/

[2020-05-28 09:08] madbeher opened #3206 "composer with visual studio"
can we import the new composer  structure code in Visual studio. Because I found that there is no .sln file present compared to preview version. So how can I import the code in visual studio?

[2020-05-28 09:44] feich-ms commented on #3024
Fix PR is here https://github.com/microsoft/botframework-cli/pull/830

[2020-05-28 13:58] cxbuilders opened #3208 "Access to Passwords in Azure Devops"
I am currently setting up a pipeline in Azure Devops that deploys the resources and builds & publishes the Composer bot. So far all is working great, however I am not sure how to deal with passwords in the following scenarios;

**Initial Pipe Line run -> Deploying Resources**
- In the deployment step I have a PowerShell script that generates a new appSecret. This is then used in the deployment of

[2020-05-28 17:30] tdurnford commented on #3205
@KoradaRajesh If you set the 'Activity Processed' property at the bottom of the Property Editor to `false`, it should begin the skill "using the activity in the current turn context instead of the activity in the Activity property." Setting the 'Activity Processed' to `false` should forward the entire activty including the attachments to the skill.

![image](https://user-images.githubusercontent.c

[2020-05-28 18:28] hristp opened #3211 "Be able to run multiple instances of Composer..."
... Or have some way to easily flip between 2 bots.

For example, I've done the weather bot tutorial and want to create my own bot with a similar structure.  I know the concepts but I'm not comfortable yet with all the properties I need to set, so I want to be continuously looking at a working for as a reference.

It would be great if I can have multiple instances of Composer/multiple bot tabs/wha

[2020-05-28 19:10] tonyanziano opened #3213 ""Refer to syntax documentation here" validation link points to 404"
## Describe the bug

When the monaco editor detects invalid expression input in the LG editor it displays a link to refer to the expression language syntax docs, but the link points to a 404.

## Version

1.0.0 (Electron)

## Browser

- [X ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Bot

[2020-05-28 19:27] hristp opened #3214 "Replace edit mode toggle with a simple user mouse click on the resource"
There's an Edit mode in Bot Responses and User Input. However, the current design feels a little bit awkward -- the edit mode is up and above and very easy to miss.

How about just going into edit mode when a user clicks on a resource (see attached), and then stopping editing by clicking away from the editing space? This feels more intuitive than the extra clicks.

![Composer_Edit](https://user-im

[2020-05-29 03:57] KoradaRajesh commented on #3205
thanks @tdurnford. its working.

[2020-05-29 03:57] #3205 closed

[2020-05-29 04:44] knightmeister opened #3216 "Question: Are [Suggestions] supported?"
Apologies for raising an issue to ask a question, but I've spent a lot of time on this and I've been able to get everything else I need working with the exception of suggestions. If there is some documentation I've somehow missed, please point me towards it.

I became aware of Suggestions due to autocomplete in composer. It shows as `[Suggestions]` with a `SuggestedActions` property/attribute.

I

[2020-05-29 05:33] KoradaRajesh commented on #3111
@Danieladu It's working but the template is not rendering without activity text is this possible to render templates without text. I have tried it but it's not rendering.

[Activity
  ChannelData=${dialog.response.content}
]

[2020-05-29 06:03] cxbuilders commented on #3163
@clearab This is not possible in PVA. When you select an event action from a skill that exposes a property utterance, it cannot be filled in by PVA as it does not allow you to pick that as an input.
Also even when PVA would allow you to do this, how would you run an entity extraction on that utterance property in Composer?

So 2 issues;

- PVA cannot send last user input as a variable into a skill

[2020-05-29 08:40] #3133 closed

[2020-05-29 09:02] hibrenda commented on #3214
@mareekuh @sangwoohaan

[2020-05-29 09:21] Danieladu commented on #3111
hi @KoradaRajesh  It's a bug in SDK. I have filed an issue to track this one. link is here :
https://github.com/microsoft/botbuilder-dotnet/issues/4001
The workaround is add a text property in activity structure. Thanks!

[2020-05-29 09:39] hibrenda commented on #3206
https://github.com/microsoft/BotFramework-Composer/issues/3171#issuecomment-633943571
please reference this. using eject can easily help you get the runtime code .

[2020-05-29 09:47] hibrenda commented on #3156
@tonyanziano can you take a look ?

I could not repro.
![image](https://user-images.githubusercontent.com/43408889/83246269-74075e00-a1d4-11ea-9546-9cdd4769c7d0.png)

[2020-05-29 09:48] hibrenda commented on #3211
https://github.com/microsoft/BotFramework-Composer/issues/3091

[2020-05-29 10:12] hibrenda commented on #3216
[code]

[2020-05-29 11:55] HimajaKRNttData opened #3219 "Thanks, This worked, can this be updated in the guides as well ?"
Thanks, This worked, can this be updated in the guides as well ?

_Originally posted by @rkm050288 in https://github.com/microsoft/BotFramework-Composer/issues/2344#issuecomment-604562532_

This didn't work for me. I have faced the same error.

[2020-05-29 11:57] #3219 closed

[2020-05-29 11:58] HimajaKRNttData commented on #2344
@hibrenda this didnt work for me. I have faced the same issue.

[2020-05-29 12:33] Msutapalli opened #3220 "Unable to add dialogs in LU"
Sometimes getting error when entering the dialogs in LU

[2020-05-29 15:14] KoradaRajesh commented on #3111
Thanks @Danieladu I will track that Issue

[2020-05-29 16:32] #3105 closed

[2020-05-29 16:35] DesignPolice commented on #2509
@cwhitten what is the timing on this for engineering... I can start on it next week, but would like to know how fast to go, there are a lot of moving parts on this one.

[2020-05-29 16:37] KoradaRajesh opened #3226 "Publish Bot to azure"
I am trying to publish the bot to azure using bot framework composer. I already have required app services created in azure. i am providing values in json but its throwing error "Error: getaddrinfo ENOTFOUND name-environment.scm.azurewebsites.net".

i am not using "applicationInsights","cosmosDb" and "Luis".

Here is my json.

{
  "accessToken": "<AccessToken>",
  "name": "<Name of the app service

[2020-05-29 16:40] a-b-r-o-w-n commented on #2509
@DesignPolice I imagine we will be working on this in smaller bits, starting in the next couple of weeks depending on design readiness. Not sure if that helps.

[2020-05-29 16:42] DesignPolice commented on #2509
Alright @a-b-r-o-w-n that is a good ballpark.

[2020-05-29 17:04] sgellock opened #3222 "HTTP Request properties "learn more" tooltips link botbuilder-samples"
## Describe the bug
For the HTTP Request property sheet, the "Learn more" links for the "?" help icons all navigate to BotBuilder-Samples/experimental/common-expression-language/README.md file on GitHub

## Version
1.0.0

## Browser

Electron distribution
## OS
- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open a bot project
2. On the design canvas,

[2020-05-29 17:35] Andrea-Orimoto opened #3224 ""Learn more" link in settings page is a 404"
![image](https://user-images.githubusercontent.com/17152540/83288305-faea1580-a197-11ea-81af-959aa26aacd0.png)

## v1.0.0

[2020-05-29 18:05] sgellock opened #3225 "Edit menu doesn't appear to honor clipboard state"
## Describe the bug
I can break this out into multiple issues if you prefer.  just assign back to me, let me know, and I'll create individual items.

Launching Composer.  Click on the Edit menu.  All menu items are enabled.

This behavior also exist when I open an existing bot project.

This behavior also exist when I open a Dialog

## Version
1.0.0

## Browser

- [ ] Chrome
- [x] Safari
- [ ] Fir

[2020-05-29 18:13] sgellock opened #3227 "Cut, copy paste appears to not work with a selected action"
## Describe the bug
I'm unable to cut or copy a selected action

## Version
1.0.0

## Browser
- [ ] Chrome
- [x] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Launch Composer
2. Open a bot project that has a dialog
3. Open the dialog in the design canvas that has more than one action
4. Select an action
5. Edit.

[2020-05-29 18:40] ajjosh-msft opened #3228 "Bad error message when trying to start a bot"
## Describe the bug
I have cloned the https://github.com/microsoft/meeting_assistant repo. I opened up the Timer project in composer. I enter in my LUIS Key, AppID, App Password. It states.
![bug_composer](https://user-images.githubusercontent.com/64500801/83293651-d5add500-a1a0-11ea-83d2-5499623e0239.JPG)

## Version
v1.0.0

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ x] Edge

## OS

[2020-05-29 18:47] sgellock opened #3229 "Minimap shows for LG editor and I'm not able to hide it"
## Describe the bug
the LG editor is displaying the minimap.  see the attached image below.  I can't figure out a way to hide it

## Version
1.0.0
## Browser
- [ ] Chrome
- [x] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce
I'm not sure how I got into this state.

## Expected behavior
no minimap, or at least a way to toggle the minimap so I can hide

[2020-05-29 19:09] sgellock opened #3230 "Learn more links should open in a regular browser window"
## Describe the bug
The current Learn more links, and there may be other links that exhibit this behavior as well, don't open a normal browser window.

## Version
1.0.0
## Browser
- [ ] Chrome
- [x] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce
1. From the property panel, hover over a property that has a tooltip that has a Learn more link.
2. Click

[2020-05-29 19:14] arturl opened #3231 "Allow multiple composer processes to run side-by-side"
Often when developing a bot I need to look up how things are done in another bot. I cannot do that today, and switching between bots is unproductive.

[2020-05-29 19:20] arturl opened #3232 "Usability: Hard to figure out why "Intent recognized" trigger is not available"
The "Intent recognized" trigger type is only available if the dialog has a non-None recognizer type.
It took me a long time to figure it out. Options:
- Make RegEx the default recognizer type for new bots
- Show "Intent recognized" in the list and if the user picks that, set the dialog recognizer during that process.

[2020-05-29 19:36] cwhitten commented on #3229
You can hide the minimap by going to Settings -> App settings -> Minimap

[2020-05-29 20:47] arturl opened #3233 "Open dialog should allow me to type in path"
Make this drop-down editable:
![image](https://user-images.githubusercontent.com/1875734/83303951-d2bbe000-a1b2-11ea-91d5-b0e38f07275a.png)

[2020-05-29 22:01] sgellock commented on #3229
@cwhitten thanks Chris.  that did it.

[2020-05-29 22:01] #3229 closed

[2020-05-30 13:22] KoradaRajesh opened #3234 "Nested if in LG file"
Unable to create nested if in LG

# DateInvalidResponse(value)
- IF: ${!isMatch(value, '^(\\d*)/(\\d{2}|\\d{1})/((\\d*))$') && !isMatch(value, '^(\\d{2}|\\d{1})/(\\d*)/((\\d*))$')  && !isMatch(value, '^(\\d*)/(\\d*)/((\\d{4}))$')}
    -Please enter a valid Date and Month  and Year. A valid Date and Month should only contain 1 or 2 digits anda valid Year should only contain 4 digits within it. An e

[2020-05-30 13:32] KoradaRajesh opened #3235 "How to get Max turn count value"
I'm trying to give an invalid response to the user based on the Max turn count value but I'm unable to get the value. How can I achieve this?

if bot re-prompt user for first time different invalid response
if it is second time another invalid response

for each turn, I want to catch that increasing max turn count

[2020-05-30 13:36] KoradaRajesh opened #3236 "Calling an event or dialog from Invalid prompt and Unrecognized prompt"
I'm trying to call an event or dialog from Invalid prompt and Unrecognized prompt I found like this feature is not yet present so I'm Requesting this feature to add

[2020-05-30 13:50] KoradaRajesh commented on #3226
Basically my existing bot app service name is **pocbotdev** I gave the name in publish JSON like **pocbot** and environment like **dev** it's combing the name and environment with **-** and  it trying to find the bot app service with **pocbot-dev** but the actual name is **pocbotdev**

[2020-05-30 15:02] arafattehsin opened #3237 "UAC prompts me to uninstall Composer"
After successfully exiting from Composer. A prompt appears on my screen asking me to give permission to old-uninstaller.exe to actually uninstall the Composer _that too from an uknown source_

## Version

1.0

## Browser

- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge
- [x] Electron app

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Exit the

[2020-05-30 16:03] cwhitten commented on #3237
@arafattehsin could you have installed a pre-release version of the desktop application?

@tonyanziano does this look familiar to you?

[2020-05-30 16:09] arafattehsin commented on #3237
Hi @cwhitten - there may be a possibility but I remember it downloading after Build's announcement. I can download the fresh one and re-install this again tomorrow and update you folks here.

[2020-05-30 16:12] cwhitten commented on #3230
To fixer: the Electron environment is causing this. To preserve the web support we need to wrap _all_ external link areas with the knowledge if it is running inside Electron or not.

Here is an example of this: https://github.com/microsoft/BotFramework-Composer/blob/master/Composer/packages/client/src/pages/home/ItemContainer.tsx#L79

Electron API: https://www.electronjs.org/docs/api/shell#shellop

[2020-05-30 16:21] cwhitten commented on #3227
The workaround is to use the Command bar in the application to take these actions. The bug is that Cut/Copy/Paste from the Edit menu simply do not work right now. Related: https://github.com/microsoft/BotFramework-Composer/issues/3225

[2020-05-30 16:23] cwhitten commented on #3225
Closing this as a dupe of #3227

[2020-05-30 16:23] #3225 closed

[2020-05-30 16:25] cwhitten commented on #3220
@Msutapalli can you add a bit more detail into what you are trying to do?

[2020-05-30 16:26] #3216 closed

[2020-05-30 16:26] #3206 closed

[2020-05-30 21:16] zxyanliu commented on #3224
Hey @Andrea-Orimoto Thanks for reporting the broken doc link. I have already fixed it in [PR3238](https://github.com/microsoft/BotFramework-Composer/pull/3238).

[2020-05-30 21:17] zxyanliu commented on #3222
Hey @sgellock Thanks for reporting the broken doc link. I have already fixed it in [PR3238](https://github.com/microsoft/BotFramework-Composer/pull/3238).

[2020-05-30 21:26] KoradaRajesh opened #3239 "Expected responses block in Ask a question"
How can i use Expected responses block in Ask a question.
Is there any Reference?

[2020-05-30 21:36] KoradaRajesh opened #3240 "Regex pattern in if condition"
Can we create if condition using regex

![image](https://user-images.githubusercontent.com/51915291/83339461-b96a7f00-a2eb-11ea-80dc-e9c8a931edb7.png)

[2020-05-31 05:05] KoradaRajesh opened #3241 "Intruptions for intent"
I'm trying to allow interruption only for Particular intent how can I mention the only intent interruption

I have tried the below but it's not working

![image](https://user-images.githubusercontent.com/51915291/83344931-f0ac5080-a32a-11ea-841c-ff7948a54c95.png)

[2020-05-31 11:52] bartbilliet opened #3242 "'Something went wrong' when navigating triggers or editing language generation"
## Describe the bug

When navigating "Intent recognized" triggers, or typing in the "Language Generation" field, an error message pops up "Something went wrong". The issue does not produce all the time, it's intermittent, but very frequently. It seems to produce mostly on "Intent recognized" triggers using Luis. It's almost impossible to complete any simple bot logic without triggering this error

[2020-05-31 13:51] bartbilliet opened #3243 "Publishing to Luis hits programmatic API limit"
## Describe the bug

Publishing bots with extensive Luis utterances hits the [Luis programmatic API limit](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/troubleshooting#how-do-i-edit-my-luis-app-programmatically). It appears this limit is imposed by the Luis programmatic API. Programmatic authoring allows up to 1,000,000 calls per month and **five transactions per second**. regard

[2020-05-31 14:54] #3224 closed

[2020-05-31 14:54] #3222 closed

[2020-05-31 15:05] bartbilliet opened #3244 "Integrate Luis Active Learning"
## Is your feature request related to a problem? Please describe.

I'm trying to transition from an existing bot logic & Luis app to Composer, to benefit of the integrated approach of intent recognition & dialogs. Bot Framework Composer allows to author Luis intent recognition right from within the Composer UI and then publish these intents and sample utterances to a Luis app.
I used to improve th

[2020-05-31 18:19] KoradaRajesh opened #3245 "Multiple rich message bubbles in if statement inside LG file"
Unable to display multiple Rich message bubbles in the if statement inside the LG file.

![image](https://user-images.githubusercontent.com/51915291/83359664-533c3580-a399-11ea-9ae3-ec96e9b027d5.png)

[2020-05-31 19:14] KoradaRajesh opened #3246 "Displaying # at end of response"
I have tried to give # at the starting of response but while rendering it displaying # both at the starting and end of the text.

![image](https://user-images.githubusercontent.com/51915291/83360699-ce551a00-a3a0-11ea-8a89-b77ddbd38a1a.png)

![image](https://user-images.githubusercontent.com/51915291/83360715-0a887a80-a3a1-11ea-9bec-145cabccde2d.png)

[2020-05-31 19:20] KoradaRajesh opened #3247 "Unable to use single propety at multiple prompts"
I have tried to use the single property in two different prompts in a single dialog and the
**always prompt** is **false** but it prompting on each turn.

[2020-05-31 19:36] bartbilliet opened #3248 "Bot published to Azure: "" is not a valid LUIS application id"
## Describe the bug

I have a very basic bot, created in Composer with Luis as Recognizer Type:
- It works when running the bot locally in the emulator.
- After publishing the bot to Azure, I always get following in the webchat: *“” is not a valid LUIS application id.*

## Version

![image](https://user-images.githubusercontent.com/23324404/83360221-f1bb9d00-a37f-11ea-8e22-381e0d1c29f6.png)

## Br

[2020-05-31 19:59] Stevenic opened #3249 "Add ctrl+click and shift+click support to multi-select"
Currently you have to use mouse drag to select multiple nodes in composer. Windows users expect to be able to use `ctrl+click` and `shift+click` to toggle item selection.  `shift+click` performs ranged selection and `ctrl+click` toggles the selection of a single item.  It would be nice if composer supported these key bindings in addition to mouse drag.

Additionally, you don't disable the property

[2020-05-31 20:05] Stevenic opened #3250 "Add Find & Replace feature"
## Is your feature request related to a problem? Please describe.

Refactoring variable names in composer is a bit of a pain. It would be great if there was a Find & Replace feature that you could use for this. For example I could enter "dialog.item" as the find string and "dialog.timer" as the replace string.  Pressing <next>/<previous> would move me between nodes containing "dialog.item".  Hitti

[2020-05-31 20:15] Stevenic opened #3251 "Add Expression support to BeginDialog & BeginSkill"
## Is your feature request related to a problem? Please describe.

Currently there's no way within composer of dynamically selecting the name of the dialog or skill you want to start.  For `BeginDialog` a simple fix would be to add an "Expression" entry to the drop down list composer shows:

![image](https://user-images.githubusercontent.com/698939/83361742-49d2af00-a340-11ea-9234-bdf22e902c47.png

[2020-05-31 20:15] cwhitten commented on #3243
@vishwacsena & @feich-ms I'm assigning this to you to make sure we fix `lubuild` to handle retries like this. I know this is the expectation but it doesn't appear to be working.

[2020-05-31 20:17] cwhitten commented on #3245
I don't believe this is possible today.

[2020-05-31 20:19] cwhitten commented on #3242
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/3167

[2020-05-31 20:19] #3242 closed

[2020-05-31 20:20] cwhitten commented on #3000
Closing without clear repro or understanding of the issue. Please open a new issue if this exists still with more detail

[2020-05-31 20:20] #3000 closed

[2020-05-31 20:22] cwhitten commented on #3190
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/3009

[2020-05-31 20:22] #3190 closed

[2020-05-31 20:22] KoradaRajesh commented on #3245
Then @cwhitten can you look into this issue #3240 at least if this is possible it will helpful for me to display multiple Rich message bubbles.

[2020-05-31 20:22] bartbilliet opened #3252 "Compare new luis model vs current production (batch testing)"
## Describe the solution you'd like

### Compare a new Luis model in Composer vs Luis model in production
Luis has a [batch testing](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-batch-test) feature which allows to check if your newly added utterances will not negatively affect existing intent recognition.
It would be great to have the ability to run batch testing fro

[2020-05-31 20:23] cwhitten commented on #3211
Closing as dupe of https://github.com/microsoft/BotFramework-Composer/issues/3091

[2020-05-31 20:23] #3211 closed

[2020-05-31 20:26] cwhitten commented on #3142
@boydc2014 I'm interested in this generally, but please be more detailed on what you would want to expose.

[2020-05-31 20:27] bartbilliet commented on #3167
@cwhitten ok, duplicate. Although in my experience, this does not only happen after a period of time. It happens live during clicking or typing in Composer and actually blocks me from making basic changes.

[2020-05-31 20:29] cwhitten commented on #3180
If there are no objections to sorting by $kind while we look for a more scalable UX control, let's go ahead with that.

[2020-05-31 20:32] cwhitten commented on #3228
@zhixzhan or @lei9444 can either of you look at this?

[2020-05-31 20:34] cwhitten commented on #3233
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/3009

[2020-05-31 20:34] #3233 closed

[2020-05-31 20:34] cwhitten commented on #3231
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/3091

[2020-05-31 20:34] #3231 closed

[2020-05-31 20:36] cwhitten commented on #3239
@KoradaRajesh see the TodoWithLuis sample for use of ExpectedResponses and entity extraction.

[2020-05-31 20:36] #3239 closed

[2020-05-31 20:37] cwhitten commented on #3240
Does this work if you write:
`=isMatch('dk8439', '([a-z]|[A-Z])')`

[2020-05-31 20:39] cwhitten commented on #3241
@KoradaRajesh see the Interruptions sample for correct use of Allow Interruptions. You can't specify an exact intent.

[2020-05-31 20:39] #3241 closed

[2020-05-31 20:42] cwhitten commented on #3251
This requires changes to the schema. Transferring to `botbuilder-dotnet`

[2020-05-31 20:47] cwhitten commented on #3248
Related:
https://github.com/microsoft/BotFramework-Composer/issues/2751
https://github.com/microsoft/BotFramework-Composer/issues/2858

[2020-05-31 21:18] KoradaRajesh commented on #3240
Thank you! @cwhitten

[2020-05-31 21:30] #3240 closed

[2020-05-31 21:32] cwhitten commented on #3167
Hi @bartbilliet. I understand. The class of bug is very likely the same. When the team looks at this we will make sure it addresses all scenarios where it manifests.

[2020-05-31 21:53] KoradaRajesh commented on #3241
I found some intents are getting added into Luis but I didn't get those intents in the dialog folder and there are no triggers as well

![image](https://user-images.githubusercontent.com/51915291/83363461-4cbcb680-a3b7-11ea-9bf9-51d8d799eed7.png)

[2020-06-01 02:06] feich-ms commented on #3243
This is similar issue of #3024. Actually for the limit control, we already had some solution to make sure they don't hit the limit in luis build package side. But sometimes they are not 100% synced with server side or multiple users are using same key at the same time. In such situation, users may run into such problem. But I'm assuming it's low frequency. We already have a PR here https://github.

[2020-06-01 03:36] mareekuh commented on #3176
This is a great point.... - I'll add this to our list to look into.

[2020-06-01 04:02] hibrenda commented on #2344
@HimajaKRNttData what error you hit ? If you installed  latest composer , this should work.

[2020-06-01 05:38] luhan2017 commented on #3247
@KoradaRajesh , could you provide more details? Here is what I am trying, and it works.

![image](https://user-images.githubusercontent.com/32191031/83379011-16aa2180-a40d-11ea-8378-ac5034eb9335.png)

![image](https://user-images.githubusercontent.com/32191031/83379028-245fa700-a40d-11ea-9dad-e48c83fb1638.png)

[2020-06-01 05:42] luhan2017 commented on #3246
I can't repro this, see what I saw in the emulator

![image](https://user-images.githubusercontent.com/32191031/83379294-b667af80-a40d-11ea-9839-680ae6d2a913.png)

[2020-06-01 05:43] SowmyaPitchika-Acu opened #3254 "Unable to load web application in an IFrame using Microsoft Edge browser."
I'm trying to load the web application on the Intranet web page through IFRAME. I'm getting the below error using microsoft edge browser but working fine with other browsers like chrome and IE. Web application is enabled with Azure AD Authentication.
![image](https://user-images.githubusercontent.com/60602402/83378804-88777080-a3f7-11ea-813b-8866c9f24aff.png)

[2020-06-01 05:45] luhan2017 commented on #3235
you can use "this.turncount" @KoradaRajesh

[2020-06-01 05:54] KoradaRajesh commented on #3235
Thank you! @luhan2017

[2020-06-01 05:58] hibrenda commented on #3252
BF CLI tool (bf luis :test) has already support the luis testing through .lu file format. We may need more design in UX part. @sangwoohaan @mareekuh .

[2020-06-01 06:06] luhan2017 commented on #3248
@bartbilliet , this is a known issue and we've fixed in #3128 , we will release a patch version soon, will keep you posted.

[2020-06-01 06:06] hibrenda commented on #3248
Dup with https://github.com/microsoft/BotFramework-Composer/issues/3114

[2020-06-01 06:07] KoradaRajesh commented on #3246
It's rendering like that in Facebook channel

[2020-06-01 07:01] yeze322 commented on #3227
Seems the bug only appears on Safari. It works on Windows platform. Could anyone help validating if it work on Chrome for Mac? We don't have a Mac for testing.

BTW where is this button `Edit.Paste from the main menu`?

[2020-06-01 07:02] hibrenda commented on #3228
This should be fixed in https://github.com/microsoft/BotFramework-Composer/pull/3197.
To mitigate this issue, you can try latest composer master.

By the way, this will also hit following error.
![image](https://user-images.githubusercontent.com/43408889/83383949-c46efd80-a418-11ea-8153-d7a288f4ec32.png)

mitigation would be : rename the bot without "-".
It is wired error as no error pop up if I c

[2020-06-01 08:04] yeze322 commented on #3249
I remembered it used to be on the R9 feature list, we cut it due to timeline pressure. @alanlong9278 can help with that.

[2020-06-01 08:31] yeze322 commented on #3227
I'm not sure if I got the repro steps accurately, but didn't repro it under Windows environment.
Then I asked Zhixiang to verify it on Macbook
![copy-on-safari](https://user-images.githubusercontent.com/8528761/83390934-4ebd5e80-a425-11ea-8255-6d3ad105bdef.gif)

[2020-06-01 09:09] yeze322 commented on #3227
If the bug still exits, I guess it's related to the module `FrameAPI` which should be retired after we removing iframe.

[2020-06-01 09:21] yeze322 commented on #2946
The custom Trigger topic is related to this issue. Besides the `IDialog` intefarce, handle the `ITrigger` interface as well.

[2020-06-01 09:30] #3235 closed

[2020-06-01 09:32] hibrenda commented on #3232
Thanks Artur, @mareekuh & @sangwoohaan be aware of this

[2020-06-01 10:08] xieofxie opened #3257 "Add an 'Update Luis only' button along side 'Start bot'"
## Is your feature request related to a problem? Please describe.

 I'm always frustrated when I am using a custom runtime but it is still managed by composer.

## Describe the solution you'd like

Add an 'Update Luis only' button along side 'Start bot'
Thus when I am using a custom runtime, I could start & debug the runtime myself.
The Luis update is not effected and runtime is not managed by com

[2020-06-01 11:12] HimajaKRNttData commented on #2344
@hibrenda, "Object reference not set to an instance of an object." This is the error i'm facing when i try to access QnA KB from the composer. I even tried adding '='  in the settings but it didn't resolve the issue. Also, I have the latest composer installed.

[2020-06-01 11:41] VanyLaw commented on #3226
Hi @KoradaRajesh, currently, we set resource group name like `${name}-${environment}`; If you service name is `pocbotdev`, you can add `hostname: pocbotdev` in your json profile and try again.

[2020-06-01 12:09] hibrenda commented on #2344
- make sure you set the correct content in setting page
- make sure no any other steps in case errors exist in other steps.
- after that if error still prompts, you can try this https://github.com/microsoft/BotFramework-Composer/issues/2941#issuecomment-625805892. But actually this is not must have with latest master. so I don't think this introduced by this if you are using latest composer.

[2020-06-01 13:09] arafattehsin commented on #3237
Hi folks! I re-installed from the link provided in the docs - the issue still persists. As soon as I close the Composer, it prompts me to uninstall.

[2020-06-01 14:26] bartbilliet commented on #3237
I'm experiencing the same issue:

Enabling the **Early Adopters** feature does uninstall Composer, but doesn't succeed installing the new build. No error messages are shown, but Composer just gets uninstalled every time after the Electron app is closed.

**Steps to reproduce the behavior:**

1. Activate in **Settings** the **Auto update** and **Early Adopters** features, such as in screenshots bel

[2020-06-01 16:08] benbrown commented on #3254
Hi @SowmyaPitchika-Acu  - what web application are you talking about, and where is it hosted?

[2020-06-01 16:49] benbrown commented on #3232
I think this is a good suggestion!

[2020-06-01 16:52] benbrown commented on #3227
@yeze322 I believe Scott here is referring to the "system" edit menu that appears in the windows app, not the Composer app toolbar.

[2020-06-01 16:54] benbrown commented on #3226
@KoradaRajesh as @VanyLaw said above, add the `hostname` key to your publish profile at the root level with the name of your already existing resource.

[code]

[2020-06-01 17:11] vishwacsena commented on #3153
@hibrenda @boydc2014 this seems related to the locale issue we saw in #1640

@MathieuDiepman can you share what your OS UI language as well as locale settings are for number format etc?

[2020-06-01 17:30] sgellock commented on #3227
@yeze322 @benbrown yes, ben is correct.  On macOS there are application top-level menus that allow what is being replicated in the actual application toolbar.
<img width="267" alt="Screen Shot 2020-06-01 at 10 29 37 AM" src="https://user-images.githubusercontent.com/733559/83436574-f3727880-a3f2-11ea-8ba7-2f5182c1f8c9.png">

[2020-06-01 18:37] mareekuh commented on #3232
I do too - I'd rather not have Regex by default, but when the user picks intent we should do the right thing.  (I thought this was already the case- I think this has come up before)

[2020-06-01 18:47] sangwoohaan commented on #3232
I like the second option. Great suggestions!

[2020-06-01 20:34] vishwacsena commented on #3243
@feich-ms That sounds right.

[2020-06-01 20:45] vishwacsena commented on #1003
@mareekuh @cwhitten I'd like to make progress on this in R10 or close it one way or another. Can you clarify if you believe this is an R10 issue for composer?

For prebuilt LU, we can totally have the LUIS pre-built domain intents and entities available as LU files. We would simply need to coordinate with LUIS team to figure out the source for those and have them be pulled in by composer so we do

[2020-06-01 20:45] hristp opened #3260 "Saving a new bot doesn't let me create a new folder for it"
Could be either a bug or a feature, but this functionality is pretty standard, so I'm leaning towards bug.

When creating a bot, the folder selection pop up only allows selecting an existing folder. Should be allowed to create a folder here, too.

[2020-06-01 20:52] Todd442 opened #3261 "Action - Ask Question: String validation Expression - Doesn't appear to work"
There doesn't appear to be a way to validate a sting value enter in the "Ask Question" action.

The weather sample uses a "length(this.value) == 5" expression to validate the users entered value.

What if you need to actually do a string comparison "this.value == 'full'" as an example.

I have tried using 'string(this.value) == 'full'"

I can confirm this works if I use any fuction that processes

[2020-06-01 20:55] hristp opened #3262 ""Define conversation objective" popup is too generic, needs to be customized for different cases when it's called"
There's a generic popup that happens for a bunch of user actions (see screenshot):
Define conversation objective
What can the user accomplish through this conversation? For example, BookATable, OrderACoffee etc.

This text seems to show up for everything, but is super confusing because it's not applicable to many cases?
* Move an object in your design window? = "Define conversation objective"
* Sa

[2020-06-01 20:59] hristp opened #3263 "Be able to drag and drop dialog elements in the visual editor"
Would be great to select an element (e.g. send a response), and drag it to a different location.

This would make moving elements much easier, as well as more user-friendly to fix an element accidentally put in the wrong place.

[2020-06-01 21:01] Todd442 opened #3264 "LUIS Scoring not evaluated in trigger evaluation"
![image](https://user-images.githubusercontent.com/7561232/83453885-e66c7e00-a420-11ea-92d5-ba620c6a8ecc.png)

If you also include another dialog that asks for user input that allows for interruption, Other dialogs trigged based on LUIS intents are fired even though their scores do not meet the threshold.

please note the LUIS score returned during testing yet the Cancel rule required a great than

[2020-06-01 21:07] mareekuh commented on #1003
1. Prebuilt -> Use LUIS domains : Yes
2. LG -> ask Lisa : Yes. (We can also ask the Marvel team who does the personality chats) - I'll ask and maybe we get both
3. Dialog snippets: The Samples include have pretty good building blocks. Right now they're full bots, but for
- asking questions
- interruptions
- Controlling conversation flow has a lot of them
..

[2020-06-01 21:09] hristp opened #3265 "provisionComposer.js should create a full bot, rather than a bot registration"
I followed this doc: https://docs.microsoft.com/en-us/composer/how-to-publish-bot

I ran the provisionComposer.js script:
node provisionComposer.js --subscriptionId=<YOUR AZURE SUBSCRIPTION ID> --name=<NAME OF YOUR RESOURCE GROUP> --appPassword=<APP PASSWORD> --environment=<NAME FOR ENVIRONMENT DEFAULT to dev>

But this provisioned a bot registration. I was expecting this to have deployed my full

[2020-06-01 21:42] tonyanziano commented on #3237
Sounds like it's related to this issue:

https://github.com/electron-userland/electron-builder/issues/2363

I'm looking into it.

[2020-06-01 21:50] tonyanziano commented on #3237
@arafattehsin & @bartbilliet when you install the app can you try installing it for the current user only by selecting the following radio button in the installer:

![image](https://user-images.githubusercontent.com/3452012/83458268-16af1f00-a417-11ea-9c39-dca3980775e9.png)

Another alternative would be to make sure you are running Composer as an administrator if possible.

It seems like there mig

[2020-06-01 22:33] bartbilliet opened #3267 "CustomAction not working on Azure Functions"
## Describe the bug

The [instructions for adding custom actions](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action) don't work for Azure Functions app:

- There are 2 .csproj files in the azurefunctions folder (*Microsoft.BotFramework.Composer.Functions.csproj* and *Microsoft.BotFramework.Composer.FunctionTemplate.csproj*), it should be indicated that the correct one to edit is:

[2020-06-01 23:03] bartbilliet opened #3268 "Docs: Publish to Azure Functions"
The [docs pages on how to publish a bot to Azure](https://docs.microsoft.com/en-us/composer/how-to-publish-bot#create-azure-resources) are well written, but mostly with only Azure Web App publishing in mind. Please include in the docs pages that parameter `-customArmTemplate` with value `DeploymentTemplates/function-template-with-preexisting-rg.json` is required in the 'node provisionComposer.js'

[2020-06-01 23:39] bartbilliet commented on #3237
@tonyanziano Your assumption seems correct. When running as "only for me" the UAC dialog does not appear, and installation seems to work (at least from what I can see in add/remove programs).
After installation, however, I can not open Composer. Clicking the start menu & desktop icons launches 3 processes in task manager, but no UI is loading. But that might be a different issue (maybe a problem w

[2020-06-02 00:03] arafattehsin commented on #3237
Yes, the **Only for me** option works well now.

[2020-06-02 00:17] vishwacsena commented on #3245
Here are few ways to achieve what you are trying to do..

**Option 1:**

[code]

**Option 2:**

[code]

[2020-06-02 00:17] #3245 closed

[2020-06-02 02:23] yeze322 commented on #3227
@benbrown @sgellock thanks all! I got it

[2020-06-02 02:38] yeze322 commented on #1776
Now we force every action has a $designer id, this issue is fixed

[2020-06-02 02:38] #1776 closed

[2020-06-02 02:39] yeze322 commented on #1017
I just tested on our latest build, already fixed.

[2020-06-02 02:39] #1017 closed

[2020-06-02 02:40] boydc2014 commented on #2730
Close to not valid anymore

[2020-06-02 02:40] #2730 closed

[2020-06-02 02:43] yeze322 commented on #2912
relates to #2581

[2020-06-02 02:49] boydc2014 commented on #3107
@liweitian can we at least to show the file path of the malformated file so user can manually correct that

[2020-06-02 02:51] boydc2014 commented on #3111
Close this in favor of microsoft/botbuilder-dotnet#4001

[2020-06-02 02:51] #3111 closed

[2020-06-02 02:58] boydc2014 commented on #3167
This may due to LSP connection break after a long time, @zhixzhan is looking at ignoring this specific issue and reconnect after a certain period.

[2020-06-02 03:05] zhixzhan commented on #3167
Sure, will fix soon

[2020-06-02 03:17] boydc2014 commented on #3189
This is what i refereed as the pattern of VS in our previous chat, @tomlm @cwhitten what do you think?

[2020-06-02 05:05] SowmyaPitchika-Acu commented on #3254
Hi @benbrown,
1. Asp.Net Webforms application hosted in Azure.
2. Loading this web application on the Intranet web page through IFRAME.
3. Enabled Azure AD Authentication.
4. The intranet is SSO enabled with OKTA.

[2020-06-02 06:05] hibrenda commented on #3262
https://github.com/microsoft/BotFramework-Composer/issues/2977

[2020-06-02 06:08] hibrenda commented on #2977
@mareekuh do we sign off on this so we can start the dev work.

[2020-06-02 06:51] yeze322 commented on #3227
Investigated this issue, not likely to fix it in Composer Web, probably we can fix it in Compose Electron.

The [Menu Bar menus](https://developer.apple.com/design/human-interface-guidelines/macos/menus/menu-bar-menus/) are controlled by MacOS, pressing a keyboard shortcut can trigger that event; but clicking on the menu won't fire key pressing events. Thus our Keyboard Shortcut listener will neve

[2020-06-02 07:24] xieofxie opened #3269 "enable set skill directly instead of only from manifest url"
## Is your feature request related to a problem? Please describe.

I'm always frustrated when I am debugging bot-skill interaction. I need to set a manifest file which is only needed to provide information like appid, url that could be set directly.

## Describe the solution you'd like

The user could provide either manifestUrl or the required values:
![image](https://user-images.githubusercontent

[2020-06-02 07:49] VanyLaw commented on #3208
Hi @cxbuilders, Do you mean you setup a pipeline for Bot to do the CICD whenever the Bot update? I think you can go through the provision to get resources first. Then set those into `appsettings.deployment.json` which composer also did the same operation in deploy. But I'm afraid you need to get your accessToken update everytime you run the pipeline (maybe you can set in yaml file).
Authoring Key

[2020-06-02 07:50] VanyLaw commented on #3208
Maybe this Doc can help you.
https://docs.microsoft.com/en-us/azure/architecture/example-scenario/apps/devops-cicd-chatbot

[2020-06-02 08:09] UmaPrelude opened #3271 "Local PDF File - Bot Framework Composer"
Hi,
I want to know how to refer a local pdf file in composer.
For ex: i have a pdf which needs to be opened while clicking on a hero card button.
how to create folder in composer and refer the pdf.
like http://localhost:3979/Files/MyPDF.pdf.

Thanks in advance.

[2020-06-02 08:14] luhan2017 commented on #3271
Can you eject your runtime? put it under the wwwroot folder of runtime and check whether it works?

![image](https://user-images.githubusercontent.com/32191031/83496727-159bf180-a4ec-11ea-8e3e-7d56d60ab20d.png)

[2020-06-02 08:15] luhan2017 commented on #3268
@zxyanliu could you help on this?

[2020-06-02 08:21] luhan2017 commented on #3265
@hristp , the provision script is just designed for creating services/resources in azure, for a deployment, you should

1. Add new profile and paste your provision result there.
2. Publish to selected profile

Thanks for your feedback, we will continue to improve the publishing experience in our next release.

[2020-06-02 08:24] UmaPrelude commented on #3271
Hi @luhan2017 ,
Thanks a lot. That worked.

[2020-06-02 08:24] #3271 closed

[2020-06-02 09:06] VanyLaw commented on #3228
@hibrenda **Only absolute URLs are supported** issue is cause by lubuild. @lei9444  will help to solve this issue.

[2020-06-02 09:09] luhan2017 commented on #3264
@Todd442 I tried the ToDoBotWithLuisSample in composer which have similar functionalities, but it worked fine in my side, could you share more details of your bot logic or zip your bot and share? Then I can help debug on this.

[2020-06-02 10:56] VanyLaw opened #3272 "Enable Js runtime as azurewebapp"
## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-06-02 12:15] hibrenda commented on #3265
close it as this is the expected design.

[2020-06-02 12:15] #3265 closed

[2020-06-02 12:34] hibrenda commented on #3261
@Todd442  this should work.
![image](https://user-images.githubusercontent.com/43408889/83520599-7f2df700-a510-11ea-9eef-6b29e8135b7e.png)

[2020-06-02 12:37] hibrenda commented on #3260
@hristp  Thanks for the feedback. This a feature and we are aware of this . so label change to Enhancement.

[2020-06-02 12:55] hibrenda commented on #3269
@mareekuh @sangwoohaan  do we have more options for skill page.

[2020-06-02 13:00] Todd442 commented on #3264
@luhan2017 Thanks for responding. I was using the Weather tutorial as the base then added another dialog triggered on a different intent. This works as expected. It was only when I added as Ask Question activity with "allow interruption" == True that this occurs.

I will see if I can package that up today and include it here

[2020-06-02 13:01] Todd442 commented on #3261
@hibrenda - Confirmed this does not work. I have others also confirm this is an issue

[2020-06-02 13:04] Todd442 commented on #3261
@hibrenda - BTW: Thanks for responding. Further clarification, we tried the above as well as about 15 different permutations and as long as you include a built in function like "length" the content of "this.value" is evaluated.

The simple string comparison above just doesn't work.

[2020-06-02 13:23] hibrenda commented on #3232
More triggers will be introduced which may attach to different recognizer type as well.
eg. QnA Recognizer for  OnQnAMatch , RecognizerSet(LUIS+QnA) for OnChooseIntent.
So we may need more discussion for the consistent UX experience.

[2020-06-02 13:47] hibrenda commented on #3228
Now figured out as above renaming does not change lu file name in the dialog file. so this step work around the luis publish. That's why no errors pop up.

[2020-06-02 13:50] hibrenda commented on #3228
endpoint issue is tracked by https://github.com/microsoft/BotFramework-Composer/issues/2986 .

[2020-06-02 14:03] cxbuilders opened #3275 "Custom Deployment -> Response status code does not indicate success: 403 (Forbidden)."
I have setup a Custom Deployment using the ARM template in Azure Devops and all is running fine, except for when a Luis call is made in the Emulator. It then responds with :
Response status code does not indicate success: 403 (Forbidden).

What is causing this? I have nicely both the normal and authoring Luis endpoints and both keys are in the appSettings.json and are correct. Is there any other s

[2020-06-02 14:06] cxbuilders commented on #3208
@VanyLaw The pipeline handles both deployment and publishing of the bot. During publishing however I want to update Luis and I need to extract the Luis key from the repo somehow. How can I do this?

[2020-06-02 14:31] #3185 closed

[2020-06-02 14:33] hibrenda commented on #3261
could you attache the bot you are using  so we can further debug?

[2020-06-02 14:50] Todd442 commented on #3261
[WeatherTutorial.zip](https://github.com/microsoft/BotFramework-Composer/files/4717877/WeatherTutorial.zip)

Here's the code. @hibrenda

[2020-06-02 15:05] cwhitten commented on #3227
@yeze322 why are you labeling this as Blocked?

[2020-06-02 15:48] #2986 closed

[2020-06-02 15:48] #3228 closed

[2020-06-02 16:00] zxyanliu commented on #3268
@luhan2017 Sure. I will take a look.

[2020-06-02 16:20] tonyanziano commented on #3156
I'll look into this.

[2020-06-02 17:26] tonyanziano commented on #3156
@arafattehsin are you running Composer as administrator?

[2020-06-02 17:40] tdurnford commented on #3261
@Todd442 In the "User Input" tab on the Text Input component, you have the  'Output format' property set to `=toUpper(this.value)` which is causing the validation to fail. I recommend that you either remove the 'Output format' or change the validation to match that logic - `this.value == 'FULL'`.

[2020-06-02 18:46] sbacha commented on #3163
Heyy @cxbuilders ,

PVA allows last user utterance passed to skill by leveraging the activity type “message” in the manifest.

What this means:
Once you switch the activity type to “message” in manifest:
No longer need that input utterance
PVA will send the last thing the user said as part of the 1st request to the skill.
This will allow the skill to leverage its own NLU to determine intent and en

[2020-06-02 19:19] AndyHue opened #3277 "Composer keeps changing my code."
I create a ask a question action and when I type the text it keeps changing to this
- ${TextInput_Prompt_08NWN4()} and en error occurs, a window shows up saying something went wrong and re-try to change it and goes back to - ${TextInput_Prompt_08NWN4()}

## Version

V 1.0
Electron 8.0.2
Chrome 80.0.3987.86
NodeJS 12.13.0
V8 : 8.0.426.16-electron.0

## Browser

- [X ] Chrome
- [ ] Safari
- [ ] Fire

[2020-06-02 19:20] cwhitten commented on #3277
hi @AndyHue - this is a known issue and being actively worked in. We will submit a patch that addresses this.

[2020-06-02 19:21] AndyHue commented on #3277
Fantastic @cwhitten really appreciate it mate, have a good one!!

[2020-06-02 19:48] tdurnford commented on #3246
@KoradaRajesh I was able to reproduce this issue in Facebook Messenger using Composer; however, I was also able to reproduce the issue just using the BotBuilder-JS SDK. Since this issue reproduces in both SDK runtimes - C# and JS - this is most likely an issue with the Facebook Connector Service or the Facebook Messenger Channel itself.

### Composer (C#) - Language Generation
![image](https://use

[2020-06-02 19:54] GeoffCoxMSFT opened #3278 "ToDoBotWithLuisSample has itemTite in dialog properties"
## Describe the bug

The AddItem and DeleteItem dialogs in the sample use @itemTite rather than @itemTitle in the expression value.

## Version

(No SHA found on the about page)
Release: 1.0.0

## Browser

- [X ] Chrome
- [ ] Safari
- [ ] Firefox
- [ X] Edge Chromium

## OS

- [ ] macOS
- [X ] Windows 10
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open sample
2. Navigate to

[2020-06-02 20:38] #3278 closed

[2020-06-02 22:46] zxyanliu commented on #2036
Should I close this issue due to inactivity? thoughts?

[2020-06-02 23:07] arafattehsin commented on #3156
Hi @tonyanziano - No. I am not a System Administrator but after re-installing it and running it with *Just for me* I do not get an error. However, I also do not get any prompt as **Composer is up to date** but it gets updated at the backend.

Secondly, the latest Nightly build does not launch for the folks who are not Administrator :)

[2020-06-02 23:11] tonyanziano commented on #3156
Hi @arafattehsin ,

Thanks for all the info!

Another Composer dev and myself looked into this issue and it seems that the following factors result in the UAC prompt:

- The user installed Composer "for all users"
- The user **did not** run Composer as admin
- The user enabled the auto updates (silent install) option

Some workarounds for this include:

- Install Composer for "only current user"
-

[2020-06-02 23:30] tonyanziano commented on #3237
Another Composer dev and myself looked into this issue and it seems that the following factors result in the UAC prompt (all 3 conditions must be true):

- The user installed Composer "for all users"
- The user **did not** run Composer as admin
- The user enabled the auto updates (silent install) option

Some workarounds for this include:

- Install Composer for "only current user"
- Install Compo

[2020-06-03 00:43] luhan2017 commented on #3275
Could you check your settings in appsettings.deployment.json? We are using this configuration for a deployed bot to avoid the mixing up between local and deployed environment.

[2020-06-03 03:13] xieofxie commented on #2036
Up to now(74299ee0138136d2b3c70c8d6333891302b5edb5), it still uses 'All' for common..

[2020-06-03 04:02] xieofxie opened #3283 "support for manifest for skill"
## Is your feature request related to a problem? Please describe.

When the composer bot runs as a skill, we need a manifest.

Do we have a plan for adding a page to edit this?
Or we could just start by adding one in the runtime\dotnet\azurewebapp\wwwroot folder.
Thanks!

By the way, we used to have a 'searching similar issue' ability when submitting a new issue, now it is gone..

## Describe the

[2020-06-03 06:54] VanyLaw commented on #3208
@cxbuilders, luis key is come from azure luisAuthoring resource (check it in azure portal Keys and Endpoint) or luis portal. It's not generated by composer or Bot, So I think you don't have to extract the Luis key from the repo. You can just set your luis key you get from azure resource in pipeline.

[2020-06-03 06:54] xieofxie opened #3284 "provide warning if id & host endpoint not set when using skills"
## Is your feature request related to a problem? Please describe.

 I'm always frustrated when I forget to set them and it takes time to figure out why my skills don't work.

## Describe the solution you'd like

Provide warning if id & host endpoint not set when using skills:
![image](https://user-images.githubusercontent.com/2876650/83605106-ecda3180-a5a9-11ea-81ed-f2e311676b68.png)

## Describe

[2020-06-03 06:56] cxbuilders commented on #3163
@sbacha As I stated in my original question, I want to be able to do both. Call an specific action AND pass the last user utterance for entity extraction. It does not make sense to be able to either just pass the full utterance and have the skill figure it out OR call an action whilst there is additional entity info in the user utterance in PVA.

So calling an action to start a specific dialog in

[2020-06-03 07:08] cxbuilders commented on #3163
Probably an example will explain this better.

Suppose I have a skill with 2 intents (and entities)
- Boook meeting (startTime, endTime, location)
- Show meetings (date)

Calling the skill from a PVA I currently have two options;
**Message activity**
Create an intent in PVA that catches all meeting related input and call the message action. So Book a meeting tomorrow at 10:00 will activate the Boo

[2020-06-03 07:18] cxbuilders commented on #3275
@luhan2017 I don't have an appsettings.deployment.json. I do see one in another skill that has a custom runtime, but this one does not.

It would be really helpful if one could explain how Luis is deployed, published and used in the local vs azure setup.

[2020-06-03 07:24] knightmeister opened #3286 "Question: Conversation logging"
Is there any documentation for logging conversations with Composer?

We are porting a bot written in C# and logging is a hard requirement for us for auditing and repudiation reasons.

I see #2339 has raised this, the response appears to address storing bot state in Cosmos DB and not logging. I have set this up locally and all I see in my local Cosmos instance is bot state - no logs.

Thanks.

[2020-06-03 07:26] ms-yuhara opened #3287 "Missing way to extract only the keys from a JSON object"
## Is your feature request related to a problem? Please describe.
I use [Send an HTTP request] feature to call an external REST API, which returns a JSON object that looks like this:

[code]

I would like to get an array containing only the keys from this JSON result and let the user select it, but I can't find such a function in the adaptive expressions and can't achieve it.
In the above example,

[2020-06-03 07:26] cxbuilders commented on #3208
@VanyLaw Yeah I extract it from the arm deployment step in my pipeline and output that. Then I copy these settings over in Composer Bot Settings. So Composer does have it somewhere (it removes the keys from the settings and stores is where?)

I guess for now I will take the pipeline variables route and keep the secrets there.

[2020-06-03 07:29] knightmeister opened #3288 "Question: Use existing LUIS instance"
Is it possible to use an existing LUIS instance, or at the very least change the generated LUIS name? The format [project](Composer)-[project].en-us.lu is verbose.

[2020-06-03 08:12] yeze322 commented on #3227
Oh did I misused this label? I marked it as 'blocked' because I thought we may not be able to fix this issue in Composer Web. Need help on fixing that

[2020-06-03 08:16] luhan2017 commented on #3288
@knightmeister Thanks for your feedback.

You can customize your bot name here
![image](https://user-images.githubusercontent.com/32191031/83612706-590e6280-a5b5-11ea-91c1-d7d07dfb559c.png)
Then luis service name will be YourBotName(environment)-DialogName.en-us.lu

[2020-06-03 08:31] Danieladu commented on #3287
`foreach(items, item, item.key)` supposed to work

[2020-06-03 08:33] zidaneymar commented on #3286
@knightmeister Hi, currently composer runtime is using telemetry client to Log information, you can use 'telemetry' config section to control the behavior of telemetry. (In Composer settings)
[code]

And If you want to know the concrete activities, you should config
[code]
in your Composer settings, which has the properties named 'ConnectionString' and 'Container' to enable TranscriptLoggerMiddlew

[2020-06-03 08:40] luhan2017 commented on #3275
For local, the step is
1. Fill in the luis settings in the publish luis page. (those settings will be saved in botfolder/settings/appsettings.json)
2. Call lubuild, output is the generated folder.
3. Start botruntime.

For azure, the step is
1. Run the provision steps, which will provisioned two luis services for you(luis authoring and luis prediction), those settings are outputted as a publish pr

[2020-06-03 09:06] zidaneymar opened #3290 "Should Add Possible Values Hints for Enum Type"
I think Composer should provide more hints for what kind of the enum value could be set to a specific field.

For example, in Activity Received Trigger, If user want to set the 'activity type' field, maybe he would be confused because this is a enum type. All possible values are
[code]
But currently composer is just showing the description in sdk.schema.
![image](https://user-images.githubusercont

[2020-06-03 09:16] ms-yuhara commented on #3287
Thanks. Specifically, how can I describe that in Composer's [Set a property]?

![image](https://user-images.githubusercontent.com/38028987/83618988-333d8980-a5c6-11ea-8493-9d12f0252f0e.png)

[2020-06-03 09:25] ms-yuhara commented on #3287
Wow, I have achieved my objective with the following. Thanks a lot!

[code]

The documentation is [here](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#foreach).

[2020-06-03 09:25] #3287 closed

[2020-06-03 09:27] zidaneymar commented on #3246
@Danieladu I could repro this on facebook channel,
`- # '${turn.activity.text}'`

screenshot:
![image](https://user-images.githubusercontent.com/9328933/83620025-4bf67100-a5bf-11ea-80dc-b5c05c5708db.png)

Is this a LG issue?

[2020-06-03 09:44] luhan2017 commented on #3182
@OliverZ , sorry for the late response, what message did you get for dotnet restore?

[2020-06-03 09:45] hibrenda commented on #3290
@sangwoohaan be aware of this.

[2020-06-03 09:47] hibrenda commented on #3288
@knightmeister is this meet your requirement ?

[2020-06-03 09:56] hibrenda commented on #3286
need to add blob storage configuration in setting.

[2020-06-03 09:59] hibrenda commented on #3284
Good suggestion!

[2020-06-03 10:00] hibrenda commented on #3283
we have skill manifest editor and not fully implemented in current version. We do have plan to add more later. Thanks for the feedback.

[2020-06-03 10:51] VanyLaw commented on #3208
Because of secrecy problem, we won't persist luiskey into settings file in disk. We save those value into localStorage in Browser.

[2020-06-03 10:54] xieofxie opened #3295 "opening project is extremely slow now"
## Describe the bug

When opening a big project like https://github.com/microsoft/botframework-skills/tree/preview-build2020/skills/declarative/todoskill, it is extremely slow now.

## Version

74299ee0138136d2b3c70c8d6333891302b5edb5

## Browser

- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1.

[2020-06-03 10:55] VanyLaw commented on #3208
Another way is you can eject runtime in composer and make some changes under runtime folder. Then  using the customized runtime to do the publish.

[2020-06-03 11:02] xieofxie opened #3296 "output logs from runtime to console"
## Is your feature request related to a problem? Please describe.

I'm always frustrated when there is some runtime server error and I don't know the cause

## Describe the solution you'd like

Output error logs from runtime to console as what we have done for building the runtime

## Describe alternatives you've considered

## Additional context

[2020-06-03 11:19] xieofxie opened #3297 "don't clear password & luis keys in appsettings.json"
## Is your feature request related to a problem? Please describe.

I'm always frustrated when I set them manually, they will be cleared by composer in the file.

## Describe the solution you'd like

Keep them. Users write them at their own risk.

## Describe alternatives you've considered

## Additional context

[2020-06-03 11:30] ThoSt81 opened #3298 "LG files keep getting deleted"
Randomly (it appears that way) some of my LG files get removed. The last time this affected the <botname>.en-us.lg file under <projectpath>\<botname>\language-generation\
This happened a few times already and I have no explanation why. I'm not sure if it's always the same file but I will keep an eye on it.

Since my project folder is stored in OneDrive, I am able to recover the file from the recyc

[2020-06-03 14:02] cxbuilders opened #3299 "Luis Bot -> Error: Response status code does not indicate success: 403 (Forbidden)."
When a new bot is created with Luis enabled, in the Emulator it throws an error:
Response status code does not indicate success: 403 (Forbidden).

## Version

ffde16f0

## To Reproduce

Steps to reproduce the behavior:

1.Create new echo based bot
2. Switch to Luis and add trigger with intent and some utterances
3. Run provision script
4. Copy settings from script in Bot settings in Composer
5. St

[2020-06-03 14:04] cxbuilders opened #3300 "Create Publish Profile -> Error: undefined is not a valid publishing target type. There may be a missing plugin."
When creating a new publish profile it always throws this error
![image](https://user-images.githubusercontent.com/49873947/83646380-d9cc5f00-a5b3-11ea-85e4-72461d9d2ae6.png)

## Version
ffde16f0

[2020-06-03 14:06] cxbuilders opened #3301 "Publishing -> Error: Only absolute URLs are supported"
## Describe the bug

When creating a new Publishing Profile and copying over the settings from the provisioncomposer script and then running it it always fails with the following error;
![image](https://user-images.githubusercontent.com/49873947/83646547-1009de80-a5b4-11ea-8e13-c46787e0fab8.png)
![image](https://user-images.githubusercontent.com/49873947/83646624-316aca80-a5b4-11ea-8da8-e2f004be3a

[2020-06-03 14:06] #3283 closed

[2020-06-03 14:07] cxbuilders commented on #3275
@luhan2017 Thanks for the information. I have the same issue on a normally deployed bot, so I guess that it is not related to the pipeline itself vs the normal deployment. Thanks for the info that is really helpful though.

[2020-06-03 14:07] #3275 closed

[2020-06-03 15:30] #3267 closed

[2020-06-03 15:53] lei9444 commented on #3295
![image](https://user-images.githubusercontent.com/39758135/83658555-f2a93480-a5f4-11ea-9b0d-499488a5f69a.png)
I have found lg parser took a lot of time. @Danieladu has a PR to improve the lg parser performance now.

[2020-06-03 16:54] #3167 closed

[2020-06-03 16:57] benbrown commented on #3254
@SowmyaPitchika-Acu Sorry, does this have to do with Bot Framework Composer?

[2020-06-03 18:55] Msutapalli opened #3304 "Unable to add promts"
Sometimes I can able to add prompts perfectlu, but while I'm in middle of developing it I'm getting issues with the promts.

[2020-06-03 19:12] GAURI02X commented on #3160
Hi Team,
Could you please help me with the exact change needed in js file. I got the same "user was not found" error while publish bot made from composer. I had azure subscription from hotmail account. Uploaded provision composer js file as zip for your ref. Do let me know if more info needed.
[provisionComposer.zip](https://github.com/microsoft/BotFramework-Composer/files/4725668/provisionCompose

[2020-06-03 19:21] GAURI02X commented on #3160
Hi,
After making below change, I am still getting same error - "user was not found". I am using azure subscription from hotmail account.
msRestNodeAuth
  .interactiveLogin({ domain: tenantId })
  .then(async creds => {
    const createResult = await create(
      creds,
      subId,
      name,
      location,
      environment,
      appId,
      appPassword,
      createLuisResource,
      creat

[2020-06-03 19:58] #3237 closed

[2020-06-03 20:17] beyackle opened #3307 "Refactor for code style and cleanliness"
The current codebase has a lot of style and typing issues that we should be refactoring out in the name of code cleanliness. This issue is just here so we have a unified place to track PRs related to that instead of just relegating them all to "minor".