[2020-08-10 08:35] zhixzhan commented on #3746
@shingosakamoto Can you open on `ComposerDialogs` folder?
We have migration script in early version releases( v1.0.0). downloads from
https://github.com/microsoft/BotFramework-Composer/tags

[2020-08-10 08:37] Bernardo08pt commented on #3769
Hi

I have the Luis and the Luis_Authoring but I can't set a paid tier on the authoring.

[2020-08-10 15:05] df9723 commented on #3746
Hi Shingo,
I am currently using version 1.0.2. I do not have exact detail on the previous version, I originally created my project with, but judging from the date they were saved, it could be version 0.0.3 or 0.0.4.

Thanks,
Doug

[2020-08-10 16:18] UmaPrelude opened #3823 "Skill Response does not added to composer bot conversation in emulator"
Hi,
I am using a middleware and messagerouter.sendtoconversationasync method, i am able to receive it in skill controller but the same is not listed in the bot response in emulator.
If anyone can provide me some support, it is great.

[2020-08-10 16:56] #3814 closed

[2020-08-10 19:00] shingosakamoto commented on #3746
Hi @zhixzhan @zxyanliu,
Thanks, I'm using v 1.0.2 now and able to open "ComposerDialogs" folder from latest version, but it show only Dialog folder name listed in the design panel but design flow doesn't show up in the main window.

Here is couples of error messages:
Invalid template name. Template names can only contain letter, underscore '_' or number. Any part of a template name (split by '.')

[2020-08-10 19:17] tdurnford commented on #3813
Can you double check the url you are using to add your skill? It looks like its incorrect - `manifests` should be plural. When you add a skill, Composer tries to fetch the manifest to make sure it is a valid skill. If it is not, it raises an error. The url should look like `http://localhost:<PORT>/manifests/<MANIFEST_NAME>.json`.

[2020-08-10 19:37] mareekuh commented on #3655
Replaced some of the definitions based on input from Composer Leads and Design review with LIli (08.06.2020)-

[2020-08-10 19:38] mareekuh commented on #3655
@sangwoohaan Could you add links to the scenarios above to ensure we have all of them addressed?

[2020-08-10 20:56] sangwoohaan commented on #3655
@mareekuh Links added - I'll keep filling in the list as the designs gets finished.

[2020-08-10 20:59] a-b-r-o-w-n opened #3824 "user settings are no longer being written to local storage"
## Describe the bug

When changing a user setting, such as line numbers, the setting is no longer written to local storage. So refreshing the page results in the setting being reverted.

[2020-08-10 21:23] beyackle commented on #3824
Side note: the settings are being written to the Recoil store, so they do persist through a single session, but since they're not in local storage, they don't last beyond a reload.

[2020-08-10 23:16] #3824 closed

[2020-08-11 02:04] zhixzhan commented on #3746
The recently version of LG changed the `template naming` policy, more like programing language variables naming, then `.` is not valid, I guess in this case you have to manually rewrite them and the usages in *.dialog.

Not this, bot structure migration script removed in https://github.com/microsoft/BotFramework-Composer/commit/17f23d275e239866e55ff903c7578e6f8f1f1ed6#diff-7d0205ae326924b0c65203f0

[2020-08-11 04:38] sriget opened #3826 "Welcome greeting message not showing On load - composer bot hosted in Web chat channel"
Hi
  This might be related to #1780
  When I host the composer bot hosted in web chat channel directline, welcome greeting is not showing on load. But it shows in bot emulator. I'm using the latest composer v1.0.2  and below is the welcome dialog flow.

![image](https://user-images.githubusercontent.com/35751420/89857325-602b9100-db61-11ea-9e2b-b28380fffe06.png)

If i remove that if/else branch ,

[2020-08-11 08:25] luhan2017 commented on #3826
@sriget, did you use secret or token to connect to web chat channel? This is by design that, if you are using the secret to connect to web chat channel, the OnConversationUpdate will be fired twice separately and the first one is when you open webchat, and MembersAdded is bot, the second one is then user first talk to bot, the MemberAdded is user.

You could work around this by using token to conn

[2020-08-11 08:37] luhan2017 commented on #3818
@likith3611 , if you are using the composer locally, you could do this:

1. go to luis website, find the application, and bind it to a prediction resource.
2. Then copy the prediction service key, and place it to luis.endpointKey.
3. restart your bot and try again.

![image](https://user-images.githubusercontent.com/32191031/89876216-ec38c980-dbf0-11ea-8179-e74a1e863635.png)

[2020-08-11 08:46] zidaneymar commented on #3823
Hi @UmaPrelude , could you provide more details? You mention that you have set up your middleware, what kind of functionality does your middlerware provide? The bot doesn't reply anything but the message is received by SkillController, could your bot send the response successfully without configuring the middleware?

[2020-08-11 09:11] luhan2017 commented on #3631
@kshyambabu , can we close this issue?

[2020-08-11 09:14] luhan2017 commented on #3538
@cxbuilders , we have investigated and found the root cause, https://github.com/microsoft/BotFramework-Composer/issues/3631#issuecomment-668467848, in one word, we highly recommend to use token instead of secret to connect to webchat.

[2020-08-11 09:14] #3460 closed

[2020-08-11 10:04] eluchsinger commented on #3826
@luhan2017 wow... do you have further documentation or How To's to use the token instead of the secret?

[2020-08-11 10:06] eluchsinger commented on #3826
Looks like I am using the token already, but the Bot still doesn't start the conversation when it's hosted in the Web Chat channel.

![image](https://user-images.githubusercontent.com/12324017/89885256-137ca000-dbcb-11ea-98b6-b852c23a9106.png)

[2020-08-11 11:08] xhr0804 opened #3827 "Bot publish fails with "Command failed: dotnet publish""
## Describe the bug
I'm working on my bot, and it works good previously.
But today, when I update my code and republish it, I met with some errors.
![image](https://user-images.githubusercontent.com/44257569/89890036-3b88f500-dc05-11ea-9a68-73ce2d915ac0.png)
I've configured a custom runtime, and looks like this folder "C:\Users\huanx\AppData\Roaming\BotFrameworkComposer\publishBots\46b5d66baca08ea

[2020-08-11 11:47] UmaPrelude commented on #3823
Hi @zidaneymar,
Thanks for your response. I am trying to have transfer to human agent as a skill and trying to call from composer bot.
As part of that i am using messagerouter to send messages.
![image](https://user-images.githubusercontent.com/65938026/89893255-a3cfda80-dbf5-11ea-9fdd-8ef47ce9b8f1.png)
![image](https://user-images.githubusercontent.com/65938026/89893516-20fb4f80-dbf6-11ea-96b9-0a

[2020-08-11 11:56] luhan2017 commented on #3826
@eluchsinger , did you run this step to get token by secret? https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0#generate-token  I am not sure the token you add here is secret or token? could you please double check?

[2020-08-11 13:12] arafattehsin commented on #3813
Hi @tdurnford - the manifest link is correct. As I mentioned earlier that the same skill is working with another bot (in the sample) but does not get connected with the Composer. FYI, I have attached some of the images for you.

Below is my manifest;

![image](https://user-images.githubusercontent.com/16351038/89900318-ef4eac80-dc26-11ea-90c6-e18a12cdb276.png)

And the skill is getting connected w

[2020-08-11 13:29] likith3611 commented on #3818
Yes actually I am doing the same but we have an option for authoring key right what must we mention there? if i mention authoring resource key it shows the same error because I have exceeded the free usage for the month

[2020-08-11 14:48] luhan2017 commented on #3818
I am not sure if I understand correctly, In Luis, the authoring service is designed for creating you luis applictions, though it can be used as prediction, but it is not recommended. In a production scenario, you definitely need a prediction service and use that to do the luis intent understanding instead of using the authoring service.

[2020-08-11 14:50] likith3611 commented on #3818
ohh ok understood thanks a lot

[2020-08-11 14:50] #3818 closed

[2020-08-11 15:54] #3631 closed

[2020-08-11 16:04] zxyanliu commented on #3402
Working in progress in [this branch](https://github.com/MicrosoftDocs/composer-docs-pr/blob/yl-host-composer/composer-docs/how-to-host-composer.md).

[2020-08-11 16:44] a-b-r-o-w-n commented on #3827
@xhr0804 Can you try running `dotnet publish` from the command line in your bot project's runtime folder? It may give some more information about why this is failing.

[2020-08-11 17:13] tdurnford commented on #3813
@arafattehsin Thank you for the additional information. I'll pull down the sample you referenced, and to try to repro the issue.

[2020-08-11 17:39] sriget commented on #3826
Hi @luhan2017 . I used directline secret key only.  let me try with access token and see. thanks for suggestion. !

[2020-08-11 17:58] zxyanliu commented on #3739
The content is live.
https://docs.microsoft.com/en-us/composer/how-to-add-custom-action

[2020-08-12 04:25] zidaneymar commented on #3800
Hi @kshyambabu , I can't reproduce this issue, I'm using Composer at commit 66f5d14a0122527714e25205151e9d2017833018.

Have you set your instrumentation key config in your customized settings?
[code]

If you have set up this config, you could see the concrete activities in your application insights instance on azure.
![image](https://user-images.githubusercontent.com/9328933/89974870-d7af0c80-dc96

[2020-08-12 06:00] xhr0804 commented on #3827
I run the 'dotnet publish' in my runtime folder, but looks like it works fine.
My runtime folder is xxx\skills\MSMeeting-Actions\runtime.
But the composer was trying to publish a project under C:\Users\huanx\AppData\Roaming\BotFrameworkComposer\publishBots\46b5d66baca08ea7a743cff9a99e8362 which is empty, is this unexpected?

[2020-08-12 06:27] cxbuilders commented on #3538
@luhan2017 Thanks for digging further into this, that's great to hear. We do use tokens for external facing bots, for internal bots hosted on SharePoint for example, we typically use secrets as long as the bot itself has AD authentication. So it could be either of the two, SharePoint is quite limited in functionality (without steering into those custom component things), so secret is the only viab

[2020-08-12 06:50] zidaneymar commented on #3823
Could you please provide the manifest of your human agent skill? I set up a simple echo bot but can't repro this issue, Is that human agent skill developed by composer?

[2020-08-12 07:01] eluchsinger commented on #3826
@luhan2017 I'm getting the token from that API endpoint dynamically. The bot does not start the conversation. Only after the user writes a message, the bot starts to text back...

![image](https://user-images.githubusercontent.com/12324017/89984872-65c8ca00-dc7a-11ea-8ca4-a0744aeeddb5.png)

[2020-08-12 07:37] UmaPrelude commented on #3823
Hi @zidaneymar ,
The agent skill is not developed using composer.
My issue is from skillcontroller -sendtoconversationasync method the activity is not added to main bot conversation. I can see the conversation id is different when it is send to this method since it is coming from skill and the skill conversation id is dynamically created by skill factory.

![image](https://user-images.githubuserco

[2020-08-12 08:22] zidaneymar commented on #3823
@UmaPrelude , Is this agent skill a sample? Could I have a try on this agent skill, basically composer supports the skill developed by [botframework](https://github.com/microsoft/botbuilder-dotnet/), I'm not sure if composer supports calling other agent.

If you can share the link to this manifest or this skill itself ( set up instructions), it would be helpful for figuring out the reason.

[2020-08-12 08:28] zidaneymar commented on #3823
I debugged this on my machine with an simple echo bot sample as a skill, the response from the echo bot triggered this method (ReplyToActivityAsync).

![image](https://user-images.githubusercontent.com/9328933/89993067-c1b24380-dcb8-11ea-9f2e-600590b0a6f2.png)

[2020-08-12 14:53] UmaPrelude commented on #3823
This skill is developed using bot framework, but not composer.
Since i am using sendtoconversation in message router it comes to sendtoconversation of skillcontroller, which is fine, but after that it is not working.

[2020-08-12 15:11] benbrown commented on #3827
That folder you see with the GUID is the temporary build location. It is normal for it to be empty - Composer cleans up after the process completes or fails.

But yes, having a reference outside of your runtime folder does break the build inside Composer. Can you move that component into the runtime?

[2020-08-12 15:43] sonjakn commented on #3827
We want to share the code between two skills. What's the best way to do this? Are you suggesting having different copies of the same code?

[2020-08-12 16:20] tonyanziano commented on #3801
Hi @kshyambabu ,

Are you trying to migrate a bot you created in the web version of Composer to the desktop version of Composer?

The two versions might differ in where your "default bot location" is, that being the location on disk where Composer stores your bot assets, however, the structure of these bot assets remain the same between the versions.

How are you trying to migrate the bot assets?

[2020-08-12 16:23] #3468 closed

[2020-08-12 16:24] cwhitten commented on #3450
Closing this, will re-create when direction & design is more crisp

[2020-08-12 16:24] #3450 closed

[2020-08-12 17:29] tdurnford commented on #3826
@eluchsinger Please take a look at the Web Chat [Welcome Message](https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/WELCOME_MESSAGE.md) documentation. It looks like you need to add a user id to the token request.

[2020-08-12 17:53] zxyanliu commented on #3655
@mareekuh terms and definitions:

| Term | Definition |
| ------| ------------|
| Bot project | Top-level “container” of multiple bots. A _Bot project_ can contain a root bot, 0 or more skills, 0 or more VA bots. |
| Bot | A collection of dialogs that each may contain triggers, actions, lu, lg and schema files. |
| Root bot |  Evolution of `dialog.main` or a basic bot template in Azure Bot Service

[2020-08-12 21:45] #3488 closed

[2020-08-12 21:45] #3508 closed

[2020-08-13 02:30] zidaneymar commented on #3823
Not sure about the reason, maybe the skill is developed under an old version of bot framework.
I suggest to debug under botbuilder sdk and figure out what exactly happens after calling 'sendtoconversation '.

Here are the concrete steps:
1. Clone [botbuilder dotnet](https://github.com/microsoft/botbuilder-dotnet) repo.
2. Open Microsoft.Bot.Builder.sln
3. Click 'File' -> 'Add' -> 'Existing Project

[2020-08-13 05:29] UmaPrelude commented on #3823
Thanks for your recommendation. I will check it.

[2020-08-13 09:21] jgbolger opened #3836 "Composer silently fails to bind to port for local testing"
## Describe the bug
Composer is not starting the bot on the indicated port and is not providing any indication that a) there was a problem (it indicates success) and b) what the problem is

I can also see that there is no service bound to port 3979. I imagine this is Windows Defender possibly blocking the app from binding to the port but I have two issues here:

1. I don't know what process I need

[2020-08-13 10:05] daikichidaze opened #3837 "Cannot update the contents of "Send a responce" when "Create from scratch" or "Empty Bot" was selected"
First notice that this is my first time to issue the bug in any OSS. If I have any missing information please let me know.

## Describe the bug
I'm trying a tutorial of the weather bot.
https://docs.microsoft.com/en-us/composer/tutorial/tutorial-create-bot

In the time I change the contents of Launguage Generation in "Send a responce", I can change it from the windows on right side but the result

[2020-08-13 12:56] NinjaCookie03 opened #3838 "Data Binding doesn't work with array in FactSet"
I have a JSON Object where I restructure in the BotFramework Composer.
![Dialog](https://user-images.githubusercontent.com/44618760/90136522-91c87600-dd74-11ea-8f97-759ca035abd4.jpg)

In the Adaptive Card I set the array dialog.carddata to "$data:".
![AdaptiveCardView](https://user-images.githubusercontent.com/44618760/90136542-9ee56500-dd74-11ea-965b-f4801e15773a.jpg)

But I get this error messag

[2020-08-13 13:09] likith3611 opened #3839 "Issue when there a multiple choice question type is selected and the dialog is LUIS enabled"
I have enabled allow interruptions in multiple question  so that LUIS can be enabled so that if any unwanted string is detected it should go to unknown
<img width="241" alt="Capture" src="https://user-images.githubusercontent.com/49705166/90138110-21315180-dd94-11ea-8022-6c837ab17eb2.PNG">
 intent but when I run the code the LUIS is called twice and it doesn't go to unknown intent. So how do i sol

[2020-08-13 13:29] cwhitten commented on #3403
Closing this as it's in-review with the docs team

[2020-08-13 13:29] #3403 closed

[2020-08-13 13:29] cwhitten commented on #3402
Closing this as it's in-review with the docs team

[2020-08-13 13:29] #3402 closed

[2020-08-13 13:44] arafattehsin opened #3840 "Value cannot be null. (Parameter ‘uriString’) upon calling a Skill"
## Describe the bug

I created a Skill using Composer and it gets successfully added to the Consumer bot (created by Composer as well). However, I am not able to connect as it gives me an error as soon as it hits the Skill caller.

## Version

1.0.2

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Repr

[2020-08-13 13:45] #2240 closed

[2020-08-13 13:47] cwhitten commented on #3840
@arafattehsin Testing Skills locally requires registering both the calling bot and the skill with the Azure Bot Service channelge registration, and requires both the msAppId and the msAppPassword to be set locally in the Bot's settings. It also requires ngrok to be running locally, as communication goes through the channel service in this scenario. Have you done all these things and still are seei

[2020-08-13 14:01] arafattehsin commented on #3840
Hi @cwhitten thanks for the prompt response.

I have not done this at all. I thought local skill would work fine (as seen in one of your demos during Build) but happy to try this way. I do have one Skill hosted on Azure which I can try to connect using ngrok.

[2020-08-13 14:01] #3840 closed

[2020-08-13 14:07] cwhitten commented on #3840
Ok. Scope this document for what is needed currently: https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill

Testing Skills locally is a pain point that we're working to improve in the SDK. We aim to reduce this friction significantly in an upcoming Bot Framework release.

[2020-08-13 14:12] cwhitten opened #3841 "Update runtime template to support DL-ASE"
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0#update-bot-code

[2020-08-13 14:15] cwhitten commented on #2240
Please follow https://github.com/microsoft/BotFramework-Composer/issues/3841 for status on native DL-ASE support

[2020-08-13 14:23] arafattehsin commented on #3840
Thanks! I'll definitely consider this.

[2020-08-13 15:00] Dewain27 commented on #2132
Can I get an update on the status of this one?

[2020-08-13 16:15] zxyanliu commented on #2515
We can add some terms and definitions here.
Terms like:
|Term | Description |
|------|--------------|
|Generated dialog|--------------|
|Form dialog|--------------|
...

[2020-08-13 16:34] cwhitten commented on #3839
@likith3611 can you upload your bot assets to this ticket? You should not be seeing multiple LUIS trace events within a single turn of the conversation.

[2020-08-13 16:37] cwhitten commented on #3838
@NinjaCookie03 where are `key` and `val` coming from? Please see https://github.com/microsoft/BotFramework-Composer/issues/3798 for additional support and let us know if you are still having trouble.

[2020-08-13 16:40] cwhitten commented on #3837
hello @daikichidaze. We cannot reproduce your issue. Are you self-hosting Composer or using the [desktop application](https://docs.microsoft.com/en-us/composer/setup-yarn#install-composer-as-a-desktop-application)?

[2020-08-13 16:45] cwhitten commented on #3836
hi @jgbolger, when you see this in the Emulator, does clicking "Restart Conversation" in the Emulator after a few seconds successfully connect to the bot?

[2020-08-13 16:54] srinaath commented on #3790
@scheyal Closing as no repro from my end as well as yours. I'll check in the upcoming nightlies if this issue happens.

[2020-08-13 16:54] #3790 closed

[2020-08-13 18:44] #3380 closed

[2020-08-13 18:44] #3756 closed

[2020-08-13 19:14] #3838 closed

[2020-08-13 20:39] jgbolger commented on #3836
Hi. No, this does not make a difference, as I can see using netstat that Composer does not actually bind to the port.

[2020-08-13 20:55] #3826 closed

[2020-08-13 22:25] a-b-r-o-w-n opened #3842 "[electron][mac] unable to copy/paste in desktop Composer"
## Describe the bug

On Mac, I am unable to copy or paste in the desktop window.

## Version

`1.0.2-nightly.156397.5ebecd7`

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

[2020-08-14 00:26] tdurnford opened #3844 "[electron] Copy and paste keyboard shortcuts do not work in the electron app on Mac"
## Describe the bug
Copy and paste keyboard shortcuts do not work in the electron app on Mac

## Version
Electron  v1.0.2-nightly.156397.5ebecd7

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Try to copy and paste anywhere in Composer

[2020-08-14 00:34] tdurnford commented on #3813
@arafattehsin For some reason Composer is fetching the manifest fine in the hosted version; however, it's throwing an error in the electron version of the app. We'll have to investigate this further.

[2020-08-14 01:25] #3106 closed

[2020-08-14 01:26] #3615 closed

[2020-08-14 01:28] cwhitten commented on #3091
Closing. The UX direction will be to use a single Composer instance to house and author multiple bots. This is coming in R11

[2020-08-14 01:28] #3091 closed

[2020-08-14 01:29] #3088 closed

[2020-08-14 01:36] daikichidaze commented on #3837
Thanks @cwhitten . I'm using as desktop application. Exactly followed the process in the URL you shown.

[2020-08-14 01:49] cwhitten opened #3845 "Reloading via ctrl-r on the Settings page of a bot with an ejected runtime throws an error"
<img width="1679" alt="Screen Shot 2020-08-13 at 6 47 41 PM" src="https://user-images.githubusercontent.com/1156704/90203494-c39e0480-dd95-11ea-94a5-b9bd69f44ad9.png">

[2020-08-14 02:12] zhixzhan commented on #3842
I can repro this, when use keyboard `cmd-c` + `cmd-v` :
<img width="1692" alt="image" src="https://user-images.githubusercontent.com/49866537/90206530-76ae4280-de16-11ea-8fa3-3f0bb75a6163.png">

ps: toolbar `copy`-`paste` works fine.

[2020-08-14 02:28] zhixzhan commented on #3845
Repro step
1. open setting page
2. runtime config
3. use custom runtime
4. add c# runtime, done
5, refresh, ctrl-r
<img width="329" alt="image" src="https://user-images.githubusercontent.com/49866537/90207238-51bacf00-de18-11ea-9780-3bae06deec7b.png">

The page turned out to be `no bot is opened` status, seems opened project not persistence at client.

[2020-08-14 04:30] likith3611 commented on #3839
<img width="940" alt="Capture" src="https://user-images.githubusercontent.com/49705166/90213915-a1979700-de14-11ea-8d1e-603d651ab72f.PNG">
I am currently using older version of composer not the newer once hence assets cant be uploaded. But these are my settings as shown and the dialog is LUIS enabled

[2020-08-14 05:08] #3782 closed

[2020-08-14 11:08] Amit8527510735 commented on #2092
#Nonbenchmark;

[2020-08-14 11:09] Amit8527510735 commented on #2030
#Nonbenchmark;

[2020-08-14 12:16] Amit8527510735 commented on #2091
#Nonbenchmark;

[2020-08-14 12:17] Amit8527510735 commented on #2080
#Nonbenchmark;

[2020-08-14 12:18] Amit8527510735 commented on #2078
#Nonbenchmark;

[2020-08-14 12:18] Amit8527510735 commented on #2058
#Nonbenchmark;

[2020-08-14 12:19] Amit8527510735 commented on #2056
#Nonbenchmark;

[2020-08-14 12:20] Amit8527510735 commented on #2049
#Nonbenchmark;

[2020-08-14 12:21] Amit8527510735 commented on #2031
#Nonbenchmark;

[2020-08-14 12:21] Amit8527510735 commented on #2006
#Nonbenchmark;

[2020-08-14 12:44] arafattehsin commented on #3813
@tdurnford Unfortunately, that's not the case at my end. Even the hosted version does not seem to be working for such skills.

![image](https://user-images.githubusercontent.com/16351038/90250656-bcebbc00-de7f-11ea-90a7-807de1fef75d.png)

[2020-08-14 13:22] arafattehsin opened #3848 "Consumer bot is processing the request before Skills every time"
## Describe the bug

What I have understood from the [docs](https://docs.microsoft.com/en-us/azure/bot-service/skills-conceptual?view=azure-bot-service-4.0) and the [Skills bot sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/80.skills-simple-bot-to-bot) from the Samples repo is when the Skill is called from Consumer bot, it then redirects all the incom

[2020-08-14 13:23] arafattehsin commented on #3840
@cwhitten Thank you for the pointer, I managed to get it working. Although, I'm preparing some improvements to the existing docs and will submit a PR (they need an update ;))

[2020-08-14 14:38] a-b-r-o-w-n commented on #3842
Good catch @zhixzhan. I didn't think to try the menu, just using cmd.

[2020-08-14 14:42] hibrenda commented on #3839
I can repro what you mentioned above. @luhan2017 for awareness

[2020-08-14 14:57] hibrenda opened #3849 "botid serialization need manual update"
Go to skill page,
- Input "skill host endpoint"
- Input bot password
- Input bot id
sounds like app id has not been serialized into "botid" field but "MicrosoftAppid" is correctly set.
Go to setting page and manually update botid can solve the warning sign.
![image](https://user-images.githubusercontent.com/43408889/90262529-fd980500-de80-11ea-9eba-25c81084761e.png)
![image](https://user-images.gi

[2020-08-14 15:50] benbrown commented on #3406
@VanyLaw For the Javascript version of the runtime, we should use the version number in package.json I think. What do you think?

I don't know if there is a C# version of that - perhaps we use a version.txt or something?

We should not do this automatically for the user. It should be implemented in the same way the boilerplate version check happens -- on the runtime settings page.

[2020-08-14 17:55] GeoffCoxMSFT opened #3850 "Ejecting runtime to get a new copy of the runtime code can lose file attributes"
## Describe the bug

The localPublish plug-in copyDir function does a content copy of files by reading the file content into memory and then writing it to the destination.  I'm not sure why it doesn't use the copyFile function imported on the IFileStorage interface.

This is the problem code:
https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/plugins/localPublish/src/copyDir.ts

[2020-08-14 18:05] GeoffCoxMSFT opened #3851 "Ejecting runtime in dev environment with updated runtime bits causes stale runtime bits to be used in emulator"
## Describe the bug

In developer mode (yarn start:dev) the localPublish plug-in will copy files from the Composer runtime folder into a hostedBots folder.  If a developer is working on a project and publishes it to emulator and then later updates the Composer runtime bits with a new version, the localPublish code keeps using the stale runtime bits in the hostedBots folder.

I believe this is the

[2020-08-14 21:12] v-kydela commented on #3848
Thank you for the report, @arafattehsin

I think I can clear up some confusion here. Skills do not get connected to a user directly. A skill still has to communicate through the bot as it interacts with the user. It is a skill _dialog_ that handles the automatic routing of messages to the skill, which means the skill consumer bot still needs to make sure it continues the dialog on each turn in ord

[2020-08-15 02:51] #3844 closed

[2020-08-15 16:05] arafattehsin commented on #3848
Hi @v-kydela Thank you for such a detailed message. I totally get your point on your first paragraph and I 100% agree to that.

I also read the whole document (and think it needs some improvement which I will be submitting as a PR around connecting with Skill), I'm still facing the similar problem as you mentioned in your second paragraph.

Now to help you understand that; let me explain you in de

[2020-08-15 16:34] tdurnford commented on #3842
Related to https://github.com/microsoft/BotFramework-Composer/issues/3844

[2020-08-15 16:34] #3842 closed

[2020-08-15 16:40] shyambabu-kolipaka commented on #1395
This is the issue at Emulator side. This is an enhancement for Emulator. You could check the enchancement updates [here](https://github.com/microsoft/BotFramework-Emulator/issues/1589)

[2020-08-15 16:51] shyambabu-kolipaka commented on #3801
I just found another issue which relates to my problem [here](https://github.com/microsoft/BotFramework-Composer/issues/3746)

[2020-08-16 14:26] briandenicola commented on #3581
Has this been addressed in 1.0.2?  I am getting the same error while publishing an existing bot.

My publish setting file looks like:
[code]
I've tried bjdbot001, https://bjdbot01.azurewebsites.net, https://bjdbot01.scm.azurewebsites.net, and bjdbot01.scm.azurewebsites.net as well. I always get the same error.

![image](https://user-images.githubusercontent.com/1042537/90336525-07fdf000-dfa2-11ea-

[2020-08-17 18:13] scheyal opened #3853 "Upgrade from 1.02 to latest shows warnings that seem benign or misleading"
## Describe the bug
Upgraded to nightly build. Using a composer bot pointing to skills.

## Version
Daily build (8/14)

## Browser
- [ X] Electron distribution

## OS
- [ X] Windows

## To Reproduce

Steps to reproduce the behavior:

Upgrade to latest with a bot using skills.

## Screenshots

![composerwarn2](https://user-images.githubusercontent.com/8867670/90429390-7dd58a80-e07a-11ea-8df8-b241e8

[2020-08-17 18:33] #3823 closed

[2020-08-17 18:34] munozemilio commented on #3813
Hi @arafattehsin we will include this in our next release cycle

[2020-08-17 19:22] cwhitten commented on #3836
@jgbolger the team will investigate this in our upcoming sprint. Until then what Composer is attempting to do is fire up a `dotnet` process on your machine that starts a webserver on the the first port it sees as available. Why this mechanism is returning success with a 200 status we do not know at the moment.

[2020-08-17 20:29] scheyal opened #3854 "Cannot connect a multi-turn skill in Composer"
Filed for tracking.
Need to ensure multi-turns are working in composer parent/child skill and have corresponding documentation on how to set it up/troubleshoot. FYI, this may be an underlying SDK issue.

[2020-08-17 21:04] QaisAlkhateeb commented on #3807
I have the same issue after applying the steps here:
https://docs.microsoft.com/en-us/composer/how-to-add-custom-action

I have 4.9 packages.
![image](https://user-images.githubusercontent.com/25031218/90444359-692edc00-e0e6-11ea-8621-8ab3c34b6de3.png)

[2020-08-17 21:46] QaisAlkhateeb commented on #3807
I tried also the steps here (uninstall plugins +  install 4.10) and did not work:
https://github.com/microsoft/BotFramework-Composer/tree/main/runtime/dotnet/azurewebapp/Schemas

[2020-08-17 21:58] a-b-r-o-w-n commented on #3807
@QaisAlkhateeb We are working to address this issue in the CLI as well as looking at ways to mitigate in Composer.

[2020-08-17 22:08] tdurnford commented on #3848
Seems related to https://github.com/microsoft/BotFramework-Composer/issues/3854

[2020-08-17 22:53] #3565 closed

[2020-08-18 00:59] v-kydela commented on #3848
@arafattehsin - I have reproduced the issue. It looks like @scheyal is right that Composer doesn't handle multi-turn skills well. Perhaps skill dialogs should have an "allow interruptions" property like inputs do. I'll unassign myself so the team can treat this as a bug.

[2020-08-18 06:40] zxyanliu commented on #3813
I followed the basic steps covered in this [doc](https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill) and tested calling a [sample bot skill](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/80.skills-simple-bot-to-bot/EchoSkillBot/wwwroot/manifest/echoskillbot-manifest-1.0.json) from a Composer bot and succeeded.

I found two things important:

[2020-08-18 06:52] arafattehsin commented on #3813
Hi @zxyanliu - may I know which version of Composer are you using?

[2020-08-18 07:20] yeze322 commented on #2138
This issue is outdated, the code has been updated several times. Can be closed.

[2020-08-18 07:20] #2138 closed

[2020-08-18 07:21] yeze322 commented on #2138
Hide my oudated comments about implementation details.

[2020-08-18 07:29] jgbolger commented on #3836
Hi @cwhitten . OK, thanks for clarifying. If I gain any further insight, I will let you know.

[2020-08-18 11:55] luhan2017 commented on #3839
@likith3611 I think it is by-design the UnknownIntent will not be triggered in this scenario, otherwise, it will be almost always triggered by any input which doesn't make sense, I've tried to create an valid trigger, and verified it can be triggered if you input the trigger phrases in choice prompt.

For the luis trace shown twice issue, I am investigating more on that.

[2020-08-18 14:43] #3845 closed

[2020-08-18 15:08] VanyLaw commented on #3406
yes, for js runtime, we can simply use the version number in package.json. For c# runtime, the version can be add in <Version> in .csproj file, like
[code]
In that way, we need to parse xml file to get the version of runtime template and compare with the ejected runtime.

Besides, maybe we need to split the webapp version and function version in js runtime.

[2020-08-18 15:25] cwhitten commented on #3848
@luhan2017 & @hibrenda can you connect with the STCA Skills team on this? I'd imagine this would be breaking a few of their scenarios. We should take this in R10 if the R10 packages don't fix this.

[2020-08-18 15:35] zxyanliu commented on #3813
@arafattehsin [electron 1.0.2](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.0.2)

[2020-08-18 15:38] tdurnford commented on #3813
@zxyanliu Are you using the nightly builds?

[2020-08-18 15:45] zxyanliu commented on #3813
@tdurnford I did not.

[2020-08-18 17:16] benbrown commented on #3406
That makes sense to me.

Have you seen the code/ui for doing this with the boilerplate material?

Here is the controller:
https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/server/src/controllers/project.ts#L349

The meat of the implementation is in the asset manager:
https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/server/src/models/asset/

[2020-08-18 18:19] peterinnesmsft commented on #3813
@arafattehsin we are currently looking into this, and will provide an update sometime later this week.

[2020-08-18 18:24] peterinnesmsft commented on #3775
Closing due to inactivity.

[2020-08-18 18:24] #3775 closed

[2020-08-18 18:28] peterinnesmsft commented on #3624
We anticipate this to go live with our R10 release. If there's any further support needed, reactivate and let us know.

[2020-08-18 18:28] #3624 closed

[2020-08-18 18:32] peterinnesmsft commented on #3441
We will look into this as part of our upcoming R11 release.

[2020-08-18 18:33] peterinnesmsft commented on #3377
Will be included within the R10 release in the next few days.

[2020-08-18 18:33] #3377 closed

[2020-08-18 19:02] mdrichardson commented on #3769
@Bernardo08pt How many LUIS resources are on the entire subscription that you're using? How many in the free and how many in the paid tiers?

[2020-08-18 19:06] benbrown commented on #3419
@vivekkshankar I think the most recent design in this file - in particular the comment as a node -- gets this just right.

I am going to try to drive this forward!

[2020-08-18 20:31] michael0ren opened #3855 "Input only works through entity"
I was trying to make a variable that was set through a previous entity, and if not, set by the user.
I made user input and set value to be the entity.
When the entity is provided, it automatically sets it, but when the entity is not, it asks the user until the max turn count is reached and then returns null, regardless of the input sent by the user.

[2020-08-18 22:57] zxyanliu commented on #3855
What version of Composer did you use?

[2020-08-19 01:47] luhan2017 commented on #3848
@arafattehsin , I totally understand your pain. The current behavior is by-design for the Adaptive Dialog.

Why it is called Adaptive, it means, for every turn in the dialog, you have a chance to consult to the recognizer, is there any other dialog want to take this input, if yes, please go ahead, and if no, the current dialog will consume this.
Let me give you an example:
If you have a dialog wit

[2020-08-19 01:56] arafattehsin commented on #3848
Hi @luhan2017 - Appreciate your detailed response. I'd LOVE to have *AllowInterruption* property as it will handle this situation. Not disagreeing with the example you gave but there's still a BIG need of continued conversation. It would really be awesome if we can have it as a R10 patch. Thanks a lot.

[2020-08-19 01:58] hibrenda commented on #3853
This may related to https://github.com/microsoft/BotFramework-Composer/issues/3849

[2020-08-19 10:25] luhan2017 commented on #3848
@cwhitten I've submitted a PR for this in botbuilder-dotnet, could we ask SDK team to triage and include this in R10 patch release?

[2020-08-19 12:14] lei9444 opened #3860 "The lu file can't be updated when updating the lu intent in inline editor"
## Describe the bug
![update error](https://user-images.githubusercontent.com/39758135/90633374-84215d80-e258-11ea-8c06-c5eabed48f7f.gif)

![image](https://user-images.githubusercontent.com/39758135/90633578-dc585f80-e258-11ea-8b5f-2422ed401af5.png)
this function will return empty section

## Version

main branch
## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x]

[2020-08-19 13:06] michael0ren commented on #3855
I used the mac version 1.0.2

[2020-08-19 15:09] #3860 closed

[2020-08-19 15:19] anemit opened #3863 "MICROSOFT BOT COMPOSER: Bug while loading an existing bot"
I get a white screen when I try to load an existing bot in Microsoft bot composer. I re-installed the framework but nothing changed.

[2020-08-19 16:16] anemit commented on #3863
I tried other bots and works fine, but I still get the "white screen" with the first one.

[2020-08-19 16:24] GowthamDisys commented on #1820
Is this issue resolved? Can you tell me, how to get the value from action.submit in adaptive card?

[2020-08-19 18:39] cwhitten commented on #3855
Hi @michael0ren

Please visit https://www.youtube.com/watch?v=dUT8L4_bVrk for an explanation on extracting entities from prompts.

[2020-08-19 18:39] #3855 closed

[2020-08-19 21:10] zxyanliu opened #3865 "Issues in samples"
## Describe the bug

* **Empty Bot**
Every time after you create an _Empty Bot_ first, then creating the following three samples will load the _Empty Bot_ template: _ToDoWithLuis_,  _SimpleToDo_ and _Interruptions_ samples.

* **ToDoWithLuis, QnAMakerAndLuis**
Warning message.
![1](https://user-images.githubusercontent.com/32497439/90689805-7e5e5480-e225-11ea-9d3f-c7cb5fa37e79.png)
![3](https://us

[2020-08-19 21:27] #3333 closed

[2020-08-19 23:28] #1682 closed

[2020-08-19 23:28] #3272 closed

[2020-08-20 00:01] #3807 closed

[2020-08-20 00:11] #3848 closed

[2020-08-20 02:52] hibrenda opened #3867 "Action on "new template" in LG all up will complain error"
- Go to LG all up view
- under "All"  tab, click "new template" button
- click 3 dot to delete the template
- errors display
![image](https://user-images.githubusercontent.com/43408889/90711377-254cfa00-e2d3-11ea-8f20-c4332060b60b.png)

[2020-08-20 06:25] reinoldus commented on #2612
I saw that the mentioned issue was merged and that there is a "UseShowTypingMiddleware" boolean in the bot settings. I set this to true but it's still unclear to me how to make it actually do something. Is there documentation on this feature?

[2020-08-20 06:47] zhixzhan opened #3869 "create AskingQuestionsSample bot get error"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots
<img width="1223" alt="image" src="https://user-images.githubuserco

[2020-08-20 06:48] zhixzhan commented on #3869
visual editor is empty and form editor show error.

[2020-08-20 07:08] lei9444 commented on #3022
I think we can fix it in R11

[2020-08-20 07:14] hibrenda commented on #2612
Thanks for the comments. Could you try out to set "true" in bot setting as below ?
![image](https://user-images.githubusercontent.com/43408889/90728657-dcf40300-e2f7-11ea-873a-3244ef515176.png)

[2020-08-20 08:04] luhan2017 commented on #3554
composer has updated the sdk version to 4.10.0, so close this.

[2020-08-20 08:04] #3554 closed

[2020-08-20 08:10] luhan2017 commented on #1829
@mg-arrow sorry for the late response, composer already updated the sdk package to 4.10.0, you can try with the latest main branch.

[2020-08-20 08:10] #1829 closed

[2020-08-20 08:28] reinoldus commented on #2612
Thank you for your reply. I did, but the message still come in instantly in the emulator. I also don't see any options. I would expect it somewhere in the "send response" tile.

![image](https://user-images.githubusercontent.com/2091290/90742383-1b79c580-e2d8-11ea-84cd-dddd8f3055d9.png)

[2020-08-20 08:40] liweitian opened #3872 "Align QnA with the new design"
The final design is here. https://www.figma.com/file/deFhMPBnRWxTYiYDYqYxrc/Composer-Vivek?node-id=7561%3A0

1. if expanded, no number needed: questions(number) => questions
2. color on selected and hovered should be different
3. auto-grow when typing question.
4.no (0), 0 is meaningless.
5. add QnA Pair, the new field should get auto focused
6. chevron icon and question space.
7. make the chevron

[2020-08-20 08:41] hibrenda commented on #2612
This based on the bot latency. if this is an immediate response, it won't show up.

[2020-08-20 08:59] reinoldus commented on #3452
Hi, I am still having this issue. I am running v1.0.2 on ubuntu 20.04.

The directory: "/home/ubuntu/BotFrameworkComposer/publishBots/" is empty.

Exact error is:

[code]

[2020-08-20 09:02] reinoldus commented on #2612
I am sorry I do not understand. What does that mean?

My objective is: I want to delay the responses to the user a bit, so they do not all come instantly. Is that possible with the composer? If not how can I achieve it?

[2020-08-20 09:52] luhan2017 commented on #2612
@reinoldus , could you try to eject your runtime and add a sleep function before every turn?

In Core/ComposerBot.cs/OnTurnAsync()
            Thread.Sleep(****); <------- **Add this line before OnTurnAsync**
            await this.dialogManager.OnTurnAsync(turnContext, cancellationToken: cancellationToken);
Will this met your requirement?

[2020-08-20 10:44] kushalbhabra commented on #1682
This is amazing.. Great effort!!

[2020-08-20 10:51] HesselWellema commented on #1682
I second that. Great job!

[2020-08-20 11:40] reinoldus commented on #2612
@luhan2017 It kind of does what I am looking for. Only issue is that I would want it on a message basis.

The idea is to send 5 messages one by one with a e.g. 1 sec delay. This solution sends all of the messages after the wait.

Additionally since this is not an async call, I am worried that the bot blocks and no other conversations would be possible in that time frame, but I do not know if that

[2020-08-20 13:39] #3865 closed

[2020-08-20 14:22] #3869 closed

[2020-08-20 15:44] #3867 closed

[2020-08-20 16:33] cwhitten commented on #3863
Hi @anemit - this is unexpected and we cannot reproduce. Are you able to upload your bot assets of the bot that won't load to this issue?

[2020-08-20 23:27] MNHarun commented on #2926
First time Bot Framework Composer, fresh install. Create new bot from standard **Examples**. Running desktop mode. Browser mode also produce same error.

Currently using Visual Studio to code WPF & Xamarin apps.

![Botcomposer Error](https://user-images.githubusercontent.com/13494214/90835475-4bc86f00-e37f-11ea-9c2b-3e6aef3b6886.png)

`D:\Projects\Bots\TodoSample-0>dotnet --list-sdks
2.1.700 [C:\P

[2020-08-20 23:30] zxyanliu commented on #2926
@MNHarun did you install [.NET Core 3.1](https://dotnet.microsoft.com/download/dotnet-core/3.1) or later?

[2020-08-20 23:53] MNHarun commented on #2926
The two lists provided by
[code]

not showing what is installed?

[2020-08-20 23:58] zxyanliu commented on #2926
I just tested and was unable to reproduce your issue.
* Did you have a chance to read this doc? https://docs.microsoft.com/en-us/composer/setup-yarn
* Also you can check your .NET Core version by executing `dotnet --version` in your command line? (If you are on Windows machine)
  ![image](https://user-images.githubusercontent.com/32497439/90837197-2cd9c680-e306-11ea-9c3b-b2b6282552b0.png)

[2020-08-21 00:10] MNHarun commented on #2926
[code]

I did not go through the setup-yarn, opt to do the desktop application portion of the doc.

There's installation instruction under the "Build Composer from source" topic.
Does it also apply to "Install Composer as a desktop application" ?

[2020-08-21 00:14] zxyanliu commented on #2926
Yes, the [doc](https://docs.microsoft.com/en-us/composer/setup-yarn) applies to both if you see there are different sections:
- [Install Composer as a desktop application](https://docs.microsoft.com/en-us/composer/setup-yarn#install-composer-as-a-desktop-application)
- [Build Composer from source](https://docs.microsoft.com/en-us/composer/setup-yarn#build-composer-from-source)

For the desktop app

[2020-08-21 00:17] MNHarun commented on #2926
Yes, that's what I did. I "Install Composer as a desktop application" and did not go through the "Installation instructions".

![image](https://user-images.githubusercontent.com/13494214/90838163-b630dd80-e386-11ea-80a8-44ea195a1057.png)

[2020-08-21 00:19] zxyanliu commented on #2926
No, you do not need to do **2**.
You should be all set.

[2020-08-21 00:22] MNHarun commented on #2926
and the error

![image](https://user-images.githubusercontent.com/13494214/90838417-6dc5ef80-e387-11ea-9390-591677332871.png)

What else am I missing?

[2020-08-21 00:28] zxyanliu commented on #2926
I was unable to reproduce your error.
We will investigate your issue and get back to you later.
Thanks again for your feedback.

[2020-08-21 08:14] reinoldus commented on #3722
I am having the same issue.
I also raised this support request, but the suggested fixes didn't work: https://docs.microsoft.com/en-us/answers/questions/72356/deployment-to-azure-fails.html

Additionally I am affected by this bug #3452 so I have to do everything using the latest branch from the git repo.

`node provisionComposer.js --subscriptionId=XXXX  --tenantId=XXX --name=XXXX --appPassword=XXX

[2020-08-21 11:25] sschutten opened #3874 "Update Activity and Delete Activity support"
Are there plans to support the [Update Activity and Delete Activity](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-dialog/adaptive-dialog-prebuilt-actions?view=azure-bot-service-4.0#activities) actions? It would be great to be able to e.g. update an adaptive card after a user performed an action.

[2020-08-21 11:32] GowthamDisys opened #3875 "Can't add a flow with Adaptive card submit event."
I am currently using bot composer for my chatbot. When I tried to get the value from Adaptive card input value on clicking submit, I am unable to get the response data back. Can you guys add the flow in bot composer for getting the response back from Adaptive card input.

[2020-08-21 18:23] pcreehan opened #3877 "storage.ts compilation error"
There's a compilation error I'm getting in Composer\packages\server\src\controllers\storage.ts on line 54:
`    const reqpath = decodeURI(req.query.path);`

Argument of type 'string | ParsedQs | string[] | ParsedQs[]' is not assignable to parameter of type 'string'.
  Type 'ParsedQs' is not assignable to type 'string'.ts(2345)

Potential fix:
`    const reqpath = decodeURI(req.query.path as string

[2020-08-21 20:18] peterinnesmsft opened #3878 "Custom Creation UI"
## User story
**As a** bot creator,
**I want to** go through additional creation steps
**so that** I can configure common aspects of my bot prior to the bot being created for me

## Description

The VA creation steps will be integrated to Composer as a separate workspace. These UI components will be loaded into the composer client when the user goes through the creation flow for the 'va-core' temp

[2020-08-21 20:21] peterinnesmsft opened #3879 "Bot Response Configuration"
## User story
**As a** bot creator,
**I want to** have my resulting bot have customized .lg files based on my selections in the creation flow,
**so that** common strings can be customized during the creation flow and be reflected in the resulting bot

## Description

The creation experience for the VA core template would be wrapped as a ShellAPI which gives it access to ShellAPI functions to manip

[2020-08-21 20:21] peterinnesmsft opened #3880 "Custom File Generation"
## User story
**As a** bot creator,
**I want to** select the personality that my bot will have
**so that** the selected personality .qna file is stored in my created bot in the correct location

## Description

The creation experience will hit Shell API hooks that alter the corresponding bot project that is created for the user such that the resulting bot has the correct personality files based on

[2020-08-21 20:21] peterinnesmsft opened #3881 "Provisioning Preparation"
## User story
**As a** bot creator,
**I want to** have a summary of all my bots dependent Azure resources
**so that** my bots resources can be provisioned when it is created

## Description

When the creation experience completes I want to have an ARM template that represents all the resources my bot will need to work correctly based on my creation experience selections

## Acceptance criteria

-

[2020-08-22 15:10] #1395 closed, assigned to nobody

[2020-08-23 22:10] #3547 closed

[2020-08-24 04:23] hibrenda opened #3882 "Bot delete will complain error"
Bot delete will complain following error :

![image](https://user-images.githubusercontent.com/43408889/91003666-82fb8200-e604-11ea-9725-7ea91769f7fc.png)

[2020-08-24 08:58] hibrenda opened #3884 "syntax check for inline lg editing and common.lg"
- Use new LG Template(not defined in LG file)  in SendActivity
- Notification will complain error (expected)
- Add this new LG Template in All ( in common.lg)
- Notification status won't change

Workaround: manually edit in corresponding LG file can fix the notification sync.
Root cause : common.lg has been referenced in each dialog.lg file. But update in common.lg will not trigger lg parse.

[2020-08-24 09:54] reinoldus commented on #3722
I just spun up a Windows-VM and tried to deploy again and it works using windows. I hope that helps to debug the issue.

Here are the details of my ubuntu machine, if it helps:

[code]

[2020-08-24 10:02] GowthamDisys commented on #3875
Hi @Stevenic ,

This method works fine.  Thanks!

[2020-08-24 10:19] GowthamDisys commented on #3875
Hi @v-kydela ,

1. I have added the JSON below.
[sampleAdaptiveCard.txt](https://github.com/microsoft/BotFramework-Composer/files/5117150/sampleAdaptiveCard.txt)

2. I am using WebChat Channel.

3. I mean to say, I have added the adaptive card by adding "Send a response".
![image](https://user-images.githubusercontent.com/62953969/91033130-86046b80-e620-11ea-8810-e57384d10aef.png)

I need to wait

[2020-08-24 10:57] reinoldus commented on #2612
Can we maybe reopen this issue? I don't think it was addressed  #2471, because having a typing indicator does not solve the actual delay problem.

Right now the only way to delay a message is through "In Core/ComposerBot.cs/OnTurnAsync()", but that delays an entire turn, which then sends 5 messages at once. Our bot though has an educational character and sends multiple rather short messages one by

[2020-08-24 12:37] KyonCode opened #3886 "Bot composer - button - start a new dialog"
I'm trying to set button in my HeroCard as trigger to call another dialog called log_is. My original idea was to parse "log_is" after clicking the button and use value as trigger. But no success. I believe there is much more simple solution. My code:

[code]
Any idea please?

[2020-08-24 15:54] cwhitten commented on #2612
@reinoldus I will re-open and transfer to https://github.com/microsoft/botbuilder-dotnet for continued discussion.

[2020-08-24 16:55] #3882 closed

[2020-08-24 17:21] vishwacsena commented on #3796
@cwhitten here's the logic - if multiple triggers fire (they have the same set of conditions) then
a) the one with the highest priority is picked (if priority property is specified. Note 0 is the highest priority, -1 evaluates to false. Higher the number, lower its priority)
b) if no priority property is specified, then the first trigger in the order in which they were added to the adaptive dialog

[2020-08-24 17:26] vishwacsena commented on #1820
@GowthamDisys see this sample. It shows both using adaptive card to collect input in an input action as well as to route to appropriate dialog. In short, adaptive dialog include a recognizer by default that transforms any payload posted by action.submit into intent + entities.

[adaptiveCardHandling.zip](https://github.com/microsoft/BotFramework-Composer/files/5119291/adaptiveCardHandling.zip)

[2020-08-24 17:50] mdrichardson commented on #3769
@Bernardo08pt Are you still experiencing this issue?

[2020-08-24 18:03] peterinnesmsft opened #3888 "Edit Publish Profile triggers error 'e.types.map is not a function'"
## Describe the bug

When a publishing operation fails due to an expired access token, attempting to edit the corresponding publish profile initially causes an error modal to pop up, indicating an 'e.types.map is not a function' exception. Closing the modal and attempting to edit the same publishing profile then successfully displays the 'Edit a publish profile' modal.

## Version

v1.0.2-nightly.

[2020-08-24 18:05] chrimc62 opened #3889 "Default composer runtime should use SetTestOptionsMiddleware"
A convenient way to generate a test is to generate a transcript using the emulator and then turn that transcript into a test script. The issue is that randomness in bots makes it impossible to replay a transcript. In order to fix this, the SDK has:

Defined SetTestOptionsMiddleware in Adaptive.Testing to pick up a SetTestOptions custom event and copy the payload into conversation.testOptions. We m

[2020-08-24 18:20] cwhitten commented on #3837
What version of the desktop application are you using? Can you provide a screenshot?

[2020-08-24 18:25] pcreehan commented on #3877
Looks like one from 45 days ago: https://github.com/microsoft/BotFramework-Composer/commit/2cedeac2286e75f0ad86d417a57e6a1a4fe5e332
but that appears to be the latest for master. Should I be using main instead?

[2020-08-24 18:35] v-kydela commented on #3875
@GowthamDisys - It may be possible to get your desired behavior to work using existing inputs (like a text input) if you use custom validation rules. It would still likely be considered a workaround since you'd have to intercept the incoming message with a Message Received trigger and modify it so that the input would recognize it.

[2020-08-24 18:40] cwhitten commented on #3877
Yes, we've changed the main branch to be `main` instead of `master`. This shouldn't be your issue, though.  Let me know you findings.

[2020-08-24 20:53] pcreehan commented on #3877
Switching to main resolved it. The code looks the same and it still gets red underlined, but it doesn't block the build. Thanks.

[2020-08-24 20:53] #3877 closed

[2020-08-24 22:29] #3874 closed

[2020-08-24 23:00] v-kydela commented on #3875
@GowthamDisys - We appreciate the feature request, but it looks like this isn't going to be built into Composer anytime soon. The team may reconsider if more customers express interest in it. For now you can use a workaround.

[2020-08-24 23:00] #3875 closed

[2020-08-25 08:14] #3463 closed

[2020-08-25 08:17] zhixzhan opened #3890 "Editor diagnostic line not correct."
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots
<img width="448" alt="image" src="https://user-images.githubusercon

[2020-08-25 12:26] luhan2017 opened #3893 "Add doc and sample for JS runtime custom actions"
## Is your feature request related to a problem? Please describe.
Add doc and sample for JS runtime custom actions.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-08-25 16:22] lauren-mills commented on #3886
Hi @KyonCode - when you're using "imBack" as the action type, the value will be sent back to the bot as the user response when the button is clicked. I think for your scenario using "postBack" will get you closer to what you want.

[2020-08-25 16:36] benbrown commented on #3889
For other middleware such as the typing indicator, we have provided a configuration option to toggle it on and off. This should probably apply for this middleware as well.

[2020-08-26 02:24] #3890 closed

[2020-08-26 02:28] cwhitten opened #3896 "Move LU and LG LSP's into service workers"
This accrues value towards Composer's goal of being easily host-able

[2020-08-26 02:39] zxyanliu opened #3897 "Provision new Azure resources and publish bot - Test in Web Chat had no response."
## Describe the bug

* Provision new resources and publish an echo bot.

  ![image](https://user-images.githubusercontent.com/32497439/91228719-9890aa80-e6dd-11ea-98fd-79359a2a7f17.png)

* Test in Web Chat had no response.

   ![image](https://user-images.githubusercontent.com/32497439/91229519-d8a45d00-e6de-11ea-9cb1-46c9a4da2224.png)

## Version

[main](https://github.com/microsoft/BotFramework-

[2020-08-26 03:26] zxyanliu opened #3898 "Connect to QnA KB issue"
## Describe the bug
* Connecting a bot to QnA Knowledge Base by using the **Connect to QnA knowledgebase** action.

   ![image](https://user-images.githubusercontent.com/32497439/91251509-7a906d80-e710-11ea-8ee6-f1af35797e8e.png)

* Enter the following values: `knowledge base ID`, the `endpoint key`, and the `host name`. Every time when restarting bot, "endpointKey" will be missing.

   ![image](h

[2020-08-26 03:44] xieofxie commented on #1724
It will be great if we could embed adaptive card designer into Composer

[2020-08-26 06:05] kshyambabu commented on #3800
The reason is, I was using very old version of web based composer. I migrated the application to latest desktop chatbot composer. Then telemetry is working fine as said.

[2020-08-26 06:05] #3800 closed

[2020-08-26 06:05] #3801 closed

[2020-08-26 14:06] cdonke opened #3902 "there is no locale fallback for en-us"
## Describe the bug

Trying to run bot composer via docker.
cloned the main branch, ran docker-compose build, then docker-compose-up.

Created an echo bot, no modifications done. when connected via bot emulator (4.10.0), it responds with

## Version
Version 1.0.2, built from the master branch,
commit 8c03c1e1ec5a8102fc1494cf29e53fca920cebb0 (HEAD -> master, tag: v1.0.2)

## Browser
MS Edge Version

[2020-08-26 14:40] nitroin opened #3904 "Unable to use bots built with LUIS (401 or 403 status)"
# Describe the bug

Unable to use bots built with LUIS.

## Version

v1.0.2-nightly.160791.78429de

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Appendix:
a. Create a Languange Understanding service from Azure, West Europe region.

1. Go to 'New'
2. Click

[2020-08-26 17:53] v-kydela commented on #3904
@nitroin - Thank you for the detailed repro steps. I tried your steps exactly but I could not reproduce the problem:

![image](https://user-images.githubusercontent.com/41968495/91338326-9be17000-e789-11ea-9349-dd646cc19aa2.png)

We will need more information in order to determine why it's not working for you. What is your authoring region? Are you using the en-us locale?

[2020-08-26 18:01] nitroin commented on #3904
Thank you.

All my tests were done from a Luis instance created from Azure, West Europe region.

I have now tested with a Luis created from Azure but WestUS region. The bot is working as expected.

I'll update the issue accordingly!

[2020-08-26 18:07] #3854 closed

[2020-08-26 18:22] Shivang007-del opened #3905 "What is purpose of debugging options in bot composer."
What is purpose of debugging options in bot composer.Can I use them in the bot framework to get trace and can it also be in power virtual agents to get error details and to trace?

[2020-08-26 20:03] benbrown commented on #3905
The "emit a trace event" will cause your bot runtime to emit a special event that can be viewed inside the Emulator debug panel.

The "Log to console" will cause your bot runtime to log out your message to the terminal/console where your bot application is running.  These log events are not directly viewable when running Composer as an electron app, however if you run the bot application yourself

[2020-08-26 20:06] benbrown opened #3906 "Need docs: add section about validation rules to the prompts doc"
We should add a section dedicated to using the validation rules functionality of prompts.

In particular, we need to document that the value to be validated is present in the special property, `this.value`

[2020-08-26 20:11] benbrown opened #3907 "Need docs: expand information about using max turn count, default value and default value response"
We should explain in more detail how these three properties inter-relate.

Max turn count is used to determine how many attempts a user will have to answer a prompt.  It is important to call out to users that if this is reached, the property will end up being set to NULL unless a default value is specified. Since the default value of this is *3*, it is highly likely that a user will hit this limit

[2020-08-26 20:11] Shivang007-del commented on #3905
can you please share any sample code for "Log to console" .

[2020-08-26 20:14] v-kydela commented on #3904
I'm unable to start the bot at all when providing a West Europe authoring key. However, when I change the region to westeurope in the bot's settings it starts correctly and then works correctly in Emulator:

![image](https://user-images.githubusercontent.com/41968495/91351976-013f5c00-e79e-11ea-9aea-91bd87ccc628.png)

Could there be any extra steps you're performing to make Composer recognize your

[2020-08-26 20:24] benbrown opened #3908 "Validation rule field should include a placeholder tip"
## Is your feature request related to a problem? Please describe.

The validation rule input has no placeholder. We should put a tip in this field as is present in many others that explains to the user what a valid value would look like, such as `this.value > 0 && this.value <= 10`

In addition, we should update the tooltip value for this field to link to relevant documents -- hopefully one create

[2020-08-26 20:26] nitroin commented on #3904
I was able to select the correct region at the first start of the bot, while providing the authoring key.

I will try from scratch and report back.

Thanks!

[2020-08-26 20:27] benbrown opened #3909 "Consider: should we autosave validation rule even if enter is not pressed?"
## Is your feature request related to a problem? Please describe.

Currently, a user must type a validation rule, then hit ENTER to add it to the prompt.  If the user does not hit enter, the value is discarded.

This is because of the inherited behavior from the list input type. However, this is very easy to miss.

## Describe the solution you'd like

I propose that we make the validation rules be

[2020-08-26 20:29] benbrown commented on #3905
There is no code involved... you would configure a log to console action like this:

![Screen Shot 2020-08-26 at 3 28 23 PM](https://user-images.githubusercontent.com/729873/91353384-d4487480-e7b0-11ea-8ed1-89ad228060f3.png)

This would result in the message "DEBUG: The ticket body is <some value>" being printed to the console during the course of the bot execution.

Since I also set "send trace a

[2020-08-26 20:39] benbrown opened #3910 "Need docs: how to use LUIS entities to support synonyms in a multi-choice prompt"
It is possible to use LUIS entities as part of a multi-choice prompt so that the bot can understand a wider set of replies.

This can be achieved using list entities. @vishwacsena can provide more info around doing this!

This would make a good tip or best practice!

[2020-08-26 21:12] tdurnford opened #3911 "[shell] Breadcrumb is incorrect when the user creates a new dialog"
## Describe the bug
Currently when the user creates a new dialog, the design page navigates to the 'OnBeginDialog' trigger, and the breadcrumb is just set to 'BeginDialog.' However, it should be 'DialogName > BeginDialog.'

## Version
Latest build from Master

## To Reproduce

Steps to reproduce the behavior:

1. Add a new dialog
4. See error in breadcrumb

## Expected behavior
The Breadcrumb shou

[2020-08-26 22:46] zxyanliu opened #3912 "How to enable Electron users to set QnA subscription key"
## Describe the bug

Current QnA implementation requires users to set QnA subscription key by running `set QNA_SUBSCRIPTION_KEY=<Your_QnA_Subscription_Key>` and restart Composer, otherwise, you will see the following error message and your KB creation will not be successful:

![image](https://user-images.githubusercontent.com/32497439/91363763-2b9b1480-e7b2-11ea-853a-e7c694ef0fd1.png)

We might ne

[2020-08-27 00:42] #3898 closed

[2020-08-27 01:17] lei9444 opened #3916 "The recognizer type in form doesn't update when change the value"
## Describe the bug

![formeditor](https://user-images.githubusercontent.com/39758135/91372383-1b347980-e846-11ea-930e-70eff1ba58d6.gif)

## Version
main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down

[2020-08-27 02:12] pavolum commented on #3538
Closing this issue due to inactivity. Feel free to reopen if you feel your issue was not resolved.

[2020-08-27 02:12] #3538 closed

[2020-08-27 03:07] lei9444 commented on #3912
Hi, @zxyanliu, for web app, now we need to set QNA_SUBSCRIPTION_KEY=xxx before yarn start if we want to use qna url import. For electron, I updated the pipelines and add a env variable to save the key when build the server. So electron can use the qna url import feature directly

[2020-08-27 03:35] zxyanliu commented on #3912
@lei9444 thanks. Do you have a suggested nightly build so that I can verify this?

[2020-08-27 06:14] lei9444 commented on #3912
This is another issue. The key in environment is only used to import the qna from url. We can file a new issue to track.

[2020-08-27 06:20] zxyanliu opened #3917 "QnA implementation issue in Electron"
## Describe the bug

Used nightly build to test.
Import QnA KB using URL and publish it with success.
Test in Emulator and see the following error message:

![image](https://user-images.githubusercontent.com/32497439/91387396-0d510b00-e7ea-11ea-8f64-0d0959acbc49.png)

## Version

[nightly build v1.0.2-nightly.160994.3bb51df](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases)

#

[2020-08-27 06:20] #3912 closed

[2020-08-27 07:11] #3897 closed

[2020-08-27 07:22] hibrenda commented on #3917
Hit due to expendText expression error.

[2020-08-27 07:23] alanlong9278 commented on #3917
This error is lg parser error, and it will be fixed after https://github.com/microsoft/botbuilder-dotnet/pull/4516 merged.

[2020-08-27 10:14] #3916 closed

[2020-08-27 10:26] hibrenda opened #3921 "support for different QnA service"
User Scenarios
As a user, I can author my QnA pairs inside composer and I can call external QnA endpoint in dialog flow as well.
so far QnA content and external QnA endpoint should be under the same QnA service (with same subscription key), we should provide the capability to enable the KB which belongs to different QnA service.

[2020-08-27 11:55] garypretty opened #3922 "Bot settings section title incorrectly shown as 'Application Settings' on initial navigation"
Currently, when I open Composer (nightly build 8/27), open a bot and click the settings button, I see a page like the below.  Note that the title is shown as 'Application Settings', but it is the Bot Settings screen that is displayed.  If I navigate to a different settings tab and back, the problem disappears, so this only appears to be an issue on initial navigation to settings.

One thing to not

[2020-08-27 12:47] cdonke opened #3924 "Docker Build: Yarn build verbosity"
## Is your feature request related to a problem? Please describe.
When running docker-compose build, or simply docker build, the yarn command tooks a long time.
It has no verbosity... So one cannot know what is happening, or if it is hanging.

## Describe the solution you'd like
Add the _--verbose_ tag to the build commands.

[2020-08-27 12:57] cdonke opened #3925 "Composer on docker cannot find runtimes folder, therefore, cannot start bot"
## Describe the bug
When running from docker, clicking to start bot runs really quick... But emulator cannot reach the API.

Running _ ps aux_ from inside the container, it shows no _dotnet process_ running.
Checking the _/hostedBots/XXX/runtime_ folder, it's empty.
Checking the _localPublish/src/index.ts_ file, it copies the runtimes from _../../../../runtime_ folder,which falls to _/app/Composer

[2020-08-27 14:04] nitroin commented on #3904
Hello again. I'm able to repro the issue.

Updated steps:

8 bis. From the combobox select 'westeurope'.

<img width="1323" alt="Screenshot 2020-08-27 at 3 57 02 PM" src="https://user-images.githubusercontent.com/14164969/91452296-b34e5500-e87e-11ea-94ed-0a5d4cf34a0d.png">

<img width="1325" alt="Screenshot 2020-08-27 at 3 58 06 PM" src="https://user-images.githubusercontent.com/14164969/91452333-

[2020-08-27 15:16] nitroin commented on #3904
Here a video repro.

Setting up the bot.

![output-2](https://user-images.githubusercontent.com/14164969/91461105-e695e180-e888-11ea-8bae-87e9149b09ba.gif)

(20 sec cut)

![output-3](https://user-images.githubusercontent.com/14164969/91461169-f6152a80-e888-11ea-9715-5c851fa83b6d.gif)

[2020-08-27 15:32] v-kydela commented on #3904
@nitroin - So it looks like the problem is that LUIS isn't working for you with a westeurope key but is working for you with a westus key. It seems like the problem is not that you've configured the wrong region in your bot settings, but can you check the settings after you've started your bot to make sure anyway? I posted a screenshot earlier of what the LUIS endpoint looks like in the settings.

[2020-08-27 16:08] nitroin commented on #3904
@v-kydela I've tried Bot Composer ver 1.0.2 (not Beta/Insiders) and I'm able to use the Luis services from West Europe.

This looks like a regression from pre-release ver.

Thanks.

[2020-08-27 16:21] v-kydela commented on #3904
@nitroin - Thank you for testing that. I guess the Composer version is the culprit after all. Previews are certainly not guaranteed to be bug-free but I suppose it's nice to have this bug report anyway. I'll unassign myself so this can be triaged.

[2020-08-27 16:23] nitroin commented on #3904
Super! Thank you @v-kydela.

[2020-08-27 16:32] benbrown opened #3926 "Consider: should expression fields auto-expand so they can fit long expressions?"
The current expression field is a single line that does not expand to fit the content of the field.  This makes it difficult to edit (frequently) complex and long expressions, for example:

![qaN03E30BJ](https://user-images.githubusercontent.com/729873/91469418-fc8bae00-e858-11ea-8510-fe681d0a261e.gif)

It would be great if this field would expand so I can see and more freely edit the full text of

[2020-08-27 16:36] cwhitten commented on #3926
@sangwoohaan does this scenario apply to your updated field UX that is ready to go?

[2020-08-27 16:37] cwhitten commented on #3925
@cdonke thank you for submitting changes to address this! tangentially--can you share more information about your scenarios and use of dockers and containers with Composer?

[2020-08-27 16:38] cwhitten commented on #3922
@garypretty did you forget to attach the screenshot?

[2020-08-27 16:39] #3770 closed

[2020-08-27 16:39] #3911 closed

[2020-08-27 16:40] cwhitten commented on #3909
@sangwoohaan has this updated this is form design tweaks

[2020-08-27 16:43] cwhitten commented on #3908
@LouisEugeneMSFT can you look to wire in examples into the validation fields as part of your type selection and example work

[2020-08-27 16:45] cwhitten commented on #3904
@nitroin you can modify the region settings by navigating to Settings -> Bot Settings and look for the "luis" key.

In an upcoming release we're enable modification of these fields

[2020-08-27 16:47] cwhitten commented on #3902
@cdonke is this issue fixed by making those changes to docker-composer.yaml?

[2020-08-27 17:53] hatpick commented on #3709
I have the following suggestions for the mono font:
FiraCode https://github.com/tonsky/FiraCode
Monoid https://github.com/larsenwork/monoid

[2020-08-27 18:09] lauren-mills commented on #3491
Closing due to inactivity. Reopen as needed.

[2020-08-27 18:17] zxyanliu commented on #3917
@alanlong9278 thanks for the follow-up.

[2020-08-27 18:29] cdonke commented on #3902
the docker-compose fixed the emulator not starting when in dockers

[2020-08-27 18:38] zxyanliu commented on #3491
@zidaneymar do you have updates for this one?

[2020-08-27 18:41] cdonke commented on #3902
i just figured out that when published I have only:
- common.en-us.lg
- echobot-0.en-us.lg

I manually copied the files without the locale:
- common.lg
- echobot-0.lg

And it worked...
Now I'm a bit lost where should I touch to fix this...
Not sure if related to the creation of the project or the localPublish plugin...

Still investigating.

[2020-08-27 18:46] sangwoohaan commented on #3909
This one has a new design but haven't been implemented yet. https://www.figma.com/file/oyUckdH5xVFEpyM97Mb8iy/Composer-main-design-spec-UI-library-Copy?node-id=2615%3A21799

Marc was in the middle of doing visual polishment. I will have to pick up this after the bot project is dine.

[2020-08-27 18:47] sangwoohaan commented on #3926
Yes it does!

[2020-08-27 20:16] #3580 closed

[2020-08-27 21:50] nitroin commented on #3904
Thank you @cwhitten - the problem is not changing the Luis region (by hand on Bot settings or by ComboBox at the first start) or deploy models (with Intents definitions).

The problem is the Luis model unavailability when choosing said region while into bot conversation.
The regression seems to be there also in version v1.0.2-nightly-161168.62bd41.

[2020-08-27 22:14] tdurnford opened #3929 "[visual editor] Deleting a focused action switches the design page from the trigger to the Adaptive Dialog editor"
## Describe the bug
If you delete an action that is focused, the design page switches from the trigger the user was editing to the Adaptive Dialog editor. Note, if you unfocus the action before deleting it, the design page does not switch editors.

## Version
Latest build from Main branch

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macO

[2020-08-28 01:48] hibrenda commented on #3904
@nitroin Could you help to check the default endpoint setting in LUIS and updated in bot settings?

-  Check the luis endpoint and updated in Settings->Bot settings ("luis" :   "authoringEndpoint": "xxx")
![image](https://user-images.githubusercontent.com/43408889/91511855-41741b00-e913-11ea-9626-98bd160cbda5.png)

[2020-08-28 04:15] hibrenda opened #3930 ""Reloading" spin for ever but bot is already started"
- Create a bot from template "TodoLuisBot"
- start bot and bot will be published and running as expected
- click "start bot" again without any updates
- bot will be published again and reloading status will be there forever (actually bot is already started)

![image](https://user-images.githubusercontent.com/43408889/91520413-d1bc5b00-e927-11ea-90fd-26cc048c36a3.png)

mitigation : reload 'Todoluis

[2020-08-28 08:01] nitroin commented on #3904
Thank you @hibrenda.

I tried to manually popolate `authoringKey` and `endpoint` **only** and this seems to fix the issue!

My confusion in previous tests was that I was providing all `endpointKey`, `endpoint` and `authoringEndpoint` values.
This result in in 403 Forbidden.

Thank you all. I hope this debug session is beneficial to other users too.

We're really liking Composer workflow. Thanks.

[2020-08-28 10:12] hibrenda commented on #3904
Thanks for the verification.  Actually there are 2 ways to make it work.
1. Manually add **authoring** key/endpoint to all the endpointkey, endpoint, authoringendpoint and authoringkey if your luis service is not default like “https://{region}.xxxx".
2. Based on the luis doc :  https://docs.microsoft.com/en-us/azure/cognitive-services/luis/get-started-portal-deploy-app#assign-the-resource-key-to-t

[2020-08-28 10:56] #3930 closed

[2020-08-28 11:47] sschutten opened #3933 "Timeout setting on prompts"
It would be great to have some sort of timeout setting on prompts that triggers when a user hasn't responded to the prompt within set time. It would allow for a more natural flow where the bot can remind the user to reply with an answer or cancel the dialog.

[2020-08-28 13:33] VanyLaw opened #3934 "Composer on electron can not load azurePublish plugin"
## Describe the bug

Can not find any types in composer, and the /publish/types api return empty array.

![image](https://user-images.githubusercontent.com/21174180/91566098-c09a3b00-e975-11ea-8dad-099e35967911.png)
![image](https://user-images.githubusercontent.com/21174180/91566224-ede6e900-e975-11ea-90ba-f8e8cafbfac3.png)

## Version

newest

## Browser

- [x] Electron distribution
- [ ] Chrome

[2020-08-28 17:40] tonyanziano commented on #3934
I've found the issue:

The `plugins/azurePublish` plugin code has hard dependencies on some composer packages (`@bfc/shared / @bfc/indexers`) but none of them are listed in the `package.json`.

So when the plugin loader tries to require the plugin, loading it fails due to missing dependencies:

[code]

[2020-08-28 19:00] tdurnford commented on #3929
It looks like the shell is checking if the

[2020-08-28 19:20] tdurnford commented on #3929
Currently, the `saveData` function in the `useShell` hook checks if the focus path exists in the updated data. If the focused value is `undefined`, it navigates the design page to the Adaptive Dialog editor. However, the `saveData` method uses the `selected` and `focused` values in the `designPageLocation` value, which are not updated until the next render,  to retrieve the. Consequently, when the

[2020-08-28 20:36] benbrown opened #3936 "Instrument key features and events in Composer with app analytics"
We need to track some key usage metrics in Composer so the project can evolve to support our growing user base.

## Describe the solution you'd like

We should instrument Composer with an app analytics tool with an MVP set of events that help us understand real user behavior in the app.

[2020-08-28 20:37] benbrown commented on #3936
@michielpr can help us define these

[2020-08-28 20:44] michielpr commented on #3936
We'd like to track the following moments:
- Signal when someone installs composer successfully
- Signal when someone clicks on create new (start bot creation flow)
- Signal when a new bot gets created locally (end of create new flow)
- Signal when user creates a new publishing profile
- Signal when user created a new publishing profile
- Signal when a bot gets published
- An environment marker in

[2020-08-28 23:29] #3934 closed

[2020-08-29 15:38] cwhitten opened #3939 "Issues navigating via BeginDialog"
When I click on the Dialog being called inside the BeginDialog node, an error is returned.

<img width="674" alt="Screen Shot 2020-08-29 at 8 37 52 AM" src="https://user-images.githubusercontent.com/1156704/91640512-f28dba80-e9d2-11ea-9b17-e8e9b0e997df.png">

[2020-08-29 18:30] samaea opened #3940 "Cannot upload files/images (attachments) that are => 4mb"
When attempting to upload a file attachment using the "User Input (Attachment)" action prompt, it does not accept a file equal or greater than 4mb. This is due to Composer leveraging DirectLine for this capability, which does indeed enforce the "4mb" rule. More information available here:- https://github.com/Microsoft/BotFramework-WebChat/issues/789.

## Version

1.0.2

## Browser

- [X] Edge

##

[2020-08-29 19:07] samaea commented on #3940
Closing as come to think of it, this needs to be handled outside of Composer as the channel handles the upload, not the bot directly.

[2020-08-29 19:07] #3940 closed

[2020-08-31 03:30] yeze322 opened #3942 "Create a new navigation API to handle jumping between dialogs"
## Describe the bug

When fixing breadcrumb and navigation behavior, jumping between dialogs by clicikng on BeginDialog was broken silently.
We need a standalone dialog jump API to treat this scenario specially and as an anti-corruption layer.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## T

[2020-08-31 07:08] VanyLaw commented on #3888
I think it was fixed in this PR. https://github.com/microsoft/BotFramework-Composer/pull/3885. @peterinnesmsft could you have a try?

[2020-08-31 07:32] zidaneymar commented on #3491
Hi @aimanfathi , sorry for replying late.
In HttpRequest action, you could set your response type to 'json', then this action would try to parse the content with 'json' firstly, but if the reuslt is not a json type, the content would be a raw string (without any parsing).

Here is an example,

sample raw string response server:
![image](https://user-images.githubusercontent.com/9328933/91694290-fb

[2020-08-31 08:04] Michelle-Deve opened #3943 "Cannot open a folder from local drive using composer"
![Capture](https://user-images.githubusercontent.com/65315409/91697380-50f09f80-eb71-11ea-9dd5-3b480ea08c45.JPG)

[2020-08-31 09:14] GavinHarbus opened #3944 "max limit 100 app versions when publish bot to azure"
## Describe the bug

When I publish my bot to my azure app service, I met this error - The number of application versions cannot exceed the limit of 100. But I can publish luis app by click start bot ot restart bot, and the app.versionId in my .lu file is just 0.1. And I have deleted all extra luis versions, but it didn't work for this issue.

## Screenshots

![image](https://user-images.githubuse

[2020-08-31 09:31] kunigagon opened #3945 "eslint-plugin-bfcomposer not-found when build on the composer image on ACR"
## Describe the bug

i use the master branch for build.
on the Composer path : "az acr build --registry xxxxx --image xxxxxxx ."

result:
2020/08/31 09:12:44 Downloading source code...
2020/08/31 09:12:46 Finished downloading source code
2020/08/31 09:12:46 Using acb_vol_7e9ea94670692 as the home volume
2020/08/31 09:12:46 Setting up Docker configuration...
2020/08/31 09:12:47 Successfully set up

[2020-08-31 12:25] KyonCode opened #3947 "bot composer - publish to Azure - Unexpected token E in JSON at position 0"
Hello,

trying to publish my bot to azure via composer. Already got Azure resource group and Web App Bot created. When I try to publish selected profile in composer i get this error:

**Unexpected token E in JSON at position 0**

My configuration:
[code]

Trying to follow this guide: https://docs.microsoft.com/en-us/composer/how-to-publish-bot#deploy-bot-to-azure

Not sure if problem is in syntax

[2020-08-31 15:59] benbrown opened #3948 "BUG: secondary qna endpointkey field being added to projects, causes crash"
## Describe the bug

Opening a slightly older project causes duplicate configuration keys to be added to the appsettings file, causing the dotnet runtime to crash.  This is related to the qna endpointKey field which now appears in 2 forms "endpointkey" and "endpointKey".

No action is necessary to cause this error - simply opening the project will corrupt it.

This corruption breaks previously wor

[2020-08-31 16:00] benbrown commented on #3948
![Screen Shot 2020-08-31 at 11 00 08 AM](https://user-images.githubusercontent.com/729873/91740609-29053a00-eb79-11ea-984b-da45cb7b4696.png)

[2020-08-31 16:18] benbrown opened #3949 "BUG: Editing settings causes app to crash"
## Describe the bug
While removing erroneously added keys from my settings file, the app crashes leaving a white screen.

![crash](https://user-images.githubusercontent.com/729873/91742204-813d3b80-eb7b-11ea-93bc-1f9387267e4e.gif)

## Version

main branch

## To Reproduce

1. Go to bot settings page
2. go into the json settings, begin to remove sections by pressing backspace
3. the app will crash

[2020-08-31 16:40] #3929 closed

[2020-08-31 16:40] #3939 closed

[2020-08-31 17:09] mdrichardson commented on #3769
@Bernardo08pt I'm closing this issue due to inactivity and I believe I've posted the solution above. Feel free to re-open if you're still experiencing this.

[2020-08-31 17:09] #3769 closed

[2020-08-31 17:29] zxyanliu commented on #3948
Creating a new bot does not generate this error.

![qna1](https://user-images.githubusercontent.com/32497439/91748403-c873fe00-eb74-11ea-92a5-f9a8c51aa5e4.png)

[2020-08-31 17:48] #3924 closed

[2020-08-31 17:48] #3925 closed

[2020-08-31 18:25] pavolum commented on #3863
Closing this as it is stale. Feel free to reopen if your issue persists.

[2020-08-31 18:25] #3863 closed

[2020-08-31 18:47] #3905 closed

[2020-08-31 20:58] tdurnford opened #3950 "[visual editor] Add enable and disable to the actions menu"
## Is your feature request related to a problem? Please describe.
Currently, to disable actions in the visual editor, user's have to focus on the actions they want to disable and then click the disable button in the editor menu. We should consider adding the enable and disable options to the node's menu options.

## Screenshot

![image](https://user-images.githubusercontent.com/17039790/91767403-c

[2020-08-31 21:04] zxyanliu commented on #3907
The doc is updated and in-review. The content will go live soon.
Closing this issue. Thanks again for the feedback. 👍

[2020-08-31 21:04] #3907 closed

[2020-08-31 21:04] zxyanliu commented on #3906
The doc is updated and in-review. The content will go live soon.
Closing this issue. Thanks again for the feedback. 👍

[2020-08-31 21:04] #3906 closed

[2020-08-31 21:08] benbrown opened #3951 "The placeholder for the BeginDialogs options has a typo"
## Describe the bug

If "Expression" is selected as the type for the begin dialog options field, it says "ex. [Object object]"

## Version

 1.1.0

![Screen Shot 2020-08-31 at 4 06 17 PM](https://user-images.githubusercontent.com/729873/91768999-2835cd80-eba4-11ea-8ae4-d9ff20b8edda.png)

[2020-08-31 21:11] benbrown opened #3952 "Update title of "new bot" dialog"
## Is your feature request related to a problem? Please describe.

The 2nd step of the "new bot" flow currently has a modal where the project name and location are selected. However, the title of this modal is "define conversation objective" which is a legacy title from when this modal was shared with other parts of the app.

## Describe the solution you'd like

The title and description of this m

[2020-08-31 21:34] srinaath opened #3953 "VA Scalar Wizard integration with BotProjects"
This ticket encapsulates the work required to consume the .botproject file built from the VA Scaler Wizard.

Note: this depends on the VA Scaler Wizard workstream that won't be done until October

[2020-08-31 21:39] srinaath opened #3954 "Add/Remove a new remote/local skill to a bot project"
This ticket involves workflows to add/connect to skills to the botproject (both remote and local)

Remote skill addition, add a new skill, connect to an existing skill - https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=4511%3A34476

- [x] Create contextual menu
- [x] can create a new bot in the project
- [x] can add an existing bot
- [x] can connect

[2020-08-31 21:41] srinaath opened #3955 "Toolbar Operations Support"
- [ ] undo/redo per bot
- [ ] make clipboard operations work
- [ ] ensure enable/disable still work

This ticket involves  supporting toolbar operations for enabling/disabling nodes, Cut, Copy, Paste, Move, Undo, Redo on BotProjects.

https://www.figma.com/file/S6LnI9uqRtuKaoCVxTVJMz/SH-WIP?node-id=503%3A25541

[2020-08-31 21:44] srinaath opened #3956 "Project Tree for Bot Project"
- [x] Client-side URLs include both botProject and bot ids
- [x] Make indentation correct
- [x] Correct click behavior (or workarounds)
- [x] Display error state icons
- [x] Search whole tree for dialog/trigger names
- [x] handle opening bot projects

Implement the new project tree with error states on Design View of Composer

1. Screen state - https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/C

[2020-08-31 21:59] srinaath opened #3957 "Start Runtimes locally"
This ticket involves Platform and Authoring work.

- [x] ability to start a single bot within a project
- [x] make the root bot refer to running skills
- [x] ability to stop a single bot within a project
- [x] start/stop all
- [ ] propagate error states to runtime Notification window
- [ ] generate runtime warnings

This ticket involves starting up runtimes and surfacing validation errors that req

[2020-08-31 21:59] srinaath opened #3958 "Context menu in Project tree"
- [ ] create menu with stubs
- [ ] run this bot
- [ ] create/edit skill manifest
- [ ] export
- [ ] settings

![](https://user-images.githubusercontent.com/13004779/91777728-80210400-eba5-11ea-90dd-ad228320d649.png)

Context menu operations on a single bot inside the bot project

Left nav contextual menu - https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?nod

[2020-08-31 22:07] srinaath opened #3959 "Project Tree: LG page"
Implementing the All up LG view (left nav) for botprojects with the new project tree implementation.

https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=4868%3A1

[2020-08-31 22:08] srinaath opened #3960 "Project Tree: User Input page"
Implementing the All up User Input view (left nav) for botprojects with the new project tree implementation.

[2020-08-31 22:09] srinaath opened #3961 "Project Tree: QnA Page"
Implementing the All up Qna view for botprojects with the new project tree implementation.

[2020-08-31 22:17] srinaath opened #3962 "Settings Page"
This ticket involves implementing the Settings page for BotProjects with support for editing settings across all bots in the botproject.

Bot settings - https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=5690%3A392
Publish profile settings - https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=5690%3A1998
Com

[2020-08-31 22:17] srinaath opened #3963 "Publishing Page (group publish)"
This ticket involves implementing the per bot publishing profiles page inside the Settings view of Composer. This view gives the ability to add mulitiple publishing profiles for a bot.

Implementing Publishing Page (links from left nav)- This item links to the page that helps publish a collection of bots to azure.

1. Publish profile settings - https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/C

[2020-09-01 02:46] #3948 closed

[2020-09-01 02:46] #3949 closed

[2020-09-01 03:56] dmvtech commented on #3943
Hi @Michelle-Deve What OS are you running?

[2020-09-01 04:56] soniaang opened #3966 "COMPOSER: the former connections of a trigger get broken when you Switch between LUIS and REGEX"
## Describe the bug

These connections that  were working for intents/ or  triggers  like Help cancel etc al get broken when switch between modes . i have tp REDO again!

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on

[2020-09-01 06:34] KyonCode commented on #3947
this is what i got from CLI:
![image](https://user-images.githubusercontent.com/70146191/91810270-e3ef0f80-ec2d-11ea-8abc-9e0ca0e306d8.png)

[2020-09-01 06:35] KyonCode commented on #3947
this is what i got from CLI:
![image](https://user-images.githubusercontent.com/70146191/91810363-097c1900-ec2e-11ea-80c4-83ce3f8352e4.png)

[2020-09-01 07:50] boydc2014 opened #3967 ""Uncaught" error when creating trigger"
Version: Latest nightly build 8/31, Electron version.

Steps:
1. create a bot from todo with luis sample
2. create a new trigger in main dialog
3. typing in the intent name, and there is an error pop up

![image](https://user-images.githubusercontent.com/3829387/91822822-d6cf2200-ec27-11ea-9d8e-45f07cef181f.png)

[2020-09-01 07:54] boydc2014 commented on #3967
More information, this looks like we are loading from a CDN at every render, and sometimes it fails to load

![image](https://user-images.githubusercontent.com/3829387/91823209-6543a380-ec28-11ea-8025-5d499d6b91ba.png)

[2020-09-01 08:17] boydc2014 opened #3968 ""Github" link in error popup should not open page inside Composer electron"
Nightly 8/31, Electron.

When clicking the "Github" link in error popup
![image](https://user-images.githubusercontent.com/3829387/91825218-7a6e0180-ec2b-11ea-9a74-1d1dde31f66f.png)

Composer electron app will just bring me to Composer github page inside electron app
![image](https://user-images.githubusercontent.com/3829387/91825271-8f4a9500-ec2b-11ea-9702-144637d28bd0.png)

which is not right, w

[2020-09-01 08:20] Michelle-Deve commented on #3943
@dmvtech windows 10

[2020-09-01 08:27] luhan2017 opened #3969 "Got an authentication error while the luis.authoringKey is not configured in the publish profile"
I didn't use luis in my bot, but while publishing I got such error.

401 - "{ \"statusCode\": 401, \"message\": \"Unauthorized. Access token is missing, invalid, audience is incorrect (https://cognitiveservices.azure.com), or have expired.\" }"

The error is gone after i configure the luis.authoringKey

[2020-09-01 08:29] VanyLaw commented on #3944
Using nightly build version electron can solve this problem. because we fixed the relative problem in https://github.com/microsoft/BotFramework-Composer/pull/3661.

[2020-09-01 08:30] lei9444 opened #3970 "Inline editor doesn't update the content if create a new intent from design page"
## Describe the bug

![update](https://user-images.githubusercontent.com/39758135/91826579-5f71b080-ec70-11ea-9e7e-4117ac4895b2.gif)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Se

[2020-09-01 08:31] boydc2014 opened #3971 "Hoisted LU editor in form view is not correctly initialized when creating new trigger"
Version: nightly electron 8/31.

Create a trigger with new trigger wizzard
* type: Intent Recognized
* name: test
* trigger pharses:  -test
and click sumbit

![image](https://user-images.githubusercontent.com/3829387/91826604-57445180-ec2d-11ea-975a-320f921f6529.png)

On the right panel, this "-test" is not shown
![image](https://user-images.githubusercontent.com/3829387/91826654-688d5e00-ec2d-11e

[2020-09-01 08:32] boydc2014 commented on #3970
dup to #3971

[2020-09-01 08:32] #3970 closed

[2020-09-01 10:21] #3971 closed

[2020-09-01 10:45] #3967 closed

[2020-09-01 10:59] #3968 closed

[2020-09-01 11:36] luhan2017 opened #3975 "Got error of MicrosoftPassword incorrect for the new provisioned web app bot. (both creation from script and portal)"
## Describe the bug

- create an echo bot
- run provision script
- deploy the bot. deployment will success.
- query the bot from the azure portal, there is no response.
- query it from the emulator, got an error: The bot's Microsoft App Password is incorrect.
- The publish profile provisioned before works well.
- I tried to create a new azure web bot in azure portal, and query it from the emulator

[2020-09-01 13:52] luhan2017 commented on #3975
Got this error in the webchat

![image](https://user-images.githubusercontent.com/32191031/91859799-724eaa00-ec9d-11ea-9b35-b7dfccf19e44.png)

[2020-09-01 15:45] zxyanliu commented on #3975
Lu, thanks for reporting this. In addition to this, I got this error as well.
![MicrosoftTeams-image (15)](https://user-images.githubusercontent.com/32497439/91874748-73e18900-ec2f-11ea-9214-2474bad99be6.png)

[2020-09-01 16:09] pavolum commented on #3839
Closing this issue as this behavior is by design

[2020-09-01 16:09] #3839 closed

[2020-09-01 16:38] cwhitten commented on #3966
hi @soniaang - switching recognizers may require updating the existing triggers configured in order to work with the newly selected recognizer. If Composer had a warning when this operation was done, would this be helpful?

[2020-09-01 16:41] cwhitten commented on #3951
@LouisEugeneMSFT we discussed this a couple weeks ago -- can you include as part of your proposals to update examples/type selections?

[2020-09-01 16:43] cwhitten commented on #3950
Currently "by design", adding Design team for visibility

[2020-09-01 16:45] cwhitten commented on #3947
@KyonCode can you double check that both your bot settings file Settings -> Bot settings and the publishing profile are both valid JSON?

[2020-09-01 16:47] cwhitten commented on #3945
@kunigagon please use the `main` branch and try again?

[2020-09-01 16:49] cwhitten commented on #3943
@Michelle-Deve where on your file system are you storing your bot projects?

[2020-09-01 16:50] cwhitten commented on #3936
We need to run through a privacy review before we can build a work plan for this.

Something to consider is that if we collect any personally identifiable information we have to go through a significant amount of work for GDPR reasons. @michielpr all the information you want "Per BotID" is considered PII.

[2020-09-01 17:00] michielpr commented on #3936
Thanks! Would you recommend I start a thread with CELA/Privacy, Ben, you and myself to get this started?

Also, do you think we should split this issue in two:
- one for non-PII type
- one for PII-type information

Should that be the way forward?

[2020-09-01 23:40] Andrea-Orimoto commented on #3975
This is an internal only problem, by design due to compliance. Please see my email on this subject. Thanks for reporting!

[2020-09-01 23:40] #3975 closed

[2020-09-01 23:43] zxyanliu commented on #3491
Closing this issue since it's been addressed.

[2020-09-01 23:43] #3491 closed

[2020-09-02 03:43] #3944 closed

[2020-09-02 06:06] kunigagon commented on #3945
Hi @cwhitten  @a-b-r-o-w-n  i have tried. it change error but still not work.
![image](https://user-images.githubusercontent.com/47618641/91937918-2b07fe00-ed1d-11ea-8b59-494be7b3aa56.png)

[2020-09-02 06:07] kunigagon commented on #3945
Hi @cwhitten @a-b-r-o-w-n i have tried. it change error but still not work.
![image](https://user-images.githubusercontent.com/47618641/91937965-4541dc00-ed1d-11ea-811b-cc605d9c397a.png)

[2020-09-02 08:29] #3969 closed

[2020-09-02 10:34] boydc2014 opened #3982 "LG namespace option should not be required"
Expected, use exports in LG file, namespace should not be a required field, should be an optional field. Or at least the error message should be clear about it.

Actual: Error pop up when there is only exports without namespace, and the error message is not clear
![image](https://user-images.githubusercontent.com/3829387/91970897-ee52fb80-ed4a-11ea-9980-24083a81f268.png)

[2020-09-02 16:45] tdurnford opened #3984 "The skill manifest editor does not include QnA Files in the dispatch models"
## Description
The skill manifest editor should add QnA Files to the dispatch models

[2020-09-02 17:12] KyonCode commented on #3947
Hi @cwhitten checked configuration in bot settings, only difference is `\` sign.

[2020-09-02 17:26] a-b-r-o-w-n commented on #3945
I found that the issue was with our `.dockerignore` file. I have pushed a fix on #3986 for you to test.

[2020-09-02 19:04] pavolum opened #3987 "Creation Experience M0 Clean Up"
## Description

Clean up and tie up loose ends in m0 creation branch such that it is ready for PR

## Acceptance criteria

- [ ] Sync up with QNA folks and VA Core folks to ensure va core runtime and template file structure match the updated qna method
- [ ] Clean up code to prep for PR
- [ ] Add enviornment flag checks before any creation UI code to ensure experience is not surfaced in 'main'

[2020-09-02 20:14] tdurnford opened #3988 "Fields flickering on language generation page"
## Description
The fields on the Language Generation page flicker when moving focus from one field to another.

## Version
Latest build from main

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open Language Generation page
2. Set focus on any field
3. W

[2020-09-02 20:36] a-b-r-o-w-n opened #3991 "Extensions page in settings page that lists currently installed plugins"
Go to `/settings/extensions` to see list of extensions that are in the extension-manifest database.

If an extension is in the database, but not installed, show some special UI.

Currently, we will just show the pre-installed extensions. We will eventually hide those from the user.

[2020-09-02 20:39] a-b-r-o-w-n opened #3992 "Users can install and uninstall extensions from npm"
On the extensions page, users can click '+Add' and then search for extensions that are published on NPM. Reloading Composer after installation or removal is required.

Packages are searched by the keywords:
- `botframework-composer`
- `extension`

[2020-09-02 20:41] a-b-r-o-w-n opened #3993 "Users can disable / enable installed plugins"
On the extensions page, a user can either enable or disable a currently installed extension. For now, requiring a reload is fine.

[2020-09-02 20:43] a-b-r-o-w-n opened #3994 "Users can update to a new extension version"
From the extensions page, a user can tell if a new version of an extension exists and can update to it.

[2020-09-02 20:53] a-b-r-o-w-n opened #3995 "Users can configure extension settings"
From the extensions page, a user can edit extension settings via a json editor.

The UX will be modeled by the experience in VS Code.

Extensions can provide a JSON schema describing their settings interface and Composer will add a key into the settings object with the extension name.

Example:
Extension name:
my-cool-extension

Settings Schema:
[code]

Will produce settings object like:
[code]

W

[2020-09-02 20:56] a-b-r-o-w-n opened #3996 "Users can install extensions from a local path instead of npm"
To enable extension development, users can choose to install an extension from their file system.

UX:
~In the add modal, show a "Browse" button that will open up the system finder. The user can then select a directory that contains a package.json of the extension.~
Update: the browser doesn't allow for a great UX experience for selecting a folder. So for R11, we will just prompt the user for an a

[2020-09-02 21:13] a-b-r-o-w-n opened #3997 "Composer should write extension metadata to a database"
Write to `extension-manifest.json` in the `.composer`. Move `data.json` into the `.composer` directory.

Information to store:

[code]

[2020-09-02 21:17] a-b-r-o-w-n opened #3998 "Users are prompted when starting composer or opening a bot if they have uninstalled extensions"
An in app alert modal that has a link to the extensions page where users can manually install each missing extension.

[2020-09-02 21:21] a-b-r-o-w-n opened #3999 "Users can install / configure extensions per project"
There is a toggle switch on the extensions page that allows users to toggle between the system level settings and the project level settings.

[2020-09-02 21:23] a-b-r-o-w-n opened #4000 "migrate old plugins to new extension model"

[2020-09-02 21:23] a-b-r-o-w-n opened #4001 "refactor extension/plugin naming for consistency"

[2020-09-02 21:24] a-b-r-o-w-n opened #4002 "Create a samples repo and a few samples"

[2020-09-02 21:25] a-b-r-o-w-n opened #4003 "Create an extension library that is used to build composer extensions"
Just get an MVP set up so that we can start iterating on the api's needed for extensions.

[2020-09-02 21:26] a-b-r-o-w-n opened #4004 "Extensions should be able to read/write data to their own database"

[2020-09-02 21:30] a-b-r-o-w-n opened #4005 "[extension] Asset Library"
Client Requirements
- Type: page w/ project scope
- Shared UI Components
  - Toolbar
  - Dialog
  - LoadingSpinner
- Ability to re-index project after adding/removing assets

Server Requirements
- Create web routes
- Access to current bot project
  - Read/write dialog assets
  - Modify runtime by adding/removing custom actions
  - Information about current runtime (if ejected, type)
  - Ability to

[2020-09-02 21:31] a-b-r-o-w-n opened #4006 "[extension] PVA Publishing"
Client Requirements
- Type: publishing with access to project’s publishing targets and basic auth APIs
- Access to publishing targets
  - Add new publishing target to current bot project (with custom shape defined by plugin)
  - Read publishing target (when editing configuration)
- Access to basic authentication APIs
  - Login to Azure via pop-up browser window
  - Authenticate against Bot Framewo

[2020-09-02 22:51] supratikchat opened #4007 "Inability to navigate to Publish menu"
After updating the publish profile and saving it, the publish pages goes away. From there it's impossible to get back to the publish page again.

Tried 1.0.2, nightly version and 1.1 also. Same in all cases.

[2020-09-02 23:34] mareekuh opened #4008 "The toolbar is intended to be context sensitive. This means that actions that require a selection do not show unless an item is selecfted"
the toolbar is intended to be context sensitive: buttons that require a selection to be applicable therefore do not show up unless something is selected. This means that 'disable' would only be shown when an item that can be disabled is selected.
And once a disabled item is selected, 'enable' should show.

- Today: Disable is shown as a menu (vs button) in the toolbar even when nothing is selected

[2020-09-02 23:57] mareekuh opened #4009 "Copy /paste placeholder text in fields"
Composer has detailed examples inside the properties fields, but they cannot be selected (copy paste to use as a starting point) and once anything has been typed in there, the original suggested text cannot be brought back

Expected: ability to use placeholder text from the property fields as a starting point that can be edited (and or copied/pasted)

[2020-09-03 00:38] timoconnellaus opened #4010 "Error starting bot after upgrading to release 1.1.0"
## Describe the bug

After starting the bot I get the following error in the bot framework composer interface

![image](https://user-images.githubusercontent.com/3151605/92054607-74198a00-edd1-11ea-8330-f39a998e8bd3.png)

Unhandled exception. System.NullReferenceException: Object reference not set to an instance of an object. at Microsoft.BotFramework.Composer.WebAppTemplates.Startup.ConfigureServ

[2020-09-03 03:03] hibrenda opened #4011 "eject js runtime errors"
- Create a todoluisbot
- eject runtime to c#
- eject runtime to JS
- hit following errors on my latptop

![image](https://user-images.githubusercontent.com/43408889/92066666-0a9b7a80-edd5-11ea-9cb3-dcba04bf97d3.png)

[2020-09-03 03:06] hibrenda commented on #4010
Can you provide more detail for your bot settings ?

[2020-09-03 03:43] cwhitten commented on #4008
@mareekuh "Disable" as a menu and not a button is by design and in the figma--we discussed this recently. https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-%2F-UI-library?node-id=2968%3A26994

[2020-09-03 04:15] timoconnellaus commented on #4010
Thanks @hibrenda

![image](https://user-images.githubusercontent.com/3151605/92070571-bce03b80-edef-11ea-84f0-ea22106030a3.png)

Note that:
- We're not using LUIS
- The knowledgebaseid for qna maker is set using a separate property, not stored in settings

[2020-09-03 04:24] cwhitten commented on #3339
Hello! In an upcoming release we will provide documentation and examples on how to configure Composer to publish into a CI/CD infrastructure

[2020-09-03 04:26] cwhitten commented on #3947
@KyonCode I think you have an error in your publishing profile JSON. Please verify that the JSON used in your publishing profile is valid JSON.

[2020-09-03 04:32] carlosscastro opened #4012 "UI: Text in new bot creation screen should start with upper case"
![image](https://user-images.githubusercontent.com/21318528/92071482-a8eef800-ed63-11ea-9589-1402e4b42b18.png)

Fix is to change `create new folder` to `Create new folder` and update tests

[2020-09-03 05:03] engineererr commented on #3321
@hraz-msft I experience the same issue still. What exactly did you ask the LUIS team to do? Thank you

Publish log:

`Publish starting...
{
  "status": "DEPLOY_INFO",
  "message": "C:\\Users\\dummy\\AppData\\Roaming\\BotFrameworkComposer\\publishBots\\dad5cd9069c251df3c8020a205dd0921\\azurewebapp\\ComposerDialogs\\generated\\interuption\\cancel.en-us.lu loaded\n"
}
{
  "status": "DEPLOY_INFO",
  "

[2020-09-03 07:45] luhan2017 commented on #4010
@timoconnellaus , thanks for reporting this, we've found the root cause on this, removed 1.1.0 version, and will publish a new release soon.
You can either wait for a few hours for another update or you can mitigate the issue by pasting those settings in you settings page,

"cosmosDb": {
	"authKey": "",
	"collectionId": "botstate-collection",
	"cosmosDBEndpoint": "",
	"databaseId": "botstate-db"
}

[2020-09-03 07:48] KyonCode commented on #3947
Checked with Syntax highlighter.

Can this log from Profile publishing be helpful?

[code]

![image](https://user-images.githubusercontent.com/70146191/92086211-29484400-edca-11ea-99c0-2b7ec422b1db.png)

Thank you.

[2020-09-03 08:20] Olakhrisat opened #4016 "Expression parsing for object"
Hello,

I need a help with this issue in bot composer (release 1.0.1):
when I try to build an object like this:
![image](https://user-images.githubusercontent.com/59798587/92089053-5569c200-edd6-11ea-97fb-09a69a20a1ff.png)
it works fine and it returns an object but when I use this object in http post and assign it to body
![image](https://user-images.githubusercontent.com/59798587/92089149-70d4cd0

[2020-09-03 10:12] #2625 closed

[2020-09-03 10:58] madbeher opened #4019 "multilingual feature in bot composer not working for hero and adaptive cards etc..."
I have a sample echo bot in bot composer and applied translation middleware logic as mentioned in the below url documentation.
https://github.com/microsoft/BotFramework-Composer/issues/3514
https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/17.multilingual-bot

The multi lingual feature is working fine for normal text messages but if i add hero or adaptive card in

[2020-09-03 11:04] hibrenda commented on #4010
https://github.com/microsoft/BotFramework-Composer/pull/4015

[2020-09-03 11:28] boydc2014 opened #4020 "Runtime auto-upgrade mechanism for hosted bots"
### Scenarios

Those following scenarios will not work if we **don't**  auto-grade runtime for hosted bots
**Pre-setup**: I have a simple bot MyBot and created with composer 1.0.2 (4.9 c#), and i run it without issues.
**Implications**:  There are two folder, one hold the decalrtive assets,
* asset folder A: ~/Documents/MyBot
* cache folder B: /some/path/to/plugin/hostedBots/MyBot  (with runtime a

[2020-09-03 14:55] VanyLaw commented on #4020
@boydc2014, Thanks for the investigation. I have two questions.
1. We have similar issue here https://github.com/microsoft/BotFramework-Composer/issues/3406.
and I think we can use the version field in runtime template too. like package.json in js runtime and version in csproj of dotnet runtime. Do you think it's doable?
2. I think `autoUpgrade: true\false` more like the app settings than bot sett

[2020-09-03 16:44] a-b-r-o-w-n commented on #4016
@Olakhrisat can you try `=Conversation.Body` instead? Using the `${}` automatically casts that value to a string.

[2020-09-03 16:48] a-b-r-o-w-n commented on #4009
@mareekuh we are using the placeholder property from the HTML5 specification. I would assume that all browsers do not allow copying these values, but it is not something we can control.

We could use those values as default values, but that wouldn't be helpful in most cases. Some other options to consider are adding the examples to the field intellisense (they would show up as suggestions when edi

[2020-09-03 16:59] a-b-r-o-w-n opened #4022 "Show dialog interface in BeginDialog form"
If a dialog has an interface defined and is selected in the BeginDialog, render the form fields for the dialog's interface.

[2020-09-03 17:07] EricDahlvang opened #4023 "Release of 1.1.1 points to 1.1.0.md"
![image](https://user-images.githubusercontent.com/11055362/92145458-1e42e300-edcd-11ea-8f94-b10eac1581dc.png)

There is no 1.1.0.md:

![image](https://user-images.githubusercontent.com/11055362/92145524-33b80d00-edcd-11ea-9ffb-243636350fae.png)

[2020-09-03 17:48] #4012 closed

[2020-09-03 17:53] Olakhrisat commented on #4016
@a-b-r-o-w-n thank you, it works for me

[2020-09-03 17:53] #4016 closed

[2020-09-03 18:51] cdonke opened #4024 "fix: Cannot find module 'tslib'"
## Describe the bug

After updating packages for v1.1.1, when started container, it crashed complaining that could no find tslib module.

## Version

Release 1.1.1
Docker for Windows, on WSL2, Ubuntu 20.04

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ X ] Edge

## OS

- [ ] macOS
- [ X ] Windows
- [ ] Ubuntu

## To Reproduce

1. cd (...)/BotFramework-Composer

[2020-09-03 19:02] v-kydela commented on #4019
Thank you for the report, @madbeher

I'm afraid the translation middleware is only [designed](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/17.multilingual-bot/Translation/TranslationMiddleware.cs#L106-L112) to translate the `text` property and nothing else. Translating cards is complicated because the translator needs to know which properties to translate and

[2020-09-03 19:02] #4019 closed

[2020-09-03 20:53] #4023 closed

[2020-09-03 21:10] zxyanliu commented on #4007
Hi, thanks for reporting!
Can you try with the most recent release of Composer?
https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.1.1

[2020-09-03 21:56] EPinci opened #4026 "[v1.1.1] Unable to run LUIS based bots"
## Describe the bug

Bots with LUIS error out.
In the emulator, when a message is sent, bots replies with: "Response status code does not indicate success: 401 (PermissionDenied)."

## Version

v1.1.1

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Creat

[2020-09-03 22:32] ruifelixpereira commented on #4026
I am also able to reproduce this error adding pt-br, setting it as default and even without deleting en-us.

[2020-09-03 22:48] zxyanliu commented on #4026
Hey guys, thanks for reporting the issue. I just tested using v1.1.1 and was unable to reproduce the error.
If you are looking for multilingual language support, this [doc](https://docs.microsoft.com/en-us/composer/how-to-use-multiple-language) will be helpful.

I used `en-us` and tested a LUIS bot in Emulator with successful responses.
I added `zh-cn` and translated both Bot Responses and User In

[2020-09-04 02:41] hibrenda commented on #4026
@EPinci @ruifelixpereira  You may hit https://github.com/microsoft/BotFramework-Composer/issues/3904#issuecomment-682279009. Could you follow the steps to solve the issues ?

[2020-09-04 07:03] malotho commented on #3622
resolved on later versions

[2020-09-04 07:03] #3622 closed

[2020-09-04 07:23] EPinci commented on #4026
@hibrenda I was able to make it work by populating the endpoints in the config but I'm a bit confused in here.

According to another comment on the same thread https://github.com/microsoft/BotFramework-Composer/issues/3904#issuecomment-682445643 the endpoints need to populated only if not using the standard region based ones: I have the standard https://westeurope.api.cognitive.microsoft.com but I

[2020-09-04 08:00] zidaneymar commented on #3441
It seems this issue has been resolved in the latest sdk (Composer App v1.1.1).

Here are the concrete test steps:
1. Create a dialog named Test Dialog.
2. Use a trigger to begin this 'Test Dialog'
3. Ask a simple question in 'Test Dialog'

Navigate to the cosmos db data explorer:
![image](https://user-images.githubusercontent.com/9328933/92215639-b0c7ad00-eec7-11ea-8f3c-97ef3c00c31c.png)

The sub

[2020-09-04 08:01] eluchsinger opened #4027 "Release plan for Bot Framework Composer"
Is there a release plan for the Bot Framework Composer? Like do releases once a month or how do you handle bugfixes, do they get released more often or do we have to wait until the next release?

[2020-09-04 08:02] boydc2014 commented on #4020
@benbrown can you help take a look at this proposal, i think may helps the re-ejecting scenario that you were opening in another ticket.

[2020-09-04 09:24] luhan2017 commented on #2002
@andreatosato, we release the AdaptiveCardRecognizer in the latest main branch and Electron 1.1.1, could you please have a try on this? close this issue, and please feel free to reopen it if nessessary.

[2020-09-04 09:24] #2002 closed

[2020-09-04 09:40] hibrenda commented on #4026
@EPinci Thanks for the comments. could you provide more detail for your luis setting so we can look into detail ?

[2020-09-04 10:07] EPinci commented on #4026
@hibrenda  Sure.

This is the default luis section I get with the template:
[code]
I changed the default language and the key I get to populate it on the first run.

In order to have it working I have to populate the "endpoint/authoringEndpoint" to  https://westeurope.api.cognitive.microsoft.com (as found in my luis resource overview).
If I do, I it works and I get a LUISv3 trace in the emulator.

[2020-09-04 10:28] stephanbisser opened #4028 "Result property the return type does not match while setting property name via an expression"
#  Describe the bug

The issue is somewhat new with v1.1.1 I guess, as it was working already. I have created a for each loop in which I send HTTP requests and want to store the result in a property in the format `user.orderCardX` (where X is the dialog.foreach.index of the loop) so that I create let's say 3 variables if the loop is run through 3 times:
- user.orderCard0
- user.orderCard1
- user.o

[2020-09-04 10:57] stephanbisser opened #4029 "Should have luis authoringKey and authoringRegion when lu file not empty"
## Describe the bug

When trying to publish a bot which is not using LUIS at all, I get the following error:

`Should have luis authoringKey and authoringRegion when lu file not empty`

## Version

v1.1.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Expected behavior

It should be possible to publish

[2020-09-04 12:57] hibrenda commented on #4026
@luhan2017  @zidaneymar Could you help to look into detail ?

[2020-09-04 13:25] jwiersem commented on #3104
I have this same problem when I use botframework composer for creating a MS teams groupchat scoped bot. How do I fix this like you have done @Stevenic ? Or is there a permanent solution for this issue already?

[2020-09-04 14:54] EPinci opened #4030 "[v1.1.1] Issue with Telegram channel"
## Describe the issue

Not sure if this is a Composer bug or not, but I'm short of ideas and I'll appreciate if you have any guidance in here.

My bot works fine locally, I can test it fine with the bot emulator.
When I hook it up with the azure bot channel service I can validate it works fine with the web channel and skype channel as well.
Telegram, however, errors out and I get the following (a

[2020-09-04 15:16] benbrown commented on #4020
* Auto-updates should only apply to managed bots. If the code has been ejected, I believe this should be a manual process as described in #3406. The ejected runtime defines the schema / version of the SDK to use.

* I think we should use the package.json version and/or version in csproj file. This defines the version of the RUNTIME, not the SDK version.

[2020-09-04 15:16] benbrown commented on #4020
I do not think this replaces #3406 - we still need a manual way to indicate the ejected runtime is out of date and offer the ability to update it.

[2020-09-04 17:05] srinaath opened #4031 "FilePersistence and Undo/Redo Support for BotProjects"
Support for filepersistence and Undo/redo for multiple projects

[2020-09-04 17:50] srinaath opened #4032 "Reference skills object in dialog"
We will represent the skills as an object keyed by the skill name or the custom name given by the user. This ticket handles backward compat by converting older bots skills array to a dictionary. The work will assist the BotProject work to start skills and root bot in a single composer instance. The properties in .dialog files referring to skills would be an expression leveraging the settings rathe

[2020-09-04 18:14] pavolum commented on #3837
Closing due to inactivity.

[2020-09-04 18:14] #3837 closed

[2020-09-04 18:15] pavolum commented on #3886
Closing due to inactivity

[2020-09-04 20:05] EPinci commented on #4030
Further troubleshooting makes me think this is not Composer related.
Closing this in favor of https://github.com/microsoft/botbuilder-dotnet/issues/4599

[2020-09-04 20:05] #4030 closed

[2020-09-04 21:10] GeoffCoxMSFT opened #4036 "Add form dialog creation to Composer server"
Integrating discovery and generation APIs from the dialog generation component.

[2020-09-04 21:28] zxyanliu commented on #3952
Can we do the following?

 * For the new bot project form:
	Create a bot project
	Specify a name, description, and location for your new bot project.

* For the new dialog form:
	Create a dialog
	Specify a name and description for your new dialog.

[2020-09-04 22:15] #3879 closed

[2020-09-04 22:15] #3880 closed

[2020-09-04 22:15] #3878 closed

[2020-09-04 22:15] #3881 closed

[2020-09-04 22:44] peterinnesmsft opened #4038 "Provision Hosted Environment Experience"
## User story
**As a** bot creator,
**I want to** be able to provision all resources required to run my bot in a hosted Azure environment,
**so that** I am able to easily publish to and run my bot in an Azure hosted environment.

## Description

From the existing Publish view within Composers, users should be able to perform the provisioning of resources needed to run their bot in an Azure hosted

[2020-09-04 22:44] peterinnesmsft opened #4039 "Provision Local Environment Experience"
## User story
**As a** bot creator,
**I want to** be able to provision all resources required to run my bot in a local environment,
**so that** I am able to easily develop and test my bot in my local development environment.

## Description

As part of the Virtual Assistant creation wizard experience, users should be prompted to perform the provisioning of resources needed to run their bot in a lo

[2020-09-04 22:44] peterinnesmsft opened #4040 "Azure Resource Management Integration for In-App Provisioning"
## User story
**As a** bot creator,
**I want to** be able to fully create and provision my bot in Azure directly from within Composer,
**so that** I do not have to leave the context of the application or perform these operations manually.

## Description

Based on input supplied from the user through either the Virtual Assistant creation wizard experience, or through the Publish view within the Co

[2020-09-04 22:44] peterinnesmsft opened #4041 "Azure Login Experience"
## User story
**As a** bot creator,
**I want to** sign in to an existing or create a new Azure account from within the Composer UI,
**so that** I can easily perform Azure-related operations without needing to retrieve an access token from an external source, such as through the Azure CLI.

## Description

Within both the Virtual Assistant creation wizard, as well as when initiated from the Publish

[2020-09-04 23:32] taicchoumsft opened #4042 "Wrap Orchestrator in Plugin"
## User story
**As a** bot creator,
**I want to** be able to use Orchestrator as a recognizer,
**so that** I can take advantage of improvements in Natural Language Understanding from Microsoft.

## Description

The first goal is to wrap the @bf-orchestrator package in a Composer plugin.  This will be provided either as a publishing or server endpoint plugin for Composer FrontEnd devs to integrate

[2020-09-05 00:26] zxyanliu commented on #3952
e2e test in a draft PR:

![image](https://user-images.githubusercontent.com/32497439/92292705-7106c280-eed3-11ea-9963-a7011c32babb.png)

![image](https://user-images.githubusercontent.com/32497439/92292752-aad7c900-eed3-11ea-8003-d91ffa5ced62.png)

[2020-09-05 10:11] ltwlf opened #4044 "Define a static port for your bot/skill"
## Is your feature request related to a problem? Please describe.

To setup a dev env to test bot skills with skill consumers locally. It is very useful to be able to define a static local port for a bot.

## Describe the solution you'd like

I want to be able to set a static port in in the custom runtime startup command.

## Describe alternatives you've considered
Always checking/changing the ski

[2020-09-05 19:04] tomlm opened #4045 "Can't publish after upgrade to 1.1"
## Describe the bug

When I try to load a project that worked before the upgrade it now fails.

## Version

1.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Load project, click Start Bot

## Expected behavior

It should start the bot.

## Screenshots

![image](https://user-images.githubu

[2020-09-05 19:12] tomlm opened #4046 "documentation Install link points to old version of composer"
## Describe the bug

When coming from the docs page it links to a aka.ms link which points to the old version of composer.
https://docs.microsoft.com/en-us/composer/setup-yarn

## Version

None

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

go to:
https://docs.microsoft.com/en-us/composer/

[2020-09-05 19:17] tomlm opened #4047 "Composer needs a splash screen which shows immediately."
## Describe the bug

It takes way too long to load the composer.  I click on the icon and there is zero feedback that the app is loading until almost a minute, when the splash screen shows for a second then the app shows.

The point of splash screens is to solve this problem.  If we can't get a display immediately because of the electron app we should create a tiny launcher app which shows the spl

[2020-09-05 19:28] tomlm opened #4048 "Installing new composer blew away my runtime settings."
## Describe the bug

Runtime settings need to be persisted to disk and be part of the source code.  When I uninstalled composer and reinstalled it I lost my bot runtime settings.

## Version

1.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. eject runt

[2020-09-05 19:29] tomlm commented on #4045
Ah, this is an issue that the documentation link links to the old version of composer.  I thought I was installing new composer and it installed 1.02 composer.

[2020-09-05 19:29] #4045 closed

[2020-09-06 15:33] ltwlf opened #4049 "Issues with azure webapp deployment script"
## Describe the bug

The azure webapp deployment script has various issues e.g. bf luis:build has wrong --dialog argument.
appsettings.deployment.json will never be used by the published bot and exposes local secrets to the remote folder.

I'll prepare a pull request to fix these issues.

Best wishes,
Christian

## Version
Current main branch build

[2020-09-06 17:03] Jcardif opened #4051 "LUIS Not available as a Recognizer type after upgrading to version 1.1.1"
## Bug Description
After updating to version 1.1.1 yesterday I cannot find LUIS as a recognizer in the drop-down menu.

## Version
![image](https://user-images.githubusercontent.com/29174946/92330956-99c9bc00-f07b-11ea-9190-9b79f1163063.png)

## OS
- [ ] Windows

## Screenshots
![image](https://user-images.githubusercontent.com/29174946/92330891-26c04580-f07b-11ea-981e-30960f2ceb48.png)

[2020-09-06 21:34] sandeepreddy0987 commented on #4029
![image](https://user-images.githubusercontent.com/33647692/92335660-1f3a7580-f056-11ea-8a4e-389ff1bcedfc.png)
Hi, I am getting this error while publishing my bot. I can publish my bot using v1.0.2. Is there any changes in the new version of bot composer?
please let me know how to resolve this issue. I have given all keys and endpoint URL in the settings

[2020-09-06 21:59] sandeepreddy0987 commented on #4029
In the new version of bot composer, we should provide one more field called "authoringRegion":"westus" to resolve this error.

issue solved.

[2020-09-06 22:01] stephanbisser commented on #4029
Issue is not solved IMHO as I'm not using LUIS in my bot at all...

[2020-09-07 01:51] boydc2014 commented on #4020
yes, this is not intended to replace #3406, it's just the comparison method(change detection) can be shared to #3406, and yes, as the title says this only applies to hosted (managed) bots.

But I think we should *not* use package.json or csproj, because as listed above, this is only tighten to the SDK version used, not enough to represent the changes in Composer's usage. For example, i may alter s

[2020-09-07 02:05] luhan2017 commented on #4051
@Jcardif  The Luis recognizer is by-default enabled in the Default recognizer type. In 1.1.1, we released new recognizer types:
Default Recognizer maps to None, Luis, QnA, Luis+QnA Recognizer types. You can just use Default recognizer for luis.

[2020-09-07 02:32] luhan2017 commented on #4029
@stephanbisser , could you zip your bot and share with us? We can help to debug it.

[2020-09-07 02:57] luhan2017 commented on #4049
@ltwlf , we are deprecating this scripts, and use the scripts generated in your bot folder instead, could you please try that one? sorry for the confusion.

[2020-09-07 03:25] luhan2017 commented on #4048
@tomlm , Which version of composer are you using? We did persist the eject runtime settings in the botfolder/settings/appsettings.json and I could not reproduce this issue.
v1.1.1 before
[code]

in v 1.1.1 we added name and key field to support js runtime ejection and switching between C# and js.
[code]

[2020-09-07 03:25] VanyLaw commented on #3850
@GeoffCoxMSFT That's because the source Storage and destination Storage may not be the same storage. Such like copying the files from remote Storage into local Storage. We did this due to the storage extensibility.

[2020-09-07 03:38] luhan2017 commented on #3441
@ku222，Close this issue since we verified it is already resolved, please reopen it if necessary.

[2020-09-07 03:38] #3441 closed

[2020-09-07 03:56] daikichidaze commented on #3837
When I pulled the new commit, the problem disappeared. Thank you :)

[2020-09-07 06:47] DingmaomaoBJTU opened #4054 "[Run Time] Custom runtime test project need to clean up"
## Describe the bug
When user create a copy of runtime, a branch of invalid test appears on test project (i.e. todo bot test) which cannot pass successfully also. Please help clean up them~

## Version
Latest main

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce
1. Create a new bot with QNA t

[2020-09-07 07:25] ltwlf commented on #4049
@luhan2017 where can I find this script in my bot folder? I used ...bot/runtime/dotnet/azurewebapp/scripts/deploy.ps1 Did I may fix the wrong one in the composer project? I uses the above mention script as a base for this fix

[2020-09-07 07:44] cosmicshuai commented on #3808
Hi @GeoffCoxMSFT, I completely agree with you, the comments should be better aligned with the templates.
Here is some of our thoughts and common usage of comments in LG.
For an empty LG file. There will be two lines of comments at the head.
[code]

Moreover, due to the comments line are very flexible, user can type anywhere in the LG file. So it will be a little tricky for the parser to decide whi

[2020-09-07 07:59] VanyLaw opened #4055 "can not see log after clicking publish status."
## Describe the bug

first time to click the publish status can enable "See log" button. but after I switched to another profile then went back, the "See log" button can not be click.

![image](https://user-images.githubusercontent.com/21174180/92362553-bcfb7680-f122-11ea-9f83-303f521380b1.png)

## Version

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

[2020-09-07 08:21] VanyLaw opened #4057 "publish status disappear when switch to all profiles"
## Describe the bug

publish status disappear when switch to "all profiles".

![AnyConv com__bug](https://user-images.githubusercontent.com/21174180/92364733-14e7ac80-f126-11ea-8140-5908789a259f.gif)

## Version

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior

[2020-09-07 12:42] DingmaomaoBJTU opened #4058 "[Question] Will Qna support upload from file?"
Will Qna support upload from file? What is the best way to add a chitchat qna from composer?

[2020-09-07 13:01] DingmaomaoBJTU opened #4059 "Qna dialog code keep dup when click "Create Kb from scratch""
## Describe the bug

Qna dialog code keep dup when click "Create Kb from scratch"

## Version

latest main

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1.
![image](https://user-images.githubusercontent.com/16643193/92390237-0e206000-f14d-11ea-9f4d-d5ebfd

[2020-09-08 03:02] hibrenda commented on #4059
For this scenario, we should only add one QnA recognized trigger to the specific dialog.

[2020-09-08 03:22] DingmaomaoBJTU opened #4060 "[UX] Recognizer type's naming rule needs to be consistent"
## Describe the bug

![image](https://user-images.githubusercontent.com/16643193/92429771-904c6b00-f1c5-11ea-9bf6-94c97f4c3046.png)

[2020-09-08 03:42] hibrenda commented on #3232
Addressed and solved in Composer 1.1.1

[2020-09-08 03:42] #3232 closed

[2020-09-08 03:46] hibrenda commented on #3243
addressed in #3024

[2020-09-08 03:46] #3243 closed

[2020-09-08 04:02] hibrenda commented on #3888
Close is as it has been addressed. @peterinnesmsft if you hit it later, feel free to open it.

[2020-09-08 04:02] #3888 closed

[2020-09-08 04:09] shefalikuk opened #4062 "Unable to continue adaptive dialog flow once skill dialog ends"
I have created a skill consumer bot using Microsoft bot framework composer, which calls a skill when a specific intent is identified.

To reproduce the issue, consider I have got a flight booking bot (consumer bot) which has 2 intents, BookFlight and GetWeather. Suppose user is having conversation with consumer bot and is in middle of flight booking dialog. But now user doesn't want to continue th

[2020-09-08 04:35] zxyanliu commented on #4046
Hi @tomlm

Thanks for reporting the issue.

@cwhitten could you please update the following aka links for the desktop executables? Thanks!
* https://aka.ms/bf-composer-download-win
* https://aka.ms/bf-composer-download-mac
* https://aka.ms/bf-composer-download-linux

[2020-09-08 05:47] darrenj opened #4064 "Publishing Composer Bot to Azure results `HTTP Error 500.30 - ANCM In-Process Start Failure` error"
## Describe the bug

Publishing a new Composer based Bot to Azure results in an App-Service instance that reports the following error when you browse to it:

`HTTP Error 500.30 - ANCM In-Process Start Failure`

## Version

1.02

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprod

[2020-09-08 06:26] zidaneymar commented on #4064
Hi @darrenj , previously I tried to add directline extension and met with the same error, I changed the hosting mode to outofprocess fixing this problem.
![image](https://user-images.githubusercontent.com/9328933/92440460-204ade80-f1df-11ea-8aaa-84481a135d03.png)

[2020-09-08 07:42] luhan2017 commented on #4064
@darrenj , I checked all my provisioned resources, they are all configured to ASP.NET V4.7, and it works well for deployed composer bot. Did you have anything special in your bot? or did you try to use it in directline channel as @zidaneymar mentioned?

[2020-09-08 08:18] stephanbisser commented on #4029
I fixed this issue after removing the "luisResource" key from the bot's settings @luhan2017

[2020-09-08 08:18] #4029 closed

[2020-09-08 08:50] eluchsinger commented on #4026
@EPinci I get the same error. I have no idea if it's because of LUIS or not. What did you change exactly in the LUIS section and what did you leave empty?

[2020-09-08 09:11] EPinci commented on #4026
@eluchsinger I made sure to populate both the authoringKey and the endpointKey.
I also populated the endpoint and authoring Endpoint with the values you can find in the respective LUIS resources on Azure.
Everything else should be prepopulated for you. See https://github.com/microsoft/BotFramework-Composer/issues/4026#issuecomment-687054588
I also made sure that my endpoint key is associated as a

[2020-09-08 09:19] pyramidsoftwaresolutions commented on #2499
how to apply GOTO concept so that we repeat a flow again from begining?

[2020-09-08 09:45] hibrenda commented on #4058
chitchat content can be imported from https://github.com/Microsoft/BotBuilder-PersonalityChat/tree/master/CSharp/Datasets .

[2020-09-08 14:49] cwhitten commented on #4046
This is done @zxyanliu - given the 1.1.0 -> 1.1.1 we wanted to let the release settle just a bit.

[2020-09-08 14:52] cwhitten commented on #4047
@mareekuh can you please route this to a designer who can provide this asset for us?

Thanks.

[2020-09-08 14:52] #4046 closed

[2020-09-08 14:54] #4051 closed

[2020-09-08 14:55] cwhitten commented on #4048
ping @tomlm please help us with a repro

[2020-09-08 14:58] cwhitten commented on #4027
Hi @eluchsinger

We typically ship new stable versions along with the Bot Framework SDK release schedule. This is distributed across the calendar year and ends up being around 4-5 releases. Between those stable releases Composer will at times release patches that include bugfixing, ui/ux improvements, or a small new feature. This happens on an as-needed basis.

[2020-09-08 14:58] #4027 closed

[2020-09-08 15:02] cwhitten commented on #2784
@manvendrautralia are you still experiencing issues? Can you try this on version 1.1.1?

Thanks

[2020-09-08 15:04] cwhitten commented on #4048
I believe this issue existed on 1.1.0 but not 1.1.1 (and was the reason we submitted the 1.1.1 patch)

context: https://github.com/microsoft/BotFramework-Composer/pull/4015

[2020-09-08 15:06] cwhitten commented on #4060
@DingmaomaoBJTU please submit a pr to fix this.

[2020-09-08 16:35] a-b-r-o-w-n commented on #4028
@stephanbisser This is a known issue. The `concat` method can now be used on lists as well as strings, which is breaking Composer's validation. A temporary workaround is to use the `string` function.

[code]

[2020-09-08 18:02] #4044 closed

[2020-09-08 18:19] dmvtech commented on #3943
Hi @Michelle-Deve Can you let us know where on the file system you are storing your bot projects? Also; what version of composer are you running ([1.1.1](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.1.1) is the most recent).

[2020-09-08 18:39] v-kydela commented on #4062
@a-b-r-o-w-n - Can anyone on the Composer team clarify whether skill dialogs are meant to cancel existing dialogs on the stack?

[2020-09-08 19:00] tdurnford commented on #3813
@arafattehsin Can you see if this is resolved in the latest release of Composer - v1.1.1 - with the most update-to-date samples in the BotBuilder-Samples main branch? I didn't have an issue adding the EchoSkill using Composer running locally or the Electron version.

[2020-09-08 20:23] Michelle-Deve commented on #3943
@cwhitten and @dmvtech all my projects are stored in C:/Repos/ but the issue started when I was trying to open a project from this path C:\Users\michellem\Downloads\PROJECT_SoleCheque. @dmvtech I did update to the latest version and still have the same issue

[2020-09-08 20:49] #3849 closed

[2020-09-08 20:49] #3853 closed

[2020-09-09 02:47] arafattehsin commented on #3813
@tdurnford Sure. I will test it tonight.

[2020-09-09 03:59] DingmaomaoBJTU opened #4066 "[Settings] Runtime path should be relative"
## Describe the bug
Runtime path should be a relative file path instead of an absolute file path. Otherwise, developers using github to cooperate with each other need to modify the runtime path everytime they pull.

## Version
latest

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to

[2020-09-09 06:30] weiZhenkun opened #4067 "How can I send an HTTPS request with the given CA cert？"
**How can I send an HTTPS request with the given CA cert.
where is the location for me to save the CA file?**

[2020-09-09 06:30] #4067 closed

[2020-09-09 06:31] weiZhenkun opened #4068 "How can I send an HTTPS request with the given CA cert?"
**How can I send an HTTPS request with the given CA cert?
Where is the location for me to save the cert files?**

[2020-09-09 06:41] cosmicshuai opened #4069 "checkReturnType in ExpressionValidation throws unexpected error"
original content: https://github.com/microsoft/meeting_assistant/blob/master/skills/MSMeeting-Actions/dialogs/ReadTasks/ReadTasks.dialog

{
          "$kind": "MSMeeting.StorageReadItem",
          "$designer": {
            "id": "djWxGk"
          },
          "itemKey": "=concat('msmeeting/', turn.activity.conversation.id, '/tasks') ",
          "resultProperty": "skill.task"
}

will throws `It

[2020-09-09 07:37] xieofxie opened #4070 "[Electron ] When clicking an url in LG, it opens a strange window instead of default browser"
## Describe the bug

When clicking an url in LG, it opens a strange window instead of default browser

## Version

## Browser

- [x] Electron distribution 1.1.1
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Write url in LG
2. Ctrl+click

## Expected behavior

Open default browser

## Screensh

[2020-09-09 10:54] paul-maher opened #4072 "Bots using LUIS getting 401 error after upgrade to V1.1.1"
## Describe the bug
I've recently upgraded the Framework Composer to 1.1.1 and now none of my bots which use the LUIS recognizer will work.

## Version
Version 1.1.1 (from the about dialog)

## Browser
Not using browser, I am using the Bot Framework Emulator

## OS
Windows

## To Reproduce

1. In framework composer use the template to create 'ToDoBotWithLuisSample' sample
2. Enter details of LUIS

[2020-09-09 12:21] cdonke commented on #4072
@paul-maher ... usually, this message comes from Bot Channel...
Have you checked if the upgrade cleared the MicrosoftAppId and Secret from the appsettings file?

I have similar issue as well.

[2020-09-09 12:49] hibrenda commented on #4072
Please check out #4026 and #3904

[2020-09-09 13:14] arafattehsin commented on #3813
Marking it closed as it's fixed. Thank you so much team! 💯

[2020-09-09 14:32] VanyLaw commented on #4066
Hi @DingmaomaoBJTU , I am not exactly sure what's you means, do you means you guys are sharing the same bot(dialog files) and each has their only runtime placed in different place? you can change the path to relative before shared and the path won't change  everytime they pull.

[2020-09-09 15:02] positivo-csena opened #4073 "Bot does not work on the direct line channel"
## Describe the bug

Chatbot does not work on the DirectLine channel. The answer to any interaction is "Object reference not defined for an instance of an object."
In web chat it works normally.

## Version

Release 1.1.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce th

[2020-09-09 15:04] stephanbisser commented on #4028
Thanks @a-b-r-o-w-n that did the trick for me and solved the issue!

[2020-09-09 15:11] hibrenda commented on #4062
@luhan2017 to be aware of this .

[2020-09-09 18:06] GeoffCoxMSFT commented on #4062
@vishwacsena - can you answer Kyle's question?

[2020-09-09 18:09] #4028 closed

[2020-09-09 18:12] GeoffCoxMSFT commented on #4072
Tracking issue in one location - https://github.com/microsoft/BotFramework-Composer/issues/4026

[2020-09-09 18:12] #4072 closed

[2020-09-09 18:14] GeoffCoxMSFT commented on #4010
v1.1.1 has been released so this should be fixed.

[2020-09-09 18:14] #4010 closed

[2020-09-09 18:20] dmvtech commented on #4068
Hi @weiZhenkun Can you please give more information on what you are attempting to do? Give more steps/details on what you trying to accomplish and what you have tried. Which HTTPS request are you referring to and which certificate?

[2020-09-09 18:26] mganeshphani commented on #1820
@vishwacsena  thats a great example.. is there an example for multiple textbox fields from adaptivecard?

[2020-09-09 20:57] vishwacsena commented on #1820
@mganeshphani you can just add additional inputs. Just give them all unique IDs. Then you can access them via an entity `@propertyId`. Here is an example ..

[code]

Then you can access the data returned by adaptive card submit via `@userName`, `@userAge` etc.

[2020-09-09 21:11] #4055 closed

[2020-09-09 21:20] mganeshphani commented on #1820
@vishwacsena where does the reading part go into?
I am going by template and would like to know where i can map @userName, @userAge to the properties in bot composer?
![image](https://user-images.githubusercontent.com/22988320/92656243-514b1200-f2b8-11ea-9a1a-29b9f127945b.png)

[2020-09-09 23:15] vishwacsena commented on #1820
If you are asking for one piece of information at a time, you can simply set the `value` property in the input action to `=@entityName`.

If you are collecting multiple pieces of information, then it's better to just use `set properties` action right after the input to set them to what ever memory scope you want to set it to. E.g. `user.name` etc.

[2020-09-09 23:19] mganeshphani commented on #1820
Got it.. thanks for the info. i will try.

On Wed, Sep 9, 2020 at 6:15 PM Vishwac Sena Kannan <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2020-09-10 02:06] DingmaomaoBJTU commented on #4066
@VanyLaw What I mean is I generate a default runtime but the config record a absolute file path. There is only one runtime and all its setting is by default.
Yes I can change it by my self, but I think this can be a system behavior to set a relative path otherwise I need to figure out why I pull to another disk but it is not work...

[2020-09-10 02:18] luhan2017 commented on #4073
There is a fix in the SDK side:  https://github.com/microsoft/botbuilder-dotnet/issues/4599

[2020-09-10 04:40] kunigagon commented on #3945
@a-b-r-o-w-n  @cwhitten  Thank you. solved.

[2020-09-10 04:40] #3945 closed

[2020-09-10 07:36] paul-maher commented on #4026
For me this was resolved by manually setting the 'endpoint' in the LUIS section in the app settings file from the value copied from the Azure portal. Note the upgrade also seems to have reset the QnA Maker key in the app settings files so I had to manually add that back in again too. I guess that is a similar issue.

[2020-09-10 10:59] geoffsoper opened #4077 "Custom runtime settings are incomplete. Please specify path and command."
## Describe the bug

Starting today, I get an error when I attempt to start my bot. Re-entering my LUIS details doesn't resolve the issue.

## Version

Composer version 1.1.1

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [X] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

After clicking Start Bot, I get the following error message: "Start

[2020-09-10 11:06] #4077 closed

[2020-09-10 11:07] geoffsoper commented on #4077
Use Custom runtime had unintentionally been set to true...

[2020-09-10 12:21] eluchsinger commented on #4064
That error sometimes happens, when you don't have the required .NET SDK installed. For example, it happens when I try to run a .NET Core 5 application on Azure and Azure does not have the .NET Core 5 SDK installed. Maybe this helps.

[2020-09-10 12:29] geoffsoper opened #4081 "Response status code does not indicate success: 401 (PermissionDenied)."
## Describe the bug

When I change the LUIS parameters in the Bot Settings, I start to get the error "Response status code does not indicate success: 401 (PermissionDenied)." in the Bot Emulator

## Version

v1.1.1

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [X] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behav

[2020-09-10 14:38] geoffsoper commented on #4081
Following a colleague's suggestion, I changed the LUIS details in Bot Settings to the following:
[code]

Apart from name, these are the same details as he's successfully using. This changes the error to "Response status code does not indicate success: 403 (Forbidden)."

[2020-09-10 16:36] cwhitten commented on #4073
@positivo-csena as mentioned in https://github.com/microsoft/BotFramework-Composer/issues/4073#issuecomment-689932353, the bug exists in a Composer dependency and is set to be addressed in an upcoming release. We'll keep this open for tracking purposes.

[2020-09-10 16:55] #4036 closed

[2020-09-10 17:09] ltwlf commented on #4049
@luhan2017 I optimized the deploy script for CI/CD deployment and updated the readme with how to use it. And I deleted the obsolete scripts.

[2020-09-10 17:17] ltwlf opened #4084 "Bot to bot authorization for skills is missing"
## Is your feature request related to a problem? Please describe.
This is a security issue for skills build with composer (secure by design principle)

## Describe the solution you'd like
I want to set a feature flag in the bot settings to activate the an authorization middleware, so that I can configure which bot/app ids are allowed to consume my skills.

## Describe alternatives you've considere

[2020-09-10 17:49] dmvtech commented on #3943
I'll try similar and see if I have any issues with it.

[2020-09-10 18:49] tomlm opened #4085 "Composer generated empty files and now won't build"
## Describe the bug
Upgraded to 1.1 and it added a bunch of files.  Some of the LU files are empty, and composer doesn't build with empty files. WTH?

## Version

1.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Open up old project, a bunch of new files get dropped on disk , but now it d

[2020-09-10 20:24] vishwacsena commented on #4062
I have no idea if/ what makes `BeginSkill` action behave differently. @Stevenic thoughts/ comment?

[2020-09-10 20:42] tdurnford opened #4087 "The value in the Manifest Url field in the add skill modal persists between adding multiple skills"
## Description
If you try to add a second skill right after you added the first, the Manifest Url field is populated with the previous skill's url.

## Version

## To Reproduce

Steps to reproduce the behavior:

1. Go to the 'Skills' page
2. Click the 'Connect to a new skill' button
3. Add a valid Skill Manifest Url - https://yuesuemailskill0207-gjvga67.azurewebsites.net/manifest/manifest-1.0.json

[2020-09-10 21:46] #4026 closed

[2020-09-10 22:59] zxyanliu commented on #4060
We can follow the sentence case and make the language and style consistent.

Proposing the following:

* Default recognizer
* Regular expression recognizer
* Custom recognizer

[2020-09-10 23:54] sangwoohaan commented on #3960
LU will share the same navigation design change with LG below
https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=4868%3A1

[2020-09-10 23:54] sangwoohaan commented on #3961
QnA will share the same navigation design change with LG below
https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=4868%3A1

[2020-09-10 23:57] hatpick commented on #4047
@mareekuh I have created the following based on what Office is doing in their latest version, what do you think?

![com splash screen](https://user-images.githubusercontent.com/1483492/92827373-a35a6900-f386-11ea-9741-d377544f1ee4.PNG)

[2020-09-11 01:31] cwhitten commented on #3370
Why wouldn't the build process (via core libs) output this file?

[2020-09-11 01:35] boydc2014 opened #4090 "Improve the debug-ability of starting bot"
Looping back, we resolved a fair amount of issues of starting bots failures, most of them were related to luis/qna build/publishing errors.

The issues is usually the error message is not clear, it may clearly say the error message, but it won't give "in which step" this starting bot failed at. Also, it's hard or impossible for a customer to do some investigation, even for developers, we have to l

[2020-09-11 01:37] boydc2014 commented on #3370
Definitely one valid option, @vishwacsena what do you think?

[2020-09-11 02:02] vishwacsena commented on #3370
Sure .. as long as it is in a documented location and is also included when the runtime is ejected.

[2020-09-11 03:42] DingmaomaoBJTU commented on #4058
Thanks!

[2020-09-11 03:42] #4058 closed

[2020-09-11 05:15] #4032 closed

[2020-09-11 05:32] soappp opened #4091 "Failed to publish bot with LUIS from behind a firewall"
## Describe the bug

I use the Bot Framework Composer on the Windows PC with a corporate firewall.
I already set up proxy configuration as environmental variables below:

[code]

So most communication has no problem, but publishing the bot with LUIS is always failed with `getaddrinfo EAI_AGAIN` error. The error message is below:

I think the cause is not to go through the proxy when communicating

[2020-09-11 05:43] boydc2014 commented on #3370
One benefit of writing this out by composer is composer could potentially just output this config without doing any actual train or publishing, right?

If we let the lib output this, will that mean, user have to run a successful pass before integrated into CI/CD?

@cwhitten @vishwacsena

[2020-09-11 06:09] alanlong9278 opened #4092 "put qna / lu / publish/ build logic together"
## publish logic now
![image](https://user-images.githubusercontent.com/5860999/92868035-e0306980-f433-11ea-9ba1-5edf08028e95.png)
- The biggest problem with code structure is the coupling too much with lu & qna.
- Verification about qna & lu content spread out in many code, like testController.tsx, lu util & qna util.

[2020-09-11 06:31] weiZhenkun commented on #4068
I meet an error when use the "Send an HTTP request"  stepper.

I want to get the response from the https://myhostname/api/getId, and the cert of myhostname is a selfsigned certificate.

[2020-09-11 10:59] cxbuilders opened #4093 "Teams Proactive Message"
We need to be able to send proactive messages to users in Teams. I have this mechanism setup in Bot Framework directly using a separate controller for the external system notifications api call. However I am trying to figure out how I would implement that into Composer. Ideally I want to be able to have the separate NotifyController send a custom event in the context of the user conversation, allo

[2020-09-11 11:21] luhan2017 commented on #4093
@cxbuilders could you try custom runtime? https://docs.microsoft.com/en-us/composer/how-to-add-custom-action

[2020-09-11 11:37] luhan2017 commented on #4081
@geoffsoper So is your authoring resource located in westeurope, but prediction resource located in uksouth?
The composer local publish logic is that:
If endpointKey is missing, which means you didn't bind you luis app with a prediction resource yet. We will use your authoringKey directly. But if endpointKey does exist, you should make sure the prediction resource is bond with the authoring resour

[2020-09-11 11:41] luhan2017 commented on #4049
@ltwlf, Since we have new crosstrain, lubuild and qnabuild logic in the latest composer, if you want to keep that script, more changes are needed, call lubuild itself is not enough. Are you aware of this?

[2020-09-11 11:46] cxbuilders commented on #4093
@luhan2017 I do have custom runtime, but how to trigger the composer bot with an incoming message from another controller, eg: api/notify
I have that controller setup, I have the stored Teams conversation references, but I want in the notify controller to trigger a custom event for composer in the conversation context of the userId that's coming in from the notify controller.

[2020-09-11 11:52] ltwlf commented on #4049
@luhan2017 I must keep it, we will use it in production :)
Crosstrain should be done already. Which branch should I check so that I can adjust the script accordingly?

[2020-09-11 11:53] ltwlf commented on #4049
Whatever you do, I have to check that it works in CI/CD pipeline.

[2020-09-11 11:55] ltwlf commented on #4049
My script works for the current main branch for Luis, but I didn’t use QnA. I guess this is my do to then.

[2020-09-11 12:11] eluchsinger opened #4094 "BUG: The given key ‘de’ was not present in the dictionary"
## Describe the bug

When I run the bot in the WebChat (in the Browser), I get the error `The given key ‘de’ was not present in the dictionary`. This error did not happen when I used the Bot Framework Emulator.

Turns out, it happens every time the bot asks for example for a confirmation (I don't know if it happens with the other questions, but with suggestions it didn't happen). And my browser is

[2020-09-11 15:12] Reeso1983 opened #4095 "Cannot use turn or dialog in validation rules."
## Describe the bug

Using a Text Prompt with a simpe LUIS recognizer that has 4 intents (Confirm/Deny/Uncertain/None), I'm trying to validate that either a Confirm, Deny or Uncertain intent was detected (i.e. not None) and if not ask the use to try again (via the invalid prompt). However, both dialog.lastIntent and turn.recognized.intent don't seem to be usable in a validation rule - no matter wh

[2020-09-11 15:18] tomlm opened #4096 "There is no way to delete an orphaned intent without using edit code."
## Describe the bug

I have an intent which I no longer want and which is not referenced.  The UI does not allow me to delete it.  If I go to the intent, it only lets met edit the content of the intent, not delete it.

I had to edit the whole lu file, find the intent and remove the text.

## Version

1.1.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

[2020-09-11 15:22] tomlm opened #4097 "Composer should help me to deal with unused orphaned intents."
## Describe the bug

An unhandled oprhaned intent is bad because it creates a asset which is part of the language model which prevents the rest of the system from responding to it.

## Version

1.1.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. edit l

[2020-09-11 15:48] timoleo23 opened #4098 "Bot Composer ARM Template deploy fail - "Bot name already exists""
## Description

My bot is working all fine in the emulator and I want to deploy it to Azure (following the Readme.md info)
However my deployment fails every time for the same reason : "bot name already registered."
I tried to use the script bot with and without the --app option but I get the same result.
I don’t get why the Bot service sees the app registration already used as it is create as part

[2020-09-11 15:59] benbrown commented on #4098
Have you already created an Azure Bot Service registration that you are using?

When using the provisioning script, it will create a NEW registration for you to use in this evironment. Each bot registration has to have a globally unique name - hence `BotComposer` is causing a naming collision because it already exists.

[2020-09-11 16:08] timoleo23 commented on #4098
The app registration and creation of a new app is part of the script by default - I deleted all app registration generated by the bot composer script.

The script fails when the bot service tries to register the app. This app being created as part of the deployment, I don't get how it could be already used.

[2020-09-11 16:23] scheyal opened #4099 "Help/Check for updates should give some indication when clicked"
When I click on check for updates, nothing happens (visually).
Using Release: 1.1.1

Auto update - ON

Early adopters - ON

[2020-09-11 17:08] benbrown commented on #4098
Are you using the actual name "BotComposer" ?

I believe this is the source of the issue.

[2020-09-11 17:30] johnNarula opened #4100 "A way to pass value via querystring to the bot"
[https://stackoverflow.com/questions/63318600/how-to-retrieve-query-string-from-microsoft-bot-framework-composer](https://stackoverflow.com/questions/63318600/how-to-retrieve-query-string-from-microsoft-bot-framework-composer)

[2020-09-11 17:51] timoleo23 commented on #4098
Same issue with "EchoBot"

[2020-09-11 17:58] benbrown commented on #4098
@timoleo23 Try a name like echobot-timoleo23

[2020-09-11 18:28] v-kydela commented on #4094
Thank you for the report, @eluchsinger

This appears to be related to ongoing efforts to improve localization in the SDK's, as seen in this pending PR for JS: https://github.com/microsoft/botbuilder-js/pull/2534

Composer bots use the C# SDK, and the problem can be seen in [`ConfirmInput`](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Inp

[2020-09-11 20:17] crebstock commented on #4073
Would this also be the case for interactions within Twilio/Facebook channels?

[2020-09-11 20:44] benbrown opened #4101 "=concat() causes a validation error"
## Describe the bug

Composer throws a validation error if an expression is using concat as the returned value.

For example, use =concat('foo','bar') a field that expects a string.

![Screen Shot 2020-09-11 at 3 39 48 PM](https://user-images.githubusercontent.com/729873/92971132-82a51880-f445-11ea-9f1e-f9bcec746301.png)

## Version

1.1.1

## To Reproduce

1. Add an HTTP request step
2. In the UR

[2020-09-11 21:12] Stevenic opened #4102 "Typing too fast in composer results in dropped characters"
## Describe the bug

I'm on windows and I found that typing in the expression editors is both laggy and buggy. Below is a screenshot of an expression I was just trying to update.  I deleted the characters to the right of "taskId" leaving the string `{"taskId": }` in the editor. I then typed in `skill.tasks.cardTaskId` but ended up with the string below. Every time I type in a reasonably long prope

[2020-09-11 21:14] Stevenic commented on #4102
I should add that it's actually not even speed related. I've had it drop an individual keystroke when trying to add in a keystroke it missed. :(

[2020-09-11 21:23] Stevenic opened #4103 "NODE CONTEXT MENU: Add Cut, Copy, and Disable/Enable"
## Is your feature request related to a problem? Please describe.

Can we get "cut" and "copy" added to this menu? It sucks to have to keep going up to "Edit" every time:

![image](https://user-images.githubusercontent.com/698939/92974055-330d1f80-f43a-11ea-81aa-c7d5b4a2b60a.png)

--
copied from #3950
Currently, to disable actions in the visual editor, user's have to focus on the actions they want

[2020-09-11 23:18] tdurnford commented on #4103
Similar ask to https://github.com/microsoft/BotFramework-Composer/issues/3950

[2020-09-11 23:35] Stevenic commented on #4103
Those would be good adds as well

[2020-09-11 23:37] Stevenic commented on #4102
The bug in the screen shot is worse then i thought. I was just trying to change a variable name in the middle of an expression and it moved one of my characters and the cursor to the end of the expression.

[2020-09-12 00:40] LouisEugeneMSFT commented on #4101
I investigated this issue a couple days ago. My hypothesis is that this is coming from the _**adaptive-expressions**_ library. Validation is made under _packages/lib/indexers/src/validations/expressionValidation/validation.ts_. Specifically returnType = Expression.parse(exp).returnType calls the  _**adaptive-expressions**_ library. We can see with the example of concat that returnType yields 24 wh

[2020-09-12 00:53] LouisEugeneMSFT commented on #4102
fyi, I was also able to repro on any type of fields, so this is not specific to expressions
![ezgif com-resize](https://user-images.githubusercontent.com/66701106/92983328-9e191f00-f457-11ea-9c56-03b3bb70f8b8.gif)

[2020-09-12 01:24] Stevenic opened #4104 "C# runtime no longer registers BotCallbackHandler"
## Describe the bug

The latest version of the composer runtime removed from the `ComposerBot` constructor, the last line of the initialization code below which registers the callback handler for the bot.  This broke several custom actions I created which depend on this callback being registered. I can manually add the line back into all my new runtimes but I'm just curious why this was removed? T

[2020-09-12 04:06] #2594 closed

[2020-09-12 04:09] #3017 closed

[2020-09-12 04:10] #3153 closed

[2020-09-12 04:11] #3183 closed

[2020-09-12 04:14] cwhitten commented on #3552
@nathanvv where did you download the folder from? Where did `Intern Playground` come from? We don't allow spaces in folder names.

[2020-09-12 04:14] #3552 closed

[2020-09-12 04:15] cwhitten commented on #3658
Closing as being unable to reproduce on 1.1.1. Please ping this issue if you are still experiencing this on latest stable. Thanks!

[2020-09-12 04:15] #3658 closed

[2020-09-12 04:20] #3904 closed

[2020-09-12 04:21] cwhitten commented on #3902
@cdonke any updates?

[2020-09-12 04:22] cwhitten commented on #4009
Closing as designed

[2020-09-12 04:22] #4009 closed

[2020-09-12 04:23] cwhitten commented on #4048
This has been addressed

[2020-09-12 04:23] #4048 closed

[2020-09-12 04:32] cwhitten commented on #4100
Hi @johnNarula - StackOverflow is the correct location to troubleshoot your issue. Closing, and thanks for using Composer!

[2020-09-12 04:32] #4100 closed

[2020-09-12 04:37] johnNarula commented on #4100
It is actually a feature request and I was asked by Vishwac to add it here...

 jN

[2020-09-12 04:41] #3809 closed

[2020-09-12 04:44] cwhitten commented on #4100
Unless I'm misunderstanding the [following SO response](https://stackoverflow.com/a/63853350) is the correct way to achieve your scenario. You use the channelData property send with the Activity coming from the client, and you can access this field in the authoring environment.

[2020-09-12 04:46] cwhitten commented on #4103
@Stevenic why not use the keyboard commands? `ctrl+c`

[2020-09-12 04:53] cwhitten commented on #4095
@vishwacsena is recognition not run here? would enabling interruptions fix this?

[2020-09-12 16:33] vishwacsena commented on #4095
@Reeso1983 see here for a working sample using `turn.recognized.intent` in validations. Do you have additional properties configured on the text input?

@cwhitten if a recognizer is configured on the active dialog, it is run even if `AllowInterruptions` is not set.

[intentInValidation.zip](https://github.com/microsoft/BotFramework-Composer/files/5212959/intentInValidation.zip)

[2020-09-12 17:56] cwhitten commented on #4073
@crebstock likely not exactly as the channels behave a bit differently when it comes to locales.

[2020-09-12 18:10] cwhitten commented on #3370
Can you share what the shape of this config would look like?

[2020-09-13 10:21] eluchsinger commented on #4094
@v-kydela thanks for your answer. I fixed the locale on the WebChat Javascript code. Now it always sends `en`, so the language of the browser does not send unexpected locale  strings..

[2020-09-13 18:06] #4049 closed

[2020-09-14 02:04] yeze322 opened #4107 "Actions appears in the menu flyout even when it's not in sdk.schema"
## Describe the bug

**Problem**: some actions are showing up in the menu flyouts (httpaction, etc) even when this component does not exist in the schema or the uischema

**Solution**:
Menu UI Schema should filter out those $kinds not implemented in sdk.schema.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows

[2020-09-14 03:52] VasuBhog opened #4108 "Bot shows loading but never opens"
## Describe the bug

Upon opening Bot Framework Composer, I launch my bot via the "Recent Bots" list, and it shows a loading (show below) but never opens. I tried opening from the open dialog as well and the same issue.
![image](https://user-images.githubusercontent.com/23587151/93041900-4cb58f00-f613-11ea-9322-61781714693e.png)

## Version

Bot Framework Composer

                Version:  1.1.1

[2020-09-14 04:58] cwhitten commented on #4108
@VasuBhog I've reached out in MS Teams to follow up here..

[2020-09-14 05:02] yeze322 opened #4109 "Opening an existing bot with 'BeginSkill' raises an error"
## Describe the bug
This bot contains an empty "Connect to a skill" Action
![image](https://user-images.githubusercontent.com/8528761/93045748-968d8c00-f68a-11ea-84b4-e273b6d1f704.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '..

[2020-09-14 05:13] yeze322 commented on #4109
Do you know why it's not captured by ErrorBoundary? (and should it be?) @lei9444

[2020-09-14 06:37] yeze322 opened #4111 "Support UI Schema for Recognizer"
## Is your feature request related to a problem? Please describe.

By providing uischema, users can select a customized Recognizer from the recognizers dropdown:

<img src="https://user-images.githubusercontent.com/8528761/93051881-c1caa800-f697-11ea-9d93-84555d7371b0.png" width="400">

## Describe the solution you'd like
[code]

## Describe alternatives you've considered

## Additional context

[2020-09-14 08:15] timoleo23 commented on #4098
You were right @benbrown, using name "EchoBot2345" solved the issue - I should have check the error more closely.

[2020-09-14 08:15] #4098 closed

[2020-09-14 09:16] Reeso1983 commented on #4095
@cwhitten Oddly, if i turn interruptions on. The invalid message generates "Invalid None Confirm".

@vishwacsena I have tried your sample and it does seem to work. The differences between mine and yours are:
- i'm not using an intent trigger to start the dialog initially, but a begin dialog event
- i'm not using suggested actions

[2020-09-14 13:07] gbelenky opened #4114 "Provisioning of Azure resources in SouthAfricaNorth fails"
## Describe the bug

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. node provisionComposer.js --location=SouthAfricaNorth --subscriptionId=mysubscriptionid --name=mybotnamegb3 --location=SouthAfricaNorth --createLuisAuthoringResource=false --

[2020-09-14 13:15] geoffsoper commented on #4081
@luhan2017 My (more-technical) colleague has assisted me with binding the prediction resource and authoring resource which seem to have fixed my issue. However, we're both of the opinion that the publishing dialog which requires only the LUIS Authoring key and Luis Authoring Region is insufficient to get someone started with Composer when they're in my position. Can the publishing experience possi

[2020-09-14 13:41] cdonke opened #4115 "question: Where are secrets stored?"
I'm running BFC via container (linux)... And constantly losing the secrets...
I'm wondering if I could map the folder where the secrets are stored to a local path, but I cannot find it...

I'm having a hard time finding this info in the source code...
Could someone point me the way?

tks,

[2020-09-14 15:36] a-b-r-o-w-n commented on #2831
Closing this in favor of the extension issues I created.

[2020-09-14 15:36] #2831 closed

[2020-09-14 15:37] a-b-r-o-w-n commented on #3394
I'll evaluate this as a P1/P2 for R11.

[2020-09-14 16:01] #3952 closed

[2020-09-14 16:02] zxyanliu commented on #3952
Thanks!!!

[2020-09-14 16:41] zxyanliu commented on #3740
Chime @luhan2017 in to help on this topic.

[2020-09-14 19:18] crebstock opened #4118 "Object reference not set to an instance of an object on Facebook/Twilio channels"
A bot created in composer which only replies to an unknown intent and greets a user runs just fine via facebook and Twilio.  However if you add any complexity to it such as prompting for a question or adding QnA, it reponds once with Object reference not set to an instance of an object and then never responds again.  I'm using the azure web app option for publishing.  Even publishing the default e

[2020-09-14 19:38] vishwacsena commented on #4095
@Reeso1983 with adaptive dialogs, you need to have a recognizer configured on the dialog that holds the input that is able to classify user input to an appropriate intent.

Here is an updated sample.

In this case, I added a new child dialog and added example utterances to None intent via the `User Input` view.

If you wish to have the parent dialog's `OnIntent` triggers to be evaluated while the

[2020-09-14 20:15] #3723 closed

[2020-09-14 20:48] hatpick opened #4120 "Localize electron app"
## Is your feature request related to a problem? Please describe.

Localize electron app (app menu, messages, etc.)

## Describe the solution you'd like

Follow the same approach used in the web app.

[2020-09-14 21:43] beyackle opened #4121 "Locale handling for BotProjects"
The Root Bot's locale holds precedence over the locale of all skills in the Bot Project. When the active locale for the root bot is changed all the skills would also need to swap to the root bots' changed locale. In the edge case of a skill not supporting the active locale of the root bot we create a new locale inside the skill which would be a copy of the contents of the default locale of the ski

[2020-09-14 21:44] mareekuh commented on #3449
@yeze322 please work with Vivek on this.
@vivekkshankar  Please connect with Thad if there are any updates to what is currently in PVA. If not, enable the following (functionality & look and feel)

![Screen Shot 2020-09-14 at 2 40 34 PM](https://user-images.githubusercontent.com/48503434/93141251-b88e0b00-f698-11ea-969c-719a884abfdb.png)
![Screen Shot 2020-09-14 at 2 40 28 PM](https://user-images.

[2020-09-14 22:28] DesignPolice commented on #3449
Always nice to be CC’d on things – I can help til Thursday. 😊
m

From: mareekuh <notifications@github.com>
Reply-To: microsoft/BotFramework-Composer <reply@reply.github.com>
Date: Monday, September 14, 2020 at 2:44 PM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Marc Bostian <bostian@allovus.com>, Mention <mention@noreply.github.com>
Subject: Re: [microsoft/Bo

[2020-09-14 22:30] sangwoohaan commented on #3449
It's a ghost!!!

[2020-09-14 22:31] mareekuh opened #4123 "Cannot connect to storage"
installed Mac build 1.1.1 release.
Installed, Cannot open or save bots as it cannot find  storage location.

![Screen Shot 2020-09-14 at 3 29 04 PM](https://user-images.githubusercontent.com/48503434/93144597-381ed880-f69f-11ea-9b2a-74f70dce3a39.png)

How do I fix this?

![Screen Shot 2020-09-14 at 2 59 22 PM](https://user-images.githubusercontent.com/48503434/93144674-66041d00-f69f-11ea-99fd-b4c0

[2020-09-14 22:40] tdurnford opened #4122 "Users should be able to select the skill endpoint when they add a new skill"
When the user adds a new skill to the parent bot, they should be able to select which endpoint they want to use. The `msAppId` and `endpointUrl` for the endpoint the user selects should serialize to the bot settings.

[2020-09-14 23:02] cwhitten commented on #4123
@mareekuh did you drag the executable from the `Downloads` directory to `Applications`? This is important for access to the filesystem.

[2020-09-14 23:04] mareekuh commented on #4123
Ugh it’s this old bug… so sorry I knew this was an issue )=

From: Chris Whitten <notifications@github.com>
Date: Monday, September 14, 2020 at 4:03 PM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Marieke Iwema <mariekei@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [microsoft/BotFramework-Composer] Cannot connect to storage (#4123)

@maree

[2020-09-14 23:17] tdurnford opened #4124 "Composer throws extensions.reduce is not a function"
## Describe the bug
The `useLinks` hook is causing an error because the value returned from `useRecoilValue(extensionsState)` appears to be a string instead of an array.

## Version

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Pull latest changes from

[2020-09-14 23:20] tonyanziano opened #4125 "Implement "import" protocol handler"
Implement a new protocol route `bfcomposer://import` that can accept a `source` and `payload` parameter and use these to
download bot assets from a remote location outside of Composer.

`source` - where the bot is being imported from
`payload` - metadata about the assets to be imported (can specify a URL to request the assets from)

**Ex:**

`bfcomposer://import?source=pva&payload=%7B%22url%22%3A%

[2020-09-14 23:29] a-b-r-o-w-n commented on #4124
@tdurnford I am unable to reproduce this. What is the value of `useRecoilValue(extensionsState)`?

[2020-09-14 23:33] LouisEugeneMSFT opened #4127 "Browser autocomplete conflicts with Intellisense"
Browser autocomplete conflicts with Intellisense

![image](https://user-images.githubusercontent.com/66701106/93148158-fc3c4100-f6a7-11ea-9ac5-872f2365e7b0.png)

[2020-09-14 23:36] tdurnford commented on #4124
It's not reproing for me either now. Previously, `useRecoilValue(extensionsState)` was resolving to a `string`. Not sure what changed. I'll close the issue for now, and if it happens again I'll reopen it.

[2020-09-14 23:36] #4124 closed

[2020-09-14 23:39] tonyanziano opened #4128 "Create Custom UI Schema for PVA Runtime Schema"
PVA will provide their own runtime schema that includes custom recognizers, triggers, and actions.

We need to create a UI schema that will provide the user with the proper editing experience in the form editor UI.

Need the desired UX from PVA.

[2020-09-14 23:51] tonyanziano opened #4131 "Download bot assets from PVA and use them to create a new bot project in Composer"
Given some PVA context -- tenant ID, environment ID, and bot ID -- download bot assets from PVA and use them to create a Composer bot project.

- [x] Download bot assets in .zip from PVA API
  - Dialog assets, runtime schema, UI schema, `appsettings.json` with serialized publishing profiles
- [x] Convert bot assets into a Composer bot project and save to disk
- [x] Open the bot project within Comp

[2020-09-15 01:33] boydc2014 opened #4132 "Bf-orchestrator lib integration"
Use this to track the Orchestrator lib integration.

The deliverable is a module\plugin\extension with proper test cases that can be called by composer's authoring UX.

We need to make sure the lib integration is not coupled with IO, which means the interface's input and output should be pure memory objects (instead of file paths) and the library itself wouldn't perform side effects IO operations.

[2020-09-15 01:54] sandeepreddy0987 opened #4141 "Cannot use property values in the if else condition"
## Steps to reproduce

1. bot asks a few questions to the user like age, gender, etc. depending on the user answer we assign a value to a property (user.point1=2, user.point2=4).
2. I want a total score of all the answers given by the user, by adding all the property values
-> user.total=${int(user.point1+user.point2)}.
we can show the total value using ${user.total}

3. write an if/else condition

[2020-09-15 02:08] yeze322 commented on #3449
cc @alanlong9278

[2020-09-15 07:13] Stevenic commented on #4102
There's actually two separate bugs here that could have the same source...

1.  Characters "often" get dropped. For me its like every other property I type in. I'm having to type super slow so I can catch this as its happening and make corrections.
2.  The cursor "often" jumps to the end of the string when editing text in the middle of an expression or property path. This ones even more annoying t

[2020-09-15 07:53] Stevenic commented on #4093
@cxbuilders you can still call `ContinueConversationAsync()` from within a composer based project. You just need to make sure you callback ultimately calls your `ComposerBot.OnTurnAsync()` method. Below is some code for a custom timer action that I'm using within a project to proactively send an activity to teams:

[code]

[2020-09-15 07:55] Stevenic commented on #4093
I'm getting the callback for `OnTurnAsync()` dynamically and in order you need to add the line below to your constructor of your `ComposerBot`

[code]

[2020-09-15 07:56] luhan2017 commented on #4081
@geoffsoper , Sure, we do have a plan to improve this in R11 #3639

[2020-09-15 07:57] #4081 closed

[2020-09-15 08:02] Stevenic commented on #4090
I would argue that simply adding a switch to "show" the runtimes console window would go a long ways towards helping the debug-ability of bots... One of the things I do in most of my projects is to add the `debug.cmd` file below to my ejected runtime and then update the projects runtime settings to start that file:

[code]

 That results in me seeing a window like below where I can see every singl

[2020-09-15 08:07] Stevenic commented on #4090
Here's a shot with an error... Looking at this I can tell that the error message I got in the emulator occurred when I was trying to send a malformed AdaptiveCard. Took me about 20 seconds to diagnose that.

![](https://user-images.githubusercontent.com/698939/93183213-91165d00-f6ef-11ea-9cc3-ac2d4005bb78.png)

[2020-09-15 08:10] Reeso1983 commented on #4095
@vishwacsena I think i have found the difference based on your comments. I was sandpitting with the echo bot and the initial parent dialog has no intent triggers. Just the unknown intent:
![image](https://user-images.githubusercontent.com/66425585/93180066-816a3900-f72e-11ea-8439-21fd7dd1797c.png)

Another difference was that your examples create two LUIS Apps. Mine doesn't create one at all for t

[2020-09-15 10:12] boydc2014 opened #4134 "Server/src/locales/en-US.json is updated after yarn:build"
this file should not be updated by just running yarn build

[2020-09-15 14:50] cwhitten commented on #4108
Resolved offline. There were malformed .dialogs that caused the loading issue.

[2020-09-15 14:50] #4108 closed

[2020-09-15 14:57] Bernardo08pt opened #4136 "Multi language after deploy"
Hello,

I have a project which I added another language using the new multilanguage feature. In this case I already had created the bot in  english and added portuguese. I translated the bot and then I changed the deault language and the bot language to portuguese as you can see in the screenshot below.

![image](https://user-images.githubusercontent.com/7129408/93226348-1e4ac780-f76b-11ea-8f2b-39

[2020-09-15 15:12] a-b-r-o-w-n opened #4137 "consider using a github team alias for code owners"
The dotnet repo is now using a team alias instead of individuals for code owners. This is easier to manage because we can update without having to commit.

[2020-09-15 15:43] a-b-r-o-w-n commented on #4001
closed in #4075

[2020-09-15 15:43] #4001 closed

[2020-09-15 15:50] a-b-r-o-w-n commented on #3997
closed in #3978

[2020-09-15 15:50] #3997 closed

[2020-09-15 16:08] #4069 closed

[2020-09-15 16:18] Bernardo08pt commented on #4136
An update

I tried to deploy the chatbot with only the portuguese language (eliminated the english) and it still does not work, it starts talking to me in portuguese but when I talk to him it seems it doesn't reach the LUIS service.

It continues to work ok locally in the emulator

[2020-09-15 16:40] cwhitten commented on #4136
@Bernardo08pt can you share the information coming from the LuisTrace log when testing in the Emulator?

[2020-09-15 16:42] cwhitten commented on #4118
@luhan2017 can you please take a look at this?

[2020-09-15 16:44] Bernardo08pt commented on #4136
Do you mean this

![image](https://user-images.githubusercontent.com/7129408/93239696-0da24d80-f77b-11ea-8b3c-dab3cd6c2a42.png)

[2020-09-15 16:44] cwhitten commented on #4115
@cdonke can you be more specific as to which secrets you are looking for? Is it the QnA and/or LUIS authoring/subscription keys? OAuth tokens? Etc..

Based on the Authoring session, we do store some information in the browser's local storage but we can get you a better idea once we know what secrets you're referring to.

[2020-09-15 16:45] cwhitten commented on #4114
@luhan2017 can you please take a look at this?

[2020-09-15 16:46] #4109 closed

[2020-09-15 16:48] cwhitten commented on #4104
@luhan2017 can you take a look at this?

[2020-09-15 16:50] cwhitten commented on #4099
@sangwoohaan @hatpick can you check in with @scheyal to see this and consider improvements?

[2020-09-15 16:53] mareekuh opened #4139 "Composer cannot access HD to retrieve or save bugs"
Installed 1.1.1 on Mac w Catalina.
Composer is installed to and run from 'apps' folder
Upon running composer, it shows an error that it cannot 'auto-update'
Upon open new or start from template, it cannot find the file location for bots on my harddrive

Result:
- cannot open from HD
- cannot open and from template (As it requires saving to new file)

![Screen Shot 2020-09-14 at 3 29 04 PM](https:/

[2020-09-15 16:53] cwhitten commented on #4094
Seems like we can close this as an issue with the SDK that is being addressed and will show up in an updated version of the runtime template.

[2020-09-15 16:53] #4094 closed

[2020-09-15 16:57] cwhitten commented on #4093
Thanks for the example code @Stevenic ! @cxbuilders is this helpful for you?

[2020-09-15 17:01] cwhitten commented on #4091
@v-kydela can you or someone from support engage on this please?

[2020-09-15 17:10] #4134 closed

[2020-09-15 18:07] pavolum opened #4142 "Add VA template behind feature flag in Composer"

[2020-09-15 18:25] cwhitten commented on #4139
Issue was resolved offline by deleting an old BotFrameworkComposer/ folder providing stale data.

[2020-09-15 18:25] #4139 closed

[2020-09-15 18:28] tdurnford opened #4143 "Changing the skill endpoint in the Begin Skill property editor does not properly update the skill settings"
## Describe the bug
Changing the 'Skill endpoint' in the Begin Skill property editor updates the settings correctly; however, it does not update the selected key in the dropdown.

## Version
Last build from main

## To Reproduce

Steps to reproduce the behavior:

1. Add a skill with multiple endpoints
2. Configure a Begin Skill action
3. Try changing the endpoint

## Expected behavior
The dropdown

[2020-09-15 18:54] dmvtech commented on #4068
Ah, gotcha. I'm not sure on that. Let look into it.

Is `myhostname `local to the same machine that Composer is running on? What OS is it?

[2020-09-15 18:55] #3724 closed

[2020-09-15 19:18] #3984 closed

[2020-09-15 21:11] EricDahlvang commented on #4062
Hi @shefalikuk

Would you be able to provide us with a repro project?  One way to do this is to export the composer project's assets to .zip:
![image](https://user-images.githubusercontent.com/11055362/93265268-374c7c00-f75d-11ea-9a6c-fee4fa743ba0.png)

Make sure to remove any passwords from the appsettings.json before sharing:
![image](https://user-images.githubusercontent.com/11055362/93265352-6

[2020-09-15 21:24] #4047 closed

[2020-09-15 22:13] GeoffCoxMSFT opened #4145 "Add form dialog extension to Composer"
Add the extension to Composer integrated with the build
OK to have placeholder UI as other tasks will cover adding UI and logic

[2020-09-15 22:15] GeoffCoxMSFT opened #4146 "Add form building UI to form dialog extension"

[2020-09-15 22:16] GeoffCoxMSFT opened #4147 "Add entry point for new form dialog to UI"
Depending on where the UX design lands on how user's add a new form to their set of assets, this is to add the 'Add form' button or drop-down item and open the form building UI.

[2020-09-15 22:18] GeoffCoxMSFT opened #4148 "Add generation action UI, wire to server call, and refresh when complete"
Add the UI for the user to generate the dialog from the form.
Depending on where UX decides this goes or if we decide to auto-generate as the user builds the form, this may change.
If form dialog creation takes time, this should include an indeterminate progress indicator

[2020-09-15 22:19] GeoffCoxMSFT opened #4149 "Update composer support for form dialog triggers and actions"
This is to add the necessary hard-coded groupings and configuration to support the newly used action and trigger types from form dialogs.

[2020-09-15 22:20] GeoffCoxMSFT opened #4150 "Update navigation to display form dialog assets"
This is to extend the improve navigation with the tree of forms/properties/triggers and wire them to the correct page/editor.

[2020-09-15 22:22] GeoffCoxMSFT opened #4151 "Add form dialog property editing UI (show when clicked in nav)"
This add the property scoped editing experience based on the UX design when the user clicks a property node in the nav

[2020-09-15 22:58] dmvtech commented on #4091
I'll try and see if I can reproduce. Can you please run the following from a shell on the Windows machine and share the results?
`netsh winhttp show proxy`

[2020-09-15 23:51] scheyal opened #4152 "Composer Skills: Skill bot returning adaptive/hero cards end conversation (preventing multi-turn skill flow). If by design, add documentation."
## Scenario: develop parent/skill bots for multi-turn interaction where skill bot returns an adaptive or hero card in turn.
* Parent bot (using Composer) - call skill
* Skill bot (using Composer) - sends an adaptive or hero card waiting for response for multi-turn interaction.
--> skill conversation terminates.
Fix: add end-turn after the card and multi-turn can continue
Note: other responses such

[2020-09-16 02:24] luhan2017 commented on #4118
@crebstock，could you please check if the locale is set in the facebook and Twilio channels? it could relate to this issue #4073, and we already have a fix on the sdk side. You can try to set the locale to mitigate it for now.

[2020-09-16 02:50] cwhitten commented on #4118
Sorry @crebstock, if this is the case I was incorrect on https://github.com/microsoft/BotFramework-Composer/issues/4073

[2020-09-16 03:21] weiZhenkun commented on #4068
Composer is running on ```windows 10 with node runtime```, and the ```myhostname``` is my other ```CentOS```. The CentOS server is running with a selfsigned certificate.

I can send the https request to the service by using Postman.

By the way, I want use the One-way authentication in my case, and I think I should put the root cert into the Composer to verdify the server. But I don't find any cas

[2020-09-16 03:23] weiZhenkun commented on #4068
Here are the pictures.
![screenshot1](https://user-images.githubusercontent.com/27683687/93288612-d54c4f00-f80e-11ea-9a33-af815df9cbff.png)
![screenshot2](https://user-images.githubusercontent.com/27683687/93288619-dda48a00-f80e-11ea-90e0-6aafe70aeab7.png)

[2020-09-16 03:33] zidaneymar commented on #4114
Hi, @gbelenky , this is a [known issue](https://github.com/Azure/azure-sdk-for-js/issues/10186) for arm template, I have reported it to the Azure team. Currently a simple workaround is **setting the createQnAResource to true** (then the script will create several qna resources on Azure, if you don't need qna, you could delete them on Azure portal manually).

I'm still working on fixing this issue

[2020-09-16 07:09] knightmeister opened #4154 "Provisioning bot resources fails"
## Describe the bug

I am attempting to follow the instructions [on docs](https://docs.microsoft.com/en-us/composer/how-to-publish-bot) to create the resources and get the JSON publish profile.

This is failing, first with `User not found` and then after I append the tenant ID it fails with `Insufficient privileges to complete the operation`.

## Version

Composer 1.1.1
Node 12.16.3

## OS

- [ ]

[2020-09-16 10:10] BeheraMadan opened #4156 "Total number of users count in App Insights on Azure Portal is constant and not increasing for the deployed BOT"
Hi,
We have a bot deployed on both Dev and Prod environment and the bot is configured to the App Insights resource(using instrumentation key in appsettings.json file) in each of these environments. The composer runtime code includes  default code for logging application insights as shown in below screenshot.
![image](https://user-images.githubusercontent.com/70739031/93322462-f7ef5f80-f830-11ea-98

[2020-09-16 12:24] ltwlf opened #4157 "Enforced autoEndDialog for skills"
Hi there,

in a project (current main branch), I have the issue that the autoEndDialog prop gets hard overwritten for the root dialog when I use the composer bot as a skill.  I rather would prefer to use the explicit user configured setting. Should I submit a PR to change this?

Reference:
https://github.com/microsoft/BotFramework-Composer/blob/5668e0b8f683b5cef370aad53558c0621e41148a/runtime/dotn

[2020-09-16 15:34] #3841 closed

[2020-09-16 15:42] benbrown commented on #4041
See #3384

[2020-09-16 15:45] benbrown commented on #4038
see also #3385

[2020-09-16 16:23] crebstock commented on #4118
Where would you edit locale specific to the channel?  I don't see those settings either in the channel registration?  Would this be done in composer or is it a setting on facebook/twilio?

[2020-09-16 16:25] JonasBergholz opened #4159 "Error Code 500 when Bot has multiple dialogs (POST 500 directline/conversations/<conversationId>/activities)"
Hello,

I have the issue, that my new bot doesn't want to start properly, when I have multiple dialogs and program the ability to change them. The LUIS itself seems to work fine, so the triggers doesn't seem to be the problem. But when I set the trigger to change to a different dialog, it gives me the error 500 when it starts, even before the welcome message. When I remove the dialog change and ju

[2020-09-16 16:42] nitroin commented on #4118
Just an head up as we're experiencing the exact same issue.

[2020-09-16 18:09] ismendes commented on #4156
Thanks for posting @BeheraMadan. @dmvtech I am the PM of this project, feel free to reach me as well if you need access to the code. Thanks

[2020-09-16 18:36] mareekuh opened #4160 "Customer feedback : Feedback bot, Eyal"
Update look & feel of Eyal's bot and get it ready for implementation in/access from Composer

Projects: Skills and assets

[2020-09-16 18:52] vishwacsena commented on #4095
Here is a sample that starts with echo bot and shows validation working. There are no known gaps here. You do not have to add intents in the parent dialog in order for this to work. Also you do not need to set anything with allow interruptions. Those are only required if
- you have multiple user intents that your parent dialog can fulfill
- you would like for specific points in the conversation be

[2020-09-16 18:52] #4095 closed

[2020-09-16 19:33] srinaath opened #4162 "BotProject file (.botProj) Operations"
*   [x] Need to support operations to read and load projects from the botproject file in state
*   [x] Add a project to the botproject file
*   [x] Delete a project from the botproject file
*   [x] Update botproject file on "Save as"
*   [x] Adding a remote skill to botproject file
*   [ ] Hosting the approved schema on Bot Framework repo

[2020-09-16 20:03] hatpick commented on #4099
@scheyal Would you please tell us what OS you are running the 1.1.1 release on?
On windows 10 I see the following when I click the "Help/Check for Updates"

![check for updates](https://user-images.githubusercontent.com/1483492/93386527-b05ed880-f81c-11ea-9e5e-72944b8c180b.PNG)

[2020-09-16 21:08] hatpick commented on #4099
@scheyal I see it now, with "early adapters" off it's showing the issue you are describing.

[2020-09-16 21:20] sangwoohaan commented on #3957
Updated the design as new notification designs came in. Removed the console, merged it with other notification. The validation badge design will remain as it is in the current build since Vivek is tackling that experience as a whole.