[2021-02-04 10:02] #5383 closed

[2021-02-04 10:23] tiagonmas commented on #5335
Issue is still present in v1.3.1-nightly.209116.285a040. Should this be closed before it's fixed in production ? @luhan2017 @zxyanliu

[2021-02-04 10:47] tiagonmas commented on #5663
Tried again and saw the same error. I'm only able to provision things if i remove QNA option.
The error seems to be "Cannot provision service 'tiagonmashomeassistant-qna-search' because a service with this name is already in use, or another request to provision a service with this name is still in progress RequestId: f021334f-5da1-4cc7-9e52-14f604dadbc9\n" +"

here are the command line logs (I sta

[2021-02-04 11:12] tiagonmas commented on #5665
Just created a new Publishing profile, removed CosmosDB and QNA from the resources to be deployed, publish and it worked. not sure what happened before.

[2021-02-04 15:02] benbrown commented on #5577
Note: We need to make sure that any changes we make to this to support the new ABS fields do not break existing profiles.

We will need to capture the subscriptionId *regardless* of whether the bot was imported from ABS or not.  I think it would make sense to be at the root.

[2021-02-04 17:05] goergenj commented on #5369
@clearab / @garypretty First priority is to have a testing webchat to use with Composer instead of Emulator for Enterprise scenarios that do not allow the use of Emulator.
Second priority could be to provide an easy to customize (change css, images) WebChat to use as a client channel which can also be deployed automatically from Composer. TBD whether this should be part of the Bot WebAPP or deploy

[2021-02-04 17:08] goergenj commented on #3640
@boysdc2014 See above open question.

@joaollq Can you please check when we have upgraded the Composer?

[2021-02-04 17:34] KarlXOL opened #5695 "Unable to deploy to azure - Get error "Required field 'accessToken is missing from publishing profile""
## Describe the bug
I did following:
1. Provisioned successfully azure ressouces by running <provisionComposer.js>
2. created a simple bot based on echo template
3. added a publishing profile in which I filled outpout from running <provisionComposer.js>
4. When trying to publish I get this error in the composer frontend
![grafik](https://user-images.githubusercontent.com/21153915/106931373-cfe8960

[2021-02-04 17:34] cwhitten commented on #5694
hello @mxmore and thanks for your question. support for Node.js/JavaScript is in preview, where you can test this today by creating a bot project and ejecting your runtime and selecting JS as a target language. You can then customize this runtime by adding additional JS where necessary. It is preview though and is subject to change.

For Python support, this is on the backlog and being considered

[2021-02-04 17:34] #5694 closed

[2021-02-04 17:37] cwhitten commented on #5691
We'll add these in a future release as part of the Trigger Wizard UI update

[2021-02-04 17:39] cwhitten commented on #5684
We'll seek to add this in R13

[2021-02-04 17:48] #4000 closed

[2021-02-04 17:48] #4003 closed

[2021-02-04 17:58] cwhitten commented on #5627
Hello @sanoorvishwa can you tell us a bit more information about your project?

Which version of Composer are you using?
Have you ejected and customized the runtime, perhaps JavaScript?
Is this project directory stored on a removable disk that is no longer visible to Composer?

[2021-02-04 18:03] tiagonmas opened #5697 "Response status code does not indicate success: 404 (Not Found)."
## Describe the bug

Started having the following issues running my bot, after the Greeting dialog I get the answer "Response status code does not indicate success: 404 (Not Found)."

[code]

I'm guessing this is related to LUIS configuration .. but could not yet found how.

## Version

v1.3.1- nightly-209116.285a040

## Browser

- [ x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox

[2021-02-04 18:27] mewa1024 commented on #5691
sounds good. (@vivekkshankar fyi)

[2021-02-04 19:18] v-kydela commented on #5695
Thank you for the report, @KarlXOL. I'd like to help and I have a few questions.

1. Can you link to any documentation you followed?
2. Where did you get provisionComposer.js?
3. What arguments did you pass into provisionComposer.js?
4. Since you've checked every browser option except Safari, does that mean you've tried this using both the desktop version of Composer and the web-hosted version bui

[2021-02-04 19:18] dmvtech commented on #5665
Gotcha. Ok, I'll go ahead and close. If it reoccurs or you are able to determine the exact steps, please comment or open a new bug. Thanks!

[2021-02-04 19:18] #5665 closed

[2021-02-04 19:27] srinaath commented on #5479
Closing due to inactivity.

[2021-02-04 19:31] KarlXOL commented on #5695
Thanks for quick response:
1) Documentation
https://docs.microsoft.com/en-us/composer/how-to-publish-bot

2) Got provisionComposer from folder <scripts> inside the generated bot directory

3) Arguments I passed: --subscriptionId --name --appPassword

4) I used composer from installation ; Actually I'm not sure how this is related to the browser?
    But I entered the composer-URL also into FF, Chr

[2021-02-04 19:37] srinaath commented on #4156
Closing due to inactivity.

[2021-02-04 19:37] #4156 closed

[2021-02-04 19:46] srinaath commented on #5595
@cosmicshuai I see a linked PR. Can we drive this ticket to closure?

[2021-02-04 19:57] srinaath commented on #5430
@tracyboehrer Is this request considered in the latest runtime to be integrated in Composer?

[2021-02-04 20:22] srinaath commented on #5173
@dinirichard We have made a lot of improvements to the publish process in our current release (1.3).

[https://docs.microsoft.com/en-us/composer/how-to-publish-bot](https://docs.microsoft.com/en-us/composer/how-to-publish-bot)

Deployment of JS runtime to azure functions should work now.

@benbrown Do correct me if im wrong.

[2021-02-04 20:24] benbrown commented on #5173
There are still manual steps required to configure Functions to run with the Node runtime. I will track those down for you!

[2021-02-04 20:28] benbrown commented on #5173
The workaround is described here:

https://github.com/microsoft/BotFramework-Composer/pull/5311#issuecomment-743210521

[2021-02-04 20:29] #5173 closed

[2021-02-04 20:39] srinaath commented on #5456
@NanheGupta  This is still on our radar and we will work towards adding the docs for this in our upcoming release. A very rough of set of steps would be

*   move files so that runtime is at root, dialogs are in ComposerDialogs/ folder
*   write secrets to settings file if necessary
*   run lubuild process from cli
*   zip deploy

[2021-02-04 21:26] v-kydela commented on #5695
@KarlXOL - Thank you for the information.

The documentation you linked to doesn't mention provisionComposer.js. Does that mean you followed the instructions in README.md in your bot's project folder? Did you get an access token from running provisionComposer.js? What did you do with that access token?

What do you mean by "the composer-URL"? Do you mean the bot's messaging endpoint? You say you u

[2021-02-04 21:50] tracyboehrer commented on #5430
We will now.  Will copy or transfer this issue to the new Runtime issue list.

[2021-02-04 21:52] tracyboehrer commented on #5430
Runtime issue: https://github.com/microsoft/botframework-core/issues/73

[2021-02-05 00:26] cwhitten commented on #5412
hi @cxbuilders. sorry about the trouble upgrading your pipeline to work with 1.3.0. we're investing on improved capabilities and integrations with CI environments and building out documentation on which stable interfaces or shape can be relied upon in a CI environment as well as providing a lot more functionality made available through the bot framework cli.

@boydc2014 will follow up with more de

[2021-02-05 00:42] boydc2014 commented on #5412
@cxbuilders Sorry for the delay. I can help clarify more context of making composer bot compatible with CI/pipeline.

In our view, before 1.2.1, a bot is authored by composer is not considered as CI friendly, the criteria was whether user can create a bot in composer, and can **build and run** the bot outside composer. (we didn't list be publish as a goal yet). And we received lots of feedback fro

[2021-02-05 03:38] carlosscastro commented on #5393
Update: Our application was enabled for MSA, and the 2 missing steps were enabling MSA access to graph and ARM apis, to create the bot application and azure resources respectively. The graph access was cleared and rolled out today, and we see it working in our test environment. However, we encountered a technical issue acquiring ARM tokens for ARM APIs. MSA accounts interact with Azure through an

[2021-02-05 04:00] luhan2017 commented on #5451
Synced with @jocrafts , she can't reproduce this issue.

[2021-02-05 04:00] #5451 closed

[2021-02-05 05:39] thakursarvesh commented on #5644
Actually it is not reflecting even now. So basically it never reflects.

[2021-02-05 05:57] KarlXOL commented on #5695
Yes, you are right. For the creation of the publishing profile I followed the readme.
I got an accesstoken and pasted it in the publishing profile as described.

I used the desktop-version then. By composer-URL I mean the URL <localhost:5000> which I found in the developer tools of the desktop version then.

[2021-02-05 06:23] thakursarvesh commented on #5644
I am making changes in the flow. I am using bot composer to create the chatbot flow and publishing it to azure.

[2021-02-05 07:14] luhan2017 commented on #5697
@tiagonmas This may relate to #5622. But that should be fixed in the latest nightly. Could you give me information here? What does your bot looks like? Are you using a custom runtime?

[2021-02-05 07:17] luhan2017 commented on #5695
Did composer ask you to login before you start publish? @KarlXOL

[2021-02-05 07:29] peterbozso commented on #5479
@srinaath Why did you close this one? This issue is not fixed at all and there's still an open PR linked: https://github.com/microsoft/BotFramework-Composer/pull/5315

[2021-02-05 07:55] lafe commented on #2517
A functionality to debug and inspect the bot while it is running in the Bot Framework emulator would be a great addition!

[2021-02-05 08:14] hibrenda opened #5701 ""insert template" for default send response action will mess up the format"
- add "send response"
- click "insert template" button
- hit following error.
![image](https://user-images.githubusercontent.com/43408889/107006591-5317f380-67cc-11eb-8c87-7051ae899623.png)
The default "send response" action starting with "-", so the insert the template need to take care this as well.

[2021-02-05 08:22] zhixzhan commented on #5426
Now when select "bot project" header, will auto navigate to it's main dialog, then change the Recognizer Type will be doable.
addressed in #5623

[2021-02-05 08:55] #5595 closed

[2021-02-05 09:06] KarlXOL commented on #5695
Yes, I get the login request, authentication was successful and then fails with the error above

[2021-02-05 09:14] tiagonmas commented on #5697
Thanks @luhan2017. I am using a custom runtime, yes. Will check the other issue.

[2021-02-05 09:21] feich-ms opened #5702 "Bot with multiple languages throw root lu file not found exception if one of the language is unsupported by luis"
## Describe the bug

Switching between multiple languages throw root lu file not found exception if one of the language is unsupported by luis

## Version

1.3.1

## Browser

- [x] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a bot with multiple languages, and on

[2021-02-05 10:57] tiagonmas commented on #5697
I checked the other issue, and uninstalled the nightly builds and installed the production build of composer (v.1.3.0) but still see the issue. I fired F12 and fiddler, but I could not see the LUIS call as shown on the other issue ...

[2021-02-05 16:14] tiagonmas commented on #5697
LUIS  App was not published for some reason. Going to luis.ai and publishing the  app solved the issue.

[2021-02-05 16:33] srinaath commented on #5479
@peterbozso As a part of our regular DRI process we usually do a cleanup of tickets due to inactivity. It looks like @zidaneymar had requested some PR feedback that was undressed. Let me open the ticket back up so that we can get the feature in.

[2021-02-05 17:17] dmvtech commented on #5687
Hi @BeheraMadan I am taking a look. I'll let you know if I have any questions or information to share.

[2021-02-05 17:57] #5650 closed

[2021-02-05 19:12] srinaath commented on #5664
@cwhitten Can you take a look at this ticket?

[2021-02-05 19:24] srinaath commented on #5345
@benbrown @luhan2017 Any update on this ticket?

[2021-02-05 19:49] v-kydela commented on #5695
@KarlXOL - What happens if you [create new resources using the built-in Composer wizard](https://docs.microsoft.com/en-us/composer/how-to-publish-bot#create-new-azure-resources) instead of provisionComposer.js?

[2021-02-05 20:15] KarlXOL commented on #5695
I tried this, but it was not working. No dialog opened for configuration of azure resources.

[2021-02-05 21:01] benbrown commented on #5492
Included in in #5557

[2021-02-05 22:48] v-kydela commented on #5695
@KarlXOL - That's very strange. I wonder if the problem you're experiencing with the wizard is related to the problem you're experiencing with provisionComposer.js.

Please tell us the steps you're taking to reproduce the problem you've experienced with the wizard and provide screenshots so we can see which point it's failing at. Also, try using the developer tools to see if the console shows any

[2021-02-05 22:59] lauren-mills commented on #5697
Can confirm. On latest nightlies and my LUIS apps were not being published

[2021-02-06 00:33] scheyal opened #5704 "Cross-training + Orchestrator interaction in Composer results with ~5 minutes build, and excessive duplicated LU assets"
## Describe the bug
Created a sample with QnAMaker, LUIS dialog, a skill, a few other local triggers mimicking local or skill calls. With cross-training the soluion seems bloated a few timefolds and the resulting performance degrades with build taking ~5 minutes.

### Original language assets
* Orchestrator LU file:
 - Intents: ~13
 - Examples: 501 in total
* QnaMaker file (original - default whit

[2021-02-06 00:41] scheyal opened #5705 "QnAMaker trace/call shows up in log after intent was recognized correctly."
Setup a bot with Orchestrator recoginzer (could be LUIS) and QnAMaker. Notice how QnAMaker trace shows up after intent was correctly recognized. See images:

![but1](https://user-images.githubusercontent.com/8867670/107103013-04208d00-67d1-11eb-8c35-ff867b73b167.png)

![bug2](https://user-images.githubusercontent.com/8867670/107103021-084caa80-67d1-11eb-9e8b-0ee55eb3aefd.png)

[2021-02-06 06:54] KarlXOL commented on #5695
Ok, tried to create azure resources via composer
1. logon to
2. add publishing profile
![grafik](https://user-images.githubusercontent.com/21153915/107111413-41782f80-6850-11eb-947d-d3cdb661106c.png)

3. select option to create new resource
then it hangs with this error
![grafik](https://user-images.githubusercontent.com/21153915/107111440-77b5af00-6850-11eb-93e5-f285232b261f.png)

Hope this helps

[2021-02-06 08:46] mitrro commented on #5393
Appreciate the update, Carlos!

[2021-02-06 14:21] fahadmajeedrana opened #5706 "Unable to login with personal account"
Hi Team,

I am not able to login with my personal account for creating a publish profile on composer v1.3. Any help re this would be much appreciated.
![image](https://user-images.githubusercontent.com/31787094/107120558-290d2100-68f3-11eb-88dc-01c35b8fbf15.png)

Cheers.

[2021-02-06 19:12] KarlXOL commented on #5695
Found a workaround which might be of interest for your investigation:
1. Started bot-composer desktop version
2. then I entered the URL localhost:5000 in firefox to use the web version of the composer (bot-composer seems to start a server)
3. then I tried to publish, add a profile, provision azure resources which all worked here
    the major difference I encountered was that I get asked the acces

[2021-02-07 05:01] #5426 closed

[2021-02-07 05:05] boydc2014 commented on #4214
With #5673 in，i would see the rendering optimization is at a fairly good stage. So, closing this for now, and i will open some tickets for other finer-grained optimization.

[2021-02-07 05:05] #4214 closed

[2021-02-07 05:09] boydc2014 opened #5708 "Improve the bot loading performance"
## Describe the bug

Composer is taking too much time to load a big bot. For example, in Calendar bot, it's taking up to 30-60s to see the first screen.

## Version

Lastest main

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. open a big bot
2. wait the

[2021-02-07 05:34] irwinwilliams commented on #5456
TL;DR:
Hi, a workaround to get publishing working would be to create a user in the Azure subscription's AD, grant it the appropriate permissions and publish with the login from that user.
Details:
Literally, for the sub you're going to publish into, go into the Active Directory
![image](https://user-images.githubusercontent.com/1428703/107137566-1b03d400-68e4-11eb-8dd2-628fb32eb5c8.png)
Click User

[2021-02-07 05:52] cosmicshuai commented on #5332
Verified The second item `Dynamic property auto-completion` works. No need to fix.

[2021-02-07 05:53] irwinwilliams opened #5709 "Publishing while new (to Azure)"
## Describe the bug
When publishing to a newly minted Azure subscription, the user may run into scenarios that seem related to first-time user of various Azure services

## Version
                Bot Framework Composer

                Version:  1.3.0
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

##

[2021-02-07 06:58] MoesLab commented on #5456
I have created a new user and I used it in the e-mail dialog box to publish the bot.

in Configure resources page the Loading keeps circling when I select Create new Azure resources.
I am thinking I should select Import existing Azure resources. but I don't exactly know what are resources I should have in Azure and what exactly I must add to the JSON  config file. I am hoping somebody can kindly s

[2021-02-07 08:01] luhan2017 commented on #5697
@lauren-mills and @tiagonmas, in the latest composer, we update the luis publishing from slot publish to version publish. if you bot works well when you manually publish the app, it is possible that, in composer it publishes luis by version, but your didn't update the code in the runtime side. Could you please check your runtime package version? is it later than 4.12.0-daily.20201202?

[2021-02-07 08:11] luhan2017 commented on #5695
@KarlXOL, thanks a lot for this information. I got some clues from your workaround, the issue should relate to the oneauth library. Somehow, it showed that you logged in successfully, but failed to get the token. There is a similar issue #5436. @carlosscastro, I remember we had a thread with oneauth team on this issue, let's follow up on this offline.

[2021-02-07 10:17] alanlong9278 opened #5712 "Css error when clicking node in visual editor"
## Describe the bug

Click node in visual ediotr, the node border css is wrong.
![image](https://user-images.githubusercontent.com/5860999/107143563-b80c4e80-6970-11eb-82f5-b416fee019ee.png)

## Version

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go

[2021-02-07 11:22] KarlXOL commented on #5695
Can't see nothing else than this when adding a new profile  (besides the token error in the console) =>
![grafik](https://user-images.githubusercontent.com/21153915/107144982-e1ac8200-693e-11eb-8130-a2e20c8ba406.png)

[2021-02-07 13:18] #5495 closed

[2021-02-07 13:18] #5702 closed

[2021-02-07 21:43] tiagonmas commented on #5697
@luhan2017 can you please clarify what package you are talking about ?
Here are my packages inside the webapp
![image](https://user-images.githubusercontent.com/42462/107160313-6920e200-698d-11eb-8c39-8eea003c7228.png)

[2021-02-08 00:04] fahadmajeedrana commented on #5706
This was because of having same org and personal email address. The workaround is to add alias to personal account. However now stuck on different issue re publishing using personal account in general tracked in
#5393

[2021-02-08 00:04] #5706 closed

[2021-02-08 02:35] luhan2017 commented on #5697
@tiagonmas Yes, the 4.11.0 are the sdk packages you are using, if you want to use the latest nightly composer, you will need to upgrade those packages to 4.12 daily like this:

https://github.com/microsoft/BotFramework-Composer/blob/30d3ec2e4e6b75b7d68e726dcfb53d62520f0b70/runtime/dotnet/azurewebapp/Microsoft.BotFramework.Composer.WebApp.csproj#L19

[2021-02-08 02:37] luhan2017 commented on #5695
@KarlXOL thanks a lot for your info, the issue is exactly same as #5436 , we are working with oneauth team on this error now. will keep this thread updated. Thanks!

[2021-02-08 06:18] #5437 closed

[2021-02-08 09:39] #5712 closed

[2021-02-08 09:39] cxbuilders commented on #5412
@cwhitten Yes that would be great. I see eg some issues raised for adding setting for channels to be added, which are already part of our pipeline, so things like that would all be good to be aligned on, so I can update the pipeline if required.

@boydc2014 Thanks for the info. I think having an overview of the final directory structure within the WebApp would also help with explanation of what is

[2021-02-08 10:36] #5577 closed

[2021-02-08 12:35] cxbuilders opened #5719 "Transcript Storage Retention Policy"
As the native pipeline is being built / designed for Composer, I though I ask for the implementation purging of Transcripts from Storage. As I have noticed the size of Storage can skyrocket with a bot with some decent usage.

I wanted to double check if this is being considered / will be considered as otherwise I will built it myself in our current pipelines. I would imagine a settings in days tha

[2021-02-08 13:08] garypretty opened #5720 "Add SetSpeakMiddleware"
To support the directline speech and telephony channels, we need a mechanism to ensure the appropriate SSML tags are set on activity Speak properties.  This will be added as middleware and will work as below.

- There should be a flag in settings to allow a user to automatically set the activity Speak property, if empty, to the value of the Text property.
- If it is not already present, wrap the s

[2021-02-08 14:52] tiagonmas commented on #5697
Updated the project to 4.12.0-daily.* but still getting the same 404 errors when runnint the bot :(

![image](https://user-images.githubusercontent.com/42462/107235946-1ee74180-6a1d-11eb-9959-068ce27457ab.png)

[2021-02-08 17:31] tomlm opened #5723 "QnA editor flow is broken-can't edit extracted pairs"
## Describe the bug
When I create a KB which is built from a url source I can't edit any of QnA Pairs.

## Version
![image](https://user-images.githubusercontent.com/17789481/107256028-cfd5e800-69ed-11eb-86ac-fe999a8c135f.png)

## Browser
- [x] Electron distribution

## OS
- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create dialog
2. Create KB point

[2021-02-08 18:31] tomlm opened #5724 "Composer keeps adding WelcomeUser LG template even though I have one in my common.lg file."
## Describe the bug

I have a WelcomeUser in common.lg, when I load my project I get an error because it keeps adding one in the root dialog en-us.lg file

## Version

![image](https://user-images.githubusercontent.com/17789481/107265239-e0d82680-69f8-11eb-9956-5bbc562b527c.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Wi

[2021-02-08 19:17] Virtual-Josh commented on #5709
@dmvtech Can you help the customer here?

[2021-02-08 19:23] Virtual-Josh commented on #5611
@Stevenic Can you answer the new question posed?

[2021-02-08 19:27] Virtual-Josh commented on #5541
closing due to inactivity

[2021-02-08 19:27] #5541 closed

[2021-02-08 19:34] Virtual-Josh commented on #5431
Hey @cwhitten,

If you're going to take this can you update the tags to reflect that? If not can you close it?

[2021-02-08 19:35] Virtual-Josh commented on #5423
@tonyanziano,

Have you had a chance to do the investigation? If so can you provide an update? If not, when will the investigation happen?

[2021-02-08 19:37] Virtual-Josh commented on #4822
closing due to inactivity

[2021-02-08 19:37] #4822 closed

[2021-02-08 19:38] dmvtech commented on #5592
Hi @Heinzfb Just checking in. Were you able to make any progress or get any further info?

[2021-02-08 19:40] Virtual-Josh commented on #4091
@luhan2017,

Is this issue resolved? If so can you close. If not can you drive this to completion?

[2021-02-08 19:45] tonyanziano commented on #5423
Hey @Virtual-Josh ,

Regarding bullet 1, I have identified the issue in the front end code, but I don't have the cycles right now to fix it.

For the second bullet, I did some investigation on my own, and was unable to reproduce the issue using a similar setup to what @DS2019 had.

For now, I think resolving the underlying issue of bullet 1 will allow the UI to reflect the right publishing status

[2021-02-08 22:58] tomlm opened #5727 "Clicking on root dialog across/bot skill loads the root dialog for active project, not the clicked on one"
## Describe the bug

When I have a bot and a skill loaded.
[code]
When click on skill.dialog, and click on bot.dialog, it flashes, and stays on skill.dialog.

## Version
![image](https://user-images.githubusercontent.com/17789481/107291958-e005bb80-6a1d-11eb-9548-67ca1ba186e5.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x]

[2021-02-08 23:05] abharath27 opened #5728 "Unable to add a trigger on a non-English bot imported from PVA"
## Describe the bug

Composer throws an error when I try to add a trigger on the main dialog in an imported PVA French bot. Error message: "lu file PowerVirtualAgentRoot not found"

## Version

https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.3.1-nightly.210994.30d3ec2

## Browser
- [x] Electron distribution

## OS

- [x] Windows

## To Reproduce

Steps to reproduce the

[2021-02-08 23:12] pavolum opened #5729 "Remove old conversational core feature flag"
The conversational core template shipped during R11 that is part of the new creation flow needs to be removed as it represents an older POC version of the component model and will no longer function as expected with the new creation flow.

- [x] Remove all references and definition for  REMOTE_TEMPLATE_CREATION_EXPERIENCE feature flag

[2021-02-08 23:17] pavolum opened #5730 "Clean up design for feature flagged new creation flow"
Button up initial UI for feature flagged new creation flow meets the bar for R12 release.

- [x] Add appropriate padding to template selector per design spec
- [x]  Format readme to meet initial design spec w/ markdown constraints
- [x]  Change template name in UI to friendly name as opposed to npm package name (i..e 'Empty Bot' instead of 'generator-empty-bot')

[2021-02-09 02:46] luhan2017 commented on #5622
@zidaneymar We should support the directVersionPublish for the deployment script.

[2021-02-09 03:30] feich-ms opened #5732 "Update bf-lu package version to resolve the app settings missing issue"
## Describe the bug

Current bf-lu has a bug that app settings defined in lu files may be lost when doing luis publishing. There was a fix in bf-cli side https://github.com/microsoft/botframework-cli/pull/1108 to resolve the issue. Composer need to upgrade the bf-lu version to overcome this issue.

## Version

Latest main

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Fir

[2021-02-09 04:26] #5637 closed

[2021-02-09 06:01] #5414 closed

[2021-02-09 06:28] luhan2017 commented on #4091
@feich-ms Let's sync offline on this, after some investigation, we found that we'd better support the proxy settings from the bf cli side. Then composer can leverage the capability.

[2021-02-09 06:55] LakshmanRaja209 opened #5735 "Publishing Error : SyntaxError - Unexpected token o in JSON at position 1"
## Describe the bug
In Bot Composer we are trying to deploy the Bot with Luis Configuration getting the below error

"SyntaxError - Unexpected token o in JSON at position 1"
"Assigning to luis app id: 14f20582-85fe-4d5b-8823-25e016ce719e"
---

---
"{\"name\":\"StatusCodeError\",\"statusCode\":400,\"message\":\"400 - {\\\"error\\\":{\\\"code\\\":\\\"BadArgument\\\",\\\"message\\\":\\\"Failed to par

[2021-02-09 09:39] amesquitaACD opened #5738 "Bot Framework Composer is not responding"
## Describe the bug
In Bot Framework Composer, after importing my bot, all buttons are inaccessible. The program freezes.
I have tried this on different machines.
I use Bot Framework Composer in France.
https://powerusers.microsoft.com/t5/General/Bot-Framework-Composer-cannot-be-used/m-p/820707#M2018

## Version
1.3.0, but I tried with version 1.2.1 and 1.2.0.

## Screenshot
![image](https://user-

[2021-02-09 10:37] BeheraMadan opened #5739 "opening composer bot in Power Virtual Agent"
Hi,

I am able to open a PVA bot inside Composer but could you please let me know the steps how to open a composer bot in PVA.
In Pva there is option to open composer with in PVA platform

![image](https://user-images.githubusercontent.com/70739031/107351586-caad9180-6af0-11eb-928f-aed3d3f47bcb.png)

But if  I create a bot directly in composer, there is no option to open it in PVA.

Thanks....

[2021-02-09 14:56] goergenj commented on #5697
Hi, I just installed the nightly and also have the same issue. The Bot does not publish the LUIS app. Manually publishing the LUIS Apps solves the 404 but is not feasible,

[2021-02-09 16:04] dmvtech commented on #5709
hi @irwinwilliams I am attempting to reproduce this. Thank you for sharing, I'll let you know if I have any questions.

[2021-02-09 17:07] dmvtech commented on #5738
Did you get the pop-up to allow through the Windows firewall?

[2021-02-09 17:31] benbrown commented on #5643
Thanks to everyone who contributed to this effort!

Our PM team confirms that this data is what we need for now.

[2021-02-09 17:31] #5643 closed

[2021-02-09 17:35] cwhitten commented on #5704
@lei9444 @boydc2014 can you comment on this behavior? cross-training shouldn't take this long.

@scheyal which LU assets are duplicated, exactly? we shouldn't be doing any duplication

[2021-02-09 17:36] cwhitten commented on #5705
@scheyal do you have a question about this? the behavior seems correct.

[2021-02-09 17:43] cwhitten commented on #5719
@cxbuilders at the moment we don't have the ability to configure retention policies for your transcript storage. Are you using CosmosDB to store transcripts? You may need to go into the DB configuration to set retention policies on the transcript collections.

[2021-02-09 17:44] cwhitten commented on #5723
@vivekkshankar can you comment on the current or planned design for this? "Show code" at the top level to expose the source import doesn't give a lot of utility to the user.

[2021-02-09 17:47] cwhitten commented on #5724
@zhixzhan could this have been a side-affect of https://github.com/microsoft/BotFramework-Composer/commit/4de92c4a77c12cd390aa841967a3b03e03ccc7c9 ?

[2021-02-09 17:54] cwhitten commented on #5738
@amesquitaACD can you please install the latest nightly here: https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.3.1-nightly.210994.30d3ec2 and see if you still have the issue? thanks.

[2021-02-09 18:23] cwhitten commented on #5664
Hi @MrFearLess98 and thanks for the question. This is possible by setting special properties in the adaptive card form that match with intent triggers in your bot. Please see this comment for an example: https://github.com/microsoft/BotFramework-Composer/issues/1820#issuecomment-571276631

[2021-02-09 18:27] #5664 closed

[2021-02-09 18:48] Shivanitanwar opened #5743 "After I upgraded composer to latest version (1.3.0), it fails to publish to azure. Throws something went wrong error everytime."
## Describe the bug

After I updated composer to latest version (1.3.0), it fails to publish. Throws something went wrong error everytime.
## Version

1.3.0
## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

Windows

- [x] Windows
-
## To Reproduce

Steps to reproduce the behavior:

I created a publish profile.
Then tried to publish to azure through

[2021-02-09 19:20] hatpick opened #5744 "azurePublish should not use internal packages such as code-editor"
azurePublish or any other extensions (sitting under extensions directory) should not have knowledge about internal yarn workspace packages.

In this particular case, azurePublish wants to display a jsonEditor and should import monaco directly instead of depending on @bfc/code-editor. This causes an issue with node module discovery since it has no idea about yarn workspaces inside Composer director

[2021-02-10 00:47] taicchoumsft opened #5747 "Orchestrator: ChooseIntent (aka Duplicate Intent) Trigger doesn't work when using Orchestrator"
## Describe the bug
When using Orchestrator with a `ChooseIntents` trigger in a dialog, Orchestrator will not pop up the disambiguation prompt, even if all conditions are met.

## Additional context
`OrchestratorRecognizer` supports this scenario, but we need to explicitly set the `detectAmbiguousIntents` flag in the recognizer for the dialog if it has a duplicate intent/`ChooseIntent` trigger.

F

[2021-02-10 01:30] dmvtech commented on #5448
Thank you. I'm not able to reproduce this with your bot.

![image](https://user-images.githubusercontent.com/43397658/107450950-254beb00-6afb-11eb-9721-b7b174cdeb5a.png)

@ysnoek2 Assuming everything is still in development and no other changes made to the model; if you remove applications (any named `IsaBot-master(composer)-__________`) from LUIS :
![image](https://user-images.githubusercontent.c

[2021-02-10 02:13] scheyal opened #5748 "Support multi-intent interface for Orchestrator Recognizer"
Orchestrator recognizer can return multiple intents (ranked), for an utterance.  This can be interpreted as (a) best, next match order OR (b) first intent, second intent... in single utterance.
Composer (& possibly  SDK), and Orchestrator recognizer need to take advantage of this facility, somehow separating (a) from (b) in the code structure.

Need to start with dev design requirements for the in

[2021-02-10 06:55] goergenj commented on #5565
Based on #5369 and our experience from having a custom version for this, it would be great to add two features:

1. Speech Support
2. Display Backend Messages for better debugging
![image](https://user-images.githubusercontent.com/31212469/107475970-46512200-6b75-11eb-836d-6c9dda357be3.png)

[2021-02-10 07:00] goergenj commented on #5369
@clearab I added a note to the other issue you are already working on.

@garypretty @Dewain27 For the WebChat client for deployment, it would be great, if there was a way to add a WebChat client for deployment that can be customized via a simple UI in Composer regarding colors, Avatar-Images and whether you want to allow attachments and to configure optional Speech. For the publish it should ideal

[2021-02-10 08:05] #5681 closed

[2021-02-10 08:15] ysnoek2 commented on #5448
@dmvtech what message do you get when sending "hi" to the bot? Or when clicking on the "help" button?

[2021-02-10 08:25] #5738 closed

[2021-02-10 08:28] amesquitaACD commented on #5738
@cwhitten this new version fixes the bug.
Thank you so much.

[2021-02-10 08:46] ysnoek2 commented on #5448
@dmvtech I checked and I don't have any with "master"
![image](https://user-images.githubusercontent.com/76207835/107485957-c2069b00-6b84-11eb-8438-37c85613a4d8.png)

[2021-02-10 09:01] BeheraMadan opened #5750 "Integrating Power virtual bot with composer bot"
Hi,

We have a bot created using bot composer tool and an another bot created using PVA platform. How can we integrate PVA bot
inside composer bot (is it possible with the help of 'connect to a skill' action ?).

Thanks..

[2021-02-10 10:40] Uggi opened #5751 "Cannot Add Structured Choice in Prompt For Confirmation"
Its impossible to add structured choice inputs with a defined action when configuring a Prompt for Confirmation.
the whole choice disappears when clicking out of the Action Json field.

## Version

V1.3.0
![image](https://user-images.githubusercontent.com/4349731/107497525-9c7c9000-6b8a-11eb-870b-da20360d92b3.png)

## OS

Windows 10

## To Reproduce

Steps to reproduce the behavior:

1. Add a prom

[2021-02-10 11:30] yeze322 opened #5752 "Enable Microsoft Teams types"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-02-10 12:04] yeze322 opened #5753 "Cannot delete card type lg templates automatically"
## Describe the bug

In Teams actions, lg templates are in 'Card' type, they cannot be discovered by removeLgTemplates api.
![image](https://user-images.githubusercontent.com/8528761/107507758-02910380-6bdb-11eb-8331-4eb3e6de5bcf.png)
LG server can recognize card type template.

related to #3673

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

[2021-02-10 12:33] yeze322 opened #5754 "Remove Composer builtin uischema"
## Describe the bug
~~Since we already port uischema to sdk repo, we don't need those built-in uischema any more.~~

Considering the migration problem, for those old bots without a re-generated uischema, they will still rely on builtin uischemas.

So I suggest that let sdk.uischema takes priority over builtin uischema js files. @a-b-r-o-w-n

refs #4177

## Version

## Browser

- [ ] Electron distr

[2021-02-10 13:15] michaelstiben commented on #4816
Hi. I got this issue too. I tried using "replace dialog", "begin new dialog" and "cancel dialog" but any of this function for me.
Is there any workaround about this?

[2021-02-10 14:57] cxbuilders opened #5755 "Http Request (application/x-www-form-urlencoded) does not percent encode the body"
When using a Post Request with the Content Type == "application/x-www-form-urlencoded" the body does not get percent encoded and therefore fails.

What I actually expect from this is that you could just pass in an object and when Content Type is set to application/x-www-form-urlencoded it will convert the regular object to  `var1=x&var2=y&var3=%20something` for you?

[2021-02-10 16:12] fredcsfaria commented on #4812
I have the same issue.   The JS runtime message in Bot framework  is:
Command failed: npm install && npm install --only=dev npm WARN deprecated @types/moment-timezone@0.5.30: This is a stub types definition. moment-timezone provides its own type definitions, so you do not need this installed. npm WARN deprecated axios@0.19.2: Critical security vulnerability fixed in v0.21.1. For more information,

[2021-02-10 17:07] a-b-r-o-w-n commented on #5604
@yeze322 Can you elaborate on how you see two extensions sharing their state via event emitting? Just want to make sure we are aligned.

[2021-02-10 17:53] #5025 closed

[2021-02-10 17:53] #5026 closed

[2021-02-10 17:53] #5488 closed

[2021-02-10 17:53] #5489 closed

[2021-02-10 17:53] #5498 closed

[2021-02-10 17:53] #5502 closed

[2021-02-10 17:53] #5566 closed

[2021-02-10 18:07] tonyanziano commented on #5436
Hi @bdezeeuw ,

We forwarded your logs over to the authentication team, and were able to help us debug your issue.

In short, the domain that you are trying to log into is not a "federated domain," and so we have to add code on our side to handle that special case and sign you in interactively to acquire a token instead of silently acquiring a token.

[2021-02-10 19:03] cwhitten commented on #5743
@Shivanitanwar can you please upgrade to version 1.3.1 and see if the issue is resolved for you? Thanks.

[2021-02-10 19:05] Virtual-Josh commented on #5751
@anusharavindrar  can you repo this?

[2021-02-10 19:06] cwhitten commented on #5739
@BeheraMadan PVA applies some constraints to the functionality available to a bot created in Composer. When attempting to publish a bot directly to PVA it may return validation errors or other issues.

The recommendation is to start in PVA and click that button that you highlighted and it will start a Composer project with these constraints applied and should allow you to publish back to the bot.

[2021-02-10 19:06] #5739 closed

[2021-02-10 19:06] Virtual-Josh commented on #5750
@anusharavindrar  can you take a look at this?

[2021-02-10 19:14] Virtual-Josh commented on #5735
Hey @anusharavindrar can you take a look at this ticket?

[2021-02-10 19:32] tonyanziano commented on #5728
I followed the repro steps and was able to reproduce the issue:

![image](https://user-images.githubusercontent.com/3452012/107561489-71e30500-6b93-11eb-8747-54b5dbab0c99.png)

Logs:

[code]

[2021-02-10 20:29] anusharavindrar commented on #5735
@LakshmanRaja209, are you using a work/school account or a personal account? This looks similar to the issues #5344 and #5354. Is your luis resource provisioned through composer? Also, is the luisResource in your publish profile pointing to your luis prediction resource? Please refer to the details [here](https://github.com/microsoft/BotFramework-Composer/issues/5354#issuecomment-747150353).

[2021-02-10 20:59] lauren-mills opened #5756 "Can't import intent utterances into the root .lu file (works everywhere else)"
## Describe the bug
When I try importing LU utterances from another file into my root .lu file I get an error.

LU
[code]

Error:
`
[ERROR] Loop detected for reference '[Help](C:\Users\lamil\Source\repos\microsoft\botframework-components\skills\declarative\calendarSkill\common.en-us.lu#Help)' as C:/Users/lamil/Source/repos/microsoft/botframework-components/skills/declarative/calendarSkill/language

[2021-02-10 21:23] tonyanziano commented on #5695
@KarlXOL to correct @luhan2017 's update slightly:

This is a different error but with a similar solution to that of #5436. The authentication library we are using wasn't able to acquire a token silently after signing you in, and so we need to write some code on our side that will detect this and allow you to acquire a token interactively (clicking through some more authentication UI).

[2021-02-10 21:29] lauren-mills commented on #5756
Also, I noticed that any imports from the root dialog also get pulled in when I reference the utterances from an intent in another file.

So, if I have this in root LU:
[code]

Then reference MyIntent in another file like this:
[code]

The generated .lu for file 2 will also include everything from common.lu, which is not expected.

[2021-02-10 22:01] tonyanziano commented on #5436
Note to fixer:

1. Check `accountType` property on received account object after sign-in
2. If `accountType` is non-federated, use `acquireTokenInteractively` instead of `acquireTokenSilently`
  a. I think we might already do this, but we need to look for it in the `catch` block instead of checking the result for `result.error`

[2021-02-10 22:42] pavolum opened #5757 "Make NEW_CREATION_FLOW feature flag visible"
Prior to making the new creation flow visible we need to

- [x] Fix the query that populates the template list
- [x] Validate new '@microsoft' generator packages e2e in composer
- [x]  Delist previous 'preview.' generators so they no longer show up in template selection UI
- [x] Add the empty bot template
- [x] Update conversational core template generator to grab Ryans latest updates
- [x]  Updat

[2021-02-10 23:20] #5332 closed

[2021-02-11 03:12] #5727 closed

[2021-02-11 07:02] UmaPrelude opened #5759 "Intent recognizer condition is throwing object reference error"
Hi,

I am trying to use intent recognizer level condition to stop unknown utterances coming in for any minor score. so i used the below syntax in condition, but it throws object reference error. Please help.

![image](https://user-images.githubusercontent.com/65938026/107609473-02d5e100-6c65-11eb-9365-a0841014ff40.png)

[2021-02-11 10:20] amesquitaACD opened #5760 "I can't add a trigger"
## Describe the bug
When I want to add a new Dialog Started trigger, I have an error.

## Version
1.3.1 nightly

## OS
Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Add a trigger'
2. Choose 'dialogue event' and 'Dialog Started'
3. Send
4. See error

## Screenshots
![image](https://user-images.githubusercontent.com/78791585/107621834-298d1b00-6c57-11eb-828f-479efa070410.png)

[2021-02-11 10:44] peterbozso commented on #4763
@ruifelixpereira how about this? https://github.com/microsoft/BotFramework-Composer/tree/main/runtime/dotnet/azurewebapp/Scripts

[2021-02-11 11:43] BeheraMadan commented on #5687
Do we have any update?

Thanks.....

[2021-02-11 13:54] rvinothrajendran opened #5761 "Composer release notes 1.3.1 link is broken"
link is broken : https://github.com/microsoft/BotFramework-Composer/blob/v1.3.0/releases/1.3.1.md

[2021-02-11 15:02] UmaPrelude commented on #5759
I developed this with web version of composer 1.1.1.
Since I am facing this issue, I even opened this bot in latest desktop application of composer, there i am seeing it is mapped with type abc and even then it is throwing object reference error.
![image](https://user-images.githubusercontent.com/65938026/107653902-22dac400-6ca8-11eb-995d-8b5214ceb61e.png)

[2021-02-11 15:43] cwhitten commented on #5761
Thank you @rvinothrajendran this has been fixed. https://github.com/microsoft/BotFramework-Composer/blob/main/releases/1.3.1.md

[2021-02-11 15:43] #5761 closed

[2021-02-11 16:33] dmvtech commented on #5448
Sorry, ignore the master part. I think that is because of how i got the repo and opened it.

I am getting the following:
![image](https://user-images.githubusercontent.com/43397658/107666222-225c1200-6c43-11eb-89fd-30d12559a2c5.png)

Are you running Emulator against the locally running bot or against the one deployed in Azure? If the former; in Composer, if you have the LUIS Authoring key and LUIS

[2021-02-11 16:54] gabog opened #5762 "Composer should support setting the LUIS app region in addition to the authoring region"
## Describe the bug

Composer only allows you to set the LUIS authoring region and gives you three options which is correct.

![image](https://user-images.githubusercontent.com/12264946/107668335-90fa9900-6c5e-11eb-8658-d240164a76cb.png)

However, it is possible to deploy your LUIS prediction app to other regions, here is a screenshot of the azure portal options for a LUIS prediction app:

![image

[2021-02-11 17:39] srinaath commented on #5760
Closing as its a dupe of #5728

[2021-02-11 17:39] #5760 closed

[2021-02-11 17:45] iMicknl commented on #4404
Has this been planned yet? I am looking to add support for [Dynamics 365 Omnichannel hand-off](https://docs.microsoft.com/en-us/dynamics365/customer-service/bot-escalate-end-conversation) to a Composer bot. (like how it is supported in the Azure HealthBot).

If not; I will investigate if I am able to create a Custom Action or Plugin (with middleware) to support this scenario.

[2021-02-11 17:47] chrimc62 opened #5763 "Form generation is broken because composer copies root LG templates to children LG files"
## Describe the bug

If you build a form and generate it, you will get a whole lot of errors.  The reason seems to be that composer is copying root bot templates into the child LG files as empty templates which then causes there to be duplicate template names.

Everything after > Generator was added by composer--it should not.

[code]

## Version
![image](https://user-images.githubusercontent.com/

[2021-02-11 17:49] srinaath commented on #5755
For reference microsoft/botbuilder-dotnet#3231. It looks like the issue should have resolved in the linked PR.

[2021-02-11 17:51] srinaath commented on #5753
@boydc2014  can u take a pass at this ticket?

[2021-02-11 17:55] srinaath commented on #5751
@v-kydela It looks like a serialization bug and we can take a look at the bug

[2021-02-11 17:56] tonyanziano commented on #5728
@boydc2014 @hibrenda can you find an owner for this once you are back from break?

[2021-02-11 18:14] cwhitten commented on #5750
Hi @BeheraMadan. As explained on https://github.com/microsoft/BotFramework-Composer/issues/5739, PVA has limitations to the types of Bots can you use. Currently they do not support adding skills to your bot from Composer.

See https://powervirtualagents.microsoft.com/en-us/blog/power-virtual-agents-integration-with-bot-framework-composer-is-available-in-public-preview/ for more information.

[2021-02-11 18:14] #5750 closed

[2021-02-11 18:14] cwhitten commented on #1092
This is happening as part of the core runtime/packages work. Closing.

[2021-02-11 18:14] #1092 closed

[2021-02-11 18:15] cwhitten commented on #1719
Closing as stale. Will work with triad on updated requirements.

[2021-02-11 18:15] #1719 closed

[2021-02-11 18:15] cwhitten commented on #1721
Closing as stale. Will work with triad on updated requirements and priorities.

[2021-02-11 18:15] #1721 closed

[2021-02-11 18:16] cwhitten commented on #1722
This is coming in as part of the updated LG authoring in R12/R13. Closing

[2021-02-11 18:16] #1722 closed

[2021-02-11 18:17] cwhitten commented on #1723
Closing as stale. Will work with triad on updated requirements and priorities.

[2021-02-11 18:17] #1723 closed

[2021-02-11 18:17] cwhitten commented on #1727
Closing as stale. Will work with triad on updated requirements and priorities.

[2021-02-11 18:17] #1727 closed

[2021-02-11 18:18] cwhitten commented on #1730
This has shipped with form dialogs

[2021-02-11 18:18] #1730 closed

[2021-02-11 18:18] cwhitten commented on #2516
Closing as stale and missing requirements. Labeling investments will be tracked in separate tickets.

[2021-02-11 18:18] #2516 closed

[2021-02-11 18:22] cwhitten commented on #5663
Hello @tiagonmas - I've forwarded this issue to the QnA Maker team for additional troubleshooting.

[2021-02-11 18:25] Virtual-Josh commented on #5755
@anusharavindrar Can you confirm this issue is resolved?

[2021-02-11 18:29] srinaath commented on #5756
@lauren-mills  This is because of the bf-lu upgrade we made in the last nightly. To temporarily unblock you can shift to an earlier nightly. The issue is related to 

#5763

[2021-02-11 18:32] cwhitten commented on #1422
This is done! Closing

[2021-02-11 18:32] #1422 closed

[2021-02-11 18:33] cwhitten commented on #1100
This is coming in with R12

[2021-02-11 18:33] #1100 closed

[2021-02-11 18:39] JonathanFingold opened #5764 "Add a "Reveal in File Explorer" option to the Recent Bots list on the home page"
If I want to delete a bot or change a resource outside of Composer, being able to quickly open the associated folder would be useful.

See also: #5526.

[2021-02-11 18:43] cwhitten commented on #5751
Hi @Uggi -- thanks for the bug report. We'll address this in an upcoming release.

[2021-02-11 18:50] cwhitten commented on #4404
Adding/assigning @garypretty for updates on this. I believe it is tentatively on our CY '21 roadmap, and we do have the scenario working end to end.

[2021-02-11 18:52] cwhitten commented on #1388
@Jeffders the SDK discussion was closed and is a requirement for this -- can you recreate the ask on `botbuilder-dotnet` ?

Closing for now.

[2021-02-11 18:52] #1388 closed

[2021-02-11 18:53] tonyanziano commented on #5728
@abharath27 This appears to be a bug with how the bot folder structure is organized when using a different locale than the default one -- such as French. Composer is expecting the root LU file to be in a different location than it actually is.

We will have someone take a look at this and fix it.

[2021-02-11 19:03] JonathanFingold opened #5765 "Deleted Composer bots still show up in the Recent Bots list and generate an ugly error popup when clicked on"
## Describe the bug

After deleting an obsolete Composer bot:
1. It still shows up in the Recent Bots list, even after restarting Composer.
2. When clicked on, it generates an ugly error popup, and then still remains in the Recent Bots list.

## Version

Version:  1.3.1-nightly.212748.7557616
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electro

[2021-02-11 19:13] mareekuh commented on #2516
Very stake indeed

[2021-02-11 19:18] JonathanFingold commented on #5765
This seems to have been a transient issue, as now the deleted bots are getting removed from the Recent Bots list. Not sure if the original behavior I was seeing is reproducible.

[2021-02-11 19:38] JonathanFingold opened #5766 "Be able to resize text in the Language Generation editor or choose font"
In the properties pane on my machine the default font for the **Language Generation** editor appears to be using a 16 or 18 point font, which makes it hard to use.

When trying to find a way to zoom out or change the font, I got a very confusing context menu, which is perhaps a bug:

![image](https://user-images.githubusercontent.com/35047199/107689131-52b0aa00-6c5d-11eb-8ff5-602e1caad82f.png)

[2021-02-11 19:49] KarlXOL opened #5767 "bot with qna overwrite knowledge base in qnamaker"
I'm not sure wether this is a bug, wrong application or a conceptual misunderstanding of how bot with qna and qnamaker work.

What I'm doing
1. Create a bot with bot composer
2. add a qna-knowledgebase with some q&a pairs
3. publish bot
4. then I updated this knowledge base  in the https://www.qnamaker.ai
5. publish bot again
==> then all knowledge base changes I did in the qnamaker are gone

Is t

[2021-02-11 19:53] #5720 closed

[2021-02-11 19:56] iMicknl commented on #5767
Related to https://github.com/microsoft/BotFramework-Composer/issues/5373. I just stumbled upon the same issue during a proof of concept. In simple bot scenario's it makes a lot of sense to have a business user manage QnAMaker where developers can handle more complex flows via Composer + LUIS.

[2021-02-11 21:36] JonathanFingold commented on #5766
After being annoyed by this for a bit, I finally figured out how to use the context menu.
1. Select the **Command Palette**, which brings up an equally confusing menu:
    ![image](https://user-images.githubusercontent.com/35047199/107701331-9f03e600-6c6d-11eb-8dc9-7e1342029039.png)
2. Then search on "zoom", as scrolling through this menu displays an overwhelming number of options, and select **Ed

[2021-02-11 22:02] JonathanFingold opened #5770 "Add an "Expand/Collapse" button to the properties pane"
Add a left/right double-chevron to the properties pane to let you toggle between a normal and expanded mode.

**Issue**:
- When editing longer expressions, you can't see the whole expression.

**Options**:
- Add a left-right expand-collapse button that allows you to easily toggle between an expanded view and a normal view
  ![suggestion](https://user-images.githubusercontent.com/35047199/107704120

[2021-02-11 22:23] cwhitten commented on #1767
This has shipped! In preview at least.

[2021-02-11 22:23] #1767 closed

[2021-02-11 22:24] cwhitten commented on #1769
I don't believe this is in scope any longer. Will close and add a new tracking item when appropriate.

[2021-02-11 22:24] #1769 closed

[2021-02-11 22:25] cwhitten commented on #1947
This will ship with the updated diagnostics panel (and we've added a Bell icon)

[2021-02-11 22:25] #1947 closed

[2021-02-11 22:26] cwhitten commented on #1948
@mareekuh are you wanting to keep this open and assign a designer? I'd like to drive this to closure one way or another.

[2021-02-11 22:27] #2185 closed

[2021-02-11 22:28] cwhitten commented on #2192
@a-b-r-o-w-n do we still need to do this?

[2021-02-11 22:28] #2181 closed

[2021-02-11 22:30] cwhitten commented on #2132
@sangwoohaan is this now stale. Please close if so.

[2021-02-11 22:30] #2241 closed

[2021-02-11 22:31] #2253 closed

[2021-02-11 22:33] cwhitten commented on #1436
This has been done (a few times since this ticket was created)

[2021-02-11 22:33] #1436 closed

[2021-02-11 22:35] cwhitten commented on #2511
This is tracked via another ticket and shipping in R13

[2021-02-11 22:35] #2511 closed

[2021-02-11 22:35] #2515 closed

[2021-02-11 22:36] #2517 closed

[2021-02-11 22:36] #2528 closed

[2021-02-11 22:37] cwhitten commented on #3393
This has shipped. Closing.

[2021-02-11 22:37] #3393 closed

[2021-02-11 22:38] #2668 closed

[2021-02-11 22:38] cwhitten commented on #2852
@carlosscastro closing as we changed direction a bit

[2021-02-11 22:38] #2852 closed

[2021-02-11 22:40] #3022 closed

[2021-02-11 22:41] #3355 closed

[2021-02-11 22:42] #3387 closed

[2021-02-11 22:44] cwhitten commented on #3376
This is fixed, closing.

[2021-02-11 22:44] #3376 closed

[2021-02-11 22:46] cwhitten commented on #3473
Closing as "by design"

[2021-02-11 22:46] #3473 closed

[2021-02-11 22:47] #3507 closed

[2021-02-11 22:49] #3568 closed

[2021-02-11 22:49] #3569 closed

[2021-02-11 22:51] cwhitten commented on #3638
Design has been provided and we're building it out. Closing as complete (the design part)

[2021-02-11 22:51] #3638 closed

[2021-02-11 22:51] #3570 closed

[2021-02-11 22:51] #3614 closed

[2021-02-11 22:52] #3653 closed

[2021-02-11 22:53] cwhitten commented on #3794
@mareekuh @sangwoohaan is this ticket still necessary? Please close if not

[2021-02-11 22:53] #3794 closed

[2021-02-11 22:55] cwhitten commented on #2505
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/3795

[2021-02-11 22:55] #2505 closed

[2021-02-11 22:56] a-b-r-o-w-n commented on #2192
I haven't noticed anything recently.

[2021-02-11 22:56] #2192 closed

[2021-02-11 22:57] cwhitten commented on #3107
Closing as stale

[2021-02-11 22:57] #3107 closed

[2021-02-11 22:57] cwhitten commented on #3204
.botproj is such a file. Closing

[2021-02-11 22:57] #3204 closed

[2021-02-11 22:59] cwhitten commented on #3290
We'll continue to add updated copy to schema definitions and track them through other work items

[2021-02-11 22:59] #3290 closed

[2021-02-11 23:07] cwhitten commented on #3909
This has now been implemented. Closing

[2021-02-11 23:07] #3909 closed

[2021-02-11 23:08] cwhitten commented on #3936
Yes! Closing.

[2021-02-11 23:08] #3936 closed

[2021-02-11 23:09] #3922 closed

[2021-02-11 23:11] #3966 closed

[2021-02-11 23:13] #4042 closed

[2021-02-11 23:13] #4123 closed

[2021-02-11 23:17] #4160 closed

[2021-02-11 23:17] #4216 closed

[2021-02-11 23:18] cwhitten commented on #4324
Closing. No plans to do this.

[2021-02-11 23:18] #4329 closed

[2021-02-11 23:20] #5603 closed

[2021-02-11 23:20] benbrown commented on #5603
done!

[2021-02-11 23:20] #4244 closed

[2021-02-11 23:22] benbrown commented on #5320
Work is being tracked under a different issue #5632

[2021-02-11 23:22] #5320 closed

[2021-02-11 23:25] cwhitten commented on #4414
@guru98 our recommendation is to use Custom Action to encapsulate your business logic. No roadmap at the moment to support CodeAction.

[2021-02-11 23:25] #4414 closed

[2021-02-11 23:27] cwhitten commented on #4582
This should be fixed with latest version of the bf-cli and merged schema. Closing. Please let us know if this is still not working for you.

[2021-02-11 23:27] #4582 closed

[2021-02-11 23:36] cwhitten commented on #4887
This was addressed before release. Closing.

[2021-02-11 23:36] #4887 closed

[2021-02-11 23:39] cwhitten commented on #5225
This is fixed in the latest version of Composer (1.3.1)

[2021-02-11 23:39] #5225 closed

[2021-02-11 23:40] cwhitten commented on #5286
ping @scheyal

[2021-02-11 23:41] cwhitten commented on #5331
Adding to R13

[2021-02-11 23:43] cwhitten commented on #5356
This has been addressed in 1.3.1 due to a malformed language file received from our translation team.

[2021-02-11 23:43] #5356 closed

[2021-02-11 23:43] cwhitten commented on #5366
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/1741

[2021-02-11 23:43] #5366 closed

[2021-02-11 23:44] zxyanliu commented on #5456
I happen to see this issue when updating the existing [publish a bot](https://docs.microsoft.com/en-us/composer/how-to-publish-bot) article. The content is still WIP in [this PR](https://review.docs.microsoft.com/en-us/composer/how-to-publish-bot?branch=pr-en-us-375#import-existing-azure-resources).

Pasting the content here for your reference.

## Import existing Azure resources

This section cov

[2021-02-11 23:51] cwhitten commented on #5369
@goergenj take a look at a prototype we're working on: https://webchateditor.azurewebsites.net

[2021-02-11 23:52] ismendes commented on #5687
Just came here to share this extra piece of information:
This issue is related to one of the biggest complaints we've heard from many users in UX research performed for the Partner Bot. :)
All help is very appreciated, thanks!

[2021-02-12 00:11] anusharavindrar commented on #5755
@cxbuilders, thanks for reporting this. Let me attempt a repro on my end to see if the issue got resolved.

[2021-02-12 00:28] nickthewitcher opened #5773 "Problem using the deploy script in already provisioned environments"
https://github.com/microsoft/BotFramework-Composer/blob/ea04f990e0b675b8ce35f315d5a6c1d6264ae525/runtime/dotnet/azurewebapp/Scripts/deploy.ps1#L316

I have an issue using the deploy script located in .\MyBot\runtime\azurewebapp\Scripts\deploy.ps1.
I have a production environment and i have already provision all my resources so i just need to pass the parameters to this script to work, but the prob

[2021-02-12 00:58] zxyanliu commented on #5773
Hi, this is a known issue under investigation and we already started revising the existing readme files regarding both the provision and the deploy scripts. Will get back to you as soon as we get some updates on this. Thanks!

[2021-02-12 04:04] mareekuh commented on #4324
Oh I thought this was on the list?

[2021-02-12 04:12] #2132 closed

[2021-02-12 04:19] mareekuh commented on #1948
Yes this does need to get fixed. Both the representation in the canvas as well as the right-side pane, for 2 important reasons
- reduce friction when coming from PVA and creating prompts in BF (with this funky presentation, we're unnecessarily different from PVA in a way that is difficult to follow as there is no clear mapping between the 2 apps for this action
- the order in which the user is sup

[2021-02-12 04:32] cwhitten commented on #4324
I know it's not on the GA list. Perhaps a backlog item. I'll leave it open until we can discuss.

[2021-02-12 09:49] pchoudhari commented on #5663
@tiagonmas , as the error says, can you confirm that another search service with the same name doesn't exist? Can you change the name of the azure search and try again?

[2021-02-12 10:35] UmaPrelude commented on #5759
When i create new project in latest desktop version, this works as expected with the above syntax. But when i open the project which i developed in old version, this does not work.
Do i have to add/update any packages.

[2021-02-12 11:42] tiagonmas commented on #5663
This is a deployment to a new resurce group that is created by Composer. Everything is new. QNA is the only one that fails ... and tried multiple times, with multiple names. I guess the issue might not be with QNA but the actual deployment script that the composer is running.

[2021-02-12 12:29] garypretty opened #7223 "ChoiceInput: Move Array of Choices property to the top of the User Input tab"
We have data suggesting that users are experiencing friction when using the ChoiceInput prompt.  One of the things we suspect is causing this is having the Array of Choices property so far down the list of propertes.

Please move the Array of Choices property to the top of the User Input tap, right about the 'Property' property box.

![image](https://user-images.githubusercontent.com/3900649/10776

[2021-02-12 14:40] ttur opened #5777 "Unable to switch bot language in Composer 1.3.1"
With Composer 1.3.1 that has three languages (English, Swedish, Finnish) we are unable to switch the language we are using to edit. Clicking the language selection button at the top of the window flashes the selection and immediately closes.

![image](https://user-images.githubusercontent.com/996293/107781569-b1a31b80-6d50-11eb-9f68-7b8ebb4f7db6.png)

A quick test with a new bot with two languages

[2021-02-12 14:43] ttur commented on #5441
This works the same in 1.3.1 (or works a bit worse, because with 1.3.1 we cannot change the language without changing the default language). Separate issue submitted for that.

[2021-02-12 15:21] ttur commented on #5777
https://user-images.githubusercontent.com/996293/107786614-c84c7100-6d56-11eb-8922-54597e2175b0.mp4

Here's a vid of this occurring with a fresh bot

[2021-02-12 15:23] ttur commented on #5777
If there's only en-us as language the menu opens (of course, not very useful then...)

[2021-02-12 17:41] mewa1024 commented on #5565
(@srinaath The link to the figma file above was defaulting to the wrong part of the file. I just updated the link to point to specifically to the part of the file with the details for 1.4. Hope that's okay.)

[2021-02-12 17:59] cwhitten commented on #5777
@ttur if you author different languages for your bot, you will see them as selectable options in this list. See the following doc for explanation on how to do this: https://docs.microsoft.com/en-us/composer/how-to-use-multiple-language

Closing as a how-to

[2021-02-12 17:59] #5777 closed

[2021-02-12 18:00] clearab opened #5779 "Post package/template install should display readme"
If a package or a template contains a readme file, we should display that to the user after they've installed the package, or created their bot using that template.

**User stories**
- As a developer, when I consume a package, or create my bot from a template, I need to know if there are any additional configuration steps required after adding it.
- As a package creator, I need to be able to provi

[2021-02-12 18:29] ttur commented on #5777
Thank you for the response.

Our bot is a year old already and we have been using the Composer since the beginning, from early beta. We have had the multi-language support since June. Our bot does not work now, on 1.3.1, at all. I studied the documentation linked, but it did not help, at all.

I will try to create a new bot with this composer to see if I get multiple languages working and figure o

[2021-02-12 18:31] ttur commented on #5777
You might also want to take a look at this issue which was verified earlier: https://github.com/microsoft/BotFramework-Composer/issues/5441

[2021-02-12 18:43] cwhitten commented on #5777
@ttur there have been no known breaking changes around multi-language authoring. Are you able to send us the solution to look at and troubleshoot?

The issue you linked has not been addressed in 1.3.1, however if you subscribe to the early adopters feed you would see the change. Perhaps try this as well. Note: this commit in particular has introduced some unwanted side-effects and we may revert an

[2021-02-12 18:56] Virtual-Josh commented on #5767
Hey @jwiley84 do you want to attempt a repo and see if this belongs more on the product side or the support side?

[2021-02-12 19:00] JonathanFingold opened #5781 "Display the dialog's description in the Composer UI."
When you create a new dialog, Composer asks for a description. However, this description is not surfaced anywhere obvious in the Composer UI.

## Issue

To see the description, you have to select the dialog, and then use **Show code** to see the `description` field as it appears in the declarative dialog definition.

## Request

Surface the dialog description in any or all of the following ways:
-

[2021-02-12 19:31] JonathanFingold opened #5782 "Add issue/warning indicators in the Diagnostics view"
When working with multiple bots in the same project, it would be helpful to know which bots have issues.

## Issue

When you click the warning icon, Composer displays the Diagnostics view, but doesn't indicate which of your projects is generating the warnings.

![screenshot](https://user-images.githubusercontent.com/35047199/107812279-4f342600-6d24-11eb-8905-2cea82c2f191.png)

## Suggestion

Any o

[2021-02-12 19:43] JonathanFingold commented on #5782
The project pane does show a warning sign next to [presumably] any bot that has warnings, but that icon is not clickable.

Perhaps, make that one clickable too, and have it open the diagnostics view and auto-select the dialog the clickec icon was next to.

![image](https://user-images.githubusercontent.com/35047199/107814903-7a6c4480-6d27-11eb-8ae5-d512b8ccb91e.png)

[2021-02-12 20:29] ryan-daly-AgFCS commented on #5467
Just want to note for the record that this issue is resolved on my end with version 1.3.1 that was just published a few days ago.

[2021-02-12 20:45] pavolum opened #5783 "Send more detailed error If any step in creation fails"
If any step in creation fails (build, dialog merge, etc) then the current flow sends back a general 'server sent 500 response' error.

Change the logic so a more detailed error response is sent back to the user.

[2021-02-12 21:06] pedro-ramirez-suarez opened #5784 "Authentication error when deploy"
## Describe the bug

Since yesterday I can't deploy my bots, I have tried on different machines and OSs, I  can login into the azure portal and manage all the resources but when I try to deploy I get the error below(screenshots section):

## Version
1.3.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [x] Windows
- [ ] Ubuntu

## T

[2021-02-12 21:33] benbrown opened #5785 "The runtime settings section of the settings page is incorrectly tied to the root bot"
## Describe the bug

When editing or viewing the runtime settings, only the root bot's settings are ever displayed, regardless of what bot is selected on the sidebar.

## Version

Current main

## To Reproduce

1. open a multibot project
2. navigate to settings
3. switch to the child bot
4. change runtime settings
5. change back to root bot, note that the settings were actually changed there and n

[2021-02-12 21:36] benbrown opened #5786 "Composer translates relative paths in runtime settings to absolute paths"
## Describe the bug

Composer incorrectly changes relative paths to absolute paths. This defeats the purpose of allowing relative paths since if a project folder moves, the path breaks.

## Version

Current main

## To Reproduce

1. navigate to settings
2. change the runtime path to "../"
3. reload the page. the path will be replaced with an absolute path

## Expected behavior

The relative path s

[2021-02-12 21:51] JonathanFingold opened #5787 "Bot Responses view is failing to recognize one of my dialogs"
## Describe the bug

I can't view the language generation templates for one of my dialogs.

## Version

                Bot Framework Composer

                Version:  1.3.1-nightly.212748.7557616
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [

[2021-02-12 22:11] anusharavindrar commented on #5759
@UmaPrelude, to clarify further:

- The intent recognizer level condition works for the latest v1.3.1 desktop version when you create a new project? Can you attach a screenshot of the same?
- When you open the project developed in the older version(v1.1.1) in the latest composer desktop version(v1.3.1), then it throws an object reference error for the intent recognizer level condition? The very fi

[2021-02-12 22:49] zxyanliu commented on #5782
@JonathanFingold the error is associated with the WeatherSkill, meaning that you should choose WeatherSkill to see the error message. Hope it's helpfu.

[2021-02-12 22:50] zxyanliu commented on #5782
![image](https://user-images.githubusercontent.com/32497439/107830889-9d0b5700-6d41-11eb-86a9-289a32898e56.png)

[2021-02-12 23:21] pavolum opened #5789 "Hide home page 'examples' section if new creation flag is turned on"

[2021-02-13 18:43] MIkey007007 commented on #5393
Any new update?

[2021-02-14 08:22] hatpick commented on #5701
Insert template (same for variables and built in functions) will insert the text for the selected item at the current cursor position of the monaco editor. From your steps to repro, it seems like you did not select any specific position by clicking, so it will insert the selected item at the default position (which is first line, first character)

[2021-02-14 08:23] hatpick commented on #5349
@xiyangdesign there has been a couple of updates to the generate library ever since you reported this, is it still happening?

[2021-02-14 18:42] cxbuilders commented on #5719
@cwhitten No just the storage for transcript. Using the retention policies in Blob Storage. Thought to put it out there as a feauture request to be part of the pipeline. Will build it myself now in our current pipeline.

[2021-02-14 18:46] cxbuilders commented on #5174
Can there not be a toggle switch that allows you to decide that Composer stores LG content entered in the flow editor directly in the dialog itself and not in the LG file with a reference to it in the dialog file? That would then at least allow people to choose their behavior if that is a concern?

[2021-02-15 01:40] arturl commented on #5454
Found a solution: in ` %userprofile%\AppData\Roaming\BotFrameworkComposer\data.json`, inspect the `storageConnections` section. Both `path` and `defaultPath` must point to an exiting folder.
In my case, `path` pointed to a full pathname of a botproj file (maybe a bug in an older composer version). Deleting that line solved the problem.
Hopefully this will help the next person who runs into this pr

[2021-02-15 03:24] dchumpitaz commented on #5743
I have this bug too with 1.3.1 version.
I have an Azure subscription using mi personal account (not corporate account) and when I trying to login into Azure, when I choose my personal subscription, the login page shows me "Something went wrong [2002]".

[2021-02-15 08:14] ysnoek2 commented on #5448
@dmvtech I tried it with leaving the endpoint key blank and it is still giving me "" is not a valid LUIS application id

[2021-02-15 10:47] bennimoser opened #5792 "Publishing Bot into diffrent Azure Directories"
Currently its not possible to choose from available AAD's. Would be good if that could be added to the composer

[2021-02-15 14:49] irwinwilliams opened #5793 "Loop support missing simple iterate-up-to ability"
## Describe the bug
I would like my user to specify how many of a given dataset they're providing me and then iterate until I've gotten that number.
It seems that the for ... each approach expects an array or similar data structure to be iterated over.

[2021-02-15 17:01] goergenj commented on #5369
@cwhitten Thanks. This looks good for the second priority. Is the idea to add this as a page within Composer with a publishing option? Or keep it stand-alone?

@joaollq

[2021-02-15 17:25] shwars commented on #2695
I am trying to use variable substitution in Bot Composer 1.3.1, and I cannot make substitution to work. I am trying to substitute an entity `country` extracted in the LUIS trigger. I tried the following:
* `http://my.rest.service/api/${@country}` - does not do substitution
* `=http://my.rest.service/api/${@country}` as suggested by @luhan2017 - gives an error "mismatched input ‘:’ expecting <EOF>"

[2021-02-15 17:46] cwhitten commented on #5369
We're a ways off before we can say what this will look like integrated into the product. This is not production ready nor will be supported in any capacity.

[2021-02-15 22:20] ic202 commented on #5393
I had the same problem.
I solved it by adding one new user to Azure Active Directory and giving him administrative access to my Subscription.
With this new user, I can install the application ( Composer 1.3.1) without any problems.

[2021-02-15 23:19] mn-invia opened #5794 "How to read SQL Database/Tablespace using Microsoft Bot Composer"
Hi There,

I am using the Microsoft Bot Framework composer to make an API call via HTTP to SQL Database/Table. Before that I want to try with a Mockapi resource. There is an open API on the other end. The HTTP call works fine in the Browser. But when I run the bot and the HTTP call is executed, I am getting an error as follows:

‘dailog’ does not match memory scopes:[turn,settings,dialog,dialogCon

[2021-02-16 00:14] Uggi commented on #5794
Hi mn-invia
are you aware that you have misspelt dialog ? "d**ai**log.api_response" -- it should be d**ia**log, not d**ai**log?
it could be a mistype but maybe it is that simple?! that would be nice.
it would certainly account for why the scope does match.

[2021-02-16 00:19] mn-invia commented on #5794
Hi Uggi,

It was a typo error in my issue-notes. The ‘dialog’ has been spelt correctly in the Composer. Thanks for pointing out…Hope I get some positive response to my query. Thanks once again.

Cheers

From: Uggi <notifications@github.com>
Sent: Tuesday, 16 February 2021 11:15 AM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Murali Nagaraj <Murali.Nagaraj@invi

[2021-02-16 03:05] MIkey007007 commented on #5393
Hello, any new update ??????

[2021-02-16 03:35] MoesLab commented on #5393
I have not tried anything recently.

[2021-02-16 05:06] srinaath commented on #5724
@tomlm Im not able to recreate this ticket. Essentially,

1.  I created an echo bot. It by default has a WelcomeUser template in the common.lg
2.  I created a new dialog and added a sendResponse action referring to the Welcome template
3.  I checked the lg file for both the root dialog and this new dialog. They both continue to refer to the welcome lg template from common and dont have a duplicate

[2021-02-16 07:31] amesquitaACD commented on #5728
Hi,
Still haven't found the solution? I also have this same problem.
Thanks.

[2021-02-16 12:00] UmaPrelude commented on #5759
![image](https://user-images.githubusercontent.com/65938026/108060040-5b99e500-707c-11eb-9f36-47ddbedfbfc4.png)

[2021-02-16 17:12] tonyanziano commented on #5728
Hi @amesquitaACD ,

Some folks on the team are out for Lunar New Year and will be back on the 18th to look into this issue.

[2021-02-16 17:15] carlosscastro commented on #5393
Update: We're still working on the ARM - MSA signin scenario. Some details: When you log in to the Azure Portal with your MSa account, the azure portal does a special sign in where there is a tenant @onmicrosoft.com behind your MSA user and that is the token that can be used to access ARM (and not the token acquired directly with the MSA account). Also, users may have multiple tenants for an MSA a

[2021-02-16 17:28] cwhitten commented on #5763
Confirming this was introduced with https://github.com/microsoft/BotFramework-Composer/pull/5654/files#diff-162b91f4bfa5ad1bb490a2801ddf6501ef4cf3670788845862ec2c2c8a1b8e4fR29

[2021-02-16 17:29] #5765 closed

[2021-02-16 17:33] cwhitten commented on #5767
hello @KarlXOL. This is indeed by design. The data stored locally in the .qna files are the source of truth when using Composer. There is a feature request to provide service syncing with the QnAMaker portal, which is here: https://github.com/microsoft/BotFramework-Composer/issues/5373

Closing as a feature request/dupe

[2021-02-16 17:33] #5767 closed

[2021-02-16 17:36] cwhitten commented on #5784
@pedro-ramirez-suarez the context looks related:

Can you make sure you have your account and subscriptions properly set up?

[2021-02-16 17:45] cwhitten commented on #5793
@irwinwilliams you can achieve what you are looking for by:

1. modifying the structure or create a new one into a format you intend to iterate through fully.
2. adding a counter property and incrementing as you look until you meet your business needs
3. create a custom action to model the exact behavior you are looking for.

closing as a how-to, where we ask users to discuss on Stack Overflow.

[2021-02-16 17:45] #5793 closed

[2021-02-16 18:05] stevkan commented on #5627
Closing due to lack of activity.

[2021-02-16 18:05] #5627 closed

[2021-02-16 18:15] pedro-ramirez-suarez commented on #5784
Hi @cwhitten,

I can login into Azure without any issues and even manage all the bots that I already deployed, I can see my subscriptions, the only thing that I can't do is deploy from composer. Do you have any idea of what settings could be wrong that prevents me to deploy?

[2021-02-16 18:34] pavolum opened #5797 "QnA Maker template in new creation flow"
**Friendly Name**
QnA Maker

**Description**
A template for creating a bot that connects to a QnA Maker knowledge base.

**Purpose**

A basic bot for folks that want to connect to an existing KB, or create a new one.

**Functionality**

- [x] QNA template appears as an option in template selector
  - [x]  ReadMe is manually added since that QNA template is not pulled from npm
- [x] Creates an empt

[2021-02-16 18:37] xiyangdesign commented on #5349
@hatpick Currently I have issue opening Composer (electron, nightly build; stuck at the loading screen). With the 1.3.1 version, I can open Composer, but failed to generate dialogs (a known issue). So I wasn't able to test this issue (reported here) for now. Would it be ok if I test this again when I'm able to do this?

[2021-02-16 18:37] dmvtech commented on #5784
Hi @pedro-ramirez-suarez Let me check some things and get back to you.

[2021-02-16 18:41] dmvtech commented on #5794
Hi @mn-invia It's not quite clear to me; is your issue resolved?

Or are there two aspects?:
1) how-to query SQL
2) getting the error (due to typo)

[2021-02-16 18:42] pavolum commented on #5506
Closing because of duplicate #5797

[2021-02-16 18:42] #5506 closed

[2021-02-16 19:17] irwinwilliams commented on #5793
Thanks @cwhitten, will try S/O if I can't figure out the challenge based on the guidance above.

[2021-02-16 19:23] dmvtech commented on #5677
Closing due to inactivity.

[2021-02-16 19:23] #5677 closed

[2021-02-16 19:24] dmvtech commented on #5592
Closing due to inactivity. If you have more information or still need assistance, please let us know.

[2021-02-16 19:24] #5592 closed

[2021-02-16 19:40] dmvtech commented on #5644
Hi @thakursarvesh Sorry for the delay.

Is this perhaps due to state storage that has been already set and is not being triggered again because it is configured to do so? For example, if you are storing something like `user.favoritecolor` and that property has been filled for that user, and you have logic to prompt for that property, and the prompt is set for `always prompt` to `false`, then you w

[2021-02-16 22:10] v-kydela commented on #5671
Sorry for the delay, @Dan-Bai

When you click the button to create a [new issue](https://github.com/microsoft/BotFramework-Composer/issues/new/choose) in this repo, you should be given a choice like this:

![image](https://user-images.githubusercontent.com/41968495/108127379-06e87100-7060-11eb-8f14-8089055b65df.png)

If you choose "bug," you'll be given an [issue template](https://github.com/micro

[2021-02-16 23:28] mn-invia commented on #5794
Hey Dana,

Thanks for touch base. Let me provide you more clarity….

  *   The TYPO error was in the ‘Question’ that I posed to the forum and there was not TYPO error in the Composer as such.
  *   I would really get more understanding as to how do I make a call to a Microsoft SQL Database/Table. I want to use the HTTP feature and make a call (Of course, there will be an open API on the Database/T

[2021-02-17 00:01] anusharavindrar commented on #5755
@cxbuilders, can you attach a screenshot of the POST request? Also, what version of the composer are you on?

[2021-02-17 00:13] Uggi opened #5800 "Please provide the equivalent of visual studios "Navigate forward/back" (and/or multi-tab support)"
## Navigation in the bot composer desktop app is a frustrating experience.

Navigation in the Bot Composer Desktop App is painful when you have a lot of dialogs & lg files..

The moment you move away from a page, regardless of type (dialog/bot response/qna etc) you lose all context of where you have been. There isn't even a back button! You then have to hunt around in whichever area you came from

[2021-02-17 00:14] beyackle commented on #5785
Some notes as I continue working on this. The values are stored correctly in the settings; this page just doesn't change the text boxes over when the in-focus projectId changes, so if you focus then unfocus a box, those values will get propagated into the wrong bot.

[2021-02-17 00:31] beyackle commented on #5785
Okay, I figured it out. PR coming soon.

[2021-02-17 01:33] tomlm opened #5803 "Can't install package with custom runtime"
## Describe the bug

I am attempting to add a package and it gives me unactionable error.

## Version

![image](https://user-images.githubusercontent.com/17789481/108143735-24780380-707d-11eb-81fe-3d2c57096cf6.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behav

[2021-02-17 01:39] tomlm opened #5804 "Can't start custom project from composer"
## Describe the bug
Can't start a custom project from composer.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. ```dotnet new -i iciclecreek.bot.templates```
2. md foo
3. cd foo
4. ```dotnet new LucyBot```
5. Load **foo/foo** in composer
6. C

[2021-02-17 02:02] tomlm opened #5805 "Composer overwrites AND deletes files on project load, causing data loss"
[qlucene.zip](https://github.com/microsoft/BotFramework-Composer/files/5992726/qlucene.zip)
## Describe the bug
If composer discovers a .qna file it will blow away other files in the same folder.

## Version

![image](https://user-images.githubusercontent.com/17789481/108144193-065ed300-707e-11eb-84ea-694d447e5b7b.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefo

[2021-02-17 10:02] srudin opened #5806 "Pasting a configuration json is completely wiping out the UI !!!"
## Describe the bug

Open a bot
Navigate to Project Settings
Select a configuration and click the Advanced Settings View (json) toggle
Paste a json in the textarea
-> Complete composer UI turns white and needs to be restarted in order to work again

## Version

v1.3.1

## Browser

- [ ] Electron distribution
- [x ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x ] Windows
- [

[2021-02-17 10:13] goergenj opened #5807 "[MCS-DE] Publishing fails due to Azure Login error"
When I try to Publish a Bot, the Azure Login fails. My account has access to multiple tenantes and subscriptions.

Ideally the settings in the publishing profile should contain settings for tenantID and subscriptionID to be passed with the login to ensure the approriate subscription is accessed.

![image](https://user-images.githubusercontent.com/31212469/108189470-11af0e80-7111-11eb-99c4-8b0bb502

[2021-02-17 10:23] srudin commented on #5806
This happens with a project created with a previous version of composer. No profile has been created (as this was not possible before). After creating a new profile it is possible to edit and copy/paste the json into the profile.

[2021-02-17 13:26] ShrijithR commented on #4812
@Guruji752
This is what I get after installing npm latest version for Windows.
Start bot failed

Command failed: npm run build 'tsc' is not recognized as an internal or external command, operable program or batch file. npm ERR! code 1 npm ERR! path D:\Python\ThinkBridge\Empty\EchoBot-0\runtime npm ERR! command failed npm ERR! command C:\WINDOWS\system32\cmd.exe /d /s /c tsc npm ERR! A complete log

[2021-02-17 13:33] Dan-Bai opened #5808 "Node runtime unable to send trace and customEvent to application insights"
## Describe the bug

Logs not sent to application insight after providing instrumentation key

## Version

Version: 1.3.0
NodeJS: 12.13.0

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Create new bot composer project
Add 'Emit a telemetry track event'
Add instrumentation key in advanced settings view
Use custom runtime with location 'runtime' and start command 'node ./lib/webapp.

[2021-02-17 13:34] Dan-Bai commented on #5671
Here is the issue I opened #5808

[2021-02-17 16:03] goergenj opened #5809 "[MCS-DE-GO] JSON object with non-string parameters"
Currently we are facing the issue that we cannot find the right syntax in a JSON object within the https-Action to send numbers and booleans to an external API.

The only working syntax Composer allows in JSON in https-request body object is:
 {
     "question": "${conversation.string",
     "scoreThreshold": "${conversation.number}",
     "context": {
         "previousUserQuery": "${conversation

[2021-02-17 16:52] zxyanliu commented on #5613
FYI. I tried using an Azure Gov account to login to Azure Gov from Composer and failed.
@tonyanziano do we support in-app login to Azure Gov from Composer?

[2021-02-17 16:57] RonnieYak opened #5811 "Custom Runtime Returning “” is not a valid LUIS subscription key."
## Describe the bug

I am trying to test LUIS with a bot, however the bot returns the message `“” is not a valid LUIS subscription key.` when it is launched using a custom C# runtime. When I run it using Composer, works normally. I want to note that I haven't actually made any changes to the runtime code, I'm simply running it as it was exported. I'm not able to figure out why this is happening, s

[2021-02-17 16:59] cwhitten commented on #5668
Hi @AlbertJDurango. This is a known issue that we will be addressing in am upcoming release. The tracking issue is here: https://github.com/microsoft/BotFramework-Composer/issues/5728

Closing this as a dupe.

[2021-02-17 16:59] #5668 closed

[2021-02-17 17:06] cwhitten commented on #5800
Adding to backlog for prioritization - thank you for the feature request

[2021-02-17 19:09] compulim commented on #5658
@luhan2017 Ping.

[2021-02-17 19:17] compulim commented on #5430
@cwhitten @luhan2017 Since we copied/transferred the issue to `botframework-core`, should we close this one or keep this one open as tracking?

[2021-02-17 19:20] compulim commented on #5345
@cwhitten do you think there are more to do in this issue or prefer to close it? Quoting from @kallejar so you can quickly decide:

[2021-02-17 19:22] compulim commented on #5344
@luhan2017 I am DRI this week.

Is this a bug on the error message we put in Composer? Or is this a confusion while we are discussing about this issue?

[2021-02-17 19:23] compulim commented on #5175
@tonyanziano can you bring it to the planning of R13?

[2021-02-17 20:02] darrenj opened #5814 "Composer doesn't "remember" Azure sign-in context across sessions"
## Describe the bug

At this time Composer only prompts for Sign-in to Azure during the publishing profile work but we expect this to be surfaced in other places moving forward. When you have signed into Composer it doesn't "remember" this across sessions, meaning you have to sign-in again which is different behaviour to Emulator and other similar apps that remember your signed in status across se

[2021-02-17 20:03] pavolum commented on #5433
@chrisshaw I believe your hypothesis is correct. I remember having similar issue due to blank content in the qna file but we released a new version of the template package that should have resolved this. As far as the dir already exists that seems to be a symptom of the erroneous creation flow leaving files in your dir even though  it did not successfully create. Trying a different bot name in cre

[2021-02-17 20:23] mramirezsal commented on #5697
im having the same problem, but with v1.3.1
only works with 1.3.1-nightly.212216.8cde5d7
could be the same issue?

[2021-02-17 21:54] kalebk commented on #4816
I am having the same issue.. was thinking "replace this dialog" should end the current dialog and start a new one which is specified. Is that not correct?

[2021-02-17 22:03] scheyal opened #6431 "Utterance is not passed to skill if disambiguation kicks in at parent"
Filed for tracking (along with conversation)

Before I file it, I want to make sure I got it right.

Scenario:
•	Root bot with Orchestrator
•	Child bot with LUIS
•	Routing works correctly.
•	Without disambiguation child get’s utterance (turn.text?) and is able to trigger on it.
•	Issue: With disambiguation: I suspect that utterance is not passed to skill, so skill cannot trigger on recognition.

F

[2021-02-17 22:20] anusharavindrar commented on #5735
Closing the issue. Please feel free to re-open if issue persists.

[2021-02-17 22:20] #5735 closed

[2021-02-17 23:32] mn-invia opened #5817 "Unable to find a QnA Maker service with Knowledge Base ID XXXXXXX-XXXX-XXXX-XXXXX. Please add a QnA Maker service to your bot."
Hi There,

I need some urgent Help. I have created a Bot using Microsoft Bot Framework COMPOSER. I have added the QnA as well. I have the Subscription for QnA and the Keys as well. I have added all the required keys to the COMPOSER in the BOT Settings. When I run the Bot, I get the above error in the Emulator. However when I test the KB in QnA Portal, It works fine.

**THE BOT HAS NOT BEEN Publish

[2021-02-17 23:53] zxyanliu commented on #5817
The following is the doc you should follow to add a QnA KB to your Composer bot:
https://docs.microsoft.com/en-us/composer/how-to-add-qna-to-bot

Specifically, you need to add the following values as described in the [edit settings](https://docs.microsoft.com/en-us/composer/how-to-add-qna-to-bot#edit-settings) section:

[code]

![image](https://user-images.githubusercontent.com/32497439/108283524-

[2021-02-17 23:58] dmvtech commented on #5794
Ah, gotcha. Thank you for clarifying.

That will depend on what the API and how you've written it. If needed, you can set an `Accept` header, in the call to the API.

But regardless of the type of content you decide to supply from your API, the actual content can be received from the `.content` property of the result. So, for example, if you've set the `Result Property` to be something like `dialo

[2021-02-18 01:07] boydc2014 commented on #5763
@zhixzhan  can you check this one? seems like when trying to aligning lg templates for multiple languages, we are over-copying lg templates here

[2021-02-18 01:26] mn-invia commented on #5817
Hey zxyanliu,

Many Many Thanks for that……It works BEAUTIFULLY Now !!!  Can’t say Thanks Enough, Very much appreciated.

Cheers,
Murali

From: zxyanliu <notifications@github.com>
Sent: Thursday, 18 February 2021 10:54 AM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Murali Nagaraj <Murali.Nagaraj@invia.com.au>; Author <author@noreply.github.com>
Subject: Re: [m

[2021-02-18 01:34] zxyanliu commented on #5817
Thanks for bringing this up. I guess I can close this issue for now as it is resolved.
Thanks for supporting our product, we appreciate it!

[2021-02-18 01:34] #5817 closed

[2021-02-18 01:51] tomlm opened #5819 "schema:#/definitions/condition is treated the same as schema:#/definitions/booleanExpression and they shouldn't"
## Describe the bug
**schema:#/definitions/condition** indicates that the default UX for the property should be the expression editor. NOTE: **It should NOT HAVE an equals.**

**schema:#/definitions/booleanExpression** indicates that the value could be a bool TRUE/FALSE or an expression which evaluates to that.

If you look in the schema you can see that **IfCondition** action the **condition** is

[2021-02-18 02:05] tomlm opened #5820 "BeginDialog.Dialog should allow you type in a arbitrary dialog.id."
## Describe the bug
BeginDialog does not let me begin a dialog by id, it only shows a list of adaptive dialogs.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected

[2021-02-18 02:20] #5564 closed

[2021-02-18 02:26] mn-invia commented on #5817
Hi zxyanliu,

Sorry to bother yet again…..I made some changes/additions to my KB in the QnA Portal. After that I did the ‘Train & Save’, then Published the same.

Now, when I re-start my BOT….I am getting the same previous error. I have checked the settings and they have not changed as such. Why is this happening?  I need you help urgently, as I need to fix this issue ASAP. You valuable inputs wil

[2021-02-18 02:45] tomlm opened #5821 "BeginDialog.Options is ignoring the schema definition for the value"
## Describe the bug

The UI treats the Value property as a string, and not an AnyExpression

**BeginDialog.Options** is meant to allow people to invoke an aribtrary dialog. It does this by having an Options property which is technically
    "name": valueExpression

Where value expression is any type or an expression which binds to that.

[code]

The UI treats the value part of the name/value pair

[2021-02-18 02:54] luhan2017 commented on #5658
@naicud sorry for the late response, you don't need to generate accessToken in composer 1.3.0, composer will pop up a login window for you to login if you want to deploy your bot.  Could you try the following steps to get more information here?

1. Open commnd line tool and Go to the composer exe folder, usually located here:
C:\Users{YourUserName}\AppData\Local\Programs\Bot Framework Composer
2.

[2021-02-18 03:20] zhixzhan commented on #5724
@cwhitten @srinaath Yes this is a bug introduced in #5654
without considering dialog may could directly use templates in imported lg files. Fixed in #5823

[2021-02-18 03:22] zhixzhan commented on #5763
@boydc2014 fixed by expanding search to all imported files, in #5823

[2021-02-18 03:39] luhan2017 commented on #5697
Yes, should be the same issue.  #5749, here is the PR to fix the issue, stay tuned.

[2021-02-18 03:46] #5570 closed

[2021-02-18 03:46] #5571 closed

[2021-02-18 03:46] #5675 closed

[2021-02-18 03:58] boydc2014 commented on #5805
@tomlm can you attach top level folder, i mean the foo/foo folder?

or do you have any instructions of how to setup "iciclecreek.bot.templates"

[2021-02-18 04:56] srinaath commented on #5756
[https://microsoft-my.sharepoint-df.com/:u:/p/srravich/Ec1MCSCAzP1DhuUHr1SdaGkBvNFRHwRtHgtyWNBqCO0TsQ?e=Bp2upM](https://microsoft-my.sharepoint-df.com/:u:/p/srravich/Ec1MCSCAzP1DhuUHr1SdaGkBvNFRHwRtHgtyWNBqCO0TsQ?e=Bp2upM)

@boydc2014 the bot with the repro

[2021-02-18 05:08] tonyanziano commented on #5728
Here is a .zip of the imported French bot from PVA

[french-bot.zip](https://github.com/microsoft/BotFramework-Composer/files/6000363/french-bot.zip)

[2021-02-18 06:02] zxyanliu commented on #5817
I just tested your scenario: publish a QnA kb, make changes in QnA portal, and then publish again. I was unable to reproduce your error. I saw the changes when restarting my bot in Composer and tested in Emulator.

Please make sure you save and train, and publish again after whatever changes you made in the QnA portal.
Sometimes, if things are not working, it might be an issue of QnA rather than C

[2021-02-18 08:05] boydc2014 commented on #5728
Hey, @tonyanziano, after investigation, the root cause is the settings field "defaultLanguage" after exported is wrong. Given a fr-fr bot (without en-us), the active language can't be en-us.

[2021-02-18 08:08] lei9444 commented on #5728
@tonyanziano @boydc2014 the bot setting is
![image](https://user-images.githubusercontent.com/39758135/108324952-83678500-7203-11eb-8b00-eea94be7334e.png)

[2021-02-18 09:03] feich-ms commented on #5756
It seems a bug of importing. I will take a look.

[2021-02-18 10:07] luhan2017 commented on #5786
@alanlong9278, could you please take a look at this issue since @VanyLaw is OOF this week.

[2021-02-18 14:19] kalebk commented on #4816
I was able to work around in my scenario by setting a variable `user.tryAgain` in the child dialog, then ending the child dialog and using the variable in the parent dialog to either start over or move on.

[2021-02-18 14:24] UmaPrelude opened #5826 "How to use translator service in bot composer"
Hi,
I want my bot to support multi language with qna maker, so while exploring I came to know we can use translator service to achieve this with out creating multiple knowledge bases.
So I wish to know how to use translator service from bot composer.
Please suggest the way to handle at the early, thanks so much.

[2021-02-18 15:01] #5724 closed

[2021-02-18 17:20] dmvtech commented on #5448
@ysnoek2 Can you confirm both the region and environment values are correct? It _**seems**_ as though this is a configuration only issue, we just have to try and narrow down where exactly that issue is.

[2021-02-18 17:31] darrenj opened #5827 "Composer should have an experience to create/select a LUIS authoring and prediction resource when needed."
## Is your feature request related to a problem? Please describe.

As a Composer developer, I author dialogs which in most cases use LUIS which is the default recognizer for Composer based projects. Once I start making use of the LUIS recognizer a warning is shown inside Composer highlighting there is a missing key.

![image](https://user-images.githubusercontent.com/33519520/108395975-3fc64880-72

[2021-02-18 17:34] cwhitten commented on #5804
@tomlm can you send me the settings file used in the project? Composer expects some fields to be shaped a certain way when using a custom runtime,

[2021-02-18 17:35] cwhitten commented on #5806
@srudin are you still having issues? This seems resolved.

[2021-02-18 17:39] cwhitten commented on #5809
@goergenj have you tried using expressions in your templates?

[2021-02-18 17:41] cwhitten commented on #5344
@luhan2017 can you please update this thread or drive it to closure? thank you

[2021-02-18 17:42] cwhitten commented on #5811
Hi @RonnieYak - can you please look at https://github.com/microsoft/BotFramework-Composer/issues/5344 to see if your LUIS prediction resources are appropriately set up and bound to your solution? Please follow that thread for any updates as well. Thank you

[2021-02-18 17:45] cwhitten commented on #5814
@darrenj let's follow-up on this offline. we see this as more of a feature request, and would have to think about the security aspects of serializing the access_token to a user's disk when they close the Composer application if Composer wasn't running in the background, even when not being used. Also, if unused, the access_token will expire after 1 hour.

[2021-02-18 17:48] cwhitten commented on #5819
@tomlm @GeoffCoxMSFT has some suggestions here for the SDK that will make this easier for Composer, and will follow-up

[2021-02-18 17:53] cwhitten commented on #5821
Adding @tdurnford to make the options field for BeginDialog schema aware to prefill the form

[2021-02-18 17:54] cwhitten commented on #5826
Hi @UmaPrelude -- this is not possible in Composer today. Adding @garypretty for additional discovery and prioritization

[2021-02-18 18:13] tonyanziano commented on #5728
Awesome, thanks for investigating @lei9444  and @boydc2014!

I did some digging, and here is what the `appsettings.json` file looks like during the import process when the .zip has just been downloaded from PVA:

[code]

and here is what it looks like after we've transformed it into a bot project and saved it within Composer:

[code]

So it is something that we are doing as a default I am assuming

[2021-02-18 18:15] a-b-r-o-w-n opened #5828 "Two C# options exist when ejecting runtime"
## Describe the bug

Two C# options exist when ejecting the runtime.

## Version

1.3.1-nightly.214892.a16c00c

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to settings page and toggle "Use custom runtime"
2. Click on "Get a new copy of the runtime

[2021-02-18 18:20] benbrown commented on #5803
@tomlm  did you create a runtime definition that tells Composer how to deal with your customized runtime?

[2021-02-18 20:42] RonnieYak commented on #5811
Hi @cwhitten, I've added the "hostname" and "luisResource" fields to my settings/appsettings.json file and it still doesn't work. I'm not sure if I added the right information, but I followed the example that luhan2017 gave in their screenshot.

 I also noticed that this fix addresses when you're trying to publish, however I haven't published my bot and I don't intend to for a while. I'm just tryi

[2021-02-18 20:50] #5565 closed

[2021-02-18 21:26] benbrown opened #5830 "Break main package manager component into some smaller sub-components"
The main component is getting large, and has a few separate distinct parts. Let's refactor this a bit.

[2021-02-18 22:14] tonyanziano commented on #5393
Update:

We have a scenario working in which a user can sign in with their MSA / personal account to interact with their Azure resources, using Composer's app credentials. However, we cannot get this working inside Electron -- what Composer is built with -- yet due to a limitation in the authentication library we are using.

This means that we finally have everything configured properly to support

[2021-02-18 22:52] MoesLab commented on #5393
I have updated the Framework and try again with a personal account, still the same issue. I can not Create new Azure resources in Configure resources dialog box. I am paying a monthly fee to Microsoft to be able to use Azure apps and functions as they promised and we getting spoon feed for the solution of major bugs. this is very frustrating it has been a long time since this bug was discovered. 

[2021-02-18 23:13] a-b-r-o-w-n opened #5832 "runtime location and start script does not populate when ejecting runtime"
## Describe the bug

A refresh is required in order to see the custom runtime location as well as the start script after ejecting the runtime.

## Version

1.3.1-nightly.214892.a16c00c

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to settings and to

[2021-02-18 23:27] cwhitten commented on #4728
Closing due to inactivity

[2021-02-18 23:27] #4728 closed

[2021-02-18 23:34] #5729 closed

[2021-02-18 23:34] #5730 closed

[2021-02-18 23:34] #5789 closed

[2021-02-18 23:50] v-kydela commented on #5808
@compulim - I can see that you assigned me to this. What would you like me to do?

[2021-02-18 23:51] v-kydela commented on #5671
@Dan-Bai - I will close this issue in favor of the new one

[2021-02-18 23:51] #5671 closed

[2021-02-19 00:34] dmvtech commented on #5709
I was able to reproduce this.

Interestingly, after getting the failure in Composer, I tried creating a simple `Web App Bot` in the portal, and got the following:
![image](https://user-images.githubusercontent.com/43397658/108436296-fec73780-71ff-11eb-84d8-3c82b90c8dc0.png)

I then created a basic Web App (not a bot) in the Azure portal. That was successful. Then I was able to finish/continue crea

[2021-02-19 01:31] hatpick opened #5833 "Node 14 warnings"
After updating the dev environment to use node v14.15.5 yarn build throws a long list of warnings related to shelljs dependency used by eslint version that format-message-cli is using.

(node:12043) Warning: Accessing non-existent property 'cat' of module exports inside circular dependency
    at emitCircularRequireWarning (internal/modules/cjs/loader.js:650:11)
    at Object.get (internal/modules

[2021-02-19 03:29] luhan2017 commented on #5811
@RonnieYak composer doesn't persist your keys to disk, so if you want to start your runtime outside of composer, you need to input your luis key in the settings/appsettings.json folder manually.

[2021-02-19 04:28] luhan2017 commented on #5807
@goergenj , this is a known issue in composer now. We don't support switch tenant in composer yet, we will prioritize on this.

[2021-02-19 06:38] feich-ms opened #5836 "Duplicated choices of C# show up when adding custom runtime"
## Describe the bug

Duplicated choices of C# runtime occurred when adding custom runtime

## Version

Main branch

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a bot
2. Use custom runtime

## Expected behavior

No duplicated C# choices

## Scre

[2021-02-19 06:55] fahadmajeedrana commented on #5393
Thanks for the update team. Downgraded to 1.2.1 now which is still publishing using access token. Looking forward to the fix.

Cheers.

[2021-02-19 08:31] VanyLaw commented on #5836
I found it's the change from https://github.com/microsoft/BotFramework-Composer/pull/5029/files#diff-86151e8730a0d14739196048967f7132728568334acb3f86319ef353c914ded2 this PR. but I see that's a different key, so I am not sure if it's an issue. @pavolum could you help to take a look?

[2021-02-19 08:33] VanyLaw commented on #5836
maybe we can give different names, like C#(normal) and C#(new).

[2021-02-19 08:45] feich-ms opened #5839 "Ejected js runtime throw exceptions when starting bot"
## Describe the bug
Node version: v14.15.5

Eject js runtime and start the bot will throw exceptions like below:

Start bot failed

{"stack":"Error: npm WARN npm npm does not support Node.js v14.15.5\nnpm WARN npm You should probably upgrade to a newer version of node as we\nnpm WARN npm can't make any promises that npm will work with this version.\nnpm WARN npm Supported releases of Node.js are t

[2021-02-19 09:44] garypretty commented on #4816
@EricDahlvang @mrivera-ms can we take a look at this issue, once we have our priority R12 items out of the door, please?

[2021-02-19 09:51] naicud commented on #5658
@luhan2017 I have followed the steps but the debugger isn't started, and i have got the same error:
Commands:
![image](https://user-images.githubusercontent.com/55764723/108487118-2e794c80-729f-11eb-8cde-c0aefc89c0c3.png)
Result:
![image](https://user-images.githubusercontent.com/55764723/108487193-46e96700-729f-11eb-85c0-b02a384a2fd6.png)
Error:
![image](https://user-images.githubusercontent.com/

[2021-02-19 10:34] luhan2017 commented on #5786
@benbrown,  Per Alan's PR, that logic is commented out. Maybe we don't need a runtime folder any longer because the runtime folder should exactly be the bot folder for the new adaptive runtime? @pavolum to comment on this.

[2021-02-19 10:42] #5732 closed

[2021-02-19 12:41] BeheraMadan commented on #5687
Do we have any update on above issue?

Thanks.....

[2021-02-19 13:41] feich-ms commented on #5756
The importing dup contents issue in comment https://github.com/microsoft/BotFramework-Composer/issues/5756#issuecomment-777048352 will be fixed from bf-cli here https://github.com/microsoft/botframework-cli/pull/1124

[2021-02-19 14:00] Dewain27 commented on #5459
I have tagged this as a feature request and will put into planning discussions and determine when we can address this issue.

[2021-02-19 14:04] Dewain27 commented on #5807
We will track this in #5459
@cwhitten do we need to continue to track this here or can we just track it under the #5459 issue?

[2021-02-19 14:49] cwhitten commented on #5807
We only need one. See #5459 for updates on this feature request. Thank you

[2021-02-19 14:49] #5807 closed

[2021-02-19 16:33] RonnieYak commented on #5811
Hi @luhan2017, I already have the LUIS key in settings/appsettings.json. I copy-pasted the JSON from Composer. Here's what it looks like. Note that I removed all keys and replaced then with "XXXXXX", but I have them when I'm running the code

[code]

I got the authoringKey from here:
![image](https://user-images.githubusercontent.com/37642183/108532513-ec9fd480-72a5-11eb-84f6-007debe49559.png)

[2021-02-19 16:38] benbrown commented on #5786
The runtime path will continue to be relevant for the new version of the runtime as well! We will need to keep it for the foreseeable future to enable customizations, and legacy support.

[2021-02-19 16:52] scheyal opened #5843 "Publish skill with QnA KB in parent fails"
## Describe the bug
I have a multibot with root and skill bot. Tried to publish just the skill for the first time, creating all Azure resources.
Only the parent has QnA KB; however the error seems to suggest resource creation conflict with QnA.

## Version
1.3.1

## To Reproduce

Steps to reproduce the behavior:
(see description above)

![image](https://user-images.githubusercontent.com/8867670/10

[2021-02-19 17:44] #5582 closed

[2021-02-19 17:44] #5583 closed

[2021-02-19 18:04] zxyanliu opened #5844 "Sometimes I cannot add a structured choice"
## Describe the bug

This issue happens sometimes.

## Version

https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.3.1

## Browser

- [x] Electron distribution

## OS

- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to **Action** menu-> **Ask a question** -> **Multi-choice**
2. Click on **User Input** in the **Properties** panel.
3. Scroll down to **Array of

[2021-02-19 18:10] garypretty commented on #5844
@cwhitten can we have someone look at this please?  This is one of the most used actions, so would be good to get to the bottom of this.

[2021-02-19 18:11] JonathanFingold commented on #5782
This is more a usability issue. If I have a bunch of skills and only one or two issues, I don't want to click through all bots and skills in this view until I find all the issues.

[2021-02-19 18:16] zxyanliu commented on #5782
There are also cases when you have a bunch of skills/bots and a couple of warnings/errors, which error should be navigated to then? I personally think the current design makes more sense, especially with multiple errors/issues scenarios. Maybe I should add more description on this in our existing [validation](https://docs.microsoft.com/en-us/composer/how-to-validate) article.

[2021-02-19 18:17] tonyanziano commented on #5175
@compulim Sure I will mention this to the team.

[2021-02-19 18:27] cwhitten commented on #5844
putting this on you initially, @tdurnford

[2021-02-19 18:43] tonyanziano commented on #5728
A work item has been created to reflect the change in PVA that needs to be made: https://msazure.visualstudio.com/CCI/_workitems/edit/9367333

[2021-02-19 19:11] JonathanFingold commented on #5782
This is what we have currently. I can't tell which bot or skill has issues.
![composer-issues-current](https://user-images.githubusercontent.com/35047199/108549980-c4fb3d00-72a2-11eb-8889-4e4720458068.png)

This is more of what I'd like to see. I can tell where to look for the issues without having to click through every bot or skill.
![composer-issues-proposed](https://user-images.githubuserconte

[2021-02-19 19:11] compulim commented on #5431
When planning for R13, please update this ticket.

[2021-02-19 19:13] compulim commented on #5423
Looks like this one is ready to get a fix, will exempt from DRI.

[2021-02-19 19:20] #5486 closed

[2021-02-19 19:20] #5485 closed

[2021-02-19 19:20] #5492 closed

[2021-02-19 19:20] #5536 closed

[2021-02-19 19:21] compulim commented on #4091
Looks like there is an ongoing effort to resolve this issue.

@luhan2017 please update this bug when R13 planning is done.

[2021-02-19 20:07] scheyal opened #5846 "Bot homepage lists the wrong port"
It is better to list no port than the wrong port.

See image:

![image](https://user-images.githubusercontent.com/8867670/108555879-f11abc00-72aa-11eb-8102-1035114de677.png)

[2021-02-19 20:21] scheyal opened #5847 "Skill is not re-connected by parent if stopped while parent is running (due to port recycling)"
Scenario:
* Parent connected to skill correctly
* skill is stopped and restarted, parent remains on.
* Parent cannot access skill
* Error:
[code]
Variation:
* I have persistent cosmos db storage on the skill. Verified with storage explorer (tried w/ & w/o cosmost db)
* Restarted both
 - All works
* Restart only skill
 - Hit connection failure
 - Restarted the conversation in emulator
 - Failure pe

[2021-02-19 20:21] scheyal opened #5912 "Skill is not re-connected by parent if stopped while parent is running (due to port recycling)"
Scenario:
* Parent connected to skill correctly
* skill is stopped and restarted, parent remains on.
* Parent cannot access skill
* Error:
[code]
Variation:
* I have persistent cosmos db storage on the skill. Verified with storage explorer (tried w/ & w/o cosmost db)
* Restarted both
 - All works
* Restart only skill
 - Hit connection failure
 - Restarted the conversation in emulator
 - Failure pe

[2021-02-19 20:51] #5629 closed

[2021-02-19 21:06] mewa1024 commented on #3709
@hatpick Was your suggestion for FiraCode and Monoid a recommendation because they are nice fonts or because you know of a problem with the font list used on https://developer.microsoft.com/en-us/fluentui#/ ("Segoe UI Mono", Consolas, "Andale Mono WT", "Andale Mono",  etc)?

I think if possible we should follow the fonts in microsoft.com since they been vetted. In any case, the current nightly is

[2021-02-19 22:05] Stevenic commented on #5611
I'm sorry for the delay... I don't check my Github notifications super often...  @Jeffders  will need to comment about how to tell the OAuth prompt you're already logged in but I don't believe there's a way to do that. It sounds like you have a completely custom login flow and the OAuth prompt isn't really designed to work in conjunction with other login flows so it has no logic to look for a toke

[2021-02-19 22:14] Heinzfb commented on #5592
Hey luhan2017 & dmvtech,
I am sorry for my enormous laziness. Just finished writing my thesis on it and am now back to bot.

This is shown in the console:
![image](https://user-images.githubusercontent.com/67108766/108567182-05d96d00-7308-11eb-9c81-04ec18f5b794.png)

Thank you for your help.

[2021-02-19 22:14] Stevenic commented on #5611
As for wanting a pre-activity trigger... Here's a class that will do what you want.  Just create a dialog called "Middleware" or something and then add an "event" activity trigger called "OnBeforeTurn".  Add an instance of the middleware below to the end of your middleware chain in your ejected runtime.  For the dialogName try "Middleware" and if that doesn't work try "Middleware.dialog". I can't

[2021-02-19 22:17] Stevenic commented on #5611
Actually looking over the code I think turn state may be shared with the bot as well. I forgot that was stored in the TurnContext which is shared with the bots logic.

[2021-02-20 02:07] tomlm commented on #5805
This sets up the templates:

1.  `dotnet new -i iciclecreek.bot.templates`

[2021-02-20 02:09] tomlm commented on #5803
the path to my csproj is in the configuration, I am building and running the bot externally

[2021-02-20 02:40] pavolum opened #5850 "Change Composer routing logic to handle templates with '@microsoft/' prefix"
Component model template IDs correspond to their respective package manager names. With recent packages now in the Microsoft npm namespace there are package ids with the '@microsoft/' prefix.

Template IDs were previously passed through URL route paths which is no longer viable with these new npm package names.

- [x] Handle selected templateID through local state in Creation flow as opposed to ro

[2021-02-20 02:42] luhan2017 commented on #5592
@Heinzfb , I may lose the context, just want to clarify, are you using the latest composer main branch? and the issue is:
1. can't start bot locally. the Starting bot is spinning forever.
2. after you deploy your bot, did you still see the 404 error?

Any other issues? Are you using a custom runtime here? And could you please share your bot here?

[2021-02-20 03:07] luhan2017 commented on #5811
@RonnieYak could you please try to put the authoringKey in the endpointKey field and try again?

Composer bot runtime just load your settings.luis.endpointKey. In composer we have a logic that if the endpointKey is not assigned we will assign the authoringKey to the endpointKey.

As you see in the portal, luis have two kind of resources, one is called prediction, the other is called authoring. Usu

[2021-02-20 03:13] luhan2017 commented on #5658
@naicud , This error happens when we try to bind your published luis apps with luis prediction resource. Please follow this step to fix this issue https://github.com/microsoft/BotFramework-Composer/issues/5354#issuecomment-747150353

[2021-02-20 03:45] #5797 closed

[2021-02-20 08:14] mpcrossley commented on #2695
Same here - I cna't seem to add variables in any URL for HTTP requests.

[2021-02-20 17:43] mpcrossley opened #5855 "Variables not parsed in HTTP Request Url"
## Describe the bug

When filling out the "Url" field in the "send an HTTP Request" function, it does not expand variables.
## Version

1.3.1 - there is no build SHA.

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Add Set a property (Property: user.city, V

[2021-02-20 17:44] mpcrossley commented on #5855
I forgot to mention that it's very similar to this issue: https://github.com/microsoft/BotFramework-Composer/issues/2695

But I tried their suggestions to no avail, I got a similar error as the other person that had a parsing error when I added a "=".

[2021-02-20 23:57] rslavey commented on #2695
Here is how I made it work:

    =concat('https://graph.microsoft.com/v1.0/users/',$game.whoUserId,'/photo/$value')

I think once you put the equals sign, you have to use the concat function to put strings together. It may work if you assign the whole URL to a single variable and then use

    =${@url}

but I'm not sure.

[2021-02-21 17:53] garypretty commented on #4933
@gabog We are adding a new LG Editor in 1.4 (available in nightly builds now) where you can now add a Speech response, including setting an InputHint.  Great to get your feedback if you have chance to check it out - closing this out.

[2021-02-21 17:53] #4933 closed

[2021-02-22 00:03] Rekeyea opened #5856 "Error merging component schema in custom action: Interface Microsoft.IDialog is not defined"
## Describe the bug

When using the update-schema.ps1 script, there is an error as follows:

[code]

This is with the following schema:

[code]

The same error happens when using the [sample MultiplyDialog schema](https://github.com/microsoft/BotFramework-Composer/blob/main/runtime/dotnet/customaction/Schemas/MultiplyDialog.schema)

## Version

![image](https://user-images.githubusercontent.com/85

[2021-02-22 00:15] mareekuh opened #5857 "User experience - New look and feel for Composer-Home"
**Composer Welcome / Start Page**

Refresh of Composer Home to align with our Build release.

References:

- Visual Studio - http://dotnetmirror.com/Resources/Uploaded-Files/fe0c4c6e-4fcc-49b6-bb35-376b009317b2/visual-studio-2017-Start-Page.png
- Visual Studio Code - 2019-02-28-14_44_29-Welcome-Visual-Studio-Code.png (1912×1040) (qlikfix.com)
- [See also (Gary's email/doc): ](https://nam06.safelin

[2021-02-22 02:47] yeze322 commented on #5604
@a-b-r-o-w-n Andy as we discussed, in R12 webchat is not implemeneted as an Extension considering development efficiency, so I'll close this issue.

It's these two extensions will share some states:
![image](https://user-images.githubusercontent.com/8528761/108650659-038b3480-74fb-11eb-9980-ae4d42b1a16e.png)
Webchat window emits log events, the debug panel subscribes to that.

Currently, they are

[2021-02-22 02:47] #5604 closed

[2021-02-22 05:28] mn-invia opened #5859 "index.js file has been deleted accidently"
Hi,

One of team members has **accidently deleted the index.js** file in the below two directories:

C:\Program Files\Bot Framework Composer\resources\app.asar.unpacked\extensions\azurePublish\lib\node
C:\Program Files\Bot Framework Composer\resources\app.asar.unpacked\extensions\azurePublish\lib\ui

Because of this the MicroSoft Composer is not starting up.......Do we need to:
1. Re-install the C

[2021-02-22 08:44] ysnoek2 commented on #5448
@dmvtech I tried turning the custom runtime off and got this error, maybe this gives more information? Btw all configuration values are correct (the same as my publish file)

Start bot failed

Unhandled exception. System.ArgumentException: skill.allowedCallers has to be defined, e.g. ['*'] or ['callerAppId']
at Microsoft.BotFramework.Composer.WebAppTemplates.Authorization.AllowedCallersClaimsValid

[2021-02-22 12:01] #5344 closed

[2021-02-22 14:41] goergenj commented on #5807
@cwhitten  Just to make sure we have the correct understanding. This is not just croos-tenant. Currently I cannot publish in ANY tenant. Not even within the same tenant that hosts my account. If there is a configuration or other issue, happy to take your advise on how to solve this. If I could at least publish inside the tenant of my account, this would already unblock short-term.

[2021-02-22 14:42] goergenj commented on #5809
@cwhitten No. What would this look like to create a JSON body?

[2021-02-22 15:50] franctum5 commented on #5579
hi @tonyanziano , does the workaround with setting the environment variable works also with the pre compiled version of Composer?

I'm setting the variable before opening it but I still get the same error.

Thanks!

[2021-02-22 16:27] benbrown opened #5861 "during the new creation flow, we should display a loading spinner while the readme is loading."
## Describe the bug

Since there is a momentary lag between making the selection and seeing the readme, it can make the UI feel slow and like the selection did not work.

[2021-02-22 16:56] RonnieYak commented on #5811
@luhan2017 Thank you, this worked!

[2021-02-22 16:59] tonyanziano commented on #5393
Update:

We have been unblocked by the authentication library, and now we are actively working on implementing the working MSA auth flow in a feature branch. We hope to have this merged into the main branch and available in a nightly build by the end of the week.

We will continue to keep this thread updated.

[2021-02-22 17:13] dmvtech commented on #5859
Hi @mn-invia You can reinstall Composer, or copy that file over from somewhere else (another machine, etc). Assuming the right/same/correct version of the file. Re-installing Composer is probably the easiest, quickest and best way to ensure it's correct.

[2021-02-22 17:31] dmvtech commented on #5809
@goergenj  I'm looking into this and will get you an example.

[2021-02-22 18:03] #5523 closed

[2021-02-22 18:18] zxyanliu opened #5863 "Adding a remote skill breaks the app - nightly build"
## Describe the bug

When adding a remote skill, the app breaks.

## Version

https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.3.1-nightly.214892.a16c00c

## Browser

- [x] Electron distribution

## OS

- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

See the screenshots below.

## Expected behavior
Should not show a blank page. The app should not break

[2021-02-22 19:37] Dewain27 opened #5866 "T&Cs acceptance for enablement of Teams Connection"
## Is your feature request related to a problem? Please describe.

When enabling the Teams Connection, you will need to verify that the user has accepted the T&Cs associated to enabling this connection.  If a user has already accepted the T&Cs in ABS or CLI, then we need to not prompt the user again.

## Describe the solution you'd like

In Composer, when a user enables the connection to Teams, we

[2021-02-22 21:11] garypretty opened #5867 "LG Editor: Ensure tabs remain in a consistent order"
On the LG editor, if I start with a Text tab, add a Speech tab, I have the tabs in the order Text -> Speech.

If I then remove the Text tab and re-add a Text tab, my tabs are then in the order Speech -> Text.

Ideally we should try and ensure that tabs are shown in the order Text -> Speech -> Attachments -> Suggested Actions.

[2021-02-22 21:17] garypretty opened #5868 "LG Editor: Rename 'Add new variation' on Suggested Actions tab to 'Add new action'"
The text link allowing you to add a Suggested Action needs to be renamed to 'Add Suggested Action' instead of 'Add new variation'.

[2021-02-22 21:19] garypretty opened #5869 "LG Editor: Tabbing from a variation input box selects an invisible delete icon"
Tabbing out of a variation input box navigates to the invisible delete icon for the next item. Continuing to tab moves to the next invisible delete icon.

Assuming this might also affect the use of the same control in the QnA KB section?

[2021-02-22 21:31] garypretty opened #5870 "LG Editor: Removing a response tab leaves behind redundant LG templates"
When removing a tab from the LG Editor (e.g. Attachments) any additional LG templates that were generated to support the tab's content are left behind and are not removed, which can leave a bot in a broken state.

e.g.

1. Add a Send A Response action
2. Set a text reponse
3. Add an attachments tab and select a Hero Card template (don't complete the placeholders) which leaves an LG syntax error.
4

[2021-02-22 21:36] garypretty opened #5871 "LG Editor: Suggested Actions tab disappears if only one Suggested Action added"
1. Add Suggested Actions tab and then add 3 suggested actions
2. Switch to code editor and remove all but 1
3. Switch back to Response editor,
4. The Suggested Actions tab has disappeared.

Suggested Action is still there in the Code Editor, so looks like the tab just isn't being displayed for a single Suggested Action.

Also confirmed that using the editor to add 1 action, navigate to another act

[2021-02-22 21:41] garypretty opened #5872 "LG Editor: Adaptive Card template comment causes LG errors."
Use the LG Editor to add an Attachments tab to a response and then create an attachment, selecting the Adaptive Card template.  At this point, if a user does not replace the template content with an adaptive card JSON they have multiple LG errors.

Is there a way we can have the Adaptive Card template either be valid at the outset or maybe some form of placeholder instead?

[2021-02-22 21:44] garypretty opened #5873 "LG Editor: Pre-Built functions should be shown alphabetically"
The pre-built functions list shown when you choose the functions helper on the LG editor shows a long list of functions.  Currently they don't appear to be in any sort of order, making them potentially hard to locate.  We should re-order the main and sub menus to be displayed alphabetically.

Note, if we take this then we should also update the functions list shown as a dropdown when editing condi

[2021-02-22 21:48] garypretty opened #5874 "LG Editor: Attachment templates copy / order"
A few amendments to the Attachments reponse tab.

1. Given that you only create one attachment at a time, I think we need to rename the 'Create from templates' menu button to 'Create from template'.

2. Move the 'Create from template' button to above the 'Custom' button.

3. Can we please re-order the attachment templates as follows (moving the lesser used / known templates down - I did consider o

[2021-02-22 21:52] #5632 closed

[2021-02-22 21:57] garypretty opened #5876 "LG Editor: Update Break and Prosody SSML snippets to contain default values"
Update the inserted SSML for Break and Prosody snippets to contain default values. I have agreed this approach with @Quirinevwm

**Break tag:** <break strength="medium" />
**Prosody tag:** <prosody pitch="medium"></prosody>

**Rationale for change:** Break tag in many cases will be left at medium, this reduces effort for the user. The time attribute currently added is optional, so let's remove it.

[2021-02-22 22:12] garypretty opened #5877 "UX issues / observations for integrated webchat and debug panel"
Below are a list of UX issues / observations following my initial round of testing of integrated web chat / debug panel.

**Integrated web chat**

1. Bot Manager still only contains a link to emulator, Given that folks likely visit here today to open the emulator, there should be a link here to open the integrated web chat for the root bot.

2. We should disable the text input at the bottom of the

[2021-02-22 23:46] arafattehsin opened #5879 "Runtime error on memory scopes"
## Describe the bug

A lot of folks (mainly customers) are complaining about this behavior that if we set up something in a User Input section of a question prompt such as dummy property, wrong output format or value, we do not get any compile time error but a runtime error.

If we get this error during compile time (or when it's getting published, it would make our lives easier)

Following image

[2021-02-22 23:52] #4357 closed

[2021-02-22 23:52] #4899 closed

[2021-02-22 23:52] #3995 closed

[2021-02-23 00:03] congysu commented on #5773
@zxyanliu can you please set a milestone for this issue?  Thanks.

[2021-02-23 00:05] #5850 closed

[2021-02-23 00:09] zxyanliu commented on #5773
@congysu I tentatively set it to R12 milestone. FYI.

[2021-02-23 01:19] anusharavindrar commented on #5759
@UmaPrelude, I am having some issues with my Composer app while attempting a repro. I will update the thread once I have more info to share. Thanks for your patience.

[2021-02-23 02:31] zidaneymar commented on #5479
@peterbozso Hi, I think you should resolve the comments in this pr:https://github.com/microsoft/BotFramework-Composer/pull/5315

[2021-02-23 02:51] cosmicshuai opened #5882 "LG Language Server suggested entities does not work correctly."
1. Missing QnA and Luis static members: `@answer`, `@itemList`
2. Suggest duplicate entities from multiple files

![MicrosoftTeams-image](https://user-images.githubusercontent.com/17074777/108797003-15390e80-75c5-11eb-9335-677b338f6e61.png)

[2021-02-23 03:31] luhan2017 commented on #5807
@goergenj , your error message shows that the publish failed in the luis app binding with luis prediction service step. Please follow this comment to fix this issue. https://github.com/microsoft/BotFramework-Composer/issues/5354#issuecomment-747150353

[2021-02-23 03:34] luhan2017 commented on #5448
@ysnoek2 it seems that your are using the latest version runtime with an old version of appsettings?  In the latest version we need the following configuration to run the bot.
[code]

[2021-02-23 04:23] msekkappan opened #5885 "Bot Composer hangs"
## Describe the bug

## Version

1.3.1

## OS

- [ ] Windows 10 Pro Version 10.0.18363

## To Reproduce

Steps to reproduce the behavior:

1. Go to start
2. Search for Bot composer
3. Click on Bot framework composer
4. See error

## Expected behavior

Application open

## Screenshots

![image](https://user-images.githubusercontent.com/22689003/108801875-decba700-7564-11eb-9fab-6c22fbdac669.png)

#

[2021-02-23 06:22] srinaath commented on #5676
@garypretty we need to add an event for Saving a transcript. I will go ahead and add an event `SaveTranscriptClicked`.

[2021-02-23 06:34] #5882 closed

[2021-02-23 06:58] chrimc62 opened #5888 "Form generator does not match SDK Rc0"
## Describe the bug
As suggested by design the OnAssignEntity and OnChooseEntity triggers changed their filter name from 'entity' to 'value'.  The generator has been updated to generate those, but needs to be updated in the composer server or form generation will be broken.

[2021-02-23 07:35] cosmicshuai opened #5889 "Pre-built entities in LG language server should be removed"
The `@answer` QnA entity should only be available while user has a valid knowledge base.
![image](https://user-images.githubusercontent.com/17074777/108813526-247f8280-75ec-11eb-8d56-d4c480fd13c7.png)

The `@itemList` is not a pre-built entity.

So we should just remove these entities.

[2021-02-23 08:42] peterbozso commented on #5479
@zidaneymar I'll get around to it as soon as I have some free time to do so.

[2021-02-23 09:11] #5628 closed

[2021-02-23 09:33] zhnbss opened #5891 "nodename nor servname provided, or not known"
## Describe the bug

## Version

**BotFramework Composer: 1.3.1 (also 1.3.0)
Bot Framework Emulator: 4.11.0**

## Browser

- [x] Chrome
- [x] Firefox

## OS

- [x] macOS
- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Fire up BotFramework Composer with _yarn startall_
2. Open the bot from BotFramework Composer
3. Start the bot and open in Bot Framework Emulator
4. Observe inst

[2021-02-23 10:29] naicud commented on #5658
@luhan2017 Thanks so much for the assistence. You can close the Issue. :)
![image](https://user-images.githubusercontent.com/55764723/108831366-4f58df00-75ca-11eb-9965-b043212b0137.png)

[2021-02-23 14:07] Jenny0932 commented on #5397
Hi Gary,
I had the similar issue and followed your suggestion here.l, adding conditions on the trigger itself. How to define the time has elapsed? I am using the desktop bot composer and set properties in some points of my dialog. I’d the dateTimeDiff() is larger than a value and the. Cancel all dialog. But the activities never been triggered. Could you help me on how to setup the conditions for t

[2021-02-23 15:13] Dewain27 opened #5892 "Need ability to delete a publishing profile in Composer"
## Describe the feature

Currently in Composer, you can't delete a publishing profile.  We need to be able to give a user the ability to easily delete a publishing profile.

## Describe the solution you'd like

We should put a delete button next to the edit option in Composer.  This delete function should only delete the profile, not the Azure resources.  We need to clearly communicate that this i

[2021-02-23 15:37] Dewain27 opened #5893 "Can't set hostname on Configure Resources in Publishing"
## Describe the bug

Can't set hostname on the Configure Resources screen in publishing process.  You get the error below no matter what text you enter.
![image](https://user-images.githubusercontent.com/18688053/108866929-4b24c580-75ba-11eb-9e03-edc0de5c6484.png)

## Version

Version:  1.3.1-nightly.216473.93194e8

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
-

[2021-02-23 15:40] Dewain27 opened #5894 "Check boxes disappear when unchecked"
## Describe the bug

Currently, today when you are selecting resources to be provisioned, if you uncheck an item the checkbox disappears.  This is confusing and if you unselect all it is hard to tell that you have the option to check the box to make them get provisioned.  We need to make this more clear.
![image](https://user-images.githubusercontent.com/18688053/108864701-1152bf80-75b8-11eb-9ea0-

[2021-02-23 17:11] Dewain27 opened #5895 "Select existing Resource Group in Publishing Profile"
## Is your feature request related to a problem? Please describe.

Users need the ability to select from an existing Resource Group to provision resources when creating a publishing profile.  In many cases users of Composer don't have the right to create resource groups in Azure and have only the ability to create resources within an existing resource group.

## Describe the solution you'd like

I

[2021-02-23 17:12] Dewain27 opened #5896 "Provisioning Handoff to Azure Admin"
## Is your feature request related to a problem? Please describe.

It is common situation in many companies that the Bot Developer who is working to create the Bot Logic for a Bot that is built on Bot Framework to not have rights in Azure to provision the services that are required to allow for an environment to be published to be created.  In this situation it is imperative that Microsoft provide

[2021-02-23 17:16] Dewain27 opened #5897 "During provisioning allow for selection of existing keys (Where Applicable)"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-02-23 17:36] cwhitten commented on #5828
@pavolum @VanyLaw we believe this may have been introduced by the recent creation & config changes to get into the tree last week. We should only have one C# option when ejecting. cc @luhan2017

[2021-02-23 17:37] cwhitten commented on #5832
cc @VanyLaw please take a look at this - thanks!

[2021-02-23 17:38] cwhitten commented on #5836
@VanyLaw I don't believe we want to allow the C#(new) ejection option. cc @benbrown

[2021-02-23 17:39] cwhitten commented on #5828
Closing as a duplicate of https://github.com/microsoft/BotFramework-Composer/issues/5836

[2021-02-23 17:39] #5828 closed

[2021-02-23 17:40] cwhitten commented on #5843
@scheyal have you looked into the portal to look into the resources that already exist and where they may have come from?

[2021-02-23 17:42] cwhitten commented on #5846
@scheyal we think this came from the samples when we copied it over.

[2021-02-23 17:42] cwhitten commented on #5846
cc @ryanlengel @tracyboehrer keep in mind with new runtime assets sitting in `wwwroot`

[2021-02-23 17:47] cwhitten commented on #5856
@luhan2017 can you take a look at this?

[2021-02-23 17:53] cwhitten commented on #5709
Let's look to address in R13.

Questions to understand, and we need to connect with ABS to understand:

1. Why are these registrations not happening at the outset?
2. Can we do this registration for users on their behalf without introducing unnecessary side-affects
3. Are the operations idempotent? Will we need to infer the need to do this registration? Do we have the heuristic to do the correct i

[2021-02-23 17:55] hatpick commented on #5867
I dont agree, I think ideally we should keep the order in which user modified them.

[2021-02-23 17:57] cwhitten commented on #5879
For implementer: the schema exposed in the SDK does not provide enough information to statically analyze available memory scopes. Consider leveraging the intellisense-scopes properties available on the uichema definition

[2021-02-23 17:58] hatpick commented on #5873
The list of functions was not created for this feature, it exists as a separate package and there are some other consumers of this package. The order in which the functions appear in that list is provided by that package (@bfc/built-in-functions) and I'm not sure if we have to sort them alphabetically.

[2021-02-23 18:01] cwhitten commented on #5891
@zhnbss are you trying to build and run Composer from source, or use the desktop application? If the later, please follow the instructions here: https://docs.microsoft.com/en-us/composer/install-composer#install-composer-as-a-desktop-application

If the former, can you send any stdout information in your Composer server process in the terminal where you executed `yarn startall` ?

[2021-02-23 18:03] benbrown commented on #5836
Concur with @cwhitten. I will try to address this if @pavolum doen't get to it first.

[2021-02-23 18:03] hatpick commented on #5876
Currently, here's what is inserted for each SSML tag from menu:
Break: <break strength="medium"/>
Prosody: <prosody pitch="medium" rate="medium" volume="medium"></prosody>
Audio: <audio src="url"/>
I dont understand the issue, can you elaborate?

[2021-02-23 18:05] cwhitten commented on #5808
@v-kydela are you able to jump in and get a repro of this or work with the customer to understand the issue?

[2021-02-23 18:14] v-kydela commented on #5808
@cwhitten - Yes, I'll do that

[2021-02-23 18:22] tonyanziano commented on #5456
This issue might be resolved once #5706 is fixed. I will update this issue when auth for MSA accounts is enabled.

[2021-02-23 18:35] srinaath commented on #3709
The font size needs to be standardized inside the LG editor and "Show Code" editor needs to be 14px.

[2021-02-23 18:52] #5888 closed

[2021-02-23 18:55] stevkan commented on #5855
@mpcrossley, I was able to repro the behavior. I am presently looking into possible workarounds, if any.

[2021-02-23 19:26] hatpick commented on #5869
@sangwoohaan what should happen here? (what's happening is not implemented, it's what Fabric decides to do)

[2021-02-23 19:27] cwhitten opened #5899 "Publish to PVA is successful however a failure is being reported in the notifications panel"
## Describe the bug

Publishes to PVA are successful however an error is being send to the global notifications panel.

## Version

1.3.1-nightly.214464.b82bb3b

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Publish to PVA
2. See error in panel
3. See p

[2021-02-23 19:28] hatpick commented on #5872
@tdurnford can you look into this?

[2021-02-23 19:36] #5386 closed

[2021-02-23 19:45] cwhitten opened #5900 "Clicking on an orphaned skill in the project tree returns a blank screen"
## Describe the bug

## Version

1.3.1-nightly.216473.93194e8

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Connect a skill
2. Move the solution around
3. See opacity and red icon
4. Click on the element
5. See error

## Expected behavior

It shouldn't

[2021-02-23 19:49] RonnieYak commented on #5811
Sorry, I realized I used the wrong recognizer to test. When I switched to default recognizer in Composer, it stopped working and returned the same error. I tried putting the authoringKey in the endpointKey field and it doesn't work. I also tried putting both the authoringKey and endpointKey as the same, but it still doesn't work. My config file looks like this now:

[code]

[2021-02-23 19:54] cwhitten opened #5901 "Hide Custom Recognizer as an option in the Recognizer dropdown in PVA mode"
![Screen Shot 2021-02-23 at 11 53 30 AM](https://user-images.githubusercontent.com/1156704/108899878-cb085b00-75cd-11eb-80bb-25c251fe3439.png)

[2021-02-23 20:00] mareekuh commented on #5680
@vivekkshankar please move the '+ add' button out of the filter bar into the toolbar.

[2021-02-23 20:09] srinaath commented on #5877
Bot Manager still only contains a link to emulator, Given that folks likely visit here today to open the emulator, there should be a link here to open the integrated web chat for the root bot. - Malanie's design awaitng

[2021-02-23 20:15] mareekuh commented on #5680
See above

[2021-02-23 20:17] #5701 closed

[2021-02-23 20:21] cwhitten commented on #5680
@mareekuh this was implemented with the understanding that the design team had signed off on the change. Further updates to this will need to come in a future milestone. Removing from R12

[2021-02-23 20:25] beyackle opened #5902 "Problems/webchat panel shows up on top of some pages"
## Describe the bug

See the screenshot; the Project and App Settings pages cause the "Problems/Webchat Inspector" pane to detach from the bottom of the window and float along with part of the page itself, getting in the way of other elements.

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

[2021-02-23 20:26] #5658 closed

[2021-02-23 20:31] benbrown commented on #5757
#5898 achieved the last few items here.

#5903 actually makes the flag visible.

[2021-02-23 20:58] benbrown opened #5904 "Bug: Can't edit publishing profile. Save button is disabled."
## Describe the bug

The save button on the "import existing azure resources" option is disabled. No changes can be made to the settings.

## Version

Nightly build for provisioning v2

## Browser

- [x] Electron distribution
## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

1. Edit an existing publishing profile
2. choose "import existing azure resources"
3. make changes to the json

[2021-02-23 21:03] #5755 closed

[2021-02-23 21:17] v-kydela opened #5905 "None of the properties in the Advanced Settings View are allowed"
## Describe the bug

In the Advanced Settings View, all the properties at the root level are underlined in yellow and the tooltip says the properties aren't allowed.

## Version

1.3.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'Project Settin

[2021-02-23 21:32] mareekuh commented on #5680
Sounds like it slipped through the cracks. Please re-open.

[2021-02-23 21:32] darrenj commented on #5893
Reproed on Windows too

![image](https://user-images.githubusercontent.com/33519520/108911064-a7213580-761e-11eb-96a5-a69b8f9178a5.png)

[2021-02-23 21:34] v-kydela commented on #4305
I'm still getting the error in 1.3.1. Should this be reopened?

[2021-02-23 21:38] carlosscastro opened #5906 "Adapters: boolean defaults from schema not working in modal"

[2021-02-23 21:40] carlosscastro opened #5907 "Adapters: Modal should have a link pointing to the adapter helplink in uischema if available."

[2021-02-23 21:52] #5805 closed

[2021-02-23 22:00] v-kydela opened #5910 ""Show code" identifies problems incorrectly"
## Describe the bug

When viewing the code for a dialog in Composer, there seems to be a code analyzer that validates the JSON schema incorrectly.

## Version

1.3.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to a dialog with a `SendActivity` and

[2021-02-23 22:13] Heinzfb commented on #5592
I cloned the latest one.
First everything worked fine. Btw. Nice Release 👍

But after the 6 rebuild I got
![image](https://user-images.githubusercontent.com/67108766/108915116-b7d8a800-762c-11eb-826e-55ed84ec1ac0.png)

[2021-02-23 22:16] garypretty commented on #5876
@hatpick I must have been using an older build when I made a note of this issue. Closing out.

[2021-02-23 22:16] #5876 closed

[2021-02-23 22:17] garypretty commented on #5873
@hatpick as discussed can we find out if there is a specific reason they are in the order they exist in today.  If not then I believe we should update the package to list them alphabetically.

[2021-02-23 22:21] garypretty commented on #5869
@hatpick @sangwoohaan I don't consider this to be high priority.  Indeed, having looked at the behavior again, it could be that this is working as intended for accessibility.

@sangwoohaan if you don't see an issue then we can close.

[2021-02-23 22:25] garypretty commented on #5867
@hatpick @sangwoohaan I think allowing the tabs to appear in the order they are created could lead to a very inconsistent experience over time. For example, I create a bot today and add 10 actions, each with multiple tabs and all of them end up in different orders.  Then I come back to the bot the next day / month etc and all of the tabs on all my actions are all in an inconsistent order. I think

[2021-02-23 22:41] JonathanFingold opened #5911 "There does not appear to be a way to cancel a skill from the root bot"
## Describe the bug

There should be an action for canceling the current skill.
- This should send an `endOfConversation` activity to the skill.
- Allow the bot developer to set the `code` and `value` properties on the outbound activity.
- Upon acknowledgement from the skill, clear the _active skill_.

## Version

                Bot Framework Composer

                Version:  1.3.1-nightly.2164

[2021-02-23 22:42] gabog commented on #5912
@garypretty, assigning this one to you for review, let me know if you need more information

[2021-02-23 22:45] congysu commented on #5751
Hi @cwhitten -- can you please advise which milestone shall we set for this item?  Thanks.

[2021-02-23 22:45] #5757 closed

[2021-02-23 22:48] hatpick opened #5913 "LG content update doesn't accept empty string for existing template"
When updating an existing template, the updater replaces passed empty string body with the current body of the template leading to not being able to update the body to an empty string.

in:
```packages/lib/indexers/src/utils/lgUtil.ts#L101```
the following line replaces the empty string value:
```body: body || originTemplate?.body || '',```

[2021-02-23 22:51] Dewain27 commented on #5894
According to @emivers8 this is just a setting that needs to be changed in the component.

[2021-02-23 22:59] hatpick commented on #5867
That's a great argument for a static tab list. However, for a dynamic tab view such as this the behavior is that they appear in the order that they get added. For example look how Edge or vscode work.

[2021-02-23 23:12] v-kydela commented on #5808
@Dan-Bai - I followed your instructions and I'm getting this error:

![image](https://user-images.githubusercontent.com/41968495/108920316-4fb4a280-75e9-11eb-9456-ae7fe6f41037.png)

Is there anything you left out from your repro steps? Did you export the runtime first? Can you link to any documentation you've followed?

[2021-02-23 23:54] sangwoohaan commented on #5867
I think for a future milestone this can be customizable in a way that it serves the user's intention for what the main modalities of your bot would be(i.e. if you decided to build an Alexa skill, you would want the speech tab to come first). But still, the tab order should be consistent across the board. I think giving too much control to users to individually determine the order of the tabs would

[2021-02-24 00:26] Dan-Bai commented on #5808
@v-kydela Sorry, I did export the runtime first. Didn't explicitly follow any documentation.

[2021-02-24 00:47] stevkan commented on #5855
@mpcrossley, first off I made a mistake on my end and I'm actually not able to repro the behavior. Apologies for any confusion.

Comparing the trace activity between your screenshot and my attempt, they both look identical when the JSON properties are collapsed to the first level. When I expand the `value` property (see below) I can see the interpreted URL as well as the response. The `label` prop

[2021-02-24 00:49] dmvtech commented on #5856
Reproduced with `v1.3.1-nightly.216473.93194e8` and bf cli version `4.10.0-dev20200730.3786d10`

Attempting to update BF cli and try again.

[2021-02-24 01:33] hatpick commented on #5913
@lei9444 can you help me with this? Is this something intentional?

[2021-02-24 01:36] boydc2014 commented on #5913
@zhixzhan can you review the intention and see if it still works

[2021-02-24 01:37] scheyal opened #5914 "Documentation / sample: Show how to invoke skills with different type calls in LG"
Need to document how to set up LG to call skills passing different payload using Invoke, Event, or message.

e.g.

[code]

This is a combination of [skills](https://docs.microsoft.com/en-us/azure/bot-service/skills-write-manifest-2-1?view=azure-bot-service-4.0), and [structured response](https://docs.microsoft.com/en-us/azure/bot-service/language-generation/language-generation-structured-response-

[2021-02-24 01:46] hatpick opened #5915 "Debug panel resize interaction selects texts in the rest of the UI"
When I resize the debug panel with the mouse, the text in the direction of resizing gets selected (highlighted)
Check the attached video below:

https://user-images.githubusercontent.com/1483492/108932811-d758dc00-75fe-11eb-8cd9-b48b9687b39d.mov

[2021-02-24 01:51] hatpick opened #5916 "Debug panel resize breaks the hide/show behaviour"
After I opened the debug panel and resized it, I can't close it, check the video below:

https://user-images.githubusercontent.com/1483492/108933221-9f9e6400-75ff-11eb-8ef1-16808bc0092c.mov

[2021-02-24 02:08] zhixzhan commented on #5913
@boydc2014 @hatpick I checked again, this line is originally added to all do partial update on a template,
for example,if call this method with parameter `{ name }`, will do update template with name and origin body.

but it should be more precisely like：
[code]

[2021-02-24 02:14] hatpick commented on #5873
@garypretty I did and it turns out the order is somewhat random, so I sorted them alphabetically.

[2021-02-24 02:33] feich-ms commented on #5839
Just figured out that this was because the npm version is not upgraded to the latest one. After I `npm install -g npm@latest`, the error will go away.

[2021-02-24 02:41] luhan2017 commented on #5843
@scheyal，the error is because there is already a Qna resource named SchoolNavigatorComplexRG, could you please either give it another name or just uncheck the QnA service when you do the provision? Seems you don't even need a QnA service in your child bot.

[2021-02-24 02:49] luhan2017 commented on #5811
@RonnieYak, are you OK to have a live debug session with me, or just share your bot?

[2021-02-24 02:49] yeze322 opened #5918 "Debug Panel UX improvements"
## Describe the bug
This issue is for tracking todo items of Debug Panel according to feedbacks.

#### Bugs @alanlong9278
- [x] https://github.com/microsoft/BotFramework-Composer/issues/5916 Debug panel resize breaks the hide/show behaviour
- [x] https://github.com/microsoft/BotFramework-Composer/issues/5915 Debug panel resize interaction selects texts in the rest of the UI
- [x] [Diagnostics Tabl

[2021-02-24 02:54] luhan2017 commented on #5592
@Heinzfb, this new issue is unrelated with the 404 error, could we just close this one and create a new issue for the language server?  @boydc2014 for awareness.

[2021-02-24 03:26] zxyanliu commented on #5773
@zidaneymar Please update the deploy scripts to include resource group.

[2021-02-24 03:36] Stevenic opened #5919 "Failing to install prerelease packages"
My package is marked as preview and an error occurs when trying to install on latest nightly build:

![image](https://user-images.githubusercontent.com/698939/108943881-7afdb880-760e-11eb-8f93-2f06ddf37cfb.png)

[2021-02-24 03:37] yeze322 commented on #5856
what is the version of your bf-cli? It needs to be updated to 4.12
Try running `npm i -g @microsoft/botframework-cli@next`

[2021-02-24 03:40] #5913 closed

[2021-02-24 03:47] Stevenic commented on #5919
Actually it's failing to install any package :(

[2021-02-24 04:07] srinaath commented on #5918
@zhixzhan  can u make sure as a part of the font changes u apply this font inside the Webchat Inspector panel

[2021-02-24 04:23] JaskeeratBedi-cmk opened #5921 "Empty screen for editing resources"
## Describe the bug
I get an empty screen when I try to edit a publishing profile
![Kapture 2021-02-23 at 20 19 47](https://user-images.githubusercontent.com/67944302/108947100-a7b4ce80-7614-11eb-9d6f-396150c32b72.gif)

## Version

Release: 1.3.1
## Browser

- [ ] Electron distribution

## OS

- [ ] macOS

## To Reproduce

Steps to reproduce the behavior:

1. Click on edit button next to existing

[2021-02-24 04:41] dmvtech commented on #5856
That worked for me. @Rekeyea please try that and let us know if you have any issues with that.

[2021-02-24 04:46] JaskeeratBedi-cmk opened #5922 "Add resource page missing information"
## Describe the bug

![Select resources](https://user-images.githubusercontent.com/67944302/108948783-fdd74100-7617-11eb-8e7b-dd85f2091ed6.jpg)

## Version
 R1.3.1

## Browser

- [ ] Electron distribution

## OS

- [ ] macOS

## To Reproduce

## Expected behavior

Discrepancy in design file and executed screen.
Design file here:
https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-s-files?n

[2021-02-24 04:52] JaskeeratBedi-cmk opened #5923 "Review & create page missing information and visual formatting"
## Describe the bug

![Review   create](https://user-images.githubusercontent.com/67944302/108949281-f82e2b00-7618-11eb-8b4d-d6a21f427475.jpg)

## Version

R 1.3.1
## Browser

- [ ] Electron distribution

## OS

- [ ] macOS

[2021-02-24 05:00] JaskeeratBedi-cmk opened #5924 "Provisioning failed: Bot Registration Error_Bot name exists?"
<img width="1162" alt="Screen Shot 2021-02-23 at 8 53 54 PM" src="https://user-images.githubusercontent.com/67944302/108949456-4cd1a600-7619-11eb-9b97-15fd99b4f7f1.png">

## Describe the bug

Got this error when I tried to add a new provisioning profile and add new resources

## Version

R 1.3.1

## Browser

- [ ] Electron distribution

## OS

- [ ] macOS

## To Reproduce

Steps to reproduce the b

[2021-02-24 05:31] stevkan commented on #5885
@msekkappan, I tried to repro your experience, but I have been unable to do so. Could you post the error you are receiving and any other related details?

During the first run, were you prompted by Windows Firewall to all the app to run? Or, is there anything else that might be blocking the app?

[2021-02-24 06:36] jobpool commented on #5856
I have the same issue. I have updated bf-cli to 4.12, but the issue remains, any other ideas?

[2021-02-24 07:50] luhan2017 commented on #5921
@JaskeeratBedi-cmk which electron version are you using? we already fixed this issue in the latest version, could you try this? https://fuselabs.visualstudio.com/Composer/_build/results?buildId=216835&view=results

[2021-02-24 08:03] #5889 closed

[2021-02-24 08:08] luhan2017 commented on #5856
@jobpool did you install the bf-dialogs through bf plugins before, could you try to
- bf plugins:uninstall @microsoft/bf-dialog
and install bf-cli again?

[2021-02-24 12:51] darrenj commented on #5893
I think we should explore this further, why would we not provide an auto-generated prefix (we did this with VA) but of course provide the ability for a customer to modify as they see fit? (@emivers8)

[2021-02-24 13:41] darrenj opened #5930 "ApplicationID and Password not populated post provisioning"
AppId and Password are key to successful Bot development. As part of provisioning we create the AppId and Password as a required resource but after provisioning we don't set the AppId or Password in the Bot settings. This then requires the user to go find the provisioned Application, generate a new password (as you can't "see" an existing password) and then transpose into configuration.

Not havin

[2021-02-24 14:13] garypretty commented on #5918
@yeze322 Just to check, if there are no errors, but 1 or more warnings, we will only show the warning icon / count in the top right?

[2021-02-24 14:18] garypretty opened #5931 "Webchat integration: Restart Conversation new / existing user Id buttons are functionally reversed"
Using the 'Restart Conversation - same user ID' starts a conversation with a new user Id.
Conversely, 'Restart Conversation - new user ID' starts a conversation with the same user Id.

These need to be reversed.

[2021-02-24 15:19] carlosscastro commented on #5919
The problem is the '&' that is present in the query string of the --source parameter used by composer will be interpreted by the command line since it is not escaped. As such, cmd will say 'this is the end of the current command and the next command is to run prerelease.exe' which clearly doesn't exist. Did you add the package source yourself? If yes, could you share the name and url you added? If

[2021-02-24 15:30] zhnbss commented on #5891
Found the error. It was an internal issue where the CosmosDB was wrongly configured.
Because of the dubious error message, it took a long time to find the error

[2021-02-24 15:30] #5891 closed

[2021-02-24 16:01] peterswimm opened #5932 "Cannot opt-in into the Early Adopters channel"
## Version
1.3.1
Electron: 8.2.4
80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

When I enable the early adopter toggle, it fails to update when I check for update (doesn't matter if I select restart now or restart later)

The initial

[2021-02-24 16:39] carlosscastro opened #5933 "Package Manager: visuals for installed state of package go on and off during and after install"
When installing a package in package manger from local nuget, I see the following

- Modal opens, work in progress
- With modal open, behind the modal, state -> installed. This means that the green installed check appears and the uninstall button also appears
- With modal still open, behind the modal, I can see state -> not installed, check and uninstall button disappear
- Modal closes, still does

[2021-02-24 16:42] carlosscastro opened #5934 "Package manager: add feed usability improvement"
When I add a local feed, I enter a name and a url but don't hit the 'check mark' on the right. When I click close, my feed doesn't get added but I'm not notified, so me and a lot of bug bashers thought we'd added the custom feed but we needed to go back to 'add feed' and click the check mark on the right. Maybe the close button should check if there are unsaved changes and ask whether to apply / d

[2021-02-24 16:42] carlosscastro opened #5935 "The reloadProject method does not properly reload the settings from the server"
Repro steps in feature/adapters branch:

- Turn on package manager and new creation flow flags
- Create an empty bot with the template called 'Empty'
- Install a package with a bot plugin from a local nuget source (attached one example package, unzip in a folder and then make the local nuget source url be the absolute path to where you unzipped the attached file)
- Verify that plugin gets written

[2021-02-24 17:11] dmvtech commented on #5644
Hi @thakursarvesh Any updates? Were you able to make any progress, or can you share more info for us to try and reproduce or investigate?

[2021-02-24 17:12] dmvtech commented on #5859
Closing as answered. Please let us know if you need further assistance.

[2021-02-24 17:12] #5859 closed

[2021-02-24 18:25] tdurnford commented on #5844
Closing in favor of https://github.com/microsoft/BotFramework-Composer/issues/5751

[2021-02-24 18:25] #5844 closed

[2021-02-24 18:52] dmvtech commented on #5687
Hi @BeheraMadan Sincerest apologies for the delay. Thank you for posting your bot, that helped.

The issue here is that the prompts are not to allow to accept interruptions. So, once a prompt gets sent (for example your `xZ6Zkd` ChoiceInput), then it will not allow anything but a selection from those options. It will continue to prompt for valid responses until the max turn (3 in your case). You h

[2021-02-24 18:54] dmvtech commented on #5687
@ismendes Let me know if that addresses your concerns as well. If designed in the right way, interruptions and letting users go back and change answers should be possible.

[2021-02-24 19:23] garypretty opened #5937 "Telemetry: Track Handoff from ABS / PVA"
We need a way of tracking a telemetry event when Composer is opened from ABS or PVA (or any other source in the future).  Ideally when opened we would either

- add an additional property onto the existing session started / Composer opened event indicating the referrer if any
or
- we add a new event (named something like HandoffToComposerCompleted) where we add properties to indicate the referrer

[2021-02-24 19:46] tracyboehrer opened #5938 "GET 500 when creating "Conversational Core" bot (new creation)"
Using new creation experience, select "Conversation Core".  Eventually get a "500" error in Composer.  In the command prompt, it's from one of the GETS.

Looks like:
```GET /api/status/6ec66669-0c29-49e1-acb9-1a923f13b15b 500 1.124 ms - -```

## Version

Latest from main.  Running local build.

Commit: ca41b20

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x ]

[2021-02-24 20:02] #5869 closed

[2021-02-24 20:02] #5870 closed

[2021-02-24 20:02] #5871 closed

[2021-02-24 20:02] #5872 closed

[2021-02-24 20:02] #5873 closed

[2021-02-24 20:02] #5874 closed

[2021-02-24 20:02] #5868 closed

[2021-02-24 20:03] tdurnford commented on #5937
@tonyanziano Is there anyway to determine if the user opened Composer from ABS or PVA in either the client or Composer's server?

[2021-02-24 20:25] sangwoohaan commented on #5938
I also get this on Mac
GET /api/status/85baaa02-c76d-4b13-a732-df91a9dc9072 500 0.675 ms - -

[2021-02-24 20:25] mewa1024 commented on #5938
I'm also getting this on Mac running Version:  1.3.1-nightly.217012.67a05de

[2021-02-24 21:34] #5676 closed

[2021-02-24 22:08] carlosscastro opened #5942 "Custom action sample should not duplicate schemas"
Currently, schema merge fails when the custom action sample is added. Change the csproj of sample custom actions in legacy runtime so that they include schemas only once. To do this, 2 things need to happen:

1) schemas are added in a single place

[code]
2) In the propertygroup where TargetFramework is defined, add this to remove duplication

[code]

[2021-02-24 22:12] carlosscastro opened #5943 "Package manager: When a package is being uninstalled, the modal says 'installing package' instead of 'uninstalling package'"

[2021-02-24 22:14] Stevenic opened #5944 "Update C# "customaction" project to include proper nuget settings"
When you eject your runtime in Composer you get a prebuilt "customaction" project which you can use to add custom actions to your project.  That works fine as long as your actions run within that one runtime. If you'd like to share your actions across multiple projects you'll need to upload them as package to nuget.  Unfortunately, you can't just take your customaction project, rename it, publish

[2021-02-24 22:15] benbrown commented on #5938
This is due to the fact that the conversational core packages required by this module are published in a private feed that Composer cannot access.

Once they are published publicly, this should work.

[2021-02-24 22:40] srinaath commented on #5918
@garypretty  thats correct. If warning ct > 0 it shows that button. If errorCt>0 the same way.

[fix: debug panel UX improvements by alanlong9278 · Pull Request #5928 · microsoft/BotFramework-Composer (github.com)](https://github.com/microsoft/BotFramework-Composer/pull/5928/commits/be576eb4c0b90003e75db7f9ae1a7d3914aa51bf)

[2021-02-24 22:43] benbrown commented on #5935
The root cause of the issue described by Carlos above is that the `reloadProject` method does not properly use the latest settings provided by the server.

@srinaath can point to the specific error in the code.

[2021-02-24 22:46] benbrown opened #5946 "Add telemetry tracking to channel enablement"
Need to add telemetry events to the channel enablement section of the settings.

[2021-02-24 22:47] benbrown opened #5947 "Add telemetry to package manager"
We need to add telemetry events to package manager.

[2021-02-24 22:49] benbrown opened #5948 "In new create flow, default name for new projects if long and unwieldy"
The default project name for the bot is based on the template name.

However, with the new templates that have names like "@microsoft/generator-microsoft-bot-calendar" we end up with very long and awkard default names!

We should update the new creation flow to use the "display name" as the default name, so something like "empty_bot" instead of "_microsoft_generator_microsoft_bot_empty"

[2021-02-24 22:59] #5919 closed

[2021-02-24 23:27] JaskeeratBedi-cmk opened #5949 "Provision failure: Resource group name"
![Screen Shot 2021-02-24 at 3 21 28 PM](https://user-images.githubusercontent.com/67944302/109079766-447a7900-76b4-11eb-8178-ba6eced2cdbf.png)

## Describe the bug

I get this error after I have entered all details for creating a new publishing profile. While entering the 'Resource Group name' I do not get any error validation. Therefore, I do not know that in the future my provisioning will fail

[2021-02-24 23:41] JaskeeratBedi-cmk commented on #5894
![Screen Shot 2021-02-24 at 3 38 20 PM](https://user-images.githubusercontent.com/67944302/109080980-5a893900-76b6-11eb-8897-3a740163c130.png)

@Dewain27 we already pre-select the resources that are optional to the user, so that the check boxes in the list are visible. This is the list pattern that Fluent uses, wherein if the user selects out the check box becomes invisible, but appears when user

[2021-02-24 23:57] Rekeyea commented on #5856
Awesome! It worked!
Thank you all.

[2021-02-25 00:02] #5856 closed

[2021-02-25 00:08] srinaath commented on #5935
[https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/client/src/recoilModel/dispatchers/project.ts#L468](https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/client/src/recoilModel/dispatchers/project.ts#L468)

Essentially the fix that needs to be made is it continues to use the settings fetched from the server project data. Merge the sensitive

[2021-02-25 00:22] #5751 closed

[2021-02-25 00:23] benbrown opened #5951 "bug: yeoman env will fail during startup if npm is missing"
## Describe the bug

Our call to create the yeoman environment object in the constructor of the asset manager class will cause a failure during startup if npm is missing.

## Solution

* Move the instantiation of the yeoman object into the functions where it is used
* Capture the error and make sure we inform the user that it is due to missing npm requirement

[2021-02-25 00:32] sangwoohaan opened #5952 "Blue text buttons' inconsistent hover states in LG Response editor"
## Describe the bug

![Screen Shot 2021-02-24 at 4 23 10 PM](https://user-images.githubusercontent.com/50963385/109084814-5876a880-76bd-11eb-802d-178333e39dc8.png)
![Screen Shot 2021-02-24 at 4 23 13 PM](https://user-images.githubusercontent.com/50963385/109084879-78a66780-76bd-11eb-9499-f35476ea619f.png)

The blue input hint button's hover state is dark gray

![Screen Shot 2021-02-24 at 4 23 20 P

[2021-02-25 02:47] luhan2017 commented on #5893
This hostname bug is fixed in #5741

[2021-02-25 02:47] #5893 closed

[2021-02-25 03:02] hatpick commented on #5952
@sangwoohaan
We can add custom coloring to it but FYI they are different component from Fabric with their default hover state colors.

[2021-02-25 05:29] yeze322 commented on #5918
@garypretty @srinaath it will show both Error and Warning button.
For example 1 Error, 0 Warning

[2021-02-25 06:07] hibrenda opened #5954 "Provision Editing : resource group"
For current provision wizard, we need to provide more features for Resource Group
- Resource Group can be selected from existing
- Resource Group can accept the to "create new"
- Resource Group name should have more check before proceeding to the next step

Current :
![image](https://user-images.githubusercontent.com/43408889/109111608-32f8a600-7774-11eb-8f3a-2a27404fdecb.png)

Expected :
![image]

[2021-02-25 06:09] zhixzhan commented on #5918
font applied in #5926

[2021-02-25 06:16] hibrenda opened #5955 "provision editing : Region"
For provision wizard, we did not serialize region in publish profile.
User need to select it every time when  user wants to add more resources to existing profile.

We'd better remember what region has been chosen if user has already done it. This should include luis region as well.
![image](https://user-images.githubusercontent.com/43408889/109111425-d8f7e080-7773-11eb-9f59-65b49c0cd5c0.png)

[2021-02-25 06:29] hibrenda opened #5956 "Provision failure (log) should be visible inside composer"
For current provision process, if any error hit , we pop up following error :
![image](https://user-images.githubusercontent.com/43408889/109112275-52dc9980-7775-11eb-9736-ff0a953c3899.png)

User need to go to the corresponding directory to find out the provision log.
We'd better show it in composer UI.

Option 1: May similar to publish profile log showed in publish page
Option 2: May leverage new

[2021-02-25 08:12] luhan2017 commented on #5921
fixed in #5741.

[2021-02-25 08:12] #5921 closed

[2021-02-25 08:18] ysnoek2 commented on #5448
@luhan2017 I do have this setting already set:
![image](https://user-images.githubusercontent.com/76207835/109123626-5a3a7d80-774a-11eb-95df-2d526c6d7e97.png)

[2021-02-25 08:58] Danieladu opened #5958 "Debug panel issue"
1. Overlay of the debug panel
![bug1](https://user-images.githubusercontent.com/7289268/109128429-75c57880-778a-11eb-9264-f602c50b405b.gif)

2.  Can not minimize the debug panel. Does it by design?
![bug2](https://user-images.githubusercontent.com/7289268/109128436-765e0f00-778a-11eb-9581-0375b99fa8ef.gif)

[2021-02-25 09:30] hibrenda opened #5959 "Partial provision failure & publish profile update"
If error hit during provision process, user will get the notification but the publish profile will not be updated.

- Click edit to update existing publish profile
- Go through the wizard to create new resource group or webapp service
- hit errors during provision process
- publish profile will not be updated (subscription, resource group, hostname info etc...)
- once user click the edit , user ne

[2021-02-25 09:33] hibrenda opened #5960 "Provision editing : no resource is needed for provisioning"
If user has already created all the resources, user will hit following white page.
![image](https://user-images.githubusercontent.com/43408889/109132859-449b7700-778f-11eb-9ec1-576a808773d5.png)

we need to let user know there is no resource to be added and gray out "next" button as well for preventing user to go next.

[2021-02-25 09:35] #5832 closed

[2021-02-25 10:02] ysnoek2 commented on #5448
@luhan2017  changing it to ["*"] removed the error but still: "" is not a valid LUIS application id

[2021-02-25 10:47] garypretty opened #5962 "LG Editor: 3 issues when removing tabs from the editor"
Three issues when removing tabs from the LG editor.

1. Some of the tabs cannot be removed.  This seems to be Text / Speech / Suggested Actions

![LG Editor - Cannot Remove Tabs](https://user-images.githubusercontent.com/3900649/109141603-d25a7080-7755-11eb-9ac9-8d086f1f3067.gif)

2. When removing an Attachments tab, the tab is removed but then an error is shown.

![LG Editor - Remove Tab Error](h

[2021-02-25 12:15] BeheraMadan commented on #5687
Hi,

Thank you for providing the solution. We will try the solution in our bot and let you know shortly.

Thanks...

[2021-02-25 13:45] Dewain27 commented on #5956
@garypretty should these errors and debug logs be surfaced in the new debug console?

[2021-02-25 14:26] benbrown commented on #5955
There is already a place in the settings for the luis region.

[2021-02-25 15:13] Dewain27 commented on #5895
#5954 duplicate

[2021-02-25 17:22] goergenj commented on #5354
@luhan2017 Can you make sure to update the template in the Publishing Profile create to incl. this setting? Current nightly does not have this properly set:

{
  "name": "<unique name in your subscription>",
  "environment": "dev",
  "runtimeIdentifier": "win-x64",
  "settings": {
    "applicationInsights": {
      "InstrumentationKey": "<Instrumentation Key>"
    },
    "cosmosDb": {
      "cosmo

[2021-02-25 17:35] srinaath commented on #5958
@Danieladu  this will be resolved once [fix: debug panel UX improvements by alanlong9278 · Pull Request #5928 · microsoft/BotFramework-Composer (github.com)](https://github.com/microsoft/BotFramework-Composer/pull/5928) is merged. Most likely tomorrow's nightly.

[2021-02-25 17:40] srinaath commented on #5932
We will try reproing this error @peterswimm . We thought we resolved it.

[2021-02-25 17:42] tonyanziano commented on #5932
@peterswimm can you try reproducing this after starting Composer from the terminal with the following environment variable set:

`DEBUG=composer*`

You should see a lot of output in your terminal when you run Composer. It would be helpful if you could repro this issue and post the log output here. It should show us the behavior of the app updater.

[2021-02-25 17:48] srinaath commented on #5910
@v-kydela What happens if you copy the entire Show Code section into VSCode JSON file. Does it show the same warnings?

@luhan2017 I see you had updated the typo in the schema name here [Update the TelemetryTrackEvent name by luhan2017 · Pull Request #4820 · microsoft/botbuilder-dotnet (github.com)](https://github.com/microsoft/botbuilder-dotnet/pull/4820). Could you check on this ticket.

[2021-02-25 17:53] srinaath commented on #5905
@boydc2014 

At a minimum we need to resolve a bug here as the entire SDK schema is supplied to the Settings component. 

What do we think about supplying a schema for the settings or pushing a change to create one as the right fix for the ticket.

![](https://user-images.githubusercontent.com/13004779/109195263-27df4f00-774f-11eb-8200-980548028dc7.png)

[2021-02-25 17:55] srinaath commented on #5902
This is fixed on the latest main.

[2021-02-25 17:55] #5902 closed

[2021-02-25 17:56] a-b-r-o-w-n opened #5965 "[extensions] make it easier for extensions to access the monaco editor"

[2021-02-25 18:34] thomas-chung opened #5966 "Unclear which C# runtime to get"
## Describe the bug

When obtaining the custom runtime via the settings page. There are two C# runtime available to choose from without detail. It's unclear which to choose from

## Version

                Bot Framework Composer

                Version:  1.3.1-nightly.217293.c1e5de3
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0

[2021-02-25 18:51] a-b-r-o-w-n commented on #5910
@v-kydela This is a product of the implementation of the sdk schema. @chrimc62 @tomlm may have some suggestions on how to surface errors like this better, but I'm concerned about the change that would be required to the schema.

Per @luhan2017 suggestion about the workaround, the schema does not specify `Microsoft.TrackTelemetryEventAction` but rather, `Microsoft.TrackTelemetryEvent`. The workarou

[2021-02-25 19:26] congysu commented on #5412
@cwhitten could you please update our customer during an incoming release?  Thanks.

[2021-02-25 19:27] congysu commented on #5719
@garypretty could you please take a look at this ask from our customer?  Thanks.

[2021-02-25 19:29] congysu commented on #5743
@joshgummersall could you please take a look at this one?  Thanks.

[2021-02-25 19:30] #5951 closed

[2021-02-25 19:47] v-kydela commented on #5910
@srinaath - Yes, the same warnings are in VS Code. It seems the problems are in the schema itself rather than Composer.

@a-b-r-o-w-n - To be clear, the distinction between `TelemetryTrackEvent` and `TelemetryTrackEventAction` is irrelevant in this case because the same error will show up in both cases. The schema doesn't seem to recognize either of them as valid.

[2021-02-25 20:00] scheyal commented on #5843
My understanding is that this is normal flow.
Create QnA kb in composer and publish (or connect and publish).
The bot is running as expected in composer. It shouldn't fail the publish.

I think we have a primary scenario that's failing.

[2021-02-25 20:25] sangwoohaan opened #5967 "1 pixel gaps in many places"
## Describe the bug

There are 1 pixel gaps and stroke misalignments in various places.

**In the Design view**
![Frame 616431](https://user-images.githubusercontent.com/50963385/109212377-4bf95b00-7764-11eb-85ea-e1b1e889145f.png)

**In the project tree**
![Frame 616441](https://user-images.githubusercontent.com/50963385/109212421-5c113a80-7764-11eb-84b5-0fdae4969893.png)

**In the left navigation

[2021-02-25 20:33] sangwoohaan opened #5968 "Indent in monaco editors in Design view"
## Describe the bug

![Frame 61645](https://user-images.githubusercontent.com/50963385/109213510-89121d00-7765-11eb-92a5-334ece792d84.png)
There is this indent in monaco editors in Design view.

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## Expected behavior

![Frame 61647](https://user-images.githubusercontent.com/50963385/109213568-9a5b2980-7765-11eb-904c-e46f632e1f66.png)
We don't need that

[2021-02-25 20:44] carlosscastro opened #5969 "Package manager + runtime: I should not be allowed to install packages while my bot is running"
If you try to install a package through pacakge manager while the bot is running you get an unclear build error. If the bot is running, package installation should not be allowed.

[2021-02-25 20:50] congysu commented on #5743
@cwhitten could you please ask a team member take a look at this?  Thanks.

[2021-02-25 21:14] congysu commented on #5879
@garypretty could you please take a look at this one?  Thanks.

[2021-02-25 21:20] mewa1024 opened #5971 "Error and warning counter at top of page should be for all bots in the project"
## Describe the bug

The error and warnings counter in the upper right corner should be global, rather than scoped to the bot that is selected in the project tree. If it is scoped, it hides errors that are in other bots/skills.

## Version

Version:  1.3.1-nightly.217293.c1e5de3
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution

[2021-02-25 21:39] scheyal opened #5972 "Design change request: Remove error/warning indicators when none present (don't show 0)"
I think this UI is unecessarily alarming about nothing. If no errors or warnings, why present alarming icons?

![image](https://user-images.githubusercontent.com/8867670/109222993-de066100-776e-11eb-8a75-efd40c41890f.png)

[2021-02-25 21:46] mewa1024 opened #5973 "Bot Manager is missing link to Learn more when a bot fail to run"
## Describe the bug

The Bot Manager drawer does not provide a link for more information when your bot fails. Previous versions did include a link.

## Version

Version:  1.3.1-nightly.217293.c1e5de3
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Wi

[2021-02-25 21:48] scheyal opened #5974 "Bugbash (private): Eject runtime, eject again - prompt ask to stop runtime but runtime not started"
If you click to eject runtime, then uneject, re-eject you get a prompt suggesting to stop runtime. But I'm not aware of runtime starting (what does it mean for a runtime to start other than the bot running)? Bot was never run at this point.

![image](https://user-images.githubusercontent.com/8867670/109223605-aa780680-776f-11eb-9d22-9048eeaa40c8.png)

[2021-02-25 21:48] chrimc62 opened #5975 "Form generation fails when done more than once"
## Describe the bug

If you create a form, generate and then hit the generate again generation will fail.

## Version

![image](https://user-images.githubusercontent.com/17637681/109223761-e0b58600-776f-11eb-92a8-97856e94fca5.png)

## OS

- [ x] macOS
- [x ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Enable forms preview
2. Create a form
3. Hit generate
4. Hit gene

[2021-02-25 21:49] tsuwandy opened #5976 "Bug Bash v1.3.1 - starting with existing english only bot, but multilingual model is being downloaded"
## Describe the bug
Using nightly build v1.3.1
1. Open Eyal's School Navigator bot which is English only bot
2. Start bot
3. Once model is downloaded (start bot status is now 'Starting bot...', go to %APPDATA%\BotFrameworkComposer\models

Expected:
Only english model folder

Actual:
English and multilingual model folders are created

## Version
1.3.1

## Browser

- [ ] Electron distribution
- [ ]

[2021-02-25 21:59] benbrown commented on #5934
![u7O59GTAEj](https://user-images.githubusercontent.com/729873/109225116-76f2a780-7782-11eb-9745-6d28662cd31a.gif)

for you

[2021-02-25 22:04] srinaath opened #5978 "Diagnostics location navigation issue"
## Describe the bug
1. Create a root bot.
2. Add a skill.
3. Create an error in LG such that it shows up on the diagnostics pane for both the root bot and skill
3. Navigate to the location of skill error from the diagnostics. It works fine.
4. Navigate to the error in the root bot.

We get an unhandled exception.
![Screen Shot 2021-02-25 at 2 03 45 PM](https://user-images.githubusercontent.com/130

[2021-02-25 22:12] srinaath commented on #5973
Great catch @mewa1024 . Minor regression introduced in my PR before.

[2021-02-25 22:28] #5975 closed

[2021-02-25 22:29] scheyal opened #5979 "Bugbash (private): Runtime language selection have duplicate C# entries"
From private daily build?

![image](https://user-images.githubusercontent.com/8867670/109227825-cb435a80-7775-11eb-82c1-984d54fc0af4.png)

[2021-02-25 22:43] daveta opened #5981 "Bug Bash v1.3.1 - restart bot fails - no detailed errors"
## Describe the bug

Using ToDoLuisSample with multilingual, it worked.  However, when adding Orchestrator recognizer, I restarted bot and it fails.
Building the `azurewebapp` manually works:
[code]
Also, `dotnet run` also works (and I can hit the bot in the emulator).

## Version

v1.3.1

## Browser

- [X ] Electron distribution

## OS
- [X] Windows

![image](https://user-images.githubusercontent

[2021-02-25 22:43] scheyal opened #5982 "Bugbash(private): common.lu is not showing up in editor or triggers, but it is on disk"
Build: Private daily (Tai)

Scenario:
* Use & import common.lu in dialog \[import]\(.language-understanding/en-us/common.lu)
* Import entry shows empty in editor, triggers are also empty
* File on disk looks good.
* This worked on 1.3.1 (no change in bot, just updated composer build).

![image](https://user-images.githubusercontent.com/8867670/109229048-a18b3300-7777-11eb-8bab-9babc817d1f8.png)

!

[2021-02-25 23:00] JaskeeratBedi-cmk opened #5985 "v1.3.1- Publish bot to PVA not working"
![publish to PVA](https://user-images.githubusercontent.com/67944302/109230598-f760da80-7779-11eb-8203-85d36155ee27.gif)

## Describe the bug

When I select Publish target as PVA and hit next I get an blank screen with a loader but nothing happens.

## Version

v.1.3.1

## Browser

- [ ] Electron distribution

## OS

- [ ] macOS

## To Reproduce

## Expected behavior

## Screenshots

## Additional

[2021-02-25 23:08] tsuwandy opened #5986 "Bugbash v1.3.1 - can we have a way to cancel bot startup (cancel/stop button)?"
For orchestrator based bot with large language model size, it takes quite a while to start a bot, while this is happening, Composer is basically stuck in that state and there is no way to cancel it to pick a different bot or change settings, etc.

Would be nice to have a way to cancel bot starting process.

[2021-02-25 23:28] #5952 closed

[2021-02-25 23:30] emivers8 opened #5987 "Copy updates for creation modal"
## Describe the bug

1) Should say "Select a template" rather than "Choose a template for your bot".
2) Description copy should have a period at the end.

## Version

v1.3.1 special creation release

## Browser

- [ ] Electron distribution

## OS

- [ ] macOS

## Screenshots

![image](https://user-images.githubusercontent.com/55601267/109232698-91765200-777d-11eb-9cbc-1744709cee66.png)

## Additio

[2021-02-25 23:44] benbrown opened #5988 "The orchestrator package does not show up as installed even though it is"
## Describe the bug

After installing orchestrator via package manager, it is correctly installed, however does not appear in package manager.

This is because the dialog merge process does not find a schema file, and it is thus excluded.

## Version

nightly

[2021-02-25 23:50] mewa1024 opened #5989 ""Start bot" buttons says "Restart bot" even when all bots have failed"
## Describe the bug

When I have a bot project that has multiple bots, the start bot says "Start all bots". If all my bots fail, the button changes to "Restart all bots (0/x running)". At a glance, this implies that some bots in my project are running.

## Version

Bot Framework Composer

Version:  1.3.1-nightly.217293.c1e5de3
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-el

[2021-02-25 23:54] mewa1024 commented on #5989
Sorry--I just noticed that it happens with single bots too:
![image](https://user-images.githubusercontent.com/39317542/109234982-a0f79a00-7781-11eb-96ff-365b9892e6c1.png)

When I close the bot manager, the button still says "Restart bot" implying that the bot is running, but it is not.

[2021-02-25 23:59] hcyang opened #5990 "Bugbash V1.3.1 pass Composer debug flag to Orchestrator lib"
Composer can enable debugging mode. Expect that flag passing to underneath bf-orchestrator library.
Currently that can be done by the statement below. bf-orchestrator should expose a method for that instead of a variable flag.

Utility.toPrintDebuggingLogToConsole = true;

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-02-26 00:06] mewa1024 opened #5991 "Webchat control is missing helper text in the message input area"
## Describe the bug

The field where the user types in a message is missing helper text. For parity with Emulator, it should say "Type your message".

## Version

Bot Framework Composer

Version:  1.3.1-nightly.217293.c1e5de3
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

##

[2021-02-26 00:54] v-kydela commented on #5808
@Dan-Bai - How did you export the runtime?

[2021-02-26 01:13] hcyang opened #5993 "Bugbash v1.3.1 Composer UI will become frozen if it runs some long, intense task, such as calling bf-orchestrator to create a large snapshot file"
## Describe the bug

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-02-26 01:42] hcyang opened #5994 "Bugbash v1.3.1 Composer cache Orchestrator base models to a default C: drive location. Please make the location configurable to other drive as C: drive can be small and valuable."
Composer cache Orchestrator base models to the location below, which is usually in the C: drive. Please make the location configurable to other drive as C: drive can be small and valuable.

%APPDATA%\BotFrameworkComposer\models

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2021-02-26 01:45] #5931 closed

[2021-02-26 02:26] yeze322 commented on #5971
The new bug fix branch is not included in this build, it will be updated in #5918

[2021-02-26 02:26] #5971 closed

[2021-02-26 02:44] yeze322 commented on #5877
The debug panel part is tracked in #5928

[2021-02-26 02:48] #5918 closed

[2021-02-26 03:41] yeze322 opened #5996 "Advanced diagnostics - Action Policy, SDK schema validation"
## Describe the bug

Extend diagnostic data scope to support
1. Action Policy `$policies` should be validated and generates diagnostics data
2. Should validate existence of $kind in sdk.schema. When $kind 'X' was created based on schema v1, after updating to schema v2 where 'X' was removed, there should be an error to alert the potential runtime error in Debug Panel.
    (especially after we suppo

[2021-02-26 03:48] VanyLaw opened #5997 "PVA not work in provision"
## Describe the bug
keep loading when I select PVA in provision modal.
![image](https://user-images.githubusercontent.com/21174180/109252399-6f85d980-7828-11eb-91bf-1164fca2afcd.png)
![image](https://user-images.githubusercontent.com/21174180/109252376-5bda7300-7828-11eb-9cdf-0d1ada7097c3.png)

## Version

in main branch

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Fire

[2021-02-26 04:02] #5935 closed

[2021-02-26 04:07] yeze322 commented on #5958
closed by #5928

[2021-02-26 04:07] #5958 closed

[2021-02-26 04:09] yeze322 commented on #5901
@cwhitten The `Custom Recognizer` is not a SDK $kind, it's a preserved option for creating arbitrary Recognizer by inputting json.

Do you think we can remove it in both Composer and PVA since we already have the 'recognizer' uischema?

[2021-02-26 04:17] yeze322 commented on #4779
This problem is relieved a lot after our perf optimization work. Thanks to Leilei @lei9444

[2021-02-26 04:17] #4779 closed

[2021-02-26 04:25] yeze322 commented on #5395
Only one remaining work to do to close this issue - make Flow Editor layouter compatible with customized Action

[2021-02-26 04:49] rahul-8437008949 opened #5998 "Unable to send response as well as use many other features"
## Describe the bug
Whenever i try to write anything in the send response dialog or bot responses a message comes to screen whuch says (Something went wrong)
![Screenshot 2021-02-26 095638](https://user-images.githubusercontent.com/54345729/109256499-1dd75200-781c-11eb-84e0-1ac80b031cf2.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

##

[2021-02-26 05:35] yeze322 commented on #5395
addressed in #5999

[2021-02-26 05:38] yeze322 commented on #4935
Supported in the latest release. Refs: #5999 , https://github.com/microsoft/botbuilder-dotnet/pull/5099

[2021-02-26 05:38] #4935 closed

[2021-02-26 05:50] yeze322 commented on #5972
yes, we do have a design update on that.Addressed in #5928

[2021-02-26 05:50] #5972 closed

[2021-02-26 05:53] yeze322 commented on #5966
@luhan2017 @VanyLaw @benbrown

[2021-02-26 05:56] yeze322 commented on #5915
#5928

[2021-02-26 05:56] #5915 closed

[2021-02-26 05:56] yeze322 commented on #5916
#5928

[2021-02-26 05:56] #5916 closed

[2021-02-26 07:09] boydc2014 opened #6001 "Form input is blocked by auto suggestion view"
## Describe the bug

![image](https://user-images.githubusercontent.com/3829387/109267389-76bae080-7844-11eb-8273-95dd0077c5dc.png)

## Version

lastest main

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

In any expression field, if the form input is close to the bottom, whenever a = is ty

[2021-02-26 08:08] #5991 closed

[2021-02-26 08:28] lei9444 opened #6003 "The project tree in diagnostic page doesn't work"
## Describe the bug
![diagnostic](https://user-images.githubusercontent.com/39758135/109275423-b20edc80-784f-11eb-8145-cfe934f35caa.gif)

## Version
main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down

[2021-02-26 10:14] BeheraMadan opened #6006 "'QnAMaker Dialog' action's active learning property customization"
Hi,

We have used 'QnAMaker Dialog' action to connect the QnaKnowledge base.
![image](https://user-images.githubusercontent.com/70739031/109284060-7242f780-7845-11eb-8de9-9ab61fab22cf.png)

It has one property related to active learning which provides suggestions to the user at sometimes. Please find below screenshot for the reference.
![image](https://user-images.githubusercontent.com/70739031/10