[2021-12-14 16:33] amitabhuddi opened #8856 "Unable to publish Azure bot though 'Import existing resources' alternative"
## Describe the bug
I am attempting to use existing resources and you are encountering the ENOTFOUND error while attempting to publish to a newly created Azure Bot. MS support has tried to help but it is a bug that needs to be investigated further than support team.

## Version
Version:  2.1.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser
- [x] Chrome

[2021-12-14 16:46] owenpww commented on #8831
Hello @benbrown are there any updates on your side? I am concerned of the depth of the impact since I'm not quite sure where the issue is coming from and what it affects.

[2021-12-14 16:48] shrutinehra commented on #8812
Even I am facing the same issue. Sometimes content URL is blank in the teams and sometimes it works fine.
I am using bot composer 2.0.0. (Windows OS) , C#, I tried pdf, word document but was not able to find the pattern when it's failing and when it's passing.

The only thing for sure is when a word document has "+" in the name it's failing all the time but without it also it fails sometimes.

![i

[2021-12-14 16:51] benbrown commented on #8831
I don't have any new info, but I can assure you that neither Composer itself nor the BF cli tools  make any changes to your Azure tenant settings or anything like that. The only resources that are involved are those that are explicitly listed in your configuration, and only to configure the bot.

[2021-12-14 17:26] owenpww commented on #8831
Do you think the tenant-related parameters could have changed the settings on our subscription (and subsequently the resources in it)? I think that is possible given what you have said and the details required for the Azure CLI [commands](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp%2Cuserassigned).

[2021-12-14 17:31] benbrown commented on #8831
What tenant-related parameters are you referring to?

[2021-12-14 19:05] gabog commented on #8724
Closing this one since it seems to have been a sporadic issue

[2021-12-14 19:05] #8724 closed

[2021-12-14 19:08] gabog commented on #8777
Hi @snbuchholz closing this one based on the workaround provided by @daveta, feel free to re-open if you are still experiencing issues.

[2021-12-14 19:08] #8777 closed

[2021-12-14 19:12] gabog commented on #8824
This should be addressed in the upcoming 4.15.1.

[2021-12-14 19:12] #8824 closed

[2021-12-14 19:17] owenpww commented on #8831
From rereading the doc, it seems like tenant ID but with that alone couldn't the other parameters (ex. tenant type: single-tenant, multi-tenant) affect the settings on the tenant?

[2021-12-14 19:24] gabog commented on #8854
Hi @RamyaKumar23, can you please try this from a different browser or an in-private session?

Also, try to uninstall the nighly build of composer and install the released version from https://github.com/microsoft/BotFramework-Composer/releases/tag/v2.1.1

[2021-12-14 22:44] anishprasad01 commented on #8829
@dinobrago

Did you have the chance to test?

[2021-12-14 23:34] anishprasad01 commented on #8843
I was able to reproduce this issue. I will attempt to see if any workarounds or solutions already exist.

[2021-12-15 00:49] stevkan commented on #8790
@rvinothrajendran, unfortunately, I am unable to repro the issue you are encountering using your code. Every time I click "Help" the bot responds accordingly.

Can you verify you are including your LUIS credentials in Configure => Development resources?

Also, I noticed a warning listed for the "Set a property" action in the Unknown intent trigger. Instead of having

`${turn.Activity.Value["action

[2021-12-15 01:03] stevkan commented on #8841
@gitathrun, I haven't tested the custom publish extension, yet. I will take a look at it and get back to you.

[2021-12-15 01:14] dinobrago commented on #8829
I reproduced the problem with a simple Echo Bot.
1. Create an empty bot in composer.
2. Add a new trigger for Message Received.
3. Echo back You said: ${turn.activity.text}
4. Test the bot locally using the emulator.
5. Set the Language Understanding to "Regular Expression"
6. Set up a publish profile to Azure
In the publish profile, create a new resource group, use only the minimal components but

[2021-12-15 04:58] johnkm516 commented on #8836
@lauren-mills
Sorry for the continuous posts. I'm trying to find out if there's a "correct" way to stop the template from breaking when adding remote skills to the root bot.

After digging through the project files, I uploaded the project that worked successfully locally (before adding any remote skills) onto a private git repository, and then began tracking changes as I started adding remote skil

[2021-12-15 14:09] RamyaKumar23 commented on #8854
Thanks!! @gabog, It worked

[2021-12-15 16:42] lauren-mills commented on #8836
I do think this is a bug or rather a mis-designed aspect of remote skills that it doesn't properly handle the skill's LU. I will review your messages and see if I can come up with any consistent work arounds for this, or more details so we can get them added to the backlog.

One note on the Enterprise Templates as I had a hand in building those, they were not built to rely on remote skills, but lo

[2021-12-15 17:17] csmuthukuda opened #8858 "Is there a way to create a custom Input type with Input Dialog"
I have a requirement to detect a custom user input(WhatsApp location). I tried using existing input types such as text, number with custom validations but it doesn't recognize the location shared as an Input.
I'm using this community adapter (https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/master/libraries/Bot.Builder.Community.Adapters.Infobip.WhatsApp#incoming-whatsapp-me

[2021-12-15 19:07] benbrown commented on #8814
@MCKRUZ - I reached out to you via email to see if we can schedule time to screen share and hopefully get to the bottom of this. Let me know if you didn't get that!

[2021-12-15 19:20] tdurnford commented on #8850
@f14eagle This is most likely caused by a DNS/SSL issue or a network proxy issue. Can you:

1. Try to reboot, they might have some DNS/SSL certs in a cache
2. Check to see if there is  a network proxy or restricted internet access

[2021-12-15 19:23] gerald560 opened #8859 "2 questions: Bot State and SMS Transcripts"
[code]

1. How does it hold state? and for how long? is it configurable? where is stored?
2. When SMS convos are happening where is the transcript stored (blob shows only web chat)? (SMS Service is Azure communication)

[2021-12-16 02:04] f14eagle commented on #8850
@tdurnford since I'm not able to change the corp network environment, is there any other way to resolve this issue?

On Windows I can use below command to bypass the tls issue

C:\Windows\System32\cmd.exe /c "SET NODE_TLS_REJECT_UNAUTHORIZED=0&& START ^"^" ^"C:\Program Files\Bot Framework Composer\Bot Framework Composer.exe^" --remote-debugging-port=8881"

Is there similar way on MAC?

[2021-12-16 09:04] metkhoo commented on #8814
I could also show you. Will make time for this if you want

[2021-12-16 10:59] infyrohan commented on #8846
Hi @tonyanziano,

I am getting same error from today, while logging into Bot composer with work email. Can you please check it and get resolved earliest?

[2021-12-16 13:21] Gupta-Keshav-001378461 commented on #8848
Hi @gabog I am facing the same problem again today.  can someone look at it.

[2021-12-16 14:03] HarshitSingh11 opened #8860 "bot framework"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-12-16 14:54] poojarkpatel opened #8861 "Azure account Login Issue when trying to publish the bot from Bot Framework Composer"
When I try to publish the bot from Bot Framework Composer with ID assigned by my organization, it gives me following error message.
[code]
However, I am able to login and access my Azure account from portal.azure.com

I have faced this issue several times

[2021-12-16 15:27] shesob commented on #8848
@gabog It was working again and since I saw that it wasn't working again for someone else, I checked it and it's giving me that same error again

[2021-12-16 15:38] sinnypan commented on #8379
Sorry, I also faced the same issue, did we found the root cause or any plan to fix it?

[2021-12-16 15:55] anishprasad01 commented on #8843
@clearab,

Do you happen to know if this is a known Teams issue or implementation pitfall? It doesn't appear to affect other channels.

[2021-12-16 15:57] anishprasad01 commented on #8829
Interesting. When I test publishing, the `publishTargets` are never updated by Composer. In fact, the blob connection details are never added there at all.

[2021-12-16 16:24] mhtmht commented on #8379
Yes actually I am. Weirdly this was not a problem with any of the other environments under the same multi tenant setup.

But just to report back on the issues we were having. All the problems have magically disappeared during the time away the component in question. No deployment issue anymore. Also why things now work and didn’t a week ago is shrouded in mystery. No changes to the setup or method

[2021-12-16 16:35] delafu commented on #8861
I have the same problem. Is there any work around?

[2021-12-16 16:42] shrutinehra commented on #8812
@stevkan Were you able to reproduce the issue?

[2021-12-16 17:53] clearab commented on #8843
I haven't heard anything

- is the app actually installed using an app package? (not just sending a proactive message and/or talking to the bot by ID)
- is the AAD app or bot registration getting re-used between a bunch of apps (common in the dev/test cycle)?
- is there anything consistent about when it repro's? particular type of user maybe?
- Is there anything consistent about when it works succ

[2021-12-16 17:57] anishprasad01 commented on #8843
Ah, I didn't install it as an app package, so perhaps that's the issue. I will try that and attempt to repro again.

[2021-12-16 18:01] dmvtech commented on #8825
Hi @yodanielo

In your bots `Advanced` settings (json view), you should find something like:
[code]

You would want both the authoring values entered but aslo the `endpointKey` and `endpoint` values for the prediction endpoint.

[2021-12-16 18:04] dmvtech commented on #8860
If you have an actual issue or bug, please enter pertinent information on the issue and steps to reproduces. I am closing this until that is available.

[2021-12-16 18:04] #8860 closed

[2021-12-16 18:10] delafu commented on #8861
Now It's working. Thanks!

[2021-12-16 18:21] dmvtech commented on #8829
@benbrown @tdurnford

Any ideas here? We are unable to reproduce the issue (as per Anish above, for us; publishTargets never gets modified to include the blob storage connection details). Do we know if the above behavior (replacing full connection string with just the key) is by design? Could it have to do with the parsing of the connection string (some special character in the string cause it to

[2021-12-16 18:39] anishprasad01 commented on #8859
Hi @gerald560,

I would advise you to take a look at the documentation to understand how various aspects of the bot framework operate. For example, here is the documentation on [managing state in bots](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-state?view=azure-bot-service-4.0). As far as SMS goes, I have no idea how you've set-up logging, but you could try to investiga

[2021-12-16 18:39] #8859 closed

[2021-12-16 18:42] anishprasad01 commented on #8858
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework).

The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

This issue will be closed, but if you have a bug or feature r

[2021-12-16 18:42] #8858 closed

[2021-12-16 18:59] dinobrago commented on #8829
If publishTargets never gets modified based on the runtime settings, I assume that the storage key was added when I first provisioned the bot. I haven't checked this yet but it should be easy to do.

[2021-12-16 20:14] dinobrago commented on #8829
Yes, I've verified that when Composer creates the publish profile and provisions Blob Storage, it puts the blob storage key in the ConnectionString publish setting rather than the actual connection string.

You are correct that it does not update the publish settings. It just happened that I was using the same blob storage so the key was already in the publish settings.

I don't see anything in th

[2021-12-16 20:24] saikumaru opened #8862 "Error occurred building the bot- Node runtime"
## Describe the bug

Unable to run the bot locally, composer throws below error.
[code]

Install the composer and create a empty bot with
(a) Node runtime
(b) Runtime Azure function
![image](https://user-images.githubusercontent.com/44021002/146443493-378513ce-3225-4241-9aba-8bc2dc14ee65.png)
![image](https://user-images.githubusercontent.com/44021002/146443537-c62c6812-f538-47ae-ba83-7b54a7832d0b

[2021-12-16 20:29] yodanielo commented on #8825
![image](https://user-images.githubusercontent.com/1326867/146444630-5a9d989b-2b54-404b-8b70-b9ab8b9c1715.png)

[2021-12-16 21:32] anishprasad01 commented on #8843
Can confirm I can repro.
- Tested with a bot installed with an app package in Teams and published in Azure
- Unique bot registration in a RG created just for this test.

@shrutinehra, Could you please provide more details as per Andrew's questions?

[2021-12-16 22:40] anishprasad01 commented on #8862
Hi @saikumaru,

I just created a simple Node Echo Bot in Composer, and it ran correctly.

I'm going to need more information from you before we can see if there is a bug here.

- What version of Node do you have installed?
- What OS and CPU architecture are you testing on?
  -  If you're using an M1 Mac or other arm64 machine, note that they are not supported by Composer. On those platforms, you w

[2021-12-16 23:11] dmvtech commented on #8850
hi @f14eagle Unfortunately I'm not a mac user and do not have a mac to test on, but my assumption is that you should be able to launch terminal (or other memory runspace) and supply commands to set the environment variable and launch Composer.

With a quick peek, it looks to me like there's no straightforward equivalent of the `set` command, but depending on how you need this configured, looks lik

[2021-12-16 23:39] dmvtech commented on #8823
hi @ridasaleem0 Is this still an issue for you? Are you able to share a repro or share any simple steps to reproduce the behavior?

[2021-12-16 23:55] dmvtech commented on #8839
Hi @ridasaleem0 Thank you for the follow up.

Can you expound more on this? Do you have multiple `Intent Recognized` triggers that have similar trigger phrases?

My apologies, I'm not quite understanding.

When the `x` intent is detected; that causes that trigger to run. Can you run whatever dialog that `y` trigger should run explicitly by using `Begin a dialog` action? You could even test off of

[2021-12-17 04:51] saikumaru commented on #8862
Thank you for your respose @anishprasad01 . Can you confirm that you have tested using Azure Functions as runtime and not Azure Webapp?

What version of Node do you have installed?
`v14.18.0`

What Windows version are you running?
`Windows 10 home- 10.0.19042 Build 19042`

What CPU architecture are you testing on?
`System type- X64 based PC`

If you're using an ARM machine, note that they are not

[2021-12-17 06:25] f14eagle commented on #8850
@dmvtech

I tried below command on my MAC but the variable is not passed to the Bot Framework Composer, and I'm not able to find any documentation about such situation for the Bot Framework Composer on MAC

NODE_TLS_REJECT_UNAUTHORIZED=0 & open 'Bot Framework Composer 2.0.0.app'/

[2021-12-17 11:21] z0h3 commented on #8843
@anishprasad01
Have the same problem on Ubuntu 20.04, Teams version 1.4.00.26453 amd64. I checked both web and app versions. In web version I don't have the error, but nothing happens after clicking on sign-in button. My bot was registered in AppStudio. I'm using Azure Active Directory V2 Identity Provider for OAuth for web app. I have only Teams channel.
I checked connection via "Test connection"

[2021-12-17 16:34] shrutinehra commented on #8843
is the app actually installed using an app package? (not just sending a proactive message and/or talking to the bot by ID) I tried with both directly talking to bot by Id and by installing it. Same problem

is the AAD app or bot registration getting re-used between a bunch of apps (common in the dev/test cycle)? No

is there anything consistent about when it repro's? particular type of user maybe?

[2021-12-17 17:58] anishprasad01 commented on #8862
Yes, that's correct. I used the Azure Functions runtime.

You do need to install the [Azure Functions Core Tools](https://www.npmjs.com/package/azure-functions-core-tools) prior to creating and building a bot with the Azure Functions runtime. Did you install this package, and did you do so in an elevated prompt?

As far as firewall rules goes, when you launch a bot for the first time, Windows will

[2021-12-17 18:56] saikumaru commented on #8862
Thank you. I shall try installing the AZ function core tools and see if it gets better results. Can you confirm which version of this tool I must install- V2 or V3?

Can you also let me know the specific documentation available for composer bot on AZ functions with Nodejs runtime. That way I have all the prerequisites. Else please let me know what all needs to be installed before I run this bot on

[2021-12-17 19:02] anishprasad01 commented on #8862
I installed with chocolatey. If that doesn't work, uninstall it and try V3 and/or V2.

As far as I am aware, All you should need is the standard Composer prerequisites and the core tools package. Make sure you use Admin rights to install the package.

[2021-12-17 19:11] a-b-r-o-w-n commented on #8809
@MatteoMUni your proposed fix seems reasonable. Can you submit a PR?

[2021-12-17 19:11] gabog commented on #8847
Closing this one due to inactivity, feel free to re-open.

[2021-12-17 19:11] #8847 closed

[2021-12-17 19:12] #8861 closed

[2021-12-17 23:42] dawwa opened #8863 "How to install the Composer Desktop App from script?"
We would like to provision dev environment from script, and I did try something like this, but it does not seem work.

[code]

Also, running the executable directly would not work either I guess, unless it could take some arguments for unattended installation.

[code]

[2021-12-18 00:28] dmvtech commented on #8823
Closing due to lack of reply. Please comment or reopen if assistance is still needed.

[2021-12-18 00:28] #8823 closed

[2021-12-18 00:33] dmvtech commented on #8825
@yodanielo Can you add your _prediction_ endpoint key to the `endpointKey` value and then test to see if you still get the same issue?

[2021-12-18 00:47] dmvtech commented on #8850
hi @f14eagle I'm not sure either. There is no way to add this type of configuration to Composer, unfortunately.

If you are going with this workaround, you need to figure out how to launch Composer in a runspace that will allow you to configure that environment variable. That is more of a MAC thing and you should pursue resources in that arena.

Otherwise, it might be a better route to discover wh

[2021-12-18 00:47] #8850 closed

[2021-12-19 10:56] SuryaKorivipaduPractice commented on #6905
I'm also looking for this feature.

[2021-12-20 02:58] f14eagle commented on #8850
@dmvtech

C:\Windows\System32\cmd.exe /c "SET NODE_TLS_REJECT_UNAUTHORIZED=0&& START ^"^" ^"C:\Program Files\Bot Framework Composer\Bot Framework Composer.exe^" --remote-debugging-port=8881"

With above command the NODE_TLS_REJECT_UNAUTHORIZED env variable can be passed to Composer successfully on Window. So do you mean there is no way to add this type of configuration to Composer for **macOS only

[2021-12-20 05:51] SuryaKorivipaduPractice commented on #3514
@ku222 I'm planning to implement Translation same like you. But I'm getting an error when trying to add package - Microsoft.BotFramework.Composer.WebAppTemplates.Translation

I've described my issue more clearly here in stackoverflow:
https://stackoverflow.com/q/70412469/17716558

Can you please help me where to find that package and how to remove "No package exists" error?

[2021-12-20 07:28] nikhsr commented on #8843
If you happen to be using Microsoft AD then in your teams manifest try adding the following two as a valid domain:
token.botframework.com
login.microsoftonline.com

@shrutinehra

[2021-12-20 11:32] SSanjeevi commented on #8501
@dmvtech - Schema merge seems to work after we delete the imported folder inside the schemas folder.

But bot fails on starting up getting error, please help.

`
"System.MissingMethodException: Method not found: 'Void Microsoft.Bot.Connector.Authentication.PasswordServiceClientCredentialFactory..ctor(System.String, System.String, System.Net.Http.HttpClient, Microsoft.Extensions.Logging.ILogger)'.

[2021-12-20 11:48] tanuj01 commented on #8501
I faced the same issue even after applying @collinsbenjw solution. Then I deleted the imported folder under schemas which is auto-generated and then ran the bash-script (update-schema.sh) which ran successfully.

Added `rm -rf "imported"` command in bash-script before `echo "Running schema merge."` so that I don't have to delete imported folder manually.

[2021-12-20 14:12] nicolas-martin-dte opened #8864 "How to persist bot state to CosmosDB using CI/CD?"
We have a Composer bot that we are not deploying manually via a publish profile, but instead followed the documentation here:
https://docs.microsoft.com/en-us/composer/how-to-cicd

However, that documentation does not describe how to get the Composer bot to write bot state to an existing CosmosDB container. I have tried setting app settings in the Azure App Service for `cosmosDb:authKey`, `cosmosD

[2021-12-20 14:31] shrutinehra commented on #8843
@nikhsr I already have those in the manifest but still, the issue is there.
![image](https://user-images.githubusercontent.com/10381482/146783177-b8a21df6-8174-45df-8586-7bd459fc33ec.png)

[2021-12-20 14:43] Patrick-Davis-MSFT opened #8865 "Misleading error message with .NET Core Framework SDK requirement message"
In the composer, when initializing a new C# Bot, in this case the enterprise people tutorial bot. I received an error message for .NET Core framework is required. When clicking on the link it takes me to the .NET Core 3.1 install page. However, installing this version of the SDK (both 64 and 32 bit) did not resolve the error message. Only after digging though the code did I discover that the Compo

[2021-12-20 15:44] shrutinehra opened #8866 "Adaptive Card triggered twice on click of button"
## Describe the bug

On click of submit button in adaptive card next action is called twice.

## Version
Version: 2.0.0
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS:12.13.0
V8: 8.0.426.27-electron.0

## Browser

Chrome, Safari

## OS

macOS, Windows

## To Reproduce

Steps to reproduce the behavior:
Have the below adaptive card in bot composer

[code]

## Expected behavior

Submit button should tr

[2021-12-20 15:59] tracyboehrer commented on #8835
@rajeshdagdevir For most of those, you'd likely need to write a custom action.  The Microsoft.Bot.Components.Graph Component might help you with the Outlook Calendar API.  The docs are light on that, but you can check out the Actions.  It is possible to make HTTP calls from Composer via "Access external resources:Send an HTTP request".  But the service you need must support REST calls.

[2021-12-20 17:09] dmvtech commented on #8856
hi @amitabhuddi A few questions:

- What is the OS of the App Service Plan that was created as part of the provisioning?
- What language is the bot (Dotnet/C# or Javascript/Node)?
- Is the account you are using part of more than one subscription and/or more than one tenant?

[2021-12-20 17:21] tracyboehrer commented on #8758
@TheTrees123 Did Tonys suggestion help?

[2021-12-20 18:49] anishprasad01 commented on #8848
@shesob, @Gupta-Keshav-001378461

There were further issues with AAD auth last week that appear to have been resolved. Since we are unable to reproduce this login error, could you please try one more time?

[2021-12-20 18:54] shesob commented on #8848
@anishprasad01
All looks to be working again...thx

[2021-12-20 18:58] anishprasad01 commented on #8848
Excellent. In that case, I'm going to go ahead and close this, but feel free to reopen if this issue pops up again.

[2021-12-20 18:58] #8848 closed

[2021-12-20 19:35] dmvtech commented on #8864
Hi @nicolas-martin-dte

Can you confirm the runtimeSettings:storage  set to the name of your cosmosDB?:

[code]

[2021-12-20 19:39] dmvtech commented on #8866
I'll take a look and see if I can reproduce.

[2021-12-20 20:32] dawwa commented on #8863
this made it work.
[code]

[2021-12-20 20:32] #8863 closed

[2021-12-20 21:38] nicolas-martin-dte commented on #8864
I can confirm that configuration was **not** set because I didn't see that documented anywhere. Even now Googling for that isn't yielding anything.

Nonetheless, I tried adding Azure App Service app setting named `runtimeSettings:storage` or `runtimeSettings__storage` with value `cosmosDB` and neither worked. I would at least feel better to get runtime exceptions telling me I have bot state miscon

[2021-12-20 21:42] nicolas-martin-dte commented on #8864
@dmvtech - I think I initially misread your message. The runtimeSettings:storage setting is to be the name of the Cosmos DB? Do you mean the CosmosDB account, or the actual database ID within the account? Or is it to be the full connection string? Only giving a database name (id) doesn't seem like it could be sufficient... I could use a clarifying explanation please.

[2021-12-21 05:22] anujprasad opened #8867 "File or attachment user input action in Composer v2.1.1 not working"
I am trying to create an attachment input action in bot framework composer and followed [these steps
](https://docs.microsoft.com/en-us/composer/how-to-ask-for-user-input?tabs=v2x#create-an-attachment-input-action) but I am getting  the error message - "Object reference not set to an instance of an object" on emulator vesrion 4.14.0. Please find below the screen shot of the implementation and erro

[2021-12-21 05:24] anujprasad commented on #8867
My Bot framework Composer version details:

Version:  2.1.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-12-21 06:31] saikumaru commented on #8862
I am sorry, but I don't see the prerequisites mentioned on the document. Am I looking at the wrong place?

https://docs.microsoft.com/en-us/composer/install-composer?tabs=windows

[2021-12-21 06:53] TheTrees123 commented on #8758
When I opened the Bot Framework Composer this time I was asked to install **Node.js** and **.Net Core SDK.** This solved the problem.

[2021-12-21 06:53] #8758 closed

[2021-12-21 11:00] saikumaru commented on #8862
I just installed the V2 Azure Functions Core tools and this is what I get.

[2021-12-21 15:00] saikumaru commented on #8862
So, chocolatey installed a V3 and that worked! Many thanks for that @anishprasad01
Point to note- On a different PC, the composer prompted the user to install the Azure Functions package, somehow I dint get that pop-up on my version of composer, same 2.1.1

Please update or tag the URL which has the same, and we are good to close this issue.

[2021-12-21 16:17] anishprasad01 commented on #8862
Glad to see that it worked.

As per the [Azure Functions documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash%2Ckeda#install-the-azure-functions-core-tools), Core Tools are required to test and debug Azure Functions applications locally.

For convenience and future reference, a link to the [Core Tools npm package](http

[2021-12-21 16:17] #8862 closed

[2021-12-21 17:27] nicolas-martin-dte commented on #8864
Ok, finally got this working. It seems value `CosmosDbPartitionedStorage` is the proper incantation needed for `runtimeSettings:storage` with the connection details defined in a config section of the same name.

Here's the snippet from the [ARM template's app settings](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites/config-appsettings?tabs=bicep) I have that is now finally wri

[2021-12-21 18:32] #8835 closed

[2021-12-21 18:37] dmvtech commented on #8866
Hi @shrutinehra I believe the reason that the card is showing again is because there is a max turn count. I can't say for sure without seeing more/all of your bot or dialog. You can set the max turn count to 0 to avoid this.

Additionally; you are prompting for an attachment, but you are not sending any attachment back; correct? you are just submitting the card action.

[2021-12-21 18:57] anishprasad01 commented on #8843
@nikhsr: Does it work for you when you do this?

@shrutinehra: Is this a new bot, or an existing bot that you then added SSO to?

[2021-12-21 19:11] anishprasad01 commented on #8829
I'd like to run this issue by some folks, but due to the holiday, people are in and out of the office. I'll try to have something for you as soon as I can.

In the meantime, have you tried uninstalling and reinstalling Composer? I know it sounds cliche, but sometimes it does fix issues.

[2021-12-21 19:30] dmvtech commented on #8864
Thanks @nicolas-martin-dte

This would be name of the configuration node. I _think_ it can be anything, but I would need to test to confirm (you may be able to do so before I could get to it).  So, for example, either of these should work:

[code]

OR

[code]

@JonathanFingold for docs input.

[2021-12-21 20:01] WueF commented on #8843
As mentioned in [issue](https://github.com/microsoft/botbuilder-dotnet/issues/6071), I have same issue in my bot.

Framework version used: 4.15.0
.NET 6.0

Issue is not relevant to whether bot is accessed by App package or accessed directly via URL.

OAuth card displays this error both in Teams app and in web browser. In web browser I didn't notice any network movement after clicking "Sign in" but

[2021-12-21 20:06] dinobrago commented on #8829
I have not tried uninstalling and probably won’t go through the process. Now I know what the issue is, the work around is easy.

Dean

From: Anish Prasad ***@***.***>
Sent: Tuesday, December 21, 2021 11:11 AM
To: microsoft/BotFramework-Composer ***@***.***>
Cc: Dean Goddette ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/BotFramework-Composer] Transcripts not stored from bot in Azure (

[2021-12-21 20:13] nicolas-martin-dte commented on #8864
I tried the latter with no success. Maybe I had a case mismatch or something, but it didn't appear to work for me.

[2021-12-21 22:18] muratkakun commented on #3026
Same error occurs on composer version:2.1.1 and can not set Strict filters as object
![image](https://user-images.githubusercontent.com/28807269/147004889-025b19a1-6cfb-418a-9c1e-14dea434372b.png)

[2021-12-21 23:18] ramfattah commented on #8867
Hey @anujprasad, is your intent to attach a file? It looks like your getting the error as the input from the card is a text rather than an attachment file. Run your bot and click on the upload file (paper clip icon) button on bottom left of the chat to attach a file. Please let me know if this helps.

[2021-12-22 02:06] dinobrago opened #8868 "Mechanism to copy or template a bot?"
I'm looking for a way to copy or create a template from a bot that I created in Bot Framework Composer. This could be a documentation issue, I just have not found any reference to this in my searches. If I'm missing something, please feel free to point me to the appropriate documentation.

Is this possible? I know that you can't just copy the folder. Clearly there are resources that we don't want

[2021-12-22 05:08] anujprasad commented on #8867
@ramfattah  Yes, my intent is to attach a pdf file. The input text "number" that you see in the screen shot is just a regular expression trigger to trigger the number dialog and the very first step on that dialog is to ask user for file attachment. It throws the error "Object reference not set to an instance of an object" even before prompting the user the message "Please upload your invoice". Ide

[2021-12-22 05:13] anujprasad commented on #8867
Re-attaching the composer bot authoring screen:

![image](https://user-images.githubusercontent.com/38533303/147039308-c10fc361-ca62-4ab2-b2b5-74c235f191e6.png)

[2021-12-22 07:30] dawwa opened #8869 "Provisioning - The spinning activity indicator keep spinning forever"
I was trying the doc below and the spinning activity indicator keep spinning forever, is this a bug or expecting user to terminate it manually?

https://github.com/microsoft/BotFramework-Composer/tree/main/Provisioning

![image](https://user-images.githubusercontent.com/44714043/147052854-f0e9e3af-d88a-4c13-86e9-d96c3a6c2d6d.png)

[2021-12-22 09:00] aparnaji commented on #4257
@selvaduraiece

Are you able to find a solution for this, I am also looking to extract the transcript alone.

[2021-12-22 09:16] HugzBatman19 opened #8870 "Combining the values of properties into a single property"
To whom it may concern,

I am relatively new to Microsoft Bot Composer. I've been experimenting with adaptive expressions, arrays and objects. I am working on a prototype "Smoothie Maker" bot as an experiment that will provide a template for another work related project. Essentially, the user inputs two choices of fruit - the two user inputs are asked sequentially - both of which are stored in the

[2021-12-22 11:09] Levis0045 opened #8871 "Impossible to create and build new bot (uimportant)!"
## Describe the bug

I have downloaded the last version of Bot Framework Composer (v2.0.0) running file image. When I want to create new bot, i have some errors on my node and npm version {"node":"8.10.0","npm":"3.5.2"}.

whereas my current node version is v14.18.1 and npm is v6.14.15

## Version

V2.0.0

## Browser

- [ ] Electron distribution
- [ x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

[2021-12-22 14:17] selvaduraiece commented on #4257
I built my own middleware to get the TRANSCRIPT in OnTurnAsync activity

[2021-12-22 15:19] amitabhuddi commented on #8856
hi @dmvtech, please see below -
- What is the OS of the App Service Plan that was created as part of the provisioning?
Microsoft
- What language is the bot (Dotnet/C# or Javascript/Node)?
Dotnet/C#
- Is the account you are using part of more than one subscription and/or more than one tenant?
We have multiple subscriptions under one tenant.

[2021-12-22 16:36] metkhoo commented on #8814
Did this get resolved. Is there a workaround?

[2021-12-22 17:18] shrutinehra commented on #8866
@dmvtech I tried max turn count to 0 but it's still the same issue.  To show the adaptive card I had to use attachment type and choose adaptive card
![image](https://user-images.githubusercontent.com/10381482/147130768-c9af1e77-3c96-40e7-b808-781e5e3e9e29.png)

[2021-12-22 17:22] shrutinehra commented on #8843
@anishprasad01 It's a new bot.

[2021-12-22 18:22] gerald560 commented on #4211
this worked for me! thank you

[2021-12-22 18:37] dinobrago commented on #8870
If you want an array from two properties Use Set Property in the flow as below with user.choices set to
[code]
![image](https://user-images.githubusercontent.com/41213271/147139317-ebdb1b7d-2417-4af7-9e13-3bee1820dae7.png)

[2021-12-22 19:00] dinobrago commented on #8870
A better way to do it would be to push the answers into an answer array when you're asking the questions. That way, you don't have to bother with choice1, choice2, ... choiceN. When you are collecting the answers in the dialog, Instead of "Set a Property", use "Edit an Array Property", type of change = push, and save each answer in an array coming out of the dialog. Then you'll have all the answer

[2021-12-22 20:34] dinobrago commented on #8870
You may have to set "always prompt" = true in the dialog configuration if you reuse, for example, "dialog.answer" to collect your information. If "dialog.answer" has a value in it , the next dialog will assume that the user has already answered the question (unless always prompt = true).

[2021-12-22 21:46] anishprasad01 commented on #8871
Hi @Levis0045,

A few things here.

First of all, the latest release of Composer is not `2.0.0`, it's `2.1.1`. `2.0.0` is two versions behind.

Secondly, I need more info from you before I can investigate.

- What kind of bot are you trying to make? C# or Node?
- Is your problem specific to one language? Can you make a bot in the other language?
- Are you using one of the sample template bots? If

[2021-12-22 22:33] dmvtech commented on #8868
Closing this and addressing on Stack Overflow.
https://stackoverflow.com/questions/70441256/copy-or-export-template-of-a-bot-framework-composer-bot

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md)

[2021-12-22 22:33] #8868 closed

[2021-12-22 22:48] dmvtech commented on #8866
The activity sent has to be an attachment, but what the user is sending back is not attachment. It's just an activity. Does this reproduce in the local Composer webchat (outside of Teams)? Are you able to share your bot or .dialog?

[2021-12-22 23:43] anishprasad01 commented on #8829
That's interesting, since I do not even have a `publishSettings` where the connectionString gets added.

As we have a workaround, I am going to close this issue, but I will still run it by some folks to see if we can clarify this or isolate this behavior.

[2021-12-22 23:43] #8829 closed

[2021-12-23 03:18] HugzBatman19 commented on #8870
Here is what I have whipped up so far (always prompt has been set to true) - there are two user inputs of fruit asked:

**Question**
![image](https://user-images.githubusercontent.com/96521463/147182286-f502ea8c-2af7-4afd-88d8-de299554c402.png)

**Array**
![image](https://user-images.githubusercontent.com/96521463/147182437-c453fb06-7366-481e-bef4-d21ccd7b2828.png)

The next step is to use the arr

[2021-12-23 04:37] f14eagle commented on #8850
@dmvtech could you please look at the problem above?

[2021-12-23 15:45] gerald560 opened #8872 "Unable to find SMS Trascripts"
## Describe the bug

When looking inside blob storage we are unable to find the SMS transcripts only the webchat ones.

## Version
Version:  2.1.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## OS

- [ ] macOS
- [ x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. We have a Composer bot that we are not deploying manually via a publis

[2021-12-24 02:26] WueF commented on #8843
@anishprasad01 Can you share any info so far, do you have any potential findings or estimations for this issue?

[2021-12-24 10:40] KoradaRajesh opened #8873 "How to keep score condition in QnA Intent recognized"
How to keep Qna Maker score condition in QnA Intent recognized

![image](https://user-images.githubusercontent.com/51915291/147345786-c2d14a7c-580f-471b-a350-29313afa2fb4.png)

[2021-12-24 15:51] anishprasad01 commented on #8843
Nothing concrete as of yet. Our investigation thus far has revealed that it doesn't seem to affect all bots, and it's not necessarily tied to the code. I tried re-deploying a bot that had this issue to a new resource, and it operated correctly. It doesn't seem to affect other channels as far as I can see, so it seems confirmed that this is localized to Teams.

We'll keep looking into it, and I wil

[2021-12-24 17:23] drmanhatin commented on #8867
I'm facing the same issue.

[2021-12-25 15:06] nikhsr commented on #8843
That worked for me. It was an existing bot where I added SSO.
Is your issue still there @shrutinehra ?

[2021-12-26 09:59] drmanhatin commented on #8867
In my case the input prompt did not have any text, this is why it errored. Ui should reflect it being necessary or should be possible to not contain any value.

[2021-12-27 16:18] jst84 opened #8874 "Copy a botframework composer project"
Hi, is there a quick way to clone a composer project, changing name and relative infos?

thanks!

[2021-12-28 05:48] anujprasad commented on #8867
I figured out the root cause and solution, incase anyone facing similar issue:
Exact steps to reproduce the issue:

1. Select the + icon then select File or attachment from the Ask a question menu
2. Enter Please send an image. in the Prompt field of the Properties pane.
3. Switch to the User Input tab ()
- Enter dialog.attachments in the Property field.
- Enter all in the Output format field.
- E

[2021-12-28 06:22] anujprasad commented on #8867
Quick question - Once the file is uploaded by user using the prompt "File or attachment input", does that file stays in the server forever or it's stored in memory within dialog scope? If I have to hand it off to any live agent such as customer helpdesk, what's the best possible way to store the transcript and this file and then send it over an email to the live agent?

[2021-12-28 17:20] ramfattah commented on #8867
Hi @anujprasad , Microsoft Bot Framework is an open platform that allows developers to integrate with a variety of agent engagement platforms. This is the official [Microsoft Documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-design-pattern-handoff-human?view=azure-bot-service-4.0#:~:text=Transition%20conversations%20from%20bot%20to%20human) on Handoff integration models

[2021-12-28 17:28] tonyanziano commented on #8846
Hi @rohan081296 ,

What version of Composer are you using, and what OS are you running it on?

[2021-12-28 17:33] LeeParrishMSFT commented on #8873
Issues created here are only for bugs and feature requests, for questions please search and/or post how to questions on [Stack Overflow](https://stackoverflow.com/search?q=%23botframework&s=208b59f8-aa79-48fa-a563-b839d9f6b741) unless you have a bug to report.

[2021-12-28 17:34] #8873 closed

[2021-12-28 17:38] LeeParrishMSFT commented on #8872
This seems to be an issue that would be better reported to the [Azure Communications Services](https://feedback.azure.com/d365community/forum/81ff6d2b-0c25-ec11-b6e6-000d3a4f0858) (SMS) team. The Bot Framework team doesn't have any insights into the workings of this product.

[2021-12-28 21:31] dmvtech commented on #8874
Hi @jst84 and thank you for engaging with the Composer project. There is currently no way to do this other than opening the bot in an editor and doing a find/replace on the name and info you wish to change. We'll take this issue as a feature request and add it to the backlog for consideration/prioritization. We do not have an ETA at this time for whether this will be accepted or possible, nor when

[2021-12-28 21:31] #8874 closed

[2021-12-28 21:41] dmvtech commented on #8809
Hi @MatteoMUni Are you able to submit a pull request for this?

[2021-12-28 21:41] dmvtech commented on #8866
Hi @shrutinehra Any updates? Are you able to share your bot or dialog?

[2021-12-28 21:47] dmvtech commented on #8839
Closing due to lack of response and reproducible sample. If you still need assistance with this; please provide more information or a sample on the current bot logic. Please comment or reopen if needed.

[2021-12-28 21:47] #8839 closed

[2021-12-28 21:50] dmvtech commented on #8825
Closing due to lack of response. Please comment or reopen if you still need assistance.

[2021-12-28 21:50] #8825 closed

[2021-12-28 23:16] stevkan commented on #8870
@HugzBatman19, you can achieve what you are wanting thru the use of [adaptive expressions prebuilt functions](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0) that are passed into the condition field of switch statement.

First, be aware that I am working from the point of the user's selections having alread

[2021-12-28 23:17] stevkan commented on #8870
Closing as this should solve your issue.

[2021-12-28 23:17] #8870 closed

[2021-12-28 23:20] stevkan commented on #8790
Closing due to inactivity.

[2021-12-28 23:20] #8790 closed

[2021-12-29 02:05] sinnypan commented on #8283
Hi @natalgar,@dmvtech ,

I am also facing same issue. Please find the required details below:

Does this happen every time you provision?
- No. But its happens all the time for my client's windows computer. He never be able to publish to azure.

What type of account are you using? Is it a work, school, or Microsoft account?
- It is a customer-paid subscription, and its work MS account.

What is yo

[2021-12-29 06:26] rohan081296 commented on #8846
Hi @tonyanziano ,

I am using Composer v2.1.1 on windows. It not worked for two days when I reported issue. After that, automatically it started working. Currently, It is working properly.

Thanks you for your consideration. Really appreciated.

[2021-12-29 14:51] gerald560 commented on #8872
nice pawn off.... what if the transcript didn't show using Twilio? or Facebook messenger? or ms teams? what makes your answer even worse is that it's an MS product!!

[2021-12-29 15:14] MatteoMUni commented on #8809
Yes, I will ASAP

[2021-12-29 15:49] anishprasad01 commented on #8871
Closing this issue due to inactivity.

[2021-12-29 16:35] tonyanziano commented on #8846
Glad to hear it!

[2021-12-29 17:59] shrutinehra commented on #8843
it's resolved.... with the published app it worked fine.

[2021-12-29 17:59] #8843 closed

[2021-12-29 18:01] shrutinehra commented on #8866
{
"$kind": "Microsoft.AdaptiveDialog",
"$designer": {
"id": "Rl4QRQ",
"name": "ReferralForm",
"description": ""
},
"autoEndDialog": true,
"defaultResultProperty": "dialog.result",
"triggers": [
{
"$kind": "Microsoft.OnBeginDialog",
"$designer": {
"name": "BeginDialog",
"description": "",
"id": "99oM5c"
},
"actions": [
{
"$kind": "Microsoft.IfCondition",
"$designer": {
"id": "l8EAbe"
},
"condition"

[2021-12-29 18:04] shrutinehra commented on #8866
@dmvtech It reproduces in web chat as well..

[2021-12-29 18:12] LeeParrishMSFT commented on #8872
@gerald560 if your issue is asking why you aren't seeing the webchat transcript we can assist with that, but for the ACS side of things we can't really assist in that we don't have any way to see what might be happening inside that product. Are you not getting a transcript for the webchat?

[2021-12-29 19:15] gerald560 commented on #8872
No what I am saying is that if your product offer integration with various Chanels than you need to super them. Otherwise don’t offer them.

[2021-12-29 23:07] dmvtech commented on #8866
Hi @shrutinehra

Can you try this as the adaptive card and see if that works?:

[code]

[2021-12-30 01:11] dmvtech commented on #8864
Yeah, my bad. `CosmosDB` was an older, allowed config option. Looks like it is only `CosmosDbPartitionedStorage` now. Glad you got it working.

[2021-12-30 01:11] #8864 closed

[2021-12-30 07:55] RamkumarManavalan opened #8876 "HTTP Request Body JSON Array is converted to JSON Object with index as keys"
I am trying to hit a backend REST API (Method: PATCH) that accepts the following JSON array as body:
[code]
However, when I view the emulator's trace, I see that the body is transformed into a JSON object like below, which is not accepted by our backend service.

`content:"{"0":{"op":"replace","path":"/dueDate","value":"12/31/2021"}}"`

I am facing the same issue with yet another POST API where I

[2021-12-30 08:49] Levis0045 commented on #8871
Hi @anishprasad01 ,

Please see my answers below:

What kind of bot are you trying to make? C# or **Node** ?
Is your problem specific to one language? **Yes** Can you make a bot in the other language? **No**
Are you using one of the sample template bots?  **No, i try to create new one with Composer** If so, which one?
Do you have the required .NET versions installed? **Yes**
How did you install Co

[2021-12-30 08:52] Levis0045 commented on #8871
PLease, i send you somme details

[2021-12-30 09:50] shrutinehra commented on #8866
@dmvtech I tried the above adaptive card but the problem still exists...

[2021-12-30 15:08] fougere44 opened #8877 "Group the json bot conversations into only one"
Hi Everyone,

I have a problem with my storage conversation from my bot in Azure Portal . Indeed, with this code in the index.ts file, i can save a conversation.
[code]
[code]

This is what i get in the Azure Portal :
![image](https://user-images.githubusercontent.com/58083670/147763330-4c4b0e66-8a6a-4a57-89c0-6aca70b3ff45.png)

One json file is generated for one action (actions are composed with

[2021-12-30 16:27] anishprasad01 commented on #8871
So it works if you use Composer 2.1.1? Then why not just upgrade to that version?

[2021-12-30 21:14] dmvtech commented on #8856
Thank you @amitabhuddi.

When you created the Azure Bot, did you create the type of app as `Multi Tenant` or `Single Tenant`/`User-Assigned Managed Identity`? You should be able to find this from the bot Configuration blade.

[2021-12-30 21:18] alex12pabon commented on #5534
Hello, @selvaduraiece  can you help me? How did you manage to use OnturnAsync?

[2021-12-30 21:33] anishprasad01 commented on #8871
Just to be sure, I attempted to repro this on Ubuntu 20.04 LTS using Composer 2.1.1 and Node.js 14.18.2 LTS, and I was able to create and run an empty bot.

It appears that the links on the Composer install page are a bit out of date, and link to a download for version 2.0.0. You can download the latest version of Composer from the Composer repository [Releases page](https://github.com/microsoft/B

[2021-12-30 21:50] dmvtech commented on #8856
Also:

Are all the LUIS and QnA resources in the same subscription as the Azure Bot?

[2021-12-30 22:37] alex12pabon commented on #5534
Hi, @dmvtech How can I store the same thing but in cosmos DB?

[2021-12-30 22:59] dmvtech commented on #8869
@dawwa I am able to reproduce the same. I doubt this is the expected behavior (a bug. Shouldn't expect the user to terminate it manually).

I'll see if I can find an easy fix.

[2021-12-30 23:08] anishprasad01 commented on #8876
Hi @RamkumarManavalan,

I attempted to reproduce your issue, and I was able to send a JSON array to an endpoint. I created a simple C# test bot in Composer 2.1.1 and sent an array payload in the request body to Postman Echo to verify functionality.

In the following image, you can see the implementation in Composer:
<img width="248" alt="3" src="https://user-images.githubusercontent.com/33945547/1

[2021-12-31 05:22] RamkumarManavalan commented on #8876
Thank you Anish for your response. Yes, I have selected array only. But it is still converted to json object.

<img width="351" alt="Screenshot 2021-12-31 at 10 48 33 AM" src="https://user-images.githubusercontent.com/7835046/147804845-171173bf-8c6d-4e35-961e-c0d51f124e76.png">

Below is the emulator screenshot:
<img width="601" alt="Screenshot 2021-12-31 at 10 48 11 AM" src="https://user-images.g

[2021-12-31 19:24] dmvtech commented on #8869
Found the issue and submitted PR as you can see linked above. You can overwrite your script with [this](https://raw.githubusercontent.com/microsoft/BotFramework-Composer/dmvtech-provisioningscripts/Provisioning/provisioningComposer.js) to remedy the issue.

[2021-12-31 19:24] #8869 closed

[2021-12-31 20:48] PrimeAltariz opened #8879 "CICD Azure Devops or Visual Studio"
## Describe the bug

I have done compilations from Azure Devops Pipeline and also test compilation from Visual Studio, but I see that the output contains fewer files than the one published directly from BF Composer.

![image](https://user-images.githubusercontent.com/34049303/147838328-25e0dcfd-e40e-4f5d-ad5a-5d9542338665.png)

## Version

![image](https://user-images.githubusercontent.com/3404930

[2022-01-02 04:26] RamkumarManavalan commented on #8876
I upgraded to 2.1.1, but am still facing the issue.

Version:  2.1.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2022-01-03 12:41] alex12pabon commented on #4257
Hi @selvaduraiece , could you share your middleware?

[2022-01-03 14:59] alex12pabon opened #8880 "Store Bot conversation"
Hello team, I would like to know if I can store the messages sent by the user in Cosmos DB, which way should I follow?

[2022-01-03 16:28] anishprasad01 commented on #8876
Perhaps the JsonStringify method might help you achieve this. https://github.com/microsoft/botbuilder-js/search?q=JsonStringify

It makes use of the standard JSON Stringify method.

[2022-01-03 18:11] anishprasad01 commented on #8880
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework).

The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

This issue will be closed, but if you have a bug or feature r

[2022-01-03 18:11] #8880 closed

[2022-01-03 18:31] RamkumarManavalan commented on #8876
Let me try that. However, I was able to get rid of the issue, just a while ago, by selecting string and just specifying the array directly. Please see below.
<img width="339" alt="Screenshot 2022-01-04 at 12 01 55 AM" src="https://user-images.githubusercontent.com/7835046/147966265-b476b89f-fac9-48ed-ab13-d4b94fd4e2ef.png">

[2022-01-03 18:40] anishprasad01 commented on #8876
Since we have a functional workaround, I am going to go ahead and close this issue. If you have further difficulties regarding this item, please comment and we can reopen it.

[2022-01-03 18:40] #8876 closed

[2022-01-03 19:15] munozemilio commented on #8877
Hello @fougere44, we track questions in Stackoverflow. Could you please post it there?

[2022-01-03 19:15] #8877 closed

[2022-01-04 10:42] Levis0045 commented on #8871
My problem is now resolved! The problem was that composer don't find the right version of my node js. The only use the system installation package in */usr/share/...* not in nvm in local user directory

Thanks for the support @anishprasad01

[2022-01-04 10:42] #8871 closed

[2022-01-04 13:40] EduBotz opened #8881 "Unable to log into Azure account in Bot Framework composer - this means I cant use other Azure services such as Cognitive services or the QnA maker."
I am sorry if this is the incorrect place to submit this issue - please let me know if I have made a mistake. _

## Describe the bug

I cant log into my Azure Account within Bot Framework Composer - this prevents linking other services. I enter my details and it takes me the the page for multifactor Authentication.  However none of the links on this page work.  So the connection fails.

## Version

[2022-01-04 21:08] benbrown commented on #8831
@owenpww I was not able to find any explicit link to this type of change to any tenant setting - not in the BF cli or Composer tooling.

It might be possible that something in the main `azure cli` had some impact on your tenant.. .but I doubt it would happen automatically.

Is this still occurring for you? Have you unblocked your Bot Framework Composer problem?

[2022-01-04 22:10] munozemilio commented on #8798
Hello @boydc2014 ...is there any update on this?

[2022-01-04 22:12] #8867 closed

[2022-01-05 07:38] freistli opened #8883 "Do we have a general guideline to support teams message extension feature on bot framework composer?"
For example, how to implement OnTeamsMessagingExtensionFetchTaskAsync ?

[2022-01-05 17:11] liyubupt commented on #5013
@cwhitten @garypretty dear both, I saw this feature closed. however I can not see the feature regarding git integration on bot composer. Do you knowhow I can find this feature?

[2022-01-05 17:12] ramfattah commented on #8866
Hi @shrutinehra, are you able to share the repository of your bot to debug/reproduce this issue?

[2022-01-05 17:20] liyubupt opened #8884 "Host Azure Bot Composer on Azure Portal as SaaS to save effort for hosting bot composer on VM."
## Is your feature request related to a problem? Please describe.

It costs some effort to set up azure bot composer on VM. Using a VM is not aligned with cloud strategies of many enterprises. Some enterprises use only PaaS.

## Describe the solution you'd like

Manage Azure Bot Service on Azure as Software as a Service. Whenever a azure bot is provisioned, the hosting environment and azure compos

[2022-01-05 20:11] dawwa opened #8885 "Is Orchestrator supposed to be used for a skill bot?"
**Question**
The Orchestrator recognizer is also selectable on a skill bot.
But it's not quite clear to me whether the Orchestrator recognizer is supposed to be used on a skill bot.
Can Orchestrator be used on both the parent root bot and the skill bot? or just the parent root bot?

Appreciate if someone could help clarify the best practice for the applicable places to fit in an Orchestrator recog

[2022-01-05 20:35] anishprasad01 commented on #8884
Hi @liyubupt,

As I understand it, you want to be able to run an instance of Composer in Azure without using a VM? Have you looked into using an [Azure Web App](https://azure.microsoft.com/en-us/services/app-service/web/) instead? You can automate deployments and it's a fair bit simpler than setting up a VM.

[2022-01-06 12:07] amitabhuddi commented on #8856
Hi @dmvtech,

- When you created the Azure Bot, did you create the type of app as Multi Tenant or Single Tenant/User-Assigned Managed Identity? = Multitenant (also this is something i cannot change in the configuration so i am assuming it is created by default)
- Are all the LUIS and QnA resources in the same subscription as the Azure Bot? = Yes that's correct

[2022-01-06 16:53] owenpww opened #8886 "Bot uses the wrong responses for the active language"
## Describe the bug
When I am designing the bot through BFC, I define two available languages: English and Spanish. When I try to add a response for Spanish that is different from the response in English, the bot will sometimes still give me the English response when the active language is Spanish (locale is es-es in logs/bot data) and sometimes will give the correct Spanish response.

## Version

[2022-01-06 17:40] owenpww commented on #8831
The issue is still occurring but we found a workaround by creating a new account and using that account to recreate all of our services and resources. We cannot use any of our other accounts to do this unfortunately. Hopefully your team can find the solution for this issue as I only followed the Azure documentation and got these errors. It's entirely possible someone doing the same thing will run

[2022-01-06 18:01] munozemilio commented on #8881
Hello @EduBotz ...are you still seeing the same issue? The team mentioned the Authentication Service had an issue but it should be back now.

[2022-01-06 18:34] stevkan commented on #8885
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2022-01-06 18:34] #8885 closed

[2022-01-06 18:44] stevkan commented on #8883
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2022-01-06 18:44] #8883 closed

[2022-01-06 19:00] stevkan commented on #8879
@PrimeAltariz, I will be taking a look at this today and should have a response for you before the EOD.

[2022-01-06 19:18] owenpww commented on #8886
Update: It seems to happen more consistently when creating a template for the different languages then using the same template for the response. What should happen is that the different template values for each respective language is used but more often than not it's only the English value that is used.
![image](https://user-images.githubusercontent.com/93670080/148438575-e891748d-3f46-4fd3-8bd2-0

[2022-01-06 22:57] EduBotz commented on #8881
Thanks for getting back to me @munozemilio unfortunately the problem remains.
Is it possible my subscription does not have access to this service ? Would this behaviour make sense in this context ?

The error message has changed to:

Azure sign-in
Sign in failed: Failed to fetch

![image](https://user-images.githubusercontent.com/97104784/148463431-35f633be-138f-4bbd-9961-0536d2e14bc4.png)

Again

[2022-01-07 16:30] sarul84 opened #8887 "Unable to open PVA bot in Composer"
## Describe the bug

Sometimes when I try to open PVA bot in composer using "Open in Bot Framework Composer", it just opening composer but not proceeding further.

Sometimes it's asking Azure login but after entering email id nothing happens. If try to use Sign in to your azure account also it's throwing Forbidden error.

## Version

V2.1.1

## Browser

N/A

- [ ] Electron distribution
- [ x] Chro

[2022-01-08 18:14] saikumaru commented on #8780
Any update on this please?
I still couldn't find a solid document on build and release pipeline for composer built bots.

@dabedin please can you let us update.

[2022-01-10 17:01] ERGeorgiev commented on #5811
Had the same issue. Steps to fix:
1. Open Composer Bot -> Configure -> Advanced Settings View (json) -> Copy the script
2. Paste the script into "settings/appsettings.json"
3. Copy the value from "authoringKey" setting and paste it into "endpointKey" settings.
4. Delete the value from "authoringKey" setting.
5. Run, should work.

This is actually a bug imho. The values seem reversed in the Compose

[2022-01-10 19:18] tdurnford commented on #8879
@stevkan Any updates on this?

[2022-01-10 19:20] tdurnford commented on #8841
@stevkan Can you please provide an update on your progress?

[2022-01-10 19:27] tdurnford commented on #8814
@benbrown I there a workable solution to this issue?

[2022-01-10 19:35] tdurnford commented on #8809
@MatteoMUni Have you been able to open PR yet?

[2022-01-10 20:27] piechk opened #8888 "Unable to run update-schema.ps1"
When attempting to add the custom action ([https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions)). The final step of merging the two schema files is failing.

if I update the script and change "!**/generated" to "!../generated" I am able to remove some errors.  Doing this will remove the first block of errors

[2022-01-10 22:01] PrimeAltariz commented on #8879
Good afternoon!
I was doing some compilation tests, after doing the compilation described, and placing all the corresponding app settings in the Azure App Service, the bot responded correctly.

However I still don't understand if the missing DLLs are affecting the implementation. According to the tests of the bot, everything seems to work normally

[2022-01-11 08:29] vovanb commented on #5534
I have similar problem and from above notes do not understand how to send complete transcript. I want tot do it in Send Handoff request as part of Context property.
Opened same  question in https://stackoverflow.com/questions/70584837/composer-handoff-transcript

[2022-01-11 14:05] selvaduraiece commented on #5534
@alex12pabon , @vovanb Here is how I implemented it. I am doing handoff as well along with this specific session transcript.

**Startup.cs**
Make the below changes - I am using Cosmos DB.
        private CosmosDbPartitionedStorageOptions cosmosDbPartitionedStorage = new CosmosDbPartitionedStorageOptions();

        public IStorage ConfigureStorage(IConfiguration Configuration)
        {

[2022-01-11 14:41] zsoli opened #8889 "Starting bot in Bot Framework Composer 2.1.1 is really slow"
Starting the bot in Composer takes a really long time, about 7-8 minutes. Is there a log we could check to see what is taking so long, or is there something we could try to make it build faster? We use the Emulator a lot for debugging.

Thank you,
Zsolt

[2022-01-11 14:56] owenpww commented on #8886
Any updates @ramfattah?

[2022-01-11 16:11] ramfattah commented on #8886
@owenpww -- Investigating this issue. Before running the bot, let's try the following steps:
1) Update the Localization settings on the Configure page to use multiple languages. [Documentation here](https://docs.microsoft.com/en-us/composer/how-to-use-multiple-language?tabs=v2x#:~:text=update%20the%20Localization%20settings%20on%20the%20Configure%20page%20to%20use%20multiple%20languages.)
2) Set t

[2022-01-11 16:48] drmanhatin opened #8890 "Bot wont publish to Linux, windows works fine."
## Describe the bug
Bot wont publish to Linux, windows works fine.

## Version
v.2.1.1

## OS

Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create bot
2. Deploy to windows
3. Deploy to linux
4. ????
5. No success

## Expected behavior
Deploy succeeds

## Screenshots
[code]
etc etc etc

## Additional context
Only "out of the ordinary" thing I am using is a custom adapter.

[2022-01-11 17:54] owenpww commented on #8886
@ramfattah Were you able to replicate the issues? I've done the above steps and the same issue still occurs.

[2022-01-11 18:39] anishprasad01 commented on #8889
Unfortunately, large bots simply take time to load in Composer. There isn't really a workaround for this beyond not closing the Composer window. The more content in a bot, the longer it will take.

[2022-01-11 22:58] owenpww commented on #8886
Hi @ramfattah, I was able to resolve the issues on Composer (local) and on Azure Portal - Test in Web Chat. However, on our site where the bot is hosted, we are still getting inconsistent responses when the language isn't set to English. Sometimes it will give the response in the correct language and sometimes it will give the English response. I thought maybe it was taking a while to register the

[2022-01-11 23:42] stevkan commented on #8879
@PrimeAltariz, no, the "missing" files shouldn't be a concern. The process by which Composer deploys versus Visual Studio (or other processes) is different which is why you see additional files. There is nothing wrong with either deployment.

[2022-01-11 23:42] #8879 closed

[2022-01-12 00:19] ramfattah commented on #8886
Hi @owenpww, I followed the steps to repro this behavior on Windows & Mac OS and the locale translation is working on my local machine. Glad you were able to resolve this issue.

[2022-01-12 08:11] Toleikis commented on #8884
Could someone document the process of hosting Bot Composer as a web app in Azure? Our team is interested in this as well and we have no option of using VM's for this purpose.

[2022-01-12 11:03] rishabh7k opened #8891 "RootBot throws "Error invoking the skill id: “msAppID” at “messages endpoint” (status is 500)" after successful completion of the invoked skill, when skill becomes a skill consumer."
## Describe the bug
RootBot throws "Error invoking the skill id: “msAppID” at “messages endpoint” (status is 500)" after successful completion of the invoked skill, when skill becomes a skill consumer.

## Version

v2.1.1

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create TestRootBot and TestSkillBot1,TestSkillBot2
2. Add TestSkillBot2 as skill to TestSkillBot1, an

[2022-01-12 11:38] stephanbisser commented on #8771
Sorry but I need to re-open this issue as I now had time to test.
When creating a new Core Bot with QnA and just enter the CLU subscription key into the settings for QnA Maker I get this error when running the bot:

[code]

Furthermore, I cannot use LUIS from the CLU service in Composer.
Any plans when this will be supported?

[2022-01-12 11:43] ryub3n opened #8892 "'Internal Server Error' 500 when starting a bot"
## Describe the bug

Getting Internal Server Error when starting a bot in Composer.
Similar to #8777

## Version

Version:  2.1.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [x] macOS - Monterey 12.1 (21C52)
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to

[2022-01-12 12:50] julianpleli opened #8893 "Azure sign-in Sign in failed: No Azure Directories were found"
## Describe the bug

Logging in im alway receiving the following error:
Azure sign-in
Sign in failed: No Azure Directories were found.

Im working behind proxies.

## Version

Version 2.1.1

## Browser
- [x] Chrome

## OS

- [x] macOS

## To Reproduce

Log-In behind Proxy.

## Screenshots
![image](https://user-images.githubusercontent.com/86415026/149143583-8b8dd298-8e78-409a-b5b9-78e7d65c589d.png

[2022-01-12 18:48] ramfattah commented on #8886
Hi @owenpww -- yep, let's find out more about this issue.
1) Is your app hosted on azure?
2) Are you using load balancing?

[2022-01-12 19:07] tdurnford commented on #8881
@benbrown Any ideas what might be going on here?

[2022-01-12 19:12] ramfattah commented on #8887
Hi @sarul84  -- Thanks, looking into this issue.

[2022-01-12 19:20] owenpww commented on #8886
@ramfattah Thank you.
1. No our app is not hosted on Azure.
2. As far as I know, we are not using load balancing.

[2022-01-12 19:28] owenpww commented on #8886
@ramfattah Sorry, I think I should clarify that this issue is showing on a local copy of our internal dev site that I am hosting locally but I won't be able to see it on the actual hosted site until tomorrow. But I assume if it is behaving this way already on the locally hosted version, it may do that as well on the actual hosted site since none of the other environments (Composer, Emulator, Azure

[2022-01-12 19:33] owenpww commented on #8886
@ramfattah Additionally, the client side of the bot is a React app (uses Bot Framework WebChat). I found that these multilingual issues are consistently showing whenever I try to integrate this React widget into a drupal site. However, when I locally host the React widget as a standalone React app, it does not show this behavior.

[2022-01-12 19:40] anishprasad01 commented on #8892
Hi @ryub3n,

I'm not having any issues starting an empty Node bot.

What is the Node version you're actually running on your system? (It's not the one reported in the `Help -> About` section in composer). Have you met all the [system requirements](https://docs.microsoft.com/en-us/composer/install-composer?tabs=macos) listed in the documentation?

Additionally, what kind of Mac are you using? Be aw

[2022-01-12 20:29] owenpww commented on #8791
Hello @anishprasad01. I am getting a similar issue except the language is not set in the conversation and it is only set once on initialization of the bot (can set it on Emulator or set it on a hosted app since my UI uses Bot Framework Web Chat which allows you to pass a `locale` when you create the `ReactWebChat` component). However, I get the same issue where I choose my non-English language but

[2022-01-12 21:10] anishprasad01 commented on #8886
@owenpww

Since you've confirmed that the bot works through the other available access points, it seems likely that Drupal is somehow interfering with the bot's detection of your locale until after the welcome message is sent. Are there specific localization settings in your Drupal deployment that you can modify to see if there are any changes in behavior?

[2022-01-12 21:31] owenpww commented on #8886
@anishprasad01 Thanks for this. I shall check if there are any localization settings. However, it is important to note that I have added some code to check whether the locale was set prior to the greeting to see if the locale was somehow registering later but I am able to confirm the locale is correct before the welcome message is sent.
![image](https://user-images.githubusercontent.com/93670080/1

[2022-01-12 23:12] dmvtech commented on #8891
Hi @rishabh7k

I'm assuming that you have configured `allowedCallers` correctly for TestSkillBot1 and TestSkillBot2, correct?

Are all 3 of these published to Azure or somewhere else `public`, or just running locally?

[2022-01-12 23:22] dmvtech commented on #8890
Hi @drmanhatin Is this with a C# or Node runtime?

[2022-01-13 02:56] ryub3n commented on #8892
Hi @anishprasad01, I'm using NodeJS v14.16.1.

My Mac Specs:
MacBook Pro (16-inch, 2019) - Monterey 12.1
Processor - 2.3 GHz 8-Core Intel Core i9
Memory - 16 GB 2667 MHz DDR4

I've met all the requirements and do not use C# templates.

[2022-01-13 03:08] ryub3n commented on #8892
@anishprasad01 - I think the problem is with Composer (could be because of **Monterey** as I had upgraded my Mac a day ago) as when I run the bot manually by opening the code directory from a terminal and then try it in Bot Emulator it works but if I use 'Start bot' from in Composer it doesn't.

[2022-01-13 03:24] rishabh7k commented on #8891
Hello @dmvtech
Yes, the allowedCallers are correctly configured with the right appIDs. if you see the chat screenshot, everything is actually working correctly, TestRootBot invokes TestSkillBot1 which invokes TestSkillBot2, but the moment the control hits back to TestRootBot it throws the error message.

The TestRootBot is running locally and the two skill bots are running on our company's on-prem

[2022-01-13 11:14] RohanNayaks opened #8895 "The composer is saying "This project was created in an older version of Composer. To open this project in Composer 2.0, we must copy your project and convert it to the latest format. Your original project will not be changed.""
I created a project in v2.1.1 and was trying to open from the folder . but i was seeing this error. Not able to solve it , Please help.

I have pasted the screenshot of the error.

![image](https://user-images.githubusercontent.com/52638040/149320324-fcdfe363-65ff-4e13-9145-47ea1b593c0f.png)

[2022-01-13 11:19] puhakju opened #8896 "Bot Framework composer is not accepting custom question answering as QNA"
## Describe the bug
As i am opening new project "Core bot with QNA Maker" and inserting QNA maker subsription key i get error :
**Sorry, something went wrong with publishing. Try again or exit out of this task.

Qnamaker build failed: Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API endpo

[2022-01-13 14:50] owenpww commented on #8886
Hello @anishprasad01 and @ramfattah, update.

I have set the `locale` on the `ReactWebChat` component as `es-ES` to see if maybe the logic for setting the locale was causing the "delay" in correct responses but even with the locale statically set on the `ReactWebChat` component, it still fails to send the Spanish responses until after the greeting. Is there a way to set the locale of the bot in th

[2022-01-13 15:26] owenpww commented on #8886
Hello @anishprasad01 and @ramfattah, update.

I have changed the language on my local drupal site and set the `locale` on `ReactWebChat` to `es-ES` and it still continues to show the pre-greeting and greeting responses in English.
![image](https://user-images.githubusercontent.com/93670080/149358806-542ba086-1551-456f-9d92-6c7f62723eb4.png)

[2022-01-13 17:09] liyubupt commented on #8884
@anishprasad01 thanks for your answers! being able to host azure bot composer on Azure web app is definitely really cool. I was rather asking if you plan to manage azure bot composer as a software as a service and provide as a browser based application. Like synapse,  you could develop in browser without any need to install or deploy anything.

[2022-01-13 17:28] anishprasad01 commented on #8884
@liyubupt

Ah, I understand now. Unfortunately, I don't believe there are any plans to offer Composer as a separate Azure SaaS service at this time.

@Toleikis

I will pass your feedback on to the team.

[2022-01-13 17:28] #8884 closed

[2022-01-13 17:32] anishprasad01 commented on #8889
As there is no workaround for this, I'm going to close this issue. If you identify a bug relating to this or have a new problem, please comment or open a new issue as appropriate.

[2022-01-13 17:32] #8889 closed

[2022-01-13 17:53] ramfattah commented on #8888
Hi @piechk -- Thanks, looking into it.

[2022-01-13 19:04] tdurnford commented on #8893
@dmvtech Would you mind taking a look at this?

[2022-01-13 19:05] tushaar9027 opened #8897 "How to pass dynamic values in header and body for "Send and Http request" action in composer."
I am trying to call microsoft translator service and i am storing user text in dialog.userquery but in post request  body

{"text" : ${dialog.userquery}}

Its not accepting this.....please help

[2022-01-13 19:46] anishprasad01 commented on #8892
@ryub3n

MacOS Monterey should work fine, as we've been unable to reproduce this issue.

Here's a few other things you can try.

- In your bot's configuration, check that the `Start command` is a node start command and not dotnet
- In the `View` menu option in the top bar, toggle on the developer console and see if any errors that we can use pop-up when you run the bot.

Additionally, you can work

[2022-01-13 21:06] tushaar9027 opened #8901 "Dynamically change language on composer bot based on user input in multilingual bot"
I am creating a multilingual bot but i need to change language based on user input , i am displaying him the choices of language in which he can chat. My bot is deployed on Microsoft Teams

Things i have tried:-

1. I tried setting turn.activity.locale = es (spanish) but this works only for one turn.
2. If i change the Teams interface language to spanish from settings then it work s fine in spanis

[2022-01-13 22:32] ramfattah commented on #8887
Hi @sarul84, I was able to successfully open the PVA bot in Composer by doing the following:

1) Install **latest** version of Composer. [Download here](https://github.com/microsoft/BotFramework-Composer/releases)
2) Sign-in to [Power Virtual Agents](https://powervirtualagents.microsoft.com/en-us/)
3) Go to the Topics tab on the left navbar and select the down-arrow symbol next to + New topic.

![

[2022-01-14 01:19] tushaar9027 opened #8903 "ChannelData set in composer not coming in directline recieve activity"
## Describe the bug
I need to send channeldata from composer to directline receive activity so far if i try setting channeldata like this it is available in composer but no received in receive activity of channel data

Tried implementing like this but it didn't help
turn.activity.channelData.eoc = false

## Version
composer 2.1.1

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
-

[2022-01-14 15:52] anishprasad01 commented on #8895
Hi @RohanNayaks,

Could you click that convert button and let me know what happens?

Could you also tell me a bit more about your system configuration?

[2022-01-14 17:40] selvaduraiece commented on #4257
Here is how I implemented it. I am doing handoff as well along with this specific session transcript.

**Startup.cs**
Make the below changes - I am using Cosmos DB.

                private CosmosDbPartitionedStorageOptions cosmosDbPartitionedStorage = new
                CosmosDbPartitionedStorageOptions();

        public IStorage ConfigureStorage(IConfiguration Configuration)
        {

[2022-01-14 18:45] ryub3n commented on #8892
@anishprasad01

The start command is the default node one as I haven't changed it.
![image](https://user-images.githubusercontent.com/24279903/149567999-0842149d-a020-4cb8-9831-0ce4cfa90c60.png)

And this is the error I see in console when I toggled on developer tools.
<img width="551" alt="Screenshot 2022-01-15 at 12 09 32 AM" src="https://user-images.githubusercontent.com/24279903/149568096-a29b

[2022-01-14 18:49] anishprasad01 commented on #8892
Try checking your firewall settings for Composer. It's possible that is the cause of your timeout.

Additionally, have you tried reinstalling Composer? Reinstalling after your OS upgrade might very well fix the issues. We tried to repro and have successfully run Node bots on MacOS Monterey.

[2022-01-14 19:05] tdurnford commented on #8896
Hello @puhakju and thank you for engaging with the Composer project. We'll take this issue as a feature request and add it to the backlog for prioritization. We do not have an ETA at this time for when this feature will be available.

[2022-01-14 19:12] #8896 closed

[2022-01-14 20:46] anishprasad01 commented on #8771
Hello @stephanbisser,

I checked with the team and confirmed that Custome Question Answering and the CLU Azure resource at large is not currently supported by Composer. If you want to make use of QnA or LUIS in a Composer bot, you will need to use those legacy standalone offerings for the time being. We'll take this issue as a feature request and add it to the backlog for prioritization. We do not

[2022-01-14 20:46] #8771 closed

[2022-01-15 11:38] MatteoMUni commented on #8809
@tdurnford @dmvtech @a-b-r-o-w-n
Just opened with another account

[2022-01-15 15:11] RamkumarManavalan opened #8911 "Need to get the base64 content of files attached by user"
I have a requirement to get files from users and send its content to my backend which accepts filecontent as base64 encoded.

I used the "File or Attachment" input to get the file attached by user in the chat window. This returned a json as below:

[{"contentType":"application/octet-stream","contentUrl":"https://smba.trafficmanager.net/apis/v3/attachments/0-sa-d4-6e8441b1dfa41f0bf317b67a50c52fa9/v

[2022-01-15 18:30] waqasahmed0323 opened #8912 "I need to get and active users list or active connections who are in chat."
I need active users or active connections list who are available to chat, who left from conversation I don't want to retrive those in below code, please help me out on this below is the code of getting all connections list.

`var activity = dc.Context.Activity;

            IList<ConnectionRequest> connectionRequests =
                        _messageRouter.RoutingDataManager.GetConnectionRequests

[2022-01-15 19:11] FANMixco opened #8913 "Cmd+Z works oddly"
## Describe the bug

When I press that combination, it doesn't remove only the last change, but it can remove entire sections or even the entire dialog. I wanted just to remove a word and remove the entire dialog.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprodu

[2022-01-15 19:19] FANMixco opened #8914 "Cmd+A doesn't work"
## Describe the bug

You cannot select all text with Cmd+A without selecting it manually.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create any text like: "I'm your bot Freddy your superhero of the universe".
2. Press Cmd+A

## Expected

[2022-01-15 22:02] FANMixco commented on #8613
Indeed, this is still hapenning.

[2022-01-15 22:08] FANMixco opened #8915 "Error while publishing a bot from Bot Framework Composer in a Linux env"
## Describe the bug

I'm having issues when I am using my existing resources and publishing my bot to a **Linux env** because it is failing with the below error:

## Version

v2.1.1 and  v2.1.1-nightly.285734.f5208f0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the beh

[2022-01-15 23:32] Bolleman commented on #8895
I just had the same error, but not sure if what caused it was the same.  In my case it was caused by the fact that the project did not contain an settings/appsettings.json.  This was because the settings were in gitignore and therefore not in the repo I cloned.  Everything worked fine after adding a settings/appsettings.json back into the project folder before opening it in Composer,

[2022-01-16 16:30] FANMixco commented on #8897
You need to choose `string` and later, you configure the **JSON** in the **Response type**:

<img width="342" alt="Screen Shot 2022-01-16 at 17 29 32" src="https://user-images.githubusercontent.com/1666156/149668771-5b3c3084-7bff-415e-bd5f-c493b5750d71.png">

[2022-01-17 06:02] rishabh7k commented on #8891
Hello @dmvtech

Is there a temporary work around regarding this issue? Or something we can do from our end in an attempt to fix the error?

[2022-01-17 16:09] anishprasad01 commented on #8895
@Bolleman Interesting, thank you.

@RohanNayaks Do you have that file in your project folder? Do you get this error if you create a new project in composer, close it, and reopen it?

[2022-01-17 18:54] anishprasad01 commented on #8912
The way bots built with the Bot Framework work is somewhat different that bots made for a specific service, like a Discord bot or a Slack bot. Since there are a multitude of different channels that you might offer your bot on, some of which don't have the concept of "online users" as such, there is no built-in functionality that gets all online users.

Depending on the channel in which your bot is

[2022-01-17 19:06] EricDahlvang commented on #8914
Also cmd+z
 https://github.com/microsoft/BotFramework-Composer/issues/8913

[2022-01-17 19:39] ryub3n commented on #8892
I'm able to test the bot via Bot Emulator but 'Open in Web Chat' still throws the error.
I was trying to change my firewall settings but the buttons are disabled so need to check with my company's IT team.
![image](https://user-images.githubusercontent.com/24279903/149828453-70d7d5e7-1cb9-4c67-994f-6f3216f204ff.png)
I'm trying to remove the highlighted, reinstall and see if it would fix the issue.

[2022-01-17 20:12] anishprasad01 commented on #8911
The [Handling Attachments sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/15.handling-attachments) (C# linked, but samples in the other 3 supported languages are also available) shows how to get attachments from users and convert them to base64. Most languages, including those used by the Bot Framework, support base64 conversion with built-in standard li

[2022-01-17 20:15] anishprasad01 commented on #8892
Alright, let me know the results of that test. We're attempted to create and test a Node bot in Composer 2.1.1 on Windows, Mac, and Linux, and have had no issues.

[2022-01-17 23:16] ramfattah commented on #8886
Hi @owenpww -- Does this behavior happen only in the initial greeting responses? are you able to see translated responses after greeting?

I have developed a [client multilingual demo](https://github.com/ramfattah/MultilingualBot-WebChat), cloned from [a.full-bundlesample](https://github.com/microsoft/BotFramework-WebChat/tree/main/samples/01.getting-started/a.full-bundle). You can set your `Direc

[2022-01-18 01:39] ramfattah commented on #8901
Hi @tushaar9027 --  Thanks, looking into this issue.

[2022-01-18 05:36] owenpww commented on #8886
Hello @anishprasad01 and @ramfattah, updates.

I have been able to confirm that during the greeting the locale seems to be undefined (see screenshot where I enter the locale in the greeting but there is no value). The reason why the other responses AFTER the greeting show up correctly is because it is defined at that point (see screenshot of goodbye response showing locale).
![image](https://user-

[2022-01-18 05:38] owenpww commented on #8886
Thanks for these @ramfattah. I will try these and report back.

[2022-01-18 08:46] metkhoo commented on #8814
Any updates?

[2022-01-18 09:32] RamkumarManavalan commented on #8911
Thank you. However, I am using the bot framework composer and I have not written any custom code. So, does it mean that there are no pre-built functions to accomplish what I need and that I should write custom code to achieve this?

[2022-01-18 10:25] sarul84 commented on #8887
I am getting below error message sporadically when I try above said option. I am not sure what causes this error. I closed PVA, composer, killed cef browser instances in task manager and waited for 10 mins before trying again. That worked sometime but mostly getting same error, need to logoff / login to make it work again.

![image](https://user-images.githubusercontent.com/33111213/149918574-0805

[2022-01-18 15:20] 462sai opened #8918 "Failing pipeline buildAndDeployModels.yaml stage @"Publish LUIS""
Hi Team,

please, help us on below

We are facing issue while publishing the LUIS via the pipeline. Encountering error in the Azure DevOps pipeline as below

"no such file or directory, stat '/home/vsts/work/1/Build-LUIS.ps1"

Note:  we have fallowed the https://docs.microsoft.com/en-us/composer/how-to-cicd documentation for configuration

attached the screen shot for the yaml folder structure
![Y

[2022-01-18 15:50] sarul84 opened #8919 "Dynamic multiple choice from an Array"
I am getting Multi choice (Hero card) as a dynamic array and the array is in below format. I tried to extract options value from this json for array of choice.

[code]

The below expression is not giving me an empty values. Please help me on this.

[code]

[2022-01-18 16:42] anishprasad01 commented on #8911
Oh sorry, I thought this was an SDK bot. Composer is a bit different. Here are the [docs](https://docs.microsoft.com/en-us/composer/how-to-ask-for-user-input?tabs=v2x) for getting user input in Composer, one of which is attachments.

If your file type isn't natively supported, custom actions are a valid option.

[2022-01-18 16:45] RamkumarManavalan commented on #8911
Yes, I am using the user input you have quoted. The issue I face is mentioned below. Or, please point me to a good documentation that explains how I can write custom actions in Node and use the same in Composer.

I used the "File or Attachment" input to get the file attached by user in the chat window. This returned a json as below:

[{"contentType":"application/octet-stream","contentUrl":"https:/

[2022-01-18 17:56] #8809 closed

[2022-01-18 18:31] dmvtech commented on #8893
Investigating.

[2022-01-18 18:36] dmvtech commented on #8915
Hi @FANMixco

- Is this a C# bot or Node?
- Are you publishing to a Linux or Windows app service plan?
- Are you using a Multi tenant bot or a Single tenant?

[2022-01-18 18:42] dmvtech commented on #8866
Closing due to inactivity and inability to reproduce. If you can share with us a reproducible sample, please reopen or comment here and we can continue.

[2022-01-18 18:42] #8866 closed

[2022-01-18 19:02] dmvtech commented on #8919
Hi @sarul84 Just to be clear; you are _only_ getting null/empty values. You do actually want to retrieve the values (`Microsoft`, `IBM`, etc), correct?

[2022-01-18 19:21] ryub3n commented on #8890
This issue still exists. I used Node runtime. Works with windows but not with Linux.

[2022-01-18 19:40] ramfattah commented on #8888
Hi @piechk,
1) What is your BF Command Line Interface (CLI) version?
     * type `bf -v` in termal to find bf version
2) I created "Core Bot with Language" in composer(v2.1.1) and followed the [Create custom actions docs here](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions) and I was able to repro this issue. Though, my stack trace error was similar this issue-> #8501

#

I

[2022-01-18 19:52] dmvtech commented on #8919
You just need to change `choice.value` to `choice.options`. `choice` is an object, not an array.

[code]

[2022-01-18 20:15] FANMixco commented on #8915
Hi @dmvtech ,

Since it's 100% created by composer, I can see the following:
- C#
- Linux
- Single tenant

All were created by the Composer.

[2022-01-18 20:22] piechk commented on #8888
I will give this a try. My version is @microsoft/botframework-cli/4.14.1 win32-x64 node-v14.17.5.

[2022-01-18 23:35] anishprasad01 commented on #8911
Here is the documentation for [custom actions](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions). The docs are in C#, but there is also a [Node sample](https://github.com/microsoft/BotBuilder-Samples/tree/main/composer-samples/javascript_nodejs/projects/custom-action/multiply-dialog-package).

[2022-01-18 23:42] anishprasad01 commented on #8912
As there is no workaround or existing implementation for this, I'm going to go ahead and close this issue. If you have issues or feature requests in the future, please feel free to raise them in the appropriate repository.

[2022-01-18 23:42] #8912 closed

[2022-01-19 03:10] RamkumarManavalan commented on #8911
I did look at those and downloaded the same too. In the  [custom actions](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions)  doc, the section "Setup the component project" talks about instructions in C# bot using Visual Studio, whereas my main composer bot is in node. So, I need to know how to how to add the customaction (node) to my node composer bot using Visual Studio Code

[2022-01-19 08:59] sarul84 commented on #8919
Thank you so much @dmvtech. It did magic.

[2022-01-19 08:59] #8919 closed

[2022-01-19 09:13] SonalWagawade77 opened #8920 "As i open my existing bot in composer, after few minutes it gets stuck and shows up white screen"
## Describe the bug

## Version

## Screenshots
<img width="960" alt="Screenshot 2022-01-19 131311" src="https://user-images.githubusercontent.com/98016881/150099353-3bd729de-8554-4068-9ffd-70d6e26bc28b.png">

## Additional context

[2022-01-19 10:48] seredenkov opened #8921 "Bot Framework Composer can't find Node.js (Ubuntu)"
## Describe the bug

Bot Framework Composer requires the installation of Node.js, but the Node.js is installed.

## Version

Version:  2.1.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [x] Ubuntu

## To Reproduce

Steps to reproduce the

[2022-01-19 13:12] seredenkov commented on #8921
as it turned out, error only when using `nvm`
if we don't use `nvm`, then the `Composer` works fine.

But I would like, of course, that the use of `nvm` does not cause problems for the `Composer`

[2022-01-19 13:15] piechk commented on #8888
After attempting PowerShell fix. The error message I received was as follows:

![image](https://user-images.githubusercontent.com/96060366/150138116-44f4178f-8d9a-4e0c-8f98-ac5e8d90d272.png)

[2022-01-19 15:38] anishprasad01 commented on #8911
There are corresponding files in the Node sample, which is why I linked it. For example, the `package.json` [file](https://github.com/microsoft/BotBuilder-Samples/blob/main/composer-samples/javascript_nodejs/projects/custom-action/multiply-dialog-package/package.json) has the list of dependencies that the `sln` file contains in C#

[2022-01-19 17:54] owenpww commented on #8886
Thank you @ramfattah! This seems to have solved it!

[2022-01-19 18:55] rishabh7k commented on #8891
UPDATE

Deployed TestSkillBot1 and TestSkillBot2 to Azure, TestRootBot is still local. Still gives the same error.

[2022-01-19 19:03] sarul84 commented on #8779
@MCKRUZ , @EricDahlvang, can you please help on how to use input variables defined in Dialog Interface? How can I access those variables?

[2022-01-19 19:09] MCKRUZ commented on #8779
Sarul84, have a look at this demo on my PS course here
https://app.pluralsight.com/course-player?clipId=743c679b-0fcb-4172-a7a8-228dcec5d85b

It explains how to use them in detail with an example.  If you still have questions hit me up on twitter at @MCKRUZ

[2022-01-19 20:32] anishprasad01 commented on #8920
Hi @SonalWagawade77,

I'm going to need more information from you before I can begin to look into this. I can see from your screenshot that you're using Composer 2.1.1 on Windows 10, but beyond that you haven't told me anything else about this bot.

- What language is this?
- How large is this bot?
- When was this bot made?
- Is this a root or skill bot?
- Are you accessing external resources like

[2022-01-19 22:01] anishprasad01 commented on #8921
Hi @seredenkov,

Just to confirm, did you select the node version using the command `nvm use`? I have Node v14.18.2 installed using nvm and I haven't had any issues getting Composer to create a new bot.

[2022-01-20 08:02] SonalWagawade77 commented on #8920
Hi anishprasad01,

Here are the answers for your questions.

What language is this?
-English

How large is this bot?
-Its a large enterprise level bot

When was this bot made?
-June 2020

Is this a root or skill bot?
-Skill Bot

Are you accessing external resources like LUIS or QnA, and are those keys correct?
-Yes we are using external resources but not cognitive services and the keys are correct

[2022-01-20 14:20] saikumaru opened #8924 "Ability for multiple users to edit the bot without overrides"
## Describe the solution you'd like
We would expect the composer bot to be editable by multiple people.
The bot once published to the portal should be possible to be retrieved by 2nd or other team member before she/he updates her/his changes.

## Describe alternatives you've considered
GIT or any SCM tool to be used for pulling a latest copy
Carefully publish only after being sure of a latest comm

[2022-01-20 14:27] saikumaru commented on #8918
can you please share the logs of the step that failed?

This folder path`/home/vsts/work/1/`
is equivalant to your base folder of your repo, so you need to provide a precise path where the powershell script lies.

Wherever it failed, this would be a better way to have accessed that script.
`/home/vsts/work/1/build/yaml/templates/Build-LUIS.ps1`

[2022-01-20 14:33] saikumaru commented on #8918
The documentation provided is not the best one. But you most probably messed up at the place where you are assigning your variables- ProjectDirectory and Projectname

@EricDahlvang - it would be great if you can unmask the data assigned to the variables on pipeline. It gets tricky for a first timer to figure it out from the document.
https://docs.microsoft.com/en-us/composer/how-to-cicd#create-the

[2022-01-20 15:35] anishprasad01 commented on #8920
A few more things,

- What programming language is this bot? C# or Node?
- When did you upgrade to Composer 2.1.1? Does the bot open fine in an older version?
- Are you able to try reinstalling Composer?

[2022-01-20 17:13] owenpww commented on #8840
Hello @benbrown, could we potentially reopen this issue? The implementation I had created was working for a while and then suddenly the same bug I encountered before with the built-in typing middleware occurred: user sends message, bot responds, then typing indicator is shown instead of user sends message, typing indicator is shown, then bot responds.

[2022-01-20 21:51] rajeshdagdevir opened #8925 "Missing app registration on Composer Publish"
Missing app registration on Composer Publish

Hello again.
I have encountered very nasty bug.
When I publish bot via composer all resources get created as intended. Bot gets app id and app pasword and it works perfect. Now i tried to add further functionality like key vault. for that I need to add my bot app to keyvault policy. but app registration cannot be found. i am in correct aad or tenant, a

[2022-01-20 23:28] seredenkov commented on #8921
Hello, @anishprasad01
Yes, I did it.

 maybe, in addition to nvm, you also have node.js installed in the usual way?

[2022-01-20 23:52] anishprasad01 commented on #8921
I've confirmed that I did not. I've only installed it in Ubuntu via `nvm`. Have you tried uninstalling all Node installs and then installing via `nvm`?

[2022-01-21 00:15] dmvtech commented on #8918
@462sai Please confirm the config per @saikumaru suggestion above and share logs.

@saikumaru That is a great suggestion (have bogus/sample values to see what they might look like or formatted). Please suggest such a change on the documentation page (at the bottom; `Feedback for this page`).

[2022-01-21 06:46] SonalWagawade77 commented on #8920
Ok here you go,

What programming language is this bot? C# or Node?
-Node

When did you upgrade to Composer 2.1.1? Does the bot open fine in an older version?
-Dec 2021. No it doesn't  open older version and for old version code too I was facing same issue

Are you able to try reinstalling Composer?
-Yes, I have tried but still its the same issue

[2022-01-21 07:32] bobokids opened #8926 ""Sign In code was not found or expired""
## Describe the bug

Copied the bug from https://github.com/microsoft/BotFramework-Services/issues/329
![image](https://user-images.githubusercontent.com/19182479/150485231-1ad0de35-200e-4df3-8158-ab6dbc5ea84e.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprodu

[2022-01-21 15:58] anishprasad01 commented on #8920
By "older version" I meant if you downgrade Composer to an older version, say 2.0.0 or 2.1.0. In that older version, can you open the project?

[2022-01-21 18:17] anishprasad01 commented on #8920
Another thing you might try is uninstalling Composer, going to the install directory, and deleting any residual files *before* you reinstall.

[2022-01-21 18:34] ramfattah commented on #8887
Closing this for now as you were able to make it work after logoff / login. Feel free to re-open if you are still having issues.

[2022-01-21 18:34] #8887 closed

[2022-01-21 19:38] #8911 closed

[2022-01-21 19:39] anishprasad01 commented on #8911
Please direct all further **how to** questions to [Stack Overflow](http://stackoverflow.com/search?q=%23botframework).

[2022-01-21 19:39] anishprasad01 commented on #8895
Closing this issue due to inactivity. If you still require assistance, please comment and we can reopen the issue.

[2022-01-21 20:59] EricDahlvang commented on #8924
Hi @saikumaru

This functionality is currently available in Power Virtual Agents:

https://docs.microsoft.com/en-us/power-virtual-agents/advanced-bot-framework-composer
https://docs.microsoft.com/en-us/composer/pva/overview-composer-pva

[2022-01-21 21:45] jasonyazell opened #8927 "Error hit when instantiating remote template:"
## Describe the bug

AppData\Roaming\BotFrameworkComposer\.yo-repository\node_modules\@microsoft\generator-bot-enterprise-assistant\generators\app\templates\botName.sln:6 4| VisualStudioVersion = 16.0.30503.244 5| MinimumVisualStudioVersion = 10.0.40219.1 >> 6| Project("{<%= projectType %>}") = "<%= botName %>", "<%= botName %>\<%= botName %>.csproj", "{<%= botProjectGuid %>}" 7| EndProject 8| Pro

[2022-01-22 06:33] dawwa commented on #8895
@anishprasad01, would you please reactivate this issue? this seems a bug as the composer should not complain this for settings/appsettings.json is missing, in our case, for consistency reason, we need to have the appsettings.json under the project root folder instead of the settings folder, and it's a valid option for the [AddBotRuntimeConfiguration](https://github.com/microsoft/botbuilder-dotnet/

[2022-01-23 08:37] FANMixco commented on #8915
Hi @dmvtech, I found the issue is when you deploy it to a **Linux** env, I was able to deploy it to Windows.

[2022-01-24 08:47] SonalWagawade77 commented on #8920
Hey @anishprasad01,

Even after following your above solution of trying reinstalling composer by deleting residual files, I am facing same issue.

[2022-01-24 10:54] sarul84 opened #8931 "Question: Is there a way to call power automate from BotComposer"
Hi, I am having a use case to call power automate (cloud) flow from bot composer. Is there any way to directly call power automate (cloud) flows?

Any help would really be appreciated. Thanks in advance.

[2022-01-24 12:17] sarul84 commented on #8887
@ramfattah - are you saying the steps I mentioned were fix for this? Any plan to investigate further to identify the exact root cause?

[2022-01-24 14:31] BhagyashreeC-Hexaware opened #8932 "How to update the existing adaptive card in bot composer?"
Hi, I am trying to implement an adaptive card in bot composer where the functionality is like on submitting the adaptive card the response should be updated in the same adaptive card. Is there any way to update the same adaptive card in bot composer?

In MS teams :
before submitting the adaptive card
![image](https://user-images.githubusercontent.com/68320411/150916395-6ff31da4-b6b6-45ae-8b65-5750

[2022-01-24 14:35] BhagyashreeC-Hexaware opened #8933 "Is there any way to implement list cards in bot composer?"
Hi, I am trying to implement list cards in bot composer as we are having this type of card implementation in MS teams, is there any way to implement list cards in bot composer?
List card provides functionality like scroll bar, etc. is there any alternative for similar to list card?

Sample List Card
{
      "contentType": "application/vnd.microsoft.teams.card.list",
      "content": {
        "tit

[2022-01-24 14:43] BhagyashreeC-Hexaware opened #8934 "Is there any way to call custom ML before hitting LUIS?"
For identifying the intents and entities the only allowed method is LUIS. There is no way to call the external custom ML or local NLP endpoint for intent/entity classification, we haven't found any way to configure the custom ML.
Before calling LUIS it should hit that local NLP endpoint and if it doesn't satisfy the threshold than only it should hit the LUIS.
Is there any way to implement this typ

[2022-01-24 16:30] anishprasad01 commented on #8920
If you go to the top, open the Dev console, and then open the bot, do you get any useful error messages? Perhaps you could screenshot them and we can see if there are any clues there.

![image](https://user-images.githubusercontent.com/33945547/150823590-be50c754-f0c5-4ffd-81c6-e9a19a167ecc.png)

[2022-01-24 16:31] anishprasad01 commented on #8892
@ryub3n Any updates on that test?

[2022-01-24 18:37] carlosscastro commented on #8798
@boydc2014 could you please follow up on this issue? Do we have updates on this front?

[2022-01-24 18:47] carlosscastro commented on #8831
Hello @owenpww is this unblocked on your side?

[2022-01-24 18:47] anishprasad01 commented on #8895
Hi @dawwa,

What I can tell you right off the bat is that at this time, Composer's [Bot Structure Template](https://github.com/microsoft/BotFramework-Composer/blob/06e1b66d9bd31ad086505fc15cbed15253f6a6bd/Composer/packages/server/src/models/bot/botStructure.ts#L19) requires that files be in certain place in order for Composer to work correctly. Composer will create files in those spots if they're

[2022-01-24 18:49] carlosscastro commented on #8836
@lauren-mills any update on this issue?

[2022-01-24 18:54] carlosscastro commented on #8856
@dmvtech could you please follow up on this issue?

[2022-01-24 19:04] carlosscastro commented on #8881
Hello @benbrown. Could you help me route this issue to the right person?

[2022-01-24 19:17] carlosscastro commented on #8914
@tdurnford any progress on this one?

[2022-01-24 20:01] stevkan commented on #8931
Power Automate has a limited set of [APIs](https://docs.microsoft.com/en-us/power-automate/web-api) that they make available. You can make HTTP requests in Composer to one of these APIs, if they match your need.

-----------------------

For future reference, please be aware of the following:

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http:

[2022-01-24 20:01] #8931 closed

[2022-01-24 22:07] tushaar9027 commented on #8897
Hi FanMixco , i was able to apss the variables after changing the body type to json object that was the issue. Selecting body as string was the issue actually

[2022-01-24 23:29] ramfattah commented on #8888
Closing this issue as similar one is posted here. https://github.com/microsoft/BotFramework-Composer/issues/8501

[2022-01-24 23:29] #8888 closed

[2022-01-25 04:41] ankur0501 commented on #5180
facing similar issue, where I am calling "Cancel All Active Dialogs" and calling another dialog after that but the new dialog is not getting called. please help

[2022-01-25 04:41] ankur0501 commented on #5180
Hwo.. Please help me... how us solved it

[2022-01-25 09:08] prajwal-ainapur opened #8939 "Unable to deploy Published bot"
I had few permission related issues due to my account being a one from organization. So decided to make use of "Import using existing resources". Please find the .json below that was used to create the publishing profile.
[code]
The bot is getting published successfully. However, when i click on "Test in Web Chat" option inside the Azure Bot Resource, i am getting blank screen.

Also, inside the c

[2022-01-25 10:47] ViGouRCanberra opened #8940 "Error on Bearer token for QnA Maker subscription on Composer based Bot"
Attempted to set up the config for the QnA Maker on a Composer bot and now I get this error always in the config, and I can't change anything to remove the errenous config:

[code]

[2022-01-25 12:01] aparnaji opened #8941 "Teams OAuth not working"
## Describe the bug
BOT Developed using Bot Composer , Teams channel, OAuth not working

## Version

![image](https://user-images.githubusercontent.com/26645750/150973177-3cedf356-127c-4cae-99f1-7c274a48726e.png)

## Browser

- [ ] Chrome

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create a Bot with OAuth Card
2. Test locally - Success
3. Post to Cloud - Enable Tea

[2022-01-25 13:39] BhupathiK-Hexaware opened #8942 "Issue with fetching refresh token form the Microsoft Login for Azure active directory login"
Hello,

I'm working on Active Directory v2 authentication in bot composer. The authentication process is proceeding properly, and the token is being received, but the refresh token is not being received.

We have one feature in that we must use the refresh token to produce several access tokens for different scopes.
We attempted to do this in a Node.js project by generating authorization-code with

[2022-01-25 18:06] alex12pabon commented on #3827
Hello @benbrown, did you manage to find a solution? I have version 2.0 and I get the same error

[2022-01-25 18:28] dmvtech commented on #8903
Hi @tushaar9027

My apologies; can you please clarify on what you are attempting to accomplish and what the need is? Is this using Webchat as a client or a custom directline client? Can you clarify on what you mean by `directline receive activity` ?

[2022-01-25 18:34] lauren-mills commented on #8836
This appears to be more of a design issue with how Composer tries to automatically "do the right thing" when adding remote skills with Orchestrator, but actually ends up breaking John's scenario. This should be added to the backlog as a scenario that should be reviewed and revisited.

As for the Enterprise Template specifically, my advice for moving forward is to not add Calendar and People as rem

[2022-01-25 18:38] anishprasad01 commented on #8940
Hi @ViGouRCanberra,

What key are you actually using in Composer? None if the keys that Azure provides for the QnA resource are that long or in that format. Could you go to the QnA resource in azure and double check that you have actually put the `Subscription` key in the QnA key field in Composer settings?

[2022-01-25 18:52] tushaar9027 commented on #8903
Hi Dmvtech ,

there is a custom node web app i have created in azure in which i am trying to get the chatbot responses using the directline  api ...this custom connector connects further to a third party vendor....

By Directline recieve activity i mean this http request to get bot responses using directline
https://directline.botframework.com/v3/directline/conversations/${convid}/activities?water

[2022-01-25 19:09] #8897 closed

[2022-01-25 20:04] seredenkov commented on #8921
No, I haven't tried it, I don't see the point in it (because it was possible to succeed without deleting nodes)
The issue was that while the correct version of node was installed and selected in `nvm`, the composer still did not see this node.
After I installed the node without nvm, the composer worked correctly.

[2022-01-25 20:04] #8921 closed

[2022-01-25 20:09] anishprasad01 commented on #8941
There is an ongoing investigation into this problem [here](https://github.com/microsoft/botbuilder-dotnet/issues/6071).

[2022-01-25 23:28] owenpww commented on #8831
Hello @carlosscastro yes with the workaround I mentioned. It works but of course it would be better not to be confined to using the hack.

[2022-01-26 00:06] anishprasad01 commented on #8892
Closing this issue due to inactivity. If you still require assistance and/or when you complete your tests, feel free to comment and we can reopen the issue.

[2022-01-26 00:49] ramfattah commented on #8925
Hi @rajeshdagdevir -- let's do the following steps:

1) Confirm if you are in the correct Azure directory.
     <img src="https://i.imgur.com/5Piqx0c.png" alt="" width="400"/>

2) In Azure Portal, go to Azure Active Directory, on left navbar click 'App registrations' and check if your app is listed.

[2022-01-26 00:50] ramfattah commented on #8927
Hi @jasonyazell -- thanks, looking into this issue.

[2022-01-26 03:00] ramfattah commented on #8927
Hi @jasonyazell, There are 3 Enterprise Bot template included in the Bot Framework Composer by default:
1) Enterprise Assistant Bot -  [Documentation](https://docs.microsoft.com/en-us/composer/templates/enterprise-assistant-tutorial)
2) Enterprise Calendar Bot - [Documentation](https://docs.microsoft.com/en-us/composer/templates/enterprise-calendar-tutorial)
2) Enterprise People Bot - [Documentati

[2022-01-26 03:29] ramfattah commented on #8926
Hi @rodriguesnich -- This behavior is expected. For more on Bot composer OAuth refresh token, please check out this [oauth prompt logic issue](https://github.com/microsoft/BotFramework-Composer/issues/3629#:~:text=The%20logic%20of,there%20is%20any.).

Closing this as it is not a bug, feel free to reopen this issue if you come across any bugs.
Hi @user, let us know if @user's suggestion worked, I a

[2022-01-26 03:29] #8926 closed

[2022-01-26 09:42] c-nova commented on #8927
Hi, @ramfattah, I've facing maybe same issue.
I'm using Mac OS Monterey 12.1 and Composer is v2.1.1-nightly.288257.652aa64.
Other template (e.g. Empty bot) is working fine.
Thank you.
<img width="335" alt="2022-01-26 18 39 30" src="https://user-images.githubusercontent.com/13674113/151139690-94d93b45-5f60-44b4-82e1-49296a9f0da7.png">

[2022-01-26 13:51] tdurnford commented on #8914
Hello @FANMixco  and thank you for engaging with the Composer project. We'll take this issue as a feature request and add it to the backlog for prioritization. We do not have an ETA at this time for when this feature will be available.

[2022-01-26 14:17] jasonyazell commented on #8927
I am using the newest version of bot composer and the documentation you sent tells me to do the exact same steps I have already followed to get the error.

I am still having the issue.

Jason Yazell
Automation Architect, Automation Strategy and Operations
Eli Lilly and Company
Lilly Corporate Center, Indianapolis IN 46285
+1 317.518.8263
***@***.***

CONFIDENTIALITY NOTICE: This email message (inc

[2022-01-26 15:44] Markyboy944 opened #8944 "Get this error when trying to create new Enterprise Assistant Bot"
## Describe the bug

When trying to create a new Enterprise Assistant Bot, it fails with the following error:

Error hit when instantiating remote template: C:\Users\mhard\AppData\Roaming\BotFrameworkComposer\.yo-repository\node_modules\@microsoft\generator-bot-enterprise-assistant\generators\app\templates\botName.sln:6 4| VisualStudioVersion = 16.0.30503.244 5| MinimumVisualStudioVersion = 10.0.4

[2022-01-26 17:09] ramfattah commented on #8942
Hi @BhupathiK-Hexaware -- looking into this.

[2022-01-26 19:02] dmvtech commented on #8932
Hi @BhagyashreeC-Hexaware Are you able to share your adaptive card?

[2022-01-26 19:25] carlosscastro opened #8945 "Composer screen turns all white"
The issue is not a consistent repro, but customers have reported after some idle period, that the composer window turns all white and the only solution is to restart the application.

[2022-01-26 19:29] ramfattah commented on #8944
Hi @Markyboy944 -- thanks, looking into this issue.

[2022-01-26 20:06] ramfattah commented on #8888
@piechk, let's continue this discussion in the issue link above. Also, please list the steps to reproduce the behavior.

[2022-01-26 20:26] ramfattah commented on #8927
@c-nova & @jasonyazell

I was able to reproduce this issue when creating a new "Enterprise Assistant Bot". I checked the Calander and People Enterprise bot seem to work. Thanks for finding this bug.

[2022-01-26 20:28] ramfattah commented on #8944
Looks like this is a known bug. Closing this issue. Let's continue this here #8927

[2022-01-26 20:28] #8944 closed

[2022-01-27 00:55] dmvtech commented on #8893
Hi @julianpleli Apologies for the delay.

Do you know if you are able to login to the az cli tool?

Assuming it's installed, first check the version:
`az -v`

Then the following to see if you are logged in or not:
`az account show`

If not, use the following:
`az login`

[2022-01-27 01:09] anishprasad01 commented on #8895
@dawwa,

I've looked into it, and it looks like Composer operates this way in order to ensure that when bots are authored and deployed, the required files are present where Composer expects them to be. This is why it will ask and/or create a new file in the `settings` folder if you move it.

We'll take this issue as a feature request and add it to the backlog for prioritization. We do not have an

[2022-01-27 01:09] #8895 closed

[2022-01-27 04:16] BhagyashreeC-Hexaware commented on #8932
Hi @dmvtech following are the adaptive card:
First Adaptive Card :
{
        "type": "AdaptiveCard",
        "$schema": "https://adaptivecards.io/schemas/adaptive-card.json",
        "version": "1.0",
        "padding": "none",
        "body": [
          {
            "type": "TextBlock",
            "text": "Please provide description to create an incident",
            "wrap": true,

[2022-01-27 05:19] saikumaru commented on #8924
Thank you @EricDahlvang .
This kind of limits the usage of composer tool for low-code users. We know composer is much more powerful and flexible than PVA, and this feature will allow a greater embracement of this and to scale the bot seamlessly.

We could well use composer just as an IDE, but unfortunately every edit causes an override to remote NLU/QnA models. So, as a resolution at least please

[2022-01-27 07:50] SonalWagawade77 commented on #8920
I am getting this error message in dev console.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/98016881/151314540-b52d0800-aa2b-4459-9b21-e9d2f2397621.png">

[2022-01-27 08:50] ViGouRCanberra commented on #8940
For the subscription key, I'm using the shorter subscription key as from the Azure portal. This key here that is giving me this error was a CLI command to generate a token, as requested by this page. (az account get-access-token)
It doesn't pop that same dialogue anymore, instead, it gives met this error as stated in my first message.

I've cleared my browser and now it asks for the access token a

[2022-01-27 12:17] amitabhuddi commented on #8856
Hi Dana, @dmvtech, could you please help me give update on progress of this issue? If there is any other info needed from my end or we need to book a call to try the solution, I am happy to do that. Thanks

[2022-01-27 12:58] piechk commented on #8501
Step #1: Follow guild for adding custom action and add the custom action Link: [https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions) Alternatively add the custom action from the bot sample files.

Step #2: Run the powershell script. With or with out the updated line from bug #8888. You will still receive and

[2022-01-27 17:19] amitabhuddi commented on #8856
Yes they are

[2022-01-27 17:46] ramfattah commented on #8942
1) For clearity, please list the steps to reproduce this behavior. [reference here](https://github.com/microsoft/BotFramework-Composer/blob/main/.github/ISSUE_TEMPLATE/bot-framework-composer-bug.md#:~:text=To%20Reproduce,See%20error)
2) In composer, have you tried setting the "alwaysPrompt" to false and check if you recieve the refresh token?

<img src="https://i.ibb.co/w4jdn9Q/Screenshot-5.png" w

[2022-01-27 19:18] ramfattah commented on #8927
I am able to reproduce this issue outside of Composer. It seems to be an issue with the package/generator.

Here are the steps I used to reproduce:
[code]

At this point the following error is received:
[code]

[2022-01-27 21:21] sgellock commented on #8920
@SonalWagawade77 thank you for the data.  We are working to repo it and figure out the issue.

[2022-01-28 00:50] dmvtech commented on #8939
@prajwal-ainapur I don't see anything apparent with your provisioning settings. I am investigating some other publishing issues and will link if we find they are the same issue. Do you know what type of app your bot is? (multitenant, singletenant or user-assigned managed identity)

[2022-01-28 01:05] anishprasad01 commented on #8940
@ViGouRCanberra

As a quick test, I created a new bot, went into the settings, and added an existing QnA database, and it added the short key. I was never prompted to enter CLI commands.

Are you signed in to Azure in Composer? Does it prompt you to sign in before you get to this point?

Are you also able to provide reproduction steps?

[2022-01-28 06:08] BhupathiK-Hexaware opened #8947 ""Send task module URL response" is showing blank screen"
Hi, I am trying to implement task module in bot composer. I have installed the bot-components-teams package.

![image](https://user-images.githubusercontent.com/87963223/151490080-c53efd02-71ec-4beb-be7f-4cee9d94cf87.png)

I am using the “On task module fetch” trigger to implement the task module. In that I am using the “send task module as a url response”

![image](https://user-images.githubuserc

[2022-01-28 07:19] JayHB1 opened #8948 "Interruption handling in 'QnAMaker dialog'"
Hello,
We have a built-in 'QnAMaker dialog' in composer to configure knowledgebase.
![image](https://user-images.githubusercontent.com/91305025/151495930-6646abcb-0eb1-4430-a1cf-094118c18607.png)
If there is a multi turn question in knowledgebase,  'QnAMaker dialog' displays all the follow up prompts in the chat window. But instead of clicking on any of the follow up prompt, if user types some oth

[2022-01-28 07:45] JayHB1 opened #8949 "Dialog names in Power BI template for App insights telemetry for a bot created in Bot Composer"
Hello,

We have a bot created in Bot composer and default telemetry is enabled by providing app insights instrumentation key.
We have a sample Power BI template to use for bot analytics as provided in below url.
https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/view-analytics/1-intro/
After configuring Power BI template, it seems that there is junk data getting log

[2022-01-28 12:13] nityakalyan opened #8950 "Issue with Package manager in Bot Framework Composer"
Could not load component list:Error https://schemas.botframework.com/schemas/component/v1.0/component.schema: unable to get local issuer certificate Error Microsoft.QnAMakerDialog: Cannot extend component because it is not included Error Microsoft.QnAMakerDialog: Cannot set property 'const' of undefined *** Could not merge components ***

[2022-01-28 17:35] #8927 closed

[2022-01-28 17:40] dmvtech commented on #8932
Still investigating.

[2022-01-28 17:45] dmvtech commented on #8891
Thanks @rishabh7k Sorry for the delay. I'm investigating to see I can reproduce and find any workarounds or bugs.

[2022-01-28 17:49] dmvtech commented on #8918
@462sai Are you still having issues with a failed pipeline? Did any of the suggestions above help at all?

[2022-01-28 18:37] dmvtech commented on #8890
Was able to reproduce issue. Will be linking other issues here and updating with progress.

[2022-01-28 18:39] dmvtech commented on #8915
Able to reproduce. Closing in lieu of #8890. Please monitor there for progress.

[2022-01-28 18:39] #8915 closed

[2022-01-28 18:48] dmvtech commented on #8856
I'm investigating. I will update later today. I'll let you know if I need anything further. Thank you for the offer.

[2022-01-28 18:51] dmvtech commented on #8890
Adding log of my repro.
[error_log_sanitized.txt](https://github.com/microsoft/BotFramework-Composer/files/7961107/error_log_sanitized.txt)

[2022-01-28 19:15] anishprasad01 commented on #8950
Hi @nityakalyan,

I assume this is occurs when you try to download a package? This issue is often caused by network or proxy controls resulting in an inability to connect and download the required components. Is this a corporate or educational machine?

You can try a couple of things:
- Navigate to `https://schemas.botframework.com/schemas/component/v1.0/component.schema` and see if it can be reac

[2022-01-28 19:45] carlosscastro commented on #8872
Closing this issue, given that @LeeParrishMSFT's recommendation is correct - we don't have control over those transcripts in this repository. Thanks!

[2022-01-28 19:45] #8872 closed

[2022-01-28 19:47] dmvtech commented on #8949
Hi @JayHB1

Yes, in adaptive dialogs, those things (actions) are also dialogs. There is nothing in the runtime that will filter out logging those versus other dialogs.

Yeah, it was not using adaptive dialogs.

Yes. Well, kind of. Composer is using adaptive dialogs (declarative). You can create code-first bots using adaptive dialogs (no longer recommended), and those will have the same behavior. A

[2022-01-28 19:47] #8949 closed

[2022-01-28 19:55] stevkan commented on #8934
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotFramework-SDK/) repo is the preferred platform for information on submitting **bug fixes** and **feature requests**.

[2022-01-28 19:55] #8934 closed

[2022-01-28 22:20] ramfattah commented on #8925
Hi @rajeshdagdevir -- let's do the following steps:

1) Confirm if you are in the correct Azure directory.
     <img src="https://i.imgur.com/aykrKRN.png" alt="" width="400"/>

2) In Azure Portal, go to Azure Active Directory, on left navbar click 'App registrations' and check if your app is listed.

[2022-01-28 23:08] dmvtech commented on #8939
@prajwal-ainapur

Just to confirm, in the publishing pane of Composer you see success such as:
![image](https://user-images.githubusercontent.com/43397658/151633767-2d9b4645-bf46-4eb5-92f0-254a30b2c009.png)

But the messaging endpoint for the bot configuration was blank and the bot does not respond at all (Test in Web Chat)?

[2022-01-28 23:22] dmvtech commented on #8856
@amitabhuddi I am unable to reproduce this. There are some deploy zip issues, but those only happen on Linux runtime hosts.

Can you please share the full publishing log? You can find it by expainding the publish status line and then clicking `View log`.
![image](https://user-images.githubusercontent.com/43397658/151634855-ee60736b-999c-46b5-bfff-f3cd7e9819ea.png)

Please remove/sanitize all perso

[2022-01-29 20:55] amitabhuddi commented on #8856
hi @dmvtech, please see the below screenhot, i do not have any option to expand the publish status line, all i see is the following in the message column.

![image](https://user-images.githubusercontent.com/7301750/151677239-5eec0c8d-9589-415c-8878-5ff6a72cbcbc.png)

[2022-01-31 06:29] ViGouRCanberra commented on #8940
Ah, you pointed me in the correct direction.
Was an issue with my login. I seemed logged in, not sure what was wrong, but I logged out and in again and the Syntax error as pictured above is gone.

Thanks @anishprasad01

[2022-01-31 06:29] #8940 closed

[2022-01-31 07:58] rishabh7k commented on #8891
Hi @dmvtech

We have managed to find a workaround for this issue. Turns out if you Prompt a Confirmation/Text/Number etc at the end of the TestSkillBot1 (TestRootBot ->**TestSkillBot1** -> TestSkillBot2), it takes the input for the prompt and returns back to TestRootBot and does not throw the error.

**Prompt in TestSkillBot1:**

![image](https://user-images.githubusercontent.com/47751904/15175585

[2022-01-31 11:13] nityakalyan opened #8952 "Unable to sign in with Azure Account in Bot Framework Composer"
Hi

I am able to log in to my azure account in portal.azure.com successfully and have an Active Azure Directory.

While I was trying to log in using my Azure account in Bot Framework Composer, I get the below error

"Sign in failed: No Azure Directories were found"

![image](https://user-images.githubusercontent.com/36395514/151783726-c24d810c-b5fe-4138-9cd0-8a4f63ef43e7.png)

Could you please hel

[2022-01-31 16:24] #8107 closed

[2022-01-31 16:34] anishprasad01 commented on #8941
@aparnaji,

As per the [documentation on Teams Auth](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=userassigned%2Caadv2%2Ccsharp#adding-teams-authentication), you need to create and upload an `app manifest` to Teams in order to test OAuth scenarios. If you just click `Open in Teams`, you're communicating with the bot by ID and not ins

[2022-01-31 17:55] dmvtech commented on #8856
@amitabhuddi You cannot scroll further to the right?

[2022-01-31 18:13] amitabhuddi commented on #8856
no @dmvtech, that's all I see on my screen, cannot double-click or right-click. I am using 2.1.1 version of the composer if that helps, in the latest version of the composer - I cannot log in to my company azure account thus I needed to switch back to 2.1.1 version.

![image](https://user-images.githubusercontent.com/7301750/151849316-62248b6b-1abc-437d-98e7-49bc98d51183.png)

[2022-01-31 20:31] anishprasad01 commented on #8952
Hi @nityakalyan,

Could you tell us a bit more about you situation?

- What OS are you running?
- Do you have more than one Azure directory connected to your account?
- Are you behind a proxy or any other middleware that might be interfering?
- What type of account is this? (Work or school?)

[2022-01-31 20:53] ramfattah commented on #8947
Hi @BhupathiK-Hexaware, I'm investigating this issue.

[2022-01-31 21:07] ramfattah commented on #8942
Looks like there were similar issues posted previously in regards to managing token. Linking them below:

1) [Azure Bot Service OAuth Connection String Not Maintaining Token](https://github.com/microsoft/BotFramework-Services/issues/186#issuecomment-596583187)
2) [AAD token not refreshed by service](https://github.com/microsoft/BotFramework-Services/issues/150#issuecomment-571307449)

[2022-02-01 01:46] dmvtech commented on #8903
You won't be able to set the channelData properties from Composer. ChannelData is normally handled by the channel (`Channel=>Bot`. Not `Bot=>Channel`). So that the bot has information about the channel, and can handle certain logic per channel.

Your bot was _sending_ channelData to a directline client?

[2022-02-01 02:21] dmvtech commented on #8948
Hi @JayHB1

Using the QnAMaker action/dialog, you will only be able to query a QnA maker with a specific question.  This is a very simple and straightforward implementation and is often just used in the Unknown intent trigger to handle something that is not already handled elsewhere in the bot logic.
That is what you have setup, but here is info on that for clarity:
https://docs.microsoft.com/en-u

[2022-02-01 06:37] nityakalyan commented on #8952
Hi Anish

- I am running on Windows 10

- Yes, I have two Azure directories connected to my account. I tried to switch to both of these directories at a time and checked but the same issue occurs again

- Yes

- Its a 'work' account

Thanks
Kalyan

[2022-02-01 08:12] taicchoumsft opened #8953 "Arabic Localization settings do not match LUIS"
The only supported LUIS lang-locale is "ar-ar".  However, Composer localization settings do not have this lang-locale. End result is that there is no way to publish a LUIS model in Arabic from Composer.

[2022-02-01 09:47] rd-devvv opened #8954 "Send different values to API using hero card"
Hello,

I have a hero card that requests from user to select his employment status. my issue is how can I send different value to API?

For ex: in the hero card there is employed, self employed and unemployed etc... when user clicks on unemployed its storing the value unemployed in dialog.employmentstatus and all is working fine and I have a confirmation for user to make sure he clicked the right

[2022-02-01 11:35] zeusari commented on #8665
Dear Team,

Loved your tool and it was super easy to use.
But my current product is on Java/ Python. So we couldn't use this tool effectively. useful. So request you to plan for a Java/Python release.

[2022-02-01 12:26] metkhoo commented on #8814
Any updates?

[2022-02-01 17:01] lyangpku opened #8955 "java"
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2022-02-01 17:51] dmvtech commented on #8932
hi @BhagyashreeC-Hexaware

What channel are you wanting to do this in? Is the above working sample with Teams updating/replacing the previous card? i.e. the first card submits data to the bot which then provides data for the second card to be updated or removed (then new card sent)?

Teams supports `messageUpdate` (and `messageDelete`) while Directline (Webchat/Emulator/Directline clients) does **

[2022-02-01 18:04] msomanathan commented on #8812
@stevkan Could you please provide an update to this issue?

[2022-02-01 18:05] msomanathan commented on #8814
@benbrown Could you please provide an update to this issue?

[2022-02-01 18:08] msomanathan commented on #8840
@benbrown Looks like this issue has been reopened since the bug reoccurred after trying the resolution. Could you please take a look?

[2022-02-01 18:09] msomanathan commented on #8841
@stevkan Could you please provide an update to this issue?

[2022-02-01 18:11] msomanathan commented on #8881
@benbrown Could you please provide an update to this issue?

[2022-02-01 18:58] dmvtech commented on #8893
@tdurnford

I can reproduce when following the steps for [documentation here](https://docs.microsoft.com/en-us/composer/configure-composer-proxy?tabs=windows), I get the following:

![image](https://user-images.githubusercontent.com/43397658/152032974-8ee0259d-c996-4518-9b3d-f2d978f554a0.png)

My assumption is that there is something in the sign-in code that is not picking up the configured proxy

[2022-02-01 19:01] rajeshdagdevir commented on #8925
hello.
i am in the right aad. i checked everything and reg is missing.
I somewhat fixed it by creating new registration and bot registration myself so it work for now.
quick different question. what is difference between skill bot and custom action? doesnt do both the same thing?

[2022-02-01 19:08] EricDahlvang commented on #8903
It is possible to send channel data from composer with a structed lg template:

![image](https://user-images.githubusercontent.com/11055362/152034227-9cd04c50-540e-4b83-82c9-d4de3e445c38.png)

![image](https://user-images.githubusercontent.com/11055362/152034302-31f36f83-d8f6-4b81-a662-7fa494ab0a5d.png)

If the goal is to send channel data with every outgoing message from the bot, this could be ac

[2022-02-01 19:15] dmvtech commented on #8686
Hi @geo-msft

I cannot reproduce this exact error (although there are _**other**_ issues with proxy; LUIS and sign-in, etc).

Is this still reproducible for you/customer? Is this a simple echo bot? Can you confirm they set the proxy as the [system proxy](https://docs.microsoft.com/en-us/composer/configure-composer-proxy?tabs=windows#configure-the-system-proxy) as well?

[2022-02-01 19:25] dmvtech commented on #8903
Thanks @EricDahlvang I didn't even think of that. @tushaar9027 Let us know if that works for you.

[2022-02-01 21:34] dmvtech commented on #8918
Closing assuming it is resolved. Please comment or reopen if further assistance is still needed.

[2022-02-01 21:34] #8918 closed

[2022-02-01 23:54] dmvtech commented on #8856
You may have to maximize the window before you see it. Can you please try that?

[2022-02-02 00:35] tonyanziano opened #8956 "Web Chat not able to communicate with bot on some Mac machines"
## Describe the bug

Some Mac users are experiencing issues when trying to communicate with a bot via the embedded Web Chat in Composer. From the logs, it looks like the runtime is getting a 403 when trying to reply to an activity.

OS Versions experiencing the bug: macOS Monterey 12.1

Note: We _are not_ seeing this issue on Linux & Windows

## Version

We know 2.1.1 to be a version in which we h

[2022-02-02 00:39] tonyanziano commented on #8956
@OEvgeny could you look into this when you get a chance?

[2022-02-02 05:53] BhupathiK-Hexaware commented on #8942
Hi, and thank you for your response. I looked at the resources you provided and learned a little bit, but the issue I was asking about doesn't have a precise solution in those two links. They only mentioned refreshing the token, but I need to retrieve the refresh token and use it to produce additional access tokens with different scopes, which I handled with NodeJS code but want to do with bot com

[2022-02-02 07:43] dmvtech commented on #8891
hi @rishabh7k

I have created a root that calls a skill1, which calls a skill2. I am invoking the skills via events. Such as [described in documentation](https://docs.microsoft.com/en-us/composer/how-to-export-a-skill?tabs=v2x#add-an-event-received-trigger). I'll try and see if i can modify to just use begin dialog such as you are and see if that behaves any differently.

Also; I see you are endin

[2022-02-02 08:21] stevkan commented on #8933
Closing as resolved.

[2022-02-02 08:21] #8933 closed

[2022-02-02 09:58] stevkan commented on #8812
@shrutinehra, apologies for the delay and thank you for your patience. I am now able to repro the issue. When sending a Word doc where the file name ends with a '+', the file's content information is not being added to the Attachments array. However, when the file name is just alphanumerics, the file's content information is added. I've only tested a handful of times; at this point, the outcome ha

[2022-02-02 10:18] ryub3n commented on #8892
@anishprasad01 - I'm trying to get access to the firewall but it's taking time due to security concerns.
Also, this issue #8956 is similar to mine.

[2022-02-02 10:27] stevkan commented on #8812
Testing a JS SDK bot via Teams produced the same results. However, testing in Emulator, Test in Web Chat, and Web Chat (hosted on a web app) all functioned correctly when using either a Composer bot or a JS SDK bot.

[2022-02-02 15:32] anishprasad01 commented on #8892
Ok, I will leave this issue open for some time.

[2022-02-02 15:36] metkhoo opened #8957 "Refreshing QandA maker KB from a SharePoint URL does not work - authentication issue?"
## Describe the bug
Cannot extract question answer pairs from Word document held in SharePoint via URL

## Version

V2.1.1
![BotComposerVersion](https://user-images.githubusercontent.com/18167332/152182993-46b53179-2d5f-4399-9ad0-dcb01f04b7b3.png)

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS
- [ ] macOS
- [x] Windows 11
- [ ] Ubuntu

## To Repr

[2022-02-02 15:37] anishprasad01 commented on #8954
Thank you for the report. I will investigate.

[2022-02-02 15:39] SandeepBhagoji202 opened #8958 "App insights(Button clicks used in Prompt with Multi-Choice) not loading for the Azure Bot built using composer"
## Describe the bug

 Conversations are not being tracked from Channel data . Though several insights do load but we are not able to have them as per the requirement on the basis of channel data.

## Version

 2.1.1

## Browser

-  Chrome
-  Firefox
-  Edge

## OS

- Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to Azure Portal
2. Check the logs in Application Insights
3. Under

[2022-02-02 18:00] ramfattah commented on #8925
Hi @rajeshdagdevir, glad you were able to find a fix.
#

What is difference between skill bot and custom action:
1) **Skill** is a dialog type that allows bot-to-bot communication. Ex: Your bot can directly call on the functionality of another bot.
     * [Documentation on Skill here](https://docs.microsoft.com/en-us/azure/bot-service/skills-conceptual?view=azure-bot-service-4.0)
2) **Custom Actio

[2022-02-02 18:00] #8925 closed

[2022-02-02 20:03] OEvgeny commented on #8956
@tonyanziano don't have a Mac machine. I am going to try to repro on Linux

[2022-02-02 21:22] metkhoo commented on #8957
BTW.  Is there a way to do a programmatic "refresh" if the source URL's have got new content?  I know if you do a "replace content" again and republish that it works but is there a automated version of doing it?

Thanks

[2022-02-02 21:23] taicchoumsft commented on #8953
Adding back customer-reported tag, this was indeed customer reported incident that I filled on behalf of.

[2022-02-02 21:34] tonyanziano commented on #8956
Ahh, my mistake. I thought you had a Mac. It seems like users on Mac Monterey (12.1) are experiencing this issue.

[2022-02-02 21:36] OEvgeny commented on #8956
Ok, no problem. I see no any sign it can be reproed outside of Mac

[2022-02-02 21:48] anishprasad01 commented on #8957
1. You can look into the [QnA Maker REST API](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/quickstart-sdk?pivots=rest)

2. Secondly, it does look like you're hitting an authentication page when you create your KB. Could you attempt to download the file from SharePoint and upload it locally?

[2022-02-02 21:53] tdurnford commented on #8893
@benbrown Any idea what might be going on here?

[2022-02-02 21:59] julianpleli commented on #8893
The cli is working fine! I worked with terraform and everything worked with a Charme.

[2022-02-03 09:04] jithin24 commented on #8686
Hi Dana,

The error does still exists within a corporate proxy setup. It seems like an issue between the Emulator Channel and the BotFramework Response methods. The only way I can get it to work is by temporarily deleting the Proxy (process.env.HTTP_PROXY and process.env.HTTPS_PROXY) in the ProccessActivity() function of the botbuilder>lib>botFrameworkAdapter.js file which I believe is triggered o

[2022-02-03 10:42] metkhoo commented on #8957
@anishprasad01 - I tried that but I have determined it is not that simple....
The BOT Composer (BC) creates its "own" Knowledge Base (KB) in the QnA Maker portal. (https://www.qnamaker.ai).

You can see this by going to the QnA Maker portal and you will see the "BOT" KB with the name;

{YOUR BOT}(composer){Language}

However, the content appears to be controlled only within BOT Composer.  If you i

[2022-02-03 11:43] aparnaji commented on #8941
________________________________
From: Anish Prasad ***@***.***>
Sent: Monday, January 31, 2022 10:04 PM
To: microsoft/BotFramework-Composer ***@***.***>
Cc: aparnaji ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/BotFramework-Composer] Teams OAuth not working (Issue #8941)

@aparnaji<https://github.com/aparnaji>,

As per the documentation on Teams Auth<https://docs.microsoft.com/en-us

[2022-02-03 11:44] aparnaji commented on #8941
Hi @anishprasad01

This worked as a App in teams.

[2022-02-03 16:01] tushaar9027 commented on #8903
Hi  @EricDahlvang , Thanks for providing with the approach , i will try this out give me a couple of days will check and let you guys know if the approach also works with directline recieve activity end point.

By the way is there any good video for explaining how to implement middleware for composer in node js . Official documentation explains it with c#

[2022-02-03 19:09] tushaar9027 opened #8964 "Composer bot not deploying to azure with orchestrator(intent) as recognizer"
## Describe the bug
While deploying the composer bot built in node js  to azure with orchestrator package installed i get this error.

Error got :-  Error: EPERM: operation not permitted, unlink 'D:\CDS\MySupportComposerDev\MySupportComposerDev\node_modules\@microsoft\orchestrator-core\onnxruntime.dll'

## Version
Bot Framework Composer v2.1.1-nightly.289561.47e9e4b

## Browser

- [ ] Electron dis

[2022-02-03 20:39] subhashkotu opened #8966 "Unable to create the Bot with Composer.. Always throwing this error"
## Describe the bug

Bot composer doesn't create the project with the 'Enterprise Assistant Bot'

## Version

Version:  2.1.2
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X ] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1

[2022-02-03 20:40] anishprasad01 commented on #8941
Since this is expected behavior, I am going to go ahead and close this issue. If you have issues or feature requests in the future, please feel free to raise them in the appropriate repository.

[2022-02-03 20:40] #8941 closed

[2022-02-04 00:10] anishprasad01 commented on #8957
Since Composer is meant to be a bit easier to work with, it has more limitations than a code-first bot would. As far as I can tell, the only way to avoid having a local KB overwrite a remote KB, would be to not have a local KB at all. You could try creating the remote one first, and then just adding the key to your Composer bot.

As far as SharePoint goes, I don't know what else to tell you beyond

[2022-02-04 05:34] johnkm516 opened #8970 ""Repeat this dialog" action does not properly repeat current dialog context when consuming Skill"
## Describe the bug

"Repeat this dialog"'s expected behavior is re-evaulate the user's utterance from the **Root bot**'s recognizer, not the skill's recognizer. Even though the Repeat this dialog action is in the Root bot's dialog the dialog's context is still in the Skill, not the root bot.

## Version

![image](https://user-images.githubusercontent.com/10858008/152474911-0cf2bae4-06b3-486d-aad2

[2022-02-04 09:45] sharkjack opened #8971 "Expansion of Dutch language in UI"
## Is your feature request related to a problem? Please describe.

The Composer has a UI language option that changes many of the option descriptions to my language (Dutch/Nederlands). Unfortunately a lot of descriptions and pop up (?) icons have been left in English. Dutch governmental organizations are often required to be used in Dutch, and as is Composer would fail this standard. We would love

[2022-02-04 18:59] msomanathan commented on #8798
@boydc2014 Could you please provide updates to this issue? Thanks!

[2022-02-04 19:04] msomanathan commented on #8964
@dmvtech Could you please check if this issue is similar to the other issues you are looking into composer? Thanks!

[2022-02-04 19:16] anishprasad01 commented on #8957
I confirmed with the team, and the workaround of exporting from the cloud KB and updating the local Composer files is the way it currently needs to be done.

[2022-02-04 22:58] anishprasad01 commented on #8950
Closing this issue due to inactivity. If you still require assistance, please comment and we can reopen the issue.

[2022-02-04 22:58] #8950 closed

[2022-02-05 23:59] metkhoo commented on #8957
Thanks for the confirmation.
So to summarise:
* A Bot Composer BOT QnA integration is via a LOCAL KB only
* Any updates (i.e adding addtiional QnA pairs) at the source QnA URLs will not be available to the published BOT until they are firstly added to the LOCAL Bot Composer KB and then only after the BOT is REPUBLISHED.

Did I get that right?

Thanks again

[2022-02-06 06:32] sarul84 opened #8972 "View Log option is not available"
## Describe the bug

The view publish log arrow / option is not visible for the certain screen sizes. Please refer below screen shot

## Version

V2.1.1

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Expected behavior

View log option should be available

## Screenshots

![image](https://user-images.githubusercontent.com/33111213/152670121-fd092d98-cac4-42b9-a826-f02f13e066b7.png)
## Additiona

[2022-02-07 05:38] ramfattah commented on #8901
Hi @tushaar9027

thanks for your patience, we do not currently have a composer sample demonstrating dynamically change language based on user input.

I found this issue in regards to translation in composer middleware pipeline to possibly achieve this.
Hopefully this helps. https://github.com/microsoft/BotFramework-Composer/issues/3514

I am closing this one for now. If further assistance is requi

[2022-02-07 05:38] #8901 closed

[2022-02-07 06:31] ramfattah commented on #8942
Hi @BhupathiK-Hexaware,

not sure you can directly do that in composer, have you tried using [custom actions ](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions) to possibaly achieve this?

[2022-02-07 06:31] ramfattah commented on #8942
Hi @BhupathiK-Hexaware,

not sure you can directly do that in composer, have you tried using [custom actions ](https://docs.microsoft.com/en-us/composer/how-to-create-custom-actions)to possibly achieve this?

[2022-02-07 06:43] rishabh7k commented on #8891
Hi @dmvtech

Yes, I've been using Begin dialog in all my skill bots, it works perfectly without causing any issues. I also rectified the end dialog, by changing Auto End dialog to false. After these changes, it still throws the same error.

[2022-02-07 11:34] BhagyashreeC-Hexaware commented on #8932
We are building the bot in bot composer and publishing it and testing in MS teams. Is there any way to update the existing card in bot composer that will be reflected while testing in MS teams?

Example :
In the above example we have a form in the first card and once we submit the card, the card should be updated with new data without creating new card.

It will be better if you provide respective

[2022-02-07 12:59] rd-devvv commented on #8954
Hello @anishprasad01 ,
Any updates regarding the above?
Thank you for your help

[2022-02-07 15:48] anishprasad01 commented on #8957
Correct. As per current functionality, there is no way to prevent Composer from updating the Cloud KB with its own local KB when you publish a new version. Any new pairs you add and publish to the production slot in QnA should be picked up by the currently running bot, but as soon as you publish the bot they will be overwritten.

[2022-02-07 17:40] lauren-mills commented on #8970
Hi @johnkm516, I think the issue with this scenario not working for you as the Enteprise Assistant is designed today is that ChitChat is the UnknownIntent fallback, rather than a peer intent to the People intent. Interruptions never fire for the None intent of parent dialogs to prevent interrupting ongoing flows whenever there is a query the parent bot doesn't understand.

Have you tested this int

[2022-02-07 17:41] lauren-mills commented on #8966
Hi @subhashkotu this is a known issue and we are working to publish the fix ASAP. I will update this when it is in.

[2022-02-07 17:59] dmvtech commented on #8890
@benbrown Can you take a look at this one and give some feedback? Any idea who might be a good resource to further investigate or take ownership?

[2022-02-07 19:05] benbrown commented on #8881
This error occurs when our auth system fails to retrieve a list of available tenants. It is not clear to me why this would occur with your particular account.

Since you report that the 2FA navigation is not clickable, do you think this might be causing a timeout of your login?

Does it appear to successfully login otherwise?

[2022-02-07 19:06] benbrown commented on #8814
Working with @MCKRUZ, we determined there seems to be a problem in some cases with the API used to assign LUIS keys to newly created applications.

I am waiting to hear back from a person on the LUIS team as to what might cause this problem for otherwise valid credentials.

[2022-02-07 21:48] chookhen60 opened #8974 "Logging into Microsoft Account in Composer 2.1.2 fails due to Tenant not being found"
## Describe the bug

In Bot Composer 2.1.2, when I attempt to login to my Azure account within composer (or if I do this at bot publish time)I am no longer prompted to choose which directory (tenant) to choose from, and instead the process throws an error telling me it cannot find the Tenant it is looking for.  In my particular case, the TenantID does exist in Azure, and it actually the one I was

[2022-02-07 22:46] dmvtech commented on #8932
Hi @BhagyashreeC-Hexaware

I want to clarify a bit about what I mentioned above. Composer is the tool for creating your declarative, adaptive dialogs. It has a built in Webchat tool. It is Webchat/Test_in_Webchat/Emulator/Composer's Webchat that does not support updating the activity.

You can use Composer to implement the Update activity and Delete activity actions.
![image](https://user-images.g

[2022-02-07 22:46] #8932 closed

[2022-02-07 22:57] dmvtech commented on #8903
@tushaar9027

I don't know of any off-hand, but I will take a look to see if I can find anything. As you know, Node JS runtime for Composer bots is in preview. At this point, there is no current ETA set for moving to GA.

[2022-02-07 23:06] dmvtech commented on #8948
Hi @JayHB1 I hope the above explanation helps with your question. I am going to close this, but if you have further questions or I misinterpreted the issue/question, please comment and I will reopen if needed.

[2022-02-07 23:06] #8948 closed

[2022-02-07 23:10] dmvtech commented on #8856
hi @amitabhuddi Were you able to find the full log by maximizing the Composer window?

If not, can you please run Composer in debug mode using the following directions, then do the publish again to reproduce the failure. Then send the output of the debugging console window.

- Go to Composer's install location (mine is at C:\Users{username}\AppData\Local\Programs\Bot Framework Composer)
- Open a t

[2022-02-07 23:11] dmvtech commented on #8939
Hi @prajwal-ainapur Do you still need assistance?

[2022-02-08 02:21] dmvtech commented on #8964
Hi @tushaar9027

I wasn't able to reproduce this (I can share my steps).

- Are you deploying to a Windows or Linux app service plan?
- What version of the BF cli are you using? (`bf -v`)
- Did you provision the resources through Composer or externally?

[2022-02-08 06:23] ramfattah commented on #8958
Hi @SandeepBhagoji202, I'm investigating this issue.

[2022-02-08 08:39] rd-devvv commented on #8954
Hi @lauren-mills, I tried that but I also ask for confirmation after user clicks which choice.
in your example if user chose the first(Choose me! (1)) their is a confirmation after it! in your case the confirmation will be are you sure you want to choose myReturnValue1? while i want it to still ask are you sure you want to choose Choose me! (1)? if user clicks yes then the value should be stored a

[2022-02-08 12:36] metkhoo commented on #8957
Thanks for confirmation.  But strangely, I found that adding new pairs to the production slot in QnA maker (composer) KB were **not** picked up by the currently running bot.  Should they have been?

Thanks :D

[2022-02-08 16:04] #8952 closed

[2022-02-08 16:20] kishan2 opened #8975 "Logging into Microsoft Account in Composer 2.1.2 fails due to Tenant not being found"
In Bot Composer 2.1.2, when I attempt to login to my Azure account within composer (or if I do this at bot publish time)I am no longer prompted to choose which directory (tenant) to choose from, and instead the process throws an error telling me it cannot find the Tenant it is looking for. In my particular case, the TenantID does exist in Azure, and it actually the one I was using to publish to in

[2022-02-08 16:25] stevkan commented on #8812
Did additional testing by running Fiddler and monitoring requests/responses. Sent attachments in Teams and could see them in the responses for both messages sent to and not to a bot. However, that only displays the attachments as they were sent between the client and the Teams server. Not surprisingly, as the connection between the Teams server and the Teams connector in ABS is not visible, I am u

[2022-02-08 18:21] lauren-mills commented on #8972
HI @sarul84 we have added this work item to the backlog for future iterations.

[2022-02-08 21:32] ramfattah commented on #8947
@BhupathiK-Hexaware

Thanks for your patience, have you tried using "[uriComponent](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#uricomponent)" to encode the url?

[2022-02-08 22:05] dmvtech commented on #8964
I realized my testing was poor. I made changes and am now getting a _**different**_ error:

[code]

I'll continue investigation. If you can confirm the BF cli version, that would be great.

[2022-02-08 22:13] dmvtech commented on #8939
Closing due to lack of response. If you still need assistance, please comment and we can reopen and continue.

[2022-02-08 22:13] #8939 closed

[2022-02-09 00:59] anishprasad01 commented on #8892
@ryub3n Any updates?

[2022-02-09 09:22] ryub3n commented on #8892
@anishprasad01 My IT team is not letting me change the firewall settings. Your colleague @tonyanziano in the other ticket is facing the same issue. You should be able to debug it with him

[2022-02-09 13:10] ryub3n opened #8983 "Dynamic QnA strict filters do not work"
## Describe the bug

Dynamic strict filters do not work for QnAMaker.
The only value it's accepting is a string.
Unable to change the value type.

## Version

Version:  2.1.2
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [x] macOS Monterey 12.2
- [ ] Windows
- [ ]

[2022-02-09 13:11] ryub3n commented on #8983
A user had commented about the same on another issue but it has not been addressed. https://github.com/microsoft/BotFramework-Composer/issues/3026#issuecomment-999132018

[2022-02-09 13:23] johnkm516 commented on #8970
@lauren-mills
After looking at the ListDialog UnknownIntent, which in the Enterprise Assistant Template says,

`If the dialog has been launched with $doSelection set to false, the list card will be displayed and the dialog will not automatically end to allow the user to say \"next\" or \"previous\" to navigate between the pages. If in that mode, the user says an unknown utterance that no dialog in

[2022-02-09 14:24] 720-ellen opened #8984 "Format the message text to bold, italic or highlighted in Bot Framework Composer"
How to make the text bold, italic, or highlighted in Bot Framework Composer (not bot framework SDK!)?

[2022-02-09 17:39] lauren-mills commented on #8970
Hi John, thanks for these detailed steps. I will take a look this week and see if I can figure out what's going wrong here. There may be an issue in the underlying SDK that's affecting this behavior.

[2022-02-09 17:53] amitabhuddi commented on #8856
Hi @dmvtech, please see below -,
---
"Accepted for publishing..."
---
---
"Abs settings incomplete, skip linking bot with webapp ..."
---
---
"appPasswordHint incomplete, return ..."
---
---
"Building the bot app..."
---
---
"Build succeeded!"
---
---
"Creating build artifact..."
---
---
"Build artifact ready!"
---
---
"Publishing to Azure ..."
---
---
"Uploading zip file... to ABC-azure-bot"
---

[2022-02-09 18:18] stevkan commented on #8841
@gitathrun, thank you for your patience. The Custom Publish extension provides other publishing alternatives (as defined by you in the extension) for you to select from.

When the extension is added and enabled, the publishing targets dropdown will display the newly added publishing options. As you can see below, I added a "Publish Using Custom UI" target as well as a duplicate. Neither extension

[2022-02-09 21:25] stevkan commented on #8812
@clearab, could you take a look at this or connect this to the right Teams person to handle?

[2022-02-09 23:23] johnkm516 commented on #8970
@lauren-mills
I do think there is something wrong with the turn context when the root bot consumes a skill.
I investigated a bit further, and as seen in the screenshot in my previous post, the "Skill State" trace always comes before the "Bot state" trace. The expected behavior is that the bot exits the skill and print the "Skill State" after returning from the Connect To Skill call, but instead of

[2022-02-10 05:59] ramfattah commented on #8975
Hi @kishan2, I'm investigating this.

[2022-02-10 07:10] ryub3n opened #8986 "Unable to scroll when adding deeply nested property reference in responses"
## Describe the bug

Unable to scroll to the required property when trying to use properties in responses.

## Version

Version:  2.1.2
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [x] macOS Monterey 12.2
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to repr

[2022-02-10 09:13] dawwa opened #8987 "Dialog's "Intent recognized" trigger does not kick in when a winning intent with low score determined by Orchestrator"
## Describe the bug
Dialog cannot be launched **when** it has same utterances as Orchestrator for an intent, but this intent is determined **with low score**, even it is a winning intent.
e.g., When 3 intents X, Y, Z with scores are "X=0.4, Y=0.2, Z=0.1", the winning intent is X, even it's lower than 0.5

Setup a `DialogForIntentX` with "Intent recognized" trigger, and have the same utterances as

[2022-02-10 10:01] johnkm516 commented on #8987
@dawwa
This is intended behavior.
To solve your issue, you have to set the condition for each intent like this :
![image](https://user-images.githubusercontent.com/10858008/153383751-9715b095-d113-47d0-8256-81f993ba8f74.png)

This will make it so that your intent will not trigger unless the recognition threshold is above 0.8.

[2022-02-10 15:51] pramodphamax commented on #8964
![Orchestrator](https://user-images.githubusercontent.com/87850728/153444327-71f4d20a-418a-4037-94b9-76be9816bbc7.PNG)
The code works on local; When deployed to azure it Application has thrown an uncaught exception and is terminated:
Error: \\?\C:\home\site\wwwroot\node_modules\botbuilder-ai-orchestrator\node_modules\@microsoft\orchestrator-core\orchestrator-core.node is not a valid Win32 applicat

[2022-02-10 16:00] tushaar9027 commented on #8964
@pramodphamax my error is different one ,

Error: EPERM: operation not permitted, unlink 'D:\CDS\MySupportComposerDev\MySupportComposerDev\node_modules@microsoft\orchestrator-core\onnxruntime.dll

I did some further investigation and this basically means that somewhere this file is open or used by some other process which was restricting it to be deployed to azure. Unfortunately i was not able to

[2022-02-10 19:26] ramfattah commented on #8983
Hi @ryub3n - please add `=` in the value property? example: `=${user.b}`

try the above step, let me know if this works.

[2022-02-10 19:55] ramfattah commented on #8974
Hi there, could you please try to clear the composer data/cache?

1) Open composer and click "View"
     <img src="https://i.gyazo.com/3d04a8b5b8ba0f692a03b24c13422da5.png" width="350"/>
2) click "Toggle Developer Tools"
3) In the "Developer Tools", click "Application" tab, open "Clear storage" on left nav menu and click "Clear site data".
     <img src="https://i.gyazo.com/daff5383cf4395c33d74f27

[2022-02-10 19:57] dawwa commented on #8987
thanks @johnkm516 , this seems reasonable, and it looks a promising solution!

[2022-02-11 03:43] ryub3n commented on #8983
Hi @ramfattah , I had tried that but it didn't work.

[2022-02-11 14:56] metkhoo commented on #8957
How is it even possible to NOT have a local KB and still have QnA maker integration with a Bot Composer BOT?

- If I add an existing KB to the BOT settings then it does not find the QnA Maker KB.
- If I add "Connect to external resources" in the Unknown intent and then the bot responds with "KnowledgeBaseId".
- If I hard code the QnA Maker KB into the QnAMaker dialog I get the BOT responding with

[2022-02-11 15:44] anishprasad01 commented on #8957
Sorry, let me be more specific. When you have no QnA added, then you add one, the 4th scenario you specify occurs. However, any pairs in the QnA KB at the time you add it should be added.

You are correct that from this point on, a local KB always exists. The only workaround for this is to export the cloud KB and add it locally before you publish the bot.

[2022-02-11 16:40] metkhoo opened #8992 "Orchestrator and entities - is this a limitation? If so what's the solution?"
One of the great features in LUIS is the ability to extract entities from utterances.  Things like:  "I need a new phone" with the list entity containing "phone" (with synonyms of iphone, andriod etc).
With the entities extracted, a BOT dialog can then process on the basis of knowing already that the user wants a phone.
If I use Orchestrator my current understanding is that it can't ever extract e

[2022-02-11 22:51] ramfattah commented on #8958
Hey @SandeepBhagoji202, have you had a chance to take a look at [Analyze your bot's telemetry data doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry-analytics-queries?view=azure-bot-service-4.0)? It contains a collection of queries to analyze bot behavior.

[2022-02-11 23:33] #8956 closed

[2022-02-11 23:36] tonyanziano commented on #8892
We found the root cause of the bug:

The new Mac Monterey release uses the port 5000 for some OS-level function. We were using port 5000 to mount the mock Direct Line that Composer uses to communicate with the running bot. We had some logic to dynamically use a different port if 5000 was taken, but it was being used _after_ the Direct Line server was mounted.

There should be a nightly release of

[2022-02-11 23:36] tonyanziano commented on #8892
Please follow along in #8956, and comment there if the issue is not fixed for you when using the new nightly release.

[2022-02-11 23:36] #8892 closed

[2022-02-12 01:07] dmvtech commented on #8992
Hi @metkhoo You have. Using orchestrator as a recognizer is somewhat of a middle ground between a regex recognizer and a full LUIS recognizer. You will be able to use intents, but entities are not available.

[2022-02-12 16:39] yulsa opened #8993 "Conversation loops back to input prompt after interruption"
## Describe the bug

- InputText prompt is set to allow interruption
- When user types a text that is interrupted by an intent in the main dialog, the conversation shifts there.  However, after the triggered action is processed, the conversation comes back and requests the same user input again.
- Expected behaviour -> the conversation closes the dialogs that were interrupted and continues along t

[2022-02-14 08:50] metkhoo commented on #8992
@dmvtech - Thanks for the clarification!

[2022-02-14 08:50] #8992 closed

[2022-02-14 16:20] anishprasad01 commented on #8954
Could you clarify what exactly you want to do? I'm not sure I understand.

[2022-02-14 16:28] anishprasad01 commented on #8957
Since we have identified a potential workaround and confirmed that this is expected behavior, I am going to pass your feedback on to the team and close this issue.

If you have issues or feature requests in the future, please feel free to raise them in the appropriate repository.

[2022-02-14 17:23] #8986 closed

[2022-02-14 23:44] lauren-mills commented on #8966
Version 1.2.2 of the Enterprise Assistant template has been published and is available in Composer. Please try again and let us know if this resolves your issue!

[2022-02-15 07:34] rd-devvv commented on #8954
thank you for your help! I managed to implement a workaround for it

[2022-02-15 07:34] #8954 closed

[2022-02-15 07:51] gdl-reif commented on #8966
Sorry to hijack the issue: I encounter the same issue "Error hit when instantiating remote template: Trying to copy from a source that does not exist: \projects\Bots\CoreWithQnA\CoreWithQnA\botName.csproj" when trying to create any kind of bot. Using Release:2.1.1-nightly.289819.d04ceae

[2022-02-15 14:37] mocalv opened #8997 "Webex Adapter AttachementAction Response Unusable"
## Describe the bug

When using adaptive cards with buttons, the response data (turn.activity.value = Webex [AttachementAction](https://developer.webex.com/docs/api/guides/cards)) is formatted as a dictionary and therefore not unusable for the composer.

## Version

![image](https://user-images.githubusercontent.com/30929452/154037415-1e266287-2a5f-472c-81f6-1437fb3b2724.png)

## OS

- [ ] macOS
-

[2022-02-15 18:59] ramfattah commented on #8974
I found this similar issue https://github.com/microsoft/BotFramework-Composer/issues/8834 that was resolved by clearing out the system keychain of azure-related keys on a Mac. Perhaps clearing the windows credentials might help?

Clear Windows Credentials using "Credential Manager":
1) On your Windows OS, click start
2) Search for "Credential Manager"
     <img src="https://i.gyazo.com/da014923e5c

[2022-02-15 20:43] stevkan commented on #8993
@yulsa, this is by design and is expected behavior. If you are wanting the interruption to not return to the original dialog, then you need to add the "Cancel all active dialogs" action to the interrupting dialog's flow.

![image](https://user-images.githubusercontent.com/18403946/154144348-85798551-08af-4121-84b4-4970b2e67e36.png)

As you can read in the docs regarding [Ending dialogs](https://do

[2022-02-15 20:43] #8993 closed

[2022-02-15 21:41] dmvtech commented on #8903
I'm closing this as it seems you have an appropriate solution for setting the channelData from within Composer. I wasn't able to find any examples of implementing middleware within Composer node runtime.

[2022-02-15 21:41] #8903 closed

[2022-02-16 00:48] ramfattah commented on #8942
closing due to inactivity.

[2022-02-16 00:48] #8942 closed

[2022-02-16 03:32] chookhen60 commented on #8974
@ramfattah I followed the process you documented above and cleared anything that could relate to Azure, including credentials to Azure devOps just to make sure.  Sadly, it did not resolve the issue.

I tried to re-produce the issue on a non-development machine I have here, and I can confirm the issues does NOT occur on that machine (I tried a few different things, but the login always worked on 2.

[2022-02-16 06:26] rvinothrajendran opened #8999 "Composer release notes 2.1.2 link is broken"
## Describe the bug

Composer release notes [2.1.2](https://github.com/microsoft/BotFramework-Composer/releases/tag/v2.1.2) link is [broken](https://github.com/microsoft/BotFramework-Composer/blob/release/2.1.2/releases/2.1.2.md)

[2022-02-16 06:56] lauren-mills commented on #8970
I'm still looking into this. I do see the same behavior. The first thing I noticed was the people skill doesn't have score thresholds set up on the top level intents which will hurt the ability for the chitchat to ever fire even if everything else works (which it doesn't). On my end, I'm not seeing that anything after the Connect To Skill actions is firing at all, including the RepeatDialog action

[2022-02-16 10:01] johnkm516 commented on #8970
@lauren-mills
Thank you for looking into it.

I mention this issue above. The way I solved it is to simply do a chain of End this Dialog returning False, and then adding
`if (not(dialogHandled)) { End this Dialog (return false) }.`
at each dialog of the dialog call stack, so we work backwards from the stack. In the current way the Enterprise Template is implemented, triggering unknown intent (even

[2022-02-16 12:59] jcmorara opened #9000 "OAuth Login button does not show up"
## Describe the bug

Since yesterday the login button does not show up in 2 chatbots published in Azure that previously worked fine. The turn.token value is null.

## Version

v2.1.2

## Browser

- [ ] Electron distribution
- [ X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

1. Open Bot Composer
2. Create "Access external resources"

[2022-02-16 15:52] rodriguesnich commented on #9000
I'm experiencing the same issue, we aren't able to access our resources, since the token isn't returned

[2022-02-16 16:47] yulsa commented on #8993
@stevkan thank you for your response.  I looked into the 'cancel all active dialogs' option and the issue is that the new triggered dialogs branch out in too many ways.  Finding all end points to each resulting flow is highly prone to human error, and in an enterprise level bot with many triggers and conditional flows it is virtually impossible to get right.

On the other hand placing 'cancel all

[2022-02-16 17:36] dmvtech commented on #9000
@jcmorara @rodriguesnich

Can you guys confirm that this is still an issue? Apparently there were some outages recently as seen here: https://github.com/microsoft/botframework-sdk/issues/6466

[2022-02-16 17:54] ramfattah commented on #8974
Thank you for trying to repro on a different machine, closing due to confirmation.

[2022-02-16 18:01] ramfattah commented on #8999
@rvinothrajendran, thank you for raising this. This issue has been resolved.

[2022-02-16 18:05] jcmorara commented on #9000
Our bots seem to be working now.
Thanks for the notice @dmvtech

[2022-02-16 20:32] chookhen60 commented on #8974
@ramfattah I still feel like there is a bug here - it DOES work on the affected machine in 2.1.1 with no issues, and does NOT work in 2.1.2.  So clearly there has been some change to cause the issue that needs to be addressed?

[2022-02-16 23:37] anishprasad01 commented on #8997
Thank you for the report. I will investigate.

[2022-02-17 12:14] rodriguesnich commented on #9000
Same to me, everything is working now, thank you

[2022-02-17 13:24] krassussofficial opened #9001 "Repeat dialog to a certain intent"
Hi, when using "Repeat dialog" is there an option that I can pass so that the conversation goes to a specific intent when repeating the dialog?

[2022-02-17 23:08] ramfattah commented on #8983
Hi @ryub3n,

Have you had a chance to look at this issue? https://github.com/microsoft/botbuilder-dotnet/issues/5721
I believe this might be the workaround? https://github.com/microsoft/botbuilder-dotnet/issues/5721#issuecomment-877407041

[2022-02-17 23:08] ramfattah commented on #8983
Hi @ryub3n,

Have you had a chance to look at this issue? https://github.com/microsoft/botbuilder-dotnet/issues/5721
This might be the workaround? https://github.com/microsoft/botbuilder-dotnet/issues/5721#issuecomment-877407041

[2022-02-18 00:39] dmvtech commented on #8891
Thanks for your patience @rishabh7k. I am able to reproduce a similar issue, but mine is getting a 401 instead of 500. I'm continuing to troubleshoot and will update when I have findings to share.

[2022-02-18 18:48] #8947 closed

[2022-02-18 22:32] anishprasad01 commented on #8997
Hi @mocalv,

Could you provide me with a screenshot of your Webex configuration in Composer? Please make sure to cover up or remove your secret and token.

[2022-02-18 23:20] dmvtech commented on #9001
Hi @krassussofficial

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2022-02-18 23:20] #9001 closed

[2022-02-18 23:20] dmvtech commented on #9001
There is not any setting in the repeat dialog action to do that. There should be a way to accomplish whatever functionality you need, but will need some more information. Do you really need to repeat the dialog? Can you give a better example of the dialog flow and the specifics of the requirements? Please open an issue on Stack Overflow and add that information there.

[2022-02-20 11:31] michal-turzynski commented on #1682
Great work - thank you!!

[2022-02-20 11:55] saikumaru opened #9004 "Which settings get picked on runtime?"
We need to make replicas of same bot(say Bot-A) built on composer.

Post successfully creating new services(LUIS, QnA, CosmosDB, Azure webapp, Azure bot) we need to update the new bot(Bot-B) to work same as Bot-A.

However, we are unable to figure out if "appsettings.json" under the settings folder is a single point of update for all the settings used during runtime?

Do the values from "publishTa

[2022-02-21 12:25] saikumaru opened #9005 "Composer looking for a LUIS app that doesnt exist"
## Describe the bug

The composer fails to publish the bot due to this error.
![image](https://user-images.githubusercontent.com/44021002/154954024-b482e62b-b038-47cc-94ee-31988bf4f43e.png)

"Failed to bind LUIS prediction resource..."

## Version
2.1.2

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To

[2022-02-21 18:25] saikumaru commented on #9005
After a bit of struggle, landed at this script which is doing the publish

https://github.com/microsoft/BotFramework-Composer/blob/6a6a24aee59e7906ed5da5b45669c9877359f273/extensions/azurePublish/src/node/luisAndQnA.ts

Which picks up files matching luis.settings prefix. The composer picks the old files from debug or release folder. After I deleted these folders and republished the bot, it went on

[2022-02-21 21:21] javier-mora opened #9006 "'Break out of loop' does not work"
## Describe the bug

I am trying to stop a loop with the 'Break out of loop' action using a condition. But the loop doesn't stop.

## Version

Version:  2.1.2
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Step

[2022-02-21 23:36] dmvtech commented on #9005
Hi @saikumaru

Do you know how exactly you deleted it and from where? I just deleted it from the LUIS portal. But I was able to publish successfully and it was re-created.

Again; it depends on how things got deleted/removed/etc. Where there changes to the bot between the first publish->removal and second publish? I think we need more steps to understand what happened and be able to say what is ex

[2022-02-21 23:40] #9000 closed

[2022-02-22 00:02] anishprasad01 commented on #9004
Hi @saikumaru,

So firstly, `appsettings.json` effectively serves the same purpose as it does in a code-first bot. You place your bot's ID, secret, and other service keys into for your bot to be able to interact with those services. The main difference being that you configure this file using the Composer UI instead of modifying the file directly.

The publishing profile operates as the name sugge

[2022-02-22 07:11] krassussofficial opened #9007 "Cannot publish a bot from Bot Framework Composer to Azure. TypeError - Cannot Read property 'AzureSubscriptionId' of undefined"
## Describe the bug
I am unable to publish my bot from Composer to Azure. I'm getting:

**TypeError - Cannot Read property 'AzureSubscriptionId' of undefined**

The bot builds locally just fine.

In the publishing profile the subscription ID has been correctly specified.

## Version
2.1.2

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macO

[2022-02-22 13:45] saikumaru commented on #9005
Thank you for your response. I am unable to recreate this due to lack of environment access to try a different sandbox.
But here are things I had been doing

1. Pickup a composer template with LUIS, using C# Azure functions runtime,
2. Create a trigger for new intent recognition, and add relevant utterances.
3. Create a new dialog to be begun when this intent is recognized.
4. In the new dialog ad

[2022-02-22 15:26] nickfrancis opened #9008 "Unable to sign into Bot Framework Composer - No Azure Directories were found"
## Describe the bug

I've got an Azure instance. Have successfully signed into Bot Emulator & Azure cli but cannot sign into Bot Composer at all - just get the error message "No Azure Directories were found"

Interestingly after I put in my e-mail address it is not asking me for a password, it just errors out.

## Version

Version:  2.1.2
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8

[2022-02-22 19:37] stevkan commented on #8841
Closing as resolved. If the issue persists or you have new details to provide, please feel free to re-open the issue.

[2022-02-22 19:37] #8841 closed

[2022-02-22 19:42] mrivera-ms commented on #8881
@EduBotz, if this is still an issue, could you please take a look at the questions above? Thank you.

[2022-02-22 19:48] mrivera-ms commented on #8831
Closing as resolved.

[2022-02-22 19:48] #8831 closed

[2022-02-22 19:52] mrivera-ms commented on #8814
@benbrown, do you have any information about this? Should we follow up with the LUIS team?

[2022-02-22 19:55] mrivera-ms commented on #8798
@boydc2014, do you  have any updates on this?

[2022-02-22 19:58] rmgitting opened #9009 "OAuth Card not shown at all in Microsoft Teams"
## Describe the bug

We are creating a bot that is authenticating with ADv2 and it uses the Graph API to perform some tasks.
When they user asks for something for example: My Profile, the bot checks if the user is authenticated then performs the task, otherwise it asks the user to sign in if the user is not authenticated (authentication token is null).
So it is performing just as expected when tes

[2022-02-22 20:20] anishprasad01 commented on #8997
Could you by any chance also provide a sample of how you have set up adaptive cards on Composer for Webex? To be perfectly honest, I am having some trouble following your reproduction steps.

[2022-02-22 20:23] anishprasad01 commented on #8920
As this is being worked on and there is already a [duplicate issue](https://github.com/microsoft/BotFramework-Composer/issues/8945) regarding it, I am going to close (but not delete) this issue in favor of that one and link this issue there. Please follow that issue for further updates.

[2022-02-22 20:23] #8920 closed

[2022-02-22 20:23] anishprasad01 commented on #8945
Similar issue [here](https://github.com/microsoft/BotFramework-Composer/issues/8920).

[2022-02-22 22:20] ramfattah commented on #8983
Hi @ryub3n, any updates?

[2022-02-22 22:48] dmvtech commented on #9008
Hi @nickfrancis

This appears to be an issue with the infrastructure between you and Azure. Specifically, there is a certificate being used somewhere along the way that is a _self-signed_ certificate.

I'm not sure how to troubleshoot that, but I found this article which gives some simple steps to try (try hitting https://www.ssllabs.com/ssltest/analyze.html?d=management.azure.com and see if there

[2022-02-22 23:17] lshade opened #9010 "20% of conversations do not have customEvents logged in App Insights"
## Describe the bug

We have a bot running in production and are using the `customEvent` logs in app insights to report on the conversations.

We noticed about 2,000 out of the 10,000 total conversations per day do not have `customEvents` logged, only `requests`, `dependencies`, and `pageViews`. We were able to verify from call recordings that these conversations go through dialogs in the bot, but

[2022-02-23 02:26] 2-Ram commented on #9007
Hi @krassussofficial -- I'm investigating this.

[2022-02-23 02:27] ramfattah commented on #9007
Hi @krassussofficial -- I'm investigating this.

[2022-02-23 03:37] HugzBatman19 opened #9011 "Issue still not resolved with Array Property and Branch Switch"
To whom it may concern,

I recently posted some issues I had building a Smoothie Constructor through Bot Framework Composer. I have taken all advice and implemented is as follows. However, it does not produce the required result. I can send through the file if somebody would like to test it on their end (if that is allowed). Essentially, the bot asks the user what fruit they would like in the smoo

[2022-02-23 08:57] mocalv commented on #8997
Sure, here step three and four with more details:

3. Create "Ask a question"->"Text" Action for "unknown intent" Trigger
![grafik](https://user-images.githubusercontent.com/30929452/155275273-628f17bd-2fdf-4cbf-865b-8019f17ee7da.png)

4. Add text and an adaptive card with buttons as attachment to the action
![grafik](https://user-images.githubusercontent.com/30929452/155275555-63ff7d6a-3843-44ea-

[2022-02-23 09:26] rd-devvv commented on #8839
Hi @dmvtech, I'm trying to do something similar
I have a registration trigger I prompt for values then send API
First API I retrieve email password currency then call API and post.
Second API I retrieve first name, last name, DOB, address, etc... then call another API and post
If my First API response fail I want to repeat all the process(intent) like begin from the first dialog all the way to end

[2022-02-23 11:36] krassussofficial opened #9012 "Condition 'turn.recognized.score' for intent trigger not working"
## Describe the bug

Condition for intent trigger doesn't work.

I created a brand new LUIS resource in Azure.
In Composer I specified intent "Cancel" with the following trigger phrases:

- cancel
- quit
- abort
- exit
- never mind
- forget about it
- back

and added condition:
**=turn.recognized.score>=0.93**

Yet, during the dialog, when I input for example number '1' (answering question "How ma

[2022-02-23 16:14] guru98 opened #9013 "Make possible to change the lg template manager in the runtimes to allow a better multilanguage managemet"
The structure of the responses  propose in composer is inefficient in general and more in multilanguages bots.
Specifically if you use actions templates and adaptive cards you have to repeat them for every languages evenif are the same.
My suggestion is:
allow, at ui level, to save adaptive card json in files to be reused on every language
Allow to use a custom template manager derived from multil

[2022-02-23 18:56] ryub3n commented on #8983
@ramfattah , didn't work. No option to choose expression.
<img width="351" alt="Screenshot 2022-02-23 at 11 58 43 PM" src="https://user-images.githubusercontent.com/24279903/155388257-5382abea-759f-477f-a27e-18745ad880f4.png">

[2022-02-23 19:24] clearab commented on #8812
I believe there might be two issues happening here - an encoding issue with file names including some special characters, and also that sending/receiving files in Teams is **only** support in the personal scope. Do those two issues account for the failures y'all are seeing, or is there another case to be aware of?

More info on sending/receiving files in Teams can be found here: https://docs.micro

[2022-02-23 21:13] EduBotz commented on #8881
Hi sorry for the delay in my response.

@benbrown

I am a little unsure what you mean by login otherwise ?

I can log into the Azure Portal on all my devices and In the Azure CLI.

This app is the only service in which I have this issue, and within the App the is no evidence the the log in is successful. The app remains associated with my account.

The issue has changed somewhat since the most rec

[2022-02-23 21:15] anishprasad01 commented on #9009
Hi @rmgitting,

I just attempted to reproduce your scenario but was unable to. I created a Composer bot using the default `OAuth login` action and communicated with the bot on the Teams desktop app, and I got a login prompt.

Perhaps you could double check the [user auth](https://docs.microsoft.com/en-us/composer/how-to-use-oauth?tabs=v2x) docs page to see if anything is missing in your bot?

Addi

[2022-02-23 23:30] pekanovics commented on #8974
@ramfattah If something only works on specific machines, that software is not considered working! Solve the underlying issue, or at least provide an explanation of why it's happening!

[2022-02-24 01:25] ramfattah commented on #8974
Hi @pekanovics, Thanks for engaging in the Microsoft Bot Composer project. I'm re-opening this issue and will check internally what might be causing this unable to login due to the Tenant not found.

[2022-02-24 01:27] ramfattah commented on #8974
@chookhen60  @pekanovics. I will report back once I find more information.

[2022-02-24 03:04] joshtbcr opened #9015 "Does Composer support a 'Conversational Language Understanding' project from the new Language service in Cognitive Services?"
## Describe the bug

All tutorials show samples of the classic LUIS (from luis.ai), but none of them from the new Language service (language.cognitive.azure.com).
https://docs.microsoft.com/en-us/composer/how-to-add-luis?tabs=v2x#update-luis-keys

_Azure Cognitive Services for Language unifies three individual language services in Cognitive Services - Text Analytics, QnA Maker, and Language Unders

[2022-02-24 07:52] rmgitting commented on #9009
Thanks for your reply. To be honest it was working fine at some point, the login button was shown but then suddenly it stopped, and also as I told you we tried a whole new bot just with the login button and it is not shown for me neither my colleagues. Outside of teams like on webchat or emulator, it works just fine. I am not sure what would be the issue. We can try to create a whole new AD app an

[2022-02-24 09:20] saikumaru commented on #9004
thank you @anishprasad01 , I am having exactly the same issue with bot deployed by the pipelines as https://github.com/microsoft/BotFramework-Composer/issues/9004

because as per your answer, what I realize is  all the settings should have been picked from appsettings.json, and the pipelines proposed here https://docs.microsoft.com/en-us/composer/how-to-cicd dont seem to build a fully valid settin

[2022-02-24 16:02] anishprasad01 commented on #9009
If no changes were made to your bot, perhaps changes were made to your Teams environment?

[2022-02-24 17:03] ramfattah commented on #9011
Investigating this.

[2022-02-24 18:09] ramfattah commented on #9006
@javier-mora

Thanks for raising this issue.

I was able to reproduce this issue of 'Break out of loop' not working. Here is my my [.dialog file](https://gist.github.com/ramfattah/54f26d02d8e537181aec657b0951deba) containing the loop and condition to break out of the loop.

Here are the steps I took to repro:
1) Opened empty bot Composer 2.1.2 -  [Download here](https://github.com/microsoft/BotFra

[2022-02-24 18:21] anishprasad01 commented on #9015
Hi @joshtbcr,

At this time, Composer does not support the new Azure services unifying QnA and LUIS with other products. The standalone  QnA and LUIS resources continue to be available, so you would need to use them when building a Composer bot.

[2022-02-24 18:21] #9015 closed

[2022-02-24 18:51] ramfattah commented on #9006
@javier-mora, I will report back when I find more information about this.

[2022-02-24 18:53] ramfattah commented on #9012
Hi @krassussofficial, I'm looking into this.

[2022-02-24 20:57] anishprasad01 commented on #9004
This is the settings file you get in the Advanced View in Composer. I believe the scripts that deploy this to Azure can be found [here](https://github.com/microsoft/BotFramework-Composer/tree/main/extensions/azurePublish/src/node).

[2022-02-24 23:42] johnkm516 commented on #8970
@lauren-mills
Are there any updates on this issue?
Please let me know if this issue is indeed an issue with the SDK or intended design.

Thanks.

[2022-02-25 00:03] ramfattah commented on #8974
hi @chookhen60,

can you check if you're in the correct azure directory using the Azure cli. [Commands in an Azure subscription](https://docs.microsoft.com/en-us/cli/azure/manage-azure-subscriptions-azure-cli#:~:text=the%20Azure%20CLI.-,Commands%20in%20an%20Azure%20subscription,-Many%20Azure%20CLI)

In Powershell, enter the following command: `az account list --output table`

[2022-02-25 00:04] ramfattah commented on #8974
hi @chookhen60,

Could you please check if you're in the correct azure directory using the Azure cli. [Commands in an Azure subscription](https://docs.microsoft.com/en-us/cli/azure/manage-azure-subscriptions-azure-cli#:~:text=the%20Azure%20CLI.-,Commands%20in%20an%20Azure%20subscription,-Many%20Azure%20CLI)

In Powershell, enter the following command: `az account list --output table`

[2022-02-25 00:07] ramfattah commented on #9007
Hi @krassussofficial,

Have you tried to clear composer data/cache?

In Composer: `View -> ToggleDeveloper Tools -> Application -> Clear storage -> Clear site data`
   <img src="https://i.gyazo.com/c4b516b64a956a1f5087586596d56c1c.png" width="500"/>

---

Also if the above step did not work, could you please check if you're in the correct azure directory using the Azure cli. [Commands in an Azure

[2022-02-25 04:27] ramfattah commented on #9006
There is a pull-request for this issue. https://github.com/microsoft/botbuilder-dotnet/pull/6223

Thank you @EricDahlvang for the PR!

[2022-02-25 04:27] #9006 closed

[2022-02-25 07:55] krassussofficial commented on #9007
Hi @ramfattah

thanks for your answer,
Unfortunately clearing the cache didn't help, also the Subscription ID in Powershell checks out with the one in publishing profile.
Do you have any other ideas how to address the issue?

Best Regards

[2022-02-25 10:46] saikumaru commented on #9004
Thank you very much @anishprasad01 !
While I figure out how to do it, please can you let us know if you plan to fix the CICD pipeline in the documentation, which is not in synch with Composer?

[2022-02-25 14:20] saikumaru commented on #9004
BTW, I dont need the settings file as seen on advanced view, instead I need the settings file that is available on the remote/azure function app. Because, when the pipelines publish the bot the settings file on the remote is different to the one which would have been generated when you publish from composer.

[2022-02-25 18:23] ramfattah commented on #9011
Hi @HugzBatman19

I created a sample composer project of the requirements mentioned above. Here is the link to the repo:

[2022-02-25 18:43] ramfattah commented on #9011
Hi @HugzBatman19

I created a sample composer project with the basic given requirements mentioned above.

Here is the link to the repo: https://github.com/ramfattah/SmoothieBot
(clone this repo and open the `.sln` in composer)

This is the bot output:
<img src="https://i.gyazo.com/ac8fcb2ea208321d4072438ad86188d1.png" width="400"/>

[2022-02-25 18:46] ramfattah commented on #9011
Also, the Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). 
The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2022-02-25 19:14] johnataylor commented on #8966
closing this as resolved please reopen if this is not the case

[2022-02-25 19:14] #8966 closed

[2022-02-25 21:40] anishprasad01 commented on #8997
It looks like the issue is located in the Webex adapter. Unfortunately, adapters previously integrated with the SDK, like Webex, have been deprecated as of **February 7th, 2022**. Their ownership has been transferred to the [BotBuilder-Community](https://github.com/BotBuilderCommunity/) for continued support. You may wish to open a new issue in the appropriate community repository for additional s

[2022-02-25 21:40] #8997 closed

[2022-02-25 22:27] anishprasad01 commented on #9004
I believe that's because your Pipeline configuration takes precedence over the `appsettings.json` file. Publishing from Composer is in practice the same as publishing an SDK bot. The bot files, including `appsettings.json` are zipped up and set to Azure, where the service uses that information to create the deployment. In the event that the configs differ, Azure takes precedence.

[2022-02-25 23:12] ramfattah commented on #9008
Hi @nickfrancis

Similar issue open in composer. When attempting to login, after entering the email address, the password is not asked and automatically errors out. #8974

If the suggestion given by @dmvtech did not work, could you please try to clear any Azure related credentials in your Windows OS? [Steps here](https://github.com/microsoft/BotFramework-Composer/issues/8974#issuecomment-104066853

[2022-02-27 03:09] lauren-mills commented on #8970
I'm still working on it, currently trying to get a simplified repro so we can figure out how to fix it, either by changing the design of the enterprise assistant or with a change in the SDK. I was able to test echo bot with the RepeatDialog action and it does execute which makes me think something is going wrong with the skills feature but I haven't narrowed it down yet.

[2022-02-27 22:07] chookhen60 commented on #8974
Hi @ramfattah, running the aforementioned command shows me the two subscriptions we have available, with the correct one set to `true` in the `IsDefault` column

[2022-02-28 04:05] rishabh7k commented on #8891
Hello @dmvtech If you're having trouble reproducing the issue, I can email you a .zip for all three bot projects and you can deploy them and test it.

[2022-02-28 11:29] nickfrancis commented on #9008
Thank you both - was on leave last week - will run through the steps & update.

[2022-02-28 12:25] nickfrancis commented on #9008
So have cleared my cache on Bot Framework Composer & no joy.

Did look at the SSL labs & it seemed to run ok - interestingly there was one certificate that was showing as "In Trust Store - Self Signed" which I'm guessing is the trouble certificate.

Did a little bit more googling and wondering whether it's a tenant related security issue with regard to the certificate.

Am also in the process of i

[2022-02-28 13:33] nickfrancis commented on #9008
Tested on a different machine & it worked fine so it's a local issue - I'll do some work on my certificates to see if I can root it out & remove it.

[2022-02-28 16:26] nickfrancis commented on #9008
Resolved - it was Netskope running on local machine - need to find a work around within the company tenant....

[2022-02-28 16:26] #9008 closed

[2022-02-28 18:26] anishprasad01 commented on #9004
@saikumaru,

I just confirmed with the team once again. What Composer will do is take the `appsettings.json` (let's say this one is A) that you see in the advanced view or in the project files. It will then take details from your account and publish settings, and then generate a *new* `appsettings.json` (let's call this one B). It is **B** that gets zipped up and deployed to Azure. Thus, A and B w