[2021-02-26 10:47] #5978 closed

[2021-02-26 10:47] #5615 closed

[2021-02-26 10:48] #5863 closed

[2021-02-26 11:11] piquet-h commented on #5451
I've been able to sort of repro @jocrafts issue across different machines.

The OSX version I'm running strips the AppId from the the app settings file every time I start the bot locally. This means the appsettings file gets committed with necessary keys. When I do a search/replace in the CI/CD pipeline, because the AppId (or endpoint key in LUIS) is not there, it doesn't try and replace it with t

[2021-02-26 12:50] craighsu opened #6008 "Can't create Azure resources by provisionComposer.js"
![image](https://user-images.githubusercontent.com/354679/109301972-a503e480-7873-11eb-8c05-86518ac4780a.png)

Hi there, I have a trouble with deploy bot.
I have tried to add "const tenantId = 'beibeicoffeegmail.onmicrosoft.com';" into the provisionComposer.js but get the error occured like above picture

Please help me to fix this error, thanks.

For your reference, I've executed the command belo

[2021-02-26 13:26] Quirinevwm opened #6009 "LG Editor: input hints content default & placement"
## Describe the bug
 - ~~Content: input hint default shows "_none_", should be "_accepting_".~~ (already done in the latest nightly)
 - Can we position this underneath Tab of Speech instead of right next to triple dot sub menu. (same for Attachments tab > Layout:Lists in that position)

Link for InputHint tooltip https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connec

[2021-02-26 13:31] Quirinevwm opened #6010 "LG Editor: input hints support with tooltip to speech doc"
## Describe the bug
Support for users to understand what input hints are, and default "accepting" (#6009).

## Version
v1.3.1-nightly.217012.67a05de

## OS
- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Expected behavior
Input hints needs explanation doc - tooltip preferable (works when we position this dropdown in recommended place issue #6009

Add input hints to messages - Bot Service | Microsoft Do

[2021-02-26 13:40] Quirinevwm opened #6011 "LG Editor: delete attachment messaging & design"
## Describe the bug
When a user deletes attachment, the messaging / button order is confusing plus no support with doc links (learn more).

## Version
v1.3.1-nightly.217012.67a05de

## OS
- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Expected behavior
Current:
![image](https://user-images.githubusercontent.com/43533472/109306592-ab786900-783f-11eb-9fb5-8efccfe486d6.png)

Proposal:
![image](https://us

[2021-02-26 13:57] Quirinevwm opened #6012 "LG Editor: static order text, speech, attachments, SA"
## Describe the bug
I was able to change around the order by adding/deleting: attachments, speech first for example then text appeared later in the order of tabs.

## Version
v1.3.1-nightly.217012.67a05de

## OS
- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Expected behavior
My understanding of UX principle would be static adds, so always in the order of:
1. Text, 2. Speech, 3. Attachments, 4. SA's

[2021-02-26 14:01] garypretty commented on #6001
For consistency, I am proposing that we replace this dropdown list with the new UX on the LG Editor, where the user gets a button to insert a pre-built function.  This would resolve this issue I believe.

![image](https://user-images.githubusercontent.com/3900649/109309411-29864100-783b-11eb-8a48-ac55c93ee327.png)

[2021-02-26 14:03] garypretty commented on #6012
@Quirinevwm this is now resolved in the latest nightly build and order is preserved.

[2021-02-26 14:03] #6012 closed

[2021-02-26 14:07] Quirinevwm opened #6013 "LG Editor: missing doc link that explains DLS channel config"
## Describe the bug
Composer provides flexibility that once a dev sets up a textual bot, they can add 'speech' tab for their voice content. This does not mean however their speech channel is configured, or will work when they test in emulator their voice experience. Could give the user a broken experience. In create (1.5) we will facilitate voice font selection, dls channel set up, but what is a d

[2021-02-26 14:11] garypretty commented on #6013
@zxyanliu @emgrol we need to ensure that we call out and cross reference the appropriate DLS docs when we document the LG editor.

[2021-02-26 15:02] tracyboehrer opened #6014 "Unexpected list size for Teams triggers UI"
## Describe the bug

When adding a trigger for teams, the displayed popup appears larger than expected (extra white space).

## Version

latest from main branch, local build, commit d9ee12c

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. select "Add a Tr

[2021-02-26 16:38] benbrown commented on #5987
good eye, @emivers8! fixed as part of #5983

[2021-02-26 17:07] garypretty commented on #6010
Merging with #6009

[2021-02-26 17:07] #6010 closed

[2021-02-26 17:15] #5973 closed

[2021-02-26 17:17] #5877 closed

[2021-02-26 17:42] tdurnford commented on #6011
@sangwoohaan Can you weigh in?

[2021-02-26 17:50] hatpick commented on #6011
@Quirinevwm order of the buttons is coming from Fabric lib which is by Microsoft, traditionally Microsoft does this ordering (positive action left, negative action right) vs. Mac that does the reverse. However, I've discussed this with Sang as well, we are using both ordering in different parts of the app, we need to be consistent.
https://developer.microsoft.com/en-us/fluentui#/controls/web/dialo

[2021-02-26 17:52] dmvtech commented on #5794
Closing as answered.

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2021-02-26 17:52] #5794 closed

[2021-02-26 17:53] dmvtech commented on #5644
Closing due to inactivity and lack of information. If you still need assistance, please comment here and give specific information so that we can troubleshoot and assist.

[2021-02-26 17:53] #5644 closed

[2021-02-26 17:56] #5933 closed

[2021-02-26 17:56] #5934 closed

[2021-02-26 17:56] #5943 closed

[2021-02-26 17:59] #5786 closed

[2021-02-26 18:02] v-kydela commented on #6006
@BeheraMadan - This doesn't seem to be related to Composer and would be better suited for Stack Overflow than GitHub, but I'll see if I can help. Can you provide the following?

1. Links to any documentation you've followed
2. Repro steps

[2021-02-26 18:06] sangwoohaan commented on #6009
We've actually explored an iteration that those dropdowns are under the label and that design didn't work very well. We'll leave them as they are for now, and get back to this in the near future

[2021-02-26 18:06] #6009 closed

[2021-02-26 18:13] JonathanFingold commented on #5914
@scheyal , @zxyanliu , I don't think this is a doc issue. As far as I can tell, **type** cannot be specified (currently) and is always assumed to be "message".

[2021-02-26 19:40] #5905 closed

[2021-02-26 19:58] srinaath commented on #5756
@feich-ms Does the latest bf-lu incorporate this fix in bf-cli for us to leverage on Composer?

[2021-02-26 20:10] anusharavindrar commented on #5759
@UmaPrelude, are you using an exported runtime?

[2021-02-26 20:31] ismendes commented on #5687
@dmvtech, this is great, thanks for the support. I am trying to understand how to correct the technical gap from my team.
For me this statement _"If designed in the right way, interruptions and letting users go back and change answers should be possible"_ makes a lot of sense, but I am not clear about which docs they need to understand to get this done in the right way without increasing the numbe

[2021-02-26 22:08] congysu commented on #5998
Thanks @taicchoumsft to take a look first.

[2021-02-26 22:10] congysu commented on #6008
Thanks @taicchoumsft to take a look first.

[2021-02-26 22:14] taicchoumsft commented on #6008
Hi @craighsu , can you try first to run `az logout` in a terminal, close the terminal, then re-open and `az login`, and login with the credentials associated with your organization, and try again?

[2021-02-26 22:28] emivers8 opened #6021 "Creation modal readme formatting is inconsistent and needs improved copy + fix link"
## Describe the bug

**Formatting**
When selecting a template, the readme section displays content with inconsistent formatting, ie title font size change, presence of sub-headers, links as text or URL.

Each readme should follow the same formatting. Follow the formatting convention being used for Conversational Core, Empty, and QnA. Smaller header. Sub-headers for Packages, Languages, and Azure R

[2021-02-26 22:28] taicchoumsft commented on #5998
@rahul-8437008949 , thanks for the bug report.  Can you help us collect some logs? This would really help.

1) Open a `CMD.exe` command prompt
1) Navigate to the install location and run Composer directly. On windows:
      - `cd %USERPROFILE%\AppData\Local\Programs\Bot Framework Composer\`
      - Set debugging log on for Composer: `set DEBUG=composer*`
      - run Composer: `./Bot Framework Comp

[2021-02-26 22:37] benbrown opened #6022 "package manager: the install buttons wrap with long version numbers"
## Describe the bug

with our long 1.0.0-preview.GUID versions, we get a ugly text wrapping in the button.

![Screen Shot 2021-02-26 at 4 36 13 PM](https://user-images.githubusercontent.com/729873/109362553-dae3a180-7850-11eb-87c0-cee4157b0999.png)

[2021-02-26 22:43] emivers8 opened #6023 "Design bugs on Getting Started"
## Describe the bug

Spacing, etc, UI issues.

Figma: https://www.figma.com/file/tvENftrexoAYJngzsJxUbv/EmFig?node-id=2981%3A17

## Screenshots

![image](https://user-images.githubusercontent.com/55601267/109362845-b7185f80-7840-11eb-9ae2-302751828f33.png)

[2021-02-26 23:09] benbrown commented on #5938
@tracyboehrer @mewa1024 @sangwoohaan as these components are now all public,  this should now be fixed.  can you please give it another try?

[2021-02-26 23:18] congysu commented on #6008
@cwhitten @taicchoumsft please feel free to re-assign.  Thank you both.

[2021-02-26 23:19] congysu commented on #5998
@cwhitten @taicchoumsft please feel free to re-assign this issue.  Thank you both.

[2021-02-26 23:44] #5979 closed

[2021-02-26 23:58] emivers8 opened #6025 "Create modal - Remove primary language selection"
## Describe the bug

Selecting Spanish for an Empty bot still creates an en-us version.

Recommendation is to remove for R12.

## Version

## Browser

- [ ] Electron distribution

## OS

- [ ] macOS

## To Reproduce

Steps to reproduce the behavior:

1. Go to create new
2. Select spanish from language selection drop down
3. Finish creating your new bot
4. Go to bot name/language in top bar
5. Stil

[2021-02-27 00:07] emivers8 opened #6026 "Create modal - Template naming and list order"
## Describe the bug

The list of templates in the create modal should be arranged intentionally, potentially from simple to more complex for R12 release, and the names themselves should be revised. @Dewain27 @emivers8 @benbrown and @mareekuh to agree on naming. Initial recommendations below, but final TBD.

Initial recommendations:
1. Blank bot (empty bot)
2. Basic conversational bot (conversation

[2021-02-27 00:13] emivers8 opened #6027 "Create modal - add template request link"
## Describe the bug

The create modal was designed with a link at the bottom left for users to request desired templates in GitHub. Link to open in new tab to relevant GitHub feature request page.

Figma: https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=7636%3A38078

## Screenshots

![image](https://user-images.githubusercontent.com/55601267/10936824

[2021-02-27 00:18] chrimc62 commented on #5763
This still happens if you create two forms.  To repro:
1) Create a form 'foo' and hit generate.
2) Create a second form 'blah' and hit generate.
You will get two errors where the bot LG definitions are copied into both form root LG files.
![image](https://user-images.githubusercontent.com/17637681/109368537-4bd58a00-784e-11eb-8925-ff5132a38287.png)

[2021-02-27 00:36] srinaath commented on #5989
Fixed by [fix: Bot Controller style fixes by srinaath · Pull Request #6000 · microsoft/BotFramework-Composer (github.com)](https://github.com/microsoft/BotFramework-Composer/pull/6000/files)

[2021-02-27 00:36] #5989 closed

[2021-02-27 00:38] srinaath commented on #5981
Fixed by #6000

[2021-02-27 00:38] #5981 closed

[2021-02-27 01:13] craighsu commented on #6008
@taicchoumsft I've tried to run az logout and login, but still got the same error as below

![image](https://user-images.githubusercontent.com/354679/109370583-e203c180-78db-11eb-8080-555032361173.png)

[2021-02-27 01:25] emivers8 commented on #5894
There IS however an option to always show the checkboxes on the existing component. This is not considered custom, it's an allowed variation.

This is the relevant attribute:
![image](https://user-images.githubusercontent.com/55601267/109370928-46c90880-7857-11eb-8322-ffb7f7f9dd34.png)

https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist

(@benbrown implemented this variation

[2021-02-27 01:29] emivers8 commented on #6022
I forgot, did we already try truncating like this?

![image](https://user-images.githubusercontent.com/55601267/109371082-0453fb80-7858-11eb-8ac3-943d8e18af13.png)

[2021-02-27 01:57] craighsu commented on #6008
@taicchoumsft I've resolved the issue by creating a new user in the Azure subscription's AD and assigned a co-admin role in   Azure subscription.

[2021-02-27 05:52] lei9444 opened #6029 "Bot Response page show wrong content for common and click hide code will navigate to Design Page"
## Describe the bug
![errors1](https://user-images.githubusercontent.com/39758135/109376928-be07a680-7902-11eb-9b7b-2102520a323a.gif)

## Version
Main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. create a echo bot
2. add a skill
3. create some

[2021-02-27 16:27] Dan-Bai commented on #5808
@v-kydela From the Bot Composer UI under settings/custom runtime

[2021-02-27 22:59] #6011 closed

[2021-02-28 02:07] #6008 closed

[2021-02-28 09:02] #5867 closed

[2021-02-28 20:25] carlosscastro opened #6033 "Package manager: Myget usage blocked when using service index (which is the standard)"
The standard way of providing a nuget feed is passing the service index, adn this is what dotnet developers do on a daily basis. Currently, package manager relies on passing the search query for things to work, which is not the standard. Furthermore, if a standard service index is passed, the results are not filtered so it is impossible to get reasonable results. Also, it is not possible to get pr

[2021-02-28 21:02] iMicknl opened #6036 "Open a project via Power Virtual Agents doesn't use the right locale"
## Describe the bug
Projects opened via Power Virtual Agents always use the `en-us` locale, where PVA supports more locales. Currently you have to add a new language, which is confusing for first time PVA/Composer users.

## Version
4.11.0 (nightly from a few days ago, build SHA not visible on about page)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

[2021-02-28 21:39] carlosscastro opened #6037 "Package manager search: Allow user to enter free text query, pre-release check box, paging"
Package manager UI should allow paging, should allow to choose whether to search for pre-release packages or not, and should allow to add free text search.

Foundational work for this issue in [this PR](https://github.com/microsoft/BotFramework-Composer/pull/6035), mostly UX is missing, back end should be almost ready.

[2021-02-28 21:39] carlosscastro commented on #6037
Assigning to Ben and me for triage until we prioritize and resource this work. I plan to remain as a help resource in order to wire the front end with the current api.

[2021-02-28 21:42] carlosscastro opened #6038 "Package manager: When a user adds a feed, should be able to specify what the protocol is, such as NuGet v3 or npm or bower"
Currently for each user added feed, we call the url and infer the feed type using heuristics that are somewhat brittle. User should specific package source type and protocol version when adding a new feed. The foundation on the server side is given by[ this PR](https://github.com/microsoft/BotFramework-Composer/pull/6035), so we need to do the front end work and wire it.

[2021-02-28 21:42] carlosscastro commented on #6038
Assigning to Ben and me until we prioritize and resource. I can remain a help resource to wire into the server part.

[2021-03-01 00:09] clearab opened #6039 "Onboarding conflicts with new creation"
If you have the onboarding stuff on and create a bot, the popup next to the ToDo with LUIS bot it creates for you doesn't fade during the loading creation screen. This makes it look like you can click on it, and if you do, Windows will probably grey out all of Composer with the normal "Not Responding" look. That popup should close as soon as I start creating a bot.

![image](https://user-images.gi

[2021-03-01 01:21] luhan2017 commented on #5843
@scheyal, according to your screenshot, it did not fail at the publish step, it failed at the provision step, and I think the root cause is that the qna name is already used, so you can not create a qna service with the same name. I think you don't need to provision qna service for your child bot. if you want to use qna in your child bot, just fill the parent qna configuration in your child profil

[2021-03-01 01:46] #5404 closed

[2021-03-01 03:06] feich-ms commented on #5756
@srinaath, yes, the fix was cherry-picked to https://www.npmjs.com/package/@microsoft/bf-lu/v/4.12.0-rc1. Composer can update from rc0 to rc1 to consume this fix.

[2021-03-01 03:13] #6003 closed

[2021-03-01 03:20] srinaath opened #6040 "Upgrade Composer to use Webchat 4.12"
# Describe the bug
This ticket tracks the updating of Webchat dependancy in Composer from 4.11 to 4.12 and also remove the engines check from >Node 14 to > Node 12

[2021-03-01 03:55] srinaath opened #6042 "Deleting a bot creates an unhandled exception"
## Describe the bug
Create a new bot and use delete bot functionality in Settings page. We get an error message on deleting
<img width="1194" alt="Screen Shot 2021-02-28 at 7 53 50 PM" src="https://user-images.githubusercontent.com/13004779/109450073-dfe65380-79fe-11eb-9dd0-2db77810ba62.png">

[2021-03-01 04:23] luhan2017 commented on #5448
I think that is because your runtime doesn't load the luis settings correctly, could you double check if you set your luis.environment in your appsettings?

[2021-03-01 05:12] #5395 closed

[2021-03-01 06:38] boydc2014 commented on #5982
@scheyal is this common.lu added manually by you, or generated by composer?

We will fix the file discovery issue, while at the same time can you try rename to common.en-us.lu? since it's in en-us folder?

[2021-03-01 06:41] #6029 closed

[2021-03-01 06:41] #5976 closed

[2021-03-01 07:11] UmaPrelude commented on #5826
Thanks @cwhitten.

Hi @garypretty, Please let me know if there is any plan for this.

[2021-03-01 07:13] UmaPrelude commented on #5759
Yes I am using custom runtime generated.

[2021-03-01 07:26] UmaPrelude opened #6045 "Possibility of importing/mapping LUIS App into Composer"
Hi,

I want to know if there is any possibility that i can create the LUIS App in the portal and import/map into composer, so that any time the utterances can be uploaded to LUIS portal and composer can import it from there.  So that this uploading activity can be handled by someone who is non technical as well.

Please recommend.

[2021-03-01 07:58] ysnoek2 commented on #5448
@luhan2017 It is set in my appsettings
![image](https://user-images.githubusercontent.com/76207835/109467809-05f60d00-7a6c-11eb-966a-dce3c42f6380.png)

[2021-03-01 08:07] luhan2017 commented on #5911
@JonathanFingold did you try to cancel a skill by sending a cancel message/event to the skill, and add a trigger in the skill dialog to end Conversation.

[2021-03-01 09:37] iMicknl commented on #6036
As an addition, this also happens when you update / overwrite your local version. It will always fall back to en-us. This also means that you lose all your bot responses...

[2021-03-01 09:48] luhan2017 commented on #5448
@ysnoek2 you need to add "environment": "composer" under the luis settings. It is a default setting when you create a new bot in composer. If you don't have this settings, composer will not load your luis settings correctly.

[2021-03-01 09:49] iMicknl opened #6047 "Redirect to Power Virtual Agents Topic from Composer Dialog"
## Is your feature request related to a problem? Please describe.

Currently you can use Bot Framework Composer to build your more advanced dialogs for Power Virtual Agents. In many scenario's, Power Virtual Agents contains topics where you would like to redirect to. For example if you have an Adaptive Card with multiple options, to redirect back to a topic modelled in PVA.

## Describe the soluti

[2021-03-01 09:54] luhan2017 commented on #5966
@pavolumMsft，this seems be introduced by the new adaptive runtime. is this expected?

[2021-03-01 09:55] luhan2017 commented on #5354
sure, will follow up in the next release.

[2021-03-01 09:56] iMicknl opened #6048 "Call Power Virtual Agents NLU via Composer"
## Is your feature request related to a problem? Please describe.

When modelling advanced prompts in Composer, I would like to use PVA NLU. For example when you prompt with `Yes` / `No`, but want to handle all variations of this boolean. This is very easy to model in PVA and would be nice to reuse this NLU.

## Describe the solution you'd like

Use the Power Virtual Agents NLU for (multi)choice p

[2021-03-01 11:02] #6042 closed

[2021-03-01 11:05] ysnoek2 commented on #5448
@luhan2017 Looking at my appsettings file, it seems Luis (and other settings) are set multiple times. Is there an example file for these settings? I could only find one from last year.

[2021-03-01 11:06] #5763 closed

[2021-03-01 11:06] #5982 closed

[2021-03-01 12:47] BeheraMadan commented on #6006
Hi,

We are just using QnAmaker dialog action to connect to QnaKnowedge base as shown in below screenshot
![image](https://user-images.githubusercontent.com/70739031/109497332-eab0ef00-7ab7-11eb-981f-4deb03af4087.png)

QnAMaker dialog action has some properties that we can use and there is one property called 'active learning ' card title as shown in above screenshot. When we use this property in

[2021-03-01 12:50] ysnoek2 commented on #5448
@luhan2017 I created a new bot and copied those appsettings, changed the settings and that fixed the issue! (:
I think with the new version it took the old settings plus the new ones and it created a bit of a mess but it is now working as it should! Thank you for the help!

[2021-03-01 13:25] BeheraMadan commented on #4926
Hi @dmvtech,

You had mentioned that: Within a QnA Intentet recognized trigger, we can use something like the following:
turn.recognized.answers[0].questions

'QnA Intentet recognized trigger'  can we use to create QnAKnowledge base within the composer.
But we are not creating QnAKnowledge base within the composer. We have already created QnAKnowledge base manually on the QnAMaker.ai portal and we

[2021-03-01 13:47] Quirinevwm commented on #6011
@hatpick great to hear that button placement will be consistent across Composer. Indeed Fluent advises other order than Mac, it's just the action boxes are typically aligned from the left in the canvas.

Just to make sure this issue is not really about the button placement. It's more on the confusing actions the users need to take in this pop-up; so updating content and the radio button (shift to

[2021-03-01 14:10] garypretty commented on #5962
@tdurnford @hatpick @srinaath I am re-opening this as I am still seeing the error shown in scenario 2 in the latest nightly build. Were you able to reproduce this?

[2021-03-01 14:11] #5962 closed

[2021-03-01 14:17] garypretty opened #6049 "LG Editor: Deleting attachments tab with no content throws error"
Issue originally tracked in #5962 is still present for me in the latest nightly.

1. Add an attachment tab using the LG editor
2. Make no changes / add no content
3. Try to delete the attachments tab
4. Error is thrown.

Below gif is the original one I captured, so shows out of date UI for modal confirmation, but resulting error is still occurring.

![LG Editor - Remove Tab Error](https://user-ima

[2021-03-01 14:19] BeheraMadan commented on #5687
@ismendes you are absolutely correct . @dmvtech Would you please provide more detailed steps for the solution you mentioned. As per our understanding we tried to implement the solution in our sample test bot but it is not working as expected. For us , the prompting for the first choice set is happening again (flow1, flow2, flow3)  repeatedly in it's entirety. We tried to change the value of always

[2021-03-01 14:44] #5403 closed

[2021-03-01 14:44] afahmy11 opened #6050 "uploading zip file forever when publishing a bot to azure web app"
hi

i am trying to publish my first bot to my azure subscription. the publishing job is stuck forever at uploading zip file step.

how can i troubleshoot this issue?
bot framework composer version 1.3.1 on mac Big Sur v11.2.2

![Bot-uploadingZIP](https://user-images.githubusercontent.com/49028761/109513112-6e191300-7aad-11eb-8a4d-3d7113e24ba6.jpeg)

[2021-03-01 14:58] peterswimm commented on #5932
@tonyanziano I'm sorry I'm not seeing where/how to set that debug variable. Could you point me to more information? A quick search here wasn't illuminating.

[2021-03-01 15:29] iMicknl opened #6051 "cardActionTemplate does not have an evaluator, it's not a built-in function or a custom function."
## Describe the bug

Not sure if this should be reported here or in the dotnet runtime, but since it is documented on the composer docs https://docs.microsoft.com/en-us/composer/how-to-send-cards, I will report it here.

[cardActionTemplate](https://docs.microsoft.com/en-us/composer/how-to-send-cards#herocard) is documented for the HeroCard, but doesn't work in Composer 1.3.1. Currently I am only

[2021-03-01 15:50] benbrown commented on #5966
This should have been resolved by #6020 - @thomas-chung if you experience this using the most recent nightly, please re-open this.

[2021-03-01 15:50] #5966 closed

[2021-03-01 17:07] benbrown commented on #6026
No the multibot "Calendar assistant" and the "Calendar" bot are not going to be publicly released.

It is quite difficult for us to sort these in a different order than they come in from the API without building making things quite brittle. We'll need to discuss a method for achieving this.

[2021-03-01 17:11] tonyanziano commented on #5932
@peterswimm No worries, I could have been more clear:

The goal here is going to be to start Composer from a terminal / command line so that we get the verbose log output.

1. Open a command line or terminal application
2. Navigate that instance of terminal to wherever Composer is installed on your machine
3. In that terminal, set the `DEBUG` environment variable to `composer*`
  **On Windows**, y

[2021-03-01 17:16] tonyanziano commented on #5393
Update:

We have merged a branch into the `main` branch #5909 that exposes APIs to support personal login. We are now working on integrating these APIs into the current Azure publishing flow.

[2021-03-01 17:22] #5948 closed

[2021-03-01 17:22] #5987 closed

[2021-03-01 17:29] benbrown commented on #6023
Fixed! I think!  Double check!

![Screen Shot 2021-03-01 at 11 28 38 AM](https://user-images.githubusercontent.com/729873/109534872-7196a500-7a81-11eb-97a4-325ed1b75381.png)

[2021-03-01 17:43] v-kydela commented on #6006
@BeheraMadan - Thank you for the information. Can you provide the information I asked for?

[2021-03-01 17:48] #5783 closed

[2021-03-01 17:48] tonyanziano commented on #5937
You could fire the event off [here in the `import` deep link handler](https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/electron-server/src/utility/url.ts#L45), and use the `source` embedded in the URL to determine where it came from.

[2021-03-01 17:48] benbrown commented on #5938
@tracyboehrer  can you confirm this is working in the nightly build?

[2021-03-01 18:02] tracyboehrer commented on #5938
@benbrown I can confirm that as of Friday with a build from main this now works.  I assume because the packages were published.

[2021-03-01 18:07] benbrown commented on #5988
@taicchoumsft and I have discussed 2 options:

1) can we add a schema to the orchestrator component to make it show up?
2) if not, just make package manager recognize the orchestrator component and override the flag causing it to be hidden

@taicchoumsft  let me know if you decide 1 is unfeasible.

[2021-03-01 18:07] benbrown commented on #5938
thanks!

[2021-03-01 18:07] #5938 closed

[2021-03-01 18:44] JonathanFingold commented on #5911
@luhan2017 - I have not, but that seems like extra work, as this is already part of the SDK implementation, through the SkillDialog. Following up "offline" via email.

[2021-03-01 18:48] #5490 closed

[2021-03-01 18:48] #6023 closed

[2021-03-01 18:59] cwhitten commented on #6036
Hi @iMicknl - this is a known issue and will be addressed soon. PVA is not sending the configured bot local to Composer, so Composer doesn't know which language to use. Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/5728

[2021-03-01 18:59] #6036 closed

[2021-03-01 19:01] JaskeeratBedi-cmk opened #6056 "Content in Error modal is not wrapped"
![error modal](https://user-images.githubusercontent.com/67944302/109545150-52961400-7a7d-11eb-90e7-1f2a733cc6b9.gif)

## Describe the bug

Not sure what triggered the error, but the modal does not constrain the text.

## Version

1.3.1

## Browser

- [ ] Electron distribution

## OS

- [ ] macOS

[2021-03-01 19:19] benbrown opened #6058 "make it possible to specify an alternate feed url for templates"
During development, it will be necessary to source versions of templates that are not public or released.

This may or may not be the same thing as allowing custom feeds - for example, we may want to achieve this with a feature flag.

[2021-03-01 19:31] #6049 closed

[2021-03-01 19:50] iMicknl commented on #6036
Thanks @cwhitten! I couldn’t find the other issue.

[2021-03-01 20:03] #5345 closed

[2021-03-01 20:04] cwhitten commented on #5430
Closing as a dupe - follow https://github.com/microsoft/botframework-core/issues/73 for updates on this issue.

[2021-03-01 20:04] #5430 closed

[2021-03-01 20:05] cwhitten commented on #5806
Closing due to no activity.

[2021-03-01 20:05] #5806 closed

[2021-03-01 20:08] cwhitten commented on #6045
Hi @UmaPrelude. Bi-directional syncing between the LUIS Portal and Composer is not something we support or have short term plans to support. In the LUIS Portal you can export your LUIS application data into the .lu file format and migrate it into Composer, but this is currently a manual process.

[2021-03-01 20:11] Quirinevwm commented on #6021
Adding on, documentation link [https://github.com/microsoft/botframework-components#bot-framework-components](url)
Add a banner: https://www.figma.com/file/AX6pIlB1lsyyLaIO8USkUO/UI-Overview-Conversational-AI?node-id=1%3A3001
Plus the content for skills should be updated: old versions skills etc, placed in archive etc?
[https://github.com/microsoft/botframework-components#skills](url)

[2021-03-01 20:11] cwhitten commented on #6050
@stevkan @dmvtech can someone from Support Engineering look at this?

[2021-03-01 20:24] emivers8 commented on #6023
"File location" "Customize" and "Publish" should be semibold weight.

Let's also tighten the line height on those link lists just by 1-2 px (send me a screenshot over teams).

[2021-03-01 21:33] benbrown opened #6062 "bug: bot status url is wrong - causes start bot to fail"
## Describe the bug

[This change](https://github.com/microsoft/BotFramework-Composer/commit/cba7a75e61a5b94c25d531078bc192098e14fa92#diff-3256274b225b44dde6db11a2b8372adf3b29c19b4f1be7eba3ab8e6328374d92R249) inadvertently broke the status URL, causing the start bot function to fail.  The bot will start but the status cannot be properly retrieved.

## Version

Latest nightly

[2021-03-01 22:05] benbrown opened #6064 "bug: long path can break its container on get started widget"
## Describe the bug

![Screen Shot 2021-03-01 at 4 03 48 PM](https://user-images.githubusercontent.com/729873/109565262-d1a04200-7aa7-11eb-9710-a884dfccafda.png)

[2021-03-01 22:11] #6062 closed

[2021-03-01 22:15] benbrown opened #6065 "bug: can't scroll to bottom of settings when get started is visible"
## Describe the bug

With the feature flag enabled, i cannot see the "Delete bot" button at the bottom of the settings. I can't scroll down far enough for some reason.

I believe this is due to a calculated height CSS property that may need to be adjusted

## Version

nightly

![ZlhD4Ly0i4](https://user-images.githubusercontent.com/729873/109566277-445ded00-7aa9-11eb-9001-34ac12420f92.gif)

[2021-03-01 22:37] tonyanziano commented on #5899
I was able to reproduce this issue locally. I will investigate

[2021-03-01 23:15] sangwoohaan opened #6068 "Adapter configuration modal UI fixes"
## Describe the bug

![Screen Shot 2021-03-01 at 10 49 05 AM](https://user-images.githubusercontent.com/50963385/109571489-9ea68000-7aa0-11eb-917d-5e87019d4587.png)

1. Remove the data type headers in the input fields
2. Let's widen the pop-up dialog
3. Change the primary button label from 'Create' to 'OK', and switch the position with the secondary button to follow the standard Fluent design patt

[2021-03-01 23:48] emivers8 opened #6070 "Create modal - hyphens not allowed in bot project name"
## Describe the bug

In previous versions, hyphens were allowed in the bot project name. Now they seem to have been disallowed. Unless there's a compelling reason for this, we should maintain support of the same naming conventions.

## Version

1.3.1-nightly.218556.7416cb6
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Screenshots

![image](https://user-images.

[2021-03-02 00:03] emivers8 opened #6071 "Package manager - editing behavior in manage feeds modal"
## Describe the bug

When editing a feed in the manage feeds modal, the interaction can be confusing for users who don't realize they need to save changes by clicking the checkmark or hitting enter. In fact, the version of this component used in the QnAMaker section of Composer doesn't require a save action. We should create consistency and eliminate this confusion by using that component here.

#

[2021-03-02 00:13] emivers8 opened #6072 "Package manager - add a package modal design updates + errors"
## Describe the bug

Design for Fluent consistency and the addition of error states in the "Install" or "Add a package" modal in Package manager.

![add a package modal and errors](https://user-images.githubusercontent.com/55601267/109576598-ee894500-7aa8-11eb-825a-3f8c85dcaade.png)

[2021-03-02 00:38] sangwoohaan commented on #6013
The speech content isn't only for DLS and telephony though, it's a lower-level concept. You could have added the speech content for something else. Do we want to directly relate that to DLS/Telephony?

[2021-03-02 00:45] v-kydela commented on #5808
@cwhitten - The problem appears to be exactly as the customer described. The Node runtime doesn't do anything with the instrumentation key provided in the settings. Is there anything else that needs to be understood about this issue?

[2021-03-02 00:57] sangwoohaan opened #6073 "Change 'Language Generation' to 'Bot Responses'"
## Describe the bug

![Frame 53171](https://user-images.githubusercontent.com/50963385/109580193-0a8fe500-7aaf-11eb-82d5-45d0331e073d.png)
Currently, the label for the LG section in Send Activity node is 'Language Generation', which is inconsistent with the LG sections in prompts that are more descriptive. Also, the all-up view's label is 'Bot Responses'. Let change this from Language Generation t

[2021-03-02 01:10] taicchoumsft opened #6074 "Orchestrator: Should not show warning for missing LUIS keys (Regression)"
## Describe the bug
When we're only using Orchestrator as the LU Provider, Composer still asks for LUIS keys.

## Version
1.3.1

## Expected behavior
When not using LUIS anywhere, Composer should not prompt for a LUIS key

[2021-03-02 02:17] #6040 closed

[2021-03-02 03:10] luhan2017 commented on #5985
@tonyanziano, this issue also happens in the main branch before we merge the abs and provision v2 feature. Could you please help take a look?

[2021-03-02 05:31] #6074 closed

[2021-03-02 06:46] hibrenda commented on #5955
Addressed in https://github.com/microsoft/BotFramework-Composer/pull/5741

[2021-03-02 06:46] #5955 closed

[2021-03-02 06:57] #5988 closed

[2021-03-02 07:52] garypretty commented on #6013
@sangwoohaan I agree.  I don't think we should make any explicit changes in the UI at this point for telephony / speech in relation to the editor.  My suggestion above is simply that, when we talk about the editor in the speech tab in the docs, that we at least link to our first party docs for DLS / telephony, given they will be the most common use cases.  As you say speech is more pervasive, bein

[2021-03-02 08:25] BeheraMadan commented on #6006
Hi,

We are following below documentation.

https://docs.microsoft.com/en-us/composer/how-to-add-qna-to-bot

![image](https://user-images.githubusercontent.com/70739031/109619351-b17f8a00-7b5e-11eb-90eb-9afb1d8ff995.png)

![image](https://user-images.githubusercontent.com/70739031/109619484-d70c9380-7b5e-11eb-9648-be7b387902bf.png)

Thanks..

[2021-03-02 08:53] zhixzhan opened #6079 "Bot start toolbar show up in home page"
## Describe the bug

 In Home page,  bot start toolbar will show up when open a bot but should not be there.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open a bot
2. Go to home page
3. Click `open`
4. See `Bot start toolbar` show up

##

[2021-03-02 11:01] danielallen73 commented on #5354
Please can I get some urgent assistance.
Since moving to v1.3.1 of Composer I get the following issue when trying to publish.

"Error  - Required field accessToken is missing from publishing profile"

My redacted publishing profile as follows:
{
  "name": "REDACTED",
  "environment": "composer",
  "runtimeIdentifier": "win-x64",
  "settings": {
    "applicationInsights": {
      "InstrumentationKe

[2021-03-02 11:08] BeheraMadan opened #6080 "accessing qnamaker trace and fetching qnamaker answer received from qnamaker dialog using memory object"
Hi,

This is related to below query.

https://github.com/microsoft/BotFramework-Composer/issues/4926

We have some triggers(Intent Recognized) and an 'unknown intent'(none) trigger. If no intent is matched it will go to unknown intent trigger and in that unknown intent trigger we are using Qnamaker dialog action to connect to Qna knowledge base as shown in below screen shot.
![image](https://user-

[2021-03-02 11:20] danielallen73 opened #6081 "Error - Required field accessToken is missing from publishing profile"
Please can I get some urgent assistance.
Since moving to v1.3.1 of Composer I get the following issue when trying to publish.

"Error - Required field accessToken is missing from publishing profile"

My redacted publishing profile as follows:
{
"name": "REDACTED",
"environment": "composer",
"runtimeIdentifier": "win-x64",
"settings": {
"applicationInsights": {
"InstrumentationKey": ""
},
"cosmosDb

[2021-03-02 11:24] hsachinraj opened #6082 "Conversation not logging in CosmosDB"
I am a newbie using the Bot Composer. I am trying to log conversation of the bot in CosmosDB. Here is how I have setup the CosmosDB settings in the Bot Composer Publish Profile:

[code]

I ran the bot in both local emulator and on Web chat from the Azure Portal. But no conversation is getting captured in comosDB. Are there any additional steps that needs to be done to achieve this? is there docume

[2021-03-02 11:39] danielallen73 opened #6083 "Bot composer always prompts for LUIS and QnA keys even though they exists"
Hello,

Apologies not sure if this already exists as I couldn't find an entry.

![image](https://user-images.githubusercontent.com/61698055/109643084-ab33e280-7b4b-11eb-9488-5b383e15f6e2.png)

Bot Composer v1.3.1

If I edit with a trailing space and remove again, this resolves.

[2021-03-02 11:43] danielallen73 commented on #5354
Apologies but I have since raised the above as #6081

[2021-03-02 11:44] danielallen73 commented on #6081
I am trying to follow debug advise in #5436

[2021-03-02 12:12] hibrenda commented on #5899
Actually I hit this before. no matter the publish target (even for webapp), I got the error but publish process is success

[2021-03-02 12:24] danielallen73 commented on #6081
I have now resolved the above following the advice in 5436.
Happy for this to be closed.
Thanks

[2021-03-02 12:24] #6081 closed

[2021-03-02 13:01] #5900 closed

[2021-03-02 13:03] #5773 closed

[2021-03-02 14:31] gabog commented on #5762
Hi @srinaath, @cwhitten and @garypretty, I think this issue is pretty serious, users won't be able to deploy bots to any region outside the 3 main LUIS authoring regions. Can we see if we can fix this in the upcoming release?

Let me know if you need more details.

[2021-03-02 14:37] Quirinevwm commented on #6013
Guidance here was to make sure there is some route to documentation from either LG editor/emulator in Composer too, to explain what you need to think of for setting up speech experiences (indeed not just DLS/telephony, they are great ways to start). Especially is you have not done so in creation/channel enablement... Since in Composer you will be able to test in the product, and if you do have spe

[2021-03-02 14:59] Dewain27 opened #6084 "Getting Started - Bot Info exceeds its cell width in UI"
## Describe the bug

The Bot Info if text exceeds the length of the cell for the Bot Name and file location does not stay within cell boundries.

![image](https://user-images.githubusercontent.com/18688053/109666796-250ca180-7b35-11eb-9336-aadf05935367.png)

## Version

![image](https://user-images.githubusercontent.com/18688053/109666891-3d7cbc00-7b35-11eb-8dcb-f02af2d23dfc.png)

## Browser

- [X

[2021-03-02 15:06] Dewain27 opened #6085 "On smaller resolution screens the Getting Started Experience takes most of the Canvas"
## Describe the bug

When using a screen size like 1080p you will be presented the Getting Started on the Bot Settings page.  There is no way to collapse and/or scroll the area that has bot info / Next steps / Guides and References. making a very small area to perform bot settings.  It should either be collapsible by the user and/or scrollable to allow for better use of the screen.

## Version

![

[2021-03-02 15:14] Dewain27 opened #6086 "Back button on Configure Resources does not keep entered information"
## Describe the bug

When creating a publishing profile, when on the Configure Resource page of the publishing profile and you hit the back button it does not retain the information you entered on the prior screen.

## Version

![image](https://user-images.githubusercontent.com/18688053/109669221-8766a180-7b37-11eb-9564-838dd66cc9b7.png)

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ]

[2021-03-02 16:44] benbrown commented on #5836
This was fixed.

[2021-03-02 16:44] #5836 closed

[2021-03-02 16:48] benbrown opened #6087 "bug: publish profile json editor cropped in "Review" screen"
## Describe the bug

The JSON editor that is displayed in the modal if a user has already provisioned all available resources is slightly cropped at the bottom, preventing the user from seeing the entire JSON file.

![Screen Shot 2021-03-02 at 10 44 55 AM](https://user-images.githubusercontent.com/729873/109683212-c0594300-7b44-11eb-8933-234ba815e990.png)

## Version

nightly

## To Reproduce

1.

[2021-03-02 16:49] benbrown commented on #5904
this is fixed.

[2021-03-02 16:49] #5904 closed

[2021-03-02 16:49] benbrown commented on #5960
this has been fixed.

[2021-03-02 16:49] #5960 closed

[2021-03-02 16:56] dmvtech commented on #5448
Closing as resolved. Thank you @ysnoek2 for the update.

[2021-03-02 16:56] #5448 closed

[2021-03-02 17:06] benbrown commented on #6084
here's a shot in action

![F2P16JUHVR](https://user-images.githubusercontent.com/729873/109685881-4f675a80-7b47-11eb-98a1-acf4f8255d79.gif)

[2021-03-02 17:10] #5820 closed

[2021-03-02 17:10] benbrown commented on #6085
![F2P16JUHVR](https://user-images.githubusercontent.com/729873/109686498-f3e99c80-7b47-11eb-9822-9cd7d133c823.gif)

[2021-03-02 17:22] dmvtech commented on #6082
Hi @hsachinraj

A few things:

- CosmosDB will be for the _state_ store. Where bot memory gets stored/updated/etc. You won't see any 'conversations' saved there. Not transcripts. You will see some items that store the state of the conversation.
- I'm guessing you're not even seeing anything in the state store because your partition key is incorrect. It should be `/id`
- Blob storage is for the tra

[2021-03-02 17:32] cwhitten commented on #6047
hello @iMicknl - this is on our short-term roadmap as new functionality as part of the integration. You should see this soon in an upcoming release

[2021-03-02 17:33] cwhitten commented on #6048
Hi @iMicknl. Thanks for the feature request. We'll bring this up with PVA, however we have no plans or roadmap to support this at the moment.

[2021-03-02 17:38] cwhitten commented on #6051
Hello @iMicknl - we'll investigate where authoring support is at for this type.

@sangwoohaan do you recall previous discussions about these actions and how to author imBack and the like? We can connect offline.

[2021-03-02 17:43] cwhitten commented on #6080
Hi @BeheraMadan - Composer doesn't support the expressive scenarios you are looking for using QnAMaker when called with an Action like you have implemented. To achieve these scenarios we recommend authoring the knowledgebase in Composer and publishing to QnA.

[2021-03-02 17:43] #6080 closed

[2021-03-02 17:44] cwhitten commented on #6083
Hi @danielallen73 the team will look to reproduce this issue and report back. Thanks!

[2021-03-02 17:52] cwhitten commented on #5762
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/5827

[2021-03-02 17:52] #5762 closed

[2021-03-02 17:52] garypretty commented on #6013
@Quirinevwm you can't test speech in Composer today - this is something you still need emulator for. Medium / long term we hope to change this, but there are technical hurdles in the way right now. I agree on the route to docs and the way I think we should surface that initially is via the article that the Learn More link points to on the Send Activity action. These articles are being updated base

[2021-03-02 17:52] #6013 closed

[2021-03-02 17:55] stevkan commented on #5885
Closing due to lack of activity.

[2021-03-02 17:55] #5885 closed

[2021-03-02 17:55] garypretty commented on #6085
Small experience point of view from me on the above - at least today (I know we have other aspirations for the future) the information shown above is relevant for less experienced developers.  If I am a regular user of Composer and this is always shown in it's expanded form, then I am likely to get frustrated that it is in my way when I am trying to get to my settings.  We should consider allowing

[2021-03-02 18:02] 17xande commented on #5393
Clever work around. This worked for me to for now.

[2021-03-02 18:13] v-kydela commented on #6006
@BeheraMadan - Thanks for the information. As of now it’s not possible to avoid chit-chat suggestions in active learning, but the feature request has been forwarded to the QnA Maker team. In the future, it may be a good idea to ask you QnA Maker questions on Stack Overflow or reach out to the QnA Maker team instead of the Composer team. I'll close this issue now.

[2021-03-02 18:13] #6006 closed

[2021-03-02 18:47] tonyanziano commented on #5985
I can reproduce this locally. It looks like there was a regression, and it might be due to the new extension build updates. Investigating.

[2021-03-02 20:05] #5985 closed

[2021-03-02 21:03] srinaath opened #6093 "LU Build environment default"
## Describe the bug
Referencing issue here https://github.com/microsoft/BotFramework-Composer/issues/5448

<img width="404" alt="Screen Shot 2021-03-02 at 12 26 55 PM" src="https://user-images.githubusercontent.com/13004779/109714263-09b28e00-7b57-11eb-8669-2a8628e1ce2d.png">

The older runtime templates include the environment value set to "composer" by default.

A decision needs to be made to ad

[2021-03-02 21:04] #6022 closed

[2021-03-02 21:49] srinaath commented on #6093
Closing this ticket as a fix was made here 

[bug: Update luis:environment setting value to 'composer' by peterinnesmsft · Pull Request #669 · microsoft/botframework-components (github.com)](https://github.com/microsoft/botframework-components/pull/669)

[2021-03-02 21:49] #6093 closed

[2021-03-02 21:50] thomas-chung opened #6094 "Project Settings Page Advanced JSON View is Cropped with new task bar on top"
## Describe the bug

Now with a task/help bar at the top of the Project Settings page the rest of the advanced json view is cropped

## Version

                Bot Framework Composer

                Version:  1.3.1-nightly.218992.794e78c
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

## Browser

- [

[2021-03-02 22:16] #6033 closed

[2021-03-02 22:17] Dewain27 opened #6095 "Check boxes not showing next to be installed items in Required"
## Describe the bug

Check boxes in Resource selection screen for publishing profile should indicate that it will be installed.  Required resources should show as checked and you should not be able to unselect them.

## Version

![image](https://user-images.githubusercontent.com/18688053/109722456-52c40b80-7b72-11eb-9934-78d73fa0cebd.png)

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ]

[2021-03-02 22:27] #6073 closed

[2021-03-02 22:27] #5968 closed

[2021-03-02 22:27] chrimc62 opened #6096 "LG export is not useful"
## Describe the bug

You can export LG templates using the Exports/namespace syntax like this:
[code]
The reason you do this is to prevent template name collision, but the current implementation does not prevent that collision. I can call this template as either `foo()` or `blah.foo()`, but I cannot define a different template `foo` in another file.

## Version
![image](https://user-images.githubu

[2021-03-02 22:41] rflores0905 commented on #5773
Hello, was the issue resolved?

[2021-03-02 22:53] Dewain27 opened #6097 "NPM and Node.js not installed needs to prompt you to install Node.js and NPM"
## Problem

Currently, Composer doesn't tell the user during install to install NPM.  We need a way to communicate and/or install Node.js and NPM as part of Composer.

## Describe the solution you'd like

When Composer installs or runs the first time, that it looks for NPM and Node.js and if not installed it installs it kicks off the install for the user.

## Describe alternatives you've considere

[2021-03-02 23:00] pavolum opened #6098 "App goes into unresponsive mode during new creation 'npm install' and 'dialog merge' portions of the creation flow"
## Describe the bug

The app becomes unresponsive for a short period when you create a new bot in the new creation flow during the template installation phase as well as the dialog merge phase.

This is likely caused by those portions being run within the app process as opposed to externally in a separately spawned process as, for example, is done with the `dotnet build` commands.

## Version, bro

[2021-03-02 23:04] pavolum opened #6099 "Update loading spinner text in new creation to be more granular"
## Overview

The creation time for new bots in Composer can range anywhere from 30 seconds to 1.5 minutes. The loading spinner incrementally updates the user on the process of the creation flow.

Initially it says 'loading' when it should be more granular. It should instead say 'installing template' and 'instantiating template' during the respective phases of the creation flow.

[2021-03-02 23:23] pavolum opened #6100 "Add node dependency to composer installation requirements for new creation feature flagged feauture"
## Is your feature request related to a problem? Please describe.

If the user does not have node downloaded on their machine then the new creation flow will fail due to its dependency on yeomen. At current state Composer will run fine if the user does not have yeomen however when they turn on the feature flag for new creation and try to create a template they will receive an error.

## Describe t

[2021-03-02 23:26] pavolum commented on #6097
Other alternatives to consider and see if possible:
- piggybacking on the node version used by the electron app itself for node processes
- Installing node as part of the Composer installation (may not work with mac as there is no installer in mac)
- Adding documentation that the user needs to manually install node as they need to manually install dotnet prior to installing Composer

[2021-03-02 23:37] pavolum opened #6101 "Remove runtime selection in new creation flow"
## Overview

new creation flow allows users to select from azure web app or azure functions. This has not yet been fully implemented and is decided to not be part of the R12 release. The UI needs to be removed while the plumbing that passes that info to the generated left untouched as that code will be needed when we work on this feature in R13

[2021-03-03 00:02] #5584 closed

[2021-03-03 00:02] #5907 closed

[2021-03-03 00:15] JonathanFingold opened #6102 "Make publishing/provisioning a bot less painful"
## Is your feature request related to a problem? Please describe.

I hit a provision failure when trying to publish my bot. Now I need to start the publish process from scratch, instead of just being able to fix the one value that caused the issue. Very frustrating.

## Describe the solution you'd like

I'd like to not lose all the work I put into filling in the original publishing profile. I'd ra

[2021-03-03 00:46] hsachinraj commented on #6082
Thanks @dmvtech for the clarification.  I am still unable to get any data captured in the Blob or DB. Here are things I did
-  deleted and created a new DB with the correct partition key (/id).
-  Created a containers "transcripts" in the blob storage.

I have ensured the Blob storage connection strings and cosmos DB key, endpoint settings are correct. I republished the Bot and tried it from the W

[2021-03-03 00:50] #5997 closed

[2021-03-03 00:55] boydc2014 commented on #5986
@sangwoohaan can you comment on the UX, whether we want to make bot start cancelable or make bot start not blocking UI

[2021-03-03 00:55] boydc2014 commented on #5993
dup to #5986

[2021-03-03 00:57] yeze322 commented on #6014
There are two problems in this screenshot:
1. A too long Trigger dropdown menu - We've planned a new Trigger Wizard in the next Sprint, in R12, Teams will still be a preview feature so the menu was not crafted.
2. Menu label is missing - This is because Teams actions' uischema are not fully added, there is a PR for fixing that https://github.com/microsoft/BotFramework-Composer/pull/5710

[2021-03-03 01:00] #5861 closed

[2021-03-03 01:00] #6025 closed

[2021-03-03 01:00] #6027 closed

[2021-03-03 01:00] #6101 closed

[2021-03-03 01:01] yeze322 opened #6103 "New Trigger Wizard"
## Describe the solution you'd like
References - #6014
![image](https://user-images.githubusercontent.com/8528761/109739076-fb6e7b80-7c03-11eb-9bbf-4fe2735d2f18.png)
https://www.figma.com/file/deFhMPBnRWxTYiYDYqYxrc/Composer---Vivek?node-id=9743%3A0

## Describe alternatives you've considered

## Additional context

[2021-03-03 01:10] sangwoohaan commented on #5986
Is possible / okay to abort the bot starting process? If that's so I can take a look into this.

[2021-03-03 01:40] yeze322 commented on #5752
As a team wise decision, remove it from R12 scope

[2021-03-03 01:42] yeze322 commented on #6103
@vivekkshankar after the design is finalized, you can then assign it back to me

[2021-03-03 01:49] yeze322 commented on #2010
It's still a nice-to-have feature but not urgent, assign back to myself for better prioritization.

[2021-03-03 02:00] boydc2014 commented on #6096
Agreed from the perspective of preventing naming conflicts.  Exports + namespaces was introduced to bridge LG sub system to actions beyond SendActivity, by extending adaptive expression functions with LG templates.

Now, given the LG-Dialogs store is going to be we want to make sure LG templates generally available in any actions without having to do any exports, namespaces, making everyone's life

[2021-03-03 04:53] dmvtech commented on #5784
Hi @pedro-ramirez-suarez I tested by trying to do the same thing (creating an account that I then removed and re-added), but was unable to reproduce this.

Are you able to create a new bot and new publishing profile and log in successfully with that?

If so, can you try creating a new publishing profile on the existing bot and try?

[2021-03-03 05:25] clearab opened #6126 "Cleanup feature flag"
The feature flag needs to be reworked to

Name:
The Component Model

Description:
Enable the Component Model including the new creation experience, the Adaptive Runtime, and Package Manager. [Learn More](https://github.com/microsoft/botframework-components).

[2021-03-03 06:19] zxyanliu commented on #6102
You should use the stable version of Composer.
https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.3.1

[2021-03-03 06:19] JohnRobertGreen opened #6106 "Sentiment analysis"
How do I configure sentiment analysis for LUIS from settings in Composer?

I have enabled sentiment analysis when publishing from LUIS and I can see sentiment being returned when testing from the emulator. When I publish and use webchat there is no sentiment returned from LUIS. Both published bot and emulator should be using the same prediction endpoint.

[2021-03-03 07:13] clearab opened #6108 "Header is broken when Composer is resized."
At the exteme end of the spectrum it looks like this:

![image](https://user-images.githubusercontent.com/1139814/109767679-c2ef8300-7bac-11eb-87c5-c402e1cf97c8.png)

At a medium width (typical if docking two windows side-by-side)

![image](https://user-images.githubusercontent.com/1139814/109767759-e286ab80-7bac-11eb-978d-4ce8fde17ab3.png)

[2021-03-03 07:25] clearab opened #6321 "Custom Runtime section still in settings menu"
A bot created with the new creation flow does not need this section, and it is very confusing for it to be in the bot settings menu still. This should either be removed or disabled when the component model feature flag is enabled.

[2021-03-03 08:56] BeheraMadan opened #6109 "'QnAMaker Dialog' action component vs QnAMaker GenerateAnswer API"
Hi,

we can configure Qnamaker in composer bot by using 'QnAMaker Dialog' action component(https://docs.microsoft.com/en-us/composer/how-to-add-qna-to-bot) or by using QnAMaker  GenerateAnswer API(https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/metadata-generateanswer-usage?tabs=v1).

When we use API call we are able to trace the Qna Parameters such as qna confidence scor

[2021-03-03 08:58] luhan2017 commented on #6102
@zidaneymar, please help investigate how we get the available region list.

[2021-03-03 09:02] hsachinraj commented on #6082
One more thing, in this [Docs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp#using-blob-storage) , the instruction is to put the connection string in the Blob storage settings. But I noticed when I provision a new profile from Composer, the connection string section for Blob contains the Key (and not the connection string its

[2021-03-03 13:00] Rekeyea opened #6113 "Cannot Start Bot"
## Describe the bug

Cannot start bot. It fails with the following message:

`{"stack":"Error: spawn C:\\Windows\\system32\\cmd.exe ENOENT\n at Process.ChildProcess._handle.onexit (internal/child_process.js:264:19)\n at onErrorNT (internal/child_process.js:456:16)\n at processTicksAndRejections (internal/process/task_queues.js:80:21)","message":"spawn C:\\Windows\\system32\\cmd.exe ENOENT","errno"

[2021-03-03 13:35] pedro-ramirez-suarez commented on #5784
I can't either create new a publish profile or publish to an existing profile, maybe the problem is on the authentication service not in composer?

[2021-03-03 13:54] iMicknl opened #6114 "Run PVA Composer bot locally during development"
## Is your feature request related to a problem? Please describe.

Currently the Power Virtual Agents composer bots are really hard to test. You can only test after publication, which is cumbersome since deployment can take a while. To overcome this I am currently working in a new 'normal' composer bot which I can test locally. Without having a local version, development of advanced dialogs is alm

[2021-03-03 14:12] iMicknl commented on #6051
Thanks! This is currently blocking us in a PVA scenario, where we use Composer to output a HeroCard with buttons. We would prefer a different postback/imback for the buttons, so we can easily trigger the right dialog.

If this is not supported yet, it would be good to change the [documentation](https://docs.microsoft.com/en-us/composer/how-to-send-cards) for now, and we would have a look at an Ada

[2021-03-03 14:20] Dewain27 opened #6115 "Getting Started Action Bar Disappears"
## Describe the bug

When you go to add the publishing profile and you are redirected to the Bot Settings page, the Action Bar for Getting Started disappears.

## Version

![image](https://user-images.githubusercontent.com/18688053/109818619-cad51480-7bf8-11eb-9f02-8eb0689032af.png)

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X

[2021-03-03 14:38] Dewain27 opened #6116 "Manage Connections button does nothing"
## Describe the bug

When you click the Manage Connections button on the Action Bar in Getting Started experience, nothing happens.

## Version

![image](https://user-images.githubusercontent.com/18688053/109821336-7d0ddb80-7bfb-11eb-9fcf-c4837350b0a8.png)

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

##

[2021-03-03 14:48] Dewain27 opened #6117 "Package Manager Interface delays in showing bot selection UI"
## Describe the bug

When using a multi-bot project and navigating to the package manager, there can be a long delay in getting the bot navigation to load and show in the UI.  There is no communication that it is still loading, it just pops up after about 30 seconds.

## Version

![image](https://user-images.githubusercontent.com/18688053/109822241-6451f580-7bfc-11eb-8f07-2ebf52cf7120.png)

## Bro

[2021-03-03 15:01] #5899 closed

[2021-03-03 16:01] benbrown commented on #6117
This is the same issue as the main nav - it takes a long time for calendar to load and appear in the application state.

We hide this nav if there is only 1 bot, and we don't know there are more than 1 bot until they load...

I think this will be solved by a redesign of the multi-bot nav and optimizations around loading.

[2021-03-03 16:02] benbrown commented on #6094
We are going to redesign that top bar to cause less issues!

This problem should be resolved by that redesign, unless otherwise noted!

[2021-03-03 16:05] benbrown commented on #6102
We have several improvements planned for R13 along the lines of what you've asked for @JonathanFingold

* An update will store any successfully created resources, and allow you to do a second pass on those that failed
* Additional updates to the error handling and messages available during and after the process so you can more easily determine where the problem occured

[2021-03-03 16:25] benbrown commented on #6116
Will be fixed by #6118!

[2021-03-03 16:47] carlosscastro opened #6119 "Cannot open composer, hangs on 'starting server'"
Tried uninstalling, reinstalling GA version, reinstalling nightly, and always end in the same: when I start composer the blue screen at the beginning stays there forever.

![image](https://user-images.githubusercontent.com/21318528/109840503-0b369180-7bfd-11eb-99a2-ec6b3bc8f550.png)

Any workarounds or suggestions on how to gather error information / logs? The same installers worked in other compu

[2021-03-03 16:50] carlosscastro opened #6120 "Composer not trusted app when uninstalling: Should appear as published by microsoft but it does not."
I installed composer for all users as administrator. Then uninstalled, and was prompted for admin approval however the app appeared as non-trusted, which points to some signing or cert issue.

REcommend testing the following scenarios in Windows:

1. Install for current user, verify that the app is trusted and published by microsoft
2. Install for all users, verify that the app is trusted and publ

[2021-03-03 17:17] EricDahlvang commented on #5397
Hi @Jenny0932

The DialogManager.ExpireAfter property can be to clear conversation state if the user's previous reply was greater than a certain time period:

https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs/DialogManager.cs#L173

[2021-03-03 17:25] dmvtech commented on #5784
It might be. If you have the [az cli tools](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) (or can install them), are you able to log in with the same creds?

`az login`

And to clarify; this is a Work/School account, not a personal MSA, correct?

[2021-03-03 17:51] dmvtech commented on #6050
Hi @afahmy11

- If you delete the publishing profile and try again does it still behave the same?
- What about with a new/simple echo bot?
- Are you publishing to existing resources or new ones?

[2021-03-03 18:07] stevkan commented on #6106
I'm looking into if and how this can be done. I will post an update as soon as I know more.

[2021-03-03 18:13] dmvtech commented on #6082
For composer, just the key.

Let's focus on the state first. Does it reproduce with another bot (Say the `Asking Questions` sample) _without_ a custom runtime? You don't have to publish your bot to use the state store in the cloud with a locally running bot in Composer. Just set the following settings in the advanced settings view in Composer:
[code]

[2021-03-03 18:13] taicchoumsft commented on #5630
dupe of #5704

[2021-03-03 18:13] #5630 closed

[2021-03-03 18:19] v-kydela commented on #5808
I will unassign myself so this can be triaged again

[2021-03-03 18:34] chrimc62 commented on #6096
I kind of like the combination of 1 (if you do export you have to use namespace) and 2 (specifying a namespace when you import).  Happy to chat when you look into it more.

[2021-03-03 18:50] chrimc62 opened #6122 "New LG template has awkward focus"
## Describe the bug

When you create a new template the focus is not on the template name.  Even when you select it, you need to manually delete the auto generated name.  Better would be if you focused on the template name with it selected so you could just start typing.  The awkwardness continues that when you hit enter or tab it does not go to the template value, but on to creating a new templat

[2021-03-03 18:55] chrimc62 opened #6123 "Why can't I setup default settings for services?"
## Describe the solution you'd like

Every time you create a bot that uses LUIS you need to reenter the key and region again.  It would be awesome if I could have a default set of values or at the least a history of previously entered values.  Even in demos you see people working around this by manually pasting in their key.  While it is true for a production bot you want to specify per-bot ones t

[2021-03-03 19:03] chrimc62 opened #6124 "Make setting up a default template faster"
## Is your feature request related to a problem? Please describe.

When you use the new creation experience it takes a long time to setup while it installs packages and merges schema.  This slows down experimentation with the different bot templates.  For example creating an empty bot takes 2.5 minutes on my machine.

## Describe the solution you'd like

For it to be faster. :-)   I can imagine a

[2021-03-03 19:08] munozemilio commented on #5611
Closing due to inactivity. Feel free to reopen if needed

[2021-03-03 19:08] #5611 closed

[2021-03-03 19:10] chrimc62 opened #6125 "More complex templates are too intimidating"
## Is your feature request related to a problem? Please describe.

When you try out the Calendar skill after it installs everything you are faced with this page.
![image](https://user-images.githubusercontent.com/17637681/109858271-7473d000-7c10-11eb-8fe6-d9b49948f20c.png)
This requires me to understand and setup a bunch of services.  I suspect the top will eventually have step by step directions,

[2021-03-03 19:14] dinobrago commented on #4211
I also have this issue working in Composer 1.3. I have a working bot. When I deleted a trigger, I could no longer start the bot locally getting the error Luis build failed: Cannot read property 'utterances' of undefined. How do I track this down and resolve the issue? It clearly stems from deleting a trigger.

[2021-03-03 19:26] benbrown opened #6127 "bug: eject runtime option should be hidden for new creation flow"
## Describe the bug

We should hide the option to eject the runtime when the new creation flow is enabled, as it is not relevant to new runtimes.

[2021-03-03 19:52] mdrichardson opened #6128 "bug: Audio Cards don't work in new "Open Web Chat" feature"
## Describe the bug

When using the new/preview "Open Web Chat" feature, audio cards throw an error as soon as the card is rendered.

Note: This worked fine if I tested directly in Emulator.

## Version

1.3.1-nightly.219396.61c994a

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to r

[2021-03-03 20:03] mdrichardson opened #6129 "feat: Restarting bot should clear Web Chat?"
1. Chat with bot in integrated Web Chat
2. Restart the bot
3. Re-open the integrated Web Chat and your previous conversation will still be there

## Describe the solution you'd like

Clear the Web Chat history on bot restart.

## Describe alternatives you've considered

Keep things as-is. I personally understand what's going on and the behavior is expected. However, I could see this maybe confusin

[2021-03-03 20:04] scheyal opened #6130 "New creation restriction with special characters"
See image:
* Folder name is valid FS name, but restricted in Composer (used to have one)

![image](https://user-images.githubusercontent.com/8867670/109864835-2e226f00-7c18-11eb-9d97-3fd97d4a8f1a.png)

[2021-03-03 20:07] Dewain27 opened #6131 "Link for Delete Bot in Action Menu does not initiate the modal"
## Describe the bug

Currently, the link for Delete Bot in the Action Menu in Bot Settings does not launch the delete modal.

## Version

![image](https://user-images.githubusercontent.com/18688053/109865319-84e47480-7c29-11eb-98c5-3f8b158b7b81.png)

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Repr

[2021-03-03 20:08] scheyal opened #6132 "File Location text runs over other text in settings title"
See image. File Location path overwrite other text

![image](https://user-images.githubusercontent.com/8867670/109865611-15ff1f80-7c19-11eb-9604-14a06fd5e3b5.png)

[2021-03-03 20:11] Dewain27 commented on #6131
@emivers8 has asked that the modal look and behave this way as well...
![image](https://user-images.githubusercontent.com/18688053/109865926-4b603900-7c2a-11eb-8a6a-2bcfa6b84ad3.png)

[2021-03-03 20:14] beyackle opened #6133 "Webchat opens onto skill, not root bot"
## Describe the bug

Web chat opens onto skill, not root bot

## Version

1.3.1-nightly.219396

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1, Create a new bot (an empty one, in my sample)
2. Add a skill (I used the standard EchoBot)
3. Start the bots; b

[2021-03-03 20:16] scheyal opened #6134 "Orchestrator fails to install (after successfully installed in another bot)"
Scenario:
1. Create bot, install orchestrator, use orchestrator
2. Create a new bot, try to install orchestrator: no failure code but package do not show up.

See video clip

https://user-images.githubusercontent.com/8867670/109866460-249a0680-7c1a-11eb-92a9-f251ee986a49.mp4

[2021-03-03 20:18] JonathanFingold opened #6135 "Web Chat - after restart conversation, put the cursor in the input box"
## Is your feature request related to a problem? Please describe.

No, just related to an extra, annoying step.

## Describe the solution you'd like

After selecting **Restart Conversation - new user ID**, I'd like to just start typing, without having to move the cursor to the input box.

## Describe alternatives you've considered

I can't think of any, unless you add a configuration setting to Co

[2021-03-03 20:18] scheyal commented on #6134
Update. No packages install (not only Orchestrator)

[2021-03-03 20:23] benbrown opened #6136 "ui nitpick: the LG editor should expand so I can see my entire message."
## Describe the bug

It is quite awkward to edit long messages in the single row LG editor.

This should expand to show my entire message.

The text of the message is the life and breath of the bot application, it should be front and center.

[2021-03-03 20:23] benbrown commented on #6136
![Screen Shot 2021-03-03 at 2 22 06 PM](https://user-images.githubusercontent.com/729873/109867389-0b01ba80-7c2c-11eb-9572-28fa3d92ad45.png)

[2021-03-03 20:26] beyackle opened #6137 "Wrong predictive text options shown for turn.activity"
## Describe the bug

Autocomplete options are sometimes not helpful.

## Version

1.3.1-nightly.219396.61c944a

## To Reproduce

Steps to reproduce the behavior:

1. Open a Send a Response action
2. Add a new response to the LG file
3. Start typing a variable name (e.g. `turn.activity.text`)
4. Watch the autocomplete options; `activity` is correctly a field in `turn`, but then `text` is not found

[2021-03-03 20:34] iMicknl commented on #6136
Faced this myself as well today. As an addition, not just for text messages, but also for conditions. It is hard to write them in such a small textfield. Would be great if it could expand when open.

![image](https://user-images.githubusercontent.com/1424596/109868670-3904f000-7c68-11eb-9e43-fbb77085b983.png)

[2021-03-03 20:40] a-b-r-o-w-n commented on #6134
@scheyal are you only verifying this through the package manager UI? Have you checked to see if they do get installed but the UI doesn't update for some reason? It's possible they are getting installed to the last opened bot as well. Can you check there too?

[2021-03-03 20:40] benbrown opened #6138 "Luis warning appears every restart"
## Describe the bug

If spanish is set as a language, every restart of the bot pops up a warning that has to be dismissed.

## To Reproduce

Steps to reproduce the behavior:

1. Add spanish to a bot
2. start the bot

## Expected behavior

since this already exists as a warning in the warnings pane, i would not expect to see additional pop up warnings.

## Screenshots

![Screen Shot 2021-03-03 at 2

[2021-03-03 20:42] a-b-r-o-w-n commented on #6135
@JonathanFingold This is a good suggestion, but we would need to get some a11y feedback about this. @beyackle can you think of a reason we may not want to change the focus after starting a new conversation?

[2021-03-03 20:42] beyackle opened #6139 "Inconsistent line references between diagnostic section and sidebar"
## Describe the bug

The line numbering in the bottom panel is incorrect.

## Version

1.3.1-nightly.219396.61c944a

## To Reproduce

Steps to reproduce the behavior:

1. Introduce an LG error in a dialog somewhere
2. Open the bottom panel
3. Note the inconsistent line numbers

## Expected behavior

Line numbers should be the same when pointing to the same error.

## Screenshots

![image](https://

[2021-03-03 20:43] scheyal commented on #6134
Update: Issue has to do with path name. Logs show successful install but the UI is not showing the installed packages. Note this is package manager - NOT Orchestrator specific (same with calendar, welcome packages).

...experimental\orchestrator\Composer\SchoolNavigator2 --> Works
...experimental\orchestrator\Composer\01.school-skill-navigator(v1.4)  --> fails

note that we already have samples wi

[2021-03-03 20:46] a-b-r-o-w-n commented on #6130
I'm not sure why this restriction exists, but I do know it was deliberate. @boydc2014 do you recall?

[2021-03-03 20:52] a-b-r-o-w-n commented on #6119
@carlosscastro you can set the environment variable `DEBUG=composer*` and start the app from the command line.

[2021-03-03 20:53] JonathanFingold opened #6140 "Bot Responses LG editor should let you use line breaks for multi-line responses"
## Is your feature request related to a problem? Please describe.

I'm trying to fix a multi-line template:
- The default has the code hidden.
- When I select a response, the cursor appear where I clicked in the template.
- When I try to enter a return, the pane decides I'm done editing the response.
- Error: I'm surprised and annoyed the first few times this happens.

## Describe the solution you

[2021-03-03 20:55] a-b-r-o-w-n commented on #6130
duplicate of #6070

[2021-03-03 20:55] #6130 closed

[2021-03-03 21:06] xiyangdesign opened #6142 "Getting started experience UI issues"
## Describe the bug

## Version

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## Issues

1. UI is not right if file location is long (see below)
<img width="799" alt="image" src="https://user-images.githubusercontent.com/74994573/109870954-8872fe00-7c1f-11eb-9c5b-b73437d6f091.png">

2. After click "add a

[2021-03-03 21:08] JonathanFingold opened #6143 "Bot Responses - add ability to accordion for longer multi-line templates in the non-code view"
## Is your feature request related to a problem? Please describe.

It's hard to visually parse longer multi-line templates when you only see three lines at a time.

## Describe the solution you'd like

Either automatically resize the entry for the response up to some reasonable limit (perhaps 7-10 lines), or add a handle so the user can resize it on their own.

## Describe alternatives you've cons

[2021-03-03 21:08] xiyangdesign opened #6144 "Package install error"
## Describe the bug

## Version

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a new bot using "empty" template
2. Go to 'getting started page'
3. Click on 'add package'
4. Click on 'Bot.Builder.Community.Components.CallDialogs', then 'install'
5

[2021-03-03 21:08] benbrown opened #6145 "new activities should always have a single response line available"
![Screen Shot 2021-03-03 at 3 06 38 PM](https://user-images.githubusercontent.com/729873/109872498-1eb01f80-7c32-11eb-9ce8-88ef650e29f3.png)

if i add a sendactivity or any other type of action that has an LG field, there should always be a text field available by default.

Requiring the user to click "Add a new variation" first seems wrong.

[2021-03-03 21:15] beyackle opened #6146 "Incorrect autocomplete options inside adaptive card"
## Version

1.3.1-nightly.219396.61c944a

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to a Send a Response action
2. Start writing a new response in the code editor, starting with `[AdaptiveCard`, and notice how it helpfully brings up slots for tit

[2021-03-03 21:18] benbrown commented on #6144
I believe this is due to an old value in your .composer/extension-data/package-manager.json file. Removing this file and trying again should resolve it.

[2021-03-03 21:18] benbrown commented on #6138
This also happens with the orchestrator language model popup.

[2021-03-03 21:19] xiyangdesign opened #6147 "Show text editor (to add new variation) by default?"
## Version

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## Expected behavior

Steps to reproduce the behavior:

1. Go to 'LG response editor'
2. Click on 'add new variation'
3. The editor shows up, then I was able to add the variation - would it be possible to show the editor by default?

## Screenshots

[2021-03-03 21:22] daveta opened #6148 "Package Manager error on Calendar Assistant"
## Describe the bug
Clicking on Package Manager for calendar bot (installed with Calendar Assistant) fails.

## Version

`1.3.1-nightly.219396.61c944a`

## Browser

- [X] Electron distribution

## OS
- [X] Windows

## To Reproduce

Steps to reproduce the behavior:

- Installed "Calendar Assistant" in Setup.
- After some time, I landed on some page prompting for LUIS keys.  I exited out of that (we

[2021-03-03 21:23] xiyangdesign commented on #6144
Thanks. was able to install the package. Although it's not showing in the dialog tree. I assume it takes some time? if so, could we let user know in the UI? (something like: it takes a few minutes to show up?)

Correct me if I'm wrong. It's just that, after the installation, the user doesn't see the changes and don't know where and how to use the package:-)

[2021-03-03 21:26] JonathanFingold opened #6149 "Web Chat (or more fundimental) error after changing an LG template"
## Describe the bug

After changing the template and restarting the bot, the bot is responding with the previous version of the template.

## Version

                Version:  1.3.1-nightly.219396.61c944a
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chr

[2021-03-03 21:37] benbrown opened #6150 "bug: learn more link in adapter config popup needs to open in new window"
## Describe the bug

The learn more links at the bottom fo the adapter config popups need to open in a new window, otherwise they will end up trapped inside the electron shell.

![Screen Shot 2021-03-03 at 3 36 19 PM](https://user-images.githubusercontent.com/729873/109875706-66d14100-7c36-11eb-82a5-9b4b51ba7a3e.png)

[2021-03-03 21:40] benbrown opened #6151 "bug: link to package manager refers to it as "Package Settings" , weird case"
## Describe the bug

![Screen Shot 2021-03-03 at 3 39 18 PM](https://user-images.githubusercontent.com/729873/109875908-ae57cd00-7c36-11eb-8be3-2705a8b6f621.png)

This should probably say "Install more adapters in package manager."

[2021-03-03 21:42] emivers8 commented on #6131
And actually, missed just a bit of copy on my first pass--

![image](https://user-images.githubusercontent.com/55601267/109876141-413c3b80-7c26-11eb-800d-dbc4074df590.png)

[2021-03-03 21:54] srinaath commented on #6083
@danielallen73 I was trying this scenario on 1.3 Composer. It seems to work fine. These were the steps I tried.

1.  Create a new bot with the template Todo with LUIS
2.  Composer prompts for the LUIS key the first time. I entered it and the LUIS region.
3.  The error indicator does not appear now
4.  Restart Composer app
5.  Open the bot again. I dont see the error indicator.

Are these good step

[2021-03-03 21:55] sgellock opened #6152 "Composer built bot with adaptive card greet does not show the card when embedded WebChat is launched"
## Describe the bug
I think I understand why this is, though the behavior isn't what I believe the user would expect.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Launch Composer
2. Open a bot that has a greeting and that greeting sends an

[2021-03-03 22:02] WashingtonKayaker opened #6153 "The "Fail to save bot" msg: "If this problem persists, please file an issue onGitHub" drk blue on black contrast, hard to see the "onGitHub" link text."
## Describe the bug

In one sense, this is a minor fit and finish bug, but it is also an [Accessibility issue](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html), which makes it worth fixing.

The "_Fail to save bot_" error msg contains the following text:

The "onGitHub" link text is dark blue, and it is on a black background, this contrast makes it impossible for man

[2021-03-03 22:06] beyackle opened #6154 "Visual glitch: wrong background for new Bot Settings header notification"
## Version

1.3.1-nightly.219396.61c944a

## To Reproduce

Steps to reproduce the behavior:

1. Go to the new bot settings page while a notification is active (with a ⚠ or 🛑 icon)

## Expected behavior

The notification icon/number should get the same "dark mode" treatment as the rest of that new header block and toolbar.

## Screenshots

![image](https://user-images.githubusercontent.com/61990921

[2021-03-03 22:09] tsuwandy opened #6155 "can't really see the error/warning"
## Describe the bug
Created new bot using the Calendar assistant template.  Once it's loaded, I see the 2 errors and 1 warning BUT it's not possible to see what those errors and warning are due to the section in the UX, see screenshot.  From previous experience using Composer, I know that it's missing LUIS key but it'd be much more helpful to be able to see the errors and warning.

## Version
v 1.

[2021-03-03 22:09] gabog opened #6156 "Clicking on a link in the readme for a template opens the page in composer"
## Describe the bug
Clicking on a link in the readme section of the Select a template dialog opens the page in full screen and couldn't find a way of getting back to composer.

## Version
1.3.1-nightly.219396.61c944a

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the beh

[2021-03-03 22:14] srinaath commented on #6133
@beyackle This is by design for R12. We explored the option but it required more sophisticated UI with multiple tabs in the webchat pane each tab corresponding to a conversation id that could be tied to root bot or skill. This is definitely on the cards once we implement the popout pane for webchat control.

[2021-03-03 22:16] JonathanFingold opened #6157 "Form editor: tool tip within property reference menu is not helpful (repeats the name of the property)"
## Describe the bug

The hover text (tool tip) for property should be helpful, and not just repeat the name of the element over which I'm hovering.

## Version

                Version:  1.3.1-nightly.219396.61c944a
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution

[2021-03-03 22:28] lauren-mills opened #6158 "Provision & Publish: Can't change service tiers for resources"
## Describe the bug
When provisioning new resources, it doesn't let you change the tiers at all which seems like it should be supported. It might be nice to allow people to include their own ARM templates as an advanced option or something.

[2021-03-03 22:31] lauren-mills opened #6159 "Provision & Publish: When the provisioning fails, should provide a 'try again' path"
## Describe the solution you'd like
When provisioning fails (in my case because I had too many app registrations) it would be nice if the window where I set all the properties and names up popped back up to allow me to try again. Right now, when it fails I have to start all the way over which is frustrating.

Also, it points me to the log file, but it would be helpful if I could click the file pat

[2021-03-03 22:32] gabog opened #6160 "Exception thrown when trying to use the date function"
## Describe the bug

The bot throws an exception when trying to render the current date using the date function.

## Version
![image](https://user-images.githubusercontent.com/12264946/109881316-15c94900-7c46-11eb-9bbf-900bc1d22478.png)
## Repro

1. On any bot, add a Send a response task
2. Set the text to `Today is ${date(timestamp)}`
![image](https://user-images.githubusercontent.com/12264946/10

[2021-03-03 22:32] benbrown commented on #6156
@pavolum  we may need to do a clever rewrite on links in the markdown to include a target... or somehow otherwise catch links in this area and redirect them.

[2021-03-03 22:44] mewa1024 opened #6161 "Links from project settings page are slow to load (slower than using Composer's main menu)"
The "Next Steps" links at the top of the project settings page are slow to load and are slower than navigating to the page with Composer's main menu.

## Version

Version:  1.3.1-nightly.219396.61c944a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] W

[2021-03-03 22:49] lauren-mills opened #6162 "Publish & Provision: Option to populate App Id/Pw and LUIS keys from the provisioned resources"
## Describe the solution you'd like
When I'm starting with a template that requires LUIS and auth, I need to provision resources before I can run the bot. When I provision the app id and luis resources I may want those to be used as the primary settings in appsettings so a checkbox to copy those values over would help me get up and running faster

[2021-03-03 23:02] lauren-mills opened #6163 "Provision & Publish: The app created for the bot does not have the reply url configured"
## Is your feature request related to a problem? Please describe.
The default ms app created for the bot should have the reply url and set by default to make things easier when users try to set up authentication.

https://token.botframework.com/.auth/web/redirect

[2021-03-03 23:05] lauren-mills commented on #4226
Added the bugbash label since this is still an open issue

[2021-03-03 23:09] tsuwandy opened #6164 "Failed to start C# Calendar_assistant bot (created from calendar template)"
## Describe the bug

Looking at package manager, Microsoft.Bot.Components.Orchestrator not installed.  When trying to install from package manager, it failed.  Errors from trying to manually install from bot folder:

c:\Users\tiens\Downloads\calendar_assistant\calendar_assistant\runtime\azurewebapp>dotnet add package "Microsoft.Bot.Components.Orchestrator" --version="1.0.0-preview.20210226.87f28fe

[2021-03-03 23:14] WashingtonKayaker opened #6165 "Minor issues with the warning that appears when switching from the code editor to the response editor with changes."
## Describe the bug

Minor issues with the warning that appears when switching from the code editor to the response editor with changes.

## Version

1.3.1-nightly.219396.61c944a

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a prompt for text ac

[2021-03-03 23:18] anusharavindrar commented on #5759
@UmaPrelude, can you try testing without using custom runtime? Also, can you try creating a new copy of the runtime and give it a go?

[2021-03-03 23:22] Dewain27 opened #6166 "Provision of Speech Service should happen as part of the Connection Activation"
## Issue

When you are enabling the Speech Channel, it requires that you have provisioned a Speech Service ahead of the enablement.

## Describe the solution you'd like

The flip of the switch in the Composer UI should provision the Speech Service ahead of the process of enabling the channel.  This should be done by asking the publishing profile and verifying if the profile already has a speech se

[2021-03-03 23:23] Dewain27 commented on #6166
@emivers8 we will need to get the process mocked up to make sure that the development team has the right UX for this experience and it needs to align to the new UX for Connections.

[2021-03-03 23:46] beyackle opened #6167 "Orchestrator trigger docs link goes to LU page"
## Describe the bug

The documentation in the editor pane leads to the LU file docs, even when we're editing an Orchestrator recognizer that uses different syntax.

## Version

1.3.1-nightly.219296.61c944a

## To Reproduce

Steps to reproduce the behavior:

1. Make a new bot
2. Install the Orchestrator plugin
3. Create a new "Intent recognized" trigger
4. Write invalid syntax into the editor

## E

[2021-03-04 00:35] mareekuh opened #6168 "Multiple choice"
in a flow, Add a question > multiple choice > edit properties

In the 'user input' tab, choose 'List' in the dropdown for list style
Notice that dropdown arrow disappears - you can still click to get the dropdown but it doesn't show

![Screen Shot 2021-03-03 at 4 32 29 PM](https://user-images.githubusercontent.com/48503434/109891594-31305600-7c3e-11eb-98bc-9a44d01e7390.png)

[2021-03-04 00:35] sgellock opened #6169 "UX feedback: Publishing profile creation should be presented at the the same prominence as delete bot"
## Describe the bug
I logged this as a bug.  I recognize this is more feedback than faulty behavior.  And there may be design guidelines that are driving this.  This is also a P2, at best.

Bot mgmt and config page I would assert it's more important for Adding a new publishing profile to be displayed with more prominence or at least with equal prominence to the Delete bot button.  I could be easil

[2021-03-04 00:36] beyackle opened #6170 "Publish Configure resources modal apparently hangs on failed login"
## Version

1.3.1-nightly.219396.61c944a

## To Reproduce

Steps to reproduce the behavior:

1. Go to the bot settings page
2. Add a new publishing profile
3. Fill in a name and type, and hit "Next"
3. Close the sign-in modal that appears
4. See the spinner keep going
5. You can also try selecting Import and then Create again; instead of letting the user try to log in again, there's just the spinn

[2021-03-04 00:45] hsachinraj commented on #6082
@dmvtech , Okay it works with another bot (QnA Sample) perefctly. Both the state and the transcripts are saved in CosmosDB and Storage respectively. So, looks like it is the custom runtime (Node). Is this a bug or do I need to implement any additional steps?

Also, btw, the connection string for the blob storage did not work with just the key alone. I received an error _"unable to get a value for

[2021-03-04 00:47] sgellock opened #6171 "Configure resources panel of the Creating a publishing profile flow shows loading spinner"
## Describe the bug
When create a publish profile for a bot project that doesn't yet have one, the Configure resources panel shows a loading spinner indefinitely.

## Version
1.3.x for R12 bug bash

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [X ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open a b

[2021-03-04 00:54] sgellock opened #6172 "Add publishing profile panels do not remember state"
## Describe the bug
When I work my way through the Add publishing profile "wizard", bot name and publishing targets selection on the first screen are lost if I nav to the Configure resoruc3s screen, then click the Back button.

## Version
1.3.x R12 Bug Bash

## Browser
- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## T

[2021-03-04 01:00] mareekuh opened #6173 "LG template auto-created ID name does not sync"
1. Open TodoforLUIS
2. Go to 'User profile' dialog
3. Click first action node : Send a reponse
4. Notice template name = Template name: #TextInput_Prompt_267073() at bottom of edit field).
5. Click template name
6. Notice this results in a navigate to 'bot responses > UserProfile'
7. Figure out which template name you actually clicked (#textInput_Prompt_267073)
8. Change template name to 'AskUserN

[2021-03-04 01:00] sgellock opened #6174 "New Creation Experience preview feature is missing a "Learn More" link"
## Describe the bug
Every preview feature in composer must follow a format that is a "title" a "description" and a "Learn More" link.  the Learn More link navigates to an external link that describes what the preview feature does and why you might want to enable it and try it out.

## Version
1.3.x the R12 bug bash build

## Browser
- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firef

[2021-03-04 01:03] sgellock opened #6175 "Form dialogs preview feature has a small typo in it's description"
## Describe the bug
The description of the Form dialogs preview feature has an extra period at the end of the description.  "to manage conversations.."

## Version
1.3.x r12 bug bash

## Browser
- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Launch Composer
2. Click

[2021-03-04 01:08] mareekuh opened #6176 "Default for 'condition' should be 'expression' and gray area (y/n) should be clickable"
![Screen Shot 2021-03-03 at 5 01 57 PM](https://user-images.githubusercontent.com/48503434/109894545-8b331a80-7c42-11eb-961c-5ef565664ab8.png)

Go to todobotwithLUIS - click 'Welcome User' trigger
Notice 'condition' field at top in Property panel
Notice the type is set to y/n
Click on gray area y/n in field to change it to expresion - Notice nothing happens
Click dropdown to change setting to 'Exp

[2021-03-04 01:13] sgellock opened #6177 "Getting Started link on Home page should nav to Composer docs, not our GH repo"
## Describe the bug
At least for the Electron distro, I would expect getting started to take me to the same page that Help -> Documentation from the top-level app menu take me.

We have a Help -> Composer on GitHub link in that top level Help menu, so we are providing an option to get to the repo.

I would assert that if I have composer installed and I click the Getting started, I would expect to

[2021-03-04 01:22] mareekuh opened #6178 "Show code for selected item"
Go to TodobotwithLUIS
Go to 'welcome user'
Select 'Set properties' node
Click 'Show code'
Notice: the entire JSON is shown

Expected: jump to the right place in the code (selected node)
![Screen Shot 2021-03-03 at 5 22 05 PM](https://user-images.githubusercontent.com/48503434/109895978-04cc0800-7c45-11eb-80c4-1764149e8ca5.png)

[2021-03-04 01:48] mewa1024 opened #6179 "Can't run a bot created from the "Calendar" template"
## Describe the bug

With the new creation experience, I created a bot with the template "Calendar", added the LUIS key, but the bot will not run.

## Version

Version:  1.3.1-nightly.219396.61c944a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Wind

[2021-03-04 01:59] mewa1024 opened #6180 ""Problem" drawer disappears on the Project Settings page when you collapse it"
## Describe the bug

Problems drawer disappears instead of collapses on the Bot Projects settings page. It also seems to return to the default height when you navigate from page to page.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Collaps

[2021-03-04 02:00] mewa1024 commented on #6180
Version:  1.3.1-nightly.219396.61c944a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-03-04 02:24] mewa1024 commented on #6171
I'm also running into this spinner when I click "Edit" next an existing publishing profile:
![image](https://user-images.githubusercontent.com/39317542/109901214-86279880-7c4d-11eb-9e0a-4d788c8b1c07.png)

This is on
Version:  1.3.1-nightly.219396.61c944a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

This did not happen for me on the previous nightly.

[2021-03-04 03:19] mewa1024 opened #6181 "Project tree is missing the expand/collapse at the root bot"
## Describe the bug

In the Design page, the arrow that collapses and expands the root bot disappears sometimes.

## Version

Version:  1.3.1-nightly.219396.61c944a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

[2021-03-04 03:21] boydc2014 commented on #5551
Thanks, we are re-opening this for investigation. @tonyanziano can you help take a look?

[2021-03-04 03:21] mewa1024 commented on #6181
also, the arrow only disappears after the skill is loaded. Before the skill loads, the arrow is there:
![image](https://user-images.githubusercontent.com/39317542/109906620-ad826380-7c55-11eb-97c2-f692a425f385.png)

[2021-03-04 03:43] hibrenda opened #6182 "The progress bar for check updates always show 0%"
- Install composer electron 1.3.1
- click check updates
- the status bar always show 0%
![image](https://user-images.githubusercontent.com/43408889/109907891-3fce4a00-7cde-11eb-939a-c63645470bcb.png)

[2021-03-04 03:51] hibrenda opened #6183 "new created template in common.lg should be visible in lg manaco editor"
- create new template in LG all up view common.lg

![image](https://user-images.githubusercontent.com/43408889/109908512-6345c480-7cdf-11eb-9dc2-2b2fcf84bd28.png)

- in send response, the new added template could not be visible
![image](https://user-images.githubusercontent.com/43408889/109908625-92f4cc80-7cdf-11eb-92ea-48866adabc7b.png)

[2021-03-04 04:27] mn-invia opened #6184 "Bot capturing the default intent Always"
Hi There,

I am in the process of building a bot to perform task based on CANCEL as the Intent. That's the ONLY intent that's been built-in so far. The Bot behaves perfectly when I chat and input queries.

But when I cut and paste messages from email, IRRESPECTIVE of the content in the email, LUIS always gives a score of more than 99% and sends it over to the Cancel Intent.

Examples of email that

[2021-03-04 04:40] clearab opened #6185 "Publishing alert shows ephemeral error, even on success"
Using an empty bot template with only the required parts provisioned, the publishing status briefly changed to a "publishing failed" error message.

![provisionFail_1](https://user-images.githubusercontent.com/1139814/109912070-3b634c00-7c60-11eb-9ae0-83646626c55b.PNG)

After about 20 seconds, the message disappeared from the alerts area w/o me dismissing it. The publishing was successful (was abl

[2021-03-04 04:42] mewa1024 opened #6186 "Calendar Assistant bot: links to dialogs in the BeginDialog actions seem broken"
## Describe the bug

The Calendar Assistant template has a root bot with a root dialog with triggers that begin other dialogs. The links to those dialogs does not work.

## Version

Version:  1.3.1-nightly.219396.61c944a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2021-03-04 04:42] mewa1024 opened #6361 "Calendar Assistant bot: links to dialogs in the BeginDialog actions seem broken"
## Describe the bug

The Calendar Assistant template has a root bot with a root dialog with triggers that begin other dialogs. The links to those dialogs does not work.

## Version

Version:  1.3.1-nightly.219396.61c944a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2021-03-04 05:12] mewa1024 opened #6187 "Package Manager page does not list Orchestrator"
## Describe the bug

In the Package Manager section, the Orchestrator package does not appear/

## Version

Version:  1.3.1-nightly.219396.61c944a
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduc

[2021-03-04 05:31] BeheraMadan commented on #6109
Hi,

We have one below major issue associated with UX research. We have configured qnamaker using 'QnAMaker Dialog' action in composer as shown below.
![image](https://user-images.githubusercontent.com/70739031/109914834-caab4680-7cd6-11eb-8c0f-433c9e0a4ba5.png)

We are asking for feedback(using adaptive card) to the user immediately after 'QnAMaker Dialog' action.
![image](https://user-images.git

[2021-03-04 05:59] UmaPrelude commented on #6045
@cwhitten, thanks for your response.

[2021-03-04 06:32] garypretty commented on #6133
@srinaath Looking at the comments above it appears that webchat is talking to the skill and not the root bot? We should be just surfacing the root bot in R12.  @beyackle can you clarify here?  Were you able to interact with the skill?

[2021-03-04 06:34] garypretty commented on #6145
Closing and tracking in #6147

[2021-03-04 06:34] #6145 closed

[2021-03-04 06:36] garypretty commented on #6147
I like this idea and think it makes sense. It was raised by a couple of folks (@benbrown raised in #6145 which I closed to track here).  Is it possible for us to add an empty text box and apply focus there when you first add this action to the canvas?

[2021-03-04 07:16] garypretty commented on #4404
In the next release of Composer we have added the ability to send a Handoff Activity to trigger handoff, per our current examples for LivePerson, OmniChannel etc. This means you will now be able to eject your runtime and implement handoff as you would with an SDK bot.  In the mid term we are also planning to add more turn key handoff support to Composer for some handoff scenarios too.  I will leav

[2021-03-04 07:20] srinaath commented on #6133
I see. Nice catch @beyackle. I will try to get a repro.

[2021-03-04 08:18] lei9444 commented on #2635
still need double click to navigate

[2021-03-04 08:20] cosmicshuai commented on #5889
verified

[2021-03-04 08:21] cosmicshuai commented on #5882
verified

[2021-03-04 08:21] hibrenda commented on #6087
![image](https://user-images.githubusercontent.com/43408889/109932833-aa46b080-7d05-11eb-9d7e-ed1c00608ab5.png)

It is still cropped for "Cancel" button and the bottom line of the json file. Meanwhile there is no scroll bar for json editor if the line is too long

[2021-03-04 08:22] cosmicshuai commented on #5900
verified

[2021-03-04 08:28] cosmicshuai commented on #5888
verified

[2021-03-04 08:30] cosmicshuai commented on #5863
verified

[2021-03-04 08:31] boydc2014 opened #6188 "Bot response page's imported LG files are not clickable"
## Describe the bug

Imported LG file nodes are not clickable in bot response page

## Version
latest main

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create an ToDoWithLuisSample bot
2. Go to bot response page
3. Expand on the DeleteItem view
4. Cli

[2021-03-04 08:32] cosmicshuai commented on #5820
verified

[2021-03-04 08:34] #6087 closed

[2021-03-04 08:44] boydc2014 opened #6189 "LU import resolver can't handler import statement without specific locale"
## Describe the bug

if have a common.en-us.lu been reported by a.en-us.lu with the statement below

`[import] (common.en-us.lu)` works but
`[import](common)` doesn't work
`[import](common.lu)` doesn't work

## Version

latest main

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to re

[2021-03-04 08:48] zhixzhan commented on #5496
I can still re-produce it
![preview](https://user-images.githubusercontent.com/49866537/109936993-75d4f380-7d09-11eb-84e1-5bf14215a80e.gif)

[2021-03-04 08:48] cosmicshuai commented on #5763
verified

[2021-03-04 08:52] cosmicshuai commented on #5751
verified

[2021-03-04 08:59] peterbozso commented on #4226
I've just tried this with 1.3.1. Seems to be working fine, the prediction resource is being assigned after publishing a LUIS-integrated bot from the Composer.

[2021-03-04 08:59] cosmicshuai commented on #5732
verified

[2021-03-04 09:02] hibrenda commented on #5785
if I delete the content in root bot setting, error also populated into child bot setting
![image](https://user-images.githubusercontent.com/43408889/109938721-5343da00-7d0b-11eb-9149-b079257a3695.png)

![image](https://user-images.githubusercontent.com/43408889/109938643-39a29280-7d0b-11eb-9ad1-53ccee14044b.png)

[2021-03-04 09:02] cosmicshuai commented on #5724
Verified

[2021-03-04 09:03] cosmicshuai commented on #5712
verified

[2021-03-04 09:07] #2635 closed

[2021-03-04 09:08] luhan2017 commented on #5650
@saleung, did you still have this issue in the latest nightly?

[2021-03-04 09:08] cosmicshuai commented on #5805
verified

[2021-03-04 09:24] cosmicshuai commented on #5727
verified

[2021-03-04 09:54] luhan2017 opened #6190 "We need to support abs handoff for new creation flow."
## Describe the bug

Turn on the Create New Flow flag and Open in composer from abs.

It is v2 templates with v1 UX
![image](https://user-images.githubusercontent.com/32191031/109945953-b7b66780-7d12-11eb-95b9-0342a8f0b8a4.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Ste

[2021-03-04 10:09] Jenny0932 commented on #5354
Hi I am getting the same issue here. It's working fine previously and just today, I got this error. I added the luisResource to both settings and publish profile, still the same error. Is that something related to LUIS portal? I found the LUIS server is not stable.

[2021-03-04 10:19] afahmy11 commented on #6050
thanks dmvtech

i have created a new profile and now it is uploaded successfully

![image](https://user-images.githubusercontent.com/49028761/109949106-a99d2280-7ce3-11eb-8b21-0702371ebf2b.png)

[2021-03-04 10:19] #6050 closed

[2021-03-04 10:30] Jenny0932 commented on #5735
Hi, same issuer here. Is that the error with LUIS server?
View using the debugger view:
    at onRender (http://localhost:5000/static/js/15.e90e2d8f.chunk.js:1:36028)
S @ moment.js:270
:5000/api/publish/32003.495850502793/status/default:1 Failed to load resource: the server responded with a status of 404 (Not Found)
warn.js:13 The Button component has been deprecated. Use specific variants instead

[2021-03-04 10:33] Jenny0932 opened #6191 ""SyntaxError - Unexpected token o in JSON at position 1" when publishing from bot framework composer Windows"
I attached the following log.
I am using bot framework composer 1.3.1 desktop version on Windows. I have tried adding luisResource and hostname. It's still the same error.

"Accepted for publishing..."

"Building the bot app..."

"Build succeeded!"

"start publish luis"

"Assigning to luis app id: 6ffff2f4-1e4a-48db-bb6b-3b7bb4941a0a"

"{\"name\":\"StatusCodeError\",\"statusCode\":400,\"message\":

[2021-03-04 11:54] Dewain27 opened #6192 "Instructions for adding a bot to Teams does not work (Need Manifest)"
## Describe the bug

When turning on the Teams connection, the instructions provided do not get me to a working solution.  Need to determine if we can generate a manifest file for Teams to see if we can make this easier and make the directions easier to follow and/or correct them to allow for them to be accurate.

## Version

![image](https://user-images.githubusercontent.com/18688053/109958426-d4

[2021-03-04 12:03] Dewain27 opened #6193 "Enabling a Connection in Composer that needs more configuration does not indicate that it is needed"
## Describe the bug

When you enable MS Teams and Speech, there are additional steps that are required, however in the UI the toggle just flips without a warning or indication that you have additional steps to complete.

## Version

![image](https://user-images.githubusercontent.com/18688053/109960519-7ee4a700-7cae-11eb-8225-6cb8d4a361ad.png)

## Browser

- [X] Electron distribution
- [ ] Chrome
-

[2021-03-04 12:16] Dewain27 opened #6194 "Enabling Direct Line Speech instructions don't work properly"
## Describe the bug

In the Direct Line Speech instructions, it states that you need to create a Cognitive Services Key, but you actually need to create a Speech Service in the same DC as your bot.  You also need to then get your speech key and an DC location and put it into the profile of the Windows Voice Client to test.  We seem to stop at telling you where to get the speech client and not tell

[2021-03-04 12:43] anmolgandhi007 opened #6196 "No error shows multiple error in Diagnostics - not able to Start Bot"
Hi,

I am getting two errors for 7 times in a row (even if its an error, why its getting duplicated 6 other times?). Another surprising element is there is no actual error and also the LG file shows no error.
Because of this strange behavior of errors coming up without being an actual one I am not able to Start my bot.

Please find below the Diagnostics page view:
![image](https://user-images.gith

[2021-03-04 12:49] Dewain27 opened #6197 "Enabling Web Chat instructions missing instructions on how to test that Web Chat is working"
## Describe the bug

In the Web Chat enablement documentation there is no information on where and how to test your connection.

## Version

![image](https://user-images.githubusercontent.com/18688053/109965868-2b298c00-7cb5-11eb-9d98-1be03b67371f.png)

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To R

[2021-03-04 12:58] Dewain27 opened #6198 "Text wrong in Web Chat vs Webchat"
## Describe the bug

In the Adapters area of Bot Settings, the text reads as Webchat but should be Web Chat

## Version

![image](https://user-images.githubusercontent.com/18688053/109967113-a50e4500-7cb6-11eb-8f74-922f25bbf8e0.png)

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to r

[2021-03-04 13:13] aparnaji opened #6199 "Multi option select control in Composer"
Is there a way we can given a user input control where the user can select multiple options

[2021-03-04 13:31] boydc2014 commented on #6196
@lei9444  can you help take a look at this one

[2021-03-04 13:32] boydc2014 commented on #6196
@anmolgandhi007  Thanks for trying and reporting, can you help attach the lg file?

[2021-03-04 13:34] Dewain27 opened #6200 "Package Manger showing ERROR: No README data found! on all NPM packages"
## Describe the bug

When in package manager looking at NPM packages they all return ERROR: No README data found! in the information pane on the right.  This also make it where I can't install any of them.

## Version

![image](https://user-images.githubusercontent.com/18688053/109971091-70e95300-7cbb-11eb-963d-6a09e325f053.png)

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
-

[2021-03-04 13:42] Dewain27 opened #6201 "Install of package fails in Package Manager for Storage Components"
## Describe the bug

When trying to install the nuget package for Bot.Builder.Community.Components.Storage and installing 1.0.2-preview, get install Error Command failed: dotnet add empty.csproj package

## Version

![image](https://user-images.githubusercontent.com/18688053/109972666-3385c500-7cbd-11eb-9c69-a672ff1e9a85.png)

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ]

[2021-03-04 13:43] anmolgandhi007 commented on #6196
Please find attached LG file for your reference:

[lgfile.txt](https://github.com/microsoft/BotFramework-Composer/files/6084014/lgfile.txt)

[2021-03-04 15:01] benbrown opened #6202 "Get Keyvault Password Value"
## Describe the bug

During the ABS hand-off scenario, it is important that Composer capture the app password so that connections to emulator will work.

[2021-03-04 15:16] carlosscastro commented on #6201
@Dewain27 could you try one thing for us: Could you please add a new feed with this url `https://api.nuget.org/v3/index.json`?

And if it fails, could you navigate in command line to the directory where your runtime csproj file is, and run the command that you get in the error message (i.e. dotnet add ...) and copy the output? That would all be incredibly helpful.

+ @benbrown  FYI

[2021-03-04 15:20] benbrown commented on #6201
If you delete the .composer/extension-data/package-manager.json file, this problem will go away. this will reset package manager to the new default settings for the feed URLs.

OR, you can do as carlos described above and add a new feed.

[2021-03-04 15:20] #6201 closed

[2021-03-04 15:28] benbrown commented on #6166
For context this would touch:

* Adding speech as a provisionable service in the provisioning system (medium LOE)
* Changing provisioning modal system to accept parameters - ie, open provisioning to the "add a speech service" screen (small)
* Allow selection of previous of existing speech services in this AND make that work alongside the other provisioning behaviors (large)

[2021-03-04 15:33] saleung commented on #5650
I have not had the chance to test this on nightly but the 1.3.1 release still has the same behavior described in this issue. I will still need to try modifying NODE_OPTIONS to see if it resolves the issue...

[2021-03-04 15:36] dmvtech commented on #5809
Hi @goergenj Sorry for the delay. I will have an update for you today.

[2021-03-04 15:38] benbrown commented on #6200
You can only install JS modules into a JS runtime -- that doesn't yet exist in our new runtime world.

This feed will be removed before we ship.

[2021-03-04 15:49] benbrown commented on #6187
I believe this is due to the feed being out of date in your composer settings.

You should see 4 packages, including orchestrator.

[2021-03-04 15:56] Rekeyea commented on #6191
I think this is still an unresolved issue. A workaround for me was to use the web version to publish.

[2021-03-04 15:57] benbrown commented on #6172
Dupe of #6086

thanks for the report @sgellock.

[2021-03-04 15:57] #6172 closed

[2021-03-04 15:58] benbrown commented on #6171
@sgellock @mewa1024 did you ever see the login prompt?

[2021-03-04 15:59] benbrown commented on #6170
same as #6171

[2021-03-04 16:02] benbrown commented on #6161
WEIRD. It must be calling a different navigation method. I'll investigate!

[2021-03-04 16:03] sgellock commented on #6171
No.  never prompted to login.

[2021-03-04 16:04] benbrown commented on #6144
the results of your install should appear immediately.

in this case, you installed a package of custom actions, which appear in the "+" menu of the dialog editor.

[2021-03-04 16:04] #6144 closed

[2021-03-04 16:09] sgellock opened #6203 "Consider modeling Composer.About model after Az Data Studio's implementation"
This is a small feature, helpful for bug bashing and logging issues.  I recognize it's well on the "nice to have" priority of things.

## Describe the solution you'd like
Az Data Studio has a Copy button on their About modal.  Makes it trivial to copy all the version information to the clipboard, and past into an issue when I'm filing issues on that product.  Thought it was an easy and helpful opt

[2021-03-04 16:41] mewa1024 commented on #6187
Is the feeds surfaced in the UI on the Composer Settings page? (I didn't see anything there.)

[2021-03-04 16:50] beyackle commented on #5906
This issue was fixed in the related PR; I think it can safely be closed.

[2021-03-04 16:50] #5906 closed

[2021-03-04 17:08] benbrown commented on #6187
click edit feeds at top

[2021-03-04 17:21] garypretty commented on #6129
Thanks @mdrichardson. We may end up taking this change for this and other reasons.

Closing. Tracking if we will make this change in #6133 .

[2021-03-04 17:21] #6129 closed

[2021-03-04 17:31] garypretty commented on #6147
@srinaath I have spoken with @sangwoohaan and we will take this one.

[2021-03-04 17:34] garypretty commented on #6140
@sangwoohaan We are not taking this for R12, we will go with the current behavior, but we should consider if there is anything we want to do for R13. Let's discuss on our next sync.

[2021-03-04 17:37] garypretty commented on #6122
@sangwoohaan when you're considering any iterations in the all up view, worth taking this into account.

[2021-03-04 17:39] tonyanziano commented on #6191
@luhan2017 can you please investigate?

[2021-03-04 17:42] tonyanziano commented on #6178
Related to #6110

[2021-03-04 17:43] tonyanziano commented on #6176
@sangwoohaan can you please take a look at this?

[2021-03-04 17:46] xiyangdesign opened #6204 "[when authoring a bot] trigger configuration needs more clarification?"
1. the user creates a new bot
2. the user clicks on the trigger, the configuration shows
3. it's not clear what the three settings are and how to use them.
![TriggerSettingNeedsMoreClarification](https://user-images.githubusercontent.com/74994573/110005867-ccbcd780-7ccd-11eb-8342-9cb056501732.png)

[2021-03-04 17:47] benbrown opened #6205 "bug: package manager feed loading can't handle 2 feeds with same url"
## Describe the bug

When package manager loads a feed, it passes in the feed url from the client.
However, this means if multiple feeds are set up with the same feed url, however different query preferences, they will conflict and only the last config will be used.

## Version

nightly

## To Reproduce

1. create a new feed with the url `https://api.nuget.org/v3/index.json`
2. notice that the `nu

[2021-03-04 17:48] tonyanziano commented on #6173
We would classify this as Composer missing some refactoring tools for LG and not necessarily a bug as nothing is broken. @garypretty maybe you could work with @mareekuh on this.

[2021-03-04 17:51] marvin-garcia opened #6206 "Bot Framework Composer won't store conversation transcripts."
I created a bot, created a publish target (using Azure Web App option) and made sure all the optional services were checked. After the publish profile creation succeeded, an empty (no containers) storage account was in the bot's resource group. Then I successfully published my bot, but when I started using it no conversation transcripts were created. I looked into the appsettings.json file; copied

[2021-03-04 17:53] sangwoohaan commented on #6176
@garypretty and I just talked about this actually. I'll handle this – the header isn't a clickable UI element anymore so the plan is to have it default to expression according to our current experience.

[2021-03-04 17:54] tonyanziano commented on #6155
Related to #6121

[2021-03-04 17:54] srinaath commented on #6180
Assigning to @benbrown as its going to be resolved with the dashboard refactor.

[2021-03-04 17:55] tonyanziano commented on #6136
@sangwoohaan is it possible to reassess the height of this control?

[2021-03-04 17:57] tonyanziano commented on #6136
Possible example: https://developer.microsoft.com/en-us/fluentui#/controls/web/textfield

![Uploading image.png…]()

[2021-03-04 17:58] v-kydela commented on #6199
Thank you for the question, @aparnaji

What channel are you using (Web Chat, Teams, etc.)?

[2021-03-04 17:58] Dewain27 opened #6207 "When you enable MS Teams or any connection that has follow up steps you should be notified"
## Is your feature request related to a problem? Please describe.

When you enable a connection in Composer and there are additional steps that need to be completed, there should be some notification that you have additional steps.  Today, when you turn on the Teams Channel as an example, you have to know that you need to read the Learn More documentation to understand the actions needed to comple

[2021-03-04 18:01] tonyanziano commented on #6113
@anusharavindrar can you please take a look at this?

[2021-03-04 18:12] tonyanziano commented on #6094
Related to #6121

[2021-03-04 18:17] #5993 closed

[2021-03-04 18:19] tonyanziano commented on #5974
@sangwoohaan could you help polish the copy for this? Stop / starting the runtime might be misleading, since it is more like deleting and replacing the runtime.

[2021-03-04 18:21] tonyanziano commented on #5967
@GeoffCoxMSFT can you take a look at the gaps being caused by the resizer component's hit target?

[2021-03-04 18:22] garypretty commented on #5879
Thanks @arafattehsin. We will add this to our backlog for review and see where we can address this.

@cwhitten for now I will label this as a P2 for R13, but I think it is ok if this pushes to R14 given the existing workload.

[2021-03-04 18:23] tonyanziano commented on #5808
@luhan2017 can you take a look at this?

[2021-03-04 18:33] Dewain27 commented on #6193
Duplicate #6207  Closing this one

[2021-03-04 18:33] #6193 closed

[2021-03-04 18:53] tdurnford commented on #6168
@sangwoohaan Can you comment?

[2021-03-04 19:14] dmvtech commented on #6184
Hi @mn-invia Do you have an unknown intent trigger setup as well (what all triggers do you have)? Do you have other dialogs but only the Cancel intent? Are you able to share your bot?

[2021-03-04 19:50] chrimc62 opened #6210 "Dialog files have incorrect $schema"
## Describe the bug
Dialog files have an incorrect $schema. They should be referring to the schema generated through merging, instead they are referring to "https://raw.githubusercontent.com/microsoft/BotFramework-Composer/stable/Composer/packages/server/schemas/sdk.schema".  We have gone to a lot of work to generate a runtime schema and we should use it, something like: `./schemas/sdk.schema`

![

[2021-03-04 20:01] chrimc62 opened #6211 "Generated template names should include () after the name"
## Describe the bug
The LG templates we include in our templates look like this:
[code]
In order to call this LG template, you must call it with () like this: `${SendActivity_Welcome()}`.  We should make this consistent to reduce confusion, i.e. with () like this:
[code]
![image](https://user-images.githubusercontent.com/17637681/110022869-54601180-7ce1-11eb-84d6-6f4bc150bda8.png)

[2021-03-04 20:19] #6116 closed

[2021-03-04 20:55] chrimc62 opened #6213 "Composer generated dialog references do not include .dialog suffix"
## Describe the bug
When we refer to other dialog files we do not include the .dialog suffix.  We had a review a while ago we agreed that it was confusing because it looks like you are referring directly to LU/QnA/??? files when there is actually a dialog in between with settings.  For example in adaptive dialog Composer generates something like this:
[code]
Which actually means this:
[code]

A Be

[2021-03-04 20:57] Dewain27 commented on #5954
#5895 Linking

[2021-03-04 21:09] srinaath opened #6215 "Icon crowding when update available"
## Describe the bug
The icons on the header appear really crowded when a Composer update is available.

Expected:
Fix to make sure icons are evenly spaced when update is avaiable

![Screen Shot 2021-03-04 at 1 21 59 PM](https://user-images.githubusercontent.com/13004779/110032132-a5293780-7cec-11eb-87ea-6709168f971d.png)

[2021-03-04 21:11] #6064 closed

[2021-03-04 21:11] #6085 closed

[2021-03-04 21:11] #6115 closed

[2021-03-04 21:16] benbrown commented on #6065
fixed by #6121

[2021-03-04 21:16] #6065 closed

[2021-03-04 21:19] benbrown commented on #6180
Resolved by #6121

[2021-03-04 21:19] #6180 closed

[2021-03-04 21:28] JohnRobertGreen commented on #5354
I have the same experience . Worked fine one day, failed the next. Admittedly a lot of changes to dialog in between but no changes to the settings or publish settings. I can prove that the LUIS model is updated (eg a new intent is added) but the bot does not get published.

[2021-03-04 22:02] beyackle commented on #6181
I'm working on this one and I've been having trouble reproducing it. I'll keep looking, but the cases reported here seem to work fine for me.
![image](https://user-images.githubusercontent.com/61990921/110036727-4ff02480-7cf2-11eb-83bb-10a1c327378c.png)

[2021-03-04 22:16] benbrown commented on #6174
@Dewain27  we need to create some doc that describes what this new creation flow is!

[2021-03-04 22:18] JohnRobertGreen opened #6218 "Publish fails with Failed to parse azure account information object object"
## Describe the bug

When I try to publish my bot I get the following error:
400 - {"error":{"code":"BadArgument","message":"Failed to parse azure account information object object."}}

This worked on 3rd March 2021 and did not work on 4th March 2021. Between the last successful publish and the first failed publish I made significant changes to dialogs and added a new cognitive service (text analy

[2021-03-04 22:18] beyackle commented on #6177
The URL in Composer points to an `aka.ms` link (https://aka.ms/BF-Composer-Getting-Started), so we don't need a code change here, just a reroute from that URL to the docs.

[2021-03-04 22:22] stevkan commented on #6106
Can you tell me, when you created your publishing profile in Composer, did you select "Create new Azure resources" or "Import existing Azure resources"? I suspect you selected the first option. If so, then I believe the issue is tied to the published LUIS service. Prior to publishing, you needed to supply your LUIS authoring key in order for you to be able to test your bot in Composer. However, du

[2021-03-04 22:29] taicchoumsft opened #6220 "Orchestrator: Wrong model settings created when publishing to Azure"
## Describe the bug
Orchestrator settings, and model copy logic need to be fixed for Azure. When we added multilanguage support to Orchestrator, the logic for publishing was not updated.

## Version
Nightlies 217487+

## Browser
All
## OS
All

## To Reproduce
1. Create a bot with Orchestrator as a recognizer (in any dialog)
2. Try to publish the bot to Azure.
3. Observe `orchestrator.settings.json

[2021-03-04 22:33] benbrown commented on #6072
The text of the modal and buttons has been updated.
However, it is not currently possible to easily identify if the package failed to install because of the name or version.

This will have to be a follow-up item.  I will open a second ticket to track that in r13.

[2021-03-04 22:35] benbrown opened #6221 "in package manager, handle error when a user specifies an invalid package name or version"
![](https://user-images.githubusercontent.com/55601267/109576598-ee894500-7aa8-11eb-825a-3f8c85dcaade.png)

[2021-03-04 22:37] benbrown commented on #6221
This is a follow-on to #6072

[2021-03-04 22:37] sgellock commented on #6177
Makes sense Doc.  Thanks!

[2021-03-04 23:04] JohnRobertGreen commented on #6106
I suspect you are correct. I changed the "composer" LUIS app to use sentiment analysis, but I did not change the "publish" LUIS app. I was heading down this path of investigation but have been stymied because I can no longer published at all. Once I get that resolved I'll return to this issue and confirm. Thanks.

[2021-03-04 23:26] mewa1024 commented on #6181
I can check and again and screen record, if that is helpful.

[2021-03-04 23:26] Jenny0932 commented on #6191
Does it related to LUIS server issue?
![image](https://user-images.githubusercontent.com/21092475/110044450-4243a900-7d9d-11eb-8f24-b4f6161f1f4c.png)

[2021-03-04 23:31] mewa1024 commented on #6215
Do we need to have this icon here? It is crowded and it is less directly related to the Start bots button than Webchat.

[2021-03-04 23:38] stevkan commented on #5855
Closing due to lack of response.

[2021-03-04 23:38] #5855 closed

[2021-03-04 23:46] cwhitten commented on #5990
See https://github.com/microsoft/BotFramework-Composer/issues/5461 for another ask

[2021-03-04 23:58] scheyal opened #6223 "Remove dialog error"
Several issues showed up, one captured here.

Repro:
1. Create new dialog
2. Rename dialog
3. Remove dialog
--> the error below.

ENOENT: no such file or directory, scandir 'c:\workspace\botroot\TempPlay\MultilingualOrchestrator\MultilingualOrchestrator\dialogs\TestDialog\recognizers'

[2021-03-04 23:58] #6084 closed

[2021-03-05 00:03] sangwoohaan commented on #6147
Here's what we discussed :
The LG editor exists in Send Activity and all the prompt action nodes, and we want the experience to be consistent throughout these.

1. When you just created a node, the text box appears.
2. When you deselect the node and select again, the text box does not appear, you see 'add variation' button. (Alternative : text box appears when the tab has no content)
3. Adding a n

[2021-03-05 00:16] anusharavindrar commented on #6113
@Rekeyea, thanks for reporting this error. To understand further,

- Was the bot starting up or running as expected in the previous version(1.3.1 or earlier)?
- Are you getting this error for a specific bot or all the bots in this nightly build version of the composer do not start up?

Also, it does look like you might have to set the PATH environment variable to **C:\Windows\System32**. Can you c

[2021-03-05 00:17] cwhitten commented on #6223
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/1741

[2021-03-05 00:17] #6223 closed

[2021-03-05 00:18] cwhitten commented on #1741
Adding to R13 for prioritization discussion

[2021-03-05 00:23] cwhitten commented on #6204
@xiyangdesign do the ? tooltips help at all on these fields?

[2021-03-05 00:24] mewa1024 commented on #6215
(@sangwoohaan fyi, we are moving the "updates available" icon to the left of the bell to keep the Web Chat icon closer to the Start button. Also, adding padding between the icons.)

[2021-03-05 00:30] xiyangdesign commented on #6204
Not really. See the tooltips below.

![image](https://user-images.githubusercontent.com/74994573/110049303-715b0b80-7d06-11eb-8723-f78b9b2c5973.png)
![image](https://user-images.githubusercontent.com/74994573/110049316-76b85600-7d06-11eb-8b22-b36b44747f92.png)
![image](https://user-images.githubusercontent.com/74994573/110049327-7cae3700-7d06-11eb-987e-1aeb819af910.png)

[2021-03-05 00:55] sangwoohaan commented on #6173
Changing the template name there should pop-up a dialog asking if you want to update the template name reference in the activity.

[2021-03-05 01:02] #6136 closed

[2021-03-05 01:02] #6147 closed

[2021-03-05 01:09] tomlm opened #6224 "Bot Creation experience needs to communicate more during creation process"
## Is your feature request related to a problem? Please describe.

The creation flow shows this
![image](https://user-images.githubusercontent.com/17789481/110052250-217f4300-7d0c-11eb-92ed-23f75f75bd9d.png)
for a VERY long time.  (3-4 minutes?)

We need to have a progress indicator that is more granular, because it feels like it's hung.

## Describe the solution you'd like

a progress bar with %

[2021-03-05 01:12] cwhitten commented on #6182
I think this may be a Windows only issue.

[2021-03-05 01:14] tomlm opened #6225 "bot is created in wrong folder"
## Describe the bug

I went through new creation flow and the bot is put in the wrong folder.

## Version

Nightly
![image](https://user-images.githubusercontent.com/17789481/110052729-e7627100-7d0c-11eb-86be-441fda7788d0.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprodu

[2021-03-05 01:16] cwhitten commented on #6177
@Kaiqb can you please address this? Thanks.

[2021-03-05 01:21] cwhitten commented on #6170
Closing as a dupe

[2021-03-05 01:21] #6170 closed

[2021-03-05 01:22] danielallen73 commented on #5354
I am reporting the same issue. Have followed all of the advice in all the threads. I'm on 1.3.1. Was working the other day after working around it, now I can get past the dreaded "SyntaxError - Unexpected token o in JSON at position 1"

All resources created in westus.
Using a work account.

Publish Profile as follows:
{
  "name": "REDACTED",
  "environment": "dev",
  "runtimeIdentifier": "win-x64

[2021-03-05 01:22] tomlm opened #6226 "nonstandard button for saving new feed is super confusing"
## Describe the bug

I tried to add a new feed.  The Green check box doesn't communicate that you need to push it to commit the change.

I couldn't figure out why it wasn't saving my change.  It said "you haven't saved it" and I STILL didn't realize the green check mark was to save the change.

We should use an industry standard icon for saving.

## Version

## Browser

- [x] Electron distribution

[2021-03-05 01:23] danielallen73 commented on #5735
Also logged on #5354

I am reporting the same issue. Have followed all of the advice in all the threads. I'm on 1.3.1. Was working the other day after working around it, now I can get past the dreaded "SyntaxError - Unexpected token o in JSON at position 1"

All resources created in westus.
Using a work account.

Publish Profile as follows:
{
"name": "REDACTED",
"environment": "dev",
"runtimeIdent

[2021-03-05 01:24] tomlm opened #6227 "Microsoft.Bot.Builder.Integration.Runtime doesn't have Bot Framework ICON"
## Describe the bug
There should be an icon

![image](https://user-images.githubusercontent.com/17789481/110053480-5a201c00-7d0e-11eb-90d1-5406323eb018.png)

## Version
![image](https://user-images.githubusercontent.com/17789481/110053494-61472a00-7d0e-11eb-88b4-1332b95926e2.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] W

[2021-03-05 01:25] cwhitten commented on #6167
@scheyal assigning to you. The issue is that Orchestrator does not support the complete syntax of the .lu file format and it isn't explained well.

[2021-03-05 01:27] cwhitten commented on #6154
Closing as the UI has been completely redone

[2021-03-05 01:27] #6154 closed

[2021-03-05 01:28] tomlm opened #6228 "Packagemanager doesn't handle local folder nuget feed"
## Describe the bug

Nuget toolchain supports a local folder with nupkgs in it as a valid feed. Composer doesn't list any packages from taht.

## Version

![image](https://user-images.githubusercontent.com/17789481/110053762-d286dd00-7d0e-11eb-8bda-292f10215d78.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] U

[2021-03-05 01:28] cwhitten commented on #6142
Closing as this has been completely redone

[2021-03-05 01:28] #6142 closed

[2021-03-05 01:40] tomlm opened #6229 "packagemanager Doesn't update the UI after editing a url"
## Describe the bug

I tried to add a package url and failed.  Then I tried to edit it, and I can't edit it, it silently doesn't save.

## Version

1.3.1-nightly.218992

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to package manager and add feed ht

[2021-03-05 01:55] tomlm opened #6230 "PackageManager doesn't show my package icon"
## Describe the bug
The icon for a package is part of the identity for a package.  PAckageManager is ignoring my nupkg icons.

## Version

1.3.1-nightly.219713

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to packagemanager
2. add feed for https://w

[2021-03-05 02:07] tomlm opened #6231 "PackageManager doesn't show nuget packages I install using CLI or Visual Studio"
## Describe the bug
When I installed a nuget package via CLI or Visual Studio packagemanager

## Version

1.3.1-nightly.219713

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Load .sln file
2. Add a component package using nuget manager
3. Load project i

[2021-03-05 02:40] scheyal opened #6232 "LUIS warnings even if not using LUIS. Language code warnings OOB"
Two related issues here:

1. I'm not using LUIS, but I get the LUIS warnings.
2. I am warned about unsupported codes, but I didn't set them up - that's what was configured out of the box.

![image](https://user-images.githubusercontent.com/8867670/110059352-e59eaa80-7d18-11eb-8a7d-2c3f2143cc3f.png)

[2021-03-05 02:43] scheyal opened #6233 "Orchestrator fails with multilingual"
Repro:
1. Get a bot to work in English using Orchestrator
2. Add another language
3. Hit the ModelFolder error
4. Switch back to English. It's good again.

![image](https://user-images.githubusercontent.com/8867670/110059576-55ad3080-7d19-11eb-91c8-2695279b2f02.png)

[2021-03-05 03:09] luhan2017 commented on #6171
@sgellock @mewa1024 could you please help get more info by the following steps?
1. Open commnd line tool and Go to the composer exe folder, usually located here:
    C:\Users{YourUserName}\AppData\Local\Programs\Bot Framework Composer
2. run set debug=composer*
3. start Bot Framework Composer from the command line
4. do the reproduced steps again.
5. Check the command line tool log and paste them

[2021-03-05 03:19] lei9444 commented on #6196
Hi @anmolgandhi007 which composer's version did you use? I am looking into this issue. I can't reproduce it in main branch now, did you use electron app or web app?

[2021-03-05 03:36] mewa1024 opened #6234 "New creation experience: 'generator-qna-bot' fails and leaves empty bot folder behind"
## Describe the bug

With the new creation experience, when I chose the "generator-qna-bot" template, creation failed and the empty bot folder was left behind (preventing me from re-using the bot name).

## Version

Version:  1.3.1-nightly.219713.cd7e483
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safar

[2021-03-05 04:22] mn-invia commented on #6184
Hi Dana,

Yes I do have an UNKNOWN Intent Trigger setup as well. There are currently ONLY 2 triggers, One is CANCEL and other one is UNKNOWN. Let me know how I can share my bot with you? Many Thanks.

[2021-03-05 04:54] zxyanliu commented on #3740
@benbrown Are we still working on this? Should we document the new runtime?

[2021-03-05 05:25] zxyanliu commented on #6185
It seems this issue has already been addressed via https://github.com/microsoft/BotFramework-Composer/pull/6111

[2021-03-05 05:51] kcsureshgowda commented on #5735
I think, this is the known open issue in Composer version 1.3 & 1.3.1.  One of our initially asked to use the composer. However, after this issue with latest version 1.3 & 1.3.1, customer strongly comeback & asked not to use the composer anymore. Not satisfactory response from Microsoft on this issue.

[2021-03-05 06:21] yeze322 commented on #5942
@carlosscastro Carlos could you confirm if this issue was resolved after bf-cli released 4.12.0? I tried on my side and found it works.

[2021-03-05 06:28] luhan2017 commented on #6218
@JohnRobertGreen，could you check if this is consistently reproducible? Just double confirm, you didn't update composer and didn't update your publish profile, right? I can't explain why this happen, we can jump into a call to debug more.

[2021-03-05 07:38] cosmicshuai commented on #6171
I took some screenshots from the terminal output and electron dev tools.
<img width="1440" alt="Screen Shot 2021-03-05 at 3 31 38 PM" src="https://user-images.githubusercontent.com/17074777/110082657-9c0d9880-7dc8-11eb-8368-336115b3e390.png">
<img width="892" alt="Screen Shot 2021-03-05 at 3 35 47 PM" src="https://user-images.githubusercontent.com/17074777/110082663-9e6ff280-7dc8-11eb-887d-cc600ba

[2021-03-05 07:42] zidaneymar commented on #6102
@luhan2017 Maybe we need to iterate all resource providers and merge the supported regions together, which is a subset of all regions.

Currently we have following resource providers:
[code]

[2021-03-05 07:50] cosmicshuai commented on #6171
The previous release, 5fd80ed version. The publish works. Here are some screenshots:
<img width="1432" alt="Screen Shot 2021-03-05 at 3 48 19 PM" src="https://user-images.githubusercontent.com/17074777/110083963-52be4880-7dca-11eb-8dad-680b51545fd9.png">
<img width="895" alt="Screen Shot 2021-03-05 at 3 49 46 PM" src="https://user-images.githubusercontent.com/17074777/110084033-6ec1ea00-7dca-11eb-

[2021-03-05 08:18] #6079 closed

[2021-03-05 09:07] garypretty commented on #6149
I believe this has to do with how the LG is structured.  I have seen the resource manager work for LG in the current runtime intermittently (where I can update some LG and immediately see a change in the emulator), even though it never works for dialogs.  Right now we are expecting the new runtime to be updated so that the resource manager correctly refreshes dialogs / language files on update as

[2021-03-05 09:07] #6149 closed

[2021-03-05 09:11] aparnaji commented on #6199
Web Chat is what we are planning to use.

[2021-03-05 09:17] garypretty commented on #5912
@srinaath Good to get your thoughts on this one - seems to be related to the other issue we were looking at with web chat?

[2021-03-05 09:23] yeze322 commented on #6171
It seems to be a pipeline issue @tonyanziano do you know what's the env difference between two releases on 61c944a?
![image](https://user-images.githubusercontent.com/8528761/110094873-47254e80-7dd7-11eb-8966-8eca90d87e78.png)

In 219396, getAuth returns 304 with an empty token, it might be related to oneauth-mac which is in the private registry

[2021-03-05 09:24] garypretty commented on #5719
Hi @cxbuilders. Right now we have no plans to implement anything surrounding this.  If we were to, it would be something we would need to implement at the SDK level and out policy there right now is to have users configure additional settings on the related services, such as retention policies, themselves. These sort of settings will obviously vary from customer to customer and you say you are abl

[2021-03-05 09:24] #5719 closed

[2021-03-05 09:26] garypretty commented on #5682
@Dewain27 This is something we would need to hand as part of the provisioning process. Adding this would bring us in line with the resources created from an ABS handoff scenario, so ideally we should aim to do this in R13.

[2021-03-05 09:36] garypretty commented on #5503
@sangwoohaan let's discuss this when I am back from leave in our next sync. I would like to understand your current explorations and see how they play with the fact that the text being shown is defined in the SDK today.

Thanks @nightmareCoder123.

[2021-03-05 09:39] boydc2014 commented on #6171
By looking at the pipeline, the first one (219395 the working one) came from Composer-Nightly-All-Platform. The second one (219396 the not working one) came from Composer-Orchestrator-Nightly-All-Platform https://fuselabs.visualstudio.com/Composer/_build/results?buildId=219396&view=results, which is unexpected to published to Github.

[2021-03-05 09:45] garypretty commented on #1741
@cwhitten @mewa1024 Let's discuss in our next sync.

[2021-03-05 12:08] Rekeyea commented on #6113
Yes, it was working before. The Composer updated and it stopped working.
The Path env variable is correctly set:

![image](https://user-images.githubusercontent.com/8574490/110113740-4a4a1b80-7d92-11eb-90a4-9c306697d4cf.png)

[2021-03-05 12:41] BeheraMadan opened #6239 "accessing property in custom runtime from composer"
Hi,

We have a property created in composer for eg. user.inputLanguage. After ejecting the custom runtime we want to access that property value in a custom middleware. Is there any way to handle above scenario.

Thanks..

[2021-03-05 13:57] aparnaji opened #6241 "OAuth - how can we retrieve username"
I have used OAuth - Azure AD V2 in Bot Composer Dialog, User is getting successfully authenticated and dialog.token has value.
Is there a way we can retrieve user name, / email/ id from AD into the bot, so that we need not prompt for the name  and use the name/ id in subsequent dialogs/flow of the bot

[2021-03-05 14:00] yagnesh-tendulkar commented on #2240
Hello,
I am able to connect bot using Directline extension key(which uses websockets for communication between bot and app service).I have an issue while connecting to bot after one day. Can anyone faced this issue. Can anyone have solution would be appreciated.
Thanks in advance

[2021-03-05 14:02] anmolgandhi007 commented on #6196
Hi @lei9444, I am using desktop application of Bot framework composer(v 1.3.1).
Actually I am not using a newline in those function parameters, it moved itself in the newline as per the space provided for data in a single line.

[2021-03-05 14:27] KarlXOL opened #6244 "Global reuse of <list> <Entity> across intents ??"
Either this is missing, not supported or couldn't figure out how to do this.

What I want to achieve is a bot with Luis, entity extraction providing some intents and using definitions for lists, entities across multiple intents. Imagine  a list like this for example:
@ list  carmodels =
    - car1
	-    car1
    - car2:
	-    car2
The same would be for entities with Luis.

When doing this definiti

[2021-03-05 16:50] benbrown commented on #6187
@mewa1024 have you been able to rectify this issue?

if not i can jump on a chat..

[2021-03-05 17:13] beyackle commented on #5496
I'm looking into this now.

[2021-03-05 17:54] Quirinevwm opened #6245 "Components : getting started experience UX alignment"
## Describe the bug
Tweaking on recognition from command bar in 'publishing' the icon represent the nav icon:
- Add a package (in packagemanager)

Space rocket & error messaging:
- alignment in middle
- white space, line is broken between

Delete bot:
- header for accordion
Plus why can't you just delete the bot from the command bar? Does it need to be a separate action at the bottom of a scrollab

[2021-03-05 17:58] Quirinevwm opened #6246 "Components: description where does it show"
## Describe the bug
I've added a description to my bot, I'm not able to see it again anywhere that makes sense to me when I have created a new project.

## Version
![image](https://user-images.githubusercontent.com/43533472/110154435-85753a80-7de4-11eb-986a-6b50b2f5ba04.png)

## Browser
- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS
- [ ] macOS
- [x] Windows

[2021-03-05 18:17] Quirinevwm opened #6248 "Components: communicating creation time and visibility"
## Describe the bug
Not sure if it's just me, but this definitely takes longer than 1 minute (around 5).
After I've installed multiple other templates already, an Empty bot takes long too. Let's set expectations and communicate the estimated time, now I have no idea how long it might take and be tempted to click it away (seems like it's frozen). Plus it's not very visible the spinner with the acti

[2021-03-05 18:28] mewa1024 commented on #6187
no, Orchestrator still doesn't show up--but what feeds should I be using? This is what I have:
![image](https://user-images.githubusercontent.com/39317542/110157739-6606ef00-7d9d-11eb-871c-6533fc7dbe8e.png)

[2021-03-05 18:35] srinaath opened #6249 "Webchat Inspector behavior improvements"
On a new error in the conversation between user and bot through the Webchat Inspector. The following needs to happen

- A red indicator appears on the tab header
- Webchat Inspector Panel opens with Web Chat tab selected
- Content always scrolls when a new  item comes in otherwise the scroll position holds
- When the Webchat Inspector tab is active the Red indicator disappears.
@garypretty @mewa10

[2021-03-05 18:58] benbrown commented on #6187
This is the old feed.

The new one is:
https://api.nuget.org/v3/index.json

[2021-03-05 18:59] #6175 closed

[2021-03-05 19:12] pavolum commented on #6070
Naming constraint will remain in R12, in R13 we will implement naming sanitization at the generator level to allow for less invalid characters in the overall proj name while resulting in valid projName in the generated C# code.

[2021-03-05 20:01] mewa1024 commented on #6187
That worked. Is there anywhere in the UI where the user can get the latest feeds? Like "Restore to defaults" or something? I could not find it anywhere.

[2021-03-05 20:02] mewa1024 commented on #6187
Also, your list of feeds are Composer-wide, not project-specific, right?

[2021-03-05 20:08] Dewain27 opened #6252 "Provision Retry / Restart on failed / interrupted"
## Is your feature request related to a problem? Please describe.

Currently, in Composer when a provision action fails, the process gives error and doesn't allow for the user to be aware that it has created some but not all the resources.  This can leave orphaned resources in Azure as well as it does not offer a way for the user to be able to restart their provisioning action.

## Describe the so

[2021-03-05 20:14] Dewain27 opened #6253 "When adding a Package / Template / Authored Dialog that requires an optional component, Provisioning is aware"
## Is your feature request related to a problem? Please describe.

Composer today does not give insight into your bot project and if you need to provision certain optional components based on your bot project.  This can cause a user to not provision all necessary resources needed to be able to make their bot project work after publishing or publishing errors.

## Describe the solution you'd like

[2021-03-05 20:19] Dewain27 opened #6254 "Composer will close even if a publishing / provisioning process is running with no error / warning"
## Is your feature request related to a problem? Please describe.

Composer can be in the middle of a provisioning / publishing action and if you chose to close the application while the process is running it will do so without warning the user that there is a process running that could be affected by this action.

## Describe the solution you'd like

If there is a publishing / provisioning action

[2021-03-05 20:25] Dewain27 opened #6255 "Composer provisioning should check to see if the user has rights to complete actions and warn if not"
## Is your feature request related to a problem? Please describe.

Composer needs to check and see if a user has the rights to provision the Azure resources that were defined in the provisioning profile and warn accordingly.

## Describe the solution you'd like

When a user creates a publishing profile, Composer should check for appropriate permissions to create the resources that were defined and

[2021-03-05 20:26] mewa1024 opened #6256 "Package manager feeds: need ability to reset to default, need indication that they are Composer side"
## Describe the bug

Package Manager feeds are in the Package Manager page for your project, but the feeds are Composer wide. Should the "Edit feeds" button reinforce that the affects all of Composer and/or should the feeds be shown in the Composer-wide settings page?

## Version

Version:  1.3.1-nightly.220254.a558e78
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

[2021-03-05 20:28] Dewain27 opened #6257 "New provisioning process and UX should be properly documented"
## Is your feature request related to a problem? Please describe.

I want to have the appropriate level of documentation of how the provisioning process works including if I need to hand off to an Admin to complete the process, so that I fully understand the provisioning process and the steps required to complete the action.

## Describe the solution you'd like

Produce documentation for the E2E p

[2021-03-05 20:30] mewa1024 commented on #6256
(@emivers8 @JaskeeratBedi-cmk Attaching the feeds to the Composer settings page might be something to consider for R13? I ran into this issue because my feeds were from an old version and there was no way through the UI to get the new stuff (#6187).)

[2021-03-05 20:32] Dewain27 opened #6258 "Documentation for for IT Pro / Admin to complete provisioning handoff process"
## Is your feature request related to a problem? Please describe.

As a IT Pro / Admin, I want to have the appropriate level of documentation on how to complete the provisioning process on the behalf of a developer, so that I can understand the provisioning process and the steps required to complete the action.

## Describe the solution you'd like

Document the provisioning handoff process for the

[2021-03-05 20:36] Dewain27 opened #6259 "Composer should be able to provision more than one environment at a time"
## Is your feature request related to a problem? Please describe.

Composer needs to allow for users to be able to provision and publish to multiple environments at the same time.

## Describe the solution you'd like

A user should be able to create a new publishing profile while another one is being provisioned.  Also, we need to allow for publishing to be done to two different publishing profile

[2021-03-05 20:41] Dewain27 opened #6260 "Post creation process, Composer needs to inform the user that it is done loading the project template"
## Is your feature request related to a problem? Please describe.

In Composer today, it is unclear when your bot project template is fully loaded (especially in mulit-bot projects).

## Describe the solution you'd like

Composer should have some way to inform the user that their bot project template is still being loaded and when the process is fully complete.

## Additional context

Creation Fun

[2021-03-05 20:46] Dewain27 opened #6261 "Composer template selection and package manger interfaces need to be consistent in UX"
## Is your feature request related to a problem? Please describe.

Composer looks very different when you are looking for and selecting your starting template from package manager.  Many features such as selecting feed or adding a custom feed, search. list display, and etc. need to be consistent between the two user experiences.

## Describe the solution you'd like

Unify the design of the creatio

[2021-03-05 20:51] Dewain27 opened #6262 "Creation allows for template spoken language selection"
## Is your feature request related to a problem? Please describe.

Composer will need to allow the user to select the default spoken language for the template that the developer wants to target for their users.

## Describe the solution you'd like

When you select a template in the creation experience, you will need to be able to select the default spoken language that the template supports for yo

[2021-03-05 20:58] Dewain27 opened #6263 "When selecting a template in creation that requires LUIS the local development environment populates the LUIS key and region"
## Is your feature request related to a problem? Please describe.

When you open a template in Composer today that requires LUIS, it gives an error telling you that you need to create / enter a LUIS key.  Composer should have the user logon as part of the creation or post creation experience to allow you to create / select / enter a LUIS key and region.

## Describe the solution you'd like

After

[2021-03-05 21:06] benbrown commented on #6190
There are three pieces of this:

1. this block needs to be ported into the code that currently handles the completion of the provisioning process -> https://github.com/microsoft/BotFramework-Composer/blob/702f34ac70943626a1afda57ffce9b408708bdd9/Composer/packages/client/src/recoilModel/dispatchers/project.ts#L315

2. New create flow needs to handle this alias field -> https://github.com/microsoft/

[2021-03-05 21:11] Dewain27 opened #6264 "A user should confirm that they want to cancel or abort the creation process and lose their selections"
## Is your feature request related to a problem? Please describe.

The creation experience in Composer should notify the user that if they abort or cancel the creation modal that their selections will be lost.

## Describe the solution you'd like

On the template selection screen there should be a link to GitHub that properly tags a request from a user and allow them to be able to request a templa

[2021-03-05 21:17] Dewain27 opened #6265 "Export bot project to allow import from another user using Composer"
## Is your feature request related to a problem? Please describe.

Composer should have a way to package up the project that I have made and allow me to provide it to another developer.

## Describe the solution you'd like

Composer should have an Export button or Save as should offer to same my project to a .zip file or similar to allow for easy sharing of my project with others.  An import or op

[2021-03-05 21:20] Dewain27 opened #6266 "Composer to support character encoding"
## Is your feature request related to a problem? Please describe.

As a user, I want to be able to use my character encoding in my creation experience, so that I can support the characters of my native language.  Example: If my bot uses characters that are only available in Spanish such as “ñ” or any other language-specific Unicode characters.

## Describe the solution you'd like

Composer should

[2021-03-05 21:24] Dewain27 opened #6267 "Guided experience in Composer for connecting / disabling skills"
## Is your feature request related to a problem? Please describe.

Composer should have a guided experience for teaching users how to connect / disable skills

## Describe the solution you'd like

Getting started / post creation experience should provide guidance on how to get existing skills / connect them and disable them.

## Additional context

Creation Functional Spec 2.3

[2021-03-05 21:28] tomlm opened #6268 "PackageManager should be called Component Manager."
## Describe the bug

**Package manager** should be called **component manager** . All of the documentation is describing that it's **component model**, but the tool is called package manager.

## Version

v1.3.1-nightly.217913

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Look at package

[2021-03-05 21:29] Dewain27 opened #6269 "Composer post creation experience that walks user through how to do common customization and configuration items"
## Is your feature request related to a problem? Please describe.

Composer needs to have an experience post the creation process that helps a user understand how to complete the common bot customization / configuration items.

## Describe the solution you'd like

Post creation, it would be good to have a check list of items that you need to do to complete your bot configuration / customization.

[2021-03-05 21:32] tomlm opened #6270 "tab navigation is wrong."
## Describe the bug
USing tab to navigate between fields doesn't navigate in proper order

## Version

1.3.1-nightly-219713

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to packagemanager
2. edit feeds
3. type name of feeed 'foo'
4. hit TAB

## Expe

[2021-03-05 21:33] Dewain27 opened #6271 "Composer to create a Web Chat hosted experience when published and connection is enabled"
## Is your feature request related to a problem? Please describe.

The bot project should have a fully configured web chat deployed as part of the bot solution when you enable Web Chat in the connections screen.

## Describe the solution you'd like

Web Chat could be part of the standard bot template and deployed / published when the connection is enabled in the connections interface in Composer.

[2021-03-05 21:37] Dewain27 opened #6272 "Post creation guided experience for Orchestrator reports"
## Is your feature request related to a problem? Please describe.

If I have enabled Orchestrator, then a guided experience should inform me on how to generate orchestrator reports.

## Describe the solution you'd like

Documentation on how to generate Orchestrator reports should be exposed to the user if they have implemented Orchestrator in their Bot Project.  This should be triggered if the Orc

[2021-03-05 21:41] Dewain27 opened #6273 "Composer to allow for user to rotate bot app password"
## Is your feature request related to a problem? Please describe.

Bot admin / developers should have an easy way in Composer to be able to rotate their bot app password.

## Describe the solution you'd like

In Composer there should be an experience in bot settings that would allow me to easily rotate my bot app password.

## Additional context

Creation Functional Spec 3.14

[2021-03-05 21:41] mewa1024 opened #6274 "Installing package when your bot has existing assets of the same name causes error"
## Describe the bug

If you install a package that has dialogs that use the same name as dialogs already existing in your bot, you get an error. Need friendlier error message to delete/rename existing stuff first?

## Version

Version:  1.3.1-nightly.220254.a558e78
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0
## Browser

- [x] Electron distribution
- [ ] Chrome
-

[2021-03-05 21:46] Dewain27 opened #6275 "Composer guides user on how to enable Teams as a connection"
## Is your feature request related to a problem? Please describe.

Teams should be easy to enable as a connection for a user's bot project.  Composer should guide the user on how to enable this in Composer and in Teams.

## Describe the solution you'd like

There should be a connection enable experience that allows a user to be able to turn on Teams connection and it should generate a manifest fil

[2021-03-05 21:47] Dewain27 commented on #6275
Currently blocked due to need for agreement on R13 interface for Channel / Adapter / Connection

[2021-03-05 21:52] Dewain27 opened #6276 "Composer guides user on how to enable speech as a connection"
## Is your feature request related to a problem? Please describe.

Speech should be easy to enable as a connection for a user's bot project. Composer should guide the user on how to enable this in Composer.

## Describe the solution you'd like

There should be a connection enable experience that allows a user to be able to turn on speech connection and it should provision the proper speech service

[2021-03-05 21:52] Dewain27 commented on #6276
Currently blocked due to need for agreement on R13 interface for Channel / Adapter / Connection

[2021-03-05 21:56] tomlm opened #6277 "Installing multiple packages only shows one package in the Installed"
## Describe the bug

I added multiple packages from a custom source.  The installed only shows 1 of the custom packages in the UI.

## Version

1.3.1-nightly.220254

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to package manager
2. Add a custom fee

[2021-03-05 21:56] Dewain27 opened #6278 "Composer guides user on how to enable Web Chat as a connection"
## Is your feature request related to a problem? Please describe.

Web Chat should be easy to enable as a connection for a user's bot project. Composer should guide the user on how to enable this in Composer

## Describe the solution you'd like

There should be a connection enable experience that allows a user to be able to turn on Web Chat connection and it ensure that proper project code for Web

[2021-03-05 21:57] Dewain27 commented on #6278
Currently blocked due to need for agreement on R13 interface for Channel / Adapter / Connection

[2021-03-05 22:02] tomlm opened #6279 "Custom functions provided by components are flagged as invalid by composer"
## Describe the bug

When an custom component is added which adds new functions composer is flagging them as invalid.

## Version

1.3.1-nightly.220254

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu
## To Reproduce

Steps to reproduce the behavior:

1. Go to packagemanager
2. add custom feed \\fusebox\publi

[2021-03-05 22:09] tomlm opened #6280 "Bot should not be blocked from running if there potential syntax error"
## Describe the bug

When there is a syntax error the bot is blocked from running.  There is no reason to do this, we already are communicating that there is a perceived error, and composer is NOT perfect in it's ability to detect errors.

## Version

1.3.1-nightly.220254

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
-

[2021-03-05 22:11] #5496 closed

[2021-03-05 22:22] tonyanziano commented on #6128
Some findings:

This works in Emulator when run from source, but **does not** work in a production build.

[2021-03-05 22:26] tomlm opened #6281 "There is no way to add a custom trigger via the UI."
## Describe the bug

When a component adds schema for new triggers the UI does not show them.

## Version

1.3.1-nightly.220254

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to package manager
2. add feed \\fusebox\public\feed
3. install github pack

[2021-03-05 22:48] tomlm opened #6282 "Composer Action menu should group custom actions by dotted paths."
## Describe the bug

When adding custom actions the convention is to namespace them with dots, and if you have a lot of them, further namespace
the name of the action with dots.

For example:
 Github.Activity.Feeds.GetFeeds

Composer treats it as a flat list, we should default to using dots as grouping, and group in the menu hierarchy.

## Version

1.3.1-nightly.220254

## Browser

- [x] Electron

[2021-03-05 22:50] tonyanziano commented on #6128
We think that this might have something to do with the internal Electron build that we use in the production app of both Emulator and Composer.

The internal build we use might be missing codecs used for certain audio / video playback such as .wav files.

[2021-03-05 22:52] tomlm opened #6283 "Compose tries to render Actions array in the property pane with custom triggers"
## Describe the bug

When you load a .dialog with a valid custom trigger in it, the UI for the trigger will attempt to render the actions array.

## Version

1.3.1-nightly.220254

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to package manager
2. Ad

[2021-03-05 23:08] tomlm commented on #6283
I suspect I can fix this with a custom .uischema, but do I really need to do that?  What's the scenario where we would edit actions in the property pane ever?

[2021-03-05 23:31] cwhitten commented on #6283
This is an example of the system working correctly. If it's in your component schema, it gets rendered. You can hide this with uischema if you do not want it rendered. Why would you want Composer to apply these sorts of opinions. Seems orthogonal to our principles.

[2021-03-06 00:02] sangwoohaan commented on #6215
What is the icon between the runtime manager icon and the webchat icon?

[2021-03-06 00:35] sangwoohaan commented on #6168
This should be always a dropdown no matter what you choose by design. Must be a bug

[2021-03-06 01:39] mmarzillo opened #6287 "Remote Skills Not Working"
I have successfully deployed a simple remote skill, but when I attempt to access it from a consumer bot, the remote skill never works.

When I test the consumer bot locally on the emulator the consumer bot will work but when the remote skill either errors out with a 40x code or just doesn't work. The remote skill works fine on portal but not when connected to the consumer. I've spent considerable

[2021-03-06 01:48] zxyanliu commented on #6287
Thanks @mmarzillo
The issue was reproduced on my end as well. I was able to connect to an example remote skill, but I was unable to connect to a remote skill I published to Azure.

Composer version:

I got 401 in the Emulator:

![1](https://user-images.githubusercontent.com/32497439/110190962-e7c93d80-7dda-11eb-8890-598b417fcaa3.png)

[2021-03-06 05:51] Jenny0932 commented on #5354
By the way, contacted with the microsoft support team and turns out it's LUIS portal UI issue. Now it's all working as it before.

[2021-03-06 06:10] hsachinraj commented on #6082
Can I get some assistance here? I need to fix this quite urgently.

[2021-03-06 13:00] mmarzillo commented on #6287
Worth adding, that when I go to the url for the skill this is what I get.

![image](https://user-images.githubusercontent.com/6752474/110207518-94da9f00-7e49-11eb-901d-4a4acc10d9c8.png)

[2021-03-06 18:28] Bracciata opened #6289 "ProvisionComposer.Js infinitely loops after outputting the information for publishing."
## Describe the bug

ProvisionComposer.Js infinitely loops after outputting the information for publishing. I get the following then my apps information "Your Azure hosting environment has been created! Copy paste the following configuration into a new profile in Composer's Publishing tab." then the spinning wheel goes on forerver. This is with a fresh bot.

## Version

Release: 1.3.1

## Browser

[2021-03-06 21:03] afahmy11 opened #6290 "show ms graph user photo in an adaptive card"
hi

i am getting the user photo using an api call to https://graph.microsoft.com/v1.0/users/{id}/photo/$value .  and i want to display it in an adaptive card that accepts a url. how can i do that

[2021-03-06 22:29] tomlm opened #6291 "Renaming a dialog doesn't rename the files. There is no way to do that."
## Describe the bug

Managing the name of files is super important, because it is the name which is used for mergning files, updates, etc.
While I can give a different "label" to a dialog, the funderlying assets are not renamed.  This is not just super confusing it will lead to merges in files that you don't understand what the files are.

## Version

1.3.1-nightly220254

## Browser

- [x] Electro

[2021-03-06 22:46] tomlm opened #6292 "packagemanager error dialog crops error message so it's not actionable"
## Describe the bug

When there is an error the error dialog is super narrow and it crops the message

## Version

1.3.1-nightly220254

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to packagemanager
2. edit .uischema to cause an error
3. See error m

[2021-03-06 23:14] tomlm opened #6293 "Teams package displays bogus menus"
## Describe the bug

Teams triggers show up distored in menu

## Version

1.3.1-nightly202254

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to to add trigger
2. Select Team triggers

## Expected behavior

The menus shouldn't look like that.

## Scre

[2021-03-06 23:20] tomlm commented on #6293
@EricDahlvang , this might be a bug on the package side.

[2021-03-06 23:25] tomlm opened #6294 "When I add a custom recognizer it doesn't show up in the drop down"
## Describe the bug

adding a custom recognizer doesn't show up in the drop down, even though there is a .schema file registering it.

## Version

1.3.1-nightly 20254

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to package manager
2. install \\fuse

[2021-03-06 23:28] tomlm opened #6295 "merged .schema and .uischema files should not be called sdk.schema and sdk.uischema"
## Describe the bug

The files on disk are still called **sdk.schema** and **sdk.uischema**. This is wrong, they are not the sdk, but the merged view of installed components some of which come from the sdk.

## Version

1.3.1-20254

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to re

[2021-03-06 23:38] tomlm opened #6296 "Show a legend of the memory scope properties in use"
## Is your feature request related to a problem? Please describe.

It is extremely hard to keep track of what variables are in use. AS the bot gets more complex it becomes harder and harder

## Describe the solution you'd like

We should have a legend on the trigger flow page which shows contextually the properties in use
![image](https://user-images.githubusercontent.com/17789481/110224576-ab0c4d

[2021-03-06 23:44] tomlm opened #6297 "LG Template for SendActivity should be named the same as the SendActivity."
## Is your feature request related to a problem? Please describe.

Currently templates have obfuscated ids assigned which makes the Bot Says section unusable
![image](https://user-images.githubusercontent.com/17789481/110224648-34bc1b00-7e92-11eb-9c4a-f0b2ccccaa4a.png)

## Describe the solution you'd like
Dialog names are unique. make the SendActivity name unique within id and use that dialogId +

[2021-03-07 00:51] tomlm opened #6298 "Azure resources should be sorted by name, not guids"
## Describe the bug

When enumerating resources you should sort alphabetically not by guid

## Version

1.3.1-nightly20254

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. To to manage profiles
2. Add a azure webapp profile
3. Click on subscription, this

[2021-03-07 00:55] tomlm opened #6299 "Add Resources deselects all selected resources when I click on the resource name"
## Describe the bug

When creating publish profile there are checkboxes next to the optional resources.  If I click on the checkboxes it toggles the check for the item I click on.  But I click on the resource name, it deselects ALL checkboxes.  That seems wrong.

## Version

1.3.1-nightly20225

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ]

[2021-03-07 01:04] tomlm opened #6300 "Composer is not consistent with patterns for dialog buttons and saving"
## Describe the bug

Composer uses many different patterns for UX around dialogs, confirmation etc, and needs to be made consistent.
* Commit button is sometimes on the left sometimes on the right
* Commit button is sometimes DONE sometimes OKAY, sometimes a VERB
* X to close a model dialog is erratic
etc.

## Version

1.3.1-nighlty220655

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ]

[2021-03-07 03:30] JohnRobertGreen commented on #6218
I did not update Composer. I did not update the publishing profile (excepting for setting the access token). I have just retried publishing and it works. There's been no changes at my end. I do note that errors in LUIS (no prediction resource shown and error messages in the Notification panel) are also fixed. So I'm thinking this was a problem with LUIS rather than Composer.

[2021-03-07 17:43] aiipe opened #6304 "Cannot select Skill Endpoint and bot throw error 'Value cannot be null. (Parameter ‘uriString’)'"
## Describe the bug

Added a remote skill bot, but from the trigger cannot select the Skill Endpoint and bot throw error 'Value cannot be null. (Parameter ‘uriString’)'

## Version

v1.3.1

## OS
- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Add remote skill
![image](https://user-images.githubusercontent.com/4598977/110248833-f3b92900-7fad-11eb-8c77-4db2398a12ff.png)

2. Cre

[2021-03-07 22:06] Rekeyea commented on #6113
Adding more details, it happens when using a custom runtime. When going back to the default runtime this does not happen.

[2021-03-07 22:16] Rekeyea commented on #6113
I used the "Get a new copy of the runtime code" functionality. Had to rerun the schemas, but it apparently is working again.
What I saw is that before the update, my **Runtime code location** was _runtime_ but when I got the new copy it was automatically set for _../runtime_. So I guess that was the issue.

I think this can be closed. Thanks for all your help.

[2021-03-07 23:43] cwhitten commented on #6132
Closing as this has been entirely redesigned

[2021-03-07 23:43] #6132 closed

[2021-03-07 23:49] cwhitten commented on #6125
@chrimc62 this header has been entirely redesigned and the Creation team is evaluating the right getting started experience with new creation. Will leave open for discussion.

[2021-03-07 23:53] cwhitten commented on #6108
@sangwoohaan the team will need responsive designs for this header to properly address this.

[2021-03-07 23:54] cwhitten commented on #6119
@carlosscastro assigning to you to get the team some debugging logs. I expect you will see an error

[2021-03-07 23:55] cwhitten commented on #6095
@luhan2017 @VanyLaw @hibrenda this is a regression if correct. adding to RC board if so.

[2021-03-07 23:58] cwhitten commented on #5942
Closing with the expectation that bf-cli 4.12 addresses this.

[2021-03-07 23:58] #5942 closed

[2021-03-08 00:40] luhan2017 commented on #6185
@clearab what composer version did you use? it is supposed to be fixed in the latest nightly.

[2021-03-08 00:42] luhan2017 commented on #6102
@zidaneymar Could you try to get this list manually, I want to have a basic understanding on those regions, then we can decide.

[2021-03-08 00:49] luhan2017 commented on #2240
@yagnesh-tendulkar What is the exact issue? Could you check your settings: Always On in you webapp, turn it on and try again?

![image](https://user-images.githubusercontent.com/32191031/110261386-069e1e80-7feb-11eb-95e3-d288420c9971.png)

[2021-03-08 00:52] luhan2017 commented on #6218
@JohnRobertGreen Yes, thanks for the response, I also got confirmation from another customer that it is a luis issue which is already fixed and works fine now.

[2021-03-08 00:52] #6218 closed

[2021-03-08 00:59] luhan2017 commented on #5949
This is already fixed in the latest main branch, just close it.
![image](https://user-images.githubusercontent.com/32191031/110261816-a7410e00-7fec-11eb-9cec-eddc5a9c7d1a.png)

[2021-03-08 00:59] #5949 closed

[2021-03-08 01:05] luhan2017 commented on #5923
@JaskeeratBedi-cmk , here is the Review&Create page in the latest main branch. I saw two differences
- in the design, the subscription is listed there, do we still want to show that, it will take extra space.
- The resource type name is different with the design, but I think it is the official name
Do you think the current UX is fine? Anything else needs to be updated?

![image](https://user-image

[2021-03-08 01:14] luhan2017 commented on #6095
@cwhitten @cwhitten @Dewain27 This is not a regression, we don't add the checkbox besides the required services because

![image](https://user-images.githubusercontent.com/32191031/110262429-9c877880-7fee-11eb-8191-3879df6836d6.png)

[2021-03-08 01:17] boydc2014 commented on #6182
@zhixzhan can you help check this one?

[2021-03-08 01:17] boydc2014 commented on #6039
@yeze322 can you help check this one?

[2021-03-08 01:19] boydc2014 commented on #6187
@taicchoumsft can you comment on this one?

[2021-03-08 02:31] zhixzhan commented on #6182
OK, I can take this

[2021-03-08 03:04] #6249 closed

[2021-03-08 03:07] #6133 closed

[2021-03-08 03:08] srinaath commented on #6215
@sangwoohaan  its the app updater icon. In addition, i feel like that icon doesn't match for app update available. Do you think we need a different icon?

[2021-03-08 03:09] #6215 closed

[2021-03-08 03:52] zhixzhan commented on #6182
dulplicated to https://github.com/microsoft/BotFramework-Composer/issues/5551

1.3.1 released on 14 Jan,
The fix https://github.com/microsoft/BotFramework-Composer/pull/5573 is checked in main on 22 Jan

and I checked recent nightly build, works well

[2021-03-08 03:52] #6182 closed

[2021-03-08 03:54] zhixzhan commented on #5551
The fix https://github.com/microsoft/BotFramework-Composer/pull/5573 has been checked in main on 22 Jan
but 1.3.1 released on 14 Jan, so it suppose to be included at next release.

I checked recent nightly build, it works well.

[2021-03-08 04:12] boydc2014 commented on #6280
What kind of errors you see in your case, unknown functions?

I think there are two things in this issue
* Should composer block starting bot when unknown functions detected(a semantic error). The behavior today is yes, it will block unless you inform compose the unknown functions. This is probably arguable.
* Should composer block starting bot when there is syntax error. The behavior today is yes

[2021-03-08 04:13] JaskeeratBedi-cmk commented on #5923
We can leave out the subscription.
The body copy is still missing, under the header "Review & create". Other than that, looks good.

[2021-03-08 04:40] JaskeeratBedi-cmk commented on #6095
I suggest we replace the default round selection box that we get from list to **checkboxes**. Checkbox gives us different states such as disabled, unchecked and checked and will give more explicit user feedback, which is of the essence in this case. ( See attached)
![checkboxes](https://user-images.githubusercontent.com/67944302/110275125-4d592d80-7f85-11eb-8e92-2253adeed927.png)

[2021-03-08 05:30] taicchoumsft opened #6305 "Publishing (Legacy Runtime): Publishing to Azure likely broken for legacy runtime if using LUIS/Orchestrator/QNA"
## Describe the bug
Change introduced [here](https://github.com/microsoft/BotFramework-Composer/commit/b64b438edd22cdcc837722517994692f948858c7) definitely breaks Orchestrator publishing on the legacy runtime, and likely also breaks Luis/QNA.

The change is in `LuisAndQna.ts` - `ComposerDialogs`  was removed from path.

When publishing using the legacy runtime, the generated folder is a child of `

[2021-03-08 06:08] boydc2014 commented on #6305
The breaking change is this path change
![image](https://user-images.githubusercontent.com/3829387/110281298-69a5aa80-8017-11eb-9084-af3780514ba6.png)

This path is later used by "builder" to build luis/qna/orch models and putting resulting to a generated folder. This is a shared builder by both local publisher and azure publisher.

So, @taicchoumsft and @lei9444  how about we added the 'ComposerD

[2021-03-08 06:11] #6188 closed

[2021-03-08 06:11] #6189 closed

[2021-03-08 06:24] alanlong9278 commented on #6056
I can not reproduce the error. Could u give me the detail steps for the issue, thanks. @JaskeeratBedi-cmk

[2021-03-08 06:29] boydc2014 commented on #5551
ok, close it for now.

[2021-03-08 06:29] #5551 closed

[2021-03-08 08:20] Junenursyaiddah opened #6342 "how to show images attachment file on other dialog only using bot framework composer?"
Hi guys, I'm still new to playground with bot framework composer  use 4.0 version,
I create ask question with summary result, and I have problem when show result images attachment file on other dialog,

-on upload images ,
I used send response -${ShowImage(dialog.attachments[0].contentUrl, dialog.attachments[0].contentType)} ,and its work to show the images on same dialog

-other dialog menu
I cre

[2021-03-08 08:42] #5785 closed

[2021-03-08 08:49] liweitian commented on #6183
Hi @hibrenda  @boydc2014 @lei9444 @zhixzhan, this is not a "bug".
Once we update on common.lg, we will reparse all other lg files. We put the parse process into a worker, so we need wait several seconds for the data refresh.

[2021-03-08 09:13] zidaneymar commented on #6102
![image](https://user-images.githubusercontent.com/9328933/110299814-1dfffa80-8031-11eb-8941-8c79ccc19fa1.png)

It seems that we could merge the allowing regions except bot service.

[2021-03-08 10:17] #6233 closed

[2021-03-08 11:33] #6138 closed

[2021-03-08 11:50] LakshummaC opened #6310 "Reprompt Adaptive card with Validations in Bot Composer"
Hi Team,

As part of requirement in Bot Composer, we need to prompt a input text adaptive card which satisfies no blanks and only numbers regex validation. If input is blank or alphabets then adaptive card has to be repromoted for 3 times. Below is screen shot of adaptive card. Tried with validation rules but still it is not working.

![image](https://user-images.githubusercontent.com/76558423/110

[2021-03-08 12:07] LakshummaC opened #6311 "Dynamic/Custom Adaptive card implementation in Bot Composer."
Hi Team,

Earlier using VA Template we have customized the adaptive card using for loops and adaptive card nugget packages.
Now our requirement is using BOT COMPOSER we have Add/Remove buttons, where on 'Add' button click new Input text has to be added and on 'Remove' button click one input text has to be removed from adaptive card prompting and finally display list of results as another adaptive

[2021-03-08 12:32] #6056 closed

[2021-03-08 13:19] danielallen73 commented on #5354
Hi Jenny, please can you elaborate on your comment. Do you have an example redacted publishing profile you can share please? Thank you

[2021-03-08 14:50] devInTheNorth commented on #2926
Hi, i am having a similar issue on v1.3.1 of composer

[2021-03-08 14:59] #6183 closed

[2021-03-08 15:00] boydc2014 commented on #6183
Close this due to by design, we will continue optimize the performance here.

[2021-03-08 15:27] pedro-ramirez-suarez opened #6312 "Sharing LUIS resource"
Hi,

We are developing a bot with multiple skills, we are close to reaching the limit of 10 LUIS resources per subscription per region, since we don't have a lot of LUIS conversation apps in total it would be great if we can have all of them in a single LUIS resource, is that possible? I tried to host all of them together by replacing the LUIS section in the publish profile of the skills with the

[2021-03-08 15:34] cosmicshuai commented on #6137
@beyackle
I got it. Currently, only the variables defined in setProperty action can be used for auto-completion. I will add a walk through for all variables defined in LG files and make them available in auto-completion.
One thing I am curious is that, if we did not defined `turn.activity.text` in a setProperty action, your responses here will probably be
[code]

[2021-03-08 16:04] Dewain27 opened #6313 "Add ability to add User Input (Choice) powered by LUIS intents"
## Is your feature request related to a problem? Please describe.

As a user, I would like to be able to provide a User Input (Choice) powered by LUIS, so that I can use the power of LUIS to catch intents to do things like confirmations natively in composer.

## Describe the solution you'd like

When creating a User Input (Choice) being able to select an intent as an option in the choice matrix.

[2021-03-08 16:15] benbrown commented on #6231
Package Manager currently only shows packages that include a schema file, or >=1 exported declarative file.   The intent is for package manager to be *for conversational components*, not for every type of package you might use.

Otherwise, it *shouldn't* matter where they are installed.

Do those packages that didn't appear include schema files?

[2021-03-08 16:17] benbrown commented on #6228
We currently support this style of local feed, which requires the packages to be "added" to a feed:
https://docs.microsoft.com/en-us/nuget/hosting-packages/local-feeds

We'll look into also supporting the "folder full of nupkgs" approach.

[2021-03-08 16:19] benbrown commented on #6226
There is actually a PR open that includes a revision of this UI that and does away with the need to click a save button at all. (updates are saved when you click done)

Should be fixed in #6219

[2021-03-08 16:27] benbrown commented on #6274
Globally unique file names is a tricky requirement of the adaptive system right now.

We will have to try to catch this error and display it in a nicer way.  There isn't currently a great way to rename files.

[2021-03-08 16:33] benbrown commented on #6234
@pavolum can you please take a look at this

[2021-03-08 16:34] mewa1024 commented on #6187
Changing the feed manually as Ben described above worked, so I can close this bug. Thanks!

[2021-03-08 16:34] #6187 closed

[2021-03-08 16:53] scheyal commented on #6272
@vivekkshankar - please take a look.

[2021-03-08 16:56] scheyal commented on #6167
We need to redirect LU learn more link to an intermediate page that explains Orchestrator limitations and LU processing, with a further link to the original LU explanation.

[2021-03-08 16:58] benbrown commented on #6305
Yes I believe this will break the new runtime. We need to figure out a way to have this path be different for these different circumstances. I'll work with @taicchoumsft

[2021-03-08 16:59] scheyal commented on #4249
@vivekkshankar - need also design.

[2021-03-08 17:54] EricDahlvang commented on #6287
This looks like an appid/password config or ngrok issue.  Could someone from support assist please?

[2021-03-08 18:04] cwhitten commented on #6109
@BeheraMadan as stated in other tickets, when you are using the QnA Action to call a Knowledgebase you should see the behavior as a black box -- you don't have the kind of control to dig into the internals of the QnA processing like you would if you authored the knowledgeable in Composer directly.

When calling QnA like you are, you will need to go into the QnAMaker portal and utilize the function

[2021-03-08 18:04] #6109 closed

[2021-03-08 18:04] EricDahlvang commented on #5811
@luhan2017 and @RonnieYak were you able to resolve this issue?

[2021-03-08 18:05] cwhitten commented on #5431
@Dewain27 adding you to follow up or provide guidance here as part of the provisioning work stream.

[2021-03-08 18:07] EricDahlvang commented on #5479
Hey @peterbozso

Thank you for this PR: https://github.com/microsoft/BotFramework-Composer/pull/5315  have you had time to look over the feedback?

[2021-03-08 18:08] iMicknl commented on #6051
Apparently `cardActionTemplate` is defined in `common.en-us.lg` in this sample, see:
https://github.com/microsoft/BotFramework-Composer/blob/2b224daf513ad46c57c98403a23fcea4fd5436f3/extensions/samples/assets/projects/RespondingWithCardsSample/language-generation/en-us/common.en-us.lg#L41-L47

For now, I was be able to unblock my scenario. However for other customers/partners it would be good to ha

[2021-03-08 18:15] SChandlee-ARIFleet opened #6314 "Split() does not resolve variable as input parameter"
## Describe the bug

We are delimiting our answers in QnAmaker to support using an adaptive card. We are using "|" as the delimiter.

'log to console' step resolves as expected. Text for 'log to console' step: **=split("${@answer}","|")**. Reviewing the console log the trace resolves **${@answer}** correctly.
If I set a property to the same text -  **=split("${@answer}","|")** I am not returned th

[2021-03-08 18:19] cwhitten commented on #6051
Great feedback @iMicknl

I'll transfer this issue to another project to discuss including this template as part of a package of utility templates made available to install into a Composer solution.

[2021-03-08 18:20] a-b-r-o-w-n opened #6316 "dev: lint-staged is not working on Windows"
## Describe the bug

The pre-commit hook for formatting files is not working on windows since #6090

[2021-03-08 18:42] v-kydela commented on #6199
@aparnaji - You're in luck because Web Chat supports [Adaptive Cards](https://blog.botframework.com/2019/07/02/using-adaptive-cards-with-the-microsoft-bot-framework/), and Adaptive Cards allow [multi-select inputs](https://adaptivecards.io/explorer/Input.ChoiceSet.html) that will render as checkboxes.

You can read more in this Stack Overflow answer: https://stackoverflow.com/a/66285161/2122672

D

[2021-03-08 19:02] mmarzillo commented on #6287
Thanks @EricDahlvang I don't think it's ngrok because I was able to access other remote skills that were published by other people, but it may be something with the appid/pw. Would love to speak with someone in support as soon as we have someone. Thanks!

[2021-03-08 19:03] benbrown commented on #6134
@scheyal are you experiencing this issue with the latest builds?

[2021-03-08 19:44] tdurnford commented on #6168
@sangwoohaan I don't believe there is a way to make it a text field and a dropdown at the same time.

[2021-03-08 19:47] #6316 closed

[2021-03-08 19:57] scheyal commented on #6167
Could add this section somewhere:

https://github.com/microsoft/botframework-sdk/blob/scheyal/sdk/Orchestrator/docs/LUFormat.md

[2021-03-08 20:14] v-kydela commented on #6290
Thank you for the question, @afahmy11

Adaptive Cards can only display public images. They cannot access URL's that require authorization, though [Matt Hidinger says they have plans to solve that problem](https://github.com/Microsoft/AdaptiveCards/issues/2170#issuecomment-733115350).

In the meantime you have two options, though both are somewhat undesirable.

1. You can reupload the image to a pu

[2021-03-08 20:14] #6290 closed

[2021-03-08 20:37] #6113 closed

[2021-03-08 20:43] srinaath commented on #6152
Closing after trying a repro with @sgellock . The Webchat control is able to handle adaptive card greetings.

[2021-03-08 20:43] #6152 closed

[2021-03-08 20:46] EricDahlvang commented on #6239
Hi @BeheraMadan

We do not currently have a sample demonstrating how to access state from middleware.

This will hopefully provide some guidance:

[code]

If further assistance is required, please direct usage questions to Stack Overflow with the #botframework tag: https://stackoverflow.com/questions/tagged/botframework

[2021-03-08 20:46] #6239 closed

[2021-03-08 20:56] #6153 closed

[2021-03-08 21:16] iMicknl opened #6322 "Validation in prompts is not saved to Dialog"
## Describe the bug

In the latest nightly, validation in prompts is not saved to the Dialog. When you go to another menu, and go back, you will see that the input has not been saved. The validation input is also not visible in the .dialog code view.

https://user-images.githubusercontent.com/1424596/110382760-a5626380-805b-11eb-91ce-ebc2d19c412f.mp4

## Version

![image](https://user-images.githu

[2021-03-08 21:39] #6198 closed

[2021-03-08 21:47] v-kydela commented on #6287
@mmarzillo - When you say remote skill, do you mean a skill that's running on a remote server? Can you get that skill to work when you run the skill locally? If you encounter the same problem when the skill is running locally then that will help us debug it.

Also, please provide the following:

1. Repro steps
2. Screenshots
3. Links to any documentation or samples you're following