[2020-07-01 17:07] mareekuh commented on #2506
Well it was a placeholder waiting for additional content (Scenarios/spec/requirements). We could use it as an 'epic' and add other workitems to it?

[2020-07-01 17:09] #2506 closed

[2020-07-01 17:09] benbrown commented on #2506
closed in favor of #3405

[2020-07-01 18:09] GeoffCoxMSFT commented on #3487
Andy opened a duplicate item: #3457

[2020-07-01 18:09] #3487 closed

[2020-07-01 18:10] GeoffCoxMSFT commented on #3481
@beyackle - Do you want to take this one to add the the eslint rules?

[2020-07-01 18:53] beyackle commented on #3481
Will do. Am I right that you mean the standard `() => { return stuff; }` sort of lambda functions instead of the anonymous `function () { return stuff; }` stype?

[2020-07-01 20:37] rubit0 commented on #2240
Are there any news on the issue?

[2020-07-01 21:02] LouisEugeneMSFT opened #3544 "Investigate how to add global Intellisense for all fields in Composer"

[2020-07-01 21:19] DDEfromOR commented on #2240
For clarification, the hosted Direct Line channel and the Direct Line App Service Extension are two separate concepts. Composer bots will work with the hosted Direct Line channel out of the box with no modification, simply by adding the channel to the bot via the Channels blade in the portal.

To enable a Composer bot to work with the Direct Line App Service Extension you will need to follow the s

[2020-07-01 23:59] rubit0 commented on #2240
No no, not Direct Line App Service Extension, it's about **Direct Line channel**.
(I had no idea that there is a difference, I'm 100% in the Bot Composer world)

I want to use the Bot via Direct Line RestAPI SDK (No WebChat, it's a c# Unity App). The Bot Framework Composer deploys everything but the Issue is, that the deployment out of the Box with Bot Framework Composer doesn't work with Direct L

[2020-07-02 00:29] mareekuh opened #3547 "Marieke's test example"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2020-07-02 01:27] DDEfromOR commented on #2240
Understood. The fact the welcome message is working (assuming the welcome message is from the bot and not part of your client) shows the bot is properly connected to the Direct Line channel and able to send and receive messages through it. That lets us rule out a number of variables.

I should encourage you to open a new ticket in this repo and specifically include the message about the missing ke

[2020-07-02 02:31] #2753 closed

[2020-07-02 05:22] luhan2017 commented on #2240
@rubit0 How can I reproduce this? Just publish a bot to azure and enable it with Direct Line Channel? Did you customize your runtime?

[2020-07-02 06:22] rudrasingh21 commented on #3430
Hi @luhan2017  : Apologies for a delay response , Yes I have v1.0.1 installed in my machine. I tried and created  new bot using it , but still i am facing the same issue . It gives me below error when I start bot.

Composer needs .NET Core SDK

To run this bot, Composer needs .NET Core SDK. Learn more.

Install Microsoft .NET Core SDK

[2020-07-02 06:29] VanyLaw commented on #3301
Hi @damarqmsft, It's the zipping issue when we zip the runtime before upload. we will fix it in #3536

[2020-07-02 06:40] #3534 closed

[2020-07-02 07:39] HimajaKRNttData opened #3548 ""Intent Recognised" trigger not working."
I've set the Recogniser type to "LUIS" and yet the trigger isn't working. I'm using this trigger to add QnA KB to the Composer.

So everytime the user types the intent "Help" or "FAQ", the QnA has to get triggered. But the Composer isn't able to read the intents to trigger the response.

## Browser

- [ ] Electron distribution
- [- ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS

[2020-07-02 08:23] luhan2017 commented on #3430
@rudrasingh21, maybe we can have a call over Teams on this?

[2020-07-02 08:28] luhan2017 commented on #2240
@rubit0 could you share more details on how are you using the Direct Line RestAPI SDK? I have not done that before. I just try to deploy a luis bot to azure and enable the Direct Line Channel, it works well. Is there any case that in your sdk you need to read some keys specific for direct Line channel, and those settings are not correctly loaded by composer runtime?

[2020-07-02 08:40] zhixzhan commented on #3426
In #3398 the implementation is when change bot `settings.defaultLanguage` also sync the change to `settings.luis.defaultLanguage`

app settings.json:
[code]

[2020-07-02 08:52] hibrenda commented on #3548
Does this trigger belong to main dialog or sub dialog ? Trigger will be invoked if the conversation is still in this dialog. So could you double check the the conversation flow?

[2020-07-02 09:45] krusejan commented on #3499
Hi @cwhitten , I think @goergenj request is to have the Composer User Interface available in another language (German). I am getting this requirement as well from more customers. If I understand correctly #3398 is about supporting multiple languages in a bot application itself, so the bot can interact with users in different languages, which is a different requirement.

Does Composer offer any cap

[2020-07-02 10:10] HimajaKRNttData commented on #3548
@hibrenda This trigger was a part of a sub dialog. I changed it to the main dialog and check as well. It ain't getting triggered.

[2020-07-02 12:00] rubit0 commented on #2240
@DDEfromOR
I tried out your recommendation about disabling 'logActivities' but I still get the "Value cannot be null. (Parameter 'key')" response from the bot.

[2020-07-02 12:09] rubit0 commented on #2240
@luhan2017
I'm doing nothing special, the errors come regardless if I test manually via Postman or in my c# app.
This is how a conversation looks like:

  "activities": [
    {
      "type": "message",
      "id": "70S4qS4aXPVKgagQD7r8pj-h|0000000",
      "timestamp": "2020-07-02T12:06:56.1334174Z",
      "channelId": "directline",
      "from": {
        "id": "TestBotForTrackedObjects",

[2020-07-02 12:12] rubit0 commented on #2240
This is tutorial and there you can download the bot composer project:
https://github.com/onginnovations/mixed-reality/blob/azure-develop/mixed-reality-docs/mrlearning-azure-05.md

[2020-07-02 12:15] hibrenda commented on #3548
Could you attach the bot assets( dialog file , lu file and lg file)  so we could have a look ?

[2020-07-02 12:38] HimajaKRNttData commented on #3548
Sure. Here you go.
[Main.zip](https://github.com/microsoft/BotFramework-Composer/files/4864243/Main.zip)

[2020-07-02 13:18] hibrenda commented on #3548
There is no recognizer defined in main.dialog. Do you specify the recognizer ? By the way, you are using the old version of composer. Could you upgrade to the latest version.

[2020-07-02 13:20] cwhitten commented on #3499
Ah, I understand. Yes we’re working on localization of the app. I’ll update
this ticket when we have more details.

On Thu, Jul 2, 2020 at 2:45 AM Jan Kruse <notifications@github.com> wrote:

[2020-07-02 13:40] hibrenda commented on #3540
List entities represent a fixed, closed set of related word. This means when you input the related words, it will be recognized as the normalized value.

[2020-07-02 13:51] andreatosato opened #3551 "Logout - Teams"
Hi all,
We are currently encounter error on Teams channel.
We need to implement SignOut Dialog as mentioned in this issued: https://github.com/microsoft/botframework-sdk/issues/5799
How can I implement this on composer?
Can I execute this [dialog](https://github.com/microsoft/BotBuilder-Samples/blob/8d9d0688ce3d2d28b49a5f0eaf0ff882ed6ac6ff/samples/csharp_dotnetcore/46.teams-auth/Dialogs/LogoutDial

[2020-07-02 13:57] hibrenda commented on #3533
https://github.com/microsoft/BotFramework-Composer/pull/3536 may fix the issue

[2020-07-02 14:30] luhan2017 commented on #2240
@rubit0, I downloaded your bot, and tried to run it locally, here is what I see:
can you run it successfully locally? I've remove the Azure function steps ,still not works.

![image](https://user-images.githubusercontent.com/32191031/86371506-86812580-bcb3-11ea-9732-69c4a6da9bcf.png)

[2020-07-02 15:46] nathanvv opened #3552 "Unable to open project ( "Can not connect the storage." )"
## Describe the bug

Not able to use the open feature of bot frame work composer

![image](https://user-images.githubusercontent.com/11080029/85875760-5826b600-b79a-11ea-9d8f-3680a38d7f31.png)

## Version

![image](https://user-images.githubusercontent.com/11080029/85875800-67a5ff00-b79a-11ea-985c-b54c552db96d.png)

## Browser

Bot framework composer desktop application
- [ ] Electron distribution

[2020-07-02 15:47] nathanvv commented on #3552
@liweitian : Closing the app does not help. The desktop application is an electron app that still runs the web app in the background right?. I am able to do developers tools in the app

![image](https://user-images.githubusercontent.com/11080029/86154386-a0124980-bac8-11ea-83cd-7399ca5e9393.png)

Notice on the error in console . Its just holding to that path, how do I clear that path, tried cleari

[2020-07-02 15:55] sgellock commented on #3380
@hibrenda can you provide links to issues so this customer can track our progress and see what work is on the books?  thank you

[2020-07-02 17:01] #3481 closed

[2020-07-02 19:48] rubit0 commented on #2240
@luhan2017 You are right, I was also having the same problem, I removed botId, luis-endpointKey end luis-endpoint in botsettings. Now the bot works again from the local emulator. Sadly this didn't help with the "Value cannot be null. (Parameter 'key')" issue.

[2020-07-02 21:12] rubit0 opened #3554 "Published Bot won't work via Direct Channel. Bot responds "Value cannot be null. (Parameter 'key')""
A bot created and published by the Bot Framework Composer will work fine with the default Web Chat channel.
When adding the Direct Line channel and then performing requests against the API REST endpoint, the Bot will give the initial greeting and then onward responds only with "Value cannot be null. (Parameter 'key')".

## Version

1.01

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] S

[2020-07-02 21:12] rubit0 commented on #2240
@DDEfromOR  @luhan2017 I created a new issue -> https://github.com/microsoft/BotFramework-Composer/issues/3554

[2020-07-03 05:04] hibrenda commented on #3380
@sgellock Sure. attached the issues https://github.com/microsoft/BotFramework-Composer/issues/3355
and related pr https://github.com/microsoft/BotFramework-Composer/pull/3436

[2020-07-03 06:22] luhan2017 commented on #3554
@rubit0 , I have dowloaded your bot and tested it. It works fine in my side, the only change I did is to remove the httpsteps to the azure functions, because I don't have a azure function example. Could the issue be caused by the http request to azure functions? could you share more details on that? do you use any key to access the azure function urls?

![image](https://user-images.githubuserconte

[2020-07-03 14:21] viivalerio commented on #3554
Hey @rubit0 I was facing the exactly for a couple of days and luckly I could find out why this morning.

In my case what fixed was adding the "locale" field in the json request body when creating an activity. Here is how my POST request looks like:

POST https://directline.botframework.com/v3/directline/conversations/{conversationId}/activities

{
  "from": {
    "id": "customId",
    "name": "cus

[2020-07-03 15:04] rubit0 commented on #3554
@viivalerio I'm glad to hear that you got it sorted out on your side. Sadly I don't quite understand what you mean, when you start a new conversation, you simply do a POST request with no body: https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-start-conversation?view=azure-bot-service-4.0

Are you using a different API? I can't find anything where it sa

[2020-07-03 15:07] rubit0 commented on #3554
@viivalerio Oh wow now it works! Thank you!

[2020-07-03 15:22] rubit0 commented on #3554
@luhan2017 @@DDEfromOR I did submit the problem and solution to the documentation page: https://github.com/MicrosoftDocs/bot-docs/issues/1806

Big thanks again to @viivalerio in providing the fix!

[2020-07-03 23:44] Stevenic opened #3560 "Feature: Add Declarative Actions Support"
The ability to add dialogs is useful but parameterize them is a bit of a pain. We really need the ability to create reusable dialogs which work more like actions so I'm proposing we add the concept of "Declarative Actions" and I'll show some UX mockups for how I think you'd create them within composers current IA.

### New Add Action Option
The first thing we'd add is the ability to add a new cust

[2020-07-03 23:47] Stevenic commented on #3560
One question might be, why not just make dialogs work this way? Your project could have hundreds of dialogs and you wouldn't want to clutter up the actions menu with every dialog. Distinguishing Custom Actions from Custom Dialogs let you be selective about which actions get added to the custom actions menu.

[2020-07-04 00:42] samaroj opened #3561 "Can't publish bot"
400 - {"error":{"code":"BadArgument","message":"Failed to parse azure account information object object."}}

Message:
![image](https://user-images.githubusercontent.com/25364986/86502106-27fe9900-bdd2-11ea-8565-48cd62563075.png)

My publish configuration

{
  "accessToken": "eyJ0eXAixx",
  "name": "QnAMaxx",
  "environment": "composer",
  "settings": {
    "applicationInsights": {
      "Instrumen

[2020-07-05 12:33] triciasinclair commented on #3460
Hi @luhan2017 will this also resolve the below issue?
I've tried the workarount to also include the tenantid but with no success...

{
  "error": {
    "code": "InvalidBotData",
    "message": "Bot is not valid. Errors: The bot name is already registered to another bot application..  See https://aka.ms/bot-requirements for detailed requirements."
  }
}

![error](https://user-images.githubuserconte

[2020-07-06 02:51] zhixzhan commented on #3532
Hi @cxbuilders , can you give more detail to re-produce this, or the bot file if you don't mind.

[2020-07-06 07:22] goergenj commented on #3317
Hi guys,

if you don't support sending this optional parameter via the API, why is it in the documentation?
https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamakerruntime/runtime/generateanswer#request-body

Please update this on whether this is supported or not and clear up this confusion.

The UserID would be relevant for GDPR as this is the only way to look-up information or to del

[2020-07-06 09:51] saikiran521 opened #3562 "How to customize the return response of QnA maker in Composer"
Hi,

I am new to Composer, I am exploring it. I have a requirement that need to handle the response of QnA maker, but in Composer only knowledgebaseid,endpointkey and hostname  are congigurable. based on the details Composer is returning the response.

Please let me know a way where I can add an condition to the response, based on the condition the knowledge base response will return.

Thanks in a

[2020-07-06 10:11] hibrenda commented on #3561
@samaroj you need to provide the endpointkey as well for luis publish.

[2020-07-06 10:18] hibrenda commented on #3562
@saikiran521 what kind of condition you'd like to add ? could you share more details ?

[2020-07-06 10:19] hibrenda commented on #3551
@luhan2017 for more comments

[2020-07-06 10:25] saikiran521 commented on #3562
@hibrenda based on the response length from QnA, want to return a message

[2020-07-06 10:36] luhan2017 commented on #3551
@andreatosato there is a signout action in the sdk side, we will enable it in composer in R10.

[2020-07-06 11:41] hibrenda commented on #3554
@Danieladu @boydc2014 Do you have more comments for this issue ? sounds like LG language policy issue.

[2020-07-06 11:45] hibrenda commented on #3562
@saikiran521 Thanks. This is on our roadmap. Composer will support the inline QnA editing.

[2020-07-06 11:46] hibrenda commented on #3562
https://github.com/microsoft/BotFramework-Composer/pull/3420

[2020-07-06 13:38] VanyLaw commented on #3452
Can not reproduce. But Maybe it's the issue during folder zipping, which we fixed in #3557 .

[2020-07-06 14:06] #3539 closed

[2020-07-06 16:26] benbrown opened #3564 "Rename `master` branch to `main`"
We should join the movement and change the name of our main branch to `main`.

- [x] Change the branch name on Github
- [x] Update branch protection rules on Github
- [x] Update all open PRs to point at `main`
- [x] Update tests that only fire on `master` or use `master` to perform the test
- [x] Update any build pipelines that use `master`
- [x] Update .gitignore (has path to master)
- [x] Update

[2020-07-06 16:55] srinaath commented on #2293
This is a future work item not planned for R10

[2020-07-06 20:19] mareekuh opened #3566 "Update customer examples on Web page"
Currently the webpage still has laliga and ijet and other old case studies. Could you update?

(should be assigned to Will Mendoza)

[2020-07-06 20:27] mareekuh opened #3568 "test to be assigned to Em"
text

[2020-07-06 20:29] emivers8 opened #3569 "em test"

[2020-07-06 20:36] mareekuh opened #3570 "Linking a descriptive task (for design to review and us as a team to use) and link it to a specific work item in the VA repo"

[2020-07-06 20:37] mareekuh commented on #3569
[https://github.com/microsoft/botframework-solutions/issues/3510](url)

[2020-07-06 20:39] mareekuh commented on #3570
https://github.com/microsoft/botframework-solutions/issues/3510

[2020-07-06 20:56] zxyanliu opened #3571 "Organize old docs"
## Description
- [x] Moved old docs in the [docs folder](https://github.com/microsoft/BotFramework-Composer/tree/master/docs) to the Archived docs folder.
- [x] Updated TOC with each topic pointing to Composer docs ms.aka links

[2020-07-06 23:07] a-b-r-o-w-n commented on #3565
@vishwacsena Composer will use the most specific example for the placeholder. Since the `oneOf` property includes examples in each item, we will use that value instead of the example defined on the `resultProperty` schema.

[2020-07-07 02:57] mareekuh commented on #3380
- **Export as skill -**> Add another toolbar item: Create manifest and Leave the 'Export as skill'. [See design here](https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=1174%3A0)
- **Naming of Manifests** -> Fair request. Is there a reason why the name is not editable? If not, let's add a default name (structured as currently spec'ed) but allow people

[2020-07-07 07:11] cxbuilders commented on #3538
any updates on this?

[2020-07-07 07:14] cxbuilders commented on #3421
@xieofxie Could you push this to the PVA issue list? This would make the combination BF / Composer / PVA much more flexible..

[2020-07-07 07:16] cxbuilders commented on #3380
@mareekuh Keeping multiple versions was about versioning the bot, however the bot itself represents 1 version, so 1 manifest would do. So I agree you can skip this requirement.

[2020-07-07 08:45] yeze322 commented on #2244
already closed by #2405

[2020-07-07 08:45] #2244 closed

[2020-07-07 09:21] #3301 closed

[2020-07-07 10:10] hibrenda commented on #3554
https://github.com/microsoft/botbuilder-dotnet/issues/4219 sdk fixed the issues . composer will adopt latest sdk fix.

[2020-07-07 12:54] cxbuilders commented on #1829
I am also not able to make a post request using content type: application/x-www-form-urlencoded
I have tried Json Body and the string body in the style of client_id=23232323&client_secret=1212121212

When using the string body style it gives an error Parent is missing, when using Json body style, the result is simply a 403 as it can't see the data coming in. How to do this?

[2020-07-07 13:02] samaroj commented on #1829
Hi @cxbuilders , remove the **application/x-www-form-urlencoded** in the Headers and put the **application/x-www-form-urlencoded** on the Content type textbox.

[2020-07-07 13:27] cxbuilders commented on #1829
@samaroj That's exactly what I have;
![image](https://user-images.githubusercontent.com/49873947/86788372-61e7cd80-c066-11ea-88c0-2be8d0adb691.png)

[2020-07-07 13:32] cxbuilders opened #3580 "Response Type "standard response" switches back to expression"
- Create a HTTP Request
-  Select "standard response" in the Response Type Value type dropdown
- Select Json
- Click away to another component and back again
- Dropdown is changed to expression
![image](https://user-images.githubusercontent.com/49873947/86788948-09650000-c067-11ea-9ead-61489f5e1959.png)

[2020-07-07 13:36] samaroj commented on #1829
@cxbuilders by the way what bot framework composer version are you using now?

[2020-07-07 13:39] cxbuilders commented on #1829
@samaroj f9128fbd

[2020-07-07 14:29] cxbuilders commented on #3532
@zhixzhan In the latest version this bug has disappeared, so I guess we're all good :)

[2020-07-07 14:29] #3532 closed

[2020-07-07 15:07] pankajsurti opened #3581 ""Only absolute URLs are supported" error for publishing the Bot"
## Describe the bug

## Version

## Browser

- [x ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
Publish to Selected Profile
2. Click on '....'
Select the profile. Which worked fine earlier when the Bot was created first time with LUIS and QnA
3. Scroll dow

[2020-07-07 15:57] #3571 closed

[2020-07-07 16:11] madbeher opened #3582 "storing transcript in blob storage"
Hi,

How can i store the transcript in blob storage with composer please let me know.

Thanks.....

[2020-07-07 16:43] cwhitten commented on #3538
Hi @cxbuilders we're looking at this now. Thanks for your patience.

[2020-07-07 16:44] cwhitten commented on #3541
Initial discussion suggests a new action in the SDK for telemetry purposes. Transferring to botbuilder-dotnet.

[2020-07-07 16:45] cwhitten commented on #3547
Hi @mareekuh - what's this about?

[2020-07-07 16:49] cwhitten commented on #3560
@Stevenic the team has been working this for a bit now and we'll share our direction with you to get feedback.

[2020-07-07 17:01] cwhitten commented on #3581
hi @pankajsurti - the team has recently addressed this and it will be included in an upcoming release (1.0.2)

[2020-07-07 17:01] #3581 closed

[2020-07-07 17:04] cwhitten commented on #3582
hi @madbeher - you should be able to achieve this by providing the appropriate connection information in the Bot settings:
Go to `Settings` -> `Bot Settings`

[code]

[2020-07-07 17:35] tdurnford commented on #3580
@cxbuilders

It looks like the `getSelectedOption` function in the Expression ui-plugin,  which is responsible for setting the dropdown, does not check if the `value` is included in the `enumOptions`. As a result, it sets the dropdown to 'expression' instead of 'standard response.'

https://github.com/microsoft/BotFramework-Composer/blob/182f4220e3e200791d07ef6243cfbc904632cf7b/Composer/packages/u

[2020-07-07 17:40] vishwacsena commented on #3421
@Andrea-Orimoto @scheyal @sbacha can you track this as part of the BF-PVA engagement?

[2020-07-07 18:04] a-b-r-o-w-n opened #3583 "Support UI Schema from bot project"
## Is your feature request related to a problem? Please describe.

A `ui.schema` provided by the bot project should override the default ui schema as well as any plugin provided schemas.

## Todo

- [x] create ui schema json schema definition (microsoft/botframework-sdk#5955)
- [x] index ui schema when loading a bot project
- [x] pass the ui schema to the client and propagate to the form / visual

[2020-07-07 18:22] #3457 closed

[2020-07-07 18:22] GeoffCoxMSFT commented on #3457
Merge completed this work.

[2020-07-07 18:27] vishwacsena commented on #3565
@a-b-r-o-w-n , I was referring to using the more specific example provided by the `resultProperty` in its schema definition which would be this .. "dialog.userName" and if that is missing, fall back to the any examples in the `stringExpression` definition?

[2020-07-07 19:29] TylerOdenthal commented on #2425
I still think this is an issue, I experienced it today using Composer Desktop.

Remaking my bot would waste a day.

![SorryConnectingToBotRuntime](https://user-images.githubusercontent.com/63730511/86832767-78cdf600-c04d-11ea-858f-36dd5631429e.png)

[2020-07-07 19:32] TylerOdenthal commented on #2425
I think I'm experiecing a similar problem. Remaking my bot would waste a day, so it isn't a great solution.

I was trying to create a new LUIS intent and upon next compile I got this.

![SorryConnectingToBotRuntime](https://user-images.githubusercontent.com/63730511/86832890-a155f000-c04d-11ea-8537-985b59baecc4.png)

I was constructing a new intent inside of the main dialog.

[2020-07-07 20:22] a-b-r-o-w-n commented on #3565
@vishwacsena I see. I'll schedule this in the next release.

[2020-07-07 20:27] mareekuh commented on #3547
This is me trying to link issues between repos.
I've been capturing design work and backlog [here ](https://github.com/microsoft/BotFramework-Composer/projects/28 but needed to make sure I can link to both the Composer as well as the Solutions repo).
It works. Feel free to add new design requests that are not of the level of detail as a gitissue in the Left column (backlog)

[2020-07-07 20:30] a-b-r-o-w-n commented on #3483
@GeoffCoxMSFT let's connect before starting this work.

[2020-07-07 21:01] a-b-r-o-w-n opened #3588 "Support `fieldsets` in ui schema"
## Is your feature request related to a problem? Please describe.

As a developer of a custom sdk component, I would like to be able to have better control over the organization of the form UI by being able to group fields together in fieldsets.

## Describe the solution you'd like

[code]

## Additional context

This could also support the tabbed view that we do with the prompts today.

[2020-07-07 21:03] a-b-r-o-w-n commented on #3588
@sangwoohaan @mareekuh Getting this on your radar to start a discussion. @tomlm has requested this feature in the ui schema that we currently don't support.

Since we have talked about hiding some fields behind an "Advanced" section, I think this would be a good way to achieve that. Let's use this thread to discuss.

[2020-07-07 21:32] pankajsurti commented on #3581
@cwhitten  When will be 1.0.2 released?

[2020-07-07 23:39] mareekuh commented on #3588
Could you share some examples of the scenario - what is the dev trying to accomplish? And what would be common examples for which fieldsets are needed/used?

[2020-07-08 00:17] sandeepreddy0987 opened #3589 "Bluetooth and GPS access from mobile to the bot"
By chance do we have an option to access features like Bluetooth and GPS in Microsoft bot framework. if yes, How can we access and use them inside bot conversation?
If No, This can be a good idea to implement these things . Because we have to build a bot that calculates the distance between the users with mobiles by accessing to the GPS or Bluetooth.
Could you please let me know how to do that wit

[2020-07-08 02:13] luhan2017 commented on #1829
SDK had a fix on this https://github.com/microsoft/botbuilder-dotnet/pull/4064, but composer didn't take that yet.
You could
1. Eject your runtime.
2. Go to the runtime location, and update the packages to the nightly build which includes this fix.

[2020-07-08 02:47] #2945 closed

[2020-07-08 05:33] luhan2017 commented on #3514
@ku222 , I've take a look on this, and finally make it works. Here are some points you need to pay attention to:

1. update startup.cs
[code]

2. add TranslationKey in the appsettings.json
3. Set user.LanguagePreference="YourPreferenceValue" in your bot logic, the translation middleware is reading user.LanguagePreference to decide whether translation is needed
[code]
4. it should work after you ha

[2020-07-08 05:50] cxbuilders commented on #1829
@luhan2017 is there a planned date when you will use the SDK with that fix?

[2020-07-08 06:22] luhan2017 commented on #1829
@cxbuilders I think we will update the sdk package within 2 weeks, there are some important new features depending on the new sdk. will that work for you?

[2020-07-08 06:48] cxbuilders commented on #1829
@luhan2017 Yes, that works for me, can use a workaround in the meanwhile. Thanks!

[2020-07-08 06:55] cxbuilders commented on #3580
@tdurnford Thanks for the update. Bit amazed to see the value type is not stored and attempts are made to extract the value type from the actual value. This also explains all the strange behavior I have seen with this functionality. Eg, adding a string like '=Some Text' would be perfectly valid, but then Composer decides it is an expression.

Not sure why this approach is used for Value Types, but

[2020-07-08 07:12] luhan2017 commented on #3538
@cxbuilders , I have tested it in my side, it all works well for emulator, channel registration and webchat.
![image](https://user-images.githubusercontent.com/32191031/86888542-eb61d300-c12c-11ea-9fef-958736db0a3a.png)

could you share more on how did you config the connections? here is mine:
![image](https://user-images.githubusercontent.com/32191031/86888635-16e4bd80-c12d-11ea-99fe-01adfc90737b

[2020-07-08 07:13] yeze322 opened #3591 "Grouping action editing commands in toolbar to 'Edit' button"
## Describe the bug
design: https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-%2F-UI-library?node-id=2968%3A26994

Move 'Undo' / 'Redo' / 'Copy' / 'Paste' / 'Cut' / 'Delete' to 'Edit' button as sub menu
![image](https://user-images.githubusercontent.com/8528761/86888748-485d8900-c12d-11ea-81fa-fe4ad695d759.png)
![image](https://user-images.githubusercontent.com/8528761/

[2020-07-08 07:23] cxbuilders commented on #3538
@luhan2017 I believe the issue is when the security code that you paste is the first message from the user. So if you can just clear the greeting trigger and just add authentication as the first element it should fail.
Additionally it also works fine when directly after the authentication you jump to a different dialog.

So 3 usecases;

**Authentication Only (Fail)**:
- Authentication
- Respond Su

[2020-07-08 08:30] luhan2017 commented on #3538
Hi, @cxbuilders , I just tried to put the oauth step into the greeting trigger like screenshot 1, and I got the result as the screenshot 2, is there any other differences between our scenarios?

![image](https://user-images.githubusercontent.com/32191031/86896061-fd953e80-c137-11ea-9473-b26ef899f54d.png)

![image](https://user-images.githubusercontent.com/32191031/86896098-0f76e180-c138-11ea-8621-

[2020-07-08 09:05] cxbuilders opened #3593 "New Publish profile not saved"
When creating a new Publish Profile;
![image](https://user-images.githubusercontent.com/49873947/86899637-91e8ac80-c10a-11ea-984d-7d93cb78d55e.png)

Hitting Save. Nothing is created;
![image](https://user-images.githubusercontent.com/49873947/86899666-9b721480-c10a-11ea-8c98-580f9de05d82.png)

Also existing profiles do net get updated when something has been changed in the config. As a workaround

[2020-07-08 09:28] cxbuilders commented on #3538
@luhan2017 I just double checked this and still have this issue. Maybe some differences;

1. I run the bot locally and have the Bot Channel registration messaging endpoint set to https://xxxx.ngrok.io/api/messages (just to be sure)
2. I see you run a local page. I used the url in the iframe src directly from the Web Channel code;
![image](https://user-images.githubusercontent.com/49873947/86902312

[2020-07-08 11:56] HimajaKRNttData commented on #3548
@hibrenda apologies for the late reply. I have upgraded to the latest version. I am sure I have specified the recognizer in the Main dialog.  Still facing the same issue.

[2020-07-08 13:35] fathorMB commented on #2565
I managed to reproduce the issue using also the Bot Emulator application. If I test my bot using the Emulator set with locale en-US everything works fine, if i switch to it-IT it gives this error:
![image](https://user-images.githubusercontent.com/13238241/86924648-0a159900-c130-11ea-84c6-64da0ecb6a16.png)

If I set it to it-it to match the locale of our LUIS application it gives the same error re

[2020-07-08 14:11] hibrenda commented on #3593
Thanks @cxbuilders This just been fixed in https://github.com/microsoft/BotFramework-Composer/pull/3557

[2020-07-08 14:21] hibrenda commented on #3582
@madbeher you could also reference https://github.com/microsoft/BotFramework-Composer/issues/3286 for more detail.

[2020-07-08 14:40] hibrenda commented on #3548
So could you share your bot asset again with the sync on latest composer. you can just click "Export assets to .zip" in tool bar . Thanks.
![image](https://user-images.githubusercontent.com/43408889/86932300-c2acfe00-c16b-11ea-9567-c5b639ee09f8.png)

[2020-07-08 14:42] HimajaKRNttData commented on #3548
Sure. Here it is:
[SelfOrderBot_export.zip](https://github.com/microsoft/BotFramework-Composer/files/4891329/SelfOrderBot_export.zip)

[2020-07-08 15:14] madbeher commented on #3286
thanks @hibrenda @cwhitten its helpfull.....

[2020-07-08 15:16] #3582 closed

[2020-07-08 15:23] #3348 closed

[2020-07-08 15:30] cwhitten commented on #3024
@lei9444 is this all set? Can we close?

[2020-07-08 15:34] hibrenda commented on #3548
@HimajaKRNttData  Now I understand the issues. your flow might be:
- "starting the bot" and welcome message show up
-  you'd like to type "help" to invoke help trigger. but the welcome message re-prompt again.

This is due to you did not set the prompt answer to be interrupted . so "help" will be treated as invalid input for choice prompt.
That's why you saw the re-prompt. Until the max turn accou

[2020-07-08 16:56] #2286 closed

[2020-07-08 18:25] benjaminsommerfeld commented on #2240
@DDEfromOR Could you provide any tutorial or link how exactly we can use Direct Line channel in Bot Framework Composer? I could not find any concrete information, how I can send messages and receive answers on the Direct Line channel. In a typical Bot Framework project I would have a function like this:

private async Task AnswerReceived(IDialogContext context, IMessageActivity message)
        {

[2020-07-08 19:18] tdurnford commented on #3580
@cxbuilders Unfortunately, there isn't a place to store the selected types in the dialog files since the Adaptive Dialogs package infers how to handle the value from the Dialog Schema and the actual value provided by the developer - not from the type selected in the dropdown. If the schema type for the property is an expression that evaluates to a string and you begin the string with an equal sign

[2020-07-08 19:21] ku222 commented on #3514
@luhan2017 THANK YOU!!! It works now!!
Absolutely amazing - can't thank you enough! This is just great.

Understand that this is something you don't want to put into Composer just yet - but should definitely share this somewhere for people to find more easily!

[2020-07-08 21:23] a-b-r-o-w-n opened #3599 "Syntax error when creating a "Send a response" node"
## Describe the bug

The inline lg editor shows a syntax error when creating a new send activity node. This error does not go away when editing the lg template, but does go away when leaving the node and coming back to it.

Also, the error message should be updated to read "Template <template-name> *does* not exist."

## Version

`1.0.1-nightly.144548.99b1246`

## Browser

- [x] Electron distribut

[2020-07-08 23:59] cwhitten commented on #3593
addressed in 1.0.2

[2020-07-08 23:59] #3593 closed

[2020-07-09 00:45] boydc2014 opened #3600 "Multi active web-sockets is created for inline-lg editor"
We observed that when create or re-render the inline lg editor, a new web socket connection is created and all the connections is receiving messages.

This could hurt the overall performance

[2020-07-09 03:55] tomlm commented on #3588
Any time you build a form UX which edits a number of fields you almost always end up wanting to organize them to make it easier to understand.  For example

Color Properties
* BackgroundColor
* ForegroundColor
* TextColor
* Border Color

Another example is cluster things so that less used fields are below the fold or only accessible for advanced users.

Field1
Field2
Field3

Advanced Options<--col

[2020-07-09 05:08] MayankKT opened #3602 "Publish the BOT Framework Composer gives status code 202 for long time, wait almost 2 hrs still getting the same status code"
## after following the step from the document, when publishing the BOT getting the 202 status.

## Version
BotFramework-Composer-master

     "@babel/cli": "^7.8.4",
    "@babel/core": "^7.9.6",
    "@babel/plugin-proposal-class-properties": "7.8.3",
    "@babel/plugin-transform-runtime": "^7.9.6",
    "@babel/preset-env": "7.9.6",
    "@babel/preset-react": "^7.9.4",
    "@babel/preset-typescript

[2020-07-09 05:13] hibrenda commented on #3379
@cxbuilders  for question 1, may need a sample support from middleware. @cwhitten

[2020-07-09 06:23] zhixzhan opened #3603 "LU parser update body not correct."
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots
<img width="2014" alt="image" src="https://user-images.githubuserco

[2020-07-09 06:25] zhixzhan commented on #3603
The reason is parser doesn't include `$a` in last intent's body.

[code]

[2020-07-09 07:06] yeze322 commented on #3527
addressed in #3605

[2020-07-09 07:20] yeze322 commented on #3227
@cwhitten Chris I heard that you had a solution on adapting the system menu in Electron app, can that solution work in the web app as well?

[2020-07-09 07:24] VanyLaw commented on #3602
Yeah @MayankKT, Because the azure deploy need to copy files, build project, publish luis, zip folder and upload it, it's a very time-consuming process. If we don't response 202 which means still processing, the http call will easily timeout.

[2020-07-09 07:45] MayankKT commented on #3602
Yes, I understood but it takes almost 4 hrs but still showing the same status code.

[2020-07-09 08:43] luhan2017 commented on #3538
@cxbuilders , I did all the three steps as you said, and I still can get the oauth token. Could you let me know your runtime package version?

[2020-07-09 10:30] Bernardo08pt opened #3606 "Adaptive cards Submit Actions"
I created some adaptive cards with Submit Actions so the user can click on them as an alternative to writing.

Example
![image](https://user-images.githubusercontent.com/7129408/87028633-cd50ad00-c1d6-11ea-8928-a14a1634e163.png)
![image](https://user-images.githubusercontent.com/7129408/87028783-0b4dd100-c1d7-11ea-9076-6bf6bac5bec0.png)

The problems became when I start testing the bot in Microsof

[2020-07-09 14:23] SaikatRoyChowdhury commented on #3146
I am getting the same error while connecting to skill from bot composer. My app id, endpoint url are correct but still having the same issue. Can someone help me what can be a potential resolution?

[2020-07-09 15:44] #3591 closed

[2020-07-09 15:52] #3535 closed

[2020-07-09 16:21] #3599 closed

[2020-07-09 16:21] #3600 closed

[2020-07-09 16:39] cwhitten commented on #3589
Hi @sandeepreddy0987. While it is possible to connect to these entities, it requires work outside the capabilities of the Bot Framework in order to be successful. Please post this how-to question on Stack Overflow for community support and guidance from others.

[2020-07-09 16:39] #3589 closed

[2020-07-09 16:44] SattaRavi opened #3609 "Adaptive Cards rendering Issues"
Adaptive Cards render fine on Emulator but fails on webchat.

Multiple Adaptive cards used, i was able to fix the card render error for a couple of instances by bumping down the version to 1.0 but few still fail.

![image](https://user-images.githubusercontent.com/6824787/87067287-b440ff80-c1c8-11ea-934e-53aa49c58a92.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safa

[2020-07-09 16:44] cwhitten commented on #3602
Hi @MayankKT - it is unlikely that this process requires the time you're experiencing, and an error has occurred. Can you restart Composer and try again? Also, because you are self-hosting Composer you may see some of this information in stdout of the terminal running the application processes. To give you additional telemtry, run the application with the following:

`DEBUG=composer* yarn start`

[2020-07-09 16:47] #3527 closed

[2020-07-09 17:05] tonyanziano opened #3610 "Improve Auto-Update UX"
## Is your feature request related to a problem? Please describe.

Currently there are some gaps in the Auto-update UX -- especially when the "auto-update" / "silent" option is enabled -- that hide information from the user about what is happening in the background.

## Describe the solution you'd like

We could re-use the UX in the app header that shows an icon when an update is available to prov

[2020-07-09 17:41] UmaPrelude commented on #3146
Hi @SaikatRoyChowdhury ,

Please confirm if you have configured the skill host endpoint and you have setup the ngrok in emulator if it is remote skill.
![image](https://user-images.githubusercontent.com/65938026/87072440-60223380-c239-11ea-8078-af7ec229cd48.png)

Regards,
UmPrel

[2020-07-09 17:55] SaikatRoyChowdhury commented on #3146
Hi @UmaPrelude ,

My skill is hosted in azure and the manifest file endpoint, Microsoft app id is correctly provided and composer can identify it as well..
![Capture](https://user-images.githubusercontent.com/67823922/87073720-7af5a780-c23b-11ea-8f73-6feeba9fb304.PNG)

[2020-07-09 17:56] UmaPrelude commented on #3606
Hi @Bernardo08pt ,

I handled it this way.

  "actions": [
    {
      "type": "Action.Submit",
      "title": "Submit",
      "data":  ${if(toUpper(channelName) == toUpper('msteams') ,'{"msteams": {"type": "messageBack", "value": "Sign Up"},"action": "Sign Up"}' , '{"action": "Sign Up"}')}

    }
  ]

Regards,
UmPrel.

[2020-07-09 18:10] SaikatRoyChowdhury commented on #3146
I am getting the below error now.. Do I need to add something like "allowusers" ? not sure.. please help

![error](https://user-images.githubusercontent.com/67823922/87075133-821db500-c23d-11ea-9a83-be5d41a43230.png)

[2020-07-09 18:17] cwhitten commented on #3146
@SaikatRoyChowdhury can you share your skill manifest and your bot settings?

[2020-07-09 18:24] SaikatRoyChowdhury commented on #3146
[botsettingincomposer.txt](https://github.com/microsoft/BotFramework-Composer/files/4898800/botsettingincomposer.txt)
[SkillManifest.txt](https://github.com/microsoft/BotFramework-Composer/files/4898801/SkillManifest.txt)

@cwhitten Please check the files

[2020-07-09 18:25] didaskein commented on #3130
Also 2 features evolutions request linked to custom function :
  - Be able to Call Async code inside a custom function
  - Be able to return Activity (Speak,Event...) not only text

Thanks.

[2020-07-09 18:30] aliheikal opened #3611 "Banner 404: Banner placeholder in README is showing alt text instead of the banner"
## Describe the bug

Banner img file link is broken aka 404.

## Version

It is more of a documentation, visual issue, but could be referenced as an issue in the `master` branch.

## Browser

Not specific to a certain browser.

## OS

Not specific to a certain OS.

## To Reproduce

Steps to reproduce the behavior:

Go to [README.md](https://github.com/microsoft/BotFramework-Composer/blob/master/RE

[2020-07-09 19:48] #3611 closed

[2020-07-09 20:41] garypretty opened #3614 "Make new Telemetry Track Event action in Composer"
A new action, 'Telemetry - Track Event' (adaptive type Microsoft.TelemetryTrackEvent) has been added to the SDK which needs to be available for a user to add within Composer. The related PR for the action in the SDK is https://github.com/microsoft/botbuilder-dotnet/pull/4252.  This will available in the nightly builds from tonight onwards.

The purpose of the action is to allow a user to raise a c

[2020-07-09 21:02] tdurnford commented on #3609
@SattaRavi What version of Web Chat are you using?

[2020-07-09 21:19] Stevenic opened #3615 "DCR: add expression support to object editor."
When you use the `BeginDialog` action to start a dialog that takes parameters you almost always need to pull the options from memory. You'd like to be able to author the options object like this:

![image](https://user-images.githubusercontent.com/698939/87090515-fa0fbf00-c1ec-11ea-8540-e41f2f647f73.png)

That matches the way you'd author a JSON object using LG but it's not supported by the Object

[2020-07-09 21:26] Stevenic commented on #3615
I do realize this would require a change to the underlying adaptive expression but it is a current pain point.

[2020-07-09 21:28] Stevenic commented on #3615
The other option would be to change the `BeginDialog` skill to take a list of option parameters where each param value can be an expression. The UX would look similar to that of the switch statement.

[2020-07-09 21:53] #3551 closed

[2020-07-10 09:35] Bernardo08pt commented on #3606
Hi @UmaPrelude

thanks for your answer, it makes perfect sense but can you tell how can I access the channel name in composer?

Thanks in advance

[2020-07-10 09:44] UmaPrelude commented on #3606
Please use turn.activity.channelId
![image](https://user-images.githubusercontent.com/65938026/87140657-7f63a400-c2bf-11ea-89f8-f55dc0f70cc8.png)
![image](https://user-images.githubusercontent.com/65938026/87140926-e3866800-c2bf-11ea-9d01-59d53419f732.png)

Hope this will help. Kindly let me know.

[2020-07-10 09:53] Bernardo08pt commented on #3606
@UmaPrelude it works!!

thank you so much

[2020-07-10 11:38] hibrenda opened #3618 "Need ux design for error & warning on triggers if switching recognizer types"
Switching the recognizer type from Default to regex, composer will show warning if OnQnAMatch or OnChooseIntent exist. Meanwhile if user add OnQnAMatch or OnChooseIntent trigger under regex recognizer, composer will show warning as well.
as these triggers will require the crosstrain feature which not support under Regex Recognizer.

Currently we show warning as following :
![image](https://user-im

[2020-07-10 14:08] cwhitten commented on #3146
@SaikatRoyChowdhury the `endpoint` element looks incomplete. See the below screenshot from https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill

![image](https://user-images.githubusercontent.com/1156704/87163382-1b6bbc00-c27c-11ea-9812-21b1fb7072eb.png)

[2020-07-10 14:23] SaikatRoyChowdhury commented on #3146
@cwhitten
can you please tell me what is missing in my endpoint element?
"endpoints": [
      {
        "name": "src",
        "protocol": "BotFrameworkV3",
        "description": "Default endpoint for the skill",
        "endpointUrl": "<endpoint>",
        "msAppId": "xxxx"
      }

The error I am getting as mentioned earlier is that "error while connecting to <endpoint>", the endpoint it's tryi

[2020-07-10 14:24] rudrasingh21 commented on #3430
Sure @luhan2017  :- Meanwhile , I updated Composer version to v1.0.2

After this updated , I am getting another error given below.

Sorry, something went wrong with connecting bot runtime

Error: spawnSync C:\Windows\System32\cmd.exe ENOBUFS

Let me know if you have an idea about it for a quick resolution.

[2020-07-10 15:01] cwhitten commented on #3146
in the botsettings file, what does <fileurl> mean? can you provide an example?

[code]

[2020-07-10 15:10] SaikatRoyChowdhury commented on #3146
@cwhitten
It's the manifest file url like https://xxx.com/manifest/manifest.json
The skill I deployed in Azure, I am trying to consume it in bot composer through this manifest file.
Please let me know if you need further clarification.

[2020-07-10 15:18] cwhitten commented on #3146
is skillHostEndpoint also a manifest file url?

[2020-07-10 15:33] SaikatRoyChowdhury commented on #3146
@cwhitten
Yes, but I tried giving skill url like https://xxx.com/api/messages but got the same error..
I see by default composer took the manifest file endpoint as skill endpoint but changing also I didn't got any expected result..

[2020-07-10 15:37] cwhitten commented on #3146
See this block from https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill for how to appropriate use the skillHostEndpoint field.

![image](https://user-images.githubusercontent.com/1156704/87172073-828f6d80-c288-11ea-8a2f-0a2e96e8ed83.png)

[2020-07-10 15:40] #3102 closed

[2020-07-10 16:45] a-b-r-o-w-n commented on #3419
@sangwoohaan What is the status of the design work on this one? Will be we able to start working on this in R10?

[2020-07-10 17:59] mareekuh commented on #3419
@a-b-r-o-w-n  This is on @vivekkshankar 's plate as he is also working on Skills and therefore will experience the need to collaborate and communicate with devs to improve and edit content and dialog flows as a designer.

@vivekkshankar  - let's check in quickly before you start.
There are 2 existing things within Composer we can build on ;
1. Every node/property currently has a **description fiel

[2020-07-10 21:58] benbrown commented on #3564
The main branch is now called... `main`!

[2020-07-10 21:58] #3564 closed

[2020-07-12 05:29] SaikatRoyChowdhury commented on #3146
@cwhitten
I tried running my bot in local and tried to give local skill host endpoint "http://localhost:3978/api/skills" even tried with ngrok url to connect to my azure bot.. But I don't think it's able to hit my skill bot(tried using debugger".
Moreover, just a thought is there any existance to "api/skills"? since from manifest it's connecting to "api/messages".
Error: "Object reference not set

[2020-07-12 15:12] SaikatRoyChowdhury commented on #3146
![skillhost](https://user-images.githubusercontent.com/67823922/87250039-2131ef00-c480-11ea-8555-5960c670ef52.png)

[2020-07-12 19:25] SaikatRoyChowdhury commented on #3146
![error_13July](https://user-images.githubusercontent.com/67823922/87254851-7a5f4a00-c4a3-11ea-8644-e495ef2617e1.png)

[2020-07-13 04:07] mareekuh commented on #3463
@hibrenda and @liweitian  - is it possible to do a quick recording of the QnA experience. Would like to send to people in ABS, VA & solutions and to Lilli so they know QnA is very close to being natively available in Composer

[2020-07-13 04:11] Trubzzz opened #3620 "Coalesce and the datetimeV2 entity"
I'm having an issue with extracting user input from a triggering utterance, specifically when it comes to the datetimeV2 entity. I'm currently working on a process with multiple entities required and an open-ended initial intent trigger. For example,
1) User: I want to book an appointment
2) User: My name is John and I'd like to schedule an appointment
3) User: My name is John and I'd like to sche

[2020-07-13 04:14] liweitian commented on #3552
@nathanvv Sorry for late reply. The Path "c:/repos/***********" is surely stored somewhere. But you cannot see it in the an electron app. And I still need some more info on this bug then I can help to debug it. Could you try on the link here https://github.com/microsoft/BotFramework-Composer#build-composer-locally, I need to know what happened on the backend. You can paste the error on the termina

[2020-07-13 05:10] liweitian commented on #3463
@mareekuh Sure. Will try to apply all changes we talked last Thursday then record it.

[2020-07-13 08:38] luhan2017 commented on #3460
@triciasinclair , according to the error message, you already passed the tenant id part, it should fail at the web app provision part, could you try to update your bot name, it looks like you are using an existing bot name which cause the provision failure.

[2020-07-13 08:47] luhan2017 commented on #3430
@rudrasingh21 , it looks like it is due to out of buffer. could you try to restart composer and see if you could see this error consistently?

[2020-07-13 09:47] rudrasingh21 commented on #3430
yes , I restarted Composer multiple times as well restarted my machine . but no luck .

Any other way I can increase buffer?

[2020-07-13 10:11] malotho opened #3622 "version 1.0.2 crash on windows server 2019 Datacenter"
## Describe the bug
After upgrading from version 1.0.0 to 1.0.2 when opening the old bots the Composer app hangs and doesnt start up ever again.

## Version
1.0.2
I cannot paste the SHA because the app does not start up.

## Browser

- [ ] Chrome

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Install version 1.0.0
2. Create a bot application test and run in emulator
3

[2020-07-13 10:52] zidaneymar commented on #2705
Will investigate how to enable customized adapter in Composer runtime in the next few days.

[2020-07-13 12:50] behram-kn opened #3624 "Hand off to live agent documentation"
Can we have a step by step guide to 'Hand off to live agent', 'Hand off using MS teams and  D365 Omnichannel" in the documentation, similar to Azure health Bot and Power virtual agent, please.

[2020-07-13 16:15] luhan2017 commented on #3463
@mareekuh I upload the video in the composer channel. https://microsoft.sharepoint.com/:v:/t/ConversationalAI785/EWdvE0DhKJVPqAJxcVnIWPYBD3Fvpi2Y52-SpWgjZmDHgQ?e=Kezylm

[2020-07-13 16:43] cwhitten commented on #3146
@SaikatRoyChowdhury please answer the following:

1. what runtime package version are you using for the SDK?
2. have you ejected and customized your runtime?
3. the 500 Internal Service Error means that something is crashing in your runtime and access logs to monitoring stdout of the running processes may give you more information as to what is going on.

cc @luhan2017

[2020-07-13 16:45] mareekuh commented on #3618
@hibrenda
First pass on designs by Vivek. Please leave comments inline

https://www.figma.com/file/deFhMPBnRWxTYiYDYqYxrc/Composer---Vivek?node-id=6696%3A99621

[2020-07-13 16:47] mareekuh commented on #3419
First pass at designs by vivek are here [https://www.figma.com/file/deFhMPBnRWxTYiYDYqYxrc/Composer---Vivek?node-id=6696%3A97661](url)

@benbrown  and @a-b-r-o-w-n  Please leave comments inline in Figma

[2020-07-13 17:10] mareekuh opened #3625 "Update UX Copy on Home Page"
[9:56 AM] Scott Gellock
[..] we should change the text that is on the Composer apps "home" age
we say that Composer is an integrated developement environemtn (IDE) for building bots.
but it's not an IDE.  We don't debug, we don't write C# or JS or Python or Java code.
Integrated develop,ent Evnironments are heavy weight developer tools.  Eclipse, Visual Studio, JetBrains, XCode are the only 4 IDE

[2020-07-13 17:12] mareekuh opened #3626 "Design -> Create"
Can we change the label of the 'Authoring Canvas' in the menu bar (grey vertical bar) from 'Design' to 'Create'.
Create is inline with what the Power Tools (flow etc) use to refer to the creation / design canvas.

Marieke

[2020-07-13 17:28] zxyanliu commented on #3625
@mareekuh I have two suggestions: a short one and a long one.

1. "Bot Framework Composer is an open-source visual authoring canvas for developers and multi-disciplinary teams to design and build conversational experiences."

2. Bot Framework Composer is an open-source visual authoring canvas for developers and multi-disciplinary teams to build bots.  Composer integrates language understanding ser

[2020-07-13 17:37] zxyanliu commented on #3626
@mareekuh works for me.
I will create a PR to update this in UX, together with a fix to the [Composer description issue](https://github.com/microsoft/BotFramework-Composer/issues/3625). Sounds good?

[2020-07-13 17:50] SaikatRoyChowdhury commented on #3146
@cwhitten
what runtime package version are you using for the SDK? - 4.9.3
have you ejected and customized your runtime? - not sure what you referring to. I can run the skill bot in emulator with msappid, password.
the 500 Internal Service Error means that something is crashing in your runtime and looking at any logs or monitoring stdout of the running processes may give you more information as to

[2020-07-13 18:55] cwhitten commented on #3146
What about the Skill bot? Is that also built in Composer or are you wrapping an existing V3/V4 bot with a Skill manifest and appropriate code layering?

[2020-07-13 18:58] SaikatRoyChowdhury commented on #3146
@cwhitten
The skill bot is not build in composer. It's an existing bot which I am trying to consume as skill in composer using manifest file.

[2020-07-13 19:10] cwhitten commented on #3146
@SaikatRoyChowdhury have you looked at the following Samples to make sure you're instrumenting this bot correctly?

https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/80.skills-simple-bot-to-bot
https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/81.skills-skilldialog

[2020-07-13 19:28] SaikatRoyChowdhury commented on #3146
@cwhitten
Thank you for sharing the links. I have those cloned in my local. The 2 main points I found for making a bot as skill is:
1- "AllowedCallers": [ "*" ] - this will allow any consumer bot to call this skill.
2- manifest file under wwwroot - file through which the consumer bot will understand the skill credentials to connect.

I did implemented both and shared the manifest file in this thre

[2020-07-13 20:10] benbrown commented on #3419
I don't think this quite captures the right model - comments should all be visible, and readable as part of the flow itself. I do not think they should be hidden by default, and certainly not only visible one at a time.

The visual treatment is nice, but I would suggest that they work more like full nodes than attachments to a node.

[2020-07-13 20:11] benbrown commented on #3419
Just as a reference, here is what inline code comments look like in _code_ -- as you can hopefully see, the combined comments and code tell a fuller story than one or the other by itself.

![Screen Shot 2020-07-13 at 3 10 33 PM](https://user-images.githubusercontent.com/729873/87348903-1a0bef00-c51b-11ea-9b90-133621400bcd.png)

[2020-07-13 20:21] lauren-mills opened #3627 "Support GoToAction in composer"
## Is your feature request related to a problem? Please describe.
I want to create looping logic similar to a while loop based on a condition to repeat a number of steps in a dialog until the user is done. GoToAction allows me to create this logic simply and fills the feature gap.

## Describe the solution you'd like
Support GoToAction node, and include a dropdown with the actions in the current d

[2020-07-14 10:03] yeze322 commented on #3627
refs #2375

[2020-07-14 10:40] hibrenda commented on #3622
@malotho if you could provide more info with bot assets(dialog, lu, lg files), that can help us to deep dive. Thanks

[2020-07-14 11:45] malotho commented on #3622
[botassetsexcludingassets.zip](https://github.com/microsoft/BotFramework-Composer/files/4918575/botassetsexcludingassets.zip)
Let me know if you need anything extra.

[2020-07-14 13:10] UmaPrelude opened #3628 "Transcript in composer"
Hi,

I wish to send an email with the transcript when user wish to schedule a meeting.
Is there any possibility to get the transcript from composer.
Please recommend.

Regards,
UmPrel

[2020-07-14 15:24] HimajaKRNttData commented on #3548
@hibrenda I followed your steps and the QnA is getting triggered. But how do i make sure the QnA stays triggered??
<img width="869" alt="Capture5" src="https://user-images.githubusercontent.com/64600696/87443773-8cf89100-c613-11ea-98d2-39537eefc646.PNG">

So in the above image,typing "Help" triggers the QnA KB. The first question i type is marked as a QnA trace and an answer is returned from the Q

[2020-07-14 16:01] cwhitten commented on #3609
Closing due to inactivity

[2020-07-14 16:01] #3609 closed

[2020-07-14 16:39] tonyanziano commented on #3628
Hi @UmaPrelude ,

Unfortunately there currently is no way to capture the bot's transcript from Composer other than the currently existing transcript logging middleware which would store the entire transcript in Blob Storage. However, it would then be up to you to process the transcript to grab the appropriate chunk of the transcript related to the conversation.

[2020-07-14 16:39] #3628 closed

[2020-07-14 16:44] tonyanziano commented on #3614
@vishwacsena any comment on this?

[2020-07-14 17:17] kshyambabu opened #3629 "Bot composer OAuth refresh token"
Hi, I am implementing authentication for Active directory v2. Authentication is going pretty well and recieving the token, But not getting the refresh token. The access token is expiring in 1 hour.

1. Is there way to get the refresh the token for the Active directory v2 from the bot composer?
2. If we dont get the refresh token, what would be the best way to handle the token expiration in bot com

[2020-07-14 18:55] zxyanliu commented on #3626
Hey @cwhitten, can you help double-check we should make this update? It's an easy fix, but I wanted to make sure.

[2020-07-14 18:57] zxyanliu commented on #3625
Hi @mareekuh and @cwhitten, can you guys help pick one of the descriptions / or propose new ones so that I can update this in the UI? thanks.

[2020-07-14 19:03] mareekuh commented on #3625
Can we use what we have on the website?

Bot Framework Composer is an open-source, visual authoring canvas for developers and multi-disciplinary teams to design and build conversational experiences with Language Understanding, QnA Maker, and sophisticated composition of bot replies (Language Generation).

[2020-07-14 19:14] mareekuh commented on #3626
![Screen Shot 2020-07-14 at 12 09 27 PM](https://user-images.githubusercontent.com/48503434/87466677-8a724900-c5cb-11ea-95c9-50ae706a3853.png)
![Screen Shot 2020-07-14 at 12 07 11 PM](https://user-images.githubusercontent.com/48503434/87466684-8cd4a300-c5cb-11ea-8f0b-b756bdff5413.png)

[2020-07-14 19:28] benbrown commented on #3351
This will be fixed by #3198.

[2020-07-14 20:14] zxyanliu commented on #3625
@mareekuh I think the one used on the website is too long and without any breaks.
I asked @JonathanFingold for help. We came up with the following one:

Bot Framework Composer is an open-source visual authoring canvas for developers and multi-disciplinary teams to build bots. Composer integrates language understanding services, such as LUIS and QnA Maker, and allows sophisticated composition of bo

[2020-07-14 23:26] cwhitten commented on #3618
Closing as Accepted

[2020-07-14 23:26] #3618 closed

[2020-07-15 02:20] DingmaomaoBJTU commented on #3629
Yes, the oauth prompt will help you refresh token. Note: please do not store the token by yourself, when you want to use token, get it from oauth prompt. Then it will help you manage your token.

[2020-07-15 02:57] kshyambabu commented on #3629
I am using the settings as described below, I should not give the user login card every time token expires. Do I need to set extra configuration for OAuth prompt to get the refresh token without prompting to user login again?
![image](https://user-images.githubusercontent.com/66311936/87498158-c1e90000-c674-11ea-8cb9-e40d2a133687.png)

[2020-07-15 03:29] kshyambabu opened #3631 "Object reference not set to an instance of an object on OAuth login"
## Describe the bug

Added OAuth prompt using. Access External resources => OAuth login. User is prompted with consent to enter the credentials(first time only). Getting the access token after successful login. Getting "Object reference not set to an instance of an object" error response automatically after that.

## Version

![image](https://user-images.githubusercontent.com/66311936/87499826-c1e

[2020-07-15 04:24] mareekuh commented on #3625
Looks good to me!
I’ll get the one on the web updated.

From: Yan Liu <notifications@github.com>
Date: Tuesday, July 14, 2020 at 1:14 PM
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: Marieke Iwema <mariekei@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [microsoft/BotFramework-Composer] Update UX Copy on Home Page (#3625)

@mareekuh<https://n

[2020-07-15 06:19] SattaRavi commented on #3629
@DingmaomaoBJTU can you please  explain a bit further on how to refresh tokens using the oAuth prompt.

i understand the access token can be retrived from the oAuth prompt but, how does one refresh tokens.

our scenario is we authenticate users against AAD and once authenticated the user will be using the bot for an extended period of time.

given the scenario what is the recommended approach to h

[2020-07-15 08:07] kshyambabu opened #3632 "Reopening issue #3629 : Bot composer OAuth refresh token"
Hi, Apologies for reopening the same issue.
The issue was closed without giving much information. My question was how to get the refresh token for OAuth. User has to stay extended period of time on bot. But, the access token from OAuth prompt is getting expired in 1 hour. The questions remain open,
1) How can we use OAuth prompt to get the refresh token?
2) If it is not possible, then how to handl

[2020-07-15 08:48] Bernardo08pt opened #3633 "Replace Dialog Clarification"
Hello,

I don't know if I'm misinterpreting the "Replace Dialog" action or not, so I don't know if this is a bug or not.

I expected that when I'm in the middle of a Dialog and used the "Replace Dialog" the current dialog ended and a new dialog started, but instead what happens is that the new Dialog opens and when it is over it comes back to the previous Dialog.

It seems that the "Replace Dialog

[2020-07-15 09:29] rudrasingh21 commented on #3430
I am stuck and not able to move forward .. need help to get his issue resolved.

Sorry, something went wrong with connecting bot runtime

Error: spawnSync C:\Windows\System32\cmd.exe ENOBUFS

[2020-07-15 09:38] liweitian opened #3634 "The react developer tool introduces an error."
## Describe the bug
In the main branch, **open the dev tool with react developer tools extension installed**.
Open localhost:3000. Refresh the page or do anything that may re-render the page.
Then an error appears.
The debug process is influenced.
Not sure whether this bug is from our project since if we disable the extension, the error won't appear.
## Browser

- [ ] Electron distribution
- [x ]

[2020-07-15 09:42] boydc2014 commented on #3430
from what i understand, this spawnSync error is either the machine is run out of memory, or some parameters is not correctly set when spawn a new process.

Is that possible that for some reason your machine is run out of memory?

[2020-07-15 09:43] boydc2014 commented on #3430
@rudrasingh21 can you try the web app version (check out the code, and cd composer folder, run yarn install && yarn build, then yarn start). this version will show more detailed error messages?

[2020-07-15 10:13] rudrasingh21 commented on #3430
Hi @boydc2014  :- I tried bot ways to use this on my machine .

1) Composer application and 1) using Yarn (#3429)

On both the places , I am facing the same issue . I did so many times  uninstall and installation , but I am facing the same issue for both .

what I feel , my machine is not running out of memory , as it has enough memory available .

i did check environment variable as well , which

[2020-07-15 11:37] DingmaomaoBJTU commented on #3629
The logic of [oauth prompt](https://github.com/microsoft/botbuilder-dotnet/blob/71696394f8dc29533c250a359fb39c2c69e0117e/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/OAuthInput.cs#L139) is like this: 1) retrieve token from service  2) if failed, prompt.  When in step 1, the service help you refresh token and always return a useful token if user log in. There is nothing special to set for

[2020-07-15 11:48] DingmaomaoBJTU commented on #3629
And here is the [official doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv2%2Ccsharp#use-an-oauth-prompt-to-sign-the-user-in-and-get-a-token), you can take a look~

[2020-07-15 13:25] phrenol commented on #1993
Same here. Would be awesome!

[2020-07-15 15:25] cwhitten commented on #3632
Hi @kshyambabu - https://github.com/microsoft/BotFramework-Composer/issues/3629 has been re-opened. Let's use that issue

[2020-07-15 16:07] #3632 closed

[2020-07-15 16:30] scheyal commented on #3421
@cxbuilders

Thanks raising the issue.

From PVA team:

To clarify, you want to either assign values directly to action input variables (Flows or Skills), or to assign values directly to a variable, and pass that to the action.

We do not have this capability today, and the way to accomplish this is through Power Automate flow as the customer is doing. We do have plans for this through our work in

[2020-07-15 16:30] #3421 closed

[2020-07-15 16:44] scheyal commented on #3421
Tracking note: PVA #7438122

[2020-07-15 17:06] cwhitten commented on #3581
@pankajsurti 1.0.2 has been released.

[2020-07-15 17:25] gabog commented on #3146
Hi @SaikatRoyChowdhury and I spoke and the issue was that they were using the same Microsoft AppId and password for the calling bot (in composer) and the Skill (these need to be different), once we changed the composer bot to use a different Microsoft AppId and password than the skill things started to work.

Closing this issue.

[2020-07-15 17:29] mareekuh opened #3638 "Visual update and conceptual refinement of left nav in Authoring canvas"
@vivekkshankar
(FYI @sangwoohaan )

Today, the scope of the menu bar is bot-(bot project) focused and provides a user with the ability to switch modes and get a 'canvas'/UI catered to that mode: a visual canvas for authoring, a list based view for editing content etc.

Each of the modes have a sub-nav. For most of them they include an 'all' (aggregated view across all) as well as folders/dialogs t

[2020-07-15 18:22] SaikatRoyChowdhury commented on #3146
@gabog Thank you so much for the help. It was a good learning session.

[2020-07-15 18:51] vivekkshankar commented on #3638
Love it - I'll take a stab at this :)

[2020-07-15 19:51] goergenj opened #3639 "[MCS-DE] Local Publishing Plug-In LUIS Issues"
When running the Start Bot from the ElectronAPp v 1.0.2 the following issues arise:

1. First publish does not attach the Prediction Ressource to the newly created LUIS apps.
2. Each Publish does also update the LUIS Apps from the first "Azure WebApp Publishing" profile although these are separate from the ones created and used for the local testing.

@benbrown

[2020-07-15 19:55] goergenj opened #3640 "[MCS-DE] Check number of LUIS versions when publishing and clean-up to avoid hitting the max. 100 versions limit"
Any publishing plug-in should always check the number of LUIS versions on all LUIS Apps that they publish to.

If the number of versions per LUIS App is above a threshold the oldest versions need to be deleted to avoid hitting the LUIS version limit per LUIS App.

@benbrown

[2020-07-15 21:11] tdurnford commented on #3615
@Stevenic The JSON Editor is raising an error because the text you entered is not valid JSON. If you wrap the answer value in double quotes, it should work as expected.

![87596030-ab5e9b00-c6ac-11ea-83cc-90d1ea7d3733](https://user-images.githubusercontent.com/17039790/87596438-5cfdcc00-c6ad-11ea-9172-b9c5b8acc3a0.png)

[2020-07-15 23:13] v-kydela commented on #3633
@Bernardo08pt - Thank you for the report. Can you provide some sample code that reproduces the issue?

[2020-07-15 23:46] zxyanliu commented on #3624
@tonyanziano is this feature available in Composer now?
@behram-kn are you looking for a doc on this feature in Composer [docs](https://docs.microsoft.com/en-us/composer/)?

[2020-07-16 00:54] luhan2017 commented on #3631
@kshyambabu , this is a known issue. Please refer to this issue https://github.com/microsoft/botbuilder-dotnet/issues/3901
we recommend you don't use turn memory + prompts under foreach action. You can always mitigate this by assigning the turn memory to a dialog memory and use that in the foreach action.

[2020-07-16 02:56] luhan2017 commented on #3640
@boydc2014 @cwhitten @feich-ms , could you set the default value of deleteOldVersion which is used in luis publish API to true? For now we don't support versioning and fallback.

[2020-07-16 03:04] hibrenda commented on #3606
close this issue as the solution provided

[2020-07-16 03:04] #3606 closed

[2020-07-16 03:04] feich-ms commented on #3640
Luis builder API has the deleleOldVersion parameter there. Composer can set it to true when calling luis builder.

[2020-07-16 05:36] cwhitten commented on #3640
@feich-ms @luhan2017 yes let’s go ahead and do that. Thanks

[2020-07-16 06:47] luhan2017 opened #3643 "Update the LSP supported functions"
## Describe the bug

Vishwac suggested we use this template for qna response ${expandText(@answer)}

But when I configure it in composer, I got such error:

![image](https://user-images.githubusercontent.com/32191031/87636416-4fab1500-c773-11ea-8ca6-ef7f87a76ff1.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Wi

[2020-07-16 07:30] hibrenda commented on #3639
@goergenj This is by design so far (known issue). we can improve it later.

[2020-07-16 10:28] behram-kn commented on #3624
Hi Yan

Thank you for your email.

I am looking for the documentation to be available for hand over and also if this is something we can do within the composer.

The examples similar to what I am requesting are

Microsoft Health Bot:
https://docs.microsoft.com/en-us/healthbot/handoff
https://docs.microsoft.com/en-us/healthbot/handoff-teams
https://docs.microsoft.com/en-us/healthbot/omnichannel

Mi

[2020-07-16 10:35] hibrenda commented on #3622
@malotho could you provide the root dialog as well which marked in attached file ?
![image](https://user-images.githubusercontent.com/43408889/87661377-1387ac80-c793-11ea-9bfb-fa6a1bd0489c.png)

[2020-07-16 10:56] hibrenda opened #3645 "move action hit errors"
Issues found in latest "main" branch.
- create an Echo bot
- click Greeting trigger
- select all the nodes and move to the new dialog
- hit following error
![image](https://user-images.githubusercontent.com/43408889/87662841-6d897180-c795-11ea-8678-0e818246c647.png)

similar error info pop up for other move action. some times it showes "xxx.en-us.lg" not found or "xxx.en-us.lu" not found.
eg. crea

[2020-07-16 12:52] kshyambabu commented on #3629
@DingmaomaoBJTU Thanks. The answer gave us the insight on how to use OAuth prompt and how it is performing internally.

[2020-07-16 15:13] #2569 closed

[2020-07-16 15:50] #3643 closed

[2020-07-16 17:40] hatpick commented on #3634
@liweitian What version of react dev tools is causing this?

[2020-07-16 18:05] kshyambabu commented on #3631
@luhan2017 We are not using turn memory as you see the screen shots of our implementation. We need to authenticate each user of the bot. So that I used OAuth prompt in for each loop.
And I followed the instruction as explained in the Microsoft docs to assign the token dialog context. Given this scenario in the screenshots, could you explain bit further how to avoid the error?

activity
![image](ht

[2020-07-16 18:09] hatpick commented on #3634
4.8.0 and 4.8.1 have that issue due to an empty ```<Suspense>``` tag in ```DesignPage.tsx#L462```

4.8.2 solves the issue, please update.

[2020-07-16 19:09] beyackle commented on #3366
Some notes as I debug this: this also happens in the Value field of "emit a trace event", so it's probably happening anywhere we have a value with a settable type.

[2020-07-16 19:21] beyackle commented on #3366
Anywhere using "$ref": "#/definitions/valueExpression" in the schema makes this happen, and only on a "number" type.

[2020-07-16 21:31] zxyanliu commented on #3625
@mareekuh
I found another text in Composer which might need to update as well:

![image](https://user-images.githubusercontent.com/32497439/87724889-11145b00-c771-11ea-928b-60cbffb2d85e.png)

[2020-07-16 22:40] zxyanliu commented on #3625
@mareekuh FYI.
This is my proposal in PR#3651.

![image](https://user-images.githubusercontent.com/32497439/87729533-76207e80-c77a-11ea-9089-4c564dbb63cf.png)

![image](https://user-images.githubusercontent.com/32497439/87729599-98b29780-c77a-11ea-8615-e7db5bb04f01.png)

[2020-07-16 23:40] #2901 closed

[2020-07-16 23:45] zxyanliu commented on #3624
Hi @behram-kn I got it! Thanks for your feedback, we really appreciate it!

[2020-07-16 23:46] zxyanliu commented on #3624
@hibrenda Can we follow up offline and walk through the steps of using the **Handoff activity** in Composer?

[2020-07-17 00:28] mareekuh commented on #3625
Looks great. If you want to shorten, we can drop the 2nd sentence but this, as is, works for me.

[2020-07-17 05:22] #3629 closed

[2020-07-17 06:17] vivekkshankar commented on #3419
@a-b-r-o-w-n I have taken a stab at defining the experience for this:
Details here: https://www.figma.com/file/deFhMPBnRWxTYiYDYqYxrc/Composer-Vivek?node-id=6696%3A97661

Can we discuss this further from a experience and implementation stand-point? Happy to share any additional info neccesary.

[2020-07-17 06:20] liweitian commented on #3634
The error is solved on my side now.

[2020-07-17 07:49] hibrenda commented on #3645
could not repro now.

[2020-07-17 07:49] #3645 closed

[2020-07-17 15:48] v-kydela commented on #3633
Looks like this is a bug after all: https://github.com/microsoft/botbuilder-dotnet/issues/3900

[2020-07-17 16:08] #3366 closed

[2020-07-17 17:47] #3467 closed

[2020-07-17 17:49] srinaath commented on #3467
Closing this issue as we are going again the model of a centralized dashboard showing status of bots. We will be going with .botprojects file that shows the relationship between root bot and its skills

[2020-07-17 18:09] mareekuh opened #3653 "UX SPEC : VA CREATE    (draft)"
**UX SPEC : VA CREATE**    
CREATED: 7/14/2020 
LAST UPDATED: 7/14/2020 
  V-TEAM:  Marieke, Peter, Dewain Robinson, Jaskeerat Bedi, Ben Brown, Darren Jefford 
 
**Exec summary** 

New, unified creation experience enabling rapid creation of Assistants including selection of popular scenarios. Initially surfaced inside Composer but designed for re-use across other entry points (e.g. Azure Portal).

[2020-07-17 18:22] zxyanliu commented on #3415
Hi @ramonck, I am not sure if we have the permission to update the broken URLs you mentioned. Here are the links:
- Install Bot Framework Composer:  https://docs.microsoft.com/en-us/composer/setup-yarn
- Publish a bot: https://docs.microsoft.com/en-us/composer/how-to-publish-bot

[2020-07-17 19:01] mareekuh opened #3654 "UX Spec: Commenting in Composer"
**UX SPEC : Commenting in Composer**
CREATED: 7/17/2020
LAST UPDATED: 7/17/2020
  V-TEAM:  Vivek, Andy Brown, Ben Brown, Marieke

**Exec summary**
Provide the ability for commenting in Composer
P0: commenting per node for documentation purposes
P1: Commenting per node for collaboration purposes
P1: Commenting-specific node
P1: Commenting per dialog for documentation purposes

What: Add note to a n

[2020-07-17 19:07] beyackle commented on #3428
Found it. The problem is in calling "getBaseName" (from lib/indexers/src/utils/help/.ts) on a file called ".dialog" with nothing before the dot.

[2020-07-17 19:17] mareekuh opened #3655 "UX Spec - Bot project: Managing multiple bots in Composer"
UX SPEC : Managing multiple bots in Composer
CREATED: 7/17/2020
LAST UPDATED: 7/17/2020
 V-TEAM: @sangwoohaan @srinaath  @cwhitten  @mareekuh

**Exec summary**
<add content here >

What: A bot project is a file that composer will build as the developer adds one or more skills, so that it (composer) can know what to deploy and how to deploy it.
Why: Allows the devs to create, view, run, test and ma

[2020-07-17 20:12] beyackle commented on #3428
More notes: this definitely seems to be the right cause, but I still can't figure out why that's leading to a hang inside the loading loop. Still tracking this down so I can solve it the right way.

[2020-07-17 20:47] beyackle commented on #3428
Okay, I'm going to go with Brenda's suggestion here that a nameless ".dialog" file is actually an error. We can't have a nameless dialog in the first place, and even if we could, it would break our router in addition to whatever's going on here.

[2020-07-17 21:43] beyackle commented on #3428
![image](https://user-images.githubusercontent.com/61990921/87832891-dfb49180-c83b-11ea-8e64-bb2daaec0b6a.png)

[2020-07-17 22:54] zxyanliu commented on #3655
@mareekuh here are my feedback and questions on the definition of terms (please correct me if I am wrong):

|Term | Definition |
|---|---|
| Bot project | A Bot project is a collection of local and remote bots related as host-skill bots in Composer. Provides higher-level management experiences to create, manage, test, publish a larger application solution consists of multiple bots. See [other prop

[2020-07-17 23:24] mareekuh commented on #3653
Notes from 07.16.2020
**Technical implementation**
Objective = Central, multi-tenant managed VA Service
Shorter term: Virtual assistant service that represents metadata that defines the users’s virtual assistant and is responsible for operating services to take the descriptors and build the VA for the user and deploy it on Azure. VA uses Composer as a first vehicle to make the VA wizard available.

[2020-07-18 12:28] boydc2014 opened #3656 "Customized functions in runtime should pass validation and be allowed to start bot"
## Is your feature request related to a problem? Please describe.

Currently, all function calls in an expression is parsed and checked to make sure it's a valid function, otherwise we will throw error and block user from starting bot.

The issue is for some customers, if they have a customized runtime that have customized functions (using code) built-in and composer isn't aware of that, thus comp

[2020-07-18 20:25] Stevenic opened #3657 "Composer occasionally generates bogus JSON for dialogs"
## Describe the bug
Composer occasionally generates bogus JSON for dialogs.  This seems to have started with 1.0.2 and I've hit it twice now. Both cases were the same with the last few bytes of the file being duplicated.

## Version
1.0.2

## Screenshots

![image](https://user-images.githubusercontent.com/698939/87861309-dee23500-c8f9-11ea-8c16-3c12a1d2d5ec.png)

[2020-07-18 20:37] Stevenic opened #3658 "Composer doesn't stop the previous runtime when switching projects."
## Describe the bug
Composer leaves the runtimes running when switching between projects. This can be problematic when you're doing skill development because you can't guarantee which runtime will process postbacks from a skill your testing.

I was making a change to a skill which I published to Azure after testing in the emulator. I then switched to my Assistant project and started up ngrok and t

[2020-07-18 23:17] cwhitten commented on #3658
Taking this in R10

[2020-07-19 01:26] nathanvv commented on #3552
@liweitian: Tried doing that with the latest master and I ended up unsuccessful in replicating the issue. However, found a workaround to clear it. Apparent the path to the project I was opening via the app had space, but when downloading the folder got ASCII converted and had a %20 in the folder name ( notice screenshot )
![image](https://user-images.githubusercontent.com/11080029/87864903-cd1d838

[2020-07-19 01:41] nathanvv commented on #3339
I am at the same point where I have a bot+LUIS application and was hoping if I could use the azure DevOps pipeline to set up continuous deployment. Currently, I am using the publish feature from my local composer to deploy to the Azure resources that I created using the provisionComposer.js

![image](https://user-images.githubusercontent.com/11080029/87865075-1ec70d80-c936-11ea-958d-8159d6de8297.p

[2020-07-19 19:51] rudrasingh21 opened #3659 "Error in invoking Skill ID .. ""http://localhost:3980/manifests/EmptyBot-0-2-0-0-manifest.json AND "Value cannot be null. (Parameter 'uriString')""
HI Team I am getting error while working with Skill in bot framework Composer .

I tried many combination to make this work, but all the time I am getting different error.

Recent ERROR:--

Error invoking the skill id: “003eedb4-1991-403c-b848-9536ce1b5bb8” at “http://localhost:3980/manifests/EmptyBot-0-2-0-0-manifest.json” (status is 404).

I followed this doc to work with Skill bot :-
https://do

[2020-07-19 19:53] rudrasingh21 commented on #3659
Bot setting at consumer bot--

{
  "feature": {
    "UseShowTypingMiddleware": false,
    "UseInspectionMiddleware": false,
    "RemoveRecipientMention": false
  },
  "MicrosoftAppPassword": "",
  "MicrosoftAppId": "",
  "cosmosDb": {
    "authKey": "",
    "collectionId": "botstate-collection",
    "cosmosDBEndpoint": "",
    "databaseId": "botstate-db"
  },
  "applicationInsights": {
    "Instru

[2020-07-19 19:55] rudrasingh21 commented on #3659
at Consumer bot side:-

![image](https://user-images.githubusercontent.com/30667041/87883846-11099a80-c9bf-11ea-88e6-74cb1bc1aa1b.png)

[2020-07-19 19:56] rudrasingh21 commented on #3659
at Consumer Bot side:-

![image](https://user-images.githubusercontent.com/30667041/87883867-41513900-c9bf-11ea-8984-6329ab20d67b.png)

[2020-07-19 19:57] rudrasingh21 commented on #3659
At Skill BOT Side:-

{
"$schema": "https://schemas.botframework.com/schemas/skills/skill-manifest-2.0.0.json",
"$id": "EmptyBot-0",
"name": "EmptyBot-0As-Skill",
"version": "EmptyBot-0As-Skill",
"publisherName": "EmptyBot-0As-Skill",
"endpoints": [
{
"name": "default",
"protocol": "BotFrameworkV4",
"description": "Production endpoint for SkillBot.",
"endpointUrl": "http://localhost:3980/api/messag

[2020-07-19 19:59] rudrasingh21 commented on #3659
Could you please help me on this? I am expecting some quick help , as I know there is some config , I am missing .

[2020-07-19 20:11] rudrasingh21 commented on #3659
Other way , I am getting below error:-

Error invoking the skill id: "003eedb4-1991-403c-b848-9536ce1b5bb8" at "http://localhost:3980/api/messages" (status is 500).

[2020-07-19 20:27] rudrasingh21 commented on #3659
I also want to highlight another error which I am getting with other configuration is: -

![image](https://user-images.githubusercontent.com/30667041/87884486-5b8d1600-c9c3-11ea-8b93-ecc1ed371ea5.png)

Error:-

![image](https://user-images.githubusercontent.com/30667041/87884529-9ee78480-c9c3-11ea-9977-16990e37b746.png)

[2020-07-19 20:28] rudrasingh21 commented on #3659
Request you to help , please.

[2020-07-19 20:31] rudrasingh21 commented on #3430
It dosen't work with My Windows , So I installed VM and then installed it on Ubuntu .. It is working fine on ubuntu on my machine.

[2020-07-19 22:17] cwhitten commented on #3657
This looks like a race condition when serializing. Tagging @lei9444

[2020-07-20 02:37] tdurnford commented on #3659
It looks like your 'Skill Host Endpoint' on the Skills page is set incorrectly. It should be something like `http://localhost:<port-number>/api/skills`.

![image](https://user-images.githubusercontent.com/17039790/87894301-9d3bb200-c9ff-11ea-922b-34efc95e0d00.png)

[2020-07-20 04:37] rudrasingh21 commented on #3659
Hi ,

I tried using http://localhost:<port-number>/api/skills too

And getting same error, I share above.

And these both boys Skill and Consumer bot is running locally.

I HAVE NOT GENERATED APP ID AND PASSWORD FOR BOTH BOT BECAUSE I AM RUNNING IS LOCALLY.
I READ ONE MS document that it is not required .
When I used app id and password for consumer bot , it throws error 400 .

I really think it i

[2020-07-20 05:02] shihanlk commented on #3287
@ms-yuhara Can you put a full screenshot of the dialog ? I'm having a simile issue.

[2020-07-20 06:49] luhan2017 commented on #3659
@rudrasingh21 , you need appid and apppassword for both bots, caller and caller even run it locally, because we are using the appid and password for the authentication part.

[2020-07-20 06:59] rudrasingh21 commented on #3659
Ok , Sure @luhan2017  :  a quick question:-

on --> You also need to generate app ids and passwords for both the parent and skill bots in the Azure portal.

Do i need to register for 2 different bot channel registration ?

Or same appid and apppassword for both bots?

[2020-07-20 07:15] rudrasingh21 commented on #3659
And yes @luhan2017  on issue #3430 , that was not working son my windows machine , So I installed it on VM , Ubuntu machine.

Thanks for your support there.

[2020-07-20 08:45] rudrasingh21 commented on #3659
I have created 2 bot channel registration on Azure . One for Skill bot and other for Consumer Bot.

In the Skill bot:-
In Bot Setting , I provided AppID and Pass which I generated on Azure portal (Bot channel registration)

As well , I provided AppID in manifest as well.

Now this Skill bot throws error when I am testing it in emulator

Skill Bot Manifest--->
![image](https://user-images.githubuse

[2020-07-20 08:47] rudrasingh21 commented on #3659
Kindly Help

[2020-07-20 09:00] ms-yuhara commented on #3287
@shihanlk It worked as expected below. The left is a screenshot of the dialog, the right is an actual result in the emulator. Hope it helps.

![composer_3287](https://user-images.githubusercontent.com/38028987/87919062-3b885000-cab2-11ea-8494-915d3369806a.png)

[2020-07-20 09:13] zhixzhan commented on #2150
Addressed.

[2020-07-20 09:13] #2150 closed

[2020-07-20 09:41] rudrasingh21 commented on #3659
Hi Team , Can we connect and resolve this issue .

[2020-07-20 12:25] lei9444 commented on #3657
I will investigate the issue

[2020-07-20 12:48] shihanlk commented on #3287
Thanks @ms-yuhara. Can you post 2 more screenshots of set property value and User input ?

[2020-07-20 13:20] ms-yuhara commented on #3287
@shihanlk Here you are. The full value of [Set a property] box is below as I mentioned.

[code]

![composer_3287_2](https://user-images.githubusercontent.com/38028987/87941789-9d5ab100-cad6-11ea-93f7-254059dd7ab0.png)

[2020-07-20 13:33] vivekkshankar commented on #3654
@mareekuh @a-b-r-o-w-n The experiences for the various scenarios called out above can be found here:
https://www.figma.com/file/deFhMPBnRWxTYiYDYqYxrc/Composer-Vivek?node-id=6696%3A97661

[2020-07-20 13:53] shihanlk commented on #3287
Thanks a lot @ms-yuhara in my cause it's not working because my json format is like below

{}Content
	[]Data
		{}0
			{}attributes
					Title
{}1
			{}attributes
					Title
{}2
			{}attributes
					title

And I want to take only the values of each "title".

Do you think it's possible in Bot framework composer ? @Danieladu

[2020-07-20 14:43] shihanlk opened #3662 "Get the Job list from www.teamtailor.com API"
## I have a problem to get specific values from json file.
I have tried to resolve it using the method explained on https://github.com/microsoft/BotFramework-Composer/issues/3287 but failed.

Basically I want to extract the value of "title"  from following format.

{}content
  []data
     {}0
      {}attributes
         title
    {}1
     {}attributes
        title
    {}2
      {}attributes

[2020-07-20 15:41] GeoffCoxMSFT opened #3663 "Add intellisense to LG/LU in Composer Server"
- [ ] Determine if intellisense can be added to existing servers or if a new server has to be created
- [ ] Add intellisense with UTs into composer server
- [ ] Ensure documentation (MD | code comments) of any modifications to the standard language protocol or client/server shared dependencies (like on enum values)

[2020-07-20 15:47] GeoffCoxMSFT opened #3664 "Add shared control infrastructure for intellisense/auto-complete"
- [ ] As needed, define and implement the control that will show auto-complete suggestions
- [ ] Call out here which aspects of Sangwoo's design will/won't be included or modifications
- [ ] Unit test (or test) against control types (input, textarea, etc.) where you expect the control used.

[2020-07-20 15:49] GeoffCoxMSFT opened #3665 "Update property grid controls to support scoped variable auto-complete using intellisense"
- [ ] List the control types from the property grid that will support auto-complete/intelli-sense
- [ ] Update each control in turn to support showing auto-complete options
- [ ] Wire up controls to the intellisense information from the composer server
- [ ] Update UTs to stub out auto-complete for existing tests

[2020-07-20 16:38] tdurnford commented on #3659
@rudrasingh21 Unfortunately, yes. Even though you are running your skill, you still to generate different app ids and passwords for the parent and skill bots.

In regard to the 400 error in the Emulator you are experiencing, can you try double checking all of your app id and passwords and restarting the conversation in the emulator a few times after you restart the bot? Sometimes it takes a few mo

[2020-07-20 17:21] v-kydela commented on #3662
Hello @shihanlk

It's a little hard to understand what your data structure is just by looking at your post. Can you post a sample of some JSON you might be working with?

Also, I see that you've said "Nothing is successful" but that doesn't tell us what the actual observed behavior is. Can you show us what the results are of the 5 options you tried?

[2020-07-20 17:38] mg-arrow commented on #1829
I have exactly the same issue with POST using application/x-www-form-urlencoded format. I am running Bot Composer 1.0.2 and SDK 4.9.3.

I've tried various suggestions listed above and none seems to work.

How can I use the nightly build of the SDK ?

Any other suggestions ?

[2020-07-20 17:38] Trubzzz commented on #3620
Anything on this? It's been about a week now and I'm still having the same issue.

[2020-07-20 19:00] rudrasingh21 commented on #3659
@tdurnford  :- I generated different app ids and password for Skill and Consumer bot.

Now when I am using AppID and Password in both bots respectively , even without adding up skills , bot is not responding , It is throwing 400 error all the time .

I tried it multiple time , but no luck.

[2020-07-20 22:16] beyackle commented on #3458
I'll take this one. I think it's a sensible approach to find all the user-facing strings and double-check they've got formatMessage on them, and then extract all of the formatMessage strings in order to go through and improve the ones that need it. This will also generate an initial `locales/en.json` file (or whatever other format we agree on) for use with i18n efforts later on.

[2020-07-20 22:35] #3633 closed

[2020-07-20 22:48] mareekuh commented on #3653
Notes from meeting 07.20.2020
Confirming the order of the create flow

6. Progress: creating your bot....

7. Login to Azure
@Andrea-Orimoto - could you link to a doc (if you have it) with detail about what is needed here?
If no account: Create new: name etc; Credit card etc
If account: sign in/select which account

9. Review and confirm azure settings (And ability to go back and make changes)

10

[2020-07-20 23:36] zxyanliu commented on #3446
@luhan2017 Do I need to do any updates in the docs? I think this issue was addressed through #3359, which was merged.

[2020-07-20 23:49] zxyanliu commented on #3561
Hi @samaroj Thanks for reporting this issue.
I was unable to reproduce the error you had. I used [Composer electron 1.0.2](https://github.com/microsoft/BotFramework-Composer/releases) and followed [this doc](https://docs.microsoft.com/en-us/composer/how-to-publish-bot).

[2020-07-21 00:16] zxyanliu commented on #3602
Hi @MayankKT I just tested using the latest [main branch](https://github.com/microsoft/BotFramework-Composer) and I was unable to reproduce the error you mentioned.
Could you please try again and follow the [doc](https://docs.microsoft.com/en-us/composer/how-to-publish-bot).?

[2020-07-21 00:19] boydc2014 commented on #3658
@Stevenic it's by design today to not closing previous bot when you switching project, so that user can create and start multi bots and\or skills, they are supposed to run in different local port, starting from 3979, 3980, etc. We didn't take ngrok into consideration on this, if your old ngrok still pointing to the previous one, it might have issues.

The issue to me is that this management is all

[2020-07-21 01:02] luhan2017 commented on #3659
@rudrasingh21 , could you double check if your bot port is updated after restarting? 400 usually means there is not a bot serving on that endpoint.

[2020-07-21 01:11] zxyanliu commented on #3533
Hi @TameezAustell  I just tested using [Composer electron 1.0.2](https://github.com/microsoft/BotFramework-Composer/releases) and I was unable to reproduce the error you mentioned.
Could you please try again and follow the [doc](https://docs.microsoft.com/en-us/composer/how-to-publish-bot)?

[2020-07-21 01:52] lei9444 opened #3667 "App crashes when delete a bot"
## Describe the bug
![deleteBot](https://user-images.githubusercontent.com/39758135/88003623-e131d280-cb37-11ea-92c2-75381a9f2272.gif)

## Version
main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ x ] Edge

## OS
win10
![deleteBot](https://user-images.githubusercontent.com/39758135/88003614-dbd48800-cb37-11ea-8fe3-4afa4b01d5dd.gif)

- [ ] macOS
- [ ]

[2020-07-21 01:58] Danieladu commented on #3287
hi @shihanlk  does the json sample looks like this?
[code]
What you really want is to get such a result: `['t1', 't2', 't3']`?
If so, the below solution may work as expected:
`foreach(YOUR_PRE_MEMORY_PATH.Content.Data, x, x.title)`

[2020-07-21 02:23] shihanlk commented on #3662
Hi @v-kydela
1. This is the sample of json file I'm working with.

[2020-07-21 02:35] #3640 closed

[2020-07-21 02:36] boydc2014 commented on #3640
Hey, @goergenj it's been addressed via #3661, you can check out the latest main branch, or use our daily build electron version which should be out tomorrow

[2020-07-21 02:48] shihanlk commented on #3287
@Danieladu The jason sample looks like
"response": {
      "content": {
        "data": [
          {
            "attributes": {
                "title": "Angular Star with Node.js"
            },
			{
            "attributes": {
                "title": "(TL-STL level)"
            },
			"attributes": {
                "title": ".Net Captain"
            },
			"attributes": {
                "ti

[2020-07-21 03:12] Danieladu commented on #3287
Maybe `=foreach(dialog.api_response.content.data, x, x.title)` -> `=foreach(dialog.api_response.content.data, x, x.attributes.title)` ?

[2020-07-21 03:17] shihanlk commented on #3287
the result of that is

![image](https://user-images.githubusercontent.com/63157529/88008827-be4ef080-cb2e-11ea-9cb3-5477426751f5.png)

[2020-07-21 03:32] Danieladu commented on #3287
Maybe the equal mark is missing?

[2020-07-21 03:36] shihanlk commented on #3287
Yes you are correct. now it comes like this. Thanks for the support. only thing now is to remove the []

![image](https://user-images.githubusercontent.com/63157529/88009977-741b3e80-cb31-11ea-98a6-2961e678dc3f.png)

[2020-07-21 03:50] shihanlk commented on #3662
This could be resolved by =foreach(dialog.api_response.content.data, x, x.attributes.title)

[2020-07-21 03:50] #3662 closed

[2020-07-21 04:18] Danieladu commented on #3287
Cool!

[2020-07-21 06:30] rudrasingh21 commented on #3659
@luhan2017 : I have checked and tried multiple times.

Both bot ( using from template empty and echo bot ) individually works fine. As soon as , I use Microsoft app id and password . it starts throwing error 400.

When I am not using Microsoft app id and password and use skill bot in consumer bot , it throws error :-- " error invoking the skill id: “003eedb4-1991-403c-b848-9536ce1b5bb8” at “http:/

[2020-07-21 08:11] luhan2017 commented on #3659
@rudrasingh21 , I have tried this locally, it works fine in my side, is there anything special in your environment? I have tried several scenarios which might cause issue, incorrect App password will get  401(unauthorized), querying an other endpoint will get 400. I wonder what is the timezone in your side? could we have a quick call on this?

[2020-07-21 08:57] rudrasingh21 commented on #3659
Yes , Please . A quick call can help to resolve this . How can we connect ?

[2020-07-21 09:02] rudrasingh21 commented on #3659
Even I created a fresh EmptyBot , which works fine when I am not using AppID and password ,

Once I use AppID and Password , It given me 401 error .

I crosschecked , I am using right AppID and Pass.

[2020-07-21 10:34] boydc2014 opened #3668 "Composer should support lu file references"
## Is your feature request related to a problem? Please describe.

The [.lu format](https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lu-file-format?view=azure-bot-service-4.0) used in composer support "exteneral references", which could be helpful in certain cases where user want to share there .lu content to other .lu files. But Composer don't support that, either refere

[2020-07-21 11:33] rudrasingh21 commented on #3659
I would request you or anyone from your team to connect and check for this issue.

[2020-07-21 15:13] luhan2017 commented on #3659
@rudrasingh21 , sorry for the late response, I am in Beijing, what time do you prefer for a call? Can we use Teams? you can setup a meeting with me (luhan@microsoft.com) or let me know your email address, I can try to setup a meeting.

[2020-07-21 15:29] rudrasingh21 commented on #3659
My email address is rudrasingh21@hotmail.com , I don't have account on teams , I can use it if it allows guest.

Let me know your comfortable time , I will join.

[2020-07-21 16:02] #3509 closed

[2020-07-21 16:03] #3510 closed

[2020-07-21 16:03] #3511 closed

[2020-07-21 16:44] vishwacsena commented on #3656
@boydc2014 So a workaround for now in composer would be to wrap a custom function in LG until we natively support it? 

[code]

[2020-07-21 17:00] nonnontrivial opened #3671 "Error message in modal after project deletion"
## Describe the bug

If a directory containing a project is deleted and the project is edited afterward, an unclear error message can appear:

[code]

## Version

1.0.2

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a project
2. Remove the folder from the filesystem
3. Perform some change to the project
4. See modal with unclear error m

[2020-07-21 19:08] #3625 closed

[2020-07-21 19:19] supratikchat commented on #1877
Hello all,

I have built a Bot using Bot Framework composer combining qnamaker, luis and http rest calls to app insights.
However I am facing issues to publish the bot in existing RG.

Current step: Add a publish profile

Issue while executing the below:

![image](https://user-images.githubusercontent.com/67712191/88096993-60310600-cb4c-11ea-9d41-197b9e378526.png)

[2020-07-21 20:55] mareekuh opened #3672 "UX Spec : Skills market place"
< jas to add content here >

[2020-07-21 21:02] cwhitten commented on #3658
@Stevenic we inclined to consider this more of a feature than a bug, and as @boydc2014 the team will be introducing more fine-grained control over running servers/ports in a future release. We confirmed that closing Composer does clean up processes it started, including bot processes.

So, working as intended with the knowledge that you may need to restart your tunnel with an updated port based on

[2020-07-21 22:23] #3465 closed

[2020-07-21 22:25] #3464 closed

[2020-07-21 23:43] beyackle commented on #3657
What I've found so far: the actual file-saving thing happens in the server, at server/src/models/bot/botProject.ts. It looks like there's no lock in place to make sure we're not trying to save the file twice at the same time.

[2020-07-22 00:35] lei9444 commented on #3657
Yes, this is from server. I can't reproduce it. I think this issue is caused by like this
[code]

[2020-07-22 01:10] boydc2014 commented on #3656
Unfortunately no, because inside LG, we also validate the functions calls, so your last line "$customFunction()" will also throw. I think we can give this a higher priority, if any customer is asking for this?

[2020-07-22 01:50] boydc2014 opened #3673 "Managed LG/LU/Qna for customized actions"
## Is your feature request related to a problem? Please describe.

Our managed LG/LU/Qna is built on top of a few assumptions in SDK and not consistently driven by schema. For example, copy\paste\move\undo\redo, or any other side effects can't be performed automatically.

## Describe the solution you'd like

Revisit the design and implementation, to make sure
1. How can we leverage schema to drive

[2020-07-22 02:09] luhan2017 commented on #3659
@rudrasingh21 , I've send you a meeting invitation, please let me know if it does not work for you.

[2020-07-22 02:12] luhan2017 commented on #3446
@zxyanliu , we don't need to update the doc, the PR is just fixing a bug and there is no change on user scenario.

[2020-07-22 02:12] #3446 closed

[2020-07-22 02:25] zxyanliu commented on #3533
Closing since it is addressed.

[2020-07-22 02:25] #3533 closed

[2020-07-22 02:46] luhan2017 commented on #1877
@supratikchat , The error message is that you don't have the permission to create a new RG. could you double check the permission and try it again?

[2020-07-22 02:52] supratikchat commented on #1877
Hello Lu,

As mentioned, I am already passing an existing resource group. I don't not need to creating a new RG.
Can you please help on this?
Post this I can proceed with the final steps for deployment.

Regards,
Supratik

[2020-07-22 02:58] luhan2017 commented on #1877
@supratikchat , you don't need to do provisionComposer if you already created the services, you can follow this doc, https://docs.microsoft.com/en-us/composer/how-to-publish-bot#deploy-to-existing-azure-resources, just fill in some configurations in the publish profile, and then deploy the bot.

[2020-07-22 03:24] supratikchat commented on #1877
Thanks @luhan2017 for the reference. Let me try this out and proceed.

[2020-07-22 03:26] lei9444 commented on #3667
This is fixed in PR #3587

[2020-07-22 03:26] #3667 closed

[2020-07-22 04:26] rudrasingh21 commented on #3659
Thanks @luhan2017 , I have received meeting Invitation . Let's connect.

[2020-07-22 05:07] luhan2017 commented on #3631
@kshyambabu , sorry for the late response, turn.Activity.membersAdded is used in the for loop, that's the root cause of this issue.
If you want to add OAuth login will update the turn.Activity, so that in the next loop, you will get an error "Object reference to null".

I recommend you to fix this issue by assigning turn.Activity to dialog.Activity and use dialog.Activity in the for loop.

![image

[2020-07-22 05:16] luhan2017 commented on #3538
@cxbuilders, it this issue still there? Please just send me a meeting invite if you need help on this.

[2020-07-22 05:18] luhan2017 commented on #3460
@triciasinclair @sandeepreddy0987 , is this issue resolved in your side?

[2020-07-22 05:24] luhan2017 commented on #2565
@fathorMB multi-language feature is not officially supported by composer yet. we will enabled the multi-language feature in R10 time frame, which should fix this issue. will let you know when the feature is merged, thanks for your patience.

[2020-07-22 05:46] Mrinnaal opened #3674 "Creating hero card dynamically and showing it as carousel using Composer"
I am unable to understand or having no clue on how to create hero cards dynamically and show it as carousel. Can anyone tell me how to do it?

[2020-07-22 06:16] rudrasingh21 commented on #3659
Thanks @luhan2017 for quick connect .It is working perfectly now after giving skillHostEndpoint .

A big thanks to you.

[2020-07-22 06:16] #3659 closed

[2020-07-22 07:51] goergenj opened #3675 "[MCS-DE-GO] Syntax Validation does not catch all .LU syntax errors"
On our implementation we found that not all .LU-file syntax errors are being recognized.

We had this (erroneous) entry:

#GetConfirmation
- yes of course
- I'd like that yes
- I'd love to
- no thank you
- not today thanks
- no rather not

[code]

This is the correct syntax:

[code]

Please check, if the .LU-file Syntaxchecker can be updated/improved.

@joaollq @sgellock @benbrown

[2020-07-22 08:01] goergenj commented on #3640
@boydc2014 Will this be part of the Azure Publishing plug-in or a general feature for all publishing plug-ins?

[2020-07-22 08:39] yeze322 commented on #3455
Here is the diagram. Action flyout will consume the `menu` part of uischema.
![image](https://user-images.githubusercontent.com/8528761/88154714-c8a9e100-cc39-11ea-8e19-47ca8c33498d.png)

[2020-07-22 09:00] yeze322 commented on #2889
During Trigger creation process, the modal UI could be divided into 2 sections:
1. Hierarchical dropdown menu - to finally drop down to a Trigger `$kind`.
2. Properties form - to fill required fields of Trigger data.
![image](https://user-images.githubusercontent.com/8528761/88156776-75855d80-cc3c-11ea-99a9-ff97fef5f622.png)

For section 1, it's similar to the `menu` part in uischema, we describe

[2020-07-22 09:31] luhan2017 commented on #3674
@Mrinnaal you can create a bot from RespondingWithCardsSample.

Basiclly, you can use LG to generate a carousel as following:

# AllCards
[Activity
    Attachments = ${HeroCard()} | ${ThumbnailCard()} | ${SigninCard()} | ${AnimationCard()} | ${VideoCard()} | ${AudioCard()} | ${json(adaptivecardjson())}
    AttachmentLayout = carousel}
]

[2020-07-22 09:37] Mrinnaal commented on #3674
Yes! But dynamically i want to add the elements to the attachments variable. This will work, if we already have a static card in place. How to run a loop kind of thing, so that i can add those elements to attachments. Kindly help me on this. And, if you could provide a sample it would be really great.

[2020-07-22 12:40] hibrenda commented on #3671
@VanyLaw be aware of the error message during "start bot". we need to provide more detail info.

[2020-07-22 13:12] dr-dolittle opened #3678 "[MCS-DE-GO] Optimize usage of CosmosDB"
When using CosmosDB as storage layer different types of documents are being created per bot (e.g. users or conversations). Would it be possible to optimize the way they are stored for more efficient postprocessing?

Here are some suggestions:

- Rethink partition strategy - currently there is on document per partition. This seems to be inefficient on the one side regarding the usage of partitions

[2020-07-22 14:00] kshyambabu commented on #3631
@luhan2017 I can understand.
And, I added "Set a property" as you suggested. But, getting the same error. Could you suggest alternative  fix.

[2020-07-22 15:11] didaskein commented on #3656
https://github.com/microsoft/BotFramework-Composer/issues/3130

[2020-07-22 15:36] SaikatRoyChowdhury opened #3679 "How to implement CI/CD pipeline/ version control system in composer?"
Is Bots created out of Bot Composer are ready for Enterprise wide implementation -- like Bot with potential of 200 K users ?
Then how to maintain the version control of development.

[2020-07-22 16:40] johnataylor commented on #3656
@boydc2014 we have a customer and @didaskein can provide details, but this issue is a priority.

[2020-07-22 17:00] mdrichardson commented on #3678
@dr-dolittle

I've got some thoughts specific to your points at the bottom. However, Cosmos partitioning is commonly misunderstood, so here's a quick primer to get everybody on the same page:

### Key Term Clarification

For Bot Framework purposes, “container” is basically synonymous with “collection”. A container can store a single collection, graph, or table. Bot Framework uses a Cosmos containe

[2020-07-22 19:05] kshyambabu commented on #3631
@luhan2017 I can understand. The fix worked on emulator.
We are using iframe of channel's web chat on sharepoint. The fix is not working on sharepoint deployment.
Moreover the actions (like getting userinfo by using the token got from OAuth prompt) below OAuth prompt are not executing. And directly giving this error.

[2020-07-22 19:48] #1726 closed

[2020-07-22 19:48] #1979 closed

[2020-07-22 19:48] #2443 closed

[2020-07-22 19:48] #3426 closed

[2020-07-22 19:51] cwhitten commented on #3671
@hibrenda moving to R11

[2020-07-22 20:12] munozemilio commented on #3620
@cwhitten could you please triage this one?

[2020-07-22 20:39] zxyanliu commented on #3602
@MayankKT any updates?

[2020-07-22 20:41] zxyanliu commented on #3561
Hi @samaroj any updates?

[2020-07-22 22:42] iamjenetzler opened #3683 "getBaseUrl() called before serverPort is defined"
I set the debug variable and tried running the exe from cmdline. And it errors out as seen in the attached screenshot

## Version

1.0.2
1.0.1

## Browser

- [X ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Set debug variable
2. Run the Bot Framework Composer.exe
3. S

[2020-07-22 22:48] zxyanliu commented on #3415
Hey, we don't have the permission to update the URL in youtube channel. Closing this issue. Please follow the suggested links to move on. Thanks!

[2020-07-22 22:48] #3415 closed

[2020-07-22 22:54] zxyanliu commented on #3350
Hey, @madbeher any updates on this? Let us know if it works for you as suggested by @hibrenda. Thanks!

[2020-07-22 23:11] zxyanliu commented on #1422
@hibrenda is this issue resolved?

[2020-07-22 23:31] GeoffCoxMSFT commented on #3483
Ben will pick up the format-message standardization.

[2020-07-22 23:31] #3483 closed

[2020-07-23 00:10] zhixzhan commented on #3022
Since we migrate to Recoil, this issue was no longer valid

[2020-07-23 01:49] #3373 closed

[2020-07-23 01:51] zxyanliu commented on #3350
Thanks for your report. Closing as this issue has been answered. Feel free to reopen when you think is necessary.

[2020-07-23 01:51] #3350 closed

[2020-07-23 01:58] zxyanliu commented on #3261
Hey @Todd442 thanks for reporting the issue. Please try again as suggested by @tdurnford and @hibrenda.
Closing this issue at this moment since it's been answered.
Feel free to reopen it when you feel necessary. We appreciate your feedback.

[2020-07-23 01:58] #3261 closed

[2020-07-23 03:17] #1978 closed

[2020-07-23 04:21] MayankKT commented on #3602
@zxyanliu I will try again with latest main branch and will update you accordingly . thanks

[2020-07-23 04:22] boydc2014 opened #3684 "@ shorthand not working as expected in Composer"
## Describe the bug

@x is supposed to be refer to turn.recognized.entities.x, but not working as expected in composer.

if i explicitly set turn.recognized.entities.x = hello world, then print  turn.recognized.entities.x it works fine, but  @x will throw an error.  like this

"....en-us.lg:Exception has been thrown by the target of an invocation. [SendActivity_QrEzdV] Error occurred when evaluati

[2020-07-23 06:47] hibrenda opened #3685 "UX design for QnA in Multi-Lang"
The inline QnA editing will be landed in composer. As LU/LG multi-lang have been supported in Composer now, we may leverage the similar design.

For lu/lg multi-lang support, we only need to translate the utterance or response. so we can use "intent name" or "lg template name" as the placeholder across the different languages and this will help us to do the language comparison in the list view . B

[2020-07-23 06:59] feich-ms commented on #3675
@vishwacsena I tested above 'syntax-invalid' lu content, they didn't hit any errors or warnings in lu parser. This is expected behavior in parser since our rules are designed as loose as possible so that we can handle errors or make corrections more friendly when constructing luis json. These syntax errors seems having no impact on the intent or entity definition parsing. Do you think we should ha

[2020-07-23 07:17] zidaneymar commented on #3684
Hi dong, according to the AtAtPathResolver.cs in botbuilder dotnet sdk, '@@' is the alias of 'turn.recognized.entities', so use '@@x'.

'@x‘ stands for 'turn.recognized.entities.x[0]' or 'turn.recognized.entities.x.first()'

Here are my test dialogs:
![image](https://user-images.githubusercontent.com/9328933/88260715-847d1600-ccf7-11ea-94cd-d33cbb11037f.png)

![image](https://user-images.githubuse

[2020-07-23 07:19] boydc2014 commented on #3684
@zidaneymar is there anything we can do to make the error message clear?

[2020-07-23 07:25] zidaneymar commented on #3684
Yes, I think the error message is not intuitive, I'm not sure if lg has the ability to pop up the details in evaluating the expression. I will confirm with hongyang.

[2020-07-23 08:11] zxyanliu opened #3687 "multi-language validation issue"
## Describe the bug

* After adding a language, I author .lg file inline and generate validation error. The error can be removed after refreshing the page.

![image](https://user-images.githubusercontent.com/32497439/88263315-b1d9ad80-cc7e-11ea-9b64-54e0106d9654.png)

[2020-07-23 08:19] VanyLaw commented on #3671
@hibrenda Seems like this issue happened during opening bot not starting bot. It's the error message popup in home page.

[2020-07-23 09:24] luhan2017 commented on #3631
@kshyambabu , could you share more information on the emulator vs webchat behavior? my understanding is in emulator, everything worked as expected, but in iframe of webchat, you got an error just after the OAuth login, which is saying: "Object reference not set to an instance of an object", is this correct?

[2020-07-23 09:56] xhr0804 opened #3688 "Can not update bot"
## Describe the bug
Previously I set my welcome message as "Welcome to the CDS fdafdxxxxxxxx bot",
![image](https://user-images.githubusercontent.com/44257569/88273588-00358d80-cd0d-11ea-84d4-6f497059b8e7.png)
 and then I changed it to "Welcome to the CDSll bot",
![image](https://user-images.githubusercontent.com/44257569/88273722-3115c280-cd0d-11ea-8301-f27753575f04.png)
But when I restart the bo

[2020-07-23 10:07] xhr0804 commented on #3688
need more investigation

[2020-07-23 10:07] #3688 closed

[2020-07-23 10:50] Danieladu commented on #3674
hi @Mrinnaal Maybe I can provide a simple solution to see whether it can solve your issue.

[code]

[2020-07-23 10:51] #3684 closed

[2020-07-23 12:07] Rouvo opened #3689 "Accessing"
Hi all,

I'm trying to set up a little bot architecture, where botframework composer will act as the leading part (easy deployment + set up). Im coding my own directline chat at the moment and trying to pass data objects around via webviews that will also be used by the facebook chat.

I came up with a little "middleware" concept, where I'm using azure functions for creating endpoints (such as for

[2020-07-23 13:17] paul-maher opened #3690 "Can't change the authoring region in the Publish LUIS model dialog"
In the Publish LUS model dialog, 'westus' is the default option for authoring region, and it is grayed out so it is impossible to change it even though the help indicate that the possible options are 'westus, westeurope, australiaeast'

## Version

1.0.2
From here: https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.0.2

## Browser

- [ x] Chrome

## OS

- [ x] Windows

## To Reprod

[2020-07-23 14:18] hibrenda commented on #3690
@paul-maher you can edit the bot setting directly. Under "luis" section with "authoringRegion": "westeurope".

[2020-07-23 14:47] vishwacsena commented on #3675
@feich-ms agreed. @goergenj the parser is pretty lenient in cases where the inconsistencies are inconsequential. You should have the exact same output LUIS app in both these cases. Can you clarify why you believe these should be reported as errors by the syntax checker?

[2020-07-23 15:30] #3284 closed

[2020-07-23 15:30] #3401 closed

[2020-07-23 15:30] #3687 closed

[2020-07-23 16:37] cwhitten commented on #3689
@Rouvo when you author the bot in Composer, I presume you are using the `user.` and `conversation.`. When you load information from CosmosDB, are you not seeing the runtime behave as expected with these memory scopes?

[2020-07-23 16:41] cwhitten commented on #3679
Closing as a dupe of: https://github.com/microsoft/BotFramework-Composer/issues/3339

@SaikatRoyChowdhury follow the linked issues for updates on this.

[2020-07-23 16:41] #3679 closed

[2020-07-23 17:47] Mrinnaal commented on #3674
@Danieladu bro! you are the hero 🥇 thank you so much! Was expecting this only!!

[2020-07-23 17:47] #3674 closed

[2020-07-23 18:09] #3544 closed

[2020-07-23 18:15] rudrasingh21 commented on #3430
closing this as I installed the same on VM and it is working fine. Thanks for support .

[2020-07-23 18:15] #3430 closed

[2020-07-23 18:22] rudrasingh21 opened #3693 "How can I deploy Bot developed on Composer without using Azure ?"
Hi Team ,

Could you please guide me , If I can deploy Bot developed using Composer in case I don't want to use Azure Services .

[2020-07-23 18:22] Rouvo commented on #3689
Thanks for your quick reply!
Yes, so far I tried to set data on the user scope in the `continueConversation` adapter method via
[code]

Upon retriggering the azure function, I can access the previously set name for one user id accessing `userProfile.name`, but trying to access it in bot composer via `user.name` (and some other variations i have tried) fails and ends up in a undefined value.

Besid

[2020-07-23 18:37] tonyanziano commented on #3683
Hi @iamjenetzler ,

Do you happen to already have an instance of Composer running when you are seeing this error?

I looked at the stack trace in your screen shot, and [the line that is throwing is only executed in the scenario in which you already have a running Composer instance, and then the application is opened / invoked a second time](https://github.com/microsoft/BotFramework-Composer/blob/m

[2020-07-23 18:53] cwhitten commented on #3689
@vishwacsena I believe @Rouvo is running into an issue sharing sdk v4 defined memory with adaptive defined memory. Is there something we can share with @Rouvo to help unblock him?

[2020-07-23 18:58] #3583 closed

[2020-07-23 18:58] cwhitten commented on #3693
Hi @rudrasingh21 - where are you wanting to deploy your bot?

[2020-07-23 19:04] iamjenetzler commented on #3683
Yesterday Srinaath fixed it by creating a %HOME% variable and a data.json file. I am demoing Composer at 4pm today but would be open to breaking it again afterwards so we can reproduce it. You can reach out to me on Teams if you want to try it. From: Tony AnzianoSent: Thursday, July 23, 2020 11:37 AMTo: microsoft/BotFramework-ComposerCc: iamjenetzler; MentionSubject: Re: [microsoft/BotFramework-Co

[2020-07-23 19:10] rudrasingh21 commented on #3693
Hi @cwhitten  , Thanks

So , I have some requirements below.

1) A use case is to integrate it and deploy on Skype Business.

2) Other use case is to deploy on web application developed in .NET and running in production.

3) Out of curiosity - can we deploy it over AWS or other cloud platforms ?

[2020-07-23 19:59] a-b-r-o-w-n opened #3694 "update update-schema script and documentation to also merge ui schemas"
follows #3583

[2020-07-23 20:18] sandeepreddy0987 commented on #3460
Resolved. Thank you.

[2020-07-23 22:04] zxyanliu commented on #3561
Hi @samaroj I am closing this issue for now. Feel free to reopen it when you think it necessary. Thanks!

[2020-07-23 22:04] #3561 closed

[2020-07-23 22:57] tonyanziano commented on #3683
I'd be happy to try and debug it tomorrow. I'll send you a message on Teams.

[2020-07-24 01:05] Aavi2105 commented on #3659
Hi - I am working on similar above requirement and configured both skill bot and consumer bot , but getting below error when trying to call skill bot from consumer bot locally in emulator.

Error is : Object reference not set to an instance of an object.

Please suggest if any configuration steps , I am missing.

Note, I am using different appid/passwd for both skill bot and consumer bot.

Thanks

[2020-07-24 01:28] Aavi2105 commented on #3659
Hi - I found that i did not add "- ${turn.activity.text}" in "connect to a skill" step , after adding this  "object Reference ....." error is gone, but getting below error , which is similar to what error came above. Please suggest what step I am missing in configuration setting.

Error invoking the skill id: “3616df17-8c17-40b2-8247-968814832a3d” at “http://localhost:3979/api/messages” (status is

[2020-07-24 01:31] hibrenda commented on #3690
@sangwoohaan @mareekuh be aware of the request for authoring region editing.

[2020-07-24 02:01] luhan2017 commented on #3659
@Aavi2105 could you double check the skillHostEndpoint in your parent bot ? It should be set to http://parentboturl/api/skills. Please let me know if it still not works.

[2020-07-24 02:26] Aavi2105 commented on #3659
Thanks @luhan2017 for quick response. Yes, I am using the same format as you have mentioned. PFB screen shot.

![image](https://user-images.githubusercontent.com/68352642/88355691-1baf9100-cd2b-11ea-8e95-162c9657fc6a.png)

[2020-07-24 04:28] Aavi2105 commented on #3659
@luhan2017 :- Just realized that skillhostendpoint should be consumer bot url, which I have given the skill bot endpoint url , which was incorrect. Just updated this to consumer bot url and it is triggering now. Thanks for your help.

[2020-07-24 04:48] tdurnford commented on #3693
@rudrasingh21  As of June 2019, the Bot Service Registration no longer supports Skype for Business as a channel.

[2020-07-24 06:31] bradrlaw opened #3695 "Pointing to nonexistent folder on OS X Catalina versus Windows"
## Describe the bug

On OS X Catalina when setting the location for a project if you point to a non-existent folder and select create new folder, the app loses connection to storage and must be restarted.  On Windows, the app recovers from the error and just uses the previous directory.

The default location on OS X is the user's home folder:

/users/brad

If you change/edit the location to a non-

[2020-07-24 06:42] bradrlaw opened #3696 "Try Again option if .NET core SDK not found on OS X does not work"
## Describe the bug

On OS X Catalina, if the .NET Core SDK is not installed, when the Start Bot option is pressed it will display a window to install the SDK with an option to "Try Again".  After installing the SDK the Try Again option never works.  An application restart is necessary to for composer to find the SDK and start the bot.

## Version

Bot Framework Composer

                Version:

[2020-07-24 06:50] bradrlaw opened #3697 "On OS X Catalina, the emulator must already be open for Test In Emulator to work"
When using the Test in Emulator option, if the emulator is not already open, the conversation will not be started in the emulator.  The emulator will be opened, but it will sit at the welcome screen.

If the emulator is open, then the Live Chat session is opened to the bot as expected and you can test the bot.

## Version

Bot Framework Composer

                Version:  1.0.2
                Ele

[2020-07-24 07:07] bradrlaw opened #3698 "RespondWithCardsSample example bot has broken link"
## Describe the bug

In the RespondingWithCardsSample the link for the audio card is broken.  The link: https://wavlist.com/wav/father.wav does not resolve and should be https://wavlist.com/wav/father.wav

## Version

Bot Framework Composer

                Version:  1.0.2
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.

[2020-07-24 07:17] rudrasingh21 commented on #3693
@tdurnford  @cwhitten

Alright , So what all options left for me to implement above use cases?

1) A use case is to integrate it and deploy on Skype Business.

2) Other use case is to deploy on web application developed in .NET and running in production.

[2020-07-24 07:20] bradrlaw commented on #3658
On OS X it is not cleaning up the processes.  I started up several bots and talking to them in the emulator in different windows.  The bots are still running even if the composer application is quit.  Do you want this as a separate bug? @cwhitten

[2020-07-24 08:34] hibrenda opened #3699 "Multi-Lang support for luis supported language"
Problem : LUIS service only support for limited language  but QnA and LG do not have such constraint . So if user add not supported language for LUIS editing and start bot . Composer will not complain any error. Once user specify that language in emulator to test the bot, user will not get expected LUIS recognition.

Proposed Solution : User will get warning/errors during the bot start for LUIS on

[2020-07-24 08:47] zhixzhan commented on #3699
I can add more check on composer side base on Luis & Qna supported language list and fallback policy, produce warnings, and let user start bot as much as possible.

[2020-07-24 11:04] vivekkshankar commented on #3699
@hibrenda

Here are few thoughts on this,

We should  try to avoid a) A bad creator experience where the author creates bunch of LU intents only to realize that the language is unsupported. Thats going to be frustrating.  b) A bad end user experience - where the bot doesn't respond because the language is not supported in run time.

To solve for A for now lets,

- As discussed we need to show a wa

[2020-07-24 11:34] Bernardo08pt opened #3702 "Avoiding unwanted interrupts from LUIS, but supporting 'cancel' across dialogs?"
My bot has been created purely with BotFramework Composer. It has several dozen dialogs. The user's question is mapped to an intent with LUIS; it uses LUIS as the main recogniser. Each intent has its own dialog. Each dialog has many user text inputs, formalised as buttons for the user to click.

I'd like to support a typed 'cancel' across all these dialogs.

I can do this by adding an intent for i

[2020-07-24 15:11] mareekuh commented on #3699
@vivekkshankar - do you want to take this?
I will also forward you a thread on the documentation for MultiLang - the capability of our MultiLang is very limited and it's becoming clear that the design does not appropriately set expectations. Let's discuss so you're up to speed on the why and how of the current design and then take it forward?

[2020-07-24 17:06] benbrown opened #3705 "Regression on publish page after recoil"
## Describe the bug

If a user selects a publish profile that does not have a recent publish action in the history, the server returns a 404 response. This causes the client application to loop infinitely and eventually crash the UI. This will also likely block normal publishing actions.

## To Reproduce

Steps to reproduce the behavior:

1. Go to publish page.
2. Create a publish profile.
3. Clic

[2020-07-24 17:25] dr-dolittle commented on #3678
@mdrichardson thanks for the elaboration.

From my perspective there are different scenarios: on the side those where the Bot itself interacts with CosmosDB and in this scenario it may be sufficient or even the best approach to go with 1 document per logical partition. On the other side (and this is my current focus) there may be consumers (beside the Bot) that want to do something with the data s

[2020-07-24 17:51] kshyambabu commented on #3631
@luhan2017
**Emulator**
Everything seems working fine

### On SharePoint page
**Web Chat**
Using iframe. Login card is displaying and immediately "Object reference not set to an instance of an object" Error is poping up without even logging.
And, getting getsessionid() 400 error when I click on login after "Object reference not set to an instance of an object" error is poped up.

**DirectLine**
Us

[2020-07-24 18:13] DDEfromOR commented on #2240
Hi @benjaminsommerfeld please open a new issue so an expert from the Composer team sees your question. This thread has strayed from the original question a bit, that was specific to the App Service Extension version of the channel which connects to the bot differently than the regular Direct Line channel.

[2020-07-24 18:23] beyackle commented on #3657
@lei9444 That's what I concluded too. This is hard to repro, but there might be a workaround - if it's the last section of the file getting written twice somehow, then what if we just debounced the write operation? Make it so writing/updating a file can't happen twice within a certain interval.

[2020-07-24 19:19] cwhitten commented on #3657
@Stevenic is saying he is running into this multiple times per day. Steve, can you give us a consistent repro in the context of Composer?

[2020-07-24 19:21] cwhitten commented on #3657
@beyackle I like the thought. If we had a consistent repro from @Stevenic and applied the workaround to it I'd be open to take your suggestion.

[2020-07-24 19:28] zxyanliu commented on #3698
@bradrlaw thanks for reporting the issue. I think you mean
this link: http://www.wavlist.com/movies/004/father.wav
should be this: https://wavlist.com/wav/father.wav

[2020-07-24 19:32] beyackle commented on #3657
I've tried to repro it by throttling the connection speed down to "Slow 3G" and leaving the ".dialog" file open while I edit a bot, and the changes just propagate into the file cleanly with no issue. Actual repro steps would be really useful here.

[2020-07-24 20:32] #3634 closed

[2020-07-24 21:26] v-kydela commented on #3702
Thank you for the question, @Bernardo08pt. It sounds like you want to allow some interruptions but not others, and when you configure user input to allow interruptions then it allows interruptions for all triggers. I am assuming you've read [this document](https://docs.microsoft.com/en-us/composer/tutorial/tutorial-add-help) and found that it doesn't resolve your issue. I can think of a few potent

[2020-07-24 22:09] mewa1024 opened #3709 "Code view look and act more like a code editor?"
## Is your feature request related to a problem? Please describe.
I lose my place when I switch between design view and code view. For example, if I'm in a specific trigger, when I switch to code view, the file is scrolled to the top of the dialog and it's hard to find the trigger in the code.

## Describe the solution you'd like
Can the code view have some things from code editors to make it easi

[2020-07-24 22:38] #3698 closed

[2020-07-25 03:58] bradrlaw opened #3710 "Edit mode does not resize properly when shrinking window after growing it"
## Describe the bug

If you enlarge the composer window the edit area will grow to fill the space, but when the composer window is resized smaller the edit window stays the same size. If word wrap is enabled it remains stuck at the larger size and you cannot see / edit text that ends up off screen.

In addition Restart Bot / Test In emulator buttons stay off screen and it is impossible to scroll t

[2020-07-26 03:51] hanchen79 commented on #3160
Did you fix the issue? I am facing exactly the same issue. I am also using a hotmail Azure subscription.

[2020-07-26 18:40] hanchen79 commented on #3160
I pass the AAD tenant ID as a parameter for provisionComposer.js. Then issue is resolved. I think somehow it did not get the corrrect tenant ID when the value is not passed.

[2020-07-27 08:36] lei9444 opened #3717 "Azure publish failed"
## Describe the bug
![image](https://user-images.githubusercontent.com/39758135/88521133-1bfba500-d027-11ea-9b57-8dee2a12b5ef.png)
![image](https://user-images.githubusercontent.com/39758135/88521172-29b12a80-d027-11ea-9dd6-6073f6b9e1b6.png)

## Version
main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ub

[2020-07-27 09:17] zidaneymar commented on #2705
Just get a work around for facebook adapter.
Using [dotnet sdk](https://github.com/microsoft/botbuilder-dotnet), commit hash: f127fca9

Here are the concrete steps to create facebook adapters based on the composer dotnet runtime:

1. Register your facebook page and facebook app and configure related details based on this [doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-

[2020-07-27 09:46] #2705 closed

[2020-07-27 14:28] #3705 closed

[2020-07-27 15:55] mdrichardson commented on #3678
@dr-dolittle I should have probably prefaced my first reply with a statement that I'm not really in a position to make decisions on your recommendations. I've just done a *lot* of research on Cosmos partitioning and wanted to make sure that anybody who is involved in decisions related to this is on the same page. As far as Cosmos goes, partitioning is the only topic I know deeply enough to be comf

[2020-07-27 15:58] sgellock commented on #3678
Thanks @mdrichardson

@carlosscastro @johnataylor can you weigh in please

[2020-07-27 16:44] tonyanziano commented on #3683
We tried to repro this but couldn't, and it seems like it is no longer present after a fresh install. Going to close this issue.

[2020-07-27 16:44] #3683 closed

[2020-07-27 19:04] zxyanliu commented on #3602
@MayankKT did you have a chance to try again?

[2020-07-27 19:56] Trubzzz opened #3722 "Issue Publishing Composer Bot to Azure Web App Bot"
I've created a bot locally through the Composer Desktop Application (v1.0.2) using Luis for intent and entity recognition. I'm able to test the bot through the emulator with no issues, so naturally I'm trying to publish the bot to our Azure Portal so other users may test it.

The issue I'm running into is I cannot get the bot published following this documentation:
https://docs.microsoft.com/en-us

[2020-07-27 20:35] #3717 closed

[2020-07-27 20:53] benbrown opened #3723 "bug: Composer does not validate the path of a bot project before "opening" it"
## Describe the bug

The `/api/projects/open` endpoint and the underlying `BotProject` model definition do not validate that the path provided to the BotProject actually contains a bot project.

For example, it is possible to:

* open an arbitrary folder that does not contain any declarative assets, and then write assets to it
* Any parent folder of any bot project, and read any declarative assets

[2020-07-27 21:01] benbrown opened #3724 "bug: Composer allows files to be written outside the current bot project"
## Describe the bug

It is currently possible to tell Composer to write files outside of the current bot project, and thus, to almost anywhere on the filesystem.

Both the `updateFile` and `createFile` methods accept an arbitrary path as a parameter via the API. This path is accepted and used without validating that it is a path within the project's folder space.

This can be used to write any typ

[2020-07-27 21:01] #3319 closed

[2020-07-27 23:36] a-b-r-o-w-n commented on #3175
Related to #3458. @beyackle has extracted the copy from the app in order to prep it for i18n. That will be a good first step in centralizing all copy in a single place (with the exception of any sdk/uischema copy)

[2020-07-27 23:36] #3175 closed

[2020-07-27 23:36] zxyanliu commented on #3403
@benbrown I drafted some rough [scope](https://microsoft-my.sharepoint.com/:w:/p/v-liyan/EdivIw6DKDlBlTho9jbtj7UB58-HfgN4e02DWWlmwAZ_Bg?e=Gtvw39) to be covered in this topic.

[2020-07-27 23:44] zxyanliu commented on #3722
@Trubzzz thanks for reporting your issue.
Can you share your JSON file for publishing so that we can troubleshoot for you?

[2020-07-28 00:09] Aavi2105 commented on #3421
Hi Team - I found this thread relevant to the issue which I am facing, hence asking here.
Issue is : I built one skill bot using Bot Composer to send adaptive card to PVA. In Skill bot, I am taking input using event activity (SampleAction) trigger from PVA and then binding the data to adaptive card and sending card to PVA as per dialog configured below. I am able to trigger this skill from PVA and

[2020-07-28 01:34] Trubzzz commented on #3722
Sure thing. If you need the specifics, I don't mind providing those as well. Just wanted to get a baseline first to ensure I'm using the correct information to begin with,

{
"accessToken": "<access token provided from 'az account get-access-token'>",
"hostname": "<name of web app bot>",
"luisResource": "<name of Cognitive Services in Azure portal (also name of Authoring Resource in Luis.ai)>",
"s

[2020-07-28 08:52] bradrlaw opened #3725 "Feature: Add global Dialog Begin / End Triggers"
## Is your feature request related to a problem? Please describe.

There is no method currently to create a dialog to be executed when any other dialog begins or ends.

## Describe the solution you'd like

Would like the ability to add a global level trigger on dialog events so that various functionality can be implemented easily.  This will be useful for custom metrics / telemetry capture, adding

[2020-07-28 09:34] bradrlaw opened #3727 "Set properties node does not load property pane properly for number types"
## Describe the bug

If you set some properties to number type, when you return to the node the property sheet type is set to Object and the value is the empty object.  If you change back to number type, the original value is lost.

## Version

Bot Framework Composer
                Version:  1.0.2
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.

[2020-07-28 09:46] bradrlaw opened #3728 "Test in Emulator becomes active before bot is actually ready to accept connections"
## Describe the bug

On OS X, the Test In Emulator button becomes active before the bot is ready to accept connections.  This causes the emulator to throw a Directline error.

## Version

Bot Framework Composer
                Version:  1.0.2
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

## Browser

[2020-07-28 14:09] Olakhrisat opened #3729 "Connect facebook with composer"
## Describe the bug
The bug happened when I connect the bot with luis and facebook, the bot received the locale as null and that cause problem and the bot on messenger doesn't response.

## Version
Latest version

## Browser

- [ ] Electron distribution
- Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
-  Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1.

[2020-07-28 14:12] Olakhrisat opened #3730 "Validation on Max turn count"
## Is your feature request related to a problem? Please describe.
yes, because if the user enters number larger than this number 2147483647 (max integer) the bot composer will stop working

## Describe the solution you'd like
put validation on "Max turn count"

## Describe alternatives you've considered

## Additional context

[2020-07-28 14:29] Aavi2105 commented on #3421
@luhan2017 @scheyal @sbacha :- Hi , Can you please assist on above query?

Thanks
Aavi

[2020-07-28 14:41] Aavi2105 opened #3731 "Exit Skill Bot while calling from PVA"
Hi Team - I am facing below issue in skill bot. Please suggest what steps I need to add further to achieve this?

Issue is : I built one skill bot using Bot Composer to send adaptive card to PVA. In Skill bot, I am taking input using event activity (SampleAction) trigger from PVA and then binding the data to adaptive card and sending card to PVA as per dialog configured below. I am able to trigger

[2020-07-28 15:57] tdurnford commented on #3727
Related to https://github.com/microsoft/BotFramework-Composer/issues/3580

[2020-07-28 16:40] cwhitten commented on #3729
@Olakhrisat what value do you have set on the `defaultLanguage` field in your bot settings? In the case of a missing locale, it should call back to whatever language you have provided here.

[2020-07-28 16:43] cwhitten commented on #3728
Let's investigate for R11.

I believe that while the runtime has started and sends a signal to Composer that it is ready, there is some pre-processing and startup logic that takes an amount of time before the runtime is truly ready to accept incoming connections.

[2020-07-28 16:52] cwhitten commented on #3709
Recommendation:

Have the "code" view connected to the left navigation such that clicking on a Dialog shows the entire dialog file, but clicking on a trigger inside of that dialog shows just the trigger data. This fits into existing IA quite well.

[2020-07-28 18:30] v-kydela commented on #3731
Hello @Aavi2105. I'd like to help and I have a few questions.

1. Would you kindly link to any documentation you've followed?
1. Would you kindly show us the rest of your Composer skill, perhaps by sharing the dialog files?
1. Have you tried using End Conversation instead of End Dialog?

[2020-07-28 19:20] Aavi2105 commented on #3731
Hi Kyle :- Thanks for your response.

As asked, PFB details .
1) I followed below links to create skill bot and created trigger of type event activity which I am calling from PVA.
https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill
https://github.com/microsoft/BotFramework-Composer/issues/3421
2) Please find below dialog file.
[echoskillbot.dialog.txt](https://github.com/microsoft/

[2020-07-28 19:30] scheyal opened #3732 "Proposal: Have a clear explicit indication that the bot is running after click "start""
## Suggestion
I click start on echo-bot and started the emulator but it fails.
It would have been useful to have some confidence that the bot is running by having a "running" indicator, maybe with the bot url displayed in the composer. First step in troubleshooting is to ensure the bot is running in this case so indicator would be useful.

[2020-07-28 19:47] scheyal commented on #3732
(also, I think it is insufficient to have an implicit "if Emulator button is available, then it is running")

[2020-07-28 21:02] yalamarti commented on #3409
Same exact issue - tried all - rebooted. restarted. created empty bot . launched as Admin; tried creating an echo bot from template ... same issue ... exact screen shot as shared by @ashritkulkarni .  Is there any specific runtime requirement that I am missing?

![image](https://user-images.githubusercontent.com/44853062/88721026-c8a35880-d0f3-11ea-9d95-a0b8b849a189.png)

![image](https://user-ima

[2020-07-28 21:50] scheyal opened #3734 "NODE CONTEXT MENU: Add actions to Cut, Copy, Move, Delete, and Disable/Enable"
## Suggestion
It is more intuitive to right-click context menu or discover actions on the node itself, rather than looking for buttons at a top menu.
For example, I wanted to move a node onto another arm of condition, and I ended up editing the code, didn't associate the top move/cut/copy buttons with the node.

[2020-07-29 01:32] bradrlaw opened #3735 "Composer on OS X creates many zombie helper processes the longer it is running"
## Describe the bug

Using composer on OS X and closing the primary window (but not the app as is the default OS X behavior) appears to cause many zombie Composer Helper processes to linger.  After about a day of on and off again use, over 120 processes were in the background consuming resources.

## Version

Bot Framework Composer
                Version:  1.0.2
                Electron: 8.2.4

[2020-07-29 04:03] MayankKT commented on #3602
Hi @zxyanliu ,No I am outside, will try and update you soon.

[2020-07-29 04:41] madbeher opened #3736 "In Composer, 'alt' property for describing image element in a herocard is not working"
We are trying to add descriptive text to an image element in hero card using 'alt' property of 'CardImage' object as mentioned in the below document.

https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#hero-card

https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#cardim

[2020-07-29 04:52] zxyanliu commented on #3722
Hi @Trubzzz I tested a ToDoWithLUIS sample bot today. I was unable to reproduce the error you had.
I felt it easier to start by [creating all the new Azure resources](https://docs.microsoft.com/en-us/composer/how-to-publish-bot#create-azure-resources), and then copy the generated JSON file from the command line and [paste it to your Composer publish configuration](https://docs.microsoft.com/en-us/

[2020-07-29 06:22] bradrlaw opened #3737 "Feature: Support dark mode / custom themes"
## Is your feature request related to a problem? Please describe.

The app doesn't support the theme of the current OS and / or have the ability to change theme to something closer to what a user may prefer.

The Composer (and emulator) really stick out when the rest of the OS / apps are in dark mode.

## Describe the solution you'd like

Enable support for dark mode / user themes or inheriting th

[2020-07-29 08:07] Olakhrisat commented on #3729
"defaultLanguage": "en-us",

[2020-07-29 09:15] zidaneymar commented on #3729
Create a pr:https://github.com/microsoft/botbuilder-dotnet/pull/4344 in dotnet sdk to fix this.
It exists a workaround to fix this in composer runtime temporarily:
Add the following code in BotFramework-Composer\runtime\dotnet\core\ComposerBot.cs will resolve this issue as well.

![image](https://user-images.githubusercontent.com/9328933/88781225-b4785d80-d1be-11ea-88fc-e3c0d7ff7a50.png)

[2020-07-29 09:18] Olakhrisat commented on #3729
I resolved the issue for now but I just wanted the others to know about and fix it in the future releases. :)

[2020-07-29 14:05] eluchsinger commented on #3722
I can reproduce the error. I've created a bot and everything works in the emulator. When I run the provisionComposer and it creates all the new Azure resources, the Test In Web Chat does not work and is just empty.

I think the endpoint for the bot is actually not available (is it hosted in the WebApp?)

[2020-07-29 14:10] eluchsinger commented on #3722
@zxyanliu

Actually, you seem to have a Web App Bot and I have a `Bot Channels Registration`.

And I've got the following message after copying the generated JSON into the composer.

![image](https://user-images.githubusercontent.com/12324017/88810501-b5f15800-d1b5-11ea-878c-6992beafb0a6.png)

Even if the publisher says the publishing was successful:

![image](https://user-images.githubusercontent

[2020-07-29 15:48] zxyanliu commented on #3722
@eluchsinger this error message is a known issue. You can just click **OK** and proceed. Did you get your bot published with success?
@hibrenda can we get someone to fix the error message?

[2020-07-29 16:08] benbrown opened #3739 "docs needed: how to build custom actions in an ejected runtime"
## Is your feature request related to a problem? Please describe.

Our documentation only covers how to turn on the included sample action, and does not cover the process of developing the C# class that implements the action or how these work.

## Describe the solution you'd like

We need to have a clear document about how to build the custom action class and how it works with the schema loading s

[2020-07-29 16:11] benbrown opened #3740 "docs needed: what is inside the runtime and how can i use the ejected version"
## Is your feature request related to a problem? Please describe.

We do not clearly document what capabilities and structure of the runtime.

## Describe the solution you'd like

We should provide documentation for the runtime such as:

* inline code documentation within the code itself
* A document explaining the configurable options
* A document explaining the build process for use outside of C

[2020-07-29 17:29] #3694 closed

[2020-07-29 18:07] EricDahlvang commented on #3693
As @tdurnford  mentioned, Skype is no longer supported as a business case for bots.  You might be able to find some unsupported method for this.

Please direct future questions to Stack Overflow.

[2020-07-29 18:07] #3693 closed

[2020-07-29 18:09] EricDahlvang commented on #3622
@malotho  Please provide the requested info.  We would like to close this out.

[2020-07-29 18:26] #3699 closed

[2020-07-29 18:33] EricDahlvang commented on #3671
We will have this fixed in R11 (due to be released in November).

[2020-07-29 18:37] cwhitten commented on #3620
@vishwacsena or @feich-ms can you comment?

[2020-07-29 18:38] cwhitten commented on #3620
Thanks for the patience @Trubzzz

[2020-07-29 18:43] cwhitten commented on #3624
@behram-kn human/live-agent handoff is not modeled in the Bot Framework SDK as a component primitive, but there are plans to do so (cc @arturl )

Achieving the scenario in Composer today would require the use of a [Custom Action](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action)

[2020-07-29 18:52] v-kydela commented on #3736
Thank you for the report, @madbeher. What channel are you using?

[2020-07-29 19:07] vishwacsena commented on #3620
@Trubzzz you should use `@datetime` instead of `@datetimeV2`. You can inspect the specific shape of the entities in bot framework emulator.

![image](https://user-images.githubusercontent.com/20918136/88842293-1e2f4200-d194-11ea-8772-8a26ff7a13bf.png)

[2020-07-29 19:31] benbrown commented on #3739
These docs from the SDK are relevant:

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-dialogs-declarative?view=azure-bot-service-4.0&tabs=csharp#creating-the-schema-file

[2020-07-29 19:37] eluchsinger commented on #3722
@zxyanliu I removed the newly created resource group, generated all resources again and published manually again. The same error happened. After I published manually a second time, it started working properly.

I believe there was an issue with the earlier deployments and they actually failed, even if the message was "success".

[2020-07-29 20:02] kaiss-samkari opened #3742 "How to disable SDK sampling of Application Insights"
I'm using the BotFramework-Composer to build a very basic Bot. I only see a fraction of the events that are being generated by my bot. According to [this reference](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-troubleshoot-no-data) it is probably due to adaptive sampling.
My question is: Is there a possible way to disable adaptive sampling using the composer, or by adding some

[2020-07-29 20:21] Aavi2105 commented on #3731
Hi @v-kydela :- Did you get a chance to look into this ?

Thanks
Aavi

[2020-07-29 20:34] v-kydela commented on #3731
@Aavi2105 - Yes, you can read about using `endOfConversation` in a skill [here](https://docs.microsoft.com/en-us/azure/bot-service/skill-implement-skill#to-continue-or-complete-a-conversation).

I am waiting on advice about how to do this in Composer.

@cwhitten - Can you advise?

[2020-07-29 21:06] cwhitten commented on #3731
The EndOfConversation activity should be sent from the Skill automatically and the caller needs to respond to it (in this case PVA).

@sbacha does PVA do anything here on this event sent from the Skill?

[2020-07-29 21:21] sbacha commented on #3731
Hey, so if you have autoEndDialog set to true, the skill will automatically send an endofconversation when it hits the last node in your dialog flow.

If in the manifest you have resultValue set to some expected object, then you need to pass that object as part of the the end of conversation event.
You can do that in composer by going to DialogManagement -> End This Dialog
End this Dialog has a pr

[2020-07-29 21:27] Aavi2105 commented on #3731
@v-kydela :- Thanks for your response. Yes, I referred this link yesterday and tried out giving multiple expressions in composer to end conversation, but unable to end the conversation. Hope we get updates soon on this.

@cwhitten

[2020-07-29 22:36] scheyal opened #3745 "Composer prereq docs should point at .Net Core SDK 3.1 *Hosting Bundle*"
__Minimum__: Ensure docs point to exact prerequisites.
__Better__: detect when cannot launch web server and display error with corrective action recommendation in the GUI.

### References
* ..."The [.NET Core SDK 3.1](https://dotnet.microsoft.com/download/dotnet-core) and above."...
* https://docs.microsoft.com/en-us/composer/setup-yarn
* https://dotnet.microsoft.com/download/dotnet-core/3.1

[2020-07-29 23:27] v-kydela commented on #3702
@Bernardo08pt - Are you still working on this?

[2020-07-30 00:06] zxyanliu commented on #3745
@scheyal thanks for the feedback!
I will update the [doc](https://docs.microsoft.com/en-us/composer/setup-yarn). Thanks!

[2020-07-30 00:20] zxyanliu commented on #3722
@eluchsinger thanks for the update.

[2020-07-30 00:29] mewa1024 commented on #3709
I think Consolas would be good. These are the fonts used on https://developer.microsoft.com/en-us/fluentui#/ for the monospaced type:

"Segoe UI Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

[2020-07-30 00:36] shingosakamoto opened #3746 "Bot Composer is not able to open older version project"
Would you please give me some advise. I searched around issues history but couldn't find the solution.

I updated my Bot Composer some point maybe it was around the end of April and couldn't open the project that I created with the previous version of Bot Composer.

The project structure looks like this and it's different between older project and latest one. Please let me know how to open these o

[2020-07-30 00:51] zxyanliu commented on #3745
Closing since the issue is resolved.
@scheyal Thanks again for your feedback. The content is merged and will go live soon.

[2020-07-30 00:51] #3745 closed

[2020-07-30 03:52] madbeher commented on #3736
Hi,
As of now I am doing testing in Bot Emulator in local machine only.

Thanks.....

[2020-07-30 04:10] sandeeptalabathula commented on #3160
provisionComposer.js script is picking up the first one in the list which might not be your intended one.
![image](https://user-images.githubusercontent.com/1611624/88879608-52fcd100-d248-11ea-930f-5f739db88b7a.png)

Try adding below parameter:
`--tenantId=<AAD Tenant Id>`

[2020-07-30 04:41] hibrenda opened #3747 "Automatically overwriting LUIS models when you start a bot causes problems for multi-user scenarios"
Following comments comes from the meeting hackathon.

- [x] **User scenario :** User edit the dialog flow in composer , restart the bot and test in emulator. every time with the restart user will get unexpected LUIS results.
same sentence will be pass for this time but may not be recognized for next time. This is painful because user don't know why it is.
**Root cause :** This is introduced by "**

[2020-07-30 06:31] Acnokal commented on #3409
i had this issue and i just restarted it after a while and the issue is gone. Sounds like usual microsoft way of error correction

[2020-07-30 06:57] zxyanliu commented on #3739
@luhan2017 can you provide some instructions to create a class for the custom action? Thanks!
@hibrenda please if you have any suggestions on this?

[2020-07-30 07:35] lei9444 opened #3749 "click the send a response action will throw error"
## Describe the bug
![bug](https://user-images.githubusercontent.com/39758135/88894127-00d4a380-d27a-11ea-931a-9a22f46d63b8.gif)

## Version
main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. create a new echo-bot from samples
2. go to design pa

[2020-07-30 09:19] VanyLaw opened #3750 "enhance error message in eject runtime"
## Describe the bug

If customized runtime already exist, composer will throw below message, which is not user friendly.

![image](https://user-images.githubusercontent.com/21174180/88905120-86f7e680-d288-11ea-88da-eb1e8e0815f9.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

[2020-07-30 10:21] luhan2017 commented on #3631
@kshyambabu sorry for the late response, just want to let you know that I can reproduce this issue and I am still investigating on this.

[2020-07-30 12:20] lei9444 commented on #3428
This .dialog is from create dialog flow

[2020-07-30 12:20] yalamarti commented on #3409
@Acnokal Not in my case ... restarted, rebooted. Didn't work for me.

@zhixzhan :

I am behind a proxy server.   Is there any Composer related configuration file where I can specify the proxy server details.

I am unable even to get to the Settings 'page' to see if it has any proxy related setting feature.

Regards
Athadu

[2020-07-30 12:46] yeze322 commented on #3455
addressed in #3721

[2020-07-30 12:54] yeze322 commented on #3227
addressed in #3660

[2020-07-30 13:19] sonjakn commented on #3747
Thank you for documenting this!

[2020-07-30 13:31] hibrenda commented on #3749
not easy to repro. so may open it if we can repro.

[2020-07-30 13:31] #3749 closed

[2020-07-30 14:19] #3428 closed

[2020-07-30 15:46] Aavi2105 commented on #3731
Thanks @sbacha for your response. I was setting the value property as setProperty({resultVale},'customerId',dialog.testproperty) in end dialog, which did not work. I just tried this setProperty({},'customerId',dialog.testproperty) and it worked.
If manifest has resultValue defined, do we need to set the output always like this setProperty({},'propertname',Value) in end dialog property value?

[2020-07-30 16:34] tonyanziano commented on #3742
@scheyal can you take a look at this and provide some guidance please?

[2020-07-30 16:36] tonyanziano commented on #3737
We will consider this in a future release due to current resourcing.

[2020-07-30 16:39] tonyanziano commented on #3734
@mareekuh any input on this?

[2020-07-30 16:42] sangwoohaan commented on #3732
This is very timely since I'm working on the start bot today :)  Yes I will include this.

[2020-07-30 16:45] #3750 closed

[2020-07-30 17:16] zxyanliu commented on #3740
This will be a separate topic about what it is, how to separately configure it, deploy it, etc.

[2020-07-30 17:59] v-kydela commented on #3736
@madbeher - Hero cards don't have an `image` property. What happens if you try using `images` instead?

Also, it would help if you posted your code as code instead of a screenshot

[2020-07-30 18:12] tdurnford commented on #3727
@bradrlaw @cwhitten @a-b-r-o-w-n  In the latest nightly build, if you add a property, set the property type, and provide a value for the property, everything is preserved when you switch between property editors. If you do not set a value for the property, the property type reverts back to the default when you switch between elements.

[2020-07-30 18:16] v-kydela commented on #3731
@Aavi2105 - Are you saying you're putting the `setProperty` function as the value instead of just putting the value? I don't see any values passed to EndDialog in the dialog file you shared. Can you show what it looks like for you?

![image](https://user-images.githubusercontent.com/41968495/88958822-da9d0c80-d255-11ea-85a7-8631e1f8188a.png)

[2020-07-30 18:44] a-b-r-o-w-n commented on #3735
@bradrlaw thanks for the issue. I have confirmed that we fail to properly manage a forked process when closing / re-opening the desktop app. I believe a fix will be pretty minor and hopefully we can get this addressed in the next release.

[2020-07-30 18:48] Aavi2105 commented on #3731
@v-kydela , Sorry, I added that after the dialog file shared to you. PFB screenshot.

![image](https://user-images.githubusercontent.com/68352642/88961878-410c4400-d2c3-11ea-8721-2dd81184e553.png)

[2020-07-30 18:58] tdurnford commented on #3736
@v-kydela Hero cards can have an image. Take a look at the [Hero Card](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#hero-card) documentation.

@madbeher I'm going to transfer this issue to the Web Chat repo since this looks like an issue with Web Chat not adding the `altText` to images in cards.

#### [`AdaptiveCardBuilder`](https://github.c

[2020-07-30 19:57] v-kydela commented on #3731
@Aavi2105 - What's your desired behavior? Is your skill meant to return a value or are you not trying to return anything? What happens if you just leave the value empty?

[2020-07-30 20:09] #3735 closed

[2020-07-30 22:47] #3458 closed

[2020-07-31 00:27] dmvtech commented on #3742
Take a look at how to enable fixed-rate sampling [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling#configuring-fixed-rate-sampling-for-aspnet-core-applications).

For example, if you're going off of our App Insights sample [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/21.corebot-app-insights), you would add the following 2 lines

[2020-07-31 01:25] Aavi2105 commented on #3731
@v-kydela :- Yes, Skill manifest files has input/output defined which demands output to be returned from Skill bot to PVA. If I set value property as empty then It does not end the skill conversation in PVA and I can see error message in dialog log file for  missing property [customerId] so it looks like if manifest file has output object defined then it is required to return value property in end

[2020-07-31 03:33] zxyanliu commented on #3624
FYI. The custom action topic has been recently updated [here](https://review.docs.microsoft.com/en-us/composer/how-to-add-custom-action?branch=pr-en-us-174#additional-information). The content will go live soon.

[2020-07-31 03:39] bobokids opened #3754 "Publish skill failed when skill custom runtime includes projects outside of skill"
## Describe the bug
Repro steps:
. enlist the who skill code from https://github.com/microsoft/botframework-skills/tree/preview-build2020/skills/declarative/whoskill
.  StartBot and then try to Publish the bot

Result:
Publish failed to build the whoskill\runtime\azurewebapp, as azurewebapp includes a share action project "Microsoft.Bot.Solutions.Extensions" outside of whoskill. This shared projec

[2020-07-31 03:48] yeze322 commented on #3734
For the use case 'discover actions on the node itself', we do have a design but not implemented yet
![image](https://user-images.githubusercontent.com/8528761/88997964-90825c80-d323-11ea-97d8-b0281f893625.png)

This menu is for operating the host action node, it means when clicking on a node's 'Move' menu, only that node will be moved.

[2020-07-31 04:42] mg-arrow commented on #1829
Any updates on new version of the composer, which can resolve the issue ?

I've tried all suggestions but none worked for me. See message above.

Thanks

[2020-07-31 05:33] bradrlaw commented on #1993
Have a client that asked for this today.  They would be porting their existing bots from the Rasa framework and really liked the integration of the LU/LG files into the tooling.

[2020-07-31 15:26] benbrown opened #3756 "The generated skill manifest should have at least a placeholder for the endpoints field"
## Describe the solution you'd like

When we generate a skill manifest, it does not include all the required fields. We should include placeholders at a minimum for all the fields necessary to publish a valid skill.

[2020-07-31 17:18] v-kydela commented on #3731
@Aavi2105 - So your goal is to have the skill return an object with a `customerId` property?

`=setProperty({},'customerId',dialog.testproperty)` should work fine, but if you don't want to call that function you should be able to just return the object directly like this:

[code]

You can set the type to "object" instead of "expression":

![image](https://user-images.githubusercontent.com/41968495

[2020-07-31 17:48] cwhitten commented on #3734
@yeze322 let's hold off on this

[2020-07-31 17:50] #3227 closed

[2020-07-31 18:24] SattaRavi opened #3757 "Question - Get conversation ID"
We are trying to report on the bot usage by conversation's (analytics), i can access the dialog, user, conversation & this objects.

My requirement is to get the conversationID, but unfortunately the conversation object under value does not have the ID.

Any pointers on how to get the conversationID ?

![image](https://user-images.githubusercontent.com/6824787/89065381-64b1a780-d320-11ea-8cb1-6a3b

[2020-07-31 18:27] SattaRavi commented on #2366
@mchelen - we are looking to get conversation id but cannot find the data under the value.conversation object ? more here #3757

[2020-07-31 19:06] zxyanliu opened #3758 "LG card definition and SDK card definition spec"
## Describe the bug

@EricDahlvang filed the issue which I cannot transfer to this repo.
See: https://github.com/MicrosoftDocs/composer-docs-pr/issues/177

* Card definition in the [RespondingWithCard](https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/plugins/samples/assets/projects/RespondingWithCardsSample/language-generation/en-us/common.en-us.lg) sample where the [doc](http

[2020-07-31 19:18] v-kydela commented on #3702
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-07-31 19:18] #3702 closed

[2020-07-31 19:32] ryanlengel opened #3759 "Start Bot has publishing error: applicationPublishObject.isStaging with value [object Map] must be of type boolean."
## Describe the bug

On a new bot (using ejected runtime with no changes), when I select **Start Bot** it begins the publish process of my LUIS apps but errors with `applicationPublishObject.isStaging with value [object Map] must be of type boolean.`

## Version

Main branch: commit #ba189031
## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] m

[2020-07-31 21:03] ryanlengel opened #3760 "New dialog starting with uppercase creates an LU file that is unrecognized"
## Describe the bug

When I create a new dialog with a LUIS recognizer, it appears that Composer has difficulty differentiating between the casing of that dialog.

❌Scenario 1: Create a dialog with uppercase name - made a dialog called `Onboarding` with an intent recognized trigger.

When I select **Start Bot** it warns `Sorry, lu file 'Onboarding.en-us.lu' is not found`
![image](https://user-imag

[2020-07-31 21:44] zxyanliu commented on #3602
I am closing this issue at this point because we were unable to reproduce your error.
Please feel free to reopen it after you have a chance to try again and still had the same issue.
Thanks a lot!

[2020-07-31 21:44] #3602 closed

[2020-07-31 23:25] zxyanliu commented on #3758
Asked @Danieladu for help.
- The card definition schema in LG is slightly different from the card definition in SDK.
- 'image' and 'images' fields are supported in all card definitions in LG.

[2020-07-31 23:29] Danieladu commented on #3758
Attach more info here:
I can explain the logic of LG about the image and images properties. In order for users to conveniently add image(s) into card, LG supports both image and images properties for all cards. The detail logic is:
1.if in herocard/thumbnailCard,  image/images would be converted to images array, for other cards the last property win, and the value would assign to 'image' property.

[2020-08-01 00:19] zxyanliu commented on #3758
@Danieladu thanks a lot! How about adding the following content in the docs?

- LG provides some variability in card definition, which will eventually be converted be aligned with the SDK card definition.
- For example, both ‘image’ and ‘images’ fields are supported in all the card definitions in LG.
- For HeroCard and Thumbnail cards, the values defined in either ‘image’ or ‘images’ fields will b

[2020-08-01 00:39] EricDahlvang commented on #3758
can we show other properties?  such as 'alt'?  how would one set that value for an image?

[2020-08-01 03:04] Danieladu commented on #3758
Yes, sure. you can set 'alt' to image with structure result.
There are several ways to achieve the result.
For example:

1.  Use Expression
[code]

2. Use `json` method
[code]

3. Use structure result
[code]

[2020-08-01 22:49] kellyhopkins commented on #3759
I'm having the same issue

[2020-08-01 23:23] kellyhopkins opened #3762 "Bot publish fails with LUIS authoring key: multiRecognizers.has is not a function"
## Describe the bug
I created an empty bot and it ran fine locally, but once I added my LUIS key I started getting an error that says "multiRecognizers.has is not a function"

## Version

Release: 1.0.2
## Browser

- [ ] Electron distribution
- [x ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go

[2020-08-02 07:07] rudrasingh21 commented on #3429
Installed VM on windows , and running it on ubuntu now..

[2020-08-02 07:07] #3429 closed

[2020-08-03 01:04] zxyanliu commented on #2080
Are we still working on this ticket? What is the status? What is needed from the docs?

[2020-08-03 06:36] luhan2017 commented on #3757
you can get the conversation id by this : turn.activity.conversation.id
It is here:
![image](https://user-images.githubusercontent.com/32191031/89153060-bfeccf80-d596-11ea-91cc-2f249a76da01.png)

[2020-08-03 06:46] bradrlaw commented on #3449
@sangwoohaan Another option could be using the design we have in viso, powerpoint, etc...  Leave the area scrollable as it is now but have a slider for the zoom:

<img width="223" alt="Screen Shot 2020-08-03 at 2 32 49 AM" src="https://user-images.githubusercontent.com/10415799/89152823-c72dc200-d531-11ea-9dae-40d50d556489.png">

As I am building more complex flows this would be very useful.  With

[2020-08-03 08:31] Trubzzz commented on #3620
Ok, I see that works; I guess the more frustrating part of this is if I use **coalesce(@datetime)** early in my conversation, the value for something like "tomorrow at noon" is
[code]

and if I use a **Bot Asks (DateTime) task**, the value is
[code]

This gets even worse if the answer is a little vague like Monday at 8:

**coalesce(@datetime):**
[code]

**Bot Asks (DateTime):**
[code]

Not saying

[2020-08-03 08:39] Trubzzz commented on #3722
Hi @zxyanliu,

Thanks for the replies, but I'm still unable to publish after creating a brand new resource group. I've tried both creating a brand new resource group altogether per the documentation provided above as well as publishing to a Web App Bot that already exists in my portal.

Is there any additional troubleshooting step I can take? I can run my bot in the Bot Composer Desktop Applicatio

[2020-08-03 10:12] hibrenda commented on #3759
https://github.com/microsoft/BotFramework-Composer/pull/3764

[2020-08-03 10:12] #3759 closed

[2020-08-03 11:56] eluchsinger commented on #2565
@luhan2017 do you have a tracking item for the multi-language support? And what does multi-language mean for you? Is it just changing the bot language to something different, than en-us or having a bot with multiple languages?

Our customer's bot has got the requirement that is has to be in german. When is R10 due? I believe I could build the Composer myself as soon as the PR is merged into master

[2020-08-03 15:40] tonyanziano commented on #3230
Fixed by #3326

[2020-08-03 15:40] #3230 closed

[2020-08-03 15:53] tdurnford commented on #3756
@benbrown This is being addressed with the changes requested in https://github.com/microsoft/BotFramework-Composer/issues/3380

[2020-08-03 16:26] Bernardo08pt opened #3769 "Deploying bot to azure gives LUIS error"
HI

I'm trying to deploy my chatbot into azure, below is the json that I'm using

[code]

I'm getting the below error

429 - "{\"ERROR\":{\"CODE\":\"429\",\"MESSAGE\": \"REQUESTS TO THE USER - GET LUIS AZURE ACCOUNTS OPERATION UNDER LUIS PROGRAMMATIC APIS V2.0 HAVE EXCEEDED RATE LIMIT OF YOUR CURRENT LUIS.AUTHORING F0 PRICING TIER. PLEASE RETRY AFTER 1 SECOND. TO INCREASE YOUR RATE LIMIT SWITCH TO

[2020-08-03 18:14] beyackle commented on #2080
We implemented navigation landmarks (https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/aria-landmarks/) as a way for SR users to navigate around the page; this is IMO a better option than messing up the visual design by putting literal headings everywhere. I'd be okay closing this.

[2020-08-03 18:17] #3455 closed

[2020-08-03 18:28] zxyanliu commented on #2080
Hey @beyackle, thanks for the info.
If there is nothing required on the docs side, I am going to unassign myself from this thread.

[2020-08-03 22:45] a-b-r-o-w-n opened #3770 "always redirected to the first trigger when loading a bot"
## Describe the bug

When navigating directly to a trigger (something like `/bot/:id/dialogs/todobotwithluissample-0?selected=triggers[3]`), the page always redirects to the first trigger (`selected=triggers[0]`).

## Version

84b305d6c

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps

[2020-08-03 23:32] scheyal opened #3771 "Something went wrong in editing SendResponse for HeroCard"
Reporting per message.
(ver Release: 1.0.2)

[code]

![image](https://user-images.githubusercontent.com/8867670/89236904-b5d2cd00-d5a6-11ea-956e-0fe278697c3b.png)

[2020-08-03 23:38] scheyal commented on #3771
I know the form is wrong. Message might say something about wrong syntax maybe?

[2020-08-03 23:54] yeze322 commented on #3455
#### User story - group a custom action
1. In ejected runtime, add a custom Action and run schema merge tool.
2. Now the custom $kind should appears in the flyout under the `Custom Action` label.
  ![image](https://user-images.githubusercontent.com/8528761/89153897-68e7fa00-d598-11ea-9dc9-2cf8f2ca4bed.png)
3. To group that $kind, update the `sdk.uischema` file. (under `BOT_NAME/schemas/sdk.uischem

[2020-08-04 01:55] luhan2017 commented on #2565
@eluchsinger, @fathorMB , the multi-language feature is already merged in to main branch, could you have a try and let us know if there is any issues in your scenario?

[2020-08-04 02:00] luhan2017 commented on #1829
You could
1. Eject your runtime.
2. Go to the runtime location, replace "4.9.3" with "4.10.0-daily.20200731.152444", please note that the Debug package is 4.9.3-preview. you also need to update it with"4.10.0-daily.20200731.152444" without a preview suffix.

[2020-08-04 03:09] yeze322 commented on #3771
I tried the json, removing the `#StartSurvey` can make it work

[2020-08-04 06:31] shyambabu-kolipaka opened #3774 "request to http://localhost:3979/api/messages failed, reason: connect ECONNREFUSED 127.0.0.1:3979"
## Describe the bug

I am trying to save the bot state into cosmos DB. I configured cosomos DB, blob storage, application insights in bot composer settings section. The error is is popping up with 400 error when I test it on emulator.

## Version

1.0.2

## Browser

- [ ] Electron distribution
- [X ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## T

[2020-08-04 07:03] zhixzhan commented on #3771
If the only the syntax is error, it should not throw a pop up error. I'm not sure in this case is server down or not.
Anyway I'm adding error detail in popup window, if this continue happen, we can see more details.

[2020-08-04 07:54] shyambabu-kolipaka commented on #3774
Sorry and never mind, I was missing containerId setting.

[2020-08-04 07:54] #3774 closed

[2020-08-04 07:55] eluchsinger opened #3775 "Question: Evaluating Confirm question"
I am trying to evaluate the result of a confirm question (like in the screenshot below). **The if-else branch always goes to the false path.**

Sadly, there is no example of how I should evaluate the confirm question in the documentation.

By the way, this would be an excellent addition to the Bot Framework Composer Docs.

## Logic

![image](https://user-images.githubusercontent.com/12324017/89267

[2020-08-04 08:18] eluchsinger commented on #3775
Might be linked to https://github.com/microsoft/BotFramework-Composer/issues/3261 because he can't evaluate expressions either.

[2020-08-04 08:24] eluchsinger opened #3777 "Question: Where does the QnA action take the input from?"
When I add a QnA action, the tutorial shows that by adding an unknown intent trigger. That works fine, but I would like to have an explicit QnA call in my bot, read: I would like to ask my QnA service using a variable as input.

What kind of  input does the QnA action? There seems to be nothing I can use as an input in the QnA action itself, so I believe it uses a predefined input variable.

By th

[2020-08-04 08:44] luhan2017 commented on #3631
@kshyambabu, we have investigated and found the root cause.
In one word, the issue is because when using iframe there are two separated ConversationUpdate sending to the bot, and when user first talks to the bot, it doesn't know the user id and use conversation id as the user id so it will cause the failure of validation on the magic code. (user id changed, so get user token error.)

For more deta

[2020-08-04 10:09] lei9444 opened #3779 "Undo/redo support as a follow-up recoil's PR."
## Is your feature request related to a problem? Please describe.

composer should support undo/redo
## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-08-04 16:43] cwhitten commented on #3777
![Screen Shot 2020-08-04 at 9 39 58 AM](https://user-images.githubusercontent.com/1156704/89320689-a3a06f80-d636-11ea-8b59-6154ce387feb.png)
![Screen Shot 2020-08-04 at 9 40 07 AM](https://user-images.githubusercontent.com/1156704/89320696-a602c980-d636-11ea-80aa-f4eae2c72b98.png)

Hi @eluchsinger - you can add a QnAAction anywhere inside a flow (see above), but I don't think thats what you're ask

[2020-08-04 16:49] cwhitten commented on #3775
Hi @eluchsinger, to do this properly change your condition to the following:

`dialog.doSearch`

or

`dialog.doSearch == True` (no strings)

[2020-08-04 16:59] cwhitten commented on #3769
Hello @Bernardo08pt - how many existing LUIS resources are on the subscription that you are trying to deploy to?

Something to check out is to make sure the primary key associated with the paid tier is used when you are publishing to Azure.

[2020-08-04 17:53] GeoffCoxMSFT opened #3782 "Form dialogs: Build single string property generated dialog by hand"
Update viewUtils.ts to make trigger and action types available in UI
Update sdk.schema to match runbot schema
Update ui schema to hide actions from property pane as needed
Follow current composer file structure.

[2020-08-04 18:08] #3760 closed

[2020-08-04 18:31] #2946 closed

[2020-08-04 19:25] #3409 closed

[2020-08-04 19:25] #3771 closed

[2020-08-04 23:21] Aavi2105 commented on #3731
@v-kydela :- I tried above, but returning this "${dialog.testproperty}" instead of its value. I used this (={customerId:dialog.testproperty} and it is working fine.  We can close this ticket now.

Thanks all.
Aavi.

[2020-08-04 23:22] #3731 closed

[2020-08-04 23:53] boydc2014 commented on #778
I think what this spec described is largely implemented, except two minor things
1. we didn't really named input using number like 1,2,3, we use an random id as suffix.
2. we didn't auto rename intents when user renaming trigger, which we triaged as too tricky to do.

so i think this one can claimed as complete in r10, let's create new issue in r11, if we still think something can be done in this

[2020-08-04 23:53] #778 closed

[2020-08-05 04:37] yeze322 opened #3783 "LgEditor shows wrong content and is not editable"
## Describe the bug

(reported by @lei9444 )

![lg-issue](https://user-images.githubusercontent.com/8528761/89382154-e775a080-d72c-11ea-8734-d71506985cae.gif)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. S

[2020-08-05 04:38] yeze322 commented on #3783
Root cause: PropertyEditor is editing wrong data, it receives the whole dialog instead of a selected Action

[2020-08-05 04:41] yeze322 commented on #3783
addressed in #3784

[2020-08-05 07:25] eluchsinger commented on #3777
@cwhitten It's really interesting, as I've now changed the QnA Action to be inside the flow. Now I found out, it somehow clears the dialog's variables ☹.

![image](https://user-images.githubusercontent.com/12324017/89383770-5d621380-d6fd-11ea-9916-1ce1c3ad7dbf.png)

[2020-08-05 07:51] eluchsinger commented on #3777
I have now embedded the QnA Action into the flow and am getting a really interesting behavior. As you can see in the screenshots below, I first read a question and save it into the `dialog.question` variable. Then I print the variable once before and once after the QnA action and I get the wrong output *and* the variable is `null` during the second print.

![image](https://user-images.githubuserco

[2020-08-05 15:03] cwhitten commented on #3777
@vishwacsena @Stevenic does running the QnaMaker dialog blow away the calling dialog's `dialog` memory scope?

[2020-08-05 15:03] #3783 closed

[2020-08-05 15:49] SattaRavi commented on #3757
@luhan2017 thanks this helped.

[2020-08-05 15:49] #3757 closed

[2020-08-05 17:00] kshyambabu commented on #3631
@luhan2017 Thanks for response. We used DirectLine instead of WebChat Iframe because of the limitations for OAuth. DirectLine seems work fine. But, we had to write seperate function to get the token from DirectLine for DirectLine secret security reasons.

[2020-08-05 17:11] cwhitten commented on #3466
Marking the prototype as complete fo R10

[2020-08-05 17:11] #3466 closed

[2020-08-05 17:19] scheyal opened #3790 "Composer process hangs with no visible UI"
I cannot repro but I find myself having to do the following when I get back to my laptop after awhile (sleep, or so, pattern not observed but it happens ~daily).

[code]

Thereafter, I can start composer normally.

Release: 1.0.2

[2020-08-05 18:25] hatpick opened #3791 "[form dialog] Re-brand dialog generation code to be form-dialogs"
Call the automatic dialog generation "form dialogs"

[2020-08-05 18:28] hatpick opened #3792 "[form dialog] Make API call to generate dialogs based on the provided schema"
Connect dialog form UI to the backend API for generating form dialogs.

[2020-08-05 20:51] mareekuh opened #3794 "Cross platform consistency audit (Marieke)"
Known issues
- trigger icon
- dialog icon
- Publish icon
- bot responses icon
- user input icon
- skills icon

@sangwoo

Project: special forces

[2020-08-05 20:56] mareekuh opened #3795 "Search UX"
Work with Ben Brown to design Search UX.
Scenarios:
1. Find LG templates and Intents (LU)
2. Find (type ahead?) custom actions
3. Filter and find dialogs, triggers
4. Browse/find content in asset library ('is there already an item that does 'x'?)

[Use this UX as a basis](https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=1123%3A20058)

@benbrown  -  p

[2020-08-05 21:03] #3435 closed

[2020-08-05 23:56] #3663 closed

[2020-08-05 23:56] #3664 closed

[2020-08-05 23:56] #3665 closed

[2020-08-06 00:05] vishwacsena commented on #3777
This is a bug. QnA action should not alter `dialog` in any way. @pchoudhari can you have someone take a look? Will transfer to dotnet repo.

[2020-08-06 01:01] vishwacsena opened #3796 "Add ability to add more than one OnIntent trigger for the same intent name"
## Describe the bug

Today composer does not allow creation of more than one OnIntent trigger for the same intent. This is necessary especially when you are looking to add more than one OnIntent trigger with ones that are conditioned on specific entity recognition or a condition based on an expression.

The changes would be for composer to automatically validate intent names and pull in LU utteran

[2020-08-06 01:52] luhan2017 commented on #3631
@kshyambabu, great to know this.
In this page, https://github.com/microsoft/botframework-webchat, there is a message that
[code]

[2020-08-06 02:17] zidaneymar commented on #3762
fixed in pr https://github.com/microsoft/BotFramework-Composer/pull/3764 https://github.com/microsoft/BotFramework-Composer/pull/3785

[2020-08-06 02:17] #3762 closed

[2020-08-06 02:19] zidaneymar commented on #3452
Close this since can't repro anymore.

[2020-08-06 02:19] #3452 closed

[2020-08-06 02:19] zidaneymar commented on #3441
Need more investigation on the cosmos db logging middleware.

[2020-08-06 07:55] zidaneymar commented on #3441
I think the 'name' you mentioned is the configuration under '$designer' section, actually this field doesn't influence the state logging.
![image](https://user-images.githubusercontent.com/9328933/89506122-37239d00-d7fd-11ea-8667-aaf18e1bc3fa.png)

[2020-08-06 14:00] VanyLaw commented on #3406
Runtime version is different from runtime type too. I will implement this by adding a getVersion method in runtime plugin after the js runtime PR merged. Then checking the template runtime version with customized runtime version, if the version is different in re-eject, copying the runtime into new folder name runtime-<version> and change the runtime path.

[2020-08-06 16:12] sriget opened #3798 "Array data binding in adaptive card (little similar to issue #3422)"
Hi,
   This is similar issue related to #3422 , in Bot composer, I'm trying to databind the json array to columnset columns to the .lg file to generate a table structure. It is not working, but working in adaptive designer site. I wish that is supported in Bot composer as it is(since that is the highlighted feature of product). But you mentioned its not supported in native composer and gave some w

[2020-08-06 16:42] cwhitten commented on #3796
@vishwacsena because the triggers are executed in an array and the first trigger wins, the user will also need to re-order the triggers to put the most specific trigger first. we need some additional UX thinking. cc @mareekuh @sangwoohaan

[2020-08-06 16:45] cwhitten commented on #3798
@sriget is the `content` parameter the JSON Data in your description?

This seems like it could be a gap in lg/expressions. @vishwacsena or @boydc2014 can you comment?

[2020-08-06 16:50] sriget commented on #3798
yes @cwhitten . content parameter is the json data i posted. thanks for taking look on it so quick.

[2020-08-06 17:00] vishwacsena commented on #3796
@cwhitten unless I'm missing something, we should by default be using the most specific selector which means the trigger with most conditions matching should win immaterial of the order. The selector should be picking up the first trigger only when there is more than one trigger with same level of conditions matching. If you are not seeing this, then there probably is a bug in the SDK.

[2020-08-06 17:31] zxyanliu commented on #3758
Closing this issue and keep track via: https://github.com/MicrosoftDocs/composer-docs-pr/issues/177

[2020-08-06 17:31] #3758 closed

[2020-08-06 19:05] rudrasingh21 opened #3799 "How to Overlay bot developer in Composer on a .Net Application running on Production?"
Hi Team , Can you suggest me how I can deploy ChatBot developed in Composer on my .Nat Application?

[2020-08-06 20:25] cwhitten commented on #3130
Closing this workitem as complete - see https://github.com/microsoft/BotFramework-Composer/issues/3656 for continued investment in this area.

[2020-08-06 20:25] #3130 closed

[2020-08-06 22:30] kshyambabu opened #3800 "Telemetry is not working with web based composer"
Hi, I am using the web based bot composer build by steps given in the link.
[https://docs.microsoft.com/en-us/composer/setup-yarn#build-composer-from-source](url)

And configured instrumenation key as per [https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry?view=azure-bot-service-4.0&tabs=csharp](url)

But the telemetry is not saving. But, Its working fine if I use bot compose

[2020-08-06 22:32] cwhitten commented on #2237
@boydc2014 @lei9444 I've bumped this to R11 for now.

[2020-08-06 22:34] kshyambabu opened #3801 "How to port application developed in web based composer to desktop application composer"
Since I am facing the issue #3800 about telemetry, I am trying to port the application to desktop based composer. But, the file structure is totally different between web based composer and desktop based composer.
Desktop based composer is not recognizing the file structure of the web based composer.
Is there any tool or any other way to migrate the source to desktop based composer?

[2020-08-06 23:02] #2884 closed

[2020-08-07 14:03] #1451 closed

[2020-08-07 14:03] #2212 closed

[2020-08-07 14:03] #3400 closed

[2020-08-07 14:03] #3779 closed

[2020-08-07 14:49] #2565 closed

[2020-08-07 15:45] a-b-r-o-w-n opened #3806 "[macos] update-schema.sh is not executable when ejecting runtime"
## Describe the bug

When ejecting the runtime, the update-schema.sh script is not executable. I have to `chmod +x update-schema.sh`.

## Version

3b0c2c2e2

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## Expected behavior

`update-schema.sh` should be executable after ejecting runtime.

## Additional notes

The script is executable in the Composer repository, so this looks like an issue when c

[2020-08-07 16:34] a-b-r-o-w-n opened #3807 "Unable to parse sdk.schema in 4.10 preview packages"
## Describe the bug

`Definition not found for Microsoft.Ask/properties/activity/oneOf/1/properties/membersAdded/items`

[2020-08-07 16:45] #3791 closed

[2020-08-07 16:45] #3792 closed

[2020-08-07 16:57] v-kydela commented on #3799
Thank you for the question, @rudrasingh21

There's a document that explains how to publish in Composer here: https://docs.microsoft.com/en-us/composer/how-to-publish-bot

Closing as resolved.

[2020-08-07 16:57] #3799 closed

[2020-08-07 17:07] cwhitten commented on #3351
Closing in anticipation of https://github.com/microsoft/BotFramework-Composer/pull/3198

[2020-08-07 17:07] #3351 closed

[2020-08-07 17:09] cwhitten commented on #2394
Closing in anticipation of https://github.com/microsoft/BotFramework-Composer/issues/3463

[2020-08-07 17:09] #2394 closed

[2020-08-07 17:25] benbrown commented on #3739
Thanks for the great work on this, @zxyanliu!!

[2020-08-07 17:25] #3739 closed

[2020-08-07 17:27] benbrown commented on #3739
The updated docs can be found here:
https://github.com/MicrosoftDocs/composer-docs-pr/blob/master/composer-docs/how-to-add-custom-action.md

[2020-08-07 18:12] #2877 closed

[2020-08-07 20:27] vishwacsena commented on #3798
@sriget as it was noted in #3422 adaptive card templating preview feature is not supported but you can achieve your desired outcome using language generation. Here is an example.

(remove the backslashes)

[code]

![image](https://user-images.githubusercontent.com/20918136/89685679-afe43100-d8b1-11ea-8a70-0c4858406f15.png)

[2020-08-07 20:50] mg-arrow commented on #1829
I tried your suggestion but Eject Run Time gives an error, when I select C#

Runtime already exists at C:\...\chatbot\ChatbotPocWithLuisAndQnmaker\runtime

Also, how do I download and install version 4.10.0-daily.20200731.152444 ?

Thanks

[2020-08-07 21:11] GeoffCoxMSFT opened #3808 "Composer does not groups comments with LG definition that immediately follow then"
## Describe the bug

In the Bot Responses view, if the user types comments before a definition in edit mode and then switched out of edit mode, the view shows comments at the end of the previous definition instead of grouped with the immediately following definition.

## Version

main branch - fd2a6d4f06d8322855f4edd03ad7edc884872912

## Browser

- [ ] Electron distribution
- [ X] Chrome
- [ ] Saf

[2020-08-07 21:12] beyackle opened #3809 "Localization/Internationalization"
## Describe the bug

Composer is currently only usable in English; users who need support for other languages are being left out. Note that this refers to the Composer app itself, not the bots it produces; the effort for multi-language bot authoring is already well underway. You should be able to write a bot in any supported language and produce a bot that speaks any supported language independent

[2020-08-07 21:40] zxyanliu commented on #3746
@shingosakamoto can you be more specific about what version of Composer do you use now? and what version did you use to create the project which you tried to open from your Composer now?
The version can be checked here:
![image](https://user-images.githubusercontent.com/32497439/89690672-ea52cb80-d8bb-11ea-900a-459d84663a61.png)

[2020-08-07 23:07] sriget commented on #3798
Thank you @vishwacsena . This example is excellent to understand better. It works. Appreciate your quick response.

[2020-08-07 23:07] #3798 closed

[2020-08-08 04:08] kshyambabu commented on #3631
@luhan2017 , yes, We are using the [token API](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-api-reference?view=azure-bot-service-4.0).
But, We used a HTTP function (with function key secret) as middleware to get the bearer token for the chat from DirectLine, instead of exposing the DirectLine secret to the client.

[2020-08-08 17:21] cwhitten opened #3811 "Preserving *.lu.dialog files if they exist"
Currently Composer will remove any *.lu.dialog files when running lubuild. If *.lu.dialog files exist the tooling should respect this file and merge the values it needs into it.

[2020-08-08 22:59] cwhitten opened #3812 "Regression in LSP LG function evaluator & editing"
<img width="618" alt="Screen Shot 2020-08-08 at 3 58 19 PM" src="https://user-images.githubusercontent.com/1156704/89721240-1b043500-d990-11ea-9d53-bff25a2cde1a.png">
<img width="861" alt="Screen Shot 2020-08-08 at 3 58 25 PM" src="https://user-images.githubusercontent.com/1156704/89721242-1c356200-d990-11ea-8d72-63575efcea6e.png">
<img width="1114" alt="Screen Shot 2020-08-08 at 4 00 00 PM" src="

[2020-08-09 13:23] arafattehsin opened #3813 "Call Samples Skill from Composer"
## Can't connect the existing Samples Skill with my Composer.

Hi all

We have a [sample skill](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/80.skills-simple-bot-to-bot) in Bot Builder Samples repo. I am able to connect this with my normal Consumer bot (which is a copy of the sample provided in the [same directory](https://github.com/microsoft/BotBuilder-Sa

[2020-08-10 01:39] boydc2014 opened #3814 "Dialog name should not force to be lower case"
User should be able to specify the case for their dialog name.

But our internal check should be case insenstive, means if A.dialog and a.dialog will be considered as duplicated.

[2020-08-10 02:14] zhixzhan opened #3815 "Inline lg validation is wrong on import file"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots
<img width="529" alt="image" src="https://user-images.githubusercon

[2020-08-10 07:10] #3815 closed

[2020-08-10 08:01] lei9444 commented on #3490
fixed in #3780

[2020-08-10 08:01] #3490 closed

[2020-08-10 08:05] likith3611 opened #3818 "Is there are possiblity of switching LUIS resources from authoring resources to prediction resources? as I have Authoring resource available only in F0 tier and I get the following error"
<img width="454" alt="luiserror" src="https://user-images.githubusercontent.com/49705166/89762516-36954a00-db0e-11ea-9520-48e7766fbc6e.PNG">

Can you please help me solve this issue

[2020-08-10 08:19] zhixzhan commented on #3812
Addressed via #3816

[2020-08-10 08:19] #3812 closed