[2020-10-20 22:14] cdonke commented on #4435
@a-b-r-o-w-n , Here is the repo I'm working on:

https://github.com/cdonke/BotFramework-Composer/tree/fix/dockerbuild

I took the opportunity to write a GitHub Action to build the containers to test it on PR as well...
It's there too..

[2020-10-20 22:16] a-b-r-o-w-n commented on #4435
I'd say continue with your work as well. It looks like you are more experienced with docker than our team is. I will continue working on it as well and tag you are a reviewer on a PR. At that point, feel free to make suggestions with the things you've done to improve the docker build. We can integrate it into the PR.

[2020-10-20 22:23] #4407 closed

[2020-10-20 23:41] #4149 closed

[2020-10-21 00:11] zxyanliu opened #4447 "Unable to create QnA Maker KB with new bot creation flow"
## Describe the bug

Unable to create QnA Maker knowledge base in new bot creation flow.

## Version

The [main](https://github.com/microsoft/BotFramework-Composer) branch as of October 20, 2020.

## Browser

- [x] Chrome

## OS

- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Go to Composer **Home** page and select **+ New**
2. Select **Create from knowledge base (QnA Maker)*

[2020-10-21 00:15] hibrenda commented on #4447
I can repro the issue as well. and after the QnA bot creation failure, new bot can not be created as well.
![Uploading image.png…]()

[2020-10-21 00:21] zxyanliu opened #4448 "Suggested refinement of the validation error messages"
## Is your feature request related to a problem? Please describe.

### 1. Error message in the **Knowledge base name** field.
* Spaces are not allowed. This should be mentioned in the error message.
* Letters, numbers, -, and _ are allowed. This should be mentioned in the error message.

  ![image](https://user-images.githubusercontent.com/32497439/96655656-e1866900-12f2-11eb-8a6b-dd4e325279ae.png

[2020-10-21 00:28] boydc2014 commented on #4443
It should be fixed in main per @lei9444 , @luhan2017 will help verify this

[2020-10-21 00:31] boydc2014 commented on #4441
@a-b-r-o-w-n can you take a look at this, see our useForm hook can do a pre-validation?

[2020-10-21 00:41] luhan2017 commented on #4416
@kdubious , could you check the your bf cli version, is it pointing to the latest?

[2020-10-21 02:14] lei9444 opened #4449 "local publish failed"
## Describe the bug
![cda1c659-80e2-472c-9aa9-a3bc69534ad8](https://user-images.githubusercontent.com/39758135/96664815-2f987c80-1386-11eb-9eca-6d616679fef9.jpg)
![imgo1](https://user-images.githubusercontent.com/39758135/96664821-32936d00-1386-11eb-805c-8c41e44e9615.jpg)
![imgo2](https://user-images.githubusercontent.com/39758135/96664828-345d3080-1386-11eb-986e-1c729e1284a2.jpg)

## Version
main

[2020-10-21 03:30] #4447 closed

[2020-10-21 04:04] luhan2017 commented on #4396
@tekram did you tried to copy the qna-template.json as well? If your bot is created from an old version of composer, you should copy both provisionComposer.js and qna-template.json to your bot to make it work.  Or you can add a param  -createQnAResource false.

[2020-10-21 04:19] luhan2017 commented on #4409
@jpd21122012 , thanks for the reply. Could you double check if the luis settings are following the below instructions?
[code]
![image](https://user-images.githubusercontent.com/32191031/96672632-51e6c600-1397-11eb-96c6-ea25620343f5.png)

[2020-10-21 04:31] luhan2017 commented on #3722
@Trubzzz This seems like the same issue with #4348, could you please check on this? We have a PR on this already, will let you know when it get merged.

[2020-10-21 05:33] jpd21122012 commented on #4409
@luhan2017 Thanks for the response, in fact the resource that I've created has no "environment", I'm gonna create the luis services as yours and I'll comment what happened, It was the same problem at publishing for first time on Web App, I had "SomethingOfBot", and then I create a new web app as "SomethingOfBot-xname" and the xname was giving the error because environment wasn't there.

[2020-10-21 05:57] knightmeister opened #4451 "Passing information from the client to Composer bot"
I am trying to post a custom event via Direct Line to my Composer-based bot.

I found a [page for the Bot Framework SDK v3](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-backchannel?view=azure-bot-service-3.0) showing how to send a custom activity, however this page is not present in the v4 docs.

This is my code, I'm utilising the Web Chat control:

[code]

I have a

[2020-10-21 06:04] luhan2017 commented on #4409
@jpd21122012 Let me explain a little bit more about the naming logic.

for azure web app:
If hostname is set, composer will use hostname to identify the azure web app name, otherwise, composer will use "name-environment".
Similar, if luisResource is set, composer will use luisResource to identify the luis prediction resource, otherwise, composer will use "name-environment-luis".

If you are using

[2020-10-21 06:24] hibrenda commented on #3548
@HiltonGiesenow  It depends on how you design your prompt. eg. You can set "max turn count" more than 1 and make sure the interruption condition are correctly set.
![image](https://user-images.githubusercontent.com/43408889/96680709-9cbd0980-13a8-11eb-81d7-03cbaef28ab0.png)

[2020-10-21 07:27] #4449 closed

[2020-10-21 07:47] luhan2017 commented on #3685
@vivekkshankar @mareekuh @cwhitten , good news, the multi language support within one qna service has been released recently. So the QnA Multi-lang is unblocked and maybe we can start the work on the design?

[2020-10-21 09:12] luhan2017 commented on #4390
Will this impact the qna scenario? Based on my understanding, if use selects Orchestrator, it means he/she selects Ochestrator+QnA, and a CrossTrainedRecognizer will be generated?

[2020-10-21 09:33] yeze322 commented on #4281
This is a bug, refs #4405

[2020-10-21 09:52] luhan2017 commented on #4443
@juanpmendoza , I suspect the az cli subscription does not match with your subscription in publish profile, could you please double check? could you try to run this command "az account show", it will show your current subscription info and check whether the services you used in the publish profile belongs to this subscription.

[2020-10-21 14:44] nitroin commented on #4392
I'm would like to re-open this issue. We're unable to publish our bot.

No matter what we receive this message:

[code]

[2020-10-21 14:47] kdubious commented on #4392
@nitroin This error happened for me at one point due to the AZ-CLI getting a token from a different subscription... even though I used the same terminal (and I assumed the same subscription) as the one I used to build the services in the first place. See if you can ensure you are getting a token from the right subscription.

[2020-10-21 14:55] a-b-r-o-w-n commented on #4441
@boydc2014 I don't think I can look at this soon, so un-assigning myself.

[2020-10-21 15:00] nitroin commented on #4392
Thank you @kdubious. Our token seems correct.

[code]

[2020-10-21 15:05] mareekuh commented on #3685
Exciting! @cwhitten - This is a great oppty to see how we can better integrate QnA into the main Composer experience vs adding a 4th place for users to go to deal with translation/language management (Settings, LU, LG and potentially QnA).
Is Prashant still your contact on QnA or has this since switched to Somi Reddy?

@vivekkshankar let's talk before getting started.

[2020-10-21 15:11] kdubious commented on #4392
@nitroin I'm grasping at straws, but have you signed in at LUIS.ai, blown away all your apps, and tried to republish?
I ended up bailing on the TODO with LUIS sample, regenerating everything with the script, and starting from the EchoBot sample.

[2020-10-21 15:21] nitroin commented on #4392
Our steps were:
- Remove all the apps/intents from https://eu.luis.ai/ (we are using `westeurope` resources)
- Remove all the resources under the targeted Azure Resource Group
- Wait ~10 minutes (Cosmos DB deletion take a while)
- Recreate all the resources with the provided project script `/scripts/provisionComposer.js`
- Wait ~20 minutes
- Try to deploy the bot

I'll retry again now but looks li

[2020-10-21 15:54] juanpmendoza commented on #4443
@luhan2017 I checked and you're right! I should set the right one using "az account set" right? Which Json schema should I use to edit the bot? Thanks!

[2020-10-21 16:16] cwhitten commented on #4407
Hello @tekram, this has been addressed in https://github.com/microsoft/BotFramework-Composer/pull/4444

[2020-10-21 16:16] cwhitten commented on #4404
Hi @knightmeister & @kdubious

We will take this as a feature request and look to plan and prioritize this functionality as part of an upcoming release.

[2020-10-21 16:17] cwhitten commented on #3244
hi @bartbilliet, we will take this as a feature request and look to plan and prioritize this in an upcoming release.

[2020-10-21 16:20] cwhitten commented on #4414
Hi @guru98 - we understand that the CodeAction is a component in the SDK and are working to bring this into Composer when we have the right design and set of best practices for the customer. We'll take this as a feature request for now. Thank you.

[2020-10-21 16:22] cwhitten commented on #4020
Moving to R12

[2020-10-21 16:25] SantiagoMadeira opened #4458 "[v1.1.1] - Error Start Bot in Composer with Luis"
When using Composer v1.1.1 in Win10 and using Luis in ToDoBotWithLuisSample always having this error:

_Sorry, something went wrong with publishing. Try again or exit out of this task.
request to https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/***/versions/0.3/ failed,
reason: connect ETIMEDOUT 40.112.254.71:443_

My  authoring resource is in westus.

Using the same sam

[2020-10-21 16:26] cwhitten commented on #4305
Closing in lieu of https://github.com/microsoft/botbuilder-dotnet/pull/4820

[2020-10-21 16:26] #4305 closed

[2020-10-21 16:31] #4281 closed

[2020-10-21 16:31] #4405 closed

[2020-10-21 16:33] juanpmendoza commented on #4443
@luhan2017 I used az login and then the JSON from the Readme file and it worked! Thanks for the help!

[2020-10-21 17:02] #4348 closed

[2020-10-21 17:59] stevengum commented on #4443
Awesome, thanks for reporting back that @luhan2017's solution worked. I'm closing this issue as it sounds like it has been resolved, if there are any questions related to this please reply here and @mention a team member or open a new issue.

[2020-10-21 17:59] #4443 closed

[2020-10-21 18:09] stevengum commented on #4451
@v-kydela can you investigate this and assist? Thanks!

[2020-10-21 19:04] guru98 commented on #4414
Fine. Have you any best practice to handle business logic in the meantime? Write a Custom Action for every business funct seems to complex.
Thanks

Inviato da Posta<https://go.microsoft.com/fwlink/?LinkId=550986> per Windows 10

Da: Chris Whitten<mailto:notifications@github.com>
Inviato: mercoledì 21 ottobre 2020 18:20
A: microsoft/BotFramework-Composer<mailto:BotFramework-Composer@noreply.github.

[2020-10-21 19:32] dmvtech commented on #4233
@zxyanliu I think we are good to close on the main scope of this issue.

@karloberas I can confirm that I don't see anyway to get the activity ID from/of a prompt. I think this is either a bug or just an area that hasn't been quite developed yet. If you would like, feel free to open your own bug with this more specifically-scoped scenario. Or I can do it for you. @benbrown Any thoughts?

I will cl

[2020-10-21 19:32] #4233 closed

[2020-10-21 19:44] tdurnford opened #4462 "Add notification panel"
https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-%2F-UI-library?node-id=5204%3A3

[2020-10-21 19:49] tdurnford opened #4463 "Change the update available button in the header from a button to notification"
## Describe the solution you'd like
Currently, when a new update for Composer is available, we render a button in the header that allows the user to update the app. Since we are adding the notification panel, we change the behavior to send a notification instead of displaying a button

## Additional context
#4462

[2020-10-21 22:24] rmthurman commented on #4416
I am getting the same issue, and 2 of my customers writing bots in Composer found this as well.  The custom action does work once you click through the error.

[2020-10-21 22:27] dmvtech commented on #4416
I can confirm this experience. I tried with both versions:
`@microsoft/botframework-cli/4.10.1 win32-x64 node-v12.18.3` and
`@microsoft/botframework-cli/4.10.0-dev.20200730.3786d10 win32-x64 node-v12.18.3`

Just a lot of warnings, it does work. I think this is a BF cli issue as it's definitely coming from `bf dialog:merge` and not the .ps1 script.

[2020-10-21 22:44] dmvtech commented on #4416
Sorry maybe not a BF cli issue, but it is the one reporting it. There definitely is a schema mis-match, due to the ID:

https://schemas.botframework.com/schemas/component/v1.0/component.schema:
    `"$id": "https://schemas.botframework.com/schemas/component/v1.0/component.schema"`

https://raw.githubusercontent.com/microsoft/botframework-sdk/master/schemas/component/component.schema
  `"$id": "htt

[2020-10-21 22:56] zxyanliu commented on #4448
@mareekuh I need your feedback on this so that I can proceed to update.
cc: @hibrenda

[2020-10-21 23:47] cwhitten commented on #3836
This will be addressed in our upcoming release.

[2020-10-21 23:47] #3836 closed

[2020-10-21 23:58] dmvtech commented on #4091
So, I have a bit more info, but no smoking gun.

I thought again about my previous attempt, and while I didn't see any errors, I realized I wasn't seeing any calls in Fiddler to LUIS/cognative endpoints.

I fixed some configuration issues on my end and confirmed that **_both_** the `wininet` and `winhttp` proxies were set to use Fiddler (more info [here](https://www.telerik.com/blogs/using-fiddler

[2020-10-22 00:03] #4435 closed

[2020-10-22 01:31] karloberas commented on #4233
Sure, this feature is not yet mature and I have reverted to re-do my bot in C#.

[2020-10-22 03:52] jpd21122012 commented on #4409
@luhan2017 now it says this:
The apps - Get applications list Operation under LUIS Programmatic APIs v3.0-preview is not supported with the current subscription key and pricing tier LUIS.S0.

I've changed the S0 for F0 and it's the same, I don't know what I'm doing wrong, please if you can help me with that

[2020-10-22 03:53] luhan2017 commented on #4458
@SantiagoMadeira , there might be something wrong with your previous deployment and the version 0.3 of your luis application is actually broken. Could you check in your luis portal as the following, try to delete version 0.3 or even delete the luis app itself and try again?

![image](https://user-images.githubusercontent.com/32191031/96822558-eff09400-145c-11eb-92ef-afffd536ecbb.png)

[2020-10-22 05:17] luhan2017 commented on #4409
@jpd21122012 Could you double check your luis settings, did you set the correct authoringKey and endpointKey?  the authoringKey should be the key from a luis authoring service(API type: Language Understanding Authoring(LUIS)), and the endpointKey should be the key from a luis prediction service(API type: Language Understanding(LUIS)). See the following example:

![image](https://user-images.github

[2020-10-22 05:24] jpd21122012 commented on #4409
@luhan2017 yes, I've set the correct Keys and endpoints

[2020-10-22 07:16] yeze322 opened #4469 "Error when building newest main branch"
## Describe the bug

[code]
To fix this error, the `publishTest` folder should be deleted manually.

![image](https://user-images.githubusercontent.com/8528761/96837735-774c0080-1479-11eb-9689-326a0a44f0b0.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce t

[2020-10-22 07:58] MarcoWirtl opened #4471 "How to simulate Typing in Bot Framework Composer befor every bot message?"
how to get the typing activitie from the bot before he sends a message?
I would like that the bot is typing a few seconds before he is sending an response to get more "humanity" in it.

I tried:
![image](https://user-images.githubusercontent.com/58036042/96842236-127ab100-144d-11eb-9c69-1f772a6813d2.png)

It doesnt work.

Also read something about the bools in the app settings, there look like thi

[2020-10-22 08:42] feich-ms opened #4472 "Start bot failed due to some folder not found in nightly build Electron"
## Describe the bug

Use the electron Composer to create the sample ToDoWithLuis bot and then click start the bot.

## Version

1.1.1-nightly.177231.e8d0d55

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Install the Electron version of 1.1.1-nightly.177

[2020-10-22 09:51] SantiagoMadeira commented on #4458
@luhan2017 thanks for your response.

one thing i noticed was that whenever i do **Start Bot** on the composer, it creates a new version of each app in Luis.ai even without any changes in LUIS phrases of Composer. Went to see the status of Apps on Luis.ai and some of the new versions that are created (each time i run Start Bot) are not in the Active & Production state only in the Active state.

Wh

[2020-10-22 10:12] luhan2017 commented on #4458
@SantiagoMadeira thanks for the reply, we will investigate more based on the information you provided.

For multiple luis apps, we just create one luis app for each dialog.

- in TodoWithLuis sample, we have 5 dialogs which enable luis.
- in LuisAndQnA sample, we just have 1 dialog which enables luis.

If you want to have fewer luis apps created within a bot, just reduce your dialog count :)

[2020-10-22 14:12] joeliir commented on #4243
This is an issue we are having as well with a bot we were hoping to put into production soon.

[2020-10-22 15:35] tonyanziano opened #4477 "@botframework-composer/test-utils is missing dependencies when consumed outside of the workspace"
## Describe the bug

@botframework-composer/test-utils is missing dependencies when consumed as a public testing library.

In #4446 I've done this and found that `@botframework-composer/test-utils` is missing:

`@babel/plugin-proposal-class-properties@7.8.3`
`@babel/plugin-transform-runtime@^7.9.6`

which are used [here](https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/package

[2020-10-22 15:56] jeffhagins opened #4478 "Composer Reports Error on "Start Bot" of "The Pattern.Any count in a pattern cannot exceed the limit 3.""
## Describe the bug

BOT Publishes to cloud without error, but "Start Bot" to run locally shows error "The Pattern.Any count in a pattern cannot exceed the limit 3.".

LUIS Conversation App can be republished from LUIS.ai portal without error as well.
Pattern.Any isn't being used.

Same issue happens across both MACOS and Windows.

## Version

                Version:  1.1.1
                Electr

[2020-10-22 16:33] benbrown commented on #4451
You should be able to access the value as `turn.activity.value`

[2020-10-22 16:36] benbrown commented on #4471
@MarcoWirtl  What channel are you deploying your bot into?  Web chat? Teams?

The appropriate way to do this is to use the ShowTypingMiddleware, which should be enabled if you set that boolean to true. This is built into the default C# runtime.

[2020-10-22 16:38] benbrown commented on #4478
Are you using any pattern entities in your model?

Can you provide any more detail about what is in your model?

[2020-10-22 16:44] MarcoWirtl commented on #4471
@benbrown im Not that far now. Just tested in the Emulator. Does it not appear there?
So its enough just to set the boolean? So i habe Not to add the „typing“ and the „Delay“ response?

[2020-10-22 16:48] GeoffCoxMSFT opened #4479 "Composer boolean expression field no longer supports the expressions type (only equalsExpressions)"
## Describe the bug

Cannot see or edit condition expressions when they don't start with equals (=).

## Version

main branch
10/22/2020 9:38AM

## Browser

- [ ] Electron distribution
- [ X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a bot project
2. Add any activity that has a conditio

[2020-10-22 16:53] GeoffCoxMSFT commented on #4479
@chrimc62 - I added you to this issue because the form dialog generator creates conditions without the prefix = which caused this bug to be discovered.

[2020-10-22 16:54] benbrown commented on #4471
Correct, you just have to use the boolean.
It does not appear that the typing indicators show up in Emulator, however you can see them being sent in the network activity.  These should work in the web chat and other channels where supported.

![Uploading Screen Shot 2020-10-22 at 11.53.56 AM.png…]()

[2020-10-22 17:02] anhnh305 opened #4480 "LUIS Bot Integrated with Slack"
I've created some bots with Bot Composer and test it out fine on both Emulator and Web Chat. But when I connect it to my Slack channel, these two answer just came out of no where. The first one "Value ..." is the bot which I have those custom action to get data from DW and show as an answer (report/chart).

The second one is when I connect with another bot just to test it out if LUIS is working or

[2020-10-22 17:07] #4469 closed

[2020-10-22 17:15] mewa1024 opened #4481 "Icon for triggers on the canvas should be updated to match the new nav design"
## Describe the bug

The new nav uses a lightning bolt icon for the trigger, but on the drawing canvas, triggers still use the connection icon (two boxes joined by a line). The icons on the canvas should be updated to use the lightning bolt (but at the larger size).

## Version

Part of R11, not in a production yet.

## Screenshots

![image](https://user-images.githubusercontent.com/39317542/96906

[2020-10-22 17:21] dmvtech commented on #4471
To be able to trigger the typing so you actually _witness it_, you need to simulate something that will take long enough to have the typing indicator displayed. [The default](https://github.com/microsoft/botbuilder-dotnet/blob/17de9c1b05ec38d405422d4ed02ca5c0cdacdad3/libraries/Microsoft.Bot.Builder/ShowTypingMiddleware.cs#L31) is longer than 500ms. 1-2 seconds should be enough.

This could be done

[2020-10-22 17:23] dmvtech commented on #4471
Alternatively, you could always [modify the runtime](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#export-runtime) and sleep the thread where you wish.

[2020-10-22 17:43] stevkan commented on #4451
@benbrown, does this need to be coupled with the `OnEventActivity` handler or is it enough to simply detect by `turn.activity.value` or turn.activity.name` (or similar)?

[2020-10-22 18:08] benbrown commented on #4451
Yes, the event should trigger the OnEventActivity handler, and then you can further inspect the event.

[2020-10-22 18:21] cleemullins commented on #4451
Closing per @benbrown answer.

[2020-10-22 18:21] #4451 closed

[2020-10-22 18:25] #3742 closed

[2020-10-22 18:31] #3414 closed

[2020-10-22 18:36] jeffhagins commented on #4478
- query events for JJR-222 from {@startDate=10/12/2020} to {@endDate=10/13/2020} limit {@event_limit = 10}
- show events for KWD-054 after {@startDate=10/16/2020} to {@endDate=10/20/2020} limit {@event_limit = 20}
- find events for uhj-333 from {@startTime=10:12:13} to {@endTime=18:19:20} limit {@event_limit = 20}
- find events using ike-393 from {@startLongDate=2020-10-12} to {@endLongDate=2020-1

[2020-10-22 18:38] chrimc62 commented on #4416
@Kaiqb the issue is in the documentation at: [custom action](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action).  The $schema should be https://schemas.botframework.com/schemas/component/v1.0/component.schema.

@kdubious you can fix this by changing the $schema in your custom action .schema file.

[2020-10-22 19:55] #4472 closed

[2020-10-22 21:15] sangwoohaan commented on #4245
Working on this as part of the LG revisit

[2020-10-22 21:30] #4150 closed

[2020-10-22 21:35] sangwoohaan commented on #3732
This will be addressed in the upcoming release

[2020-10-22 21:35] #3732 closed

[2020-10-22 21:41] mareekuh commented on #4448
1. Error message in the Knowledge base name field.
Watermark text : QnA-Maker_KB_1
Error text : A Knowledge base name cannot contain spaces or special characters. Use letters, numbers, -, or _.

2. Error message in the Knowledge source field.
Watermark text : Upload a .pdf file or type a URL starting with http:// or https://
or
Watermark text : Upload a .pdf file or type a URL
Error text : A knowl

[2020-10-22 21:53] #3494 closed

[2020-10-22 23:54] anemit opened #4488 "prebuilt Entity extraction: Can not convert Object to String."
I am trying to save as property `user.region` a continent or a country found in LUIS prebuilt entity geographyV2. However when the value is about to set to the property message Can not convert Object to String. appears.
![Screenshot_15](https://user-images.githubusercontent.com/48094685/96941424-0dfcd980-14db-11eb-9924-438158cc1783.jpg)
![Screenshot_1](https://user-images.githubusercontent.com/480

[2020-10-23 00:02] v-kydela commented on #4480
@anhnh305 - This looks like it could be related to the multi-language recognizer problem: https://github.com/microsoft/BotFramework-Composer/issues/4180

What version of Composer are you using?

[2020-10-23 00:27] boydc2014 commented on #4246
Sure, @luhan2017 i will take this.

[2020-10-23 00:29] anhnh305 commented on #4480
@v-kydela I'm currently using the 1.1.1 version
![image](https://user-images.githubusercontent.com/44403719/96943105-49120380-1501-11eb-8f9f-78c6e0be6e42.png)

[2020-10-23 04:37] zxyanliu commented on #4416
FYI. The [doc](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#about-the-example-custom-action) actually references the schema from [here](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action).
@luhan2017 Can you take a look and see if I need to update the doc?

[2020-10-23 06:25] luhan2017 commented on #4478
@jeffhagins , I tried to paste luis content you shared to my bot, and run the bot both through Electron 1.1.1 and latest main branch, I can't reproduce the issue in both scenarios. Could you zip and share your whole bot with us? Then we can dig more on this. Thanks.

[2020-10-23 07:21] feich-ms commented on #4409
Hi @jpd21122012, this error usually comes from incorrect authoringKey. Could you please double confirm that the key is LUIS authoringKey instead of any other subscription key or prediction key. You can also find the authoring key in LUIS portal https://www.luis.ai/. Below is the screenshot showing where to get the authoringKey from luis portal. You can open any existing LUIS application or create

[2020-10-23 07:59] nitroin commented on #4392
In a desperate attempt to have our bot published I tried directly compiling and using Composer from source instead of the electron distribution. Not luck whatsoever.

To repro the issue:

- Checkout `main`
- Build and start Composer
- Start a brand new Bot from template (Todo with LUIS)
- Go to the project folder on disk and provide all the needed Azure resources with `/scripts/provisionComposer.j

[2020-10-23 08:24] feich-ms commented on #4478
@jeffhagins, I used the lu content you provided above to test the luis publishing process and no exceptions are thrown out. I also double checked the lu content and found there are no pattern.any entities defined there. The exception of `The Pattern.Any count in a pattern cannot exceed the limit 3.` usually comes from luis limit that there are no more 3 pattern.any entities defined in single patte

[2020-10-23 09:28] #4471 closed

[2020-10-23 09:34] UmaPrelude opened #4495 "Composer skill scope is not retained"
Hi All,
We have a problem in using the skill from composer bot.
When we connect to a skill, the scope is not inside the skill dialog, it comes to main bot each time and goes to different intents based on the utterances we provide instead of continuing the skill flow.
I am not sure how to fix the problem.
If we get some support it will help.
For your information we are trying with the calendar skil

[2020-10-23 11:57] philip-mc commented on #4395
Hello there, my partner and I have also run into the same issue as above.
After following the tutorial on Microsoft's web page (to make a weather bot) we have been unable to get it to publish. the Luis account works in composers emulator, but when we try to push in publishing it comes up with the error.

The log shows the same (or similar) error:

`Publish starting...
{
  "status": "DEPLOY_INFO",

[2020-10-23 14:01] #4246 closed

[2020-10-23 14:35] #4481 closed

[2020-10-23 15:03] philip-mc opened #4496 "unable to publish even simple LUIS bots in bot composer V1.1.1"
Hello there, my partner and I have run into an issue when trying to deploy our first bots.

After following the tutorial on Microsoft's web page (to make a weather bot) we have been unable to get it to publish. The Luis account works in composers emulator, but when we try to push in publishing it comes up with the error.

The log shows the same (or similar) error:

`Publish starting...
{
  "status

[2020-10-23 15:39] dmvtech commented on #4416
@zxyanliu

But when running this (after remedying your execution policy), did you no longer get any Warnings output in the shell/cmdline? They should have looked like:
`Warning C:\Users\kdubi.nuget\packages\Microsoft.Bot.Builder.AI.Luis\4.10.2\content\Schemas\Microsoft.LuisRecognizer.schema: Component schema https://schemas.botframework.com/schemas/component/v1.0/component.schema does not match ht

[2020-10-23 16:07] jpd21122012 commented on #4409
@feich-ms I'm using that authoring key, in fact I don't have other LUIS Services in my Azure Account and other subscriptions, just one that I'm using as test for the bot.

[2020-10-23 16:53] v-kydela commented on #4480
@anhnh305 - So you are using the desktop version of Composer and not the browser-based version, right? This is important to know, because if you build Composer yourself from source code then you'll have all the latest fixes. If you use the desktop version then you'll only have the fixes made before the last installer was made.

The last time I addressed the multi-language recognizer problem I prov

[2020-10-23 17:54] #4203 closed

[2020-10-23 18:09] stevengum commented on #4496
@dmvtech can you investigate this issue? Thanks!

[2020-10-23 18:10] stevengum commented on #4495
@dmvtech can you investigate this?

[2020-10-23 18:13] stevengum commented on #3379
@luhan2017 can you write up a spec for the botbuilder-dotnet repository so the team can discuss it?

[2020-10-23 18:20] srinaath opened #4501 "IsSkill property in Composer Settings"
The `isSkill` property in Composer is used to instantiate the claimsValidator in the dotnet runtime. We would now need to instantiate the claimsValidator now irrespective o whether its a root bot or a skill.

Runtime Code in contention
https://github.com/microsoft/BotFramework-Composer/blob/main/runtime/dotnet/azurewebapp/Startup.cs#L139

Commit that made us require claimsValidator for RootBot and

[2020-10-23 18:33] #4006 closed

[2020-10-23 18:44] cxbuilders opened #4502 "Do While Loop"
Sometimes one needs to ask the customer for a list of options, eg which products would you like to add. The user would be able to add products / text until they are ready and hit the I'm done button. So this is basically a loop that keeps on running, asking a value, adding value to array and repeat. Repeating the dialog / re-submitting events is in this case to coarse and would make the dialog str

[2020-10-23 18:44] cxbuilders opened #5395 "Declarative UI widgets in Custom Actions"
Sometimes one needs to ask the customer for a list of options, eg which products would you like to add. The user would be able to add products / text until they are ready and hit the I'm done button. So this is basically a loop that keeps on running, asking a value, adding value to array and repeat. Repeating the dialog / re-submitting events is in this case to coarse and would make the dialog str

[2020-10-23 18:48] cxbuilders opened #4503 "0 based array transformed to 1 based array"
![image](https://user-images.githubusercontent.com/49873947/97042198-f2441280-1570-11eb-8884-61cfb613af83.png)

Click away and back again and voila the 0 is gone;

![image](https://user-images.githubusercontent.com/49873947/97042251-06880f80-1571-11eb-93b8-e20d49ad7d16.png)

[2020-10-23 18:48] #3655 closed

[2020-10-23 18:50] cxbuilders opened #4504 "Empty Array not Accepted"
What's wrong with this?
Using =createArray() works, but this should as well

![image](https://user-images.githubusercontent.com/49873947/97042401-451dca00-1571-11eb-9a85-026c780e6cc1.png)

[2020-10-23 19:18] hatpick opened #4505 "Remove generated dialog (forms) is broken"
## Describe the bug
When I remove a generated dialog from form dialog, it only removes files related to the top level dialog. All the lu and lg files for the properties remain on the disk which will cause a merging problem if I re-generate the dialog from the schema.

## Version

Latest on main.

## Browser

All browsers + electron.

## OS

All platforms.

## To Reproduce

Steps to reproduce the b

[2020-10-23 19:35] #4448 closed

[2020-10-23 20:00] zxyanliu opened #4508 "Update tooltips + help links + more"
## Describe the bug

Changes to make:
- [x] Home page
- [x] Design page
- [x] Settings page
- [x] Creation flow

## Version

The [main](https://github.com/microsoft/BotFramework-Composer) branch as of October 23, 2020.

## Browser

- [x] Chrome

## OS

- [x] Windows

## Additional context

R11 scenario: [Tooltips and help links](https://github.com/microsoft/BotFramework-Composer/projects/46#card-4

[2020-10-23 20:01] zxyanliu commented on #4508
cc: @mareekuh @garypretty

[2020-10-23 20:15] zxyanliu commented on #4416
@dmvtech
Yes, I did get a lot of warnings about mismatched schema:

![image](https://user-images.githubusercontent.com/32497439/97050109-a160f980-1531-11eb-9bfb-c621967977f7.png)

The warnings went away after I updated the $schema in the sample to be https://schemas.botframework.com/schemas/component/v1.0/component.schema

See:
![image](https://user-images.githubusercontent.com/32497439/97050191-c

[2020-10-23 20:15] #4193 closed

[2020-10-23 20:20] zxyanliu commented on #4416
We should update the following in the [sample schema](https://github.com/microsoft/BotFramework-Composer/blob/main/runtime/dotnet/customaction/Schemas/MultiplyDialog.schema):

The $schema should be https://schemas.botframework.com/schemas/component/v1.0/component.schema

[2020-10-23 21:39] hatpick opened #4511 "Remove dialog is broken"
## Describe the bug

Deleting a dialog crashes the app.

## Version

Latest on main.

## Browser

All browsers.

## OS

All platforms.

## To Reproduce

1. Open a bot project that has a dialog or create a new one.
2. Navigate to design page and delete a dialog.
3. Observe the crash.

## Expected behavior

Dialog to be deleted.

## Screenshots
![delete dialog error](https://user-images.githubuserco

[2020-10-23 21:49] v-kydela commented on #4403
@knightmeister - Are you still working on this?

[2020-10-23 21:51] zxyanliu opened #4512 "QnA authoring issues"
## Describe the bug

#### 1. When creating a QnA Maker KB, you will see two QnA Intent recognized triggers.

![1](https://user-images.githubusercontent.com/32497439/97056819-b55f2800-153e-11eb-8cd7-498b0f32fa9c.png)

#### 2. After selecting **Start bot** and entering QnA subscription key, you will see the following error message:

![2](https://user-images.githubusercontent.com/32497439/97056995-24

[2020-10-23 21:56] v-kydela commented on #3722
I will close this issue because the PR has already been merged. The deployment process for Composer is still being worked on, and if your bot is slow to respond after deployment then that may have nothing to do with Composer anyway. For anyone else having difficulty with their bot responding slowly after being deployed, please refer to the [documentation](https://docs.microsoft.com/en-us/azure/bot

[2020-10-23 21:56] #3722 closed

[2020-10-23 22:07] pavolum opened #4513 "Feature flag enhancements"
The first feature flag implementation in R11 covered all core scenarios, in the next milestone the following enhancements are needed:

**Tasks:**
- [ ] Add UI and back end functionality to toggle all feature flags to false at once (per design spec)
- [ ] Add feature flag groups (per design spec)
- [ ] Feature flag values available to extensions
- [ ] Feature flag values available to Electron Main

[2020-10-23 22:09] #4416 closed

[2020-10-23 23:01] #4479 closed

[2020-10-24 00:03] dmvtech commented on #4488
Reproduced. Investigating.

[2020-10-24 01:36] anhnh305 commented on #4480
@v-kydela Can you please show me how to manually editing my .dialog file to bypass the multi-language recognizer or some documentation to follow. I'm not very clear about that, thank you.

[2020-10-24 01:44] dmvtech commented on #4488
So, `location` is the property that you're after (from the whole result object). Alter your value (where you are using the coalesce statement, so that it looks like this:
`=coalesce(@geographyV2,@RegionExtractor.location)`

Reviewing in Emulator can help you determine this as you can see the whole response and know which properties to use:
![image](https://user-images.githubusercontent.com/4339765

[2020-10-24 06:22] anemit commented on #4488
Thank you!

[2020-10-24 06:22] #4488 closed

[2020-10-24 15:20] cwhitten commented on #4502
hi @cxbuilders - moving this to `botbuilder-dotnet` for further discussion.

[2020-10-24 16:27] #4291 closed

[2020-10-24 16:27] #4425 closed

[2020-10-24 16:27] #4426 closed

[2020-10-24 16:27] #4427 closed

[2020-10-24 21:52] #4462 closed

[2020-10-25 16:04] ramonck commented on #3414
You guys have improved the performance I believe I also changed my HD to SSD in the meanwhile and it just works great with everything so no more issues here on my end.

[2020-10-26 00:18] #4438 closed

[2020-10-26 00:18] #4439 closed

[2020-10-26 00:19] #4290 closed

[2020-10-26 00:19] #4374 closed

[2020-10-26 00:20] #4373 closed

[2020-10-26 00:20] #4372 closed

[2020-10-26 01:16] knightmeister commented on #4403
Apologies, this was about six months ago and I no longer have that version of Composer or the project file from then. It was from memory, however the Stack Overflow post summarised it.

Essentially what I want to do is be able to template the endpoint. I know I can use the settings file to contain these values, however to my knowledge I cannot template that so there will be a lot of repetition of

[2020-10-26 01:19] knightmeister commented on #4451
@cleemullins @benbrown the principal issue is that the event does not fire - please read my original post. As I see it, you guys have shown me how to access the variable, but not confirmed I am calling the event correctly, or confirmed that the event is correctly defined in Composer.

[2020-10-26 03:03] hibrenda opened #4517 "multi-lang luis published error"
## Describe the bug

lubuild complains error for multi-lang support.

## Version

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. add the af language
2. select af as the authoring language
3. click start bot will hit following errors but the specific lang

[2020-10-26 03:27] luhan2017 commented on #4503
@cxbuilders I can't reproduce this in Electron 1.1.1, which version did you use?

[2020-10-26 03:31] hibrenda opened #4519 "QnA publish eror"
## Describe the bug

QnA publish error, so QnA questions can not be recognized.

## Version

nightly

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a todo bot with luis
2. Add one qna pair in "additem" dialog
![image](https://user-images.githubus

[2020-10-26 03:33] luhan2017 commented on #4409
@jpd21122012, Are you convenient to have a call with us(We are in Beijing GMT+8)? We can help debug more on this.

[2020-10-26 03:44] jpd21122012 commented on #4409
Yes, I'm able to take a call

[2020-10-26 03:57] boydc2014 commented on #3850
@GeoffCoxMSFT is there a specific scenario that are requiring this? the reason asking is in current design the copyDir function is for copying folder inside one storage. But the code here
[code]
is copying from a source storage folder to a destination storage, which can't simply replaced by copyDir.

If this is blocking for you, i would proposed we added an attribute filePath in LocalFileStroage a

[2020-10-26 06:52] #4132 closed

[2020-10-26 07:08] cxbuilders commented on #4503
nope, neither can I when updating to latest version, sorry for that, closing...

[2020-10-26 07:08] #4503 closed

[2020-10-26 07:13] #4504 closed

[2020-10-26 07:17] luhan2017 commented on #4409
@jpd21122012 , what timezone are you in? and which time do you prefer, where should I send the invitation, slipknot_jpd@hotmail.com?

[2020-10-26 08:06] luhan2017 commented on #4395
@philip-mc, this issue usually happens at this step: after we use the authoring key to create luis applications, we need to **bind the luis applications to a prediction resource** ， Could you please try this api directly in this web page, if you get the same error, that means there are some issues for the luis account.
https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55

[2020-10-26 08:12] luhan2017 commented on #4268
@jintu123 , did you still meet this issue? Could you also share me the runtime package version?
Go to your bot/runtime/azurewebapp folder, open Microsoft.BotFramework.Composer.WebApp.csproj and share the content in this thread. Thanks

[2020-10-26 09:20] hibrenda opened #4526 "Can not add properties in "SetProperties" action"
## Describe the bug

Can not add properties in "SetProperties" action

## Version

Latest Main

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. add "SetProperties" action
2. in Property view, click "add" to add an empty property
3. edit property will remo

[2020-10-26 09:32] boydc2014 commented on #4511
Thanks @hatpick , @liweitian is looking at this.

[2020-10-26 09:43] nitroin opened #4527 "Publish LUIS bot failure"
## Describe the bug

Unable to deploy a LUIS bot.

## Version

Various versions:
- Release: 1.1.1.
- `git main` checkout ``

## Browser

- [x] Electron distribution
- [x] Chrome
- [ ] Safari
- [x] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [x] Ubuntu

## To Reproduce

Steps to reproduce the behavior: https://docs.microsoft.com/en-us/composer/how-to-publish-bot

Our config:
- `ToDoBotWi

[2020-10-26 09:47] nitroin opened #4528 "Publish bot manually"
Since many issues with the publication are present within Composer.

Is there any way to publish it manually? With CLI or manual steps?

Thank you!

[2020-10-26 09:57] philip-mc commented on #4395
hello and thanks for getting back, it does appear we have an error!
![Capture](https://user-images.githubusercontent.com/73343537/97158244-12422480-1771-11eb-8728-e66cd2ceeb13.PNG)

This was the results from the publish generated app id and luis auth key

[2020-10-26 10:03] lei9444 opened #4529 "yarn start:dev will throw error in main branch"
## Describe the bug
![db5134f5-9320-4eb0-aaee-cfedf9e12c26](https://user-images.githubusercontent.com/39758135/97159047-40e1ee80-17b5-11eb-8efa-95d1c62f0dc6.jpg)

If I drop #4384 , all works.

## Version
main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the beha

[2020-10-26 11:16] cxbuilders opened #4530 "In trigger selector, "Greeting (ConversationalUpdate activity)" should be renamed as Conversational Update"
This has been bugging me for a while and at the very start threw me off guard as well. All activities are named after the actual activity itself and have no implementation. The only difference is the ConversationUpdate activity. Somehow that's called Greeting, so the name is not based on the activity but somehow what you **could** do with it and it has an implementation, which could be set up diff

[2020-10-26 11:24] philip-mc commented on #4395
@luhan2017  Forgive me, it appears that was a lack of bearer in the authorisation box, the new error -
![capture 2](https://user-images.githubusercontent.com/73343537/97166809-c184f880-177d-11eb-87cd-17dc95b6ebf9.PNG)
the same as in publisher

[2020-10-26 11:24] benjaminsommerfeld commented on #4451
@knightmeister Maybe this can help you, we are sending an activity event from Webchat to Composer like this:

const token = 'TuycRUr0E-M.HyVBYkL03Dp4AKn3-ZI9YfFRLcGv5HEo5PnaD6n-eU0';
            const store = window.WebChat.createStore({}, ({ dispatch }) => next => action => {
                if (action.type === 'DIRECT_LINE/CONNECT_FULFILLED') {
                    dispatch({

[2020-10-26 11:27] benjaminsommerfeld commented on #4345
@stevengum Maybe it could be interesting for you or other users, we can now receive activity events in composer. sending events from composer to webchat does not work yet, but receiving events through Azure direct line channel works like this:

https://github.com/microsoft/BotFramework-Composer/issues/4451#issuecomment-716486065

[2020-10-26 13:53] nitewulf opened #4531 "Trouble Implementing Custom MultiplyDialog Action Sample"
I followed along with the instructions here:

https://docs.microsoft.com/en-us/composer/how-to-add-custom-action

I started with an empty bot.  I added the project reference, uncommented the two lines built the solution and ran the powershell script to merge the schema.  I verified the root schema file was updated.  When I open up the bot again in Composer I get the following error

Title: Error P

[2020-10-26 14:35] benjaminsommerfeld opened #4532 "How to send activity event from Composer to Webchat and recognize it correctly in Webchat"
According to this issue:

https://github.com/microsoft/BotFramework-WebChat/issues/3409

It should be possible sending an activity event from Composer to Webchat. I've tried that in several ways, but Webchat unfortunately does not recognize the event, yet. Could you give me a concrete example, how I have to format the response in Composer so that Webchat recognizes it?

My responses I tried in Com

[2020-10-26 14:38] jpd21122012 commented on #4409
I'm in GMT -6, right now are 8:38 AM, so You must be 10:38 pm, ir You prefer se can have a call between 6 AM to 1 pm ir tour time.

[2020-10-26 14:47] #4532 closed

[2020-10-26 16:14] zxyanliu commented on #4531
FYI. This is a known issue: https://github.com/microsoft/BotFramework-Composer/issues/4416

[2020-10-26 16:53] df9723 commented on #4159
I am also having the same issue, with receiving an error 500 when I start the bot Emulator from Framework Composer.
My bot also has multiple dialogs. My configurations for LUIS and QnA maker appear to be correct. Not sure where to troubleshoot. Any help is greatly appreciated.
Thank you

![image](https://user-images.githubusercontent.com/63733786/97202264-c485e600-1789-11eb-8bf7-17bc01edc525.png)

[2020-10-26 16:58] v-kydela commented on #4480
@anhnh305 - There's no documentation for how to hack your Composer bot to get around a problem that's already been fixed, of course. And I can't show you how to edit your file when I haven't even seen your file. Perhaps you'd like to provide the files in question.

[2020-10-26 17:27] #4531 closed

[2020-10-26 17:44] mdrichardson commented on #4527
@nitroin How many LUIS resources are on the entire Azure subscription that you're using? How many in the free and how many in the paid tiers?

Also, what deployment method are you attempting?

Also, it should be noted that there are two types of resources in LUIS:

* Authoring - can only be F0 tier
* Prediction Endpoint - Can be F0 or S0

If you don't assign/create a Prediction Endpoint resource,

[2020-10-26 17:49] #4004 closed

[2020-10-26 17:51] taicchoumsft commented on #4529
Hi @lei9444, can you try installing the Visual C++ redist package and try again? [vcredist](https://www.microsoft.com/en-us/download/details.aspx?id=48145)

[2020-10-26 18:25] GeoffCoxMSFT opened #4534 "Grouped triggers need to display form-wide operations grouping"
## Describe the bug

Triggers that don't match a property are missing when grouped by trigger for form dialogs

## Version

main/

## Browser

- [ ] Electron distribution
- [ X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Generate form dialog
2. Nav to design tree
3. Look for triggers (grouped)
4

[2020-10-26 18:42] LouisEugeneMSFT opened #4535 "New adaptive forms designs don't adapt well to objects with "additionalProperties": true"
The gray box with icons shouldn't be there in objects with "additionalProperties": true.

![image](https://user-images.githubusercontent.com/66701106/97214263-175aa000-1780-11eb-87a0-f40719952d6c.png)

[2020-10-26 22:24] #4534 closed

[2020-10-26 23:12] GeoffCoxMSFT opened #4539 "Triggers not matching $public properties in schema don't appear (over filtering)"
## Describe the bug

Some triggers don't appear when grouped by property when the trigger property is not a one of the $public schema properties.

## Version

main/

## Browser

- [ ] Electron distribution
- [ X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Generate form dialog
2. Inspect grouped

[2020-10-26 23:41] anusharavindrar commented on #4528
@nitroin, what issues are you facing when you are trying to publish through Composer? As of now, the documentation to be followed for publishing a bot through Composer is https://docs.microsoft.com/en-us/composer/how-to-publish-bot.

[2020-10-27 00:57] anhnh305 commented on #4480
@v-kydela I'm sorry if I confusing you or make you feel disrespectful but this is my .dialog file's value. The reason why I ask that question is because I don't seem to find any part in the .dialog file that related to the multi-language or so, and I can't find any document to find out more about it. Maybe I should add a block and state that this bot is only in en-us? Please give me some advices,

[2020-10-27 02:16] #4539 closed

[2020-10-27 03:27] luhan2017 commented on #4395
@philip-mc , This error usually happens when the arm token and authoring service is not under the same tenant. But you already confirmed that right?  Several similar issues have been reported recently, I will try to connect with luis team to understand if there are any authentication update in their side.

[2020-10-27 04:21] yeze322 opened #4543 "project tree state is not synced with global state"
## Describe the bug

The current selection item in project tree is out of sync with Composer global state after
1. creating a new trigger
2. jumping to another dialog by clicking on BeginDialog

![image](https://user-images.githubusercontent.com/8528761/97256782-f319c480-184e-11eb-8f92-8f318a5d83ad.png)

![image](https://user-images.githubusercontent.com/8528761/97256760-e39a7b80-184e-11eb-9648-e0

[2020-10-27 04:47] yeze322 commented on #4543
cc Ben @beyackle

[2020-10-27 05:32] lei9444 commented on #4529
@taicchoumsft Thanks It works now.

[2020-10-27 05:32] #4529 closed

[2020-10-27 05:55] philip-mc commented on #4395
Thanks for the quick reply, here are a few screens of the current set up, the tenant and subscription match the token and they both match the Luis resource

Tenant:
![tennant](https://user-images.githubusercontent.com/73343537/97262232-5ccaac00-1818-11eb-9aff-125908ecfda1.PNG)

Subscription:
![subscription](https://user-images.githubusercontent.com/73343537/97262268-6c49f500-1818-11eb-84d7-2c37df4

[2020-10-27 09:21] joaollq opened #4546 "[MCS-DE-GO] -- Configurable timeout value for calls to Skill bots"
When calling a skill bot we noticed that we have the 15s timeout limitation.

Is there any easy way of making this timeout configurable? Do we need to have our custom Skill Connector class?
We might have situations in the future where the skill bot is handling long running processes (e.g. calculating the quotation for a new insurance proposal or aggregating history data from the user).

@goergenj

[2020-10-27 09:30] boydc2014 opened #4547 "Taking control recognizer generation enhancements"
Staring from #4351, we are treating the recognizer dialogs (.lu.qna.dialog, .qna.dialog, .lu.dialog, etc) part of the bot itself, instead of part of building process. This makes Composer authored bot more CI/CD friendly, and enable the recoginzers to be editable.

But #4351 are missing some details and the timing the generation folder is created isn't quite right, we will need
- [ ] check in the r

[2020-10-27 09:31] nitroin commented on #4527
This is the only bot we have on the entire subscription. All the resources are created with the provided [bot script](https://docs.microsoft.com/en-us/composer/how-to-publish-bot#create-azure-resources).

By script default (I assuming) both Authoring and Prediction are created. With F0 and S0 pricing tier respectively.

![Screenshot from 2020-10-27 10-04-37](https://user-images.githubusercontent.c

[2020-10-27 09:37] nitroin commented on #4528
We're finding the publishing task not realiable. See [#4527](https://github.com/microsoft/BotFramework-Composer/issues/4527) for example.

Today, to accomplish a deploy we were requested to delete all the resources within the resource group, and thus downtime.
Also, providing a "manual" way to deploy opens to various possibilities, for example automatic CI/CD.

[2020-10-27 11:47] cxbuilders opened #4548 "Take gives error when there are enough elements in array"
take(createArray(1,2,3),3)

VVVVV

*.lg:3=3 which is out of range for System.Collections.Generic.List`1[System.Object] [SendActivity_KZSydG]  Error occurred when evaluating ‘-${take(createArray(1,2,3),3)}’. [

[2020-10-27 14:38] zhnbss commented on #4157
@ltwlf the fix looks great by me. Works as expected. Thanks

[2020-10-27 15:13] sgellock commented on #4546
@benbrown triage appropriately. I have it in R11, given it's a customer issue

[2020-10-27 16:34] cwhitten commented on #4548
@cosmicshuai can you verify that this is an `adaptive-expressions` issue and not a LG Parser issue? At that point we can prioritize addressing it

[2020-10-27 16:37] cwhitten commented on #4546
@luhan2017 can you look at the SkillController class in Composer's runtime template to see if this is configurable via that hierarchy, or if we need to move this to an ask for the SDK? Thanks

[2020-10-27 16:39] cwhitten commented on #4543
@beyackle can you please include this fix in your current ProjectTree work? Thanks.

[2020-10-27 16:41] cwhitten commented on #4530
This is by design. Assigning owners to look into if we wanted to make a change

[2020-10-27 16:45] cwhitten commented on #4528
@zxyanliu can we take a docs item to demonstrate how to publish the runtime + assets outside of Composer as well? This is the same efforts needed for the CI/CD documentation.

@nitroin we will work on this in an upcoming release.

[2020-10-27 16:47] cwhitten commented on #4527
@nitroin the activity you have available to you in LUIS is governed by your pricing tier. the TodoWithLuis bot includes multiple LUIS applications that get created when you publish, and is better suited to use a paid pricing tier (and associated authoring keys) for general use.

[2020-10-27 16:52] cwhitten commented on #4495
@UmaPrelude, do you have the `autoEndDialog` property set to `true` in the Skill bot?

Also, is your Skill also operating as a normal bot as well?

[2020-10-27 16:53] zxyanliu commented on #4528
@cwhitten Sure. I added the runtime + assets topic to [R11](https://github.com/MicrosoftDocs/composer-docs/projects/1) doc work item.

[2020-10-27 17:18] v-kydela commented on #4480
@anhnh305 - Thank you for the .dialog file. The relevant piece of information in the JSON you've posted is the recognizer property, which is `"paracelvn.lu.qna"`. You may see a file called paracelvn.lu.qna.dialog in a folder called generated, but if it's not there then don't worry because Composer generates it automatically. If it is there then you can find the definition of your recognizer inside

[2020-10-27 17:23] hatpick opened #4551 "Update LG page to support imports in navigation"

[2020-10-27 21:06] dmvtech commented on #4495
Aside from what Chris has suggested checking, you can share your .dialog (sanitized of any personal/sensitive info).

[2020-10-27 22:37] dmvtech commented on #4159
@df9723 Are you supplying appid/apppassword in either the Bot/Composer or Emulator? If you have them set in the bot/app settings, then they need to be supplied in the Emulator (which should be done by default). Additionally, makes you have the right values in the correct settings, if so. (In settings, `MicrosoftAppPassword` is listed first, `MicrosoftAppId` second).

Does this only happen with mul

[2020-10-27 23:05] zxyanliu commented on #4512
The double trigger issue was fixed. But I was still unable to import a URL and make it work on my side.

[2020-10-27 23:18] #4535 closed

[2020-10-27 23:39] #4512 closed

[2020-10-28 00:35] boydc2014 opened #4555 "Publisher test failure"
CI is keep failing for this tests, we need to stabilize it.

Clues:
- jest-fake-timers?

[2020-10-28 00:42] dmvtech commented on #4496
@philip-mc Do you have both authoring and prediction resources setup in Azure already? And are you providing keys for both of those in the publishing settings? Also be sure to make sure the LUIS region is correct.

[2020-10-28 04:43] knightmeister commented on #4451
Many thanks @benjaminsommerfeld, this allowed me to determine where I was wrong. My JavaScript works, but the issue was I was using a dialog event, rather than an activity event.

[2020-10-28 05:02] UmaPrelude commented on #4495
Hi Chris,

As mentioned earlier, I am using the calendar skill which is part of virtual assistant.
https://microsoft.github.io/botframework-solutions/skills/samples/calendar/
It is not developed in composer so i am not sure if we have a property of "autoEndDialog" in Bot framework.
As a individual bot it continues the flow, but when i call from composer bot, i face the mentioned problem.

[2020-10-28 05:35] gabog commented on #4546
Hi, do you want to set a timeout when the Bot calls a Skill or when the skill responds to the parent bot?

For the first one the [SkllHttpClient class](https://github.com/microsoft/botbuilder-dotnet/blob/3a0dcfee003a7fcd0271c6336ab2c166f9a74313/libraries/integration/Microsoft.Bot.Builder.Integration.AspNet.Core/Skills/SkillHttpClient.cs) takes an HttpClient instance in the constructor where you ca

[2020-10-28 06:21] UmaPrelude commented on #4495
I believe you are asking for the dialog which calls the skill, below is the same.
{
  "$kind": "Microsoft.AdaptiveDialog",
  "$designer": {
    "id": "",
    "name": "CalendarSkillDialog"
  },
  "autoEndDialog": false,
  "defaultResultProperty": "dialog.result",
  "triggers": [
    {
      "$kind": "Microsoft.OnBeginDialog",
      "$designer": {
        "name": "BeginDialog",
        "id": ""

[2020-10-28 06:21] zidaneymar commented on #3379
@cxbuilders Hi, I could explain the corresponding functionality. Hope it helps.

Step1: You should write your customized OAuthMiddleware. For example: https://github.com/zidaneymar/CustomizedRuntime/blob/main/azurewebapp/OAuthMiddleware.cs
This middleware do one thing:
On each OnTurnAsync (message comes), pop up an OAuthPrompt dialog to the user, if already signed in, the OAuthPrompt would skip th

[2020-10-28 08:23] philip-mc commented on #4496
hello and thanks for getting in touch. We have both authoring and prediction keys set up in azure both through manual npm install, node composer provisioner as per the tutorials as well as doing so manually as well. We have also tried a few different regions, Us west was the original default, but based on some contact with others in similar situations we did also try setting everything up in the s

[2020-10-28 08:43] thakursarvesh opened #4560 "Wait time for user input"
I want to implement a wait time for the user input functionality of bot composer such that I can send a warning if user does not responds to the question for a specified time. I saw proactive notification available in sdk but not sure on how to implement in Bot Composer.

[2020-10-28 08:52] #4511 closed

[2020-10-28 09:28] nitroin commented on #4527
Yep, I understand, but please take note that this is exactly our scenario.

By default the provision script deploy 2 LUIS resources:

1. Authoring endpoint (free tier, the only available)
2. Non-authoring endpoint (I think we can call it prediction endpoint? - S0 pay as you go tier)

When clicking _Publish_ from Composer (using the app manifest from the [provision steps](https://docs.microsoft.com

[2020-10-28 10:06] leopuleo opened #4563 "LUIS bot not working on Azure Portal Web Chat or iframe"
## Describe the bug

After deploying ToDoBotWithLuis I cannot test it in Azure Portal Web Chat or iframe in web page.

## Version

Version:  1.1.1
Electron: 8.2.4
Chrome: 80.0.3987.165
NodeJS: 12.13.0
V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprodu

[2020-10-28 10:17] JonasBergholz commented on #4159
I'm sorry that I didn't answer. Moved on to another project. It is the same
problem that df9723 has. I have checked my settings and I have provided an
AppId and AppPassword. I'm able to publish, but it only works, if I have a
single dialog. Can't share my repo or anything like that.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Viren

[2020-10-28 10:34] yeze322 opened #4565 "Project tree incorrectly controls the URL and breadcrumb"
## Describe the bug

1. After clicking on a non-root dialog 'aaa', the url got stuck in root dialog name.
![bug-tree-inconsistent-url](https://user-images.githubusercontent.com/8528761/97424427-acf65b00-194b-11eb-9d8a-e0601aae2fb3.gif)

2. Switching to non-root dialogs got wrong breadcrumb values
![image](https://user-images.githubusercontent.com/8528761/97424725-19715a00-194c-11eb-9cd4-f231b0f275

[2020-10-28 11:06] UmaPrelude commented on #4495
I believe in below thread, the same thing is discussed, but i am not sure, how to get the updates of this fix.
I mean the url to download the fix or the updates

https://github.com/microsoft/BotFramework-Composer/issues/3848

[2020-10-28 14:13] df9723 commented on #4159
I do have appid/apppassword setup in the Bot/Composer and verified that I am using the correct values setup in the Azure App Registration. Along with multiple dialogs, I am making calls to multiple QnA knowledge bases. Not sure if that would cause an issue. Also unfortunately I am unable to share my bot configuration.  Thanks again for your help.

[2020-10-28 14:36] #4125 closed

[2020-10-28 14:36] #4385 closed

[2020-10-28 15:29] likith3611 opened #4566 "How do i put all the important keys to key vault like appid, password, luis and qna keys can you please help me out"

[2020-10-28 16:27] dmvtech commented on #4560
Hi @thakursarvesh

You will definitely have to [modify the runtime](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#export-runtime), as there's no way to do this OOB with Composer currently.

You could also add a custom action and do all of this (the proactive message, warning, etc) inside that custom action. You will still need to export the runtime and create that action to do

[2020-10-28 17:44] zxyanliu commented on #4528
Related to: https://github.com/microsoft/BotFramework-Composer/pull/4522

[2020-10-28 18:07] NeilDechert commented on #3288
I would also like to be able to use an existing LUIS application here, since for more complex LUIS apps the editor on the website is much better than what the Bot Framework Composer provides.  In addition, editing or adding any intents on the website seems to break the LUIS / composer integration, at least in the limited testing I have done.

[2020-10-28 18:11] pavolum opened #4567 "Improve feature flag update logic"
[ ] - Ensure that changes to anything in default feature flags besides value are updated to users data.json
[ ] - Update wording for form dialog
[ ] - Hide VA feature flag
[ ] - Update where formatMessage is called

[2020-10-28 18:22] beyackle commented on #4543
These issues are now fixed by the PR I'm working on (#4466), so I'll make sure to reference that it closes this issue.

[2020-10-28 18:26] dmvtech commented on #4563
Hi @leopuleo 401 errors _typically_ (not always) means some sort of misconfiguration with the appId and/or appPassword. Did you configure these values in the Composer settings? Or just in the publishing profile? Additionally, are they configured in the Web App/App Service's. If you can check all three, that would be a good start.

[2020-10-28 18:27] dmvtech commented on #4563
Also; are you publishing to an existing resource or a new one?

[2020-10-28 18:35] dmvtech commented on #4377
Looks like we have it the standard/alphabetical way in the publishing:
![image](https://user-images.githubusercontent.com/43397658/97481064-81ef1580-1911-11eb-8fdb-573c0343371d.png)

It's just the settings that are different, as @v-kydela showed above.

[2020-10-28 18:57] anusharavindrar commented on #4566
@likith3611, please refer to #3316

[2020-10-28 18:57] #4566 closed

[2020-10-28 19:47] carlosscastro commented on #4243
If you check PR #4570 , it captures the fix to make functions work again and some improvements to have it work in more environemnts. Options to get this fix are 1) wait for the next composer release or 2) eject your runtime and apply that fix to unblock right away.

[2020-10-28 20:59] dmvtech commented on #4159
Hi @JonasBergholz and @df9723

We're going to need a bit more to go on unfortunately. Can you give me explicit and simple instructions on how to reproduce? @df9723 Are you able to share a repo of a reproduction of the issue?

If you can give me the simplest repro steps, that will go a long way to determine what is going on.

[2020-10-28 23:23] #4526 closed

[2020-10-28 23:57] sangwoohaan opened #4573 "Intellisense wouldn't disappear when you tabbed out of a field"
![Screen Shot 2020-10-28 at 4 55 30 PM](https://user-images.githubusercontent.com/50963385/97509053-6b12e800-193e-11eb-98b6-95544c4cca20.png)
## Describe the bug

1. When you clicked on an empty field to get the intellisense
2. Tab out of the field is supposed to make the intellisense disappear, but it doesn't. The intellisense stays.
3. It disappears on a mouse click on anywhere on the screen.

[2020-10-29 00:00] LouisEugeneMSFT opened #4597 "Microsoft.BeginSkill - allowInterruptions: incorrect ref in the sdk.schema"
## Describe the bug
Microsoft.BeginSkill - allowInterruptions: incorrect ref in the sdk.schema

## To Reproduce
Steps to reproduce the behavior:
1. Go to Composer
2. Add "Connect to a skill"
3. Observe the allowInterruptions field

## Expected behavior
The field should be a a Boolean or expression (instead of unrecognized)

## Screenshots
If applicable, add screenshots to help explain your problem

[2020-10-29 00:01] cwhitten commented on #4403
Hi @knightmeister, our guidance is to use the settings scope with adaptive expressions:

something like:
[code]

[code]

you should also be able to define in your .lg file Namespace & Exports to make it callable in the url field:

[code]

and call it like: `${endpoints.myendpoint()}` in the "url" field of the HttpAction.

[2020-10-29 00:09] lei9444 opened #4575 "Breadcrumb does not display correctly"
## Describe the bug
![breadcrumb](https://user-images.githubusercontent.com/39758135/97509672-e667ae80-19bd-11eb-99b9-7d445474f618.gif)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2020-10-29 03:35] luhan2017 commented on #4395
@philip-mc , could you please submit a ICM ticket to luis team referring to this doc? https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request. It is the best way to get their attention and have them prioritized for this.

[2020-10-29 03:36] luhan2017 commented on #4409
@jpd21122012 As we synced last time, the token and authoringKey are all correct, but you can't get the correct response from this API. https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5be313cec181ae720aa2b26c/console

could you please submit an ICM ticket to luis team referring to this doc? https://docs.microsoft.com/en-us/azure/azure-portal/supportabili

[2020-10-29 05:46] knightmeister opened #4576 "Question: Can Composer emitted events be received by the client?"
I have read the Composer documentation about events and triggers and no mention is made about events propagating from Composer to the consumer of the bot (i.e. web chat via direct line).

It appears that this is possible from using Bot Framework directly - is this support exposed via Composer?

There is a [sample for the Web Chat control](https://github.com/microsoft/BotFramework-WebChat/tree/mast

[2020-10-29 09:22] feich-ms opened #4579 "CI security analysis validation always failed due to unsafe bl package version"
## Describe the bug

CI security analysis validation always failed due to unsafe bl package version. Details can be found here https://fuselabs.visualstudio.com/Composer/_build/results?buildId=179645&view=logs&j=4b2e88cf-7f41-52d9-bc09-6abcb4f006a6&t=4df4959e-2e5c-519a-4a2a-a05a39029822&l=20355

## Version

main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefo

[2020-10-29 09:53] #4555 closed

[2020-10-29 10:22] #4579 closed

[2020-10-29 11:21] garypretty opened #4582 "Enabling a custom action causing 'definition not found' error"
## Describe the bug

I have created a new project in Composer v1.1.1 (stable and also repro'd in nightly) and followed the instructions to enable the sample multiply custom action, re-building the runtime and running the PS script to merge the custom action schema.

Once I have ran the PS script, I now see an error "Definition not found for Microsoft.Ask/properties/activity/oneOf/1/properties/memb

[2020-10-29 12:17] BeheraMadan opened #4583 "handling interruption in Bot Composer"
Hi,

Please consider below scenario.

Suppose there are two Intents in the bot 'intent1' and 'intent2'. Corresponding dialog flows are there for each intent 'flow1' and 'flow2'  respectively. If an user starts flow1 and inside this flow (before completing this flow) if he enters utterance for 'intent2' then immediately 'flow2' should get started and after executing 'flow2' it should resume back in

[2020-10-29 15:25] SantiagoMadeira opened #4584 "After deploy Bot with composer, Luis has no endpoints hits not even is possible to Review Endpoint Utterances"
After deploy Bot with composer, Luis has no endpoints hits not even is possible to Review Endpoint Utterances

## Version

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Composer
2. Create a new Bot
3. Create intents with LUIS (Language Understandi

[2020-10-29 16:35] cwhitten commented on #4583
Hi @BeheraMadan, see the following for an example of modeling interruptions using Adaptive Dialogs https://docs.microsoft.com/en-us/composer/tutorial/tutorial-add-help#allowing-interruptions

Closing as a how-to

[2020-10-29 16:35] #4583 closed

[2020-10-29 16:38] cwhitten commented on #4582
@garypretty, we think something may be amiss with your bf cli toolchain. Root cause is unclear at the moment

[2020-10-29 16:41] garypretty commented on #4582
Thanks @cwhitten Sure, here is the output.

@microsoft/bf-generate 4.9.0-preview-130557
@microsoft/bf-dialog 4.10.0-dev.20200730.3786d10

[2020-10-29 16:42] beyackle opened #4585 "ProjectTree: Remote skills need their links to go to the right place"
## Describe the bug

Remote skills in the ProjectTree currently don't have the correct on-click behavior. They should go to a URL something like "bot/<bot ID>/skill/<skill ID/".

[2020-10-29 16:42] cwhitten commented on #4576
@knightmeister , no the Emit Event action does not send information to the client (Web Chat), however you can author an structured response template (read: Activity) that can be configured to be received as a client event.

Here is an example
[code]

Closing as a how-to

[2020-10-29 16:42] #4576 closed

[2020-10-29 16:48] beyackle opened #4586 "ProjectTree: links on dialogs are broken"
## Describe the bug

Triggers are working fine and route to the correct URLs, but the links from the dialogs themselves often either don't work or take multiple clicks to bring up the correct property editor.

[2020-10-29 16:50] beyackle commented on #4586
Closing as a duplicate of #4565, which describes the problem better.

[2020-10-29 17:55] #4505 closed

[2020-10-29 17:56] #4219 closed

[2020-10-29 19:04] Laxmi30 opened #4587 "Get the user information from teams using Bot framework composer"
I had created a bot using bot framework composer and integrated it with MS Teams with help of the azure web app. Now I need to get the login user(MS Team) information i.e. the user who using the bot. I need to get the user information and log it in the azure application insights using Bot Framework Composer.

Can I use the component shown below of Bot Framework Composer,
![image](https://user-imag

[2020-10-29 21:13] zxyanliu opened #4590 "Cannot enable multiturn extraction in QnA"
## Describe the bug

It seems that multiturn is not supported by importing URL when creating a QnA kb in Composer. It is supported when creating a KB from scratch and after edits to its .qna file. We should consider removing the multiturn extraction checkbox to avoid customer confusion and anxiety in the KB creation flow.

![image](https://user-images.githubusercontent.com/32497439/97633223-ff3d87

[2020-10-29 22:10] #4573 closed

[2020-10-29 23:31] knightmeister commented on #4576
Thanks @cwhitten, exactly what I was after.

[2020-10-30 00:49] #4243 closed

[2020-10-30 02:24] #4429 closed

[2020-10-30 02:24] #4543 closed

[2020-10-30 02:24] #4585 closed

[2020-10-30 02:35] zhixzhan commented on #4590
This is a regression bug  in bf-lu package, I'm following up with @feich-ms .

[2020-10-30 04:01] UmaPrelude commented on #4495
Any support will help me to proceed further. Please suggest.

[2020-10-30 06:04] #4517 closed

[2020-10-30 06:04] #4519 closed

[2020-10-30 06:04] #4547 closed

[2020-10-30 13:30] nitewulf opened #4593 "The actions performed during a trigger for "Message Received Activity" are not processed asynchronously"
## Describe the bug

I have created an adaptive card with a submit button.  I am handling the button click by subscribing to a named event that I learned to do as a workaround for Composer not supporting what the OP here wanted to do (myself included) in here:
#3875

My flow is simple.  After the button is clicked I have a "Message Received Activity" trigger that should show a message then run the

[2020-10-30 14:30] obagaar opened #4594 "Running yarn install and getting Request failed \"503 Service Unavailable"
At the point of running yarn install and getting this error:

[3/5] Fetching packages...
error An unexpected error occurred: "https://botbuilder.myget.org/F/botbuilder-v4-js-daily/npm/kind-of/-/kind-of-6.0.3.tg
z: Request failed \"503 Service Unavailable\"".
info If you think this is a bug, please open a bug report with the information provided in "C:\\users\\ashley.harper\\Doc
uments\\BotFramewor

[2020-10-30 14:59] df9723 commented on #4159
Hi dmvtech,

I have attached some details on how we are structuring our bot.
Thanks

[500error.pdf](https://github.com/microsoft/BotFramework-Composer/files/5465841/500error.pdf)

[2020-10-30 15:03] cwhitten commented on #4527
Thank you @nitroin - @luhan2017 can you take a look at this?

[2020-10-30 16:11] nitewulf commented on #4593
I've also tried to combine an intent and an event hoping to show a message with an intent then run my custom action with the event.  I specified an intent like so:

            "data" : {
                    "intent" : "createUserMessage",
                    "event" : "createUserEvent"
                    }

And ran into the same problem when i tried to use multiple "Message Received Activities".

[2020-10-30 16:30] anhnh305 commented on #4480
Hi @v-kydela. After changing the CrossTrainedRecognizerSet like you said's value to paracelvn.en-us. My LUIS test bot still got the same error, which is:
![image](https://user-images.githubusercontent.com/44403719/97731083-474ece00-1b07-11eb-8fd5-905713abc92a.png)

Further than that, my StaggingBot which involve with data couldn't even publish to Azure to test when I change the value in my .dialog

[2020-10-30 18:21] cwhitten commented on #4530
hi @cxbuilders, we'll take this as a feature-request and seek to prioritize in our upcoming release

[2020-10-30 18:24] #4397 closed

[2020-10-30 18:29] cwhitten commented on #4091
@luhan2017 let's take an item to investigate network activity to LUIS when _publishing_ the models from Composer when a proxy is configured.

[2020-10-30 18:56] LouisEugeneMSFT opened #4599 "Add ability to switch to expression when editing an "OpenObjectField" (object with additionalProperties) & only show OpenObjectField when additionalProperties is an object"
## Describe the bug

Two issues:
1. It is not possible to switch to an expression from an OpenObjectField even if the schema permits it.
2. OpenObjectField  should only be shown when additionalProperties is an object, not any truthy value.

## Screenshots

![image](https://user-images.githubusercontent.com/66701106/97745970-df689b00-1aa6-11eb-90da-f120355c83c3.png)

[2020-10-30 18:57] srinaath commented on #3953
Composer now creates a botproj file for all bots that do not have a .botproj on opening. The surface area of the ticket is to ensure support for botprojects in VA Core R11. Closing it as functionality is working. Another work item needs to be made to add the .botproj file to the VA core repository.

@pavolum @cwhitten

[2020-10-30 18:57] #3953 closed

[2020-10-30 19:24] pavolum opened #4601 "Minor UI features to support R11 remote template creation"
[ ] add a banner above the template list in the creation flow when REMOTE_TEMPLATE feature flag is turned on. Banner contains text letting the user know that remote/conversational core templates are in the list.
[ ] When a project is created with a remote template the create load time is much longer. Need to add loading UI to the spinner to indicate creation progress. Currently its a Spinner for ~

[2020-10-30 22:20] TharosTheDragon commented on #4403
@knightmeister - Did @cwhitten's guidance resolve your issue?

[2020-10-30 22:22] v-kydela commented on #4403
@knightmeister - Did @cwhitten's guidance resolve your issue?

[2020-10-31 00:30] dmvtech commented on #4495
@UmaPrelude In your `Connect to a Skill` action, do you have `Allow Interruptions` set to false?

![image](https://user-images.githubusercontent.com/43397658/97766839-8b28df80-1ad5-11eb-9808-e530a4cca0c2.png)

[2020-10-31 01:18] dmvtech commented on #4496
@philip-mc Thank you. Very strange. Not sure what is going and I'm not able to reproduce.

@luhan2017 @cwhitten @tdurnford Any ideas here? I'm not familiar with the error `the source completed without providing data to receive` or what could causing it. Anything else to check for?

[2020-10-31 17:08] anhnh305 commented on #4480
@v-kydela I was misunderstood you for a sec, the first part of your answer is to find the multi-language file, I thought that's the .dialog file to fix the value inside (which is a CrossTrained...'s value). So when I finally realize what am I doing wrong, I fix the recognizer value in the .dialog file right under the bot's folder (bot-name.dialog). Then a bunch of files with bot's name prefix in t

[2020-11-01 17:13] gbelenky commented on #4458
I have the same issue - on both browser based and desktop version of the Composer when running on Win10. It seems that bad request is coming from http://localhost:5000 and not from LUIS. I tested the LUIS POST request in Postman and it worked fine. It seems that localhost:5000 (Composer backend process) has a bug when waiting for LUIS response and returns Bad Request. It happens not only on **"/tr

[2020-11-01 22:48] Stevenic opened #4605 "Resize causes expandos to clip"
## Describe the bug
Resizing the dialog explorer causes the expandos to sometimes clip:

![resize-issue](https://user-images.githubusercontent.com/698939/97817375-e7fcd500-1c50-11eb-8670-07ba9cc028c0.gif)

## Version

https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.1.1-nightly.178300.83c0804

[2020-11-01 22:56] Stevenic opened #4606 "Can't edit per/dialog settings"
## Describe the bug
If you try to click on a root dialog, within the design explorer, it always jumps you up to the root dialog. This means you have no way of changing the settings for a given dialog without editing the file directly.

![cant-select-dialog-root](https://user-images.githubusercontent.com/698939/97817603-51c9ae80-1c52-11eb-94fa-9e8e7d1c5a5d.gif)

## Version

https://github.com/micro

[2020-11-01 23:01] Stevenic opened #4607 "Design explorer forgets collapse state"
## Describe the bug
You can collapse the rigger list for various dialogs and the explorer generally remembers this collapse state as you browse around the project. The moment you try to view the settings for a given dialog, however, all of the collapse states are forgotten.

![forgets-collapse-state](https://user-images.githubusercontent.com/698939/97817683-c56bbb80-1c52-11eb-9e24-0d6d11e597c2.gif

[2020-11-01 23:07] Stevenic opened #4608 "Can't add new properties to SetProperties action"
## Describe the bug
You can't add new properties to the `SetProperties` action in the nightly build. You can click add and the new fields show up but the moment you click into them they disappear.

![cant-add-properties](https://user-images.githubusercontent.com/698939/97817828-b8030100-1c53-11eb-92ed-90aa49448f23.gif)

## Version

https://github.com/microsoft/BotFramework-Composer-Nightlies/relea

[2020-11-01 23:16] Stevenic opened #4609 "Wrong node selected when adding a new action."
## Describe the bug
The wrong node is selected when adding a new action. I added a `SetProperty` action in the flow below but it then selected the node beneath the new one.

![add-selects-wrong-node](https://user-images.githubusercontent.com/698939/97818061-0664cf80-1c55-11eb-956e-3622ea850259.gif)

## Version

https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.1.1-nightl

[2020-11-02 01:47] df9723 commented on #4159
SOLVED: I no longer receive the error 500 message within Emulator, once I removed all routes back to the main dialog from a child dialog and any repeat of the main dialog, while in the main dialog.
Hope this helps.

[2020-11-02 02:49] feich-ms commented on #4458
Here is the dev for the luis publishing module, I'm trying to reproduce and figure out the cause, will keep you posted when there are any foundings. Thank you.

[2020-11-02 04:57] feich-ms commented on #4458
Hi @SantiagoMadeira @gbelenky, I was not able to reproduce this error in my windows 10 os with 1.1.1 Composer. Is this issue reproduced stablely or occasionally? Per my observation, this is maybe caused by the network delay or some other network issue of window os. If this is stabely reproduced, I will sync with the luis team to have it investigated.

[2020-11-02 05:34] luhan2017 commented on #4091
@cwhitten This is a nodejs proxy issue, I was investigating a similar proxy issue with credit-suisse recently, we sent a private electron to them to verify if the solution works, once verified, we will submit a PR in composer to support the nodejs proxy feature.

@soappp , please let me know if you want to try out our private electron, I can send you the exe and the steps to enable proxy for compo

[2020-11-02 05:45] luhan2017 commented on #4496
@philip-mc I've replied you through #4395, this error is caused by this API, https://westus.dev.cognitive.microsoft.com/docs/services/5890b47c39e2bb17b84a55ff/operations/5be313cec181ae720aa2b26c/console, if the access-token and authoring key are both correct, and it still not works, could you please help submit a ICM ticket to luis team referring to this doc? https://docs.microsoft.com/en-us/azure

[2020-11-02 05:49] UmaPrelude commented on #4495
I am using a old version of the composer, can i get a package/patch on this update. As i don't see this property.

[2020-11-02 05:54] luhan2017 commented on #4527
@nitroin , According to this doc, https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-how-to-azure-subscription
There is only one pricing tier available for the LUIS authoring resource:
* Free F0 Authoring resource which gives you 1M Free authoring transactions and 1000 free testing prediction endpoint requests monthly, 5 transactions per second.
We already have the retry logic(def

[2020-11-02 08:11] gbelenky commented on #4458
Hi @feich-ms! This stably reproduced on my Win 10 machine when publishing "To Do With LUIS" sample . I can also stably reproduce it when connecting my machine to a different network bypassing home wifi router - in my case it was mobile internet. Composer works fine with my Mac. Is there a way to get Composer logs?
**Update:**
If I use a different LUIS bot with a smaller number of dialogs, it works

[2020-11-02 09:24] zhixzhan commented on #4378
I'm looking into this.

[2020-11-02 11:37] philip-mc opened #4613 "Trying to escape placeholders in bot composer fails....."
We currently pull in JSON from an api and build a product carousel with it using the following code in bot composer.

# ProductsCarousel()
[Activity
    Attachments = ${json(adaptivecardjson1())} | ${json(adaptivecardjson2())} | ${json(adaptivecardjson3())} | ${json(adaptivecardjson4())} | ${json(adaptivecardjson5())}
    AttachmentLayout = carousel
]

With the json(adaptivecardjson1() etc specifi

[2020-11-02 13:39] nitewulf commented on #4608
I can confirm this.  I had to switch to code view and manually add properties on Friday.

[2020-11-02 15:09] cxbuilders commented on #4216
Any progress on this? I just hit this blocking issue as well....

[2020-11-02 15:25] GPHNKN commented on #4216
Same here .... can you updates on this?

[2020-11-02 15:51] cxbuilders commented on #4216
ok, switched to the latest main version and there it is working.

[2020-11-02 17:18] #4590 closed

[2020-11-02 18:16] CezaryMarcjan commented on #4396
Assuming resolved. Please reactivate in case it's not the case.

[2020-11-02 18:16] #4396 closed

[2020-11-02 18:29] v-kydela commented on #4480
@anhnh305 - I don't have enough information about your Composer project to troubleshoot this for you. If you can't get option 3 to work then you'll have to go with option 1 or 2

[2020-11-02 18:29] dmvtech commented on #4587
Hi @Laxmi30 How much user info do you need? Do you need just the name/username, or more?

[2020-11-02 19:13] CezaryMarcjan commented on #4594
Service issues which has been addressed since.

[2020-11-02 19:13] #4594 closed

[2020-11-02 19:48] #4599 closed

[2020-11-02 20:18] srinaath opened #4615 "In DesignPage set URL by reading the designPageLocationState or to the root bot's main dialog"
###  Steps to recreate

In the context of a botproject with a root bot and skill, click on a dialog inside a skill the URL is set correctly `(bot/{​​​​​​​rootBotId}​​​​​​​/skill/{​​​​​​​skillId}​`​​​​​​). Navigate using the sidebar to a different page and come back to the design page. The url is set at `bot/{​​​​​​​skillId}​​​​​​​/dialogs/*`. This URL is wrong as a skill needs to be nested inside

[2020-11-02 20:20] LouisEugeneMSFT commented on #4202
This should be fixed.
Below is an example.

Before:
![image](https://user-images.githubusercontent.com/66701106/97914969-8c405380-1d05-11eb-804b-6dcb3ed2e7aa.png)

Now:
![image](https://user-images.githubusercontent.com/66701106/97915022-a11ce700-1d05-11eb-8322-688d77aadc94.png)

I will reopen issues with specific examples if I see new problems.

[2020-11-02 20:20] #4202 closed

[2020-11-02 21:01] sangwoohaan opened #4616 "When an action node is newly created, it is supposed to be focused immediately"
## Is your feature request related to a problem? Please describe.

Currently, when you create a new action node in the authoring canvas, the focus goes to the action node below the newly created.

![Screen Shot 2020-11-02 at 12 56 23 PM](https://user-images.githubusercontent.com/50963385/97918622-41293f00-1d0b-11eb-9696-b8b289ed8d7d.png)
1. Creating a new Send a response node

![Screen Shot 2020-1

[2020-11-02 22:02] dmvtech commented on #4587
If you just need the name of the user, you can get that with `${turn.activity.from.name}`. Then, you can use the `Emit a telemetry track event` action to log that into Application Insights. If you want other user properties, you might have to do additional steps depending on what information you are looking for.

[2020-11-02 22:05] hatpick opened #4617 "Empty QnA files generated for form dialog generated dialogs upon opening a project"
## Describe the bug

Composer creates empty QnA files for generated dialogs (form dialogs) when a project containing one is loaded (opened).

## Version

Latest on main.

## Browser

- [x] Electron distribution
- [x] Chrome
- [x] Safari
- [x] Firefox
- [x] Edge

## OS

- [x] macOS
- [x] Windows
- [x] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Turn on form dialog feature flag fro

[2020-11-02 22:22] dmvtech commented on #4495
1.1.1. is the newest release. If you are building Composer yourself from source, you might want to just try [the download](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.1.1) for the appropriate OS you are using. Just to make sure it works. Then (_if needed_), you can build a 1.1.1. version.

[2020-11-02 23:27] sangwoohaan opened #4618 "Set properties input fields keep disappearing on any mouse action"
## Describe the bug

In the Set properties action, when you create an entry by clicking the Add button, any mouse action - clicking on one of the fields or anywhere else on the screen - makes the entry disappear.

![ezgif-5-1cf187f211d5](https://user-images.githubusercontent.com/50963385/97930323-f4039800-1d1f-11eb-84fa-bd4d2fb9d696.gif)

[2020-11-03 00:23] dmvtech commented on #4159
Ah, thank you @df9723 Yeah, as you have found, you don't want to do that. Assuming your FAQ dialog has `Auto end dialog` set to true, you shouldn't need to do much else as it will just bubble up to the calling dialog. You could, of course, specifically add an `End dialog` action in place of where you were calling the Main dialog, but it's not needed if `Auto end dialog` is set. Optionally, you cou

[2020-11-03 00:32] luhan2017 commented on #4478
@jeffhagins did the issue still there? could you please share the whole bot with us or all the lu files? we will try to debug more on this.

[2020-11-03 00:43] anusharavindrar commented on #4584
@SantiagoMadeira, thanks for reporting this. I will attempt a repro on my end and update the thread accordingly

[2020-11-03 00:46] cwhitten commented on #4609
Closing as a dupe of https://github.com/microsoft/BotFramework-Composer/issues/4616

[2020-11-03 00:46] #4609 closed

[2020-11-03 00:46] cwhitten commented on #4608
This is addressed on the `main` branch. Closing

[2020-11-03 00:46] #4608 closed

[2020-11-03 00:51] luhan2017 commented on #4546
@joaollq , did you try on @gabog 's suggestion to see whether it meets your requirement? We will support this in the upcoming release.

[2020-11-03 00:57] LouisEugeneMSFT commented on #4618
This was fixed in https://github.com/microsoft/BotFramework-Composer/pull/4572

[2020-11-03 00:57] #4618 closed

[2020-11-03 01:09] srinaath opened #4619 "Undo/Redo"
### Bugs on Undo/Redo

- Dialogs state is now fetched using dialogsSelector. A bug exists with changes being comitted before the selector yields results
- URL's need to handle the latest encoded paths.
- Should be able to do Undo/Redo on a skill

[2020-11-03 01:11] srinaath opened #4620 "Undo/Redo"
## Describe the bug

Undo/ Redo is broken

1. Undo/Redo needs to handle the new encoded paths in url
2. Undo/Redo commits changes before the selector value is updated
3. Undo/Redo needs to be supported for skills

[2020-11-03 01:12] #4619 closed

[2020-11-03 01:12] srinaath commented on #4619
Dupe

[2020-11-03 01:15] anhnh305 commented on #4480
@v-kydela Thanks, I got it, but in case I got the latest version of bot builder as well as Bot Composer, didn't it mean I have to wait for either update of Composer nor Bot Builder?

[2020-11-03 01:16] df9723 commented on #4159
Hi dmvtech,
Yes I was calling the main dialog from another dialog. To mitigate the issue, I call a hero card with selections. But I appreciate the additional info. I am new to using the Framework Composer.
Thanks again.

[2020-11-03 01:23] GeoffCoxMSFT opened #4621 "Hide form dialog preview feature switch for 1.2 release"
As form dialog won't be fully operational for 1.2, we should hide the feature switch in main and then restore it once 1.3 work starts in main.

[2020-11-03 01:44] dmvtech commented on #4345
Hi @benjaminsommerfeld Sincerest apologies for the delay.

No. There _may_ be issues running a certain version of the SDK (Bot Builder SDK) with a version of Composer, but that would/_might_ depend on the version of the SDK and Composer. Just the fact that you are running a custom runtime, shouldn't matter.

So (currently at least), Composer uses a very straightforward runtime (code) to run the bo

[2020-11-03 01:44] #4345 closed

[2020-11-03 02:34] feich-ms commented on #4527
I did some investigations and have a branch to enable retry count configuration. But from the error message above, the request `Get LUIS azure accounts Operation` is not from luis build so the failure didn't come from luis build call, actually it's more like azure deployment failure. Maybe @zidaneymar has more insights about this request?

[2020-11-03 02:42] mewa1024 opened #4623 "Broken link for trace activity node"
## Describe the bug

The "Learn more" link in the details pane for "Emit a trace event" is broken.

## Version

v.1.1.1

## Browser

- [x] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to the Design to any trigger.
2. Press the + button to add a node.
3. Select the "D

[2020-11-03 03:14] feich-ms commented on #4458
@gbelenky thanks for the investigation. Your findings help a lot. As you may know luis service allows [5 transactions per second](https://azure.microsoft.com/en-us/pricing/details/cognitive-services/language-understanding-intelligent-services/), so to make full use of such capability, composer is calling luis api with a concurrency rate of 5, this is implemented [here](https://github.com/microsoft

[2020-11-03 04:20] yeze322 opened #4626 "Delete a main dialog will raise 500 server error"
## Describe the bug
**Problem**:
After deleting the main dialog, Composer poped up a 500 error and the project folder was deleted. User won't have a chance to undo this change.

The error always happens even main dialog is not the only existing dialog.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/8528761/97949477-b3168c80-1dce-11eb-8b18-30277c60812d.gif)

## Version

## Browse

[2020-11-03 04:30] luhan2017 opened #4627 "Name conflict Error when publishing to an existing publish profile"
## Describe the bug

When I try to deploy my bot to an existing publish profile, if I had already deployed the same lu file before, I will get the following name conflict error.
![image](https://user-images.githubusercontent.com/32191031/97949607-202a2200-1dcf-11eb-9d95-2504139f31fc.png)

The name field is used to identify the abs and luis resource,  so I can't fix this by just update the name, I

[2020-11-03 06:57] boydc2014 commented on #4626
@liweitian we should not allow delete the main dialog

[2020-11-03 07:23] yeze322 opened #4628 "Should hide the 'actions' part of the 'Duplicated intents recognized' trigger"
## Describe the bug
![image](https://user-images.githubusercontent.com/8528761/97958523-5758fd00-1de8-11eb-95d3-fbecc108a7ff.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See e

[2020-11-03 07:27] yeze322 opened #4629 "State of 'Disable/Enable' buttons in Toolbar not changed in real time"
## Describe the bug
The button state got updated only after triggering a UI redraw.
![bug-enabledisable](https://user-images.githubusercontent.com/8528761/97958878-18777700-1de9-11eb-9bcf-303951d2b574.gif)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the be

[2020-11-03 07:29] yeze322 opened #4630 "Style: the 'warning' icon of incompatible triggers is too small"
## Describe the bug
![image](https://user-images.githubusercontent.com/8528761/97958990-5f656c80-1de9-11eb-9657-d3bd8218372e.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See e

[2020-11-03 07:32] yeze322 opened #4631 "Breadcrumb text is foced to be capitalized"
## Describe the bug
![image](https://user-images.githubusercontent.com/8528761/97959199-c5ea8a80-1de9-11eb-894b-fca52d46b2ea.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See e

[2020-11-03 07:36] yeze322 opened #4632 "Project Tree generates duplicated dialog name path"
## Describe the bug
Duplicated dialog names in breadcrumb
![image](https://user-images.githubusercontent.com/8528761/97959301-06e29f00-1dea-11eb-9163-d9b765f0647f.png)
And inconsistent breadcrumb path
![image](https://user-images.githubusercontent.com/8528761/97959679-d51e0800-1dea-11eb-8f48-739d68a2d7ee.png)
![image](https://user-images.githubusercontent.com/8528761/97959718-e8c96e80-1dea-11eb-96

[2020-11-03 07:41] yeze322 commented on #4632
Related to and may have been fixed by #4604.  cc @beyackle

[2020-11-03 07:45] yeze322 opened #4633 "perf: feels slow in the bot project name input box"
## Describe the bug

When inputting a bot name, I can feel the latency between key pressed - char appeared.

To repro this, try holding a key in the 'Name' field
![bug-botnameperf](https://user-images.githubusercontent.com/8528761/97960013-86bd3900-1deb-11eb-8405-02471e34faf2.gif)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ]

[2020-11-03 07:49] BeheraMadan opened #4634 "value of multiple input choice action is not getting stored in the input property if user doesn't click on the options provided"
Hi,

In composer bot we are providing a multiple input choice action to the user for selecting the choice from the list  as shown below. If user click on the button value is getting stored in the property. But instead of clicking on the button if user types something then the user typed phrase is not getting stored in the property and value in the property showing as null. Is there any way to stor

[2020-11-03 07:52] yeze322 opened #4635 "perf: Project Tree search latency"
## Describe the bug
The search result appears after a while
![perf-searchlatency](https://user-images.githubusercontent.com/8528761/97960438-722d7080-1dec-11eb-9e44-9876860380b2.gif)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'

[2020-11-03 08:02] luhan2017 opened #4636 "Bot publish to azure failed in crosstrain step"
## Describe the bug

Create a luis sample bot. / Load a luis sample created by older version of composer.
Deploy to Azure.
Both get the following error:

 "status": "DEPLOY_ERROR",
  "message": "{\"stack\":\"TypeError: Cannot read property 'name' of undefined\\n    at C:\\\\Users\\\\luhan\\\\AppData\\\\Local\\\\Programs\\\\Bot Framework Composer\\\\resources\\\\app.asar.unpacked\\\\extensions\\\\a

[2020-11-03 08:28] luhan2017 opened #4637 "Visual canvas mess up when add new actions in a zoom in/out mode"
## Describe the bug

Try to zoom in/out.
Then add a new action

![image](https://user-images.githubusercontent.com/32191031/97963117-7a3bdf00-1df1-11eb-8b2e-5f7ab49640dc.png)

![image](https://user-images.githubusercontent.com/32191031/97963157-8b84eb80-1df1-11eb-8848-f24a4eb1be0e.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

-

[2020-11-03 08:43] lei9444 opened #4638 "click notification page item can't navigation to the error position"
## Describe the bug
![navigation](https://user-images.githubusercontent.com/39758135/97964357-9b9dca80-1df3-11eb-87f0-f62c6345b867.gif)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2020-11-03 08:48] luhan2017 commented on #3379
@stevengum Steve created a AdaptiveMiddleware proposal, please refer to #4283

[2020-11-03 09:03] hibrenda opened #4639 "click setting page will show "data loading""
## Describe the bug

Open bot from homepage "history", and then click bot setting. it will show error.
But if you click  each tab in bot setting, it can load appsetting.json correctly.

![image](https://user-images.githubusercontent.com/43408889/97966118-5af38080-1df6-11eb-90fd-2dd2cef6fd89.png)

## Version
latest main

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefo

[2020-11-03 09:25] feich-ms commented on #4458
@gbelenky can I know which region are you specifying when doing publishing? Can you share the appsetting you are using when publishing. You can remove any sensitive keys and ids. We can have a debug session, but before that I hope I can reproduce it in some way.

Below screenshot is what appsettings look like
![image](https://user-images.githubusercontent.com/43032123/97968083-233a0800-1df9-11eb-9

[2020-11-03 09:41] hibrenda opened #4641 "Missing "isSkill" setting in QnA bot creation, so caller bot can not call a skill bot."
## Describe the bug

missing "isSkill" setting in QnA bot creation, so caller bot can not call a skill bot.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

- create a new bot from QnA
![image](https://user-images.githubusercontent.com/43408889/9

[2020-11-03 09:50] hibrenda opened #4642 "create QnA bot wizard missing "create from scratch" option"
## Describe the bug

create QnA bot wizard missing "create from scratch" option

## Version

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. homepage to create new bot
2. choose create qna bot as below
![image](https://user-images.githubusercontent.com/43

[2020-11-03 09:58] zhixzhan opened #4643 "QnA knowledge base cannot be created from authoring canvas"
## Describe the bug
On Electron,
1. created QnA not be imported by dialog
2. design page create met error

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavi

[2020-11-03 10:06] zhixzhan opened #4644 "Test in Emulator / start bot button can not be hover/click"
## Describe the bug
when hover on the button, it flip, can't be clicked.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots
![Untitled3](h

[2020-11-03 10:18] boydc2014 commented on #4639
@liweitian can you check this?

[2020-11-03 11:31] gbelenky commented on #4458
@feich-ms This time I selected a much simpler sample https://docs.microsoft.com/en-us/composer/tutorial/tutorial-luis.
But even here I get random errors to the one above when I Restart Bot and publish my model to LUIS. But even when I am sometimes lucky and there are no errors, composer seems to forget to train the model and also to publish it into the production slot. Here is an example - I resta

[2020-11-03 11:36] gbelenky commented on #4458
@feich-ms - the same error happens in both regions where I have my authoring keys - westus and also westeurope

[2020-11-03 11:40] normthecat commented on #3722
The number of keys, configurations, services, blah blah blah is ridiculous. Why do you think Dialogflow and Google are the standards? They work. This is garbage.

[2020-11-03 15:23] UmaPrelude commented on #4495
Thanks for the responses, it is working as expected.

[2020-11-03 16:52] GeoffCoxMSFT opened #4645 "Dev env issues: Caching hostedbots with source code causes errors if composer run from two different locations."
## Describe the bug

Developers may have two enlistments of the composer source code (or run the web app from different locations).  When publishing a bot, the localpublish extension published to a hostedbots folder under localpublish.  However, Composer saves the recent published name (e.g. 21573.519693286446) in session storage.

This means if Composer runs from another location, the app will pu

[2020-11-03 17:33] #4005 closed

[2020-11-03 17:45] tonyanziano commented on #4634
@stevengum is this scenario supported? Is it possible to capture the user's input if it does not match one of the choice input options?

[2020-11-03 17:47] tonyanziano commented on #4631
@beyackle can you please take a look at this?

[2020-11-03 17:48] beyackle commented on #4632
That PR is a rewrite of how breadcrumbs work, and I agree that it should fix this bug. I'll add this issue to its description.

[2020-11-03 17:48] v-kydela commented on #4480
@anhnh305 - The latest version of Composer does not use the latest version of Bot Builder. You will need to wait until Composer is updated to use a version of Bot Builder with the fix to the multi-language recognizer problem. Does this resolve your issue?

[2020-11-03 17:49] tonyanziano commented on #4627
@zidaneymar can you please take a look at this?

[2020-11-03 17:50] tonyanziano commented on #4623
@zxyanliu can you please provide the correct docs link for this? Or update the aka.ms link if needed. Thanks.

[2020-11-03 17:52] tonyanziano commented on #4617
Assigned to @zhixzhan pending #4612

[2020-11-03 17:52] tonyanziano commented on #4616
@yeze322 can you please take a look at this?

[2020-11-03 17:55] tonyanziano commented on #4605
@beyackle can you please take a look at this issue with the other project tree issues?

[2020-11-03 17:56] benbrown commented on #4613
Hi @philip-mc - Rather than trying to achieve this with a complex LG template with embedded expressions, I would suggest capturing the search results into an array property and using the foreach and join methods to build the carousel.

[2020-11-03 18:00] cwhitten commented on #4593
@jwiley84 can you or someone from the support team reproduce & investigate the scenario of creating a custom action that needs to be synchronous/blocking?

[2020-11-03 18:19] zxyanliu commented on #4623
Hi @tonyanziano
I think the best link for this action is this article: https://aka.ms/composer-telemetry

[2020-11-03 18:27] beyackle commented on #4631
Looks like the PR I have out for breadcrumbs is already fixing this.
![image](https://user-images.githubusercontent.com/61990921/98025918-303a0580-1dbf-11eb-9444-914af509c660.png)

[2020-11-03 18:28] tonyanziano commented on #4623
Thanks @zxyanliu !

[2020-11-03 18:29] beyackle commented on #4605
I'll take a look. I think it's a CSS problem.

[2020-11-03 18:29] zxyanliu commented on #4623
All the following learn more links are broken, I can fix them:

![image](https://user-images.githubusercontent.com/32497439/98026108-7d1ddc00-1dbf-11eb-9380-148f5e8e090b.png)

[2020-11-03 18:38] CezaryMarcjan commented on #3548
@HimajaKRNttData, please reopen if you're still facing this issue.

[2020-11-03 18:41] zxyanliu commented on #4623
@tonyanziano The fixes are in the [botbuilder-dotnet](https://github.com/microsoft/botbuilder-dotnet/tree/main/libraries/Microsoft.Bot.Schema) repo. Do you want me to fix them?

[2020-11-03 18:42] tonyanziano commented on #4623
@zxyanliu if you can that would be much appreciated. Otherwise we can assign someone to fix them.

[2020-11-03 18:43] zxyanliu commented on #4623
@tonyanziano It's a quick fix. I can help.

[2020-11-03 19:37] stevengum commented on #4634
If it doesn’t match one of the input actions they developer would need to write custom code, and would probably be better off with a TextInput or something similar if the bot is storing all responses for the prompt.

That said, I’m not sure @BeheraMadan’s above scenario depends on a non-matching input.

It seems more like a basic functionality issue in Adaptive SDKs or the Composer.

If it’s the S

[2020-11-03 19:46] dmvtech commented on #4634
@BeheraMadan There are a couple of approaches @BeheraMadan could do. One simple one is to follow up the choice with some sort of check. For example an if/else branch. Check for the value, then determine how to proceed from there. The better might approach be to use an adaptive expression and/or checking for value of `turn.lastresult`. The contains and coalesce prebuilt functions come to mind.

htt

[2020-11-03 20:38] dmvtech commented on #4634
Ok, I did get a workaround working by setting the `Default value` of the choice prompt to be `=this.value`

@BeheraMadan can you test and see if that works for you?

[2020-11-03 21:07] cwhitten commented on #4628
@a-b-r-o-w-n we need uischema for this component. Can you take a look?

[2020-11-03 21:11] cwhitten commented on #4644
@srinaath and I cannot reproduce this @zhixzhan

[2020-11-03 21:11] #4631 closed

[2020-11-03 21:13] v-kydela commented on #4593
@cwhitten - Perhaps I'm misunderstanding, but I am reading the issue as being about trying to keep a custom action from being blocking rather than trying to make a custom action blocking.

@nitewulf - Sorry for the confusion, but does your custom action need to be synchronous/blocking, or does it need to not be synchronous/blocking?

I want to make sure we're using the right terminology here. When

[2020-11-03 21:17] benbrown opened #4651 "Disabling a node causes a validation error and the bot cannot be started."
## Describe the bug

Disabling a node causes a validation error and the bot cannot be started.

http://g.recordit.co/5bcl5DM0iN.gif

![5bcl5DM0iN](https://user-images.githubusercontent.com/729873/98041600-d13cb680-1de7-11eb-9d4a-aa788ea783aa.gif)

## Version

nightly build

## Browser

- [x] Chrome

## OS

- [x] macOS
## To Reproduce

1. Create a dialog
2. insert a send activity as the first node

[2020-11-03 21:24] a-b-r-o-w-n commented on #4628
@cwhitten should we try to get this into the sdk release?

[2020-11-03 21:40] benbrown opened #4652 ""Change recognizer" button in error bar leads to strange/wrong place"
## Describe the bug

When a QnA Intent REcognized trigger is present in a dialog, but the dialog's recognizer is set to RegExp, a warning appears inside the trigger.  This warning includes a button that says "Change recognizer"  Clicking this button leads to the qna all up view, not the recognizer settings.

## Version

nov 3 nightly build

## Browser
- [x] Chrome

## OS

- [x] macOS

## To Reprod

[2020-11-03 21:56] dmvtech commented on #4560
Hi @thakursarvesh any questions before I close this one?

[2020-11-03 22:01] benbrown opened #4653 "The "Trigger phrases" field in a regular expression trigger is broken"
## Describe the bug

The field is always blank and cannot be used to update the value. As a result, once created, the regex trigger cannot be changed.

## Version

nov 3 nightly

## Browser
- [x] Chrome
## OS

- [x] macOS
## To Reproduce

Steps to reproduce the behavior:

1. Set recognizer to regular expression
2. create an intent trigger
3. navigate to the property view of the trigger

note that

[2020-11-03 22:58] sangwoohaan opened #4654 "Change the default type of the value field from object to text in Set a property, Set properties action."
![Screen Shot 2020-11-02 at 3 21 28 PM](https://user-images.githubusercontent.com/50963385/98049595-d815fa00-1de4-11eb-92fe-e2b72cfb53ee.png)

The default type of the value field in both Set a property, and Set properties is object. We want to change this to text as default.

[2020-11-03 22:59] sangwoohaan opened #4655 "Give a header to the enum fields"
![Screen Shot 2020-11-02 at 3 55 00 PM](https://user-images.githubusercontent.com/50963385/98049706-16131e00-1de5-11eb-89dc-fca2a56a39ee.png)

The enum fields don't have headers currently. We want them to have the text header.

[2020-11-03 23:19] zxyanliu opened #4656 "[Minor] Send an activity should be Update an activity action"
## Describe the bug

Select **Update activity** action from the **Manage properties** menu, the action will show as **Send an activity** action on both the properties panel and authoring canvas.

![image](https://user-images.githubusercontent.com/32497439/98051075-f03b4880-1de7-11eb-8798-dfb766be67f9.png)

![image](https://user-images.githubusercontent.com/32497439/98051111-03e6af00-1de8-11eb-91f4

[2020-11-04 00:03] cwhitten commented on #4628
we can try, but i doubt that they will take it.

[2020-11-04 00:10] dmvtech opened #4657 "Unable to rename any publishing profiles other than the first one"
## Describe the bug

After creating more than one publishing profile for a bot, only the first one can be renamed.

## Version
1.1.1.

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a simple bot in composer
2. Create a publishing profile
3. Create

[2020-11-04 00:55] zxyanliu opened #4658 "[Minor] Clicking through child dialog in a Begin a new dialog node navigates to empty"
## Describe the bug

If you create a child dialog and wire it up with the main dialog, clicking through the child dialog in the **Begin a new dialog** node navigates to nothing. (In 1.1.1 version, it navigates to the **BeginDialog** trigger of the child dialog)

## Version

[Electron 1.1.1-nightly.181088.77ad8e1](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.1.1-nigh

[2020-11-04 01:47] #4641 closed

[2020-11-04 01:58] luhan2017 commented on #4651
This is because the disable field is defined as stringExpression for Microsoft.SendActivity type, others are all defined as booleanExpression.
I will submit two PRs in both composer and sdk side.

[2020-11-04 02:38] feich-ms commented on #4627
There is a ticket here https://github.com/microsoft/botframework-cli/issues/1044 tracking the name conflict issue in bf luis build, but it's in R12 plan. After the issue fixed in bf-lu side and composer consume the new bf-lu package, this error will go away since luis application names with only case differences will be recognized as same app so it will update the existing app instead creating a n

[2020-11-04 02:46] boydc2014 commented on #4643
Can't repro. Close it for now

[2020-11-04 02:46] #4643 closed

[2020-11-04 03:10] lei9444 commented on #4644
@cwhitten @srinaath @zhixzhan I can reproduce it, I think it is the issue about
![test](https://user-images.githubusercontent.com/39758135/98064877-52e71f80-1e8e-11eb-8de9-7904508cd1a3.gif)
the notification panel cover the button component

[2020-11-04 03:14] zhixzhan commented on #4644
@lei9444 Yes, the key repro step is "let the notification panel auto dismiss, do not close it manually"

[2020-11-04 04:43] hibrenda opened #4659 "Inconsistencies on publish page when using PVA extension"
## Describe the bug

publish to pva error if add more triggers in main dialog. meanwhile I can not export to.zip for pva bot.
![image](https://user-images.githubusercontent.com/43408889/98069738-7912bc80-1e9a-11eb-9bb5-3d37065fb020.png)

And after the spin, the publish failed, no results showed on publish page and check for pva bot asset. It does not updat as well.
![image](https://user-images.git

[2020-11-04 05:01] #4378 closed

[2020-11-04 05:01] #4617 closed

[2020-11-04 05:49] Laxmi30 commented on #4587
Yes the user name and user email id, but if its possible to get complete user info then it will be good.

[2020-11-04 05:53] Laxmi30 commented on #4587
Thank you for your time. I hope the below I implemented is proper.
![image](https://user-images.githubusercontent.com/46951085/98074265-10bedd80-1e90-11eb-9103-91ac0b825757.png)

[2020-11-04 06:36] yeze322 commented on #4616
got it, WIP

[2020-11-04 06:45] BeheraMadan commented on #4634
Thanks above solution  working fine for me.

[2020-11-04 07:14] feich-ms opened #4663 "Luis prediction not working when published to regions out of westus"
## Describe the bug

Luis prediction doesn't work when publishing models to regions out of westus, e.g. westeurope. The luis publishing succeed, but the prediction keep failing due to prediction endpoint key not found.
## Version

Main branch

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

[2020-11-04 08:20] #4630 closed

[2020-11-04 08:40] #4644 closed

[2020-11-04 09:10] #4636 closed

[2020-11-04 09:16] luhan2017 commented on #4663
I've investigated this with Fei and we found that, composer does not use authoringRegion and region correctly in some places.
Here are the details:
We have two kind of luis services in composer: Authoring and Prediction. We should have following luis settings for the two services:
[code]

For local publish, if endpointKey is null or empty, we'll use the authoringKey as the endpointKey, at this tim

[2020-11-04 09:33] #4642 closed

[2020-11-04 11:17] #4629 closed

[2020-11-04 11:18] boydc2014 commented on #4639
I actually can't repro this.

[2020-11-04 12:04] liweitian commented on #4638
need to update this test case #4592

[2020-11-04 12:10] liweitian commented on #4639
It seems some old bots get influenced. For new created ones, they are all good.

[2020-11-04 12:52] nitewulf commented on #4593
@v-kydela To clarify.  I misspoke spoke incorrectly saying the UI is blocked.  Technically, it's not.  The UI thread is still accepting input.  It is responsive while the custom action is running on some other thread.

The problem is that the other thread running does not update the UI until the custom action finishes.  I'm assuming that everything running within a dialogs activity (message receiv

[2020-11-04 14:08] #4626 closed

[2020-11-04 14:43] #4637 closed

[2020-11-04 15:28] UmaPrelude commented on #4495
Hi,
When i try to open a project which is developed in previous version of composer in the composer 1.1.1. It still not showing the "allow interuption" property. Please help me to fix this.

[2020-11-04 15:45] #4635 closed

[2020-11-04 15:48] cwhitten commented on #4495
@UmaPrelude if you create a new BeginSkill action, do you see the allowInterruptions property?

[2020-11-04 16:05] #4634 closed

[2020-11-04 16:41] #4616 closed

[2020-11-04 17:12] #4597 closed

[2020-11-04 18:48] nitewulf commented on #4593
@v-kydela I'm not sure if there's a better way to handle the button click on an adaptive dialog.  I was just trying to emulate the work around from #3875.  "emit a custom event" actually doesn't sound like what I want to do.  I want to "handle a custom event". Clicking on my submit button already seems to "emit" an event which I added a handler activity that is responding to it.  calling emit at t

[2020-11-04 19:44] dmvtech commented on #4496
I am closing this issue as it is related to LUIS and not Composer. Feel free to reopen if you determine that is not the case.

[2020-11-04 19:44] #4496 closed

[2020-11-04 19:47] #4560 closed

[2020-11-04 19:48] dmvtech commented on #4563
I am closing this issue as it doesn't seem to be a blocking issue. Feel free to reopen or comment, if you still need to get this resolved.

[2020-11-04 19:48] #4563 closed

[2020-11-04 19:55] beyackle commented on #4606
I've verified that the PR I have in review fixes this bug as well.

[2020-11-04 20:08] dmvtech commented on #4587
That should be it. You could also use `expression` instead of `string` and supply `=turn.activity.from.name` if you wish (they're both equivalent).

Were you able to test? Did it work for you?

[2020-11-04 20:13] chrimc62 opened #4674 "Rename form schema extension to .form"
Currently it is form-dialog.  This is confusing because it is not a dialog--it is a JSON schema.  It is much clearer if we just call it '.form'.

[2020-11-04 20:45] chrimc62 opened #4676 "Generate forms should have a $schema that points to bots runtime schema"
The default $schema is runbot, but the generated assets need to point to the bots runtime schema.  You can supply the URL when you call the library.

[2020-11-04 20:46] EricDahlvang commented on #4593
Have you tried this outside of the Emulator?

[2020-11-04 21:58] #4621 closed

[2020-11-05 00:31] zxyanliu opened #4679 "Click Settings page shows "Data loading""
## Describe the bug

Create a new bot and select **Settings** from Composer menu. The Settings page shows Data loading.
The "Data loading" will disappear after clicking any settings (Bot Settings / Application Settings / ...) in the navigation.

## Version

Composer version: [v1.1.1-nightly.181539.5e9576e](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.1.1-nightly.181

[2020-11-05 00:40] zxyanliu opened #4680 "[Minor] User input "Show code" is absent"
## Describe the bug

Create a bot and define a LUIS intent with Trigger phrases.
Go to User Input page to edit the .lu files, cannot find "Show code".
"Show code" will be enabled and appear after selecting "Edit".

![image](https://user-images.githubusercontent.com/32497439/98183098-424d9e00-1ebc-11eb-8837-eec9aa01a811.png)

## Version

Composer version: [v1.1.1-nightly.181539.5e9576e](https://git

[2020-11-05 00:41] cwhitten commented on #4679
this is a duplicate of https://github.com/microsoft/BotFramework-Composer/issues/4639

[2020-11-05 00:41] #4679 closed

[2020-11-05 01:02] zxyanliu opened #4681 "[Custom action] Misordered using directive"
## Describe the bug

![image](https://user-images.githubusercontent.com/32497439/98184316-f2bca180-1ebe-11eb-9db1-9c588c87951e.png)

## Version

## Version

Composer version: [v1.1.1-nightly.181539.5e9576e](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.1.1-nightly.181539.5e9576e)

## Browser

- [x] Electron distribution

## OS

- [x] Windows

[2020-11-05 01:41] zxyanliu commented on #4623
The PR to fix this issue was merged. We can close this issue for now.
The bits will be available in Composer for 1.2 release.

[2020-11-05 01:41] #4623 closed

[2020-11-05 03:51] luhan2017 commented on #4409
@jpd21122012 , any update from your side? does the issue still exist？

[2020-11-05 03:54] luhan2017 commented on #4268
@jintu123 , any update from your side? do you still see this error?

[2020-11-05 03:58] #4011 closed

[2020-11-05 04:08] VanyLaw commented on #4657
Hi @dmvtech,  I can not reproduct that the first profile can be edit. In my site, all profiles's name can not be edit. and that situation was by design, because we use name as key to save all the publish history and status in server. If user rename during publishing, the history and status will be mess up.

[2020-11-05 04:10] jpd21122012 commented on #4409
The API is saying the same, the issue is still alive

[2020-11-05 04:16] luhan2017 commented on #4091
@soappp ， the customer helped verify the proxy setting worked for luis publish, but we still have some issue when retrieve the azure publish status, still working with them, please let me know if you want to try out our private exe, since it will take some time for the PR.

[2020-11-05 04:33] UmaPrelude commented on #4495
No Chris, I don't see even then.

[2020-11-05 04:55] soappp commented on #4091
@luhan2017 I'm sorry I didn't notice your previous mention.
Thank you very much for your work and kind suggestion.
I'm not in a hurry about this issue, so I think I can wait until this issue is officially fixed.

[2020-11-05 04:59] #4680 closed

[2020-11-05 05:00] zxyanliu commented on #4680
This will be captured in the doc.

[2020-11-05 05:18] feich-ms commented on #4627
Closed this issue since luis build has been fixed https://github.com/microsoft/botframework-cli/pull/1045.

[2020-11-05 05:18] #4627 closed

[2020-11-05 05:38] #4681 closed

[2020-11-05 06:01] zxyanliu commented on #4528
FYI. @luhan2017 and @yeze322 are working on some scripts to make this process easier.

[2020-11-05 06:46] Laxmi30 commented on #4587
No its not working on emulator its giving error.

![image](https://user-images.githubusercontent.com/46951085/98206859-b04ba100-1f60-11eb-9607-62bb924a3af1.png)

[2020-11-05 07:43] zhixzhan commented on #4266
Tracked & fixed in CLI via https://github.com/microsoft/botframework-cli/issues/989
LU package update in composer  via #4610

[2020-11-05 07:43] #4266 closed

[2020-11-05 08:16] #4663 closed

[2020-11-05 08:33] boydc2014 commented on #4657
I also can't repro this, so taking down the rc and p0 label for now, until we hear from customer.

[2020-11-05 08:38] liweitian commented on #4633
![a](https://user-images.githubusercontent.com/24380525/98217134-07636d00-1f85-11eb-8640-4aeae297472b.gif)
LGTM. Does anyone else feel it laggy?

[2020-11-05 08:39] nitroin commented on #4528
That's great! Thank you!

[2020-11-05 08:54] #4656 closed

[2020-11-05 09:18] Danieladu commented on #4262
Hi @marktab. Sorry for the blocking. This is indeed a LG bug. I have a PR to fix it in dotnet library and would have a fix in js library soon.  Before the update is merged into main and Composer, I suggest that you can add a newline after "```" to skip this issue as the workaround. Thanks.

[2020-11-05 09:21] #4653 closed

[2020-11-05 10:12] luhan2017 commented on #4409
@jpd21122012 , this should be luis issue, did you submit a ICM ticket to luis team? https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request.

[2020-11-05 10:31] cxbuilders commented on #3379
@zidaneymar Thanks for the sample that's appreciated. I have used it to trigger custom events called PreActivity & PostActivity so I am able to implement session logic etc there myself in Composer.

@luhan2017  As mentioned, having the PreActivity & PostActivity implemented in Compsoer OOTB would be really useful, as I prob would be using it for the majority of the bots. Should I create a separate

[2020-11-05 10:49] feich-ms commented on #4458
Synced with @gbelenky offline, he can make it with his Mac or VM but failed with his window device. I'm not able to reproduce it with my window device(both work station and laptop) and other windows devices from colleagues. I also tried a VM in azure that located in west europe, still no reproducing. It seems this issue only happened on specific devices. If we have a chance to reproduce it with so

[2020-11-05 12:10] #4639 closed

[2020-11-05 13:25] nitewulf commented on #4593
No I haven't yet.  I tried publishing to Azure but that process is not very user friendly.  I'll try again.  Really looking forward to the planned update this month to PVA that will easily integrate with skills built in Composer.

[2020-11-05 14:46] luhan2017 commented on #3379
@cxbuilders Sure, please just create a feature request for dotnet sdk https://github.com/microsoft/botbuilder-dotnet/tree/main

[2020-11-05 14:46] #3379 closed

[2020-11-05 17:18] benbrown opened #4689 "Provisioning: When a failure occurs, capture and persist the log output"
## Is your feature request related to a problem? Please describe.

The provisioning process takes a long time and produces a large amount of log output. Currently the output is displayed as notifications. However, since notifications are ephemeral, important

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-11-05 17:21] benbrown opened #4690 "Provisioning: Capture and persist the log output"
## Is your feature request related to a problem? Please describe.

The provisioning process takes a long time and produces a large amount of log output. Currently the output is displayed as notifications. However, since notifications are ephemeral, important information can be lost. This is particularly true when an error occurs.

## Describe the solution you'd like

P0: The provisioning process s

[2020-11-05 17:22] tonyanziano opened #4691 "[Electron] MacOS Signing to Enable OneAuth"
TODO:

- [x] Break apart entitlements file into separate ones that include only the entitlements they will be using (One with keychain access, one without)

- [x] Build script that embeds the right provisioning profiles (`embedded.provisionprofile`) inside of all the bundles and at the root

- [x] Build script that locally signs all the bundles in the correct order (`/Frameworks/` first and then m

[2020-11-05 17:25] benbrown opened #4692 "Provisioning: implement ability to toggle optional resources before creation"
## Is your feature request related to a problem? Please describe.

When creating an environment, there are some items that are required and some that are optional. This has historically been true in the command line tools and ARM templates.

Currently, the provisioning system defines these items as optional, but does not yet provide an interface for toggling them on or off before creation begins.

[2020-11-05 17:32] benbrown opened #4693 "Provisioning: Offer separate toggle and/or notification about luis and qna region"
## Is your feature request related to a problem? Please describe.

LUIS and QNA have a more restricted list of regions they are available in.  Currently, if the user selects a region tht is not supported, the provisioning tool will default to the `westus` region.

We should allow the user to select this region separately.

## Describe the solution you'd like

Offer a separate dropdown for LUIS/QNA

[2020-11-05 17:36] cwhitten commented on #4689
Closing as a dupe

[2020-11-05 17:36] #4689 closed

[2020-11-05 17:52] v-kydela commented on #4593
@nitewulf - There's a lot going on with this issue, and I believe you can help us narrow down the cause of the problem. Take Adaptive Cards out of the equation and take the message-received handler out of the equation as well. Just put three steps in an ordinary unknown-intent handler:

1. Send a message
1. Perform some long-running task
1. Send another message

My prediction is that you will stil

[2020-11-05 18:21] jpd21122012 commented on #4409
I don't have the tech support in my subscription

[2020-11-05 19:36] #4371 closed

[2020-11-05 19:36] #4567 closed

[2020-11-05 20:17] #4565 closed

[2020-11-05 20:17] #4575 closed

[2020-11-05 20:17] #4606 closed

[2020-11-05 20:17] #4632 closed

[2020-11-05 20:17] #4658 closed

[2020-11-05 20:19] EricDahlvang commented on #4593
I think you are correct @v-kydela

Also, @nitewulf  it is not necessary to publish the bot to try channels other than Emulator.  Using proxy software such as ngrok: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-debug-channel-ngrok

Hope this helps!

[2020-11-05 20:59] cdonke commented on #4216
@GPHNKN sorry.. I haven't tested it in a long time.
@cxbuilders tks for the update.

Christopher replied on Sep ([here](https://github.com/microsoft/BotFramework-Composer/issues/4216#issuecomment-696287121)) saying that it was on another package... by now, it should be solved.

I'll test it again and close the issue if solved.

[2020-11-05 21:22] #4654 closed

[2020-11-05 21:35] benbrown commented on #4693
We discussed this, and @JaskeeratBedi-cmk will provide some updated designs.

The proposed design is to add a checkmark style toggle to each item in the list on the "review" page.

[2020-11-05 21:37] benbrown commented on #4692
The proposed solution here is that IF the region that is selected does not support LUIS, an additional dropdown will appear below it with the LUIS/QNA-safe options and a message indicating that LUIS/QNA is not supported in the primary region.

[2020-11-05 22:14] emivers8 opened #4695 "Ibiza bot templates aren't compatible with Composer"
## Describe the bug

Currently when I create a web app bot in Azure, I choose between echo bot or basic bot templates and then I'm given bot files to download. However, I can't open them in Composer because these templates are not declarative. (This means it's also misleading to try to drive users to Composer from the resource page in Ibiza, which we would like to do.)

## Expected behavior

Provi

[2020-11-05 22:21] benbrown commented on #4695
Another thing to consider --

Once a bot is created via Ibiza, the portal could provide a downloadable or copy-pasteable "publishing profile" that can easily be imported to ANY COMPOSER PROJECT.  This would allow that project to publish back to the pre-created host, replacing whatever content was originally there.

[2020-11-05 22:24] benbrown commented on #4695
Just a for example here, the portal would provide at a minimum something like:

[code]

These are already known values in the portal.

In addition, it could provide the app insights if already created, luis, cosmos, etc - any of the key resources we use.

[2020-11-05 23:05] SantiagoMadeira commented on #4458
hi,

I think I found a common factor between this issue and another one I reported #4584

Was using PT-BR as the defaultLanguage in Composer settings, and whenever I use that configuration I have these errors. When changing to defaultLanguage = 'en-us' everything works fine!

The final test I did was:

1. configure Composer with only defaultLanguage = 'en-us', both issues work well.
2. added PT-BR

[2020-11-05 23:05] SantiagoMadeira commented on #4584
hi,

I think I found a common factor between this issue and another one I reported #4458

Was using PT-BR as the defaultLanguage in Composer settings, and whenever I use that configuration I have these errors. When changing to defaultLanguage = 'en-us' everything works fine!

The final test I did was:

1. configure Composer with only defaultLanguage = 'en-us', both issues work well.
2. added PT-BR

[2020-11-05 23:35] zxyanliu opened #4696 "Update skills manifest versions"
## Describe the bug

![image](https://user-images.githubusercontent.com/32497439/98308067-142f9300-1f7c-11eb-8813-eb898ef05598.png)

`"$schema": "https://schemas.botframework.com/schemas/skills/skill-manifest-2.1.preview-1.json"`
should be replaced with
`$schema": https://schemas.botframework.com/schemas/skills/v2.1/skill-manifest.json`

## Version

[v1.1.1-nightly.182095.d5b2950](https://github.c

[2020-11-06 00:02] #3884 closed

[2020-11-06 00:51] dmvtech commented on #4159
@JonasBergholz I'm closing this. If the solution wasn't the same for you, please let us know.

[2020-11-06 00:51] #4159 closed

[2020-11-06 00:54] dmvtech commented on #4495
@UmaPrelude I assume you made sure to scroll down far enough. If you create a brand new bot in Composer, and add Connect to a Skill action, do you see it then?

[2020-11-06 00:55] dmvtech commented on #4587
Ok, let me test a couple of things.

[2020-11-06 01:09] tonyanziano commented on #4659
Brenda reported that the publish history / status is flakey and sometimes either disappears altogether or spins indefinitely.

[2020-11-06 02:23] yeze322 commented on #4633
@liweitian Try creating at least 10 bot projects under your current folder and the delay will be more obvious

[2020-11-06 02:28] #4620 closed

[2020-11-06 04:37] UmaPrelude commented on #4495
Yes, i scrolled till end, but i couldn't see in the old project. But is showing in new project.

[2020-11-06 07:03] anhnh305 commented on #4480
@v-kydela Well currently I'm still waiting for the update of Composer to see if it solve my issue or not. But I'm still not very clear about the third method you gave me. Because:
+ I located the MultiLanguageRecognizer file which is my botname.lu.dialog inside the generated folder and it's show like this:
{
    "$kind": "Microsoft.MultiLanguageRecognizer",
    "id": "LUIS_assisty",
    "recognize

[2020-11-06 07:10] philip-mc commented on #4613
Hey,

Thanks for responding.........

So the LG template is no more complex that the example project bar a couple of dynamic bits of content (note the carousel creates absolutely fine all I am trying to do is build the string for the attachments as I do not always have 5 results in the search coming back from our  website) for example:

![image](https://user-images.githubusercontent.com/73343537/9

[2020-11-06 08:10] #4638 closed

[2020-11-06 08:45] luhan2017 opened #4703 "Publish qna error"
## Describe the bug

- Create a luis sample
- add a kb on the root dialog
- publish the bot

![image](https://user-images.githubusercontent.com/32191031/98345167-41994100-204f-11eb-8fce-16c3d1de0ec4.png)

After this failure, this error pop up every time when kick off a new deployment, click OK could ignore it and finish the publish, but it is annoying.

![image](https://user-images.githubuserconte

[2020-11-06 08:53] #4652 closed

[2020-11-06 09:04] feich-ms commented on #4458
Hi @SantiagoMadeira, what is the exact error message in your above steps? Is it related with the error `reason: connect ETIMEDOUT 40.112.254.71:443` this issue is tracking?

Besides, I followed your steps above to try composer, but didn't hit any exceptions when publishing and testing with emulator.

For the luis api call timeout issue, I think we will include luis team for further investigation.

[2020-11-06 09:21] zidaneymar opened #4704 "publishing issue, temporary folder can't be deleted if any exception happens"
## Describe the bug
If exception happens in publishing thread, the temporary archived code.zip can't be deleted any more.
If try to execute another publishing instance, since the code.zip couldn't be deleted, composer will throw an exception, but this exception will not be caught by azurePublish plugin, and the publishing status won't be updated, the publishing page would get stuck at loading.

##

[2020-11-06 09:22] zidaneymar commented on #4704
@VanyLaw filed an issue to track this problem.

[2020-11-06 09:39] #4651 closed

[2020-11-06 10:17] lei9444 opened #4705 "the generated recognizer files is messy when the dialog name has the same prefix"
## Describe the bug
![image](https://user-images.githubusercontent.com/39758135/98354788-284ac180-205c-11eb-9008-b31a609359ec.png)

The a.en-us.lu is empty,  so we can't generate the a.lu.dialog for this dialog.

## Version

main branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

[2020-11-06 10:43] VanyLaw opened #4706 "multi publish with the same profile will still loading"
## Describe the bug

![image](https://user-images.githubusercontent.com/21174180/98357141-b8d6d100-205f-11eb-824b-6f1cc94aa745.png)

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See

[2020-11-06 10:54] garypretty commented on #4156
Hi @ninggao.  Thanks for the update here.  The issue appears to be the fact that you have *logPersonalInformation* set to false within Composer, which will exclude the user Id from the telemetry (we exclude user Id's, names and activity text if the setting is set to false).  This will mean that the user count is affected.  If you enable this flag, you should see a change in the telemetry.

[2020-11-06 11:18] #4705 closed

[2020-11-06 12:13] garypretty commented on #4582
@cwhitten Any obvious change I need to make based on the above output?

[2020-11-06 12:14] thakursarvesh opened #4710 "Published from composer but not working on azure webchat"
I have published my bot from composer and got success message. Now when I open azure app and try to run bot in webchat it doesn't reply anything. When I checked logs then also I can't see any publish log on azure app. When I go to channels, it shows error in webchat as unable to send message  and it is internal server error.

[2020-11-06 12:47] #4703 closed

[2020-11-06 13:36] nitewulf commented on #4593
@v-kydela I started an empty project and did as you suggested.  I also then published to azure to test in the Web Chat.  Your prediction was correct.  I still experienced a delay in seeing responses from the bot until the custom action (just an await Task.Delay for a few seconds) finished.  The Web Chat test in azure worked as expected.

The goal of this AddUser bot was to make it a skill and call

[2020-11-06 13:56] #4633 closed

[2020-11-06 14:31] cxbuilders opened #4711 "Temp memory scope"
I use Composer in a modular way as much as possible. This means that api calls etc are in one dialog with error handling and error messaging all within that dialog. Also regular conversation style conversations are modular and within a turn multiple dialogs could be called through events. This makes working with Composer much easier and managing dialogs becomes easier as well.

As a result of that

[2020-11-06 15:06] cxbuilders commented on #3379
https://github.com/microsoft/botbuilder-dotnet/issues/4928

[2020-11-06 15:32] #4657 closed

[2020-11-06 16:04] #4628 closed

[2020-11-06 16:05] SantiagoMadeira commented on #4458
Hi @feich-ms,

most of the time the error is **404 (Not Found)**
also happens but less frequently **401 (PermissionDenied)** and **403 (Forbidden)**

[2020-11-06 17:08] zxyanliu commented on #4710
Which version of Composer did you use?
The error was unable to be reproduced with the main branch as of Nov 5th.
Sometimes you need to wait for a while for the connection to be established.

### In Composer

![image](https://user-images.githubusercontent.com/32497439/98394349-771e3a00-200f-11eb-9f73-abbc9cc8caf7.png)

### In WebChat

![image](https://user-images.githubusercontent.com/32497439/9839

[2020-11-06 17:53] tonyanziano commented on #4691
#4677 will contain the build system updates

[2020-11-06 18:20] v-kydela commented on #4593
@nitewulf - Yes, a skill built in Composer would still be subject to the ~15 second timeout. If you're using skills to get around the limitations of Composer, building those skills with Composer would defeat the purpose.

If you've already ejected the runtime in order to make your custom actions, you can modify your custom actions so that they offload their tasks to other threads and your bot can

[2020-11-06 18:21] #4691 closed

[2020-11-06 18:23] cwhitten opened #4713 "Changes to support keychain access in osx catalina development"
Needs expansion

- [ ] (Dev env) Setup dummy Xcode app to download latest Microsoft wildcard provision profile

- [ ] (Dev env) Script to locally sign Electron / native addons for development

[2020-11-06 18:29] nitewulf commented on #4593
@v-kydela Thanks Kyle.  I'm for sure going to learn more about tunneling for debugging these bad boys.  And I'll raise an issue for the emulator since this has nothing to do with composer.  Not a big deal I guess and I would have realized that once I got the bot published and deployed to an actual channel.  Sorry.

[2020-11-06 18:29] #4593 closed

[2020-11-06 20:42] v-kydela commented on #4480
@anhnh305 - I've just confirmed that botname.en-us will not work and you need to use botname.en-us.lu, the same format that you saw in the MultiLanguageRecognizer. Does this resolve your issue?

The multi-language recognizer fix is already in the Composer source code, so you should be fine if you use the latest Composer code by building it yourself according to the instructions. The Electron build

[2020-11-07 00:41] JaskeeratBedi-cmk commented on #4693
- **For Region** Design presented 2 options ( See attached screenshot)

![In progress _ Region](https://user-images.githubusercontent.com/67944302/98426585-3a256800-204e-11eb-999b-977338414a00.jpg)

@benbrown @emivers8 @JaskeeratBedi-cmk evaluated both the options and agreed that while Solution 1 offers most flexibility it may not work for all user archetypes. Solution 2 maybe more suited for this

[2020-11-07 02:30] jpd21122012 commented on #4496
@philip-mc you were able to contact support?

[2020-11-08 10:57] anhnh305 commented on #4480
@v-kydela I've fixed the issue by changing the recognizer value to botname.en-us.lu. Thank you so much for the past few weeks has stuck with my problem.

[2020-11-08 11:18] Laktos opened #4715 "Error Processing Schema - Custom Action"
## Describe the bug
Composer presents "Error Processing Schema" with the error message "Definition not found for
Microsoft.Ask/properties/activity/oneOf/1/properties/membersAdded/items"
This message is displayed on each switch to the left side menu "Design", "Bot Responses", "User Input" and "QnA".
The message is displayed on the first open of each of those menues after startup of composer, but up

[2020-11-08 11:19] Laktos commented on #4715
Worth mentioning is that I have tried by replacing the $schema to https://schemas.botframework.com/schemas/component/v1.0/component.schema on all places where it previously was "$schema": "https://raw.githubusercontent.com/microsoft/botframework-sdk/master/schemas/component/component.schema"

[2020-11-08 19:29] soutchilin opened #4716 "Cannot deployed bot run from Azure"
## Describe the bug
I've used https://docs.microsoft.com/en-us/composer/tutorial/tutorial-create-bot tutorial and configured all chapters 0-7 to work locally (and in the last one with LUIS).
I've used the latest Bot Composer.

Then I deployed as described in https://docs.microsoft.com/en-us/composer/how-to-publish-bot.
I did it utilizing Azure Functions Bot deployment template, creating everything

[2020-11-08 23:24] EricDahlvang commented on #4593
This experimental sample might be helpful in this scenario:

https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/immediate-accept-adapter/csharp_dotnetcore

[2020-11-09 02:42] #4605 closed

[2020-11-09 02:42] #4607 closed

[2020-11-09 03:33] feich-ms commented on #4458
@SantiagoMadeira, so they are different exceptions I think. For this ticket, it's reporting error `reason: connect ETIMEDOUT 40.112.254.71:443` and for your issues of above steps, could you please open another ticket to track? And we can provide supports for that case there.

[2020-11-09 05:44] #4501 closed

[2020-11-09 05:51] knightmeister commented on #4403
Thanks @v-kydela @cwhitten, I was unable to get this working based on the syntax above using language generation files but I get it working using settings, which is fine for me.

[2020-11-09 07:27] hibrenda opened #4721 "skillConfiguration is missing if bot created in 1.1.1 and opened in latest 1.2"
## Describe the bug

skillConfiguration is missing if bot created in 1.1.1 and opened in latest 1.2

## Version

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

##

[2020-11-09 08:10] UmaPrelude opened #4723 "Pass bot settings to custom action"
Hi,

I have a custom action/dialog for sending email.
I want to have something in appsettings like smtp details and use it in custom action dialog.
Please help me to pass iconfiguration to custom dialog. or any other solution.

Regards,
Umprel

[2020-11-09 09:41] #4721 closed

[2020-11-09 09:45] luhan2017 commented on #4723
@UmaPrelude , you can just use the settings scope memory. for example "settings.yourSettings".
Please refer to the custom action sample:

 StringExpression yourSettings = "settings.yoursettings"
 var yourSettingsValue = yourSettings.GetValue(dc.State);

[2020-11-09 09:53] luhan2017 commented on #4716
It will be very helpful if we can have a meeting with screensharing.  I am in Beijing, UTC+8, please let me know when do you prefer and your email address. @soutchilin

[2020-11-09 13:05] philip-mc commented on #4496
yes, sorry for the long delay we have run into further errors non-related to this direct issue. Contacting the luis team (we had to upgrade to development help and support to send a ticket), they proceeded to trace our attempts to gather a token and it turns out all tokens where trying to generate through an old legacy subscription despite setting the subscription!

Upon further investigation it s

[2020-11-09 14:12] UmaPrelude commented on #4723
Thanks for your response Luhan.
I got the values from custom action dialog context.

 var botSettings = dc.Parent.State.GetValue<BotSettings>("settings");

[2020-11-09 14:12] #4723 closed

[2020-11-09 14:22] soutchilin commented on #4716
Hi Lu,

Cool, let's have a session on 11. November at UTC 8am.

Regards,
Alexander
________________________________
Von: Lu Han <notifications@github.com>
Gesendet: Montag, 9. November 2020 10:53
An: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: soutchilin <fbsouSh@outlook.de>; Mention <mention@noreply.github.com>
Betreff: Re: [microsoft/BotFramework-Composer] Cann

[2020-11-09 14:40] vivekkshankar opened #4726 "Composer nav icon updates and UX alignment"
This issue has two parts,
1. **Icon updates**: The UX team has been working with PVA to arrive at common icons for similar concepts in PVA and Composer.
This requires us to make icon changes at our end.

2. **Hover state changes** : There are few fit and finish issues such as hover states for rows in the nav and alignment that are not per spec and need another round of fit and finish.

![image](ht

[2020-11-09 14:42] vivekkshankar commented on #4726
@mareekuh FYI I have created this issue for icon and fit and finish updates requires for composer nav.

[2020-11-09 15:22] neetgupta7 opened #4727 "How to add Content Middleware to a Composer bot?"

[2020-11-09 17:06] JaskeeratBedi-cmk commented on #4692
Design update for Review + Create modal: ![provisioning_review   create](https://user-images.githubusercontent.com/67944302/98572724-cc09bc80-226a-11eb-90cb-ffcd029c9a01.jpg)

[2020-11-09 17:32] dmvtech commented on #4727
Hello @neetgupta7

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

The only middleware supported in Composer

[2020-11-09 17:32] #4727 closed

[2020-11-09 18:37] kdubious opened #4728 "Sluggish performance after running for 30 minutes or more"
## Describe the bug

I've been using Bot Composer for 30+ minutes, and now the UI is very slow. Sometimes shows "not responding"

Task Manager:
![image](https://user-images.githubusercontent.com/9756166/98581970-4862c680-2290-11eb-80df-464b10d24e3d.png)

## Version
v1.1.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
-

[2020-11-09 18:59] pavolum opened #4729 "Update Conversation Core remote template reference to public version"

[2020-11-09 19:00] pavolum opened #4731 "Add 'no preview feature' text in app setting if no visible feature flags are available"

[2020-11-09 19:14] cwhitten commented on #4715
@Laktos what version of the botframework cli are you using?

[code]

[2020-11-09 19:24] v-kydela commented on #4403
@knightmeister - Thanks for following up. I will close this as resolved.

[2020-11-09 19:24] #4403 closed

[2020-11-09 21:23] #4731 closed

[2020-11-09 22:46] #4655 closed

[2020-11-10 00:11] GeoffCoxMSFT opened #4737 "Localized languages should appear in dropdown in settings"
Per the localization pipeline into 17 Azure languages.

[2020-11-10 01:43] luhan2017 commented on #4716
@soutchilin , meeting request sent, please confirm if you see that.

[2020-11-10 07:56] alanlong9278 opened #4742 "Drag selection mess when zoom in/out"
Drag selection mess when zoom in/out In visual Editor.
Like the gif show, the drag selection are magnified when zoom in.

![dragSelectionMess](https://user-images.githubusercontent.com/5860999/98645502-0a87a000-236d-11eb-894b-6d6c53363e77.gif)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## T

[2020-11-10 08:56] Laktos commented on #4715
I had an update available now but this is the version I had when I wrote the issue.
Update available                                                                                                             Run                                                                                                                npm i -g @microsoft/botframework-cli

[2020-11-10 09:00] Laktos commented on #4715
Still the same error message when updated. I also have some weird bugs when using conditionals, seems like I can't compare strings in some cases, but in other cases I can. Haven't figured out what sets the cases apart.

[2020-11-10 16:22] drfbwilliams commented on #4409
Im also seeing this issue - I do not have a LUIS service and just trying to deploy an echo test bot to an existing service provision in Azure

To clarify the "hostname" property - should this just be the webapp name or the entire endpoint?

Many thanks

[2020-11-10 16:49] drfbwilliams opened #4746 "Publish to Azure Web App - never completes"
## Describe the bug

With a stripped down publishing profile, the composer publish never completes. Status continues circling with a message of Accepted for publishing.

See Log - only shows the message "Log Output" - nothing else

## Version

Release: 1.1.1

## Browser

- [ x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ x] Windows
- [ ] Ubuntu

[2020-11-10 16:53] Laktos commented on #4715
Still get the same message. I've also noticed a problem with conditionals based on User Input (Confirm), the result, stored as a variable, can't be used for conditionals. I have no problems using User Input multi-choice in the same manner as I'd use confirm.

[2020-11-10 17:38] cwhitten commented on #4695
We will follow the same mechanisms that are utilized when going from PVA -> Composer

[2020-11-10 17:48] JaskeeratBedi-cmk opened #4748 "As a user, I want a consistent experience between the top menu- & my action bars"
From: User research Oct 2020
Area: Authoring
Designer: Jaskeerat

[2020-11-10 18:44] dmvtech commented on #4495
Hi @UmaPrelude I assume you have exported the runtime. You will need to update the runtime to one of the newer packages (4.11 was released yesterday), update the schema. Optionally if you don't need the exported/custom runtime, you can remove that or create a new bot and use your existing declarative files (.dialog, .lg, etc) or portions of them.

[2020-11-10 19:16] sgellock commented on #4157
@gabog can you drive this while Carlos is out?

[2020-11-10 19:28] srinaath commented on #4301
#4498  closes this ticket

[2020-11-10 19:28] #4301 closed

[2020-11-10 21:24] clearab commented on #1003
Closing this, this work is being tracked as part of the component model.

[2020-11-10 21:24] #1003 closed

[2020-11-10 21:37] soutchilin commented on #4716
Thanks, I confirm.

Alexander
________________________________
Von: Lu Han <notifications@github.com>
Gesendet: Dienstag, 10. November 2020 02:43
An: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: soutchilin <fbsouSh@outlook.de>; Mention <mention@noreply.github.com>
Betreff: Re: [microsoft/BotFramework-Composer] Cannot deployed bot run from Azure (#4716)

@soutchili

[2020-11-10 21:46] a-b-r-o-w-n opened #4750 "Cannot load designer if $designer field undefined in dialog data"
https://github.com/microsoft/BotFramework-Composer/blob/0ab4c79072642703565bc306a5a859a54f1152b1/Composer/packages/client/src/pages/design/DesignPage.tsx#L235

[2020-11-10 22:16] anusharavindrar commented on #4584
Adding @feich-ms for pointers

[2020-11-10 22:32] benbrown commented on #4693
@VanyLaw Please implement "solution 1" as pictured above.

If user selects a region that is not supported by luis and/or qna, offer the option to select from the valid options.

[2020-11-10 22:34] benbrown commented on #4692
@VanyLaw  Please implement the toggles on the "Review/create" page as seen above.

Do not change the way the category generation works - just add the appropriate toggle when an item is optional.  they should all default to ON, but optional items can be turned OFF.  Then, only items that are ON will be created.

Let me know if you have any questions.

[2020-11-10 22:52] srinaath opened #4753 "Navigation is broken when clicked on a skill"
Create a root bot. Add two skills to it.
Click on the skill in the Project tree. The url needs to be bot/rootBotId/skill/{skillId} instead it always routes to the root bot
![navigation-broken](https://user-images.githubusercontent.com/13004779/98743057-4e29dc00-2364-11eb-908c-13b5730e47cd.gif)

[2020-11-10 22:57] #4737 closed

[2020-11-10 23:02] dmvtech commented on #4728
Hi @kdubious Thanks for reporting. Currently looking into this. I am unable to reproduce so far.

A few questions:

- This is just with Composer open, no bot loaded/running correct?
- If not, does it behave any differently depending on the bot you have open/loaded? (close Composer and reopen another bot after, as a test)

[2020-11-10 23:38] dmvtech commented on #4728
@kdubious

_If possible_, I'd be interested in seeing the memory leak over time. We can do this by looking at Performance Monitor logs.

If you're up for this, here are the steps:

- Save [this template](https://raw.githubusercontent.com/dmvtech/randomstuff/master/composer_memory_perfmon.xml) to your machine.
- Open perfmon (start->run->_perfmon_)
- Data Collector Sets
- New Data Collector Set
- G

[2020-11-10 23:39] #4750 closed

[2020-11-10 23:41] kdubious commented on #4728
@dmvtech It's running

[2020-11-10 23:42] kdubious commented on #4728
I do have / have had a bot loaded when this happens. (demo Echo Bot)

[2020-11-11 00:13] zxyanliu commented on #4746
The error **was not reproduced** with an EchoBot created using the [main branch build](https://github.com/microsoft/BotFramework-Composer) as of Nov 10, 2020.

![image](https://user-images.githubusercontent.com/32497439/98748898-7965f880-236f-11eb-8cfe-589b684cc4d4.png)

**Tested in WebChat in Azure:**

![image](https://user-images.githubusercontent.com/32497439/98748930-8c78c880-236f-11eb-866f-ae

[2020-11-11 00:19] #4729 closed

[2020-11-11 00:59] drfbwilliams commented on #4746
Can  you please confirm the details of the publish config file as that appears to be the issue.

[2020-11-11 03:22] kdubious commented on #4728
[perf.zip](https://github.com/microsoft/BotFramework-Composer/files/5521535/perf.zip)

@dmvtech : Here are 2 runs, one with a fresh composer, and the second after it had been running for a few hours.

[2020-11-11 03:23] Danieladu commented on #4262
This issue has been fixed on SDK side. It supposed to work when update LG version in Composer to the latest.

[2020-11-11 03:39] feich-ms commented on #4584
Hi @SantiagoMadeira, from my observations, there are some delays for the hits data in luis.ai portal even for local tests. Can you verify again that the hit counts is still 0 after a period of time?

[2020-11-11 05:32] drfbwilliams commented on #4746
@cwhitten - I am trying to muster some positive review here for you, but I am struggling due to the issues I face with the solution publish function.

With respect to Composer, I had created the same type of solution several years ago in WPF called AIStudio. Same workflows, same concepts, interruptions, rest calls etc - so for the task of creating fundamentally simple chatbots and script line conv

[2020-11-11 07:51] zxyanliu commented on #4746
Hi @drfbwilliams thanks for your patience.

* The error was not reproduced when I tested publishing a bot with newly provisioned Azure resources (using scripts).
* The error was reproduced when I tested publishing a bot to existing Azure resources (manually created).

  ![MicrosoftTeams-image (16)](https://user-images.githubusercontent.com/32497439/98783852-0ed4ad00-23af-11eb-9879-e1749767d96a.png

[2020-11-11 09:00] neetgupta7 opened #4757 "Unable to publish the bot"
## Describe the bug
Bot has been built using LUIS and QnA maker but when i try to publish it throws the error.
400 - {"error":{"code":"BadArgument","message":"Failed to parse azure account information object object."}}

## Version
1.1.1

## OS
- Windows

## Screenshots
![image](https://user-images.githubusercontent.com/28854156/98790645-08cfe200-242a-11eb-96f2-714910c690dd.png)
![image](https://us

[2020-11-11 10:25] cxbuilders opened #4758 "Ability to Copy / Paste between bots"
This used to work but does not anymore, and that has quite an impact on my workflow I have to say. Not being able to Copy from Bot A and past to Bot B in two separate tabs is a huge miss now..

[2020-11-11 10:53] cxbuilders opened #4759 "Ability to set text properties of OAuth Login using LG"
Since we export all language from a bot to be translated to another one in a single file (common.lg), we want to have all language used in the bot coming from that file as well. This includes the Text & Title properties of the OAuth Login. Currently it is not possible to set these properties using LG, so the bot has an English Oauth card for now. Ideally the Text & Title could just be set like the

[2020-11-11 13:40] BeheraMadan opened #4761 "Implementing a for loop scenario"
Hi,

We are providing a multiple input choice action prompt to the user for selecting an option. After user select one of the option from the list we are asking for confirmation whether the option selected is correct or not. If user says no we want to again display the original  multiple input choice action prompt to the user for selecting an option. This can happen multiple time. How can we imple

[2020-11-11 14:30] drfbwilliams commented on #4746
@zxyanliu thanks for your response.

In reading your results, it does not appear to be viable to have to rebuild a new bot every time this happens. Or are you stating that the existing bot project must be "rebuilt"?

As per the original comments, can you please confirm or provide a sample of the field values for those of us who have a resource group not named with -dev as well as a web bot app tha

[2020-11-11 17:18] tannguyen3 opened #4763 "Publish bot by CLI"
## Describe the bug

I'm following the document at https://github.com/microsoft/BotFramework-Composer/blob/v1.1.1/docs/archived%20docs/how-to-publish-bot.md
But on both Web and Desktop version 1.1.1 there is no way I can get the command as shown in the document.

## Version

1.1.1

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x]

[2020-11-11 18:39] Arjun-Jakka-Sridhar commented on #1877
Hi @supratikchat,
did your problem resolved? Because, even I was also facing the same issue as yours. If you have come up with a solution please write me back or please mail me arjunjakka1998@gmail.com

[2020-11-11 19:00] tdurnford opened #4765 "[Telemetry] Add Application Insights telemetry routes, controllers, and service to the server"
## Description
We need to add two routes to the server's api: `/telemetry/trackEvent` and `/telemetry/pageView`. The payloads sent to these routes will be forwarded the to Application Insights through the telemetry controllers and service.

[2020-11-11 19:08] tdurnford opened #4766 "[Telemetry] Add data collection dialog and the ability to change selection in settings"
## Description
Composer should prompt the user with a dialog to opt-in or opt-out of data collection when the user first opens the app. The dialog should not reappear upon subsequent sessions, and it should not conflict with any of the PVA logic or onboarding flows. The user should also have the ability to change their selection in the application settings.

[2020-11-11 19:14] tdurnford opened #4767 "[Telemetry] Save user's telemetry settings to the server's storage"
## Description
Once the user opts-in or opts-out of data collection, Composer should save their selection in the server. To support this, we have to add routes to set and retrieve the users telemetry settings. We should also support a mechanism for multi-tenant scenarios to set and retrieve telemetry settings for each of their users.

[2020-11-11 19:36] dmvtech commented on #4587
I am able to reproduce this. I'm not sure what is happening. Stand by.

[2020-11-11 19:40] tdurnford opened #4769 "[Telemetry] Log telemetry events throughout Composer"
## Description
All telemetry events will include a session id, timestamp, and a user/install id in addition to the other properties captured for the event.

## Events
|       | Event | Area | Properties | Event Type |
|----|-------|------|-----------|-------------|
| ✅ | Session started | | ```{ pva: boolean; }``` | Custom |
| ✅ | Session ended | | | Custom |
| ✅ | Navigate to main section  | | ``

[2020-11-11 20:18] dmvtech commented on #4587
This is the same bug as identified here: https://github.com/microsoft/BotFramework-Composer/issues/4305

Essentially a mismatch with the schema. You can use the fix/workaround there by updating the kind in the dialog (code view) to be `Microsoft.TelemetryTrackEventAction` instead of `Microsoft.TelemetryTrackEvent`

[2020-11-11 21:20] nitewulf opened #4772 "Repeating a dialog where the only input comes from an AdaptiveCard doesn't work"
## Describe the bug

Unless another question is asked to pause the turn before using an AdaptiveCard to collect informaion, Composer will get into a recursive loop: "Recursive loop detected, CollectUserDetails cannot be repeated twice in one turn."

## Version

1.1.1

## Browser

- [x ] Edge

## OS

- [x ] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create an adaptive card that

[2020-11-11 22:26] ismendes opened #4773 "QnA Maker follow-up prompts do not work in test WebChat CDN bot using the Composer"
## Describe the bug
I have a bot using the Bot Framework Composer, and we have 800+ FAQs. You can check an example here:
https://partner.microsoft.com/en-us/Search#/?search=action%20pack
Follow up prompts appear in the Test pane within QnA Maker​

![image](https://user-images.githubusercontent.com/56369624/98871157-50a23980-2429-11eb-8480-29cbc1f28a3f.png)

However, it doesn't show in the bot:
![i

[2020-11-11 23:16] soutchilin commented on #4716
Hi Lu,

I've created a fresh Azure resources for the "azure function app" template in an empty resouce group. The attempt to deploy ended with an error somewhere inside of a javascirpt ("o is not a function"). Please find the log:
===================
Publish starting...
{
  "status": "DEPLOY_INFO",
  "message": "C:\\Users\\a.soutchilin\\AppData\\Roaming\\BotFrameworkComposer\\publishBots\\4acb59b4

[2020-11-11 23:18] JaskeeratBedi-cmk commented on #4103
great point. Design is working on improving the contextual menu..

[2020-11-11 23:38] JaskeeratBedi-cmk opened #4774 "As a user, I want to be able to use the file menu to open recent files, save my current bot, etc."
From: User research Oct 2020
Area: Platform
Designer: Jaskeerat

Comments: Map options on 'Home' page to menus:
 file | edit | view | etc.

[2020-11-11 23:39] cwhitten opened #4775 "Ignore special build directories used in dotnet, typescript, etc"
When opening a bot project there is risk of these special output directories holding copies of the actual dialog assets. We should special case these common directories and:

1. not traverse into them when discovering dialog assets
2. not allow Composer to create this special directory incidentally as a dialog directory

[2020-11-12 00:04] dmvtech commented on #4758
I just tested this and it worked for me. I selected a send response in one bot, used the edit menu at the top, went to another bot and then clicked on a plus sign in the designer canvas and was able to select paste. I'm using the electron app running on Windows. v1.1.1. Any differences in that and how you are able to reproduce the issue?

[2020-11-12 00:51] #4338 closed

[2020-11-12 00:52] #3957 closed

[2020-11-12 00:52] #4615 closed

[2020-11-12 02:25] yeze322 opened #4779 "Drag Selection perf problem"
## Describe the bug

It feels slow when dragging on Flow Editor to select multiple Action nodes.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Sc

[2020-11-12 02:27] yeze322 commented on #4779
I got a solution to optimize this scenario.
1. During drag selection, commit to local cach instead of shell state
2. After a `mouseUp` event on canvas area is detected, commit selected ids to shell state.

[2020-11-12 02:51] luhan2017 commented on #4409
Yes, should be the webapp name, for example, it should be
  "hostname": "Luhan0603-dev",
  "luisResource": "Luhan0603-dev-luis"
![image](https://user-images.githubusercontent.com/32191031/98889445-ecd54a80-24d4-11eb-9572-69c42b3334ad.png)

[2020-11-12 02:54] luhan2017 commented on #4715
@Laktos , Thanks for the response. would you mind to share your whole merged schema file here? for the Comfirm user input, could you share more detail about your use case?

[2020-11-12 02:57] #4157 closed

[2020-11-12 03:14] luhan2017 commented on #4746
@drfbwilliams ， Here is the code logic of how to present web bot app hostname.
1. if hostname exists, just use it regardless of name and environment.
2. if hostname not exists, check if environement is null or empty, if yes, just use name, otherwise use name-environment.

Please try with the above setting. We will investigate on why never ends and no error message shown in the log.
Thanks for repo

[2020-11-12 03:17] luhan2017 commented on #1877
@Arjun-Jakka-Sridhar , could you paste the issue here? I can help debug into it.

[2020-11-12 03:25] luhan2017 commented on #4716
@soutchilin sorry it is my fault, the issue you pasted is a known issue in our nightly builds which is unrelated. could you please try this one? https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/download/v1.1.1-nightly.184477.e4c4f36/BotFramework-Composer-1.1.1-nightly.184477.e4c4f36-windows-setup.exe I've tested on my side, it is working well:

![image](https://user-images.git

[2020-11-12 04:01] Arjun-Jakka-Sridhar commented on #1877
Hey @luhan2017 thanks for writing back

1. I have my existing web app service and resource in Azure
2. I have a bot created using Bot framework composer
3. I have every required keys and endpoints to paste it in the JSON for publishing

![image](https://user-images.githubusercontent.com/72132528/98893671-f48ef200-24c8-11eb-9096-84335d892774.png)

I followed this approach but in Bot framework it is

[2020-11-12 04:06] #4704 closed

[2020-11-12 04:13] luhan2017 commented on #4715
@Laktos ， could you please try the following steps to fix this issue, this is a doc issue, @zxyanliu , let's fix that in the doc.
1. npm config set registry https://registry.npmjs.org/  (in composer doc, it asks you to set the registry to myget, which is out of date now.)
2. bf plugins:uninstall @microsoft/bf-dialog (in composer doc, it ask you to install this plugin, which is also out of date now

[2020-11-12 04:15] luhan2017 commented on #4268
@jintu123 , we just found out this is a doc issue, please follow this comment to fix this https://github.com/microsoft/BotFramework-Composer/issues/4715#issuecomment-725820854

[2020-11-12 04:15] #4268 closed

[2020-11-12 04:21] luhan2017 commented on #1877
Does you web service created from web app bot? could you share more information about that service? and what is the exactly error you met?

[2020-11-12 04:38] Arjun-Jakka-Sridhar commented on #1877
Ok @luhan2017

This is my Web App Bot under some "xyz" resource group
My scope to this portal is resource group level scope as a contributor role

![Untitled](https://user-images.githubusercontent.com/72132528/98896283-a0870c00-24ce-11eb-8b10-5e9cba37d9c1.png)

after providing all the required keys in json to publish, the bot is not publishing and the status icon is still running and no progress o

[2020-11-12 06:45] drfbwilliams commented on #4746
Thanks for the follow up - this is the only format that I can consistently verify works:

`{
  "accessToken": "<<token>>",
"name": "<<resource group name>>",
"hostname": "<<web app name only i.e. my-new-bot>>",
  "settings": {
    "MicrosoftAppId": "<<app id>>",
    "MicrosoftAppPassword": "<<password>>"
  }
}
`

I still have a failing bot at the end of it. I will created a scripted provision toda

[2020-11-12 06:45] #4746 closed

[2020-11-12 08:04] Guruji752 opened #4783 "Cannot read property 'name' of undefined"
While Trying to deploy bot to azure through bot composer every time i'm getting same error :
Cannot read property 'name' of undefined
![Screenshot from 2020-11-12 13-31-56](https://user-images.githubusercontent.com/57290099/98912241-d38bc880-24eb-11eb-96b7-7528c817a732.png)

[2020-11-12 08:04] cxbuilders commented on #4758
@dmvtech I am running two separate bots in two windows / tabs, whereby I copy components / flows from one to the other. Typically for a new bot this saves a lot of time to copy over common functionality and adjust on the fly for the new bot.

[2020-11-12 09:17] soutchilin commented on #4716
Hi Lu,

Thanks, I've tried out.

Publish starting...
{
  "status": "DEPLOY_INFO",
  "message": "C:\\Users\\a.soutchilin\\AppData\\Roaming\\BotFrameworkComposer\\publishBots\\c0ae49610001e8a11d15c5ff58c30dd3\\azurefunctions\\ComposerDialogs\\generated\\interruption\\Cancel.en-us.lu loaded\n"
}
{
  "status": "DEPLOY_INFO",
  "message": "C:\\Users\\a.soutchilin\\AppData\\Roaming\\BotFrameworkComposer

[2020-11-12 09:44] cxbuilders opened #4784 "'Initialize' not working as custom event name"
Probably a reserved name, but using Initialize as a custom event name does not work.
![image](https://user-images.githubusercontent.com/49873947/98923477-fca05f00-24d3-11eb-9533-3c2092151f8f.png)

[2020-11-12 10:01] UmaPrelude commented on #4495
Yes it worked. After updating  the schema, i am able to see the property.
Thanks Dana.

[2020-11-12 10:01] #4495 closed

[2020-11-12 12:51] arafattehsin opened #4785 "Publish on PVA (Preview) does not work show anything"
## Describe the bug

I tried to publish my Bot to PVA

## Version

v1.1.1-nightly.184574.5ecec93

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Publish
2. Click on Add new Profile
3. Choose Publish bot to Power Virtual Agents (Preview)
4. Does not

[2020-11-12 14:38] cwhitten commented on #4785
@arafattehsin it's not quite ready :) stay tuned

[2020-11-12 15:01] thakursarvesh commented on #4560
Can you provide some link or some of the users who already have implemented this. It would be really helpful. I tried multiple custom codes but of no use.

[2020-11-12 15:14] lei9444 opened #4786 "project tree navigation error"
## Describe the bug
1. click the root bot dialog
2. click the skill's dialog directly

repeat these two steps, only the first time the navigation is correct.

![projecttree](https://user-images.githubusercontent.com/39758135/98957165-d9a99580-253b-11eb-93e6-ac864e9de61d.gif)

## Version

feature/bot-projects branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
-

[2020-11-12 16:28] dmvtech commented on #4761
@BeheraMadan Thanks for the sample. I'm working on coming up with solutions.

[2020-11-12 16:32] kdubious commented on #4728
@dmvtech Is this what you need?

[2020-11-12 17:43] a-b-r-o-w-n commented on #4758
@cxbuilders If this was working before, it was unintended. Our current guidance is to re-use the same tab to copy and paste actions.

That being said, we will put this in our product backlog and may work on it in the upcoming releases.

[2020-11-12 17:49] a-b-r-o-w-n commented on #4763
Hello @tannguyen3, those docs have been archived and are not kept up-to-date. Here is the best source of documentation for publishing via the CLI: https://docs.microsoft.com/en-us/composer/how-to-publish-bot

[2020-11-12 17:55] a-b-r-o-w-n commented on #4783
@Guruji752 what version of Composer are you using?

[2020-11-12 17:57] a-b-r-o-w-n commented on #4784
@cxbuilders are you running into an error when emitting this event? Or when trying to trigger off of this event?

[2020-11-12 17:58] a-b-r-o-w-n commented on #4785
@arafattehsin this was fixed this morning in #4787

[2020-11-12 17:58] #4785 closed

[2020-11-12 18:00] cxbuilders commented on #4784
@a-b-r-o-w-n nothing happens at all. When changing to anything else it works

[2020-11-12 18:02] cxbuilders commented on #4758
It would speed up development a lot. I guess simply using localstorage for this would be sufficient

[2020-11-12 18:04] a-b-r-o-w-n commented on #4784
What is the json output of this specific action? I will share with our SDK team to investigate.

[2020-11-12 18:19] srinaath opened #4791 "Cut Operation leads to an invalid navigation state"
Steps

- Create a root bot and a skill
- Cut an action inside a dialog
- We get an unhandled exception

![Screen Recording 2020-11-12 at 10 16 13 AM](https://user-images.githubusercontent.com/13004779/98979607-66b70500-24d0-11eb-83dc-d409edceb6b9.gif)

[2020-11-12 18:45] dmvtech commented on #4757
Hi @neetgupta7 You shouldn't have the same value for authoring endpoint and (prediction) endpoint. Is there a reason or goal for having them the same?

Additionally, can you confirm that you are pulling the keys (again, should be two different ones. one for each resource) from the right locations? For example:
![image](https://user-images.githubusercontent.com/43397658/98982315-0de96b80-24d4-11eb-

[2020-11-12 19:36] zxyanliu commented on #4715
Followed the steps and got the following error at **Step 4**:
![image](https://user-images.githubusercontent.com/32497439/98987623-480a3b80-24db-11eb-9941-f9993d041a97.png)

[2020-11-12 20:08] v-kydela commented on #4772
Thank you for the report, @nitewulf

It looks like you're using a text input to make the dialog end the turn in anticipation of the user filling out the Adaptive Card. I wonder if what's happening is that the text input is skipped because it's prompting for the first name, which the bot already has on subsequent iterations. You should make sure the input is set to always prompt:

![image](https://

[2020-11-12 21:29] #4753 closed

[2020-11-12 21:36] tannguyen3 opened #4794 "Telemetry - Track Event Throw error "Object reference not set to an instance of an objec""
## Describe the bug
I've added the Telemetry - Track Event to track a customer event to App Insight but the bot throw ""Object reference not set to an instance of an objec" message when it comes to this action.
This is action info
![image](https://user-images.githubusercontent.com/10743872/98999072-c1665600-24fc-11eb-9f04-84a42bc3a8e8.png)

## Version

Composer 1.1.1

## Browser

- [ ] Electron di

[2020-11-12 21:51] nitewulf commented on #4772
Thanks for the suggestions.

enabling Always prompt does work.  That's the most direct solution to the weirdness I found and I'll use it.

I thought about a loop, but couldn't figure out how to implement that with the constraints of Composer because the loop has to iterate through an array or values.  There didn't seem to be a way to iterate through an object such as
{
"firstName" : "",
"lastName:

[2020-11-12 22:53] v-kydela commented on #4772
@nitewulf - You would use 'End turn' instead of an input

[2020-11-13 01:43] srinaath opened #4797 "Context menu does not show up in a single bot (only rootbot) context"
## Describe the bug
The Add toolbar will no longer exist after the BotProjects work. Essentially, the context menus to add dialog, trigger etc are existing only when a root bot has skills. In the context of a single rootbot with no skills the Project tree view is incorrect.
![Screen Shot 2020-11-12 at 5 41 15 PM](https://user-images.githubusercontent.com/13004779/99018171-5291f880-250e-11eb-9ba0-1

[2020-11-13 01:51] srinaath opened #4798 "Missing header template in Project tree"
The header inside the Project tree is missing. It needs to be added by default at the top to give the ability to add skills.

![Screen Shot 2020-11-12 at 5 50 44 PM](https://user-images.githubusercontent.com/13004779/99018712-9afde600-250f-11eb-862b-0c57dbbca1a5.png)

[2020-11-13 03:58] zxyanliu commented on #4715
The content was updated in the [doc](https://review.docs.microsoft.com/en-us/composer/how-to-add-custom-action?branch=pr-en-us-254#setup-the-bot-framework-cli-tools) and will go live soon. Thanks.

[2020-11-13 04:02] yeze322 opened #4800 "Add missing type declarations in the hook `useDialogEditApi`"
## Describe the bug

When fixing #4740 , the deleteActions api was updated to async format. However, this change broke Move / Cut behavior due to 'async' is not captured by await which led to the api returns a Promise of dialog JSON rather than a dialog JSON itself.

This kind of issues could be prevented by declaring proper TS type, as an example
![image](https://user-images.githubusercontent.com

[2020-11-13 06:15] luhan2017 commented on #4773
@ismendes , did you check the Enable Multi-turn extraction when you extracted the qna pairs in composer?
And what composer version are you using? We had a bug on the multi-turn extraction feature, and it should be fixed in the latest main branch.

[2020-11-13 12:24] nitewulf commented on #4772
Fantastic!  Thanks for the tip.  It still doesn't stop me from typing something in and hitting enter.  But at least execution of the logic in the dialog pauses.  Still, this looks like the best way to use an adaptive card at the moment for input.

![image](https://user-images.githubusercontent.com/8270448/99071882-f9af7800-2580-11eb-84a0-2263c0bf0721.png)

[2020-11-13 12:24] #4772 closed

[2020-11-13 13:03] Laxmi30 commented on #4587
I didn't understand could you please explain to me.

[2020-11-13 13:56] gabog opened #4802 "Composer persists skills URLs in .dialog files"
## Describe the bug

I am simultaneously developing a skill consumer in composer and a skill using code first.

While developing, I want my consumer to use my local version of the skill on http://localhost:39800/api/messages, but when I deploy the consumer and the skill bots to azure, I want the consumer to use the deployed URL for the skill (e.g.: https://myskill.contoso.com/api/messages) but I d

[2020-11-13 16:34] #4441 closed

[2020-11-13 17:38] dmvtech commented on #4794
Have you configured your App Insights instrumentation key in the bots settings? Also; you might hit [this issue](https://github.com/microsoft/BotFramework-Composer/issues/4305), so be aware of that (if so, you need to update the `type` in the .dialog file).

[2020-11-13 17:47] tannguyen3 commented on #4794
thank you, @dmvtech. Different messages but same fix. It works now.

[2020-11-13 17:47] #4794 closed

[2020-11-13 17:53] srinaath commented on #4802
@gabog The latest release of Composer (1.2) will follow the pattern you have mentioned above.

This is the ticket and the PR that did the change. #4032

[2020-11-13 18:04] srinaath commented on #4798
This bug has been included as a commit in #4492

[2020-11-13 18:04] #4798 closed

[2020-11-13 18:33] pavolum opened #4805 "Poll the back end creation process"
so the front end can present status updates to the user while loading

[2020-11-13 19:03] shermanmccoy commented on #3658
I have the same problem as bradrlaw. In MacOS, a lot of dotnet process keep alive after closing the composer. Even if I make a portscan on localhost, the bots remain listening.

I am using 1.1.1

[2020-11-13 19:19] mrivera-ms commented on #4478
Closing due to inactivity. If the problem persists, please reopen this issue.

[2020-11-13 19:19] #4478 closed

[2020-11-13 20:07] dmvtech commented on #4763
@tannguyen3 Were you able to get your bot published?

[2020-11-13 20:08] dmvtech commented on #4710
@thakursarvesh Any update here? Were you able to get your bot published and working?

[2020-11-13 21:39] gabog commented on #4802
This is great news @srinaath, I will close this one and give 1.2 a try.

Thanks

[2020-11-13 21:39] #4802 closed

[2020-11-13 23:17] srinaath opened #4810 "Project tree focus not locking when context menu is opened"
![Screen Shot 2020-11-13 at 10 46 53 AM](https://user-images.githubusercontent.com/13004779/99129660-0eacfb00-25c3-11eb-9ce7-30ae5eb959dc.png)

When the context menu is opened on a particular tree item the focus needs to lock on the tree until the context menu is closed. The current focus state is just on hover over the tree item which leaves the context menu orphaned.

[2020-11-13 23:22] srinaath opened #4811 "Popup tooltip text truncation"
![Screen Shot 2020-11-13 at 12 01 31 PM](https://user-images.githubusercontent.com/13004779/99129876-a7dc1180-25c3-11eb-8cee-6e16a3410340.png)

 

![Screen Shot 2020-11-13 at 12 01 35 PM](https://user-images.githubusercontent.com/13004779/99129879-a90d3e80-25c3-11eb-9407-7af39bb8350b.png)

![](https://user-images.githubusercontent.com/13004779/99434422-a1031680-28c3-11eb-9782-c665be7fb220.png)

Al

[2020-11-14 00:19] dmvtech commented on #4728
Yes @kdubious Thank you.

Through my amateur eyes, it does appear to be a leak. Most concerningly/blatantly in the private bytes. Starts tracking the process with an amount of 191MB and ends with 2.4GB (assuming these two logs were of the same process, I forgot to have you record `process Id`).

Seen here:
![image](https://user-images.githubusercontent.com/43397658/99131582-65690380-25c8-11eb-817e

[2020-11-14 02:44] tannguyen3 commented on #4763
in the the article you suggested, there is no CLI to publish the bot.

[2020-11-14 03:23] ClarkYin commented on #4716
I am also getting the same error but on the new 1.2.0
 when i'm publishing this. i've tried many variables now and i'm not sure how to get this to work.

Publish starting...
{
  "status": "DEPLOY_INFO",
  "message": "/Users/clarkyin/BotFrameworkComposer/publishBots/773fac7175f46b5db80dd64549a2a73f/azurewebapp/ComposerDialogs/generated/interruption/Order_Cash_Withdrawl.en-us.lu loaded\n"
}
{
  "sta

[2020-11-14 05:56] Guruji752 opened #4812 "Error: Command failed: dotnet build"
i'm  trying to run simple echobot but everytime it giving **Error: Command failed: dotnet build**
![Screenshot from 2020-11-14 11-23-56](https://user-images.githubusercontent.com/57290099/99140941-11175f80-266c-11eb-9c59-5642fdf929d3.png)
![Screenshot from 2020-11-14 11-24-57](https://user-images.githubusercontent.com/57290099/99140944-14aae680-266c-11eb-8804-8c696d52afc3.png)

But it was working

[2020-11-14 07:10] arafattehsin opened #4813 "Unable to publish my Bot to PVA"
## Describe the bug

After creating a profile, I couldn't publish my Bot to Power Virtual Agents.

## Version

1.2.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Publish
2. Select Publish Profile
3. Publish to Selected Profile
4. It keeps on pro

[2020-11-14 07:29] #4783 closed

[2020-11-14 10:01] saiteja21 opened #4814 "QNA Subscription key - Sorry, something went wrong with publishing. Try again or exit out of this task."
Sorry, something went wrong with publishing. Try again or exit out of this task.

Qnamaker build failed: Access denied due to invalid subscription key or wrong API endpoint. Make sure to provide a valid key for an active subscription and use a correct regional API endpoint for your resource.

By default the region value is set to "westus" - may be that's the reason why I am not able to use the QNA

[2020-11-14 10:15] saiteja21 commented on #4814
Though I have changed the region value in setting...

![image](https://user-images.githubusercontent.com/11377131/99144927-2ffbfe80-2638-11eb-883b-c6b1367c7d8e.png)

But nothing changed... I am still getting the same error and below value does not change

![image](https://user-images.githubusercontent.com/11377131/99144949-65a0e780-2638-11eb-987a-a742080479ac.png)

[2020-11-14 14:52] kdubious commented on #4728
Here it is:

.NET Core SDK (reflecting any global.json):
 Version:   3.1.201
 Commit:    b1768b4ae7                                                                                                                                                                                                                          Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19042
 OS Platform: W

[2020-11-14 19:48] KoradaRajesh opened #4815 "Sending File type attachment to user through Composer"
I'm unable to send File type (.pdf, .csv,.txt,etc..) attachments to user From Composer

[2020-11-15 02:15] scheyal opened #4816 "ReplaceDialog on child dialog error: Value cannot be null. (Parameter ‘dialogId’)"
## Scenario:
Top dialog calls child dialog
Child dialog replaces itself with top dialog
- Cannot zip sample cause export is broken.

## repro images

![image](https://user-images.githubusercontent.com/8867670/99161249-28267380-26a5-11eb-8dd7-fb35133a3730.png)

![image](https://user-images.githubusercontent.com/8867670/99161254-3a081680-26a5-11eb-9802-d41604addf22.png)

![image](https://user-images

[2020-11-15 07:21] okajun35 opened #4817 "The given key 'ja' was not present in the dictionary."
## Describe the bug
I want to run it on a browser that is written in Japanese.
I'm getting an error with Chrome and firefox.
The error message is "The given key 'ja' was not present in the dictionary."

## Version
1.2.0

## Browser
- [〇 ] Chrome
- [〇] Firefox

Bot Framework Emurator causes an error when I change Locale "ja".
No error in  safari.

## To Reproduce

Steps to reproduce the behavior:

[2020-11-15 13:39] cxbuilders opened #4818 "Custom Action ObjectExpression not parsed"
When using a ObjectExpression<MyObject> in a custom action, the GetValue call does not return anything when the object is defined directly in the Custom Action itself in Composer. When using set properties before the Custom Action to define the object and use an expresssion to pass the value to the Custom Action it does work.

Not Working:
![image](https://user-images.githubusercontent.com/4987394

[2020-11-15 14:06] Laktos commented on #4715
The use case is in using a User Input (Confirm) with ['yes', 'no'], saving the result to a turn.confirm or user.confirm. Then trying to use this in an if case: turn.confirm == 'yes' (or "yes" or yes). This doesn't seem to work, but the multi-choice with the same options and if case does work. Haven't tried updating to see if the fixes are made to the main issue, but will as soon as possible.

[2020-11-15 15:02] cwhitten commented on #4816
@scheyal how different is is your setup compared to the "Dialog Actions" sample, which exercises Replace Dialog a bit, and is working fine for me on the 4.11.0 runtime packages.

[2020-11-15 15:04] cwhitten opened #4819 "Export to .zip does not put any data in the archive"
<img width="735" alt="Screen Shot 2020-11-15 at 7 04 19 AM" src="https://user-images.githubusercontent.com/1156704/99188439-cd2a6600-2710-11eb-9b2d-390efdbd2711.png">

[2020-11-15 19:15] ferrarirosso commented on #4716
Same problem here
Started after upgrading to Bot Composer 1.2.0
Deleted everything from Azure and recreated according to the docs but I am not able to publish from the bot composer and getting "Expected signal to be an instanceof AbortSignal"
Switching to ngrok for my demo...

[2020-11-15 20:33] scheyal commented on #4816
It repros once you go through ~2 cycles.
Also, repos with all variations of using begin dialog in place of replace dialog.
Repro shared with provided private bits (with fixed zip packaging).

[2020-11-16 07:56] lei9444 opened #4821 "Create dialog will show alert"
## Describe the bug
![alert](https://user-images.githubusercontent.com/39758135/99225869-b9235900-2823-11eb-96fb-8b642d167715.gif)

## Version
main

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Create a new locale. Set it as the default. Try adding a dialog now.

[2020-11-16 08:13] philip-mc commented on #4613
Hello,

Please can I bump this one - happy to jump on a Teams call if needed to discuss.

Thanks

[2020-11-16 08:18] cxbuilders opened #4822 "Bot Responses Overview includes comments"
In the overview of the bot responses comments (prefixed with '>>') are included by the preceding entry;

![image](https://user-images.githubusercontent.com/49873947/99228164-8ad65700-27ec-11eb-8523-d117a1d8773b.png)

![image](https://user-images.githubusercontent.com/49873947/99228253-a3df0800-27ec-11eb-9425-48c42970db23.png)

[2020-11-16 09:18] isakalmq opened #4823 "Updated composer does not create "project file""
## Describe the bug

When visiting an old project from a previous version of composer I get the error

"Error
If this problem persists, please file an issue on GitHub
Details
Bot project file does not exist"

## Version

1.2 (4205387) with 1.1(065d065) being the previous verison.
## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Wi

[2020-11-16 09:26] cxbuilders opened #4824 "Change locale during runtime"
Just wanted to implement a second language to the bot and to my surprise it is not possible to change the locale at runtime. In the bot we define the locale based on fields we receive from the client  and allow the client to change their locale in the bot when they prefer to talk in a different language.

Hope I am overlooking something here...

[2020-11-16 10:20] BeheraMadan commented on #4773
Hi,
Yes, we have enabled multiturn extraction in the QNA knowledge base setting. Currently we are using composer version 1.0.2.
Today we updated to latest version 1.2.0. Even after updating the composer to latest version, followon prompt is not getting displayed to QNA answers. We are using QnaMaker generate answer api to fetch qna answers and we are using following settings in the body section of

[2020-11-16 10:50] Laktos commented on #4715
Custom actions working without errors on the updated client (v1.2.0) with the steps from @luhan2017 !
Thank you for the help.

[2020-11-16 10:50] #4715 closed

[2020-11-16 13:27] hibrenda opened #4825 "editing issue (accessibility) in LU/LG table view"
## Describe the bug
In LG table view, I can not hit "enter" if the focus is in the response for the LG template
![image](https://user-images.githubusercontent.com/43408889/99257245-afb0e580-2851-11eb-80a3-664444c90579.png)

In LU table view, when I hit the  "up arrow" inside the table view for one luis intent, it will go to other component instead of the upper line in Manaco editor.
![image](https

[2020-11-16 13:31] hibrenda commented on #4814
Thanks to report the issue. Yes. This is by design so far. we only support west-us.  We will support other region later.

[2020-11-16 14:10] peterbozso opened #4826 "Error message is not shown when the bot fails to start"
## Describe the bug

I am testing what happens when you create a bot containing an infinite loop of dialogs calling each other. (See attachment below in the Additional context section.) My testing is successful: the bot fails to start (even though not with the friendliest of error messages, but that's another, less important topic). But I am facing an issue while doing this: the Composer is not ab

[2020-11-16 14:40] eedwards36 commented on #4716
I am also experiencing this issue after upgrading to Bot Composer 1.2.0 and getting the error message "Expected signal to be an instanceof AbortSignal" when trying to publish from the composer.

Is there a workaround for this?

[2020-11-16 15:15] ismendes commented on #4773
@luhan2017, please, check Madan's answer, he's a software engineer from my team. Thanks!

[2020-11-16 15:39] ferrarirosso commented on #4716
If you are on windows, I have edited the file ...\azurepublish\lib\index.js and replaced the
throw Exception ... "Expected signal to be an instanceof AbortSignal"
with
console.log "Expected signal to be an instanceof AbortSignal"
After that I could publish, but it's a dirty workaround

[2020-11-16 16:00] ivo-ranj opened #4828 "Composer 1.2: project with custom runtime does not run from Visual Studio"
When creating a fresh project in Composer 1.2 using the "EmptyBot" template with a custom runtime, the generated unmodified runtime generates a `System.NullReferenceException: Object reference not set to an instance of object.` somewhere deep inside the Bot connector client.

This issue was not present in the previous version of Composer.

### Steps to reproduce ###
1. Create a clean project in Co