[2020-12-07 08:47] zhixzhan commented on #5178
@zxyanliu this modal looks like hook up with `Show skill manifest` from property editor. `Create/edit skill manifest` works at my side (latest main)

![Untitled6](https://user-images.githubusercontent.com/49866537/101328960-b1e3ee00-38ab-11eb-800d-523987f83ddd.gif)

[2020-12-07 09:10] feich-ms commented on #5073
I went through the code and the exception should be thrown when getting the OneAuth token. @gbelenky have you ever set any azure authoring stuff for composer before installing 1.2.1 version? If so, It would be helpful for us investigation if you have another machine or VM that is not setting any composer auth staff before to double confirm the launch failure. Thank you very much.

[2020-12-07 09:37] #5167 closed

[2020-12-07 11:50] TumeloMolefe commented on #3827
Have we had any developments on this.

[2020-12-07 12:07] BeheraMadan commented on #4773
We are using qnamaker dialog action instead of qnamaker api call.

![image](https://user-images.githubusercontent.com/70739031/101349076-bfe93d00-38b2-11eb-9b35-10aa6d537a43.png)

![image](https://user-images.githubusercontent.com/70739031/101349016-a21bd800-38b2-11eb-9b59-8b58d7cd6e79.png)

Followup prompt is working  for this qnamaker dialog action.

[2020-12-07 13:20] #5179 closed

[2020-12-07 13:59] #5126 closed

[2020-12-07 14:30] lauren-mills opened #5190 "Need to include authoring key and region under external services"
## Describe the bug
In the bot settings editor, it only shows LUIS Key and LUIS region. However, for any LUIS app used in production, the authoring key does not provide enough quota, so there should always be an endpoint key and region, as well as an authoring key and region, to avoid users hitting 403 errors and not being able to identify the source:

![image](https://user-images.githubuserconten

[2020-12-07 15:23] gabog opened #5191 "Composer takes a long time to start a project with multiple bots"
## Describe the bug

I have a project with 1 consumer and 2 skills, and restarting all three projects takes over a minute.

## Version

1.2.1-nightly.191833.ff9c593

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Create a bot project and add two sk

[2020-12-07 15:26] gabog opened #5192 "Add copy button to about dialog"
## Describe the solution you'd like

It would be useful to add a copy button to the about dialog so I can copy and paste the version info into github issues.

This should simplify filling out the issue template and provide additional information about runtimes node, etc.

![image](https://user-images.githubusercontent.com/12264946/101369658-8f83ad80-3876-11eb-8ddd-504d5200b0a0.png)

## Describe al

[2020-12-07 15:40] garypretty commented on #5107
Thanks @Laktos.  We will add this to our backlog to be considered in future planning phases.

[2020-12-07 15:41] gabog opened #5193 "Use relative paths for bot projects"
## Is your feature request related to a problem? Please describe.

Currently, adding new or existing skills to a bot project uses absolute paths rather than relative paths. This will be problematic in a team environment where developers organize their files differently.

![image](https://user-images.githubusercontent.com/12264946/101370480-8ba45b00-3877-11eb-811a-b2a239d0d71f.png)

## Describe the

[2020-12-07 15:53] gabog commented on #4896
I test this on 1.2.1-nightly.191833.ff9c593 but having composer automatically set the port complicates advanced scenarios where I want to test combinations of composer created bots and code first bot.

If possible, I'd like to have an option to set the bot port in the settings window and have this applied to launchsettings.json if I ejected the runtime so things are consistent.

This could be impl

[2020-12-07 15:58] gabog opened #5194 "SKILLS UX: Add IsSkill checkbox to Project Settings"
Right now all bots are created with IsSkill = true and I need to go to the Advanced Settings view in settings to change this.

I would like to see a differernt icon (or different UI hint) in the project pane for bots that are root bots or bots that can be also called as skills

I would like to see an IsSkill checkbox in bot settings and not have to go and change this manually in advanced settings.

[2020-12-07 16:00] tannguyen3 commented on #5181
I got it. thank you @feich-ms

[2020-12-07 16:21] #5123 closed

[2020-12-07 16:23] cwhitten commented on #5193
cc @srinaath, relative paths for the bot projects were in the initial design -- is this still the case?

[2020-12-07 17:15] srinaath commented on #5193
@gabog Is this happening on the installer for the bug bash? The way we have designed is like how you have stated. All paths that connect a skill to the root bot are serialized relative to the root bot inside the .botproj file. I wonder if this was an intermediary nightly that created this file path wrongly. Could u delete the botproject file and reopen the bot and try connecting the skills. Let us

[2020-12-07 17:17] srinaath commented on #5193
@sangwoohaan the differentiator in UI between a root bot and skill has been spotted by a few folks during the bug bash. Adding you for any UX update we could do.

[2020-12-07 17:26] srinaath commented on #5194
@sangwoohaan

[2020-12-07 17:28] #5178 closed

[2020-12-07 18:07] #5181 closed

[2020-12-07 18:18] dmvtech commented on #5106
Great!

I'm not completely clear on what you describe above. Are you talking about a local .git repo? Is the config (assuming you mean appsettings.json here), in a modified/changed state or has it been staged/committed? Just wanted to see if there seems to be another (different) bug or not.

[2020-12-07 18:19] dmvtech commented on #5052
@Laktos Any updates?

[2020-12-07 18:28] mewa1024 commented on #5143
Can we also disable the "Generate dialog" button if there have been no changes to the form? Or is that hard to detect?

[2020-12-07 18:33] dmvtech commented on #5173
Hi @dinirichard The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

I'm not quite sure on this, but I'm guessing

[2020-12-07 18:41] mewa1024 commented on #5153
@hatpick Can we get this change in?

[2020-12-07 18:43] zxyanliu commented on #5162
Hi @zhixzhan Thanks for your response.
FYI. This is the URL we provided in the documentation and it worked for 1.2.1 and previous versions.
https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/troubleshooting

If this URL was not supported, can you please provide specifications of what type of URL are supported? Can you elaborate a bit more on "it must a static HTML page with good se

[2020-12-07 18:50] mewa1024 commented on #5144
Leaving this as is for 1.3 since this is described in the "Learn more" doc in GitHub, but will include in user tests for 1.4 (assigned to self.)

[2020-12-07 18:52] mewa1024 commented on #5141
will dig deeper for 1.4.

[2020-12-07 18:55] #5117 closed

[2020-12-07 18:57] mewa1024 commented on #5138
@hatpick Can this be changed so that typing a comma acts like pressing Enter? Could users escape a comma, for example like "New York\, NY"?

[2020-12-07 19:08] tonyanziano commented on #5175
Hi @BartH2020

Currently, multi-language QnA is not supported, but will be in an upcoming release. Stay tuned.

[2020-12-07 19:10] tonyanziano commented on #5104
@Zerryth were you able to get a repro on this?

[2020-12-07 19:32] mewa1024 commented on #5141
Hi @xiyangdesign! As a stop-gap measure, do the instructions at [https://github.com/microsoft/BotFramework-Composer/blob/main/docs/preview%20features/form-dialogs.md](url) help?

[2020-12-07 19:36] mewa1024 commented on #5144
@xiyangdesign, similar to bug #5141, do the instructions at [https://github.com/microsoft/BotFramework-Composer/blob/main/docs/preview%20features/form-dialogs.md](url) help (as a temporary measure)?

[2020-12-07 19:37] mewa1024 commented on #5142
will investigtate for 1.4.

[2020-12-07 19:42] Zerryth commented on #5104
Confirmed! I get the same results as @Markyboy944 when adding a QnA pair to KB via Composer.

![image](https://user-images.githubusercontent.com/35248895/101397233-45ec9000-3881-11eb-98ac-51203803c80e.png)

[2020-12-07 19:53] dmvtech commented on #5111
Thank you for reporting @tannguyen3. I'm investigating.

[2020-12-07 20:14] beyackle opened #5198 "Windows Installer seems broken"
## Describe the bug

The Windows installer fails to complete; the scrollbar terminates early with an unhelpful error message.

## Version

Nightly 191674.827857c

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Download the new nightly BF Composer framewo

[2020-12-07 20:21] cwhitten commented on #5182
@srinaath for visibility

[2020-12-07 20:28] #5087 closed

[2020-12-07 20:28] #5112 closed

[2020-12-07 20:49] dmvtech commented on #5111
Able to reproduce. Not sure why passing a array in works:
[code]

But in-place doesn't.
[code]

@boydc2014 Any pointers here? is this a bug, or is there some other approach that needs to be done.

[2020-12-07 20:51] dmvtech commented on #5111
Also @Danieladu for input.

This is similar to: https://github.com/microsoft/BotFramework-Composer/issues/4613

[2020-12-07 21:21] #4527 closed

[2020-12-07 21:24] gabog commented on #5193
Strange, I am not able to repro right now, but my first screenshot belongs to bots I tried to create using the bugbash build.

I'll try to continue to repro this but you can close it in a couple of days if I can't find a way to repro this.

[2020-12-07 21:59] gabog commented on #5193
Here are the steps to repro the issue:

1. Create a folder on your hard drive (R11Repro in my case)
2. Open composer and create a new bot in that folder:
![image](https://user-images.githubusercontent.com/12264946/101410366-371bd280-38ad-11eb-82e0-2fc6c4fef2bd.png)
3. Add a new skill to the bot
![image](https://user-images.githubusercontent.com/12264946/101410483-692d3480-38ad-11eb-8ba2-736cab502d

[2020-12-07 22:05] srinaath commented on #5193
thanks @gabog  for the repro. looking into it now.

[2020-12-07 22:37] Laktos commented on #5052
We believe the issue was that we either had empty "sendactivities" lying around. Like:
SendActivity12345()
-
Either that, or it was that we resolved a merge conflict incorrectly. But it still seems strange that it would work for some, but not others.
Could be that we just got lucky and it worked long enough to see that the bot crashed and re-deployed. This happened when running reset. This was fix

[2020-12-07 22:43] v-kydela commented on #5180
Thank you for the report, @selvaduraiece. I would like to help and I have a few questions.

1. When you say "this is not happening," what are you saying is not happening? Are you saying the dialogs aren't getting cancelled, or are you saying the new dialog is not beginning?
1. What is happening instead? It would help if you could provide some screenshots of the conversation in Emulator
1. Are you

[2020-12-07 22:48] #5118 closed

[2020-12-07 22:54] scheyal opened #5202 "Bot returns "EndpointKey" to any utterance even when LUIS returns right (or wrong) intent"
## Describe the bug
Bot returns "EndpointKey" literal for any utterance. Bot was created with public version, exported, and imported into bugbash version.

(.zip is available upon request :)).

## Version
Repro on v1.2.1-nightly...57c.

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps t

[2020-12-07 22:59] taicchoumsft commented on #5198
So after discussing with @beyackle, we think this is a bad state on the user machine, unrelated to the vcredist installer change.  What probably happened was that the app folder was deleted manually from an earlier install of Composer instead of using the uninstaller, and this left a very old uninstall key on @beyackle's machine.

When Composer is installed via the installer, it leaves a key in th

[2020-12-07 23:08] mewa1024 opened #5205 "Form dialogs: in LG all up page, you can select a property under the tree, but the property does not show as selected"
## Describe the bug

## Version

v1.2.1-nightly.192397.d88f6af

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a form, generate the dialog.
2. Go to the Bot Responses page.
3. Select the dialog you just generated:
![image](https://user-images.gith

[2020-12-07 23:13] dmvtech commented on #5052
Ok, thanks. I'm going to go ahead and close this one. Feel free to open another if you are able to identify any specific and reproducible bugs. Thanks!

[2020-12-07 23:13] #5052 closed

[2020-12-07 23:28] tonyanziano commented on #4905
@sangwoohaan Here is a screen recording of how the UX works for the feature:

https://www.loom.com/share/fd734395c7e14d0fb371b434e45f40ed

1. If you are not logged in yet, you must log in, and then it will pull (shown in the first run through)
2. If you are logged in, it will just display the status dialogs and pull (shown in the second run through)

[2020-12-07 23:31] TheozZ79 opened #5206 "htr"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2020-12-07 23:32] mewa1024 opened #5207 "Bot Response page, default view is difficult to edit template with multiple lines"
## Describe the bug

## Version

v1.2.1-nightly.192397.d88f6af

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Bot Responses.
2. Find a template that has multiple lines (either multiple response variations or a multi-line response), and select the

[2020-12-07 23:32] zxyanliu commented on #5162
Hi @zhixzhan
Yes, it is the issue with the testing URL. I tried this troubleshooting URL in QnA portal separately and failed to load the questions properly. I will use another URL such as https://download.microsoft.com/download/2/9/B/29B20383-302C-4517-A006-B0186F04BE28/surface-pro-4-user-guide-EN.pdf in the docs. Closing this issue for now because it is not a Composer issue after initial investig

[2020-12-07 23:32] #5162 closed

[2020-12-07 23:45] mewa1024 commented on #5205
Same issue with all up LU page.

[2020-12-07 23:47] #5138 closed

[2020-12-07 23:47] #5141 closed

[2020-12-07 23:47] #5143 closed

[2020-12-07 23:47] #5153 closed

[2020-12-08 00:04] zxyanliu commented on #5164
Yes, it worked using the most recent main.

![image](https://user-images.githubusercontent.com/32497439/101419927-f2406d80-38a5-11eb-972c-67167bec42fd.png)

[2020-12-08 00:04] #5164 closed

[2020-12-08 00:08] #5172 closed

[2020-12-08 00:08] #5125 closed

[2020-12-08 00:10] cwhitten commented on #5206
Closing. Please provide more information in a new issue.

[2020-12-08 00:10] #5206 closed

[2020-12-08 00:12] Danieladu commented on #5111
There is an extra whitespace at the end... It would make the expression as a concatenation operator of an array and a string ' ', and output such format: "[Array] ".

[2020-12-08 00:16] sangwoohaan opened #5208 "Add a confirmation modal when pulling from publish profiles"
## Is your feature request related to a problem? Please describe.

Addressing
https://github.com/microsoft/BotFramework-Composer/issues/4905

Currently, the pull process launches immediately upon clicking the pull from selected profile button without any confirmation.

## Describe the solution you'd like

![Global frame](https://user-images.githubusercontent.com/50963385/101420659-8101ba00-38a7-11

[2020-12-08 00:16] #4905 closed

[2020-12-08 00:26] zxyanliu commented on #5177
Calling a remote skill using the latest main branch worked. Closing the issue.

![image](https://user-images.githubusercontent.com/32497439/101421352-f4f09200-38a8-11eb-8497-848fe5361499.png)

[2020-12-08 00:26] #5177 closed

[2020-12-08 00:35] Laktos commented on #5052
@dmvtech We figured out what was causing the first set of issues. It was that we when deploying the bot to teams, or elsewhere in the process of starting the bot, generated two sets of language generation files, where only the .en-us.lg files were changed when editing in composer. This caused the people using teams with Swedish to not get the correct responses.

[2020-12-08 00:36] zxyanliu commented on #5176
I am wondering if this is by design?

[2020-12-08 00:46] tannguyen3 commented on #5111
thank you @Danieladu. It works now. it's just crazy

[2020-12-08 00:46] #5111 closed

[2020-12-08 01:29] cwhitten commented on #5076
Yan sez "Enter a URL"

[2020-12-08 02:05] luhan2017 commented on #4896
@gabog , Thanks for the feedback, we will follow up on this in R12.

[2020-12-08 02:06] luhan2017 commented on #4773
Close this issue, please let me know if you still need help here. @BeheraMadan

[2020-12-08 02:06] #4773 closed

[2020-12-08 02:52] srinaath opened #5211 "Add a skill to a root bot which was a root bot in a different context"
## Describe the bug

Create a root bot (for ex name is RB1). Add skills to it. Add the Connect to Skill action and connect to those skills.

Now create another bot RB2. Add RB1 as a skill to RB2. The diagnostics notification for missing skill block us from starting RB2. In the context of the skill the diagnostic notification regarding missing skill need not show up

This happens on main branch

[2020-12-08 03:09] luhan2017 opened #5214 "Publish status is messed up when publishing multiple bots"
## Describe the bug

I am having five bots in my botproject and I select to publish three of them, but after click publish, it only shows three bots in the publish page

![image](https://user-images.githubusercontent.com/32191031/101434565-be1c8980-3945-11eb-8783-a9e1270a0d38.png)

@srinaath had reported this bug on last Friday, I thought it is fixed, but it still exist in main branch.

## Version

[2020-12-08 03:10] dmvtech commented on #4922
HI @likith3611

By setting the action to `allow interruptions` to false, in the consumer/calling/root bot; what that does is allow the skill to complete (or use any of it's own interruptions of it's own) without the root/calling bot overriding it. Essentially it's a way to hand off to the skill bot and let that complete in whatever way that may be. NLP should still work in that skill bot.

If you

[2020-12-08 03:31] zxyanliu commented on #5176
The confusion might come from the **bots panel button** is attached with the separator while the **Start all bots button** is detached.

![image](https://user-images.githubusercontent.com/32497439/101435641-8c61df00-38c1-11eb-8e6b-5f3b756e2596.png)

![image](https://user-images.githubusercontent.com/32497439/101435785-c92dd600-38c1-11eb-8691-d84ee8fdd147.png)

I would suggest making the bots panel

[2020-12-08 03:49] mewa1024 commented on #4995
I think we should leave this as is for R11/Composer 1.3 for two reasons:

1. Even if we show the raw values, the user has to infer that the first (param 1) refers to `property` and the second refers to `val` param 2. In the template name with the parameters, it is spelled out: `# confirmUpdate(property, val)`.

2. But I think the bigger reason is that even if this first template was understandable

[2020-12-08 03:54] hibrenda commented on #5107
@Laktos , you can store the adaptive card in LG common file, so the entire dialog can reuse it.
![image](https://user-images.githubusercontent.com/43408889/101437872-19517a80-394c-11eb-8891-ca82c8dd8d90.png)

[2020-12-08 07:20] hibrenda commented on #5104
@lei9444 be aware of this issue.

[2020-12-08 07:23] hibrenda commented on #4814
We plan to support new region authoring for QnA in R12.

[2020-12-08 07:56] zhixzhan commented on #5207
Hi @mewa1024 , as you described above there are 3 items in this issue
1. Unable to use arrow keys to move up/down.
There is a fluentui issue track this bug https://github.com/microsoft/fluentui/issues/12177

2. Press `Enter` key to add a new line.
Currently, you can `Enter` is submit, `Shift + Enter` is add a new line.

For single line switch to multi line case, you may need
- 2.1 `Shift + Enter`

[2020-12-08 07:59] yeze322 opened #5219 "UX feedbacks of bot project publish"
## Is your feature request related to a problem? Please describe.

The 'bot project' feature is awesome, however, when I was playing with the publish feature, I found several inconveniences:

1. Can delete a publish profile.
  ![image](https://user-images.githubusercontent.com/8528761/101456019-67777580-396e-11eb-95ac-4f5e647ffad2.png)
2. Can set a publish profile as default and make it appear at

[2020-12-08 08:09] yeze322 commented on #5219
@sangwoohaan Sangwoo are you interested in this scenario？

[2020-12-08 08:42] #4528 closed

[2020-12-08 08:57] feich-ms commented on #5202
No reproduced in 1.2.1 and latest nightly build today. Will try it in the bugbash version when getting time.

[2020-12-08 08:58] liweitian commented on #5182
Synced with @hibrenda.  The error cannot be reproduced. So this Pr only fixed the error message got truncated bug.

[2020-12-08 09:00] goergenj opened #5222 "[MCS-DE-GO] Access to Skill Manifest Warning causes uncaught error type"
When clicking on the Warning on the "Notifications" page for the following warning
![image](https://user-images.githubusercontent.com/31212469/101462203-3a11d400-393c-11eb-85c5-475904dbe33b.png)

We receive the following error:
![image](https://user-images.githubusercontent.com/31212469/101462190-32eac600-393c-11eb-9c97-32974a1da51f.png)

@joaollq @goergenj @garypretty @benbrown @cwhitten

[2020-12-08 09:20] BarisC commented on #2149
Hello, I am getting a bad request error after this request. Where do you think I'm making a mistake?

![error2](https://user-images.githubusercontent.com/16959031/101464477-bfeb4a80-394f-11eb-93be-46af9bfe61df.PNG)

[2020-12-08 09:42] feich-ms commented on #5202
@scheyal could you use the latest nightly build https://fuselabs.visualstudio.com/Composer/_build/results?buildId=192613&view=artifacts&pathAsName=false&type=publishedArtifacts to try this bot again. You may need to provide a authoring region after openning the bot, you can go to app settings and type the westus for the region and then click start all bot button. Then test it with emulator, you wi

[2020-12-08 11:19] #5211 closed

[2020-12-08 11:50] lopejum commented on #5038
Dear support team,

After several days, I don't have any response about my issue...

So, is there any way to use Bot Composer with other languages (Spanish, German, French...) rather than default English and publish to LUIS app with these "culture languages"?

Thanks!

[2020-12-08 11:56] hibrenda opened #5224 ""new template“ in lg all up view will mess the lg format"
## Describe the bug

1. create a todoluis bot
2. go to lg page
3. click "new template" in common lg
4. input template name "welcome" and lg content "welcome"
![image](https://user-images.githubusercontent.com/43408889/101480685-feecc080-398e-11eb-9d82-5109307b85e0.png)
5. start bot will hit issues.
![image](https://user-images.githubusercontent.com/43408889/101480768-1c218f00-398f-11eb-9e82-8ef259

[2020-12-08 12:09] #5214 closed

[2020-12-08 14:04] #5076 closed

[2020-12-08 14:30] #5165 closed

[2020-12-08 14:30] #5193 closed

[2020-12-08 14:45] goergenj opened #5225 "[MCS-DE-GO] Syntax highlighting error "-""
When adding a new Intent-trigger and adding new utterances, the syntax highlighing reports the leading "-" as an error.

![image](https://user-images.githubusercontent.com/31212469/101498435-62b1c200-396c-11eb-9724-0db7255696f9.png)

@joaollq @goergenj @garypretty @benbrown @cwhitten

[2020-12-08 14:52] #5182 closed

[2020-12-08 15:03] cwhitten commented on #5225
@goergenj please provide more information, like which version of Composer you are seeing this on. Thanks.

[2020-12-08 15:30] EricDahlvang commented on #5105
I wish AlwaysPrompt were the default.

[2020-12-08 15:33] #5004 closed

[2020-12-08 15:34] benbrown commented on #5122
@luhan2017 correct this should fix it.

Regarding my other comment -- I believe what happens is that when you start the bot the first time,he local publish process merges in the multiply dialog schema automatically. As a result, the multiplydialog schema is present in the main schemas/sdk.schema when the package manager goes to re-process the schema files, and does not cause this error.

[2020-12-08 15:44] EricDahlvang commented on #4761
This is a valid request. However, i'm not sure we will be adding a DoWhile action to the sdk's default actions.  Unfortunately, i also do not know how to add an iterative custom action to Composer.  The .uischema pieces do not seem to be exposed, or this requires a custom ui package?

Please follow along here, where this is currently being discussed:
 https://github.com/microsoft/botbuilder-dotnet

[2020-12-08 15:46] goergenj commented on #3316
@benbrown / @garypretty Any update regarding timeline for this?

[2020-12-08 15:54] goergenj commented on #3317
@garypretty Any update regarding timeline for this?

[2020-12-08 16:50] #4904 closed

[2020-12-08 17:10] cwhitten commented on #5084
@scheyal we're bound to the errors that LUIS sends us. If you can provide the offending LU file we can see what LUIS is returning we can look for improvements to be made

[2020-12-08 17:13] Mrigankinsofe opened #5226 "Regarding Clickable cards"
## Is your feature request related to a problem? Please describe.

Currently, there is an option to create static clickable card options. But I have a use-case where I need to pull some data based on what the user has given as input and then display the pulled options as clickable cards.

## Describe the solution you'd like

Now I am fairly new to the Bot Framework composer. But based what I under

[2020-12-08 17:28] dmvtech opened #5227 "Need indication or handling of trailing whitespace in expressions"
## Is your feature request related to a problem? Please describe.

This is relate to the issue [here](https://github.com/microsoft/BotFramework-Composer/issues/5111#issuecomment-740259962). Specifically if you have an expression that ends in whitespace, the end result will be a concatenation of whatever the expression should be with that whitespace. This can be very hard to troubleshoot if you don

[2020-12-08 17:28] dmvtech commented on #5227
@boydc2014

[2020-12-08 17:33] #5159 closed

[2020-12-08 17:35] cwhitten commented on #5114
@tsuwandy can you fill out the description a bit more with your ask? Screenshots, expected behavior, etc. Thanks!

[2020-12-08 17:41] cwhitten commented on #5115
We're going to bring back the restart button in the top nav, and as soon as one of the bots are online we will automate opening the runtime manager so the Test in Emulator link is visible.

[2020-12-08 17:45] cwhitten commented on #5132
We want to add a confirmation dialog similar to when we are deleting a dialog referenced somewhere else in the conversation like below:

![Screen Shot 2020-12-08 at 9 21 18 AM](https://user-images.githubusercontent.com/1156704/101521026-1a79ac00-393a-11eb-8eb4-797d9e44743e.png)

[2020-12-08 17:49] cwhitten commented on #5136
Adding @sangwoohaan  for comment. This is by design and @liweitian explains it well enough. We may want to add additional working to this effect.

[2020-12-08 17:49] dmvtech commented on #5227
#5111

[2020-12-08 17:50] cwhitten commented on #5140
This is addressed in the latest nightly

[2020-12-08 17:50] #5140 closed

[2020-12-08 17:53] cwhitten commented on #5174
Assigning @garypretty for tracking. @cxbuilders you are right that this is a big impact change and applies to lower layers in the SDK stack. We will seek to understand the scenarios a bit more and prioritize accordingly.

[2020-12-08 17:55] cwhitten commented on #5222
@goergenj can you provide a bit more information? What version of Composer, repro steps, etc. Thank you!

[2020-12-08 18:06] beyackle opened #5228 "Strange behavior of "Sentence wrap" setting text"
## Describe the bug

- "Display lines that extends beyond" is poor grammar
- Toggling the switch on and off makes the description wrap in different places (see screenshots)

## Version

nightly 192805.f738895

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

[2020-12-08 18:07] beyackle commented on #5228
The screenshots looking shifted is just an artifact of not having the screenshot rectangles line up exactly; the problem is just in the descriptive text.

[2020-12-08 18:13] #5121 closed

[2020-12-08 18:25] GeoffCoxMSFT opened #5229 "Preview feature toggles won't load if new property is added to defaults."
## Describe the bug

Recently descriptionLink was added to the FeatureFlag type, this caused Composer server to 500 when loading previously saved feature flags.

## Version

main branch
2020/12/08

## Browser

- [ ] Electron distribution
- [ X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Previou

[2020-12-08 18:28] beyackle opened #5230 "FORM DIALOGS: Fields with a range should display range in collapsed row"
## Describe the bug

There's room to display a limited-range field's range in the single-row summary version.

## Version

nightly 192805.f738895

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a new form dialog schema
2. Add an integer or number

[2020-12-08 18:30] beyackle commented on #5230
The range could be appended to the type (e.g. "INTEGER (1–3)" with an en-dash).

[2020-12-08 18:34] beyackle opened #5232 "FORM DIALOGS: Confusion over two "date-time" field types"
## Describe the bug

There are two field types that both seem to be a date/time (`date-time` and `datetime.schema`). The difference is unclear.

## Version

192805.f738895

## Expected behavior

Either clarify the difference between `date-time` and `datetime.schema` or remove one.

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/101525683-7a735100-3940-11eb-9be8-9a08e84

[2020-12-08 18:51] mewa1024 opened #5233 "Start bot error window cuts off long messages"
## Describe the bug

Minor thing: when my bot fails to start, the window that shows the error is too narrow for me to see the full message.

## Version

1.2.1-nightly.192562.25b5869

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create and start a bot.

[2020-12-08 19:03] mewa1024 commented on #5054
I'm still hitting this issue with the nightly release from Monday Dec 7 - nightly-192562.25b5869.

[2020-12-08 19:16] tdurnford opened #5234 "[bot-project] Users should not have the option to add current bot as a skill"
## Describe the bug
When the user adds a new skill using the 'Open existing bot' option, they can select the root bot they're currently working. This behavior breaks the project tree.

## Version
Local build from main

## To Reproduce

Steps to reproduce the behavior:

1. Open bot in Composer
1. Add a skill to the bot by selecting the 'Open existing bot'
1. Select the bot you're working on from th

[2020-12-08 19:19] mewa1024 commented on #5059
also effects when the user says "change <propertyname>" anywhere in the conversation. Bot expects "change <propertyvalue>". Example of saying "change toppings" with LUIS trace shown here:

![image](https://user-images.githubusercontent.com/39317542/101530748-2ddf4400-3947-11eb-85fc-bb597eac4cc5.png)

[2020-12-08 19:33] #5205 closed

[2020-12-08 19:34] scheyal opened #5235 "Document cross-training parameters"
## Describe the bug
Customer asked how to configure downsampling parameters?
What are these values, range, and how to tune up with those values?

[code]

## Version

## Browser

- [X ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Set up a qnamaker/luis dispatched Compo

[2020-12-08 19:34] dmvtech commented on #5038
Hi @lopejum I'm looking into this and should have some sort of update for you today.

[2020-12-08 19:39] beyackle opened #5236 "Descriptions for Missing() and Change() seem switched"
## Describe the bug

After a form dialog is generated, the descriptions of the Missing() and Change() action seem to refer to what the other should do. "Missing" currently says "has a value but is being changed", while "Change" says "adding expected value to empty property".

## Version

192805.f738895

## Expected behavior

Comments should correctly describe the actions they belong to.

## Screen

[2020-12-08 19:49] garypretty commented on #5013
Thanks for the additional info @CopenhagenJames.  We will include this as part of future planning consideration.

[2020-12-08 19:51] mewa1024 commented on #5059
Sorry--the plot keeps thickening. With the same bot as above (and running it in the same instance, but in different Emulator conversation), "change whole wheat to rye" **does** work. Here are screenshots of both LUIS traces for "change whole wheat to rye":
![image](https://user-images.githubusercontent.com/39317542/101534169-a2b47d00-394b-11eb-92b8-4cb13366dd30.png)
![image](https://user-images.gi

[2020-12-08 19:54] #5102 closed

[2020-12-08 19:54] #5229 closed

[2020-12-08 19:57] garypretty commented on #4758
@hcyang no, this will stay open as a backlog item for future planning consideration.

[2020-12-08 20:16] beyackle opened #5237 "Generated form dialog asks for email for "personname" field, won't take one"
## Describe the bug

I was testing a form dialog with "personname" as a field type, but the bot asked for an email for the field and then wouldn't accept one when I tried to give it one.

## Version

nightly 192805.f738895

## To Reproduce

Steps to reproduce the behavior:

1. Generate a form dialog with a field of type `personname` (and a trigger to get into it)
2. Use the Emulator to enter the d

[2020-12-08 20:17] mewa1024 commented on #5056
still not working with nightly-192562.25b5869, using the same sandwich schema, shown here with the first LUIS trace expanded:
![image](https://user-images.githubusercontent.com/39317542/101536726-3f2c4e80-394f-11eb-8cf8-834328983ecb.png)

and the second LUIS trace (consultation):
![image](https://user-images.githubusercontent.com/39317542/101536831-62ef9480-394f-11eb-92b3-9f1a087cf078.png)

[2020-12-08 20:20] beyackle opened #5238 "Generated form dialog breaks on integer request"
## Describe the bug

I made a form dialog that asked for an integer. When I told the bot to add that field, it told me to enter an integer (between 1 and 3, in this case). I replied "2", and got the error message seen in the screenshot below.

## Version

nightly 192805.f738895

## Expected behavior

It should just accept the value and move on.

## Screenshots

![image](https://user-images.githubu

[2020-12-08 20:41] gbelenky commented on #5073
Hello @feich-ms ! Yes, I probably did. How do I solve the issue for this PC?
Thanks!

[2020-12-08 20:45] #5122 closed

[2020-12-08 20:50] gbelenky commented on #4458
@feich-ms -  it seems to be an issue with my home WIFI router firmware + my PC. I have the same issue when publishing Azure Functions on the same WIFI. I used a different WIFI network and could not reproduce the issue. Around one month ago I  had a firmware update of my WIFI router - that probably causes the issue with my PC. My Mac has no problems though.

[2020-12-08 20:56] dmvtech commented on #5038
Hi @lopejum

To clarify; are you configuring Composer to use other languages than just English, or are you wanting to use Composer with English language, but use the Spanish local/resource for LUIS?

I was able to reproduce your issue somewhat by doing the following:

1. Launch Composer (both, Desktop version or web composer ) [Only using en-us local/language]
2. Create a simple dialog
3. Use LUIS

[2020-12-08 21:48] cwhitten commented on #4887
@GeoffCoxMSFT it shouldn't republish LUIS models if there are no changes. cc @boydc2014 @zhixzhan

[2020-12-08 21:50] hatpick commented on #5232
@mewa1024 as you know, one is coming from templates and one is JSON schema valid format for string values, what do you think?

[2020-12-08 22:02] taicchoumsft opened #5239 "Windows Installer doesn't detect older Visual Studio Visual C++ installs properly"
## Describe the bug
On certain tester's machines with an older version of VCredist 2015-2019 or Visual Studio 16-19 installed, the vcredist version doesn't include `vcruntime140_1.dll`, which Orchestrator links against. This causes the installer to not install the latest version of vcredist, and in turn causes a hang on splash screen as Orchestrator isn't able to load the `vcruntime140_1.dll` depe

[2020-12-08 22:04] scheyal commented on #5235
Also, lots of articles on the subject, none of which really explains this section (need composer specific config explanation).

* https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-cross-train?view=azure-bot-service-4.0
* https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-cross-train?view=azure-bot-service-4.0

[2020-12-08 22:25] lopejum commented on #5038
Hello,

Maybe the issue comes when I select this option (just "Spanish"):
![image](https://user-images.githubusercontent.com/28530984/101545452-9231f000-39a7-11eb-88dd-89ffa2e7b3d4.png)

So, the culture is not well created (only "es"; not "es-es"):
![image](https://user-images.githubusercontent.com/28530984/101547137-1c7b5380-39aa-11eb-9754-6c00c81fb4d1.png)

That way, when a creates some utteranc

[2020-12-08 22:43] tonyanziano commented on #4905
@EricDahlvang FYI pulling will create a backup folder containing your bot content before you pulled. This is located at the following location for Windows:

`%APPDATA%/Bot Framework Composer/backup/<bot-name>.<timestamp>/`

[2020-12-08 22:43] GeoffCoxMSFT commented on #4887
I created a bot (form dialogs) and published it.  Took ~2:30 to publish and have running.  Then stopped it and updated only the top level dialog to start the child dialog right after the Greeting action.  Published again and it too ~2:20 to publish and have running again.

[2020-12-08 22:58] srinaath commented on #5115
We added a restart all bots button. In addition, when the operation is complete the panel opens up automatically.

[2020-12-08 23:22] sangwoohaan commented on #5219
The default publish target thing seems interesting, we may want to hold onto it for now though. I can see we can connect the idea of it to publish environment settings in the future so I want to take a bit more time to tackle.
How about the dropdown remembering the target that was just used previously?

[2020-12-08 23:41] scheyal opened #5244 "Exported solution with QnAMaker configuration is not fully functional due to missing KB Id"
## Describe the bug
Export a bot with a few (1+?) QnAMaker KBs. Fill in new KB Id in settings. Start bot, and KB queries will show up in trace with error messages:
[code]

Bot configuration is correct (and data shows up in the portal):

[code]

## Version

V1.2.1-nighly.192805.f738895

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
-

[2020-12-08 23:45] scheyal commented on #5244
KB does exist on portal as was published by Composer engine.

[code]

[2020-12-09 00:00] scheyal commented on #5202
Issue resolved. It took a complete cleanup.

Note: I restarted everything, rebooted my machine, cleaned all apps, KBs, upgraded Composer to latest nightly, recreated the solution (removed generated).

[2020-12-09 00:01] sangwoohaan commented on #5132
![Skill bots](https://user-images.githubusercontent.com/50963385/101555947-8c6be880-396e-11eb-954b-f4bd9a6387a4.png)

This would do.

https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Composer-main-design-spec-UI-library?node-id=7576%3A211

[2020-12-09 00:21] dmvtech commented on #4926
@BeheraMadan I'm not sure either. The QnAMaker dialog sure doesn't have anything built in to do this, as you have found.  I played with a bunch of approaches, such as:

- `turn.lastresult.text`
- `turn.intents[0]`

No luck yet. I'll continue to investigate and see if there is a way or if a limitation.

Would you be able to accomplish your goal using [Active Learning](https://docs.microsoft.com/en-

[2020-12-09 00:29] cwhitten opened #5246 "Publish page issues"
![Screen Shot 2020-12-08 at 4 26 52 PM](https://user-images.githubusercontent.com/1156704/101557708-65afb100-3972-11eb-90ea-03a597c18e17.png)

![Screen Shot 2020-12-08 at 4 25 29 PM](https://user-images.githubusercontent.com/1156704/101557730-706a4600-3972-11eb-9427-c1250f0d3c41.png)

![Screen Shot 2020-12-08 at 4 27 18 PM](https://user-images.githubusercontent.com/1156704/101557713-66484780-3972-

[2020-12-09 00:31] #5239 closed

[2020-12-09 00:32] cwhitten commented on #5198
closed in https://github.com/microsoft/BotFramework-Composer/pull/5240

[2020-12-09 00:32] #5198 closed

[2020-12-09 00:36] #5115 closed

[2020-12-09 00:36] #5234 closed

[2020-12-09 00:38] #5190 closed

[2020-12-09 00:42] #5149 closed

[2020-12-09 01:04] zhixzhan commented on #5224
The correct LG template body should start with '-', but here inline editing filed component unable to show up the error.

[2020-12-09 01:05] boydc2014 commented on #5246
Note: column should be wider and text should truncate instead of overflow

[2020-12-09 01:11] chrimc62 commented on #4887
This is caused by down sampling being run on every publish which causes the model to be different.  Downsampling is also dropping utterances.  Once we stop down sampling this should be fixed.

[2020-12-09 01:17] luhan2017 commented on #2149
@BarisC I think this is because it is a GET request, and you want to POST the body. Could you please try to update the GET to POST?

[2020-12-09 01:39] dmvtech commented on #4926
@BeheraMadan Taking a look at the QnA Sample template helps (or it did for me).

Within a **QnA Intentet recognized** trigger, you can use something _like_ the following:
`turn.recognized.answers[0].questions`

[2020-12-09 01:44] cwhitten commented on #5244
@scheyal this by-design in the Emulator. You need to create a .bot file in the Emulator and add your QnA service to make the error go away if you want to see the trace information.

[2020-12-09 01:44] #5244 closed

[2020-12-09 01:58] hibrenda commented on #5233
https://github.com/microsoft/BotFramework-Composer/issues/5182

[2020-12-09 02:00] hibrenda commented on #5235
I have such discussion with @zxyanliu before for setting document.

[2020-12-09 02:49] ph479 opened #5250 "gjpëls"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2020-12-09 03:10] #5250 closed

[2020-12-09 05:33] mewa1024 commented on #5232
Yes, I think Chris described that for most cases "datetime.schema" is the better one for most situations. Let's address it in the GitHub doc for now.

[2020-12-09 05:35] mewa1024 commented on #5155
Will revisit for Composer 1.4.

[2020-12-09 07:20] #5207 closed

[2020-12-09 08:23] feich-ms commented on #5073
@luhan2017 I don't have enough experience to figure out the fix here. Could you guide this issue to someone who is familar with the Electron auth part?

BTW, @gbelenky is it possible to be related with your route just like you mentioned here https://github.com/microsoft/BotFramework-Composer/issues/4458#issuecomment-741008617

[2020-12-09 08:46] gbelenky commented on #4458
@feich-ms - might be related, but the web version works fine (except of the publishing issue above)

[2020-12-09 09:12] feich-ms commented on #5073
@gbelenky, have you ever followed this README https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/electron-server/AUTH.md to configure the auth? If so, could you try to uninstall these installation? Besides, could you also try another machine or another WIFI route? Sorry for the inconvenience.

[2020-12-09 09:18] #5104 closed

[2020-12-09 09:45] BarisC commented on #2149
Sorry I'm getting the same error. There is information that there is a
grant-type error. I want to show you the way I sent it and the error I got.
It is attached.

[image: 55.PNG]                           [image: error2.PNG]

Lu Han <notifications@github.com>, 9 Ara 2020 Çar, 04:17 tarihinde şunu
yazdı:

[2020-12-09 09:51] BarisC commented on #2149
Note: I used Post instead of Get. The problem continued.

Barış Çoruh <barislg54@gmail.com>, 9 Ara 2020 Çar, 12:45 tarihinde şunu
yazdı:

[2020-12-09 10:18] #5224 closed

[2020-12-09 10:27] gbelenky commented on #4458
@feich-ms - not related - I double checked with my mobile internet

[2020-12-09 10:30] garypretty commented on #5174
Thanks @cxbuilders.  Good suggestion. Now that we have tagged this as being on our backlog we will consider this in a future planning stage.

[2020-12-09 10:54] #5246 closed

[2020-12-09 11:00] feich-ms commented on #4458
@gbelenky thank you. Then that's totally another issue.

[2020-12-09 11:08] garypretty commented on #4156
@BeheraMadan is there a difference in the channels you are using for the dev / prod environments?  e.g. are you using emulator for dev and web chat for prod?

Given you have the same bot deployed to both environments and the telemetry is behaving correctly for the dev environment, this seems like it is an environmental issues as opposed to an issue with the Composer bot itself.

[2020-12-09 14:35] cxbuilders commented on #5174
@garypretty As part of the communication I had with @cwhitten I wrote a small document describing how it could be a good setup. The whole Bot Script extension etc is a bit of a stretch, but that made the doc more readable... :)
 [Bot Scripting in Composer V2.docx](https://github.com/microsoft/BotFramework-Composer/files/5666561/Bot.Scripting.in.Composer.V2.docx)

[2020-12-09 16:47] #5208 closed

[2020-12-09 16:55] scheyal commented on #5235
(also from Fei...)

maxImbalanceRatio is used to specify the sampling ratio when utterance amounts of each intent are significantly biased. For example, if we have a lu file in which intent A has 2 utterances and intent B has 100 utterances, the maxImbalanceRatio is set to 10, then the down-sampling mechanism in composer will sample intent B utterances amount to 2*maxImbalanceRatio = 20. But if we

[2020-12-09 17:16] gbelenky commented on #5073
@feich-ms - I set the variables as described in the article above, but was not able to find the installOneAuth.js on my machine. Where do I find it?
I also tried other WIFIs and it did not work.

[2020-12-09 17:39] mewa1024 commented on #5236
Should the nodes on the canvas not be showing comments anyway? (@sangwoohaan?)

[2020-12-09 19:05] beyackle commented on #5150
It looks like this was addressed in #5242 by adding `(Root Bot)` or `(Skill)` to the names of the bots in the tree.

[2020-12-09 19:28] mganeshphani opened #5261 "need property information from teams turn.activity.from"
as per the following issue: https://github.com/microsoft/BotFramework-Composer/issues/4587

i can get username from "turn.activity.from.name" property... i am also looking for email address of the user as well.
i am looking for documentation on what all properties does "turn.activity.from" object hold

[2020-12-09 19:41] cwhitten opened #5262 "Publish page UI issues"
![Screen Shot 2020-12-09 at 10 38 26 AM](https://user-images.githubusercontent.com/1156704/101678939-80863200-3a13-11eb-9bc9-dd78b4288d7b.png)
![Screen Shot 2020-12-09 at 10 38 56 AM](https://user-images.githubusercontent.com/1156704/101678942-811ec880-3a13-11eb-9397-7895be270fde.png)
![Screen Shot 2020-12-09 at 10 37 41 AM](https://user-images.githubusercontent.com/1156704/101678943-81b75f00-3a13

[2020-12-09 19:44] benbrown commented on #5262
The status message that says "Retrieve publishing details ..." should really say "Deploying updates" as it occurs directly before the zip upload step.

[2020-12-09 20:37] benbrown commented on #5262
The notification does not always close when the publish completes.  This also seems to cause the polling process to continue after it has completed.

[2020-12-09 21:00] benbrown opened #5264 "provisioning fails with token expiry error"
## Describe the bug

Sometimes, when I provision an environment with all of the optional resources turned on, it will fail with an error about token expiry during the Cosmos DB step:

[code]

## Version

`wenyluo/provision` branch

## Browser

- [x] Electron distribution

## OS

- [x] macOS

## To Reproduce

This happens intermittently when creating provisioning profiles that include ALL of the re

[2020-12-09 21:02] benbrown commented on #5264
I wonder if this is caused by the token expiring mid-way through the provision process. Can we refresh the token more regularly?

[2020-12-09 22:00] cwhitten opened #5265 "Downsampling adjustments"
This ticket represents turning off downsampling for all intents, and instead only runs it on the interruption intents when they exist.

This ticket also addresses a regression where LU models were published when there has been no change to them.

[2020-12-09 22:46] benbrown opened #5267 "publish to azure functions results in error on Azure portal"
## Describe the bug

After provisioning and then publishing to azure functions, I get this message at the top of the Azure portal, and my bot does not work in the web chat.

![Screen Shot 2020-12-09 at 4 44 14 PM](https://user-images.githubusercontent.com/729873/101697746-fc956f80-3a3d-11eb-9265-1fe4ea4eedd1.png)

## Version

`wenyluo/provision` branch

## Browser
- [x] Electron distribution

## O

[2020-12-09 23:32] #4769 closed

[2020-12-10 00:52] xiyangdesign opened #5269 "[when testing] object reference not set to an instane of an object"
## Describe the bug

![Screen Shot 2020-12-09 at 4 40 46 PM](https://user-images.githubusercontent.com/74994573/101706580-42eace80-3a3e-11eb-88c4-2039ff5ecae4.png)

## Version

![Screen Shot 2020-12-09 at 4 48 01 PM](https://user-images.githubusercontent.com/74994573/101706600-5007bd80-3a3e-11eb-80ae-82ce3c3c98ef.png)

## OS

- [X] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reprod

[2020-12-10 00:53] DS2019 opened #5270 "Add a Publish Profile > Publish Bot to PVA > No Bots Found"
## Describe the bug

In our default environment (and only environment) in our test tenant, I am trying out the Add a Publish Profile in Bot Composer and attempting to Publish my bot to PVA. We have 4 published bots and yet the message I get is "no bots found." Does anyone know why the Publish can't find the bots (it did find the default environment)?
![Add-Publish-Profile](https://user-images.gith

[2020-12-10 00:54] xiyangdesign opened #5271 "Generated form dialogs not grouping correctly"
## Describe the bug

see screenshot below: generated form dialogs not grouping correctly

![Screen Shot 2020-12-09 at 4 31 02 PM](https://user-images.githubusercontent.com/74994573/101706939-0ff50a80-3a3f-11eb-8e55-5b400952681a.png)

## Version
![Screen Shot 2020-12-09 at 4 53 43 PM](https://user-images.githubusercontent.com/74994573/101706973-1c796300-3a3f-11eb-8a73-afd3c427ef50.png)

[2020-12-10 00:58] xiyangdesign opened #5272 "FORM DIALOGS: be able to enter utterances/examples when collecting data through forms?"
## Is your feature request related to a problem? Please describe.

When 'add property', would it be possible to enter examples of the property, e.g. "Paris", "New York" in the case of "origin" (the property name)

![Screen Shot 2020-12-09 at 4 37 36 PM](https://user-images.githubusercontent.com/74994573/101707122-6c582a00-3a3f-11eb-8ea9-299b86f68d8a.png)

[2020-12-10 01:29] luhan2017 commented on #5073
@tonyanziano , could you please help take a look.

[2020-12-10 01:45] tonyanziano commented on #5073
The auth readme is only intended for local development of Composer, it is irrelevant to the production version of Composer. You do not need to run the `installOneAuth.js` script.

It is odd that we see the exception before we see the `composer:electron-auth-provider Initialized.` entry, however, this does not mean that the exception happened within that code path (which is just initializing a clas

[2020-12-10 02:20] lei9444 opened #5273 "page not found when click learn more for .net core install"
## Describe the bug
I use my new pc to run composer, click start bot
<img width="1298" alt="WeChat256633f0e72d0ad1821e6dbcbf318231" src="https://user-images.githubusercontent.com/39758135/101712740-2b105a80-3ad1-11eb-8315-28b0da4ba635.png">

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To R

[2020-12-10 04:56] #5265 closed

[2020-12-10 05:14] liweitian opened #5274 "Settings Page luis endpoint field issue"
## Describe the bug
1. The luis authoring key and luis endpoint key share the same error.
2. If luis authoring key and luis endpoint key are both empty, inputting into luis endpoint key field. The error on luis authoring key is gone. But luis endpoint key should be an optional field and not a substitute to luis authoring key.
3. region field error style is not the same as others
## Screenshots
![1

[2020-12-10 09:56] alanlong9278 commented on #5262
@cwhitten The reason for interactible chevron miss is column width can be resize in detail List. I have checked with demo in fabric detailList component. So I think we can forbidden the resize function for column to fix the bug.
![detailList](https://user-images.githubusercontent.com/5860999/101756408-f3290780-3b10-11eb-9604-2b283c3c0dc2.gif)

[2020-12-10 09:58] alanlong9278 commented on #5262
Add function to cancel notification after 5s. The polling process to continue after completed is because the clear logic is wrong. Have fixed it too. @benbrown

[2020-12-10 10:12] #5274 closed

[2020-12-10 15:41] #5262 closed

[2020-12-10 15:47] #5267 closed

[2020-12-10 17:03] dmvtech commented on #5226
Hi @Mrigankinsofe

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-12-10 17:04] dmvtech commented on #5226
Yes, this can be done. The best way is to utilize those products or dynamic values in an array or an object (or coming from LU intents if that is the case). Then use the [Templates](https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lg-file-format?view=azure-bot-service-4.0), [adaptive expressions](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adapt

[2020-12-10 17:04] #5226 closed

[2020-12-10 17:04] dmvtech commented on #5226
Yes, this can be done. The best way is to utilize those products or dynamic values in an array or an object (or coming from LU intents if that is the case). Then use the [Templates](https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lg-file-format?view=azure-bot-service-4.0), [adaptive expressions](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adapt

[2020-12-10 17:38] #5233 closed

[2020-12-10 17:39] benbrown commented on #5273
@zxyanliu can you help us track down the correct link for this?

[2020-12-10 17:44] zxyanliu commented on #5273
@benbrown I suggest the following link:
https://aka.ms/install-composer

[2020-12-10 17:49] benbrown commented on #5227
@lei9444 can you investigate whether it is possible to turn on visible whitespace characters in order to highlight trailing whitespace chars that could interfere with LG and expressions?

[2020-12-10 17:51] #5202 closed

[2020-12-10 17:54] hatpick commented on #5227
https://github.com/microsoft/monaco-editor/issues/1932

[2020-12-10 17:58] #5157 closed

[2020-12-10 17:58] benbrown commented on #5157
This has been fixed!

[2020-12-10 18:14] selvaduraiece commented on #5055
That sounds good.  Thanks

[2020-12-10 18:26] beyackle commented on #5271
This looks like it's been fixed in 193817.48689d3.
![image](https://user-images.githubusercontent.com/61990921/101813916-344df700-3ad2-11eb-87d4-f526f310ebb3.png)

[2020-12-10 18:35] #5150 closed

[2020-12-10 18:35] chrimc62 commented on #5059
This should be fixed.

[2020-12-10 18:35] #5059 closed

[2020-12-10 18:37] #5058 closed

[2020-12-10 18:38] chrimc62 commented on #5057
This should largely work now except in the case of string entities where it requires an update to the runtime.

[2020-12-10 18:38] #5057 closed

[2020-12-10 18:39] #5056 closed

[2020-12-10 18:41] chrimc62 commented on #5269
Can you share your schema and bot?

[2020-12-10 18:54] xiyangdesign commented on #5271
Great!

[2020-12-10 18:54] #5271 closed

[2020-12-10 19:03] xiyangdesign commented on #5269
I used the ToDoBotWithLUIS shown on the Composer homepage. I tried again just now using the latest nightly version. The error was gone!

Just FYI, in case it appears in the future:
schema:
1. property name: origin (any string)
2. property name: dest (any string)
3. property name: date (any string - just to simplify the case)

Bot:
ToDoBotWithLUIS - the template

[2020-12-10 19:03] #5269 closed

[2020-12-10 19:10] hatpick opened #5285 "LUIS missing authoring key error right after form dialog generation"
## Describe the bug

Suppose a user has already set the LUIS authoring key in the bot settings.
When they generate a new dialog using form dialog generation (uses LUIS), when they get back to design page, there is an error in the project tree saying that LUIS authoring key is missing. Refreshing the page resolves the error.

## Version

Latest main.

## Browser

All

## OS

All

## To Reproduce

S

[2020-12-10 19:27] #5273 closed

[2020-12-10 19:40] scheyal opened #5286 "Recognized intents sometimes do not fire although recognized correctly."
## Describe the bug
A recognized intent with high confidence (> 0.9) only is only activated for some utterences even if recognition score is very high.
Repro is consistent (for specific bot).

## Version
1.2.1-nightly.192805.f738895

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to r

[2020-12-10 19:43] zxyanliu commented on #5176
Closing this issue for now and will reopen when necessary.

[2020-12-10 19:43] #5176 closed

[2020-12-10 19:58] dmvtech commented on #4994
I am looking into this.

[2020-12-10 21:01] #5191 closed

[2020-12-10 21:20] hatpick commented on #5271
@xiyangdesign would you please share your schema (.form file under your bot files, form-dialogs folder)

[2020-12-10 21:37] tonyanziano commented on #5270
Hi @DS2019 ,

When you go to manage your bots in PVA, what URL are you accessing them at?

Does the URL look something like this? `https://powerva.microsoft.com/environments/<environment>/bots/<botId>`

There are different management URLs and the publishing UI only targets one of them, so I'm wondering if your bots are on one of the other URLs.

[2020-12-10 21:50] DS2019 commented on #5270
Hi there,
Thanks!
For one of our bots called Automation Tests, this is the URL when I click “Home” for that bot:
[cid:image002.jpg@01D6CEFB.6684F130]
Here is another bot, Create Bots with PVA:
[cid:image003.jpg@01D6CEFB.6684F130]
They both have the format for the URL as you have shown.
Appreciate the help!

From: Tony Anziano <notifications@github.com>
Sent: Thursday, December 10, 2020 1:38 PM
To:

[2020-12-10 21:54] DS2019 commented on #5270
![BotURLPics](https://user-images.githubusercontent.com/44073678/101834366-1d69cd80-3aef-11eb-823d-dcf69f8946ac.jpg)

[2020-12-10 22:17] beyackle opened #5292 "Keyboard focus is invisible on the "Add" circle and the zoom in/out/center buttons"
## Describe the bug

Tab navigation across the Design View buttons is difficult when the visible focus vanishes.

## Version

 1.3.0-rc3

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open the Design view and make a new Trigger somewhere (just to keep t

[2020-12-10 22:22] dmvtech commented on #4994
Hi @knightmeister I'm unable to reproduce this.

No error and it **_is_** posting back:
[code]

I assume you do have the template name/identifier for the card (other wise should error in designer), but just to clarify, I'll share exactly what I have:

[code]

[code]

[2020-12-10 22:26] beyackle opened #5293 "Active language callout stays open when it loses KB focus"
## Version

1.3.0-rc3

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open Composer
2. Press Tab enough times to go to and then past the "active language" callout in the title bar (or just hold Tab down)
3. The Active language callout stays open

## Expe

[2020-12-10 22:31] #5285 closed

[2020-12-10 22:33] tonyanziano commented on #5270
Hmmm, ok that looks to be the right environment. Let me do some digging around in the code and see if there is a good way to debug this.

[2020-12-10 22:33] DS2019 commented on #5270
Thanks! Anything I can do or info\config you'd like me to provide, just let me know.

[2020-12-10 22:43] beyackle opened #5294 "Expression dropdown doesn't work with KB nav"
## Describe the bug

The dropdown menu of functions that comes up when you type `=` into an expression field can be navigated using the keyboard, but won't insert a function when selected.

## Version

1.3.0-rc3

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior

[2020-12-10 22:47] GeoffCoxMSFT opened #5295 "Composer server should return error information for form dialog generation"
## Describe the bug

The generation call is always returning success even when there are problems reported by bf-generate.

## Version

main branch, 2020-12-10

## Browser

- [ ] Electron distribution
- [ X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ X] Windows
- [ ] Ubuntu

## To Reproduce

N/A

## Expected behavior

Return errors from the server.

[2020-12-10 22:51] beyackle opened #5296 "LUIS region dropdown in skill bots is still text input, not a dropdown"
## Describe the bug

(see title)

## Version

1.3.0-rc3

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to the Project Settings page for a bot with skills
2. Click on a skill in the left column
3. Click the "Use custom LUIS region"
4. This is still Te

[2020-12-10 22:52] scheyal commented on #5286
Filed on behalf of customer

[2020-12-10 23:23] tonyanziano commented on #5270
Ok, bear with me here, but I would like you to try something.

1. Find where Composer is installed on your machine. You can do this by right-clicking the Composer shortcut and looking at the Properties, or by selecting "Open file location" until you end up in the directory.

2. Open a CMD prompt or terminal of your choice and navigate to the install directory from step 1.

3. run the following com

[2020-12-10 23:23] benbrown opened #5300 "publishing JS runtime to azure functions results in a misconfiguration"
## Describe the bug

When I publish a Javascript runtime to the Azure Functions target, I get an error in Azure:

![Screen Shot 2020-12-10 at 5 08 37 PM](https://user-images.githubusercontent.com/729873/101841726-1ef5be80-3b0c-11eb-88ee-1f43cd0472c6.png)

This may be related to the `FUNCTIONS_WORKER_RUNTIME` setting, which is always set to `dotnet`

![Screen Shot 2020-12-10 at 5 21 40 PM](https://

[2020-12-10 23:36] dmvtech commented on #5106
I'm closing this one as it it is working for you. If you have reproducible steps to exhibit a bug, please open another issue.

[2020-12-10 23:36] #5106 closed

[2020-12-10 23:43] beyackle opened #5301 "Keyboard focus rectangle is hard to see in ProjectTree"
## Version

1.3.0-rc3

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Use the keyboard to navigate around any of the pages with a ProjectTree
2. Navigate to the ProjectTree itself (you might need to hit the down arrow from the Filter box to get to it)
3.

[2020-12-10 23:54] tonyanziano opened #5302 "Custom runtime settings overlapping with publish settings"
## Describe the bug

Some of the runtime settings content overlaps with the publish settings when expanded

## Version

Latest `main` (`dad56bec2917aa99fd332b647638052784697004`)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open a bot project
2. Go to

[2020-12-11 00:05] DS2019 commented on #5270
Fabulous instructions, thank you! Here's the request response (with GUIDs obfuscated with XXXX):

[
    {
        "id": "df1eXXXX",
        "aadTenantId": "6168XXXX",
        "name": "Teams Channel Test",
        "region": {
            "id": "Default-6168XXXX",
            "displayName": null,
            "primarySecurityGroupId": null,
            "default": false,
            "url": null,

[2020-12-11 00:06] #5295 closed

[2020-12-11 00:31] anusharavindrar commented on #5261
@mganeshphani, we do not have any specific documentation for the turn.activity.from object properties, but you can refer to https://github.com/Microsoft/botframework-sdk/blob/main/specs/botframework-activity/botframework-activity.md#from and https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-basics?view=azure-bot-service-4.0#activities to get started. Also, you can use the emulator to

[2020-12-11 00:41] mganeshphani commented on #5261
@anusharavindrar  what is the best way to get email address of user interacting from teams?

[2020-12-11 00:41] beyackle opened #5303 "KB navigation in Forms screen: Accept multiple values"
## Describe the bug

When the "Property name/type" box is open, trying to toggle "Accept multiple values" with the keyboard results in the card collapsing instead.

## Version

1.3.0-rc3

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Enable Forms and go

[2020-12-11 00:44] #5027 closed

[2020-12-11 01:05] tonyanziano commented on #5270
Ok so it looks like there are bots in that tenant & environment combo. I see 4 of them, as is expected, right? Do those look like the 4 bots you mentioned previously?

If so, I wonder why the UI isn't seeing those. It should be making that exact request under the hood.

[2020-12-11 01:06] boydc2014 commented on #5264
supposed to be fixed, according to @luhan2017

[2020-12-11 01:22] v-kydela commented on #5180
@selvaduraiece - Are you still working on this?

[2020-12-11 01:29] #4826 closed

[2020-12-11 02:20] #5054 closed

[2020-12-11 03:41] luhan2017 opened #5304 "When add a new dialog with the same name as root dialog, publish PVA bot error"
## Describe the bug

I am pulling a PVA bot which is called test.
Then, I add a dialog in the bot also called test.

I will get an error for publishing, because now there are two dialogs placed in the root folder:
PowerVirtualAgentRoot.dialog
test.dialog

---
{
  "code": "InvalidDialogLocation",
  "range": null,
  "severity": "Error",
  "source": "PowerVirtualAgentRoot.dialog",
  "message": "The d

[2020-12-11 07:20] selvaduraiece commented on #5180
No got it. Thanks lot.

[2020-12-11 07:20] #5180 closed

[2020-12-11 07:31] RajdeepRay0411 opened #5308 "Null Reference Exception coming every time on call of any dialog for who skill in composer"
## Describe the bug

Null Reference Exception coming every time on call of any dialog for who skill in the composer though Luis is triggering the correct flow according to the intent.

## Version

Bot Framework Composer (v 1.2.1)

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Download the solution for who skill from Github.
2. Run the applicat

[2020-12-11 07:43] #5238 closed

[2020-12-11 07:43] #5237 closed

[2020-12-11 07:55] ashokdevlabs opened #5309 "Conversation state unavailable error when adding Twilio/ Infobip service integration"
## Describe the bug

I have ejected runtime code from composer and adding Twilio adapter to path ..\runtime\azurewebapp

Then, trying to test this service

I am getting an error in Core project saying that Not able to find ConversationState:
Project : Core
File : ComposerBot
Method :

public override async Task OnTurnAsync(ITurnContext turnContext, CancellationToken cancellationToken = default(Can

[2020-12-11 08:03] #5304 closed

[2020-12-11 08:18] Mrigankinsofe commented on #5226
Hey thanks @dmvtech. I will check this out ! Thanks a ton. I will also post any further 'How-to' queries on Stack-overflow. Thanks!

[2020-12-11 10:01] #5302 closed

[2020-12-11 13:44] UmaPrelude opened #5312 "Automatic Sign-in to execute ProvisionComposer.js /Deploy Resources"
Hi,

I am using provisioncomposer.js to deploy the resources, but with that we will have to manually sign-in by pasting the url and code. Is there an option to use service principal / managed identity /connect command to automatically login from some configuration.
(I am new to those concepts, please correct me if i am wrong somewhere)

I have configured provisioncomposer.js in Jenkins. I want to

[2020-12-11 16:47] DS2019 commented on #5270
Hi,
Yes, those are the 4 bots, not sure why the PVA Publish is not seeing those. I did see this post: https://www.spyglassmtg.com/blog/required-tools-pva
where the author mentions in a note at the bottom where the new version of Bot composer (Nov 2020) - he can't make publish to PVA work in his setup, although he didn't elaborate as to the issue.
Thanks for your help,

[2020-12-11 17:10] gbelenky commented on #5073
@tonyanziano - no change after installing the nightly build
![composernightly](https://user-images.githubusercontent.com/26817885/101933236-3308f100-3bdc-11eb-935e-667c8a386590.jpg)

[2020-12-11 18:09] tonyanziano commented on #5073
Ok, if you're around next week I'd be happy to jump on a call and take a shot at debugging this.

[2020-12-11 18:12] mewa1024 opened #5317 ""Set a property" and "Set properties" -- do we need both? Can we just have "Set properties"?"
## Is your feature request related to a problem? Please describe.

If I add "Set a property" and then later realize I want to set more than one property, I have to go back and add a "Set properties" action.

## Describe the solution you'd like

Can we have just the "Set Properties" action, which allows for one or more propertes?
## Describe alternatives you've considered

## Additional context

![

[2020-12-11 18:24] tonyanziano commented on #5270
Ok let's try to see what's going on in the network traffic then. Can you please [install Fiddler](https://www.telerik.com/fiddler) if you don't have it already? Or some sort of network sniffing tool.

Then start the tool, and try to create the PVA publishing profile.

You should see some entries in your tool that look like this:

`/api/extensions/proxy/https%3A%2F%2Fpowerva.microsoft.com%2Fapi%2Fb

[2020-12-11 18:29] dmvtech commented on #5308
Hi @RajdeepRay0411

Can you please link the Who skill? I'm not familiar with that one.

The suggestion I might have have at this point would be to eject the runtime and debug to see where it might be failing. Are you sure you have all the configuration info setup needed for the skill to be called?

[2020-12-11 18:46] #3384 closed

[2020-12-11 18:46] #3385 closed

[2020-12-11 18:46] #4690 closed

[2020-12-11 18:46] #4692 closed

[2020-12-11 18:46] #4693 closed

[2020-12-11 18:46] #5264 closed

[2020-12-11 18:57] #5038 closed

[2020-12-11 19:06] tonyanziano commented on #5312
@benbrown can you please comment on this?

[2020-12-11 19:41] benbrown commented on #5312
This provision script using ARM templates and the az cli to achieve the outcome.  It is possible to use your own mechanism and auth to execute the ARM templates, but we do not plan to add this functionality natively to the provision script.

[2020-12-11 19:41] benbrown commented on #5133
Possibly not a bug.

[2020-12-11 19:48] #3390 closed

[2020-12-11 20:02] benbrown commented on #5026
The templates will be yeoman generators.  The code below demonstrates how to use the `yeoman-environment` tool to download and then instantiate a template.

[code]

Running code as above should result in the yeoman template processing its internal logic and writing all resulting files in to the SOME_PATH_TO_PROJECT folder.

After that, we need to perform the runtime specific build (npm install or

[2020-12-11 20:04] benbrown commented on #5026
I would propose that for now, we create a very simple yeoman template that we can test with - perhaps just wrap a very simple bot project in a yeoman template and just verify that the process works as expected.

[2020-12-11 20:20] benbrown opened #5319 "creation: apply user specified choices to template during creation"
## Describe the solution you'd like

We will have the name, preferred language and hosting option (app service or functions) as variables after the creation process.  We need to apply these settings to the newly instantiated templates.

In addition, some additional options (name of template, runtime language selection, etc) may need to be applied to the template so that the new template knows whic

[2020-12-11 20:25] RajdeepRay0411 commented on #5308
Hi @dmvtech, hereby attaching the link for who skill: https://github.com/microsoft/botframework-components/tree/preview-build2020/skills/declarative/whoskill

[2020-12-11 20:36] tonyanziano commented on #4875
@dmvtech making sure that this is still on your radar.

[2020-12-11 20:42] benbrown opened #5320 "creation: channel enablement v0.0.1"
## Describe the solution you'd like

We will build a tool in Composer to allow a user to enable or disable certain "Channels" that are associated with the bot registration in Azure Bot Service.

Channels we are interested in:

* Direct Line
* Direct Line Speech
* MS Teams

Each of these basically exists in either an "ON" or "OFF" state.  There may be some sub-options for some of the channels - thi

[2020-12-11 21:05] v-kydela commented on #5309
Thank you for the report, @ashokdevlabs. In order to diagnose the problem, I would like to determine if it's related to the ejected Composer runtime and if it's related to Twilio.

1. Does your ejected runtime work with other channels that use your normal `api/messages` endpoint instead of `api/twilio` (Emulator, Web Chat, Teams)?
2. Can you get the Twilio adapter to work with an ordinary echo bot

[2020-12-11 21:43] #5296 closed

[2020-12-11 21:46] RajdeepRay0411 commented on #5308
Yes @dmvtech, all the configuration info required for the skill is added in appsettings.json. Still, I am facing the same issue.

[2020-12-11 22:03] ashokdevlabs commented on #5309
My answer is No to 1 and Yes to 2.

- When it comes to point 1, I am able to open ejected runtime solution in VS and run the solution by attaching the process. Here are I am able to test it with Emulator and receiving proper response from Bot.
- When it comes to twilio adapter, I am able to open ejected runtime solution in VS and run the solution by attaching the process. Here I am posting the mes

[2020-12-11 22:32] v-kydela commented on #5309
@ashokdevlabs - Sorry, I'm a little confused so I need to clarify this. You said your answer is no to 1, which implies that your ejected runtime does not work with any channel. But then you say:

This makes it sound like you should have answered yes to 1 because your ejected runtime is working correctly with other channels like Emulator. Can you clarify whether your ejected runtime works with chan

[2020-12-11 22:36] ashokdevlabs commented on #5309
Correct, Ejected runtime works with channels besides Twilio

[2020-12-11 22:47] v-kydela commented on #5309
@ashokdevlabs - Okay so if your answer is yes to 1 then what is your answer to 2? Have you tried the Twilio adapter with an ordinary echo bot?

[2020-12-11 22:49] ashokdevlabs commented on #5309
I have tried with Bot Framework and it is working without any issues but not with composer

[2020-12-11 22:53] v-kydela commented on #5309
@ashokdevlabs - Okay so your answer is yes to both?

Please provide the full stack trace and some screenshots.

[2020-12-11 23:05] #5228 closed

[2020-12-11 23:34] srinaath opened #5321 "Prevent Start Panel Open on Restart"
## Describe the bug

Start Panel does not open once start/restart operation completes. In addition, prevent flicker of Panel Status when restart operation queued.

On Main

[2020-12-12 00:08] ashokdevlabs commented on #5309
We are getting error on below line
public override async Task OnTurnAsync(ITurnContext turnContext, CancellationToken cancellationToken = default(CancellationToken))
        {
            if (this.removeRecipientMention && turnContext?.Activity?.Type == "message")
            {
                turnContext.Activity.RemoveRecipientMention();
            }

            **await this.dialogManager.OnTu

[2020-12-12 00:35] #5321 closed

[2020-12-12 07:13] peterbozso commented on #4826
This is great! Thank you @luhan2017 and @feich-ms for your prompt responses and quick help! It is very much appreciated.

[2020-12-12 21:22] zxyanliu commented on #4696
Closing this issue for now and will reopen it when necessary.

[2020-12-14 03:22] VanyLaw commented on #4311
design for publish page was changed. so I close it.

[2020-12-14 03:22] #4311 closed

[2020-12-14 03:25] VanyLaw commented on #4706
publish page's design was changed. close it first.

[2020-12-14 03:25] #4706 closed

[2020-12-14 03:26] VanyLaw commented on #4057
publish page's design was changed, close it first.

[2020-12-14 03:26] #4057 closed

[2020-12-14 06:06] UmaPrelude commented on #5312
Hi Ben,

I noticed the below thread where it is mentioned that composer team will provide some support for CI/CD related documentation.
https://github.com/microsoft/BotFramework-Composer/issues/3339
If that is the case, there should be some option for the automated sign-in i felt.
Any comments on this.

[2020-12-14 08:20] boydc2014 commented on #5227
Agree, @benbrown that's also what i was talking with Dana. We should give good indicator in Monaco editor for trailing space. I'm re-assigning this to @zhixzhan, who was primarily working on Manaco and LSP integration.

And, thanks @hatpick for the information.

@zhixzhan can you follow up see what's the options here.

[2020-12-14 08:42] zhixzhan commented on #5227
Sure, I will fellow this.

[2020-12-14 09:20] lei9444 opened #5324 "undo failed after create triggers"
## Describe the bug
![undodai](https://user-images.githubusercontent.com/39758135/102063179-a7d46900-3e30-11eb-9c70-915b9e956c0d.gif)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. S

[2020-12-14 09:23] RajdeepRay0411 commented on #5308
Hi @dmvtech, any update on this issue?

[2020-12-14 12:19] #5324 closed

[2020-12-14 15:13] DanieleS82 opened #5328 ""HTTP request" dynamic parameters"
Hi, there is a way to set dynamically the fields "method" and "headers" of the component?
My idea is to use some inputs of a dialog, as value for these fields, something like:
`"method":"${dialog.httpMethod}"`

Similarly, for "headers", could be necessary to expand the input writing one row for each "key:value" pairs I want add to the section.

These changes could improve the flexibility of the co

[2020-12-14 16:00] benbrown commented on #5312
@UmaPrelude in the ci/cd environment, credentials are provided via different mechanisms other than interactive login. Future integrations in that area will take advantage of the available auth mechanisms - keyvault, service principals, etc.

[2020-12-14 17:21] balytca opened #5329 "Error during Quickstart"
Hi
Getting started with Azure bot composer but during  quckstart tutorial keep getting an error when i try to start the bot.
Error: Command failed: dotnet user-secrets init --project azurewebapp �� ������ �ᯮ��塞� 䠩�, ᮮ⢥�����騩 ������� "dotnet-user-secrets".
i'm using win10 pro, not sure what esle could be useful for this case.

[2020-12-14 17:47] DS2019 commented on #5270
Hi,
Please let me know if any of the files I sent you (225kb and 743kb) made it through to you and much thanks!

[2020-12-14 18:11] tonyanziano commented on #5270
Hey Donia,

I received the ~200kb file, but I did not receive the 700kb file.

Maybe try zipping up the larger one and send the .zip over? Or if you have one drive or sharepoint you can maybe upload it there and send me the link to download it?
________________________________
From: DS2019 <notifications@github.com>
Sent: Monday, December 14, 2020 9:47 AM
To: microsoft/BotFramework-Composer <BotFr

[2020-12-14 18:22] DS2019 commented on #5270
You bet, I've done a OneDrive folder share with you and much thanks.

[2020-12-14 18:40] dmvtech commented on #5308
I am investigating. I'll update when I have more information.

[2020-12-14 19:15] jwiley84 commented on #4876
Closing due to inactivity

[2020-12-14 19:15] #4876 closed

[2020-12-14 19:16] taicchoumsft commented on #4828
Closing due to inactivity.

[2020-12-14 19:16] #4828 closed

[2020-12-14 21:42] gabog opened #5331 "Improve composer cleanup"
Composer doesn't seem to cleanup temporary files that generates.

I wanted to do a clean install of composer so I went to my machine's C:\Users\MyName\AppData\Roaming\BotFrameworkComposer folder and notice that I had 20 GB of files in the composer folder:

![image](https://user-images.githubusercontent.com/12264946/102138763-dc452680-3e2a-11eb-95f2-53f8192b83b0.png)

## Describe the solution you'd

[2020-12-14 23:09] tonyanziano commented on #5270
@DS2019 Ok after inspecting the network logs you gave me, I believe I have found the issue:

1. It looks like the first call to PVA to fetch all your available environments succeeds and returns an array of your available environments as expect (I only see one environment in the logs).

2. However, the 2nd call to PVA which is supposed to list all the bots for a specified environment, fails and ret

[2020-12-15 00:26] DS2019 commented on #5270
Wow, great sleuthing! Thanks so much for delving into this. I'll watch for the fix. Thank you so much again.

[2020-12-15 00:27] DS2019 commented on #5270
May I ask if it is better to publish to PVA through Bot Composer or Publish to Azure and then import the skill into PVA? Is there a difference in the architecture\reusability? Thanks!

[2020-12-15 00:54] dmvtech commented on #4875
Yes. I'm getting closer on this. Should have an update in a day or two.

[2020-12-15 01:52] tonyanziano commented on #5270
Unfortunately, that question is a little out of my wheelhouse.

I would recommend [asking your question on Stack Overflow](https://stackoverflow.com/search?q=%23botframework) with the tag `botframework`, or maybe open a separate issue.

[2020-12-15 03:25] cosmicshuai opened #5332 "Enhancement of LG and LU editing experience"
# More comprehensive auto-completion
- [ ] Auto suggest entities from QnA and Luis recognizers results
Users can use entities from QnA and Luis recognizers, such as `@answer`(from QnA) or `@itemList`(from Luis), in LG, so the LG language server should be able to suggest these entities once user hit `@` in inline editor or all up view editor.

- [x] Dynamic property auto-completion
LSP should be ab

[2020-12-15 04:26] happybithj opened #5333 "Can't publish bot -- Failed to parse azure account information object object"
"error":{"code":"BadArgument","message":"Failed to parse azure account information object object."
![image](https://user-images.githubusercontent.com/63767904/102171126-c8540000-3ed0-11eb-8a7a-424c1f988b44.png)

[2020-12-15 06:58] Samirun opened #5334 "how to export and connect to a skill from consumer bot/documentation not updated"
**## Describe the bug**
new release of bot composer 1.3.0 is done due to which few things have changed.
I was trying to export a skill bot and connect to that bot within another bot
by following documentation https://docs.microsoft.com/en-us/composer/how-to-export-a-skill.
Problem: how to connect to a skill ? and what is the difference between  skill endpoint and skill host end points?

**Changes

[2020-12-15 07:49] zxyanliu opened #5335 "Provision issue with large arm token"
## Describe the bug

Was unable to provision Azure resources from Composer.

![image](https://user-images.githubusercontent.com/32497439/102186121-fe5c9a00-3e66-11eb-9136-3b44826a762e.png)

## Version

[Composer 1.3](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.3.0)

## Browser

- [x] Electron distribution

## OS

- [x] Windows

## Additional text
arm token too large

[2020-12-15 07:53] ShwetaTemkar-10 commented on #4816
@venegasmi did you find any solution to this problem? even I am facing the same problem after 2 cycles

[2020-12-15 07:57] ShwetaTemkar-10 commented on #4816
@scheyal and @venegasmi did you'll find any solution to this issue? Even I am facing the same error after 2 cycles

[2020-12-15 08:03] zxyanliu commented on #5334
Hi, FYI. The docs for [Composer 1.3](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.3.0) release will be updated and published soon.

[2020-12-15 08:35] thakursarvesh opened #5337 "getting dotnet publish error after updating composer version"
Hi Team, I was able to publish my code previously. Today I got update request in bot composer and I update the version to 1.3. Now I am getting the below error

"Error - Command failed: dotnet publish \"C:\\Users\\{UserName}\\AppData\\Roaming\\BotFrameworkComposer\\publishBots\\9e36815d717e993596f41ff12fdc9b76\\azurewebapp\\Microsoft.BotFramework.Composer.WebApp.csproj\" -c release -o \"C:\\Users\

[2020-12-15 09:15] yeze322 commented on #4935
@cxbuilders I'm actively working on an example which wraps your logic as a new $kind `SwitchCaseMenu`.
I'll post an update soon once it's ready.

[2020-12-15 09:39] boydc2014 opened #5338 "Get rid of myget"
We should do a review of our dependency on myget and seek for a solution to get rid of myget entirely, in favor of npm. Myget is generally less stable (which has blocked us several times)  and requiring more configuration and maintenance effort both to us and to the user sometimes.

Path to get rid of myget
- [x] replace any dependency from myget with npm
- [x] identify the missing part in npm (Fo

[2020-12-15 09:45] zidaneymar commented on #5337
Hi @thakursarvesh , I think the error is mainly:
[code]
This file is busy. Have you tried to restart your machine

[2020-12-15 09:48] thakursarvesh commented on #5337
Yes, before restarting it gave different file name and after restart this file name came. I tried again now and now I got this System.Design.dll' because it is being used by another process.

[2020-12-15 10:02] zidaneymar commented on #5337
@thakursarvesh, I think restarting your machine other than composer app, could help. I'm not sure what the problem is, I could not repro on my side. Could you try restart your machine and publish again?

[2020-12-15 10:03] thakursarvesh commented on #5337
@zidaneymar  Yes I restarted my machine itself.

[2020-12-15 10:04] luhan2017 commented on #5337
Are they always coming from this folder? C:\\Users\\{UserName}\\.nuget\\packages\\microsoft.windowsdesktop.app.runtime.win-x64\\3.1.9\\runtimes\\win-x64\\lib\\netcoreapp3.1, could you please try to remove this package and try again?

[2020-12-15 10:06] zhixzhan opened #5339 "Concurrency safe state manipulation for lgFiles/luFiles/QnAFiles/multilang"
### The issue

In current dispatchers methods, some of them, state manipulations are not concurrency safe. For example :
https://github.com/microsoft/BotFramework-Composer/blob/dc4bb80d9ee6a92634a5d227d58d864cb12de05a/Composer/packages/client/src/recoilModel/dispatchers/lu.ts#L143-L150

if a concurrency call incoming ( and also mutated 'luFilesState' ) during line-148, line-149 executing, The the

[2020-12-15 10:07] zhixzhan commented on #5339
I'm reviewing the dispatchers code, will do a clean up later.

[2020-12-15 10:11] thakursarvesh commented on #5337
I can only see till here "C:\Users\{UserName}\.nuget\packages\microsoft.windowsdesktop.app.runtime.win-x64\3.1.9\runtimes" and it shows empty in my machine.

In the new version of composer I can see an extra attribute added in publish profile "runtimeIdentifier": "win-x64"  . Is this causing an issue?

[2020-12-15 10:16] luhan2017 commented on #5333
@happybithj could you check your luisResource in your publish profile, it should be set to your luis prediction resource name

"luisResource": "luhan0603-dev-luis"

![image](https://user-images.githubusercontent.com/32191031/102201843-95763000-3f01-11eb-8027-73753b968e91.png)

[2020-12-15 11:27] thakursarvesh opened #5340 "Chatbot for webchat and teams in single project"
I need to develop a bot which should work for both webchat and teams. How should I approach this since both will require a different set of adaptive cards to display. It will be a nightmare to put if(channel) condition everywhere in the activities.

[2020-12-15 14:16] Quirinevwm opened #5342 "readme > packagemanager notes visible"
## Describe the bug
TODO notes in content :) plus reference to minimal SDK version missing I reckon.

## Screenshots
![image](https://user-images.githubusercontent.com/43533472/102226116-4b348500-3ee8-11eb-8f93-634f020da3db.png)

[2020-12-15 15:20] cxbuilders opened #5343 "No Generator Found for language"
Just installed V1.3.0 and unfortunately uninstalled as well as it throws the following error in Teams:
![image](https://user-images.githubusercontent.com/49873947/102234202-57711000-3ef1-11eb-8854-6cc55b9ea861.png)

[2020-12-15 15:21] lucasdodgson opened #5344 "Publish Error JSON SyntaxError v1.3"
Hi,
Just updated to v1.3 and tried to publish with the same profile as I had used in v1.2.
Running locally works, although when publishing I get the following error:
SyntaxError - Unexpected token o in JSON at position 1

Below is the log:

[2020-12-15 16:14] dmvtech commented on #5328
Hi @DanieleS82 There's not a way to do that within the **Http request** action itself. You could create a switch branch that switched on some property (say `dialog.httpmethod`) and each branch could have a different http request action with a set http method.

For headers, the values can be retrieved from an expression and set dynamically (from an array, etc), but the header key must be set explic

[2020-12-15 16:16] dmvtech commented on #4922
Hi @likith3611 Did this resolve your issue? Any further issues before I close this?

[2020-12-15 16:17] dmvtech commented on #4926
Hi @BeheraMadan I hope the above got your issue resolved. Please let us know if you are still having issues getting it to work.

[2020-12-15 16:17] #4926 closed

[2020-12-15 16:18] dmvtech commented on #4994
Hi @knightmeister Any further findings on this? Anything I might have missed to be able to reproduce the issue?

[2020-12-15 17:35] a-b-r-o-w-n commented on #5286
@scheyal can we see the bot assets for this so we can investigate?

[2020-12-15 17:39] a-b-r-o-w-n commented on #5300
@luhan2017 was this addressed in the recent provisioning work that is in v1.3?

[2020-12-15 17:42] #5312 closed

[2020-12-15 17:45] a-b-r-o-w-n commented on #5317
@mewa1024 I doubt that we will be able to remove this since it already exists in the SDK without causing breaking changes for customers. Please sync with @tomlm to discuss.

[2020-12-15 17:45] #5317 closed

[2020-12-15 17:45] DS2019 commented on #5270
Thanks, will do!

[2020-12-15 17:50] a-b-r-o-w-n commented on #5331
@boydc2014 Can you investigate this? I have recently noticed this as well.

I found that the `hostedBots` folder was the culprit. It would be worth looking into if we can periodically remove these files.

[2020-12-15 18:01] a-b-r-o-w-n commented on #5344
@luhan2017 can you investigate this issue?

[2020-12-15 18:02] #4936 closed

[2020-12-15 18:54] cxbuilders commented on #4935
@yeze322 that's great to hear ! If you need me to check it out, let me know

[2020-12-15 18:55] cxbuilders commented on #5343
That's for a conversation update activity btw

[2020-12-15 19:07] v-kydela commented on #5340
Thank you for the question, @thakursarvesh. Does this help? https://stackoverflow.com/a/63529096/2122672

[2020-12-15 19:20] taicchoumsft commented on #4959
Hi @cxbuilders , can you go to the Application Settings page (left bottom gear icon). Under `Application Updates`, enable the `Early Adopters` toggle.

[2020-12-15 19:24] taicchoumsft commented on #4822
@boydc2014 , looks like this issue has been open for awhile, is there a response for this?

[2020-12-15 19:28] taicchoumsft commented on #4815
@dmvtech, do you think you could help the customer with this issue?

[2020-12-15 20:39] dmvtech commented on #4815
Hi @KoradaRajesh; @Danieladu is correct. Emulator does/will not handle _file_ downloads. Since this is a "file" type attachment and not something that gets rendered into chat (like say an _image_), it is just sent across as http(s) link. Due to that, Emulator is going to hand-off the handling of that to the (operating) system to let it proceed with that however it needs. Since it's an https link,

[2020-12-15 20:39] #4815 closed

[2020-12-15 20:45] zxyanliu commented on #5334
FYI. Composer docs just got published to live: https://docs.microsoft.com/en-us/composer/
Thanks!

[2020-12-15 21:34] kallejar opened #5345 "Composer 1.3.0 Publishing to Azure Conditional access policy block"
## Describe the bug

With the new 1.3.0 version you have the nice publishing where you need to pass the credentials in the AAD form to get the token for publishing. This however doesn't work in our company we have Azure AD conditional access policies which now prevent me login in and publishing the bot.

e.g. case we might have external developers who use own device to access the services or like

[2020-12-15 21:40] anusharavindrar commented on #5329
Similar to #4339.
@balytca, what version of the composer and .NET Core SDK are you using? It is advisable to use .NET Core SDK 3.1 and above.

[2020-12-15 22:48] dmvtech commented on #5008
Hi @narulasrinivas and @negativeeddy,

Can you update to [v1.3.1](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.3.0) and see if this still reproduces for you?

[2020-12-15 22:55] DanieleS82 commented on #5328
Hi @dmvtech, about the _method_ field, the branch to select which http request execute, is exactly the solution that I'm following now, but it's not an efficient solution.

About header field, have the possibility to dynamically set the key, would be the value add that would provide flexibilities at the component.

So yes, if it's possible, mark this as feature-request.

Thanks.

[2020-12-15 23:29] lauren-mills opened #5347 "LG navigation pane shows all markdown links as imported LG files"
## Describe the bug
When an LG file has a markdown link using the `"[]()"` syntax, it is shown in the left navigation pane.
## Version
1.3

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Expected behavior
It should only show the imported LG files, not all the links.

## Screenshots
Here is the link in th

[2020-12-16 00:26] xiyangdesign opened #5349 "generated dialog is not updating after changes made to property type"
## Describe the bug

When I made changes to the property type in schema, hit "generate dialog" again, the dialogs were not updating.

## Version

![Screen Shot 2020-12-15 at 4 20 55 PM](https://user-images.githubusercontent.com/74994573/102288520-84252780-3ef1-11eb-92bc-b5c0e4f9d0f2.png)

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [X] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [X] macOS

[2020-12-16 00:26] xiyangdesign commented on #5349
@mewa1024

[2020-12-16 01:00] DS2019 opened #5350 "Published Bot to Azure but not sure where to get the manifest URL https link to publish to PVA"
## Describe the bug

I followed the directions, here: https://docs.microsoft.com/en-us/composer/how-to-publish-bot#create-azure-resources to publish a bot composer bot to Azure Web App, with success. However, how do I get the manifest URL?

## Version

1.3
## Browser

- [ ] Chrome

## OS

- [ ] Windows

## To Reproduce

Steps to reproduce the behavior:

Publish a bot to Azure Web App, as in the di

[2020-12-16 01:14] luhan2017 commented on #5300
@a-b-r-o-w-n not yet... we are still investigating on this. will update later.

[2020-12-16 01:51] luhan2017 commented on #5343
@cxbuilders, That is usually because the LG is not found. Could you share more information about the produce steps?
For example:
- Did you use a custom runtime?
- Could you share your bot?
- Could you check if the defaultLanguage in your appsettings is set?

[2020-12-16 01:57] hibrenda commented on #5350
@DS2019 The manifest URL : "https://_skillbot-dev_.azurewebsites.net/manifests/_skillbot-manifests.json_"
![image](https://user-images.githubusercontent.com/43408889/102294659-c3508880-3f84-11eb-9c2e-46c4dd703413.png)

[2020-12-16 02:14] anusharavindrar commented on #5261
@mganeshphani, you will not be able to directly get the email address of the user from "turn.activity.from". You will need to export runtime which will generate a copy of your bot's runtime so that you can modify the code and add your custom action. Refer to https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#export-runtime

[2020-12-16 02:30] luhan2017 commented on #5344
@lucasdodgson，could you share your profile? I can't reproduce this issue on my side.

[2020-12-16 02:33] boydc2014 commented on #5347
Looks like we are using regex to match [](), we should use the parser result to get the exact result. @zhixzhan can you take a look at this and ask @hatpick for review.

cc @GeoffCoxMSFT

[2020-12-16 02:56] balytca commented on #5329
@anusharavindrar, thank you!
I didn't notice that my .NET Core SDK was outdated which caused this problem

[2020-12-16 02:56] #5329 closed

[2020-12-16 03:03] luhan2017 commented on #5345
@kallejar thanks for your feedback, is this a blocking issue for you currently? we will prioritize this as a feature request in our next release.

[2020-12-16 03:17] mewa1024 commented on #5349
@hatpick Do you know what could be going wrong here?

[2020-12-16 03:29] zhixzhan commented on #5334
Thanks @zxyanliu.
@Samirun most skill related UX are moving to this contextual menu, please try it and feel free to ping me.
![image](https://user-images.githubusercontent.com/49866537/102301560-f9e0d000-3f91-11eb-9957-49bc61725a8a.png)

[2020-12-16 04:04] boydc2014 commented on #4822
Hi, @hcyang @taicchoumsft, sorry for the late response.

@cxbuilders As @Danieladu explained above, the current parser is treating all the content before the next template as it's body, just for the simplicity. Which ends up you see the comments right before the next template is "classified" to the template above. The fix can be updating the parser to give the comments a dedicated position.

That

[2020-12-16 04:06] luhan2017 commented on #5337
Maybe, could you set the runtimeIdentifier to win-x86 and retry? just to verify if it relates to win-x64 setting.

[2020-12-16 04:20] knightmeister commented on #4994
I'll come back to you in the next day or so. Sorry for my delayed response.

[2020-12-16 04:23] thakursarvesh commented on #5340
I have the below requirements where I am using adaptive cards:

1) Displaying KB articles which also consist of images. I have built a converter in C# which converts the html returned from service now to markdown supported by adaptive cards.
2) User actions such as selecting option from given choice
3) Service Catalog in which bot asks several details from user to log the service request.

Could y

[2020-12-16 04:28] zxyanliu commented on #5334
@Samirun FYI. These are the skill-related docs you may find helpful:
https://docs.microsoft.com/en-us/composer/how-to-export-a-skill
https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill

To provide accurate content, we will do docs patch releases in the coming few days.

Thanks again for your feedback!

[2020-12-16 04:33] thakursarvesh commented on #5337
@luhan2017  I tried it but unfortunately this also didn't worked. Always getting same error as the file is already in use..

[2020-12-16 04:37] Samirun commented on #5334
great! really appreciate for the shared docs. thanks for the quick support.

[2020-12-16 04:42] zxyanliu commented on #5334
@Samirun Thank you for using Composer! We really appreciate your feedback.

[2020-12-16 07:15] kallejar commented on #5345
I downgraded back to 1.2.2, so I can work with that just fine :) Let me know when there is something I can test.

[2020-12-16 08:04] sriget opened #5354 "Publish to WebApp Bot with LUIS fails with error - "Failed to parse azure account information object object""
Tried many options to deploy my Bot through Bot composer publish feature. Getting below error in publish log.
  Bot is configured with LUIS and works locally. Trying to deploy with publish script as per new bot composer update i received.
 Not sure where its going wrong tried using new way of MS login option in during publish and tried using az token json format also. Same errorr. Cross checked al

[2020-12-16 09:06] boydc2014 commented on #5174
Thanks @cxbuilders for the write up, a quite interesting read.

With all respect, i feel like it's exactly what we are doing or what our SDK is setup to do, with only one difference: "Composer is de-referencing the lg content into context".

My interpretation of this proposal is one high level idea: decoupling lg content authoring with dialog flow authoring. In reality it mean 2 things to me
1. we

[2020-12-16 10:22] SriSatyaLokesh opened #5355 "Unable to Create or Open Bot in COMPOSER"
## Describe the bug

Not able to create any bot, not from scratch, template or QnA, It says network error. Not even create a folder, Even opening composer as administrator
![image](https://user-images.githubusercontent.com/43106076/102335880-7ab1c300-3fb6-11eb-8629-6355be231917.png)
![image](https://user-images.githubusercontent.com/43106076/102335887-7c7b8680-3fb6-11eb-8b4a-fd5c015faff0.png)
![im

[2020-12-16 11:07] aitorojeda commented on #5355
I have a similar problem. When i press the button to open a bot, the framework stops and the screen turns white without opening anything

[2020-12-16 13:31] goergenj opened #5356 "[MCS-DE] 1.3.0 Opening a Bot freezes Composer"
When opening an existing Bot or creating a new Bot in v1.3.0 the Bot does not open and the loading never finishes but crashes the app.

@joaollq @goergenj @garypretty @benbrown @cwhitten

[2020-12-16 13:34] goergenj commented on #5222
@joaollq Please provide a quick update on the issue,

[2020-12-16 13:37] goergenj commented on #5225
@cwhitten We have this on the Composer 1.2.2 hosted on a VM and on the Electron App as well. Cannot test with 1.3.0 because opening a Bot currently fails (#5356)

[2020-12-16 13:38] goergenj commented on #5005
@cwhitten Any timeline update on this?

[2020-12-16 13:38] goergenj commented on #4944
@cwhitten Any timeline update on this?

[2020-12-16 13:40] goergenj commented on #4546
@joaollq Can you comment?

[2020-12-16 13:41] goergenj commented on #3675
@cwhitten Can you provide any insights to this? Ben is on vacation and I believe vishvac has left?

[2020-12-16 13:42] joaollq commented on #5222
Hi all, we found what was causing the issue.

The skill manifest URLs on our customer's environment require authentication.
We changed the getSkillManifest method to add a Bearer token to the HTTP request and we lost that code when merging to the newest version.

After adding again the Authorization header, the error disappeared.

[2020-12-16 13:42] goergenj commented on #3499
@cwhitten It's now in 1.3.0 and can be closed? Or is there anything open from your side?

[2020-12-16 13:42] goergenj commented on #3318
@cwhitten Any update on potential timeline for this?

[2020-12-16 13:51] VBDotNetCoder opened #5357 "After update of botframework composer, deployment error to azure"
After the today update of Bot framework composer a previously healthy Bot project can`t be deployed the errors are
2 times provision failure

1. Create_Functions_Resource_Error

2. Create_Web_App_error

Both errors refer to subscription not registered to use 'Microsoft.Web'  however I have verified that 'Microsoft.Web' actually is registered with this AZURE subscription , even better if i want to

[2020-12-16 14:45] lauren-mills opened #5358 "No UI for imported/preexisting intent"
## Is your feature request related to a problem? Please describe.
I'm importing intents from predefined .LU files (e.g. General LU with cancel, help, etc). This works well, and I think will help as we deliver templates and samples that use LU to customers, but there is no UI support in the main window for using these intents.

## Describe the solution you'd like
There are two things that I think w

[2020-12-16 14:55] lauren-mills opened #5359 "Can't use full LU import syntax"
## Describe the bug
I'm importing intents and utterances from linked LU files, but I can't use the full syntax as listed here: https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lu-file-format?view=azure-bot-service-4.0#local-file-references.

I want to be able to use this pattern to pull only the utterances from a linked file by intent:
[code]

But I get the following erro

[2020-12-16 15:08] gabog commented on #5331
Also, as an alternative, consider putting temporary files in the user's temp folder, the OS will clean this up periodically.

[2020-12-16 15:12] cwhitten commented on #5356
@goergenj  the team will need more information on desktop or web based use and the bot in question causing the issue. Please reach out to me on Teams

[2020-12-16 15:18] cwhitten commented on #3675
Adding this into the backlog for further discussion.

[2020-12-16 15:57] cwhitten commented on #3499
@goergenj yes this has shipped. Closing.

[2020-12-16 15:57] #3499 closed

[2020-12-16 16:04] cwhitten commented on #3318
@a-b-r-o-w-n can you update @goergenj on where we are at with this?

[2020-12-16 16:32] tonyanziano commented on #4851
Going to close as stale for now. Please feel free to let us know if your issue is fixed or reopen if you're still experiencing the issue.

[2020-12-16 16:32] #4851 closed

[2020-12-16 16:33] VBDotNetCoder commented on #5357
I guess the composer is more strict as before , as we solved the issues as typo mistakes in the files

[2020-12-16 16:33] #5357 closed

[2020-12-16 16:52] a-b-r-o-w-n commented on #5354
duplicate of #5344

[2020-12-16 16:52] #5354 closed

[2020-12-16 17:08] a-b-r-o-w-n commented on #5344
@sriget @lucasdodgson Can you provide your appsettings.json file (with secrets redacted)?

[2020-12-16 17:49] tonyanziano commented on #5073
After hopping on a call and debugging with @gbelenky , we figured out that there is an exception being thrown when Composer tries to read the JSON store (`data.json`).

Here is the exception:

[code]

We checked the `data.json` file and it looks to be valid JSON. My hunch is that at some point, when we are writing the JSON to disk, it is prepending a byte order mark (BOM) to the front of the JSON

[2020-12-16 17:59] srinaath commented on #5355
@SriSatyaLokesh

We are not able to reproduce this error on our end. This maybe a side effect of incorrect permissions or maybe not accepting the EAC prompt that opens up the first time Composer started. Either ways we would need more info to repro. Could you

1.  Open command line as Administrator and set this env variable using the command `SET DEBUG=composer*`
2.  Now navigate to the location o

[2020-12-16 18:03] srinaath commented on #5355
@aitorojeda Could you try the same steps above. In addition, the issue you are facing might be different so could you create a separate ticket to track your bug. It would be great if you could go to View-->Toggle Developer Tools-->Console and take a snapshot of the errors appearing on your Chrome Developer console for us to better assist.

[2020-12-16 18:03] srinaath commented on #5355
@aitorojeda Could you try the same steps above. In addition, the issue you are facing might be different so could you create a separate ticket to track your bug. It would be great if you could go to View-->Toggle Developer Tools-->Console and take a snapshot of the errors appearing on your Chrome Developer console for us to better assist.

[2020-12-16 18:05] #3318 closed

[2020-12-16 18:10] sriget commented on #5344
This is my app settings json from bot. After i click publish, i see luis keys and pwds are cleared out of json file. Hope that is expected.

[appsettings_issue.txt](https://github.com/microsoft/BotFramework-Composer/files/5704632/appsettings_issue.txt)

[2020-12-16 19:06] taicchoumsft commented on #5345
@garypretty , this appears to be a feature request, can you chime in as to prioritization?

[2020-12-16 20:17] #5261 closed

[2020-12-16 20:18] mewa1024 commented on #4842
@hatpick Can we do #6 -- change the property type default selection from "any string" to nothing, with the helper text saying "Select an option"? In addition to the reason above (that when "any string" is pre-selected it's easy to overlook the items above it in the dropdown menu), the bigger issue is that it encourages users to choose "any string", which is more unstable than "list".

[2020-12-16 21:30] lucasdodgson commented on #5344
Attached is mine as well.

[appsetting_issue.txt](https://github.com/microsoft/BotFramework-Composer/files/5705585/appsetting_issue.txt)

[2020-12-17 00:27] mewa1024 opened #5360 "Form dialogs: "Newtonsoft.jsonLinq" error appears in Emulator when changing a property"
## Describe the bug

In a form dialog, when the form is complete, the bot asks the user if there is anything they'd like to change. When I ask to change a specific property, I get an error that says "Cannot cast Newtonsoft.Json.Linq.JObject to Newtonsoft.Json.Linq.JToken." and it kicks me out of the dialog.

## Version

1.3.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ]

[2020-12-17 00:28] dmvtech commented on #5333
Hi @happybithj Any luck? Were you able to confirm the luis prediction resource in the publishing profile?

[2020-12-17 00:28] mewa1024 commented on #5360
@chrimc62 Have you seen an error like this?

[2020-12-17 00:38] dmvtech commented on #4922
Closing due to inactivity. Please let us know if you still need assistance or clarification around this.

[2020-12-17 00:38] #4922 closed

[2020-12-17 00:53] mewa1024 commented on #5360
[EchoBot-coffee-1216.zip](https://github.com/microsoft/BotFramework-Composer/files/5706311/EchoBot-coffee-1216.zip)

[2020-12-17 01:00] mewa1024 commented on #5360
I'm also getting this error when I add two values for a property that only accepts one, "latte and cappuccino" in this example:
![image](https://user-images.githubusercontent.com/39317542/102424477-0e3bc180-3fc0-11eb-8ab3-17ec8e1efd07.png)

[2020-12-17 01:46] luhan2017 commented on #5354
@sriget, If you didn't provision your luis resources through composer,  you need to add a luisResource to point to you luis prediction resource.

Here is an example:
[code]

![image](https://user-images.githubusercontent.com/32191031/102427631-b26b4a00-404c-11eb-8032-139407414888.png)

[2020-12-17 01:48] luhan2017 commented on #5344
@lucasdodgson , is your luis resource provisioned through composer? you may need to add luisResource in your publish profile. Please refer to the details here.
https://github.com/microsoft/BotFramework-Composer/issues/5354#issuecomment-747150353

[2020-12-17 01:55] luhan2017 commented on #5337
@thakursarvesh, could you confirm if this issue happens for v1.3 only? are you convenient to have a live debug session with us?

[2020-12-17 04:23] thakursarvesh commented on #5337
@luhan2017 Yes it started happening in v1.3 . Please let me know when we can connect for a live debug session. I am in IST time zone.

[2020-12-17 04:40] SriSatyaLokesh commented on #5355
Installation was made for all users.

[2020-12-17 04:49] SriSatyaLokesh commented on #5355
LOGS -

[code]

[2020-12-17 05:11] dmvtech commented on #5308
Hi @RajdeepRay0411 With my investigation so far, this sample doesn't seem complete.

First, I don't think this will _simply_ work without being deployed (or maybe tested locally with ngrok) in Emulator. I'm sure most of the issue is in the `SearchPerson` dialog as this is the one that implements the OAuth prompt (which, by the way, requires a [connection setting](https://docs.microsoft.com/en-us/a

[2020-12-17 05:32] boydc2014 commented on #5332
@cosmicshuai please enrich this ticket with more information, for each item, please describe
* What is the current behavior
* What is wrong or not good in current behavior
* What is the changes proposal and why it's an effective change

[2020-12-17 07:17] Samirun commented on #5350
@zxyanliu  we also have same issue  how to get manifest url? or atleast how to construct it?

[2020-12-17 07:26] Samirun commented on #5334
@zxyanliu  how to get manifest url for a  remote skill? or at least how to construct it? i think we also need documentation for this.

[2020-12-17 08:13] luhan2017 commented on #5337
I am in Beijing, I am available at tomorrow 13-14pm, 15:30-16:30pm. which should maps to 11:30-12:30 and 13:00-14:00 on your side? Which one do you prefer? And could you please share your email account so that I can send a meeting request to you.

[2020-12-17 10:02] lucasdodgson commented on #5344
@luhan2017 The lines are present in the publish profile.

Trying to play around though I have observe two things, maybe they are helpful.
1. I believe I am not loging into the directoy in which my azure subscription is in (as Composer login is not prompting me to enter my 2FA). Is there any way of specifying this?

2.  If I try to provision a publish profile through composer, it just says loading

[2020-12-17 10:17] goergenj opened #5362 "[MCS-DE-GO] Unknown Intent in Child Dialogs override by Parent"
When we are in a child dialog and configure an "Unknown Intent" within the child, whenever the "Unknown Intent" is hit, it calls the Unknown Intent of the parent, if it exists.

[2020-12-17 10:19] goergenj opened #5363 "[MCS-DE-GO] Intent based confirmation prompt"
Confirmation prompt should allow mapping true / false to intents

[2020-12-17 10:55] goergenj opened #5364 "[MCS-DE-GO] Confirmation Prompt should allow configurable keywords for "true""
"Bot Asks (Confirm)" should allow configuring the keywords which are evaluated as „confirmation=true“

When I add choices these are all evaluated as false except "yes" (or same word in other languages)

[2020-12-17 10:57] goergenj commented on #5222
@cwhitten @garypretty Can you please add the support for authenticaiton as a feature request please.

@joaollq Please create a pull request for our solution for the team to review.

[2020-12-17 11:02] goergenj opened #5365 "[MCS-DE-GO] Ability to rename Intents in Triggers and Actions"
@joaollq @goergenj @garypretty

[2020-12-17 11:03] goergenj opened #5366 "[MCS-DE-GO] Ability to rename Dialogs"
It should be possible to rename Dialogs. Change should be reflected in related filenames as well.

@joaollq @goergenj @garypretty

[2020-12-17 11:05] goergenj opened #5367 "[MCS-DE-GO] Ability to rename the auto-generated LG template names"
Ability to rename Outputs in LG-files.

Currently the naming of the text output is not customizable but randomly generated and we can’t tell what it does if we don’t explicitly look into the output list.

A change needs to be reflected the related LG-file as well as Actions which use this text output.

Currently setting self-defined names is only possible in the LG-Templates “common.lg”

@joaollq

[2020-12-17 11:11] goergenj opened #5368 "[MCS-DE-GO] AAD authentication support for “https-Connect” Action"
Update of “https-Connect” Action to support AAD Token/OAuth authentication.

We have created a custom action for this which first retrieves an AAD Token from the authentication API which is then used to authenticate.

This could also be solved by adding the option to send "x-www-form-urlencoded" and "form-data" as the "body" which is currently not supported but required by OAuth APIs.

@joaollq @g

[2020-12-17 11:18] goergenj opened #5369 "[MCS-DE-GO] Add webchat to bot runtime as client and for testing"
For customers which cannot use Emulator in combination with ngrok or even in a local setup, we need to have a Web-based testing client.

Ideally the Testing-WebChat should have all capabilities to display the same information as the Emulator during testing.

Further a WebChat should be added as a default client which.

Design should be customizable via Composer UI to edit css-Files. Select colors

[2020-12-17 11:20] goergenj opened #5370 "[MCS-DE-GO] Pin bots to recent bots list"
It should be possible to pin specific Bots to the Home-section in the Composer UI.
This should be possible in the future as a per user setting based on a logged in users profile.

@joaollq @goergenj @garypretty

[2020-12-17 11:21] goergenj opened #5371 "[MCS-DE-GO] Resizable value windows"
It should be possible to resize value windows in property settings, if entry is a sentence

[2020-12-17 11:24] goergenj opened #5372 "[MCS-DE-GO] Ability to sync with LUIS Portal changes"
For a productive setup it is required that changes to LUIS models that were done outside of the Composer, e.g. by Data Scientists via LUIS Portal or scripts or by automated testing/training/active learning pipelines, can be synced back into composer.

Possible solution could be an automatic pull of the current LUIS model when opening the Bot or a specific Button "Sync LUIS".

@joaollq @goergenj @g

[2020-12-17 11:25] goergenj opened #5373 "[MCS-DE-GO] Ability to sync with QnAMaker Portal changes"
For a productive setup it is required that changes to QnA Maker KBs that were done outside of the Composer, e.g. by Data Scientists via QnA Maker Portal or scripts or by automated testing/training/active learning pipelines, can be synced back into composer.

Possible solution could be an automatic pull of the current QnA Maker KBs when opening the Bot or a specific Button "Sync QnA".

@joaollq @go

[2020-12-17 11:51] BeheraMadan opened #5374 "numbered list not working in bot on web channel"
Hi,

We have added a logic for numbered list in the bot. Numbered list is getting displayed as expected when bot is run in the emulator but same numbered list not working on web channel.

We have referred below docs for text formatting.

https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-format?tabs=adaptive-md%2Cconnector-html

![image](https://user-images

[2020-12-17 13:28] Samirun opened #5376 "unable to add remote skill to a bot getting 500 error"
## Describe the bug

following the docs
https://docs.microsoft.com/en-us/composer/how-to-export-a-skill
https://docs.microsoft.com/en-us/composer/how-to-connect-to-a-skill

we were trying to connect a remote skill (through manifest generated by composer for a simple echo bot)
steps:

1. - we created a echobot consumer bot,  and added a skill bot to it,
2. - for the skill bot we have generated a ma

[2020-12-17 14:21] SriSatyaLokesh commented on #5355
@zxyanliu soodu mowa konchem

[2020-12-17 14:40] franctum5 opened #5377 "Can't publish bot to Azure with version 1.3.0"
## Describe the bug

After updating to 1.3.0 the publish to Azure Web App functionality keeps on spinning on the UI but the bot is never published to Azure.

Opening the developer tools I can see that the request to api/publish ends with a 431 (Request header fields too large) and all the following requests to get the status end with a 404.

## Version

1.3.0

## Browser

- [x] Electron distributi

[2020-12-17 16:24] DS2019 commented on #5350
Yes, agree with Samirun on the manifest - to get a bot published to Azure Web App and try to publish to PVA via the manifest URL, I've needed to go to several documents online (new to Azure and Bot Composer) - and I've not seen yet how to construct the manifest step by step from what you get with the Azure Web App publish.

[2020-12-17 16:44] #5371 closed

[2020-12-17 16:44] #5370 closed

[2020-12-17 16:59] tannguyen3 opened #5379 "Bot Emulator shows 403 Quota Exceeded error"
## Describe the bug
Hi, I'm using a bot with LUIS and QnA. The bot is running well after deploying to MS Teams.

But when use in Bot Emulator, it keeps saying "Response status code does not indicate success: 403 (Quota Exceeded).". See picture below

![image](https://user-images.githubusercontent.com/10743872/102518381-d469ca00-4056-11eb-95ca-3578f58183c1.png)

## Version

Bot Composer 1.2

## Bro

[2020-12-17 17:19] tonyanziano commented on #5073
Turns out that it was a malformed `extensions.json` file in the `%APPDATA%/Roaming/BotFrameworkComposer/` app data folder.

Adding valid JSON to this file -- `{}` -- fixed the issue and @gbelenky is now able to start Composer.

We should consider writing some documentation on how to completely wipe the Composer installation to troubleshoot these issues.

[2020-12-17 17:19] #5073 closed

[2020-12-17 17:24] zxyanliu commented on #5377
This is a duplicate of https://github.com/microsoft/BotFramework-Composer/issues/5335

[2020-12-17 17:24] tonyanziano opened #5380 "Add documentation on how to do a complete wipe of Composer app data"
## Is your feature request related to a problem? Please describe.

When we add new logic to Composer that deals with handling older implementations of files we store on disk, there is a chance that the data becomes malformed and then throws an exception when trying to be read in a newer version. This can cause a host of errors that could potentially stop Composer from starting.

## Describe the so

[2020-12-17 17:26] zxyanliu commented on #5350
FYI. I am working on the content you guys requested on the docs patch releases.

[2020-12-17 17:26] zxyanliu commented on #5334
Hi, FYI. I am working on the content you guys requested on the docs patch releases.

[2020-12-17 17:28] DS2019 commented on #5350
That is wonderful news, thank you!

[2020-12-17 17:29] zxyanliu commented on #5335
@VanyLaw @luhan2017 Do you guys plan to merge the PR to fix this error? I found another one complaining the same issue: #5377

[2020-12-17 17:30] peterbozso opened #5381 "Docker Compose file doesn't work"
If you clone the repo, go to it's root and issue the command `docker-compose up`, it will fail with the following error:
`Cannot locate specified Dockerfile: Dockerfile`
It's because the `docker-compose.yml` file defines the `composer` service's build context as: `Composer`, which is incorrect, since the Dockerfile is located in the repo's root.

[2020-12-17 17:33] zxyanliu commented on #5350
Apologies for the delay because of the holiday season and we writers have many details to check with our developers before publishing the docs. Will keep you informed on this. Thanks for your patience!  : -)

[2020-12-17 17:34] zxyanliu commented on #5355
@SriSatyaLokesh I will take a look. Thanks for reporting the issue.

[2020-12-17 17:35] srinaath commented on #5381
Thanks @peterbozso for the fix. We will review your PR shortly.

[2020-12-17 17:38] #5377 closed

[2020-12-17 17:47] srinaath commented on #5369
@goergenj This feature is in our backlog for the next semester.

[2020-12-17 17:53] srinaath commented on #5365
Closing as its a dupe

#1361

[2020-12-17 17:53] #5365 closed

[2020-12-17 17:56] srinaath commented on #5363
@goergenj Could you elaborate on this. Essentially, we would just call a dialog based on the response to the confirmation prompt correct?

[2020-12-17 18:00] sriget commented on #5354
Thanks @luhan2017 . it works fine now !!!

[2020-12-17 18:01] v-kydela commented on #5340
@thakursarvesh - If you're using Adaptive Card inputs then your only option in Web Chat will be to use object submit actions and not string submit actions. If you're using object submit actions then they should already work fine in Teams. Please read the linked blog post for more information.

Can you give us an example of an Adaptive Card that is working in Web Chat and not in Teams?

[2020-12-17 18:16] dmvtech commented on #5328
Hi @DanieleS82. This will have to start in the SDK before this can be implemented in Composer. Would you mind creating a new feature request [here](https://github.com/microsoft/botframework-sdk/issues/new?assignees=&labels=needs-triage%2C+feature-request&template=bot-framework-feature-request.md&title=) please?

[2020-12-17 18:41] srinaath commented on #5355
@SriSatyaLokesh I'm able to see just a portion of the logs. Were there any logs generated while creating a new bot. In addition, could you paste the error appearing in the Chrome Developer Console (View->Toggle Developer Tools --> Console).

I also wanted to check if you are behind a VPN. If so, could you check if bot creation works outside the VPN?

[2020-12-17 18:41] cxbuilders commented on #5343
It's a v1.2.2 custom runtime executed by v1.3.0
Do not have thia bot anymore, but appsetings are default aa it's generated by v1.2.2
Only en-us was set as a language for this bot

[2020-12-17 18:47] cxbuilders commented on #5174
@boydc2014 that difference is exactly what I am after, with the additional feature of extending common lg like scripts / cards in separate lg files besides the language specific dictionary

[2020-12-17 19:01] dmvtech commented on #5362
Hi @goergenj By default, dialogs are set to auto end (`"autoEndDialog": false,`). So, if you are getting into your child dialog, depending on how you have that configured, it might be exiting back to the parent. If you will be handling unknown intents at both places, you should set your child dialog to not automatically end. If you can share more details or an example, that might help confirm the

[2020-12-17 20:04] #5270 closed

[2020-12-17 20:05] tonyanziano commented on #5270
@DS2019 the issue should be resolved by #5348. Please feel free to [try tonight's nightly build](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases) to verify the fix.

[2020-12-17 21:44] mewa1024 opened #5383 "Trigger labels in bot tree, breadcrumbs, and property don't match"
## Describe the bug

1.3.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

I noticed this when I generated a form dialog:

![image](https://user-images.githubusercontent.com/39317542/102546303-47ca0680-406c-11eb-930f-cf43a339fee3.png)

![image](https://user

[2020-12-17 22:00] hatpick commented on #5349
@chrimc62 @coldplaying42 this seems to be a merge issue. can you confirm?

[2020-12-17 22:39] zxyanliu commented on #5355
Hi @SriSatyaLokesh Thanks for reporting.
I was unable to reproduce the issue you mentioned on my end.
Can you please check if you met all the prerequisites documented in this article?
https://docs.microsoft.com/en-us/composer/install-composer#prerequisites-for-installing-composer-as-a-desktop-application

Especially [supported Operating System versions](https://github.com/microsoft/BotFramework-Co

[2020-12-18 00:00] dmvtech commented on #5374
Hi @BeheraMadan

Unfortunately, I am unable to reproduce this issue. Here is my LG:

[code]

Would you mind sharing yours? If any different, does the above work for you?

For me, it is working in Emulator, Test in Web Chat, Web Chat iframe, and my own implementation of Web Chat using the [welcome sample](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/04.api/a.welcome-event).

[2020-12-18 00:47] JaskeeratBedi-cmk opened #5385 "Publishing & provisioning Luis from bot template"
Flow to provision new resources is unclear.

1. As a user when I open a bot template with external services (Luis, Q&A..), I see an error in the navigation. When I click the notification, I am told to fix this in bot settings-
![Screen Shot 2020-12-17 at 4 17 40 PM](https://user-images.githubusercontent.com/67944302/102558930-78696a80-4083-11eb-8798-aafc911c5e7e.png)

2. When I go to the **bot set

[2020-12-18 01:01] dmvtech commented on #5374
Possibly related: https://github.com/microsoft/BotFramework-Composer/issues/4876

[2020-12-18 01:45] mewa1024 opened #5386 "When you have a bot with child dialogs (and child LUIS apps), "Save As" reuses the LUIS apps for the child dialogs instead of creating new ones"
## Describe the bug

If you have a bot that uses LU for child dialogs, and you copy the bot via "Save As" and the republish it, the newly created bot uses the same child dialogs as the original bot, just a different version. Is this intentional?

##  Version

1.3.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ub

[2020-12-18 02:46] #5339 closed

[2020-12-18 02:52] zxyanliu commented on #5350
Hi, I tested today and while waiting for the docs to be published, I'd like to answer your question so that you do not get blocked.,

How to get the manifest URL after you publish your skill to Azure?

1. Select the **App Service** resource you just published.
   ![image](https://user-images.githubusercontent.com/32497439/102567814-26cadb00-4097-11eb-9c37-6f8ce8fd22e1.png)

2. Select **App Service

[2020-12-18 02:56] zxyanliu commented on #5334
FYI. I replied in another thread with content you may find helpful.
https://github.com/microsoft/BotFramework-Composer/issues/5350#issuecomment-747834390

[2020-12-18 05:04] #5335 closed

[2020-12-18 05:44] hatpick commented on #5380
@tonyanziano how about adding a "factory reset" option to electron menus?

[2020-12-18 07:38] zxyanliu opened #5388 "[Customer concerned] Auto-fill msAppId when publishing a remote skill"
## Is your feature request related to a problem? Please describe.

cc: @cwhitten @luhan2017

We already see some customer complaints regarding creating a remote skill:
- https://github.com/microsoft/BotFramework-Composer/issues/5376
- https://github.com/microsoft/BotFramework-Composer/issues/5350
- https://github.com/microsoft/BotFramework-Composer/issues/5334

One of the reasons is that our curre

[2020-12-18 09:35] yeze322 commented on #4935
@cxbuilders Below is the gif on how to use the customized Action `SwitchCaseMenu`. (For the instructions, see my next comment)

#### Authoring Flow
![use-of-switchcasemenu](https://user-images.githubusercontent.com/8528761/102598647-4d504b00-4157-11eb-90bd-2152002efd1d.gif)

#### Chat Flow
![bot-of-switchcasemenu](https://user-images.githubusercontent.com/8528761/102598691-5a6d3a00-4157-11eb-8f03-

[2020-12-18 09:49] yeze322 commented on #4935
Instructions on how to define the `SwitchCaseMenu`:
1. Follow the doc ['Custom Action'](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action) to make sure `MultiplyDialog` is avaible
2. After that, let's implement the `SwitchCaseMenu`
    - I attached 3 files here, `SwitchCaseMenu.cs`, `SwitchCaseMenu.schema` and `SwitchCaseMenu.uischema`
    - Similar to `MultiplyDialog`, put two sc

[2020-12-18 10:28] anemit opened #5389 "Prebuilt Entity datetimeV2 extraction: Can't get Resolution"
I am trying to extract entities out of order, geographyV2 and datetimeV2 specifically. I extract geographyV2 successfully but as far as datetimeV2 is concerned I cant get the raw response to use the resolution value. I can only get RecognizerResult (datetime) in which resolution is not included.
Also I have set includeAPIResult to true after I searched for similar issues.
The same problem exists w

[2020-12-18 10:55] ysnoek2 opened #5390 "Bot fails to start after update to v1.3.0"
## Describe the bug

After updating to v1.3.0 the bot does not start in the emulator.
![image](https://user-images.githubusercontent.com/76207835/102606407-fd599000-4126-11eb-8d75-0a49e292b15e.png)

Publishing to azure is still going fine
![image](https://user-images.githubusercontent.com/76207835/102606351-e74bcf80-4126-11eb-9f2b-38964e576d56.png)

## Version

1.3.0

## Browser

- [ ] Electron di

[2020-12-18 14:26] BeheraMadan commented on #5374
Hi,

We have used same logic as you mentioned above. It is working in Test in Web Chat and the iframe versions of Web Chat as well.

In our scenario Bot is integrated in sitecore page with the help of  bot framework webchat. May be we need to investigate more on sitecore.

Thanks...

[2020-12-18 15:42] garypretty commented on #5369
To be clear - we are adding chat based testing (similar to emulator) within the next semester.  This will not include all of the features on this feature request. e.g. having a web chat client in the runtime or the ability to configure web chat.

[2020-12-18 17:44] DS2019 commented on #5270
HI @tonyanziano - I've had a look at the nightly builds, but the last one is from 3 days ago. I did install dc4bb80 - but the issue where I can't publish to PVA now at all since the update persists. Which build should I install so I can test? Much thanks!

[2020-12-18 18:03] dmvtech commented on #5374
Ok, thanks. Sound like a good plan. I'm going to close this as it doesn't sound like it's related to either Composer or Emulator. If you do find some sort of bug with Web Chat (and outside of sitecore) please open a bug [here](https://github.com/microsoft/BotFramework-WebChat/issues/new?assignees=&labels=Bug%2C+Pending%2C+customer-reported%2C+Bot+Services&template=bug_report.md&title=).

[2020-12-18 18:03] #5374 closed

[2020-12-18 18:20] #5328 closed

[2020-12-18 18:57] stevkan commented on #5376
@Samirun, I'm having some minor issues attempting to repro the error. I hope to have a response on this by EOD.

[2020-12-18 19:03] v-kydela commented on #5364
Thank you for the post, @goergenj

Did you mean this as a bug report, a feature request, or a how-to question?

Also, can you explain what you mean by "When I add choices"? How are you adding choices to a confirm input? Can you give us some screenshots, perhaps?

Finally, can you give us some examples of phrases you'd like to add, so we can reproduce the behavior on our side?

Expanding the way co

[2020-12-18 19:15] taicchoumsft commented on #5173
@Andrea-Orimoto , can you update us on your plans for Azure Functions?  Is this something we officially support in Composer?

[2020-12-18 19:34] zxyanliu commented on #5350
@DS2019 FYI. I created a FAQ thread for this particular issue you brought up. The docs have just published to docs.microsoft.com
Please let me know if you are still blocked for anything...
https://docs.microsoft.com/en-us/composer/faq/composer-faq

[2020-12-18 19:55] tonyanziano commented on #5380
@hatpick I think this is a good idea as well. However, we also need docs on how to do this manually, because in the case of #5073 the user wasn't able to start Composer due to malformed files in the app data folder, so they would not be able to reach this "Factory reset" functionality.

[2020-12-18 20:00] tonyanziano commented on #5270
Hey @DS2019 ,

Sorry about that, it looks like we were publishing some release candidate versions of Composer that were not supposed to be published, and these were burying the most recent nightly builds.

Here's the most recent nightly: https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.3.0-nightly.196531.57e5aaf

[2020-12-18 20:35] dmvtech commented on #5379
Hi @tannguyen3

- If you click on that error message in the right pane in Emulator, does it give you more info that might be helpful?
- Do you know if it is QnA or LUIS where you are hitting the quota?
- I'm assuming when testing in emulator, you are running the bot locally from Composer as well?
- What about the case with the success in Teams? Is the bot deployed to Azure and you are using Teams

[2020-12-18 21:26] tannguyen3 commented on #5379
Thanks, @dmvtech. I don't know what is the root cause yet. But I'm able to make it work by explicitly adding a prediction resource to the LUIS app I'm using in Bot Emulator and then add the prediction endpoint to my bot configuration.
I didn't need to do it before.

My bot LUIS configuration before (no endpoint configrution)
[code]

and now
[code]

[2020-12-18 22:17] zxyanliu commented on #5376
@Samirun FYI.
We just published the docs with updated details of the [skills topic](https://docs.microsoft.com/en-us/composer/how-to-export-a-skill).

Could you please show your remote skill manifest? Read [this article](https://docs.microsoft.com/en-us/composer/faq/composer-faq#how-do-i-find-my-remote-skill-manifest-url) and learn how to find your remote skill's manifest URL and how to find your

[2020-12-18 23:23] zxyanliu commented on #5355
@SriSatyaLokesh Can you tell us how did you install Composer 1.3? Did you uninstall the previous Composer before installing Composer v1.3? Or did you install using [these update instructions](https://docs.microsoft.com/en-us/composer/install-composer#update-instructions)?

[2020-12-18 23:34] JaskeeratBedi-cmk opened #5392 "Copy and visual formatting in the provisioning wizard.."
## Needs copy updates based on approved designs here- https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-Bedi?node-id=2200%3A70869

I think some of the copy did not get updated as per the designs. Also the "Review & create" wizard has content that is getting cut..

## 1.30

- [ ] Electron distribution

## OS

- [ ] macOS

[2020-12-19 17:42] dmvtech commented on #5389
I am investigating this.

[2020-12-19 20:03] TheBestBirth commented on #2926
i have got same issue , don't know how to fix it.
@jwiley84  when i go to setting, i do not have "Runtime Config" and such . any other idea ?

[2020-12-19 20:07] TheBestBirth commented on #4812
Hi @Guruji752
for some reason i do not have "Run Config" in setting (i am using Composer ver. 1.3.0) is it possible or i am doing something wrong here ?

[2020-12-19 21:31] narulasrinivas commented on #5008
@dmvtech - Installed v1.3.1 BOT composer and deployed **QnAMakerLUIS** OOB sample and tested but still the same :(

![image](https://user-images.githubusercontent.com/2491903/102699987-2bcb8e00-4241-11eb-9d3b-d14f121e301c.png)

[2020-12-19 23:45] Guruji752 commented on #4812
not sure but it might be the problem of version , could you share the screenshot of your settings

[2020-12-20 03:31] #4437 closed

[2020-12-20 22:56] Kagigz opened #5393 "Impossible to sign in to personal account to create a publish profile"
## Describe the bug

To publish the bot, I clicked on "Add new publish profile" in the configuration section. I selected the option to create new Azure resources which requires signing in.

First bug is that the input doesn't take "@" as input for some reason, so I had to copy/paste my email address to enter it. I'm using my personal email address (@hotmail.fr)
2nd and most important problem: I ha

[2020-12-21 02:04] luhan2017 commented on #2926
@TheBestBirth , we upgraded the UX in 1.3.0, please go to project settings to custom your runtime:

![image](https://user-images.githubusercontent.com/32191031/102731806-c88e4880-4373-11eb-85e3-2b7d48c59d61.png)

[2020-12-21 03:33] luhan2017 commented on #5392
@JaskeeratBedi-cmk Wenyi is OOF this week, let's sync through Teams at sometime next week to discuss more details.

[2020-12-21 03:57] JohnRobertGreen commented on #5390
Having the same problem. Cannot find any logs that might help solve the problem. Has ground the project to a halt.

[2020-12-21 03:59] KayMKM opened #5394 "Emit event is clickable and will jump to custom event page"
## Is your feature request related to a problem? Please describe.

when clicked the emit event box, it won't jump to the custom event page.

## Describe the solution you'd like

It will jump to the custom event like begin dialog box.

## Describe alternatives you've considered

## Additional context

[2020-12-21 04:30] SriSatyaLokesh commented on #5355
I Tried and with this and reinstalled everything again. its working.
Thanks @zxyanliu 😊

[2020-12-21 04:30] #5355 closed

[2020-12-21 05:07] EricDahlvang commented on #5395
Transferring to Composer repository.  Apparently there's a way to do this with custom actions only?

This would be a great sample or community contribution.

[2020-12-21 05:28] EricDahlvang commented on #4406
Closing in favor of re-opening https://github.com/microsoft/botbuilder-dotnet/issues/4509#issuecomment-708188371

Thanks for raising this issue @kdubious This helps confirm we should support this in a more simplified way.

[2020-12-21 05:28] #4406 closed

[2020-12-21 06:47] thakursarvesh commented on #5340
@v-kydela As per your suggestion I changed it to object submit action. Now the problem is If I click on button it doesn't display as user response. I need to show it as a user response. Please suggest as I am using bot composer to do this.

[2020-12-21 08:25] DanieleS82 opened #9773 "Dynamic parameters in "HTTP request" component"
Implement the possibility to dynamically set, into "HTTP request" component, the fields "method" and "headers".

More info could be read [here](https://github.com/microsoft/BotFramework-Composer/issues/5328).

[2020-12-21 09:57] luhan2017 commented on #5393
@tonyanziano @carlosscastro any idea on this? does this relate to the first party app settings?

[2020-12-21 15:19] ttur opened #5396 "Composer nearly unusably slow for editing dialogs after updating to 1.3.0"
## Describe the bug

After updating the composer from 1.1.1 to 1.3.0 editing a complicated bot is so slow that actions (such as editing a sendresponse) take 5-10 seconds, and occasionally fail.

Simpler dialogs can be edited okay, more complicated ones not at all.

We have been building an advisory bot since composer early betas. Our bot has 30+ dialogs. Simple dialogs have a few activities. Compl

[2020-12-21 15:52] hrazmsft opened #5397 "Feature Request: Timeout Trigger"
## Is your feature request related to a problem? Please describe.

I have some troubles to end dialog after period of time of inactivity.
Say I have a bot that supports several complex dialogs with multiple intents. When the user starts one dialog and leave the chat open for a while and come back, he is still on the dialog instead of moving to the main state.

## Describe the solution you'd like

[2020-12-21 15:53] tonyanziano commented on #5393
@luhan2017 I just took a look at our settings and personal accounts are not enabled. I will submit a request for them to be enabled. I will update once the request has gone through.

[2020-12-21 15:56] tonyanziano commented on #5393
It looks like first party apps cannot change their supported account types once they have been registered. I'm going to need to talk to 1st party app support to figure out how we can resolve this.

[2020-12-21 16:05] Kagigz commented on #5393
Thanks for that!
There's also the problem of not being able to enter a "@" in the input field, which requires having to copy/paste.

[2020-12-21 17:37] zxyanliu commented on #2926
@TheBestBirth Did you use [Composer v1.3.0](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.3.0) and follow [these installation instructions](https://docs.microsoft.com/en-us/composer/install-composer) in the doc?

[2020-12-21 17:45] TheBestBirth commented on #2926
@zxyanliu @luhan2017  Thank you guys for your support. i managed to find it and noticed that it is to be found under Project Setting as Lu han mentioned.
FYI, after changing setting, i got the same error and i realized it was due to Admin Rights to my PC, so that after fixing my access, it worked perfectly fine.  :) now i am able to run the bot at least.

[2020-12-21 17:47] zxyanliu commented on #2926
@TheBestBirth Great! Thanks for your feedback.

[2020-12-21 18:08] DS2019 opened #5398 "Nightly Build e678bd7 - cannot choose Profiles to Publish to"
Hi @tonyanziano

I've installed the latest nightly build and got further than I have before with trying to Publish to PVA from the Bot Framework Composer. However, it is not allowing me to choose a profile to publish to.
I had a publish profile of "Publish Bot to Azure" and added one to "Publish to PVA" - this time it found all 4 bots in my test tenant environment. However, when I go to the screen

[2020-12-21 18:17] tonyanziano commented on #5398
Hi @DS2019 ,

I've transferred this issue to the official Composer repository as we do not track issues on the nightly repository.

Sorry to hear you are still having trouble publishing. This sounds like a UI bug so we will take a look and update the ticket.

@luhan2017 any ideas off the top of your head? Or maybe Wenyi has thoughts on this? (I don't know wenyi's github username)

[2020-12-21 18:19] tonyanziano commented on #5398
If you press "Ctrl + Shift + I" to open the Developer Tools and try selecting the PVA publish profile again, do you see any errors in the console?

[2020-12-21 18:29] DS2019 commented on #5398
I don't think so. I choose "Publish to PVA" and it defaults right back to the Azure Profile:
![BacktoAzure](https://user-images.githubusercontent.com/44073678/102809784-751df980-4377-11eb-81e7-9b6c45d7eb5d.jpg)

[2020-12-21 18:37] #5381 closed

[2020-12-21 18:42] DS2019 commented on #5398
Oops, I missed this:
![NotValid](https://user-images.githubusercontent.com/44073678/102810840-47d24b00-4379-11eb-9aab-6c2756605110.jpg)

[2020-12-21 19:06] EricDahlvang commented on #5397
@garypretty  can you help with prioritizing this feature request?

[2020-12-21 19:10] v-kydela commented on #5340
@thakursarvesh - As explained in the answer that I linked you to, there is no way to create one string submit action that will work in both Web Chat and Teams. You will need to write code that checks the channel ID and modifies the card accordingly. Since you had indicated that you have a lot of cards where you will need to do this, you might be able to make things easier with a custom action: htt

[2020-12-21 19:13] tonyanziano commented on #5398
Awesome, this is very helpful. Let me take a look at the code. I might have an idea of what's going on.

[2020-12-21 19:38] tonyanziano commented on #5398
Found the issue. There was a recent PR #4924 that changed the publish extension history API and broke the PVA extension's ability to gather publish history. This causes it to error out which prevents you from selecting it as a publishing target.

I will have a fix out for this today.

[2020-12-21 20:39] v-kydela commented on #5376
@Samirun - Are you still working on this?

[2020-12-22 00:02] anusharavindrar opened #5400 "Bot fails to start after adding a new action, 'Telemetry - Track Event'"
## Describe the bug
When I add a new action, 'Telemetry - Track Event' to my bot and try starting the bot, it fails with the following error:
![image](https://user-images.githubusercontent.com/48731427/102833049-e58f3f80-43a4-11eb-8221-d8bf4b9e0840.png)

## Version

![image](https://user-images.githubusercontent.com/48731427/102833075-fc359680-43a4-11eb-90fe-b071f6901819.png)

## To Reproduce

Ste

[2020-12-22 00:50] zxyanliu commented on #5334
Hi @Samirun Did you get it to work? Please let us know if you have further issues with this.

[2020-12-22 01:18] luhan2017 commented on #5393
@Kagigz you can type any character except "@"? I can't reproduce this in my side.

![image](https://user-images.githubusercontent.com/32191031/102837349-95f95400-4436-11eb-80ed-e3aad2293f9b.png)

[2020-12-22 01:26] luhan2017 commented on #5400
@anusharavindrar this is a known issue in the sdk side, which I had a fix already merged, but it is not included in 4.11, so we didn't take it in composer yet. You can simply mitigate this issue by

Click show code on the upper right corner of you dialog, and
Update this
 "$kind": "Microsoft.TelemetryTrackEvent",
To
 "$kind": "Microsoft.TelemetryTrackEventAction"

[2020-12-22 01:36] luhan2017 commented on #5390
@ysnoek2 @JohnRobertGreen Could you help try the following steps to get more logs?

1. go to the project settings page and toggle "Use custom runtime"
![image](https://user-images.githubusercontent.com/32191031/102838314-d4900e00-4438-11eb-96c6-b0fae04cf90a.png)
F
2. after the runtime is placed in your bot folder, go to that folder and run "dotnet build" in cmd tool. For example:
C:\Users\luhan\Ec

[2020-12-22 02:44] JohnRobertGreen commented on #5390
Apologies but I've downgrade to Composer 1.21 to keep my project moving. I'll try to re-produce the issue in the next or so.

[2020-12-22 06:20] luhan2017 opened #5403 "Provision V2: Edit publish profile(add/update/delete services) through UX"
For provision V2, we want to support editing publish profile through UX. Which includes the follow work items:

- [ ] support edit publish profile with UX

Here is the figma design:
https://www.figma.com/file/J3oIdXDmeBQbAe4a4PYbQc/Jaskeerat-Bedi?node-id=2200%3A70869

[2020-12-22 06:50] luhan2017 opened #5404 "ABS handoff to Composer"
Doc: https://microsoft-my.sharepoint-df.com/:w:/p/cwhitten/ERQSd0P1ciVGqQbTvBOZDE4Bl6upSFyDElAwNNgqwbi6iQ?e=xymxMM

Here is detailed work items to track this feature:
- [ ] Implement bfcomposer:// protocol for abs source, and take abs payload.
- [ ] Implement the logic of create new bot, or pull from abs based on the payload.
- [ ] Update the provision and publish part to bind the webapp and chann

[2020-12-22 10:14] kranthicodes opened #5405 "Integrating/Mounting composer web component in a different project"
### Problem

I was wondering if there is a way for us to use composer(react web app) as a component in a different react project.

We started by exporting the App with RecoilRoot as we just needed the component which can be mounted.

<img src="https://user-images.githubusercontent.com/57343520/102878459-4b93c980-446e-11eb-848b-d84ce266c408.png" width="500" />

After this we just built the react ap

[2020-12-22 11:35] ttur commented on #5396
Some testing results:

- Release 1.2.1 is a bit faster than 1.3.0, but still way slower than 1.1.1 (tested on Windows and MacOS, same bot)
- Removing our extra languages (Finnish and Swedish) – leaving only English – does not make 1.3.0 much faster; maybe a little

[2020-12-22 15:07] jeff-breece commented on #3316
@goergenj, I am having the same problem here with an energy client of ours who wants to use Bot Composer but has a hard requirement of using Key Vault for secrets. Would you be willing to share a brief bit of info on how you solved this using publishing pipelines as you mentioned before? The process is not so clear to me as far as how Bot Composer creates and builds its artifacts. Thanks in advanc

[2020-12-22 17:13] dmvtech commented on #5333
Closing due to inactivity. Please let us know if you still are experiencing this issue and need assistance.

[2020-12-22 17:13] #5333 closed

[2020-12-22 17:14] dmvtech commented on #4994
Hey @knightmeister Just checking in again. Sill having this issue?

[2020-12-22 17:15] dmvtech commented on #5362
Hi @goergenj Any luck here? Did my sample help understand the behavior? Or did _I_ misunderstand your scenario?

[2020-12-22 17:25] EricDahlvang commented on #5390
Have you tried exporting the runtime, and running the solution from Visual Studio?  (when I've seen this exception, i've been able to gather more information via running from Visual Studio)

[2020-12-22 17:36] tannguyen3 opened #5406 "ChoiceInput failed to set Default value after Max turn count is exceeded"
## Describe the bug
I want to set a default value for a choice input after the Max turn count is exceeded. I try to use the Default Value property but the bot show error " Value cannot be null. (Parameter ‘activity’)" when the Max turn count is exceeded.

## Version

Bot Composer 1.2.1

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
-

[2020-12-22 18:08] zxyanliu opened #5407 "Publish LUIS to "australia" failed and to "australiaeast" succeeded."
## Describe the bug

1. **Select `australia` as LUIS region.**

   ![image](https://user-images.githubusercontent.com/32497439/102918812-7fee9200-443c-11eb-8ea5-b794b601cbbc.png)

2. **Publish and get error**

   ![image](https://user-images.githubusercontent.com/32497439/102918848-94cb2580-443c-11eb-8ed6-070970e1d298.png)

cc: @hibrenda

## Solution

Change `australia` to `australiaeast` worked.

[2020-12-22 19:17] v-kydela commented on #5364
@goergenj - Are you still working on this?

[2020-12-22 20:59] parasdesaicims commented on #3339
Hello @cwhitten  and @stevengum, do you have any update on when this will be released. If already released please share the link.

Thanks in advance.

[2020-12-22 23:56] EricDahlvang commented on #4156
Hi @BeheraMadan

Are you able to provide answers to Gary's questions?

[2020-12-23 05:07] BeheraMadan commented on #4156
hi,

We are using web chat for both dev as well as prod environment.

Thanks...

[2020-12-23 05:13] BeheraMadan commented on #4156
Hi,

We are unable to see the number of users in the application insight resource. Not sure what may be the problem.
But as an alternative we can see the number of users under the 'analytics' tab of 'webapp bot' resource.

Thanks....

[2020-12-23 06:02] Samirun commented on #5376
@zxyanliu  we moved forward with our work with updated documentation. Thanks for the support. You may close this issue for now.

[2020-12-23 06:32] Samirun commented on #5334
yeah it worked.No issues as of now. thanks

[2020-12-23 11:55] hraz-msft opened #5408 "Multi Window Support"
## Is your feature request related to a problem? Please describe.

Not exactly. Sometimes I need to work on several bots at once (bot + skills), but Composer can run only one window instance

## Describe the solution you'd like

Support multi window instances of the Composer

## Describe alternatives you've considered

Rapidly switch between project in one window, which is annoying

## Additional

[2020-12-23 12:01] #5408 closed

[2020-12-23 15:23] Phuong1999 opened #5409 "(? I) (?: Add | create). * (?: to-do | todo | task) (?:)? (?: names (? <title>. *)) ?"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2020-12-23 16:53] #5409 closed

[2020-12-23 17:14] zxyanliu commented on #5376
@Samirun Thanks for the update and thanks again for your feedback! I am closing this issue as you requested now.

[2020-12-23 17:14] #5376 closed

[2020-12-23 17:15] zxyanliu commented on #5334
Thanks for the update and thanks again for your feedback!
I am closing this issue now because it has been addressed with updates to the [documentation](https://docs.microsoft.com/en-us/composer/).
Thank you!

[2020-12-23 17:15] #5334 closed

[2020-12-23 18:18] tannguyen3 opened #5410 "Telemetry configuration - logPersonalInformation"
In the bot configuration, there is below configuration. So please explain what happen if logPersonalInformation is true.
  "telemetry": {
    "logPersonalInformation": false,
    "logActivities": true
  },

Thanks,
Tan.

[2020-12-23 19:23] EricDahlvang commented on #5405
@cwhitten or @garypretty  would you please chime in here?  Is this something we support?

[2020-12-23 19:35] EricDahlvang commented on #5406
Hi @tannguyen3

Please try adding a value for "defaultValueResponse" (this is the response which will be sent to the user after the max turn count is exceeded):

![image](https://user-images.githubusercontent.com/11055362/103031585-feb5fe80-4512-11eb-8500-96d5e8cedaa0.png)

![image](https://user-images.githubusercontent.com/11055362/103031565-f067e280-4512-11eb-8a43-6e5941ee4007.png)

[2020-12-23 19:58] tannguyen3 commented on #5406
It works. Thanks @EricDahlvang

[2020-12-23 19:58] #5406 closed

[2020-12-23 19:59] #5410 closed

[2020-12-23 20:55] tannguyen3 commented on #5345
Same issue for me. please implement this feature.

[2020-12-23 22:37] v-kydela commented on #5340
@thakursarvesh - Are you still working on this?

[2020-12-24 01:22] cameroncharles commented on #5344
I am also getting this error, i had to create a new profile in 1.3 but it looks very similar to the one for another bot that was created in 1.2, said bot also publishes just fine in 1.3 the only difference between the 2 is LUIS

i have the hostname and luisResource values set and the json for both the profile and the settings is valid, but i still get this error

[2020-12-24 02:52] veroneze commented on #5393
Any updates on this?

[2020-12-24 21:41] djsbur opened #5411 "Bot Framework Composer is slow since 1.3.0 update"
## Describe the bug
I'm creating a bot structure.  When I go through the process of adding a dialog, this takes about a minute beginning to end.  i.e. Click add dialog, wait for window to show, enter name, click ok and wait for dialog to be added.  This did not happen prior to update.  I'm on a high spec Surface Pro 7.

## Version
This was an auto-update.  Details in Help>About are
Version 1.3.0
E

[2020-12-25 08:14] xieofxie commented on #4174
Changed to array now.

[2020-12-25 08:14] #4174 closed

[2020-12-25 08:22] xieofxie commented on #4285
Worked now

[2020-12-25 08:22] #4285 closed

[2020-12-25 08:26] xieofxie commented on #4175
useProjectApi from "@bfc/extension-client" has projectId now

[2020-12-25 08:26] #4175 closed

[2020-12-27 10:47] cxbuilders opened #5412 "V1.3.0 Not Compatible with Previous Versions when using a Pipeline"
V1.3.0 fails to launch when executed using our Pipeline. Apparently this new version has some changes in the way it is build and deployed. I would like to get some insights in this if possible to make a decision on what to do with this;

- What are the changes in the build / deploy process from V1.2.2?
- Will this be possible for each version upgrade?
- When will Composer come shipped with a nativ

[2020-12-27 10:47] cxbuilders commented on #5343
Cannot replicate this anymore, closing..

[2020-12-27 10:47] #5343 closed

[2020-12-28 07:55] #5293 closed

[2020-12-28 11:08] daronyondem commented on #3413
@hraz-msft I have the latest (v.1.3.0) composer and can't figure out where the `bot setting` section is. All I can see is Project Settings, and the fields on that UI are pretty static looking to me. Am I missing something? I'm looking for somewhere to store 3rd party API keys used in HTTP Requests. These are used in multiple places. I'm not really worried in the context of a secret, but more looki

[2020-12-28 13:03] hraz-msft commented on #3413
@daronyondem in the last version, go to Project Settings and click on the toggle button `Advanced Settings View (json)`

Then you can add fields to the JSON and use them with the `settings` scope variable

[2020-12-28 13:10] daronyondem commented on #3413
That is pretty user-hostile :) I hope the team has improvements in mind. Including @luhan2017 in case he can pass on the feedback.

Thanks @hraz-msft 👍

[2020-12-29 00:45] hibrenda commented on #5411
This might be the same issue #5396 @lei9444 for awareness

[2020-12-29 01:02] luhan2017 commented on #5412
@cxbuilders we updated the luis and qna build process, now the recognizers will be generated at the early stage and will be placed in the recognizer folder, could you check if your pipeline deployed the recognizer folder?

[2020-12-29 02:11] boydc2014 commented on #5412
@cxbuilders As Lu mentioned above the changes in 1.3.0 about build/deploy, is we take the "recognizers" out of generated folder and put those recognizer files into a dedicated "recognizers" folder.

The intention of this change is to make Composer's process more transparent and more be more friendly to CI/CD pipeline. Without this change, you have to build the bot in Composer. This change will ena

[2020-12-29 06:19] cxbuilders commented on #5412
@boydc2014 Thanks for the info I will take a look today  and see if I can update the pipeline to fix it.
The Pipeline we have basically does everything the provisioning and publishing does in Composer. So from within the bot folder you push to the repo and all resources, building and deploying ia executed in the pipeline.

If you're interested I can show you how it's setup and works, let me know.

[2020-12-29 11:08] ysnoek2 commented on #5390
@luhan2017 I followed your steps and tried connecting manually with the emulator and got this exeption:

PS C:\Users\snoekya\Desktop\Stage\BotComposer_project\Isabot\runtime> dotnet run --project azurewebapp
C:\Users\snoekya\Desktop\Stage\BotComposer_project\Isabot\runtime\azurewebapp\Microsoft.BotFramework.Composer.WebApp.csproj : warning
 NU1701: Package 'Microsoft.Azure.KeyVault.Core 1.0.0' was

[2020-12-29 12:20] daronyondem opened #5414 "Resource Group Name Validation Not Needed When Creating Publish Profiles."
The deployment wizard warns the user that the resource group exists. However, the existence of it is not a problem at all.

![image](https://user-images.githubusercontent.com/2984187/103283016-7d65dc80-49e8-11eb-8888-837edb8b95b9.png)

When the user fills in the `HostName` first and selects the subscription next, the wizard validates the input, and the deployment can proceed with no issues.

I sug

[2020-12-29 13:42] djsbur commented on #5411
Thank you for following up on this.

Yes, it does look like a similar issue.

I’m also building a bot for my company that we wish to release on the Microsoft Teams app store in January and this update issue has stopped any further development as the Composer is basically unusable.

Thanks,

[cid:image003.png@01D6DDE8.76BE9140]<https://moderncollab.co.uk>
Dan Burling
Modern Collaboration and Digita

[2020-12-29 15:18] Rekeyea commented on #5333
I'm having this same issue. However, the luisResource property of the JSON does match the prediction resource name.

[2020-12-29 15:49] Rekeyea commented on #5344
Same issue here. Both the inability to publish from composer due to something with luis and the composer never finishing loading when trying to provision a profile with resources created from composer.

[2020-12-29 19:35] cwhitten commented on #5411
@djsbur while the team works through this issue, can you please use a previous version to unblock your development?

[2020-12-29 20:30] djsbur commented on #5411
Hi @cwhitten

I have reinstalled v1.2.0.  However I have also had to revert to an older backup of the bot that was not amended using v1.3.0 as the bot file makes v1.2.0 hang.  I've lost a lot of work, but at least there's a speedy way forward now.

Looking forward to see what the analysis turns out :)

FYI I do love the Bot Framework Composer (as a non-dev).  Great work to all of your team!

[2020-12-29 21:24] cwhitten commented on #5411
We’ve been looking into this for a few days now. I expect us to have an update on 1.3 that will allow you to re-update soon.

I’m glad you’re finding value in the product!

[2020-12-29 21:42] mewa1024 opened #5415 "Form dialogs: regenerating a dialog that has edits to form-global.en-us.lu causes the file to disappear"
## Describe the bug

When I make changes to LU in the form-wide LU file, if I regenerate the form dialog, the .lu file disappears.

## Version

1.3.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a form dialog (create a schema then the generate

[2020-12-29 22:01] mewa1024 opened #5416 "Form dialogs: LG for RepromptHelp and MissingPrompt are the same for properties that are not enums"
## Describe the bug

For properties that are defined as types other than a list, the LG for RepromptHelp and MissingPrompt are the same, which causes the bot to ask the message twice in a row when an invalid answer is given.

## Version

1.3.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

[2020-12-29 23:06] dmvtech commented on #4994
Closing due to inactivity. Please let us know if you are still having this issue and we can reopen if needed.

[2020-12-29 23:06] #4994 closed

[2020-12-29 23:09] knightmeister commented on #4994
@dmvtech I find it ironic that I raised this issue and it sat there unattended for weeks - I'm on Christmas break and I will pick this up on January 7 when I return to work and let you know if it is still an issue then.

[2020-12-30 00:30] MIkey007007 opened #5418 "Desktop Composer's publish function isn't able to recognize my azure login email address"
## Describe the bug

I am using the publish function of the desktop composer to publish my bot to the Azure web service.
After I invoke the "publish the selected profile", the composer simply keeps prompting me for azure login in the account.
Regardless I repeated input my valid azure login email address,  composer will keep repeating the following error message:

    " we could not find a work or

[2020-12-30 01:22] ivatilca commented on #5418
Same problem over here.... I dont have option to sign in with personal account.

[2020-12-30 01:25] ivatilca commented on #5418
Related bug https://github.com/microsoft/BotFramework-Composer/issues/5393

[2020-12-30 01:32] MIkey007007 commented on #5418
Let's hope we can get some attention here.  What is the point to use the composer if it wouldn't let you publish ??

[2020-12-30 01:56] MIkey007007 commented on #5393
Any update? It appears that this is a very common problem. Let's hope we can get some progress.
What is the point to use the composer if it wouldn't publish?

[2020-12-30 01:56] mewa1024 opened #5419 ".lu file format gets confused by @-sign in email addresses?"
## Describe the bug

In .lu files, entity labels around email addresses are discarded.

## Version

1.3.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

I ran into this when using form dialogs and had a property of type **email**, but this would probably h

[2020-12-30 02:05] tonyanziano commented on #5393
Hello,

I'm trying to reach out to the internal First Party Apps team here at Microsoft to debug the issue, but I believe most of them are out of office until the new year.

I will update when I hear back from them.

@luhan2017 @benbrown is there a way users can publish manually using the CLI as a workaround?

[2020-12-30 02:37] MIkey007007 commented on #5393
Thanks for the update!

[2020-12-30 02:58] zxyanliu commented on #5350
@DS2019 are you still blocked?

[2020-12-30 05:48] BeheraMadan commented on #4761
Hi,

For loop &  dowhile loop  not available in the latest composer version. Can we know when will  it be available?

Thanks...

[2020-12-30 08:01] xieofxie opened #5421 "go back to trigger when selecting action"
## Describe the bug

go back to trigger when selecting action

## Version

1.3.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Clone this bot https://github.com/microsoft/botframework-components/tree/preview-build2020-test/skills/declarative/todoskill

[2020-12-30 12:23] BeheraMadan opened #5422 "Two buttons not diplaying in herocard"
Hi,

I used below template but two buttons not displaying only one button visible could you please suggest some solution.

[HeroCard
    title = Big Buck Bunny
    subtitle = by the Blender Institute
    text = Big Buck Bunny (code-named Peach) is a short computer-animated comedy film by the Blender Institute
    buttons = ${cardActionTemplate('openUrl', 'Study more', 'https://docs.microsoft.com/e

[2020-12-30 17:38] joshgummersall commented on #5418
It looks like the team is actively working to resolve this issue, though updates are happening primarily on https://github.com/microsoft/BotFramework-Composer/issues/5393.

[2020-12-30 18:02] DS2019 commented on #5398
Hi @tonyanziano - I've tried a few of the nightly versions, the latest being: da63bc9 and I still have the UI bug for Publishing to PVA:
![FailPublish](https://user-images.githubusercontent.com/44073678/103372151-1d257800-4a86-11eb-8b41-c76036a1d6b8.jpg)

[2020-12-30 18:03] joshgummersall commented on #5422
You need to create an [array](https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lg-file-format?view=azure-bot-service-4.0#arrays-and-objects). Try this:

[code]

This renders:

![Screen Shot 2020-12-30 at 10 03 19 AM](https://user-images.githubusercontent.com/1235378/103372217-447c4500-4a86-11eb-8e3b-68516673ccbe.png)

[2020-12-30 18:11] tonyanziano commented on #5398
Hey @DS2019 ,

Thanks for the reminder! This is totally my bad. My PR got approved yesterday for the fix and still hasn't made it into the nightly builds. I will merge it in the next hour and I'll kick off a nightly build for you.

[2020-12-30 18:12] DS2019 commented on #5398
@tonyanziano - sweet! Appreciate it!

[2020-12-30 18:29] Afranzio commented on #4443
@luhan2017 I tried with Json in the Readme file. But still, I'm facing the same error.

[2020-12-30 18:50] #5398 closed

[2020-12-30 19:10] #5418 closed

[2020-12-30 19:12] #5422 closed

[2020-12-30 22:13] tonyanziano commented on #5398
Go ahead and try the following release: https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.3.0-nightly.198726.32a4899

@DS2019

[2020-12-30 22:24] narulasrinivas commented on #3325
@cwhitten , @vishwacsena - Is there any timeline for this feature to release in BOT composer?

[2020-12-30 23:19] MIkey007007 commented on #5418
Agree.

On Wed, Dec 30, 2020 at 11:10 AM Josh Gummersall <notifications@github.com>
wrote:

[2020-12-30 23:21] DS2019 opened #5423 "Publish to PVA from Bot Framework Composer Hangs and Never Completes"
## Describe the bug

Publishing to PVA just hangs and never completes

## Version

32a4899

## Browser

- [ ] Electron distribution
- [X ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Choose a bot in Bot Framework Composer > go to Publish
Choose a Publish Profile (I've tried two)
Select Publish Sele

[2020-12-31 00:11] v-kydela commented on #5364
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-12-31 00:11] #5364 closed

[2020-12-31 00:16] v-kydela commented on #5340
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-12-31 00:16] #5340 closed

[2020-12-31 01:33] dmvtech commented on #5389
HI @anemit

I was able to reproduce the issue, still not sure what the resolution or cause is yet. I did notice that you were using the same term for some labels as well as roles (specifically `te`). Do both of your prebuilt entities need to have roles?

[2020-12-31 05:16] dmvtech commented on #4875
Hi @KoradaRajesh. Sorry for the delay.

Using LU such as:
[code]

You can then set properties for each. using the coalesce function to read if the role is assigned, otherwise using the entity:
[code]

Then of course use those as needed:
`- Entities: ${dialog.hrf1} and ${dialog.hrf2}`

Do you particularly need those values in an array, or just to be able to capture each one?

[2020-12-31 06:20] BeheraMadan commented on #5422
Thanks its working......

[2020-12-31 07:03] MoesLab opened #5424 "Runing QnASample-0 with no keys QnA key can go on for ever needs time out"
## Describe the bug

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2020-12-31 09:52] cxbuilders opened #5425 ".gitignore not correct"
Although there is no native CI/CD for Composer we do have this setup and the .gitignore file seems to be not ok. Currently it has;
![image](https://user-images.githubusercontent.com/49873947/103405059-1108eb80-4b56-11eb-914f-3ebcd0c3aecf.png)

appsettings.json should be part of the repo and for example the generated folder and publish log files could be ignored.

Now I all the time have to update

[2020-12-31 14:18] rvinothrajendran opened #5426 "Not able to change the Recognizer Type"
## Describe the bug

Not able to change the Recognizer Type

## Version

1.3.0

## Desktop

Desktop application

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Ref the attached video.

## Expected behavior

Recognizer Type should be change.

## Screenshots

Ref the attached video.

## Additional context

https://user-images.githubusercontent.com/1

[2020-12-31 17:18] dmvtech commented on #5362
Hi @goergenj I am closing this as I believe this has a correct approach/answer to your issue. If you do not believe this is the case, please comment and we can reopen.

[2020-12-31 17:18] #5362 closed

[2020-12-31 17:24] dmvtech commented on #5426
I am able to reproduce this, but only when selecting the Bot _project_, not the _dialog_. @rvinothrajendran Can you confirm the same?

![image](https://user-images.githubusercontent.com/43397658/103419927-f761a700-4b49-11eb-9600-53edb692cd6b.png)

[2020-12-31 17:27] rvinothrajendran commented on #5426
@dmvtech yes you are right

[2020-12-31 17:43] dmvtech commented on #5333
@luhan2017 Do you have any ideas here for @Rekeyea? What else can they check?

[2020-12-31 17:57] dmvtech commented on #5426
Thank you. Also found out odd behavior:

1. Change recognizer type while bot project is selected
2. Go to dialog and change a different property (`auto end dialog` for example)
3. That will refresh the recognizer type in the dialog (and project if you go back and select that).

So, when changing the recognizer when project is selected actually does change it. It just doesn't get reflected.

[2020-12-31 17:58] rvinothrajendran opened #5427 "Dialog name display wrong in Right side panel"
## Describe the bug

Dialog name display wrong in Right side panel

**No idea is a bug or purposely display as “Adaptive dialog”**

## Version

1.3.0

## Desktop application

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Create a new bot project and select the parent dialog
Ex : parent dialog "WeatherBot"  right side panel display name as "Adapti

[2020-12-31 17:59] Rekeyea commented on #5333
I can add a bit more about this mistery. I was able to publish without problem by building the composer locally. The difference I see in the process is it asks me directly the access token while the desktop app asks me to log in and expects the correct token in the json profile.

[2020-12-31 18:00] joshgummersall commented on #5424
@MoesLab, would you please fill out the issue template with more details? In particular, a specific set of steps to reproduce the issue. Thanks!

[2020-12-31 22:11] dmvtech commented on #5379
Hi @tannguyen3

 I'm _assuming_ that you might have hit too many authoring transactions per second, but not sure. I'm not able to reproduce this. If you want to try and share a repository of a bot (with sensitive/personal info removed. i.e. keys and such) that reproduces this behavior for you, I'd be happy to try that.

[2021-01-01 19:09] cxbuilders opened #5430 "Cosmos vs Storage -> State vs Transcripts"
I am trying to understand what the reason is for storing the state in Cosmos and the transcripts in Storage? Why not have both in Storage? The reason I am asking is that Cosmos just takes a long time to create in the Pipeline and it would also just simplify things. Additionally the cost of Cosmos also is quite high if usage is low (for dev and acc).

[2021-01-01 19:19] cxbuilders commented on #5412
I have fixed the pipeline to be compatible again with 1.3.0. There were quite some differences in the build that I needed to implement.

- Recognizer folder as mentioned (This enabled be to remove quite a big chunck of my PS script dealing with Luis, so that was good).
- Luis properties in appsettings.json was changed to contain an object property per app instead of just a string property per app

[2021-01-01 19:36] cxbuilders opened #5431 "Azure Resources Recommendations"
I have been searching a lot for the recommended settings for Azure Resources for Bot Framework Bots (namely the WebApp).
For example the WebApp that gets created by Composer has the S1 SKU but not the always on flag, which I find surprising. Is this intentional or just never looked at?

It would be great to have a list of recommended settings for the resources.

Now I am just setting whichever I t

[2021-01-01 21:45] dmvtech commented on #5008
Hi @narulasrinivas and @negativeeddy Apologies for the delay.

Can you please try clearing the local storage and then trying again? The steps to do this are:

1. Go to `View->Toggle Developer Tools` in Composer.
2. Go to the `Application` tab
3. Under the left nav `Local Storage`, select the localhost node and then hit the `Clear all` button 🚫.
4. Close Composer and then restart.
5. Re-add your au

[2021-01-01 23:36] dmvtech commented on #5423
Possibly related to #4659

[2021-01-01 23:37] dmvtech commented on #5423
I'm not even to get as far as the spinning wheel. Investigating.

[2021-01-02 08:02] cxbuilders commented on #5412
Additionally I saw that the publish process updates the runtime project. Should this be part of the build as well?
![image](https://user-images.githubusercontent.com/49873947/103453320-18a4cd80-4cd9-11eb-8673-4558a867b3b7.png)

[2021-01-02 14:05] narulasrinivas opened #5432 "Not moving back from child dialog (QnaIntent trigger) to Parent Dialog"
## Describe the bug

I've an three dialogs and each dialog has one `beginOnInt`, `QnaIntent`, `Unknown `Intent. Each dialog is getting fired based on LUIS intent from the parent dialog.

Issue:

When user enters one of the dialog, `beginOnInt `prompts and takes input and checking in `QnaIntent `and giving response.
But when there is no match in `QnaIntent`, I expect the query to pass back to root

[2021-01-02 16:42] narulasrinivas commented on #3248
@luhan2017 & @cwhitten - I'm getting this error in BOT Composer 1.3.0 and BOT Emulator 4.11.0 in Windows 10.

Created project using OOB sample (QnAMakerSample) in BOT Composer

![image](https://user-images.githubusercontent.com/2491903/103461868-575a7800-4d19-11eb-9f14-f015d85d13f0.png)

Getting issue with LUIS in BOT Emulator.
![image](https://user-images.githubusercontent.com/2491903/103461839-2

[2021-01-03 02:13] chrisshaw opened #5433 "Conversational Core Template: Cannot read property 'content' of undefined"
## Describe the bug

Creating a new bot with the Conversational Core (preview) template throws the error `TypeError Cannot read property 'content' of undefined`.

## Version

![image](https://user-images.githubusercontent.com/2966918/103470274-8aa30400-4d25-11eb-9690-f7892e600b75.png)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
-

[2021-01-03 13:00] sammydeprez commented on #4875
got the same question. But not with regex.
I have a LUIS Entity - lets call it 'topping'
And the user says: 'I want pizza with peperoni & olives'
LUIS recognize Entity Topping and returns ['peperoni', 'olives']
but only the 1th one is added in to a variable.

Above solution might work, but we never know how many items the user will return.

[2021-01-03 13:20] KoradaRajesh opened #5434 "CPU usage getting increased to 100% and bot is getting stopped"
When we are continuously chatting with bot which have composer dialogs and hosted in Azure webappbot the CPU usage of App service getting increased to 100% with in short period of  time and bot is stopped to respond.

[2021-01-03 13:24] KoradaRajesh commented on #4875
@dmvtech @tonyanziano @sammydeprez I'm fasing one more major issue can you look into that Quickly #5434

[2021-01-04 01:49] luhan2017 commented on #5434
@KoradaRajesh Could you share your bot? Or at least check if there is loop in your bot? for example: dialogA calls dialogB and dialogB calls dialogA.

[2021-01-04 04:18] KoradaRajesh commented on #5434
There is no such looping dialogs. I can't share bot files here Please provide your Mail id

[2021-01-04 06:10] luhan2017 commented on #5434
@KoradaRajesh luhan@microsoft.com

[2021-01-04 06:17] luhan2017 commented on #5430
@cxbuilders Thanks for the feedback, we will support this in the next release.

[2021-01-04 06:31] Khanh-Ngy opened #5435 "Cannot build composer from source"
I tried this : https://docs.microsoft.com/en-us/composer/install-composer#build-composer-from-source

But got problems when run **yarn**  at terminal in ...\BotFramework-Composer\Composer
![image](https://user-images.githubusercontent.com/71876037/103506824-3ff1cb00-4e90-11eb-8ec8-bb0563d940ef.png)
It didn't run anymore...

Then , I tried other way with running **yarn install** && **yarn build**
!

[2021-01-04 06:35] luhan2017 commented on #5431
@cxbuilders Thanks for your feedback, we just used the default value and didn't set any configuration values in the provision process, we will consult experts to have a good recommendations on this in the next release.

[2021-01-04 10:34] Khanh-Ngy commented on #3631
@luhan2017 ,

I did an example at here
![image](https://user-images.githubusercontent.com/71876037/103526074-e2bb4100-4eb2-11eb-81f8-a619b67bf648.png)
But it still threw this error
![image](https://user-images.githubusercontent.com/71876037/103526119-f8c90180-4eb2-11eb-8403-fc829036d408.png)

Hope you can help. So many tks !

[2021-01-04 15:50] tdurnford commented on #5435
@Khanh-Ngy What version of Node and what operating system are you using? I ran into a similar issue when I was using Node v15. Reverting to Node v14 resolved the issue.

[2021-01-04 16:00] bdezeeuw opened #5436 "Publishing 1.3.0 to Web App hangs after logging in"
## Describe the bug

I'm trying to publish as an Azure web app.  I created just a basic echo bot template.  I then started the process to add a new publish profile and select the web app option.  It asked me to login to Azure which I did successfully.  It then hung on the "Configure resources" page.  It says "Loading" with the spinning wheel but nothing ever actually loads.

## Version

1.3.0

##

[2021-01-04 17:09] taicchoumsft commented on #5435
Hi @Khanh-Ngy , reinforcing what @tdurnford said, right now we only support compiling and running on LTS versions of Node (v10, v12, v14 are [ok](https://github.com/microsoft/BotFramework-Composer/blob/main/docs/1.3-supported-os.md)).  Can you revert to an LTS version and try compiling again?

[2021-01-04 17:10] igordevezas commented on #2705
Hi @zidaneymar, I tried to use the FacebookAdapter with Composer... After 6 hours understanding the way, I was able to get the connection. The problem now is to display the cards/texts.

![image](https://user-images.githubusercontent.com/1262003/103560470-1e0c3e80-4eb8-11eb-955d-fc2dde79273d.png)

[2021-01-04 18:38] cwhitten commented on #5425
@cxbuilders this is currently by design so users don't inadvertently check in sensitive information that may be serialized into the file.

I could see this being configurable to an extent, but to simply remove this from .gitignore I worry that users less familiar with the diligence needed to avoid exposing sensitive information will be set up for failure, which is something we avoid, especially wh

[2021-01-04 18:43] cwhitten commented on #5405
Hi @kranthicodes. We have no prioritized the scenario to natively embed the Composer client app into an existing client app.

I'd recommend hosting the apps independently and consuming the Composer application over an iframe. This will allow the applications to operate independently of each other on the page.

We have no plans to invest in supporting this scenario at the moment.

[2021-01-04 18:47] cwhitten commented on #5222
@joaollq is this on your plate? If/when please make sure to link the PR to this issue so we can track it correctly. Thanks

[2021-01-04 18:49] cwhitten commented on #4959
@cxbuilders we'll close this for now, but feel free to comment if you need pointers to the UI

[2021-01-04 18:49] #4959 closed

[2021-01-04 18:51] KoradaRajesh commented on #5434
@luhan2017  I'm reading composer files on every bot hit this causing high memory usage and bot getting stopped to respond

[2021-01-04 18:53] cwhitten commented on #5395
@yeze322 putting this on your radar as we look to provide examples/materials/changes to support these scenarios.

[2021-01-04 19:03] #3566 closed

[2021-01-04 19:03] #2817 closed

[2021-01-04 19:18] igordevezas commented on #2705
Just to inform that after trying use ChannelData to replace HeroCards:

[code]

I get:

![image](https://user-images.githubusercontent.com/1262003/103570192-ea85e000-4ec8-11eb-81d8-76ce6028a81d.png)

Any lights here, please?

Many thanks.

[2021-01-04 19:21] cxbuilders commented on #5425
@cwhitten I see just as much potential of having sensitive data in dialogs, like Api keys in Http calls etc. By just ignoring the appsetings.json inexperienced users could push to the repo and remove their local bot, ending up with a repo that contains sensitive data in their dialogs ánd a crippled bot.

It is pretty tricky to spot that the default Composer bot does exclude an integral part of its

[2021-01-04 19:25] negativeeddy commented on #5008
after updating to v1.3.0 LUIS is working for me again

[2021-01-04 19:27] cwhitten commented on #2514
Closing as stale and missing any information.

[2021-01-04 19:27] #2514 closed

[2021-01-04 19:27] cwhitten commented on #1731
Closing as stale and missing any information.

[2021-01-04 19:27] #1731 closed

[2021-01-04 19:27] cwhitten commented on #1729
This has shipped with Bot Projects

[2021-01-04 19:27] #1729 closed

[2021-01-04 19:27] cwhitten commented on #2507
Closing as stale and missing any information.

[2021-01-04 19:27] #2507 closed

[2021-01-04 19:28] cwhitten commented on #2088
This has shipped with Bot Projects & Packages

[2021-01-04 19:28] #2088 closed

[2021-01-04 19:29] #1694 closed

[2021-01-04 19:29] #701 closed

[2021-01-04 19:39] dmvtech commented on #5432
Hi @narulasrinivas I think I need to see more specifics on what you have set up to understand what is going on and find any solutions, etc.

Also, I'm not sure what you mean by:

What should be empty?

Are you able to share this bot in a repository (scrubbed of personal/sensitive information) so that I can test myself? Also, maybe an example of the conversation and how it is not working.

[2021-01-04 19:40] gabog commented on #5337
Close due to inactivity.

[2021-01-04 19:40] #5337 closed

[2021-01-04 19:49] gabog commented on #5396
Thank you @ttur, we will address this issue in an upcoming release.

[2021-01-04 19:52] gabog commented on #5411
this one is duplicated, closing it so we can track it in #5396

[2021-01-04 19:52] #5411 closed

[2021-01-04 19:54] gabog commented on #5414
Thanks @daronyondem, @luhan2017 will look at the PR and merge it if it gets accepted.

[2021-01-04 20:06] gabog commented on #5433
Hi @pavolum, can you take a look at this one?
Thanks

[2021-01-04 20:07] gabog commented on #5434
Taken offline.

[2021-01-04 20:07] #5434 closed

[2021-01-04 20:33] ryanlengel opened #5437 "Text input jumps to last character after adding characters under runtime section"
## Describe the bug
On the **Bot management and configurations** page, when entering text under the **Custom runtime** section the cursor jumps to the end of the input with any character. This does not match the behavior of similar text input above in sections like **External services**.
## Version
v1.3.0

## Browser
- [x] Electron distribution

## OS
- [x] Windows

## To Reproduce
1. Go to Bot ma

[2021-01-04 20:35] zxyanliu commented on #5435
@taicchoumsft thanks for the clarification.

From the docs side, I am going to:
- update the wording of the Node.js versions and specify the following: LTS versions of Node (v10, v12, v14).
- add [a supported OS](https://github.com/microsoft/BotFramework-Composer/blob/main/docs/1.3-supported-os.md) link in the prerequisite section for building Composer from source.

[2021-01-04 21:29] cwhitten commented on #3248
@narulasrinivas to confirm, you're using Azure Functions?

[2021-01-04 21:32] cwhitten commented on #3325
@narulasrinivas this has been released and requires that you author the QnA KB in Composer and publish it similarly to the way you author LUIS models. See https://docs.microsoft.com/en-us/composer/how-to-create-qna-kb for more information.

[2021-01-04 21:37] cwhitten commented on #3339
No updates as of today, but it is a priority. We're currently working through the various resources one would use the implement CI/CD. Here is the latest that explains how to recreate the LUIS language modeling in a CI environment:

https://github.com/microsoft/BotFramework-Composer/blob/main/docs/archived%20docs/how-to-process-language-models-with-CI-CD.md#using-botframework-cli-tool-to-process-l

[2021-01-04 21:40] cwhitten commented on #5388
@zxyanliu I like it. @srinaath any comments?

[2021-01-04 21:45] cwhitten commented on #4944
Transferring this to botbuilder-dotnet

[2021-01-04 21:46] narulasrinivas commented on #3248
Nope. Just OOB template.

On Mon, Jan 4, 2021 at 9:29 PM Chris Whitten <notifications@github.com>
wrote:

--
Regards
N.Srinivas

[2021-01-04 21:47] cwhitten commented on #3248
This issue was specific to deploying to Azure Functions. Please create a new issue for what you are experiencing.

[2021-01-04 22:17] srinaath commented on #5388
I agree that we need to use the same msappid that was created with our Composer publishing workflow. This would avoid the need of multiple pairs of msappid/pwds. Is the workflow being prescribed here basically on 

1.  When publishing inside composer we pick the msappid of the newly created Bot Channels registration resource and the newly deployed endpoint of the bot.
2.  Create a manifest if not

[2021-01-05 01:38] luhan2017 commented on #5388
@srinaath  Yes, this is exactly what I thought. Let's just create new endpoint for each publish profile. We just don't need step 3, because during the publish process, the appid and password in appsettings.json will be overwrote by the values in the publish profile.

[2021-01-05 02:46] arafattehsin opened #5438 "Suggestion: Change "Composer Settings" to "Global Settings""
Hi Team

I am not sure if anyone else has reported this but I think that the name of Composer Settings sounds confusing when we're creating a bot (esp. those who're new to this client).

I suggest changing this name to **Global Settings**.

![image](https://user-images.githubusercontent.com/16351038/103600791-5feec080-4f5c-11eb-823b-05f1e9450c57.png)

[2021-01-05 03:54] Samirun commented on #4816
Hello, I had got this one too. any solution?

[2021-01-05 03:54] Khanh-Ngy commented on #5435
So many tks bro !!
I changed node version 15 to 14 && it worked fine <3

[2021-01-05 03:54] #5435 closed

[2021-01-05 04:03] #3386 closed

[2021-01-05 07:06] Khanh-Ngy commented on #4458
@gbelenky, @feich-ms
I got a problem related to the company network.
When I used public network, it worked fine.
How can I config the proxy for Bot Framework Composer ?
![image](https://user-images.githubusercontent.com/71876037/103616179-844b9c80-4f5e-11eb-949d-24253bb385e0.png)

[2021-01-05 07:10] Khanh-Ngy opened #5439 "I got a problem " Sorry, something went wrong with publishing. Try again or exit out of this task. ""
I tried this tutorial : https://docs.microsoft.com/en-us/composer/tutorial/tutorial-luis

I got a problem related to the **company network**.

When I used **public network**, it worked fine.

How can I config the proxy for Bot Framework Composer ?

![image](https://user-images.githubusercontent.com/71876037/103616179-844b9c80-4f5e-11eb-949d-24253bb385e0.png)

## Version

## Browser

- [ ] Electron

[2021-01-05 08:15] ttur opened #5441 "Update to 1.3.0 breaks bot for languages that do not have every activity translated"
Update to 1.3.0 breaks bot for languages that do not have every activity translated

We have a bot created with Composer that supports multiple languages, in our case English, Finnish, and Swedish. New dialogs are first created in English, later translations are added. Existing, already translated dialogs may also undergo changes that are first implemented in English, later in the other languages.

[2021-01-05 09:56] VanyLaw commented on #5414
Thanks @daronyondem. For you first scenario, currently, we need to deploy resources in a new resource group. Because we use the `HostName` to create different resources name. Like if you input `test` in HostName, we will use it as resource group name, and use it as webapp service name, and if you need luis or other resources, we will use it `test-luis`, `test-luis-authoring` as those resource name

[2021-01-05 10:01] daronyondem commented on #5414
Hi, @VanyLaw Are you sure you **need to** deploy resoıurces in a new resource group? I successfully deployed to existing resource groups multiple times as long as the other resources you are provisioning, such as webapp, etc do not conflict. I'm not against the check for the other resources. I just don't see value in checking the existence of the resource group, because as of right now the app is

[2021-01-05 10:07] VanyLaw commented on #5414
@daronyondem Sure, I will change the resource group checking.

[2021-01-05 10:14] ysnoek2 commented on #5390
Downloading the 3.1 .NET Core sdk did the trick for my project!

https://dotnet.microsoft.com/download/dotnet-core/thank-you/sdk-3.1.404-windows-x64-installer

[2021-01-05 11:19] garypretty opened #5447 "New bot created with 1.3 fails to build - BadImageFormatException (Orchestrator not found)"
## Describe the bug

A colleague in Cloud Advocacy is experiencing an issue that I think could likely affect multiple users.

Upgraded to 1.3 via automatic upgrade prompt.  Created a new bot (no ejected runtime) and made a simple change to the welcome message LG.

Tried to run the bot from Composer and got the below error.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/3900649/

[2021-01-05 11:25] boydc2014 commented on #5447
Looks like a typical binary loading issue, are you operating in x64 or x86?

[2021-01-05 12:52] garypretty commented on #5447
Closing as this looks like a weird environment issue on their machine, given that dotnet --version is showing the x86 version installed but not the more up to date x64 version.  I am going to close the issue and I have asked them to uninstall / re-install their SDKs / runtimes and we will see if it persists.

[2021-01-05 12:52] #5447 closed

[2021-01-05 15:02] ysnoek2 opened #5448 """ is not a valid LUIS app id after updating to V1.3.0"
## Describe the bug

After updating to version 1.3.0 i'm getting te error "" is not a valid LUIS app id in the emulator.

![image](https://user-images.githubusercontent.com/76207835/103661581-2bd0cb00-4f6f-11eb-83c5-72d9fe8b2bfe.png)

I can still publish to azure with no problems.

## Version

V1.3.0

## Browser

- [ ] Electron distribution
- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS

[2021-01-05 15:42] JaskeeratBedi-cmk opened #5449 "Issue warning to user if provisioning is ended abruptly"
- As a user, if I close or exit user, show me a warning informing me that my provisioning flow will get cancelled.
- Give me option to either resume provisioning or continue to exit from Composer

[2021-01-05 16:29] dmvtech commented on #5008
@narulasrinivas Were you able to clear the local storage and try again?

[2021-01-05 16:56] deepak1959 opened #5450 "Start Bot Failed with exception 1260"
## Describe the bug

I got installed the Bot Frame Work Composer by my admin team. I created the Sample Bot project.
But when I try to start bot I am getting following error:
Start bot failed

System.ComponentModel.Win32Exception (1260): This program is blocked by group policy. For more information, contact your system administrator. at System.Diagnostics.Process.StartWithCreateProcess(ProcessStar

[2021-01-05 17:03] #4696 closed

[2021-01-05 17:38] tonyanziano commented on #5449
@JaskeeratBedi-cmk do you mean exiting the Composer application?

[2021-01-05 17:44] tonyanziano commented on #5439
Hello @Khanh-Ngy ,

I believe this is the same issue as https://github.com/microsoft/BotFramework-Composer/issues/4091.

Please try following the steps in that issue to see if it resolves your problem. Try setting the proxy environment variables listed.