[2020-11-16 16:46] #4716 closed

[2020-11-16 16:50] #4819 closed

[2020-11-16 17:11] cwhitten commented on #4823
Hi @isakalmq. This is unexpected. Can you share your project with me privately by emailing the directory to christopher(dot)whitten(at)microsoft.com?

[2020-11-16 18:20] cwhitten commented on #4828
@luhan2017 please take a look at this

[2020-11-16 18:22] cwhitten commented on #4822
@zhixzhan can you look at this?

[2020-11-16 18:22] cwhitten commented on #4818
@LouisEugeneMSFT can you take a look at this?

[2020-11-16 18:27] cwhitten commented on #4815
@KoradaRajesh I assume you are using the File/Attachment prompt.

@luhan2017 can you verify this is an issue with the component before we transfer to the SDK as a bug?

[2020-11-16 19:00] managedcoder opened #4832 "Change nomenclature of "Trigger" to "Topic""
## Nomenclature Change

I'd like to suggest that "Trigger" be changed to "Topic".  IMHO, the word "Trigger" in the context of how its used and applied in Composer speaks more to its implementation than it does to semantically what it is.  Trigger is a reference to how a flow is actuated rather than what the flow represents.  In the real world, dialogs are conversations and humans in a conversation

[2020-11-16 19:08] mrivera-ms commented on #4814
@hibrenda do we know when additional regional support will be available?

[2020-11-16 19:10] mrivera-ms commented on #4812
@Guruji752 what version of Composer are you using? Could you upload your bot assets?

[2020-11-16 19:14] mrivera-ms commented on #4784
@cxbuilders, could you please look at the question above? Thank you.

[2020-11-16 19:24] mrivera-ms commented on #4527
@zidaneymar, do you have any updates for this issue? @luhan2017

[2020-11-16 19:28] mrivera-ms commented on #4156
@BeheraMadan, could you please look at the comment above? Please let us know if that resolves your issue. Thank you.

[2020-11-16 19:30] #3548 closed

[2020-11-16 19:32] LouisEugeneMSFT commented on #4818
@cxbuilders , could you provide a demo of a bot project with your custom action so that we can repro the issue on our end?

[2020-11-16 19:59] v-kydela commented on #4817
Thank you for the report, @okajun35

I'm a little confused because you say you're getting an error with Chrome and Firefox which might imply that you're using a browser-based chat client like Web Chat, but then you say you're using Emulator. Your mention of Chrome and Firefox could imply that you're using Composer in a browser, but your screenshot looks like you're using the desktop app.

1. Are y

[2020-11-16 20:09] v-kydela commented on #4824
Hello @cxbuilders

Would you please clarify whether this post was meant as a bug, feature request, or question? If this is a question then it probably belongs on Stack Overflow, but in any case it would help us a lot if you worded this as an actual question so that we can answer it for you. Thank you.

[2020-11-16 20:21] #4786 closed

[2020-11-16 21:55] arafattehsin commented on #4813
Further more, I created a new PVA Bot and try to integrate with that. It showed me the data but failed with the below screenshots;

![image](https://user-images.githubusercontent.com/16351038/99312715-8e341600-28b2-11eb-98ab-3d7d2e2340e5.png)

Logs;

---
{
  "code": "FileIsIgnored",
  "range": null,
  "severity": "Warning",
  "source": "settings/cross-train.config.json",
  "message": "File 'cross-

[2020-11-16 22:21] CopenhagenJames opened #4836 "Publish Fails after Upgrade to 1.2.0"
Publish Now Fails after Upgrade.

## Describe the bug

After upgrading to the new version 1.2.0 when I attempt to publish I get an error: "Expected signal to be an instanceof AbortSignal"

## Version

1.2.0

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1.

[2020-11-16 22:27] cwhitten commented on #4813
@arafattehsin the default schema used in Composer is not entirely compatible with Power Virtual Agents. They have their own schema that they provide and validate against when you publish. See the following blogpost for explanation and tutorials on how to publish. https://powervirtualagents.microsoft.com/en-us/blog/power-virtual-agents-integration-with-bot-framework-composer-is-available-in-public-

[2020-11-16 22:28] arafattehsin commented on #4813
Hi @cwhitten - I would delightfully close this issue as I have got the way to make it working. Blog post coming 🔜

![image](https://user-images.githubusercontent.com/16351038/99315755-3f3caf80-28b7-11eb-8eb7-7064e25b47d9.png)

[2020-11-16 22:28] #4813 closed

[2020-11-16 23:35] mewa1024 opened #4838 "Form dialogs: Composer goes blank when "Dialog begins" trigger is selected from dialog tree"
## Describe the bug

After the form dialog has been generated, all the triggers are visible from the tree except for "Dialog begins". This trigger makes the entire Composer screen go blank, including navigation.

## Version

Using the feature/form-dialogs branch, built locally 11/16.

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [

[2020-11-16 23:48] beyackle opened #4840 "Use new design for LG/LU/QnA pages "common" links"
## Describe the bug

The "All" link that was in the old designs for those three pages has been replaced by a new "Common" link that belongs to each of the bots in a project. This new behavior needs to be wired in and made to work (the All link currently just leads to a dummy URL, which will be removed as part of this).

## Screenshots

See https://www.figma.com/file/LlTlh5vXwq91zjGnFtrUUR6l/Compos

[2020-11-17 00:09] dmvtech commented on #4763
hi @tannguyen3 That is correct. Publishing is done from _within Composer itself_. Are you able to follow the steps in that newer document to get it published?

[2020-11-17 00:29] okajun35 commented on #4817
Thank you @v-kydela

I have tried with a browser and an emulator.
I didn't explain it well enough. sorry.

I'll post a screenshot of the web chat results in mac and windows
browsers

Browser screenshot results：

Edge (os:windows)
![winddows_edge](https://user-images.githubusercontent.com/14844237/99323636-f801ef00-28b5-11eb-81a9-e1cfb8ae0a33.jpg)

Chrome(os:windows)
![winddows_chrome](https://user

[2020-11-17 01:18] mewa1024 opened #4842 "Form dialogs, schema creation: empty and default states could be clearer about what to do next"
## Describe the bug

When creating a new form schema, it might be helpful to skip empty states and avoid showing validation errors to start, and change default settings to make it a little clearer what the user should do next.

feature/form-dialogs branch, built 11/16

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ]

[2020-11-17 02:49] tannguyen3 commented on #4763
Yes, i am. Do we have any plan to support CICD for bot composer?

[2020-11-17 02:58] arafattehsin opened #4843 "Can't publish my Bot after the Update"
## Describe the bug

I was able to publish my bot using existing Azure resources but after the update 1.2.0, I am not able to do so.

## Version

1.2.0

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to Publish
2. Click on Publish Profile
3. Select Pu

[2020-11-17 03:09] gabog opened #4844 "Adding an skill ignores the manifest ID and name"
## Describe the bug

If I add a skill using a manifest it seems to use the name of the skill and not the ID in config and I think it should use the ID.

If I specify a custom name then it uses the custom name and not the ID.

## Version

1.2.1

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

[2020-11-17 03:27] zhixzhan commented on #4822
Sure, thre current LG template parsing policy is take everting above next `#templateName` as previous template's body. I can discuss with @boydc2014 and @Danieladu to see how to improve it.

[2020-11-17 03:53] dmvtech commented on #4613
hi @philip-mc Sorry for the delay. I'm looking into this and i'll update you soon.

[2020-11-17 03:59] KoradaRajesh commented on #4815
@cwhitten File/Attachment prompt we are using for to handle the user send attachment with validation of attachment only but I haven't seen any option to sent file attachments(.pdf,.txt etc) to user

[2020-11-17 03:59] BeheraMadan commented on #4156
Hi,
For development environment number of user count is showing correct even with the settings logPersonalInformation = false.
Issue is that same code is deployed in the prod environment but for prod env user count value is not increasing, it is constant
(only 1 user) even though we know that there are more number of users and increasing on daily basis.
Thanks..

[2020-11-17 04:06] cwhitten commented on #4843
@arafattehsin we just published 1.2.1 that should fix this. can you try again?

[2020-11-17 04:06] cwhitten commented on #4836
this has been addressed in 1.2.1

[2020-11-17 04:06] #4836 closed

[2020-11-17 04:20] luhan2017 commented on #4828
@ivo-ranj , I can't reproduce this in 1.2.1, could you zip and share your bot here? This is what I see from my side.

![image](https://user-images.githubusercontent.com/32191031/99346301-47084e00-28cf-11eb-9b1a-3696ce349fed.png)

[2020-11-17 04:30] luhan2017 commented on #4812
@Guruji752  Is it possible that you reset your NugetPackages sources? which cause failure for the package update? Could you try to run dotnet build under your BotFramework-Composer\runtime\azurewebapp folder?

[2020-11-17 04:51] thakursarvesh commented on #4710
I was able to publish in earlier composer version (v1.1.1) but after the upgrade to newer version(v1.2.1) I am getting dotnet publish error.

[2020-11-17 04:52] luhan2017 commented on #4773
Did you use the QnARecognizer to query qna or a normal qnadialog?

We only support multi-turn for the QnARecognizer, could you share some screenshot on how do you extrac qna pairs in composer, are the multi turn informations extracted successfully? Then I can identify if it is an extraction issue or a runtime issue.

![image](https://user-images.githubusercontent.com/32191031/99348001-7325ce00-28d

[2020-11-17 04:57] arafattehsin commented on #4843
This is sweet! Fixed. Thank you @cwhitten and the team for a quick fix.
![image](https://user-images.githubusercontent.com/16351038/99348345-804fb680-28ed-11eb-806b-66694c5fcbc4.png)

[2020-11-17 04:57] #4843 closed

[2020-11-17 05:14] lei9444 opened #4845 "The Luis key error in Project tree incorrect after refresh the page"
## Describe the bug
![skillerror](https://user-images.githubusercontent.com/39758135/99349247-7a9aa680-28d6-11eb-9d13-ab9c53b011b2.gif)

## Version
bot project branch

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## Additional context
I think we need to merge settings in selector. So other components can

[2020-11-17 05:37] mewa1024 opened #4846 "Form dialogs, schema editor, list property type field: accept a comma-separated list?"
## Describe the bug

In form scheme editor, under the property type list, the "Accepted values" field requires that you manually type each item and hitting Enter. Can it be enabled to accept pasting (or typing) a comma-separated list or tab separated list?

## Version

form dialogs

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x]

[2020-11-17 07:07] philip-mc commented on #4613
Ok cool appreciate the update. Let me know if anything needs clarification.

[2020-11-17 07:14] cxbuilders commented on #4784
@a-b-r-o-w-n, @mrivera-ms  I cannot reproduce this anymore. At the time I filed this request I was using V1.1.1
On both 1.2.0 & 1.2.1 the Initialize as event name is working fine. So I guess this is not an issue anymore 👍

[2020-11-17 07:14] #4784 closed

[2020-11-17 07:32] cxbuilders commented on #4818
@LouisEugeneMSFT
http://cxbuilders.com/temp/PlayGround.zip

Let me know when you have it, then I can remove it again

[2020-11-17 07:37] cxbuilders commented on #4824
@v-kydela It's a feature request.

[2020-11-17 07:56] philip-mc opened #4847 "Composer Dialog Works in Webchat but not in Emulator"
## Describe the bug

I take the basic echo bot via set up as a web app bot direct in Azure. Using the echo bot template in composer add a custom dialog with a regex trigger ('metal' in my example) and publish this into Azure.

The first thing I notice is in webchat the composer dialogs are taking priority over echobot.cs  and all messages trigger the composer dialogs

I then download the source co

[2020-11-17 08:43] luhan2017 commented on #4847
@philip-mc , this is a known issue here https://developercommunity.visualstudio.com/content/problem/836156/azure-devops-using-zipdeploy-does-not-delete-old-f.html. I think when you leverage existing service created from portal, composer deployment will not delete the old files, and when you download the code, it just downloaded the old version. It's depending on the web.config file to decide which

[2020-11-17 09:04] ivo-ranj commented on #4828
Thanks for checking; I encountered the issue in 1.2 and just tried with 1.2.1 as well, the issue still occurs.

To clarify: I do seem to be able to run the bot successfully (as in your screenshot); I just get the `NullReferenceException` in Visual Studio when the bot connection is first established. See screenshot below.

![2020-11-17 10_00_23-ComposerRuntime (Debugging) - Microsoft Visual Studio]

[2020-11-17 09:06] ivo-ranj commented on #4828
Hereby also a .zip of the ejected runtime which for me causes the mentioned issue.

[TestNewEmptyBot3.zip](https://github.com/microsoft/BotFramework-Composer/files/5552338/TestNewEmptyBot3.zip)

[2020-11-17 09:10] Guruji752 commented on #4812
i run dotnet build but it's not working still giving same error

[2020-11-17 09:25] Guruji752 commented on #4812
the latest one

[2020-11-17 09:36] ivo-ranj opened #4848 "Response options are duplicated and/or end up under the wrong response"
When adding response options in Composer, they may under certain circumstances end up duplicated, and/or listed under a different response.

## Version

1.2.1

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior (symptoms may vary per execution):

1. Create a new

[2020-11-17 10:14] obayani opened #4849 "Composer is very slow with 2 chit-chats Q&A"
## Describe the bug
I created a KB using 2 chit-chats (pro and friendly) and when I try to access Q&A menu in the Bot Framework Composer (using v1.2.1) it is extremely slow. Composer hangs for 1 min before I can do anything. It seems that long list of Q&A pairs degrades the performance.

Before v1.2.0 it was working fine.

## Version

## Browser

- [ ] Electron distribution
- [x] **Chrome**
- [ ]

[2020-11-17 12:14] saiteja21 commented on #4814
@hibrenda If I do not have access to create a QNA maker service in westus what should I do? [I have a region restriction on my subscription]

funny thing is, it shows these options :/
![image](https://user-images.githubusercontent.com/11377131/99388897-3ee6e900-28a4-11eb-9620-a70adeb700b5.png)

Hope we get a quick resolution!

[2020-11-17 12:14] BeheraMadan opened #4850 "Bot is not working properly after updating to latest composer version"
Hi,

Earlier we are using bot composer version 1.0.2 and bot was working  fine in local emulator &  on Azure portal as well(after deployment). Yesterday we migrated to new composer version 1.2.1. After migrating we tested the bot in emulator and it is working fine locally but after deploying to Azure it is not working properly and giving below error,

"Exception has been thrown by the target of an

[2020-11-17 12:25] saiteja21 commented on #1877
hi @Arjun-Jakka-Sridhar and @luhan2017

To publish an Azure Bot composer's Bot to an existing Resource Group, follow below solution --

Use the same provisioning steps defined in the README.md file however need to make a small change...

Change the "**const resourceGroupName = `${name}-${environment}`;**" value to "**const resourceGroupName = `${name}`;**" in the file **provisionComposer.js**

Why

[2020-11-17 12:39] stephanbisser opened #4851 "Cannot open PVA in Composer"
With the latest release of Composer (I'm running v 1.2.1) it should be possible to open a PVA in Composer via the PVA web portal. But in my case Composer shows to "Connecting ..." splash screen and asks for credentials but doesn't do anything else so the PVA bot is not opened successfully... Any ideas what's missing?

Here's a video showing what's going on:

![pva_composer_error_demo](https://user

[2020-11-17 14:03] isakalmq commented on #4823
This bug exists for all projects created in 1.1 for me, it doesn't seem to be project specific. I'll email you a project anyways if you want me to

[2020-11-17 14:58] philip-mc commented on #4847
Ok thanks.

Just so I follow what you are saying this is the reference to bot composer in the web.config

![image](https://user-images.githubusercontent.com/73343537/99405951-3bc01d00-28e5-11eb-9b2e-0296b28e56ce.png)

Is it this line of code driving the composer dialogs? Will this be the case on each channel or only web chat?

[2020-11-17 15:48] cwhitten commented on #4851
@stephanbisser can you open Composer from a terminal, and before doing so set an environment variable "DEBUG=composer*" in your shell? Once this is done and Composer is open, trigger the import flow and you'll see additional logging that we can look at to see what is going wrong.

[2020-11-17 15:50] cwhitten commented on #4849
thank you @obayani for the report. we'll look into this. @zhixzhan can you please investigate?

[2020-11-17 15:53] cwhitten commented on #4848
thank you @ivo-ranj for the report. @lei9444 can you look at this?

[2020-11-17 16:49] dmvtech commented on #4763
I don't believe so, how would you desire/expect this to work? Maybe if you can give more explanation on what you are desiring, we can give better guidance.

If you are wanting the the declarative resources (.dialog, .lg, .lu, etc) that composer creates, to then be ushered into CICD/bot's pipeline; you should be able to do that. Everything there can be published to the `Composer Dialogs` directory

[2020-11-17 16:49] dmvtech commented on #4587
Hi @Laxmi30 Just checking in. Were you able to get it working?

[2020-11-17 16:50] dmvtech commented on #4757
Hi @neetgupta7 Just checking in. Any progress?

[2020-11-17 17:26] dmvtech commented on #4710
@thakursarvesh can you share the error please?

[2020-11-17 17:42] flaviobogila commented on #4823
Delete directory **AppData\Roaming\BotFrameworkComposer** and try again, it works for me!

[2020-11-17 17:43] tonyanziano commented on #4825
@lei9444 can you please take a look at this?

[2020-11-17 17:46] tannguyen3 commented on #4763
Thanks @dmvtech. Basically I want to setup a CICD pipeline on Azure DevOps to automatically build, deploy and run test for any new changes my team made on bot composer. I'll take a look on the Az Web App to see what we have in there.

[2020-11-17 17:46] #4763 closed

[2020-11-17 17:46] viivalerio commented on #4823
Had the same issue this morning. Big thanks to @flaviobogila it also worked here! 👏 👏

[2020-11-17 17:47] tonyanziano commented on #4821
@beyackle can you please take a look at this?

[2020-11-17 17:52] tonyanziano commented on #4816
@scheyal can you add the zipped assets to this issue or upload it somewhere where we can access it to repro & debug?

[2020-11-17 18:13] dmvtech commented on #4728
Thanks @kdubious Can you please try with the most recent version of Composer (`1.2.1`)?

Also, if you're able; update to `3.1.9` or `3.1.10` of [.NET core runtime](https://dotnet.microsoft.com/download/dotnet-core/3.1).

[2020-11-17 18:14] v-kydela commented on #4824
Thank you for the reply, @cxbuilders

Can you explain what feature you are requesting? I am able to change the locale during runtime without issue. I can store a locale in a user-scoped property and then provide that property as an expression for the default locale of a confirmation input. As long as I make sure my client isn't putting a locale in the activities it sends to the bot, my custom loca

[2020-11-17 18:25] EricDahlvang commented on #4828
Hi @ivo-ranj

This is a known issue in 4.11 due to https://github.com/microsoft/botbuilder-dotnet/issues/4867

This exception can be safely ignored, as it is internally caught by ServiceClienty, only this relates only to adding UserAgentHeader.

[2020-11-17 18:35] anusharavindrar commented on #4584
Closing the issue. Please feel free to reopen if the issue persists.

[2020-11-17 18:35] #4584 closed

[2020-11-17 18:46] srinaath commented on #4811
@zhixzhan  can u take a look at this?

[2020-11-17 19:03] srinaath opened #4853 "Links in context menu dont work"
![Screen Shot 2020-11-17 at 11 02 25 AM](https://user-images.githubusercontent.com/13004779/99435020-65b51780-28c4-11eb-9fe0-1209f6f1a798.png)

![](https://user-images.githubusercontent.com/13004779/99441888-643c1d00-28cd-11eb-8f8c-0ef65af611f0.png)

The context menu on project tree needs to open the correct links. Currently, none of them are hooked up

[2020-11-17 19:16] srinaath opened #4854 "Invalid warning and errors notifications showing up"
![Screen Shot 2020-11-17 at 10 46 45 AM](https://user-images.githubusercontent.com/13004779/99435957-b1b48c00-28c5-11eb-9d04-c2220d6ade98.png)

![Screen Shot 2020-11-17 at 11 11 22 AM](https://user-images.githubusercontent.com/13004779/99436083-db6db300-28c5-11eb-9f4d-8f11a08f5964.png)

1. With the new skills workflow if the "Composer Local" endpoint is chosen we dont need to check for an empty en

[2020-11-17 19:17] johnataylor commented on #4815
@luhan2017 any update on this?

[2020-11-17 19:19] GeoffCoxMSFT commented on #4818
@cxbuilders We've reproduced the issue with ObjectExpression and I'm following up with the team to diagnose why the value isn't being parsed into the argument.  I should get back to you today or tomorrow with results.

[2020-11-17 19:23] #4742 closed

[2020-11-17 19:55] srinaath commented on #4845
@liweitian  can u take a look at this?

[2020-11-17 19:55] srinaath opened #4855 "Ability to add a knowledge base to a skill in context menu"
![Screen Shot 2020-11-17 at 11 50 48 AM](https://user-images.githubusercontent.com/13004779/99440299-35bd4280-28cb-11eb-9cd8-0eab5626c87c.png)

The "Add" dropdown to add dialog, trigger on knowledge base has been removed with the BotProject work. The dialog and trigger addition have been ported over to the new context menu. The "Add new Knowledge base" action needs to be ported over to the context

[2020-11-17 21:13] v-kydela commented on #4817
Thank you for the screenshots, @okajun. I have reproduced the issue. The problem is that MapToNearestLanguage is only used for prompt dialogs and not input dialogs, and Composer uses adaptive dialogs and therefore it uses input dialogs. The .NET SDK needs to be updated so that input dialogs match the behavior of prompt dialogs.

A similar issue was reported here: https://github.com/microsoft/BotFr

[2020-11-17 21:13] #4817 closed

[2020-11-17 21:27] #4805 closed

[2020-11-17 21:58] dmvtech opened #4856 "When using the Log to Console action, using an expression only outputs that as literal text"
## Describe the bug

Not sure if this is an issue with the SDK or Composer, so starting here.

If you use the `Log to Console` action, then set the Text property to an expression, it doesn't ever evaluate the expression. Additionally, when clicking into the Text field, it prompts/suggests that you can use an expression.

![image](https://user-images.githubusercontent.com/43397658/99454449-483f7800

[2020-11-17 22:00] stevkan commented on #4826
Hi @peterbozso, I'm going to start at repro'ing this issue. In the mean time, could you provide the error that is generated so I can review and compare?

[2020-11-17 22:03] stevkan commented on #4826
@peterbozso, the .zip file you attached appears to be empty. Could you please repost the file?

[2020-11-17 22:15] hatpick commented on #4838
This issue is fixed in the main branch.

[2020-11-17 22:15] #4838 closed

[2020-11-17 22:30] #4810 closed

[2020-11-17 22:31] srinaath opened #4858 "Duplicate notifications are shown in Diagnostics for Root Bot"
I dont have clear repro steps. But we are seeing duplicate notifications in the diagnostics page. U can see it in this bot attached
https://microsoft.sharepoint.com/:u:/t/ConversationalAI785/EQH0onYA68pFjB1OyMsDAHQBRMIQ1jJ60zYYZ4fQF8M-XQ?e=Ks2OWH

![Screen Shot 2020-11-17 at 2 28 17 PM](https://user-images.githubusercontent.com/13004779/99458499-7b850580-28e1-11eb-91eb-d698742b363b.png)

[2020-11-17 22:40] srinaath opened #4859 "Settings page should list only local bots with no errors"
The settings page should only list local bots without errors. Use the `localBotsWithoutErrorsSelector`. The settings page is currently using the botprojectSpace selector. As a result bots with errors are shown in the project tree of settings.

![Screen Shot 2020-11-17 at 2 38 48 PM](https://user-images.githubusercontent.com/13004779/99459391-dbc87700-28e2-11eb-8cf7-2b713bf3cc83.png)
![Screen Shot

[2020-11-17 22:43] #4797 closed

[2020-11-17 22:44] #3958 closed

[2020-11-17 22:44] #3955 closed

[2020-11-17 23:07] srinaath opened #4861 "Missing diagnotics header in start bots panel"
![Screen Shot 2020-11-17 at 2 56 14 PM](https://user-images.githubusercontent.com/13004779/99460931-a5402b80-28e5-11eb-9d6d-3b0fb0f325c7.png)

The diagnostics indicator needs to be below the start bots button on the design page to indicate to the user the warnings and errors across all bots in the BotProject

[2020-11-17 23:21] #4800 closed

[2020-11-17 23:24] mareekuh commented on #4832
Hello Russ,

A trigger in Composer and the Bot Framework SDK has 2 parts: the event and the event handler.

The event is the 'signal' that initiates a dialog. For example, the user says something (user input/intent).
For a dialog to execute the designed actions, it needs to to ‘receive’ that signal it needs an event handler (trigger type) to capture and respond to the event.
For example, the user

[2020-11-17 23:45] mewa1024 opened #4863 "UI: "Run once" in the trigger details --what's the default value when blank?"
## Describe the bug

When you select a trigger, in the details pane there is a setting for "Run once" that looks like a boolean that is blank. Is the default true or false? (and what does this setting do?)

## Version

local build, main branch from 11/17

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To

[2020-11-17 23:48] mewa1024 commented on #4863
The "Condition" field also has "y/n" as the type in the UI--is it supposed to be a boolean?

[2020-11-17 23:52] #4846 closed

[2020-11-18 00:36] zhixzhan commented on #4811
@srinaath Sure, I'm fixing this with some other issue, will update it today.

[2020-11-18 00:44] liweitian commented on #4845
@srinaath The storage of the structure of luis/qna key in browser localStorage is changed. Will have a look.

[2020-11-18 00:58] luhan2017 commented on #4863
@mewa1024 , condition and runOnce are both optional fields, if you leave them empty, you won't see them in the dialog file.

[2020-11-18 01:01] dmvtech commented on #4850
Hi @BeheraMadan

Is that exception being thrown in the chat itself? What channel? Did you deploy from within Composer or another method? When you did the new deployment, what all did you deploy? Just declarative resources or did you deploy the runtime as well?

[2020-11-18 01:03] mewa1024 commented on #4863
So for Run Once, does that mean if it is not specified (doesn't appear in the .dialog file) that the default is that the trigger does not run once? Can that be added to the tooltip?

[2020-11-18 01:05] zhixzhan commented on #4854
I already fixed the 2rd item.
[code]

Will sync with @lei9444 see how to address them all.

[2020-11-18 02:37] luhan2017 commented on #4815
@boydc2014 , do we support send attatchment to user through LG/AdaptiveCard?

[2020-11-18 02:52] zhixzhan commented on #4849
@cwhitten Sure, will take a look soon.

[2020-11-18 03:14] zidaneymar commented on #4527
Hi, @nitroin, for  HTTP Error 500.31 issue, could you please download your webapp source code from your kudu service portal and dotnet run your runtime locally to view more details? I think the dotnet runtime of your bot is broken, maybe you could try merge the latest main branch and try again.

[2020-11-18 03:21] #4390 closed

[2020-11-18 03:21] #4209 closed

[2020-11-18 03:51] zidaneymar commented on #3851
Hi @GeoffCoxMSFT , I'm not sure if I understand your problem. If you eject your runtime, you would have a copy instance of your C# **runtime template**, then if you make any changes to that **runtime instance**, composer **will not** update the template based on your changes. So If you delete your runtime instance and re-eject the runtime, composer will not record the changes you make to the insta

[2020-11-18 04:36] BeheraMadan commented on #4850
Hi,

Yes exception is being thrown in the chat window itself. Its web browser channel. Bot is deployed using CI/CD pipelines and not from within composer. We deployed the whole bot solution along with runtime. Earlier too we were deploying whole bot solution and runtime as well.

Thanks,
Madan

[2020-11-18 05:15] luhan2017 commented on #4863
@mewa1024 , sure, thanks for the feedback, will follow up with @zxyanliu on this.

[2020-11-18 05:23] boydc2014 commented on #4815
@luhan2017  LG supports all the SDK types, so i think attachmentInput should be also supported. @Danieladu can you try the coding approach first, and then Composer.

[2020-11-18 05:50] luhan2017 commented on #4850
@BeheraMadan, we had some bot structure change during this release, could you share more details about your CI/CD pipeline , does it cover the crosstrain+lubuild+qnabuild processes?

[2020-11-18 06:33] Danieladu commented on #4815
@KoradaRajesh I'm sorry to say that Declarative Bot can not send the binary attachment to the user currently.
Here are some workarounds that you could take a look.
- Upload the binary file to somewhere that could be fetched from the internet. For example, the url of the resource is: `xxx.png`
Then in LG file, you could use the below template to render the activity:
[code]
Then in the `SendActivity

[2020-11-18 06:57] KoradaRajesh commented on #4815
How can I send it in composer

![image](https://user-images.githubusercontent.com/51915291/99495942-771c2380-2999-11eb-8b96-7676e8fe487e.png)

[2020-11-18 06:59] Arjun-Jakka-Sridhar commented on #1877
Hey @saiteja21 ,
Thanks for analyzing the problem.
Your solution worked...!

[2020-11-18 07:03] Danieladu commented on #4815
This is action data, you just need to add a "SendActivity" Action and fill in "${attachmentTemplate()}" in the activity property.
At the same time, in LG file, add such template:
[code]
Make sure that you have uploaded the image to the URL.

[2020-11-18 07:27] Arjun-Jakka-Sridhar commented on #1877
Also, @saiteja21 and @luhan2017

I found various problems while publishing bot to Azure from Desktop Bot Composer app
So, I found this https://github.com/microsoft/BotFramework-Composer Open-Source Web app of this Composer and made it run in my local and it's now working completely fine.
Just in case If anyone found problem with Desktop app of Bot composer just download it from GitHub and run it h

[2020-11-18 07:30] KoradaRajesh commented on #4815
I'm using this

# attachmentTemplate
[Attachment
    name = pdf
    contenttype = application/pdf
    contentUrl = https://storageaccountbcv4ib7d4.blob.core.windows.net/qna-images/DesktopTroub.pdf?sp=r&st=2020-11-11T12:34:10Z&se=2023-11-11T20:34:10Z&spr=https&sv=2019-12-12&sr=b&sig=5jLjG%2ByYAkFFwars693Y1Slp8%2BbKjnvdb1qbv0JGE7I%3D
]

it's displaying like

![image](https://user-images.githubuserco

[2020-11-18 08:07] peterbozso commented on #4826
@stevkan I fixed the zip and added the text of the error message in the Additional context section. I also tried with 1.2.1 and this bug is still present. Please also note that sometimes you have to navigate from and back to the Design page multiple times to make the error popup show up.

[2020-11-18 09:00] peterbozso opened #4872 "QnA Sample template doesn't work out of the box"
## Describe the bug

If you create a new bot with the QnA Sample template, it won't work just by clicking on the Start Bot button. You need to first [follow this documentation](https://docs.microsoft.com/en-us/composer/how-to-add-qna-to-bot) and manually add a new trigger for Unknown intent and configure a QnAMaker dialog action to make it work.

## Version

1.2.1

## Browser

- [x] Electron distr

[2020-11-18 09:02] boydc2014 commented on #4824
@cxbuilders I'm transferring this to SDK repo since SDK is not ready yet. SDK side is pretty close with this, we already have the right structure setup, just the last mile to finish the E2E.

[2020-11-18 09:13] peterbozso opened #4873 "knowledgebaseid must be supplied manually"
## Describe the bug

After starting a QnA Maker-integrated bot in the Composer for the first time, the user needs to manually go to the QnA Maker portal, acquire the created knowledge base's ID, then put it as the value of `knowledgebaseid` property on the Bot Settings page of the Composer.

## Version

1.2.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Ed

[2020-11-18 09:41] pramodkn opened #4874 "How to show multiple buttons in Hero Card"
## How to show multiple buttons in Hero Card

I am trying to show multiple hero card button but all it renders is json. Please see screenshot and LG form
**What Works -**
[code]
What I am expecting - having multiple buttons in hero card
[code]
**Which gives me output**
## Screenshots

![Capture](https://user-images.githubusercontent.com/15156033/99513089-45fb1d80-29b0-11eb-9afb-afc157dbaf5d.PNG)

[2020-11-18 09:47] BeheraMadan commented on #4850
Hi,
We have updated app service  configuration settings on Azure portal  as per new bot structure appsetting.json file.
So now bot is working fine on azure portal as well after the deployment.

Thanks

[2020-11-18 10:02] BeheraMadan commented on #4850
Hi,

But while implementing the new logic in our updated bot solution(latest composer version) we found another issue. We are
trying to a new multiple input choice action with some choices for selection. But when we run the bot and click on any of the choice bot is giving error "Sequence contains no elements"

![image](https://user-images.githubusercontent.com/70739031/99515375-e2262400-29b2-11eb-

[2020-11-18 10:05] stephanbisser commented on #4851
This is my output @cwhitten :

**(electron) The default value of app.allowRendererProcessReuse is deprecated, it is currently "false".  It will change to be "true" in Electron 9.  For more information please check https://github.com/electron/electron/issues/18397
Wed, 18 Nov 2020 10:04:37 GMT express-session deprecated undefined resave option; provide resave option at ..\..\AppData\Local\Programs\

[2020-11-18 11:33] KoradaRajesh opened #4875 "Composer: Storing array of entities values in to property"
I'm using this regex entity **@ regex hrfnumber = /hrf-[0-9]{6}/**

entering multiple different values of same entity in a single bot ask's and I'm try to store it into a property

![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/51915291/99525312-a5145e80-29bf-11eb-9b1d-db4c2e371a01.png)
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/51915291/99525318-a

[2020-11-18 12:28] madbeher opened #4876 "bullet points not showing in herocard"
Hi,

I used below test format in hero card for bullet points and it is displaying properly on emulator. But after deploy the bot
on azure portal while testing on browser chat window bullet points are now showing can you help me in resolving issue.

![image](https://user-images.githubusercontent.com/36945600/99529812-569f9980-2998-11eb-95d4-374b0b8b956a.png)

emulator screenshot:

![image](https://

[2020-11-18 13:54] #4849 closed

[2020-11-18 14:42] boydc2014 commented on #4848
Thanks @ivo-ranj.  After several tries, we did get a stable repro of this. We are narrowing down to a particular LG api call now, seems like in certain case, LG api is updating the wrong offset on the original file. We are working with LG member to investigate this.  We expect to get a fix very soon.  cc @cwhitten.

[2020-11-18 15:20] Laxmi30 commented on #4587
Yes its working fine.
Thanks a lot.

[2020-11-18 16:19] #4587 closed

[2020-11-18 17:10] scheyal opened #4878 "Severe slowness after little use with replace dialog"
I am using replace dialog interchangeably in a scenario (it also results with another reported issue of null reference issue #4816).
After little use the bot slows that significantly. I suspect it is in the SDK foundation but since manifested in Composer filed here first.

# Repro
1. Setup Topdialog, child dialog A, child dialog B
2. On prompt child dialog A replaces itself with child dialog B
3.

[2020-11-18 17:58] dmvtech commented on #4874
hi @pramodkn

This document here shows to surround an array with `${ }`, but that didn't work for me either.

https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lg-file-format?view=azure-bot-service-4.0#create-an-array

I'm investigating.

[2020-11-18 19:12] scheyal commented on #4816
Another scenario that illustrates this:

* Setup Topdialog, child dialog A, child dialog B
* On prompt child dialog A replaces itself with child dialog B
* On promopt child dialog B replaces itself with child dialog A

[2020-11-18 19:14] johnataylor commented on #4823
@cwhitten any update on this?

[2020-11-18 19:20] #4766 closed

[2020-11-18 19:20] johnataylor commented on #4528
@zxyanliu any update on this?

[2020-11-18 19:23] #4480 closed

[2020-11-18 20:05] zxyanliu commented on #4528
@johnataylor Thanks for asking. This topic is WIP.
I am asking @cwhitten for more direction on this doc and there is coordination b/w @luhan2017 @yeze322.

[2020-11-18 20:55] Stevenic commented on #4818
`ObjectExpression` is designed to deserialize a JSON object to a strongly typed class in C#. So given the example above the expectation would be that you have a `Resize` class defined somewhere and your property would actually be `ObjectExpression<Resize>`.  If you want to take in an object with an arbitrary shape (or you just want to use JObject) then you should use `ValueExpression` instead.

On

[2020-11-18 21:07] cxbuilders commented on #4818
@Stevenic I created the sample bot to clearly show the problem. Not sure if you looked at that? I thought the issue was reproduced?

[2020-11-18 21:27] Stevenic commented on #4818
I see... It looks like you're using 4.11 so its possible this was a regression introduced recently as I know I've tried both approaches in the past and they both worked.  @GeoffCoxMSFT  and @LouisEugeneMSFT  we should move this issue to the SDK repo and assign to @boydc2014 .  Dong it looks like there may be a regression in the binding code for ObjectExpression. Can someone on your team take a loo

[2020-11-18 21:55] tonyanziano commented on #4851
Hey @stephanbisser ,

Thanks for the log output.

Can I please have you try again to capture the output from the terminal, but this time, before starting Composer please run the command `set DEBUG=composer*` in the same terminal window that you will use to start Composer.

You will be able to tell if the `DEBUG` variable is set correctly by looking at the output in the terminal. You should see a l

[2020-11-18 22:17] srinaath opened #4880 "Change status message to queued when start all bots is clicked"
When a botproject contains a root bot and multiple skills and "Start all bots" is clicked. The root bot is started after all skills are started. The status message needs to be changed to "Queued" instead of inactive on the root bot.

[2020-11-18 22:31] EricDahlvang commented on #4818
@cxbuilders

Please try adding a ObjectExpressionConverter for MyObject:

[code]

[2020-11-18 22:50] srinaath opened #4882 "Style seems off when a target is selected and the context menu is opened in the ProjectTree"
Actual
![Screen Shot 2020-11-18 at 2 44 33 PM](https://user-images.githubusercontent.com/13004779/99597633-21ea0d00-29ad-11eb-9083-fa59c0e98e63.png)

Expected:
![Screen Shot 2020-11-18 at 2 43 53 PM](https://user-images.githubusercontent.com/13004779/99597717-434af900-29ad-11eb-9333-f97f4ec538f3.png)

The hover, pressed style on the ellipsis seems to be wrong too

@sangwoohaan

[2020-11-18 22:51] beyackle commented on #4882
This is my fault, and a one-line fix I'll get to shortly (after I fix the breadcrumb regression).

[2020-11-18 22:51] beyackle opened #4883 "Links from breadcrumbs are broken"
## Describe the bug

Links from the breadcrumb display at the top of Design view no longer go anywhere sensible (they've lost track of the skillId that used to be there) and route to invalid URLs with the "skill" part missing.

## Screenshots

![image](https://user-images.githubusercontent.com/61990921/99597903-915ffc80-29ad-11eb-869f-5cbf93b2c6c2.png)

[2020-11-18 23:31] cwhitten opened #4884 "Publishing issue: lingering .lu content produces side-effects when not in active use"
If a user authors .lu and then switches the recognizer for the dialog to something non .lu based like regex, the inference logic sees the .lu content and includes it in its publishing mechanism even when the dialog is not currently configured to use it.

The build/publishing process should only include .lu and .qna content when the dialogs they are associated with actively depend on it.

[2020-11-18 23:55] dmvtech commented on #4850
Hi @BeheraMadan

So now bot is working fine on azure portal as well after the deployment.

Thank you for following up and sharing the resolution.

trying to a new multiple input choice action with some choices for selection. But when we run the bot and click on any of the choice bot is giving error "Sequence contains no elements"

You should avoid using $ in your variable names as that is used for

[2020-11-18 23:55] #4850 closed

[2020-11-19 00:11] dmvtech commented on #4875
Hi @KoradaRajesh

Would you be able to link or send your .dialog file? (sanitized of personal/sensitive info if needed).

And to clarify; this is not dealing with firing a trigger on intent, but just dealing with the prompt. Correct?

Further; if the user says `hrf-828282 and hrf-353535`, you're looking to capture _**both**_ values `hrf-828282` and `hrf-353535`, into an array property?

[2020-11-19 00:58] KoradaRajesh commented on #4875
@dmvtech Yes, it's dealing with the prompt, if the user says hrf-828282 and hrf-353535, I'm looking to capture both values hrf-828282 and hrf-353535, into an array property

[2020-11-19 01:35] mewa1024 opened #4887 "Form dialogs: restarting a bot with minimal or no changes takes over 1 minute"
## Describe the bug

Starting a bot from Composer that has a form dialog takes over 1 min, even when there are no changes.

## Version

main branch, November 18

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Turn on the form dialog UI by going to Settin

[2020-11-19 02:33] scheyal commented on #4816
zip export is (was) broken - here's a manual zip.
[bugtest.zip](https://github.com/microsoft/BotFramework-Composer/files/5563983/bugtest.zip)

[2020-11-19 02:34] scheyal commented on #4878
Repro requires a bit of messing around with this (step 4).

[2020-11-19 03:46] mewa1024 opened #4888 "Form dialog recognizer type (.lu) is overwritten when you make any changes in Composer to *.lu.qna"
## Describe the bug

A form dialog is generated with the recognizer of type **.lu**, but editing the dialog in Composer seems to change the recognizer to **.lu.qna** causing the bot to give an "Object reference not set to an instance of an object" error.

## Version

main branch, pulled November 18

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

[2020-11-19 04:01] mewa1024 commented on #4888
@boydc2014

[2020-11-19 04:17] KoradaRajesh commented on #4875
[ComposerDialogs (3).zip](https://github.com/microsoft/BotFramework-Composer/files/5564324/ComposerDialogs.3.zip)

I'm V1.0.2

[2020-11-19 04:21] pramodkn commented on #4874
Hello @dmvtech I've tried all the way wrapping array of object, putting Card Action in Array of object, putting raw json of Card action in array of object but none of them work to show multiple buttons for hero card.

[2020-11-19 06:28] BeheraMadan opened #4890 "multiple choice action prompt is not working properly after updating to latest composer version"
Hi,
We have a bot solution created using composer version 1.0.2. We updated composer version to 1.2.1.
But while implementing the new logic in our updated bot solution(latest composer version) we found an issue. We are
trying to create a new multiple input choice action with some choices for selection. But when we run the bot and click on any of the choice, bot is giving error "Sequence contains n

[2020-11-19 07:11] stephanbisser commented on #4851
There you go:

Composer now running at:

http://localhost:5000

2020-11-19T07:09:21.053Z composer:electron Server started at port: 5000
2020-11-19T07:09:21.054Z composer:electron Rendering application...
GET / 200 10.784 ms - 898
2020-11-19T07:09:22.924Z composer:electron Initializing app updater...
2020-11-19T07:09:23.004Z composer:electron Initialized
2020-11-19T07:09:23.005Z composer:electron:a

[2020-11-19 08:14] srinaath opened #4891 "LUIS bots fail to trigger intents"
###Description
Steps to reproduce
1. Create TodoLuis bot
2. Start the bot and trigger any intent using a trigger phrase
3. Error: Invalid subscription key

<img width="1314" alt="Screen Shot 2020-11-19 at 12 11 43 AM" src="https://user-images.githubusercontent.com/13004779/99638930-d6ab1b00-29fb-11eb-96d3-3596488cb0f8.png">

This error started after merging https://github.com/microsoft/BotFramewor

[2020-11-19 12:58] boydc2014 commented on #4888
Yes. The conversation to .lu.qna is expected, because the convention used in Composer is CrossTrainedRecoginzerSet(.lu.qna.dialog).

So i guess this issue is not because .lu => .lu.qna, is more because the correct structure .lu.qna isn't correctly generated.

I will ask @zhixzhan to look at this soon.

[2020-11-19 13:06] BeheraMadan commented on #4773
Hi,

We are using neither QnARecognizer nor a normal qnadialog to query qna. We are using "qna maker generate answer API" call for qna questions(to fulfill one of the requirement).

We have created qnamaker knowledgebase separately on qnamaker.ai portal and not using the composer.

Thanks..

[2020-11-19 14:25] Guruji752 commented on #4812
i run sudo apt install in my machine , actually it was problem , npm install and npm install --only was not able to run

[2020-11-19 14:25] #4812 closed

[2020-11-19 14:52] #4848 closed

[2020-11-19 15:27] gabog opened #4895 "Decouple composer app settings from runtime settings"
## Is your feature request related to a problem? Please describe.

There are some settings in appsettings.json that are used by the ASP.Net runtime and some settings that are used by composer during authoring.

The ones for authoring are not relevant to the deployed bot and I think they should be separated since the runtime ones are tied to the platform that we are deploying to (ASP.Net Core or JS

[2020-11-19 15:40] gabog opened #4896 "Composer doesn't use port in launchsettings.json when bot is launched from composer"
## Describe the bug

I have a bot where I ejected the runtime and set a specific port in launchsettings.json to start the bot on a particular port so it doesn't collide with other skills I am testing locally.
![image](https://user-images.githubusercontent.com/12264946/99687173-58c62e80-2a52-11eb-988c-8eb152cbfb1a.png)

When I start the bot from visual studio using ComposerRuntime.sln the bot start

[2020-11-19 15:52] hraz-msft opened #4897 "[Question] Send response to different conversation"
How can I send responses to a different conversation id than the current conversation?

[2020-11-19 16:24] mgbadebo commented on #4812
I am getting the same issue. How did you reseolve this?

[2020-11-19 16:31] saiteja21 commented on #1877
Use this Blog as a reference https://techcommunity.microsoft.com/t5/iis-support-blog/publish-azure-bot-framework-composer-bot-to-already-existing/ba-p/1895337

[2020-11-19 17:14] cxbuilders commented on #4874
[HeroCard

    buttons= ${CardActionTemplate('imBack', 'Show more cards', 'Show more cards')} | ${CardActionTemplate('imBack', 'Show more cards', 'Show more cards')}
]

[2020-11-19 17:23] benbrown opened #4899 "Provide an extension hook (front end and back) during the process of opening a bot"
## Is your feature request related to a problem? Please describe.

As a developer, I would like to be able to tie into the "open bot" process and take custom actions.

For example:

* I would like to pull the latest code from Github
* I would like to check dependencies for possible updates
* I would like to take custom steps actions

## Describe the solution you'd like

I think we should create a

[2020-11-19 17:24] benbrown opened #4900 "Add telemetry events to the provisioning process"
## Is your feature request related to a problem? Please describe.

Add a telemetry event when somebody starts / completes the provisioning process.

If it is possible, it would be great to include the state of any toggles as properties on the completed event – we can capture these as they are not PII.

Talk to @tdurnford about how to achieve this.

[2020-11-19 17:46] tonyanziano commented on #4851
Awesome, that's what I was looking for! Thanks.

Don't worry about the "User cancelled login flow," that's error handling on the Composer side that's not fully polished yet.

I'm going to run this by the maintainers of the auth library and see if they can help me debug the error message and I'll update this thread accordingly.

[2020-11-19 18:01] tdurnford commented on #4873
@peterbozso Thank you for the suggestion. We'll add this to our backlog and triage for future releases.

[2020-11-19 18:01] Guruji752 commented on #4812
step1 : open your bot in bot composer then go to settings (in bottom left) then to go to run config
step2 : In run config turn on Use custom runtime and  click on Get a new copy of the runtime code we will get option to select c# and js(preview) .
step3 : select js(preview) and run the bot ,it would give the cause of your error

in my case 'npm'' was missing which were creating problem to run npm

[2020-11-19 18:06] mgbadebo commented on #4812
Thank you.

I had to uninstall .Net 5, reboot and install to .Net 3.41

________________________________
From: Guruji752 <notifications@github.com>
Sent: 19 November 2020 18:02
To: microsoft/BotFramework-Composer <BotFramework-Composer@noreply.github.com>
Cc: mgbadebo <mgbadebo@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [microsoft/BotFramework-Composer] Error: Command failed:

[2020-11-19 18:07] tdurnford commented on #4863
@cwhitten Should we handle this change in the SDK?

[2020-11-19 18:11] tdurnford commented on #4856
@LouisEugeneMSFT This is either a bug in the UI where it shouldn't show the write an expression or a bug in the SDK. Can you investigate?

[2020-11-19 18:37] jwiley84 commented on #4897
HI @hraz-msft

The bot framework team prefers that **How-To** questions be asked on Stack Overflow, using the [botframework](https://stackoverflow.com/questions/tagged/botframework) tag.

That being said, you can't. You can try to define a custom action using [how-to-add-custom-action](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action). When you reopen your issue on Stack Overflow

[2020-11-19 18:37] #4897 closed

[2020-11-19 18:39] jwiley84 commented on #4876
Hi @madbeher

I need a few more details from you. Can I get the version numbers of your composer and emulator, along with which browser you're using? And can you clarify if you're using 'Test in WebChat' on Azure, or if you're creating a webpage with an iframe and testing it that way?

[2020-11-19 19:08] johnataylor commented on #4872
@luhan2017 any update on this?

[2020-11-19 19:12] johnataylor commented on #4823
closing with workaround https://github.com/microsoft/BotFramework-Composer/issues/4823#issuecomment-729090439

[2020-11-19 19:12] #4823 closed

[2020-11-19 19:22] stevkan commented on #4872
@peterbozso, unfortunately, the description of this sample is somewhat misleading and needs to be clarified. The sample actually works as expected when its intent is understood.

To explain: the sample is meant to demonstrate two things:
1. How one can use Composer to create a QnA knowledge base by consuming a document, either locally stored or via URL, or by creating one by scratch, and
2. How to

[2020-11-19 19:24] stevkan commented on #4872
Closing this as resolved.

[2020-11-19 19:24] #4872 closed

[2020-11-19 19:25] johnataylor commented on #4458
please go ahead and open a new issue to track https://github.com/microsoft/BotFramework-Composer/issues/4458#issuecomment-723160504

[2020-11-19 19:25] #4458 closed

[2020-11-19 19:40] #3405 closed

[2020-11-19 19:44] dmvtech commented on #4874
Thank you @cxbuilders! That's it.

@pramodkn Can you please test that approach and confirm it works for you?

[2020-11-19 19:48] dmvtech commented on #4757
Closing due to inactivity. Please let us know if you still need assistance on this one.

[2020-11-19 19:48] #4757 closed

[2020-11-19 19:52] benbrown opened #4902 "Move feed of packages to the botframework-components repo"
## Is your feature request related to a problem? Please describe.

The feed of available packages is currently in a GIST owned by @benbrown, but this should be moved to a more official public location such as the botframework-components repo.

[2020-11-19 19:54] benbrown opened #4903 "Refactor "Recently used" list in package manager to use serverside storage"
## Is your feature request related to a problem? Please describe.

Currently the "Recently used" list is stored in browser localstorage. This should be replaced with the new method that allows extensions to write their own settings.

[2020-11-19 19:56] benbrown opened #4904 "Place package manager behind a feature flag or settings toggle"
## Is your feature request related to a problem? Please describe.

For the 1.3 release, we want the package manager to be OFF by default, and require a user to toggle it ON.

The design plans call for this to be part of the feature flag UI on the settings page.

However, because package manager is an extension, it cannot see the feature flag setting. Also, it may require a restart to activate or d

[2020-11-19 20:17] dmvtech commented on #4890
Hi @BeheraMadan I'm sorry you're still having trouble.

That is the recognizer for this dialog. Is the contents of your screen shot the entirety of this dialog? Or is it much bigger/involved?

Can you check the dialog in the recognizers folder? (Should be `recognizers\Testing.lu.qna.dialog`) and see what the contents of that look like? I don't have much in mine (as it is just it's own dialog that

[2020-11-19 20:30] #4882 closed

[2020-11-19 21:18] LouisEugeneMSFT commented on #4856
The sdk schema specifies **stringExpression** and Composer correctly saves the value (aka as a string starting with equal when choosing expression). This is therefore very likely a bug in the SDK.

![image](https://user-images.githubusercontent.com/66701106/99725162-8bc7ec80-2a69-11eb-936b-cbf6ce4d663f.png)

[2020-11-19 21:19] #4066 closed

[2020-11-19 21:20] EricDahlvang opened #4905 "Please add a confirmation modal, with a red X notice, on 'Pull from selected profile'"
## Is your feature request related to a problem? Please describe.
I accidentally thought i was publishing, and clicked 'Pull from selected profile'.  I did see a 'backup was made' message, but not sure how to retrieve that backup, so i lost my work.

## Describe the solution you'd like
A confirmation before downloading.

## Additional context

![image](https://user-images.githubusercontent.com/110

[2020-11-19 22:37] ismendes commented on #4773
@BeheraMadan, can you also please give background of the requirement we had that led us to decide for the route of using the API call feature and not the QnA trigger?

[2020-11-19 22:38] srinaath commented on #4891
After investigating this it looks like we have bug with fetching sensitive settings after the refactor to the structure of localstorage for a bots in #4456.

[2020-11-19 22:52] #4902 closed

[2020-11-19 23:23] cs-sd opened #4910 "Can the bot runtime generated by Composer be run locally independent of Composer?"
Composer documentation only seems to provide the option to deploy the bot to Azure. In our environment, we would like to deploy the bot locally (on-premise), not in the cloud.

The question is not about testing - I understand that the bot can be run and tested locally under the Composer. This is for a production environment - we would like to be able to just get the bot runtime generated by Compos

[2020-11-19 23:39] zxyanliu opened #4911 "Package manager is partially displayed on Composer menu"
Main branch as of Nov 19. 2020.
Windows
Chrome

**Package manager** is partially displayed on Composer menu as shown below:

![image](https://user-images.githubusercontent.com/32497439/99737272-d1da7b80-2a7c-11eb-9d3f-c5b958366410.png)

Should fully display **Package manager** on the menu.

[2020-11-20 00:18] cwhitten commented on #4910
Hi @cs-sd, it sure can! You can eject the runtime and run it as a regular bot in whatever environment existing Bot Framework bots can run in. See the following doc getting started with this: https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#export-runtime

[2020-11-20 00:18] #4910 closed

[2020-11-20 00:20] #3961 closed

[2020-11-20 00:20] #3960 closed

[2020-11-20 00:20] #3959 closed

[2020-11-20 00:21] #4845 closed

[2020-11-20 00:21] #3962 closed

[2020-11-20 00:27] #4508 closed

[2020-11-20 00:28] zxyanliu commented on #4508
Closing this issue due for now.

[2020-11-20 04:49] pramodkn commented on #4874
Thanks @dmvtech @cxbuilders
Using | symbol works for me! you can close the issue.

[2020-11-20 05:29] BeheraMadan commented on #4773
Hi,

we wanted to store telemetry parameters such as user asked questions, question found or not in knowledge base, corresponding matched question in knowledge base, confidence score etc which was not possible with qnamaker dialog because qnamaker trace for qnamaker dialog is not available as shown in below screenshot.  Also these telementry parameters we wanted to store in the qnamaker answer mes

[2020-11-20 05:38] ismendes commented on #4773
Makes sense. We need to verify if the trace from QnA maker is now available if using the QnA trigger, and refactor if so.

[2020-11-20 05:59] #4874 closed

[2020-11-20 08:08] lei9444 opened #4917 "create trigger for skill from toolbar will throw error"
## Describe the bug
![triggererror](https://user-images.githubusercontent.com/39758135/99775626-8c847f80-2b4a-11eb-8045-5a13a3b5fdfa.gif)
![qna](https://user-images.githubusercontent.com/39758135/99776223-6a3f3180-2b4b-11eb-8198-e7c89d0577fe.gif)

## Version
bot-project

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [

[2020-11-20 08:10] lei9444 opened #4918 "the side bar icon missing the highlight when click the root item in the project tree"
## Describe the bug
![highlight](https://user-images.githubusercontent.com/39758135/99775837-e422eb00-2b4a-11eb-8579-5ff0318ee278.gif)

There has the same issue in botsetting page
![setting](https://user-images.githubusercontent.com/39758135/99778677-f30b9c80-2b4e-11eb-8f18-f6106cebead0.gif)

## Version
bot-project

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
-

[2020-11-20 08:26] lei9444 opened #4919 "create skill manifest failed from the project tree context menu"
## Describe the bug
![createmini](https://user-images.githubusercontent.com/39758135/99777309-11709880-2b4d-11eb-8369-abc7533f3ccb.gif)

## Version
bot-project

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down

[2020-11-20 08:31] lei9444 opened #4920 "The setting link in project tree context menu is wrong"
## Describe the bug
![settinglink](https://user-images.githubusercontent.com/39758135/99777797-c7d47d80-2b4d-11eb-8886-868b05aa2711.gif)

## Version
bot-project

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down

[2020-11-20 08:36] lei9444 opened #4921 "The bot content can be copied from one bot to another"
## Describe the bug
![paste](https://user-images.githubusercontent.com/39758135/99778314-80022600-2b4e-11eb-917c-6e38d5771e44.gif)

## Version
bot-project

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '.

[2020-11-20 10:58] BeheraMadan commented on #4773
Hi,
The scenario is like below.

When ever there is a qna question asked by the user , we want to store corresponding telemetry data such as QnA_ArticleFound or not in the knowledge base, QnA_UserOriginalQuestion, QnA_MatchedQuestion, QnA_Score, ConversationId etc so that this data can be used by data team for analysis purpose.

If we use qnamaker dialog in composer, there is no qnamaker trace ava

[2020-11-20 11:22] BeheraMadan commented on #4773
Hi,

Please find below some more screenshots for the reference

Below are the screenshots when we use qnamaker dialog

![image](https://user-images.githubusercontent.com/70739031/99793823-382fce80-2b4f-11eb-9452-12c946a4a25f.png)

![image](https://user-images.githubusercontent.com/70739031/99793918-5dbcd800-2b4f-11eb-81e2-4ca702e6bfbf.png)

Below are the screenshots when we use api call to query q

[2020-11-20 11:37] peterbozso commented on #4872
@stevkan I agree that the sample works as expected if one figures out how to make it work. :) To me personally, the intent of the sample is totally not clear right now. I would expect to create a new bot using the sample, (optionally create a knowledge base, but I think there should be a default one included too), click start, provide the subscription key and tart sending questions to the bot via

[2020-11-20 11:40] BeheraMadan commented on #4890
Hi,

The dialog in the recognizer folder has the same content that you provided in the screenshot. But even though we are getting the error "sequence contains no element"

One thing is that earlier we were using composer version 1.0.2 and the runtime was taken from that version.
But now when we updated the composer to latest version 1.2.1 but runtime is still from older version. Is it possible tha

[2020-11-20 11:55] garypretty commented on #4816
Adding comments here that I shared with @scheyal offline that might help.  You probably want to update the scenario and retest using the following points.

From my initial glance over the pattern, I would need to validate but I think what you need is.

•	You top dialog should have a call to RestartDialog once you call whichever child dialog the user chooses, so that when the child dialog returns,

[2020-11-20 12:04] likith3611 opened #4922 "How do I control Endof conversation in skills bot after each step it jumps back to master bot"

[2020-11-20 12:21] peterbozso commented on #4872
@stevkan I retried with a new instance of the sample and it turns out that the real problem I was facing when creating this issue is this: #4873
Thanks for the clarification!

[2020-11-20 13:15] gabog opened #4923 "Missing (c) in composer runtime files"
## Describe the bug

Some composer runtime files are missing copyright headers.

## Version

1.2.1

## Browser

NA

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Spit out the composer runtme
2. Check the headers for the following files
- MultiplyDialog.cs
- CustomActionComponentRegistration.cs

## Expected behavior

All files in the composer r

[2020-11-20 13:36] mudasar commented on #4728
I am facing a similar issue with web app performance as well. if using the custom runtime the first time load is really really slow and it taking more then 1GB of RAM
![image](https://user-images.githubusercontent.com/4255491/99806126-6ef8eb00-2b35-11eb-8714-fe0f00b73865.png)

[2020-11-20 14:27] BeheraMadan opened #4926 "fetching qnamaker answer received from qnamaker dialog using memory object"
Hi,

We have added qnamaker dialog action to query qnaknowledge base as shown in below screenshot.

![image](https://user-images.githubusercontent.com/70739031/99811333-0d537380-2b6b-11eb-8499-2dd9ec074ce9.png)

We are getting qna answer from qnamaker dialog action. But how can we capture the qnamaker answer received from qnamaker dialog using memory object. We are able to capture the question ask

[2020-11-20 14:45] madbeher commented on #4876
Hi,

When I am using   'Test in WebChat' on Azure,  its working. but in in chrome its not working. I have created a web page
and embedded the bot using bot framework webchat(https://github.com/microsoft/BotFramework-WebChat).Below are details.

composer version - 1.2.1
emulator- 4.8.1
browser- chrome

[2020-11-20 16:56] garypretty commented on #2560
@EricDahlvang will be adding to the list of available Teams actions / triggers in the next release.  Once we have a clear picture of the list which will need to be surfaced inside of Composer we will raise an associated issue and link it to this issue for tracking.

[2020-11-20 17:57] #4903 closed

[2020-11-20 18:02] a-b-r-o-w-n commented on #4921
@lei9444 Can you provide more details about this? What is the current behavior? What is the expected behavior?

[2020-11-20 18:03] a-b-r-o-w-n commented on #4921
@lei9444 also, please delete any section in the description that you do not use to reduce the noise. Thanks.

[2020-11-20 18:05] a-b-r-o-w-n commented on #4922
Hi @likith3611. Can you provide more details in the body of this issue about what you are trying to achieve? It will help us respond quicker.

[2020-11-20 18:18] dmvtech commented on #4890
Oh, good point. It may! I'll see if I have a 1.0.2 runtime I can easily try myself as well. Let me know what you find.

[2020-11-20 18:54] mewa1024 commented on #4888
@chrimc62 adding you for visibility.

[2020-11-20 19:02] neganov commented on #4211
I've hit the same issue with Bot Framework Composer 1.1.1. The error "TypeError: Cannot read property 'utterances' of undefined" is thrown on line 492 in the file:

%LocalAppData%\Programs\Bot Framework Composer\resources\app.asar.unpacked\build\plugins\azurePublish\node_modules\@microsoft\bf-lu\lib\parser\luis\luConverter.js

When I publish it apparently compares already published LUIS apps again

[2020-11-20 19:33] zxyanliu commented on #3922
@garypretty I was unable to reproduce the incorrect behavior you described in [Composer 1.2.1 release](https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.2.1) nor in the main branch. I think it is safe to close this issue?

![image](https://user-images.githubusercontent.com/32497439/99842091-110fd780-2b24-11eb-9854-d6848a5db2bd.png)

[2020-11-20 20:14] #4888 closed

[2020-11-20 23:05] stevkan commented on #4872
@peterbozso, you are right in that Composer's settings should update with the `hostname` and `knowledgebaseid` property values (`endpointKey` auto-fills along with `subscriptionId`).

To clarify my above post a little bit: the sample does make use of the QnAMaker service. When the sample loads it asks for a document to be loaded as the QnA source (or build one from scratch). Composer uses your QnA

[2020-11-21 05:39] #4883 closed

[2020-11-21 05:41] beyackle commented on #4821
I'll take a look. It does successfully create the dialog, and that's not the usual kind of alert we use.

[2020-11-21 06:40] likith3611 commented on #4922
Hi I was trying to build a skills bot and once I connected to a skill it was working fine but it use to return to the master bot after the first step

So let us say I jump to skill bot and skill bot has few questions in it and when I try to answer it it jumps back to master bot saying the "endOfConversation"

[2020-11-21 16:42] KoradaRajesh commented on #4875
@dmvtech Any update on this?

[2020-11-21 17:16] #4918 closed

[2020-11-22 07:22] gabog opened #4933 "Unable to set input hint in composer responses"
## Is your feature request related to a problem? Please describe.

I need to be able to set the InputHint property of an activity sent back to the user so webchat and other voice enabled channels would know if they need to open the mic or not.

## Describe the solution you'd like

I'd like to have a dropdown in the Send Activity action that allows me to set the inputhint I want (possible inputhint

[2020-11-22 08:48] cxbuilders opened #4935 "Menu Component"
In a typical bot I have lots of instances of the following;
![image](https://user-images.githubusercontent.com/49873947/99898919-a25a8780-2ca5-11eb-866d-d630e6bd3421.png)

Having the ability to create a custom Menu action for this that allows to define;
- style (buttons / suggestedActions),
- menuOptions [text, name, type (url / post), data]

Then having a built in EndTurn & Switch on the defined

[2020-11-22 18:03] #4920 closed

[2020-11-22 18:03] #4919 closed

[2020-11-22 18:03] #4811 closed

[2020-11-22 18:04] #4853 closed

[2020-11-22 18:04] #4854 closed

[2020-11-22 18:06] cwhitten commented on #4933
@gabog hand-crafting the Activity in LG is the recommended way to do this. See https://docs.microsoft.com/en-us/azure/bot-service/language-generation/language-generation-structured-response-template?view=azure-bot-service-4.0#definition

[2020-11-22 21:15] #4880 closed

[2020-11-22 21:15] #4891 closed

[2020-11-22 21:15] #4861 closed

[2020-11-22 21:16] #3954 closed

[2020-11-22 21:16] #4859 closed

[2020-11-23 01:12] #4821 closed

[2020-11-23 02:44] luhan2017 commented on #4896
@gabog , yes, this is by design because composer can starts multiple bots with different ports. So when use composer to start a bot, composer passes the port as a parameter to start the bot, instead of using the port from launchsettings.json.
We are working on a new botproject feature, which will help automatically fill in the skillHostEndpoint value, stay tuned.

[2020-11-23 02:48] luhan2017 commented on #4847
@philip-mc, this is not relates to any channel, it is a web app configure that decides which dll it should start with. That is just a specific issue which happens when you using an existing web app for deployment. You just don't download the code from the webapp.

[2020-11-23 02:55] alevinetx opened #4936 "Regex: Consistency in named group, or add function"
## Is your feature request related to a problem? Please describe.

When the ```Intent recognized``` trigger is used with named groups in the regex, eg ```(?<groupName[a-z])```, the named groups are accessible to assign to properties via ```@groupName```.

However, there doesn't appear to be any other way to access named groups, like in user input validation groups or a built-in regex parser via an

[2020-11-23 03:01] hibrenda commented on #4814
@saiteja21 As the region support for QnA is in preview version, so no quick workaround in short term. we will evaluate the solution both from features and quality. Stay tuned.

[2020-11-23 03:12] Danieladu commented on #4815
@KoradaRajesh Maybe the Emulator/webchat does not support download the file directly.

[2020-11-23 03:21] luhan2017 commented on #4773
@BeheraMadan ， if you just want to see the qna trace, you can configure you qna service in the emulator.
1. Create a new bot configuration, enter the Endpoint Url, and connect to the bot.
![image](https://user-images.githubusercontent.com/32191031/99926568-22075580-2d7d-11eb-8d4c-a25b83d0e28a.png)

2. Add a QnAMaker service under Services tab
![image](https://user-images.githubusercontent.com/3219

[2020-11-23 03:30] srinaath opened #4937 "Settings page should follow the same url pattern as other pages"
Currently the settings page is following a different URL pattern. It needs to follow the pattern of
`bot/{rootBotId}/botProjectSettings` or
`bot/{rootBotId}/skill/{skillId}/botProjectSettings`

[2020-11-23 08:36] #4923 closed

[2020-11-23 09:00] likith3611 commented on #4922
Hi is there any quick solution for this can you please help me out

[2020-11-23 10:57] hraz-msft commented on #4897
@jwiley84, I sent a question on StackOverflow, but it has very low traffic.
https://stackoverflow.com/questions/64958497/bot-framework-composer-send-response-to-different-conversation

[2020-11-23 14:00] thakursarvesh commented on #1993
I am also looking forward for it. any eta when this would be added?

[2020-11-23 15:16] MarcoWirtl opened #4943 "Cant add Response to my bot after Updating Bot Framework Composer"

[2020-11-23 15:31] #4943 closed

[2020-11-23 15:32] goergenj opened #4944 "[MCS-DE-GO] Unknown Intent not triggering in Prompt Actions (Ask a question)"
Whenever we set any Prompt Action with "allow interruptions" the triggers of the dialogs which have benn confirguren work except the "Unknown Intent" trigger.

Please enable that also the "Unknown Intent" triggers an interruption.

@joaollq @goergenj @sgellock @benbrown @bindsi

[2020-11-23 15:37] goergenj commented on #3316
@benbrown Any update on this? We currently solve this with our own publishing pipelines but would be good to have this support in the default plug-ins as well.

[2020-11-23 15:38] goergenj commented on #3315
@benbrown Any update on potential timeline for this?

[2020-11-23 15:49] goergenj commented on #3318
@benbrown @cwhitten Any update on potential timeline for this?

[2020-11-23 15:53] goergenj commented on #3675
@benbrown Any update on this after Vishwac has left?

[2020-11-23 16:32] MarcoWirtl opened #4945 "Cant see changes locally in Emulator."
Hi, after changing things in Bot Framework Composer i'm not able to see the changes locally in the emulator.

But when i publishing these changes i can see them in WebChat.

e.g. i changed spelling in the welcome Message. Old message in Emulator, new message in WebChat.

How to fix it? I would like to continue develop my bot... Testing locally with emulator should work again.

[2020-11-23 16:59] happybithj opened #4946 "the composer with skills running error"
![image](https://user-images.githubusercontent.com/63767904/99990804-3e43da80-2def-11eb-8746-e2e82dd7e24a.png)
![image](https://user-images.githubusercontent.com/63767904/99991545-1e60e680-2df0-11eb-9357-602ff1f988fb.png)
![image](https://user-images.githubusercontent.com/63767904/99991581-2de02f80-2df0-11eb-9dff-d3043dc0c5e3.png)

i have a simple skill in a composer intent.  the skill could run s

[2020-11-23 17:22] dmvtech commented on #4922
Hi @likith3611 In your skill action, you need to set `Allow Interruptions` to false. Please see [this thread](https://github.com/microsoft/BotFramework-Composer/issues/4495) for more info.

[2020-11-23 18:44] jwiley84 commented on #4876
Alright. If you're getting two different results on two different webchats, it might be a webchat-composer issue. Let me check that the webchat version used in the iframe for chrome and the webchat version used in 'test in webchat' are the same. Thank you for your patience.

[2020-11-23 18:50] srinaath commented on #4917
Fixed in #4934

[2020-11-23 18:50] #4917 closed

[2020-11-23 21:21] mewa1024 opened #4947 "Form dialog: "Choose" triggers show all expressions in details pane expanded"
If you create a form dialog, when you select a trigger for a "choose" operation (i.e.g, a trigger named "<propertyName>Entity - Choose()", the expression fields in the details pane all appear expanded (with Intellisense visible).

## Version

main branch, pulled November 23
(but I first saw this error in the main branch from November 16)

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ]

[2020-11-23 23:30] srinaath opened #4949 "Scrolling issue in PropertyEditor"
<img width="1092" alt="Screen Shot 2020-11-23 at 3 28 12 PM" src="https://user-images.githubusercontent.com/13004779/100026973-a3241400-2da0-11eb-83d5-75af9adcbd30.png">

The overflow content in PropertyEditor is not scrollable. This blocks us from updating properties in the editor

[2020-11-23 23:34] srinaath opened #4950 "LUIS key error is not reverted in Project tree"
- Create an echo bot
- Create a new dialog and add a trigger. Update the name of trigger and add a trigger phrase
- The ProjectTree gives an error warning of a missing LUIS key correctly.
- Remove the dialog to which we added this trigger

Expected: The LUIS error on the project tree should disappear as the bot does not need LUIS anymore
Actual: The LUIS error still shows up even after deleting th

[2020-11-24 00:24] vkacherov opened #4951 "Dead link in Releases documentation"
## Describe the bug
The link to the https://github.com/microsoft/BotFramework-Composer/blob/main/releases/1.2.1.md is dead, there is no 1.2.1.md in the repo.

## Version

## Browser

- [ ] Electron distribution
- [x] Chrome
- [x] Safari
- [x] Firefox
- [x] Edge

## OS

- [x] macOS
- [x] Windows
- [x] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'https://github.com/microsoft/

[2020-11-24 00:25] srinaath opened #4952 "Allow Project tree to be expanded"
## Describe the bug

<img width="435" alt="Screen Shot 2020-11-23 at 4 23 58 PM" src="https://user-images.githubusercontent.com/13004779/100030436-5c3a1c80-2da8-11eb-8ba7-bb35fa68bc50.png">

The Project tree pane cannot be expanded or contracted. The sizing has disappeared on the pane

[2020-11-24 00:49] #4921 closed

[2020-11-24 00:57] #4858 closed

[2020-11-24 01:05] #4855 closed

[2020-11-24 01:06] zxyanliu commented on #4951
Yeah, it is a broken link.
I think you can read the following for your reference.
https://github.com/microsoft/BotFramework-Composer/blob/main/releases/1.2.0.md
https://docs.microsoft.com/en-us/composer/what-is-new

[2020-11-24 01:09] #4121 closed

[2020-11-24 05:25] likith3611 commented on #4922
The problem is if I set allow interruptions to false, The NLP wont work

[2020-11-24 06:44] lei9444 opened #4953 "If the recognizer type is Orcherstrator we don't need the luis key"
## Describe the bug
![image](https://user-images.githubusercontent.com/39758135/100057907-535a5100-2e63-11eb-8632-995d9ef9b1e4.png)
![image](https://user-images.githubusercontent.com/39758135/100057989-771d9700-2e63-11eb-851f-045f5f282fd2.png)

## Version
bot-projects

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [x] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ]

[2020-11-24 08:23] zhixzhan commented on #4952
After some dig, there seems a mask from VisualEditor.ZoomZone has covered splitter's drag, will sync with @alanlong9278 .

[2020-11-24 08:23] yeze322 opened #4954 "Generated dialog of 'any string' not openable in Composer"
## Describe the bug

#### Problem:
In Form Dialog, when the property type is chosen as `Any string`, the generated dialog is not openable in Composer.
    - In dev env (yarn start:dev), Composer will raise an error (Invalid Expression error raised by Project Tree) when opening the generated dialog;
    - In prod env (yarn start), Composer will show a blank design page and exhausts all your PC meme

[2020-11-24 08:33] stephanbisser commented on #4851
Any updates already @tonyanziano?

[2020-11-24 08:48] yeze322 opened #4955 "Problem of displaying and editing lg templates in generated Form Dialog"
## Describe the bug
Found several problems related to LG displaying and editing a generated dialog in Composer, especially related to the $kind `SendActivity`.

### 1. SendActivity node is empty in Flow Editor
#### Problem:
![image](https://user-images.githubusercontent.com/8528761/100070627-1c8d3680-2e75-11eb-944c-84ec82969388.png)
#### Causes:
It's a bug of the SendActivity node, when the lg tem

[2020-11-24 10:55] cxbuilders opened #4958 "Ability to use LG in Properties"
We use the common.lg file as a dictionary for all the language of the bot. These responses are typically used as bot messages to the user.

However for some features like the bot sending out a reminder mail for you, or sending a message on behalf of a user via an external Api we need to have the ability to use the entries from this dictionary into properties, so we can use them to set mail subject

[2020-11-24 10:56] MarcoWirtl commented on #4945
The emulator take the us-en language files. Thats the reason my default language isnt displaying. Solved it by removing the unused files and deleting the Bot language as well.

[2020-11-24 10:56] #4945 closed

[2020-11-24 11:09] cxbuilders opened #4959 "Updating Bot Responses takes ages"
When making changes to the Bot Responses in V1.2.1 it takes ages to update.

Although I am just adding one sentence to one file, I see the console looping through all files many, many times. Then when navigating away and coming back I can see the change halfway saved, doing it again some time later, when the console has stopped looping through the files, the sentence is finally finished saving and

[2020-11-24 11:26] #4949 closed

[2020-11-24 11:30] KayMKM opened #4960 "Cross train not work"
## Describe the bug

composer won't generate interruption intent.

## Version

1.2.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. open and start the calendar bot https://github.com/microsoft/botframework-components/tree/calendarSkill_v2/skills/declara

[2020-11-24 11:41] boydc2014 commented on #4950
@srinaath
1. we could not repro the case that deleting dialog still need LUIS key.
2. for deleting triggers, the current design is not considering the triggers to tell whether LUIS key needed. The current design is looking for LUISRecoginzer+.lu file not empty.

So i'm taking down the bug label here.

[2020-11-24 12:17] #4960 closed

[2020-11-24 13:00] liweitian commented on #4950
@boydc2014 Deleting  dialog works as expected. I think @srinaath is referring deleting triggers. The last time when I worked on this problem. The logic is what you said above. I checked code and sync with @luhan2017 today. Deleting a onIntent trigger should also deleting corresponding lu intent. The code is already there. But the parameter is not correct. I opened PR for it.

[2020-11-24 13:19] zhixzhan commented on #4952
if do not use `MarqueeSelection` component, won't meet this bug. ( but not sure it's the root cause )
https://github.com/microsoft/BotFramework-Composer/blob/ac57d72d437dd781e4c6a0d32b0b3cae950c6227/Composer/packages/adaptive-flow/src/adaptive-flow-editor/AdaptiveFlowEditor.tsx#L156

the splitter between visual editor / form editor was broken after #4743

the splitter between project tree / visual

[2020-11-24 13:24] boydc2014 commented on #4952
@alanlong9278 @yeze322 can you comment on this?

[2020-11-24 14:05] narulasrinivas opened #4964 "Please clarify - Error icon on Author canvas??"
I've a query related to below image where it is highlighted with red colour circle.

Can someone explain or point me to right direction, why it is having error related symbol?

![image](https://user-images.githubusercontent.com/2491903/100103902-679b4f80-2e5d-11eb-9f5c-86107bfa3402.png)

[2020-11-24 15:02] cxbuilders opened #4965 "Dragging Dividers in Flow View throws error"
When dragging either the left divider between the Dialog tree and the canvas or the right divider between the canvas and the properties pane throws an error in V1.2.1

![image](https://user-images.githubusercontent.com/49873947/100111545-7d654080-2e6e-11eb-9666-c4f2f2a7129e.png)

[2020-11-24 15:12] cwhitten commented on #4959
@cxbuilders do you experience the same issue on the "Early adopters" feed? We've recently added a chance in this area. Barring that we may need a sample project that reproduces this.

[2020-11-24 15:23] cxbuilders commented on #4959
@cwhitten Can try that in couple of days, need to finish this bot first. Am updating the list in Notepad now and copying it all over at once, which results in only one update, which is workable

[2020-11-24 15:30] #4674 closed

[2020-11-24 15:38] #4791 closed

[2020-11-24 16:29] #4937 closed

[2020-11-24 16:31] BeheraMadan commented on #4926
Hi,
I think there is some misunderstanding. I will explain issue again.
We have some triggers(Intent Recognized) and an 'unknown intent'(none) trigger. If no intent is matched it will go to unknown intent trigger and in that unknown intent trigger we are using Qnamaker dialog action to connect to Qna knowledge base as shown in below screen shot.

![image](https://user-images.githubusercontent.com/

[2020-11-24 17:17] garypretty commented on #4758
Added to the backlog for future consideration.

[2020-11-24 17:26] tannguyen3 opened #4966 "How can we use ActivityTypes.Typing"
Hi guys,
I have a MS Team bot, and I'd like to greet user when they start using the bot again.
The "Greeting - ConversationUpdate" activity, only triggered the first time user added to the bot.
So I plan to use the typing activity, but it doesn't work on Bot Emulator and Teams

Do we have any document for how-to use ActivityTypes.Typing or if someone has experience with it?

Thanks

[2020-11-24 17:30] dmvtech commented on #4710
Closing due to inactivity. Please provide the error and let us know if you still need assistance with this issue.

[2020-11-24 17:30] #4710 closed

[2020-11-24 17:35] cwhitten commented on #4958
@cxbuilders if you set the value to an Expression, does it work?

[2020-11-24 17:37] cwhitten commented on #4953
@taicchoumsft can you take a stab at this on the feature/bot-projects branch?

[2020-11-24 17:39] cwhitten commented on #4947
We need to hide the `actions` field from the component schema for OnChooseEntity. @LouisEugeneMSFT can you look at this?

[2020-11-24 17:46] jwiley84 commented on #4897
It's been assigned to one of our support engineers to take a look at. Thank you for  clarifying your use case in it.

[2020-11-24 17:55] dmvtech commented on #4761
hi @BeheraMadan I'm still working on this. Thanks for your patience.

[2020-11-24 18:07] taicchoumsft commented on #4953
Will do, investigating now.

[2020-11-24 18:53] dmvtech commented on #4966
Hi @tannguyen3

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

--------------------------------------------

[2020-11-24 18:53] #4966 closed

[2020-11-24 19:05] dmvtech commented on #4922
Can you explain the design more? Does both your consumer/parent/bot have NLP but your skill does not? If you want NLP to work in your skill, you need to have NLP setup there as well? Or am I mis-understanding? Please provide more info.

[2020-11-24 19:25] axelsrz commented on #4761
Hey here is an in-progress sample for a similar scenario https://github.com/EricDahlvang/BotFramework-Composer/pull/3 is this helpful @BeheraMadan ?

[2020-11-24 19:34] axelsrz commented on #4409
Hello @jpd21122012, looks like this is a Luis issue, I would recommend submiting this through their tool at https://cognitive.uservoice.com/forums/551524-luis

[2020-11-24 19:34] #4409 closed

[2020-11-24 20:39] zxyanliu commented on #4582
@garypretty FYI. There is a major update to the [doc](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action) on custom action since Composer 1.2 release. You only need to run `npm i -g @microsoft/botframework-cli` to install bf-cli tools (no need to install bf-dialog tool separately). The custom action should work as I tested using both [1.2.0](https://github.com/microsoft/BotFramewor

[2020-11-24 20:53] srinaath opened #4970 "Building bots with LUIS and Qna fails"
## Describe the bug
- Create a bot from the Todo LUIS template
- Add a Qna kb action using "Add new knowledge base" context menu to the main dialog
- Start the bot

![Screen Shot 2020-11-24 at 12 46 36 PM](https://user-images.githubusercontent.com/13004779/100150066-f0ad8900-2e53-11eb-9ae8-cbbee2dfbed2.png)

@boydc2014 who is the right person to take this task?

[2020-11-24 21:06] srinaath commented on #4970
@zhixzhan i think you might know whats going on here

[2020-11-24 21:23] srinaath opened #4972 "Remove the add toolbar item"
With the new context menu giving operations for adding a dialog, trigger we do not need the toolbar item anymore. The tricky part here is the integration tests all the use the flyout. So those need to be sorted out too in this PR.

![](https://user-images.githubusercontent.com/13004779/100152929-48e68a00-2e58-11eb-90bd-ac3114dde8f1.png)

[2020-11-24 21:24] #3963 closed

[2020-11-24 21:51] cwhitten commented on #4951
this has been fixed. thanks for reporting

[2020-11-24 21:51] #4951 closed

[2020-11-24 22:12] cwhitten commented on #4964
@narulasrinivas this is nothing indicating an issue with your bot, and that you can click on that ui element to load the _configuration_ for the prompt to handle validation/error/retry scenarios for the user

[2020-11-24 22:12] #4964 closed

[2020-11-24 22:59] narulasrinivas commented on #4964
Thank You. I'll try that out.

[2020-11-24 23:09] #4953 closed

[2020-11-24 23:41] scheyal commented on #4816
(FYI no variation per above worked)

[2020-11-25 00:35] boydc2014 commented on #4958
This won't work, because it will need namespace + exports.

So, @cxbuilders the current way to enable LG outside of SendActivity is using namespace + exports. Please refer to https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lg-file-format?view=azure-bot-service-4.0#exports-option and exports the template you want and try that in the properties or in any other actions.

We

[2020-11-25 00:45] srinaath opened #4974 "Publish targets in Publish Page"
![Screen Shot 2020-11-24 at 4 43 21 PM](https://user-images.githubusercontent.com/13004779/100167579-3e39ee00-2e74-11eb-86d2-eee106485b75.png)
When "Manage Profiles" is clicked it needs to route to the appropriate settings page and scroll to the publish target section in Settings page. Currently, we just guide them to the settings page. It is hard for the user to know where to add the publishing p

[2020-11-25 01:07] v-kydela opened #4975 "Start bots panel error popup becomes detached from its parent"
## Describe the bug

The error popup in the start bots panel sticks around when you click on it even though the start bots panel itself goes away

## Version

1.3 preview

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open the start bots panel when a bo

[2020-11-25 01:26] boydc2014 commented on #4954
@yeze322 let's open a new focused issue in Cli to track the changes there

[2020-11-25 02:12] yeze322 commented on #4935
Seems you need a custom Action here which performs as a combination of those Actions in the screenshot.
I suppose this new Action block does several things:
1. Post a message to the channel and show a menu.
2. Wait for user to choose an option.
3. Handle the logic of the chosen option.

I'm not sure if we planned to add this Action as built-in, but hopefully it can be achieved by our 'Custom Actio

[2020-11-25 02:20] yeze322 commented on #4935
I tend to use use first approach since we are going to support it more in the future versions (UI Schema, Asset Library).

For now, I think it's possible to achieve that with several steps:
1. (in runtime) Implement a new $kind "SwitchMenu" which inherits from the SwitchCondition
2. (in runtime) Defines the sdk.schema.
3. (in Composer) Edit the sdk.uischema to expose that new Action block to Compo

[2020-11-25 02:23] drfbwilliams commented on #4409
Hi @axelsrz - I don't see anywhere stating that LUIS is a pre-requisite. I don't have a LUIS service, so I should be able to exclude this and still publish - therefore, this isn't a LUIS issue.

Thanks,

[2020-11-25 02:30] hibrenda commented on #4958
@cxbuilders
Just like @boydc2014 mentioned here. you can try out as below :

Use template outside of SendActivity
![image](https://user-images.githubusercontent.com/43408889/100175235-f618db00-2f08-11eb-878f-2d10b6874eb4.png)

Define the template in .LG file
![image](https://user-images.githubusercontent.com/43408889/100175299-0df05f00-2f09-11eb-9a9d-305b8ea1e231.png)

Does this meet your requirem

[2020-11-25 02:58] likith3611 commented on #4922
The skill bot is partially NLP driven, there are few places where we have yes/no kinda questions which is not NLP based so skills bot contains both NLP and normal conversation, How do I solve this

[2020-11-25 03:06] yeze322 commented on #4954
https://github.com/microsoft/BotBuilder-Samples/issues/2956

[2020-11-25 03:45] zhixzhan commented on #4970
@srinaath I have try the latest feature/botprojects and main branch, both can't repro this error. Did you modify the lu content after create from `Todo Luis Template` bot.

[2020-11-25 03:49] yeze322 opened #4977 "‘Show skill manifest’ button in Form Editor dosn't work"
## Describe the bug
No response when clicking on the 'Show skill manifest' button.
![image](https://user-images.githubusercontent.com/8528761/100180952-39c51200-2f14-11eb-96b6-fa7ce6b607b4.png)

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1.

[2020-11-25 03:50] yeze322 commented on #4977
move to internal Excel

[2020-11-25 03:50] #4977 closed

[2020-11-25 04:14] jpd21122012 commented on #4409
@drfbwilliams you don't need to fill LUIS fields if you're not using it.

[2020-11-25 04:22] drfbwilliams commented on #4409
Correct - I believe this is related to this issue #4746

I do not believe this has been fixed yet, so the issue should not be handed off and closed. I don't believe that it is LUIS specific as this occurs on non-LUIS solutions such as the one mentioned in the previous issue.

@zxyanliu - thoughts if these are connected?

[2020-11-25 04:26] jpd21122012 commented on #4409
@drfbwilliams I had that problem, but it was my fault by Web App Name and HostName Keys of settings, please double check it. Issue [#4746 ](https://github.com/microsoft/BotFramework-Composer/issues/4746) shows when publishing bot the loading status never ends.

[2020-11-25 04:32] drfbwilliams commented on #4409
I can confirm I spend 4 days on it and it exists

As mentioned in that issue, @zxyanliu was also able to repro the issue on and existing deployment

"The error was reproduced when I tested publishing a bot to existing Azure resources (manually created)."

I can confirm that a newly provisioned bot with scripts that include LUIS and full stack does deploy correctly.

You can close this if you wish,

[2020-11-25 06:13] philip-mc commented on #4613
Hello,

Im about to need to use this for a project going live - if tis not do able please let me know and I will attempt a workaround.

[2020-11-25 06:18] cxbuilders commented on #4958
@boydc2014 @hibrenda , that worked perfect. I was also able to use this for #4960

[2020-11-25 06:31] luhan2017 commented on #4970
Synced with Srinaath, we've successfully reproduced this issue. The issue is a corner case which is because there is an special qna question in the qna file.
[code]
If we enable both luis and qna, it will crosstrain the content and the question above will be listed under DefertoQnA intent.

And our lu cli failed to parse this utterance, assigning to Fei to investigate whether we can fix it in the

[2020-11-25 06:56] feich-ms commented on #4970
Tried this special utterance and actually it is not permitted by luis. The optional fix is to remove all patterns in crosstrained results when doing cross-training. Created a ticket in cli https://github.com/microsoft/botframework-cli/issues/1064 to track it. Since this is a very special corner case, so the fix in cli will target R12.
![image](https://user-images.githubusercontent.com/43032123/100

[2020-11-25 09:51] boydc2014 opened #4980 "Azure publish plugin should not copy code to re-build bot"
### Context
Today, azure publish is totally decoupled from local publish (local start), which means azure publish will assume the bot is not built yet. It will ignore the bot build result of local run (ie, the generated folder) and build the bot from scatch by doing the cross-train, down-sampling, luis-build, qna-build, all that.

### Issue
The assumption may make sense, but the issue is today the

[2020-11-25 10:36] BeheraMadan commented on #4761
Hi @axelsrz I have gone through below link you have given and  I saw there is a do while loop screenshot but the I wanted to
try in composer but I don't see any do while loop in composer. Could you please let me know where is do while loop available in composer.

https://github.com/EricDahlvang/AdaptiveDoWhile

![image](https://user-images.githubusercontent.com/70739031/100216244-0eecb500-2f38-11e

[2020-11-25 10:42] luhan2017 commented on #4970
@cwhitten @srinaath , this is not a composer issue, should we remove 1.3 label on this?

[2020-11-25 11:46] BeheraMadan opened #4981 "date substaraction is not working in composer"
Hi,

We have below url related to date and time functions. In that there are some functions such as  "dateTimeDiff" and "ticksToDays".

https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#date-and-time-functions

When we try to use above function we are getting error in composer as shown in below screenshot.

![

[2020-11-25 12:50] liweitian opened #4982 "root id and skill id are switched in url"
## Describe the bug
Create two todoluisbots, click skill bot on design page. (gif shows it clicks the warning, but the result is the same. Because it changes currentProjectIdState) Go to publish page. The two ids are switched. Then if we click the manage profiles button, it may overwrite publish Targets.

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
-

[2020-11-25 16:49] srinaath commented on #4970
@feich-ms @luhan2017  yep let's close the ticket. Great catch to find an issue with the kb content.

[2020-11-25 17:42] dmvtech commented on #4946
hi @happybithj Do you see any activity in your Ngrok viewer? (i.e. does the request make it to ngrok?)

[2020-11-25 17:55] #4982 closed

[2020-11-25 18:45] dmvtech commented on #4761
Hi @BeheraMadan

This is a pull request that has not be merged yet. So you won't see it at this point. You can either implement similar approach yourself with your own custom code/runtime, or you can wait for it to be available in a release. I've exhausted any other out-of-box options.

[2020-11-25 19:07] #4761 closed

[2020-11-25 19:24] #4958 closed

[2020-11-26 01:52] dmvtech commented on #4981
hi @BeheraMadan

That is strange. I'm not getting that error at all.

My actions in .dialog:
[code]

My .lg:
[code]

Is this using version 1.2.x, or an earlier version? Does this reproduce in a brand-new echo bot within composer? Double-check the activity IDs in both .dialog and .lg.

[2020-11-26 02:17] mewa1024 opened #4987 "Form dialog: re-generating form schema causes error in .lu files"
## Describe the bug

Using form dialogs, I re-generated a form dialog (without any changes) and tried to start the bot. I got an error that an .lu file was missing and 3 warnings.

## Version

main branch, pulled Nov 25

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the

[2020-11-26 06:55] Stevenic opened #4988 "LG Editor keeps dropping changes"
## Describe the bug

I don't have a consistant repro per say but the LG Editor in the latest composer build is dropping changes **A LOT**. I did about 5 minutes worth of changes to an LG file clicked "Restart Bot" and it was if none of my changes took.  I went back into composer and they were gone.  A second ago I add a new template to a file, clicked away to another file, and when I clicked back

[2020-11-26 07:08] Stevenic commented on #4988
I've literally tried to add the template below twice now:

![](https://user-images.githubusercontent.com/698939/100318468-f77eed80-2f72-11eb-81ba-4961221319a3.png)

I click away and when I come back:

![](https://user-images.githubusercontent.com/698939/100318524-09609080-2f73-11eb-93e1-c52d767f999f.png)

[2020-11-26 07:11] Stevenic commented on #4988
I reloaded the project and got this mangled version of what I was trying to type:

![](https://user-images.githubusercontent.com/698939/100318801-7a07ad00-2f73-11eb-9990-2cad193a4e63.png)

[2020-11-26 09:54] knightmeister opened #4994 "Unable to post back values from an adaptive card"
## Describe the bug

When an adaptive card contains a submit button and input fields, I am unable to suppress the error message `Object reference not set to an instance of an object`.

## Version

Composer 1.2.2

## Browser

N/A. Using Bot Framework Emulator

## OS

Windows

## To Reproduce

Steps to reproduce the behavior:

1. Create a new bot
2. Return the following payload in the Greeting

[cod

[2020-11-26 10:13] yeze322 opened #4995 "Show lg parameters in Form Editor"
## Is your feature request related to a problem? Please describe.

In Form Dialog's scenario, the generated "activity" field is a lg template with fixed parameters (related to form schema).
![image](https://user-images.githubusercontent.com/8528761/100336407-1b910c00-3011-11eb-81a3-26a529d18f19.png)

In this case, if we hoist (dereference) the lg template's content to Form, it will be shown as bel

[2020-11-26 10:22] yeze322 opened #4996 "needs to put lg comments below lg name declaration in form dialog generated lg files"
## Describe the bug
Related to https://github.com/microsoft/BotFramework-Composer/issues/4822 .
![image](https://user-images.githubusercontent.com/8528761/100339254-99a2e200-3014-11eb-97ca-74b110aecdc0.png)

Before the fix, we need to make sure form dialog cli put lg comments below lg name declarations.
[code]
Rather than
[code]

## Version

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [

[2020-11-26 10:26] yeze322 commented on #4965
transfer to @alanlong9278. we are aware of this issue

[2020-11-26 12:47] BeheraMadan commented on #4981
Hi,

We were using latest composer version 1.2.1 but custom runtime was taken from older version 1.0.2.
After updating the custom runtime as per latest composer version issue got resolved.

Thank you for quick support.

[2020-11-26 12:49] BeheraMadan commented on #4890
Hi @dmvtech
After updating custom runtime as per latest composer version issue got resolved.

Thank you for support.

[2020-11-26 15:20] godwin3737 opened #4999 "Desktop Client OnLaunch: Uncaught ReferenceError: require is not defined"
## Desktop Client OnLaunch: Uncaught ReferenceError: require is not defined

After installing Bot Composer desktop client receive the error "Uncaught ReferenceError: require is not defined"

## Version : v1.2.1

## Browser : N/A

## OS
Windows 10 Enterprise (ver 1809)

- [ ] macOS
- [x ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Install Desktop Client
2. On Launch

[2020-11-26 20:17] #4890 closed

[2020-11-26 20:17] #4981 closed

[2020-11-27 04:00] zhixzhan commented on #4825
For item 2 there is a fluentui issue track

https://github.com/microsoft/fluentui/issues/12177

[2020-11-27 09:16] saiteja21 opened #5003 "Error: getaddrinfo ENOTFOUND *.scm.azurewebsites.net, environment variable error"
I have manually created the resources needed for my Bot to run. And built publishing profile.

My resource group name is "bottested-rg", and my app service name is "bottested-webapp", so ideally my Kudu console or publishing endpoint will be bottested-webapp.scm.azurewebsites.net

Now, while publishing my Composer Bot to Azure it gives below error

**ISSUE:**

![image](https://user-images.githubus

[2020-11-27 10:38] goergenj opened #5004 "[MCS-DE-GO] Dialog creation error in qna-filename when language is not "en-us""
When selecting a Bot with a default language (set as only language) which is not "en-us", the .qna-Files are still created with the "en-us"-extension which causes Composer to produce an error that it could not find the .qna-File.

@joaollq @goergenj @sgellock @benbrown @Bindsi @cwhitten

[2020-11-27 10:53] goergenj opened #5005 "[MCS-DE-GO] QnAMaker multi-language settings"
QnAMaker Publishing does not allow setting a region other than "westus" and language other than "en-us". For language it seems it uses the Bot language default language at least. However multi-language settings are also missing. "qna":"en-us":..., "qna":"de-de":...

![image](https://user-images.githubusercontent.com/31212469/100441562-f7800a00-30a6-11eb-9c5c-de2112a1e1c4.png)

@joaollq @goergenj @

[2020-11-27 10:56] Laxmi30 commented on #4587
Hi,
I am unable to retrieve the user info from the team to store it in application insights.
I had tried with **${turn.activity.from.name}** in bot  framework composer. But it's only working for emulator and not in ms teams.

Could u please help me with it?

[2020-11-27 12:11] goergenj opened #5006 "[MCS-DE-GO] User Input TurnCount should not increase on Interruption"
When a user input is requested, there should be an option to define whether an interruption will trigger the turnCount to increase or not or an option to reset the turnCount in a flow.

[2020-11-27 15:29] cxbuilders opened #5007 "Bot throws error when new version has been deployed"
In existing conversations with bots, when a new version of the bot is deployed an error is thrown when the user continues the conversation.

![image](https://user-images.githubusercontent.com/49873947/100464224-86078200-30cd-11eb-8764-3eef5147076c.png)

When this situation happens the bot should have a failback, as uploading a new version is part of continuous improvement and conversations can be

[2020-11-27 16:44] narulasrinivas opened #5008 "LUIS Intent deployment activity not getting updated"
## Describe the bug
I'm using BOT Composer v1.2.1 and created a project with **QnAMakerLUIS** template.

I was able to publish OOB template without any changes.

## Version

BOT Composer v1.2.1
BOT Framework Emulator 4.11.0
![image](https://user-images.githubusercontent.com/2491903/100485013-751f3680-30f6-11eb-9439-f9d4d887449d.png)

## OS

Windows 10

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To

[2020-11-29 02:32] #4988 closed

[2020-11-29 18:46] cwhitten commented on #5004
@zhixzhan @luhan2017 can you please take a look at this?

[2020-11-29 18:47] cwhitten commented on #5007
@cxbuilders transferring to the dotnet project

[2020-11-29 18:52] cwhitten commented on #4995
@GeoffCoxMSFT let's discuss

[2020-11-29 18:53] cwhitten commented on #4987
@GeoffCoxMSFT FYI for you

[2020-11-29 18:56] cwhitten commented on #3656
@garypretty we're taking the linked PR to make this possible, however the long-term approach would be to provide a way to model these functions with schema or extensions to adaptive-expressions.

[2020-11-29 19:10] #4952 closed

[2020-11-29 19:10] #4965 closed

[2020-11-29 19:31] #3656 closed

[2020-11-29 20:47] #2509 closed

[2020-11-29 21:41] EricDahlvang opened #5009 "BeginDialog should allow an expression for the dialog id to begin"
## Is your feature request related to a problem? Please describe.
I would like to provide an expression, or a string, for the dialog to start with BeginDialog.

## Describe the solution you'd like
Three options:
1) choose from dropdown (like now)
2) enter a string (dialog id)
3) enter an expression, from where the dialogId should be retrieved

## Additional context

BeginDialog currently has the f

[2020-11-30 01:59] luhan2017 commented on #5003
@saiteja21 you can add another field in your publish profile:

{
   "hostname": "bottested-webapp"
}

The logic is:
if hostname is null or empty, we use "name-environment, otherwise just use hostname.

btw, if you use luis services, use luisResourse to override "name-environment-luis"

[2020-11-30 02:19] #4950 closed

[2020-11-30 02:20] #4970 closed

[2020-11-30 03:07] kdubious commented on #4728
Any updates or thoughts?

[2020-11-30 04:10] hibrenda commented on #5005
Yes. This is by design . No multi-lang support for QnA at this moment.

[2020-11-30 06:46] hibrenda commented on #4974
addressed in #4983

[2020-11-30 06:46] #4974 closed

[2020-11-30 08:57] nitroin commented on #4527
@zidaneymar sorry I forget to provide you the details you requested, but I was unable to repro the 500.31 error with the latest Bot Composer version (1.2.1).

The 429 error, however, still exists.

[2020-11-30 09:39] philip-mc commented on #4613
Any update please?

[2020-11-30 13:29] #4972 closed

[2020-11-30 16:02] CopenhagenJames opened #5013 "Integration with Git"
## Ability to integrate with Source Control

Currently you can manually add to source control.  It would be great to have the product integrate with our source control such as Git.

[2020-11-30 16:53] #3942 closed

[2020-11-30 17:46] #4825 closed

[2020-11-30 18:17] tonyanziano commented on #4851
Hello @stephanbisser ,

I was on vacation during the week of Thanksgiving, but there is an ongoing thread between me and the maintainers of the authentication library and we are trying to debug the issue.

I'll keep you updated.

[2020-11-30 18:32] cwhitten commented on #5005
cc @vivekkshankar - for R12 planning let's check in on the rev of multi-language authoring you've been looking into for QnA.

[2020-11-30 19:07] GeoffCoxMSFT opened #5014 "Invalid expressions cause trigger grouping to fail"
## Describe the bug

If an expression is invalid, then the trigger grouping in the project tree will 'crash' the app as the expression parser will throw.

## Version

main branch
2020-11-30

## Browser

- [ ] Electron distribution
- [X] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

1. Generate form dialog
2. Update condition on trigge

[2020-11-30 19:38] hcyang commented on #4826
@cwhitten, please assign some dev to work on it?

[2020-11-30 19:41] hcyang commented on #4822
@boydc2014, can you take a look and comment?

[2020-11-30 19:52] hcyang commented on #4156
@garypretty, can you respond to @BeheraMadan's latest update? Thanks.

[2020-11-30 20:13] dmvtech commented on #4587
That should work. It works for me in MS Teams. Does it not even work in a simple send activity? Can you share more about your dialog and how you are using it?

[2020-11-30 20:48] #3728 closed

[2020-11-30 21:15] tonyanziano commented on #4999
Hi @godwin3737 ,

I can't seem to reproduce this issue on my machine.

Can you do me a favor and run Composer in debug mode so that we can hopefully get more detailed output about the error?

1. Navigate to where Composer is installed on your machine. (For me this is `C:\Users\tonya\AppData\Local\Programs\Bot Framework Composer`)
2. Open a cmd prompt or some sort of terminal window at this locatio

[2020-11-30 21:47] hatpick opened #5019 "Export to zip is missing files and folders"
## Describe the bug

When bot is exported to zip, recognizers, form-dialogs, scripts, bot project file and a README.md are missing.

## Version

Latest on main branch.

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [X] Edge

## OS

- [ ] macOS
- [X] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Open bot project.
2. Go to Design Page

[2020-11-30 22:35] #5019 closed

[2020-11-30 22:49] Afranzio commented on #3422
Hello!! I'm new to Bot Composer,
I need to pass an API response to the adaptive card and return to in table structure.

Used API: https://jsonplaceholder.typicode.com/users
Adaptive card json:
 {
    "type": "AdaptiveCard",
    "body": [
        {
            "type": "Container",
            "spacing": "Large",
            "style": "emphasis",
            "items": [
                {

[2020-11-30 22:51] pavolum opened #5023 "Clean up unused VA Creation wizard"
## Describe the bug

Remove VA creation template and UI plugin and all references to this code

[2020-11-30 22:54] benbrown opened #5025 "creation: introduce npm-feed backed template selection"
This will begin the work on the new "enhanced bot creation experience" that will bring a new set of templates and a new process for scaffolding projects during creation.

Preliminary work:
- [x] Create a clone of the current create flow component
- [x] Introduce a new feature flag to gate access to the new version of the create flow
- [x] If the new create flag is enabled, when a user clicks the "

[2020-11-30 23:15] benbrown opened #5026 "creation: introduce ability to create from npm-hosted package"
Building on #5025, we will introduce the ability to create a new project based on a template sourced from NPM:

- [x] Update the createprojectv2 endpoint to fetch the package contents from npm
- [x] We should cache this content somewhere. Like in the composer data folder I think. Only download if not present in the cache.
- [x] Create a new project using the package content as the source. This sho

[2020-11-30 23:18] cwhitten commented on #4826
@luhan2017 can you look into this and route appropriately?

[2020-12-01 00:18] dmvtech opened #5027 "In CosmosDB settings, collectionId should be containerId"
## Describe the bug

Using the following settings:

[code]

I get the following error:

[code]
But by changing it to:
[code]
It runs successfully.

## Version

1.2.1

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Configure Composer bot with CosmosDB set

[2020-12-01 01:02] zxyanliu opened #5028 "[Suggestion] Make custom functions wording consistent"
## Describe the bug

![MicrosoftTeams-image (19)](https://user-images.githubusercontent.com/32497439/100683336-037cfd80-332d-11eb-95cc-f565504ed3f0.png)

![image](https://user-images.githubusercontent.com/32497439/100683356-0d066580-332d-11eb-84da-60be742b5807.png)

main/windows/chrome

## Expected behavior

Change "customizedFunctions" in the **Settings** page to "customFunctions".

## Reasons
[M

[2020-12-01 01:09] dmvtech commented on #4875
Hi @KoradaRajesh My apologies. I was trying to get a v1.0.2 version running, but haven't been able to complete that yet. I tried opening with 1.2.1, and they don't open in that. Anyhow, I'm trying to see if this is possible with 1.2.1 and we can see if it will work for you. I'm working on it and will update you with progress.

[2020-12-01 01:34] #3893 closed

[2020-12-01 01:49] Danieladu commented on #4822
The comments can be defined everywhere, it is hard to decide which template the comments belong to.
For example:
[code]

[code]

[code]

[code]

The current policy is to treat the template name as the start of the template, and all the contents before the next template as the "whole" body of the current template.
We suggest you put the comments under the template name, that may help.

[2020-12-01 02:13] hcyang commented on #4822
@cxbuilders, please try @Danieladu's suggestion. If no objection, this issue can be closed.

[2020-12-01 05:31] godwin3737 commented on #4999
@tonyanziano Posting the logs below, however have skipped the electron environment details , if you need that please share you email id and will send it over there.

`2020-12-01T05:22:59.014Z composer:electron production environment detected.
2020-12-01T05:22:59.019Z composer:electron Run completed
2020-12-01T05:22:59.270Z composer:electron App ready
2020-12-01T05:22:59.270Z composer:electron Load

[2020-12-01 06:01] philip-mc commented on #4847
Ok thanks for the info, Ill see how we get on with the new bot.

[2020-12-01 06:09] boydc2014 commented on #4613
@philip-mc if i understand correct, you want to build a dynamic carousel based on an array in the memory, right? I'm working on an example of that, and will give you a concrete example of how to do that today.

I want to explain some underlyings first, actually, even if you can concat the string correctly, you won't be able to render the correct carousael. Because, in line 20 below, what the `atta

[2020-12-01 06:53] Danieladu commented on #4613
you can use such a LG file to achive your requirements:
[code]

[2020-12-01 07:04] cxbuilders commented on #4822
@hcyang but they are comments.. one would expect those to be only visible in the code view and just completely ignored in the tabular view??

[2020-12-01 07:31] hcyang commented on #4822
Hi @cwhitten, @Danieladu, @zhixzhan, and @boydc2014,

Please address @cxbuilders' concern and lead to a conclusion, either create a work item stripping the comments or treat lg comments as designed (per @Danieladu's workaround suggestion).

https://github.com/microsoft/BotFramework-Composer/issues/4996

[2020-12-01 08:16] luhan2017 commented on #4826
@peterbozso We can separate this issue into two parts:
1. Composer should not show Test in Emulator if the bot not started successfully, we had a fix on this recently, and I tried on your bot you will get such error now, will this meet your requirement?
![image](https://user-images.githubusercontent.com/32191031/100712035-122ae980-33ed-11eb-8d09-7724932db01a.png)

2. @feich-ms @Danieladu to confir

[2020-12-01 08:21] Laxmi30 commented on #4587
Please find below,
![image](https://user-images.githubusercontent.com/46951085/100714764-38945900-33dc-11eb-9e0a-3c0f224586aa.png)

And also the bot is not getting published as expected.
Could you please help me?

[2020-12-01 08:48] luhan2017 commented on #4828
@ivo-ranj , is this still an issue for you? could you work around this by ignoring the exception?

[2020-12-01 09:07] luhan2017 commented on #4527
@nitroin sorry for the late response, could you please paste the publish log here when you see 429 error?

Just select the publish item and click see log
![image](https://user-images.githubusercontent.com/32191031/100719458-a39f5900-33f7-11eb-8cc4-9f718ec5b00b.png)

[2020-12-01 11:07] peterbozso commented on #4826
@luhan2017 I've just tried with a fresh install of 1.2.1, but unfortunately the error message display behavior is still the same. Should I try with a nightly version instead? In which commit was this issue fixed exactly?

Regarding the looping itself, I agree, that's a separate thing from this one and should be tracked separately. I am sorry for not creating another issue for that.

[2020-12-01 12:28] #5028 closed

[2020-12-01 13:33] saiteja21 commented on #5003
@luhan2017  Thank you this could resolve the issue, I have not tested it yet. But your explanation helps and makes sense.

[2020-12-01 15:20] lauren-mills opened #5033 "Indicate trigger type in the navigation pane"
## Is your feature request related to a problem? Please describe.

When I create multiple triggers on a dialog of different types, there is no way to tell the different types apart without clicking on them.

For instance, if I create an OnIntent trigger and an OnEvent trigger they visually look exactly the same.

## Describe the solution you'd like
It would be nice if the default name of the actio

[2020-12-01 17:19] dmvtech commented on #4946
Hi @happybithj Are you still having this issue? Do you see any activity through ngrok when the skill activity is being executed in the consumer/root/composer bot?

[2020-12-01 17:32] benbrown opened #5034 "After installing a component, Composer has to reload before the imported dialogs will work in the runtime"
## Describe the bug

It appears that extra steps are required to fully import and utilize the imported dialogs -- and that these steps currently only happen during the project opening phase.

## Version

current `main`

## To Reproduce

1. install a component
2. connect it to your root dialog
3. start the bot and trigger the newly imported dialog
4. you will get an error in emulator about an inval

[2020-12-01 17:37] tonyanziano commented on #4999
@godwin3737 thanks for the logs!

It looks like there is no error output on the main side of things, so I think your original intuition about some sort of `require` call slipping into the client side of things is correct.

Can you repro this and then open the dev tools? (Ctrl + Shift + I) Do you see any error output in the console that looks to be related to the error?

[2020-12-01 17:42] cwhitten commented on #5033
@vivekkshankar can you look at this? do you have existing UI in the updated project tree to emphasize what @lauren-mills is looking for?

[2020-12-01 17:43] cwhitten commented on #5027
@luhan2017 can you comment here? Maybe we're working against a new CosmosDB shape? We want to protect backwards compat.

[2020-12-01 17:45] cwhitten commented on #5013
Hello @CopenhagenJames. We're happy to take this as a feature request to add to the backlog. What do you refer to as "source"? Dialog assets (lu, lg, dialog)? Runtime code? What type of a git experience are you looking for?

[2020-12-01 17:50] cwhitten commented on #5003
@saiteja21 I'll close this as a how-to question. Please create a new issue if you are seeing errors

[2020-12-01 17:52] tonyanziano commented on #4994
@jwiley84 just making sure this is on your radar. Please provide an update if possible.

[2020-12-01 17:54] tonyanziano commented on #4936
@jwiley84 making sure this is on your radar. Please provide an update if possible.

[2020-12-01 17:58] tonyanziano commented on #4818
@cxbuilders have you tried Eric's approach?

@GeoffCoxMSFT do you want to take Steve's suggestion and move this to the SDK repo?

[2020-12-01 18:03] tonyanziano commented on #4528
@zxyanliu is this still in progress / is it confirmed for the R12 release?

[2020-12-01 18:09] zxyanliu commented on #4528
@tonyanziano It is in progress but I do not have enough context/materials to document at this point.
@cwhitten I think you said it is an R12 work item of docs, right?

[2020-12-01 18:10] CopenhagenJames commented on #5013
For the GitHub experience it would be nice to be able to add the project to GitHub along with any supporting files that are required to successfully publish and run the project.

As it sits now, one has to manually checkout and check-in the entire folder’s contents to ensure all files are source controlled.

To have a menu option like Visual Studio to add project or solution to source control woul

[2020-12-01 18:13] GeoffCoxMSFT opened #5035 "Remove the Monaco editor smart scroll bar for small property fields"
## Is your feature request related to a problem? Please describe.

The Monaco editor used for LG/LU/etc. inputs has a smart scroll ability that can show a preview of the text and error/modification/selection indicators in within the scroll bar.  Very useful when in a full screen editing of a lot of text, but near useless in small input fields.

## Describe the solution you'd like

Remove smart scr

[2020-12-01 18:17] cxbuilders commented on #4818
@tonyanziano as described I have a workaround. Also as I think is clear in thia thread, this is a bug.

[2020-12-01 18:40] #5014 closed

[2020-12-01 19:35] dmvtech commented on #4587
Hi @Laxmi30 My apologies! If you are doing that in the Greeting, that is a ConversationUpdate activity. And in **MS Teams**, this _only ever gets fired once_ for every user. See more info here:

- https://stackoverflow.com/a/55525014/13991249
- https://stackoverflow.com/a/64174799/13991249

You can easily test that that string interpolation/expression works is in another dialog (say in unknown int

[2020-12-01 19:41] dmvtech commented on #5008
Hi @narulasrinivas

Can you confirm that you are using your LUIS **authoring** key and matches this section from Azure portal?:
![image](https://user-images.githubusercontent.com/43397658/100788465-f4985880-33c9-11eb-91e5-cd49cd90d366.png)

Also; have you configured any of the settings for LUIS in bot settings yet?:

![image](https://user-images.githubusercontent.com/43397658/100788332-c87cd780-33

[2020-12-01 22:03] lopejum opened #5038 "How to configure Composer to publish LUIS recognizer in Spanish"
## Describe the bug
Composer always publishes the LUIS recognizer into LUIS web app with "en-us" culture. So, I can not change the language.

I would like to create a new dialog and use my LUIS recognizer in Spanish, from my Composer framework

## Version

Bot Framework Composer - Desktop

                Version:  1.2.1
                Electron: 8.2.4
                Chrome: 80.0.3987.165

[2020-12-01 22:41] dmvtech commented on #4613
Thank you @Danieladu and @boydc2014.

I was able to implement this myself successfully. I was trying to do the foreach with actions, but this approach is a lot more clean.

@philip-mc Please let us know if this works for you or if you have any further questions.

[2020-12-01 23:03] hatpick commented on #4996
What do you think @chrimc62

[2020-12-02 00:08] beyackle opened #5040 "Using Composer in other languages can lead to crashing"
## Describe the bug

Changing the Application Settings to some other languages will cause Composer to fail to load (e.g. French makes Design View crash).

## Expected behavior

The app should load without crashing in all supported locales.

[2020-12-02 00:39] beyackle opened #5042 "Lots of console warnings about missing translations on load"
## Describe the bug

When Composer starts, we get dozens of warnings in the browser console about translations being missing. We shouldn't see these warnings for a locale ("en") that we don't technically support - there should be a workaround so it gets rerouted to "en-US". Our format-message library defaults to "en" before anything gets initialized, so that might be where this comes from.

## Scr

[2020-12-02 00:40] #4195 closed

[2020-12-02 00:40] #4196 closed

[2020-12-02 00:40] #4197 closed

[2020-12-02 00:49] #5003 closed

[2020-12-02 00:58] dmvtech commented on #4936
Hi @alevinetx Thank you for the feedback. We are looking into this and will update you soon.

[2020-12-02 01:08] srinaath opened #5043 "File persistence currently happening for all bots"
## Describe the bug
https://github.com/microsoft/BotFramework-Composer/blob/main/Composer/packages/client/src/recoilModel/DispatcherWrapper.tsx#L107

Currently we are checking for updates on all projects in the BotProject. We need to be using the currentProjectIdState which needs to be set based on the URL. This could improve our performance slightly

[2020-12-02 01:20] tdurnford commented on #4767
Closed by https://github.com/microsoft/BotFramework-Composer/pull/4864

[2020-12-02 01:20] #4767 closed

[2020-12-02 01:50] srinaath opened #5044 "Support for LUIS name in settings"
## Describe the bug
Provide the user the ability to update the LUIS name. The default name for the setting should be the application name fetched from the recoil state. The user can override this in the settings page.

[2020-12-02 02:23] luhan2017 commented on #4528
This is the PR to resolve this issue, @zxyanliu , please follow the readme for more details.

[2020-12-02 02:38] #4947 closed

[2020-12-02 03:54] luhan2017 commented on #4826
@peterbozso it is not in 1.2.1 yet, you can try the nightly build instead, we will release that in 1.3.  @feich-ms  is help debugging on the object reference to null issue, will update this thread later.

[2020-12-02 04:31] godwin3737 commented on #4999
@tonyanziano - It is working now! The only difference is that i tried opening it outside my organizations' VPN (hence no proxy required) .  Once it loaded fine, i reconnected to VPN and it seems to be working fine there as well. Could it be related ?

[2020-12-02 08:02] #4676 closed

[2020-12-02 09:58] nitroin commented on #4527
Of course, thank you @luhan2017.

See here:

[code]

[2020-12-02 11:05] ivo-ranj commented on #4828
I can work around the issue by ignoring the exception, pressing "continue" in Visual Studio a couple of times.

[2020-12-02 11:12] #4980 closed

[2020-12-02 15:41] Laktos opened #5052 "Bot deployed in teams"
We've set up a bot, deployed it on Kubernetes, which contains our backend and the bot image. We've registered the bot on Azure Portal, and then connected our bot to the Teams client by using the link that was provided on Azure Portal.

The bot is reachable, but doesn't respond as expected. For one person in the team, all commands and buttons seems to work, but only for his desktop client on Window

[2020-12-02 16:41] tonyanziano commented on #4851
Hey @stephanbisser ,

I have been going back and forth with the OneAuth team, and we believe we have found the issue. There was an error in one of our build scripts that was embedding an older version of the authentication library into Composer than what was intended.

We have a fix that resolves this issue and pulls in the updated version which should contain several bug fixes including a fix for

[2020-12-02 17:50] dmvtech commented on #5052
Hi @Laktos This does sound very odd. It makes me want to assume that is due to Kubernetes , but I can't say for sure.

A few questions:

- What state store are you using?
  - Default memory state or have you configured CosmosDB or Blob storage?
- Is this in production or development?
- If prod, do you have the option to create another bot for testing/troubleshooting?

[2020-12-02 18:12] jwiley84 commented on #4876
how are you embedding webchat in your page on chrome?

[2020-12-02 18:39] beyackle opened #5053 "App locales are xx-XX, but bot locales are xx-xx"
## Describe the bug

We have a mismatch in the locale names - the files used for the app language are xx-XX (like en-US or pt-PT), while the files for the locales within bots are xx-xx, with the second part lowercased. The ISO standard is to keep the region abbreviations upper case, so we should change the bot locales to match.

## Additional context

https://www.w3.org/International/articles/lang

[2020-12-02 18:53] #5044 closed

[2020-12-02 19:08] #4840 closed

[2020-12-02 19:12] #5040 closed

[2020-12-02 19:37] mewa1024 opened #5054 "Form dialogs, "help" user utterance triggers both a "Sorry, I do not understand" message and a help message"
## Describe the bug

In a form dialog, when the user says "help", the bot should reply with help for the property the bot just asked for. Instead is it replying first with an "I don't understand" message and then replies with the help message.
## Version

"bot-project" branch, pulled Dec 2

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] mac

[2020-12-02 19:45] selvaduraiece opened #5055 "How to add and consume Feedback middleware in Bot composer"
How to add and consume Feedback middleware in Bot composer. I have used Feedback middleware in BOT Framework. I wanted the same to be used in Composer also. How can I do that?

[2020-12-02 19:47] mewa1024 opened #5056 "Form dialogs: disambiguation does not work"
## Describe the bug

In a form dialog, when the user gives a reply that sounds similar to multiple values, the bot asks the user to clarify. When the user responds with a more specific answer, the bot does not understand.

## Version

"bot-project" branch, pulled Dec 2

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [

[2020-12-02 20:09] mewa1024 opened #5057 "Form dialogs: "skip" is not understood"
## Describe the bug

In a form dialog, when the bot asks for a property, the user should be able to say "skip" to skip to the next step. The bot is not understanding skip in this version.

## Version

"bot-project" branch, pulled Dec 2

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps t

[2020-12-02 20:21] mewa1024 opened #5058 "Form dialogs: "show" is getting confused which property to show"
## Describe the bug

When I ask the bot to "show" a property (for example, "show cheese"), I think it's supposed to show me the value I gave for that property. Right now it is showing the first property and value.

## Version

"bot-project" branch, pulled Dec 2

## Browser

- [ ] Electron distribution
- [x] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

[2020-12-02 20:47] mewa1024 opened #5059 "Form dialog: property to change asks for property name but only understands property values"
## Describe the bug

After the form dialog has collected all the values for the required properties, it shows a card and asks the user if there are any properties they'd like to change. At this point, it only understands property values, not property names. For example, the bot would understand "turkey", but not "meat".

## Version

"bot-project" branch, pulled Dec 2

## Browser

- [ ] Electron di

[2020-12-02 21:00] #5023 closed

[2020-12-02 21:43] mewa1024 commented on #4995
(fyi @sangwoohaan - this is an LG/property pane question, rather form dialog-specific question)

[2020-12-02 21:45] GeoffCoxMSFT commented on #4887
@cwhitten - Does the LU build run every publish?  (We suspect this is the cause of the long publish time).  Who on runtime/publishing should this go to? (I don't think this is a form-dialog specific issue).

[2020-12-02 21:47] sangwoohaan commented on #4995
Interesting angle - I'll count this scenario in the ongoing LG redesign works

[2020-12-02 23:21] #4842 closed

[2020-12-02 23:21] #4954 closed

[2020-12-02 23:21] #4987 closed

[2020-12-02 23:29] LouisEugeneMSFT commented on #5035
[By design] It matches user's settings:

![image](https://user-images.githubusercontent.com/66701106/100943947-14577b80-34b3-11eb-881b-05b23216913e.png)

[2020-12-02 23:29] #5035 closed

[2020-12-03 00:06] #4955 closed

[2020-12-03 00:40] #3696 closed

[2020-12-03 00:41] #4975 closed

[2020-12-03 02:11] taicchoumsft opened #5067 "Orchestrator: Composer hangs on Splash Screen (Windows)"
## Describe the bug
Orchestrator requires several native dependencies.  On Windows, we require Visual Studio with the C++ workload installed, or the Visual Studio 2015-2019 redistributable (found [here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)

Without this dependency, Composer hangs with a cryptic message that is neither descriptive or helpful:
![i

[2020-12-03 09:17] cxbuilders opened #5071 "formatDateTime not allowed with extra locale settings"
In the [adaptive expressions documentation](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#formatDateTime) it shows that formatDateTime can accept an additional locale parameter:
![image](https://user-images.githubusercontent.com/49873947/100988865-787c4d00-3550-11eb-8786-1a8d8a1b36ca.png)

The validation i

[2020-12-03 09:17] cxbuilders opened #5595 "formatDateTime not allowed with extra locale settings"
In the [adaptive expressions documentation](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions?view=azure-bot-service-4.0#formatDateTime) it shows that formatDateTime can accept an additional locale parameter:
![image](https://user-images.githubusercontent.com/49873947/100988865-787c4d00-3550-11eb-8786-1a8d8a1b36ca.png)

The validation i

[2020-12-03 09:38] Laktos commented on #5052
We have default memory state, we assume, since we haven't made any changes there. We noticed that there's a trial for cosmos db which we could try to see if that works better. We're reverting back to working commits of the bot, and trying baby-steps to see what seems to break the bot.
The bot is in production, but we don't have the resources to create another bot for testing. But I guess you could

[2020-12-03 10:11] stephanbisser commented on #4851
@tonyanziano great news thanks! looking forward!

[2020-12-03 10:17] gbelenky opened #5073 "Cannot start Composer 1.2.1 desktop version"
## Describe the bug

Cannot start Composer

## Version
BotFramework-Composer-1.2.1-windows-setup.exe

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

Start Composer and see the frozen Welcome screen
![Screenshot 2020-12-03 110021](https://user-images.githubu

[2020-12-03 10:32] zidaneymar commented on #5027
Yes it's actually a bug of cosmosdb configuration, collection id is deprecated. I will fix this.

[2020-12-03 16:49] Markyboy944 opened #5076 ""Create New Knowledgebase" wont allow browsing to upload a local file"
The "Knowledge Source" field says "Enter a URL or browse to upload a file" - but there is no way to browse.

![image](https://user-images.githubusercontent.com/5471850/101060410-4b975c80-3587-11eb-9ed6-149eced9e078.png)

[2020-12-03 17:00] feich-ms commented on #4826
After deep investigation, we found there is a minor bug in composer SDK runtime that caused the loop detection failed when loading loop dialogs. The short term fix in composer side is one line code change here https://github.com/microsoft/BotFramework-Composer/pull/5077. The long term fix should be in SDK side. I created an issue in SDK side https://github.com/microsoft/botbuilder-dotnet/issues/50

[2020-12-03 17:26] dmvtech commented on #5055
Hi @selvaduraiece

The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2020-12-03 17:26] #5055 closed

[2020-12-03 17:26] dmvtech commented on #5055
There are only two out-of-box Middleware that are usable with Composer.
[code]

To use any others, you will need to [export the runtime](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#export-runtime), then modify the runtime to [use that middleware](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-middleware?view=azure-bot-service-4.0).

You can of course

[2020-12-03 17:32] dmvtech commented on #5052
Thanks! Yes, memory state is great for development, [but is horrible for production](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-state?view=azure-bot-service-4.0#storage-layer). This would completely explains erratic behavior like you are seeing.

Cosmos works well, and there is also a new server less Cosmos, but beware; that is in preview (additionally, you'll need to m

[2020-12-03 17:37] dmvtech commented on #4946
I am closing this due to inactivity. If you are still having issues, please comment or reopen.

[2020-12-03 17:37] #4946 closed

[2020-12-03 17:37] cwhitten commented on #5073
tagging https://github.com/microsoft/BotFramework-Composer/pull/5068 to see if this is related at all

[2020-12-03 17:38] cwhitten commented on #5071
@cosmicshuai @lei9444 can either of you comment?

[2020-12-03 17:43] cwhitten commented on #5076
hi @Markyboy944 - this is a bug in the placeholder text. We don't yet support local file uploads for this scenario. cc @hibrenda @luhan2017

[2020-12-03 17:50] stevkan commented on #5038
@lopejum, can you list the steps you took so I can accurately attempt to reproduce? In the mean time, I’ll look closer at this.

[2020-12-03 18:26] lopejum commented on #5038
Hi, @stevkan

1. Launch Composer (both, Desktop version or web composer )
2. Create a simple dialog
3. Use LUIS as recognizer
4. Fill-in with my LUIS auth-token when it prompts (my LUIS auth is located in Westeurope). I will use the "es-es" culture
5. Everytime I exec "Start Bot", when it updates the intents in LUIS web app, it appears with "en-us" always.

So, can I execute my Spanish bot from Co

[2020-12-03 18:44] selvaduraiece commented on #5055
I am already using the "export the runtime" for other use. But not sure how to integrate the Feedback middleware. Is there any sample. I didn't see any documents relegated to that

[2020-12-03 19:00] hatpick opened #5080 "When LUIS region is not set, there is no error and publishing fails"
## Describe the bug

When LUIS region is not set, there is no warning/errors and publishing was enabled, so I published and it failed because the requests were sent to incomplete url: ".api.cognitive....", notice how the url starts with a . because the region is an empty text.

## Version

Latest on main branch.

## Browser

All

## OS

All

## To Reproduce

Steps to reproduce the behavior:

1. Op

[2020-12-03 19:14] stevkan commented on #4926
@BeheraMadan, apologies for the delay and thank you for your patience. I should have an update for you shortly and will keep you updated.

[2020-12-03 19:19] srinaath commented on #5080
@liweitian it looks like we used to auto populate west us. Now, that has been removed and i think we need a check to stop starting bots that dont have the LUIS region just like how we have on the keys.

[2020-12-03 19:37] hatpick opened #5081 "UX: Header language button affordance"
## Describe the bug

The "button" is lacking the affordance to cue that it's clickable.

(it also has css issues, I think the text is too big for the container and it's not aligned)

## Version
Latest on main.

## Screenshots
![Screen Shot 2020-12-03 at 10 48 47 AM](https://user-images.githubusercontent.com/1483492/101078670-53410c00-355b-11eb-93e3-0177e381a080.png)

## Proposed solution
I don't k

[2020-12-03 20:18] venegasmi commented on #4816
Hello, I'm having this exact issue when restarting the dialog as well.

I have tried the actions suggested in this thread but none have solved the problem yet.
Once it goes through 2 cycles, I get an error: Value cannot be null (Parameter 'dialogId')

Is there any fix for this yet?

[2020-12-03 20:30] srinaath opened #5082 "Allow skill manifest creation for the root bot"
## Describe the bug

It looks like we cannot add/create a manifest for a root bot. We should give the ability to add a manifest on a root bot as it could be published as a skill on its own.

![Screen Shot 2020-12-03 at 12 28 13 PM](https://user-images.githubusercontent.com/13004779/101084719-3a3c5900-3563-11eb-86ac-74d953cd81ec.png)

[2020-12-03 20:30] #5067 closed

[2020-12-03 20:31] srinaath opened #5083 "Remove skill manifest warning for Root bot inside diagnostics page"
## Describe the bug

It looks like we removed the skill manifest warning for the root bot in the Design page but the diagnostics page still seems to show the warning. This needs to be removed.
 

![](https://user-images.githubusercontent.com/13004779/101084959-956e4b80-3563-11eb-8362-b1f33c3c8a97.png)

[2020-12-03 20:47] scheyal opened #5084 "Need guidance for debuggability support"
I hit this error (see image). I know my network is good (you can see I'm in teams chat). The solution used to work.
It may be related to large LUIS model (just a suspicion) but I don' t know for sure.

* **The bug is**: Need guidance for debuggging and more detailed error messages that can lead to corrective action.
* In this specific case I tried multiple times, restarted the app but it didn't he

[2020-12-03 20:54] scheyal commented on #5084
FYI, once I shrunk my LU file, it started working again. (though issue is around debugging/messaging)

[2020-12-03 21:15] negativeeddy commented on #5008
I had the same issue when adding intents to an empty bot. My keys in the Composer's Bot Settings UI were correct (even after restarting composer), but when I looked at the file [bot]/settings/appsettings.json  it was missing the keys.

I can set the keys manually in the file (and the bot works!), but if I change any of bot settings in the UI, they keys disappear from the file again.

[2020-12-03 21:41] hatpick opened #5085 "PackageManager eject runtime navigates to old address"
## Describe the bug

Adding components from package manager requires an ejected runtime, the button that shows up if the runtime is not ejected to navigate to settings is going to the old address.

## Version

Latest on main.

## Browser

All

## OS

All

## To Reproduce

Steps to reproduce the behavior:

1. Make sure the package manager feature flag is enabled.
2. Navigate to package manager and

[2020-12-03 21:48] scheyal opened #5086 "Loss of data due to cutting (for pasting) of switch area"
## Describe the bug
* Working small bot - need to change logic slightly
* Small bot with a few dialogs.
* Cut a region to paste elsewhere with switch case, 2 dialog invokes, welcome message
* Screen turns blank, loss of work. Need to restart. See image.

![image](https://user-images.githubusercontent.com/8867670/101092132-031f7500-356e-11eb-93b8-fd451d26f99d.png)

## Version
1.1.1-nightly

## Brow

[2020-12-03 21:50] scheyal commented on #5086
Debug info:

![image](https://user-images.githubusercontent.com/8867670/101092388-6f9a7400-356e-11eb-8ea5-b85403836812.png)

[2020-12-03 21:57] zxyanliu opened #5087 ""Orchestrator Recognizer" case issue"
## Describe the bug

**Orchestrator Recognizer** is not consistent with the casing rules of the other recognizers.

![image](https://user-images.githubusercontent.com/32497439/101092638-d029b100-356e-11eb-8665-a48b12a56106.png)

## Version

main branch as of December 3, 2020

## Browser

- [x] Chrome

## OS

- [x] Windows

## To Reproduce

Steps to reproduce the behavior:

1. Enable "Orchestrator"

[2020-12-03 22:46] cwhitten commented on #5086
@scheyal is there a reason you're on a 1.1.x nightly and not the latest nightly?

[2020-12-03 23:05] dmvtech commented on #5055
Hi @selvaduraiece

First, this will **_definitely_** be a lot more more work than using a Feedback dialog and then just adding that where appropriate
in your bot. This is the power of adaptive and declarative dialogs. If you need to have custom code for your feedback mechanism, you can create a [custom action](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action), adapt that to use y

[2020-12-03 23:42] benbrown commented on #5034
@lei9444 @srinaath --

I have created a draft PR that adds a `lastReloadedFromServer` member to the projectMetaData state, and verified that this DOES cause the Recognizers's method to fire... which SHOULD generate the new dialogs.  However it is not clear to me why the recognizer files are still not being written.

I would appreciate some further assistance on this!

https://github.com/microsoft/

[2020-12-03 23:56] EricDahlvang commented on #5009
Note:
https://github.com/microsoft/botbuilder-dotnet/pull/4880

[2020-12-03 23:56] #4765 closed

[2020-12-04 00:39] scheyal commented on #5086
Yes - Used Tai's build for Orchestrator.

See also -  https://microsoft-my.sharepoint-df.com/:v:/p/eyals/EXkJaGfFT9hKulRK0SjYuuIBggtSbHISDPWtx24yvp63DQ?e=yndbEp

[2020-12-04 01:05] scheyal commented on #5086
Will try to repro with latest build in bugbash.

[2020-12-04 01:08] #5042 closed

[2020-12-04 02:50] srinaath opened #5094 "Composer frozen while navigating using the Left nav"
## Describe the bug

## Version
Current main

## Browser

- Electron distribution
- Chrome
-  Safari
- Firefox
- Edge

## OS
All OS's

## To Reproduce

![stuck-composer](https://user-images.githubusercontent.com/13004779/101115490-4ee71400-3598-11eb-8baa-2cbf136bbe77.gif)

Steps to reproduce the behavior:

1. Open a new bot
2. Navigate to the Package manager. While its loading quickly navigate to

[2020-12-04 02:56] taicchoumsft opened #5095 "Orchestrator: Composer hangs on Splash Screen (Mac)"
This is the same issue as #5067 , Composer will hang on the splash screen if the `icu4c` dependency is not installed.

A fix for this is in progress on the Orchestrator side.

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [x] macOS
- [ ] Windows
- [ ] Ubuntu

[2020-12-04 04:18] boydc2014 commented on #4815
Do we know any other channels support this?

[2020-12-04 04:44] boydc2014 commented on #5073
No, this is is not related to the orchestrator, but to the md5 package.

[2020-12-04 04:51] #4601 closed

[2020-12-04 06:45] #5043 closed

[2020-12-04 06:46] boydc2014 commented on #5043
Close this based on the discussion on platform chat.

Our gain is to save a few equality checks, our risk is potential data loss, really not balanced here.

[2020-12-04 06:54] feich-ms commented on #5073
Hi @gbelenky, could you try to use cmd to open your installed composer that has such issue. Follow below steps:
1. Open cmd and go to your composer installed folder. Usually the folder locates here if you don't change it C:\Users\{your user name}\AppData\Local\Programs\Bot Framework Composer.
2. In cmd, type `"Bot Framework Composer.exe"` to launch composer
3. You will see the exception in the cmd

[2020-12-04 07:40] boydc2014 opened #5099 "ToDoLuisSample's can't start if clicked help dialog"
## Describe the bug
ToDoLuisSample bot can't start if **i every clicked help dialog**

![image](https://user-images.githubusercontent.com/3829387/101135389-b196e900-3646-11eb-8450-b9c04ea86eb7.png)

## Version

Latest main.

## Browser

- [ ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce

[2020-12-04 08:37] boydc2014 opened #5102 "Form not showing as preview feature"
## Describe the bug

![image](https://user-images.githubusercontent.com/3829387/101141170-dee79500-364e-11eb-8e12-d97c702be60d.png)

## Version

Latest main. You can see from the title bar.

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. C

[2020-12-04 08:38] #5082 closed

[2020-12-04 08:38] #5083 closed

[2020-12-04 08:52] gbelenky commented on #5073
adding screenshot
![composerstart](https://user-images.githubusercontent.com/26817885/101142743-4e8d5e00-3616-11eb-81c1-d4e956ed0e50.jpg)
 and log `C:\Program Files\Bot Framework Composer>
(electron) The default value of app.allowRendererProcessReuse is deprecated, it is currently "false".  It will change to be "true" in Electron 9.  For more information please check https://github.com/electron/el

[2020-12-04 09:10] feich-ms commented on #5073
@gbelenky thanks for the message. Are these all the messages the exception throws? Can we get more logs?
Besides, could you try to reinstall the 1.2.1 composer downloaded from here https://github.com/microsoft/BotFramework-Composer/releases/tag/v1.2.1 to see if it works. I installed this version and all work as exptected.

[2020-12-04 09:13] Markyboy944 opened #5104 "QnA pairs are being duplicated in the QnA knowledge base"
QnA pairs are being duplicated in the QnA knowledge base (Composer V 1.2.1)

Windows 10 os

Steps to reproduce the behavior:

Add a question/answer pair in the composer
Go to 'Restart bot'
Go to QnA maker (in cloud) to see knowledge base
Click on knowledge base
There are 2 instance of each pair rather than 1 instance or each pair
![image](https://user-images.githubusercontent.com/5471850/101144865

[2020-12-04 09:19] hatpick commented on #5102
@boydc2014 That's because the previous release had this feature flag as hidden and it's persisted under your: %APPDATA%\BotFrameworkComposer\data.json file.

We need to reset the flags to default settings.

[2020-12-04 11:08] gbelenky commented on #5073
@feich-ms -  yes, that's it. I just re-installed the Composer. The same experience
![composerstart2](https://user-images.githubusercontent.com/26817885/101156747-586c8c80-3629-11eb-8727-26af7c16edc9.jpg)

[2020-12-04 11:11] gbelenky commented on #5073
@feich-ms - how can I get more verbose logging data?

[2020-12-04 11:32] darrenj opened #5105 "Turn state not transient across turns?"
## Describe the bug

A common scenario for bot developers is that of providing a menu to users, when a conversation starts a menu of options is provided to guide the user. Once an option is chosen a child dialog is "begun" and when this terminates you repeat the parent (menu dialog)

Given the turn nature of this, leveraging _turn_ state for the menu choice (ChoiceInput) makes sense as this to my

[2020-12-04 11:44] garypretty commented on #5105
@EricDahlvang can you cast your eye over this.  I suspect the reason the above is an issue is because the child dialog isn't prompting and therefore the turn state, probably correctly, isn't cleared out because the turn doesn't finish until all messages are sent.  If the child dialog prompts for something, then I think the above starts to work.  I will try and validate.

[2020-12-04 11:48] darrenj commented on #5105
I've reproed and having the Child Dialog prompt does indeed resolved the issue. Now, whilst this is a contrived/sample scenario it's  not unreasonable to have a child dialog be "one way", fetch some information show it and go back to the root triggering this issue.

The definition of a turn is interesting, the turn starts with me saying "option 1" and all subsequent communication is from bot->user

[2020-12-04 11:51] #5095 closed

[2020-12-04 12:09] Markyboy944 commented on #5076
Ah - ok thanks Chris @cwhitten

[2020-12-04 12:35] #5080 closed

[2020-12-04 12:53] Laktos opened #5106 "Custom Action Object reference not set to an instance of an object"
## Describe the bug
I'm getting "Object reference not set to an instance of an object" whenever using a custom action. MultiplyDialog, the given example, doesn't work either. It has worked before, with the custom actions that I have made, but now none is working.

## Version

Release: 1.2.1

## Browser

- [X ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] m

[2020-12-04 13:10] Laktos opened #5107 "Grouping Dialogs"
## Is your feature request related to a problem? Please describe.

We have 30 dialogs and even more triggers, which are related to different kinds of conversation flows. A lot of these aren't related to each other, but we still end up looking through the list to find our dialogs when we go between them to write references etc.

Another problem, somewhat related is that we have to copy the code of

[2020-12-04 13:43] #5099 closed

[2020-12-04 13:49] luhan2017 opened #5108 "Azure publish fail"
## Describe the bug

1. when publish echo bot, it still goes through the luis publish process, which causes some errors as blow:
C:\BotFramework-Composer\Composer\packages\client\src\pages\botProject\PublishTargets.tsx
[tsl] ERROR in C:\BotFramework-Composer\Composer\packages\client\src\pages\botProject\PublishTargets.tsx(238,9)
      TS2322: Type 'string' is not assignable to type 'number | undef

[2020-12-04 14:33] cwhitten commented on #5102
I'm looking at this. What I have working in the fix is to allow the `isHidden` default value to override the current value and persist into data.json.

[2020-12-04 15:15] #5108 closed

[2020-12-04 15:16] feich-ms commented on #5073
@boydc2014 @cwhitten do you have more insights about how to get more logs?

[2020-12-04 15:18] cwhitten commented on #5073
@gbelenky @feich-ms

in the shell, set the following environment variable:

`DEBUG=composer*`

On windows this should be: `SET DEBUG=composer*`

[2020-12-04 15:38] gbelenky commented on #5073
this is what I see (skipping my env variables)
2020-12-04T15:33:49.444Z composer:electron production environment detected.
2020-12-04T15:33:49.454Z composer:electron Run completed
2020-12-04T15:33:49.505Z composer:electron App ready
2020-12-04T15:33:49.505Z composer:electron Loading latest known locale
2020-12-04T15:33:49.510Z composer:electron:electron-window Raw screen dimensions: 1040 x 1920
20

[2020-12-04 16:27] #4360 closed

[2020-12-04 16:27] #4551 closed

[2020-12-04 16:37] tannguyen3 opened #5111 "Carousel card layout does not work with foreach function"
## Describe the bug
I'm trying to display a Carousel cards for my api result. the result is an array. So I tried to use below code to do so.
But it seems Carousel card layout does not work with foreach function see the TestAdaptiveCard2.
It does work with normal array object.
Please help.

## Version

Bot Composer 1.2.1

## To Reproduce
This is bot response in lg file:
[code]
[code]

[2020-12-04 17:31] #5034 closed

[2020-12-04 17:39] dmvtech commented on #4613
I'm closing this as resolved. @philip-mc Please let us know if you have any further questions or need clarification.

[2020-12-04 17:39] #4613 closed

[2020-12-04 17:40] benbrown commented on #4690
Fixed in #4221

[2020-12-04 18:12] scheyal opened #5112 "[R11 Bugbash] Fix Orchestrator feature text"
Change text for Orchestrator feature per design XLS doc (Kamran, Tai).

Text: Recognize an intent, and take action or route  to a skill, LUIS app, or QnAMaker KB

[2020-12-04 18:13] scheyal commented on #5086
No repro in bugbash bits.

[2020-12-04 18:13] #5086 closed

[2020-12-04 18:26] tsuwandy opened #5114 "Restart Composer automatically or prompt for restart when 'Early Adopters' in Application Settings is selected"
## Is your feature request related to a problem? Please describe.
Not sure what's the expected behavior after enabling Early Adopters or the Preview Features.

## Describe the solution you'd like
Perhaps, some message to tell user to restart Composer?

## Describe alternatives you've considered

## Additional context

[2020-12-04 18:30] scheyal opened #5115 "[R11 Bugbash] UI for single bot: Launch emulator with top menu single click"
Proposal: Have the launch emulator button for single bot solutions right up in the front.
With earlier versions the "start emulator" button was right there. Now it is 2 clicks away. The earlier experience for single bot solution was better (not two hops away). Also, if we assume that most bot solutions would be a single bot in composer this would be the main path (something we don't know yet, but

[2020-12-04 19:25] GeoffCoxMSFT opened #5117 "Add telemetry calls to record preview feature toggles"
## Is your feature request related to a problem? No

## Describe the solution you'd like

We need to capture how many users are turning on/off preview features in composer.
Would like to add a TelemetryClient.log call for 1.3

[2020-12-04 19:26] GeoffCoxMSFT opened #5118 "Need telemetry when user generates a form dialog"
## Is your feature request related to a problem? No

## Describe the solution you'd like

We need to track how many form dialogs get generated during the 1.3 release to gauge usage.

[2020-12-04 19:55] scheyal commented on #5115
And Restart has now disapeared (again 2 clicks away)?

[2020-12-04 20:25] thomas-chung opened #5121 "[R11 Bugbash] Conversational Core template creation fails with 500 Internal Server Error"
## Describe the bug

When creating a new botproj from the conversational core template, it fails with a 500 internal server error.

## Version

                Bot Framework Composer

                Version:  1.2.1-nightly.191674.827857c
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

## Browser

- [x

[2020-12-04 20:26] benbrown opened #5122 "bug: sample multiplydialog causes an error with the dialog merge required for package manager"
## Describe the bug

When using the Javascript runtime, the package manager fails the "dialog merge" command scans the project for schema files.   This seems to be related to the sample multiply dialog code.

## Version

current main

## To Reproduce

1. Create a new bot
2. Navigate to project settings
3. Enable custom runtime
4. Get a new copy of the runtime. Choose Javascript.
5. Navigate to the

[2020-12-04 20:31] tonyanziano commented on #4851
Hey @stephanbisser ,

Please try out the latest nightly version [available here](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.2.1-nightly.191674.827857c) and let me know if you are still experiencing the issue.

[2020-12-04 20:31] joshgummersall opened #5123 "Backspacing intent name to empty string resets intent name"
## Describe the bug

When trying to rename an intent, if you attempt to press the backspace key to clear the name, when you arrive at the empty string the name is actually reset to the original name.

## Version

<img width="360" alt="Screen Shot 2020-12-04 at 12 28 57 PM" src="https://user-images.githubusercontent.com/1235378/101211609-4a6c3b00-362c-11eb-9d71-80169668a02f.png">

## Browser

- [x]

[2020-12-04 20:45] scheyal opened #5125 "[R11 bugbash] shift selection in property box doesn't work from right to left (only left to right)"
## Repro
* create an object that needs Property filling
* add text to property
* Try to shift-left-arrow select text in the property. --> no selection
* (do the same from left to right and it works)

![image](https://user-images.githubusercontent.com/8867670/101213018-94562080-362e-11eb-8c3c-051f703e8a6c.png)

[2020-12-04 20:49] cwhitten opened #5126 "Orchestrator Recognizer - LU FILE IS EMPTY"
On a fresh bot, I switch to the Orchestrator Recognizer and see:

![Screen Shot 2020-12-04 at 12 48 43 PM](https://user-images.githubusercontent.com/1156704/101213336-147c8600-362f-11eb-9b6f-62dd7726e4b8.png)

[2020-12-04 20:51] mewa1024 opened #5127 "Wording for adding an "existing skill" or "bot"?"
## Describe the bug

In the flow of adding an existing bot as a skill, the wording switches between bot and skill.

## Version

v1.2.1-nightly.191674.827857c

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. From the home page, select New. The modal that a

[2020-12-04 21:00] lauren-mills opened #5128 "Package Manager - "Eject runtime" button at top of the page navigates to wrong window"
## Describe the bug
In a new project, when I go to the Package Manager tab before ejecting the runtime, there is a message and button at the top that prompts me to eject, but it redirects to the wrong page.

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the b

[2020-12-04 21:00] benbrown opened #5129 "bug: first time i use the package manager w/ JS runtime, weird `gyp` error"
## Describe the bug

The first time a component is installed using the package manager into a JS runtime -- *BUT ONLY THE FIRST TIME* -- an error occurs and the process fails.

![Screen Shot 2020-12-04 at 2 56 28 PM](https://user-images.githubusercontent.com/729873/101214159-2535f780-3641-11eb-8da4-d4eabdb8c0d7.png)

## Version

Current main

## To Reproduce

1. Create a new bot
2. Eject the JS ru

[2020-12-04 21:03] mewa1024 opened #5130 "Adding a local bot as a skill shows a warning that seems unnecessary and is not really explained"
## Describe the bug

## Version

v1.2.1-nightly.191674.827857c

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

## To Reproduce

Steps to reproduce the behavior:

1. Create a new bot project.
2. Go to Design tab, "Your project", + and  "Open a local skill"
3. These warning icons appear to te

[2020-12-04 21:04] beyackle opened #5131 "[R11 Bug bash] "Common" links have vanished from the LG page"
## Describe the bug

The LG page is supposed to have links in each bot to a "Common" dialog.

## Version

nightly 827857c

## Browser

- [X ] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Windows
- [X ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a new EmptyBot
2. Navigate to LG page

## Expected behavior

There should b

[2020-12-04 21:08] thomas-chung opened #5132 "When removing skills from project that's referenced, it should either cleanup the skill referenced in appsettings.json or show more meaningful error"
## Description

When removing a connected skill from the bot project, any references in the root or other bot would error out with an error like this at the top level:

_"The skill 'dumbBot0' does not exist in in appsettings.jsonEchoBot-2"_

We can probably streamline this experience a bit by either doing:

1. Cleanup the project of any reference to the skill
2. Show more precisely inside the bot

[2020-12-04 21:08] benbrown opened #5133 "bug? package manager shows core libraries"
## Describe the bug

Package Manager automatically detects any installed package that contains schema files.

As a result, it currently detects and displays the following packages as pre-installed:

`Microsoft.Bot.Builder.AI.Orchestrator` in C#

`botbuilder-ai` and `botbuilder-dialogs-adaptive` in JS

Should these be listed? Should these be hidden? Should we make these impossible to uninstall, as

[2020-12-04 21:12] benbrown commented on #5129
This happens during the installComponent part of the process - before the dialog merge begins.  Seems to be a problem calling npm install.

[2020-12-04 21:15] clearab opened #5134 "Pre-built functions menu + scroll wheel"
## Describe the bug

If you're in a menu in the pre-built functions for writing an expression and you use your mouse scroll wheel, the scroll will reset after a few seconds. This appears to be happening because the item focus is not moving with the scroll, so it bounces back to the last item with focus once you stop scrolling.

## Version

191674.827857c

## Browser

- [c] Electron distribution
-

[2020-12-04 21:18] xiyangdesign opened #5135 "being able to cancel "starting bot""
## Is your feature request related to a problem? Please describe.

The "starting bots" is taking too long. I want to cancel it. see screenshot below.

![Screenshot 2020-12-04 at 13 16 11](https://user-images.githubusercontent.com/74994573/101215673-15171b80-3633-11eb-8cff-58f401d09564.png)

[2020-12-04 21:20] clearab opened #5136 "Delete this bot does not handle skills"
## Describe the bug

I'm uncertain what the correct final behavior is, but if I select "Delete this bot" from the project settings, only the first bot added to the bot project is deleted from disk - the rest remain and no indication is given to the user that this is happening

## Version

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS

[2020-12-04 21:23] benbrown opened #5137 "bug: when ejecting the js runtime, I get a gyp error"
## Describe the bug

During the ejection of the js runtime, it runs npm install and npm build in the background

This causes a gyp error, and something in the process fails.  If running composer with DEBUG=*, you will see:

[code]

## Version

`main`

## Browser

- [x] Chrome

## OS

- [x] macOS

## To Reproduce

1. Run composer using DEBUG=* yarn start
2. Create a new bot
3. eject the runtime, se

[2020-12-04 21:28] benbrown commented on #5137
This may have been a problem with my system, it seems to have resolved after I followed these instructions:

https://medium.com/flawless-app-stories/gyp-no-xcode-or-clt-version-detected-macos-catalina-anansewaa-38b536389e8d

[2020-12-04 21:28] benbrown commented on #5129
This seems to have been resolved by running the command described here:

https://medium.com/flawless-app-stories/gyp-no-xcode-or-clt-version-detected-macos-catalina-anansewaa-38b536389e8d

[2020-12-04 21:29] #5129 closed

[2020-12-04 21:29] #5137 closed

[2020-12-04 21:29] pavolum opened #5138 "Minor: Add tooltip documentation for properties of type 'list'"
## Is your feature request related to a problem? Please describe.
Minor issue when entering multiple values for a property with property type list. Intuitively I separate list values by a comma which leads to the red error border to appear around the property. Nothing in the UI indicates why the comma seperated list is erroneous or tell the user to add each item and click 'enter' to indicate a new

[2020-12-04 21:30] benbrown commented on #5128
This has been resolved in #5088

[2020-12-04 21:31] beyackle opened #5139 "[R11 Bug bash] Unable to generate form dialog"
## Describe the bug

I tried to use the Form Dialog editor to make a new form dialog. After setting it all up, I pressed the "Generate dialog" button and let it work. No new dialogs appeared in the project, but the console read `3 - *** Errors prevented generation ***` at the end of all of its logs about generating templates. There were no apparent errors in the console, and the files it generated

[2020-12-04 21:34] thomas-chung opened #5140 "[R11 Bugbash] Tree expand suggest expansion for bottom level items when it doesn't exist in Bot Responses and User Inputs panes"
## Description

When navigating the tree structure under the following pages:

- Bot Responses
- User Input

The individual dialogs in the tree suggest that it can be expanded/hidden and some nested organization can happen. However, when clicking on the item it does nothing except moving the arrow sideway/down.

Instead I think it should look more like what we show in QnA since right now it's more

[2020-12-04 21:36] thomas-chung commented on #5131
To add, this ended up hiding the "WelcomeUser()" response for the EchoBot since that response is in the common.lg but is referenced by the individual dialog.lgs.

[2020-12-04 21:36] xiyangdesign opened #5141 "Need more guidance on creating a form dialog"
![Screenshot 2020-12-04 at 13 30 40](https://user-images.githubusercontent.com/74994573/101217050-80fa8380-3635-11eb-9251-9c41cdce9f4c.png)

[2020-12-04 21:39] xiyangdesign opened #5142 "FORM DIALOGS, schema UI: "Done" button after "adding property""
![Screenshot 2020-12-04 at 12 46 54](https://user-images.githubusercontent.com/74994573/101217248-e2225700-3635-11eb-96e6-19a3d62635f9.png)

[2020-12-04 21:43] xiyangdesign opened #5143 "Status message needed after "generate dialog" is done"
![Screenshot 2020-12-04 at 12 50 02](https://user-images.githubusercontent.com/74994573/101217605-85736c00-3636-11eb-9302-90451eac9c3d.png)

[2020-12-04 21:43] pavolum commented on #5139
yeah I am also experiencing issues, once you generate a bunch of dialog directories are scaffodled but it does not actually generate the content files within them.
The resulting design view then does not look as expected according to the documentation.

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB3gAAAOvCAYAAAAujBVbAAAgAElEQVR4Aey9/dNV1Z326T/QVfPDPP3TVM1PXdNVU1MVk6cn3f30MzPVSc903ppo1M

[2020-12-04 21:45] xiyangdesign opened #5144 "FORM DIALOGS, schema UI: what does "priority" mean and how does it work"
![Screenshot 2020-12-04 at 12 52 47](https://user-images.githubusercontent.com/74994573/101217761-bbb0eb80-3636-11eb-8cae-16dfbd2898f9.png)

[2020-12-04 21:46] zxyanliu commented on #4911
This issue has been addressed via: https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.2.1-nightly.191674.827857c
Should I just close it?

[2020-12-04 21:46] #4911 closed

[2020-12-04 21:47] beyackle opened #5145 "Can't upload PDF to make knowledge base"
## Describe the bug

I downloaded a PDF and tried to make a QnA knowledge base from it, but despite the "Enter a URL or browse to upload a file" placeholder in the box, there's nowhere (e.g. a 'Browse...' button) to start browsing for a file.

## Version

nightly 191674-827857c

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [ ] Win

[2020-12-04 21:49] xiyangdesign opened #5146 "Maybe design a better connection from the "form dialog" view to "dialog design" view"
![Screenshot 2020-12-04 at 12 56 01](https://user-images.githubusercontent.com/74994573/101218038-35e17000-3637-11eb-9704-ea806e980bc7.png)

[2020-12-04 21:50] zxyanliu commented on #5145
I don't think it's supported.
See: https://github.com/microsoft/BotFramework-Composer/issues/5076

[2020-12-04 21:51] thomas-chung opened #5147 "[R11 Bugbash] Hooking up form dialog to trigger encounters "lg file [DialogName]-trigger not found""
## Describe the bug

Creating a new form dialog successfully created a bunch of new dialog in composer. However, when hooking up the dialog with a intent trigger encounters error looking like this:

"lg file SomeSimpleDialog-trigger not found"

## Version

                Bot Framework Composer

                Version:  1.2.1-nightly.191674.827857c
                Electron: 8.2.4

[2020-12-04 21:52] srinaath commented on #5145
@beyackle  thats a bad placeholder we have. It just supports from a URL

[2020-12-04 21:52] cwhitten opened #5148 "Form dialog generation is broken"
[code]

![Screen Shot 2020-12-04 at 1 52 01 PM](https://user-images.githubusercontent.com/1156704/101218424-e6e80a80-3637-11eb-8095-3cab2e7bbae5.png)

[2020-12-04 21:52] v-kydela opened #5149 "[R11 Bugbash] "Clear all" in form dialogs disables UI"
## Describe the bug

After clicked the clear all button, text input fields in Composer are disabled.

## Version

BotFramework-Composer-1.2.1-nightly.191674.827857c

## Browser

- [X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Go to a form dialog
2. Click on 'Clear al

[2020-12-04 21:53] mewa1024 opened #5150 "In Bot Project, root bot appears at the same level as the skills bots"
## Describe the bug

In the flow of creating a bot project and adding skills/bots, the hierarchy between the bot project, the root bot, and the skills/bots is unclear. I can't tell if the bot project is a thing, or if it's just UI concept for grouping of one bot and the other bots it calls. The tree UI makes it appear that the bot project is a thing that contains multiple bots, but the flow of cre

[2020-12-04 21:57] clearab opened #5151 "Forms UI clipping"
## Describe the bug

The forms UI layers over the "Required properties" label depending on screen size. See screenshot.

![FormsUI](https://user-images.githubusercontent.com/1139814/101218851-a50b9400-3638-11eb-8e61-b45b786215ae.PNG)

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

[2020-12-04 22:01] tsuwandy opened #5152 "The Welcome bot creation journey tip is a bit overwhelming for new user"
## Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/10739108/101219510-fe73c300-3638-11eb-8b58-207dca8441c4.png)

For each tip, there are multiple steps user has to remember.    Not sure if user can remember all 5 tips.   Also once onboarding is closed, can't remember where to access it back.  :-)

## Describe the solution you'd lik

[2020-12-04 22:06] thomas-chung opened #5153 "[R11 Bugbash] Where is the export schema?"
## Describe the bug

There is import schema on the form dialog UI, but where is the export so I can import?

## Version

                Bot Framework Composer

                Version:  1.2.1-nightly.191674.827857c
                Electron: 8.2.4
                Chrome: 80.0.3987.165
                NodeJS: 12.13.0
                V8: 8.0.426.27-electron.0

## Browser

- [x] Electron distribution

[2020-12-04 22:10] v-kydela opened #5154 "PROJECT TREE: add ability to delete multiple dialogs at once"
## Is your feature request related to a problem? Please describe.

A form dialog bug has revealed the need for deleting many dialogs at once: https://github.com/microsoft/BotFramework-Composer/issues/5148

While that issue will be fixed, there may still be a need to delete multiple dialogs without having to open the menu for each of them one at a time.

## Describe the solution you'd like

Dialogs

[2020-12-04 22:13] xiyangdesign commented on #5135
Also applies to other ...ing, e.g. "generating dialog", "publishing", etc. Sometimes it takes time, other times, it's broken. Users shouldn't need to wait for so long to get the results.

[2020-12-04 22:19] thomas-chung opened #5155 "Use common file selection dialog between "Import Schema" and "Open" project"
## Describe the bug

Opening a project gives us this beautiful UI where we can navigate the directory. However, "Import Schema" in Forms takes us to the OS native file picker. Perhaps we should align them to give user better experience.

## Version

                Bot Framework Composer

                Version:  1.2.1-nightly.191674.827857c
                Electron: 8.2.4
                Chrome:

[2020-12-04 22:26] taicchoumsft commented on #5126
The workaround is to create a new "Intent Recognized" trigger before switching the dropdown to 'Orchestrator'.

Given how many people brought this up at bugbash, we should consider perhaps leveraging the diagnostics work now to show a warning instead of using a popup to prevent user from submitting an empty LU file.

[2020-12-04 22:27] thomas-chung opened #5156 "[R11 Bugbash] We shouldn't have an Edit->Undo menu if it isn't universally applicable throughout the app"
## Describe the bug

There is an "Edit" -> "Undo" in the top level menu. However that only applies whatever that was entered into the text box last. It doesn't undo anything else in the UI around the WSYIWYG editor for the dialogs, etc. I assume undo also works in the "Show Code" mode since it is essentially a multi-line text box.

Should we even expose that if Undo is not universally supported th

[2020-12-04 22:32] v-kydela opened #5157 "[R11 Bugbash] "Generate dialog" is available in actions menu before main button is enabled"
## Describe the bug

When creating a form dialog, you are unable to generate the dialog from a form until the form is in a valid state. However, there are two ways to generate the dialog, and they each have a different idea of when the form is valid.

## Version

BotFramework-Composer-1.2.1-nightly.191674.827857c

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [

[2020-12-04 22:34] hatpick commented on #5148
Duplicate #5146

[2020-12-04 22:35] mewa1024 opened #5158 "Form dialogs, the Bot Responses (all up LG) page is not rendering "sections" in the LG files"
## Describe the bug

The LG files contain sections using >> notation. They are not appearing in the LG section.

## Version

v1.2.1-nightly.191674.827857c

## Browser

- [x] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [x] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Create a form.
1. Generate a dialog.
1. Navigate to

[2020-12-04 22:50] scheyal opened #5159 "[R11 bugbash] Export for small project takes 11 seconds until file dialog shows up"
## Describe the bug

There's a large delay (measured 11 seconds) between the point at which i click on export as zip, until file dialog shows up.

## Version

## Browser

- [ X] Electron distribution
- [ ] Chrome
- [ ] Safari
- [ ] Firefox
- [ ] Edge

## OS

- [ ] macOS
- [X ] Windows
- [ ] Ubuntu

## To Reproduce

Steps to reproduce the behavior:

1. Click on export as zip on root dialog
2. wait

[2020-12-04 22:53] scheyal commented on #5159
Just found out that my solution contains > 5K items, which means all of node is imported over.
Not sure how I got there, and if no one else experiences that ok to close.

[2020-12-04 22:56] beyackle commented on #5131
I've got a fix for this I'll be putting into a PR soon.

[2020-12-04 23:10] daveta opened #5160 "Intro help tour bubble placements"
Low Pri:
- Just installed Composer, and really liked the tour intro.
- I like it went over major concepts and how they related.

- It states "Add a welcome message" and then gives detailed steps on how to do this.  It would be good to be able to have a link, so you could open up the instructions in a separate window.  In the tour, you click next and you kind of lost your guidance.

![image](https:

[2020-12-04 23:55] dmvtech commented on #5106
I am unable to reproduce this issue. Although I _am_ hitting this one: https://github.com/microsoft/BotFramework-Composer/issues/4582

Are you able to debug? Can you see what gets sent in the output/console? One way to do so is; close Composer (you can keep Emulator open), navigate to your `runtime` folder, then run `dotnet run --project azurewebapp`. When it's up and running, start a new conversa

[2020-12-04 23:56] zxyanliu opened #5162 "Create QnA Maker knowledge base by importing URL issue"
## Describe the bug

Was unable to create a QnA Maker knowledge base by importing URL.

## To Reproduce

Steps to reproduce the behavior:

1. Create QnA KB from template
2. Select QnA from Composer menu
3. Select Create new KB
4. Enter KB name and URL
5. Select View KB and URL was not loaded.
6. Enter QnA KB authoring key and Start the bot. The KB can be published to QnA portal with success, but t

[2020-12-04 23:57] cwhitten commented on #5145
closing in lieu of #5076

[2020-12-04 23:57] #5145 closed

[2020-12-05 00:03] dmvtech commented on #4582
I am hitting this as well. The only thing I can think of possibly contributing is that I did install a preview/nightly for the last bug bash, then rolled back to 1.2.1. Just a shot in the dark.

**bf plugins:list**

`@microsoft/bf-dialog 4.10.0-dev.20200730.3786d10`

[2020-12-05 00:19] #5139 closed

[2020-12-05 00:19] #5146 closed

[2020-12-05 00:19] #5147 closed

[2020-12-05 00:19] #5148 closed

[2020-12-05 00:25] cwhitten commented on #5126
Why would an empty LU file be a warning? I'd expect that you can have a recognizer selected with either no .lu or empty .lu's and it shouldn't break.

[2020-12-05 00:43] zxyanliu opened #5164 "Can we create a root bot from a QnA maker knowledge base template?"
## Describe the bug

Not sure if my understanding is accurate. This might be a bug.
Can we create a root bot from a QnA maker knowledge base template? If we can, what are the instructions?

## To Reproduce

Steps to reproduce the behavior:

1. Select **New**
2. Select **Create from knowledge base (QnA Maker)**
3. Enter a name and select **Next**
4. Can get an empty bot named QnASample but what am

[2020-12-05 00:43] cwhitten opened #5165 "Update allowedCallers behavior when working locally"
We currently expose all skills when built locally with allowedCallers ['*'], which is fine for local development, but places the security burden on users to manage this when deployed.

We can still avoid requiring Channel Registration & AppId/Password via some recent undocumented behavior of the SDK that will bypass allowedCallers entirely when running locally.

This change is to:

P0 - update all

[2020-12-05 00:47] cwhitten commented on #5102
re-opening. it worked fine on my machine!

[2020-12-05 01:05] JaskeeratBedi-cmk opened #5166 "Left navigation in home behaves differently"
When I open Composer for the first time, I see bot related icons in the navigation as disabled:
<img width="711" alt="Screen Shot 2020-12-04 at 4 56 59 PM" src="https://user-images.githubusercontent.com/67944302/101228749-e0ff2300-3651-11eb-8590-73829ca106a6.png">

However, when I tap on a bot and then come back to the Composer home, I see a different view where I can see the name of the bot in th

[2020-12-05 01:21] zxyanliu opened #5167 ""Show skill manifest" has double scroll bar"
## Describe the bug

![image](https://user-images.githubusercontent.com/32497439/101229500-6afcbb00-3655-11eb-9fdb-75e26ea4db35.png)

## To produce
1. Select **Show skill manifest**
2. See error

[2020-12-05 01:21] JaskeeratBedi-cmk opened #5168 "Icon over crowding in Bot menu"
The error icons that appear on Bot navigation hide the **more** icon.

<img width="207" alt="Screen Shot 2020-12-04 at 5 14 56 PM" src="https://user-images.githubusercontent.com/67944302/101229298-64ba0f00-3654-11eb-9305-faca281a083e.png">

## Version

## Browser

- [ ] Electron distribution

## OS

- [ ] macOS

## To Reproduce

Steps to reproduce the behavior:

1. Add a new skill to the bot proje

[2020-12-05 01:26] JaskeeratBedi-cmk opened #5169 "Copy:: Bot or Skill???"
## Describe the bug
<img width="500" alt="Screen Shot 2020-12-04 at 5 22 49 PM" src="https://user-images.githubusercontent.com/67944302/101229494-6506da00-3655-11eb-9afd-a9ec3e9b82bf.png">

The fly out modal should have consistent messaging. If we are calling this a skill, we should make sure we do not interchange the terminology with bot. Also the copy can be improved in general.

Also, when I se

[2020-12-05 01:32] JaskeeratBedi-cmk opened #5170 "Cannot rename publishing profiles"
<img width="528" alt="Screen Shot 2020-12-04 at 5 29 45 PM" src="https://user-images.githubusercontent.com/67944302/101229702-6389e180-3656-11eb-9fda-77107a357aeb.png">

After I created a publishing profile and went back to edit it, I am unable to change the name. Though I can change the publishing target.

[2020-12-05 01:45] JaskeeratBedi-cmk opened #5171 "Bot- Dialog navigation view"
## Describe the bug
It was difficult to write and describe separately so I added comments in the screenshot!

[2020-12-05 01:55] JaskeeratBedi-cmk commented on #4905
I don't know what this is?! What does it mean to pull from a selected profile? Saw this in the lates Version and it needs more clarity .. @benbrown help?

[2020-12-05 03:06] #5131 closed

[2020-12-05 03:59] cwhitten opened #5172 "Local bot runtime manager needs to be hidden when a PVA schema"
We're not exposing the test module until their runtime supports connections from the Emulator.

[2020-12-05 11:20] Laktos commented on #5106
Improvement! The commant dotnet run --project azurewebapp made the custom action work without the error. It does however present the same issue after starting the bot through composer after closing the instance of dotnet run.

[2020-12-05 11:26] Laktos commented on #5106
Okay I figured it out.. The custom runtime wasn't referenced in the config. This has been a bit problematic in git however as it seems to keep the local reference instead of refering to the local machine it is being run on. But it does work now!

[2020-12-05 12:51] alevinetx commented on #4936
I was thinking about the implementation as an available function, and trying to understand how I would use it and find a balance of flexibility, composition, and coupling.

If the regex parser is an inlined function, an idea:  `=regexParser([pattern], [source string], someFunction(...))` where `someFunction()` has a scoped access to any named groups in `[pattern]`.

However, if having to use it as

[2020-12-05 12:56] marktab commented on #4262
Thanks @Danieladu

[2020-12-05 13:28] cxbuilders commented on #4935
@yeze322 Having the menu in a custom trigger that can be reused would reduce the overview in a dialog quite a bit.

It would be great to have the possibility in Composer to create Custom Actions with custom UI like switch, loop etc. This would also allow me to build a For Loop myself as requested in #4862
I have more things where I could be using that fir, like Async loading of data etc...

[2020-12-05 13:32] cxbuilders commented on #4959
@cwhitten Where can I find the Early Adopters feed? If you need a sample project I can send you one that experiences this. let me know.

[2020-12-05 13:54] dinirichard opened #5173 "Publish the Node.js/Javascript code to azure functions"
How do I publish the Node.js/JavaScript  code from Composer. Whenever I publish to azure it sends the dotnet configurations, but my web app(azure functions) is configured for Node.js.

[2020-12-05 15:35] cxbuilders opened #5174 "Make LG entered in flow language independent"
When multiple languages are enabled in Composer, currently any edits made to LG content in the flow are stored for the selected language only. As for us (and I guess many others), LG content is an integral part of the flow itself (and not just language), this means that any small change needs to be copied over to all other languages.

Any language specific LG I predefine myself in the Common LG fi

[2020-12-05 15:45] BartH2020 opened #5175 "QNA File missing"
When you set another default language e.g. nl-nl no QNA file are generated in the knowledgebase folder.
This results in an error message when you add for example a new dialogue.

To reproduce the bug do the following.
- Add a new language in settings.
- Make the new language the default language.
- Remove English as a language
- Go to the designer and add a new dialogue
- Name the new dialogue and

[2020-12-05 18:06] mareekuh commented on #4905
Assigning to @sangwoohaan - @sangwoohaan  please explain to @JaskeeratBedi-cmk  so she can add this to the menu UI architecture.

[2020-12-05 18:22] hcyang commented on #5175
Chris, by default en-us language, an empty QnA file is generated under a bot's knowledge-base\en-us folder, but the user expect to see a similar empty file when the language setting is changed to something else. Please reassign to a dev for further investigation.

[2020-12-05 18:24] hcyang commented on #5174
@cwhitten, this looks like a feature request.

[2020-12-05 18:27] hcyang commented on #5173
Hi @jwiley84, please find a support engineer and try to repro. Thanks.

[2020-12-05 18:33] hcyang commented on #5111
Hi @jwiley84, it looks like @tannguyen3 needs help iterating a Carousel object.

[2020-12-05 18:40] hcyang commented on #4994
@jwiley84, any update?

[2020-12-05 18:41] hcyang commented on #4922
@dmvtech, can you respond to @likith3611's comment 11 days ago? Thanks,

[2020-12-05 20:32] zxyanliu opened #5176 "[Minor] Separator b/w Start all bots button and the panel button"
## Describe the bug

![image](https://user-images.githubusercontent.com/32497439/101262718-933bf680-36f5-11eb-9959-2ef6b9edcd27.png)

Windows/Bugbash electron version

## Expected behavior

Consider making the separator detached from the panel button.

[2020-12-05 20:42] zxyanliu opened #5177 "Calling a remote skill gets 401"
## Describe the bug

Connect to a remote skill get 401.

R11 bugbash electron / Windows

## To Reproduce

Steps to reproduce the behavior:

1. Connect to a remote skill
2. Update the appID and password of the root bot
3. Start the root bot
4. See error

## Screenshots
### 1.
   ![image](https://user-images.githubusercontent.com/32497439/101262871-7fdd5b00-36f6-11eb-84e8-408fd3402caa.png)

### 2.

[2020-12-05 20:48] zxyanliu opened #5178 "Unable to edit a skill manifest"
## Describe the bug

Select to edit a skill manifest, but cannot edit the manifest.

R11 bugbash electron / Windows

## To Reproduce

Steps to reproduce the behavior:

1. Select the hamburger menu of a skill bot
2. Choose **Create/edit skill manifest**
3. Attempted to edit the skill manifest file but cannot

## Screenshots

![image](https://user-images.githubusercontent.com/32497439/101263120-cb44

[2020-12-05 20:58] zxyanliu opened #5179 "Bot name shows in the LUIS name field"
## Describe the bug

The bot/skill names are shown in the **LUIS name** fields of the **Project Settings** page.

## To Reproduce

Steps to reproduce the behavior:

1. Create a bot from the template
2. Navigate to the **Project Settings** page
3. Under **External services** section, see the name was auto-filled in the **LUIS name** field.

## Screenshots

![image](https://user-images.githubusercon

[2020-12-06 06:31] boydc2014 commented on #5126
yes, that should not a warning, i was talking to Leilei on Friday this, haven't get time with Tai to confirm why the limitation is there at the beginning. Will do soon.

[2020-12-06 06:32] boydc2014 commented on #5102
I will verify this soon.

[2020-12-06 06:33] boydc2014 commented on #5102
Yes, I guess something wrong with my previous settings.

[2020-12-06 11:49] narulasrinivas commented on #5008
@dmvtech - Thanks for responding. I checked keys and everything looks good to me. After spending lot of hours to understand and resolve it, none of the solution worked for me.

I did same steps on another laptop, it worked fine.

[2020-12-06 11:50] narulasrinivas commented on #5008
@negativeeddy - Even I'm experiencing same issue along with above issue.

[2020-12-06 11:53] narulasrinivas commented on #5179
@zxyanliu  - Which version of BOT composer you're using? I'm on v1.2.1

[2020-12-06 18:46] selvaduraiece opened #5180 "Bot composer - Unable to Begin new Dialog after Cancel All active dialog"
I am using Bot composer.  My case is simple.
I want to Cancel all active dialog and begin new dialog. I am not sure why this is not happening with the emulator.
![error1](https://user-images.githubusercontent.com/40558980/101289206-0aba7480-3821-11eb-8bb4-9ed73433e1a1.png)

[2020-12-06 19:02] hcyang commented on #5104
Hi @Zerryth, any update?

[2020-12-06 19:12] hcyang commented on #4814
Hi @hibrenda, any update on backlogging or a planned fix? Please take an action and drive to close this issue. Thanks.

[2020-12-06 19:13] hcyang commented on #4758
Hi @garypretty, can this issue be closed with more info replying to @cxbuilders ? Thanks.

[2020-12-06 22:59] tannguyen3 opened #5181 "[lu file] Failed to tie phaselist as a feature for an intent"
## Describe the bug
I've follow this article to [use phaseList as a feature for an intent](https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lu-file-format?view=azure-bot-service-4.0#tie-features-to-a-specific-model).
But the bot can start with below error:
This is content of .lu file:
[code]

![image](https://user-images.githubusercontent.com/10743872/101295620-5f8bca00-3

[2020-12-07 00:15] cwhitten commented on #5179
@zxyanliu this is by design, but to avoid the confusion lets change the label to say "LUIS application name" instead of "LUIS name". This allows a user to configure the application information Composer creates in the LUIS portal. cc @liweitian

[2020-12-07 00:18] #5085 closed

[2020-12-07 00:18] #5128 closed

[2020-12-07 05:22] #4999 closed

[2020-12-07 05:38] hibrenda opened #5182 "need to restart several times to start bot and error string is truncated on the pop up"
## Describe the bug

- create a luis+qna bot (1 luis intent trigger + two qna kbs)
- click start bot can still hit following error
![image](https://user-images.githubusercontent.com/43408889/101313271-ce266180-3890-11eb-84f7-86db70e59174.png)

- Workaround: restart 3 times can finally be successful
- Issue need to be fix : error message showed on the pop up window is truncated .
- Expected results

[2020-12-07 05:46] luhan2017 opened #5183 "START BOTS CONTROL: all bot can't be started when there is error in bot project"
## Describe the bug

I have a bot project which includes three bots, one is echo, one is luis and the other is qna, I didn't assign luis and qna keys in this bot project so, I got error for luis and qna bot.

I can start the echo bot here, but I can't expand the bot menu on the right side, so I can't try the echo bot in emulator.
![image](https://user-images.githubusercontent.com/32191031/10131388

[2020-12-07 06:47] zxyanliu commented on #5179
I see, thanks for the clarification.
"LUIS application name" makes more sense.

[2020-12-07 06:52] zxyanliu commented on #5179
Hi, FYI. I used [v1.2.1-nightly.191866.90ec7cc](https://github.com/microsoft/BotFramework-Composer-Nightlies/releases/tag/v1.2.1-nightly.191866.90ec7cc)

[2020-12-07 06:54] zhixzhan commented on #5164
My understanding is yes.
Like other bot created from template, it can be a root bot of several skill bot, or a single bot enabled QnA.

[2020-12-07 07:07] feich-ms commented on #5073
I checked my logs of successful launch(See below), it seems above exception was thrown from here **composer:electron-auth-provider Initialized** because this message was not logged above. We will find some guys who are familar with this area to investigate it. Will keep it posted when there are any findings. Thanks for your patience. BTW, @gbelenky it would be helpful if you have another machine o

[2020-12-07 07:16] luhan2017 commented on #5122
@benbrown , I don't know how to reproduce this issue, but I assume the fix is,
1. rename MultipleDialog.schema to MultiplyDialog.schema.sample
2. ask user to rename back it they want to enable custom schema in the doc
Is this your expected fix?
I am not quite understand this: "This does NOT happen if I first start the bot." How can I reproduce this issue?

[2020-12-07 07:20] feich-ms commented on #5181
Hi @tannguyen3, thanks for your feedback. I just checked your case, there is indeed an issue here. But the work-around solution is also simple, just change your `phraseList` to `phraselist` in your definition line of `@ phraseList  ticket(interchangeable) =`. In the future, we will make it case insensitive, created a ticket to track this https://github.com/microsoft/botframework-cli/issues/1068.

[2020-12-07 07:21] feich-ms commented on #5181
I think we can close this ticket in composer side since it has an easy and efficient work-around solution for users.

[2020-12-07 07:41] luhan2017 commented on #4847
This seems not an issue any more, so close this, please reopen if needed.

[2020-12-07 07:41] #4847 closed

[2020-12-07 07:44] luhan2017 commented on #4773
@BeheraMadan did this answer your question? any update on this?

[2020-12-07 08:07] zhixzhan commented on #5162
Hi @zxyanliu, extracting QnA from url requires good HTML document format, if url source is web page.

I noticed the URL https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/troubleshooting
has some embed tab, even show/hide by JS code which is not be able to extract in `bf-lu` parser.

This whole page is extracted to one QnA pair:
<img width="980" alt="image" src="https://user-images

[2020-12-07 08:29] yeze322 commented on #5125
MarqueeSelection

[2020-12-07 08:46] liweitian commented on #5136
Based on my knowledge, a skill bot can be reused in other bot projects. So we should only delete root bot. @srinaath @clearab